[2020-09-15 18:00] #65028 closed

[2020-09-15 18:00] wylieconlon opened #77530 "[Lens] Synchronize cursor position for X-axis across all Lens visualizations in a dashboard"
## Description of feature

Users expect to use dashboards to compare their data interactively, such as by hovering over one chart and seeing the related charts update. This type of synchronized cursor has been supported by many parts of Kibana, but Lens has not supported this yet. It's currently supported in TSVB, Stack Monitoring,

One example is in the **Stack Monitoring** application, where eac

[2020-09-15 18:00] elasticmachine commented on #77530
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 18:03] elasticmachine commented on #77398
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 18:04] pgayvallet commented on #77522
@legrego either approach is fine with me. I can do this from within the SO result provider, just need to know which security API I should be using?

[2020-09-15 18:04] wylieconlon commented on #77398
Renaming this issue based on my understanding of the request. "Starting position" was not clear to me.

[2020-09-15 18:08] nyurik opened #77532 "[Vega] Support minWidth & minHeight"
**Describe the feature:**
Vega has two graph sizing modes: size provided by container (`fit` model, used by default in Kibana), and set by the graph itself (using width/height). For the later, the scrollbars should appear if the graph is bigger than the provided container space.

I would like to propose a hybrid mode:  the graph should be able to specify the minimum size (as hardcoded pixel size),

[2020-09-15 18:10] elasticmachine commented on #72098
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 18:15] wylieconlon commented on #42595
@AlonaNadler @cchaos The current state of this issue is unchanged in about a year. Do you think the current behavior is good enough that we can close the issue? The current state is that when switching to a new index pattern, any non-matching fields are removed without warning. This issue was describing how instead of showing no warning, we would want to show a warning.

[2020-09-15 18:16] elasticmachine commented on #77532
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 18:18] elasticmachine commented on #42595
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 18:28] wylieconlon commented on #72504
The main conclusion I'm seeing here is that we should transition to DataGrid. Going to change this from a discussion to tech debt.

[2020-09-15 18:31] #73848 closed

[2020-09-15 18:41] cjcenizal commented on #57656
@roberto-d @ashbrener I think there may be a valid bug here involving the need for the Upgrade Assistant to ignore some settings like `index.resize.source.uuid` during the reindex, but I'd like to clarify a couple details that are confusing me. It sounds like the steps taken here were:

1. Upgrade from 6.8 to 7.5
2. Shrink indices via ILM
3. Reindex the indices with Upgrade Assistant 8.0

What con

[2020-09-15 18:42] joshdover commented on #72680
To answer the "where should we capture this data" question, I think it makes sense at this point to consolidate the feature catalog registry with app registration. They're intrinsically linked and it would allow the application GS provider to use the same data source for both sets of items.

One tricky aspect is that for applications like Stack Management and Dev Tools which allow other plugins to

[2020-09-15 18:55] jasonrhodes commented on #72629
Adding some thoughts here as we continue this work:

* I don't think the column configuration that users set up for their Logs UI makes sense to use in other places in the app, so I think/agree that we need to de-couple this shared component from that.
* I think we should always be driving people back to the logs UI when this component is used, so I think default actions of "view in logs UI" and "

[2020-09-15 19:01] ryankeairns commented on #72680
Adding to that, @alexfrancoeur has been pushing for removal of the directory page altogether. It is no longer up to date, for one, and there are suspicions that it is used infrequently. We need to confirm, but that is likely the direction we are headed with that page.

[2020-09-15 19:10] roberto-d commented on #57656
Thanks cjcenizal,
I'll try to clarify my case: the upgrade from 6.8 to 7.5 went well, no surprises.
With the cluster on 7.5, indexes created with 6.8 or earlier were re-indexed and shrunk with an ILM policy.
To test the future, we tried to prepare the cluster for ver.8 , using the migration assistant: indeed, it was reindexing while still on 7.5, but for the shrunk indices the reindexing failed wi

[2020-09-15 19:21] elasticmachine commented on #77434
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-15 19:29] tsullivan commented on #68718
Replaced this issue with: https://github.com/elastic/kibana/issues/34377

[2020-09-15 19:35] kibanamachine opened #77540 "Failing test: Creates and activates a new threshold rule - Detection rules, threshold Creates and activates a new threshold rule"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8177/)

[2020-09-15 19:35] kibanamachine commented on #70757
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8177/)

[2020-09-15 19:35] elasticmachine commented on #77540
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-15 19:35] kibanamachine commented on #70757
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8177/)

[2020-09-15 19:46] bhavyarm opened #77542 "(Accessibility) Try the new ingest manager message block needs a11y tests"
We have our home (under xpack) a11y tests here - kibana/x-pack/test/accessibility/apps/home.ts
They are missing a11y test for "try the ingest manager block".

<img width="1792" alt="Screen Shot 2020-09-15 at 3 20 20 PM" src="https://user-images.githubusercontent.com/7074629/93257083-51d92200-f76a-11ea-8bd2-2b499bd2b6ee.png">

[2020-09-15 19:47] elasticmachine commented on #77542
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-09-15 20:02] AlonaNadler commented on #72504
Do we need to do it for Lens default?

[2020-09-15 20:03] elasticmachine commented on #77437
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-09-15 20:03] pgayvallet commented on #77437
cc @myasonik

[2020-09-15 20:17] myasonik commented on #77437
Fixed in https://github.com/elastic/kibana/pull/77429

[2020-09-15 20:17] #77437 closed

[2020-09-15 20:38] wylieconlon commented on #72504
@AlonaNadler My opinion is that this is not needed for Lens by default because this is an incremental improvement. The only table-related feature we have for Lens by default is the ability to sort the columns, and that's something that can be done with both tables.

[2020-09-15 20:50] sambart19 opened #77548 "Triple quote for multiline script fails in JSON input"
**Kibana version:**
7.4.2

**Elasticsearch version:**
7.4.2

**Browser version:**
Chrome latest

**Describe the bug:**
Adding triple quotes to a script in the visualization page immediately breaks the script.

**Steps to reproduce:**
1. Write any functional script in the visualization page
2. Replace the quotes in the source with triple quotes and it will fail.

**Expected behavior:**
Triple quote

[2020-09-15 20:54] wylieconlon commented on #72437
This issue is going to need a technical investigation of what's possible so that we can present tradeoffs.

[2020-09-15 20:55] wylieconlon commented on #69638
This can be done with a small amount of code, so I think it's a good candidate for fix-it-week.

[2020-09-15 20:58] Zacqary commented on #73962
This gives me the bucket size but I'm not sure how to get the time range from this? Should a 1 minute `metricset.period` mean 1 hour of history data, or 24 hours? Should a 24-hour period mean 1 week or 1 month? I'll implement this with some assumptions but I'll need guidance on what time ranges to actually use.

[2020-09-15 21:02] sqren opened #77549 "Alerting: Improve dropdown UX"
A normal dropdown require a total of **2 clicks** for making a change:
 - 1 click to open the dropdown
 - 1 click to select an item and close it

_Example: ordinary dropdown:_
<img src="https://user-images.githubusercontent.com/209966/93262920-5111b180-f7a5-11ea-991b-5b9f09b96dd6.gif" width="500">

The dropdown in alerting requires a total of **5 clicks** for making the same change:
 - 2 clicks to

[2020-09-15 21:13] tylersmalley commented on #77285
This was actually released starting with 7.9.0 - let me look into why it's not showing up on the download page.

https://artifacts.elastic.co/downloads/kibana/kibana-7.9.1-linux-aarch64.tar.gz

[2020-09-15 21:29] mattkime commented on #77338
@kin122 I'm having trouble navigating baidu to download the har file. Can you find another way to post it?

[2020-09-15 21:51] ihrytsyuk opened #77553 "[Vega] Vega input signals cause vertical scrolling in dashboards"
**Kibana version:** 7.9

**Browser version:**
Google Chrome	85.0.4183.83 (Official Build) (64-bit) (cohort: 85_83_Win)

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic cloud

**Describe the bug:**
Vega visualization with Vega Signals are always rendered with vertical scrollbar on Kibana Dashboard.

On **Google Chrome	85.0.4183.8

[2020-09-15 21:55] spong commented on #76592
For this core issue, we'll be removing the `attach as reference` functionality of saved queries so that it matches the behavior of the `load query from saved Timeline` feature (one time load of query on rule creation). This essentially removes the need for the `saved_id` field, and as a result, could change the behavior of existing rules on when users update, so we'll need to call this out in the

[2020-09-15 22:08] sqren commented on #66095
Right now a user is greeted with a blank text area which in itself can be daunting. If the user just wants to setup a few alerts quickly they shouldn't be forced to spend time composing the perfect message.

Having an existing message will also make it much easier for users to discover the relevant variables. Currently it is hard to find the relevant variables in the dropdown, and afaict there are

[2020-09-15 22:27] #75312 closed

[2020-09-15 22:29] spong opened #77559 "[Security Solution][Detections] Threshold Rules Investigate in Timeline action does not include KQL filters"
The `Threshold Rules` `Investigate in Timeline` action does not include KQL filters, which can result in additional events being shown in the timeline that weren't actually in the bucket that resulted in the alert being created.

e.g.

`Threshold Rule` created via the `import query from saved timeline` feature, which includes a query string, KQL filter, and two timeline data providers, which are a

[2020-09-15 22:29] elasticmachine commented on #77559
Pinging @elastic/siem (Team:SIEM)

[2020-09-15 22:35] kevinlog commented on #77133
I tried this:

-------------------
#### Reproduce locally
1. Try reproducing locally (local ES, local Kibana)
2. Everything works as expected, transform runs, Endpoint UI works ✅

--------------------
#### Reproduce locally by connecting local Kibana to Cloud ES
1. Created a cloud instance in staging, 8.0
2. Connected my local Kibana to the remote ES in cloud
3. Opened Ingest
4. Got the same error

[2020-09-15 22:46] tylersmalley commented on #77285
The download page has been updated https://www.elastic.co/downloads/kibana

[2020-09-15 22:46] #77285 closed

[2020-09-15 23:09] #74716 closed

[2020-09-15 23:26] thomasneirynck opened #77562 "[Maps] Refreshing the page causes loss of unsaved changes"
**Kibana version:**

master

**Describe the bug:**

Refreshing the page does not show the "are you sure?" dialog

**Steps to reproduce:**

- Go to maps
- create a map
- save
- make some edits in some layers
- refresh page (ctrl-f5)

-> the map refreshes

**Expected behavior:**

A dialog pops up askign the users to confirm or cancel out of the refresh

**Any additional context:**

This is likely a

[2020-09-15 23:27] elasticmachine commented on #77562
Pinging @elastic/kibana-gis (Team:Geo)

[2020-09-15 23:29] tsullivan commented on #76601
I take this to mean that this is the error which causes these failure in the Watch history:
[code]

That tracks me to these lines of code in Elasticsearch: https://github.com/elastic/elasticsearch/blob/7.4/x-pack/plugin/watcher/src/main/java/org/elasticsearch/xpack/watcher/notification/email/attachment/ReportingAttachmentParser.java#L255-L264

From what I can tell, your Kibana instance is not able

[2020-09-15 23:36] rashmivkulkarni commented on #76177
@timroes  - can you please help here . Thank you

[2020-09-15 23:36] hbharding commented on #65761
Hi @Zacqary - your description and conclusion makes sense to me. There needs to be a way to define a custom metric from within the alert flyout. Ideally we can find a way to reuse some of the code from our custom metric builder since the form is very similar. We can provide a toggle in the "metric" popover that allows the user to define a custom metric.

**Mockup:**

![image](https://user-images.g

[2020-09-15 23:36] kibanamachine commented on #70757
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8181/)

[2020-09-15 23:45] tylersmalley commented on #70757
Skipped

![image](https://user-images.githubusercontent.com/40265/93275847-dfb90b00-f772-11ea-9e04-f2594b7864b0.png)

master: 0752de7b1091cebb250ff2519a8631555abde47e
7.x: 7fff3a5eb6cf25caa8613d0514b4f1aa2d343660

[2020-09-15 23:50] lukeelmers commented on #73993
PR is up: https://github.com/elastic/kibana/pull/77564

[2020-09-15 23:53] lukeelmers commented on #55140
I opened https://github.com/elastic/kibana/pull/77564 which should remove the last usage of the legacy `/elasticsearch/_msearch` API.

At this point the only place we are using msearch is in the legacy "Default" search strategy when `batchSearches` is enabled, however we are calling it via a custom `/internal/_msearch` route.

So to resolve what's left in this issue, I believe we need to:
1) Remov

[2020-09-16 00:46] kibanamachine opened #77567 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/lens/existing_fields·ts - apis Lens existing_fields apis existence should find which fields exist in the sample documents"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8112/)

[2020-09-16 00:46] elasticmachine commented on #77567
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-16 00:52] jfsiii commented on #77133
Sorry for the short message now, but I don't have much time until tomorrow.

I added a bunch of logging in the install path (mostly `server/services/epm/packages/install.ts`) and did the "local kibana + cloud es" setup. Here's the log I got from setup

<details><summary>install failure</summary>

[code]
</details>

[2020-09-16 02:27] nnamdifrankie commented on #77133
@jfsiii
From your logs the transform for version 0.16.0.dev.0 already exist before the transform install is called

[2020-09-16 02:27] kin122 commented on #77338
[kibana7.9_Archive [20-09-15 16-42-19].zip](https://github.com/elastic/kibana/files/5229247/kibana7.9_Archive.20-09-15.16-42-19.zip)
sorry, i didnt notice the "attach files" button ,here is the file.

[2020-09-16 05:16] ohjeongmin opened #77572 "how can I change kibana ui using open source?"
Hi everyone!
I've one big problem with kibana. I reallllllly need help...
I wanna add a my custom manu on kibana (using git open source).
like when I click that menu button, a new ui window pops up!

I downloaded kibana source v7.8.1 and
I use elasticsearch v7.8.1 basic model provided by Elasticwebsite using .bat file

I really have no idea how can I start fix those codes..
help me T-T(crying)

I'

[2020-09-16 05:33] matschaffer opened #77573 "[APM] Service map not scoping to selected environment"
**Versions**
Kibana: 7.8.1
APM Server: 7.8.1
Elasticsearch: 7.8.1

We have a shared APM deployment for all developer environments (each dev env is network isolated from the other), but I'm seeing the top level service map showing services from other people's environments (me and @lloydmeta here).

![Screen_Shot_2020-09-16_at_13_23_26__1_](https://user-images.githubusercontent.com/690/93295839-ec98

[2020-09-16 05:34] elasticmachine commented on #77573
Pinging @elastic/apm-ui (Team:apm)

[2020-09-16 05:45] hendry-lim opened #77574 "[Maps] Maps solution layer does not support cross-cluster search indices"
**Versions**
Kibana: 7.10.0-SNAPSHOT
Elasticsearch: 7.10.0-SNAPSHOT

I have an index pattern with ID `apm-*`, but it points to `*:apm-*` index pattern.
The APM indices setting has also been configured with `*:apm-*` index pattern.
Would it be possible to use the index patterns defined in APM settings?

<details>
<summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/483

[2020-09-16 05:45] elasticmachine commented on #77574
Pinging @elastic/apm-ui (Team:apm)

[2020-09-16 06:23] darshakkakkad commented on #77398
I had added screenshots to support what I meant, but this works too 👍. I would like to clarify that by X-Axis I do not mean just having the Axis position on the right (as that is possible). I mean having the (0,0) be the right bottom corner instead of the left bottom corner. I hope I did not confuse further 😅

[2020-09-16 07:28] #64629 closed

[2020-09-16 07:32] formgeist opened #77577 "[Observability] Bug: Observability Alerts are not showing the alerts list on the Overview page"
Kibana version: master + 7.9

# Summary

I found an issue where we won't show the Metrics threshold alerts created from the Metrics app. If a user creates the threshold alert directly from within the Alerting UI, it will show up. So there must be a problem with the `consumer.id` or similar that makes the alert created in the Metrics app not show.

<img width="1690" alt="Screenshot 2020-09-16 at 09

[2020-09-16 07:32] elasticmachine commented on #77577
Pinging @elastic/apm-ui (Team:apm)

[2020-09-16 07:47] #76463 closed

[2020-09-16 07:59] flash1293 commented on #77530
That's pretty cool and I can imagine it being super helpful for complex dashboards. Does this work across partition charts / cartesian charts as well?

@elastic/kibana-app-arch Do you think UI actions are the right primitive to implement such a feature, or do we need a separate one?

[2020-09-16 08:29] flash1293 opened #77579 "Random "query timed out" toasts while using Kibana"
**Kibana version:** master

**Describe the bug:**

When navigating around Visualize/Dashboard, a "query timed out" toast is popping up from time to time. I didn't find a reliable way to reproduce it, but it should be fairly common when creating visualizations, adding them to the dashboard, filtering etc. (basically using Kibana like a regular user). It can never be matched to the current state of

[2020-09-16 08:29] elasticmachine commented on #77579
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-16 08:30] #74836 closed

[2020-09-16 08:36] formgeist commented on #77506
I would like to counter with another suggestion. We should define our own **service health** that factors in various data like alerts and anomaly severity in order to show the health status as we know it from our various implementations. We can certainly make this change for consistency, but we will lose the health indicator as it's designed today, which I don't think is the intention. If we want

[2020-09-16 08:40] #77332 closed

[2020-09-16 08:47] cauemarcondes commented on #77577
@formgeist can you confirm what's the `consumer` of this alert? The current implementation accepts consumer of these types:
[code]

[2020-09-16 09:18] katrin-freihofner commented on #77492
@chrisronline
I don't know. What does yellow stand for? When does it become yellow? And what is the difference compared to red? Maybe we don't even need a yellow state?

[2020-09-16 09:19] cauemarcondes commented on #77577
@formgeist there is a total of 213 alerts created, and on the Observability overview page we only request the first 20. AFAICT  there's no way to filter by the consumer when requesting the alerts..

[2020-09-16 09:30] #77185 closed

[2020-09-16 09:33] formgeist commented on #77577
@cauemarcondes OK, should we increase to fetch 500 alerts - is that going to make the alert box and/or the initial load heavier? I thought we were fetching 20 filtered results by `consumer.id`, perhaps I misunderstood at the time.

[2020-09-16 09:34] formgeist commented on #77577
My reasoning is that customers will create lots of alerts in various apps, so limiting it to 20 out of all alerts is not going to be enough. Unless there's a method to get a filtered results by `consumer.id`.

[2020-09-16 09:40] cauemarcondes commented on #77577
maybe @pmuellr can help with that. @pmuellr I call this API `/api/alerts/_find` to get the alerts, is it possible to filter by the `consumer_id`?

[2020-09-16 09:44] ppisljar opened #77588 "cleanup filters meta types and usage"
In https://github.com/elastic/kibana/pull/74352 types of `filter.meta` were changed to satisfy the requirement for filters to be serializable from:

[code]

to

[code]

there is a single usage of function on `filter.meta.value` here: https://github.com/elastic/kibana/blob/master/src/plugins/data/common/es_query/filters/get_display_value.ts#L46

it would be nice to completely remove the function fr

[2020-09-16 09:55] formgeist opened #77589 "[Uptime] Alert creation popover improvements"
Kibana version: master

# Summary

There's a few enhancements we can add to make the popover consistent with the other Observability apps.

- [ ] The title of the popover for alerts displays a generic "main panel" title. It should say "Alerts" like the button link that invoked the popover.
- [ ] The padding inside the popover looks off, compared to the default popover.

<img width="379" alt="Scree

[2020-09-16 09:55] elasticmachine commented on #77589
Pinging @elastic/uptime (Team:uptime)

[2020-09-16 09:56] meierfra-ergon opened #77590 "kibana does not start due to wrong permissions of optimize dir"
**Kibana version:** 7.9.1

**Elasticsearch version:** 7.9.1

**Server OS version:** CentOS-7

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
After installing kibana RPM on Centos 7 and starting it via _systemctl start kibana_, kibana does not start and logs the following error, seen via _systemctl status kibana_:
[code]

The problem is, that th

[2020-09-16 10:05] formgeist opened #77591 "[Observability] Consistent menu options utilizing the new header in Kibana"
# Summary

Kibana has introduced a new stacked header in Kibana and as a result, menu options can be placed in the secondary header bar along with the breadcrumb.

<img width="1707" alt="Screenshot 2020-09-15 at 14 53 47" src="https://user-images.githubusercontent.com/4104278/93212936-8c8b8c00-f763-11ea-960f-69ea027ac59b.png">

_Example from maps app_

# Solution

This means that we can place our

[2020-09-16 10:06] #77454 closed

[2020-09-16 10:06] formgeist commented on #77591
@elastic/observability-design Can I get your eyes on this before we start creating implementation issues for the respective dev teams?

[2020-09-16 10:24] katrin-freihofner commented on #77591
I think it is great. What comes to my mind is the inconsistent handling of the settings page that we have. It seems odd and I think we should take care of this in a follow-up issue.

[2020-09-16 10:25] katrin-freihofner commented on #77591
Also mentioning @ryankeairns so you are aware of this initiative.

[2020-09-16 10:26] katrin-freihofner commented on #77591
Related to https://github.com/elastic/kibana/issues/65787

[2020-09-16 10:38] chrisronline commented on #77492
@katrin-freihofner These states/colors come directly from ES: https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-health.html

The health pertains to the state of share allocation. A cluster with missing primary shards is bad, so that’s the red state. A cluster with missing replica shards isn’t immediately bad but it does limit the ability for the cluster to recover, so that’s

[2020-09-16 10:47] #74858 closed

[2020-09-16 10:50] majagrubic commented on #70650
I'm working on this now. Is the expectation that the "Cancel" button appears in all visualizations, or just when dealing with by-value visualizations? Ie. do we want to introduce it for the existing flow as well? @AlonaNadler

[2020-09-16 10:55] elasticmachine commented on #77588
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-16 11:00] jloleysens commented on #77006
Re-opening for now to hear back regarding 👆🏻 question

[2020-09-16 11:01] katrin-freihofner commented on #77492
Ok, I see. Then let's say exactly that:

Green -> Healthy
Yellow -> missing replica shards
Red -> missing primary shards

Also, if we have further information about what the user can do to get to a healthy state, we should add that too (for example in a tooltip).

[2020-09-16 11:28] formgeist commented on #48538
ICYMI I posted a suggested design for linking to the CSM app from APM UI. AFAICT we're enabling the CSM app in the upcoming release cc @drewpost? https://github.com/elastic/kibana/pull/77458#issuecomment-693289991

[2020-09-16 11:33] formgeist opened #77601 "[Observability] Consolidate Settings views in apps"
# Summary

APM, Metrics, Logs, and Uptime all have their individual Settings view related to each of the apps. Some of them look the same, but they're all different in each of their own ways. It'd be ideal to consolidate them into a Settings area that enables a shared Settings experience. The content should remain the same, but the presentation should be consistent.

<img width="1552" alt="Screens

[2020-09-16 11:33] formgeist commented on #77591
Yeah, I've opened a new issue https://github.com/elastic/kibana/issues/77601

[2020-09-16 11:33] ph commented on #75913
@jfsiii Can you take this over?

[2020-09-16 11:34] kibanamachine opened #77602 "Failing test: X-Pack APM API integration tests (trial).x-pack/test/apm_api_integration/trial/tests/service_maps/service_maps·ts - APM specs (trial) Service Maps Service Maps with a trial license /api/apm/service-map when there is data returns service map elements filtering by environment not defined"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8194/)

[2020-09-16 11:34] kibanamachine commented on #77602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8194/)

[2020-09-16 11:34] elasticmachine commented on #77602
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-16 11:39] kibanamachine commented on #77602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8193/)

[2020-09-16 11:39] kibanamachine commented on #77602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8193/)

[2020-09-16 11:52] walterra opened #77604 "[ML] Transforms: Consolidate edit/create form code"
The forms to create a transform in the creation wizard and the one in the flyout on the transform list to edit a transform at the moment use different approaches to state management and form validation. This issue is used to track progress on consolidation of that code as well as some other minor improvements to form validation.

- [ ] edit/create use same validators
- [ ] edit/create use same sta

[2020-09-16 11:52] elasticmachine commented on #77604
Pinging @elastic/ml-ui (:ml)

[2020-09-16 11:54] legrego commented on #76664
@azasypkin would you mind taking a look at this if you get some spare cycles?

[2020-09-16 11:55] azasypkin commented on #76664
Yep, it's on my list!

[2020-09-16 12:06] drewpost commented on #48538
@formgeist Great suggestion. Yes, that's correct. The app is going live with 7.10. There will be a name change (most likely to "User Experience" before launch though

[2020-09-16 12:07] besimorhino commented on #54343
This would be _very_ helpful for many infosec use cases. Attackers will do typo squatting or rename files to confuse defenders.

Typo squatting use case:
attacker registers m1crosoft.com (with the right font, you might not see the i/1 swap... most often this is with trickier homoglyphs)

The following makes a dead easy detect:
`-domain.name:"microsoft.com" AND domain.name:"microsoft.com"~`

File n

[2020-09-16 12:23] ghost opened #77605 "[Ingest Management]: User can save Fleet 'kibana' setting on Cloud with incorrect http protocol"
**Kibana version:**
Kibana: 7.10.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 7.10.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.10.0-SNAPSHOT on staging cloud environment https://staging.found.no/

**Description**
[Ingest Management]: User is able to save kibana cloud url with incorrect http

[2020-09-16 12:24] elasticmachine commented on #77605
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 12:26] rahulgupta-qasource commented on #77605
@muskangulati-qasource Please review the bug

[2020-09-16 12:31] muskangulati-qasource commented on #77605
Reviewed & assigned to @EricDavisX

[2020-09-16 12:31] streamich commented on #72637
After discussing this with @ppisljar we decided to park this issue for now and possibly come back to it later.

[2020-09-16 12:35] kibanamachine commented on #77602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8195/)

[2020-09-16 12:35] kibanamachine commented on #77602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8195/)

[2020-09-16 12:50] yevgenytrcloudzone commented on #56403
@mikecote I am trying to get Kibana Alerting to work with OpsGenie and (in opposed to Watcher) it does not seem to have support for REST request parameters. Is there a plan to provide an option to pass HTTP request parameters with the Kibana Alerting Webhook?
Hope that makes sense.

[2020-09-16 13:06] EricDavisX commented on #77605
this is borderline feature work / enhancement, but can also be seen as a usability bug - either way, the URL is correctly populated when first created by Fleet when Cloud instance starts up, if a user modifies it and its then wrong, the Fleet UI is not catching it.  We  can consider it a minor concern to contend with if we have time or if the field complains.

[2020-09-16 13:12] mikecote commented on #69006
cc @mdefazio ^

[2020-09-16 13:17] mikecote commented on #50256
Thanks @legrego, I've updated the title and description to better reflect the problem.

[2020-09-16 13:32] flash1293 commented on #76177
@rashmivkulkarni can you point to a branch where this happens? I'm not sure how to reproduce.

You mean you load Kibana in the browser, then change the permissions of the currently logged in user? If that's the case, that was never supported. You have to reload the browser so it can pick up changed permissions (or even better, log in as a separate user)

[2020-09-16 13:34] #77204 closed

[2020-09-16 13:43] mdefazio commented on #69006
We have @sqren , unfortunately I don't have an update on this piece at the moment.  We are working on the alert selection screen and we did recently update the conditions UI.  But the placement of those top fields is still the same.

I agree with your comments and layout.  I believe they align closely with the last iteration on this (though I still had the tags there and this mockup has the old co

[2020-09-16 13:45] hbharding commented on #77589
It looks to me like the first screenshot could be missing `panelPaddingSize="none"` on the EuiPopover.

A few other things worth considering:
- I'm wondering if the "Alerts" title is necessary in the 1st level of the context menu since it's the same text that the user clicks to activate the context menu. Feels a little redundant and adds an extra item the user needs to process. Logs and Metrics do

[2020-09-16 13:50] StefanSa commented on #5647
That's a bit sad, after **5 years** still no solution in this matter.
I can full agree with @pallavjha25,  that is a handicap to example Grafana.
In Grafana this is very easy. This is an important option for Kibana
@timroes @simianhacker and others, is there a time window when you can expect implementation?

Thanks for the good work to Kibana / ELK.

[2020-09-16 13:58] shahzad31 opened #77612 "[CSM Dashboard] Hide line points on page load dist chart"
Line chart in CSM Dashboard looks weird, it needs to be a simple line chart with no points on line

![image](https://user-images.githubusercontent.com/3505601/93347427-58809b80-f835-11ea-8371-3f7e2dc2c4c1.png)

[2020-09-16 13:58] elasticmachine commented on #77612
Pinging @elastic/uptime (Team:uptime)

[2020-09-16 14:06] polyfractal commented on #77214
Thanks for opening this @joshdover!  Lemme touch base with a few other ES folks to make sure we're all on the same page regarding this change, since it will affect a few different teams.  Will be back when I have more info :)

[2020-09-16 14:08] mtojek opened #77613 "[Ingest Manager] Assigning policy/config takes too long"
Hi,

@ycombinator and I are working on system tests for integrations. While debugging a basic use case with Apache logs, we identified an issue around assigning policy to the Agent:

[code]

The reason behind this is the timeout problem on the Agent side:

[code]

As it's important for the system tests to be quick and simple, the workaround like `xpack.ingestManager.fleet.pollingRequestTimeout: 60

[2020-09-16 14:08] elasticmachine commented on #77613
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 14:12] watson commented on #77469
I just had a chat with @legrego about this and we had the following thoughts:

- Waiting to 8.0.0 is probably the only sane thing to do.
- Before 8.0.0, we could use telemetry to measure unhandled promise rejections in the wild to see if these actually occur and possibly from which plugin.
- We might want to provide a flag for users to switch Kibana back to the old non-crashing behaviour if they r

[2020-09-16 14:16] gmmorris commented on #70851
We have just merged an [enhancement](https://github.com/elastic/kibana/issues/74858#issuecomment-688324039) designed to mitigate some of the issues raised by this issue.

# The Enhancement
The approach we chose was to migrate all alerts created prior to 7.10 into a legacy mode where RBAC is "dialed down" so that they can continue to run and execute actions after the upgrade without requiring any h

[2020-09-16 14:18] pgayvallet commented on #77114
Yea, that's it

I will open a PR to add these metadata to the GS application results this week. Then @myasonik will have to use it in the search bar results UI.

[2020-09-16 14:18] gmmorris commented on #70851
Following the enhancement we've merged into trunk (which will make it into 7.10), I am now closing this issue.
As far as the Alerting team is concerned the scenarios where old Alerts might stop working as part of the upgrade to 7.10 as expected and reasonable in the context of Alerting still being in Beta.

Please reopen this issue if there are any additional concerns. 🙏

[2020-09-16 14:18] #70851 closed

[2020-09-16 14:23] pgayvallet commented on #76897
Not allowing to override the response body from plugin interceptors is a voluntary, opinionated decision from the kibana platform API.

Can you add more details on the usage you would need this feature for?

FYI, the underlying http lib used is now an implementation detail. The platform will now longer expose 'direct' access to HAPI API (or any replacement we might be using in the futur).

[2020-09-16 14:29] emilygray0702 opened #77616 "Copy saved object in Spaces API not returning response according to documentation"
**Kibana version:** 7.8

**Elasticsearch version:** 7.8

**Server OS version:** CentOS 7 (Docker container)

**Original install method (e.g. download page, yum, from source, etc.):** official Elastic Docker images

**Describe the bug:** I used /api/spaces/_copy_saved_objects to copy a dashboard from the default space to another space. It returned with successCount 4 (I was only copying one dashboa

[2020-09-16 14:30] sqren commented on #73387
Closing due to inactivity.

[2020-09-16 14:31] #58591 closed

[2020-09-16 14:39] stacey-gammon commented on #69806
👍 closed by https://github.com/elastic/kibana/pull/76888

[2020-09-16 14:39] #69806 closed

[2020-09-16 14:46] jfsiii commented on #77133
I added some more `console.log`s and pushed those changes to [a branch](https://github.com/jfsiii/kibana/tree/77133-debug-setup-with-console.log/) if anyone wants to try.

Here's logs from two scenarios I ran

### local Kibana / Cloud ES (❌ like OP)

<details><summary>local Kibana logs  [1]</summary>

[code]
</details>

### local Kibana / local ES ✅
<details><summary>From scratch (no ES data): Kib

[2020-09-16 14:46] AlonaNadler commented on #70650
When coming from a dashboard it needs to show the cancel button.
The cancel button needs to show up in all editors (at least in Lens). When users create a new panel or when users open existing panels for editing they should see the cancel button.

[2020-09-16 14:51] EricDavisX commented on #77613
are we sure the policy isn't applied?  a lack of data may be related to a lack of activity on the host possibly?  I don't think we're not seeing this in manual usage or other e2e tests.  @mdelapenya has helped set up the Agent / Fleet e2e and he could help discuss our usage if desired.

[2020-09-16 14:52] elasticmachine commented on #77574
Pinging @elastic/kibana-gis (Team:Geo)

[2020-09-16 14:53] kertal commented on #77579
I also had this popup, no clear pattern, somehow it seemed they popup when I returned to a Kibana window after a while

[2020-09-16 14:55] elasticmachine commented on #77401
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-09-16 14:57] kibanamachine commented on #77401
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8197/)

[2020-09-16 14:58] arisonl opened #77623 "Alert types UX/organisation in the flyout"
As the alert types we support increase, the number of buttons in the create flyout increases too and that section of the flyout feels cluttered. We need a way to organise them per solution, make clearer to which solution each one belongs and more generally, improve the current UX.
![image](https://user-images.githubusercontent.com/5412240/93354647-e82e4600-f845-11ea-9d9c-f9efb0f27d2d.png)

[2020-09-16 14:58] elasticmachine commented on #77623
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-09-16 15:03] sqren commented on #77574
This looks like it's happening in the Maps app so adding the Geo team instead.

[2020-09-16 15:07] nchaulet commented on #77613
I do not thing the fleet checkin timeout is the issue here, the timeout is used in the checkin if there is no config change. If there is a config change the checkin will be immediate. If there is a config change the request will be the timeout duration.

[2020-09-16 15:08] jasonrhodes commented on #72656
Let's wait on this ticket until we see if the telemetry folks can help.

[2020-09-16 15:08] azasypkin commented on #76664
TL;DR: @sqren since you use the __same host__ for two two different Kibana tenants you need to isolate cookies between tenants as well (via `xpack.security.cookieName`). Same for `xpack.task_manager.index`.

---------------

As [RFC 6265](https://tools.ietf.org/html/rfc6265#section-8.5) mandates, cookies are shared across all the ports for the particular host:

Starting from 7.10 Kibana Security u

[2020-09-16 15:13] mtojek commented on #77613
In our setup everything is in place - in this case sample access logs. Once the filebeat picks the config and starts processing files it is matter of seconds.

[2020-09-16 15:13] joshdover opened #77624 "Adapt status page UI to 8.0 /api/status format"
https://github.com/elastic/kibana/pull/76054 introduces a query parameter to use a new format for the `/api/status` endpoint that drops many of the legacy concepts and fields. The Status Page UI code in core needs to be adjusted to use this new API format before 8.0.

We could also use this opportunity to split out Core service statuses from plugin statuses in the UI.

[2020-09-16 15:13] elasticmachine commented on #77624
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-16 15:16] #76688 closed

[2020-09-16 15:19] sqren commented on #76664
@azasypkin Ahh, okay. Thanks for investigating this. Good to know and sorry for the noise.

[2020-09-16 15:23] azasypkin commented on #76664
Nah, thanks for reporting and please report anything else that may seem confusing in the future! It's better to make sure that something works as expected than to miss a real bug.

I'm closing this one for now, but feel free to reopen if you're still experiencing issues.

[2020-09-16 15:23] #76664 closed

[2020-09-16 15:43] ph commented on #77613
as noted from @nchaulet the change should be immediate, I would be assuming the _action_store_ has indeed the latest config.

@michalpristas and @nchaulet can you pair on that issue.

@mtojet what is the delay that you are seeing?

[2020-09-16 15:44] azasypkin commented on #76223
__ACK:__ will be investigating that tomorrow.

[2020-09-16 15:45] legrego commented on #77522
After talking this over with Brandon, we don't have a great historical reason for the SOC wrapper to behave this way. We can update the wrapper to return only the subset of saved objects the user is authorized to see.

[2020-09-16 15:54] ThomThomson commented on #77505
After discussion with App Architecture, we have decided that option 3 is the best way forward.

In the future, when more 'dashboard first' specific features need a home, we may create a new plugin under the 'embeddables' domain, to store them all together. At that point we will be able to get to the fun part of deciding on what to name the plugin.

[2020-09-16 16:02] #57389 closed

[2020-09-16 16:03] justinkambic commented on #77589
I'm inclined to agree, I like it better with no title. It avoids redundancy.

I personally prefer to have icons for each of the items displayed, as I tend to zero in on the icon and look at the text if I need further information.

I am open to either of these alternatives as in practice the meaning is equivalent, but it's better to keep them synchronized. In my opinion, "Manage alerts" is more gen

[2020-09-16 16:04] jbudz commented on #39223
This is also happening for other bins, including the keystore.

[2020-09-16 16:04] mtojek commented on #77613
Here is a trace from the latest failed test run:

[code]

17:51:19 ~ 17:53:21 - we assumed that 2 minutes should more than enough.

For the second time:

[code]

17:55:50 ~ 17:57:49 - it passed just before timeout.

Here is another successful run:

[code]

As you see this one it's relatively quick.

[2020-09-16 16:09] nchaulet commented on #77613
@mtojek let me investigate a little more but looks like there is case I did not cover with config reassignment

[2020-09-16 16:11] wylieconlon opened #77632 "[data.search.aggs] Support for multi-terms aggregation"
Edit: This has now been implemented in Elasticsearch as a new aggregation called [`multi_terms`](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-bucket-multi-terms-aggregation.html).

For example, I want to be able to look at the **top 10 CPU usage across each container, on each host name, on each datacenter**. Because I only want the top 10 results, it's not pos

[2020-09-16 16:11] elasticmachine commented on #77632
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-16 16:11] ThomThomson commented on #70650
@AlonaNadler would it make sense to have the cancel button when coming from the visualize library too? And the cancel button would redirect back to the listing page?

[2020-09-16 16:16] wylieconlon commented on #55905
Because the Terms aggregation is the biggest cause of confusion in sorting, I think we might want to push for the ability to do multi-field terms aggs, which I've written up here: https://github.com/elastic/kibana/issues/77632

[2020-09-16 16:30] elasticmachine commented on #77616
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-16 16:31] stacey-gammon commented on #76377
Any update on this issue?  ES PR should be merged so it should be testable on master.

[2020-09-16 16:34] elasticmachine commented on #77616
Pinging @elastic/kibana-security (Team:Security)

[2020-09-16 16:35] pmuellr commented on #77616
Looking at the code, it does appear that the `successResults` is no longer returned - not sure if this is a doc error, or if the code should be returning this, but isn't anymore.

doc: https://github.com/elastic/kibana/blob/master/docs/api/spaces-management/copy_saved_objects.asciidoc

code:

https://github.com/elastic/kibana/blob/9079aca5b7b54f41380dc0059fc82931174a6077/x-pack/plugins/spaces/serv

[2020-09-16 16:39] legrego commented on #77616
Hi @emilygray0702,

The `successResults` array that you're looking for is not available in version `7.8`. The docs for `7.8` don't make reference to this: https://www.elastic.co/guide/en/kibana/7.8/spaces-api-copy-saved-objects.html

`successResults` was introduced via https://github.com/elastic/kibana/pull/75444, which is scheduled to be released with version `7.10`

[2020-09-16 16:39] elasticmachine commented on #77590
Pinging @elastic/kibana-operations (Team:Operations)

[2020-09-16 16:45] AlonaNadler commented on #66602
@StefanSa can you please elaborate how you plan to use this capability. Examples and more information will be appreciated

[2020-09-16 16:49] etwillbefine commented on #76783
I saw the same Behaviour on a Kubernetes Cluster using 7.9.1 Release. The root cause was a "file not found" error while Kibana was starting (tried to read non existing .crt file). Maybe you can find additional Information in your Kibana Logs as well.  The Status reported for the Pod was "OOMKilled". Once that error was fixed Kibana started successfully without OOM.

[2020-09-16 16:52] pmuellr commented on #77572
The primary way of extending the Kibana UI is to create new plugins, which can extend the existing UIs.

We have a number of examples available in the `examples` directory: https://github.com/elastic/kibana/tree/master/examples

Probably best to look through those, you'll get a sense for how to create a plugin, and what they can do.

Also note, we will have a new feature shipping in a future relea

[2020-09-16 17:06] spalger commented on #77401
@gmmorris It looks like this might be caused by an unnecessary timeout being set on https://github.com/elastic/kibana/blob/53a217540b1f20ed70817ab3e7c2873b3510eee2/x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts.ts#L387. Do you think we can just delete the timeout and use the default?

[2020-09-16 17:06] LeeDr commented on #76177
@flash1293 changing the roles of the logged in user is something we started doing in tests several months ago and has been very successful.  The `setRoles()` method refreshes the browser (unless you pass false to skip that step).
And in this case, the test sets the roles including a refresh of Kibana page and then navigates to the dashboard.
And in fact, Rashmi is reproducing the issue manually.

[2020-09-16 17:10] gimmic commented on #67270
Just came to look if there was an issue related to improving toasts after for the Nth time I spammed myself with toast errors on a dashboard.

It's really annoying to have to acknowledge each toast on a dashboard that can generate 10+ of them on a single syntax error query.

_**dismiss all**_ where are you?

[2020-09-16 17:18] spalger commented on #77401
My hunch is revealing my bias against people customizing the default timeouts without explanation, but based on the failure pattern in the last 2 weeks seems to indicate this was caused by something else:

![image](https://user-images.githubusercontent.com/1329312/93370006-0889e080-f805-11ea-83ec-865908583fc7.png)

6 failures across master and PRs, there doesn't seem to be a clear indicator which

[2020-09-16 17:19] dgieselaar opened #77645 "[CSM] E2E tests pass locally, fail on CI"
I'm running into CI errors for the CSM E2E tests, but I cannot reproduce them locally. See:
https://apm-ci.elastic.co/blue/organizations/jenkins/apm-ui%2Fapm-ui-e2e-tests-mbp%2FPR-73953/detail/PR-73953/10/tests/

[2020-09-16 17:19] elasticmachine commented on #77645
Pinging @elastic/uptime (Team:uptime)

[2020-09-16 17:20] #62459 closed

[2020-09-16 17:20] #67744 closed

[2020-09-16 17:29] pmuellr commented on #77572
A  couple of other things I should have mentioned:

- we have a Kibana developer's guide available here: https://www.elastic.co/guide/en/kibana/7.8/development.html
- we have a discussion forum available here: https://discuss.elastic.co/c/elastic-stack/kibana/7

We try to keep the Github issues extremely technical and focused, due to the number of issues we track.  The discuss forum is a great pla

[2020-09-16 17:29] #77572 closed

[2020-09-16 17:29] #73993 closed

[2020-09-16 17:33] cchaos commented on #67270
I will carryover my comment from  #69697

The previously mentioned potential solution is problematic because it could possibly obscure more "important" notifications. The user would have dismiss each one to find out which one is important. It's better to display them all with a simple scroll mechanism to easily scan for any that need attention.

What I'm seeing from the original screenshots are th

[2020-09-16 17:51] sam6230i commented on #75857
I have added MONITORING_ENABLED = "true" in the environment variable and able to load kibana
I think you can even do monitoring.ui.container.elasticsearch.enabled = true

reference: https://www.elastic.co/guide/en/kibana/current/docker.html#environment-variable-config

[2020-09-16 18:03] #65939 closed

[2020-09-16 18:06] elasticmachine commented on #77553
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 18:08] hbharding commented on #68310
## Update

I've updated the screenshots to take into account the new status bar and bulk actions user flow.

**Upgrades available**

If upgrades are available, we can display this information in a couple of places.

On the Agents page, in the table on the “Agent version” column, we can add text with an icon that says “Upgrade available”.
![image](https://user-images.githubusercontent.com/847805/93

[2020-09-16 18:12] elasticmachine commented on #77548
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-16 18:18] pmuellr commented on #77521
That second image seems to contain some long error messages that are truncated - could you click the drop-down next to the message to see the full message, and post some of them here?

[2020-09-16 18:18] elasticmachine commented on #77521
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-16 18:22] wylieconlon commented on #77553
This definitely looks wrong, and it seems closely related to a fix that I've been working on [to fix autosizing in Vega in 7.9](https://github.com/elastic/kibana/pull/77408).

There is a workaround to this issue, which is to set the height and width explicitly, but there should be a better way of doing this.

[code]

[2020-09-16 18:23] elasticmachine commented on #77465
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 18:27] joshswimlane commented on #77521
@pmuellr Here you go - I think this is unrelated but may be not?

![Screen Shot 2020-09-16 at 1 27 18 PM](https://user-images.githubusercontent.com/45767933/93377278-6b3ca580-f820-11ea-876f-d3e90225b467.png)

[2020-09-16 18:30] wylieconlon commented on #77465
@meneses-pt This doesn't seem like the correct diagnosis of the problem to me. There could easily be a difference in the results for other reasons. Please explain how you tested this, and provide some examples.

[2020-09-16 18:35] MSAdministrator commented on #77521
@pmuellr Here you go - I filtered them of type `ERROR` - Not sure if this is related or not ?

Sorry about the previous post - I removed it and using this account lol

![Screen Shot 2020-09-16 at 1 27 18 PM](https://user-images.githubusercontent.com/10687261/93378013-747a4200-f821-11ea-9b1c-dabeb254766f.png)

[2020-09-16 18:57] imotov commented on #77632
The tricky part here is selecting the separator to make sure it cannot exist in the concatenated fields otherwise you encounter conflicts while concatenating fields. In the past we have discussed supporting this use case directly in elasticsearch elastic/elasticsearch#23818  As far as I remember, there were a few obstacles like supporting multi value fields. Perhaps, we can revisit it again. @poly

[2020-09-16 18:58] formgeist opened #77663 "[Global header] Review feedback and suggestions for small visual improvements"
Hi team 👋,

First off - amazing that we have a global search experience in Kibana 🙌  Simply amazing!

I've been testing out the new global header and search and I've found some minor visual nits and possibly things that have already come up and will be fixed, but I thought to collect it anyways. Feel free to let me know if you want to separate any of these out, I first and foremost just wanted to

[2020-09-16 18:58] elasticmachine commented on #77663
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-09-16 19:01] ph commented on #77521
Looking at the activity logs, we see that metricbeat crashed, I do not have the reason. @MSAdministrator Could you add the log from _metricbeat_ from the data directory?

[2020-09-16 19:02] elasticmachine commented on #77422
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 19:07] myasonik commented on #77381
Hi, thanks a lot for engaging with the Kibana community!

We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests, etc) in Kibana so it's unlikely your question will get the attention it deserves here. If you'd still like help, our [Discuss forums](discuss.elastic.co/) are the best space for asking questions around Kibana.

Cheers!

[2020-09-16 19:07] #77381 closed

[2020-09-16 19:16] myasonik commented on #77663
Fixed in https://github.com/elastic/eui/pull/4008. Will be merged into Kibana with EUIv29.0.0

Fixed in https://github.com/elastic/kibana/pull/77662 (tracked in https://github.com/elastic/kibana/issues/77114)

[2020-09-16 19:20] tsullivan commented on #76581
It looks like a test had generated a PDF in the data but did not clear it, making this `usage` test have the wrong starting state.

[2020-09-16 19:23] joshdover commented on #56762
I've ran through all of Core's configuration and come up with a potential list of non-sensitive metrics that we could collect. For sensitive configuration keys (eg. hostname, ssl), I include fields that indicate a feature is being used rather than including the actual configuration value.

There is some overlap with some of the metrics collected by `src/plugins/kibana_usage_collection/server/colle

[2020-09-16 19:29] tsullivan commented on #76581
Resolving in https://github.com/elastic/kibana/pull/76998/commits/ca41040a996e8fbbe830ed0f7f95264ab5043ab7

[2020-09-16 19:33] cchaos commented on #77663
Nice @formgeist ! You've definitely found a few we're aware of and a few we're not. I'll reply to what I can attest to from the EUI side.

---

@myasonik Are you somehow removing the `isClearable` functionality? The `euiFieldSearch-isClearable` class seems to be missing from the input's class list.

This is the screenshot from EUI docs:
<img width="702" alt="Screen Shot 2020-09-16 at 15 24 21 PM"

[2020-09-16 19:34] formgeist commented on #77589
I tested out your PR, and I think the transition from parent to child view in the nested panel works fine. I'm just so used to having the title there for those cases where we have nested items.

I didn't add icons for Transaction nor Error (unless you think they should have the `bell` icon?) because they quickly become hard to manage when we add more alert types. Same for the nested options where

[2020-09-16 19:41] formgeist commented on #48538
@drewpost Alright, just need to keep this in mind before launch in order to change the copy. Also, if you have any suggestions on how to improve the copy in the call out, feel free to add them here.

[2020-09-16 19:49] legrego commented on #56762
@joshdover what are your thoughts on collecting ssl config for `CoreConfigTelemetry['http']`, similar to what we've done for `CoreConfigTelemetry['elasticsearch']`?

Perhaps something like (added a bonus `cors` setting too):
[code]

[2020-09-16 19:55] elasticmachine commented on #77548
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 20:01] lukeelmers opened #77669 "[Breaking][data.indexPatterns] Remove expression-based scripted fields from Kibana."
### Summary
There are a few remaining traces of support for scripted fields using [Lucene's `expression` language](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-expression.html) floating around Kibana. Since we have already deprecated expression-based scripted fields in `7.0`, we should clean up the remaining traces in `8.0` and create a clear migration path for

[2020-09-16 20:01] elasticmachine commented on #77669
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-16 20:08] wylieconlon commented on #77548
Triple quotes are not part of the JSON spec, so they are not supported in this particular input. Those examples are meant for the Kibana Dev tools, which support triple quotes for convenience. You should be able to achieve the same thing without triple quotes.

[2020-09-16 20:09] mikecote commented on #64849
After starting to implement this and doing some analysis, it's not a problem to implement the following hooks (would be curious if I'm missing any?):
- Executing a connector (via HTTP API and via plugin API)
- Enqueuing an execution (via plugin API)
- HTTP APIs (Create, Update, Delete)
- Alert create / update (notify per action)

Unrelated questions that could impact billing:
- How will this work

[2020-09-16 20:10] elasticmachine commented on #77464
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-16 20:21] cchaos commented on #75403
I'm not sure there's going to be any way around needing to scroll. We want to display not just the group heading and name of the chart but also a graphic (iconic) representation. This all takes spaces. We could **possibly** optimize this list for the charts we currently have but that just won't scale as we add more and more. Unless you want the chart selection to cover up most of the application U

[2020-09-16 20:24] #76416 closed

[2020-09-16 20:58] elasticmachine commented on #77426
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-16 21:00] YulNaumenko commented on #75042
@elastic/kibana-alerting-services Based on the team discussion, I want to summarize a few topics under this issue:
1.  We are planning to move forward with approach that allows us to create a two separate services - one for updating the health state of the alerting framework and the second one for the exposing this state externally - that means that other systems can execute it or schedule its exe

[2020-09-16 21:00] kobelb commented on #23358
Kibana is no longer using RC versions of babel.

[2020-09-16 21:00] #23358 closed

[2020-09-16 21:03] joshdover commented on #56762
Makes sense, not sure how I skipped http.ssl

[2020-09-16 21:04] elasticmachine commented on #77392
Pinging @elastic/kibana-operations (Team:Operations)

[2020-09-16 21:05] ryankeairns opened #77680 "[Observability] Update deprecated navLinks reference to use new API"
@legrego noticed that the Observability Overview page was being returned in search results and, upon further digging, @pgayvallet noticed that a deprecated API was in use. This should be updated to use `App.updater$`.

https://github.com/elastic/kibana/blob/bf04235dae35452061cc7ea3d86d96c19a58206c/src/core/public/chrome/nav_links/nav_links_service.ts#L76-L82

_Originally posted by @pgayvallet in h

[2020-09-16 21:07] pmuellr commented on #77392
This seems *very* similar to https://github.com/elastic/kibana/issues/76829, but a little different?

- not seeing the same error message as reported here (just a reference that you can't create a keystore file)
- this was reported against 7.9.0, but the referenced issue appears to be on master and not 7.x

Figured I'd leave this open and cross-reference it anyway, but guessing it's a DUP.

[2020-09-16 21:12] pmuellr commented on #77504
We'll need some additional context on this issue.  Can you provide the steps to reproduce this?

[2020-09-16 21:17] ryankeairns opened #77681 "Move hiding logic to timelion app plugin, update API"
@legrego noticed that the Timelion app shows up in search results even when the user does not have permission. Upon further digging by Platform and Kibana App engineers, two recommendations were made:

1. The hiding logic ought to be moved from the `viz_type_timelion` plugin to the `timelion` plugin itself.
[code]
2. The `navLinks.update` API has been deprecated and should be replaced by `App.upda

[2020-09-16 21:18] elasticmachine commented on #77681
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 21:30] sqren commented on #69006
@mdefazio Ahh, that looks so much cleaner! Thank you!

[2020-09-16 21:31] mattkime commented on #71787
@XavierM Do you know why hitting field caps directly was more performant than loading from a saved object field? Its quite surprising.

[2020-09-16 21:41] peluja1012 commented on #65943
Closing as we are tracking on-boarding improvements for enabling Elastic Endpoint rules here https://github.com/elastic/security-team/issues/203

[2020-09-16 21:41] #65943 closed

[2020-09-16 21:59] myasonik commented on #77663
Something seems to have gone weird with EUI deployments. It was [fixed](https://github.com/elastic/eui/pull/3936) in [28.1.0](https://github.com/elastic/eui/blob/master/CHANGELOG.md#2810) but is [missing from 28.2.0](https://github.com/elastic/eui/blob/v28.2.0/src/components/form/field_search/field_search.tsx)...

[It's back in master](https://github.com/elastic/eui/blob/master/src/components/form

[2020-09-16 22:06] LeeDr commented on #76829
NOTE: This does NOT appear to be broken in 7.x, only master.  In 7.x when I create the keystore in the same was as on master, it doesn't create the /usr/share/kibana/data dir.

[2020-09-16 22:12] alexwizp commented on #77023
@timroes looks like you are right, it's my regression

[2020-09-16 22:25] pmuellr commented on #49392
I'm typically thinking about this as being able to provide a link to the alert details (eg, in a slack/email message), but even better for solution-based alerts (most of them!), it would be nice to have a link to a solution page relevant to the alert.

So it seems like we'll need to think about alerts providing an array of links, which could then (somehow) be rendered into relevant action paramete

[2020-09-16 22:28] pmuellr commented on #49392
Also note - it would probably be useful to provide these links within the alert details page as well.  I suppose that could mean we may need to provide two URLs for a particular Kibana page - one that we use in email / slack / etc, and another that would be used to navigate to the same page, but staying within Kibana so no page reload would occur.  I'm assuming those two "urls" could be different.

[2020-09-16 22:29] AlonaNadler commented on #61775
Can we address the gap policy as part of the fitting function?
Users then can decide if the missing values are zero
without stating anything in the fitting function behavior should be similar to TSVB default

solving the gap policy is not a high priority in my opinion
stretch goals seem great especially the red green, they are not mandatory for Lens default

[2020-09-16 22:34] wylieconlon commented on #61777
The definition of a moving average for our purposes is **any function which smoothes sequential values in a date histogram**. The main goal of a moving average function is to smooth out temporary fluctuations in the data, and highlight longer-term trends.

There are several types of commonly-used moving averages. All of the types require a **window size**, which indicates how far to look back and

[2020-09-16 22:35] AlonaNadler commented on #61777
By default I don't think so. Users can always add another series which shows the underline data

by default Lens uses the simple model
In the configuration for moving average, there is an advance option that opens popup for moving average. We can add the exponential weighted model. @cchaos we had this in the old design

[2020-09-16 22:41] YulNaumenko commented on #75042
Update from the Platform team - they are a new owners of Kibana Status page, and today they are planning to merge [PR](https://github.com/elastic/kibana/pull/76054) which allows us to register Alerting and Actions health status via the `core.status.set` API Once this PR merges it will be exposed on that endpoint https://github.com/elastic/kibana/blob/043ef5e1d7f1492609c975264e89fe4bb59fb02b/src/co

[2020-09-16 22:47] joelgriffith commented on #19914
Judging by talks with the security team, I think this issue is the one to go with since we'd get API keys for free (AFAICT).

@alexfrancoeur I'd like to update your description here and use this issue as the basis for the work to be done, that is if you don't mind my editing?

[2020-09-16 22:51] AlonaNadler commented on #62375
Talking with observability folks @sorantis @crowens @ruflin @exekias

This is what I suggest:
* Rate by default assumes the field is a accumulating counter - calculated positive(derivative(max(field)))
* By default Lens normalizes to a second. Users can change it to minutes, hour, day etc...
* Users can specify explicitly that their field is not a counter, in which case Lens will calculated it bas

[2020-09-16 22:51] elasticmachine commented on #41096
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-16 22:59] wylieconlon commented on #61776
This calculation is the simplest of the timeseries functions, so I don't think it needs the level of additional clarification that we need for the other time series functions.

The only restriction that I would like to add is that cumulative sum does not make sense on all metrics. It only makes sense when the underlying data represents something that can be summed up. So for best practices, we sho

[2020-09-16 23:00] kobelb commented on #56762
What about CSP? I could see it being helpful to know how many users have a custom CSP policy in place.

For SSL, when the certificate is specified the key must also be specified. I can't think of a good name to denote both of these being configured, so perhaps that's justification for leaving them separate?

[2020-09-16 23:14] wylieconlon commented on #62375
@AlonaNadler I don't think that you've addressed the points I made in my previous comment. Can you please respond to my points more specifically? Here are the main differences I've identified:

1. You are saying the default behavior should be "rates on gauges", but like I wrote previously, this does not make sense to me. **I could not find any examples where this is the desired behavior.** Can you

[2020-09-16 23:16] jfsiii commented on #77133
Update: We have two changes pending which should fix the error on load.

1) https://github.com/elastic/endpoint-package/pull/80 will remove the file that we're struggling to handle. It needs to be pushed to the Registry but Cloud and others will pick it up soon after it's available there.

2) https://github.com/elastic/kibana/pull/77640#issuecomment-693711219 fixes the cause of the 400 which seems

[2020-09-16 23:21] mlaterman commented on #6730
I can confirm the same issue when doing a fresh install of 7.9.1 (from rpm) on Aliyun Linux

[2020-09-16 23:35] wylieconlon commented on #61775
@AlonaNadler I agree that gap policy is not a high priority. If we decide to do it, it will be completely separate from the fitting function for technical reasons.

[2020-09-16 23:49] legrego commented on #56762
CSP is already being reported here, although it'd be nice to consolidate the fields into `CoreConfigTelemetry` instead of having them spread out:

https://github.com/elastic/kibana/blob/fd459dea5d884e883be6fe26747121e768a7844b/src/plugins/kibana_usage_collection/server/collectors/csp/csp_collector.ts#L45-L55

[2020-09-16 23:51] mlaterman commented on #77590
I've also encountered the same issue on Amazon Linux 2; running `sudo chown kibana:kibana -R /usr/share/kibana/optimize/` fixed it for me.

This issue seems to be related: https://github.com/elastic/kibana/issues/6730

However I'm getting a different (maybe related?) issue when trying the same on Aliyun Linux. It fails even if i `chown` the directory. The output log shows:
[code]
And I'm not certa

[2020-09-16 23:58] wylieconlon opened #77692 "[Lens] Expression function to scale numbers to a specific time interval"
On the expression level, this is how we plan on implementing the "time scaling" logic that is part of [supporting time series functions](https://github.com/elastic/kibana/issues/74813) in Lens:

1. First, we need to know the exact interval for date histogram [by adding more metadata](https://github.com/elastic/kibana/pull/76332)
2. Any function that does time scaling logic will call an expression

[2020-09-16 23:58] elasticmachine commented on #77692
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 00:22] markwalkom commented on #77006
All good, works fine thanks :D

[2020-09-17 00:22] #77006 closed

[2020-09-17 00:24] andrewvc commented on #77612
++ to this change

[2020-09-17 00:52] ogupte opened #77695 "[APM] Many environments are not displayed in dropdown filter"
When exploring an instance with a lot of environments, not all environments will display in the environment filter. This might be because we query for environments using a `terms` agg with a `size` specified (https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/ui_filters/get_environments.ts#L56-L59). The solution might be more involved than specifying a large enough `size`

[2020-09-17 00:52] elasticmachine commented on #77695
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 01:06] ogupte opened #77696 "[APM] Handle large scale, high traffic environments in service maps"
High traffic instances with many services will hit the limit of 1000 sample traces used to build out a service map at runtime. This results in a sort of race condition where subsequent fetches of the same service map data returns different connections.  This could be indicative of the scalability limitations of obtaining connections at runtime. Some possible solutions for this:

1. Make the limit

[2020-09-17 01:07] elasticmachine commented on #77696
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 01:13] ogupte opened #77697 "[APM] Transaction overview rendering blank page"
There are instances where a service shows up in the service list, but has no transaction types return, which result in the transaction overview page rending blank.

A line comment in https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/app/TransactionOverview/index.tsx#L111-L114 indicate: ```// `serviceName` or `transactionType` will never be undefined here, and this

[2020-09-17 01:13] elasticmachine commented on #77697
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 01:44] matschaffer commented on #77696
If it helps at all I wouldn't personally expect "Environment: All" to render anything especially useful for this many disconnected applications.

But I was hoping to being able to get a map for a single environment from this page when I have something selected in the dropdown.

[2020-09-17 02:11] alexfrancoeur commented on #19914
@joelgriffith be my guest, that works for me

[2020-09-17 03:16] alexfrancoeur commented on #77436
This feels related to https://github.com/elastic/kibana/issues/74283, but requirements need to be fleshed out more.

[2020-09-17 03:17] mattkime commented on #77338
The har file shows me that the `internal/index-pattern-management/resolve_index/` calls are successful but returning an empty result.

From the kibana console, try `GET /_resolve/index/*:*` and `GET /_resolve/index/*` - what results do you get? The first GET runs cross cluster and the second one runs against the local cluster. It would also be helpful to run `GET /_cat/indices` against the `skywal

[2020-09-17 04:18] kibanamachine opened #77701 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list·ts - endpoint endpoint list when there is data, when the hostname is clicked on, navigates to ingest fleet when the Reassign Policy link is clicked"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8211/)

[2020-09-17 04:18] elasticmachine commented on #77701
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-17 04:22] elasticmachine commented on #77701
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-09-17 04:22] tylersmalley commented on #77701
Skipped

master: dd8db102534e2970e0460429caa685984d867b64
7.x: 7edf54f1b859410e0672ecadf2b89e0e03755d75

[2020-09-17 04:32] ohjeongmin commented on #77572
love u

[2020-09-17 04:34] ohjeongmin commented on #77572
you're a great help to me. thank you genius!!!

[2020-09-17 04:54] kibanamachine commented on #77701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8212/)

[2020-09-17 04:54] kibanamachine commented on #77701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8212/)

[2020-09-17 04:57] AlonaNadler commented on #62375
checkout my last comment "Rate by default assumes the field is an accumulating counter - calculated positive(derivative(max(field)))"

Yes I don't think we should support it in this form. I suggest we support a simple rate function that doesn't require to add another calculation and is based on the field being an accumulating counter

your 3rd point seems to contradict your 1st. Based on my discus

[2020-09-17 05:07] sushrut111 opened #77702 "GrokDebugger plugin shows empty error toast when there is no match"
Kibana: 8.0.0
ES: 8.0.0

![Screenshot 2020-09-17 at 10 33 16 AM](https://user-images.githubusercontent.com/11269256/93422501-83b8c880-f8d1-11ea-8c43-cd79aa97b680.png)

The toast should ideally show when there is no match!

I will take this up to fix it.

[2020-09-17 05:34] sushrut111 commented on #77702
Not sure if I am supposed to raise issues from this version. I was trying out the grok debugger and found this out.

[2020-09-17 05:38] #77702 closed

[2020-09-17 05:39] sushrut111 commented on #77702
This was duplicate of #77006

[2020-09-17 06:12] PavithraCP commented on #71598
Hello, I'm interested in taking this up. Is this available?

[2020-09-17 06:13] aimuz commented on #76897
In fact, I hope to use this method to customize authentication as a middleware to intercept all requests and verify whether they have been logged in

[2020-09-17 06:18] muskangulati-qasource opened #77705 "[Ingest Manager] : Text 'Illustration of an Integration' is displayed instead of Image under 'Integrations' tab"
**Kibana version:**
Kibana: 7.10.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 7.10.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.10.0-SNAPSHOT on staging cloud environment https://staging.found.no/

**Description**
[Ingest Manager] : Text 'Illustration of an Integration' is displayed instead

[2020-09-17 06:33] muskangulati-qasource commented on #77705
@rahulgupta-qasource Please review.

[2020-09-17 06:35] elasticmachine commented on #77705
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 06:37] rahulgupta-qasource commented on #77705
Reviewed and assigned the bug to @EricDavisX

[2020-09-17 06:54] kin122 commented on #77338
@mattkime
I runned the commands u suggested.
`GET /_resolve/index/*:*` returned an empty result.
![图片](https://user-images.githubusercontent.com/39018485/93430191-dc4d8d00-f8f4-11ea-89f5-97cd24c9ddf1.png)

`GET /_resolve/index/*` returned local indices.
![图片](https://user-images.githubusercontent.com/39018485/93430222-ea031280-f8f4-11ea-8d2f-e1cb454f261d.png)

and
`GET /_cat/indices` in `skywalkin

[2020-09-17 07:09] DB-Lucky opened #77712 "Close x-pack"
I want to turn off the X-Pack but I don't know how to do it. Could you please tell me how to remove the X-Pack

[2020-09-17 07:13] elasticmachine commented on #77567
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:16] elasticmachine commented on #77277
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:16] elasticmachine commented on #76426
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:16] elasticmachine commented on #76245
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:21] flash1293 commented on #77023
@alexwizp I know @dej611 was working on this as well (he's also assigned to the issue). Can you two pair up on this?

[2020-09-17 07:26] elasticmachine commented on #75962
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:26] elasticmachine commented on #75961
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:27] elasticmachine commented on #75959
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:27] elasticmachine commented on #75960
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 07:51] dej611 commented on #77023
Yes, I pushed a fix this morning for it. I'm trying to write a unit test to stop regressions right now.

[2020-09-17 07:55] dgieselaar opened #77716 "[APM] Use transaction duration metrics for transaction error rate charts"
In https://github.com/elastic/kibana/pull/73953, the outcome chart was not updated to use transaction metrics where appropriate (I wanted to get the PR in rather than having to deal with new changes all the time). We should still do it for 7.10.

[2020-09-17 07:55] elasticmachine commented on #77716
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 07:57] dgieselaar opened #77717 "[APM] Use transaction metrics for distribution charts"
Needs https://github.com/elastic/elasticsearch/issues/60951.

[2020-09-17 07:57] elasticmachine commented on #77717
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 07:58] dgieselaar opened #77718 "[APM] Make size required for ES search requests"
We've noticed some cases where `size` was not properly set, e.g. in the wrong part of the request or entirely missing even though we don't need to use `hits`. We can make `size` required in our search request type `/x-pack/plugins/apm/typings/elasticsearch/index.ts` to enforce it always being set.

[2020-09-17 07:58] elasticmachine commented on #77718
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 08:00] kertal commented on #77579
I didn't interact with the Kibana window, and no network requests were started after the initial fetch of the data
<img width="1562" alt="Bildschirmfoto 2020-09-17 um 09 58 54" src="https://user-images.githubusercontent.com/463851/93437634-806f0e00-f8cc-11ea-981f-373a5216d703.png">

[2020-09-17 08:00] Paul-de-Barbeyrac opened #77719 "TSVB right axis does not let grouping scales properly"
**Kibana version:*7.7.1*

**Elasticsearch version:*7.7.1*

**Server OS version:*Windows*

**Browser version:*ChromeVersion 85.0.4183.102*

**Browser OS version:*Windows*

**Describe the bug:**
In TSVB, when plotting several ccurves on the same graph, there is a bug regarding right axis grouping.

We should be able to group the right axis on this graph :
![image](https://user-images.githubuserconte

[2020-09-17 08:00] #46553 closed

[2020-09-17 08:01] dgieselaar opened #77720 "[APM] Investigate moving ES aggregation types to @elastic/elasticsearch"
If possible, we want to make the aggregation types that we have available for all users of the new elasticsearch client. We should look at the types the client has and how it can be combined. The goal of this investigation should be to have a clear next step towards the goal of having our aggregation types in the client itself.

[2020-09-17 08:01] elasticmachine commented on #77720
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 08:05] timroes commented on #77712
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2020-09-17 08:05] #77712 closed

[2020-09-17 08:26] alexwizp commented on #77023
@flash1293 @timroes @luke
I thought about a good test for this case, but I have doubts about the correctness of the algorithm for calculating the `auto` interval.

My main concern that for integer numbers it returns float intervals. It's super un-useful. In real example it looks like:

[2020-09-17 08:42] #68848 closed

[2020-09-17 08:42] #68851 closed

[2020-09-17 08:45] formgeist opened #77724 "[APM] Bug: Environment selector is set by navigating to the Agent configuration detail"
Kibana version: 7.9.1

Could be fixed by: https://github.com/elastic/kibana/issues/51963

# Summary

I noticed that when viewing a specific agent configuration for an environment, the environment picker in our header will set the Service inventory page environment picker to that environment.

![Kapture 2020-09-17 at 10 39 28](https://user-images.githubusercontent.com/4104278/93447138-5d475d00-f8d2

[2020-09-17 08:45] elasticmachine commented on #77724
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 09:06] kertal commented on #75813
For this change `SearchSource` has to support `fields`, so adding AppArch

[2020-09-17 09:06] elasticmachine commented on #75813
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-17 09:08] ruflin opened #77728 "[Ingest Manager] Remove legacy code for path/src and tar.gz packages"
To have a smooth migration on breaking registry changes, Kibana introduced to support path/src for Images (https://github.com/elastic/kibana/pull/76434) and support for tar.gz/zip files in parallel: https://github.com/elastic/kibana/pull/76197 As all the changes were made now on the registry side and rolled out to epr.elastic.co, this legacy code can now be removed.

It will also require to update

[2020-09-17 09:08] ruflin commented on #77728
@jfsiii FYI

[2020-09-17 09:16] ruflin opened #77730 "[Ingest Manager] Copy default config directly from an integration"
Today if running the standalone agent, the only way of getting a full config for an integration is creating a policy, add the integration and the copy the raw yaml. As most integrations have defaults for the config, we could make this easier.

A user looking at an integration, should also have an option to see the policy. One way of doing this could be to add an additional navigation on the left s

[2020-09-17 09:16] elasticmachine commented on #77730
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 09:22] wolframhaussig opened #77733 "Menu showing in embedded dashboard"
**Kibana version:** 7.9.1

**Elasticsearch version:** 7.9.1

**Server OS version:** Red Hat Enterprise Linux Server release 7.8

**Browser version:** Google Chrome 85.0.4183.102 (Offizieller Build) (64-Bit)

**Browser OS version:** Windows 10 1809

**Original install method (e.g. download page, yum, from source, etc.):** download page

**Describe the bug:**
We are currently in the process of upgra

[2020-09-17 09:23] blontrock opened #77734 "[Discover] Search and time disappear from screen when editing the hour of the Absolute Start date"
**Kibana version:** 7.9.0

**Elasticsearch version:** 7.9.0

**Server OS version:** CentOS 8

**Browser version:** Firefox and Google Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:** The search box and time selection box disappears when editing the hour part of the Start date in the Absolute date select

[2020-09-17 09:25] ruflin opened #77735 "[Fleet] Ongoing benchmarks in Kibana"
Currently the team is implementing many performance improvements in Kibana for Fleet to become more efficient. The measurements for these improvements are done manually / scripted. Unfortunately there is currently no tooling for Kibana in place that keeps validating if the performance improvements still work. It could be that a future change to the core of Kibana heavily affects the performance of

[2020-09-17 09:25] elasticmachine commented on #77735
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 09:34] formgeist opened #77739 "[APM] Update agent configuration snippets to include service environment variable"
# Summary

We want to include the service environment configuration in the default agent configuration snippets to make it clear that we're setting a default unless otherwise specified in an effort to do away with services with empty environment values. Environments are becoming a critical part of the product - we use it for anomaly detection and agent configuration, and we're seeing more and more

[2020-09-17 09:34] elasticmachine commented on #77739
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 09:42] formgeist commented on #77663
That was the main reason to using <kbd>CMD</kbd>+`click` - to open a given link in a new tab in case I wanted to open e.g. several saved objects, or APM services. I imagine this becomes more apparent when we start seeing more result types in the search suggestions.

[2020-09-17 09:44] flash1293 commented on #76177
Thanks for the PR @rashmivkulkarni (for reference, it's this one: https://github.com/elastic/kibana/pull/76055 )

I reproduced the problem locally and this is caused by the index pattern service trying to refresh the fields the first time the index pattern is used (https://github.com/elastic/kibana/blob/7fa23a4ec1f917164fef3fc84f64a5d2f23aa287/src/plugins/data/common/index_patterns/index_patterns/

[2020-09-17 09:46] #76507 closed

[2020-09-17 09:49] formgeist opened #77741 "[APM] Bug: Set minimum scale to 1% for the Transaction error rate chart"
Kibana version: master

# Summary

The current transaction error rate chart has the y-axis scale set to 100% but this is not ideal, as the error rate can possibly hide critical information such as a slight but significant increase in error rate because it's fixed to 100%.

<img width="725" alt="Screenshot 2020-09-17 at 10 55 07" src="https://user-images.githubusercontent.com/4104278/93454806-c384a

[2020-09-17 09:49] elasticmachine commented on #77741
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 09:50] dgieselaar opened #77742 "[APM] environments overlap w/ sparklines if labels are too long"
![image](https://user-images.githubusercontent.com/352732/93454915-ef079800-f8db-11ea-8f9c-9e9cc9b2f52b.png)

[2020-09-17 09:50] elasticmachine commented on #77742
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 09:53] elasticmachine commented on #77517
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-17 10:08] kibanamachine commented on #76239
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8145/)

[2020-09-17 10:25] dmlemeshko commented on #43963
We might need to check it with infra since it can be related to worker [network configuration](https://superuser.com/a/1302316). If so, I wonder if see the same error in other tests and somehow they don't fail

[2020-09-17 11:02] #77612 closed

[2020-09-17 11:17] flash1293 commented on #43963
There is at least one other test which is skipped, very likely because of the same problem: https://github.com/elastic/kibana/issues/76245

I pinged the operations team on Slack.

[2020-09-17 11:36] formgeist opened #77747 "[APM] Remove "All" option from the environment selector in data views"
# Summary

We're preparing to change how data is displayed by environment by making this more determined - both in agent configuration and in the APM app. We start by removing the option to view "all" environments, because essentially viewing mixed environment data is not all that useful. The reason for adding the "All" option in the first place was to be able to show all services regardless of en

[2020-09-17 11:36] elasticmachine commented on #77747
Pinging @elastic/apm-ui (Team:apm)

[2020-09-17 11:36] #77680 closed

[2020-09-17 11:46] flash1293 opened #77749 "[Lens] Default to "Other" bucket in terms operation"
The terms AggConfig features an "Other" bucket containing all documents not matching any of the specific buckets. This is exposed in Visualize.

Lens should support this option as well.

[2020-09-17 11:46] elasticmachine commented on #77749
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 11:56] mattkime commented on #76177
This flaw has existed for a long time.  @flash1293 has correctly pointed out that in some circumstances the index pattern is automatically saved upon being loaded. Unfortunately this is by design. Similar problem from the
 v5.5 days - https://github.com/elastic/kibana/issues/18019

The solution is to stop saving the field list to the saved object - https://github.com/elastic/kibana/issues/71787

[2020-09-17 12:06] shahzad31 opened #77750 "[CSM] Fix Total blocking formatting"
On CSM page TBT is formatted twice from ms. needs to fix the format

![image](https://user-images.githubusercontent.com/3505601/93468267-fedca780-f8ee-11ea-9316-d48b09c5d86b.png)

[2020-09-17 12:07] elasticmachine commented on #77750
Pinging @elastic/uptime (Team:uptime)

[2020-09-17 12:09] lizozom commented on #77579
Found the issue, will have a PR fixing it soon

[2020-09-17 12:11] sulemanof commented on #16419
Closing the issue since the editor had large redesign and it's not reproducible

[2020-09-17 12:11] #16419 closed

[2020-09-17 12:18] shahzad31 opened #77753 "[CSM] Url Search"
**Describe the feature:**
As part of https://github.com/elastic/uptime-dev/issues/24
As a user of the RUM dashboard
I want to be able to filter the data displayed by URL or URL pattern
So that I can understand how sub-sections of my site are performing so they are not lost in the noise of the whole site
And so that I can view the underlying performance for a page that has traffic from sources that

[2020-09-17 12:18] elasticmachine commented on #77753
Pinging @elastic/uptime (Team:uptime)

[2020-09-17 12:23] flash1293 commented on #75960
This and the other failures from 08-26 seem to be related to a CI outage rather than a real failure, closing for now.
https://github.com/elastic/kibana/issues/75959
https://github.com/elastic/kibana/issues/75961
https://github.com/elastic/kibana/issues/75962

[2020-09-17 12:23] #75960 closed

[2020-09-17 12:23] #75959 closed

[2020-09-17 12:30] shaunmcgough opened #77755 "[Lens] Suggestions on suggestions"
### Abstract
Lens is a great product, and the fact that it suggests different visuals to a user is almost like magic.  Suggestions are a key way to influence user behavior and often times, provide a different, and even more elegant solution than what was expected. In this spirit I propose that we make the following improvements to suggestions.

### Ideas

1. There should always be as many suggesti

[2020-09-17 12:32] shaunmcgough commented on #77755
@flash1293 here's the issue you suggested I create for some suggestions enhancements. I'm sure some of these are already in progress, and some of them likely need particular issues associated with them. Let me know if anything doesn't make sense, and we'll keep the progress moving forward.

[2020-09-17 12:42] mattkime commented on #56238
Ad hoc index patterns have been available for some time but the interface has been so indirect as to make it unclear. Part of the refactoring work is to make `save` functionality explicit.

I think most of the work will be in the visualization, determining whether an index pattern reference is ad hoc or not.

[2020-09-17 12:52] nreese commented on #77574
maybe related to https://github.com/elastic/kibana/issues/77338

[2020-09-17 12:55] justinkambic commented on #77589
That's true - we are going to be adding alerts for synthetics in the future. Should we remove icons altogether? I believe at least the ones on the top menu were included based on design spec.

[2020-09-17 12:57] kevinlog commented on #77133
An additional option to get testing going is to run the following curl command after your 8.0 snapshot build completes and you get your Kibana URL.  Do the below BEFORE going to the Ingest page.

- Get the username `<user>`, it's usually `elastic`
- Get your password `<pass>`, the long string that's randomly generated
- Get your Kibana URL `<kibana-url>`, you can either "Copy Endpoint" on the clou

[2020-09-17 12:57] jonathan-buttner commented on #76438
After our meeting on Monday the decision was made to auto install the default packages in the Ingest Manager and the endpoint package in Security Solution if the user has the appropriate permissions. We're going to hold off on the notification for now.

[2020-09-17 13:02] Dosant opened #77758 "[Drilldowns] URL Drilldown template helpers"
Part of https://github.com/elastic/kibana/issues/55324

**Describe the feature:**

Currently URL drilldown templating provides 3 custom [helpers](https://handlebarsjs.com/guide/#custom-helpers) (rison, json, date) is addition to build-in handlebars helpers.
We should extend list of helpers with helpers for string manipulation, equity checks and others.
In addition to that, we should expose an exte

[2020-09-17 13:02] elasticmachine commented on #77758
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-17 13:08] hendry-lim commented on #77574
@nreese had the same issue as [#77338](https://github.com/elastic/kibana/issues/77338) when I had CCS from `7.9` to `7.8`, but issue resolved after remove cluster was upgraded to `7.9`.

I am able to add index pattern for a remote index as I described that I have `*:apm-*` index pattern in Kibana.

It is something with the Maps, because I experienced the same when I tried to add the Security layer

[2020-09-17 13:09] rahulgupta-qasource opened #77760 "[Ingest Management]: Click on 'Continue' button on 'Add agent' flyout from Security->Administration tab navigates the user back to Administration tab"
**Kibana version:**
Kibana: 7.10.0-SNAPSHOT

**Elasticsearch version:**
Elasticsearch: 7.10.0-SNAPSHOT

**Host OS and Browser version:**
Windows 10 , All

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.10.0-SNAPSHOT on staging cloud environment https://staging.found.no/

**Description**
[Ingest Management]: Click on 'Continue' button on 'Add agent' flyout from Sec

[2020-09-17 13:10] elasticmachine commented on #77760
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-09-17 13:10] rahulgupta-qasource commented on #77760
@muskangulati-qasource Please review the bug.

[2020-09-17 13:16] elasticmachine commented on #77760
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-09-17 13:17] kevinlog commented on #77760
@rahulgupta-qasource this is actually expected if you start the flow from the Administration tab.  Clicking "Continue" will take you back to the Admin tab with assumption that you will eventually get Endpoints if you ran the commands.

FYI @EricDavisX

[2020-09-17 13:20] sqren commented on #72635
Replaced by https://github.com/elastic/kibana/issues/77313

[2020-09-17 13:20] #72635 closed

[2020-09-17 13:20] mikecote commented on #77549
cc @mdefazio

[2020-09-17 13:25] muskangulati-qasource commented on #77760
Reviewed & assigned to @EricDavisX .

[2020-09-17 13:39] #69751 closed

[2020-09-17 13:52] Dosant commented on #77243
I think the problem is that when we create a URL to a new dashboard we don't take into account the dashboard app state parameters that are coming from query. [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/dashboard_enhanced/public/services/drilldowns/dashboard_to_dashboard_drilldown/drilldown.tsx#L123)

I think the solution would be:

1. Extend dashboard URL generator to accep

[2020-09-17 14:03] ph commented on #75913
@ruflin @jfsiii After talking to @crowens Could we just retrieve the CA from the Kibana configuration and send it to the elastic agent? This assumes that the beats can understand the raw CA.

[2020-09-17 14:06] EricDavisX commented on #77705
the issue is probably introduced in the last 2 weeks.  I tried to validate on 8.0 and I do not need it, but my code is 2 weeks old (which seems the latest snapshot available?)

edavis-mbp:kibana_elastic edavis$ git show -s bbb51b5d
commit bbb51b5dcbfb2b324aa596b35a6a0ac3a4465eb9
Author: Mike Côté <mikecote@users.noreply.github.com>
Date:   Mon Aug 31 10:47:51 2020 -0400

I think its an Ingest side

[2020-09-17 14:09] ph commented on #77705
Yes indeed, weird I don't remember seen that bug when I did the demo on the master branch.

@skh Can you take a look at this?

[2020-09-17 14:22] #67587 closed

[2020-09-17 14:28] msilveus1 opened #77769 "C++ support for Kibanna/ElasticSearch"
It seems currently like there are no official support for C++.    Is there plans to support this in the future and if so what does the time line for C++ support look like?

[2020-09-17 14:30] MSAdministrator commented on #77521
@ph Sorry for the delay here - do you mean from my endpoint and in the Elastic directory?

[2020-09-17 14:32] mdefazio commented on #77549
I'm not sure this is specific to alerting—but moreso for the expression/popover experience in general.  So this might need to be fixed on the EUI component level. I will bring it up with the team

[2020-09-17 14:40] mikecote commented on #56403
@yevgenytrcloudzone request parameters could mean a couple of things, in your case which of the following are you trying to use?
- Path parameter (`/foo/{id}`)
- Query string (`/foo?id=1`)
- Body
- Headers

Or if you can provide what your watcher config looks like, we can try and see what part is missing from the webhook action type.

[2020-09-17 14:41] elasticmachine commented on #77733
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 14:42] gmmorris opened #77772 "Alerts don't group their incidents by a dedupKey / Object ID"
This is a follow up from https://github.com/elastic/kibana/issues/76908.

Each execution of the PagerDuty action is seen by the PagerDuty service as a unique incident.
To group incidents together a user can set the optional `dedupKey` parameter, but this means that the default behaviour is that multiple executions on the same alert will not be grouped.
This will become especially painful when the

[2020-09-17 14:48] #77246 closed

[2020-09-17 14:50] Zacqary opened #77775 "[Metrics UI] [Alerting] Add context variables to access multiple groupBy values individually"
Feature request from @JohannesMahne over Slack:

We could add this as another advanced context variable in the vein of the `conditionN` vars.

[2020-09-17 14:50] elasticmachine commented on #77775
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-17 14:56] neptunian commented on #73069
@ph @ruflin Are we wanting to allow the user to specify as part of the `upgrade` api the version they want to up/down grade to?  If so, it sounds like we'll need to add these restrictions.  The one @blakerouse mentioned about not being able to upgrade to a version that kibana never upgraded to, sounds like we'd have to know the versions kibana was ever on and compare against that.  Is it possible

[2020-09-17 14:58] VijayDoshi commented on #73418
FYI - we reached a consensus decision to show Maps and Lens in a disabled state with pointers to a basic license (similar to what happens with CSV upload) in OSS.

We are working on a decision document that outlines more general guidance; however, I didn't want to wait on that to update this issue.

@alexfrancoeur @skearns64 @snide @smayzak

[2020-09-17 15:03] FrankHassanabad commented on #75042
cc @aarju and @randomuserid for more feedback or corrections.

At a high level we want:

* Immediate alerts on any existing alerts not firing or indicators at a glance for a dashboard that these alerts are not firing. Users or we can make the dashboards if we have access to the data.

* Any alerts that have not fired even if they are reporting good health. "Dead person's switch" type of alert. If

[2020-09-17 15:11] #77114 closed

[2020-09-17 15:18] jonathan-buttner opened #77779 "[Ingest Manager] Upgrade Package APIs"
# Background

For an external app to upgrade a package it is interested in, it has to perform the following actions:

1. `GET /packages` to list the available packages, then filter the response done to the one they're interested in
2. Check if the package of interest is marked as installed
3. If not installed, `GET /packages/<package key>` to get the full information about the package including th

[2020-09-17 15:20] ph commented on #73069
Could we do that in a followup PRs?

I would even be ok to default to the current Kibana version for first release.

[2020-09-17 15:22] ph commented on #77521
From your `elastic-agent` installation.

[2020-09-17 15:22] stacey-gammon commented on #69673
@spalger - is anything blocking this anymore? I think you merged the plugin build tooling support?  Can you point me to docs on how to use them so the plugins can be packaged up and installed?

[2020-09-17 15:24] exekias commented on #62375
Thanks for moving this forward folks! some clarifications from what we do in Metricbeat and others:

Our definition of `counter` is in fact what you are talking about: a monotonically increasing number. Calculating its rate is done with positive(derivative(max(field))).

I cannot think of a case where it would make sense to apply a rate function to a gauge. To me, this would be either a human mist

[2020-09-17 15:28] jfsiii commented on #77133
I just tried tried this on a few deployments, and it seems that it only works on an instance which has never tried to setup before.

That makes sense now but just confirming (for myself as much as anyone).

### Existing deployment - `/setup` had previously failed.
<details><summary>endpoint 0.16 was installed</summary>

[code]
</details>

<details><summary>POST 0.15.0 failed</summary>

[code]
</de

[2020-09-17 15:36] nnamdifrankie commented on #77133
@jfsiii

Yes like I mentioned in our chat. This is because of how Ingest Manager currently handles downgrades where it leave the index templates even when you remove the package. I believe there is some marked difference between 0.15.0 to 0.16.0, which I think has to do with changes to datastream that prevents the downgrade after setup. However once we fix the build we should not be looking back a

[2020-09-17 15:40] spong commented on #75292
Speaking with @XavierM this is going to be handled as part of the timeline re-work, removing `7.9.2` and `7.10` targets.

[2020-09-17 15:45] elasticmachine commented on #77779
Pinging @elastic/ingest-management (Feature:EPM)

[2020-09-17 15:45] flash1293 commented on #76962
We will start only allowing single column sorting for now similar to the Visualize data table

[2020-09-17 15:49] exekias commented on #62375
I did some more thinking about this:

"normalizing values to the bucket times" is actually calculating a rate 🤦, so it all depends on the definition we want to have.

If we take:
- `positive(derivative(max(field))) / normalized to interval` for counters
- `derivative(average(field))) / normalized to interval` for the rest (gauges).

things add up.

Answering myself on examples:

A gauge could be t

[2020-09-17 15:57] Zacqary commented on #73962
I've implemented it to chart the overall average across the currently displayed nodes. Is this expected behavior, or do we want it to chart data for the entire infrastructure?

[2020-09-17 16:02] streamich commented on #66051
@AlonaNadler This is a bit tangential, to this issue, but have now discussed it few time. Maybe we should refactor how the panel properties are edited. For example, it does not make much sense that when you edit a title, a modal opens with just one input field to edit the title. And when you edit the time range of the visualization another modal opens where you just edit the time range.

Now we ar

[2020-09-17 16:10] pmuellr opened #77784 "re-do PR 74063 based on master, not 7.8"
Community PR https://github.com/elastic/kibana/pull/74063 was mistakenly merged to 7.8, and then reverted shortly after.

We'll need to make a copy of it based on master and merge that, hopefully maintaining the author bits in the commit.

Note that it's a one-character change of `and` -> `an` in an asciidoc file.

[2020-09-17 16:13] #69679 closed

[2020-09-17 16:39] mlaterman commented on #77590
As a followup to my issues on Aliyun, I've edited the service file to run kibana through strace (`/usr/bin/strace -f -e mkdir /usr/share/kibana/bin/kibana`), and found that kibana is getting the access denied when trying to create the bundles subdirectory:

[code]

However, this directory already exists and is owned by the kibana user:
[code]

[2020-09-17 16:41] #63937 closed

[2020-09-17 16:48] ph commented on #77189
Looking at the doc above, can it display logs from multiple datastream? Initially we can show agent log but it would be nice to see metricbeat/filebeat logs too. cc @ruflin

[2020-09-17 17:04] gmmorris commented on #50256
I just want to note a use case we have in Alerting:

There are times when we **need** to partially update fields - such as situation where we don't want to have to decrypt the encrypted fields (if, for example, we **know** that encryption has broken and want to mark this SO somehow).
This _is_ limited to fields that are not in AAD though.

Ideally for us the type system could somehow allow us to e

[2020-09-17 17:14] alexfrancoeur commented on #56762
This is fantastic. We have so many different types of saved objects now, is there any value in getting count by type?

[2020-09-17 17:25] YulNaumenko commented on #74870
The UX problem which we have for Email connector is kind of tricky by the reason that we are not able just to make this secret fields required, because user and password is optional configuration options.
But for the Email connectors where this credentials was defined we should ask user to enter this as a required to avoid the security vulnerability issues on Edit.
My proposal here will be to exte

[2020-09-17 17:27] alexfrancoeur opened #77793 "Data formatting and manipulation support for Alert payloads"
We've received a request where it would be useful to use painless to transform the data returned before sending off to a 3rd party integration. This could be PagerDuty, ServiceNow, etc. This makes it much easier for the consumer of the incident to understand the data coming through.

Painless is a language that is already in use with Watcher, so there is an argument and preference for this syntax

[2020-09-17 17:27] elasticmachine commented on #77793
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-09-17 17:27] mattkime commented on #77338
@kin122 The `resolve` request is forwarded to the remote cluster  (`skywalking`) but the endpoint doesn't exist in 7.5.1. Upgrading the cluster will resolve the issue.

[2020-09-17 17:41] mikecote commented on #77793
Creating alerts with Kibana expressions is still fairly out (https://github.com/elastic/kibana/issues/50270). I wonder if there's anything with expressions that could solve this requirement.

[2020-09-17 17:41] #77342 closed

[2020-09-17 17:42] afharo commented on #50741
@bhavyarm isn't this checkbox enough?
![image](https://user-images.githubusercontent.com/5469006/93507183-352d1d80-f915-11ea-891f-7a883c4bf9e0.png)

Do you think we should show the telemetry banner again?
<img width="1519" alt="image" src="https://user-images.githubusercontent.com/5469006/93507431-9523c400-f915-11ea-892a-1f7f33fc0f29.png">

[2020-09-17 17:58] mattkime commented on #77338
This is definitely a bug. One hacky solution around this would be to export an index pattern as json, modify it, and then import it.

I'm investigating a more permanent  fix.

[2020-09-17 18:04] myasonik commented on #60030
I fixed this in #72331

[2020-09-17 18:04] #60030 closed

[2020-09-17 18:09] LeeDr commented on #76177
@flash1293 why doesn't that refresh just happen when the index pattern is created in the UI?  We know that user has the privs to create (or update) the index pattern.

Oh, but in this case (Rashmi's test), the index pattern was created by installing the sample data, not through the index pattern UI.
And there's other cases (beats) where the index pattern is created when dashboards are loaded, whic

[2020-09-17 18:12] flash1293 commented on #76177
I’m not 100% sure about these cases @LeeDr - Summoning @mattkime once again 🙂 Can you provide some more context, Matt?

[2020-09-17 18:12] LeeDr commented on #76177
Actually, on second thought, what would happen in the UI if opening the dashboard just handled the failure to fresh the index pattern silently?
If the dashboard can work without that fresh, then the refresh could just happened the next time someone with the privs to update index patterns used it.

[2020-09-17 18:25] kibanamachine opened #77805 "Failing test: X-Pack Jest Tests.x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view - when on the list page when there is no selected host in the url should not show the flyout"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8154/)

[2020-09-17 18:25] elasticmachine commented on #77805
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-17 18:42] henrikno commented on #77695
Just noticed it stops at 10 (including Not defined), the default size for aggregations, so this is likely the cause.

[2020-09-17 18:47] polyfractal commented on #77632
Igor and I chatted about this offline yesterday. A few notes for posterity:

- To implement this correctly (e.g. without a user-provided delimiters) we need modify the internal classes to operate on sorted sets rather than single values.  This would be a relatively huge amount of work :)  We have internal specializations for numerics, strings, ordinals, etc and all of them expect single values
- A

[2020-09-17 19:09] ryankeairns opened #77810 "[GS] Allow for (optional) descriptive meta data text in search results"
Understood, my main point is that we're currently pulling either the category (on apps) or type (on saved objects) from the existing plugin registry setup. Based upon my current understanding, there would be additional work to provide a custom description via the GS API and this also sets a new precedent for using longer descriptive text. Given those considerations, a separate issue to discuss fur

[2020-09-17 19:10] elasticmachine commented on #77810
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-09-17 19:10] elasticmachine commented on #77810
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-17 19:11] sqren commented on #77549
Agree, thanks for raising this @mdefazio.
Always seemed like a temporary workaround to put the select in a popover instead of opening it directly when clicking the expression.

[2020-09-17 19:22] miukimiu commented on #70266
Hi @thomasneirynck,

I did a few updates based on your comments. What do you think of the new versions?

<img width="918" alt="Light theme@2x" src="https://user-images.githubusercontent.com/2750668/93516877-898aca00-f922-11ea-9305-e2c5ad851530.png">

Also, I tried to see how it might look like in dark mode. I will need to adjust the dark theme colors when implementing.

<img width="922" alt="Dark

[2020-09-17 19:22] wylieconlon opened #77811 "[Lens] Options to scale metrics into a "rate per second" or "rate per minute""
This issue is re-creating [another issue](https://github.com/elastic/kibana/issues/62375) which has turned into a discussion thread. This issue is focused on the implementation decisions for the average event rate aggregation.

## Detailed description

Date histograms in Kibana have a **minimum interval** which is often higher than what users want to see. For example, when looking at 24 hours of d

[2020-09-17 19:22] elasticmachine commented on #77811
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 19:23] yoli1888 opened #77812 "[ML] An error occurred loading annotations in Anomaly Explorer Annotations section"
**Kibana version:**
7.9.1
**Elasticsearch version:**
7.9.1
**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Relate to https://github.com/elastic/kibana/issues/74935

**Steps to reproduce:**
1.  Create ML Single Matrix Viewer job with new index data
2. After the job is completed, c

[2020-09-17 19:23] wylieconlon commented on #62375
This issue has turned into a discussion about rates in general, so I've split out my original questions about just the "event rate" function into a separate issue: https://github.com/elastic/kibana/issues/77811

[2020-09-17 19:35] thomasneirynck commented on #70266
@miukimiu all looks great to me!

any thoughts @kmartastic @jsanz @nreese ?

[2020-09-17 19:35] nreese opened #77813 "[ML] Application broken with basic license"
When opening ML application with a basic license, users are greeted with an empty screen and some errors in the console. Application works with trial license

<img width="500" alt="Screen Shot 2020-09-17 at 1 33 52 PM" src="https://user-images.githubusercontent.com/373691/93518807-92f84000-f8ea-11ea-9727-c52cb4405e18.png">

[2020-09-17 19:35] elasticmachine commented on #77813
Pinging @elastic/ml-ui (:ml)

[2020-09-17 19:49] AustinSeto opened #77814 "[TSVB] Filter annotations"
**Describe the feature:**

Allow for filtering out annotations on graphs on dashboards

**Describe a specific use case for the feature:**

We are currently using Elasticsearch 7.8. I have a TSVB graph that is graphing views on our content. We have a large number of annotations as we would like to mark content updates, new content being published, and whenever tweets or demos are done. I'd prefer t

[2020-09-17 19:51] poffdeluxe opened #77816 "[Canvas] Filtered elements do not change if filter expression is changed until the new filter value is selected"
**Kibana version:**
Checked on 7.9.1 and master

**Describe the bug:**
If you have a dropdown filter on a workpad and then you modify the filter's expression (for example to retrieve a different field in a query or to change the field which is being filtered), elements that use the `filters` function in their expression will not update until a new option is selected from the filter dropdown.

**St

[2020-09-17 19:51] elasticmachine commented on #77816
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-09-17 20:00] wylieconlon commented on #62375
@exekias @AlonaNadler I think we are on the same page about counter-type numbers, as well as about "event rates". To summarize:

* Counter type: We can offer a convenient function to calculate the rate. This is case 3 that I listed above.
* Event rates by multiplying the Count/Sum/Average into a "per second" rate: This is not a separate function, but it's an [option on existing functions](https://

[2020-09-17 20:07] elasticmachine commented on #77755
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-17 20:09] wylieconlon commented on #77755
Thanks for the feedback! I think it will take a bit of work to go through this and make it into actionable issues, but I appreciate the high-level comments. We usually use the `discuss` tag for these kinds of issues, and `meta` for a checklist of tasks- so this isn't quite a meta issue yet.

[2020-09-17 20:10] legrego commented on #75786
Feel free to include me in this as well. This might be a good forcing function to make sure our feature controls docs are usable, for developers who wish to target the default distribution

[2020-09-17 20:28] TinaHeiligers commented on #73141
Setup UI
Out of box alerts deployed
Different page views

@chrisronline, the kibana Telemetry team's been looking into improving the usefulness of `ui_metric` but maybe tracking "Setup UI" counts and "Out of the box alerts deployed" could be done following a (possibly modified) implementation as in [AppSearch](https://github.com/constancecchen/kibana/pull/5) .
We're also extending Application Usag

[2020-09-17 20:28] wylieconlon commented on #77530
I took a look at the implementation of external pointer events in the charts library, and it seems like pie charts might be able to use it, but I didn't confirm. Maybe @markov00 can comment?

[2020-09-17 20:38] #76367 closed

[2020-09-17 20:46] mattkime opened #77825 "[Index Patterns] Allow creation of cross cluster index patterns when cluster is <7.9"
7.9 introduced the `resolve` api which is used by the UI when creating an index pattern. It determines whether or not there's a match to an index pattern. Cross cluster search is supported by ±1 major version, which means we need to use an api call that works on 6+. The resolve api is necessary for surfacing data streams so we'll fire off two requests - the resolve api and the previously used sear

[2020-09-17 20:58] myasonik opened #77828 "(Accessibility) Routed tabs cause multiple failures"
## Issue
[Routed tabs](https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/public/components/navigation/routed_tabs.tsx#L44-L50) cause a WCAG A failure in several ways:
- It breaks tabs accessibility because the `button[role="tab"]` is not a direct decedent of `[role="tablist"]`
- It breaks tab focus order because the `<button>` inside the `<a>` causes a secondary tab stop on the sa

[2020-09-17 20:58] elasticmachine commented on #77828
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-17 21:01] jonathan-buttner commented on #77779
PR is here: https://github.com/elastic/kibana/pull/77827

[2020-09-17 21:12] sqren commented on #71843
Fixed in https://github.com/elastic/kibana/pull/74740 by @shahzad31 !

[2020-09-17 21:12] #71843 closed

[2020-09-17 21:23] dhurley14 opened #77830 "[Security Solution] [Detections] General usability updates on rule status table"
**Describe the feature:**

The Rule Status page could use some updates to help build a better user experience:

* Rule status monitoring could use more sorting (I think we can add sorting to all the columns since we own the status saved object)
* Rules status monitoring could use callouts explaining each column (I think there could be further clarification made with a callout around what a "gap" m

[2020-09-17 21:23] elasticmachine commented on #77830
Pinging @elastic/siem (Team:SIEM)

[2020-09-17 21:26] LeeDr opened #77831 "Unknown field type action.secrets in .kibana index pattern"
**Kibana version:** master (latest snapshot build)

**Elasticsearch version:** master (latest snapshot build)

**Server OS version:** CentOS 7

**Browser version:** Chrome 85

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** rpms default dist

**Describe the bug:** I often create a Kibana index pattern for the .kibana index to make it ea

[2020-09-17 21:26] elasticmachine commented on #77831
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-17 21:29] LeeDr commented on #77125
here's an easy to reproduce example of this issue; https://github.com/elastic/kibana/issues/77831

[2020-09-17 21:32] qn895 commented on #77813
Hi @nreese, thanks for catching that. I have made a PR here https://github.com/elastic/kibana/pull/77832 that should address this problem.

[2020-09-17 22:01] pmuellr commented on #77831
Seems like that would be this field, in the `actions` plugin, which is part of alerting:
https://github.com/elastic/kibana/blob/aba1494b37734dcee5137f6f8a93bbcd3f1543e1/x-pack/plugins/actions/server/saved_objects/mappings.json#L19-L21

It's `binary` because it's an "encrypted" field (using the encrypted saved objects plugin), which expects the field type to be `binary`.

There's another one for al

[2020-09-17 22:04] kibanamachine opened #77834 "Failing test: X-Pack Jest Tests.x-pack/plugins/security_solution/public/management/pages/trusted_apps/view - TrustedAppsPage rendering"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8229/)

[2020-09-17 22:04] elasticmachine commented on #77834
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-17 22:04] kibanamachine opened #77835 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver compare resolver Nodes Table data and Data length"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8229/)

[2020-09-17 22:04] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8229/)

[2020-09-17 22:04] elasticmachine commented on #77835
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-17 22:47] lukeelmers commented on #76355
@restrry Sorry I missed this comment earlier. The plan was to replace this with a new/updated stub in the `data` plugin since there isn't really a need for this to live in `test_utils`, but it looks like we missed it in the migration process. I will try to make a PR for moving this in the next couple of days.

[2020-09-17 23:03] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8230/)

[2020-09-17 23:03] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8230/)

[2020-09-17 23:13] spong commented on #66587
Hey there @jaredstewart101, we're hoping to add this functionality in the near-term, but as always, no guarantee on a specific version. Thanks for detailing your use case here though, and please do continue to comment on other issues that help with your workflows as that helps us better prioritize future releases. In the mean-time, stay subscribed to this issue and you'll get notified once we get

[2020-09-17 23:13] spalger commented on #77834
Fixed by https://github.com/elastic/kibana/commit/aba1494b37734dcee5137f6f8a93bbcd3f1543e1

[2020-09-17 23:13] #77834 closed

[2020-09-17 23:40] hendry-lim commented on #72369
Relates to [#77825](https://github.com/elastic/kibana/issues/77825)

[2020-09-17 23:55] legrego commented on #36601
Hearing no objections after nearly a year, I think it's safe to close this.

[2020-09-17 23:55] #36601 closed

[2020-09-17 23:56] mattkime commented on #56238
Need to write a better summary but this PR has the bulk of the index pattern refactor.

Example -
[code]

[2020-09-18 00:01] legrego commented on #18131
We have prior art in a number of other areas in Kibana today where we prefer to enumerate the list of index names, as opposed to index patterns

[2020-09-18 00:01] elasticmachine commented on #18131
Pinging @elastic/kibana-security (Team:Security)

[2020-09-18 00:07] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8231/)

[2020-09-18 00:07] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8231/)

[2020-09-18 00:44] PavithraCP commented on #77012
Hello, I'm a new contributor to kibana. I'm interested in picking this up, is this available?

[2020-09-18 00:52] elasticmachine commented on #77835
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-09-18 00:53] spalger commented on #77835
38 Failures in the last few hours

![image](https://user-images.githubusercontent.com/1329312/93542614-55a5a980-f90e-11ea-8b98-e9771b0733f4.png)

master: https://github.com/elastic/kibana/commit/5d7c60f0ae8e992027d175ed20079a75de85c405

[2020-09-18 01:02] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8232/)

[2020-09-18 01:02] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8232/)

[2020-09-18 01:42] nreese commented on #77769
Closing. Please ask questions in the forum at https://discuss.elastic.co/c/elastic-stack/kibana/7

There is a community maintained Elasticsearch client. More information can be found at https://www.elastic.co/guide/en/elasticsearch/client/community/current/index.html#cpp

[2020-09-18 01:42] #77769 closed

[2020-09-18 02:08] kibanamachine commented on #76239
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8233/)

[2020-09-18 02:08] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8233/)

[2020-09-18 02:08] kibanamachine commented on #77835
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8233/)

[2020-09-18 02:28] alex-fedotyev commented on #77695
It looks like fixing the query would be important here.

@ogupte - would it make sense to redesign the environment selector and make it a dropdown with a typeahead for better usability?
![35449032-df1deda4-0289-11e8-9048-3667d562a83a](https://user-images.githubusercontent.com/61838744/93548288-cb644200-f91b-11ea-898d-7e5892f4b617.gif)

[2020-09-18 02:29] alex-fedotyev commented on #77697
This feels very critical. Any ideas whether it could be impacting other customers? Is it only related to large number of environments?

[2020-09-18 02:54] kin122 commented on #77338
@mattkime i got it,its a problem across the versions.
1. how do i export the index pattern as json? in which API ? and how do i modify it ?can u show me some more operational details?
2.this problem will be fixed in the next version，is it?

[2020-09-18 04:29] #49554 closed

[2020-09-18 04:31] sebelga commented on #64050
Closing as this has been fixed in https://github.com/elastic/kibana/pull/75302

[2020-09-18 04:31] #64050 closed

[2020-09-18 04:33] sebelga commented on #67247
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:33] #67247 closed

[2020-09-18 04:33] sebelga commented on #62898
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:33] #62898 closed

[2020-09-18 04:34] sebelga commented on #66097
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:34] sebelga commented on #66202
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:35] sebelga commented on #66518
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:35] sebelga commented on #67067
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:35] sebelga commented on #67250
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:36] #67250 closed

[2020-09-18 04:36] #66097 closed

[2020-09-18 04:36] #66202 closed

[2020-09-18 04:36] #66518 closed

[2020-09-18 04:37] #67067 closed

[2020-09-18 04:38] sebelga commented on #67786
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:38] #67786 closed

[2020-09-18 04:43] sebelga commented on #65959
Fixed in https://github.com/elastic/kibana/pull/76672

[2020-09-18 04:43] #65959 closed

[2020-09-18 05:20] kibanamachine commented on #76239
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8236/)

[2020-09-18 05:33] elasticmachine commented on #76239
Pinging @elastic/kibana-security (Team:Security)

[2020-09-18 05:37] spalger commented on #76239
18 failures in the last week, across master and 7.x

![image](https://user-images.githubusercontent.com/1329312/93560030-f9ef1680-f935-11ea-9f52-7a0b1174c1a9.png)

Skipped

master: https://github.com/elastic/kibana/commit/61226103740595ad20e1c96f5ce8dbf627ce5e50
7.x/7.10: https://github.com/elastic/kibana/commit/b484269c836eb912ded28b6efc449eed6f0a91a0

[2020-09-18 06:29] sushrut111 commented on #75972
I would like to take this up.

[2020-09-18 07:06] ruflin commented on #75913
@ph If we do that it would assume all the cert files on the Agent machine are in the same location as on the server where Kibana is hosted? So not sure this would work.

In any case, I would treat this as 2 separate features. I think the YAML box is a quick way to make us move forward and if we can have the Kibana CA as default set, even better.

[2020-09-18 07:09] azasypkin commented on #76239
I've just implemented a slight change in this test in the scope of not-yet-merged https://github.com/elastic/kibana/pull/77746, and flaky test runner didn't complain yesterday, so I'll re-enable this test in that PR and see how it goes.

[2020-09-18 07:09] ruflin commented on #73069
++ on fixing it the exact Kibana version for now. Also ++ on what Blake described that downgrades are only possible to the exact version the user had before as we know it was working and likely still have the binary around.

[2020-09-18 07:14] ruflin commented on #77189
There is a `query` part and as all our indices use constant keywords for the dataset, we can add there multiple, not only for agent.

[2020-09-18 07:16] katrin-freihofner opened #77846 "[Uptime] enable/disable alert on monitor details view"
The monitor detail view has this new switch that makes enabling/disabling of alerts very easy.

During a review I found the following issues:

1. The text is squished and looks much narrower than it should be.
<img width="191" alt="Screenshot 2020-09-18 at 08 55 44" src="https://user-images.githubusercontent.com/20965076/93567630-3bf87680-f98f-11ea-8dc5-436020c5f4bc.png">

2. To be in line with th

[2020-09-18 07:16] elasticmachine commented on #77846
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 07:22] shahzad31 commented on #75972
@sushrut111 go ahead, pick it up

[2020-09-18 07:34] katrin-freihofner opened #77848 "[Uptime alert] improvements"
As a user when I click "create alert" -> "status alert" the alerting flyout seems a bit confusing to me.

1. Why are there two types of alerts? For status and availability?
1. Why is one called "status check" and the other one "availability"? Should this be "status check" and "availability"?
1. Are those two connected? Will I get an alert if one check goes wrong or only if both fail?
1. ~~Why is t

[2020-09-18 07:34] elasticmachine commented on #77848
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 07:35] timroes commented on #73418
@VijayDoshi Could you clarify on or get some of the tech leads involved on how this will work code wise? We have a separation between x-pack code and OSS code, and in contrast to Basic+ where all the code will always be available (so we can hint towards gold features not enabled in Basic), we don't have the x-pack code at all present when running OSS.

If we decide to do a shift towards wanting to

[2020-09-18 07:38] katrin-freihofner opened #77849 "[Uptime] ping chart"
**Kibana version:**
Tested on the current master branch

**Describe the bug:**
The legend of the ping chart is showing values like 2.2 -> there can not be 2.2 pings. I suggest only using integer values for this legend.

**Screenshots (if relevant):**
<img width="699" alt="Screenshot 2020-09-18 at 09 23 19" src="https://user-images.githubusercontent.com/20965076/93569705-35b7c980-f992-11ea-8172-7c5

[2020-09-18 07:38] elasticmachine commented on #77849
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 07:40] #77023 closed

[2020-09-18 07:41] katrin-freihofner opened #77851 "[Logs UI] I cannot read the full log lines in the context view"
As a user I would like to read the full log line - also in the "in context" view.

<img width="1680" alt="Screenshot 2020-09-18 at 09 02 20" src="https://user-images.githubusercontent.com/20965076/93570278-0e153100-f993-11ea-9e0a-f0c17d095400.png">

Currently, the log lines do not wrap (as my log lines do in the stream). Also, I can not scroll horizontally.

[2020-09-18 07:41] elasticmachine commented on #77851
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-18 07:44] alexr-plutoflume commented on #54103
+1

[2020-09-18 07:50] AnthonyDeFr commented on #54103
+10

[2020-09-18 07:50] AnthonyDeFr commented on #77719
+1

[2020-09-18 07:51] ArthurPapouin commented on #54103
+1

[2020-09-18 07:52] ArthurPapouin commented on #77719
+1

[2020-09-18 07:58] katrin-freihofner opened #77852 "[Logs UI] ML flyout"
Because of a review of the "ML job creation workflow" I have the following suggestions:

## 1. Cleanup flyout
Remove the Step indicators from the form. There are only two steps anyhow. I also suggest moving the create ML job button to the footer of the flyout. (And removing the create ML job section.) This would make sure the button is always reachable and the only element catching the user's eye.

[2020-09-18 07:59] elasticmachine commented on #77852
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-18 08:05] shahzad31 opened #77853 "[CSM] add impactful metrics panel(Hight traffic pages)"
**Describe the feature:**

As part of https://github.com/elastic/uptime/issues/185

This is an implementation issue for Hight traffic pages table inside impactful metrics panel

## High traffic pages

This section holds:

### Headline `High traffic pages` + icon `iInCircle`

### Top 10 pages (by impression count) data grid
sorted by traffic; pagination; sorting of all columns, the possibility to a

[2020-09-18 08:05] elasticmachine commented on #73037
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 08:05] elasticmachine commented on #77853
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 08:09] meierfra-ergon commented on #77590
@mlaterman In my case, after installing the 7.9.1 RPM, these directories (all in /usr/share/kibana/) are owned by root and therefore not writable for the kibana user:
[code]

If I make the same test with 7.8.1 RPM it looks like this:
[code]

I`m not sure in which direction your investigation likes to go. but its quite obvious that in 7.8 rpm the post_install.sh script had chmods for this directori

[2020-09-18 08:14] #72054 closed

[2020-09-18 08:14] markov00 commented on #77530
@wylieconlon @flash1293 the current mechanism works only on XY axis charts and it's not implemented in Pie charts.

- a pie chart doesn't have a cursor over an axis but we can just highlight categories
- gauge/goal charts instead can probably have a cursor that works across its range (not yet implemented)
- heatmaps can have selectable ranges on X and Y
- treemaps, as for pie, can highlight catego

[2020-09-18 08:20] flash1293 commented on #77811
@wylieconlon Just to clarify - there wouldn't be a separate "rate" operation in the side bar for this, but it's a setting for the sum, average and derivative operations?

[2020-09-18 08:27] elasticmachine commented on #77719
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 08:27] elasticmachine commented on #77734
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 08:34] elasticmachine commented on #77812
Pinging @elastic/ml-ui (:ml)

[2020-09-18 08:51] #77500 closed

[2020-09-18 08:53] #71995 closed

[2020-09-18 08:58] aGiant commented on #77504
1. choose Machine Learning -> create new job -> population -> using whole filebeats-.*
2. choose source.ip in Population field
3. choose high mean source.bytes
4. then error by adding anything

[2020-09-18 09:08] #76223 closed

[2020-09-18 09:09] azasypkin commented on #76239
Supposedly fixed and re-enabled in https://github.com/elastic/kibana/pull/77746.

[2020-09-18 09:09] #76239 closed

[2020-09-18 09:24] stratoula commented on #67415
@flash1293 what we will lose with not having a special link is the getHref of the uiActions meaning the right click and open a new Tab from Discover. But maybe we don't want this for Lens (?)

[2020-09-18 09:26] sushrut111 commented on #75972
I will create a PR soon. Thank you!

[2020-09-18 09:30] sgrodzicki commented on #73070
I've just upgraded to Safari Version 14.0 (15610.1.28.1.9, 15610) and scrolling got smoother:

![Sep-18-2020 11-24-29](https://user-images.githubusercontent.com/712836/93581522-8e429300-f9a1-11ea-9608-126c479926dd.gif)

There is a memory warning, however:

Rendering is still not on par with Google Chrome (Version 85.0.4183.102):

![Sep-18-2020 11-30-06](https://user-images.githubusercontent.com/71

[2020-09-18 09:38] aarju commented on #75042
A lot of the requirements organizations have for logging and alerting are driven by regulatory and compliance efforts such as SOC2, PCI, HIPAA, etc. In many of these regulations you need to be able to be 'provably' secure and show that you do not have any large gaps in your logging and alerting.

To satisfy our SOC2 and other regulatory requirements we currently use a watcher that runs hourly and

[2020-09-18 09:44] majagrubic opened #77862 "[Dashboard] Show Panel Title Switch Erases Title"
Embeddable panel titles get erased when toggling the 'Show panel title' switch off.

**Steps to reproduce:**

1. Add an embeddable panel

2. Edit the panel title, type in a new title, click Save in modal (title displays as expected)

3. Edit the panel title, switch 'Show panel title' to _off_, click Save in modal

4. Edit the panel title again, see that the title you added in step 2 is gone.

 **E

[2020-09-18 09:44] elasticmachine commented on #77862
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 09:48] sqren commented on #77717
Is this required for 7.10 or can it wait for 7.11?

[2020-09-18 09:51] cauemarcondes commented on #77573
@matschaffer I've worked on a similar issue, that will be released on `7.10`. https://github.com/elastic/kibana/issues/77332 I think it'll fix you issue too.

[2020-09-18 09:55] aarju commented on #75042
The auditing of any changes to alerts or exceptions lists is also a concern of multiple regulatory frameworks. Auditors and SOC managers often want to know the who, what, when, why of any rule changes. For example we currently keep a copy of all or our rules and exceptions in Github to track who made the changes and when, but that doesn't help in the case of a rogue SOC analyst making changes to t

[2020-09-18 10:01] flash1293 commented on #67415
@stratoula Let's implement it without an href for now (just a regular button). We can always extend later, but a URL scheme might be hard to take back

[2020-09-18 10:05] hendry-lim opened #77864 "[APM] Transaction error rate is empty even though they are error occurrences"
**Versions**
Kibana: 7.10.0-SNAPSHOT
APM Server: 7.9.0
Elasticsearch: 7.10.0-SNAPSHOT

Noticed that the Transaction error rate and Error rate % are empty, even though there were errors occurred within the time range.

<details>
<summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/48344515/93585218-11cba680-f9d9-11ea-8dc7-52d442ac440a.png)

![image](https://user-images

[2020-09-18 10:05] elasticmachine commented on #77864
Pinging @elastic/apm-ui (Team:apm)

[2020-09-18 10:05] #75263 closed

[2020-09-18 10:15] hendry-lim opened #77867 "Timed out error toasts appeared randomly"
**Kibana version:** 7.10.0-SNAPSHOT

**Elasticsearch version:** 7.10.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
Timed out errors kept appearing.

**Steps to reproduce:**
Not too sure how to reproduce this, but it just seems to appear randomly.

**Screenshots (if relevant):**
![image](https://user-images.githubusercontent.com/

[2020-09-18 10:16] dgieselaar commented on #77864
@hendry-lim The implementation is 7.10 will change and will be based on `event.outcome` rather than `http.response.status_code`. This value should be reported, and APM Server should fill it in if it's not set. For the latter, you'll need to upgrade APM Server as well. Can you give that a shot and see how it works out?

[2020-09-18 10:21] hendry-lim commented on #77864
Ah that makes sense, I will try that out, thanks.

[2020-09-18 10:25] elasticmachine commented on #77504
Pinging @elastic/ml-ui (:ml)

[2020-09-18 10:32] afharo commented on #74929
This issue has been stale for more a week and we confirmed it's been fixed in recent versions. I'll proceed and close this issue.

@plcharl feel free to reopen it if you feel like something else needs to be done.

[2020-09-18 10:32] #74929 closed

[2020-09-18 10:45] peteharverson commented on #77504
@aGiant would you be able to provide the exact version of Kibana you are using?

In the first step of the job wizard, are you selecting an index pattern or a saved search? There was an issue https://github.com/elastic/kibana/pull/75731, fixed in 7.8.2, when using the population wizard when selecting a saved search.

Is an error displayed on the page? If so, would you be able to provide a screensho

[2020-09-18 10:45] sgrodzicki commented on #71851
@darnautov we could help linking to the right place in the Logs UI. Do you think filtering by `event.dataset` and time range is accurate enough?

<img width="993" alt="Screenshot 2020-09-18 at 12 42 53" src="https://user-images.githubusercontent.com/712836/93589200-c4d1db00-f9ac-11ea-94e8-2bf4b2df37c4.png">
<img width="1280" alt="Screenshot 2020-09-18 at 12 44 04" src="https://user-images.githubus

[2020-09-18 10:56] sqren commented on #77695
I don't think we've seen customers with 100s of environments, so I'm not sure if this is a scenario we should invest in improving.
If we add [support for spaces](https://github.com/elastic/kibana/issues/49647) would that alleviate the problem?

For the time being, instead of registering a separate environment per dev, could they set a separate service name? I know it seems like a hack but would pr

[2020-09-18 10:59] kibanamachine opened #77870 "Failing test: X-Pack APM API integration tests (basic).x-pack/test/apm_api_integration/basic/tests/metrics_charts/metrics_charts·ts - APM specs (basic) Metrics when data is loaded for opbeans-node returns metrics data CPU usage has correct series overall values"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8242/)

[2020-09-18 10:59] elasticmachine commented on #77870
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-18 11:08] afharo commented on #56762
Hey @joshdover! Sorry for my late response. This collector is treated in a special way at the moment:

1. For telemetry purposes, it only reports the OS information ([code](https://github.com/elastic/kibana/blob/fe1c508d8d42f750f830fc2e3caec5aaa4f66c0d/src/plugins/telemetry/server/telemetry_collection/get_kibana.ts#L52) stripping `kibana_stats` out of the payload).
2. In Monitoring, it's used by t

[2020-09-18 11:21] sqren commented on #77697
Isn't this a duplicate of https://github.com/elastic/kibana/issues/53571? If that's the case it's not super critical.

[2020-09-18 11:33] sqren commented on #77573
@cauemarcondes perhaps you can get access to that environment and verify your fix?

[2020-09-18 11:33] elasticmachine commented on #77835
Pinging @elastic/datavis (Team:DataVis)

[2020-09-18 11:33] elasticmachine commented on #77835
Pinging @elastic/endpoint-data-visibility-team (Team:Endpoint Data Visibility)

[2020-09-18 11:34] kevinlog commented on #77835
apologies to this team, incorrect tag on my part

[2020-09-18 11:46] valeriy42 opened #77874 "[ML] Use baseline in decision path visualization for classification"
Decision path visualization for classification would be much easier to interpret if it would lead to the prediction probability for the selected class? It is similar to how the decision path for regression leads to the final prediction.

To achieve this, we need two things:
1. Compute the baseline log-odd which is not available in the results table
2. Transform the numbers from the log-odds space

[2020-09-18 11:46] elasticmachine commented on #77874
Pinging @elastic/ml-ui (:ml)

[2020-09-18 11:50] aGiant commented on #77504
![image](https://user-images.githubusercontent.com/25084782/93594258-cd7adf00-f9b5-11ea-8b95-460de43dbcef.png)
![image](https://user-images.githubusercontent.com/25084782/93594312-e5526300-f9b5-11ea-82c4-694ec5ae6129.png)
![image](https://user-images.githubusercontent.com/25084782/93594332-f00cf800-f9b5-11ea-9c12-d70b82118780.png)

[2020-09-18 11:53] #77741 closed

[2020-09-18 12:01] elasticmachine commented on #77870
Pinging @elastic/apm-ui (Team:apm)

[2020-09-18 12:02] #77506 closed

[2020-09-18 12:16] elasticmachine commented on #77867
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-18 12:16] flash1293 opened #77878 "[Lens] Allow custom labels for ranges"
Currently ranges use the range formatter which picks up the limits of the range and puts them in a predefined template. In some cases it's helpful to give ranges a custom name similar to how you can set custom names for filters in the filters aggregation.

This would include the following steps:
* Extend allowed range agg config to have individual labels
* Map them correctly to the result and make

[2020-09-18 12:16] elasticmachine commented on #77878
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 12:16] elasticmachine commented on #77878
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-18 12:16] yuliacech opened #77879 "[ILM] Improve UX of "Add policy to template" modal"
The modal should indicate templates that already have the policy in question attached and an option to delete the policy from a template(s). As suggested by @sebelga in [comment](https://github.com/elastic/kibana/pull/77077#pullrequestreview-490386288) on #77077

[2020-09-18 12:16] elasticmachine commented on #77879
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-18 12:17] flash1293 commented on #77878
cc @cchaos

[2020-09-18 12:21] flash1293 opened #77881 "[Lens] Improve range formatting"
Currently the range field formatter uses `≥` and `<`. This is not optimal as it's hard to understand for some users and we can't show an exemplary tooltip in all places.

Copying over @cchaos writeup how it could work (with Lens as an example):
I still find the format `≥ 0 and < 1000` extremely hard to read. I understand that the distinction is necessary when **creating** to interval, but I think

[2020-09-18 12:21] elasticmachine commented on #77881
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 12:21] elasticmachine commented on #77881
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-18 12:27] flash1293 opened #77883 "Broken area chart on unordered ranges on x axis"
**Kibana version:** master

**Describe the bug:**

When using the range aggregation with an area chart and the ranges are not ordered correctly, the chart will not be rendered correctly

**Steps to reproduce:**
1. Create an area chart
2. Configure x axis as range agg
3. Use the following ranges: `5000-6000`, `0-1000`, `1000-2000`

**Expected behavior:**

The chart is shown correctly, treating each

[2020-09-18 12:27] elasticmachine commented on #77883
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 12:30] flash1293 opened #77884 "Visualize: Improve histogram aggregation forms"
In Visualize it's possible to configure a histogram aggregation.
The initial configuration looks like this:
<img width="308" alt="Screenshot 2020-09-18 at 14 28 09" src="https://user-images.githubusercontent.com/1508364/93597374-3a44a800-f9bb-11ea-98fa-bd6ca2e553c0.png">

This is confusing to users because it neither matches how Elasticsearch works under the hood, nor does it explain how the two p

[2020-09-18 12:30] elasticmachine commented on #77884
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 12:40] sqren opened #77886 "[APM] Service map: Add empty state"
It's not possible to distinguish between "no data" and "data loading" because the canvas is empty either way.

<img width="500" src="https://user-images.githubusercontent.com/209966/93598235-b4296100-f9bc-11ea-9ca4-a6ba75f87414.png">

## Solution
Show an `EuiEmptyPrompt` component on the page with the following content;

![Service maps - Empty state](https://user-images.githubusercontent.com/41042

[2020-09-18 12:40] elasticmachine commented on #77886
Pinging @elastic/apm-ui (Team:apm)

[2020-09-18 12:41] azasypkin opened #77888 "Document `Redirect URL` for the OpenID Connect implicit flow and `ACS URL` for SAML"
There are two URLs that are basically a part of our public interface that we haven't explicitly mentioned in the Kibana documentation yet:

* Assertion Consumer Service (ACS) URL for the SAML provider: `/api/security/saml/callback`
* Redirect URL for the OpenID Connect implicit flow: `/api/security/v1/oidc/implicit`

We mention these in different places in Elasticsearch and ESS docs, but it'd also

[2020-09-18 12:41] elasticmachine commented on #77888
Pinging @elastic/kibana-security (Team:Security)

[2020-09-18 12:44] flash1293 commented on #61777
As discussed offline, in the first iteration we will only implement the simplest form of moving average (averaging over a window of values, treating all of them equally).

We didn't talk about this, but I think it makes sense to expose a window parameter in some way as we can't easily suggest a good value.

[2020-09-18 12:46] Dosant commented on #77867
Duplicate of https://github.com/elastic/kibana/issues/77579

[2020-09-18 12:46] #77867 closed

[2020-09-18 12:46] flash1293 commented on #61776
@wylieconlon It seems like adding cumulative distribution isn't more work in our architecture than just allowing this for timeseries, right? In that case I would suggest implementing this from the start.

[2020-09-18 12:50] yuliacech opened #77889 "[ILM] Improve UX of "add snapshot policy" in Delete phase"
Edit policy form should redirect to create a new/custom snapshot policy if there are no SLM policies yet or user's input doesn't match any existing policies. The SLM policy creation form then should redirect back to ILM with user's input in the form being restored. As suggested by @alisonelizabeth in [comment](https://github.com/elastic/kibana/pull/72473#pullrequestreview-456910852) on #72473.

[2020-09-18 12:50] elasticmachine commented on #77889
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-18 12:54] dej611 commented on #77881
There's also [another proposal](https://github.com/elastic/kibana/pull/76121#issuecomment-693024206) of using the `within` semantic of `7≤ and < 10`

[2020-09-18 13:02] ivssh commented on #77286
@legrego,

Please find the requested configurations as below:

Kibana configuration: [kibana.yml](https://gist.github.com/ivssh/8903f6a07ecb17e5824991e24181c720)

Elasticsearch configuration: [elasticsearch.yml](https://gist.github.com/ivssh/815b94e5f3cac75a50e0fd928cad3a5e)

We don't have anything between Kibana and Elasticsearch. We use nginx between external requests and Kibana.

[2020-09-18 13:04] kibanamachine commented on #77870
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8244/)

[2020-09-18 13:06] stevewritescode commented on #68942
@Bamieh or @TinaHeiligers have you done any codework yet toward the completion of the UI changes described in the ticket? The part about adding a flyout to describe the security telemetry data.

I think either myself or @pjhampton will pick up this work for 7.10 if you don't have time. But I certainly don't want to conflict if you're plans if you've already started it or plan to complete it soon.

[2020-09-18 13:06] legrego commented on #77286
@ivssh thanks for the config, I don't see anything out of the ordinary there.

What does the nginx proxy do? Can you post its configuration as well?

[2020-09-18 13:06] flash1293 commented on #77012
Hi @PavithraCP

First, thanks for looking into contributing to Kibana - contributors are always welcome :green_heart:

This issue is indeed up for grabs, but a word of warning - you will have to make changes in quite some places. So while not terribly complicated, this issue can become a bit larger. If you want to start with something with something smaller within Lens, I can recommend https://git

[2020-09-18 13:08] yuliacech commented on #76211
Closed via [#77193](https://github.com/elastic/kibana/pull/77193).
Duplicate of [#57642](https://github.com/elastic/kibana/issues/57642).

[2020-09-18 13:08] #76211 closed

[2020-09-18 13:10] ivssh commented on #77286
@legrego,

Please find the nginx conf here: [nginx.conf](https://gist.github.com/ivssh/7c053eed7fa7603fef6277f36c2bd237)

We are indeed setting some headers here, But I guess its only between the browser and Kibana server only. Any thoughts on this? I may be wrong in understanding this.

[2020-09-18 13:10] yuliacech commented on #68694
Closed via [#74271](https://github.com/elastic/kibana/issues/74271)

[2020-09-18 13:10] #68694 closed

[2020-09-18 13:16] yuliacech commented on #56703
Closed via [#72888](https://github.com/elastic/kibana/pull/72888)

[2020-09-18 13:16] #56703 closed

[2020-09-18 13:28] blakerouse commented on #75913
@ruflin I think in this case it would the the actual certificate data in the YAML. Something we need to add support for Agent side.

I don't even know if it's worth adding the ability to set it to a path. It will be very hard for that path to be the same path across all platforms. I would recommand installing the certificate as a system certificate so Agent will look in the correct location for ea

[2020-09-18 13:35] ivssh commented on #77286
@legrego,

I have updated the gist, had copy-pasted the wrong config file. Please find the updated gist [here](https://gist.github.com/ivssh/7c053eed7fa7603fef6277f36c2bd237)

[2020-09-18 13:46] formgeist commented on #77886
We could start with showing a `EuiEmptyPrompt` component on the page with the following content;

![Service maps - Empty state](https://user-images.githubusercontent.com/4104278/93604784-2488b000-f9c6-11ea-8d14-4133f247b75c.png)

[2020-09-18 13:51] yuliacech opened #77896 "[ILM] Edit policy UX/codebase improvement"
Currently, edit policy form is loading all existing ILM policies to check if the name input contains any duplicate value. Tis can be slow when there are a lot of existing ILM policies. Also the loaded policies can become stale if any policy is changed/deleted after they are loaded.
Suggested improvements:
- [ ] Load only the existing policy if the form is editing
- [ ] Don't load anything from bac

[2020-09-18 13:51] elasticmachine commented on #77896
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-18 13:53] #77750 closed

[2020-09-18 14:00] jfsiii commented on #77133
@rahulgupta-qasource

**Summary:** we believe this has been fixed by https://github.com/elastic/kibana/pull/77640. There are some unrelated issues on staging at the moment which require a workaround to deploy.

The Kibana 8.x SNAPSHOT builds are failing on the default 1GB memory. However, if you increase that to 2GB, they will behave as expected

### Select 8.x
<img width="945" alt="Screen Shot 20

[2020-09-18 14:01] mbondyra opened #77898 "[Lens] Identify and fix performance bottlenecks with large index patterns"
The goal of this issue is to gather the circumstances of where Lens becomes too slow to being used comfortably.
This issue is created to track these situations, decide what to do with them, fix them and find a strategy to make the fixes sustainable (eg performance testing).

Known cases:
-  loading big index patterns like filebeat-* (more than 4000 fields)

[2020-09-18 14:02] elasticmachine commented on #77898
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 14:10] legrego commented on #77286
@ivssh  I think the issue is that nginx is exposing multiple services which collide with URL paths that Kibana is expecting to use:

1) Kibana at `/`
2) Elasticsearch at `/elasticsearch`

Since Kibana is running at the root (`/`), Kibana's requests to its own `/elasticsearch` endpoint are failing because nginx is rerouting this to Elasticsearch directly, instead of to the Kibana server. Elasticsea

[2020-09-18 14:17] mattkime commented on #77338
You can export saved objects from management / saved objects. Find a saved object to export. Don't include related objects. Open the downloaded ndjson file. Look for `title` and modify it as appropriate. Upload with 'create new ids'. You'll want to refresh the field list from index pattern management. Now you should be all set.

Yes, definitely.

[2020-09-18 14:23] pgayvallet commented on #71927
All blockers have been addressed. https://github.com/elastic/kibana/pull/77599 is the final PR that is going to close this issue.

[2020-09-18 14:38] TinaHeiligers commented on #68942
@stevewritescode We haven't started any work for adding the flyout. It'll be better if your team handles it because you know what data you'll be showing. We'd be guessing at best 😉

[2020-09-18 14:42] liza-mae opened #77903 "Seeing version_conflict_engine_exception errors in kibana logs"
**Kibana version**: 8.0.0-SNAPSHOT Latest

**Elasticsearch version**: 8.0.0-SNAPSHOT Latest

**Server OS version**: Ubuntu

**Original install method (e.g. download page, yum, from source, etc.)**:
Snapshots

**Description of the problem including expected versus actual behavior**:
Seeing some error messages in the kibana logs on startup, not sure what they mean, is this something of concern or is

[2020-09-18 14:42] elasticmachine commented on #77903
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-09-18 14:45] peteharverson commented on #77504
@aGiant could you confirm if you are choosing a Kibana index pattern or saved search on the first page of the wizard. I have only found an error with 7.8.0 when choosing a saved search.

![image](https://user-images.githubusercontent.com/7405507/93611090-c4920980-f9c5-11ea-9994-b5de14eb972d.png)

And are you able to successfully create a Single Metric or Multi-metric job on this data?

[2020-09-18 14:47] pmuellr commented on #77577
Since we use the SO find API, hopefully this doc is relevant: https://www.elastic.co/guide/en/kibana/current/saved-objects-api-find.html, per the `search` and `filter` options ...

[2020-09-18 14:50] pmuellr commented on #77577
We don't have a ton of examples using `_find()`, but here's one that shows the basic structure of the params needed:

https://github.com/elastic/kibana/blob/32a8eb2aaed0b2451c0af1d89e1513b7ec8cf5c9/x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/find.ts#L315-L321

[2020-09-18 14:54] yuliacech opened #77906 "[ILM] Migrate server code to new Elasticsearch client"
Server code should stop using `LegacyAPICaller` and updated to use the new Elasticsearch client

[2020-09-18 14:54] elasticmachine commented on #77906
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-09-18 14:55] sorantis commented on #73962
If no grouping is applied, then I think the expected behavior is correct - average across currently displayed nodes.
A more interesting case is when the nodes are grouped, especially in the context of the selected node. A few thoughts
- when the nodes are grouped and none is selected, default to average across the displayed nodes.
- when the nodes are grouped and a node is selected, show the avera

[2020-09-18 15:16] mikecote commented on #64849
As I'm continuing my work on this (here: https://github.com/elastic/kibana/pull/77679), two questions came up:
- Do we need to notify usage when deleting a connector? We don't do license checks there in case the user is on a downgraded / expired license and wants to delete now-invalid connectors.

- Do we want to notify there or notify at every interval the alert runs? Any or both are easily doabl

[2020-09-18 15:25] wylieconlon commented on #77530
@markov00 Thanks for the detailed response. I'm not sure I understand this part of the comment:

Syncing all the time scales was one of the behaviors I was assuming because it's such a commonly used dimension in all of our charts. What's wrong with showing tooltips on unrelated charts that all have time scales?

[2020-09-18 15:40] #77835 closed

[2020-09-18 15:55] dej611 commented on #77567
Cannot reproduce locally this issue (used [instructions here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/lens/readme.md) to run the tests)

I tried to run the test in isolation (`--grep="existing_fields"`), by the `Lens` group (`--grep="Lens"`) and the entire suite (no grep) and I have not been able to reproduce it.
Jenkins seems to not have reported other failures about this in

[2020-09-18 15:56] wylieconlon commented on #77881
I like the idea of representing the range by showing the approximate maximum value, but I don't think the symbol  ` - ` should be used as the separator because it also looks like math. My preference it to join it with the word ` to `, for example:

`1024.00 to 2047.99` when given `1024` and `2048` as inputs.

[2020-09-18 15:57] CovertLeopard commented on #56395
I'd love to see this functionality as well.

[2020-09-18 16:10] VijayDoshi commented on #73418
@timroes We'll have an intentionally very limited number of places where we will want to do this sort of thing; however, we will need to do it. Timing is not prescribed - if we needed to ship as is for 7.10 that's okay.
I'd look to the Tech Leads to figure out what the right path is from a code perspective. We already do this for CSVs - I'd be surprised (or perhaps puzzled) if the team came back a

[2020-09-18 16:21] #76996 closed

[2020-09-18 16:22] wylieconlon commented on #61776
@flash1293 I took a second look at cumulative distributions, and have come to the conclusion that we should implement it as a completely separate function. I attempted to create some examples using Vega, and the main methods I found were:

* Apply a series of functions to calculate a result that I don't have confidence in. For reference, I was implementing it with the following functions:
  1. Cal

[2020-09-18 16:23] kertal opened #77923 "[Discover] Save last sidebar filter settings per user"
For users that are specially interested in certain field types it would be useful to persist their last used filter settings in Discover sidebar. This would prevent to e.g. uncheck `Hide missing fields` over and over again

<img width="558" alt="Bildschirmfoto 2020-09-18 um 18 22 02" src="https://user-images.githubusercontent.com/463851/93621509-f6ae6600-f9db-11ea-9fda-c001a3eb05b8.png">

idea bro

[2020-09-18 16:23] elasticmachine commented on #77923
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 16:28] wylieconlon commented on #77811
@flash1293 Yes, it would be an option on those functions, instead of a separate function. This lets us avoid creating new functions with potentially confusing names, which was originally proposed in the [discussion thread](https://github.com/elastic/kibana/issues/62375). Based on @cchaos's previous work, we already agreed to have this as an option on the Derivative function. The only change is to

[2020-09-18 16:31] #54793 closed

[2020-09-18 16:31] wylieconlon commented on #77898
Updating the title because there is only one example

[2020-09-18 16:32] EricDavisX commented on #77133
I concur - I see this fixed in latest 8.0 snapshot.  shall we close it out?

[2020-09-18 16:33] #77813 closed

[2020-09-18 16:34] wylieconlon commented on #61777
I agree that we should expose options for controlling the window. In my proposal above, I have several examples of different options we can show the user. My preference is to expose a "start and end" offset separately for reasons given above.

[2020-09-18 16:41] rashmivkulkarni opened #77931 "(Accessibility) Ensures buttons have discernible text - a11y error"
a11y error seen on clicking Dashboard edit panel - edit visualization - `save and return` to dashboard panel

[code]
<img width="1788" alt="Screen Shot 2020-09-18 at 9 38 12 AM" src="https://user-images.githubusercontent.com/11466284/93622858-b1197b00-f992-11ea-99ec-22118d88181f.png">

[2020-09-18 16:41] elasticmachine commented on #77931
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 16:43] kibanamachine opened #77933 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/spaces·ts - Kibana spaces page meets a11y validations a11y test for manage spaces menu from top nav on Kibana home"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8248/)

[2020-09-18 16:43] elasticmachine commented on #77933
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-18 17:04] shahzad31 opened #77935 "[CSM] Improve query params and projections"
As flagged in PR review https://github.com/elastic/kibana/pull/77516#discussion_r491042517

We should combine query params usage and the common projections that are created on server side to make more resilient to changes

[2020-09-18 17:04] elasticmachine commented on #77935
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 17:13] hbharding commented on #73962
Oversight / mistake on my part. You can keep the text as it exists in the code now.

Yes - avg for the currently displayed nodes makes sense. I.e. if 1000 nodes exist, but there is a filter applied so only 10 nodes appear, the calculation should be based on the 10 visible nodes.

Good questions here. For simplicity, I think we should default to showing the past 24 hours of data in the timeline, re

[2020-09-18 17:19] ThomThomson opened #77936 "[Visualize] Horizontal Bar Graph Visualizations have Vertical Bar Graph Type"
**Kibana version:** Master

**Describe the bug:**
Seems like horizontal bar graph visualizations are getting registered as vertical bar graphs in the visualize listing page.

**Steps to reproduce:**
1. Create a horizontal bar graph and save it
2. Find it in the visualize listing page
3. ???
4. Profit

**Expected behavior:** Horizontal should be listed as horizontal

**Screenshots (if relevant):**

[2020-09-18 17:19] elasticmachine commented on #77936
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 17:38] AlonaNadler commented on #61777
why do we need start and end? I find it to be confusing. I think the ability to state a simple window that takes into consideration the intervals is good enough. In the future, Lens will have an offset feature and then users can generically move the line based on the offset they want
Do you agree?

[2020-09-18 17:38] liza-mae opened #77937 "Uptime app tests throwing unhandled promise rejection"
I am getting an unhandled promise rejection detected error and it is terminating the Kibana FTR, when this happens I don't get a report generated to see all the failures.

**Platform: cloud
Versions: master, 7x, 7.9**

[code]

I took a look at the code and I believe the calls to ``` retry.tryForTime``` in the below files are missing an ```await```.

[code]

[2020-09-18 17:38] elasticmachine commented on #77937
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 17:38] elasticmachine commented on #77937
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-18 17:46] AlonaNadler commented on #73418
In the current situation, we consciously decide to promote Lens and TSVB. We already know it's a change in behavior for some users and will require an adjustment. At the same time, we are not removing any functionality.
In the past when we introduced new functionality occasionally we had a setting that allowed users to revert back. This case is different. Kibana decided to promote Lens, TSVB cause

[2020-09-18 18:00] lukeelmers commented on #77360
I was just talking about error handling in expressions with @lizozom yesterday. I think there's more we can do here to surface additional data about the errors from our data retrieval expression functions.

The one thing you could to today is provide a custom `onRenderError` to the expression loader to hook into errors and decide whether or not to surface them in the UI. If you don't provide it, t

[2020-09-18 18:03] miukimiu commented on #73418
The Figma prototype is now updated with the modal for OSS:   [figma prototype (anyone at elastic can see)](https://www.figma.com/proto/5tfLgoUL5qpiVdEpw0DImo/Visualize-modal?node-id=26%3A136&viewport=363%2C560%2C0.25&scaling=min-zoom)

![Option A 2 - OSS with basic cards](https://user-images.githubusercontent.com/2750668/93629570-70485300-f9e0-11ea-8411-590136ecacc2.png)

<img width="1440" alt="Op

[2020-09-18 18:07] wylieconlon commented on #61777
I'm open to finding a better way of explaining these options, but I think we need to offer at least 2 options. The current Kibana behavior is using the calculation that's [usually used in finance, but not in engineering](https://en.wikipedia.org/wiki/Moving_average):

The current option of just "window size: 5" is not enough. This is why I proposed an input called "start" and "end". Maybe a simple

[2020-09-18 18:09] gchaps commented on #71598
@PavithraCP Yes, its available and happy to have your help.  Feel free to ping me on any questions you might have.

[2020-09-18 18:14] jasonrhodes commented on #73978
@weltenwort correct me if I'm wrong, but if we're moving to the data plugin in the client and using search strategies, we will no longer need to worry about this migration, right? See: https://github.com/elastic/kibana/issues/76677

[2020-09-18 18:16] lockewritesdocs commented on #70120
@rashmivkulkarni, we recently updated the CCR tutorial, which includes a link to [configuring CCR user privileges](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/stack-management.html#stack-management-ccr) as part of the [prerequisites](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/ccr-getting-started.html#ccr-getting-started-prerequisites).

Given those changes, I think

[2020-09-18 18:22] alexfrancoeur commented on #74571
As useful as a feature as I think this is, I believe that the primary goal for MVP should be organization.

Either approach will work, and at some point, I think this functionality will be necessary.

We'll be fine tuning MVP requirements next week and can update this issue accordingly.

[2020-09-18 18:31] jasonrhodes commented on #69611
@mikecote @pmuellr @Zacqary @chemalopezp as far as a way forward, I'm not sure if I have a clear understanding of what we are trying to do here and what our next steps are? I'll try to summarize my understanding so far:

Problem 1: A user is asking to be able to reference `system.*` values inside their alert message, and we currently don't provide that as an available context variable. We could po

[2020-09-18 18:32] formgeist commented on #77589
@justinkambic Sounds good to me, let's tackle the icons in another issue.

[2020-09-18 18:45] ryankeairns commented on #77449
Fixed by #77802

<img width="643" alt="Screen Shot 2020-09-18 at 1 44 51 PM" src="https://user-images.githubusercontent.com/446285/93633812-2c8c2400-f9b5-11ea-94ff-63ff1952e0e6.png">

[2020-09-18 18:45] #77449 closed

[2020-09-18 18:50] joshdover opened #77945 "Introduce a `server.maxUploadBytes` setting for all upload endpoints"
There are several HTTP endpoints in Kibana that serve simply to upload different data to Elasticsearch. One issue that users run into with these endpoints is that the default `server.maxPayloadBytes` setting is too low for these endpoints.

In general, we do not want to increase the `server.maxPayloadBytes` setting because:
- It increases Kibana's vulnerability to DOS attacks since parsing and pro

[2020-09-18 18:51] elasticmachine commented on #77945
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-18 18:51] rashmivkulkarni commented on #70120
Thanks so much for all the effort for improvising the docs and providing the doc links. Closing this ticket.

[2020-09-18 18:51] #70120 closed

[2020-09-18 19:00] ivssh commented on #77286
Thanks for the clarifications @legrego, this helps a lot. Closing this in favour of the above comment.

[2020-09-18 19:00] #77286 closed

[2020-09-18 19:06] aGiant commented on #77504
@peteharverson just identified, the saved search was used for the creation of population anomaly detection and the Single or Multi-metric jobs were totally fine & could be created correctly.

[2020-09-18 19:26] ph commented on #75913
@ruflin Its something I've discussed a long time ago, here a way to embed certificate authorities, certificate or keys in anything that support TLS options. https://github.com/elastic/beats/pull/21179

[2020-09-18 19:42] #72090 closed

[2020-09-18 19:47] poffdeluxe commented on #65691
I've looked into this and I think there are two issues going on:
1. Canvas isn't properly handling the emeddable output when the title is disabled. When the title is disabled in the embeddable panel, the title is set to an empty string. Canvas interprets the empty string and undefined in the same way and doesn't set the `title=` arg in the embeddable expression. This then causes the title input fo

[2020-09-18 20:02] wylieconlon opened #77949 "[Lens] Allow a single operation to create multiple user-facing operations"
This is an issue describing a current limitation of the Lens architecture and outlining some approaches to fixing it.

## Example use case

There are some types of functions that create key/value pairs, or that produce multiple columns of output instead of multiple rows. For example:

* [Percentiles aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-me

[2020-09-18 20:02] elasticmachine commented on #77949
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-18 20:08] #68076 closed

[2020-09-18 20:21] pmuellr opened #77953 "[Alerting] alertsClient.update() creates orphaned API keys when SO update fails"
When the alertsClient `update()` - and `updateApiKey()` and `enable()` - methods are called, and the underlying saved object client `update()` method is invoked to save the alert, an API key will have been generated to be saved with the alert.

However, if that saved object client `update()` call fails, we don't invalidate that API key, and we also don't return it anywhere, so it will be orphaned

[2020-09-18 20:21] elasticmachine commented on #77953
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-09-18 20:25] ryankeairns opened #77954 "[Canvas] Move app menu into new stacked header"
With the [introduction of the new global, stacked header](https://github.com/elastic/kibana/pull/72331), application menus are now being relocated into the lower bar as seen below:

<img width="471" alt="Screen Shot 2020-12-02 at 2 12 22 PM" src="https://user-images.githubusercontent.com/446285/100926170-a017da80-34a8-11eb-930f-26a673643492.png">

For consistency, it would be preferable that Canva

[2020-09-18 20:25] elasticmachine commented on #77954
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-09-18 20:47] mlaterman commented on #77590
@meierfra-ergon, it seems like a fair place to start.
However I'm perplexed that changing the ownership was enough for Amazon Linux, but not for Aliyun.

[2020-09-18 20:57] kmartastic commented on #70266
Wow. These revisions are spot-on. Nice work @miukimiu.

[2020-09-18 21:00] kibanamachine opened #77957 "Failing test: Open one alert when more than one closed alerts are selected - Alerts Opening alerts Open one alert when more than one closed alerts are selected"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8253/)

[2020-09-18 21:00] elasticmachine commented on #77957
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-18 21:22] peterschretlen opened #77958 "Developer guide v1"
This is a meta issue for getting the Kibana developer guide to "v1.0" state.

## Guiding principals

- The primary **target audience** for these docs are internal plugin developers. It's okay to put some information in there that is irrelevant to external plugin developers (and call it out as such), but try not to put information that is irrelevant to plugin developers (for example, avoid detailed

[2020-09-18 21:22] elasticmachine commented on #77958
Pinging @elastic/kibana-docs (Team:Docs)

[2020-09-18 21:26] kmartastic commented on #77496
This would be a great enhancement for tracking use cases.
What happens if the value is greater than 360? @thomasneirynck

[2020-09-18 21:26] andrewvc opened #77959 "[Uptime] Tag List / Other filters only handle top 10 values"
The Uptime app supports a number of filters on the overview page (see below). These individually have a search box within, however the searchbox only searches the items preloaded on the page. We should, instead, search using the ES search API to allow users with, say, a large number of tags, to easily use those tags.

![image](https://user-images.githubusercontent.com/131427/93646325-9e6f6800-f9cb

[2020-09-18 21:26] elasticmachine commented on #77959
Pinging @elastic/uptime (Team:uptime)

[2020-09-18 21:56] PavithraCP commented on #77012
Thanks @flash1293 , as per your suggestion I'll start with https://github.com/elastic/kibana/issues/72243, I've dropped a note there too :)

[2020-09-18 21:57] PavithraCP commented on #72243
Hello @flash1293, I'm interested in picking this issue. Please let me know if this is still available.

[2020-09-18 21:59] PavithraCP commented on #71598
Thanks @gchaps , will do :)

[2020-09-18 22:07] niclask commented on #74766
I found a similar problem. I created a scripted field of string type. Then I tried to create a vertical bar visualization splitting the bar using terms and my scripted field. I get the error message:
Visualization error
[esaggs] > Bad Request

[2020-09-18 22:19] joshdover opened #77961 "Add support to SavedObjects.find for fetching more than 10k objects"
The current `find` API on the SavedObjectRepository cannot page through large data sets due to the `index.max_result_window` setting in Elasticsearch which defaults to 10,000 objects. This is starting to limit what plugins can build and we have several types of SOs that may have large numbers of objects now (SIEM's exception lists come to mind).

To alleviate this, we could add scrolling support t

[2020-09-18 22:19] elasticmachine commented on #77961
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-18 22:39] rw-access commented on #42406
@nyetwurk if you put `*` inside your quotes, it is interpreted as a literal asterisk `*` and not a wildcard

[2020-09-18 22:46] nyetwurk commented on #42406
`hostname:*"-stuff-"*` should work then. It does not.

[2020-09-18 23:13] rw-access commented on #42406
Those are surrounded by quotes, so `*` is not interpreted as a wildcard.

[2020-09-18 23:16] ferullo opened #77964 "Security App Hosts Page Groups on Hostname not host.id"
**Kibana version:**: 7.9.0

**Describe the bug:**
It seems the Security App's Hosts page finds hosts and groups them together based on the hostname (`host.hostname`?) not the host id (`host.id`). The effects of this are:
1. If Agent, Beats, or Endpoint don't all report the exact same hostname they appear as distinct hosts. See this discuss issue (https://discuss.elastic.co/t/elastic-siem-showing-d

[2020-09-18 23:16] elasticmachine commented on #77964
Pinging @elastic/kibana-security (Team:Security)

[2020-09-18 23:16] elasticmachine commented on #77964
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-09-18 23:20] nyetwurk commented on #42406
No, they are not. The *'s are not inside of the quotes.

[2020-09-18 23:22] rw-access commented on #42406
Sorry I think I chose words poorly. By "surrounded by quotes," I meant to say "in a quoted string.". Like `"this*example"`, not like `this*example`. I'm sorry for the confusion.

[2020-09-18 23:27] nyetwurk commented on #42406
Considering things like `foo-bar-baz` are a common pattern (e.g in index patterns), having a way to do `*-bar-*` seems like a pretty obvious requirement.

[2020-09-19 00:04] elasticmachine commented on #77964
Pinging @elastic/siem (Team:SIEM)

[2020-09-19 00:13] YulNaumenko commented on #74870
Update on the previous proposal: what about extending get API with some additional field or endpoint which return the list of secrets field names which was previously filled for this connector? In this case we may solve some generic case (not Email specific only for the user/password). In UI we can parse the fields and based on the specific UI requirement make some changes like proposed above with

[2020-09-19 00:22] alex-fedotyev commented on #72679
Probably I won't be able to go that far, @sqren :)
In case you or somebody starts that effort, keep in mind that this is docker-compose app which runs on 6 containers.

[2020-09-19 01:31] graphaelli opened #77966 "[APM] Agent API Key Management"
Metadata support added in https://github.com/elastic/elasticsearch/issues/48182

## Summary

APM has supported API Key authentication between agents and server for awhile.  So far, the easiest way to manage keys is using the [`apm-server  apikey` subcommand](https://www.elastic.co/guide/en/apm/server/master/api-key.html#create-api-key).  This is particularly burdensome for our ESS users.  Here, we

[2020-09-19 01:31] elasticmachine commented on #77966
Pinging @elastic/apm-ui (Team:apm)

[2020-09-19 01:44] kibanamachine commented on #77870
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8185/)

[2020-09-19 02:26] spong commented on #60053
So on the Detections side we've got a few different types of SO's we're working with spread across two separate plugins:

## Security Solution Plugin
[Detection Rules](https://github.com/elastic/kibana/blob/52bbffff6120ad30a8eab1061faa1b0553613994/x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.ts) ([Backed by Alerting/Actions SO](https://github.com/elasti

[2020-09-19 02:38] kibanamachine commented on #77870
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8259/)

[2020-09-19 02:38] kibanamachine commented on #77870
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8259/)

[2020-09-19 02:43] spalger commented on #77870
https://github.com/elastic/kibana/pull/77899 is working on fixing this, but since we're seeing a good deal of failures I'm going to skip for now.

master: https://github.com/elastic/kibana/commit/35bf9e7b6a33af2e8dfb4b9ee5b8fbdc5ef58562
7.x/7.10: https://github.com/elastic/kibana/commit/f4c07797e9ebd93b39db050a5820ce5fcc01c05e

[2020-09-19 05:55] flash1293 commented on #72243
@PavithraCP I assigned you to the issue, let me know when you have questions

[2020-09-19 06:13] flash1293 commented on #61777
At some point we definitely want to provide this in some way together with Holt-Winters etc.

Personally I don’t have a strong opinion on whether we need a window position setting from the start, I know too little about how this feature is used in practice in Kibana. I did a quick issue search and it seems nobody complained about not being able to set the window offset on TSVB so far, so IMHO I th

[2020-09-19 08:49] kibanamachine opened #77969 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should create an xy visualization with filters aggregation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8265/)

[2020-09-19 08:49] elasticmachine commented on #77969
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-19 10:59] darnautov opened #77971 "[KQL] Generate expression string from AST node"
**Describe the feature:**

The `@kbn/es-query` KQL utilities currently exports these methods:

* `fromKueryExpression`: Receives a KQL expression and returns the generated KQL AST.
* `toElasticsearchQuery`: Receives KQL AST and returns the generated Elasticsearch query.

There is no current utility for taking KQL AST and generating the KQL expression (`toKueryExpression`).

**Describe a specific u

[2020-09-19 10:59] elasticmachine commented on #77971
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-19 11:11] kibanamachine opened #77972 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/spaces·ts - Reporting APIs Exports and Spaces CSV saved search export should use formats from non-default spaces"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8267/)

[2020-09-19 11:11] elasticmachine commented on #77972
Pinging @elastic/kibana-test-triage (failed-test)

[2020-09-19 11:20] timroes commented on #77530
I think as part of this issue, we should not sync only within Lens, but make sure we connect those two systems. So with whatever system we're coming up with (e.g leveraging `uiActions`) we should imho also leverage that in TSVB afterwards, and have it in a generic way that would allow other implementations also to connect to it.

[2020-09-19 11:24] elasticmachine commented on #77269
Pinging @elastic/kibana-security (Team:Security)

[2020-09-19 11:28] timroes commented on #77161
I like that idea a lot. I wonder if we should still add a `print` or `reporting` value, that we could potentially leverage with some changes later in the reporting infrastructure. Usually this will most likely be similar to `noInteractivity`, but perhaps some charts could make reasonable distinction when drawing in `report` mode, e.g. one random example coming to my mind: input controls would most

[2020-09-19 12:16] nreese commented on #35135
Limited nested field support has been added to Kibana in [7.6](https://github.com/elastic/kibana/issues/1084#issuecomment-585178079).

[2020-09-19 13:43] elasticmachine commented on #77814
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-09-19 14:25] Bamieh commented on #70210
Other than "Overview" tab in observability the remainder of the navigation tabs are translated. "APM", "Canvas" and the other labels are not translated since they are part of the product name which we do not translate. Please let me know if I've missed anything

![image](https://user-images.githubusercontent.com/6191849/93669426-b95ddd00-fa9c-11ea-8f7f-78e9a538f9ea.png)

![image](https://user-imag

[2020-09-19 16:50] kibanamachine commented on #77969
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8273/)

[2020-09-19 19:18] arisonl opened #77973 "Logs alert time variable"
The Logs alert type does not expose a time variable on the UI. cc @mukeshelastic
<img width="600" alt="Screenshot 2020-09-19 at 22 10 40" src="https://user-images.githubusercontent.com/5412240/93687368-0904ce80-fac6-11ea-97c8-ad62208889dc.png">

[2020-09-19 19:25] mukeshelastic commented on #77973
Thanks @arisonl I added to our project board for triaging. Also can you name the time variable available to be used here?

[2020-09-19 20:37] dgieselaar commented on #77717
@sqren I'm not sure if it's required or not. But I think we should do it, if that helps. It's now unblocked as the necessary ES work was just merged to master.

[2020-09-20 14:15] shanekang opened #77976 "File could not be read"
**Kibana version:**
v7.9.1
**Elasticsearch version:**
v7.9.1
**Server OS version:**
Window 10
**Browser version:**
Chrome 85.0.4183.102
**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
File could not be read
Request Time-out

**Steps to reproduce:**
1. I tried to upload a text file that I would like to visualize

[2020-09-20 17:20] legrego commented on #73929
@arisonl @alexfrancoeur @VijayDoshi @joshbressers @aravindputrevu @elastic/kibana-security:

👋 Hey folks! I was going to make this a meeting, but this is a hard group to schedule, so I think starting this as an async discussion would be easier. We have a sync on Wednesday September 23rd at 8:00am ET that you are all welcome to attend (find it on the **Kibana Cal**), but I think we can handle most

[2020-09-20 17:34] #77255 closed

[2020-09-20 18:29] kibanamachine commented on #43963
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8226/)

[2020-09-20 22:18] kibanamachine commented on #77957
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8230/)

[2020-09-21 00:12] shanekang commented on #77976
It has been solved. Cheers.

[2020-09-21 00:25] #77976 closed

[2020-09-21 02:39] kin122 commented on #77338
@mattkime many thanks, i did what u told me, it works.
Looking forward to the next Kibana。

[2020-09-21 02:39] #77338 closed

[2020-09-21 03:48] jportner commented on #70051
Update: since the aforementioned announcement (which has since been deleted), [a new team has taken on responsibility for maintaining the hapi project into 2021 and beyond](https://github.com/hapijs/hapi/issues/4113).

[2020-09-21 06:52] rahulgupta-qasource commented on #77133
Hi @jfsiii / @EricDavisX

Thank you for sharing the feedback.

On increasing default 1GB memory to 2GB under 'Kibana 1 configuration', user is successfully able to deploy 8.0.0-SNAPSHOT Kibana cloud environment on [staging cloud platform](https://staging.found.no/) **(Fixed)**.

Screenshot:
![image](https://user-images.githubusercontent.com/59917944/93739088-0bba0d80-fc05-11ea-85da-b5877823f5e4.pn

[2020-09-21 06:52] #77133 closed

[2020-09-21 07:14] flash1293 commented on #77161
No strong opinion on the actual modes yet. I wonder whether we should have a map of settings instead of a single-dimension "mode".

[2020-09-21 07:30] elasticmachine commented on #77825
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-21 07:31] elasticmachine commented on #74046
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-09-21 07:35] flash1293 commented on #77567
You are right @dej611, from what I can tell it failed only twice in the last 90 days. So this seems to be an extremely rare case, not sure how we can debug it. The only cause I can think of is the request is too fast and the data is not available in Elasticsearch yet. @wylieconlon do you think putting a little loop in there waiting for the `logstash-*` data to become available is worth it?

[2020-09-21 07:46] meierfra-ergon commented on #77590
@mlaterman yes that is strange. It looks like that with Aliyun the the execute (x) permissions of the _bundles_ directory was not set:
`drw-r--r--  2 kibana kibana 4096 Sep 16 20:54 bundles`
this could be due to a different umask setting of this distribution.

[2020-09-21 08:13] flash1293 commented on #77881
@dej611 Thanks for listing out that proposal (`7≤ and < 10`) as well. Personally I'm not a fan because I don't think it's an improvement over what we have today. It might be just me but I think it's harder to parse than our current state.

[2020-09-21 08:15] meneses-pt commented on #77465
@wylieconlon These are the queries I ran:

With the request http://192.168.0.67:9200/jap_compras_gescom_artigos/_search?rest_total_hits_as_int=true
and the body:

`{
    "timeout": "1000ms",
    "terminate_after": 100000,
    "size": 0,
    "aggs": {
        "termsAgg": {
            "terms": {
                "order": {
                    "_count": "desc"
                },
                "size

[2020-09-21 08:19] flash1293 commented on #61776
@wylieconlon I'm fine with spliting it out. I think I misunderstood what you were planning to do initially - I thought it would just be about summing up a metric over histogram buckets without any normalizing. This seems like a much easier to implement feature which would also provide value, wdyt?

[2020-09-21 08:36] peteharverson commented on #77504
Thanks for the update @aGiant. Sounds like it was the same issue when using the population wizard with a saved search that was fixed in 7.8.2 by https://github.com/elastic/kibana/pull/75731. Note that that issue only affected the chart in the wizard, and it was still possible to step through the wizard and create the job successfully.

I shall close this issue, assuming it was the same as that fix

[2020-09-21 08:36] #77504 closed

[2020-09-21 08:40] kibanamachine commented on #77969
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8240/)

[2020-09-21 08:43] dej611 commented on #77881
I see what you mean.
The thing I like about that is its consistency with the form format which uses the `within` math expression as well.

Perhaps having different formats rather than a single universal one could be a potential option - in particular for those open ranges.

[2020-09-21 08:56] shahzad31 commented on #77937
@liza-mae are you sure about this? since those are return call from an async function, you don't need an explicit await.

[2020-09-21 08:57] sqren commented on #77886
@formgeist Looks good. Should we convert this to an implementation issue or create a new one?

[2020-09-21 08:59] formgeist commented on #77886
@sqren I think that's fine 👍

[2020-09-21 09:13] jloleysens commented on #77896
@yuliacech Thanks for creating this issue!

I want to mention here, for context, that we are looking at revisiting the ILM policy form and these concerns can likely be addressed as part of the implementation of the redesigned form.

[2020-09-21 09:31] evalufran opened #77982 "ILM linked indices count not working"
**Kibana version:** 7.8.0-1

**Elasticsearch version:** 7.8.0-1

**Server OS version:** CentOS Linux release 7.8.2003 (Core)

**Browser version:** Version 84.0.4147.105 (Official Build) (64-bit)

**Browser OS version:** Ubuntu 20.04 Focal Fossa

**Original install method (e.g. download page, yum, from source, etc.):** manual install from rpm package

**Describe the bug:**  Linked indices count in

[2020-09-21 09:47] #74826 closed

[2020-09-21 10:10] jsanz commented on #70266
Sorry I missed the first iteration @miukimiu :sweat:

I love the new icons in monochrome, but would it make sense to add to them some color to align with the other layers icons? Or the gray theme is intentioned, so the solution layers stand out a bit more?

[2020-09-21 10:18] #77083 closed

[2020-09-21 10:33] jzzfs commented on #42621
I took the liberty of implementing this, albeit outside of Kibana. Here's the [web app](https://elastasks.vercel.app/) and here's the [repo](https://github.com/jzzfs/elastasks).

[2020-09-21 10:35] jzzfs commented on #44193
I took the liberty of implementing this, albeit outside of Kibana. Here's the [web app](https://elastasks.vercel.app/) and here's the [repo](https://github.com/jzzfs/elastasks).

Already mentioned in [kibana#42621](https://github.com/elastic/kibana/issues/42621)

[2020-09-21 10:51] CodeAdminDe commented on #77275
I can confirm, that it is not possible to disable "Stack Management" in Kibana UI. I also want to hide this entry for selected spaces.
+1 for fixing this as soon as possible. :-)

[2020-09-21 11:12] hendrikmuhs commented on #39250
For those finding this issue and looking for a solution to index `date_histogram` timestamps with a custom date time format:

You can create an ingest pipeline:

[code]

and specify it as part of your transform:

[code]

Note that you need to create the transform destination index with the right mapping.

[2020-09-21 11:23] jsanz opened #77996 "[Maps] Solution layers in Elasticsearch tab"
**Kibana version**:
`7.9.2-SNAPSHOT` and `master`

**Elasticsearch version**:
`7.9.2-SNAPSHOT` and `master`

**Server OS version**:
`Ubuntu 20.04`

**Browser version**:
`Chromium: 85.0.4183.102 (Official Build) (64-bit)`

**Browser OS version**:
`Ubuntu 20.04`

**Original install method**:
`Docker` and from source.

**Description of the problem including expected versus actual behavior**:

Solutio

[2020-09-21 11:23] elasticmachine commented on #77996
Pinging @elastic/kibana-gis (Team:Geo)

[2020-09-21 11:49] miukimiu commented on #70266
I just picked a gray theme to make it easier. But @jsanz I agree, the other icons stand out more. Let me try to add color.

[2020-09-21 11:49] mshustov opened #77997 "Remove the legacy types from the platform public contract"
Having removed the legacy plugin discovery we've got rid of the last pieces of the Legacy plugin system. We can clean up our public API from the legacy types added to ensure BWC with the legacy plugin system.
See `kibana.d.ts`, `src/core/server/index.ts`, `src/core/public/index.ts`.

[2020-09-21 11:49] elasticmachine commented on #77997
Pinging @elastic/kibana-platform (Team:Platform)

[2020-09-21 12:03] nreese commented on #77996
Closing, layer wizards can be belong to multiple facets. Solution layers are intentionally included in the Elasticsearch tab since they use data from elasticsearch.

[2020-09-21 12:03] #77996 closed

[2020-09-21 12:06] flash1293 commented on #77733
This is happening because TSVB is linking with an anchor element to the "Item url" (`drilldown_url` in code) configurable in top n and table visualizations instead of calling `navigateToApp`. The fix is easy, I will put together a PR.

[2020-09-21 12:07] ph commented on #75913
IIRC this is not the default behavior on windows though? Also I think its better if we don't mess around with the system certificate.

[2020-09-21 12:17] jasonrhodes opened #78001 "[Logs UI] Create primary Logs search strategy and server side foundations"
:information_source: Full R&D for this work can be found here, and should be read beforehand: https://github.com/elastic/kibana/issues/76677#issuecomment-690310102

## Summary

In order to support async search in the Logs UI we want to implement custom search strategies that cover our potentially long-running queries. This should create basis for that effort such that replacements for the various

[2020-09-21 12:17] elasticmachine commented on #78001
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-21 12:17] walterra commented on #77812
Thanks for the bug report, we'll need some more information to hunt down the root cause:

- Is this happening on a fresh vanilla install of `7.9.1` or after an upgrade? If upgraded, please let us know the previous versions that were in use and the last version before you upgraded.
- Please let us know the output you get when calling `GET .ml-notifications-000001/_mapping` in Kibana's Dev Console.

[2020-09-21 12:20] phillipb opened #78002 "[Logs UI] Don't require expanding an anomaly row to see an example log entry"
We shouldn't require users to click an anomaly to see an example log entry. We can save extra clicks and increase browsability if we show at least one example log entry for each anomaly at the top level. We already do a good job of this on the category page by showing the pattern alongside the anomaly score.

<img width="1881" alt="Screen Shot 2020-09-18 at 12 17 15 PM" src="https://user-images.gi

[2020-09-21 12:20] elasticmachine commented on #78002
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-09-21 12:20] jasonrhodes opened #78003 "[Logs App] Create logs data plugin hook for handling our custom search strategy"
⚠️ Depends on #78001

ℹ️  Full R&D: https://github.com/elastic/kibana/issues/76677#issuecomment-690310102

For this ticket a reusable hook should be introduced that knows how to work with our custom search strategy. It should be aware of our "factory" query type model, and be able to handle those gracefully. (The R&D ticket branch has some **very rough** client side code).

The hook should:

- Cal