[2021-09-10 12:48] elasticmachine commented on #111669
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 13:01] ferullo commented on #111270
@brian-mckinney @softengchick

[2021-09-10 13:01] stratoula commented on #109459
I get this on the CI

![image](https://user-images.githubusercontent.com/17003240/132857082-e38cbd94-7450-43c4-9975-34ea12f54ca4.png)

[2021-09-10 13:02] elasticmachine commented on #111686
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-10 13:04] elasticmachine commented on #111667
Pinging @elastic/uptime (Team:uptime)

[2021-09-10 13:08] elasticmachine commented on #111653
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-10 13:09] elasticmachine commented on #111457
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 13:10] elasticmachine commented on #111401
Pinging @elastic/fleet (Team:Fleet)

[2021-09-10 13:10] legrego commented on #111744
@BenB196 great suggestion, thanks for opening this.

[2021-09-10 13:12] elasticmachine commented on #111402
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-10 13:12] elasticmachine commented on #111392
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-10 13:12] pmuellr commented on #110987
I'm not sure these messages should be correlated, but maybe?  IIRC, in the past, unhandled promise rejections never returned useful stack traces, but this one looks kinda useful, so I'm guessing it's misleading :-).  Also, seems like we should be printing a timestamp when an unhandled promise error is generated, but maybe that's impossible - but curious if there was some delay between the first tw

[2021-09-10 13:13] Scorpion2115 commented on #33409
Hey, has this feature been added to the new release?

[2021-09-10 13:13] kibanamachine opened #111855 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_endpoint_exceptions·ts - detection engine api security and spaces enabled Rule exception operators for endpoints operating system types (os_types) agent should filter 1 operating system types (os_type) if it is set as part of an endpoint exception"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16921/)

[2021-09-10 13:13] elasticmachine commented on #111279
Pinging @elastic/fleet (Team:Fleet)

[2021-09-10 13:14] ymao1 commented on #111669
This test failure occurred 09/08 at 11:03PM EDT. I merged [this PR](https://github.com/elastic/kibana/pull/111366) to fix the 204/409 errors on 09/09 at 9:48AM EDT, so if we don't see any more flaky tests past that time, I think we can close this issue.

[2021-09-10 13:15] ymao1 commented on #111457
This test failure occurred 09/07 at 4:14PM EDT. I merged [this PR](https://github.com/elastic/kibana/pull/111366) to fix the 204/409 errors on 09/09 at 9:48AM EDT, so if we don't see any more flaky tests past that time, I think we can close this issue.

[2021-09-10 13:15] ymao1 commented on #111702
This test failure occurred 09/09 at 6:02AM EDT. I merged [this PR](https://github.com/elastic/kibana/pull/111366) to fix the 204/409 errors on 09/09 at 9:48AM EDT, so if we don't see any more flaky tests past that time, I think we can close this issue.

[2021-09-10 13:16] marius-dr commented on #111699
Hello,
This is sort of an unintended consequence of it.
It didn't happen before 7.11 or 7.12 (can't recall exactly when we introduced using the fields API instead of fields cache).

The workaround for this would be to freeze the index instead of closing it.

Backstory:
we moved from having a field cache saved on the index pattern in order to make the appearance of new fields added to an index fast

[2021-09-10 13:18] ymao1 commented on #111368
This latest test failure occurred 09/08 at 11:03PM EDT. I merged this PR to fix the 204/409 errors on 09/09 at 9:48AM EDT, so if we don't see any more flaky tests past that time, I think we can close this issue.

[2021-09-10 13:19] sqren commented on #111697
I unfortunately can't help you without more info.

[2021-09-10 13:23] kobelb commented on #96106
Given the current limitations, I think that's fine.

[2021-09-10 13:24] smith commented on #106786
We have a temporary solution for alert creation with #111781 which will allow editing but not creating rules in Stack Management for 7.15.

Much of alert creation is broken in master, so we're going to fix that next.

[2021-09-10 13:27] elasticmachine commented on #111699
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-10 13:27] elasticmachine commented on #111520
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-10 13:28] elasticmachine commented on #108255
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 13:30] elasticmachine commented on #111761
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-10 13:30] joshdover opened #111858 "[Fleet] Initiate Fleet setup on boot"
Blocked by:
- [x] #111755
- [x] #106048

In order to support smooth Stack upgrades, certain packages, if installed, need to be kept in sync with the Stack version. To accomplish this, the Fleet plugin should initiate its setup process when Kibana starts up rather than waiting for a user to visit the Fleet app in the UI.

Requirements:
- [x] Add logic to the Fleet plugin's `start` method to initiat

[2021-09-10 13:30] elasticmachine commented on #111858
Pinging @elastic/fleet (Team:Fleet)

[2021-09-10 13:30] elasticmachine commented on #111258
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-10 13:35] elasticmachine commented on #111381
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-10 13:35] elasticmachine commented on #111377
Pinging @elastic/kibana-security (Team:Security)

[2021-09-10 13:35] joshdover opened #111859 "[Fleet] Handle common transient errors during package installs with a retry"
We currently do not handle transient errors that we may be able to easily handle with simple retry logic on errors that are known to be temporary. We should improve this to increase the chances that automatic package upgrades on Kibana startup are successful.

For a good list of common errors we should handle, we can steal some knowledge from the Saved Object migration process which needs to accom

[2021-09-10 13:35] elasticmachine commented on #111859
Pinging @elastic/fleet (Team:Fleet)

[2021-09-10 13:36] elasticmachine commented on #111376
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 13:36] elasticmachine commented on #111368
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 13:37] #111368 closed

[2021-09-10 13:39] alisonelizabeth opened #111860 "[Upgrade Assistant] infra should be optional dependency"
**Steps to reproduce:**
1. Set `xpack.spaces.enabled: false`
2. Attempt to navigate to Upgrade Assistant. Note user is redirected back to the Stack Management overview page.

Currently [`infra` is a required plugin](https://github.com/elastic/kibana/blob/7.x/x-pack/plugins/upgrade_assistant/kibana.json#L11) in Upgrade Assistant. The `infra` plugin requires spaces, so if spaces is disabled, it will

[2021-09-10 13:39] elasticmachine commented on #111860
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-10 13:40] rudolf commented on #109602
Yeah, I don't think we can intercept it and log it, but these are logged to `stderr` so the docker container should be able to index this.

[2021-09-10 13:40] formgeist commented on #106552
https://github.com/elastic/kibana/pull/111834 merged so the Lambda icon is now available to use.

[2021-09-10 13:46] pmuellr commented on #110080
ya, I think implementing the short-term fix sooner than the longer-term fix makes sense to me.  I would only really be concerned with the short-term fix if we showed something for a disabled rule, but we don't today.  The only effect would be that you won't see those already recovered alerts as still active, when re-enabled - or it seems like that should be the only effect.

Also forgot to mention

[2021-09-10 13:48] legrego commented on #111377
I'm not sure what took it so long, but the user avatar either failed to load, or was still waiting to finish loading:

![image](https://user-images.githubusercontent.com/3493255/132863482-c723702b-f7dd-4f28-8f54-6bf2dc64158c.png)

[2021-09-10 13:48] mbondyra opened #111861 "[Graph] WorkspaceRoute and WorkspaceLayout rerender 308 times on start"
**Kibana version:**
master

I found this while testing this PR (https://github.com/elastic/kibana/pull/109617/files) but it was also reproducible on master before merging it. It might be caused (but doesn’t have to be, maybe it was always there!) by the recent Graph deangularization (https://github.com/elastic/kibana/pull/106587).
To reproduce: 
1.  Add a console.log to `x-pack/plugins/graph/publi

[2021-09-10 13:48] elasticmachine commented on #111861
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-10 13:50] legrego commented on #111377
Ah found it in [the logs](https://kibana-ci.elastic.co/job/elastic+kibana+master/16848/testReport/junit/Chrome%20X-Pack%20Security%20Functional%20Tests%20(Login%20Selector)/x-pack_test_security_functional_tests_login_selector_basic_functionality%C2%B7ts/Kibana_Pipeline___general___security_app___login_selector_Basic_functionality_can_login_anonymously_preserving_original_URL/):

I'm guessing this

[2021-09-10 13:50] ManofWax commented on #111699
My use case is the following: I have a lots of indices for log collection, I keep them for two months before deleting them and storing the data as a snapshot on a backup space

Since my users needs to query only the last day of data 99% of the time, I was closing indices older than 1 week so it didn't waste heap space and resources. I think i could freeze those and gain back some resources.

One t

[2021-09-10 14:00] #91212 closed

[2021-09-10 14:02] pheyos opened #111863 "[ML] Dark mode - some legends are hard to read in data frame analytics results"
**Found in version**
- 7.15.0-bc5

**Browser**
- Chrome

**Steps to reproduce**
- Enable dark mode in Kibana
- Go the the data frame analytics results view for a classification job

**Expected result**
- The ROC chart and the scatterplot matrix are displayed ok and all text components are easy to read

**Actual result**
- The ROC chart legend and the scatterplot matrix legend are hard to read:

![

[2021-09-10 14:02] elasticmachine commented on #111863
Pinging @elastic/ml-ui (:ml)

[2021-09-10 14:05] ManofWax commented on #111699
Please ignore the last comment, I just read the frozen indices are deprecated on elasticsearch 7.14.
So I guess that I have no alternative and keep them open

[2021-09-10 14:07] #111815 closed

[2021-09-10 14:18] elasticmachine commented on #111258
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-10 14:32] ymao1 commented on #111805
@mdefazio This is the issue for surfacing rule execution durations in the UI. My ugly screenshots above should give you an idea of what information we have and where :)

[2021-09-10 14:32] nreese commented on #33409
It has not been implemented

[2021-09-10 14:32] ymao1 commented on #111259
@mdefazio I tagged you on the specific UI issue for this. Thanks for your help!

[2021-09-10 14:38] #111499 closed

[2021-09-10 14:43] paulb-elastic commented on #111837
Incidentally, as a point of comparison, I am not seeing this in Chrome or Firefox on Windows (on the Edge platform, running on the main branch)

![Video_2021-09-10_153950](https://user-images.githubusercontent.com/70908889/132871550-d65417de-ef71-4669-812a-28fbf54ae93a.gif)

[2021-09-10 14:48] #110130 closed

[2021-09-10 14:48] Dmitriynj commented on #111861
So, `store` is initialized in the react component, since we need to force react render on workspace nodes and edges coordinates (x, y) changes. See guideline [here](https://gist.github.com/flash1293/ef51b9d97a5522c802ea60e75867eb29). Otherwise we can’t really paint graph smoothly. `d3` visualisation library triggers rerenders from [here](https://github.com/Dmitriynj/kibana/blob/a779ea3818033a01c65

[2021-09-10 14:48] #111861 closed

[2021-09-10 14:49] kevinlog commented on #111517
@samratbhadra-qasource

These fields are used by the Endpoint to properly configure the advanced policy.  These are currently, correctly named to ensure that fields are populated appropriately.  This part shouldn't be considered a bug.

cc @softengchick @ferullo @gabriellandau

[2021-09-10 15:01] kevinlog commented on #111849
@samratbhadra-qasource this is expected because different OSs may have a different number of rules.

@rw-access @threat-punter could comment on the amount of rules they expect for each OS at 7.15 launch

@ferullo @softengchick @nfritts - fyi on the above.

[2021-09-10 15:04] alexfrancoeur commented on #111374
There is one other option that I suggested in https://github.com/elastic/kibana/issues/109281. We could leverage the add data tutorials in the short - mid term to provide a client-only experience that is not a package.

The bulk of these tutorials are in the home plugin, with some unique tutorials for EMS & APM.
https://github.com/elastic/kibana/tree/master/src/plugins/home/server/tutorials
https:

[2021-09-10 15:16] #110630 closed

[2021-09-10 15:16] #110634 closed

[2021-09-10 15:19] PhaedrusTheGreek opened #111873 "Lens "Top Values" legend appears in ascending order"
**Kibana version:**
7.14.0
**Elasticsearch version:**
7.14.0
**Server OS version:**
Elastic Cloud
**Browser version:**
Chrome
**Browser OS version:**
MacOS

**Describe the bug:**
Items in Legend appear in top values ascending order even though setting indicates descending

**Screenshots (if relevant):**
![Screen Shot 2021-09-10 at 11 17 52 AM](https://user-images.githubusercontent.com/4387023/1328

[2021-09-10 15:20] #108877 closed

[2021-09-10 15:22] ghudgins commented on #19672
+1 during a usability test on #108342 - user wanted the line to change color above the threshold. this really only makes sense if you aren't breaking down by anything or plotting multiple series as the multiple lines would become indistinguishable above the threshold.

[2021-09-10 15:23] PhaedrusTheGreek commented on #111873
Also just noticed that if changed to a line chart, the display is descending as expected.

[2021-09-10 15:24] elasticmachine commented on #105131
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-10 15:26] MichaelMarcialis commented on #103778
@mbondyra: After looking at this issue again, I believe all `EuiFlyout` components have this maximum width applied by default. The issue here appears to be threefold:

1. The `EuiFlyout` is being positioned to the left edge of the viewport, when it should actually be at the right edge of the viewport. Looks like this is happening because of a `left: 0;` style being applied to the `.lnsDimensionCon

[2021-09-10 15:35] elasticmachine commented on #69720
Pinging @elastic/kibana-core (Team:Core)

[2021-09-10 15:35] elasticmachine commented on #69720
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-10 15:37] pmuellr commented on #111259
If we can detect this sort of thing at compile time that's obviously the best, but I assume we might only be able to do so at runtime. If we can detect at runtime that cancel has not actually canceled the request - Id like a warning (or event Error) to be logged and we can then file an issues for all teams who have not implemented this.

Not clear how we could enforce it, but I'm also hopeful ther

[2021-09-10 15:37] gmmorris commented on #111259
BTW found this oldie :)
Worth resurrecting or closing as dup: https://github.com/elastic/kibana/issues/64148

[2021-09-10 15:41] vadimkibana commented on #69720
Tagging Core and Discover teams here as it is not specifically AppService issue:

1. The Saved Object service allows to save long strings, but then fails to migrate them.
2. The long URLs are owned and generated by the Discover app, the short URL service just stores whatever long URL Discover gives it.

Some possible solutions:

1. Saved Objects service should be able to migrate saved objects that

[2021-09-10 15:43] timroes commented on #111699
I think this is a totally valid use-case and I see why we would want to continue searching over index patterns even ifyou close an index in them. Because at that point they should simply be ignored.

I was unfortunately unable to reproduce the failure as you described it. It seem to actually work fine for me. I tried it with the following commands in the dev tools:

[code]

I created in between (o

[2021-09-10 15:45] pmuellr commented on #111259
Similar to the `disabled` and `enabled` event log docs I mentioned in a different issue, probably makes sense to write an event for `rule-exceeded-timeout` (and one for connectors as well), regardless of whether the handler deals with it or not.  I think we'll need to see the full flow once we get this running to figure out what to write and when.  It's possible it would make more sense to indicat

[2021-09-10 15:48] ymao1 commented on #111259
@pmuellr Yes! That's exactly what I explored in my [POC](https://github.com/elastic/kibana/pull/111639). The Elasticsearch client search function has a built-in `abort()` that we can take advantage of that throws an error if aborted (effectively stopping rule execution). Seems to work pretty well as long as the long pole of the execution is the query itself.

Yep! Task manager is already logging a

[2021-09-10 15:50] justinkambic commented on #107054
We've backported the fix to the `7.14` and `7.15` branches. Unfortunately there are no future patch releases for the `7.13` minor scheduled, so at this point the only way to remediate this is to upgrade to the next patch of `7.14`, `7.15`, or to upgrade to `7.16.0` when it's released.

[2021-09-10 15:50] #107054 closed

[2021-09-10 15:50] mikecote commented on #110080
Have we thought about rules that set up actions on recovery? What should happen to PagerDuty incidents when disabling a rule? What should happen to PagerDuty incidents when enabling a rule that detects some recoveries. I'm ok expanding on scope if we feel another approach is a bit bigger in scope but the ultimate solution.

[2021-09-10 16:00] timroes commented on #69720
I would think solution 3 is the worst here for me. It sounds like we're pulling logic in the short URL service, just to prevent a failure it has kind of nothing to do with.

Imho solution 1 is the right solution. The saved object service should not allow storing anything that its migration system will later not be able to handle (size wise).

We're def trying to get in the long run into a situatio

[2021-09-10 16:02] timroes commented on #69720
Other apps besides Discover that might be affected by that behavior: Visualize and Dashboard.

[2021-09-10 16:04] vadimkibana commented on #111303
Dropping the error and leaving the warning for now could be a good first step.

[2021-09-10 16:12] PhaedrusTheGreek opened #111880 "[Lens] Heatmap - Ability to hide axis labels"
One great thing about this awesome heat map is that we can visualize a lot of information in a small area.   By hovering over a cell, I can understand all the factors in the popover.   So much information can garble in axis labels, and would be beneficial for a user to choose show/hide.

![Screen Shot 2021-09-10 at 12 02 23 PM](https://user-images.githubusercontent.com/4387023/132883575-1ab160ac-1

[2021-09-10 16:23] threat-punter commented on #111849
The current count of production rules for each OS on 7.15.0 is as follows.

[code]

[2021-09-10 16:24] threat-punter commented on #111849
The count for Windows was 6 until yesterday when we published new production artifacts (bringing the total for Windows up to 22)

[2021-09-10 16:25] elasticmachine commented on #111191
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-10 16:28] vadimkibana commented on #111191
IMO, embeddables should not know anything about Saved Objects or any other objects or any other way of loading the data. It should be up to each embeddable type to implement (or not) any persistence mechanism.

Ideally we would pull out any mentions of "saved objects" out of the Embeddable plugin. And then it is up to each embeddable where its data is stored.

[2021-09-10 16:28] ManofWax commented on #111699
Ok I understand better the problem, it seems to be related to index aliases: this is how to reproduce:

[code]

Now create a Kibana index-pattern for for `alert` (that is the index alias we just create). Go to Discover and the following error is shown:

[code]

[2021-09-10 16:33] pmuellr commented on #110080
Ya, I think these recovered-because-rule-disabled probably deserve something other than the usual recovered story, long-term.  Does that mean a new "built-in" action group?  Maybe it's a recovered state with a reason field associated.  How do you even describe this situation to a human?  Seems like it could get complicated, so we at least need to create an issue to research / track it.

[2021-09-10 16:43] elasticmachine commented on #7324
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-10 16:57] timroes opened #111886 "[ML] [Data Visualizer] Open geo fields in maps and remove hardcoded Lens state"
You can currently navigate to Lens from the data visualizer for non geo fields, but you can't navigate to Maps for Geo fields. I think we should enable linking to geo fields in the data visualizer.

*What does this have to do with the Lens integration?* Why am I even packing this in the same issue? The way we currently navigate to Lens from the data visualizer is not ideal. We're manually crafting

[2021-09-10 16:57] elasticmachine commented on #111886
Pinging @elastic/ml-ui (:ml)

[2021-09-10 17:09] mattkime commented on #111258
Hello @babadofar - As of 7.11, Kibana is no longer saving the whole field list which means this problem is no longer possible. You're encouraged to upgrade, if possible.

Relevant changes - https://github.com/elastic/kibana/pull/82223

[2021-09-10 17:09] #111258 closed

[2021-09-10 17:10] timroes commented on #111886
I think the only thing we might want to change from the implementation in Discover (where we always wanted to have the label of the button being called "Visualize") is to actually use the action label instead. You can get that by calling `getDisplayName` on a compatible action for that trigger. We currently don't have a way to get an icon for that action, but I think we could actually easily add t

[2021-09-10 17:20] liza-mae commented on #111654
Thank you @Dosant for the solution, closing.

[2021-09-10 17:20] #111654 closed

[2021-09-10 17:35] ThomThomson commented on #111191
As Vadim said, there should be no concept of 'by value' or 'by reference' on the Embeddable API side, nor should there be any concept of 'loaded via saved object' vs 'loaded through snapshot URL' there.

 That said, I think we can still differentiate between Scenario 3 and Scenario 4 on a case by case basis for each embeddable that loads a saved object.

One way to do this would be by interfacing

[2021-09-10 17:42] ravikesarwani opened #111889 ""Large shard size" rule is missing "Look at the average over X minutes" option"
We need to add "Look at the average over X minutes" option to "Large shard size" rule.

The [documentation](https://www.elastic.co/guide/en/kibana/7.14/kibana-alerts.html#kibana-alerts-large-shard-size) of stack monitoring alert for Large shard size mentions "The condition is met if an index’s average shard size is 55gb or higher in the last 5 minutes" but the parameter to specify the time period

[2021-09-10 17:42] elasticmachine commented on #111889
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-10 17:42] elasticmachine commented on #111889
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-10 17:48] tsullivan commented on #111777
@ThomThomson thank you for weighing in!

This is my understanding as well. It means that our V2 of PDF / PNG exports still have this issue with the POST URL being too large.

I agree we should work together on this. I like your proposal as it would allow the user to create any kind of automated dashboard report they want: based on saved object reference, based partially on a saved object reference

[2021-09-10 18:07] lukeelmers commented on #110614
Yes, as we will need to remove those `enabled` settings from each individual plugin anyway, I feel like we might as well add explicit deprecations to each plugin too.

I have a draft PR up if you want to take a look and add feedback: https://github.com/elastic/kibana/pull/111890

[2021-09-10 18:24] jportner commented on #111191
Sure, apologies if the issue description came off as prescriptive, I just meant that we should find a way to differentiate :+1:

Nice idea!
From what I gather, from the container side of things, this is a dashboard-only problem, right?

[2021-09-10 18:25] ThomThomson commented on #111191
For now, this is only a dashboard problem yes! Canvas cannot be shared as a snapshot in the same way.

[2021-09-10 18:29] cjcenizal commented on #7324
@timroes Can you specify which UI you're referring to? Is it the Index Patterns UI, Index Management, or something else?

[2021-09-10 18:43] vadimkibana opened #111893 "Support context menu trigger drilldowns for all panels"
URL context menu drilldown should be available in all Dashboard panels. But it is not, for example, for Lens metric panel.

Fix is probably as follows:

![image](https://user-images.githubusercontent.com/82822460/132902092-ec6939f5-6868-4e0b-b1be-7414d1288f69.png)

[2021-09-10 18:43] elasticmachine commented on #111893
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-10 18:47] neptunian commented on #110719
This looks like it was introduced in 7.14.0 as I was not able to reproduce it in 7.13.3.  I'll see if I can get a fix in before the last BC.

[2021-09-10 18:54] ThomThomson commented on #111777
Yes, both of these concerns are legitimate, but I wouldn't consider them bugs, just opportunities for user education. I can't think of any way to solve them from an engineering perspective, at least until the scheduled reporting UI is built, where we can have a `state explorer` or something that allows users to see which pieces of state are coded into their report URLs.

You are right, in a confli

[2021-09-10 18:54] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16775/)

[2021-09-10 19:00] brianseeders commented on #111812
Skipped

7.x: 4cdb44500efff1e02833f680ba664320e9e284a1

[2021-09-10 19:07] chrisronline opened #111894 "[Alerting] Add telemetry for legacy HTTP API usage"
We need to answer the following questions:

- What percentage of clusters are using the legacy alert HTTP APIs?
- How many times per cluster?
- What is the breakdown by endpoint?

[2021-09-10 19:07] elasticmachine commented on #111894
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 19:09] cauemarcondes opened #111895 "[APM] No data screen shows up when user changed index pattern"

[2021-09-10 19:25] poffdeluxe commented on #105336
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] poffdeluxe commented on #105335
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] poffdeluxe commented on #105322
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] poffdeluxe commented on #105321
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] poffdeluxe commented on #105320
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] poffdeluxe commented on #63792
Closed by https://github.com/elastic/kibana/pull/111626

[2021-09-10 19:25] #63792 closed

[2021-09-10 19:25] #105320 closed

[2021-09-10 19:25] #105321 closed

[2021-09-10 19:25] #105322 closed

[2021-09-10 19:25] #105335 closed

[2021-09-10 19:25] #105336 closed

[2021-09-10 19:30] chrisronline opened #111896 "[Actions] Add telemetry for legacy HTTP API usage"
We need to answer the following questions:

- What percentage of clusters are using the legacy action HTTP APIs?
- How many times per cluster?
- What is the breakdown by endpoint?

[2021-09-10 19:30] elasticmachine commented on #111896
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 19:42] #96711 closed

[2021-09-10 19:42] #109202 closed

[2021-09-10 20:57] dborodyansky commented on #110063
Proposed [design](https://www.figma.com/file/RVYNk5W3gyJdWOGDj8ixPH/Fleet?node-id=1486%3A279812) and [rationale document](https://docs.google.com/document/d/1nnetuMEy4OFeOOyH0YdGrXb6RHAGRILkrycumh1CEHI/edit?usp=sharing) ready for review and feedback.

[2021-09-10 21:20] spong opened #111903 "[Security Solution][Detections] Include total indicator count when writing Indicator Match Rule execution logs"
A common performance metric to pay attention to when tuning Indicator Match rules is the total number of indicators that the rule is attempting to match against. Currently this metric is only available when enabling debug logs:

https://github.com/elastic/kibana/blob/e4e8001269fb85e4a93d82501a800a898619098f/x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_

[2021-09-10 21:20] elasticmachine commented on #111903
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-10 21:20] elasticmachine commented on #111903
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-10 21:36] brianseeders opened #111907 "Failing ES Promotion: Observability specs Observability alerts Alerts table Flyout When open Displays the correct title"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/96#6aa4b74f-3ba5-4c7a-86f

[2021-09-10 21:36] elasticmachine commented on #111907
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-10 21:38] brianseeders commented on #111907
Skipped

master: d70ff6c3c3bb3c36b080382be424e59b52d0aad0

[2021-09-10 21:55] kibanamachine commented on #106736
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16778/)

[2021-09-10 22:28] kibanamachine opened #111910 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/index·ts - Observability specs Observability alerts Alerts table Flyout When open Displays the correct title"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16929/)

[2021-09-10 22:28] kibanamachine commented on #111910
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16929/)

[2021-09-10 22:52] brianseeders commented on #111907
This test was actually failing in master outside the ES promotion job before being skipped

[2021-09-10 22:52] rudolf commented on #69720
As @petrklapka pointed out the problem is with the mappings, when we index large strings we need to specify `"ignore_above": 2048` otherwise Elasticsearch will reject the index operation. I doubt we should even be indexing URL's at all since as far as I know we never search across them. But this is a regression in the short URL mappings.

[2021-09-10 23:53] YulNaumenko commented on #105046
Closing this issue in favor of the existing #110080

[2021-09-10 23:53] #105046 closed

[2021-09-10 23:57] YulNaumenko opened #111914 "[Actions] Store access token for OAuth 2.0 Client Credentials flow on the Kibana side."
Current issue is a follow up for the new MS Exchange functionality which support for OAuth 2.0 Client Credentials flow (https://github.com/elastic/kibana/issues/111439), where we are getting an access token and its expires_in information and want to store access token and the expiration date somewhere in Kibana.
This will reduce the number of token requests to the auth server. Currently we request

[2021-09-10 23:57] elasticmachine commented on #111914
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 23:58] YulNaumenko commented on #109917
Opened a follow up issue https://github.com/elastic/kibana/issues/111914

[2021-09-11 00:00] YulNaumenko commented on #109917
Current issue was a research, which finalized by opening the proper implementation issues:
- https://github.com/elastic/kibana/issues/111439 Change email connector API for MS Exchange Online provider by replacing Basic Auth with OAuth 2.0 Client Credentials flow
- https://github.com/elastic/kibana/issues/111443 Modify email connector UI flyout to support OAuth 2.0 Client Credentials flow for MS Ex

[2021-09-11 00:00] #109917 closed

[2021-09-11 03:51] tsullivan commented on #88480
cc @elastic/kibana-reporting-services

[2021-09-11 04:48] mattkime commented on #13649
Allowing duplicate index patterns to be created can be treated like a bug. Placing this on our roadmap.

[2021-09-11 04:56] mattkime commented on #107359
closing in favor of https://github.com/elastic/kibana/issues/13649 - addressing this is on our roadmap.

[2021-09-11 04:56] #107359 closed

[2021-09-11 05:02] elasticmachine commented on #109980
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-11 05:23] YulNaumenko commented on #110080
As the result of the current research was raised a few product questions, which should make the shape of the next steps to solve the current "bug" behavior:
1. What is supposed to happen with the state of the active alert instances after the rule was disabled:
     - Does it make sense to have it as "recovered" or a better option will be to define a new 'reset' state for such kind of resolution?

[2021-09-11 14:16] mukeshelastic commented on #110063
@dborodyansky delighted to see very thorough idea exploration on this very imp topic. Kudos!

+1 on add agent modal in the initial flow and add agent button prominently when no agents are detected on integration policy screen.

Also +1 to prioritizing the post 7.16 flow in subsequent releases.

Thank you so much for getting this done in such a short time and thoroughly.

[2021-09-11 16:53] liza-mae commented on #111592
@weltenwort you can update settings here: https://github.com/elastic/elastic-stack-testing/blob/master/ci/cloud/product/settings/kibana.yml

[2021-09-11 19:18] kibanamachine commented on #100296
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16952/)

[2021-09-11 19:47] mshavliuk opened #111915 "kibana-keystore ignores `path.data` config"
**Kibana version:** 7.14.1

**Original install method (e.g. download page, yum, from source, etc.):** `docker run arm64v8/kibana:7.14.1`

**Describe the bug:**
The [documentation](https://www.elastic.co/guide/en/kibana/7.14/secure-settings.html#creating-keystore) says:

Meanwhile, the `path.data` has a default value `'data'`, see [docs](https://www.elastic.co/guide/en/kibana/7.14/settings.html#pat

[2021-09-11 21:00] kibanamachine opened #111916 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/stack_management_jobs/import_jobs·ts - machine learning stack management jobs import jobs imports jobs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16801/)

[2021-09-11 23:52] kibanamachine commented on #110418
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16804/)

[2021-09-12 03:11] kibanamachine commented on #107028
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16959/)

[2021-09-12 04:16] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16960/)

[2021-09-12 07:21] RoyzLevy opened #111918 "[maps] support 3rd party geo coding services"
As for now you can filter Maps either with outter filters in the same Dashboard or by lat-lon for a geo-location. There is no way to filter by an address and the only way to do it is by using a 3rd party application for the cause.

The feature will enable Maps filtering by address provided by a Kibana plugin which will query 3rd party and provide the correct filtering.
Example for 3rd party addres

[2021-09-12 18:03] elasticmachine commented on #111915
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-12 21:25] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16977/)

[2021-09-12 22:10] kibanamachine opened #111920 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/permissions/full_transform_access·ts - transform permissions for user with full transform access with data loaded "before all" hook for "should display elements in the Transform list page correctly""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16978/)

[2021-09-13 03:03] jonny77 opened #111921 "set locale to zh-CN ,but not working ??"
os: mac
set up locale in kibana.yml and restart kibana . but not working
and try to set up in command (/usr/local/Cellar/kibana/7.10.2/bin/kibana --i18n.locale=zh-CN ) , not working

[2021-09-13 03:03] elasticmachine commented on #111921
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-09-13 03:15] kibanamachine opened #111922 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_runtime_fields_editor·ts - discover app discover integration with runtime fields editor allows creation of a new field"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16983/)

[2021-09-13 03:53] samratbhadra-qasource commented on #111849
Closing this ticket as it is expected.

[2021-09-13 03:53] #111849 closed

[2021-09-13 04:44] tmitanitky opened #111923 "[Discover] Sort by fieldname of nested fields."
When expanding a document in Discover, non-nested fields are sorted by their field names.
When toggling the field details of a nested field, however, the fields in the nested field are not sorted by their names. Since the order is the same across all documents, it is assumed to reflect some internal order.

It would be helpful to find a specific field if the fields in nested field were sorted and

[2021-09-13 04:54] mattkime opened #111924 "elasticsearch-ci/docs failure should post comment to PR"
I know PRs fail when a message is posted on the PR saying so much, which also appears in my slack. Comparatively docs changes fail silently. No message is posted to the PR.

[2021-09-13 04:54] elasticmachine commented on #111924
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-13 05:56] tylersmalley commented on #34016
There has been a lot of progress on this since this issue was originally opened. Since then, we have removed the optimizer (Webpack) from production which removed any dependencies needed to build. This resulted in us going from 137k files, down to 57k. I understand there is still lots of room for improvement, but we will use issues to track those individual efforts going forward.

[2021-09-13 05:56] #34016 closed

[2021-09-13 05:57] tylersmalley commented on #45655
@brianseeders, are we good to close this?

[2021-09-13 06:01] tylersmalley commented on #20319
This can be done with `node scripts/functional_tests`. This is what CI uses, as running the server separately is purely for development.

Sorry for the delay on this, as the issue slipped through the cracks. Can it now be closed?

[2021-09-13 06:03] tylersmalley commented on #49801
Closing this issue, as the underlying problem is with Elasticsearch and there is an issue open (linked above).

[2021-09-13 06:03] #49801 closed

[2021-09-13 06:14] tylersmalley commented on #111924
We don't manage this job - but I can forward the ask to the team.

Similarly, we have discussed moving away from this PR comment style entirely, in favor of direct Slack integration (https://github.com/elastic/kibana/issues/79476). The PR comment results in noise to anyone tagged on the PR who isn't integrated in build information.

[2021-09-13 06:22] tylersmalley commented on #109064
@zhujunjieit, that image is not provided by us. Please use those provided at https://www.docker.elastic.co/.

Since this appears to be a [Docker CLI issue](https://github.com/docker/compose-cli/issues/1795), and not caused by the Kibana Docker Image I am going to close this issue. If you have questions or need help, please post to https://discuss.elastic.co/c/kibana.

[2021-09-13 06:22] #109064 closed

[2021-09-13 06:42] #105812 closed

[2021-09-13 06:43] elasticmachine commented on #111880
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-13 07:10] elasticmachine commented on #111923
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-13 07:17] timroes commented on #7324
I was referring to the index patterns UI (the only thing that existed 2016 :D) Thus the previous appServices label was imho correct.

That said, as in my above comment mentioned, I am not sure if that's really anything we still want to do that. `ignore_above` can be changed in the mapping thus showing it in the index pattern UI might not be that good, since it's not necessarily reflecting the stat

[2021-09-13 07:19] elasticmachine commented on #111918
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-13 07:26] pheyos commented on #106736
`ERR_NETWORK_CHANGED`

[2021-09-13 07:26] #106736 closed

[2021-09-13 07:33] #105808 closed

[2021-09-13 08:03] elasticmachine commented on #111920
Pinging @elastic/ml-ui (:ml)

[2021-09-13 08:04] pheyos commented on #111920
Another occurrence of the known CI network error `ERR_NETWORK_CHANGED`.
No issue with the app or the tests, closing.

[2021-09-13 08:05] elasticmachine commented on #111916
Pinging @elastic/ml-ui (:ml)

[2021-09-13 08:07] pheyos commented on #111916
Failure screenshot:
![image](https://user-images.githubusercontent.com/1945390/133047025-7d88fea6-91ca-494b-9e23-281b0183d726.png)

[2021-09-13 08:07] pheyos commented on #111916
Not sure what went wrong there, I'll take a closer look.

[2021-09-13 08:38] pheyos commented on #111916
The warning `1 job cannot be imported` is expected here and did not contribute to the failure that happened in the next test. Looks like it's a timing issue around clicking the `Import` button. I'll try to stabilize this.

[2021-09-13 08:45] arvindersingh-qasource opened #111926 "[Fleet] [BUG] Long Integration name is not truncated and breaking UI on Policy's Details page."
**Describe the bug**
Long Integration name is not truncated and breaking UI on Policy's Details page.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana 7.15.0 version must be available.
2. Agent Policy must be present.

**Steps to Reproduce**
1. Navigate to ```Management ``` -> ```Fleet``` -> ``` Agent Policies```.
2. Open pre requ

[2021-09-13 08:45] elasticmachine commented on #111926
Pinging @elastic/fleet (Team:Fleet)

[2021-09-13 08:46] arvindersingh-qasource commented on #111926
@manishgupta-qasource  Please review this bug .

Thanks.

[2021-09-13 08:49] manishgupta-qasource commented on #111926
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-09-13 08:51] #111198 closed

[2021-09-13 08:51] #32318 closed

[2021-09-13 08:51] #97213 closed

[2021-09-13 09:04] timroes commented on #111923
Just for clarification: Do you mean inside the "Table" tab or inside the "JSON" tab of a document?

[2021-09-13 09:06] elasticmachine commented on #111873
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-13 09:15] timroes commented on #111699
Thanks for those steps to reproduce. This indeed looks like a bug to me. I've opened an issue in Elasticsearch for this: https://github.com/elastic/elasticsearch/issues/77612

I will close this one here, since to my knowledge there's nothing we could do to workaround that in Kibana.

[2021-09-13 09:15] #111699 closed

[2021-09-13 09:30] timroes commented on #110667
Maybe instead of changing wording here, we should simply switch over to use the shared saved dialog our other apps are using, which is available via the `saved_object` plugin: https://github.com/elastic/kibana/blob/master/src/plugins/saved_objects/public/save_modal/show_saved_object_save_modal.tsx#L32

That way it would a) be aligned with the other applications and b) we'd actually finally allow s

[2021-09-13 09:41] tobiasstadler commented on #110042
Both jboss-application and MyService are running in the same JVM.

Before:
![jboss-application](https://user-images.githubusercontent.com/22965777/133061453-c47878c3-df37-4677-9ddd-b7510e5d6e5b.png)
![MyService](https://user-images.githubusercontent.com/22965777/133061539-61f9fd42-060e-4369-b1bc-f456e4b6805d.png)

After:
![jboss-application](https://user-images.githubusercontent.com/22965777/13306

[2021-09-13 09:50] monfera commented on #111743
The root cause is most likely this PR: https://github.com/elastic/kibana/pull/81523 (ht @markov00). The foreseen approach to fixing it is to revert that PR altogether and implement something arising from an appropriate Charts/Lens discussion, and a PR to either or both repos

[2021-09-13 09:53] nerophon commented on #21778
@jloleysens perhaps worth reconsidering this as we have another request for it? The use case is to debug role assignments to other users quickly without having to go out to cURL.

[2021-09-13 09:55] jloleysens commented on #111777
Related issue for "detecting" max URL length: https://github.com/elastic/kibana/issues/111303

@tsullivan This is also a good point, although I expect locator state migration should have our backs covered here (the reporting redirect app calls migrate on state stored in the job before navigating).

@ThomThomson @tsullivan  that's what I was thinking too. From a users perspective: the appropriate p

[2021-09-13 10:06] shahzad31 commented on #104530
i can't reproduce this, so closing it
![image](https://user-images.githubusercontent.com/3505601/133065387-877666b9-8d01-442e-af24-cfa590030af1.png)

[2021-09-13 10:06] #104530 closed

[2021-09-13 10:15] #110566 closed

[2021-09-13 10:17] gmmorris commented on #60315
I've updated the description to add some clarity for whoever pick this issue up. :)

[2021-09-13 10:24] deepikakeshav-qasource opened #111935 "[Security Solution] UI is broken for Date field under activity logs when scroll the modal"
**Describe the bug**
UI is broken for Date field under activity logs when scroll the modal

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Data should be exist in activity logs

**Steps to Reproduce**
1. Navigate to endpoints tab of security
2. click on endpoint name
3. click on activity logs
4

[2021-09-13 10:24] deepikakeshav-qasource commented on #111935
@manishgupta-qasource Please review!!

[2021-09-13 10:24] shahzad31 commented on #111596
@weltenwort any idea, why this testing is failing on cloud, i see that we enabled RAC feature flags in this PR https://github.com/elastic/kibana/pull/109113

Somehow on cloud ci or something, it's not able to find "Alerts" navlink.

[2021-09-13 10:26] manishgupta-qasource commented on #111935
Reviewed & assigned to @kevinlog

[2021-09-13 10:43] arisonl commented on #93466
@YulNaumenko thank you for the writeup. The approach you are taking sounds very reasonable to me based on the pros and cons that you have listed. A couple of clarifications:

On the security flow: Do I understand correctly that the Exchange-specific Client Credentials flow is related to the OAuth client credentials flow? https://oauth.net/2/grant-types/client-credentials/ (ref the end of your writ

[2021-09-13 10:50] #65717 closed

[2021-09-13 10:50] #90155 closed

[2021-09-13 10:50] #109355 closed

[2021-09-13 11:01] weltenwort commented on #111596
I learned that the testing on cloud doesn't use the same function test config. This also affects APM. I'll look into adjusting it.

[2021-09-13 11:09] stratoula opened #111938 "[Timelion] Long legends scroll the entire viz"
**Kibana version:**
master

**Describe the bug:**
In 7.15 we introduced a new implementation of the timelion viz which uses the elastic-charts library. In the old visualizations if the legend was very long, then a part of it was rendered. In the new one we render all legend items but the UI needs some optimization because it scrolls the entire chart.
![image](https://user-images.githubusercontent.

[2021-09-13 11:09] elasticmachine commented on #111938
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-13 11:15] #111318 closed

[2021-09-13 11:32] dikshachauhan-qasource opened #111943 "[Fleet]: Fleet Agent policy tab name not appended completely in URL like other tabs."
*Kibana version:**  7.15 BC5 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC5 Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent Policy Tab.
	- Notice the tab name and bread crumbs and URL.
	- Observe, tab name is not appendeded completely in U

[2021-09-13 11:33] elasticmachine commented on #111943
Pinging @elastic/fleet (Team:Fleet)

[2021-09-13 11:33] dikshachauhan-qasource commented on #111943
@manishgupta-qasource Please review

[2021-09-13 11:35] sqren commented on #110042
It looks like this is a duplicate of https://github.com/elastic/apm/issues/65. Feel free to comment on that.

[2021-09-13 11:35] #110042 closed

[2021-09-13 11:53] kevinlog commented on #111935
@ashokaditya can you take a look at this one?  It's ok to fix in the `7.15.1` patch

[2021-09-13 12:10] dikshachauhan-qasource opened #111944 "[Fleet]: Search bar is not filtering results properly under hosted policy on policy tab."
*Kibana version:**  7.15 BC5 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC5 Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent Policy Tab.
	- Navigate to 'Elastic Cloud agent policy' policy.
	- Observe it has only fleet server integration.
	-

[2021-09-13 12:10] elasticmachine commented on #111944
Pinging @elastic/fleet (Team:Fleet)

[2021-09-13 12:10] dikshachauhan-qasource commented on #111944
@manishgupta-qasource Please review

[2021-09-13 12:10] legrego commented on #100488
Removing the `discuss` label since it seems we are in agreement on the general proposal. Thanks, all!

[2021-09-13 12:12] darnautov opened #111945 "[Transform] Alerting rule type for Transform health monitoring"
Currently, there is no out-of-the-box tool for monitoring failures with running transforms. Integration with the Kibana alerting framework will provide an easy way of receiving alerts and managing notifications for every transform created.

The new rule type should be part of the Stack Monitoring alerting rules.

As the first step, we need to add a check to detect if the transform is not in `start

[2021-09-13 12:12] elasticmachine commented on #111945
Pinging @elastic/ml-ui (:ml)

[2021-09-13 12:21] snide commented on #111374
Yes. This should be fairly easy. I've asked @cchaos to go ahead and merge and empty states for now (since they are still an additive improvement) and then we can simply change the links when we the integration view lands (either in the same view on new ones). Either way, I'll add the checkbox so we don't forget.

[2021-09-13 12:26] manishgupta-qasource commented on #111943
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-09-13 12:27] manishgupta-qasource commented on #111944
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-09-13 12:47] alisonelizabeth commented on #111854
Fixed by https://github.com/elastic/kibana/pull/111888.

[2021-09-13 12:48] alisonelizabeth commented on #110919
Addressed by https://github.com/elastic/kibana/pull/111221 and https://github.com/elastic/kibana/pull/111817.

[2021-09-13 12:48] #110919 closed

[2021-09-13 13:05] arisonl commented on #77623
This issue has now been addressed, the types in the flyout are structured in categories, hence I am closing the issue.

[2021-09-13 13:05] #77623 closed

[2021-09-13 13:16] sqren commented on #111328
@MiriamAparicio Are you already working on this?

[2021-09-13 13:36] mikecote commented on #106991
@lukeelmers good news, from the conversation above ^^, we've fixed https://github.com/elastic/kibana/issues/55340 so it should unblock this issue.

[2021-09-13 14:03] #110360 closed

[2021-09-13 14:17] nickofthyme commented on #111687
@timroes This can be fixed by allowing the last histogram bar to be brushed which is how it is in `vis_type/xy` and others. You can just add the `roundHistogramBrushValues` option to `Settings`. See example [story](https://elastic.github.io/elastic-charts/?path=/story/interactions--brush-selection-tool-on-histogram-time-charts&globals=theme:light&knob-chartRotation=0&knob-debug=&knob-roundHistogra

[2021-09-13 14:19] jbudz commented on #111915
Thanks for filing @mshavliuk - I'll get the docs updated.  In the meantime - we moved the keystore to the config folder to be consistent with other applications in the stack.  This is controlled by the environment variable `KBN_PATH_CONF`

[2021-09-13 14:38] flash1293 opened #111961 "[TSVB] Series hidden via click reappear on auto refresh"
**Kibana version:** at least 7.13

**Describe the bug:** TSVB allows the user to hide series by clicking the name in the legend. If auto-refresh is enabled, the refresh event will reset hidden series and show them again

**Steps to reproduce:**
1. Go to dashboard with TSVB time chart with multiple series
2. Enable auto refresh
3. Hide a series via click in the legend
4. Series re-appears on auto r

[2021-09-13 14:38] elasticmachine commented on #111961
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-13 14:44] #105319 closed

[2021-09-13 14:46] immon opened #111962 "Double warning message on Index pattern creation form"
**Kibana version:** 7.14.1

**Elasticsearch version:** 7.14.1

**Server OS version:** Elastic Cloud

**Browser version:** Firefox 91

**Browser OS version:** Ubuntu

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Create index named `index`.
2. Create index pattern `index` like you always do.
3. Navigate to Create index p

[2021-09-13 14:49] ogupte commented on #110037
I don't think this needs to be configurable, it seems useful to always show service version annotations per node for the selected service.

[2021-09-13 14:51] elasticmachine commented on #111922
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-13 14:51] flash1293 commented on #111873
We track the general feature of granting more control over sorting in general here: https://github.com/elastic/kibana/issues/86184

I almost want to close this in favor of the general issue, but if there's a quick fix to get this specific problem (stacked vs. non-stacked legends) under control in the short term, that would be cool as well. @markov00 do you have an idea how to make behavior more co

[2021-09-13 14:54] elasticmachine commented on #111962
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-13 14:59] #7324 closed

[2021-09-13 14:59] elasticmachine commented on #111921
Pinging @elastic/kibana-core (Team:Core)

[2021-09-13 15:00] tobiasstadler commented on #110037
I was thinking of containerized environments where the hostname changes with every deployment and every restart of the application. In such an environment it might not make sense to display an annotation for every restart of the application.

[2021-09-13 15:05] pgayvallet commented on #111921
Closing. Feel free to reopen using the proper `Bug report` issue template.

[2021-09-13 15:05] #111921 closed

[2021-09-13 15:11] paulb-elastic commented on #109993
Will review again after the Angular removal and/or TypeScript conversion

[2021-09-13 15:13] pmuellr commented on #109919
Adding as a comment to our generic OAuth issue https://github.com/elastic/kibana/issues/79372 and closing as complete

[2021-09-13 15:13] #109919 closed

[2021-09-13 15:15] #109160 closed

[2021-09-13 15:23] #111916 closed

[2021-09-13 15:24] immon commented on #111962
Not sure why video is broken.

Screenshot in the meantime:

![Screenshot_2021-09-13_17-23-33](https://user-images.githubusercontent.com/541494/133111645-fdbb0003-3025-4fd6-9b65-384ca0c005af.png)

[2021-09-13 15:25] #95717 closed

[2021-09-13 15:30] jbudz commented on #109159
Resolved with https://github.com/elastic/kibana/pull/111192 in 8.0.  We don't want to break the log format in 7.x, so we'll have to leave the deprecation warning in.

[2021-09-13 15:30] #109159 closed

[2021-09-13 15:36] phillipb commented on #109890
Instead of doing this, it might make sense to use inspectables in Kibana. Similar to what @smith demoed for APM recently.

[2021-09-13 15:38] #108713 closed

[2021-09-13 15:39] Zacqary commented on #106926
Closed by https://github.com/elastic/kibana/issues/107026

[2021-09-13 15:39] #106926 closed

[2021-09-13 15:41] phillipb commented on #111753
closed by: https://github.com/elastic/kibana/pull/111850

[2021-09-13 15:41] #111753 closed

[2021-09-13 15:43] #111789 closed

[2021-09-13 15:45] #2551 closed

[2021-09-13 15:48] tylersmalley commented on #44932
@brianseeders can this be closed?

[2021-09-13 15:51] brianseeders commented on #44932
Yeah, we're doing this in Buildkite now.

[2021-09-13 15:56] alisonelizabeth opened #111978 "[Upgrade Assistant] Add permissions check for logs step"
The deprecations logs step in Upgrade Assistant requires users to have read access to`.logs-deprecation.elasticsearch-default`. While users using Upgrade Assistant will likely be a `superuser`, we should still add support to degrade gracefully in the case where someone who doesn't have the required index privileges tries to access UA.

I imagine we would show a warning callout under the logs step

[2021-09-13 15:56] elasticmachine commented on #111978
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-13 15:58] #109554 closed

[2021-09-13 16:01] thomasneirynck opened #111982 "[Maps] EMS has mismatched OSM attribution"
EMS attribution is mismatched.

1. go to maps
2. add EMS -worldlayer
--> openstreet maps is listed twice, due to one not having the copyright symbol

![image](https://user-images.githubusercontent.com/1833023/133117846-85545d0b-f3db-4861-aec9-2a8fc1f9837c.png)

[2021-09-13 16:01] elasticmachine commented on #111982
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-13 16:01] thomasneirynck commented on #111982
cc @nickpeihl @jsanz

[2021-09-13 16:40] timroes commented on #111687
@nickofthyme Thanks for pointing this out. In this case I think our actually behavior we want across Kibana is having this setting on, and not clip the selected date (as it would be after the fix). I'll add that property in Discover to the chart.

cc @flash1293 @stratoula I think we also want to enable this setting on the Lens and XY axis chart to prevent the same behavior.

[2021-09-13 16:41] nickpeihl commented on #111982
After speaking with @nyurik about this, I think we should be able to fix this in Kibana (or probably ems-client) rather than making changes in the EMS services. I'll dig into this. Thanks for the reminder @thomasneirynck.

[2021-09-13 16:56] #111894 closed

[2021-09-13 16:56] #111896 closed

[2021-09-13 17:04] ghudgins commented on #111673
Using labels around a pie is not recommended for a few reasons:
 - **Readability** is the primary one - the text is exactly where the vis is and the vis is as large as the display will alllow.
 - While it may look good on a larger display you cannot guarantee that a user is viewing on a large window where there is enough space for both the labels and the slices. The labels, when long, can take up

[2021-09-13 17:05] ryankeairns commented on #111686
This is not a bug as this capability was intentionally removed when the solution side nav was introduced. Ongoing feedback is being tracked here: https://github.com/elastic/kibana/issues/77072 so closing this issue as a duplicate.

[2021-09-13 17:05] #111686 closed

[2021-09-13 17:10] kibanamachine commented on #111910
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16844/)

[2021-09-13 17:12] ymao1 commented on #60315
Updated the description to include an item for keeping track of rules that exceed their timeout.

[2021-09-13 17:15] liza-mae commented on #111596
@weltenwort @shahzad31 - I can add the new feature flag to the test suite ```observability_functional``` if the other tests will use default.  Thanks.

[2021-09-13 17:18] #110487 closed

[2021-09-13 17:18] tmitanitky commented on #111923
I intended inside the "Table" tab.
Now I checked to find the order in the "JSON" tab seems to be the same as that of the Table tab.

[2021-09-13 17:19] ryankeairns commented on #17298
There are no existing plans in place that I'm aware of regarding the next phase. That particular issue is more about a11y improvements to be gained, in parallel. In some ways we've made progress - there are new EUI page layout components, those are wrapped by a Kibana page wrapper, but actually wrapping the app in such a way to support an always visible banner/footer has not been discussed since t

[2021-09-13 17:31] estermv opened #112002 "[Stack Monitoring][Angular removal] Date picker is not updated when url changes"

[2021-09-13 17:38] spalger commented on #57370
FYI, project progress can be viewed here: https://github.com/elastic/kibana/projects/76

[2021-09-13 17:39] joshdover commented on #108959
Got it, so the IDs are not changing at the same time the objects actually support multiple spaces. So we won't be able to create a new object that is shared to all spaces that the asset may have been installed into whenever the IDs change in the 8.0 release.

It seems option 2 is going to be the best path forward until we can have a true multi-space experience for Fleet assets, at which point we s

[2021-09-13 17:39] eyeamkd commented on #111383
So, the PR should contain updated message, is that it? @joshdover If so, I'd like to contribute

[2021-09-13 17:45] jportner commented on #108959
:+1:

I'm sure I will be at least somewhat involved in the changes for those code owners, I'll do my best to coordinate with y'all when the time comes.
We'll need to work from the inside out, in terms of the potential object reference graph -- meaning that index patterns will need to be shareable first, then visualizations/lenses, then dashboards. Since those are all owned by different teams, I do

[2021-09-13 17:46] eyeamkd commented on #110479
@sqren, I can add the loading indicator on the error page and on the metric details page. How do I get started, is there any guide or instructions page available that contributors have to follow?

[2021-09-13 17:49] joshdover commented on #74353
+1 to choosing spaces before creating the objects. In general, I think we need to take a design-first approach here and then see what UI components would be best to re-use for the initial integration installation flow.

It's important that we try to provide good defaults here and fewer choices when possible to streamline the process of getting data into the Stack. @mostlyjason I think it's also a

[2021-09-13 17:53] tylersmalley commented on #111907
Related to https://github.com/elastic/kibana/issues/111910

[2021-09-13 17:56] tylersmalley commented on #111910
This was skipped here: https://github.com/elastic/kibana/issues/111907#issuecomment-917228000

Also backported the skip to 7.x e6341032db1770cd943598d07e090ae74d2b9521

[2021-09-13 18:13] kibanamachine commented on #104265
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16998/)

[2021-09-13 18:20] mostlyjason commented on #110063
Dmitry and I met during the design sync and we decided to move forward with option A.

[2021-09-13 18:22] chrisronline opened #112009 "[Alerting] Add telemetry for "fields" attribute usage in find API"
We need to answer the following questions:

- What percentage of clusters are using the "fields" attribute on the find rules HTTP API?
- How many times per cluster?

[2021-09-13 18:22] elasticmachine commented on #112009
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-13 18:45] dplumlee opened #112011 "[Security Solution][Detection Alerts] Refresh isn't synced with workflow status updates in Timeline"
Found and related [to this PR](https://github.com/elastic/kibana/pull/111042), comment [here](https://github.com/elastic/kibana/pull/111042#issuecomment-912853319)

The refresh isn't working properly to sync the entire alerts page to the timeline flyout after our RAC updates. Users are still able to do a hard browser refresh to see the data displayed properly but this extra step might result in un

[2021-09-13 18:45] elasticmachine commented on #112011
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-13 18:50] thompsongl commented on #100192
Line numbers in EuiCodeBlock will be available after the next release: https://github.com/elastic/eui/pull/4993

[2021-09-13 19:31] kibanamachine commented on #107854
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16999/)

[2021-09-13 20:02] #108757 closed

[2021-09-13 20:09] shaunmcgough commented on #108794
++ to just adopting the text change with link to docs.  When @gchaps and I spoke about this, it was more around the helper text so the user was able to get to some relevant results. The picture is a nice to have.

[2021-09-13 21:14] shaunmcgough commented on #111826
Just for awareness, we also wanted to change the text here. So if possible we could do this while in the area. Just raising it here. https://github.com/elastic/kibana/issues/108794

[2021-09-13 21:33] scottdfedorov commented on #94168
Hate to be a bother, but any update on this issue? We still cannot add a date formay like `yyyy-MM-dd HH:mm:ss` via Kibana... :(

[2021-09-13 22:38] tsullivan opened #112030 "[Reporting] Cloud settings do not allow `xpack.reporting.capture.networkPolicy.rules`"
**Kibana version:** 7.15

**Installation method:** ECE

**Describe the bug:**
Kibana needs the ability to be prevented from making requests to unknown or untrusted remote hosts. For this reason, Reporting supports a network policy that can block certain hosts or give access to only certain hosts.

**Steps to reproduce:**
1. Create an ECE instance
2. Customize the Kibana configuration
3. Use the se

[2021-09-13 22:38] elasticmachine commented on #112030
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-13 22:38] elasticmachine commented on #112030
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-13 22:49] tsullivan commented on #109456
The failures are probably coming from another test deleting this policy before this one is run. I think that could be the case based on the purpose of this test, which is to check that the default ILM policies exist.

The bug is in the test itself which should ensure the correct setup in ES. The `elastic+estf-cloud-kibana-tests` runner changes the order that tests run.

[2021-09-13 22:50] liza-mae commented on #110367
This is still failing, can someone check why?

[2021-09-13 23:00] #108336 closed

[2021-09-13 23:07] spong opened #112032 "[Security Solution][Detections] Rule shows read privileges warning when using CCS even if privileges exist"
As a byproduct of https://github.com/elastic/elasticsearch/issues/67798, since there is currently no way to verify if a user has `read privileges` across all clusters for a CCS index pattern like `*:winlogbeat-*`, Detection Rules using CCS index patterns will [display the following warning](https://github.com/elastic/kibana/pull/88763) even if the user/Rule API Key has `read privileges` for all ma

[2021-09-13 23:07] elasticmachine commented on #112032
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-13 23:07] elasticmachine commented on #112032
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-13 23:54] spong opened #112036 "[Security Solution] Alerts Count table title overflow wraps prematurely"
The `Count Table` title wraps a bit pre-maturely starting at around `<1790px`. Applying a fixed width of `width: 150px;` to the title container (including inspect hover action) seemed to work fairly nice.

<img width="1633" alt="Alerts_-_Kibana" src="https://user-images.githubusercontent.com/2946766/133171468-50e9099f-4904-40fc-b39a-d12be8446e35.png">

[2021-09-13 23:54] elasticmachine commented on #112036
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-13 23:54] elasticmachine commented on #112036
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-13 23:54] elasticmachine commented on #112036
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-14 00:08] lukasolson commented on #106074
So it looks like there are a couple of things at play here:

First of all, panels that have their own (relative) time range (like the "Top products last week" vis) will always result in this pop-up, since restoring this panel will result in a new relative time range. (This is a known error case we've discussed in the past. If we haven't already, we should add this to the documentation.)

This can

[2021-09-14 01:59] jonny77 opened #112044 "set locale to zh-CN ,but not working"
**Kibana version:**
7.10.2

**Elasticsearch version:**
7.10.0
**Server OS version:**
mac os  11.4
**Browser version:**
93.0.4577.82

**Original install method (e.g. download page, yum, from source, etc.):**
brew install kibana
**Describe the bug:**

**Steps to reproduce:**
 set up locale in kibana.yml and restart kibana . but not working
and try to set up in command (/usr/local/Cellar/kibana/7.10.

[2021-09-14 02:13] kibanamachine opened #112045 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional_basic/apps/ml/permissions/read_ml_access·ts - apps machine learning basic license permissions for user with read ML access (ft_ml_viewer) should display elements on Index Data Visualizer page correctly"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17006/)

[2021-09-14 02:40] yiyangliu9286 commented on #108940
### Please view the proposed design screens for this request, attaching the [Figma mock link](https://www.figma.com/file/t7owz0mQvYvAtj9VnQhjCN/8.x-Add-doc-link-template-examples-in-Actions-UI?node-id=0%3A1) for design details:

- Based on the requirement, adding a docs link button so users can have more context around their options and proper formatting necessary to achieve their use case.
<img w

[2021-09-14 03:14] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17007/)

[2021-09-14 05:16] muskangulati-qasource opened #112051 "[Security Solution] Isolation & Release for VDI endpoints shows inconsistent results"
**Description:**
Isolation & Release for VDI endpoints shows inconsistent results

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. VDI endpoints should exist

**Steps to Reproduce:**
1. Navigate to the Endpoints tab.
2. Isolate 1 VDI endpoint
3. Isolate 2nd endpoint.
4. Observe that the actions are wrongly sent.

**Impacted Test case:*

[2021-09-14 06:03] stratoula commented on #111687
The agg based xy charts already have this flag. I can reproduce this behavior only in Lens

[2021-09-14 06:09] ppisljar commented on #111191
I have a feeling that this issue is wrongly stated, or i am not understanding it well.

1. as Vadim and Devon already stated embeddables have no concept of saved objects, and embeddables API does no loading of saved objects as far as i am aware. This is completely up to specific embeddable implementations on how they want to work.
2. its not clear about loading which saved objects this is all abou

[2021-09-14 06:16] elasticmachine commented on #112045
Pinging @elastic/ml-ui (:ml)

[2021-09-14 06:18] ppisljar commented on #111191
To me it looks like we need a general solution (not something embeddable, or worse, dashboard specific) that would allow us to identify whenever we are loading the saved objects if the object Ids are `old` or `new`.

Application should theoretically have that knowledge. So we could create a very simple service that every app can then use:

[code]

and then internally in the savedObjectsClient.get

[2021-09-14 06:19] pgayvallet commented on #17298
cc @alexfrancoeur then (not sure if you're still directly owning this, feel free to forward the ping)

[2021-09-14 06:25] pheyos commented on #112045
Failure screenshot:
![image](https://user-images.githubusercontent.com/1945390/133205201-864f07f6-e454-434c-9100-addfe1f1054e.png)

This shows that the test failure `Expected total document count to be '287' (got '0')` is correct. But the chart displays loaded data, so it looks like there's a case where the UI can load the chart but doesn't fill the docs count and the fields.

[2021-09-14 06:52] ghost opened #112053 "[Security Solution] Nodes are not displayed in analyzer event for alerts when CCS setup"
**Describe the bug**
Nodes are not displayed in analyzer event for alerts when CCS setup

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. CCS setup with 1 source and 1 remote
3. On the source create the indexes of the remote
2. Alerts should be generated with the created indexes

**Steps to Reproduce**
1. Navigate to Alerts tab of source
2. click on more actions of alert

[2021-09-14 06:52] elasticmachine commented on #112053
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-14 06:52] deepikakeshav-qasource commented on #112053
@manishgupta-qasource Please Review!!

[2021-09-14 06:59] dikshachauhan-qasource opened #112054 "[Fleet]: Field Content is overlapping while adding or editing system integration under default policy on policy tab."
*Kibana version:**  7.15 BC5 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC5 Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent Policy Tab.
	- Navigate to 'Default policy' policy.
	- Attempt to edit the system integration and expand the metric

[2021-09-14 07:00] elasticmachine commented on #112054
Pinging @elastic/fleet (Team:Fleet)

[2021-09-14 07:00] dikshachauhan-qasource commented on #112054
@manishgupta-qasource Please review

[2021-09-14 07:40] majagrubic commented on #97533
The whole embeddable logic has changed drastically and since this hasn't reappeared since, I'm gonna close the issue.

[2021-09-14 07:41] #97533 closed

[2021-09-14 07:46] rudolf commented on #69720
Yes. As best I can tell we have no "search over your url's" functionality, but I'm not very familiar with this part of the code base.

[2021-09-14 07:55] manishgupta-qasource commented on #112053
Reviewed & assigned to @MadameSheema

[2021-09-14 07:55] manishgupta-qasource commented on #112054
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-09-14 08:15] Dosant commented on #111962
Thanks for reporting!
We've fixed a bunch of race condition bugs in state management of that UI in 7.15+ and I can't reproduce this in 7.15+ 🎉
I think we can close this

[2021-09-14 08:15] #111962 closed

[2021-09-14 08:24] flash1293 commented on #107854
It seems like this is failing because of some race condition with entering the script:
<img width="598" alt="Screenshot 2021-09-14 at 10 06 26" src="https://user-images.githubusercontent.com/1508364/133220089-a4231c65-dfe1-4fdf-a543-c0bcbc791a3c.png">

@mattkime do you have an idea how this could happen? `emit('abc')` should be perfectly valid. Maybe we have to type with a delay of 100ms or someth

[2021-09-14 08:36] deepikakeshav-qasource opened #112057 "[Security Solution] Unable to add visualization when add the alert to new case from alerts tab"
**Describe the bug**
Unable to add visualization when add the alert to new case from alerts tab

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts tab of security
2. click on more action icon
3. click on add to new case
4. Pr

[2021-09-14 08:36] elasticmachine commented on #112057
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-14 08:37] deepikakeshav-qasource commented on #112057
@manishgupta-qasource Please review!!

[2021-09-14 08:39] manishgupta-qasource commented on #112057
Reviewed & assigned to @MadameSheema

[2021-09-14 08:56] kertal commented on #111826
@shaunmcgough true, but it should be a follow up PR, since this fix will be backported for older Kibana versions

[2021-09-14 08:57] #90582 closed

[2021-09-14 08:57] #104806 closed

[2021-09-14 08:58] pgayvallet commented on #110367
@joshdover I don't see a PR associated with this issue. Do you remember what should have resolved this?

[2021-09-14 09:07] dej611 opened #112060 "[Inspector][Lens][Visualize] Inspector panel has small UI differences between apps"
**Describe the bug:**

The Inspector flyout is shown with some small differences when in Lens and Visualize.

Lens Inspector:
<img width="580" alt="Screenshot 2021-09-13 at 19 11 01" src="https://user-images.githubusercontent.com/924948/133229213-dfa95d75-075b-4ebf-97c9-80423baf5683.png">

Visualize Inspector:
<img width="587" alt="Screenshot 2021-09-13 at 19 11 18" src="https://user-images.github

[2021-09-14 09:07] elasticmachine commented on #112060
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-14 09:22] flash1293 commented on #112060
IMHO there should always be a heading in the flyout (at least the EUI examples do have headers). What's the other difference?

[2021-09-14 09:36] #111086 closed

[2021-09-14 09:45] estermv opened #112062 "[Stack Monitoring][Angular removal] Blank page between loading page and first page"
When users land on the stack monitoring page they see a blank page between "loading states".

This happens because the flow is:
1. User go to stack monitoring and is redirected to the `/loading` page
2. User is redirected to `/overview`
3. The <RouteInit> component does a request to the clusters endpoint
4. While it waits for that request to finish, users see a blank page.
We could

[2021-09-14 09:46] elasticmachine commented on #112062
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-14 09:48] estermv opened #112063 "[Stack Monitoring][Angular removal] Datepicker not updated when url is changed"
When the url changes the time, for example, with the zoom-out behavior from charts or from the browser go back button, the datepicker is not synced with the url.

[2021-09-14 09:49] elasticmachine commented on #112063
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-14 09:51] #112002 closed

[2021-09-14 09:52] gmmorris opened #112064 "Elastic Maps Server is specific in our action docs"
For some reason, we specify EMS (`{hosted-ems}`) instead of Kibana (presumably) 🤔
I'm guessing this was [a copy-pasta](https://github.com/elastic/kibana/pull/100179) that slipped through.

We should correct these docs:
https://github.com/elastic/kibana/blob/a8c2a438340fba78ca8d7bc4ee63c5a224e6f1f5/docs/settings/alert-action-settings.asciidoc

![image](https://user-images.githubusercontent.com/3862

[2021-09-14 09:52] elasticmachine commented on #112064
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 09:55] dikshachauhan-qasource opened #112065 "[Fleet]: Integration name not displayed on Data stream tab for custom logs."
*Kibana version:**  7.15 BC5 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC5 Kibana cloud-qa environment should be available.

**Build Details:**
[code]
2. Custom logs integration should be added to agent policy.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Data stream Tab.
	- Apply dataset filter for custom log event

[2021-09-14 09:56] elasticmachine commented on #112065
Pinging @elastic/fleet (Team:Fleet)

[2021-09-14 09:57] dikshachauhan-qasource commented on #112065
@manishgupta-qasource Please review

[2021-09-14 09:58] elasticmachine commented on #112057
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-14 10:01] MadameSheema commented on #112053
@deepikakeshav-qasource can you please confirm if this is happening on 7.14 as well? Thanks!

[2021-09-14 10:01] elasticmachine commented on #112053
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-14 10:01] manishgupta-qasource commented on #112065
Reviewed & assigned to @jen-huang

[2021-09-14 10:25] michaelolo24 commented on #112053
Hi @deepikakeshav-qasource can you please try expanding the time range to like 1 month? If you don't see any process events in the given time range, you will always get the message you see in the video. The other option is to add `event.category: "process"` to the kql search and see if you see any process events in the table. If there are none of those in the timerange then it won't show data eith

[2021-09-14 10:31] DziyanaDzeraviankina commented on #111335
Opened an [issue for that in EUI repository](https://github.com/elastic/eui/issues/5179).

[2021-09-14 10:37] arisonl commented on #110080
Here is a visual capture of how this behaves right now.

![bug3](https://user-images.githubusercontent.com/5412240/133235148-36742cac-3680-42e3-8da0-2eac85ba7d1a.gif)

Some initial thoughts (that will need validation): Increasing the threshold and this way causing the condition to stop being met is not a recovery. If you change the threshold, you have reset the rule. A recovery is defined against

[2021-09-14 10:42] paulb-elastic commented on #111596
Is there any more that needs doing on this (trying to judge the importance as it has a 7.15.0 label on it)?  Thanks.

[2021-09-14 10:48] dej611 commented on #112060
I think the header is the only difference so far I've found as well.

[2021-09-14 11:03] joshdover commented on #110367
I was hoping this would have fixed it: https://github.com/elastic/kibana/pull/110498

[2021-09-14 11:06] joshdover commented on #111383
@eyeamkd That'd be fantastic. Here's the source file where this string is specified: https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps.tsx/#L45

To contribute, you can follow our [external contributor guide here](https://www.elastic.co/guide/en/kibana/master/contributing.html). Let me know here if you have any specific questions!

[2021-09-14 11:07] shahzad31 commented on #111596
@paulb-elastic there is PR https://github.com/elastic/kibana/pull/111942 up to resolve, targetted towards 7.15.1, so i have updated the labels.

[2021-09-14 11:12] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17015/)

[2021-09-14 11:17] deepikakeshav-qasource commented on #112053
Hi @MadameSheema,

We have validated this issue on 7.14.0 and observe that issue is also **occurring** on **7.14.0.** Please find the below screen recording:

**Screen recording**

https://user-images.githubusercontent.com/61860752/133247266-4ffdbb71-1eec-4150-85c7-044bffd05b03.mp4

Hi @michaelolo24,

We have added the query ```event.category: "process"``` in KQL search on **7.15.0 build** and obs

[2021-09-14 11:20] cnasikas commented on #112057
Fixed by https://github.com/elastic/kibana/pull/112067

[2021-09-14 11:25] eyeamkd commented on #111383
Thanks a lot @joshdover

[2021-09-14 11:38] juliaElastic opened #112075 "[Security Solution] Some fields are not persisted when creating Endpoint integration"
**Describe the bug:**
User reported here https://discuss.elastic.co/t/fleet-api-vs-fleet-ui/283918
When creating a package_policy Endpoint using API, some fields are not persisted. This is not happening when the package_policy is updated.

**Kibana/Elasticsearch Stack version:** 8.0.0, probably 7.x too

**Server OS version:** macOS Big Sur 11.5.2

**Browser and Browser OS versions:** N/A

**Elasti

[2021-09-14 11:38] elasticmachine commented on #112075
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-14 11:38] #56665 closed

[2021-09-14 11:49] dikshachauhan-qasource opened #112078 "[Fleet]: Offline and Inactive agent euiBadge icon having same background color."
*Kibana version:**  7.15 BC5 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC5 Kibana cloud-qa environment should be available.

**Build Details:**
[code]
2. Agent having below agent statuses.
- Offline
- Inactive

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent Tab.
	- Apply status filter selecting offline and inacti

[2021-09-14 11:49] elasticmachine commented on #112078
Pinging @elastic/fleet (Team:Fleet)

[2021-09-14 11:50] dikshachauhan-qasource commented on #112078
@manishgupta-qasource Please review

[2021-09-14 11:50] gmmorris opened #112079 "Customers seem to expect to have rule context variables when testing a connector"
When customers are testing their connectors they often use examples from rules, which makes sense, seeing as the only other place they could use these forms is on rule actions.

As far as I can tell:

1. We haven't actually [documented](https://www.elastic.co/guide/en/kibana/master/action-types.html#connector-management) the Test tab on the connector flyout. We should add docs for this in general.

[2021-09-14 11:51] manishgupta-qasource commented on #112078
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-09-14 11:54] elasticmachine commented on #112079
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 11:54] gmmorris opened #112080 "Should we have universal connector context variables?"
Relates to https://github.com/elastic/kibana/issues/112079

When testing connectors there are no context variables available.
Adding some universal context variables (that are always available) would enable customers to test how they interact with context variables prior to setting up a rule.

This **is not** an alternative to [the ability to test them on a rule](https://github.com/elastic/kibana/

[2021-09-14 11:54] elasticmachine commented on #112080
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 12:03] eyeamkd commented on #111383
Hey @joshdover, I created a PR for this issue, seems like I don't have the access to add labels to the PR which is why some checks have been failing. Lemme know if there are any mode changes/modifications to be done from my end

[2021-09-14 12:03] #111747 closed

[2021-09-14 12:29] mbarretta commented on #17298
Thanks for the updates, all. The header helped, but the footer is still an ongoing requirement for a large number of federal users. Are we in the post-8.0 timeframe already?

[2021-09-14 12:36] ghost opened #112086 "[Security Solution]"Additional Filters & Grid View" field labels runs over to "Show Dates & Refresh button" on scrolling down the alerts page."
**Description:**
"Additional Filters & Grid View" field labels runs over to "Show Dates & Refresh button" on scrolling down the alerts page.

**Build Details:**
Version: 7.15.0 BC5
Build: 43957
Commit: 0239ff6864dd9930cfe9bcd9a679272f2b7465c2
Artifact link: https://staging.elastic.co/7.15.0-edd09abf/summary-7.15.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exis

[2021-09-14 12:37] elasticmachine commented on #112086
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-14 12:37] mandeepkaur-qasource commented on #112086
@manishgupta-qasource Please review!!

Thanks!!

[2021-09-14 12:39] pmuellr opened #112087 "[task manager] improve task manager health `observed_kibana_instances` value"
**Kibana version:** 7.15

In practice, we've seen the `observed_kibana_instances` in the task manager health report be significantly off from what the actual number of instances.  In one case, it reported 19 when there were in fact just 6 instances.  IIRC, these same numbers have been observed over the course of at least a week.

The field is set here:

https://github.com/elastic/kibana/blob/11871

[2021-09-14 12:39] elasticmachine commented on #112087
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 12:40] #22261 closed

[2021-09-14 12:40] manishgupta-qasource commented on #112086
Reviewed & assigned to @MadameSheema

[2021-09-14 12:53] sqren opened #112091 "[APM] Service inventory don't show services that only contain error events"
### Kibana version

8.0

### Steps to Reproduce

Service inventory should show services that have transactions, metrics and/or errors.

When using the search bar to filter by error events (`processor.event : "error"`) it shows "No services found" even though there are services with error documents:

![image](https://user-images.githubusercontent.com/209966/133260759-26738b86-9b96-456f-aa76-e601723

[2021-09-14 12:53] elasticmachine commented on #112091
Pinging @elastic/apm-ui (Team:apm)

[2021-09-14 13:01] mattkime commented on #107854
I'm not sure but maybe @sebelga has an idea. Otherwise I can dig in deeper.

[2021-09-14 13:05] yelexin opened #112094 "[SSO] SAML Request generated by Kibana is incorrect, NameIDPolicy XML element"
**Kibana version:**
Public Cloud Version

**Elasticsearch version:**
Public Cloud Version

**Server OS version:**
Public Cloud Version

**Browser version:**
Chrome 92.0.4515.159

**Browser OS version:**
Chrome 92.0.4515.159

**Original install method (e.g. download page, yum, from source, etc.):**
No

**Describe the bug:**

SAML Request generated by Kibana is incorrect. The following is the SAML R

[2021-09-14 13:09] elasticmachine commented on #112086
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-14 13:12] mdefazio commented on #108940
Nice update on this!

Is there a better title for the popover?  Are these simply `Alert variables`?  Or perhaps we should add in the label next to the icon and then we might not need the popover title.

Would it make sense to break out templates as a separate menu? (Then I think you'll definitely want labels next to the icons)

Also, we will likely want to transition this to the [markdown editor](

[2021-09-14 13:16] joshdover opened #112095 "[Fleet] Add support for bundling Stack-version aligned packages with Kibana"
In #111858 we will be adding support for automatically upgrading a few select packages when Kibana upgrades (or downgrades) to ensure that Stack features that depend on package ingest assets being installed (specifically, index templates and ingest pipelines) will work correctly when a user upgrades Kibana. This is necessary for Kibana features to work correctly, for example new features in the AP

[2021-09-14 13:16] elasticmachine commented on #112095
Pinging @elastic/fleet (Team:Fleet)

[2021-09-14 13:16] joshdover commented on #112095
cc @axw @ruflin

[2021-09-14 13:20] sabarasaba opened #112097 "[Upgrade Assistant] es_deprecation_status api should return deprecation.level instead of isCritical"
As mentioned in [this comment](https://github.com/elastic/kibana/pull/111713#discussion_r707447523) would be nice to refactor [es_deprecation_status](https://github.com/elastic/kibana/blob/7.x/x-pack/plugins/upgrade_assistant/server/lib/es_deprecations_status.ts#L50) api to return just the level instead of isCritical. That way we can also refactor `DeprecationBadge` to just accept deprecation.leve

[2021-09-14 13:20] elasticmachine commented on #112097
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-14 13:22] MadameSheema commented on #111120
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC6? Thanks :)

[2021-09-14 13:22] MadameSheema commented on #111679
@samratbhadra-qasource can you please validate the fix of this issue on 7.15BC6? Thanks :)

[2021-09-14 13:22] pmuellr opened #112098 "[alerting] provide better health status"
Currently the alerting health reporting only sends a status "level" value up to Kibana's plugin status infrastructure.  Those values are `unavailable`, `degraded`, ....  However the plugin status infrastructure also allows a "summary" (string) of that status to also be sent.  If it's not sent in, Kibana uses a generic summary like "Alerting framework is degraded".

Throughout both alerting and tas

[2021-09-14 13:22] elasticmachine commented on #112098
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 13:24] #111841 closed

[2021-09-14 13:33] sabarasaba opened #112100 "[Upgrade Assistant] Check if set_upgrade_mode is enabled before allowing users to delete/upgrade a ML deprecation"
As mentioned in https://github.com/elastic/kibana/pull/111713#issuecomment-918541539, we should show a warning to the user if `_ml/set_upgrade_mode` is enabled and they try to delete/upgrade a ML deprecation. We should also check if do you this will still be a valid ES API once we support migrating system indices?

[2021-09-14 13:33] elasticmachine commented on #112100
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-14 13:37] kibanamachine opened #112102 "Failing test: Execution Context Functional Tests.x-pack/test/functional_execution_context/tests/browser·ts - Execution context Browser apps discover app propagates context for Discover"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17017/)

[2021-09-14 13:37] kibanamachine opened #112103 "Failing test: Execution Context Functional Tests.x-pack/test/functional_execution_context/tests/browser·ts - Execution context Browser apps "after all" hook in "Browser apps""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17017/)

[2021-09-14 13:41] timroes commented on #109107
@ryankeairns Sorry I missed this. After one of the meetings, we came to the conclusion that this switcher should be in the EUI component itself (tracked via https://github.com/elastic/eui/issues/5080). We currently assume we could roll out as long as that switcher is available, even if auto-height is not yet in the switcher. Thus we'd appreciate if work on the switcher in EUI is already started po

[2021-09-14 13:46] legrego opened #112105 "[Dev Docs] Provide setup instructions for configuring authentication realms"
Providing docs for configuring and using our various authentications realms would enable us and other teams to be more self-sufficient when they need to test a specific setup or user flow.

These docs should be targeted at Kibana contributors, as they should be curated for a local testing environment, and not a production-ready installation.

[2021-09-14 13:46] elasticmachine commented on #112105
Pinging @elastic/kibana-security (Team:Security)

[2021-09-14 13:48] timroes commented on #111687
Reopening for TSVB and Lens fix.

[2021-09-14 13:49] ghudgins opened #112106 "[ML] Embeddable can be "brushed" in a dashboard"
**Describe the feature:**
Would like to be able to brush a ML embeddable when it's on a dashboard to cross filter for anomalies.

Nice to have: integration with synchronized cursors that TSVB, Lens, XY support #106845 (this might be a separate issue)

**Describe a specific use case for the feature:**
**When** I have a dashboard displaying metrics from a variety of datasets
**And** I have a ML embe

[2021-09-14 13:49] elasticmachine commented on #112106
Pinging @elastic/ml-ui (:ml)

[2021-09-14 13:49] elasticmachine commented on #112106
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-14 13:50] #104031 closed

[2021-09-14 13:55] #105272 closed

[2021-09-14 14:07] elasticmachine commented on #111184
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-14 14:12] ryankeairns opened #112109 "Create a common no-data view and conditional check for Analytics applications"
Similar to how this has been handled for Solutions, we would like to show the same empty state page for all Analytics applications, as the default. Specifically, this  [new empty state design](https://github.com/elastic/kibana/pull/108532) for the Kibana Overview page should be displayed for each Analytics application when no data is present.

## Proposed technical approach
One way we could handle

[2021-09-14 14:14] kibanamachine commented on #100951
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16867/)

[2021-09-14 14:17] ogupte commented on #110037
I feel like container restarts are something we'd want to show in the service annotations anyways. Though we might want to display it differently. like if there were no events with the same service.node.name within the selected time range, we'd show a "service start" annotation which includes the version and node name. @formgeist, what do you think about something like this?

[2021-09-14 14:23] elasticmachine commented on #107255
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-14 14:24] lukeelmers commented on #107255
@tsullivan While we do plan to remove this eventually, we are not currently planning to do so in 8.0. Relabeling this for app services for the time being so y'all can track efforts to change usage of the provider. We will aim to set a specific "remove by" release for the deprecated one

[2021-09-14 14:33] lukeelmers commented on #109970
Heya @elastic/kibana-docs team, would you have any recommendations for different copy we can use here to make the warning seem less "threatening"?

[2021-09-14 14:38] lukeelmers commented on #110638
chatted with @thesmallestduck, and we decided the answer to both of these is "yes"

[2021-09-14 15:05] jloleysens opened #112122 "[Reporting/Dashboard] Guide users"
## Summary

Reports can be generated with URLs containing issues that users should be notified about. A good place to do this would be where they download or generate the report. This includes:

* The point at which they generate the report or copy the report URL (if the warning is known at that point)
* The toast saying the report is ready to be downloaded
* In the reporting management UI where t

[2021-09-14 15:05] elasticmachine commented on #112122
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-14 15:05] elasticmachine commented on #112122
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-14 15:05] elasticmachine commented on #112122
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-14 15:05] ogupte opened #112123 "[APM] Service overview transaction breakdown chart always shows no data"
Starting in 7.15 the transaction breakdown chart in service overview is always empty:

![Screen Shot 2021-09-14 at 11.01.03 AM.png](https://zube.io/files/elastic/60cb7746060da33848030f4f13bb4630-screen-shot-2021-09-14-at-11-01-03-am.png)

The culprit seems to be the `kuery` passed to the API is incorrect (https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/app/servic

[2021-09-14 15:05] elasticmachine commented on #112123
Pinging @elastic/apm-ui (Team:apm)

[2021-09-14 15:07] ghudgins commented on #71150
I will start a requirements doc on this

[2021-09-14 15:11] elasticmachine commented on #72098
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-14 15:13] ghudgins commented on #72098
similar to https://github.com/elastic/kibana/issues/103701 ...we could try to move this logic up to EUI or to something that's re-usable for this case as well

should consider implementing a common component for both lens & discover

[2021-09-14 15:18] ghudgins commented on #72437
@AlonaNadler @timductive is this a presentation team issue now? Should we be adding some of the requirements for this from the lens side? I have thoughts about what a "quick edit" could be....

[2021-09-14 15:23] ghudgins commented on #72634
the number of inputs changing is the core reason but coming up with a more specific text about each transition is a larger effort and doesn't seem like it's worth the value of the improved tooltip. a better feature that could help a user if they do something unexpected is https://github.com/elastic/kibana/issues/54971 @bhavyarm is it okay if I close this? what do you think

[2021-09-14 15:23] jloleysens opened #112126 "[Index Management] Invisible link to `undefined` data stream"
**Kibana version:** master (23ac819c3f8)

**Describe the bug:**

Tabbing through the UI on Index Management into the table there is a point at which focus arrives at an "invisible" link to `undefined` data stream that navigates to a non-existent data stream.

**Steps to reproduce:**

![invisible-link-to-data-stream](https://user-images.githubusercontent.com/8155004/133286281-71596698-40ad-41f9-b4c

[2021-09-14 15:24] elasticmachine commented on #112126
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-14 15:28] ghudgins commented on #72711
This is becoming more important because formula does not allow us to use data view pattern formatting options

[2021-09-14 15:32] YulNaumenko commented on #93466
MS Exchange Online using the general OAuth 2.0 Client Credentials flow (no specific flavors). I will implement OAuth token request logic as a generic lib function which could be reusable across the actions plugin.

All existing MS Exchange connectors will still be valid till the Microsoft drop the Basic Auth. After that it will start failing the action execution.
To migrate its to OAuth and MS Gra

[2021-09-14 15:33] alisonelizabeth commented on #111255
Fixed by https://github.com/elastic/kibana/pull/111243

[2021-09-14 15:33] #111255 closed

[2021-09-14 15:34] alisonelizabeth commented on #111069
Fixed by https://github.com/elastic/kibana/pull/111252.

[2021-09-14 15:34] #111069 closed

[2021-09-14 15:35] ghudgins commented on #73152
will track this idea as a project on overall planning boards and in #17087

[2021-09-14 15:35] #73152 closed

[2021-09-14 15:36] alisonelizabeth commented on #111041
@dborodyansky any updates here? Should we move forward with implementing this change?

[2021-09-14 15:37] elasticmachine commented on #108255
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-14 15:37] elasticmachine commented on #108255
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-14 15:37] alisonelizabeth commented on #110737
Addressed by https://github.com/elastic/kibana/pull/111243 and https://github.com/elastic/kibana/pull/111231

[2021-09-14 15:39] ghudgins commented on #74247
add to more visualization types - this can be done without doing the overall suggestions improvement project

[2021-09-14 15:40] ThomThomson opened #112130 "[Reporting / Dashboard] Update Locator to use Only Unsaved State"
### Summary

The dashboard locator currently makes reporting links with _snapshot_ state. This means that even a saved dashboard with no unsaved changes is shared to reporting with all of its state written out in the URL. This means the URL can often get too long, especially when dashboards with By Value panels are used.

### Potential Solution

The dashboard app tracks and diffs current state aga

[2021-09-14 15:40] elasticmachine commented on #112130
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-14 15:40] elasticmachine commented on #112130
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-14 15:41] alisonelizabeth commented on #92467
I'm going to close this issue for now. If we decide we want to support this for the 7-8 upgrade, we can reopen.

[2021-09-14 15:41] #92467 closed

[2021-09-14 15:41] kpollich commented on #111858
This is captured as part of our top-level package policy upgrade under the final "Automatic package upgrades" bullet point.

https://github.com/elastic/kibana/issues/106048

The plan, for now, is to add a flag to integrations that denotes whether associated package policies should automatically be upgraded when the package is updated. This should eventually be replaced with a value that comes from

[2021-09-14 15:42] #108710 closed

[2021-09-14 15:42] cjcenizal opened #112131 "Use new types added to the ES client"
This is a running list of the new types which have been added to the ES client, which we're currently lint-ignoring. We should remove the lint-ignore comments and consume these new types.

- [ ] https://github.com/elastic/elasticsearch-specification/issues/532
- [ ] https://github.com/elastic/elasticsearch-specification/issues/533

[2021-09-14 15:42] elasticmachine commented on #112131
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-14 15:44] ThomThomson commented on #72098
@ghudgins, a common component for an `IndexPatternPicker` would be extremely helpful!

The Controls project will need one as well, and I've been thinking about how to ensure that the behaviour is the same for controls as it is for Lens and Discover.

[2021-09-14 15:46] flash1293 commented on #72098
Especially with upcoming data view related changes it would be nice to have a simple component to render instead of rebuilding. @mattkime do you think we could handle this in the similar way as the field editor popover?

[2021-09-14 15:57] rashmivkulkarni commented on #109288
closing it. Thanks for the explanation .

[2021-09-14 15:57] #109288 closed

[2021-09-14 16:07] mikecote commented on #110550
From doing a quick search, it seems correct, I don't think we have a workaround at this time other than solving the problem. The @elastic/kibana-alerting-services team is tracking such limitations under https://github.com/elastic/kibana/issues/89430.

[2021-09-14 16:11] Dmitriynj commented on #109462
Closing it, since it's passing on the latest [runs](https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-tests/lastBuild/#showFailuresLink).

[2021-09-14 16:11] #109462 closed

[2021-09-14 16:11] Dmitriynj commented on #109461
Closing it, since it's passing on the latest [runs](https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-tests/lastBuild/#showFailuresLink).

[2021-09-14 16:11] #109461 closed

[2021-09-14 16:14] flash1293 commented on #59588
Thought about this a bit and I think we shouldn't convert the existing saved objects and just keep them in their current shape because the risk / benefit trade off is not worth it. If everything goes according to plan, usage of the saved object types with stringified JSON should go down over time as well. I still agree with the sentiment here about not transforming the shown documents in any way -

[2021-09-14 16:18] MadameSheema commented on #102885
@amolnater-qasource can you please try to reproduce this again on the current 7.15BC? Thanks

[2021-09-14 16:28] pmuellr commented on #112087
Investigating a deployment showing this symptom, I happened to notice a number of task manager docs (41 in this case) for tasks with `status: running`, `retryAt: null`, and `scheduledAt: over-a-year-ago`.

So those are zombies, apparently.  Doesn't look like they'd had a negative impact on TM, besides being general garbage.  But they will affect the `observed_kibana_instances`, as they'r referenci

[2021-09-14 16:42] dej611 opened #112141 "[Lens] Implicit limit of two value formatters for metrics in XY charts"
**Describe the bug:**

There's an implicit limit of 2 value formatters for XY charts in Lens, but the user can still pick new value formatter even tho they are not applied.

In this configuration I've 3 metrics with 3 distinct value formatters (showing only the last one):

<img width="1099" alt="Screenshot 2021-09-14 at 18 36 06" src="https://user-images.githubusercontent.com/924948/133298989-3f20

[2021-09-14 16:42] elasticmachine commented on #112141
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-14 16:46] alisonelizabeth commented on #36390
I'm going to close this for now since we do not have plans to support this for the 7-8 upgrade in Upgrade Assistant. The reindex wizard work can be tracked via https://github.com/elastic/kibana/issues/46755.

[2021-09-14 16:46] #36390 closed

[2021-09-14 16:49] ThomThomson opened #112145 "[Dashboard] Remove Saved Objects Class for 8.0"
**Describe the feature:** The dashboard saved object class should be removed for 8.0 in favour of using the SavedObjectsClient directly

Part of https://github.com/elastic/kibana/issues/58243

[2021-09-14 16:49] elasticmachine commented on #112145
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-14 16:49] pmuellr commented on #112080
I did a quick look when looking at the support case for this.  Seems like the only existing top-level mustache variables that would make sense would be `date` and `kibanaBaseUrl`.  The rest are alerting-related, so seem a bit out of scope.  Turns out for the support case, the user **was** looking to use the `date` variable ...

[2021-09-14 16:53] #111628 closed

[2021-09-14 16:55] neptunian opened #112146 "[Monitoring] Correctly type kibana config"
Currently the config has a getter that we use and pass in the string of the property config name, but[ it's typed to always return a string](https://github.com/elastic/kibana/blob/07f4828f9a979f99b56359002bf21ad2393150d6/x-pack/plugins/monitoring/server/types.ts#L131) or undefined which is [not always the case](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/config.t

[2021-09-14 16:55] elasticmachine commented on #112146
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-14 16:59] pmuellr commented on #110080
Good insight!  That means we should be resetting the rule state on update, which we are **NOT** doing today!  I think we'd just be considering rule-type specific fields to count as an update where "the rule state will be reset" - setting mute/throttle/name, etc, shouldn't reset the rule state.

If we were to implement this today, we'd have to end up marking those alert instances as "recovered", bu

[2021-09-14 17:08] paulb-elastic commented on #106394
Discussed in refinement, closing in favour of https://github.com/elastic/uptime/issues/361

[2021-09-14 17:09] andreadelrio opened #112149 "[Discover] Add "Chart options" menu"
To support the integration with ML's Data Visualizer, we've added a new toggle (button group) to the top section of the main area of Discover. This has caused that top area to start getting quite crowded. The proposed solution for this is:

1. Add a new menu labeled "Chart options" which has the items a) toggle chart visibility and b) set time interval for chart. Align this menu to the right.
2. C

[2021-09-14 17:09] elasticmachine commented on #112149
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-14 17:16] michaelolo24 commented on #105941
This work is being tracked here: https://github.com/elastic/kibana/issues/111581

[2021-09-14 17:16] michaelolo24 commented on #105941
Closing as it's being tracked there ^^

[2021-09-14 17:16] #105941 closed

[2021-09-14 17:24] #112123 closed

[2021-09-14 17:29] alisonelizabeth commented on #72014
Addressed via https://github.com/elastic/kibana/pull/111451.

[2021-09-14 17:29] #72014 closed

[2021-09-14 17:30] YulNaumenko opened #112151 "[Meta] Deprecating Exchange Online Basic Authentication"
1. Initial [issue](https://github.com/elastic/kibana/issues/93466) was created by the community, based on the info from Microsoft about [deprecating basic auth for exchange ](https://docs.microsoft.com/en-us/lifecycle/announcements/exchange-online-basic-auth-deprecated)
2. Based on the options, which Microsoft gave us for authenticating SMTP integration application, the next step was creating [res

[2021-09-14 17:30] elasticmachine commented on #112151
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 17:42] #82533 closed

[2021-09-14 17:50] tsullivan commented on #112122
++

I think we should discuss about how this will be implemented.

Would the warning exist on the report "saved object" itself, or could the warning be added on-the-fly by the dashboard application? In the aim of having the applications more responsible for what happens to their report jobs, I am interested in having Dashboard app declare a callback function, which is passed to Reporting somehow,

[2021-09-14 18:02] tsullivan opened #112156 "[Reporting/Documentation] Add explanation of hybrid state in dashboard URLs"
**Kibana version:** 8.x

In https://github.com/elastic/kibana/issues/111777, we decided that we want the Dashboard sharing data to be trimmed down, by providing references to saved objects, and unsaved changes by-value. This solves an issue with automating report generation where too much state by-value causes the POST URL to be too long to be used at all.

This means the POST URLs will often cont

[2021-09-14 18:02] elasticmachine commented on #112156
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-14 18:02] elasticmachine commented on #112156
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-14 18:02] tsullivan commented on #111777
I think we have a solid plan here. [The Dashboard sharing data will include the reference to the saved object, as well as unsaved state in the browser](https://github.com/elastic/kibana/issues/112130). That will reduce the length of the POST URL in many cases, and give us the opportunity to educate the user when it doesn't reduce the length enough.

It's not a perfect solution because it creates c

[2021-09-14 18:11] tsullivan commented on #106900
@ppisljar there are 2 places in Reporting that use `savedObjects.get`:

- https://github.com/elastic/kibana/blob/master/x-pack/plugins/reporting/server/export_types/csv/create_job.ts#L24
- https://github.com/elastic/kibana/blob/master/x-pack/plugins/reporting/server/export_types/printable_pdf/create_job/compatibility_shim.ts#L20-L27

[2021-09-14 18:15] alisonelizabeth commented on #32934
I'm closing this issue for now. We do not plan to implement a bulk reindexing UI for the 7-8 upgrade in Upgrade Assistant. We may revisit this feature in the future and will reopen if necessary. There is [an experimental API in Upgrade Assistant](https://www.elastic.co/guide/en/kibana/current/batch-reindex-queue.html) that can be used for batch reindexing. [Elasticsearch also provides some documen

[2021-09-14 18:15] #32934 closed

[2021-09-14 18:37] jasonrhodes commented on #104270
After investigation we decided not to move forward with this option for now.

[2021-09-14 18:37] #104270 closed

[2021-09-14 18:40] jasonrhodes commented on #104270
Main reasons we didn't move forward:

* No support for multiple group by in TSVB
* We didn't find a nice way to embed TSVB builder inside a rule creation UX, and having to create a visualization first, then specify the viz in a rule, felt like a bad UX. What happens if someone changes the viz later? Does it potentially and accidentally break the rule? ETc.

[2021-09-14 18:41] #95258 closed

[2021-09-14 18:49] ghudgins commented on #104270
really appreciate the notes. linking up a few relevant issues (and pinging a few since I think this is really useful insight!)
 - https://github.com/elastic/kibana/issues/95079 for "multi group by" is hopefully coming in 7.16 or 8.1. it's WIP right now
 -  this is a large issue that is in our backlog for vis-level alerts: https://github.com/elastic/kibana/issues/71150 that, coupled with above, wou

[2021-09-14 18:56] #111839 closed

[2021-09-14 19:09] kibanamachine opened #112164 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/reporting·ts - discover Discover CSV Export Generate CSV: new search generates a report from a new search with data: default"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16871/)

[2021-09-14 19:09] kibanamachine commented on #112164
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16871/)

[2021-09-14 19:19] neptunian commented on #110719
I saw this when I ran it today though I don't recall seeing the `aggregations` type error previously
![Screen Shot 2021-09-14 at 3 18 14 PM](https://user-images.githubusercontent.com/1676003/133320402-e911ffb1-486f-4f05-a017-e61279b136d0.png)

I believe this is where it fails https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/details/get_series.ts#L193. Using the do

[2021-09-14 19:33] tylersmalley commented on #112164
Skipped

7.x: 2b67ab85f272dc5541900e527e35c55f04ec4e79

[2021-09-14 19:34] elasticmachine commented on #112164
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-14 19:35] PhaedrusTheGreek opened #112171 "CSV export from discover results in "Couldn't load plugin""
**Kibana version:**
7.14.1

**Elasticsearch version:**
7.14.1

**Server OS version:**
ESS

**Browser version:**
Chrome 93.0.4577.63 (Official Build) (x86_64)

**Browser OS version:**
Mac OS 11

**Describe the bug:**

In Discover , when we create a saved search and attempt to download as CSV Report, when pressing the download button from the report page, this error is seen:  "Couldn't load plugin"

[2021-09-14 19:38] PhaedrusTheGreek opened #112172 "CSV Export from Saved Search visualization"
**Describe the feature:**

It seems that currently to export a saved search visualization, it's first necessary to "Edit Visualization" back in discover, then "Share" from there.   It would be great if this were possible directly from the dashboard.

**Describe a specific use case for the feature:**
Support may end up using saved searches to view pre-formatted tabular data stored in indices.    Ad

[2021-09-14 19:43] lukeelmers commented on #82578
JFYI, here is the issue tracking removal of the legacy logging infrastructure (which includes removing the injected `default` appender): https://github.com/elastic/kibana/issues/50660

[2021-09-14 19:49] tobiasstadler commented on #110037
I am fine either way.

[2021-09-14 19:56] mattkime commented on #72098
Sure, in so far as we can find agreement on the design.

I just received a request to have a separate title for data views. Currently, the index pattern and the title are the same thing. I suspect that implementing a separate title for data views would be a smaller (or at very least similar) effort to creating the reusable component but it would also provide other benefits.

The main obstacle to i

[2021-09-14 20:03] kibanamachine commented on #103430
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16872/)

[2021-09-14 20:04] kibanamachine opened #112174 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/multi_metric_job·ts - machine learning anomaly detection multi metric job creation runs the job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16872/)

[2021-09-14 20:04] kibanamachine commented on #112164
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16872/)

[2021-09-14 20:07] cjcenizal commented on #111041
I just want to point out that, as the one responsible for making this suggestion to add links, I'm also responsible for originally suggesting we _remove_ these links: https://github.com/elastic/kibana/pull/97159#pullrequestreview-646231940

🤦

Since I can't seem to make up my mind, I'll just go on the record and say I'm OK with whatever you decide on this @dborodyansky!

[2021-09-14 20:14] lukeelmers opened #112175 "[core.logging] Update ECS typings to 8.0.0"
In Core, we maintain a complete set of typings for ECS to enforce that any `LogMeta` added by plugins is ECS-compliant: https://github.com/elastic/kibana/blob/12b245c4e50555c227d569bc54bc64118bd15558/packages/kbn-logging/src/ecs/index.ts#L57-L97

ECS is working on finalizing [their list of breaking changes](https://github.com/elastic/ecs/issues/839) for 8.0. We will need to update our types accord

[2021-09-14 20:14] elasticmachine commented on #112175
Pinging @elastic/kibana-core (Team:Core)

[2021-09-14 20:16] bhavyarm opened #112176 "Inspector table needs a better display when there are multiple columns"
**Kibana version:** 7.15.0 BC5

**Elasticsearch version:** 7.15.0 BC5

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If there are multiple columns - inspector table needs to display data better. Right now - user cannot read the firs

[2021-09-14 20:16] elasticmachine commented on #112176
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-14 20:21] tylersmalley commented on #103430
Skipped

master: 34581ff1edcc59acca9cf57e8cbcd5d8602d439e
7.x: 514fbb408a31ba1001263ab0108b0e8f86cc57cf

[2021-09-14 20:49] kqualters-elastic commented on #112053
@deepikakeshav-qasource if you expand to a year do you get any results? what about if you query in timeline or hosts page for the process event associate with the alert? the alert will have a process.entity_id field, can you query for the origin process events directly using that? i suspect this is not a bug, just that the process generating alerts on the ccs setup being used is long lived, and th

[2021-09-14 20:58] #111344 closed

[2021-09-14 21:00] #98829 closed

[2021-09-14 21:06] kibanamachine commented on #112164
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16873/)

[2021-09-14 21:11] mattkime commented on #98403
Manually tested on 7.15.0BC5 - passed

[2021-09-14 21:14] mattkime commented on #72165
Tested on cloud for 7.15.0BC5 - works

[2021-09-14 21:16] mattkime commented on #97537
Manually tested on 7.15.0BC5 on cloud - works.

[2021-09-14 21:23] liza-mae commented on #109470
Fixed by #111626

[2021-09-14 21:23] #109470 closed

[2021-09-14 21:26] liza-mae commented on #109458
Possible root cause: https://github.com/elastic/kibana/issues/109322

[2021-09-14 21:36] kibanamachine commented on #112102
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17025/)

[2021-09-14 21:36] kibanamachine commented on #112103
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17025/)

[2021-09-14 21:45] lukasolson commented on #106074
Hmm, I'm taking a closer look. I've created a dashboard that has only one panel, which has a custom time range:

![image](https://user-images.githubusercontent.com/1178348/133329582-568fcf3c-e96f-444c-8c58-686e56f2f673.png)

When first loading the panel, it makes a request:

![image](https://user-images.githubusercontent.com/1178348/133338067-7e8ed0fa-d7fa-406c-8421-3958583284ad.png)

When restori

[2021-09-14 22:19] marshallmain commented on #106876
Instead of exposing the API keys as a whole to users and forcing them to pick a particular API key to "stick" to the rule, could we add the ability to provide additional privilege limitations when creating/updating a rule? In this way we can continue to hide the API key implementation details and admins can use roles and privileges that they are already accustomed to managing.

The [create API key

[2021-09-14 22:38] lukasolson commented on #106074
It looks like, for Discover, we're actually sending things like `{format: "strict_date_optional_time", gte: "now-15m", lte: "now"}}}` before saving the session, then the absolute values when restoring.

[2021-09-14 23:09] peluja1012 commented on #83235
Closing as dupe of https://github.com/elastic/kibana/issues/91265

[2021-09-14 23:09] #83235 closed

[2021-09-14 23:09] kibanamachine commented on #112174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16875/)

[2021-09-14 23:09] kibanamachine commented on #112174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16875/)

[2021-09-14 23:12] tsullivan opened #112186 "[Reporting/CSV Export] exported search data is randomly missing rows"
EDIT: removed the outdated description.

**Steps to reproduce:**
1. Use the latest snapshot of Elasticsearch 8.0.0
2. Load the test data and test saved objects:
[code]
3. Open Discover and view the `ecommerce` index
4. Set the timepicker range to `Jun 2, 2019 @ 18:54:23.161` / `Jul 22, 2019 @ 07:03:07.850`
    - search covers 4,675 hits
5. From the menu at the top, click **Share > CSV Reports > Ge

[2021-09-14 23:12] elasticmachine commented on #112186
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-14 23:12] elasticmachine commented on #112186
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-14 23:25] peluja1012 commented on #93729
Closing in favor of https://github.com/elastic/kibana/issues/98912

[2021-09-14 23:26] peluja1012 commented on #93730
Closing in favor of Alerts as Data RFC doc.

[2021-09-14 23:26] #93730 closed

[2021-09-14 23:28] peluja1012 commented on #93728
Closing in favor of "Alerts as Data" RFC doc.

[2021-09-14 23:28] #93728 closed

[2021-09-14 23:44] tylersmalley commented on #112174
Skipped

master: bfad0bda931936275525e140d025dde5ca4e4d89
7.x: d74d2a9f85dbc6cc81bd1beaf43cf144d468f540

[2021-09-14 23:45] tylersmalley commented on #112174
This started consistantly falling on the 7.x branch.

[2021-09-14 23:50] banderror opened #112193 "[Alerting] Storing custom searchable rule execution data inside the rule"
**Parent ticket:** https://github.com/elastic/kibana/issues/101013
**Related to:** https://github.com/elastic/kibana/issues/91265, https://github.com/elastic/kibana/issues/106347

## Why

Security Solution needs to migrate its rule execution statuses and metrics from our sidecar SO to event_log (see the parent ticket). Given the rule execution events are in event_log, we will need to be able to ex

[2021-09-14 23:50] elasticmachine commented on #112193
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-14 23:52] spong commented on #108940
Great stuff @yiyangliu9286, thanks for sharing! 🙂  And @mdefazio, I think `Alert variables` would work well here. ++ to using the markdown editor as well if we can (along with any auto-complete we can provide).

I believe the @elastic/kibana-alerting-services team owns this portion of the UI currently, so they might be able to chime in on some history here or relevant issues with regards to upgrad

[2021-09-14 23:52] elasticmachine commented on #112193
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-14 23:59] axw commented on #112095
Is package-storage still relevant for these packages once they're bundled in Kibana? Can we skip package-storage and go straight to Kibana? This is what I had in mind for APM. A few options come to mind for how to do this:
 1. develop the package directly in Kibana (probably not ideal for us)
 2. develop in apm-server like we do today, and sync to the Kibana repo regularly (e.g. nightly)
 3. devel

[2021-09-15 00:03] banderror commented on #112193
@elastic/kibana-alerting-services we need some 👀 from your side on this one and we'd like to start discussing options for how to implement this. In Security we have capacity for working on the implementation and ideally we need it in 7.16 and as soon as possible, so we could finalize the whole https://github.com/elastic/kibana/issues/101013 in 7.16 as well 😎

[2021-09-15 00:10] kibanamachine opened #112194 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/date_nanos_job·ts - machine learning anomaly detection job on data set with date_nanos time field with count detector and model plot disabled runs the job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16876/)

[2021-09-15 00:10] kibanamachine commented on #112194
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16876/)

[2021-09-15 00:11] tsullivan commented on #103430
There appears to be a timing issue in CSV export. On slower connections, the hits are getting out of order and some result payloads from the scan and scroll are getting lost.

Filed https://github.com/elastic/kibana/issues/112186

[2021-09-15 00:11] peluja1012 commented on #93346
Fixed by https://github.com/elastic/kibana/pull/111838

[2021-09-15 00:11] #93346 closed

[2021-09-15 00:11] elasticmachine commented on #103430
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-15 00:11] elasticmachine commented on #103430
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-15 00:27] elasticmachine commented on #80060
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-15 00:45] spong opened #112196 "[Security Solution] Bundle Rule Monitoring dashboard with Rule Execution Log enhancements"
Similar to how the CTI folks started linking off to custom dashboards for Threat Intelligence (https://github.com/elastic/kibana/pull/100423), while we [enhance our capabilities around Rule Monitoring](https://github.com/elastic/kibana/issues/101013), it would be nice if we could ship a Rule Monitoring dashboard similar to the [great dashboard](https://gist.github.com/pmuellr/e9ac5cda106589dc52477

[2021-09-15 00:45] elasticmachine commented on #112196
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-15 00:51] kibanamachine opened #112197 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/task_management·ts - task_manager scheduling and running tasks should support middleware"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/378/)

[2021-09-15 01:06] kibanamachine commented on #112174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16877/)

[2021-09-15 01:06] kibanamachine commented on #112174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16877/)

[2021-09-15 02:08] kibanamachine commented on #112194
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16878/)

[2021-09-15 02:30] mattkime commented on #101946
I'm coming across this while refactoring `index_pattern` code references to `data_views` - there are a lot of places where people have deep imports into the data plugin. Sometimes these should be addressed - the imported item should be made public - and sometimes its just unnecessary.

[2021-09-15 02:43] elasticmachine commented on #93247
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-15 02:43] elasticmachine commented on #93247
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-15 03:05] tsullivan commented on #112186
UPDATE: I created a Draft PR that compares the full CSV output to a snapshot, and there is a failure: https://github.com/elastic/kibana/pull/112187

[2021-09-15 03:08] kibanamachine opened #112206 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/canvas·ts - Canvas "before all" hook for "loads workpads""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16879/)

[2021-09-15 03:08] kibanamachine opened #112207 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/security_and_spaces/tests/common/cases/import_export·ts - cases security and spaces enabled: basic Common import and export cases exports a case with its associated user actions and comments"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16879/)

[2021-09-15 03:34] peluja1012 commented on #90719
Related to https://github.com/elastic/kibana/issues/100842

[2021-09-15 03:37] FrankHassanabad opened #112209 "[Alerting] Explanation and approach to removing the "siem.notification" saved object and rule type"
We removed the legacy notification system during part 1 here:
https://github.com/elastic/kibana/pull/109722

Which included the code for the rule type of:
[code]

You can see this alert/rule type through the query:

[code]

Starting in 7.16.0 we now use the proper Kibana alerting notification system for all newly created alerts which does not require us to carry around this special rule type anymo

[2021-09-15 03:37] elasticmachine commented on #112209
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-15 03:40] #95736 closed

[2021-09-15 04:10] kibanamachine commented on #112194
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16880/)

[2021-09-15 04:10] kibanamachine commented on #104174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16880/)

[2021-09-15 04:16] #112206 closed

[2021-09-15 04:17] tylersmalley commented on #112194
Skipped

master: c6bc2b70481751e907cfdf5987bbbee2c83c445f
7.x: 36c02ae31c11029e138060c7b503a0b1c867c748

[2021-09-15 04:19] peluja1012 commented on #103419
Related issue from community https://github.com/elastic/kibana/issues/108674

[2021-09-15 04:19] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17032/)

[2021-09-15 04:25] tylersmalley commented on #111812
Skipped

master: f2a546aae8a263b354061cad48d67637d8489a40

[2021-09-15 04:30] #111801 closed

[2021-09-15 06:41] #111326 closed

[2021-09-15 06:49] matschaffer opened #112215 "Elasticsearch views for no data case"

[2021-09-15 06:54] karanbirsingh-qasource commented on #109427
Hi @MadameSheema

As per the update from @mdefazio about the expected behavior for not showing the horizontal scroll and the other issue of timeline bar covering row per page and next page is now fixed, so closing this issue.

**Build Details**:
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/133385063-0fb7b05d-8d5d-4e02-8f87-047c9418fa64.png)

Hence we are clos

[2021-09-15 06:59] deepikakeshav-qasource commented on #112057
Hi @cnasikas,

We have validated this ticket on **7.15.0 BC6** build and observed that issue is **Fixed**. Able to add visualization when add the alert to new case from alerts tab

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/133385625-c5bfd281-4339-4bbc-a812-a4bcb84c92be.mp4

Hence, We are closing this ticket and marking as QA validated

Thanks!!

[2021-09-15 06:59] #112057 closed

[2021-09-15 07:01] karanbirsingh-qasource commented on #111120
Hi @MadameSheema

we have validated this issue on 7.15.0 BC6 and found it Fixed. Cursor moved to the next line, as in normal text entry on hitting the enter key in the description text area for add to new case modal.

**Build Details:**
[code]
**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/133386078-1169536e-3ad6-4248-a787-f03a3d4f2a38.png)

Hence we are closing this

[2021-09-15 07:01] #111120 closed

[2021-09-15 07:12] matschaffer opened #112217 "[Stack Monitoring][Angular removal] NoData view"

[2021-09-15 07:23] deepikakeshav-qasource commented on #106980
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC6** build and observed that issue is **Fixed**. "filter for value" and "filter out value" is not working under Timeline.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/133388784-464dfde4-9f07-411e-a2bd-bd4b40b57bcd.mp4

Hence, We are closing this ticket and marking as QA validated

Thank

[2021-09-15 07:23] #106980 closed

[2021-09-15 07:24] kibanamachine opened #112218 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/long·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type long "is" operator should filter 4 long if all are set as exceptions"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17035/)

[2021-09-15 07:24] kibanamachine opened #112219 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/long·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type long "after all" hook in "Rule exception operators for data type long""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17035/)

[2021-09-15 07:33] zorteran opened #112220 "Kibana crashes when a user wants to see event details in Timeline"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Server OS version:** Ubuntu 20.04 LTS (5.4.0-77-generic)

**Browser version:** Chrome 93.0.4577.63

**Original install method (e.g. download page, yum, from source, etc.):** apt

**Describe the bug:** Kibana service crashes when a user wants to see event details in Timeline. This happens when a user has read permissions to an alias,

[2021-09-15 07:44] amolnater-qasource commented on #102885
Hi @MadameSheema
We have revalidated this issue on 7.15.0 BC-5 Kibana cloud environment and found this issue still reproducible for Centos 8.

**Observations:**
- Past timestamps for "First seen" and "Last seen" fields for Centos Agent under Hosts tab.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/133373463-342f9e4f-3c0d-4132-9903-77ee2cc5854a.JPG)

Further we are also a

[2021-09-15 07:44] watson opened #112221 "Allow ConfigDeprecationProvider functions to access current "branch""
In the custom deprecation messages (created inside functions of type [`ConfigDeprecationProvider`](https://github.com/elastic/kibana/blob/b001830d585bb8efc2918cd6d2f50fe14a3f2d7a/packages/kbn-config/src/deprecation/types.ts#L102)), it's possible to put a URL for a documentation page:

https://github.com/elastic/kibana/blob/4b33115892fa583782c627e73b7617fd91e45605/x-pack/plugins/security/server/con

[2021-09-15 07:46] elasticmachine commented on #112176
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-15 07:48] deepikakeshav-qasource commented on #110337
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC6** build and observed that issue is **Fixed**.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/133392366-e1d66800-e8a5-457d-86c6-641b999e235c.mp4

Hence, We are closing this ticket and marking as QA validated

Thanks!!

[2021-09-15 07:48] #110337 closed

[2021-09-15 07:56] karanbirsingh-qasource commented on #104437
Hi @MadameSheema

we have validated this issue on BC6 and found it Fixed. No Error come up on creating the timeline template.

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/133393489-868165a4-02d4-4c53-a946-6141ab288054.png)

Hence we are closing this issue and added "QA:Validated" to it.

thanks !!

[2021-09-15 07:59] watson commented on #111160
FYI: Just assigned y'all so it's easier to find this issue by just looking at your assigned issues - hope it's ok 😄

[2021-09-15 08:13] rudolf commented on #110970
Closed in https://github.com/elastic/kibana/pull/111365

[2021-09-15 08:13] #110970 closed

[2021-09-15 08:15] rudolf commented on #103231
Closing as there seems to have been only a single failure

[2021-09-15 08:16] rudolf commented on #96201
Closing as there seems to be no recent failures

[2021-09-15 08:16] #96201 closed

[2021-09-15 08:17] rudolf commented on #31828
No recent failures

[2021-09-15 08:18] mbondyra opened #112225 "[Lens] Opening advanced Intervals editor shows the error in the console"
**Kibana version:**
master

**Steps to reproduce:**
1. Open Lens and create a visualization with Intervals.
2. Open Intervals config panel and click on create custom ranges
3. The console shows:
<img width="648" alt="Screenshot 2021-09-15 at 10 09 26" src="https://user-images.githubusercontent.com/4283304/133395532-536914f3-d4e0-40c3-bb74-afa5020cd4f0.png">

Investigating a little, the bug comes f

[2021-09-15 08:18] elasticmachine commented on #112225
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-15 08:18] timroes commented on #60313
Closing this in favor of the linked Elasticsearch issue, since there is no work on Kibana side, once this is fixed.

[2021-09-15 08:18] #60313 closed

[2021-09-15 08:19] elasticmachine commented on #53575
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-15 08:20] rudolf commented on #64562
No recent failures

[2021-09-15 08:20] #64562 closed

[2021-09-15 08:22] elasticmachine commented on #16877
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-15 08:22] timroes commented on #16877
I am moving this over to App Services, since I believe we most likely want to exclude those fields from highlighting in index patterns, and the code for exclusion would ideally be completely inside SearchSource.

[2021-09-15 08:28] kibanamachine commented on #112102
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17036/)

[2021-09-15 08:28] kibanamachine commented on #112103
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/17036/)

[2021-09-15 08:30] timroes commented on #69049
Since (quote) "@nik9000 seemed to be happy around the Discover query the last time he looked at it", we're going to close this. Please feel free to reopen or create individual specific issues if there's more improvements left we can do.

[2021-09-15 08:30] #69049 closed

[2021-09-15 08:32] rudolf commented on #68859
I believe this has been fixed in later releases, I'm following-up with the QA team to confirm, but closing it for the time being.

[2021-09-15 08:37] deepikakeshav-qasource commented on #112053
Hi @kqualters-elastic

We have expanded the time to 50 years ago and observed resolver is not displayed. However, In external alerts "error loading data" is displayed under Resolver. Please find the below observations:

We have added the filter "process.entity_id:exist"

**Alerts page:**
![image](https://user-images.githubusercontent.com/61860752/133395155-71b22a36-9555-4244-9aa7-e5ef8bf7f87e.png)

[2021-09-15 08:37] timroes commented on #112172
You can download the CSV of a saved search in a Dashboard via the panels context menu:

![screenshot-20210915-103546](https://user-images.githubusercontent.com/877229/133399849-155d9a78-d884-4ddb-902d-5184f23449e8.png)

Please feel free to reopen and leave more clarification what this feature is missing, if it doesn't satisfy your need.

[2021-09-15 08:37] #112172 closed

[2021-09-15 08:38] rudolf commented on #75440
Similar integration test failure https://github.com/elastic/kibana/issues/82002

[2021-09-15 08:39] rudolf commented on #89526
Closing as there's no recent failures

[2021-09-15 08:39] #89526 closed

[2021-09-15 08:40] elasticmachine commented on #112171
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-15 08:40] rudolf commented on #87786
Closing as there's no recent failures

[2021-09-15 08:56] mbondyra commented on #108352
It was hopefully fixed in the linked PR above 🔝

[2021-09-15 08:57] sabarasaba commented on #111860
Fixed with https://github.com/elastic/kibana/pull/111960/

[2021-09-15 08:57] #111860 closed

[2021-09-15 08:58] samratbhadra-qasource commented on #111679
Hi @MadameSheema ,

We tested this ticket on the latest 7.15.0-BC6 build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details**:
[code]
**Screen-Recording**

https://user-images.githubusercontent.com/84007952/133402734-7b778e77-8e63-484b-b0c5-f13eb095c7c7.mp4

Hence, closing this issue and marking it as "Validated".

Thanks.

[2021-09-15 08:58] #111679 closed

[2021-09-15 09:07] flash1293 commented on #112225
This happens because in the top level component for ranges the `rangeFormatter` is built like this:
https://github.com/elastic/kibana/blob/e2c6a039f60ae634eaa809b83fb707833065f47f/x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.tsx#L199

As long as the chart didn't re-render yet with the ranges agg, there is no `parentFormat` and it falls back to the identit

[2021-09-15 09:11] mshustov commented on #82578
Do I understand correctly that you are talking about this `AuditService`?
https://github.com/elastic/kibana/blob/4a2acad218e0d7700edd12dd6b53b0fbe73d9567/x-pack/plugins/security/server/audit/audit_service.ts#L60

Isn't it using a new logging framework? https://github.com/elastic/kibana/blob/4a2acad218e0d7700edd12dd6b53b0fbe73d9567/x-pack/plugins/security/server/audit/audit_service.ts#L220

How the

[2021-09-15 09:16] deepikakeshav-qasource commented on #110954
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC6** build and observed that issue is **Partially Fixed**. Inspect top modal is hidden on the event render modal when close the full screen of Request tab of inspect modal. please find the below detailed steps:

**Steps:**
1. Navigate to Alerts page
2. Click on the value under reason column.
3. Hover on any process and hover action will

[2021-09-15 09:17] #111592 closed

[2021-09-15 09:17] #111596 closed

[2021-09-15 09:21] ppisljar commented on #95558
yes i am referring to the metricbeat-* index mapping. It seems you use multiple dataviews in elasticsearch with dense fields and well defined scope, but you fail to transfer that in kibana with a single mapping that just matches everything.

Also i agree with @mattkime , this needs a good user story and UX. I just can't imagine how exactly do we make use of this ? (for example you are looking at a

[2021-09-15 09:31] MadameSheema commented on #108244
@deepikakeshav-qasource can you please validate the fix of this issue in 7.15BC6? Thanks :)

[2021-09-15 09:31] flash1293 opened #112229 "[Lens] Omit "over time" suggestion for expensive configurations"
Right now, if there isn't a date histogram in the current datasource configuration, an "over time" suggestion will be made, adding a date histogram aggregation using the default time field.

In some configurations the resulting table is pretty large and rendering the suggestion is freezing the browser for a noticeable amount of time. The suggestion is also not super helpful because the large numbe

[2021-09-15 09:31] elasticmachine commented on #112229
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-15 09:33] yuliacech commented on #103335
The freeze action is made a no-op in 8.0 [(77158)](https://github.com/elastic/elasticsearch/pull/77158), so we could remove it from the UI.

[2021-09-15 09:33] MadameSheema commented on #110954
@deepikakeshav-qasource can you please close this ticket and open a new one for the above observation? Thanks :)

ping @angorayc

[2021-09-15 09:37] elasticmachine commented on #111670
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-15 09:38] pgayvallet commented on #17298
Given @ryankeairns's answer, most definitely yes.

cc @thesmallestduck

[2021-09-15 09:54] stratoula opened #112231 "[Visualizations] Remove the `unused` kibana.yml settings in v8"
There are some unused settings that we should remove in v8.

These are:
- TSVB
[code]

The unused settings for Timelion and Datatable that are going to be introduced by this PR https://github.com/elastic/kibana/pull/112101

[2021-09-15 09:54] elasticmachine commented on #112231
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-15 10:06] mshustov commented on #109602
I assigned @rudolf as discussed yesterday since he is in contact with Cloud to ingest these logs.
TIL: nodejs exits with `134` code in the event of OOM https://github.com/nodejs/node/issues/12271

[2021-09-15 10:06] #106852 closed

[2021-09-15 10:09] sqren commented on #95558
I can contribute with a use case from APM.

APM transactions are stored in indicies like `apm-8.0.0-transactions-*` (for data streams this will be `traces-apm*` but won't change anything).

A user can have (micro)services in different programming languages. Transactions from these will be ingested to the same indicies (so not an index per service), so services will share the same mapping.

An exam

[2021-09-15 10:21] mshustov commented on #109232
@stacey-gammon, I can confirm it's fixed. Should I create a dedicated issue to enforce `@deprecatedIn` and `@example` tags for the deprecated API? What team should I label there?

[2021-09-15 10:32] MadameSheema commented on #110130
@deepikakeshav-qasource please validate the fix of this issue on the current BC. Thanks

[2021-09-15 10:33] ghost opened #112237 "[Security Solution] Inspect top modal is hidden on the event render modal when close the full screen of Request tab of inspect modal."
**Describe the bug**
Inspect top modal is hidden on the event render modal when close the full screen of Request tab of inspect modal.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts page
2. Click on the value under reason

[2021-09-15 10:33] elasticmachine commented on #112237
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-15 10:33] deepikakeshav-qasource commented on #112237
@manishgupta-qasource Please review

[2021-09-15 10:34] flash1293 commented on #109458
Looked into the logs and it's failing like this:
[code]

`index_patterns/_fields_for_wildcard` failing with a 404 makes me think somehow the data isn't there / can't be accessed correctly. Not sure why though. I don't think https://github.com/elastic/kibana/issues/109322 is the root cause because the interval is set to 12h:
<img width="1015" alt="Screenshot 2021-09-15 at 12 34 15" src="https://use

[2021-09-15 10:34] deepikakeshav-qasource commented on #110954
Hi @MadameSheema ,

Thanks for the update.

We have open the separate ticket for Inspect top modal is hidden on the event render modal when close the full screen of Request tab of inspect modal. #112237

Hence, We are closing this ticket.

Thanks!!

[2021-09-15 10:35] #110954 closed

[2021-09-15 10:35] flash1293 commented on #109458
@liza-mae Is it possible we are running with different permissions in the cloud test and `long-window-logstash` is missing somehow?

[2021-09-15 10:35] elasticmachine commented on #112237
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-15 10:36] thomheymann commented on #111349
What's the scenario for this?

[2021-09-15 10:40] flash1293 opened #112238 "URL formatter: "Open in new tab" UI is hidden by default"
**Kibana version:** master

**Describe the bug:** When configuring a URL field formatter, the "Open in new tab" switch is hidden as long as the type wasn't changed to something else and back

**Steps to reproduce:**
1. Edit format of previously unformatted index pattern field
2. Select URL formatter
3. Open in new tab link not shown
4. Change type to audio
5. Change type back to link
6. Open in ne

[2021-09-15 10:40] elasticmachine commented on #112238
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-15 10:50] jimczi commented on #95558
Why is this set in stone ? Why not using one index per language ? If the mapping of these languages is distinct it would be beneficial to separate them in their own indices.

Implementing value suggestions through an aggregation is a bad practice on time-based indices. It is not precise for a big cost in terms of performance and latency. Value and by extension field suggestion needs to be fast so

[2021-09-15 10:51] ch-bas commented on #102158
+1

[2021-09-15 11:05] legrego commented on #111349
@thomheymann I think the most common scenario is Kibana starting up before Elasticsearch:
1) Start Kibana
2) Enter interactive setup mode
3) Starrt ES with security disabled
4) Kibana successfully connects to ES

[2021-09-15 11:06] elasticmachine commented on #112221
Pinging @elastic/kibana-core (Team:Core)

[2021-09-15 11:12] azasypkin commented on #111349
:+1: + all sorts of intermittent connectivity issues between Kibana and ES when Kibana starts. This can also happen if you run Kibana and ES docker containers without proper network configuration. In this case you'd open Kibana in browser, notice interactive setup, go back and properly configure Docker network between Kibana and ES containers so that they could talk to each other _by default_, in

[2021-09-15 11:12] sabarasaba commented on #110923
Fixed with https://github.com/elastic/kibana/pull/111713.

@dborodyansky I feel it's a bit strange that we have in the table a badge with deprecation level (warning/critical) and a column with resolution status, but in the flyout title we have the badge that not only has deprecation.level but also the resolution status. I thought we could also make the badge from the table contain the resolution s

[2021-09-15 11:32] DziyanaDzeraviankina commented on #109458
@flash1293 the same error for https://github.com/elastic/kibana/issues/109459
[code]

[2021-09-15 11:37] kevinlog commented on #111694
@muskangulati-qasource can you test this on the latest BC?

[2021-09-15 11:37] kevinlog commented on #111517
@muskangulati-qasource can you test this on the latest BC?

[2021-09-15 11:39] sqren opened #112240 "[APM] Throughput is incorrect"
In some cases the throughput is incorrectly stuck on 1tpm.

![image.png](https://zube.io/files/elastic/e18787e85a6965b0b738cfc92f236bb3-image.png)

## Reproduce

I had a hard time reproducing this reliably but the easiest way I found was to start he 7.15 stack with no opbeans and only apm-server ingesting traces (the default):

[code]

## Solution

This root cause of this bug is https://github.com

[2021-09-15 11:39] elasticmachine commented on #112240
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 11:41] bvader opened #112241 "[APM UI] Error rate graph should be relative to max error percentage"
**Is your feature request related to a problem? Please describe.**
As an SRE / App Dev I would to have the Error Rate graph easier to recognize low error rates. Today if I have large transaction volumes and low error rates it is very difficult to find where they errors are as low percentages appear nearly as 0.

**Describe the solution you'd like**
Error rate graph should be responsive to error ra

[2021-09-15 11:41] elasticmachine commented on #112241
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 11:51] formgeist commented on #112241
I've moved over this issue from the `apm` repository because it's related specifically to the APM app and the chart title has changed to "Failed transactions rate".

---

@alex-fedotyev

As they would need in most charts anyhow. The scale won't be more visible in this chart than anywhere else.

Isn't the rate relative to each user's own perspective of what's "too high"? I think showing the shape w

[2021-09-15 11:59] stacey-gammon commented on #109232
Similar to how I emailed a proposal for @removeBy, I think we should send one out for @deprecatedIn and @example (although I actually prefer @learnMore {link} ), then if no objections, create an issue and add Ops team and APIDocs label and I will see when I can get around to it.

[2021-09-15 12:08] pmuellr commented on #112196
One of the issues with dashboards over system indices (`.kibana*`) is that normal users won't have read privs so the graphs come up empty, which is correct.  So would need some doc indicating it only works for superusers or users who are given read privs, presumably via a new role, so that should all be documented.  With the caveat that given read privs to those indices, the user can see any Kiban

[2021-09-15 12:10] cyrille-leclerc opened #112245 "New observability alerting UX report microseconds "μs" instead of milliseconds in reason message for APM Transaction Latency threshold"
**Kibana version:**

7.15 BC on ESS

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

New observability alerting UX report microseconds "μs" instead of milliseconds in reason message for APM Transaction Latency threshold

Moreover, there is a problem with the units in the flyout with the "actual value" and the "expected value"

Configured threshold

[2021-09-15 12:10] elasticmachine commented on #112245
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 12:10] elasticmachine commented on #112194
Pinging @elastic/ml-ui (:ml)

[2021-09-15 12:20] #111687 closed

[2021-09-15 12:23] sk2016sk opened #112253 "User Specific Filters in Canvas"
**Describe the feature:**
As part of our project here at Mark Anthony, we are using Canvas for generating user interactive reports. Filters set by user 1 reflects when user 2 logs in. I would like to have the filter retention based on user and not global. This is very critical and a very commonly used feature for any dashboard.

**Describe a specific use case for the feature:**

[2021-09-15 12:25] sk2016sk opened #112255 "Canvas Filters not showing filtered data based on another filter."
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
I have multiple drop down filters on a Canvas but upon selecting values from the dropdown, other drop downs are not reflecting the filtered data where as the data table shows filtered

[2021-09-15 12:27] sk2016sk opened #112256 "Free form text field on Canvas"
**Describe the feature:**

I am building a Canvas based dashboard, but I do not see any free form text field. Dropdown is not the best option when the number values to select is a large set.

**Describe a specific use case for the feature:**

[2021-09-15 12:32] rudolf commented on #89103
Closing as there's been no recent failures

[2021-09-15 12:32] #89103 closed

[2021-09-15 12:41] deepikakeshav-qasource commented on #108244
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC6** build and We found that we are unable to update the alert status from Timeline. Please find the below observations for more details:

**Build Details:**
[code]

- Refresh the all components when change alert status from take action under alert table 🟢

https://user-images.githubusercontent.com/61860752/133429061-028052fb-a37e-4446-

[2021-09-15 12:44] legrego opened #112259 "Interactive Setup should configure all applicable encryption keys"
When setting up a new Kibana installation, we should configure all relevant encryption keys. As of this writing, there are 3 encryption keys that should be set in order to be successful:
- `xpack.security.encryptionKey` (Required for encrypting session cookies)
- `xpack.encryptedSavedObjects.encryptionKey` (Required for encrypting sensitive saved objects)
- `xpack.reporting.encryptionKey` (Require

[2021-09-15 12:44] elasticmachine commented on #112259
Pinging @elastic/kibana-security (Team:Security)

[2021-09-15 12:46] pheyos commented on #104174
It's a different failure this time:
```Error: retry.tryForTime timeout: Error: Expected job row to be '{"id":"fq_saved_search_2_1631674223000","description":"Create multi metric job based on a saved search with lucene query","jobGroups":["automated","farequote","multi-metric","saved-search"],"recordCount":"34,416","memoryStatus":"ok","jobState":"closed","datafeedState":"stopped","latestTimestamp":

[2021-09-15 12:50] bhavyarm commented on #72634
@ghudgins one question and I am good with closing this issue. How do we tell the user about losing layer changes when they do something unintended? Same as undo/redo? or can we flash them a message? Thanks!

[2021-09-15 13:05] cyrille-leclerc opened #112265 "[APM] When an alert recovers and fire again, the previous alert is reused"
### Kibana version

7.15 BC3 on ESS

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

* Define an APM Latency threshold rule with a threshold (e.g. 200ms)
* Cause a violation of the rule threshold
* Verify and alert is fired with a message like "_Latency is above 200 ms (current value is 388 ms) for frontend_"

[2021-09-15 13:05] elasticmachine commented on #112265
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 13:07] kibanamachine commented on #104174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16889/)

[2021-09-15 13:09] justinkambic commented on #106394
@paulb-elastic did you mean to close this?

[2021-09-15 13:13] ghudgins commented on #72634
If we don't implement more specific messages then the answer is the same as today - the generic warning message. I think it's a bit easier to read/see in the newer dropdown we're using for this type selector.

If you have multiple layers on your visualization and you change the system does change the type for all layers if you use the dropdown. If there's an issue with compatibility, you lose your

[2021-09-15 13:14] nickofthyme opened #112267 "Save session UI appears in Report PDF"
**Kibana version:**
`7.13`

**Browser version:**
Edge

**Describe the bug:**
When using

**Steps to reproduce:**
1. Load up kibana
2. Run sample data report in Edge
3. Open report, see save session popover

**Expected behavior:**
Save session UI knows to not auto appear when `screenshotMode` is `true`.

**Screenshots:**
To be added

**Any additional context:**
we auto open this popup the first tim

[2021-09-15 13:14] elasticmachine commented on #112267
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-15 13:18] katrin-freihofner opened #112270 "Add "NEW" badge to menu item "Alerts""
We should remove the "new" badge from the menu item "Dependencies" and should add it to "Alerts".

<img width="248" alt="Screenshot 2021-09-15 at 15 14 02" src="https://user-images.githubusercontent.com/20965076/133440050-7e16128e-0c56-4157-b3cd-3793ad3a6be1.png">

cc @formgeist @mdefazio @cyrille-leclerc

[2021-09-15 13:18] elasticmachine commented on #112270
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-15 13:19] formgeist commented on #112270
@katrin-freihofner https://github.com/elastic/kibana/pull/112269 is open to remove it from APM

[2021-09-15 13:23] chrisronline opened #112271 "[Alerting] Add telemetry for HTTP API calls with legacy terminology"
We need to answer the following questions for both alerting APIs:

- What percentage of clusters are using our APIs with attributes using the old terminology (ex: alertTypeId instead of ruleTypeId)?
- How many times per cluster?
- What is the breakdown by attribute?

[2021-09-15 13:24] elasticmachine commented on #112271
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-15 13:24] nchaulet opened #112272 "[Fleet] Support input level variable for granular integrations"
## Description

For package that contains multiple integrations (AWS, Azure, ...) we do not support input level variables in the policy editor, (we got type errors if the package contains input level variables)
Looks like it's  expected: https://github.com/elastic/kibana/blob/18af3deb7c6dc3d1f737a912fb3046090f916c45/x-pack/plugins/fleet/common/services/package_to_package_policy.ts#L112-L113

We sh

[2021-09-15 13:24] elasticmachine commented on #112272
Pinging @elastic/fleet (Team:Fleet)

[2021-09-15 13:30] alex-fedotyev commented on #112241
@formgeist - I like the idea to investigate and design how it will look first.
I mainly worry about situations like this, when something grows 10x:
![image](https://user-images.githubusercontent.com/61838744/133441879-439cfde6-e525-44d9-9f10-b1708fb15b8f.png)

The challenge is that it would look the same if it grew from 0.1% to 1%, and from 10% to 100%.

I'd like to make sure that person looking a

[2021-09-15 13:33] sqren commented on #95558
We did initially consider having a datastream per service but since each service already have 4 data streams (logs, metrics, errors, traces) this would result in 100s maybe even 1000s of datastreams for customers with many services.
Therefore the ES team suggested that we didn't split data streams per service, and instead stuck with 4 data streams in total.

[2021-09-15 13:34] paulb-elastic commented on #106394
@dominiqueclarke yes, it was discussed in refinement yesterday and with too many open tickets covering Exploratory View, https://github.com/elastic/uptime/issues/361 should be used to describe what's required (single source of truth).

My understanding (@drewpost can confirm) is that anything worked on and merged into the feature branch to date from this ticket is still ok as it delivers on what's

[2021-09-15 13:39] cauemarcondes opened #112273 "[APM] REST API Standards"
@Stacey-Gammon created a document with kibana standards to create APIs. https://docs.google.com/document/d/1v4R9hWiQObP8sERfflGScC9Yp36fLE0wVlUNf13mVrc/edit#heading=h.2b1v1tr0ep8m

We should look at APM UI's routes and make changes as suggested in the document.

[2021-09-15 13:39] elasticmachine commented on #112273
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 13:43] jasonrhodes opened #112274 "[APM] [RAC] Remove APM sub-feature for Alerts"
The APM feature controls currently have a "Customize sub-feature privileges" section that includes "Alerts" (All, Read, None). None of the other Observability apps have this sub-feature.

![image (21)](https://user-images.githubusercontent.com/159370/133443765-b904a941-e5cc-455d-b9fc-d20dff95c204.png)

Based on conversations with @cyrille-leclerc and @katrin-freihofner, we don't want observability

[2021-09-15 13:45] thomheymann commented on #111349
What would your expectation be as a user? I don't think I would expect the web UI to automatically poll the connection status in this scenario. I think a browser refresh is fine here to get to the login screen after you reconfigured Kibana.

Re: intermittent connectivity issues: I think the problem here is that we currently can't distinguish between actual first time startup (unconfigured) and sub

[2021-09-15 13:48] pmuellr commented on #112193
We had mentioned in talking about this issue that we track the "schedule delay" of rule/connector execution (`now - scheduledDate`) for the event log, and that this would be nice to add to the execution status.

Also note that the POC for this issue adds the rule execution duration to the rule execution status in the SO - https://github.com/elastic/kibana/issues/111805

Some notes on suggested fie

[2021-09-15 14:00] jpountz commented on #95558
I was involved in these discussions and my recollection is that there was a bit more nuance. We did indeed advise against using different data streams per service to avoid index/shard explosion, however we still think that we should split data streams that would have different mappings. So ideally services should be grouped together depending on whether they would have very similar mappings or not

[2021-09-15 14:01] ymao1 commented on #112209
Task manager will mark unregistered task types as 'unrecognized' and stop claiming them. Here is the PR that introduced that behavior: https://github.com/elastic/kibana/pull/84273

So if you removed the task definition for `siem.notifications`, it should no longer fire.

[2021-09-15 14:03] Foxboron commented on #58720
We currently have Platinum Xpack and need this feature to simply our deployment setup. Current challenges is that the SIEM detection rules uses outdated product names from several vendors.

Is there any progress on this? Is there any similar features in the pipeline?

[2021-09-15 14:17] ymao1 commented on #112209
We have some precedent for using a task manager task to clean up saved objects. Here is the PR for that: https://github.com/elastic/kibana/pull/96971

The reason we did this was because previously, if an action execution failed, we kept the `action` task and its associated `action_task_param` around in case of retries. This would lead to a large buildup of these types of saved objects. @mikecote i

[2021-09-15 14:17] #111383 closed

[2021-09-15 14:22] legrego commented on #111349
As an end-user, I wouldn't be giving much thought to the underlying mechanics. If I happened to start Kibana before Elasticsearch (and the connection was successful), then IMO Kibana should be smart enough to exit setup mode once it's realized that interactive setup is no longer required. I see that the server is already doing this by performing connection checks on an interval.

My _guess_ is tha

[2021-09-15 14:25] bhavyarm opened #112284 "User cannot clear EMS_boundaries selection in the input box without selecting another one"
**Kibana version:** 7.15.0 BC6

**Elasticsearch version:** 7.15.0 BC6

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** User cannot clear the ems_boundary which they selected from the input without selecting another.

There is no x or delete using keyboards.

https://use

[2021-09-15 14:25] elasticmachine commented on #112284
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-15 14:26] cauemarcondes commented on #111895
closed by https://github.com/elastic/kibana/pull/111986

[2021-09-15 14:26] #111895 closed

[2021-09-15 14:27] cauemarcondes commented on #101206
closed by https://github.com/elastic/kibana/pull/112166

[2021-09-15 14:27] #101206 closed

[2021-09-15 14:28] #106394 closed

[2021-09-15 14:28] estermv commented on #110719
@neptunian @jasonrhodes I created a PR with a fix.
I've never seen the `socket hangup error`, in the toast UI I got directly the `illegal_argument_exception` 🤷‍♀️

Do we want it to be in the last 7.14 BC? It is scheduled for today, so not sure if we will have time to include the fix.

[2021-09-15 14:31] #47474 closed

[2021-09-15 14:31] #49027 closed

[2021-09-15 14:31] #49759 closed

[2021-09-15 14:31] #52930 closed

[2021-09-15 14:31] #58003 closed

[2021-09-15 14:31] #58012 closed

[2021-09-15 14:31] #59147 closed

[2021-09-15 14:31] #69162 closed

[2021-09-15 14:31] #75082 closed

[2021-09-15 14:33] rudolf commented on #68859
Still failing on cloud :(

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:10000),time:(from:now-90d,mode:quick,to:now))&_a=(columns:!(stacktrace,project),index:e58bf320-7efd-11e8-bf69-63c8ef516157,interval:auto,query:(language:lucene,query:'%22Saved%20objects%20management%20feature%20controls%20saved%20objects%20management%20global%20all%20privileges%20list

[2021-09-15 14:37] bhavyarm opened #112285 "[ML] Kibana shouldn't display actionable back and cancel buttons on file upload page once upload goes through"
**Kibana version:** 7.15.0 BC6

**Elasticsearch version:** 7.15.0 BC6

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana displays actionable back and cancel methods on file upload page even after the upload goes through. Clicking

[2021-09-15 14:37] elasticmachine commented on #112285
Pinging @elastic/ml-ui (:ml)

[2021-09-15 14:37] elasticmachine commented on #112285
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-15 14:37] bhavyarm commented on #112285
I am not sure who owns file upload anymore. Pinging design and ml team. Apologies for the extra pings.

[2021-09-15 14:40] rudolf commented on #68859
Failure:

[code]

[2021-09-15 14:43] mdefazio commented on #111452
Trying to bring this into the rule monitoring work we're doing for RAC.  With that in mind, @pmuellr , is

similar to security's `query time` or `index time`?

[2021-09-15 14:44] pheyos commented on #112174
This is an issue on the ES side and is discussed in https://github.com/elastic/elasticsearch/issues/77655.

[2021-09-15 14:44] pheyos commented on #112194
This is an issue on the ES side and is discussed in https://github.com/elastic/elasticsearch/issues/77655.

[2021-09-15 14:44] pheyos commented on #104174
This is an issue on the ES side and is discussed in https://github.com/elastic/elasticsearch/issues/77655.

[2021-09-15 14:45] jportner commented on #102282
This test appears to still be flaky, it failed in #111996 ([Link to Jenkins](https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/153504/testReport/junit/X-Pack%20API%20Integration%20Tests/x-pack_test_api_integration_apis_ml_modules_index%C2%B7ts/Kibana_Pipeline___general___apis_Machine_Learning_modules__before_all__hook_in__modules_/ ))

[2021-09-15 14:53] rylnd commented on #111346
Hey @deepikakeshav-qasource! This is actually the expected behavior for the feature.

Independent of the presence/absence of `threat.enrichments` on the alert, we display the "enriched with threat intelligence" controls if the alert has fields that could potentially match indicator data. Those fields are:

* `file.hash.md5`
* `file.hash.sha1`
* `file.hash.sha256`
* `file.pe.imphash`
* `file.elf.te

[2021-09-15 14:53] #111346 closed

[2021-09-15 14:54] siddjellali commented on #85057
I have the exact same problem (v7.14.1)

![image](https://user-images.githubusercontent.com/3965823/133457203-5ab893fe-31f5-435a-8f59-11dd926cebb2.png)

[2021-09-15 14:58] michaelolo24 commented on #105409
Removing threat hunting as OLM will be handling this issue

[2021-09-15 15:04] KOTungseth commented on #109970
Do we need to specify that some features may not behave correctly? To keep this message short and concise, I recommend adding the `Some features may not behave correctly` to the docs, then simplifying the message to:

`When you run Kibana in a production environment, you must configure `server.publicBaseUrl`.  For detailed information, refer to the documentation.`

**For accessibility, we avoid us

[2021-09-15 15:07] joshdover commented on #112095
If we don't need the ability to upgrade these packages out-of-band from stack releases (to fix a bug for instance), then I agree we can skip package-storage completely and just sync with the Kibana repository.

This is the option I would prefer so that we can test this in development easily without requiring a nightly build.

As I mentioned above, if we don't need this ability, I totally agree. We

[2021-09-15 15:10] #110028 closed

[2021-09-15 15:12] bhavyarm commented on #72634
This is definitely a better UX message plus I like undo/redo. Thanks @ghudgins

[2021-09-15 15:12] fridezlucas opened #112288 "[APM] Specific index for specific Space in APM UI"
### Kibana version

7.14

### APM Server version (if applicable)

7.14

### Elasticsearch version (if applicable)

7.14

### Steps to Reproduce

_No response_

### Expected Behavior

I created 2 spaces :

- Space A, index-a, role-a
- Space B, index-b. role-b

Each of these spaces have a specific index for data and a specific role to only show these data in spaces. When a user (role-b) go to the AP

[2021-09-15 15:12] elasticmachine commented on #112288
Pinging @elastic/apm-ui (Team:apm)

[2021-09-15 15:14] #100373 closed

[2021-09-15 15:15] ymao1 commented on #111452
@mdefazio I believe security keeps track of more granular durations during rule execution, so query time is the time the ES query took and index time is the time it took to index into `siem.signals`. Right now the event log keeps track of total duration to run the rule, so we don't quite have that level of information.

Looks like there was just an issue opened to store some of that information wi

[2021-09-15 15:15] mikecote commented on #111812
[code]

[2021-09-15 15:16] sqren commented on #95558
Okay, this sounds interesting. Something that we could consider is to split data streams by APM agent (so separate data streams for python, node, dotnet etc).
I'll take this back to the team and see if this is something that is still possible - not sure whether it is considered a breaking change at this point.

[2021-09-15 15:18] mshustov commented on #70051
Considering that Hapi continues evolving as an OSS project (see https://github.com/elastic/kibana/issues/70051#issuecomment-695888367), IMO there are no benefits in migrating to another networking library. I'm closing the issue, feel free to reopen when new concerns appear.

[2021-09-15 15:18] #70051 closed

[2021-09-15 15:27] lukeelmers opened #112291 "[discuss] Provide an easy way to add telemetry for registered http routes"
We are currently working on a list of best practices for all public REST APIs exposed from Kibana. One recommended best practice is to collect telemetry on the usage of any public API.

We should think about how to make this process as easy as possible for plugin developers. Some options that come to mind (there are probably others):
1. Register a custom route handler context for usage collection

[2021-09-15 15:27] elasticmachine commented on #112291
Pinging @elastic/kibana-core (Team:Core)

[2021-09-15 15:27] dominiqueclarke opened #112292 "[Exploratory View] Update report and metric type configuration to match design"
Update the report and metric type configuration of exploratory view multi series to match the design.

<img width="1428" alt="Screen Shot 2021-09-15 at 11 22 31 AM" src="https://user-images.githubusercontent.com/11356435/133462308-715b16cd-5100-4dac-9a3e-15f12b5210b7.png">
<img width="1445" alt="Screen Shot 2021-09-15 at 11 22 26 AM" src="https://user-images.githubusercontent.com/11356435/13346230

[2021-09-15 15:27] elasticmachine commented on #112292
Pinging @elastic/uptime (Team:uptime)

[2021-09-15 15:28] jonathan-buttner opened #112293 "[Security Solution][Timeline][Bug] Creating note first doesn't leverage existing draft"
For an unsaved timeline if you add a note it will create a new draft timeline instead of checking for an existing draft timeline.

https://github.com/elastic/kibana/blob/584f92cc0637bca0023d6e70ce2c8aae32d0a854/x-pack/plugins/security_solution/server/lib/timeline/saved_object/notes/saved_object.ts#L123

[2021-09-15 15:28] elasticmachine commented on #112293
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-15 15:28] chrisronline commented on #111812
I added this test recently in https://github.com/elastic/kibana/pull/109655. Looks like it's a not great test and should be reworked.

[2021-09-15 15:32] #70513 closed

[2021-09-15 15:32] #79634 closed

[2021-09-15 15:32] #80752 closed

[2021-09-15 15:32] #82635 closed

[2021-09-15 15:32] #84552 closed

[2021-09-15 15:38] gmmorris commented on #110080
@arisonl will investigate the product expectations further with O11y and SecuirtySolution

[2021-09-15 15:45] jonathan-buttner opened #112301 "[Security Solution][Investigations] Saved Objects Error Handling Tech Debt"
- Adding additional error handling to the timeline, notes, and pinned events logic

[2021-09-15 15:45] elasticmachine commented on #112301
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-15 15:45] gmmorris commented on #110987
In triage we decided to reclose this as it isn't clear to us whether there is anything here for our team to actually look into.
If this error resurfaces somewhere we'll dig further.

[2021-09-15 15:45] #110987 closed

[2021-09-15 15:47] alexfrancoeur opened #112303 "Add Logstash as non-Elastic Agent Integration"
Similar to https://github.com/elastic/kibana/issues/109281 for ES language clients, I wanted to open up an issue for adding Logstash as an integration in the unified integrations view (https://github.com/elastic/kibana/issues/93084). To start, we could link out to documentation or a new (custom) add data tutorial with the appropriate categories. While I'd treat this as a nice to have for https://g

[2021-09-15 15:47] elasticmachine commented on #112303
Pinging @elastic/fleet (Team:Fleet)

[2021-09-15 15:49] jgowdyelastic commented on #112285
I agree that `Cancel` is confusing here, as the action has already happened, so how can you cancel it.
The action it performs however is useful, it takes the user back to the file section screen so they can upload a new file. So maybe the Cancel button should be renamed or we should have a different button/link to take the user back to the file select screen.

The `Back` button is ok here IMO, it

[2021-09-15 15:53] pheyos commented on #102282
Thanks for the heads-up @jportner, I'll take a look.

[2021-09-15 15:54] pheyos commented on #102282
Failure log:
[code]

[2021-09-15 15:58] alexfrancoeur commented on #109281
After speaking with @snide, we've added this as a requirement for https://github.com/elastic/kibana/issues/111374. Keeping scope minimal, let's focus on a link to external documentation and a copy end point CTA in the integrations view.

cc: @mostlyjason @thomasneirynck @dborodyansky

[2021-09-15 16:06] ymao1 commented on #111458
Closing as unable to reproduce.

[2021-09-15 16:06] #111458 closed

[2021-09-15 16:16] pmuellr commented on #111452
Related, but not similar.  Security's query/index time are durations of time spent making ES calls.  Average rule duration will include those, as the rule duration implicitly includes all calls made during the rule execution, so includes any query or indexing being done.  The rule schedule delay is a completely different thing - it's the difference of when a rule (or connector) was _supposed_ to r

[2021-09-15 16:17] bhavyarm commented on #112285
Renaming that button to reduce the confusion would be great.

May be we can rename both buttons?  Thanks!

[2021-09-15 16:19] elasticmachine commented on #11740
Pinging @elastic/kibana-core (Team:Core)

[2021-09-15 16:20] elasticmachine commented on #23860
Pinging @elastic/kibana-core (Team:Core)

[2021-09-15 16:21] jbudz commented on #64346
Merging this with https://github.com/elastic/kibana/issues/5046.

[2021-09-15 16:21] #64346 closed

[2021-09-15 16:23] jbudz commented on #44932
^ :)

[2021-09-15 16:23] #44932 closed

[2021-09-15 16:24] bhavyarm commented on #72634
@dmlemeshko had some inputs on this too. Thanks!

[2021-09-15 16:24] alexey-panopta commented on #102158
+1. You can look at Grafana for inspiration.

[2021-09-15 16:24] FrankHassanabad commented on #112209
From discussions, if we delay this work past 7.16.0 (or not ever) the expected behaviors would be that we would have at most 3 dead Saved Objects and task manager would stop doing claims against `siem.notifications` and we would not get forever error messages. Just at most a few at startup.

[2021-09-15 16:27] jbudz commented on #111087
The performance impact of many files can be mitigated by https://github.com/elastic/kibana/issues/7104.  Otherwise, I would verify that these files are cached properly.

I'm going to close this out in favor of https://github.com/elastic/kibana/issues/63848.

[2021-09-15 16:27] #111087 closed

[2021-09-15 16:30] rayafratkina commented on #107057
@elastic/kibana-data-discovery can you please look into this before the release?

[2021-09-15 16:33] jbudz commented on #20736
I verified that an error is shown now:
![image](https://user-images.githubusercontent.com/3143860/133473306-369f1513-6557-4d27-a8a6-e3f27654fc49.png)

[2021-09-15 16:33] #20736 closed

[2021-09-15 16:39] jbudz commented on #12304
I tested this on 8.0 and verified the page loads without internet.  Closing this out.

[2021-09-15 16:39] #12304 closed

[2021-09-15 16:41] nreese commented on #112284
Closing, the select component is purposefully coded to prevent clearing selection. Clearing the selection does not makes sense in this UI. Users can click "Cancel" or "Change layer" to exit the add layer or change layer type.

[2021-09-15 16:41] #112284 closed

[2021-09-15 16:56] marshallmain opened #112315 "[Security Solution] Fallback to @timestamp should be configurable when timestamp override is defined"
Currently, when a timestamp override field is defined for detection engine rules `@timestamp` is always added automatically as a fallback timestamp field. This is useful in cases where multiple data sources are being queried by the same rule but not all data sources populate the timestamp override field. However, in other cases `@timestamp` may be completely unreliable and we would like to avoid q

[2021-09-15 17:02] jbudz commented on #49499
I think we can close this out from the "supported" side.  If a configuration is relevant to configuring a production Kibana, feel free to PR and we can discuss on a case by case basis if needed.

I'd urge consistency with other stack configurations where possible
https://github.com/elastic/elasticsearch/blob/master/distribution/src/config/elasticsearch.yml

[2021-09-15 17:02] #49499 closed

[2021-09-15 17:02] dominiqueclarke commented on #112292
@liciavale @shahzad31 I know there was some design discussion. I believe there was some attempt at reconciling what is here with existing EUI components. I believe that it was mentioned that metric type may end up using a dropdown. Is that correct? If so, what about report type? Is there anything that is particularly different about report type that isn't well suited to a dropdown?

[2021-09-15 17:11] liza-mae opened #112316 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts - discover app discover integration with runtime fields editor allows adding custom label to existing fields"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app discover integration with runtime fields editor allows creation of a new field
- discover app discover integration with runtime fields editor allows editing of a newly created field
- discover app discover integration wit

[2021-09-15 17:11] liza-mae commented on #111590
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**
- saved objects management saved objects edition page allows to delete a saved object

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:11] liza-mae commented on #109458
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_timelion·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart colors for multiple expressions
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart data

[2021-09-15 17:11] liza-mae commented on #109459
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_time_series·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:11] liza-mae commented on #92305
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list shows index pattern of vis when one is added
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index

[2021-09-15 17:11] liza-mae opened #112317 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/feature_controls/maps_security·ts - maps app maps security feature controls global maps read-only privileges "before all" hook for "shows Maps navlink""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/feature_controls/maps_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:11] liza-mae commented on #92309
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-09-15 17:11] liza-mae opened #112318 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts - APM specs feature controls security global apm all privileges "before all" hook for "shows apm navlink""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- APM specs feature controls security global apm read-only privileges shows apm navlink

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:12] liza-mae opened #112319 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows saving browser monitor"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows saving browser monitor with inline script
- Uptime app with generated data When on the Synthetics Integration Po

[2021-09-15 17:12] liza-mae opened #112320 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts - Uptime app with real-world data feature controls security global uptime all privileges shows uptime navlink"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data feature controls security global uptime read-only privileges shows uptime navlink

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-te

[2021-09-15 17:12] liza-mae opened #112321 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with data loaded (ft_ml_poweruser_spaces) should display elements on Index Data Visualizer page correctly"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:12] liza-mae commented on #97559
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:12] liza-mae opened #112322 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/privileges·ts - apis security Privileges GET /api/security/privileges should return a privilege map with all known privileges, without actions"
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/privileges·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #98418
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #105354
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #102008
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #105355
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #105356
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #98419
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #105357
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #98420
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #109456
**Version: 7.15.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/ilm_migration_apis·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #110365
**Version: 7.15.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  Generating signals from ml anomalies should create 7 alerts from ML rule when records meet anomaly_threshold
- detection engine api secur

[2021-09-15 17:13] liza-mae commented on #110366
**Version: 7.15.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:13] liza-mae commented on #111599
**Version: 7.15.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/ignore_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  ignore_fields should ignore the field of "testing_regex"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elasti

[2021-09-15 17:13] liza-mae opened #112323 "[test-failed]: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_permissions·ts - endpoint Endpoint permissions: when running with user/role [reader] "before all" hook for "should NOT allow access to endpoint management pages""
**Version: 7.15.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_permissions·ts**
**Stack Trace:**
[code]
**Other test failures:**
- endpoint Endpoint permissions: when running with user/role [t1_analyst] "before all" hook for "should NOT allow access to endpoint management pages"

 _Test Report: https://internal-ci.elastic.co/view/Stack%

[2021-09-15 17:14] liza-mae commented on #110367
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2352/testReport/_

[2021-09-15 17:14] liza-mae commented on #72165
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana