[2022-09-15 12:58] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20895#0183412d-f189-46b0-80b9-cfa9ae0ea8fa)

[2022-09-15 12:59] chrisdistasio commented on #140023
discussed this with Miriam this morning, sep 15.  following investigation into feasibility, it's been discovered that there exists a significant amount of complexity based on the reliance of the current tutorial framework/component(s) and even the subtle changes requested are complex and would add risk at this point in the eng cycle.

based on the identified complexity, risk, and available time le

[2022-09-15 13:09] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20896#01834136-a876-4ec5-b75d-af09cee63540)

[2022-09-15 13:14] #140023 closed

[2022-09-15 13:16] cnasikas commented on #139051
Do we need to make an API call each time we want to check if an encryption key is set up? What I had in mind is to expose from the actions' UI client (not `triggers_actions_ui`) the following:

[code]

[2022-09-15 13:19] jlind23 commented on #140782
Thanks @afharo I will follow up on this with the Fleet and Integrations team and rather rely on EBT.

[2022-09-15 13:21] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20897#0183411f-796b-4d97-b977-7e52f617aea9)

[2022-09-15 13:26] mbondyra opened #140816 "[TSVB] When using annotations from different data view than the visualization, the panel breaks"
**Kibana version:**
8.4.1, main

1. Open [Logs] Response Codes Over Time + Annotations sample data visualization.
2. Add one more visualization on different data view.
3. Boom:
<img width="1721" alt="Screenshot 2022-09-15 at 15 25 55" src="https://user-images.githubusercontent.com/4283304/190415639-6f4f21a2-80ad-4dc6-afb7-a1149120ad1a.png">

[2022-09-15 13:26] elasticmachine commented on #140816
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-15 13:26] jlind23 commented on #137853
Closing this as it is working well now.

[2022-09-15 13:26] #137853 closed

[2022-09-15 13:27] jlind23 commented on #136092
@ablnk would you be able to test it with an 8.5 snapshot then?

[2022-09-15 13:31] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20898#01834129-bcc6-4a4d-93f9-f3f6997b8347)

[2022-09-15 13:44] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20899#01834136-dc1f-4cdd-a62a-98c0cf95f6a4)

[2022-09-15 13:51] jguay opened #140818 "kibana apm instrumentation : add environment and serviceName settings to kibana.yml"
**Describe the feature:**
Currently kibana can be instrumented with APM per [doc](https://www.elastic.co/guide/en/kibana/8.4/kibana-debugging.html#_instrumenting_with_elastic_apm), this results in services called `kibana` and `kibana_frontend`

Per agent documentation [ELASTIC_APM_ENVIRONMENT](https://www.elastic.co/guide/en/apm/agent/nodejs/3.x/configuration.html#environment) and [ELASTIC_APM_SER

[2022-09-15 13:54] jcger opened #140819 "[RAM] - Fetch alerts response inconsistency"
To make our life easier we'd like to have the fetch alerts api to be consistent and return all of their values the same way. Right now it returns an array for almost every field loaded, e.g _id and _index are not (see screenshot)

![190421412-56022af3-33bd-4d39-b4ae-3a74124e2323](https://user-images.githubusercontent.com/17549662/191444628-2a12bffb-42ce-41f5-8d3f-9483cfbbcf2f.png)

A possible solu

[2022-09-15 13:54] elasticmachine commented on #140819
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-15 13:59] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20899#01834165-2c72-40fe-a5db-17fb9508af92)

[2022-09-15 14:16] jbudz commented on #140812
/skip

[2022-09-15 14:16] kibanamachine commented on #140812
Skipped

main: 3ee9383978d72f263aa248a371e0de50c280a601

[2022-09-15 14:20] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20900#01834158-34cf-406d-a6e0-1433f1ab8d90)

[2022-09-15 14:26] suchcodemuchwow opened #140826 "Move ciBuildName and journeyName performance metric fields to one level up"
Since **ciBuildName** and **journeyName** are quite standard when we filter and break downs, it's useful to move them to standard fields. Only downside is that we are only going to have values for these fields for `kibana-single-user-performance` builds.

cc: @lizozom

[2022-09-15 14:33] ablnk commented on #136092
@jlind23 for sure. I'll re-test that as soon as when fix is ready.

[2022-09-15 14:34] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20900#01834185-e40e-480e-b608-0f022a7b991c)

[2022-09-15 14:40] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20903#01834168-0023-4f41-810a-b92ce968a901)

[2022-09-15 14:45] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20901#0183418f-6277-4759-86c2-7f81ab65ca46)

[2022-09-15 14:47] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20904#0183416d-ecd8-434d-a774-4538d1d14c9d)

[2022-09-15 14:55] dmlemeshko opened #140827 "[scalability testing] test login flow for failure point"
Currently we run scalability journeys based on `scalabilitySetup` and we run login with up to 50 concurrent users in "testing" phase.

The next steps is to increase number of users and find the point, when Kibana starts to return errors (event loop delay, response code, etc).

This testing should be done with setting request timeout to 15 sec? as it is already quite significant delay for simple lo

[2022-09-15 14:55] elasticmachine commented on #140827
Pinging @elastic/kibana-qa (Team:QA)

[2022-09-15 14:56] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20903#01834198-93c7-4c5b-bcfe-b8b0c52a357e)

[2022-09-15 14:56] mattkime commented on #140661
@tylersmalley Is it possible for you to create a har file that captures the error?

I'd like to verify that our planned changes will address the specific problem you're seeing here.

[2022-09-15 15:01] kibanamachine commented on #140812
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20904#0183419e-ffa2-4a9d-aa2c-e708c3484b61)

[2022-09-15 15:02] dmlemeshko opened #140828 "Add pipeline to generate ES scalability output from performance journey"
This pipeline main purpose is to run journeys and get output from APM traces for scalability run with ESRally.

- we can use regular workers, as we are not tracking single user journey itself
- steps to include: build kibana, run journeys, run dataset-extractor and upload json output to bucket

TBD: bucket & path based on consuming requirements from ES Perf team:

E.g.  <bucket_name>/scalability-t

[2022-09-15 15:04] dej611 opened #140829 "[Lens] Math operation in formula nulls if any of the operations has `null` results"
**Describe the bug:**

When using Lens formula with a math operation, if any of the operators has a null result, that leads to a `null` the entire formula.
For instance, the following formula will be given a lower result (`null`) compared to a subset of it without the math operation:
[code]

Here you can compare with the `average(bytes, kql='geo.dest: "US"')` counter part (column 3 of the table):

[2022-09-15 15:04] elasticmachine commented on #140829
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-15 15:06] SelAnt opened #140830 "Kibana Rules - allow to view a Rule in UI"
Today Rules (Alerts) are listed in Kibana and User needs to click "Edit" to see actual Rule/Alert settings (conditions, connector, etc.)

However, if User does not have rights to Edit Rule - User cannot see content of the Rule at all because Edit is not avaiable for him.

Please add View Rule functionality to allow to just view Rule/Alert settings.

Existing workarround - call Kibana Find Rule API

[2022-09-15 15:23] #139831 closed

[2022-09-15 15:30] #137937 closed

[2022-09-15 15:40] #135227 closed

[2022-09-15 15:43] DJRickyB commented on #140828
I have a few questions for consideration:
* Do we have some potential ability to make this configurable in the journey configuration itself? For example, in the future, I'm thinking of a super basic generic "journey" where we install a package (given as a parameter) open each of that package's dashboards, then ship off the traces for that package in a singular artifact or set of artifacts. We may

[2022-09-15 15:50] mikecote commented on #140524
This could also be done with the issue where we don't want to have user/pass in the URL.

[2022-09-15 15:57] maryam-saeidi commented on #140424
After checking this issue with @simianhacker, he pointed out that all the alert data is probably saved in the default index.

So I will create a PR with using the default index.

[2022-09-15 15:58] paulb-elastic commented on #140768
@andrewvc is this with `main`?  Thinking about how this relates to https://github.com/elastic/kibana/issues/138862 where it suggests it's not available (cc @awahab07)

I think the summary should be that:
* `Run Now` is available for any monitor configured to run on one or more public locations
  * Irrespective of it also configured to run on a private location
* When using `Run Now`, it only attem

[2022-09-15 16:10] majagrubic opened #140834 "[SharedUX] MVP for Sample Dataset"
`Shared-ux` team has been working on MVP for refactoring the existing sample data set solution architecture. (In-progress [RFC](https://docs.google.com/document/d/12wfPNoI4ShkkiN6NwjfluQB0BW0tzk9RJZCO1RMyoF0/e)). We wanted to leverage the existing `Integrations` architecture for this. In doing that, we had:
1. converted existing data living inside `.ts` files to `.json` files
2. create a sample pa

[2022-09-15 16:11] majagrubic opened #140835 "MVP for Fleet-based sample data mechanism"

[2022-09-15 16:12] #140834 closed

[2022-09-15 16:31] #109208 closed

[2022-09-15 16:48] liza-mae opened #140839 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/modules/setup_module·ts - apis Machine Learning modules module setup sets up module data for siem_packetbeat with prefix, startDatafeed true and estimateModelMemory true"
**Version: 8.4.2**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/modules/setup_module·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/665_

[2022-09-15 16:49] elasticmachine commented on #140839
Pinging @elastic/ml-ui (:ml)

[2022-09-15 16:49] liza-mae opened #140840 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/console/_console·ts - console app console app multiple requests output should display status badges"
**Version: 8.4.2**
**Class: Chrome UI Functional Tests.test/functional/apps/console/_console·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/665_

[2022-09-15 16:50] elasticmachine commented on #140840
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-15 16:52] liza-mae commented on #140840
This test is failing due to bug: https://github.com/elastic/kibana/issues/138762, we will skip this test on cloud, until bug is fixed and then this test can be unskipped.  See skip test PR: https://github.com/elastic/kibana/pull/140837.

[2022-09-15 16:55] elasticmachine commented on #140812
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-15 16:55] jonathan-buttner commented on #140812
Sorry about that, I'm working on a fix to unskip them.

[2022-09-15 16:56] kfirpeled opened #140841 "[Cloud Posture] Deprecate the ability to toggle benchmark's rules"
**Motivation**

We came to the conclusion that there is no real value for enabling/ disabling a specific rule in a benchmark and we intend to allow this capability differently going forward.

**Definition of done**

- [ ] Hide the toggle for each rule to enabled/ disabled
- [ ] Hide `bulk actions`
- [ ] Hide the message `Please note, any changes to your benchmark rules will take effect the next ti

[2022-09-15 16:56] elasticmachine commented on #140841
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-15 17:10] jonathan-buttner opened #140843 "[ResponseOps][Cases] Assignees combobox is missing from the create case modal"
When creating a case via the flyout, the combobox for assigning users is not present.

<img width="906" alt="image" src="https://user-images.githubusercontent.com/56361221/190468968-0e9807c5-6b82-4c4b-b9b4-522ccd611ad6.png">

[2022-09-15 17:10] elasticmachine commented on #140843
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-15 17:10] elasticmachine commented on #140843
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-15 17:10] liza-mae commented on #140840
This issue should remain open and closed as part of the fix for https://github.com/elastic/kibana/issues/138762 by removing the skip tag.

[2022-09-15 17:13] liza-mae commented on #139141
Fixed as part of PR elastic/kibana#139155

[2022-09-15 17:13] #139141 closed

[2022-09-15 17:14] liza-mae commented on #139142
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:14] #139142 closed

[2022-09-15 17:15] liza-mae commented on #136885
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:15] #136885 closed

[2022-09-15 17:15] liza-mae commented on #137743
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:15] #137743 closed

[2022-09-15 17:15] liza-mae commented on #133431
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:15] #133431 closed

[2022-09-15 17:15] liza-mae commented on #135578
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:15] #135578 closed

[2022-09-15 17:16] liza-mae commented on #136886
Fixed as part of PR: https://github.com/elastic/kibana/pull/139155

[2022-09-15 17:16] #136886 closed

[2022-09-15 17:17] liza-mae commented on #111591
Closing, out of date issue.

[2022-09-15 17:17] #111591 closed

[2022-09-15 17:27] liza-mae commented on #138762
As part of this fix, also include unskipping the test in cloud: elastic/kibana#140840

[2022-09-15 17:42] kibanamachine opened #140848 "Failing test: Chrome X-Pack UI Functional Tests - aiops.x-pack/test/functional/apps/aiops/explain_log_rate_spikes·ts - aiops explain log rate spikes with farequote farequote index pattern displays index details"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20918#0183420a-a23b-4c6d-8a6a-cc3fd6b961c8)

[2022-09-15 17:43] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20919#0183420c-e795-4020-a7d6-5c60cc5d4791)

[2022-09-15 17:50] kibanamachine opened #140851 "Failing test: API Integration Tests.test/api_integration/apis/unified_field_list/field_stats·ts - apis UnifiedFieldList field stats apis field distribution should return examples for non-aggregatable fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20920#01834214-8589-4e72-97ce-3cac9adf49ed)

[2022-09-15 17:50] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20918#0183423f-732e-49bd-9cb2-f0627a9221ab)

[2022-09-15 17:50] elasticmachine commented on #140851
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-15 17:50] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20920#01834214-8569-43d8-9dfe-6d592d3cc1ed)

[2022-09-15 17:51] jbudz commented on #140848
/skip

[2022-09-15 17:52] kibanamachine commented on #140848
Skipped

main: f14844e3e55eed2e9fa4870765082403c057660f

[2022-09-15 17:52] elasticmachine commented on #140848
Pinging @elastic/ml-ui (:ml)

[2022-09-15 17:53] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20919#0183423f-b8c1-47d4-83d3-481adc69062a)

[2022-09-15 17:59] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20920#01834246-8b0d-4300-9ac6-237aa3c08dd0)

[2022-09-15 17:59] dokmic commented on #100291
The issue has already been resolved in #112634. That fix has also fixed the error message in the embeddable widgets. And along with #134997, users can see the more descriptive error messages in dashboards.

[2022-09-15 17:59] #100291 closed

[2022-09-15 18:19] ersin-erdal commented on #101543
Closing in favor of #92355
Moving the "Save" button would solve this problem.

[2022-09-15 18:19] #101543 closed

[2022-09-15 18:23] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20921#01834230-7a0a-45ae-9bdc-4171d23cad75)

[2022-09-15 18:31] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20921#01834264-fd7f-44ee-b42b-8c6841ab3e1f)

[2022-09-15 18:34] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20922#0183423b-f520-4374-83fd-1fe333d1b488)

[2022-09-15 18:41] kibanamachine commented on #140848
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20922#0183426e-5829-42bd-a77a-b3b9562477e4)

[2022-09-15 18:45] liza-mae opened #140855 "[Windows] Bootstrapping throws an unhandled exception bazeliskversion no such file"
Running ```yarn kbn bootstrap``` is failing on windows platform.

[code]

[2022-09-15 18:45] elasticmachine commented on #140855
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-15 18:45] benakansara commented on #138642
@simianhacker Should we create new action variable for each of these - cloud, host, orchestrator, labels, tags? Or should we put all these fields under one action variable?
In my understanding, we will have new action variable for each node type under each rule.

[2022-09-15 20:28] #138394 closed

[2022-09-15 20:30] kfirpeled opened #140860 "[Cloud Posture] Continue automated test planning for findings"
**Motivation**

The the first iteration of developing the automated tests for `Findings` page would put us in a great place.
After completing that, it is a good time to go back to the planning board and check for use cases that are yet to be covered by the automation.

**Definition of done**

- [ ] Collect user stories and requirements that are not covered on `Findings` page testing suite and writ

[2022-09-15 20:30] elasticmachine commented on #140860
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-15 20:32] kfirpeled commented on #140860
Some tests we've discussed already that are missing:

- Testing the table, search bar + filters, distribution bar and pagination for: grouped by resource view and when viewing specific resource failed findings

[2022-09-15 21:12] ThomThomson commented on #140414
Something that could potentially be added here is to look at implementing the new Redux state system in a real-world use case.

Building that system was an important step, but it hasn't been adopted yet, and the Presentation team is still using our own redux system. This is because we know it works, and we haven't had the resourcing or the risk appetite to migrate.

I would argue that it should be

[2022-09-15 21:23] kibanamachine commented on #139781
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20932#018342de-0b75-4bf5-be3f-65ca44146fe9)

[2022-09-15 21:45] jbudz commented on #139781
/skip

[2022-09-15 21:45] kibanamachine commented on #139781
Skipped

main: 0d7e16db33d59066420c43649a957587516214de

[2022-09-15 22:30] andrewvc opened #140864 "[Synthetics] Normalizing Heartbeat YML from synthetics agent for monitor management"
With https://github.com/elastic/synthetics/pull/593 adding support for lightweight monitors we need to get into the details of how to handle individual fields in the API. Some fields need special handling on the client, such as [TLS fields](https://github.com/elastic/synthetics/issues/599), but others, like body validators need handling on the Kibana API side.

We need to go through all [heartbeat

[2022-09-15 22:30] elasticmachine commented on #140864
Pinging @elastic/uptime (Team:uptime)

[2022-09-15 22:33] lukeelmers commented on #140743
Thanks for getting this started! Overall I'm particularly interested in how we can prevent connector-specific concepts from leaking into the API, since the idea is that we will eventually have a longer term platform-provided concept of connectors.

With that in mind, a few initial thoughts:

I'm unsure if the benefits we get from a `groupIfPossible` option are worth the added complexity of providi

[2022-09-15 22:49] Omolola-Akinleye commented on #140054
After investigating this issue here, here are the findings:
The insights data is not available because an alert comes after an event has been created. When clicking the `investigate in timeline` icon button, we are using the original event's`started time` for the `to` date field in the time range selector. At the event's started time, alerts events will not exist,  hence why see the failure to loa

[2022-09-15 23:10] kibanamachine opened #140867 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/alerting/rbac_legacy·ts - alerting api integration security and spaces enabled - Group 2 Alerts legacy alerts alerts superuser at space1 should schedule actions on legacy alerts"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20938#01834351-f5dc-4d76-935a-70f8922573bb)

[2022-09-15 23:11] elasticmachine commented on #140867
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-16 03:26] osmanis commented on #138850
Bump to @elastic/fleet. Still happening in `8.4.1`.

[2022-09-16 07:04] kibanamachine commented on #138352
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20943#018344f5-30d4-4237-9c22-9e2f3358cbb8)

[2022-09-16 07:57] flash1293 commented on #140805
Agree with the second option here, that's how service dependency injection is planned to work long term in general. I'll raise the issue with typing, maybe we can mitigate it somehow. It's definitely a relevant point.

[2022-09-16 08:20] rpasche opened #140874 "Add cgroups v2 support"
Hi Elastic,

please add support to parse the new `cgroup v2` hierarchy structure.

Today, if you are running kibana within a container, which already uses `cgroup2fs`, no `cgroup` metrics will be exported, that can be fetched by `metricbeat`to show this data within `Stack Monitoring`.

In a running container, you could run

[code]
to check the running `cgroup` version. `cgroup2fs` identifies v2

T

[2022-09-16 08:41] cnasikas commented on #139051
Oh, I wasn't aware of that! @elastic/kibana-core Is it possible to export the `canEncrypt` from the public-side of the EncryptedSavedObjects plugin? This will help us to check if the encryption key is set up and prevent making certain API calls and inform the user accordingly.

I like the idea if it is not possible to get the information from the public-side of the EncryptedSavedObjects plugin.

[2022-09-16 08:55] #140812 closed

[2022-09-16 09:03] flash1293 opened #140875 "[Lens] Poor performance for large formulas"
When large formulas are used, the chart performance becomes very poor due to slow parsing of the tinymath expression. This is happening because the peggy parser has a quadratic complexity in parsing deep trees which occur naturally with the way we write the final tinymath expression here: https://github.com/elastic/kibana/blob/137994f845dedae7caf0cbff756eba48b536b0d5/x-pack/plugins/lens/public/ind

[2022-09-16 09:03] elasticmachine commented on #140875
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-16 09:06] ppikna97 commented on #139513
Thank you, your workaround was really helpful.

[2022-09-16 09:07] cnasikas commented on #140524
@pmuellr Do you know which version of Kibana they run? I tested on main and the issue is fixed. After [switching to Form lib](https://github.com/elastic/kibana/pull/131718) for the connector's form we validate the URL as https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/webhook/webhook_connectors.tsx#L85.

<img width="

[2022-09-16 09:12] cnasikas commented on #140843
Hey @jonathan-buttner! Could you please share more details of how you reproduced the bug? I can not reproduce it. I assume you found the bug while testing the Osquery integration. The assignees section will disappear if a) the licensing plugin is not defined (OsQuery do not have it as required) b) the user does not have the proper license (Platinum+)

[2022-09-16 09:26] cnasikas commented on #140743
I think that the process of notifying should not block HTTP requests. A case should be created/updated even if the user is not notified (error while sending an email) or notifications are not configured. I think the error should surface somewhere else. Ideally, in the admin notification UI page if there is one. Cases could also show a banner on the all cases page informing the user that notificati

[2022-09-16 09:37] #23001 closed

[2022-09-16 10:20] rrapolu12 opened #140876 "URL templating foreach example does not return any identifiers"
**Kibana version**: 7.17

**Elasticsearch version**: 7.17

**Server OS version**: RHEL 8

**Browser version**: MS EDGE

**Browser OS version**: latest

**Original install method (e.g. download page, yum, from source, etc.)**: yum

**Description of the problem including expected versus actual behavior**:
i am trying to use the example to retrieve filters from the current panel and apply to next pag

[2022-09-16 10:40] rrapolu12 commented on #140876
1. Issues with drilldown dashboard-to-dashboard , does not open in a new window.
2. example in documentation for rison and loops are inadequate and confusing. a simple example saves lots your time and our time.
3. on a donut, when i am trying to create a drilldown for a single click and URL drilldown, the value of the click is taken as custom label name instead of the filter using there. how can u

[2022-09-16 10:48] jalogisch commented on #121334
### Recap

- Issue summary: User couldn't make Alerts work using CCS with a user with limited permissions
- Description of manifestation in logs, outputs or behaviour:
- Products and versions affected (if applicable): Kibana Alerts and CCS

### Cause

- Root cause description (can also be lack of documentation):
Basically the security model for login:password and for API keys is different. While l

[2022-09-16 11:32] dimaanj commented on #139543
Closing, since resolved by #138283

[2022-09-16 11:32] #139543 closed

[2022-09-16 11:33] dimaanj commented on #138737
Closing, since resolved by #138283

[2022-09-16 11:33] #138737 closed

[2022-09-16 13:15] andrewctate commented on #140875
I noticed this too while testing https://github.com/elastic/kibana/pull/140764#issuecomment-1247363410

[2022-09-16 14:47] afharo commented on #128593
I'd like to drop an idea (not necessarily a replacement) that will help us to better understand our the migrations:

How about we maintain a system index similar to the `.kibana_event_log` that will log the migration steps there? It could log some metadata like the version it attempted to migrate to/from, the initial and final sizes of the indices (and number of docs).

The idea is that snapshot t

[2022-09-16 15:57] afharo opened #140881 "[Telemetry] Create dev endpoint to force snapshot telemetry reports"
Currently, telemetry reports are generated and sent once a day. This is by design and the expected behavior of production environments. However, when folks are developing and iterating on the implementation of the snapshot telemetry, they need a way to ship new reports to the dev/staging telemetry systems to validate the different shapes of the reports and build dashboards with them.

At the momen

[2022-09-16 15:57] elasticmachine commented on #140881
Pinging @elastic/kibana-core (Team:Core)

[2022-09-16 16:16] tylersmalley commented on #140661
@mattkime, we're not currently experiencing the shard failures, but I will keep an eye out and capture a HAR when I see it again.

[2022-09-16 16:16] tylersmalley commented on #140762
❤️ snapshots were promoted https://ci.kibana.dev/es-snapshots

[2022-09-16 16:16] #140762 closed

[2022-09-16 20:21] maihde commented on #99100
@mattkime we did some investigations, thanks for the concept of trying filters on `_index`.  This is certainly a good quick solution, but it leaves a few things to be desired:

1) The query is still sent to remote clusters.  This can impact performance in a variety of ways in both normal and abnormal situations.  It's important to us to be able to disable queries hitting the remote cluster entirel

[2022-09-16 22:45] damianward1972 commented on #12562
This would also be useful for our operations dashboards:)

[2022-09-17 05:25] kibanamachine opened #140888 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view - When on the host isolation exceptions page should search using expected exception item fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20951#018349c4-b17b-40f6-915c-9a76bdb424de)

[2022-09-17 05:25] elasticmachine commented on #140888
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-17 05:37] kibanamachine commented on #140851
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20951#018349c4-b186-4ec7-9bd7-ae5a53627cc9)

[2022-09-17 09:47] cnasikas opened #140889 "[UserProfiles] Add the ability to limit the number of users you can select"
Cases need to limit the number of assignees to a case. This PR https://github.com/elastic/kibana/pull/140877 enforces the limit on the backend. It would be nice if the `UserProfilesSelectable` component prevents the user from selecting more profiles than a certain number. This will help cases enforce the limit also on the UI and do not make an HTTP call to the backend.

[2022-09-17 09:47] elasticmachine commented on #140889
Pinging @elastic/kibana-security (Team:Security)

[2022-09-17 10:29] walterra commented on #140848
This was caused by two PRs merged in parallel. Working on fixing it here: #140891.

[2022-09-17 12:42] elasticmachine commented on #140888
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-17 12:43] TehBakker commented on #29806
Same

[2022-09-17 12:49] TehBakker commented on #31804
Same issue, latest release added a new field, the index pattern is correctly refreshed and I can use the field as filter elsewhere, but not in the control visualization.

3 years, any chance to get someone to check it out ?

[2022-09-18 20:56] crispybacon opened #140898 "Security Realm Mismatch for Kibana Spaces API"
**Kibana version:**
8.4.1
**Elasticsearch version:**
8.4.1
**Server OS version:**
docker.elastic.co/elasticsearch/elasticsearch:8.4.1 (Ubuntu)
**Browser version:**
Chrome OS
**Browser OS version:**
Apple OSX
**Original install method (e.g. download page, yum, from source, etc.):**
docker-compose
**Describe the bug:**
With security enabled the Kibana Spaces API is not working with an API token or d

[2022-09-19 01:06] threatangler-jp commented on #121118
Checking in on the status of this. What version do you expect it to be included in? And is there a workaround available? Our specific need is to apply different ILM policies to different sets of agents. Thank you!

[2022-09-19 03:33] Holi0317 commented on #139631
I am currently on v8.4.1 and the issue still exist.

The mentioned line is still unchanged in the v8.4.1 tag

https://github.com/elastic/kibana/blob/v8.4.1/x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/transaction_tabs.tsx#L131

[2022-09-19 04:53] prachigupta-qasource commented on #138591
Hi @pgayvallet,

We have re-validated this issue on the latest **8.5.0 SNAPSHOT** Kibana Staging environment and found that the issue is **fixed**.

**Build details:**

[code]

**Below are the observations:**

- `Tags` column is not sortable and no error is shown on clicking `Tags` column text on the 'Saved Objects' page.

**Screen Recording:**

https://user-images.githubusercontent.com/97870262/1

[2022-09-19 06:13] samratbhadra-qasource commented on #140705
Hi @MadameSheema

We have ran the the query on the Kibana dev tool and checked the indexes that appear on the inspect button. Please find below our observation:

**Screenshot:**
![Screenshot (986)](https://user-images.githubusercontent.com/84007952/190955492-564376f8-19c5-442f-a296-b56afc3f2e0d.png)
![Screenshot (984)](https://user-images.githubusercontent.com/84007952/190958632-d702c7ee-737e-47f8

[2022-09-19 06:59] sukhwindersingh-qasource commented on #140081
Hi @stephmilovic ,

We have retested this issue on **8.5.0 Snapshot** build and observed that issue is still **occurring**

Please find the below Details for reproducing it:

**Build Details:**
[code]
**Steps to Reproduce**
1. Process "C:\Windows\System32\svchost.exe" should be running
2. Navigate to hosts page
3. Click on Uncommon processes and then click on +1 more icon.
4.  Observe that Text bo

[2022-09-19 07:01] beercialfo commented on #56403
@yevgenytrcloudzone , I have a same use case as yours. I tried to use opsgenie alert api but it is difficult to pass dynamic variable in post api url in api connector.

Seems you used Email connector to achieve that, will the alert resolved automatically in opsgenie when it is resolved in elastic search or it creates new alert ? can you confirm that?

Thanks

[2022-09-19 07:21] pheyos opened #140900 "[ML] Missing padding in custom rule popovers"
**Found in version**
- 8.4.2 BC1 (but also reproduced on older 8.4 and 8.3 versions)

**Browser**
- Chrome

**Steps to reproduce**
- Create a custom rule for an AD job

**Expected result**
- All form elements and popovers look fine

**Actual result**
- The padding in the popovers doesn't look right:
  ![image](https://user-images.githubusercontent.com/1945390/190967335-99c7b364-9937-453c-8109-1297

[2022-09-19 07:21] elasticmachine commented on #140900
Pinging @elastic/ml-ui (:ml)

[2022-09-19 07:38] valscion opened #140901 "Shared data view in Saved Objects view shows space avatars for spaces that don't have one"
**Kibana version:** v8.4.1

**Elasticsearch version:** v8.4.1

**Server OS version:** Elastic Cloud hosted

**Browser version:** Mozilla Firefox v104.0.2 (also happens with Google Chrome)

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud installation

**Describe the bug:** A shared data view "Saved Objects" view shows space avatar

[2022-09-19 07:47] flash1293 opened #140903 "[Lens] Count of records with time shift together with reduced time range doesn't show data"
**Kibana version:** main

**Describe the bug:** When using  time shift together with reduced time range on a count of records dimension, no data is shown

It works if there is a filter set or it's another function

**Steps to reproduce:**
1. Configure count of records dimension
2. Set time shift and reduced time range
3. Empty value is shown

**Expected behavior:**

Actual value from the response

[2022-09-19 07:47] elasticmachine commented on #140903
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-19 07:48] #138762 closed

[2022-09-19 07:48] #140840 closed

[2022-09-19 07:54] yevgenytrcloudzone commented on #56403
@beercialfo unfortunately this method will create an alert for each action instead of aggregating all the actions in one alert like with any other API based integration for OpsGenie.
Far from being ideal in some ways, but better than nothing...

[2022-09-19 08:04] beercialfo commented on #56403
Thanks for your quick reply  @yevgenytrcloudzone . Above you said is for alert api integration right,
How about email integration, is it smooth on creating and closing the alert?

@mikecote, When can we expect OpsGenie connector like pagerduty?

[2022-09-19 08:06] #140782 closed

[2022-09-19 08:19] deepikakeshav-qasource opened #140905 "[Security Solution] Rule is not displayed any warning message when small value list becomes large value list and is used by EQL rule"
**Describe the bug**
Rule is not displayed any warning message when small value list becomes large value list and is used by EQL rule

**Build info**

[PR- value-list-exceptions](https://github.com/elastic/kibana/pull/133254)

**Preconditions**
1. Kibana should be running
2. Small value list should be added in rule say EQL rule

**Steps to Reproduce**
1. Navigate to security > Rules page
2. Change

[2022-09-19 08:22] cnasikas commented on #140792
Hey @karanbirsingh-qasource! The compatibility column indicates in which applications a connector is supported. It does not imply that an improper configuration can be used by the application. @mikecote What is your opinion on this?

[2022-09-19 08:22] kfirpeled commented on #140176
We are removing the ability to enable/disable rules - this is no longer relevant

[2022-09-19 08:22] #140176 closed

[2022-09-19 08:26] kibanamachine opened #140907 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/components - When on the host isolation exceptions entry form and creating a new exception should keep submit button disabled if only the name is entered"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20960#018354b9-f99d-41f2-9f4a-63ae821f8086)

[2022-09-19 08:26] elasticmachine commented on #140907
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-19 08:43] klacabane opened #140908 "[Stack Monitoring] missing padding in page container"
### Summary
Stack monitoring page container is missing padding.
https://github.com/elastic/kibana/issues/140002 could be related

<img width="635" alt="Screenshot 2022-09-19 at 10 40 00" src="https://user-images.githubusercontent.com/5239883/190980400-fc839d23-088d-46a1-be2d-f825f03f9c81.png">

[2022-09-19 08:44] jlind23 opened #140909 "Add a new event to send fleet telemetry every hour"
Fleet Telemetry is today sent every 24 hours thanks to the way the collector is working.
The data we collect today are the right one but the frequency of 24 hours does not fit with what we need.

We should move to the new Event Based Telemetry mechanism and create an event every 1 hour to send the actual Fleet telemetry data.

[2022-09-19 08:48] pmeresanu85 commented on #136047
@miltonhultgren after my 1:1 with @alex-fedotyev for the Infra view in APM we agreed that:

- Infra drives Host Centric Observability View evolution
- APM takes what infra builds and integrates this into APM service view

As for the uptime fix, I believe we should invest into actually calculating and showing the real uptime.

[2022-09-19 08:50] amolnater-qasource opened #140910 "[Fleet]: Incorrect count under `In-progress` in `Agent activity` on assigning 10k agents to new policy."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56399
COMMIT: 943675d4fc9807b4589266fcfed36016eea4317c

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. 10k agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Select all agents and select everything o

[2022-09-19 08:50] elasticmachine commented on #140910
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 08:51] amolnater-qasource commented on #140910
@manishgupta-qasource Please review.

[2022-09-19 08:54] juliaElastic commented on #140909
For the hourly scheduling we could check if the [EBT](https://docs.elastic.dev/telemetry/collection/event-based-telemetry) has built in support or use Kibana Task Manager.

[2022-09-19 08:56] prachigupta-qasource opened #140911 "[Fleet]: No pop is shown on hovering over 'Agent activity' link"
**Kibana version:** 8.5 Kibana Staging environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.5 Kibana cloud environment should be available.
- Few agents should be installed.

**Steps to reproduce:**

1. Navigate to Fleet > Agents tab
2. Hover over the `Agent activity` link
3. Observe that no pop is shown on hovering over `Agent activity` link.

[2022-09-19 08:56] elasticmachine commented on #140911
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 09:04] #138996 closed

[2022-09-19 09:08] dikshachauhan-qasource commented on #140911
Secondary review is done.

[2022-09-19 09:20] afharo opened #140915 "[meta] EBT - Collect general info on the browser side"
The feedback on the generic `click` event has been great so far as other Kibana devs can easily find out if a feature/button is used just by filtering the click events via their CSS selector. It feels like _free_ telemetry to them.

To follow this trend, the @elastic/kibana-core team (and potentially the @elastic/shared-ux) could work together to collect more _generic_ info that benefits us all. S

[2022-09-19 09:24] afharo commented on #140915
cc @elastic/kibana-operations as some of these events might be relevant to the Performance WG.

[2022-09-19 09:38] juliaElastic commented on #140910
I think the reason for this is that the Agent list and the activity flyout are not refreshing at the same time, so the counts might be out of sync. This can probably be fixed by querying the data at the same time.

[2022-09-19 09:44] elasticmachine commented on #136542
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 09:45] elasticmachine commented on #136541
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 09:46] #140851 closed

[2022-09-19 09:46] elasticmachine commented on #133916
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 09:47] elasticmachine commented on #133432
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 09:47] elasticmachine commented on #133226
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 09:49] cnasikas commented on #140359
PR https://github.com/elastic/kibana/pull/140508 exposed the licensing service in cases and various utilities were implemented to get the license of the Kibana instance.

[2022-09-19 09:59] kibanamachine commented on #139659
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/20961#018354f9-7c56-4221-8bda-05e721b19724)

[2022-09-19 10:04] cnasikas commented on #137861
Implemented by https://github.com/elastic/kibana/pull/140454

[2022-09-19 10:04] #137861 closed

[2022-09-19 10:09] yevgenytrcloudzone commented on #56403
Email integration will only create an alert per email message received. Every action (critical/warning/recovered/no data) will create a new alert because there is no way to co-relate or distinguish alerts via email.

[2022-09-19 10:09] cnasikas commented on #136254
In PR https://github.com/elastic/kibana/pull/140508 we hide the connector's section and we show a callout on the all cases page

<img width="2297" alt="Screenshot 2022-09-19 at 1 08 05 PM" src="https://user-images.githubusercontent.com/7871006/190995382-a6663f66-888f-44c1-8d83-76df5cd1e695.png">

[2022-09-19 10:09] #136254 closed

[2022-09-19 10:14] afharo opened #140919 "[Telemetry] Support `dev` endpoint"
In the scope of #140881, we may need to allow `telemetry.sendUsageTo` to send data to the dev endpoint (https://telemetry-dev.elastic.co/).

This config value should only be valid when running in dev mode.

[2022-09-19 10:14] elasticmachine commented on #140919
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 10:16] cnasikas opened #140920 "[Cases] Push case assignees to external incident management services"
PR https://github.com/elastic/kibana/pull/140208 introduces user assignment to a case. We should research if it is possible to push the case assignees to the supported external incident management services.

[2022-09-19 10:16] elasticmachine commented on #140920
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-19 10:16] elasticmachine commented on #140920
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-19 10:17] cnasikas commented on #75622
The "Assigned To" field will be addressed by this issue https://github.com/elastic/kibana/issues/140920

[2022-09-19 10:17] #75622 closed

[2022-09-19 10:25] cnasikas commented on #91816
@karanbirsingh-qasource I tested on the latest main and I cannot reproduce it. Could you please verify that this is the case?

[2022-09-19 10:39] elasticmachine commented on #116556
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 10:40] elasticmachine commented on #106934
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 10:40] elasticmachine commented on #115324
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 10:46] sqren commented on #139631
Hi @Holi0317

You are right, that label (8.4.1) is incorrect. The fix will be available in 8.4.2 and 8.5.

[2022-09-19 10:51] amolnater-qasource opened #140923 "[Fleet]: Force unenrolled action not visible under Agent activity."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56399
COMMIT: 943675d4fc9807b4589266fcfed36016eea4317c

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Select few agents and click force Unenrol

[2022-09-19 10:51] elasticmachine commented on #140923
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 10:51] amolnater-qasource commented on #140923
@manishgupta-qasource Please review.

[2022-09-19 10:55] manishgupta-qasource commented on #140923
Secondary review for this ticket is Done

[2022-09-19 11:00] kpatticha opened #140924 "[APM] Create infraMetricsClient to fetch infra metrics data"
Today we pass the `index` to `esClient.search`.

instead of ` await esClient.search()`  will search `await infraMetricsClient.search()`

<details>
  <summary>Implementation example </summary>

  ### Some Code
[code]
</details>

follow up:  https://github.com/elastic/kibana/pull/139612#discussion_r967898126

[2022-09-19 11:04] kpatticha opened #140925 "Split `elasticsearch_fieldnames` per type"
https://github.com/elastic/kibana/blob/35010c1f36340d3dd0b72e67c3759b42a4a8c94e/x-pack/plugins/apm/common/elasticsearch_fieldnames.ts

With the following structure
[code]

Shared fields should be inside `apm.ts`

[2022-09-19 11:05] afharo opened #140926 "[EBT] Include `viewport width` to the context of the browser events"
An interesting insight into our browser-side telemetry is the size of the viewport. We should include this in our EBT.

It might be relevant to include them in the context of the events.

Additionally, we may want to emit an event on every resize that may occur to the viewport.

[2022-09-19 11:09] simranvaseer-qasource opened #140927 "[Fleet]: Flickering No activity message is shown on clicking agent Activity button."
**Kibana version:**  8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet Agents tab.
3. Select few agents and click force Unenroll.
4. Click on agent Activity button.
5. Observe flick

[2022-09-19 11:09] elasticmachine commented on #140927
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 11:16] elasticmachine commented on #140901
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:21] afharo opened #140928 "[EBT] Add navigation events"
We should add _navigation_ events in EBT to learn about how our users navigate from app to app in Kibana, and how long it takes to complete the navigation.

[2022-09-19 11:21] elasticmachine commented on #140925
Pinging @elastic/unified-observability (Team:Observability)

[2022-09-19 11:22] elasticmachine commented on #140924
Pinging @elastic/apm-ui (Team:APM)

[2022-09-19 11:23] elasticmachine commented on #140928
Pinging @elastic/unified-observability (Team:Observability)

[2022-09-19 11:24] elasticmachine commented on #140898
Pinging @elastic/kibana-security (Team:Security)

[2022-09-19 11:25] elasticmachine commented on #140876
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 11:25] afharo opened #140930 "[EBT] Include tab information to the context"
We should add some information about the tab that generated the event in Kibana. This way, we can identify if, during the same browsing session, the users are using multiple tabs of Kibana opened at once.

It looks like [`tabs.getCurrent()`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/getCurrent) returns an `id` info that is unique per tab.

[2022-09-19 11:26] elasticmachine commented on #140874
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:28] elasticmachine commented on #140930
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:29] afharo opened #140931 "[EBT] Generate events for every toast generation"
We'd like to understand how our toast notifications behave.

Ideally, we'll report one event for each toast generation including the type of the toast and the message in it. We may need to apply some hashing or processing to avoid leaking any user data.

For instance: hashing may highlight if we report the same message multiple times in a burst (opening a dashboard with all the visualizations fail

[2022-09-19 11:29] elasticmachine commented on #140931
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:30] afharo opened #140932 "Uncaught exceptions?"

[2022-09-19 11:31] joshdover commented on #121118
Hi @threatangler-jp 👋, thanks for the question. We do not have a public ETA on this, however we have published documentation on how to do this manually for the exact use case you have here: https://www.elastic.co/guide/en/fleet/8.4/data-streams-ilm-tutorial.html

[2022-09-19 11:33] afharo opened #140933 "[EBT] Collect console errors"
On the browser side, we'd like to collect the error messages printed in the browser's console.

Note: It may include the events from #140932, so that other issue might not be relevant.

[2022-09-19 11:33] elasticmachine commented on #140933
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:34] elasticmachine commented on #140830
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-19 11:36] afharo opened #140934 "[EBT] Add visibility changes in the tab"
In the browser events, we may want to report any visibility changes in the current tab: when they are active, inactive but visible (monitoring dashboard mode), or hidden (there is another window or tab blocking the view).

This could be implemented as a part of the context (to enrich them and provide whether they happened when the tab was off view).

Additionally, we may want to report an individu

[2022-09-19 11:36] elasticmachine commented on #140934
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 11:36] MiriamAparicio commented on #136961
Run the test several times and didn't fail once, closing the issue

[2022-09-19 11:36] #136961 closed

[2022-09-19 11:42] elasticmachine commented on #140793
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 11:42] elasticmachine commented on #140787
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 11:42] elasticmachine commented on #140689
Pinging @elastic/apm-ui (Team:APM)

[2022-09-19 11:44] elasticmachine commented on #140676
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-19 11:45] elasticmachine commented on #140828
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-19 11:47] elasticmachine commented on #140528
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-19 11:47] Dosant commented on #140876
This is improved in 8.2: https://github.com/elastic/kibana/issues/122233
Before that, it was only possible to open a new window/tab using browser's right-click context menu, but not by default

I agree. I'll mention it here in the issue to improve documentation https://github.com/elastic/kibana/issues/113246

e.g. if the returned value on a click is "Delivered", then i should return "myfilter.name

[2022-09-19 11:48] elasticmachine commented on #139938
Pinging @elastic/kibana-qa (Team:QA)

[2022-09-19 11:49] Dosant commented on #113246
Added more items to the list from the feedback [here](https://github.com/elastic/kibana/issues/140876)

[2022-09-19 11:51] elasticmachine commented on #140876
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-09-19 11:54] dikshachauhan-qasource commented on #140927
Secondary Review is done

[2022-09-19 11:58] ghost opened #140936 "[Fleet]: No appropriate agent upgrade failed message is available if agents fails to upgrade to the latest version."
**Kibana version:** 8.5 Kibana Staging environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.5 Kibana cloud environment should be available.
- Few lower version agents should be installed.

**Steps to reproduce:**

1. Navigate to Fleet > Agents tab
2. Select few agents, say 3 agents.
3. Click on 'Actions' dropdown.
4. Select 'Upgrade 3 agents'.

[2022-09-19 11:58] elasticmachine commented on #140936
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 12:13] samratbhadra-qasource opened #140937 "[Security Solution]: Auto refresh is not working and alerts table is not displayed while user select rule preview timeframe."
**Describe the bug:**
Auto refresh is not working and alerts table is not displayed while user select rule preview timeframe.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to Rules tab.
3. Create a custom query rule.
4. Now, enter any custom query i.e process.name :*
5. Click on Rule preview.
6. Observe that auto

[2022-09-19 12:13] elasticmachine commented on #140937
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-19 12:16] maryam-saeidi commented on #140507
Result of first round of investigation:

I’ve added a log in the else section to see what is the response in case a test fails and we end up there:
![image](https://user-images.githubusercontent.com/12370520/191014491-73d81cd1-f3e1-4807-9859-04720422b814.png)

Here is the result in the log for one of the [failed functional test](https://s3.amazonaws.com/buildkiteartifacts.com/e0f3970e-3a75-4621-91

[2022-09-19 12:22] MadameSheema commented on #140705
@samratbhadra-qasource per the shared response, you have events with the `8.1.1` agent version, that is why you see results on the top agent.version histogram. So the behaviour is expected.

@stephmilovic please correct me here if I'm missing something.

[2022-09-19 12:23] elasticmachine commented on #140705
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-19 12:25] dikshachauhan-qasource commented on #140936
Secondary Review is done.

[2022-09-19 12:29] MadameSheema commented on #140905
@deepikakeshav-qasource can you please explain how did you update the value list? can you please also download the value list to make sure the list was correctly updated? Thanks!! :)

[2022-09-19 12:32] elasticmachine commented on #140937
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-19 12:40] xgt001 opened #140939 "manage_security:all privilege needed to create a runtime field"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** Flatcar Linux 3139.2.2

**Browser version:** Chrome 104.0.5112.126

**Browser OS version:** macOS Monterey 12.6

**Original install method (e.g. download page, yum, from source, etc.):**
Docker Image from Elasticsearch

**Describe the bug:**
A user is able to Create and Preview a Runtime field, but the said user

[2022-09-19 12:43] mbondyra opened #140940 "[Lens] don't allow to drag and drop a single element"
1. When there's just one element in the list, it shouldn't be able to be dragged and dropped. Happens for filters, custom interval ranges and multi- top values
2. Annotations fields and multi-top values moduled should be refactored to use the same code.

<img width="312" alt="Screenshot 2022-09-19 at 14 42 38" src="https://user-images.githubusercontent.com/4283304/191019756-5537155f-ac58-4205-8a65

[2022-09-19 12:43] elasticmachine commented on #140940
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-19 12:45] maryam-saeidi commented on #140507
When I removed disabling loading from else, the test failed less (only 1 in 10) and in the failed test see this log:
[code]
So it seems like a complete response, the question now is why in the screenshot, we still have a loading without alerts table:
![image](https://user-images.githubusercontent.com/12370520/191019805-7fdd7acd-0c3b-4b70-be02-20182011f3d4.png)

It's good to know that the API debug

[2022-09-19 12:45] dannycroft commented on #128236
@xcyk1226 are you still experiencing this problem? If so, you might find the issue by going through the following items:

- https://www.elastic.co/guide/en/kibana/7.15/troubleshooting.html#no-apm-data-found
- https://discuss.elastic.co/ (a quick search will show similar requests)
- Join us on Slack at https://t.co/4a8MvSQWif

Let me know 👍🏻

[2022-09-19 12:47] mikecote commented on #98900
Closing as duplicate of https://github.com/elastic/cloud/issues/80803.

[2022-09-19 12:47] #98900 closed

[2022-09-19 12:50] #140206 closed

[2022-09-19 12:54] sqren commented on #140924
Might be simpler to have a factory function:

[code]

[2022-09-19 12:55] #138697 closed

[2022-09-19 13:03] elasticmachine commented on #140939
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-19 13:18] cauemarcondes opened #140950 "[APM] Labs - After merge improvements"
The intention of this ticket is to centralize all change requests needed for the `Labs` features on APM.

Changes:

- [x] Check if we can adopt the already created logic for applying changes, when a change is made for a footer to appear to apply them - https://github.com/elastic/kibana/pull/140992
- [x] Add links to the Labs features, which can redirect to the discuss forum - https://github.com/el

[2022-09-19 13:18] threatangler-jp commented on #121118
Thank you @joshdover. We are on v8.3.3 and this workaround appears to only be available on v8.4. Let me know if I am mistaken on that factor.

We will eventually upgrade but upgrading is a heavy lift and so that will take some time.

[2022-09-19 13:25] #138926 closed

[2022-09-19 13:25] #138509 closed

[2022-09-19 13:25] #138929 closed

[2022-09-19 13:26] juliaElastic commented on #140923
This is expected for now, due to existing functionality: on force unenroll, there is no agent action document created (which is the data source of Agent activity), instead, agents are set to inactive and API keys invalidated.

We could change this with additional logic on kibana side: to create action and action result documents to make the activity consistent with normal unenroll. We would probab

[2022-09-19 13:30] #139812 closed

[2022-09-19 13:44] kibanamachine commented on #132865
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20978#018355e0-c865-4bdc-86ec-3a80c947ced3)

[2022-09-19 13:45] ChrsMark commented on #135624
@gizas https://github.com/elastic/elastic-agent/issues/613 seems completed. Do we still need this one for any reason?

[2022-09-19 13:48] juliaElastic commented on #140936
Can you check kibana logs to see if the error reason was that the agent is not upgradeable?
I added a [fix](https://github.com/elastic/kibana/pull/140833/files#diff-3ee1b1cbc1b2fcebb09cef6838b5a06980ae475d5001c07ac7d0c2aced9bbfad) for that use case today, but if the error reason comes from the backend (agent or fleet server), then the errors should be already reported correctly in the activity.

[2022-09-19 13:48] kibanamachine commented on #139626
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20977#018355d6-865e-4474-8826-74f9b6495b3a)

[2022-09-19 13:54] pmeresanu85 commented on #139506
@neptunian Could you please add a separate issue that focuses on the alert list?

[2022-09-19 13:56] kfirpeled opened #140953 "[Cloud Posture] Add `View rules` link to cluster's card in dashboard"
**Motivation**

Subtask of https://github.com/elastic/kibana/issues/138509
Adding `View rules` link

[2022-09-19 14:22] dgieselaar opened #140956 "[Unified search] Show refresh button as an icon"
**Describe the feature:**

Support showing the refresh button as an icon only. This is currently automatically done on smaller screen sizes but it would be great to have on-demand as well.

**Describe a specific use case for the feature:**

In the Profiling app we are showing two date pickers next to each other, and we'd like to save horizontal space. We've previously disabled showing the refresh

[2022-09-19 14:23] elasticmachine commented on #140956
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-19 14:24] ThomThomson commented on #140787
This was a bug in version 7.14.0. It was fixed in [this PR](https://github.com/elastic/kibana/pull/111015), and was backported to 7.14, so you can fix the issue by upgrading to 7.14.2.

[2022-09-19 14:24] #140787 closed

[2022-09-19 14:30] ppisljar commented on #56415
@Heenawter i am wondering why this was assigned to us ? (spaces are owned by @elastic/kibana-security )

[2022-09-19 14:30] ThomThomson commented on #140793
At first glance, I am unable to reproduce this, here is a dashboard with Lens Table visualizations with no data in 8.4.1.

https://user-images.githubusercontent.com/14276393/191041716-98d2d3ba-5c2c-42dd-93ad-332f4cb24f61.mp4

A couple of questions to help me diagnose this:

- Are you in Edit mode, or view mode? In edit mode, the panels become draggable, and you might be accidentally dragging a pan

[2022-09-19 14:32] kibanamachine commented on #136166
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20982#01835608-8f40-4455-814e-937d398e92c1)

[2022-09-19 14:33] orouz commented on #140663
https://github.com/elastic/kibana/pull/140949

[2022-09-19 14:38] semd opened #140959 "[Security Solution] Add APM tracking to useMatrixHistogram hook"
finishes https://github.com/elastic/kibana/issues/137966
needed for https://github.com/elastic/kibana/issues/129054

## Summary

The goal is to have APM tracking for all components that use the search strategy with `factoryQueryType: MatrixHistogramQuery`. They are currently not tracked.

## Task

Add APM request tranking to the `useMatrixHistogram` hook, we can use the `histogramType` in the tran

[2022-09-19 14:39] elasticmachine commented on #140959
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-19 14:40] ofiriro3 commented on #140187
I see that when deleting the asset, there is also an error - I am wondering if it can be related:

[code]

[2022-09-19 14:43] #135624 closed

[2022-09-19 14:44] elasticmachine commented on #137258
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 14:46] MiriamAparicio commented on #128679
There's a bug open related with the loading state of the trace sample https://github.com/elastic/kibana/issues/140360

[2022-09-19 14:48] nchaulet opened #140961 "[Fleet] Support simplified package policy format in kibana config file (preconfiguration)"
## Description

in #139420 we introduce a simplified and easier for human to understand way to create package policy through Fleet API

We should probably support this format in kibana config file when we create package policy using the `xpack.fleet.agentPolicies` key.

[2022-09-19 14:48] elasticmachine commented on #140961
Pinging @elastic/fleet (Team:Fleet)

[2022-09-19 14:56] kibanamachine commented on #137934
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20985#01835627-83e8-483a-9270-ee7a98e3c105)

[2022-09-19 15:00] Heenawter commented on #56415
@ppisljar We know there has been discussion on how to better handle saved objects by the @elastic/shared-ux team, and we saw this more as a **saved object** issue rather than a **spaces** issue (hence not tagging the Security team) - we saw the top comment mentioned incorporating this in to "sharing," hence the AppServices tag -  feel free to remove if you don't think this is the right idea, thoug

[2022-09-19 15:02] #136113 closed

[2022-09-19 15:05] threatangler-jp commented on #121118
@joshdover great news! Thank you :)

[2022-09-19 15:06] sqren opened #140964 "[APM] Search bar does not work in non-default spaces"
### Expected behaviour
The search bar in APM should show suggestions like

<img width="691" alt="image" src="https://user-images.githubusercontent.com/209966/191048838-23cc02b5-226b-4162-a74f-515c1172e17b.png">

### Actual behaviour

When changing to a non-default space the suggestions no longer show up.

[2022-09-19 15:06] elasticmachine commented on #140964
Pinging @elastic/apm-ui (Team:APM)

[2022-09-19 15:06] #128820 closed

[2022-09-19 15:08] justinkambic opened #140966 "[Synthetics] Serialize Kibana error responses"
**Kibana version:**

latest

**Elasticsearch version:**

latest

**Server OS version:**

macOS

**Browser version:**

chrome 105+

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

When handling HTTP error responses from Kibana, we're [not serializing them](https://github.com/elastic/kibana/blob/fc4a64bb16

[2022-09-19 15:08] elasticmachine commented on #140966
Pinging @elastic/uptime (Team:uptime)

[2022-09-19 15:08] teresaalvarezsoler commented on #137258
I agree it's not a bug, it looks like intended design. Closing this issue.

[2022-09-19 15:08] #137258 closed

[2022-09-19 15:11] criamico opened #140967 "[Fleet] Set up basic landing page for language clients in Custom Integrations"
Follow up of https://github.com/elastic/kibana/issues/136470

With https://github.com/elastic/kibana/pull/140737 it was introduced a "framework" to set up a custom react component in Custom Integrations and register it to Fleet UI, hence `Language client` tiles can point to this landing page rather than to documentation pages.
Currently this component is [here](https://github.com/elastic/kibana/bl

[2022-09-19 15:15] mikecote commented on #139051
@elastic/kibana-security ^^

[2022-09-19 15:17] #113939 closed

[2022-09-19 15:18] jonathan-buttner commented on #140843
Oh interesting, yeah I just saw it while testing the Osquery integration 🤔 I'll pull that branch later and try again.

[2022-09-19 15:21] #140615 closed

[2022-09-19 15:27] tylersmalley commented on #135099
This has been re-written in main and is a dev tool in 7.17.

[2022-09-19 15:27] #135099 closed

[2022-09-19 15:29] afharo opened #140968 "`@kbn/telemetry-tools` should ensure alphabetical order"
Recently, we've seen a few PRs having too many conflicts to resolve in the `schema.json` files because random sorting of the keys was leading to huge changes in the files.

Let's improve our `@kbn/telemetry-tools` runner to always ensure alphabetical order when writing the `schema.json` files.

[2022-09-19 15:29] elasticmachine commented on #140968
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 15:35] tylersmalley opened #140972 "Find replacement for license check"
The dependency is abandoned and has issues.

related to https://github.com/elastic/kibana/issues/105614

[2022-09-19 15:37] #8482 closed

[2022-09-19 15:45] ofiriro3 commented on #140187
After multiple attempts to reproduce, it seems that the bug is not deterministic.

It is a bit difficult to understand what is the root cause for this bug to happen

[2022-09-19 15:46] kibanamachine opened #140973 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/telemetry/alerting_and_actions_telemetry·ts - alerting api integration security and spaces enabled - Group 2 Alerting and Actions Telemetry telemetry should retrieve telemetry data in the expected format"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20991#01835658-b5c3-4f17-b032-320a9c77286d)

[2022-09-19 15:46] elasticmachine commented on #140973
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-19 15:46] rshen91 opened #140974 "[Shared UX] Redirect App Links component should fill vertical space without classnames"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

Opening this based on the PR https://github.com/elastic/kibana/pull/140952

**Expected behavior:**
Should fill vertical space - had to add the classnames for the vertical space to be

[2022-09-19 15:50] wearmg commented on #137163
Hi! Not sure if this should be a separate item but this new view limits the return results to the top 10 hits of what you are grouping by.  With a larger install and doing tuning you miss out on the more infrequent alerts that you have tuned and only see the noisy stuff you haven't tuned on the dashboard.  is there a way to make the number returned larger or user configurable in this new view?

[2022-09-19 15:51] kfirpeled commented on #140953
We are removing enabling/ disabling a rule, delaying this ticket to next sprint

Meanwhile moved this issue to `blocked`

[2022-09-19 15:53] spalger commented on #140888
Skipped

main/8.5: https://github.com/elastic/kibana/commit/beea080e0fc9b11692e73faa33b86f5f60a190ae

[2022-09-19 16:10] kibanamachine commented on #140907
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20992#01835660-8575-4faa-9c47-5bbfb2c900ae)

[2022-09-19 16:17] dborodyansky commented on #140911
@juliaElastic Tour is expected to show up first time to introduce the feature, not on subsequent hovers.

[2022-09-19 16:25] alisonelizabeth opened #140976 "[Guided onboarding] Support "done" state in dropdown panel"
When a user completes a setup guide, the panel should update accordingly. Refer to the design for more details.

<img width="530" alt="Screen Shot 2022-09-15 at 2 33 26 PM" src="https://user-images.githubusercontent.com/5226211/191065934-3d41508d-0ee5-4820-a5ce-70761b031d85.png">

There also might be a redirect to a specific page of the solution at the end of the guide, so we probably will add a c

[2022-09-19 16:25] elasticmachine commented on #140976
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-19 16:29] alisonelizabeth opened #140978 "[Guided onboarding] Conditionally show progress bar"
The setup guide progress bar should only show if the user has activated a guide _and_ has started a step. We need to make changes to our state management in order to support this intermediary state (related to https://github.com/elastic/kibana/issues/138626).

<img width="569" alt="Screen Shot 2022-09-19 at 12 28 26 PM" src="https://user-images.githubusercontent.com/5226211/191066877-3d6f15a3-ec13

[2022-09-19 16:30] elasticmachine commented on #140978
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-19 16:31] kibanamachine opened #140979 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/disable·ts - alerting api integration security and spaces enabled Alerts - Group 1 alerts disable space_1_all_with_restricted_fixture at space1 should still be able to disable alert when AAD is broken"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20994#0183566f-e8dc-4878-a1c7-83c30159ebcf)

[2022-09-19 16:32] elasticmachine commented on #140979
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-19 16:32] #140968 closed

[2022-09-19 16:33] alisonelizabeth opened #140981 "[Guided onboarding] Support inactive/completed steps"
The following changes need to be made to the steps in the dropdown panel:

- Inactive/not completed steps should be grayed out
<img width="456" alt="Screen Shot 2022-09-19 at 12 32 12 PM" src="https://user-images.githubusercontent.com/5226211/191067469-2894354f-8fc5-4d88-ad2a-c3988ebf5fc9.png">
- Completed steps should not be clickable (chevron should also not display)
<img width="451" alt="Screen

[2022-09-19 16:33] elasticmachine commented on #140981
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-19 16:39] tylersmalley commented on #115228
The maps team confirmed they don't need this. Going to close until someone does.

[2022-09-19 16:39] #115228 closed

[2022-09-19 16:41] #105543 closed

[2022-09-19 16:45] ThomThomson opened #140983 "[Dashboard] [Tech Debt] Remove `SavedObjectAttributes` Type"
Dashboard currently uses a number of types from Kibana that reduce type safety.

Some of these include the `SavedObjectAttributes` type which was deprecated in https://github.com/elastic/kibana/pull/140099

~~Additionally, the `SerializableRecord` type should be removed, specifically from the Dashboard Locator.~~
**Edit**: The SerializableRecord type cannot be removed from the Locator until the `L

[2022-09-19 16:45] elasticmachine commented on #140983
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 16:55] mbondyra opened #140984 "[TSVB] Autocomplete for annotations query input doesn't work"
master

Go to TSVB visualization and try to use autocomplete for query input (for example annotations tab). It doesn't work. That's the same problem that existed in Lens so we can get inpired by the solution from here (it's just a part of the PR, when unifiedSearch plugin is passed): https://github.com/elastic/kibana/pull/140313

[2022-09-19 17:13] #140311 closed

[2022-09-19 17:14] mbondyra commented on #129299
Closing this one as it was mostly resolved by https://github.com/elastic/kibana/pull/138753 and others. Followup issues are being created.

[2022-09-19 17:14] #129299 closed

[2022-09-19 17:29] spalger commented on #140855
We don't support native windows development anymore. Windows requires using WSL2 for building/bootstrapping/etc. https://docs.elastic.dev/kibana-dev-docs/tutorial/setup-windows-development-wsl

[2022-09-19 17:29] #140855 closed

[2022-09-19 17:46] tylersmalley commented on #17615
Closing this for now. This is an old issue that hasn't been a priority or vocalized.

[2022-09-19 17:46] #17615 closed

[2022-09-19 17:51] kibanamachine commented on #140241
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21004#018356b0-048c-4bf3-b9b1-99d6693ff4d8)

[2022-09-19 17:53] elasticmachine commented on #140780
Pinging @elastic/kibana-gis (Team:Geo)

[2022-09-19 17:57] kibanamachine commented on #138352
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21006#018356bf-9be4-4a5f-ac43-e017919138af)

[2022-09-19 18:33] kibanamachine commented on #136610
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21008#018356e4-d79d-4a7c-9724-1d0b609d50d6)

[2022-09-19 18:33] elasticmachine commented on #140950
Pinging @elastic/apm-ui (Team:APM)

[2022-09-19 18:33] cauemarcondes commented on #127759
Hi @LucaWintergerst , I think this issue has been solved by this PR https://github.com/elastic/kibana/pull/136569. Can you double check if the problem of not showing any data is because of the transaction type?

[2022-09-19 18:47] #140632 closed

[2022-09-19 18:57] #137750 closed

[2022-09-19 19:01] spalger commented on #139598
Let us know if you have more info @fbaligand

[2022-09-19 19:01] #139598 closed

[2022-09-19 19:09] neptunian opened #140996 "[Infra Monitoring UI] use observable to watch for config changes"
As part of https://github.com/elastic/kibana/pull/140766, @miltonhultgren pointed out we could use an observable so when a user changes a setting, they don't have to refresh the app.  Eg: https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/plugin.tsx#L491-L494

[2022-09-19 19:09] elasticmachine commented on #140996
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-19 19:14] kibanamachine commented on #139676
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21012#01835708-d85c-4551-908e-93b08820daaa)

[2022-09-19 19:14] kibanamachine commented on #139677
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21012#01835708-d85c-4551-908e-93b08820daaa)

[2022-09-19 19:39] jen-huang commented on #135194
@nchaulet Was a follow up issue created?

[2022-09-19 19:40] jen-huang commented on #132263
@nchaulet Could this be closed?

[2022-09-19 19:47] kibanamachine opened #141002 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/task_management·ts - task_manager scheduling and running tasks should disable and reenable task and not run it when runSoon = false"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21015#01835719-4df6-4c4b-bc65-9fdf984718be)

[2022-09-19 19:47] elasticmachine commented on #141002
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-19 19:56] kibanamachine commented on #139676
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21019#01835732-1f39-4b7b-b723-ab94f5c05b2c)

[2022-09-19 19:56] kibanamachine commented on #139677
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21019#01835732-1f39-4b7b-b723-ab94f5c05b2c)

[2022-09-19 20:01] pmuellr commented on #140524
From the Discuss page, they were on 7.17.5 :-)

I guess we can close this then, thx for noticing @cnasikas!!

[2022-09-19 20:01] #140524 closed

[2022-09-19 20:05] tylersmalley commented on #6564
This is a really old issue; a lot has changed since it was opened. Primarily, we don't run the optimizer in production, so plugin installation is mostly just copying the files to the plugin directory at this point.

[2022-09-19 20:05] #6564 closed

[2022-09-19 20:07] tylersmalley commented on #15611
I don't think anything needs to be done here since https://github.com/elastic/kibana/issues/214 is closed. I agree with Jon that the best solution, when possible, is often to have a local ES coordinating node that Kibana connects to.

[2022-09-19 20:07] #15611 closed

[2022-09-19 20:08] nchaulet commented on #132263
Yes this should be closed

[2022-09-19 20:08] #132263 closed

[2022-09-19 20:08] elasticmachine commented on #31639
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 20:10] elasticmachine commented on #55447
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 20:35] bhavyarm opened #141004 "Timeslider control makes dashboards save status dirty"
**Kibana version:** 8.5.0 snapshot

**Elasticsearch version:** 8.5.0 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  When users add timeslider controls and after they click save - if users don't click on switch to view mode

[2022-09-19 20:35] elasticmachine commented on #141004
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-19 20:43] ThomThomson commented on #141004
@nreese - correct me if I'm wrong, but I believe this is expected.

What's happening here, is that you can actually _save_ the specific selection of the time slider into the dashboard, so if the selection isn't the same as it was last, then there are unsaved changes.

[2022-09-19 21:27] sqren commented on #136047
Sounds good to me 👍
When we discussed this last, we decided that infra would fall back to APM collected data if a certain metric was not available in the infra metric indices. To query APM data you should use the APM Event client:

[code]

Context: https://github.com/elastic/kibana/pull/82724

Will infra make react components available or API's? I prefer react components.

[2022-09-19 21:30] spalger commented on #139677
Jest tests [should never be flaky](https://docs.elastic.dev/kibana-dev-docs/ops/flaky-tests#how-often-is-this-test-failing).

Skipped: https://github.com/elastic/kibana/commit/385132e95d7be281a5057c633e91d782c1407281

[2022-09-19 21:33] SansDK commented on #140793
Hi Thom, thanks for checking!

To answer your questions:
- I am in view mode when encountering this behaviour.
- I believe the tables are all saved search, which are displayed on the dashboard. I might have to double check this.

I've also made a screen recording showing the behaviour.

https://user-images.githubusercontent.com/25609266/191123528-34da6766-6bd8-4aae-821f-9055ad91d5fe.mp4

[2022-09-19 21:33] bhavyarm commented on #140244
Closed by https://github.com/elastic/kibana/pull/139834

[2022-09-19 21:33] #140244 closed

[2022-09-19 21:33] bhavyarm commented on #139659
Closed by https://github.com/elastic/kibana/pull/139834

[2022-09-19 21:36] #139659 closed

[2022-09-19 21:58] andrewvc commented on #140768
I think that description is right, I've updated the top comment with your text @paulb-elastic . @justinkambic hit the issue while recording our 8.4 release video, which I believe was on an 8.4 stack. I'm a bit confused since he __could__ run it using test now.

You can see the bad behavior here: https://youtu.be/lG4OcV314_k?t=1612

[2022-09-19 22:07] tylersmalley commented on #20031
A lot has changed in the past three years since this issue was last commented on, and I don't believe it to see be an issue in 8.4+.

Closing, but will re-open if anyone feels it's needed.

[2022-09-19 22:07] #20031 closed

[2022-09-19 22:08] elasticmachine commented on #17247
Pinging @elastic/kibana-core (Team:Core)

[2022-09-19 22:09] tylersmalley commented on #17247
Found in our backlog, and think it's more of a Core thing.

@kobelb, do you think this is still needed?

[2022-09-19 22:45] nreese commented on #141004
That is correct and its expected behavior. Moving the timeslider changes timeslider state. The range slider and option list controls have the same behavior.

[2022-09-19 22:58] #137984 closed

[2022-09-19 23:40] kibanamachine commented on #140907
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21030#018357fa-b3bc-4120-9495-c72e60431e5e)

[2022-09-20 01:22] justinkambic commented on #140768
Yes we were running an 8.4.1 stack when we recorded the release video. We attempted to use Run Now, which we showed while configuring the Private Location toward the end, and had to backpedal from that improvised part of the demo when it failed.

[2022-09-20 01:48] andrewvc commented on #140768
CC @awahab07 since he's the author of the other issue

[2022-09-20 03:30] #138232 closed

[2022-09-20 03:50] kqualters-elastic opened #141016 "[Security Solution][Resolver] Changing time in the date picker with analyzer open creates 2 api requests, should only be 1"
**Kibana version:**
8.4+

**Describe the bug:**
If a user changes the selected date of the date picker while analyzer is open, 2 identical requests are made to the (potentially very expensive) endpoint/resolver/tree api, instead of just 1.

**Steps to reproduce:**
1. Open the analyze event view anywhere in the security solution.
2. Change the selected time in the date picker.
3. See 2 identical tr

[2022-09-20 05:18] simranvaseer-qasource opened #141019 "[Fleet]: No new agent policy is created from add integration through Preview API request"
**Kibana version:**  8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Add any integration 'say Nginx to new policy.
4. Click on 'Preview API request' and open in con

[2022-09-20 05:18] elasticmachine commented on #141019
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 05:23] dikshachauhan-qasource commented on #141019
Secondary review is done

[2022-09-20 05:24] kibanamachine commented on #138352
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21037#01835934-03e2-4bd8-9a07-a239a6d5caaa)

[2022-09-20 05:40] deepikakeshav-qasource commented on #140905
Hi @MadameSheema ,

We have updated the small value list manually and then re-imported the large value list with same name

Please find downloaded value list after it was updated to have 65536 values

**Large value list:**
[keyword1 (copy)(1).txt](https://github.com/elastic/kibana/files/9604354/keyword1.copy.1.txt)

However, When we download the large value list, it only show the 13K values in exp

[2022-09-20 05:46] amolnater-qasource opened #141020 "[Fleet]: Able to add Endpoint Security for the first time without name through Console API."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56399
COMMIT: 943675d4fc9807b4589266fcfed36016eea4317c

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. Policy should exist.

**Steps to reproduce:**
1. Navigate to Integrations tab.
2. Click add Endpoint Security, observe blank name field

[2022-09-20 05:46] elasticmachine commented on #141020
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 05:46] amolnater-qasource commented on #141020
@manishgupta-qasource Please review.

[2022-09-20 06:00] manishgupta-qasource commented on #141020
Secondary review for this ticket is Done

[2022-09-20 06:10] stratoula commented on #140984
This will be fixed by https://github.com/elastic/kibana/pull/140880

[2022-09-20 06:16] amolnater-qasource opened #141021 "[Fleet]: API is not available under Dev tools when opened in console from Edit Integration page."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56399
COMMIT: 943675d4fc9807b4589266fcfed36016eea4317c

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. Policy should exist with System integration.

**Steps to reproduce:**
1. Navigate to Fleet>Agent policies tab.
2. Edit System integrati

[2022-09-20 06:16] elasticmachine commented on #141021
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 06:16] amolnater-qasource commented on #141021
@manishgupta-qasource Please review.

[2022-09-20 06:16] amolnater-qasource commented on #141021
@manishgupta-qasource Please review.

[2022-09-20 06:18] manishgupta-qasource commented on #141021
Secondary review for this ticket is Done

[2022-09-20 06:20] simranvaseer-qasource opened #141022 "[Fleet]: Integration name is not editable from Edit integration page through Preview API request."
**Kibana version:**  8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. First, integration name 'say syste.
4. Navigate to Edit integration page and edit the name of t

[2022-09-20 06:20] elasticmachine commented on #141022
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 06:22] pgayvallet commented on #140874
Hey. Thanks for opening the issue. This is definitely something we'll want to address. It has been added to our grooming queue for prioritization.

[2022-09-20 06:30] kpatticha opened #141023 "[Synthtrace] Update service metric aggregator to match apm-server fields"
it seems synthrace has a service aggregator but the fields don't match with `apm-server`

https://github.com/elastic/kibana/blob/main/packages/kbn-apm-synthtrace/src/lib/apm/aggregators/service_latency_aggregator.ts#L162-L180

<details>
  <summary>service metrics data stream</summary>

[code]
</details>

cc: @Mpdreamz

[2022-09-20 06:30] kpatticha opened #141024 "[Synthrace] Update service metric aggregator to match apm-server fields"
it seems synthrace has a service aggregator but the fields don't match with `apm-server`

https://github.com/elastic/kibana/blob/main/packages/kbn-apm-synthtrace/src/lib/apm/aggregators/service_latency_aggregator.ts#L162-L180

<details>
  <summary>service metrics data stream</summary>

[code]
</details>

cc: @Mpdreamz

[2022-09-20 06:31] elasticmachine commented on #141024
Pinging @elastic/apm-ui (Team:APM)

[2022-09-20 06:48] pgayvallet commented on #57629
TIL that we even had an issue opened for this (cc @Bamieh)

From a technical standpoint:

Long story short, we currently lack the proper server-side architecture to support dynamic locale/language support. The problem is the same for supporting different locale per space, or different locale per user.

If on the browser-side, having multi-locale support would be *fairly* easy to achieve, given it

[2022-09-20 06:52] #140910 closed

[2022-09-20 06:52] #140927 closed

[2022-09-20 06:54] pgayvallet commented on #55447
This is quite an old issue, we should check with the `@elastic/elasticsearch` maintainers if it's still present in the v8 version of the client.

[2022-09-20 06:55] pgayvallet commented on #55447
cc @sethmlarson

[2022-09-20 06:56] dikshachauhan-qasource commented on #141022
Secondary review is done

[2022-09-20 07:00] aarju commented on #127429
@carolyn-hughes I create the saved queries in the Discover app when I'm exploring the data. The saved query can then be used in other apps like Lens or the Security app. Something to remember is that Kibana has `saved queries` and saved search` which are two different things. A saved search is a saved object in Kibana that can only be used in the Discover app.

In this screenshot the top right sav

[2022-09-20 07:11] prachigupta-qasource opened #141025 "[Question][Fleet]: Two different screenshots are shown for 'View agents' link feature on 'Agent activity' flyout"
**Description:** Two different screenshots are shown for 'View agents' link feature on 'Agent activity' flyout

**Question:**

We have re-validated the 'View agents' link feature on 'Agent activity' flyout on 8.5.0 SNAPSHOT and found the below observation:

- 'View agents' link is not shown on 'Agent activity' flyout.

![image](https://user-images.githubusercontent.com/97870262/191189607-d9894418-

[2022-09-20 07:11] elasticmachine commented on #141025
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 07:18] pgayvallet commented on #140933
That was my first question 😅

What's the difference between this issue and https://github.com/elastic/kibana/issues/140932?

What are 'console errors'?  Isn't that precisely uncaught errors and/or unhandled promise rejections? Do you see anything else here?

[2022-09-20 07:22] dikshachauhan-qasource commented on #141025
Secondary review is done

[2022-09-20 07:30] ghost opened #141026 "[Security Solution] Hover actions are displaying under rule preview for event renderer"
**Describe the bug**
Hover actions are displaying under rule preview for event renderer

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Data should be ingested on kibana

**Steps to Reproduce**
1. Navigate to security > Rules page
2. Click on create a new rule
3. Add any query say `host.name: *`
4. Click on rule preview button
5. Click on view details icon
6. Observe that

[2022-09-20 07:31] elasticmachine commented on #141026
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 07:33] pmeresanu85 commented on #136047
@sqren I prefer react components too, but I leave it up to the team to decide what is best.

[2022-09-20 07:39] #140307 closed

[2022-09-20 07:40] pgayvallet commented on #140761
FWIW, static files are not served the same way plugin bundles are, and `@hapi/inert` does not support this, https://github.com/hapijs/inert/issues/163

We would need to manually override the header via the `onPostHandler` hook in `http.registerStaticDir` (and expose an option to do so, as we don't always want this behavior).

Also related: https://github.com/elastic/kibana/pull/129871

[2022-09-20 07:52] juliaElastic commented on #140936
I see, this should be fixed in the latest kibana version, previously the error action results were not reported correctly. This is how it looks now with the latest changes:
<img width="509" alt="image" src="https://user-images.githubusercontent.com/90178898/191199722-ee1e6a66-b46e-4312-9a67-75178f5190c4.png">

[2022-09-20 07:58] rudolf commented on #113743
Related https://github.com/elastic/kibana/issues/112492

[2022-09-20 07:59] pgayvallet commented on #140926
Yea, this is usually collected in event meta

Not sure to see what we would do with that, but eh! If we do so, we'll want to add throttling/debouncing to the listening logic though, as resizing can potentially fires a **lot** of time when the user resize the browser's window.

[2022-09-20 08:00] elasticmachine commented on #141026
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-20 08:01] MadameSheema commented on #141026
@deepikakeshav-qasource can you please confirm if a part of bein displayed an action can be taken? Thanks!

[2022-09-20 08:03] #132140 closed

[2022-09-20 08:04] pgayvallet commented on #139051
@elastic/kibana-security will have to reply on that one, but technically this will require to add a client-side version of the `encryptedSavedObjects` plugin.

Also looking at

https://github.com/elastic/kibana/blob/b474a454f626d088814dbab572c646f0c9c7d4b8/x-pack/plugins/encrypted_saved_objects/server/plugin.ts#L61

I doubt we'll want to expose the `encryptionKey` config setting to the browser-sid

[2022-09-20 08:10] #132470 closed

[2022-09-20 08:10] MiriamAparicio commented on #132470
Fixed here https://github.com/elastic/kibana/issues/136500

[2022-09-20 08:14] pgayvallet commented on #140919
Just worth mentioning, FTR tests are running in production mode, not in dev mode. (But I don't know if that's an issue here)

[2022-09-20 08:15] elasticmachine commented on #140905
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-20 08:20] deepikakeshav-qasource commented on #141026
Hi @MadameSheema ,

Yes, actions are applied on alerts page. Please find the below screencast.

https://user-images.githubusercontent.com/61860752/191205182-d88c8db0-7630-4f3f-9f27-d598e9815e00.mp4

Please let us know if anything else is required from our end!!

Thanks!!

[2022-09-20 08:24] juliaElastic commented on #140911
The popup should show up on reassign, upgrade and unenroll actions (not programmed to show up in any other case like agent enroll or opening the flyout).
Can you try again in latest snapshot, I tested on latest and it was working on reassign.

<img width="780" alt="image" src="https://user-images.githubusercontent.com/90178898/191206199-b8722a07-afea-4187-851f-68d2a48d86d0.png">

[2022-09-20 08:27] mbondyra commented on #140200
Solved by https://github.com/elastic/kibana/pull/140588

[2022-09-20 08:27] #140200 closed

[2022-09-20 08:27] juliaElastic commented on #141025
The feature is split to minimum goals and stretch goals in the implementation issue: https://github.com/elastic/kibana/issues/140267
The `View agents` link is part of the stretch goals, these are not delivered in 8.5 (not enough time as FF is today)

[2022-09-20 08:29] #133112 closed

[2022-09-20 08:29] juliaElastic commented on #136092
@ablnk the fix for bulk actions is merged, ready to test in latest 8.5 snapshot.

[2022-09-20 08:29] pgayvallet commented on #140818
Wouldn't technically be a problem (well, we'll still need to discuss priorities regarding the different sources but nothing that wasn't done for other settings anyway), but just trying to understand: but why would we want / need to allow specifying the `environment` APM option in ECE/ESS aka customer production environment? It's prod, isn't it? Especially given that for other environments, [ELASTI

[2022-09-20 08:32] mbondyra commented on #140204
I am reopening this one as it's only partially done in the mentioned PR. The idea is to add a `ignore global filters` boolean option and for now we only have set `ignoreGlobalFilters:true` as a default without possibility to turn it off.

[2022-09-20 08:36] #140663 closed

[2022-09-20 08:37] #140025 closed

[2022-09-20 08:37] mbondyra opened #141033 "[Lens] [Annotations] Add ability to drag and drop a field to annotation layer"
1. When dragging a field to annotation layer, it should create a default annotation with `field: *`.

[2022-09-20 08:37] elasticmachine commented on #141033
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 08:38] orouz commented on #140025
https://github.com/elastic/kibana/pull/140955

[2022-09-20 08:40] #136470 closed

[2022-09-20 08:41] juliaElastic commented on #139404
As part of the new [Agent activity](https://github.com/elastic/kibana/issues/140267) feature, there is a new endpoint introduced that doesn't filter out expired actions.
Should we remove the `/current_upgrades` endpoint?

[2022-09-20 08:42] mbondyra opened #141034 "[Lens][Query annotations] When choosing a suggestion without x-axis date histogram, don't show annotation layer"
1. Create a chart with date histogram data layer and annotation layer.
2. Move to the suggestion that doesn't have time x-axis.
3. The annotation layer should not be passed.

<img width="971" alt="Screenshot 2022-09-20 at 10 39 52" src="https://user-images.githubusercontent.com/4283304/191211211-46d42bda-90f1-447f-b80d-f1df486e14ce.png">
<img width="957" alt="Screenshot 2022-09-20 at 10 39 56" src

[2022-09-20 08:42] elasticmachine commented on #141034
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 08:43] maxcold opened #141035 "Preselect "threat" category in Fields browser"

[2022-09-20 08:44] maryam-saeidi commented on #110153
Just saw 2 comments about this ticket in the code:
1. https://github.com/elastic/kibana/blob/main/x-pack/test/rule_registry/security_and_spaces/tests/basic/index.ts#L23
2. https://github.com/elastic/kibana/blob/main/x-pack/test/rule_registry/security_and_spaces/tests/trial/index.ts#L40

@MadameSheema Should this ticket be reopened?

[2022-09-20 08:46] karanbirsingh-qasource opened #141036 "[Security Solution]Endpoint security not getting install until we add os query integrations"
**Describe the bug**
Endpoint security not getting install until we add os query integrations

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Create new policy , add endpoint security integration
- install the agent
- Agent start showing on build with healthy status however no endpoint show on the build

![image](https://user-images.githubusercontent.com/59917825/191211039-239

[2022-09-20 08:46] elasticmachine commented on #141036
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 08:47] elasticmachine commented on #141036
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-20 08:48] MadameSheema commented on #110153
Absolutely @maryam-saeidi thanks for the info!!

@yctercero can you please take a look when you have the chance? Thanks!

[2022-09-20 08:51] mbondyra opened #141037 "[Lens][Query annotations] Discuss annotation query input"
So far we had two versions of the annotation query input and both come with their set of good and bad sides cc @MichaelMarcialis

1. Query popover
<img width="908" alt="Screenshot 2022-09-20 at 10 44 53" src="https://user-images.githubusercontent.com/4283304/191211927-b32e43ea-5906-4281-bb1a-d1788a9f1d00.png">

+ the whole query is visible both when the popover is closed and open, it's easy to see

[2022-09-20 08:51] elasticmachine commented on #141037
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 08:54] dimaanj opened #141038 "[Discover] Changing data view id in URL state does not give any error feedback"
**Kibana version:**
main
**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
 When changing data view id in URL state to not existing one, will not give any error feedback.
**Steps to reproduce:**
1. Open Discover
2. Change index param in URL to invalid
3.

[2022-09-20 08:54] elasticmachine commented on #141038
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-20 08:56] criamico commented on #132781
Closed as fixed by https://github.com/elastic/kibana/pull/137099

[2022-09-20 08:56] #132781 closed

[2022-09-20 08:57] flash1293 commented on #141037
I think we can find a different solution than the additional popover, but it's very important to have more screen space for this input. It's manageable for small examples but in a lot of common use cases these field names get much longer and the filter expressions are more complex especially for something like annotations. 300 pixels of width doesn't seems sufficient IMHO.

[2022-09-20 08:59] dimaanj opened #141039 "[Discover] Loading Discover with removed index gives two equal error toasts instead of one"
**Kibana version:**
main
**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
 Loading Discover with removed index gives two equal error toasts instead of one.
**Steps to reproduce:**
1. Create data view with index
2. Open Discover and save the link to a cu

[2022-09-20 08:59] elasticmachine commented on #141039
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-20 09:04] pgayvallet commented on #140901
Obligatory question, Is that a bulbasaur?

@elastic/kibana-security it may have changed, so just to be sure: is the space list widget used by the SOM page under our or your ownership?

[2022-09-20 09:12] pgayvallet commented on #140901
Unless I'm mistaken it still lives in the `spaces` plugin.

https://github.com/elastic/kibana/blob/3730dd0779ed8efd74aee88f57422781ec1ac122/src/plugins/saved_objects_management/public/services/columns/share_saved_objects_to_space_column.tsx#L90

https://github.com/elastic/kibana/blob/3730dd0779ed8efd74aee88f57422781ec1ac122/x-pack/plugins/spaces/public/ui_api/components.tsx#L54

[2022-09-20 09:19] pgayvallet commented on #135760
Sorry, I meant `chrome.docTitle.change`, not `.set`

It's against our guidelines and shouldn't be done, specifically for scenarios like this where we need to have an unified way to track changes to the title. Changes performed by setting `document.title =` directly will not be known by Core and therefor Core would not be able to update the content of the SR component.

Sigh... what can I say, usin

[2022-09-20 09:20] flash1293 commented on #18220
It's very likely this is not valid anymore. Let's close it (I think the inspector work is tracked separately)

[2022-09-20 09:20] #18220 closed

[2022-09-20 09:22] pgayvallet commented on #135760
FWIW

<img width="763" alt="Screenshot 2022-09-20 at 11 20 56" src="https://user-images.githubusercontent.com/1532934/191220303-2a917d50-adf4-4549-bb4e-ffec20cd7f9c.png">

<img width="606" alt="Screenshot 2022-09-20 at 11 21 20" src="https://user-images.githubusercontent.com/1532934/191220339-10a79061-7079-43b5-b501-b94fd1087865.png">

[2022-09-20 09:32] jughosta commented on #72530
Fixed via https://github.com/elastic/kibana/pull/106587

[2022-09-20 09:32] #72530 closed

[2022-09-20 09:33] pgayvallet commented on #128593
Nothing to add to the downsides:

That

and mostly this

Not saying I have a solution, but ihmo any suggestion not capable of sending the data in case of migration failure should be evicted. This is the most important part of what we're trying to collect here.

[2022-09-20 09:33] samratbhadra-qasource opened #141042 "[Security Solution]: While changing rows per page under rule exception tab it hides the data for sometime."
**Describe the bug:**
While changing rows per page under rule exception tab it hides the data for sometime.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Rules tab.
3. Select any custom created rule.
4. Navigate to rule exception tab.
5. Now, change the row per page under exception tab.
6. Observe that while changing rows per page

[2022-09-20 09:34] elasticmachine commented on #141042
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 09:45] pgayvallet commented on #140309
Hum, @wayneseymour I think this was wrongly closed?

[2022-09-20 09:48] criamico commented on #136089
Solved by https://github.com/elastic/kibana/pull/138638

[2022-09-20 09:48] #136089 closed

[2022-09-20 09:53] valscion commented on #140901
Oh that's a derpy Venusaur (https://imgur.com/x4ECDiR), we use it as a mascot of our development team and our bot account we usually call "Venuusaur" (as our company is named Venuu) 😅

[2022-09-20 09:57] #96322 closed

[2022-09-20 09:58] muskangulati-qasource opened #141044 "[Security Solution] The policy settings page becomes inaccessible if it is in 'out of date' state due to name change"
**Description:**
The policy settings page becomes inaccessible if it is in 'out of date' state due to name change

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Deploy and endpoint with the Elastic Defend integration
2. Wait for sometime and then change the name of the Integration policy
3. Observe, the policy

[2022-09-20 09:58] elasticmachine commented on #141044
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-20 09:58] elasticmachine commented on #141044
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 10:00] thomheymann commented on #139051
I don't think it makes a lot of sense to expose encrypted saved objects client side. As @pgayvallet said, the `encryptionKey` config value can't be exposed as is using `exposeToBrowser` so the only way to let the client know `canEncrypt` info would be using AJAX.

I can think of the following options to prevent this issue:

1. Perform health check (http endpoint + client side service) before fetch

[2022-09-20 10:01] afharo commented on #140930
@pgayvallet rightly reminded me that we have the session ID. And we store that in the session storage. Meaning each tab has a different session, so we have this information implicitly. Closing this issue for now.

[2022-09-20 10:01] #140930 closed

[2022-09-20 10:06] elasticmachine commented on #139676
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 10:06] amolnater-qasource opened #141046 "[Self-Managed][Fleet]: Fingerprint flag not available under Fleet Settings>Elasticsearch ouput and Fleet Server installation command."
Kibana version: 8.4.2 BC1 Kibana self-managed environment

Host OS and Browser version: Windows

Build details:
VERSION: 8.4.2 BC1 self-managed
BUILD: 55523
COMMIT: d34da2c98a97aac80c2b9e8ab197c76cc149574e

Preconditions:

8.4.2 Kibana self-managed environment should be available.

**Setup Steps:**
1. Extract elasticsearch and kibana.
2. Run elasticsearch and get kibana enrollment token.
3. Run ki

[2022-09-20 10:07] elasticmachine commented on #141046
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 10:07] amolnater-qasource commented on #141046
@manishgupta-qasource Please review.

[2022-09-20 10:09] manishgupta-qasource commented on #141046
Secondary review for this ticket is Done

[2022-09-20 10:29] afharo commented on #140919
@pgayvallet AFAIK, that's actually a good thing: the dev telemetry service won't apply buffering to allow us to iterate faster when designing the collectors and indexers. The dev endpoint should be used under controlled scenarios to avoid overloading it.

[2022-09-20 10:31] afharo commented on #140926
A huge ++ to this.

[2022-09-20 10:33] manishgupta-qasource commented on #141044
Reviewed & assigned to @kevinlog

[2022-09-20 10:35] afharo commented on #140933
These might include actively logged errors via `console.error` (there are quite a few in Kibana).

[2022-09-20 10:38] jlind23 commented on #123150
@nimarezainia can we make sure that the docs are good to be shipped before 8.5 official release?

[2022-09-20 10:38] mbondyra opened #141048 "[Lens] [Query annotations] Clear the annotation params when switching between the annotation types"
When moving from manual annotation to the query one, the param `timestamp` unexpectedly stays inside the config/saved object but, as expected, it's not used anymore. It doesn't break anything, but we should come up with the system that cleans the properties depending on what annotation type we use.

[2022-09-20 10:38] elasticmachine commented on #141048
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 10:38] #141567 closed

[2022-09-20 10:39] #140590 closed

[2022-09-20 10:40] #137806 closed

[2022-09-20 10:40] mbondyra opened #141049 "In-chart annotation interactions"
We want the user to have an ability to view and modify annotations from the tooltip on the chart.
Depends on https://github.com/elastic/elastic-charts/issues/1811

[2022-09-20 10:41] karanverma-qasource opened #141050 "[Security Solution] Bulk actions and Custom rules got disabled when custom user have "NONE" access of actions and connectors."
**Describe the bug:**
Bulk actions and Custom rules got disabled when custom user have "NONE" access of actions and connectors.

**Build Details:**

[code]
**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Custom rules should be created with actions.

**Steps to Reproduce:**

1. Navigate to Stack management --> Roles.
2. Create a Role with below co

[2022-09-20 10:42] elasticmachine commented on #141050
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 10:43] dmgeurts commented on #21778
Another use case is updating the privileges of api_keys that have been allocated to system users, rather than actual users. If an admin user can drop to cURL to get this done, why not expose this option in de dev tools console?

[2022-09-20 10:44] kibanamachine opened #141052 "Failing test: Jest Tests.x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components - Rules list bulk actions can bulk update API key"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21047#01835a59-e8b2-428d-aa04-5eb737ef8b83)

[2022-09-20 10:45] elasticmachine commented on #141052
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 10:46] karanbirsingh-qasource opened #141053 "[Security Solution]count of related alert by process ancestry not showing in alert fly out"
**Describe the bug**
count of related alert by process ancestry not showing in alert fly out

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate alert with related process ancestry in our case we triggered alert from the endpoint security rule
- click on alert fly-out of above alert and scroll down
- you will observe count of attached cases and source event etc
- However

[2022-09-20 10:46] mbondyra opened #141054 "[Lens] [Annotations] Save annotations to library"
For now event annotation groups are stored inline in Lens saved object. We want to enable users to save them to their library as content that can be shared among multiple visualizations.

[2022-09-20 10:46] elasticmachine commented on #141053
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 10:46] elasticmachine commented on #141054
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 10:46] kibanamachine commented on #138352
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21047#01835a59-e8e4-45f5-b530-d14380aa89cb)

[2022-09-20 10:53] kibanamachine opened #141055 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/task_management·ts - task_manager scheduling and running tasks should disable and reenable task and run it when runSoon = true"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21046#01835a56-f8eb-4fcc-8b91-3277ee5b30f9)

[2022-09-20 10:54] elasticmachine commented on #141055
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 10:55] #138541 closed

[2022-09-20 11:04] kertal commented on #141039
I think it's because 2 queries are responding (documents + histogram) with errors. I think it improved but I don't think it's a Discover task to do so, there's a related issue here: https://github.com/elastic/kibana/issues/67270

[2022-09-20 11:05] kertal commented on #141039
So I think this can be closed as it would be resolved once there's a solution for repeated error messages

[2022-09-20 11:14] #140002 closed

[2022-09-20 11:23] thomheymann commented on #140901
This is a bug in EuiAvatar component which mutates its style prop: https://github.com/elastic/eui/blob/main/src/components/avatar/avatar.tsx#L144-L168

I have raised an issue here: https://github.com/elastic/eui/issues/6249

[2022-09-20 11:28] karanbirsingh-qasource opened #141056 "[Security Solution]Definition text of Rule Exception is missing from add Rule Exception"
**Describe the bug**
Definition text of Rule Exception is missing from add Rule Exception

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Rule pages and then go to rule exception tab
- Observed that help text of where rule exception will work is missing under new modal text

**Screen-Shoot:**

- Old

![image](https://user-images.githubusercontent.com/59917825/191246126-9

[2022-09-20 11:28] elasticmachine commented on #141056
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 11:29] kertal commented on #136727
@ninoslavmiskovic @gchaps I've started with this, but renaming like this needs to consider also renaming other parts of Discover
So what shall we do with
* Documents
* Expanded document
* Single document
* Surrounding documents
How to improve the document - records - hits babylon?

![Image](https://user-images.githubusercontent.com/463851/191246206-68d18237-5dd2-49e6-a59a-fba0923bfbc9.png)

[2022-09-20 11:30] #139969 closed

[2022-09-20 11:31] cnasikas opened #141057 "[Cases] User assignment enhancements"
In https://github.com/elastic/kibana/pull/140208 we introduced the ability to assign users to a case. This issue describes various enhancements that can become to improve UX and testing. Specifically:

- [ ] Disable queries before opening the popover (use react query enabled feature)
- [ ]  Filter unassigned cases
- [ ] Check if we have unit tests
    - [ ] x-pack/plugins/cases/public/components/a

[2022-09-20 11:31] elasticmachine commented on #141057
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 11:31] elasticmachine commented on #141057
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 11:36] #140052 closed

[2022-09-20 11:36] #140057 closed

[2022-09-20 11:36] #140058 closed

[2022-09-20 11:40] maryam-saeidi commented on #140507
When I was checking other alerts table functional tests, I noticed that they are fine and this issue only happens for the overview page, which the difference is having the table in an accordion 😕

After discussing it with @XavierM, he had 2 proposals to check:
1. What if instead of waiting for the loading state to stop, try to check the existence of the component that we want to check later?
2. Wh

[2022-09-20 11:40] cnasikas opened #141059 "[Cases] Add a backlink to the case when pushing to an external service"
Cases support pushing a case to an external service. We should append a URL to the description of the new incident in the external service that links back to the case. We should use the `server.publicBaseUrl` config value to determine the Kibana public URL.

[2022-09-20 11:40] elasticmachine commented on #141059
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 11:40] elasticmachine commented on #141059
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 11:41] Dosant commented on #133778
This popup was removed in 8.1 https://github.com/elastic/kibana/pull/118252
Closing :)

[2022-09-20 11:41] #133778 closed

[2022-09-20 11:43] cnasikas opened #141061 "[Cases] Add a backlink to the case alert table when pushing to an external service"
Cases support pushing a case to an external service. If the case has alerts attached to it we add a comment with the number of alerts attached to a case. We should add a URL to the same comment that links back to the alert table inside the case. We should use the server.publicBaseUrl config value to determine the Kibana public URL.

[2022-09-20 11:43] elasticmachine commented on #141061
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 11:43] elasticmachine commented on #141061
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 11:43] samratbhadra-qasource opened #141062 "[Security Solution]: Unable to assign case while creating custom user with same cloud user name with small caps."
**Describe the bug:**
Unable to assign case while creating custom user with same email id name with small caps.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Stack management.
2. Go to user tab and click on create user.
3. Now, under full name add the same cloud username with small caps.
4. Enter all details and click on create us

[2022-09-20 11:43] elasticmachine commented on #141062
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 11:48] elasticmachine commented on #141062
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 11:48] elasticmachine commented on #141062
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 11:50] cnasikas commented on #141062
Thank you @samratbhadra-qasource! Could you please post the exact information (username, full_name, etc) you added for each user?

[2022-09-20 11:55] karanbirsingh-qasource opened #141063 "[Security Solution]deleted user can be assigned to case"
**Describe the bug**
deleted user can be assigned to case

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- create on custom user
- login with above custom user
- Assign cases to it
- log out and login with elastic and delete the custom user
- Come back to kibana > Cases
- Create case and under assignee drop-down you will see the deleted user
- Observed that deleted user can be

[2022-09-20 11:55] elasticmachine commented on #141063
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 11:57] #135417 closed

[2022-09-20 12:04] deepikakeshav-qasource opened #141064 "[Security Solution] Email id is not displayed in assignee list drop down under cases"
**Describe the bug**
Email id is not displayed in assignee list drop down under cases

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Login to kibana deployment
2. create one custom user
3. Add email id under the email field
4. Go to cases and edit the assignee field
5. Observed that added email id under user is not showing , however if you see clo

[2022-09-20 12:04] elasticmachine commented on #141064
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 12:09] #85009 closed

[2022-09-20 12:09] kibanamachine commented on #141002
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21051#01835a9c-d841-497c-b0d2-11e31acd1498)

[2022-09-20 12:20] kpollich commented on #141025
Thanks for clarifying @juliaElastic - closing this as we'll be following up with the `View agents` functionality another time

[2022-09-20 12:20] #141025 closed

[2022-09-20 12:21] suchcodemuchwow commented on #141002
/skip

[2022-09-20 12:22] kibanamachine commented on #141002
Skipped

main: 6f9933bace1f76ea201a797e558b5f21c3c89e8d

[2022-09-20 12:23] suchcodemuchwow commented on #141002
Other issue relevant: https://github.com/elastic/kibana/issues/141055

[2022-09-20 12:24] logeekal commented on #126083
Please see if new layout makes sense. This solves the width problem without any customization.
|Old Layout| New Layout|
|--|--|
|![image](https://user-images.githubusercontent.com/7485038/191256799-b38b4e23-6bb0-492d-8908-bf63eeb7994c.png)|![image](https://user-images.githubusercontent.com/7485038/191256474-77263af3-e593-46a9-a31e-be54a9518f45.png)|

[2022-09-20 12:32] kibanamachine commented on #140547
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21053#01835ab0-eb88-477c-9ea3-7af54da23571)

[2022-09-20 12:34] #140108 closed

[2022-09-20 12:39] orouz opened #141072 "[Cloud Posture] findings columns minor fixes"
the following are a list of small issues that are really annoying and also easy to fix. high impact / low effort.

### 1. Findings Tables Row Height
- navigating between tables shouldn't cause UI to jump around.
- the root cause is that some cells aren't truncated and instead break to a new line.
- example: `resource.id` column differs in its height:
![Screen Shot 2022-09-20 at 15 32 12](https://u

[2022-09-20 12:42] elasticmachine commented on #141072
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-20 12:45] kpollich opened #141074 "[Fleet] Add workflow for requesting and downloading agent diagnostics from fleet UI"
Blocked by https://github.com/elastic/security-team/issues/4661

## Background

A common supportability concern with Fleet/Agent is the collection and investigation of diagnostics. Elastic Agent exposes the `elastic-agent diagnostics collect` command, which outputs a `.zip` containing various diagnostics information that's crucial for debugging purposes.

We'd like to expose these diagnostics file

[2022-09-20 12:45] elasticmachine commented on #141074
Pinging @elastic/fleet (Team:Fleet)

[2022-09-20 12:48] tinnytintin10 commented on #141072
@orouz can we move the newly added auth options (shared credentials) on the integration under an advanced options section? Similar to what the AWS integration does.

![Screen Shot 2022-09-20 at 05 45 02](https://user-images.githubusercontent.com/53792284/191261316-08cb746e-0bfc-442e-8785-f2bfecac04cd.png)

[2022-09-20 12:59] tinnytintin10 commented on #141072
Make the width of the pass and fail tags consistent:

![Screen Shot 2022-09-20 at 05 57 23](https://user-images.githubusercontent.com/53792284/191264065-8911a1f3-a4fb-4aca-af25-c08385ab5269.png)

[2022-09-20 12:59] tinnytintin10 commented on #141072
Highlight selected finding when findings flyout is open similar to how we highlight benchmark rules when rules flyout is open:

![Screen Shot 2022-09-20 at 05 57 59](https://user-images.githubusercontent.com/53792284/191264164-e35a9516-ba86-4d24-a3f3-0ec17b0db029.png)

[2022-09-20 13:04] kibanamachine commented on #141002
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21057#01835acf-850b-470b-96d8-a9635a245395)

[2022-09-20 13:04] kibanamachine commented on #140547
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21057#01835acf-84f1-4268-8483-bf274d479458)

[2022-09-20 13:09] JordanSh commented on #141072
1. clicking outside of flyout to close

2. rules flyout is expanded by clicking its name while in the other tables there's an expand button

3. in the benchmark page, clicking anywhere on the row opens the rules table, its not very clear that clicking the agent policy name links to the fleet agent page, maybe add an underline on hover

4. the back to benchmark button has a big invisible clickable

[2022-09-20 13:09] #136500 closed

[2022-09-20 13:10] MiriamAparicio commented on #136500
Closed here https://github.com/elastic/kibana/issues/136500

[2022-09-20 13:10] MiriamAparicio commented on #127939
Closed here https://github.com/elastic/kibana/issues/136500

[2022-09-20 13:10] #127939 closed

[2022-09-20 13:16] kibanamachine commented on #141002
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21057#01835b00-13f7-4eb5-8251-5b5f10ba06fd)

[2022-09-20 13:23] #138925 closed

[2022-09-20 13:32] #134160 closed

[2022-09-20 13:34] kdelemme opened #141082 "[Actionable Observability] Handle transient errors with esClient"
## 📝 Summary

Part of #137323

Handle transient error with esClient api calls

## ✅ Acceptance Criteria

- [ ] transient error are retried up to a limit

[2022-09-20 13:35] elasticmachine commented on #141082
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-20 13:37] eyalkraft commented on #141072
@tinnytintin10 @orouz If AWS cred changes require integration changes it's probably safer to leave them to the next release.

[2022-09-20 13:53] elasticmachine commented on #140793
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-20 13:54] ThomThomson commented on #140793
I was able to reproduce this with Saved Searches with and without data! It seems to me like there are some elements in the saved search panel which block mobile scrolling. This isn't a problem with Lens or Visualize.

I have assigned this to the Discover team as well, for help diagnosing, as it's most likely a problem in their embeddable.

[2022-09-20 13:58] sethmlarson commented on #55447
Thanks for pinging me on this @pgayvallet, our team currently doesn't have a full-time JavaScript maintainer so I've opened an accompanying task on the client to be picked up later: https://github.com/elastic/elasticsearch-js/issues/1761

[2022-09-20 13:58] kertal opened #141090 "[Discover] Track ad hoc data view usage"
Borrowed idea from #141030
We should track the usage of ad hoc data views in Discover by adding a UI counter.

[2022-09-20 13:59] elasticmachine commented on #141090
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-20 14:12] kevinlog commented on #141036
@karanbirsingh-qasource I think this may be related to this open issue: https://github.com/elastic/fleet-server/issues/1877

There is a known bug with the Agent installing Endpoint correctly.  We will keep this open until we can verify that Endpoint is installed correctly

[2022-09-20 14:14] michaelolo24 commented on #141026
@andrew-goldstein can you take a look at this when you have a sec? Sorry, missed this view in my review!!

[2022-09-20 14:14] kibanamachine opened #141093 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list·ts - Actions and Triggers app rules list should re-enable single alert"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21071#01835b20-cf72-4801-a8fa-140dc7967eda)

[2022-09-20 14:15] elasticmachine commented on #141093
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 14:18] ofiriro3 commented on #140187
It appears that the root cause of this problem was that the latest index used the same ingest pipeline as the findings index.
I created a new ingest pipeline for the latest index (as @CohenIdo suggested). It seems to solve it.
I am now verifying it

[2022-09-20 14:23] kibanamachine commented on #139527
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21072#01835b24-d36f-49c1-aa32-e45749508bcd)

[2022-09-20 14:24] #137081 closed

[2022-09-20 14:28] #140515 closed

[2022-09-20 14:30] #141021 closed

[2022-09-20 14:31] #137988 closed

[2022-09-20 14:34] #140422 closed

[2022-09-20 14:45] smith commented on #136047
At this time putting the uptime back on the table in APM is not a huge priority for APM. Removed from "Refining" on our board and added `needs-refinement` label.

We probably want to see if this can be handled closer to ingest time, since calculating these on the client could be problematic.

The next best times to revisit this might be when we're adding container-oriented views to host observabil

[2022-09-20 14:46] #140950 closed

[2022-09-20 14:48] orouz commented on #141072
PR includes only changes to findings table.
- https://github.com/elastic/kibana/pull/141106

i'll leave this ticket open so we can track the other issues

[2022-09-20 14:51] #30503 closed

[2022-09-20 14:51] bhavyarm commented on #141004
Ok that makes sense. Closing it. Thanks!

[2022-09-20 14:55] #141053 closed

[2022-09-20 14:57] elasticmachine commented on #141063
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 14:57] elasticmachine commented on #141063
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 14:58] elasticmachine commented on #141064
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 14:58] elasticmachine commented on #141064
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-20 14:59] tylersmalley commented on #3354
This issue is stale and is not consistent with how we're currently discussing multi-tenenacy.

[2022-09-20 14:59] #3354 closed

[2022-09-20 14:59] AndersonQ commented on #141036
It might be indeed caused by the same thing as https://github.com/elastic/fleet-server/issues/1877. Do you have the fleet-server logs as well a diagnostics from the broken agent?

[2022-09-20 15:03] eyalkraft commented on #140025
@kfirpeled @orouz
Let's open a follow up issue to fix this problem from the root and not using regex which is pretty hacky and fragile

[2022-09-20 15:09] kpatticha opened #141110 "[APM] Advanced setting for enabling service metrics"
related: https://github.com/elastic/kibana/pull/140868
referenece: https://github.com/elastic/cloud/pull/103956/files#diff-f0aeec3f6690007778bf8f52e5a50fab1fb39be14cd4afe7d81f475d39c17c5d

[2022-09-20 15:09] elasticmachine commented on #141110
Pinging @elastic/apm-ui (Team:APM)

[2022-09-20 15:10] kqualters-elastic opened #141111 "[Security Solution] The copy action for values of a date type should be formatted in a way that is compliant with the in app date picker."
**Kibana version:**
7.10+

**Describe the bug:**
Currently, when a user selects a cell in a table in the security solution app that is of a date mapping type, the raw, non timezone or format aware value is used. If a user goes to paste this value into the date picker found throughout the app, this results in an error as the format is not compatible, and a user must mentally adjust for timezones to

[2022-09-20 15:14] #138789 closed

[2022-09-20 15:14] #138921 closed

[2022-09-20 15:16] kertal commented on #140793
Confirmed, this is pretty odd! we will take care of it

[2022-09-20 15:21] michaelolo24 commented on #140054
Thanks for the writeup @Omolola-Akinleye ! This is super helpful. We've run into similar issues with analyzer and had to ignore the timerange in scenarios where we don't have data. We may have to do similarly here.

[2022-09-20 15:21] jcger opened #141119 "[RAM] Alerts Table - Remove visibility toggle in columns toolbar"
In order to copy t_grid functionality we need to remove the column hidden/shown toggles that show up in a tooltip when clicking on toolbar's `columns` button.

This should be easily done by updating https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/toolbar_visibility.tsx#L56 to be
[code]

We think that this issue might b

[2022-09-20 15:21] elasticmachine commented on #141119
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 15:23] michaelolo24 commented on #140247
@deepikakeshav-qasource - Can you please confirm this issue has been resolved in the first BC?

[2022-09-20 15:23] JordanSh commented on #141072
- https://github.com/elastic/kibana/pull/141100
- https://github.com/elastic/kibana/pull/141094
- https://github.com/elastic/kibana/pull/141118

[2022-09-20 15:25] kibanamachine commented on #139626
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21082#01835b54-7e68-442d-8f15-ca401bc7d4e2)

[2022-09-20 15:25] #138140 closed

[2022-09-20 15:28] jonathan-buttner commented on #141063
Thanks for reporting this @karanbirsingh-qasource. This is expected behavior as the profile of a user does not get deleted or disabled when the user itself is deleted. This is a known issue but I'll forward it to the security team.

[2022-09-20 15:29] jonathan-buttner commented on #141063
@azasypkin do we already have an issue tracking the enhancement of disabling a profile once a user is deleted? If so, I think we can delete this one.

[2022-09-20 15:29] kibanamachine commented on #141093
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21083#01835b63-a059-46c7-a304-04ecfa4412eb)

[2022-09-20 15:30] JordanSh opened #141121 "[Cloud Posture] general UI improvements"
changing group by selector placement to better utilize screen space
- https://github.com/elastic/kibana/pull/141094

On the benchmark page, clicking anywhere on the row opens the rules table, its not very clear that clicking the agent policy name links to the fleet agent page
- https://github.com/elastic/kibana/pull/141118

the back to benchmark button has a big invisible clickable area, I've clic

[2022-09-20 15:30] elasticmachine commented on #141121
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-20 15:31] #61285 closed

[2022-09-20 15:37] #140848 closed

[2022-09-20 15:42] dgieselaar commented on #141110
why is this not a kibana advanced setting btw? (I think `xpack.apm.searchAggregatedTransactions` comes from a time where we were not really using advanced settings)

[2022-09-20 15:43] dandreaj opened #141124 "[Platform Onboarding] Elastic Cloud Migration Assistant info page"
**Describe the feature:**
As a pre-cursor to a more wholistic migration assistant, we want to provide a landing page for users to learn more about how to migrate their on premise indices to a cloud deployment.

[Designs](https://www.figma.com/file/jjyKXTyEWllFZrfl18n552/ECMA-Concept-Explorations?node-id=1016%3A113833)

**Describe a specific use case for the feature:**

As an **on premise** user, w

[2022-09-20 15:43] elasticmachine commented on #141124
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-20 15:44] drewdaemon opened #141125 "[Lens] standardize references between columns"
**Background**
Today, referenced columns in the indexpattern datasource are always intermediary columns that are used "under the hood." If we conceptualize the columns as a graph with the columns being the nodes and the references being the edges, they form a series of DAG trees, the top level columns that are directly used in the visualization being the roots.

No references exist between trees e

[2022-09-20 15:44] elasticmachine commented on #141125
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-20 15:45] nchaulet commented on #135194
Just created the issue here https://github.com/elastic/kibana/issues/141126

[2022-09-20 15:45] jbudz commented on #139626
/skip

[2022-09-20 15:46] kibanamachine commented on #139626
Skipped

main: 3b74f5cc1885a64d2c88895be9f64cff669f75f0

[2022-09-20 15:51] alisonelizabeth opened #141129 "[Guided onboarding] Setup guide button show/hide behavior"
We should implement the following logic to show or hide the "Setup guide" button in the header:
- There is a timeout period that is considered "active" onboarding period. For 8.6 the period is 30 days is hard coded in the plugin. We can make this period configurable in future releases.
- During the "active" onboarding period, the header button is displayed
  - if the guide is active and it opens t

[2022-09-20 15:51] elasticmachine commented on #141129
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-20 15:55] jbudz commented on #141093
/skip

[2022-09-20 15:56] kibanamachine commented on #141093
Skipped

main: 3e0afc06513d835e5bf740518213c9d3796684cb

[2022-09-20 15:57] kdelemme commented on #140619
Fixed with https://github.com/elastic/kibana/pull/140760

[2022-09-20 15:57] #140619 closed

[2022-09-20 16:04] yctercero commented on #110153
This would be the RAC team now - @elastic/response-ops

[2022-09-20 16:15] jbudz opened #141134 "Failing ES Promotion: X-Pack API Integration Tests - x-pack/test/api_integration/apis/management/index_lifecycle_management/nodes.js"
X-Pack API Integration Tests
x-pack/test/api_integration/apis/management/index_lifecycle_management/nodes.js
apis management index lifecycle management nodes list should return the list of ES node for each custom attributes

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

* [ES snapshot](https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/bui

[2022-09-20 16:15] elasticmachine commented on #141134
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-20 16:19] jbudz commented on #141134
Skipped

main: 5b8af091b426a8c39f85546fbaf7b2f01d46eb40

[2022-09-20 16:25] TinaHeiligers opened #141136 "Reduce performance impact of deleting legacy url aliases"
With the addition of a bulk delete API, we run the risk of performance degradation when objects being deleted have many legacy URL aliases.

The API that handles legacy URL alias cleanup after a write operation uses an `updateByQuery` with a simple script to delete one alias at a time.

For the API to handle many objects (a pseudo-bulk operation), the script would need to be adapted to handle diff

[2022-09-20 16:29] jbudz commented on #115307
Skipped

main: e46863227f09cbf336d0d453dfe6718c6b7d0952

[2022-09-20 16:30] #138712 closed

[2022-09-20 16:34] kpatticha commented on #141110
@dgieselaar tbh I just followed what we had `xpack.apm.searchAggregatedTransactions`. It's a small change to add it in the advanced settings. Also, it will be easier to toggle the setting.

How does a switch (on/off) sound ?

[2022-09-20 16:46] #140201 closed

[2022-09-20 16:46] kibanamachine opened #141140 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/saved_objects_management/bulk_get·ts - Saved Objects Management _bulk_get saved objects with hidden type "before all" hook for "should return 200 for hidden types that are importableAndExportable""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/21095#01835b9b-e6a9-4f45-99d5-01814ac3dced)

[2022-09-20 16:47] nchaulet commented on #137934
<img width="1295" alt="Screen Shot 2022-09-20 at 12 47 08 PM" src="https://user-images.githubusercontent.com/1336873/191317179-4a335630-cb6c-4b68-afae-6bc2191c5833.png">

[2022-09-20 16:51] elasticmachine commented on #141136
Pinging @elastic/kibana-core (Team:Core)

[2022-09-20 16:51] kibanamachine commented on #131346
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21098#01835ba9-980b-497d-b9fa-0e2f4dadd8ad)

[2022-09-20 16:52] elasticmachine commented on #141136
Pinging @elastic/kibana-security (Team:Security)

[2022-09-20 16:52] nreese opened #141142 "[Maps] replace data view select with UI data view select component"
Lens and Discover use a shared data view select component that allows for
* adding runtime fields to data view
* creating new data views
* creating adhoc data views.

Maps should replace its existing data view select with this component.

<img width="300" alt="Screen Shot 2022-09-20 at 10 52 15 AM" src="https://user-images.githubusercontent.com/373691/191318198-443bd73e-4bdf-4cad-bcef-451332bf388c

[2022-09-20 16:52] elasticmachine commented on #141142
Pinging @elastic/kibana-gis (Team:Geo)

[2022-09-20 16:53] kpollich commented on #137934
Think this was an intermittent networking issue based on a slack thread from earlier today. Going to close until another failure.

[2022-09-20 17:10] TinaHeiligers opened #141143 "Add docs for `bulkDelete` saved objects repository API"
As per the title, the `bulkDelete` API needs public documentation describing its general behavior and how that differs from the behavior of deleting a single document.

The [PR description](https://github.com/elastic/kibana/pull/139680#issue-1354992476) can serve as a reference.

[2022-09-20 17:10] elasticmachine commented on #141143
Pinging @elastic/kibana-core (Team:Core)

[2022-09-20 17:13] TinaHeiligers commented on #141143
We should include a warning about deleting objects with many legacy URL aliases in one bulk operation.

[2022-09-20 17:19] nchaulet commented on #134378
I found a way to reproduce that, if you use a non superuser with just the fleet roles
[code]

Then navigate to an installed integration: No assets

![Image](https://user-images.githubusercontent.com/1336873/191323199-dc5239ed-9688-4dc6-904a-6681e65b511a.png)
![Image](https://user-images.githubusercontent.com/1336873/191323198-caccd21b-97d9-4d8e-b344-e21bb7c75458.png)

[2022-09-20 17:22] TinaHeiligers commented on #141136
We should also consider making [`MAX_CONCURRENT_ALIAS_DELETIONS`](https://github.com/elastic/kibana/blob/main/packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.ts#L144) configurable at either the global level or per API that implements the limit.

[2022-09-20 17:30] Heenawter opened #141144 "[Dashboard] [Controls] Change default options list text to `"Any"`"
**Describe the feature:**
The old default text for options list is `"Select..."` which doesn't give very much context - instead, we should make the default text `"Any"` to communicate that, when no selections are made, then **any** value for the field is allowed.

![image](https://user-images.githubusercontent.com/8698078/191324908-3922028b-e8c6-4378-99f6-6614e31a3931.png)

[2022-09-20 17:30] elasticmachine commented on #141144
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-20 17:35] ymao1 opened #141146 "[Response Ops][Alerting] Research best practices for bootstrapping alerts as data indices"
The alerting framework plans to [start persisting alerts-as-data](https://github.com/elastic/kibana/issues/140403) at a framework level using a single `.alerts-default` index. This index will need to be created on startup with an ILM policy, component templates and aliases. We will also need the ability to update the index mappings with each version. We are currently doing similar things with the

[2022-09-20 17:35] elasticmachine commented on #141146
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-20 18:11] #140908 closed

[2022-09-20 18:15] jbudz commented on #140241
/skip

[2022-09-20 18:16] kibanamachine commented on #140241
Skipped

main: 6927902014bb423581a9a9539b97adc9c24be959

[2022-09-20 18:40] #137641 closed

[2022-09-20 18:43] kdelemme opened #141154 "[Actionable Observability] Fix SLO ingest pipeline name"
## 📝 Summary

Part of #137323

The SLO ingest pipeline is currently not using the kibana space in its name. It results in one ingest pipeline being created for all spaces, and therefore only one index is successfully roll over monthly

## ✅ Acceptance Criteria

- [ ] One ingest pipeline is created per space.
- [ ] Transform created in specific space, uses the ingest pipeline of that space

[2022-09-20 18:43] elasticmachine commented on #141154
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-20 18:46] kdelemme opened #141156 "[Actionable observability] Remove optional destination index"
## 📝 Summary

Part of #137323

The optional destination index settings might have been introduced before we have validated the need from a user perspective. Until we have the need to support such feature, we'll simplify the code to use our internal indices.

## ✅ Acceptance Criteria

- [ ] the optional settings from the rest api is removed
- [ ] the settings from the model is removed

[2022-09-20 18:46] elasticmachine commented on #141156
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-20 18:47] stephmilovic commented on #140581
Yes you can close this. Here is the PR https://github.com/elastic/kibana/pull/140377

[2022-09-20 18:48] #141156 closed

[2022-09-20 18:48] stephmilovic commented on #140351
@karanverma-qasource Please confirm fix. Here is the PR https://github.com/elastic/kibana/pull/140377

[2022-09-20 18:52] jbudz commented on #114165
These docs are updated now - elasticsearch will generate an enrollment token that can be pasted in kibana in browser.  This will update kibana.yml with the expected security on by default settings.

[2022-09-20 18:52] #114165 closed

[2022-09-20 18:53] vigneshshanmugam commented on #140517
Closing as this is Done.

[2022-09-20 18:53] #140517 closed

[2022-09-20 18:56] jbudz commented on #119064
We've removed support for native Windows development.

[2022-09-20 18:56] #119064 closed

[2022-09-20 18:57] #121057 closed

[2022-09-20 18:59] kibanamachine commented on #140907
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21117#01835c1f-2090-4cb4-a176-b9055f269394)

[2022-09-20 18:59] eddieturizo opened #141158 "[Maps] Go To - lat/long values outside expected range cause blank Maps app"
**Kibana version:** 8.4.0

**Elasticsearch version:** 8.4.0

**Server OS version:** macOS Monterey 12.6

**Browser version:** Google Chrome

**Browser OS version:** 105.0.5195.125 (Official Build) (arm64)

**Original install method (e.g. download page, yum, from source, etc.):** RPM

**Describe the bug:** Entering latitude and/or longitude, using degrees decimal, values outside the outside the exp

[2022-09-20 19:03] jbudz commented on #140907
Skipped

main: 7d21c5f10b58210e0cb63dad5b59d44045b74e3e

[2022-09-20 19:04] stephmilovic commented on #128054
Can we close this issue? It seems like Andrew made some valid points, no one has disagreed.

[2022-09-20 19:07] #129047 closed

[2022-09-20 19:07] #133508 closed

[2022-09-20 19:08] #135012 closed

[2022-09-20 19:23] lukeelmers commented on #140933
Totally agree having this data would be helpful, but curious how if you see this or #140932 relating to the proposal for a [browser logging service](https://github.com/elastic/kibana/issues/33796)?

For errors on the server, we don't really need EBT because we already have our server logs which can be analyzed at a large scale via the cloud overview cluster. If we ended up building a browser loggi

[2022-09-20 19:26] lukeelmers commented on #140926
I totally see the benefit of capturing the viewport width, but I agree with Pierre's sentiment about resize events -- do we have a real need or use case for emitting events on every viewport resize?

[2022-09-20 19:28] fbaligand commented on #26850
Personally, I would love that this feature would be implemented!

[2022-09-20 19:31] jbudz commented on #139580
I think we can close this now, we narrowed it down to one test suite and skipped it.  Tests are running on the latest chrome version again.

[2022-09-20 19:31] #139580 closed

[2022-09-20 19:33] jbudz commented on #126772
We're shutting this service down - in practice we're not seeing any traffic.

[2022-09-20 19:33] #126772 closed

[2022-09-20 19:36] jbudz commented on #120514
Duplicate of #139265

[2022-09-20 19:36] #120514 closed

[2022-09-20 19:37] kibanamachine opened #141160 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> downsample interval validation should validate an interval is greater or multiple than previous phase interval"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21122#01835c3e-5fdd-4b9d-9176-32e77c914f65)

[2022-09-20 19:38] elasticmachine commented on #141160
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-20 19:40] jbudz commented on #107910
Resolved by https://github.com/elastic/kibana/pull/140285

[2022-09-20 19:40] #107910 closed

[2022-09-20 19:41] #76565 closed

[2022-09-20 19:42] lukeelmers commented on #57629
These were my thoughts exactly. Knowing how large of an effort this would be, it doesn't seem worth the investment to try to fix it before we have proper user settings, as (I'd imagine) that's how we'd want the user experience to look moving forward.

[2022-09-20 19:44] jbudz commented on #61234
I think we can close the Windows side of this - we don't support 8.1 and it will be EOL in January.  \@HistoryGift we can assist further if you're still having issues, bu lets move it to a separate issue.

[2022-09-20 19:56] LeeDr commented on #136856
debug log from last failure;

[code]

[2022-09-20 20:06] #141154 closed

[2022-09-20 20:21] rylnd opened #141162 "[Security Solution][Exceptions] Exception Lists table pagination can be hidden behind timeline"
**Kibana version:**
8.4.1

**Describe the bug:**
If the user has enough Exception Lists, the table displaying them can be partially hidden by adjacent UI elements, notably the timeline footer.

**Steps to reproduce:**
1. Create a number of Exception Lists
2. Navigate to the Exception Lists page (Security -> Manage -> Exception Lists)
3. Observe that the pagination links are

**Expected behavior:**

[2022-09-20 20:21] elasticmachine commented on #141162
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-20 20:22] kibanamachine commented on #141052
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21127#01835c6d-23ba-4731-876c-66a03986dc06)

[2022-09-20 20:30] ThomThomson opened #141163 "[Canvas] Investigate 8.4.1 Data Fetch Issues"
**Kibana version:** 8.4.1

**Describe the bug:**

Canvas seems to be having major problems correctly selecting data in 8.4.1

It could potentially be an issue related to the application of a time range filter.

As we learn more, we will update this issue.

[2022-09-20 20:30] elasticmachine commented on #141163
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-20 20:32] rylnd commented on #141162
Note: it looks like the `SecuritySolutionPageWrapper` component adds `padding-bottom` to address this; I suspect we just need to wrap this page accordingly (and also see if any others are missing).

[2022-09-20 20:44] kevinlog commented on #134321
Hey all, now that https://github.com/elastic/kibana/pull/140046 is merged, I wanted to circle back on this conversation.

In the Endpoint package, we have [a PR to update our transform schema](https://github.com/elastic/endpoint-package/pull/270).  **My question for the team is, are we comfortable putting a package into production that uses the new transform schema in the `8.5` release?**

I teste

[2022-09-20 20:52] rshen91 opened #141166 "[Meta][Discuss] Deprecation of Markdown Components"
### Summary

`Markdown`, `MarkdownSimple`, `Markdown-it` etc. are used in various parts of Kibana. These implementations of Markdown will be **deprecated** and condensed into one implementation for a future Shared UX component. Please see https://github.com/elastic/kibana/issues/140207 for more information. This component will use the [`EuiMarkdownFormat` component](https://eui.elastic.co/#/editor

[2022-09-20 20:53] kibanamachine commented on #141160
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21130#01835c87-5503-49f5-9c02-01805ab89c27)

[2022-09-20 20:55] jbudz commented on #141160
Skipped

main: e2ee8558a0bb9a9619018f07cbe0a3b3740190d5

[2022-09-20 21:08] #134378 closed

[2022-09-20 21:16] 1Copenut commented on #135760
Excellent discussion, and I feel we're getting closer to a workable spec with each comment.

In the ideal scenario there would be one ID value that all teams point their skip link `href` to. We could then leave it to teams to define where in the source order that ID lives. If our ID value was "skip-target" then one team could place it on a first child DIV inside the main container, another team co

[2022-09-20 21:23] #138543 closed

[2022-09-20 23:48] MichalMarchewka opened #141176 "[Security Solution]"
Bug in detection rule action UI. When using connector to send entire signal content outside of Elasticsearch, e.g. by Webhook, use of placeholder **{{#context.alerts}}{{{.}}}{{/context.alerts}}** shows "Bad string" error- but the action still can be saved and sends entire signal content as json object, as expected

**Kibana/Elasticsearch Stack version:** 8.4.1

**Server OS version:** Elastic Cloud

[2022-09-20 23:48] elasticmachine commented on #141176
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 00:17] #138420 closed

[2022-09-21 00:23] #140543 closed

[2022-09-21 00:39] stephmilovic commented on #140705
yes that is what I'm seeing from the screenshots. Fair to close?

[2022-09-21 01:40] peluja1012 commented on #141162
PR to fix this in 8.4.3 courtesy of @kqualters-elastic. Thanks! https://github.com/elastic/kibana/pull/141178

[2022-09-21 03:39] karanbirsingh-qasource commented on #140581
thanks @stephmilovic closing in the context with shared pr [#140377](https://github.com/elastic/kibana/pull/140377)

[2022-09-21 03:39] #140581 closed

[2022-09-21 03:53] beercialfo commented on #56403
Thank you @yevgenytrcloudzone. FYI In Standard plan there is a way to avoid creating new alert for recovered one using filters.

[2022-09-21 04:48] samratbhadra-qasource commented on #141062
Hi @cnasikas

Please find below the information of username and full_name added for each user below:

User 1: (Default cloud user)
[code]

User 2: (Custom user)
[code]

Please let us know if anything else is required from our end.

Thanks!

[2022-09-21 05:16] elasticmachine commented on #141056
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-21 05:17] MadameSheema commented on #140705
Yup, thanks @stephmilovic !!

[2022-09-21 05:17] #140705 closed

[2022-09-21 05:26] elasticmachine commented on #141050
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-21 06:03] colin-stubbs opened #166921 "[Fleet] Integrations API endpoint /api/fleet/epm/packages returns different data randomly"
The Fleet API endpoint for integrations randomly returns different data regarding available integrations.

No apparent cause of even pattern is obvious.

URI example: /api/fleet/epm/packages?excludeInstallStatus=false

Response examples isolated to the 1password integration simply for sanity.

1password is installed on this deployment.

This request confirms it, 1.6.0 is available and we have it i

[2022-09-21 06:32] arvindersingh-qasource opened #141182 "[Security Solution] `Inputs` are not visible under API Reference tab for `Endpoint and Cloud Security` integration."
**Describe the bug**
`Inputs` are not visible under API Reference tab for `Endpoint and Cloud Security` integration.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.

**Steps to Reproduce**
1. Navigate to ```Integrations``` -> ```Elastic Defend```.
2. Click on `API Reference` tab.
3. Observe that `Inputs` are no

[2022-09-21 06:32] elasticmachine commented on #141182
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-21 06:32] elasticmachine commented on #141182
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 06:32] arvindersingh-qasource commented on #141182
@muskangulati-qasource Please review this bug.

Thanks.

[2022-09-21 06:34] simranvaseer-qasource opened #141183 "[Fleet]: Lower version Integration is not upgraded through Preview API request."
**Kibana version:**  8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Add lower version integration in the policy 'say Apache v0.3.3.
4. Navigate to **Upgrade Integr

[2022-09-21 06:34] elasticmachine commented on #141183
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 06:35] muskangulati-qasource commented on #141182
Reviewed & assigned to @kevinlog

[2022-09-21 06:36] deepikakeshav-qasource commented on #141064
Hi @jonathan-buttner ,

Thank you for sharing the details.

We are able to see the email id after login to custom user.

![image](https://user-images.githubusercontent.com/61860752/191431668-8d2b3857-c2d8-45b3-abdf-21b9c25aac1c.png)

Hence, We are closing this issue!!

Thank you!!

[2022-09-21 06:36] #141064 closed

[2022-09-21 06:39] karanbirsingh-qasource commented on #141036
Hi @kevinlog  and @AndersonQ thanks for looking into the issue.

we have check the endpoint installation on fresh build and observed that endpoint got successfully installed, changes in policy got successfully applied and alerts are also getting generated. so closing this issue .

![image](https://user-images.githubusercontent.com/59917825/191415689-fcfcf445-0e47-48a8-b5c1-aaf21e6b1159.png)

![ima

[2022-09-21 06:39] #141036 closed

[2022-09-21 06:44] amolnater-qasource opened #141184 "[Fleet]: Hosted agents count is included under Agent activity when everything on all pages is selected for assigning new policy."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56410
COMMIT: 189196181c975b620ab18ea9d7662aa38d0e9294

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. 10k agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Select all agents and select everything o

[2022-09-21 06:44] elasticmachine commented on #141184
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 06:44] amolnater-qasource commented on #141184
@manishgupta-qasource Please review.

[2022-09-21 06:51] kpatticha opened #141185 "[APM] Service metrics - after merge improvements"
I received some feedback after merging the PR and some nits before. Gathering all of them in this ticket to address them

changes:

1. [ ] Rename helper functions according to the outcome of the discussion we'll have below
2. [x] use `_doc_count` instead of value count sub aggs - https://github.com/elastic/kibana/pull/141210
    i.  unblocked by https://github.com/elastic/apm-server/pull/9143

[2022-09-21 06:51] elasticmachine commented on #141185
Pinging @elastic/apm-ui (Team:APM)

[2022-09-21 06:51] manishgupta-qasource commented on #141184
Secondary review for this ticket is Done

[2022-09-21 06:56] juliaElastic commented on #139704
Workaround that was working for a customer: https://github.com/elastic/sdh-beats/issues/2529#issuecomment-1252546766

[2022-09-21 07:21] dikshachauhan-qasource commented on #141183
Secondary Review is done

[2022-09-21 07:24] amolnater-qasource opened #141186 "[Fleet]: Incorrect description as per actual working available under Agent activity."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56489
COMMIT: ac5064b771f6edc2a2ea71da9f68e1afcd08a539

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Click Agent activity observe text:
`Activity feed will appear here as agents

[2022-09-21 07:24] elasticmachine commented on #141186
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 07:24] amolnater-qasource commented on #141186
@manishgupta-qasource Please review.

[2022-09-21 07:32] yevgenytrcloudzone commented on #56403
This is not related to the subject, so please let's just stop here.
When you an email from Kibana alerts, there is no correlation ID that can point when a certain alert reached one of it's states and therefore every email action will be considered as a new alert.

[2022-09-21 07:34] jcger opened #141187 "[RAM] Field Browser type"
This issue is a follow up of a couple of comments that came up while implementing the Fields feature in the toolbar of the Alerts Table

https://github.com/elastic/kibana/pull/140516#discussion_r975000175
https://github.com/elastic/kibana/pull/140516#discussion_r975007004

We would like to improve the [BrowserFields](https://github.com/elastic/kibana/blob/main/x-pack/plugins/rule_registry/common/t

[2022-09-21 07:34] elasticmachine commented on #141187
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-21 07:37] prachigupta-qasource commented on #141025
Hi @juliaElastic,

Thank you for the update.

We will be revalidating `View agents` functionality once it is available.

Thanks !

[2022-09-21 07:37] prachigupta-qasource commented on #140911
Hi @juliaElastic,

Thank you for looking into this.

We have re-validated this feature on latest **8.5.0 SNAPSHOT** Kibana Staging Environment and found below observations:

**Scenario 1:** **Select one agent**

- No pop is shown on 'Agent activity' link on reassigning to the new policy. **(refer Video 1)**
- `Agent activity history` pop is shown on 'Agent activity' link on upgrading lower version

[2022-09-21 07:38] prachigupta-qasource commented on #140936
Hi @juliaElastic,

Thank you for looking into this.

We will be re-validating this issue on latest Kibana version.

Thanks!

[2022-09-21 07:46] karanverma-qasource opened #141188 "[Security Solution] Response action of OS query is showing under rule creation when action frequency is set to "Perform No action""
**Describe the bug:**
Response action of OS query is showing under rule creation when action frequency is set to "Perform No action"

Build Details:
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to security-->Manage-->Rules
2. Click on create new rule.
3. Select any custom rule.
4. Enter all the fields.
5

[2022-09-21 07:46] elasticmachine commented on #141188
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 07:53] jcger opened #141189 "[RAM] Alerts Table - improve populate columns performance"
This issue is a follow up of a couple of comments that came up while implementing the Fields feature in the toolbar of the Alerts Table

https://github.com/elastic/kibana/pull/140516#discussion_r975020917
https://github.com/elastic/kibana/pull/140516#discussion_r975064776

We want to improve the algorithm to populate the data grid columns with schema property.

[2022-09-21 07:53] elasticmachine commented on #141189
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-21 07:59] #140769 closed

[2022-09-21 08:02] manishgupta-qasource commented on #141186
Secondary review for this ticket is Done

[2022-09-21 08:05] kertal commented on #141039
Closing since @dimaanj agreed by 👍

[2022-09-21 08:05] #141039 closed

[2022-09-21 08:28] joshdover commented on #139704
Have an update to share on https://github.com/apache/lucene/issues/11393. There are plans for a short-term fix which is planned for the Lucene version that Elasticsearch 8.5 will be shipping with.

[2022-09-21 08:32] karanbirsingh-qasource opened #141191 "[Security Solution]host.risk.calculated_level and user.risk.calculated_level field not showing under field modal"
**Describe the bug**
host.risk.calculated_level and user.risk.calculated_level field not showing under field modal

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate some alerts
- Navigate to Alert page
- observe 2 new fields host.risk.calculated_level and user.risk.calculated_level but same fields are not available under field modal and not present under sorting option

[2022-09-21 08:32] elasticmachine commented on #141191
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 08:36] #141121 closed

[2022-09-21 08:36] walterra opened #141192 "[ML] Explain Log Rate Spikes: Add option to view grouped analysis results."
Part of #138117.

- [x] Extend analysis API to support results grouping. (WR)
    https://github.com/elastic/kibana/pull/140683
- [x] Group results initial UI (MA)
    https://github.com/elastic/kibana/pull/140464
- [x] Grouping algorithm improvements (RW)
    https://github.com/elastic/kibana/pull/140891
    https://github.com/elastic/kibana/pull/140814
- [x] Consolidate table components (MA)

[2022-09-21 08:36] elasticmachine commented on #141192
Pinging @elastic/ml-ui (:ml)

[2022-09-21 08:39] teresaalvarezsoler commented on #141166
@rshen91 I have information about how users use Markdown in Dashboards. I would like to better understand the impact of this change and I can share a list of requirements for Dashboards. Should we schedule a call?

[2022-09-21 08:40] #141072 closed

[2022-09-21 08:47] teresaalvarezsoler commented on #141142
@nreese you mean replacing the data view selector in each of the layers?

[2022-09-21 08:49] kertal opened #141193 "Improve KQL terms query documentation"
The current way our KQL terms query documentation is written can lead to confusion:

_For text fields, this will match any value regardless of order:_

`http.response.body.content.text:quick brown fox`

It can be easily overlooked that this kind of search doesn't work for **keyword** fields. It would be helpful for users to know for which type of fields this KQL search works.

[2022-09-21 08:49] elasticmachine commented on #141193
Pinging @elastic/kibana-docs (Team:Docs)

[2022-09-21 08:50] walterra opened #141194 "[ML] AIOps Log Rate Analysis: Streaming improvements."
Follow up to #138972.

-  [x] The issue #66417 was about fixing support for streaming with Kibana's own `http.fetch`, now that it's done, we should refactor and try to make use of it instead of the plain `fetch`.
    https://github.com/elastic/kibana/pull/162335
- [x] We add the `flushFix` payload to every message of the ndjson stream. We can improve this by adding the payload periodically only if

[2022-09-21 08:50] elasticmachine commented on #141194
Pinging @elastic/ml-ui (:ml)

[2022-09-21 08:52] walterra commented on #138972
Closing this one, created a follow up issue to keep track of removing the workaround once proxies support smaller payloads: #141194.

[2022-09-21 08:52] #138972 closed

[2022-09-21 08:55] elasticmachine commented on #132126
Pinging @elastic/ml-ui (:ml)

[2022-09-21 08:55] dej611 opened #141195 "[Lens] Standard deviation issue in formula with shift operations"
**Describe the bug:**

As initially reported in #140764 but now managed to reproduce it in `main`:

<img width="1144" alt="Screenshot 2022-09-21 at 10 37 02" src="https://user-images.githubusercontent.com/924948/191459110-b727d983-fc56-4eb1-9078-4b21b3a3d274.png">

To reproduce this bug the following things should happen:
* pick a date range with no data for the initial part of the range
* use `st

[2022-09-21 08:55] elasticmachine commented on #141195
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-21 08:57] pgayvallet commented on #141166
Looking at the snippet, the exact file is `packages/kbn-dev-utils/src/plugin_list/discover_plugins.ts`, right?

In that case, this package is owned by @elastic/kibana-operations, not either of the two other teams you listed here 😄

[2022-09-21 09:06] pgayvallet commented on #135760
Yea this would be fine. I was mostly asking because of the 3 step workflow described by @constancecchen in https://github.com/elastic/kibana/issues/135760#issuecomment-1247006238 doesn't always target the element by an ID.

[2022-09-21 09:09] prachigupta-qasource opened #141196 "[Fleet]: 'Agent activity history' pop is shown above the `Add Fleet Server` link on deselecting the agents"
**Kibana version:** 8.5 Kibana Staging environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]
**Preconditions:**

- 8.5 Kibana cloud environment should be available.
- Few agents should be installed.

**Steps to reproduce:**

1. Navigate to Fleet > Agents tab
2. Select `more than one` agent.
3. Click on 'Actions' button.
4. Select assign to new policy from `Actions` dro

[2022-09-21 09:09] elasticmachine commented on #141196
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 09:11] sukhwindersingh-qasource opened #141197 "[Security Solution]Alerts are generated with Custom query "process.name:-""
**Describe the bug:**
Alerts are generated with Custom query "process.name:-"

**Build Details:**
[code]
**Preconditions**
1. Kibana should be running.
2. Elastic-agent should be installed.

**Steps to Reproduce**
1. Navigate to security in kibana.
2. Click on Rules
3. Click on create new rule and create a rule with Custom query "process.name:-"

**Actual Result**
Alerts are generated with Custom

[2022-09-21 09:11] elasticmachine commented on #141197
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 09:12] jcger commented on #133060
Fixed after closing #137988

[2022-09-21 09:17] maryam-saeidi commented on #137196
After a discussion within the team, since we don't have the active alert history in order to show the chart as it was shared in the design, we decided to only focus on showing the number of alerts and make the widget clickable and remove don't include charts for now.

Here is the new design shared by @maciejforcone:
![image](https://user-images.githubusercontent.com/12370520/191466015-f7d681b9-95c

[2022-09-21 09:18] azasypkin commented on #140462
Okay, I debugged the issue yesterday/today and see that when security is disabled in Elasticsearch, the `elasticsearch.username/elasticsearch.password` aren't attached only to those requests to `.kibana` index that are made with the Saved Objects client scoped to "fake" requests (e.g [a task in Alerting to invalidate pending API keys](https://github.com/elastic/kibana/blob/b6fce4df84c2bc64f4be5f4e

[2022-09-21 09:18] dej611 opened #141199 "[Lens][Inspector] When using query annotations data and requests have different orders"
**Describe the feature:**

When a Lens chart is using a query annotation layer, the annotation request is performed before the one from the data. On the other hand the annotation table is shown after the data one in the same inspector.

It would be nice to either be consistent with the order in both panels, or give a better name to the annotation request/table if possible.

![annotations_inspector

[2022-09-21 09:18] elasticmachine commented on #141199
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-21 09:18] deepikakeshav-qasource opened #141200 "[Security Solution] Unable to save rule while user duplicating the rule"
**Describe the bug**
Unable to save rule while user duplicating the rule

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to rule page > Security
2. Create a new rule say new term rule
3. Click on duplicate the new term rule
4. Now click on save button
5. Observe that error is displayed

**Actual Result**
Unable to save rule while user dupl

[2022-09-21 09:18] elasticmachine commented on #141200
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 09:19] dikshachauhan-qasource commented on #141196
Secondary review is done

[2022-09-21 09:21] MadameSheema commented on #141200
@deepikakeshav-qasource can you please confirm if this is happening just with new terms rule? can you please try to modify a different step and see if the same error is displayed? Thanks!

[2022-09-21 09:21] juliaElastic commented on #139704
@joshdover I am wondering if we should revert the fix added for `upgraded_at` field, because it still has an outstanding [issue](https://github.com/elastic/kibana/issues/140290), and it doesn't fully solve the problem.

[2022-09-21 09:25] #134873 closed

[2022-09-21 09:29] stratoula commented on #141166
A note on the ownerships noted above:
The vis_type_markdown is owned by the @elastic/kibana-presentation team and not from the @elastic/kibana-vis-editors team :)

Also I don't see this on the list but Markdown from react-plugin is used from vis_types_timeseries plugin too.

[2022-09-21 09:31] pgayvallet commented on #140462
We do have a distinction between 'fake' and 'real' requests regarding the headers we send with a scoped ES client:

https://github.com/elastic/kibana/blob/a77f8ff052c874889fa43e387694f82f1634430c/packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/cluster_client.ts#L120-L132

However, any ES configuration shouldn't impact them: we're *never* sending what we call the auth head

[2022-09-21 09:32] karanverma-qasource commented on #140351
Hello @stephmilovic ,

We have validated above issue on 8.5 mains and it's working fine. 🟢

**Build Details:**
[code]
**Screen Shots:**

![Annotation 2022-09-21 125946](https://user-images.githubusercontent.com/91867110/191469594-95b24ea2-24f2-401a-97c7-df71d00bc88f.jpg)

![Annotation 2022-09-21 150441](https://user-images.githubusercontent.com/91867110/191469633-0463df35-4433-4afa-b7d8-acf2a3f861

[2022-09-21 09:37] pgayvallet commented on #140933
++ for focusing on developing the client-side logging service and then collecting such errors from here (Also I'm not sure there's a way to hook into `console.error` usages that doesn't imply ugly monkey-patching?)

[2022-09-21 09:41] jcger commented on #135101
Fixed after closing https://github.com/elastic/kibana/issues/137988

[2022-09-21 09:41] #135101 closed

[2022-09-21 09:42] flash1293 commented on #141199
If possible I would like to fix this by naming the request and table so it's clear it's about the annotations.

[2022-09-21 09:51] flash1293 commented on #141195
Great catch! This happens because it doesn't check whether the extended_stats object actually exists here: https://github.com/elastic/kibana/blob/3514f42b46e2afe976152105314a5f5e4639db7b/src/plugins/data/common/search/aggs/metrics/std_deviation.ts#L120

In case of mismatched time shift, it's possible for buckets to not have the extended_stats object at all while it exists with null values in case

[2022-09-21 09:52] deepikakeshav-qasource commented on #141200
Hi @MadameSheema ,

This issue is occurring with all rules except Custom rule.

Yes, the same error is displaying when save the rule from definition, about and schedule tab

However, When click on save button from action tab. user is able to save the rule successfully without any error.

https://user-images.githubusercontent.com/61860752/191472197-28206447-b4f5-4b01-8d3b-df23445d6990.mp4

[2022-09-21 09:52] ninoslavmiskovic opened #141203 ""Error rendering portal content" accord when using the "Setting": Auto-apply visualization changes"
Kibana version: Production 8.5

Browser: Chrome Version 105.0.5195.125

When setting the "Setting": Auto-apply visualization changes in Lens and using the "Apply changes" after altering a chart a couple of times, then I suddenly got this error: "Error rendering portal content"

OS: macOS Montery
![Skærmbillede 2022-09-21 kl  11 24 58](https://user-images.githubusercontent.com/108192783/191473420-9

[2022-09-21 09:52] elasticmachine commented on #141203
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-21 10:10] benakansara commented on #139269
Updated design for alert summary in alert details page.

<img width="1148" alt="Screenshot 2022-09-21 at 12 08 10" src="https://user-images.githubusercontent.com/69037875/191477742-b549345f-e43c-4b80-9250-82f7ac3c3edc.png">

[2022-09-21 10:12] azasypkin commented on #140462
Sorry, I might have not been clear, the issue isn't about the client request authentication headers (`authHeaders`, that are rightfully absent since security is disabled), but in the headers that we provide to the internal Elasticsearch Client via `options.auth` (based on `elasticsearch.username/elasticsearch.password`).

If understand correctly, consumers cannot affect those (unless they create r

[2022-09-21 10:20] #140956 closed

[2022-09-21 10:21] cnasikas commented on #139677
Fixed by https://github.com/elastic/kibana/pull/141113

[2022-09-21 10:21] #139677 closed

[2022-09-21 10:21] #140424 closed

[2022-09-21 10:23] #114156 closed

[2022-09-21 10:23] tehilashn commented on #134808
@CohenIdo - can you please confirm it was fixed and close it?

[2022-09-21 10:30] flash1293 commented on #141203
An even easier approach for right now would be to simply close the popover on setting change - that way we can fix the root cause in a separate PR.

[2022-09-21 10:34] juliaElastic opened #141206 "[Fleet] Agent activity enhancements"
Continuation of https://github.com/elastic/kibana/issues/140267
Moved out stretch goals to this issue.

[Figma designs](https://www.figma.com/file/3HvuewyuiOMmiPRVUkcltT/Fleet-scalability?node-id=964%3A306001)

## Requirements (helps supportability):

### 1. `View agents` button that navigates to a filtered list of agents included in the selected action @criamico
- [x] Create a new API that return

[2022-09-21 10:34] elasticmachine commented on #141206
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 10:35] cnasikas commented on #139991
Fixed by https://github.com/elastic/kibana/commit/e5cc5582fa8111923a036cd289a542a96d4a47b4#diff-197554a80ce6750837b14e4a047cb5f878de323ce9dd34c30ecaca9e12373e08. I did a performance test by running `for i in {1..100}; do node x-pack/plugins/cases/public/components/edit_connector/index.test.tsx; done` without any errors.

[2022-09-21 10:35] #139991 closed

[2022-09-21 10:35] #140267 closed

[2022-09-21 10:38] afharo commented on #140933
++ to the browser logging service: I think it'll unlock this and other needs we currently have.

It will make it much easier to hook events to that (wether we decide to ship them to the telemetry services or the server, that's up to us) :)

[2022-09-21 10:38] kevinlog commented on #141182
@kpollich @jen-huang

I don't recall the API Reference tab in previous releases.  Is this something new for integrations?  Is there anything we need to provide?  Let me know if there's something I can read about it

[2022-09-21 10:41] azasypkin commented on #140898
There are two separate issues here:

1. You cannot query Kibana APIs with the PKI/client certificates currently (https://github.com/elastic/kibana/issues/93452). If you try to request Kibana APIs via cURL/HTTP client with a client certificate when PKI is enabled, you'll get `401` (not `403`). You can use username/password (`Authorization: Basic xxx`), or access tokens (`Authorization: Bearer xxx`)

[2022-09-21 10:41] #140898 closed

[2022-09-21 10:42] afharo commented on #140926
I wonder if we could leverage this info when analyzing the user funnel. i.e.: We notice folks tend to maximize their windows when they enter app X. If this is a trend, it could be that we need some sort of redesign.

Having said that, I think debouncing the event is just good enough. We want the final size, not every new size until it gets there. FWIW, debouncing will be required as well for the c

[2022-09-21 10:56] CohenIdo commented on #134808
yes:)

[2022-09-21 10:56] #134808 closed

[2022-09-21 11:22] kpollich commented on #141182
@kevinlog - Yes this is new in 8.5. @nchaulet going to assign this to you to take a look.

[2022-09-21 11:29] #140805 closed

[2022-09-21 11:29] #140984 closed

[2022-09-21 11:30] kpollich opened #141211 "[Fleet] Honor value of `source_mode` for data streams"
In https://github.com/elastic/package-spec/pull/419, we introduced the `source_mode` field for data streams, which allows packages to opt in to synthetic `_source`. Fleet also includes a UI toggle for this value for each data stream as of https://github.com/elastic/kibana/issues/140095.

Per the package spec, if the `source_mode` for a given data stream is

- `synthetic` - The UI toggle defaults t

[2022-09-21 11:30] elasticmachine commented on #141211
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 11:33] #140600 closed

[2022-09-21 11:38] cnasikas commented on #140843
Issue will be fixed the OsQuery team in this PR https://github.com/elastic/kibana/pull/141083

[2022-09-21 11:41] pgayvallet commented on #140462
Technically not exactly true. Just to sure we're all on the same page here, we're attaching them to any request using an unscoped ES client (`ClusterClient.asInternalUser` opposed to `ClusterClient.asScoped().asCurrentUser`)

However, the default implementation of the SO repository factory does scope the client to the current user:

https://github.com/elastic/kibana/blob/12466d8b17d8557ff0b561c346

[2022-09-21 11:57] pgayvallet commented on #140926
This could ihmo be detected by comparing the info of the window size sent with each event, without the need to have dedicated events for it.

But as I said, I'm fine either way, as long as we make sure to not send trillions of resize events for each resize operation.

[2022-09-21 12:00] walterra opened #141214 "[ML] Explain log rate spikes: MVP 8.6 improvements."
Follow up to #138117.

### API

- [ ] Improve error handling for indices without time fields (The UI for now protects us from hitting this error). (WR)
- [ ] Optional search queries from the query bar are now passed on to the analysis endpoint as non-optional stringified JSON. It would be good to make that query optional and be passed on as the native query object for better type/schema handling.

[2022-09-21 12:00] elasticmachine commented on #141214
Pinging @elastic/ml-ui (:ml)

[2022-09-21 12:03] pgayvallet commented on #136856
Another ES-archiver based (spencer please don't hit me) flakyness. Would be addressed by switching to the new SO import format for those suites, likely.

[2022-09-21 12:06] wurstbrotfan commented on #139327
from an Elastic user's persepective I agree that the recommended way of editing custom component templates in order to change lifecycle policy is "painful". Some integrations come with multiple data streams, thus for a new system multiple custom component templates need to be edited.

[2022-09-21 12:11] samratbhadra-qasource opened #141217 "[Security Solution]: Delete icon is not aligned with value bar while user select 'is in list' and 'is not in list' operator under Add Rule Exception flyout."
**Describe the bug:**
Delete icon is not aligned with value bar while user select 'is in list' and 'is not in list' operator under Add Rule Exception flyout.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Rules tab and click on create new rule.
2. Create Threshold rule.
3. Now under rules details page go to alerts tab.
4. Click on

[2022-09-21 12:11] elasticmachine commented on #141217
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 12:11] kpollich commented on #139404
Let's track down any external consumers of this API to be sure, but I'm in favor of removing this. We'll need to wait for the obs-robots folks to migrate off of the `/current_upgrades` API before we remove it, but we should take opportunities to remove endpoints before the API enters its GA period.

[2022-09-21 12:17] xcrzx commented on #141200
Seems like it could be related to these recent changes https://github.com/elastic/kibana/pull/133279

[2022-09-21 12:21] afharo commented on #140926
I thought about that. However, you do depend on another event being triggered, which is not ensured to happen.

[2022-09-21 12:21] pmuellr opened #141220 "[ResponseOps] global rejectUnauthorized setting not honored for email"
**Kibana version:** 7.17.5

User on 7.12.1 using the `xpack.actions.rejectUnauthorized: false` setting was using this for their email connector, as the email server's certs were custom and that's the only way such connections could be made in the 7.12 timeframe.  We later added `xpack.actions.customHostSettings` to set TLS options on a per-server basis.

When the user upgraded to 7.17.5, the user

[2022-09-21 12:21] elasticmachine commented on #141220
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-21 12:23] juliaElastic commented on #139404
@pjbertels could you move to the new `/api/fleet/agents/action_status` API instead of `/current_upgrades`?
Here is a sample response:
[code]

[2022-09-21 12:23] pmuellr commented on #141220
My suggestion would be to add some more unit tests on the config variations, to make sure we have this case covered, and hopefully see the failure.

I'm guessing this code hasn't changed significantly since we added `xpack.actions.customHostSettings`, so the problem may persist in the 8.x versions.

[2022-09-21 12:27] pmuellr commented on #141220
I'm actually kind of wondering whether we should provide warnings when customers use `xpack.actions.rejectUnauthorized` or `xpack.actions.ssl.verificationMode`, since that's almost **NEVER** the right thing to do, now that we have `xpack.actions.customHostSettings`.

Ideally I'd like to get rid of them, but they do come in handy at times.  Having some kind of warning generated when they are used s

[2022-09-21 12:30] MadameSheema commented on #141200
@xcrzx lots of thanks for the info!! which team should solve the issue?

[2022-09-21 12:32] pgayvallet commented on #140926
Like we're not going to send dozen of events per seconds :trollface:

[2022-09-21 12:41] neptunian commented on #139506
@emma-raffenne After speaking with @simianhacker it sounds like the goal is to support "Alerts in Context".  Is there a short term or current option to take a list of already filtered hosts or does it make sense to just wait until "Alerts in Context" is supported?

[2022-09-21 12:42] xcrzx commented on #141200
@tomsonpl Could you please check if the issue is related to the addition of the `responseActions` (https://github.com/elastic/kibana/pull/133279) and if your team could fix it?

[2022-09-21 12:43] alisonelizabeth opened #141223 "[Guided onboarding] Design polish"
This issue is to track any design feedback that we need to follow-up on for the guided setup component:

- [x] Currently when a step is open, the other steps are not expandable when clicked, but we would like them to be. We want the user to be able to view the details of the other steps but only be able to start the current step as that one will be the only one with the start button [PR comment](h

[2022-09-21 12:44] elasticmachine commented on #141223
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-09-21 12:44] #140816 closed

[2022-09-21 12:45] yctercero commented on #141056
This was removed in the new designs. @yiyangliu9286 - should this text be added back in?

[2022-09-21 12:49] dej611 commented on #140875
I've investigated a bit the issue and I could find a bottleneck in the generated grammar file in the `peg$parseVariable` function: it performs some regexp checks one char at the time on the formula, to determine whether there are quotes `"` or `'`. This checks are taking a very long time overall.

<img width="485" alt="Screenshot 2022-09-21 at 14 45 52" src="https://user-images.githubusercontent.c

[2022-09-21 12:50] miltonhultgren commented on #137277
**Investigation results**

- CCR read exceptions: ???
- Cluster health: ???
- CPU Usage: ???
- Disk Usage: ???
- Elasticsearch version mismatch: ???
- Kibana version mismatch: ???
- License expiration: ???
- Logstash version mismatch: ???
- Memory Usage: ???
- Missing monitoring data: ???
- Nodes changed: ???
- Shard size: ???
- Thread pool search rejections: ???
- Thread pool write rejections: ??

[2022-09-21 12:53] flash1293 commented on #140875
great find @dej611 , however even if we speed up that particular test it's still a `O(n²)` complexity, right? So while changing this would push out the limit of additions you can do in formula by a few, it would still hit that limit again fairly quickly.

[2022-09-21 12:54] jze2 opened #141225 "_size field not showing in available fields list in Kibana"
**Kibana version:**
8.4.1
**Elasticsearch version:**
8.4.1
**Server OS version:**
Ubuntu 20.04.5 LTS
**Browser version:**
Firefox 104.0
**Browser OS version:**
Ubuntu 20.04.5 LTS
**Original install method (e.g. download page, yum, from source, etc.):**
Kubernetes manifest:
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
**Describe the bug:**
When on Discover page, I do not see the

[2022-09-21 12:54] neptunian commented on #139316
@ghudgins Is it possible this could be available for us to use before the 8.6 FF? :)

[2022-09-21 13:03] tomsonpl commented on #141200
Hey, indeed it's connected, however I have no idea why, we require response_actions only for 'query' type rule. Let me quickly take a look at this. Sorry for the problem.

[2022-09-21 13:04] paul-tavares commented on #139185
I'm not sure that we are suppose to be showing the full usage of a command in the "hint" area (below the command input). Its meant to show only a hint and I think we determined that the use of `--pid` is the most common use case. Also, adding a long hint could potentially become unreadable since I think that area truncates long text and limits itself to only one line of text.

@kevinlog - am I rig

[2022-09-21 13:06] rudolf commented on #31639
Related https://github.com/elastic/elasticsearch/issues/86168

[2022-09-21 13:07] nchaulet opened #141229 "[Fleet] Document package policy API for integration with custom UI extension"
## Description

In 8.5 we introduced a new tab to document the available field to create a package policy programmatically, a simplified package policy API

<img width="400" alt="Screen Shot 2022-09-21 at 9 05 25 AM" src="https://user-images.githubusercontent.com/1336873/191511555-8e199339-1ded-4160-86ec-31377065a311.png">
<img width="400" alt="Screen Shot 2022-09-21 at 9 05 50 AM" src="https://us

[2022-09-21 13:07] elasticmachine commented on #141229
Pinging @elastic/fleet (Team:Fleet)

[2022-09-21 13:08] nchaulet commented on #141182
I am going to create a PR to hide that tab for endpoint and synthetics,

@kevinlog I am planning to send you a mail to demo what we have done for the package policy API in 8.5 and see how endpoint could benefits from that, in the mean time I created that issue https://github.com/elastic/kibana/issues/141229

[2022-09-21 13:08] bhavyarm opened #141230 "Form elements must have labels error on intervalInput on create rules page"
**Kibana version:** main

**Browser version:** chrome latest

**Browser OS version:** OS X

**Describe the bug:** Check every interval input box->intervalInput-> on create rules panel is missing label
<img width="1728" alt="Screen Shot 2022-09-21 at 9 03 48 AM" src="https://user-images.githubusercontent.com/7074629/191512057-e2de2970-6ca2-4641-b93e-7513c598cb55.png">

[2022-09-21 13:09] vinaychandrasekhar commented on #139506
Yes the Alert Summary Stats Widget is an optional companion widget to the Alerts List table widget. In views and workflows that offer "Summary" or "Overview" tabs or sections in a view that also have other more detailed tabs or sections, the recommended approach would be to place the alerts list table in the detailed tab or section, and offer users the summary widget in the overview section. Then,

[2022-09-21 13:11] elasticmachine commented on #141230
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-21 13:14] #140187 closed

[2022-09-21 13:15] ghudgins commented on #139316
we're doing planning this week but we do have this on the list for 8.6 - https://github.com/elastic/kibana/issues/139639

we'll make sure it happens as early as we can before FF

[2022-09-21 13:17] xcrzx commented on #141200
No worries, let me know if you need help with the issue, our team could also look into it!

[2022-09-21 13:18] pgayvallet commented on #140743
my initial remarks and comments (note: I did not look at @lukeelmers's reply to not be influenced)

For the initial MVP of the revamped NC, idk. For the old/initial purpose of the notification service, this was a mandatory requirement.

Now, it was not about using, per example, slack's `MPIM` (which is somehow a tight coupling between a notification and its associated action, but I'll get back on

[2022-09-21 13:19] machadoum opened #141232 "Fix Entity analytics page inconsistencies"
Origin: https://github.com/elastic/kibana/pull/140377#issuecomment-1253444490
PR: https://github.com/elastic/kibana/pull/141249

* Display a link to documentation when anomalies are uninstalled
* Display a dash instead of `0` when there are zero anomalies
* Display a dash instead of `0` when there is no risk data
* Paywall shows up and disappears while entity analytics page is loading
* Enable cal

[2022-09-21 13:28] kevinlog commented on #139185
@paul-tavares yes, I wouldn't want to make the hint text too long in this case.  However, I think it's worth keeping this enhancement open for now and getting @merilmathew and @caitlinbetz thoughts.

[2022-09-21 13:29] kevinlog commented on #141182
@nchaulet thanks for the PR!  I'll take a look at the demo and email and see what we can do to support the tab in the future.

[2022-09-21 13:32] criamico commented on #135361
Checked this bug and it seems have been solved by recent changes to the agent list page. I couldn't reproduce it locally, the pagination is now hidden when no agents are upgradeable:

![Screenshot 2022-09-21 at 15 04 14](https://user-images.githubusercontent.com/16084106/191511693-c04d1df0-e26d-4cc3-b04c-7add9fccd2df.png)

I also tested on 8.4.0 on cloud and I'm not able to reproduce there as well

[2022-09-21 13:32] #135361 closed

[2022-09-21 13:33] massifazio commented on #86190
+ 1 01033449

[2022-09-21 13:40] spalger commented on #140507
I can't imagine option 1 helping since the test is failing after 30 seconds and then accordion is still loading. Last time we talked we assumed that there was some flaw in the UI that lead to the accordion never loading in some cases, have you proved that isn't the case @maryam-saeidi?

[2022-09-21 13:53] neptunian commented on #139506
@vinaychandrasekhar Thanks.

@pmeresanu85 I don't think this is currently included in the design mockups.  We don't have tabs so it would probably make sense to have a section at the bottom, although the page is getting pretty long now.  I'll open a design issue.

[2022-09-21 13:53] tomsonpl commented on #141200
Ok I found the villain 👿  https://github.com/elastic/kibana/blob/fe6060d22acec7a4835f5352a4da598de616d4c2/x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.tsx#L79 this default empty array.
I will get it fixed by tomorrow, and will write a test for it as an apology :p would that be ok?
Good job catching it btw.

[2022-09-21 14:01] alisonelizabeth commented on #139751
Implemented via https://github.com/elastic/kibana/pull/140836

[2022-09-21 14:01] #139751 closed

[2022-09-21 14:01] alisonelizabeth commented on #138557
Implemented via https://github.com/elastic/kibana/pull/140836

[2022-09-21 14:01] #138557 closed

[2022-09-21 14:06] azasypkin commented on #140462
Ah, good to know!

Yeah, we create `scoped repository` if security isn't enabled for both fake and non-fake requests.

-----

We just discussed this over Slack with @pgayvallet and here's the TL;DR:

When Security is disabled Kibana cannot properly enforce that `.kibana` index is always being accessed on behalf of the Kibana system user (via Saved Objects client). The way `.kibana` index is access

[2022-09-21 14:09] ogupte opened #141242 "[APM] Performance impacted with large number of service groups"
In https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/service_groups/route.ts#L71-L91 it kicks off multiple requests in parallel for each service group, but we would impact performance if there are many service groups. We should look into accomplishing this with a filter aggregation to get the dynamic service group count.

This was called out in a [comment](https://github

[2022-09-21 14:10] pmeresanu85 commented on #139506
@formgeist would you be able to support us with the update of our current design to include the alert summary?

Here is the current design: https://www.figma.com/file/n9jbORnVLvRwcLwiJo0v5p/Host-Centric-Obs

[2022-09-21 14:11] formgeist commented on #139506
@pmeresanu85 Certainly!

[2022-09-21 14:22] doakalexi commented on #127634
Closing, as this may have been fixed. I can't recreate this issue.

[2022-09-21 14:22] #127634 closed

[2022-09-21 14:24] neptunian commented on #139506
@pmeresanu85 @formgeist That design was more of a potential idea that Kate and I discussed before she left.  I spoke with @katrin-freihofner recently and thought it best to go with the simpler single view for now dated 07.28.22.

[2022-09-21 14:30] droberts195 commented on #134321
@kevinlog I talked this through with @qn895 and @peteharverson.

Originally the idea was that upgrade was out of scope for the first iteration of the new transform installation mechanism.  What's happening when you are testing upgrades is that the transform and all its associated objects (index template, destination index, etc) get completely deleted, then recreated from scratch.  One thing to be

[2022-09-21 14:36] juliaElastic commented on #141186
Good point, this comes from the original design, I'll tweak the description.

[2022-09-21 14:37] neptunian opened #141245 "[Infrastructure UI] Alert Table List view to Hosts view"
Use the Alerts Table List component in the Hosts View.  Currently this isn't included in our mockups so we are waiting on some design direction (@formgeist) .  I believe we'd also need the enriched alert data (see https://github.com/elastic/kibana/issues/139506)

Blocked by: https://github.com/elastic/kibana/issues/138642
Design issue: https://github.com/elastic/observability-design/issues/248
Rel