[2020-12-17 18:45] elasticmachine commented on #32382
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #31379
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #35685
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #38277
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #41402
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #41407
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #42725
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #42728
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #42729
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #42730
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:46] cjcenizal commented on #70990
Duplicate of https://github.com/elastic/kibana/issues/80674. This has been fixed for 7.10, onwards (https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index-mgmt.html).

[2020-12-17 18:46] #70990 closed

[2020-12-17 18:48] elasticmachine commented on #44127
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-17 18:49] cjcenizal commented on #25617
Closing this as we no longer support IE11 https://www.elastic.co/support/matrix#matrix_browsers

[2020-12-17 18:49] #25617 closed

[2020-12-17 18:51] ymao1 commented on #81816
@dB2510 Yes, that's what we were thinking.

[2020-12-17 18:53] dB2510 commented on #81816
@ymao1 Any changes required in UI?

[2020-12-17 18:54] tsullivan commented on #36571
This would be an enhancement of the Dashboard app, as it is asking to change the behavior of the dashboard when embedded in an iframe.

[2020-12-17 18:55] elasticmachine commented on #41476
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 18:55] tsullivan commented on #44942
This issue was addressed by the Reporting Diagnostics tool

[2020-12-17 18:55] #44942 closed

[2020-12-17 18:57] tsullivan commented on #52759
If there are multiple instances of Kibana connected to the same queue index for Reporting, they will share jobs with each other. The configuration of the CSV max size setting may not be synchronized across the multiple instances, as that setting is administered in the kibana.yml.

Unsynchronized kibana.yml settings across multiple connected instances will cause inconsistency.

[2020-12-17 18:57] #52759 closed

[2020-12-17 18:59] ymao1 commented on #81816
@dB2510 The refresh button looks good! It uses the `EuiButtonEmpty` component and the refresh icon.

[2020-12-17 19:00] tsullivan commented on #43977
This will be addressed when CSV Export uses SearchSource on the server internally. This is a priority since it is related to supporting Runtime Fields with CSV Export: https://github.com/elastic/kibana/issues/81079

[2020-12-17 19:00] mukeshelastic commented on #85129
Telemetry on:
-    the user permissions - when users click on anomalies or categories tab for the first time, do they have required permissions to run  the job?
- lack of ML nodes - when users clicked on run job but there were no ML nodes ( Will need to figure out what is the exact error, users get? )
- the number of clusters where users see error in ML job setup e.g. index missing event.dataset o

[2020-12-17 19:02] elasticmachine commented on #86350
Pinging @elastic/kibana-core (Team:Core)

[2020-12-17 19:02] jbudz commented on #86350
skipped
main: 85e0c4764f7ce554a16fa80c56ec1d2227b9e208

[2020-12-17 19:03] elasticmachine commented on #17133
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #17184
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #18015
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #18206
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #34376
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #34377
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #34668
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:03] elasticmachine commented on #43977
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:06] tsullivan commented on #34376
This will be addressed when CSV Export uses SearchSource on the server internally. This is a priority since it is related to supporting Runtime Fields with CSV Export: https://github.com/elastic/kibana/issues/81079

[2020-12-17 19:06] elasticmachine commented on #44543
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:07] elasticmachine commented on #63639
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:08] elasticmachine commented on #64170
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:08] elasticmachine commented on #70989
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:09] tsullivan commented on #34377
This will be addressed when CSV Export uses SearchSource on the server internally. This is a priority since it is related to supporting Runtime Fields with CSV Export: https://github.com/elastic/kibana/issues/81079

[2020-12-17 19:09] elasticmachine commented on #79375
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:11] jasonrhodes opened #86354 "[Logs UI] Hide anomalies histogram until we can implement swimlane viz to accommodate both anomaly types"
As seen in https://github.com/elastic/kibana/issues/79763, the Logs UI's "Anomalies" tab has a histogram at the top of the screen that only shows Log rate anomalies. The table below has all anomalies across both types (log rate and categories). However, when there are critical category anomalies present in the table, they are _not_ represented in the chart above.

This was done because the Y-axis

[2020-12-17 19:11] elasticmachine commented on #86354
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-17 19:13] kibanamachine opened #86355 "Failing test: "before all" hook for "Creates and activates a new ml rule" - Detection rules, machine learning "before all" hook for "Creates and activates a new ml rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10464/)

[2020-12-17 19:13] kibanamachine commented on #85674
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10464/)

[2020-12-17 19:13] kibanamachine opened #86356 "Failing test: "before all" hook for "Loads prebuilt rules" - Alerts rules, prebuilt rules "before all" hook for "Loads prebuilt rules""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10464/)

[2020-12-17 19:13] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10464/)

[2020-12-17 19:17] tsullivan commented on #84388
This issue may be closed out when CSV export switches to using SearchSource on the server rather than push index pattern info through the job params. That work is prioritized as it will be needed to support Runtime Fields with CSV Export: https://github.com/elastic/kibana/issues/81079

[2020-12-17 19:19] tsullivan commented on #60737
This issue will be closed out when CSV Export moves to using SearchSource on the server. That work is prioritized since it is needed for CSV Export to support Runtime Fields: https://github.com/elastic/kibana/issues/81079

[2020-12-17 19:24] TinaHeiligers opened #86358 "[Meta] Migrate telemetry `usage_collectors` to the new ES Client"
Support for the legacy Elasticsearch client will be removed in **7.15**.

The Telemetry team (now the Core team) added [support for using the new ES client](https://github.com/elastic/kibana/issues/75384) in 7.11 to allow plugins that use a `usage_collector` to begin migrating over.

In ~~**7.13**~~ **7.12**, the legacy client will be **completely removed** from collectors' `fetch` context. In ord

[2020-12-17 19:24] elasticmachine commented on #17133
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #17184
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #17605
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #22654
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #34181
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #36571
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #41476
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #41477
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #41600
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #55600
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #63685
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:24] elasticmachine commented on #82891
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 19:26] jbudz commented on #85674
skipped
main: d3aaf71
7.x/7.12: 192ae20

[2020-12-17 19:27] tsullivan commented on #53829
Hi, in version 7.10, there is a Reporting Diagnostic tool which will uncover these types of issues, which are related to OS system dependencies and system setup: https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#reporting-diagnostics

[2020-12-17 19:27] #53829 closed

[2020-12-17 19:28] tsullivan commented on #42268
Closing due to no feedback

[2020-12-17 19:28] #42268 closed

[2020-12-17 19:29] timroes commented on #86278
This would most likely also be helping when changing a runtime field type that now creates an inconsistent state.

[2020-12-17 19:32] tsullivan commented on #81561
There is no difference if the Canvas workpad is single page or multiple page, other than more memory is needed for the Kibana server to hold the larger buffer data in memory.

Besides the ongoing performance improvements, a problem like this could be caused to the Chromium version built for Kibana to be outdated. Our next upgrade of the build is going out in 7.11: https://github.com/elastic/kibana

[2020-12-17 19:33] jasonrhodes commented on #86354
@katrin-freihofner / @mukeshelastic can you weigh in here on this issue about whether you think the current implementation (which can be seen in the linked SDH) is a bug? If it is, we should hide it in 7.11 as a bug fix. Either way, we'll aim to get the swimlane in, as well.

[2020-12-17 19:33] jbudz commented on #85217
skipped
main: 94e6632
7.x: 859243a

[2020-12-17 19:34] tsullivan commented on #73515
Along with ongoing performance improvements in Kibana, Reporting seems to perform better with the new version of our Chromium build, which is going to be released in 7.11: https://github.com/elastic/kibana/pull/82789

[2020-12-17 19:36] timroes opened #86365 "[KQL] Don't put KQL in filter but in Query"
Currently when using KQL it will be put into a bool filter and not the query. Thus it's not possible to use KQL input for relevance matching and using it to get a good `_score`. We would like to improve scoring in Discover (e.g. by sorting by default by score if the user entered a query: https://github.com/elastic/kibana/issues/54362), but with KQL this does not work (while it did with Lucene).

I

[2020-12-17 19:36] elasticmachine commented on #86365
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 19:38] kobelb commented on #84977
At this moment, I'm only aware of alerts and actions needing this functionality.

[2020-12-17 19:38] tsullivan commented on #84930
Related: https://github.com/elastic/kibana/pull/82789 was merged, which will hopefully fix this issue.

I'll keep this open until we confirm

[2020-12-17 19:40] #82492 closed

[2020-12-17 19:46] timroes commented on #85625
While we could do that technically I am not sure if that's really a "solution". The fill URL needs to be below that limit you mentioned to not trigger that error. Since we store the full Vis state in the URL, the name is just one part of it, and while it's annoying you can trigger that with the name, you can trigger it also in a thousand other ways within the visualization, that we're not limiting

[2020-12-17 19:47] paul-tavares opened #86367 "[Fleet] Add actions to the Integration details Policies list items"
Part of: [Integration Specific Policy Views](https://github.com/elastic/kibana/issues?q=is%3Aissue+%22Integration+Specific+Policy+Views+%22in%3Abody+)

Under 'Integrations > {package} > Policies" tab, add an "Actions" menu to each policy row that includes the following actions:

- Add agent
- Delete integration

Both of these action should reuse existing components approaches that achieve the same

[2020-12-17 19:47] elasticmachine commented on #86367
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 19:48] jbudz commented on #86356
skipped - another failure will show up in a moment
main: cb2b162
7.x/7.12: 6670ef9

[2020-12-17 19:48] TinaHeiligers commented on #83124
Blocked by https://github.com/elastic/kibana/issues/86358

[2020-12-17 19:51] elasticmachine commented on #86358
Pinging @elastic/kibana-core (Team:Core)

[2020-12-17 19:51] paul-tavares opened #86369 "[Fleet] Add 'Used by # agent policies" to the Integration Details header"
Part of: [Integration Specific Policy Views](https://github.com/elastic/kibana/issues?q=is%3Aissue+%22Integration+Specific+Policy+Views+%22in%3Abody+)

## Description
On the "Integrations > {package} > Detail" page, show the total number of (unique) Agent policies where the given Integration is being used. This component should only be shown if the package in installed

Mock:

![image](https://use

[2020-12-17 19:51] elasticmachine commented on #86369
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 19:56] EricDavisX commented on #86267
@ph @mostlyjason @hbharding is it needed?  That field is expected to change infrequently, it may not be needed.

[2020-12-17 19:57] timroes commented on #48447
@ThomThomson That design imho solves that issue of the advanced setting, since it's very obviously two different buttons now. I agree that the use-case of one asset being a "template" isn't addressed by this change (and might make it worse), but I think the solution proposed here or in #79129 is not the solution to that problem, but just the most simplest workaround, but I'll comment on this in th

[2020-12-17 19:57] #48447 closed

[2020-12-17 19:59] timroes commented on #79129
I'll be closing this, since (for a bit more context see #48447), the use-case described here and the solution do not fit together. We don't want to make that setting the default, actually it will be two different buttons in the future (see that linked issue). Instead when the purpose is that we'd like to have template like assets we should look into read only saved objects (https://github.com/elas

[2020-12-17 19:59] #79129 closed

[2020-12-17 20:01] paul-tavares commented on #86369
@bfishel (@hbharding ),
I forget what we decided on for the header component text as far as the work "policies". Should it be "used by # policies"? or "Used by # Agent policies"?

[2020-12-17 20:05] n0othing opened #86371 "[Maps] Loading Maps causes browser to hang if WebGL is disabled"
**Kibana version:** `7.10.0`

**Elasticsearch version:** `7.10.0`

**Browser version:** Chrome Version 87.0.4280.88 (Official Build) (64-bit)

**Describe the bug:**

**Steps to reproduce:**
1. Disable WebGL in Chrome (can add `-disable-webgl` as a startup parameter). You can verify WebGL is disabled by visiting https://get.webgl.org/
2. Try opening a Maps visualization.
3. The page will hang and b

[2020-12-17 20:05] elasticmachine commented on #86371
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-17 20:10] paul-tavares opened #86373 "[Fleet] Consistent display of agent counts on Lists"
## Description

- "Policies" List: Change display of agent counts on List column to only include the number (remove the `agents` from the text)
- "Integrations > {package} > Policies": Change the implementation to match policies tab so that if the count is zero, then don't link to Fleet only show plain text `0`

[2020-12-17 20:10] elasticmachine commented on #86373
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 20:12] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10465/)

[2020-12-17 20:12] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10465/)

[2020-12-17 20:12] kibanamachine commented on #86356
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10465/)

[2020-12-17 20:12] kibanamachine commented on #85674
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10465/)

[2020-12-17 20:22] #83915 closed

[2020-12-17 20:28] VijayDoshi commented on #84777
I'm +1 for "asset" to describe "things" and that it should be use consistently. To me it feels less technical, more user friendly and understandable.

WRT to "generated" assets, could that be handled via "created by" Created by: Vijay Doshi | System | Integration <foo>...

[2020-12-17 20:31] jbudz commented on #86355
skipped
main: 4a51fef
7.x/12: 1fb2851

[2020-12-17 20:35] skh commented on #85486
Mostly, yes. We do insert references to other pipelines, if present, but other than that we just pass it through.

[2020-12-17 20:39] rs-garrick opened #86385 "awlinux2/arm64 yum repo missing kibana"
**Kibana version:**
7.10.1
**Elasticsearch version:**
7.10.1
**Server OS version:**
AWS Linux 2 (arm64/aarch64)
**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
yum
**Describe the bug:**
Kibana is missing from the yum repo for AWSLinux2/aarch64. Other packages like elasticsearch, filebeat, and metricbeat are present.

**Steps

[2020-12-17 20:42] ph commented on #83141
I will put tentative 7.12 on this, @jamiehynds would be nice to collaborate on the implementation.

[2020-12-17 20:45] wylieconlon commented on #86184
Got another use case example [from discuss](https://discuss.elastic.co/t/bucket-terms-aggregation-top-20-values/259031): the use case is to take the "largest 20 values, but display them in ascending order". This can only be done by applying the sort order after we receive the data from Elasticsearch.

[2020-12-17 20:48] ph commented on #83141
@jamiehynds @aleksmaus I propose we collaborate to fit it in the roadmap, can @aleksmaus or @jamiehynds make a PR to add it to the [package spec](https://github.com/elastic/package-spec/) once the manifest and usage is formalize we can move forward with the implementation.

[2020-12-17 20:53] alexfrancoeur commented on #38394
Before closing, we probably want the Maps team to weigh in. While I'm fortunate to have a history with this _amazing_ team, I'm no longer part of it. @kmartastic @thomasneirynck thoughts on the Telemetry thread here?

[2020-12-17 20:57] iankoetter opened #86386 "Index Pattern Field Editing - Open in New Tab"
**Describe the feature:**
"Open in New Tab" should function on the edit buttons to modify a field's formatting.

**Describe a specific use case for the feature:**
Under Stack Management > Kibana > Index Patterns, you should be able to open the edit button on specific fields so that you don't lose your field filter/pagination state in the index pattern view. When there are a significant number of f

[2020-12-17 20:59] qn895 opened #86387 "[Meta][ML] Data Visualizer redesign & plugins integration"
### Phase 1: Redesign & Integration

Purpose: Redesign index data visualizer and file data visualizer to table/grid format and add better integrations with other plugins (Lens, Maps, Discover).

- Index-based data visualizer https://github.com/elastic/kibana/pull/85726
	- [x] Functional tests https://github.com/elastic/kibana/pull/86071
	- [x] Expand map embed to use for geolocation fields https:/

[2020-12-17 20:59] elasticmachine commented on #86387
Pinging @elastic/ml-ui (:ml)

[2020-12-17 21:03] elasticmachine commented on #86386
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 21:03] thomasneirynck commented on #86371
thx @n0othing , this must be regression.

Maps application only works with WebGL enabled, but at the same time, it should disabling WebGL, should not hang up Kibana either.

[2020-12-17 21:05] wylieconlon commented on #86386
My impression is that there are two changes being requested here:

1. Changing the links to be real URLs so that they can open in a new tab
2. Stop losing the local state when navigating back to a previous page

[2020-12-17 21:06] EricDavisX commented on #86097
I am not seeing 'offline' I am seeing 'unhealthy' state when I change / install with a policy that has Endpoint and is not the default.  When using the default, Endpoint installs and runs ok.  Tested on Centos7 Linux with .tar.gz

logs attached:
[agent-endpoint-beats-logs.txt](https://github.com/elastic/kibana/files/5712050/agent-endpoint-beats-logs.txt)

action store, if related, attached,
sudo c

[2020-12-17 21:13] kibanamachine commented on #85674
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10466/)

[2020-12-17 21:13] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10466/)

[2020-12-17 21:13] kibanamachine commented on #86356
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10466/)

[2020-12-17 21:13] elasticmachine commented on #86097
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-17 21:27] ph commented on #86097
@EricDavisX

The log you are mentioned looks like an error when Endpoint is writing data to a datastream:

`reason (failed to parse field [data_stream.namespace] of type [constant_keyword] in document with id` but looking a the data, it looks fine to me?

I would think that endpoint might report that problem @blakerouse might know more here.

[2020-12-17 21:28] #86274 closed

[2020-12-17 21:29] aaronjcaldwell commented on #68828
This came up again as a potential solution for the large volume of alerts generated by [geo containment alerts](https://github.com/elastic/kibana/pull/84151).

#### The problem

Unless throttled, geo containment alerts can produce a large number of alert instances for each interval. In local tests of busses moving in Manhattan, upwards of 3000 alert instances were generated for each 20 second inte

[2020-12-17 21:29] kibanamachine commented on #86226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/5/)

[2020-12-17 21:32] MichaelMarcialis commented on #83730
Hey, @mbondyra! Per your request, I've made a quick design PR for your branch. Have a look here whenever you get a moment:

https://github.com/mbondyra/kibana/pull/4

[2020-12-17 21:34] poffdeluxe commented on #85864
Did some more digging and it appears the issue comes from the fact that the `clip` behavior was changed in new Puppeteer. It won't clip any content that is outside of the set viewport. If I manually set the viewport to be something ridiculous like 8000x8000, the workpad PDF is generated without the white bar.

[2020-12-17 21:50] tsullivan commented on #21689
I am considering closing this issue, since we don't seem to have a need for it. Even with keeping Reporting index as it is, Elasticsearch will be able to treat it as a system index and perhaps even have built in retention policies.

[2020-12-17 21:51] tsullivan commented on #63639
Will be addressed by: https://github.com/elastic/kibana/issues/19914

[2020-12-17 21:54] tsullivan commented on #70175
Replacing with https://github.com/elastic/kibana/issues/84717

[2020-12-17 21:54] #70175 closed

[2020-12-17 21:55] jportner commented on #77121
After a lot of trial and error, I was recently able to reproduce this edge case using Kibana 7.9.3 (which uses Node 10.x):

1. Create a root CA, intermediate CA, and client certificate with appropriate signatures.
2. Configure Elasticsearch with a native realm and a PKI realm that has `delegation.enabled=true`
3. Configure Kibana with a PKI auth provider and set `server.ssl.certificateAuthorities`

[2020-12-17 22:05] nchaulet commented on #86097
@EricDavisX I saw the same notice but endpoint seems to work fine

I saw in your logs that message so I think probably filebeat is having issue here (`DEGRADED` state) and it's why the agent is shown as unhealthy.

[code]

[2020-12-17 22:16] crob611 opened #86396 "[Dashboard] Time To Visualize Telemetry Phase 2"
We added minor telemetry for Time To Visualize in 7.11 (https://github.com/elastic/kibana/pull/85867) to make sure we didn't have

This should be followed up to make use of the PersistableStateService.telemetry method once other embeddables start to make use of that, and once we have a solution figured out for merging telemetry from multiple collectors.

**TODO** Link to merging telemetry issue on

[2020-12-17 22:16] elasticmachine commented on #86396
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 22:55] igoristic commented on #86339
@liza-mae Does the error eventually go away for you? (after the pipeline has been active for about 3-5 min). Seems like this logic has been here for a while and not a regression based on recent changes for `7.11`. Basically if you go to the pipeline details page before any stats have been created you will run into that error

Also, can you please post the API response of the route that looks like

[2020-12-17 23:10] SledgeHammer01 opened #86401 "Kibana 7.10.1 bug on Windows"
Kibana 7.10.1
Windows x64

In the Kibana 7.10.1 Windows package, there is a bug in Kibana.bat.

On line 25, you are missing some quotes. Line should be:

for /F "eol=# tokens=*" %%i in ("%CONFIG_DIR%\node.options") do (

Was missing quotes around %CONFIG_DIR%\node.options, this will prevent it from starting with spaces in the path.

[2020-12-17 23:11] cjcenizal opened #86403 "Some Fleet-managed data streams not marked as such"
I followed the "How to test" steps from https://github.com/elastic/kibana/pull/83049 and noticed that a number of data streams aren't marked as Fleet-managed:

![image](https://user-images.githubusercontent.com/1238659/102554599-f88ad280-4079-11eb-8b0b-b19ac9cc7abd.png)

Looking at the data streams in Fleet, it looks like they are managed by Fleet:

![image](https://user-images.githubusercontent.c

[2020-12-17 23:11] elasticmachine commented on #86403
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 23:13] myasonik commented on #37529
Closing as SVGs should be broadly accessible in Kibana right now. If there are specific examples that come up, we should open up specific issues.

[2020-12-17 23:13] #37529 closed

[2020-12-17 23:14] liza-mae commented on #86339
@igoristic the instance has been up for several hours and I still see the error.  I listed it as regression from 7.10 release where I did not see this problem.

Here is the output of the API POST call:

[code]

[code]

[2020-12-17 23:18] myasonik commented on #59029
Closing as both of the child issues are closed

[2020-12-17 23:18] #59029 closed

[2020-12-17 23:21] elasticmachine commented on #86401
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-17 23:22] elasticmachine commented on #86385
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-17 23:23] YulNaumenko commented on #79372
Usually OAuth 2.0 requires a 3 steps before a getting an access and refresh tokens. There is a question - which part of the connector flow a retrieving an access token should belongs to? I've tried to add a configuration option to the ServiceNow connector useOAuth which turn off a basic authorization fields and require from the user to enter a client ID:
<img width="1343" alt="Screen Shot 2020-12-

[2020-12-18 00:11] MichaelMarcialis commented on #17298
Thanks for that detailed breakdown, @pgayvallet! If it's been decided that option #1 (i.e. work within the limitations of the current advanced settings page) is the direction we wish to go, I'd be happy to provide updated mockups that reflect this. If so, just let me know and what timeframe we're working within, and I can prioritize it accordingly.

As a side question, based on our initial convers

[2020-12-18 00:11] mukeshelastic commented on #64077
@arisonl I read through the description and comments and wasn't sure if the use case below is met or not, hence the explicit  question below:

For a given rule definition, I need to specify two ( or sometimes three) separate thresholds with a separate severity and action associated with each threshold. Does this issue enable that? if it does, what changes observability UI needs to make to incorpor

[2020-12-18 00:54] mukeshelastic commented on #49405
@arisonl  In order for the auto-closing a PD incident when an alert is resolved, do users needs to do something in rule configuration? If not, great. If so, is that documented?

[2020-12-18 01:37] legrego commented on #21689
Ignoring the amount of work it would take to get here (and the [current limitations of SO migrations](https://github.com/elastic/kibana/issues/80912)), moving to saved objects would give you quite a few benefits for "free" (or nearly free), including:

1) Space aware reporting jobs (optional, they don't have to be)
2) User specific reports once #86013 is resolved (you have this already, but it wou

[2020-12-18 01:58] hendry-lim commented on #67148
Supposedly fixed by #81514

[2020-12-18 01:58] #67148 closed

[2020-12-18 02:09] #82831 closed

[2020-12-18 02:44] kevinlog commented on #86073
Thanks @muskangulati-qasource - we have a fix and will merge soon.

[2020-12-18 02:56] kevinlog commented on #85225
@muskangulati-qasource @manishgupta-qasource

Can you also check the Security > Cases page?

It contains a banner that indicates when there is no Platinum license
![image](https://user-images.githubusercontent.com/56395104/102568664-eaf13f00-40b1-11eb-9307-db2b04af20e8.png)

If the above UI also indicates that there is no Platinum license in this scenario, then I think the bug may be with the Lice

[2020-12-18 03:05] kevinlog commented on #86237
Thanks @manishgupta-qasource and @muskangulati-qasource

To give us more information on this scenario, can you take a look at the Index Management page in kibana?

After adding the policy the "muskan" namespace -
Go to Stack Management > Index Management

Then click on the Data Streams tab.  Search for "metrics-endpoint.metadata" as in the screenshot below

![image](https://user-images.githubuserc

[2020-12-18 05:06] lukeelmers commented on #77669
++ there's no data on this, but anecdotally, I never once had this question come up either.

Considering that we've had the deprecation notice since the beginning of 7.x, and have disabled the ability to create new expression scripted fields or edit existing ones, this would only affect users who:
1. Had an expression script field in 6.x
2. Upgraded to 7.x and never had a need to touch that field

[2020-12-18 06:00] muskangulati-qasource commented on #86097
Hi @nchaulet & @EricDavisX,

Sorry for the confusions.

Yes @nchaulet, I tried to update the logging level. It fails and we start getting the error logs.

No @nchaulet, these logs are from yesterdays build only.
JFI, steps are:
1. Enroll the agent with a policy that has any namespace other than the default.
2. Try to change the logging level from bottom left drop-down and wait for sometime
3. Obse

[2020-12-18 06:42] sgrodzicki commented on #77060
Fixed in https://github.com/elastic/kibana/pull/85772

[2020-12-18 06:42] #77060 closed

[2020-12-18 07:36] glenacota commented on #85057
Please let me know if I can provide more information.

[2020-12-18 07:39] pgayvallet commented on #67607
So, as @flash1293 already described in the issue, we are mostly using the SO loaders in SOM for two things:

We are currently using the SO loaders in SOM for two things:

### 1. Loading SOs for the legacy import

https://github.com/elastic/kibana/blob/9450248ebede86b0cb515bbd1a96046268f4a332/src/plugins/saved_objects_management/public/lib/resolve_saved_objects.ts#L268-L274

https://github.com/elas

[2020-12-18 07:43] katrin-freihofner commented on #79763
In my opinion, if we can not add the anomalies from the category job to this chart, I think we should hide the chart.
I'd like us to switch this with the swimlane in the next release.

cc @jasonrhodes @weltenwort

[2020-12-18 08:02] flash1293 commented on #86278
@timroes yes, it would help with that situation as well - I checked the logic and it already catches version mismatches.

[2020-12-18 08:18] flash1293 commented on #67607
I haven't looked at this code in a while but I think the way legacy jsons are structured it does require custom logic to unwrap them and turn them into "real" saved objects. For example they don't list of references separately, but

Another IMHO large con I want to bring up is that in a lot of places we are storing serialized JSON as a string field. If this page would become a regular JSON editor,

[2020-12-18 08:19] cnasikas opened #86417 "[Security Solution][Case] Error when opening the alert's details flyout"
An error occurs when you open the alert's details flyout in a case.

Steps to reproduce:

1. Go to the detection page and attach an alert to a case.
2. Go to the case where the alert is attached.
3. Press the arrow button at the right of the alert.
4. You should see an error toaster with the message `Failed to run search`.

![bug](https://user-images.githubusercontent.com/7871006/102593025-ff1e560

[2020-12-18 08:19] stratoula opened #86418 "[Timelion] Communicate the index pattern to the dashboard"
**Describe the feature:**

We want the timelion visualization to communicate its index patterns to the dashboard in order for the dashboard filters to work. Right now, if I have a dashboard with timelion visualizations that don't use the default index pattern, the filters don't work correctly as they only allow the users to filter by the default index pattern and not the actual index pattern.

<im

[2020-12-18 08:19] elasticmachine commented on #86418
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 08:20] stratoula commented on #86418
cc @alexwizp

[2020-12-18 08:21] cnasikas opened #86419 "[Security Solution][Case] Fix sync alert option label on case view"
Sync alert option on a case has wrong label:

<img width="94" alt="Screenshot 2020-12-18 at 10 20 02 AM" src="https://user-images.githubusercontent.com/7871006/102591422-a8178180-411a-11eb-8602-0523b45a679e.png">

It should be:

<img width="107" alt="Screenshot 2020-12-18 at 10 20 53 AM" src="https://user-images.githubusercontent.com/7871006/102591476-bbc2e800-411a-11eb-9f36-a708ca009d33.png">

[2020-12-18 08:29] pgayvallet commented on #67607
From a quick look, legacy import/export is just working with raw SOs. I guess accessing the attributes given the type should be doable.

https://github.com/elastic/kibana/blob/36b66a802e682ab01dca51029df1348f485b9b8b/src/plugins/legacy_export/server/lib/export/collect_references_deep.ts#L29-L52

https://github.com/elastic/kibana/blob/68dc4e84101e687e5ade61f297d292f92f2deb7a/src/plugins/legacy_expo

[2020-12-18 08:35] cnasikas commented on #65278
https://github.com/elastic/kibana/pull/86093

[2020-12-18 08:35] #65278 closed

[2020-12-18 08:52] flash1293 commented on #67607
Some kind soul put them in GH gists 8 months ago ;) https://gist.github.com/flash1293/0ea158f94dd165647c560d1b90a5ed72

+1 on reversing this dependency

[2020-12-18 08:58] pgayvallet commented on #17298
@mbarretta

Unfortunately, settings overridden in `kibana.yml` cannot be then edited per space.

- If a setting is overridden via `uiSettings.overrides`, then the value will be applied on **all spaces** and will **not be editable** from the UI
- Else, the setting is editable per-space by admins via the advanced settings management section, and would fallback to the hardcoded default if no value ha

[2020-12-18 08:58] elasticmachine commented on #86107
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-18 08:59] sqren opened #86423 "[APM] Investigate number of calls to ML"
From another conversation:

 - Getting the ml job ids (via anomalyDetectors.jobs) (in get_services_items_stats.ts) to see if we should make any calls.
 - Calling ml.mlSystem.mlCapabilities() to see if ML is enabled in this space (so we can throw a custom error).
 - Another call to anomalyDetectors.jobs
 - Finally, a call with the job IDs to get the anomaly data.

Getting anomaly data for the trans

[2020-12-18 08:59] elasticmachine commented on #86423
Pinging @elastic/apm-ui (Team:apm)

[2020-12-18 09:04] ruflin commented on #85391
@kevinlog @kobelb Can you sync up to make sure `.` or no `.` are in sync?

[2020-12-18 09:04] stratoula opened #86424 "[Lens] Chart with Last Value fails if I change the field type on the horizontal axis"
**Kibana version:**
master

**Describe the bug:**
I have created a chart by using the time on the horizontal axis and a Last Value on the y-axis. I change the field type on the horizontal axis with a string type. Then I get an error. The strange thing is that when I create the second chart from scratch it doesn't fail.

First chart with timestamp
<img width="1587" alt="Screenshot 2020-12-18 at 10

[2020-12-18 09:04] elasticmachine commented on #86424
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 09:05] gmmorris commented on #50213
Nice work @mikecote , we should make a clear list of what _flattened_ can support and what it can't, then validate with some teams (SIEM, O11y...) that they can live without the things it can't support.

[2020-12-18 09:09] gmmorris commented on #71441
That's an interesting question....
Would doing so mean maintaining two different Task Manager implementations - one for reporting and another for the rest of the stack? 🤔
Off the top of my head I can't think of a way to avoid that, which means we'd have to find a way to make the polling lifecycle a pluggable behaviour. Definitely doable, but I'm not sure it's worth the effort and the long term cos

[2020-12-18 09:09] streamich opened #86425 "[Reporting] Add documentation and warnings that `reporting.kibanaServer` settings can break reports"
Improve logging output as requested [here](https://github.com/elastic/sdh-kibana/issues/1080).

- [ ] Better logging messages when URL/host name of `xpack.reporting.kibanaServer.hostname` is incorrect.
- [ ] Better logging message when HTTP is configured but HTTPS is required.

More specifically, the ask from support:

That was the confusing part and prolonged the troubleshooting. If one does not

[2020-12-18 09:10] elasticmachine commented on #86425
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-18 09:10] sqren commented on #83865
We will likely move to the waterfall component built by the synthetics team first.

[2020-12-18 09:11] sqren commented on #50213
Agree, this is great!

Having a simple string-based key-value pair lookup mechanism will solve all of our current use cases and 99% of our future use cases. So that limitation is definitely tolerable.

[2020-12-18 09:13] gmmorris commented on #64077
Yes, it does.

Broadly speaking the changes need to be made in both the UI (you can spin your own or use our [UI Components](https://github.com/elastic/kibana/issues/82412)) and the AlertType itself (at the moment the alert, presumably, schedules all actions on the `default` action group. You would now have to schedule these actions on different action groups.).

The dev docs detail how to do this

[2020-12-18 09:14] kibanamachine commented on #82226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/10/)

[2020-12-18 09:14] katrin-freihofner commented on #86154
I far as I recall, the reason was that the full DOM is only available for the last step. If that is not true, let's have it for all the steps.

[2020-12-18 09:19] pgayvallet commented on #86301
From https://www.elastic.co/guide/en/elasticsearch/reference/7.x/paginate-search-results.html, even when using a PIT,

If one of the initial need for `search_after` is allowing SO export of more than 10k, we may still need a tiebreaker field (missing records when exporting seems dealbreaker)

[2020-12-18 09:21] stratoula commented on #86424
It also fails when I drag and drop a field on Break down by:
<img width="1930" alt="Screenshot 2020-12-18 at 11 20 14 AM" src="https://user-images.githubusercontent.com/17003240/102597290-195b3280-4123-11eb-9add-f66691457ff0.png">

[2020-12-18 09:38] arisonl commented on #64077
@mukeshelastic The need for supporting two and sometimes three levels has been discussed in the past with @sorantis over a couple or more occasions. This functionality supports multiple levels as per these discussions. It is a framework level capability and solutions can build on top of it in order to provide the specific types that they need, similarly to how the existing solution-specific types

[2020-12-18 09:47] rahulgupta-qasource commented on #84962
Hi @EricDavisX

Thank you for sharing the feedback.

We have created **06** testcases for the same and executed them under [Agent Details TestRun](https://elastic.testrail.io/index.php?/runs/view/886).

Testcases Created:
https://elastic.testrail.io/index.php?/cases/view/35266
https://elastic.testrail.io/index.php?/cases/view/35267
https://elastic.testrail.io/index.php?/cases/view/35268
https://el

[2020-12-18 10:23] #84543 closed

[2020-12-18 10:27] paulb-elastic commented on #80173
This is currently available on one particular part of the UI - when hovering the screen shot on the details (expanded) view, however this will be updated (in https://github.com/elastic/kibana/issues/80156) and there are some other places that don't currently have the hover, so leaving this issue open to track the requirement.

[2020-12-18 10:29] ValentinMATHIEU commented on #10335
7.10.1 - The issue is still present ... :thinking:

[2020-12-18 10:30] ruflin commented on #85968
@skh I think the next minor should be ok. Is this a regression or was always there like this?

[2020-12-18 10:31] weltenwort commented on #74937
Since the description of the issue scopes this to reading and displaying runtime fields in the Logs UI, I think we should be good.

The creation of runtime fields will be handled in a different workstream (e.g. analyst-created runtime fields, index patterns everywhere).

[2020-12-18 10:32] cauemarcondes commented on #84766
closed by https://github.com/elastic/kibana/issues/86230

[2020-12-18 10:32] #84766 closed

[2020-12-18 10:35] pgayvallet commented on #82027
From my understanding, what @rudolf is proposing is that all hidden types will be accessible from any server-side SO client.

@rudolf I'm not sure to see the exact need here. the `export` and `import` endpoints will be creating their own client to include all hidden (**but/and exportable**) types (as done in @kobelb POC here: https://github.com/elastic/kibana/pull/84976). We will likely do the sam

[2020-12-18 10:37] watson opened #86435 "The "yarn kbn clean" script doesn't always clean tsc cache"
I noticed what seems like a bug in either `yarn kbn clean` or `yarn kbn bootstrap` depending on how you look at it. I don't know for how long it's been there, but I first noticed it last week.

During `yarn kbn bootstrap` we will run `tsc`. If at some point it stumbles upon an error, it will sometimes (always?) cache the built file, and even if you fix the error, `tsc` will still complain because

[2020-12-18 10:41] pgayvallet commented on #67607
Sorry, I read `we already have`. Yes, doing the conversion should (well, you never know with SOs, but still) be trivial

[2020-12-18 10:43] flash1293 opened #86437 "[Lens] Granularity slider for date histogram interval"
Similar to how TSVB supports it ( https://github.com/elastic/kibana/pull/83628 ), Lens should have a granularity slider for the date histogram interval as a primary interface to change the interval. As an advanced option there should still be a way to specify the exact desired interval like it's possible already

<img width="429" alt="Screenshot 2020-12-18 at 11 41 40" src="https://user-images.git

[2020-12-18 10:43] elasticmachine commented on #86437
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 10:49] weltenwort opened #86439 "[Logs UI] Load log stream entries using async searches"
## Summary

As part of the make-it-slow effort (and thereby indirectly searchable snapshots and runtime fields) we want to use Elasticsearch's async search to execute potentially expensive queries. The queries to load the log entries in the log stream and the minimap summary certainly qualify as such.

related to #86441

## Acceptance criteria

- [x] A search strategy for loading intervals of log

[2020-12-18 10:49] elasticmachine commented on #86439
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-18 10:56] flash1293 opened #86440 "[Lens] Table column name becomes uuid when normalize by value is used"
**Kibana version:** 7.11, master

**Describe the bug:** If "normalize by unit" is used in a table, the column header shows a uuid instead of the actual header

**Steps to reproduce:**
1. Go to Lens
2. Switch to table
3. Add date histogram and sum dimensions
4. Enable normalize by unit on the sum
5. Column header shows uuid

**Expected behavior:**
Should show the configured label

[2020-12-18 10:56] elasticmachine commented on #86440
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 10:59] weltenwort opened #86441 "[Logs UI] Load log entry examples using async searches"
## Summary

As part of the make-it-slow effort (and thereby indirectly searchable snapshots and runtime fields) we want to use Elasticsearch's async search to execute potentially expensive queries. The queries to load the log entry examples in the "Anomalies" and "Categories" tabs certainly qualify as such.

related to #86439

## Acceptance criteria

- [x] A search strategy for loading intervals o

[2020-12-18 10:59] elasticmachine commented on #86441
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-18 11:05] peluja1012 commented on #80792
Related PR: https://github.com/elastic/kibana/pull/82462

[2020-12-18 11:15] #86419 closed

[2020-12-18 12:15] mikecote commented on #50213
The two teams I recall requesting this is APM and Security Detections team.

Looks like @sqren is happy from the APM side and I'm curious what @spong on the detections team thinks of the limitations?

The limitations are documented here: https://www.elastic.co/guide/en/elasticsearch/reference/master/flattened.html#supported-operations.

[2020-12-18 12:24] mikecote commented on #49405
@mukeshelastic users will need to do something in the rule configuration in order to make PD incidents close when an alert recovers. We've made the steps a few less clicks with [this PR](https://github.com/elastic/kibana/pull/84598) where the user just needs to add another PD action that "Runs When: Recovered" and the form settings will be populated with default values that resolve the incident.

[2020-12-18 12:27] rudolf commented on #84777
### Aren't we just exchanging one vague term for another vague one?

object: "a thing"
asset: "something of value"

I want to question the assumption that this will be easier for users to understand. I am not aware of any other products using this terminology? When a term has such a vague definition, the only way users can attach meaning to it is if that meaning comes from our own definition, so I

[2020-12-18 12:29] pgayvallet commented on #67607
So, after taking a quick look, regarding the legacy import, there is actually way more logic than I thought in the underlying calls to the loaders/SavedObject class.

The most blocking thing I discovered is the way we handle `searchSource` in legacy import, and the associated logic to display the index-pattern conflicts.

Took me some time to follow the cascade, but:

This is the code that collect

[2020-12-18 12:36] flash1293 commented on #67607
@pgayvallet So if I understand correctly the issue is the check whether an index pattern actually exists? I think we can work around that in a generic way without relying on `applyESResp` - there should be a `references` array in the legacy json which we probably can use to check whether there are missing index patterns as well without having to parse the search source. We just have to make sure t

[2020-12-18 12:38] pgayvallet commented on #67607
I don't think it *should*. I think it only *may* have that references array. Legacy import is supporting very old versions (6.8? older) and references were not yet a thing at this time. This is what the logic in `applyESResp` is transforming if I understand it correctly. We are basically doing client-side migration of the object...

[2020-12-18 12:39] skh commented on #85486
Closing in favor of https://github.com/elastic/elasticsearch/issues/66555 , please reopen if necessary.

[2020-12-18 12:39] #85486 closed

[2020-12-18 12:42] kevinlog commented on #85391
Thanks @ruflin

@kobelb @pjhampton

I was operating under the impression that there would be no leading `.` in 7.11 originally as I recalled as much from our conversations on index naming during our discussions with the working group.

I understand that the preference is to add the leading `.`.  As a result, I'm happy to take a look at what needs to be done to accomplish this.

Yesterday, I was wo

[2020-12-18 13:02] muskangulati-qasource commented on #85225
Hi @kevinlog,

Please find below the full observations and details for the testing:

**Build Details**:
[code]

### Platinum license installed:
- [ ] Malware notification options are present in Endpoint Policy
![85225_MalwareCustomMessage](https://user-images.githubusercontent.com/60252716/102599917-2b999880-4144-11eb-862e-4d531c0a21cb.PNG)

- [ ] "Edit external connection" option is enabled and t

[2020-12-18 13:04] muskangulati-qasource commented on #86237
Hi @kevinlog,

Thank you for sharing the steps and information, it was really helpful.

Please find below the observations for the same:

### Steps followed:

**1. The policy was created with the default namespace and Endpoint security was added with a non-default namespace:**
![oneMuskan](https://user-images.githubusercontent.com/60252716/102580554-c7b3a780-4124-11eb-9693-071a27ec56ff.PNG)

**2.

[2020-12-18 13:07] flash1293 commented on #67607
Good point @pgayvallet , I missed that.

We chatted about this offline and IMHO the best option right now is to just leave this code in place until 8.0. It would be possible to implement an intermediary solution now, then remove it in 8.0, but as this code is rarely interacted with I think it's not worth the extra effort; maintaining it for a few more minors is less work.

[2020-12-18 13:07] robin13 commented on #83375
Hey @chrisronline I have just reproduced in our own Elastic Cloud.  I stared with no pipelines, and added a single "test" pipeline the same as you did, but when I click Pipeline I get a blank screen.  Maybe it is something about the browser?  Though mine _should_ be supported?

Device: Laptop
OS: Ubuntu 18.04.5 LTS with kernel 4.15.0-128-generic
Browser: Google Chrome 87.0.4280.88

[2020-12-18 13:08] flash1293 commented on #85893
@wylieconlon do you still plan to do this on your PR or should I take it over?

[2020-12-18 13:10] markov00 commented on #63685
@tsullivan what is the reason to move this to the Presentation team? to me it looks like a Visualize + vislib issue, so KibanaApp is the owner in this case

[2020-12-18 13:24] arisonl commented on #49405
@mukeshelastic As Mike mentions, users will need to specify on the UI that they want the PD incident to be resolved when the alert recovers. This will be documented but we also plan to go beyond documentation by releasing additional "how-to" content around actions and integrations.

[2020-12-18 13:30] #86068 closed

[2020-12-18 13:44] pugnascotia commented on #86038
Sounds like what I've built is exactly what we need. The `SystemIndexManager` will look at `_meta.logstash-version` in the mappings, and if that version is lower than `Version.CURRENT` (i.e. 7.12.0 or higher), then the mappings will be updated.

[2020-12-18 13:59] #86424 closed

[2020-12-18 14:03] jguay opened #86459 "TSVB table support for sorting on Filter Ratio column"
**Describe the feature:**
Ability to sort on a Filter Ratio column
**Describe a specific use case for the feature:**
At the moment (7.10.1), TSVB does not allow sorting on `Filter Ratio` field :
<img width="1427" alt="Screenshot 2020-12-18 at 14 02 48" src="https://user-images.githubusercontent.com/19236038/102623025-c476e680-4139-11eb-943c-db49e1a042bf.png">

[2020-12-18 14:24] mikecote commented on #50253
I did an audit of the places using `schema.maybe` and there is no longer any that use it for `config` or `secrets`. This was in place to avoid Elasticsearch merging the updated values with existing ones when passing "undefined". Some `params` still use maybe but are not impacted by the Elasticsearch problem that created this issue (since they are saved in an array of the alert and are not magicall

[2020-12-18 14:24] #50253 closed

[2020-12-18 14:28] mikecote commented on #49399
@gmmorris This issue was created before plugins migrated their code to TS and this would of been catching similar issues for those not using TS. I think it's safe to close this issue and rely on compile-time validation.

If we still see an issue with data integrity, feel free to open one. I will close this one as it is scoped to the alert / action types.

[2020-12-18 14:28] #49399 closed

[2020-12-18 14:31] dgieselaar opened #86460 "[APM] Instrumentation for ES queries"
Currently, when we use the ES client to search for apm events, the name of the ES span is the ES endpoint plus the indices that are being searched, e.g. `Elasticsearch: POST /apm-*/_search
`. This is not very helpful when looking at the trace waterfall, because all ES spans created by APM searches look the same.

What we can do is name our queries, e.g. require a query name when calling `apmEventC

[2020-12-18 14:32] elasticmachine commented on #86460
Pinging @elastic/apm-ui (Team:apm)

[2020-12-18 14:33] dgieselaar commented on #86460
Btw, maybe this should be handled in the Kibana ES client itself. I figure it might be useful for everyone. @elastic/kibana-core

[2020-12-18 14:38] #4215 closed

[2020-12-18 14:38] #12999 closed

[2020-12-18 14:38] #13093 closed

[2020-12-18 14:38] #29147 closed

[2020-12-18 14:38] #39061 closed

[2020-12-18 14:38] #51553 closed

[2020-12-18 14:38] #63531 closed

[2020-12-18 14:38] #41887 closed

[2020-12-18 14:38] #43251 closed

[2020-12-18 14:38] #45602 closed

[2020-12-18 14:38] #59076 closed

[2020-12-18 14:38] #77186 closed

[2020-12-18 14:38] dhurley14 commented on #86235
Made the change on the frontend but got a 403 error back when I closed an alert with a `t1_analyst1 role. As of [this change](https://github.com/elastic/kibana/blame/master/x-pack/plugins/security_solution/server/lib/detection_engine/routes/signals/open_close_signals_route.ts#L60) the introduction of the `refresh` parameter on the `updateByQuery` call requires one of the following privileges `[mai

[2020-12-18 14:38] mikecote commented on #50248
Today a log like the following will show and task manager will mark the task as failed (and stop re-scheduling).

[code]

The main problem was having waisted cycles in Task Manager after deleting a space as the tasks would keep retrying indefinitely. It seems with the logic we have today, the problem is gone and the task remains in an error state instead of disappearing. Sounds about right? or we

[2020-12-18 14:43] mikecote commented on #50261
Looks like we already have tests in place:
- https://github.com/elastic/kibana/blob/18a99fcc43f91098f03c23c84d8ccf0caca7f690/x-pack/plugins/actions/server/lib/action_executor.test.ts#L143
- https://github.com/elastic/kibana/blob/18a99fcc43f91098f03c23c84d8ccf0caca7f690/x-pack/plugins/actions/server/lib/action_executor.test.ts#L182

Which make sure the action execution fails if the validity of an a

[2020-12-18 14:43] #50261 closed

[2020-12-18 14:44] simitt opened #86462 "[APM] Getting started: Change logic to check whether APM Server was setup when running under fleet"
**Description**
When APM Server is started with the new indexing strategy (`apm-server.data_streams.enabled=true`) it does not write an onboarding document. The whole APM Setup process moves to Kibana and Fleet and therefore Fleet Status should be used to check whether the APM Integration (including the APM Server) is properly setup.

**Required Action**
Remove the button to check whether APM Serv

[2020-12-18 14:44] elasticmachine commented on #86462
Pinging @elastic/apm-ui (Team:apm)

[2020-12-18 14:45] mikecote commented on #50252
Closing issue since the `schema.maybe` is no longer used by the actions `config` and `secrets`.

[2020-12-18 14:45] #50252 closed

[2020-12-18 14:53] ruflin commented on #86462
If I remember correctly, the apm-server doc was written as soon as the first time the apm-server was set up. It was basically to indicate to the user, that he has a working apm-server. So in the new scenario, this means having at least 1 policy with an apm integration inside that was successfully deployed. @nchaulet Do we have an API endpoint for this?

If we check for the above, the behaviour wil

[2020-12-18 15:06] afharo commented on #83522
Closing the issue for now. The reasons are in this discussion: https://github.com/elastic/kibana/pull/85554#discussion_r543376610

We can revisit it whenever we actually need a differentiation 🙂

[2020-12-18 15:06] #83522 closed

[2020-12-18 15:07] ph commented on #76841
@ruflin I see some complexity and I am not sure how we can resolve that, based on https://github.com/elastic/beats/issues/21000 the restriction is a limit that an Agent decides and imposes on fleet, this mean with that proposal that two agents associated to the same Agent policy could have different restrictictions.

Where could possible show that information:

- On edit the Agent policy?
- On the

[2020-12-18 15:10] #76778 closed

[2020-12-18 15:12] yuliacech commented on #86403
Hi @cjcenizal , thanks for bringing this up! The UI relies on data stream metadata to label them as Fleet-managed and the metadata is inherited from the index template. Those data streams don't have an integration associated and fallback on the default index template for `logs-*` and similar. So they have `managed:true` but not `managed-by:ingest-manager`.

[2020-12-18 15:12] simitt commented on #86462
We only plan to support APM Server via Elastic Agent in fleet modus, so we don't have to take precautions for that.

[2020-12-18 15:13] ph commented on #72707
@hbharding I am looking at this, do we have some existing design that could cover the user stories?

[2020-12-18 15:14] ph commented on #76843
@ruflin the enforce would be a the Agent policy not on the Agent itself?

[2020-12-18 15:14] pjhampton commented on #85391
Thanks, @kevinlog - re-opened that PR here: https://github.com/elastic/kibana/pull/86468

[2020-12-18 15:16] mikecote commented on #84977
In my opinion, I think it would be best to have a single message and ideally the "here" link can navigate to a filtered list of those imported alerts (something on our end to figure out). It may be a common scenario to import over 300 alerts (ex: SIEM detection rules).

cc @elastic/kibana-alerting-services for awareness.

[2020-12-18 15:17] ferullo commented on #85391
@kevinlog you are correct, endpoint sends without the leading dot. All indices Endpoint sends to do not have a leading dot when it sends, i think the pipeline handles adding it.

If this does need to be changed on the Endpoint side can you just make an `endpoint-dev` issue? I'll jump on it right away. It's easy for Endpoint to make this change, I just want validate that Endpoint should make the ch

[2020-12-18 15:22] ferullo commented on #86097
FWIW the Endpoint log that `inputs[0].data_stream.namespace` is not found in the config is probably a red herring. Endpoint starts up with a initial install config that is very minimal and just meant to configure logging before Endpoint connects tot Agent to get its "real" config. You're likely seeing a log from the initial install config.

[2020-12-18 15:24] weltenwort commented on #85825
Detecting this from the EUI side via `repositionOnScroll` might be difficult because we're only scrolling inside of an element and the whole window. Would it be enough to close the menu on scroll in our component?

[2020-12-18 15:24] afharo commented on #86350
@rudolf, I think we can also close this one, right?

[2020-12-18 15:25] kobelb commented on #84777
I think you have some really good points, @rudolf. My only criticism is that saved-object management isn't just backup / restore, at the moment. There's some functionality currently available in saved-object management that I really think we need to remove (editing the raw JSON of a saved-object); however, I think we should continue to provide a single UI that lists all Kibana "things" and allows

[2020-12-18 15:27] katrin-freihofner opened #86471 "[Logs UI] pagination on anomalies view is inconsistent"
The pagination on the anomalies view currently looks like this:

<img width="972" alt="Screenshot 2020-12-18 at 16 21 35" src="https://user-images.githubusercontent.com/20965076/102631145-adda8a80-414d-11eb-9626-d2395a0f9c46.png">

This is inconsistent with the rest of Kibana. Additionally, as a user, it is hard to see if there is more than one page.

I propose to use the pagination described here

[2020-12-18 15:27] elasticmachine commented on #86471
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-18 15:27] ph opened #86472 "Migrate the integrations from Fleet to be a top level app."
This is a big task, there is a few things to consider to actually move the Integrations part of fleet to be a top level app.

**Investigates:**

- Should it be a separate plugin?
- What hooks we need to add to make fleet and integrations work together?
- What is the impact for Fleet?
- What flow need to be moved? (add agent, enroll, add integrations)
- How the integration centric view is impacted

[2020-12-18 15:27] elasticmachine commented on #86472
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-18 15:28] lukeelmers commented on #17284
Thanks for offering to help @jbudz, I'll defer to @ppisljar and @alexh97 on how/when to move forward.

[2020-12-18 15:29] timductive commented on #85771
@flash1293 I think we can leave the existing behavior rather than completely disabling it and frame the solution around fixing inspector for multiple layers. Then prioritize the bug as medium-high urgency, not critical. If we see an uptick in confusion around this then we can re-consider.

[2020-12-18 15:31] ph commented on #75236
@michalpristas or @nchaulet I can't find the issue for the Elastic Agent related to this effort?

[2020-12-18 15:34] nreese commented on #70449
Closing, duplicate of https://github.com/elastic/kibana/issues/82479 and https://github.com/elastic/kibana/issues/82479 has more comments

[2020-12-18 15:34] #70449 closed

[2020-12-18 15:35] kertal commented on #85048
dear @mattkime, I think labeling index pattern will be possible in the future? thx!

[2020-12-18 15:39] kertal commented on #81632
this was already fixed in unskipped recently

[2020-12-18 15:39] #81632 closed

[2020-12-18 15:44] weltenwort commented on #79288
My gut feeling is that we just need a few more hooks into the rendering process (such as the ability to provider a `renderRow` override or pass a ref to the table body to listen to scroll events) in order to implement our desired behavior. I wonder whether the EUI team would be opposed to cluttering the component's API in that way.

To determine whether it's worth it we should probably try to pred

[2020-12-18 15:47] weltenwort commented on #86471
Determining the current and total number of pages is very costly in terms of Elasticsearch query performance, so we opted for a more efficient prev/next pagination. What would be the use-case for a user jumping to page 42 if there's no way for them to predict what the content would be.

If we wanted to make it easier to find a specific entry in the table we might want to add additional filtering o

[2020-12-18 15:55] TinaHeiligers commented on #86460
@dgieselaar we can add this request to the list of improvements in https://github.com/elastic/kibana/issues/78869.
cc @joshdover

[2020-12-18 16:01] wylieconlon commented on #85893
@flash1293 I think it's already available in my PR- just added `min={1}`

[2020-12-18 16:03] jbudz commented on #86385
This will be available in 7.11.0 via https://github.com/elastic/kibana/pull/84364

[2020-12-18 16:09] nchaulet commented on #75236
@ph there as no specific issue for that but this was partially implemented here https://github.com/elastic/kibana/pull/84434 (adding the Healthy, unhealthy, updating status) There is no per integration status now as we postponed this and the status is still computed by Kibana and not reported by the agent so we do not have the Updating Policy status

[2020-12-18 16:13] sqren opened #86477 "[APM] Correlations Beta"
# Summary

Related design issue https://github.com/elastic/apm/issues/302

# Design solution

https://user-images.githubusercontent.com/4104278/102927989-451a4780-4498-11eb-8164-3450efc72a07.mp4

### Testing
 - [ ] Validate the feature against more realistic data like DPP or the [chaos environment](https://github.com/elastic/observability-robots/issues/83).

### Technical
 - [ ] Add support for me

[2020-12-18 16:13] elasticmachine commented on #86477
Pinging @elastic/apm-ui (Team:apm)

[2020-12-18 16:15] sqren opened #86478 "[APM] Transactions list page overhaul"
# Summary

Related design issue https://github.com/elastic/apm/issues/358

This issue is part of multiple updates and enhancements to the Transactions experience in the APM app. By way of the new Service overview, we're adding some new elements to the list and group detail views and moving the Trace viewer (waterfall, metadata, and logs) into a dedicated view that will enhance the trace analysis e

[2020-12-18 16:15] elasticmachine commented on #86478
Pinging @elastic/apm-ui (Team:apm)

[2020-12-18 16:20] ryankeairns commented on #17298
@MichaelMarcialis we might be able to fold those advanced settings page changes in with the user personalization/settings project. It sounds like that project has the potential to generate changes in this area anyway (e.g. to communicate that user settings may override global settings, etc.)

[2020-12-18 16:21] ferullo commented on #77964
FWIW, user's are seeing that Winlogbeat does not group with other Elastic products on the hosts page.

https://discuss.elastic.co/t/endpoints-are-enrolling-stuck-message/258599/12

[2020-12-18 16:34] mbarretta commented on #17298
I don't know if this would be an outcome, but non-admin users should *not* be able to change the header/footer banner if it's to comply with NIST 800-53 controls.

[2020-12-18 16:40] trentm commented on #86460
A slight terminology correction. It has to be in a separate async operation (i.e. a separate task on the libuv event loop), which is different than a callstack frame (a separate function call).

[2020-12-18 16:42] mbarretta commented on #17298
@pgayvallet
For my folks, a single value for these banners will be set at install time and remain the same for the life of the cluster (though there is a tiny chance they would need to update the text due to some change in regulation). So, setting once via `kibana.xml` and eschewing the UI is okay.

Polled other folks on the Fed team and haven't had anyone disagree with ^^ so far.

[2020-12-18 16:43] katrin-freihofner commented on #86471
I see. That makes sense. I see two options to improve this:
1. Having a "Show more" button at the end that expands the list with the next 50? elements.
2. Not using a specific page number but next and previous buttons

What do you think about these options?

[2020-12-18 16:45] andrewvc opened #86485 "[Uptime] Remove map from Uptime details page"
The map view of monitor locations in the Uptime app doesn't provide much value vs. the list with availability and recency. I propose we consider removing it unless someone can name a use case that still makes it useful. The only value it adds is showing exact locations on a map, which is useful if the location names are not descriptive enough. I think this is probably pretty rare.

CC @drewpost @k

[2020-12-18 16:45] elasticmachine commented on #86485
Pinging @elastic/uptime (Team:uptime)

[2020-12-18 16:52] aky1286 commented on #84804
<img width="1091" alt="elastic-agent-logs" src="https://user-images.githubusercontent.com/68090439/102639657-5de8cd00-4127-11eb-9077-55f3d902fab5.png">

Here is the elastic-agent log as requested. Picked out logs at and around the times of the elastic-endpoint logs I posted previously.

[2020-12-18 16:55] ravikesarwani commented on #83309
Can we revisit this for 7.12?
Looks like we have issues with Kibana and APM (its working but it maybe accidental because of an oversight) in ESS.
For ESS we need to solve the issue working with the Cloud team.

Beats is another area which is not affected by ESS and this alert may really be helpful.
My take is in Kubernetes environment this maybe noisy.

We need to discuss in 7.12 timeline and see

[2020-12-18 17:11] alvarezmelissa87 opened #86487 "[Meta] [ML] DF Analytics map: improvements"
Follow up to original meta issue https://github.com/elastic/kibana/issues/75295

### Map
- [ ] Map action icon should be all one color

### Tests
- [ ] Additional API integration tests to cover model list and more complex flows

### Known issues to fix
- [ ]  With narrow nodes the labels get hidden when there are many leaf nodes from one parent node.
- [ ] cytoscape options - background image prop

[2020-12-18 17:11] elasticmachine commented on #86487
Pinging @elastic/ml-ui (:ml)

[2020-12-18 17:12] alvarezmelissa87 commented on #75295
All left over items have been moved to a follow up meta issue: https://github.com/elastic/kibana/issues/86487

Please add any additional feedback there

[2020-12-18 17:12] #75295 closed

[2020-12-18 17:15] paulb-elastic commented on #86485
Is it causing us an issue, and so we want to remove it?  A use case I can imagine would be to see failures from clusters in specific regions, e.g. is the website only down to visitors from Europe?  Wouldn't the map view make that easier to determine?

[2020-12-18 17:16] #85088 closed

[2020-12-18 17:36] igoristic commented on #86339
Thank you @liza-mae! Looking into this now.

Can you please post the API response of the route that looks like this:
[code]
This is called after you click on the `main` pipeline to go to its details page. Notice it's not `.../logstash/pipelines`, but rather `logstash/pipeline/main`

And, also your `logstash.yml` and `pipelines.yml`

[2020-12-18 17:42] Bamieh commented on #84141
I started testing `Multiple instances upgrading in parallel`

I created a bash script to help me run multiple kibanas in parallel without much hassle.

I added full details on how to run the script in the file header as well.

<summary>parallel.sh</summary>

[code]

[2020-12-18 17:52] tsullivan commented on #17950
With SearchSource from @elastic/kibana-app-services available on the server side, it is now possible to re-create the query and tabify the search results using the reporting framework. The formatting of the data can easily(?) be the same in a report as it is seen in the browser. Once Reporting is able to access the raw table data, it could support CSV or PDF exports for the table data.

I think th

[2020-12-18 18:05] mikeh688 commented on #17950
SearchSource sounds like something internal. So, your post sounds like great news and what does it mean in terms of something being available in release form that enables paged tables to be distributed in pdf reports? thanks Mike

[2020-12-18 18:13] tsullivan commented on #17950
@mikeh688 Hi, thanks for asking!

`Feature:Reporting` is owned by a larger team of devs that also maintain "SearchSource" which is a configuration scheme for searches that is becoming more and more ubiquitous in Kibana. The larger pool of resources and expertise means this can be worked on in the short term.

I have added this issue to a project board for App Services, and it will be discussed in

[2020-12-18 18:16] mikeh688 commented on #17950
Tim - thanks and great news that this is heading towards resolution.

[2020-12-18 18:40] jasonrhodes opened #86501 "[Metrics UI] Replace custom query bar with shared QueryStringInput"
Based on the work done in elastic/kibana#85973, we should replace our custom auto-complete KQL query bar with this same shared input.

AC:
* QueryStringInput is used in all places in the Metrics UI where we currently use our own, custom auto-complete KQL query bar

[2020-12-18 18:40] elasticmachine commented on #86501
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-18 18:43] elasticmachine commented on #86435
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-18 18:44] pmuellr opened #86504 "typo in message: xpack.actions.enabledActiontypes"
Typo here:

https://github.com/elastic/kibana/blob/d73af3282f6cf9c9f8520999982c5085db4a7cb4/x-pack/plugins/security_solution/public/cases/components/use_push_to_service/helpers.tsx#L38

Should be:

    xpack.actions.enabledActionTypes (capital T on Types)

not

    xpack.actions.enabledActiontypes

via [Elastic Stack Community Slack message](https://elasticstack.slack.com/archives/CRTSV34RK/p16083

[2020-12-18 18:49] sqren opened #86506 "[Alerting] Improved type check for action variables"
Type: enhancement
Priority: Low

---

Currently it's easy to mess up the action variables by forgetting to either
1. declare action variables in `actionVariables.context` (1)
2. specify the value for declared action variables `alertInstance.scheduleActions` (2)

## ✅ Correct
The following declares action variables and specifies their values correctly:
[code]

## ❌ Incorrect
In the following the ac

[2020-12-18 18:49] elasticmachine commented on #86506
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-18 19:00] arisonl opened #86507 "Action on status-change failing in Logs alerts"
**Kibana, Elasticsearch, Filebeat version:** 7.11 BC1

**Describe the bug:** Setting up a phrase match log alert with "Notify every" set to "Run only on status change" causes the notification to be sent repeatedly, after the status change occurs.

**Steps to reproduce:**
1. Set up a log alert that counts phrase matches within a time window. The alert is triggered when the phrase match count exceed

[2020-12-18 19:00] elasticmachine commented on #86507
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-18 19:00] elasticmachine commented on #86507
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-18 19:08] TinaHeiligers commented on #83124
@joshdover
There is tight coupling between the `usage_collection` plugin, the `telemetry` plugin and the `telemetry_collection_manager` and we cannot migrate one without migrating the others.
More specifically, removing the legacy ES Client from `usage_collection` also involves removing the legacy client from the `bulkFetch` method.
`bulkFetch` is passed down through `registerCollection` in the `t

[2020-12-18 19:11] sqren opened #86511 "[APM] 7.11 Test plan"
The 7.11 test plan consists of:
 - [~PRs created before FF~](https://github.com/elastic/kibana/pulls?q=is%3Apr+label%3Av7.11.0+label%3Aapm%3Atest-plan-done+created%3A%3C%3D2020-12-18+) (DONE)
 -  3 road map goals (DONE)
 - [PRs create after FF](https://github.com/elastic/kibana/pulls?q=is%3Apr+label%3Av7.11.0+-label%3Aapm%3Atest-plan-done+no%3Aassignee+label%3Aapm%3Atest-plan-7.11.0)

### Road map

[2020-12-18 19:14] nreese commented on #62769
Closing. settings have been added.

[2020-12-18 19:14] #62769 closed

[2020-12-18 19:17] nreese commented on #61440
Closed by https://github.com/elastic/kibana/pull/72129

You can turn on auto fit to bounds which will automatically in the map on filtering

[2020-12-18 19:17] #61440 closed

[2020-12-18 19:18] nreese commented on #60917
Closing, I don't see us doing anything with this in the near to mid term

[2020-12-18 19:18] #60917 closed

[2020-12-18 19:18] kobelb commented on #82027
I like this approach. When a saved-object type is hidden, we want to restrict all access to these saved-objects to go through the custom client. If we automatically made these hidden types accessible with the plugin, this weakens that protection.

[2020-12-18 19:20] nreese commented on #80113
Closing, duplicate of https://github.com/elastic/kibana/issues/59751

[2020-12-18 19:20] #80113 closed

[2020-12-18 19:22] mikecote commented on #70169
Some notes from the 7.12 planning session

@peterschretlen

@pmuellr

[2020-12-18 19:22] nreese commented on #55126
Closing, not seeing this being worked on in the near to mid term

[2020-12-18 19:22] #55126 closed

[2020-12-18 19:24] nreese commented on #53695
Closing, can filter by geometry by loading shapes as a layer and then clicking "filter by geometry" in tooltip

[2020-12-18 19:24] #53695 closed

[2020-12-18 19:31] mikecote commented on #70169
Moved from `8.x - Candidates` to `To-Do` in order to start working on this in 7.12.

[2020-12-18 19:32] mikecote commented on #80120
Moved from `Discuss` to `To-Do` in order to start working on this in 7.12.

[2020-12-18 19:49] rylnd commented on #86263
Did a little git spelunking for context and found [this comment](https://github.com/elastic/kibana/pull/77395/files#r491480959) in the initial PR.

[2020-12-18 19:58] liza-mae opened #86514 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js - timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for split argument when index pattern set"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js**
**Stack Trace:**
[code]
**Other test failures:**
- timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for metric argument when index pattern set

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf

[2020-12-18 19:58] liza-mae opened #86515 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·js - dashboard app using current data dashboard filter bar filter editor field list shows index pattern of vis when one is added"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter with non-exis

[2020-12-18 19:58] liza-mae opened #86516 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·js - dashboard app using current data dashboard view edit mode shows lose changes warning and loses changes on confirmation when a filter is deleted"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86517 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·js - dashboard app using legacy data dashboard listing page search by title loads a dashboard if title matches"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title preloads search filter bar when there is no match

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport

[2020-12-18 19:58] liza-mae opened #86518 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - machine learning data visualizer index based with farequote index pattern displays index details"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning data visualizer index based with farequote KQL saved search displays index details
- machine learning data visualizer index based with farequote lucene saved search displays index details

 _Tes

[2020-12-18 19:58] liza-mae commented on #76456
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/enable_monitoring/index·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86519 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/user_email·js - security app useremail click changepassword link, change the password and re-login"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/user_email·js**
**Stack Trace:**
[code]
**Other test failures:**
- security app useremail login as new user with changed password

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86520 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/change_password·ts - apis security Change password should reject password change if current password is wrong"
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/change_password·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis security Change password should allow password change if current password is correct

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86521 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_management/data_streams·ts - apis management index management Data streams Get includes stats when provided the includeStats query parameter"
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_management/data_streams·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis management index management Data streams Get returns a single data stream by ID

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86522 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/snapshot_restore/snapshot_restore·ts - apis management Snapshot and Restore Snapshot Lifecycle Management "before all" hook in "Snapshot Lifecycle Management""
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/snapshot_restore/snapshot_restore·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae commented on #84989
**Version: 7.11.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/network_policy·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae commented on #63033
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·js**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  tile map visualize app complete config "before all" hook in "complete config"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae commented on #63034
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_region_map·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:58] liza-mae opened #86523 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·js - dashboard app using current data dashboard data-shared attributes "before all" hook for "should have time picker with data-shared-timefilter-duration""
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:59] liza-mae commented on #76181
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 19:59] liza-mae opened #86524 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts - dashboard app using current data legacy urls kibana link redirect resolves markdown link"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1050/testReport/_

[2020-12-18 20:01] elasticmachine commented on #86524
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:02] #84562 closed

[2020-12-18 20:02] elasticmachine commented on #86523
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:03] elasticmachine commented on #86521
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-18 20:03] elasticmachine commented on #86522
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-18 20:04] elasticmachine commented on #86520
Pinging @elastic/kibana-security (Team:Security)

[2020-12-18 20:05] elasticmachine commented on #86519
Pinging @elastic/kibana-security (Team:Security)

[2020-12-18 20:05] elasticmachine commented on #86517
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:05] elasticmachine commented on #86518
Pinging @elastic/ml-ui (:ml)

[2020-12-18 20:06] elasticmachine commented on #86516
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:06] elasticmachine commented on #86515
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:06] elasticmachine commented on #86514
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-18 20:06] EricDavisX commented on #85954
validated that 7.11 BC1 (and 8.0/master) have the RPM / DEB deploy instructions text change.  As noted, we can evaluate if we want to leave this open for more UX review + discourse or close it out as fixed

[2020-12-18 20:08] elasticmachine commented on #86515
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-18 20:08] elasticmachine commented on #86516
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-18 20:09] elasticmachine commented on #86517
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-18 20:09] elasticmachine commented on #86523
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-18 20:09] elasticmachine commented on #86524
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-18 20:16] myasonik opened #86528 "Kibana layout service/components"
Thinking about improving page layout for Kibana, there are several a11y issues around it that could be eliminated through a stricter layout service or series of components.

For a generic page setup:
- Could guarantee `main` and `h1`
	- Would be helpful to have a consistent place to jump to (https://github.com/elastic/kibana/issues/38980) and would solve focus order (number 3 in https://github.com

[2020-12-18 20:18] elasticmachine commented on #85876
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-18 20:22] dgieselaar commented on #86460
Slightly gross, but we can also use the stack trace to get a name so we don't have to name our searches:

![image](https://user-images.githubusercontent.com/352732/102657774-9663c780-4176-11eb-8743-bea399af2be0.png)

That requires some knowledge about which specific function in the stack trace would be a good name for the search, which we can probably do for APM, but likely not in a way that it wo

[2020-12-18 20:26] #81761 closed

[2020-12-18 20:43] liza-mae opened #86533 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/index.ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type text "is not in list" operator will return 1 result if we have a list that excludes 1 text"
**Version: 7.11.0**
**Class:  X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/index.ts**
**Stack Trace:**
[code]
**Other test failures:**
It appears all the tests in this file failed, so the job aborted since it timed out - these look to be new tests from 7.10.   There are about **70+ failures** he

[2020-12-18 20:51] ryankeairns commented on #17298
Nope, just suggesting that we'd be working in that section of Kibana on another project.

[2020-12-18 20:59] #82733 closed

[2020-12-18 21:08] kmartastic commented on #85914
Hey @felix-lessoer -- love to hear more.

[2020-12-18 21:09] ymao1 commented on #86507
This also seems to happen if you set a throttle value (even a larger value like `1h`), you will still get Recovered messages at the alert schedule interval.

I do not see the same behavior for the Stack Alert Index Threshold Alert.

I think this is related to the recent addition of the built in recovered action group [PR](https://github.com/elastic/kibana/pull/82799). I see in the `executor` funct

[2020-12-18 21:36] gogochan commented on #84804
@aky1286, based on the log, it doesn't seem like Agent is realizing that Endpoint is unable to connect it. First, let's make sure that there's nothing else listening or blocking `localhost:6789` on that system. `sudo netstat -lntp | grep 6789`. Agent should be listening on both `localhost:6788` and `localhost:6789`

If the agent is listening on both address, you may want to refresh the policy assi

[2020-12-18 21:47] willemdh commented on #62770
See also https://discuss.elastic.co/t/canvas-group-by-month-with-chronological-order/259066/2

[2020-12-18 21:55] kibanamachine opened #86543 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security global dashboard & embeddable all privileges "before all" hook for "allows a visualization to be edited""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #86213
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #86214
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86544 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/copy_to_space·ts - spaces api with security copy to spaces user with no access from the default space single-namespace..."
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86545 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/copy_to_space·ts - spaces api with security copy to spaces user with no access from the default space single-namespace types "after each" hook for "should return 403 when copying to space without conflicts or references""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #86221
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #80446
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86546 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/upgrade_assistant/upgrade_assistant·ts - Upgrade checkup Upgrade Checkup "before all" hook for "allows user to navigate to upgrade checkup""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #52465
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86547 "Failing test: "before all" hook for "Correct incident fields show when connector is changed" - Cases connector incident fields "before all" hook for "Correct incident fields show when connector is changed""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86548 "Failing test: "before all" hook for "Host stats render with correct values" - Overview Page "before all" hook for "Host stats render with correct values""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:55] kibanamachine opened #86549 "Failing test: "before all" hook for "Sorts by activated rules" - Alerts detection rules "before all" hook for "Sorts by activated rules""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86550 "Failing test: "before all" hook for "Exports a custom timeline template" - Export timelines "before all" hook for "Exports a custom timeline template""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86551 "Failing test: "before all" hook for "Configures a new connector" - Cases connectors "before all" hook for "Configures a new connector""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86552 "Failing test: "before all" hook for "adds correctly a filter to the global search bar" - SearchBar "before all" hook for "adds correctly a filter to the global search bar""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86553 "Failing test: "before all" hook for "navigates to the Overview page" - top-level navigation common to all pages in the Security app "before all" hook for "navigates to the Overview page""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86554 "Failing test: "before all" hook for "navigates to the Overview page" - Kibana navigation to all pages in the Security app "before all" hook for "navigates to the Overview page""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 21:56] kibanamachine opened #86555 "Failing test: "before all" hook for "Creates a timeline template" - Timeline Templates "before all" hook for "Creates a timeline template""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/15/)

[2020-12-18 22:01] kibanamachine opened #86556 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/timelion/feature_controls/timelion_security·ts - Timelion feature controls security "before all" hook in "feature controls security""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10379/)

[2020-12-18 22:09] andrew-goldstein opened #86560 "[Security Solution][Detections] Apply wildcards in value lists to exceptions"
Detection engine does not expand wildcards, for example `*.googleapis.com` in value lists when processing exceptions.

For example, a `Keyword` value list containing the following entry:

[code]

when applied as an exception to a rule with the following query:

[code]

will today, as of version `7.10`, not prevent alerts from being generated for the example rule above, even if a sample event conta

[2020-12-18 22:23] alexfrancoeur commented on #76778
@TinaHeiligers as part of your PR did we add any aliases or just the capability to register them? Also, how do they play with relevance ranking?

[2020-12-18 22:26] arisonl opened #86565 "On the guidance for setting up TLS for Fleet"
When setting up fleet, you may come across the following view:

<img width="841" alt="Screenshot 2020-12-17 at 22 12 19" src="https://user-images.githubusercontent.com/5412240/102665557-b488f200-418d-11eb-863d-07b2879de623.png">

This reads like setting `xpack.security.enabled` to `true` will set you up and running with Fleet. This is not accurate. You can set this setting to `true` both on the ES

[2020-12-18 22:26] elasticmachine commented on #86565
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-18 22:30] rw-access commented on #69166
I'm going to close this issue. Since tactics are now optional, I think this gives good enough flexibility, so we can focus efforts elsewhere. We can always reopen later if this is pressing

[2020-12-18 22:30] #69166 closed

[2020-12-18 22:39] andrewvc opened #86577 "[Uptime] Synthetics details page not showing error summary in history"
The error is supposed to appear below the timestamp for a synthetics results per the SS below. This was originally described in https://github.com/elastic/kibana/issues/80144 but seems not to have made it to 7.11

![image](https://user-images.githubusercontent.com/131427/102667668-913f5200-414f-11eb-9c47-2d5cc41c9401.png)

[2020-12-18 22:39] elasticmachine commented on #86577
Pinging @elastic/uptime (Team:uptime)

[2020-12-18 23:04] fbaligand commented on #17950
As you say @tsullivan, most of my Kibana clients ask to be able to have a Data Table content sent by mail every day, in CSV format, as an attachment.

[2020-12-18 23:09] #79990 closed

[2020-12-18 23:12] aky1286 commented on #84804
Thank you @gogochan for the write up and step by step!

I went ahead and tested and confirmed that the agent is listening on both ports. Then I went through each step confirming that it was no longer listening on port 6788. Also confirmed that the elastic-endpoint.yaml file was empty when I changed policy's to the new one, before going back to the policy we want with Endpoint Security.

Unfortunat

[2020-12-18 23:42] weltenwort commented on #86471
Both seem feasible with the first being slightly less code change than the second. :+1: "Show more" means that the browser will have to keep rendering all the previous entries, though, which might impact performance negatively.

[2020-12-18 23:58] TinaHeiligers commented on #76778
@alexfrancoeur I only added the capability to register them.
We decided to go for a reduced score when matching by keywords (a.k.a aliases), weighting the score 20% lower than a match by title.
We used the same algorithm to match by keywords as by titles, hence the simplistic approach of reducing the match-weight.

[2020-12-19 00:40] cjcenizal opened #86586 "7.11 Console overrides"
https://github.com/elastic/kibana/pull/86076 updates the Console autocomplete definitions for 7.11, but per @cuff-links we still need to check these files for overrides:

- [x] x-pack/plugins/console_extensions/server/lib/spec_definitions/json/generated/autoscaling.put_autoscaling_policy.json
- [x] x-pack/plugins/console_extensions/server/lib/spec_definitions/json/generated/eql.search.json
- [x] x

[2020-12-19 00:40] elasticmachine commented on #86586
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-19 00:53] #28298 closed

[2020-12-19 01:05] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/17/)

[2020-12-19 01:05] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/17/)

[2020-12-19 01:34] #82047 closed

[2020-12-19 03:20] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/18/)

[2020-12-19 03:20] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/18/)

[2020-12-19 03:39] MarcusCaepio commented on #58720
This issue got no attention since february so I don't think, they are working on this. I am also struggling with this, while I am building my new elastic cluster ;(

[2020-12-19 03:47] kibanamachine commented on #43963
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/401/)

[2020-12-19 04:09] cjcenizal commented on #86586
Note that the original PR was forward-ported to 7.x via https://github.com/elastic/kibana/pull/86590, so we need to apply these changes to both 7.x and 7.11.

[2020-12-19 05:07] pgayvallet commented on #85876
Which patch version exactly?

This should have been fixed by https://github.com/elastic/kibana/pull/82693, starting in 7.10.1 and 7.11 . Note that it can only match the prefix, so for `prod-firmware-service` , `prod-firm` would match but not `firmware-service`.

[2020-12-19 06:19] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/19/)

[2020-12-19 06:19] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/19/)

[2020-12-19 06:20] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/19/)

[2020-12-19 07:21] mzbtmshr commented on #1944
+1

[2020-12-19 07:51] dgieselaar opened #86591 "[APM] Transaction distribution chart sometimes shows very small buckets"
I was looking at some APM data from my own machine, with a relatively small amount of transactions for a selected time range, and noticed that refreshing the data sometimes leads to very small buckets:

![image](https://user-images.githubusercontent.com/352732/102684238-19b50580-41d7-11eb-9cbb-3674e618e4d2.png)

Another effect is that all buckets (wrongly) claimed to have no samples. It kind of lo

[2020-12-19 07:51] elasticmachine commented on #86591
Pinging @elastic/apm-ui (Team:apm)

[2020-12-19 08:04] nimaansary commented on #36260
what was the result?
in which version this feature will be added?

[2020-12-19 09:04] bhavinshah1086 commented on #9575
+1

[2020-12-19 09:43] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/20/)

[2020-12-19 09:43] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/20/)

[2020-12-19 09:43] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/20/)

[2020-12-19 11:46] SClovesgtx commented on #9507
+1

[2020-12-19 12:10] #82805 closed

[2020-12-19 18:28] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/21/)

[2020-12-19 18:28] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/21/)

[2020-12-19 18:28] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/21/)

[2020-12-19 20:43] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/22/)

[2020-12-19 20:43] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/22/)

[2020-12-19 22:58] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/23/)

[2020-12-19 22:58] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/23/)

[2020-12-19 22:58] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/23/)

[2020-12-20 00:05] kibanamachine commented on #82226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10405/)

[2020-12-20 01:38] kibanamachine opened #86598 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip_array·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type ip "is in list" operator will return 2 results if we have a list that includes 2 ips"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10518/)

[2020-12-20 01:38] kibanamachine opened #86599 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/long·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type long "after each" hook for "should filter 4 long if all are set as exceptions""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10518/)

[2020-12-20 08:18] kibanamachine opened #86602 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_discover·ts - discover app discover test query should modify the time range when the histogram is brushed"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10525/)

[2020-12-20 09:43] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/25/)

[2020-12-20 16:30] speedplane commented on #77372
I see these in the profiler, but is there any documentation on them? What do they mean?

![image](https://user-images.githubusercontent.com/671052/102718545-b5697300-42b6-11eb-8b0a-cdfdd6ad7327.png)

[2020-12-20 16:52] #61695 closed

[2020-12-20 18:36] jbudz commented on #86355
7.11: c2dd91d

[2020-12-20 18:37] jbudz commented on #85217
7.11: c5c9337

[2020-12-20 19:00] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/26/)

[2020-12-20 19:00] kibanamachine commented on #86355
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/26/)

[2020-12-20 19:00] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/26/)

[2020-12-20 20:19] lukeelmers commented on #80508
Circular deps in plugins owned by @elastic/kibana-app-services should now all be resolved as of https://github.com/elastic/kibana/pull/82791, so all that's left to unblock teams is adding the `tsconfig` for each of those plugins.

[2020-12-20 22:42] Kimderak commented on #30982
This feature would be very useful for us as well!

[2020-12-20 23:51] liza-mae commented on #86339
Hi @igoristic here is the info:

[code]

[code]

The ```pipelines.yml``` is unchanged it is what comes with default build.

The ```logstash.yml``` has
[code]

[2020-12-21 02:15] kibanamachine commented on #80104
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/405/)

[2020-12-21 05:45] tsullivan commented on #61741
We can have the refresh button show always, and have a spinner show inside the button when they click it, and also when results are loading automatically (data automatically loads and spinner automatically spins).

If it's possible, I would like to try to merge the Management app UI even if all of these capabilities aren't ready in the session client API.

The first phase has View and Delete as av

[2020-12-21 05:54] pavanp45 opened #86610 "Logstash to read data from cvs"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2020-12-21 07:41] ekr1362 commented on #22212
Fresh (newly installed) Kibana 7.10.1 failed to start unless I uncommented this in kibana.yml: (Windows 10, localhost)

`elasticsearch.hosts: ["http://localhost:9200"]`

[2020-12-21 07:51] dgieselaar commented on #81740
Canceling the request server-side will be handled by https://github.com/elastic/kibana/pull/86594. Canceling the request browser-side, e.g. when a component unmounts or when a new request starts is a little more complicated: `useFetcher` know when a component mounts/unmounts, but does not know anything about callApmApi. It's fixable but maybe some more work, I suggest we do that separately.

[2020-12-21 08:08] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10437/)

[2020-12-21 08:08] ruflin commented on #76841
There can be indeed conflicting input configs. I think we have 2 options here:

* Block the full policy to be shipped to all Elastic Agents
* Ship the full policy to all Agents but show a warning

I would rather go with the second approach and show a warning that not all Agents support parts of a specific integration.

For the locations on where should be shown what, here a brain dump:

* Which in

[2020-12-21 08:15] ruflin commented on #76843
I expect this to be set during enrollment time on the Elastic Agent side. An Elastic Agent defines if it can accept a different policy or not, not the policy.

[2020-12-21 08:17] simitt commented on #86462
Let me rephrase My comment from above was not quite right, rephrasing with a cite from the APM Server 8.0 vision doc:

[2020-12-21 08:18] ruflin commented on #86472
As soon as we have designs for the full flow, we can probably make decision on how the architecture change. At first I assume it should not be an issue of the code still is in Fleet for integrations and later extracted.

[2020-12-21 08:57] ruflin commented on #86565
@ph We should invest in all the docs around TLS for Fleet as this is a topic that comes up frequently.

[2020-12-21 09:27] austinsonger opened #86613 "[Security Solution][Alerts] - Detection Rule - Automated Action - Fails To Send Notification, Automatically Retries Until Successful"
**Describe the feature:**
Automated Action Retry

**Describe a specific use case for the feature:**

-  A automated action for a detection rule fails to send notification to Email, JIRA, or Etc. Automated action then automatically retries until successful  (If Possible)

[2020-12-21 09:47] dgieselaar opened #86614 "[APM] Some API calls happen without transaction.type"
When clicking on a service from the service inventory, and landing on the service overview page, the following requests do not have a transaction.type set:

Unexpected & should be fixed:
- ~~`/api/apm/services/{serviceName}/transactions/charts/error_rate` (is retried later with transaction type set)~~ Fixed here https://github.com/elastic/kibana/pull/86893

Expected:
- `/api/apm/services/opbeans-r

[2020-12-21 09:47] elasticmachine commented on #86614
Pinging @elastic/apm-ui (Team:apm)

[2020-12-21 09:49] austinsonger opened #86615 "[Security Solutions] Detection Alerts - Want To Only See that Alert"
# **Describe the feature:**
Detection Alert - Link to Exact Time of Detection Alert

# **Describe a specific use case for the feature:**

## JIRA Ticket - Detection Alert URL

![](https://i.imgur.com/joEbool.png)

## Elastic Detection Alert Rule
![](https://i.imgur.com/dnWGPmg.png)

[2020-12-21 09:50] formgeist opened #86616 "[Uptime] Synthetics: Link to step detail is broken in the list of checks"
Kibana version: `master`

# Summary

The timestamp link for each check is broken - the URL goes to `/step/details` but it says "Not found".

![Kapture 2020-12-21 at 10 44 29](https://user-images.githubusercontent.com/4104278/102763553-232aa300-437a-11eb-8242-f1ffc9a5cf08.gif)

[2020-12-21 09:50] elasticmachine commented on #86616
Pinging @elastic/uptime (Team:uptime)

[2020-12-21 09:54] formgeist opened #86617 "[Uptime] Synthetics: Breadcrumb link back to list of checks is not working"
Kibana version: `master`

# Summary

When viewing a waterfall visualization of a specific step, the Kibana breadcrumb shows a reference to the monitor name but it's not clickable. I would expect this to take me back to monitor detail.

![Kapture 2020-12-21 at 10 51 57](https://user-images.githubusercontent.com/4104278/102764054-d4c9d400-437a-11eb-8f33-310af311ef2c.gif)

[2020-12-21 09:54] elasticmachine commented on #86617
Pinging @elastic/uptime (Team:uptime)

[2020-12-21 09:59] dgieselaar opened #86618 "[APM] No data on the service transactions page renders blank screen"
If a user is on the service transactions page, and select something that returns no data, the throughput chart will barf and the whole screen will be blank:

![image](https://user-images.githubusercontent.com/352732/102764320-430e9680-437b-11eb-8b2a-6031c1e07e47.png)

You can reproduce this error by entering a query in the search bar that should give no hits.

The error:

    at getThroughputTimes

[2020-12-21 09:59] elasticmachine commented on #86618
Pinging @elastic/apm-ui (Team:apm)

[2020-12-21 10:01] ArturTrindade opened #86619 "Kibana Bar Chart: Provide an option to align data (horizontal : left, center or right, vertical : up, center, down) when values are being showned"
** Provide align option when "Show values on chart" is in use**
Currently, when one wants to show values in a bar chart the values are aligned in the center of the bar
![image](https://user-images.githubusercontent.com/7315472/102764424-050d7480-4373-11eb-9468-bea92e122b00.png)

An option to show values in the end of the bar (aligning the values on the right for horizontal bar charts, or on top fo

[2020-12-21 10:10] dikshachauhan-qasource commented on #86097
Hi @EricDavisX,

Please find the action_store.yml file here :
[action_store_yml.txt](https://github.com/elastic/kibana/files/5723149/action_store_yml.txt)

@ferullo
As per our observation, we have noticed that Endpoint logs show same behavior throughout not at just initial stage. Please let us know if anything else is required from our end.

Further, today we have noticed same behavior on agent on

[2020-12-21 10:35] weltenwort opened #86622 "[Logs UI] Investigate compatibility with the new `match_only_text` field type"
## Summary

The new `match_only_text` field type about to be introduced to Elasticsearch in elastic/elasticsearch#66172 offers a way to trade off storage and query performance for logging use-cases. We need to make sure the Logs UI works with mappings containing the new field type, especially for the `message` field.

## Acceptance criteria

- The API that returns log entries works the same for `m

[2020-12-21 10:35] elasticmachine commented on #86622
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-21 10:37] dgieselaar opened #86624 "[APM] Add APM app links to ML results"
ML supports adding custom URLs to anomaly results: https://www.elastic.co/guide/en/machine-learning/master/ml-configuring-url.html.

Some of our demos add a link to an APM service. We should consider doing this automatically as I've gotten some customer feedback that their users have trouble going from ML > APM and a link like this is very heplful.

Here's how a link like that looks, from one of o

[2020-12-21 10:37] elasticmachine commented on #86624
Pinging @elastic/apm-ui (Team:apm)

[2020-12-21 10:42] #81263 closed

[2020-12-21 10:43] jguay opened #86625 "[Security Solution][Detections] Action for each loop for Threshold detection rule"
**Describe the feature:**
At this moment alert and actions metric threshold allow to define an action per grouping field (currently limited to only one field per https://github.com/elastic/kibana/issues/86100), for example to get one email alert for each host
In Threshold detection rule, only one alert is triggered currently when defining a value for `Select a field to group results by`

**Describ

[2020-12-21 10:45] dgieselaar commented on #86624
A bunch of other jobs have predefined custom URLs, e.g. x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/decreased_throughput_nodejs.json.

[2020-12-21 11:28] weltenwort opened #86628 "[Logs UI] Make the individual tabs of the Logs UI available in the navigational search"
## Summary

Since elastic/kibana#83380 it is possible to register additional sub-links for applications to the navigational search. This allows us to offer direct navigation to the tabs in the Logs UI, which could increase the discoverability of the various features as well as offer a usability improvement for power users.

relates to elastic/kibana#86165

## Acceptance criteria

- The "Stream" ta

[2020-12-21 11:28] elasticmachine commented on #86628
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-21 11:36] #86262 closed

[2020-12-21 12:01] kibanamachine commented on #86602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10441/)

[2020-12-21 12:02] deepikakeshav-qasource opened #86634 "[Security Solution] Timelines text is displaying instead of "timeline templates" text when prebuilt rules are installed but the Timeline template is not installed."
**Description**
Timelines text is displaying instead of "timeline templates" text when prebuilt rules are installed but the Timeline template is not installed.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Endpoint security should be installed.

**Steps to Reproduce:**
1. Navigate

[2020-12-21 12:02] deepikakeshav-qasource commented on #86634
@manishgupta-qasource Please review

[2020-12-21 12:05] manishgupta-qasource commented on #86634
Reviewed & Assigned to @MadameSheema

[2020-12-21 12:17] #84665 closed

[2020-12-21 12:22] MadameSheema commented on #84610
@karanbirsingh-qasource @deepikakeshav-qasource can you please validate that this bug has been fixed on 7.11.0 - BC1? Thanks :)

[2020-12-21 12:22] MadameSheema commented on #85939
@karanbirsingh-qasource @deepikakeshav-qasource the fix for this bug will be available on BC2

[2020-12-21 12:22] MadameSheema commented on #86266
@karanbirsingh-qasource @deepikakeshav-qasource the fix for this bug will be available on BC2

[2020-12-21 12:23] peteharverson commented on #67180
@sqren with ML jobs being made space-aware from 7.11, we are now creating saved objects to act as wrappers around the Elasticsearch job object.

I wondered if the [Tags](https://github.com/elastic/kibana/issues/74571) functionality for Kibana saved objects might be a way to meet your requirements, but on first look I am thinking it won't be sufficient for your use case here as it only allows a nam

[2020-12-21 12:25] MadameSheema commented on #86634
ping @XavierM @angorayc

[2020-12-21 12:35] dgieselaar commented on #67180
@peteharverson I can't answer for @sqren, but IMHO it would be ideal if we have tags on anomalies, not just jobs. I'm looking into an issue where we are seeing the ML calls slowing down a request to 7s (from about 1.5s without it). One reason for this is because we do a capabilities call, then one to get the job ids, then another one to get the anomaly data for those jobs. Ideally we can just do o

[2020-12-21 12:37] MadameSheema opened #86638 "[Security Solution] Timeline changes are saved after clicking on "Close button""
**Describe the bug:**
When you are editing the Title and Description of a timeline, the changes are saved after clicking the `Close` button

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Timeline

**Preconditions:**
- To have a timeline saved

**Steps to reproduce:**
1. Open the opened timeline
2. Click on the pen

[2020-12-21 13:26] #85815 closed

[2020-12-21 14:02] #86440 closed

[2020-12-21 14:02] #85894 closed

[2020-12-21 14:13] #85823 closed

[2020-12-21 14:20] kibanamachine opened #86647 "Failing test: Jest Tests.x-pack/plugins/apm/public/components/app/ServiceMap - useCytoscapeEventHandlers when debug is enabled logs a debug message"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10555/)

[2020-12-21 14:44] chrisronline commented on #85057
Can you share their pipeline config from Logstash?

[2020-12-21 15:04] afgomez commented on #86439
Should this also affect the shared `<LogStream />` component?

[2020-12-21 15:11] #85644 closed

[2020-12-21 15:53] #84772 closed

[2020-12-21 15:53] jgowdyelastic commented on #84772
Fixed by #86436

[2020-12-21 15:55] kibanamachine commented on #69595
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/30/)

[2020-12-21 15:55] weltenwort commented on #86439
Oops, I messed up escaping the `<` in `<LogStream />`, so it wasn't rendered correctly in the description - sorry about that :see_no_evil:

[2020-12-21 16:00] paul-tavares commented on #79450
I'm wondering if the issue here (on the Endpoint list page) is that we see the table show up for a second or two, just to be then replaced with the onboarding screen. I saw this last week while I was setting up a cloud env. for the demos.

[2020-12-21 16:31] #82140 closed

[2020-12-21 16:32] #84058 closed

[2020-12-21 16:39] peteharverson commented on #55569
I tried to reproduce this on 7.11 by creating a user with the following roles:

- transform_admin
- custom transform_test role with index privileges:
  - `gallery-*` with `read`, `view_index_metadata`
  - `transform_gallery_*` with `create_index`, `index`
- kibana_admin

On navigating to the Transform details step, the user is shown an error toast, informing them of the necessary privileges that a

[2020-12-21 16:39] #55569 closed

[2020-12-21 16:56] #86279 closed

[2020-12-21 16:59] #83308 closed

[2020-12-21 17:03] kibanamachine commented on #86602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10446/)

[2020-12-21 17:10] sc7565 opened #86670 "ILM Policy does not show reflect correct replica settings in Warm phase"
**Kibana version: 7.10.1**

**Elasticsearch version:7.10.1**

**Server OS version:CentOS**

**Browser version: Chrome**

**Describe the bug:**

ILM Policy does not show reflect correct replica settings in Warm phase, actual ES does have correct number of replica's displayed

![image](https://user-images.githubusercontent.com/23261668/102802931-6fc7ab80-4385-11eb-8aef-f51bbd16a275.png)

Above shows

[2020-12-21 17:14] chrisronline commented on #83375
@robin13 Are you able to click the `Logstash Pipelines` link in the left nav to get the page to load?

[2020-12-21 17:20] tsullivan commented on #85252
Resolved in https://github.com/elastic/kibana/pull/85551

[2020-12-21 17:20] #85252 closed

[2020-12-21 17:24] ppf2 commented on #85876
Ah I was on 7.10.0.  Can confirm that 7.10.1 is working, thx!

[2020-12-21 17:24] #85876 closed

[2020-12-21 17:27] elasticmachine commented on #86602
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-21 17:27] jbudz commented on #86602
skipped
main: 256c8cd
7.x: 3d925d0

[2020-12-21 17:28] joshdover commented on #17298
Also not sure of the historical reason for this behavior. If we absolutely needed the ability to support default values that are overrideable per-Space, we could explore adding a `uiSettings.defaults.*` configuration option that behaves in this way. Implmentation-wise this probably isn't a huge change, but we would need to audit all Advanced Settings to make sure this behavior is acceptable and co

[2020-12-21 17:34] ThomThomson commented on #81360
Closed by https://github.com/elastic/kibana/pull/86193

[2020-12-21 17:34] #81360 closed

[2020-12-21 17:39] ThomThomson commented on #68562
https://github.com/elastic/kibana/pull/85688 transitions the embeddable state transfer service to use sessionStorage instead of the history state. This means that there is now no question that the state transfer service does not belong in core. Closing this.

[2020-12-21 17:39] #68562 closed

[2020-12-21 17:45] ymao1 commented on #84335
@felix-lessoer Any luck getting the event and Kibana logs for this?

[2020-12-21 18:02] kibanamachine commented on #86602
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10447/)

[2020-12-21 18:16] felix-lessoer commented on #84335
I was asking the customer but it looks like after upgrading to 7.10.1 the issue do not exist anymore. So we also dont have fresh logs.

[2020-12-21 18:16] chrisronline commented on #83309
Do we know how long until beats are supported in cloud?

[2020-12-21 18:32] bmorelli25 opened #86676 "[APM] Truncate long service names in Trace overview"
**Versions**
Kibana, APM Server, ES: `master` and `7.10`.

Not sure if truncation is the right answer here, but long transaction names overflow into other columns on the Traces overview page. Noticed in both 7.10 and master.

<img width="914" alt="Screen Shot 2020-12-21 at 10 10 31 AM" src="https://user-images.githubusercontent.com/5618806/102809808-7cdd9e00-4377-11eb-8a07-69c1854ebdcc.png">

[2020-12-21 18:32] elasticmachine commented on #86676
Pinging @elastic/apm-ui (Team:apm)

[2020-12-21 18:32] bhavyarm opened #86677 "Add library remains open for users to add panels on dashboards when they are not in edit dashboard"
**Kibana version:** 7.11.0 BC1

**Elasticsearch version:** 7.11.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  This is a fun bug. If user clicks on share option(for ex: for printing reports) on dashboard when add library is s

[2020-12-21 18:32] elasticmachine commented on #86677
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-21 18:43] ThomThomson commented on #86677
This is a funny issue - I am looking into it. Just confirmed that the add panel would stay open after saving in 7.10.1, and adding panels would show a success toast, but nothing would get added to the dashboard in view mode.

The most likely fix would be to close the add panel if it's open on save. I will see if that's possible. If so, it should probably be backported into 7.11.0 as well as 7.10.2

[2020-12-21 18:49] ymao1 commented on #84335
Are we good to close this issue then? If it crops up again, we can open a new issue?

[2020-12-21 18:51] cjcenizal commented on #77372
@speedplane Thanks for pointing out that they're showing up in Search Profiler! It looks like the info you're looking for is missing from our [docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-profile.html#_all_parameters_2) so I opened https://github.com/elastic/elasticsearch/issues/66709 to get that info added. Please follow that issue to be updated with progress.

In t

[2020-12-21 18:51] #77372 closed

[2020-12-21 18:54] #86328 closed

[2020-12-21 19:00] igoristic commented on #86339
Similar issue: https://github.com/elastic/kibana/issues/85057 in `7.10`

[2020-12-21 19:09] chrisronline opened #86683 "[Monitoring] Separate missing monitoring alert into an alert for each stack product"
Users will want to configure/disable this alert differently for each stack product.

As it stands, the only alert is only applicable for ES so we should reuse this one for ES and create new ones for Kibana, Logstash, Beats and APM

[2020-12-21 19:09] elasticmachine commented on #86683
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-21 19:17] #74897 closed

[2020-12-21 19:29] cjcenizal opened #86688 "Performance profiling Index Management under load"
## Background

I've noticed some users reporting errors loading Index Management lately (back-linked below the PR description):

* **7.10.1:** Kibana Error loading indices timeout after 3000ms
* **7.9.1**: OOMKilled Kibana instance on Kubernetes when accessing Index Management or Roles UI
* **7.8.0**: Kibana is not able to handle large number of indices, 500 error

I'm not certain of the cause of

[2020-12-21 19:36] ymao1 commented on #63367
Created a Server Log connector, created an alert that used the connector and the deleted the connector.

I managed the delete the connector after an alert successfully executed but before actions for that alert ran. Saw the following error in the kibana log
`server    log   [14:21:14.104] [error][plugins][taskManager] Task actions:.server-log "afbadbe0-43c1-11eb-97bf-0d3598c36edd" failed: Error: S

[2020-12-21 19:38] liza-mae commented on #86339
I was not able to reproduce on 7.10.1 on my case, the pipeline main page loads for me on 7.10.1 vs on 7.11.0 it fails each time.  Sometimes I have seen ```can not read property of 'graph' undefined``` but usually after a few minutes that clears, on 7.11.0 though it is left with ```Error: Unknown vertex class: plugin_vertex_PluginVertex```

7.10.1 screenshot:
![Screenshot from 2020-12-21 12-33-57](

[2020-12-21 19:44] ymao1 commented on #63367
I think the following improvements could be made:
1. Warn user before deleting connector if there are alerts using the connector
2. Fix the workflow when editing an alert with a deleted connector. The "Unable to load connector" warning message makes sense. When you create a connector with this workflow, the alert form should update to use this connector and enable the save button. If multiple acti

[2020-12-21 19:59] #86325 closed

[2020-12-21 20:11] chrisronline commented on #86339
This is a separate issue from https://github.com/elastic/kibana/issues/85057

[code]

This is the problem and this has come up before but it was fixed with https://github.com/elastic/logstash/pull/11779.

I'm not sure these vertex types should show up in the monitoring documents

cc @robbavey

[2020-12-21 20:15] chrisronline commented on #83309
I opened https://github.com/elastic/kibana/issues/86683 to track the work around creating separate alerts for each stack product to satisfy:

[2020-12-21 20:24] ymao1 opened #86695 "[Alerting] Unable to save when editing alert with multiple actions using deleted connector"
To reproduce:
1. Create an alert with multiple actions (I had 3) that use the same connector
2. Delete the connector used in (1)
3. Edit the alert created in (1)
4. Notice that there is a warning saying "Unable to load connector" but only 1 action is listed even though you created multiple actions with that connector.
5. Notice that the "Save" button remains disabled even if you delete the action

[2020-12-21 20:24] elasticmachine commented on #86695
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-21 20:27] cjcenizal opened #86696 "Refactor and optimize Console's retrieval of mappings for autocomplete"
Currently, Console retrieves mappings by sending a [raw `GET _mappings` request to ES](https://github.com/elastic/kibana/blob/master/src/plugins/console/public/lib/mappings/mappings.js#L299) via the original [hand-rolled ES proxy](https://github.com/elastic/kibana/blob/master/src/plugins/console/server/routes/api/console/proxy/create_handler.ts#L116). This has a few problems.

### Three separate r

[2020-12-21 20:27] elasticmachine commented on #86696
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-21 20:28] ymao1 opened #86697 "[Alerting] Provide indication of how many rules are using connector on Connector List view"
Currently, there is nothing on the Connector List view indicating how many alerts are using a certain connector. If a user deletes a connector, it causes the alert execution to error so it would be helpful to show on the list view whether the connector is being used. Additionally, it would be nice if the delete confirmation modal stated how many alerts were using a connector before deletion.

[2020-12-21 20:29] elasticmachine commented on #86697
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-21 20:33] ravikesarwani commented on #74821
Let's hold on work for this one as there's no real default threshold that would work for a threshold based alert.
This really needs to be a machine learning job, alerting on anomalies rather than a threshold based alert.

[2020-12-21 20:33] iamhowardtheduck commented on #84755
I saw this in 7.10.1 as well.

[2020-12-21 20:40] iamhowardtheduck opened #86701 "Winlogbeat index shows only metadata fields, @timestamp, & event.created"
**Kibana version:**
Tested on 7.10 & 7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**
Elastic & Kibana: Centos 7.9; Winlogbeat Windows 10 x64

**Browser version:**
Chome

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Windows zip

**Describe the bug:**
Documents exist, table visualization confirms data is there, Window

[2020-12-21 21:13] ravikesarwani commented on #74820
Apply only on the active shards - New data written in the last 7 days

[2020-12-21 21:17] tylersmalley commented on #86038
@gwbrown @pugnascotia I am not familiar with `SystemIndexManager`. To confirm, ES will handle the mapping update allowing the mapping update call to be removed from Kibana?

[2020-12-21 21:19] chrisronline commented on #86339
Actually, `type: queue` is a valid item in that document.

I have a new theory that something has changed with our minification/obfuscation logic for a production build.

[This code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/components/logstash/pipeline_viewer/models/pipeline/make_statement.js#L14) is looking at the class name for the vertex type and it should

[2020-12-21 21:22] felix-lessoer commented on #84335
Yes lets close it

ymao1 <notifications@github.com> schrieb am Mo., 21. Dez. 2020, 19:50:

[2020-12-21 21:58] andrewvc opened #86705 "[Uptime][User Experience] Replace all uses of `_source` with new `fields` API"
This tracks the implementation of the Project: Fields Effort https://github.com/elastic/kibana-team/issues/256  for Uptime and User Experience. We'll need to stop using `_source` an use the new `fields` API in ES.

It's important we get this in before 8.0

[2020-12-21 21:58] elasticmachine commented on #86705
Pinging @elastic/uptime (Team:uptime)

[2020-12-21 22:02] aaronjcaldwell opened #86706 "Search in frozen indices not included in TSVB when enabled in advanced settings"
**Kibana version:**

7.10

**Describe the bug:**

Frozen indices not included in TSVB

**Steps to reproduce:**
1. Enable Kibana > Advanced Settings > Search in frozen indices
2. Confirm frozen indices are not included in TSVB
3. Confirm frozen indices are visible in Discover

**Expected behavior:**

Frozen indices are included in TSVB

**Screenshots (if relevant):**

![image](https://user-images.g

[2020-12-21 22:02] elasticmachine commented on #86706
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-21 22:03] alexfrancoeur commented on #85804
+1 on Search Sessions from me as well 👍

cc: @VijayDoshi for visibility

[2020-12-21 22:12] elasticmachine commented on #86619
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-21 22:14] bhavyarm opened #86707 "[SO Tagging] Deleted tags (deletion from saved object table) needs a refresh before they are gone from dashboard or visualize listing table"
**Kibana version:** 7.11.0 BC1

**Elasticsearch version:** 7.11.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** Firefox latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user adds and then deletes saved object tags from stack management - user needs to refresh Kibana on dashboard

[2020-12-21 22:14] elasticmachine commented on #86707
Pinging @elastic/kibana-core (Team:Core)

[2020-12-21 22:22] dsmith001 commented on #85804
I really like the reasoning on this.  Do my below examples/phrases accurately capture how we think this new name will be used?

Example 1:
- **Previous**: "Send a query to the background in Kibana 7.12"
- **Proposed**: "Move a search session to the background in Kibana 7.12"

Example 2:
- **Previous**: "Manage all of your background queries in a new centralized interface in Kibana 7.12"
- **Propos

[2020-12-21 22:34] tylersmalley opened #86709 "Failing ES Promotion: detection engine api security and spaces enabled Generating signals from source indexes Signals from audit beat are of the expected structure EQL Rules generates signals from EQL sequences in the expected form"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1948/execution/node/468/log/

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

[2020-12-21 22:34] elasticmachine commented on #86709
Pinging @elastic/siem (Team:SIEM)

[2020-12-21 22:36] bhavyarm opened #86710 "Tags description box needs a warning to tell the user about accepted length of string"
**Kibana version:** 7.11.0 BC1

**Elasticsearch version:** 7.11.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** From staging

**Describe the bug:** Tags description box looks big but has a limit on no of characters user can use. But there is no indication of this

[2020-12-21 22:36] elasticmachine commented on #86710
Pinging @elastic/kibana-core (Team:Core)

[2020-12-21 22:39] joshdover commented on #83124
Got it, thanks for the update. Any reason to think we should delay this? I suspect not since we need to do it anyways and I don't believe any other 7.12 work you have is needed more urgently.

[2020-12-21 22:49] joshdover commented on #86165
Absolutely that should work, `appUpdater$` is very generic and can be updated in any you see fit and search will adapt.

That said, we also need to consider how these non-link results are presented to the user. We have a similar issue open for adding non-SO user data to search (#74283) but there hasn't been much discussion on what that will actually look like. For the APM services use case, I pers

[2020-12-21 22:51] joshdover commented on #86165
One concern is adding more weight to the initial page load by adding another request to the Kibana backend + Elasticsearch. Another way we could accomplish this is by having the APM plugin register its own search result provider for services that will only be called on-demand when the user starts typing in search.

[2020-12-21 23:07] cjcenizal commented on #86403
@yuliacech Thanks for the explanation! Is the Fleet team already aware of this? If not would you mind getting this onto the Fleet team's radar, so they can decide whether or not they want to or are able to make any changes to apply `managed-by:ingest-manager` to these data streams?

[2020-12-21 23:20] graphaelli opened #86716 "kibana docker container won't start"
**Kibana version:** 8.0.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):** docker

**Describe the bug:**

Kibana container won't start with default config

**Steps to reproduce:**
1. `docker run --rm -it docker.elastic.co/kibana/kibana:8.0.0-SNAPSHOT `

[code]

**Expected behavior:** container starts like it used to

**Any additional context:**

Maybe https://git

[2020-12-21 23:29] elasticmachine commented on #86716
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-22 00:04] #84335 closed

[2020-12-22 00:11] ferullo opened #86719 "[Security Solution] Antivirus vs Anti-virus"
**Describe the bug:**
Some places in the Security App use the spelling "antivirus" and others use "anti-virus". For what it's worth, the internet seems to broadly agree it's "antivirus".

If we decide to keep the hypen some changes to Elastic Endpoint are needed.

**Kibana/Elasticsearch Stack version:**
7.11.0 BC1

**Server OS version:**
Any

**Browser and Browser OS versions:**
Any

**Elastic End

[2020-12-22 00:17] #86701 closed

[2020-12-22 00:17] iamhowardtheduck commented on #86701
Opened in error

[2020-12-22 04:09] tvernum commented on #77966
We should be recommending `manage_own_api_key` rather than `manage_api_key`.
The latter allows the user to access & revoke all API keys in the cluster, which is not required here.

[2020-12-22 07:44] felix-lessoer commented on #85914
I created a Canvas Board that looks like this:
![APM Canvas](https://user-images.githubusercontent.com/35069463/102861539-22544880-4430-11eb-9774-2206fe2a79a4.PNG)

This dashboard is adaptive based on services that are observed with Elastic APM. Each panel is showing metrics from one service. If there are less than 16 services the panel is grey. The idea is to make it shareable with other users wi

[2020-12-22 07:49] felix-lessoer commented on #46024
@kmartastic What's your opinion about this issue? Based on my experience talking to various canvas users this would enable a lot more useful use cases for canvas.
Think about users that have the canvas in kiosk mode on their tablets. They wanna be able to interact with it like pressing buttons and trigger APIs.

[2020-12-22 07:54] felix-lessoer commented on #43532
This is related: #46024

[2020-12-22 07:56] felix-lessoer commented on #42433
#85914

[2020-12-22 08:08] Lolo-Flamingo opened #86723 "[MAP] Add a North arrow and bar scale on map visualisations"
**Describe the feature:**
Add a dynamic barscale (work also by zooming  in) and the north arrow on a map visualisation, as layer.

Every maps must contain these basics informations!

**Describe a specific use case for the feature:**

we need to have the scale on the map to have an idea of the distance between point and location, to be able to measure it on a screen shot (a.e: A bar scale with the

[2020-12-22 08:34] #86618 closed

[2020-12-22 08:51] karanbirsingh-qasource opened #86726 "[Security Solution][Register as Antivirus] Policy failure on manually enabling the defender while "Register as Anti-Virus" is turned ON under endpoint policy"
**Describe the bug**
[Register as Antivirus] Policy failure on manually enabling the defender while "Register as Anti-Virus" is turned ON under endpoint policy

**Build Details:**
[code]

[8.0.0-SNAPSHOT-Artifact Page](https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT)

**Browser Details**
All

**OS**
windows 10 (1909) 64 bit

**Preconditions**
1. Elastic Cloud environment should be availa

[2020-12-22 08:57] Lolo-Flamingo opened #86727 "[Dashboard -Visu- Map] use the same coloring for the same field on a dashboard"
**Describe the feature:**
On a dashboard, it should be the same color for the same entity on the different visualization.
if you split the data, the coloring should be the same between all the visualisations (map, barplot, TSVB) on a same dashboard. so that we only need a color-legend!

**Describe a specific use case for the feature:**
if IP=x is blue on a barplot splitted by serie, it should be t

[2020-12-22 09:01] elasticmachine commented on #86556
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:02] elasticmachine commented on #86459
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:02] jguay opened #86728 "[TSVB] Sorting for table values is broken when filter is applied"
**Kibana version:**
7.10.1
**Describe the bug:**
Sorting fails when applying a filter in TSVB table - probably similar bug as https://github.com/elastic/kibana/issues/24243 though there is no `time shifting`
**Steps to reproduce:**
1. Create sample data :
[code]
2. Create TSVB table by url - sorting is working ok
![image](https://user-images.githubusercontent.com/19236038/102829001-fd36ea00-43dd-1

[2020-12-22 09:05] flash1293 opened #86729 "Clean up and refactor expression renderer component"
As discussed in https://github.com/elastic/kibana/pull/86092#pullrequestreview-555335149, over time the expression renderer component exposing the expression loader as a react component grew into a complex interaction of hooks which are hard to reason about.

To keep the code manageable, this should be cleaned up.

This refactoring can be started with (but isn't limited to):
* refactor out debounc

[2020-12-22 09:05] elasticmachine commented on #86729
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-22 09:05] elasticmachine commented on #86729
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:19] elasticmachine commented on #86727
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:19] elasticmachine commented on #86727
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-22 09:21] flash1293 commented on #86727
I'm currently working on this for Lens visualizations here: https://github.com/elastic/kibana/pull/86180

But it won't cover maps (although I think that's a great idea). @nreese any appetite to implement this for maps as well? Once the PR above lands, it's about integrating the `charts` palette service and the `synColors` flag from embeddable input.

[2020-12-22 09:22] elasticmachine commented on #86728
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:26] darnautov commented on #86160
hey @tylersmalley! We couldn't reproduce this issue with the latest master. Also verified it works as expected with the 7.11. Is it possible that there was a temp issue with the EUI data grid component?

[2020-12-22 09:29] axxyhtrx commented on #9575
+1

[2020-12-22 09:30] flash1293 opened #86731 "Visualize charts flicker on each change"
**Kibana version:** 7.11

**Describe the bug:** When changes are applied to a visualization in the editor, the chart flickers briefly

**Steps to reproduce:**
1. Go to Visualize
2. Configure a chart
3. Click apply (or refresh)
4. Chart flickers

**Expected behavior:**
Chart should get updated without flickering

**Screenshots (if relevant):**
![flickering](https://user-images.githubusercontent.com

[2020-12-22 09:30] elasticmachine commented on #86731
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:35] flash1293 opened #86735 "Advanced input does not work for visualizations"
**Kibana version:** 7.11

**Describe the bug:** It seems like advanced JSON added to ~~the moving average aggregation~~ **any** aggregation is no longer applied to the request

**Steps to reproduce:**
1. Go to Visualize area chart
2. Configure date histogram on x axis
3. Configure moving average of count on the y axis
4. Add advanced JSON `{ "window": 999 }`
5. Apply
6. Chart does not change
7. Ch

[2020-12-22 09:35] elasticmachine commented on #86735
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-22 09:35] elasticmachine commented on #86735
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 09:43] muskangulati-qasource opened #86736 "[Security Solution] "Windows Defender" is showing as a security service along with "Elastic Endpoint Security" when "Register as Anti-Virus" is enabled"
**Describe the bug**
"Windows Defender" is showing as a security service along with "Elastic Endpoint Security" when "Register as Anti-Virus" is enabled.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.

[2020-12-22 09:46] muskangulati-qasource opened #86737 "[Security Solution] Rebranded of "Elastic Endpoint Security" under security services."
**Describe the bug**
Rebranded of "Elastic Endpoint Security" under security services

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Security from the left na

[2020-12-22 09:48] muskangulati-qasource commented on #86736
@manishgupta-qasource Please review!!

[2020-12-22 09:48] muskangulati-qasource commented on #86737
@manishgupta-qasource Please review!!

[2020-12-22 09:55] stratoula commented on #16931
The new chart implementation will solve this. For example a multi buckets pie chart will be displayed as:
<img width="1723" alt="Screenshot 2020-12-22 at 11 53 51 AM" src="https://user-images.githubusercontent.com/17003240/102875420-70774500-444c-11eb-928f-dc2b5d235dbd.png">

[2020-12-22 09:57] simioa opened #86738 "[APM]Internal Server error when opening a Service and selecting an Environment when no Space ML privileges are assigned"
**Versions**
Kibana: 7.10.1
APM Server: 7.10.1
Elasticsearch: 7.10.1

When an User without Space ML Privileges opens a Service in the APM Service Overview and selects an Environment, an Internal Server Error (500) is thrown and the "Transaction duration" and "Requests per minute" Visualizations do not show any data.

Furthermore, this is loggend in Kibana:

GET /api/apm/services/[redacted]/transac

[2020-12-22 09:57] elasticmachine commented on #86738
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 09:59] #86738 closed

[2020-12-22 10:05] deepikakeshav-qasource opened #86740 "[Security Solution]Badge that contains number not appear over the timeline at the bottom, to indicate the draggable was added to the query."
**Description**
The badge that containing the number not appear over the timeline at the bottom to indicate the draggable was added to the query.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the Overview page of security.
2. Start dragging a (

[2020-12-22 10:05] deepikakeshav-qasource commented on #86740
@manishgupta-qasource Please review

[2020-12-22 10:07] muskangulati-qasource opened #86741 "[Security Solution] User is not able to delete & export the Exception added under the Exception list tab"
**Describe the bug**
User is not able to delete & export the Exception added under the Exception list tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Host should be deployed and alerts should be generated.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Detections" tab under Security from the

[2020-12-22 10:08] manishgupta-qasource commented on #86740
Reviewed & Assigned to @MadameSheema

[2020-12-22 10:08] muskangulati-qasource commented on #86741
@manishgupta-qasource Please review!!

[2020-12-22 10:19] karanbirsingh-qasource opened #86742 "[Fleet] "Socket Hang up" Error coming inconsistently on Agents Tab"
**Describe the bug**
Socket Hang up coming inconsistently on Agents Tab

**Build Details:**
[code]
[Artifact Page](https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT)

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "8.0.0-SNAPSHOT" ES version running.
2. Agent+Endpoint should be installed on environment.

**Steps to Reproduce**
1. Navigate

[2020-12-22 10:19] karanbirsingh-qasource commented on #86742
@manishgupta-qasource Please review

[2020-12-22 10:22] katrin-freihofner opened #86743 "[Uptime UI] header on waterfall view shows tabs that should not be there"
**Kibana version:**
7.11 branch running locally

**Elasticsearch version:**
7.10.1

**Browser version:**
Chrome Version 87.0.4280.88 (Official Build) (x86_64) on Mac

**Describe the bug:**
1. The header of the waterfall view is showing tabs (overview, certificates, settings) that are not relevant to the view and therefore should not be there.
2. The step and check navigation are very hard to use o

[2020-12-22 10:22] elasticmachine commented on #86743
Pinging @elastic/uptime (Team:uptime)

[2020-12-22 10:30] katrin-freihofner opened #86744 "[Uptime UI] waterfall chart: labels are hard to read"
**Kibana version:**
7.11 branch running locally

**Elasticsearch version:**
7.10.1

**Browser version:**
Chrome Version 87.0.4280.88 (Official Build) (x86_64) on Mac

**Describe the bug:**
The rows on the left, showing the resources loaded are hard to read.
Also, I'm wondering, shouldn't there be a colored bar for each resource?

**Expected behavior:**
The line-height should be adjusted so the tex

[2020-12-22 10:30] elasticmachine commented on #86744
Pinging @elastic/uptime (Team:uptime)

[2020-12-22 10:42] deepikakeshav-qasource opened #86745 "[Security Solution] Unable to add the second query in the timeline using drag and drop on the overview page."
**Description**
Unable to add the second query in the timeline using drag and drop on the overview page.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the Overview page of security.
2. Drag the first chart legend item to timeline.
3. Position t

[2020-12-22 10:42] deepikakeshav-qasource commented on #86745
@manishgupta-qasource Please review

[2020-12-22 10:48] #80654 closed

[2020-12-22 10:49] muskangulati-qasource opened #86746 "[Security Solution] The license automatically upgrades from Basic to Platinum on upgrading the kibana from 7.10.0 to 7.11.0"
**Describe the bug**
The license automatically upgrades from Basic to Platinum on upgrading the kibana from 7.10.0 to 7.11.0

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Create a 7.10 Kibana instance with a Basic or Gold license
2. Create an Endpoint policy
3. Change Malware to Detect and save

**Steps to Reproduce**
1. Upgrade the server to 7.11
2. Observe that license

[2020-12-22 10:50] muskangulati-qasource commented on #86746
@manishgupta-qasource Please review!!

[2020-12-22 11:19] ramya397 opened #86749 "[Maps] Elastic Maps Displaying Numbers in the format of Thousand separator (,)"
Displaying Count/Numeric values in Maps with Thousand separator as comma(,)

It will be easy for an user to catch the numbers without counting digits.

Unfortunately in version 7.9 Maps doesn't show digits with commas.

![image](https://user-images.githubusercontent.com/27666782/102883169-9107c500-4475-11eb-8909-745a9e08ef20.png)

[2020-12-22 11:38] manishgupta-qasource commented on #86742
Reviewed & Assigned to @EricDavisX

[2020-12-22 11:45] manishgupta-qasource commented on #86745
Reviewed & Assigned to @MadameSheema

[2020-12-22 11:45] stratoula commented on #84750
It seems that kibana-app-services work on eliminating dependencies has also removed the `charts <--> expressions` circular dependencies https://github.com/elastic/kibana/pull/82791

[2020-12-22 11:48] manishgupta-qasource commented on #86746
Reviewed & Assigned to @kevinlog

[2020-12-22 12:03] himberjack opened #86752 "[APM]"
**Versions**
Kibana: 7.10
APM Server: 7.10

If elastic-apm gem is > 3.10.x we are getting:

from /usr/local/bundle/gems/elastic-apm-3.12.1/lib/elastic_apm/metadata.rb:28:in `new'	from /usr/local/bundle/gems/elastic-apm-3.12.1/lib/elastic_apm/metadata.rb:28:in `initialize'	from /usr/local/bundle/gems/elastic-apm-3.12.1/lib/elastic_apm/transport/connection.rb:42:in `new'	from /usr/local/bundle/gems/

[2020-12-22 12:03] elasticmachine commented on #86752
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 12:08] dgieselaar commented on #86738
@simioa Hi Ioannis, did you resolve the issue given that it is now closed? If so, what was the issue? It might help others who google for the same error message.

[2020-12-22 12:15] deepikakeshav-qasource opened #86756 "[Security Solution] '0' is appended to all the values in the alert table under Detections tab."
**Description**
'0' is appended to all the values in the alert table under Detections tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Host should be deployed and alerts should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection page of security.
2. Go to the Det

[2020-12-22 12:16] deepikakeshav-qasource commented on #86756
@manishgupta-qasource Please review

[2020-12-22 12:17] muskangulati-qasource commented on #79450
Hi @paul-tavares,

We have found a new issue for the 'Endpoint List page' here: https://github.com/elastic/kibana/issues/86104

This issue shows the exact behavior for current builds.

Please let us know if anything else is required from our end.

Thanks!

[2020-12-22 12:18] kertal opened #86757 "[Discover] Replace doc viewer table with EuiTable"
One piece of legacy to remove, the doc viewer table using bootstrap of Discover should be replaced with `EuiTable`

Other small thing I noticed in here (and can wait) is that we really need to replace the doc viewer table that shows in the expanded flyout to use an EuiTable. Right now it's using Bootstrap, and we're looking to remove that next minor.

_Originally posted by @snide in https://github

[2020-12-22 12:19] manishgupta-qasource commented on #86756
Reviewed & Assigned to @MadameSheema

[2020-12-22 12:20] elasticmachine commented on #86757
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 12:36] manishgupta-qasource commented on #86741
Reviewed & Assigned to @MadameSheema

[2020-12-22 12:40] efreeti opened #86760 "[POC][Trusted Apps] Ability to assign trusted app to a policy."
We should build a POC of assigning trusted app to the policy.

The main questions to verify on the backend:
  * Is it possible to use ExceptionListItem "tags" property to mark TrustedApp as belonging to policy
  * How hard it is to add new field to ExceptionListItem to use instead of "tags"
  * Is it possible to filter items in list plugin based on a tag or other field
  * How to structure artifac

[2020-12-22 12:53] peteharverson commented on #80682
On 7.11.0 (BC1) I can also reproduce this on the single metric chart type:

![image](https://user-images.githubusercontent.com/7405507/102890605-a28ca500-4454-11eb-968b-02968a2d9204.png)

[2020-12-22 12:56] dikshachauhan-qasource opened #86763 "'Add System integration' heading is displayed instead of 'Edit System integration' after clicking on integration name displayed under Policies tab"
**Kibana version:**
Kibana: 8.0.0 snapshot Kibana Cloud environment

**Elasticsearch version:**
Elasticsearch:  8.0.0 snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0 snapshot Kibana Cloud environment

**Preconditions**
1.  8.0.0 snapshot Kibana Cloud environment should be available.

[2020-12-22 12:57] dikshachauhan-qasource commented on #86763
@manishgupta-qasource Please review

[2020-12-22 12:59] MadameSheema commented on #86741
@spong @peluja1012 looks like this issue is happening on master, could you please help to prioritise this? Thanks 😊

[2020-12-22 13:04] patrykkopycinski commented on #86740
That's not a bug

[2020-12-22 13:13] #86740 closed

[2020-12-22 13:13] manishgupta-qasource commented on #86763
Reviewed & Assigned to @EricDavisX

[2020-12-22 13:13] elasticmachine commented on #86763
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-22 13:16] kevinlog commented on #86763
@paul-tavares added these new views from the Integrations page, we'll take this one.

[2020-12-22 13:26] kertal opened #86765 "[Discover] Improve empty message"
The empty message only mentions time, but you can get into a situation where the table is empty because of the filters you've applied. It'd be great to update this message to be more generic or include a mention of filters, or better yet, KNOW it's because of filter. https://share.getcloudapp.com/DOuombBx

_Originally posted by @cchaos in https://github.com/elastic/kibana/issues/67259#issuecomment

[2020-12-22 13:26] elasticmachine commented on #86765
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 13:28] robin13 commented on #83375
I'm doing it _exactly_ as you do in the animated gif above, but for me it shows a blank page...

[2020-12-22 13:29] karanbirsingh-qasource opened #86766 "[Security Solution]Endpoint Security installation fails on windows server machines"
**Describe the bug**
Endpoint Security installation fails on windows server machines

**Build Details:**

[code]

[code]

[8.0.0-Artifact Page](https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT)
[7.10.0-Artifact PAge](https://www.elastic.co/downloads/past-releases/elastic-agent-7-10-1)

**Browser Details**
All

**OS**
- Window server 2012R2
- Window server 2019

**Preconditions**
1. Elasti

[2020-12-22 13:30] karanbirsingh-qasource commented on #86766
@manishgupta-qasource Please review

[2020-12-22 13:33] patrykkopycinski commented on #86745
works on master on Chrome to me

[2020-12-22 13:34] manishgupta-qasource commented on #86766
Reviewed & Assigned to @EricDavisX

[2020-12-22 13:43] MadameSheema opened #86768 "[Security Solution] Case connector cannot be updated when created with a wrong field"
**Describe the bug:**
- Case connector cannot be updated when created with a wrong field

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Cases

**Steps to reproduce:**
1. Navigate to `Security > Cases`
2. Click on `Edit external connection`
3. Click on `Incident management system` dropdown
4. Click on `Add new conn

[2020-12-22 13:52] simioa commented on #86738
@dgieselaar Hi Dario, yes I could resolve the Issue, I was a little hasty when I created this Issue, sorry for that!
A little bit of context:
We don't allow every user to read all APM Data, for that reason we create roles for Groups of APM Services with limited Access to APM Indices (apm-serviceA-*, apm-serviceB-*, ...).
Because of that, we cannot assign the pre-defined apm_user role which grants

[2020-12-22 13:54] MadameSheema opened #86770 "[Security Solution] Test connector is not working for Jira"
**Kibana version:**
- 7.11.0 BC1

**Describe the bug:**
- Test connector is not working for Jira that do not have priority.

**Preconditions:**
- To have a Jira connector already created

**Steps to reproduce:**
1. Navigate to `Security > Cases`
2. Click on `Edit external connection` button
3. Select the created connector
4. Click on `Update`
5. Click on `Test`
6. Select issue type `Error`
7. Fill

[2020-12-22 13:54] katrin-freihofner opened #86771 "[Logs UI] visual improvements: anomaly detection callouts"
I suggest the following improvements for the callouts related to anomaly detection:

1. I think we should try to prevent the case where the same callout gets listed twice.
2. Also, I'm wondering if we could provide any clue for the user what to do in this case. (Also if it is "just wait".)
3. If there is more than one callout, I suggest adding an EUI spacer "small" between them.
<img width="1292"

[2020-12-22 13:54] elasticmachine commented on #86771
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-22 14:09] dgieselaar opened #86772 "[APM] Handle ML error gracefully in transaction latency charts"
We don't catch any error from ML when we are fetching the anomaly timeseries data. If (one of the) ML calls fail, we should just log the error and return the rest of the data.

[2020-12-22 14:09] elasticmachine commented on #86772
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 14:10] dgieselaar commented on #86738
Thanks @simioa! It's not ideal if this causes the transaction latency data to not show up. I've created an issue to see if we can make sure that the rest of the chart does show up: https://github.com/elastic/kibana/issues/86772.

[2020-12-22 14:11] MadameSheema commented on #86745
@deepikakeshav-qasource can you please provide @patrykkopycinski more information about the issue? thanks :)

[2020-12-22 14:17] chrisronline commented on #83375
@robin13

Sorry, I wasn't clear.

I was able to reproduce this in cloud (but not locally), but I'm wondering if my "solution" works for you too (which would help understand the priority of this fix). See:

![logstash_pipelines](https://user-images.githubusercontent.com/56682/102897703-72360e00-4436-11eb-8fa5-7b4dd46daf8c.gif)

[2020-12-22 14:26] MikePaquette opened #86773 "[Security Solution] Value lists with long Filenames cannot be viewed in UI"
**Describe the bug:**
- Name of Value list is truncated at 16 characters with no mechanism to see longer filenames.  Result is that users cannot select desired value list filename for actions such as download or delete, and cannot view set of uploaded value lists.

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
-  Va

[2020-12-22 14:28] dgieselaar opened #86774 "[APM] "View job" link from latency charts leads to a malfunctioning page"
When clicking on the "View job" link from the overview latency chart, the user sees this screen:

![image](https://user-images.githubusercontent.com/352732/102898282-93642200-4469-11eb-8df8-40c5a9a3809d.png)

This is not very helpful, and it also triggers an infinite loop of requests. At first, the errors return 200s, but eventually they error out as `ERR_INSUFFICIENT_RESOURCES`.

I'm not sure if

[2020-12-22 14:28] elasticmachine commented on #86774
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 14:33] dgieselaar opened #86775 "[APM] ML results should always be displayed if service has one environment"
Currently, we only show ML results on the service overview/transactions pages if one environment has been selected. By default, we select "All". This means that in a common scenario where a service has one environment, we make it hard for the user to see ML results. We should fix this, for example by always showing ML results if the service has one environment.

[2020-12-22 14:33] elasticmachine commented on #86775
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 14:37] weltenwort commented on #86771
ad 1.: It's listed twice because two jobs are stopped. So one improvement would be to mention which job it refers to. This is an oversight on my side from the time when there was only one job per page anyway.

ad 2.: I tried to indicate that the user would have to restart the job in order to continue processing. We could add more logic which tries to determine the reason why the job was stopped, w

[2020-12-22 14:50] MikePaquette opened #86779 "[Security Solution] Fix inconsistent terminology/iconography relating to uploading/importing value lists"
**Describe the bug:**
- Users may be confused by the use of different icons in the UI when uploading value lists

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
-  Value lists

**Preconditions:**
- None

**Steps to reproduce:**
1. Navigate to `Security > Detections`
2. Click on `Manage detection rules` button
3. Clic

[2020-12-22 14:57] kevinlog commented on #86760
this looks like a good start.

One question to keep in mind as we develop is Fleet server.  This may not be a part of the initial POC, but we'll need to make sure the artifacts are served from Fleet server and the URL generation still works.

cc @scunningham

[2020-12-22 15:03] MikePaquette opened #86782 "[Security Solution] Use of "Graph" in Timeline causes naming conflict with Kibana Graph"
**Describe the bug:**
- Users may be confused by the use of the term "Graph" in the Timeline which is a different capability than the existing Kibana Graph capability

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Timeline

**Preconditions:**
- None

**Steps to reproduce:**
1. Open any timeline
2. Look at the 2nd

[2020-12-22 15:03] peteharverson commented on #64172
Closing issue as work required to make ML jobs space aware has been completed for 7.11.

@jgowdyelastic the few remaining low priority follow-up tasks have been moved to #82415.

[2020-12-22 15:03] #64172 closed

[2020-12-22 15:11] katrin-freihofner commented on #86771
Yes, that sounds like a good plan.

[2020-12-22 15:15] dgieselaar commented on #86774
Spoke to the ML folks and the link is broken:

- `pause` should be either `'true'` or `'false'`
- `entities` are not being passed because `transactionType` is empty. We can probably fix that by getting `transactionType` from `APMServiceContext`.

[2020-12-22 15:18] formgeist opened #86783 "[APM] Transaction group detail page overhaul"
# Summary

Related design issue https://github.com/elastic/apm/issues/302

This issue is part of multiple updates and enhancements to the Transactions experience in the APM app. By way of the new Service overview, we're adding some new elements to the list and group detail views and moving the Trace viewer (waterfall, metadata, and logs) into a dedicated view that will enhance the trace analysis e

[2020-12-22 15:18] elasticmachine commented on #86783
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 15:19] dgieselaar commented on #86774
The link on the service map should also be fixed, and possibly other places.

[2020-12-22 15:22] MikePaquette opened #86784 "[Security Solution] All detection rules cannot be selected with one operation - limited to 300 max"
**Describe the bug:**
- Users need to repeat bulk operations on rules if the number of rules exceeds 300, causing extra work, and risk of inconsistent operations.

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Detection rules
- Rule management

**Preconditions:**
- None

**Steps to reproduce:**
1. Navigate to `Sec

[2020-12-22 15:23] cauemarcondes commented on #86774
is it something that ML team recently changed? @sqren fixed some of the ML links on this PR https://github.com/elastic/kibana/pull/85976, maybe we missed that.

[2020-12-22 15:25] dgieselaar opened #86785 "[APM] Improve discoverability of ML results"
In some cases we don't show ML data in our latency charts even though the user might expect it to be there:

- there are no anomaly results or bounds for that time range, for instance because it's too recent or the ML job has issues
- the user is looking at data for all environments (see https://github.com/elastic/kibana/issues/86775)
- the user doesn't have permission to view ML results
- the use

[2020-12-22 15:25] elasticmachine commented on #86785
Pinging @elastic/apm-ui (Team:apm)

[2020-12-22 15:26] dgieselaar commented on #86774
@cauemarcondes I'm not sure about `pause`. But we are not passing `service.name` and `transaction.type` to the ML link helper function, so that's something that we should fix.

[2020-12-22 15:37] cauemarcondes commented on #86774
I fixed to pass the service name and transaction type. But it triggers an infinite loop because we set `pause:true, value: 0`, this is the default setting defined on kibana advanced settings. On APM we hardcoded pause to false because of this issue, maybe we should do the same here?! cc. @formgeist

[2020-12-22 15:37] wylieconlon commented on #84664
Because the "choose a function" options are using an `EuiListGroup` I think we have three options, but I'm not sure which one is best:

* Look for a way to set aria properties to indicate a radio group without modifying EUI
* Modify EUI to support radio-style buttons
* Change the implementation to not use EuiListGroup to implement it as a radio group

My preference is to contribute to EUI if it's

[2020-12-22 15:39] wylieconlon commented on #85893
Closed by https://github.com/elastic/kibana/pull/84384

[2020-12-22 15:39] #85893 closed

[2020-12-22 15:40] watson commented on #86716
This is related to the hapi v20 upgrade (#85406). Not sure exactly what changed yet...

[2020-12-22 15:43] dgieselaar commented on #86774
@cauemarcondes I think the ML folks will be able to help you here. I just spoke to Dima about it.

[2020-12-22 15:46] formgeist commented on #86477
@sqren @nehaduggal Updated the list of changes and additions to the feature.

[2020-12-22 15:54] droberts195 commented on #67180
The problem is that the ML jobs are now space-aware, so every call needs to be checked again the space(s) that the job is in.

Is there a breakdown of how much of that 7s goes on each call?  Maybe there is inefficiency that can be addressed in a different way to adding tags.  I think the first step in deciding what to do is to break that 7s down between the 3 ML API calls, and then again between t

[2020-12-22 15:59] dgieselaar commented on #67180
Why does it need to be checked? AFAICT, spaces are for organising things rather than securing things. Is that incorrect?

I don't have that breakdown yet. But I'll send you a link on Slack to a screenshot (I haven't scrubbed out potentially sensitive information).

[2020-12-22 16:09] watson commented on #86716
The root cause is that the validator for the `host` option that hapi is being configured with changed from this regex (defined in `@hapi/joy`):

[code]

Which allows the string `0`, to the method `isDomainValid` defined in `@hapi/validate`:

https://github.com/hapijs/validate/blob/b2d63af83715f5641e6b5c683d9a79952c445286/lib/types/string.js#L677-L721

Which doesn't accept for the string `0` as a v

[2020-12-22 16:17] weltenwort commented on #86771
Just realized that I already wrote the first point down in #73786.

[2020-12-22 16:23] wylieconlon opened #86792 "[Lens] Time filter should be disabled when there is no primary time field"
For consistency with the rest of Kibana, Lens should disable the time filter unless it's being actively used. There are basically two cases when the time filter should be enabled, and disabled all other times:

* None of the index patterns have a primary time field, and the chart isn't using a date histogram
* There are no time fields to use

Instead, users get confused because they see a time fil

[2020-12-22 16:23] elasticmachine commented on #86792
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 16:23] polyfractal commented on #83436
@alexwizp I was pinged to help take a look from the Rollup/Elasticsearch side, however I can't replicate this.  Could you provide more details to reliably reproduce?  The issue is too vague unfortunately to be helpful ("Create a new Rollup index").

What dataset is this?  What Rollup config was used on the data? Had the job finished running, or was it still active?  Or not started?  What was the t

[2020-12-22 16:26] bhavyarm opened #86793 "Clicking on deleted dashboard link from recently accessed links display empty screen (core.entry.js:13 Uncaught (in promise) TypeError: Cannot read property 'add' of undefined at addDanger (core.entry.js:13))"
**Kibana version:** 7.11.0 BC1

**Elasticsearch version:** 7.11.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user clicks on deleted dashboard link from recently accessed links (user created dashboards) - Kibana displays e

[2020-12-22 16:26] elasticmachine commented on #86793
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-12-22 16:30] flash1293 commented on #86792
Duplicate of https://github.com/elastic/kibana/issues/72502 ?

[2020-12-22 16:33] #86756 closed

[2020-12-22 16:35] wylieconlon opened #86796 "[Lens] Put the name of the current time field into the UI to reduce confusion"
The time filter in Lens is based on hidden information: it's either the primary time field, or it's based on a time field that the user has configured for their chart. There might also be multiple time fields.

I don't have a good design for this, but the basic idea would be to take this message which doesn't explain much, and add to it:

<img width="479" alt="Screen Shot 2020-12-22 at 11 27 22 AM

[2020-12-22 16:35] #81976 closed

[2020-12-22 16:36] wylieconlon commented on #86792
Yes, closing as duplicate

[2020-12-22 16:36] #86792 closed

[2020-12-22 16:36] wylieconlon commented on #72502
Recategorizing this as a minor bug because this used to work correctly, but now it doesn't

[2020-12-22 16:38] elasticmachine commented on #86793
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-22 16:41] #86677 closed

[2020-12-22 16:41] clintandrewhall commented on #86793
Based on the error, this is likely a Core UI bug... the issue is that `this` is `undefined`, which is within the method provided to Dashboard, (not in Dashboard itself).

[2020-12-22 16:45] kertal opened #86802 "[Discover] Data grid inspect flout is underneath the document flyout"
Follow up of #67259

3. If you have the details flyout open, and click `Inspect` in the menu bar, the inspect flyout is underneath the details.

_Originally posted by @cchaos in https://github.com/elastic/kibana/issues/67259#issuecomment-747625933_

[2020-12-22 16:45] elasticmachine commented on #86802
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-22 16:46] watson commented on #86716
Dug a little deeper: hapi pre-v20 will pass on the `0` host to the node-core `server.listen()` function (because it doesn't throw a validation error), which internally [will try to look up the DNS](https://github.com/nodejs/node/blob/e725355e5cdd77ac9287dea9c0d2958c994e8c27/lib/net.js#L1496-L1507) for the host `0`, which resolves to the IP `0.0.0.0` (i.e. loopback), which it then binds the socket

[2020-12-22 16:46] clintandrewhall commented on #86793
Looking closer, I think the destructuring of the methods causes a loss of `this`.  Either way, we should have a fix soon.

[2020-12-22 16:46] alvarezmelissa87 commented on #78172
Closing as original issue is no longer reproducible.

[2020-12-22 16:46] #78172 closed

[2020-12-22 16:52] afharo commented on #86793
I think the error comes in this line: https://github.com/elastic/kibana/blob/ac189b8c251575fee1318b732cd19917992a38ec/src/plugins/dashboard/public/application/hooks/use_saved_dashboard.ts#L66

It's calling `showDangerToast` (`addDanger` destructured from `core.notifications.toasts`).
I believe the problem is that `loadSavedDashboard` is a function, so `this` is scoped differently when calling the

[2020-12-22 16:53] gmmorris commented on #86506
I'm already working on this as part of: https://github.com/elastic/kibana/issues/83501
It still isn't clear how easy it will be to enforce the typing properly due to several layers of indirection (Recovery groups are dynamic evaluated at registration which makes this even harder), but I'm hoping to figure it out. :)

[2020-12-22 16:53] watson commented on #86716
My recommendation is to update the configuration to use `server.host: "0.0.0.0"` if we can - unless users rely on using `0`?

[2020-12-22 17:06] watson commented on #86716
If I understand correctly, then `elastic-package` is used to generate the Docker packages? If so, I think this is the line we need to change: https://github.com/elastic/elastic-package/blob/fd6ce022238df2cb134c91d726e0225f500cfc54/internal/install/static_kibana_config_yml.go#L9

[2020-12-22 17:11] graphaelli commented on #86716
I'm not sure if that's addressed to me but I'm not using `elastic-package`.

Since this was backported to 7.x I think this a breaking change and should be handled by kibana itself.  `server.host: 0` is also shipped in the default kibana docker container image and is mentioned in docs - all of those would need an update too.

[2020-12-22 17:24] kmartastic commented on #38394
I'm not quite sure I understand what's being discussed. Actually, I'm quite sure I don't.

What is Telemetry-Next? Is that a project? schema? Is there a solution for working with dynamic fields within Telemetry-Next? We have a growing need for capturing this data as we are adding new layer types and want to track usage.

@alexfrancoeur @thomasneirynck @afharo

[2020-12-22 17:28] watson commented on #86716
I created a PR to fix this by converting `server.host` value `0` to `0.0.0.0`: #86806

[2020-12-22 17:34] afharo commented on #38394
Hi @kmartastic,

Telemetry-Next is a new take to the way we store the data in the Remote Telemetry Service. Allowing dynamic keys, or even array structures, if preferred. For more details, reach out on the #telemetry-next Slack channel.

The `schema` is how Kibana defines the "contract" of the usage reported by each collector so the Remote Telemetry Service knows what to expect and what's changed

[2020-12-22 17:36] Bamieh commented on #85858
Adding this to the list:

Drop suppport for `server.host: "0"` in kibana config:

Context: https://github.com/elastic/kibana/pull/86806

[2020-12-22 17:41] #80675 closed

[2020-12-22 17:56] #63367 closed

[2020-12-22 18:12] #86141 closed

[2020-12-22 18:36] #84414 closed

[2020-12-22 18:51] parkiino opened #86823 "[Bug] UI doesn't reflect license changes on 7.10+ cloud deployments"
Steps to Reproduce:
1. Set up a 8.0.0 cloud deployment
2. Downgrade the license to basic in kibana dev tools: `POST _license/start_basic?acknowledge=true`
3. Check if the banner shows up in Cases
4. Upgrade the license to platinum in kibana dev tools:
[code]
5. The license banner still shows up in Cases even though the banner should only be visible if the license is below platinum

[2020-12-22 19:16] richkuz commented on #86327
Here's what the end to end flow looks like:

![kibana-ent-search-sso](https://user-images.githubusercontent.com/62522248/102924748-29934a80-4460-11eb-8b84-c843391a2a80.gif)

I recommend we leave this alone as a known behavior:

1. This issue becomes moot by 7.14. By 7.14, we'll have the entire Enterprise Search UI in Kibana, with no need to load the old UI at all.

2. From my brief investigation,

[2020-12-22 19:18] richkuz commented on #86327
cc @aznick @zumwalt

[2020-12-22 19:27] #86793 closed

[2020-12-22 19:40] #86716 closed

[2020-12-22 19:51] formgeist commented on #86477
@sqren @nehaduggal I made some changes above to separate things from new additions to changes and a specific portion around the fields customization, which I wasn't sure how we imagine we want to implement further. Please when you have time if you can provide some feedback on this.

[2020-12-22 19:56] wylieconlon commented on #86278
This issue might be more important to fix now that we have more invalid states to support calculations.

[2020-12-22 20:06] mattkime commented on #74320
Closing as I haven't heard back. Reopen if desired.

[2020-12-22 20:06] #74320 closed

[2020-12-22 20:12] peterschretlen opened #86833 "Kibana performance - tools, benchmarking, CI, optimizations"
There have been a number of performance initiatives lately,  and the topic of  measuring and improving performance has come up frequently as a priority.  The purpose of this issue is to capture existing and planned efforts in the context of an overall plan/objectives.

### Kibana performance space

Kibana as a system has many variables that can vary substantially, creating a large performance spac

[2020-12-22 20:12] elasticmachine commented on #86833
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-22 20:27] kmartastic commented on #46024
I agree with this sentiment.
Just needs to be thought through.

@timductive @clintandrewhall Has there been any shift in how we think about interactive features in Canvas (this thread is over a year old).

[2020-12-22 20:34] jfsiii commented on #84745
@manishgupta-qasource & @hbharding can you try the snapshots for 7.11 & 7.10.2 on cloud staging and let me know if you still see these issues.

Here's what I observed

## 7.11-SNAPSHOT
 * ✅  Both "inactive" and "Upgrade available" appear to show correct "No agents found"
 * ❌ "Inactive" appears/disappears from row, unlike other items from dropdown

https://user-images.githubusercontent.com/57655/1

[2020-12-22 20:34] ymao1 commented on #86695
It's pretty straightforward to fix the issue where all the action connectors don't show up on the Edit Alert flyout. This allows the user to at least re-enable the "Save" button by deleting all the actions with broken connectors. However, there's still some weird UX after this:

Here's the "Edit Alert" flyout with 2 actions using the deleted connector:
<img width="606" alt="Screen Shot 2020-12-22

[2020-12-22 20:41] #85555 closed

[2020-12-22 21:35] jbudz commented on #86401
Thanks for filing!  We have a fix coming in 7.11 with https://github.com/elastic/kibana/pull/83560.  Closing this out as fixed for now, and we can reopen if there's further issues.

[2020-12-22 21:35] #86401 closed

[2020-12-22 21:38] kevinlog commented on #85391
I have an update regarding the testing the leading `.`.

Right now, it looks like the `fleet_enroll` user that the Endpoint uses to create indices needs additional permissions.  More details below.

Locally, I tested with the index being named as `.logs-endpoint.diagnostic.collection-*`, see this PR: https://github.com/elastic/kibana/pull/86277

I also tested with a dev Endpoint from Dan's PR here

[2020-12-22 21:49] andrewvc commented on #86744
Thanks for the report! Closing this though, it's a dupe of https://github.com/elastic/kibana/issues/86744

[2020-12-22 21:49] #86744 closed

[2020-12-22 22:01] #78491 closed

[2020-12-22 22:41] bhavyarm opened #86851 "Security warning is not shown to user on Kibana for either basic or trial license for unsecured ES"
**Kibana version:** 7.11.0 BC1/latest snapshot

**Elasticsearch version:** 7.11.0BC1/latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Security warning asking users to secure the cluster is not being shown in 7.11.0 on

[2020-12-22 22:41] elasticmachine commented on #86851
Pinging @elastic/kibana-security (Team:Security)

[2020-12-23 00:09] TinaHeiligers commented on #86358
@afharo I've removed the monitoring usage collector from the dependencies list. After decoupling monitoring from kibana usage collection and supplying the `KibanaRequest` in the collector's `fetch` context, the only thing that the monitoring collector is using from the `fetch` context is the `KibanaRequest`.

Please correct me if I'm wrong here but after digging through the code again, it looks to

[2020-12-23 00:32] tylersmalley commented on #86709
Skipped:

master: c9879c6fbdf3fc919be49497faa20d56c13115d0
7.x: 2649005266b666c0779e6106c1fad3f9027bd164
7.11: a181b89ae707c1b189467ef5c3560baa3c396f90

[2020-12-23 00:37] tylersmalley commented on #86709
I want to point out that this is affecting 7.11, so I have tagged this issue as a blocker. Please take a look to understand if this is an actual regression or something that just needs to be updated in the tests.

[2020-12-23 04:56] rylnd commented on #86709
This still needs verification, but I believe this was caused by a behavioral change to EQL: https://github.com/elastic/elasticsearch/pull/66550. If so, this failure makes sense and the integration test needs to be updated.

Will follow up in the morning to verify the above and resolve this.

[2020-12-23 07:02] karanbirsingh-qasource opened #86864 "[Security Solution] Agent Tab Stuck on Loading for 8.0.0-SNAPSHOT Build"
**Describe the bug**
AGent Tab Stuck on Loading for 8.0.0-SNAPSHOT Build

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "8.0.0-SNAPSHOT" ES version running.

**Steps to Reproduce**
1. Navigate to `Fleet / Agent` page.
2. Observed that Agent Tab Stuck on Loading for `8.0.0-SNAPSHOT` Build.

`Note: Issue is also occurrin

[2020-12-23 07:04] ruflin commented on #85391
I didn't know that the UI would show a System template when prefixed. This is interesting because I'm pretty sure it also contains the managed flag.

For the permissions, the place you are looking for is here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/setup.ts#L140 I would suggest to add very specific permissions for this data stream in there. But there is

[2020-12-23 07:36] #85749 closed

[2020-12-23 07:54] manishgupta-qasource commented on #86864
Reviewed & Assigned to @EricDavisX

[2020-12-23 07:55] elasticmachine commented on #86864
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 08:02] #86676 closed

[2020-12-23 08:05] #737 closed

[2020-12-23 08:05] #8706 closed

[2020-12-23 08:05] #38982 closed

[2020-12-23 08:05] #4436 closed

[2020-12-23 08:31] #85539 closed

[2020-12-23 08:44] flash1293 commented on #86278
I agree @wylieconlon - it should also be a simple change.

[2020-12-23 08:48] kostasb opened #86874 "[Security Solution] Improve time filter efficiency for Detection Rules"
**Description**:
The detection engine's time filter should narrow down the search request's timerange as much as possible, in order to keep scope to just the relevant shards. There can be performance impact when timerange is unnecessarily wide, particularly when involving nodes with slower response profile (warm/cold).

**Current behavior:**
Detection rules may use open-ended time ranges (relevant

[2020-12-23 09:14] afharo opened #86875 "[Usage Collection] Collect Feature Usage"
In #60984 we added an API to keep track of the usage of features. We should create a usage collector to report that info in the telemetry payloads.

N.B.: The data returned by the existing APIs is kept in-memory. Server restarts might affect the results. We might want to consider persisting the telemetry-to-be data in a saved object if necessary.

[2020-12-23 09:14] elasticmachine commented on #86875
Pinging @elastic/kibana-core (Team:Core)

[2020-12-23 09:32] afharo commented on #86358
@TinaHeiligers I think your assumptions are correct! AFAIK, the Monitoring plugin maintains its own client because of the additional permissions the `monitoring` user has. They are scoping the client via the `KibanaRequest` param. I doubt they'll be affected when we remove the `callCluster` property in the `fetch` context 👍

[2020-12-23 09:45] katrin-freihofner opened #86877 "[Uptime UI] synthetic checks: use EuiImage for screenshot previews"
While testing I found a couple of issues with the screenshot previews of the individual steps of a synthetic check.

For example:
- It is not obvious that the image can be clicked.
- It is not clear how to get back once the fullscreen preview is opened.
- The caption is misplaced.

I think we can solve those issues by using the [EuiImage](https://elastic.github.io/eui/#/display/image) component.

[2020-12-23 09:45] elasticmachine commented on #86877
Pinging @elastic/uptime (Team:uptime)

[2020-12-23 10:08] alexwizp commented on #83436
@polyfractal  Please try again with the same configuration but set **1 second** (or another value which returns **0 values**) as a value for global timeframe.

![image](https://user-images.githubusercontent.com/20072247/102984799-362aa800-451f-11eb-8cbd-1a7896cca18a.png)

I'm 99% sure that it should help to reproduce, if not, please ping me I'll prepare DSL query to you

@VladLasitsa could you ple

[2020-12-23 10:08] karanbirsingh-qasource opened #86879 "[Security Solution]No Distinction between the color code of "Offline" & "Inactive" status under Agent Tab"
**Describe the bug**
No Distinction between the color code of "Offline" & "Inactive" status under Agent Tab

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "7.11.0-SNAPSHOT" ES version running.

**Steps to Reproduce**
1. Navigate to `Fleet / Agent` page.
2. Click on Status and Select "inactive" status
3. Navigate to bro

[2020-12-23 10:09] karanbirsingh-qasource commented on #86879
@manishgupta-qasource Please review

[2020-12-23 10:19] dej611 opened #86881 "[Lens] Duplicate suggestions for XY and partition charts"
**Kibana version:** `master` as 0d3daa564f0ced3629fe0d3bbd202f7bc67f633f

**Describe the bug:**

Suggestions are now duplicated on the panel for XY and partition charts: not just the type of charts, but actual duplicates in terms of label and configuration.

**Expected behavior:**

No duplicates in the suggestion panel.

**Screenshots (if relevant):**

![multiple_suggestions_master](https://user-i

[2020-12-23 10:19] elasticmachine commented on #86881
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-23 10:19] karanbirsingh-qasource opened #86882 "[Fleet] Incorrect count showing for "Updating" Agent label under Agent Tab"
**Describe the bug**
Incorrect count showing for "Updating" Agent label under Agent Tab

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "7.11.0-SNAPSHOT" ES version running.
2. Elastic-agent package version below 7.11.0 should be available.
3. Install the elastic-agent on the kibana.

**Steps to Reproduce**
1. Navigate

[2020-12-23 10:19] karanbirsingh-qasource commented on #86882
@manishgupta-qasource please review

[2020-12-23 10:35] flash1293 commented on #86881
@wylieconlon do you think this could be related to calculations?

[2020-12-23 10:37] karanbirsingh-qasource opened #86883 "[Security Solution]Inactive Filter not working for 7.10.2-SNAPSHOT Cloud Build"
**Describe the bug**
Inactive Filter not working for 7.10.2-SNAPSHOT Cloud Build

**Build Details:**
platform: staging
version: 7.10.2-SNAPSHOT
Commit:876e859238cdc8ec487ca2608aacb1aa7faaa958
Build:37480

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "7.10.2-SNAPSHOT" ES version running.
2. Install another elastic-agent on 02 windows machine wit

[2020-12-23 10:37] karanbirsingh-qasource commented on #86883
@manishgupta-qasource Please review

[2020-12-23 10:52] manishgupta-qasource commented on #86883
Reviewed & Assigned to @EricDavisX

[2020-12-23 10:53] elasticmachine commented on #86883
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 10:54] manishgupta-qasource commented on #86882
Reviewed & Assigned to @EricDavisX

[2020-12-23 10:54] elasticmachine commented on #86882
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 10:55] elasticmachine commented on #86879
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-23 10:59] deepikakeshav-qasource commented on #84610
Hi @MadameSheema

We have validated this ticket on **7.11.0 BC1** build and observed that issue is **fixed** now. "Save" and "Cancel" buttons are not overlapping while Editing external connectors setting for case.

Build Details:
[code]

**Screenshots:**
**IBM Safari:**
![IBM_Safari](https://user-images.githubusercontent.com/61860752/102969618-08902f80-451c-11eb-9e59-6b987b43bd2f.jpg)

**Jira Safa

[2020-12-23 11:00] karanbirsingh-qasource commented on #84745
Thanks @jfsiii for the update.

we have validated this on "7.11.0" & "7.10.2" SNAPSHOT Build and came with below observation.

**Build Details:**
[code]

### 7.11.0-SNAPSHOT

- **Inactive Filter** [ Fixed 🟢 ]
   - Correct Count shown under inactive label
     ![image](https://user-images.githubusercontent.com/59917825/102977371-e9e46580-4528-11eb-92a2-24386eb16ace.png)
   - Inactive Agent Entry re

[2020-12-23 11:34] deepikakeshav-qasource commented on #86745
Hi @patrykkopycinski

Please find the below observation:

**Observation:** While dragging the first query to the timeline. It's dropping on the timeline. However when we dragging the second query in the timeline. we are unable to drop the second query.

Currently, the issue got fixed on 7.11.0-SNAPSHOT build. However, issue still occurring on 7.11.0 BC1.
**Build Details:**
[code]

[code]

- **7.11

[2020-12-23 11:51] deepikakeshav-qasource opened #86884 "[Security Solution] "0 timeline match the search criteria" message is displaying while data is being uploaded under timeline tab."
**Description**
"0 timeline match the search criteria" message is displaying while data is being uploaded under timeline tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Timeline should be created.

**Steps to Reproduce:**
1. Navigate to the Timeline tab of security.
2. Observe