[2020-12-15 10:23] flash1293 opened #85928 "[Lens] CSV downloads as "unsaved.csv" for panel without name on dashboard"
**Kibana version:** master

**Describe the bug:**

**Steps to reproduce:**
1.  set `dashboard.allowByValueEmbeddables: true` in config yml
2. Add embedded Lens vis to dashboard (do not set a title)
3. Download CSV via context menu
4. File is named "unsaved.csv"

**Expected behavior:**
"unsaved" implies the visualization is not saved, but it actually is. Not sure about the best solution

**Any addi

[2020-12-15 10:23] elasticmachine commented on #85928
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-15 10:29] gmmorris opened #85929 "[Alerting][Discuss] Rule Type implementers can't tell how much of an impact a rule might have on Task Manager"
This idea came up during a Maps sync discussion with @aaronjcaldwell , so isn't a well fleshed out requirement, but I thought it's worth documenting.

In the Tracking Alert use case Maps track every entity on a map and under certain circumstances they might trigger an action for each entity.
This means that they could in theory have a way of estimating the additional load they're about to add on T

[2020-12-15 10:29] elasticmachine commented on #85929
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-15 10:31] gmmorris commented on #49399
Yeah, we can definitely make those better.
I ran an audit a while back adding `fp-ts` & `io-ts` validations when reading some of our SOs, but we could improve things for sure.

[2020-12-15 10:32] stratoula commented on #84800
@ArturTrindade yes for all types 🙂

[2020-12-15 10:32] gmmorris commented on #77401
That suggests we've introduced some new tests that create alerts that haven't been removed by the objectRemover 🤔

[2020-12-15 10:32] paulb-elastic commented on #85826
I think this is because you are no longer in the **Overview** page but have drilled down to the monitor detail page (i.e. the top navigation relates to the main Uptime page, so there is no page to highlight in the top for monitor detail).  Is that right @shahzad31?

@katrin-freihofner / @formgeist what would you want to show as highlighted here (I'm not sure that **Overview** would be correct, as

[2020-12-15 10:37] shahzad31 commented on #85826
Yeah this is tricky, i guess we can hide tabs on all details page and move heading in place of tabs, the way it was earlier.

I kept tabs, so that user can navigate to overview/settings/certs etc from any page. But since that doesn't seems like an ideal workflow, it make sense to hide them.

Though user can navigate using breadcrumbs as well. To previous pages.

[2020-12-15 10:39] #85762 closed

[2020-12-15 10:52] deepikakeshav-qasource opened #85933 "[Security Solution] Data in data sources is reset when changing the data in data sources and close and open the browser again."
**Description**
Data in data sources is reset when changing the data in data sources and close and open the browser again.

**Build Details:**
Version: 7.11.0
Commit:6713443c4b42e001fdf5e77c0482f8a98bd3ffd7
Build number : 37117
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat s

[2020-12-15 11:07] markov00 commented on #85793
Yes please, an issue in the chart repo can be very useful.
You are right, when there is no datapoint, the tooltip is not shown, we can add an option to show always the tooltip + a customizable message in this case

[2020-12-15 11:10] kibanamachine opened #85934 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/date_nanos_job·ts - machine learning anomaly detection job on data set with date_nanos time field with count detector and model plot disabled navigates through the advanced wizard and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10405/)

[2020-12-15 11:10] kibanamachine commented on #85911
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10405/)

[2020-12-15 11:12] afharo commented on #83704
Updated the description with the agreed items to cover to in this issue.

[2020-12-15 11:17] #69412 closed

[2020-12-15 11:17] pgayvallet commented on #85550
A valid char in a name is not necessarily searchable without proper escaping. See `*` when searching in ES for instance. But I get you point.

Yea. This is caused by the fact that we need to respect EUI `Query` syntax now that the search string is parsed to retrieve the field clauses/terms, so search terms containing special characters need to be escaped in double quotes (`"[My test pie]"`)

All o

[2020-12-15 11:23] afharo commented on #81017
Update: still these blockers:

[code]

[2020-12-15 11:25] stratoula commented on #85550
ok now I see, thanx for the explanation. You are right when I filter with "" it works so I get your point. It works differently from 7.10 though and I am afraid that it may create some confusion. @timroes wdyt?

[2020-12-15 11:28] banderror commented on #84897
Hi @spalger, thanks a lot for your clarification and sorry for a delayed reply from my side.

Oh, my bad, absolutely! It's just so common to use arrows in these test blocks so I even didn't think about that.

I used an anonymous function, tagged my test suite with a tag, and it worked well:

[code]

[code]

That would be great for sure. I missed some clarification regarding that in the help text a

[2020-12-15 11:32] pgayvallet commented on #85810
this seems to be the most impactful cons. Also `config-schema` supports complex / composite types that would (probably) not be convertible to simple types

[code]

So I would say a more restrictive schema definition probably make sense here.

[2020-12-15 11:36] elasticmachine commented on #84531
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-15 11:38] #76962 closed

[2020-12-15 11:39] formgeist commented on #85793
@markov00 Great, I've opened a charts issue for adding such option https://github.com/elastic/elastic-charts/issues/950

[2020-12-15 11:44] #2128 closed

[2020-12-15 11:44] #2516 closed

[2020-12-15 11:44] #64444 closed

[2020-12-15 11:46] formgeist commented on #85826
My preference probably is to not have the tabs navigation in the detail page and rely on the breadcrumbs to navigate back to the Overview and get the Monitors list. The navigation is bound to change over the next iterations, so I see this mainly as a quick fix to not have a "confusing" layout.

@katrin-freihofner thoughts on whether to remove or keep the navigation tabs?

[2020-12-15 11:58] VladLasitsa commented on #82493
@nickofthyme, You have added as a example the similar task for Lens. As I saw for Lens was created structure for aggregating UI events. But we have usageCollection plugin which we use in Discover for this goal. What way we should use?
The second question which metrics we should collect.

[2020-12-15 12:04] katrin-freihofner commented on #85826
Yes, I agree. I was just about to propose the same. No tabs on the details view.

[2020-12-15 12:08] ppisljar commented on #85924
i agree option 1 makes sense

[2020-12-15 12:13] timroes commented on #85550
I think we should def solve that in a central way. Also I think it might be fine agreeing on `[` not being "searchable" anymore (to be honest they also earlier were not having any effect, since we used the default analyzer, thus special chars where stripped of anyway), but I think we should expose this somehow in a better way, and not with this super technical way. @pgayvallet it feels like we sho

[2020-12-15 12:13] deepikakeshav-qasource opened #85939 "[Security Solution] Selected connector is not displaying by default under the "External Incident Management System" drop down when creating the new case."
**Description**
Selected connector is not displaying by default under the "External Incident Management System" drop down when creating the new case.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. One connector like JIRA should be added.

**Steps to Reproduce:**
1. Navigate to Case

[2020-12-15 12:14] deepikakeshav-qasource commented on #85933
@manishgupta-qasource Please review

[2020-12-15 12:14] deepikakeshav-qasource commented on #85939
@manishgupta-qasource Please review

[2020-12-15 12:15] #84863 closed

[2020-12-15 12:19] pgayvallet commented on #85550
Yea, that was my second suggestion. I can change `parseSearchQuery` to return the raw/plain query in `searchTerm` when the parsing fails instead of throwing an error.

Now, do we need that now, and if so, before FF? I guess as a `bug`, we would be still good merging it later this week?

[2020-12-15 12:20] muskangulati-qasource commented on #85756
Hi @kevinlog,

Thank you for the information.

We have updated **02** testcases:
- **[C34134](https://elastic.testrail.io/index.php?/cases/view/34134)**
- **[C34135](https://elastic.testrail.io/index.php?/cases/view/34135)**

Also, It would be really helpful if you could update the description for below ticket:
- **https://github.com/elastic/security-team/issues/118**

Thanks!

[2020-12-15 12:26] stratoula commented on #85550
Later this week seems fine to me 🙂 Thank you @pgayvallet

[2020-12-15 12:27] manishgupta-qasource commented on #85933
Reviewed & assigned to @MadameSheema

[2020-12-15 12:29] majagrubic opened #85941 "[Discover] Group multifields in document table view"
Similar to grouping [multifields in sidebar](https://github.com/elastic/kibana/issues/84306), we need to group multifields in the table view. We've considered the following options:

1. Show a tooltip, similar to how it's done in the sidebar
Pros: looks nice, not too complicated to implement
Con: the field becomes "hidden", which, in a document view, I'm not sure we want. As a user, I'd expect to

[2020-12-15 12:29] kevinlog commented on #85756
thanks @muskangulati-qasource

I've updated the descriptions for elastic/security-team#118

[2020-12-15 12:31] manishgupta-qasource commented on #85939
Reviewed & assigned to @MadameSheema

[2020-12-15 12:51] muskangulati-qasource opened #85944 "[Security Solution] An error is thrown on the top of the form to review the form errors, but the form does not throw any error for any field."
**Description**
An error is thrown on the top of the form to review the form errors, but the form does not throw any error for any field.

**Build Details:**
Platform: Staging
Version: 7.11.0-SNAPSHOT
Commit: 9b0ec30e60ba98f663fbe46b54d27b273f18fd5e
Build number: 37292
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic stac

[2020-12-15 12:53] #84173 closed

[2020-12-15 12:54] stratoula commented on #82929
Closing this as it seems to have been fixed on master

[2020-12-15 12:54] #82929 closed

[2020-12-15 12:56] formgeist opened #85947 "[APM] Discuss: Configure columns in the Logstream component used in the Trace detail view"
# Summary

Since https://github.com/elastic/kibana/pull/85859 we now have a Logstream component in the Trace detail view which fetches the logs relevant for the trace, we could opt to configure columns that are relevant for APM related traces.

We intended in the [design](https://github.com/elastic/kibana/issues/67611) to have the `service.name` show up as an indication based on the same legend fr

[2020-12-15 12:56] elasticmachine commented on #85947
Pinging @elastic/apm-ui (Team:apm)

[2020-12-15 12:59] kibanamachine commented on #85899
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10295/)

[2020-12-15 13:01] formgeist commented on #85947
cc @cyrille-leclerc @nehaduggal @alex-fedotyev for your consideration

[2020-12-15 13:02] afgomez opened #85948 "[Test plan][Logs UI] Log detail flyout"
# Summary

This test plan covers the log line detail view, accessible from the main log view.

## Prerequisites

To test locally:

- Download the build candidate version of elasticsearch, kibana, and filebeat.
- Enable the filebeat system module. Optionally, enable other modules if you have any other services on your machine.
- Start elasticsearch, kibana, and filebeat.

To test with the [observab

[2020-12-15 13:02] elasticmachine commented on #85948
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-15 13:05] muskangulati-qasource opened #85951 "[Security Solution] The detection rules have defined source values for severity overridden but there is no Source field selected for the same."
**Description**
The detection rules have defined source values for severity overridden but there is no Source field selected for the same.

**Build Details:**
Platform: Staging
Version: 7.11.0-SNAPSHOT
Commit: 9b0ec30e60ba98f663fbe46b54d27b273f18fd5e
Build number: 37292
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic sta

[2020-12-15 13:07] muskangulati-qasource commented on #85944
@manishgupta-qasource Please review!

[2020-12-15 13:07] muskangulati-qasource commented on #85951
@manishgupta-qasource Please review!

[2020-12-15 13:11] manishgupta-qasource commented on #85944
Reviewed  & Assigned to @kevinlog

[2020-12-15 13:12] manishgupta-qasource commented on #85951
Reviewed & assigned to @MadameSheema

[2020-12-15 13:15] kibanamachine commented on #85911
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10407/)

[2020-12-15 13:24] mikecote commented on #85329
@XavierM ^^

[2020-12-15 13:29] arisonl commented on #49411
The ability to run simulation based off of synthetic test data is important in order to test behaviour under conditions and edge cases that are relatively rare and may not be present in the actual historical data.

[2020-12-15 13:32] jonathan-buttner commented on #82920
Fixed: https://github.com/elastic/kibana/pull/85647

[2020-12-15 13:32] #82920 closed

[2020-12-15 13:32] jonathan-buttner commented on #85145
Fixed: https://github.com/elastic/kibana/pull/85647

[2020-12-15 13:32] #85145 closed

[2020-12-15 13:35] sqren opened #85953 "[APM] Better support for data with gaps"
Data with gaps is currently not rendered. An single data point without adjacent data points will therefore not be visible.

Elastic charts has support for rendering gapped data as visible dots.

https://elastic.github.io/elastic-charts/?path=/story/mixed-charts--fitting-functions-non-stacked-series

![Kapture 2020-12-15 at 14.35.07.gif](https://zube.io/files/elastic/77c67e9fffaa5a1bafba2f3d343308e

[2020-12-15 13:35] elasticmachine commented on #85953
Pinging @elastic/apm-ui (Team:apm)

[2020-12-15 13:37] kevinlog commented on #85944
@efreeti can you take a look at this?  It looks like Signature is added twice, but there's a not a clear indication of the problem in the form.

[2020-12-15 13:38] formgeist commented on #85953
Will this still possibly be an issue when we switch the chart to use duration rather than percentage? https://github.com/elastic/kibana/issues/83665

[2020-12-15 13:51] skh opened #85954 "[Discuss] [Fleet] Should we add instructions for deb/ rpm enroll back to UI or point users to documentation for deb/rpm more clearly?"
**Current situation as of 7.10+:**

We removed the 'deb/rpm' instructions from the Fleet 'Add Agent' flyout UI.  It is causing some headache for users.

-------------------------

Currently, we show instructions for adding an agent in a Linux/Mac OS and a Windows version:
![image](https://user-images.githubusercontent.com/189073/102222867-479eff00-3ee4-11eb-8d6b-ff5961cc8c89.png)

These instructio

[2020-12-15 13:51] elasticmachine commented on #85954
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-15 13:51] elasticmachine commented on #85954
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-15 13:55] felixbarny commented on #83665
Back then we deliberately did not use the total duration.

https://github.com/elastic/kibana/issues/34716

Did any of the preconditions or assumptions change?

[2020-12-15 13:59] kibanamachine commented on #85899
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10296/)

[2020-12-15 13:59] kibanamachine commented on #85714
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10296/)

[2020-12-15 14:10] #85838 closed

[2020-12-15 14:12] pgayvallet commented on #85550
Ack, self-assigning

[2020-12-15 14:13] kibanamachine commented on #69595
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10408/)

[2020-12-15 14:18] branchnetconsulting commented on #85718
We are significantly affected by this same issue.   We have been relying on Markdown visualizations as navigation tools to move between a suite of related dashboards such that we can carry our analysis from one dashboard to another, bringing accumulated pinned criteria with us.  While the new drilldown feature in Kibana is contributing to movement between dashboards, it does not cover the need to

[2020-12-15 14:20] kmfreder1 commented on #85718
+1

[2020-12-15 14:29] EricDavisX commented on #85954
@ph you were in the discussions about RPM/DEB support with Ron & Blake and we decided to keep support, and keep it doc'ed, but not show it in the UI so users would be gently pushed towards using the 'install' command which allows them to use the 'Agent-upgrade' Fleet UI feature (which is not supported for Docker or DEB/RPM deploys).

If you want to weigh in as to what you prefer, we can gather you

[2020-12-15 14:32] formgeist commented on #83665
We've definitely had feedback that the percentage breakdown makes it harder to see compared to the duration-based breakdown. I can primarily speak from a workflow and UX perspective - I'd like to have @nehaduggal or @alex-fedotyev elaborate on the user feedback and intent.

The latency chart (previously transaction duration) has changed and will change significantly in the coming iterations to ser

[2020-12-15 14:35] mbondyra commented on #83730
Hi @myasonik @MichaelMarcialis,

I started working on this task following the implementing the 'button in popover when you click on a field'. The PR above is a draft of my work and at this point I need some designs. Please let me know if the solution is acceptable from accessibility standpoint @myasonik. When it comes to the design, we need to cover the following views:

1. For records field, noth

[2020-12-15 14:36] poffdeluxe commented on #85864
Seems like this might be caused by https://github.com/elastic/kibana/pull/85066
Tracked it all the way back in to that commit.

This puppeteer issue might be relevant: https://github.com/puppeteer/puppeteer/issues/5410

[2020-12-15 14:37] #85611 closed

[2020-12-15 14:47] chrisronline opened #85963 "[Monitoring] Only support "group by node" where it makes sense"
We added two different types of groupings for alerts in https://github.com/elastic/kibana/pull/81569 but it doesn't make sense to support this for certain areas of the UI, such as ones where "nodes" or "instance" does not make sense. For these areas, we should disable this part of the UI (or just not render it)

<img width="781" alt="Screen Shot 2020-12-15 at 9 45 34 AM" src="https://user-images.g

[2020-12-15 14:47] elasticmachine commented on #85963
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 14:49] afgomez opened #85964 "[Test plan][Logs UI] View log in context"
# Summary

This test plan covers the "View log in context" feature in the log stream page.

## Prerequisites

To test this properly you need to do use both a local setup and some sort of cloud setup (the observability cluster is fine).

For the local setup:
- Download the BC for elasticsearch, kibana, and filebeat.
- Enable the filebeat system module.
- Start everything.

For the cloud setup:
- Do

[2020-12-15 14:49] elasticmachine commented on #85964
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-15 14:50] kertal opened #85965 "[Discover] EuiDataGrid fine tuning"
Follow up of #67259 , listing task do be done, and issues to be fixed to make EuiDataGrid in Discover ready to be the first choice

## Summary

### EUI issues

- [ ] EuiDataGrid - Cell actions spacing the Safari ([issue](https://github.com/elastic/eui/issues/4235))
- [ ] EuiDataGrid - Cell actions need 2 clicks in Firefox and Safari on MacOS ([issue](https://github.com/elastic/eui/issues/4235))
-

[2020-12-15 14:51] skh commented on #85954
I see two aspects here:

* I understand that we want our UI less cluttered. As the command for .rpm/.deb now **differs** from the one for .tar.gz (install vs. enroll), this makes the .rpm/.deb version unusable for users unless they do their own research, because there's no hint that they need to go to the "real" documentation to find the command that's correct for them.

* Package managers are the

[2020-12-15 14:53] flash1293 commented on #22913
@tylersmalley We recently fixed a bug related to "twitching" of the rendered charts in Lens - did this resolve the issue or is the number of errors still that high?

[2020-12-15 14:55] shahzad31 commented on #84858
@lukelee1987 this might be a mapping issue, you can fix this by following step

you can try

`./heartbeat setup `

or

1. Stop all heartbeat instances
2. Delete all heartbeat indices
3. Start you heartbeat instances

[2020-12-15 14:55] elasticmachine commented on #85911
Pinging @elastic/kibana-core (Team:Core)

[2020-12-15 14:55] flash1293 commented on #85815
I can reproduce now, this only happens for existing panels if the `/edit_by_value` path is used, it's working fine for `/` (which is used for new embedded visualizations). I'm investigating the root cause.

[2020-12-15 14:57] elasticmachine commented on #85934
Pinging @elastic/ml-ui (:ml)

[2020-12-15 14:58] #85211 closed

[2020-12-15 15:00] kibanamachine commented on #85899
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10297/)

[2020-12-15 15:00] afgomez opened #85967 "[Test plan][Logs UI] Log stream page"
## Summary

This test plan intends to cover the integration between the UI and the APIs in the log stream page. They cover all the different ways the users could use the tool.

## Prerequisites

- Download the BC of elasticsearch, kibana, and filebeat.
- Start **only** kibana and elasticsearch.

## Test cases

### With no valid or non existing indices

When the user goes to the logs app:
- [x] It

[2020-12-15 15:01] elasticmachine commented on #85967
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-15 15:06] mistic commented on #85911
The test as been failing and looks flaky. Skipping for now

[2020-12-15 15:12] TRISAF commented on #58720
Hi Team,
any news on that? we are in a POC and really need this feature to think to buy Platinum Xpack. it is in pipeline?

[2020-12-15 15:14] sqren commented on #70169
Sounds great! Having the timestamp will still allow us to add alert annotations to charts which is a great start. Then we can enhance this down the road with the actual values.

[2020-12-15 15:15] alisonelizabeth commented on #60302
@joshdover sorry for the late reply here. The scope of what we will display in UA and how is still under discussion. I think ideally it would be preferred if we could have access to a more structured output, but I will keep you posted as we get more clarity around this.

[2020-12-15 15:16] mistic commented on #85899
This test keep failing. Skipping for now to unblock the CI.

master/8.0:
7.x/7.11:

[2020-12-15 15:18] ruflin opened #85968 "[Fleet] Asset counter is off when installing package"
When I install or remove the Elastic APM package, it shows me it will install 0 assets. But I don't think this is accurate as it installs quite a few templates. Same number shows up on deletion. My guess is, that it excludes all Elasticsearch assets like templates and ingest pipelines and only counts dashboards?

![Screenshot 2020-12-15 at 16 16 58](https://user-images.githubusercontent.com/244900

[2020-12-15 15:18] elasticmachine commented on #85968
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-15 15:20] alisonelizabeth opened #85969 "Support for version service"
Kibana has several places where the code diverges between `master` and `7.x`. A good example of this is Upgrade Assistant, although there are other plugins such as Snapshot & Restore and Index Management (others?) where this applies as well.

We propose the core team creates a “version” service that can be used to address this problem. We can use the [version number specified in the package.json](

[2020-12-15 15:20] elasticmachine commented on #85969
Pinging @elastic/kibana-core (Team:Core)

[2020-12-15 15:21] alisonelizabeth commented on #78923
Going to close this issue. I've opened https://github.com/elastic/kibana/issues/85969 to track the proposed implementation.

[2020-12-15 15:21] #78923 closed

[2020-12-15 15:22] mbondyra commented on #77017
Yes, closing.

[2020-12-15 15:22] #77017 closed

[2020-12-15 15:26] afharo commented on #75329
We can keep updating manually but add FTR that retrieves the list of apps from Core and checks the schema is up to date.

[2020-12-15 15:30] mbondyra opened #85972 "[Lens] Median operation blows the editor"
**Kibana version:**
master, 7.11

1. Go to Lens
2. Try to add median operation on vertical axis.
3. Behavior: Editor blows up with a console.error:

<img width="498" alt="Screenshot 2020-12-15 at 16 30 17" src="https://user-images.githubusercontent.com/4283304/102235643-d31f8c80-3ef2-11eb-8783-1c16cd9d2362.png">

[2020-12-15 15:30] elasticmachine commented on #85972
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-15 15:34] #85912 closed

[2020-12-15 15:38] pgayvallet commented on #85969
The `version` is currently available via `PluginInitializerContext.env.packageInfo.version`

Comparing can easily be achieved using the `semver` package

[code]

I agree that such service would add some sugar around that, but the value gain seems small. Or do you foresee see any other API addition later on this `version` service?

[2020-12-15 15:49] smith commented on #83663
These are fine, but my first reaction is, "Why can't I change it?"

[2020-12-15 15:49] sqren commented on #85953
The problem is that we've zoomed in closer than the data resolution allows. I don't think that changes whether we use duration or percentage.

[2020-12-15 15:56] mikecote commented on #45815
From alerting side, we are ok with such change. Though, we will always be using the "primary" URL since the executions happen in a task manager task.

[2020-12-15 15:59] sqren commented on #83663
Yeah, I keep coming back to this too.
It's a balance between making the UI simple and hide irrelevant stuff vs catering for less common user flows.
If we can solve both (simplicity and flexibility) that would be ideal.

[2020-12-15 16:07] rockydiamond1983 commented on #85619
I recognized I only had to refresh the index pattern.

[2020-12-15 16:07] #85619 closed

[2020-12-15 16:08] #84774 closed

[2020-12-15 16:10] flash1293 commented on #85815
Didn't get to the bottom of it yet, it's definitely related to the URL sync of the current search context - if that's removed, the editor frame is not reloading.

[2020-12-15 16:17] ThomThomson commented on #85856
I've fixed some of the background noise mentioned in this issue, the grey bars, here https://github.com/elastic/kibana/pull/85878 for 7.11.0. A similar fix could be backported to 7.10.1 as a temporary solution.

Going forward, adding a dedicated print mode url is still the best move, and should probably be considered in the presentation team's upcoming work.

[2020-12-15 16:25] mikecote commented on #85911
@mistic I think the wrong test got skipped, I'm still seeing failures in my PR https://github.com/elastic/kibana/pull/84371. I think it's the test within `describe('without kibana index', ...)` block that needs to be skipped instead of the one within `describe('with kibana index'...)`.

[2020-12-15 16:30] streamich opened #85975 "Use External URL allow-list service"
An [`ExternalUrl`](https://github.com/elastic/kibana/issues/69411) allow list service was added to `core.http`, it can validate URLs against an explicit allow/deny list in `kibana.yml`. The service allows all external URLs by default. If `externalUrl.policy` is configured in `kibana.yml` then only explicitly allowed URLs will be valid. Here is an example how `externalUrl.policy` configuration coul

[2020-12-15 16:30] elasticmachine commented on #85975
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-12-15 16:39] jbudz commented on #85911
added a skip for the suite
main: 507ae79
7.x: 8b4e2fe

[2020-12-15 16:43] kobelb commented on #45815
In this situation, are we just concerned with the toast warning being noisy or will features not work if we use the public URL instead of the private URL?

If we're only concerned with the toast warning being noisy, I wonder if we should just add a `kibana.yml` setting to suppress the warning for all users.

[2020-12-15 16:53] katefarrar commented on #85321
The team met to discuss this and has decided that users will not be able to interact with the waffle map, date picker, or anything else in the Inventory view while the node details panel is open. If a user clicks outside of the node details panel, this will trigger the panel to close.

Note: we may revisit this in the future, especially if we decide to allow multiple node panels to be open at once

[2020-12-15 16:55] arisonl commented on #49412
Another flapping mitigation mechanism (customer requested): Notify on X number of alert triggers within a given time.

[2020-12-15 16:58] skh commented on #85968
Well spotted, it seems the `/api/fleet/epm/packages/$NAME-$VERSION` endpoint only returns the kibana assets of a package. Should this be fixed for 7.11?

[2020-12-15 17:01] cnasikas opened #85980 "[Security Solution][Case] Change modal to flyout when attaching an alert to a new case"
To [attach an alert to a new case](https://github.com/elastic/kibana/pull/82996) a modal is being opened to create the case. The modal should change to a flyout.

[2020-12-15 17:02] flash1293 commented on #51739
Implementing all of this in 7.12 in an accessible way is probably not realistic, we will split it up into multiple phases and tackle a meaningful subset now. @mbondyra will look into this an come up with a plan til our next planning meeting.

[2020-12-15 17:05] arisonl commented on #85644
cc @gchaps

[2020-12-15 17:07] mikecote commented on #85329
Could also relate to being able to retrieve all existing / previous alert instances.

[2020-12-15 17:08] flash1293 commented on #85972
@lukeelmers Could this be related to the recent refactoring PR? I'm not sure whether I checked median... (shame on me)

[2020-12-15 17:09] chrisronline opened #85982 "[Stack Monitoring] [Test Scenario] Metricbeat monitoring"
# Testing
- [x] Ensure that the Stack Monitoring UI works as expected with both `metricbeat-*` data and `.monitoring-*` data (https://github.com/elastic/kibana/pull/77099). This involves using either legacy or Metricbeat-based collection in addition to using Metricbeat for non-stack monitoring data. The easiest way to do this is to setup monitoring via Metricbeat and ensure the `system` module is

[2020-12-15 17:09] elasticmachine commented on #85982
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:09] elasticmachine commented on #85847
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:10] elasticmachine commented on #85841
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:10] myasonik commented on #83730
Yeah, I think this solution works!

Two question on it:
- Given the meeting we just had about tackling more drag-and-drop functionality, do we still want to do this or would you rather punt on this for a possible more holistic solution in the future? (I'm good with it either way.)
- We might need to play around with the disabled button tooltip text... At the end it says "Move field directly to the

[2020-12-15 17:10] mikecote commented on #85329
Alert instances as data may be the solution to this.

[2020-12-15 17:11] chrisronline opened #85984 "[Stack Monitoring] [Test Scenario] Kibana monitoring data collection"
# Testing

- [ ] Kibana does not crash when disabling collection in `kibana.yml` (setting is `monitoring.kibana.collection.enabled:`)

[2020-12-15 17:11] elasticmachine commented on #85984
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:11] chrisronline opened #85985 "[Stack Monitoring] [Test Scenario] Multi-cluster monitoring"
# Testing

- [x] Ensure loading page shows when navigating to Stack Monitoring
- [x] Ensure cluster listing page loads when after loading screen
- [x] Ensure each cluster link properly resolves to that cluster's overview screen
- [x] In relation to the above, ensure there is no rison error toast message when navigating to a specific cluster https://github.com/elastic/kibana/issues/83212

[2020-12-15 17:11] elasticmachine commented on #85985
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:13] chrisronline opened #85986 "[Stack Monitoring] [Test Scenario] Consistent UX across stack products"
# Summary

We need to ensure each stack product has a consistent experience and there is consistency between stack products.

# Testing
- [x] Every overview page consists of a status section and a collection of charts
- [x] Each page has a page heading

# samples
<img width="2070" alt="Screen Shot 2020-10-08 at 1 47 49 PM" src="https://user-images.githubusercontent.com/56682/95495070-df282480-096c

[2020-12-15 17:13] elasticmachine commented on #85986
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:23] #83321 closed

[2020-12-15 17:27] chrisronline opened #85989 "[Stack Monitoring] [Test Scenario] Config testing"
# Testing

## monitoring.kibana.collection.enabled
- [x] Kibana does not crash when this is enabled
- [x] Ensure there are new Kibana monitoring documents (`.monitoring-kibana-*`) (For this to work, you need to ensure monitoring is enabled on the cluster which can be done through the setup page on the Stack Monitoring UI, or update ES cluster settings manually to set `xpack.monitoring.collection.e

[2020-12-15 17:28] elasticmachine commented on #85989
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:28] chrisronline commented on #85984
Replaced by https://github.com/elastic/kibana/issues/85989

[2020-12-15 17:28] #85984 closed

[2020-12-15 17:29] dplumlee commented on #75934
Closing this with the addition of new code that negates the need for testing #75802, specifically #84006 that enables ML rule exceptions and #85103 that enables Threshold rule exceptions

[2020-12-15 17:29] #75934 closed

[2020-12-15 17:29] mikecote commented on #85887
The same should apply for connectors as well.

[2020-12-15 17:38] chrisronline opened #85990 "[Stack Monitoring] [Test Scenario] Cloud"
## Testing

- [ ] Create two cloud deployments (`A` and `B`), and have `A` send their monitoring data to `B`. Go into the Kibana of `A` and visit the Stack Monitoring UI. Ensure the error message is relevant to cloud https://github.com/elastic/kibana/issues/81860

[2020-12-15 17:38] elasticmachine commented on #85990
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-15 17:38] poffdeluxe commented on #79925
Closed by https://github.com/elastic/kibana/pull/83140

[2020-12-15 17:38] #79925 closed

[2020-12-15 17:41] TinaHeiligers commented on #78792
@joshdover are we still planning on handling this issue for 7.12?

[2020-12-15 17:44] YulNaumenko commented on #59813
Based on the conversation

we should find a specific way of handling pre-configured alerts license check.

[2020-12-15 17:44] YulNaumenko commented on #85638
Moved this issue to be a part of #59813

[2020-12-15 17:44] #85638 closed

[2020-12-15 17:49] TinaHeiligers commented on #78869
@joshdover are we still going ahead with this issue during the 7.12 cycle? It's somewhat related to https://github.com/elastic/kibana/issues/78792, where we're working with the Node APM agent team.

[2020-12-15 17:50] #81677 closed

[2020-12-15 17:50] #85918 closed

[2020-12-15 17:50] dplumlee opened #85992 "Change threat techniques to be optional"
### Overview
Right now our front end rule creation requires at least one technique per tactic in the MITRE ATT&CK threat section of the create rule form as seen here
![image](https://user-images.githubusercontent.com/56367316/102251641-1964f380-3ed3-11eb-9668-3ac76bfc9228.png)

We want to get rid of this requirement and validation so that the user is able to map to any level of threat (tactic, tec

[2020-12-15 17:51] dplumlee commented on #85992
Addressed by #85481

[2020-12-15 17:51] #85992 closed

[2020-12-15 17:57] weltenwort commented on #84414
:thinking: The problem seems to occur when no mapping of the underlying indices contains the `log.level` field, which is the default field. Then the first selection on the drop-down doesn't trigger a change.

[2020-12-15 17:59] dej611 commented on #76962
Open specific issues for IP and range data types specific sorting

[2020-12-15 18:18] #85493 closed

[2020-12-15 18:38] kibanamachine commented on #85668
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85669
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #60210
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85680
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85681
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85682
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85683
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85684
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85676
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85677
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85678
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85314
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85311
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85673
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85691
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85692
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85310
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85679
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #85675
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:38] kibanamachine commented on #60209
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:39] kibanamachine commented on #65497
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:39] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:39] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10412/)

[2020-12-15 18:42] cnasikas opened #85998 "[Security Solution][Case] Fix toaster messages when attaching alerts to cases"
Toaster messages need to be fixed when attaching or synching alerts with cases. Specifically:

<img width="1126" alt="Screenshot 2020-12-15 at 8 41 54 PM" src="https://user-images.githubusercontent.com/7871006/102257897-fdcf0c80-3f15-11eb-9498-aa62f8226069.png">

[2020-12-15 18:51] #71243 closed

[2020-12-15 18:54] #85550 closed

[2020-12-15 19:03] katefarrar opened #86006 "History timeline is hidden when the navigation is docked"
When the navigation is docked, the content in the bottom drawer (history timeline and gradient legend) is hidden behind it.

screenshot:
<img width="1260" alt="Screen Shot 2020-12-15 at 12 01 53 PM" src="https://user-images.githubusercontent.com/455281/102260188-56c68280-3ecd-11eb-906c-34ba93ebe0ac.png">
screencast: https://www.loom.com/share/5e7674d77b1841689de482b9ba991d62

Expected behavior: th

[2020-12-15 19:03] elasticmachine commented on #86006
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-15 19:17] neptunian commented on #85627
Changes for this will be in this PR https://github.com/elastic/kibana/pull/85370.

The `readFromDocValues` will be done in a separate PR after FF as it is not doing anything right now and i'd rather lower the risk of changing that.

@mattkime Will be doing the migration as the migration should be written in the data plugin.

[2020-12-15 19:19] YulNaumenko opened #86007 "[Alerts] Add a possibility to disable alerts with the expired alert type license"
Currently alerts continue running and throwing error messages about the expired license.
We should provide an option for the user to disable this alerts.

[2020-12-15 19:19] elasticmachine commented on #86007
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-15 19:34] nickofthyme commented on #82493
Hey @VladLasitsa,

To be honest, I'm not exactly sure how this should be implemented. I just listed the Lens issue for reference on a way it could be handled.

As far as what is to be collected. I updated the description with a list. If I think of any more I will update the issue.

[2020-12-15 19:35] elasticmachine commented on #85907
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-15 19:43] mostlyjason commented on #85833
@ruflin if they uncheck "collect system metrics" what will stop working? i assume its just the logs/metrics on the agent details page, but the agent keeps running and they can still manage it in fleet?

[2020-12-15 19:46] mikecote commented on #85302
Done in advanced settings by setting the theme to "V8 beta".

Scope of the issue should also cover testing any EUI overwrites ex `.eui...` scss class overwrites.

[2020-12-15 20:08] alisonelizabeth opened #86016 "Refining UX around user privileges"
## Problem

ES UI apps currently lack a uniform and refined approach for allowing/disallowing UI actions based on privileges.

### What we currently have

There is existing support for privileges to an extent:

- The introduction of https://github.com/elastic/kibana/pull/67791 allows management sections to be hidden based on cluster/index privileges
- We have an authorization library in `es_ui_sha

[2020-12-15 20:08] elasticmachine commented on #86016
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-15 20:40] #78592 closed

[2020-12-15 21:00] #85714 closed

[2020-12-15 21:15] jbudz commented on #17284
Hey @lukeelmers - we're targeting 7.12 for Grunt removal currently.  I'm happy to help if there's any bandwidth issues.

[2020-12-15 21:31] #75601 closed

[2020-12-15 21:36] liza-mae opened #86033 "Kibana rpm package is not installing"
**Kibana version**: 8.0.0-SNAPSHOT

**Elasticsearch version**:  8.0.0-SNAPSHOT

**Server OS version**: CentOS 7

**Original install method (e.g. download page, yum, from source, etc.)**:
snapshots

**Description of the problem including expected versus actual behavior**:
Install RPM package for Kibana results in an error.

**Steps to reproduce**:
 1.  Install kibana package via ``` sudo rpm --inst

[2020-12-15 21:36] elasticmachine commented on #86033
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-15 21:37] liza-mae commented on #86033
cc: @jbudz

[2020-12-15 21:37] jbudz commented on #86033
Thanks - taking a look

[2020-12-15 21:50] tylersmalley opened #86038 "Failing ES Promotion: logstash pipeline list route add button links to the empty pipeline editor"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

This is being called from https://github.com/elastic/kibana/blob/master/x-pack/plugins/logstash/server/routes/upgrade/upgrade.ts#L28-L40 every time a user visits th

[2020-12-15 21:54] tylersmalley commented on #86038
@jaymode have any suggestions for how we should resolve this? It appears that while using the Kibana UI, the mapping will be created using the users credentials if it does not exist. Is this something we want to continue to allow, allow but only using the Kibana system user similar to the Fleet system indices, or should the mapping be set by Logstash itself and Kibana not handle the scenerio where

[2020-12-15 22:26] valentim89 commented on #60857
+1

[2020-12-15 22:28] liza-mae opened #86042 "Some directories/files remain when uninstalling Kibana package"
**Kibana version**: 8.0.0-SNAPSHOT

**Elasticsearch version**: 8.0.0-SNAPSHOT

**Server OS version**: CentOS 7

**Original install method (e.g. download page, yum, from source, etc.)**:
snapshots

**Description of the problem including expected versus actual behavior**:
When uninstalling Kibana packages, I noticed some directories/files are not cleaned up, I will note what I am observing and highl

[2020-12-15 22:28] elasticmachine commented on #86042
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-15 22:31] liza-mae commented on #86042
cc: @jbudz

[2020-12-15 22:37] alvarezmelissa87 commented on #81650
I can no longer reproduce this bug - no errors are shown in the UI anymore and the wizard shows an appropriate message if user doesn't have access to the selected index/indices in index pattern.

![image](https://user-images.githubusercontent.com/6446462/102280929-01559a00-3efc-11eb-89e4-94a3e4a1d966.png)

![image](https://user-images.githubusercontent.com/6446462/102280985-1c280e80-3efc-11eb-8199

[2020-12-15 22:37] #81650 closed

[2020-12-15 22:39] tylersmalley opened #86048 "Failing ES Promotion: Fleet Endpoints EPM Endpoints datastreams should list the logs and metrics datastream"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot. We will need to skip the test if it has not been resolved in ~24 hours to unblock downstream teams relying on up-to-date snapshots. Thanks!

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

https://kibana-c

[2020-12-15 22:39] elasticmachine commented on #86048
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-15 22:39] elasticmachine commented on #86048
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-15 22:54] #76587 closed

[2020-12-15 22:58] banderror commented on #76587
Addressed in the following PRs:

-> 8.0.0 https://github.com/elastic/kibana/pull/84904
-> 7.11.0 https://github.com/elastic/kibana/pull/86047

Here's a [screen recording](https://drive.google.com/file/d/1SYQd_ihKPvzlVUxELI8qNEqLBOkL18Gd/view?usp=sharing) of how it works now.

[2020-12-15 23:01] YulNaumenko commented on #85713
@elastic/uptime this bug caused by the code:
https://github.com/elastic/kibana/blob/a358c5768ea4f378270140d4e480fece98e8e103/x-pack/plugins/uptime/public/state/api/alerts.ts#L36-L44

For auto created alerts this always define action params with the **message** value, but it is wrong, because each action type has own definition of the required params. In case of ServiceNow it should be:
https://git

[2020-12-15 23:22] YulNaumenko commented on #84459
Removed Team:Alerting Services  due to the bug being related to uptime alert. Code to fix: https://github.com/elastic/kibana/blob/a358c5768ea4f378270140d4e480fece98e8e103/x-pack/plugins/uptime/public/state/api/alerts.ts#L36-L44

[2020-12-15 23:23] kibanamachine commented on #85668
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85669
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85676
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85677
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85678
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #60210
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85680
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85681
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85682
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85683
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85684
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #60209
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #65497
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85679
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85310
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85314
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85675
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85311
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85673
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85691
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:23] kibanamachine commented on #85692
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:24] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:24] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:24] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:24] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:24] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10306/)

[2020-12-15 23:27] YulNaumenko commented on #85713
Removed Team:Alerting Services  due to the bug being related to uptime alert. Code to fix: https://github.com/elastic/kibana/blob/a358c5768ea4f378270140d4e480fece98e8e103/x-pack/plugins/uptime/public/state/api/alerts.ts#L36-L44

Could be merged with bug #84459

[2020-12-15 23:29] alvarezmelissa87 commented on #84427
Had a chat with @chandlerprall - looks like it's possible that this is a known issue (with DataGrid) around this - if a header is focused and then you move that column to a new position. I'll do a bit more digging but might just need to be fixed on the EUI side.

[2020-12-15 23:39] mattkime commented on #77669
@kobelb We don't have numbers. In my nearly two years of supporting index patterns I've gotten zero questions about expression based scripted fields.

[2020-12-15 23:43] sleethma commented on #49626
I am experiencing the same issue with TSVB on Kibana 7.4.2. I can provide more info if needed. This is not in a usable state currently.

[2020-12-15 23:46] mattkime opened #86058 "[field formatters] url field formatter should obey External URL allow-list service"
Url field formatter should use the [`ExternalUrl`](https://github.com/elastic/kibana/issues/69411) allow list service.

[2020-12-15 23:46] elasticmachine commented on #86058
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-15 23:55] pmuellr commented on #85713
I don't completely understand what's going on here, but clearly just setting the `message` param is wrong.  I don't think we have enough introspection capabilities to even indicate what parameters would need to be set, let alone what the semantics would be of setting which parameters to some values.

Eventually I'd like this to be fixed with "defaults", where every connector would have a set of de

[2020-12-16 00:14] kibanamachine opened #86061 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/docvalue_fields·js - maps app documents source docvalue_fields "before all" hook for "should only fetch geo_point field and nothing else when source does not have data driven styling""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10418/)

[2020-12-16 00:14] kibanamachine opened #86062 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/maps_integration·ts - saved objects tagging - functional tests maps integration listing "before each" hook for "allows to manually type tag filter query""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10418/)

[2020-12-16 00:14] kibanamachine opened #86063 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/es_geo_grid_source·js - maps app layer geo grid aggregation source heatmap "before all" hook for "should re-fetch geotile_grid aggregation with refresh timer""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10418/)

[2020-12-16 00:14] kibanamachine opened #86064 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security global dashboard all privileges, no embeddable application privileges does not allow a map to be edited"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10418/)

[2020-12-16 00:14] kibanamachine commented on #86064
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10418/)

[2020-12-16 00:22] pmuellr commented on #59813
If we allowed the alert to be created, even if it wasn't valid given the current license, then those would be in the same state as alerts that "expired" due to a downgrade in the license.  It would of course be nice to let the customer know ahead of time, "we're going to create these alerts, but they're only valid for license XYZ+ and you're at WXY".  Then, when they upgrade the license, all of a

[2020-12-16 00:24] tylersmalley commented on #86038
@jaymode, I see you took a pass at this here: https://github.com/elastic/kibana/pull/80405/

The current issue we're running into is that a mapping update is being performed every time someone accesses the edit pipeline view. This update call is also being done by the current user.

It doesn't seem like this is the desired behavior, or if it's still valid for 8.0, but I am having a hard time track

[2020-12-16 00:31] #56604 closed

[2020-12-16 00:57] kibanamachine commented on #77567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10308/)

[2020-12-16 01:15] kibanamachine opened #86068 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration actions cloneIndex resolves right after waiting for index status to be green if clone target already existed"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10420/)

[2020-12-16 01:34] #86048 closed

[2020-12-16 02:30] #82906 closed

[2020-12-16 02:30] kevinlog opened #86073 "Malware can't be saved in Detect mode with a Basic license"
**Kibana version:**
7.11, 8.0

**Elasticsearch version:**
7.11, 8.0

**Describe the bug:**
When running ES/Kibana with a Basic license, the use cannot save Malware in the Endpoint Integration Policy in Detect mode.

**Steps to reproduce:**
1. Run ES/Kibana with a Basic License
   - Note: when running locally, you can run ES with a basic license like this: `yarn es snapshot --license basic --passwo

[2020-12-16 02:50] #77324 closed

[2020-12-16 02:50] #77325 closed

[2020-12-16 02:50] #81302 closed

[2020-12-16 03:27] elasticmachine commented on #86068
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 04:23] cuff-links opened #86077 "7.11 Update for Console Autocompletions"
## Summary
This issue is to update Kibana's autocomplete suggestions for Console for 7.11.

[2020-12-16 04:23] elasticmachine commented on #86077
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-16 04:58] dB2510 commented on #81816
@ymao1 You mean just the refresh icon with no text, right?

[2020-12-16 06:07] tylersmalley opened #86080 "[meta] Re-enable Cypress tests"

[2020-12-16 07:42] #85934 closed

[2020-12-16 08:11] fdartayre commented on #71176
Disabling KQL is not really a workaround as the same aggregation can still be executed via **Add filter**:

<img width="408" alt="Screenshot 2020-12-16 at 09 05 57" src="https://user-images.githubusercontent.com/30438455/102321753-68b42e00-3f7e-11eb-9878-19be677fcf29.png">

[2020-12-16 08:46] mshustov opened #86085 "Change default value of multipart request body parsing"
Follow up on Hapi version update https://github.com/elastic/kibana/pull/85406#discussion_r540372832 which [changed](https://github.com/hapijs/hapi/issues/3920) the default value `routes.payload.multipart` to `false` in v19.
We should allow plugin routes to configure the option and set the default value to `false` as well.

[2020-12-16 08:47] elasticmachine commented on #86085
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 09:27] #85972 closed

[2020-12-16 09:28] flash1293 commented on #77567
This is the error message from the logs:

It seems like the archiver is not 100% deterministic in whether the data is fully loaded and available once the promise returns. @mistic could this be an issue with either the saved object client or the archiver?

[2020-12-16 09:32] rudolf commented on #84141
When a user imports saved objects, we first migrate them before adding them to the `.kibana` index. This feature doesn't change any of the migration code, but focuses on the reliability of the migration process when a kibana install is upgraded.

We have the algorithm documented here https://github.com/elastic/kibana/blob/master/rfcs/text/0013_saved_object_migrations.md#4212-migration-algorithm-cl

[2020-12-16 09:43] #85391 closed

[2020-12-16 10:10] pgayvallet commented on #76003
@joshdover Should we close this? The APM need has need addressed with https://github.com/elastic/kibana/pull/77855 and when we last talked about it with @spalger, the need for the optimizer was not urgent.

[2020-12-16 10:14] pgayvallet commented on #52165
Closing, as solved on 7.6+

[2020-12-16 10:14] #52165 closed

[2020-12-16 10:21] jamiehynds commented on #83141
The Security Integrations team are in the process of migrating winlogbeat functionality to Elastic Agent packages. We are currently focused on allowing users to ingest custom windows event logs, see [proposal doc here](https://docs.google.com/document/d/1U7ZnMYGj5K3wOiYZdph8vrG40ZWOdXNqGwpFf24ZY4Y/edit?ts=5fc8b12f#).

We have a strong dependency on this multiple inputs issue, as without it, a user

[2020-12-16 10:58] WillemWever commented on #57656
We are experiencing the same problems upgrading versions 6.2.4, 6.4.3, 6.6.2 and 6.7.1 with the upgrade wizard 8.0. Please let me know if we can help you by providing additional information.

[2020-12-16 11:15] muskangulati-qasource opened #86095 "[Security Solution] No tooltip for policy name and description under the Integration tab."
**Describe the bug**
No tooltip for policy name and description under the Integration tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Fleet" tab from the left navigation bar.
3. Go to the Integrations tab and click on inst

[2020-12-16 11:23] muskangulati-qasource opened #86096 "[Ingest Manager] The inactive filter status is not shown by default on the UI"
**Describe the bug**
The inactive filter status is not shown by default on the UI

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Navigate to Kibana URL on Browser.

**Steps to Reproduce**
1. Click on "Fleet" tab from the left navigation bar.
2. Go to agents tab and observe inactive filter is not showing by default.

**Test dat

[2020-12-16 11:35] muskangulati-qasource opened #86097 "[Fleet] Agent shows 'offline' (or 'unhealthy') state when we use non-default namespace and Endpoint together."
**Describe the bug**
Host goes to the offline state with unknown error logs when we use namespace other than the default.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy with some other namespace should exist and applied to an endpoint.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Flee

[2020-12-16 11:41] muskangulati-qasource opened #86098 "[Security Solution] JSON view for data is not completely formatted on the UI"
**Describe the bug**
JSON view for data is not completely formatted on the UI

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent should be deployed with events generated on it.

**Steps to Reproduce**
1. Click on the "Timeline" tab from the left navigation bar.
2. Click on '>' icon and go to JSON view tab.
3. Observe that JS

[2020-12-16 11:42] muskangulati-qasource commented on #86095
@manishgupta-qasource Please review!!

[2020-12-16 11:42] muskangulati-qasource commented on #86096
@manishgupta-qasource Please review!!

[2020-12-16 11:42] muskangulati-qasource commented on #86097
@manishgupta-qasource Please review!!

[2020-12-16 11:43] muskangulati-qasource commented on #86098
@manishgupta-qasource Please review!!

[2020-12-16 11:49] manishgupta-qasource commented on #86095
Reviewed & Assigned to @kevinlog

[2020-12-16 11:50] manishgupta-qasource commented on #86096
Reviewed & Assigned to @EricDavisX

[2020-12-16 11:52] manishgupta-qasource commented on #86097
Reviewed & Assigned to @EricDavisX

[2020-12-16 11:54] manishgupta-qasource commented on #86098
Reviewed & Assigned to @MadameSheema

[2020-12-16 12:01] jguay opened #86100 "[Security Solution][Detections] Ability to group by multiple fields for Threshold detection rule"
**Describe the feature:**
Currently (7.10.1), it is possible in Alerts and Action to define an alert of type `Metric threshold` in this case with metricbeat system module data with filesystem metricset using 2 fields :
<img width="599" alt="Screenshot 2020-12-16 at 11 48 01" src="https://user-images.githubusercontent.com/19236038/102344999-9c9a4e00-3f94-11eb-862e-d5d03f5cbe87.png">

However, only

[2020-12-16 12:08] dej611 commented on #85928
Probably this need to be synced with the Inspector download service as well.

[2020-12-16 12:24] darnautov opened #86101 "[ML] Anomalies table on Anomaly Explorer doesn't comply with the relative time range"
**Kibana version:**
master

**Describe the bug:**
Anomalies table doesn't fetch data according to the time bounds when the relative time range is set in the date picker. It retrieves the range on the initial page load and utilizes it for each following update.

**Steps to reproduce:**
1. Create the Anomaly detection job
2. Go to Anomaly Explorer while the job is running and produces results
2. Set

[2020-12-16 12:24] elasticmachine commented on #86101
Pinging @elastic/ml-ui (:ml)

[2020-12-16 12:28] kevinlog commented on #86095
@paul-tavares how do the existing tables in Fleet work?  Is there a tooltip in when the values are truncated?

[2020-12-16 12:35] pjhampton commented on #85391
@ruflin @kobelb @tsg

QQ on reading from this index - should the leading period be specified or not?
Ref: https://github.com/elastic/kibana/pull/84422/files#diff-42eb463cfaca4b263f4d6543fd550415c343c5f004a3c72312c8e0dd704ef1caR107

[2020-12-16 12:36] deepikakeshav-qasource opened #86102 "[Security Solution] Alert information is not displayed on Jira after adding the alert in jira connector even after enabling the "sync alert status with case status" option."
**Description**
Alert information is not displaying on Jira after added the alert in jira connector even after enable the "sync alert status with case status".

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. One connector like JIRA should be added.
4. Alert should be generated.

**S

[2020-12-16 12:36] deepikakeshav-qasource commented on #86102
@manishgupta-qasource Please review

[2020-12-16 12:40] deepikakeshav-qasource opened #86103 "[Security Solution]Horizontal scroll bar is not displaying in event table on detection page."
**Description**
Horizontal scroll bar is not displaying in event table on detection page.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Click on '>' icon and go to Table tab.
3. Observ

[2020-12-16 12:41] deepikakeshav-qasource commented on #86103
@manishgupta-qasource Please review

[2020-12-16 12:42] manishgupta-qasource commented on #86103
Reviewed & assigned to @MadameSheema

[2020-12-16 12:43] manishgupta-qasource commented on #86102
Reviewed & assigned to @MadameSheema

[2020-12-16 12:45] dikshachauhan-qasource opened #86104 "[Ingest Manager]: Search bar, Refresh and timer buttons shows up for few seconds while page is uploading at Administration tab"
Kibana version:
Kibana:7.11.0 snapshot Cloud environment

Elasticsearch version:
Elasticsearch:  7.11.0 snapshot Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.11.0 snapshot Cloud environment

Preconditions
1. 7.11.0 snapshot Cloud environment should be available.
BUILD 37305
COMMIT d0c88d5b23ab09511ed0edf803

[2020-12-16 12:50] rudolf commented on #84980
The types of plugins that require custom export hooks are most likely the ones with slightly more complex domains. So I think this should be the preferred way plugins implement their export hook, by calling a service which contains their business logic. But this means they will probably be calling `start` lifecycle services.

Plugins could "hack" around the lifecycles, but maybe this should be a `

[2020-12-16 12:53] ymao1 commented on #81816
@dB2510 The `EuiButtonEmpty` is a separate component that looks like a link.

You can see a usage example with icon in the alert details component
https://github.com/elastic/kibana/blob/003efb1cc490f48e2e1561e99e12718f96fc3a2d/x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details.tsx#L139-L145

[2020-12-16 12:56] rudolf commented on #84977
I guess we need to decide what it means to "show a warning". Will a plugin just register a string that Core renders, or will we accept html (react components) or even a callback that can execute public code.

A string might be sufficient as a start, but it feels like being able to format the message and navigate to the app so a user can take the appropriate actions would be worth it.

Since this r

[2020-12-16 13:08] pgayvallet commented on #84980
Exposing this new hook API on `start` contract would avoid the `getStartServices` trick, however there is still the problem that the custom logic may (will) need to access a scoped ES or SO client to fetch the additional objects they need to add to the export (I'm thinking about https://github.com/elastic/kibana/issues/82064 which is one of the two usecases we need to address here).

So basically,

[2020-12-16 13:14] megakoresh commented on #57540
Seeing this as well.

When you aggregate data from indices with normal date formats and those with custom, kibana gives this error, where it's seemingly trying to parse a normal date with the custom date format specified in one of the indices.

[2020-12-16 13:16] ghost opened #86105 "Default integration name is not auto-updated after adding 10 same integrations with default name in agent policy"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows x64, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
Default integration name is not auto-update

[2020-12-16 13:16] pgayvallet commented on #84977
These 'warnings' will be generated from the server-side, so I think that's just deal breaker to think about arbitrary rendering. If we need to support warnings more complex than plain text, I think we would have to provide a correct data structure/format for it, and handle the rendering ourselves on the client-side from SO management.

For example, the warning type could look like:

[code]

and an

[2020-12-16 13:17] elasticmachine commented on #86105
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 13:17] rahulgupta-qasource commented on #86105
@manishgupta-qasource Please review the bug

[2020-12-16 13:27] rayafratkina opened #86107 "Add support for 'match_only_text' field type"
**Describe the feature:**
ES is adding a new space-efficient variant of text 'match_only_text' in https://github.com/elastic/elasticsearch/pull/66172 (currently planned for 7.12)
This issue will track adding support for this field type in Kibana.

**Describe a specific use case for the feature:**
It sounds like observability team would benefit from using it for logs data, so we probably need to be

[2020-12-16 13:27] elasticmachine commented on #86107
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-16 13:30] sqren opened #86108 "[APM] Ability to alert when any individual error group exceeds the threshold"
Currently the error count alert will fire when the total number of errors exceed the threshold.
It should be possible to get alerted when any individual error group exceeds the threshold.

**Note**
The `error.grouping_key` should be exposed in the email, so users can link back to the specific error

Discuss topic: https://discuss.elastic.co/t/apm-error-id-in-email-alert/258803

[2020-12-16 13:30] elasticmachine commented on #86108
Pinging @elastic/apm-ui (Team:apm)

[2020-12-16 13:31] cyrille-leclerc commented on #85713
Thank you very much for your responsiveness @YulNaumenko and @pmuellr . @sqren we have the same problem on APM, shall I create a dedicated issue?

[2020-12-16 13:37] manishgupta-qasource commented on #86105
Reviewed & Assigned to @EricDavisX

[2020-12-16 13:38] manishgupta-qasource commented on #86104
Reviewed & Assigned to @EricDavisX

[2020-12-16 13:39] elasticmachine commented on #86104
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 13:41] flash1293 commented on #83730
@mbondyra How much work you think it will be to finish this PR? I see the point about parking this until we solve it consistently with the rest of drag and drop but it might take a while and this seems like it can be a quick win.

[2020-12-16 13:44] mistic commented on #77567
I'm not sure and I would have to take a look on it. However as I'm out until January maybe @tylersmalley have thoughts on this one

[2020-12-16 13:47] mikecote commented on #80120
After chatting with @legrego and @kobelb, this is a feature the alerting team will own. I've asked @gmmorris to come up with a more detailed proposal that clarifies option 3 and 4 as it seems to be the best path forward.

I think there's a bigger picture that could be painted and we could consider the following in some sort of phased approach:
- We have two places the hosts would now be mentioned

[2020-12-16 13:55] paul-tavares commented on #86095
I think some do have tooltips (via `title` attribute). I will fix this and add the tooltips

[2020-12-16 13:58] EricDavisX commented on #86096
I believe this this by design, which is in-line with other UX elements.  Let me ask @nchaulet to confirm the spec please? Thank you.

[2020-12-16 14:00] nchaulet commented on #86096
Yes it was by design Inactive agents and badge are only shown if you select the `Inactive` status

[2020-12-16 14:01] EricDavisX commented on #86097
This might even be a critical bug, but let us evaluate a bit more first.  @blakerouse @ferullo thoughts? Any reason to think this is on Endpoint side or Agent side for further digging?  I thought we had prior tests that validated name-space, so I think it will be regression (unless the ticket I'm thinking of is still open).

[2020-12-16 14:05] jpountz commented on #86107
Thanks @rayafratkina for opening this.

An important piece of information regarding this field is that it is returned as a `text` field in the field caps API, the same way that `wildcard` fields are returned as `keyword` fields, so it this field should require minimal work to be supported for querying/aggregating in Kibana.

[2020-12-16 14:08] nreese opened #86109 "[Maps] investigate search sessions"
https://github.com/elastic/kibana/pull/83073 added "Send to background" UI with session service. Functionality is merged behind the feature flag `xpack.data_enhanced.search.sendToBackground.enabled`

How should Maps support search sessions?

[2020-12-16 14:08] elasticmachine commented on #86109
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-16 14:21] robin13 commented on #83375
@chrisronline I did not see any errors in the console, but have attached the HAR file of the process of creating a pipeline, and then clicking on "Pipelines":
[localhost.zip](https://github.com/elastic/kibana/files/5703254/localhost.zip)

[2020-12-16 14:22] alisonelizabeth commented on #85969
Thanks for pointing this out @pgayvallet! I was not aware of this. I think this will serve our needs for now.

[2020-12-16 14:22] #85969 closed

[2020-12-16 14:22] nchaulet opened #86112 "[Fleet] Install the Elastic Agent package during setup"
## Description

As we install the `system`  package during the ingest management setup we should install the `elastic_agent` package.

The only difference this package should not be added to the default agent policy.

[2020-12-16 14:22] elasticmachine commented on #86112
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 14:34] alisonelizabeth opened #86113 "[Mappings editor] Add UI form for match_only_text field type"
In `7.12`, Elasticsearch will add a new `match_only_text` field type. We need to add support for this type in the mappings editor.

Related ES PR: https://github.com/elastic/elasticsearch/pull/66172

[2020-12-16 14:34] elasticmachine commented on #86113
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-16 14:36] ferullo commented on #86097
I don't think this is related to Elastic Endpoint. It seems "Go to the Agents tab and click on installed endpoint" means "Go to the Agents tab and click on installed **host**".

[2020-12-16 14:55] #85241 closed

[2020-12-16 14:55] arisonl opened #86116 "[Discuss] How can we make introducing custom rule types easier?"
The need for the ability to easily introduce custom rule types has come up in a number of customer calls. It is doable with the new alerting framework but it is worth discussing if there are ways to make it easier. For example, one way is to produce documentation around writing alerting plugins (we already have a couple example ones and, in the general case, there are not many great guides around

[2020-12-16 14:55] elasticmachine commented on #86116
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-16 14:55] kobelb commented on #85391
@pjhampton FWIW, I was operating on the assumption that we'd have the leading period per https://github.com/elastic/kibana/issues/85391#issuecomment-744248767 and the `kibana_system` role now has access to read from the `.logs-endpoint.diagnostic.collection-*` indices.

[2020-12-16 14:57] formgeist commented on #83663
We've decided to define it as such - this is the best solution I can come up with at this time that implies the transaction type is selected for all the contents below.

[2020-12-16 14:58] nchaulet commented on #85833
Yes the agent will still run we will just not have logs/metrics

[2020-12-16 14:59] sqren commented on #85713
@cyrille-leclerc yes please

[2020-12-16 15:04] wylieconlon commented on #86107
@rayafratkina this sounds like an issue for the app-services team because it affects mostly KQL and filter manager.

@jpountz my impression is that this new field type supports all existing queries?

[2020-12-16 15:17] #85025 closed

[2020-12-16 15:17] neptunian opened #86121 "[Fleet] Use index pattern api to create/update index patterns"
We should use the [new index pattern api](https://github.com/elastic/kibana/pull/83576) to create and update index patterns in Fleet during package installation/upgrade/removal.  Before using it, [support will need to be added](https://github.com/elastic/kibana/pull/85370) to handle our use case of being able to pass the option "allowNoIndex" in order to prevent the field caps api returning 404 wh

[2020-12-16 15:17] elasticmachine commented on #86121
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 15:24] legrego opened #86122 "Incorrect sorting on `Storagesize` when viewing data streams"
**Kibana version:** 7.10.0

**Describe the bug:**

When viewing data streams from the Index Management app, you have the option to sort by storage size within the UI. This will sort the items in the data streams list alphabetically rather than by the actual storage size.

**Expected behavior:**

The list should be sorted by storage size instead of alphabetically

[2020-12-16 15:33] elasticmachine commented on #85718
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-16 15:34] elasticmachine commented on #85883
Pinging @elastic/kibana-security (Team:Security)

[2020-12-16 15:36] legrego commented on #85883
For what it's worth, we do not want to encourage folks to set these "custom" privileges (cluster, index, or otherwise). They are seen as implementation details, and are not subject to BWC guarantees.

That said, we can update the UI so that we are at least consistent with cluster privileges.

[2020-12-16 15:37] elasticmachine commented on #85709
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-16 15:39] elasticmachine commented on #85701
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2020-12-16 15:39] elasticmachine commented on #85701
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2020-12-16 15:39] mbondyra commented on #83730
Hi @flash1293 it's a not a big PR, so from the tech perspective it misses tests, types declaration and maybe small refactoring. But it's not the best design so we need input from @MichaelMarcialis about it. @myasonik the solution we talked about is probably away 2-3 releases as we would first priorize editor to editor drag and drop so I'd merge it now and then replace with a holistic approach. You

[2020-12-16 15:40] elasticmachine commented on #85914
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-16 15:47] myasonik commented on #83730
Just to recap then, sounds like we ship this as a quick win then and then we're not rushed to implement the holistic approach. Is that right? If so, I like it. 👍

[2020-12-16 15:48] mshustov opened #86125 "Deprecate LP log rotation in favour of Log rotation appender"
The legacy platform log rotation is an experimental feature added in v7.6 https://github.com/elastic/kibana/pull/49750
It's not a subject to semver, and it hasn't been declared as GA. It's used by the Cloud mostly.
It should be deprecated in favor of  `Log rotation appender` added in https://github.com/elastic/kibana/issues/56291 and provide documentation on how to configure appender.
Contact Clou

[2020-12-16 15:48] elasticmachine commented on #86125
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 15:50] flash1293 commented on #83730
That would be my preference too @myasonik Probably needs some design touches, but I think we can finish this approach soon.

[2020-12-16 15:57] #77739 closed

[2020-12-16 16:07] EricDavisX commented on #85954
the above is an option to fix this if we are ok to merge in the text for DEB and RPM into the docs link.  It does not add the RPM / DEB enroll instructions back to the UI.  We can continue to discuss if we want the PR and if we want it or not, and if so for 7.11 or 7.10.x

[2020-12-16 16:12] ymao1 commented on #58362
Current state of the alerts list:
- all action types are shown in the filter menu, whether or not there's an associated alert
- empty state when action type with no associated alerts selected

![Dec-16-2020 11-08-08](https://user-images.githubusercontent.com/13104637/102374392-47a80900-3f8f-11eb-8ecf-980d3df8118c.gif)

It seems like the original issue has been addressed?

[2020-12-16 16:18] pgayvallet commented on #77961
As mentioned during the breakout session, we should probably split that into two distinct tasks:
- Add support of a tie breaker field for all our SOs
  - add support for 'core' migrations
  - add a 'core' migration to populate the tie breaker field on all our existing objects
  - add the mechanism to add/update the tie breaker field when performing CRUD operation on SOs (`create`, `update` and the

[2020-12-16 16:26] ThomThomson commented on #85718
I am unable to recreate this in Master, in 7.10.1, or in 7.9.3.

![Pinned Filter](https://user-images.githubusercontent.com/14276393/102375211-3f040280-3f90-11eb-866e-2cbd882d08d5.gif)

This is clearly a problem encountered by many users, so I'd like to get to the bottom of it.
I have a few questions that might help me narrow it down.

1. Are there any filters saved in the destination url?
2. Is a

[2020-12-16 16:26] elasticmachine commented on #58086
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 16:27] pgayvallet commented on #82027
@legrego should the `onExport` / `onImport` hooks be considered a prerequisite before starting to implement this then, or would it be acceptable if the current issue was to be done before the hook APIs (even if both are planned for `7.12`)?

[2020-12-16 16:29] mdefazio commented on #58362
Not sure if the discussion was resolved around a disabled action type?  Do we show action types in the filter menu if the user does not have access/disabled?

Also, might not be for this issue, but a few thoughts if we are closing this.
- Should we sort the actions alphabetically in the filter dropdown?
- Should we go ahead and add search to this filter dropdown?
- Can the label for this dropdown

[2020-12-16 16:34] elasticmachine commented on #58261
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 16:38] joelgriffith commented on #82723
Just wanted to ping this issue and see where this is in terms of 7.12 timeliness. This is currently a blocker for reporting to switch over to TaskManager versus our own queueing module.

[2020-12-16 16:42] ryankeairns commented on #85701
@gbit-is thank you for taking the time to share your personal experience and suggestions. This is one that will take some time to address, but I can think of a couple of ways in which we could make progress.

In some areas, we are now allowing users to change color palettes (Maps and Lens come to mind; see below) and our component library ([EUI](https://elastic.github.io/eui/#/forms/color-selectio

[2020-12-16 16:50] wylieconlon commented on #85893
I'm planning on doing this as part of the editor UI, it's a very simple fix

[2020-12-16 16:52] #85560 closed

[2020-12-16 16:56] peteharverson opened #86141 "[ML] Time range incorrect when opening Single Metric Viewer from Anomaly Explorer"
**Kibana version:** 7.11.0 BC1

The 'View series' link on the Anomaly Explorer should set the time range of the zoom in the Single Metric Viewer to focus on the time of the selected anomaly. However the focus is set to cover the latest data shown in the Single Metric Viewer.

![view_series_time_range_bug](https://user-images.githubusercontent.com/7405507/102380166-805fd680-3fbf-11eb-89f1-6d54a02b0

[2020-12-16 16:56] elasticmachine commented on #86141
Pinging @elastic/ml-ui (:ml)

[2020-12-16 17:01] ymao1 commented on #58362
It looks like they still show up in the filter menu if they are disabled. Based on [this comment](https://github.com/elastic/kibana/issues/58362#issuecomment-600865759) it seems like that was the expected behavior (at least for 7.7). Have there been changes since 7.7 that would allows us to remove them from the filter menu if they are disabled?

[2020-12-16 17:01] jaymode commented on #86038
@tylersmalley sorry for this, it slipped my mind when we made a ES change; I think this is due to https://github.com/elastic/elasticsearch/pull/66190

@pugnascotia can you help here? I think there is a conflict between making the logstash system index managed by ES and the code in Kibana. I think we need to confirm everything is right in the ES template and then proceed with removing the mapping/t

[2020-12-16 17:15] legrego commented on #82027
Will the current issue expose this support for alerts or actions, or will we complete this initial work without turning it on for those types? I don't mind splitting up the work into different PRs, but I would like to have `onExport`/`onImport` hooks in place before we turn this on for alerts and actions specifically.

[2020-12-16 17:24] rw-access commented on #75771
@dplumlee @peluja1012 I think we can close this issue now. Is that right?

[2020-12-16 17:34] paulb-elastic commented on #85555
It seems to be recreatable in the edge-oblt environment, if for example, you filter down on the `org:google` tag.

In this case, it seems that it’s the Up/Down count that’s wrong (which is why it looks like the pie chart is wrong):

![image](https://user-images.githubusercontent.com/70908889/102384703-ebf87280-3fc4-11eb-8340-414eda483a94.png)

@formgeist, do you think this could be what you saw to

[2020-12-16 17:46] kobelb commented on #86038
The logstash plugin in Kibana is only adding the following mapping, when the `.logstash` index already exists per https://github.com/kobelb/kibana/blob/d015c24509d0ed8a2bce5802fea036ae7c910a38/x-pack/plugins/logstash/server/routes/upgrade/upgrade.ts#L32-L37

[code]

This property appears to be included in @pugnascotia's definition of the `.logstash` index in https://github.com/elastic/elasticsearc

[2020-12-16 17:58] elastic-jb opened #86145 "[Discuss] URL Template experience in Drilldown Manager"
With the holidays, putting this into a discuss issue as best we can to try and make some progress while everyone is mostly async.

**TLDR;**
We are adding support for URL Drilldown templates in the Drilldown Manager. These templates are designed to make it easy for a template author to re-use the mustache syntax template, and associated drilldown configuration in another panel. While this is simil

[2020-12-16 17:58] elasticmachine commented on #86145
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-16 18:04] sophiec20 opened #86147 "[ML] Trained models in spaces"
ML jobs will be space-aware (targeted for 7.11 https://github.com/elastic/kibana/issues/64172), however trained models are not.

A data frame analytics job will create a trained model. This can be used during ingest in an inference pipeline or in search as a pipeline aggregation. https://www.elastic.co/guide/en/machine-learning/current/ml-inference.html

Trained models may also be imported into th

[2020-12-16 18:04] elasticmachine commented on #86147
Pinging @elastic/ml-ui (:ml)

[2020-12-16 18:21] #84256 closed

[2020-12-16 18:25] dougburks commented on #85718
Hi @ThomThomson ,

Thanks for the quick reply!

Here are the answers to your questions:
1. No, the destination URL simply points to the dashboard ID.
2. Our Kibana default time range is `Last 24 hours`. There are no filters saved in the destination dashboard.
3. We are using the markdown embeddable from visualize.
4. The link to the destination dashboard is in view mode.

Here are some screenshots

[2020-12-16 18:27] paulb-elastic commented on #80168
This is done, closing

[2020-12-16 18:27] #80168 closed

[2020-12-16 18:28] paulb-elastic commented on #80170
This is done, closing

[2020-12-16 18:28] #80170 closed

[2020-12-16 18:34] kertal commented on #45629
closing this because hiding the histogram was implemented in #83633

[2020-12-16 18:34] #45629 closed

[2020-12-16 18:42] paulb-elastic opened #86154 "[Uptime] Add option to download the full script and DOM"
This requirement has been split out from (this issue](https://github.com/elastic/kibana/issues/80162).

Requirement:
* Two buttons at the top of the waterfall chart, to download the full script and the full DOM (only for last step)
  * TBC why ony for the last step?  Should this be available on all steps? (/cc @katrin-freihofner / @drewpost)
* Telemetry should be added to both buttons

[2020-12-16 18:42] elasticmachine commented on #86154
Pinging @elastic/uptime (Team:uptime)

[2020-12-16 18:44] paulb-elastic commented on #80162
The main waterfall chart has been implemneted.

Items in the original spec that have not yet been implemented are covered in separate issues:
* Display summary performance metrics on waterfall chart #85401
* Add option to download the full script and DOM #86154

[2020-12-16 18:44] #80162 closed

[2020-12-16 18:46] EricDavisX commented on #85954
![docs-link-update](https://user-images.githubusercontent.com/12970373/102392423-07538580-3fa5-11eb-8fac-6aaa6497021d.png)

the above PR with the docs link update is merged.  if we want to leave this open, I'm all for the discussion, but it is hopefully an incrementally improved experience.

[2020-12-16 18:46] tylersmalley opened #86160 "[ML] Test failures bumping Elasticsearch to 7.12.0"
During the `7.12.0` bump on the `7.x` branch we encountered two failures in the functional tests.

https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/94934/execution/node/664/log/

[code]

![image](https://user-images.githubusercontent.com/40265/102393135-d49d9300-3f8c-11eb-8085-e490eea0b79b.png)

---

https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/94934/e

[2020-12-16 18:47] lukeelmers opened #86162 "[logging/metrics] Provide ability to log ops data from core metrics service"
Related to https://github.com/elastic/kibana/issues/13241

In the legacy platform, we rely on [the `@hapi/good` ops event](https://hapi.dev/module/good/api/) for automatically logging ops metrics at a particular interval. The `opsInterval` is configurable and provided to the [hapi/good configuration](https://github.com/elastic/kibana/blob/e176def756f2505dc7e4888db87f0cc057740858/packages/kbn-legac

[2020-12-16 18:47] elasticmachine commented on #86162
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 18:55] elasticmachine commented on #86160
Pinging @elastic/ml-ui (:ml)

[2020-12-16 18:58] chrisronline commented on #83375
I'm not sure how to help at this point.

The HAR doesn't reveal any errors. The URL on the page where no content shows up looks right (per my local setup). There has to be some kind of JS error happening. Maybe it's related to the number of pipelines? or type of pipelines they are? What else can you share about this setup?

![logstash_pipelines](https://user-images.githubusercontent.com/56682/1023

[2020-12-16 19:02] tylersmalley commented on #86160
cc @walterra and @pheyos

[2020-12-16 19:12] elasticmachine commented on #86095
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 19:12] joshdover opened #86165 "[GS] Add Observability deep links to navigational search"
Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Observability apps should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL path to the route in

[2020-12-16 19:13] kertal opened #86166 "[Discover] Deangularize controller"
Since the controller of angular is frequently edited, it is recommendable to keep on migrating step by step. We shouldn't migrate Angular router code for now, since also used by Discover context, whose controller needs also to be deangularized.

Functions and variables of $scope should be migrated to helpers to be used in the main react component

- [x] controller variables
  - [x] $element
  - [x

[2020-12-16 19:14] joshdover opened #86167 "[GS] Add Security Solution deep links to navigational search"
Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Security Solution apps should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL path to the rout

[2020-12-16 19:15] joshdover opened #86168 "[GS] Add Stack Monitoring deep links to navigational search"
Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Stack Monitoring should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL path to the route in y

[2020-12-16 19:15] elasticmachine commented on #86168
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-16 19:17] joshdover opened #86170 "[GS] Add Machine Learning deep links to navigational search"
Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Machine Learning should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL path to the route in y

[2020-12-16 19:17] elasticmachine commented on #86170
Pinging @elastic/ml-ui (:ml)

[2020-12-16 19:18] joshdover opened #86171 "[Fleet][GS] Add Fleet deep links to navigational search"
_Currently blocked by #96134_

Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Fleet should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL pa

[2020-12-16 19:18] elasticmachine commented on #86171
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 19:18] elasticmachine commented on #86171
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-16 19:19] joshdover opened #86172 "[GS] Add Dev Tools deep links to navigational search"
Meta issue: #72680

In #83380 we added support for applications to include a `searchDeepLinks` property on their `core.application.register` call which feeds into the navigational search feature.

Dev Tools should add this property to add deep links for their key locations to search. In most cases, this should be adding an array with the name of the location and a URL path to the route in your app

[2020-12-16 19:19] elasticmachine commented on #86172
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-16 19:19] joelachance commented on #2551
'_' isn't a good namespace to privately reserve. It's very frustrating to see this ticket was opened 5 years ago, and there's been zero moment here.

While it appears everyone here can agree this was a terrible decision, any tools to help remedy this could be helpful, which would help a lot of people.

This is also blocking for me.

[2020-12-16 19:20] joshdover commented on #72680
I've opened issues for the individual teams that need to integrate with this feature. Closing this!

[2020-12-16 19:20] #72680 closed

[2020-12-16 19:20] #85392 closed

[2020-12-16 19:22] elasticmachine commented on #86165
Pinging @elastic/apm-ui (Team:apm)

[2020-12-16 19:22] elasticmachine commented on #86165
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-16 19:22] elasticmachine commented on #86165
Pinging @elastic/uptime (Team:uptime)

[2020-12-16 19:22] elasticmachine commented on #86167
Pinging @elastic/siem (Team:SIEM)

[2020-12-16 19:24] smith opened #86173 "[APM] Anomaly alert preview charts"
When creating an anomaly alert for transaction duration (https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/alerts/register_transaction_duration_anomaly_alert_type.ts), show a preview chart.

Follow-up for elastic/kibana#77313 which was for implementing preview charts on other alert types.

[2020-12-16 19:24] elasticmachine commented on #86173
Pinging @elastic/apm-ui (Team:apm)

[2020-12-16 19:26] dominiqueclarke opened #86174 "[Uptime] page_header.tests.ts no longer functional"
In #83779 the tests were revised after removing required props and moving functionality to redux. However, the tests were not updated with the redux context in order to make the tests functional.

The tests should be updated to pass state to the redux provider, in order to test all the use cases appropriately.

[2020-12-16 19:26] elasticmachine commented on #86174
Pinging @elastic/uptime (Team:uptime)

[2020-12-16 19:30] joshdover commented on #84977
@mdefazio I believe you've done the recent design work on the Saved Object import flyout UI. We'd like to add a UI that shows warnings about additional actions that a user may need to take when importing objects. I was hoping you could help us figure out how we should display this.

Basic requirements:
- Warning messages are not tied to any specific object. A single warning message may be presente

[2020-12-16 19:33] legrego commented on #7419
Another user came across this problem today in the discussion boards: https://discuss.elastic.co/t/string-field-in-discover-is-not-sortable-and-keyword-field-and-alias-field-are-both-empty

It looks like the work on the Elasticsearch side has completed (https://github.com/elastic/elasticsearch/issues/49028). What are the next steps for us to take advantage of the new API?

[2020-12-16 19:43] kertal commented on #7419
will be fixed by #83891

[2020-12-16 19:52] myasonik commented on #28145
We've moved away from these "not yet accessible" messages (as we found we'd often forget to remove these when making improvements) so I'm closing this issue

[2020-12-16 19:52] #28145 closed

[2020-12-16 19:54] cnasikas commented on #85939
Fixed by https://github.com/elastic/kibana/pull/86111

[2020-12-16 19:56] cjcenizal commented on #86077
@cuff-links If you take a look at other [issues](https://github.com/elastic/kibana/issues), you can see we don't add `backport`, `release_note` or version labels to issues.

[2020-12-16 20:00] pugnascotia commented on #86038
I do think that, going forwards, if Elasticsearch is managing a system index then it needs to be the only component managing them (and indeed ES now enforces this).

@kobelb Can you elaborate on what you mean by "potentially unsafe"? If there's a gap between what ES is now doing and what needs to be done, I'd like to get that closed ASAP. It so happens that I hadn't backported https://github.com/e

[2020-12-16 20:08] cnasikas commented on #84475
@MadameSheema Should we close this?

[2020-12-16 20:08] cnasikas commented on #84472
@MadameSheema Should we close this?

[2020-12-16 20:19] paul-tavares commented on #79450
I think this still needs clarification. The issue was opened against the Security Solution - Administration - Endpoint list, but also references a similar (?) problem on the [Fleet - Integrations - Detail -  Policies Lists](https://github.com/elastic/kibana/issues/79450#issuecomment-742379094).

**For the Fleet - Integrations -{integration} - Policies page**, I'm making a change so that it mirrors

[2020-12-16 20:33] gogochan commented on #84804
Hi @aky1286 and @nbyt3. Would it be possible to get additional logging from the Endpoint? `/opt/Elastic/Endpoint/state/log/endpoint-*.log` The last screenshot shows that the Endpoint was waiting for the connection to be READY, and I'm wondering if it is still in that state, of if you see anything that says
`Channel connectivity state...`

[2020-12-16 20:36] wylieconlon opened #86184 "[Lens] Allow client-side sorting of dimensions at datasource level, for all chart types"
## User story

Sort order affects the understanding of the data, but not all charts allow custom sorting. This is a frequently-requested feature when users run into one of the aggregation limits of Elasticsearch. Here are some example use cases and limitations:

a. [Changing the filter order based on the count or other metric](https://github.com/elastic/kibana/issues/9146)
b. [Assigning a predefin

[2020-12-16 20:36] elasticmachine commented on #86184
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-16 20:38] timductive commented on #85864
@elastic/kibana-app-services is this on your radar?

[2020-12-16 20:43] elasticmachine commented on #34505
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-16 20:49] myasonik commented on #53016
This seems to be another example where **EuiFormRow** doesn't work very well with all of EUI's forms

See https://github.com/elastic/eui/issues/3218 for more details

[2020-12-16 20:49] elasticmachine commented on #53016
Pinging @elastic/eui-design (EUI)

[2020-12-16 20:51] #63582 closed

[2020-12-16 20:57] myasonik commented on #13327
This issue has a closed PR associated with it. Is there anything left to do for this? (Not for addressing color blindness issues with visualizations more broadly, but specifically for replacing the old palette with the newer palette.)

[2020-12-16 20:57] blakerouse commented on #86112
@nchaulet Why not default?

[2020-12-16 20:58] #83595 closed

[2020-12-16 21:00] nchaulet commented on #86112
@blakerouse Right now there is no value to add the package to an agent policy, the package only provide a dahsboard but the fact that agent collect logs and metrics is defined by settings on the agent policy not the package (this could change there is a discussion on that currently)

[2020-12-16 21:04] wylieconlon opened #86190 "[Lens] Allow client-side bucket filtering of numbers by selecting the visible number range"
## Context

The [bucket selector aggregation](https://github.com/elastic/kibana/issues/11167) is one of the most-upvoted Kibana feature requests, but the Elasticsearch feature is too complex to add to Lens because it uses Painless scripting. I am proposing that we simplify by limiting it to numbers only. The main use cases can be solved with a simple number range input, like "number is greater tha

[2020-12-16 21:04] elasticmachine commented on #86190
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-16 21:06] wylieconlon commented on #63401
It seems like most users who are requesting this feature are asking for filtering based on the aggregated number, so I've proposed a few simplifications to Lens. We haven't yet discussed this, but you may find it useful in thinking about the problem: https://github.com/elastic/kibana/issues/86190

[2020-12-16 21:08] kobelb commented on #86038
For sure. My fear is that there are existing `.logstash` indices that already exist without the "pipeline_settings" property. So if we remove this code from Kibana, people will hit a bug when trying to use Kibana's Logstash Pipeline editor.

[2020-12-16 21:09] EricDavisX commented on #85954
backports merged to 7.11 and 7.x

[2020-12-16 21:22] MichaelMarcialis commented on #83730
Sure thing, @mbondyra! I can plan to provide some quick design suggestions tomorrow based on your great work here.

I did have one question regarding the disabled button (when a field cannot be added directly to the workspace). Seeing as that field cannot be added directly to the workspace, and keyboard users currently have no mechanism in which they can drag the field to the layers panel via the

[2020-12-16 21:25] mbondyra commented on #83730
@MichaelMarcialis yes, I think that can be one option!

[2020-12-16 21:40] #85150 closed

[2020-12-16 21:41] ryankeairns commented on #85666
Chatting further, we may want to change the order of Phases 2 & 3 - opting to flesh out the Dashboard toolbar (with Lens as default) and then coming back to Canvas. This would allow us to keep momentum for the TTV project and buy us more time to address the outstanding work to support more embeddable types in Canvas (e.g. handling the complexities of filters, etc.).

cc:/ @cqliu1

[2020-12-16 21:45] ThomThomson commented on #85718
Thanks for sharing all these images of your configuration, @dougburks!

My first thought was the relative hyperlinks as well, but on closer inspection it looks like you are using legacy dashboard URLs. When the dashboard application was made part of the core application service in https://github.com/elastic/kibana/pull/63443, the url format for it was changed:

 **from** `/app/kibana#/dashboard/{y

[2020-12-16 21:48] wylieconlon commented on #83466
I've opened a related EUI bug for this, because it seems like part of the issue is that you are allowed to press the delete key: https://github.com/elastic/eui/issues/4394

[2020-12-16 21:50] elasticmachine commented on #84279
Pinging @elastic/eui-design (EUI)

[2020-12-16 21:52] tylersmalley commented on #22913
Hey @flash1293, still seeing these errors. You can view them here: https://e88521bb9a6c4b5aa6ac7d81d3dcefd4.us-east-1.aws.found.io:9243/goto/e3bd676e4ddfb9a36ad0288b5e92c556

While there are some in Lens, they are happening in a lot of other parts of the application as well.

[2020-12-16 21:55] spong opened #86198 "[SecuritySolution][Detections] Allow bulk editing of Rules"
**Describe the feature:**
This feature would allow users to select a number of Rules and edit properties of these Rules in bulk.

**Describe a specific use case for the feature:**
Use cases are bountiful here, from assigning a default action to all pre-packaged Rules, to updating the underlying index patterns a rule is configured to run against, to selecting a certain group of rules and ensuring t

[2020-12-16 21:56] iankoetter commented on #86184
I ran into this use-case today when doing a bar visualization with filter buckets on resulting counts.

An option to sort(client/render side is fine) would be nice. As a user, I'd expect this as an option under 'panel'.

Note the Legend options already include an "order buckets by sum"; a similar type of option could be offered for the actual visualization display itself.

[2020-12-16 21:58] #83663 closed

[2020-12-16 21:58] constancecchen opened #86199 "[Jest][request] When running `yarn test:jest` in a specific folder, only collect coverage within that folder"
**Describe the feature:**

PR where this feature request came from: https://github.com/elastic/kibana/pull/84839

Thanks to @tylersmalley's amazing recent changes we can now run `yarn test:jest` within any plugin's subfolders (e.g., `x-pack/plugins/enterprise_search/public/applications/components/document_creation`) and tests will only run within that specific folder.

It would be great if coverag

[2020-12-16 21:59] gwbrown commented on #86038
From the linked implementation of the update in Kibana, it looks like there's already a call made to ensure the index exists before updating the mapping - could we predicate doing the mapping update on one of [the mapping doesn't already have `pipeline_settings`; the Elasticsearch version is on <7.12.0; the index isn't flagged as a system index]? With the intent being that if Elasticsearch is mana

[2020-12-16 22:01] elasticmachine commented on #86199
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-16 22:02] kobelb commented on #86038
@gwbrown we can do that. However, won't we still have an issue if the index was created a long time ago before system-indices?

[2020-12-16 22:02] lukeelmers commented on #13241
Per our discussion this morning, I'm going to adjust the scope of this issue:
- Adding a `logging.filter` config will be tracked in https://github.com/elastic/kibana/issues/57547
- Logging ops metrics will be tracked in https://github.com/elastic/kibana/issues/86162
- For now we'll continue to use this issue to track implementation of request/response data

[2020-12-16 22:03] elasticmachine commented on #13241
Pinging @elastic/kibana-core (Team:Core)

[2020-12-16 22:04] mdefazio commented on #86145
Thanks for putting this discussion topic together.  I agree with many of the points you mentioned.

--
 **Makes sense**

--

--

--

- - -

However...

I get moving the context menu option back into the trigger picker—though I think my fear about a lot of cognitive load right off the bat still stands—but perhaps this is more of an exercise to solve in the UI

I didn't mean to imply we wouldn't be

[2020-12-16 22:08] #81717 closed

[2020-12-16 22:10] dougburks commented on #85718
Looks like the new url format works properly.

[2020-12-16 22:29] joshdover commented on #76003
Fine by me, if anyone disagrees, please re-open

[2020-12-16 22:29] #76003 closed

[2020-12-16 22:31] myasonik commented on #37539
All of these are fixed 🎉

[2020-12-16 22:31] #37539 closed

[2020-12-16 22:32] spong opened #86202 "[SecuritySolution][Detections] Add 'running' Rule status"
**Describe the feature:**
Currently Detection Rules can be in the following states:

`going to run` | `succeeded` | `failed` | `partial failure`

This feature would add a `running` state for when the rule is within its execution cycle (querying, creating alerts, firing action, etc).

**Describe a specific use case for the feature:**
With the introduction of longer running rules like `Indicator Mat

[2020-12-16 22:33] EricDavisX commented on #86104
@kevinlog can you triage and push it on / decide what we wanna do pls?

[2020-12-16 22:38] EricDavisX commented on #86105
removing 7.11 label, as it isn't urgent enough to get in at this point.  I don't know if we need to fix it at all, as I don't think we'll have many users who add more than 10 of the same integration, all with the same name who also wouldn't be willing to change the name at that point themselves.

I submit we should close 'wont fix' and leave it documented as such.  If we want to spend time on it,

[2020-12-16 22:39] elasticmachine commented on #86096
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-16 22:40] EricDavisX commented on #86096
Ok - I'm closing as 'wont fix'.  But it is good to have a record of it.  Thanks.  we can discuss and re-open or open a new enhancement if anyone has any remaining concerns.

[2020-12-16 22:40] #86096 closed

[2020-12-16 22:40] kevinlog commented on #86104
thanks @EricDavisX - we'll take this.

[2020-12-16 22:40] joshdover commented on #78869
I'm going to push this one out. I'll pick up the remaining work in #78792 on tuning the agent to minimize overhead. Until we have that ironed out, I don't think it makes sense to spend time adding any additional instrumentation.

[2020-12-16 22:42] EricDavisX commented on #86097
Thanks Dan.

@muskangulati-qasource can you confirm with screenshots what the rest of the Fleet UI shows us?  As well as info from the host as to if the Agent (and Endpoint?) are still running?  Please pass logs too as we'll need some hints from there to help triage.

[2020-12-16 22:50] nickofthyme commented on #66595
Yeah I'm running into the same issue in vislib. Would be nice for the filters to be de-duplicated in the filter management.

[2020-12-16 22:53] cchaos commented on #84279
Thanks for the feedback @iankoetter . There's a delicate balance here between utilizing screen real estate and forcing long mouse movements. We have to consider those folks who also use the refresh interval and ensure they don't have a long way to travel to use this part of the time picker. And, unfortunately, we don't have user-specific settings at the moment to allow for such a customized option

[2020-12-16 23:08] gwbrown commented on #86038
Hm, I suppose there's still the case of a cluster upgrading directly via FCR from 6.0.0-6.3.0 to 7.12.0, in which case the mapping update may still need to be made but the index would be registered as a system index. We haven't built the final infrastructure for automated mapping updates to system indices yet, but we might be able to use some existing infrastructure temporarily to pull that check/

[2020-12-16 23:11] YulNaumenko commented on #85640
@mdefazio do you have any ideas on how this modal warning should looks like? Maybe we can have some generic modal dialog for all error types (not only license error) and user will be able to see the error reason without entering the Details view? In such of case we can disable details link for the expired license alerts.

[2020-12-16 23:19] kibanamachine opened #86207 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime - Uptime app "before each" hook: delete settings for "pagination size updates to reflect current selection""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86208 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/view_edit·js - dashboard app using current data dashboard view edit mode shows lose changes warning and loses changes on confirmation when a new vis is added"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86209 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/users·js - security app users should delete user"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86210 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/graph/feature_controls/graph_security·ts - graph app feature controls security no graph privileges "after all" hook for "navigating to app displays a 403""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #60192
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86211 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/docvalue_fields·js - maps app documents source docvalue_fields "after all" hook for "should format date fields as epoch_millis when data driven styling is applied to a date field""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #50388
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #52360
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #52465
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86212 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security global dashboard & embeddable all privileges allows saving via the saved query management component popover with no saved query loaded"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86213 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security global dashboard & embeddable all privileges "after all" hook for "allow saving currently loaded query as a copy""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86214 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security "after all" hook in "dashboard feature controls security""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86215 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/delete·ts - alerting api integration security and spaces enabled Actions delete "after all" hook in "delete""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86216 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/index·ts - alerting api integration security and spaces enabled Actions "after all" hook in "Actions""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86217 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/es_index·ts - alerting api integration security and spaces enabled Actions index action should be created successfully"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #86216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86218 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/dashboard_edit_panel·ts - Dashboard Edit Panel "after all" hook for "A11y test on dashboard embeddable delete panel""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86219 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_time_series·ts - visualize app visual builder Time Series Dark mode "before all" hook for "viz should have light class when background color is white""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86220 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_time_series·ts - visualize app visual builder Time Series Dark mode "after all" hook for "viz should have light class when background color is white""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86221 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_state·js - dashboard app using legacy data dashboard state Saved search with no changes will update when the saved object changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #80446
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine commented on #52713
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86222 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts - Canvas app security feature controls global canvas all privileges "after all" hook for "allows a workpad to be edited""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:19] kibanamachine opened #86223 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with no data loaded (ft_ml_poweruser_spaces) "after all" hook for "should display elements on ML Overview page correctly""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10332/)

[2020-12-16 23:31] thomasneirynck opened #86224 "[Maps] initial display of layer after GeoJson upload is missing features"
**Kibana version:**

master, 7.x

**Describe the bug:**

Uploading a geojson file will create an initial layer display with a default color, using an ES-document layer in the background. Sometimes the display is missing geometries.

**Steps to reproduce:**
1. upload regions geojson https://maps.elastic.co/v7.10/#file/administrative_regions_lvl with geojson

-> Sometimes there are missing regions.

[2020-12-16 23:31] elasticmachine commented on #86224
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-16 23:36] kibanamachine opened #86226 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_listing·js - dashboard app using legacy data dashboard listing page search by title title match is case insensitive"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10444/)

[2020-12-16 23:41] #86207 closed

[2020-12-16 23:41] #86208 closed

[2020-12-16 23:41] #86209 closed

[2020-12-16 23:41] #86210 closed

[2020-12-16 23:41] #86211 closed

[2020-12-16 23:41] #86212 closed

[2020-12-16 23:41] #86215 closed

[2020-12-16 23:41] #86217 closed

[2020-12-16 23:41] #86218 closed

[2020-12-16 23:42] #86219 closed

[2020-12-16 23:42] #86220 closed

[2020-12-16 23:42] #86222 closed

[2020-12-16 23:42] #86223 closed

[2020-12-16 23:42] elasticmachine commented on #86226
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-16 23:54] cjcenizal opened #86229 "Functional test for Console autocomplete"
We need to add a functional test for Console autocomplete to guard against regressions like the one fixed in https://github.com/elastic/kibana/pull/85509. JL raised some good suggestions for how to go about this in that PR:

[2020-12-16 23:54] elasticmachine commented on #86229
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 00:00] hilt86 commented on #86198
Thanks for raising this @spong, this is sorely needed as is impractical to edit the 300 (default) rules and add a slack or web-hook action, especially so if you have custom rules or multiple installations.

Maybe we could have a default notification setting per space?

Other things I might want to do en-mass (but could be complicated):

- update a list of exceptions
- add an action
- change schedu

[2020-12-17 00:25] sqren opened #86230 "[APM] Urge users to update their agent if it is outdated"
The issue https://github.com/elastic/kibana/issues/84766 was caused by a bug in the RUM agent. Instead of trying to fix the problem on the ui side we should urge the user to update their agent.

**Proposal**
In general we might want to urge users to upgrade their agent if it is outdated. A simple solution would be to have a mapping in Kibana that contains the recommended minimum version for each a

[2020-12-17 00:25] elasticmachine commented on #86230
Pinging @elastic/apm-ui (Team:apm)

[2020-12-17 00:38] sqren commented on #86165
@joshdover This looks great! Can we use the `appUpdater$` for adding deep links to dynamic content? So in APM's case we'd want to add deep links to the users (micro)services. This is based on data in elasticsearch so we'd have to do a query first before registering it.

[2020-12-17 00:40] sqren commented on #85016
Fixed in https://github.com/elastic/kibana/pull/86023 and will be released in 7.11

[2020-12-17 00:40] #85016 closed

[2020-12-17 02:02] kibanamachine commented on #86226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10335/)

[2020-12-17 02:42] pmuellr opened #86233 "[actions] create a generic webhook endpoint for testing actions"
While trying to diagnose a problem with a customer using an action, I happened upon https://pipedream.com , which is a service which allows you to create "webhook" endpoints on their server, and then be able to see the incoming requests to the webhook.

A capability like this could be useful in Kibana itself.  To help diagnose action issues, customers could point to an endpoint we provide in Kiban

[2020-12-17 02:43] elasticmachine commented on #86233
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-17 03:09] pmuellr commented on #62303
Great examples, thx all!

We also have a need to do searches based on "visible alerts/actions" where visible means "RBAC indicates you can read this".  Which complicates things.  The event log only knows about saved object ids, not RBAC, so you need to do an alert/action query first to get application alert/action ids that are "visible", which would end up being a filter in the event log query.

B

[2020-12-17 03:26] pmuellr commented on #85737
I can believe this is a problem :-), but could you provide an explicit example of where this is a problem?  The "encoding" part of this is especially intriguing.

[2020-12-17 05:34] spong opened #86235 "[SecuritySolution][Detections] Provide finer grained feature controls between editing rules and modifying alerts"
Currently it isn't possible to set up a Detections user such that they can update Alerts yet cannot modify Rules. The `update alert status` [actions require](https://github.com/elastic/kibana/blob/d47c70cd53ffa818514be5acbb1f31ce207ba2f7/x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx#L252) `canUserCRUD` && `hasIndexWrite` permissi

[2020-12-17 06:37] muskangulati-qasource opened #86237 "[Security Solution] Endpoints tab keep showing 'Endpoints are enrolling. View agents to track progress.' if we use namespace other than the default for 'Security Endpoint' integration."
**Describe the bug**
Endpoints tab keep showing 'Endpoints are enrolling. View agents to track progress.' if we use namespace other than the default for 'Security Endpoint' integration.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy with namespace other then the default should exist.
![namespace](https://user-imag

[2020-12-17 06:53] rudolf commented on #46699
Fixed in https://github.com/elastic/kibana/issues/76785

[2020-12-17 06:53] #46699 closed

[2020-12-17 06:54] austinsonger commented on #86198
As with my organization, we don't like the "cases" features and want to automatically create tickets in JIRA from every Detection Alert, because we need to track SLA's. And there is no setting we can do this by default.

Now the only way we can get around this, is by going into each individual rule and create that action to create a ticket in JIRA for over 300 rules and that is ridiculous.

[2020-12-17 07:08] austinsonger opened #86238 "[SecuritySolution] TheHive Integration"
The TheHive Integration will allow:

- Take a a detection alert in Elastic SIEM and push it to TheHive

References:
- [TheHive - Github](https://github.com/TheHive-Project/TheHive)
-

[2020-12-17 07:12] pgayvallet commented on #84977
@mikecote @kobelb

During the breakout session, we discussed about the expected warning(s) we should display when importing alerts.

The main question was: do we ideally want to have one warning per alert, or should we only have one simple warning when at least one alert requiring a post-import action was imported.

E.g, when importing 2 alerts, do we want to display

[code]

or

[code]

Also, @ko

[2020-12-17 07:17] austinsonger commented on #76627
Yes if this was a feature it would get closer to a tool where we wouldn't have to create a tickets in another help desk tool.

[2020-12-17 07:17] pgayvallet commented on #82027
From a quick look, `alert` and `action` are not currently `importableAndExportable: true`, so it would not impact them until we explicitly change that. I guess we're good to go then.

https://github.com/elastic/kibana/blob/e45b76c1b2b8090834635f2b855c29433c12b100/x-pack/plugins/alerts/server/saved_objects/index.ts#L39-L45

https://github.com/elastic/kibana/blob/4f6df624e98813886b2c677a51eae6fb074b

[2020-12-17 07:30] austinsonger opened #86239 "[Security Solution] "Resolution" - Closing Detection Alert or Closing Case"
### Describe the feature:
Defining Final Classification of an Detection Alert or Case you are closing.

### Describe a specific use case for the feature:

- Once you have resolved a particular Detection Alert or Case, and when you determine the alert or investigation has reached its conclusion
  - You set the detection alert or case  to Closed.
  - When you do so, you'll asked to classify the dete

[2020-12-17 07:38] #71375 closed

[2020-12-17 07:49] austinsonger commented on #64208
Yeah I just created a ticket [https://github.com/elastic/kibana/issues/86239](https://github.com/elastic/kibana/issues/86239) asking for the same thing, but my options are different and better in my opinion.

[code]

And to be honest we try to skip the Elastic "Case" feature and send all detections straight into JIRA as a new ticket. If Elastic SIEM had a way to track SLA information in-regards to

[2020-12-17 07:52] austinsonger commented on #57787
This would be cool.

[2020-12-17 07:59] felix-lessoer commented on #85914
@shaunmcgough If you need more information about the issues behind that, let me know.

[2020-12-17 07:59] austinsonger opened #86242 "[Security Solution] - Threat Intel Integrations to Enrich Data"
**Describe the feature:**
Cyber threat intelligence (CTI) is information describing known existing or potential threats to systems and users. This type of information takes many forms, from written reports detailing a particular threat actor’s motivations, infrastructure, and techniques, to specific observations of IP addresses, domains, and file hashes associated with cyber threats. CTI is used b

[2020-12-17 08:07] gbit-is commented on #85701
Thanks for taking so well to this and for this detailed reply*

I have not been using lense much, but the EUI looks cool
my current cluster, (which is up to date) started in Kibana 6 and I tried out lense in beta but haven't used it much since

---

I defineatly see a lot of potential by providing color blindness types in the EUI as a first step, providing this for all visualisations, especially a

[2020-12-17 08:09] kertal commented on #48990
closing this since #82223 removed the field cache, so this message was also removed

[2020-12-17 08:09] #48990 closed

[2020-12-17 08:21] flash1293 commented on #86184
cc @MichaelMarcialis I wonder whether this would also handle the table use case you had in mind

[2020-12-17 08:34] MadameSheema commented on #85933
@XavierM @stephmilovic this is still happening on the first BC.

[2020-12-17 08:37] MadameSheema commented on #85951
@spong @pedro can you please help to prioritise this? Thanks :)

[2020-12-17 08:38] MadameSheema commented on #86098
@angorayc @XavierM can you please take a look at this?

[2020-12-17 08:39] MadameSheema commented on #86102
@XavierM @cnasikas can you please take a look at this?

[2020-12-17 08:40] MadameSheema commented on #86103
@XavierM @angorayc can you please help to priotize this?

[2020-12-17 08:48] insukcho opened #86244 "Canvas Single Data Source"
**Describe the feature:**
Currently, Canvas has no way to put a single data source that can be accessed by each element. That makes big inefficiency for gathering all data from each element's query even duplicated.

**Describe a specific use case for the feature:**

1. Providing one additional element only for retrieving data with JSON format.

2. Then, providing one more additional data source to

[2020-12-17 09:04] pgayvallet commented on #17298
@MichaelMarcialis

Just took a look at your mockups. If the user experience feels great, there are unfortunately a lot of things our current advanced settings page (and the underlying `uiSettings`) does not support:

- Live update

When you change the banner placement, it instantly updates/refresh the position on the screen. The advanced settings page does not support that. You need to save (and e

[2020-12-17 09:16] cnasikas commented on #85737
Hi! This PR https://github.com/elastic/kibana/pull/85556 fixed an issue where if the user adds a trailing slash at the end of the URL all API calls will end with a double slash. Example: `https://instance.service.now/` -> `https://instance.service.now//v1/api`.

I think we should take a better approach than removing the trailing slash at the end if provided to handle all possible cases. For exampl

[2020-12-17 09:26] formgeist commented on #85555
I don't need to apply any tags to get the wrong presentation in the pie chart legend. So the problem is specifically the · Up / · Down besides the legend.

<img width="420" alt="Screenshot 2020-12-17 at 10 25 06" src="https://user-images.githubusercontent.com/4104278/102468896-615e5480-4052-11eb-91f3-63b5b4bfded6.png">

[2020-12-17 09:30] rudolf opened #86247 "Resilient migrations needs to support re-writing document _id's to support saved-objects in multiple spaces"
The algorithm described in https://github.com/elastic/kibana/blob/master/rfcs/text/0013_saved_object_migrations.md and implemented in https://github.com/elastic/kibana/pull/78413 does not allow migration functions to re-write document _id's.

Rewriting document _id's is required for enabling saved objects to be shared across multiple spaces in 8.0 because we need to remove the object's space from

[2020-12-17 09:30] SylvainJuge opened #86248 "Agent data sent without host.name"
## Describe the bug

Discovered during execution of load-testing with latest version of the agent, we can observe the following on Kibana / JVM tab:

![image](https://user-images.githubusercontent.com/763082/102468420-c6fe1100-4051-11eb-86b0-3ff6ba97f11b.png)

When searching in Kibana, we can find that some apm documents do not have the `host.name` field properly set.

<details>
<summary>Sample me

[2020-12-17 09:30] elasticmachine commented on #86247
Pinging @elastic/kibana-core (Team:Core)

[2020-12-17 09:37] timroes commented on #79129
Related to https://github.com/elastic/kibana/issues/48447

[2020-12-17 09:38] timroes commented on #48447
@ThomThomson This has been requested a couple of times (though not extremly often). Do you think you could consider that with design in the context of the redesign of the save dialog and the dashboard flow? I think we should either get to an agreement, that this is something we want/need (especially in context of the new flow), or otherwise close this if you decide this is not desireable in the ne

[2020-12-17 09:38] elasticmachine commented on #48447
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-17 09:43] markov00 commented on #13327
cc @stratoula @flash1293

[2020-12-17 09:44] felixbarny commented on #86248
Manually pinging @elastic/apm-ui (Team:apm)

As @elasticmachine does not do it automatically for transferred issues.

[2020-12-17 09:47] jpountz commented on #86107
Indeed, the goal is to support the same set of queries at `text` fields. When it doesn't, it's an Elasticsearch bug.

[2020-12-17 09:47] dgieselaar commented on #86248
We have an issue for this: https://github.com/elastic/kibana/issues/85539. I'll close this one and see if we can fix it for 7.11.

[2020-12-17 09:47] #86248 closed

[2020-12-17 09:58] manishgupta-qasource commented on #86237
Reviewed & Assigned to @kevinlog

[2020-12-17 10:06] ruflin commented on #85833
@mostlyjason I expect that in the future coordinator in fleet-server will make some decision on these metrics / logs. But that is also likely going to be in addition shipped through the status so things should keep working.

[2020-12-17 10:12] restrry opened #86251 "Notification system investigation"
I would like to start by clarifying the functional requirements for high-level components for Notification System (NS) MVP (TODO: add a link to MVP issue)

The design and terminology are outlined in the issue are not definitive. Consider it as a starting point in the discussion.

### High-level outlook
![Notification center breakout session](https://user-images.githubusercontent.com/3198181/102460

[2020-12-17 10:14] sqren opened #86252 "[APM] API benchmarking"
To ensure the apm api's are as fast as possible, we need insights into whether changes make them slower or faster.

The benchmarks should run as part of the normal CI flow.

Questions/TODO:
 - [ ] How to test api's? Simply execute 100 requests? Parallel og sequential? https://github.com/elastic/kibana-load-testing
 - [ ] Obtain realistic test data

[2020-12-17 10:17] flash1293 commented on #13327
We are working on this right now - it's planned for 7.12 @stratoula do we need to keep this issue? I guess there's another one tracking this.

[2020-12-17 10:19] walterra opened #86253 "[ML] Transforms: Group by and aggregation options."
Meta issue to track progress on UI implementations of group-by and aggregation options.

Docs reference: https://www.elastic.co/guide/en/elasticsearch/reference/current/put-transform.html

Transforms use composite aggs under the hood, so its options are available for group by and aggs configs. https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggr

[2020-12-17 10:22] walterra commented on #83266
The `missing_bucket` option was added in #85758. I created a meta issue to track progress about UI support for group by and aggs and their options (#86253) so will close this issue.

[2020-12-17 10:22] #83266 closed

[2020-12-17 10:22] stratoula commented on #13327
As Joe said, we are working on it. We plan to migrate to the new palette for the xy axis and pie charts for 7.12 and eventually to the other charts. No need to keep this 🙂

[2020-12-17 10:23] pugnascotia commented on #86038
@gwbrown when you say "the final infrastructure for automated mapping updates", do you mean something other than what the `SystemIndexManager` class does? Because it will automatically update mappings. I haven't tried it with an index that originated in v6, mind you.

[2020-12-17 10:34] muskangulati-qasource commented on #86097
Hi @EricDavisX,

Observations:
- The agent goes to the offline state after the error logs encountered.
         - When we update the agent logging level, the error rows started popping up.
- The Agent and Endpoint are running on the host.

Refer screenshot for the Fleet tab:
![FleetTab](https://user-images.githubusercontent.com/60252716/102470668-4a335d00-407a-11eb-8a79-0de9214d7faa.PNG)

Error lo

[2020-12-17 10:35] formgeist opened #86255 "[Uptime] Waterfall: Apply style to the span number in the sidebar"
# Summary

**Needs design proposal on new styling**

I noticed that the span number showing by each of the spans in the Waterfall visualization is part of the span label text. I would propose that we style the number differently (possibly more like GitHub code examples) which means monospaced font and possibly detaching it from the span label. The labels would then align better.

<img width="1656"

[2020-12-17 10:42] #85928 closed

[2020-12-17 11:04] MadameSheema opened #86258 "[Security Solution] Exceptions cannot be added when the value field validation is executed"
**Describe the bug:**
Exceptions cannot be added when the value field validation is executed.

**Kibana/Elasticsearch Stack version:**
- 7.10.1
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Exceptions

**Preconditions:**
- To have a rule created
- To have a value list uploaded

**Steps to reproduce:**
1. Navigate to `Security > Detections`
2. Click on `

[2020-12-17 11:10] pheyos opened #86259 "[ML] DFA wizard activates `Continue` button too early"
**Found in version**
- 8.0.0

**Browser**
- Chrome

**Steps to reproduce**
- Load the data frame analytics wizard
- Select the job type `Outlier detection`

**Expected result**
- The `Continue` button is disabled until the data is fully loaded, i.e. the `Included fields` table is filled and the `Scatterplot matrix` is displayed.

- [x] `Continue` button is disabled until `included fields are loade

[2020-12-17 11:10] elasticmachine commented on #86259
Pinging @elastic/ml-ui (:ml)

[2020-12-17 11:21] SHolzhauer commented on #86242
Hi @austinsonger the schema for this is currently being discussed in [this PR](https://github.com/elastic/ecs/pull/1127)

_and in a shameless self plug; I am working on [a script](https://github.com/SHolzhauer/elastic-tip) to ingest these feeds into elasticsearch which adheres to ECS_

[2020-12-17 11:30] MadameSheema opened #86261 "[Security Solution] Once you have selected a value list you just can use value list operators"
**Describe the bug:**
- Once you have selected a value list you just can use value list operators.

**Kibana/Elasticsearch Stack version:**
- 7.10.1
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Exceptions

**Preconditions:**
- To have a rule created
- To have a value list uploaded

**Steps to reproduce:**
1. Navigate to `Security > Detections`
2. Click

[2020-12-17 11:51] formgeist opened #86262 "[APM] Bug: Service overview: Link to Transactions list from the Overview page is broken"
Kibana version: master

# Summary

The link to the Transactions list from the Overview page is broken. Clicking the link in the table just reloads the Overview page.

![Kapture 2020-12-17 at 12 48 25](https://user-images.githubusercontent.com/4104278/102484316-5b726e80-4066-11eb-9333-6752880e4091.gif)

Minor usability/visual nit: The button itself also has a huge click area (50% of the container).

[2020-12-17 11:51] elasticmachine commented on #86262
Pinging @elastic/apm-ui (Team:apm)

[2020-12-17 11:53] SHolzhauer opened #86263 "[SecuritySolution][Detections] Threat Matching detection expects time field"
**Kibana version:** 7.10
**Elasticsearch version:** 7.10

**Server OS version:** n/a
**Browser version:** n/a
**Browser OS version:** n/a
**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:**
By using a threat index without a @timestamp field the threat matching detection rule will not work failing with the following error:
`An error occurred during r

[2020-12-17 11:59] deepikakeshav-qasource opened #86266 "[Security Solution] Wrong link is opening when clicking on the "disable usage data here." link on the "Help us improve the Elastic Stack" banner under the overview tab of security."
**Description**
Wrong link is opening when clicking on the "disable usage data here." link on the "Help us improve the Elastic Stack" banner under the overview tab of security.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. "Help us improve the Elastic Stack" banner should be exist

[2020-12-17 11:59] deepikakeshav-qasource commented on #86266
@manishgupta-qasource Please review

[2020-12-17 12:01] rahulgupta-qasource opened #86267 ""Elasticsearch URL" field is not displayed under Overview section on Fleet->Agent Details page"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows x64, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
"Elasticsearch URL" field is not displayed

[2020-12-17 12:02] elasticmachine commented on #86267
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 12:03] skh opened #86268 "[EPM] Package installed by upload with no equivalent in the registry not shown"
**Current situation:**

When a package has been installed by direct upload, and no package by the same name exists in the registry, the package is not shown on the list of installed integrations, and it is not available to be added to a policy.

**Proposed change:**

All installed packages should appear in the list of installed integrations, regardless of installation source, and be available to b

[2020-12-17 12:03] elasticmachine commented on #86268
Pinging @elastic/ingest-management (Feature:EPM)

[2020-12-17 12:03] elasticmachine commented on #86268
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-17 12:03] muskangulati-qasource opened #86269 "[Security Solution] No License details under Stack monitoring tab."
**Describe the bug**
No License details under Stack monitoring tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Stack monitoring" tab under monitoring from the left navigation bar.
3. Observe that no details are provided for the License.

**Test data**

[2020-12-17 12:03] muskangulati-qasource commented on #86269
@manishgupta-qasource please review!!

[2020-12-17 12:04] rahulgupta-qasource commented on #86267
@manishgupta-qasource Please review the bug

[2020-12-17 12:10] manishgupta-qasource commented on #86269
Reviewed & Assigned to @kevinlog

[2020-12-17 12:10] #84651 closed

[2020-12-17 12:11] manishgupta-qasource commented on #86266
Reviewed & Assigned to @MadameSheema

[2020-12-17 12:13] manishgupta-qasource commented on #86267
Reviewed & assigned to @EricDavisX

[2020-12-17 12:20] MadameSheema opened #86271 "[Security Solution] Once you have a condition with value lists you just can add more value lists conditions"
**Describe the bug:**
- Once you have a condition with value lists you just can add more value lists conditions.

**Kibana/Elasticsearch Stack version:**
- 7.10.1
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Exceptions

**Preconditions:**
- To have a rule created
- To have a value list uploaded

**Steps to reproduce:**
1. Navigate to `Security > Detect

[2020-12-17 12:21] #85321 closed

[2020-12-17 12:35] stratoula opened #86272 "[Lens] On multiple layers chart Other appears as _other_"
**Kibana version:**
7.11

**Describe the bug:**
I have created a 2 layers chart. The first layer uses the `Interval` function on the horizontal axis (with 2 custom ranges) and the second one the `Top Values`.  On the horizontal axis for the second layer I can see that the Other bucket is not formatted correctly and is depicted as `_other_`.

<img width="1623" alt="Screenshot 2020-12-17 at 2 15 38

[2020-12-17 12:35] elasticmachine commented on #86272
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 12:40] MadameSheema opened #86273 "[Security Solution] Value lists cannot be deleted when the name of the uploaded file has a special character"
**Describe the bug:**
- Value lists cannot be deleted when the name of the uploaded file has a special character like `(`

**Kibana/Elasticsearch Stack version:**
- 7.11.0 BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
-  Value lists

**Preconditions:**
- To have uploaded a value list with a name with special characters i.e. `1000_words (1).csv`

**Steps to reprodu

[2020-12-17 12:47] nreese opened #86274 "[Maps] layer style editor is empty for EMS boundaries layer"
Steps to view problem:
1) Create a new map
2) add "EMS Boundaries" layer, select any layer and click "Add layer"
3) Notice that "Layer Style" editor is empty
<img width="600" alt="Screen Shot 2020-12-17 at 5 22 16 AM" src="https://user-images.githubusercontent.com/373691/102489572-e2a1f100-402a-11eb-98e8-4d169a9f24ef.png">

The style editor should look like the following (screen shot from 7.9)
<im

[2020-12-17 12:47] elasticmachine commented on #86274
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-17 12:54] flash1293 commented on #86272
This is a symptom of the weird case of mixing different types of x axes which are merged together. The first formatter wins here and is used for all of the values, that's what's happening here. Not sure about a nice fix, maybe we should make this an error in the first place.

[2020-12-17 12:57] kibanamachine commented on #86226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10346/)

[2020-12-17 12:58] stratoula commented on #86272
Ok, now it makes sense. Well, I assume that is an edge case. I am not sure how many users are actually going to create a graph like the above.

[2020-12-17 13:07] flash1293 opened #86275 "[Graph] Exclude index pattern runtime fields from Graph"
It's planned to add index pattern level runtime fields to Kibana in 7.12

In Graph, these fields won't be usable because the ES explore API has no concept of fields passed in at query time. To not confuse users, index pattern level runtime fields should not be shown at all.

This should be simple to add as there is already a list of field types not supported in Graph, so it's just about adding thi

[2020-12-17 13:07] elasticmachine commented on #86275
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 13:15] kibanamachine commented on #86068
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10458/)

[2020-12-17 13:18] flash1293 opened #86276 "[Lens] Suggestions don't refresh along with the workspace panel"
**Kibana version:** master

**Describe the bug:** The rendered suggestions don't refresh on the user clicking the "Refresh" button

**Steps to reproduce:**
1. Go to Lens
2. Configure a chart so suggestions are shown
3. Click the refresh button
4. The workspace reloads but suggestions stay the same

**Expected behavior:**
Suggestions should reload as well

[2020-12-17 13:18] elasticmachine commented on #86276
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 13:24] flash1293 opened #86278 "[Lens] Show validation errors on dashboards"
In the Lens editor we are rendering a nice error message if there are inconsistencies in the state (e.g. if a field is not available)

In the embeddable, this logic is not used and it is attempted to run the expression. This results in slightly weird error messages:
<img width="900" alt="Screenshot 2020-12-16 at 15 45 12" src="https://user-images.githubusercontent.com/1508364/102493078-ea858380-40

[2020-12-17 13:24] elasticmachine commented on #86278
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 13:32] flash1293 commented on #68428
Discussed offline:

To make the feature easier to manage, there will be two phases implemented separately:
* Phase I: Pick an existing gradient palette, configure number of colors, smoothed/stepped, reverse, number of steps and optionally min and max range
* Phase II: Define a custom palette based on custom color stops, set whether it should use smooth interpolation between the values of fixed ran

[2020-12-17 13:33] timroes commented on #69134
Blocked on https://github.com/elastic/kibana/issues/55974 currently

[2020-12-17 13:36] rudolf commented on #52569
This will probably be addressed by https://github.com/elastic/kibana/issues/75780

[2020-12-17 13:37] pheyos opened #86279 "[ML] Per partition categorization - cloning doesn't take over partition field correctly"
**Found in version**
- 8.0.0

**Browser**
- Chrome

**Steps to reproduce**
- Create a per partition categorization job where the partition field is not the first entry of the list
- Clone that job

**Expected result**
- The wizard pre-fills the partition field for the clone with the field name selected in the original job

**Actual result**
- The wizard pre-fills the partition field with the first

[2020-12-17 13:37] elasticmachine commented on #86279
Pinging @elastic/ml-ui (:ml)

[2020-12-17 13:42] rudolf commented on #84980
From our recent sync discussion...

Although a request scoped ES/SO client might be useful, plugins will primarily be fetching hidden saved objects which isn't possible from a scoped SO client (unless we change that in https://github.com/elastic/kibana/issues/82027)

[2020-12-17 13:46] mostlyjason commented on #83141
Sounds like a good solution to me. Would help for several use cases mentioned above.

[2020-12-17 13:47] #84559 closed

[2020-12-17 13:51] rudolf commented on #82027
In addition to the API/Export behaviour, hidden saved object types are also hidden from the saved object clients. In order to access a hidden type (and still scope the security to the incoming request) a plugin would have to construct a new scoped saved objects repository. This means they can't use the existing scoped repository exposed through the request handler context, it will also affect the

[2020-12-17 14:03] rahulgupta-qasource commented on #84962
Hi @EricDavisX

We have updated **01** testcase and executed the same in [Agent Details TestRun].(https://elastic.testrail.io/index.php?/runs/view/886)

Testcase updated:
https://elastic.testrail.io/index.php?/cases/view/35178

[code]
We have reported bug [#23190](https://github.com/elastic/beats/issues/23190) for the same.

[2020-12-17 14:08] legrego commented on #54836
Work on Phase 1 of audit logging has completed. If all goes to plan, this will be available in the upcoming `7.11.0` release.

[2020-12-17 14:08] #54836 closed

[2020-12-17 14:11] #69655 closed

[2020-12-17 14:14] #86101 closed

[2020-12-17 14:15] #84094 closed

[2020-12-17 14:18] muskangulati-qasource commented on #86073
Hi @kevinlog,

We observed the same results for gold license too.

**Build Details**:
[code]

**Refer screenshot**:
- License:
![installedLicenseGold](https://user-images.githubusercontent.com/60252716/102498975-a5784600-40a0-11eb-8495-630170857eb1.PNG)

- Error:
![GoldLicense](https://user-images.githubusercontent.com/60252716/102497683-f4bd7700-409e-11eb-82a0-867f25b08ff3.PNG)

Thanks!

[2020-12-17 14:20] mbondyra opened #86292 "[Lens] change copy for error messages and `normalize by unit` tooltip"
**Tooltip for normalize by unit, change content to:**

When "second" is selected: `Display values as rate per second instead of using the underlying date interval.`
When "minute" is selected: `Display values as rate per minute instead of using the underlying date interval.`

**Error messages**

1. Error message on the workspace panel
<img width="394" alt="Screenshot 2020-12-16 at 16 46 11" src="ht

[2020-12-17 14:20] kertal opened #86293 "[Discover] Improve "hide/show chart" to be persistable"
With the changes of #83633 the user can hide the histogram in Discover.

- [x] This should be added to state & saved search
- [x] In case it's hidden, there should no histogram data be requested

[2020-12-17 14:20] elasticmachine commented on #86292
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-17 14:24] #85781 closed

[2020-12-17 14:29] MadameSheema commented on #84475
@cnasikas we are going to validate it and close it :)

BTW did you backported the fix to have it available for 7.10.2?

[2020-12-17 14:31] restrry commented on #52226
@jbudz could you link the PR? I don't see it's fixed.

uses `meta`:
https://github.com/elastic/kibana/blob/ab92bbb726b806f4f0c1daa6320baf61fbb1bf96/src/core/server/logging/layouts/json_layout.test.ts#L99-L104

uses`lodash` https://github.com/elastic/kibana/blob/ab92bbb726b806f4f0c1daa6320baf61fbb1bf96/src/core/server/logging/layouts/json_layout.ts#L57

Could you elaborate on `makes sense with an i

[2020-12-17 14:31] ravikesarwani commented on #79458
cc: @andresrc

[2020-12-17 14:39] #84475 closed

[2020-12-17 14:40] MadameSheema commented on #84472
Did we backported this to 7.10.2?

[2020-12-17 14:41] #13327 closed

[2020-12-17 14:42] #84472 closed

[2020-12-17 14:45] #82900 closed

[2020-12-17 14:56] rudolf opened #86300 "Add a tie_breaker field to all saved objects"
In order to efficiently search across > 10k saved objects using the recommended `search_after` API without using a PIT, all saved objects documents needs to have a unique tie breaker field.

The tie_breaker field needs to be unique across all documents but there is no unique constraint in Elasticsearch, so simply copying the document _id into the tie-breaker field provides the best uniqueness guar

[2020-12-17 14:56] elasticmachine commented on #86300
Pinging @elastic/kibana-core (Team:Core)

[2020-12-17 14:56] ryankeairns commented on #17298
@pgayvallet Thanks for the thorough explanation.

Things that come to mind reading the options:

- While it's a longstanding and impactful request, how widely will it be used? I ask this in terms of investment and if Option 1 is then more favorable. In other words, if it's decidedly less effort (which sounds debatable) yet solves the problem, perhaps the investment matches the need.
- From a licen

[2020-12-17 14:58] rudolf commented on #77961
I've opened https://github.com/elastic/kibana/issues/86300 to discuss how we might add a tie_breaker, but as a first iteration we could use `search_after` with a PIT which doesn't require a tie_breaker field. For the use case of creating an export of all saved objects using a PIT is preferred because it will provide a consistent snapshot (without it it's theoretically possible that an export has b

[2020-12-17 15:00] ryankeairns commented on #84279
Related to https://github.com/elastic/kibana/issues/17888

[2020-12-17 15:02] paulb-elastic commented on #85409
Discussed in the design sync.

The mini chart should be much like the main **Pings over time** version, including a 'grey' bar for the 'up' count.  This will keep the bars consistent across the main and mini charts, and display the ratio correctly between Up and Down.

In addition, the mouse over tooltip should include the count of "Up checks" like in the main top chart.  This gives full context t

[2020-12-17 15:05] MadameSheema commented on #86271
Closing because is the expected behaviour :)

[2020-12-17 15:05] #86271 closed

[2020-12-17 15:08] joshdover opened #86301 "Add `search_after` support to SO find API using PIT"
Part of https://github.com/elastic/kibana/issues/77961#issuecomment-746566179

Integrate with exports in the same PR to exercise the new API

[2020-12-17 15:08] elasticmachine commented on #86301
Pinging @elastic/kibana-core (Team:Core)

[2020-12-17 15:14] paulb-elastic commented on #85829
Discussed in the design sync.

This appears misleading because the buckets are not for each individual full minute (00-59 sec) even though the legend suggests they are. As such, there can be multiple, or no test results for each actual bucket, even though there is a test in every minute. This is why some buckets show no results, and some show more than one.

One option we discussed was to have a h

[2020-12-17 15:19] EricDavisX commented on #86097
I'm going to try to reproduce this

[2020-12-17 15:27] cnasikas commented on #84475
@MadameSheema Thanks! Yes, I have backported it. It is at 7.10.1.

[2020-12-17 15:30] cnasikas commented on #84472
@MadameSheema Yes!

[2020-12-17 15:33] ryankeairns commented on #85701
We appreciate your offer to assist and review. I've opened a discussion on the EUI side with the aforementioned suggestion. Feel free to follow along over there: https://github.com/elastic/eui/discussions/4396

PS: it did not sound weird; I understood what you wrote :)

[2020-12-17 15:34] legrego commented on #82027
To clarify: are you proposing that plugins will automatically get access to their own `hidden` saved objects, but not to other plugin's `hidden` saved objects? If so, then I think that would be an acceptable path forward.

What I'm not keen on is for all plugins to automatically get access to all `hidden` types. We rely on the `hidden` flag to enforce custom authorization and auditing for special

[2020-12-17 15:35] jbudz commented on #86226
skipped
main: d18fca3
7.x/12: c21992b

[2020-12-17 15:35] linyaru commented on #36556
The ability to quickly edit data would be useful for our analytics use case, as well often test out new datasets, pipelines, and transformations. We are currently using Jupyter utility to query, visualize (in pandas), and overwrite data when necessary and it would be great to be able to do this natively in Kibana.

[2020-12-17 15:40] bm11100 opened #86306 "[Security][Detections] Ability to adjust multiple Risk Score settings within a single Detection Rule"
**Describe the feature:**
Ability to manually or auto adjust _multiple_ Risk score settings within a single detection rule

**Describe a specific use case for the feature:**
In the example below, I am starting with a high severity detection with a risk score of 73. When I override the severity, with low and medium events, there is no way to adjust the risk score numbers for both of these overrides

[2020-12-17 15:41] elkargig commented on #61748
I'm looking for something similar.

I have 2 document fields and I'd like to have a control that searches for a specific value (`MYVALUE`) in either `fieldA OR fieldB`. I can't create 2 separate controls/filters as they are AND-ed together.

The control filter currently creates this:
[code]

what I'd like to create is the following:
[code]

are there any plans to support something like this ?

[2020-12-17 15:43] ThomThomson commented on #50894
I think this one can be closed in favour of https://github.com/elastic/kibana/issues/85666

We can reopen if we consider using a bottom toolbar again!

[2020-12-17 15:43] #50894 closed

[2020-12-17 15:44] paulb-elastic opened #86308 "[Uptime] [Bug] Waterfall has double scroll with misplaced footer legend"
When the waterfall chart is showing more than a page in height, requiring a scroll, there are two scroll bars, one for the main waterfall chart (which is pushing the footer/legend off the screen) and one for the main page.

The footer/legend should always be visible (without scrolling), ideally with only one scroll bar.

This defect exists in both Firefox and Chrome.
![image](https://user-images.g

[2020-12-17 15:44] elasticmachine commented on #86308
Pinging @elastic/uptime (Team:uptime)

[2020-12-17 15:45] alexfrancoeur commented on #17298
First, let me preface with the fact that I think the MVP priority would be a global setting defined through `kibana.yml`. We'll need this regardless so administrators can enforce this, particularly for the federal team requirements. Space specific banners is a nice to have, for use cases where teams want to identify spaces by environments (qa, prod, etc.) but if I had to choose priorities, global

[2020-12-17 15:45] thomheymann commented on #56773
Having the ability to associate a user with a background task would be super useful for audit logging.

We currently log authenticated HTTP requests in the audit log which is helpful for auditors to understand what actions users performed.

I would like to do the same for creation and execution of background tasks but it is currently not possible since the fake request objects used by task manager

[2020-12-17 15:50] VijayDoshi commented on #36556
Would be very useful to have Create, Update and Delete functions for a single document in the EUI Datagrid - that would allow it to show up in multiple places (discover & Lens). Eventually, multi select/delete/update would be useful too.

[2020-12-17 15:52] paulb-elastic opened #86309 "[Uptime] [Bug] Waterfall should show the full URL"
URLs are very often longer than the space available on the waterfall chart, leading to truncation. However, it is necessary to know the full URL when analysing waterfall charts. The full URL should be visible somehow.

During design refinement, a simple span title tag was suggested as a reasonable option.

There is currently no way of determining the full URL:
![image](https://user-images.githubus

[2020-12-17 15:52] elasticmachine commented on #86309
Pinging @elastic/uptime (Team:uptime)

[2020-12-17 15:55] jbudz commented on #86068
skipped
main: 52f54e6

[2020-12-17 15:59] #86033 closed

[2020-12-17 16:00] EricDavisX commented on #84962
This is done in the Fleet Agent policy view when creating it or in the 'settings' page for editing an existing Policy.  It is the same old functionality we have had, but it may have sounded new.  :)

screenshot, see them at the bottom:
<img width="696" alt="Screen Shot 2020-12-17 at 10 59 21 AM" src="https://user-images.githubusercontent.com/12970373/102511676-1135c100-4057-11eb-8276-2d6e290b6c59.

[2020-12-17 16:00] alexfrancoeur commented on #72680
Woo!

[2020-12-17 16:07] chrisronline commented on #79458
What's the plan for this ticket? Are we going to try and build a dashboard? Or should we try and incorporate this into the existing Elasticsearch overview page?

[2020-12-17 16:10] #82136 closed

[2020-12-17 16:10] mbarretta commented on #17298
++
Our users have been making due with dirty CSS hacks and plugins of various quality for nigh on five years. An MVP just needs to show a persistent global header and footer banner with customizable text and basic color selects (e.g. reg, green, yellow, blue).

Used this earlier in the thread, but here again:
![image](https://user-images.githubusercontent.com/1015404/55638857-2c36a380-5796-11e9-8a

[2020-12-17 16:11] pgayvallet commented on #17298
Both options would have the actual banner display / wiring into core done from a separate plugin, so it doesn't change much I think.

Unfortunately no. The advanced settings page just fetch all the registered settings, sort/order them by category and then display them (and handle all the update logic). We can't plug additional behaviors such as a button opening a modal without change to the advanc

[2020-12-17 16:17] rudolf opened #86315 "User-facing documentation for resilient saved object migrations"
- High-level overview of upgrade procedure
   - Rollback procedure
   - Highlight new behaviour (rolling upgrades were never supported, but now old nodes will return write errors during an

[2020-12-17 16:18] aky1286 commented on #84804
Hi @gogochan Absolutely. I attached more extensive logs to this post. Please let me know if that works.

Also, 2 things:
1) I was unable to find anything that says "Channel connectivity state.."
2) Also worth mentioning is we are using self-signed certs.

[elastic-endpoint-logs.txt](https://github.com/elastic/kibana/files/5710732/elastic-endpoint-logs.txt)

[2020-12-17 16:20] ThomThomson commented on #48447
This save modal has gotten substantially more complicated in the last couple of months to the point where adding a 'save new by default' advanced setting would no longer necessarily fix this problem.

What is interesting though is that Time to Visualize separates the 'save' and the 'save as' buttons in most editors - here's an upcoming dashboard example
<img width="410" alt="Screen Shot 2020-12-15

[2020-12-17 16:20] gchaps commented on #85644
@arisonl, @ymao1 How about  tweaking both the label and the menu items as follows:

**Notify**

Only on status change
Actions run when the alert status changes

Every time alert is active
Actions run with every active alert interval

On a custom action interval
Actions run using the interval you set

[2020-12-17 16:23] nchaulet commented on #86097
Looking at the error looks like the agent is trying to acknowledge a log level change action and this fail, did you try to change the log level here or this action is the remains of a previous agent (this will explain why the action ack fail)?

[2020-12-17 16:23] pgayvallet commented on #17298
In that case, I guess using the advanced settings page would be fine.

We could start with
`bannerPlacement`: `off` / `header` / `footer` / `both`
`bannerText`: markdown editor
`bannerTextColor`: colorpicker for the text color (default to black)
`bannerBackgroundColor`: colorpicker for the border background (default to white)

- We will have to create the new `colorpicker` type for uiSettings (sho

[2020-12-17 16:27] #57043 closed

[2020-12-17 16:30] rudolf opened #86320 "Debug logging listing all saved object types with their migration versions"
Debug log all saved object types and their latest migration versions so that QA knows what versions of documents to expect. This will also be useful for QA to test the migration transformation functions of different plugins for each release.

[2020-12-17 16:33] alisonelizabeth opened #86321 "[Ingest Node Pipelines] Add support for community_id processor"
In 7.12, ES is adding a `community_id` processor. See: https://github.com/elastic/elasticsearch/pull/66534.

We need to add a form to the Ingest Node Pipelines UI to support configuring this new processor.

Related docs: https://www.elastic.co/guide/en/elasticsearch/reference/master/community-id-processor.html

[2020-12-17 16:33] elasticmachine commented on #86321
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 16:35] mukeshelastic commented on #74937
@weltenwort is there more to do to support runtime fields in logs UI? If not, we can close the ticket?

[2020-12-17 16:39] #82534 closed

[2020-12-17 16:40] ymao1 commented on #85644
That flows much better!

[2020-12-17 16:43] jasonrhodes commented on #79288
@afgomez @weltenwort do you both think the "X" values in this R&D table are deal-breakers? Should we:

a) Investigate further and work with EUI to think about addressing the short-comings, or
b) Retire this idea for now

Thanks!

[2020-12-17 16:48] mbarretta commented on #17298
@pgayvallet override settings would be default for all newly created spaces, correct? For existing spaces where no values for `banner*` were specified, would the `uiSettings.overrides` value take precedence over "hard coded" defaults (e.g black text, white background)?

[2020-12-17 16:50] delvedor commented on #70431
The canary package is available on npm 🚀
https://www.npmjs.com/package/@elastic/elasticsearch-canary?activeTab=versions

[2020-12-17 16:50] gwbrown commented on #86038
Oh, I was thinking of the reindex infrastructure (i.e. for mapping changes that can't be applied as updates to an existing index). Whoops. If the infra you built will automatically update mappings, if we make sure that works, can we just rely on that and prevent Kibana from updating the mappings if ES version >=7.12.0? Having an index that originated in v6 shouldn't be a problem for updating the m

[2020-12-17 16:59] mukeshelastic commented on #85129
We need to define the hypotheses and specific events we need to collect to support those hypotheses

[2020-12-17 16:59] kibanamachine commented on #86226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10350/)

[2020-12-17 16:59] timroes commented on #6164
This has been implemented via https://github.com/elastic/kibana/pull/83633 and will be available from 7.11 onwards.

It will not prevent the data from be loaded, but that will be addressed as part of https://github.com/elastic/kibana/issues/69134 (in which case hiding the chart will prevent that chart query from triggering).

Also the setting does not yet persist when saving/loading the saved sear

[2020-12-17 16:59] #6164 closed

[2020-12-17 17:00] mikecote commented on #50213
I did a small spike on this (see: https://github.com/elastic/kibana/compare/master...mikecote:alerting/searchable-params-poc) and it seems using the flattened type could solve most of the problems with a bit of work on the validation code. The first limitation I see is, by design, treating every value as a string which brings limitations to comparators (and sorting) on numeric values.

In the spik

[2020-12-17 17:03] darnautov opened #86325 "[ML] Support legacy watcher URLs to the Anomaly Explorer page"
After improvements around the persisted URL state in ML plugin https://github.com/elastic/kibana/issues/83033 the structure of the Anomaly Explorer URL has been changed, in particular, the page URL state is not under `_a` key directly, but `_a` -> `explorer` instead.
We need to support watcher URLs created prior `7.11`, so the following is required:

- [ ] Adjust the [email template](https://githu

[2020-12-17 17:03] elasticmachine commented on #86325
Pinging @elastic/ml-ui (:ml)

[2020-12-17 17:04] flash1293 commented on #85771
@timductive Any opinion on how severe this bug is? We basically on accident enabled the Inspector for Lens panels on dashboards and it works mostly fine, but for multi-layer charts it's just showing the first request. A "good" solution would be to extend inspector to be able to handle multiple tables and requests, but it might be not super simple. A stopgap solution would be to disable "Inspect" f

[2020-12-17 17:06] osmanis opened #86327 "SSO Cloud users from Kibana into Enterprise Search"
Today when Cloud users navigate to Kibana, they see an overview page for Enterprise Search. If the Enterprise Search app is running in the user's deployment, they will be presented with a link directly into the app. However once clicked, they are prompted to login, even with an active Cloud and Kibana session. Logged in users should be SSO'd into the Enterprise Search app without having to login.

[2020-12-17 17:08] qn895 opened #86328 "[ML] Anomaly explorer freezes on some jobs when clicking on the left most swimlane cells"
**Found in version**
7.11.0-bc1

**Browser**
Chrome

**Steps to reproduce**
Use the MLQA `anomaly_detection` suite
Visit the Anomaly Explorer for `fb_population_1` job
Click on any cells in the left most column in the swim lane explorer

Use the MLQA `scenario_JobGallery` scenario suite
Visit the Anomaly Explorer for `gallery1_1608117068_800_8207`, `gallery2019_1608117189_800_8207` jobs
Click on a

[2020-12-17 17:08] elasticmachine commented on #86328
Pinging @elastic/ml-ui (:ml)

[2020-12-17 17:09] EricDavisX commented on #86097
the test team is off-line, @muskangulati-qasource @rahulgupta-qasource and team will reply tomorrow, but I don't think they intentionally had any old actions from a previous agent.  how could we try that to confirm sooner? @nchaulet

[2020-12-17 17:10] parkiino opened #86329 "[Bug] Remove spaces in Malware User Notification Custom Message {action} and {filename}"
A malware alert incorrectly displays {filename} and {action} as opposed to the actual filename and action. Removing the spaces should correct the problem.

[2020-12-17 17:14] ravikesarwani commented on #79458
The plan is to build a dashboard and include it as part of the Agent ES package.

[2020-12-17 17:15] jbudz commented on #52226
I opened https://github.com/elastic/kibana/pull/86330 for the log formatting.  Apologies, at one point I had a PR up that had merge conflicts on the imports and I must have wrongly followed the thread.

How do you feel about `custom` instead of `meta` for adding additional fields?

[2020-12-17 17:19] andrewvc opened #86331 "[Uptime] Waterfall view is squished"
On my work laptop (ubuntu 20.04) the waterfall view text looks all squished, as below:

![image](https://user-images.githubusercontent.com/131427/102520752-a2a63280-4059-11eb-896b-00d8289e8669.png)

[2020-12-17 17:19] elasticmachine commented on #86331
Pinging @elastic/uptime (Team:uptime)

[2020-12-17 17:20] afgomez commented on #85825
👋! This seems to be a bug in [elastic/eui](https://github.com/elastic/eui/issues/4397). I'll revisit this once that issue is resolved.

[2020-12-17 17:22] #82384 closed

[2020-12-17 17:27] #82320 closed

[2020-12-17 17:28] Hashtpari commented on #79786
@pmuellr just checking to see if there's any update on 79786 for customer Sonos? Can you please give an update when you have a moment? Thanks a million!!

[2020-12-17 17:28] #81983 closed

[2020-12-17 17:29] dej611 commented on #86276
I think #86297 fixes this as `Refresh` renews the `searchSessionId` with consequent reload of the suggestions

[2020-12-17 17:31] #82267 closed

[2020-12-17 17:31] gmmorris commented on #83186
Love this issue :)

Regarding this specifically - the observability work we did in 7.11 exposes the _drift_ that tasks are experiencing.
We should be able to use that to figure out when we need to upscale.
Figuring when we can afford to downscale will be a little tricker, but we could also report how much "load" is on the workers and use that to downscale when appropriate.

[2020-12-17 17:32] dB2510 commented on #81816
![Screenshot from 2020-12-17 23-00-38](https://user-images.githubusercontent.com/37813203/102522120-d87c0300-40bb-11eb-8d9c-f24455e58b01.png)
@ymao1 Please check now

[2020-12-17 17:34] andrewvc opened #86335 "[Uptime] Browser ping history timestamp does not link to step detail"
The timestamps (next to the thumbnails) in the ping history link nowhere. Per the original issue https://github.com/elastic/kibana/issues/80144 they should link to the step detail view (which currently is just the waterfall. They can use the `StepDetailLink` react component to accomplish this.

[2020-12-17 17:36] flash1293 commented on #86276
Nice side effect :)

[2020-12-17 17:38] EricDavisX commented on #86267
@nchaulet @hbharding hi - Nicolas and Henry, did we decide not to put that part of the design in for 7.11?  Please assess and put the correct impact on it and we can choose if we want to do anything for 7.11 at this point or just for 7.12 or wait for a further design effort.  Thank you.

[2020-12-17 17:49] kmartastic opened #86338 "[Maps] Add Runtime Field editor"
Where a user can pick fields in the Maps app, we should support adding Runtime fields via the shared editor component.
https://github.com/elastic/dev/issues/1532

[2020-12-17 17:49] elasticmachine commented on #86338
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-17 17:49] liza-mae opened #86339 "Stack monitoring logstash pipeline does not load"
**Kibana version**: 7.11.0 BC 1

**Elasticsearch version**: 7.11.0 BC 1

**Server OS version**: Ubuntu

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
staging

**Description of the problem including expected versus actual behavior**:
Go to stack monitoring -> logstash -> pipeline -> main, see it throws an error.

**Steps to reproduce**

[2020-12-17 17:49] elasticmachine commented on #86339
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-17 17:52] #86122 closed

[2020-12-17 17:52] nchaulet commented on #86267
I missed that field during the implementation, let me now if we should correct it as a bug or if it's okay if the field is not here.

[2020-12-17 17:55] nchaulet commented on #86097
If you have access to the agent can you  look at the file `action_store.yml`?

[2020-12-17 17:56] afharo commented on #38394
@mindbat sure! My point is that the current schema regarding maps provides the `DYNAMIC_KEY` keyword: https://github.com/elastic/kibana/blob/master/x-pack/plugins/maps/server/maps_telemetry/collectors/register.ts#L44-L50

If that's good enough for Telemetry-Next, I think we can close this issue.

[2020-12-17 18:09] #79566 closed

[2020-12-17 18:14] #79516 closed

[2020-12-17 18:14] gogochan commented on #84804
The log indicates that Endpoint keeps on trying to make a connection to Elastic-Agent, but not successful. As you observed, this continues until it can connect to Elastic-Agent. Could you also provide Elastic-agent log?

They are available under /opt/Elastic/Agent/data/elastic-agent-1428d5/logs/elastic-agent-json.log*

[2020-12-17 18:15] kibanamachine opened #86350 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration actions createIndex resolves right after waiting for an index status to be green if the index already existed"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10463/)

[2020-12-17 18:15] walterra commented on #78784
Fixed in #86114.

[2020-12-17 18:15] #78784 closed

[2020-12-17 18:19] A-Hall commented on #85294
Looks like the issue might be with: `./src/plugins/data/common/es_query/es_query/filter_matches_index.ts`

The function has this comment.
[code]

Adding what's in the TODO, but left the old logic in as well which should still allow the old logic of looking at the keys in the index if the `indexPattern` ids do not match.  This would break the `ignoreFilterIfFieldNotInIndex`

[code]

So the final fu

[2020-12-17 18:23] #79511 closed

[2020-12-17 18:24] elasticmachine commented on #73515
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:25] elasticmachine commented on #43677
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-12-17 18:25] elasticmachine commented on #34181
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #21689
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #23289
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #22261
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #24120
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #24306
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #25572
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #31640
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #34951
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #36141
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #36281
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #36606
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #37189
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #38074
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #39620
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #40926
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #41063
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #42726
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #43677
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #53829
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #53900
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #55622
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #71866
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #76182
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #76964
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:27] elasticmachine commented on #81561
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:29] #77256 closed

[2020-12-17 18:30] #76979 closed

[2020-12-17 18:31] liza-mae commented on #72884
Just confirming this is expected for 7.12.

[2020-12-17 18:31] #63203 closed

[2020-12-17 18:33] peluja1012 commented on #75771
@rw-access We're good to close. Thanks.

[2020-12-17 18:33] #75771 closed

[2020-12-17 18:39] elasticmachine commented on #46007
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #58096
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #60564
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #61691
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #69612
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #71441
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #71753
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #75602
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #75603
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #75605
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #75610
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #76210
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #78478
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:39] elasticmachine commented on #84717
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:40] cjcenizal commented on #81160
Fixed in https://github.com/elastic/kibana/pull/81286

[2020-12-17 18:40] #81160 closed

[2020-12-17 18:41] elasticmachine commented on #18901
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #19250
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #20091
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #20982
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #25972
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #29281
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #30495
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #41479
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #41481
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #42268
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] andrewkroh commented on #85486
I can produce the same issue with the Elasticsearch API directly. @skh, so Fleet is directly passing YAML content to the `_ingest/pipeline` API?

[2020-12-17 18:41] elasticmachine commented on #80674
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 18:41] elasticmachine commented on #18095
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18103
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18282
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18320
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18322
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18378
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #18439
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #21691
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:41] elasticmachine commented on #40819
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:42] cjcenizal commented on #80674
Thanks for reporting this @a03nikki ! This has been fixed for 7.10, onwards (https://www.elastic.co/guide/en/elasticsearch/reference/7.10/index-mgmt.html).

[2020-12-17 18:42] #80674 closed

[2020-12-17 18:42] elasticmachine commented on #17878
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:42] elasticmachine commented on #17920
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:42] elasticmachine commented on #17950
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:42] elasticmachine commented on #18422
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:43] elasticmachine commented on #74923
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 18:43] elasticmachine commented on #70316
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-17 18:44] elasticmachine commented on #42731
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #43154
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #43309
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #44127
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #55600
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #57012
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #59095
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #59721
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #60737
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #61008
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #63073
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #66943
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #67420
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #69340
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #70175
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #71962
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #72496
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #73242
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #76411
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #78055
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #78056
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #84930
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #84989
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:44] elasticmachine commented on #84990
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #17923
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #18112
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #18257
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #18972
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #19165
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #20408
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #21486
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #25068
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #28724
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #30583
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-17 18:45] elasticmachine commented on #30982
Pinging @elastic/kibana-app-services (Team:AppServices)