[2022-07-28 05:47] kibanamachine opened #137387 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional_basic/apps/ml/data_visualizer/index_data_visualizer_actions_panel·ts - apps machine learning basic license data visualizer index based actions panel on basic license view in discover page action navigates to Discover page"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acef-468d-9d9c-3aa18b95f099)

[2022-07-28 05:47] elasticmachine commented on #137387
Pinging @elastic/ml-ui (:ml)

[2022-07-28 05:47] kibanamachine commented on #135065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acf8-42dd-abc6-a14994e040f9)

[2022-07-28 05:48] kibanamachine opened #137388 "Failing test: Chrome X-Pack UI Functional Tests - Transform.x-pack/test/functional/apps/transform/creation_index_pattern·ts - transform creation_index_pattern batch transform with terms+date_histogram groups and avg agg navigates to discover and displays results of the destination index"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acec-4d0d-945d-25ba3eb9c083)

[2022-07-28 05:48] elasticmachine commented on #137388
Pinging @elastic/ml-ui (:ml)

[2022-07-28 05:49] kibanamachine commented on #137377
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182434f-4a7f-4609-ab2a-0cd82c0540ea)

[2022-07-28 05:49] kibanamachine commented on #137378
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182434f-4a7f-4609-ab2a-0cd82c0540ea)

[2022-07-28 05:49] kibanamachine commented on #137380
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824352-287e-40e7-9d0b-8c93f58f2529)

[2022-07-28 05:49] kibanamachine commented on #137381
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824352-287e-40e7-9d0b-8c93f58f2529)

[2022-07-28 05:51] kibanamachine commented on #137382
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824354-72bc-4177-8ca2-b7a6c8ce5244)

[2022-07-28 05:51] kibanamachine opened #137389 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_scripted_fields·ts - management scripted fields creating and using Painless numeric scripted fields discover scripted field should see scripted field value in Discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac92-4b7c-86de-a3ed8d153ca4)

[2022-07-28 05:52] kibanamachine opened #137390 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group1/persistent_context·ts - lens app - group 1 lens query context should carry over time range and pinned filters to discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac5f-4f62-8368-acacf5d057c2)

[2022-07-28 05:52] elasticmachine commented on #137390
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-28 05:53] kibanamachine commented on #137376
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182434e-68f0-4de1-9a9e-ca39c02078b2)

[2022-07-28 05:53] kibanamachine opened #137391 "Failing test: Chrome UI Functional Tests.test/functional/apps/context/_context_accessibility·ts - context app context accessibility should navigate to the single doc view and give focus to the title h1 on navigate"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ace5-4000-a97c-94f90627b377)

[2022-07-28 05:53] kibanamachine opened #137392 "Failing test: Kibana CCS Tests.test/functional/apps/dashboard/group3/dashboard_time_picker·ts - dashboard app - group 3 dashboard time picker Saved search updated when time picker changes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acfc-46cc-aa57-e5e939667045)

[2022-07-28 05:53] elasticmachine commented on #137392
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:54] kibanamachine opened #137393 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/doc_level_security_roles·ts - security app dls user East should only see EAST doc"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acba-4947-a221-6347910bf9c2)

[2022-07-28 05:54] elasticmachine commented on #137393
Pinging @elastic/kibana-security (Team:Security)

[2022-07-28 05:55] kibanamachine opened #137394 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/discover/async_search·ts - Discover discover async search "before all" hook for "search session id should change between searches""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acd9-4450-8a29-2ad1134f7ee0)

[2022-07-28 05:56] kibanamachine opened #137395 "Failing test: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/custom_urls·ts - machine learning - anomaly detection custom urls tests Discover type custom URL opens Discover page from test link in the edit job flyout"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acd3-46ec-b3a4-05b905ca4470)

[2022-07-28 05:56] kibanamachine opened #137396 "Failing test: X-Pack Reporting Functional Tests.x-pack/test/reporting_functional/reporting_and_security/security_roles_privileges·ts - Reporting Functional Tests with Security enabled Security with `reporting_user` built-in role Discover: Generate CSV does not allow user that does not have reporting privileges"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac70-4cdf-9b95-c3e9fd240fe8)

[2022-07-28 05:56] kibanamachine opened #137397 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group3/drilldowns/dashboard_to_url_drilldown·ts - dashboard drilldowns Dashboard to URL drilldown should create dashboard to URL drilldown and use it to navigate to discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac96-45ca-9644-77a52fa0a3cc)

[2022-07-28 05:56] kibanamachine commented on #137388
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824359-7d23-4623-83dd-20fd18d45988)

[2022-07-28 05:56] elasticmachine commented on #137395
Pinging @elastic/ml-ui (:ml)

[2022-07-28 05:56] kibanamachine opened #137398 "Failing test: Chrome UI Functional Tests.test/functional/apps/home/_navigation·ts - home app Kibana browser back navigation should work detect navigate back issues"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac7e-4321-9414-6e0ad1d41f1a)

[2022-07-28 05:56] elasticmachine commented on #137396
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-07-28 05:56] kibanamachine opened #137399 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group2/show_underlying_data·ts - lens app - group 2 show underlying data should show the open button for a compatible saved visualization"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac7e-4321-9414-6e0ad1d41f1a)

[2022-07-28 05:57] kibanamachine opened #137400 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group3/dashboard_state·ts - dashboard app - group 5 old charts library dashboard state Saved search with no changes will update when the saved object changes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acdf-473b-a8f3-4ef884afb168)

[2022-07-28 05:57] kibanamachine opened #137401 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group3/dashboard_state·ts - dashboard app - group 5 old charts library dashboard state "after all" hook for "Saved search will update when the query is changed in the URL""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acdf-473b-a8f3-4ef884afb168)

[2022-07-28 05:58] kibanamachine commented on #137387
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824358-77d3-48b8-94e7-e43c5f11ae67)

[2022-07-28 05:58] kibanamachine opened #137402 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/visualize/precalculated_histogram·ts - Visualize pre_calculated_histogram appears correctly in discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acdc-44bc-827e-9e74c560730c)

[2022-07-28 05:58] kibanamachine opened #137403 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group2/embeddable/tooltip_filter_actions·js - maps app embeddable tooltip filter actions panel actions should trigger url drilldown action when clicked"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-accd-46c0-97e7-412032ba0cc9)

[2022-07-28 05:58] elasticmachine commented on #137399
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-28 05:58] kibanamachine opened #137404 "Failing test: X-Pack Reporting Functional Tests With Deprecated Roles config.x-pack/test/reporting_functional/reporting_and_deprecated_security/security_roles_privileges·ts - Reporting Functional Tests with Deprecated Security configuration enabled Security with `reporting_user` built-in role Discover: Generate CSV does not allow user that does not have reporting_user role"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-accd-46c0-97e7-412032ba0cc9)

[2022-07-28 05:58] elasticmachine commented on #137400
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:58] elasticmachine commented on #137401
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:58] kibanamachine commented on #137391
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182435e-0748-4730-b640-3100ffa0f4e6)

[2022-07-28 05:58] kibanamachine opened #137405 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/data_plugin/session·ts - data plugin Session management Discover "before all" hook for "Starts on index pattern select""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ace2-423d-b468-217378877820)

[2022-07-28 05:58] kibanamachine opened #137406 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/embeddables/saved_search·ts - Canvas Canvas app saved search in canvas by-reference edits saved search by-reference embeddable"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acd1-472c-8562-d903ac2ed1a0)

[2022-07-28 05:59] kibanamachine opened #137407 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/saved_search_embeddable·ts - dashboard app - group 1 dashboard saved search embeddable view action leads to a saved search"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ad03-4cf9-9473-1bac1285f492)

[2022-07-28 05:59] kibanamachine opened #137408 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group4/discover·js - maps app discover visualize button should link geo_shape fields to Maps application"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac85-4e61-8e99-ba3ef5d85b3b)

[2022-07-28 05:59] elasticmachine commented on #137406
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:59] elasticmachine commented on #137403
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-28 06:00] elasticmachine commented on #137404
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-07-28 06:00] kibanamachine opened #137409 "Failing test: Accessibility Tests.test/accessibility/apps/filter_panel·ts - a11y tests using flights sample data Filter panel "before all" hook for "a11y test on add filter panel""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ad15-4f60-b853-9cfebc6a514c)

[2022-07-28 06:00] elasticmachine commented on #137407
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 06:01] elasticmachine commented on #137408
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-28 06:02] kibanamachine commented on #135065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824359-3457-4577-8227-ac5eafe84e4f)

[2022-07-28 06:03] kibanamachine commented on #137392
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182435e-6245-4989-9bf4-8cca98958638)

[2022-07-28 06:04] kibanamachine commented on #137393
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182435e-f50d-4f1b-bc2c-4e5ce7c26191)

[2022-07-28 06:05] kibanamachine commented on #137396
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824360-cd35-493c-a3df-47f788c31df8)

[2022-07-28 06:08] kibanamachine commented on #137389
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182435c-81ad-443a-81b5-da0f883c3894)

[2022-07-28 06:10] kibanamachine commented on #137409
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824364-ec3d-4d21-adf8-ba082ff8bbdb)

[2022-07-28 06:11] kibanamachine commented on #137400
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824362-61e5-44a0-ab99-761ccb39d721)

[2022-07-28 06:11] kibanamachine commented on #137401
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824362-61e5-44a0-ab99-761ccb39d721)

[2022-07-28 06:12] kibanamachine commented on #137402
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824362-92ec-43bc-9ff1-2997d4af399a)

[2022-07-28 06:12] Rick25-dev commented on #137180
hi @darnautov, yeah sure,

1. Both of them are running in the cloud
2. The machine learning job configurations I tried it on are all single or multi metric jobs with one or two detectors, a partition field and an influencer field. I tried it in two separate environments (both 8.3.2) with multiple job configurations.
3. No it doesn't work at all
4. No unfortunately i can't share the URL, it is sens

[2022-07-28 06:12] kibanamachine commented on #137405
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-10a2-4664-af77-ad525c34534e)

[2022-07-28 06:12] kibanamachine commented on #137394
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824360-9a5b-4800-bdd4-c64322be55c4)

[2022-07-28 06:12] kibanamachine commented on #137406
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-4d2f-4143-b885-b73de075e33c)

[2022-07-28 06:13] kibanamachine commented on #137390
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182435d-2a67-488d-b882-79b92d88e390)

[2022-07-28 06:14] kibanamachine commented on #137407
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-db52-4292-82e7-925fdd819501)

[2022-07-28 06:17] kibanamachine commented on #137397
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824360-ddbf-4a24-a5af-5d6604e7c655)

[2022-07-28 06:23] kibanamachine commented on #137408
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-a960-4a8b-a949-187637e6ec0a)

[2022-07-28 06:25] kibanamachine commented on #137395
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824360-c44d-4241-975c-2df75baf94f9)

[2022-07-28 06:29] kibanamachine commented on #137398
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824361-6ddf-4e1a-ab6c-6faa080e072c)

[2022-07-28 06:29] kibanamachine commented on #137399
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824361-6ddf-4e1a-ab6c-6faa080e072c)

[2022-07-28 06:33] kibanamachine commented on #137403
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-1183-40d9-8022-5fb7be7ee362)

[2022-07-28 06:33] kibanamachine commented on #137404
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824363-1183-40d9-8022-5fb7be7ee362)

[2022-07-28 06:50] stratoula commented on #137399
I think this fails because main branch is broken https://buildkite.com/elastic/kibana-pull-request/builds/61335#01824380-b168-42b8-a25b-a6985559a8ec

Problem in discover code.

[2022-07-28 06:50] stratoula commented on #137381
Check here https://github.com/elastic/kibana/issues/137399#issuecomment-1197735708

[2022-07-28 06:50] stratoula commented on #137390
Check here https://github.com/elastic/kibana/issues/137399#issuecomment-1197735708

[2022-07-28 06:50] stratoula commented on #137380
Check here https://github.com/elastic/kibana/issues/137399#issuecomment-1197735708

[2022-07-28 07:10] #134361 closed

[2022-07-28 07:13] pgayvallet commented on #137331
This test has been online for more than one year, so it depending on being run from `main` seems like a wrong assertion.

[2022-07-28 07:14] MadameSheema opened #137412 "[Security Solution] UI breaks when you display the details of an IM alert with a match that happens several times"
**Describe the bug:**
- UI breaks when you display the details of an IM alert with a match that happens several times

**Kibana/Elasticsearch Stack version:**
- 8.4.0 (bcbef78b4dfaebe40f334fcaa5cef94fda9acc29)

**Initial setup:**
- To have an IM alert that has matched several times the same value

**Steps to reproduce:**
1. Navigate to alerts table
2. Expand the details of the alert
3. Scroll to t

[2022-07-28 07:14] elasticmachine commented on #137412
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 07:14] elasticmachine commented on #137412
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 07:15] pgayvallet commented on #137331
Failure is coming from this assertion:

https://github.com/elastic/kibana/blob/5aad18fa3505d96015b6eaaf8a445597f1e9ee86/src/core/server/integration_tests/saved_objects/migrations/cleanup.test.ts#L116-L122

Because the documentation url is part of the snapshot instead of properly using the correct documentation branch: `https://www.elastic.co/guide/en/kibana/master/resolve-migrations-failures.html`

[2022-07-28 07:17] pgayvallet commented on #137330
Failure is coming from this assertion:

https://github.com/elastic/kibana/blob/5aad18fa3505d96015b6eaaf8a445597f1e9ee86/src/core/server/integration_tests/saved_objects/migrations/collects_corrupt_docs.test.ts#L97-L109

Because the documentation url is part of the snapshot instead of properly using the correct documentation branch: `https://www.elastic.co/guide/en/kibana/master/resolve-migrations-f

[2022-07-28 07:19] pgayvallet commented on #137329
Failure is coming from this assertion:

https://github.com/elastic/kibana/blob/5aad18fa3505d96015b6eaaf8a445597f1e9ee86/src/core/server/integration_tests/saved_objects/migrations/7_13_0_transform_failures.test.ts#L62-L66

Because the documentation url is part of the snapshot instead of properly using the correct documentation branch: `https://www.elastic.co/guide/en/kibana/master/resolve-migration

[2022-07-28 07:33] simranvaseer-qasource commented on #135696
Hi @juliaElastic
We have revalidated this issue on latest 8.4 snapshot Kibana Cloud environment and found it **fixed** now.

- Actions>Add/Remove Tags not gets stuck on clicking twice.

**Build Details:**
VERSION: 8.4.0
BUILD: 54932
COMMIT: 0645a3ba388f81fc6b43136e64ad53614101e947

**Screen Recording:**

https://user-images.githubusercontent.com/102019374/181443773-eb5b9b4a-aac3-43ca-ab29-98cdca45

[2022-07-28 07:37] kibanamachine commented on #137374
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d2e-492d-945d-acb47ffa4c68)

[2022-07-28 07:44] kibanamachine commented on #137374
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243bd-29cc-4cfe-a5dd-2abebb3b528e)

[2022-07-28 07:45] kibanamachine commented on #137398
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5da8-4dfa-a452-8ea4ea41ca6e)

[2022-07-28 07:45] kibanamachine commented on #137375
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5da8-4dfa-a452-8ea4ea41ca6e)

[2022-07-28 07:47] kibanamachine commented on #137376
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d3a-4e0a-960c-c6612cc45a26)

[2022-07-28 07:47] kibanamachine commented on #137379
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5dd1-409c-a52b-ac232911cb47)

[2022-07-28 07:49] kibanamachine commented on #137378
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5dda-4c48-ac77-42cbd88f803b)

[2022-07-28 07:50] kibanamachine commented on #137380
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d41-4c66-bc14-daf054f84d38)

[2022-07-28 07:50] kibanamachine commented on #137381
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d41-4c66-bc14-daf054f84d38)

[2022-07-28 07:50] kibanamachine commented on #137396
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d41-4c66-bc14-daf054f84d38)

[2022-07-28 07:52] kibanamachine commented on #137382
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d7d-4e38-8b91-e2e6323ef71f)

[2022-07-28 07:56] kibanamachine commented on #137387
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d72-4e17-af31-6fc9da346b9c)

[2022-07-28 07:56] kibanamachine commented on #137383
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d25-440d-a903-2b42375c9fc5)

[2022-07-28 07:56] kibanamachine commented on #137384
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d25-440d-a903-2b42375c9fc5)

[2022-07-28 07:56] kibanamachine commented on #137385
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d25-440d-a903-2b42375c9fc5)

[2022-07-28 07:56] kibanamachine commented on #137386
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d25-440d-a903-2b42375c9fc5)

[2022-07-28 07:56] kibanamachine commented on #137379
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c6-e736-4908-b60c-44d2f4a8c674)

[2022-07-28 07:57] kibanamachine commented on #135065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5dae-42aa-888b-de4b810f408c)

[2022-07-28 07:58] kibanamachine commented on #137388
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d81-4fa4-be53-8e0ea29c8735)

[2022-07-28 07:58] kibanamachine commented on #137378
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c8-b4f3-4b40-a0db-0d15cc7bd6f6)

[2022-07-28 07:59] kibanamachine commented on #137398
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c4-88d8-4f02-8f82-f44ce8d39308)

[2022-07-28 07:59] kibanamachine commented on #137375
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c4-88d8-4f02-8f82-f44ce8d39308)

[2022-07-28 08:00] kibanamachine commented on #137382
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243cb-4d5d-4103-bdc3-ae71822fc918)

[2022-07-28 08:01] kibanamachine commented on #137389
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d97-418f-b794-3357c9493eb0)

[2022-07-28 08:03] kibanamachine commented on #137376
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c6-caf1-4ea9-a169-0b35a5923491)

[2022-07-28 08:04] kibanamachine commented on #137393
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d5c-4a72-bf92-4ecc5b3ee4a4)

[2022-07-28 08:04] kibanamachine commented on #137402
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d49-48a5-b160-e7fe44cbd2b9)

[2022-07-28 08:04] kibanamachine commented on #137394
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d49-48a5-b160-e7fe44cbd2b9)

[2022-07-28 08:04] kibanamachine commented on #137391
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5dd5-4fb9-9ca5-fd2be3dcd15d)

[2022-07-28 08:04] kibanamachine commented on #137390
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d37-4d8e-b8e4-ed242ae255e1)

[2022-07-28 08:05] kibanamachine commented on #137403
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d59-40b5-8d9e-f82d865e0d5f)

[2022-07-28 08:05] kibanamachine commented on #137406
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d4f-4d2e-8de1-53f79bd91a7e)

[2022-07-28 08:06] muskangulati-qasource commented on #137250
Hi @kevinlog,

Sorry for the confusion.

The ticket is updated as per the steps followed. Also, I have added the steps below:

- Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
- Click on the hostname
- Click on the 'Take Action' button
- Click on 'Launch responder' option
- Execute the command for kill-process or suspend-process with PID that is non-e

[2022-07-28 08:06] kibanamachine commented on #137397
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d5f-4066-aa34-8b7bddefface)

[2022-07-28 08:06] kibanamachine commented on #137388
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d0-6ad6-41cc-80a5-f49c1689bbdf)

[2022-07-28 08:07] kibanamachine commented on #137387
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243ce-b6e7-4499-8ba3-56eee2a51ecd)

[2022-07-28 08:07] kibanamachine commented on #137405
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d65-42c1-8a91-ce883b92acab)

[2022-07-28 08:07] kibanamachine commented on #137395
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d9a-47a6-a2f5-bdbec6cddf29)

[2022-07-28 08:08] dasansol92 commented on #137036
PR: https://github.com/elastic/kibana/pull/137415

[2022-07-28 08:08] kibanamachine commented on #137380
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c9-d115-41ee-aa69-d8b3aba5bd1b)

[2022-07-28 08:08] kibanamachine commented on #137381
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c9-d115-41ee-aa69-d8b3aba5bd1b)

[2022-07-28 08:08] kibanamachine commented on #137396
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243c9-d115-41ee-aa69-d8b3aba5bd1b)

[2022-07-28 08:08] kibanamachine commented on #132159
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d89-4efa-bc5b-b1848dd7cb66)

[2022-07-28 08:08] kibanamachine commented on #137404
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d68-4ca5-b806-de7d0a59d297)

[2022-07-28 08:09] kibanamachine commented on #137399
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d52-4ea1-98ab-622d3a0daa30)

[2022-07-28 08:09] kibanamachine commented on #135065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243cf-7093-4cac-b9f3-0bfb7790e691)

[2022-07-28 08:09] kibanamachine commented on #137407
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d79-4e52-8c49-ee37457fcf00)

[2022-07-28 08:09] kibanamachine commented on #137391
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d6-9d51-478b-a3ae-592f9c9888ca)

[2022-07-28 08:09] kibanamachine commented on #137400
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d9e-4cb9-951f-0af19ea8927d)

[2022-07-28 08:09] kibanamachine commented on #137401
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d9e-4cb9-951f-0af19ea8927d)

[2022-07-28 08:09] kibanamachine commented on #137408
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d9e-4cb9-951f-0af19ea8927d)

[2022-07-28 08:09] deepikakeshav-qasource opened #137416 "[Security Solution] Unable to create rule if timestamp fallback toggle button not selected"
**Describe the bug**
Unable to create rule if timestamp fallback toggle button not selected

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to security > rule page
2. Click on create a new rule
3. Select any field from timestamp override
4. Do not select the timestamp fallback button
5. Create the rule
6. Observe that error occur when crea

[2022-07-28 08:09] elasticmachine commented on #137416
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 08:10] kibanamachine commented on #137409
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5d33-4e17-9ecf-f95b226bab81)

[2022-07-28 08:10] kibanamachine commented on #137377
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243a6-5db7-47b4-933d-fc973a1a3875)

[2022-07-28 08:12] kibanamachine commented on #137393
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d5-ac38-4c9c-811e-78da6f8a7a0f)

[2022-07-28 08:14] kibanamachine commented on #137392
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d5-4b23-4997-b993-48e012426cd9)

[2022-07-28 08:14] kibanamachine commented on #137389
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d2-f167-4fde-a600-d01319cbe63d)

[2022-07-28 08:18] kibanamachine commented on #137377
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243dc-2d97-4bdb-a94d-a60bca1962a3)

[2022-07-28 08:19] kibanamachine commented on #137409
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243db-fbc3-4b3a-9db4-159c543346fa)

[2022-07-28 08:20] kibanamachine commented on #137404
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243da-069b-4dcc-88fa-e7c788785604)

[2022-07-28 08:20] kibanamachine commented on #137405
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d9-0e96-4584-a322-99ea7e293be1)

[2022-07-28 08:23] kibanamachine commented on #137407
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243da-b1cb-400c-989a-91a6c44b6062)

[2022-07-28 08:25] MadameSheema commented on #137416
Thanks @deepikakeshav-qasource!!

The same behaviour can be reproduced on latest 8.4.0 branch (e9fe4ad5f3c818f08117993bc1a75e33e2611b17)

Detail of the error message:

[code]

[code]

Detail of the network request:

[code]

[code]

[2022-07-28 08:25] #137381 closed

[2022-07-28 08:25] #137380 closed

[2022-07-28 08:26] elasticmachine commented on #137416
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 08:26] kibanamachine commented on #137390
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d6-7cc5-4c72-84c6-ba784adc8ac7)

[2022-07-28 08:27] kibanamachine commented on #137406
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d7-47f7-484a-ad21-2a8f8926be7a)

[2022-07-28 08:28] kibanamachine commented on #137397
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d7-fd1d-451c-8e88-2e2971059779)

[2022-07-28 08:30] kibanamachine commented on #137402
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d5-f55e-40ab-8607-28a3a1ee6efc)

[2022-07-28 08:30] kibanamachine commented on #137394
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d5-f55e-40ab-8607-28a3a1ee6efc)

[2022-07-28 08:36] kibanamachine commented on #137395
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243d9-7c9c-4914-bc8c-a1ce6144457c)

[2022-07-28 08:39] kibanamachine commented on #137399
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243da-486e-4ffe-9a51-71ebdf01eaf7)

[2022-07-28 08:41] kibanamachine commented on #137400
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243db-11bd-4bb1-96ab-1819610bea91)

[2022-07-28 08:41] kibanamachine commented on #137401
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243db-11bd-4bb1-96ab-1819610bea91)

[2022-07-28 08:41] kibanamachine commented on #137408
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#018243db-11bd-4bb1-96ab-1819610bea91)

[2022-07-28 08:43] fkanout opened #137417 "[ResponseOps] [BUG]- Fix error message Alert Summary chart"
## Summary
When there is an error a very simple message with the `error` word appears.

## AC
Add an error message/component that aligns with the other error messages

[2022-07-28 08:43] elasticmachine commented on #137417
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-28 08:43] elasticmachine commented on #137417
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-28 08:44] amolnater-qasource commented on #136814
Hi @dasansol92
We have re-validated this issue on latest 8.4 Snapshot build and found it is **fixed** now.
Please find below the testing details & observations.

**Observations:**
- Sub-list font is same as the main title under Agent details page>Endpoint Security>Policy Response.

**Build details:**
BUILD: 54932
COMMIT: 0645a3ba388f81fc6b43136e64ad53614101e947

**Screenshot:**
![6](https://user-i

[2022-07-28 08:44] #136814 closed

[2022-07-28 08:50] #137399 closed

[2022-07-28 08:52] klacabane commented on #135382
The idea is to free the standard names so the PO packages will be able to use them and at the same time bake more context in the index names ([more details here](https://docs.google.com/document/d/1A0nOFgqvBgo2vGYKX1E1S1LH4_YW-KAM3fX2v6ZqmPc/edit#bookmark=id.qt99mtw8dn1j)). Now whether PO packages will be able to specify the index naming is still tbd but a more precise naming for the stack monitor

[2022-07-28 08:53] MadameSheema opened #137419 "[Security Solution] Number of alerts in threshold preview does not correspond with the number of alerts generated after the creation of the rule"
**Describe the bug:**
- Number of alerts in threshold preview does not correspond with the number of alerts generated after the creation of the rule

**Kibana/Elasticsearch Stack version:**
- 8.4.0 (e9fe4ad5f3c818f08117993bc1a75e33e2611b17)

**Initial setup:**
I used the following test data:

<details> <summary>Mapping</summary>

[code]

</details>

<details> <summary>Doc</summary>

[code]

</deta

[2022-07-28 08:53] elasticmachine commented on #137419
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 08:57] #137390 closed

[2022-07-28 08:59] xcrzx opened #137420 "[Security Solution] PoC of Prebuilt Detection Rules package with historical versions"
**Epic:** https://github.com/elastic/security-team/issues/1974 (internal)
**Background info:**
- [Customizing Prebuilt Detection Rules - Architecture Design Document](https://docs.google.com/document/d/1vDO2aTDLrb3LohxsaxXwnZK4Yk_3_24bTsBBeYNo6k0/edit)
- [Customizing Prebuilt Detection Rules - Distributing historical versions](https://docs.google.com/document/d/1w2CoQfgwn8u3MMYk_cA1AozwOeTPDBWTWi9

[2022-07-28 08:59] elasticmachine commented on #137420
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 08:59] elasticmachine commented on #137420
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 09:09] amolnater-qasource commented on #137055
Hi @juliaElastic
We have re-validated this issue on latest 8.4 Snapshot build and found it is **fixed** now.
Please find below the testing details & observations

**Observations:**
- Inactive tags are removed from tags list under Agents tab.

**Build details:**
BUILD: 54932
COMMIT: 0645a3ba388f81fc6b43136e64ad53614101e947

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/1

[2022-07-28 09:09] amolnater-qasource commented on #133740
Hi @nchaulet
Thank you for the confirmation on the shared scenario.
We will be creating our test content on the basis all the information shared above.

Thanks

[2022-07-28 09:09] amolnater-qasource commented on #136368
Hi @juliaElastic
We have re-validated this issue on latest 8.4 Snapshot build and found it is **fixed** now.
Please find below the testing details & observations

**Observations:**
- Tooltip is displayed under Agent details page when exactly 3 tags with 20 characters length are added to agent.

**Build details:**
BUILD: 54932
COMMIT: 0645a3ba388f81fc6b43136e64ad53614101e947

**Screenshot:**

![7](

[2022-07-28 09:10] elasticmachine commented on #137419
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 09:21] kertal commented on #137386
fixed it #137413

[2022-07-28 09:21] #137386 closed

[2022-07-28 09:21] kertal commented on #137385
fixed it #137413

[2022-07-28 09:21] kertal commented on #137384
fixed it #137413

[2022-07-28 09:21] #137384 closed

[2022-07-28 09:21] kertal commented on #137383
fixed in #137413

[2022-07-28 09:21] #137383 closed

[2022-07-28 09:22] #137374 closed

[2022-07-28 09:22] #137376 closed

[2022-07-28 09:22] #137385 closed

[2022-07-28 09:25] deepikakeshav-qasource opened #137422 "[Security Solution] Alerts are not displayed in rule preview graph for custom rule"
**Describe the bug**
Alerts are not displayed in rule preview graph for custom rule when select the particular timeframe under advanced query

**Build info**
[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to security > rule page
2. Click on create a new rule
3. Click on the custom rule
4. Enter the query host.name: *
5. Click on advanced query tab
6. Sele

[2022-07-28 09:25] elasticmachine commented on #137422
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 09:29] klacabane commented on #137112
I'm not completely sure but I'm basing this ticket on the fact that the logs datastreams include a [definition of pipelines and mappings](https://github.com/elastic/integrations/tree/main/packages/elasticsearch/data_stream/audit). It also make sense because the logs are shipped to their individual datastreams at `logs-elasticsearch.{logtype}` just like the metrics do, and have pipelines defined si

[2022-07-28 09:40] kibanamachine commented on #137403
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19010#01824404-18d9-409a-ac82-ea09502b445d)

[2022-07-28 09:45] elasticmachine commented on #134321
Pinging @elastic/ml-ui (:ml)

[2022-07-28 09:59] lgmys commented on #25644
Is this still valid? I can see svg's included and loaded all over kibana.

[2022-07-28 10:01] prachigupta-qasource commented on #132909
Hi @criamico,

Thank you for looking into this.

The above shared video is referring to the below scenario:

- Older versions are shown in the dropdown on `Upgrade Agent` pop-up on selecting `Select everything on all pages` option appeared on Bulk selection.

https://user-images.githubusercontent.com/97870262/181475728-2e4e5185-a898-42f9-80cf-95c12bedda69.mp4

**Note:** Older versions are not show

[2022-07-28 10:03] muskangulati-qasource opened #137425 "[Security Solution] The usage section is empty for the 'clear screen' command under the console"
**Description:**
The usage section is empty for the 'clear screen' command under the console

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Click on the hostname
3. Click on the 'Take Action' button
4. Click on 'La

[2022-07-28 10:03] elasticmachine commented on #137425
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-28 10:03] elasticmachine commented on #137425
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 10:03] muskangulati-qasource opened #137426 "[Security Solution] The usage section is empty for the 'help' command under the console"
**Description:**
The usage section is empty for the 'help' command under the console

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Click on the hostname
3. Click on the 'Take Action' button
4. Click on 'Launch res

[2022-07-28 10:03] elasticmachine commented on #137426
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-28 10:03] elasticmachine commented on #137426
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 10:03] harshitgupta-qasource opened #137427 "[Security Solution] The usage section is empty for the 'status' command under the console."
**Description:**
The usage section is empty for the 'status' command under the console
**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint Should be deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
3. Click on the hostname
4. Click on the 'Take Action

[2022-07-28 10:03] elasticmachine commented on #137427
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 10:03] elasticmachine commented on #137427
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-28 10:03] muskangulati-qasource commented on #137425
Related Issues:
- https://github.com/elastic/kibana/issues/137426
- https://github.com/elastic/kibana/issues/137427

[2022-07-28 10:04] muskangulati-qasource commented on #137426
Related Issues:
- https://github.com/elastic/kibana/issues/137425
- https://github.com/elastic/kibana/issues/137427

[2022-07-28 10:05] harshitgupta-qasource commented on #137427
Releated Issues:-

- https://github.com/elastic/kibana/issues/137425
- https://github.com/elastic/kibana/issues/137426

[2022-07-28 10:05] muskangulati-qasource commented on #137425
@manishgupta-qasource please review!

[2022-07-28 10:05] muskangulati-qasource commented on #137426
@manishgupta-qasource please review!

[2022-07-28 10:05] harshitgupta-qasource commented on #137427
@manishgupta-qasource Please review

[2022-07-28 10:06] xcrzx opened #137428 "[Security Solution] Introduce an endpoint to use for the detection rules table filters/data"
**Epic:** https://github.com/elastic/security-team/issues/1974 (internal)

## Summary

Currently we use the `detection_engine/rules/prepackages/_status` endpoint to populate the `Elastic rules` and `Custom rules` counters on the rules management page:

![Screenshot 2022-07-28 at 11 57 02](https://user-images.githubusercontent.com/1938181/181478153-ff45b0ba-37b1-493a-965a-f4fe26839f4a.png)

We re-f

[2022-07-28 10:06] elasticmachine commented on #137428
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 10:06] elasticmachine commented on #137428
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 10:10] crespocarlos commented on #135196
@1Copenut did you an @bhavyarm have the opportunity to look into this?

[2022-07-28 10:14] manishgupta-qasource commented on #137425
Reviewed & assigned to @kevinlog

[2022-07-28 10:14] manishgupta-qasource commented on #137426
Reviewed & assigned to @kevinlog

[2022-07-28 10:15] manishgupta-qasource commented on #137427
Reviewed & assigned to @kevinlog

[2022-07-28 10:30] mdelapenya commented on #63252
I think this can be closed for now

[2022-07-28 10:30] #63252 closed

[2022-07-28 10:31] renshuki opened #137432 "Allow filtering of the snapshot STATE in Snapshot and Restore UI"
Kibana version: 8.3.2

**Synopsis**

There is currently no easy way to find the Last Successful snapshot from the **Stack Mangement > Snapshot and Restore > Snapshots** UI. To do so, the user need to filter the snapshots by **Date created** and look for the latest snapshot with no **Failed shards**.

**Describe the feature:**

- Add a **State** column with values of: `Partial failures` or `Snapsho

[2022-07-28 10:31] elasticmachine commented on #137432
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 10:34] dgieselaar commented on #137049
AFAIU, each plugin that imports a package gets its own copy. So this might increases bundle size rather than decrease it.

[2022-07-28 10:37] samratbhadra-qasource opened #137433 "[Security Solution]: Alerts with different risk score is not visible on Alert treemap."
**Describe the bug:**
Alerts with different risk score is not visible on Alert treemap.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Alerts should be available with multiple risk score.

**Steps to Reproduce**
1. Navigate to Rules tab.
2. Now, create multiple rules with different risk score.
4. Navigate to Alerts tab and select treemap from view selector.
5. Observ

[2022-07-28 10:37] elasticmachine commented on #137433
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 10:41] yuliacech commented on #137198
After chatting with the EUI team, I believe that the "bumping" of the tour steps comes from the side nav being unmounted and then remounted on navigation. I think that is something that needs to be addressed in the side nav/routing code of the Security solution.

[2022-07-28 10:44] watson commented on #128735
@azasypkin Question regarding the original behavior: Why would we want to log the user out a few seconds before the session expires in the first place? Why can't we just let the session expire? In both cases (logged out vs session expired), the user would end up with not having access to Kibana before they log in again. So why do we handles these cases differently?

I'm sure there's a logical hist

[2022-07-28 11:20] legrego commented on #137393
I believe this was broken by https://github.com/elastic/kibana/pull/132012, which has since been resolved

[2022-07-28 11:25] azasypkin commented on #135346
@TinaHeiligers I'm on the fence here to be honest, I'm not sure if we should separately document one-time bugs (i.e. after specific patch-version upgrade this issue should no longer be relevant) like that in our main docs. For these we usually create knowledge-sharing articles to help our support team (we have one for this particular issue too) and document issue (and potentially workaround) in th

[2022-07-28 11:28] rahuldimri commented on #97976
I just validated, we still have broken links on the page. @lukeelmers @afharo can I work on this ?.

[2022-07-28 11:29] kevinlog commented on #136602
@muskangulati-qasource checking back in on this one.  It's expected that the user can use the isolate and release commands in any order in the console.

I don't think the unhealthy state is related, mostly likely.  Are you able to reproduce this aspect consistently?

[2022-07-28 11:31] elasticmachine commented on #137433
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 11:31] afharo commented on #97976
@rahuldimri please, feel free to submit a PR anytime 🥰

[2022-07-28 11:31] kevinlog commented on #136603
@muskangulati-qasource following back up on this.

In our tests, this works without issue, but we are using fresh macOS vms that have not had FDA already enabled.  Are you able to confirm that, since you're able to use the Endpoint and the policy response is returning Successful, that the VM you're using does have FDA enabled?  Are you able to test with an alternative macOS VM that may not already

[2022-07-28 11:35] kevinlog commented on #136506
@harshitgupta-qasource does this only occur when the user adds an unbroken word with no spaces?  I think this is low impact and wouldn't affect users too often since this is likely rare.

@paul-tavares is it simple to address this by breaking words in the input?

[2022-07-28 11:36] kevinlog commented on #136512
@parkiino assigning this one to you as well - this is a duplicate of the ticket you're working on here: https://github.com/elastic/kibana/issues/136376

[2022-07-28 11:41] kevinlog commented on #136390
@vipulsrivastava-qasource this looks like built in functionality into the date picker component.  I don't think this is a bug and is working as expected.  I'm goin to close this one.

[2022-07-28 11:41] #136390 closed

[2022-07-28 11:42] fionera opened #137435 "[Security Solution] Reasonformatter doesnt work with Custom Rules"
**Describe the bug:**
The Reason Formatter is missing all Informations when run by a custom rule

**Kibana/Elasticsearch Stack version:**
8.3.2

**Server OS version:**
ECK with Kubernetes on CentOS

**Browser and Browser OS versions:**
Google Chrome Version 103.0.5060.114 (Official Build) (64-bit)
NixOS

**Elastic Endpoint version:**
-

**Original install method (e.g. download page, yum, from sour

[2022-07-28 11:42] elasticmachine commented on #137435
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 11:42] kevinlog commented on #136253
@muskangulati-qasource this one should be ready for testing now.  If you try to use Response console with an older Endpoint, the option should be disabled with a message now.

[2022-07-28 11:54] semd opened #137436 "[Security Solution] Url state parameter for external alerts checkbox"
**Describe the feature:**

The new external alerts checkbox, that allows filtering the events table and histogram to show external alerts only, does not currently survive URL sharing because it is not persisted in the Url.
This is a functionality that we had in the previous External Alerts tab, since all tabs in Security are persisted in the URL as part of the path.

![external_alerts](https://use

[2022-07-28 11:54] elasticmachine commented on #137436
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 12:04] #136731 closed

[2022-07-28 12:09] #123568 closed

[2022-07-28 12:14] elasticmachine commented on #137164
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-28 12:17] semd opened #137439 "[Security Solution] Remove hardcoded needUrlState function"
## Description

We are currently using a hardcoded list of `SecuirityPageName` to know whether the page links need to carry the UrlState or not.

https://github.com/elastic/kibana/blob/45de4de71d0f454c1314c02a74ea01e6f88e3d97/x-pack/plugins/security_solution/public/common/components/link_to/index.ts#L90-L105

We have this information duplicated since all the centralized application links (`LinkIte

[2022-07-28 12:17] elasticmachine commented on #137439
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 12:20] deepikakeshav-qasource opened #137440 "[Security Solution] `EXIST` is displayed instead of `DOES NOT EXIST` after adding the exception with does not exist operator"
**Describe the bug**
`EXIST` is displayed instead of `DOES NOT EXIST` after adding the exception with does not exist operator

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Alerts should be triggered

**Steps to Reproduce**
1. Navigate to security > Alerts page
2. Click on rule exception
3. Created the exception with `does not exist`
4. Navigate to exception tab under ru

[2022-07-28 12:20] elasticmachine commented on #137440
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 12:22] bhavyarm commented on #135196
@crespocarlos yes. We did. Pushing a pr in a bit and will buzz you. Thanks!

[2022-07-28 12:23] jsoriano commented on #129344
Thanks for prioritizing this!

Take into account that this is not only about CockroachDB. Grepping around integrations, many packages have at least one field with `type: object` (119), `object_type` (110) or a name with a wildcard (20). All of them should result on dynamic mappings, and they are not now, this can lead with unexpected mapping conflicts.
I guess we are not seeing more issues caused

[2022-07-28 12:31] samratbhadra-qasource opened #137441 "[Security Solution]: On selecting a particular tag all available tags gets selected and unselected simultaneously with same name and incorrect tag assignments shows under Saved Objects."
**Describe the bug:**
On selecting a particular tag all available tags gets selected and unselected simultaneously with same name and incorrect tag assignments shows under Saved Objects.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Stack Management.
2. Now, navigate to Tags tab and create multiple tags with name `Security Solutio

[2022-07-28 12:31] elasticmachine commented on #137441
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 12:42] elasticmachine commented on #137441
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-28 12:43] paul-tavares commented on #136506
ahhh. I forgot to come back and try to test/address issues when the input is too long.
Not clear yet how easy/hard this is to address, but will look into it.

[2022-07-28 12:43] elasticmachine commented on #137440
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 12:48] 111andre111 opened #137444 "Agents that are in Update status but hit into unenrollment timeout keep the upgrade task open"
**Kibana version:** 8.3.3

**Elasticsearch version:** 8.3.3

**Describe the bug:**
Upgrade process keeps stuck even if an agent has been unenrolled if it was offline longer than `Unenrollment timeout`.

**Steps to reproduce:**
1. I created a new policy with an `Unenrollment timeout` 60 for the purpose of a faster reproduction
2. onboard new agent
3. Took machine machine with new agent offline.
4.

[2022-07-28 12:48] #114049 closed

[2022-07-28 12:48] #116971 closed

[2022-07-28 12:53] kevinlog commented on #136506
@paul-tavares thanks, this is lower priority than a couple of the other issues - so we can start the investigation after fixing some of the other bugs.

[2022-07-28 12:55] azasypkin commented on #128735
We synced with @watson in Slack, posting the reason for why we want to log the user out a few seconds before the session expires here, just for the record:

In a nutshell, we still need session to be ["retrievable" during logout process](https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/x-pack/plugins/security/common/constants.ts#L62-L67), since some providers have [n

[2022-07-28 12:55] xcrzx opened #137446 "[Security Solution] PoC of the rule upgrade workflow"
**Epic:** https://github.com/elastic/security-team/issues/1974 (internal)

## Summary

To implement the rule upgrade UI (see [designs](https://www.figma.com/file/gLHm8LpTtSkAUQHrkG3RHU/%5B8.1%5D-%5BEpic%5D-Rule-Immutability%2FCustomization?node-id=948%3A189020)), we will first need to do some software design work for the rule upgrade workflow:

- Design a data model of prebuilt rule assets
- Desig

[2022-07-28 12:55] elasticmachine commented on #137446
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 12:55] elasticmachine commented on #137446
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-28 12:56] #87449 closed

[2022-07-28 13:01] rahuldimri commented on #97976
@afharo thank you !! Could you please assign this to me :)

[2022-07-28 13:02] paul-tavares commented on #137250
@muskangulati-qasource - can you grab the Action Details output for that `kill-process` action after it completes? We need to see what the API is returning since we just show what's there

[2022-07-28 13:07] crespocarlos commented on #135196
Awesome! Thank you so much

[2022-07-28 13:09] kevinlog commented on #137250
@paul-tavares

I took a look at this one to reproduce.  There isn't an API error from Action Details here.  The point of failure is on the `kill-process` API itself, so the action isn't created.

You will see the an error like this:

[code]

[2022-07-28 13:16] hop-dev opened #137450 "[Fleet] Add ability to force install while creating agent policy"
Since the addition of package verification in 8.4 (#133822), an unverified package can only be installed if the force flag is supplied.

When creating an agent policy, we install the agent integration if it isnt alread, and if sys_monitoring is enabled then we also install the system integration. Currently, there is no way to force install these integrations during agent policy creation so the age

[2022-07-28 13:16] elasticmachine commented on #137450
Pinging @elastic/fleet (Feature:Fleet)

[2022-07-28 13:21] pmuellr opened #137451 "[responseOps] clarify doc on mute/unmute alert instance id's"
Based on discuss post https://discuss.elastic.co/t/alerting-api-where-can-i-find-alert-id/310730

The docs for mute/unmute alert HTTP API show the instance id as a UUID.  However, a lot of the alert ids used by the rules currently supported aren't UUIDs, but human-readable strings.  So the customer was confused because even though they had an instance id available (was `*`!), they didn't think tha

[2022-07-28 13:21] elasticmachine commented on #137451
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-28 13:22] #137330 closed

[2022-07-28 13:22] #137331 closed

[2022-07-28 13:23] #137329 closed

[2022-07-28 13:28] #137300 closed

[2022-07-28 13:29] #136866 closed

[2022-07-28 13:36] kibanamachine opened #137456 "Failing test: Unsecure Cluster Alert Functional Tests.x-pack/test/security_functional/tests/security_check/unsecure_cluster_alert·ts - security app - unsecured cluster alert Unsecure Cluster Alert will display when ES Security Plugin is disabled and there is at least one user created index with data"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19020#018244f0-3d34-4db5-9ccb-8cc0ebf1fc7f)

[2022-07-28 13:36] elasticmachine commented on #137456
Pinging @elastic/kibana-security (Team:Security)

[2022-07-28 13:38] azasypkin commented on #137456
@kc13greiner can you please look into this one to see why our brand-new test is failing?

[2022-07-28 13:41] rahuldimri commented on #97976
@afharo  Can you help me to update the release note. Below check is getting failed.

prbot:release note labels — All PRs require a release_note:* label

[2022-07-28 13:42] #137160 closed

[2022-07-28 13:48] 111andre111 opened #137459 "Offer option in Fleet for upgrading agents about skipping offline agents"
**Kibana version:** 8.3.3

**Elasticsearch version:** 8.3.3

**Describe the enhancement:**
It would be extemely helpful to have an option to skip offline agents from multiple agents as well as when a single agent has been selected for upgrade. It would be good to have the choice.

**Expected behavior:**
Today the agent simply goes to Upgrading but there is no gurantee when the agents are off or du

[2022-07-28 13:55] kqualters-elastic commented on #137043
This is a strange bug, seems like the issue is being caused by https://github.com/elastic/kibana/blob/main/x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/styles.scss which has existed for a year no problem and was previously only active in styles when within the observability app
![image](https://user-images.githubusercontent.com/56408403/181522581-72de7549-3024-49fa-939d-

[2022-07-28 13:55] joshdover opened #143455 "[Fleet] Replace unenrollment timeout with UI-only inactivity timeout"
Currently, Elastic Agents are automatically unenrolled by Fleet Server when they reach a certain unenrollment timeout (configured in Fleet UI) after being offline for some time. The unenrollment process involves invalidating each Agent's API keys.

See our existing [docs](https://www.elastic.co/guide/en/fleet/current/set-enrollment-timeout.html) for more information on this functionality.

This fe

[2022-07-28 14:03] criamico commented on #132909
Hi @prachigupta-qasource, thanks for clarifying. We currently have some different logic on this page depending if we select multiple agents or all agents.

- In the first case (multiple agents) we display only versions > the minimum installed, because we know all the agent that were selected.
- In the case where all the agents where selected on all pages, we don't know all the agents but we pass a

[2022-07-28 14:04] #31683 closed

[2022-07-28 14:07] GioeleLaugelli commented on #17789
+1

[2022-07-28 14:10] vitaliidm commented on #129294
Looks like ES `_bulk` update method(that used in `rulesClient.bukEdit`, which uses [savedObjectClient.bulkUpdate](https://github.com/elastic/kibana/blob/main/packages/core/saved-objects/core-saved-objects-api-server/src/saved_objects_client.ts#L240-L247) under the hood) doesn't overwrite fields with `undefined` value.
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html

[2022-07-28 14:15] semd commented on #137198
Hi @yuliacech, I am from the Security Solution team, we implemented the new navigation for Security on 8.3.0.
However, this bug seems to happen in Observability, and they are still using the old navigation which remained unchanged.
Did the EUI team tell you how this bug is related to Security Solution?

[2022-07-28 14:16] dakrone opened #137464 "Add support for min_* rollover conditions to Kibana ILM UI"
**Describe the feature:**
In https://github.com/elastic/elasticsearch/pull/83345 (8.4.0) we'll be adding support for `min_*` criteria for rollover conditions. We should add these to the Kibana UI, because we intend to switch some of the internal policies to use these conditions.

The conditions that have been added are:
- min_age
- min_size
- min_docs
- min_primary_shard_size
- min_primary_shard_d

[2022-07-28 14:17] dakrone commented on #135088
Slightly related to https://github.com/elastic/kibana/issues/137464 (maybe both could be done at the same time?)

[2022-07-28 14:19] kevinlog commented on #136376
@parkiino let's target Tuesday next week for merge so we can test the bug in the next BC

[2022-07-28 14:19] elasticmachine commented on #137464
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 14:22] Bamieh commented on #97976
@rahuldimri just add the label `release_note:skip` to the PR submitted against the elastic/kibana repo

[2022-07-28 14:23] #135778 closed

[2022-07-28 14:30] MadameSheema commented on #136081
@karanbirsingh-qasource please validate this one on BC2, thanks 😊

[2022-07-28 14:33] qn895 commented on #137174
Closing via https://github.com/elastic/kibana/pull/137117

[2022-07-28 14:33] #137174 closed

[2022-07-28 14:33] qn895 commented on #137085
Closing via https://github.com/elastic/kibana/pull/137117

[2022-07-28 14:34] qn895 commented on #137062
Closing via https://github.com/elastic/kibana/pull/137117

[2022-07-28 14:34] #137062 closed

[2022-07-28 14:34] qn895 commented on #137046
Closing via https://github.com/elastic/kibana/pull/137117

[2022-07-28 14:34] #137046 closed

[2022-07-28 14:34] qn895 commented on #137016
Closing via https://github.com/elastic/kibana/pull/137117

[2022-07-28 14:34] #137016 closed

[2022-07-28 14:38] joshdover commented on #132818
@andresrc

Is this a UI toggle or an API toggle? If it's an API, I don't think we really need to create anything new as it seems the same as asking the users to set this on the custom component template using it's existing Elasticsearch API.

If we want UI support, we could add the toggle to component template editor UI to allow setting synthetic source there (right now you have to do it in Dev To

[2022-07-28 14:40] kevinlog commented on #137426
We can generate a default usage and display it.

For these simple cases, the Usage would be `status`, etc.

[2022-07-28 14:40] rudolf commented on #82587
@lcawl that sounds like a pragmatic solution and we could always document if that space id is left out Kibana will use the default space.

[2022-07-28 14:42] kibanamachine opened #137470 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group3/formula·ts - lens app - group 3 lens formula should insert single quotes and escape when needed to create valid field name"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/19025#0182451d-de85-4957-b713-86f55b52460f)

[2022-07-28 14:42] elasticmachine commented on #137470
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-28 14:48] marshallmain commented on #137419
This is expected behavior for the threshold rule. Whether the preview generates 1 or 2 alerts depends on when exactly the preview is run in this case. Since the timestamps of the source documents are 2 minutes apart (08:53:47 and 08:55:47) it's possible for them both to fall in the same bucket and only generate 1 alert in the preview. However, it's also possible for the source documents to be pick

[2022-07-28 14:49] dominiqueclarke opened #137471 "[Synthetics UI] Private locations for limited permissions"
Users without Fleet permissions are unable to use Private locations. The UX for these users will need to be adjusted to account for these limited permissions.

These considerations have already been addressed in Uptime UI. This ticket translates that behavior into Synthetics UI.

For the purpose of this ticket, limited permission users are considered users who have Uptime all permissions, but lack

[2022-07-28 14:49] elasticmachine commented on #137471
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 14:51] MadameSheema opened #137472 "[Security Solution] Missing Network/Events on the global navigation"
**Describe the bug:**
- Missing Network/Events on the global navigation

**Kibana/Elasticsearch Stack version:**
- 8.4.0 BC1

**Steps to reproduce:**
1. Type on the global navigation `Events`

**Current behavior:**

<img width="668" alt="Screenshot 2022-07-28 at 16 46 27" src="https://user-images.githubusercontent.com/17427073/181566696-54996dbb-ca89-4294-ad8e-5d9695471f0e.png">

**Expected behavi

[2022-07-28 14:51] elasticmachine commented on #137472
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 14:52] elasticmachine commented on #137472
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 14:53] michaelolo24 commented on #136261
Thanks for finding @arvindersingh-qasource - We'll work on this, but a workaround for now is manually closing the current details flyout by clicking the 'x' in the top right corner before opening a new one. Thanks!

[2022-07-28 14:56] MadameSheema commented on #137419
Thanks @marshallmain!!

Closing as the behaviour described is expected.

[2022-07-28 14:56] #137419 closed

[2022-07-28 14:58] dominiqueclarke opened #137473 "[Synthetics UI] Disable Test Now and Run Once for monitors with private locations"
We currently do not have a mechanism for run once or test now for monitors with Private locations. This ticket ensures that these flows are disabled for monitors with private locations.

On Cloud Experience
--
- [ ] On the Overview page action list, test now is disabled for monitors with only private locations. A tooltip explains that tests can only be run in public locations. For monitors with a

[2022-07-28 14:58] elasticmachine commented on #137473
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 15:02] kevinlog commented on #136506
thought from @pzl

Maybe we should put a cap on the comment field.

Also, maybe but a validation on accepting length via API

[2022-07-28 15:03] kqualters-elastic commented on #137043
@logeekal the underlying content is hidden now, which is better (and suggests that the bug was created outside of security solution code), but it still shouldn't have that gap of 72px of gray space at the top.
<img width="1123" alt="image" src="https://user-images.githubusercontent.com/56408403/181571259-0a47afb6-9952-4c60-8b0e-dd83d12edee7.png">
see https://kibana.siem.estc.dev/ for an example

[2022-07-28 15:12] 111andre111 opened #137475 "Offer configurable timeout Fleet for upgrading agents"
**Kibana version:** 8.3.3

**Elasticsearch version:** 8.3.3

**Describe the enhancement:**
As of today when  configuring an upgrade of a given selected count of upgrading agents the upgrade tasks don't have a defined end confirable. It would be good if there could be timeout defined may globally as well as per agent, how long the upgrade task would wait until it times out.
For the sake of complete

[2022-07-28 15:18] schnobbc-mirai opened #137477 "Kibana 8.1+ does not read node.options file as expected"
**Kibana version:**
8.1.1 - 8.3

**Elasticsearch version: **
8.1.1 - 8.3

**Server OS version: **
Windows Server 2016 - Windows Server 2022

**Browser version:**
Firefox 102

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Download windows zip

**Describe the bug:**
Kibana does not respect the use of config/node.options in windows insta

[2022-07-28 15:21] jsoriano commented on #132818
@joshdover I think these flags should be managed by Fleet, in case we later decide to enable these features everywhere automatically, or depending on certain conditions.
It may also happen that multiple settings are needed, as in the case of TSDB or doc-value-only fields. It could be also the case for synthetic source if we decide to remove `ignore_above` when it is enabled.

While Fleet is aware

[2022-07-28 15:37] stephmilovic commented on #137436
should "stack by" change url params as well? @paulewing

[2022-07-28 15:38] #136846 closed

[2022-07-28 15:38] #136852 closed

[2022-07-28 15:43] stephmilovic commented on #124467
part of https://github.com/elastic/kibana/issues/124466

[2022-07-28 15:54] darnautov commented on #137180
hey @Rick25-dev, forgot to clarify, is it Elastic Cloud deployment, or some other cloud provider?
also, did you change anything in Kibana Advanced settings, or are there any extensions/settings in your browser that might potentially prevent redirects?

I just created a deployment in Elastic Cloud and didn't manage to reproduce the issue.

[2022-07-28 15:54] #137177 closed

[2022-07-28 15:55] cjcenizal commented on #137464
Looks like the rules for using these conditions is that they're optional. So you can configure a policy with no conditions, max conditions, or max and min conditions. You can't configure a policy with only min conditions.

Because they're an optional addition to max conditions, I suggest we hide these options beneath an accordion. The user can expand the accordion to see additional text inputs tha

[2022-07-28 15:59] joegallo commented on #137464
For an ILM policy must have a least one `max_` condition, but that's it. So you can indeed have no `min_` conditions, but you cannot have only `min_` conditions.

Elsewhere on the rollover API, it is permissible to have no conditions whatsoever, but the logic is stricter for ILM policies -- an unconditional ILM rollover would rollover the index every ten minutes by default, and that seems very far

[2022-07-28 15:59] dominiqueclarke opened #137486 "[Synthetics UI] Private locations in Synthetics UI"
The UI described in https://github.com/elastic/uptime/issues/475 needs to be moved into Synthetics UI.

cc: @hbharding for any design changes to integrate into Synthetics UI

Overview of requirements
--
- [ ] A Private Locations button is available from the management page, which launches a flyout
- [ ] In the private locations flyout, Users with Fleet permissions can add, delete, and update priva

[2022-07-28 16:01] dominiqueclarke opened #137487 "[Meta] [Synthetics UI] Private locations in Synthetics UI"
This ticket brings the existing behavior for Private locations into the Synthetics UI

- [x] https://github.com/elastic/observability-design/issues/238
- [x] https://github.com/elastic/kibana/issues/137486
- [x] https://github.com/elastic/kibana/issues/137473
- [x] https://github.com/elastic/kibana/issues/137471
- [ ] Ensure labels are labeled appropriately in the Locations combobox
- [x] TODO emp

[2022-07-28 16:03] elasticmachine commented on #137487
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 16:10] kertal commented on #136933
sorry @Toshken21 we decided to move a bit faster here, to backport rather earlier than later

[2022-07-28 16:13] semd opened #137491 "[Security Solution] Move CSP breadcrumbs into Security Solution"
## Description

CSP is not using the Security standard implementation of the breadcrumbs (based on the SpyRoute component), They have implemented their own module:

https://github.com/elastic/kibana/blob/64666cf31450c4a2e9b6001970f54b1fa06e5be6/x-pack/plugins/cloud_security_posture/public/common/navigation/use_csp_breadcrumbs.ts#L26

This is needed only for the `CSP Benchmark detail` page, which n

[2022-07-28 16:13] elasticmachine commented on #137491
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 16:18] ThomThomson opened #137493 "[Embeddables] Communicate Data View Ids"
**How it works now**
Dashboard needs to know which data views its child embeddables use in order to provide appropriate options when creating a filter or a control. Currently, most embeddables communicate their data views via their output. Dashboard reads the output, casts it and tries to grab the data view object from it.

**Problems with this approach:**
- Since Dashboard doesn't know what each

[2022-07-28 16:19] elasticmachine commented on #137493
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 16:19] elasticmachine commented on #137493
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-28 16:24] dominiqueclarke opened #137494 "[Synthetics] Migrate legacy Elastic Synthetics Integration integration policies to Synthetics Monitor Management"
Creates a migration flow to migrate legacy Elastic Synthetics Integration policies to Synthetics Monitor Management.

All integration policies without the `config_id` key are considered legacy policies.

With the UI, this migration will be a two-step process, allowing the user to first configure prerequisites for private locations, then assign their existing legacy integrations to those policies.

[2022-07-28 16:24] #135117 closed

[2022-07-28 16:25] cuff-links commented on #80066
I will take this.

[2022-07-28 16:27] #135529 closed

[2022-07-28 16:30] cjcenizal commented on #137464
Some more context on this after a great chat with Joe. A couple takeaways:

* **No UI help needed.** This feature is intended for advanced users who know what they're doing. There's not much we need to do in the UI in terms of help text or guiding users to best practices. We're going to publish detailed ES docs to educate users how to use this feature effectively.
* **More validation is coming.**

[2022-07-28 16:33] kibanamachine opened #137498 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/index_management/feature_controls/index_management_security·ts - Index Management app feature controls security "before all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19041#01824572-58d3-4dbb-81d2-67d383db80e3)

[2022-07-28 16:33] kibanamachine commented on #135238
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19042#01824576-4023-40b7-ae8c-6d1e8dc4ef64)

[2022-07-28 16:33] kibanamachine commented on #135239
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19042#01824576-4023-40b7-ae8c-6d1e8dc4ef64)

[2022-07-28 16:33] kibanamachine commented on #135240
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19042#01824576-4023-40b7-ae8c-6d1e8dc4ef64)

[2022-07-28 16:37] ThomThomson commented on #20024
This doesn't seem to me like a bug on the Dashboard side - nor on the Kibana side as a whole to be honest. There are plenty of wild card indices in use which all work correctly. Additionally, this was opened on a 5.x version of Kibana.

I will close this issue for now, and we can reopen if problems start to crop up again.

[2022-07-28 16:37] #20024 closed

[2022-07-28 16:41] kibanamachine commented on #137456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19044#01824579-fe76-47e1-84cc-73b6ca0353a4)

[2022-07-28 16:42] kibanamachine commented on #137456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19045#0182457c-b85a-4179-af36-bf29bbf5927b)

[2022-07-28 16:43] ThomThomson commented on #20261
Tested this locally and on 8.2.3, and it looks like everything is working fine in terms of importing a legacy controls visualization via the saved objects API.

Will close

[2022-07-28 16:43] #20261 closed

[2022-07-28 16:46] dominiqueclarke opened #137501 "[Elastic Synthetics Integration] Deprecate Legacy Synthetics Integration Add Monitor Flow"
Disable the ability to Add new Elastic Synthetics integrations outside Uptime/Synthetics monitor management, by redirecting users to Uptime to create monitors and private locations.

This can be done either through a button directing users to Uptime or Synthetics, or by immediately redirecting users to Uptime.

[2022-07-28 16:46] elasticmachine commented on #137501
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 16:46] dominiqueclarke commented on #137501
It might be a bit confusing for existing users of Elastic Synthetics Integration if they were immediately redirected to Uptime or Synthetics, unless we added some type of callout to the top of the page when redirected from the Integration explaining the context.

[2022-07-28 16:48] ThomThomson commented on #22166
Closing this one as it doesn't seem to be valid anymore. The only way to add a new Input Control is to hit `update`

https://user-images.githubusercontent.com/14276393/181593463-4a2c5ee3-a1cc-4166-b046-659c43eaf434.mp4

[2022-07-28 16:48] #22166 closed

[2022-07-28 16:49] andresrc commented on #132818
@joshdover I have updated the comment with some additional considerations, including what to do with `ignore_above`

I would prefer to start with an UI toggle as it would be easier for final users to try it for certain data streams where they might  get the benefit.

If we are doing more "magic" here (i.e. removing the `ignore_above`) would the component template editor UI still be the right place

[2022-07-28 16:54] ThomThomson commented on #22640
I don't think we are planning on implementing this feature. New infrastructure like Lens isn't capable of being backed by a saved search, and we are moving away from that paradigm entirely. More likely, we will be providing a read-only / hidden filter type with dashboard controls / unified search, which should allow dashboard authors to narrow down the query scope of their dashboards without allow

[2022-07-28 16:54] #22640 closed

[2022-07-28 16:54] dominiqueclarke opened #137505 "[Elastic Synthetics Integration] Deprecate Legacy Elastic Synthetics Integration edit flow"
Prerequisites:
- [ ] https://github.com/elastic/kibana/issues/137494
- [ ] https://github.com/elastic/kibana/issues/137501

Disable the ability to edit Elastic Synthetics integrations outside Uptime/Synthetics monitor management, encouring users to migrate to UI Monitor Management.

This can be done either through a button directing users to Uptime or Synthetics for the migration or by immediately

[2022-07-28 16:54] elasticmachine commented on #137505
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 16:54] TinaHeiligers commented on #135346
To be clrea, the 👍 is for documenting recurring issues related to the shareable SO.

[2022-07-28 16:55] elasticmachine commented on #22654
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-28 16:55] ThomThomson commented on #22654
Reassigning this one to App Services because this problem is specific to reporting

[2022-07-28 16:56] elasticmachine commented on #137498
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 16:57] #136247 closed

[2022-07-28 16:57] dominiqueclarke opened #137508 "[Meta] [Elastic Synthetics Integration UI] Deprecate Legacy Elastic Synthetics UI and Migrate legacy Elastic Synthetics integrations"
Deprecates existing UI flows for the Elastic Synthetics Integration, ensuring that the only way to create monitors in the UI is through Uptime or Synthetics, and that existing legacy Elastic Synthetics integration policies are able to be migrated into Uptime monitor saved objects.

- [x] https://github.com/elastic/kibana/issues/137501
- [x] https://github.com/elastic/kibana/issues/137494
- [x] htt

[2022-07-28 16:57] elasticmachine commented on #137508
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 17:01] #137304 closed

[2022-07-28 17:01] ThomThomson commented on #23435
Can confirm that this is no longer an issue, with our extract and inject references logic and the excellent export saved objects API.

[2022-07-28 17:01] #23435 closed

[2022-07-28 17:04] rylnd commented on #137412
@MadameSheema does this mean that the bug also exists in 8.3.x, or that the behavior is correct in 8.3.x?

[2022-07-28 17:04] vadimkibana commented on #137210
How can one reproduce this test on local dev environment?

[2022-07-28 17:07] ThomThomson commented on #44650
I was unable to reproduce on more modern versions. Will close this for now, but we can re-open if this error starts cropping up again.

[2022-07-28 17:07] #44650 closed

[2022-07-28 17:10] ThomThomson commented on #32936
I cannot reproduce this in newer versions of Kibana.

https://user-images.githubusercontent.com/14276393/181597281-372b0729-38af-4070-804f-2d6bb775977b.mp4

Will close this issue for now

[2022-07-28 17:10] #32936 closed

[2022-07-28 17:13] ThomThomson commented on #37209
This should no longer be the case, as the Input Controls have been upgraded to use the same Autocomplete API that the filter pills use. It should always stay up to date.

[2022-07-28 17:13] #37209 closed

[2022-07-28 17:16] ThomThomson commented on #47795
Dashboards still have this color background. As I understand it, it was basically meant as a way to provide separation between panels and the dashboard's gutters. We are working on aligning some of the dashboard designs currently. @gvnmagni, do you think this is something we should address at any point? It seems like this client has created their own custom branded embeddable.

If this isn't somet

[2022-07-28 17:17] ThomThomson commented on #48043
I cannot reproduce this on more modern versions of Kibana. The Discover UI has gone through a number of updates since, and it definitely no longer flashes on dashboards on a refresh.

[2022-07-28 17:17] #48043 closed

[2022-07-28 17:19] ThomThomson commented on #51258
Can confirm that this is no longer an issue. Tested in 8.2.

[2022-07-28 17:19] #51258 closed

[2022-07-28 17:40] simianhacker commented on #136213
This looks fine for Observability, we don't have any "out of the box" rules that we create on behalf of the customer so we are mostly unaffected by this change.

[2022-07-28 17:42] legrego commented on #136154
@1Copenut I'm seeing what I think is close to the correct behavior when testing in Safari with VoiceOver:

https://share.cleanshot.com/i8s41b

I am notified in VoiceOver when the toast message appears, warning me about my upcoming session timeout.

Once there is < 1 minute left to the timeout, the toast starts counting down the seconds. As you can see in the video, we don't have that part quite ri

[2022-07-28 18:01] robcowart commented on #47795
This is normal Kibana. Absolutely nothing custom. Just Kibana pushed to its limits. The logo is just using the out-of-the-box markdown visualization. This should be a pretty easy fix where the color of background is changed to the same as the respective light or dark visualization background when margins are disabled.

NOTE: The above screenshots are just an example that shows the issue. However t

[2022-07-28 18:15] ThomThomson commented on #47795
Ah I see! That's great to know @robcowart. It could be a matter of changing the background color when margins are turned off. In that case I will triage this. Still interested in what @gvnmagni thinks about this though.

[2022-07-28 18:16] rylnd commented on #137412
@MadameSheema can you share the full alert JSON for both working and non-working cases? If they're identical, mappings would also be useful.

[2022-07-28 18:25] #137416 closed

[2022-07-28 18:37] #125703 closed

[2022-07-28 18:38] dplumlee commented on #129664
Closed by #128981

[2022-07-28 18:38] #129664 closed

[2022-07-28 18:38] #135088 closed

[2022-07-28 18:43] kibanamachine commented on #50373
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19068#018245e7-e646-4958-9765-90b48254d6a5)

[2022-07-28 18:58] elasticmachine commented on #137477
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-28 19:06] smith commented on #137254
Looks like it.

[2022-07-28 19:06] #137254 closed

[2022-07-28 19:15] mistic commented on #137477
@schnobbc-mirai we've fixed a bug when not using quotes at https://github.com/elastic/kibana/pull/104517 so I don't think we want to remove them again.

I don't have access to a Windows box at the moment but could you please verify what is the value of your `KBN_PATH_CONF` variable?

\cc @jbudz could you please have a look on this too and give it a quick test on Windows?

[2022-07-28 19:23] #128349 closed

[2022-07-28 19:24] marshallmain commented on #137068
@deepikakeshav-qasource Can you share the user permissions that you're testing with?

[2022-07-28 19:25] ogupte commented on #77724
Closing this since we cannot reproduce this bug anymore, seems to be resolved with improvements in routing and navigation.

[2022-07-28 19:25] #77724 closed

[2022-07-28 19:37] dominiqueclarke opened #137527 "[Uptime Private locations] Usability issues with many agent policies"
Our current private locations form does not scale well with many agent policies.

The select component is a standard dropdown that will display a user's current agent policies. It does not allow searching through the list.

We should add the ability to search through the list to provide greater usability for customers with numerous agent policies.

[2022-07-28 19:37] elasticmachine commented on #137527
Pinging @elastic/uptime (Team:uptime)

[2022-07-28 19:37] dominiqueclarke commented on #137527
@paulb-elastic I don't really know if this is considered a bug, but I'll leave it up to you.

[2022-07-28 20:03] cjcenizal opened #137529 "Address cross-boundary import violations in Deployment Management UIs"
See https://github.com/elastic/kibana/pull/136911 for context.

- [ ] `src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/authorization_provider.tsx`
- [ ] `src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/page_error.tsx`
- [ ] `x-pack/plugins/license_api_guard/server/shared_imports.ts`

[2022-07-28 20:03] elasticmachine commented on #137529
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 20:09] spalger commented on #137529
Thanks for creating this issue @cjcenizal, In this case of the first two violations the issue is that the `__packages_do_not_import__` code is outside of a `server`, `public`, or `common` dir, so it's not feasible to determine the intended destination for that code.

By default that code is categorized as "common" because it lives outside those directories, but if we could maybe create a `__packag

[2022-07-28 20:38] mbarretta commented on #134772
@nreese I know I'm too slow on the reply, but for completeness: yes, I'd expect the alert context to contain the boundaryID/Name of the boundary the entity just left. If I have more than one boundary, how would I know which boundary a given entity left? Granted, a query could tell me that, but obviously more valuable to be pushable in the body of an alert.

[2022-07-28 20:47] gabriellandau commented on #129057
I've able to reliably reproduce this on my Windows 10 machine for months now.  Chrome (currently 103.0.5060.134).  Desktop resolution 1920x200.  Display scaling is 100%.  Page zoom is 100%.

There's two alerts here, but only one is visible in grid view:
![image](https://user-images.githubusercontent.com/42078554/181633684-b89c1611-a7ab-4376-950c-0ab1533d7565.png)
The other one shows up in rendered

[2022-07-28 20:50] gabriellandau commented on #132901
I've able to reliably reproduce this on my Windows 10 machine for months now.  I can currently reproduce it in 8.4.0 BC1.

Chrome (currently 103.0.5060.134).  Desktop resolution 1920x200.  Display scaling is 100%.  Page zoom is 100%.

There's two alerts here, but only one is visible in grid view:
![image](https://user-images.githubusercontent.com/42078554/181633684-b89c1611-a7ab-4376-950c-0ab1533d

[2022-07-28 21:07] jamster10 opened #137539 "[Security Solution] [Explore][Revisit External alerts] missing network details revamp"
**Describe the bug:**
Work meant to be in https://github.com/elastic/kibana/pull/136913, was left out due to a bad rebase :(.

This ticket aims to resolve that by adding all the missing work in main. -specifically work related to revamping the Network Details page, to look like other explore pages

**Kibana/Elasticsearch Stack version:**

**Server OS version:**

**Browser and Browser OS versions:*

[2022-07-28 21:07] elasticmachine commented on #137539
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-28 21:23] cjcenizal opened #137540 "Refactor Console settings toggles to follow best practices"
Per comments by Gail in https://github.com/elastic/kibana/pull/137366, we should invert these toggles' labels and states:

* "Disable saving requests to history" -> "Save requests to history"
* "Disable keyboard shortcuts" -> "Enable keyboard shortcuts"

![image](https://user-images.githubusercontent.com/1238659/181385021-b2e8ab4f-a29d-468b-b460-eedd23694e74.png)

[2022-07-28 21:23] elasticmachine commented on #137540
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 21:45] bhavyarm commented on #135196
So multiple passes in my local. The only change I did was to wait to make sure we are on kibana overview page. Running the ci now - https://github.com/elastic/kibana/pull/137542

[2022-07-28 23:07] 111andre111 commented on #137475
Possibly related: https://github.com/elastic/fleet-server/issues/1696

[2022-07-28 23:11] kibanamachine commented on #136467
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19093#018246da-2ef5-435c-97a3-7c138ac3170a)

[2022-07-29 00:05] tsullivan commented on #22654
I'm pretty sure this area of code has become more bulletproof, especially since https://github.com/elastic/kibana/pull/134440

[2022-07-29 00:05] #22654 closed

[2022-07-29 01:51] matschaffer opened #137545 "Address cross-boundary import violations in Infra Plugin"
See https://github.com/elastic/kibana/pull/136911 for context.

Looks like infra plugin has a lot of these still present, so won't list them all out here. If we grep for `no_boundary_crossing` once the above PR lands we should be able to root them out.

Seems like most of the cases involve includes between common, metrics and server for the `infra` plugin, so marking this as "Metrics UI"

Hopefull

[2022-07-29 01:51] elasticmachine commented on #137545
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-29 01:56] matschaffer commented on #135382
Thanks for the refresher @klacabane ! SGTM - if naming is hard I could see maybe using version numbers at some point. For example, it's not clear how to differentiate two potential otel schemas (perhaps an instrumentation point gets removed in code) if they're both `metrics-elasticsearch.node-default`

But like you said naming there is still TBD, so shouldn't impact this issue.

[2022-07-29 02:01] andrew-goldstein opened #137546 "[Security Solution] The Refresh button on the Alerts page stops querying data after the Alert details panel is closed, as a side effect of the `useAlertPrevalence` hook unmounting"
### Summary

The Refresh button on the Alerts page stops querying data after the Alert details panel is closed, as a side effect of the `useAlertPrevalence` hook unmounting.

As a result, the Refresh button on the Alerts page stops working after viewing the details of a single alert, and then closing the details panel.

When this happens, users must then refresh the entire page via the _browser's_

[2022-07-29 02:01] elasticmachine commented on #137546
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 02:02] matschaffer opened #137547 "Document multi-node setup from source for stack monitoring"
I was talking about this with @miltonhultgren and figured it out. Filing this retroactively to track the work.

[2022-07-29 02:02] elasticmachine commented on #137547
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-29 02:15] matschaffer commented on #116065
This is at the top of the board and it looks like @weltenwort 's assignment is stale so I'll pick it up.

[2022-07-29 02:56] elasticmachine commented on #137441
Pinging @elastic/kibana-core (Team:Core)

[2022-07-29 03:05] matschaffer commented on #116065
From looking at this I wonder if the loading element might be gone before the test tries to find it:

[code]

[2022-07-29 03:24] matschaffer commented on #116065
I'm gonna be out for the next two weeks but I'll keep nudging this forward for the afternoon. Given it's age I doubt it'll be a big deal to sit on it until mid-August.

[2022-07-29 03:40] katefarrar opened #137550 "[Logs] Enhanced Histogram Visualization"

[2022-07-29 04:32] matschaffer commented on #116065
Since the new failure is 7.17, I'm going to try just backporting the 8.x fix https://github.com/elastic/kibana/pull/122383

[2022-07-29 05:12] muskangulati-qasource commented on #136603
Hi @kevinlog,

Thank you for the follow up. We have tested it again and seems like its some vSphere issue only.

We rested it and everything worked fine!!

The FDA errors did pop up correctly.

The issue is only with the FDA policy response message that is shown to the user even after successfully enabling the FDA.

Please let us know if anything else is required from our end.

Thanks!

[2022-07-29 05:14] muskangulati-qasource commented on #136602
Hi @kevinlog,

Thank you for the update!!

No Kevin, we have not been able to reproduce it as we tried the testing it on AWS VM. This seems to be an issue with vSphere endpoints.

Since everything is working fine, we are closing this issue.

Thank you!

[2022-07-29 05:14] #136602 closed

[2022-07-29 05:15] deepikakeshav-qasource commented on #137068
Hi @marshallmain,

Thank you for looking into our issue.

We have validated this issue on **8.4.0 BC1** build and observed that issue is **not occurring** on BC1.

Please find the below testing Details:

**Build info**

[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/181687425-916394d5-349b-49dd-b886-76d562143406.mp4

Hence, We are closing this issue!!

We will re-open

[2022-07-29 05:15] #137068 closed

[2022-07-29 05:23] deepikakeshav-qasource commented on #136374
Hi @andrew-goldstein ,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed** 🟢

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**
![image](https://user-images.githubusercontent.com/61860752/181688366-7734bc5f-c106-4cc2-b377-7ff2f13831c9.png)

Hence, We are marking as QA Validated!!

Thanks!!

[2022-07-29 05:58] kertal commented on #29726
Closing in favor of #103008, this will definitely be possible in Discover's future

[2022-07-29 05:58] #29726 closed

[2022-07-29 06:03] kertal commented on #15662
Closing because
a) We splitted the histogram + document query
b) the histogram can be hidden
So in case the histogram is slow, results are displayed much faster

[2022-07-29 06:03] #15662 closed

[2022-07-29 06:05] elasticmachine commented on #137550
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-29 06:18] deepikakeshav-qasource commented on #137146
Hi @semd,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed** 🟢

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**
**None Privileges on Kibana Dashboard** 🟢
![image](https://user-images.githubusercontent.com/61860752/181695011-de83af15-f7a9-4362-968c-09c496e2a32e.png)

**Dashboards landing:**
![image](https://user-images

[2022-07-29 06:18] #137146 closed

[2022-07-29 06:20] azasypkin commented on #136467
Okay, second failure in two weeks is convincing enough, removing `esArchiver` from the authentication related tests in https://github.com/elastic/kibana/pull/137553. But I have no idea why `esArchiver` usage has suddenly become so unstable.

[2022-07-29 06:32] deepikakeshav-qasource commented on #137169
Hi @marshallmain,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed** 🟢

- `is in list` and `is not in list` is not displaying when creating the exception for New Term Rule

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**

https://user-images.githubusercontent.com/61860752/181697104-678092cf-f9ee-4c74-bc81-89a1284b02e9

[2022-07-29 06:43] samratbhadra-qasource opened #137554 "[Security Solution]: While navigating to Discover tab an error pops-up."
**Describe the bug:**
While navigating to Discover tab an error pops-up.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Discover tab under Analytics.
2. Select the filter `*elastic-cloud-logs-*,.alerts-security.alerts-default,apm-*-transaction*,auditbeat-*,endgame-*,filebeat-*,logs-*,packetbeat-*,traces-apm*,winlogbeat-*`
3. Observ

[2022-07-29 06:43] elasticmachine commented on #137554
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 06:44] karanbirsingh-qasource commented on #137086
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/181698796-e4ede0c4-ae93-4a39-ae14-74b39e3bb1e3.png)

![image](https://user-images.githubusercontent.com/59917825/181698969-be52a57c-ce23-4627-ae91-b7658eac1672.png)

Hence we are closing this issue

[2022-07-29 06:54] karanbirsingh-qasource commented on #136382
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

https://user-images.githubusercontent.com/59917825/181700528-81eaaba6-ab09-45d1-8366-bc20b9647795.mp4

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-07-29 07:05] karanbirsingh-qasource commented on #127746
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

![image](https://user-images.githubusercontent.com/59917825/181702330-b9de0252-0d75-423e-8af9-124ce42c8a39.png)

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-07-29 07:10] #121394 closed

[2022-07-29 07:11] MadameSheema commented on #137554
@samratbhadra-qasource when you navigated to the page, did you have a rule already created generating rules? and did you have indexes matching the ones the error says are missing?

[2022-07-29 07:15] MadameSheema commented on #135527
@deepikakeshav-qasource please, validate this on 8.4.0-BC2, thanks :)

[2022-07-29 07:22] cnasikas commented on #132901
Hi @gabriellandau,

Do you experience the same in the alerts table inside Cases? To see the alert table in a case please attach the alerts to a case. Then navigate to the case and press the alerts tab.

cc @XavierM

[2022-07-29 07:26] MadameSheema commented on #137416
@deepikakeshav-qasource please validate this on 8.4.0BC2, thanks!

[2022-07-29 07:27] simranvaseer-qasource commented on #136920
Hi @nchaulet
We have revalidated this issue on latest 8.4 BC1 kibana Cloud environment and found it **fixed** now.

- Kuery is cleared to the search bar on hard refresh, even on clearing it under Logs tab

**Build Details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screen Recording:**

https://user-images.githubusercontent.com/102019374/181704486-654418b0-ed8c-4603-acb9-bf1

[2022-07-29 07:40] deepikakeshav-qasource commented on #137029
Hi @MadameSheema,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed**

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**

https://user-images.githubusercontent.com/61860752/181707341-5bafac3f-e4c7-4fc7-8b80-319b1c34e0a4.mp4

Hence, We are marking as QA Validated!!

cc: @MadameSheema

Thanks!!

[2022-07-29 07:40] vipulsrivastava-qasource opened #137557 "[Security Solution] Optional is not mentioned with Description as this field is not required for adding/editing Host Isolation exception"
**Description:**
Optional is not mentioned with Description as this field is not required for adding/editing Host Isolation exception.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Click on the "Manage" link from the L.H.S menu section.
2. Go to Host isolation exceptions page.
3. Click on "add host isolation

[2022-07-29 07:40] elasticmachine commented on #137557
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 07:40] elasticmachine commented on #137557
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-29 07:40] vipulsrivastava-qasource commented on #137557
@manishgupta-qasource : Please review the Bug

[2022-07-29 07:51] kibanamachine commented on #136990
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19101#018248cc-a12b-46de-b50a-7e957dcc21b2)

[2022-07-29 08:06] #123904 closed

[2022-07-29 08:17] LucaWintergerst opened #137558 "Uptime Monitor "view APM Data" link partially broken"
**Kibana version:** 8.3.0
**Steps to reproduce:**
1. click on uptime monitor, Investigate, show APM Data
this takes you to the services page
<img width="1911" alt="Screenshot 2022-07-29 at 10 14 51" src="https://user-images.githubusercontent.com/11661400/181715494-4d0405a7-e03b-4de5-8fb2-bf400b402549.png">

**Expected behavior:**
the correct behaviour is to pre filter this list for the Service

Th

[2022-07-29 08:22] MiriamAparicio commented on #137049
Hi @weltenwort, I added the comment on the bundle size after seeing the review notes on this [PR](https://github.com/elastic/kibana/pull/133947)

[2022-07-29 08:24] gvnmagni commented on #47795
Given the absence of panels and margins I have to say that I agree that a uniform background could be a good solution. I hope I'm not overlooking something but if we can do what Rob was saying (to uniform the background once margins are disabled) I would agree with that 👍

[2022-07-29 08:25] vipulsrivastava-qasource commented on #130366
Hi @vitaliidm

We have validated this issue on `v8.4.0-BC1` build and found that issue is **Fixed**.

Please find the below build and testing details.

**Build Details:**
[code]

**Screencast**

https://user-images.githubusercontent.com/69579402/181700255-75cce30d-ea61-4564-a9c2-5c4b0d363770.mp4

Hence, we are closing this issue and marking as QA Validated!!

Thanks!!

[2022-07-29 08:25] #130366 closed

[2022-07-29 08:30] pgayvallet commented on #137441
*(FWIW, wrong version label, issue has always been here since the existence of SO tagging)*

I can confirm the issue. Now, some context around this problem:

For a better user experience, we were asked to use the tag's `name` instead of  its`id` as the unique identifier for the query bar in SO management.

That way, when you select a tag with `id=id` and `name=name`, the filter that appears in the

[2022-07-29 08:30] dgieselaar commented on #137049
@MiriamAparicio sgtm 👍

[2022-07-29 08:47] manishgupta-qasource commented on #137557
Reviewed & assigned to @kevinlog

[2022-07-29 09:26] karanbirsingh-qasource commented on #135512
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be still fixed ✔️ .

**Build Details:**
[code]
Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-07-29 09:35] MadameSheema commented on #137412
@rylnd I was meaning that the behavior is correct on 8.3.3 since we are displaying on the alert details flyout all the matches, but on 8.4.0 is not like that.

Right now I'm doing the following, creating an IM alert on 8.3.3 and then upgrade to 8.4.0 so we can have the same alert on both versions.

### 8.3.3-working scenario:
- Alert details flyout

<img width="650" alt="Screenshot 2022-07-29 at 1

[2022-07-29 09:35] MadameSheema commented on #137412
### 8.4.0-not working scenario:
- Alert details flyout

<img width="650" alt="Screenshot 2022-07-29 at 11 23 13" src="https://user-images.githubusercontent.com/17427073/181728757-772a380b-9289-4cd9-9543-aad3ab2d5b0d.png">

<details>
<summary>Full alert JSON</summary>

[code]

</details>

</details>

<details>
<summary>Alert mapping</summary>

[code]

</details>

[2022-07-29 09:42] samratbhadra-qasource commented on #137041
Hi @MadameSheema
We have validated this issue on the latest **8.4.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- Runtime fields is now available on `Fields` when creating a New Terms rule.

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/181711010-9d265cb8-f95b-45b8-b2dd-0012061c6942.mp4

Hence,

[2022-07-29 09:42] samratbhadra-qasource commented on #137028
Hi @MadameSheema
We have validated this issue on the latest **8.4.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- The `Preview results` button is now stays disable and  not allowing the user to click on it if the mandatory data has not been fulfilled.

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/840079

[2022-07-29 09:42] karanbirsingh-qasource commented on #136224
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be still fixed ✔️ .

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/59917825/181731019-83528c2e-126d-41bb-a496-d306f611e1c5.png)

![image](https://user-images.githubusercontent.com/59917825/181731197-ba8c7b4d-8389-4b45-b6dc-af03edd48e6e.png)

thanks !!

[2022-07-29 09:42] MadameSheema commented on #137412
I don't know if it is intended or not, but there is a clear mismatch on the `Threat Intel` number for the same alert after the upgrade is performed. I can provide you access to the instance if needed.

[2022-07-29 09:42] samratbhadra-qasource commented on #135297
Hi @MadameSheema
We have validated this issue on the latest **8.4.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- After auto refresh selected rules are not getting unselected.

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/181715071-5ca7366c-d681-464c-b2bb-cc7eae5fd0bd.mp4

Hence, marking this i

[2022-07-29 09:42] samratbhadra-qasource commented on #136093
Hi @MadameSheema
We have validated this issue on the latest **8.4.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- Alerts are visible under `Preview Results` on selecting Saved Query under "Custom Query" field.

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/181716034-2e5470f5-38a8-415b-83dd-7d8d5

[2022-07-29 09:43] samratbhadra-qasource commented on #136810
Hi @MadameSheema
We have validated this issue on the latest **8.4.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- `MATCHES` and `DOES NOT MATCH` operator is not available for field **host.ip** and it is only available for keyword, text fields.
- Error is not displaying when user add exception with `MATCHES` operator and the exception is created suc

[2022-07-29 09:44] karanverma-qasource commented on #130753
Hi @andrew-goldstein & @stephmilovic ,

We have validated above issue on 8.4.0 BC1 and below our testing observations:

**Build Details**

[code]
We have added both patterns `-*fake-*, -*packetbeat-*, ` in security default view but while inspecting we are not getting
`-*fake-*`

**Screenshots:**
![Annotation 2022-07-29 132221](https://user-images.githubusercontent.com/91867110/181712271-09336cca-1

[2022-07-29 09:44] karanverma-qasource commented on #136625
Hi Team,

We have validated above issue on 8.4.0 BC1 and it's fixed. 🟢

**Build Details:**
[code]
**Screenshots:**
![Annotation 2022-07-29 124426](https://user-images.githubusercontent.com/91867110/181703659-e667564a-ed99-447a-9f04-5c4d52266f91.jpg)

![Annotation 2022-07-29 124451](https://user-images.githubusercontent.com/91867110/181703616-3b14dda1-1d90-4c09-931b-3ce3d237a34a.jpg)

Thanks!

CC:

[2022-07-29 09:44] #136625 closed

[2022-07-29 09:45] karanverma-qasource commented on #135827
Hi Team,

We have validated above issue on 8.4.0 BC1 and it's fixed. 🟢

**Build Details:**
[code]
**Screenshots:**

![Annotation 2022-07-29 120541](https://user-images.githubusercontent.com/91867110/181697589-57d75bcf-cbbc-4e76-9ca3-794c8ed20e21.jpg)

Thanks!

CC: @MadameSheema

[2022-07-29 09:45] karanverma-qasource commented on #136369
Hi Team,

We have validated above issue on 8.4.0 BC1 and it's fixed. 🟢

**Build Details:**
[code]
**Screenshots:**

![Annotation 2022-07-29 111558](https://user-images.githubusercontent.com/91867110/181690686-256898d2-9327-46ce-96d2-91c0432e51f0.jpg)

Thanks!

CC: @MadameSheema

[2022-07-29 09:49] Miguel-Frazao opened #137560 "Enable hide/remove default filters from dashboard"
Create a way, via role permission, Kibana privileges  or space settings where we can we can hide/remove default filtering from dashboard:

![Screenshot_2022-05-25_20-00-41](https://user-images.githubusercontent.com/16084370/181732381-b231ce37-e3bf-49e3-b12d-65ee10e91ad9.png)

These fields are useless in some cases and some users just mess up their UX without knowing, and removing those also would

[2022-07-29 09:49] paulb-elastic commented on #137501
Agree @dominiqueclarke we should add some explanation for why we've directed them over.

Also, we should carefully consider where we direct them to.  Ideally there'd be enough of the Synthetics UI flow available to direct them there (I’m not particularly keen on directing them to Uptime, which is not the desired end flow for this).

[2022-07-29 09:49] wwwDESIGN-basti commented on #32798
+1

[2022-07-29 09:54] paulb-elastic commented on #137494
Thanks for thinking through this @dominiqueclarke

With locations being available when the user gets to this (either because they already had private locations, or have added one inline), does the user also get to choose which locations to run them on, or do we force/set these (i.e. will the user still get a list of one or more private locations to tick)? (/cc @hbharding)

[2022-07-29 09:56] paulb-elastic commented on #137501
As mentioned [here](https://github.com/elastic/kibana/issues/137501#issuecomment-1199085059) it would be better to direct them to the _proper_ flow in Synthetics UI than the temporary Uptime flow (which will then need to be changed again).

[2022-07-29 10:07] karanbirsingh-qasource commented on #135516
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be still fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

![image](https://user-images.githubusercontent.com/59917825/181736665-4fd47d52-ff0b-441e-a805-b5abec43efb1.png)

thanks !!

[2022-07-29 10:07] deepikakeshav-qasource commented on #86779
Hi @yctercero ,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed** 🟢

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**
- Updates value list upload language to use "import"
![image](https://user-images.githubusercontent.com/61860752/181734878-4337dcac-5d71-491f-a76d-511474d1aad0.png)

- Updates value list modal to flyou

[2022-07-29 10:07] #86779 closed

[2022-07-29 10:19] walterra opened #137562 "[ML] Address cross-boundary import violations."
See https://github.com/elastic/kibana/pull/136911 for context.

- [ ] x-pack/plugins/ml/common/types/capabilities.ts
- [ ] x-pack/plugins/ml/common/types/modules.ts (add `import type`)
- [ ] x-pack/plugins/ml/shared_imports.ts

[2022-07-29 10:19] elasticmachine commented on #137562
Pinging @elastic/ml-ui (:ml)

[2022-07-29 10:26] #137547 closed

[2022-07-29 10:34] karanbirsingh-qasource commented on #137153
Hi @MadameSheema

one suggestion if we can think to correct it so please take a look into it.

currently user is able to add another field on rule creation or by editing the NEW TERM rule and then we got that the error: `Number of Field must be 1`

![image](https://user-images.githubusercontent.com/59917825/181741386-1880d7b4-368d-43d8-8d37-e19ce29116e7.png)

![image](https://user-images.githubuse

[2022-07-29 10:39] MadameSheema commented on #137153
Not sure if it is worth the effort taking into consideration the roadmap, on next releases we are going to extend the capability in order to add more fields.

cc @marshallmain

[2022-07-29 10:41] peteharverson commented on #136858
Closing, fixed by #136897

[2022-07-29 10:41] #136858 closed

[2022-07-29 10:43] karanbirsingh-qasource commented on #137113
Hi @MadameSheema

we have validated this issue on 8.4.0 BC1 and found the issue to be fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

https://user-images.githubusercontent.com/59917825/181741680-dd65578e-256d-431a-a94c-db998f672d80.mp4

https://user-images.githubusercontent.com/59917825/181741695-c789f0d9-ebb8-4bbc-a0e2-a15a71b12280.mp4

Hence we are closing this issue and addin

[2022-07-29 10:45] amolnater-qasource opened #137567 "[Bug]: Blank page is displayed on navigating to Discover tab on fresh Kibana setup."
**Kibana version:**  8.4 BC1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. No agent, no beats should be installed.
3. Kibana should be freshly setup.

**Steps to reproduce:**
1. Login to Kibana and navigate to Discover tab.
2. Observe blank page on navigating to Dis

[2022-07-29 10:45] elasticmachine commented on #137567
Pinging @elastic/fleet (Team:Fleet)

[2022-07-29 10:45] amolnater-qasource commented on #137567
@manishgupta-qasource Please review.

[2022-07-29 10:46] muskangulati-qasource opened #137568 "[Security Solution] The Global search bar is not accessible if user is working with Console responder"
**Description:**
The Global search bar is not accessible if user is working with Console responder

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Click on the hostname
3. Click on the 'Take Action' button
4. Click

[2022-07-29 10:46] elasticmachine commented on #137568
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 10:46] elasticmachine commented on #137568
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-29 10:46] muskangulati-qasource opened #137569 "[Security Solution] The UI is distorted when responder is launched from full screen under alerts tab"
**Description:**
The UI is distorted when responder is launched from full screen under alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Alerts tab under the Security section from the left-hand side navigation bar
2. Click on the full screen icon
3. Expand any alert
4. Click on the take

[2022-07-29 10:46] elasticmachine commented on #137569
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 10:46] elasticmachine commented on #137569
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-29 10:47] deepikakeshav-qasource commented on #136449
Hi Team,

We have validated this issue on **8.4.0 BC1** build and observed that issue is **Fixed** 🟢

- Custom columns are displaying when click on "Investigate in timeline" on a generated threshold alert

Please find the below testing Details:

**Build info**

[code]

**Screenshot/Screencast**

[Uploading threshold.mp4…](https://user-images.githubusercontent.com/91867110/181739719-31c18756-44f3-4

[2022-07-29 10:49] harshitgupta-qasource opened #137570 "[Security Solution] Help command format is in-consistent for responder console."
**Description:**
Help command format is in-consistent for responder console.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint Should be deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
3. Click on the hostname
4. Click on the 'Take Action' button

[2022-07-29 10:50] elasticmachine commented on #137570
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 10:50] elasticmachine commented on #137570
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-29 10:51] harshitgupta-qasource commented on #137570
@manishgupta-qasource Please Review

[2022-07-29 10:53] banderror commented on #129294
@vitaliidm Thank you for doing this research and providing a detailed explanation. I tried bulk `index` in Dev Tools and it seems to work properly in this case. When called without `timelineTitle`, this field gets removed from the document:

[code]

[code]

If possible, it would be great if RulesClient could use `index` instead of `update` when bulk editing rules.

On the other hand, I think regar

[2022-07-29 10:54] peteharverson opened #137571 "[ML] Add view in maps action for all anomalies where source data contains a geo field"
https://github.com/elastic/kibana/pull/131284 added an action into the anomalies table for detectors which use a geo field. This functionality should be extended for anomalies in any jobs where the source data index contains a geo field. For example, in a job looking at `sum(bytes) partition clientip`, a map would open showing the geo location for this clientip over the time range of the anomaly.

[2022-07-29 10:54] elasticmachine commented on #137571
Pinging @elastic/ml-ui (:ml)

[2022-07-29 10:54] peteharverson commented on #123492
Closing issue as all the items have now been addressed.

[2022-07-29 10:54] #123492 closed

[2022-07-29 11:00] karanverma-qasource commented on #124918
Hi Team,

We have validated above issue on 8.4.0 BC1 and it's working fine. 🟢

**Build Details**

[code]

**Screenshots:**
`NO custom Rules`

![image](https://user-images.githubusercontent.com/91867110/181742330-dd122f75-b5e3-4f02-835d-de6f8e5e7c28.png)

`Custom Rules and Non actionable rules`

![image](https://user-images.githubusercontent.com/91867110/181742549-4a788d60-38b0-4a6e-9c9a-8ee182d538

[2022-07-29 11:02] peteharverson opened #137573 "[ML] Increase Test Coverage 8.5.0"
Follow up to #133871

Meta issue to summarize improvements to test coverage for `8.5.0`.

## Jest unit tests

- [x] `aiops:query_utils/buildBaseFilterCriteria` (WR)
    https://github.com/elastic/kibana/pull/141213
- [x] Transform install in Fleet (QA)
   https://github.com/elastic/kibana/pull/142159
- [x] Transforms - preserves field when edited aggs not supported in the wizard
   https://github.

[2022-07-29 11:02] elasticmachine commented on #137573
Pinging @elastic/ml-ui (:ml)

[2022-07-29 11:08] banderror commented on #124918
I think we've addressed all the issues described in this ticket and can close it @karanverma-qasource. Thank you.

[2022-07-29 11:13] #124918 closed

[2022-07-29 11:24] peteharverson commented on #135168
Closing as this is a duplicate of https://github.com/elastic/kibana/issues/133975

[2022-07-29 11:24] #135168 closed

[2022-07-29 11:26] manishgupta-qasource commented on #137567
Secondary review for this ticket is Done

[2022-07-29 11:27] logeekal commented on #137043
Hello @kqualters-elastic , It looks like (not 100% sure) the problem has been there but it was hidden and it resurfaced with [this line of code](https://github.com/elastic/kibana/blame/main/x-pack/plugins/security_solution/public/timelines/components/timeline/session_tab_content/use_session_view.tsx#L128) 4 months ago. It adds `euiDataGrid__restrictBody` class to the body element which applies the

[2022-07-29 11:29] manishgupta-qasource commented on #137569
Reviewed & assigned to @kevinlog

[2022-07-29 11:29] manishgupta-qasource commented on #137568
Reviewed & assigned to @kevinlog

[2022-07-29 11:29] manishgupta-qasource commented on #137570
Reviewed & assigned to @kevinlog

[2022-07-29 11:30] peteharverson commented on #131777
Closing issue as this is addressed by the synchronization functionality described in https://github.com/elastic/kibana/issues/131777#issuecomment-1120799924. If this is not the case, please re-open with more details.

[2022-07-29 11:30] #131777 closed

[2022-07-29 11:31] sqren commented on #124369
@cauemarcondes Is this caused by a bug/edge case? Seems like this issue is popping up now and then. Do we have any (visual) regression tests that could catch this?

[2022-07-29 11:33] juliaElastic commented on #137567
Discover tab is not maintained by Fleet, can we reassign this to the appropriate team?

[2022-07-29 11:36] dgieselaar commented on #124369
Should be fixed in https://github.com/elastic/kibana/issues/135523.

[2022-07-29 11:38] amolnater-qasource commented on #137567
Hi @juliaElastic
Thank you for looking into this, could you please assign this to appropriate team.

[2022-07-29 11:49] elasticmachine commented on #137567
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-29 11:52] samratbhadra-qasource commented on #137554
Hi @MadameSheema
Yes, we do have rules already created and generating alerts.
Also, we do have all the indexes matching with the error.

**Screenshot:**
![Screenshot (782)](https://user-images.githubusercontent.com/84007952/181750497-86c18d02-ff6f-4256-be32-e8975e720321.png)
![Screenshot (784)](https://user-images.githubusercontent.com/84007952/181750513-bd284c3c-3e9a-478a-97d3-f11cea229073.png)

[2022-07-29 11:54] kertal commented on #137567
thx @amolnater-qasource, could you open the browser's console in the dev tools, there should be error messages helping us the debug this. Thx!

[2022-07-29 11:58] kevinlog commented on #136603
@muskangulati-qasource thanks for testing again !

Can we close this issue and open another one to update the message?  The message is an existing issue so we can open one up that is lower in priority and include a discussion on the correct message to show when it is successful.

cc @ferullo

[2022-07-29 12:03] kevinlog commented on #137570
@paul-tavares can you take a look at this one?  It seems like our validation should pick this up? Also, it's not included in this bug, but I wonder what happens when we actually run a command like `isolate release suspend`

[2022-07-29 12:05] kevinlog commented on #137569
@paul-tavares this one also looks strange.  I guess the overlay doesn't sit over the table correctly when in full screen mode?  Is it a similar thing to when using timeline?

[2022-07-29 12:10] richkuz opened #137577 "409 error hitting /api/exception_lists on various screens across Kibana"
**Kibana version:**
8.4.0 BC1

**Elasticsearch version:**
8.4.0 BC1

**Server OS version:**
GCP us-west-2 Los Angeles

**Browser version:**
Chrome

**Browser OS version:**
Mac OSX Monterey

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud GCP us-west-2 region

**Describe the bug:**
When refreshing various pages in Kibana, across multiple plugins, I see a 409 error in

[2022-07-29 12:11] elasticmachine commented on #137577
Pinging @elastic/kibana-qa (Team:QA)

[2022-07-29 12:12] richkuz commented on #137577
Not sure which team is appropriate, starting with `Team:QA` to help triage further.

[2022-07-29 12:15] ghudgins commented on #136950
when we remove new lines to be 'collapsed' we also run the risk of bumping the lines together and losing the syntax highlighting. might be good to replace each new line with a space visually in collapsed mode so we don't get loss of monaco highlighting. see `ORDER` in the below example
<img width="732" alt="image" src="https://user-images.githubusercontent.com/5465514/181756350-ebb2a9cf-0b6f-45a7-

[2022-07-29 12:19] #136467 closed

[2022-07-29 12:43] crespocarlos commented on #129344
I've seen the same error in the Prometheus package and I've added a dynamic template to the data_stream manually to fix it. If I understood correctly, by fixing what's been discussed here, we wound't need to create the dynamic mapping at the package level, right?

[2022-07-29 12:54] elasticmachine commented on #137191
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-29 12:57] dominiqueclarke commented on #137501
@paulb-elastic If we redirect to Synthetics UI, it'll be best to wait till 8.6 or GA, whenever we enable the app by default.

The reason is that users who do not have the advanced options switch for synthetics on will get an app not found error.

[2022-07-29 13:01] paulb-elastic commented on #137501
Thanks @dominiqueclarke, good point

Keen to hear from @hbharding and @drewpost too, we'll just need to make sure to track these for changing flows when Synthetics UI is available for everyone.

[2022-07-29 13:17] kibanamachine commented on #99010
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19114#018249e8-092f-40b4-8073-caa7f3c26d20)

[2022-07-29 13:17] kibanamachine commented on #137327
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19114#018249e8-092f-40b4-8073-caa7f3c26d20)

[2022-07-29 13:26] elasticmachine commented on #137577
Pinging @elastic/kibana-core (Team:Core)

[2022-07-29 13:35] tetianakravchenko commented on #129344
related to the question above: would it be safe to add a `dynamic_templates` to the data_stream manually, go to GA ([prometheus integration](https://github.com/elastic/integrations/issues/3687) is planned to go GA in 8.5) and remove `dynamic_templates` later?
any timelines on the fix?

[2022-07-29 13:44] #99010 closed

[2022-07-29 13:45] mistic commented on #136990
Skipped.

main: [7d66145](https://github.com/elastic/kibana/commit/7d66145352b59f3e12897b1b590d7390228671f7)

[2022-07-29 13:51] kibanamachine commented on #135794
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19117#01824a0c-89e1-418c-9168-13d5130f0e64)

[2022-07-29 13:51] kibanamachine commented on #135796
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19117#01824a0c-89e1-418c-9168-13d5130f0e64)

[2022-07-29 13:52] pgayvallet commented on #137577
From a quick grep, this endpoint is owned by @elastic/security-solution

https://github.com/elastic/kibana/blob/4e3d2f62fd7ef9488e6b4c97980aa014233f979b/packages/kbn-securitysolution-list-constants/src/index.ts#L20

[2022-07-29 14:05] #136744 closed

[2022-07-29 14:10] suchcodemuchwow opened #137590 "Failing test"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19117#01824a0c-89e1-418c-9168-13d5130f0e64)

[2022-07-29 14:17] elasticmachine commented on #137590
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 14:22] suchcodemuchwow commented on #135794
Sorry haven't seen this issue, skipped this test. https://github.com/elastic/kibana/issues/137590 please close this one too when it's handled 😇

[2022-07-29 14:27] kertal commented on #122365
I've checked for Discover, Saved searches, in the meantime it doesn't pretend there are no results
<img width="741" alt="Bildschirmfoto 2022-07-29 um 16 25 25" src="https://user-images.githubusercontent.com/463851/181781454-bf03ca6d-a12a-4de8-932a-dd50a9a23374.png">
however `EsError: runtime error` is not very helpful, but that's the error we get in this case, so this for sure can't be improved. b

[2022-07-29 14:34] gabriellandau commented on #132901
@cnasikas it appears so.  This is the case with one of the alerts attached.
![image](https://user-images.githubusercontent.com/42078554/181781677-db37be01-6485-46ef-8da7-ff71ba02877a.png)
That alert does show in full screen mode.

Here it is with both alerts attached.  You can see a few pixels from the second entry:
![image](https://user-images.githubusercontent.com/42078554/181782428-a25e9c8a-876

[2022-07-29 14:36] gabriellandau commented on #132901
I did some testing yesterday with @kqualters-elastic over Slack.  Enabling CPU and bandwidth throttling in Chrome's debug console did not prevent the grid view bug from manifesting.

[2022-07-29 14:38] dominiqueclarke opened #137592 "[Synthetics] Promote Elastic Synthetics integration package 0.10.1 to production and bundle with stack"
Tracking issue for promoting Synthetics integration 0.10.1 to production, as well as bundling this version with the Kibana stack.

[2022-07-29 14:38] elasticmachine commented on #137592
Pinging @elastic/uptime (Team:uptime)

[2022-07-29 14:38] #133681 closed

[2022-07-29 14:39] cnasikas commented on #132901
Thanks for the detailed report! About

This is intentional. We add an activity entry for each user action regardless if the alert is already added. The alerts table shows only unique alerts. Maybe we should prevent attaching the same alert to the case in the future.

About the other bugs I will delegate this to @XavierM. https://github.com/elastic/kibana/pull/134268 should have fixed it. We valida

[2022-07-29 14:40] dominiqueclarke opened #137594 "[Uptime] Private locations - Update "read the docs" url"
Update docs links in Uptime private locations once doc links are available.

[2022-07-29 14:40] elasticmachine commented on #137594
Pinging @elastic/uptime (Team:uptime)

[2022-07-29 14:41] kibanamachine commented on #136990
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19123#01824a49-9576-43c5-ab93-2e651aa1fb25)

[2022-07-29 14:45] cauemarcondes commented on #124369
This fixes it but introduces a new bug. If you look closely at the second image you'll see that the bars and the collapsible component start to overlay each other. As further down this trace goes it will overlay more and more.

<img width="1492" alt="Screen Shot 2022-07-29 at 10 43 20 AM" src="https://user-images.githubusercontent.com/55978943/181784895-4f475b33-e93a-459f-a977-45b34451cf9d.png">

[2022-07-29 14:45] suchcodemuchwow commented on #136990
Skipped.

8.4: [cb70104](https://github.com/elastic/kibana/commit/cb701041c401046b0314d2a4d875c7746417423e)

[2022-07-29 14:48] vitaliidm commented on #129294
there is a possibility to use bulkCreate with overwrite=true
here is a PR with replacement https://github.com/elastic/kibana/pull/137593
let's see if we can get it in this release

@banderror why not 2 fields as `null`? It will give an immediate hint that timeline is set to None.

[2022-07-29 14:50] cauemarcondes commented on #124369
It's a bug because if an item starts at a certain time like `0s` it should be aligned at the right position. Like the previous comment, @AlexanderWert fixed the issue, but now we have another one. That's why we should look at the design of this component, and come up with a better solution.

[2022-07-29 15:16] #136373 closed

[2022-07-29 15:20] dgieselaar commented on #124369
Maybe good to open a new one? I think this one has been addressed. The new one is less urgent IMHO as it requires many (presumably) levels of nesting, which is unlikely to happen.

[2022-07-29 15:23] elasticmachine commented on #137558
Pinging @elastic/uptime (Team:uptime)

[2022-07-29 15:28] suchcodemuchwow opened #137602 "7.17 ES8.4 forward compatibility test failures"
Following test has been failed on CI as part of the forward compatibility tests. We are not skipping this for a while but it's quite important to resolve the issue 😇

[code]

Link to failing [job](https://buildkite.com/organizations/elastic/pipelines/kibana-7-dot-17-es-8-dot-4-forward-compatibility/builds/65/jobs/01824a39-f7f8-4ca2-8bc8-0b80ece927a9/artifacts/01824a53-8c1e-4948-a575-da621b8d0bdc)

[2022-07-29 15:28] elasticmachine commented on #137602
Pinging @elastic/ml-ui (:ml)

[2022-07-29 15:38] yctercero commented on #137577
It looks like the error coming back is:

[code]

Pinging @elastic/security-asset-management (trying to ping OLM, not sure if that's correct handle).

[2022-07-29 15:40] spalger commented on #137210
Sorry @vadimkibana and @tsullivan, did some research and figured out you can just call the following in the 7.17 branch to start the functional tests with a different ES version:

[code]

[2022-07-29 15:40] kertal opened #137604 "[Discover] Unified histogram"
This is a high level overview how to implement the Enhanced Histogram in Discover, in the end it should look like this:

![](https://user-images.githubusercontent.com/455281/181674851-61aef6bf-3316-4154-a29c-d828ff5d2b90.gif)

So here's a high level  plan
* [x] Migrate the histogram layout of Discover to the new one, without switching to Lens #138697
  * That way we can better tweak the size, etc.

[2022-07-29 15:43] #137064 closed

[2022-07-29 15:43] yctercero commented on #137554
Is this reproducible in 8.3? If not, probably need to ask platform what changed in 8.4 and if we missed any changes needed on our end.

[2022-07-29 15:47] patrykkopycinski commented on #137577
@elastic/security-onboarding-and-lifecycle-mgt

[2022-07-29 15:52] elasticmachine commented on #137604
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-29 15:53] michaelolo24 commented on #137412
@MadameSheema @rylnd @YulNaumenko I haven't dug into the code yet, but I'm thinking what's happened is the removal of `_source` in favor of the `fields` api. The UI code that probably traverses the response _may_ have traversed _source to show all the results and may not have been adapted to use `fields` instead, but that's my initial guess based on the alert json's provided

[2022-07-29 15:57] dasansol92 commented on #137577
Hey! This is expected when the page manages some of our endpoint exceptions under management tab. Since the new security nav came up, there is a check to ensure the host isolation exceptions list exists in order to display this in the menu or not. You could try to reproduce this running a 8.3 Kibana version with the new security navigation panel enabling it in Kibana settings.
Our team can help if

[2022-07-29 16:08] vadimkibana commented on #137210
@spalger  I've tried this out with

[code]

But receive network errors like this:

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/82822460/181800126-de308afc-4f7c-45d2-ab5d-e3d99984eb1f.png">

[2022-07-29 16:16] MadameSheema commented on #137554
@samratbhadra-qasource can you please check if you can reproduce the issue on 8.3.3?? Thanks!!! :)

[2022-07-29 16:17] cauemarcondes opened #137607 "[APM] Collapsible item and time bar overlaying each other"
On https://github.com/elastic/kibana/issues/135523 a bug was fixed where items were not properly indented to their right position. But this leads to another bug where the collapsible element and the time bar will start to overlay each other when a certain level is reached.

This is an example:
<img width="1492" alt="Screen Shot 2022-07-29 at 10 43 20 AM" src="https://user-images.githubusercontent.

[2022-07-29 16:17] elasticmachine commented on #137607
Pinging @elastic/apm-ui (Team:apm)

[2022-07-29 16:17] cauemarcondes commented on #124369
Closing this issue as mentioned above, it was already fixed in https://github.com/elastic/kibana/issues/135523

New bug open: https://github.com/elastic/kibana/issues/137607

[2022-07-29 16:17] #124369 closed

[2022-07-29 16:18] mcpate opened #137608 "Add ability to annotate an Alert in Kibana Alerting"
**Describe the feature:**
After investigating an Alert, I might choose to mute it since I have deemed it is not a problem (and I no longer want to be notified of the alert). It would be great if there was a way to add an annotation (I'm thinking specifically of a note or message) to the alert so that if someone comes in behind me and investigates the same alert they can see why it was muted.

**De

[2022-07-29 16:18] elasticmachine commented on #137608
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-29 16:24] banderror commented on #129294
@vitaliidm both fields `null` is also an option, but `timeline_title` is just a text and can't be used for checking if the value is `None` or not (we should be checking `timeline_id` for that). If `timeline_id === null`, we reset `timeline_title` to an empty value. The safest empty value for a field that represents text (name, description, title, code block, etc) is an empty string. If you allow n

[2022-07-29 16:27] TinaHeiligers opened #137609 "[uiSettings] browser-side public types improvements"
Part of https://github.com/elastic/kibana/issues/134112
Follow up from https://github.com/elastic/kibana/issues/134124

Rename `PublicUiSettingsParams` to `UiSettingsParams` and export from the browser-side uiSettings package in `src/core/public/index.ts`.

_Originally posted by @pgayvallet in https://github.com/elastic/kibana/pull/137365#discussion_r933203031_

[2022-07-29 16:35] katefarrar commented on #137550
closing as the implementation issue isn't needed yet. everything is documented [here](https://docs.google.com/document/d/1MilB41sH8PPoz7D4Bm3zOF-6Xehdjbz1u2Kf39PIMZQ/edit?usp=sharing)

[2022-07-29 16:35] #137550 closed

[2022-07-29 16:37] elasticmachine commented on #137609
Pinging @elastic/kibana-core (Team:Core)

[2022-07-29 17:05] TinaHeiligers opened #137614 "Migrate external consumption of mount utils to `kibana_react` equivalents"
Follow up to https://github.com/elastic/kibana/pull/137365.

Core exposes Mount utilities that are meant to be internal, as Core is supposed to be publicly framework-agnostic.

The `kibana_react` plugin exposes public equivalents of these and any direct dependencies need to be migrated to use the public equivalents instead.

From comment: https://github.com/elastic/kibana/pull/137365#discussion_r9

[2022-07-29 17:06] elasticmachine commented on #137614
Pinging @elastic/kibana-core (Team:Core)

[2022-07-29 17:09] kdelemme commented on #102983
@simianhacker @emma-raffenne
The **Metric Threshold** rule type is still building the `context.reason` using the threshold value instead of the warningThreshold value.

**Step to reproduce**
- Create a metric threshold rule as bellow
<img width="589" alt="image" src="https://user-images.githubusercontent.com/1376800/181809388-d353fa3c-8a73-4592-ae38-e55ec957106d.png">

-  Wait for a warning to tri

[2022-07-29 17:17] TinaHeiligers opened #137615 "Move `KBN_LOAD_MARKS` on migration of the bootstrap script to a package"
`KBN_LOAD_MARKS`  is only used for `CoreBootstrap` and `CoreSystem`.  In https://github.com/elastic/kibana/pull/137365, we moved the const to the mount utils package but it may need to be moved again when the bootstrap script migrates to a package.

From comment: https://github.com/elastic/kibana/pull/137365#discussion_r933008450_

[2022-07-29 17:18] elasticmachine commented on #137615
Pinging @elastic/kibana-core (Team:Core)

[2022-07-29 17:20] archoversight opened #137616 "ResponseError: security_exception: [security_exception] Reason: missing authentication credentials for REST request [/_nodes/_all/http]"
**Kibana version:**

7.17.5

**Elasticsearch version:**

7.17.5

**Server OS version:**

Docker container

**Browser version:**

curl

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

docker

**Describe the bug:**

Kibana is not authenticating using `kibana_system` when calling the `_nodes/_all/http` API on ElasticSearch leading to log entr

[2022-07-29 17:24] tsullivan commented on #136491
Based on tests with the flaky test runner, this test is not flaky.

https://github.com/elastic/kibana/pull/137543 improves the test to show the job failure message, because `expected 500 to equal 200` is not informative.

[2022-07-29 17:24] #136491 closed

[2022-07-29 17:52] #134126 closed

[2022-07-29 18:16] bhavyarm commented on #137567
I see the same exception as logged here - https://github.com/elastic/kibana/issues/137577

<img width="1792" alt="Screen Shot 2022-07-29 at 2 15 18 PM" src="https://user-images.githubusercontent.com/7074629/181820171-d0ca4d4e-cfdc-4b24-96dc-ebfacd483070.png">

[2022-07-29 18:25] spalger commented on #137210
It sounds like the reporting tests don't run locally, I'm nor sure why you'd get 503 responses, but sounds like a reporting specific thing, looks like ES and Kibana are starting correctly...

[2022-07-29 19:07] mattkime commented on #136757
@marius-dr I think I've seen this problem - and I think you may be creating data view with a duplicate name. I think the error is poorly describing the problem in part because the UI should be preventing you from doing this. I don't think this should be currently possible with 8.4.

[2022-07-29 19:10] jamster10 opened #137625 "[Security Solution] tabbed navigation conflicts with side navigation in old navigation"
**Describe the bug:**

In our application, our old routing structure matches based upon tabName first, then falls back to pageName. This is to accommodate the administration team that uses this structure. This has been ok as we never needed to use tabName navigation anywhere except the left hand navigation.

With Network details becoming a tabbed route and having a tab named Users, we need to make

[2022-07-29 19:10] elasticmachine commented on #137625
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-29 19:10] elasticmachine commented on #137625
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-29 19:22] andrewvc commented on #137508
Instead of a migration it might be better to, as a first step, just show a large warning when editing those monitors and to show a warning in the synthetics app if they have active legacy integrations.

Thoughts @drewpost @paulb-elastic @hbharding ?

[2022-07-29 20:26] pmuellr opened #137630 "Log Threshold UX errors with missing filter values not obvious enough to notice"
**Kibana version:** 8.3.2

**Describe the bug:**

One of the UX validation errors that can occur when a user is creating a log threshold alerting rule is that they enter a field to filter log documents on, but not the actual value.  When in this state, the UX appears as follows:

![image](https://user-images.githubusercontent.com/25117/181837184-539242f0-6b07-48e7-bfe6-f45cd70f8c28.png)

You can c

[2022-07-29 20:26] elasticmachine commented on #137630
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-29 20:26] elasticmachine commented on #137630
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-29 20:56] rayafratkina commented on #137577
Flagging this as a blocker for 8.4

[2022-07-29 21:20] bhavyarm opened #137635 "Custom labels don't get copied if user copies from columns"
**Kibana version:** 8.4.0 BC1

**Elasticsearch version:** 8.4.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user gives a custom label to a field and then copies the column in discover using the new copy action - Kibana doe

[2022-07-29 21:20] elasticmachine commented on #137635
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-29 21:37] tsullivan commented on #136888
@mattkime can you expand on this? Are there other contexts besides Discover where kibana needs to ignore the runtime field / not use the runtime field value?

[2022-07-29 22:02] TinaHeiligers commented on #137614
@elastic/kibana-presentation could you please see if you have the bandwidth to migrate off of `MountWrapper`? I'm not too familiar with the internals of `controls` and the storybook configuration.

[2022-07-29 22:07] LeeDr opened #137638 "[UA] Upgrade assistant on Cloud shows warnings outside my control xpack.monitoring and xpack.reporting.roles"
**Kibana version:** 7.17.5

**Elasticsearch version:** 7.17.5

**Server OS version:** Cloud

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** Cloud (just upgraded to 7.17.5 to make sure I had the latest Upgrade Assistant).

**Describe the bug:**. The Upgrade Assistant in Kibana for my Cloud deployment shows warning for

[2022-07-29 22:07] elasticmachine commented on #137638
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-29 22:07] elasticmachine commented on #137638
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-29 22:42] dedemorton opened #137639 "[Fleet] Improve text in Add Agent flyout for integrations run remotely"
**Describe the feature:**

We need to improve the text in the Add Agent flyout:

<img width="828" alt="image" src="https://user-images.githubusercontent.com/14206422/181852493-d5899309-90d4-43c7-99e3-055a9a88dbc5.png">

**1) We need to change the intro text:**

We have already updated the docs  to resolve https://github.com/elastic/observability-docs/issues/1908, but the Add Agent flyout is still

[2022-07-29 22:42] elasticmachine commented on #137639
Pinging @elastic/fleet (Team:Fleet)

[2022-07-29 22:49] TinaHeiligers commented on #137609
@pgayvallet I'm not sure how this is going to pan out with the extensive sharing of types between the browser and server side `uiSettings` services.

ATM, `UiSettingsParams` includes the schema, needed for validation on read and write. If we rename PublicUiSettings to UiSettingsParams, we'd need to rename the type that includes the schema too.

[2022-07-29 22:59] #127026 closed

[2022-07-29 23:19] #129937 closed

[2022-07-29 23:31] #23289 closed

[2022-07-29 23:35] vadimkibana commented on #120936
Closing this as no dangling process handles has been reported and a similar comment in Jira:

<img width="986" alt="image" src="https://user-images.githubusercontent.com/82822460/181860574-f315444b-e84b-429d-b349-ddaaf928682a.png">

[2022-07-29 23:35] #120936 closed

[2022-07-29 23:56] tsullivan commented on #136260
@ppisljar do you have any example text to use as copy for this message?

[2022-07-30 00:00] vadimkibana commented on #116894
I guess we could try

[code]

or create a types package

[code]

[2022-07-30 00:12] vadimkibana commented on #114305
It is now possible to render a custom error.

[2022-07-30 00:12] #114305 closed

[2022-07-30 00:17] kibanamachine opened #137641 "Failing test: Analytics Integration Tests.test/analytics/tests/instrumented_events/from_the_browser/loaded_dashboard·ts - analytics instrumented events from the browser Loaded Dashboard simple dashboard emits on visualization refreshed"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19148#01824c43-9121-47a2-81cd-85eb508a2591)

[2022-07-30 00:18] elasticmachine commented on #137641
Pinging @elastic/kibana-core (Team:Core)

[2022-07-30 01:40] clintandrewhall commented on #137567
I think the console exceptions are a red herring, but I could be wrong.  Something is happening differently in Cloud wrt data views and data, for example:

n a local instance, `/has_data_views` is returning:

[code]

but in Cloud, it's returning:

[code]

I think this, coupled with the ESData check, is putting the no data page into a no-op state-- Discover says it should render, but the Shared UX

[2022-07-30 01:43] clintandrewhall commented on #137567
This is also a blocker for 8.4 for Cloud deployments.  We also need some clarification as to why this is happening in Cloud but never locally.

cc: @rayafratkina

[2022-07-31 14:19] kevinlog commented on #137577
@dasansol92 thanks for the insight.

@bhavyarm @rayafratkina our team owns the API that is causing the '409' and we can take a look.

Is this considered a blocker because it may be causing https://github.com/elastic/kibana/issues/137567 ?  We'll investigate, but I don't think the two issues are related so I want to make sure I'm not missing any details regarding the blocker status.

[2022-07-31 23:28] lukerucks opened #137652 "Kibana Displays Timestamps Unintuitively"
It is my opinion that the Kibana handling of timestamps is very confusing.  First I'll describe how Kibana currently handles them, then make a suggestion for what to do instead.

# How Kibana currently handles timestamps:

Timestamps from log collectors are assumed to be in UTC.  However, Kibana will display the times converted to the local time of the Kibana instance.  The original (assumed to be

[2022-08-01 01:40] YulNaumenko opened #137654 "[Security Solution][Threat Hunting] Performance measurement and monitoring for Threat Hunting pages in the security_solution UI"
The goal of this epic is to profile the client- and server-side performance, which will help to identify the performance issues in `security_solution` Threat Hunting owned pages and components.
Currently Detection Rules has team already started this initiative for `security_solution`, but the scope is too wide for the one area team to cover all the security components and APIs.

To meet the goal w

[2022-08-01 01:40] elasticmachine commented on #137654
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-01 04:48] samratbhadra-qasource commented on #137554
Hi @MadameSheema

We have tested this issue on the **released 8.3.3** build and observed that the issue is **not reproducible**. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/182072307-7951193e-36b6-43ed-aaee-76049164d543.mp4

Please do let us know if anything is required from our end.

Thanks!

[2022-08-01 06:01] #137320 closed

[2022-08-01 06:11] deepikakeshav-qasource opened #137657 "[Security Solution] Incorrect alerts count is displaying under preview results for data view"
**Describe the bug**
Incorrect alerts count is displaying under preview results for data view

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Data view should be created with below index
3. Following mapping should be used
<details> <summary>Mapping</summary>

[code]

</details>

<details> <summary>Doc</summary>

[code]
</details>

**Steps to Reproduce**
1. Navigate to se

[2022-08-01 06:11] elasticmachine commented on #137657
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 06:22] kertal opened #137658 "[Lens][Discover] Migrate field list server functions to public"
To create a package providing unified  / shared field list for the use in Lens and Discover, we need to migrate sidebar related functionality from server side to public.

- [ ] Existing fields: `x-pack/plugins/lens/server/routes/existing_fields.ts` PR #139453
- [x] Fields statistics: `x-pack/plugins/lens/server/routes/field_stats` https://github.com/elastic/kibana/pull/136328

[2022-08-01 06:22] elasticmachine commented on #137658
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-01 06:44] gurevichdmitry commented on #135687
Verified in 8.4 BC-1 version (58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d) - fixed

[2022-08-01 06:52] nugroho-exp commented on #126232
@fkanout I tried the functionality but after clicking user still need to perform filtering to get the exact host. It would be nice to have a direct link that also populates the host name filter. Thank you.

![image](https://user-images.githubusercontent.com/35025861/182089106-72da5e2f-c2d7-47ba-ae2c-db5710f06ba3.png)

Should I create a new feature request for it?

[2022-08-01 06:53] nugroho-exp commented on #126279
HI @simianhacker, I have Kibana v8.3.2  but recovery context is still empty. Looking at the merge date it seems
it is merged just after 8.3.0 branch is created. Would it be possible to backport it to 8.3.x?  Thank you.

[2022-08-01 07:01] muskangulati-qasource opened #137659 "[Security Solution] The message for FDA on mac should be corrected under the policy error logs"
**Description:**
The message for FDA on mac should be corrected under the policy error logs

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the policy status that
    - NOTE: The FDA should

[2022-08-01 07:01] elasticmachine commented on #137659
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 07:01] elasticmachine commented on #137659
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-01 07:06] #136603 closed

[2022-08-01 07:18] elasticmachine commented on #137657
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-01 07:21] deepikakeshav-qasource opened #137660 "[Security Solution] Additional look-back time is not working correctly under preview results for advanced query preview"
**Describe the bug**
 Additional look-back time is not working correctly under preview results for advanced query preview

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to security > Rule page
2. Click on create a new rule
3. Add the query say- process.name: *
4. Click on advanced query preview
[code]
5. Click on preview results
6. Observ

[2022-08-01 07:21] elasticmachine commented on #137660
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 07:30] ppisljar commented on #136260
Let's start with something like "Sorry, the data view you are trying to load is missing. Click here to go back to Data View management page." cc @sixstringcode

[2022-08-01 08:00] kertal commented on #137635
Thx @bhavyarm for reporting, how about handling it like this
`Custom label (Field name)`
Because I think both information could be of interest to the user

[2022-08-01 08:03] #133743 closed

[2022-08-01 08:07] elasticmachine commented on #24709
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-08-01 08:10] #72456 closed

[2022-08-01 08:12] muskangulati-qasource commented on #137659
@manishgupta-qasource please review!

[2022-08-01 08:20] muskangulati-qasource commented on #137043
Hi @kqualters-elastic,

We have seen the application becomes unresponsive if we open a timeline from the alert on a full screen due to UI distortion under full screen for an alert

**Steps to reproduce**:
- Navigate to alerts tab
- Click on the full screen icon for the alerts table
- Expand any alert
- Scroll down to find the option for '1 alert related by source event'
- Click on investigate in t

[2022-08-01 08:32] elasticmachine commented on #137660
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-01 08:32] darnautov commented on #137602
The issue has been fixed in https://github.com/elastic/kibana/pull/137434, I'll backport to `7.17.6`

[2022-08-01 09:00] manishgupta-qasource commented on #137659
Reviewed & assigned to @kevinlog

[2022-08-01 09:04] deepikakeshav-qasource opened #137665 "[Security Solution] Timeframe is not working under preview results for advanced query preview"
**Describe the bug**
Timeframe is not working under preview results for advanced query preview

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Following mapping should be used
<details> <summary>Mapping</summary>

[code]

</details>

<details> <summary>Doc</summary>

[code]
</details>
<details> <summary>Doc</summary>

[code]
</details>

**Steps to Reproduce**
1. Navigate

[2022-08-01 09:05] elasticmachine commented on #137665
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 09:05] harshitgupta-qasource opened #137666 "[Security Solution] 8.4 feature is supported for 8.3.3 endpoint version for policy response."
**Description:**
8.4 feature is supported for 8.3.3 endpoint version for policy response.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint with 8.3.3 release should be deployed for mac without the access to FDA and system extension

**Steps to Reproduce:**
1. Login to Kibana and navigate to Fleet tab from the left-hand side navi

[2022-08-01 09:05] harshitgupta-qasource commented on #137666
@manishgupta-qasource Please review

[2022-08-01 09:05] smgduncan commented on #125702
Would like to upvote this one - the ANZ Sales Team has asked for some clarity around this, as an incentive to encourage customers to renew promptly.

I note as of 8.2 the information on the documentation has been reduced even further.
8.1: https://www.elastic.co/guide/en/kibana/8.1/managing-licenses.html#license-expiration
8.2 and later simply states :

https://www.elastic.co/guide/en/kibana/8.2/m

[2022-08-01 09:07] ghost opened #146175 "[Fleet]: Last activity 'in x seconds ago' is shown for Mac Fleet Server agent."
**Kibana version**: 8.4 BC1 Kibana cloud environment

**Host OS and Browser version**: Mac, Chrome

**Build details:**

VERSION: 8.4 BC1
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
ARTIFACT LINK: https://staging.elastic.co/8.4.0-91109cf0/summary-8.4.0.html

**Preconditions:**
- 8.4 BC1 Kibana cloud environment should be available.

**Steps to reproduce:**

1. Login to Kibana envi

[2022-08-01 09:11] amolnater-qasource opened #137668 "[Fleet]: Agents tab is misaligned for Add agent button, agent status and agents table."
**Kibana version:**  8.4 BC1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 BC1 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana and navigate to Agents tab.
2. Observe agents tab is misaligned for Add agent button, agent status and agents table.

**Expected Result:**
Agents tab shoul

[2022-08-01 09:11] elasticmachine commented on #137668
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 09:12] amolnater-qasource commented on #137668
@manishgupta-qasource Please review.

[2022-08-01 09:15] manishgupta-qasource commented on #137666
Reviewed & assigned to @kevinlog

[2022-08-01 09:16] manishgupta-qasource commented on #137668
Secondary review for this ticket is Done

[2022-08-01 09:20] stratoula commented on #137140
@andrewctate I could reproduce it on the gauges, but can you also share with me the steps to reproduce it on the new metric viz? Thanx!

[2022-08-01 09:32] kertal opened #137671 "[Discover] Basic integration of Ad hoc Data views"
With the merge of https://github.com/elastic/kibana/pull/136251, we can now start to integrate ad-hoc data views in Discover.

There has been a follow up PR https://github.com/elastic/kibana/pull/136266, even if it's currently failing, showing how the basic integration will work technically.

For the initial support, https://github.com/elastic/kibana/pull/136266 , should be finished.
Parts of Disc

[2022-08-01 09:32] simranvaseer-qasource commented on #133306
Hi @juliaElastic
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it **working fine**.

We are able to perform following actions:

- Deleting the tags
- Renaming tags
- We are getting appropriate confirmation pop-ups on performing these actions.

Further we are successfully able to perform the same from the bulk actions

**Build details:**
VERSION: 8.4 BC1
BUIL

[2022-08-01 09:32] simranvaseer-qasource commented on #134482
Hi @juliaElastic
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it working fine.

All the agent tags are available under agent details page

**Build details:**
VERSION: 8.4 BC1
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screenshot:**
![image](https://user-images.githubusercontent.com/102019374/182118641-644e6346-e57e-4856-8998-85ecbbb8d2

[2022-08-01 09:33] CohenIdo opened #137672 "[Fleet] Kubernetes filename is not identical to the filename in the apply command"
**Describe the bug**

The kubernetes manifest filename is not identical to the filename in the apply command.
While the fillename is `elastic-agent-managed-kubernetes.yml` (without the letter `a` in `yml`) - in the apply command the filename it's `elastic-agent-managed-kubernetes.yaml`

**Kibana version:*   8.4 BC1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build detail

[2022-08-01 09:33] elasticmachine commented on #137672
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 09:35] elasticmachine commented on #137671
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-01 09:35] rudolf opened #137673 "Advanced configuration over Elasticsearch-js sockets: idle timeout, max total connections, max idle connections"
The socket connections between Kibana and Elasticsearch is critical for the performance of Kibana and the infrastructure it's hosted on. Because creating new socket connections (especially with TLS) are expensive Kibana keeps a pool of open connections that it re-uses.

To be able to tune the behaviour of this socket pool to produce the best performance Kibana needs to expose the following configu

[2022-08-01 09:35] elasticmachine commented on #137673
Pinging @elastic/kibana-core (Team:Core)

[2022-08-01 09:43] #136076 closed

[2022-08-01 09:48] elasticmachine commented on #137665
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-01 10:09] #126342 closed

[2022-08-01 10:19] yuliacech opened #137681 "[TEST] Testing journey onboarding team label"
This is a test issue

[2022-08-01 10:19] elasticmachine commented on #137681
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-08-01 10:31] yuliacech commented on #137681
Closing as non-issue

[2022-08-01 10:31] #137681 closed

[2022-08-01 10:49] dolaru opened #137682 "Search box in saved object selection views doesn't consider data view names"
Found in 8.4.0

The issue was noticed in the ML/Transform app, but also applies to the Graph app. These apps seem to use `SavedObjectFinderUi` from `@kbn/saved-objects-plugin/public` for saved object selection.

When creating an ML job or transform, the first step asks the user to select a data view or search. In that view, there is a search box.

**Expected**
If the user inputs the name of a data

[2022-08-01 10:52] elasticmachine commented on #137682
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-01 10:59] flash1293 commented on #137470
In the screenshot you can see it didn't catch the `a` of the field name `ab' "'`:
<img width="216" alt="Screenshot 2022-08-01 at 12 57 02" src="https://user-images.githubusercontent.com/1508364/182133700-a4227f44-ac7a-4701-a587-f2b445fbaec5.png">

Setting the type char by char and clear first options should help: https://github.com/elastic/kibana/blob/395c65feca8f56cc0b3fac1490d6bfdb685dffd5/test/

[2022-08-01 11:11] afharo commented on #137641
Changing the ownership because this test was implemented by another team.

[2022-08-01 11:11] elasticmachine commented on #137641
Pinging @elastic/kibana-operations (Team:Operations)

[2022-08-01 11:14] afharo commented on #137615
FYI: Mind that those consts are changed in https://github.com/elastic/kibana/pull/136395

[2022-08-01 11:21] weltenwort commented on #137049
Yes, and it's still a valid concern. A shared package just doesn't automatically solve it, as @dgieselaar pointed out. If that shared package exported lazily loaded components, on the other hand, it could be a step towards reducing the size of the bundles on the critical path.

[2022-08-01 11:26] kevinlog commented on #137666
@harshitgupta-qasource this feature will work for older Endpoints since it is based on the Policy Response which has been in place for a long time.  It is expected that you will see the same output for older Endpoints.  We can close this one

[2022-08-01 11:40] elasticmachine commented on #137560
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-01 11:48] amolnater-qasource commented on #133307
Hi Team
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it working fine.

**Observations:**
- Successfully able to add/remove/delete and rename tags under Agents tab.
- We are also able to perform the same actions from bulk actions.
- Further same actions are working fine for 10k+ agents.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f15

[2022-08-01 11:49] amolnater-qasource commented on #134318
Hi Team
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it working fine.

**Observations:**
- We are successfully able to reassign more than 10k agent to any other policy.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/182131026-f3d20ed3-67de-483d-b67e

[2022-08-01 11:49] amolnater-qasource commented on #91562
Hi Team
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it working fine.

**Observations:**
- After 10k agents user is not able to navigate to next list using >.
- For 500 pages 20 agents are available per page.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screenshot:**
![6](https://user-images.githubusercontent.com/7737

[2022-08-01 11:49] klacabane opened #137691 "[Stack Monitoring] Create Kibana data streams to support responseOps metricsets"
### Summary
Kibana metricsets were added to enable monitoring of Kibana alerting in https://github.com/elastic/beats/pull/29899.
We should add corresponding data streams in the Kibana integration package for feature parity.

- [ ] [cluster_actions](https://github.com/elastic/beats/tree/main/metricbeat/module/kibana/cluster_actions)
- [ ] [cluster_rules](https://github.com/elastic/beats/tree/main/m

[2022-08-01 11:49] elasticmachine commented on #137691
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-01 11:53] klacabane commented on #135379
I've turned this into a Meta issue after identifying several sub tasks. The description is up to date with all the relevant issues created

[2022-08-01 12:03] muskangulati-qasource commented on #137569
Hi @kevinlog,

We have validated the same issue for Timelines tab and observed there is already an issue in the timeline for full screen reported here : https://github.com/elastic/kibana/issues/137043

And for Responder, the same issue is reproducible for timelines tab full screen as well.

**Screen Recording**

https://user-images.githubusercontent.com/60252716/182143588-360bab31-b4eb-477e-945b-c

[2022-08-01 12:09] karanbirsingh-qasource opened #137696 "[Security Solution]Webhook-Case Connector Form Step 4 Field misalignment"
**Describe the bug**
Webhook-Case Connector Form Step 4 Field misalignment

**Build Details:**
[code]

**Steps**
- Login to Kibana
- Go to External Connector and Start creating the new webhook connector
- fill in the all the required field and reach to step 4
- Observed that URL field for update and comment case is not alligned with HTTP method

**Screen-Shoot**

![image](https://user-images.githu

[2022-08-01 12:09] elasticmachine commented on #137696
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 12:14] JordanSh opened #151143 "[BUG] [Cloud Security] Benchmark error message UI looks unfinished"
**Describe the bug**
We have a test suit which verifies that we present an error message when searches are failing in the benchmark page.
We do indeed get an error message, but the UI looks unfinished, with a pale pink square next to the message which looks out of place.

**To Reproduce**
Write the exact actions one should perform in order to reproduce the bug.
Steps to reproduce the behavior:
1.

[2022-08-01 12:19] elasticmachine commented on #137696
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-01 12:29] stratoula commented on #137409
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:29] #137409 closed

[2022-08-01 12:29] stratoula commented on #137405
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:29] #137405 closed

[2022-08-01 12:30] stratoula commented on #137402
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] #137402 closed

[2022-08-01 12:30] stratoula commented on #137398
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] stratoula commented on #137397
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] #137397 closed

[2022-08-01 12:30] stratoula commented on #137394
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] #137394 closed

[2022-08-01 12:30] stratoula commented on #137391
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] #137391 closed

[2022-08-01 12:30] stratoula commented on #137389
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:30] #137389 closed

[2022-08-01 12:31] stratoula commented on #137382
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:31] #137382 closed

[2022-08-01 12:31] stratoula commented on #137378
Failed because Discover in main was broken. It is fixed now

[2022-08-01 12:31] elasticmachine commented on #137335
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 12:32] kpatticha opened #137700 "[APM] Alerts tab in service overview page crashes"
**Steps to reproduce:**

1. Select a service
2. Click on Alerts tab

<img width="1782" alt="image" src="https://user-images.githubusercontent.com/3369346/182148283-d5264cab-320c-4e33-af0a-56ed1681f005.png">

**Related**
https://github.com/elastic/kibana/pull/134350

**Recent changes of alerts table**
https://github.com/elastic/kibana/commits/main/x-pack/plugins/observability/public/config/register

[2022-08-01 12:32] elasticmachine commented on #137700
Pinging @elastic/apm-ui (Team:apm)

[2022-08-01 12:37] karanbirsingh-qasource opened #137701 "[Security Solution]Enabled navigation within webhook form with empty header key value pair"
**Describe the bug**
Enabled navigation within webhook form with empty header key value pair

**Build Details:**
[code]

**Steps**
- Go to Stack Management
- Select Webhook-Case Management connector
- Fill-in below details
 - connector name
 - enable authentication and fill in the correct auth
 - enable HTTP header toggle but keep them empty
- Observed that user is able to go to next step with hea

[2022-08-01 12:37] elasticmachine commented on #137701
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 12:37] karanbirsingh-qasource opened #137702 "[Security Solution]Add HTTP header toggle remains enabled with zero header key value pair"
**Describe the bug**
`Add HTTP header` toggle remains enabled with zero header key value pair

**Build Details:**
[code]

**Steps**
- Go to Stack Management
- Select Webhook-Case Management connector
- Fill in below details
 - connector name
 - enable authentication and fill in the correct auth
 - enable HTTP header toggle and add one header key value pair
 - content-type:application/json
 - now r

[2022-08-01 12:37] elasticmachine commented on #137702
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 12:43] elasticmachine commented on #137701
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-01 12:52] karanverma-qasource opened #137705 "[Security Solution] ML rule preview results button is disabled when ML job is running."
**Describe the bug:**
ML rule preview results button is disabled when ML job is running.

**Build Details:**
[code]

**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. ML capabilities should be added.

**Steps to Reproduce:**

1. Navigate to Security--> Rules.
2. Under ML job settings, enable any ML job.
3. Create ML rule with ML job running.
4. In

[2022-08-01 12:52] elasticmachine commented on #137705
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 12:54] karanverma-qasource commented on #137705
As discussed with @dplumlee, preview results must enabled when ML job is running, hence reported the issue.

[2022-08-01 12:57] elasticmachine commented on #137705
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-01 12:59] rayafratkina commented on #137577
Initially, I did think it was related and that was the reason I flagged it. @kevinlog if you can confirm this is not related to https://github.com/elastic/kibana/issues/137567, I think we can remove the label.
However I wonder if throwing an error in this case is the best approach - should we put in the logs for the administrators instead perhaps?

[2022-08-01 12:59] kevinlog commented on #137250
PR: https://github.com/elastic/kibana/pull/137706

@muskangulati-qasource the solution for this bug will be a client side check.  You will see output that the argument is unsupported for really long PIDs.

See below:
![image](https://user-images.githubusercontent.com/56395104/182153269-aff0142b-1b37-4e93-989e-a2552699e26d.png)

[2022-08-01 12:59] kevinlog commented on #136944
PR: https://github.com/elastic/kibana/pull/137706

[2022-08-01 13:10] ztolley commented on #137616
I have the same issue running in docker compose using 8.3.2

[2022-08-01 13:12] kevinlog commented on #137577
@rayafratkina thanks for info.

I agree with you on this point as I think it's causing too much confusion (and not a great look to have an API error show up too much).  I wanted to check on the "blocker" status as the change may be more involved and may not be something we want to do during a BC cycle as it could be risky.

My thoughts for a path forward that my team will pursue:

1. Confirm that

[2022-08-01 13:21] nreese commented on #137408
Closed by https://github.com/elastic/kibana/pull/137413

[2022-08-01 13:21] nreese commented on #137403
Closed by https://github.com/elastic/kibana/pull/137413

[2022-08-01 13:21] #137403 closed

[2022-08-01 13:24] samratbhadra-qasource opened #137709 "[Security Solution]: Auto suggested value not working for field value while adding rule exception."
**Describe the bug:**
Auto suggested value not working for field value while adding rule exception.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Alerts should be available

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Select any alert and click on more actions button (...).
3. Now, select add rule exceptions.
4. On the add rule exceptions flyout select any

[2022-08-01 13:24] elasticmachine commented on #137709
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 13:30] MadameSheema commented on #137709
@samratbhadra-qasource can you please provide which type of rule generated the alert? also if had index patterns or data views. Thanks

[2022-08-01 13:31] tehilashn commented on #136532
@JordanSh , @kfirpeled - seems like this won't get done for 8.4, I'm pushing it to 8.5. please let me know if you think otherwise.

[2022-08-01 13:37] kpollich commented on #137335
This seems like maybe a lapse in the behavior of the Kibana config SDL, or perhaps Fleet's usage of it - https://github.com/elastic/kibana/tree/main/packages/kbn-config-schema.

Fleet defines the `registryProxyUrl` config value using Kibana's provided `.maybe` utility here:

https://github.com/elastic/kibana/blob/db882a06d689c94d68ffce66d69e9533c2fb24f6/x-pack/plugins/fleet/server/config.ts#L102

[2022-08-01 13:38] bhavyarm commented on #137635
Will it get confusing? Will they care about field name if they went ahead and are using custom label?
I don't know. Just asking questions :smile:

[2022-08-01 13:45] tehilashn commented on #137023
This is not mandatory for 8.4 (it will be for 8.5), changing the labels

[2022-08-01 14:07] sixstringcode commented on #137682
This should allow searching by both.

[2022-08-01 14:10] Ron-Nefyodov opened #137716 "Aggregate alerts"
So i have many alerts with the same cause (some maware send messages to C2) with the same source IP address. Can i aggregate such alerts in one (aggregation by source IP address)?

[2022-08-01 14:15] #136933 closed

[2022-08-01 14:19] lukeelmers commented on #137441
++ Agreed, I see checking for duplicates as a nice-to-have, however in practice I am not aware of anyone else running into this as using duplicate tags sort of defeats the purpose of the feature. I'm inclined to close this issue as `won't fix` until we have reason to believe adding validation is necessary.

[2022-08-01 14:28] marshallmain commented on #137660
@e40pud Can you look into this? I think the root of the problem may be [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_preview_rule.ts#L83) where we add the additional lookback to the duration before computing the number of required rule invocations. The result is that a long lookback causes less rule invoc

[2022-08-01 14:36] marshallmain commented on #137665
This is expected with `Additional look-back time: 30000 hour`. The "timeframe" only controls what time range we simulate the rules over - so a `10 minute` timeframe simulates the rule as though it has been enabled for the last 10 minutes. However, when each preview rule executes it will still use the interval + additional lookback to determine what time range to search in the source indices. In th

[2022-08-01 14:48] kevinlog commented on #136944
@muskangulati-qasource can you test this in the next BC?

[2022-08-01 14:48] kevinlog commented on #137250
@muskangulati-qasource can you test this in the next BC?

[2022-08-01 14:58] nchaulet commented on #129344
Adding the `dynamic_templates` to the datastreams will work for now, but it will create a little more work when we generate mapping and implement `dynamic_templates` for wildcard field names as we will have to merge two source of `dynamic_templates` (but I guess we will have to do so as some integrations are already using this)

I am currently looking at this and it's seems not it's not a 1 for 1

[2022-08-01 14:58] simianhacker commented on #106287
We recently aligned all the timestamps to `startedAt` provided by the alerting framework. Previously, developers were creating a new timestamp for every alert which lead to a situation where the context `timestamp` COULD be different depending on when the alert context was scheduled in the code, probably off by a few seconds but sometimes more depending on how long a query ran. They were also usin

[2022-08-01 14:59] darnautov commented on #137602
https://github.com/elastic/ml-cpp/pull/2367 needs to be backported first. I'll merge the Kibana PR as soon as it's done.

[2022-08-01 15:16] #136350 closed

[2022-08-01 15:19] #93401 closed

[2022-08-01 15:24] flash1293 opened #137723 "[Lens] Rename "indexpattern" datasource"
Lens contains an abstraction layer for multiple data sources. So far, only a single data source is implemented, with a second one planned for the near term.

The current datasource is called `indexpattern` which is the old name for data views which are heavily used by the indexpattern datasource. However, based on our current plans data views are a central building block leveraged by all datasourc

[2022-08-01 15:24] elasticmachine commented on #137723
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 15:28] flash1293 opened #137724 "Move all visualization definitions into public/visualizations"
Currently there are two patterns for how visualizations are defined in Lens - a `<name>_visualization` directory directly in `public` and a `visualizations/<name>` directory. As the latter one is the targeted structure, all other visualizations should be moved over

[2022-08-01 15:28] elasticmachine commented on #137724
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 15:32] #135701 closed

[2022-08-01 15:38] nreese commented on #133960
Closing

https://github.com/elastic/kibana/pull/136690 added the ability to set label visibility independent of layer visibility so its now possible to only show labels while zooming into a smaller region.

https://github.com/elastic/kibana/issues/55520 tracks issue with removing unwanted buckets.

[2022-08-01 15:38] #133960 closed

[2022-08-01 15:43] sorenlouv opened #137730 "[APM] Use APM Data View formatters to format metadata field values"
We don't apply any formatting to the values in the Metadata tab:

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/209966/182187153-1c40b933-1504-473a-a944-4863a62850ef.png">

We should apply the formatters available for the APM Data View (`apm_static_index_pattern_id`). This is particularly useful for dates and durations.

**Specifically with date formatting**
Datetime

[2022-08-01 15:43] elasticmachine commented on #137730
Pinging @elastic/apm-ui (Team:apm)

[2022-08-01 15:46] gsoldevila opened #137734 "Improve management of Elasticsearch client socket pools"
Currently, every time we instantiate elasticsearch-js's `Client` class, we are creating a new HTTP(s) `Agent` that is capable of connecting to multiple origins, and managing its own pool of sockets.

In practice, what that means is if we have two `Client` instances that connect to the same ES nodes, they will NOT be sharing the same pool of sockets. We will not benefit from idle sockets, and event

[2022-08-01 15:46] elasticmachine commented on #137734
Pinging @elastic/kibana-core (Team:Core)

[2022-08-01 15:49] #137248 closed

[2022-08-01 15:52] flash1293 opened #137735 "[VisEditors] Remove deprecated APIs"
* Move from `syncQueryStateWithUrl` to `syncGlobalQueryStateWithUrl` (no change in behavior)
* `fieldFormats` from data plugin on client and server (use field formats plugin directly)
* `RedirectAppLinks` from kibana_react (use `@kbn-shared-ux-components` instead)
* `SavedObject` (inline types in `lens` and `visualizations` respectively instead of importing)

[2022-08-01 15:52] elasticmachine commented on #137735
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 15:53] paulb-elastic commented on #137508
@andrewvc had left some comments/questions on sub-issues.

If we don't offer the migration, it does simplify not needing to write and test the migrations, but it’s a poorer experience for those with existing Integrations (which I understand @drewpost was keen to help with).

I like your idea of a phased approach - initially indicating the new way of setting these up without removing the current me

[2022-08-01 15:55] justinkambic commented on #137124
Post-FF testing moving to Done Done - verified this test is unskipped in latest main.

[2022-08-01 15:56] justinkambic commented on #137328
Post-FF testing moving to Done Done - verified this test is unskipped in latest main.

[2022-08-01 16:05] liza-mae opened #137737 "[test-failed]: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer·ts - machine learning - anomaly detection anomaly explorer with farequote based multi metric job renders View By swim lane"
**Version: 8.4.0**
**Class: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning - anomaly detection anomaly explorer with farequote based multi metric job supports cell selection by brush action
- machine learning - anomaly detection anomaly explorer with

[2022-08-01 16:05] liza-mae opened #137738 "[test-failed]: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security global discover read-only privileges with url_create Permalinks shows create short-url button"
**Version: 8.4.0**
**Class: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:06] elasticmachine commented on #137737
Pinging @elastic/ml-ui (:ml)

[2022-08-01 16:07] liza-mae opened #137739 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/kibana/rules_and_actions/overview·js - apis Monitoring Kibana Rules and Actions overview should get data for the entire cluster"
**Version: 8.4.0**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/kibana/rules_and_actions/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:07] liza-mae commented on #136881
**Version: 8.4.0**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis management index lifecycle management snapshot policies returns policies

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:07] liza-mae opened #137740 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring_collection/prometheus·ts - apis Monitoring Collection Prometheus endpoint returns prometheus scraped metrics"
**Version: 8.4.0**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring_collection/prometheus·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:07] liza-mae opened #137741 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/kibana_overview/_solutions·ts - kibana overview app overview page - solutions contains the appropriate solutions"
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/kibana_overview/_solutions·ts**
**Stack Trace:**
[code]
**Other test failures:**
- kibana overview app overview page - solutions click on Observability card leads to Observability
- kibana overview app overview page - solutions click on Security card leads to Security

 _Test Report: https://buildkite.com/elastic/estf-clou

[2022-08-01 16:08] liza-mae opened #137742 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard/group1/url_field_formatter·ts - dashboard app - group 1 Changing field formatter to Url applied on discover"
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard/group1/url_field_formatter·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:08] liza-mae opened #137743 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/options_list·ts - dashboard elements dashboard elements Controls Dashboard options list integration Options List Control creation and editing experience editing other control settings keeps selections"
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/options_list·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:08] elasticmachine commented on #137742
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-01 16:09] liza-mae commented on #136885
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/control_group_chaining·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae opened #137744 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/console/_console·ts - console app console app multiple requests output should contain comments starting with # symbol"
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/console/_console·ts**
**Stack Trace:**
[code]
**Other test failures:**
- console app console app multiple requests output should display status badges

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae commented on #136886
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/replace_controls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard elements dashboard elements Controls Replacing controls Replace options list "after each" hook for "with range slider"
- dashboard elements dashboard elements Controls Replacing controls Replace range slider "befo

[2022-08-01 16:09] elasticmachine commented on #137743
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-01 16:09] liza-mae commented on #133428
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/console/_vector_tile·ts**
**Stack Trace:**
[code]
**Other test failures:**
- console app console vector tiles response validation "after all" hook for "should validate response"

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae commented on #136887
**Version: 8.4.0**
**Class: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Endpoint plugin test metadata apis get metadata transforms correctly returns started transform stats

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae commented on #133430
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae commented on #135578
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_data_view_relationships·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:09] liza-mae opened #137745 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/dashboard_back_button·ts - dashboard app - group 1 dashboard back button "after all" hook for "after navigation from listing page to dashboard back button works""
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:10] liza-mae commented on #133431
**Version: 8.4.0**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/dashboard_query_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:10] liza-mae commented on #133433
**Version: 8.4.0**
**Class: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data feature controls security global uptime read-only privileges shows uptime navlink

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/469_

[2022-08-01 16:10] elasticmachine commented on #137745
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-01 16:17] liza-mae commented on #137745
Going to close this one as a cloud issue based on error 503 service unavailable.

[2022-08-01 16:17] #137745 closed

[2022-08-01 16:19] kerwanp opened #137749 "[Security Solution] Endpoint Security Integration fail with Fleet Managed Elastic Agent"
**Describe the bug:**

When we enable the Endpoint Security Integration through Fleet for one of our agent, the process on the agent part fail.

**Kibana/Elasticsearch Stack version:**

- docker.elastic.co/elasticsearch/elasticsearch:8.3.2
- docker.elastic.co/kibana/kibana:8.3.2

**Server OS version:**

(host)
[code]

**Browser and Browser OS versions:**
All

**Elastic Endpoint version:**
`endpoin

[2022-08-01 16:19] elasticmachine commented on #137749
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-01 16:19] elasticmachine commented on #137744
Pinging @elastic/kibana-core (Team:Core)

[2022-08-01 16:22] elasticmachine commented on #137741
Pinging @elastic/kibana-core (Team:Core)

[2022-08-01 16:23] elasticmachine commented on #137740
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-01 16:24] elasticmachine commented on #137739
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-01 16:24] elasticmachine commented on #137738
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-01 16:28] kpollich opened #137750 "[Fleet] Input Packages Phase 1 - Ensure existing UIs support packages with `type: input`"
Child of https://github.com/elastic/kibana/issues/133296

## Phase 1 Goals

- All relevant Fleet UI's render as expected when presented with a package containing a `type` value of `input`
- Documentation for the existing [manual process](https://github.com/elastic/kibana/issues/133296#issuecomment-1165747068) for customizing ingest for input packages is drafted and ready for the docs team to revie

[2022-08-01 16:28] elasticmachine commented on #137750
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 16:34] kpollich opened #137751 "[Fleet] Input Packages Phase 2 - Ensure upgrade from package with `type: integration` to `type: input` is supported"
Child of https://github.com/elastic/kibana/issues/133296

## Phase 2 Goals

- A user can install the latest version of a package which includes a change from `type: integration` to `type: input`
- A user can upgrade their existing policies for such a package and maintain their variable definitions, ingest customizations, etc

## Implementation Checklist

- [ ] Updating the version of a package fro

[2022-08-01 16:34] elasticmachine commented on #137751
Pinging @elastic/fleet (Team:Fleet)