[2021-08-19 17:17] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/276/)

[2021-08-19 17:19] elasticmachine commented on #109260
Pinging @elastic/uptime (Team:uptime)

[2021-08-19 17:20] bhavyarm commented on #108774
I don't see the errors after I enable security.

[2021-08-19 17:22] pmuellr commented on #108774
For the internal server error, unfortunately, Kibana doesn't log what URL it was processing.  So we don't really know what part of Kibana that came from.  The only thing we have is the time it occurred, and hopefully correlate that with what the user was doing in Kibana (or using `curl`, for instance) at that time.

We could add logging for the HTTP requests, which makes the log extremely noisy, b

[2021-08-19 17:24] mistic commented on #109260
This test looks flaky and keeps failing. Skipping for now.

master/8.0: 25535e9
7.x/7.16: 1ea957a
7.15: 2fee08c
7.14: 3786ee3

[2021-08-19 17:25] ravikesarwani commented on #105659
50gb rollover is default policy for many use cases including logs and metrics (not just APM) because as a general rule ES recommends to keep shards around 50gb. The default threshold of 55gb was chosen based on that general recommendation.

This helps us catch issues when say a rollover is failing. I wonder if what we saw here was some issue with the ILM policy (for some time) that really was the

[2021-08-19 17:33] banderror opened #109293 "[RAC] Rule registry index bootstrapping: implement suggestions for backwards compatibility"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

We need to fix the indexing implementation in `rule_registry` plugin in such a way so it can provide backwards compatibility for alerts-as-data indices in the future. Alerts-as-data schema can evolve, and we might need to introduce breaking changes into it. These breaking changes should be handled in one way or another

[2021-08-19 17:33] alexfrancoeur opened #109294 "Navigational Search - Scoring / Priority of Integrations"
This is occurring on master (though likely 7.x as well)

It seems the integrations search result is being prioritized over more relevant results.

![image](https://user-images.githubusercontent.com/25181823/130116440-8ce3e9ce-0de6-47ab-a0d9-85f8c8213712.png)

When querying `tag:Apache logs` I would have expected saved objects with the tag apache and logs in their title / description to be prioriti

[2021-08-19 17:33] elasticmachine commented on #109294
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 17:33] ravikesarwani commented on #93432
Does this relates to https://github.com/elastic/kibana/issues/109100#issuecomment-902091629 and is a regression in 7.15?

I am not sure about the comment around Cloud. Is the behavior different there than self-managed because of how we packages things differently.

[2021-08-19 17:37] kibanamachine commented on #108308
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/4/)

[2021-08-19 17:37] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/4/)

[2021-08-19 17:37] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/4/)

[2021-08-19 17:38] neptunian commented on #93432
It's possible the 7.15 ES issue could affect alerts but this particular issue is not related to that and exists in previous versions.

[2021-08-19 17:50] thomasneirynck commented on #109166
@elastic/kibana-gis deprecations listed with upgrade assistant
- https://github.com/elastic/kibana/pull/105981
- https://github.com/elastic/kibana/pull/103740
- https://github.com/elastic/kibana/pull/105981

[2021-08-19 17:51] clintandrewhall commented on #109288
@rashmivkulkarni The nit in your bug is actually intentional.  See: https://github.com/elastic/kibana/blob/master/x-pack/plugins/canvas/public/components/expression/expression.tsx#L105

[2021-08-19 17:54] kobelb commented on #108993
For what it's worth, I was extremely hesitant to propose that we allow the Fleet package upgrades to block the Kibana upgrade process. However, I think it's required for us to provide our system administrators a reasonable experience upgrading our software.

We can split hairs and say that we never explicitly documented that the upgrade is complete when Kibana begins serving HTTP traffic and no lo

[2021-08-19 17:58] oatkiller opened #109297 "Event table row overflow menu won't open"
**Kibana version:**
master probably

**Browser version:**
Chrome / Mac

**Original install method (e.g. download page, yum, from source, etc.):**
Used https://kibana.siem.estc.dev/

**Describe the bug:**
Clicking on the overflow menu button on an event in the event table doesn't cause a menu to show

**Steps to reproduce:**
1. click on the icon near an event in an event table

**Expected behavior:

[2021-08-19 17:58] elasticmachine commented on #109297
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-19 17:58] elasticmachine commented on #109297
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-19 17:59] justinkambic commented on #109170
I checked this and ensured that the view wasn't in the 7.15 branch.

[2021-08-19 17:59] gchaps commented on #94244
#109284 lists the docs that require updating.  The docs team would appreciate help from the individual teams.

[2021-08-19 17:59] mchopda commented on #108894
In triage with Mike P, Robert A, Adam D, Dave S, Moose S, Madhura C; agreed for this issue to be impact:critical

[2021-08-19 18:01] rylnd commented on #76592
Related: https://github.com/elastic/kibana/pull/109253, https://github.com/elastic/kibana/issues/107986

[2021-08-19 18:04] justinkambic commented on #105757
I made sure the UX page loads in 7.15.

[2021-08-19 18:09] justinkambic commented on #101984
This test suite is passing on the most recent successful CI build for 7.15: https://kibana-ci.elastic.co/view/Kibana/job/elastic+kibana+7.15/2/testReport/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_with_es_ssl_apps_uptime_alert_flyout%C2%B7ts/

[2021-08-19 18:10] elasticmachine commented on #109293
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-19 18:10] elasticmachine commented on #109293
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-19 18:15] mchopda commented on #108889
In triage with Mike P, Robert A, Adam D, Dave S, Moose S, Madhura C; agreed for this issue to be impact:critical considering it is embarrassing for users and that is a UX criteria for calling issues critical.

[2021-08-19 18:17] rashmivkulkarni opened #109304 "Clicking on Canvas Pitch workpad name - throws an error on the console"
Kibana: 7.15 snapshot.

1) Clicking on Canvas `Pitch` workpad name - console throws the error

[code]
Kibana logs look clean. Looks like its trying to fetch an invalid URL.

<img width="1632" alt="Screen Shot 2021-08-19 at 10 51 32 AM" src="https://user-images.githubusercontent.com/11466284/130122214-4964866e-19ca-4c05-995b-a633375bfec2.png">

[2021-08-19 18:17] elasticmachine commented on #109304
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-19 18:18] mchopda commented on #108899
In triage with Mike P, Robert A, Adam D, Dave S, Moose S, Madhura C; this could be a functional issue. UI wise not critical

[2021-08-19 18:19] MadameSheema commented on #109038
Test re-enabled on `https://github.com/elastic/kibana/pull/109129` :)

[2021-08-19 18:19] #109038 closed

[2021-08-19 18:21] simianhacker commented on #93432
@ravikesarwani Yes, it sort of relates, but it looks like the issue in https://github.com/elastic/kibana/issues/109100#issuecomment-902091629 is a regression in Elasticsearch 7.15.0 which hopefully they fix.

`monitoring.ui.css.enabled` is `true` by default.

In order to remove the `remote_cluster_client` role requirement for Stack Monitoring, we will need to either turn off CCS support (by defaul

[2021-08-19 18:21] thomasneirynck commented on #67476
closing. ES has no spatial reference support.

[2021-08-19 18:21] #67476 closed

[2021-08-19 18:23] thomasneirynck opened #109307 "[Maps] Rename index-pattern to data-view"
Rename everything in geo-plugins

cf https://github.com/elastic/kibana/issues/100844

[2021-08-19 18:23] elasticmachine commented on #109307
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-19 18:26] alex-fedotyev opened #109309 "[APM] POC new feature to compare performance by service version on Transaction overview page"
**Feature details**
Proposal is to experiment with extending comparisons to dynamically identify whether key metadata has multiple values (like more than 1 service version active at the same time) and offer ability to compare across those versions.
![image](https://user-images.githubusercontent.com/61838744/130123629-3b46cae3-9ea8-471f-81cf-4c64cf5e8c63.png)

Expected results would be update visua

[2021-08-19 18:26] elasticmachine commented on #109309
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 18:29] thomasneirynck opened #109310 "[Maps] Remove deprecated IFieldType"
Remove the use of `IFieldType`

cf. https://github.com/elastic/kibana/issues/104000

[2021-08-19 18:30] elasticmachine commented on #109310
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-19 18:31] ravikesarwani commented on #93432
From product perspective my thinking is clear.
The default should work with no extra dialogs or questions or work from the users.
If someone wants to configure CCS to see monitoring data stored on the remote cluster from the production cluster kibana then we should have steps on how to configure this.
In that case, requiring an extra role and configuring the user etc. is okay as long as we clearly

[2021-08-19 18:35] thomasneirynck commented on #55520
wrt deprecations of old visualizations. This is a small gap, without a clear view of how many users would run into it. Can always pick up later if necessary, as we get feedback from users trying to upgrade.

[2021-08-19 18:37] legrego commented on #82467
Hey folks, I'm noticing a number of 👎 reactions to this issue, and I'd love to get a better understanding of your sentiment. Is anyone willing to share their thoughts in more detail?

I'd love to know:
1) What version of Kibana are you running?
2) Why do you have the spaces plugin disabled today?
3) How would you be negatively impacted if the spaces plugin could no longer be disabled?
4) Any other

[2021-08-19 18:43] gleason86 opened #109314 "Visualization Controls - Selecting individual keys from a multivalued list"
**Describe the feature:**
Currently when applying the "Controls" module in visualizations, you are given the option to select the index and the field. The resulting form will produce a drop-down list which will auto-populate some choices depending on the different values present in the field. This drop-down only populates values within the field if they are single-valued. We would request the list

[2021-08-19 18:47] legrego commented on #107731
Makes sense, thanks. In that case, I am going to close this in favor of https://github.com/elastic/kibana/issues/80634, which will address this specific problem in a more holistic manner

[2021-08-19 18:47] #107731 closed

[2021-08-19 18:48] weltenwort opened #109317 "[RAC] Observability alerts table reads from incorrect indices"
## :memo: Summary

The introduction of the correct alias names in #108115 surfaced a problem with the way the `timeline` and `indexFields` search strategies construct the indices. This causes the Observability table to remain empty even if alerts are present in the correct indices.

## :heavy_check_mark: Proposed solution

- An API exists on the observability plugin that...
  - takes a list of reg

[2021-08-19 18:48] elasticmachine commented on #109317
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-19 19:00] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16244/)

[2021-08-19 19:00] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16244/)

[2021-08-19 19:02] liza-mae opened #109322 "Timelion throws internal server error when changing interval"
**Kibana version**: 7.15.0 BC1

**Elasticsearch version**: 7.15.0 BC1

**Server OS version**: ESS

**Browser version**: Chrome

**Browser OS version**: Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
ESS

**Description of the problem including expected versus actual behavior**:
Timelion throws an internal server error, appears to happen changing the interval.   Fo

[2021-08-19 19:08] mattkime commented on #94244
As @gchaps states, teams should address docs too.

We'll create new keys and deprecate the old ones but at this point there's no action required.

[2021-08-19 19:09] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16245/)

[2021-08-19 19:09] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16245/)

[2021-08-19 19:09] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16245/)

[2021-08-19 19:11] mattkime commented on #109153
Definitely something we'd like to address

[2021-08-19 19:13] mattkime commented on #101944
I see it as a denial-of-service bug/exploit and would like to see it addressed soon. Would be nice to see it as part of 7.15

[2021-08-19 19:19] #109168 closed

[2021-08-19 19:24] kibanamachine opened #109329 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows saving when user enters a valid integration name and url/host"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/277/)

[2021-08-19 19:26] ThomThomson commented on #102328
This doesn't seem like a dashboard problem to me - usually the visualizations themselves must conform to the size of the panel on the dashboard. Will remove the dashboard / presentation team label, but feel free to re-add if someone else crops up!

[2021-08-19 19:29] nicpenning opened #109330 "Preview Detections on Builtin Elastic Security Rules"
**Describe the feature:**
Today there are over 500 rules inside of Elastic Security in Kibana. However, an analyst won't know how noisy the rules are unless they go into each rule and copy the query and then run it in the discover to see if there are any hits and what volume they fire on.

I would like to simply navigate to a rule and click on description and preview the results similar to how we

[2021-08-19 19:32] elasticmachine commented on #109329
Pinging @elastic/uptime (Team:uptime)

[2021-08-19 19:35] ThomThomson commented on #99172
Can confirm that this bug is fixed in 7.14.

[2021-08-19 19:35] #99172 closed

[2021-08-19 19:37] qn895 commented on #105673
Closing via https://github.com/elastic/kibana/pull/104994

[2021-08-19 19:38] #105673 closed

[2021-08-19 19:39] dplumlee commented on #108893
@deepikakeshav-qasource could you please validate? thanks!

[2021-08-19 19:46] ThomThomson commented on #98224
I am unable to recreate this in 7.14, even when importing the saved object provided in the issue. @bhavyarm, are you able to reproduce this still?

[2021-08-19 19:50] #109272 closed

[2021-08-19 19:51] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/5/)

[2021-08-19 19:51] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/5/)

[2021-08-19 19:51] mattkime commented on #94244
@gchaps How should we coordinate doc updates? The release process for docs is different than our kibana binaries.

[2021-08-19 19:54] pmuellr commented on #109095
Trying to do an easy repro of this.  We've seen these symptoms when tasks have failed - a recurring task (lens_telemetry) and a non-recurring task (an alerting rule).  For both of these, I instrumented the code to throw an error as the very first line of the relevant task executors - and both log the error, but neither of these change the task manager or Kibana status from "OK".

So it's not just

[2021-08-19 19:54] neptunian commented on #93432
You would get the error if you removed the `remote_cluster_client role` from the node role.  I believe this is how the user ends up in this state. https://github.com/elastic/kibana/issues/93432#issuecomment-901932851

[2021-08-19 20:01] cqliu1 commented on #23239
This test was deleted as part of #73121. I'm closing to this issue.

[2021-08-19 20:01] #23239 closed

[2021-08-19 20:05] nickofthyme commented on #108797
Hey @bhavyarm I am not seeing this issue in `master` using the Shakespeare data with your similar setup.

Setup:
- Shakespeare dataset
- dashboard with the following visualizations
  - **VisA** - horizontal % bar chart split by `speaker` (max of 39)
  - **VisB** - non-Lens pie chart split by `speaker` (max of 39)
- URL and dashboard drilldowns on VisA

https://user-images.githubusercontent.com/190

[2021-08-19 20:09] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16246/)

[2021-08-19 20:09] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16246/)

[2021-08-19 20:15] bhavyarm commented on #94638
This bug is back on 7.15.0 - I have to refresh to get to maps homepage.
<img width="1792" alt="Screen Shot 2021-08-19 at 4 11 50 PM" src="https://user-images.githubusercontent.com/7074629/130137568-a94b644e-bc67-40d8-b898-b4acf58b3626.png">

[2021-08-19 20:16] paul-tavares commented on #108866
hi @ashokaditya , could you take a look at this 7.15 bug when you get a chance?

[2021-08-19 20:16] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16395/)

[2021-08-19 20:16] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16395/)

[2021-08-19 20:16] sqren commented on #109237
Agree, the description is clear enough. If any questions come up we can handle it as we go.

[2021-08-19 20:20] simianhacker commented on #93432
@ravikesarwani I agree with this approach. I think we should schedule this for 7.16 so we have some time to discuss how this will affect other parts of the stack.

[2021-08-19 20:22] DaveCTurner commented on #109224
Yes, as I said in the OP, we should be raising an alert if the cluster _as a whole_ is approaching its low watermark (80% seems reasonable for that threshold) or if a single node is persistently above its high watermark, because that's the stage at which action is actually needed. On reflection we might want to alert if any individual tier exceeds 80% full.

Sure, but we are alerting if one node i

[2021-08-19 20:29] #108539 closed

[2021-08-19 20:29] bhavyarm opened #109340 "Filter editor for maps filters (shape, distance, bounds) has a index pattern selection input box which is confusing"
**Kibana version:** 7.15.0 BC1

**Elasticsearch version:** 7.15.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If you click on edit filter on shape, distance, bounds geo filters - they have an index pattern selection box in t

[2021-08-19 20:29] elasticmachine commented on #109340
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-19 20:31] lukeelmers commented on #109169
Heya @spong @FrankHassanabad -- After stringing together various slack threads and the newly created issues, I think I'm missing a higher level of context here, and am wondering if we could take a step back and ask a few (possibly naive) questions.

It feels a bit like we're jumping straight to solutions; it would help to have an explanation of the background and the problem space (the "how we got

[2021-08-19 20:32] nreese commented on #94638
Looks like https://github.com/elastic/kibana/pull/98651 made changes to TableListView and there were no tests to ensure maps use case was accounted for.

[2021-08-19 20:33] cauemarcondes commented on #109309
Today we pass the `comparisonStart` and `comparisonEnd` to the APIs, so the comparison range is calculated in the client. We could change it by sending the comparison type (`day`, `week`, `serviceVersion`, `cloudAvailabilityZone`, etc..) instead and make the calculations on the server.

[2021-08-19 20:48] nreese commented on #94638
Created https://github.com/elastic/kibana/pull/109345 to resolve the issue. Fixed the issue upstream in TableListView, ensuring the empty prompt contains the create item action
<img width="600" alt="Screen Shot 2021-08-19 at 2 45 48 PM" src="https://user-images.githubusercontent.com/373691/130141756-12519d19-d3bf-456e-b820-8b502327f2c5.png">

Maps team can discuss a better empty view at a later ti

[2021-08-19 20:49] ThomThomson commented on #81481
I can't recreate this on 7.14 or on Master. I can still re-create it on 7.13.4 though.

My thought is that this was a problem with saved searches which has been fixed, and not a dashboard-specific problem. @majagrubic, do you recognize this at all?

Will close this, because it is solved in later versions, but it would be nice to figure out what caused it!

[2021-08-19 20:49] #81481 closed

[2021-08-19 21:05] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16247/)

[2021-08-19 21:05] kibanamachine commented on #109329
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16247/)

[2021-08-19 21:07] mistic commented on #109329
This test keeps failing and looks flaky. Skipping for now.

master/8.0: e14f814
7.x/7.16: 6c27feb
7.15: 519fefa
7.14: d6bd6a6

[2021-08-19 21:08] jen-huang commented on #107458
We've gotten feedback on various fronts now about this icon. @kpollich let's switch it back :)

[2021-08-19 21:22] pmuellr commented on #109095
Also tried forcing tasks to timeout; no luck - task manager logs that it's cancelling the tasks, but task manager heath and Kibana status are fine.

At this point, I've been unable to get task manager health to report that a task is in error, either via having it explicitly throw an error, or having it timeout.  What's left?  :-)

[2021-08-19 21:31] gchaps commented on #94244
We can use #109284 to coordinate updates.  That issue lists all the docs that need updating, arranged by group.  Each group should have an owner--I assigned Kaarina and myself the intro docs.  Ping kibana docs for review when the PR for your area is ready.  The update should be complete by feature freeze.

[2021-08-19 21:45] bhavyarm commented on #108797
@nickofthyme I still see it on BC1 of 7.15.0 - https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

https://user-images.githubusercontent.com/7074629/130148457-72c51e76-e94d-423f-b62d-f6d4a3f78ab7.mp4

[2021-08-19 21:48] michaelhyatt commented on #107253
It went through 7.12 -> 7.13 -> 7.14

Do you need the minor versions too?

[2021-08-19 21:58] mistic opened #109349 "Failing ES Promotion: security app users should show the default roles"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3250/testReport/ju

[2021-08-19 21:58] elasticmachine commented on #109349
Pinging @elastic/kibana-security (Team:Security)

[2021-08-19 22:01] sqren commented on #107940
Sort of. #106786 refers to editing existing alerts, while this is about creating new alerts from Stack Management. I think the solution is the same (free form text fields), and they could probably be grouped as a single ticket "Ability to add and edit alerts outside of APM UI"

[2021-08-19 22:01] mistic commented on #109349
Skipped.

master/8.0: 96dfabd

[2021-08-19 22:01] weltenwort commented on #109227
That's a bit surprising... didn't we just improve that column to use the `EuiHealth` component? And how would the user know whether an alert is still active or has recovered? How would they filter for either state?

[2021-08-19 22:02] sqren commented on #107940
Replaced by https://github.com/elastic/kibana/issues/106786

[2021-08-19 22:02] #107940 closed

[2021-08-19 22:08] mistic opened #109351 "Failing ES Promotion: dashboard mode Dashboard View Mode Dashboard viewer "before all" hook: Create dashboard only mode user for "shows only the dashboard app link""
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3250/testReport/ju

[2021-08-19 22:08] elasticmachine commented on #109351
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-19 22:10] mistic commented on #109351
Skipped.

master/8.0: d155a94

[2021-08-19 22:20] jen-huang commented on #109281
@alexfrancoeur Thanks for filing this and summarizing. We discussed that for 7.16, we would deliver technical definition for the linked cards effort, not implementation, so it seems to me that creating tutorials for each of the languages is more feasible for this release.

Once the plumbing exists for the linked cards, it should be fairly trivial to add the language clients then.

[2021-08-19 22:20] sqren commented on #84803
Thanks @smith !

[2021-08-19 22:26] sqren commented on #107565
Did we decide whether APM data should be filtered out, or if we actually want to make use of it? It sounds like if it's not filtered out it could somehow count double. OTOH if there's no metrics data it might be nice to fall back to APM data to populate visualisations.

@simianhacker We can sync on this if you want. I can help out with getting you some APM data for you to test with if needed.

[2021-08-19 22:27] alex-fedotyev opened #109352 "[APM] Suggestion to remove "Kuery" bar from Logs view in APM service overview experience"
**Problem**
Based on early feedback it seems that search bar experience in Logs tab brings different expectations than we designed:
![image](https://user-images.githubusercontent.com/61838744/130151855-0ac2519e-d4db-489a-bf2a-0130975401e3.png)

Users are expecting to use search bar to search logs, but we implemented a different logic.

Current logic is to use kuery bar to allow filtering by servic

[2021-08-19 22:27] elasticmachine commented on #109352
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 22:45] kobelb commented on #108993
@ruflin and @joshdover - is it correct that only certain Fleet packages need to be upgraded for Elastic Agent to be upgraded? Could we only upgrade some of the Fleet packages as part of the Kibana upgrade process, and upgrade other Fleet packages in a way that they only block certain Kibana UIs from functioning?

[2021-08-19 23:11] kibanamachine opened #109355 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts - APM specs feature controls security global apm read-only privileges "before all" hook for "shows apm navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/279/)

[2021-08-19 23:11] monina-n commented on #108912
I want to point out we should be using sentence case for all actions. So for the workflow status, it should be:
- Mark as closed
- Mark as acknowledged

For "Investigate in Timeline", I believe it's okay to leave Timeline capitalized since that is the name of the feature

[2021-08-19 23:12] nickofthyme commented on #108797
Ok I'll take a look, thanks!

[2021-08-19 23:27] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16251/)

[2021-08-19 23:27] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16251/)

[2021-08-19 23:27] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16251/)

[2021-08-19 23:27] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16251/)

[2021-08-19 23:46] #109102 closed

[2021-08-20 00:06] gleason86 commented on #31804
I am also having this issue. To me, it seems this is occurring on fields with Boolean data types

[2021-08-20 00:58] elasticmachine commented on #109355
Pinging @elastic/apm-ui (Team:apm)

[2021-08-20 01:03] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16253/)

[2021-08-20 01:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16253/)

[2021-08-20 01:03] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16253/)

[2021-08-20 01:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16253/)

[2021-08-20 02:03] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16254/)

[2021-08-20 02:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16254/)

[2021-08-20 02:03] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16254/)

[2021-08-20 02:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16254/)

[2021-08-20 02:12] #108108 closed

[2021-08-20 02:17] matschaffer opened #109363 "Uncaught TypeError on Stack Monitoring beats overview"
**Kibana version:** 7.15.0-SNAPSHOT

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Set up stack monitoring with beats monitoring
2. Try to drag a graph to select time.
3. Nothing happens. JS console shows
[code]

**Expecte

[2021-08-20 02:55] matschaffer commented on #93432
Is it possible to switch SM behavior based on node roles? The error isn’t good but having CCS “just work” once the remote is connected is pretty nice behavior. Would be a shame to lose that, doubly so if getting it back required modifying kibana.yml

[2021-08-20 03:04] kibanamachine commented on #89775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16256/)

[2021-08-20 03:09] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16255/)

[2021-08-20 03:09] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16255/)

[2021-08-20 03:13] mattkime commented on #109289
I was under the impression that was expected behavior with the form library. @sebelga thoughts?

[2021-08-20 05:00] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16257/)

[2021-08-20 05:00] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16257/)

[2021-08-20 05:00] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16257/)

[2021-08-20 05:00] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16257/)

[2021-08-20 05:29] kertal commented on #107253
thx, no this should be fine 👍

[2021-08-20 05:52] kibanamachine commented on #106492
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16406/)

[2021-08-20 06:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16258/)

[2021-08-20 06:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16258/)

[2021-08-20 06:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16258/)

[2021-08-20 06:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16258/)

[2021-08-20 06:04] deepikakeshav-qasource commented on #108508
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC1** build and observed that issue is **Fixed**. "Updated now" is displaying on above the Alerts canvas

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/130187314-929a780c-cbaf-4901-aa5e-73c2647a41e3.png)

Hence, We are closing this ticket and marking as "QA Validated"

Thanks!!

[2021-08-20 06:05] #108508 closed

[2021-08-20 06:24] stratoula commented on #109322
It fails for very small intervals (depending on the timerange selected). I think that it makes sense that it fails, although the error should be more clear.
@VladLasitsa can you take a look to confirm that this is the case?

[2021-08-20 07:03] ezimuel commented on #109281
@alexfrancoeur and @bytebilly I really like the idea of having a "add data tutorial" for each language.
I have two questions about this approach:
- how we can pass the `host` and the `CloudID` in the example? Are you using a template system (you mentioned a YAML implementation)?
- which data set do we want to use as example for ingestion?

[2021-08-20 07:15] deepikakeshav-qasource commented on #108893
Hi @dplumlee,

We have validated this ticket on **7.15.0 BC1** build and observed that issue is **Fixed**."Acknowledged" is displaying under Security app.

However, Alerts tab is not displaying under Observability app. We have reported the issue [#108164] earlier for same

**Build Details:**

[code]

**Screenshot: Security**
![image](https://user-images.githubusercontent.com/61860752/130192472-a46

[2021-08-20 07:41] mdelapenya commented on #108445
Hi team, as discussed with the APM folks, we'd like to retire the nightly build pipeline for the old e2e tests, but want to be sure that the RUM folks do not lose the value of their tests.

@andrewvc @paulb-elastic could you please let us know when we can start removing it? We see two possible options here:

- keep existing pipeline removing APM UI tests, but keeping uptime's, only
- remove the pi

[2021-08-20 07:45] Leaf-Lin opened #109369 "tilemap url is not defined by default yet it logs invalid UiSettings warning"
**Kibana version:** 7.14.0 (Apparently also seen on 7.9)

**Elasticsearch version:** 7.14.0

**Server OS version:**  centos-release-7-6.1810.2.el7.centos.x86_64

**Browser version:** Chrome

**Browser OS version:** 92.0.4515.131

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
Kibana logging warning messages with the invalid UiSettings, yet by d

[2021-08-20 07:45] formgeist opened #109371 "[Metrics] Bug: Inventory – Update view doesn't invoke the "Update view" modal on the Default view"
Kibana version: master

# Summary

It appears that the Update view option is not available when on the Default view. It works when I'm trying to update a custom view.

![CleanShot 2021-08-20 at 09 41 36](https://user-images.githubusercontent.com/4104278/130198482-5a30e657-b76b-4701-bede-60dda5ea75e0.gif)

## Steps to reproduce

1. On the Default view, try and change a filter option.
2. Go to the V

[2021-08-20 07:45] elasticmachine commented on #109371
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 07:49] formgeist opened #109374 "[Metrics] Bug: Inventory – Views popover doesn't go away when clicking the button or outside the popover"
Kibana version: master

# Summary

The Views popover doesn't go away when clicking on the Views button or outside the popover. The expected behavior is that it would close the popover in either case.

![CleanShot 2021-08-20 at 09 47 17](https://user-images.githubusercontent.com/4104278/130199153-ed65dca8-ef6b-4afd-ab6f-c559f0459cb3.gif)

[2021-08-20 07:49] elasticmachine commented on #109374
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:07] deepikakeshav-qasource commented on #100259
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC1** build and observed that issue is **Fixed**. Please find the below observations:

**Build Details:**

[code]
| Area | Scenario | Status | Screenshots |
| -- | -- | -- | -- |
| **Title** | Truncate the title only in the UI | 🟢 Pass |  |
|  | When the user hovers the title we display the full title. | 🟢 Pass | ![image](https://user-i

[2021-08-20 08:08] #100259 closed

[2021-08-20 08:15] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/9/)

[2021-08-20 08:15] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/9/)

[2021-08-20 08:28] mgiota opened #109375 "[RAC][Observability] Loading indicator shouldn't appear at the bottom"
### 📝 Summary
The loading indicator appears at the bottom of the screen. When the screen is not big enough and it takes a bit of time for the alerts to be loaded, user doesn't have an indicator that alerts are loading.

https://user-images.githubusercontent.com/2852703/130202027-104cc16a-6e3c-4df4-8d1e-982a95b946e1.mov

### ✔️ Acceptance criteria
Loading indicator should be moved at the top of the

[2021-08-20 08:28] elasticmachine commented on #109375
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:30] formgeist commented on #109309
@alex-fedotyev Correct me if I'm wrong, but you'd essentially still keep a start and end time range but instead of just comparing on time, it would instead compare e.g. versions against each other across the selected time range. Let me try and illustration a visual representation of the comparison period and values;

![Paper Elastic_Design 3](https://user-images.githubusercontent.com/4104278/13020

[2021-08-20 08:38] muskangulati-qasource opened #109376 "[Security Solution] Linux endpoints go to Unhealthy state after Isolation"
**Description:**
Linux endpoints go to Unhealthy state after Isolation

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab.
2. Isolate the Linux host
3. Observe the endpoint goes to an unhealthy state with an error

**Impacted Test case:**
N/A

**Actual Result:**
Linux endpoints go to

[2021-08-20 08:38] elasticmachine commented on #109376
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 08:39] elasticmachine commented on #109376
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-20 08:40] mgiota opened #109377 "[RAC][Observability] Time format mismatch when filtering for timestamp"
### 📝 Summary
When user filters for the `Last updated` field, the query that gets added to the `searchbar` has a different time format form the one used in the Last updated column

<img width="1142" alt="Screenshot 2021-08-20 at 10 31 21" src="https://user-images.githubusercontent.com/2852703/130205241-80c7f90e-83fd-4a22-88bb-fceda69bf3e3.png">

### Steps to reproduce
- Produce some alerts in the

[2021-08-20 08:41] karanbirsingh-qasource commented on #108852
Hi @MadameSheema

The above issue is occuring on the `7.15.0 BC1` . Hover action ( Filter for , out , column add ) have no response under Alert fly-out under Cases

**Build Details:**
[code]

[2021-08-20 08:41] sebelga commented on #108302
We use a virtual list to render the list of fields as the number of fields can be huge (5K or more). We can add the column header but I am not sure the `<EuiTable />` will play nicely with the virtual list.

As for the sorting of the column, I am not sure I see the value in sorting the values. Do you have any use case in mind for that?
And changing the sort order for the key can easily be done but

[2021-08-20 08:44] muskangulati-qasource opened #109378 "[Security Solution] If a case is marked as 'In Progress', the synced alerts does not show under any section [Open, Acknowledged, Closed]"
**Description:**
If a case is marked as 'In Progress', the synced alerts does not show under any section [Open, Acknowledged, Closed]

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be triggered
3. Connector must be added to a case
4. Alerts should be added to a case

**Steps to Reproduce:**
1. Sync the alerts status wit

[2021-08-20 08:44] elasticmachine commented on #109378
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 08:44] karanbirsingh-qasource commented on #108855
Hi @MadameSheema

The above issue is occuring on the `7.15.0 BC1` . UI break completely and data of graph got mix up with the alert list on show top graph.

**Build Details:**
[code]
**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/130206594-fd4a6df6-3080-416e-aa33-95e3781c6df2.png)

[2021-08-20 08:44] muskangulati-qasource commented on #109376
@manishgupta-qasource please review!!

[2021-08-20 08:44] muskangulati-qasource commented on #109378
@manishgupta-qasource please review!!

[2021-08-20 08:45] katrin-freihofner opened #109379 "[RAC] Workflow status is not updated on alerts"
**Kibana version**:
Tested on internal edge cluster

**Description of the problem including expected versus actual behavior**:
When I close an alert, it seems that it does not change the alert workflow status.

![close-alert](https://user-images.githubusercontent.com/20965076/130206550-fdad45f9-5948-4ed2-857d-3ee8055f11cd.gif)

**Steps to reproduce**:
 1. go to the alert view in Observability
 2.

[2021-08-20 08:45] elasticmachine commented on #109379
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:46] MadameSheema commented on #109378
@muskangulati-qasource can you please try to do a hard refresh to see if the alerts are displayed? thanks

[2021-08-20 08:46] afharo commented on #98851
This PR will apply the fixes to `7.16.0`+: https://github.com/elastic/kibana/pull/109157

[2021-08-20 08:46] elasticmachine commented on #109377
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:46] elasticmachine commented on #109378
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 08:48] katrin-freihofner opened #109380 "[RAC] Alert deatils flyout needs to show workflow status"
As a user, I'd like to see in the alert details in what state the alert is. When multiple people are working in parallel, the workflow status could change while I'm looking at the table. As a user, I'd like to see that in the details flyout.

cc @mdefazio @monina-n @yiyangliu9286

[2021-08-20 08:48] MadameSheema commented on #108855
Closing as duplicate of: https://github.com/elastic/kibana/issues/108942

[2021-08-20 08:48] #108855 closed

[2021-08-20 08:49] muskangulati-qasource commented on #109378
Hi @MadameSheema,

The alerts do not show even after a hard refresh.

Thanks!

[2021-08-20 08:51] katrin-freihofner opened #109381 "[RAC] Observability alerts: alert status visualisation needs to be consistent"
The visual appearance of the alert status should be consistent in the alerts table and the alert details flyout.

**Suggested solution**
Please update the alert status in the flyout to use the health component.

<img width="962" alt="Screenshot 2021-08-20 at 10 48 53" src="https://user-images.githubusercontent.com/20965076/130207490-a475321a-f36c-4141-b64b-42b532d225ff.png">

[2021-08-20 08:51] stratoula opened #109382 "[Datatable] Remove the angular implementation"
We want to remove the old implementation of the legacy data table. The main reason for doing is the angular dependency. In 7.16 all kibana code that depends in Angular 1 should be either de-angularized or removed. We decided to remove the old datatable for the following reasons:
- It is not the default solution from 7.11 (users can switch to it by changing their kibana.yml file `vis_type_table.leg

[2021-08-20 08:51] elasticmachine commented on #109381
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:51] elasticmachine commented on #109382
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 08:51] azasypkin commented on #109349
Hmm, doesn't look good.... I'll try to take a look as soon as I can.

[2021-08-20 08:52] MadameSheema commented on #108852
@XavierM @asnehalb can you please triage this? if this is a legitimate bug I think it could be important. Thanks :)

[2021-08-20 08:54] karanbirsingh-qasource commented on #109030
Hi @MadameSheema

we have validated the linked pr fix on the 7.15.0 BC1 and below are there observations.

**Build Details:**
[code]
### [[RAC] Enable workflow status filtering](https://github.com/elastic/kibana/pull/108215)

- [x] Move workflow status button group to left side above trend chart and change to `sm`, `primary` `EuiButtonGroup` **Fixed** ✔️

![image](https://user-images.githubusercon

[2021-08-20 08:54] MadameSheema commented on #109378
@jonathan-buttner @XavierM can you please take a look to this issue? thanks :)

[2021-08-20 08:55] janniten commented on #29806
Same problem here

[2021-08-20 08:55] katrin-freihofner opened #109383 "[RAC] Observability alerts table: add tooltips to icon buttons"
**Kibana version**:
Screenshot from internal edge cluster

**Description of the problem including expected versus actual behavior**:
The icon buttons (actions column) are not self-explanatory. These buttons only provide shortcuts but I think we should add tooltips or titles anyhow.

<img width="893" alt="Screenshot 2021-08-20 at 10 52 29" src="https://user-images.githubusercontent.com/20965076/130

[2021-08-20 08:55] elasticmachine commented on #109383
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 08:58] deepikakeshav-qasource commented on #108865
Hi @MadameSheema

The above issue is occurring on the **7.15.0 BC1** . Column values are not aligned properly and hover actions are also overlapped under alerts table.

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/130208387-994352bf-8c87-4d92-b4ec-074352bd443d.png)

Thanks!!

[2021-08-20 08:59] katrin-freihofner opened #109384 "[RAC] alerts table: pagination is missing in full-screen mode"
**Kibana version:**
Screenshot from our internal edge cluster

**Describe the bug:**
When entering the full-screen mode, the pagination and "rows per page" selection is no longer available.

**Steps to reproduce:**
1. Navigate to the alerts table in Observability or Security
2. Click the "Full screen" button above the table

**Expected behavior:**
There should still be the possibility to look at o

[2021-08-20 08:59] elasticmachine commented on #109384
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 09:07] sebelga commented on #109289
This is the expected UX and the pattern we have followed in all of our forms. The form "Submit" button is only disabled after clicking on it and of course if the form is invalid at that moment. It helps the user as the invalid field might be scrolled outside the viewport and if the button would be disabled he wouldn't have an indication why he can't click on it. Then when he clicks the button we d

[2021-08-20 09:10] deepikakeshav-qasource opened #109385 "[Security Solution] Elastic prebuilt Rules are not loaded after added the "Prebuilt Security Detection Rules" integration"
**Describe the bug**
Elastic prebuilt Rules are not loaded after added the "Prebuilt Security Detection Rules" integration

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Agent should be installed

**Steps to Reproduce**
1. Navigate to fleet tab.
2. Add the "endpoint integration", "Prebuilt Security Detection Rules" in assigned policy

[2021-08-20 09:10] elasticmachine commented on #109385
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:11] deepikakeshav-qasource commented on #109385
@manishgupta-qasource Please review!!

[2021-08-20 09:12] mshustov commented on #109232
@pgayvallet I tend to agree, but it's not always possible to know in advance. If you search for `@deprecated` tag in Core public API, you will find out that none of them have `@removeBy` tag. There are at least two reasons: the Core team didn't plan the roadmap for `v8.x` releases and there is no `v8.x` release schedule. Considering this, I don't think we have enough information to define a precis

[2021-08-20 09:17] elasticmachine commented on #109385
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-20 09:18] MadameSheema commented on #109385
@peluja1012 @spong can you please take a look at this? thanks :)

[2021-08-20 09:23] jloleysens commented on #108774
Hey @bhavyarm and all!

The `Error: Internal Server Error` in Kibana is a result of these changes: https://github.com/elastic/kibana/pull/105181  (adds call to _has_privileges) which correlates to the message about security from ES logs. We should definitely clean this up, probably by adding a check for whether security is enabled - I'll open a PR for this.

However, this would not result in Kiban

[2021-08-20 09:26] samratbhadra-qasource opened #109387 "[Trusted Application][Question] Grid View and List View button is not Available on Trusted Applications."
**Describe the Question:**
Grid View and List View button is not Available on Trusted Applications.

**Build Details:**
VERSION: 7.15.0-BC1
BUILD: 43636
COMMIT: d791226d9385122f33f4a5ca38fa5369012fbec3
ARTIFACT: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC1 environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kibana.
2. Navi

[2021-08-20 09:26] elasticmachine commented on #109387
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:26] elasticmachine commented on #109387
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-20 09:27] samratbhadra-qasource commented on #109387
@manishgupta-qasource please review.

[2021-08-20 09:36] pchakour commented on #82467
Hey !

I'm running on Kibana 7.12.1 for now

I've wrote a similar plugin, so the spaces plugin is not necessary in my context.
My plugin allow to separate saved objects in "projects".

In what is different from the spaces plugin ?

 - There is an administrator for each project
 - A user can ask the administrator to belong to a project
 - The administrator can affect different feature visibilities

[2021-08-20 09:37] weltenwort commented on #109379
Could it be that the table is just not updated? What happens if you click "Refresh"?

[2021-08-20 09:37] karanbirsingh-qasource opened #109390 "[Security Solution]Rule name is clickable and navigated to rule page contradicting TGrid Form AC"
**Describe the bug**
Rule name is clickable and navigated to rule page contradicting TGrid Form AC

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Alerts.
2. Observed that Rule name value is clickable and let user to its rule page which is contradicting the updated TGrid form of the alert list.
![im

[2021-08-20 09:37] elasticmachine commented on #109390
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:38] afharo commented on #90536
Yesterday's failures, both of them are related to Kibana failing to validate the licensing info when navigating to the `home` page.

[code]

Not related to Application Usage as such.

I'll update the test to reflect errors others than the actual schema check.

[2021-08-20 09:39] elasticmachine commented on #109390
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 09:39] MadameSheema commented on #109390
@karanbirsingh-qasource when that AC can be found? thanks

[2021-08-20 09:42] MadameSheema commented on #109390
@paulewing @monina-n can you please confirm which should be the behaviour? thanks

[2021-08-20 09:43] karanbirsingh-qasource commented on #109390
AC ticket : https://github.com/elastic/security-team/issues/1299

[2021-08-20 09:48] katrin-freihofner opened #109394 "[RAC] Alerts table: column alignment changes when switching columns"
**Kibana version**:
Video from testing on the internal edge cluster

**Description of the problem including expected versus actual behavior**:

When changing the order of the columns in the table, the alignment of the text within the columns changes too (but it shouldn't).

![column-alignment](https://user-images.githubusercontent.com/20965076/130214938-22633a41-1898-42e4-a0e2-333905babb57.gif)

*

[2021-08-20 09:48] elasticmachine commented on #109394
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 09:49] muskangulati-qasource opened #109395 "[Security Solution] Navigation to the rule name shows error pop-ups while navigating from the Event Rendering view"
**Description:**
Navigation to the rule name shows error pop-ups while navigating from the Event Rendering view

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Alerts tab.
2. Select the rendered view option
3. Click on the rule name
4. Observe the error pop-ups

**

[2021-08-20 09:49] elasticmachine commented on #109395
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:50] afharo commented on #108711
Waiting for https://github.com/elastic/kibana/pull/108887 to be merged so we can replace our entire logic with a simple call to the new API `hasUserIndexPattern`.

[2021-08-20 09:50] weltenwort commented on #109375
The loading indicator and empty state should probably become part of the t-grid. @elastic/security-threat-hunting do you have any plans for that already?

[2021-08-20 09:52] karanbirsingh-qasource opened #109396 "[Security Solution]Timeline/Template cant display in full page when alert is in full screen"
**Describe the bug**
Timeline/Template cant display in full page when alert is in full screen

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Alerts.
2. Click on Full screen.
3. From the bottom plus icon select open timeline folder icon or you can select create new timeline
4. Observed that Timeline

[2021-08-20 09:52] elasticmachine commented on #109396
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:53] samratbhadra-qasource opened #109397 "While we click on related detection rules under Memory and Behavior policy we get 'Application Not Found' error."
**Describe the bug:**
While we click on related detection rules under Memory and Behavior policy we get 'Application Not Found' error.

**Build Details:**
VERSION: 7.15.0-BC1
BUILD: 43636
COMMIT: d791226d9385122f33f4a5ca38fa5369012fbec3
ARTIFACT: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.htm

**Preconditions:**
Elastic 7.15.0-BC1 environment should be deployed.

**Steps to Reproduc

[2021-08-20 09:53] elasticmachine commented on #109397
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-20 09:53] elasticmachine commented on #109397
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 09:53] samratbhadra-qasource commented on #109397
@manishgupta-qasource please review.

[2021-08-20 09:56] elasticmachine commented on #109396
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 09:59] elasticmachine commented on #109395
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 10:00] MadameSheema commented on #109395
@XavierM @asnehalb this one looks really bad.

[2021-08-20 10:00] stratoula commented on #100987
Additional notes here:
- We should close all the bugs that are related to the timelion-app (Be cautious! Not the ones that also apply to the timelion viz)
- There are some functional tests, I think that we should not remove them and we should make the necessary changes to test the old implementation of the timelion viz
- Ensure that timelion viz is not broken
- We have some deprecations on the viz

[2021-08-20 10:02] deepikakeshav-qasource opened #109398 "[Security Solution] Able to update the alert status through 'attach the alert to cases'. Even when the user have alerts sub feature read privileges."
**Describe the bug**
Able to update the alert status through 'attach the alert to cases'. Even when the user have alerts sub feature read privileges.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Create a role with alert sub feature READ.
2. Login

[2021-08-20 10:02] elasticmachine commented on #109398
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 10:02] deepikakeshav-qasource commented on #109398
@manishgupta-qasource Please Review!!

[2021-08-20 10:02] deepikakeshav-qasource opened #109399 "[Security Solution] "Kibana feature privileges required" page is displaying for a sec on alert page when manually refresh the page"
**Describe the bug**
"Kibana feature privileges required" page is displaying for a sec on alert page when manually refresh the page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Create a alerts age under the security
2. Manually refresh the page.
3

[2021-08-20 10:02] elasticmachine commented on #109399
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 10:03] deepikakeshav-qasource commented on #109399
@manishgupta-qasource Please review!!

[2021-08-20 10:03] ruflin commented on #108993
I'll describe the APM scenario on Cloud and what I think could be an acceptable behaviour without having to block Kibana. I agree, blocking Kibana completely because some packages could not be upgraded is not ideal. At the same time it has to be said, the packages that are automatically upgraded and could be blocking should only be the one that will also be versioned with the stack. @kobelb This a

[2021-08-20 10:03] afharo commented on #90536
Nevermind, I noticed that we show the same error even in the successful runs. Digging further into this.

[2021-08-20 10:04] MadameSheema commented on #109395
Tested this in the latest 7.15 branch (2a98ff75e2afb1e8dba7698a7c868bc322a37c57) and is happening there as well.

[2021-08-20 10:07] #107629 closed

[2021-08-20 10:07] #107650 closed

[2021-08-20 10:08] samratbhadra-qasource opened #109400 "[Security Solution] When we click on 'Open', 'Acknowledged' and 'Closed' button in Alerts tab it encircled with black bold line."
**Describe the bug:**
 When we click on 'Open', 'Acknowledged' and 'Closed' button in Alerts tab it encircled with black bold line.

**Build Details:**
VERSION:7.15.0-BC1
BUILD: 43636
COMMIT: d791226d9385122f33f4a5ca38fa5369012fbec3
ARTIFACT: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC1 environment should be deployed.

**Steps to Reproduce:*

[2021-08-20 10:08] elasticmachine commented on #109400
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 10:09] elasticmachine commented on #109399
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 10:09] samratbhadra-qasource commented on #109400
@manishgupta-qasource Please Review.

[2021-08-20 10:09] MadameSheema commented on #109399
This is a known issue and the team is working on it to fix it.

ping @XavierM

[2021-08-20 10:12] amolnater-qasource opened #109402 "[Fleet]: View logs and View metrics for System integration under Agent details page not giving correct results on Logs tab."
**Kibana version:**  7.15.0 BC-1 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-1 Kibana Cloud environment should be available.
2. Agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab>Agent details tab.
3. Click System

[2021-08-20 10:12] elasticmachine commented on #109402
Pinging @elastic/fleet (Team:Fleet)

[2021-08-20 10:13] amolnater-qasource commented on #109402
@manishgupta-qasource Please review.

[2021-08-20 10:20] manishgupta-qasource commented on #109387
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-08-20 10:20] MadameSheema commented on #109378
@jonathan-buttner @XavierM I was able to reproduce it on the latest 7.15 branch, I think the problem is we are putting the status `in-progess` to the alert instead of `acknowledge` and this is why we are not showing the alert on the proper view.

It is weird because I would swear that yesterday testing Jonathan's PR I saw everything working fine. Thanks.

[2021-08-20 10:23] manishgupta-qasource commented on #109376
Reviewed & assigned to @ferullo

CC: @kevinlog

[2021-08-20 10:25] elasticmachine commented on #109398
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 10:26] MadameSheema commented on #109398
@deepikakeshav-qasource this behaviour was fixed already. Please retest it when BC2 is available. Thanks :)

ping @jonathan-buttner @XavierM

[2021-08-20 10:29] joshdover commented on #109281
I think this request generally makes sense, and we'd like want a top-level category in the integrations UI for language clients.

At this point, the Fleet team is targeting 8.x for delivering the unified integrations view, so I just want to set clear expectations here that this very likely will not be shipping in 7.x given the team's current roadmap. We are planning to work on the technical defini

[2021-08-20 10:44] manishgupta-qasource commented on #109397
Reviewed & Assigned to @paul-tavares

CC: @EricDavisX

[2021-08-20 10:45] manishgupta-qasource commented on #109400
Reviewed & assigned to @MadameSheema

[2021-08-20 10:45] Kerry350 commented on #109394
This might be similar to #109273, looking in to it.

[2021-08-20 10:46] manishgupta-qasource commented on #109402
Reviewed & assigned to @jen-huang

[2021-08-20 10:47] mistic commented on #102282
This test keeps failing and looks flaky. Skipping for now.

master/8.0: c6fdef4
7.x/7.16: 43e2736
7.15: f1cbb7b

[2021-08-20 10:47] mistic commented on #102283
This test keeps failing and looks flaky. Skipping for now.

master/8.0: c6fdef4
7.x/7.16: 43e2736
7.15: [f1cbb7b](https://github.com/elastic/kibana/commit/f1cbb7b733fd453317e0a9d917484c985b1a97a3)

[2021-08-20 10:50] MadameSheema commented on #109400
@monina-n can you please take a look at this? thanks :)

[2021-08-20 10:53] karanbirsingh-qasource opened #109408 "[Security Solution][Exception][Close All] Not works on the new Acknowledged state alerts"
**Describe the bug**
[Exception][Close All] Not works on the new Acknowledged state alerts

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Alerts ( let say 2) .
2. Set all the generated alert to Acknowledged.
3. Click on more action and save the rule exception with close all.
4. Check for the Except

[2021-08-20 10:53] elasticmachine commented on #109408
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 10:56] manishgupta-qasource commented on #109408
Reviewed & assigned to @MadameSheema

[2021-08-20 11:03] joshdover commented on #108993
I'm going to try to answer as much as I can given what I know about Fleet so far, here it goes! Please anyone correct me if I'm missing any details on the Fleet side.

What's special here is that this particular plugin (Fleet) is currently responsible for configuring the dependencies of other Stack components. Task Manager does not have the same responsibility or impact on other components outside

[2021-08-20 11:03] stratoula commented on #54088
There are two tasks here:
1. Add the deprecation on the upgrade assistant in **7.16**. Here is an example of how we did it for timelion app https://github.com/elastic/kibana/pull/94845/files?file-filters%5B%5D=.js&file-filters%5B%5D=.json&file-filters%5B%5D=.md&file-filters%5B%5D=.ts&file-filters%5B%5D=.tsx&owned-by%5B%5D=stratoula
We need to involve the docs-team for the copies

2. Remove the set

[2021-08-20 11:07] joshdover commented on #107539
I believe this is a duplicate of #108726. I lost track of this one it seems and @Dosant opened a new issue. I'm going to close this one in favor of the other one since that one is being tracked by a PR already. That PR is also targeting a backport for 7.14.1

[2021-08-20 11:07] #107539 closed

[2021-08-20 11:07] stratoula commented on #106691
**Final plan:**
1. Add an advanced setting that will re-enable the string mode (make-it-minor)
2. For the new visualizations or the existing visualizations there will be no way to use the string mode (unless they change the advanced setting)
3. For existing visualizations that use the string mode, the input string will be there but disabled (unless they change the advanced setting)
4. The UI notif

[2021-08-20 11:08] walterra commented on #108332
Moved one item to the 7.16 meta issue #109220 (paging trace samples), the rest is done, closing 🥳 .

[2021-08-20 11:08] #108332 closed

[2021-08-20 11:08] afharo commented on #90536
Found the bug! The tests are navigating to `home`. However, they are not waiting for the loading screen to be away, meaning, apps may have not fully registered and loaded yet. Pushing a PR for that.

[2021-08-20 11:10] elasticmachine commented on #90536
Pinging @elastic/kibana-core (Team:Core)

[2021-08-20 11:16] karanbirsingh-qasource commented on #89784
Hi @MadameSheema

we have checked that this issue start occuring again on `7.15.0 BC1` . The Timeline result did not filter correctly on adding nested field `threat.enrichments.indicator.domain` and `mydata.domain`

Please find below complete details:

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/130225266-37761c7a-ace8-4c76-b8e4-ab115a7ab0ad.mp4

[2021-08-20 11:20] marius-dr commented on #109100
@jtibshirani it completely breaks user experience entering monitoring that just start ES + Kibana for preview purposes (without security or CCS configured), hence why I marked it a blocker.

[2021-08-20 11:22] markov00 commented on #108260
same issue as https://github.com/elastic/kibana/issues/97100
general topic: https://github.com/elastic/kibana/issues/102343

[2021-08-20 11:24] deepikakeshav-qasource opened #109419 "[Security Solution] Endpoint Exception is enable in "take action" under the alerts table for Custom Rules."
**Describe the bug**
Endpoint Exception is enable in "take action" under the alerts table for Custom Rules.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated
4. Custom rule should be created

**Steps to Reproduce**
1. Navigate to alerts tab
2. Click on view details icon
3. Click

[2021-08-20 11:24] elasticmachine commented on #109419
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 11:24] deepikakeshav-qasource commented on #109419
@manishgupta-qasource Please review!!

[2021-08-20 11:25] azasypkin commented on #109349
Okay, that's the culprit: https://github.com/elastic/elasticsearch/pull/76507

[2021-08-20 11:28] wayneseymour commented on #109349
yup, I'm looking into this: https://www.elastic.co/guide/en/kibana/master/kibana-privileges.html#kibana-feature-privileges

to help: https://github.com/elastic/kibana/issues/109351

[2021-08-20 11:31] deepikakeshav-qasource opened #109421 "[Security Solution] Alert Table collide when there are less alerts in open state on alert table."
**Describe the bug**
Alert Table collide when there are less alerts in open state on alert table.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts tab
2. Change the status of all alerts to close except 1
3. Refresh the page
4. Obser

[2021-08-20 11:31] elasticmachine commented on #109421
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 11:32] deepikakeshav-qasource commented on #109421
@manishgupta-qasource Please review!!

[2021-08-20 11:36] azasypkin commented on #109349
Will update and re-enable our users test in https://github.com/elastic/kibana/pull/109422

[2021-08-20 11:44] MadameSheema commented on #89784
@rylnd @ecezalp can you please take a look at this? thanks :)

[2021-08-20 11:47] manishgupta-qasource commented on #109421
Reviewed & assigned to @MadameSheema

[2021-08-20 11:48] manishgupta-qasource commented on #109419
Reviewed & assigned to @MadameSheema

[2021-08-20 11:48] elasticmachine commented on #89775
Pinging @elastic/kibana-core (Team:Core)

[2021-08-20 11:56] paul-tavares commented on #109387
This is by design. @parkiino removed the Tabular view from the Trusted Apps in this PR - https://github.com/elastic/kibana/pull/108583

@manishgupta-qasource can you remove any tests you have in test rail for that? 🙏

Closing.

[2021-08-20 11:56] #109387 closed

[2021-08-20 11:56] karanbirsingh-qasource opened #109427 "[Security Solution] No Horizontal Scroll bar under Alert Full Screen View lead to all field not show"
**Describe the bug**
No Horizontal Scroll bar under Alert Full Screen View  lead to all field not show

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Alerts .
2. Click on Filed icon and add more field let more that 20.
3. Click on Full Screen.
4. Observed that all the field information not show und

[2021-08-20 11:56] elasticmachine commented on #109427
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 11:56] mgiota commented on #109379
Not sure about that, but it looks like https://github.com/elastic/kibana/issues/107650 and https://github.com/elastic/kibana/issues/107629 were merged 2 hours ago, whereas you created this issue 3 hours ago (before the feature was actually merged)

Could you double check again?

[2021-08-20 12:00] karanbirsingh-qasource opened #109428 "[Security Solution]More action disabled for External Alerts"
**Describe the bug**
More action disabled for External Alerts

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Pre built detection Alerts .
2. Go to the host page > External Alerts.
3. Observed that more action is disabled . However can perform more action option ( e.g. Add event  filter ) from Take

[2021-08-20 12:00] elasticmachine commented on #109428
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 12:01] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16264/)

[2021-08-20 12:01] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16264/)

[2021-08-20 12:01] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16264/)

[2021-08-20 12:01] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16264/)

[2021-08-20 12:06] karanbirsingh-qasource opened #109430 "[Security Solution]Hidden Column should not reset on column addition from alert fly out"
**Describe the bug**
Hidden Column reset on column addition from alert fly out

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few Pre-built detection Alerts .
2. Hide All the Field showing under Alert page.
3. Click on expand icon for any of the alert entry.
4. Click on add column for any field.
5. Val

[2021-08-20 12:06] elasticmachine commented on #109430
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 12:15] vipulsrivastava-qasource opened #109435 "[Security Solution] 'Filter out value' not worked for 'Operating System' and 'Version' field column under All hosts tab instead it show different value for both field."
**Description:**
'Filter out value' not worked for 'Operating System' and 'Version' field column under All hosts tab instead it show different value for both field.

**Build Details:**

[code]

**Browser Details:**
All

**Preconditions:**

1. 7.15.0 BC1 Kibana user should be logged in.
2. Agent deployed with Endpoint Security Integration.

**Steps to Reproduce:**

1. Navigate to the Hosts-> All ho

[2021-08-20 12:15] elasticmachine commented on #109435
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 12:16] vipulsrivastava-qasource commented on #109435
@manishgupta-qasource : Please review the Bug

[2021-08-20 12:21] manishgupta-qasource commented on #109427
Reviewed & assigned to @MadameSheema

[2021-08-20 12:22] manishgupta-qasource commented on #109428
Reviewed & assigned to @MadameSheema

[2021-08-20 12:23] manishgupta-qasource commented on #109430
Reviewed & assigned to @MadameSheema

[2021-08-20 12:25] manishgupta-qasource commented on #109435
Reviewed & assigned to @MadameSheema

[2021-08-20 12:29] elasticmachine commented on #109408
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-20 12:29] MadameSheema commented on #109408
@peluja1012 @spong can you please take a look at this? thanks :)

[2021-08-20 12:30] elasticmachine commented on #109421
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 12:31] elasticmachine commented on #109419
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-20 12:31] MadameSheema commented on #109419
@spong @peluja1012 can you please take a look at this? thanks :)

[2021-08-20 12:32] elasticmachine commented on #109427
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 12:32] elasticmachine commented on #109428
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 12:34] elasticmachine commented on #109430
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 12:36] elasticmachine commented on #109435
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 12:39] pmuellr commented on #108774
Already being investigated: https://github.com/elastic/kibana/issues/108247

At this time, it seems most likely that this is coming from Task Manager, which is trying to inform Kibana that it's under stress, but ... it's lying.  :-)  So I'd ignore those messages at this point.

[2021-08-20 12:40] samratbhadra-qasource opened #109438 "[Security Solution] While we switch to Event rendered view the timestamp shows incorrect time and date."
**Describe the bug:**
While we switch to Event rendered view the timestamp shows incorrect time and date.

**Build Details:**
VERSION:7.15.0-BC1
BUILD: 43636
COMMIT: d791226d9385122f33f4a5ca38fa5369012fbec3
ARTIFACT: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC1 environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kibana.
2.

[2021-08-20 12:40] elasticmachine commented on #109438
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 12:41] samratbhadra-qasource commented on #109438
@manishgupta-qasource Please Review.

[2021-08-20 12:42] stratoula commented on #105180
I am closing it as I cant reproduce it in master

[2021-08-20 12:42] #105180 closed

[2021-08-20 12:45] elasticmachine commented on #109438
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-20 13:15] kibanamachine opened #109447 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/network_dns·ts - apis SecuritySolution Endpoints Network DNS With packetbeat Make sure that we get Dns data and sorting by uniqueDomains ascending"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16265/)

[2021-08-20 13:21] legrego commented on #82467
@pchakour, thanks for taking the time to share your concerns.

This doesn't help you at all, but some of the differences you outlined are enhancements that we also have planned for Kibana, although the timeline for them isn't clear yet.

Are you leveraging the same hooks/core APIs as the Spaces plugin to achieve saved object isolation?
If the two plugins are able to co-exist, then I wonder if it w

[2021-08-20 13:21] Kerry350 commented on #109394
I can confirm this is fixed with #109273, so I'll close this issue.

However, interestingly, I do wonder if there's a bug in the EUI data grid component. The root cause of this issue was a `text-align: center` being applied to the alert status row, via `setCellProps`. But when the columns are re-ordered the new column also inherits that `text-align: center`, even though it should have applied only

[2021-08-20 13:22] #109394 closed

[2021-08-20 13:38] jportner commented on #109349
These test changes are included in #108103, it has passed CI and it has no pending reviews, not sure why that hasn't merged yet, @ThomThomson were you waiting on something else?

[2021-08-20 13:42] jonathan-buttner commented on #109378
@MadameSheema yeah my PR fixes this. It hasn't been merged to 7.15 yet (it is in master though). The backport was failing some unrelated tests yesterday it's here though: https://github.com/elastic/kibana/pull/109334

This is a little concerning though because I believe the way we implemented it was to still allow `in-progress` to be a valid status and it would get displayed as `acknowledged` in t

[2021-08-20 13:48] azasypkin commented on #109349
Ah, missed that, thanks! I'll move forward and close my PR then.

[2021-08-20 13:50] NaveenkumarNatarajan opened #109450 "Visualization - Controls"
**Kibana version:**
7.14
**Elasticsearch version:**
7.14
**Server OS version:**
Ubuntu 18.04
**Browser version:**
Google Chrome
**Browser OS version:**
Version 92.0.4515.159
**Original install method (e.g. download page, yum, from source, etc.):**
debian
**Describe the bug:**
Does not loads index names to select and so unable to add controls visualization

**Steps to reproduce:**
1. Open Visualize

[2021-08-20 13:58] #109450 closed

[2021-08-20 13:58] ghudgins commented on #101377
just checking in on this, for 8.0, do you need anything from @elastic/datavis on this?

[2021-08-20 13:59] ferullo commented on #109376
Could you please share log in details for the Kibana instance this hapepend on? I'd like to look at a few things.

[2021-08-20 13:59] NaveenkumarNatarajan commented on #109450
After flushing out all existing index patterns created using old version, it is working!

[2021-08-20 14:07] #109349 closed

[2021-08-20 14:11] rudolf commented on #109189
I agree with the idea that imports need to be validated and that this includes business rule validation, not just simple schema validation. We need more teams in Kibana to think defensively about all user input including the HTTP APIs (not so much for security, but for supportability and helping users avoid difficult to recover from situations and not least preventing migrations from failing due t

[2021-08-20 14:12] liza-mae commented on #105317
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:12] liza-mae opened #109454 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_field_formatter·ts - management field formatter field format editors String format edit formats , and check available formats types"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_field_formatter·ts**
**Stack Trace:**
[code]
**Other test failures:**
- management  field formatter field format editors String format edit formats "after each" hook for ", and check available formats types"
- management  field formatter field format editors String format check formats check field format of "

[2021-08-20 14:13] liza-mae opened #109455 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/download_csv·ts - dashboard Reporting Download CSV E-Commerce Data Download CSV export of a saved search panel"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/download_csv·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Download CSV E-Commerce Data Downloads a filtered CSV export of a saved search panel

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testRep

[2021-08-20 14:13] liza-mae commented on #109455
Relates to: elastic/kibana#103430

[2021-08-20 14:13] liza-mae commented on #97559
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #98418
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #105354
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #102008
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #105355
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #105356
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #98419
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #105357
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae commented on #98420
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:13] liza-mae opened #109456 "[test-failed]: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/ilm_migration_apis·ts - Reporting APIs ILM policy migration APIs detects when no migration is needed"
**Version: 7.15.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/ilm_migration_apis·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:14] liza-mae commented on #105319
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:14] liza-mae commented on #105338
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:14] liza-mae commented on #72165
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-08-20 14:14] liza-mae opened #109457 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page allows to update the saved object when submitting"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**
- saved objects management saved objects edition page allows to delete a saved object
- saved objects management saved objects edition page preserves the object references when saving

 _Test Report: https://internal-ci.elast

[2021-08-20 14:14] liza-mae commented on #109457
Relates to: elastic/kibana#96947

[2021-08-20 14:15] liza-mae opened #109458 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_timelion·ts - visualize app new charts library visualize ciGroup7 Timelion visualization should display correct data for specified index pattern and timefield"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_timelion·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart colors for multiple expressions
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart data

[2021-08-20 14:15] liza-mae opened #109459 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_time_series·ts - visualize app visualize ciGroup12 visual builder Time Series Elastic charts should display correct chart data for overridden index pattern"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_time_series·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae commented on #98403
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae commented on #92303
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae commented on #76181
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae commented on #86524
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-08-20 14:16] liza-mae commented on #97540
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-08-20 14:16] liza-mae commented on #92307
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae opened #109460 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/advanced_settings/feature_controls/advanced_settings_security·ts - Advanced Settings security feature controls global advanced_settings read-only privileges "before all" hook for "shows Management navlink""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/advanced_settings/feature_controls/advanced_settings_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:16] liza-mae commented on #92309
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-08-20 14:16] liza-mae opened #109461 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/graph/feature_controls/graph_security·ts - graph app feature controls security global graph read-only privileges "before all" hook for "shows graph navlink""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/graph/feature_controls/graph_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- graph app feature controls security no graph privileges "before all" hook for "doesn't show graph navlink"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/

[2021-08-20 14:17] liza-mae opened #109462 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/graph/graph·ts - graph app graph "before all" hook for "should show correct node labels""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/graph/graph·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:17] liza-mae opened #109463 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/reporting·ts - discover Discover CSV Export Generate CSV: new search generates a report from a new search with data: default"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/reporting·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover Discover CSV Export Generate CSV: new search generates a report from a new search with data: discover:searchFieldsFromSource
- discover Discover CSV Export Generate CSV: new search generates a report with no data
- discover

[2021-08-20 14:18] liza-mae commented on #97537
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:18] liza-mae opened #109464 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/timelion/feature_controls/timelion_security·ts - Timelion feature controls security global timelion read-only privileges "before all" hook for "shows timelion navlink""
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/timelion/feature_controls/timelion_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:18] stratoula commented on #106352
Some notes from syncing offline with @timroes, @alexwizp and @ghudgins
- We will try to be bwc, we are working on a PR right now https://github.com/elastic/kibana/pull/109090
- There might be some cases that break, we might want to add a note on our documentation
- Need to define which will be the default vega spec, are we going to change it (use `auto_date_histogram ` but there is the problem wit

[2021-08-20 14:18] nreese opened #109465 "[maps] auto fit to bounds not working when map is embedded in dashboard"
Regression caused by https://github.com/elastic/kibana/pull/99661

[2021-08-20 14:18] elasticmachine commented on #109465
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-20 14:19] liza-mae opened #109466 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows configuring http advanced options"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:19] liza-mae opened #109467 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts - Uptime app with real-world data overview page pagination is cleared when filter criteria changes"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data overview page clears pagination parameters when size changes

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:20] liza-mae commented on #109467
Relates to: elastic/kibana#57737

[2021-08-20 14:20] liza-mae opened #109468 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation·ts - machine learning data frame analytics classification creation bank marketing loads the data frame analytics wizard"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning  data frame analytics classification creation bank marketing navigates through the wizard and sets all needed fields
- machine learning  data frame analytics classification creation bank

[2021-08-20 14:20] liza-mae commented on #105884
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts**
**Stack Trace:**
[code]
**Other test failures:**
- transform creation with runtime mappings batch transform with pivot configurations and runtime mappings runs the transform and displays it correctly in Discover page
- transform creation with runtime mappings batch t

[2021-08-20 14:20] liza-mae opened #109469 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/cloning·ts - transform cloning clone transform with latest function navigates through the wizard, checks and sets all needed fields"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/cloning·ts**
**Stack Trace:**
[code]
**Other test failures:**
- transform cloning clone transform with latest function runs the clone transform and displays it correctly in the job list

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testR

[2021-08-20 14:21] liza-mae commented on #105902
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/logstash/pipelines_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2193/testReport/_

[2021-08-20 14:21] liza-mae opened #109470 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots Print Layout downloads a PDF file"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots PNG Layout downloads a PNG file: large dashboard
- dashboard Reporting Dashboard Reporting Screenshots Preserve Layout downloads a PDF file: large dashboard

 _Test Rep

[2021-08-20 14:23] stratoula commented on #54088
As @lukeelmers informed me we might not need to do the first step. It seems that all the deprecated settings are already surfaced in the upgrade assistant

https://github.com/elastic/kibana/issues/54088#issuecomment-902614230

We need to check it first!

[2021-08-20 14:23] elasticmachine commented on #109447
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-20 14:23] elasticmachine commented on #109447
Pinging @elastic/siem (Team:SIEM)

[2021-08-20 14:23] elasticmachine commented on #109470
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 14:23] elasticmachine commented on #109470
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-20 14:24] elasticmachine commented on #109469
Pinging @elastic/ml-ui (:ml)

[2021-08-20 14:24] elasticmachine commented on #109468
Pinging @elastic/ml-ui (:ml)

[2021-08-20 14:24] elasticmachine commented on #109467
Pinging @elastic/uptime (Team:uptime)

[2021-08-20 14:24] ghudgins commented on #55262
related discuss issue - https://discuss.elastic.co/t/can-i-put-the-label-value-outside-the-vertical-bar/282077

[2021-08-20 14:24] elasticmachine commented on #109466
Pinging @elastic/uptime (Team:uptime)

[2021-08-20 14:24] elasticmachine commented on #109464
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:25] elasticmachine commented on #109463
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-20 14:25] elasticmachine commented on #109463
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 14:25] elasticmachine commented on #109462
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:25] dplumlee commented on #109378
Known issue thats been created already, working on it now https://github.com/elastic/kibana/issues/108244

[2021-08-20 14:25] elasticmachine commented on #109461
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:26] elasticmachine commented on #109460
Pinging @elastic/kibana-core (Team:Core)

[2021-08-20 14:26] pchakour commented on #82467
Thanks for the answer, it's very clear :+1:

I get it the concern about the complexity to maintain dependencies between plugins. It's obvious that the complixity and the testing combination will increase with the time. Hope somedays all spaces plugin features will fit my needs :-)
At the meantime, I will found a way to run my plugin...

Actually, I wrote my own wrapper for saved objects client. Th

[2021-08-20 14:26] elasticmachine commented on #109458
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:26] elasticmachine commented on #109459
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:27] elasticmachine commented on #109455
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-20 14:27] elasticmachine commented on #109455
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 14:28] elasticmachine commented on #109456
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-20 14:28] elasticmachine commented on #109454
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 14:28] elasticmachine commented on #109457
Pinging @elastic/kibana-core (Team:Core)

[2021-08-20 14:32] pheyos commented on #109468
This happened because of slow loading times: the `mlNoDataFrameAnalyticsFound` didn't appear within 2.5 seconds, so the test tried to click the regular create button, which doesn't exist. I'll try to stabilize this.

[2021-08-20 14:34] pheyos commented on #105884
This is a known issue with the color assertions passing CI and most local systems but failing on some other systems. We're already thinking about how to solve this.

[2021-08-20 14:40] pheyos commented on #109469
The test failure says `EuiDataGrid rows should be '5' (got '0')` but the failure screenshot shows the five rows ok:

![image](https://user-images.githubusercontent.com/1945390/130250356-d52961a6-74e2-49e9-94a5-3a86ba3826de.png)

I suspect it's a timing issue where the preview needs slightly longer to load in the cloud environment than we currently wait (2 seconds) but right after the failure it's

[2021-08-20 14:42] ThomThomson commented on #109349
@jportner just waiting for CI to pass after merging in the changes from https://github.com/elastic/kibana/pull/109422, and will merge after that!

[2021-08-20 14:43] pheyos commented on #106053
Same error as posted above, maybe we have some kind of race condition there, will try to find out more.

[2021-08-20 14:49] rudolf commented on #108993
From my point of view we're all on the same page about the risk of introducing and using this API and although we might not have a solution soon it's encouraging that we have some options to explore so that in the future we would not have to block Kibana anymore.

So I'm +1 for proceeding with this :+1:

[2021-08-20 14:50] #105338 closed

[2021-08-20 14:50] paul-tavares commented on #109397
@academo could you look into this issue when you get a chance? Looks like the URL for the link is not correct (app id, which is normally given the the method we call to get the URL) showing up in the url.

🙏

[2021-08-20 15:03] mikecote commented on #109095
Some notes as to what will cause the `Detected potential performance issue` message:
1. When any of the stats returned from the health API have a status of warning or error (`configuration`, `workload`, `runtime`, `capacity_estimation`) at that time.
2. When there are expired hot timestamps (`last_update` OR `runtime?.value.polling.last_successful_poll` older than poll_interval + 1s, by default) a

[2021-08-20 15:03] MichaelMarcialis commented on #106380
Unfortunately, I'm still unable to reproduce in Firefox 91 in Windows 10, both in BrowserStack or my VirtualBox VM. Is anyone else able to reproduce? If not, perhaps it may be an issue specific to your local machine @karanbirsingh-qasource (such as a browser extension or some other setting)?

[2021-08-20 15:03] jonathan-buttner commented on #109378
The status of the alert should be displayed as `acknowledged`.

[2021-08-20 15:05] pmuellr commented on #109095
It'll be going off a lot then, and it's yuuuge!  We should be providing a ~5 word "reason" for the failure.  Not clear if the Kibana health status APIs let us do that or not.

[2021-08-20 15:12] pmuellr commented on #109095
Further attempts yesterday at forcing the error yielded nothing.  Forcing all tasks to fail.  Forcing all tasks to time out.  200 rules running with a 1s interval.  Nada.  No warnings.

Looking at some of the cases where this has occurred, it appears the accounting for the number of existing Kibana instances is not correct.  In one case, the report claimed 13, but there were only 6.  I haven't loo

[2021-08-20 15:15] mikecote commented on #109095
I'm thinking the capacity estimation could be acting strangely here as well 🤔 you are right about the `UUIDs` and Kibana will use that to estimate how many Kibanas are running. Though if Kibanas restart, it could seem there are 2x as many Kibanas and if there are no tasks running, it may seem like 1 or 0 Kibanas are running. This plus a spike in alert actions or something could cause the flip/flop

[2021-08-20 15:44] timroes opened #109501 "Discover keeps error state after invalid KQL query"
It seems discover keep the error state of an invalid KQL query if the next search is not revieling documents.

**Steps to reproduce:**

1. View any sample data in Discover
2. Enter the query `foo<bar>` into the query bar and hit refresh.
3. See how this shows an error because of the invalid KQL query (so far so good).
4. Change the query to `foobar` and hit <kbd>Enter</kbd>
5. **Expected Result**:

[2021-08-20 15:44] elasticmachine commented on #109501
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-20 15:45] cjcenizal commented on #109289
Thanks for the explanation, Seb.

[2021-08-20 15:45] #109289 closed

[2021-08-20 15:46] elasticmachine commented on #109456
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 15:46] elasticmachine commented on #109456
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-20 15:47] cjcenizal commented on #109456
Based on the test file history, this is owned by App Services and Reporting.

[2021-08-20 15:56] Dosant opened #109503 "[DataViews][IndexPatterns] Create dialog sometimes calls `_fields_for_wildcard` for non existing index"
**Kibana version:** master, 7.15

**Describe the bug:**

When creating an index we fetch fields only for patterns that have backing indexes,
but sometimes we fetch fields for non-existing indexes - causing redundant network requests and error noise in console with unhandled promise rejections:

![Screen Shot 2021-08-20 at 17 51 10](https://user-images.githubusercontent.com/7784120/130260137-d67034

[2021-08-20 15:56] elasticmachine commented on #109503
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 15:58] #108726 closed

[2021-08-20 16:14] monina-n commented on #109400
hi, this is a known behavior in the new EUI Amsterdam theme. Focus states are highly visible in an effort for accessibility.

No action is needed for now :)

[2021-08-20 16:18] monina-n commented on #108850
Since long field names wrap to a new line (and does not overflow to the side), we can remove the horizontal scrollbar since it's unneeded.

[2021-08-20 16:18] monina-n commented on #109390
I believe the expected behavior is that the rule name is clickable and takes the users to the rule detail page.

@paulewing can you confirm?

[2021-08-20 16:20] angorayc commented on #108852
We might need to hide these actions in case detail's flyout, as there’s no table or filter to reflect the change on this page.

[2021-08-20 16:33] legrego commented on #82467
Yes, you can register your own Capabilities Switcher to turn these off. Completely untested, but something like the following should do the trick:

[code]

[2021-08-20 16:37] afharo commented on #109457
I thought this fix was recently fixed and [backported](https://github.com/elastic/kibana/pull/109244).

Probably the fix was not enough, but I think this time it's only that the build used an outdated snapshot. I checked on the [following 7.15.0-SNAPSHOT build](https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2196/testReport/) and these tests succeeded.

Closin

[2021-08-20 16:37] #109457 closed

[2021-08-20 16:37] afharo commented on #96947
https://github.com/elastic/kibana/pull/109244 should have fixed this already.

[2021-08-20 16:40] legrego commented on #97559
From the 7.15 failure:

![image](https://user-images.githubusercontent.com/3493255/130265966-7692f641-ea1e-4f5a-85f2-626c6c3917e5.png)

[2021-08-20 16:47] jportner commented on #97559
Thanks for the screenshot Larry. So this is the affected code in the 7.15 branch:

https://github.com/elastic/kibana/blob/37a24233d10fb7cf3d159449179248a8be8c0add/x-pack/test/functional/apps/security/management.js#L142-L159

Perhaps this portion of the `before` hook is not functioning as expected:

https://github.com/elastic/kibana/blob/37a24233d10fb7cf3d159449179248a8be8c0add/x-pack/test/function

[2021-08-20 16:52] #109317 closed

[2021-08-20 16:57] kibanamachine opened #109518 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table "before each" hook for "should render correctly after saving""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 16:57] kibanamachine opened #109519 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table "after all" hook for "should display correct values for math aggregation""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 16:57] kibanamachine opened #109520 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder "after all" hook in "visual builder""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 16:57] kibanamachine opened #109521 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/index·ts - visualize app visualize ciGroup12 "after all" hook in "visualize ciGroup12""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 16:57] kibanamachine commented on #50338
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 16:57] kibanamachine opened #109522 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table should display drilldown urls"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16268/)

[2021-08-20 17:01] legrego commented on #97559
It's interesting that this appears to fail consistently on cloud, but never on our normal CI. I don't have any theories as to why that happens though.

One thing we could try, is to replace the `before` hook code with a call to our test service. The before hook shouldn't be testing the UI in order to create a Role, so we can update this to be consistent with the other security-related before hooks

[2021-08-20 17:08] cchaos opened #109523 "[Index Pattern Management] Show empty prompts in the page contents and don't auto-open flyout"
**Kibana version:** 7.15 / Master

There's an empty page pattern emerging throughout Kibana to replace whole page contents with a single empty prompt. This used to be the case with Index Pattern Managment when either no index patterns or no indices existed. However, this empty prompt has been moved to **only** show in the create flyout.

The problems are:

### 1. Triggering a flyout when loading a

[2021-08-20 17:08] elasticmachine commented on #109523
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-08-20 17:09] elasticmachine commented on #109523
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 17:10] #108681 closed

[2021-08-20 17:10] #108896 closed

[2021-08-20 17:14] jportner opened #109525 "Limit authentication providers based on hostname"
_Original comment: https://github.com/elastic/elasticsearch/issues/75557#issuecomment-895943991_

**Describe the feature:**

We can introduce a new optional `origin` configuration property for authentication providers to limit what [origin](https://developer.mozilla.org/en-US/docs/Glossary/Origin)(s) they can be used on. Example:

If you access Kibana via "https://corp.com", you will see the `glob

[2021-08-20 17:14] elasticmachine commented on #109525
Pinging @elastic/kibana-security (Team:Security)

[2021-08-20 17:33] #106651 closed

[2021-08-20 18:18] ymao1 commented on #109247
One side effect of removing preconfigured connectors from being stored in the references array is that when connectors are retrieved using `GET /api/actions/connectors`, there is an aggregation that is performed to determine how many rules are using each connector. This aggregation is performed against the references array

https://github.com/elastic/kibana/blob/92ec225cfd58443cb734c28252ac2e666ac

[2021-08-20 18:50] marshallmain commented on #109015
All the other fields in `kibana.alert.*`, like status, severity, reason, etc, are about the specific alert document so `kibana.alert.id` sounds like it would be an id of the document itself, which is not the case. Making the field name `kibana.alert.instance.id` instead makes it clearer that there's an instance associated with the alert document and that instance has an `id`. Even if someone doesn

[2021-08-20 18:51] cjcenizal opened #109537 "Migrate UA use of getUrlForApp to use locator.getUrl"
For example in [external_links.tsx](https://github.com/elastic/kibana/blob/7.x/x-pack/plugins/upgrade_assistant/public/application/components/overview/fix_deprecation_logs_step/external_links.tsx#L52) we use `getUrlForApp` to generate a URL, but this functionality is baked into the `locator` service. We can replace this with:

[code]

Once this is implemented I believe we can remove `getUrlForApp`

[2021-08-20 18:51] elasticmachine commented on #109537
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-20 18:59] ryankeairns commented on #109523
As opposed to a bug issue, I would prefer running this as a coordinated project with direction from Product. There are now many solutions at play and we need to get them aligned.

I agree with the general assessments listed above and also want to add the 'Create an index pattern anywhere' context. To me, we have a V1 of the latter and need to continue iterating on it to address the UX concerns not

[2021-08-20 19:09] bhavyarm commented on #98180
I just ran across a confusing behaviour on layer actions in maps. In maps app - any user change to layer action -can be saved. And if you navigated away from the maps after doing something on layer actions - then Kibana warns the user. But if you do the same thing in dashboard - then Kibana wont tell the user to save. IMHO - this should behave like the maps app. Thanks!

[2021-08-20 19:09] neptunian opened #109538 "[Stack Monitoring] Change Messaging to distinguish between different rules of the same rule type"
If, for eg., the user has 2 Disk usage rules and one is set at 10% and the other at 40% but all the nodes are at 90% you will get the same message for both rules.  I think we should perhaps include the rule name or include the threshold they set it at:

<img width="742" alt="Screen Shot 2021-08-20 at 2 52 52 PM" src="https://user-images.githubusercontent.com/1676003/130281552-9394e698-9851-4a79-9e

[2021-08-20 19:09] elasticmachine commented on #109538
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-20 19:21] nickofthyme commented on #108797
Ok so I ran the docker image for BC [`7.15.0-d9929120`](https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html#documentation) using Chrome and was still not able to reproduce the issue locally.

[code]

[code]

@bhavyarm any ideas what else I should try?

[2021-08-20 19:22] bhavyarm commented on #108797
@nickofthyme I am going to ask somebody in the team to try and buzz you back here :) Thanks!

[2021-08-20 19:36] bhavyarm opened #109539 "Kibana warns users about unsaved changes when they perform either hide or show layer action in maps app but not on maps panel in dashboard"
**Kibana version:** 7.15.0 BC1

**Elasticsearch version:** 7.15.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana warns user when they perform hide or show layer action in maps app. Writing this down so geo team can figure

[2021-08-20 19:36] elasticmachine commented on #109539
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-20 19:39] #67617 closed

[2021-08-20 19:44] sophiec20 commented on #80634
Copying over from https://github.com/elastic/kibana/issues/107731 for visibility.

A user who wants to upload a file via Add Data requires the following privileges:

- `manage_ingest_pipelines` cluster privilege.
- `create`, `create_index`, `manage` and `read` index privilege for the target index name (or `*` indices)
- `All` Discover kibana privilege

These are quite a convoluted set of privilege

[2021-08-20 19:53] jportner opened #109544 "Transform unsafe fields in Elasticsearch client payloads"
The [Elasticsearch Node.js client](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/index.html) (ES client) has prototype pollution protection enabled by default; if an unsafe field is detected (`constructor.prototype` or `__proto__`), it throws an error. This protection can be optionally disabled by using [the `disablePrototypePoisoningProtection` option](https://www.el

[2021-08-20 19:53] elasticmachine commented on #109544
Pinging @elastic/kibana-security (Team:Security)

[2021-08-20 19:57] kobelb opened #109545 "macOS distributable downloads Chromium binaries"
If you download and run the 7.14 Kibana distributable, it will download Chromium for all platforms and log the following:

  log   [09:51:23.963] [info][plugins][reporting] Downloading https://storage.googleapis.com/headless_shell/chromium-d163fd7-linux_x64.zip to /Users/kobelb/Downloads/kibana-7.14.0-darwin-x86_64/.chromium/chromium-d163fd7-linux_x64.zip
  log   [09:51:23.963] [info][plugins][rep

[2021-08-20 19:57] elasticmachine commented on #109545
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-20 19:57] elasticmachine commented on #109545
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-20 20:03] turnUpTheChill opened #109546 "Group APM Services by labels"
**Describe the feature:**
Would like to be able to group APM services based on user provided tags.

**Describe a specific use case for the feature:**
Currently only environment can be used to group services. Would like this capability extended to user provided `labels` to allow for more fine grained groupings.

[2021-08-20 20:04] neptunian commented on #108713
Went through it all without issue.  Would like to repeat on staging but doesn't seem to be working at the moment so will try later.

[2021-08-20 20:08] pmuellr commented on #106854
@gchaps we're hoping you can provide some alternative wording that would make this less "scary".  Even with "potential" in there, folks have been concerned about this.

The basic idea is that if you see this message just once in a while, things are likely fine.  Kibana was busy for a bit, then recovered.  If you see it a lot, then you probably need to investigate.

We have some separate work, prob

[2021-08-20 20:12] pmuellr commented on #106854
I'm not sure there's actually a way to turn this message OFF - and wondering if we should provide that.  Presumably a new cloud/docker-allowable config (or piggy-backed somehow on an existing one) to avoid logging it altogether.

[2021-08-20 20:30] chrisronline commented on #106854
If the config is disabled, we default to the existing behavior where it would log at `debug` level: https://github.com/elastic/kibana/blob/master/x-pack/plugins/task_manager/server/lib/log_health_metrics.ts#L47

[2021-08-20 20:38] pcsanwald opened #109548 "Safari breaking on Kibana load on cloud"
**Kibana version:**

7.14.0

**Elasticsearch version:**

7.14.0

**Server OS version:**

Catalina 10.15.7

**Browser version:**

Safari Version 13.1.3 (15609.4.1)

**Describe the bug:**

**Steps to reproduce:**

1. Using Safari, create a deployment on [cloud.elastic.co](https://cloud.elastic.co)
2. When the deployment finishes creating, click "continue"
3. Kibana fails to load with `__kbnBundles__

[2021-08-20 20:38] ghudgins commented on #101942
+1 https://discuss.elastic.co/t/remaking-legacy-visualizations-on-kibana-problems-with-colors-and-filters/282118

[2021-08-20 20:41] simianhacker commented on #108713
@sorantis @ravikesarwani You should take a peak at @matschaffer 's document. I think he highlights some things that we should consider fixing or changing from a product standpoint.

[2021-08-20 21:11] rashmivkulkarni commented on #109548
Just FYI :  On Safari Version ```14.1.2 (15611.3.10.1.5, 15611)``` , am able to successfully login to a newly created 7.14 deployment from cloud   ( GA- version)

[2021-08-20 21:14] MichaelMarcialis opened #109554 "Top banners appear over data grids in full screen"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
macOS 11.4

**Browser version:**
Chrome 92.0.4515.159

**Browser OS version:**
macOS 11.5.2

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
When viewing a full screen data grid in a space that has a top banner applied, that top banner appears ov

[2021-08-20 21:14] elasticmachine commented on #109554
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-08-20 21:14] elasticmachine commented on #109554
Pinging @elastic/eui-design (EUI)

[2021-08-20 21:14] elasticmachine commented on #109554
Pinging @elastic/kibana-core (Team:Core)

[2021-08-20 23:16] debadair commented on #106624
We discussed possibly also using this approach for the links from the Elasticsearch specification to the docs, which have been a recurring cause of build problems in the current system.

[2021-08-20 23:17] kibanamachine opened #109564 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/graph/feature_controls/graph_security·ts - graph app feature controls security global graph all privileges "before all" hook for "shows graph navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16424/)

[2021-08-20 23:17] debadair commented on #108601
@AnneB-SEO Are there any "gotchas" that spring to mind around doing this?

[2021-08-21 00:08] AnneB-SEO commented on #108601
Thanks for the ping @debadair! We have set parameters to "ignore" in the Google Search Console but often Google serves them in search results, so they get picked up in GA, GSC and other reporting and can "compete" with the base URL. Let's have a zoom next week to chat about this.

Cross-referencing another ticket asking for something similar (tracking in the nav) https://github.com/elastic/website

[2021-08-21 00:52] jtibshirani commented on #109100
I'm sorry for the delay! I ended up opening a revert PR here: https://github.com/elastic/elasticsearch/pull/76798. My local testing shows it will resolve the issue.

[2021-08-21 02:02] peluja1012 commented on #108331
@arvindersingh-qasource Could you please retest in BC2?

[2021-08-21 02:02] elasticmachine commented on #108331
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-21 02:04] peluja1012 commented on #95827
This is addressed by https://github.com/elastic/kibana/pull/109155

[2021-08-21 02:04] #95827 closed

[2021-08-21 02:16] peluja1012 commented on #99975
Fixed by https://github.com/elastic/kibana/pull/104960

[2021-08-21 02:16] #99975 closed

[2021-08-21 02:31] peluja1012 commented on #108893
Thanks, @deepikakeshav-qasource! @mdefazio I'm closing this issue but feel free to reopen if you think the styling needs to be tweaked further.

[2021-08-21 02:31] #108893 closed

[2021-08-21 04:55] kibanamachine commented on #106492
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16429/)

[2021-08-21 08:16] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16433/)

[2021-08-21 08:16] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16433/)

[2021-08-21 08:54] sqren commented on #100672
@cauemarcondes Perfect! Closing

[2021-08-21 08:54] #100672 closed

[2021-08-21 08:58] AndreasRabensteiner opened #109575 "Possibility for turning off alerts for a certain time during the day"
**Describe the feature:**
Have the option to disable alerts for a certain time during the day and run them again at the start of the time.

**Describe a specific use case for the feature:**

At the night systems are updated and services are offline and in this case I don't want to get an alert for for uptime monitor status.
And also to disable or mute other alerts that are not viewed outside offic

[2021-08-21 10:36] pchakour commented on #82467
Ok I will try it later !

Thank you so much for your help :-)

[2021-08-21 14:23] hendry-lim commented on #96189
Issue persists in `7.15.0-SNAPSHOT`.

<details>
<summary>Kibana error log</summary>
[code]
</details>

[2021-08-21 14:35] hendry-lim commented on #106491
Closing, fixed in `7.15.0-SNAPSHOT`.

[2021-08-21 14:35] #106491 closed

[2021-08-21 15:07] liza-mae commented on #109548
I was able to reproduce this error on Safari 12.x.
I was not able reproduce on Safari 14.x.
Side note: our support matrix does state we only support latest GA versions of browsers.

[2021-08-21 15:15] kibanamachine commented on #97943
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/288/)

[2021-08-21 16:15] kevinlog commented on #109248
@parkiino this might be related to the changes you looked at with @angorayc regarding host isolation the the Take Action popover.

Cc @paul-tavares

[2021-08-21 16:20] kevinlog commented on #109397
@academo @paul-tavares I bet all of the links are broken right now.  It should be as simple as updating the ID as you said, Paul.

Esteban, can you work with @paul-tavares or @parkiino to update these links correctly?  We need to fix this for 7.15

[2021-08-21 18:36] pcsanwald commented on #109548
Thanks Liza, I think [Felix's comment](https://elastic.slack.com/archives/C0D8P2XK5/p1629497314345400?thread_ts=1629490783.330000&cid=C0D8P2XK5) does make it seem like Safari<=13 is most likely.

This is a pretty poor experience for everyone not on the latest Safari, I'm [struggling to split out user-agent more precisely than just Safari](https://app.fullstory.com/ui/G3PDG/segments/everyone/people

[2021-08-21 19:17] liza-mae commented on #109548
Thanks, I agree Paul, it is a poor experience and if it is a straightforward fix, we should fix it.

[2021-08-21 19:35] lukeelmers commented on #54123
We decided that, since this is a frequently used API, we will defer making the actual breaking change in 8.0, and instead address the other items in the scope (introducing new snake case fields, marking camelCase ones as deprecated).

Actual removal of the deprecated fields will be treated as a follow-up task, and timing for that is TBD.

[2021-08-21 23:31] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16448/)

[2021-08-22 06:52] KannappanSomu opened #109580 "Searchable snapshot action - in cold phase --> restores the index to random data tier instead of only cold data tier"
**Kibana version:*7.13.4*

**Elasticsearch version:*7.13.4*

**Server OS version:*eck - kubernetes 1.18.19*

**Browser version:*google chrome latest*

**Browser OS version:*windows 10*

**Original install method (e.g. download page, yum, from source, etc.):*eck manifest*

**Describe the bug:*Searchable snapshot action - in cold phase --> restores the index to random data tier instead of only cold

[2021-08-22 07:28] vladefanov commented on #109213
@stratoula One more question. Where is it written? Is there a guide?

[2021-08-22 08:23] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16308/)

[2021-08-22 10:54] kibanamachine commented on #106492
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16459/)

[2021-08-22 12:16] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16461/)

[2021-08-22 14:16] kibanamachine commented on #51044
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16463/)

[2021-08-22 20:13] mgiota commented on #109379
@katrin-freihofner From your video I can tell you are not using the latest version of the workflow status feature (the UI of the workflow status buttons is not uptodate with the latest changes @afgomez did)

[2021-08-22 20:34] mgiota opened #109582 "[Logs UI] criteria popovers stay open on rule creation"
### 📝 Summary

In the `Alerts and rules` flyout of the Logs UI user can't easily create log threshold rule types, because following criteria popovers stay open when clicked twice:

- `With log level`
- `Is error`

https://user-images.githubusercontent.com/2852703/130368962-c1053e29-1b8a-4e96-af01-6d2c23a644b3.mov

**UPDATE**
It looks like more popovers stay open when clicked twice:
- `When the cou

[2021-08-22 20:34] elasticmachine commented on #109582
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-22 20:57] mgiota commented on #108493
While fixing this bug, another bug was spotted https://github.com/elastic/kibana/issues/109582 and will be fixed as part of the same PR

[2021-08-22 21:32] elasticmachine commented on #108733
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-22 21:48] mgiota commented on #108733
@katrin-freihofner I have updated from latest master and I can not reproduce. Your UI doesn't look uptodate (I can tell from the workflow status buttons).
https://user-images.githubusercontent.com/2852703/130370978-6f7a9cf4-939b-4202-b255-17fd80b36088.mov

[2021-08-22 22:29] sqren commented on #95029
Replaced by https://github.com/elastic/kibana/issues/108445

[2021-08-22 22:29] #95029 closed

[2021-08-22 22:54] elasticmachine commented on #109564
Pinging @elastic/kibana-security (Team:Security)

[2021-08-22 22:57] mistic commented on #106492
This test keeps failing and looks flaky. Skipping for now.

master/8.0: c2ec613

[2021-08-22 22:59] mistic commented on #89072
This test keeps failing and looks flaky. Skipping.

master/8.0: dc6d50a

[2021-08-22 23:00] elasticmachine commented on #97943
Pinging @elastic/kibana-qa (Team:QA)

[2021-08-22 23:06] elasticmachine commented on #51044
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-22 23:09] mistic commented on #106650
The test keeps failing and looks flaky. Skipping.

master/8.0: 8f3a069
7.x/7.16: dd45ade

[2021-08-22 23:17] mistic opened #109583 "Failing ES Promotion: .APM API tests trial apm_8.0.0 correlations latency slow transactions with data and default args returns significant terms"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3273/testReport/ju

[2021-08-22 23:17] elasticmachine commented on #109583
Pinging @elastic/apm-ui (Team:apm)

[2021-08-22 23:24] mistic commented on #109583
Skipped.

master/8.0: eb08603
7.x/7.16: e31d32a
7.15: d8385b8

[2021-08-23 01:39] kibanamachine commented on #106492
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16325/)

[2021-08-23 03:31] matschaffer opened #109584 "[Stack Monitoring] Remove APM detail status from overview page"
**Describe the feature:**

The APM overview page includes a `apmDetailStatus` section that seems to have been borrowed from the instance pages.

When used on the overview page it's mostly blank and "seems" broken.

![Stack_Monitoring_-_test-cluster_-_APM_server_-_Elastic](https://user-images.githubusercontent.com/690/130386198-f8b9f856-3e79-405b-9d2c-94bf29b941fd.png)

I can't think of what might

[2021-08-23 03:31] elasticmachine commented on #109584
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-23 03:31] elasticmachine commented on #109584
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 05:02] kibanamachine commented on #84992
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16329/)

[2021-08-23 06:37] sabarasaba opened #109587 "[Upgrade Assistant] Use AppContext for services instead of KibanaContext"
As mentioned in https://github.com/elastic/kibana/pull/109536 we dont need to introduce KibanaContext for plugin dependencies since we already have AppContext in place.

[2021-08-23 06:37] elasticmachine commented on #109587
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-23 07:28] MadameSheema commented on #89784
@kqualters-elastic @XavierM any update regarding this? thanks

[2021-08-23 07:36] MadameSheema commented on #109400
Thanks @monina-n ! :)

Closing since this is the expected behaviour.

[2021-08-23 07:36] #109400 closed

[2021-08-23 07:40] pgayvallet commented on #109544
We currently don't have any wrapper around the library's client, we're just using a vanilla client and only customizing it via the allowed configuration options. So before going any further, we need to make sure this proposal could be done by just client configuration.

A system request being a request against a Kibana system index then, right?

Got some doubts about the technical feasability. I'm

[2021-08-23 07:47] Dmitriynj commented on #92437
It is no longer reproducible in master anymore.

[2021-08-23 07:47] #92437 closed

[2021-08-23 07:47] afharo commented on #107300
Thank you @cachedout! Let us know if we need to put more research into this issue.

[2021-08-23 07:51] cachedout commented on #107300
@afharo Sadly, we're [still seeing this problem](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/master/10505/pipeline).

We're waiting a full five minutes for Kibana to return a response at this point. It's really starting to seem less as if the `/status/` API is taking a long time and more as if all of Kibana has ceased to be responsive. I continue not

[2021-08-23 07:57] elasticmachine commented on #109564
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-23 08:00] academo commented on #109397
@kevinlog @paul-tavares seems like the way to create the detection rules link was changed while memory and behaviour PRs were not merged and it was only updated for malware and ransomware.

[2021-08-23 08:00] academo commented on #109397
related PR https://github.com/elastic/kibana/pull/109591

[2021-08-23 08:02] sabarasaba opened #109592 "Create deprecation logs data stream by default"
In the Kibana Upgrade Assistant overview page, we would like to show the users a link to the Discovery app. In order to do so we need to create an index pattern first and it's not currently supported to do so for an inexistent index.

I would like to propose that instead of creating the deprecation logs data stream the first time a document is indexed that its created by ES on startup if the index

[2021-08-23 08:03] delvedor commented on #109544
Currently you can't disable the protection on a per-request basis. As per discussion with @mshustov and @legrego, you can disable it client-wide, as we'll disable/remove that options in the version 8 of the client.

[2021-08-23 08:08] sabarasaba commented on #109592
Closing in favour of https://github.com/elastic/elasticsearch/issues/76802

[2021-08-23 08:08] #109592 closed

[2021-08-23 08:16] amolnater-qasource commented on #108178
Hi @hop-dev
We are not able to reproduce this issue on 7.15.0 BC-1, hence for now we are **closing** this issue.
Further we will reopen this issue if found it reproducible.

**Build details:**
Build: 43636
Commit: d791226d9385122f33f4a5ca38fa5369012fbec3

Thanks

[2021-08-23 08:16] #108178 closed

[2021-08-23 08:18] jeanfabrice opened #109593 "TSVB visualization Top N incorrect cursor type when link url is applied to item"
**Steps to reproduce**

1. Create a TSVB visualization / Top N
2. Define Item url using Panel options
3. Move cursor over items in list

![image](https://user-images.githubusercontent.com/2949987/130410217-92d08ed2-00f9-4e52-af7c-c3c62492e381.png)

**Actual Result**
* Cursor type when moving over item in list is: "text selection cursor"

**Expected Result**
* Cursor type when moving over item in l

[2021-08-23 08:18] elasticmachine commented on #109593
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-23 08:24] dej611 commented on #85518
@Karrade7 when using formula, as workaround for this type of issues, you could expand the Formula's editor and that would ignore the suggestions - at least during editing.

[2021-08-23 08:45] pgayvallet commented on #109554
It should appear. Always. Period. :)

[2021-08-23 08:47] bytebilly commented on #109281
I'd suggest to create a single integration for Language Clients, and use a dropdown or something similar to switch between different languages and automatically update instructions.

This is more aligned with the long term view of having Apps as the first-class entity (rather than the language client itself), and may remove some complexity of grouping multiple integrations in a good way.

[2021-08-23 08:54] bytebilly commented on #109281
@ezimuel since language clients are very generic, I don't think we should do something very specific here.
Ingestion of a simple doc with a few fields could be enough and fit well into a textbox.
See https://www.elastic.co/guide/en/cloud/current/ec-getting-started-python.html#ec_ingest_data_2 or something along those lines.

[2021-08-23 08:57] pgayvallet commented on #108346
@mshustov what this part of the initial scope?

[2021-08-23 09:04] sqren commented on #103417
This logic was changed in https://github.com/elastic/kibana/pull/99905 and will likely be fixed by 7.15. Please comment to re-open this if this continues to be an issue.

[2021-08-23 09:04] #103417 closed

[2021-08-23 09:05] #108393 closed

[2021-08-23 09:17] elasticmachine commented on #90803
Pinging @elastic/ml-ui (:ml)

[2021-08-23 09:34] peteharverson commented on #102610
The Transform wizard already supports the range filter for numeric or date time field, and to make it clear that a transform can also support more complex aggregation use cases beyond the UI controls, https://github.com/elastic/kibana/pull/108720 has added extra help text for 7.16.0 to direct usage towards the JSON editor if needed.

[2021-08-23 09:34] #102610 closed

[2021-08-23 09:51] muskangulati-qasource commented on #108151
Hi @kevinlog,

We tested this ticket on the latest 7.15.0 BC1 build and found that the issue is now fixed.

**Build Details**:
[code]

**Screenshots**:
![K2](https://user-images.githubusercontent.com/60252716/130400288-23631f7c-a7aa-4f58-bf8c-1fc8ba3fdd70.JPG)
![K3](https://user-images.githubusercontent.com/60252716/130400292-3edb8705-918f-467b-8300-720b1b3706cd.JPG)
![K4](https://user-images.gith

[2021-08-23 09:51] muskangulati-qasource commented on #109376
Hi @ferullo,

We have shared the details on slack and here are the logs from the Linux agent installed:
[logs.log](https://github.com/elastic/kibana/files/7030862/logs.log)

FYI, we set the `linux.advanced.logging.file` as trace and then fetched these logs.

Thanks!!

[2021-08-23 10:02] #99044 closed

[2021-08-23 10:05] mshustov opened #109602 "Improve Kibana logging for OOM crashes"
## Summary
Given: an ESS instance with 1Gb RAM migrates from `v7.13.2` to `v7.14.0`.
Docker image crashes without any logs:
[code]
According to the logs, Kibana started SO migration and suddenly bootstrapped again:
[code]
The deployment has been re-configured to run a Kibana instance with 2Gb RAM. After that, the migration failed with `[undefined]: Response Error` message. This might be an indicat

[2021-08-23 10:05] elasticmachine commented on #109602
Pinging @elastic/kibana-core (Team:Core)

[2021-08-23 10:10] pgayvallet commented on #109294
Well... this is more of a per-design issue rather than a bug.

From the initial design, the responsibility of sorting the results belongs to the individual result providers rather than the GS root service. This means we don't really have any way to compare distinct providers' results scores. This decision was mostly driven by the fact that SO results fetched from ES can't really be manually scored

[2021-08-23 10:17] #96691 closed

[2021-08-23 10:22] MadameSheema commented on #91821
@deepikakeshav-qasource can you please validate this on 7.15BC1? Thanks :)

[2021-08-23 10:23] jakommo opened #109605 "Add a hint to dev tools -> profiler, to make users aware that they can paste a pre-captured profile json output"
**Describe the feature:**

The search profiler UI does support pasting a pre-captured profile output and we already point this out in the docs [here](https://www.elastic.co/guide/en/kibana/current/xpack-profiler.html#profiler-render-JSON), but this is a little know feature and I think we should add a hint or extra text to the UI to raise awareness for it.

**Describe a specific use case for the fe

[2021-08-23 10:23] elasticmachine commented on #109605
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-23 10:24] sqren opened #109606 "[APM] Test plan: Metrics UI"
The following setting is now the default.

[code]

To force the ui to use transaction instead of metrics use the search bar (kuery bar):

[code]

TODO:
 - [x] Verify that visualisations and stats (numeric values like averages) don't change
 - [x] Verify that a small note is displayed informing the user that transactions are used

[2021-08-23 10:24] elasticmachine commented on #109606
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 10:24] MadameSheema commented on #105749
@muskangulati-qasource can you please check if this behaviour is still happening on 7.15 BC1? Thanks :)

[2021-08-23 10:26] MadameSheema commented on #106233
@deepikakeshav-qasource @karanbirsingh-qasource can you please check if this is still happening on 7.15BC1? thanks

[2021-08-23 10:31] deepikakeshav-qasource opened #109607 "[Security Solution] Host details fly out modal is not working when clicking host name under Alert table."
**Describe the bug**
Host details fly out modal is not working when clicking host name under Alert table.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts tab
2. Click on Host name name
3. Observe that host details fly out modal is

[2021-08-23 10:31] elasticmachine commented on #109607
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-23 10:32] deepikakeshav-qasource commented on #109607
@manishgupta-qasource Please review!!

[2021-08-23 10:38] sqren opened #109608 "[APM] Empty state for new "Latency distribution""
**Problem**
The empty state for the new "Latency distribution" component shows an infinite loading spinner and no histogram.

![infinite loading spinner](https://user-images.githubusercontent.com/209966/130433932-fff74d36-bbc4-4561-a581-4cb378958987.gif)

**Expected**
When there is no data the histogram should still show with an empty state, and the loading spinner show no longer show.

cc @walter

[2021-08-23 10:38] elasticmachine commented on #109608
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 10:41] deepikakeshav-qasource commented on #91821
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC1** build and observed that issue is **Fixed**. Validation message is displaying for tags under rule creation and cases

**Build Details:**

[code]

**Screenshot:**
**Rule Creation:**
![image](https://user-images.githubusercontent.com/61860752/130434359-f1a5fd79-4516-48d7-97dc-e610c7e1cdfa.png)

**Cases:**
![image](https://user-images

[2021-08-23 10:42] #91821 closed

[2021-08-23 10:42] sqren opened #109609 "[APM] Warning about transaction-based-ui is shown when there's no data"
**Problem**

When there is no data the warning badge "Based on sampled transactions" is displayed:

![image](https://user-images.githubusercontent.com/209966/130434315-1f25e7c4-fbaa-4b5d-8888-7f955a3c459c.png)

**Expected**
When there is no data the warning badge should not be displayed because nothing in the ui is based on transactions (if it's empty).

[2021-08-23 10:42] elasticmachine commented on #109609
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 10:44] elasticmachine commented on #109607
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-23 10:45] elasticmachine commented on #109608
Pinging @elastic/ml-ui (:ml)

[2021-08-23 10:48] #100248 closed

[2021-08-23 10:58] #109259 closed

[2021-08-23 10:59] mgiota opened #109610 "[RAC][Observability] Investigate possibility of alerts being triggered/shown twice"
### 📝 Sumamary
I have following generated alerts and it looks like each alert appears twice. It turns out that these alerts refer to different hosts.
<img width="1876" alt="Screenshot 2021-08-23 at 12 47 16" src="https://user-images.githubusercontent.com/2852703/130435642-1d9c4426-33cf-41e3-a5c8-ca5d84257795.png">

### ✔️ Acceptance criteria
- Host name should be indexed
- Host name should be incl

[2021-08-23 10:59] elasticmachine commented on #109610
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-23 10:59] afharo commented on #105557
@TinaHeiligers I wonder if we should hold off from backporting the changes in the PR #107663 to 7.14.x. I think that the changes involve an actual new feature (Product Checking), and I wonder if they can be introduced in a patch release.

What do you think?

[2021-08-23 11:11] mgiota opened #109616 "[RAC][Observability] Alerts table UI should be updated without refresh when marking an alert as Acknowledged"
### 📝 Summary
When I mark an alert as `Acknowledged`, I get the notification on bottom right that alert was marked as acknowledged, but the UI table doesn't get updated. The alert still appears as Active.
https://user-images.githubusercontent.com/2852703/130439611-c106c662-118e-41bb-9feb-faba6c0f4338.mov

### ✔️ Acceptance criteria
Once I mark an alert as Acknowledged, the UI should be automatical

[2021-08-23 11:11] joshdover commented on #94340
After getting up to speed with how the Fleet plugin uses these Saved Object types, I agree we should begin cleaning these old `epm-package-assets` objects. On a setup where the system, elastic-agent, and fleet-server packages are installed, XXX of these objects will be created. Upgrading each of these packages once results in doubling to XXX and so on.

Large number of Saved Objects can cause Kiba

[2021-08-23 11:16] #84805 closed

[2021-08-23 11:18] vipulsrivastava-qasource commented on #106573
Hi @kpollich

We have regressed this issue on below build and found that this issue is  **NOT Fixed**.

Please found build and testing details.

**Build Details:**

Version: 7.15.0-BC1
Build number: 43636
Commit: d791226d9385122f33f4a5ca38fa5369012fbec3
Artifact: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Screen Recording**

https://user-images.githubusercontent.com/69579402

[2021-08-23 11:19] mgiota opened #109619 "[RAC][Observability] Overflow options "mark as acknowledged" and "closed selected" don't appear in all rows"
### 📝 Summary
There is some logic that determines when the status related actions should appear. This logic needs to be clearly defined so that we can determine if the appearance or not of these options is because of a bug or because of some logic we are not aware of.
https://user-images.githubusercontent.com/2852703/130520934-b91bc272-a4a4-4708-95c3-6a955c4ffc07.mov

### UPDATE

It turns out ther

[2021-08-23 11:19] elasticmachine commented on #109619
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-23 11:24] rudolf commented on #109602
In this specific case it seems like the first batch is already causing the OOM, but when there's many batches memory could also keep on growing because we add `transformedDocs` to the executionLog after every state transition.

https://github.com/elastic/kibana/pull/109540 will reduce the memory consumption by redacting the `transformedDocs` that's kept in the `executionLog` after every state tran

[2021-08-23 11:27] mgiota opened #109624 "[RAC][Observability] An alert that was marked as acknowledged disappears from the list of acknowledged"
TBD

[2021-08-23 11:28] elasticmachine commented on #109624
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-23 11:38] walterra commented on #109061
Resolved by #109187.

[2021-08-23 11:38] #109061 closed

[2021-08-23 11:39] #106381 closed

[2021-08-23 11:47] sebelga opened #109628 "[Form lib] Add option to indicate that a validator is asynchronous"
Consumers of the form lib can add synchronous and asynchronous validators to their field and it works "out of the box". This has a not optimal side effect: asynchronous HTTP request are called twice.

Indeed, the form lib will first try to run all the validators synchronously. If it detects that one validators returns a `then`, it knows that it is asynchronous. It then re-run all the validations a

[2021-08-23 11:47] elasticmachine commented on #109628
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-23 11:48] machadoum commented on #103441
Fixed by: https://github.com/elastic/kibana/pull/106716

[2021-08-23 11:49] machadoum commented on #106819
Fixed by: https://github.com/elastic/kibana/pull/106716

[2021-08-23 11:53] sophiec20 commented on #108997
ML modules `security_windows` and `security_linux` are behaving as expected, however ML modules `security_network` and `security_auth` contain hard-coded values for `job_id` and `indices` in their datafeed config files. This explains the difference seen in behaviour.

When installing this module from the Security app, jobs are created using the `defaultIndexPattern` which is defined in the manifes

[2021-08-23 11:55] weltenwort commented on #109624
Probably a duplicate of #108670

[2021-08-23 11:56] weltenwort commented on #109616
Probably a duplicate of #109379

[2021-08-23 12:10] #109084 closed

[2021-08-23 12:18] pgayvallet commented on #109189
OTOH this specific need seems to be more about reconfiguring/mutating objects at import time rather than really validating them.

It's also because import tends to reflect the migration approach, and doc migration during the SO migration is document-per-document too.

If we want to do that, we can already do it by adding this `disabled` property during export rather than import, and then have the

[2021-08-23 12:23] muskangulati-qasource opened #109633 "[Security Solution] [Enhancement] Host Isolation should show unsupported for the endpoints not supported"
**Describe the feature**
Host Isolation should show unsupported for the endpoints not supported

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.15.0 environment should be deployed.
2. Linux agent for RHEL or Centos version 7 should exist

**Steps to Reproduce**
1. Navigate to the Endpoints Tab
2. Click on the status of the policy, say: success.
3. Observe the logs for host isolation sho

[2021-08-23 12:23] elasticmachine commented on #109633
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-23 12:24] manishgupta-qasource commented on #109633
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-08-23 12:25] samratbhadra-qasource opened #109634 "[Event Filters] No divider is present between two Event filter entries."
**Describe the bug:**
No divider is present between two Event filter entries.

**Build Details:**
VERSION: 7.15.0-BC1
BUILD: 43636
COMMIT: d791226d9385122f33f4a5ca38fa5369012fbec3
ARTIFACT: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC1 environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kibana.
2. Navigate to Endpoints tab

[2021-08-23 12:25] elasticmachine commented on #109634
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-23 12:25] elasticmachine commented on #109634
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-23 12:26] #105942 closed

[2021-08-23 12:29] #109216 closed

[2021-08-23 12:29] paul-tavares commented on #109633
@ferullo is this expected behaviour? The value is coming back on the Policy Response message, which the UI just displays as is.

[2021-08-23 12:36] manishgupta-qasource commented on #109634
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-08-23 12:40] joshdover commented on #82851
FYI fixes have been merged and backported for both the 7.15.0 and 7.14.1 releases that update the "empty state" logic for both the "add data" onboarding interstitial and the Analytics apps' 'no index pattern' flows. This new logic will now show these UIs whenever the default Fleet assets are installed in Cloud and on-prem. This fix will be testable on Cloud staging once BC2 is available for 7.15.0

[2021-08-23 12:51] joeafari opened #109639 "Text color not automatically adjusted when dark mode is enabled"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Describe the bug:**
When `dark mode` is enabled, some text are not clearly visible (dark text) and there is no option to change the text color.
![image](https://user-images.githubusercontent.com/71259267/130449138-37a9c9c9-5b98-4538-ae3d-a1218048bfbf.png)

A dashboard where this issue is seen is: `[Filebeat IIS] Access and error logs

[2021-08-23 12:53] pmuellr opened #109640 "[alerting] index threshold rule type not showing runtime fields"
**Kibana version:** 7.14.0

The index threshold rule type does not list runtime fields in the "grouped over" selector, for runtime fields defined in a data view (nee index pattern).  I happened to try it on a data view which has a keyword runtime field, and it was not listed as a possibility.  It also does not list runtime fields on the "of" selector (when doing an aggregation over a numeric field

[2021-08-23 12:53] elasticmachine commented on #109640
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-23 12:55] mgiota opened #109641 "[RAC][Observability] Update Cases UI "In progress" to "Acknowledged""
### 📝 Summary
In the Observability Cases page the UI needs to be updated to reflect the recent changes that were done to the workflow statuses. `In progress` should be updated to `Acknowledged`

### Overview page
<img width="383" alt="Screenshot 2021-08-23 at 14 44 21" src="https://user-images.githubusercontent.com/2852703/130449602-d86a8b39-db0d-4f33-88a2-f4e48cf33fcb.png">

<img width="528" alt=

[2021-08-23 12:55] elasticmachine commented on #109641
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-23 12:55] elasticmachine commented on #109641
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-23 12:55] #109501 closed

[2021-08-23 12:55] Karrade7 commented on #85518
Thanks. I hadn't thought of that.

On Mon, Aug 23, 2021, 2:24 AM Marco Liberati ***@***.***>
wrote:

[2021-08-23 13:15] #109397 closed

[2021-08-23 13:17] karanbirsingh-qasource commented on #106380
hi @MichaelMarcialis

thanks for checking the issue reproducibility again .

we have checked the issue on fresh Firefox browser installation without any extension installed on it as per the suggestion but found this issue to be **still occuring** .

Not sure what exactly is the root cause of this issue whether it a screen-resolution or anything else.

So we have compiled up all the information fro

[2021-08-23 13:26] ferullo commented on #109633
I agree, this is an endpoint bug. The message should say host isolation is unsupported and the status should be "unsupported". We'll fix it.

[2021-08-23 13:37] paul-tavares commented on #109633
Thanks @ferullo . I assigned this to you. Not sure if it should be transferred over to the endpoint team's repo.

[2021-08-23 13:41] michaelolo24 commented on #108987
Hey @mdefazio, the reason the field isn't showing up is because the alert is missing the fields necessary to generate that statement. Taking a look at filtering for alerts that don't have reason defined, you see the severity and risk score are also missing. As this message expands to include a bit more data or depend on different data, it could be shown more consistently

![image](https://user-ima

[2021-08-23 13:46] afharo opened #109654 "Typescript enhancements to type `NodesVersionCompatibility`"
This NIT comment is correct type-wise: https://github.com/elastic/kibana/pull/107663#discussion_r693939332

However, looking at the logic, when `isCompatible === false`, `message` always exists. Should we improve our types to make sure that this is always true, and to protect us from future changes in the code?

[2021-08-23 13:46] elasticmachine commented on #109654
Pinging @elastic/kibana-core (Team:Core)

[2021-08-23 13:47] elasticmachine commented on #109369
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-23 13:50] pmuellr commented on #106854
except for the `logger.warn()`, here :-)

https://github.com/elastic/kibana/blob/6e3af2b5240532faf4a29edc0d1769d87bd43957/x-pack/plugins/task_manager/server/lib/log_health_metrics.ts#L79-L87

I'm thinking we probably want to change that to a `logger.debug()` ...

[2021-08-23 13:51] MadameSheema commented on #108154
Tested this on the latest 7.15 branch (e818e986d291dae5a0a791c79c3ff4b5aba87596):

- After reseting the fields, I'm not able to add more fields to the timeline

[2021-08-23 13:52] #108148 closed

[2021-08-23 13:55] jbudz commented on #106749
Resolved by #107813

[2021-08-23 13:55] #106749 closed

[2021-08-23 13:55] chrisronline commented on #106854
Ah yea, true. I think we added that to avoid spamming the user if the config was off, but still give them some awareness that something might be off

[2021-08-23 13:59] pmuellr commented on #106854
Per https://github.com/elastic/kibana/issues/109095, we're still spamming the user :-), hence my thinking we could change this to a `logger.debug()`.  I don't mind it being as spammy there ...

[2021-08-23 14:01] MadameSheema commented on #108942
@karanbirsingh-qasource please validate the fix of this issue on 7.15 BC2, thanks :)

[2021-08-23 14:06] mshustov commented on #109544
To attack a Kibana instance, an abuser should have `write` access to Elasticsearch. But if a malicious actor has `write` access, then a deployment has got a bigger problem of data exposure and data loss. Doesn't it?

Kibana provides two interfaces to interact with the Elasticsearch server:
- `asInternalUser` is meant to be used for accessing system indices
- `asCurrentUser` provides access to data

[2021-08-23 14:09] #108910 closed

[2021-08-23 14:12] mshustov commented on #108346
@pgayvallet yes, in the issue title: `we might need to refactor AuthHeadersStorage and Elasticsearch service to support auth credentials to be updated after onAuth stage.`

[2021-08-23 14:17] pmuellr opened #109659 "[event log] add a new 'kibana.connector' object property to the event log documents"
We have the luxury of ECS's `rule` property to fill in details about alerting rules:

https://github.com/elastic/kibana/blob/6a61c43f06a87936f68dbc357bb6f5be06e5dbe3/x-pack/plugins/event_log/generated/mappings.json#L173-L219

However, we do **NOT** have an equivalent place to store connector information.  Ideally, we'd be storing the rule id, space ids, name at a minimum.  This would allow us to s

[2021-08-23 14:17] elasticmachine commented on #109659
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-23 14:17] mistic opened #109660 "Failing ES Promotion: APM API tests trial apm_8.0.0 correlations errors failed transactions with data and default args returns significant terms"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3274/testReport/ju

[2021-08-23 14:17] elasticmachine commented on #109660
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 14:19] mistic commented on #109660
Skipped.

master/8.0: c736d99
7.x/7.16: e8e2639
7.15: 8d25053

[2021-08-23 14:20] sqren opened #109661 "[APM] Only show `span.sync` badge when relevant"
Related: https://github.com/elastic/apm-agent-nodejs/issues/1881

With https://github.com/elastic/kibana/pull/55113 we started showing badges for `span.sync` to indicate whether the span was async or blocking.

**Problem**
It is visually very noisy to display the badge for every span. This was raised in https://github.com/elastic/apm-agent-nodejs/issues/1881

![image](https://user-images.githubuse

[2021-08-23 14:20] elasticmachine commented on #109661
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 14:23] stacey-gammon commented on #109232
Yes, it does/should. There is a bug where API declarations are not being collected recursively.  I'm looking into a fix!

[2021-08-23 14:25] #94638 closed

[2021-08-23 14:31] Dosant commented on #109548
(from slack) @weltenwort found that looks like caused by BigInt notation: https://github.com/elastic/kibana/blob/5a00ff3075f3228527c6f48e9cbdfb3ac25e2ebf/src/plugins/data/common/search/aggs/buckets/lib/cidr_mask.ts#L32 added in 7.14. Safari 13 doesn't support it: https://caniuse.com/bigint

[2021-08-23 14:31] elasticmachine commented on #109548
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-23 14:42] MadameSheema opened #109668 "[Security Solution] User with read alert permission can close alerts when creating an exception"
**Describe the bug:**
-  User with read alert permission can close alerts when creating an exception

**Kibana/Elasticsearch Stack version:**
- 7.15 e818e986d291dae5a0a791c79c3ff4b5aba87596

**Preconditions:**
- To have a user with read alert permission
- To have alerts generated

**Steps to reproduce:**
1. Login with the user with read alert permission
2. Add an exception from the rule page
3. Ma

[2021-08-23 14:42] elasticmachine commented on #109668
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-23 14:42] elasticmachine commented on #109668
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-23 14:43] jportner commented on #109544
A system request being the usage of the `ElasticsearchClient` that is configured as the internal user: https://github.com/elastic/kibana/blob/5480c4d0f4a6ecb04a0ba0e55b9370b850a29cf5/src/core/server/elasticsearch/client/cluster_client.ts#L68

I didn't mean to suggest that we attempt to change the config on a per-request basis. Though, if [this is getting removed in version 8 of the client anyway](

[2021-08-23 14:46] cavokz commented on #109668
Isn't it worthy to add a test verifying that such options are actually disabled as expected?

[2021-08-23 14:46] tylersmalley opened #109669 "Test"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-08-23 14:46] elasticmachine commented on #109669
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-23 14:46] #109669 closed

[2021-08-23 14:51] gchaps commented on #106854
Does something like this work?

**Task Manager detected a degradation in performance**

This is usually temporary, and Kibana can recover automatically. If the problem persists, check the docs for information about debug logging and troubleshooting.

[2021-08-23 14:54] paul-tavares commented on #109634
@parkiino when you get a chance, can you look into this one as well. Looks like the changes to the Exception Item component might have had caused this issue

[2021-08-23 15:03] #92583 closed

[2021-08-23 15:17] jloleysens opened #109680 "[Reporting/Dashboard] Print optimized reports don't use title set in Dashboard"
**Kibana version:**

Master, present on `84cbc7b0fed` (so up to 7.15)

**Describe the bug:**

When providing a new title (in Dashboard) for a visualization created in Lens, the print-optimised report does not display the Dashboard-provided title in the report result.

**Steps to reproduce:**
1. Create a new Lens visualisation (in Visualizations plugin), giving it a title like "vis 1"
2. Add the vi

[2021-08-23 15:17] elasticmachine commented on #109680
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-23 15:17] cchaos commented on #109523
The main reason I have it marked as a bug is because the original intent was to have this be the experience directly within Analytics apps like Discover, but since the redirect to Management still occurs, that experience is pushed to the Management application. These changes aren't ideal for the Management application and degrades the previous experience where the empty states were handled inline

[2021-08-23 15:27] pmuellr commented on #106854
That does sound better, but is quite wordy for a log message :-).  I think it captures what I'm hoping to express though, so is better than what we have now.

Any thoughts on adding a doc link?  I believe we may be able to add a doc link to our "health status" that gets percolated all the way up to Kibana's overall status, so another option is to refer to the overall Kibana status here (also a lin

[2021-08-23 15:37] MadameSheema commented on #108981
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks

[2021-08-23 15:39] MadameSheema commented on #108914
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-23 15:44] MadameSheema commented on #108990
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-23 15:45] MadameSheema commented on #108988
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-23 15:46] MadameSheema commented on #108984
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-23 15:46] gchaps commented on #106854
Here are a couple of shorter versions

**Task Manager detected a degradation in performance**
This is usually temporary, and Kibana can recover automatically. If the problem persists, check the docs for [troubleshooting information](https://www.elastic.co/guide/en/kibana/current/task-manager-health-monitoring.html#task-manager-consuming-health-stats).

**Task Manager detected a potential performan

[2021-08-23 15:46] MadameSheema commented on #108912
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-23 15:49] jportner commented on #109197
Perhaps it makes sense to implement `bulkDelete` first (#30503) and then just allow `bulkGet`/`bulkDelete` to specify a different target namespace. Thoughts?
I'm not sure what we would name the option for `delete` to specify a different space to delete from, and we don't have equivalents for `get` and `update`.
We _do_ have an equivalent for `create`, it's the `initialNamespaces` option, but that

[2021-08-23 15:52] MadameSheema commented on #109435
closing as is working as expected.

[2021-08-23 15:52] #109435 closed

[2021-08-23 16:01] elasticmachine commented on #109395
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-23 16:05] stephmilovic commented on #108917
@adamwdraper I cannot reproduce on current master. If you are able to reproduce could you please Zoom and show me?

[2021-08-23 16:06] afharo opened #109684 "[SavedObjects Service] - Do not start migrations if Kibana is shutting down"
In the PR #107663, we noticed that the SO Migrations are still triggered if Kibana triggers a shutdown while it's waiting for the ES connection to report compatible nodes.

This is because the RxJS observable completes and the `.toPromise()` resolves with `undefined`.

Looking at RxJS implementation, I noticed that using `first()` instead of `take(1)` may solve this issue: it makes `.toPromise()`

[2021-08-23 16:07] MadameSheema commented on #108870
@muskangulati-qasource can you please reproduce this issue on 7.15BC2? Thanks :)

[2021-08-23 16:08] elasticmachine commented on #109684
Pinging @elastic/kibana-core (Team:Core)

[2021-08-23 16:12] MadameSheema commented on #108865
Closin as this is the expected behaviour: https://eui.elastic.co/#/tabular-content/data-grid

[2021-08-23 16:12] #108865 closed

[2021-08-23 16:13] MadameSheema commented on #108856
@monina-n can you please help with this? Thanks :)

[2021-08-23 16:13] bhavyarm opened #109686 "Upgraded space in 7.15 don't handle colour if its not defined in previous versions"
**Kibana version:** 7.15.0 BC1

**Elasticsearch version:** 7.15.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If the User upgrades a space without a defined colour attribute from previous versions - then Kibana sets it as tra

[2021-08-23 16:13] elasticmachine commented on #109686
Pinging @elastic/kibana-security (Team:Security)

[2021-08-23 16:14] kibanamachine opened #109687 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/editing·ts - transform editing edit transform with pivot configuration updates the transform and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16489/)

[2021-08-23 16:14] kibanamachine commented on #107853
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16489/)

[2021-08-23 16:14] kibanamachine commented on #93890
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16489/)

[2021-08-23 16:14] kibanamachine opened #109688 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/jobs/close_jobs·ts - apis Machine Learning jobs close_jobs rejects request for ML Viewer user"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16489/)

[2021-08-23 16:16] #109280 closed

[2021-08-23 16:16] MadameSheema commented on #108692
@mandeepkaur-qasource can you please validate the fix of this issue on 7.15BC2?

[2021-08-23 16:27] mattkime commented on #109544
I'm not sure I'm 100% following the suggestion to transform dangerous field names but generally speaking I'm not so crazy about the idea as it seems like it would require extra handling when creating queries.

IMO it seems that we should be avoiding object mutation since thats the mechanism by which these problematic field names have unwanted behavior. Its as simple as using `new Map` instead of `

[2021-08-23 16:31] #55140 closed

[2021-08-23 16:32] jonathan-buttner commented on #108662
@deepikakeshav-qasource can you email me the creds for the elastic stack that has the alert on it? Can you also confirm via the Discover app that searching for `_id: 58af803e296a36b187910b341c75124af9efeb572f97fd0f3eb0b8e563e69c57` within index: `.siem-signals-default-000001` shows that `host.ip` is a comma delimited string like in the json.txt file you provided? `"10.0.6.31,127.0.0.1,::1"` If it

[2021-08-23 16:35] MadameSheema commented on #109395
@muskangulati-qasource please validate the fix of this issue on 7.15 BC2, thanks :)

[2021-08-23 16:35] #108854 closed

[2021-08-23 16:44] MadameSheema commented on #109390
Closin this issue as per @paulewing confirmation, currently this is the expected behaviour. Thanks :)

[2021-08-23 16:44] #109390 closed

[2021-08-23 17:05] elasticmachine commented on #109688
Pinging @elastic/ml-ui (:ml)

[2021-08-23 17:06] mikecote commented on #107846
Similar issue: https://github.com/elastic/kibana/issues/54191

[2021-08-23 17:06] #107853 closed

[2021-08-23 17:07] elasticmachine commented on #109687
Pinging @elastic/ml-ui (:ml)

[2021-08-23 17:10] mistic opened #109703 "Failing ES Promotion: APM API tests trial 8.0.0 on trial license with data queries the search strategy and returns results"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3276/testReport/ju

[2021-08-23 17:10] elasticmachine commented on #109703
Pinging @elastic/apm-ui (Team:apm)

[2021-08-23 17:14] pgayvallet commented on #109544
both `asCurrentUser` and `asInternaUser` are used to query the kibana indices AFAIK. Not sure why we would want to distinguish and have them behave differently? From my understanding, the distinction was more on data vs system indices?

[2021-08-23 17:16] mistic commented on #109703
Skipped.

master/8.0: 25cf47b
7.x/7.16: 3ca3a9a
7.15: 00929ab

[2021-08-23 17:20] ymao1 commented on #109640
Interesting! I tested this on runtime fields added directly to the index, but it seems like adding it through the UI adds it to the Kibana Index Pattern, which is apparently different (TIL!)

[2021-08-23 17:32] pgayvallet commented on #109197
To be perfectly honest, I feel like this 'we need to find another option name than `namespace` because this has been protected for a very long time' doesn't really make any sense now that we're supporting shareable/shared spaces, and I think we'll need to accept it at some point.

Like, only adding multi-NS support to `bulk` operations because we're allowing to specify `namespace` in each element

[2021-08-23 17:43] ymao1 commented on #108716
Information about how we might build and use a custom index for our specific telemetry fields [in this comment.](https://github.com/elastic/kibana/pull/108572#discussion_r694168268)

[2021-08-23 17:51] #108697 closed

[2021-08-23 18:00] kibanamachine commented on #98463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16342/)

[2021-08-23 18:08] #106208 closed

[2021-08-23 18:08] #108493 closed

[2021-08-23 18:08] #109582 closed

[2021-08-23 18:27] jportner commented on #109197
You make some good points about `namespace`, that (using `currentNamespace` instead) definitely sounds like a viable non-breaking option! @legrego do you have any reservations or thoughts about that?

[2021-08-23 18:36] mikecote commented on #107846
Sounds like the services in our docs would be a good starting point before the user has to choose "Other"? https://www.elastic.co/guide/en/kibana/7.14/email-action-type.html#configuring-email

Regarding https://github.com/elastic/kibana/issues/54191, any chance some of those can fill in the `host` and `port` automatically or provide default values?

[2021-08-23 18:37] kobelb commented on #89584
Hey @stratoula, I noticed that you marked a bunch of the plugins prefixed with `vis_type_` as continuing to be disableable in 8.0. Do you mind elaborating on why you think users should be able to explicitly disable them? Are these commonly disabled?

[2021-08-23 18:41] legrego commented on #109197
No immediate reservations. `currentNamespace` is a better name given the `multi-namespace` reality that we find ourselves in.

My only other thought is that the "current namespace" is something that core could start to define in the `8.x` era itself if we wanted it to, as Spaces will no longer be an optional feature, and is considered a platform-level construct that features can build on top of. T

[2021-08-23 18:47] XavierM commented on #87022
@andrew-goldstein, I know that you worked on trying to reduce the size of the header in timeline Can you please share your feedback in this issue?

[2021-08-23 18:52] angorayc commented on #108869
@muskangulati-qasource could you please retest again to see if this issue is happening? Thanks!

[2021-08-23 18:53] cauemarcondes commented on #108510
tests okay.
E2E Test PR: https://github.com/elastic/kibana/pull/109723

[2021-08-23 19:10] jportner commented on #109544
@mattkime Yes that's true, we could blindly remove all instances of the prefix such as `dangerousJsonField-` but that could be problematic. That does really throw a wrench in the works...

Agreed, and I'd like to do that in the long term, it's just figuring out how we get there that's the hard part. As mentioned we don't have a viable way to audit for such object mutation.

Can you point to an exa

[2021-08-23 19:19] mostlyjason commented on #107952
It seems like a near term fix is to update our docs to include use cases where the cluster is running Elastic Cloud and the user adds a self-managed Fleet server. This could instruct the user to download the binaries. I think some other language on the page needs to be updated such as the title which says "Encrypt traffic in a self-managed cluster". It should probably say "Encrypt traffic with a s

[2021-08-23 19:19] mikecote commented on #108077
@chrisronline Regarding the scope of this issue, is it separate to make `findEventsBySavedObjectIds` calls pass in legacyIds (ex: https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/server/rules_client/rules_client.ts#L505), or is it part of this issue?

[2021-08-23 19:24] liza-mae commented on #106873
@tsullivan The diagnostic errors are now fixed and it gives me proper diagnostic error messages.  The diagnostic states to increase ```xpack.reporting.capture.timeouts.waitForElements```, which I did but the report still times out, is there an ideal time for this to be test to?  I tried 60000ms.

[2021-08-23 19:25] cauemarcondes commented on #107728
Tests okay.

[2021-08-23 19:27] dominiqueclarke opened #109730 "[Uptime] [Synthetics integration] Add synthetics integration browser type functional tests"
Following elastic/kibana#102928 and elastic/integrations#1064, functional tests should be added for the browser monitor type of the Synthetics integration.

Our current functional tests ensure that user interactions result in the expected outputted policy. Browser type tests should be added to cover that code path as well.

Adding additional e2e tests for further coverage of all of the checks, inc

[2021-08-23 19:27] elasticmachine commented on #109730
Pinging @elastic/uptime (Team:uptime)

[2021-08-23 19:39] dominiqueclarke opened #109732 "[Uptime] [Synthetics Integration] Add new browser configuration options to the UI"
Heartbeat now supports `ignore_https_errors` and [filter_journeys](https://www.elastic.co/guide/en/beats/heartbeat/master/monitor-browser-options.html#monitor-browser-filter-journeys) options. These options should be added to the Synthetics Integration UI so that users of the Synthetics integration can configure these options.

Full documentation: https://www.elastic.co/guide/en/beats/heartbeat/ma

[2021-08-23 19:40] elasticmachine commented on #109732
Pinging @elastic/uptime (Team:uptime)

[2021-08-23 19:51] legrego commented on #109544
Not necessarily. I'm sure that most of us _indirectly_ have write access to clusters somewhere by virtue of agents that are installed on our machines. They ship information about a runtime that is under our control (our laptops), to a cluster that is not within our control.

The [event log](https://github.com/elastic/kibana/blob/85ff87e8117db9ff50fdaab5f68816b5d7350517/x-pack/plugins/event_log/REA

[2021-08-23 19:53] kibanamachine opened #109734 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_markdown·ts - visualize app visualize ciGroup12 visual builder markdown should allow printing raw timestamp of data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16343/)

[2021-08-23 19:53] alex-fedotyev commented on #109309
@formgeist , you are right that there are two way to think about comparisons:

1. Compare what is available during the window of observation to each other (pretty much split (or group) by X).
2. Comparing versions overall more or less irrelevant to when they were active.

I suggest we focus on 1 which is a more typical operational problem and helps to narrow down to a subset of the data knowing th

[2021-08-23 19:53] chrisronline commented on #108077
This should be part of the issue

[2021-08-23 19:58] dominiqueclarke opened #109735 "[Uptime] [Synthetics Integration] Support nested json blob configuration for nested heartbeat keys"
Currently, the Synthetics package integration spec and the Kibana UI have a flattened configuration object model. Nested heatbeat settings are assigned as individual settings rather than as nested settings. For example, assigning source url and folder for zip url synthetics suites becomes
[code]
Rather than
[code]
The UI form field values resolve to a flattened configuration object, rather than a

[2021-08-23 19:58] jportner commented on #105819
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 19:58] elasticmachine commented on #109735
Pinging @elastic/uptime (Team:uptime)

[2021-08-23 19:58] jportner commented on #105677
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 20:11] liza-mae commented on #105885
Fixed by https://github.com/elastic/kibana/pull/107060

[2021-08-23 20:11] #105885 closed

[2021-08-23 20:11] #84985 closed

[2021-08-23 20:11] #105886 closed

[2021-08-23 20:11] #105887 closed

[2021-08-23 20:11] #105888 closed

[2021-08-23 20:11] #105889 closed

[2021-08-23 20:11] #105890 closed

[2021-08-23 20:11] #105891 closed

[2021-08-23 20:11] #105892 closed

[2021-08-23 20:11] #105893 closed

[2021-08-23 20:11] #105894 closed

[2021-08-23 20:11] #105895 closed

[2021-08-23 20:11] #105896 closed

[2021-08-23 20:11] #105897 closed

[2021-08-23 20:11] #105898 closed

[2021-08-23 20:11] #105899 closed

[2021-08-23 20:11] #105900 closed

[2021-08-23 20:11] #105901 closed

[2021-08-23 20:11] #105903 closed

[2021-08-23 20:11] #105904 closed

[2021-08-23 20:11] #105905 closed

[2021-08-23 20:11] #105906 closed

[2021-08-23 20:13] #98415 closed

[2021-08-23 20:13] #105877 closed

[2021-08-23 20:20] jportner commented on #100067
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 20:22] #109686 closed

[2021-08-23 20:23] jportner commented on #105808
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

Note that there are a few more steps than just switching to use

[2021-08-23 20:23] jportner commented on #105809
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

Note that there are a few more steps than just switching to use

[2021-08-23 20:23] jportner commented on #105810
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

Note that there are a few more steps than just switching to use

[2021-08-23 20:23] jportner commented on #105812
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

Note that there are a few more steps than just switching to use

[2021-08-23 20:25] kibanamachine commented on #92116
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/293/)

[2021-08-23 20:32] jportner commented on #106900
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 20:33] jportner commented on #101177
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 20:35] jportner commented on #105967
In case anyone is following this issue but not the linked meta-issue (#100489):

I published the [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html), please take a look before proceeding with the implementation. And of course, please reach out if you run into any problems!

[2021-08-23 20:42] pmuellr commented on #109095
One thing I finally figured out is that the "Kibana is unavailable" status can be driven by this function.  Specifically, if you change the code to always set the `level` property of `ServiceStatusLevels.unavailable`, Kibana will print a `Kibana is now unavailable` message when it starts, and appears to never change it's status after that.

https://github.com/elastic/kibana/blob/fe6e97f0f9b52c2357

[2021-08-23 21:01] jportner commented on #100489
Note: I edited the issue description and added `uptime-dynamic-settings` on behalf of @elastic/uptime today.

[2021-08-23 21:05] rylnd commented on #108287
Update: this is no longer an issue, and the above behavior can be classified as an unsupported state.

The behavior above arose because I was viewing "legacy" enriched alerts in an intermediate dev state: alerts had mappings for `threat.enrichments`,  _but we were still requesting the old `threat.indicator` fields for timeline_. This led to oddly-shaped `threat.indicator` objects being retrieved,

[2021-08-23 21:05] #108287 closed

[2021-08-23 21:19] debadair commented on #108601
To clarify, these are links from the Kibana UI to the docs, we wouldn't be adding the parameters to links within the docs. However, we would *like* to have a way to track user paths through the docs.

After poking around a bit in Google Analytics, it looks like the tracking parameters will still work if we  switch to using primed search queries instead of hardcoded URLs (https://github.com/elastic

[2021-08-23 21:21] clintandrewhall commented on #103395
Duplicate of #103215.

[2021-08-23 21:21] #103395 closed

[2021-08-23 21:22] jportner commented on #108959
From the proposed Option 1:

It's implied but I wanted to restate that assets (such as dashboards, etc.) will first be made _share-capable_ in the 8.0 release, and _fully shareable_ in a future 8.x release. The latter has not yet been planned.

FWIW, defining `convertToMultiNamespaceTypeVersion` < 8.0 is [prohibited](https://github.com/elastic/kibana/blob/7fe2d177a13611a1143c3a4cc3bc150a795c8aa6/s

[2021-08-23 21:44] ryankeairns commented on #106380
@karanbirsingh-qasource do you see this in other apps, such as Dashboard or Discover, or is it in Security apps only?

[2021-08-23 21:50] #108733 closed

[2021-08-23 21:52] clintandrewhall commented on #104751
Fixed by @crob611 and #105832

[2021-08-23 21:53] #104751 closed

[2021-08-23 21:56] clintandrewhall commented on #103215
Whenever we see a bug like this, we often ask if there are any filters affecting the query.  The data preview will display data regardless of filters, but if there are filters on the workpad, they will affect the results.  A good way to verify is to go to "Add element" > "Other" > "Debug filters", or to create a new element, open the Expression Editor, and paste the following:

[code]

[2021-08-23 21:58] LeeDr opened #109746 "Index pattern wizard sometimes doesn't enable timefield comboBox for CCS pattern"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** Ubuntu

**Browser version:** Chrome

**Browser OS version:** Ubuntu

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz

**Describe the bug:** There's an intermittent problem on the index pattern wizard where sometimes the timefield comboBox is never enabled after entering the patter

[2021-08-23 21:58] elasticmachine commented on #109746
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-23 22:01] clintandrewhall commented on #103215
I confirmed this is not an issue in v7.6.0.  Please reopen if you find another test case and confirm filters are not an issue.

[2021-08-23 22:01] #103215 closed

[2021-08-23 22:03] kibanamachine opened #109747 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/saved_search_job·ts - machine learning anomaly detection saved search with filter and lucene query job creation runs the job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16346/)

[2021-08-23 22:03] kibanamachine commented on #100183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16346/)

[2021-08-23 22:03] kibanamachine commented on #100184
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16346/)

[2021-08-23 22:22] elasticmachine commented on #109747
Pinging @elastic/ml-ui (:ml)

[2021-08-23 22:22] #100183 closed

[2021-08-23 22:22] #100184 closed

[2021-08-23 22:35] liza-mae commented on #106873
The diagnostic gives this error at 30s or 60s and throws an error at 120s.  Something isn't working right.

```@30s```

![Screenshot from 2021-08-23 16-32-28](https://user-images.githubusercontent.com/23424008/130528027-dcfe359c-86bb-4ba0-a218-c59d3805d72f.png)

```@120s```

![Screenshot from 2021-08-23 15-07-49](https://user-images.githubusercontent.com/23424008/130528032-dafeb7d8-f9b4-4a9d-a10a-

[2021-08-23 22:49] liza-mae commented on #106873
Logs

[code]

[2021-08-23 22:55] businessK8T commented on #68049
Hi there.  We're seeing this in our 7.9 instance today.

[2021-08-23 23:01] bhavyarm opened #109751 "Data points are not printing on old map type panels in dashboard"
**Kibana version:** 7.15.0 bc1

**Elasticsearch version:** 7.15.0 bc1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If a dashboard contains a coordinate map and a region map panel (xpack.maps.showMapVisualizationTypes: true in kiba

[2021-08-23 23:01] elasticmachine commented on #109751
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-23 23:11] clintandrewhall commented on #37199
This is no longer an issue in more recent versions of Kibana, especially since Canvas Home was rewritten.

[2021-08-23 23:11] #37199 closed

[2021-08-23 23:27] YulNaumenko commented on #108077
I will add the proper changes 👍 to this [PR](https://github.com/elastic/kibana/pull/109365)

[2021-08-24 01:24] TinaHeiligers commented on #107422
@tylersmalley I have a PR in draft to resolve https://github.com/elastic/kibana/issues/107246, so we can close this issue.

[2021-08-24 01:41] ferullo commented on #109633
This is fixed in 7.15.0 BC2

[2021-08-24 02:25] matschaffer commented on #108713
If anyone wants to check cloud, please try (and review) https://github.com/elastic/observability-dev/pull/1651

[2021-08-24 02:26] mattkime commented on #68049
@businessK8T Could you post a har file recording captured while the problem is demonstrated?

[2021-08-24 02:55] matschaffer commented on #108713
I did a `docker compose pull` today up to 00929abb4f6e4c071cfc423368e239530b486264 and I think we might have a breadcrumb breakage going on. I'll open an issue once I poke around a bit more. I'm pretty sure my last round of testing was on 81e86207a4e276826fb0744e78239370f448c1ef but not 100% since I'm just checking what's now an untagged kibana image on my docker (probably used to be 7.15.0-SNAPSH

[2021-08-24 03:40] clintandrewhall commented on #43583
As noted in https://github.com/elastic/kibana/pull/109761, we need help from those supporting the Timelion feature to advise as to how to funnel the error up to Canvas for display.

[2021-08-24 03:41] #90833 closed

[2021-08-24 03:44] clintandrewhall commented on #34499
The Workpad Loading Modal no longer exists with the new home screen design.

[2021-08-24 03:44] #34499 closed

[2021-08-24 03:45] YulNaumenko commented on #107846
We may also think here about "defaulting" some values for email providers like host (smtp.gmail.com for gmail, outlook.smtp.com etc) and port: 587 or 465.

[2021-08-24 03:53] axw opened #109764 "[Fleet] 'index: false' is ignored in fields when installing templates"
**Kibana version:**

8.0.0-SNAPSHOT

**Elasticsearch version:**

8.0.0-SNAPSHOT

**Describe the bug:**

When Fleet installs the Elasticsearch index template for an integration, it ignores `index: false` on fields. I think it's because of this: https://github.com/elastic/kibana/blob/b382500a6bf26cf70f8a28f739f467b7a0e03696/x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts#

[2021-08-24 03:53] elasticmachine commented on #109764
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 03:53] elasticmachine commented on #109764
Pinging @elastic/fleet (Feature:EPM)

[2021-08-24 03:58] stratoula commented on #89584
Hey @kobelb we haven't checked the telemetry but we discussed it with @timroes and we think that the legacy visualizations should be disableable. For example, a user works only with Lens and doesn't want the other editors. (this is the reason that Lens is also not disableable). I can also think of users that don't want vega as an option.  We thought that as there are a lot of ways to create differ

[2021-08-24 04:04] elasticmachine commented on #109639
Pinging @elastic/kibana-app (Team:KibanaApp)