[2021-02-13 18:45] mistic commented on #90416
The test looks flaky. Skipping for now.

master/8.0:
7.x/7.12:

[2021-02-13 19:08] xennn opened #91337 "Default Template for Detections"
Please add a Global Template for Detection Rules for Alerting.
Now we must always add the same setting on each rule manualy.

For example if you create a new derection Rule we must add the Alert option, choose email for example and add a recipient, subject with variables, and message with varianles.

[2021-02-13 19:09] xennn opened #91338 "Detections Hostname Variable"
Please add the variable for a Hostname in the Detections Alert
(Alert notification placeholders)

https://www.elastic.co/guide/en/security/master/rules-ui-create.html

We use the feature for notification and cant include the hostname in the email

For the Watchers this Feature work there but not in Alerting from detections

[2021-02-13 19:11] kibanamachine commented on #91191
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11879/)

[2021-02-13 19:12] pmuellr commented on #90568
Thanks for feature request.

We have two related issues already open:

- https://github.com/elastic/kibana/issues/84217 - provide mustache functions for ease-of-use in transforming mustache variables
- https://github.com/elastic/kibana/issues/89161 - ability to interact with the alert query result

The first is a specific implementation request for more mustache helpers, that might be able to help

[2021-02-13 20:11] kibanamachine commented on #86948
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11880/)

[2021-02-13 20:37] Solayappan opened #91340 "[Security Solution]"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**

**Server OS version:**

**Browser and Browser OS versions:**

**Elastic Endpoint version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**

**Steps to reproduce:**

1.
2.
3.

**Current behavior:**

**Expected behavior:**

**Screensh

[2021-02-13 20:37] elasticmachine commented on #91340
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-13 20:38] #91340 closed

[2021-02-13 22:27] manavkapoor commented on #69612
Any update on this issue?

[2021-02-14 00:28] ThomThomson opened #91343 "Dashboard Quicksave Exits Edit Mode"
### Issue
Change quicksave to not boot users out of edit mode and add a loading state to quicksave button to prevent spam.

See discussion here:
https://github.com/elastic/kibana/pull/90320

### Open Questions
Should the normal save function stay in edit mode, or switch to view mode?
Should the save modal have a 'return to view mode' switch?
Should the Cancel button be renamed 'finish' to better c

[2021-02-14 00:28] elasticmachine commented on #91343
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-14 01:38] kibanamachine commented on #90723
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11756/)

[2021-02-14 01:38] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11756/)

[2021-02-14 01:51] bradenlpreston commented on #90261
thanks @kevinlog - this is a big improvement. I am in favor of merging this PR.

[2021-02-14 05:08] kibanamachine commented on #90723
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11889/)

[2021-02-14 05:08] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11889/)

[2021-02-14 11:06] restrry commented on #91056
I'm aware of at least a couple of places when Core depends on external modules:
- on cli https://github.com/elastic/kibana/issues/76935
- data plugin https://github.com/elastic/kibana/issues/55485

How soon should it be fixed to unblock Core migration to Bazel?

[2021-02-14 11:28] restrry opened #91347 "Migrate Security solution plugin to TS project"
There are a few plugins left to migrate to independent TS projects:
- security_solution
- case
- lists

This work required to unblock migration to the Bazel build toolchain https://github.com/elastic/kibana/issues/69706
and improve IDE responsiveness.

The migration might be blocked by circular dependencies between
- `fleet` and `security_solution` plugins https://github.com/elastic/kibana/issues/

[2021-02-14 11:28] elasticmachine commented on #91347
Pinging @elastic/siem (Team:SIEM)

[2021-02-14 11:28] elasticmachine commented on #91347
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-14 15:32] Bamieh commented on #82020
`SavedObjects should support importing/exporting even if they're hidden from the API` is merged https://github.com/elastic/kibana/pull/90178

[2021-02-14 15:59] giladgal opened #91348 "Contextual documentation and example in the Painless creation UI"
When writing Painless and benefiting from the autocomplete UI (e.g. in Painless lab or when creating a new runtime field in the index template or from the index pattern UI), it would be good if users will get the relevant documentation (e.g. for the method they selected) as well as relevant code samples that they can copy and revise. Ideally this will be presented dynamically within the same scree

[2021-02-14 15:59] elasticmachine commented on #91348
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-14 16:14] kibanamachine opened #91350 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation·ts - machine learning data frame analytics regression creation electrical grid stability edits the analytics job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11770/)

[2021-02-14 17:05] #82027 closed

[2021-02-14 19:33] elasticmachine commented on #91350
Pinging @elastic/ml-ui (:ml)

[2021-02-14 22:58] beanaroo commented on #57709
Can we please consider adding the option to specify which column can be wrapped and which shouldn't be wrapped? The below screenshot exhibits a lot of wasted whitespace:
![image](https://user-images.githubusercontent.com/1748909/107891694-26f73200-6f85-11eb-9664-218806832da5.png)

[2021-02-15 02:23] kibanamachine commented on #82556
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11780/)

[2021-02-15 02:42] kibanamachine opened #91359 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/tls·ts - apis SecuritySolution Endpoints Tls Test with Packetbeat Tls Overview Test "before all" hook for "Ensure data is returned for FlowTarget.Source""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11781/)

[2021-02-15 02:42] kibanamachine opened #91360 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/tls·ts - apis SecuritySolution Endpoints Tls Test with Packetbeat Tls Overview Test "after all" hook for "Ensure data is returned for FlowTarget.Destination""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11781/)

[2021-02-15 07:10] pheyos commented on #90189
Fixed in #90455

[2021-02-15 07:10] #90189 closed

[2021-02-15 07:27] azasypkin commented on #69612
If you're using Kibana 7.11+, would you mind trying with [Kibana "native" anonymous access](https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html#anonymous-authentication) instead? With this you don't need to disable security in Kibana and you also don't have to enable anonymous access in Elasticsearch directly if you don't need it.

[2021-02-15 07:29] elasticmachine commented on #91331
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-15 07:50] elasticmachine commented on #91292
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-15 07:57] SergeyKleyman opened #91364 "[APM] Setup instructions in Kibana for PHP agent"
**Versions**
Kibana: 7.12

We plan to align APM PHP agent 1.0 GA with 7.12 stack release and it would be nice to have setup instructions in for PHP agent in Kibana.
Setup instructions in for PHP agent can be copied from the online documentation (https://www.elastic.co/guide/en/apm/agent/php/current/setup.html).

[2021-02-15 07:57] elasticmachine commented on #91364
Pinging @elastic/apm-ui (Team:apm)

[2021-02-15 08:02] SergeyKleyman opened #91365 "[APM] PHP agent icon is fuzzy"
**Versions**
Kibana: 7.12

The displayed PHP agent icon is a little fuzzy. Perhaps we can replace it with a different logo that scales down better.

![image](https://user-images.githubusercontent.com/352732/108053162-58d3cb80-704d-11eb-8e46-599c7c1cd003.png)

[2021-02-15 08:02] elasticmachine commented on #91365
Pinging @elastic/apm-ui (Team:apm)

[2021-02-15 08:06] elasticmachine commented on #91360
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-15 08:06] elasticmachine commented on #91359
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-15 08:07] elasticmachine commented on #91338
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-15 08:07] elasticmachine commented on #91337
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-15 08:08] elasticmachine commented on #91330
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-15 08:08] flash1293 commented on #90218
Thanks for opening this issue @ovidiaconescu TSVB can help in some cases here - for the rest we are currently working on https://github.com/elastic/kibana/issues/91087 which will bring this kind of calculations to Lens (which supports CSV exports).

I'm closing this is a duplicate as the feature is already tracked in the formula issue

[2021-02-15 08:08] #90218 closed

[2021-02-15 08:10] elasticmachine commented on #91325
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 08:10] elasticmachine commented on #91324
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 08:11] elasticmachine commented on #91323
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:11] elasticmachine commented on #91322
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:12] elasticmachine commented on #91321
Pinging @elastic/fleet (Team:Fleet)

[2021-02-15 08:13] flash1293 commented on #90723
As this seems to be pretty unstable right now, I'm going to switch the Lens a11y tests over to the fixture data loaded via es archiver (which seems to work better), in the hope the issue is limited to sample data and not a11y tests in general. This will buy us some time to investigate and fix #91000

[2021-02-15 08:13] elasticmachine commented on #91320
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:14] elasticmachine commented on #91319
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:14] elasticmachine commented on #91314
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:15] kibanamachine commented on #91191
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11916/)

[2021-02-15 08:15] elasticmachine commented on #91313
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:16] elasticmachine commented on #91312
Pinging @elastic/kibana-security (Team:Security)

[2021-02-15 08:16] elasticmachine commented on #91311
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-15 08:16] elasticmachine commented on #91310
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-15 08:16] elasticmachine commented on #91309
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-15 08:17] elasticmachine commented on #91308
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-15 08:18] elasticmachine commented on #91305
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-15 08:19] elasticmachine commented on #91300
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 08:19] elasticmachine commented on #91300
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-15 08:20] elasticmachine commented on #91282
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-15 08:20] elasticmachine commented on #91262
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-15 08:20] elasticmachine commented on #91254
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-15 08:29] cnasikas commented on #91311
Closed as it seems to be an es connector error.

[2021-02-15 08:29] #91311 closed

[2021-02-15 08:29] cnasikas commented on #91310
Closed as it seems to be an es connector error.

[2021-02-15 08:29] #91310 closed

[2021-02-15 08:31] flash1293 commented on #57709
@beanaroo The next version of Kibana (7.12) will include an improved data table allowing you to resize the columns as desired which can be used to control the wide space (https://github.com/elastic/kibana/pull/88069)
<img width="1642" alt="Screenshot 2021-02-15 at 09 29 23" src="https://user-images.githubusercontent.com/1508364/107922452-50599300-6f70-11eb-88f8-9b2e17903163.png">

However, this me

[2021-02-15 08:45] katrin-freihofner opened #91366 "[Uptime UI] unit is missing in monitor duration chart"
The screenshot is taken from our internal edge cluster.

**Describe the bug:**
The duration chart does not show any unit.

**Expected behavior:**
I expected to see the unit in the legend and in the tooltip. For durations >1000 ms in seconds, <1000 ms in milliseconds.

**Screenshots (if relevant):**
<img width="952" alt="Screenshot 2021-02-15 at 09 42 56" src="https://user-images.githubusercontent.

[2021-02-15 08:46] elasticmachine commented on #91366
Pinging @elastic/uptime (Team:uptime)

[2021-02-15 09:15] stratoula opened #91367 "[TSVB] Enable `dual mode`, support index patterns and strings"
**Describe the feature:**
TSVB right now doesn't work entirely with index patterns. Specifically, it allows the user to enter a string (which can be the index pattern title, an index, multiple indices, wildcards etc).

![image](https://user-images.githubusercontent.com/17003240/107925316-f14e4b00-6f7c-11eb-9981-3022c7dca196.png)

This has served us well so far but we have identified some cases tha

[2021-02-15 09:15] elasticmachine commented on #91367
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 09:29] stratoula commented on #82438
We decided to enable a dual mode on TSVB. This means that it will support both index patterns and strings. Runtime fields will be available on the `indexpattern mode`. More information [here](https://github.com/elastic/kibana/issues/91367)

[2021-02-15 09:54] Bamieh commented on #88678
I've created a PR to remove `xregexp` dependency from the codebase (https://github.com/elastic/kibana/pull/91369)

[2021-02-15 10:01] ruflin commented on #85777
We are in talks to the ES team about this issue and I hope we find a solution where we don't require to regenerate all API Keys. If we have to regenerate, agree it needs to be done in fleet-server.

[2021-02-15 10:10] azasypkin commented on #91285
I'll defer the auditing part to @thomheymann and comment only on the session part:

* :green_circle: AFAIK we already generate an audit log event when user logs in
* :green_circle: I believe we already clearly indicate that session has been terminated either with the message on the Login Selector/Login Form or via dedidated Logged Out page if Selector isn't enabled
* :orange_circle: Generating eve

[2021-02-15 10:11] dej611 commented on #90939
I did an investigation on the issue, hoping to fix it, but there's a fair amount of work to do:
* indexPatterns are fetched in multiple places, at different times, and both things needs to be correctly handled to not make the app crash
* Once the indexpattern is removed its name is gone, so the error message could not be very specific (only the id can be shown)
* The DataPanel, LayerPanel, and Ind

[2021-02-15 10:14] ruflin commented on #90454
Dropping some ideas on how this could be achieved: Today the index template itself contains as little information as possible and settings and mapping should happen through the component templates. Taking this model, we could automatically always add a third component called `custom` or similar. This component template is empty by default but allows users to fill in their mappings / settings. This

[2021-02-15 10:17] flash1293 commented on #90939
Thanks for taking a look @dej611 - let's keep it on the list for the next fix-it-week. I still think it would be cool to fix it.

I didn't think about that, that's really annoying and I can't think of a good way around this. I guess we have to live with this.
If the index pattern is missing, there are two good ways to fix it:
* Switch to another index pattern and save the vis again
* Go to managem

[2021-02-15 10:26] tveasey opened #91371 "[ML] Cloning a job doesn't seem to preserve JSON only parameters"
This was observed for a classification job using "class_assignment_objective": "maximize_accuracy" (note that this parameter is missing in the screenshot below despite being set in the job I was cloning).

On a usability front we also open the job creation wizard in JSON mode but don't set the destination index so you see something like:
![Screenshot 2021-02-15 at 10 17 33](https://user-images.git

[2021-02-15 10:32] dlalex83 commented on #33928
+1

[2021-02-15 10:35] pheyos opened #91373 "[ML] Preview data grids do not display rows"
**Found in version**
- master / 8.0.0

**Browser**
- Chrome

**Steps to reproduce**
- Navihate to the transform app (Stack Management / Transforms)
- Click the `Create a transform` button
- Select an index pattern

**Expected result**
- The wizard displays the source data preview correctly

**Actual result**
- The preview table has data, but no rows are displayed:
  ![image](https://user-images.gi

[2021-02-15 10:35] elasticmachine commented on #91373
Pinging @elastic/ml-ui (:ml)

[2021-02-15 10:37] niteshthakur opened #91374 "not able to run filter with query dsl using bool query when courier:ignoreFilterIfFieldNotInIndex is set"
`**Kibana` version:**
7.5.2
**Elasticsearch version:**

**Server OS version:**
Windows 10
**Browser version:**
Chrome Version 88.0.4324.150
**Browser OS version:**
Windows 10
**Original install method (e.g. download page, yum, from source, etc.):**
msi
**Describe the bug:**
If `courier:ignoreFilterIfFieldNotInIndex` is set to True, then key field within meta is set to `query` and because of this,

[2021-02-15 10:40] cyrille-leclerc opened #91375 "[Monitoring] Aligning APM monitoring graphs with APM service monitoring graphs"
**Describe the feature:**

As discussed with @simitt , the graphs we use to monitor APM Server are different from the graphs expose by APM to monitor services.
Could we align APM Server Monitoring graphs to the graphs presented by the APM service view?

The graphs that overlap with different solutions are
* APM Server monitoring
   * Request Count Intake API (/s)
   * Response Count Intake API (/s

[2021-02-15 10:42] elasticmachine commented on #91374
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-15 10:43] elasticmachine commented on #91375
Pinging @elastic/apm-ui (Team:apm)

[2021-02-15 10:45] dgieselaar commented on #90155
I think this was fixed in #90728, closing.

[2021-02-15 10:47] simitt commented on #90454
Reserving a fixed name does not give the users the flexibility to create multiple smaller templates and then mix and match by referencing them per data stream. I'd say the suggestion sounds reasonable though to start with, in case the implementation gets too complicated otherwise.

[2021-02-15 10:47] estermv commented on #82749
That makes total sense! I'll replicate the Metric Threshold design 🙂

[2021-02-15 10:50] simitt commented on #91375
As mentioned offline I am not certain about how the Stack Monitoring will evolve >= 8.0 (especially with Elastic Agent in the mix). Before requesting any changes, the Stack Monitoring vision should be clear to avoid enhancing features that will be changed anyways.

[2021-02-15 10:52] gmmorris commented on #71441
This has now been delivered 🎉

[2021-02-15 10:52] #71441 closed

[2021-02-15 10:56] stratoula opened #91376 "[Timelion] Add telemetry for scripted fields"
**Describe the feature:**
We want to measure how many timelion visualizations actually use scripted fields. We should parse somehow the expression and check if the fields used are scripted fields.

Update: We could just measure the requests for scripted fields and not parse the expression.

**Describe a specific use case for the feature:**
Depending on the data, it will be easier to decide the fut

[2021-02-15 10:56] elasticmachine commented on #91376
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 11:04] katrin-freihofner opened #91378 "[User experience dashboard] not responsive"
**Kibana version:**
I took the screenshot on our internal edge cluster.

**Describe the bug:**
Parts of the UI are not visible for some screensizes.

**Screenshots (if relevant):**
![edge-oblt elastic dev_app_ux_rangeFrom=now-15m rangeTo=now percentile=50 serviceName=elastic-co-frontend (1)](https://user-images.githubusercontent.com/20965076/107938636-f5cb3180-6f85-11eb-9ace-abb2af6365ef.png)

Thi

[2021-02-15 11:04] elasticmachine commented on #91378
Pinging @elastic/uptime (Team:uptime)

[2021-02-15 11:06] flash1293 opened #91380 "[Lens] Global drag context to allow drag/drop interaction with filter bar"
Lens uses drag/drop in a nice way, but not all of the UI is integrated. For example it's not possible to drag legend items ( https://github.com/elastic/kibana/issues/90724 ) or interact with the filter/query bar.

By lifting the drag state up from Lens into a global place, we could start integrating the drag/drop experience into other places as well.

[2021-02-15 11:06] elasticmachine commented on #91380
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 11:20] Dosant commented on #91330
Looks like very similar to this: https://github.com/elastic/kibana/issues/90770

[2021-02-15 11:21] ypid-geberit commented on #42960
I was forwarded to this issue from https://github.com/elastic/elasticsearch/issues/34814#issuecomment-655538854. The "Phase -1 which is outlined in the proposal document." is not linked so I don’t have knowledge of that so excuse me if this is beyond the scope of "Phase 1".

As a Elastic Stack admin, I feel the "Stack Monitoring" falls short compared to other Monitoring systems. For example, there

[2021-02-15 11:23] Dosant commented on #90770
It looks like there are a couple of other recent failures that look _very_ similar to the ones described in this issue:
https://github.com/elastic/kibana/issues/91330
https://github.com/elastic/kibana/issues/91305
https://github.com/elastic/kibana/issues/91262

I wonder if https://github.com/elastic/kibana/pull/90782 didn't fully address the race condition.

I'll reopen this, but feel free to clos

[2021-02-15 11:39] skh commented on #90299
I've opened https://github.com/elastic/elasticsearch/issues/68982 for a potential documentation change.

[2021-02-15 11:46] ruflin commented on #90454
What is the use case that the same component templates are used across multiple data streams? Settings? It might be even beneficial to not allow to much flexibility as otherwise it becomes too easy to break things accidentally. 1 component template is change and affects 20 data streams and one of them breaks. Hard to find the root cause later on.

[2021-02-15 11:48] #90339 closed

[2021-02-15 11:52] stratoula opened #91384 "[Timelion] Filtering with runtime fields"
Timelion won't support runtime fields. For this reason, these fields should not appear in the fields autocompletion. This has already been applied [here](https://github.com/elastic/kibana/pull/90150).

What hasn't been addressed is the behavior of the visualization when a runtime field is applied. Right now, when I add a timelion viz on a dashboard and apply a runtime field filter, the timelion re

[2021-02-15 11:52] elasticmachine commented on #91384
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 11:54] ruflin commented on #90410
I like the idea of combining it under one or a similar endpoint to use the same concept. The defaults per environment is where specific "solution" related code would have to be called and is why I landed initially on having the code in APM. Maybe APM can register a hook? Passing in the environment as variable will make it easier instead of trying to detect it. But I would separate the environment

[2021-02-15 11:58] commandline-be commented on #57327
same issue with Kibana 7.11

[2021-02-15 12:00] #86278 closed

[2021-02-15 12:00] #90594 closed

[2021-02-15 12:01] #82769 closed

[2021-02-15 12:02] stratoula opened #91386 "[Vega] Filtering with runtime fields"
Vega doesn't support runtime fields on index patterns since the users write the queries themselves. A potential problem will be when the users want to filter with a runtime field. Right now, it results in a zero data chart which makes sense as the filter is passed on the spec but the query doesn't have the runtime field.

Same as [Timelion](https://github.com/elastic/kibana/issues/91384), we could

[2021-02-15 12:02] elasticmachine commented on #91386
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 12:15] sebelga commented on #91252
Great catch! Thanks for the workaround 👍

[2021-02-15 12:16] #91224 closed

[2021-02-15 12:25] paulb-elastic opened #91392 "[Uptime] Uptime not using standard Kibana date/time format in places"
Although the standard Kibana date/time format is used in some places, there are a number of places it is not.

For example, when the standard Kibana format is defined as:
![image](https://user-images.githubusercontent.com/70908889/107945623-d03f2780-6f87-11eb-9016-b198e06055c9.png)

it **is** shown on the [check details view](https://github.com/elastic/kibana/issues/80156) screenshot:
![image](htt

[2021-02-15 12:25] elasticmachine commented on #91392
Pinging @elastic/uptime (Team:uptime)

[2021-02-15 12:34] elasticmachine commented on #90820
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 12:34] #90927 closed

[2021-02-15 12:42] paulb-elastic commented on #91378
A related issue to do with poor layout in User Experience with a docked nav https://github.com/elastic/kibana/issues/83705

[2021-02-15 12:48] ruflin commented on #91201
I assume this ILM policy should become part of the elastic agent package? If yes, should we move this to the integrations repo?

The endpoint did something similar recently to ship an ILM policy as part of the package but there it was overwritten.

[2021-02-15 12:51] #79426 closed

[2021-02-15 12:54] simitt commented on #90454
Yes I was thinking of deployment specific settings that might be the same for all data streams.

[2021-02-15 12:59] stratoula commented on #90582
@pgayvallet I just saw this! Thanx for reporting it. Right now this visualization has two implementations, the legacy one and the default one which uses Eui datagrid). We plan to remove the legacy one on the next minors (before 7.15). When the old implementation will be removed this conditional lazy import will be removed. Do you think we can wait for some minors? Or is it crucial from your side?

[2021-02-15 13:13] #90585 closed

[2021-02-15 13:13] flash1293 opened #91399 "Median doesn't work for scripted field"
**Kibana version:** master

**Describe the bug:** Median doesn't work for scripted fields

**Steps to reproduce:**
1. Create a scripted field in an index pattern
2. Open Lens or Visualize and use the median agg/fn
3. No data is shown

**Expected behavior:**
Data should be shown

**Any additional context:**
Make sure to check runtime fields

Seems like the custom `field` param writer doesn't take s

[2021-02-15 13:13] elasticmachine commented on #91399
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-15 13:16] simitt opened #91401 "[Fleet] Adding integration: List of strings does not allow value `['*']`"
**Kibana version:**
master

**Describe the bug:**
When defining a package spec with `type: string` and `multi: true`, defining a (default) value of `['*']` is forbidden.
This needs to be allowed, as e.g. it is required for APM allowed origins.

**Steps to reproduce:**
0. Check out https://github.com/elastic/apm-server/pull/4690/
1. Run APM package defined in https://github.com/elastic/apm-server/p

[2021-02-15 13:16] elasticmachine commented on #91401
Pinging @elastic/fleet (Team:Fleet)

[2021-02-15 13:22] katrin-freihofner commented on #91366
Closing in favor of https://github.com/elastic/kibana/issues/85827

[2021-02-15 13:22] #91366 closed

[2021-02-15 13:25] skh commented on #89111
I can locally reproduce this by
- checking out `7.10` and running `yarn es snapshot` with `-E path.data=../data` to keep the data between runs
- checking out `7.11` and running it
- checking out `master` and running it

The 7.11 step can potentially be skipped.

[2021-02-15 13:38] mistic commented on #91191
This test has been failing both on master and 7.x and looks flaky. Skipping for now

master/8.0: 5ffb48d
7.x/7.12: b54a5ec

[2021-02-15 13:54] mistic commented on #86948
I think there is some flakyness. Skipping for now so we can have a deeper investigation on it.

master/8.0: 4de5a7d
7.x/7.12: f8eef63

[2021-02-15 14:13] pheyos commented on #91241
The test code for this cloud run was newer then the deployed Kibana version in cloud, so the updated tests that require the updated Kibana version failed.

[2021-02-15 14:13] #91241 closed

[2021-02-15 14:15] pheyos commented on #88638
This test didn't fail again in the past ~4 weeks. It seem it was a transient issue as suspected. Closing.

[2021-02-15 14:15] #88638 closed

[2021-02-15 14:18] skh commented on #91401
It seems we're running into the rarely-used YAML feature of aliases here, which start with a `*`, see

http://blogs.perl.org/users/tinita/2019/05/reusing-data-with-yaml-anchors-aliases-and-merge-keys.html

When the YAML parser encounters the single `*` it complains about the missing alias name which should come directly after it.

If we ever want to use `&` we'll run into a similar problem

I can

[2021-02-15 14:19] pheyos commented on #91243
This timeout happened during the loading of an ES archive. It seems there was a performance problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:19] #91243 closed

[2021-02-15 14:21] pheyos commented on #91245
`503 "Service Unavailable"` looks like there was a networking problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:21] #91245 closed

[2021-02-15 14:21] nchaulet commented on #91401
I think we should probably escape the `*` we already do it for number string we could probably have a better escaping function here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/epm/agent/agent.ts/#L93-L97

[2021-02-15 14:23] pheyos commented on #91250
This timeout happened during the cleanup on the ES side. It seems there was a performance problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:23] #91250 closed

[2021-02-15 14:23] pheyos commented on #91247
This timeout happened during the datafeed processing on the ES side. It seems there was a performance problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:23] #91247 closed

[2021-02-15 14:24] pheyos commented on #91249
This timeout happened during the datafeed processing on the ES side. It seems there was a performance problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:24] #91249 closed

[2021-02-15 14:24] pheyos commented on #91248
This timeout happened during the datafeed processing on the ES side. It seems there was a performance problem with the cloud cluster. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:24] #91248 closed

[2021-02-15 14:26] pheyos commented on #91244
This is a follow-up failure for a failed cleaup in a previous test. The test passed in the following cloud test runs, so there's no issue with the ML app or the test code here.

[2021-02-15 14:26] #91244 closed

[2021-02-15 14:33] pheyos commented on #91350
This is another occurrence of
[code]
This is a known environmental issue, see e.g. https://github.com/elastic/kibana/issues/77289#issuecomment-752699262 and https://github.com/elastic/kibana/issues/43963#issuecomment-752699787.

[2021-02-15 14:33] #91350 closed

[2021-02-15 14:48] #62964 closed

[2021-02-15 14:49] jalvz opened #91409 "[Fleet] Allow an integration "actions" link to a specific Kibana application"
In the "Data Stream"  tab in Fleet, there is an "Actions" button for each data stream managed by Fleet for, well, data stream actions. For system data streams and others this means a link to the appropriate dashboard.

For APM data streams, we should have a link to the relevant page in the APM app. In the data stream we have encoded both the service name and the environment, so we should be able t

[2021-02-15 14:49] elasticmachine commented on #91409
Pinging @elastic/apm-ui (Team:apm)

[2021-02-15 14:54] simitt opened #91412 "[APM] Fleet: APM Integration settings (fleet editor) redesign"
Design issue: https://github.com/elastic/observability-design/issues/29

Add an editor for configuring APM Server options when installed as Elastic Agent integration and configured in Fleet.

Only a handful of APM settings can be configured in the experimental APM Server package for Agent/Fleet Integration. https://github.com/elastic/apm-server/pull/4690 introduces a few more options, where having

[2021-02-15 14:54] elasticmachine commented on #91412
Pinging @elastic/apm-ui (Team:apm)

[2021-02-15 15:14] #80983 closed

[2021-02-15 15:16] #90629 closed

[2021-02-15 15:25] ruflin commented on #89617
From my perspective we can close this and open a separate issue for a future allow / block list feature.

[2021-02-15 15:35] dolaru opened #91417 "[ML] AD job model memory limit becomes editable when datafeed is stopped"
**Kibana version:** 7.11.0
**Elasticsearch version:** 7.11.0
**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
An anomaly detection job's model memory limit can only be updated when the job state is `closed`. Currently, the model memory limit becomes editable when the datafeed is stopped. If the user tries to update the model memory limi

[2021-02-15 15:41] restrry commented on #88678
@Bamieh are there any plans to remove deprecated `intl-relativeformat` and update `intl-messageformat` to the version relying on the global `Intl` object?

[2021-02-15 15:53] paulb-elastic commented on #83705
Have added this to https://github.com/elastic/kibana/issues/91378 to closing this.

[2021-02-15 15:54] #83705 closed

[2021-02-15 16:06] spong commented on #91338
Hey there @xennn, this functionality is now available in the `7.11` release. 🙂

Docs are [here](https://www.elastic.co/guide/en/security/current/rules-ui-create.html#placeholder-examples), and an example that loops over all the alerts and prints their host name is as follows:

[code]

Here's the [PR](https://github.com/elastic/kibana/pull/85488) adding this functionality if relevant. Note: we don'

[2021-02-15 16:06] #91338 closed

[2021-02-15 16:06] elasticmachine commented on #91338
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-15 16:07] elasticmachine commented on #91337
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-15 16:15] #87189 closed

[2021-02-15 16:36] paulb-elastic opened #91421 "[Uptime] Update notices and banners from experimental to beta"
During the change of phase from Experimental to Beta, we need to update some of the working and signposting that currently exists.

At the moment, there is a callout to Synthetics when you go into Uptime (although it does not specifically mention experimental, or beta).  This includes a *Read announcement* link to https://www.elastic.co/what-is/synthetic-monitoring
![image](https://user-images.git

[2021-02-15 16:36] elasticmachine commented on #91421
Pinging @elastic/uptime (Team:uptime)

[2021-02-15 16:37] paulb-elastic commented on #91421
cc @elastic/observability-design / @drewpost

[2021-02-15 16:37] banderror commented on #91265
Some notes after formalizing our requirements and checking the `event_log` plugin.

## Our data model

Currently, we don't use any built-in features in Alerting to represent our detection rule execution statuses. We have custom statuses stored as Saved Objects in a separate SO of type `siem-detection-engine-rule-status`.

These are attributes of this SO (field types are simplified for readability)

[2021-02-15 16:47] #81293 closed

[2021-02-15 16:49] rudolf commented on #81790
https://github.com/elastic/kibana/pull/89992 will prevent Kibana from auto-creating saved object indices.

[2021-02-15 16:51] #68913 closed

[2021-02-15 16:53] #52569 closed

[2021-02-15 16:53] FrankHassanabad opened #91424 "[Security Solutions][Timeline] Non indexed fields are not showing up in the table view"
**Describe the bug:**

In timeline when you have an unindexed field after creating an alert and you select it in the details view it looks like the values are not showing up in the table. Tested 7.11.1-BC-1
<img width="1435" alt="table_values_bug" src="https://user-images.githubusercontent.com/1151048/107974197-746aa380-6f73-11eb-9b70-e3290ae57092.png">

**Steps to reproduce:**
1. Create a cloud i

[2021-02-15 16:53] elasticmachine commented on #91424
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-15 16:55] #32237 closed

[2021-02-15 17:04] bhavyarm commented on #91000
cc @dmlemeshko

[2021-02-15 17:06] #85086 closed

[2021-02-15 17:13] shahzad31 commented on #89072
seems like a one off failure

[2021-02-15 17:14] FrankHassanabad opened #91426 "[Security Solutions][Timeline] Extra fields values showing up in timeline details view"
**Kibana version:**
7.11.BC1

**Describe the bug:**
When you select one of the events you see extra values showing up in the details view and in the table view which are marked as "fields" but I think this is part of the query results and not the actual contents of the data and should be filtered out.

**Expected behavior:**
There shouldn't be any fields values.

<img width="2156" alt="fields_bug_

[2021-02-15 17:14] elasticmachine commented on #91426
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-15 17:17] #90796 closed

[2021-02-15 17:20] shahzad31 commented on #91251
seems like an ES resource error, unrelated to the test

[2021-02-15 17:20] #91251 closed

[2021-02-15 17:24] dmlemeshko commented on #91000
I'm thinking if we should use API call to load sample data for the cases when we don't test loading as functionality. Request will go ok even if data already loaded. We just need to figure it out how to proceed, e.g. new service for API calls?

[2021-02-15 17:24] #69413 closed

[2021-02-15 17:24] #83328 closed

[2021-02-15 17:34] #42224 closed

[2021-02-15 17:34] bhavyarm commented on #91000
This issue came up because of this test failure - https://github.com/elastic/kibana/issues/82226. We are testing the UI Part  where we install sample data. and in the after method we are removing the installed sample data.

[2021-02-15 17:38] ph commented on #89617
Agree with @ruflin comment above. We also discussed it in the sync.

[2021-02-15 17:54] Dosant opened #91432 "[Expressions] execution cancel doesn't cancel pending searches"
**Kibana version:** 7.11, 7.x, master (works in 7.10.2)
**Describe the bug:**
When navigating away from a dashboard or when hitting "refresh" very fast lens visualization doesn't cancel pending searches. Typical visualize viz (like a pie chart) does cancel searches in such cases.

**Steps to reproduce:**
1. Create a lens viz and add it to a dashboard
2. Slow down a network. Run search. Navigate aw

[2021-02-15 17:54] elasticmachine commented on #91432
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-15 17:54] pgayvallet commented on #42224
Fixed starting in versions `7.12` and `7.11.2`

[2021-02-15 18:13] weltenwort commented on #90901
This is a resonable request.

I see some challenges in piping arbitrarily large payloads from Elasticsearch through the Kibana server to the Kibana web UI, though. That doesn't mean it's not feasible, but it will probably be challenging.

Maybe it could make use of some infrastructure created for the CSV export functionality elsewhere in Kibana.

[2021-02-15 19:03] dontcallmesherryli commented on #53186
Created https://github.com/elastic/security-team/issues/813 ticket to track the prevalence of max_signals being triggered to help us determine the prioritization of this ticket.

[2021-02-15 19:09] bradquarry commented on #71560
A team from Verizon would like to be able to add an alert based on a value within a custom chart in a custom dashboard.

[2021-02-15 19:30] myasonik commented on #90515
I think that's a reasonable downside at least until it becomes a problem which could still be a long way away unless people start adding these all over very suddenly.

[2021-02-15 21:00] #70996 closed

[2021-02-15 21:23] kibanamachine opened #91442 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/cross_cluster_replication/feature_controls/ccr_security·ts - Cross Cluster Replication app feature controls security global dashboard read with ccr_user should render the "Data" section with CCR"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11799/)

[2021-02-15 21:32] ph commented on #91111
Added to 7.13. roadmap. @jfsiii I presume you would be looking into that?

[2021-02-15 21:33] ph commented on #82745
@skh @jfsiii is that still an issue?

[2021-02-15 21:38] jfsiii commented on #91111
@ph sure, I am happy to. I'm confused about losing the 7.13 tag/meta though.

[2021-02-15 21:40] #67632 closed

[2021-02-15 21:43] ph commented on #68554
@nchaulet with the move to fleet server is this a valid issue/

[2021-02-15 21:44] nchaulet commented on #68554
No there is no need for this anymore

[2021-02-15 21:44] #68554 closed

[2021-02-15 21:46] #51722 closed

[2021-02-15 21:46] ph commented on #53494
@elastic/fleet still valid?

[2021-02-15 21:46] #90951 closed

[2021-02-15 21:46] nchaulet commented on #89252
Resolved by https://github.com/elastic/kibana/pull/89372

[2021-02-15 21:46] #89252 closed

[2021-02-15 21:51] #61831 closed

[2021-02-15 21:52] bhavyarm opened #91445 "Unable to complete saved object migrations for the [.kibana] index for 7.11 to 7.12 if user disables maps/canvas"
**Kibana version:** 7.11.0->7.12.0 snapshot (11th Feb snapshot)

**Elasticsearch version:** 7.11.0->7.12.0 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from downloads and snapshot

**Describe the bug:** Found while testing (https://github.com/elastic/kibana

[2021-02-15 21:52] elasticmachine commented on #91445
Pinging @elastic/kibana-core (Team:Core)

[2021-02-15 21:53] bhavyarm commented on #91445
I did a quick clean upgrade of 7.11.0 to 7.12.0 without disabling canvas or maps. It went through fine.

[2021-02-15 21:53] ph commented on #84574
@nchaulet @jfsiii still an issue?

[2021-02-15 21:54] bhavyarm commented on #84141
Disabling plugin fails - https://github.com/elastic/kibana/issues/91445

[2021-02-15 22:27] elasticmachine commented on #91442
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-15 23:10] sang-elastic commented on #75377
Do we have any ETA for this functionality and will it be available to Elastic cloud as well?

Thanks

[2021-02-15 23:10] sorin-postelnicu commented on #9212
In Kibana 7.9.2 I get this warning/error when trying:
GET .kibana/_search { "_source": ["index-pattern.title"], "query": { "term": { "type": "index-pattern" } } }

#! Deprecation: [types removal] Specifying types in search requests is deprecated.

I also get the same warning if I try
GET .kibana/index-pattern/_search
{
  "_source" : "_id",
  "query" : {
    "match" : {
      "title": "{NAME_OF_MY_

[2021-02-16 02:09] kibanamachine commented on #90723
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11934/)

[2021-02-16 02:09] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11934/)

[2021-02-16 04:19] YulNaumenko opened #91448 "[Alerting UI] Rename AlertFlyout reloadAlerts method to onSave"
`reloadAlerts` is a confusing property name for a TriggersActionsUI AlertFlyout. It doesn't say what exactly it's doing - executing a callback method which happening on click Save button.

[2021-02-16 04:19] elasticmachine commented on #91448
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-16 04:24] YulNaumenko opened #91449 "[Alerting UI] Add onClose param indicator if the callback happened on cancel or save close event."
triggersActionsUi.getAddAlertFlyout has onClose props, but it doesn't indicate that flyout has been closed with Cancel or after a successful save.

[2021-02-16 04:24] elasticmachine commented on #91449
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-16 05:04] kertal commented on #91240
doesn't look like it's flaky?
https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/213/

[2021-02-16 05:05] deepikakeshav-qasource commented on #85536
Hi,

We have validated this ticket on **7.11.0** as well as **7.11.1** and found that issue is **Fixed**. On Clicking Filter button under timeline UI Text displaying properly

**Build Details:**
[code]

[code]
Artifacts: https://staging.elastic.co/7.11.0-657c0367/summary-7.11.0.html
Artifacts: https://staging.elastic.co/7.11.1-bc1b1b1c/summary-7.11.1.html

**Screenshot:**
![Timeline_filter](https:

[2021-02-16 05:05] #85536 closed

[2021-02-16 05:05] deepikakeshav-qasource commented on #85538
Hi,

We have validated this ticket on **7.11.0** as well as **7.11.1** and found that issue is **Fixed**. Full screen icon is working under timeline.

**Build Details:**
[code]

[code]
Artifacts: https://staging.elastic.co/7.11.0-657c0367/summary-7.11.0.html
Artifacts: https://staging.elastic.co/7.11.1-bc1b1b1c/summary-7.11.1.html

**Screenshot:**
![Timeline_fullscreen](https://user-images.githubu

[2021-02-16 05:06] #85538 closed

[2021-02-16 06:36] kibanamachine opened #91450 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation·ts - machine learning data frame analytics classification creation bank marketing edits the analytics job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11938/)

[2021-02-16 06:36] kibanamachine commented on #85105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11938/)

[2021-02-16 06:52] elasticmachine commented on #91450
Pinging @elastic/ml-ui (:ml)

[2021-02-16 06:57] majagrubic commented on #81347
Closed with: https://github.com/elastic/kibana/pull/90641

[2021-02-16 06:57] #81347 closed

[2021-02-16 07:02] pheyos commented on #91450
This failing test is the ROC chart validation, that has been introduced in #89991, but it passed in other runs so far, so there's probably some flakiness. Looks like in addition to the three expected colors there's a fourth (unexpected) one:
[code]
@walterra you know this new validation best, could you please take a look

[2021-02-16 07:12] #91215 closed

[2021-02-16 07:31] FrankHassanabad commented on #91269
Ok so I dug into this quite a bit and need some peer review from @dplumlee and a verification and validation of what I'm saying is truthy before we go and replace these aggregation queries with plain search + sort. However these first metrics and numbers coming back are looking really good.

To start with, here is some material to read through that I went through and then I will give my analysis a

[2021-02-16 07:47] FrankHassanabad commented on #91269
Second example from the file with an added filter:

Where I replicate it and then replace it with the faster search + sort. However, I do play with the cache quite a bit to see the speeds with and without it. Speeds indicate faster order of magnitude of seconds vs milliseconds. With caching disabled it's 2 seconds vs 8 seconds. You can add `&request_cache=true` or `&request_cache=false` to the que

[2021-02-16 07:59] muskangulati-qasource opened #91454 "[Fleet] No message is displayed to the user for why there is no command for installation if there is no enrollment token associated with the policy"
**Describe the feature:**
No message is displayed to the user for why there is no command for installation if there is no enrollment token associated with the policy.

**Build Details:**
[code]

**Describe a specific use case for the feature:**
- It may be confusing to the user why there is no installation command on UI.
- Message should be displayed something like:
`no enrollment token is associa

[2021-02-16 08:26] flash1293 commented on #91432
@Dosant

Is the embeddable instance destroyed on clicking refresh? I thought it would just call `reload`.

I will dig deeper into this, but the Lens embeddable is a pretty thin wrapper around the `ExpressionRenderer` component, I wonder where in the stack this fails.

[2021-02-16 08:29] Bamieh commented on #88678
@restrry yes! I have an issue for upgrading those in the backlog. I'll add it to the list above too :+1:

[2021-02-16 08:32] muskangulati-qasource opened #91456 "No installation error for a 32-Bit agent on a 64-Bit windows machine & agent goes to unhealthy state after successful installation"
**Describe the bug**
No installation error for a 32-Bit agent on a 64-Bit windows machine & agent goes to unhealthy state after successful installation

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.10.0 Stagging environment should be deployed

**Steps to Reproduce**
1. Install a 32-Bit agent on a 64-Bit windows machine
2. Observe the agent is successfull

[2021-02-16 08:39] arisonl opened #91457 "APM alert does not allow decimal values"
APM Transaction error rate threshold does not allow entering decimal values

<img width="594" alt="Screenshot 2021-02-16 at 10 37 22" src="https://user-images.githubusercontent.com/5412240/108038231-45bbfe00-7043-11eb-825d-ebe5a4f2d3b0.png">

[2021-02-16 08:39] elasticmachine commented on #91457
Pinging @elastic/apm-ui (Team:apm)

[2021-02-16 08:42] elasticmachine commented on #91336
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-16 09:09] elasticmachine commented on #91417
Pinging @elastic/ml-ui (:ml)

[2021-02-16 09:24] sqren opened #91458 "[APM] Upload sourcemaps via API in Kibana"
Required by: 8.0

Proposal: https://docs.google.com/document/d/1Ltdb9f7G0QqhfD_F_ZioM_NHjePt_R7WZIz8TjvKYig/edit

APM Server: https://github.com/elastic/apm-server/issues/3606

[2021-02-16 09:24] elasticmachine commented on #91458
Pinging @elastic/apm-ui (Team:apm)

[2021-02-16 09:31] elasticmachine commented on #91456
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 09:32] muskangulati-qasource commented on #91456
@manishgupta-qasource please review !!

[2021-02-16 09:32] elasticmachine commented on #91454
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 09:32] muskangulati-qasource commented on #91454
@manishgupta-qasource please review !!

[2021-02-16 09:34] markov00 commented on #13248
We are going to release on 7.12 a reviewed version of the Visualize cartesian chart (line/area/bars) that will correct this issue.
It has been a long time, but we hope that now with a single charting library we can address all these issues with a single patch for every chart in Kibana

[2021-02-16 09:39] elasticmachine commented on #91371
Pinging @elastic/ml-ui (:ml)

[2021-02-16 09:40] manishgupta-qasource commented on #91454
Reviewed & assigend to @EricDavisX

[2021-02-16 09:41] manishgupta-qasource commented on #91456
Reviewed & assigend to @EricDavisX

[2021-02-16 09:52] rudolf commented on #91445
Closed in https://github.com/elastic/kibana/pull/89992

[2021-02-16 09:52] #91445 closed

[2021-02-16 10:12] timroes opened #91459 "[Discover] Fix search source behavior"
* Change search source structure: persistent search source as parent + volatile search source as child used for actual querying
* Peristent search source is linked to the saved object so it's saved
* Volatile search source stores things like time range, fields, sorting, highlightAll, version, size
* Persistent search source stores things like index pattern, query, filters
* Reporting uses volatile

[2021-02-16 10:12] elasticmachine commented on #91459
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-16 10:18] #87852 closed

[2021-02-16 10:20] jgowdyelastic commented on #87852
Fixed in https://github.com/elastic/kibana/pull/90051

[2021-02-16 10:27] Dosant commented on #91432
You are right, it isn't destroyed.

In Visualize embeddable  this works:

reload -> handleVisUpdated -> updateHandler -> abort older expression execution:

https://github.com/elastic/kibana/blob/52cd0d94d5044a38d43fedccd345164773f35bf6/src/plugins/visualizations/public/embeddable/visualize_embeddable.ts#L382

I understand in Lens flow would be different, but apparently, there is no abort of previo

[2021-02-16 10:30] mbondyra commented on #75034
Tested by creating read-only role user locally and checking lens - now we receive single 403 response. LGTM 🙆‍♀️

[2021-02-16 10:31] ppisljar commented on #90923
checked the tabify and things seem fine there, possible reason would be switching from vislib to xy_chart ?

[2021-02-16 10:32] flash1293 commented on #91432
@Dosant Thanks for pointing me there. I thought the expression renderer component would take care of these things, but it seems like this isn't the case. Should we manage the abort controller in the Lens embeddable in the same way?

[2021-02-16 10:45] Dosant commented on #91432
Hmm.., first I suspected that in lens `execution.cancel()` is never called:
https://github.com/elastic/kibana/blob/master/src/plugins/expressions/common/execution/execution_contract.ts#L32

But I checked and it is being called.
So I assume this isn't a lens issue, but expressions -> esaggs fn one :(

[2021-02-16 10:46] elasticmachine commented on #91432
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-16 10:48] flash1293 commented on #91432
Thanks for looking into it @Dosant - Let me know whether we should leverage abort controller or something on the Lens side or something similar.

[2021-02-16 10:52] dgieselaar commented on #91365
As discussed with @SergeyKleyman, we already have an icon for PHP services, but it's a little fuzzy. I've descoped this from 7.12 and moved it back to the inbox so we can discuss it.

[2021-02-16 11:07] kibanamachine commented on #91360
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11943/)

[2021-02-16 11:35] peteharverson commented on #66383
Closing issue as all items are now fixed.

Note that #63447 introduced the use of the field format defined in the source index pattern for formatting cell values in the source index data grid.

![image](https://user-images.githubusercontent.com/7405507/108057767-f8dc2580-704a-11eb-8641-c7c65578b229.png)

[2021-02-16 11:35] #66383 closed

[2021-02-16 12:00] #90758 closed

[2021-02-16 12:19] #91014 closed

[2021-02-16 12:31] flash1293 opened #91474 "Dashboard snapshot permalink updates with saved object"
**Kibana version:** 7.9

**Describe the bug:** Even though the tooltip says "Edits to the saved dashboard won't be visible via this URL" for snapshot URL sharing, changes to the saved object seem to overwrite the URL params

**Steps to reproduce:**
1. Go to dashboard
2. Add some panels
3. Save
4. Generate "Snapshot" perma link
5. Change the dashboard somehow
6. Save
7. Visit the snapshot link in a

[2021-02-16 12:31] elasticmachine commented on #91474
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-16 12:34] GORA-SAG opened #91475 "Kibana bin folder contains large number of core files"
Hi Team,
Am using kibana 7.2.0 in the production environment and sometimes the bin folder of kibana is occupied with multiple core.xxxxx files. The xxxx is related to pid of kibana. So far i have around 28 files which occupied almost 6GB of disk space. Any pointers on how to stop that core file generation.

total 2853768
-rw-r--r--  1        617 Aug 31  2019 kibana-plugin
-rw-r--r--  1        566

[2021-02-16 12:46] #75034 closed

[2021-02-16 12:59] #80166 closed

[2021-02-16 13:25] Kerry350 commented on #90806
## Logs

## Read only user

Can be tested by hitting `curl -X PUT "<KIBANA_URL>/api/security/role/logs_read_only" --user  user:password -H 'Content-Type: application/json' -H 'kbn-xsrf: some-string` with:

[code]

(This user will not be able to create alerts, create / recreate ML jobs, or edit the logs source configuration).

## Power user

Can be tested by hitting `curl -X PUT "<KIBANA_URL>/api/s

[2021-02-16 13:28] flash1293 opened #91481 "Filter building fails for auto number histogram"
**Kibana version:** master

**Describe the bug:** When clicking a bar in an auto number histogram chart, the filter won't be constructed correctly because the aggconfig doesn't contain the actual interval, only the string "auto"

**Steps to reproduce:**
1. Create Lens or Visualize chart with auto number histogram on x axis
2. Click a bar
3. Filter is created with a range of 0

**Expected behavior:

[2021-02-16 13:28] elasticmachine commented on #91481
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-16 13:40] Kerry350 opened #91484 "[Logs UI] Hide alerts menu when lacking permissions"
## Summary

Currently a user who only has `read` logs permissions will see the "Create alert" option in the alerts menu when in the logs solution:

![Screenshot 2021-02-16 at 13 36 11](https://user-images.githubusercontent.com/471693/108070193-254c6d80-705c-11eb-982b-2ec3a5aaa028.png)

They will be able to fully configure the alert, but saving **will** fail. Therefore there isn't a security concer

[2021-02-16 13:40] elasticmachine commented on #91484
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-16 13:41] stratoula commented on #90923
After syncing offline, we decided to:

1. Keep timestamps for URL drilldowns instead of ISO strings.
2. The only plugin that right now uses ISO strings is the vislib xy axis charts that we will change it to emit timestamps.
3. As URL drilldowns is in beta and introduced on 7.10 we won't migrate existing URL drilldowns.

[2021-02-16 13:48] afgomez commented on #89025
I have noticed some things in our bundle:

<img width="2316" alt="Screenshot 2021-02-16 at 13 18 08" src="https://user-images.githubusercontent.com/57448/108062530-34cab700-705a-11eb-82ad-26fe86d83671.png">

## Potentially unnecessary modules

- Inside `node_modules` there are two big boxes: `URL` and `mustache`. We can see where they are being used and potentially replace them with [native altern

[2021-02-16 13:56] woodywalton commented on #90646
HI @pgayvallet, first of all can you explain 'OLS' - perhaps we're not aware of some coming functionality that addresses this?

To your comment: Spaces _does_ allow for document and feature access within Kibana, but *only if you have already identified the users/roles/content to be separated* - this use case would give the ability for a high level security admin to use tags to apply RBAC controls

[2021-02-16 14:26] jfsiii commented on #90434
Going to close this with the API work from https://github.com/elastic/kibana/pull/91303 and deal with the changes in UI or what's available to upgrade in another ticket.

[2021-02-16 14:26] #90434 closed

[2021-02-16 14:42] alisonelizabeth commented on #91259
Duplicate of https://github.com/elastic/kibana/issues/86321

[2021-02-16 14:42] #91259 closed

[2021-02-16 14:50] #79264 closed

[2021-02-16 14:54] mistic commented on #91056
@restrry we will probably get back to that task only after completing the phase 1 for the Bazel project. However I would say we should start the discussion about what to do and start the work to unblock as soon as we can \cc @tylersmalley

[2021-02-16 14:56] majagrubic opened #91493 "[Discover] When switching from Fields API to _source, default column is confused in context view"
**Kibana version:**
master

**Describe the bug:**
When in context view of Discover and we toggle the UI setting for `readFromSource` and navigate back to Discover, the "old" default column is still shown (eg. `_source` instead of `Document`)

**Steps to reproduce:**
1. Go to Discover
2. Select an index pattern that has documents
3. Click "View surrounding documents"
4. Wait for the context view to

[2021-02-16 14:58] gmmorris commented on #90888
One thing to consider in this regard is that the next run of the Alert won't happen until all actions have executed - I'm not sure that's the behavior we want.

Perhaps the approach should be to group all actions in a single task (rather than a task per action, as we have now), but keep that task separate from the Alert task?

[2021-02-16 15:03] elasticmachine commented on #91493
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-16 15:06] #89617 closed

[2021-02-16 15:08] #76843 closed

[2021-02-16 15:10] ferullo commented on #90261
Endpoint has an update in the works for this that should be merged in a day or so. It's good if Kibana supports it before Endpoint, so I vote merge ASAP.

[2021-02-16 15:15] smith commented on #80508
APM is done.

[2021-02-16 15:22] jbudz commented on #17284
Mini bump on this - we pushed this to 7.13.  Any chance we can work with someone on this for the next release cycle?

[2021-02-16 15:23] #91401 closed

[2021-02-16 15:26] ruflin commented on #89442
There is also the case that potentially multiple fleet-server exists with different URLs. One for example would be in Cloud and the other one running on prem.

[2021-02-16 15:32] afharo commented on #68400
We're planning to remove this feature in 8.0. Timebox the effort

[2021-02-16 15:36] EricDavisX opened #91502 "Kibana Fleet setup may (at start up?) pull from production EPR registry even if a custom reg url is setup"
I am splitting off a concern noted in: https://github.com/elastic/beats/issues/23812

It is reported that the 0.9.1 System package was baked in to the Default policy when standing up a 7.10.2 self managed stack, this is most likely explained by the Fleet 'setup' call being done before the 'snapshot' xpack kibana.yml value was changed, and so the production EPR storage was still in use and it point

[2021-02-16 15:36] elasticmachine commented on #91502
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 15:39] EricDavisX opened #91505 "When using a custom registry URL in Kibana for EPR we are not seeing the latest System package showing in the Kibana Fleet UI as we expect."
I am splitting off a concern noted in: https://github.com/elastic/beats/issues/23812

Package storage 'snapshot' branch of the package-storage repo is in use via a custom registry URL and yet still the .0.9.2 System package is showing in the Kibana UI instead of 0.9.3 as we expect.

The 0.9.3 version is available in the actual registry API call:
https://epr-snapshot.elastic.co/search?package=syste

[2021-02-16 15:39] elasticmachine commented on #91505
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 15:45] stratoula opened #91506 "[TSVB] Change the default mode from last value to entire timerange"
**Describe the feature:**

Right now on TSVB metric, topN, gauge and markdown the user can select between visualizating the entire timerange or only the last value. Last value is the default but we want to change it to the `entire timerange` as it seems to be a confusing setting for the users.

![image](https://user-images.githubusercontent.com/17003240/108085264-d1528080-707d-11eb-833d-47526f6734

[2021-02-16 15:45] elasticmachine commented on #91506
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-16 15:48] #90628 closed

[2021-02-16 15:50] wylieconlon commented on #91506
Super in favor of this change because it's one of the most frequently asked questions about TSVB. It's now our top FAQ item in the TSVB docs. I also opened some issues related to "Last value" recently, and these are still worth addressing:

* [Last Value doesn't have any indication in the chart](https://github.com/elastic/kibana/issues/90248)
* [Bug in Last Value with null values](https://github.c

[2021-02-16 15:51] pheyos opened #91508 "[ML] Single metric viewer - forecast bounds cut off in time slider"
**Found in version**
- 7.11.1-bc2

**Browser**
- Chrome

**Steps to reproduce**
With the env-bootstrap job `cw_multi_1`:
- Open the job in the single metric viewer and select instance `i-66578749`
- Run a `1h` forecast
- Look at the time slider below the single metric chart

**Expected result**
- The time slider displays a preview of the data, forecast and model / forecast bounds with a reasonable

[2021-02-16 15:51] elasticmachine commented on #91508
Pinging @elastic/ml-ui (:ml)

[2021-02-16 15:53] wylieconlon commented on #91149
@simianhacker @timroes Are you aware of this function _ever_ working? Or is this change risk-free because it never worked?

[2021-02-16 15:54] #91281 closed

[2021-02-16 16:08] wylieconlon commented on #91149
I just created a deployment using 7.0.1 and observed that the feature has existed since then, and the feature appears to be doing _something_ but not necessarily something useful.

[2021-02-16 16:09] thomasneirynck commented on #91282
hi @patricklucas, this is a known behavior.

This behavior in Maps is in alignment with other parts of Kibana (e.g. Lens), but inconsistent with the older visualization types like you mention.

cc @kmartastic

[2021-02-16 16:11] #91364 closed

[2021-02-16 16:13] alisonelizabeth commented on #91348
Hi @giladgal! Thanks for opening this issue. I'm seeing 3 different types of enhancements. If you agree, I think it might make sense to have a separate issue for each piece of work.

1.

There is a brief description for a method already, however it only includes the available parameters and return value type.

<img width="752" alt="Screen Shot 2021-02-16 at 10 54 00 AM" src="https://user-images.gi

[2021-02-16 16:18] #75680 closed

[2021-02-16 16:18] cauemarcondes commented on #90166
@sqren it seems that the correct approach is to **not** explicitly set the time range on the suggestion bar. There was a discussion about this [here](https://github.com/elastic/kibana/pull/81515#discussion_r517934051) and since now APM uses the kibana time range, we should only set `useTimeFilter: true`, which's already done here

https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/pu

[2021-02-16 16:30] kobelb commented on #90691
As far as I'm aware, Node.js doesn't currently have any method of sandboxing code. However, operating systems themselves provide various facilities that apply to an entire process, for example: https://en.wikipedia.org/wiki/Seccomp

[2021-02-16 16:44] giladgal commented on #91348
@alisonelizabeth I agree with everything you wrote. As for examples, what I used in [the getting started with runtime fields blog](https://www.elastic.co/blog/getting-started-with-elasticsearch-runtime-fields) and in the videos that are attached to it (at the end - [the API calls I used in the videos are here](https://github.com/giladgal/Examples-for-Elasticsearch-runtime-fields-API-calls)) could

[2021-02-16 16:48] Dosant opened #91519 "[Lens] Excessive fetches on slower network"
**Kibana version:** master
**Describe the bug:**

Lens embeddable trying to fetch data more often than needed.

**Steps to reproduce:**
1. Create lens embeddable (I created a simple metric) Add it to a dashboard
2. Hit refresh on a dashboard
3. Notice how `update` on expression loader is called twice on each refresh

On a video I put a log right here:
https://github.com/elastic/kibana/blob/be17efd

[2021-02-16 16:48] elasticmachine commented on #91519
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-16 16:51] #74581 closed

[2021-02-16 16:51] katefarrar commented on #88649
@neptunian updated the description above with the correct copy and layout for the Jobs tab:
<img width="1439" alt="Screen Shot 2021-02-16 at 9 46 36 AM" src="https://user-images.githubusercontent.com/455281/108094402-fc1be500-703b-11eb-84eb-f05490210b5e.png">

Also, the `Machine Learning anomaly detection` flyout title should be styled like this: <img width="636" alt="Screen Shot 2021-02-16 at 9 5

[2021-02-16 16:52] #91432 closed

[2021-02-16 16:55] kibanamachine commented on #91450
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11819/)

[2021-02-16 16:55] kibanamachine commented on #90555
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11819/)

[2021-02-16 16:55] kibanamachine commented on #90555
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11819/)

[2021-02-16 17:17] elasticmachine commented on #90568
Pinging @elastic/uptime (Team:uptime)

[2021-02-16 17:17] mikecote commented on #90568
Pinging Uptime for awareness seems like something the alerting framework should solve.

[2021-02-16 17:20] tsullivan commented on #27136
closing as this is stale

[2021-02-16 17:20] #27136 closed

[2021-02-16 17:21] tsullivan commented on #11398
closing as is stale

[2021-02-16 17:21] #11398 closed

[2021-02-16 17:24] jasonrhodes commented on #91145
Big +1 on this from me, I think we should aim to make our alerts as consistent as we can with the others, even where we are providing some out of the box convenience to auto-create them for people.

[2021-02-16 17:27] tsullivan commented on #20091
I propose that we keep the setting and make it more known by documenting it: https://github.com/elastic/kibana/issues/89659

Using a lower zoom setting could help users have a higher number of successful reports, if they are willing to compromise on pixel density.

[2021-02-16 17:31] tsullivan commented on #17923
The headers will be needed in the job for re-running the job on a schedule. Keeping encrypted credentials in the queue documents is not a good idea, but eventually reports will use API Keys.

[2021-02-16 17:31] #17923 closed

[2021-02-16 17:34] tsullivan commented on #20899
@chrisronline this issue looks stale. Do you think it can be closed?

[2021-02-16 17:38] tsullivan commented on #50681
Marking this as stale since I don't think this issue persists in the latest code

[2021-02-16 17:39] mostlyjason commented on #89442
@ruflin that is a good point! Are you thinking it could be per agent policy? Either way, it'd be nice to have a global default so new agent policies can be initialized automatically. We could start with that and come back to per-agent policy URLs later.

[2021-02-16 17:41] tsullivan commented on #57772
I'm going to close this since it doesn't look like we have feedback to explain why saved searches are not enough of a solution.

[2021-02-16 17:41] #57772 closed

[2021-02-16 17:44] tsullivan commented on #69340
Replace with existing issue: https://github.com/elastic/kibana/issues/53900

[2021-02-16 17:44] #69340 closed

[2021-02-16 17:44] mostlyjason commented on #90408
I saw a PR where we called this a "Default Fleet server policy" https://github.com/elastic/kibana/pull/90973. However, its not just for Fleet server, it will also have APM server as well.

@ruflin @ph @nchaulet What do you think about "Default centralized agents policy"?

[2021-02-16 17:44] tsullivan commented on #72496
Related: https://github.com/elastic/kibana/issues/87573

[2021-02-16 17:45] tsullivan commented on #76411
Removing these fields makes it much more complicated for the Management UI to show the values for these settings. I suggest this issue be closed.

[2021-02-16 17:47] tsullivan commented on #84717
Closing this as we're not able to reproduce it

[2021-02-16 17:47] #84717 closed

[2021-02-16 18:02] cauemarcondes commented on #90920
@dgieselaar can you clarify what is the difference between `requested time range` and `query range`? We've got `start & end` and `rageFrom & rangeTo` available in the URL params, and we also have the time range available in the timeseries returned by the APIs.

[2021-02-16 18:07] igoristic commented on #42960
Thank you @ypid-geberit for your feedback

I think this is a good request feature, but perhaps out of scope within the context of this ticket. @ravikesarwani

[2021-02-16 18:11] dgieselaar commented on #90920
@cauemarcondes the range that the user selected, and that we display in the time picker. I've noticed that the time picker provides a "round to minutes" option - maybe we should just enable that by default and drop our own rounding.

[2021-02-16 18:25] jen-huang commented on #91502
Custom registry URL requires an enterprise or trial license. Can we ascertain the license type that's applied when spinning up a deployment?

[2021-02-16 18:25] ravikesarwani commented on #42960
Many of the  out of the box stack monitoring alerts provide users the full flexibility to control the notifications (including what method to get notified with based on license level) and when they are generated. For example "CPU Usage" has the default to alert when CPU is over 85% looking at average over last 5 minutes. Both 85% and 5 minutes duration can easily be adjusted by the users.

Also wi

[2021-02-16 18:27] jen-huang commented on #91505
Wouldn't this be a symptom of #91502 if we are not actually in fact using the custom registry URL? I'd like to verify the license type before diving into any other areas.

[2021-02-16 18:32] kibanamachine commented on #89958
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11950/)

[2021-02-16 18:32] wylieconlon commented on #74685
Looks like we can close this issue.

[2021-02-16 18:39] cauemarcondes commented on #90920
Is it what you mean:
<img width="1704" alt="Screenshot 2021-02-16 at 13 35 51" src="https://user-images.githubusercontent.com/55978943/108106506-08b03580-705c-11eb-8835-834c4bc1fa4b.png">

In the time picker we have `11:36:15` and `14:41:01` and the chart domain shows `11:30:00` and `14:45:00`.

Could you also point me out where you found it, please?

[2021-02-16 18:40] dgieselaar commented on #90920
@cauemarcondes open the time picker and it should be there.

[2021-02-16 18:44] #89293 closed

[2021-02-16 18:44] smith commented on #80508
Monitoring is done.

[2021-02-16 18:47] #90717 closed

[2021-02-16 18:47] #88901 closed

[2021-02-16 18:55] katefarrar opened #91542 "[Metrics UI] Timeline should be expanded by default"
The Timeline should be expanded by default when the Inventory view loads. Hide / show functionality will still be available.

<img width="1281" alt="Screen Shot 2021-02-16 at 11 49 57 AM" src="https://user-images.githubusercontent.com/455281/108108352-c253da00-704d-11eb-892f-b4d97d6a54b9.png">

[2021-02-16 18:55] elasticmachine commented on #91542
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-16 19:03] katefarrar opened #91545 "[Metrics UI] Waffle map color palette legend not visible when timeline is hidden"
Currently the waffle map color palette legend is nested inside the Timeline bottom drawer, so on mobile when the Timeline is hidden you can't see the color controls. The color palette controls need to be in a separate container and not grouped with the Timeline.

<img width="488" alt="Screen Shot 2021-02-16 at 11 54 04 AM" src="https://user-images.githubusercontent.com/455281/108109318-ebc13580-70

[2021-02-16 19:03] elasticmachine commented on #91545
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-16 19:04] katefarrar commented on #91542
Not sure if it would be possible to do both of these together, but adding https://github.com/elastic/kibana/issues/91545 here just in case

[2021-02-16 19:19] ruflin commented on #90408
This policy is not only created in Cloud but also for every other setup. But agree, it most cases it is likely to be "centralized". Should we skip the `agents` part as all policies are for Agents? `Management policy`? No strong option, I'm good going with the your suggestion.

[2021-02-16 19:22] cjcenizal commented on #90894
For the initial release of these Cloud-optimized enhancements, I think we should reduce the amount of complexity we're introducing in the UX, to reduce the risk of introducing bugs. An entirely new and simplified UI for configuring remote clusters on Cloud introduces two dimensions of increased complexity that I can see:

* **Edge cases might still require access to the original "advanced" setting

[2021-02-16 19:25] ruflin commented on #89442
I'm not sure I follow the above. The policy does not really matter here. An enrollment key can be used with any fleet server and all policies can be retrieved through all fleet-servers.

Lets take the current enrollment screen. Currently you can select the policy to enroll an Agent into. As an advanced option, there could also be an option that you can select the fleet-server you want to enroll in

[2021-02-16 19:27] TinaHeiligers commented on #88826
@rashmivkulkarni is something holding up your PR that unskips this test and, if so, how can I help?

[2021-02-16 19:41] EricDavisX commented on #91454
This is arguably a bug / feature ticket... it is an interesting use case that we may want to evaluate for the GA release.

[2021-02-16 19:48] wylieconlon opened #91552 "[TSVB] Support min/max functions on histogram type data"
[Min and max were supported in version 7.10](https://github.com/elastic/elasticsearch/pull/62532) but TSVB has not caught up to this yet.

[2021-02-16 19:48] elasticmachine commented on #91552
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-16 20:11] cauemarcondes commented on #90920
I feel like the current behavior is correct IMHO. If I change the chart domain to match the selected time range we wouldn't show what was actually fetched.

- Time picker selected range: `start: Feb 15, 2021 @ 14:31:22.431` and `end: Feb 16, 2021 @ 20:03:32.426`
- Time range used to fetch data: `start: 2021-02-15T13:00:00.000Z` and `end: 2021-02-16T22:00:00.000Z` (Rounded)

This how the chart is s

[2021-02-16 20:12] alvarezmelissa87 commented on #64691
Closed via https://github.com/elastic/kibana/pull/91151
Further discussion on adding something like basic charts showing data-flowing through ML will be discussed separately.

[2021-02-16 20:12] #64691 closed

[2021-02-16 20:12] #91371 closed

[2021-02-16 20:22] dgieselaar commented on #90920
@cauemarcondes a part of the domain is in the future, so it will never show any data on the right side. Users might think their service is not reporting data for the last hour. See the screenshot. Do you see it differently?

[2021-02-16 20:31] jfsiii commented on #89111
I can reproduce this. I believe I see the root cause, but am still confirming. Should have a fix (or at least more details) Wednesday

[2021-02-16 20:40] cauemarcondes commented on #90920
Not really, IMHO the only thing that is not correct in my view, is that the chart doesn't show the range I selected in the time picker, because of the rounding.

If I only change the chart domain to match the selected time range it won't be correct, since it is not what was fetched.

Sorry if I'm not seeing what you see. 😔

[2021-02-16 20:44] nchaulet opened #91562 "[Fleet] Improve pagination experience for >10k agents"
## Description

Pagination for agent is broken after 10k (or whatever the [index.max_result_window](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules.html#index-max-result-window) setting is for the cluster) agents. Elasticsearch offers various ways to paginate search results, can we use one of them to improve this experience?: https://www.elastic.co/guide/en/elasticsea

[2021-02-16 20:44] elasticmachine commented on #91562
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 20:45] michaelolo24 commented on #90288
Just noting the discussion we had in the zoom earlier today with the Threat Hunting team. Of note, @XavierM and @kqualters-elastic noted a great option moving forward could be to have the endpoint team provide the `process.created` timestamp along with the current process details included in each event. With this information, we could then auto expand the time-range of the user to at least that st

[2021-02-16 20:47] #49392 closed

[2021-02-16 20:50] nchaulet commented on #91562
Actually the error already exists with saved objects

[2021-02-16 20:52] dgieselaar commented on #90920
No worries. I agree that we should not just change the chart domain, because the user needs to be able to trust their data. If we simply cut off the domain, things like tables will keep showing statistics for the queried time range rather than the displayed time range. I did not properly consider this when I suggested it to Nathan. That being said, I don't think this result is desirable, so we sho

[2021-02-16 20:52] cauemarcondes commented on #90920
A good example of this is when I select `Today` in the time picker:

<img width="1703" alt="Screenshot 2021-02-16 at 15 48 23" src="https://user-images.githubusercontent.com/55978943/108119938-82511f00-706e-11eb-978d-f36e36c696a6.png">

API call: api/apm/services/opbeans-java/transactions/charts/latency?start=2021-02-16T03:00:00.000Z&end=2021-02-17T06:00:00.000Z

I expected to see `00:00` until `2

[2021-02-16 20:59] cjcenizal commented on #90894
I chatted with @jethr0null and realized I was too hasty in my assertion above. I'd like to clarify the requirements of Boaz's proposal first.

@zanbel Can you provide a detailed example to help me understand this scenario better? To Boaz's point, how much customization would we need to provide a user? Defining just the port? Or the server name too?

[2021-02-16 21:38] pmuellr commented on #90375
I assume we are changing plugin names as well?

- `actions` -> `connectors`
- `alerts` -> `rules`
- `stack_alerts` -> `stack_rules`
- `triggers_actions_ui` -> `triggers_connectors_ui`

Not sure I like `rules` as a top-level name, `stack_rules` is almost even more ambiguous!  :-)  `alerting_rules`? (alerting **rules**, dude!)

Or can we not easily change the plugin names for some reason (feature co

[2021-02-16 21:39] spalger opened #91569 "[ml] remove use of deprecated `/_ml/find_file_structure` API"
I'm looking to upgrade to the new client in https://github.com/elastic/kibana/pull/91566 which is failing because the `/_ml/find_file_structure` was deprecated, but removed from clients for 8.0 by https://github.com/elastic/elasticsearch/pull/67123.

This API is used in a handful of places in the ML codebase and it seems that usage can be converted directly to use the `/_text_structure/find_struct

[2021-02-16 21:39] elasticmachine commented on #91569
Pinging @elastic/ml-ui (:ml)

[2021-02-16 21:42] pzl opened #91570 "[Fleet] [Security Solution] Fleet cannot upgrade: Transform stop times out"
**Describe the bug:**

Fleet page presents error box: `"Unable to initialize Fleet - An internal server error ocurred"`

**Kibana/Elasticsearch Stack version:**
7.10 -> 7.11 Upgrade

may also be present on package upgrades staying within the same minor (e.g. 7.11)

**Steps to reproduce:**

1. Explicitly define node roles in a 7.10 cluster (without any transform roles)
2. Upgrade to 7.11
3. Visit F

[2021-02-16 21:42] elasticmachine commented on #91570
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-16 21:43] elasticmachine commented on #91570
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-16 21:43] elasticmachine commented on #91570
Pinging @elastic/fleet (Team:Fleet)

[2021-02-16 21:46] spalger commented on #91569
@jgowdyelastic Looks like you touched a lot of this code recently via https://github.com/elastic/kibana/pull/74965, do you think this is going to be a major chore or should we ask ES to keep the API definition for the deprecated API method?

[2021-02-16 21:50] ogupte opened #91572 "[APM] Correlations support metrics for latency distribution"
Metrics data should be included in the latency distribution
https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/correlations/get_correlations_for_slow_transactions/get_latency_distribution.ts#L53-L88 and spread into the distribution data.

[2021-02-16 21:50] elasticmachine commented on #91572
Pinging @elastic/apm-ui (Team:apm)

[2021-02-16 21:51] wylieconlon commented on #91163
I have come up with what I think is a good solution to this problem: introduce a `histogram` formatter which will decide how to format the value contextually. This will act as a _parent formatter_ similar to the range aggregation, but the inner formatter is always a number format.

[2021-02-16 21:58] ogupte opened #91574 "[APM] Correlations: Display latency distribution in a logarithmic scale"
Currently the latency distribution chart in correlations show the data in a linear scale with 15 buckets:
![Screen Shot 2021-02-16 at 4.53.43 PM.png](https://zube.io/files/elastic/51bdaa5f57b3600b48751f5cbe2b7c29-screen-shot-2021-02-16-at-4-53-43-pm.png)

We should instead render a chart with a logarithmic scale so that small amount in extreme cases will still be visible to the user.

[2021-02-16 21:58] elasticmachine commented on #91574
Pinging @elastic/apm-ui (Team:apm)

[2021-02-16 22:01] ogupte commented on #91572
Is the logarithmic scale supposed to be applied to the x or y axis?

[2021-02-16 22:03] ph commented on #91562
I think we have fixed this issue for something else @jen-huang ?

[2021-02-16 22:05] ogupte commented on #91572
This ticket should also address other issues related to the inconsistent number of histogram buckets:
https://github.com/elastic/kibana/pull/89952#discussion_r573331847, https://github.com/elastic/kibana/pull/89952/files#diff-1bb31cf183b7a29382804280291074465340c2a2d3766b7ae07d284ac7a5f2abR115

[2021-02-16 22:06] ogupte commented on #91574
This ticket should also address other issues related to the inconsistent number of histogram buckets:
https://github.com/elastic/kibana/pull/89952#discussion_r573331847, https://github.com/elastic/kibana/pull/89952/files#diff-1bb31cf183b7a29382804280291074465340c2a2d3766b7ae07d284ac7a5f2abR115

[2021-02-16 22:06] ogupte commented on #91574
Is the logarithmic scale supposed to be applied to the x or y axis?

[2021-02-16 22:11] mostlyjason commented on #89442
Interesting the dropdown method is simple and could work as an MVP.

I can think of a few use cases where it'd be advantageous to add it to the agent policy. What if the user wants to take a fleet server out for maintenance or replacement? One option is to use a load balancer to fail over to another instance. If the user doesn't have a load balancer, they'd have to reenroll all the agents. The nic

[2021-02-16 22:11] jen-huang commented on #91562
I think this is a known limitation? In the UI we display `Showing 10,000 out of X agents" if there are >10k agents. Maybe there is a small bug where the last page page does try to retrieve more than the first 10k, though.

[2021-02-16 22:14] #90603 closed

[2021-02-16 22:21] pzl commented on #91562
Here is the SavedObject ticket reference: https://github.com/elastic/kibana/issues/77961

endpoint table follows the Agent pattern here of capping at 10k and showing that message ( PR: https://github.com/elastic/kibana/pull/82889 )

[2021-02-16 22:41] EricDavisX commented on #91505
Maybe not Jen - though it is a very fair question.  I was overly brief perhaps, I had understood the 0.9.2 package was not in production package storage, so since we were seeing it, we have some confidence it is picking up something from the new registry.  But why it wasn't picking up the package that was yet even newer than that is not clear.

[2021-02-16 22:43] EricDavisX commented on #91502
@amolnater-qasource @dikshachauhan-qasource can you post what you see in the logs from your test of 7.10.2 / 7.10.3 self managed stack?

[2021-02-16 22:44] YulNaumenko opened #91583 "[Actions] PagerDuty Resolve and Acknowledge payloads should contains only fields according to the API docs."
Currently we have a confusing UX for a PagerDuty action, when users are creating PagerDuty action to Resolve the incidents:
according to the UI and API requirements, user should enter Summary as a required field and can fill the other fields as an optional. But it won't work, because in [PagerDuty API](https://developer.pagerduty.com/docs/events-api-v2/trigger-events/#example-request-payloads) the

[2021-02-16 22:44] elasticmachine commented on #91583
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-16 22:52] #88826 closed

[2021-02-16 23:09] dominiqueclarke commented on #90555
This failure appears to be targeted at Eui code that is part of the implemtnation of `EuiFlyout`. This was investigated by @myasonik who was unable to reproduce the failure, but appears to have failed again recently.

[2021-02-16 23:35] jen-huang commented on #91505
Good point. This is a little hard to debug now since 0.9.3 was removed and new system package versions have been deployed since then (across all registry environments). Might it be worth a complete rerun and observe the package versions again?

[2021-02-16 23:40] jportner opened #91590 "Embedded iframe dashboard filtering does not work"
**Kibana version:** master

**Browser version:** Firefox 84 (latest) and Chrome 88 (latest)

**Browser OS version:** macOS Big Sur

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:** When rendering a webpage with an embedded dashboard, you can add filters, but it does not change any of the data on the screen. It also does not result in addi

[2021-02-16 23:40] elasticmachine commented on #91590
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-16 23:47] #90778 closed

[2021-02-17 00:05] jen-huang commented on #74602
@jfsiii Do you think #88403 resolved this too?

[2021-02-17 00:13] kibanamachine opened #91592 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/dashboard_edit_panel·ts - Dashboard Edit Panel A11y test on dashboard embeddable clone panel"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11956/)

[2021-02-17 00:29] spong opened #91594 "[Security Solution][Detections] Rule fails when timestamp override field is not mapped"
In 7.11 support was added (https://github.com/elastic/kibana/pull/86368) for querying multiple timestamps and falling back to `@timestamp` if the `timestampOverride` field did not exist in the source index. If this fallback occurred, the rule would write a partial failure informing the user of the missing field, but still write any alerts from the fallback query using `@timestamp`. In testing http

[2021-02-17 00:29] elasticmachine commented on #91594
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 00:29] elasticmachine commented on #91594
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-17 00:29] sqren commented on #91574
Only the x-axis (latency). Y-axis (occurrences) should still be linear.

[2021-02-17 00:45] rightaway commented on #88135
@tylersmalley Why not add a simple compatibility matrix to the website where you have it for your other products? It's very useful information to have and not everyone will be able to use the installer from your website for whatever reasons.

[2021-02-17 01:15] kibanamachine commented on #91592
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11957/)

[2021-02-17 01:24] elasticmachine commented on #91592
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-02-17 02:03] rightaway commented on #88134
@tylersmalley It is good practice to have an error if an unsupported version is used. Otherwise your users will end up wasting lots of time since kibana still starts even though it's requirements aren't met. It's unfortunate that we are met with a blank screen and no errors, because it's impossible to diagnose. This could lead to lots of frustration.

Just because the package isn't maintained by y

[2021-02-17 02:09] kibanamachine commented on #91592
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11958/)

[2021-02-17 03:20] kibanamachine commented on #91450
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11829/)

[2021-02-17 03:29] tylersmalley commented on #91592
Skipped

master: 57a42b2edd237bc93ee8e41bed89ec9ae839792a
7.x: 2c16d8cce70e3b8609384a171bc6a662d3c4385f

[2021-02-17 03:31] tylersmalley commented on #91450
Skipped

master: 042f35226f65faf6fef4787f8de5bea1ea33310b
7.x: 61d0ae3365fb0da0c447f5e9a9ae560d5f380e29

[2021-02-17 03:32] kibanamachine commented on #91450
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11959/)

[2021-02-17 04:21] #86477 closed

[2021-02-17 04:21] #90622 closed

[2021-02-17 04:21] #90766 closed

[2021-02-17 04:21] #91080 closed

[2021-02-17 06:51] stratoula commented on #91242
This test fails due to this change https://github.com/elastic/elastic-stack-testing/pull/791 in order other cloud tests to be fixed. We synced offline with @liza-mae and @thomasneirynck and we decided to first move all the tests that require `xpack.maps.showMapVisualizationTypes: true` to be moved on other test suite (https://github.com/elastic/kibana/issues/89928) and then revert the cloud config

[2021-02-17 06:57] pheyos commented on #90526
Issue fixed and tests re-enabled in #91061

[2021-02-17 06:57] #90526 closed

[2021-02-17 07:23] #83142 closed

[2021-02-17 07:50] deepikakeshav-qasource commented on #85403
Hi,

We have validated this ticket on **7.11.1** as well as **7.12.0** and found that issue is **Fixed**. Timeline Template is Auto Saved when using "Add to favorites" button before providing the name and description."

**Build Details:**
[code]

[code]
Artifacts: https://staging.elastic.co/7.11.1-036eaf65/summary-7.11.1.html
Artifacts: https://artifacts-api.elastic.co/v1/search/7.12.0-SNAPSHOT/

[2021-02-17 07:50] #85403 closed

[2021-02-17 08:19] elasticmachine commented on #91590
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-17 08:22] stratoula commented on #91506
Yes @wylieconlon I have seen them and we are going to do this change for 7.13

[2021-02-17 08:44] nkemcels opened #91609 "External Plugin gets an empty request body object when validation is turned off for an endpoint."
**Kibana version:**
7.10.2 onwards

**Elasticsearch version:**
7.11.0

**Server OS version:**
Ubuntu 18.04 LTS

**Browser version:**
85.0.1

**Browser OS version:**
Ubuntu 18.04 LTS

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
I'm upgrading an external plugin from Kibana Version **7.6.2** to **7.10.2**.
From the docs, when a server r

[2021-02-17 08:44] jamesspi commented on #90288
I'm a fan of that idea @michaelolo24 , particularly a dedicated time picker.

[2021-02-17 09:09] jgowdyelastic commented on #91569
This should be a very small change, however we're held back by the `/_text_structure/find_structure` endpoint not being included in the js client yet.
The definition [exists](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/src/test/resources/rest-api-spec/api/text_structure.find_structure.json) and so will be included in the next version of the client.

[2021-02-17 09:19] jgowdyelastic commented on #88010
This should be a very small change, however we're held back by the /_text_structure/find_structure endpoint not being included in the js client yet.
The spec exists and so will be included in the next version of the client.

[2021-02-17 09:19] #91569 closed

[2021-02-17 09:20] jgowdyelastic commented on #91569
Closing as this is a duplicate of https://github.com/elastic/kibana/issues/88010

[2021-02-17 09:30] formgeist commented on #91365
@SergeyKleyman @dgieselaar Not sure why it'd show up fuzzy, unless the SVG we're using is just a bitmap image not a vector. I'll look into it and replace it if necessary.

[2021-02-17 09:58] afharo opened #91611 "[Meta] Clean up unused/legacy Telemetry & Usage Collection"
@afharo Would it make sense to open a meta issue for general Telemetry-related cleanup tasks we feel are needed before 8.0? To me, it would be a nice way to track all the things that we _should_ be doing before then.

_Originally posted by @TinaHeiligers in https://github.com/elastic/kibana/pull/91464#issuecomment-780018961_

This issue is to track all the APIs and pieces of logic that are maintai

[2021-02-17 10:00] gilawi opened #91612 "pdf report is cut on the end"
**Kibana version:**7.11

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
when I try to share a  pdf report from Kibana the edge is cuted
**Steps to reproduce:**
1.open a built report (should be longer than 1 page)
2.share report pdf option
3.

**Expect

[2021-02-17 10:01] elasticmachine commented on #91611
Pinging @elastic/kibana-core (Team:Core)

[2021-02-17 10:01] abbanabennanih opened #91613 "Export TSVB related objects"
**Describe the feature:**
Add the ability to export TSVB related objects. For example, export the index-pattern 'my-index-pattern' when exporting TSVB object. The feature already exists for the most Kibana objects except TSVB.

**Describe a specific use case for the feature:**
It's a classic use case where we need to develop some dashboards on dev env and then export/import them into Production en

[2021-02-17 10:02] delvedor commented on #70431
@elastic/kibana-operations there are two new versions of the canary package. How will the upgrade be handled? Is it possible to automate it?

[2021-02-17 10:04] rudolf opened #91615 "Saved objects import/export should include spaces"
When users use the saved objects import/export UI or API they are able to export all objects from a specific space or import objects into a specific space, but the saved objects in the NDJSON file itself are stripped of all namespace information.

This causes several problems:
 1. When making a backup export, users loose all space information and have to manually keep track of the space they expor

[2021-02-17 10:05] rudolf commented on #91615
Since importing saved objects will add and potentially change existing saved objects in other spaces than the user's current space, users will have to have access to all spaces which the import will affect. However, the user experience can be quite frustrating when imports stop working because an existing saved object has been saved to a different space to which the current user doesn't have acces

[2021-02-17 10:10] heipei opened #91616 "Serious performance regression from 7.9.3 to 7.10.2"
Kibana: 7.10.2
Elastic: 7.10.2
Server: Ubuntu 18.04 (with Docker)
Browser: Chrome Version 88.0.4324.182 (Official Build) (64-bit) (Linux)
Install Method: Docker

Description: I tried upgrading Kibana from 7.9.3 to 7.10.2 on an existing ElasticSearch cluster and the frontend seems to have serious performance issue, so much so that every minor action that I take (like selecting a different time-rang

[2021-02-17 10:16] sulemanof opened #91617 "[Data Table] Split by row tables create an infinite scrollbar in visualization"
**Kibana version:** master

**Browser version:** any

**Describe the bug:**
Creating a Data Table visualization with `Split by row` aggregation creates a visualization with infinite scroll, tables are stretched with endless space between them

**Steps to reproduce:**
1. Create a Data tavle visualization
2. Add any `Split table` bucket by row direction
3. Press `Update` - see the visualization star

[2021-02-17 10:20] rudolf opened #91618 "v2 migrations adds significant CI overhead"
v2 migrations causes the CI run to take 15 minutes longer on average which consumes significant CI resources. In short, the v2 migrations have a lot more steps and do a lot more work so they're much slower especially for small data sets like our tests.

This has caused Jenkins timeouts and although infra bumped the limits, there's still a concern that we're adding this much extra time to CI for so

[2021-02-17 10:20] stratoula commented on #91617
@chandlerprall @snide we think that this is a bug introduced by the EuiDataGrid changes. We will try to see if we can fix it on kibana side but please take a look too 🙏

[2021-02-17 10:21] rudolf commented on #91618
@LeeDr @wayneseymour Do you have a target for completing https://github.com/elastic/kibana/issues/89368?

[2021-02-17 10:25] SergeyKleyman commented on #91365
I'm definitely not an expert on visuals but my feeling is that it looks fuzzy when scaled down because of black letters on relatively dark background. Maybe we can try to brighten the background or change `php` color to white?
Another option is to use a more visual logo instead of just a writing on a background (even though it's the official logo). For example, images of an elephant like the one b

[2021-02-17 10:26] elasticmachine commented on #91618
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-17 10:26] elasticmachine commented on #91618
Pinging @elastic/kibana-core (Team:Core)

[2021-02-17 10:31] rudolf opened #91619 "Remove v1 saved object migrations"
When we introduce v2 saved object migrations (https://github.com/elastic/kibana/pull/78413, https://github.com/elastic/kibana/pull/89297) we kept the v1 migrations with the `migrations.enableV2` configuration option to switch between the two. This is a failsafe mechanism so that if we discover a bug in the v2 migrations there is a way for users to quickly get their upgrades working again.

Keeping

[2021-02-17 10:33] elasticmachine commented on #91615
Pinging @elastic/kibana-core (Team:Core)

[2021-02-17 10:33] elasticmachine commented on #91615
Pinging @elastic/kibana-security (Team:Security)

[2021-02-17 10:35] #90923 closed

[2021-02-17 10:37] deepikakeshav-qasource opened #91621 "[Security Solution] "Error loading data" is displaying under analyze event for Resolver."
**Description**
"Error loading data" is displaying under analyze event for Resolver.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on analyze event icon.
3. Observe that "Error loading da

[2021-02-17 10:37] elasticmachine commented on #91621
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 10:38] deepikakeshav-qasource commented on #91621
@manishgupta-qasource Please Review!!

[2021-02-17 10:44] manishgupta-qasource commented on #91621
Reviewed & Assigned to @MadameSheema

[2021-02-17 10:49] #91119 closed

[2021-02-17 10:57] elasticmachine commented on #91616
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 11:00] shahzad31 commented on #90568
@mikecote @pmuellr do we also have any plans to add more formatting options like styling bold/color, icons etc to messages? those are especially useful in terms of slack etc

[2021-02-17 11:01] restrry commented on #91618
I suspect the overhead will decrease as more plugins migrate to the SO API.
We can use `migration v1` until the end of 7.13. Then evaluate how much https://github.com/elastic/kibana/issues/89368 has relieved the situation.

[2021-02-17 11:13] zanbel commented on #90894
Sure. Just a small warning, this is based on my recollection of what was discussed with Jose a while back.

Consider a scenario where an ECE user has a reverse proxy/LB in front of our proxy layer (that's the recommended setup). In some cases, they want to expose a pretty name so instead of `<UUID>.acme.com` they configure their reverse proxy to route requests and expose `my-awesome-deployment.acm

[2021-02-17 11:21] stratoula commented on #91617
![image](https://user-images.githubusercontent.com/17003240/108197351-f0efb480-7122-11eb-8db9-a7d65c19ed36.png)
There is also a grey container that was not there before.

[2021-02-17 11:35] ypid-geberit commented on #42960
Sounds like what @ravikesarwani wrote addresses it. I am looking forward to it :)

[2021-02-17 11:40] mikecote commented on #90375
@YulNaumenko was mentioning it's a recommendation to keep the plugin id within the URL. This would be `/api/actions/connectors`?

A couple of endpoints that should use singular `rule` or `connector`?

This one is interesting, I'd recommend thinking about how it would look like when we support multiple actions per connector and work backwards from there.

`/api/actions/connector/{id}/action/_execut

[2021-02-17 11:42] mikecote commented on #90568
@shahzad31 this would be done when moving text areas to EUI Markdown, we are tracking the Email one with https://github.com/elastic/kibana/issues/66723 but I don't recall issues for others (ex: slack).

[2021-02-17 11:53] mikecote commented on #50266
@LeeDr The current use case driving this issue is regarding # 2 to move alerts/connectors to another cluster as Kibana drops multi-tenancy support. The approach we're going will not include sensitive (encrypted) data but have workflows to re-enter sensitive information before the connectors can be used. This decision was made because we have to deliver something in a minor release while ensuring w

[2021-02-17 11:57] #91135 closed

[2021-02-17 11:57] gmmorris commented on #90375
I'm not sure we need to change that one specifically... 🤔
Actions are still there, still a big part of that plugin and not going anywhere :)
It's also worth noting that as we can't migrate RBAC, we'll be keeping the `Actions & Connectors` feature as is, so `actions` is still a prominent name in the system.

I'd opt for keeping it as is.

[2021-02-17 11:58] muskangulati-qasource opened #91628 "[Security Solution] Host Details for detections tab shows incorrect details for newly added fields."
**Description**
Host Details for detections tab shows incorrect details for newly added fields.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Alerts should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on the rule name of the alert.
3. Click on t

[2021-02-17 11:58] elasticmachine commented on #91628
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 11:59] muskangulati-qasource opened #91629 "[Security Solution] No resolver for alerts under the timeline tab."
**Description**
No resolver for alerts under the timeline tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on 'Investigate with timeline'
3. Click on the analyzer
4. Observe that no nod

[2021-02-17 11:59] elasticmachine commented on #91629
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 12:00] muskangulati-qasource commented on #91629
@manishgupta-qasource please review!

[2021-02-17 12:00] muskangulati-qasource commented on #91628
@manishgupta-qasource please review!

[2021-02-17 12:04] gmmorris commented on #90375
Fair point... yeah, we could add that now... but I'm not sure what id we'd use there _now_, as we don't have an `actionId` at the moment.
Should it use the _same_ id as the connector until we add that support?
Or do we not include it now and address this in the future by having a _default_ `actionId` on a connector? 🤔

Yup, copy-pasta.
Fixed.

It's not an Id though, is it? It's the connector type

[2021-02-17 12:10] amolnater-qasource commented on #91502
Hi @EricDavisX
We have validated this on self-managed stack 7.10.3 Snapshot Kibana and have used below xpack for kibana.yml.
[code]
Further we used **trial license** to resolve "custom registry URL" warnings as we can also upgrade self managed stack environment using this license.

**Observations:**
- Observed `Custom registry URL is an experimental feature and is unsupported.` under kibana logs.

[2021-02-17 12:10] manishgupta-qasource commented on #91628
Reviewed & assigned to @MadameSheema

[2021-02-17 12:14] manishgupta-qasource commented on #91629
Reviewed & Assigned to @MadameSheema

[2021-02-17 12:18] deepikakeshav-qasource opened #91631 "[Security Solution] Horizontal bar is not displaying in the host details panel under the detection tab."
**Description**
Horizontal bar is not displaying in the host details panel under the detection tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on hostname under the host.name column.
3

[2021-02-17 12:18] elasticmachine commented on #91631
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 12:18] deepikakeshav-qasource commented on #91631
@manishgupta-qasource Please review!!

[2021-02-17 12:19] sqren commented on #90806
Thanks @Kerry350 . WDYT about updating the issue description with the logs permission to keep it all in a single declaration.

[2021-02-17 12:19] flash1293 commented on #91617
The grey container got added on purpose, I mentioned this in the EUI update PR.

[2021-02-17 12:19] elasticmachine commented on #91617
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 12:20] elasticmachine commented on #91612
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-17 12:20] sqren commented on #90806
## APM

### Read only user
[code]

### Power user
[code]

[2021-02-17 12:21] elasticmachine commented on #91613
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 12:21] flash1293 commented on #91613
That's a valid request - it doesn't work right now because TSVB is not using index pattern saved objects but stores the string directly. However we are already planning to migrate TSVB to use index patterns: https://github.com/elastic/kibana/issues/91367

[2021-02-17 12:21] #91613 closed

[2021-02-17 12:28] stratoula commented on #91617
Oh I see, this is intentional. It doesn't seem very cool on a dashboard though but I assume that this has been already discussed
![image](https://user-images.githubusercontent.com/17003240/108204287-47adbc00-712c-11eb-9e89-04dbc3ac287b.png)

[2021-02-17 12:32] flash1293 opened #91633 "Discover: Context view shows _source column if data grid is enabled"
**Kibana version:** master

**Describe the bug:** The context view shows the _source column even if fetching via fields is enabled as long as no columns are configured

**Steps to reproduce:**
1. Enable data grid
2. Enable fields fetching
3. Go to Discover
4. Do not select a column
5. Open context view for a document
6. _source column is shown

**Expected behavior:**
"Document" column should be sh

[2021-02-17 12:32] elasticmachine commented on #91633
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 12:34] flash1293 commented on #91617
I'm also not a big fan :) cc @snide how would you feel about reverting back to white background for 7.12 and trying to find a better solution for 7.13 and onwards?

[2021-02-17 12:35] mikecote commented on #90375
Good question :-) I'd have to think about it or see what others think. We can always defer distinguishing action from connector to when connectors support multiple actions. For now we could have something like `/api/actions/connector/{connectorId}/_execute` and later add a new API with `{actionId}` in it in the future.

Connectors use generated UUIDs, but connector types don't, though they still u

[2021-02-17 12:36] restrry commented on #90457
Elasticsearch has to use (3) because it is a `log4j` configuration interface.
In my opinion, it's not always optimal since the configuration is scattered across different files.
What if we do (4)? Why they have to be commented out by default?

How many places in the codebase rely on this? It can be an option requiring the least amount of effort.

[2021-02-17 12:54] manishgupta-qasource commented on #91631
Reviewed & Assigned to @MadameSheema

[2021-02-17 13:00] skh commented on #90299
Docs were changed in https://github.com/elastic/elasticsearch/pull/69006

[2021-02-17 13:00] #90299 closed

[2021-02-17 13:02] sqren commented on #90166
@cauemarcondes Thanks for digging this up. If `useTimeRange: true` is enabled, does that mean it works as expected (filters by time range) and we can close this issue?

[2021-02-17 13:08] dgieselaar commented on #90166
FWIW, I see a lot of fields in the search bar that I can't remember being in the APM index mappings.

[2021-02-17 13:23] arisonl commented on #91174
I am closing this issue as a duplicate of: https://github.com/elastic/kibana/issues/76316

[2021-02-17 13:23] #91174 closed

[2021-02-17 13:24] Angel0r commented on #68014
Hi,

I have the same problem. We have Kibana 7.10.0 and the "drop partial data doesn't work correctly.
It removes data that they are not in the gray line.

Selecting Drop partial data:
![2021-02-17_14-20](https://user-images.githubusercontent.com/23244740/108210250-9444c780-712b-11eb-9bca-21dc1d701a7b.png)

Without selecting drop partial data:
![Without drop](https://user-images.githubusercontent.

[2021-02-17 13:26] kertal opened #91637 "Improve field formatting for geo_point typed fields"
We used a custom formatting function when we integrated `EuiDataGrid` in Discover. And decided to later on remove it, since it should be taken care of Kibana field formatters. So here is how we rendered it before removing this functionality:
![Bildschirmfoto 2021-02-16 um 10 16 44](https://user-images.githubusercontent.com/463851/108210409-cce4a100-712b-11eb-864b-a8a881121fc5.png)
When we removed

[2021-02-17 13:27] arisonl commented on #76316
We have received customer feedback (cc @mikeh-elastic), requesting to allow users to edit APM alerts. As stated in the descriptions APM alerts are the only ones that do not offer this functionality and there is no workaround at the moment, tolerable from a UX perspective. What is the path forward? (cc @cyrille-leclerc)

[2021-02-17 13:28] #91177 closed

[2021-02-17 13:31] sqren commented on #90920
+1 on the order of this list. Would be optimal if we can simply defer rounding to the Kibana timepicker and not worry about it anymore. Second best to only round the lower boundary.

[2021-02-17 13:32] sqren commented on #91572
@ogupte Thanks for opening this. Can you add some details around what is needed (or perhaps, what is missing) to get metrics support?

[2021-02-17 13:36] kibanamachine commented on #89958
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11969/)

[2021-02-17 13:36] RasmusO95 commented on #4612
@dpasqualin Im facing same difficulties as you are :/

[2021-02-17 13:40] amolnater-qasource opened #91639 ""TLS check disabled" errors under Agents tab when xpack with "xpack.fleet" is used with self managed stack upgraded to 7.11.1(from 7.10.3 Snapshot)"
**Kibana version:** Upgraded Kibana: 7.11.1 BC-3 self-managed stack environment

**Host OS and Browser version:** Windows 10, All

**Build details:**
[code]
**Preconditions:**
1. Self-managed stack 7.10.3 Snapshot environment must be deployed.

**Steps to reproduce:**
1. Stop elasticsearch and kibana.
2. Overwrite  7.11.1 new config & data folders under elasticsearch & kibana extracted folders wit

[2021-02-17 13:41] mshustov opened #91640 "Add integration tests for elasticsearch.sniff* config"
Setting `elasticsearch.sniff*` in the config file used to cause authentication problems https://github.com/elastic/kibana/issues/42224
The root problem has been fixed in https://github.com/elastic/kibana/pull/91276/
We should add integration tests to make sure that code changes do not break cases when users configure `elasticsearch.sniff*` settings.

[2021-02-17 13:41] elasticmachine commented on #91640
Pinging @elastic/kibana-core (Team:Core)

[2021-02-17 13:41] amolnater-qasource commented on #91639
@manishgupta-qasource Please review. Thanks.

[2021-02-17 13:44] Kerry350 commented on #90806
@sqren Sure, I didn't want to assume and ruin your description 😅 I've merged Logs in with APM in the main declaration.

[2021-02-17 13:45] manishgupta-qasource commented on #91639
Reviewed & assigned to @EricDavisX

[2021-02-17 13:48] BenB196 opened #91642 "[Index Management][Mappings Editor] Allow searching and adding for sub-field types in Field type box"
**Describe the feature:**
Currently in order to add a mapping the uses a sub-type mapping (ex: Numeric Long) via the Mapping Editor, it requires 4 steps:
1. Add new field
2. Set field name
3. Enter field type (ex: Numeric)
4. Enter sub-field type (ex: (Numeric Type) Long)

I would like to pose allowing searching and adding sub-field types by the field type field. It would look something like:
1. A

[2021-02-17 13:53] FlorianHeigl commented on #4612
soon 6 years? it has been so long since i ran into this that i practically **_unlearned_** how to use kibana.

[2021-02-17 13:54] flash1293 opened #91644 "Discover: Toggling "Show unmapped fields" is not re-rendering the table"
**Kibana version:** master

**Describe the bug:** Toggling "Show unmapped fields" is not re-rendering the table even if it changes

**Steps to reproduce:**

0. Use legacy doc table
1. Create an index with unmapped fields
2. Create a pre712 saved search with columns for these fields
3. Open the saved search and toggle "Show unmapped fields"
4. Table doesn't change

**Expected behavior:**
Table shou

[2021-02-17 13:54] elasticmachine commented on #91644
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 13:55] banderror commented on #79932
@dhurley14 does https://github.com/elastic/kibana/pull/91167 really fix this bug? Might be a wrong reference from the PR Cause I see this https://github.com/elastic/kibana/pull/91051 ! :)

[2021-02-17 13:57] christophercutajar opened #91645 "Add Alert ID and Action/Connectors ID in Kibana UI"
**Describe the feature:**

Currently the ways to get knowledge about the alert IDs and action/connectors IDs are via one of the following ways:

- Get Alert ID from URL
- Get Alert ID from `.kibana` by searching for `type: alert` and then perform a search using `Find & Replace`
- Via analysing the network packets in Chrome developer tools
- Using https://github.com/pmuellr/kbn-action for both aler

[2021-02-17 13:57] elasticmachine commented on #91645
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-17 13:59] kibanamachine commented on #90555
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11840/)

[2021-02-17 13:59] gmmorris commented on #90375
Ah I see what you mean... it's a funny one 😆
I jest felt it was confusing that that same ID is used in all instances of that connector... so I don't think of it as an _identifier_ so much, as a classification... 🤷
But no biggie... I definitely don't feel strongly about this...

Gotcha, yeah, we should fix these here... I'll give it a pass

[2021-02-17 14:00] alexfrancoeur commented on #89716
Yes, if I filter on that field, it shows up in the list of available fields. I'll close out in favor of https://github.com/elastic/kibana/issues/58330 but it feels like we'll want a better experience here as we begin to make Lens the default experience. It doesn't seem like Lens handles sparse fields that well. I can understand the performance impact for optimizing for sparse fields, but there has

[2021-02-17 14:00] #89716 closed

[2021-02-17 14:01] flash1293 opened #91647 "Discover: Select field type icons disappear on filter"
**Kibana version:** master

**Describe the bug:** If fields with different types are selected (used as columns) and the field filter is used, the icons turn into the unknown type icon if they don't match the filter

**Steps to reproduce:**
1. Go to Discover
2. Add a number and a string field
3. Filter field list by string
4. Number field is shown with question mark icon

**Expected behavior:**
Sel

[2021-02-17 14:01] elasticmachine commented on #91647
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 14:02] skh commented on #91570
I agree that the error shouldn't block the Fleet UI, but I would also be interested to learn how to clean up the problematic transform, especially to have a workaround for already affected customers.

[2021-02-17 14:02] restrry commented on #17888
a side-note: It still requires a user-specific id which might be added as a part of the OLS effort  https://github.com/elastic/kibana/issues/82725

[2021-02-17 14:10] formgeist commented on #91365
@SergeyKleyman I think I know what might be the reason for the "fuzziness" of the logo. The PHP logo isn't really optimized for small icons like this, because there's a white stroke on the letters which I think just blends poorly into the background on smaller sizes. From experience, I would say the logo is still the most recognizable out of the options (see below PHP.net version). I'd rather refr

[2021-02-17 14:16] cauemarcondes commented on #90166
This was what I understood based on the PR I mentioned. Maybe @lizozom could chime in and confirm that.

[2021-02-17 14:17] michaelolo24 commented on #91629
Thanks for catching this. We have another issue for this here https://github.com/elastic/kibana/issues/90288 and an interim notification for users is coming in here https://github.com/elastic/kibana/pull/91561 until we put a long term solution in place.

[2021-02-17 14:23] ph commented on #91562
The 10k limitation is nothing new, there is nothing easily done on our side.
I suggest we look if there is a small bug and display a message similar to #82889.

I will put that issues on the back burner until we have a better proposal from kiban platform.

[2021-02-17 14:35] flash1293 commented on #91616
Thanks for reporting this, @heipei - How many fields does your index pattern have?

[2021-02-17 14:48] afharo opened #91654 "[Monitoring] telemetry fetchers use broken pagination logic"
As @robbavey pointed out, this is following the same approach as the [get_beats_stats](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/telemetry_collection/get_beats_stats.ts#L370) piece of logic.

@chrisronline, do you know if `.monitoring-*` indices have a custom `index.max_result_window` setting that allows pagination for more than 10k docs? Or if it's even possib

[2021-02-17 14:48] elasticmachine commented on #91654
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-02-17 14:49] afharo commented on #91654
Ping @elastic/stack-monitoring-ui

[2021-02-17 14:55] kibanamachine commented on #90555
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11841/)

[2021-02-17 14:55] tylersmalley commented on #89958
Skipped

master: 7a2f74fb6fe4b8adf6a663057fa38c8fbda7b82b
7.x: b51d3f0d033f06f72b6e4831eb0544670f679799

[2021-02-17 14:56] tylersmalley commented on #90555
Skipped

master: ece20e0d6ce93cdb8585cf6caa7fe2eabfa66916
7.x: bb20633a1bd05d11863a9eb6be4fd8d7094b2c9f

[2021-02-17 15:21] formgeist opened #91661 "[APM] Bug: Show Correlations button for the Traces view"
# Summary

The correlations feature should be available for the user on the global Traces view.

<img width="1659" alt="Screenshot 2021-02-17 at 16 20 30" src="https://user-images.githubusercontent.com/4104278/108225347-2785f900-713c-11eb-845b-e5c789ce3836.png">

The button will not show on the Service inventory and Service maps views, so it will be hidden.

[2021-02-17 15:21] elasticmachine commented on #91661
Pinging @elastic/apm-ui (Team:apm)

[2021-02-17 15:25] pmuellr commented on #91645
This will be useful for diagnostic purposes.  I'd like for the ID for actions and alerts to be double-click selectable, because if we're going to have it for diagnostic purposes, I want to make it as easy as possible for a customer to copy/paste it.  I think there's some magic styling to make this possible

Eg, if you double click somewhere in the id below, it only selects part of the id.  I'd lik

[2021-02-17 15:25] ph commented on #89111
Thanks @jfsiii I have added it to the 7.13.

[2021-02-17 15:26] ph commented on #89111
Thanks @jfsiii for looking into this. I wanted to add it to 7.13.

[2021-02-17 15:27] bczifra commented on #57540
A workaround for this is to use the [date processor](https://www.elastic.co/guide/en/elasticsearch/reference/current/date-processor.html) in an [ingest pipeline](https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest.html) to convert the timestamp in the source data to ISO8601 like so:
[code]

[code]
will then return:
[code]
which is a document that the Canvas time filter should wo

[2021-02-17 15:29] #90400 closed

[2021-02-17 15:30] ph commented on #90069
Closing this, in favor of the direct issue Upgrade see linked from private and Set up functional test for the suite [kibana#876699](https://github.com/elastic/kibana/issues/87669)

[2021-02-17 15:30] #90069 closed

[2021-02-17 15:40] jfsiii commented on #89111
@ph If I understand the root cause correctly, it's a bug and we should get it in 7.12.

[2021-02-17 15:40] #91475 closed

[2021-02-17 15:41] ph commented on #89111
Roger that.

[2021-02-17 15:41] joshbressers commented on #89584
I wanted to close this loop (Larry asked me about this in a security team meeting).

I'm comfortable not disabling plugins. We do provide mitigation advice to disable certain functionality for some security vulnerabilities, but I don't suspect this is widely used (I get very few comments on the feedback, I recall in the past there have been some instructions that broke things and we only heard fro

[2021-02-17 15:45] spalger commented on #91618
I'm working with @wayneseymour on getting that PR ready for merge ASAP, as for migrating all our `.kibana` esArchives to use SO import/export I'm confident that won't ever happen without a good deal of coordination and pushing, or someone just going and migrating things for folks.

[2021-02-17 15:46] #91552 closed

[2021-02-17 15:46] mbondyra opened #91667 "[Lens] (Accessibility) Implement specified accessibility messages for drag and drop"
When performing a drag drop action (focus, drag start, cancel, drop, drag over) we want to have messages that clearly state what will happen. It will be implemented according to the document shared internally.

[2021-02-17 15:46] elasticmachine commented on #91667
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-02-17 15:46] elasticmachine commented on #91667
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 15:47] heipei commented on #91616
Hello @flash1293 the index pattern has 26 fields (mostly keyword and IP) and right now the index is 17GB in size. Personally I don't suspect that it's related to any data since other actions in the UI are equally slow, just expanding the "News" sidebar on the Kibana front page takes a second too, which is basically just showing that static div. Again, happy to send the Chrome performance profile t

[2021-02-17 15:48] #91667 closed

[2021-02-17 15:51] #91459 closed

[2021-02-17 15:55] kibanamachine opened #91672 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type ip "is not in list" operator will return 1 result if we have a list that excludes 1 ip"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11842/)

[2021-02-17 15:55] kibanamachine opened #91673 "Failing test: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/correlations/slow_transactions·ts - APM API tests trial apm_8.0.0 with data and default args returns significant terms"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11842/)

[2021-02-17 15:59] #14524 closed

[2021-02-17 16:00] rudolf commented on #90646
From my perspective here are the differences between spaces (with sharing to multiple spaces coming in 8.0) and tags:

Spaces | Tags
-- | --
Users have to enter into a space to see saved objects in that space. Even if users have access to two spaces they can only see the objects of one space at a time. | Users can see all saved objects with all tags (but can filter by tag if they want)
There is ve

[2021-02-17 16:04] kertal opened #91677 "[Discover] Using EuiDataGrid geo_point data should not be filterable"
When using EuiDataGrid it is possible to add a filter in `geo_point` typed cells. This will fail. It's not possible in the legacy grid.

Reported by @flash1293

There are filter cell action buttons for the geo point fields, but if you try to use them, you get into a broken state
<img width="172" alt="Screenshot 2021-02-16 at 09 37 05" src="https://user-images.githubusercontent.com/1508364/10803820

[2021-02-17 16:07] #85941 closed

[2021-02-17 16:09] #91378 closed

[2021-02-17 16:10] elasticmachine commented on #91677
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 16:11] myasonik commented on #91592
There's no reason this has to be a blocker.

The test is failing because of timing issues with the toast error messages. The toast identification just needs to get a little smarter on figuring out if a toast is visible without failing but it isn't critical.

I'll take on this work.

[2021-02-17 16:16] #91291 closed

[2021-02-17 16:18] #82226 closed

[2021-02-17 16:20] michaelolo24 commented on #91631
I don't think the horizontal bar is the issue. All of the horizontal bars show where they should, but I am fixing the text-overflow issue. Thanks for catching that!

[2021-02-17 16:20] paulbrown4 opened #91682 "Kibana 7.11+ fails to start with TLS certificate that uses IP address for server name"
**Kibana version:**
7.11.1
**Elasticsearch version:**
7.11.0
**Server OS version:**
CentOS Linux release 7.9.2009 (Core)
**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
yum
**Describe the bug:**
Kibana fails to start. Only shows node.js warning regarding setting the TLS servername
**Steps to reproduce:**
1. Upgrade Kibana to

[2021-02-17 16:23] spalger commented on #70431
@delvedor I'll put up a PR now to get the migration to `8.0.0-canary.2` started, I believe we'll need to address https://github.com/elastic/kibana/issues/88010 as part of that upgrade.

[2021-02-17 16:23] christophercutajar opened #91684 "Save Filter state in Detection Rules"
**Describe the feature:**

While doing some testing with the detection rules, I was jumping between 2 detection rules. Something that I noticed which could help a lot from a user point of view is that is that the filter enabled is saved after traversing rules.

After filtering the rules using tags, I traversed the rule and went back to the `All rules` screen, the filtering is refreshed and need to

[2021-02-17 16:25] pmuellr opened #91686 "[actions] email action broken in 7.11.0 for mail servers that don't support TLS"
**Kibana version:** 7.11.0 - worked on releases up to this though

**Describe the bug:**

Email servers that don't support TLS cannot be used with Kibana 7.11.0, but worked in previous versions.  The best example is using the [`maildev`](https://www.npmjs.com/package/maildev) npm package.  If you run via `npx maildev` (no need to install anything), it will launch a mail server and a web client to

[2021-02-17 16:25] elasticmachine commented on #91686
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-17 16:26] spalger commented on #88010
@jgowdyelastic would you contributing the changes necessary in https://github.com/elastic/kibana/pull/91685? We have a bit of a chicken and egg problem here.

[2021-02-17 16:27] lizozom opened #91687 "[Autocomplete] Report non default values of autocomplete settings"
We're currently working on improving the autocomplete API implementation.
We're trying to understand how many user disabled autocomplete because of its usability issues.

In order to achieve that, we would like to report any non default values of the following settings:

 * `autocompleteTerminateAfter`
 * `autocompleteTimeout`
 * `data.autocomplete.querySuggestions.enabled`
 * `data.autocomplete.v

[2021-02-17 16:27] elasticmachine commented on #91687
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-02-17 16:28] flash1293 opened #91688 "Discover: "Show unmapped fields" flag does not carry over to single doc viewer and context viewer"
**Kibana version:** master

**Describe the bug:** On saved searches saved pre 7.12, unmapped fields are shown in the main discover view (both in the columns and in the field list). However, once the user navigates to single doc viewer or context view, unmapped fields are not fetched anymore because the connection to the saved search is lost

**Steps to reproduce:**

0. Make sure fields fetching is

[2021-02-17 16:28] elasticmachine commented on #91688
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 16:32] Bamieh commented on #91687
Thanks for opening this Liza!

It would be great if we can start reporting all non-default kibana.yml settings automatically similar to what we are doing with uiSettings (with the sensitive field property).

We have some ongoing discussions for gathering telemetry for deprecated configs in kibana. This would be a first step to gathering those metrics too.

(cc @afharo )

[2021-02-17 16:32] nicknickel opened #91689 "Changing sibling pipeline aggregation throws browser console error"
**Kibana version:** v 7.9.3

**Elasticsearch version:** v 7.9.3

**Server OS version:** docker.elastic.co docker container

**Browser version:** Chrome and Firefox

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** docker pull

**Describe the bug:**

**Steps to reproduce:**
1. Create a Data Table visualization
2. Create a Sibling Pipeline

[2021-02-17 16:33] elasticmachine commented on #91684
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-17 16:33] elasticmachine commented on #91684
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-17 16:38] mostlyjason commented on #89396
Thanks @blakerouse!

Ruflin wrote up a policy types document. I think we added a managed policy type to restrict what users could change on cloud. It also describes central and regular types that would be nice to include. @ph is that already done or scheduled?

It'd be good to mark the agent as unhealthy and throw an error if the agent has a fleet server integration without the required flag.

[2021-02-17 16:42] spalger commented on #88010
Also created a 7.x version if we need to apply the changes there too: https://github.com/elastic/kibana/pull/91692

[2021-02-17 16:45] #91164 closed

[2021-02-17 16:51] EricDavisX commented on #91502
Thanks - this confirms it was just a misunderstanding yesterday in the process to be followed or just human error, which is ok.  Thank you for confirming - I will close this out and remove the 'bug' tag

[2021-02-17 16:51] #91502 closed

[2021-02-17 16:52] cyrille-leclerc opened #91695 "[APM - Alerting] GUI bug creating an "Index Connector" creating an APM Transaction Latency alert"
**Versions**
Kibana: 7.11
APM Server: 7.11
Elasticsearch: 7.11

Problem description

When creating an APM Latency Threshold alert, it is possible to create a connector.
When trying to create an "Index Connector", the drop down list of fields for "Define time field for each document" is empty.

![image](https://user-images.githubusercontent.com/459691/108238513-4fc82480-7149-11eb-8a27-f6fb4c5fc74d.

[2021-02-17 16:53] elasticmachine commented on #91695
Pinging @elastic/apm-ui (Team:apm)

[2021-02-17 16:55] timroes opened #91697 "Discover doesn't show unmapped/unknown fields when in _source mode"
On master when the advanced setting for "reading fields from source" is on (i.e. "_source mode"), we currently doesn't show unmapped fields or unknown field (if the field type is unknown) in the field list in Discover.

This should behave the same way as it behaved in 7.11:

![screenshot-20210217-112615](https://user-images.githubusercontent.com/877229/108238527-548cd880-7149-11eb-833a-1cb3f0f00cd

[2021-02-17 16:55] elasticmachine commented on #91697
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 16:58] afharo commented on #91687
Thank you @lizozom! We'll try to prioritize this job.

cc @joshdover @thesmallestduck @alexfrancoeur

That reminds me of #56762. We should be careful with that approach though. I'd take it more of an opt-in way: where we might report "isSet" and, if plugins opt-in, we'll also report the actual value. I'm concerned we might collect PII data.

[2021-02-17 17:07] tripleee commented on #4612
Also, for what it's worth, the direct competition i.e. Splunk trivially supports this out of the box. Just click "stacked 100%" in the Stack Mode selector in the General tab of the Format dialog when creating a visualization.

<img width="80%" alt="Screen Shot 2021-02-17 at 18 55 40" src="https://user-images.githubusercontent.com/2160915/108240205-4b086e00-7153-11eb-87d7-a72efd4404bc.png">

[2021-02-17 17:08] ph commented on #89396
This is not scheduled or done.

But that would be a new type, than the one described in the doc?

[2021-02-17 17:09] Zacqary opened #91702 "[Metrics UI] Hide Create Alert option when lacking permissions"
Currently a user who only has `read` Metrics permissions will see the "Create alert" option in the alerts menu when in the Metrics solution:

<img width="1135" alt="Screen Shot 2021-02-17 at 11 07 18 AM" src="https://user-images.githubusercontent.com/1445834/108240301-55eddf00-7110-11eb-8b8f-2410cd13fb68.png">

## Acceptance criteria

In a read only scenario:

- The **Create alert** option in the

[2021-02-17 17:09] elasticmachine commented on #91702
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-17 17:11] EricDavisX commented on #91639
@amolnater-qasource hi - can you paste the entire kibana.yml file (or just the sections that are uncommented is fine) - so we can review the whole thing?

I will be surprised if the 'tls' disable section is not required for 7.10.x to work. But if it isn't there in 7.10, that is a bug in an older version, in 7.11 the logging is correctly showing it is required (if you don't have it there already).

[2021-02-17 17:13] simitt opened #91704 "[Fleet] Create additional API Keys for inputs"
Some inputs require access to Elasticsearch with additional privileges compared to the ones provided for the output.
An example for such a requirement is the new [tail based sampling feature](https://github.com/elastic/apm-server/issues/4185) in APM Server, requiring read access to a specific data stream in Elasticsearch.

For such requirements an API Key should be generated and passed down to the

[2021-02-17 17:13] elasticmachine commented on #91704
Pinging @elastic/fleet (Feature:Fleet)

[2021-02-17 17:13] elasticmachine commented on #91704
Pinging @elastic/fleet (Team:Fleet)

[2021-02-17 17:14] simitt commented on #89311
Update: pulled out the requirements for ES API Keys in inputs and created a dedicated issue https://github.com/elastic/kibana/issues/91704; changed the description to make this issue focused on Kibana API Key requirements for APM.

[2021-02-17 17:17] timroes commented on #88426
## EOD Update 2021-02-17

#### Closed

* Requesting date fields explicitly **merged** (https://github.com/elastic/kibana/pull/91478)
* Saved Search ending up in Saved object **merged** (https://github.com/elastic/kibana/issues/91459)

#### New

* Context view retains wrong default column when toggling the UI setting (#91493)
* Context view uses wrong default column when navigating there from new d

[2021-02-17 17:31] Zacqary commented on #90806
Updated issue description with Metrics permissions.

[2021-02-17 17:31] scunningham commented on #89311
I am concerned that the apm server will not have a network route to Kibana when running under the Fleet Agent.  Reading the [ticket](https://github.com/elastic/apm-server/issues/4573), this seems like a possible candidate for policy integration.  Unclear if that would solve the problem.  It would depend on the nature of the configuration data:

- Does it make sense on a per policy basis, or is it

[2021-02-17 17:32] pmuellr commented on #91686
So it turns out, if you set the global Kibana config `xpack.actions.rejectUnauthorized` to  `false`, it works.

I added some debug logging in the email action for it's "transport" settings, and this is what it prints, when not setting that to `false` (not configuring it at all):

    email action maildev-no-auth sending mail with transport: {
      "host":"localhost","port":1025,"secure":false,"tl

[2021-02-17 17:37] sqren commented on #91365
+1 on the black and white PHP logo. Here's the svg:

![php](https://www.php.net/images/logos/php-logo.svg "php")

[2021-02-17 17:39] kibanamachine opened #91712 "Failing test: X-Pack Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser logs a message when the browser starts, but then crashes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/368/)

[2021-02-17 17:39] jasonrhodes commented on #90806
Thanks @Zacqary ! Can you add _just_ the Metrics definition as a comment here, also? That looks like a good convention.

[2021-02-17 17:42] Zacqary commented on #90806
## Metrics

### Read only

[code]

### Power user

[code]

[2021-02-17 17:44] spalger commented on #91712
First failure ever, possibly caused by updates to the packer image so will keep an eye out for more failures, but also possible just a very uncommon source of flakiness.

[2021-02-17 17:45] elasticmachine commented on #91712
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-17 17:47] tehmaspc commented on #30109
Is the workaround `0` then for now?

[2021-02-17 17:58] VijayDoshi commented on #91633
Lower priority for 7.12 since DG is not enabled by default.

[2021-02-17 17:59] mattkime opened #91715 "Use index pattern service to load index patterns"
There are a number of places where kibana index patterns are loaded directly from the Saved Object API instead of the index patterns service on the data plugin. This essentially treats the index pattern saved objects as an api in itself and makes changing the index patterns api more difficult. In particular, we'd like to be able to separate out the index pattern string from the displayed title of

[2021-02-17 17:59] peteharverson commented on #91198
Closing as fixed by https://github.com/elastic/kibana/pull/91352.

[2021-02-17 17:59] #91198 closed

[2021-02-17 18:00] LeeDr commented on #91618
Are we sure v2 migrations is adding that much time?  I'm getting set up to run locally, but from one case on a recent master Jenkins job it looks like it took just over 2 seconds (`Migration completed after 2138ms`).

Most of our tests have very few saved objects.  A dashboard test, for example, might have up to a dozen or so visualizations that it will add to a dashboard.  Maybe there's some flee

[2021-02-17 18:01] spalger commented on #30109
Alternate workaround would be to set a large number like `31536000000` which represents 365 days in milliseconds.

[2021-02-17 18:07] weltenwort opened #91717 "[Logs UI] Cover the dashboard-embeddable log stream in a functional test"
## Summary

The dashboard-embeddable log stream might break because the runtime environment differs from the one in the Logs UI. The embeddable should therefore be covered by a functional test to ensure it fails early and loudly.

[2021-02-17 18:07] elasticmachine commented on #91717
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-17 18:08] spalger commented on #91618
While investigating flakiness we were seeing this weekend I was suspicious about the increase in build time and started stepping back through the https://kibana-ci.elastic.co/job/elastic+kibana+master/ build, and the point where the overall build time changed from ~1h45m to ~2h10m was the build where v2 migrations were enabled in the FTR.

[2021-02-17 18:15] elasticmachine commented on #91695
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-17 18:15] sqren commented on #91695
Looks like the issue is in the alerting code base. Transferring it over

[2021-02-17 18:19] YulNaumenko commented on #90375
Yes, according to the Kibana [guidelines](https://github.com/elastic/kibana/blob/master/STYLEGUIDE.md#paths)

[2021-02-17 18:25] sqren commented on #76316
Thanks for the feedback all. I've moved this up in priority and I hope we can do that for 7.13.

[2021-02-17 18:29] wayneseymour opened #91721 "[QA][Code Coverage] Parameterize CI Test Runs"
**Describe the feature:** Parameterize CI Test Runs

**Describe a specific use case for the feature:** There are instances where being able to change specific file and folder locations from outside of the code is useful.  Also, the ability to change the size of the worker can be useful as well

Currently when anything needs to change, even for a simple debugging use case, the code __(Jenkinsfile,

[2021-02-17 18:35] jgowdyelastic commented on #88010
@spalger once the function is available in the js client, i'll be able to switch from using `_ml/find_file_structure`

[2021-02-17 18:38] chrisronline opened #91722 "[Monitoring] Inefficient status fetching from alerts is causing long response times"
[This loop](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/cluster/get_clusters_from_request.js#L123) is causing us to make the same [calls](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/alerts/fetch_status.ts#L48) over and over which is necessary, as the cluster list is only needed for [a filter](https://github.com/elastic/k

[2021-02-17 18:38] elasticmachine commented on #91722
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-02-17 18:38] spalger commented on #88010
@jgowdyelastic It's available in that PR, but we can't merge that PR until the changes to ML are made, so can you please create a PR against that PR, or just push changes directly to that branch to address the issue?

[2021-02-17 18:43] #49705 closed

[2021-02-17 18:53] tehmaspc commented on #30109
@spalger - thanks - I just tried 90days (in milliseconds) and it seemed to not like such high numbers in that field. I could be mistaken.

However, it now seems to me that the banner is always displayed for that set amount of time whenever someone logs onto Kibana (session based) - which for my use case is perfect and thus the default time to live for the message should be sufficient for me. My te

[2021-02-17 18:53] jen-huang commented on #91639
@amolnater-qasource I think @EricDavisX is right that your config for disabling TLS check needs to be changed for 7.11. Looking at your screenshot, I see that on L114 needs to be updated to `xpack.fleet.agents.tlsCheckDisabled`, just as the UI describes.

[2021-02-17 18:54] jen-huang commented on #91639
@EricDavisX Based on the above I think the behavior we're seeing is correct for both 7.10 and 7.11.

[2021-02-17 19:03] jportner commented on #90646
You can read more about Object Level Security here: #39259

We've started some exploratory work on the first phase of OLS (linked within that meta-issue), but the MVP is a ways off.

[2021-02-17 19:10] woodywalton commented on #90646
Thanks @jportner - have heard vaguely about Object Level Security and am excited about it, thanks for expanding the acronym and the link!

[2021-02-17 19:11] #90910 closed

[2021-02-17 19:18] YulNaumenko commented on #91695
@cyrille-leclerc dropdown for the Index action can contains only time specific fields `field.type === 'date'`. Could you please share the list of the index fields for `alert-index` you have?

[2021-02-17 19:22] jen-huang commented on #90308
Does "save" here mean going into the integration policy edit flow and clicking "Save"? Currently that will not update the integration version used by the policy. It will still use the existing version. The workaround is to remove that integration policy and re-add it.

[2021-02-17 19:24] kmartastic commented on #91282
Thanks for raising this as an issue @patricklucas.
I think most customers would feel like the behavior in Maps and Lens, which does not persist the filters, is a bug.
I will look into it further.

[2021-02-17 19:28] jportner commented on #91615
FWIW, today (as of Sharing Saved Objects phase 1.5), when we run into this situation ("unresolvable conflict") we simply regenerate the imported object's ID. However, once import/export is space-aware, we can instead show an appropriate conflict warning to the end user, then overwrite these objects by setting the "initialNamespaces" upon create. I feel like this would be a better user experience.

[2021-02-17 19:35] mikecote commented on #50213
After a design discussion and further iterations on a [POC](https://github.com/elastic/kibana/compare/master...mikecote:alerting/searchable-params-via-mappings-poc), @ymao1 and I have something ready for approval. The underlying fundamentals have changed. If you're interested, feel free to read on. Otherwise, @spong @sqren, we'll be in touch soon to get your 👍 before making a PR to master.

@elast

[2021-02-17 19:37] arisonl opened #91730 "[Customer feedback][Discuss]: Resolve on alert recovery UX (PagerDuty)"
We have received consistent feedback from two customers around the alert recovery notification UX. The feedback was received in the context of PagerDuty but we may want to consider this more broadly (cc @mdefazio).

Both customers requested that they should not have to add a separate action group "run when the alert recovers". According to their feedback, the current experience is prone to errors

[2021-02-17 19:37] elasticmachine commented on #91730
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-17 19:41] cjcenizal commented on #90894
Thanks for the added info @zanbel! Very helpful level of detail.

[2021-02-17 19:41] LeeDr commented on #91618
I started running functional tests locally while looking at the migration start/end times.  I see most of them only take about 4 seconds but we probably do it hundreds of times through the whole CI run.

But @spalger is also right that switching tests to use saved object import isn't going to happen quickly or for every test.

[code]

[2021-02-17 19:47] mikecote commented on #91730
@arisonl is this a duplicate of https://github.com/elastic/kibana/issues/89166?

[2021-02-17 19:59] tsullivan commented on #17950
This can be started after https://github.com/elastic/kibana/pull/88303

[2021-02-17 20:00] cjcenizal opened #91736 "Test use of asSystemRequest by useRequest"
In https://github.com/elastic/kibana/pull/91070/files#diff-881626e0eb20ee12b4a745c80c2d3879e27ea20ac54124da82fa12015092148bR118, useRequest was changed to configure poll-based requests with `asSystemRequest: true`.  We should update the [tests](https://github.com/elastic/kibana/blob/master/src/plugins/es_ui_shared/public/request/use_request.test.ts) to make assertions about this behavior.

[2021-02-17 20:00] elasticmachine commented on #91736
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-17 20:01] tsullivan commented on #61008
cc @mattkime this might be a good one to investigate

[2021-02-17 20:01] kapildawar opened #91737 "[Security]Machine Learning Space Privilege sets to "None" and Disabled when you select "All" or "Read""
**Kibana version:** 7.9.3 and 7.11.0

**Elasticsearch version:**  7.9.3 and 7.11.0

**Server OS version:**

**Browser version:** Chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** Machine Learning Space Privilege sets to "None" and Disabled when you select "All" or "Read"

**Steps to reproduce:**
1. Create a new role
2.

[2021-02-17 20:05] tsullivan commented on #19914
The progress on this issue so far has been to create an example plugin for Reporting. Step 2 of the example plugin will be to instrument the privileges model around the example integration.

That will help with App Developers to understand how to instrument privileges model in the various places where Reporting is integrated (Discover, Visualize, Dashboard, Canvas)

[2021-02-17 20:06] jalvz commented on #89311
Oh, I understood otherwise from this comment: https://github.com/elastic/beats/pull/23856#issuecomment-774090023,but I am not familiar enough with fleet server.

What is a "policy integration"? We just need one connection to Kibana with an API key with the right privileges, we don't need more granularity than that - and I don't expect apm policies to change often (if that helps).

[2021-02-17 20:12] tsullivan commented on #89659
@mattkime here might be a good one to investigate

[2021-02-17 20:12] cuff-links opened #91739 "[Console] Add overrides for request parameters for Logstash PUT Pipeline API"
# Summary
This issue is a follow up to https://github.com/elastic/kibana/pull/90904 to add the overrides for the Logstash PUT Pipeline API.

There is an [issue](https://github.com/elastic/elasticsearch/issues/69148) to add the parameter definitions to the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/logstash-api-put-pipeline.html) and once that has been updated, we will add t

[2021-02-17 20:12] elasticmachine commented on #91739
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-17 20:15] mostlyjason commented on #89396
@ph thanks I added the central and regular policy types to our roadmap for later. I think they are defined in Ruflin's doc.

[2021-02-17 20:18] igoristic commented on #91722
Relates to: https://github.com/elastic/kibana/issues/72997

[2021-02-17 20:23] pzl commented on #91570
It appears like these can be symptoms of the problem: not having any transform nodes in a cluster.

If that is how a cluster is configured, that is a show-stopper for security solution, and likely fleet. So we may still end up with this situation leading to a blocking-box, but hopefully we can make that more informative, of what requirements must be met (at least one transform node).

Currently, w

[2021-02-17 20:24] mikecote commented on #50213
I had a quick chat with @kobelb about the approach, one protection worth investigating is when an alert type doesn't use searchable params but ends up being searchable because another alert type with similar fields that defined the mappings. It could be worth adding some protections to the _find API.

[2021-02-17 20:26] nreese opened #91742 "search source overriding track_total_hits"
To view problem, modify an existing use of searchSource with the following
1) `searchSource.setField('track_total_hits', 100);`.
2) Update `searchSource.fetch` to include the option `legacyHitsTotal: false`
3) inspect the results of the search source. Notice that total does not reflect the provided `track_total_hits` and just returns results like `track_total_hits: true` was set.

cc @lukasolson

[2021-02-17 20:26] elasticmachine commented on #91742
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-17 20:28] wylieconlon opened #91743 "[Discover] Show unmapped fields in field list and docs regardless of data fetching"
This keeps the existing behavior of Kibana consistent across versions, because the existing behavior is to show unmapped fields. To reproduce, create a mapping without dynamic fields:

[code]

And then insert any document:

[code]

and look in Discover to see the new field.

[2021-02-17 20:28] elasticmachine commented on #91743
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 20:42] jportner commented on #91323
This and six other issues appear to be the result of two Jenkins failures, [Build #11863](https://kibana-ci.elastic.co/job/elastic+kibana+master/11863/) (`master`) and [Build #11733](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11733/) (`7.x`).

Both of these builds started around the same time, took 2h38m to execute, and show the "Timeout has been exceeded" warning. All of the errors are "

[2021-02-17 20:42] #91323 closed

[2021-02-17 20:42] jportner commented on #91320
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:42] #91320 closed

[2021-02-17 20:43] jportner commented on #91319
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:43] #91319 closed

[2021-02-17 20:43] jportner commented on #91313
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:43] #91313 closed

[2021-02-17 20:43] jportner commented on #91314
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:43] #91314 closed

[2021-02-17 20:43] jportner commented on #91312
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:43] #91312 closed

[2021-02-17 20:43] jportner commented on #91322
This doesn't look like a legitimate test failure, see https://github.com/elastic/kibana/issues/91323#issuecomment-780840359, closing.

[2021-02-17 20:43] #91322 closed

[2021-02-17 20:45] cuff-links commented on #90770
I also believe that this one is https://github.com/elastic/kibana/issues/91442 related as well.

[2021-02-17 20:45] jportner commented on #91323
CC @elastic/kibana-operations

[2021-02-17 20:53] #64198 closed

[2021-02-17 20:57] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11847/)

[2021-02-17 20:57] #91621 closed

[2021-02-17 20:58] spalger opened #91751 "[esArchiver] unable to load newly captured archive of .kibana"
It seems that something about the v2 migrations is preventing newly saved archives from being loaded correctly. It seems the `aliases` saved by the esArchiver are breaking the migrations so we probably need to exclude some or all of the aliases for .kibana indexes. Thoughts @rudolf?

To reproduce run the functional tests in one tab:
[code]

Then save an archive in another tab once the server is ru

[2021-02-17 20:58] elasticmachine commented on #91751
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-17 20:58] elasticmachine commented on #91751
Pinging @elastic/kibana-core (Team:Core)

[2021-02-17 21:01] spalger commented on #85208
@rashmivkulkarni this is the first failure in the 8 days since you merged the fix, but there is clearly something still wrong even if it's not **_super_** flaky.

[2021-02-17 21:03] rashmivkulkarni commented on #85208
yea, looks like it ....shall investigate.

[2021-02-17 21:36] ThomThomson opened #91759 "Dashboard 'Save As' Button Inconsistent"
**Issue**
In Time to Visualize, a quicksave button was added to the dashboard top nav. As part of this, the existing save button was renamed `save as`. In other editors (e.g. Maps, Visualize, Lens), the save as button opens with the `save as new` checkbox selected by default.

**Expected behavior:**
All editors should be aligned on the default state of the `save as new` checkbox when clicking the

[2021-02-17 21:36] elasticmachine commented on #91759
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-17 21:41] pmuellr commented on #91686
PR https://github.com/elastic/kibana/pull/91760 seems to fix this, but we'll need to think about the ramifications.

Not sure how to go about testing this on cloud.  I'm thinking I used to create deployments with nightly images, so we'd need to promote this to master and wait till then to test it.

[2021-02-17 21:43] cauemarcondes commented on #90166
It is indeed not using the time range selected on the kql:

<img width="1912" alt="Screenshot 2021-02-17 at 16 41 41" src="https://user-images.githubusercontent.com/55978943/108271725-3cb05700-713f-11eb-860a-b2f5fbb35551.png">

There's no service available in the table, even though the KQL still shows some suggestions.

[2021-02-17 21:48] neptunian commented on #88649
@sorantis Did you have a chance to look at [my comment](https://github.com/elastic/kibana/issues/88649#issuecomment-777805785)?  Currently the anomalies get the pod uids as influencers and not the pod names.  This can be a very huge list of pod ids.  @simianhacker recommended we put the number of pods/hosts instead of the name as in either case there could be several.  So instead of the column "No

[2021-02-17 21:49] chrisronline commented on #91654
We don't have anything like that, AFAIK. It seems like it'd come up more but I honestly can't recall the last time I encountered someone with an issue around this

[2021-02-17 21:51] chrisronline commented on #20899
Yea I don't know about this one. The platform team took over stats collection so I'm not sure where they are with it. cc @joshdover

[2021-02-17 22:01] stacey-gammon opened #91765 "Filtering on date_nanos fields in "View surrounding docs" view doesn't work"
<img width="1367" alt="Screen Shot 2021-02-17 at 4 54 45 PM" src="https://user-images.githubusercontent.com/16563603/108273522-a7629200-7141-11eb-9127-784ae2fce3f2.png">

Seems to exists in master and 7.10, I only tested with date_nanos fields.

[2021-02-17 22:01] elasticmachine commented on #91765
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-17 22:08] #91594 closed

[2021-02-17 22:08] #79932 closed

[2021-02-17 22:20] trengrj commented on #91686
Thanks @pmuellr, looking at nodemailer TLS options https://nodemailer.com/smtp/#tls-options, the connection is always upgraded to TLS via STARTTLS if the SMTP server supports it (even when secure is set to false). The `ignoreTLS` option would need to be used to fully disable STARTTLS.

Watcher decided to use two separate config options https://www.elastic.co/guide/en/elasticsearch/reference/curren

[2021-02-17 22:26] geekpete opened #91768 "Handle unreasonable amounts of Kibana index objects more gracefully during index migrating when upgrading"
**Describe the feature:**

With a large amount of objects in Kibana system indices, an upgrade migration might take an unreasonable amount of time to complete.

**Describe a specific use case for the feature:**

- First, at least warn that an unusual/large amount of objects have been detected in the Kibana system indices at migration time to give a heads up in the logs of what's going on.
  - Upgr

[2021-02-17 22:30] sqren commented on #90166
Okay, so seems like `useTimeRange` doesn't work as expected.

[2021-02-17 22:49] wayneseymour commented on #91721
@dmlemeshko @LeeDr @marius-dr hey gents, what are your thoughts on this.  Any ideas or "what the heck"'s?

[2021-02-17 22:51] spalger commented on #70431
Updated our renovate config to automatically submit PRs on new `@elastic/elasticsearch` versions independently for:

- master https://github.com/elastic/kibana/pull/91706
- 7.x https://github.com/elastic/kibana/pull/91716

[2021-02-17 23:24] elasticmachine commented on #89831
Pinging @elastic/fleet (Team:Fleet)

[2021-02-17 23:55] jen-huang commented on #89831
I have a fix up in #91776. The reason the height of the logs component differs on page reload vs switching between Agent details and Logs tab is because we let the logs take up the "rest of the page" (height-wise). On page reload, the long agent policy name takes a little bit longer to load, so a larger height is set on the logs before the agent policy name pushes everything down. When switching t

[2021-02-18 00:06] qn895 commented on #85020
Closing via https://github.com/elastic/kibana/pull/91352

[2021-02-18 00:06] #85020 closed

[2021-02-18 00:08] cjcenizal commented on #81875
@cuff-links Can you identify a consistent repro scenario? If not, maybe we should close this?

[2021-02-18 00:08] jen-huang commented on #91192
I was able to get the full error - it just seems to be a simple case that the pipeline doesn't exist (404). Going to look a little more into _why_ it doesn't exist before adding 404 handling.

[code]

[2021-02-18 00:27] cuff-links commented on #81875
@cjcenizal Yes. I will try to reproduce this tonight and zero in on the exact repro path. Thanks for raising.

[2021-02-18 00:27] jen-huang commented on #91192
I believe this is caused by the system package exporting the same ingest pipeline in both JSON and YAML for some data streams. For v0.10.9, `auth` and `syslog` data streams have the same pipeline in both formats: https://epr-staging.elastic.co/package/system/0.10.9/

[code]

This causes Kibana to install these pipelines twice, which isn't a problem, they install based on ID so the second attempt j

[2021-02-18 00:33] elasticmachine commented on #91639
Pinging @elastic/fleet (Team:Fleet)

[2021-02-18 00:45] #85021 closed

[2021-02-18 00:45] #90920 closed

[2021-02-18 01:37] rashmivkulkarni commented on #85208
[code]
Tries to find the Uptime Monitoring page and times out .

[2021-02-18 01:59] #86167 closed

[2021-02-18 05:15] cuff-links commented on #81875
This is no longer a reproduceable issue. When the policy is saved, it always keeps the proper values now or if the value is too large it doesn't save.  Probably got fixed with the new ILM work. Closing the issue and making a note to have a bit more clarity on repro path.

[2021-02-18 05:15] #81875 closed

[2021-02-18 06:11] snide commented on #91617
I won't fight you all and I see both sides to the argument. Your side is more about the default presentation though, so I agree it makes sense to revert . I'll set up an EUI tomorrow. We can hotfix it in on our side.

Don't be surprised if I swing back around next minor asking for help with loading states of virtualized cells though :laughing:

[2021-02-18 06:15] #90002 closed

[2021-02-18 06:15] #89533 closed

[2021-02-18 06:16] snide commented on #91617
EUI issue to track a hotfix PR (we usually wait till later BCs to merge to Kibana)

https://github.com/elastic/eui/issues/4541

[2021-02-18 07:05] arisonl commented on #89166
Update: We have received consistent feedback from two customers around the alert recovery notification UX. The feedback was received in the context of PagerDuty but we may want to consider this more broadly.

Both customers requested that they should not have to add a separate action group "run when the alert recovers". According to their feedback, the current experience is prone to errors and it

[2021-02-18 07:06] arisonl commented on #91730
Moving this description as a comment to the original issue and closing this one. Thanks.

[2021-02-18 07:06] #91730 closed

[2021-02-18 07:13] #91269 closed

[2021-02-18 08:01] kertal opened #91800 "[Discover] When navigating away from Discover there's an occasional session error"
**Kibana version:**
master

**Steps to reproduce:**
1. Open Discover
2. Expand a document,
3. Click on 'View surrounding documents'
4. Navigate to Security / Administration

Note that this happens occasionally
**Expected behavior:**
There should be no error

**Screenshots (if relevant):**
<img width="1262" alt="Bildschirmfoto 2021-02-18 um 08 57 34" src="https://user-images.githubusercontent.com/4

[2021-02-18 08:01] elasticmachine commented on #91800
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-18 08:04] kertal commented on #91800
FYI: @Dosant

[2021-02-18 08:10] muskangulati-qasource commented on #87110
Hi @peluja1012,

We tested this build on the latest 7.11.1 & 7.12.0-SNAPSHOT builds and found that issue is **fixed**. Please find below the testing details:

**Build Details**:
- Version: 7.11.1
[code]

- Version: 7.12.0-SNAPSHOT
[code]

**Refer Screenshots**:
- Endpoint Exception
![EndpointException](https://user-images.githubusercontent.com/60252716/108321972-e39dfd00-71ea-11eb-8062-01b65352f68

[2021-02-18 08:10] #87110 closed

[2021-02-18 08:17] cyrille-leclerc commented on #91695
@YulNaumenko That's probably the cause. The index `alerts-index` doesn't exist yet and, reading at the options of the screen, I felt that it was a good thing to "automatically add a time field to each document when it's indexed". This is why I enabled "Define time field for each document" and I expected to be able to choose `@timestamp`.
It seems to be a GUI that is not very intuitive rather than

[2021-02-18 08:34] #91697 closed

[2021-02-18 08:35] flash1293 opened #91801 "[Lens] Use index pattern service to load list"
Part of https://github.com/elastic/kibana/issues/91715

In
https://github.com/elastic/kibana/blob/master/x-pack/plugins/lens/public/indexpattern_datasource/loader.ts#L338-L342

the list of index patterns is loaded via saved objects client.

This should be replaced by using the `getIdsWithTitle` method of the index pattern service.

[2021-02-18 08:35] elasticmachine commented on #91801
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 08:51] jamesspi opened #91803 "[Security Solution] Incorrect field used in Network tab for JA3 fingerprint in TLS table"
**Describe the bug:** The queried field for `JA3 fingerprint` is incorrect.

**Kibana/Elasticsearch Stack version:** 7.11.1

**Server OS version:** ESS

**Browser and Browser OS versions:** Any

**Elastic Endpoint version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):** Network

**Steps

[2021-02-18 08:51] elasticmachine commented on #91803
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-18 09:09] dikshachauhan-qasource opened #91804 "[Meta] [Fleet] Elastic Agent Logs Errors Review by QAS"
The team is starting up a Meta issue to record the known errors found upon starting of Elastic-Agent and Elastic-Endpoint / Metricbeat / Filebeat

We will keep the lists here, all together so it is easier to review.
Dataset | Version seen | Relating keywords | other notes / OS | Log error
-- | -- | -- | -- | --
Agent | 7.10.x | Agent upgrade | all OS - elastic/beats/issues/23850 | failed to load m

[2021-02-18 09:26] elasticmachine commented on #91804
Pinging @elastic/fleet (Team:Fleet)

[2021-02-18 09:27] elasticmachine commented on #91804
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-18 09:35] formgeist opened #91806 "[APM] Bug: Service overview - Sparkline loading state icons has changed"
Kibana version: 7.12 & master

# Summary

The empty sparkline / loading state has increased in size and changed color.
The the icon size should be decreased and color changed to `euiColorLightShade`.
The icon should still be aligned in the middle relative to the sparklines above/middle and the "N/A" be below the percentage numbers

_7.11_

<img width="1428" alt="Screenshot 2021-02-18 at 10 33 40"

[2021-02-18 09:35] elasticmachine commented on #91806
Pinging @elastic/apm-ui (Team:apm)

[2021-02-18 09:41] eeijlar opened #91807 "Improve automated reporting API"
**Describe the feature:**
With regard to the following the documentation:
https://www.elastic.co/guide/en/kibana/current/automating-report-generation.html

Collection of the POST Url via the GUI could be improved. A better implementation I think, would be to make a request from the command line to the API which would return a json object containing a list of dashboard ids, and dashboard names desc

[2021-02-18 09:41] stratoula opened #91808 "[Lens] DataTable is not responsive"
**Kibana version:**
7.12

**Describe the bug:**
I have created a Lens table with two columns and it takes the whole width. But when I resize my screen the table doesn't fit the entire width. On the contrary, the table keeps its width and as there is no horizontal scrollbar, I can't see all the columns.
If I reload the page, the table is depicted correctly. Also, it is depicted correctly on a dashb

[2021-02-18 09:41] elasticmachine commented on #91808
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 10:00] jfsiii commented on #91639
Does setting the registry to https change anything? Either way, the correct protocol is https; not http. I believe http is redirected but might as well us the correct value initially

[2021-02-18 10:00] walterra commented on #83264
Added support for `missing_bucket` in 91650.

[2021-02-18 10:00] #83264 closed

[2021-02-18 10:15] afharo commented on #91654
This is about collecting telemetry, so any errors will silently fail and simply not send telemetry. I don't think anyone would actually notice.

I also think it's an edge case. That would mean we are dealing with massive clusters with more than 10k Beasts instances, Logstash instances or Logstash's pipelines ephemeral IDs.

[2021-02-18 10:21] ruflin commented on #91562
We had a discussion around tables and too many entries with @jasonrhodes and there are alternative options here. Maybe we need to change the design? What is the use case that a user would jump to page 502? Perhaps we only need to know the total number and allow the users to browse through the first 10 pages, have better query etc.?

[2021-02-18 10:23] timroes opened #91812 "[Discover] Remove _source from columns in saved searches"
We should migrate existing saved searches to remove potential `_source` columns in there, once we remove the _source implementation for Discover.

[2021-02-18 10:23] elasticmachine commented on #91812
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 10:49] karanbirsingh-qasource opened #91816 "Old Deleted Service Now ITSM connector configuration retains in the case"
**Describe the bug**
Old Deleted Service Now ITSM connector configuration retains in the case

**Build Details:**
Platform: Staging
Version: 7.12.0-SNAPSHOT
Commit:1fc8122c6d14bc9c988c3f068e2878e07665410f
Build: 38790

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0-SNAPSHOT should be available.
2.Service Now ITSM connector option should be available

*

[2021-02-18 10:49] karanbirsingh-qasource commented on #91816
@manishgupta-qasource Please review

[2021-02-18 10:57] Bamieh commented on #90691
That is true. NodeJS provides a VM API to compile/execute isolated scripts BUT they are **not** intended for security purposes. IMO Managing system level priviledges *inside* an application is just as troublesome as not having any sandboxing between modules.

[2021-02-18 11:17] manishgupta-qasource commented on #91816
Reviewed & assigned to @MadameSheema

[2021-02-18 11:18] deepikakeshav-qasource opened #91820 "[Security Solution] View detail icon is not working if the Alert details panel is already open under the detection tab."
**Description**
View detail icon is not working if the Alert details panel is already open under the detection tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on view details icon and

[2021-02-18 11:18] elasticmachine commented on #91820
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-18 11:18] elasticmachine commented on #91816
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-18 11:18] deepikakeshav-qasource opened #91821 "[Security Solution] No validation for Tags when added the tags with whitespace under the cases and rules creation."
**Description**
No validation for Tags when added the tags with whitespace under the cases and rules creation.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Elastic Endpoint should be installed.
3. Any connector should be created

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on "Manage Detection rule

[2021-02-18 11:18] elasticmachine commented on #91821
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-18 11:18] deepikakeshav-qasource commented on #91820
@manishgupta-qasource Please review!!

[2021-02-18 11:19] deepikakeshav-qasource commented on #91821
@manishgupta-qasource Please review!!

[2021-02-18 11:21] manishgupta-qasource commented on #91820
Reviewed & Assigned to @MadameSheema

[2021-02-18 11:22] manishgupta-qasource commented on #91821
Reviewed & Assigned to @MadameSheema

[2021-02-18 11:23] jgowdyelastic opened #91822 "[ML] Use index pattern service in module setup"
As requested here: https://github.com/elastic/kibana/issues/91715

We'll need to pass the data plugin into the data recognizer route init function and the createSharedServices function to allow the data recognizer's module setup function to use the index pattern service for getting index pattern ids.

[2021-02-18 11:23] elasticmachine commented on #91822
Pinging @elastic/ml-ui (:ml)

[2021-02-18 11:28] Dosant commented on #90332
Closing as this test didn't fail for a while and failed only once before.
We suspect that recent internal change to the search sessions implementations made it more stable: https://github.com/elastic/kibana/pull/89570

[2021-02-18 11:28] #90332 closed

[2021-02-18 11:31] Dosant commented on #91294
This was fixed in EUI (see https://github.com/elastic/eui/issues/4521) and will propagate to kibana with future EUI dependency updates

[2021-02-18 11:31] #91294 closed

[2021-02-18 11:35] muskangulati-qasource opened #91823 "The 'Upgrade agent' option should be disabled if the agent is not upgradable."
**Describe the feature:**
The 'Upgrade agent' option should be disabled if the agent is not upgradable.

**Build Details:**
[code]

**Describe a specific use case for the feature:**
The user upgrades the agent but then UI throws an error the agent is not upgradable.

**Refer Screenshots**
![Upgrade agent](https://user-images.githubusercontent.com/60252716/108351327-5f0fa680-720b-11eb-9e2d-3b940d6d

[2021-02-18 11:35] muskangulati-qasource opened #91824 "[Fleet] The policy tab shows incomplete message for the count of agents that may cause ambiguity to the user"
**Description**
The policy tab shows an incomplete message for the count of agents that may cause ambiguity to the user.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Agent should be installed.

**Steps to Reproduce:**
1. Navigate to the Fleet tab.
2. Go to policies tab
3. Click on the policy used to deploy the agent
4. Observe the d

[2021-02-18 11:35] elasticmachine commented on #91824
Pinging @elastic/fleet (Team:Fleet)

[2021-02-18 11:36] muskangulati-qasource commented on #91824
@manishgupta-qasource please review!

[2021-02-18 11:36] muskangulati-qasource commented on #91823
@manishgupta-qasource please review!

[2021-02-18 11:58] kertal commented on #91647
@flash1293 yes, and the selected ist is not filtered, good catch, will fix this

[2021-02-18 12:00] manishgupta-qasource commented on #91823
Reviewed & assigned to @EricDavisX

[2021-02-18 12:01] manishgupta-qasource commented on #91824
Reviewed & assigned to @EricDavisX

[2021-02-18 12:05] mbondyra opened #91827 "[Lens] For charts with long legend, the content overflows the chart"
7.12, master
When creating a chart with a long legend, the chart overflows the workspace area:
![image](https://user-images.githubusercontent.com/4283304/108354679-1398d080-71ea-11eb-9625-944721ffad9a.png)

[2021-02-18 12:06] elasticmachine commented on #91827
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 12:14] ruflin commented on #89442
For the maintenance part, I think it should be the same as with Elasticsearch where you can have an array of hosts (assuming no proxy exists). This is more for the on prem use case. So the Elastic-Agent itself will switch over to an alternative url if one is not available. But this makes the drop-down trickier.

We should probably discuss the use cases where users have fleet-servers in different r

[2021-02-18 12:36] mdefazio commented on #89166
I think the checkbox (toggle/checkbox to say auto-resolve PagerDuty incident) makes sense.  I will try and mock this up today/tomorrow.

[2021-02-18 12:47] amolnater-qasource opened #91831 "[Fleet] Unable to view integrations name under integration column and integration filter under Data Streams tab on upgraded 7.11.1"
**Kibana version:** Upgraded Kibana: 7.11.1 Cloud environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1.  7.10.2 (release build)cloud environment should be available.

**Build Details:**
[code]
2. 7.10.2 Agent must be installed using default policy having System and Endpoint Security integration.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Upgrad

[2021-02-18 12:48] amolnater-qasource commented on #91831
@manishgupta-qasource  Please review. Thanks

[2021-02-18 12:51] manishgupta-qasource commented on #91831
Reviewed & Assigned to @EricDavisX

[2021-02-18 12:55] sqren commented on #50213
Can we catch this during a build step (CI) or is there a risk that these issues will go undiscovered until end users notify us?

[2021-02-18 12:57] bhavyarm commented on #89478
closed via https://github.com/elastic/kibana/pull/90714

[2021-02-18 12:57] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11863/)

[2021-02-18 12:57] mikecote commented on #50213
@sqren it would be done during a build step to notify ASAP when something is wrong.

[2021-02-18 13:16] flash1293 opened #91835 "Discover: Add yml setting to disable new fields API fetching"
In addition to the ui setting, there should be a yml setting to completely turn off fields API.

If this flag is set, the ui setting doesn't have any effect, and all code behaves as if the ui setting is set to true.

This is meant to make it possible to turn off the behavior for a lot of instances at once without messing with individual ui settings.

[2021-02-18 13:16] elasticmachine commented on #91835
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 13:29] mostlyjason commented on #89442
@ruflin how would the elastic agent get an array of fleet server URLs? Would you pass an array in via command line parameter, or would you seed one value and deliver the rest via agent policy or an ES document?

Also to pick the "best" fleet server from an array, would it start with a random one and switch to the others if it can't connect?

[2021-02-18 13:35] kevinlog commented on #91570
thanks for getting the user unblocked @pzl I agree with your assessment in bubbling up errors and keeping Fleet unblocked.

@ph @skh

I think we should relax this failure in the Fleet code for the transform so that Fleet remains usable for everything else.  @pzl - is there any quick way to unblock Fleet in these cases?  Are there are specific error codes from the the ES Transform API, we could ign

[2021-02-18 13:44] dikshachauhan-qasource commented on #91804
Related to https://github.com/elastic/kibana/issues/90891

[2021-02-18 13:47] #91722 closed

[2021-02-18 13:47] pmuellr commented on #91686
Thx for that info @trengrj !  We should include that option in issue #80120 (I'll add to the design doc I'm working on).

At least for the cloud proxy and nodemailer, also implementing a way to ignore cert verification checks would work here, as that's how it worked in the past.  The current logic in 7.11.0 doesn't give us a way to do that though.  And perhaps that's better, than not using TLS at

[2021-02-18 13:47] jfsiii commented on #89111
@skh while I'm working on tests, can you try https://github.com/elastic/kibana/pull/91744/ or add the extra condition from
https://github.com/elastic/kibana/pull/91744/files#diff-baf8294e3f474e4f2436b376ab8b1c1c8a611c0d0455ff88e78563c613deeb4dR190

I think that's all that's needed to prevent the error, and I believe things still proceed as expected, but it's help to hear from other people.

[2021-02-18 13:52] chrisronline commented on #91654
Makes sense. I meant we don't hear issues from customers that they aren't able to see their 10k+ beats in the SM UI, so I'm not sure how often this scenario comes up for anyone (where they exceed 10k instances of anything) so it seems like an isolated use case but maybe something worth noting in docs somewhere.

[2021-02-18 13:54] m-adams commented on #63924
I just got to this issue after digging around because a partner building dashboards to distribute hit this issue.
It would be good to see a plan to fix it and maybe any short term work arounds because it will hamper users sharing saved objects.

[2021-02-18 13:57] #89528 closed

[2021-02-18 13:57] skh commented on #91570
Looking at the slack discussion it seems that the transform errors coming back have statuses `408` and `409` -- @pzl would it be safe to ignore these, or should we check the exact error messages?

[2021-02-18 14:01] banderror commented on #91265
So we talked about all the points mentioned above with the Alerting team and then synced within our Detection and Response team. I tried to reconcile all info about available options, our needs, decisions and action items. Here's a summary. Trying to be concise, still there's a lot to read, sorry about that.

If you have any comments, please post here in the ticket.

@dhurley14 @FrankHassanabad @g

[2021-02-18 14:02] formgeist commented on #85470
@sqren This should be moving with https://github.com/elastic/kibana/issues/77747 so I've moved this and added it to the design planned items so we can have a solution for this soon-ish.

[2021-02-18 14:04] pzl commented on #91570
We cannot wholesale ignore those error codes. There are legitimate cases where we want to bubble up stuck transform states that have 409. Say, if we continue to trigger transform race conditions, and the transform exists, but it's internal configuration does not (a state we have triggered before). That would show up as a 409, with, actually, the exact same error text. There are a few other ways to

[2021-02-18 14:08] jonathan-buttner opened #91843 "[Security Solution][Case] Subcases bugs"
## Case's List Page
**Assignees: (@angorayc @jonathan-buttner)**

- [x] UI Remove status on collections (https://github.com/elastic/kibana/pull/91863)
- [x] A collection is clickable selectable for bulk actions if it has no sub cases and the status is still displayed on it
![image](https://user-images.githubusercontent.com/56361221/109250032-e4203000-77b6-11eb-95f6-20caea19d424.png) (https://githu

[2021-02-18 14:08] elasticmachine commented on #91843
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-18 14:14] elasticmachine commented on #91821
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-18 14:14] amolnater-qasource commented on #91639
Hi @EricDavisX
Earlier in previous validations we have used below provided kibana.yml file:
[kibana_yml.txt](https://github.com/elastic/kibana/files/6003292/kibana_yml.txt)

Further today we attempted to update `xpack.ingestManager.fleet.tlsCheckDisabled: true` with `xpack.fleet.agents.tlsCheckDisabled: true` , however having same errors as reported earlier(TLS check disabled).

**Screenshot:**
![

[2021-02-18 14:18] paulbrown4 commented on #91682
Starting the service from the command line using '--allow-root' results in a successful start; however, when starting the service as the Kibana user it fails.

[2021-02-18 14:22] dej611 opened #91845 "[Lens] Validation errors are not vertically centered"
**Kibana version:** `master` at 7503fd256a1726c85bd75b228045707ee5a3bbf2

**Describe the bug:**

In Lens editor validation errors used to be centered aligned vertically.

**Steps to reproduce:**
1. Create a XY Chart in Lens
2. Add a new layer and add it only a dimension on the horizontal axis
3. Error being displayed

**Expected behavior:**

The message should be aligned as in previous versions.

[2021-02-18 14:22] elasticmachine commented on #91845
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-18 14:29] cauemarcondes commented on #91806
@formgeist it was changed because of the Time comparison feature and it avoids jumping from loading state to with data state. On the transactions table on Service Overview page, the sparklines are fetched after the transaction names.

Do you want to have two different styles?

[2021-02-18 14:35] jonathan-buttner commented on #91843
cc: @MadameSheema @IgorGuz2000 if QA source finds any issues can you double check to see if we have it here already

[2021-02-18 14:37] gmmorris commented on #91265
Regarding:

I'd say effort is high, as we'd have to change how tasks throughout the system are executed.

How long do these tasks tend to run in production environments? Is it so long that incrementally updating throughout the task execution is unusually important?

[2021-02-18 14:40] EricDavisX commented on #90891
both parties can edit the other issue so i'm closing this, please track in https://github.com/elastic/kibana/issues/91804

[2021-02-18 14:40] #90891 closed

[2021-02-18 14:40] sqren opened #91848 "[APM] Re-use components between Service overview and Transactions Overview instead of duplication"
Many of the components on the Service overview and transactions overview are essentially duplications of the same.

 - [x] Latency chart
 - [x] Transactions group table
 - [x] Throughput chart
   - Might not be possible to combine. One breaks requests down by `transaction.result`
   - `api/apm/services/opbeans-dotnet/throughput`
   - `api/apm/services/opbeans-dotnet/transactions/charts/throughput`

[2021-02-18 14:40] elasticmachine commented on #91848
Pinging @elastic/apm-ui (Team:apm)

[2021-02-18 14:43] sqren opened #91849 "[APM] Remove duplicate calls to `GET /api/apm/settings/anomaly-detection/jobs`"
When navigating around the APM app the request to fetch ML jobs is made for every page - the service inventory page loads it twice!
We should be able to cache this request. Additionally, we may want to move it to context, so that consumers do not invoke the request but simply consumes the response when it is ready.

[2021-02-18 14:43] elasticmachine commented on #91849
Pinging @elastic/apm-ui (Team:apm)

[2021-02-18 14:56] commandline-be opened #91852 "upgrade to kibana 7.11 causes"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** CentOS 7.9.2009 (Core)

**Browser version:** Any

**Browser OS version:** Any

**Original install method (e.g. download page, yum, from source, etc.):** yum upgrade

**Describe the bug:**

On many panels in the kibana dashboards there appears **Error**

When using **Inspect** it shows as response
{
“message”: “Un

[2021-02-18 14:56] paulb-elastic commented on #91062
The team have identified these as simpler configurations to add in the custom UI:
- Name
- Service.name
- Schedule
- Timeout
- Tags
- Hosts
- Max_redirects
- Proxy_url
- Headers

These are more complex and may need some @elastic/observability-design input:
- Ipv4
- Ipv6
- Mode
- Fields
- Processors
- SSL
- Username
- Password
- Response
- Check

We also need to finalise the name for the integratio

[2021-02-18 14:56] flash1293 commented on #88426
# EOD Update 2021-02-18

WIP

PRs:
https://github.com/elastic/kibana/pulls?q=is%3Apr+is%3Aclosed+label%3AFeature%3ADiscover+sort%3Aupdated-desc++merged%3A%3E%3D2021-02-18+

[2021-02-18 15:05] wylieconlon commented on #91644
I think I found this issue and have a fix as part of this PR: https://github.com/elastic/kibana/pull/91783/, it's related to the angular context of the table-row component.

[2021-02-18 15:07] norgro2601 opened #91855 "Alert and Actions - Jira connector does not show the saved priority but the first entry in the list of priorities"
**Kibana version:**
7.11.1

**Elasticsearch version:**
7.11.1

**Server OS version:**
Elastic Clous

**Browser version:**
Google Chrome Version 88.0.4324.182

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
When I add a Jira action to an alert, we select the correct priority from the list of options. When I che

[2021-02-18 15:08] sqren commented on #91806
I also think the new layout looks better since it avoids the jumping and 'N/A' is vertically aligned with the percentages.
What's the issue here?

[2021-02-18 15:14] patricklucas commented on #91282
Thanks for the replies @thomasneirynck / @kmartastic.

In my use case, the map (and all the other visualizations) each have a simple filter applied that bounds the dataset to a "correct" subset of data, based on how my data is modeled*, and then filters can be added on the dashboard itself to drill down across all of the visualizations.

*I'm using the pattern of writing a document for every state

[2021-02-18 15:15] formgeist commented on #91806
I understand the changes and I agree it's better than jumping. I would like to decrease the icon size to make it less noisy and make the icon use `euiColorLightShade` for the color, emulating the previous style. Eventually, I'd like to have some sort of subtle animation to indicate loading (tbd).

[2021-02-18 15:27] ymao1 opened #91860 "KQL Search Alert"
As a followup to https://github.com/elastic/kibana/issues/61313, we also want to allow a KQL search alert in addition to ES DSL. This could be potentially part of the same search alert with a switch to allow entering KQL or ES DSL (or Lucene as well).

See comments https://github.com/elastic/kibana/issues/61313 for some initial discussion about KQL

[2021-02-18 15:27] elasticmachine commented on #91860
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-18 15:28] blakerouse commented on #89442
Elastic Agent already supports multiple Kibana URL's to connect to Fleet. The Kibana URL's are added to the policy, so if you add a new Kibana it updates the policy and the Elastic Agent gets that new URL. Elastic Agent will round-robin connect to the Kibana's in the policy.

To the Elastic Agent there is no different between talking to Kibana or a Fleet Server. So the same code path, round-robin,

[2021-02-18 15:32] ph commented on #91570
@kevinlog Agree we should relax this behavior here, @skh is looking into this from our side but let's collaborate to define the behavior.

[2021-02-18 15:32] ruflin commented on #90308
@jen-huang We should discuss the details on what save does because I think after edit / save it should update it. Basically edit should already be based on the newer version.

[2021-02-18 15:33] formgeist opened #91861 "[APM] Bug: Charts - Vertical marker for the tooltip is hidden behind the comparison area"
Kibana version: master

# Summary

The Charts team has updated the style of the vertical marker that indicates on hover where in the x-axis you are. This is hidden behind the comparison period displayed as an area.

![image (2)](https://user-images.githubusercontent.com/4104278/108380231-f0304e80-7206-11eb-944b-aa8a5b975f2e.png)

![image (3)](https://user-images.githubusercontent.com/4104278/10838

[2021-02-18 15:33] elasticmachine commented on #91861
Pinging @elastic/apm-ui (Team:apm)

[2021-02-18 15:35] kevinlog commented on #91570
After a chat with @pzl and the team:

**Possible Actions:**
- ML team is working on a specific error for this case for `7.11.2`
- Fleet/Endpoint will detect error in Fleet and not lock it up for `7.11.2`
- Endpoint admin page will display an error/info box that the user needed to configure a transform node - maybe `7.11.2` ?
- Add Endpoint Integration in Fleet flow can display need to configure tr

[2021-02-18 15:35] shahargl commented on #33931
Thanks mate @cpmoore

[2021-02-18 15:36] ph commented on #91570
@kevinlog We are looking for 7.11.2, but we haven't confirmed the release yet.

[2021-02-18 15:37] hendrikmuhs commented on #91570
I am looking on the transform side as we speak and target a fix asap (7.11.2).

The timeout error we see in 7.11 should in my opinion not get a workaround, but transform will properly answer the request.

Having that said, it of course makes sense to hard for other error conditions.

[2021-02-18 15:37] sqren commented on #91806
That would be super nice. Right now it's not possible to distinguish empty states and loading states.

[2021-02-18 15:37] kevinlog commented on #91570
@ph no problem, I edited my comment above.  Let's figure out what's possible.

[2021-02-18 15:39] #91493 closed

[2021-02-18 15:39] #91633 closed

[2021-02-18 15:41] kevinlog commented on #90261
Estimate: 2

[2021-02-18 15:43] skh opened #91864 "[Fleet] Have finer-grained error handling for errors during /api/fleet/setup"
Currently, the `/api/fleet/setup` endpoint is called whenever the Fleet UI is opened, and it attempts to update the mandatory packages `endpoint` and `system`. If an error occurs during these updates, the Fleet UI is blocked and can't be used at all.

This issue is to change this, and instead show a very prominent warning when an error occured during setup, but still also show the standard Fleet U

[2021-02-18 15:43] elasticmachine commented on #91864
Pinging @elastic/fleet (Feature:Fleet)

[2021-02-18 15:43] elasticmachine commented on #91864
Pinging @elastic/fleet (Team:Fleet)

[2021-02-18 15:43] pmuellr commented on #91265
For the event log:

In progress PR for that here: https://github.com/elastic/kibana/pull/91731

[2021-02-18 15:45] thomasneirynck opened #91865 "[Maps] Should not show query/filterbar if there are no layers that are queryable/filterable"
The query/filter bar is not usable when there are no layers backed by an index-pattern.

As Maps starts to support more diverse data-sources (e.g. ML-anomalies, custom tiles,...), the query/filter bar should be hidden if these sources do not support filtering through a generic query