[2021-11-08 14:56] elasticmachine commented on #117869
Pinging @elastic/kibana-security (Team:Security)

[2021-11-08 14:58] hbharding commented on #117696
It should open in the same window

[2021-11-08 14:58] cconboy opened #117870 "[Fleet] Mongodb Integration -- advanced options specified Integration Settings not included in policy yml"
Username / password specified in the advanced options of the Integration Settings for Mongodb are not being outputted to the policy yml generated.

Found because Metrics were not being collected from Mongodb after integration, could see authentication errors visible in log, despite having added user to Mongodb and specified username/password in Mongodb integration.

Expected, something like this:

[2021-11-08 14:58] elasticmachine commented on #117870
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 15:04] paul-tavares commented on #117255
FYI - @academo was already looking into some issues with Jest last week, and after speaking with him, he will continue no this issue and follow through on the memory leaks

[2021-11-08 15:05] jamster10 commented on #113911
Path to bug: x-pack/plugins/security_solution/public/timelines/components/edit_data_provider/index.tsx

I believe this is a bug with EUI component `EuiFocusTrap`. The only solution that worked was passing the `disabled`prop to `EuiFocusTrap` on line 192.

other attempted solutions include:

Removing calls to focusInput function in `StatefulEditDataProvider`. This function was used to automatically

[2021-11-08 15:12] #117631 closed

[2021-11-08 15:17] sebelga opened #117873 "[Monaco editor] Scroll does not work when inside a Flyout"
In the index pattern field editor we use the Monaco editor to write the painless script. The editor is inside a flyout which is scrollable.

<img width="639" alt="Screenshot 2021-11-08 at 15 14 20" src="https://user-images.githubusercontent.com/2854616/140767627-0f752d36-ca4b-41c5-aa36-5c3504e9df8a.png">

When the mouse is over the script editor the scroll does not work. We need to move the mouse

[2021-11-08 15:17] patrykkopycinski commented on #117630
It'd be cool if we could also define the UI for the component that would be responsible for adding the attachment to the Case, like Lens markdown plugin

[2021-11-08 15:19] jasonrhodes commented on #113754
We chatted about this in our weekly sync today with @mukeshelastic -- we should discuss whether there is another way to do this change to prevent the type change across indices (changing the mapping type of "namespace" makes this more complicated).

If we want to do it this way, we would need to use runtime fields for new 8.0+ indices in order to allow queries across 7.x and 8.x indices in the Met

[2021-11-08 15:38] nchaulet commented on #117870
This seems to be a problem with how the integration is build looking at the template for this metric username and password variables are never used  https://epr.elastic.co/package/mongodb/1.1.0/data_stream/metrics/agent/stream/stream.yml.hbs

[2021-11-08 15:49] kpollich commented on #117870
Took a quick look and it appears that Fleet saves the username/password provided in the advanced options to the Kibana saved object for the policy as expected.

[code]

So it appears that the issue is with the template file as Nicolas stated above.

[2021-11-08 15:49] jasonrhodes commented on #113149
@matschaffer just confirming: the work needed to adapt to the original breaking change is done elsewhere, and this ticket now reflects our plans to adopt the "processes" view in graphs (but isn't itself a breaking change), is that right?

[2021-11-08 15:52] #116370 closed

[2021-11-08 15:55] mistic commented on #90551
@Shubhamnmdv if you've followed all of our guides and you can't still make it work, I think you should give the WSL setup a try.

Other than that 3 things I would pay attention:

- make sure you are in sync with the latest upstream
- historically on Windows we had problems when some setups relied on having dependencies for the same build in multiple partitions. Please check if that is the case, an

[2021-11-08 15:55] mshustov commented on #117394
yeah, it makes sense for the licensing API to prevent these cascading side effects.

It might be better to extract this logic and provide it from the Elasticsearch service, maybe?
All the network problems can be considered as an intermittent effect:
- NoLivingConnectionsError
- ConnectionError
- TimeoutError
- 503 ServiceUnavailable
- 408 Request timeout

Not sure about others from https://github.

[2021-11-08 15:57] smith commented on #116532
There were changes to this test in #116132. Not sure why it's timing out now but I can take a look.

[2021-11-08 15:59] ravikesarwani commented on #106345
@lucabelluccini Do you have any thoughts on this?
The question we are trying to get answer to is:
Is there any value on showing fixed bitsets & version map on the graph? If yes, how will users use the values and under what heading does it make sense in the new code/design.

[2021-11-08 16:02] jloleysens opened #117880 "[Reporting] Hitting endpoint `/internal/global_search/find` while generating report"
**Kibana version:** 7.15.1

**Original install method (e.g. download page, yum, from source, etc.):** Docker image of 7.15.1

**Describe the bug:**

It looks like, while generating reports, we are hitting the global search endpoint. This is an unnecessary request and should be avoided while `isScreenshotMode()` returns true.

**Steps to reproduce:**
1. Start kibana and ES using docker-compose or d

[2021-11-08 16:16] Dosant commented on #44575
https://github.com/elastic/kibana/issues/83824 probably was skipped for the same reason why this one is failing. Started failing again on the same time

[2021-11-08 16:18] liza-mae commented on #97559
Fixed in 7.16.0 - https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2511/JOB=xpackGrp4,TASK=saas_run_kibana_tests,node=ess-testing/testReport/Chrome%20X-Pack%20UI%20Functional%20Tests1/x-pack_test_functional_apps_security_management

Closing.

[2021-11-08 16:18] #97559 closed

[2021-11-08 16:19] elasticmachine commented on #89958
Pinging @elastic/kibana-core (Team:Core)

[2021-11-08 16:22] neptunian opened #117885 "[Stack Monitoring] Investigate ES Overview page not loading in 7.15"
There has been an issue reported with slowness trying to load the ES Overview page.  Possibly with the query when getting last recovery of an index with ["mb" params](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/elasticsearch/get_last_recovery.ts#L107), even though the user doesn't have `metricbeat-*` indices.  The query looks like this:

[code]

A note about th

[2021-11-08 16:22] elasticmachine commented on #117885
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-08 16:23] joshdover commented on #117317
I think we can follow logic like:
- If we can reach ES, but get a 401 Unauthorized: don't allow them to add the output
- If we can reach ES but the cluster UUID is different: don't allow them to add the output
- If we can't reach ES, show a warning that we couldn't validate access (with the underlying error message) and allow them add the output anyways if they choose

In terms of where in the flo

[2021-11-08 16:37] #117127 closed

[2021-11-08 16:44] kibanamachine opened #117889 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features - <EditPolicy /> frozen phase on non-enterprise license should not be available"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2874#65f13efe-795b-4cd6-9076-63a7005ae571)

[2021-11-08 16:46] dej611 commented on #116777
After some investigations, found a few blocking issue on Canvas and Elastic Charts sides:
* No matter what we pass as `linkLabels.textColor` for the Partition chart, the value is ignored and automatically assigned based on internal computations => https://github.com/elastic/elastic-charts/issues/1469
  * context: because the background is transparent, it is assimilated to `white`, hence the result

[2021-11-08 16:47] vadimkibana commented on #43879
Closing this as discussed at team sync as we now have a project that will track new embeddable types.

[2021-11-08 16:47] #43879 closed

[2021-11-08 16:50] #116229 closed

[2021-11-08 16:52] elasticmachine commented on #117889
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-08 16:58] #117404 closed

[2021-11-08 16:58] #117479 closed

[2021-11-08 17:14] #111780 closed

[2021-11-08 17:18] joshdover commented on #117364
@alexfrancoeur @mostlyjason Any feedback on this copy before we implement this?

[2021-11-08 17:21] Basilakis commented on #24649
@simianhacker @nick07as anythink u guys managed to do?

[2021-11-08 17:22] vitaliidm commented on #117034
@yiyangliu9286 , @banderror currently default displayed date format is a format from Kibana configuration
https://www.elastic.co/guide/en/kibana/master/advanced-options.html#kibana-general-settings, field **dateFormat** (thanks to @spong for pointing it out).
Which is by default looks like that `MMM D, YYYY @ HH:mm:ss.SSS` and is using right now in table.
User can configure it to look like differe

[2021-11-08 17:27] #115473 closed

[2021-11-08 17:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2872#1af21885-f18b-4789-a293-97542e47c199)

[2021-11-08 17:58] qn895 commented on #117651
Closing via https://github.com/elastic/kibana/pull/117679

[2021-11-08 17:58] #117651 closed

[2021-11-08 18:02] banderror opened #117900 "[Security Solution][Detections] "Error activating rule" and siem-detection-engine-rule-status"
@marshallmain:

![image](https://user-images.githubusercontent.com/7359339/140793172-2f4de655-2bee-4e3a-8480-071275a9e993.png)

@FrankHassanabad:

[code]

[2021-11-08 18:02] elasticmachine commented on #117900
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-08 18:02] elasticmachine commented on #117900
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 18:03] lucasfcosta commented on #116334
Hi @deepak-sreekumar, thanks a lot for your willingness to help 🙌

I've tackled this issue as it required a little bit of internal coordination to make sure that we'd rename things consistently across the parts of the application managed by different teams.

However, the PR is open for review (https://github.com/elastic/kibana/pull/117852) if you'd like to take a look at that and perhaps see how w

[2021-11-08 18:03] banderror commented on #117900
We don't know if it can be reproduced in 7.16

[2021-11-08 18:08] tylersmalley commented on #117492
@lizozom, yeah we currently manage that cluster for now.

Regarding CORS, isn't that supposed to be set on the instance doing the collection? So, `propagateTracestate` would need to be specifically set on a cluster, but only if CORS is enabled? I could be mistaken here. Maybe @trentm can weigh in.

[2021-11-08 18:08] legrego commented on #17873
Our Observability and Security solutions are tailored for monitoring the types of events that we generate in Kibana's audit logs. This largely works out-of-the-box now that Kibana's audit logger is ECS-compliant.

@elastic/kibana-security any objections to closing this in favor of using & improving the built-in solutions for this type of analysis?

[2021-11-08 18:16] tylersmalley commented on #117492
@lizozom, I also check the pre 7.16 (examples, [7.11](https://github.com/elastic/kibana/blob/7.11/packages/kbn-apm-config-loader/src/config.ts), [7.14](https://github.com/elastic/kibana/blob/7.14/packages/kbn-apm-config-loader/src/config.ts), [7.15](https://github.com/elastic/kibana/blob/7.15/packages/kbn-apm-config-loader/src/config.ts)) configs, and looks like we only need to set 'serverUrl`, `s

[2021-11-08 18:16] elasticmachine commented on #116423
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-08 18:18] jportner commented on #17873
Agree, I think we can close this

[2021-11-08 18:20] cnasikas commented on #115152
Implemented by https://github.com/elastic/kibana/pull/117177

[2021-11-08 18:20] #115152 closed

[2021-11-08 18:21] dplumlee opened #117903 "[Security Solution] Incorrect upgrade assistant messaging for 7.16"
In our current upgrade assistant tool, we have incorrect messaging for the upcoming 7.16 upgrade, specifically surrounding the rule preview feature. This feature was delayed until 8.0 but the upgrade messaging is still prompting users to give read privileges to an index that does not yet exist. This change needs to be reverted and pushed until next release in order to not confuse users during upgr

[2021-11-08 18:21] elasticmachine commented on #117903
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 18:22] tylersmalley commented on #90551
@Shubhamnmdv, directly pinging a bunch of people and insisting on having someone call you is not appropriate. Nor do you seem to be following the comments made by @mistic including the documentation he pointed to.

If you're looking for direct support, including an SLA please contact our sales team https://www.elastic.co/contact

If you think there is a bug, please open a new issue.

[2021-11-08 18:26] elasticmachine commented on #117903
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-08 18:26] cnasikas opened #117904 "[Cases] Multiple connectors on single case view"
Having to go and select a connector from the dropdown each time a user wants to update a connector can be tiresome when having multiple connectors. Also, if https://github.com/elastic/kibana/issues/115730 is implemented then the indicator that the connector needs to be pushed will be hidden. Having a different UI approach will solve the above issues.

Connectors as card example:

![connectors](htt

[2021-11-08 18:27] elasticmachine commented on #117904
Pinging @elastic/security-threat-hunting-cases (Feature:Cases)

[2021-11-08 18:27] elasticmachine commented on #117904
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-08 18:32] cnasikas opened #117905 "[Cases] KPIs"
An analyst expects KPIs while viewing a single case. Examples:

* How many alerts are within this case?
* How many hosts are represented from the attached alerts?
* How many users are represented from the attached alerts?
* What actions have been taken? (e.g. Isolate Host)
* How long has this Case been open?
* How long ago was the oldest alert?
* What are the total connectors I have ever used?
* W

[2021-11-08 18:32] elasticmachine commented on #117905
Pinging @elastic/security-threat-hunting-cases (Feature:Cases)

[2021-11-08 18:32] elasticmachine commented on #117905
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-08 18:43] kibanamachine opened #117906 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/policy/view/trusted_apps/list - When using the RemoveTrustedAppFromPolicyModal component should show multiples removal success message"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2879#0fc79ed8-bf31-4d80-8fdb-e7cf69220b17)

[2021-11-08 18:48] dominiqueclarke commented on #116368
@paulb-elastic, I have further debugged this issue, and determined this issue is not specific to cross cluster search. Rather, this happens when the user sets the Inspect ES queries setting from Advanced Settings in Stack Management.

For this reason, I think this bug can be prioritized to 8.0.0. This will only happen when the user inspects queries, which typically only happens when instructed to

[2021-11-08 18:59] ghudgins opened #117909 "[Lens] Expose shard size for top values (terms) aggregations"
**Describe the feature:**

1. Expose Elasticsearch "[shard_size](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#search-aggregations-bucket-terms-aggregation-shard-size)" in advanced option in lens' "Top values" panel.
2. Once done, update message from https://github.com/elastic/kibana/issues/94918 to

### Design

My ideas on the da

[2021-11-08 18:59] elasticmachine commented on #117909
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-08 19:00] #101540 closed

[2021-11-08 19:01] #110550 closed

[2021-11-08 19:03] ghudgins commented on #117909
@MichaelMarcialis 👀 no urgency but I made some hip-fired designs on this issue idea. Your hip fire is better than mine.

[2021-11-08 19:05] elasticmachine commented on #117906
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 19:05] elasticmachine commented on #117906
Pinging @elastic/siem (Team:SIEM)

[2021-11-08 19:06] elasticmachine commented on #117906
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-08 19:07] kevinlog commented on #117906
@paul-tavares @dasansol92 could one of you take a look at this?  The test isn't failed yet, but we should keep an eye on it.

@academo does any of this have to do with the Jest memory leaks or splitting the Jest tests?

[2021-11-08 19:11] #117543 closed

[2021-11-08 19:11] cauemarcondes commented on #112400
closed by this https://github.com/elastic/kibana/pull/117021 and https://github.com/elastic/kibana/pull/115651

[2021-11-08 19:11] #112400 closed

[2021-11-08 19:11] alexfrancoeur commented on #117765
👍 nice catch @yakhinvadim ! We should be linking to the same endpoint as the normal card. +1 to `http://localhost:5601/app/enterprise_search/app_search/engines/new?method=crawler`

[2021-11-08 19:16] weltenwort commented on #115235
## :memo: Clarified ACs after meeting on 2021-11-08

- The component uses the space's `default` source configuration (which means the user is responsible for setting up the metrics ui to show the ingested metrics).
- The component takes as props:
  - the time range
  - the node type
  - the ids of the nodes
- The component shows an empty state with guidance when there are no metric indices (like t

[2021-11-08 19:17] rayafratkina commented on #43879
@vadimkibana is there a link to the new project?

[2021-11-08 19:33] arisonl commented on #117133
@YulNaumenko I suggest we move forward with the approach that the description suggests. Edit-ability and mutability are orthogonal. cc @gmmorris

[2021-11-08 19:36] FrankHassanabad commented on #117255
I updated my script above with this [gist one now](https://gist.github.com/FrankHassanabad/ce8353ae0519cbb2cdf38a9e279da1c9).

I isolated one memory leak coming from alerting. Take this simple [test gist here](https://gist.github.com/FrankHassanabad/b04e4f957ddce430e517ad5ef16e9a5b)

And you can put that in `x-pack/plugins/alerting/server/` and run it over 100 times and it will blow up the memory.

[2021-11-08 19:39] alexfrancoeur commented on #117364
Thanks for the ping @joshdover. We ended up switching everything from "add data" to "add integrations". Technically, in the integrations view, both file upload and sample data are listed as integrations. As you can see in our updated diagram, integrations have replaced all ingest options for how we talk about getting data in. It also is extended to pushing data out to external systems.

![New Elas

[2021-11-08 19:47] EricDavisX commented on #117818
@masci is this actually in the Integration itself I think?  If so can you help push it to the right owner please?

[2021-11-08 19:49] flash1293 commented on #14291
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-11-08 19:49] #14291 closed

[2021-11-08 19:52] flash1293 commented on #94553
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-11-08 19:52] #94553 closed

[2021-11-08 19:52] bryce-b opened #117921 "[APM] Exploratory view not displaying iOS Memory or CPU metrics"
### Kibana version

v7.16.0-apm-fix-SNAPSHOT (7.16.0 effective)

### APM Server version (if applicable)

v7.16.0-apm-fix-SNAPSHOT

### Elasticsearch version (if applicable)

v7.16.0-apm-fix-SNAPSHOT

### Steps to Reproduce

- Import [iOS Metrics.csv](https://github.com/elastic/kibana/files/7499714/iOS.Metrics.csv) into kibana

- Visit iOS service page

- click "Analyze Data" left of the `environme

[2021-11-08 19:52] elasticmachine commented on #117921
Pinging @elastic/apm-ui (Team:apm)

[2021-11-08 19:57] flash1293 commented on #83436
Can't reproduce this anymore

[2021-11-08 19:57] #83436 closed

[2021-11-08 19:58] alvarezmelissa87 commented on #117660
Heya @jgowdyelastic - this check is working as expected. The analysis requires at least one more field besides the dependent variable or the job will fail. If you select another field from the includes table it should allow you to proceed.

[2021-11-08 20:03] lukeelmers opened #117923 "[telemetry] Revert change to v3 endpoint"
In https://github.com/elastic/kibana/pull/115815, we switched to the v3 telemetry endpoint & backported to 7.16. We are now getting guidance from the infra team that we should hold off on making this change in 7.16, so we will need to revert the changes.

Unfortunately there were a few other changes that prevent us from doing a clean revert, so we will need to do this manually.

Labeling this as a

[2021-11-08 20:03] elasticmachine commented on #117923
Pinging @elastic/kibana-core (Team:Core)

[2021-11-08 20:08] jgowdyelastic commented on #117660
Ah, ok. I see what it going on.
If I open the wizard and select "Regression" first, the `airline` field is auto selected for me, so I can proceed in the wizard.
but if I select "Outlier detection" first, the `airline` field is disabled, so when I then switch to "Regression", `airline` is re-enabled but not auto selected.

I didn't notice the subtleties here.

IMO this error message
<img width="576

[2021-11-08 20:09] #105763 closed

[2021-11-08 20:10] cconboy opened #117925 "[Metrics UI] Host detail page fails to load data"
Host detail page never gets past "Loading data". An error is emitted to browser console:
ip-172-31-16-33:282 Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'self'". Either the 'unsafe-inline'

Steps to Repro:
1. Starting from Inventory (waffle map) click on a node, pop up menu shows metrics data. Click on "Open as pag

[2021-11-08 20:18] pmuellr commented on #117255
I just happened to see this issue - so thought I'd mention a leak we just noticed.  We noticed it doing some alerting stress testing in the 7.16.0 BC's - https://github.com/elastic/kibana/issues/116636 .  Caused by a new feachur in node v16 in `perf_hooks` function `performance.mark()` (marks never get cleaned up automagically).  It took ~10hrs under pretty heavy load to OOM, so I thought of it as

[2021-11-08 20:27] tsullivan commented on #117245
I'm seeing an issue in Canvas where the POST URL is unavailable:
![image](https://user-images.githubusercontent.com/908371/140813072-0a30f192-5c59-4011-adac-bc7a38e26ec4.png)

[2021-11-08 20:27] vitaliidm commented on #117029
Scope of work:

1. Replace button 'See all', so it look consistent
2. Refactor 2 components(with rules and tags) and combine them into 1
3. Determine the best UX for a common component

As 2 first look like pretty much straightforward, there is some input needed for the third point. @yiyangliu9286, could you please let us know what do you think and what could be the best way to go.
@banderror has

[2021-11-08 20:40] tsullivan opened #117928 "[Reporting] Canvas Share menu does not allow POST URL to be copied"
**Kibana version:** 7.16+

Canvas worksheets are saved automatically, which should make them protected against ever seeing this message:

![image](https://user-images.githubusercontent.com/908371/140814737-00c6c6db-3473-44aa-8542-9f15a913abe4.png)

[2021-11-08 20:40] elasticmachine commented on #117928
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-11-08 20:41] elasticmachine commented on #117921
Pinging @elastic/uptime (Team:uptime)

[2021-11-08 20:44] qn895 opened #117930 "[ML] Increase Test Coverage 8.0.0"
Follow up to #110949.

Meta issue to summarize improvements to test coverage for `8.0.0`.

## Jest unit tests

## API integration tests

## Functional tests
- [x] No warning shown if attempting to clone a job for which there is no data view https://github.com/elastic/kibana/pull/117993 (PH)
- [x] Dashboard with data viz saved search embeddables https://github.com/elastic/kibana/pull/116774 (QN)

#

[2021-11-08 20:45] elasticmachine commented on #117930
Pinging @elastic/ml-ui (:ml)

[2021-11-08 20:51] ghudgins commented on #114625
+1 https://discuss.elastic.co/t/the-data-table-in-the-dashboard-does-not-support-click-sorting/288479/

[2021-11-08 20:51] jguay commented on #117269
This issue seems potentially duplicated with https://github.com/elastic/elasticsearch/issues/79200 assuming the indices `GET applicationlogs-*/_settings` do not show that `_tier` is set

[2021-11-08 20:59] spalger opened #117934 "[eslint] merge eslint and eslint_with_types CLIs"
In https://github.com/elastic/kibana/pull/114184 we added `node scripts/eslint_with_types` to get Type-powered ESLint rules working in the repo. We need to merge this with the standard eslint configs though so that ESLint can run in IDEs with types enabled.

[2021-11-08 20:59] elasticmachine commented on #117934
Pinging @elastic/kibana-operations (Team:Operations)

[2021-11-08 21:01] trentm commented on #117492
See also https://github.com/elastic/infra/issues/28520#issuecomment-963563624 regarding perhaps wanting to set `captureHeaders: false` and/or `sanitizeFieldNames: ...`.

[2021-11-08 21:06] gchaps commented on #117364
Depending on the outcome of this conversation, we might need to change the title and intro to this page as well:

<img width="1220" alt="Screen Shot 2021-11-08 at 9 29 39 AM" src="https://user-images.githubusercontent.com/33642766/140817882-441507e3-05c0-441f-853e-cce689f5daf5.png">

[2021-11-08 21:07] suchcodemuchwow opened #117936 "[APM] Search bar in services does not work v7.15.0"
### Kibana version

v7.15.0

### Steps to Reproduce

Inside of Services try to search something like `client.geo.region_name : "Stockholm"`
"Enter" and "Cmd+Enter" is also not working

### Expected Behavior

Transactions should be filtered out by the query entered in the search box.

https://user-images.githubusercontent.com/9674241/140818176-5f56a90f-4779-4b72-9234-642f415a3d49.mp4

### Actual Be

[2021-11-08 21:07] elasticmachine commented on #117936
Pinging @elastic/apm-ui (Team:apm)

[2021-11-08 21:17] #116200 closed

[2021-11-08 21:37] garyjblackwell opened #117943 "Steady stream of pop-ups cover the right portion of the screen"
I would like the ability to clear and turn off the pop-ups that cover the right-side of the screen.  The pop-ups have the same message over and over again.

Click a check box - do not show this message again or better - have a small exclamation point, I can click on and review the error.  In most cases, I am unaffected by the message except that it gets in the way and slows me down.
Thanks,
Gary
!

[2021-11-08 21:43] #117856 closed

[2021-11-08 21:43] pmuellr commented on #117199
I started to do some reading up on CCS - it's not clear to me that CCS allows "write" operations against remote clusters.  All the doc seems to mention search.

We end up using the [`bulk` API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html) to index documents with the index connector:

https://github.com/elastic/kibana/blob/6e18f3ff09fd0366d4797c4415f7d69fe5e1930f/

[2021-11-08 21:44] pmuellr commented on #117199
@MadameSheema - seems like we can close this one, unless you're thinking there _should_ be a way to index documents cross-cluster, outside of CCS.  We'll need more detail, if so.

[2021-11-08 21:55] rudolf commented on #117394
`410` gets returned by some proxies (including on cloud)

I'm not sure about 401 / 403, but probably even if there's an authentication issue we want to retry because someone might fix the credentials.

We could probably use `migrationRetryCallCluster` as a starting point. I agree exponential back-off would be good to add to it.
https://github.com/elastic/kibana/blob/test-es-deprecations/src/core/s

[2021-11-08 22:05] XavierM opened #117952 "[Saved Object] Search is broken in management page"
**Kibana version: 7.16, 8.0.0, 8.1.0

The search box in saved object management is broken, you will always get back an error `Unable find saved objects`

![image](https://user-images.githubusercontent.com/189600/140825196-f6ad4000-081a-422f-9ba9-7636e0ad11b9.png)

We figure it out that this [PR](https://github.com/elastic/kibana/pull/117105) introduces a bug and we already know how to fix it 🥳

[2021-11-08 22:05] elasticmachine commented on #117952
Pinging @elastic/kibana-core (Team:Core)

[2021-11-08 22:16] XavierM commented on #117952
Fix with this PR https://github.com/elastic/kibana/pull/117682/files

[2021-11-08 22:16] #117952 closed

[2021-11-08 22:24] sqren commented on #117492
I've added `elastic.apm.sanitizeFieldNames` to the "Pre 7.16" section per https://github.com/elastic/infra/issues/28520#issuecomment-963563624

[2021-11-08 22:26] pmuellr commented on #117255
What happens if you don't use `--runInBand` when you run the tests?  My understanding is that option basically runs tests in the same "vm", whereas if you don't use it, it's more "separate".  I use `--runInBand` when debugging tests w/vscode, but I don't think with other jest invocations.

I think that combined with all the `jest.resetModules()` is going to cause a large swath of modules to be rel

[2021-11-08 22:47] #116472 closed

[2021-11-08 22:47] #117754 closed

[2021-11-08 22:54] jen-huang commented on #117812
Closing - as Josh stated, this is an artifact of the fact that 7.16 builds aren't published yet.

[2021-11-08 22:54] #117812 closed

[2021-11-08 23:00] jen-huang commented on #117809
Hi, the behavior in 7.16 on Cloud is correct. We disabled the monitoring checkboxes as user changes there do not actually persist, see this bug: https://github.com/elastic/kibana/issues/110533 and associated fix: https://github.com/elastic/kibana/pull/116523.

[2021-11-08 23:00] #117809 closed

[2021-11-08 23:05] tsullivan commented on #117245
I am still seeing this issue happening in BC3

[2021-11-08 23:13] hbharding commented on #115781
Hi Claudio - apologies just seeing. Thanks for working on this.

- Yes, we should still include a Cancel button in the footer. Let's use `EuiButton color="text"` since it is not the primary action. `EuiModalFooter` should automatically align this to the bottom right of the modal.
- I think the "Select" button in the right column works since we generally put actions in the right-most column. It wil

[2021-11-08 23:46] tsullivan opened #117960 "[Reporting/Dashboard] Newly loaded Sample Data dashboard must be explicitly saved before user can copy POST URL"
**Kibana version:** 7.16.0-SNAPSHOT

**Describe the bug:**
User incorrectly sees a message that the POST URL is too long and is unable to be copied.
![Screenshot from 2021-11-02 16-43-21](https://user-images.githubusercontent.com/23424008/139962588-a722f7b2-a450-43dd-97b5-87bb779dbdec.png)

**Steps to reproduce:**
1. Install the flights dataset of sample data
2. Once install is complete, click "Da

[2021-11-08 23:46] elasticmachine commented on #117960
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-08 23:46] tsullivan commented on #117245
Replaced with https://github.com/elastic/kibana/issues/117960

[2021-11-09 00:16] FrankHassanabad commented on #117255
I would look at `alerting/server/index.ts` and when you run tests importing from there. You can manually or use the script above to duplicate the [sample.test.ts](https://gist.github.com/FrankHassanabad/b04e4f957ddce430e517ad5ef16e9a5b) which accesses it.

Yes, a lot less modules and the memory leak doesn't show up.

For debugging memory issues I think everyone recommends running it in band. You c

[2021-11-09 00:23] FrankHassanabad commented on #117255
Second one I think I found here:
https://gist.github.com/FrankHassanabad/68cef0d806f8cd9b2af50fa815af92c1

Trying to see if I can patch `security_solution` with the alternative imports. For that one instead of importing:

[code]

I am going to import like so:
[code]

And early results shows that doesn't leak. So I think using any code from this import:
 `x-pack/plugins/actions/server/mocks.ts`

wi

[2021-11-09 01:26] yakhinvadim commented on #117765
Cool, I'll grab it this week. 👍

[2021-11-09 01:29] peluja1012 commented on #92434
Closing as fixed by this PR https://github.com/elastic/kibana/pull/105126

[2021-11-09 01:29] #92434 closed

[2021-11-09 01:32] spong commented on #115153
As referenced in the description, there is [one usage in SecuritySolution](https://github.com/elastic/kibana/blob/8d5cf305815a34b00ef04db96fd1b77c27383229/x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/saved_objects_adapter/rule_status_saved_objects_client.ts#L92) that'll be affected by this fix if still around (usage is deprecated and may be removed in early 8.x).

[2021-11-09 01:40] matschaffer commented on #113149
Not sure which change you're referring to with "the original breaking change". `process` hasn't been removed yet, that's https://github.com/elastic/kibana/pull/115200 so in practice there hasn't been any breaking change yet.

What _has_ happened is that `processes` is now available and `process` has been set to `processes[0]` for backward compatibility.

This issue covers switching graphs to use `

[2021-11-09 02:25] yiyangliu9286 commented on #117034
@vitaliidm @banderror Agreeing that we should stick to default, configurable format `MMM D, YYYY @ HH:mm:ss.SSS` with the truncation ellipsis and tooltip is the best way to proceed (thanks @spong for pointing out the resources!).

So I think design wise based on the current format, we just need to add truncation `...` to avoid the long date format being cuts off for this UI enhancement for this is

[2021-11-09 03:29] #117133 closed

[2021-11-09 03:36] kibanamachine commented on #116898
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2905#d23652d9-5e21-430e-976f-3bd97d3b781e)

[2021-11-09 03:37] yiyangliu9286 commented on #117029
@vitaliidm Thanks for summarizing it. Here are my general thoughts:

TL;DR: for these types of UI/UX enhancements, I feel like we should try to solve these separately by considering the actual persona and workflows that our users are landing to these different tables (1. Tags for Rules management table 2. Rules assigned to for the Exceptions table) and determine what are the best practise we would

[2021-11-09 03:43] yiyangliu9286 commented on #117029
@vitaliidm As for Exceptions table, I think what you suggested here for `displaying 2 rules` makes sense because I feel like our users in general don't have too much exceptions list items to display (but correct me if I am wrong). So the row height is a less concern here. As for an overflow behaviour, instead a "See all" button, I think we could probably explore more specific content for that butt

[2021-11-09 03:52] lukeelmers commented on #117282
I thought the idea of isScreenshotMode was that downstream apps could "own" their reporting experience and tailor their layout accordingly -- so rather than adding another extension point, shouldn't apps use that flag to determine whether to add a toast in the first place?

[2021-11-09 04:18] #117445 closed

[2021-11-09 05:04] tylersmalley commented on #117255
@pmuellr, `--runInBand` makes the test run serially, instead of running in workers. These tests are OOM'ing with workers now in CI, but with workers but they are being re-tried.

[2021-11-09 05:52] kibanamachine opened #117971 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/security_and_spaces/tests/common/cases/patch_cases·ts - cases security and spaces enabled: basic Common patch_cases alerts esArchiver should not update the status of duplicate alert ids in separate indices"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2915#edce4ba9-a620-47b1-a058-affa39534d2b)

[2021-11-09 05:53] flash1293 opened #117972 "Test issue 2 please ignore as well"
**Describe the feature:**

**Describe a specific use case for the feature:**

[2021-11-09 05:53] elasticmachine commented on #117972
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-09 05:55] #117972 closed

[2021-11-09 07:14] ogupte opened #117975 "[APM] Fleet migration should support pre-release APM package versions"
In conjunction with https://github.com/elastic/package-spec/issues/225, the Fleet migration in APM UI > Settings > Schema should install the pre-release version of the APM package when the kibana version is a pre-release version, normally defined here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/lib/fleet/get_apm_package_policy_definition.ts#L42

[2021-11-09 07:14] elasticmachine commented on #117975
Pinging @elastic/apm-ui (Team:apm)

[2021-11-09 07:39] ruflin commented on #116985
Above @nchaulet mentions 7.15 to 7.16. Does it also work 7.14 to 7.16 which @joshdover posted?

[2021-11-09 08:24] kibanamachine commented on #117808
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2922#89443403-7a25-4ab5-a301-88ac004e5482)

[2021-11-09 08:42] kibanamachine opened #117977 "Failing test: Jest Tests.x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview/backup_step - Overview - Backup Step On Cloud initial loading state is rendered"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2922#61110824-36b1-471c-b854-060381dab20a)

[2021-11-09 08:58] markov00 commented on #100301
@flash1293 we can implement that in chart, we already did it for date_histogram.
The complexity of how ES build and rounds buckets is not an easy task to port into our repo, but we can try.
I will love to know if/why we can't just supply `min_doc_count:0` for such cases, it was suggested here: https://github.com/elastic/kibana/issues/8411 and, except for a "possible" but not fully confirmed huge m

[2021-11-09 09:03] katrin-freihofner commented on #80841
Related to: https://github.com/elastic/kibana/issues/117821

[2021-11-09 09:13] jloleysens commented on #115881
@vadimkibana , yeah I think that would be a feasible option too. Might just make the tests need to know even more about implementation details though.

[2021-11-09 09:18] elasticmachine commented on #117541
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-09 09:26] flash1293 commented on #16124
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-11-09 09:26] #16124 closed

[2021-11-09 09:30] fkanout commented on #117686
@vinaychandrasekhar As you probably know, we have a filter in the table also based on the **alter status** (Active, Recovered). In the screenshot (1 then 2)

![Alerts-Observability-Elastic](https://user-images.githubusercontent.com/6838659/140897037-a9be4018-b471-4fee-96bb-fb32816ff2a6.png)

However, when a filter is selected, e.g., `Active,` that will update the search bar with the codependent qu

[2021-11-09 09:38] Evesy commented on #117269
@jguay Thanks, you're right there is no `_tier` set in the index settings. We've just upgraded to 7.x and currently all our data nodes are just data nodes, we do hot/warm using index routing allocation on custom node attributes.

I see there's already a fix in for Elasticsearch in 7.16, whether a Kibana change is required too I'm unsure.

Do you want to close this off and I can reopen if it's stil

[2021-11-09 09:50] pgayvallet commented on #117282
I feel like this would be better, and less error prone, to have it done at core's level than requiring all usages of the toast API to add an additional check before adding any toast. My thinking it that if `notifications` was provided as a plugin, we would probably have done this circuit-breaking at this level, and not asking consumers to perform the check instead. Here, we're just limited because

[2021-11-09 09:51] rudolf opened #117980 "[7.16] Remove usage of `ignore_throttled` unless targeting frozen indices to avoid deprecation warning"
`ignore_throttled` and frozen indices have been deprecated in 7.16 https://github.com/elastic/elasticsearch/pull/77864

As a result, sending `ignore_throttled=true` or `ignore_throttled=false` both generates deprecation warnings.

To avoid noisy deprecation warnings over which the user has no control, Kibana should only include this parameter if searching over frozen indices (e.g.  `ignore_throttl

[2021-11-09 09:52] elasticmachine commented on #117980
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-09 09:56] deepikakeshav-qasource opened #117983 "[Security Solution] Rule query is overlapping timeline banner when edit the rule and scroll the page."
**Describe the bug**
Rule query is overlapping timeline banner when edit the rule and scroll the page.

**Build Details:**
Version:[7.16.0 BC3 ](https://github.com/elastic/security-team/issues/1873)
Build: 45816
COMMIT: acaa761f4ce46680fd7cfbeba03a652c72dc786b

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running.
2. Rule should be created.

**Steps to Reproduce**
1. Navigate to

[2021-11-09 09:56] elasticmachine commented on #117983
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-09 10:03] #111961 closed

[2021-11-09 10:06] flash1293 commented on #100301
@markov00 This doesn't help because of the way we build the table based on the data. An empty bucket in the histogram looks like this:
[code]
The empty "buckets" is where the date histogram buckets would go, but Elasticsearch isn't sending them to us (because the histogram bucket is empty) so we can't turn it into rows of the table.

We could change the nesting and do the date histogram first, the

[2021-11-09 10:08] weltenwort commented on #117401
Thanks for reporting this. I suspect it's a consequence of the migration to the `fields` parameter. We don't specify `include_unmapped: true` in the request, which means the fields with `enabled: false` are ignored.

[2021-11-09 10:20] juliaElastic commented on #109870
Closing this as changes are done.
@mostlyjason let me know if any changes in data format is needed.

[2021-11-09 10:20] #109870 closed

[2021-11-09 10:21] weltenwort commented on #113754
After an initial investigation this change would have a few consequences for apps that run queries containing this field in their filters or aggregations:

1. dashboards, alerts and ml jobs created before this change would not pick up new data
2. dashboards, alerts and ml jobs created after this change would not pick up old data
3. specialized queries in apps would have to either
    1. merge two

[2021-11-09 10:30] MadameSheema commented on #117983
@deepikakeshav-qasource can you please check in which browsers is this issue happening? Thanks :)

[2021-11-09 10:39] #109011 closed

[2021-11-09 10:53] sqren commented on #117980
Since it'll  no longer be possible to search frozen indices without seeing a deprecation warning, is the recommendation going forward for users to unfreeze frozen indices and thus not relying on `ignore_throttled`?

[2021-11-09 10:53] sqren opened #117991 "[APM] Remove usage of `ignore_throttled` unless targeting frozen indices to avoid deprecation warning"
Related to https://github.com/elastic/kibana/issues/117980

 - [x] https://github.com/elastic/kibana/blob/7.16/x-pack/plugins/apm/server/lib/helpers/create_es_client/create_apm_event_client/index.ts#L103
 - [x] https://github.com/elastic/kibana/blob/7.16/x-pack/plugins/apm/server/lib/search_strategies/queries/get_request_base.ts#L16

### Example

Replace this
[code]

with:

[code]

[2021-11-09 10:53] elasticmachine commented on #117991
Pinging @elastic/apm-ui (Team:apm)

[2021-11-09 10:53] aarju opened #117992 "[Security Solution] Within Alerts view the signal.rule.name field shows results twice in the pop-up"
**Describe the bug:**

When viewing the alerts table within the Security solution the `signal.rule.name` field pop-up has the rule name at both the top and bottom of the pop-up
<img width="458" alt="Screen Shot 2021-11-09 at 11 31 19" src="https://user-images.githubusercontent.com/14032876/140910683-b46fe465-39dd-427c-9eea-489008c1f38f.png">

This causes the mouse-over buttons to not work correctl

[2021-11-09 10:53] elasticmachine commented on #117992
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-09 10:58] deepikakeshav-qasource commented on #117983
Hi @MadameSheema,

We have checked this issue on following browsers :

**Windows:**
Firefox: 94.0.1
Chrome: 95.0.4638.69

**Mac:**
Safari: 14.0

Please let us know if anything else is required from our end

Thanks!!

[2021-11-09 11:03] MadameSheema commented on #117992
@deepikakeshav-qasource @karanbirsingh-qasource can you please check if this happens in fresh installations, happens after upgrading from previous ones or both

[2021-11-09 11:03] MadameSheema commented on #117992
@MikePaquette @paulewing can you please help to prioritize this? Thanks!

[2021-11-09 11:07] #116644 closed

[2021-11-09 11:11] #113786 closed

[2021-11-09 11:28] deepikakeshav-qasource commented on #117992
Hi Team,

We have validated this issue on **7.16.0 BC3** build and upgraded the build from **7.15 to 7.16.0**. Issue is occurring after certain series of steps.

**Steps:**
1. Remove the Rules fields from alert table.
2. Click on fields icon select the signal.rule.name [note: do not click on reset fields].
3. Observe the signal.rule.name column filters under alert table.

**Screenshots:**
**7.16.0

[2021-11-09 11:30] muskangulati-qasource opened #118002 "[Security Solution] Memory Threat Alerts are successfully triggered and sent to Kibana, but they don't show under the Alerts tab"
**Description**
Memory Threat Alerts are successfully triggered and sent to Kibana, but they don't show under the Alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Execute the mac alert for Memory Threat
2. Go to Alerts Tab and see no alert is triggered for the same.

**Impacted Test case:**
N/A

**Ac

[2021-11-09 11:30] elasticmachine commented on #118002
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-09 11:30] elasticmachine commented on #118002
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-09 11:35] muskangulati-qasource commented on #118002
@manishgupta-qasource please review!

[2021-11-09 11:44] manishgupta-qasource commented on #118002
Reviewed & assigned to @kevinlog

[2021-11-09 11:52] lucabelluccini commented on #106345
As Adrien said there are edge cases where it would be great to have them to troubleshoot issues.

Regarding https://github.com/elastic/kibana/issues/106345#issuecomment-924743962, I have to admit the set of metrics removed in the list was a quite a good indicator for oversharding or to spot _strange_ analyzers affecting JVM memory usage issues.

[2021-11-09 11:59] ersin-erdal commented on #117696
This issue makes #114983 redundant.

[2021-11-09 12:19] paulb-elastic commented on #116368
Thanks @dominiqueclarke, moving to 8.0

[2021-11-09 12:20] markov00 commented on #100301
@flash1293 I'm pretty sure you can build your query and use `extended_bounds` to include every bucket in the specified bounds, with or without data/docs.

It works on both the histogram and date_histogram aggs and returns all the NxM buckets requested.

[code]

or reversing the aggs

[code]

The main drawback is that you need to specify the `extended_bounds` also for the histogram. This value is a

[2021-11-09 12:23] flash1293 commented on #100301
Automated extended bounds is a great idea, I didn't think about that. I'm going to check how it could be implemented.

[2021-11-09 12:30] shahzad31 commented on #117543
POST FF Testing Looks good

![image](https://user-images.githubusercontent.com/3505601/140924519-e635c435-c3d0-4a39-97e4-26956282c7fd.png)

[2021-11-09 12:33] samratbhadra-qasource opened #118008 "[Security Solution] The Host Isolation Exception header is not consistent and gets hidden while changing the Rows per page."
**Describe the bug:**
After adding Endpoint Security Integration the Agents does not show on Endpoints tab.

**Build Details:**

VERSION: 7.16.0-BC3
BUILD: 45816
COMMIT:  acaa761f4ce46680fd7cfbeba03a652c72dc786b
ARTIFACT: https://staging.elastic.co/7.16.0-8dc8b6a1/summary-7.16.0.html

**Preconditions:**
Elastic 7.16.0-BC3 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the

[2021-11-09 12:33] elasticmachine commented on #118008
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-09 12:33] elasticmachine commented on #118008
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-09 12:33] samratbhadra-qasource commented on #118008
@manishgupta-qasource Please review.

[2021-11-09 12:35] manishgupta-qasource commented on #118008
Reviewed & assigned to @kevinlog

[2021-11-09 12:38] vitaliidm commented on #117029
@yiyangliu9286, thanks for sharing the observations.

So, for rules table I will wait your further input, how we can proceed there.

Regarding exceptions table - so, the idea is to replace `Select all` with another button? That would hint us how many rules are hidden?

So, the idea just to change button label if my understanding is correct.
I've updated naming just for test purpose - and it looks

[2021-11-09 12:52] kevinlog commented on #118008
@academo - can you take a look at this one?  I marked it for `8.0`, so `7.16` isn't necessary, but we should fix this within the next release.

[2021-11-09 12:53] #116683 closed

[2021-11-09 12:53] #117096 closed

[2021-11-09 12:54] walterra opened #118009 "[APM] Latency correlations meta issue"
Follow up to #109220.

### Must have

### Should have

### Could have

- [ ] Consolidate correlation / score / impact for both Correlations tab, ideally showing [0-1] and an indicator of severity high | med | low | v low
- [ ] Display at least 1 correlated term - We currently hide all results where the correlation is considered to be very low, however this means users who wait for analysis to comp

[2021-11-09 12:54] paulb-elastic commented on #117689
Pushing into consideration for 8.0

[2021-11-09 12:54] elasticmachine commented on #118009
Pinging @elastic/ml-ui (:ml)

[2021-11-09 12:56] rudolf commented on #117980
@sqren The deprecation message from ES recommends switch to cold or frozen tiers:

[2021-11-09 13:00] #17873 closed

[2021-11-09 13:37] elasticmachine commented on #117971
Pinging @elastic/kibana-security (Team:Security)

[2021-11-09 13:38] #116898 closed

[2021-11-09 13:38] elasticmachine commented on #117977
Pinging @elastic/kibana-core (Team:Core)

[2021-11-09 13:42] elasticmachine commented on #117971
Pinging @elastic/siem (Team:SIEM)

[2021-11-09 13:42] elasticmachine commented on #117971
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-09 13:42] elasticmachine commented on #117971
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-09 13:43] caitlinbetz commented on #116397
Checked Event Filters and Trusted Apps. We should keep it consistent. Trusted Apps is currently empty, will make another issue to fix that. Event filter text in the name field is "Event filter name".  For this one we can do "Host isolation exception name".

@kevinlog @academo @bfishel

[2021-11-09 13:50] lucasfcosta commented on #107994
Given the new discussions about privileges and the checks we actually added, here are the latest expected messages:

[code]

[2021-11-09 13:54] Dosant commented on #117656
@elastic/kibana-app-services

[2021-11-09 13:55] caitlinbetz commented on #116397
Also, can we adjust the text on the flyout - ? @academo

**Main Header:**
Current: Add Host isolation exception
New: Add host isolation exception

**Subheader:**
Current: Add an IP to the Host isolation exceptions. Only accepts IPv4 with optional CIDR
New: Allows isolated hosts to connect to these IP addresses. Only accepts IPv4 with optional CIDR.

**Description suggested text:**
Current: Describ

[2021-11-09 13:57] Dosant commented on #92984
didn't happen for a while

[2021-11-09 13:57] #92984 closed

[2021-11-09 13:59] #114288 closed

[2021-11-09 13:59] muskangulati-qasource commented on #118002
Hi @kevinlog,

Please find attached the Endpoint logs for the issues discussed offline:

[endpoint.log](https://github.com/elastic/kibana/files/7505212/endpoint.log)

Please let us know in case anything else is required from our end!

Thanks!

[2021-11-09 14:02] academo commented on #117255
I was checking this test in particular `x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts` using @FrankHassanabad script and chrome memory snapshots.

Doing some kind of bisect by commenting and enabling parts of the tests here and there I found that the memory leak only happens when this imported method is used:

[code]

I have to comment or remove the co

[2021-11-09 14:03] #116226 closed

[2021-11-09 14:03] #116393 closed

[2021-11-09 14:06] kevinlog commented on #118002
thanks @muskangulati-qasource

I think this bug may be caused by this: https://github.com/elastic/endpoint-package/issues/211

In the Endpoint logs, I'm seeing this:

[code]

This is consistent with the error called out in https://github.com/elastic/endpoint-package/issues/211

FYI @ferullo

[2021-11-09 14:08] ferullo commented on #118002
I agree @kevinlog , it looks like the known bug.

[2021-11-09 14:16] #84992 closed

[2021-11-09 14:32] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2942#d34054b7-baa9-4545-b966-25ea822561af)

[2021-11-09 14:36] alexwizp commented on #117815
@elastic/kibana-presentation could you please have a look that case? I've checked `TSVB` and looks like we navigate user to dashboard app with a valid url.

Probably we have an issues with merging app state on the dashboard side. It happens only once on first opening of dashboard

[2021-11-09 15:01] academo commented on #116397
related PR https://github.com/elastic/kibana/pull/118021

[2021-11-09 15:06] kibanamachine opened #118023 "Failing test: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/correlations/latency·spec·ts - APM API tests trial 8.0.0 correlations latency with data and opbeans-node args runs queries and returns results"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2943#3277da3a-c805-4681-8d78-07b138d54ad0)

[2021-11-09 15:13] ymao1 opened #118024 "[Alerting] Gracefully handle errors when retrieving task document on rule disable"
When rules are disabled, active alerts for that rule [are auto-resolved](https://github.com/elastic/kibana/pull/111671) to avoid zombie active alerts. I noticed while writing a functional test for another issue that if the task manager doc for the rule is missing, the disable call throws a 404

[code]

and does not disable the rule. We may want to handle this case better, as if the task document i

[2021-11-09 15:13] elasticmachine commented on #118024
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-09 15:23] vinaychandrasekhar commented on #117686
@fkanout thanks for the question.
@hbharding could you please let us know if there is precedence for the filtering via the table "filter in" option (or by simply entering the filter in the search bar manually) plus offering the buttons to filter?

[2021-11-09 15:32] jsoriano commented on #116914
Change merged in the spec: https://github.com/elastic/package-spec/pull/241

[2021-11-09 15:36] LeeDr opened #118026 "Edit index settings UI fails silently on errors"
**Kibana version:** 7.16.0 BC3

**Elasticsearch version:** 7.16.0 BC3

**Server OS version:** Cloud GCP

**Browser version:** Edge 95

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** I tried to make an index settings change which was reported as critical by the Upgrade Assistant.  My syntax is apparently wrong and

[2021-11-09 15:36] elasticmachine commented on #118026
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-09 15:38] majagrubic commented on #81576
This test ran 150 times in a flaky spec runner and no failures: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/184#9920db7d-57ff-4a33-ae66-343179169998

I am very confused as to the root cause of this.

[2021-11-09 15:38] VijayDoshi commented on #114953
I suggest we remove this dialog/notification _entirely_.

We do not need to let users know about this other than the product just works better, I have personally dismissed the dialog only to see it later as well. @matschaffer

[2021-11-09 15:39] MichaelMarcialis commented on #117909
Haha, no worries. Want to add it to our next working group agenda to discuss the issue and prioritize?

[2021-11-09 15:39] pgayvallet commented on #107678
FWIW, this is what we were doing before https://github.com/elastic/kibana/pull/105213, so implementing this should in theory just be a revert of the linked PR.

[2021-11-09 15:43] LeeDr commented on #118026
NOTE: the actual correct syntax is;
`"index.routing.allocation.include._tier_preference": "data_warm,data_hot"`
not
`"index.routing.allocation.include._tier_preference": "data_warm","data_hot"`
or
`"index.routing.allocation.include._tier_preference": ["data_warm","data_hot"]`

[2021-11-09 15:47] brianseeders commented on #100570
Skipped

main: 55b494410996176d0d0d49d070e36da2b65ecc74

[2021-11-09 15:50] #116943 closed

[2021-11-09 15:53] #101454 closed

[2021-11-09 15:54] #108061 closed

[2021-11-09 15:58] #114505 closed

[2021-11-09 16:01] andrewvc opened #118033 "[Fleet][Synthetics] Add global settings for agent"
Synthetics/Heartbeat has a number of global settings that cannot currently be configured by fleet, such as [geo](https://www.elastic.co/guide/en/beats/heartbeat/current/configuration-observer-options.html) and [scheduler](https://www.elastic.co/guide/en/beats/heartbeat/master/monitors-scheduler.html) settings. These are not configured on the input level because the apply to the beat as a whole.

T

[2021-11-09 16:01] elasticmachine commented on #118033
Pinging @elastic/fleet (Team:Fleet)

[2021-11-09 16:13] alexfrancoeur commented on #114953
+1, I also don't believe this dialog is necessary and have run into some problems with it getting stuck and popping up more than once in the same deployment. @sixstringcode what are your thoughts on removing? Have you heard similar feedback?

[2021-11-09 16:20] elasticmachine commented on #118023
Pinging @elastic/apm-ui (Team:apm)

[2021-11-09 16:21] azasypkin commented on #63276
Great, thanks @liza-mae!

[2021-11-09 16:24] #116423 closed

[2021-11-09 16:25] ghudgins commented on #9022
With 7.14 timelion now supports runtime fields (the successor to scripted fields). Resolving this 🎉

[2021-11-09 16:25] #9022 closed

[2021-11-09 16:28] ghudgins commented on #17544
We are planning on implementing the core of this in https://github.com/elastic/kibana/issues/86190 and general support for Elasticsearch DSL in https://github.com/elastic/kibana/issues/59439

[2021-11-09 16:31] ghudgins commented on #9507
This is possible in Lens Data Table as of 7.14 (ish) 🎉

[2021-11-09 16:31] #9507 closed

[2021-11-09 16:31] academo commented on #118008
Related PR https://github.com/elastic/kibana/pull/118041

[2021-11-09 16:32] ghudgins commented on #69349
Related visualization issue: https://github.com/elastic/kibana/issues/2207

[2021-11-09 16:43] ghudgins commented on #3998
might be an interesting brainstorming on the generalized schema (min / max dates & numbers, duration / metric) and meaningful data modeling requirements for data views.

Events in synthetics is another good use case to track.

[2021-11-09 16:43] #116414 closed

[2021-11-09 16:44] ghudgins commented on #16826
Duplicates #9842

[2021-11-09 16:44] #16826 closed

[2021-11-09 16:49] FrankHassanabad commented on #117255
It's hard to see where but if you're tracing through you eventually find the same curious case where if your test through an import either directly or transitive imports a function through the pattern:

[code]

It will do two things:
* Take at least 2x longer to load compared to other tests that do not import from this pattern
* Take 2x-10x more memory and also leaks memory.

Here is a [small test

[2021-11-09 16:55] dej611 opened #118042 "[Lens] Number input invalid state by default on Safari in many panels"
**Describe the bug:**

This is an issue raised on the EUI side: https://github.com/elastic/eui/issues/5327
Safari respects the spec on this and we could fix this on the consumer side providing a `step="any"` to the `EuiFieldNumber` components without data bounds.

A non-complete lists of such inputs are:
* color stop UI inputs
* static value input

Some examples of it:
<img width="347" alt="Screen

[2021-11-09 16:55] elasticmachine commented on #118042
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-09 16:58] dhurley14 commented on #109191
It's not clear to me whether the alert that @deepikakeshav-qasource clicked on in the video was generated in 7.14 or 7.16. When I tested out the change I started with:
1. I created a rule + alerts in 7.14
2. Turned off the rule before upgrading so it would not generate more alerts in 7.16, guaranteeing that any alerts that show up after upgrade were generated in 7.14.
3. Upgraded to 7.16 with all

[2021-11-09 17:08] dej611 opened #118048 "[Lens] Static value: extends support for floating point number edge cases"
**Describe the bug:**

Integer numbers written as "floating numbers" without decimals are still valid numbers:

[code]

Currently that is not supported in Formula, leading to some gentle error message:

<img width="357" alt="Screenshot 2021-11-09 at 17 56 59" src="https://user-images.githubusercontent.com/924948/140970990-e06f1617-cf12-42fd-82d2-b6366fda0ff8.png">
<img width="349" alt="Screenshot

[2021-11-09 17:08] elasticmachine commented on #118048
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-09 17:13] FrankHassanabad commented on #110802
Took a look, looks great and that everything is behaving as expected 👍

[2021-11-09 17:13] sophiec20 commented on #117693
Within the UI, Security ML jobs can be created from either a) using the ML app or b) using the security app.

If created using the ML app, then the first step in the wizard is to select a valid Kibana index pattern (now renamed to data view). The `defaultIndexPattern` in `manifest.json` is ignored. Therefore jobs created in the ML app will always relate to a valid data view (unless it has subseque

[2021-11-09 17:13] cjcenizal commented on #117943
Thanks for reporting this @garyjblackwell! We're aware of this problem. You can follow https://github.com/elastic/kibana/issues/67270 to track our progress.

[2021-11-09 17:13] #117943 closed

[2021-11-09 17:13] MadameSheema commented on #110802
Thanks @FrankHassanabad :)

[2021-11-09 17:13] #110802 closed

[2021-11-09 17:14] elasticmachine commented on #117776
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-09 17:14] elasticmachine commented on #116249
Pinging @elastic/fleet (Team:Fleet)

[2021-11-09 17:16] dej611 commented on #118048
Noticed the same problem can be reproduced also with a double `0`:
<img width="1119" alt="Screenshot 2021-11-09 at 18 16 06" src="https://user-images.githubusercontent.com/924948/140972548-1914f8ea-44fb-406e-a062-7ed922d875dc.png">

[2021-11-09 17:26] jportner commented on #44575
Just to close the loop on this, the tests were failing for a different reason, all good now, see https://github.com/elastic/kibana/pull/117953#issue-1047974197 for more info.

[2021-11-09 17:38] mnewswanger commented on #109525
Hey all, is there any estimated window of when we can support this in Kibana? We've recently rolled out LetsEncrypt based certificates for our cloud infrastructure, which puts this as the only blocker to getting our Elastic Cloud integrated SSO working.

[2021-11-09 17:40] jportner commented on #109525
Thanks for the ping, we'll move this into our list of items to discuss during our next grooming meeting

[2021-11-09 17:41] tsullivan commented on #117960
@jloleysens and I chatted with @ThomThomson and we now understand the impact of this bug. It is very low impact, as it only affects the sample data dashboards.

[2021-11-09 17:41] kibanamachine commented on #115366
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2949#afc55873-69bf-413b-912e-6744bfa4405f)

[2021-11-09 17:43] #114013 closed

[2021-11-09 17:44] legrego commented on #109525
We'll want to discuss with the @elastic/kibana-core team to understand how this interacts with `server.publicBaseUrl` setting. Does Kibana even support being accessed from different public URLs, or from a URL that doesn't match `server.publicBaseUrl`?

[2021-11-09 18:00] jportner commented on #109525
Good point!

It looks like this config setting was added to support Alerting: #85075
Josh mentioned this very same concern in a comment for the follow-on task to make a warning toast message: https://github.com/elastic/kibana/issues/45815#issuecomment-744600040

Based on that issue's linked PR (#85344), the warning toast is only displayed if 1. the client is accessing Kibana with a non-localhost U

[2021-11-09 18:01] #83824 closed

[2021-11-09 18:01] #117113 closed

[2021-11-09 18:08] vadimkibana commented on #69720
To summarize, seems when short URLs were migrated to the new platform the `url` dropped the `"ignore_above": 2048` annotation, which make ES index that field. Subsequently, in 7.8 it was fixed (almost 2 years ago from today).

I'm not sure why it had `"ignore_above": 2048` annotation in the first place, seems `"index": false` would be more appropriate.

But in any case, we are not using the `url`

[2021-11-09 18:08] #69720 closed

[2021-11-09 18:10] justinkambic commented on #117067
Picking back up because of prioritization and no one else has done it yet.

[2021-11-09 18:16] dej611 opened #118066 "[Lens] Stacked problem with negative values"
**Describe the bug:**

Depending on the order of the dimensions, stacking charts can have weird results:

<img width="1090" alt="Screenshot 2021-11-09 at 19 08 36" src="https://user-images.githubusercontent.com/924948/140980617-c776ba32-8578-467e-bc53-f705f21873f1.png">
<img width="1092" alt="Screenshot 2021-11-09 at 19 08 45" src="https://user-images.githubusercontent.com/924948/140980621-8446edd

[2021-11-09 18:16] elasticmachine commented on #118066
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-09 18:16] rylnd commented on #83645
Unassigning as the AWP team ended up working on other bugs during their onboarding.

[2021-11-09 18:16] rylnd commented on #82668
Unassigning as the AWP team ended up working on other bugs during their onboarding.

[2021-11-09 18:19] jlind23 commented on #115032
@joshdover @jen-huang could you please take a look at this as it could be a blocker soon regarding package signature.

[2021-11-09 18:32] tsullivan commented on #117814
@jloleysens

An alternative idea: what if we define a new CI runner for testing PDF generation, and configure it to only run on the architecture that is supported by the dependency? The downside of this idea is that we would lose cross-architecture coverage. But as long as we have cross-architecture coverage of PNG generation, we should be just fine.

[2021-11-09 18:37] hbharding commented on #117686
Thanks for catching this @fkanout.

I spoke with @vinaychandrasekhar and I think we should remove the "filter in" action from the Alert Status column since this can cause a conflicting query. For now, let's keep the current behavior the same where the `EuiButtonGroup` does not apply filters to the query bar above.

---

It's an interesting idea that the `EuiButtonGroup` options could interact with

[2021-11-09 18:40] sixstringcode commented on #114953
@alexfrancoeur will be removed ASAP, part of fix-it week.

[2021-11-09 18:49] danielkhan commented on #117730
This also causes a problem if a user wants to install Fleet and Agent on the _same host_.
If they follow the UI, including the force flag, the agent install will silently kill the fleet server leaving the user with a broken install.

Given the impact, I'm proposing to make this a blocker.

[2021-11-09 18:53] VimCommando commented on #106345
The loss of the overall `segments.memory` is the one I'm most concerned with. The sum of this has been a very strong indicator of an under-sized node when the percent of heap used for segment memory gets too high. This has been less of an issue since 7.7, but as shard counts continue to grow, having this kind of metric is very helpful. Even if it is only tracked at the shard level.

[2021-11-09 18:56] hbharding opened #118078 "[RAC] EuiButtonGroup should interact with the searchbar query on Alerts page"
@fkanout raised this up while working on a related issue. See comment: https://github.com/elastic/kibana/issues/117686#issuecomment-963969330

---

![image](https://user-images.githubusercontent.com/847805/140985282-e287c916-62b1-4a1a-8e8d-f675d710c692.png)

When users select "Active" or "Recovered", they are affectively adding a query `kibana.alert.status: "active"`, but this information is not s

[2021-11-09 19:00] #115564 closed

[2021-11-09 19:01] hbharding commented on #118078
Assigning myself for now. Will update AC once desired behavior is known and handoff to someone else for implementation.

[2021-11-09 19:08] jpountz commented on #106345
The changes in 7.7 are actually the reason why we are removing segments memory usage. Before 7.7, there used to be 2-5 data-structures that used to account for most of the memory usage of segments, which made memory accounting easy to implement and quite accurate.

When we reduced memory usage in 7.7, we didn't change the way that memory usage is estimated. However, the objects that we are account

[2021-11-09 19:17] ravikesarwani commented on #106345
**To summarize the stack monitoring behavior:**
- We will continue to show fixed bitsets & version map.
- We will make code changes to rename the heading to "Index memory - Lucene ()".

[2021-11-09 19:22] hbharding commented on #114983
FYI this issue https://github.com/elastic/kibana/issues/117696 adds a new "View rule details" option in the actions menu. I imagine the Rule's page also has permissions we need to consider. This might impact whether we show a disabled icon. Instead, we might want to show disabled options in the action menu and apply tooltips there.

[2021-11-09 19:34] justinkambic commented on #116850
@dominiqueclarke given that this is caused on the agent side, can we close this?

[2021-11-09 19:36] vitaliidm commented on #117030
@banderror

As follow up to our conversation earlier, there is an option for table automatically resize columns depends on cell content: https://elastic.github.io/eui/#/tabular-content/tables#table-layout, `tableLayout=auto`.

But according to documentation, it prevents truncate of text to work properly

Screenshot, how it has affected Exceptions table, which use truncateText option.
<img width="1

[2021-11-09 19:43] dominiqueclarke opened #118095 "[Exploratory View] Remove reset button"
In Exploratory View, to the right of the Report Type dropdown is the Reset button. This button removes all current series.

However, this button doesn't currently set you back to a completely clean view, but leaves some elements, like the selected report type and rendered chart, in place.

In a future release, Design would like to onboarding experience for Exploratory View, when accessing the view

[2021-11-09 19:43] elasticmachine commented on #118095
Pinging @elastic/uptime (Team:uptime)

[2021-11-09 19:47] hbharding commented on #117696
Thanks for raising this @ersin-erdal - we might need to rethink what we did in that related issue you linked. Since viewing Rules requires a different permission, there could be a scenario where:
- user can read Rules
- user can not write to Cases

<details><summary>Example configuration</summary>

![image](https://user-images.githubusercontent.com/847805/140993453-c82b0728-69d8-449f-b725-1d357fb4

[2021-11-09 19:48] lukasolson commented on #112621
@bhavyarm We actually plan on removing the warning notifications from search requests altogether: https://github.com/elastic/kibana/pull/117252

[2021-11-09 19:50] lukasolson commented on #116709
We are removing the warning in https://github.com/elastic/kibana/pull/117252. We will circle back to figure out more helpful ways to inform the user about deprecations.

[2021-11-09 20:10] watson commented on #88678
I took a stab at removing bluebird in `main`: #118097

[2021-11-09 20:11] jen-huang commented on #117730
@nimarezainia From the agent side of things, is it acceptable to remove this flag for 7.16?

[2021-11-09 20:12] watson commented on #78792
FYI: I'm in the process of removing bluebird #118097 (not sure if that's what's causing these issues, but just in case, I thought I'd let you know).

[2021-11-09 20:19] tsullivan opened #118098 "[Reporting] Optimize the "layout" selectors for reading page state"
Related to: https://github.com/elastic/kibana/issues/117425

**Kibana version:** 7.16+

## Problem
We can see obvious system drag when testing reporting with a dashboard that is too large to export for the amount of server RAM. One reason could be that the CSS selectors which we use to determine the page state are "attribute" selectors.

Source: https://github.com/elastic/kibana/blob/98c5706/x-pac

[2021-11-09 20:22] elasticmachine commented on #118098
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-11-09 20:47] kibanamachine commented on #116825
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2957#5ce7a799-fa39-48e5-a584-904bccfe910a)

[2021-11-09 20:58] kibanamachine commented on #117173
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2960#fcd7c51b-1cd9-494c-b344-51c3daf41f16)

[2021-11-09 21:07] Zacqary commented on #117698
Currently `open/acknowledged/closed` are stored in the URL state. I assume they still will be when we change these tabs to be `active/recovered/all`, so I'm not going to include this setting in the localStorage.

The alert table settings are the only things we'll need to put in localStorage as they're not stored in the URL.

[2021-11-09 21:25] legrego commented on #109525
++ Agreed. Receiving an email notification with a link back to Kibana should allow you to login the way you expect to, whatever that happens to mean. If the notification is only capable of using `server.publicBaseUrl` to generate the URL, then this will inherently exclude some authentication mechanisms if we move forward with this as-is. We may decide that this is an acceptable trade-off in the sh

[2021-11-09 21:41] trentm commented on #102704
elastic-apm-node@3.24.0 is now published with the contextPropagationOnly config var.

[2021-11-09 21:42] bmorelli25 opened #118110 "[APM] Latency distribution help text"
![image (5)](https://user-images.githubusercontent.com/5618806/141009228-c4f66b5a-b38a-4c41-a522-1c6e644d2cf5.png)

The latency distribution chart in the APM app has the following help text:

A few people have mentioned in Slack that this text is confusing and perhaps too technical. I'm opening this issue to discuss potential alternatives.

cc @lcawl

[2021-11-09 21:42] elasticmachine commented on #118110
Pinging @elastic/apm-ui (Team:apm)

[2021-11-09 21:48] kibanamachine commented on #116532
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2962#57ffb562-6472-45ae-a2e4-8c64d1c9b3f1)

[2021-11-09 21:59] kibanamachine commented on #117173
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2963#09eb0f76-8648-4ca2-bb0a-283e7a500baf)

[2021-11-09 22:03] mostlyjason opened #118112 "[Fleet] Improve instructions for Fleet Server setup"
The instructions in Kibana for setting up a Fleet Server do not clearly tell users that they should install Fleet Server on a centralized host. The instructions for Fleet Server and Elastic Agent look deceptively similar. One user installed Fleet Server on his laptop, then accidentally installed an agent with a separate agent policy on the same laptop, overwriting the Fleet Server. This could affe

[2021-11-09 22:03] elasticmachine commented on #118112
Pinging @elastic/fleet (Team:Fleet)

[2021-11-09 22:03] kibanamachine commented on #117173
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2965#af7c2df9-81d9-4d16-b577-b39bfbdbaf0a)

[2021-11-09 22:07] mostlyjason commented on #118112
@danielkhan I wrote up new copy as a near term solution for the scenario you ran into with Fleet Server on your laptop. Would this address your confusion? I realize a better UI workflow would provide an even better solution, but I'm hoping to identify small changes we can do in the near term.

[2021-11-09 22:24] kibanamachine commented on #117173
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2968#4117e77e-8765-4cd3-b64f-b4e3d795fe42)

[2021-11-09 22:40] simianhacker commented on #24649
@Basilakis Not yet... there are some other efforts around embedding Lens that will ultimately be a better solution.

[2021-11-09 22:49] pmuellr commented on #117199
I guess one thing we could do, is try to validate the index; I didn't get far enough to testing this, but by the time we query the field caps to get date fields, would we know at that point that the index wasn't writable?  Guess we should do more poking at it.

Since we have to do this task anyway, and we just wanted to see if there was a quick win with this one (there doesn't seem to be), I think

[2021-11-09 23:06] tylersmalley commented on #114968
We don't override the default. The only override is [here](https://github.com/elastic/kibana/blob/main/src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker#L411), where we set the cGroup overrides.

[2021-11-09 23:16] elasticmachine commented on #117173
Pinging @elastic/kibana-core (Team:Core)

[2021-11-09 23:18] danielkhan commented on #118112
I'm trying to understand the user flow that would result from this.
Would this enable me to install the Fleet and Agent on the same host?
If it doesn't we have to let the user know before they even take the Fleet route so that they can resort back to other options we offer.

I also think that we are asking much from users when it comes to understanding the internals of Fleet.

The last copy you pr

[2021-11-09 23:29] lukasolson commented on #117616
I would imagine we'd want to send `ignore_throttled: false` only if the advanced setting for `search:includeFrozen` is `true`.

[2021-11-09 23:30] lukasolson commented on #46705
Thanks for resurfacing this @TinaHeiligers... Yes, ideally this setting would be in the `data` plugin rather than `elasticsearch`, but I'm not really sure what our options are at this point. @lukeelmers Is it possible for us to rename this at this point, or what would you suggest?

[2021-11-09 23:31] #116949 closed

[2021-11-10 00:00] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2966#0f43c7dc-4d64-4aab-928b-be60c7f8144e)

[2021-11-10 00:09] kibanamachine commented on #118023
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2972#9e4f145f-e4b6-453d-b3b9-013e610eeb18)

[2021-11-10 00:44] lukeelmers commented on #46705
We'd need to follow the new deprecation guidelines before we could remove the old config, meaning the setting would probably linger for a couple years. However, I believe we could still move it to the data plugin starting in 8.1 (too late for 8.0), and just register a deprecation rename for it in the meantime so that users aren't affected.

@kobelb Do we need to discuss deprecations before they ar

[2021-11-10 01:11] kibanamachine commented on #118023
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2976#72f828e4-48fa-4c5b-b0a0-69c576e89d3c)

[2021-11-10 01:12] kibanamachine commented on #115851
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2974#1cd21fc7-5a11-4ca7-826a-c22a34f04ed9)

[2021-11-10 01:12] #105243 closed

[2021-11-10 01:36] kibanamachine commented on #116064
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2975#0297b9af-716f-4978-b055-f99272e3b4a7)

[2021-11-10 02:25] mistic commented on #118023
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 9e36356
8.0: f3258c8

[2021-11-10 02:54] kibanamachine commented on #117971
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2981#49d8f9f5-2d70-4a96-8ee2-5fd81a355dde)

[2021-11-10 03:15] kibanamachine commented on #89397
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2980#b2332536-8e37-409f-a329-07e48ecb3255)

[2021-11-10 03:31] #115221 closed

[2021-11-10 03:47] kibanamachine commented on #98562
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2984#2ae908ea-5a15-4db9-b3e0-31e2c1c5bfe3)

[2021-11-10 04:50] tylersmalley opened #118131 "[APM] Search auto-complete doesn't work with CCS"
### Kibana version

7.15.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

All data is accessed over cross-cluster search as configured through Settings > Indices

![image](https://user-images.githubusercontent.com/40265/141051577-e10ecb8a-7edb-419b-b36e-005fba1821a9.png)

Using the search bar in the APM app

[2021-11-10 04:50] elasticmachine commented on #118131
Pinging @elastic/apm-ui (Team:apm)

[2021-11-10 04:53] #117928 closed

[2021-11-10 06:19] kibanamachine commented on #89397
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2990#fba6d916-3642-4f85-b34d-6040117f10b4)

[2021-11-10 06:26] kibanamachine commented on #112515
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2991#9b1d44fd-ea76-4a3d-a930-43cd59f4eb21)

[2021-11-10 07:16] deepikakeshav-qasource commented on #109191
Hi @dhurley14,

**I have generated the alerts on 7.14.0**

Thank you for sharing the steps. Please find the below observations:

**Steps:**
1. Created the rule and generated the alerts in 7.14.0.
![image](https://user-images.githubusercontent.com/61860752/141058339-1b3c560c-5f19-4ece-a2fa-f30b6c92e08a.png)

2. Copy the path of rule details page
3. Turned off the rule before upgrading so it would n

[2021-11-10 07:42] kibanamachine commented on #116061
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2997#30f3d7b5-324c-416d-9dd6-303e2e9c98ea)

[2021-11-10 07:52] azasypkin commented on #98562
It seems the test fails on 7.16 only (for now). We used flaky test runner only on `main`, let's see if flaky test runner can detect this issue on 7.16.

https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/193

[2021-11-10 08:04] muskangulati-qasource opened #118136 "[Security Solution] Log sent for Host Isolation is wrongly mentioned as Host Release"
**Description:**
Log sent for Host Isolation is wrongly mentioned as Host Release

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Endpoint tab under the Manage section under Security from the left side navigation on Kibana
2. Isolate the host
3. Go to activity logs
4. Observe that the log sent

[2021-11-10 08:04] elasticmachine commented on #118136
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-10 08:04] elasticmachine commented on #118136
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 08:05] muskangulati-qasource commented on #118136
@manishgupta-qasource please review!

[2021-11-10 08:09] manishgupta-qasource commented on #118136
Reviewed & assigned to @kevinlog

[2021-11-10 08:20] sqren commented on #118131
Can you try setting `apm_oss.indexPattern` in kibana,yml to your desired pattern, including the cross cluster:
[code]

This setting is [no longer needed](https://github.com/elastic/kibana/pull/111133) in 7.16 and up, and will be automatically set based on the specified indicies.

[2021-11-10 08:23] sqren commented on #118131
Another explanation might be the lack of `view_index_metadata` on the remote cluster. There's a Kibana issue for this: https://github.com/elastic/kibana/issues/115942

[2021-11-10 08:31] sqren commented on #118023
fyi: @walterra @qn895

[2021-11-10 08:32] sqren opened #118141 "[APM] Re-enable skipped test"
The test https://github.com/elastic/kibana/blob/main/x-pack/test/apm_api_integration/tests/correlations/latency.spec.ts was skipped in https://github.com/elastic/kibana/issues/118023 because it was failing intermittently.

We should figure out why it fails and re-enable it.

cc @walterra

[2021-11-10 08:32] elasticmachine commented on #118141
Pinging @elastic/apm-ui (Team:apm)

[2021-11-10 08:44] flash1293 commented on #118066
I agree, those cases are weird. Maybe we should show a warning if there are negative values in stacked series? Not sure whether we can do much better.

[2021-11-10 08:47] walterra commented on #118110
Closing as it's a duplicate of this one: https://github.com/elastic/kibana/issues/117659

[2021-11-10 08:47] #118110 closed

[2021-11-10 08:59] flash1293 opened #118143 "Do not fetch full dashboard SO when visiting listing page"
Currently the dashboard listing page is using the following URL to fetch dashboards for listing them: `/api/saved_objects/_find?default_search_operator=AND&has_reference=%5B%5D&page=1&per_page=1000&search_fields=title%5E3&search_fields=description&type=dashboard`

This returns all attributes of the saved objects which can sum up pretty quickly with complex dashboards using visualization types like

[2021-11-10 08:59] elasticmachine commented on #118143
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-10 09:01] flash1293 opened #118144 "Do not fetch full visualization SO when visiting listing page"
Similar to https://github.com/elastic/kibana/issues/118143

Currently the visualize library listing page is using the following URL to fetch visualizations for listing them: `/api/saved_objects/_find?default_search_operator=AND&has_reference=%5B%5D&page=1&per_page=1000&search_fields=title%5E3&search_fields=description&type=lens&type=visualization`

This returns all attributes of the saved objects

[2021-11-10 09:01] elasticmachine commented on #118144
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-10 09:02] dasansol92 commented on #118136
@ashokaditya Could you take a look at this? Is this a translation issue in FE?

[2021-11-10 09:05] jeanfabrice opened #118145 "XPACK_FLEET_REGISTRYPROXYURL envvar not picked-up by Kibana Docker image at startup"
See https://github.com/elastic/kibana/issues/118145#issuecomment-965563680 for changes needed.

--

**Kibana version**: 7.15.1

**Elasticsearch version**: 7.15.1

**Server OS version**: Docker 20.10.8 on MacOS 11.6

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**: Docker

**Description of the problem including expected versus

[2021-11-10 09:05] elasticmachine commented on #118145
Pinging @elastic/fleet (Team:Fleet)

[2021-11-10 09:09] ashokaditya commented on #118136
There's a fix out already. https://github.com/elastic/kibana/pull/117407 and should be available in BC3 that's going to be out today. For now, I can reproduce this only on a cloud instance for now.

[2021-11-10 09:27] dej611 commented on #118066
One idea it comes to mind would be to sort, for each column, the order having the negative values always at the bottom.
Because of the color mapping, changing the sorting on one bucket seems achievable without losing any information.

As for the Percentage chart, probably considering the `Math.abs` of the value instead of the raw value can be an idea? That would be achievable also on the consumer

[2021-11-10 09:32] karanbirsingh-qasource opened #118146 "[Security Solution]Unsupported object type error on importing exported case on 7.15.2 from 7.16.0"
**Describe the bug**
Unsupported object type error on importing exported case on 7.15.2 from 7.16.0

**Build Details**
[code]

**Steps**
- Create Case on 7.16.0 with connector
- Export the case
- Import the above case on 7.15.2
- Observed the error came up of unsupported object type on importing

`Note`
- The issue is comming up for all the connector even old one which were there in 7.15.2
- Issue

[2021-11-10 09:32] elasticmachine commented on #118146
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 09:32] elasticmachine commented on #118146
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-10 09:34] flash1293 commented on #118066
Interesting ideas. Can we control the order per column from the Kibana side?

[2021-11-10 09:35] manishgupta-qasource commented on #118146
Reviewed & assigned to @MadameSheema

[2021-11-10 09:55] shubhamkanwar-qasource opened #118147 "[Security Solution]A Exception gets added to exception tab without saving it ."
**Describe the bug**
A Exception gets added to exception tab without saving it .

**Build Details:**
Version: v7.16.0
Build: 45816
COMMIT: acaa761f4ce46680fd7cfbeba03a652c72dc786b

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running.
2. Agent should be installed
3. Alerts should be created

**Steps to Reproduce**
1. Navigate to Alert tab.
2. Click on more action option for any

[2021-11-10 09:55] elasticmachine commented on #118147
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 10:00] #117032 closed

[2021-11-10 10:04] #92528 closed

[2021-11-10 10:09] gbamparop commented on #108325
Hi @formgeist, it seems that `EuiCard` requires a title. Rather than asking for icon-only support we could use `Panel` with a shadow. What do you think? Here is an example of what it can look like:

https://user-images.githubusercontent.com/5831975/141093612-cd3e1b5e-f325-4d67-9ec1-b1281a47b69b.mov

[2021-11-10 10:14] #110949 closed

[2021-11-10 10:14] peteharverson commented on #109220
Closing issue as all items planned for 7.16 have been completed.

[2021-11-10 10:14] #109220 closed

[2021-11-10 10:16] simonwfarrow opened #118151 "Show values on chart only works for small timeframes"
**Kibana version:**
7.5.0

**Elasticsearch version:**
7.5.0

**Server OS version:**
RHEL 7

**Browser version:**
Chrome  Version 94.0.4606.81 (Official Build) (64-bit)
Edge Version 94.0.992.47 (Official build) (64-bit)

**Browser OS version:**
Window 10

**Original install method (e.g. download page, yum, from source, etc.):**
Download page

**Describe the bug:**
When using the "Show values on cha

[2021-11-10 10:31] azasypkin commented on #98562
No luck, CI and Flaky Test runner are completely happy. Will try to figure this out.

[2021-11-10 10:31] kibanamachine commented on #116064
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3001#20939faa-7b25-4839-bf32-5236b97f5ae7)

[2021-11-10 10:40] #117268 closed

[2021-11-10 10:40] felixbarny commented on #114968
According to @pgomulka, Elasticsearch is explicitly overriding the logging configuration for Docker so that it logs ECS-JSON. When starting from the IDE, for example, Elasticsearch defaults to plain-text logs.

@tylersmalley Did you consider following this approach and also default to ECS-JSON logs on Docker? This would make log ingestion and parsing for Docker/k8s that much easier.

[2021-11-10 10:44] MiriamAparicio opened #118156 "Improve display of empty state in Error details page"
### Summary
We are showing the message of empty state just for the occurrences chart and hiding the error details.

![image.png](https://zube.io/files/elastic/8270790b8b4825537e69e005bfacbea8-image.png)

### What is expected
Show empty state messages in both chart and details

![image.png](https://zube.io/files/elastic/0a0ea6e8ff1681f8070bbd14f01964c0-image.png)

[2021-11-10 10:44] elasticmachine commented on #118156
Pinging @elastic/apm-ui (Team:apm)

[2021-11-10 10:59] katrin-freihofner commented on #96568
Since we discussed this in yesterday's meeting I wanted to add an updated example of Discover. This shows the behavior of the table with pagination. As soon as a user pages to an entry outside the current view the selection disappears from the table in the background.
![discover-pagination](https://user-images.githubusercontent.com/20965076/141100854-1f67f2b2-8c52-414b-9856-779e3d00ebd5.gif)
<img

[2021-11-10 11:25] bczifra opened #118159 "Remove default field api upgrade assistant documentation from versions 7.13 onwards because the API no longer exists"
**Kibana version:** 7.13+

**Describe the bug:**
Looking into https://www.elastic.co/guide/en/kibana/current/upgrade-assistant-api-default-field.html led me to dig in to the code a bit, which I believe is https://github.com/elastic/kibana/blob/v7.12.1/x-pack/plugins/upgrade_assistant/server/lib/query_default_field.ts . That code doesn't seem to exist from v7.13.0 onwards. Moreover, it doesn't look

[2021-11-10 11:33] cyrille-leclerc commented on #117697
**Consistency**

There seem to be an inconsistency on the scheme: ost of the time, the violated threshold is first mentioned and then the current value is reported between parenthesis, sometimes it's the other way round:
   * Logs: "430 logs match the rule’s conditions (≥ 400) in the last 5 min for *."
   * APM: "Avg latency is above 250 ms (current value is 285 ms) in the last 5 min for {serviceN

[2021-11-10 11:34] gmmorris commented on #117846
In that case I'll move this to backlog until we get feedback from y'all @mdefazio :)

Thanks!

[2021-11-10 11:47] claudiopro commented on #115781
Thanks @hbharding! Do you mind updating the AC of this issue so that reviewers can validate the PR according to the latest design?

[2021-11-10 11:59] joshdover commented on #111858
One thing that has come up as part of moving the Fleet setup call to start on Kibana boot is the issue of multiple nodes running the setup concurrently. Today we have a [naive guard](https://github.com/elastic/kibana/blob/7ab3593fb73506e29e9608b4c482f9aa22152039/x-pack/plugins/fleet/server/services/setup.ts#L48) that prevents this happening on a single node, but nothing that prevents it from happe

[2021-11-10 12:08] pgomulka commented on #114968
might be worth noting that console logs are plain-text server logs which are in addition to JSON log files.
All of the logs - indexing and search slow logs, deprecation logs and server logs - are available in ECS JSON as well. Even when running from IDE

[2021-11-10 12:10] dikshachauhan-qasource opened #118161 "[Enhancement]: Integration name field behavior while adding Endpoint security integration should be consistent."
**Kibana version:** 7.16 BC3 kibana staging build.

**Build details:**
[code]

If anybody have ever noticed that, whenever we try to add endpoint security in any policy, after clicking on add integration button, then auto-suggested integration name displays for once and then disappears. Also, it's a mandatory field.

**Impact & suggestion:** So, here it causes a little nuance when first appears an

[2021-11-10 12:10] dikshachauhan-qasource commented on #118161
@manishgupta-qasource Please review

[2021-11-10 12:15] banderror commented on #117030
I'm trying to dig deeper into https://elastic.github.io/eui/#/tabular-content/tables#table-layout

Like they mention,

![](https://puu.sh/Ioh5c/4ce3c815cc.png)

So the width property seems to accept standard CSS values. Will it work with `auto` in addition to percentages?

- we could set `auto` for those columns that have constant/predictable width (i.e. containing icons, buttons, "number of rules

[2021-11-10 12:17] mshustov commented on #117173
`kbn-cli-dev-mode` is owned by @elastic/kibana-operations team, I'm removing Core team label

[2021-11-10 12:18] timroes opened #118162 "[Discover] Make values render in expanded popover formatted (and fix JSON)"
We want to have a look over how data grid does render values in discover when you open the popover of a cell. Currently we simply show the JSON there, but instead we want to make sure we're properly using field formatter and only show JSON in some rare cases were it might make sense (to be defined).

[2021-11-10 12:18] katrin-freihofner commented on #117697
I don't think we should lose that context. The idea behind the reason message was to show what's wrong.
From the [design issue](https://github.com/elastic/observability-design/issues/114) description:

- What is happening?
	- Which metric triggered the alert?
	- What's the current value? (vs. the expected value)
- Where is it happening?
	- Which entities are affected?

[2021-11-10 12:19] elasticmachine commented on #118162
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-10 12:23] dominiqueclarke commented on #116850
Closing in favor of the two linked issues.

[2021-11-10 12:23] #116850 closed

[2021-11-10 12:28] timroes opened #118165 "Combine es and ese search strategies"
We currently have an `es` strategy (the old OSS strategy), which can only request data via `_search` and the `ese` search strategy, which supports async search and rollups. I feel this is a bit of a weird (most likely historical grown mix), since e.g. if you're using the `es` strategy to not get async search you'd automatically also lose access to querying rollup.

I wanted to discuss if it could

[2021-11-10 12:33] manishgupta-qasource commented on #118161
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-11-10 12:36] formgeist commented on #108325
@gbamparop Thanks for picking up this issue 👍 I think your suggestion sounds good - but perhaps we can override the shadow to a smaller "depth". [EUI provides SASS mixins](https://elastic.github.io/eui/#/theming/sass) that have smaller spreads than the default panel shadow by e.g. using `euiBottomShadowSmall` instead. Is this possible?

<img width="646" alt="CleanShot 2021-11-10 at 13 34 58@2x" sr

[2021-11-10 12:38] ghost opened #118166 "[Security Solution] Can't overwrite actions to [] when importing a rule with "Overwrite existing detection rules with conflicting Rule ID""
**Describe the bug**
Actions are still exist when import the rule by selecting "Overwrite existing detection rules with conflicting Rule ID" after upgrade the build from 7.15 to 7.16.0

UPD: see for the details https://github.com/elastic/kibana/issues/118166#issuecomment-965623268

**Build Details:**
Version: [7.16.0 BC3](https://github.com/elastic/security-team/issues/1873)
Build: 45816
COMMIT: a

[2021-11-10 12:38] elasticmachine commented on #118166
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 12:39] banderror commented on #117029
Re: rule tags in the Management table:

@yiyangliu9286 I think the idea of being consistent with the Stack Management UI is good 👍 It looks nice and it will save some space in the table 🙂

Re: exceptions:

Maybe something like that:

| Rules assigned to |
| ---------- |
| [5 rules] My rule name, My other rule nam... |

or

| Rules assigned to |
| ---------- |
| My rule name, My other rule nam... [

[2021-11-10 12:41] #96396 closed

[2021-11-10 12:45] kevinlog commented on #118136
@ashokaditya can you verify that the latest BC builds don't have this fix?  You could also build a 7.16-SNAPSHOT to see if the fix has made it into one of those builds.

[2021-11-10 12:47] banderror commented on #117042
Ok, rejected. Closing the ticket.

[2021-11-10 12:47] #117042 closed

[2021-11-10 12:54] karanbirsingh-qasource opened #118168 "[Security Solution]Timeline View : No Iteration on mouse hover for signal.rule.name and host.name fields value on timeline view"
**Describe the bug**
Timeline View : No Iteration on mouse hover for signal.rule.name and host.name fields value on timeline view

**Build Details**

Version:[7.16.0 BC3](https://github.com/elastic/security-team/issues/1872)
Commit:9231d806c9384df4026977ba7435a9302dc2d4ab
Build:45504

**Steps**
- Click on create timeline
- Enter a query to get the timeline result
- try hovering over the field valu

[2021-11-10 12:54] elasticmachine commented on #118168
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 12:59] kevinlog commented on #118136
@ashokaditya apologies, I didn't see your comment right above mine.

Sounds good to me!

[2021-11-10 13:01] mgiota opened #118170 "Preparing RAC project overview (history, terminology, etc)"

[2021-11-10 13:07] MikePaquette commented on #118168
I have placed impact:critical as this is a broken analyst experience.

[2021-11-10 13:08] timroes commented on #118165
cc @lukasolson @ppisljar

[2021-11-10 13:13] kpollich commented on #111858
Thanks, @joshdover for the thorough explanation of our idempotency issues around setup. It seems to me that you've captured every concern I might've had and provided a path forward.

I don't _think_ there are any negative side effects in the case that we create two identical agent policies from preconfiguration. Outside of general confusion for the user, I don't think this would cause any breakdow

[2021-11-10 13:14] fkanout commented on #117686
@hbharding, thanks for your reply.

Yes, it's feasible.

After some testing, I discovered that the current behavior is **keeping the query bar and the URL in the browser always in sync** when a filter is applied and it's attentional for consistency.

Maybe it worth mentioning https://github.com/elastic/kibana/issues/116135

Currently we have something similar, if you change the workflow status in

[2021-11-10 13:15] mistic commented on #116064
This test looks flaky and keeps failing. Skipping for now.

main/8.1: 49fe041
8.0: 847b3cd
7.16: b9d33ce

[2021-11-10 13:20] mgiota opened #118174 "Preparing RAC: How to register rules into the alert history system"

[2021-11-10 13:22] mgiota opened #118175 "Preparing RAC: How the alerts table works"

[2021-11-10 13:28] mgiota commented on #116346
I was able to reproduce 1st Scenario by specifying following indices/privileges to the remote shared cluster and then creating a role with the same name in my own remote cluster in a CCS setup
<img width="1166" alt="Screenshot 2021-11-10 at 14 25 01" src="https://user-images.githubusercontent.com/2852703/141121473-f011d2d6-fe3c-441d-9bfc-9d2337ade44a.png">

However I close the ticket at the moment

[2021-11-10 13:33] #116346 closed

[2021-11-10 13:37] ghudgins commented on #117476
@stratoula given we're going to sunset the legacy I didn't want to mention it. I don't think users will need orientation on this time axis...and can always use runtime field to extract dates into any format of string and get orientation if they had to

[2021-11-10 13:38] juliaElastic commented on #114169
FYI kibana publishing to v3 telemetry changes are going to be reverted in 7.16, so we have time to complete this migration in 8.0.
https://github.com/elastic/infra/issues/32852
https://github.com/elastic/kibana/pull/118025

Also, there is some additional work needed to implement the `data_telemetry` field calculation in clojure, see here: https://github.com/elastic/telemetry/pull/659#issuecomment-

[2021-11-10 13:40] stratoula commented on #117476
Makes sense, thanx Graham!

[2021-11-10 13:49] dej611 commented on #117476
That sounds like something to be documented in the Lens advanced documentation page.

[2021-11-10 13:49] Kunzetsov opened #118177 "[Canvas] Expression metrisVis workpad arguments translation."
## Introduction
`MetricVis` expression has been integrated to `Canvas` at [this PR](https://github.com/elastic/kibana/pull/114808). Arguments UI has been added too. So, the translations have to be checked and fixed.

### Translations to be checked and fixed

---
xpack.canvas.elements.metricVisDisplayName: `(New) Metric Vis`,
xpack.canvas.elements.metricVisHelpText: `Metric visualization`

Screensh

[2021-11-10 13:49] elasticmachine commented on #118177
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-10 13:49] MikePaquette commented on #117810
I am OK with `impact:medium` for this.  @paulewing please weigh in if you feel differently.

[2021-11-10 13:50] ghudgins opened #118178 "[Dashboard] Always clone panels "by value" even if the source is "by reference""
**Describe the feature:**
Always clone panels "by value" even if the source is "by reference"

**Describe a specific use case for the feature:**
**When** I am creating a visualization / panel in a dashboard by copying an existing panel that's in the visualization library
**I need** to start with the new panel embedded only in the dashboard
**So I can** avoid clutter in the visualization library (a

[2021-11-10 13:50] elasticmachine commented on #118178
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-10 13:50] elasticmachine commented on #118178
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-10 13:51] #117308 closed

[2021-11-10 13:54] ghudgins commented on #104787
+1

[2021-11-10 13:55] Alex3k opened #118180 "CCS Experience - If a cluster fails to respond highlight that the data may be incomplete"
**Describe the feature:**
A way to alert/notify that a visualisation leveraging CCS may not be complete if one of the CCS clusters fails to respond. This is on a per visualisation request, not to be notified by a popup or anything like that as it's ephemeral. The ideal solution would be an icon or something on the visualisation itself.

**Describe a specific use case for the feature:**
If I have t

[2021-11-10 14:05] nchaulet commented on #111858
Output can use uuidv5 if the user provide an id but we do not provide an id for the default output (it should not be hard to change that)

I think it could be an issue as agents could be enrolling based on `is_default_fleet_server` or `is_default`

Yes I think it will make sense to seed an uuid v5 with the name also we enforce name to be unique. For the cloud preconfigured policy they provide an i

[2021-11-10 14:10] vitaliidm commented on #117030
'auto' as I can see would mean the same as w/o width parameter, i.e. - allocating fields equals space from the rest of unallocated page space.

It happens because sum of width properties in other columns is less than 100%. So looks like, these fields get allocated the rest of ~ 17% space(currently it's sth like this 15 + 10 + 10 + 20 + 14 + 14 === 83%, thus those paddings that we can see).
When I

[2021-11-10 14:12] #117827 closed

[2021-11-10 14:13] Dosant commented on #46352
I checked that vega properly cancels search requests

[2021-11-10 14:13] #46352 closed

[2021-11-10 14:14] criamico commented on #63123
I started a spreadsheet with the report of the existing Fleet endpoints, parameters:
https://docs.google.com/spreadsheets/d/1RtKFwPRNeHeOm9DlV1BkhXI9HQGxmon_tXyR-W4NFpA/edit#gid=0

It's work in progress but I'll keep adding notes while we proceed with the assessment/refactor of the APIs.

[2021-11-10 14:14] sabarasaba commented on #118026
Tried locally and it seems there is an error that gets shown on screen, but given that @LeeDr viewport is very small it gets hidden below the footer of the flyout:

![Screenshot 2021-11-10 at 15 10 46](https://user-images.githubusercontent.com/1191206/141128748-f7944c00-7b51-48d6-bfbf-24e4191245ce.png)

The error itself it's not useful at all, I'll create a PR for improving that!

[2021-11-10 14:14] angorayc opened #118181 "[Security Solution] Embeddable dashboard"
**Describe the feature:**

**Create Host and network charts in Saved object**
1. Create security visualisations in Kibana by default -> like elastic prebuilt rules
2. Create security dashboard in Kibana by default -> like elastic prebuilt rules
3. Embed the dashboard

Concept:
All the dashboads / visualisations are saved objects
In Stack Management > Saved Objects.
We can export them in ndjson for

[2021-11-10 14:14] elasticmachine commented on #118181
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 14:15] criamico commented on #63123
Adding here that the '/check_permissions` endpoint will be removed as part of the superuser removal work (https://github.com/elastic/kibana/issues/108252)

[2021-11-10 14:15] joshdover commented on #118145
@elastic/kibana-operations is there anything we need to update to support this?

[2021-11-10 14:20] Dosant commented on #46354
Please note: Timelion uses search service server-side, which means they will need to listen to `aborted$` event on Kibana request and then cancel underlying server-side searches

[2021-11-10 14:21] elasticmachine commented on #46354
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-10 14:21] Dosant commented on #46353
Please note: TSVB uses search service server-side, which means they will need to listen to aborted$ event on Kibana request and then cancel underlying server-side searches

There is an example plugin that shows this

[2021-11-10 14:21] elasticmachine commented on #46353
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-10 14:25] #117313 closed

[2021-11-10 14:25] neptunian commented on #106345
@ravikesarwani Are we wanting to change the default of the IndexMemoryMetric type to be "Index memory - Lucene" instead of just "Index Memory"?  There are some metrics that inherit from it such as Index Mem Writer https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js#L495 which says its not part of the Lucene total.  Not sure if this woul

[2021-11-10 14:31] kobelb commented on #46705
Deprecations don't need approval. We just need the approval to make the breaking change itself.

[2021-11-10 14:35] ruflin commented on #118033
This is related to https://github.com/elastic/beats/issues/28706

[2021-11-10 14:49] ravikesarwani commented on #106345
We want to change the name of the first metric in that specific chart which is fixed_bit_set_memory_in_bytes to be called "Index Memory - Lucene" so the title changes for that chart.

[2021-11-10 14:54] hbharding commented on #115781
Updated description + AC. Sorry about the confusion :)

[2021-11-10 14:58] ThomThomson commented on #118178
This is a good idea, and one that I hadn't thought of when creating the feature. It might clean up the code a little bit too!

Just to double check, can you think of any reason why a user would _want_ to clone a panel `by reference` - i.e. make a copy of the saved object? I can't particularly think of one.

[2021-11-10 15:05] ThomThomson commented on #118178
Also I removed the `Team:VisEditors` and `Feature:Lens` labels because the cloning feature is implemented on the dashboard side, and must work for all panels.

[2021-11-10 15:29] MadameSheema commented on #109191
Thanks @dhurley14! but right now is out of scope 8.0 since we are focusing on 7.16.0, but we'll take into consideration for the next testing cycle :)

ping @deepikakeshav-qasource

[2021-11-10 15:51] elasticmachine commented on #117977
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-10 15:51] oatkiller commented on #115808
Thanks for the excellent write up. I'd like to add a few points along the lines of what @cnasikas has brought up:

## How unique should these IDs be?
If the first case is created in space A and the second case is created in space B, would each have "#1", or would the second have "#2"?

If we want to eventually have the option to share cases between spaces, we might want to make them unique across

[2021-11-10 15:52] pgayvallet commented on #117977
UA is owned by @elastic/kibana-stack-management, removing core label.

[2021-11-10 15:53] MadameSheema commented on #112395
@cavokz can we close this ticket?

[2021-11-10 15:55] sqren commented on #117936
Hi @suchcodemuchwow,
I think this is a duplicate of https://github.com/elastic/kibana/issues/118131. Can you please see my comments (https://github.com/elastic/kibana/issues/118131#issuecomment-964885397) and see if that fixes it?

[2021-11-10 15:58] joshjanoski opened #118192 "[DOCS] Add information regarding elasticsearch requestTimeout setting to preventing migration failures documentation section"
**Kibana version:** 7.13.0

**Elasticsearch version:** 7.13.0

This is a request to update and enhance the documentation section here: https://www.elastic.co/guide/en/kibana/7.13/upgrade-migrations.html#preventing-migration-failures related to preventing Kibana upgrade failures.

Recently ran into an issue where the migration of the `.kibana` and `.kibana_task_manager` indices were timing out. Wha

[2021-11-10 15:58] elasticmachine commented on #118192
Pinging @elastic/kibana-docs (Team:Docs)

[2021-11-10 16:03] ghudgins commented on #118178
me either. I think it's okay for these folks to have to clone, review their changes, then click the "Add to library" button. this workflow aligns with what i'd do IRL if I was adding a bunch of things to the library for future re-use.

[2021-11-10 16:16] #117900 closed

[2021-11-10 16:17] #117425 closed

[2021-11-10 16:44] pmuellr commented on #118024
For reference, the [auto-recover PR #111671](https://github.com/elastic/kibana/pull/111671) was merged in 7.16.0

This feels pretty important, as we do see cases where rules reference task documents that don't exist, and our remediation is to disable and then re-enable the rule.  So if we can't do that because of this problem, the only remediation for these cases would be to delete the rule and re

[2021-11-10 16:48] #117765 closed

[2021-11-10 17:06] walterra commented on #114046
Fixed with PRs #114247 #114247 #115145

[2021-11-10 17:06] #114046 closed

[2021-11-10 17:10] #117334 closed

[2021-11-10 17:18] tylersmalley commented on #118145
@joshdover the settings need to be added here: https://github.com/elastic/kibana/blob/v7.15.1/src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker

[2021-11-10 17:19] kevinlog commented on #116398
Closing this - it is OK as is.

[2021-11-10 17:19] #116398 closed

[2021-11-10 17:20] kevinlog commented on #110582
this was fixed and verified in 7.15

[2021-11-10 17:20] #110582 closed

[2021-11-10 17:21] kevinlog commented on #109856
This was fixed in 7.16.0 and verified in this ticket: https://github.com/elastic/security-team/issues/1666

[2021-11-10 17:21] #109856 closed

[2021-11-10 17:35] stacey-gammon commented on #118180
@jimczi - should ES be returning errors in this situation? If so, and this is not working on master, this is a bug for the ES repo.  If ES reports it as a _warning_, then the issue is with Kibana, as we don't show every warning from ES to the user.  However, we'll still need a way for ES to tell us whether or not a warning _should_ be shown to the user. in 7.16 we [implemented a change](https://gi

[2021-11-10 17:37] ghudgins commented on #101942
+1 https://discuss.elastic.co/t/customize-lens-colors-in-kibana/288901/

[2021-11-10 17:37] #117903 closed

[2021-11-10 17:40] jeanfabrice commented on #118145
+1 for the audit @tylersmalley.

It would be also helpful to document if and how parameters that are objects in `kibana.yml` could be set using envvars

Example with logging.appenders.file (described [here](https://www.elastic.co/guide/en/kibana/current/settings.html) as a scalar, [here](https://www.elastic.co/guide/en/kibana/current/logging-settings.html#log-to-file-example) as an object and alre

[2021-11-10 17:44] spalger commented on #99581
@thomheymann FYI, just had another flaky failure in 7.16 during a snapshot verification, if you'd like to take another look at this while it's still fresh in your mind that'd be great

https://buildkite.com/organizations/elastic/pipelines/kibana-elasticsearch-snapshot-verify/builds/367/jobs/ef8d6f22-9487-47bd-9cbc-fa9a03a0c247/artifacts/408d75a7-81f6-49cb-a550-884c9995efb0

[2021-11-10 17:46] MadameSheema commented on #118166
@yctercero @jethr0null can you please take a look at this issue and decide which should be the expected behaviour as well as in which version should be addressed?

[2021-11-10 17:52] #93729 closed

[2021-11-10 17:53] yctercero commented on #114960
@kevinlog thanks so much!

We're taking it on and taking it as an opportunity to audit the UX around these privileges.

[2021-11-10 17:55] cnasikas commented on #118146
This is an expected behaviour as the feature of Importing/Exporting Cases was introduced in 7.16. On 7.15 you cannot import/export cases.

[2021-11-10 17:55] #118146 closed

[2021-11-10 18:10] marshallmain commented on #118147
Hi @shubhamkanwar-qasource, thanks for reporting this! The behavior here is expected. The entity created in the video is an empty list for exceptions to be added to, rather than an actual exception. We expect an empty exception list to be created for each rule the first time the "Create Exception" modal is opened.

[2021-11-10 18:10] #118147 closed

[2021-11-10 18:12] dokmic commented on #117418
After some investigation and fixing timeout-related problems:
1) Duplicate error messages have been fixed in #117432.
2) The `WaitForElementsToBeInDOM` stage has been optimized in #117425, but that stage does not pass on a low-memory environment when there is a map visualization.
3) The `taking screenshots` stage kills the main process on environments with less than 2Gb of memory. The problem is s

[2021-11-10 18:13] jportner opened #118209 "Improve es-archiver for saving/loading complex sample data"
In preparation for the 8.0 release, we are putting together sample data to simulate an upgrade scenario. There are a couple of reasons that the es-archiver tool is ideal for this:

* We want to save data from a 7.16 cluster and then load it into an 8.0 filesystem only using the HTTP APIs (e.g., no access to the filesystem). The goal here is to be able to use this sample data on Cloud instances. Th

[2021-11-10 18:13] elasticmachine commented on #118209
Pinging @elastic/kibana-security (Team:Security)

[2021-11-10 18:14] yctercero commented on #117829
@FrankHassanabad @dhurley14 @jethr0null

Hey team - what do you all think the desired behavior would be here? Should we validate the `action.params` is not an empty object on import and reject it? Or if it is empty on import, default it as it seems we do in the UI at the moment?

[2021-11-10 18:15] oatkiller commented on #115808
## Import / Export
TODO: figure out how this works with import/export. Perhaps we could use a non-incrementing id for imported cases.

[2021-11-10 18:19] bhavyarm opened #118211 "Expression parsing error on data table element in canvas after upgrade to 7.15.1"
**Kibana version:** 7.15.1/7.16.0

**Elasticsearch version:** 7.15.1/7.16.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging and elastic.co

**Describe the bug:** After upgrading to 7.15.1 - the data table element of canvas is displaying a parse error.

Ple

[2021-11-10 18:19] elasticmachine commented on #118211
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-10 18:20] psanz-estc opened #118212 "Multiple Mapping detected reported by Kibana when using mapper size in templates"
**Kibana version:** 7.15.2

**Describe the bug:**
Kibana is displaying a warning message when using `_size` field in a template (https://www.elastic.co/guide/en/elasticsearch/plugins/7.13/mapper-size-usage.html)

[code]

**Steps to reproduce:**
1. Install and enable mapper-size plugin
2. Create a template
[code]
3. Navigate to Kibana -> Stack Management -> Index Management -> `my-template` -> Edit

[2021-11-10 18:21] elasticmachine commented on #118212
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-10 18:25] oatkiller commented on #115808
What about copying off of the github's commit hash link idea instead? TODO, explore

[2021-11-10 18:27] spong commented on #116903
Additional failure in a `7.16` backport on this build: https://buildkite.com/elastic/kibana-pull-request/builds/5842#eb09eed3-686b-4416-9b31-300be022741e

[2021-11-10 18:28] oatkiller commented on #115808
If we need a fallback hash we could do this: https://stackoverflow.com/questions/9543715/generating-human-readable-usable-short-but-unique-ids

[2021-11-10 18:28] yctercero commented on #118166
To summarize, the the two user scenarios considered here are:

1. [Existing behavior] import rule with no `actions` specified --> select `overwrite` on import modal --> an existing rule with matching `rule_id` is found --> existing rule is overwritten with imported rule, but actions remain untouched
2. import rule with no `actions` specified --> select `overwrite` on import modal --> an existing r

[2021-11-10 18:30] oatkiller commented on #115808
TODO: if we support import, how will we know if we're updating vs creating? how will the system work differently in each case?

[2021-11-10 18:32] jen-huang opened #118214 "[Fleet] Add a reset API"
- [ ] Add a reset API
	- This can be used to help customers who upgraded from experimental and beta versions of Fleet and have corrupt data due to unsupported migrations.
	- Also helpful for when something went wrong and a user just wants to start over.
	- Deletes all agent policies and package policies, enrollment keys, etc.
	- Allows user to run setup again from a clean state
	- Examples:
		- ht

[2021-11-10 18:33] jethr0null commented on #118166
Thanks for the summary @yctercero. I feel like I might be missing some context here. Can you help me to understand why option 2 is being proposed? What would the argument be for changing the existing behavior?

[2021-11-10 18:33] elasticmachine commented on #118214
Pinging @elastic/fleet (Team:Fleet)

[2021-11-10 18:33] jen-huang opened #118215 "Unused API keys"

[2021-11-10 18:34] elasticmachine commented on #118215
Pinging @elastic/fleet (Team:Fleet)

[2021-11-10 18:36] yctercero commented on #118166
I think the second scenario is being considered here because that would match the behavior for the other params. And I think I'm trying to understand what the user expectation would be here. If I select `overwrite` I would assume that means that the rule will now be exactly what I imported, not a meshing of the imported and existing rule. But maybe that isn't the right expectation here?

[2021-11-10 18:38] yctercero commented on #118166
@jethr0null I could see us taking this as a feature request where a user can specify whether to `overwrite` rules, actions and exceptions separately? Not sure if the user thinks of the rules and actions as completely separate entities where I might still want to overwrite, but not overwrite my actions.

[2021-11-10 18:39] justinkambic commented on #117067
@shahzad31 @dominiqueclarke @liciavale per this issue - I chatted with the EUI team and they’re willing to take a look at implementing the desired functionality in a way that would satisfy the issue. I don’t know when that will happen, so I’d be willing to merge the linked fix, and leave it in place until that feature gets implemented.

I’ve tested this out with a screen reader and the existing ex

[2021-11-10 18:48] neptunian opened #118217 "Preparing Knowledge Share Session Stack Monitoring Rules / Alerts"
Design knowledge sharing presentation

[2021-11-10 18:48] elasticmachine commented on #118217
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-10 18:49] hbharding commented on #117686
Yes to both questions! Thanks @fkanout

[2021-11-10 18:50] bhavyarm opened #118218 "Canvas needs to validate for a value before letting the user save a variable"
**Kibana version:** 7.16.0 BC3

**Elasticsearch version:** 7.16.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Canvas should make sure variable has a value before allowing the save operation. Right now - you can save them wit

[2021-11-10 18:50] elasticmachine commented on #118218
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-10 18:50] FrankHassanabad commented on #117829
One more testing item and question we have to help us determine severity. If the user gets into this condition can they fix themselves by deleting the action and removing it as a fix? Do we get any other constant error messages within the UI/UX or within the Kibana console such as `unhandled promise rejection` or any errors in the Javascript console indicating a stack trace and unwinding of the st

[2021-11-10 18:51] neptunian opened #118219 "Preparing Session: Stack Monitoring Elasticsearch and Kibana"
Design knowledge sharing presentation

[2021-11-10 18:51] elasticmachine commented on #118219
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-10 18:53] neptunian opened #118220 "Preparing Session: Stack Monitoring Logstash, Beats, APM"
Design knowledge sharing presentation

[2021-11-10 18:53] elasticmachine commented on #118220
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-10 18:53] tsullivan commented on #71753
Let's tie this issue to one of @dokmic's takeaways after analyzing performance under 1GB of RAM: https://github.com/elastic/kibana/issues/117418#issuecomment-965609991

[2021-11-10 18:54] joshdover commented on #100413
However this is implemented, we should require HTTPS URLs from trusted CAs by default. If we want to allow regular HTTP URLs at all (a genuine question @ruflin @elastic/elastic-agent-control-plane), it should only be allowed if an admin-level setting or a config in the `kibana.yml` allows it. We may also want to allow trusting self-signed CAs.

For example, we could add these `kibana.yml` settings

[2021-11-10 18:56] tsullivan commented on #117418
Re-opening: https://github.com/elastic/kibana/issues/106141

Tying this to https://github.com/elastic/kibana/issues/71753

[2021-11-10 18:57] zuhairmahd commented on #109110
Added myself along with @1Copenut

[2021-11-10 18:58] tsullivan commented on #106141
Hi, the Reporting team is testing performance using 1GB of system memory as in Cloud, and we are seeing this issue continue to happen. See https://github.com/elastic/kibana/issues/117418#issuecomment-965609991

[2021-11-10 18:58] vinaychandrasekhar commented on #117686
One follow up question @fkanout  -

When I test that on a snapshot 8.0 build, I only see the button and the browser URL being in sync but the KQL query bar is not kept in sync. What am I missing?
![image](https://user-images.githubusercontent.com/91484167/141175886-fe25fa96-ee3d-4457-82b9-34f50e4f25d0.png)

cc @hbharding

[2021-11-10 18:58] elasticmachine commented on #106141
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-11-10 19:10] gchaps opened #118222 "Review uses of "Alerting" for consistency in the docs"
The docs include instances of both “alerting” and "Alerting", written in both bold and regular font.  For example:

- [https://www.elastic.co/guide/en/kibana/7.16/alerting-getting-started.html](https://www.elastic.co/guide/en/kibana/7.16/alerting-getting-started.html).
- [https://www.elastic.co/guide/en/kibana/7.16/alerting-setup.html](https://www.elastic.co/guide/en/kibana/7.16/alerting-setup.htm

[2021-11-10 19:10] elasticmachine commented on #118222
Pinging @elastic/kibana-docs (Team:Docs)

[2021-11-10 19:16] elasticmachine commented on #118222
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-10 19:17] cjcenizal commented on #116212
@yuliacech or @sabarasaba Would one of you mind looking into this one? Thank you!

[2021-11-10 19:20] katefarrar opened #118224 "[Infra UI] Inventory - convert enhanced host details to pushed flyout"
In order to allow users to be able to see the waffle map and history while they are looking at Enhanced Host Details, we are going
to convert it to a [pushed flyout](https://eui.elastic.co/#/layout/flyout#push-versus-overlay).

**Rough example:**
![Metrics - Inventory - waffle view - pushed flyout](https://user-images.githubusercontent.com/455281/141177883-90137589-8b70-460c-9534-bd3be6c01366.png)

[2021-11-10 19:20] elasticmachine commented on #118224
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-10 19:23] #117008 closed

[2021-11-10 19:27] hbharding commented on #117686
@vinaychandrasekhar I don't think @fkanout means they are "in sync". Rather, the Browser URL is able to capture all the currently applied filters from the page (whether that be from a search bar or button). This is useful because it allows someone to copy the URL and open it somewhere else and see the same exact view.

As you describe, the browser URL and KQL searchbar don't show the same informat

[2021-11-10 19:37] vinaychandrasekhar commented on #117686
@hbharding ah, okay if that's what @fkanout meant, that makes sense to me. Keeping the KQL query bar in sync with button state might get tricky with needing to parse out or update complex KQL queries to get to alert status filters.

[2021-11-10 19:47] lukasolson opened #118230 "[data.search] Move integration with execution context to data plugin search service"
The execution context service was added in https://github.com/elastic/kibana/pull/102039 and implemented for many different visualization types/contexts in https://github.com/elastic/kibana/pull/105206. This is part of the work that allows tracing Elasticsearch queries to their origin.

The current flow for passing execution context looks like this:

1. Embeddable creates execution context & passe

[2021-11-10 19:47] elasticmachine commented on #118230
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-11-10 19:51] yctercero commented on #118166
Ignore the PR linked right above (#118221 )

[2021-11-10 19:51] dominiqueclarke commented on #114215
@paulb-elastic I'm recommending that we shift this to 8.0.0, since we haven't made any changes to Certificates recently.

[2021-11-10 19:52] dominiqueclarke commented on #114261
@paulb-elastic I'm recommending that we shift this to 8.0.0, since we haven't made any changes to Certificates recently.

[2021-11-10 19:55] hbharding commented on #115808
Thanks @cnasikas and @oatkiller. Great questions and ideas! Clearly we have some more thinking to do on how to handle all these situations. I want to briefly summarize the points I see so far:

- Concurrency
- Migrations
- How does this work across Spaces? and concerns about privileges / security
- Bulk creation of cases
- Importing / exporting cases

I'll work with @vinaychandrasekhar (and maybe

[2021-11-10 19:55] nchaulet commented on #117730
I tested it with a 7.16 and the agent ask for confirmation if there is an already existing I think it's what we want.

[2021-11-10 19:55] #117730 closed

[2021-11-10 19:56] dominiqueclarke commented on #117067
I'm comfortable with that. Before merging though, could we move the label to the top instead of the left? If we do that, we honestly may not need to disable the row, because the surface area to click will be smaller. Either way I'm okay with disabling or not disabling as long as we move the label to the top of the input.

[2021-11-10 19:58] yctercero opened #118232 "[Security Solution][Platform] - Additional validation around action params"
In response to a bug filed by QA - https://github.com/elastic/kibana/issues/117829 - additional validation is needed around action params to disallow user to get into a bad state where they may receive actions with a message of `undefined`.

## Test Criteria

- [ ] User cannot import a rule with actions where `action.params` is empty or `action.params.message` is empty
- [ ] User cannot export rul

[2021-11-10 19:58] elasticmachine commented on #118232
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-10 19:59] justinkambic commented on #117067
[Did that](https://github.com/elastic/kibana/pull/118093#discussion_r746880994) already! 🙂

![image](https://user-images.githubusercontent.com/18429259/141184631-88da23f6-74b5-4f5d-8d9c-e45de176c891.png)

[2021-11-10 19:59] yctercero commented on #117829
Created a ticket for us to follow up on (https://github.com/elastic/kibana/issues/118232) as well as opening a small PR to add validation for this in the import (https://github.com/elastic/kibana/pull/118221)

[2021-11-10 20:04] nimarezainia commented on #117730
@danielkhan do you mean installing "fleet server" and agent on the same host? i'm curious about this use case you mention.

[2021-11-10 20:05] nimarezainia commented on #117730
@jen-huang if possible yes. I'm trying to remove and clarify in the docs also.

[2021-11-10 20:17] lukeelmers commented on #112103
closing for now as we haven't seen any activity on this in ~60 days.

[2021-11-10 20:18] elasticmachine commented on #116725
Pinging @elastic/kibana-core (Team:Core)

[2021-11-10 20:44] ymao1 commented on #117284
Closed by https://github.com/elastic/kibana/pull/115613

[2021-11-10 20:44] #117284 closed

[2021-11-10 20:46] afgomez opened #118242 "[Unified o11y] What mechanisms do we have to show information in the overview page?"
We want to redesign the observability overview page. We want to show a series of graphs, etc. We have several options to do so:

<table>
<tr>
	<th>Option
	<th>Pros
	<th>Tradeoffs
	<th>Effort
<tr>
  <td>Embed a Kibana dashboard
  <td>?
  <td>
- Users might break the overview page by changing the dashboard<br/>
- How is this better than a dashboard itself?
</td>
  <td>?
<tr>
  <td>Lens embeddables

[2021-11-10 20:50] eddieturizo opened #118243 "User created index patterns are not migrated/kept across minor version upgrades"
**Kibana version:** 7.14.1

**Elasticsearch version:** 7.14.1

**Server OS version:** Red Hat Enterprise Linux Server release 7.9 (Maipo)

**Browser version:** Chrome Version 94.0.4606.71 (Official Build) (32-bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** tar

**Describe the bug:**

**Steps to reproduce:**
1. Create custom index patterns in

[2021-11-10 20:59] tsullivan opened #118247 "[Reporting] Touch up content in the report job info side panel should have more content"
**Kibana version:** 7.16

After, the side panel is clean and elegant, but there are a few minor things that could still improve it:
![image](https://user-images.githubusercontent.com/908371/141191891-4a18f367-309a-40ee-83c2-762af6f21356.png)

1. Bug: "Completed at 2021-11-10 @ 01:37 PM" and the other dates is not correctly formatted per `dateFormat` in Advanced Settings (in the default space, I gu

[2021-11-10 20:59] elasticmachine commented on #118247
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-11-10 21:05] #113472 closed

[2021-11-10 21:14] poffdeluxe commented on #118211
Closing this as it appears to be an issue with how Elasticsearch is handling some data

[2021-11-10 21:14] #118211 closed

[2021-11-10 21:19] lukasolson commented on #46705
Created a new issue for tracking this last change here: https://github.com/elastic/kibana/issues/118250

[2021-11-10 21:27] spalger opened #118251 "Failing ES Promotion: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/model_management/model_list·ts - machine learning model management trained models displays a model without an ingest pipeline and model can be deleted"
**Chrome X-Pack UI Functional Tests**
**x-pack/test/functional/apps/ml/model_management/model_list.ts**

**machine learning  model management trained models displays a model without an ingest pipeline and model can be deleted**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot. for 8.0 and 8.1.

For more information on the Elasticsearch snapshot promotion proc

[2021-11-10 21:28] elasticmachine commented on #118251
Pinging @elastic/ml-ui (:ml)

[2021-11-10 21:30] spalger commented on #118251
Skipped

main/8.1: https://github.com/elastic/kibana/commit/baa658f8a7ce1fec67b176b184a61c4fec52fb7f
8.0: https://github.com/elastic/kibana/commit/3ef6e42c46e9893ad44aba0bce7aa9a963ac4ef4

[2021-11-10 21:32] #117432 closed

[2021-11-10 21:46] marshallmain commented on #118166
Related issue - https://github.com/elastic/kibana/issues/93342

[2021-11-10 22:05] danielkhan opened #118256 "[APM] Don't default to Fleet instructions on tutorial page, add copy about same-host limitation"
**Problem description:**
- The current APM Integration setup flow assumes that Fleet Server and the Elastic Agent are running on different hosts causing the setup to fail if a user tries installing both on the same host.
- Given that, users installing the product locally (e.g. on their development machine) are currently better off with just installing the APM server.
- Yet, we don't inform the use

[2021-11-10 22:11] elasticmachine commented on #118256
Pinging @elastic/apm-ui (Team:apm)

[2021-11-10 22:15] joeypoon opened #118257 "[Fleet] re-enable skipped limited packages test"
https://github.com/elastic/kibana/blob/552ec09eb6de12e51c528ecd4c41cb17739d7974/x-pack/test/fleet_api_integration/apis/package_policy/create.ts#L202 was skipped in https://github.com/elastic/kibana/pull/116861 so that endpoint functional tests could be re-enabled.

still root causing but it seems likely due to the [package registry hash bump](https://github.com/elastic/kibana/blob/552ec09eb6de12e5

[2021-11-10 22:15] elasticmachine commented on #118257
Pinging @elastic/fleet (Team:Fleet)

[2021-11-10 22:36] hbharding commented on #117697
Thanks all

## Consistency

I hear you. Personally, I think it's more important that the messages are short and easy to read rather than forcing them to follow a strict order of information. These messages are "consistent" in that they all contain the same bits of information. I don't think the order is a real problem, and some flexibility may be helpful.

I tried dozens of iterations for some of

[2021-11-10 22:36] ghudgins commented on #103008
related to https://github.com/elastic/kibana/issues/29726

[2021-11-10 22:37] kibanamachine commented on #109260
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/3041#7cf2da44-a875-4c68-9550-e95320374462)

[2021-11-10 22:42] #118095 closed

[2021-11-10 22:43] tsullivan opened #118260 "[Reporting] Node event loop is blocked during 'Compiling PDF using "preserve_layout" layout'"
**Kibana version:** 8.1.0

**Problem**
Soon after logging this message, Kibana stops responding to HTTP requests. Sometimes, that is the last log message for quite a while. As soon as more logs start printing out, Kibana resumes responding to HTTP requests:
[code]

**Steps to reproduce**
1. Use a VM with limited resources: 1GB of RAM, 1GB of swap, 2 CPU cores, use `--max-old-space-size=784` in con

[2021-11-10 22:43] elasticmachine commented on #118260
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-11-10 23:45] #108671 closed

[2021-11-11 00:09] TinaHeiligers commented on #116778
After digging into this it seems like the "bug" seems to be related to the units.

Node's native `monitorEventLoopDelay` returns the data in [nanoseconds](https://nodejs.org/dist/latest-v16.x/docs/api/perf_hooks.html#perf_hooksmonitoreventloopdelayoptions):
"Creates an IntervalHistogram object that samples and reports the event loop delay over time. The delays will be reported in nanoseconds."
whi

[2021-11-11 00:26] lcawl commented on #117659
One option to consider is adding a help popover (like https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/components/app/correlations/latency_correlations_help_popover.tsx, which exists for the latency correlations tab) and adding the details about the chart's scale there instead.

[2021-11-11 01:46] kibanamachine opened #118272 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/saved_objects_management/feature_controls/saved_objects_management_security·ts - Saved objects management feature controls saved objects management global all privileges listing shows all saved objects"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/3052#01bea84c-c713-40fc-8708-6a03d1ac012d)

[2021-11-11 02:05] tsullivan opened #118273 "[Reporting] calculation of CPU utilization seems wrong in Ubuntu Linux"
**Kibana version:** 7.16

## Ubuntu/Focal
When running tests in an Ubuntu VM that has 1 CPU, the PNG/PDF report execution logs show CPU is always 0:
[code]

This seems wrong as these tests shows the event loop blocking behavior filed here: https://github.com/elastic/kibana/issues/118260

## CentOS/8.1
The same setup in CentOS 8.1 shows more reasonable CPU utilization numbers.
[code]

Both of the s

[2021-11-11 02:05] matschaffer opened #118274 "Allow open-in-new-tab from the kibana search bar"
**Describe the feature:**

When using the search bar to navigate, allow shift click (or maybe shift-enter) to open in a new tab

<img width="1240" alt="Screen Shot 2021-11-11 at 11 04 15" src="https://user-images.githubusercontent.com/690/141224044-2bedb051-003b-4949-abe2-79717ac58b6e.png">

**Describe a specific use case for the feature:**

Often I want to move between my app of focus (stack moni

[2021-11-11 02:14] kibanamachine commented on #115851
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/3052#10271812-f698-4921-9ca7-6cd9a7779c0e)

[2021-11-11 02:25] elasticmachine commented on #118273
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-11-11 02:31] matthiaswelz commented on #41939
Any news on that one? Large stack traces make scrolling quite unpleasant and usability really suffers (even when using small text and having a large screen).

[2021-11-11 02:34] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3053#2d9eb8ea-1265-4566-a17c-01c451bc661a)

[2021-11-11 02:47] yiyangliu9286 commented on #117029
Thanks for confirming with the rule tags in the Management table. @vitaliidm Michelle has also agreed with this proposal so I think we are good and aligned with the proposed design for Tags and we can move forward to implement this change. :)

Regarding to @banderror's proposal for exceptions, I totally agree with the proposal and think is a good direction to go for, here is the mock for the Excep

[2021-11-11 02:53] kibanamachine commented on #102283
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/3054#e27b8664-2e1a-4670-bbd5-f1ea376447f0)

[2021-11-11 03:08] #116279 closed

[2021-11-11 03:36] spalger commented on #100570
Sorry @thomheymann, doesn't look like that was enough to fix the flakiness

[2021-11-11 03:37] spalger commented on #102283
Supposed to be closed by https://github.com/elastic/kibana/pull/117519, but wasn't. @pheyos mind taking a look?

[2021-11-11 03:41] spalger commented on #115851
5 failures in the last week, all of them on 7.16 which isn't tested super frequently, so I think this is a legit issue in 7.16. Skipping

7.16: https://github.com/elastic/kibana/commit/309e47de655fc2c9af0df27f7f8ad2c2fea0f40e

[2021-11-11 03:42] elasticmachine commented on #118272
Pinging @elastic/kibana-core (Team:Core)

[2021-11-11 03:45] spalger commented on #118272
3 failures in the last day, something is going on here:

8.1/main: https://github.com/elastic/kibana/commit/a03e12bec0088a95075aa7fc7b824b7881369a2e
8.0: https://github.com/elastic/kibana/commit/f5e58cda92ea2635d2be4cc60775d98bd4224e01
7.16: https://github.com/elastic/kibana/commit/86ffd605b22c85757aea30ae474d53ea4c48acf3

[2021-11-11 03:59] #118209 closed

[2021-11-11 04:25] matschaffer opened #118282 "[APM] Add more info to the "Number of items in this trace exceed what is displayed" (xpack.apm.waterfall.exceedsMax) EuiCallOut"
### Kibana version

7.15.1

### APM Server version (if applicable)

7.15.1

### Elasticsearch version (if applicable)

7.15.1

### Steps to Reproduce

1. set up a separate deployment's kibana to report into APM
2. pull up a trace for `alerting:monitoring_alert_jvm_memory_usage` (it's a `taskManager run` type)
3. check the trace sample, especially after some time has passed

### Expected Behavior

[2021-11-11 04:25] elasticmachine commented on #118282
Pinging @elastic/apm-ui (Team:apm)

[2021-11-11 04:29] matschaffer commented on #107751
Just thought I'd mention that in the case of an elasticsearch db, being able to open the query in profiler or dev tools could be a really awesome feature add. And probably make our internal work easier on any APM-enabled front (like kibana).

[2021-11-11 05:34] jportner opened #118283 "Create outline for restructuring Security docs for 8.0+"
Starting in Kibana 8.0, Security is on by default, and the way that users will set up a new stack has changed.

We already have an issue to update the "Configure security in Kibana" page to align with the new docs for "Starting the Stack with security enabled" (#117223).
However, the overall structure of this page and others could still use some rethinking.

We need to start with an outline of wha

[2021-11-11 05:34] elasticmachine commented on #118283
Pinging @elastic/kibana-security (Team:Security)

[2021-11-11 05:35] jportner commented on #117223
I opened another issue for follow-on work to restructure the Kibana docs, we'll start by making an outline: #118283

[2021-11-11 06:29] kibanamachine opened #118288 "Failing test: Chrome UI Functional Tests.test/functional/apps/saved_objects_management/inspect_saved_objects·ts - saved objects management saved objects inspect page allows to delete a saved object"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3065#30484d84-0e18-4fe9-90e7-6472124dd076)

[2021-11-11 06:59] zaidizeeshan commented on #116106
you need to find the related index name in elasticsearch error logs and use the below command to change the settings using curl. However, scroll api calls, index name need not be mentioned but you must try it for single index
`curl -X PUT “https://localhost:9200/YOUR_INDEX_NAME/_settings” -H ‘Content-Type: application/json’ -d ‘{ “index” : { “max_result_window” : 11000 } }’`
if you enabled x-pack

[2021-11-11 07:21] ghost opened #118290 "[Security Solution] Pinned events are not displaying under Pinned tab in the timeline when data is coming through CCS setup."
**Describe the bug:**
Pinned events are not showing under Pinned tab in the timeline when data is coming through CCS setup.

**Kibana/Elasticsearch Stack version:**
[code]
[code]
Preconditions

1.Elasticsearch should be up and running
2.Kibana should be up and running
3.Any beat should be installed and running on parent node.

**Steps to reproduce:**

1. Setup any beat on [7.16.0](https://github.c

[2021-11-11 07:21] elasticmachine commented on #118290
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 07:35] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3070#9e84c8fa-087c-4d87-97f3-9d354583232d)

[2021-11-11 08:16] mgiota opened #118293 "RFC for Alerts-as-Data Schema"
Following the RFC process documented here https://docs.elastic.dev/kibana-dev-docs/contributing/rfc-process

We want to make sure the existing RAC "alerts as data" schema is documented and understood by all relevant stakeholders.

AC:
* RFC is created and circulated

[2021-11-11 08:30] formgeist opened #118294 "[APM] Bug: Django and Flask code snippets for agent instrumentation shows `{curlyOpen}` and `{curlyClose}` instead of brackets"
**Kibana version**:

**Steps to reproduce**:
 1. Go the APM add data tutorial
 2. Choose Django or Flask agent instructions
 3. In the code snippet it reads `{curlyOpen}` and `{curlyClose}`

**Expected**

The code snippets would be correctly formated and the `{curlyOpen}` should be simply formatted as `{`

![CleanShot 2021-11-11 at 09 23 40@2x](https://user-images.githubusercontent.com/4104278/141

[2021-11-11 08:30] elasticmachine commented on #118294
Pinging @elastic/apm-ui (Team:apm)

[2021-11-11 08:31] muskangulati-qasource commented on #116273
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![7](https://user-images.githubusercontent.com/60252716/141249907-1d9c0e0b-edcc-45da-961a-c384fe7f71f5.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @academo
Thanks!

[2021-11-11 08:31] #116273 closed

[2021-11-11 08:31] muskangulati-qasource commented on #116270
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![6](https://user-images.githubusercontent.com/60252716/141249891-3e1689dd-0242-4af5-802f-2921ca618d75.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @dasansol92
Thanks!

[2021-11-11 08:31] #116270 closed

[2021-11-11 08:31] muskangulati-qasource commented on #116083
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![5](https://user-images.githubusercontent.com/60252716/141249873-948bedab-cfb8-4b08-8b98-0c8744a6cbc6.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @academo
Thanks!

[2021-11-11 08:31] #116083 closed

[2021-11-11 08:32] muskangulati-qasource commented on #116082
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![4](https://user-images.githubusercontent.com/60252716/141249863-33cfe124-ba4f-49af-874a-b19373dea95c.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @academo
Thanks!

[2021-11-11 08:32] #116082 closed

[2021-11-11 08:32] muskangulati-qasource commented on #116081
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![3](https://user-images.githubusercontent.com/60252716/141249838-a48344fb-4335-4bef-a813-f21604fb5c0e.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @academo
Thanks!

[2021-11-11 08:32] #116081 closed

[2021-11-11 08:32] muskangulati-qasource commented on #116080
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![2](https://user-images.githubusercontent.com/60252716/141249820-8e1fb7e2-f517-41c3-96db-79d3fe5c85c0.JPG)

**Query**: Initially, there is no header for the Host Isolation, Event Filter and Host Isolation Exceptions Ta

[2021-11-11 08:33] muskangulati-qasource commented on #113741
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-BC3 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![1](https://user-images.githubusercontent.com/60252716/141249806-2102a7a3-4ea8-4b66-ad48-e2c72830b72c.JPG)

Hence, closing this ticket and marking it as "Validated".

cc: @academo
Thanks!

[2021-11-11 08:33] #113741 closed

[2021-11-11 08:45] katrin-freihofner commented on #117696
@hbharding thanks for the update. Going with option A seems like a good solution to me.

[2021-11-11 08:49] formgeist opened #118297 "[APM] Consider displaying legends for the sparklines in the tables esp. for the comparison data"
# Summary

Reported by @matschaffer

The previous period when the comparison is enabled is charted in the sparkline trend in the tables. There are no legends because of the limited space and the nature of sparklines vs. larger visualizations. We could consider a help tooltip or context in another way to ensure the user understands what each of the series is.

![Services_-_APM_-_Observability_-_Ela

[2021-11-11 08:49] elasticmachine commented on #118297
Pinging @elastic/apm-ui (Team:apm)

[2021-11-11 08:51] amolnater-qasource commented on #112412
Hi @hop-dev
We have revalidated this issue on latest 7.16.0 snapshot and found this issue **still reproducible**.

**Observations:**
- Applied filters on Agent>Logs tab are not retained on navigating "Open in Logs" and then back to Agent>Logs tab.

**Screen Recording:**

**Build details:**
Build: 45910
Commit: af229de1a1dfbe3a65089c75e178351c9d49e68d

Hence we are **re-opening** this issue.
Thanks

[2021-11-11 09:05] formgeist commented on #117067
I would recommend using a `prepend` instead to not increase the height of the header.

<img width="504" alt="CleanShot 2021-11-11 at 10 04 57@2x" src="https://user-images.githubusercontent.com/4104278/141269558-ac99899c-5910-4581-8625-a97c7d42749c.png">

cc @liciavale

[2021-11-11 09:23] pgayvallet commented on #117880
This issue was already addressed globally by #112535, so I think we're safe to close this?

[2021-11-11 09:30] pheyos commented on #118251
ES endpoint has been removed. Will be fixed as part of #118240.

[2021-11-11 09:31] #117696 closed

[2021-11-11 09:35] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3075#4e7c759c-8fe9-46c0-8978-bcc1a80e5999)

[2021-11-11 09:36] gmmorris commented on #118260
cc @elastic/kibana-alerting-services as this could potentially cause rule executions to stall in an environment where reports are often generated.

[2021-11-11 09:43] danielkhan commented on #118112
@mostlyjason and I discussed the topic on another channel and concluded that we will first slightly change the entry point into the Fleet flow. This will provide a quick fix to the problem.
- https://github.com/elastic/kibana/issues/118256

A general change to the flow as discussed on this issue can be the next step.

[2021-11-11 09:49] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3075#d7f81955-f36a-48e3-8814-92a9bb43a3ce)

[2021-11-11 09:52] Houuse commented on #69636
Having same issue, 7.15

[2021-11-11 09:53] approksiu commented on #92345
@spong I would add for "Rule Details Page" the investigation guide section.

[2021-11-11 10:05] karanbirsingh-qasource opened #118304 "[Security Solution]Saved Object : Search for Connector type is not working"
**Describe the bug**
Saved Object : Search for Connector type is not working

**Build Details**
[code]

**Steps**
- Create 7.16.0 BC3 build and create any connector on it
- go to stack management > Saved object
- search for connector in type filter search bar
- Observed that search is not working ,however user is able to get connector by search with action word which old type for connector SO

**S

[2021-11-11 10:05] elasticmachine commented on #118304
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 10:05] elasticmachine commented on #118304
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-11 10:06] manishgupta-qasource commented on #118304
Reviewed & assigned to @MadameSheema

[2021-11-11 10:18] shahzad31 commented on #116229
POST FF Testing looks good
![image](https://user-images.githubusercontent.com/3505601/141280949-7d6af6e5-10b9-41b1-9cf7-94de4e0731d4.png)

[2021-11-11 10:20] #115236 closed

[2021-11-11 10:29] thomheymann commented on #100968
Resolved by #118043

[2021-11-11 10:36] amolnater-qasource commented on #116435
Hi @kpollich
We have revalidated this issue on latest 7.16.0 Snapshot Kibana cloud environment and found it **still reproducible**.

**Observations:**
- System package policies not upgraded even when settings for auto-upgrade were active.

**Build details:**
 Build: 45910
Commit: af229de1a1dfbe3a65089c75e178351c9d49e68d

**Screen Recording:**

Hence we are **re-opening** this issue.
Thanks

[2021-11-11 10:40] gayathrir1172 commented on #112976
Hi @smith @tobiasstadler @sqren I am interested on working on this issue. Can you please assign it to me ?

[2021-11-11 10:58] #117541 closed

[2021-11-11 11:12] mshustov commented on #116778
Nanoseconds aren't human-friendly. It's hard to say whether `1080000ns` is fast enough or not. However, the difference between `1ms` and `2ms` is easier to spot for a human eye.
Also, we aren't interested in small fluctuations of the `event loop` delay to justify nanoseconds usage.
IMO there is no good reason to change the current default, so I'd better do with the option `1`. Even though, changes

[2021-11-11 11:13] #102699 closed

[2021-11-11 11:13] #102704 closed

[2021-11-11 11:24] elasticmachine commented on #118274
Pinging @elastic/kibana-core (Team:Core)

[2021-11-11 11:30] #94918 closed

[2021-11-11 11:30] mshustov opened #118320 "Support more granular configuration for elasticsearch query logging"
Whenever a Kibana plugin performs a request to Elasticsearch, Kibana logs the result of the request. The problem is that all the log records have the same logging context name - `elasticsearch.query.data`. This makes it hard to find logs from a particular plugin in long logging output. Also, it doesn't allow to mute "a noisy neighbor" that can spam logs with frequent logging messages.
Supporting m

[2021-11-11 11:35] kibanamachine commented on #100570
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3081#c975be1e-9415-40b4-82c0-1825302d67d2)

[2021-11-11 11:36] samratbhadra-qasource opened #118322 "[Fleet]: The Breadcrumb breaks for long policy name."
**Describe the bug:**
The Breadcrumb breaks for long policy name.

**Build Details:**

VERSION: 7.16.0-BC3
BUILD: 45816
COMMIT:  acaa761f4ce46680fd7cfbeba03a652c72dc786b
ARTIFACT: https://staging.elastic.co/7.16.0-8dc8b6a1/summary-7.16.0.html

**Preconditions:**
Elastic 7.16.0-BC3 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Fleet tab under security app.
2. Go to the

[2021-11-11 11:36] elasticmachine commented on #118322
Pinging @elastic/fleet (Team:Fleet)

[2021-11-11 11:36] samratbhadra-qasource commented on #118322
@manishgupta-qasource Please review.

[2021-11-11 11:39] gbamparop commented on #108325
@formgeist thanks for providing this information. The APM plugin uses styled components instead of SASS and it seems that mixins are not provided in the json files (e.g. `@elastic/eui/dist/eui_theme_light.json`). We could copy the `box-shadow` css rule from `euiBottomShadowSmall` mixin and use it inside a styled component while using `euiShadowColor` variable which is available and the default opa

[2021-11-11 11:42] manishgupta-qasource commented on #118322
Reviewed & mentioned to @jen-huang

CC: @EricDavisX

[2021-11-11 11:46] formgeist commented on #108325
@gbamparop OK, that sounds like a good way to move forward while still using the EUI variables supplied 👍

[2021-11-11 11:52] sqren commented on #112976
@gayathrir1172 Great! I've assigned you. Let me know if you have any questions

[2021-11-11 12:03] ChrsMark commented on #64058
@simianhacker any updates on this? The experience looks broken now and we have got several questions about this.

[2021-11-11 12:14] banderror opened #118324 "[Security Solution] Rule Execution Log - technical debt"
**Related to:** https://github.com/elastic/kibana/issues/101013

## Summary

As part of https://github.com/elastic/kibana/issues/101013 we implemented simple rule execution logging to `.kibana-event-log-*` indices via the `event_log` plugin. There is still a lot to do from the tech standpoint, and this ticket tries to capture all the outstanding technical issues.

## To do

**New data model**

- [

[2021-11-11 12:14] elasticmachine commented on #118324
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-11 12:14] elasticmachine commented on #118324
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 12:17] #89200 closed

[2021-11-11 12:17] #89369 closed

[2021-11-11 12:30] kibanamachine commented on #100968
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3084#98f89539-a157-4bb1-9c1a-fd4715c3bafb)

[2021-11-11 12:35] #117086 closed

[2021-11-11 12:40] juliaElastic commented on #111136
@mostlyjason added package install/update telemetry, let me know if any changes are needed. You can find them in `fleet-upgardes*` index pattern here: https://telemetry-v2-staging.elastic.dev/goto/0ae0df419fe7b7cb8c40a4aa7fea5ea7

[2021-11-11 12:52] karanbirsingh-qasource opened #118331 "[Security Solution]Saved Object : 'unable find saved objects' typo in current error showing for no result found"
**Describe the bug**
Saved Object : 'unable find saved objects' typo in current error showing for no result found

**Build Details**
**Version:7.16.0
Commit:acaa761f4ce46680fd7cfbeba03a652c72dc786b
Build:45816**

**Steps**
- Create 7.16.0 BC3
- Create a Case let say name it "New Case after migration"
- Go to Stack Management > Saved Object
- Paste the case name in main search bar
- Observed that

[2021-11-11 12:52] elasticmachine commented on #118331
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 12:56] manishgupta-qasource commented on #118331
Reviewed & assigned to @MadameSheema

[2021-11-11 12:57] patrykkopycinski commented on #118331
Fixed in BC4

[2021-11-11 12:59] banderror commented on #101013
We've partially implemented rule execution logging to Event Log (v7.16), and started to read last 5 failures from it on the Rule Details page (v8.0). We will close this epic and

- focus on Rule Execution log development as a feature in https://github.com/elastic/kibana/issues/101014
- track all the outstanding technical debt in https://github.com/elastic/kibana/issues/118324

[2021-11-11 12:59] #101013 closed

[2021-11-11 13:02] patrykkopycinski commented on #118304
Fixed in BC4

[2021-11-11 13:04] ersin-erdal opened #118332 "[RAC] [Rule Registry] Explicitly set level for deprecations in PluginConfigDescriptor"
It's been decided to have levels explicitly in deprecation configs. See: #115344.
There is only one deprecation in our configs which is in [kibana/x-pack/plugins/rule_registry/server/config.ts ](https://github.com/elastic/kibana/blob/8fe23f3be51551bd5584c01999f17ebe04f2ac15/x-pack/plugins/rule_registry/server/config.ts#L12-L15)

[2021-11-11 13:06] ersin-erdal commented on #118332
Separate issue for Rule Registry plugin mentioned in #115344

[2021-11-11 13:12] #116334 closed

[2021-11-11 13:14] #101734 closed

[2021-11-11 13:17] elasticmachine commented on #118288
Pinging @elastic/kibana-core (Team:Core)

[2021-11-11 13:18] michaelolo24 commented on #114965
@deepikakeshav-qasource can you please verify this is fixed on BC4? Thank you!

[2021-11-11 13:20] mistic commented on #100570
This test keeps failing and looks flaky. Skipping it for now.

main/8.1: 589cf5b

[2021-11-11 13:22] mistic commented on #100968
@thomheymann looks like it was not enough to fix the flaky test as it failed again

[2021-11-11 13:30] kevinlog commented on #116080
@muskangulati-qasource this is expected.  We added a change to remove the headers for the Artifact pages.  Details in this ticket: https://github.com/elastic/security-team/issues/1875

[2021-11-11 13:30] #116080 closed

[2021-11-11 13:33] banderror commented on #106469
We've partially implemented rule execution logging to Event Log (v7.16), and started to read last 5 failures from it on the Rule Details page (v8.0) ([ticket](https://github.com/elastic/kibana/issues/101013)). I'm going to close this one and we will

- focus on Rule Execution log development as a feature in https://github.com/elastic/kibana/issues/101014
- track all the outstanding technical debt

[2021-11-11 13:33] #106469 closed

[2021-11-11 13:34] jasonrhodes commented on #110943
@katrin-freihofner / @elastic/actionable-observability can we confirm if this is still a bug?

[2021-11-11 13:38] jasonrhodes commented on #115344
@pgayvallet can you confirm if we should or should not add levels to the "enabled" deprecations in any/all plugins?

[2021-11-11 13:38] mostlyjason commented on #118112
@jen-huang I still think we should improve these instructions due to the bug shown in the screenshot above. This confuses users who can't tell the difference between installing a Fleet Server and installing Elastic Agent. Can you determine the best way to schedule it?

[2021-11-11 13:46] #101717 closed

[2021-11-11 13:52] banderror commented on #103782
We're going to address it as part of https://github.com/elastic/kibana/issues/117029

[2021-11-11 13:57] michaelolo24 commented on #117942
@karanbirsingh-qasource can you please confirm this is fixed on BC5 ? Thank you!

[2021-11-11 13:57] ryankeairns commented on #117246
While I understand what this issue is addressing, I feel the proposed solutions need further discussion.

To @phanithinks question, what would be preferable here is a solution that support both an enumerated list of suggested sizes AND the option to manually type in a value. For me, the former is essential to arriving at a consistent visual look and scale.

Regarding the shorter row, I too appreci

[2021-11-11 14:02] lizozom commented on #54595
@stacey-gammon

This dashboard shows the testing time on **Jenkins** per branch for https://kibana-stats.elastic.dev/app/dashboards#/view/864f73a0-2445-11ec-b352-638a4b88b6c5?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1y%2Fd,to:now)).

However, now that we moved to buildkite, I need to recreate the dashboard with that data.
If you like the old ones and @tylersmalley or anyon

[2021-11-11 14:07] lizozom commented on #99328
Note https://github.com/elastic/cloud/pull/90839#issuecomment-960942239
As a first stage, we might opt into pre-configuring apm and only allowlisting the `active` flag.

[2021-11-11 14:07] banderror opened #118342 "[Security Solution][Detections] Clean up route handlers and request context"
**Related to:** https://github.com/elastic/kibana/pull/114467

## Summary

In https://github.com/elastic/kibana/pull/114467 a lot of dependencies were added to the request context of the Security Solution's router. That means now, instead of passing them explicitly via parameters of a router factory, or building them inside a router handler, the handler can just get them from the context:

- [ ] A

[2021-11-11 14:07] elasticmachine commented on #118342
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-11 14:07] elasticmachine commented on #118342
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 14:08] #116284 closed

[2021-11-11 14:11] banderror opened #118346 "[Security Solution] Linting: forbid ts-expect-error comments"
**Related to:** https://github.com/elastic/kibana/pull/114467

## Summary

Two `ts-expect-error` comments caused a bug in the Security Solution -- Fleet integration. Could we just forbid them? 🙂

[2021-11-11 14:11] elasticmachine commented on #118346
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-11 14:11] elasticmachine commented on #118346
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 14:11] mostlyjason commented on #117821
Thanks @katrin-freihofner! Work to improve the add agent flyout is already in the design queue with @dborodyansky. I hope we can address this soon.

[2021-11-11 14:14] banderror opened #118349 "[Security Solution] Linting: add checks for unhandled promises"
## Summary

In order to be able to catch bugs in the code like this one https://github.com/elastic/kibana/pull/118171, is it possible to check for unhandled promises via a linter rule or any other way?

[2021-11-11 14:14] elasticmachine commented on #118349
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-11 14:14] elasticmachine commented on #118349
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-11 14:17] watson commented on #88678
Bluebird removed ✅

[2021-11-11 14:34] kibanamachine opened #118356 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/spaces_selection·ts - Spaces app Spaces Search spaces in popover allows user to search for spaces"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/3090#1be0ab61-5656-4731-bb42-c71140f71765)

[2021-11-11 14:35] criamico opened #118357 "[Fleet] Adding an agent policy with a unique name triggers an error"
**Kibana version:**
8.0.0

**Describe the bug:**
Adding an agent policy with "Collect system logs and metric" checkbox enabled triggers the error  `There is already a package with the same name`. This doesn't happen when adding the first agent policy (like the first time the system gets setup), but happens subsequently, likely because the checkbox automatically adds a package policy for `system`.

[2021-11-11 14:35] elasticmachine commented on #118357
Pinging @elastic/fleet (Team:Fleet)

[2021-11-11 14:38] jasonrhodes commented on #112354
@elastic/actionable-observability we need to confirm if this is a bug and figure out what's happening if it is, or close this with an explanation if not

[2021-11-11 14:43] cauemarcondes commented on #118294
@formgeist I don't think there will be more releases for 7.15!

[2021-11-11 14:44] formgeist commented on #118294
@cauemarcondes Ah, you're right - release just passed

[2021-11-11 14:44] mshustov commented on #117282
Ok, it sounds reasonable. CSS also has drawbacks: it's hard to get the current value, a bit more sophisticated testing, CSS can be overwritten, etc.
We might need to provide both `enable`/`disable` counterparts to make sure the operation is revertable.

[2021-11-11 14:48] kibanamachine commented on #113082
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/346#37521ba8-faf9-4692-b98f-6b976321c916)

[2021-11-11 14:48] katrin-freihofner opened #118361 "[Fleet] Guidance for adding integrations"
The current workflow of adding data is scattered across multiple views. Especially for new users, this can be tricky.

## 1. Switch to a single view with multiple steps
@dborodyansky created [this concept](https://www.figma.com/file/RVYNk5W3gyJdWOGDj8ixPH/Fleet?node-id=1486%3A279812) of a single view with multiple steps we should follow up on.

<img width="869" alt="Screenshot 2021-11-11 at 14 06

[2021-11-11 14:51] jasonrhodes opened #118362 "[Unified Observability] New overview page POC criteria R&D"
We have some good product direction on where we would like to evolve the Observability Overview page. Our next step is to solidify the MVP design and technical requirements for building something along these lines.

## Wireframes

<img width="1097" alt="Screen Shot 2021-11-11 at 9 46 14 AM" src="https://user-images.githubusercontent.com/159370/141317811-255063d3-1fc0-4da4-8b6c-63f3e25d370c.png">

[2021-11-11 15:20] jasonrhodes commented on #115808
I think this could easily eat up many many dev cycles on trying to figure out the non-functional requirements of making these IDs work when we already have UUIDs that do what we need, so I want to push back a bit on the importance here before we commit to that much eng work. I totally understand why we want these, but I like @oatkiller's suggestion of using GitHub's model of the first 6 characters

[2021-11-11 15:24] #117648 closed

[2021-11-11 15:27] lucabelluccini commented on #106345
Hello @jpountz - I totally agree the improvements were great in 7.7, but there are situations where it is still useful to have such stats. Please check the issue linked above this message.

[2021-11-11 15:27] alexfrancoeur opened #118368 "Inconsistent card name and icon for web crawler on integrations page"
![image](https://user-images.githubusercontent.com/25181823/141324083-17e49502-1c35-45ce-bd6f-f9f2cf712940.png)

I'm not sure what the preferred name is here, either works, but we should probably keep them consistent. The same could be said for the icon. This is the latest 7.16 snapshot on cloud (as of yesterday)

cc: @yakhinvadim @bhuvanaurora @dborodyansky

[2021-11-11 15:30] elasticmachine commented on #118356
Pinging @elastic/kibana-security (Team:Security)

[2021-11-11 15:31] #115791 closed

[2021-11-11 15:32] bhuvanaurora commented on #118368
+ @zumwalt

[2021-11-11 15:32] alvarezmelissa87 commented on #117660
Closed via https://github.com/elastic/kibana/pull/117959

[2021-11-11 15:32] #117660 closed

[2021-11-11 15:32] elasticmachine commented on #118361
Pinging @elastic/fleet (Team:Fleet)

[2021-11-11 15:39] #117834 closed

[2021-11-11 15:39] thomheymann opened #118372 "Interactive setup shouldn't allow connecting with incompatible version of ES"
**Kibana version:**
8.1

**Elasticsearch version:**
7.x

**Describe the bug:**

Interactive setup allows configuring Kibana to connect to an incompatible version of ES.

**Steps to reproduce:**
1. Checkout main branch (8.1)
2. Start interactive setup: `yarn start --no-dev-credentials`
2. Manual configuration
3. Enter address to 7.x cluster and click 'Check address'
4. Enter credentials and click '

[2021-11-11 15:39] elasticmachine commented on #118372
Pinging @elastic/kibana-security (Team:Security)

[2021-11-11 15:45] jbudz commented on #117173
Resolved by https://github.com/elastic/kibana/pull/118114

[2021-11-11 15:52] #106967 closed

[2021-11-11 15:56] #116714 closed

[2021-11-11 15:57] #117005 closed

[2021-11-11 15:57] tylersmalley opened #118379 "ES snapshot promotion should maintain history of promotions"
With load testing, we will want to compare changes to a previous version of Elasticsearch.

Not all builds of Elasticsearch are compatible due to breaking changes, so we maintain our own daily Elasticsearch snapshots through a [verification process](https://www.elastic.co/guide/en/kibana/current/development-es-snapshots.html).

For this, the promotion process should provide a JSON file with histor

[2021-11-11 15:57] elasticmachine commented on #118379
Pinging @elastic/kibana-operations (Team:Operations)

[2021-11-11 16:03] katrin-freihofner commented on #110943
I think this is still an issue, here is a screenshot I took in our edge environment:
<img width="924" alt="Screenshot 2021-11-11 at 17 02 46" src="https://user-images.githubusercontent.com/20965076/141329659-689f372c-48ec-4d3f-b960-841df798a460.png">

[2021-11-11 16:11] afgomez commented on #118362
Regarding the time selector, do we plan to add the standard Kibana datepicker or do we want to only show the options visible in the mockup

[2021-11-11 16:12] ryankeairns opened #118381 "[Discover] Design exploration 8.X"
**A future look at Discover+**

Tie the following capabilties into a cohesive user experience:
- temp index patterns,
- alerts,
- field stats UX,
- Maja’s home page concept,
- leverage runtime fields in more intuitive ways,
- integrate/embed Lens visualizations, etc

[2021-11-11 16:13] jbudz commented on #113082
Added a skip for 7.15: 06371e918b892d4ff33db5e6074cf62bf26557cf

[2021-11-11 16:14] elasticmachine commented on #118381
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-11 16:17] ryankeairns opened #118383 "[Dashboard] [Canvas] [Space Time] Design exploration 8.X"

[2021-11-11 16:27] ryankeairns opened #118386 "[Discover] Provide direct link from sample data UI"
Upon adding sample data, people are presented with the following options in the sample data UI:

<img width="455" alt="Screen Shot 2021-11-11 at 10 29 35 AM" src="https://user-images.githubusercontent.com/446285/141333716-5b936268-64ba-447b-befc-7d19dc7e4295.png">

Anecdotally, we are rather certain that - upon adding any data - people navigate to Discover in order to view, validate, and explore.

[2021-11-11 16:29] TinaHeiligers commented on #116778
Is there a list of default units Kibana uses somewhere? If not, maybe it might be a good idea to document that, both for development guidance and for end-users.

[2021-11-11 16:35] jasonrhodes commented on #115808
This is the GitHub method that @oatkiller and I are referring to, for reference (I _think_ they are just using the first 6-7 chars):

<img width="1330" alt="_Fleet__Implement_Settings_new_design_for_fleet_server_hosts_by_nchaulet_·_Pull_Request__118385_·_elastic_kibana" src="https://user-images.githubusercontent.com/159370/141334316-5e970605-77e8-466b-8709-78e0dbf42464.png">

[GitHub Docs](https:/

[2021-11-11 16:37] tsullivan commented on #118260
I believe this issue goes back to the first implementation of PDF export. See: https://github.com/elastic/x-pack/blob/0216af4480640f81d4b134d73274ca43f6db4d59/kibana/plugins/reporting/server/lib/pdf.js#L89-L91 (link to private repo)

[2021-11-11 17:04] dej611 opened #118391 "[Lens] Move dimension editor form style from Column layout to row-based compressed layout"
**Describe the feature:**

Starting from the design for the #95079 feature, a layout shift has been proposed for the Lens dimension editor flyout to the row-based compressed form layout:

<img width="270" alt="Screenshot 2021-11-11 at 18 02 21" src="https://user-images.githubusercontent.com/924948/141338840-9c02073f-2244-4856-bb1a-65f486ff5ec2.png">

This should be applied to all dimension editor

[2021-11-11 17:04] elasticmachine commented on #118391
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-11-11 17:04] #117815 closed

[2021-11-11 17:10] Dosant commented on #118165
Not sure what is the plan about merging to strategies, but at some point we thought of moving rollup search into its own strategy https://github.com/elastic/kibana/pull/98122

[2021-11-11 17:17] timroes commented on #118165
The problem that I'd see about that (but I could have a false understanding here): The consumer of the API needs to select the strategy, meaning whoever wants to use a search strategy then would suddenly need to do a check: is the index pattern rollup, if so get a different search strategies and request it. That makes imho consumption of the search service significantly more complex. Looking throu

[2021-11-11 17:20] gmmorris opened #118394 "[Saved Objects] Error message on import of an SO from a newer version isn't explicit enough about a behaviour not being supported"
**Kibana version:** 7.15.2

**Describe the bug:**
The error message when you try to import an SO from 7.16.0 into 7.15.2 isn't entirely clear and the copy could be improved.
This functionality isn't supported as per the [docs]( https://www.elastic.co/guide/en/kibana/current/managing-saved-objects.html#_compatibility_across_versions):

The error message isn't entirely clear about that which caused

[2021-11-11 17:20] elasticmachine commented on #118394
Pinging @elastic/kibana-core (Team:Core)

[2021-11-11 17:25] mattkime commented on #74218
closing in favor of https://github.com/elastic/kibana/issues/113061

[2021-11-11 17:25] #74218 closed

[2021-11-11 17:27] mattkime commented on #45135
closing in favor of https://github.com/elastic/kibana/issues/113061

[2021-11-11 17:28] mattkime commented on #114361
closing in favor of https://github.com/elastic/kibana/issues/113061

[2021-11-11 17:28] #114361 closed

[2021-11-11 17:33] elasticmachine commented on #116025
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-11 17:35] LeeDr opened #118396 "Filter Discover time filter choices based on timepicker span"
**Describe the feature:**  Provide limited Discover date histogram interval selections based on the current timespan.

**Describe a specific use case for the feature:**. Currently in Discover, when you try to change the bucket intervals for the date histogram you're presented with a static list of 8 interval sizes ranging from Millisecond to Year.  But for any given timespan only a few of those in

[2021-11-11 17:36] elasticmachine commented on #118396
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-11 17:36] pmuellr opened #118397 "[task manager] make task state size observable"
We've recently gotten worried about the potential for the alerting rule state to become extremely large - it's a JSON object returned from the rule executor, stored in task manager documents, and we have no bounds on the size.

So, somehow we should be tracking these, and providing some kind of o11y so we can recognize tasks (eg rules) which have state that could become problematic because of the

[2021-11-11 17:36] elasticmachine commented on #118397
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-11 17:37] katefarrar commented on #91545
Will be resolved by https://github.com/elastic/kibana/pull/115854

[2021-11-11 17:37] #91545 closed

[2021-11-11 17:38] kibanamachine commented on #115685
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/3097#6584bed3-e975-4b29-8aec-c51fc39eb89c)

[2021-11-11 17:39] ryankeairns opened #118399 "[Discover] Add a home page"
Tracks @majagrubic 's PoC home page concept

**Description**
Add a Discover home page similar to other Analytics home pages such as Dashboard, Canvas, and Visualize library

- Consider bypassing this home page in favor of the last viewed Discover saved object (if one exists in local storage)
- Consider adding other capabilities such as creating new data views (fka index patterns) via the new flyou

[2021-11-11 17:39] elasticmachine commented on #118399
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-11 17:39] elasticmachine commented on #118399
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-11 17:40] jbudz commented on #115685
@smith any thoughts on 7.16 here?  It looks like #117028 wasn't backported that far.

[2021-11-11 17:46] ryankeairns commented on #80514
Per Product, this is blocked until we have an overall plan for the Analytics product set.

[2021-11-11 17:46] ryankeairns commented on #94938
Per Product, this is blocked until we have an overall plan for the Analytics product set.

[2021-11-11 17:55] jasonrhodes commented on #117614
@matschaffer I'm not 100% clear on which parts of these 2 tickets are absolutely required for 8.0 vs. things that are planned for later in order to support the eventual need for more than 1 process.

I think the idea in this ticket is to resolve how to read from old data that still references `process`, is that right? Can we query for both in 8.0+ and combine them in the code for now, as an option

[2021-11-11 18:01] lukeelmers commented on #118394
I guess the question is whether we should change the error thrown from migrator itself, or catch this error in the SOM UI and display it differently.

Maybe we could just add a bit more detail to the existing error?

[code]

[2021-11-11 18:02] lucasfcosta opened #118404 "[Uptime] Users can't save ML Job alerts and see error when they don't have write access to uptime"
**Kibana version:** 8.1.0 (Source - Hash: `a51a04b`)

**Elasticsearch version:** 8.1.0 (Remote cluster configured for CCS)

**Server OS version:** MacOS 11.6 Big Sur

**Browser version:** Version 95.0.4638.69 (Official Build) (x86_64)

**Browser OS version:**  MacOS 11.6 Big Sur

**Original install method (e.g. download page, yum, from source, etc.):** Running Kibana from source, and connecting it

[2021-11-11 18:02] elasticmachine commented on #118404
Pinging @elastic/uptime (Team:uptime)

[2021-11-11 18:03] peteharverson opened #118405 "[ML] Transforms: Add reset action"
A reset API has been added to transforms for v8.1.0 - see https://github.com/elastic/elasticsearch/pull/79828, which resets the transform, taking it back to a fresh (newly created) state. A 'Reset' action should be added to the transforms in the management table.

[2021-11-11 18:03] elasticmachine commented on #118405
Pinging @elastic/ml-ui (:ml)

[2021-11-11 18:13] mshustov commented on #116778
I don't know to be honest, but I think there is no one-fits-all solution. The units are domain-specific: for performance metrics, we can use `nanoseconds`; for a backup copying period we can specify `seconds` or `minutes`.
We can start with adding units in form of the comments for the Core public API. Probably, Monitoring caught the problem earlier if Core documented `event_loop_delay_histogram` u

[2021-11-11 18:16] #114594 closed

[2021-11-11 18:24] yiyangliu9286 commented on #117029
Just a note @vitaliidm, after chatted with @jethr0null, we have agreed that for `Tags` treatment in `Rule management table` we will go with tags badge design same with Stack management, just showing the number of tags in the table + Popover to show an overall view of the full tags for that rule. See attached designs:
<img width="791" alt="Screen Shot 2021-11-09 at 1 33 46 PM" src="https://user-ima

[2021-11-11 18:36] pmuellr commented on #117513
It would be ideal if we could recognize rules that WERE running in THIS Kibana instance previously, when it shutdown, and "do something special" with them, to keep them from waiting for the 5 minute timeout.

In terms of what we _could_ do, **during** shutdown:

Shutdown logic is currently limited to 30 seconds by Kibana core, which will certainly NOT be enough time for some rules to complete.  Bu

[2021-11-11 18:36] kibanamachine opened #118417 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/ml·ts - ml for user with full ML access with data loaded data frame analytics outlier job exploration page"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3101#27dfab06-3379-4310-b6b0-450f4da5663d)

[2021-11-11 18:42] mattkime commented on #116763
Hello @b0lle - Could you post a HAR file that captures the problem? Also ensure you've provided the correct privileges - https://www.elastic.co/guide/en/kibana/current/index-patterns.html#index-patterns-read-only-access

[2021-11-11 18:46] stacey-gammon commented on #54595
yea, I think this dashboard is useful to have. Looks like I can use the data to see how long master/main is red for.

[2021-11-11 19:09] thomasneirynck opened #118421 "[Maps] Propogate request cancellations for mvt endpoints"
The Maps application does not propagate a http-request cancellation on it's getTile-endpoints to the underlying request to Elasticsearch.

It needs to call the `abort`-method on the promise of the transport-client

[2021-11-11 19:09] elasticmachine commented on #118421
Pinging @elastic/kibana-gis (Team:Geo)

[2021-11-11 19:18] thomasneirynck opened #118422 "[Maps] Allow for full mvt prevision for aggs"
**Describe the feature:**

Kibana Maps super-fine resolution uses a grid_precision of 7) 128x128 buckets). It could request up to 8 (256x256 buckets) per tile.

The increase in precision would benefit display of sparsely distributed point data, e.g. GPS-tracks.

Especially at zoomed-out levels, we'd get less of a pixelation effect.

e.g.

_Precision 8_ (proposed)
![image](https://user-images.githu

[2021-11-11 19:18] elasticmachine commented on #118422
Pinging @elastic/kibana-gis (Team:Geo)

[2021-11-11 19:18] thomasneirynck commented on #118422
cc @iverase

[2021-11-11 19:21] hbharding commented on #117697
@cyrille-leclerc @alex-fedotyev @drewpost I assigned you each to a section for you to review. I wasn't quite sure who to assign to Logs and Metrics. Let me know if there is someone else I should tag.

@gchaps we'd love your input / feedback on the proposed text changes if you have time.

[2021-11-11 19:24] thomasneirynck commented on #118422
For more dense coverage data, the results are similar:

_precision 8_

![image](https://user-images.githubusercontent.com/1833023/141356473-c23f85aa-c48b-4873-91b3-9177168f85bd.png)

vs

_precision 9_

![image](https://user-images.githubusercontent.com/1833023/141356646-c7beed0c-29da-40df-be6c-d57ff954f705.png)

[2021-11-11 19:26] nreese commented on #118422
considering we are still in 8.0-beta, I think it would be fine to backport this change to 8.0

For the theme of making kibana simple, I do not think it would be in our best interest to expose yet another configuration knob.

How would this change impact https://github.com/elastic/kibana/issues/105079?

[2021-11-11 19:28] andrewctate commented on #96778
From convo with @flash1293: the current page shouldn't survive a navigation event or a browser page refresh, however it _must_ survive a dashboard data refresh.

[2021-11-11 19:31] kpollich opened #118423 "[Fleet] Fix Fleet Setup to handle concurrent calls across nodes in HA Kibana deployment"
Currently, Fleet tracks the status of the `setup` process in [memory](
https://github.com/elastic/kibana/blob/a906706da84b3aec0a4bccb8569565c849ad5e22/x-pack/plugins/fleet/server/services/setup_utils.ts).

Because of this, it's possible that multiple concurrent calls to `setup` can occur in environments with multiple Kibana instances. This introduces multiple issues such as

1. Potential for dupli

[2021-11-11 19:31] elasticmachine commented on #118423
Pinging @elastic/fleet (Team:Fleet)

[2021-11-11 19:31] kibanamachine commented on #100968
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3106#48d787e8-2ad6-41f0-b808-fe9838206e6d)

[2021-11-11 19:38] banderror commented on #115537
@karanbirsingh-qasource the issue has been addressed and backported to 7.16. Should be available in BC5. Thank you.

[2021-11-11 19:50] jasonrhodes commented on #113754
For step 1, I think we just need to change the value and make sure that 8.0 works with the new data format. That will be highest priority for the breaking change.

As a follow up, we should get clarity from product on which of the options above we are ok with. I'm going to update the ticket description now to this effect.

[2021-11-11 20:03] #114625 closed

[2021-11-11 20:05] qn895 opened #118427 "[ML] Could not save changes when editing Anomaly Detection job's datafeed"
**Kibana version:** main

**Elasticsearch version:** 8.1.0

**Steps to reproduce:**
1. Start a Anomaly detection job and start and stop the datafeed
2. Edit the job's datafeed then save

**Expected behavior:**
The new datafeed query should be saved

**Screenshots (if relevant):**
<img width="1207" alt="Screen Shot 2021-11-11 at 14 02 01" src="https://user-images.githubusercontent.com/43350163/1413

[2021-11-11 20:05] elasticmachine commented on #118427
Pinging @elastic/ml-ui (:ml)

[2021-11-11 20:08] andrewctate commented on #96778
@flash1293 @ghudgins — also worth noting that the underlying component supports user-facing page size configuration UI.

<img width="200" alt="Screen Shot 2021-11-11 at 2 05 16 PM" src="https://user-images.githubusercontent.com/315764/141361763-5256d4f3-1c49-4541-bcc8-44a0a74d8be0.png">

[2021-11-11 20:12] flash1293 commented on #96778
@andrewctate good point - to me it seems like the Lens toolbar is a better place for this as it seems like we would anyway need a switch there to turn pagination on so its simpler to put the page size in there as well, but no strong opinion from my side how this setting is exposed.

[2021-11-11 20:26] #110640 closed

[2021-11-11 20:31] thomasneirynck commented on #105079
I think we can close this. Cannot repro with vector tile search api.

[2021-11-11 20:31] #105079 closed

[2021-11-11 20:33] rudolf commented on #116778
Can you test what happens on 7.15 or 7.14? I'm not sure when this regression was introduced, but it used to show the correct value. I would guess that we always used to store `ms` values but that the Nodejs v16 upgrade changed the unites to `ns`.

If this is the case, I think we should continue to store these values in `ms` so that a user can compare event-loop monitoring data from before and afte

[2021-11-11 20:34] thomasneirynck commented on #118422
I would agree.

+1 on backporting this change to 8.0.

That seems to have been an artefact of using the regular _search API, where the query caused an overflow the 65k bucket limit (because the tornadoes were long shapes, extending way beyond the requested tile-bounds) and capturing more buckets that way. I don't think this can occur anymore with the new vector tile search API. Will let @iverase c

[2021-11-11 20:34] jasonrhodes commented on #117885
I think it's possible that the best fix for this is to remove the "mbParams" altogether as part of the switch to removing metricbeat* from our queries. @estermv can you coordinate with @neptunian to see if this is fixed by that work? If so it may be worth backporting those changes to 7.16 or 7.16.1...

[2021-11-11 20:35] jasonrhodes commented on #104271
@matschaffer not sure I follow? We can remove metricbeat-* anytime, but yes we will have to solve the issue you mention before we can add metrics-*

[2021-11-11 20:36] kibanamachine commented on #118417
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/3107#046269da-b2d1-4025-9389-ef8f541ea80c)

[2021-11-11 20:39] kibanamachine commented on #118417
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/3109#0f52b69b-bc80-44d9-b7f3-69144d5ac6b7)

[2021-11-11 20:50] 1Copenut commented on #87790
I spotted this again today in a sample data set while reviewing another ticket. The modal is using a React portal, so the DIV is added to the DOM a long way away from the element that triggered it. When users press the `TAB` key, focus moves to the next element in the standard focus order, and the modal closes.

Announcing the modal without a user opting in or clicking a button to open it feels di

[2021-11-11 20:52] pmuellr commented on #87048
This still sounds like the best idea to me, but the second comment above is an interesting twist.  Sorta feels like a rule could opt-in to providing it's own recover processing, in which case alerting would **NOT** provide the automatic recover processing.

I think the scariest thing about this is thinking about all the edge cases.  For instance, with our current rule disable processing, we "recov

[2021-11-11 20:53] ryankeairns opened #118429 "[Dashboard] [META] Aesthetic by default"

[2021-11-11 20:58] #92522 closed

[2021-11-11 20:59] ymao1 commented on #87048
[POC for explicit recovery API](https://github.com/elastic/kibana/pull/118416)

With this POC, we are attempting to maintain the availability of consistent context variables for a rule type across all of its action groups. We do this by allowing rule executors the ability to retrieve the list of recovered alert IDs during an execution and allowing rule executors the ability to explicitly specify c

[2021-11-11 21:04] kibanamachine opened #118432 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_search_on_page_load·ts - discover app usage of discover:searchOnPageLoad when it's false should fetch data from ES after refreshDataButton click"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/3108#efdf9e62-db0b-4448-9fec-f81e4c6ead12)

[2021-11-11 21:08] ghudgins commented on #96778
if pagination is enabled it would be cool for this to then show up at the bottom of the table where it is in other places. mirrors the fact we don't put sort options in the lens toolbar

[2021-11-11 21:20] elasticmachine commented on #118417
Pinging @elastic/ml-ui (:ml)

[2021-11-11 21:23] michaelolo24 commented on #117810
@karanverma-qasource and @MadameSheema this actually isn't a bug. When timeline is exported the associated alert/event isn't exported with it. So the only way this would work is if it was imported into an environment that actually has that event in ES somewhere.

What this does show though is that we should consider an enhancement where we start to notify the user of the information that could not

[2021-11-11 21:25] jbudz commented on #118417
skipped

main: 643241d54cbc05557359acb198fcd57af681e80b
8.0: 4229be455d1960494fc8c21bbe948e8dc86b8edb
7.16: ba47448a8ce1455995bc070c59c4a87b1d0c5a55

[2021-11-11 21:32] kibanamachine commented on #118356
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/3111#b5103509-684e-4007-b4e6-5ab8b85f3d8c)

[2021-11-11 21:33] andrew-goldstein commented on #117810
This enhancement could provide a summary count of the pinned events that weren't found, which may a subset of the pinned events, e.g.:

[code]

and an expandable details view that displays the missing `_id`s, so they may be retrieved from cold storage if, for example, they aged out the index via ILM.

[2021-11-11 21:38] VimCommando commented on #114361
In the meantime, how am I supposed to identify the indices and impacted fields if I'm running a version where conflict fields are not clearly identified? Since 7.16 is already out, it is going to be run for a very long time.

[2021-11-11 21:52] #115781 closed

[2021-11-11 21:55] elasticmachine commented on #118432
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-11 21:57] sqren opened #118436 "[APM] Metric-powered correlations"
The correlations feature in APM is currently based on transaction events and will therefore become inaccurate as the sampling rate decreases.
Transaction metrics events doesn't only retain very few dimensions and can therefore not be used as a direct replacement for transaction events.

Together with the ML team we should investigate whether correlations should be based on a hybrid model that uses