[2020-12-23 11:52] deepikakeshav-qasource commented on #86884
@manishgupta-qasource Please review

[2020-12-23 11:56] Shaybs opened #86885 "[BUG?] Null pointer exception?"
null_pointer_exception
Cannot invoke "org.elasticsearch.search.aggregations.InternalAggregations.getSerializedSize()" because "reducePhase.aggregations" is null

Error
    at Fetch._callee3$ ([url]/36063/bundles/core/core.entry.js:6:59535)
    at l ([url]/36063/bundles/kbn-ui-shared-deps/kbn-ui-shared-deps.js:380:1740520)
    at Generator._invoke ([url]/36063/bundles/kbn-ui-shared-deps/kbn-ui-shar

[2020-12-23 12:00] manishgupta-qasource commented on #86884
Reviewed & Assigned to @MadameSheema

[2020-12-23 12:00] #86774 closed

[2020-12-23 12:03] Shaybs commented on #86885
![Working](https://user-images.githubusercontent.com/41239922/102994338-c6b0ba80-4516-11eb-8376-9378521e4c0c.png)
![Screenshot 2020-12-23 120208](https://user-images.githubusercontent.com/41239922/102994344-ca444180-4516-11eb-9f73-4e7e3623a837.png)

[2020-12-23 12:03] Shaybs commented on #86885
Sometimes it's working sometimes it's not? It's so confusing.

[2020-12-23 13:16] VladLasitsa commented on #86731
I think it's really important problem for us because I can reproduce it on dashboards if set auto-refresh. This flicking can cause irritate users when they want see actual data in dashboards and set auto-refresh. Foe example I set auto-refresh in 7.10 and no flickering:
![save_query2](https://user-images.githubusercontent.com/16915480/102998907-2ae47600-4539-11eb-87c2-f8bc6797db24.gif)

But on mas

[2020-12-23 13:34] SDB016 opened #86892 "I have a question about detect anomalous web access logs."
**Describe the feature:**
machine learning (detect anomalous web access logs)

**Describe a specific use case for the feature:**
Hello
First of all, since I'm new to Elastic and Kibana services, it's a basic question, but I've been having problems for a long time and ask this question.
Currently, I brought web access logs in Linux environment to kibana using filebeat, logstash, and elastic-search.

[2020-12-23 13:53] EricDavisX commented on #86742
Does this prevent any other functionality from working @karanbirsingh-qasource ?
We might downgrade it to 'high' - but it is embarrassing in a way so I'd still be in favor (even if not impactful, of researching what is going on and possibly pursuing a short term fix.

I can't think of many changes that went in late to the Fleet / Agent project that would impact this, except the Agent-protection fr

[2020-12-23 14:06] EricDavisX commented on #86766
@ferullo is this one for your group to research or you want the Agent side to poke it first?  @ph I tried to get a quick second opinion on our 8.0 based Demo / Test env but it has a deploy problem so could not tell us anything - but even just days ago it was working fine to deploy to Win 2019 daily (I think last time I checked was before the 7.11 BC1 build)

[2020-12-23 14:10] paul-tavares commented on #79450
Thanks @muskangulati-qasource . In that case, lets close this one out. I did fix the issue in the Fleet side as indicated above and we can track the Endpoint list issue in the new ticket.

👍 ?

[2020-12-23 14:12] EricDavisX commented on #86864
I was seeing this problem as follows on the 8.0 based Ingest / Endpoint demo & test env:
 it is having a problem where the GET to https://kibana.endpoint.elastic.dev/api/fleet/agents/setup
 is throwing a 500.  Have the API calls called due to the Fleet Server check-ins or any other reason we can think of?

[2020-12-23 14:12] EricDavisX commented on #86864
@nchaulet @ph

[2020-12-23 14:14] EricDavisX commented on #86883
I thought we had logged this already that the Inactive Filter just wasn't working, we could look for the dupe.  But it is not as urgent, removing 'high' impact label.

[2020-12-23 14:21] EricDavisX commented on #86882
@neptunian @ph who can look at this if Sandra is moved to a different area. @michalpristas not sure if Agent is sending the data to support showing it in the UI?

[2020-12-23 14:25] EricDavisX commented on #86879
@hbharding is this something UX has a recommendation on.... want to do a quick fix (presuming) for it?

[2020-12-23 14:43] #86373 closed

[2020-12-23 15:19] hbharding commented on #86369
We should use "Agent Policies" to avoid ambiguity. I might rearrange the text so that it's a little more consistent with how we show counts in our tables. I prefer the right option in the screenshot below.

![image](https://user-images.githubusercontent.com/847805/103011583-2ce21100-4508-11eb-9943-0f7c1331b7c7.png)

[2020-12-23 15:22] #86731 closed

[2020-12-23 15:23] ferullo commented on #86766
Is test signing enabled or disabled on this machine?

[2020-12-23 15:35] tylersmalley opened #86898 "Remove platform from root directory in archives"
When extracting the archives, we're currently including the platform type in the root directory.

Example:

`kibana-7.10.1-linux-x86_64.tar.gz` extracts to `kibana-7.10.1-linux-x86_64`

Elasticsearch made the change to remove the platform, and we should conform to that as well as a breaking change in 8.0

[2020-12-23 15:35] elasticmachine commented on #86898
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-23 17:54] ymao1 commented on #64271
This enhancement looks like it's been added. I see a dropdown for both the Index Connector and the Index Threshold alert for selecting an ES index

<img width="766" alt="Screen Shot 2020-12-23 at 12 52 21 PM" src="https://user-images.githubusercontent.com/13104637/103024471-e8617000-451d-11eb-97ba-021c9d034b39.png">
<img width="597" alt="Screen Shot 2020-12-23 at 12 52 34 PM" src="https://user-ima

[2020-12-23 17:54] #64271 closed

[2020-12-23 19:25] #85236 closed

[2020-12-23 20:01] wylieconlon commented on #77062
Definitely a bug. Seems like the schema should be made less restrictive.

[2020-12-23 20:13] #74574 closed

[2020-12-23 20:26] thomasneirynck opened #86915 "[Maps] Won't show all available index patterns if there are more than 100 index patterns"
The index-pattern selection for ES-layers won't show all available index-patterns with geo_* fields if there are more than 100 index patterns. This is because the `IndexPatternSelect`-component caps retrieval to the first 100 index patterns.

https://github.com/elastic/kibana/blob/a8d5b778eef36329ebe6275c2a9bf0a63073e85e/src/plugins/data/public/ui/index_pattern_select/index_pattern_select.tsx#L117

[2020-12-23 20:26] elasticmachine commented on #86915
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-23 20:46] bhavyarm commented on #86892
Can you please post the question here? https://discuss.elastic.co/  Thanks!

[2020-12-23 20:46] #86892 closed

[2020-12-23 20:46] igoristic opened #86917 "[Monitoring] Rison error if cluster_uuid starts with a dash"
If a cluster id starts with a dash eg: `-spo1mUvTvy8jow-NXjQ` it will give the following error:
![102091772-8f0f8780-3e1f-11eb-832c-da92c7d1992c](https://user-images.githubusercontent.com/27822304/103033719-1bf9c580-4531-11eb-97ee-8754de9b44b7.jpg)
It does not matter if it's in single/double quotes are without any quotes are all.

I'm guessing there's a double conversion happening somewhere, so ma

[2020-12-23 20:46] elasticmachine commented on #86917
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-23 20:48] bhavyarm commented on #86885
Hello can you please post your query here? https://discuss.elastic.co/ Somebody will take a look and then figure out if we can help you or its a bug. Thanks!

[2020-12-23 20:48] #86885 closed

[2020-12-23 20:57] bhavyarm commented on #86749
@ramya397 can you please post what is happening here in kibana forum with your use case - https://discuss.elastic.co/ somebody from maps team will take a look and figure out if this is a feature request or bug or if there is a workaround. thanks!

[2020-12-23 21:10] TinaHeiligers commented on #86358
@afharo I _did_ have to change the reference to the `callCluster` type in the monitoring stats collectors from `StatsCollectionConfig['callCluster']` to `LegacyAPICaller`. Removing `callCluster` also involved removing it from the `StatsCollectionConfig` in the telemetry collection manager.

[2020-12-23 21:25] angorayc opened #86918 "[Security Solution] Unable to focus on search box if mockdown editor exists"
After click on `table's tab` in alerts details, search bar can't be focused.
https://elastic.slack.com/files/UG32K71GB/F01J8DRQC1E/screenshot_2020-12-24_at_02.56.36.png
https://elastic.slack.com/files/UG32K71GB/F01HJKZEB5G/focus_table.gif

Steps to reproduce:
1. Go to detections page
2. Find an alert and click on `investigate in timeline`
3. Leave an event note in query tab
4. Go to notes' tab and

[2020-12-23 21:51] kevinlog commented on #85391
@ruflin thanks for the input.  I tried adding some additional indices and permissions here: https://github.com/elastic/kibana/pull/86277/commits/f62bf54069c30939bd52e92d87e841e1e4286297

I tried to be more specific since we just want to target a particular data_stream.

I was running into the same problems as before in my testing (same log output as in this comment https://github.com/elastic/kiban

[2020-12-24 02:41] kibanamachine commented on #77401
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/415/)

[2020-12-24 02:44] #75382 closed

[2020-12-24 04:49] #86610 closed

[2020-12-24 08:22] stratoula commented on #82493
This collector `https://github.com/elastic/kibana/blob/18f7f042c1b6bd36c0cf09c9fed4396e7484e0a4/src/plugins/kibana_usage_collection/server/collectors/management/telemetry_management_collector.ts#L54` reports all the advances settings that are different from the default. So no need to do something about it from our side. What is missing is the mapping of the new field that I have asked it [here](ht

[2020-12-24 08:24] sulemanof commented on #69364
Fixed in https://github.com/elastic/kibana/pull/85565

![formatted_tooltip](https://user-images.githubusercontent.com/31325372/103074405-916da080-45da-11eb-95fc-dcfff558cf3a.png)

[2020-12-24 08:24] #69364 closed

[2020-12-24 08:29] sulemanof commented on #73684
Cannot reproduce it on `master`.
It seems was fixed in eui https://github.com/elastic/eui/pull/4327

[2020-12-24 08:29] #73684 closed

[2020-12-24 08:36] #84812 closed

[2020-12-24 09:53] karanbirsingh-qasource commented on #86766
Hi @ferullo

Test-Signing was enabled on both the server machines
- **window server 2019**
![image](https://user-images.githubusercontent.com/59917825/103075427-94c05680-45f1-11eb-8d2b-c99bedb8e5de.png)
- **window server 2012R2**
![image](https://user-images.githubusercontent.com/59917825/103075532-cc2f0300-45f1-11eb-8d5a-651208831636.png)

[2020-12-24 09:54] karanbirsingh-qasource commented on #86883
yes @EricDavisX we do have have ticket https://github.com/elastic/kibana/issues/84745 for **inactive** and **upgrade available** filter not working that got fixed for `7.11.0-SNAPSHOT`.

However on that ticket additional observation is asked for 7.10.2-SNAPSHOT on which issue is still occurring [**not fixed** ], so filed a separate ticket to keep up the track .

thanks !!

[2020-12-24 09:55] karanbirsingh-qasource commented on #86742
Hi @EricDavisX

Please find inline comment for the required observation.

No , this issue is not being impacting other functionality of Fleet ( logs and data stream are successfully logging ) .

As we have observed this error pop-up coming multiple times causing bad impact on UI for end user but we are good to lower its priority to High as no other functionality being impacted by this.

Currently

[2020-12-24 10:02] darnautov commented on #86160
We found this bug in the recent elasticsearch build https://github.com/elastic/elasticsearch/issues/66812 which affects the `latest` method preview (columns are rendered according to the preview mappings). I assume some of the previous builds contained an issue for the `pivot` preview.

[2020-12-24 10:12] vipulsrivastava-qasource opened #86932 "All UI Agent state options are not displayed in Telemetry collection data"
**Kibana version:**
Kibana: 7.11.0-Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0-Snapshot

**Host OS and Browser version:**
Windows 10 , All

**Description**
All UI Agent state options are not displayed in Telemetry collection data

**Preconditions**

1. 7.11.0-Snapshot latest Kibana cloud environment should be available(commit )
2. Login into the Kibana environment

[2020-12-24 10:12] elasticmachine commented on #86932
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-24 10:13] vipulsrivastava-qasource commented on #86932
@manishgupta-qasource : please review the bug

[2020-12-24 10:53] manishgupta-qasource commented on #86932
Reviewed & Assigned to @EricDavisX

[2020-12-24 11:21] karanbirsingh-qasource commented on #86766
Hi @ferullo

Test-Signing was enabled on both the server machines
- **window server 2019**
![image](https://user-images.githubusercontent.com/59917825/103075427-94c05680-45f1-11eb-8d2b-c99bedb8e5de.png)
- **window server 2012R2**
![image](https://user-images.githubusercontent.com/59917825/103075532-cc2f0300-45f1-11eb-8d5a-651208831636.png)

[2020-12-24 11:42] karanbirsingh-qasource commented on #86742
Hi @EricDavisX

Please find inline comment for the required observation.

No , this issue is not being impacting other functionality of Fleet ( logs and data stream are successfully logging ) .

As we have observed this error pop-up coming multiple times causing bad impact on ui for end user but  we are good to lower its priority to High as no other functionality being impacted by this.

Sure eric

[2020-12-24 12:34] muskangulati-qasource commented on #79450
Hi @paul-tavares,

We can track this in https://github.com/elastic/kibana/issues/86104 ticket. Hence closing this issue.

Thanks!!

[2020-12-24 12:35] #79450 closed

[2020-12-24 12:52] #80682 closed

[2020-12-24 14:00] jportner commented on #86851
I tested the 7.11 branch and ran from source, I was able to trigger the notification both with OSS and X-pack.

**OSS testing procedures:**

1. Ensure your kibana.yml does not have `security.showInsecureClusterWarning` disabled
2. Clear your browser's local storage for your hostname (in case you previously dismissed the toast and checked "Do not show again")
3. Start Elasticsearch in OSS mode: `ya

[2020-12-24 15:35] kibanamachine opened #86938 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/agents/checkin·ts - Fleet Endpoints fleet_agents_checkin should return a 200 if this a valid checkin access"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10628/)

[2020-12-24 18:06] austinsonger opened #86940 "[Security Solution][Connector] Elastic SIEM Fields to JIRA Custom Fields"
**Describe the feature:**
Elastic SIEM Fields to JIRA Custom Fields

**Describe a specific use case for the feature:**
Be able to map Elastic SIEM Fields to JIRA Custom Fields

[2020-12-25 00:43] bvader commented on #67765
This issue is resolved.

[2020-12-25 00:43] #67765 closed

[2020-12-25 00:47] fzyzcjy commented on #41216
Same for even 7.9.0... Is there any solution?

(Of course not seeing that one .dll.js anymore, but seeing many smaller files, which sum up to several megabytes.)
(We do not have nginx before it, so the nginx-based solution does not work for me)

![image](https://user-images.githubusercontent.com/5236035/103112077-ddc5e880-468d-11eb-95cf-83c06c01a598.png)

[2020-12-25 00:49] fzyzcjy commented on #6520
Hi after more than a month... It still does not cache. Could anyone provide some suggestions? Thanks!

[2020-12-25 00:59] bvader commented on #85212
@simianhacker @sorantis
This appears to be fixed in 7.10.1

<img width="501" alt="Screen Shot 2020-12-24 at 4 57 35 PM" src="https://user-images.githubusercontent.com/15572155/103112291-43bc5c80-4609-11eb-92f8-d052b1b4e50d.png">

<img width="634" alt="Screen Shot 2020-12-24 at 4 57 27 PM" src="https://user-images.githubusercontent.com/15572155/103112296-49b23d80-4609-11eb-939a-883c7dd88a33.png">

[2020-12-25 00:59] #85212 closed

[2020-12-25 01:16] kibanamachine opened #86943 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_state·ts - dashboard app new charts library dashboard state Saved search with no changes will update when the saved object changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10638/)

[2020-12-25 11:43] dgieselaar opened #86944 "[APM] 400 Bad Request when navigating to the APM app"
When navigating to the APM app from Kibana home, a 400 Bad Request is triggered, likely because it starts before a time range has been set:

[code]

[2020-12-25 11:43] elasticmachine commented on #86944
Pinging @elastic/apm-ui (Team:apm)

[2020-12-25 13:07] tobiasstadler opened #86945 "Grafonnet Support"
**Describe the feature:**
I would be nice if I could import Grafonnet dashboards into Kibana.

**Describe a specific use case for the feature:**
I would like to use some of the community provided Grafana dashboards: https://grafana.com/grafana/dashboards

[2020-12-25 13:10] tobiasstadler opened #86946 "Dashboard registry"
**Describe the feature:**
I would be nice, if there exists a registry where elastic and the Community could upload and share visualizations and dashboards, similar to what exists for Grafana (https://grafana.com/grafana/dashboards).

**Describe a specific use case for the feature:**
One could learn from and reuse existing dashboards

[2020-12-25 15:15] b-vest opened #86947 "[Discover/Dashboard/Visualize] Stop autorefresh when editing visualization or if query is still in flight."
**Describe the feature:**
Ability to stop the timer when navigating away from the page where the timer was started.

**Describe a specific use case for the feature:**
When navigating away from a dashboard or discover to visualization editing it would be nice if the timer would stop. I and others I have talked to have to stop it manually every time especially if you are using a fast update say 5 -

[2020-12-25 19:16] kibanamachine opened #86948 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_listing·ts - dashboard app using legacy data dashboard listing page search by title loads a dashboard if title matches"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10656/)

[2020-12-25 22:08] kibanamachine opened #86949 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/health_route·ts - task_manager health should return a breakdown of idleTasks in the task manager workload"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10547/)

[2020-12-26 08:21] kibanamachine opened #86950 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security global dashboard read-only privileges "before all" hook for "shows dashboard navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10669/)

[2020-12-26 15:28] willemdh commented on #73304
Same issue here after enabling endpoint integration on 7.10.1.

![image](https://user-images.githubusercontent.com/6462991/103154396-56649c00-4797-11eb-96c6-ca99ce0cea76.png)

[2020-12-26 20:21] sqren commented on #86944
Duplicate of https://github.com/elastic/kibana/issues/81734

[2020-12-26 20:21] #86944 closed

[2020-12-26 23:05] kibanamachine commented on #86949
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10572/)

[2020-12-27 08:11] ranitg commented on #16672
is this going to be added?

[2020-12-27 13:19] ranitg opened #86951 "Controls Visualization for Boolean field"
Add a control for a boolean valued field.
This could be implemented as a checkbox with a custom label, instead of a dropdown with two choices.
And also no need to unselect the multiselect toggle.

[2020-12-27 18:02] kibanamachine opened #86952 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/rbac_legacy·ts - alerting api integration security and spaces enabled Alerts legacy alerts alerts superuser at space1 should schedule actions on legacy alerts"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10591/)

[2020-12-27 22:17] sqren commented on #86775
I agree that this is not great atm. For 7.12 I hope we can finally remove the "All environments" option which should solve this.

[2020-12-27 22:38] dgieselaar commented on #83256
Controversial, but we might want to consider to require one and only one environment per service. Supporting multiple environments per service makes both our application code and our UX more complicated. The workaround is adding the environment of a service in a title which seems acceptable (to me).

[2020-12-28 02:09] kibanamachine opened #86953 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/aggregated_scripted_job·ts - machine learning anomaly detection aggregated or scripted job supported job with scripted field displays job results correctly in both anomaly explorer and single metric viewer"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10599/)

[2020-12-28 10:27] cauemarcondes opened #86957 "[APM] Alert preview threshold color doesn't match design."
Current:
![Screenshot 2020-12-28 at 11.25.40.png](https://zube.io/files/elastic/6e9278aa32f48ec1e3df7d6c8efe9ed6-screenshot-2020-12-28-at-11-25-40.png)

Expect:
![Screenshot 2020-12-28 at 11.26.40.png](https://zube.io/files/elastic/9cc9a9d7d7bad4ed2247d3e7f794ab0c-screenshot-2020-12-28-at-11-26-40.png)

[2020-12-28 11:56] kibanamachine opened #86959 "Failing test: "before all" hook for "attach timeline to a new case" - attach timeline to case without cases created "before all" hook for "attach timeline to a new case""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/61/)

[2020-12-28 11:56] kibanamachine opened #86960 "Failing test: "before all" hook for "attach timeline to an existing case" - attach timeline to case with cases created "before all" hook for "attach timeline to an existing case""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/61/)

[2020-12-28 11:56] kibanamachine commented on #86552
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/61/)

[2020-12-28 12:01] shaigbdb opened #86961 "Timelion - fit does not seem to be filling missing values"
**Kibana version:** 7.10

**Elasticsearch version:** 7.10

**Describe the bug:**
I have a time based dataset with missing values for some of the dates. I expect timelion's fit() to be able to fill those, but it doesn't seem to have any affect.
**Steps to reproduce:**
1.
Insert the following records into index testindex (use automatically created schema)
[code]

Notice that data is missing for Dece

[2020-12-28 12:02] kibanamachine commented on #85676
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10609/)

[2020-12-28 12:08] cauemarcondes opened #86962 "[APM] Should logs be updated every time a new time range is selected?"
Related to: https://github.com/elastic/kibana/pull/85859

Open logs tab, every time the time range is changed the Logs content is not updated.

https://user-images.githubusercontent.com/55978943/103213537-43c0a300-490e-11eb-962e-48066177569b.mov

[2020-12-28 12:12] vipulsrivastava-qasource opened #86963 "[Ingest Manager]: After adding new integrations from Kibana UI data not generating in Data Streams Tab in case of standalone agent."
**Kibana version:**
Kibana:7.10.1 Cloud environment

**Elasticsearch version:**
Elasticsearch:  7.10.1 Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.1 Cloud environment

**Description**
[Ingest Manager]: After adding new integrations from Kibana UI data not generating in Data Streams Tab in case o

[2020-12-28 12:13] elasticmachine commented on #86963
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-28 12:14] vipulsrivastava-qasource commented on #86963
@manishgupta-qasource: Please review the Bug.

[2020-12-28 12:19] manishgupta-qasource commented on #86963
Reviewed & Assigned to @EricDavisX

[2020-12-28 12:28] cauemarcondes opened #86964 "[APM] Blank page when selecting a future time range"
* No error is thrown in the console.
Steps to reproduce:
Select a future time range.

![Screenshot 2020-12-28 at 13.26.35.png](https://zube.io/files/elastic/990c17625f210904e1ef81d07bffa0e6-screenshot-2020-12-28-at-13-26-35.png)

This caused by this condition: https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/app/transaction_overview/index.tsx#L104-L106

But if we

[2020-12-28 13:01] kibanamachine commented on #60209
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10610/)

[2020-12-28 14:02] kibanamachine commented on #86960
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10611/)

[2020-12-28 14:02] kibanamachine opened #86968 "Failing test: "before each" hook for "Creates and activates a new rule" - Custom detection rules creation "before each" hook for "Creates and activates a new rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10611/)

[2020-12-28 14:05] shaialon commented on #83094
I am using an M1 mini, and cannot install Kibana via [Docker M1 Tech Preview](https://docs.docker.com/docker-for-mac/apple-m1/)
**It manages to load elasticsearch**, but fails for kibana / logstash with
[code]

[code]

Any ideas how to resolve?

[2020-12-28 14:05] EricDavisX commented on #86963
Hi, this is a mis-understanding how of the stand-alone agent works.  It is easy to forget, but the 'stand-alone' in the name of it is intending to indicate the Agent is NOT controlled by the Fleet or the Fleet policies.  The policy is set up on the host itself in the policy file placed there.

Please do report back off-line if you have more questions or want to review content or docs with me that

[2020-12-28 14:05] #86963 closed

[2020-12-28 14:08] EricDavisX commented on #86742
Hi - @karanbirsingh-qasource the agent logs are always obtainable in the old-fashion way from the host, if you could check there for us. If they aren't on the host then that is very informative too, but if the Agent gets far enough into deploying as such, then it will have left some level of trace in the logs on the host for us to review.  thanks so much.

[2020-12-28 14:13] kibanamachine commented on #86960
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/62/)

[2020-12-28 14:13] kibanamachine commented on #86960
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/62/)

[2020-12-28 14:13] kibanamachine commented on #86552
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/62/)

[2020-12-28 14:14] EricDavisX commented on #86932
@vipulsrivastava-qasource hi, thanks. I'll start by noting the internally used Telemetry fields can be named differently than what is shown in the UI, but they should ideally match up 1 to 1.  I don't know what that mapping is.  Also, it may not be expected that values would show in the Telemetry unless that state is represented in the data (and I don't know the feature well, but I can guess we ma

[2020-12-28 14:17] ycombinator commented on #86038
I was on PTO last week so late to this conversation.

Indeed, I wrote the Kibana code for the `.logstash` mapping upgrade. As @kobelb surmised in https://github.com/elastic/kibana/issues/86038#issuecomment-747021404, the code exists to handle cases where a user has an existing but older `.logstash` mapping and needs the new additions to it before certain features in the UI can be correctly used. I

[2020-12-28 14:25] EricDavisX commented on #86883
Thanks - I am reviewing now and I do not think it warrants an attempt at fixing in the 7.10.x line at this point, especially since 7.11 will be out soon and it isn't a critical impact.  if you agree, we can close this and continue follow up in the 7.11 / 7.12 / 8.0 lines in the other earlier ticket.  Closing for now,  @karanbirsingh-qasource please re-open / comment if I have misunderstood anythin

[2020-12-28 14:25] #86883 closed

[2020-12-28 14:28] EricDavisX commented on #84745
FYI - I closed the 7.10.2 issue as I do not think this is urgent enough to fix in a patch release, and that is especially since 7.11 will be out and we can fix there as desired / possible.  Please do review 8.0 / 7.12 as necessary for any testing or backport needs if and when we find any code adjustments we want to make.

[2020-12-28 15:38] austinsonger opened #86970 "[Security Solution][Detections] Watchfeed - Enriching Alerts and Threat Hunting"
**Describe the feature:**

Watchfeed is like a playlist on youtube, but it would allow the collection of data from external data sources. watchfeed would be stored  as name-value pairs and are cached for optimal query performance and low latency.

**Describe a specific use case for the feature:**

- So when investigating a new threats and responding to a new incident, it would allow a responder to

[2020-12-28 15:46] ferullo commented on #86766
Hi @karanbirsingh-qasource could you please try installing Endpoint without Agent so we can see log messages from when Endpoint tries to install. This is not a supported way to run Endpoint so please don't try to do further testing on Endpoint other than install (and if it happens to work, uninstall).

1. Make sure Agent is not installed (to help minimize variables for this test)
2. From the [8.0.

[2020-12-28 16:03] angorayc commented on #86638
@MadameSheema ,
I gave it a try but unable to reproduce it. Please let me know if there's anything I missed.

My observation:
I opened an unsaved timeline, edited the title and description, and hit close button.
I can see that the title and description is updated in the UI, but the request was not actually sent.
Therefor I couldn't find any new addition timeline in the listing after closing the si

[2020-12-28 16:04] jbudz commented on #86959
skipped:
main: fd81692
7.x: 7d80d14
7.11: 6e9f653

[2020-12-28 17:04] jbudz commented on #83094
Unfortunately no ARM docker builds for Kibana yet - we're working on it now with a 7.12 target.  Progress can be tracked at https://github.com/elastic/kibana/issues/72884.

[2020-12-28 17:08] #85325 closed

[2020-12-28 17:13] jbudz commented on #83773
skipped, most recent manifesting as a timeout: https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10613/
main: 83f6440
7.x: 27e2a30
7.11: 5a029ff

[2020-12-28 17:54] tsullivan commented on #61741
@lizozom

To get the listing items page-by-page, we could use server-side paging, where the UI requests 10 sessions at a time. Or we could have the UI fetch all of the sessions on each refresh interval, and do in-memory paging in the table UI.

Both ideas have pros and cons:

Getting one page at a time:
  - CON: makes navigating pages, sorting and filtering slower
  - PRO: smaller HTTP response pa

[2020-12-28 18:05] spalger commented on #85563
We do this for a number of things like this: https://github.com/elastic/kibana/blob/83f6440c03d062349caf7dfc42c71baf4fef151d/src/dev/ci_setup/setup.sh#L37-L51

The script runs and writes it output and CI fails if there are changes identified anywhere in the git repo after the script ran, printing out an explanation to devs how they should fix the situation.

[2020-12-28 19:09] aznick commented on #86327
++

I'd also recommend we not implement changes here, as it will be a non-issue in a few minors. Having to log in again is a little bumpy, but we've alleviated most of the friction with the click to SSO (rather than needing to dig for credentials).

[2020-12-28 19:22] biker2o opened #86974 "Kibana “count by” in Alert monitor/trigger"
Hello. I am trying to figure out how to turn this Splunk alert into a kibana alert.

Essentially, I want to be notified by Kibana when the count of ClientRequestHost is greater than 300 in a 1min period (or time span) for more than 20 mins straight. How can I accomplish this? How can I have a "count by" in a Kibana Alert/Trigger?

**Splunk alert I am trying to mimick in Kibana:**
ClientRequestMeth

[2020-12-28 19:31] jbudz commented on #60209
skipped
main: 3ddc527
7.x: 7e30d3a
7.11: 485f1c4

[2020-12-28 19:32] spalger commented on #86435
@restrry do you know what's causing this? Is there a path we should add to the `kibana.clean.extraPatterns` array in package.json?

[2020-12-28 20:04] kibanamachine commented on #85677
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10617/)

[2020-12-28 20:04] kibanamachine commented on #85678
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10617/)

[2020-12-28 20:04] kibanamachine opened #86975 "Failing test: "before all" hook for "pagination updates results and page number" - Pagination "before all" hook for "pagination updates results and page number""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10617/)

[2020-12-28 20:04] kibanamachine commented on #60209
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10617/)

[2020-12-28 20:05] kibanamachine commented on #86975
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10617/)

[2020-12-28 20:30] kibanamachine commented on #86552
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/64/)

[2020-12-28 20:30] kibanamachine commented on #85677
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/64/)

[2020-12-28 20:30] kibanamachine commented on #85678
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/64/)

[2020-12-28 20:43] elastic-jb commented on #61741
I like this approach. I think the payload size is a good tradeoff for a better experience and more responsive sorting/filtering.

[2020-12-28 20:45] #84897 closed

[2020-12-28 20:50] jbudz commented on #86552
skipped
main: 4290b58
7.x: f9a9db3
7.11: f9a9db3

[2020-12-28 21:26] jbudz commented on #83772
(re)skipped:
main: 62fd430
7.x: 940a8f0
7.11: 2f5dbcc

[2020-12-28 22:03] kibanamachine opened #86979 "Failing test: "before all" hook for "sets the KQL from a single IP with a value for the query" - ml conditional links "before all" hook for "sets the KQL from a single IP with a value for the query""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10619/)

[2020-12-28 22:03] kibanamachine commented on #83793
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10619/)

[2020-12-28 22:47] jbudz commented on #83793
skipped:
main: 62fd430
7.x: 940a8f0
7.11: 2f5dbcc

[2020-12-28 23:02] kibanamachine commented on #86553
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10620/)

[2020-12-28 23:02] kibanamachine commented on #86554
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10620/)

[2020-12-28 23:03] kibanamachine opened #86981 "Failing test: "before all" hook for "We show one primary callout" - Detections > Callouts indicating read-only access to resources On Detections home page "before all" hook for "We show one primary callout""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10620/)

[2020-12-28 23:03] kibanamachine commented on #86975
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10620/)

[2020-12-28 23:03] kibanamachine commented on #86552
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10620/)

[2020-12-28 23:36] jbudz commented on #86975
main: d843450
7.x: 232a5f2
7.11: 73b1943

[2020-12-29 01:09] kibanamachine commented on #86975
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10622/)

[2020-12-29 01:09] kibanamachine commented on #86548
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10622/)

[2020-12-29 03:19] kibanamachine commented on #86553
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/67/)

[2020-12-29 03:19] kibanamachine commented on #86554
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/67/)

[2020-12-29 04:02] kibanamachine commented on #86979
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10625/)

[2020-12-29 07:04] kibanamachine commented on #86979
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10628/)

[2020-12-29 07:05] kibanamachine opened #86982 "Failing test: "before all" hook for "can open and close the modal" - value lists management modal "before all" hook for "can open and close the modal""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10628/)

[2020-12-29 07:05] kibanamachine opened #86983 "Failing test: "before each" hook for "Does not allow a t1 analyst user to upload a value list" - value lists user with restricted access role "before each" hook for "Does not allow a t1 analyst user to upload a value list""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10628/)

[2020-12-29 09:13] restrry commented on #86974
This is a question that I think is better suited to the Kibana discuss forum or contacting our support team. We reserve Github for bugs and feature requests: https://discuss.elastic.co/c/elastic-stack/kibana/7

[2020-12-29 09:13] #86974 closed

[2020-12-29 09:16] elasticmachine commented on #86961
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-29 09:16] elasticmachine commented on #86951
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-29 09:44] kibanamachine commented on #86553
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/68/)

[2020-12-29 09:44] kibanamachine commented on #86554
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/68/)

[2020-12-29 09:44] kibanamachine commented on #86553
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/68/)

[2020-12-29 09:44] kibanamachine commented on #86554
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/68/)

[2020-12-29 11:15] karanbirsingh-qasource commented on #86766
Thanks @ferullo for providing the detailed steps for only endpoint security installation .

we have followed the shared steps on the freshly created machines [ [2019](https://unimog.it.endgames.local/ui/#?extensionId=vsphere.core.vm.summary&objectId=urn:vmomi:VirtualMachine:vm-3470697:B8879A27-10BA-4593-855B-95A82ED24F31&navigator=vsphere.core.viTree.vmsAndTemplatesView) & [2012R2](https://unimog.

[2020-12-29 11:34] cyrille-leclerc commented on #85713
@sqren I didn't drop the ball but I struggle to reproduce an APM alert.

[2020-12-29 12:27] muskangulati-qasource opened #86987 "[Security Solution] UI structure for the table is not aligned correctly in the Endpoint details for longer texts"
**Describe the bug**
UI structure for the table is not aligned correctly in the Endpoint details for longer texts

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy should exist and applied to an endpoint.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Administration" tab under the Security

[2020-12-29 12:28] muskangulati-qasource commented on #86987
@manishgupta-qasource Please review!

[2020-12-29 12:31] manishgupta-qasource commented on #86987
Reviewed & Assigned to @kevinlog

[2020-12-29 13:06] kibanamachine commented on #85670
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10634/)

[2020-12-29 13:18] #85517 closed

[2020-12-29 13:38] dikshachauhan-qasource commented on #86963
Hi @EricDavisX

Thanks for the feedback.

We have created 01 testcase as per expected functionality of standalone agent just to document this functionality in our Test suite. Testcase link is as follows:
- [C35345](https://elastic.testrail.io/index.php?/cases/view/35345)

Please let us know if anything else is required from our side.

Thanks,
QAS

[2020-12-29 13:41] mikecote commented on #86697
I recall having this feature in prior versions (https://github.com/elastic/kibana/pull/49104) and later on it was discussed to remove it. If I recall correctly, once we added RBAC, this count value would change per user based on their privileges. They could end-up seeing "0" when the connector is used by alerts they can't see. (cc @gmmorris).

It's worth keeping this in mind when working on a solu

[2020-12-29 13:46] cauemarcondes opened #86989 "[APM] Custom links are not fetched after creating a new one from the transaction page"
On the transaction detail page create a new custom action by clicking on the `Actions` button. After creating a new one, close the popover and open it again the item that has just been created is not shown until a full page reload happens.

https://user-images.githubusercontent.com/55978943/103288220-b4d28a00-49e4-11eb-8041-0c93312d9736.mov

[2020-12-29 13:56] mostlyjason opened #86992 "[Fleet] Smarter defaults for global settings on self-managed clusters"
When running a self-managed cluster, the Fleet global settings for Kibana and Elasticsearch are not set correctly by default. Users are not instructed to set these values in the ES installation instructions, and I didn't see any guidance or warnings in the product. When installing an agent on my host, it got stuck in the enrolling state with no visibility as to why on standard out or agent details

[2020-12-29 13:56] elasticmachine commented on #86992
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-29 14:42] alexwizp commented on #86706
In these PRs #79874, #80709, we reorganized TSVB to use the new search API, which already fixes the described problem.
Changes will be available to users in version **7.11**.

[2020-12-29 14:42] #86706 closed

[2020-12-29 14:56] ferullo commented on #86766
Thanks @karanbirsingh-qasource. Both Endpoint's installed properly. You need to run the uninstall command to uninstall them now.

I should have been clearer. You didn't see them reflected in Kibana because there is no Agent. Lots of things won't work, like Endpoint appearing in Kibana, without Agent. I asked you to install Endpoint manually without Agent to see what the logs were (thanks for posti

[2020-12-29 15:02] kibanamachine commented on #86548
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10636/)

[2020-12-29 15:07] patrykkopycinski commented on #86782
Fix in https://github.com/elastic/kibana/pull/86581/files

[2020-12-29 15:07] #86782 closed

[2020-12-29 15:21] Fesenych opened #86993 "Cannot Create Cross Site Index Patterns in Kibana 7.10.1"
**Kibana version:**
7.9.3 - 7.12.0

**Elasticsearch version:**
7.9.3 - 7.12.0

**Server OS version:**
CentOS 7.9.2009

**Browser version:**
Google Chrome 87.0.4280.88, Firefox Quantum 68.5.0esr

**Browser OS version:**
Windows 10 Pro (20H2), Windows Server 2019 (1809)

**Original install method (e.g. download page, yum, from source, etc.):**
Docker images from https://hub.docker.com/_/elasticsearc

[2020-12-29 15:42] elastic-jb commented on #85804
@dsmith001 that's right, although it's worth mentioning that the "continue to background" and "view background requests" terminology are the current button labels. The label is already pretty long so "Continue Search Session in background" would be really long. I think "View Saved Search Sessions" sounds better though.

@lizozom / @mdefazio thoughts?

[2020-12-29 16:03] kibanamachine commented on #86982
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10637/)

[2020-12-29 16:03] kibanamachine commented on #86983
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10637/)

[2020-12-29 16:04] kibanamachine opened #86995 "Failing test: "before all" hook for "toggles open the timeline" - timeline flyout button "before all" hook for "toggles open the timeline""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10637/)

[2020-12-29 16:47] kevinlog commented on #85391
Good news, I've got the leading `.` change to work e2e.

My PR now has the correct changes in permissions to allow the Endpoint to create the `hidden`/`.` index.  Here are my changes (Same PR as before): https://github.com/elastic/kibana/pull/86277

**How I tested/results**
I've run the dev Endpoint that included @ferullo change here: https://github.com/elastic/endpoint-dev/pull/8228

After execut

[2020-12-29 17:45] kevinlog commented on #86719
FYI @caitlinbetz @bradenlpreston

See the suggestion from @ferullo here - should we update this for 7.11?

I have the PR here: https://github.com/elastic/kibana/pull/87001

[2020-12-29 17:55] mostlyjason opened #87002 "[Bug] Data streams storage size is not numerically sorting"
**Kibana version:**

7.10.1

**Elasticsearch version:**
7.10.1

**Describe the bug:**
When I visit the data streams tab under index management in the Elasticsearch UI, I enabled the option to include stats. I then sorted on the storage size column. It sorted them alphabetically instead of numerically.

**Screenshots (if relevant):**
![image](https://user-images.githubusercontent.com/6370704/103303

[2020-12-29 17:55] elasticmachine commented on #87002
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-29 17:56] austinsonger commented on #86638
Yeah this is so annoying! This happens to me every time when messing with the timeline.

[2020-12-29 17:56] mostlyjason commented on #87002
@jethr0null I think your team owns this one? Just filing a bug report I found over break.

[2020-12-29 18:16] bradenlpreston commented on #86719
We should correct and use `Antivirus` as @ferullo suggests.

[2020-12-29 18:18] austinsonger opened #87003 "[Security Solution] New - Type of Rule Sort Button"
**Describe the feature:**
Add Clone Rules Button along with Elastic Rules and Custom Rules

So it would look like this.

![](https://i.imgur.com/tfIPEoR.jpg)

**Describe a specific use case for the feature:**
It would be nice to tell the different between the elastic rules that I've duplicate and the rules that I've created. Mixing Duplicate rules with custom rules sucks if I want to export the on

[2020-12-29 18:22] austinsonger commented on #81109
Yeah that would be nice to have instead of uploading somewhere else first.

[2020-12-29 18:51] banderror commented on #85951
Sorry, I'm not sure I fully got the steps mentioned in the description of the ticket, but I managed to reproduce the bug with the following steps:

1. Make sure to not have Endpoint Security data indexed in Elasticsearch. Remove `logs-endpoint.alerts-*` indices if you have them.
2. Navigate: [Security] -> [Detections] tab -> click [Manage detection rules].
3. Load pre-built detection rules.
4. Fin

[2020-12-29 19:05] kibanamachine opened #87007 "Failing test: "before each" hook for "Loads prebuilt rules" - Alerts rules, prebuilt rules "before each" hook for "Loads prebuilt rules""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10640/)

[2020-12-29 19:20] kibanamachine opened #87010 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/rbac_legacy·ts - alerting api integration security and spaces enabled Alerts legacy alerts alerts space_1_all_alerts_none_actions at space1 should schedule actions on legacy alerts"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10752/)

[2020-12-29 19:37] spalger opened #87011 "[securitySolution/cypress] reenable on tracked branches"
re:
 - https://github.com/elastic/kibana/issues/86979
 - https://github.com/elastic/kibana/issues/86554
 - https://github.com/elastic/kibana/issues/86553
 - https://github.com/elastic/kibana/issues/86548
 - https://github.com/elastic/kibana/issues/86995
 - https://github.com/elastic/kibana/issues/86983
 - https://github.com/elastic/kibana/issues/86982
 - https://github.com/elastic/kibana/issues/87

[2020-12-29 19:38] elasticmachine commented on #87010
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-29 19:42] spalger commented on #87010
Looks like this has only failed in one unrelated PR and here in the last 30 days, making this not particularly flaky, so waiting and watching for now.

[2020-12-29 19:59] kibanamachine commented on #86981
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10641/)

[2020-12-29 19:59] kibanamachine commented on #86979
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10641/)

[2020-12-29 20:05] #86719 closed

[2020-12-29 20:11] mostlyjason opened #87015 "[Fleet] Update empty results content on integrations page"
**Describe the feature:**
Currently, when a user is searching for an integration and there are no results it says "No packages found". We should update the content to say something more like this:

Bonus:
Add this to the footer of the integrations list page as well, so people browsing can see it.

[2020-12-29 20:11] elasticmachine commented on #87015
Pinging @elastic/fleet (Feature:Fleet)

[2020-12-29 20:11] elasticmachine commented on #87015
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-29 20:16] dB2510 commented on #81816
@ymao1 I have opened a PR. Please review the changes. Apologies for the delay.

[2020-12-29 20:20] jfsiii commented on #87015
cc @hbharding

[2020-12-29 20:34] cjcenizal commented on #87002
Duplicate of https://github.com/elastic/kibana/issues/86122. Fixed via https://github.com/elastic/kibana/pull/86204, which will ship with 7.10.2.

[2020-12-29 20:34] #87002 closed

[2020-12-29 21:27] MichaelMarcialis commented on #86184
Forgive the potentially silly question on my part, but how does this differ from the current `Order by` and `Order direction` options in Lens?

![image](https://user-images.githubusercontent.com/3884767/103314996-4eecff00-49f2-11eb-855d-4e05f74cbe46.png)

Regarding the table row/column sorting options I was playing around with, I think that scenario is unique as there may be multiple row/column di

[2020-12-29 21:38] wylieconlon commented on #86184
@MichaelMarcialis The "top values" aggregation is doing sorting in a unique way, which is [documented by Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html). It's not meeting our user's needs though, as shown in the 5 examples that I've listed in the issue description. That's why I've proposed a _sort override_ feature w

[2020-12-29 22:35] mayya-sharipova commented on #84041
I've would like to reopen this issue, to clarify how `Elastic -> Monitoring` works on the Kibana side, as we have several issues filed in ES repo (elastic/elasticsearch#65405, https://github.com/elastic/sdh-elasticsearch/issues/3681, https://github.com/elastic/sdh-elasticsearch/issues/3680) and also from [external users](https://discuss.elastic.co/t/kibana-time-out-errors/255479).

I would appreci

[2020-12-30 05:05] kibanamachine opened #87021 "[Reporting] Jest Tests in x-pack/plugins/reporting/server/routes must be run as integration tests"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10650/)

[2020-12-30 07:37] muskangulati-qasource commented on #85951
Hi @banderror,

Sorry for the confusions and thank you for providing detailed steps.
The steps shared and issue addressed is exactly correct.

Please let us know if we are missing anything!

Thanks!!

[2020-12-30 09:48] karanbirsingh-qasource opened #87022 "[Security Solution][Timeline]New Timline UI does not load properly on windows browsers at recommended resolution (100%)"
**Describe the bug**
New Timline UI does not load properly on windows browsers at recommended resolution (100%)

**Build Details:**
[code]

**Browser Details**
[code]

**Preconditions**
1. Elastic Cloud environment should be available having "8.0.0-SNAPSHOT" ES version running.
2. Install audit beat data shipper to the above environment

**Steps to Reproduce**
1. Navigate to Security / Timelines /

[2020-12-30 09:48] karanbirsingh-qasource commented on #87022
@manishgupta-qasource Please review

[2020-12-30 09:58] kibanamachine commented on #77567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10655/)

[2020-12-30 10:06] cauemarcondes opened #87024 "[APM] Forbidden Error when opening Indices page with read only user"
![Screenshot 2020-12-30 at 11.05.27.png](https://zube.io/files/elastic/d60581202f8e1b57825bf70529967e56-screenshot-2020-12-30-at-11-05-27.png)

[2020-12-30 10:11] cauemarcondes opened #87025 "[APM] Custom links can still be created with a read only user."
A read only user can create custom links but cannot edit.

[2020-12-30 10:18] cauemarcondes opened #87026 "[APM] Disable Alerts option for read only user"
A read only user can open the alert flyout and still click on Save even though no action is shown.

![Screenshot 2020-12-30 at 11.17.01.png](https://zube.io/files/elastic/bc7132de65e1730df46e863cc69c975f-screenshot-2020-12-30-at-11-17-01.png)

[2020-12-30 10:32] cauemarcondes opened #87027 "[APM] Service overview dependency table doesn't show all connection"
On service maps `opbeans-java` connects to:
- opbeans-python
- opbeans-go
- opbeans-node
- opbeans-ruby
- postgresql

![Screenshot 2020-12-30 at 11.28.44.png](https://zube.io/files/elastic/d4786dd8d26feb526869cf66d3144eda-screenshot-2020-12-30-at-11-28-44.png)

But the dependency table shows:
- opbeans-dotnet
- postgresql

![Screenshot 2020-12-30 at 11.28.55.png](https://zube.io/files/elastic/3b10

[2020-12-30 10:38] manishgupta-qasource commented on #87022
Reviewed & assigned to @MadameSheema

[2020-12-30 10:58] cauemarcondes opened #87028 "[APM] Service environment is implicitly/wrongly carried over when linking to another service"
When we render a service overview link, we persist the currently selected environment. This means that we might select an environment for which the linked service has no data, leading to a blank page, and the environment dropdown incorrectly displaying "All" as the selected environment, even though the requests use the environment set in the URL.

Steps to reproduce:
- Select `Production` environm

[2020-12-30 10:58] muskangulati-qasource opened #87029 "[Security Solution] Same description message for different policy logs are displayed under Administration tab"
**Describe the bug**
Same description message for different policy logs are displayed under Administration tab

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under

[2020-12-30 11:03] muskangulati-qasource opened #87030 "[Security Solution] Inconsistent spellings used for Elasticsearch under Administration tab"
**Describe the bug**
Inconsistent spellings used for Elasticsearch under Administration tab

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Security from the l

[2020-12-30 11:16] cauemarcondes opened #87031 "[APM] latencyAggregationType is not persisted when navigation to Transaction overview to detail"
![Screenshot 2020-12-30 at 12.15.34.png](https://zube.io/files/elastic/556f9c54749818e6485b95ecc47fb562-screenshot-2020-12-30-at-12-15-34.png)

On the transaction detail page `95th percentile` should be selected
![Screenshot 2020-12-30 at 12.15.28 (2).png](https://zube.io/files/elastic/8af28d55927e9b2d936a5465b30a8f6f-screenshot-2020-12-30-at-12-15-28-2.png)

[2020-12-30 11:18] deepikakeshav-qasource opened #87032 "[Security Solution] [Timeline] On clicking Show top <host.name> icon Pop up is not displaying properly"
**Description**
[Timeline] On clicking Show top <host.name> icon. Pop up is not displaying properly. Scroll is not working for host.name pop up under the timeline.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to Timeline tab of security.
2. Click

[2020-12-30 11:21] deepikakeshav-qasource commented on #87032
@manishgupta-qasource Please Review!!

[2020-12-30 11:28] manishgupta-qasource commented on #87032
Reviewed & Assigned to @MadameSheema

[2020-12-30 11:28] cauemarcondes opened #87034 "[APM] JVMs tab shows empty message while fetching data"
![Screenshot 2020-12-30 at 12.26.32.png](https://zube.io/files/elastic/9e5d36e7ab5a8cc10d0f6cdc437c7049-screenshot-2020-12-30-at-12-26-32.png)

We should show a loading state instead of the empty message.

[2020-12-30 11:29] elasticmachine commented on #87031
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:29] elasticmachine commented on #87028
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:29] elasticmachine commented on #87027
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #87026
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #87025
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #87024
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #86989
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #86964
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:30] elasticmachine commented on #86962
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:31] elasticmachine commented on #87034
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 11:36] muskangulati-qasource opened #87035 "[Security Solution] Error Handling for saving an empty query under timeline is not done gracefully"
**Describe the bug**
Error Handling for saving an empty query is not done gracefully

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed & alerts/events should be generated.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Timeline" tab under Security from the left navigatio

[2020-12-30 11:39] muskangulati-qasource commented on #87029
@manishgupta-qasource please review!

[2020-12-30 11:39] muskangulati-qasource commented on #87030
@manishgupta-qasource please review!

[2020-12-30 11:39] muskangulati-qasource commented on #87035
@manishgupta-qasource please review!

[2020-12-30 11:42] manishgupta-qasource commented on #87029
Reviewed & Assigned to @kevinlog

[2020-12-30 11:42] dikshachauhan-qasource opened #87036 "[Fleet] Namespace filter under Data Streams tab doesn't filter data for namespace having '+' character."
Kibana version:
Kibana:7.10.2 Snapshot Cloud environment

Elasticsearch version:
Elasticsearch:  7.10.2 Snapshot Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.2 Snapshot Cloud environment

Preconditions

1. 7.10.2 Snapshot Cloud environment should be available.
[code]
2. Agent must be installed using 'Tes

[2020-12-30 11:42] manishgupta-qasource commented on #87030
Reviewed & Assigned to @kevinlog

[2020-12-30 11:43] manishgupta-qasource commented on #87035
Reviewed & Assigned to @MadameSheema

[2020-12-30 11:53] cauemarcondes opened #87037 "[APM] Every time the new Header Icon is clicked it fetches data"
~~On Firefox and Safari~~ every time an icon is clicked it makes a request when Today is selected as time range. The request should be cached and reused on the other icons.

[2020-12-30 11:53] elasticmachine commented on #87037
Pinging @elastic/apm-ui (Team:apm)

[2020-12-30 12:13] heavenly-zy opened #87038 "There was a problem executing the `yarn build --skip-os-packages` command"
![image](https://user-images.githubusercontent.com/50657815/103350582-6f44b880-4adb-11eb-8083-d30c2cabc95d.png)

[2020-12-30 12:31] kevinlog commented on #87029
These come from the Endpoint, so my guess is that this is expected.  @ferullo could say for sure.

[2020-12-30 12:32] rahulgupta-qasource opened #87039 "[Firefox]: Truncated policy name is displayed on hover if policy name is greater than 87 characters"
**Kibana version:**
Kibana: 7.10.2-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 7.10.2-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows 10 x64, Firefox 84.0.1(64 bit)

**Original install method (e.g. download page, yum, from source, etc.):**
7.10.2-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
[Firefox]: Truncat

[2020-12-30 12:37] karanbirsingh-qasource commented on #86766
Hi @ferullo

Thanks for providing update on our query.

 ![image](https://user-images.githubusercontent.com/59917825/103268129-fb21ec00-49d8-11eb-9649-a0d7c408a9df.png)
----------------------------------------
 ![image](https://user-images.githubusercontent.com/59917825/103268123-f6f5ce80-49d8-11eb-8c39-c442ea3fb3c4.png)

Normal installation for Endpoint that is Endpoint via Agent fleet mode is Bl

[2020-12-30 12:40] elasticmachine commented on #87039
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-30 12:42] rahulgupta-qasource commented on #87039
@manishgupta-qasource Please review the bug.

[2020-12-30 12:45] manishgupta-qasource commented on #87036
Reviewed & Assigned to @EricDavisX

[2020-12-30 12:46] elasticmachine commented on #87036
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-30 12:53] manishgupta-qasource commented on #87039
Reviewed & Assigned to @EricDavisX

[2020-12-30 13:01] dikshachauhan-qasource commented on #86097
Hi @EricDavisX

Today while exploration testing on 7.10.2 snapshot Kibana cloud environment. Build details are as follows:
[code]

We have observed that data sets for below are not generated on Data streams page, if we use any non-default namespace in agent policy.
- elastic-agent
- elastic-agent.filebeat
- elastic-agent.metricbeat

Screenshot:
![image1](https://user-images.githubusercontent.com/7

[2020-12-30 13:40] patrykkopycinski commented on #86638
@angorayc after you click `Close` the title and description should be back to the default state, so it should be `Untitled timeline` instead of `xxx123ssssss`

[2020-12-30 13:54] #86763 closed

[2020-12-30 14:08] dej611 opened #87042 "[Lens] Median operation disappears on Moving average selection for small screens"
**Kibana version:** master as 5dd9c7d

**Describe the bug:**

On small screens (h < 900px) the flyout becomes scrollable to accomodate all the handles of the Moving Average operation. This triggers a layout recompute which makes the `Median` operation disappear.

Clicking on other "simple" operations in the same column, or any operation of the left column "fixes" it.

**Steps to reproduce:**
1. Re

[2020-12-30 14:13] dminovski0 commented on #60522
To allow third-party cookies in iFrame, add the parameter `xpack.security.sameSiteCookies: None` in kibana.yml with ELK stack version above 7.8.0. It can also be used in the elastic.co cloud provider.
References: https://discuss.elastic.co/t/cookies-issue-while-embedding-kibana-dashboard-with-iframe/256777/8

[2020-12-30 14:17] ferullo commented on #86766
Receiving "Access is Denied" on 2019 is expected. This is Endpoint self-protection stopping File Explorer from being able to read it's files. You can still access Endpoint files using an Administrator `cmd.exe` window.

It's surprising you could browse into Endpoint's directory on 2021 R2. @bjmcnic do you have a way to try to replicate this? It would be good to understand and document if needed.

[2020-12-30 14:20] ferullo commented on #87029
Nice catch. We'll fix this in 7.11.0. https://github.com/elastic/endpoint-dev/pull/8244

[2020-12-30 14:28] patrykkopycinski commented on #82573
I think we can close that issue

[2020-12-30 14:34] patrykkopycinski commented on #81190
@XavierM I believe we can close this issue, right?

[2020-12-30 14:35] mikecote opened #87047 "`xpack.actions.rejectUnauthorized` setting does not work"
After doing a scan through the code, I can't find any place that uses `xpack.actions.rejectUnauthorized` setting. In my scenario, I'm trying to create a Webhook that calls Kibana but I keep getting `SELF_SIGNED_CERT_IN_CHAIN` errors even after setting `xpack.actions.rejectUnauthorized` to `false`.

The send email call never passes `rejectUnauthorized` [here](https://github.com/elastic/kibana/blob/

[2020-12-30 14:35] elasticmachine commented on #87047
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-30 14:46] bjmcnic commented on #86766
I've reproduced the failure on a Win 8.1 VM (8.1 ˜= 2012 R2).

`{"@timestamp":"2020-12-30T14:36:18.2084793Z","agent":{"id":"","type":"endpoint"},"ecs":{"version":"1.5.0"},"log":{"level":"error","origin":{"file":{"line":301,"name":"File.cpp"}}},"message":"File.cpp:301 SetNamedSecurityInfoW() failed: 5","process":{"pid":4540,"thread":{"id":4552}}}`

`{"@timestamp":"2020-12-30T14:36:18.2084793Z","age

[2020-12-30 14:51] gmmorris opened #87048 "RuleTypes can't provide an AlertContext on recovery"
This is a follow up to https://github.com/elastic/kibana/issues/49405#issuecomment-722691370 , identified as a problem as part of the work on https://github.com/elastic/kibana/pull/86761 and [resulting in a bug](https://github.com/elastic/kibana/issues/86507) identified by @arisonl.

# The Problem
When an AlertType wishes to _activate_ an AlertInstance it schedules actions under an actionGroup and

[2020-12-30 14:56] dej611 opened #87049 "[Lens] Error message for full reference operations stick on workspace despite changing to other operations"
**Kibana version:** master as 5dd9c7d

**Describe the bug:**

When picking for the first time a full reference operation `Cumulative Sum`, `Differences`, `Moving average`, because no field has been yet selected an error is shown in the workspace:

<img width="1323" alt="Screenshot 2020-12-30 at 15 53 25" src="https://user-images.githubusercontent.com/924948/103358970-34308e00-4ab7-11eb-9e92-92fbbd

[2020-12-30 15:05] ferullo commented on #86766
@karanbirsingh-qasource did you try installing via Agent again to see what happens? It seems like both Server 2012R2 and Server 2019 will work, with the exception of part of self protection not turning on for Server 2012R2.

[2020-12-30 15:16] radoondas opened #87051 "Allow to define list of spaces with wildcard in Roles definition"
**Describe the feature:**
Hi,
I want to have a feature in Kibana when defining a role.
At the moment the role UI only accepts all spaces `*` or a specific Spaces to be defined.
I want to be able to define spaces based on a wildcard to allow the role to define. e.g. `customer-*`

<img width="692" alt="Screenshot 2020-12-30 at 16 15 18" src="https://user-images.githubusercontent.com/8320348/10336296

[2020-12-30 15:19] elasticmachine commented on #87051
Pinging @elastic/kibana-security (Team:Security)

[2020-12-30 15:29] angorayc commented on #86638
ok, understood.

[2020-12-30 15:43] spalger commented on #77567
Looking into this after the most recent failure.

Probably a coincidence but in the last 30 days this has only failed twice and both times it was on 7.x.

When writing to the .kibana index the esArchiver runs migrations on newly created objects, and it's definitely possible in my eyes that migrated objects aren't actually searchable right after the migration promise resolves. I'd expect that to be

[2020-12-30 15:45] neptunian commented on #85627
Most changes made in https://github.com/elastic/kibana/pull/85370

[2020-12-30 15:45] #85627 closed

[2020-12-30 15:46] elasticmachine commented on #87021
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-12-30 15:47] spalger commented on #87021
This is the first time this test has failing in the last 30 days, including PRs, so I'm not too concerned, but it would be great if the @elastic/kibana-reporting-services team could take a look at why this might be taking more than 6 seconds to run.

[2020-12-30 15:51] gmmorris commented on #86507
This is happening because O11y are manually scheduling recovery of the instance - something we so not yet support.
We have a follow up PR that will make this impossible (until we can support this properly), but they kind of beat us to it and we weren't clear enough in the docs that this shouldn't be done.

I don't think we have a straight forward small solution we can fit into 7.11... my advice wo

[2020-12-30 15:56] igoristic opened #87052 "[Monitoring] Add unmapped_type to createTimeFilter method"
This was missed as part of https://github.com/elastic/kibana/pull/77099

Relates to: https://github.com/elastic/kibana/issues/77066

[2020-12-30 15:56] elasticmachine commented on #87052
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-30 16:01] #86881 closed

[2020-12-30 16:23] wylieconlon commented on #87049
This looks like a case where the `getErrorMessages` code in `layer_helpers` is only looking at the columns, but ignoring `incompleteColumns`. So we have something like `{ columns: { a: ... }, incompleteColumns: { a: { operationType: 'last_value' } } }` in this case.

[2020-12-30 16:36] dej611 commented on #87049
yup, that is the fix I'm making 👍

[2020-12-30 16:37] mikecote opened #87055 "Issues with alert statuses UI"
I've noticed two strange behaviours around alert statuses that I thought would be worth discussing.

1. When the alert is disabled, it still displays the status from the last execution. I found this strange when it was "error" as the last execution status since it would never go away until the alert is re-enabled. There is also no clear indication in the alert list if the alert is disabled (to be

[2020-12-30 16:37] elasticmachine commented on #87055
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-30 17:01] patrykkopycinski commented on #85004
@cnasikas I believe this is fixed, could you verify that?

[2020-12-30 17:02] Zacqary opened #87057 "[Metrics UI] Disable recovery action scheduling in threshold/inventory alerts"
Related to https://github.com/elastic/kibana/issues/87048

The Alerting framework doesn't currently support manually scheduling the Recovery action for an alert; this action group gets scheduled automatically the moment an alert becomes inactive.

Our use of `scheduleActions` in Metrics alerts seem to be actually putting the alert back into an active state when it's not supposed to be. We should d

[2020-12-30 17:02] elasticmachine commented on #87057
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-30 17:11] kibanamachine commented on #77289
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10662/)

[2020-12-30 17:16] Zacqary opened #87060 "[Metrics UI] Re-enable Recovery alert messages"
Depends on https://github.com/elastic/kibana/issues/87048

When the Alerting framework supports custom scheduling of Recovery actions with context variables, re-enable them.

[2020-12-30 17:16] elasticmachine commented on #87060
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-30 17:29] gmmorris commented on #86697
Yeah, that's a good point about RBAC... not ideal.
We could query for the number using internal user so that RBAC is bypassed, but obviously we'd have to be cautious in how we implement that.

[2020-12-30 17:30] spalger commented on #77289
We attempted to fix the `net::ERR_NETWORK_CHANGED` failures in https://github.com/elastic/kibana/pull/85425 but looking at the logs it seems that just stopping a container is enough to cause this issue:

[code]

I still think that there are all sorts of conditions that can cause requests to be aborted for no good reason, and in many cases those requests can be retied by the application, providing

[2020-12-30 17:32] spalger commented on #43963
Looks like my change did not fix things, it seems just stopping a container puts the virtual network interface into a "disabled state" (as described by the logs in https://github.com/elastic/kibana/issues/77289#issuecomment-752699262) which causes Chrome to abort all in progress requests. I still think we should try to retry requests which can be retried.

[2020-12-30 17:33] elasticmachine commented on #87038
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-30 17:38] elasticmachine commented on #86993
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-30 17:38] dej611 opened #87068 "[Lens] Workspace crashes with no information for histogram layers that do not match"
**Kibana version:** master as 0c9a573

**Describe the bug:**

Combining a date histogram with a numeric histogram makes the editor workspace crash with no error message. The issue does not affect other type of layers combinations (i.e. top values + date histogram ).

**Steps to reproduce:**
1. Create a date histogram on the first layer
2. Create a new layer
2. Create a numeric histogram on the sec

[2020-12-30 17:47] lukeelmers commented on #86947
So really there are 2 requests here (which might make sense to split into separate issues, will leave that up to the team):

1. When editing a visualization, automatically pause autorefresh.
2. When a query takes a long time, don't trigger another autorefresh fetch as it can create an infinite request loop, where requests keep going out but never resolve.

[2020-12-30 17:48] elasticmachine commented on #86947
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-30 17:48] elasticmachine commented on #86947
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-30 17:48] EricDavisX commented on #87039
Thanks for logging this - we do intend to have browser support as noted on-line in support matrix - we can prioritize this for later review.

[2020-12-30 17:50] EricDavisX commented on #87036
we can prioritize this for later review.  also removing the 7.10.2 label as the labels generally are intending to indicate what releases a fix is targeting (and only urgent fixes are going into the patch releases generally).  @manishgupta-qasource fyi .  Thanks.

[2020-12-30 17:53] lukeelmers commented on #86946
Duplicate of https://github.com/elastic/kibana/issues/76722

[2020-12-30 17:53] #86946 closed

[2020-12-30 17:54] elasticmachine commented on #86945
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-30 17:55] elasticmachine commented on #86749
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-30 17:56] elasticmachine commented on #86723
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-30 17:57] elasticmachine commented on #86670
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-30 18:53] jbudz commented on #87038
Are you in an air-gapped environment and can the route be added if so?  Does the url provided work in a browser?  We run builds frequently so we do want to stick to caches when possible.

I did confirm with a local build that things are functioning on my end.

[2020-12-30 19:00] tsullivan opened #87071 "[Reporting] When Kibana fails to claim a pending job, log the UUID of the instance that claimed it"
For troubleshooting purposes, Kibana should be more graceful when it encounters an error in claiming a pending Reporting job.

Usually this kind of failure means that another, remote instance of Kibana claimed the job and is working on it.

However, sometimes that is not expected; such as when a user doesn't realize that other instances of Kibana are able to claim a job that is queued in the clust

[2020-12-30 19:00] elasticmachine commented on #87071
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-30 19:10] archon810 commented on #7759
As per https://github.com/elastic/kibana/pull/68262#issuecomment-668267174, this still seems relevant.

[2020-12-30 19:11] tsullivan opened #87074 "[Reporting] Failure to take a screenshot of a dashboard or visualization should retry"
Reporting uses multiple timeouts when [orchestrating the Kibana page](https://github.com/elastic/kibana/blob/master/x-pack/plugins/reporting/server/lib/screenshots/observable.ts#L47) for screenshot capture. These configuration settings were added in https://github.com/elastic/kibana/pull/58683 to ease with troubleshooting.

Unfortunately, now that the page avoids failing for the sake of capturing

[2020-12-30 19:11] elasticmachine commented on #87074
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-30 19:20] mikecote commented on #66095
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:20] mikecote commented on #83221
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:20] mikecote commented on #81849
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:20] mikecote commented on #82001
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:21] mikecote commented on #82000
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:21] mikecote commented on #81318
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:21] mikecote commented on #77623
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:22] mikecote commented on #74381
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:22] mikecote commented on #58417
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:22] mikecote commented on #77380
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:23] mikecote commented on #80953
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:23] mikecote commented on #80093
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:23] mikecote commented on #79789
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:23] mikecote commented on #79715
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:24] mikecote commented on #79362
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:24] mikecote commented on #54386
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:24] mikecote commented on #70856
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:25] mikecote commented on #67660
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:25] mikecote commented on #70083
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:25] mikecote commented on #70082
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:25] mikecote commented on #61018
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:25] mikecote commented on #59813
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:26] mikecote commented on #64588
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:26] mikecote commented on #56403
Moving from `7.12 - Candidates` to `7.x - Candidates`.

[2020-12-30 19:51] GeorgeRD opened #87077 "Cusum() function in Timelion returns no values when applied on a log() seriesList with first bucket value null"
**Kibana version:** 6.8.10

**Elasticsearch version:** 6.8.10

**Server OS version:** CentOS 7

**Browser version:** Chrome 87.0.4280.88 (Official Build) (64-bit)

**Browser OS version:** Windows 10 Home

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
The cusum() function in Timelion does not return any results when applied in a logarithmic ser

[2020-12-30 19:58] tsullivan commented on #87021
@elastic/kibana-app-services

[2020-12-30 20:05] mostlyjason opened #87078 "[Metrics] Inventory page showing no CPU for docker containers on Elastic Agent"
**Kibana version:**
7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**
Debian 10

**Browser version:**
Firefox 84

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Agent 7.10.1 with default system integration

**Describe the bug:**
When I select to show docker containers, the CPU value is zero even though I know they are actively using CPU. I also tr

[2020-12-30 20:05] elasticmachine commented on #87078
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-30 20:44] mostlyjason opened #87082 "[Fleet] Data streams page is showing hidden indices"
**Kibana version:**
7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**
Debian

**Browser version:**
Firefox

**Describe the bug:**
The data streams page is breaking out rows for every hidden index created as a result of a rollover.

**Steps to reproduce:**
1. Send enough data into an data stream that it triggers a rollover
2. View the data streams page in Fleet

**Expected behavior:

[2020-12-30 20:44] elasticmachine commented on #87082
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-30 20:44] elasticmachine commented on #87082
Pinging @elastic/fleet (Feature:Fleet)

[2020-12-30 21:29] austinsonger commented on #86970
### More Examples
- Feed of known hashes with common false-positives
- Feed of known domains used by automated malware analysis services
- Feed of known bank domains
- Feed of known domains used by automated malware analysis services & security vendors

[2020-12-30 21:30] #87030 closed

[2020-12-30 21:59] dddeeemmm opened #87085 "Zeroes nanoseconds in Kibana"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Server OS version:** Centos 7.5

**Browser version:** 84.0.4147.135

**Browser OS version:** Google Chrome

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:** Elasticsearch stores timestamp in nanoseconds but Kibana showing zeros after 3 digit on logs from Fluentd (Kubernetes)

**Step

[2020-12-30 22:23] paalaas opened #87086 "Piechart revert to default colors when no data is displayed"
**Kibana version:7.10.1**

**Elasticsearch version:7.10.1**

**Server OS version:Windows Server 2016**

**Browser version:Chrome**

**Browser OS version: Windows 10 PRO 2020H2**

**Original install method (e.g. download page, yum, from source, etc.):ELK Download**

**Describe the bug:**
I have created a visualisation with a pie chart and customized the colors and then saved, this works well until

[2020-12-31 04:08] scratchmex commented on #43539
Just adding to this issue. If you installed Kibana via `.deb` or `apt install` when you run `bin/kibana-keystore create` without `sudo` it throws this error:

[code]

Instead you must run
[code]

which succesfully creates the keystore:

[code]

[2020-12-31 04:41] gogochan commented on #84804
@aky1286 , I tried to reproduce this on my environment, but wasn't able to reproduce it. Is there any special setup that I should be aware that would impact network stack, such as Firewalld, iptable setting, or Docker.
Also I was reviewing your TCPdump output, but didn't see anything from the Endpoint. Can you capture another output with following command
`tcpdump -nn -i lo port 6789`

[2020-12-31 06:25] muskangulati-qasource commented on #86104
Hi @kevinlog,

We have been seeing the same issue for 7.10.2

**Build Details**
[code]

Please let us know if are missing anything!

Thanks!
cc: @paul-tavares

[2020-12-31 06:26] muskangulati-qasource commented on #86269
Hi @kevinlog,

We have been seeing the same issue for 7.10.2

**Build Details**
[code]

Please let us know if are missing anything!

Thanks!

[2020-12-31 07:14] heavenly-zy commented on #87038
I tried to run it in the browser through `yarn start`, but there was still an error
![image](https://user-images.githubusercontent.com/50657815/103398938-ba150d80-4b79-11eb-9cae-06e33d9f47d4.png)
Is there a conflict between kibana and elasticsearch?But I didn't find that there was an elasticsearch is v8.0.0

[2020-12-31 07:18] yevgenytrcloudzone commented on #56403
BTW, if anyone is interested, the only work around is sending the alerts as e-mails to the e-mail integration at OpsGenie.
OpsGenie will create a dedicated e-mail address that will create the alerts with the subject and body from the e-mail message.

[2020-12-31 07:27] #78908 closed

[2020-12-31 08:23] muskangulati-qasource opened #87088 "[Security Solution] Event count is not preserved if sorting is done on empty columns under the timeline"
**Describe the bug**
Event count is not preserved if sorting is done on empty columns under the timeline

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed and events should be generated.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Timeline" tab under Security from the

[2020-12-31 08:25] muskangulati-qasource commented on #87088
@manishgupta-qasource please review!

[2020-12-31 08:39] manishgupta-qasource commented on #87088
Reviewed & Assigned to @MadameSheema

[2020-12-31 10:06] gmmorris commented on #86507
I've added an item to Monday's sync, but after a chat with @Zacqary sounds like O11y can live with removing the manual recovery for the 7.11 release, which should address this bug.

I'll keep the discussion point in the sync to make sure we're aligned, but I suggest we:

1. We remove this item from _Make it Action_ as it'll be handled by @elastic/logs-metrics-ui in their project
2. We discuss prio

[2020-12-31 10:36] deepikakeshav-qasource opened #87090 "[Security Solution] Inconsistent spellings of tag 'Continuous Monioring' that leads to the wrong division of elastic rule "Microsoft 365 Exchange Safe Link Policy Disabled"."
**Description**
Inconsistent spellings of tag 'Continuous Monioring' that leads to the wrong division of elastic rule "Microsoft 365 Exchange Safe Link Policy Disabled".

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2

[2020-12-31 10:37] deepikakeshav-qasource commented on #87090
@manishgupta-qasource Please review

[2020-12-31 10:40] manishgupta-qasource commented on #87090
Reviewed & Assigned to @MadameSheema

[2020-12-31 11:58] deepikakeshav-qasource opened #87092 "[Security Solution] In proper Field drop down is displaying for few seconds when click on "Add template field" under the add field when creating the new timeline template"
**Description**
In proper field drop-down is displaying for few seconds when click on "Add template field" under the add field when creating the new timeline template

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the Timeline tab of security.
2

[2020-12-31 11:59] deepikakeshav-qasource commented on #87092
@manishgupta-qasource Please review

[2020-12-31 12:02] manishgupta-qasource commented on #87092
Reviewed & Assigned to @MadameSheema

[2020-12-31 12:12] karanbirsingh-qasource commented on #86766
![image](https://user-images.githubusercontent.com/59917825/103409205-ac688380-4b8b-11eb-8bcc-01756bd739df.png)

[2020-12-31 12:13] karanbirsingh-qasource commented on #86742
Hi @EricDavisX

Please find below required logs.

[code]
Agent logs on machine :
[elastic-agent-watcher-json.zip](https://github.com/elastic/kibana/files/5757187/elastic-agent-watcher-json.zip)
[elastic-agent-json.zip](https://github.com/elastic/kibana/files/5757188/elastic-agent-json.zip)

please let us known if any other details required from our end.

thanks !!

[2020-12-31 12:34] karanbirsingh-qasource commented on #86766
Hi @ferullo

Please find addition observation for the Agent and Endpoint Security installation status on 7.11.0 & 8.0.0 SNAPSHOT and 7.11.0 BC1.

### Agent and Endpoint Security installation Observation
Platform | Version | Commit | Build | Test-Signing ON | Test-Signing ON | Test-Signing OFF | Test-Signing OFF | Remark
-- | -- | -- | -- | -- | -- | -- | -- | --
  |   |   |   | Agent Only installa

[2020-12-31 12:36] azasypkin commented on #80678
Hey @elastic/kibana-alerting-services,

Can you please confirm that you're still targeting 7.12 for this work? Once you merge your part we'll remove `usingEphemeralEncryptionKey` from the EncryptedSavedObjects plugin contract in https://github.com/elastic/kibana/pull/81511.

Thanks!

[2020-12-31 12:36] azasypkin commented on #81619
Hey @elastic/ingest-management ,

Can you please confirm that you're still targeting 7.12 for this work? Once you merge your part we'll remove `usingEphemeralEncryptionKey` from the EncryptedSavedObjects plugin contract in https://github.com/elastic/kibana/pull/81511.

Thanks!

[2020-12-31 12:39] azasypkin commented on #81620
Hey @elastic/siem ,

Can you please confirm that you're still targeting 7.12 for this work? Once you merge your part we'll remove `usingEphemeralEncryptionKey` from the EncryptedSavedObjects plugin contract in https://github.com/elastic/kibana/pull/81511.

Thanks!

[2020-12-31 12:57] mikecote commented on #80678
@azasypkin yup, I can confirm this issue made it part of our 7.12 release planning. Once this issue closes, you'll be good to go on your end 👍

[2020-12-31 16:11] madirey opened #87095 "[Security Solution] Host Aggregations are Slow"
**Description:**
The source and destination IP cardinality aggregations are very slow when aggregating over a large amount of data. Bumping the precision threshold to `40000` on these aggregations speeds up the calculations considerably, while sacrificing accuracy.

**Steps to reproduce:**
1. Populate a cluster with a large amount of data, several GB over multiple indices.
2. Navigate to Hosts tab

[2020-12-31 19:18] spalger commented on #86038
Closed by https://github.com/elastic/kibana/pull/87056

[2020-12-31 19:18] #86038 closed

[2021-01-01 17:16] kibanamachine opened #87098 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/rbac_legacy·ts - alerting api integration security and spaces enabled Alerts legacy alerts alerts space_1_all at space1 should schedule actions on legacy alerts"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10822/)

[2021-01-01 17:24] jbudz commented on #87010
We had another failure with https://kibana-ci.elastic.co/job/elastic+kibana+master/10822/, skipped for now.

main: 308827a
7.x: b4400b7

[2021-01-01 17:41] lplazas commented on #10314
Agreed, this could come in handy.

[2021-01-01 17:57] kibanamachine opened #87099 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail·js - Monitoring app Elasticsearch node detail Advanced Active Nodes should show node summary of data node with 4 indices and 4 shards"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10711/)

[2021-01-01 18:00] elasticmachine commented on #87099
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-01 21:19] MaxMood69 opened #87100 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-01-01 21:19] elasticmachine commented on #87100
Pinging @elastic/apm-ui (Team:apm)

[2021-01-01 21:20] MaxMood69 opened #87101 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2021-01-01 21:20] elasticmachine commented on #87101
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-01 21:35] #87100 closed

[2021-01-02 20:02] kibanamachine opened #87104 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/users·ts - Kibana users page a11y tests a11y test for create user panel"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10737/)

[2021-01-02 20:36] StefanSa commented on #77267
anny news here ?

[2021-01-02 21:14] StefanSa commented on #78274
Any News here?

[2021-01-03 01:04] davidsusu commented on #14726
Could you provide a working meaningful example **with data**?

[2021-01-03 02:15] kibanamachine commented on #81460
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/428/)

[2021-01-03 04:15] kibanamachine opened #87105 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list·ts - Actions and Triggers app alerts list should display total alerts by status and error banner only when exists alerts with status error"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10745/)

[2021-01-03 14:40] alesnav opened #87107 "[Maps] Ability to mark layer to be used (or not) for auto fit bounds function"
Hello there,

I have looked for this "feature request" but did not see anything directly related.

Once I can upload GeoJSON files to Elasticsearch and use them to enrich the whole map, many of my GeoJSON layers are not "data" as usual. Many of them are used just to enrich the background of the map, and should not be used in the "auto fit bounds" calcs. This way, the map would zoom only desired da

[2021-01-03 15:23] lizozom commented on #85804
@dsmith001 I like your examples

Regarding the UI actions, lets take a look at the UI:
![image](https://user-images.githubusercontent.com/3016806/103482207-344ac980-4de8-11eb-92d4-113729d2a217.png)

I would imagine the text to be something like:

 - `Results loaded` :arrow_right: `Search Session loaded`
 - `Save` stays the same
 - `View background sessions` :arrow_right: `Browse Saved Search Sessi

[2021-01-03 15:28] lizozom commented on #85804
If we do change the name, I think we should rename some components in the code and update the docs to avoid confusion (shouldn't take too long to do).

[2021-01-03 15:59] kibanamachine commented on #82226
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10757/)

[2021-01-03 19:15] john-penntech commented on #61248
+1.  Labels on X-axis are vertical so unreadable

[2021-01-03 20:11] myasonik commented on #87101
If you meant to open this issue, feel free to fill out the description and reopen it.

[2021-01-03 20:11] #87101 closed

[2021-01-03 20:22] elasticmachine commented on #87107
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-04 01:20] dominiqueclarke commented on #86331
This bug occurs when there is an unequal amount of sidebar items versus the amount of data points for the x axis (or y axis, since the the chart is rotated 90 degrees). When the timings for an individual resource are not fetched successful, they are omitted from the data fed to Elastic Charts causing this disparity between the number of resources listed and the number of resources for which there

[2021-01-04 01:36] austinsonger commented on #66587
### So is the pull request going to give the ability to add following for context fields?

[code]

[2021-01-04 06:31] ppisljar commented on #17284
we would definitely appreciate help with this as we haven't planned for this for 7.12..

[2021-01-04 06:40] muskangulati-qasource opened #87110 "[Security Solution] Getting error 404 while fetching details for exceptionlist"
**Describe the bug**
Getting error 404 while fetching details for exceptionlist

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Detection" tab under Security from the left navigation ba

[2021-01-04 06:40] muskangulati-qasource commented on #87110
@manishgupta-qasource please review!

[2021-01-04 06:42] elasticmachine commented on #86951
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-04 07:58] manishgupta-qasource commented on #87110
Reviewed & Assigend to @MadameSheema

[2021-01-04 08:06] flash1293 commented on #86961
This is expected, because the sum aggregation returns `0` instead of `null` if there are no documents in a given time bucket, its sum of metric will become zero which doesn't qualify as "missing" in the eyes of the Timelion fitting function.

I'm not sure whether this is helpful, but you can use a conditional to turn 0 into nulls, then fitting kicks in:
[code]

<img width="1337" alt="Screenshot 20

[2021-01-04 08:07] #86961 closed

[2021-01-04 08:19] pgayvallet commented on #86707
To avoid performing requests to fetch all tags everytime we need to display them (such as when listing them in the 'tag' filter menu in various app), we got a client-side cache (`ITagsCache`).

When deleting a tag from the `tags` management section, the cache is properly invalidated. This is not done when deleting it from the SO management section.

[2021-01-04 08:23] pgayvallet commented on #86875
Yea, for the initial version of the feature, using only memory storage was considered acceptable due to the fact that only the time of the last usage of the licensed features is used. If we need to aggregate stats around that, using a more persistent storage will probably be necessary.

[2021-01-04 08:29] karanbirsingh-qasource opened #87112 "User unable to Add Endpoint/Rule Exception to Detection Rules"
**Describe the bug**
User unable to Add Exception to Detection Rules

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "7.11.0" BC1 ES version running.
2. Install Agent+Endpoint on the above environment

**Steps to Reproduce**
1. Navigate to `Security / administration`.
2. Click on the policy name and change the malware p

[2021-01-04 08:30] pgayvallet commented on #77567
It definitely should. @rudolf are you aware of anything that could lead to the (v1) migration returns before the final refresh is performed?

[2021-01-04 08:30] karanbirsingh-qasource commented on #87112
@manishgupta-qasource Please review

[2021-01-04 09:00] manishgupta-qasource commented on #87112
Reviewed & assigned to @MadameSheema

[2021-01-04 09:27] elasticmachine commented on #87086
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-04 09:28] flash1293 commented on #87086
@stratoula I definitely remember stumbling over this problem earlier, but I can't find another issue reporting this. Do you know more about it?

[2021-01-04 09:29] elasticmachine commented on #87085
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-04 09:29] elasticmachine commented on #87077
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-04 09:30] elasticmachine commented on #87049
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-04 09:32] stratoula commented on #87086
Yes it is a bug on 7.10 which will be solved on 7.11. This is another issue reporting it #84800. I think that it was solved by the vislib individual renderers task. So I am closing it as it is not reproducible on 7.11.

[2021-01-04 09:32] #87086 closed

[2021-01-04 09:38] watson commented on #85858
@Bamieh I've created #87114 to get this fixed in `master`

[2021-01-04 09:51] markharwood opened #87115 "[Lens] Warn or prevent users from sorting the terms aggregation by count in ascending order"
This issue has been edited to reflect the discussion below.

## Feature request

In addition to [making the sorting experience more intuitive](https://github.com/elastic/kibana/issues/79024), Lens should discourage the use of "ascending count" as a sort order, because it leads to inaccurate results in distributed systems.

## Open question

Is it important to keep the ascending sort order for any

[2021-01-04 10:01] pugnascotia commented on #86038
Thanks @spalger 🙏

[2021-01-04 10:25] dgieselaar opened #87117 "[APM] UI filters don't carry over from service inventory"
After selecting a UI filter (host or agent name), and navigating to a service detail page via a service inventory item link, the UI filters are not persisted, and they should be.

[2021-01-04 10:25] elasticmachine commented on #87117
Pinging @elastic/apm-ui (Team:apm)

[2021-01-04 10:33] dgieselaar commented on #86964
Why does this page not have a transaction type? Shouldn't this be fixed by making sure that transaction type is set when navigating to this page?

[2021-01-04 10:35] MadameSheema commented on #87112
@spong @peluja1012 can you please help to prioritise this? thanks :)

[2021-01-04 10:35] dgieselaar opened #87120 "Report route exception as APM error"
Currently, if a route handler throws an exception, it's logged to the console but not reported to/by the APM agent, only the resulting Hapi error is recorded. The underlying exception should be recorded as an APM error as well.

[2021-01-04 10:35] paulb-elastic commented on #86744
https://github.com/elastic/kibana/issues/86331 is the issue this duplicates.

[2021-01-04 10:36] elasticmachine commented on #87120
Pinging @elastic/kibana-core (Team:Core)

[2021-01-04 10:36] dgieselaar commented on #85238
FYI, this is reproducable by opening the APM page, waiting longer a minute, then selecting the last 1 minute.

[2021-01-04 10:47] MadameSheema commented on #87110
@peluja1012 @spong can you please help to prioritise this? thanks :)

[2021-01-04 10:48] paulb-elastic commented on #86743
It looks like this is similar to https://github.com/elastic/kibana/issues/85826 where those top navigations are not relevant at the level drilled into

[2021-01-04 10:50] dgieselaar commented on #87027
@cauemarcondes no, this is an issue with the test environments, where all services talk to each other via a single proxy that will opaquely route traffic to another service. See https://github.com/elastic/kibana/issues/83152#issuecomment-726729162.

[2021-01-04 10:50] #87027 closed

[2021-01-04 10:50] dikshachauhan-qasource opened #87124 "[Ingest Manager]: 'elastic-agent.endpoint-security' option not added to Dataset filter when endpoint-security integration is added to policy after agent-installation."
**Kibana version:**
7.11 BC Kibana Cloud environment

**Elasticsearch version:**
7.11 BC Kibana Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 BC Kibana Cloud environment

**Preconditions**
1.  7.11 BC Kibana Cloud environment  should be available.
[code]
2. Any policy having system integration sho

[2021-01-04 10:52] dikshachauhan-qasource commented on #87124
@manishgupta-qasource Please review

[2021-01-04 10:58] MadameSheema commented on #87092
@XavierM can you please help to prioritise this?

[2021-01-04 11:02] markharwood opened #87126 "Drilldowns in the real world are hard work."
I recently put together a demo using drilldowns from dashboards and had to resort to some messy hacking to make it look slick.
This was far from being an edge-case and it resurrected the [same general concern I had when adding drilldowns into the Graph UI](https://github.com/elastic/kibana/issues/17877) - **external systems are always linked to via IDs but people want to see and click on labels.**

[2021-01-04 11:02] #87037 closed

[2021-01-04 11:04] Bamieh opened #87129 "[Telemetry] Stop collecting ui_metrics"
UI metrics is deprecated in favor of UI Counters. We currently send both payloads until we have a full transition to UI Counters.

This is an issue tracker for removing ui_metrics from the usage data payload.

- [ ] Stop storing ui_metrics saved objects. Instead use ui_counters data to rebuild the ui_metrics payload.
- [ ] [Blocked] UI_counters can be fully used on telemetry-next (https://github.c

[2021-01-04 11:04] elasticmachine commented on #87129
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-01-04 11:09] dgieselaar commented on #87028
The issue is that the currently selected environment is implicitly carried over for all links to other services. There are other bugs related to this as well.

[2021-01-04 11:10] manishgupta-qasource commented on #87124
Reviewed & Assigned to @EricDavisX

[2021-01-04 11:10] elasticmachine commented on #87124
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-04 11:21] dgieselaar opened #87131 "[APM] Can't close transaction action menu with/after clicking on button"
After opening the transaction action menu, clicking on the button again does not close the menu, and puts the menu into a state where it cannot be closed, not even by clicking outside the menu or pressing escape. Only way to "close" it is to refresh the page.

https://user-images.githubusercontent.com/352732/103530175-44fe4c80-4e87-11eb-8c7a-b4c391c4bc3a.mov

[2021-01-04 11:21] elasticmachine commented on #87131
Pinging @elastic/apm-ui (Team:apm)

[2021-01-04 11:30] deepikakeshav-qasource opened #87132 "[Security Solution] "Failed to run search" error is displaying when clicking on View Details icon under alerts table."
**Description**
"Failed to run search" error is displaying when clicking on View Details icon under alerts table.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Alert should be generated.

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Scroll down to the A

[2021-01-04 11:30] deepikakeshav-qasource commented on #87132
@manishgupta-qasource Please review.

[2021-01-04 11:33] manishgupta-qasource commented on #87132
Reviewed & assigned to @MadameSheema

[2021-01-04 11:39] Bamieh commented on #48937
I believe we can close this as resolved. Please feel free to reopen if needed:

- The new api will always send 200 even if storing the data fails (`200` status with a payload object `{ status: 'fail' }`).
- We have a retry policy whenever the api fails. It will try to resend the data multiple times before giving up.

Another related notable changes since this issue was opened:

- We've replaced th

[2021-01-04 11:39] #48937 closed

[2021-01-04 11:43] Bamieh commented on #46928
Added `blocked` label. Whatever implementation we decide on should be fairly simple to code; I am not sure whom we should follow up with to get a decision made however.

[2021-01-04 12:05] paulb-elastic commented on #86331
Do we have a view on if this is only really happening because we are loading resources from the local file system (which I agree, is a rare use case), or will this also happen (squashed view) whenever we don’t have timings for a resource, but have identified the URL of the request?  This could potentially happen more often (I don’t think we have enough exposure or use cases yet to know for sure),

[2021-01-04 12:09] sorantis commented on #80304
Add Log Rate and custom metric charts to the tab.

[2021-01-04 12:18] formgeist opened #87134 "[APM] Bug: Waterfall visualization has a large top margin before showing span items"
Kibana version: master

# Summary

The waterfall visualization has a large margin added to the top of the visualization before any span items are rendered. Not sure if this is related to the charts replacement?

<img width="1493" alt="Screenshot 2021-01-04 at 10 11 17" src="https://user-images.githubusercontent.com/4104278/103534476-37e55b80-4e8f-11eb-9af1-16a1d1964fd7.png">

[2021-01-04 12:18] elasticmachine commented on #87134
Pinging @elastic/apm-ui (Team:apm)

[2021-01-04 12:22] MadameSheema commented on #87035
@XavierM can you please help with this? thanks :)

[2021-01-04 12:23] MadameSheema commented on #87088
@XavierM can you please help to prioritise this? thanks :)

[2021-01-04 12:24] MadameSheema commented on #87090
@peluja1012 @spong can you please help to prioritise this?

[2021-01-04 12:25] banderror commented on #85951
@muskangulati-qasource no worries, thank you, that's great!

[2021-01-04 12:30] sgrodzicki commented on #80304
Should Log Rate be in the "Metrics" or "Logs" tab?

[2021-01-04 12:38] muskangulati-qasource commented on #73927
Hi @EricDavisX,

This issue is also occurring for integrations added under the Agents tab. Please find below details:

**Build Details**:
[code]

**Refer Screenshots**:
- Initial load:
![IntegrationIcons](https://user-images.githubusercontent.com/60252716/103508154-91955800-4e86-11eb-8fc4-418a3748490c.png)

- After sometime:
![IntegrationIconsUpdated](https://user-images.githubusercontent.com/6025

[2021-01-04 12:45] MadameSheema commented on #87032
@XavierM can you please help to prioritise this? thanks :)

[2021-01-04 12:50] #87025 closed

[2021-01-04 12:52] jloleysens commented on #86670
Hi @sc7565 , thanks for reporting this issue!

I believe this has been fixed in this PR https://github.com/elastic/kibana/pull/85251 which targets 7.10.2.

I'm closing this issue for now.

[2021-01-04 12:52] #86670 closed

[2021-01-04 12:53] #84446 closed

[2021-01-04 12:53] #84755 closed

[2021-01-04 12:56] #84650 closed

[2021-01-04 13:03] sorantis commented on #80304
In Metrics, since it's one of the default metrics in Inventory.

[2021-01-04 13:11] Bamieh commented on #84165
I am all in for exlporing adding a new api if needed but i'd like to discuss the use case a little bit more before jumping into any implementation ideas.

To make sure i understood the scope of the feature I'll restate it:

1. You are using an expensive api call provided by the embeddables team.
2. The resolved payload from this api call is required by multiple `collector.fetch` functions.

Assumi

[2021-01-04 13:13] elasticmachine commented on #87104
Pinging @elastic/kibana-qa (Team:QA)

[2021-01-04 13:14] #81460 closed

[2021-01-04 13:21] restrry commented on #86435
I didn't manage to reproduce the reported problem with caching. But I agree we should remove the target folders during cleanup.

All the plugin projects emit to `./target/types` folder.
`kibana.clean.extraPatterns` covers all the plugins, but not
- `src/core/target`
- `packages/*/target`
- `examples/*/target`, `x-pack/examples/*/target`
- `test/*/plugins/*/target`, `x-pack/test/*/plugins/*/target`

[2021-01-04 13:22] dikshachauhan-qasource commented on #84119
Hi @EricDavisX

We have executed **09** testcases under test plan [Agent Logging Level test run](https://elastic.testrail.io/index.php?/runs/view/921)

Build details are as follows:
[code]

Please let us know if anything is required from our side.

Thanks
QAS

[2021-01-04 13:25] Bamieh commented on #69159
I think we should advise using server collectors whenever possible instead of using ui_counters.

If the data is going to the server anyways by other means I think we should fetch the data from the server. Grabbing the data from the server means less friction with the users hence better UX (mainly avoiding bugs and any performance penalty in the UI).

Since #81645 is for 7.12 i think we can have t

[2021-01-04 13:39] Bamieh commented on #85810
Thanks for opening an issue for this!

It does sound compelling but I am afraid this would restrict "growing" the schema api separately as needed. For example we might want to add a `description` field to the schema object in the future to get usage documentation out of the box.

I find this con the main reason to prevent us from switching. We do need this level of percision to understand the fiel

[2021-01-04 13:39] nchaulet commented on #84143
Should be fixed by https://github.com/elastic/kibana/pull/84277

[2021-01-04 13:39] #84143 closed

[2021-01-04 13:43] elasticmachine commented on #87126
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-04 13:44] Dosant commented on #87126
cc @elastic-jb @streamich for visibility

[2021-01-04 13:49] #85828 closed

[2021-01-04 13:51] Dosant opened #87148 "[Bug][Discover][Search][Send to Background] Can't restore search session with saved search"
Part of https://github.com/elastic/kibana/issues/83640

https://user-images.githubusercontent.com/7784120/103541807-38382380-4e9c-11eb-8825-07e07c7d1ff3.mov

Also search session should be improved and use saved search name

[2021-01-04 13:51] elasticmachine commented on #87148
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-04 13:53] mdefazio commented on #84977
Sorry for coming in late on this. If I'm understanding the requirements, it sounds like Mike's suggestion above makes the most sense (and we've already designed out this flow).

However, correct me if I'm wrong, but this would simply filter to alerts with errors, not specific to newly imported warnings. I think that's still ok—just checking. I'm wondering if we should add a message during import t

[2021-01-04 13:55] jamiehynds commented on #83141
@leehinman would you mind creating the PR as per PH above?

[2021-01-04 14:03] Dosant opened #87149 "[Search][Send to background] Restoration URL conflicts with global time sync with chrome's URLs"
Part of https://github.com/elastic/kibana/issues/83640

See reproduction:

https://user-images.githubusercontent.com/7784120/103542768-b8ab5400-4e9d-11eb-8f7d-1d11baa24c3c.mov

What happens here:

1. Discover set its last URL with restore search sessionId and absolute time to the chrome's navbar.
2. Dashboard updates the absolute Discover's time to its last time
3. When navigating to discover we s

[2021-01-04 14:03] elasticmachine commented on #87149
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-04 14:25] chrisronline commented on #84041
This is most likely related to https://github.com/elastic/kibana/pull/76015 after further research. In preparation for https://github.com/elastic/kibana/issues/73864, we are now reading from `metricbeat-*` indices in certain spots in the Stack Monitoring UI. This is a new change in 7.10.

My assumption here is the size of `metricbeat-*` indices is affecting the query.

@mayya-sharipova Is there an

[2021-01-04 14:39] nchaulet commented on #86864
@EricDavisX do you have the kibana server logs here?

[2021-01-04 14:39] aky1286 commented on #84804
Hello @gogochan

Other than the self signed cert that we are using, there isn't any special setup that may impact.

Here is a screenshot of the requested TCPdump output:

![image](https://user-images.githubusercontent.com/68090439/103546286-bc74b180-4e70-11eb-94f5-93f0da014e9b.png)

[2021-01-04 14:50] phillipb opened #87153 "[TEST PLAN][METRICS UI] Node Details Overlay - Metrics, Logs and Metadata Tab"
## Summary
The node details overlay shows up when clicking on a node in the waffle map. It gives you quick overview of metrics, logs, processes and metadata about that node.

## Scenarios
- [x] It opens when I expect it to
  - [x] When clicking a node on the waffle map the overlay appears?
  - [x] When changing the inventory type to Kubernetes and clicking a node, it doesn't appear?
  - [x] If an

[2021-01-04 14:50] elasticmachine commented on #87153
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-04 14:51] mistic commented on #82226
This test has been flaky. Skipping for now.

master/8.0: 90a1961
7.x/7.12: 458e248
7.11/7.11.0: 1b07172

[2021-01-04 14:54] thomasneirynck commented on #86723
@Lolo-Flamingo How are you taking the screenshots?

e.g.:
- With the browser's print functionality,
- a screenshot with screensshot software (or built-in from OS)
- Kibana pdf export
- other?

thanks,

[2021-01-04 14:54] chrisronline opened #87156 "[Monitoring] Stop relying on constructor.name"
Relates to https://github.com/elastic/kibana/issues/86339

[This code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/components/logstash/pipeline_viewer/models/pipeline/make_statement.js#L12) relies on `constructor.name` to identify the type for the provided argument, but this behavior is volatile as [this change](https://github.com/elastic/kibana/pull/81431) break

[2021-01-04 14:54] elasticmachine commented on #87156
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-04 14:58] mistic opened #87157 "Failing ES Promotion: security (basic license) API Keys GET /internal/security/api_key/_enabled should indicate that API Keys are enabled"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2017/testReport/junit/X-Pack%20API%20Integration%20Tests%20(Security%20Basic)/x-pack_test_api_integration_apis_security_api_keys%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___security__basic_license__API_Keys_GET__internal_security_api_key__enabl

[2021-01-04 14:58] elasticmachine commented on #87157
Pinging @elastic/kibana-security (Team:Security)

[2021-01-04 14:59] #79779 closed

[2021-01-04 15:03] Lolo-Flamingo commented on #86723
@thomasneirynck  yes, I take some screenshot with snipping tool of windows or with the pdf/png export from kibana.

[2021-01-04 15:03] mistic commented on #87157
Skipped:

master: 16fa35c

[2021-01-04 15:05] chrisronline opened #87159 "[Monitoring] Refactor ES index listing page to use server-side pagination"
We did this for [ES nodes listing](https://github.com/elastic/kibana/pull/47224) and [Logstash pipeline listing](https://github.com/elastic/kibana/pull/46587) pages but it's time to do this for ES index listing page.

With https://github.com/elastic/kibana/pull/76015, we are now querying for more data and starting to see issues: elastic/elasticsearch#65405, https://discuss.elastic.co/t/kibana-time

[2021-01-04 15:05] elasticmachine commented on #87159
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-04 15:06] chrisronline commented on #84041
There is something we can do on our side to help and that is migrate to using server-side pagination which should greatly increase the load time of this page. I opened https://github.com/elastic/kibana/issues/87159 to track this.

FWIW, we made this change for the ES nodes listing and Logstash pipelines listing pages and saw substantial improvements in terms of load.

[2021-01-04 15:07] mistic opened #87160 "Failing ES Promotion: migration actions createIndex resolves right after waiting for an index status to be green if the index already existed"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2017/testReport/junit/Jest%20Integration%20Tests/src_core_server_saved_objects_migrationsv2_integration_tests/Kibana_Pipeline___kibana_intake_agent___migration_actions_createIndex_resolves_right_after_waiting_for_an_index_status_to_be_green_if_the

[2021-01-04 15:07] mistic commented on #86350
Closing as it is being also tracked as a failing es promotion issue https://github.com/elastic/kibana/issues/87160

[2021-01-04 15:07] #86350 closed

[2021-01-04 15:07] formgeist opened #87161 "[APM] Bug: Service info popovers don't close when clicking the icon"
Kibana version: master

# Summary

Minor UX improvement, but also a bug because there's a link indication on hover that assumes that the popover will be closed again if you click the icon again.

https://user-images.githubusercontent.com/4104278/103548976-ec3eac00-4ea6-11eb-8f94-f555e6219539.mp4

[2021-01-04 15:07] elasticmachine commented on #87161
Pinging @elastic/apm-ui (Team:apm)

[2021-01-04 15:09] gogochan commented on #84804
Hi @aky1286,

Is self signed cert is used to protect Kibana? I presume that was setup following the steps described in https://www.elastic.co/blog/configuring-ssl-tls-and-https-to-secure-elasticsearch-kibana-beats-and-logstash

Also, based on the output, there are two connection, from port 37622 and 37618. Can you identify if any of these are from Endpoint? One of the way to do it is by running `l

[2021-01-04 15:10] mistic commented on #87160
Skipped.

master/8.0: acf2c21

[2021-01-04 15:14] mostlyjason opened #87162 "[Fleet] Add metadata to elastic agent indices/data streams"
**Describe the feature:**
We are using metadata to define which ES assets are managed by Fleet, for easier tracking and provide better messaging to users when they attempt to change them. These are present on the mappings of indices created by our packages and they are also reflected at the data stream level. However, they are missing from the elastic agent indices and data streams. Can we add the

[2021-01-04 15:14] elasticmachine commented on #87162
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-04 15:14] elasticmachine commented on #87162
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-04 15:16] mistic opened #87163 "Failing ES Promotion: API Keys app Home page Loads the app"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2017/testReport/junit/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_apps_api_keys_home_page%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___API_Keys_app_Home_page_Loads_the_app/

For more information on the Elasticsearch snapshot

[2021-01-04 15:16] elasticmachine commented on #87163
Pinging @elastic/kibana-qa (Team:QA)

[2021-01-04 15:18] mistic commented on #87163
Skipped.

master/8.0: 77d03ee

[2021-01-04 15:19] MadameSheema commented on #87022
@monina-n can you please take a look to this issue? thanks :)

[2021-01-04 15:22] mistic opened #87166 "Failing ES Promotion: Fleet Endpoints fleet_unenroll_agent should allow to unenroll single agent"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2017/testReport/junit/X-Pack%20EPM%20API%20Integration%20Tests/x-pack_test_fleet_api_integration_apis_agents_unenroll%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___Fleet_Endpoints_fleet_unenroll_agent_should_allow_to_unenroll_single_agent/

For m

[2021-01-04 15:22] elasticmachine commented on #87166
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-04 15:23] MadameSheema commented on #86745
@deepikakeshav-qasource can you please try to reproduce the bug on BC2? Thanks :)

[2021-01-04 15:23] mistic commented on #87166
Skipped.

master/8.0: 4c3c2ac

[2021-01-04 15:27] MadameSheema commented on #86417
Closing since we have a duplicate.

[2021-01-04 15:27] #86417 closed

[2021-01-04 15:29] elastic-jb commented on #87126
@markharwood Great feedback. We are looking at how we can allow passing values that are not visible in a chart. Just before the break, I spoke with @timductive about this exact topic. There is some debate wether the drilldown should be able to subsequently query or if the data should be plumbed through the chart somehow, but it's definitely something we are actively exploring.

[2021-01-04 15:34] andrewvc commented on #86331
@paulb-elastic that's a good question, in the todos case it's undoubtedly because of the use of a local file system. I have a feeling either @vigneshshanmugam or @jahtalab already know the answer here.

[2021-01-04 15:35] MadameSheema commented on #84758
@shimonmodi can you please help us to prioritise this issue?

[2021-01-04 15:39] MadameSheema commented on #84013
Not easy to reproduce consistently.

[2021-01-04 15:40] legrego commented on #87157
This might be a regression in Elasticsearch. It looks like the call to invalidate an API Key with a single ID is failing:

[code]

[code]

Taking Kibana out of the equation, I'm seeing the same:
[code]

@elastic/es-security I know we recently added support for bulk-invalidation via a new `ids` field, but based on the docs, it looks like the existing `id` field should also work. Is there a regressi

[2021-01-04 15:41] #81190 closed

[2021-01-04 15:42] #75292 closed

[2021-01-04 15:43] aky1286 commented on #84804
@gogochan

I went back and got more information, for the self signed cert we used the documentation provided here to generate the cert:
https://github.com/elastic/stack-docs/blob/master/docs/en/getting-started/get-started-docker.asciidoc

For the lsof command, I wasn't able to identify the port. This is due to elastic-e not showing up when trying to grep it. See below table as well.

![image](http

[2021-01-04 15:47] mikecote commented on #87010
<details>
<summary>https://kibana-ci.elastic.co/job/elastic+kibana+master/10752/</summary>

[code]
</details>

<details>
<summary>https://kibana-ci.elastic.co/job/elastic+kibana+master/10822/</summary>

[code]
</details>

[2021-01-04 15:50] andrewvc opened #87170 "[Uptime] Migrate to TypeScript project ref"
Tracking issue for the Uptime plugin's migration to a TS project per https://github.com/elastic/kibana/issues/80508 . Please update https://github.com/elastic/kibana/issues/80508 when this is resolved.

[2021-01-04 15:50] elasticmachine commented on #87170
Pinging @elastic/uptime (Team:uptime)

[2021-01-04 15:54] flash1293 commented on #61776
Closed by https://github.com/elastic/kibana/pull/84384

[2021-01-04 15:54] #61776 closed

[2021-01-04 15:54] flash1293 commented on #46627
Closed by https://github.com/elastic/kibana/pull/84384

[2021-01-04 15:54] #46627 closed

[2021-01-04 15:54] flash1293 commented on #61777
Closed by https://github.com/elastic/kibana/pull/84384

[2021-01-04 15:54] #61777 closed

[2021-01-04 15:54] flash1293 commented on #61775
Closed by https://github.com/elastic/kibana/pull/84384

[2021-01-04 15:54] #61775 closed

[2021-01-04 15:55] lizozom commented on #85804
@mdefazio @gchaps  what do you think about the text propositions?

[2021-01-04 15:55] #85004 closed

[2021-01-04 15:56] Kerry350 commented on #86507
@gmmorris I'm just catching up on things as I've been away for a few weeks. It looks like @Zacqary has spoken with you already, but from the logs side we can roll back this usage for now, I'll get a PR up for that tomorrow.

[2021-01-04 15:58] wylieconlon commented on #87115
@markharwood This isn't the default sort order for the Terms aggregation in Lens- your screenshot shows that you took some previous steps to configure the sort order of this aggregation, and I would not consider a bug because of the extra steps needed to get into this state.

I agree that we should discourage ascending order, but we already have an issue tracking [intuitive sorting experience](htt

[2021-01-04 16:04] bhavyarm commented on #86851
@jportner I just tested it on fresh install of 7.11.0 snapshot after clearning my cache and warning is still not showing up. Can you please check on the snapshot? Thanks - https://snapshots.elastic.co/7.11.0-683a2a3c/summary-7.11.0-SNAPSHOT.html

[2021-01-04 16:05] gogochan commented on #84804
Is Elastic-endpoint running? `ps aux| grep elastic-endpoint` will show `/opt/Elastic/Endpoint/elastic-endpoint run` if one is running.

I suggest that you isolate tcpdump output by filtering out all other communications
`tcpdump -nn -i lo port 6789 and not port 37618 and not port 37622 or port 6788`
This is based on the output you provided. If anything has changed since then, you may need to switc

[2021-01-04 16:05] nchaulet commented on #86864
Looks like it's related to the depreciation of the invalidate api key API field `id` in favor of `ids`
Looks like the invalidate API is used to check if API keys are setup https://github.com/elastic/kibana/blob/master/x-pack/plugins/security/server/authentication/api_keys/api_keys.ts/#L146 and we call this during fleet setup.

Also invalidating an API key from Fleet is not working for the same rea

[2021-01-04 16:07] dominiqueclarke commented on #86309
In a slack discussion with @katrin-freihofner , @drewpost and @paulb-elastic , it was decided to make use of `EuiToolTip` rather than the title tag.

[2021-01-04 16:17] aky1286 commented on #84804
@gogochan

Yup, Elastic-Endpoint is running. Made it a point to restart it when I didn't see it initially to make sure there wasn't something odd going on with the endpoint running already.

Here is the output with the isolated tcpdump as suggested.  (The restart of ElasticEndpoint on seperate terminal occurring at 11:08:49 mark)

![image](https://user-images.githubusercontent.com/68090439/1035553

[2021-01-04 16:17] #68311 closed

[2021-01-04 16:22] #44975 closed

[2021-01-04 16:24] wkruse opened #87176 "[Search] Spaces are converted to non-breaking spaces in Safari"
**Kibana version:** 7.9.1

**Elasticsearch version:** 7.9.1

**Browser version:** Safari 12.0.3, 14.0.2

**Browser OS version:** macOS 10.14.3, 10.15.7

**Describe the bug:** When spaces are entered in the search box in Safari, they are converted to non-breaking spaces. It seems like `<textarea>` with `white-space: nowrap;` is the root cause. For example entering `NOT "Content is null"` in Safari

[2021-01-04 16:28] ogupte commented on #86962
This is the expected behavior since the Logs stream shows all the logs for the current trace regardless of the selected time range.

[2021-01-04 16:28] #86962 closed

[2021-01-04 16:31] nerophon opened #87177 "[docs] KQL page should have an example of date range search"
**Kibana version:** 7.10

**Describe the bug:**
The [KQL docs page](https://www.elastic.co/guide/en/kibana/current/kuery-query.html#_range_queries) has an example of a numerical range query, but not a date range query. This makes it difficult for a user to quickly understand what format dates must be written in. Usually, Kibana's date picker is sufficient, but sometimes for various reasons a user

[2021-01-04 16:33] #87024 closed

[2021-01-04 16:37] markharwood commented on #87115
@wylieconlon These are the steps to reproduce:

https://user-images.githubusercontent.com/170925/103557403-0da19700-4eab-11eb-9df0-b66f9eb1524f.mov

[2021-01-04 16:37] jen-huang commented on #85124
Hi all, there was a recent change to the namespace validation done in #83996 that affected this test suite.

Neither `-` or `:` are allowed in namespace strings.

[2021-01-04 16:42] mistic commented on #87163
That failure will be handled by https://github.com/elastic/kibana/pull/87053

[2021-01-04 16:46] wylieconlon commented on #87115
@markharwood That's right, that workflow is being discussed in the issue I linked above. Order of operations matters when constructing the chart: if you had dropped the field onto the middle drop target you would have received the chart you wanted, but instead you dragged it onto a specific dimension.

[2021-01-04 16:47] monina-n commented on #87022
hello! I'm working on designs to overall improve timeline UI here https://github.com/elastic/security-team/issues/666

However, I believe this specific bug is more suited for either @XavierM or @patrykkopycinski to address?

[2021-01-04 16:48] mistic opened #87180 "Failing ES Promotion: detection engine api security and spaces enabled create_rules missing timestamps should create a single rule which has a timestamp override and generates two signals with a failing status"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2017/testReport/junit/X-Pack%20Detection%20Engine%20API%20Integration%20Tests/x-pack_test_detection_engine_api_integration_security_and_spaces_tests_create_rules%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___detection_engine_api_security_and_spac

[2021-01-04 16:48] elasticmachine commented on #87180
Pinging @elastic/siem (Team:SIEM)

[2021-01-04 16:49] MadameSheema commented on #87022
@monina-n @XavierM and I reviewed the bug already :)

@XavierM can you please clarify this?

[2021-01-04 16:49] mistic commented on #87180
Skipped.

master/8.0: 8f82459

[2021-01-04 16:53] mistic commented on #87157
@legrego I think that would be fixed by that PR https://github.com/elastic/kibana/pull/87053

[2021-01-04 17:00] liza-mae opened #87181 "Beats dashboards with links come up blank"
**Kibana version**: 7.11.0 BC 1

**Elasticsearch version**: 7.11.0 BC 1

**Server OS version**: Ubuntu

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
staging

**Description of the problem including expected versus actual behavior**:
Go to a beats dashboard with links for example: ```[Packetbeat] Overview ECS``` or  ```[Metricbeat Syst

[2021-01-04 17:00] elasticmachine commented on #87181
Pinging @elastic/integrations (Team:Beats)

[2021-01-04 17:02] gogochan commented on #84804
Hi @aky1286 ,
It seems like Endpoint is not able to even able to making stage 2 connection.
It may have to do with resolving `localhost` on your computer.
From your previous tcpdump command, I notice that your hostname appeared as `linux-temp` where I would normally expect `localhost`.
Can you see if you can resolve `localhost` by running `ping localhost`

[2021-01-04 17:03] markharwood commented on #87126
[This discussion](https://discuss.elastic.co/t/mapping-ids-to-labels-with-a-scripted-field/221841) points at what I think is the correct approach - aggregating on IDs and thinking of related labels as a form of field formatting.
Sadly that particular implementation doesn't scale to handling many unique IDs but the approach of considering labels as purely a formatting issue feels right.

[2021-01-04 17:03] wylieconlon commented on #79024
I think there are two threads to follow up on based on what @AlonaNadler wrote previously:

1. Should we change the sort order when you delete the Y axis, and then add a new Y axis? It sounds like this is what Alona expected, and it's a small change to do. I think we should do this for fix-it-week:

2. How will users know what the sort order is? I'm not sure what our options are, but maybe @Michae

[2021-01-04 17:05] dhurley14 commented on #87180
I believe something has changed in Elasticsearch where the shard failures are not returned in the response. Testing this case out manually in 7.10 the shard failures are appearing in the response but in 7.11/7.x/master the shard failures are missing when they were not missing when I merged my PR https://github.com/elastic/kibana/pull/86368 into master. I posted a message in the `#elasticsearch` sl

[2021-01-04 17:08] mistic commented on #87180
@dhurley14 I believe opening an issue against elasticsearch in order to trying to figure this out is a good way to go. I've just opened this issue to let you know about the problem and also to skip the failing test in order to be able to proceed with the es snapshot verification which was already out of date by 21 days.

[2021-01-04 17:09] dhurley14 commented on #87180
Okay will do. Thanks!

[2021-01-04 17:09] aky1286 commented on #84804
@gogochan

I pinged the localhost and was able to resolve:
![image](https://user-images.githubusercontent.com/68090439/103560351-a3c2c680-4e85-11eb-8b9d-4187557c0e45.png)

Is the stage 2 connection local to the endpoint machine or is it trying to reach out to the Elasticsearch instance?

[2021-01-04 17:11] restrry commented on #87160
@rudolf

[2021-01-04 17:12] markharwood commented on #87115
Regardless of sequencing, I'd say the bug is that when selecting "Count of records" as a sort order for terms the default should never be ascending for the reasons I outlined above. @colings86 may go further and suggest we never offer it as an option given his previous comments on removing elasticsearch support for this.

[2021-01-04 17:15] nchaulet commented on #87166
Related to the Elasticsearch api depreciation of api key invalidation with `id` to `ids` https://github.com/elastic/kibana/pull/87173

[2021-01-04 17:20] mistic commented on #87166
@nchaulet you're right. It will probably be solved once https://github.com/elastic/kibana/pull/87053 got merged

[2021-01-04 17:26] dominiqueclarke commented on #86309
Summarizing an offline conversation, we are considering using `EUIToolTip`, but still have a few considerations.

@paulb-elastic was concerned about consistency across the app, as other elements are already using the title tag.

@katrin-freihofner however, seemed to think the tooltip was the more accurate approach.

@drewpost wanted to consider adding the data to the results tooltip. Personally, I

[2021-01-04 17:28] Kerry350 opened #87184 "[Test plan][Logs UI] Timeranges"
## Summary

This test plan covers the timerange functionality within the logs solution.

## Prerequisites

- Download the BC for Kibana.
- Connect to the `release` cluster
- Start Kibana.

## Test cases

### Syncing to the logs app

When the user goes to an Observability solution, or a Kibana core solution, that **isn't** logs and changes the timerange of the timepicker:

- [x] It syncs this selec

[2021-01-04 17:30] shahzad31 commented on #86309
@dominiqueclarke if you want further context, i think we should consider asking Eui team , what are the guidelines using EuiTooltip vs title attrib.

[2021-01-04 17:30] EricDavisX commented on #87124
This sounds more like that the bug is that Endpoint policy isn't fully set up right, meaning that the data isn't sent to ES, which is what triggers the Filter menu to be populated to select it.  Or maybe it is a timing issue with when that data is sent from Endpoint to ES.  @ph @ferullo who wants to take a first stab at further review?

[2021-01-04 17:33] ferullo commented on #87124
Since Endpoint's logs are sent to Elasticsearch by Filebeat which is managed by Agent this sounds like an Agent bug.

[2021-01-04 17:40] paulb-elastic commented on #86309
I think there are two separate cases where the user will want to know the full URL.

Firstly, as the URLs will almost always be truncated (as there isn’t much space there), it’s very common to want to know the full URL, which the user can do my mousing over the truncated URL.  As such, having a tooltip on the URL, that shows the full URL would be useful.

In addition, when looking at the detailed

[2021-01-04 17:48] gogochan commented on #84804
stage 2 connection goes to the Agent running on your localhost.

ping may not be the best way to check, `dig localhost` would be a good way to validate if localhost is resolvable.

Could you also share the content of `/etc/hosts` ? We want to make sure that there's an entry for that maps `127.0.0.1` to `localhost`

[2021-01-04 17:49] EricDavisX commented on #84119
Thanks I'll review the feature testing and report back!

[2021-01-04 17:56] TinaHeiligers commented on #81017
Status update: The blockers listed previously are still holding up this work:
[code]

[2021-01-04 17:57] paulb-elastic opened #87189 "[Uptime] Waterfall to include option to link to full URL"
When investigating performance issues, it is often necessary to do analysis on specific components (network requests) that make up the webpage.  For example, this might be to open up an image to see why it’s so big, or check the content of a CSS file.  There are so many different use cases, that a simple mechanism is to allow the user to access the full URL as they are interacting with the waterfa

[2021-01-04 17:57] elasticmachine commented on #87189
Pinging @elastic/uptime (Team:uptime)

[2021-01-04 17:57] wylieconlon commented on #87115
@markharwood I've proposed something in the linked issue which solves the same problem. Feel free to open an issue asking us to remove the ascending option for sorting by metrics, which we don't have an issue for.

[2021-01-04 17:58] paulb-elastic commented on #86309
https://github.com/elastic/kibana/issues/87189 created for the feature to get the full URL (not just display it)

[2021-01-04 17:59] ryankeairns opened #87190 "What to do about kibana-core-ui CODEOWNERS"
@alexh97 we still have areas of the codebase that are owned by what was the Kibana Core UI team. I don't want to presume that this all shifts to Core UI and would like your thoughts on how to, likely, re-assign these.

https://github.com/elastic/kibana/blob/bba076d45a478a99d19c97d144e8bc21c28ef0a0/.github/CODEOWNERS#L101-L112

cc:/ @joshdover

[2021-01-04 18:04] aky1286 commented on #84804
There it is! Checked /etc/hosts and  apparently localhost wasn't mapped to 127.0.0.1. We are now able to see it in Administration (green and policy status Success).

We really appreciate the time and effort put into helping us, the responsiveness and walkthrough was really great.

Just for our understanding, was there something in the documentation that may have helped us in this situation?

Thank

[2021-01-04 18:05] Zacqary opened #87195 "[Test Plan][Metrics UI] Custom Metric Inventory Alerts"
## Summary

This test plan covers the Custom Metric UI in Inventory alerts (https://github.com/elastic/kibana/pull/81929)

## Scenarios

### Creating a new alert from the Inventory page

- [x] Set the Inventory page to display a custom metric, and then open the Create Alert panel. The custom metric should be pre-populated in the alert Conditions editor.
- [x] Click the `WHEN` field in the Conditio

[2021-01-04 18:05] elasticmachine commented on #87195
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-04 18:06] rashmivkulkarni commented on #86851
I confirm the same behavior on my local mac on 7.11.0 snapshot .  Got the same builds as posted above and opened Kibana in incognito mode and warning is not showing up.

[2021-01-04 18:09] dominiqueclarke commented on #86309
@paulb-elastic I think having the single tooltip with all the information displayed would be a great enhancement, but at first glance I think it would be a bit out of scope for this bug fix. There's some abstraction and it appears at first glance that the url sidebar items do not have context for the timings, and the individual bars do not have context for the url its associated with. It looks lik

[2021-01-04 18:16] #86617 closed

[2021-01-04 18:20] tsullivan commented on #85864
Working on this now. Hope to have a fix within the next day.

[2021-01-04 18:23] shahzad31 commented on #86309
Yes, you are right. All other enhancement should go in a separate issue. We don't have much time before 7.11. So we should as little as possible for 7.11 going forward.

[2021-01-04 18:24] rashmivkulkarni commented on #86851
Once having an index in the ES, the warning shows up immediately. This is the right behavior defined here: https://github.com/elastic/kibana/pull/78545

[2021-01-04 18:24] gogochan commented on #84804
Great! Happy to hear that the root cause was addressed.

I do not think this is documented. but cases like this is a great starting point for us to expand our documents to help our users.

We appreciate you working with us and helping us to identify the area of improvement.

[2021-01-04 18:26] bhavyarm commented on #86851
Thanks @rashmivkulkarni @legrego @jportner closing this one out!

[2021-01-04 18:26] #86851 closed

[2021-01-04 18:27] LeeDr commented on #86851
The security dialog showed up on my install on Windows 2012 server of default distribution latest 7.11 snapshot (from Dec 22nd).  It caused the logstash index pattern test to fail because the dialog is covering the Next button on the screen.

[2021-01-04 18:27] gmmorris commented on #86507
@Kerry350 yup, all good 👍

[2021-01-04 18:30] aky1286 commented on #84804
Ok, understood!

Thank you very much again.

[2021-01-04 18:36] MadameSheema commented on #87112
@karanbirsingh-qasource can you please try to reproduce the same bug in a BC1 clean environment? lots of thanks :)

[2021-01-04 18:40] liza-mae commented on #87181
I saw this PR come in this morning: https://github.com/elastic/kibana/pull/86942 which might fix this issue?
cc: @ThomThomson

[2021-01-04 18:43] #84804 closed

[2021-01-04 18:45] vigneshshanmugam commented on #86331
For the local file system, We wont be able to retrive the individual timing information(Blocked, DNS, TCP, etc.) for all events. However the agent already reports the total time, so we can present the waterfall chart for the whole duration instead of leaving it out empty.

Output of the network event.
[code]

[2021-01-04 18:47] vigneshshanmugam commented on #86331
Also, this bug needs to be prioritised as this could happen for all static resources that can be cached via service worker or similar caching mechanisms.

[2021-01-04 18:47] ThomThomson commented on #87181
The blank screen here should be fixed by the above PR, but the blank screen would only have shown up if the links are invalid. The error seems to be unrelated. Would you mind sending me the URL format for the links so I can double check that everything is working properly now?

[2021-01-04 18:52] liza-mae commented on #87181
@ThomThomson if the links are invalid then someone from the beats team needs to check why and fix it.

One example of the URLs:

From here:
[code]

Clicking a link:
[code]

[2021-01-04 18:54] liza-mae commented on #87181
Looks like the URLs are invalid, should be
[code]
not
[code]

[2021-01-04 19:03] ThomThomson commented on #87181
Yes that is correct. I am not sure how they were working before. With the fix I implemented, those urls will now correctly redirect to the dashboard listing page.

[2021-01-04 19:03] spong commented on #86779
So just checked the EUI docs and looks like we're using the correct iconography here.

[For the icons](https://elastic.github.io/eui/#/display/icons), they list the up arrow as the exportAction:

<p align="center">
  <img width="200" src="https://user-images.githubusercontent.com/2946766/103568900-a15f6d00-4e83-11eb-902f-64b9f70b2119.png" />
</p>

and the down arrow as the importAction:

<p align=

[2021-01-04 19:05] alisonelizabeth opened #87208 "[ILM] Force merge and readonly not configurable in hot phase"
**Kibana version:**
7.11

**Describe the bug:**
Enabling the "readonly" action in the hot phase of an ILM policy has no effect. The same issue applies to enabling the "Compressed stored fields" toggle for the force merge action.

Appears to be a regression introduced via https://github.com/elastic/kibana/pull/85579.

**Steps to reproduce:**
1. Create a ILM policy.
2. Enable the "readonly" action i

[2021-01-04 19:05] elasticmachine commented on #87208
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-04 19:05] timductive commented on #46024
@kmartastic @felix-lessoer I do think we have seen more people wanting to use Canvas with heavy interactions, moving towards a data application instead of a purely presentation tool. With that being said, we haven't prioritized an investigation into this from an engineering or product perspective so that would be the next step.

[2021-01-04 19:10] jen-huang commented on #87039
The tooltip implemented here is simply a `title` HTML attribute. It is up to the browser to interpret and display them. I'm closing this as won't fix as we can't control that.

Btw, I suspect the Firefox rendering would be better if the long name includes spaces.

[2021-01-04 19:10] #87039 closed

[2021-01-04 19:16] Zacqary opened #87214 "[Test Plan][Metrics UI] Node Details - Process List"
## Summary

This test plan covers the Process List tab of the enhanced Node Details view

## Scenarios

- [x] Opening the Processes tab results in a brief loading state
- [x] When the Processes tab finishes loading, it populates the summary table at the top with a count of total processes, and how many processes are in each state
- [x] The table shows 10 processes, sorted in descending CPU usage o

[2021-01-04 19:16] elasticmachine commented on #87214
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-04 19:18] bhavyarm commented on #79498
same issue on 7.11.0 (just keeping the issue updated - know this hasn't been fixed)

[2021-01-04 19:43] #83175 closed

[2021-01-04 19:43] #85318 closed

[2021-01-04 19:49] alisonelizabeth opened #87219 "[ILM] Cannot disable index_codec option"
**Kibana version:**
7.11

**Describe the bug:**
If the "Compress stored fields" option for the force merge option is enabled, it cannot be disabled again.

**Steps to reproduce:**
1. Navigate to ILM and create a policy.
2. Enable the force merge action for the warm phase. Specify the number of segments and enable the "Compress stored fields" option.
3. Save the policy.
4. Reopen the policy and dis

[2021-01-04 19:49] elasticmachine commented on #87219
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-04 19:54] pmuellr commented on #87048
Couple of thoughts.

- one of the requests seem to be to be able to provide better default action parameters (eg, email/slack message bodies), which has an issue of it's own, here: https://github.com/elastic/kibana/issues/66095#issuecomment-725203424 - I'd like to see all of our alerts, with all of their common fields and "states" (active, recovered, etc), have useful default messages.  It's possi

[2021-01-04 20:17] jen-huang commented on #85110
For auditing purposes, the policy ID that is displayed instead of the policy name (as illustrated in the above screenshot) should be sufficient.

I'm inclined to close this as won't fix. I think a better UX would be to hide inactive enrollment tokens on this page by default, with a toggle to view inactive ones. Deleting a policy automatically revokes its associated tokens. What do others think?

[2021-01-04 20:26] bhavyarm commented on #86707
@pgayvallet ++. I also observed it - when I imported a tag, deleted it and reimported it - needed a refresh for the tag associations to show up on related saved objects. Thanks!

[2021-01-04 20:46] bhavyarm opened #87226 "PDF reporting has grey empty screen at the end of the panels on user created dashboards"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana is printing a grey block at the end of reports when user prints pdf reporting.  This

[2021-01-04 20:46] elasticmachine commented on #87226
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-01-04 20:46] elasticmachine commented on #87226
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-04 20:49] ph commented on #76843
@jfsiii Can you take a look at this and we can build the AC together?
@mostlyjason This is mostly to limit the actions that we have today, but some AC could be driven by product.

[2021-01-04 20:52] #85327 closed

[2021-01-04 21:12] bhavyarm opened #87232 "Kibana displays overlaying dots on pagination numbers when user selects and tries to delete saved objects from saved objects management table"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user selects saved objects from saved objects table to delete them - Kibana displays ove

[2021-01-04 21:12] elasticmachine commented on #87232
Pinging @elastic/kibana-core (Team:Core)

[2021-01-04 21:21] bhavyarm opened #87235 "Display tag name instead of id while importing it"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** When we import ndjson containing a tag - we are displaying id instead of title of the tag.

[2021-01-04 21:21] elasticmachine commented on #87235
Pinging @elastic/kibana-core (Team:Core)

[2021-01-04 21:30] ferullo commented on #87029
This is fixed in 7.11.0 BC2. Please retest when it is available.

[2021-01-04 21:31] ferullo commented on #86766
@ph @EricDavisX based on @karanbirsingh-qasource 's last comment, it sounds like this is the same unhealthy Agent issue that the Agent team is already aware of. Do you agree?

[2021-01-04 21:47] liza-mae opened #87242 "Reporting causes a fatal Kibana error if chromium is not installed on aarch64"
**Kibana version**: 7.11.0 BC 1

**Elasticsearch version**: 7.11.0 BC 1

**Server OS version**: Ubuntu aarch64

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
staging

**Description of the problem including expected versus actual behavior**:
Running reporting without chromium causes Kibana fatal error, it's a regression from 7.10.1.

*

[2021-01-04 21:47] elasticmachine commented on #87242
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-04 21:48] pgayvallet commented on #87235
We probably just need to add the `getTitle` management metadata to the `tag` type

[2021-01-04 21:49] elasticmachine commented on #87242
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-01-04 21:59] elasticmachine commented on #86565
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-04 22:05] rashmivkulkarni opened #87248 "Console error seen while adding an action type while creating alerts."
**Kibana version:** 7.11.0 snapshot build

**Elasticsearch version:** 7.11.0 snapshot build.

**Server OS version:** mac OSX

**Browser version:** Chrome latest

**Browser OS version:** NA

**Original install method (e.g. download page, yum, from source, etc.):** snapshot

**Describe the bug:**

When I tried to create an alert with "Log Threshold" - action type: " Index" am getting this console er

[2021-01-04 22:05] elasticmachine commented on #87248
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-04 22:05] elasticmachine commented on #87248
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-04 22:09] mdefazio commented on #85804
I have just a few thoughts:

**While the session is active:**

![image](https://user-images.githubusercontent.com/3016806/103482275-9efc0500-4de8-11eb-944d-49e638156ca4.png)

Perhaps this should read:

By 'Saving' the session, you would be running it in background, but basically saying I want to come back to this—whether I navigate away right now or not.  This might also help us avoid an odd copy

[2021-01-04 22:15] myasonik commented on #84664
@elastic/eui-design Do y'all have a preference and/or any guidance?

[2021-01-04 22:19] poffdeluxe commented on #87226
This looks like it's going to be a dupe of https://github.com/elastic/kibana/issues/85864

[2021-01-04 22:20] austinsonger opened #87251 "[Security Solutions][Detections] DNS Query of Onion Website that is on ahmia.fi blacklist (Child Abuse/porn)"
**Describe the feature:**
Detect a DNS Query of Onion Website that is on ahmia.fi blacklist (Child Abuse/porn)

**Describe a specific use case for the feature:**

1. Elastic SIEM detects Onion URL and then automatically hashes it
2. Then compares the hashed Onion URL with list of hashes on ahmia blacklist
3. Generates Detection Alert, if match is found, with title like "Ahmia Blacklist Onion URL D

[2021-01-04 22:28] spalger commented on #87248
Looks like this might be related to the changes @jloleysens made to monaco/ace recently

[2021-01-04 22:37] liza-mae commented on #87181
I will re-test and verify on the next BC, thanks.

[2021-01-04 22:42] gchaps commented on #85804
I agree with @mdefazio with keeping "cancel" and "save" in the first position keeps it tied to the "loading" part.   I also like the minimized text.

While the session is active:

`Save session` didn't sound right here.  It reads like you are asking the user to save the session in the middle of loading it.

When the session is done loading:

[2021-01-04 22:46] #87163 closed

[2021-01-04 22:46] #87157 closed

[2021-01-04 22:46] #87166 closed

[2021-01-04 22:47] pburkholder commented on #27047
Our OWASP ZAP scan now complains about `CSP: style-src unsafe-inline` so I think this is closest related issue. If there's work underway (or a fix) elsewhere, let me know. Otherwise, it looks like I'll have to note monthly that this is an upstream vendor issue that we can't resolve ourselves.  Thanks, Peter

[2021-01-04 22:54] kobelb commented on #27047
Hey @pburkholder, if OWASP ZAP is complaining specifically about the `style-src` CSP attribute, this would be a different issue than what is described here. Removing `style-src unsafe-inline` will be a separate effort, and https://github.com/elastic/kibana/issues/54984#issuecomment-574921231 has some of the reasoning for why we haven't done so yet.

[2021-01-04 23:03] wylieconlon opened #87255 "[Discover] Query to fetch anchor document is unoptimized, causes timeouts in hot/warm architecture"
The query that we are running appears to have been unchanged since Kibana 6.4, when [it was slightly tweaked from a `terms` query to the `ids` query](https://github.com/elastic/kibana/pull/16878). The query is **missing a time filter, or any other optimizations**, and therefore searches every shard. There are four optimizations that are most likely safe to add, but have some tradeoffs:

1. Fetch t

[2021-01-04 23:03] elasticmachine commented on #87255
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-04 23:13] archon810 commented on #7759
I totally forgot about https://github.com/elastic/kibana/issues/7759#issuecomment-505016286 by @fholzer above and came up with this approach that works:

[code]

This way, any updates to kibana won't actually overwrite the systemd service file, and the pidfile is created and chowned. But then I saw the `RuntimeDirectory` solution and tested it, and of course it also worked. 🤦‍♂️

Nevertheless, `sy

[2021-01-04 23:27] ywangd commented on #87157
Sorry folks that you have to find this change out (elastic/elasticsearch#66671) through trial and error. The `id` field is removed from v8.0 and deprecated (but still supported) in 7.x. Next time, I'll remember to reach out for this type of changes.

[2021-01-05 00:25] mayya-sharipova commented on #84041
@chrisronline  Thank you for your update. For OOM case in elastic/sdh-elasticsearch#3680, the request was for the index `aem-project-bluesky-errorlog-2020.12.19-000014`. My guess this is a customer index, and not related to Kibana or Monitoring? right?

For https://github.com/elastic/sdh-elasticsearch/issues/3681, I have asked @jasonyoum to confirm the size of `metricbeat-*` indices.

[2021-01-05 00:40] #87131 closed

[2021-01-05 00:40] #87161 closed

[2021-01-05 00:41] tsullivan commented on #87242
The bug here is that the puppeteer module thinks that it should use a system-wide Chromium instead of the custom build shipped with Kibana.

The relevant PR here is probably: https://github.com/elastic/kibana/pull/85066 I seem to remember there was some trial-and-error to get the puppeteer module to load our own custom build. Perhaps there is separate work to do for aarch64?

[2021-01-05 00:41] elasticmachine commented on #87242
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-05 00:42] elasticmachine commented on #87242
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-05 01:10] EricDavisX commented on #86882
@ph @mostlyjason how would you rate the priority of this, do we want to consider for 7.12?  I don't think it is urgent enough for 7.11 with what I know.

[2021-01-05 01:59] LeeDr opened #87268 "[Lens] always prompts that I have Unsaved changes on visualizations with unpinned filters"
**Kibana version:** 7.11.0-SNAPSHOT

**Elasticsearch version:** 7.11.0-SNAPSHOT

**Server OS version:** centOS 7

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** snapshot rpm default dist

**Describe the bug:** When I open any of the beats Lens visualizations (installed with beats setup), when I leave the vi

[2021-01-05 01:59] elasticmachine commented on #87268
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 02:40] kibanamachine opened #87269 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/saved_objects/status·ts - apis Machine Learning saved objects GET saved_objects/status should list jobs and saved objects"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/88/)

[2021-01-05 02:46] jeffrey008 commented on #57980
Hello, any update on this?

[2021-01-05 04:52] elasticmachine commented on #87269
Pinging @elastic/ml-ui (:ml)

[2021-01-05 07:12] pgayvallet commented on #87232
@elastic/kibana-design I can confirm the bug, however we are only using EUI components in the confirmation delete modal , without any custom style override, so I think it may be an issue with EUI. Maybe a conflict with a `EuiInMemoryTable` inside a `EuiConfirmModal`?

https://github.com/elastic/kibana/blob/fb1c7d70489dbf044b71edc0b3db864f4fc99ed6/src/plugins/saved_objects_management/public/managem

[2021-01-05 07:59] pgayvallet commented on #87235
After a quick investigation, `getTitle` is already exposed on the `tag` type. However it seems that the import logic is directly using `obj.attributes.title` instead of using the title accessor:

https://github.com/elastic/kibana/blob/6627d7d9afa0f52981d6df43a63cec141f219ef4/src/core/server/saved_objects/import/import_saved_objects.ts#L114-L116

https://github.com/elastic/kibana/blob/6627d7d9afa0f

[2021-01-05 08:30] ruflin commented on #87162
I assume the reason they don't show up managed is because the Elastic Agent package is not installed? As soon as the package is installed and data streams are rolled over, it should show up as managed?

[2021-01-05 09:08] paulb-elastic opened #87272 "[Uptime] Show the URL and metrics in a tooltip from the URL and graph bar in the waterfall chart"
The current waterfall implementation of the tooltip, shows only the full URL when hovering over the (truncated) URL on the left hand side, and only the timing metrics when hovering over a timing bar on the chart on the right hand side.

Having both the timing metrics and the full URL in the tooltip is preferable, to have the full context of the network request you are looking at.

This tooltip tha

[2021-01-05 09:08] elasticmachine commented on #87272
Pinging @elastic/uptime (Team:uptime)

[2021-01-05 09:09] paulb-elastic commented on #86309
Agreed, it sounds like the scope of this is too big to come under this bug fix.

I have raised https://github.com/elastic/kibana/issues/87272 to capture this as a separate enhancement.

[2021-01-05 09:45] formgeist commented on #83256
@dgieselaar Understood that it has created way more complexity in our application code than probably necessary, but I think that mostly stems from not having a default environment to begin with. IMO if we remove the ability to separate environment data but group under the same service name, there's no need for environments in the first place (also controversial). Users will be instructed to separa

[2021-01-05 09:51] #86616 closed

[2021-01-05 09:52] flash1293 commented on #57980
Hi @jeffrey008 , we have no definitive release date for this feature, but we are aware of the need and it is considered in our planning. Thanks for making the effort of expressing interest.

[2021-01-05 10:13] dmlemeshko opened #87279 "[Automation] Migrate FTR to webdriverio"
**Describe the feature:** Migrate FTR from selenium-webdriver to [webdriverio](https://www.npmjs.com/package/webdriverio)

**Advantages over [selenium-webdriver](https://www.npmjs.com/package/selenium-webdriver)**:

- Continuous development and support, patch releases are coming every **10-15 days**
- It uses **Puppeteer** by default to automate a browser like Chrome, Firefox or Chromium Edge: we

[2021-01-05 10:16] runtman opened #87280 "Watcher > Pager Duty > Set Incident Urgency"
**Describe the feature:**

Currently, with the watcher > pagerduty integration, every incident that gets sent to pager duty is marked as `high` for it's urgency

If you see here, there is no option for urgency: https://www.elastic.co/guide/en/elasticsearch/reference/current/actions-pagerduty.html

However if you see here: https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/

[2021-01-05 10:31] vipulsrivastava-qasource commented on #85124
Hi @jen-huang

Thank you for the confirmation.

We validate "Default namespace" with special characters -(Hyphen) or :(Colon) under policies page for current changes and found that it working correctly. Please find the below observation for the same.

7.10.1

- Provide name in "Default namespace" with special characters -(hyphen)

![7 10 1_Hyphen](https://user-images.githubusercontent.com/69579402

[2021-01-05 10:31] #85124 closed

[2021-01-05 10:35] jsoriano commented on #87181
Links in beats dashboards are defined in one of these two ways:
* As `#/dashboard/<id>` in markdown, e.g:
[code]
* As `../app/kibana#/dashboard/<id>?<params>` in drilldowns, e.g:
[code]
[code]

Should we modify these links for future versions of Beats/integrations? They are working fine in 7.10.

[2021-01-05 10:35] shahzad31 commented on #86577
There is already a dedicated error column to display error

![image](https://user-images.githubusercontent.com/3505601/103636316-15fcdf00-4f4a-11eb-9bf6-48f6497d5727.png)

[2021-01-05 10:38] shahzad31 commented on #85409
i think for the sake of consistency we will clutter that mini histogram.

User is more interested in if they had any downtime, displaying up time alongside down time, doesn't give much value.

That one single down ping in 100's of up ping will be lost in just a small chart.

[2021-01-05 10:42] shahzad31 commented on #85409
Another downside is that our already bulky monitor list request will become even bulkier and slow once we start pulling up pings for each monitor as well as part of histogram.

[2021-01-05 10:49] flash1293 commented on #87268
I can reproduce this behavior, it's caused by filters on a visualization.

The logic to check the current state for changes is comparing different versions of the filter object:
<img width="664" alt="Screenshot 2021-01-05 at 11 43 24" src="https://user-images.githubusercontent.com/1508364/103637124-4abd6600-4f4b-11eb-8833-5496ba10293a.png">

`value` is a function and `index` is undefined, so they

[2021-01-05 10:55] markharwood commented on #87115
OK - let's change this issue then to be about the lack of Kibana warnings when sort by ascending results from elasticsearch include the unbounded error warning: `"doc_count_error_upper_bound" : -1,`

To give a concrete example how this could easily happen:

Given time-based indices terms are not distributed evenly across the indices. Today for example "Tanya Roberts" is mentioned widely because sh

[2021-01-05 11:31] elasticmachine commented on #83875
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-05 11:46] muskangulati-qasource opened #87286 "[Security Solution] The initial addition of Endpoint Security Integration shows integration name as endpoint-1 for a few seconds."
**Describe the bug**
The initial addition of Endpoint Security Integration shows integration name as endpoint-1 for a few seconds.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Security from the left navigation bar.
3. Click

[2021-01-05 11:52] muskangulati-qasource opened #87287 "[Ingest Manager] Deleted enrollment token displays in the add agent command and results in the wrong error message."
**Describe the bug**
Deleted enrollment token displays in the add agent command and results in the wrong error message.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Enrollment token should be created for a policy.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Fleet" tab from the left navigati

[2021-01-05 11:52] elasticmachine commented on #87287
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-05 11:52] muskangulati-qasource commented on #87286
@manishgupta-qasource Please review!

[2021-01-05 11:52] muskangulati-qasource commented on #87287
@manishgupta-qasource Please review!!

[2021-01-05 12:04] manishgupta-qasource commented on #87286
Reviewed & Assigned to @kevinlog

[2021-01-05 12:04] manishgupta-qasource commented on #87287
Reviewed & Assigned to @EricDavisX

[2021-01-05 12:13] muskangulati-qasource commented on #86104
Hi,
This issue is also occurring for below tabs. Please find below the details/Observations:

**Build Details**:
[code]

- **The Agents Tab**: cc: @EricDavisX
If we enable the filter for 'Upgrade Available' and then clear the filter, we see the wrong message that says no agent is enrolled:
![UpgradeAvailableFilter](https://user-images.githubusercontent.com/60252716/103643737-2a0d0480-4f7b-11eb-871

[2021-01-05 12:19] #85744 closed

[2021-01-05 12:21] stratoula commented on #82729
I made a first attempt to replace it, I have gathered some things here that I need to discuss with the elastic-charts team
https://github.com/elastic/elastic-charts/issues/961

[2021-01-05 12:21] kevinlog commented on #87286
@paul-tavares could you take a look for 7.12?  Not sure if this has to do with us loading some data asynchronously or something

[2021-01-05 12:27] karanbirsingh-qasource commented on #86864
Hi @EricDavisX & @nchaulet

We have re-tested this issue on latest commit of 8.0.0-SNAPSHOT build and found that now this issue has been fixed. Agent Tab is successfully loading on UI.

Additionally Agents as well as Endpoint is also successfully installing on this build.

### Build Details:
[code]

### Snapshots:
![image](https://user-images.githubusercontent.com/59917825/103642557-4e67e180-4f79-

[2021-01-05 12:27] #86864 closed

[2021-01-05 12:27] karanbirsingh-qasource commented on #87112
Hi @MadameSheema

we have re validated the issue on fresh 7.11.0 BC1 Cloud environment with fresh vm and issue is still occurring .Please find below complete details and steps.

### Steps:
1.Install the Agent+Endpoint on the windows machine 64 bit.
2.Navigate to Detection Tab.
3.Check the Exception lists tab ( click on manage detection rules buttons > )
Zero Exception entry was _there_
![image](ht

[2021-01-05 12:33] MadameSheema commented on #87112
Thanks @karanbirsingh-qasource!

@spong @peluja1012 can you please take a look to Karanbir's comment? Thanks :)

[2021-01-05 12:37] #69010 closed

[2021-01-05 12:43] sebelga opened #87293 "[Index template] Data stream configuration is removed"
While testing https://github.com/elastic/kibana/pull/85028 I've realized that the index templates UI does not keep the information in the `datastream` object. There is now a new `hidden` parameter that can be provided.

The least we should do is forward the object as is while saving the template. I wonder if we shouln't also surface the `hidden` toggle.

## Steps to reproduce

1. Create a template

[2021-01-05 12:44] elasticmachine commented on #87293
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-05 12:46] vipulsrivastava-qasource opened #87295 "Multiple white spaces on policy name is displayed on hover if policy name include more than single white spaces."
**Kibana version:**
Kibana: 7.11.0-BC cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0-BC cloud environment

**Host OS and Browser version:**
Windows 10 x64, All

**Description**
Multiple white spaces on policy name is displayed on hover if policy name include more than single white spaces.

**Preconditions**

1. 7.11.0-BC Kibana cloud environment should be available.
BUILD 3739

[2021-01-05 12:46] elasticmachine commented on #87295
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-05 12:47] vipulsrivastava-qasource commented on #87295
@manishgupta-qasource : Please review the bug.

[2021-01-05 12:49] manishgupta-qasource commented on #87295
Reviewed & Assigned to @EricDavisX

[2021-01-05 12:54] dgieselaar opened #87296 "[APM] Query for service metadata always uses transaction documents"
`GET /api/apm/services/${serviceName}/metadata/{icons,details}` always use transaction documents to get the service metadata, even when it should use transaction duration metric documents. It also adds an extra terms query for `processor.event`, but this should be handled by the `apm.events` property.

[2021-01-05 12:54] elasticmachine commented on #87296
Pinging @elastic/apm-ui (Team:apm)

[2021-01-05 13:03] karanbirsingh-qasource commented on #86766
HI @EricDavisX @ferullo

We have re-tested this issue on latest commit of 8.0.0-SNAPSHOT build and found that now this issue has been fixed. Now agents are successfully installing on server machines.

### Build Details:
[code]

### Snapshots:
![image](https://user-images.githubusercontent.com/59917825/103649388-6002b680-4f84-11eb-9aa4-251f2c0581e2.png)

Hence we are closing this issue.

thanks !!

[2021-01-05 13:10] ph commented on #86742
@nchaulet Can you take a look? is is a library changes or a load issues?

[2021-01-05 13:13] paulb-elastic commented on #86577
@katrin-freihofner are we ok that this is covered by the additional column?

[2021-01-05 13:15] dgieselaar commented on #83256
If we don't use environment to separate data (ie, remove the environment filter entirely) that's even better. The user can still use custom visualisations that do separate by service.environment.

[2021-01-05 13:21] dhurley14 commented on #87180
Ref: https://github.com/elastic/elasticsearch/issues/66946

[2021-01-05 13:46] nreese opened #87301 "[Maps] multi-select query from Controls visualization not always getting applied to map in dashboard"
Steps to reproduce
1) create controls visualization for `kibana_sample_data_logs` index on the `geo.src` field. Enable "Update Kibana filters on each change" option.
2) create a map with a documents layer for the index `kibana_sample_data_logs`.
3) add both to a dashboard.
4) Set time limit to 24 hours.
5) With empty filter there are 244 results on map
    <img width="400" alt="Screen Shot 2021-01

[2021-01-05 13:46] elasticmachine commented on #87301
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-05 13:46] EricDavisX commented on #87124
yeah, ok lets look on Agent side - @ph is this another 'install' oriented issue we could ask @michalpristas to review?  It is a new symptom if not an entirely distinct bug - not sure.

[2021-01-05 13:56] chrisronline commented on #84041
@mayya-sharipova

That's right. Can we also find out the approximate size of any `metricbeat-*` indices on that cluster as well? I'm imagining the query against `metricbeat-*` is adding a ton of pressure on the cluster and the error is manifesting with other search queries.

[2021-01-05 13:57] nchaulet commented on #87124
The dataset filters are loaded one time when we open the log page, maybe the endpoint dataset appear after? what happen if you refresh the page?

[2021-01-05 14:06] #86309 closed

[2021-01-05 14:08] ph commented on #82220
Thanks @jfsiii for creating this, one question do you know the background in why in the meta issue (https://github.com/elastic/kibana/issues/80508) it's marked that the kibana platform will do it?  Is is because of the dependencies? Could you take the lead on that effort for 7.12, looking at the weekly kibana update there is a hard deadline for 7.12 on this change.

[2021-01-05 14:09] ph commented on #82220
Also, what is the effort for us to migrate to TS project? Are we talking hours, days, or more?

[2021-01-05 14:27] stacey-gammon opened #87304 "[Meta] URL Service"
## General

- Place the new URL Service in `src/plugins/share` plugin.

## Tasks

### Architecture review

- [x] [RFC](https://github.com/elastic/kibana/pull/95416)
- [x] Architecture review ([see presentation](https://docs.google.com/presentation/d/1twxmfLlYOCTX1XJF4RCnWraiQX6H6kLUq1RhRva2mQU/edit))
- [Project folder](https://drive.google.com/drive/folders/1TWjgFKi2US4UEy34IU4v0cKQE9fcJzkU?usp=sh

[2021-01-05 14:27] elasticmachine commented on #87304
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-05 14:33] alisonelizabeth opened #87305 "[ILM] Invalid form when enabling rollover defaults"
**Kibana version:**
7.11

**Describe the bug:**
The ILM policy form sometimes incorrectly reports a form error when enabling rollover defaults.

**Steps to reproduce:**
1. Create a ILM policy with no rollover configuration.
[code]
2. Navigate to the ILM UI and select the policy created in step 1 to edit.
3. Open Advanced Settings for the hot phase and enable "Enable rollover"
4. Enable "Use recomm

[2021-01-05 14:33] elasticmachine commented on #87305
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-05 14:37] nchaulet commented on #86742
the 503 indicate that Kibana was down, I am trying to have a repro and to find kibana logs here to know what happened

[2021-01-05 14:42] #70664 closed

[2021-01-05 14:50] EricDavisX commented on #87295
I think it is a technical choice if we want to respect the multiple spaces that are put in to names - and I'm not sure if we have precedent elsewhere in Kibana / Elastic  or Fleet / Agent where we'd want to pull the spec from.  Ideally we'd have consistency here - at least within Fleet UI.

[2021-01-05 14:57] alexwizp opened #87309 "[Api Integration] enhance of test/api_integration/apis/index_patterns tests"
During execution of `test/api_integration/apis/index_patterns` integration tests I see a lot of errors in **Kibana** server console.

![image](https://user-images.githubusercontent.com/20072247/103659881-ff707b00-4f7d-11eb-8ee7-1a61e3b53103.png)

It happens cause all of that tests are based on not-existing `ES` index. To avoid this error before creating **Kibana** index you should load some data i

[2021-01-05 14:57] elasticmachine commented on #87309
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-05 15:01] katrin-freihofner commented on #86577
The reasons why something should be in a separate column is mostly to sort by it. As I think it is much more likely that users filter or sort by status, I don't think that sorting by error is necessary. Therefore, I would go with the solution proposed in the design. (The full error message is just one click away in the expanded row.)

Btw, I think in the same way about the failed step.

Both colum

[2021-01-05 15:17] pgayvallet commented on #17298
@mbarretta

Even if that means that all spaces will share the same banner/text ?

[2021-01-05 15:19] elasticmachine commented on #87115
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 15:19] elasticmachine commented on #87068
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 15:19] elasticmachine commented on #87042
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 15:21] pgayvallet commented on #84977
@mdefazio

Do you mind sharing where?

That would be the easiest yes. However it would always be possible to pass the list of alerts to display in the warning's url, like `linkUrl: '/app/alerting?ids=...',`

[2021-01-05 15:23] #84611 closed

[2021-01-05 15:24] #86957 closed

[2021-01-05 15:28] MikePaquette commented on #86784
@MadameSheema I think this is higher priority, and should be treated like a bug, since it causes the analyst/rule_author to perform extra work, causes frustration, and can introduce errors.  Can we get this fixed in 7.11.0?

[2021-01-05 15:34] jbudz commented on #83875
skipped: ffea2db9b3fe3e9b0868ad0e932169697440f8d8

[2021-01-05 15:40] ThomThomson commented on #87181
@flash1293 discovered in https://github.com/elastic/observability-test-plans/issues/175 that these issues are actually due to a missing BWC case in dashboard in 7.11.0

I have fixed this in:
https://github.com/elastic/observability-test-plans/issues/175

[2021-01-05 15:43] EricDavisX commented on #73927
I saw this behavior briefly on my recent install of 7.11 - I saw the icons get fixed at some point, I did not get to confirm repro scenario yet.  I think we should look at this for 7.12.

[2021-01-05 15:43] alexfrancoeur commented on #17298
@pgayvallet let me know if it'd be helpful to sync up on requirements at all. I think generally, we need both. Options for global banners (priority 1) defined through `kibana.yml` or per-space banners (priority 2). I realize we cannot override global settings (or at least it's not trivial) and am fine with having one or the other for the foreseeable future.

[2021-01-05 15:44] shahzad31 commented on #86577
We also have error column in case of other ping types http/tcp/icmp, so that was simply utilised in this case

![image](https://user-images.githubusercontent.com/3505601/103666686-3a21e580-4f75-11eb-967e-31bac22bf09f.png)

[2021-01-05 15:44] cchaos commented on #87232
@pgayvallet , The problem is that EuiConfirmModal puts it's content within an EuiText block that can't be removed. The suggestion here would be to recreate the EuiConfirmModal layout using regular EuiModal components.

[2021-01-05 15:46] shahzad31 commented on #86577
maybe right solution is to enable sorting on these columns. We are not doing sorting on anything at the moment in this list.

[2021-01-05 15:50] tadgh commented on #41936
Just piling on here to say I'd love to see this added. The stats API is fine for reading it, but would be nice to see it in kibana monitoring

[2021-01-05 15:52] MichaelMarcialis opened #87322 "[Lens] Move function help popover triggers to `extraAction` in related `EuiListGroupItem`"
Per the [original design direction](https://www.figma.com/proto/BvRtJBdVtP5SgiaVG3XNjb/In-Product-Documentation-Version-1-In-Progress?node-id=110%3A54&viewport=-13477%2C767%2C0.5&scaling=min-zoom) for the Lens help popovers, we should plan to move the current `Date histogram` and `Moving average` popover trigger buttons from their current locations (in the field selector form area) to instead appe

[2021-01-05 15:52] elasticmachine commented on #87322
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 15:53] crob611 commented on #84165
@Bamieh Yeah now that I've had some time to think through it, I think you are correct.  This should be something that lives entirely within Embeddable (or whatever) and happens on a schedule and then whatever collector needs to can consume the result.

[2021-01-05 15:57] jfsiii commented on #82220
@ph I missed that update, but it looks like @restrry updated it back in November.

<img width="641" alt="Screen Shot 2021-01-05 at 10 36 27 AM" src="https://user-images.githubusercontent.com/57655/103666392-94ee1980-4f42-11eb-89e8-eca62e45235e.png">

Regarding scope, I'm not sure. I believe the work is dominated/dependent on the plugins listed in the description (`data`, `security`, `features`, et

[2021-01-05 16:12] wylieconlon commented on #87115
Since this issue is no longer about the default sort order, but asking for a new feature, I will change the title and description of the issue to be more specific about what feature is being requested.

[2021-01-05 16:21] jloleysens opened #87332 "[Console] Text area in tutorial is lacking some color"
**Kibana version:** master at time of issue creation (6ad8a920aea)

**Steps to reproduce:**
1. Log into Kibana for the first time, such as in an incognito window
2. Go to Console
3. The tutorial should appear with the example text

**Expected behavior:**

The example text should be highlighted in the same way that the rest of Console syntax is highlighted

**Screenshots (if relevant):**

<img widt

[2021-01-05 16:21] elasticmachine commented on #87332
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-05 16:24] jmikell821 opened #87333 "[DOCS] [Security Solution] Update "Elastic Security" Overview page in Kibana"
This page is outdated and needs to be cut down: https://www.elastic.co/guide/en/kibana/current/xpack-siem.html. We can probably take out the Using ES and Anomaly Detection w/ Machine Learning sections and shorten it to a paragraph that introduces Security and informs the user how to access the Security Solution.

Let's use the [Elastic Security Overview](https://www.elastic.co/guide/en/security/cu

[2021-01-05 16:28] jportner commented on #81533
Fixed in the linked PR.

[2021-01-05 16:28] #81533 closed

[2021-01-05 16:28] jportner commented on #81531
Resolved in the linked PR.

[2021-01-05 16:28] #81531 closed

[2021-01-05 16:28] jportner commented on #85702
Resolved in the linked PR.

[2021-01-05 16:28] #85702 closed

[2021-01-05 16:30] wylieconlon commented on #87255
Even though option 1 appears to be reasonable, it would only give us `_source` and wouldn't include scripted fields. Maybe we do need a search request after all, and if so then option 2 + 3 should be the best options.

[2021-01-05 16:30] jloleysens commented on #87248
Yeah, I can take a look

[2021-01-05 16:32] droberts195 commented on #50003
One additional complication might be that these get localized, so if the jobs are changed like this then they'll be English-only or else have to match any one of the localized strings that Windows could be using.  See https://discuss.elastic.co/t/ml-datafeed-lookback-retrieved-no-data/260104/7 for examples.  I guess the thing that would solve both problems is to match the numeric event ID, [4688](

[2021-01-05 16:37] MadameSheema commented on #86784
@spong @peluja1012 can we tackle this issue on 7.11?

[2021-01-05 16:40] daohodac opened #87340 "Alerts remains in PENDING status when created in a space (not the default)"
**Kibana version:**
7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**
debian 9

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
on elastic cloud

**Describe the bug:**
When creating an alert in a space which is not the default, the alert remains in pending mode, never activated

**Steps to reproduce:**
1. crea

[2021-01-05 16:44] mdefazio commented on #84977
@pgayvallet , after discussing further with Mike, I realized that I was a little mistaken about the requirements for this.  My comment about the flow that was already in place was in regards to filtering the alert list based on alerts with errors. However, we do _not_ have a flow to direct them there after importing.

[2021-01-05 16:44] wylieconlon opened #87341 "[Visualize] Can't close the elastic-charts legend color picker on click outside"
This is on master with the new charts renderer, in both Firefox and Chrome.

It appears that the color picker is only closeable when you:

* Click a new color
* Click the color dot on the legend

But does not close on any other trigger, including clicking outside or using the escape key. This can lead to a stack of color pickers:

<img width="423" alt="Screen Shot 2021-01-05 at 11 40 00 AM" src="h

[2021-01-05 16:46] elasticmachine commented on #87341
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 16:46] elasticmachine commented on #87341
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-01-05 16:55] afgomez commented on #87214
There seems to be a problem on the last step when filtering by the `unknown` state. There are supposed to be 202 `unknown` processes, but the list is empty.

<img width="728" alt="Screenshot 2021-01-05 at 17 53 02" src="https://user-images.githubusercontent.com/57448/103674611-40b55a80-4f7f-11eb-8301-260153be0887.png">

[2021-01-05 16:59] pmuellr opened #87344 "[actions] new action parameter escaping breaks existing templates"
We changed the way action parameters have their mustache variables escaped in PR https://github.com/elastic/kibana/pull/83919 .

Unfortunately, this appears to break some existing alerts.

Eg, it appears monitoring provides a context variable with a markdown link like `[link text](url-here)`.  In the past, the HTML escaping generally would have done nothing with this, but now if you use this in an

[2021-01-05 16:59] elasticmachine commented on #87344
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-05 17:04] clintandrewhall commented on #80508
The Presentation team now has a draft PR (https://github.com/elastic/kibana/pull/86019/) with the `tsconfig` files in place once dependencies clear.

I would recommend others to do the same: at least get the files created, with the cleared dependencies in place and remaining dependencies commented out.  It will help us move fast as these dependencies clear.

[2021-01-05 17:07] lukeelmers commented on #80544
Ran across this while looking into https://github.com/elastic/kibana/issues/13241.

It turns out the reason the content length is always 9 is because the value we are using to calculate it (`event.responsePayload`) is always `undefined` in the legacy logging code (`'undefined'.length === 9`). 🤦

https://github.com/elastic/kibana/blob/ff94674919035fceb67522d87dc851b5e181fcaa/packages/kbn-legacy-log

[2021-01-05 17:11] lukeelmers commented on #80544
Also in case it isn't obvious from my above comment, this is a known issue and work to implement in the KP logger is tracked by #13241. You'll still see them in the console because the legacy/default appender continues to log to stdout.

[2021-01-05 17:12] #87226 closed

[2021-01-05 17:14] tsullivan commented on #82891
Another solution is to hide the notification in CSS. This CSS file gets injected to the browser right before the "preserve layout" PDF is captured: https://github.com/elastic/kibana/blob/0dc0f1f/x-pack/plugins/reporting/server/lib/layouts/preserve_layout.css

[2021-01-05 17:23] myasonik commented on #84664
Talked to @cchaos about this and she convinced me that this works just as well as a toggle button as a radio input and a toggle button is **loads** easier to implement so let's go with that!

All that needs to happen to make it a toggle button is add `aria-pressed={true/false}` to each `EuiListGroupItem`.

[2021-01-05 17:33] mayya-sharipova commented on #84041
For the size of metricbeat indices in the cluster of  https://github.com/elastic/sdh-elasticsearch/issues/3681, I am copying Jason's response here:

Based on the previously provided diagnostic result, total shard number of `metricbeat-*` was 608, and shards from the current version 7.10 were 196. All their shards are managed by ILM which rollover with `"max_size": 50gb`.
[code]

[2021-01-05 17:35] Zacqary commented on #87214
@afgomez Yeah that's expected, note the link in the message. Metricbeat's default config only records the top 10 processes by CPU and memory, though it stores a summary record of the state of everything. See https://github.com/elastic/kibana/issues/85043 for more context

[2021-01-05 17:39] pmuellr commented on #87048
I wonder if we need to be more general - maybe every action group could have different context variables?

[2021-01-05 17:44] #66722 closed

[2021-01-05 17:46] #79192 closed

[2021-01-05 17:46] spalger commented on #82340
Handled by triggering logic @brianseeders is building.

[2021-01-05 17:46] #82340 closed

[2021-01-05 17:48] #87287 closed

[2021-01-05 17:49] nchaulet commented on #73529
closed by https://github.com/elastic/kibana/pull/87300

[2021-01-05 17:49] #73529 closed

[2021-01-05 17:55] #83969 closed

[2021-01-05 18:10] chrisronline commented on #84041
One thing we can have the customer do, as a temporary measure, to test the root cause is to have them manually configure `monitoring.ui.metricbeat.index` to `.monitoring-es-7-*` inside of Kibana. Ask them to change that config, restart Kibana, and observe if they are still experiencing the same performance issues.

I wouldn't recommend keeping the config around long-term because it will affect how

[2021-01-05 18:10] #77401 closed

[2021-01-05 18:12] a03nikki opened #87367 "[kibana] [vega] Fix broken help link on text editor"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Server OS version:** Unknown as Cloud on GCP

**Browser version:** Firefox 84.0.1

**Browser OS version:** MacOS 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):** Elasticsearch Service

**Describe the bug:** The help link to the documentation from the Vega editor's `(?)` icon returns 404.

**Steps to

[2021-01-05 18:36] nchaulet opened #87372 "[Fleet] Migrate Agents from saved object to fleet server indices"
## Description

In the effort of moving the Elastic Agent call from Kibana to Fleet Server, we need to stop reading and writing from kibana saved object and use fleet server system indices instead

Prerequiste to complete the migration:
* the kibana system will need to have the permission to read and write to the `.fleet-*` indices
* ES will need to create the fleet system indices

## First step

[2021-01-05 18:36] elasticmachine commented on #87372
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-05 18:44] #83501 closed

[2021-01-05 18:52] #84666 closed

[2021-01-05 18:52] pgayvallet commented on #87232
@cchaos thanks for the insight. Will take a shot

[2021-01-05 19:31] mostlyjason commented on #87162
Ok great there is no elastic agent package in 7.10, but it sounds like this will be addressed when the package is released. I'll reopen if that doesn't address it.

[2021-01-05 19:31] #87162 closed

[2021-01-05 19:34] elasticmachine commented on #86992
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-05 19:35] mostlyjason commented on #87078
@sorantis is this something the docker package will address or should it work even with just the system package installed?

[2021-01-05 19:40] spong commented on #84385
@jmikell821 @DonNateR for 7.11, the below pre-packaged rules [have been updated](https://github.com/elastic/kibana/pull/85506) from `query` type to `eql`, and so if the user had configured a value-list exception previously, those exception items will not be processed once the rule is updated to an `eql` rule until this issue is resolved.

<details><summary>Rules updated from `query` type to `eql`<

[2021-01-05 19:41] bhavyarm opened #87379 "Kibana displays wrong warning message while user is filling in field name in annotations for TSVB"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** While user is entering input for  Fields (required - comma separated paths) in annotation p

[2021-01-05 19:41] elasticmachine commented on #87379
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-05 19:49] #84091 closed

[2021-01-05 20:20] Zacqary commented on #85841
Not quite sure how to test this one. Does this state only happen if you're monitoring multiple clusters?

[2021-01-05 20:24] ymao1 commented on #61313
### Watcher Queries

Watcher Search Input type supports:
* full ES DSL, including aggregations
* Painless scripting
* specifying indexed search templates with parameters

When a watch is triggered, the input query determines what data is loaded in to the execution context (the payload). This payload is accessible during subsequent watch execution phases like evaluating the condition and firing act

[2021-01-05 20:28] chrisronline commented on #85841
@Zacqary

Sure! In https://github.com/elastic/kibana/pull/81569, we introduce two ways to view alerts in the UI - grouped by "node/instance" or grouped by the alert type. That line item means we should just verify you can toggle between the two and both of them make sense and the grouping looks right

[2021-01-05 20:30] Zacqary commented on #85841
@chrisronline Got it, is it expected that the toggle switch doesn't appear if you're only monitoring a single node?

[2021-01-05 20:32] chrisronline commented on #85841
@Zacqary Negative. That's something we should probably optimize in the near future, but it does not do that now.

[2021-01-05 20:42] Zacqary commented on #85841
Okay, well I'm not seeing the `Group by node` toggle at all. Guess I can't pass that test case then?

[2021-01-05 20:43] smith commented on #85752
This was fixed in #86023.

This was fixed in #86205.

There are some remaining issues with wrapping that I'm working on in a PR to close this issue.

[2021-01-05 20:45] bmorelli25 commented on #82057
Done in https://github.com/elastic/kibana/pull/87072.

[2021-01-05 20:45] #82057 closed

[2021-01-05 20:48] bhavyarm opened #87384 "[SO Tagging/Global Search] Searching on a tag name in global search logs Cannot read property 'disabled' of undefined in console"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** entering a tag name and pressing enter in global search box displays cannot read property '

[2021-01-05 20:49] neptunian commented on #87153
Everything working as expected.

There was one issue, unrelated to Metrics UI, where Load is not reporting data due to an issue with the `system` integration if running the elastic-agent on mac os.  This was fixed in  https://github.com/elastic/integrations/pull/498 and will be reflected when the latest `system` package is published.

<img width="705" alt="Screen Shot 2021-01-05 at 11 25 19 AM" sr

[2021-01-05 20:49] #87153 closed

[2021-01-05 21:03] mostlyjason commented on #86882
Agree since its not a blocker for using the product, but I'd let @ph decide when to schedule the fix