[2022-03-23 16:26] academo commented on #98742
PR to fix this regression for 8.2 https://github.com/elastic/kibana/pull/128380

[2022-03-23 16:32] flash1293 commented on #13352
All these things are solved in the Lens heatmap in 8.2:

No missing buckets and order of histograms doesn't matter
<img width="1046" alt="Screenshot 2022-03-23 at 17 27 52" src="https://user-images.githubusercontent.com/1508364/159748905-c71f51ea-3c99-4ce4-b670-53b8545b9f39.png">

In case zeros should be spelled out, there's a dedicated setting for that:
<img width="1034" alt="Screenshot 2022-03-2

[2022-03-23 16:32] spalger opened #128396 "Failing ES Promotion: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/show_underlying_data·ts - lens app show underlying data should show the open button for a compatible saved visualization with a lucene query"
**Chrome X-Pack UI Functional Tests**
**x-pack/test/functional/apps/lens/show_underlying_data.ts**

**lens app  show underlying data should show the open button for a compatible saved visualization with a lucene query**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to repr

[2022-03-23 16:36] elasticmachine commented on #128394
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-23 16:37] spalger commented on #128396
Test was skipped in: https://github.com/elastic/kibana/commit/09f78b01b966854d63b5cd7c79e36c9f35bbd580

Changes in ES since the last successful snapshot promotion: https://github.com/elastic/elasticsearch/compare/9fe31df06435b2830464be80bab92d84ea33c67e...d0c2b098a781e54bbdf4bdeaf4e3b202fd5eb440

The most suspicious commit in my eyes is https://github.com/elastic/elasticsearch/commit/add9b6a5ebe68

[2022-03-23 16:40] dominiqueclarke commented on #127668
We have moved forward with deleting the monitors from the service when monitor management is disabled. This will immediately stop the execution of monitors in all locations, while preserving the monitor configuration in saved objects. This ensures that if the user wants to later re-enable monitor management, they can do so without losing monitor configuration. Please let me know if you have any co

[2022-03-23 16:42] elasticmachine commented on #128395
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-23 16:51] elasticmachine commented on #128396
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-23 16:56] jen-huang commented on #128231
@samratbhadra-qasource Yeah, this document is not ingested by elastic agent (no `elastic_agent.*` fields), therefore no issues here.

[2022-03-23 16:56] #128231 closed

[2022-03-23 16:58] jen-huang commented on #128342
Might this be related to #128250 as well?

[2022-03-23 17:01] jen-huang commented on #122215
@samratbhadra-qasource Can you open a separate ticket for the Fleet Server hosts message?

[2022-03-23 17:35] neptunian commented on #124576
@jportner or @elastic/kibana-docs Should `elasticsearch.serviceAccountToken` still be marked as beta in current docs?  I'm not sure how that's determined as I don't see in the docs where the corresponding ES API is marked as beta.  I assume `monitoring.ui.elasticsearch.serviceAccountToken` should be the same.

[2022-03-23 17:41] ThomThomson commented on #99993
Closing this, as Phase 1 is complete!

[2022-03-23 17:47] zakwanhaj commented on #121063
I have the same problem. It's very annoying. I hope you can include it in the short term plan and that it will be fixed soon.

[2022-03-23 17:53] 1Copenut commented on #128009
Pinging @1Copenut for visibility

[2022-03-23 17:54] kibanamachine commented on #94854
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13468#d620a540-0755-4d85-bc06-6e219f2c222b)

[2022-03-23 17:56] flash1293 commented on #121063
@zakwanhaj Actually I opened a PR yesterday that will fix this issue: https://github.com/elastic/kibana/pull/128297

It will be released with the next upcoming version 8.2

[2022-03-23 17:59] flash1293 commented on #128396
Tracked it down to this being a change of behavior of the lucene query `memory` (set here:
https://github.com/elastic/kibana/blob/09f78b01b966854d63b5cd7c79e36c9f35bbd580/x-pack/test/functional/apps/lens/show_underlying_data.ts#L86 )

In the old ES snapshot, this would still show some data while in the new snapshot it's matching nothing (also within Lens, so it's not a problem of the "show underly

[2022-03-23 18:00] #98742 closed

[2022-03-23 18:15] spong commented on #128121
Shipping of V3 ML Modules has been pushed to `8.3`, so updating this issue to target `8.3` as well.

[2022-03-23 18:17] philippkahr opened #128410 "Toggle column in table in discover is broken."
**Kibana version:** 8.1.1

**Elasticsearch version:** 8.1.1

**Server OS version:** ESS

**Browser version:** Chrome, Chrome Dev, Safari....

**Browser OS version:** Version 99.0.4844.83 (Official Build) (x86_64)
,Version 101.0.4947.0 (Official Build) dev (x86_64),Version 15.4 (17613.1.17.1.6)

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

Th

[2022-03-23 18:39] spalger commented on #94854
@walterra any idea why this might still be failing in 7.17?

[2022-03-23 18:46] #127563 closed

[2022-03-23 18:58] marshallmain commented on #128349
Hi @andyoulovexy,

The `logs-endpoint.alerts-*` indices are created when the Elastic Endpoint sends an alert to Elasticsearch for the first time. The warning will disappear at that time.

[2022-03-23 19:01] marshallmain commented on #128137
Hi @deepikakeshav-qasource,

Thanks for reporting this! Since the issue is fixed on 8.2 we determined that no additional fix is needed here.

[2022-03-23 19:01] #128137 closed

[2022-03-23 19:04] jbudz commented on #106442
I think we can close this, these are auto setup now in local environments.

[2022-03-23 19:04] #106442 closed

[2022-03-23 19:08] yiyangliu9286 commented on #120302
Please see the [Figma](https://www.figma.com/file/AQJztjDJB0WaQXrmhkPIW0/%5B8.2%5D-%5BTimeline%5D-Suggestion%2FUX-improvements%3A-Visual-cleanup-of-correlation-textarea-in-Timeline?node-id=0%3A1) design here.

Here is the screenshot of this UX/UI improvement view + list of UX/UI improvements have update to Timeline page under Correlation tab:

- Updated the Refresh button colour as less primary he

[2022-03-23 19:10] klacabane commented on #123269
Quick lookup shows that we're reading the following values from `monitoring.ui` in [public/plugin.ts](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/public/plugin.ts#L144-L147):
- enabled
- min_interval_seconds
- show_license_expiration
- container.elasticsearch.enabled
- container.logstash.enabled

Ideally we'd define a schema with only the nested keys that we want to expos

[2022-03-23 19:10] formgeist commented on #128345
Weird thing is that this was fixed in the UX app not too long ago https://github.com/elastic/kibana/issues/111837

[2022-03-23 19:14] jbudz commented on #75488
I'm dropping operations from the label here, this seems stalled out.

We can bake more fonts into the docker cloud image, like we've already done for the noto-cjk font.  If there's an ask for large runtime fonts (100mb+) we can assist with hosting, but for stability reasons we'd rather these were already integrated if the size is reasonable.

[2022-03-23 19:14] dborodyansky commented on #104986
@hop-dev Here is a proposal to show a callout for this case, and disable subsequent fields and save button to prevent errors. What are your thoughts?

![image](https://user-images.githubusercontent.com/3674406/159778099-f9311c7e-8267-456b-96d3-5293331d336d.png)

[2022-03-23 19:15] jen-huang commented on #104986
I did not realize this limitation, but that tracks with the documented proposal. @dborodyansky can we also get this included in the mockups?

[2022-03-23 19:17] jbudz commented on #67548
This hasn't had much activity -  closing this out.   I'd recommend relying on CI for builds or the more recent developer docs for a package build guide.

[2022-03-23 19:17] #67548 closed

[2022-03-23 19:22] spalger commented on #128396
That's what caught my attention too, but I'm a bit concerned that this query is matching different results given the changeset in Elasticsearch. Do you know what the actual ES query is that we're executing with the KQL `memory`? I assume it's a simple query string query for that string?

[2022-03-23 19:25] flash1293 commented on #128396
It’s a query string query like this: “( memory )”

I’m more weirded out by the fact that it used to work than by the fact that it stopped working

[2022-03-23 19:28] jportner commented on #124576
Great question.

We initially marked this setting as beta in our docs via #102121, here was our reasoning at the time:
_**Note** I am marking this as `beta` in the docs because the underlying ES APIs are marked as `beta`. This gives us the necessary flexibility to make a breaking change if required (although I do not expect any at this time)_

It looks like the API is [marked as beta in the 7.13 d

[2022-03-23 19:48] formgeist opened #128427 "[Unified Observability] Guided Setup: If there are no more recommended steps we should hide the title"
# Summary

When there are no more recommended steps in the guided setup content, we should at least hide the title.

<img width="434" alt="CleanShot 2022-03-23 at 20 46 56@2x" src="https://user-images.githubusercontent.com/4104278/159783514-75180b1b-fec7-4896-9748-c227251563e0.png">

[2022-03-23 19:48] elasticmachine commented on #128427
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-23 19:49] nmorum commented on #19909
@shaunmcgough checking to see if there is an update as we get ready for a QBR with customer next week when this item will come up for discussion.

[2022-03-23 20:08] dborodyansky commented on #104986
Got it @jen-huang. Removing the toggle seems appropriate in this case. Mockups updated. [Source here](https://www.figma.com/file/RVYNk5W3gyJdWOGDj8ixPH/Fleet?node-id=3205%3A452949)

[2022-03-23 20:22] lukeelmers commented on #123257
Yeah, that's a good point; the solution for that would be helpers in the spirit of how we handle config deprecations (similar to what Alejandro brings up), instead of freeform migration functions. But then these no longer "feel" like SO migrations.

I suppose if we aren't restricting the inputs to the migration functions, then it doesn't really matter whether these migrations live in `core.uiSetti

[2022-03-23 20:24] MichaelMarcialis opened #128428 "[Lens] Improve Toolbar Responsiveness"
**Describe the bug:**

Depending on its contents, the Lens toolbar layout has the potential to look broken at smaller viewport sizes. This is due to the number of possible variables at play in the toolbar, including:

- Selected visualization name length in the visualization selector
- Number of toolbar icon buttons (varies greatly across visualization types)
- Presence of the warning count
- Pres

[2022-03-23 20:24] elasticmachine commented on #128428
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-23 20:24] spalger commented on #128396
Thank you @flash1293!

[2022-03-23 20:28] jasonrhodes commented on #127835
@joshdover can you help me with two questions re: this work?

(1) You mentioned a fix went out in 8.0.1 for the Fleet side of this problem, can you link to that PR?

(2) Do you know if it's possible for us to unpublish some of these packages that were experimental/prerelease? @ravikesarwani would prefer to remove them since they haven't been tested even for experimental release (they were accident

[2022-03-23 20:37] #127074 closed

[2022-03-23 20:49] EricDavisX commented on #121457
Hello - Yes, I think we can close this.  I can update where we are tracking pending work to support Rules oriented performance tests and where the jobs are now:
 - Nikita has a pr where he is citing BuildKite support for the kbn-alert-load tool which has moved to an elastic space.
 https://github.com/elastic/kibana/pull/126058/files
 - I can cite we were unsure which would be quickest to develop a

[2022-03-23 20:50] EricDavisX commented on #119845
I can update where we are.  we did a proof of concept in jenkins and have decided to continue iterating on it from the machine-learning-qa-infra jenkins server:
 - https://ci.ml-qa.com/job/stack-testing/job/kibana/job/performance/job/response-ops-performance-test/
 this job runs nightly and runs the 4-cluster 'versions-1000' suite that runs a cluster with 1000 rules every 5 second-run interval wit

[2022-03-23 20:52] alexfrancoeur commented on #19909
@VijayDoshi, I'm not sure if we have anything to share but I believe you're following up on these in Shaun's absence.

[2022-03-23 21:06] pmuellr commented on #121457
Probably not a bad idea to bake this into kbn-alert-load at this point.  I think we'd want a signal handler to catch ctrl-c, etc terminations, which would then delete the deployments on an "unclean" exit as well (or at least most "unclean" exits).

I think the reason I had this in there was so I could debug the deployments if there were some issues, while I was developing this.

We could think of

[2022-03-23 21:46] mgiota opened #128435 "Move rules menu option under alerts"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-03-23 21:52] ebeahan opened #128436 "Field formats specified in package not being applied in data view"
**Kibana version:**

8.1.1

**Describe the bug:**

Data views created by Fleet at package install do not apply the `format` option, if `format` is included on a field definition in the package config.

Example: the `system` package defines the field `system.memory.total`:

https://github.com/elastic/package-storage/blob/production/packages/system/1.6.4/data_stream/memory/fields/fields.yml#L6

The

[2022-03-23 21:52] elasticmachine commented on #128436
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 22:28] #123879 closed

[2022-03-23 22:28] #126811 closed

[2022-03-23 23:27] rsatoor0 opened #128439 "Elastic App Search <-> Firebase Extension Documentation"
**Kibana version:**
8.1.1
**Elasticsearch version:**
8.1.1
**Server OS version:**
N/A
**Browser version:**
N/A
**Browser OS version:**
N/A
**Original install method (e.g. download page, yum, from source, etc.):**
npm
**Describe the bug:**
Elastic App Search + Firebase extension documentation should be updated to reflect the underlying collection group query
**Steps to reproduce:**
1. Install Elast

[2022-03-24 00:51] andyoulovexy commented on #128349
I had installed three elastic-agents by fleet server,enabled the endpoint security policy,but no  `logs-endpoint.alerts-*` index generate,what can I do?or how can let log indices to generate?

[2022-03-24 00:52] andyoulovexy commented on #128349
I had installed three elastic-agents by fleet server,enabled the endpoint security policy,but no  `logs-endpoint.alerts-*` index generate,what can I do?or how can let log indices to generate?

I had installed three elastic-agents by fleet server,enabled the endpoint security policy,but no  `logs-endpoint.alerts-*` index generate,what can I do?or how can let log indices to generate?

[2022-03-24 01:44] kibanamachine commented on #126642
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13493#6ea01a4f-39ac-46f0-ad9d-babc3d40f13f)

[2022-03-24 02:02] kibanamachine opened #128441 "Failing test: Jest Tests.x-pack/plugins/task_manager/server - task_events startTaskTimerWithEventLoopMonitoring non-blocking"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13493#e2ce5315-82f6-4444-a507-92ab726d5442)

[2022-03-24 02:34] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13496#79853f83-a80d-4911-afa8-37888f93bc16)

[2022-03-24 03:10] smith commented on #123269
Could we also look at flattening the ones we need and only exposing those as separate config items?

[2022-03-24 03:13] smith commented on #128345
It looks like they [put a `className="eui-textNoWrap" on the H1](https://github.com/elastic/kibana/pull/112930/files#diff-5405f67c24a92e42fe1334bea90f198864fd28d9e772d630e034265c8fb50715R87) but only in the UX app. It probably would be better to do that Kibana (or at least Observability) wide.

[2022-03-24 03:35] muskangulati-qasource opened #128444 "[Security Solution] No success toast is displayed after adding first entry under Event Filters."
**Description:**
No success toast is displayed after adding first entry under Event Filters.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints Tab from the left hand side navigation
2. Go to the Blocklist tab

**Impacted Test case:**
N/A

**Actual Result:**
No success toast is displayed aft

[2022-03-24 03:35] elasticmachine commented on #128444
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 03:35] elasticmachine commented on #128444
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-24 03:35] muskangulati-qasource opened #128445 "[Security Solution] For the duplicate values under Blocklist, there is no error message displayed to the user. However, the entry can't be submitted"
**Description:**
For the duplicate values, there is no error message displayed to the user. However, the entry can't be submitted.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints Tab from the left hand side navigation
2. Go to the Blocklist tab

**Impacted Test case:**
N/A

**Actual Resul

[2022-03-24 03:35] elasticmachine commented on #128445
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 03:35] elasticmachine commented on #128445
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-24 03:35] muskangulati-qasource commented on #128444
@manishgupta-qasource please review!

[2022-03-24 03:36] muskangulati-qasource commented on #128445
@manishgupta-qasource please review!

[2022-03-24 04:14] samratbhadra-qasource commented on #122215
Hi @jen-huang,
Thanks for the update.
We will be opening a separate ticket for the Fleet Server hosts message.

Thanks!

[2022-03-24 04:45] samratbhadra-qasource opened #128447 "[Fleet]: Incorrect validation message `Invalid URL` is displayed on saving default output without any host URL under `Fleet server hosts`."
**Describe the bug:**
Incorrect validation message `Invalid URL` is displayed on saving default output without any host URL under `Fleet server hosts`.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
BUILD: 51365
COMMIT: 130823ac27126f1eca689a186a088f1993fa848a
ARTIFACT: https://snapshots.elastic.co/8.2.0-63942b4d/summary-8.2.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.2.0-SNAPSHOT environment shoul

[2022-03-24 04:45] elasticmachine commented on #128447
Pinging @elastic/fleet (Team:Fleet)

[2022-03-24 04:45] samratbhadra-qasource commented on #128447
@manishgupta-qasource Please review.

[2022-03-24 04:51] samratbhadra-qasource commented on #128231
Hi @jen-huang,
Thanks for the confirmation.

[2022-03-24 05:11] deepikakeshav-qasource commented on #128230
Hi @MadameSheema ,

Yes, This is happening on all the different pages.

**Screencast:**

https://user-images.githubusercontent.com/61860752/159846566-628a465a-3ff6-407b-9491-2c143f8b672e.mp4

Thanks!!

[2022-03-24 05:56] #123859 closed

[2022-03-24 06:23] deepikakeshav-qasource commented on #122654
Hi Team,

We have validated this issue on Latest **8.2.0 SNAPSHOT** and **8.1.0** and observed that issue is **Fixed** 🟢

Please find the below testing details:

**Build Details:**
[code]
[code]

**Screenshot:**

**8.1.0**
![image](https://user-images.githubusercontent.com/61860752/159855118-6ba01f1c-0e6c-4aa6-b789-90de1f2739e3.png)

**8.2.0 SNAPSHOT**
![image](https://user-images.githubuserconten

[2022-03-24 06:24] #122654 closed

[2022-03-24 07:19] katrin-freihofner opened #128449 "[Observability rules view] two refresh buttons"
**Kibana version:**
running this PR: https://github.com/elastic/kibana/pull/128437#pullrequestreview-919808770 locally

**Describe the bug:**
There are two refresh buttons, we only need one.
<img width="1485" alt="Screenshot 2022-03-24 at 08 08 32" src="https://user-images.githubusercontent.com/20965076/159862791-88431f5d-5dd9-4432-a7d4-851e5cd38d22.png">

**Expected behavior:**
We need to remove

[2022-03-24 07:22] najmiehsa commented on #128194
Added the edge case to the document https://github.com/elastic/elasticsearch/pull/85298

[2022-03-24 07:23] katrin-freihofner opened #128450 "[Create alert rule] need to click twice to create a new rule"
**Kibana version:**
running this PR: https://github.com/elastic/kibana/pull/128437#pullrequestreview-919808770 locally

**Describe the bug:**
I needed to click the rule type twice to select it.

**Steps to reproduce:**
1. visit Observability rules view (or rules view in Stack management)
2. click on "create rule" button
3. select one of the rule types in the list

**Expected behavior:**
I expect t

[2022-03-24 07:24] elasticmachine commented on #128450
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 07:31] prachigupta-qasource opened #128451 "[Question][Security Solution] Warning messages are different on rule execution when we have different roles for CCS privileges"
**Describe the Question:**

Warning messages are different on rule execution when we have different roles for CCS privileges

**Build Details:**

[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. CCS setup should be done between source and remote build

**Steps to Reproduce**

**Scenario 1: When the role has CCS index privileges**

1.  Naviga

[2022-03-24 07:31] elasticmachine commented on #128451
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 07:31] fkanout opened #128452 "[RAC][LOGS][TESTS] Update tests related to the alertUpdater function after the refactor."
# Summary
Related https://github.com/elastic/kibana/pull/127890, we had to refactor the logs threshold executor. And removing the `alertUpdater` function was part of the refactor. However, there are suits of tests has been commented on. This issue is about rewriting these tests.

# AC
Uncomment and update the related tests in https://github.com/fkanout/kibana/blob/b6c91f0a7e6d0909c56fb088d72832b3a

[2022-03-24 07:46] kertal commented on #127987
not that this happens when it's rendered for the first time

[2022-03-24 07:47] kertal commented on #124982
@Dmitriynj thx Dima, closing this since it was already fixed

[2022-03-24 07:47] #124982 closed

[2022-03-24 07:53] kibanamachine commented on #128441
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13510#a5d31a99-5a34-41e1-ad47-616f12832664)

[2022-03-24 08:09] manishgupta-qasource commented on #128354
Secondary review for this ticket is Done

[2022-03-24 08:10] manishgupta-qasource commented on #128444
Reviewed & assigned to @kevinlog

[2022-03-24 08:10] manishgupta-qasource commented on #128445
Reviewed & assigned to @kevinlog

[2022-03-24 08:52] machadoum opened #128454 "[Security Solution][Meta] User Page"
This meta issue groups all User Page engineering issues.
[Original issue](https://github.com/elastic/security-team/issues/2828)
[User Page 8.2 doc]( https://docs.google.com/document/d/1HJizFYY26GZ8keWPA7GPfivJ65PPtkgmj-1B73n51dk/edit#heading=h.vcozv4ihbn3b
)
### Summary

Implement the first version of the User page on Security Solution.

### Tasks

8.2 Issues:
- [x] #124499
- [x] #124502
- [x] #12

[2022-03-24 08:58] dasansol92 commented on #127843
Subsequent PR to fix error when empty `hideLists` array: https://github.com/elastic/kibana/pull/128455

[2022-03-24 09:07] janmonschke commented on #125647
Note: the fields with `*.text` at the end should not show up in the table anymore, therefore the issue you described should not show up anymore either. (thanks @MadameSheema)

[2022-03-24 09:08] MadameSheema commented on #125647
@karanbirsingh-qasource can you please retest it ingesting the data in the same way you did it when you report the ticket?? Thanks!! :)

[2022-03-24 09:21] teresaalvarezsoler commented on #128394
While I agree the empty state can be improved, I don't agree with including all panel types.

I think we should prompt the user to take **the action that adds the most value**. In this case, the primary action is clearly creating a viz. Creating a text panel or a control doesn't make sense until you have created at least one chart.

We should give users only the **information that is relevant** to

[2022-03-24 09:25] shahzad31 opened #128457 "[Uptime] Enable inspect panel by default in dev mode"
**Describe the feature:**

In uptime we have inspect enabled which can be enabled from advanced settings.

**Describe a specific use case for the feature:**

In dev, it's really useful to inspect queries, so we should enable it by default in kibana dev mode

<img width="924" alt="image" src="https://user-images.githubusercontent.com/3505601/159885058-aa572776-4e99-4629-bdf6-64fa1380e437.png">

[2022-03-24 09:25] teresaalvarezsoler commented on #128394
My question is, why do we want to do this now? i.e., what's the goal we are pursuing here? I'm happy to schedule a meeting a discuss it further.

[2022-03-24 09:26] elasticmachine commented on #128457
Pinging @elastic/uptime (Team:uptime)

[2022-03-24 09:34] manishgupta-qasource commented on #128447
Secondary review for this ticket is Done

[2022-03-24 09:40] kpatticha commented on #126153
We use `EuiIcon` in many places

`grep -l -R "<EuiIcon"`
[code]
but I've noticed that the rendering issue appears only when we use the `EuiIcon` with a custom SVG which is only in two place. The `SpanIcon` is the component for rendering the icons for the dependencies.

` grep -R "<EuiIcon"  . | grep "type={"`
[code]

[2022-03-24 09:44] MadameSheema commented on #128451
@prachigupta-qasource in order to answer your question I need the following information per each one of the mentioned scenarios:

* The `CCS_23:*` data view exists on the source instance?
* Have the remote ingested data?

[2022-03-24 09:49] sebelga opened #128458 "[Form lib] Expose method to update multiple field values"
While discussing some technical requirement for the "New live query" form of the `osquery` plugin (`/app/osquery/live_queries/new`) with @patrykkopycinski we realised that there isn't an easy way in the form lib to update an array of field objects dynamically.

That form requires that the array of ECS mapping fields be updated whenever the SQL query field changes

![image (2)](https://user-images.

[2022-03-24 09:49] elasticmachine commented on #128458
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-24 09:49] elasticmachine commented on #128230
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-24 09:50] formgeist opened #128460 "[APM] Exploratory view: Add metric options for the most common service performance metrics"
# Summary

The Exploratory View is being supported by other applications in Observability and APM should follow suit and provide the fundamental metric visualizations that we have available in the APM app. We have additional enhancements planned for the UX of the Exploratory View and also how the user will access the metrics from the APM app, but these can be handle in following implementations. I

[2022-03-24 09:50] elasticmachine commented on #128460
Pinging @elastic/apm-ui (Team:apm)

[2022-03-24 09:51] #123585 closed

[2022-03-24 09:51] #127434 closed

[2022-03-24 09:51] #127583 closed

[2022-03-24 09:51] formgeist commented on #128460
@alex-fedotyev @chrisdistasio I'm eager to hear your thoughts on the proposed implementation above and what metrics we are including. We have limitations on the visualization types, so we cannot include e.g. the scatterplot visualization for Instances latency distribution.

[2022-03-24 09:54] afharo opened #128461 "[discuss] Upgrade Assistant and 3rd-party plugins"
This issue is to discuss if we need to take any specific steps to tackle upgrades with 3rd-party plugins and what's needed to validate their compatibility with the next version.

## Plugin manifest's `kibanaVersion`

Right now plugin developers can specify the versions their plugin is compatible with the [`kibanaVersion`](https://github.com/elastic/kibana/blob/main/docs/development/core/server/kib

[2022-03-24 09:54] elasticmachine commented on #128461
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-24 09:54] elasticmachine commented on #128461
Pinging @elastic/kibana-core (Team:Core)

[2022-03-24 09:57] peteharverson opened #128462 "[ML] Single Metric Viewer chart fails to load if no points during a calendar event"
The main chart in the Single Metric Viewer will error if there are calendar events during a time when there are no data points in the plot.

For example, the following job has a calendar assigned, with a scheduled event added for Jan 22, from 00:00 to 12:00. With a `rare` detector, the data is sparse for specific `http.response.status_code`, with no chart points during this time. The main chart fa

[2022-03-24 09:59] amolnater-qasource opened #128463 "[Fleet][Enhancement]: User is unable to view agent status, agent policy and agent activity under Agent logs tab."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. An agent should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Navigate to agent> Agent logs tab.
4. Observe user is unabl

[2022-03-24 09:59] elasticmachine commented on #128463
Pinging @elastic/fleet (Team:Fleet)

[2022-03-24 09:59] amolnater-qasource commented on #128463
@manishgupta-qasource Please review.

[2022-03-24 10:02] manishgupta-qasource commented on #128463
Secondary review for this ticket is Done

[2022-03-24 10:03] MadameSheema commented on #128137
@marshallmain is this part of the preview improvements or it has been a bug fix? Asking to know if the fix is going to be available on 8.1.2 or not, thanks :)

[2022-03-24 10:05] dminovski0 commented on #89555
I tried this with Kibana 8.1.1 hosted locally on Windows. The reporting job fails when printing a PDF or PNG with an error message `Error: Max attempts (3) reached for job l14sirv90d8008096af87pf0. Failed with: Error: Protocol error (Page.captureScreenshot): Unable to capture screenshot`.
The dashboard has Height in pixels 30668 px, Width in pixels 1904 px, and about 200 visualizations.
Printing a

[2022-03-24 10:06] MadameSheema commented on #128353
@karanverma-qasource the behavior described above is correct.

@marshallmain feel free to reopen the ticket if you don't agree with it.

Thanks!

[2022-03-24 10:06] #128353 closed

[2022-03-24 10:09] prachigupta-qasource commented on #128451
@MadameSheema Please find the below the answers to your questions:

- The CCS_23:* data view exists on the source instance? **Yes**

![image](https://user-images.githubusercontent.com/97870262/159892873-23305e3f-fc6c-4ea3-8bbc-f8f642d4f13f.png)

- Have the remote ingested data? **Yes**

![image](https://user-images.githubusercontent.com/97870262/159893072-689b5b23-d3d5-481c-bd4c-4e4538f74c07.png)

[2022-03-24 10:11] #127190 closed

[2022-03-24 10:12] elasticmachine commented on #128352
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-24 10:13] harshitgupta-qasource opened #128465 "[Security Solution] After adding multiple input for action and file name in customize notification message user is not able to get expected data in notification"
**Description:**
In customize notification message after adding multiple input for action and filename in which User is not able to get expected data for Notification message.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint Should be Deployed.
3. Platinum license required

**Steps to Reproduce:**
1. Navigate to Endpoint Tab f

[2022-03-24 10:13] elasticmachine commented on #128465
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 10:13] elasticmachine commented on #128465
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-24 10:17] #127433 closed

[2022-03-24 10:17] dasansol92 commented on #128337
PR: https://github.com/elastic/kibana/pull/128466

[2022-03-24 10:18] dasansol92 commented on #128337
@caitlinbetz Could you check if copy changes are right? Thanks!

[2022-03-24 10:20] karanbirsingh-qasource commented on #125647
Please let me known if you require the build credentials

[2022-03-24 10:24] mgiota commented on #128449
@katrin-freihofner In the screenshot here https://github.com/elastic/kibana/issues/119100 we have 2 buttons. Do we still consider it a bug?

[2022-03-24 10:24] MadameSheema commented on #125647
@karanbirsingh-qasource can you please try upgrading to 8.1.1?? Thanks!!

[2022-03-24 10:29] klacabane commented on #123269
Yup, since we can update that config at runtime we can create a root object out of the properties required by the UI. We'll have to update the paths where we directly access `monitoring.ui.{prop}` in the UI code and we should be good.
Ability to only define a tree in `exposeToBrowser` looks more intuitive to me though but let's consider that as a future improvement

[2022-03-24 10:29] kibanamachine opened #128468 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/cases/list_view·ts - Cases cases list filters cases from the list with partial match"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13520#bedf534b-c053-4700-8bd7-8fd6682029d3)

[2022-03-24 10:42] peteharverson commented on #128462
This can be reproduced with the following job config run on `filebeat-nginx-2019.02.05` from the `filebeat_ecs` snapshot:

[code]

Code is in `findNearestChartPointToTime` in `timeseriesexplorer_utils.js`

[2022-03-24 10:43] karanbirsingh-qasource commented on #125647
ok @MadameSheema

[2022-03-24 11:09] karanbirsingh-qasource commented on #125647
on upgrade the `8.1.0 to 8.1.1` the issue also still occuring

![image](https://user-images.githubusercontent.com/59917825/159903500-b60f50ec-ba6b-45d7-a53b-bc5ee7806c08.png)

![image](https://user-images.githubusercontent.com/59917825/159903774-4e6a3ea0-0ad0-40a8-a35c-e2f501fad158.png)

[2022-03-24 11:12] banderror commented on #124052
@Heenawter We were interested in this feature in Security Solution and I just noticed that the linked issue in EUI (https://github.com/elastic/eui/issues/5576) has been addressed in https://github.com/elastic/eui/pull/5696. Still need to try it out though.

[2022-03-24 11:15] juliaElastic commented on #124030
@axw Thanks for the suggestions.

I agree with Josh's comments [here](https://github.com/elastic/kibana/issues/128338): first it would be best to try to simplify the existing config by making fields optional and set defaults (e.g. no need to specify packages that are already mentioned in package_policies), instead of coming up with new config options.

[2022-03-24 11:16] drewpost opened #128473 "[Synthetics App] Monitor Creation/Editing Page"
# Design

![Kapture 2022-04-18 at 15 47 08](https://user-images.githubusercontent.com/847805/163872620-2d7fb14c-9dbb-4b07-b2da-74e79457da31.gif)

General Notes (Henry):
- I'm hoping we can reuse a lot of our existing code for the form inputs. However the layout is a bit different. See below for details.
- I haven't mocked up the fieldset for every monitor type. Overall, they should be similar to t

[2022-03-24 11:16] elasticmachine commented on #128473
Pinging @elastic/uptime (Team:uptime)

[2022-03-24 11:17] #128396 closed

[2022-03-24 11:18] dasansol92 commented on #128224
PR: https://github.com/elastic/kibana/pull/128472

[2022-03-24 11:21] MiriamAparicio opened #128474 "[APM] Make size required for composite and terms aggregation requests"
Make size required for composite and terms aggregation requests. We noticed a bug in getting the ML results, where making it required would have caught this issue.

Related with https://github.com/elastic/kibana/issues/77718 and https://github.com/elastic/kibana/issues/127018

[2022-03-24 11:23] elasticmachine commented on #128474
Pinging @elastic/apm-ui (Team:apm)

[2022-03-24 11:30] drewpost opened #128475 "[Synthetics App] Empty State Experience"
When the synthetics app is open in an empty state ie with no configured saved object based monitors, we want to enable low-friction exploration. To do this, we are creating an optimized flow to create a single URL monitor for new users. These tests are executed against the synthetic service.

# Design

![Kapture 2022-04-18 at 15 03 17](https://user-images.githubusercontent.com/847805/163861302-638

[2022-03-24 11:30] elasticmachine commented on #128475
Pinging @elastic/uptime (Team:uptime)

[2022-03-24 11:31] angorayc opened #128476 "Implement alerts counters charts section with and links to /alerts"
Design:
https://www.figma.com/file/yGGkXDuUQzoR7faSVu6F9p/OOTB-Dashboard-for-analysts?node-id=520%3A94622
Empty donut charts:
https://www.figma.com/file/yGGkXDuUQzoR7faSVu6F9p/OOTB-Dashboard-for-analysts?node-id=566%3A110747

[2022-03-24 11:32] angorayc commented on #128476
https://github.com/elastic/kibana/pull/128087

[2022-03-24 11:36] formgeist opened #128477 "[Unified Observability] The `hasData` check for rules is not"
# Summary

We should reconsider how our `hasData` for rules is composed and which APIs we use. As mentioned in a PR [comment](https://github.com/elastic/kibana/pull/128382#issuecomment-1077510566) by @estermv ;

[2022-03-24 11:36] elasticmachine commented on #128477
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-24 11:47] formgeist commented on #111325
@katrin-freihofner Right, that's true. I didn't necessarily want this to be blocked by that conversion, but I imagine we can solve that use-case (and any subsequent use-cases that require to show the Logs component inside a flyout) after this implementation.

[2022-03-24 12:00] elasticmachine commented on #128410
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-24 12:02] MadameSheema commented on #125647
@karanbirsingh-qasource can you please let us know how did you ingested data as well as the version of the shipper or agent? Thanks ^^

[2022-03-24 12:07] #126084 closed

[2022-03-24 12:11] semd opened #128478 "[Security Solution][Detection & Response] Open alerts by Rule table"
see: https://github.com/elastic/kibana/issues/127649

**Describe the feature**:

Implement the table section:

![alerts by rule table](https://user-images.githubusercontent.com/17747913/159913312-34b65e8c-c3df-4d8b-8e28-19d3afd9def4.png)

[2022-03-24 12:11] elasticmachine commented on #128478
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-24 12:12] flash1293 commented on #128048
This is caused by an upstream EUI problem https://github.com/elastic/eui/issues/5404 As we won't need to do any follow-up work once this is fixed, I'm going to close this bug - hopefully the EUI fix will come in soon

[2022-03-24 12:12] #128048 closed

[2022-03-24 12:14] kpollich commented on #116591
I believe it's true that we only assert on bundled packages in CI, but I'd want to verify. If that's the case it'd certainly be worth experimentation.

The original motivation for dockerizing EPR in CI environments was to avoid network flakiness, I believe, which is still a potential issue with downloading bundled packages. The download process still needs to call out to EPR when we run the "build

[2022-03-24 12:18] jloleysens opened #128479 "[ML/Dashboard] Timeout when generating report of dashboard with ML embeddable"
**Kibana version:** Tested on 8.1.0 and current master. Could be present earlier.

**Describe the bug:**

When generating a PDF or PNG report of a dashboard that contains a visualisation from the ML anomaly explorer the result will always be a time out while waiting for a visualisations, but the PDF/PNG will still be generated.

**Steps to reproduce:**
1. Start Kibana/Elastic
2. In Kibana, start t

[2022-03-24 12:19] elasticmachine commented on #128479
Pinging @elastic/ml-ui (:ml)

[2022-03-24 12:28] kibanamachine commented on #128468
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13524#e7f9c85b-b6ba-4a63-94a6-327599837b2a)

[2022-03-24 12:30] afharo opened #128481 "[@kbn/docs-utils/api_docs] Support TS's constructor declaration"
The APIDocs tool is claiming that this interface has an `any` in it.

[code]

<img width="1282" alt="image" src="https://user-images.githubusercontent.com/5469006/159915661-ec79a71b-6757-41c6-8933-5c3b2b4954fb.png">

I assume it's due to the tool not supporting the specific constructor declaration `new (...opts): Instance`.

[2022-03-24 12:30] elasticmachine commented on #128481
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-24 12:37] Dosant opened #128482 "KQL typeahead missing description"
**Kibana version:** 8.1.0

**Describe the bug:**

Since 8.1.0 KQL typeahead doesn't render description.
This is especially problematic for long fields since they are just cut on 250px

**Steps to reproduce:**
1. Inject a doc with long fields,
2. create data view,
3. go to Discover
4. Pick that data view
5. Open KQL typeahead
6. See no description and fields cut

**Expected behavior:**

Field descr

[2022-03-24 12:39] afharo commented on #128481
Looking at the generated `api_docs/elastic_analytics.devdocs.json`, we can confirm it's definitely the constructor signature it doesn't like:
[code]

[2022-03-24 12:39] #128457 closed

[2022-03-24 12:40] #126588 closed

[2022-03-24 12:48] semd opened #128483 "[Cases] Provide apis to query cases from the UI"
**Describe the feature:**

Export functions from the plugin `api`, to get the data for:

- Cases filtered by status=open and created within a time range, sorted by most recent
- Cases status aggregation counters, created within a time range

Only data, no component is needed. Use suggestion:
[code]

[code]

**Describe a specific use case for the feature:**

They will be used to build the Detection

[2022-03-24 12:56] Dosant commented on #123720
In this [commit](https://github.com/elastic/kibana/pull/121955/commits/08ba9dc6f62f81d3f0e60bc26131fd3fc1c30ac1), I've fixed the `requiredBundles` dependency between customIntegrations -> presentationUtil.

I've used @afharo's [tool](https://github.com/elastic/kibana/pull/124796) to check that there are no circular dependencies anymore.

Unfortunately, [this didn't help ](https://buildkite.com/ela

[2022-03-24 13:02] karanbirsingh-qasource commented on #125647
@MadameSheema I have installed the Agent with Endpoint security integration and after that i am executing the `mimikatz.exe` which generates the Detection Alert.

[2022-03-24 13:05] MadameSheema commented on #125647
Thanks @karanbirsingh-qasource! which is the version of the agent you installed?

[2022-03-24 13:06] karanbirsingh-qasource commented on #125647
I have installed the agent of same version from which i have started the upgrade path  that is `Agent Version: 7.17.0`

[2022-03-24 13:31] elasticmachine commented on #128468
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 13:31] jbudz commented on #128468
/skip

[2022-03-24 13:32] kibanamachine commented on #128468
Skipped

main: f69fe77413bd065dd5e5a537878d2f0e00d981f5

[2022-03-24 13:32] elasticmachine commented on #128441
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 13:32] jbudz commented on #128441
/skip

[2022-03-24 13:33] jbudz commented on #126414
/skip

[2022-03-24 13:37] #119280 closed

[2022-03-24 13:38] Dosant commented on #119280
Next steps for SQL strategy in data plugin:

- [ ]   Work with [unified search] team on higher-level building blocks for their needs (replacement of SearchSource, expression, etc...)
- [ ]   Work with [canvas] team to see if we can migrate to using this sql strategy as a low-level primitive for their strategy: is async SQL stable enough to switch canvas to use it? Also figure out how to avoid havi

[2022-03-24 13:42] jbudz commented on #128441
skipped

main: 632d64e5d19be9ab84c23753328f07d0d5c7285c
8.1: e9a8a20cbc6492e5f305545b76de3f9b1444605d

[2022-03-24 13:44] li1234yun commented on #127108
Maybe you can split dev tools as plugin like playground. Kibana is also a web application, maybe it is more esalily. :-)

[2022-03-24 13:46] mdefazio commented on #124346
Closed with https://github.com/elastic/kibana/pull/127557

[2022-03-24 13:46] #124346 closed

[2022-03-24 13:47] jbudz commented on #126414
skipped

main: c591e46aa3d9c0623624a7b62cb629d215fe9b3b
8.1: d835de267563ed4d15798176b1f6c2f44224f84e

[2022-03-24 13:48] #126642 closed

[2022-03-24 13:50] nchaulet opened #128493 "[Fleet] Job to test to install all packages"
## Description

To try to detect invalid package or bug in Fleet as early as possible we want to test to install all packages in Fleet, in a job probably daily that alert us if it's not possible to install a package.

Currently there is 130 packages to install and it take ~30 minutes to install all of them, and this number is probably going to grow.

@elastic/kibana-operations it is possible to im

[2022-03-24 13:53] #126409 closed

[2022-03-24 13:54] #77718 closed

[2022-03-24 13:55] ogupte opened #128494 "[APM] Set agent policy id in APM fleet migration"
Set `id: "elastic-cloud-apm"` in https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts#L31. Using a consistent ID for this agent policy allows it to be managed by fleet more specifically.

[2022-03-24 13:55] elasticmachine commented on #128494
Pinging @elastic/apm-ui (Team:apm)

[2022-03-24 13:59] #126498 closed

[2022-03-24 14:07] daleckystepan commented on #46185
This bug still presents even in 8.1.0.
Combination of ES -> Metricbeat -> Logstash -> ES -> Kibana unfortunately does not work well.

[2022-03-24 14:09] dmlemeshko commented on #127994
Yesterday we had a good chat with @spalger and got the following takeaways:

 - extending lifecycle to have `beforeEach`/`afterEach` on suite level will be problematic since many test files are using `describe` nesting and using some setup call like `initTests` will bring more complexity rather than flexibility.
 - function naming is definitely an issue we need to address, we also can re-define it

[2022-03-24 14:09] nchaulet commented on #128209
@joshdover suggested this could be called the @package template as it contains all the info generated from the package. I don't think it would be a lot of work other than all the tests it will break.

Yes this seems a good solution, I have a working solution now where I just moved the `analisys` part from `@settings` to `@mappings`, but I guess it's not as future proof than a new `@package` templa

[2022-03-24 14:17] elasticmachine commented on #128483
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-24 14:18] stephmilovic commented on #121277
closing as this is the intended behavior

[2022-03-24 14:18] #121277 closed

[2022-03-24 14:19] #122616 closed

[2022-03-24 14:26] chrisronline opened #128499 "[ResponseOps] Add client side performance tests for alerts table"
We want a way to measure the rendering time of the alerts table in scenarios where we might see performance issues, such as working with 1k+ rows of data and 15+ columns.

APM seems like a good fit for this, but I'm unsure what's possible there.

[2022-03-24 14:26] elasticmachine commented on #128499
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 14:26] kevinlog commented on #128445
@joeypoon - can you check if we're blocking on a duplicate hash here?

If we filter out duplicates upon submission, then we're OK to allow the user to proceed.  If we DO block on duplicate submissions, it sounds like we actually shouldn't.

Suggestion:
We can add a message telling the use that we filtered out duplicates on the FE

[2022-03-24 14:28] stephmilovic commented on #87095
This is an issue with cardinality aggregations. ES team is investigating: https://github.com/elastic/dev/issues/1959

In the meantime, we've introduced the ability to collapse and skip these expensive aggs: https://github.com/elastic/kibana/pull/127930

[2022-03-24 14:28] #87095 closed

[2022-03-24 14:29] stephmilovic commented on #126901
@chandlerprall could you please confirm this is expected behavior, or transfer bug to EUI?

[2022-03-24 14:33] #125270 closed

[2022-03-24 14:35] ymao1 opened #128500 "[ResponseOps] UX for rules where interval is less than configured minimum"
Followup to https://github.com/elastic/kibana/issues/126409

In [this PR](https://github.com/elastic/kibana/pull/128254) we added a flag indicator to the interval column when the rule interval is less than the configured minimum. If a user is able to edit rules, clicking on the flag will open the edit flyout. In addition when clicking into the rule details page, a toast pops up with an action butt

[2022-03-24 14:35] elasticmachine commented on #128500
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 14:37] elasticmachine commented on #125872
Pinging @elastic/apm-ui (Team:apm)

[2022-03-24 14:39] darnautov opened #128501 "[ML] Create Kibana API endpoints for the Single Metric Viewer"
Client-side code for fetching and processing data required for the Single Metric Viewer needs to be replaced with API calls.

- [ ] getRecordsForCriteria
- [ ] getModelPlotOutput
- [ ] getScheduledEventsByBucket

[2022-03-24 14:41] cyrille-leclerc commented on #125872
FYI I broaden the problem from just the "Log entry details" flyout to also the "Transaction details". and "Span details" as the problem is also impacting APM flyouts.

[2022-03-24 14:50] ThomThomson commented on #128394
### Goals
I don't think @KOTungseth is hoping to highlight every panel type in the empty state. I think the idea here is twofold:
1. To adjust the copy in this call to action so that it reads as something more generic / correct. Elsewhere around dashboard, our verbiage for this generic component is `panel`. Not every panel is a visualization, but I do agree that visualizations are the most importa

[2022-03-24 14:57] #128463 closed

[2022-03-24 15:12] thompsongl commented on #124052
Just noting that the new features from EUI will be available after https://github.com/elastic/kibana/pull/128313 merges.

[2022-03-24 15:13] ifrimere opened #128504 "'31th' text displays instead of '31st'"
**Kibana version: 8.x**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug: In a lens that shows months on the x-axis, Jan 31st is displayed at Jan 31th**
![image](https://user-images.githubusercontent.com/20604655/159948376-0bf7e1da-c41e-47db-8fc1-c88edf00

[2022-03-24 15:33] KOTungseth commented on #128394
I agree with @teresaalvarezsoler that we want to prompt the user to take the action that adds the most value. Simple things should be simple, and adding visualizations is the primary goal for creating dashboards.

The dashboard empty state is definitely not a priority, but we've revamped this empty state before with the intent that it can be better. When we're ready to work on this, I can share th

[2022-03-24 15:45] #125275 closed

[2022-03-24 15:53] mbondyra opened #128506 "[Lens] Refactor drag and drop"
**Describe the feature:**
Features that we'd like to include:
- make the `getDropProps` not completely execute in datasource (most of the information is known outside of datasource and doesn't depend on it)
- add a custom `onDrop` hook for visualization in case if datasource doesn't exist for visualization
- [optional] allow dropping between layers

[2022-03-24 15:53] elasticmachine commented on #128506
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-24 15:55] mbondyra opened #128507 "[Lens] Manual range annotations"
As a user I want to be able to mark range annotations in the Lens xy visualization.

[2022-03-24 16:01] mostlyjason commented on #125534
@joshdover yes good point on the enrollment verification! It seems like we should skip that step. For confirm incoming data, could it report the unique count of agent IDs since the flyout opened?

I had a chat with @criamico yesterday about the commands as well. It seems like the designs were made but never made it into this file for some reason. You can see the set of commands in the UX google do

[2022-03-24 16:18] mikecote commented on #128207
Adding to 8.3 candidates, for now, we can change the "Amazon SES" label to include region (if easy) and fix docs.

[2022-03-24 16:19] #128167 closed

[2022-03-24 16:20] mikecote commented on #128293
Closing in favour of https://github.com/elastic/kibana/issues/127029.

[2022-03-24 16:20] #128293 closed

[2022-03-24 16:29] ersin-erdal opened #128512 "Rename "execution" key in rules config (kibana.yml)"
We use `xpack.alerting.task.execution` config name space in kibana.yml but it's suggested to avoid the use of "execution" terminology.

Discussed replacements so far are: `task`, `run` and `invocation`

[2022-03-24 16:30] mitodrummer opened #128513 "[Security Solution] SessionView alerts routes using AlertsClient improperly"
As part of the 8.2 release, the Session view component will be making it's debut appearance. Currently it is dependant on rule_registry to make use of the AlertsClient. There has been some changes with the recommended ways to use this, so we need to align with what the response ops team recommends.

cc @XavierM to provide details about what should change.

Current uses can be found at:
x-pack/plug

[2022-03-24 16:30] elasticmachine commented on #128513
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 16:30] elasticmachine commented on #128513
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 16:45] teresaalvarezsoler commented on #83243
Closing this one since it's duplicated

[2022-03-24 16:48] peluja1012 commented on #112032
Closing with this PR https://github.com/elastic/kibana/pull/124459

[2022-03-24 16:48] #112032 closed

[2022-03-24 16:53] pheyos opened #128517 "[ML] Add model sync warning to data frame analytics maps page"
When running a data frame analytics job, the created model is not spaces-sync'ed initially. When opening the trained models page, the user sees a `sync needed` warning banner. But this banner is not displayed on the maps page, so the user might be confused why it is not displayed when fetching related nodes.

Suggestion: Add the warning banner to the maps page as well.

[2022-03-24 16:53] elasticmachine commented on #128517
Pinging @elastic/ml-ui (:ml)

[2022-03-24 16:59] #128011 closed

[2022-03-24 17:11] neptunian opened #128519 "[Stack Monitoring] Add critical deprecation for "monitoring.ui.elasticsearch.username: elastic" setting"
Similar to https://github.com/elastic/kibana/pull/122717, in 7.17.x, we should add a critical deprecation level for  `monitoring.ui.elasticsearch.username` when using the `elastic` user because it's no longer supported in 8.0

[2022-03-24 17:12] elasticmachine commented on #128519
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-24 17:19] MelKeo commented on #125193
@cristina-eleonora @lewissmithtong I've put together the survey questionnaire. Here is [the preview link](https://elastic.eu.qualtrics.com/jfe/preview/SV_eEVIYCSUJv2Zohg?Q_CHL=preview&Q_SurveyVersionID=current) for your review. Any questions, please let me know.

As discussed earlier in the meeting, I will ping the MADS team to get a date for the send and also set up test emails to be sent to the

[2022-03-24 17:20] afharo commented on #123720
😢 ACK! Thanks for removing the dependency. I think I may be able to take another look next week

[2022-03-24 17:31] mostlyjason commented on #125534
@joshdover yeah it'd be mainly be useful when the user is adding their first agents, so mainly in the first time data onboarding flow, when the user is looking for confirmation that its successfully connected. It'd be less useful once they have many agents sending data, but the flyout is less likely to be used in this scenario because they'd probably use an automated solution to deploy many agents

[2022-03-24 17:35] mgiota opened #128520 "[Inventory rule type] Custom metric results in error"
### Summary
In 8.1.1 inventory rule type results into an error when user selects a `Custom metric` (see Screenshot below)

### Steps to reproduce
- Under Stack Management > Rules and Connectors create an inventory rule type
- In the `When` condition select a Custom metric
- Select `Server log` as connector type
- You should get following ```[ERROR][plugins.alerting] Executing Rule default:metrics.

[2022-03-24 17:38] neptunian opened #128521 "[Stack Monitoring] Add warning deprecation for "monitoring.ui.elasticsearch.username: kibana" setting"
Add `monitoring.ui.elasticsearch.username` when using the `kibana` user as deprecated because it will [no longer be supported in the future](https://github.com/elastic/kibana/issues/81680).  This can be backported into 7.17 and 8.0+

[2022-03-24 17:42] joshdover opened #128522 "[Fleet] Remove EPR container from FTR tests"
As per discussion in https://github.com/elastic/kibana/issues/116591#issuecomment-1076327125, we believe we no longer need the EPR container for running functional tests due to the fact that we are now bundling all packages that we have tests for in the Kibana suite.

We should remove this from all test suites and rely on the bundled packages instead.

[2022-03-24 17:42] elasticmachine commented on #128522
Pinging @elastic/fleet (Team:Fleet)

[2022-03-24 17:42] joshdover commented on #116591
This is a good point, if the build fails (which happens quite early in the CI process), then retrying is much less impactful since you don't have to wait 2 hours to find that a single test failed due to flakiness.

+1 on experimenting with removing the dockerized EPR altogether. I'll open a new issue.

[2022-03-24 17:42] #116591 closed

[2022-03-24 17:47] yctercero commented on #127918
This PR addresses the to do from the first round of testing. It updates the 8.1 bulk routes to include the action migration logic.

https://github.com/elastic/kibana/pull/128518

[2022-03-24 17:49] nchaulet opened #128524 "[Fleet] Add beta badge to the logstash output"
## Description

Add beta badge and help text to indicate that the logstash output is released as a beta feature.

![image](https://user-images.githubusercontent.com/1336873/160407784-b8dde98e-77e0-4bb9-bf75-ee7175f3bf75.png)

[2022-03-24 17:49] elasticmachine commented on #128524
Pinging @elastic/fleet (Team:Fleet)

[2022-03-24 18:11] jbudz opened #128526 "Canvas shareable runtime has doubled in size"
From 7.17 to 8.2 `x-pack/plugins/canvas/shareable_runtime/build/kbn_canvas.js` has increased from 3.54mb to 7.73mb.

7.17: https://buildkite.com/elastic/kibana-hourly/builds/13538#980ced99-ed92-4c99-8723-f01fdca09c9c/304-387
8.2: https://buildkite.com/elastic/kibana-hourly/builds/13537#6ad915a4-a656-4874-92a9-b54709a30843/517-595

I haven't labeled this as a bug because I'm not sure how many new f

[2022-03-24 18:11] elasticmachine commented on #128526
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-24 18:15] #82020 closed

[2022-03-24 18:52] #128282 closed

[2022-03-24 18:53] #127623 closed

[2022-03-24 19:08] #98956 closed

[2022-03-24 19:22] jb1b84 commented on #121545
For my own sanity, summarizing some different conversations and other ways of explaining this issue here in case it's helpful:

Think of it as a global relative time range, or a hierarchy of how time selection works. Using Joe's sample dashboard above, if we were to select "previous 30 days" the gauges would now refer to the last day of those 30 days and the time series would still be 15 minutes.

[2022-03-24 19:42] #126317 closed

[2022-03-24 19:48] elasticmachine commented on #128512
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 19:54] tsullivan commented on #128352
This looks to be a bug where reporting handles the numeric value by parsing it to a numeric type. It's my understanding that Discover is correctly showing the raw value, but Reporting is converting the value to a numeric type. Reporting's behavior is incorrect because JavaScript isn't able to handle number this high:
![image](https://user-images.githubusercontent.com/908371/159997985-1ef82860-bd55

[2022-03-24 19:57] tsullivan commented on #128352
related: https://github.com/elastic/kibana/issues/40183

[2022-03-24 19:57] EricDavisX opened #128532 "[ResponseOps][Cases] I cannot configure/send-test to Swimlane connector from Cases UI"
**Kibana version:**
I'm testing from 8.2.0-SNAPSHOT on cloud-prod using the cloud first testing region.  I also tested from cloud-prod with 8.1.0 Ga and 7.16.3 and all were the same.  So if it is a bug, it seems not new-ish.

**Describe the bug:**
I cannot successfully finish setting up the connector because the 'comments' field says it has no choices to pick from, so the connector-setup can't fin

[2022-03-24 19:57] elasticmachine commented on #128532
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 19:59] stacey-gammon commented on #94912
If the `search:timeout` is hit, does it cancel the ES query? I'm trying to think of any reason users would want to keep using it. Maybe we can consider removing this setting as not a breaking change if it doesn't serve a purpose anymore.

[2022-03-24 20:01] nreese opened #128534 "Display vector tile API response in Console"
Running the command `get kibana_sample_data_logs/_mvt/geo.coordinates/0/0/0` in Console returns "Cannot preview binary data.". This makes it difficult to debug, demo, and experiment the [vector tile API](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-vector-tile-api.html).

Instead, Console should use VectorTile from `@mapbox/vector-tile` to display the contents of the vecto

[2022-03-24 20:01] elasticmachine commented on #128534
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-24 20:04] Heenawter opened #128535 "[Controls] [Dashboard] New controls toolbar button breaks UX on certain mobile views"
**Describe the bug:**
Once the mobile screen gets smaller than approximately `489px` across, the toolbar buttons start to expand past the other UX like so:

![image](https://user-images.githubusercontent.com/8698078/160000358-0d386e17-2481-4fd2-9b6f-30c1ae0f16cc.png)

To get around this, we should hide the "Add from library" text and leave only the folder icon when the screen gets small enough.

T

[2022-03-24 20:04] elasticmachine commented on #128535
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-24 20:06] ThomThomson commented on #128535
What about flex-wrapping the toolbar elements rather than truncating specific buttons? That could be a more ..._flexible_ solution, in case there are more toolbar elements added in the future.

[2022-03-24 20:07] Heenawter commented on #128535
That's a good point! @andreadelrio thoughts?

[2022-03-24 20:20] lukeskaggs44 opened #128538 "Active and Inactive Rules time"
**Describe the feature:**
A feature that would be handy is being able to set the timeframe that a rule runs.

**Describe a specific use case for the feature:**
For instance, if I want to create a rule that fires an alert when an employee logs into their work endpoint in between midnight and 4 AM, I could set the rule timeframe to be active within that interval.

[2022-03-24 20:22] Zacqary commented on #128301
@mdefazio I'm going to move this to https://github.com/elastic/kibana/issues/128302. Since the Snooze Dropdown is only present on the Rules List currently it would be quicker to just get it working there.

[2022-03-24 20:25] tsullivan commented on #128352
This issue is specific to when `discover:searchFieldsFromSource` is ON in Advanced Settings, and only affects CSV export.

[2022-03-24 20:35] nreese opened #128540 "[maps] add log tracing to 'api/maps/mvt/getTile' and 'api/maps/mvt/getGridTile' routes"
'api/maps/mvt/getTile' and 'api/maps/mvt/getGridTile' routes need trace logging to provide visibility into request/response to make it easier to debug failures in runtime environments.

[2022-03-24 20:35] elasticmachine commented on #128540
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-24 20:35] andreadelrio commented on #128535
++ for this more scalable approach.

[2022-03-24 20:49] Heenawter commented on #128535
Pulling in @elastic/shared-ux since I know they are working on making the toolbar component more general 👍

[2022-03-24 20:53] #125967 closed

[2022-03-24 20:56] spong opened #128542 "[Security Solution][Detections] Support error scenario for `rule_id` conflicts between pre-packaged rules"
### Summary
As outlined in https://github.com/elastic/kibana/issues/128202, there is the possibility of pre-packaged rules ending up with non-unique `rule_id`'s when being loaded from the fleet/integrations `security-rule` SO's. This error scenario is not currently handled and the 'first rule in wins' with no error to the user. This issue is for addressing this error scenario and raising it to the

[2022-03-24 20:56] elasticmachine commented on #128542
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-24 20:56] elasticmachine commented on #128542
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 21:07] #128512 closed

[2022-03-24 21:10] spong opened #128544 "[Security Solution][Detections] Update `ruleAssetType` Saved Object to include package information"
As discussed in https://github.com/elastic/kibana/issues/128202, in effort to aid in the disambiguation between duplicate `security-rule` SO's with the same `rule_id` (and also aiding in differentiating the same rule shipped in different packages intentionally, e.g. both the `Prebuilt Detection Rules` and `AWS Cloudtrail` package) we want to include the `sourcePackage` as a field in the `ruleAsset

[2022-03-24 21:10] elasticmachine commented on #128544
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-24 21:10] elasticmachine commented on #128544
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 21:11] kobelb commented on #128512
FWIW, out of the three options (I haven't thought of anything better), "run" is my preference.

[2022-03-24 21:20] liza-mae opened #128545 "Cloud chat_user 400 bad request error on cloud"
**Kibana version**: 8.1.1 Cloud

**Elasticsearch version**: 8.1.1 Cloud

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Cloud

**Description of the problem including expected versus actual behavior**:
I am seeing this error message in the kibana logs and in the browser console:
[code]

[code]

**Steps to reproduce**:
 1. Fresh install,

[2022-03-24 21:22] jen-huang commented on #128436
From #119527, Fleet no longer declares a list of fields on Kibana data views, therefore we do not prescriptively apply a format to package fields:

I believe the Beats documentation is old and does not take into account the above changes to how Kibana handles index pattern/data view fields now. Actually, the package spec does not even support `format` property for field definitions: https://github

[2022-03-24 21:25] elasticmachine commented on #128545
Pinging @elastic/kibana-core (Team:Core)

[2022-03-24 21:26] nickpeihl opened #128546 "[Maps] Add telemetry for Custom Icons"
Custom Icons in Maps is being added in #113144. We should collect telemetry for how this is used.

Suggestions:
 - number of maps with custom icons
 - number of layers using custom icons

[2022-03-24 21:26] elasticmachine commented on #128546
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-24 21:34] spong opened #128547 "[Security Solution][Detections] Add package tests for `rule_id` uniqueness and ensuring correct `sourcePackage`"
In discussion from https://github.com/elastic/kibana/issues/128544, in effort to cut down on packages shipping `security-rule` assets without a unique `rule_id`, it was decided to add a `sourcePackage` field for disambiguation (https://github.com/elastic/kibana/issues/128544), and to also add tests within the [integrations repo](https://github.com/elastic/integrations) to ensure any `security-rule

[2022-03-24 21:34] elasticmachine commented on #128547
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-24 21:41] elasticmachine commented on #128225
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-24 21:56] #125504 closed

[2022-03-24 22:19] banderror commented on #126723
cc @marshallmain @elastic/security-detections-response-alerts because this is rule executor-related stuff that relates both to the ML rule executor logic and rule monitoring. Perhaps it could be an example of collective ownership. I'll mark this ticket with your area label and add it to your backlog in addition to having it in ours

[2022-03-24 22:44] #126814 closed

[2022-03-24 22:52] spong commented on #128202
Alrighty! So from our discussion today we ended up with a mish-mash of the proposed solutions from above. To summarize though:

* We decided it was best to add another field to the `security-rule` SO like `sourcePackage` (https://github.com/elastic/kibana/issues/128544) and we would then use this field along with `rule_id` for managing conflicts within the Security Solution app itself. Prefixing p

[2022-03-24 23:16] banderror commented on #128349
@andyoulovexy Unfortunately right now it's not enough to install Endpoint Security. It should generate the first actual endpoint alert document, only after that it will create a concrete `logs-endpoint.alerts-*` index in Elasticsearch.

You could try to run https://github.com/ParrotSec/mimikatz on your host where you have Endpoint Security installed. This should force it to generate an alert, and

[2022-03-24 23:22] spong commented on #126723
Linking this issue other issue I recently opened to make Rule Execution errors more user friendly/actionable: https://github.com/elastic/kibana/issues/128340

[2022-03-24 23:24] #126395 closed

[2022-03-24 23:29] banderror commented on #127550
I'd like to ping the Alerts folks here because it seems to be an area of collective ownership (rule execution logic + rule monitoring). I'll add this ticket to both our backlogs.

@marshallmain @elastic/security-detections-response-alerts

[2022-03-24 23:42] mtojek commented on #128202
@spong

On behalf of the Integrations Ecosystem team responsible for tooling and Package Storage maintenance, I must decline this idea due to multiple reasons:

1. Think Big. We are preparing our Elastic package universe to reach 1kk packages. This won't be possible with the single mono-repo model and most likely packages will land in different repositories. It won't be physically possible to chec

[2022-03-24 23:52] banderror commented on #128340
Added it to several backlogs. cc @jethr0null @peluja1012 for visibility.

I think it's a great idea but it could take a lot of effort to figure out and formalize all the possible (or at least typical/well-known errors). Sounds like an epic maybe?

If we want to address this, maybe we could first try to figure out a better way of showing this particular error from the description. Also, it would be

[2022-03-25 00:54] #128332 closed

[2022-03-25 00:56] #121559 closed

[2022-03-25 01:01] andyoulovexy commented on #128349
I will use mimikaz in Windows,but what tools can used in linux?

[2022-03-25 01:50] kibanamachine commented on #128441
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13565#4aab1701-86c2-4589-aa28-1bc7ea18671e)

[2022-03-25 03:42] spong commented on #128202
There's what now?! 😮 🤯

Well then, that makes this whole thing a non-issue?? That code ensures `rule_id` is bound to `id` and 💥, we get our uniqueness check within fleet, at runtime, thanks to Kibana, no? Actually....after some testing it looks like integrations will just override any existing SO's with the same `id`....that doesn't seem good at all, which is why I presume you're starting to enfor

[2022-03-25 04:45] swarna-mallya commented on #25588
This will be a very important feature for business users and also the input controls drop down doesn't work as expected when the amount of data is huge.

[2022-03-25 08:48] kbalys opened #128554 "Custom URL in Kibana's Machine Learning Anomaly Detection does not take data feed query into consideration when navigating to Analytics - Discover"
**Kibana version:** 7.14 in the Cloud (Elasticsearch Service)

**Elasticsearch version:** 7.14

**Describe the bug:**
I have created Anomaly Detection job which uses Data Feed with a custom query. The query filters the data which is analyzed by Anomaly Detection Job. I have also created a Discover link which navigates from actual anomaly to the Discover tab. I am able to filter for some details be

[2022-03-25 08:52] mtojek commented on #128202
Package validation according to the spec format is a procedure executed statically without the requirement of running Elasticsearch or Kibana. The procedure needs ~1s to check if the package is valid and scales well.

I will pass this question to @joshdover, but add my few cents. Such logic wouldn't be a proper validation mechanism, but rather an object conflict prevention method. It can't be the

[2022-03-25 09:09] najmiehsa commented on #128447
@jen-huang I did the initial PR  for this issue. Can get feedback on that?
Maybe I can solve it the second time around.

[2022-03-25 09:37] flash1293 commented on #128396
I found the root cause of this - the terms agg is inherently imprecise if multiple shards are at play (which is the case for the test data here). As the "ip" field that's used in this test is high cardinality, the results are not really reliable and some internal change in Elasticsearch (didn't investigate that) tipped it over so different results were returned which failed the test. This is defin

[2022-03-25 09:50] flash1293 opened #128555 "[Lens] Do not use fields which can trigger terms precision issues in functional tests"
Like in https://github.com/elastic/kibana/issues/128396 , functional tests can suddenly start to fail (or be flaky) if the configured aggregations are running into precision issues (like it can happen with high cardinality fields and terms aggregations).

Our functional tests should avoid these cases to keep them stable.

All terms operations should be checked and switched to other fields if neces

[2022-03-25 09:50] elasticmachine commented on #128555
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-25 13:26] kibanamachine opened #128558 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_filter·ts - management index pattern filter should filter indexed fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13601#c4c04499-0118-4d30-bf7f-ecb31c92d7eb)

[2022-03-25 15:30] #126512 closed

[2022-03-25 15:54] kibanamachine opened #128561 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - unsupported_cluster_routing_allocation fails with a descriptive message when persistent replica allocation is not enabled"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13607#36715e77-cf75-4341-8ff6-17d906ca5d62)

[2022-03-25 15:54] elasticmachine commented on #128561
Pinging @elastic/kibana-core (Team:Core)

[2022-03-25 17:02] croensch opened #128563 "Elasticsearch Query DSL produces Internal Server Error and crashes UI"
**Kibana version: 7.4.0**

**Elasticsearch version: ?**

**Server OS version: ?**

**Browser version: Firefox latest**

**Browser OS version: Windows**

**Original install method (e.g. download page, yum, from source, etc.): -**

**Describe the bug:**
A filter to Discovery, written in Elasticsearch Query DSL, does produce an Internal Server Error and then can't be further edited. The UI breaks whe

[2022-03-25 18:21] brianseeders opened #128564 "Failing ES Promotion: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/show_underlying_data·ts - lens app show underlying data should show the open button for a compatible saved visualization with a lucene query"
**Chrome X-Pack UI Functional Tests**
**x-pack/test/functional/apps/lens/show_underlying_data.ts**

**lens app  show underlying data should show the open button for a compatible saved visualization with a lucene query**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to repr

[2022-03-25 18:23] brianseeders commented on #128564
Skipped

main: 2c4c2ac664ef4d5330861a50a32e2a269fd87d0b

[2022-03-25 18:32] brianseeders commented on #128564
I looked at the tests to try to understand what's going on here, but I'm not sure. The only commit/PR that looked possibly relevant to me in Elasticsearch is this one: https://github.com/elastic/elasticsearch/pull/85322

[2022-03-25 18:39] flash1293 commented on #128564
I just fixed one of these, I will address one this via https://github.com/elastic/kibana/issues/128555

[2022-03-25 20:22] elasticmachine commented on #128554
Pinging @elastic/ml-ui (:ml)

[2022-03-25 21:21] LeeDr opened #128566 "[FTR] problem with common_page formatTime()"
**Describe the bug:**

I'm currently looking at 7.17 branch but I expect this is the same across all current branches.

Some tests like `kibana/test/functional/apps/discover/_saved_queries.ts` are setting the default timepicker time like this;
[code]

And that works OK on CI where the machines are set to UTC (we also always set Kibana to use UTC) as seen in the log;
[code]

But when working on the

[2022-03-25 21:21] elasticmachine commented on #128566
Pinging @elastic/kibana-qa (Team:QA)

[2022-03-25 22:27] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13627#0a45f780-bf9f-4e08-a764-963c7fa3ca36)

[2022-03-25 22:32] ifrimere opened #128568 "Limited 'Filter' bar that only allows for deselection of enabled filters"
## Feature Description
Provide an embed filter option that only allows for selected filters to be displayed and cleared AND will not display the '+Add filters' capability.

## Feature Use Case
- We use Kibana Dashboard embeds in our client facing portal
- We want our clients to be able to interact with the visualizations and filter by selection of items **BUT**
- We **don't want** our clients to h

[2022-03-25 22:43] kibanamachine commented on #116561
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13628#18078893-49d6-4a9a-9536-4fef13e5da52)

[2022-03-26 00:34] kibanamachine commented on #128225
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13633#e5b41188-d887-4c95-bb4d-5db9b2a6f997)

[2022-03-26 01:26] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13638#aa7504cd-9718-40f7-90ca-2ba6dd7a13c0)

[2022-03-26 01:26] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13638#aa7504cd-9718-40f7-90ca-2ba6dd7a13c0)

[2022-03-26 01:26] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13638#aa7504cd-9718-40f7-90ca-2ba6dd7a13c0)

[2022-03-26 01:54] mzinboy commented on #123169
@kertal Hi. When does it patch?

[2022-03-26 04:27] kibanamachine opened #128569 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/elasticsearch/indices_mb·js - apis Monitoring Elasticsearch indices mb shard-relocation should summarize all indices with stats"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13645#efdfd18f-a68e-49a4-886c-7d504c48caef)

[2022-03-26 05:27] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13650#034b1815-7b24-4dd6-83d7-43f15f695728)

[2022-03-26 05:27] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13650#034b1815-7b24-4dd6-83d7-43f15f695728)

[2022-03-26 05:27] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13650#034b1815-7b24-4dd6-83d7-43f15f695728)

[2022-03-26 10:39] #125364 closed

[2022-03-26 12:29] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13670#43e43683-30d7-4ded-aa40-f149e1eda70d)

[2022-03-26 12:29] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13670#43e43683-30d7-4ded-aa40-f149e1eda70d)

[2022-03-26 12:29] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13670#43e43683-30d7-4ded-aa40-f149e1eda70d)

[2022-03-26 13:01] bacloud22 opened #128570 "`script-src` CSP error happinging on `security/investigate/timelines/template`"
### Kibana Version

8.1

### Java Version

_bundled_

### OS Version

Windows server 2019

### Problem Description

Some resources are not being loaded causing the whole page to crash with error (in logs)

### Steps to Reproduce

Chrome HAR file

https://file.io/sGILG1DJraEt

### Logs (if relevant)

Error on Firefox:

Error on Chrome

Error

### Chrome
![image](https://user-images.githubuserconten

[2022-03-26 13:25] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13673#18a5a30a-2f53-48e1-92d5-c82e2a590e57)

[2022-03-26 15:25] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13679#86254977-19f9-4dd8-ab4b-e123a285ebcd)

[2022-03-26 15:26] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13679#a5658d42-b2cc-4929-96b6-94f5352e6595)

[2022-03-26 15:26] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13679#a5658d42-b2cc-4929-96b6-94f5352e6595)

[2022-03-26 15:26] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13679#a5658d42-b2cc-4929-96b6-94f5352e6595)

[2022-03-26 22:26] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13699#e3a43960-143e-4dec-9ec6-3ff6661152ca)

[2022-03-26 22:33] kibanamachine commented on #128225
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13699#2bf04581-288a-45bf-874a-fc301bd6803e)

[2022-03-26 23:33] kibanamachine commented on #128225
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13704#4126920b-ec12-4200-87e6-79e54a46dd3d)

[2022-03-27 00:27] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13706#5bcd4a8f-66fa-479e-a1cc-9cb89218f64c)

[2022-03-27 00:27] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13706#5bcd4a8f-66fa-479e-a1cc-9cb89218f64c)

[2022-03-27 00:27] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13706#5bcd4a8f-66fa-479e-a1cc-9cb89218f64c)

[2022-03-27 04:25] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13718#c03c2695-66cf-46d0-a976-a1feceb4e367)

[2022-03-27 06:46] kibanamachine commented on #128441
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13725#e1689835-8742-4133-9a1c-aa4f8f2dd65e)

[2022-03-27 07:27] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13727#3679e4d0-a83f-4963-8e59-d7f8c6635f17)

[2022-03-27 07:27] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13727#3679e4d0-a83f-4963-8e59-d7f8c6635f17)

[2022-03-27 07:27] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13727#3679e4d0-a83f-4963-8e59-d7f8c6635f17)

[2022-03-27 08:26] kibanamachine commented on #127075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13730#2e2dff1b-d098-4f6f-8407-f61148d16ca5)

[2022-03-27 08:26] kibanamachine commented on #127076
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13730#2e2dff1b-d098-4f6f-8407-f61148d16ca5)

[2022-03-27 08:26] kibanamachine commented on #127077
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13730#2e2dff1b-d098-4f6f-8407-f61148d16ca5)

[2022-03-27 10:54] kibanamachine commented on #122502
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13737#c033669c-d81a-42be-b17c-7cb5f08b42fc)

[2022-03-27 17:24] kibanamachine commented on #128558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13757#45a23f66-dd83-49a1-a6c8-e5efc1df570b)

[2022-03-27 17:39] jbudz commented on #127076
skipped

main: 805d7cf87db6a3e3095126af0b434a3d876e7533

[2022-03-27 17:43] jbudz commented on #122502
skipped

7.17: c89029209d83f870870b8f34b0101eba5c11f565

[2022-03-27 17:45] Aqualie commented on #125686
Upgraded to 8.1.1 and I'm seeing this error message now

[2022-03-27 17:47] jbudz commented on #128558
skipped

main: 48783a08372a120ed8688d41d431dd363174965c

[2022-03-27 17:49] elasticmachine commented on #128558
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-27 17:52] jbudz commented on #128225
skipped

main: ca81ce870710c1ec31f2bb6736ce426be95b90b4

[2022-03-27 22:51] michaelhyatt commented on #13649
@mattkime I am still trying to get a hold of them to confirm, but from memory they were using import saved objects option in Kibana.

[2022-03-28 01:24] dominiqueclarke commented on #128475
This seems implied by emulating in desktop as default, but I'm assuming this is a browser monitor?

[2022-03-28 01:31] dominiqueclarke commented on #128300
Health indicator
--
What data is the health indicator based on? The ticket says monitor configuration health. Is this health determined based on whether the monitor has a valid configuration?

Managed as code icon
--
There isn't an example of this in the mock up. Could we get an example from @hbharding

Searching by step name
--
Searching by step name may not be tricky, unless we have a notion of

[2022-03-28 01:35] dominiqueclarke commented on #128473
Looks beautiful!

Consent disclaimer
--
I'd be interested in hearing from @hbharding on the best way to incorporate this disclaimer

[2022-03-28 02:56] matschaffer commented on #107648
@tylersmalley I'd love to hear more as it shapes up. Let me know once there are new issues to follow.

[2022-03-28 04:26] samratbhadra-qasource commented on #128360
Hi @joshdover,
We have validated this issue on the latest **8.2.0-SNAPSHOT** build and observed that the issue is **fixed**. Please find below the testing details:

- User is now able to create enrollment token under Enrollment tokens tab.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/160068072-4a864d3f-bfb4-48bc-9836-8c49b37ad1ed.mp4

**Build Details:**
VERSION: 8.2.0

[2022-03-28 04:26] #128360 closed

[2022-03-28 06:10] mtojek commented on #127835
Technically it's possible, but this is highly discouraged as you may break the setup for people who have already installed those. We agree to remove packages if they are so broken that nobody can even install them. Currently, the process requires manually removing packages from the Package Storage repository.

[2022-03-28 06:18] amolnater-qasource commented on #128341
Hi Team
We have revalidated this issue on latest 8.2 Snapshot and found it **not reproducible** now.
- Correct agent and agent policy count is shown in Edit Output confirmation modal under Fleet>Settings tab.

**Build details:**
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a

**Screenshot:**
![12](https://user-images.githubusercontent.com/77374876/160337305-bd594a21-bdd5-4da6-b84a-f

[2022-03-28 06:18] #128341 closed

[2022-03-28 06:19] amolnater-qasource commented on #125362
Hi @nchaulet
We have revalidated this issue on 8.2 Snapshot and found it **fixed**.
Detailed observations are shared on related PR at https://github.com/elastic/kibana/pull/127070#issuecomment-1080244959

Hence marking this as QA: Validated.
Thanks

[2022-03-28 06:31] HistoryGift commented on #61234
I meet the same problem, My OS is RHEL7.9 and I'm sure that nothing is using port 5601, I get the same error when change the port in kibana,yml to 5602. I has closed the firewalld and iptables.

[2022-03-28 06:36] #124807 closed

[2022-03-28 06:38] matschaffer commented on #127209
@neptunian @jasonrhodes after trying out the logstash version of this issue (https://github.com/elastic/kibana/issues/127808) I'm thinking we should tackle those stretch goals as their own issues.

https://github.com/elastic/kibana/issues/109890 is already an outstanding issue in that space.

If we can first build some tooling (like https://github.com/elastic/kibana/issues/123280) around checking

[2022-03-28 06:52] deepikakeshav-qasource opened #128577 "[Security Solution] Count is different in user card and user table under users page."
**Describe the bug**
Count is different in user card and user table under users page.

**Build Details:**
[code]

**preconditions**
1. Multiple users should be generated
2. Users flags should added

**Steps to Reproduce**
1. Navigate to User page under security
2. Scroll down the page.
3. Observe that count is different in user card and user table under users page.

**Actual Result**
Count is diff

[2022-03-28 06:52] elasticmachine commented on #128577
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 07:05] ruflin commented on #128209
It always felt natural to separate data stream settings from mappings but unfortunately there are 2 types of settings I think. Some settings like analyzer belong to the mappings and others like shards change are more related to data streams / indices setting itself. I wonder if for some users this could be a breaking change. My understanding is that both @mappings and @settings should not have bee

[2022-03-28 07:05] dmlemeshko commented on #123737
@lukeelmers
Sorry for late response, I will definitely help as much as I can. To check the impact I need either a `branch` I can use for testing (and compare with `main`) or required Kibana configuration changes I need to apply.

Please just open an [issue](https://github.com/elastic/kibana-load-testing/issues/new) with details and will try to do it asap.

[2022-03-28 07:32] mshustov commented on #128061
Having #128324 merged, we can remove the `blocker` status. With the PR merged, the size of the consumed RSS memory was reduced by almost half, event loop delay improved by nearly 2.5 times.
[A week dashboard](https://kibana-ci-apm.kb.us-central1.gcp.cloud.es.io:9243/goto/3bf06430-ae66-11ec-94a3-2d0a38b40710)
![2022-03-28_09-20-02](https://user-images.githubusercontent.com/3198181/160346510-ae5bb66

[2022-03-28 07:41] pgayvallet opened #128578 "migrations fail with "this action would add [2] shards, but this cluster currently has [X]/[Y] maximum normal shards open""
Part of https://github.com/elastic/kibana/issues/129016

We've observed some Kibana upgrades to `7.17+` can fail with:

[code]

Even if the root issue is the state of the ES cluster (), this issue is here to track the problem and discuss the potential solutions or workaround, either from within Kibana or upstream.

Potential solutions could be:
- Have (Kibana?) system indices not count in the clus

[2022-03-28 07:41] elasticmachine commented on #128578
Pinging @elastic/kibana-core (Team:Core)

[2022-03-28 07:45] deepikakeshav-qasource opened #128580 "[Security Solution] Position of new landing page "Getting Started" is different in kibana navigation and security navigation"
**Describe the bug**
Position of new landing page "Getting Started" is different in kibana navigation and security navigation

**Build Details:**
[code]

**preconditions**
N/A

**Steps to Reproduce**
1. Navigate to Kibana navigation
2. Observe that "Getting Started" page is displayed after endpoint
3. Click on "Getting started" or any other page under security.
4. Observe that "Getting Started" pa

[2022-03-28 07:45] elasticmachine commented on #128580
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 07:47] flash1293 opened #128581 "Debounce data view index pattern input"
The index pattern input in the data view creation dialog is directly reacting to every input change:
* Re-render whole flyout
* Send request to fetch matching index patterns

All the work happening while the user is typing is causing the input to feel sluggish because the characters don't appear right away as frames are skipped. The following performance profile is not throttled on a i9 Macbook pr

[2022-03-28 07:47] elasticmachine commented on #128581
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-28 07:53] flash1293 opened #128582 "Dashboard short url embed link renders chrome"
**Kibana version:** main

**Describe the bug:** When copying the embed code from the share menu on dashboard, the chrome is still rendered

**Steps to reproduce:**
1. Go to dashboard
2. OPen share > embed code
3. Keep using snapshot
4. Use short url
5. Copy url (looks like this `http://localhost:5901/jwp/app/r/s/rapid-quiet-dawn`)
6. Open in new tab
7. Chrome is rendered

**Expected behavior:**
Ch

[2022-03-28 07:53] elasticmachine commented on #128582
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-28 07:57] katrin-freihofner commented on #128449
@mgiota I'm sorry, this is a mistake in the design. I would recommend removing the second refresh button (the small one with the icon)

[2022-03-28 08:04] pgayvallet opened #128584 "Migration failures happening only on some indices add additional manual steps to the rollback process"
At the moment, all Kibana system indices' migrations are totally isolated, and don't share any information or state with the migration of the other indices.

However, in case of failure of only of some indices, this leads to additional steps to properly rollback.

Let's take the example of a migration from `7.16.1` to `8.0.0`.

Before the migration, we have the following:

### Pre-migration state

[2022-03-28 08:04] elasticmachine commented on #128584
Pinging @elastic/kibana-core (Team:Core)

[2022-03-28 08:09] elasticmachine commented on #128577
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-28 08:11] pgayvallet opened #128585 "migrations fail with "Timeout waiting for the status of the [.kibana_{VERSION}_reindex_temp] index to become 'yellow'""
Part of https://github.com/elastic/kibana/issues/129016

We've observed some Kibana upgrades to `7.17+` can fail with:

[code]

Note that it’s outside of the control of Kibana if indices aren’t allocated, so this issue is mostly to track the problem.

We know of two potential root causes:
- Cluster hit the low watermark for disk usage [#116616](https://github.com/elastic/kibana/issues/116616)
- Cl

[2022-03-28 08:14] machadoum commented on #128577
We expect to see more users in total than users with log-in events most of the time. Because this behaviour is confusing, we are introducing a new tab that really shows all users:
https://github.com/elastic/kibana/pull/128375

[2022-03-28 08:18] machadoum commented on #110930
Closed by https://github.com/elastic/kibana/pull/111116

[2022-03-28 08:18] #110930 closed

[2022-03-28 08:18] juliaElastic commented on #128447
@najmiehsa The issue was fixed in Edit Output form, but has to be fixed in `Fleet server hosts` flyout too: https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/use_fleet_server_host_form.tsx#L66

[2022-03-28 08:24] karanverma-qasource opened #128587 "[Security Solution] User's risk navigation is accessible through Global search when 'riskyUsersEnabled' flag is disabled."
**Describe the bug:**
[Security Solution] User's risk navigation is accessible through Global search when 'riskyUsersEnabled' flag is disabled.

**Build Details:**

[code]
**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce:**

1. 'riskyUsersEnabled' flag should be disabled under kibana.yml file.
2.  Navigate to Kibana environment.

[2022-03-28 08:31] flash1293 commented on #95136
This is happening because it's checking for the string `'0'`, but in some versions of TSVB it was possible to enter an empty string in there as well (`''`)

https://github.com/elastic/kibana/blob/61ef26d5119569d342292848268fe9b883c80005/src/plugins/vis_types/timeseries/public/application/components/vis_types/timeseries/vis.js#L88

Can be fixed by changing the logic to handle empty string and zero

[2022-03-28 09:05] muskangulati-qasource opened #128588 "[Security Solution] The 'Add new entry' button is different for Blocklists"
**Description:**
The 'Add new entry' button is different for Blocklists

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints tab under Security from the left hand side navigation.
2. Go to  all artifacts page turn by turn
3. Add entry for each artifact and then observe the button for adding ne

[2022-03-28 09:05] elasticmachine commented on #128588
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-28 09:05] elasticmachine commented on #128588
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 09:06] kyungeunni commented on #128300
## Monitors created by Suite
- Will users be able to edit or delete suites from this monitor management page?
- Will there be any additional information displayed on the monitor row when it is created by a particular suite?

[2022-03-28 09:12] tarek-vader opened #128589 "nano date DD doesnt show the day number, it shows always one"
**elastic search versoin v 8.0.1:**

i am using elk docker-compose with the latest version.
in kibana discover the field rtimestamp is showing always 01 as day in the date, instead of 14, the type of this field is datenano seconds.

![image](https://user-images.githubusercontent.com/35951996/160365446-8213997a-e2a0-4596-b465-344abb4dcc43.png)
in the dev console showing the right day of date:
![ima

[2022-03-28 09:15] tarek-vader commented on #128589
sample log could be like:
03-14 18:30:23.382 xxxxxx

[2022-03-28 09:19] muskangulati-qasource opened #128592 "[Security Solution] The 'Add' button is enabled for Blocklist even when there is no data added on 'per policy' condition"
**Description:**
The 'Add' button is enabled for Blocklist even when there is no data added on 'per policy' condition

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints tab under Security from the left hand side navigation.
2. Go to  all artifacts page turn by turn
3. Click on 'Add' button f

[2022-03-28 09:19] elasticmachine commented on #128592
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 09:19] elasticmachine commented on #128592
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-28 09:26] pgayvallet opened #128593 "SavedObjects migration: implement event-based telemetry"
To improve the observability of our migration process and its outcome, we should aim at implementing EBT into it.

Things to think about regarding EBT:
- The SO migration runs at the beginning of core's `start` phase. We need to make sure it will work with the way EBT is currently designed to work
- A migration failure will cause the Kibana process to terminate. We would need to make sure that the

[2022-03-28 09:26] elasticmachine commented on #128593
Pinging @elastic/kibana-core (Team:Core)

[2022-03-28 09:36] Dosant commented on #94912
Yes

We've just recently discussed this! We plan to take a look a the usage and decide if deprecate or remove cc @lukasolson @sixstringcode

[2022-03-28 09:37] drewpost opened #128594 "[Uptime - Synthetics Public Beta] - Opt in Mechanism"
- Monitor Management link is visible for all customers running 8.2 in Elastic Cloud
- When users open this who have not been enabled on the service for the beta, they are presented with an interstitial page that says:

The Elastic synthetics team are excited to announce the opening of our managed synthetics testing infrastructure as a service option. If you would like to get access to our latest c

[2022-03-28 09:37] elasticmachine commented on #128594
Pinging @elastic/uptime (Team:uptime)

[2022-03-28 09:37] paulb-elastic commented on #128300
To clarify, the spec specifies that clicking the name should go to the edit page for that monitor, yet there is an edit (pencil) icon, which presumably does that.

There is also a requirement to _"View monitor details (link to Monitor Details page for that monitor)"_ but I don't see this in the mock up.  Should clicking on the name do this instead (as that's likely the primary action, rather than

[2022-03-28 09:46] paulb-elastic commented on #128473
Similar to @dominiqueclarke's question [here](https://github.com/elastic/kibana/issues/128475#issuecomment-1080085545), is the single URL option going to generate the script and really be an inline type, or is it something _different_ more like what's referred to in https://github.com/elastic/uptime/issues/426?

[2022-03-28 10:16] flash1293 commented on #122807
I tried to reproduce this issue but I can't make it happen locally. It seems to be related to this line of code: https://github.com/vega/vega/blob/825bfaba6ccfe3306183df22b8c955a07bb30714/packages/vega-geo/src/util/contours.js#L173

This hints at an issue with the width and height signals of vega not being 100% reliable which has been a problem before. Maybe a recent vega upgrade fixed this issue.

[2022-03-28 10:16] #122807 closed

[2022-03-28 10:19] muskangulati-qasource opened #128597 "[Security Solution] The lens card for visualization is not consistent for all the cards under hosts tab and Network tab"
**Description:**
The lens card for visualization is not consistent for all the cards under hosts tab and Network tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Hosts tab under Security from the left hand side navigation.
2. Click on three dots in front of the hosts card
3. Select the option 'O

[2022-03-28 10:19] elasticmachine commented on #128597
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 10:27] #128162 closed

[2022-03-28 10:35] afgomez commented on #127999
To clarify:

In this state, we want to track when the user clicks the "Guided setup" button _only if they have dismissed the progressbar_, or just clicks in the button in general?

[2022-03-28 10:37] danielkhan commented on #127999
Correct. The question behind it is: how many are dismissing it at first but going back to it then anyways. If 99% of users dismiss it, this could inform further iterations.

[2022-03-28 10:40] muskangulati-qasource commented on #128597
@karanbirsingh-qasource please review!

[2022-03-28 10:58] elasticmachine commented on #128568
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-28 11:00] elasticmachine commented on #128504
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-28 11:02] elasticmachine commented on #128504
Pinging @elastic/datavis (Feature:ElasticCharts)

[2022-03-28 11:02] samratbhadra-qasource opened #128599 "[Fleet]: Able to create enrollment tokens without selecting any policy."
**Describe the bug:**
The `create enrollment token` button gets enable without selecting any policy and while user click on create enrollment token button the `Enrollment token created` toast message is displayed.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a
ARTIFACT: https://snapshots.elastic.co/8.2.0-63942b4d/summary-8.2.0-SNAPSHOT.htm

[2022-03-28 11:02] elasticmachine commented on #128599
Pinging @elastic/fleet (Team:Fleet)

[2022-03-28 11:03] samratbhadra-qasource commented on #128599
@manishgupta-qasource Please review.

[2022-03-28 11:09] karanverma-qasource opened #128601 "[Security Solution] Delete button hover should be "Red" under Cases tab like in other tabs under application."
**Describe the bug:**
Delete button hover should be "Red" under Cases tab like in other tabs under application.

**Build Details:**
[code]
**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Cases should be present under cases tab.

**Steps to Reproduce:**

1. Navigate to Kibana --> Cases.
2. Hover on the Delete button of any one case record.

**Expe

[2022-03-28 11:09] elasticmachine commented on #128601
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 11:13] elasticmachine commented on #128263
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-28 11:14] stratoula commented on #128263
@flash1293 do you know what exactly is this build for? (workaround-for-visualize-default-archive)

[2022-03-28 11:18] samratbhadra-qasource commented on #120750
Hi @jen-huang,
While performing exploratory on the latest **8.2.0-snapshot** build we have observed that the issue still **exist**. Please find below the testing details:

-  Default Namespace field enable on Elastic Cloud agent policy.

**Screenshot:**
![Screenshot (216)](https://user-images.githubusercontent.com/84007952/160384294-0223d679-cca5-4eee-b2ea-02130a4c687d.png)

**Build Details:**
VER

[2022-03-28 11:19] stratoula commented on #128504
cc @markov00 this doesn't happen all the time. For example:
Check here the 21th
<img width="1447" alt="image" src="https://user-images.githubusercontent.com/17003240/160387153-319a7d7c-cda1-477c-9ce0-50becad3d62e.png">

and the same chart for a smaller timespan, displays the label correctly (21st of March)
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/17003240/160387

[2022-03-28 11:25] elasticmachine commented on #128098
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-28 11:31] karanbirsingh-qasource opened #128604 "[Security Solution]Global Deep Link search not present for Users/Events & Users/External alerts"
**Describe the bug**
Global Deep Link search not present for Users/Events & Users/External alerts

**Build Details**

[code]

**Steps**
- Login to Kibana
- Observed that Global Deep Link search not present for Users/Events & Users/External alerts

**Screen-Shoot**

- `Users/Events`
![image](https://user-images.githubusercontent.com/59917825/160388829-1121386d-2729-4f56-aa1d-87fa051d758d.png)

- `U

[2022-03-28 11:31] elasticmachine commented on #128604
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 11:43] #126688 closed

[2022-03-28 11:43] elasticmachine commented on #128263
Pinging @elastic/kibana-qa (Team:QA)

[2022-03-28 11:43] flash1293 commented on #128263
@elastic/kibana-qa Is this something you are working on right now? Can you provide some context?

[2022-03-28 11:46] manishgupta-qasource commented on #128604
Reviewed & assigned to @MadameSheema

[2022-03-28 11:47] Bamieh commented on #128578
do you think this warning should come from Kibana's side or ES's?

---

IMO this would be the most feasible and impactful solution from the ones proposed.

We can also provide a short link on how to fix the issue, similar to the link we have when the users hit performance issues in Kibana:

[code]

[2022-03-28 11:47] manishgupta-qasource commented on #128599
Secondary review for this ticket is Done

[2022-03-28 11:48] manishgupta-qasource commented on #128588
Reviewed & assigned to @kevinlog

[2022-03-28 11:48] manishgupta-qasource commented on #128592
Reviewed & assigned to @kevinlog

[2022-03-28 12:03] markov00 commented on #128504
@ifrimere can you please post exactly the Kibana version you are using? and also the installation method
thanks

[2022-03-28 12:03] markov00 commented on #128504
@ifrimere can you please post exactly the Kibana version you are using? and also the installation method
thanks

[2022-03-28 12:06] #127808 closed

[2022-03-28 12:09] pgayvallet commented on #56487
This has been implemented, I'll go ahead and close this.

[2022-03-28 12:09] #56487 closed

[2022-03-28 12:21] formgeist opened #128612 "[APM] Support Kibana global search results by adding services and service groups to the results"
# Summary

We currently only support results in the Kibana global search experience by adding our pages. But we can easily have links to individual services or service groups lists by adding these to the search result registry.

<img width="600" alt="CleanShot 2022-03-28 at 14 16 40@2x" src="https://user-images.githubusercontent.com/4104278/160396350-a6d870ec-b008-4e46-b890-3f8b865166f0.png">

<im

[2022-03-28 12:21] elasticmachine commented on #128612
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 12:26] formgeist opened #128613 "[APM] Bug: Service group "All services" shows "Services" in the page title"
**Kibana version:**

8.2.0-SNAPSHOT

**Describe the bug:**

The dynamic service group "All services" shows "Services" in the page title although the group name is All services. This is also confusing when looking at the search result in the global search bar in Kibana.

<img width="704" alt="CleanShot 2022-03-28 at 14 17 06@2x" src="https://user-images.githubusercontent.com/4104278/160397127-3e071

[2022-03-28 12:26] elasticmachine commented on #128613
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 12:37] #128452 closed

[2022-03-28 12:39] formgeist commented on #125872
@cyrille-leclerc I've not been able to reproduce this issue. Is that the actual paste? Which browser and OS are you using?

![CleanShot 2022-03-28 at 14 35 59](https://user-images.githubusercontent.com/4104278/160399148-0cd8caab-f334-4a66-aa97-8d89ef8ab8fd.gif)

I noticed that when I copy and paste into another text area, it does add a new line. I didn't have a problem doing this into the KQL bar

[2022-03-28 12:39] elasticmachine commented on #128604
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-28 12:39] #127990 closed

[2022-03-28 12:41] elasticmachine commented on #128601
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-28 12:41] elasticmachine commented on #128601
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-28 12:42] elasticmachine commented on #128597
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-28 12:47] elasticmachine commented on #128580
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-28 12:57] EricDavisX commented on #128532
Christos is helping me understand the design intention of the feature - there may yet be an enhancement we can put in here, but this isn't a bug just an incorrectly configured Swimlane application schema (that I set up).

He had pointed me to https://swimlane.com/knowledge-center/docs/

From my side, I don’t know if this is worth investing more into, but maybe?  Maybe it is if we can generalize a

[2022-03-28 13:03] pgayvallet commented on #128545
Reassigning to @elastic/shared-ux as they implemented the chat feature.

[2022-03-28 13:05] karanbirsingh-qasource opened #128616 "[Security Solution]Host/Authentication tab can be shown from the Global Search"
**Describe the bug**
Host/Authentication tab can be shown from the Global Search

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Host section under Explore Group
- Look for Authentication tab it will not be present
- Now search for Authentication in global search
- Observed that Global search is available for Security/Explore/Host/Authentication and more to add on clicking the

[2022-03-28 13:13] alexfrancoeur commented on #128545
Adding @dandreaj @rarichard and @osmanis for visibility.

[2022-03-28 13:14] manishgupta-qasource commented on #128616
Reviewed & assigned to @MadameSheema

[2022-03-28 13:17] karanbirsingh-qasource opened #128620 "[Security Solution]Field modal can remains opened in cancel flow of Create Field"
**Describe the bug**
Field modal can remains opened in cancel flow of Create Field

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Click on Field
- Click on Create Field
- Now Click on Cancel
- Observed that first modal of field modal also got closed we can  keep this opened, just like the behavior we have for show top modal

**Screen-Cast**

- **Current Behavior*

[2022-03-28 13:17] elasticmachine commented on #128620
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 13:17] dannycroft opened #128621 "[APM] Add Telemety for Service Groups"
As part of 8.2 we released the service groups feature with basic on/off telemetry. As part of 8.3, we'd like to improve our telemetry to be able to track the following:

- [ ] # of groups created
- [ ] # of services per group
- [ ] KQL used for group definition
- [ ] # of services not in groups
- [ ] # of groups per non-default space

The above should give us enough information to help with furthe

[2022-03-28 13:17] elasticmachine commented on #128621
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 13:19] manishgupta-qasource commented on #128620
Reviewed & assigned to @MadameSheema

[2022-03-28 13:21] Dosant commented on #124538
It seems like currently Kibana has a sever bottleneck with simultaneous network requests (according to @lizozom's exploration).

Using @lizozom's testing script (TODO: link when available publicly) against the same Kibana instance:

### No bfetch, each search request is a separate network request:

| requests per minute | searches per minute | avg. response time |
|---------------------|----------

[2022-03-28 13:21] karanbirsingh-qasource commented on #127010
more to add, copy to clipboard behavior for agent.status is also unexpected . Currently it is copying the Agent.Id rahher than healthy text.

![image](https://user-images.githubusercontent.com/59917825/160406642-c749e9a5-a1d3-4f43-abba-68022f3d6430.png)

Actual : agent.status: "486f2091-d884-48f0-bbf0-6603569f1d94"
Expected : agent.status: "Healthy"

[2022-03-28 13:22] cnasikas commented on #128601
Thank you @karanverma-qasource! We will take care of it for 8.2.

[2022-03-28 13:22] pgayvallet commented on #101579
Ok, sorry I misunderstood the exact context / need here.

FWIW, technically that's incorrect. the `cloud` plugin is shipped **and** enabled on every distribution AFAIK.  The 'am I on cloud' logic is based on the presence of the `cloud.id` config property. But not a problem here, we can use this same logic to decide whether we should add the additional directives or not.

May be a bit tricky, becau

[2022-03-28 13:22] dannycroft opened #128623 "[APM] Investigate Dynamic Group Refresh for Service Groups"
Originally we had aimed for the service groups to be very dynamic. Meaning that a user could craft a Kibana query for each group and the number of services in that group would depend entirely on the results of that query for the given time range.

We decided to narrow the scope of the feature for the initial MVP to only allow a user to specifically select which services they would like to add from

[2022-03-28 13:23] elasticmachine commented on #128623
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 13:24] #128564 closed

[2022-03-28 13:24] kevinlog commented on #128465
@ferullo - this is interesting.  Would the Endpoint be able to fill in multiple instances of a tag appearing in the custom message?  I could potentially see some users wanting to add the filename in multiple places in a message.

[2022-03-28 13:26] kevinlog commented on #127946
@harshitgupta-qasource this is expected because if the user doesn't enter any value, the Endpoint will revert to a default which is the initial message you see in a new policy.

Closing this as "working as expected"

[2022-03-28 13:26] #127946 closed

[2022-03-28 13:27] smith opened #128624 "Log Stream component enhancements"
Various improvements have been requested by users of the log stream component:

* https://github.com/elastic/kibana/issues/111325
* Possible idea: optional histogram broken down by "field x" (e.g. severity)

TODO: Refine and add expected scope for 8.3

[2022-03-28 13:28] elasticmachine commented on #128624
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-28 13:29] #120807 closed

[2022-03-28 13:31] #127307 closed

[2022-03-28 13:34] deepikakeshav-qasource opened #128626 "[Security Solution] Inspect icon is not working in show top modal under alert page"
**Describe the bug**
Inspect icon is not working in show top modal under alert page

**Build Details:**
[code]

**preconditions**
1. Alerts should be exist

**Steps to Reproduce**
1. Navigate to alerts page
2. Hover on any alert and click on expand icon
3. Click on show top modal
4. Click on inspect icon
4. Observe that Inspect icon is not working in show top modal under alert page

**Actual Resul

[2022-03-28 13:34] elasticmachine commented on #128626
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-28 13:34] smith opened #128627 "Sort infrastructure inventory by health"
Allow sorting the infrastructure inventory by "health".

We need to define how we measure and report "health" for infrastructure nodes. We probably can assume this is based on a combination of alerts and other signals.

We also need to define how this will be visualized in the UI.

[2022-03-28 13:35] elasticmachine commented on #128627
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-28 13:35] najmiehsa commented on #128447
@juliaElastic Thank you for the feedback. I try to work on this one.

[2022-03-28 13:37] pgayvallet commented on #128461
Basically, when using 3rd party plugin, they need to be upgraded during each Kibana upgrade.

From https://www.elastic.co/guide/en/kibana/current/kibana-plugins.html:

[code]

Kibana will throw an error during plugin discovery if any 3rd party plugin does not match the exact current version (unless it uses the ~hacky~ internal `kibana` version):

https://github.com/elastic/kibana/blob/52ee65b8d5a7

[2022-03-28 13:47] #127012 closed

[2022-03-28 13:50] dannycroft opened #128628 "[APM] PoC Storage Usage Explorer"
We want to help customers with multiples services to better understand which services are producing significant amount of monitoring data. The proposal is to introduce the ability to analyze the storage footprint of each service and allow users to take more specific actions to contain their cost.

**For example:**

1. If customers see a lot of transactions documents collected by a particular servi

[2022-03-28 13:50] elasticmachine commented on #128628
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 13:53] nickofthyme commented on #128504
Shows January `3th` as well.

<img width="180" alt="image" src="https://user-images.githubusercontent.com/19007109/160412868-37e00b80-244f-48c3-a3ee-937d5d380b40.png">

[2022-03-28 13:55] EricDavisX opened #128629 "[Enh][ResponseOps][Connectors] We can enh the message shown and guide connectors setup better, when no values are available for a given connector field"
**Describe the feature:**
when setting up a connector, if the given values from the service application schema do not match the Kibana field, the list is filtered to not show them in Kibana... and a message 'There aren't any options available' is shown.  Can we enhance this to be more specific about the problem?  I admit the filtering is great, what we have helps users select an acceptable field f

[2022-03-28 13:55] elasticmachine commented on #128629
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-28 13:55] EricDavisX commented on #128532
this ticket is confirmed to be working as designed, closing it out.  you can follow the enh request in this ticket:
https://github.com/elastic/kibana/issues/128629

[2022-03-28 13:55] #128532 closed

[2022-03-28 13:57] elasticmachine commented on #128629
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-28 13:57] miltonhultgren commented on #128627
The Inventory view uses a composite aggregation to fetch all of the nodes (hosts). This means we would have to apply this kind of sorting on the client, meaning we have to pull all of the pages of the composite and then do the sorting (sound familiar?).

Alternatively, we can change the Inventory to use a terms aggregation which would allow us to sort in Elasticsearch but at the risk of missing a

[2022-03-28 13:57] #88402 closed

[2022-03-28 14:09] dgieselaar commented on #128306
Duplicate of https://github.com/elastic/kibana/issues/128306.

[2022-03-28 14:09] #128306 closed

[2022-03-28 14:10] wayneseymour commented on #128263
Yes that was me.
The context is we are trying to finish up the long list of archive migrations.
Lately, I've been unable to create archives on my local because once I load up an archive with missing references, it crashes my local server.
So, I added a hack to create the archive in ci and log them to the screen, so I can "copy-pasta" them to my local box.
I run it in ci where loading up the archiv

[2022-03-28 14:10] wayneseymour commented on #128263
@flash1293 this hack is not actually merged into 7.17 at all.  I just needed a ci runner to use.

[2022-03-28 14:13] peteharverson commented on #124092
Closing issue as all usage of the deprecated `indexPatterns` APIs have now been updated with the `dataView` equivalents across  ml-ui owned plugins.

[2022-03-28 14:17] pgayvallet commented on #123737
@dmlemeshko I opened https://github.com/elastic/kibana-load-testing/issues/245. Please tell me if you need more information

[2022-03-28 14:20] stratoula commented on #128098
I could reproduce it on my chrome by emulating a mini ipad (resolution 768x1024).
@chandlerprall this seems to be a bug of the `EuiDraggable` component in small resolutions. Is it a know bug?

[2022-03-28 14:28] dgieselaar opened #128634 "[APM] Evaluate technical design of Service Groups"
We are currently working on a service groups feature, which is in technical preview: https://github.com/elastic/kibana/issues/122430.

For the technical preview, we've opted to take the following approach:

- when the user updates the query for a service group, fetch a list of service names and store them in a saved object
- when we query the service inventory or service maps, we first fetch the s

[2022-03-28 14:28] elasticmachine commented on #128634
Pinging @elastic/apm-ui (Team:apm)

[2022-03-28 14:33] Dosant opened #128635 "[EQLSearchStrategy] Clean up and align with other async strategies"
Similar like we did to low level [SQL strategy](https://github.com/elastic/kibana/issues/119280), we should clean up EQL search strategy and align it with other async strategies:

Ideally we should do it before wider adoption in Kibana (unified search).

Here is the list of possible alignment things:

- [ ] Is it Required to return both headers + body in the response? https://github.com/elastic/ki

[2022-03-28 14:33] elasticmachine commented on #128635
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-28 14:38] shahzad31 opened #128636 "[Uptime] Monitor count difference in snapshot and monitor list on search"
When user performs some search via textbox in uptime, in some case it can happen that a filter will match a non summary document, in that case, count can be different, an example from edge-olbt cluster

<img width="1533" alt="image" src="https://user-images.githubusercontent.com/3505601/160422756-82b4efeb-1a95-4b28-8862-27cfd79d301d.png">

[2022-03-28 14:39] elasticmachine commented on #128636
Pinging @elastic/uptime (Team:uptime)

[2022-03-28 14:39] shahzad31 commented on #128636
This is because we have summary exists filter in snapshot count.
We will have to add same filter in monitor list as well.

[2022-03-28 14:43] thomasneirynck opened #128637 "[Maps] Show mvt request in inspector"
Show example POST-request for an mvt-tile in the Maps-inspector panel.

E.g. something like:

[code]

This request can then be copied and pasted in the dev-console.

[2022-03-28 14:46] miltonhultgren opened #128639 "[Infra Monitoring UI] Verify that pods and container detail page works"
While developing the metrics tables (which link to the node detail pages via the link-to routes) I noticed that the page for container details was empty and the page for pod details was throwing errors.

Since it was out of scope for my work and I suspected it could have been due to the data I had in my cluster I left it alone but it would be great to verify that those links/pages actually work.

[2022-03-28 14:46] elasticmachine commented on #128639
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-28 14:49] miltonhultgren opened #128642 "[Infra Monitoring UI] Add telemetry to metrics tables"
It would be good for us to know some basic stats for the tables, if they are loaded and interacted with at all.

[2022-03-28 14:51] miltonhultgren opened #128643 "[Infra Monitoring UI] Highlight that node metrics tables data might be inaccurate"
Whether we use a composite or a terms aggregation, we're not certain to catch all of the nodes in our query, meaning the sorting isn't performed on all nodes thus we might miss an important node in the table.

We should call this out to users when it happens (both aggregation types report back if documents were missed) so that they are aware.

[2022-03-28 14:51] miltonhultgren commented on #128643
@katefarrar This will need your attention to become ready :)

[2022-03-28 14:54] elasticmachine commented on #128626
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-28 14:59] miltonhultgren opened #128645 "[Infra Monitoring UI] Change node metrics tables to use a terms agg"
Currently the tables use a composite aggregation that asks for a single page of 10 000 items, the result is then sorted on the client side (via the Metrics Explorer API).
This means we risk missing a node that is higher relevance due to the shard ordering and that the browser has to do work that Elasticsearch could do for us.

Rather we should aim to have the tables run their own custom aggregatio

[2022-03-28 15:00] elasticmachine commented on #128645
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-28 15:02] mshustov opened #128646 "Attach a long event loop delay span to an APM transaction"
Since v7.14 [PR](https://github.com/elastic/kibana/pull/103615), Kibana reports a warning if the mean value of event loop delay exceeds `350ms`. It helps users spot a performance problem but not investigate it since the runtime context is absent.

To overcome the problem, we can borrow a few ideas from [this article] (https://www.ashbyhq.com/blog/engineering/detecting-event-loop-blockers).
TLDR: S

[2022-03-28 15:02] mshustov opened #128647 "Attach a long event loop delay "span" to an APM transaction"
Since v7.14 [PR](https://github.com/elastic/kibana/pull/103615), Kibana reports a warning if the mean value of event loop delay exceeds `350ms`. It helps users spot a performance problem but not investigate it since the runtime context is absent.

To overcome the problem, we can borrow a few ideas from [this article] (https://www.ashbyhq.com/blog/engineering/detecting-event-loop-blockers).
TLDR: S

[2022-03-28 15:02] elasticmachine commented on #128647
Pinging @elastic/kibana-core (Team:Core)

[2022-03-28 15:05] miltonhultgren opened #128649 "[Infra Monitoring UI] Reduce source loading overhead for "embedded" components"
While the main priority should be to make the resolution of source configuration/log views faster (by for example https://github.com/elastic/kibana/issues/127616) it might still be relevant to enabled consuming plugins to only load the source configuration once.

In the Logs/Metrics UIs we use constate to hoist the source provider context higher up in the React hierarchy so that it is only loaded

[2022-03-28 15:05] elasticmachine commented on #128649
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-28 15:07] #128524 closed

[2022-03-28 15:08] miltonhultgren commented on #128642
@elastic/unified-observability Jason mentioned you've done work in the telemetry area recently, do you have some up to date docs to link to?

[2022-03-28 15:10] ferullo commented on #128465
Yeah we can do that. This will affect all Endpoint versions. I'll fix in 7.17 and 8.2.

[2022-03-28 15:33] DJRickyB opened #128651 "[TSVB] "Steps" in line chart should be handled as a step function, not as a histogram"
In TSVB, for line charts, enabling steps should show the step occurring at the change point, not between data points.  Example from our elasticsearch-benchmarks.elastic.co data:

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/7477841/160433287-32d9a404-3b80-4f61-95a7-db1f3f22c0f3.png">

I would expect, for instance, the annotation and the step to overlap on 2022-03-15

[2022-03-28 15:46] #128566 closed

[2022-03-28 15:51] #123405 closed

[2022-03-28 15:51] #128197 closed

[2022-03-28 16:02] #127294 closed

[2022-03-28 16:04] elasticmachine commented on #128651
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-28 16:04] flash1293 commented on #128651
Should use `CURVE_STEP_AFTER` instead of `CURVE_STEP` here: https://github.com/elastic/kibana/blob/60500c20afbaa1707f52015c4722ae83f4a47473/src/plugins/vis_types/timeseries/public/application/visualizations/views/timeseries/utils/series_styles.js#L32

[2022-03-28 16:10] marshallmain commented on #128451
@dhurley14 @dplumlee it appears that in this test scenario we are able to detect whether or not the user has privileges to indices `CCS_23:*`. Is this expected behavior with our understanding of the `_has_privileges` API CCS limitations?

[2022-03-28 16:14] jportner opened #128661 "ES service account token can be ignored for custom clients"
_Note, this could be considered both Core and Security team issues, I'm tagging both teams for posterity but I think it's a bit more of a Core issue._

**Kibana version:**

7.15.0+

**Describe the bug:**

I noticed this bug while reviewing #128488.

The Stack Monitoring ES config schema extends from the Core ES config schema: https://github.com/elastic/kibana/blob/c4ccc002270482983f70ec572b11d7c51

[2022-03-28 16:14] elasticmachine commented on #128661
Pinging @elastic/kibana-core (Team:Core)

[2022-03-28 16:18] elasticmachine commented on #128661
Pinging @elastic/kibana-security (Team:Security)

[2022-03-28 16:30] paulb-elastic commented on #96122
Ping @hbharding

[2022-03-28 16:30] paulb-elastic commented on #96923
Ping @hbharding

[2022-03-28 16:32] #95708 closed

[2022-03-28 16:39] paulb-elastic commented on #121126
https://github.com/elastic/kibana/issues/128300

[2022-03-28 16:39] #121126 closed

[2022-03-28 16:51] ThomThomson opened #128664 "[Dashboard][Controls] Range Slider Control Additional Validation"
**Describe the feature:** Currently, it is possible to use the range slider control to get into a `no data` state on the dashboard. The slider validates itself based on min and max range, and not based on any actual document counts. This means that you can select a range which is technically between the min and max in the data, but that contains no documents at all.

With the validation system on,

[2022-03-28 16:51] elasticmachine commented on #128664
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-28 16:53] vitaliidm commented on #124715
@banderror , @XavierM

Wouldn't it be more developer-friendly to encapsulate building such a filter and expose a separate method that would accept ids: string[]?

We agreed on introducing `ids` parameter in `bulkEdit` method

We can extend it to passing the whole rule object, rather than only params. But in this case `validateMutatedParams` should still return only params. As everything, outside p

[2022-03-28 17:07] andreadelrio opened #128666 "[Discover] Add search to Field Statistics"
Currently, there is no way to filter/search for specific fields in the Field Statistics view in Discover. This represents an issue when the user has hundreds of fields. We should add a search/filtering UI element to Field Statistics. This issue was raised by one of our internal users.  This likely will have implications (i.e. potential conflict) with the existing search input that Discover has (wh

[2022-03-28 17:07] elasticmachine commented on #128666
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-28 17:11] paulb-elastic commented on #125124
Uptime to be replaced by Synthetics App, so closing

[2022-03-28 17:11] #125124 closed

[2022-03-28 17:48] paulb-elastic commented on #96122
These requirements to be considered in the new Synthetics App

[2022-03-28 17:48] paulb-elastic commented on #96122
(pushing to 8.4 to determine if anything outstanding from the Synthetics App implementation)

[2022-03-28 17:51] ferullo commented on #128465
👍 let's leave this open, I'll close it once Endpoint has merged changes for it. Assuming all goes well my expectation is this will be fixed in 7.17.3, 8.1.3, and 8.2.0 Endpoints.

[2022-03-28 17:57] #124501 closed

[2022-03-28 17:57] #126462 closed

[2022-03-28 17:58] shahzad31 commented on #128473
Will we handle alerting as part of monitor creation workflow?

[2022-03-28 18:15] #127448 closed

[2022-03-28 18:39] ymao1 opened #128672 "[RAM] Snooze UI should respect user roles"
[This PR](https://github.com/elastic/kibana/pull/128214), added an enabled/disabled/snooze switch to the Rules Management page. This switch does not respect user roles. As a user with read only access to the rule, I am able to click into the switch and try to disable/snooze a rule. The network request returns a 400 error and the badge just keeps spinning.

https://user-images.githubusercontent.com

[2022-03-28 18:39] elasticmachine commented on #128672
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-28 19:23] pgayvallet commented on #128661
I mean, we can totally add a `if clientConfig.serviceAccountToken then delete baseConfig.user_and_password` (and the opposite), but I'm a bit scare of both:
1. adding custom logic for this very specific scenario

and

3. that we may actually miss other similar edge case about our current config merging logic.

OTOH I'm not sure which alternatives we really have here, so maybe a custom/manual merge

[2022-03-28 19:27] kpatticha opened #128679 "[APM] Improve trace sample loading"
## Summary

Currently, when the user clicks back/forward buttons to navigate between the traces we hide the trace summary and the waterfall and we display a spinner.

https://user-images.githubusercontent.com/3369346/160471048-de93824d-3e9c-4cec-93d7-d75d4c5aa213.mov

The proposal in here https://github.com/elastic/kibana/issues/111343 is to display the existing trace summary and the waterfall vis

[2022-03-28 19:49] spalger commented on #128493
Working on the basic pipeline for this here https://github.com/elastic/kibana-buildkite/issues/25

[2022-03-28 19:52] jportner commented on #128661
Yeah, I re-read the Elasticsearch config schema and I believe this is the only edge case that we have right now. I think a custom/manual merge function like that is our best option.

I'd suggest a bit stricter logic in the `ElasticsearchService` that doesn't make any assumptions about how the `parseClientOptions` function works:

[code]

[2022-03-28 19:53] #127158 closed

[2022-03-28 20:08] #126841 closed

[2022-03-28 20:08] #126842 closed

[2022-03-28 20:21] #114102 closed

[2022-03-28 20:28] jen-huang commented on #120811
Closing in favor of an internal project issue; new public-facing issues to come.

[2022-03-28 20:28] #120811 closed

[2022-03-28 20:31] kevinlog commented on #128592
@dasansol92 - chatted with @joeypoon offline about this.  We believe your latest PR will address this issue.  Can you confirm and mark it ready for testing if so?

[2022-03-28 20:35] kevinlog commented on #128588
@muskangulati-qasource - it is expected that we are including the word "entry" when referring to Blocklist entries.

See this comment where we are updating some of the copy in the feature: https://github.com/elastic/security-team/issues/3351#issuecomment-1071036817

I'm going to close this as "working as expected".  Let me know if you have any questions or if I'm missing something

[2022-03-28 20:35] #128588 closed

[2022-03-28 20:39] Heenawter commented on #128535
So turns out the items in the `top_nav_bar` are already flex-wrapped, it's simply that any `extra` buttons have `responsive = false`. I could make `responsive = true`, but then we end up with each button stacked on top of each other, which isn't ideal.

![image](https://user-images.githubusercontent.com/8698078/160483147-3a6079b9-5886-4a94-a89b-ec2a8ac16cc4.png)

How do we feel about simply wrappi

[2022-03-28 21:05] cchaos commented on #128535
I'd opt for just simple wrapping and turning the responsive behavior off with `<EuiFlexGroup wrap responsive={false} />`. We aren't fully optimized for mobile support at the moment so as long as the controls are accessible, it should be ok.

[2022-03-28 21:06] cchaos commented on #128535
Might want to also consider adding wrapping or responsive behavior on that controls callout just below. It gets a bit funky at those small screens.

[2022-03-28 21:16] dhurley14 commented on #128451
This is interesting. In the case of the `When the role has CCS index privileges + CCS Rule Privileges Warning switch Enabled` I would have expected the warning message to read `This rule may not have the required read privileges to the following indices/index patterns`.

I'd be curious to see the output for the following in the main kibana Dev Tools while logged in with the user that has CCS privi

[2022-03-28 21:19] neptunian commented on #120384
@ravikesarwani Do you have any opinion on possibly turning CCS off by default?  We're going to leave it as true for now and see if a combination of having removed `metricbeat-*` from the index pattern and letting them override the indices via something like `monitoring.ui.ccs.remotePattern` resolve the SDH issues for now, but it's something we're considering.

[2022-03-28 21:45] lukeelmers commented on #128646
Looks like somehow this issue got created twice? https://github.com/elastic/kibana/issues/128647

I'll go ahead and close this one as a duplicate

[2022-03-28 21:45] #128646 closed

[2022-03-28 21:47] joeypoon commented on #128592
Just verified fixed on main:
![Mar-28-2022 16-46-10](https://user-images.githubusercontent.com/11009772/160492753-9cea2423-1222-4ea6-a8ac-645a85cf69e6.gif)

[2022-03-28 22:17] jen-huang commented on #104983
This was done with https://github.com/elastic/kibana/issues/117317.

[2022-03-28 22:17] #104983 closed

[2022-03-28 22:18] bhavyarm opened #128695 "Save and return not valid as a top bar menu option for histogram lens viz from discover"
**Kibana version:** 8.2.0 snapshot

**Elasticsearch version:** 8.2.0 snapshot

**Server OS version:** darwin_x96_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from snapshots

**Describe the bug:** If user clicks on create viz (create lens) from discover histogram and then in lens clicks save and retur

[2022-03-28 22:18] elasticmachine commented on #128695
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-28 22:42] #119598 closed

[2022-03-28 22:57] TinaHeiligers commented on #128661
This makes me wonder if there is any other duplicate/shared config we should consider in the near/mid future. FWIW, we collect _some_ telemetry around core's [config](https://github.com/elastic/kibana/blob/main/src/core/server/core_usage_data/types.ts#L208) but it's not extensive. should we consider putting some time into monitoring those more closely 🤔

[2022-03-29 00:38] marshallmain commented on #125868
Closing as the linked PR fixes this issue

[2022-03-29 00:38] #125868 closed

[2022-03-29 00:40] alisonelizabeth opened #128701 "[Console] Cannot issue request with date-math format"
**Kibana version:**
8.1.1

**Describe the bug:**
Issuing the following request in Console results in an error.

[code]

[code]

This appears to be a regression of https://github.com/elastic/kibana/pull/122080, as it works as expected in `8.0`.

The [ES docs](https://www.elastic.co/guide/en/elasticsearch/reference/8.1/api-conventions.html#api-date-math-index-names) provides an example of this, so i

[2022-03-29 00:40] elasticmachine commented on #128701
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-29 00:40] marshallmain commented on #125868
@karanverma-qasource Can you verify the fix on 7.17.2, 8.1.1, and 8.2?

[2022-03-29 01:02] joeypoon commented on #128445
confirmed that duplicates do not disable save. if attempting to add a single duplicate value, pressing enter does nothing (typed value remains in input but does not turn into a chip and save remains available if all other validations pass). if attempting to add duplicate value within comma delimited list, it will silently ignore the duplicates but still add the non-dupes.

will add warning messagi

[2022-03-29 01:13] ogupte opened #128703 "[APM] ensure rum_allow_origins setting only saves valid YAML strings"
Ensures that the text values set in the `rum_allow_origins` setting (`apm-server.rum.allow_origins`) will be checked if they are valid YAML strings and then wrapped in quotes if not. This fixes the bug #121934 that would fail when the user attempts to migrate from classic indices / standalong APM server to a fleet-managed APM server agent policy. The fix validates and updates the settings values o

[2022-03-29 01:43] ogupte commented on #110806
Recent changes in the fleet migration code ensures default values are set for migrated cloud policies (https://github.com/elastic/kibana/pull/128339), but we'll also want to make sure newly created policies in the Fleet UI (via the custom APM UI extensions) are also respecting default values.

[2022-03-29 01:47] ogupte commented on #128494
A follow-up PR (https://github.com/elastic/kibana/pull/128704/files#diff-2641b0d0c88e5e71bb586a3f7f9613f3bd572898c5802af4f009aba24d32bf71L68) contains a fix that set the ID properly via the package service method `options.id` param.

[2022-03-29 02:36] zacksiri commented on #128352
@tsullivan thank you for looking into this. You pretty much nailed it and found the root cause of the issue.

[2022-03-29 04:32] #106616 closed

[2022-03-29 04:36] marshallmain commented on #106003
Related: https://github.com/elastic/kibana/issues/83645

[2022-03-29 04:39] marshallmain commented on #103419
@madirey Has this issue been completed?

[2022-03-29 04:47] marshallmain commented on #108674
Related issue: https://github.com/elastic/kibana/issues/120562
This issue occurs when the source document uses dot notation for the field name. The field is copied over in dot notation, and the mustache templating system can't handle dot notation. Workaround is to write source documents with field names in nested notation, e.g.
[code]
This issue is fixed in 8.0 and dot-notation fields are availabl

[2022-03-29 04:47] #108674 closed

[2022-03-29 05:09] marshallmain commented on #109816
Closing as this scenario only occurs when making a non-additive change to the mappings, which is unsupported in the rule registry currently.

[2022-03-29 05:09] #109816 closed

[2022-03-29 05:10] marshallmain commented on #110795
Index upgrade logic shipped with upgrade-in-place strategy and no plans for aliases/runtime field support on old indices.

[2022-03-29 05:10] #110795 closed

[2022-03-29 05:13] marshallmain commented on #118560
Closing as this is not a bug in the indicator match rule logic.

[2022-03-29 05:13] #118560 closed

[2022-03-29 05:52] marshallmain commented on #127690
The core ticket mentions looking for queries against Saved Objects, and the previous threshold signals are in alerts indices rather than Saved Objects - does that mean we can continue to use 10k here?

[2022-03-29 05:56] marshallmain opened #128712 "[Security Solution][Alerts] Threshold signal history searches all indices instead of alerts indices"
The `getThresholdSignalHistory` function takes an index pattern parameter, but currently we pass in `*` so all indices will be queried unnecessarily. We should only search the alerts indices for the alert history. https://github.com/elastic/kibana/blob/07e645764ca5487bc61726eb1cfbc8f915aedc51/x-pack/plugins/security_solution/server/lib/detection_engine/signals/executors/threshold.ts#L80

[2022-03-29 05:56] elasticmachine commented on #128712
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-29 05:56] elasticmachine commented on #128712
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-29 07:39] dasansol92 commented on #128592
@kevinlog Yes, it will fix it. Thanks @joeypoon fir confirm it 👍

[2022-03-29 07:43] elasticmachine commented on #128679
Pinging @elastic/apm-ui (Team:apm)

[2022-03-29 08:03] muskangulati-qasource opened #128717 "[Security Solution] The warning message for Blocklist on Basic license needs to be updated."
**Description:**
The warning message for Blocklist on Basic license needs to be updated.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Add an entry for Blocklist and assign it per policy
3. Downgrade the license to Basic

**Steps to Reproduce:**
1. Navigate to Endpoints tab under Security from the left hand side navigation.
2. Go to

[2022-03-29 08:03] elasticmachine commented on #128717
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-29 08:03] elasticmachine commented on #128717
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-29 08:03] muskangulati-qasource commented on #128717
@manishgupta-qasource please review!

[2022-03-29 08:18] #126166 closed

[2022-03-29 08:20] #111343 closed

[2022-03-29 08:38] flash1293 commented on #79656
+1 from https://discuss.elastic.co/t/requests-per-second-with-kibana-lens/300826

[2022-03-29 08:44] cyrille-leclerc commented on #125872
Thank you very much for investigating @Casper-DB .
My problem happens with
* Elastic 8.1
* Chrome for Mac 99.0.4844.84 (Official Build) (x86_64)
* Destination of the copy/paste: github comment or issue form
![ScreenFlow](https://user-images.githubusercontent.com/459691/160571460-555ca65e-7b83-4072-a8c1-8e3c51f51a72.gif)

[2022-03-29 08:47] flash1293 opened #128721 "[Maps] Region is misspelt SJÆLLAND NOT SJAÆLLAND"
**Kibana version:** 7.10 - 8.1

**Describe the bug:** Administrative region DK-85 is misspelt - SJÆLLAND NOT SJAÆLLAND (https://de.wikipedia.org/wiki/Region_Sj%C3%A6lland)

Reported here: https://discuss.elastic.co/t/kibana-region-value-is-misspelt-sjaelland-not-sjaaelland/300805

[2022-03-29 08:47] elasticmachine commented on #128721
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-29 08:50] academo commented on #128601
Related PR for 8.2 https://github.com/elastic/kibana/pull/128718

[2022-03-29 09:21] teresaalvarezsoler commented on #116686
I confirm this is still the case, at least for version 7.16.

[2022-03-29 09:22] machadoum commented on #128577
Closing because https://github.com/elastic/kibana/pull/128375 is merged

[2022-03-29 09:22] #128577 closed

[2022-03-29 09:31] cnasikas opened #128723 "[Cases] Attachment hooks shows a success toast on an error."
If you attach an attachment to a case using the attachment hooks a successful toaster is being shown on an HTTP error along with the error toaster.

<img width="358" alt="Screenshot 2022-03-29 at 12 32 54 PM" src="https://user-images.githubusercontent.com/7871006/160581313-595a2b11-40c4-436c-a959-7f1d27598277.png">

[2022-03-29 09:31] elasticmachine commented on #128723
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-29 09:31] elasticmachine commented on #128723
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-29 09:43] cnasikas opened #128724 "[Cases] Attachment hooks enhancements"
This issue describes various enhancements for the attachment hooks. Specifically:

- The hooks should return a `isSaving` variable indicating if the request is being made or not.
- The title and the context attributes do not have access to the case data. Consumers cannot construct toaster titles and context with data from the case. For example, `{title} updated.`. The consumer should be able to do

[2022-03-29 09:43] elasticmachine commented on #128724
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-29 09:43] elasticmachine commented on #128724
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-29 09:49] #94389 closed

[2022-03-29 09:50] joshdover commented on #128209
I get where this is coming from, but if we can't treat these assets as managed then we can't make any changes, which is the whole purpose of making them managed. If this is a problem that impacts many customers, we need to prioritize blocking edits to managed assets. I think we should consider that separate from making the template structure coherent overall.

Yes, we have a single `@custom` templ

[2022-03-29 10:05] manishgupta-qasource commented on #128717
Reviewed & assigned to @kevinlog

[2022-03-29 10:23] karanbirsingh-qasource opened #128728 "[Security Solution]No Warning on Edit External Connector if user have none action to actions"
**Describe the bug**
No Warning on Edit External Connector if user have none action to actions

**Build Details**
[code]

**Steps**
- Login to Kibana
- Create a Custom User
- Create a Role and keep None access to Actions and Connector
- Login with above user
- Go to Edit External connector
- Observed that no warning is shown to user and connector options  are present to user but her cant create th

[2022-03-29 10:23] elasticmachine commented on #128728
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-29 10:25] manishgupta-qasource commented on #128728
Reviewed & assigned to @MadameSheema

[2022-03-29 10:38] #126655 closed

[2022-03-29 10:38] #124573 closed

[2022-03-29 10:49] #94605 closed

[2022-03-29 10:52] formgeist commented on #125872
@cyrille-leclerc I can't replicate it with my own setup which is equal to yours. Do you think it might be an issue in general or perhaps due to a Chrome extension? Perhaps you can try and see if copying text from another website will yield the same result, or try to open Chrome in private browsing (which to my knowledge disables all extensions) and try the same procedure? That's the best I can sug

[2022-03-29 10:54] karanbirsingh-qasource commented on #128182
Hi @yctercero

we have validated this issue on 7.17.2 BC and we are not seeing error by user [ having none access to actions] on importing rule without action .

But we are also not getting error by user [ having none access to actions] on importing rule having action in it like swimlane which is expected to show but not showing up on 7.17.2 BC.

**Build Details:**
[code]

**Screen-Cast:**

https:

[2022-03-29 10:59] machadoum commented on #128604
Hi, I merged #128722 PR, which updates deep links for the user page. Could you recheck it?

[2022-03-29 11:09] pheyos opened #128734 "[ML] Anomaly detection job list - clear notifications button tooltip does not disappear"
**Found in version**
- 8.1.1

**Browser**
- Chrome

**Steps to reproduce**
- Make sure to have an anomaly detection job with a warning or error message from the last 24 hours
- Open the list row expansion for that job
- Click the `Clear notifications` button

**Expected result**
- The button tooltip disappears (or least goes away when a different element gets the focus)

**Actual result**
- The bu

[2022-03-29 11:09] elasticmachine commented on #128734
Pinging @elastic/ml-ui (:ml)

[2022-03-29 11:15] azasypkin opened #128735 "Logouts caused by the expired sessions are treated as unexpected authentication errors in certain circumstances"
Since [7.16](https://github.com/elastic/kibana/pull/113460/files#diff-c7984ce8916ec410218609b2faeb1feb4e596bd1a9e7e24c3d7b163907ee2b48R43) we changed the code that triggers logout if any API request fails with `401` to treat this case as an unexpected authentication error.

The idea is that in normal circumstances we would cause ordinary logout few seconds before the session really expires since w

[2022-03-29 11:15] elasticmachine commented on #128735
Pinging @elastic/kibana-security (Team:Security)

[2022-03-29 11:27] afgomez commented on #127999
I've been thinking how to implement this and what "more than once" means. Here are some scenarios.

1. The user opens the guided setup, closes it, then opens it again.
2. The user opens the guided setup, navigates away, comes back to the observability overview and opens it again.
3. The user opens the guided setup, closes its session, goes back to kibana, and opens the guided setup again.

I feel

[2022-03-29 11:27] samratbhadra-qasource opened #128739 "[Fleet]: While hover over view agent dashboard button the tooltip shows old name package instead of integration."
**Describe the bug:**
While hover over view agent dashboard button under managed host the tooltip shows old name package instead of integration.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
BUILD: 51431
COMMIT: a743498436a863e142592cb535b43f44c448851a
ARTIFACT: https://snapshots.elastic.co/8.2.0-63942b4d/summary-8.2.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.2.0-SNAPSHOT environment should be de

[2022-03-29 11:27] elasticmachine commented on #128739
Pinging @elastic/fleet (Team:Fleet)

[2022-03-29 11:28] samratbhadra-qasource commented on #128739
@manishgupta-qasource Please review.

[2022-03-29 11:33] #125799 closed

[2022-03-29 11:39] afgomez commented on #101356
Is this issue still relevant? Has this been fixed when unifying the ObservabilityPageTemplate?

[2022-03-29 11:41] lucabelluccini commented on #123521
The problem affects any `get_<product>_info`. E.g. Logstash (https://github.com/elastic/kibana/blob/4d47cb793b577d1f2f94f338abdd7ce2de94ce3b/x-pack/plugins/monitoring/server/lib/logstash/get_node_info.ts#L20).

The problem can be triggered by the presence of `metricbeat-*` indices with incorrect mappings, as Stack Monitoring queries `.monitoring-*,metricbeat-*` by default (`monitoring.ui.metricbea

[2022-03-29 11:46] formgeist commented on #101356
@afgomez AFAICT we're not using the new loader, at least not for Observability app pages. The other apps (such as UX, Uptime, APM) are all using individual loaders on the first page of the app. We can sort out the Observability pages first and then open subsequent issues for the individual app owners to update their loading states to use the same loader.

https://user-images.githubusercontent.com/

[2022-03-29 11:49] afgomez commented on #53310
@weltenwort is this still relevant? I see the searchbar imports some components from the `data` plugin.

[2022-03-29 12:04] banderror opened #128740 "[Security Solution] Timeline template selector rendering issues"
## Summary

The timeline template selector has some issues with rendering. It's a reusable `<PickTimeline>` component used in the rule creation/editing forms, bulk applying timeline template form, etc.

### Responsiveness

It doesn't look good on a smaller screen:

<p align="center">
  <img width="300" src="https://puu.sh/IRpyP/eb7bebabc7.png" />
</p>

### Focus

Its focus state seems off and does

[2022-03-29 12:04] elasticmachine commented on #128740
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-29 12:04] elasticmachine commented on #128740
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-29 12:07] manishgupta-qasource commented on #128739
Secondary review for this ticket is Done

[2022-03-29 12:10] #128703 closed

[2022-03-29 12:11] cristina-eleonora commented on #125193
Thanks Meline! I had a look at the preview on my wide screen and it seems that we still have that `narrow display` issue for the drag and drop feature:

<img width="983" alt="Screenshot 2022-03-29 at 14 11 03" src="https://user-images.githubusercontent.com/44808440/160608360-56e7929a-38ce-4fe3-8e5f-71c3dead1ebe.png">

[2022-03-29 12:13] elasticmachine commented on #128570
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-29 12:14] elasticmachine commented on #128569
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-29 12:27] dominiqueclarke commented on #121125
Removed the error requirements from the ticket, as errors have been handled in different issues. For example, https://github.com/elastic/uptime/issues/439

[2022-03-29 12:27] #121125 closed

[2022-03-29 12:29] elasticmachine commented on #128439
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-29 12:35] afgomez commented on #106958
@mgiota is this issue still relevant or can it be closed?

[2022-03-29 12:36] dmlemeshko commented on #128251
Hey @loka89 ,

Please use https://discuss.elastic.co/ to ask this type of questions. Elastic official docs has a [troubleshooting guide](https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#_max_attempts_reached) for Reporting, that includes most popular issues and solutions for them.

Regards, Dima

[2022-03-29 12:36] #128251 closed

[2022-03-29 12:39] mistic commented on #127075
Skipped.

main: [569e4e8](https://github.com/elastic/kibana/commit/569e4e8458d91f05a9ae3c3f8192640230ac25c1)

[2022-03-29 12:39] mistic commented on #127077
Skipped.

main: [569e4e8](https://github.com/elastic/kibana/commit/569e4e8458d91f05a9ae3c3f8192640230ac25c1)

[2022-03-29 12:40] elasticmachine commented on #126425
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-29 12:42] CohenIdo opened #128743 "Adding callback post create package"
Currently, the fleet plugin provides three types of callbacks:
[code]
`ExternalCallbackCreate` runs before the plugin is installed.
The purpose of this issue is to add a new type of callback that will run after the package policy has been created.

**Describe a specific use case for the feature:**
The Cloud Security Posture plugin wants to run the callback once the assets for the plugin have been

[2022-03-29 12:44] elasticmachine commented on #128743
Pinging @elastic/fleet (Team:Fleet)

[2022-03-29 12:48] #127714 closed

[2022-03-29 12:54] cnasikas commented on #127956
@angorayc Should we close the issue?

[2022-03-29 12:55] cnasikas commented on #125945
@academo Should we close the issue?

[2022-03-29 12:56] #117640 closed

[2022-03-29 13:06] formgeist commented on #128679
@boriskirov Do you want to look into proposing a new loading state for the trace sample area when you have time?

[2022-03-29 13:14] elasticmachine commented on #127071
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-29 13:16] elasticmachine commented on #126222
Pinging @elastic/fleet (Team:Fleet)

[2022-03-29 13:18] formgeist opened #128749 "[APM] Bug: Default environment set in Advanced Settings is not working with existing environment selector in Service Groups"
**Kibana version**:

8.2.0-SNAPSHOT (main)

**Description of the problem including expected versus actual behavior**:

https://user-images.githubusercontent.com/4104278/160620114-be64e8bf-bc89-4375-ba8a-81f34c5686c6.mp4

I've set the default environment in the APM Advanced Settings to `production` but the environment selector is still defaulting to `All` in the APM views.

**Steps to reproduce**:

[2022-03-29 13:18] elasticmachine commented on #128749
Pinging @elastic/apm-ui (Team:apm)

[2022-03-29 13:19] formgeist commented on #117535
@kpatticha Just FYI, I've opened a new bug issue that is highly relevant now if we're postponing the new environment selector. The current environment selector doesn't seem to respect the default environment set in advanced settings. https://github.com/elastic/kibana/issues/128749

[2022-03-29 13:22] katrin-freihofner opened #128750 "[Observability alerts table] Move the "View details" icon button to overflow menu"
# Describe the feature
I would recommend removing the "View details" icon button as the same action is available when clicking the reason link and having three icon buttons (using pretty ambiguous icons) next to each other is not great UX. There is this edge case where a user could decide to remove the column with the reason message and therefore would no longer be able to get to the alert details

[2022-03-29 13:25] #125945 closed

[2022-03-29 13:25] #125371 closed

[2022-03-29 13:27] mikecote commented on #127071
In 8.2 this will be doable via `xpack.alerting.rules.minimumScheduleInterval.value` and by setting `xpack.alerting.rules.minimumScheduleInterval.enforce` to `true` [docs](https://www.elastic.co/guide/en/kibana/master/alert-action-settings-kb.html#alert-settings). This will only apply to rules created after the settings have been changed. Does this feature suffice the ER?

[2022-03-29 13:29] mikecote commented on #127071
To limit the actions, the customer can also set a numeric value to `xpack.alerting.rules.execution.actions.max` in 8.2 and this will apply to new and existing rules to limit the number of actions it can fire per run.

[2022-03-29 13:31] cauemarcondes opened #128752 "[APM] Fix skipped e2e test"
On https://github.com/elastic/kibana/pull/128411 a couple of tests had to be marked as skipped because they were flaky. We should look at these tests and figure out what was causing it.

- [ ] `x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts`
- [ ] `x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/service_overview.spec.ts`
- [ ] `x-pack/plug

[2022-03-29 13:31] elasticmachine commented on #128752
Pinging @elastic/apm-ui (Team:apm)

[2022-03-29 13:32] MelKeo commented on #125193
@cristina-eleonora unfortunately this is not something we can customise, this is the regular layout for this question type. The only option they offer me is to have the items to rank stacked into one pack but I feel like it makes it worse. See the screenshot.
<img width="384" alt="Screenshot 2022-03-29 at 15 31 18" src="https://user-images.githubusercontent.com/35220964/160622868-c3e6254a-6023-40e

[2022-03-29 13:43] matschaffer opened #128755 "[Stack Monitoring] PoC for kibana instrumentation using opentelemetry metrics sdk"
We discussed a number of possible implementations for ongoing kibana instrumentations in (internal) https://github.com/elastic/observability-dev/issues/2054

In this issue we'll build a proof of concept for how that might work.

Here are the two options we'd like to PoC on. They should both be very similar at the code level, the main difference is the collection mechanism (pull from metricbeat vs

[2022-03-29 13:43] elasticmachine commented on #128755
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-29 13:45] matschaffer commented on #128755
This should go in @elastic/infra-monitoring-ui cycle 9 once it gets created.

[2022-03-29 13:46] emilioalvap commented on #128475
Discussed with @andrewvc, single page monitors should be handled from Kibana side, at least initially.

[2022-03-29 13:47] matschaffer opened #128757 "[Stack Monitoring] Address outstanding ESTF failures"
https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3Atest-cloud+label%3Afailed-test+label%3ATeam%3AMonitoring has a number of ESTF failures coming from the stack monitoring api integration suite.

These come from the FTR api_integration test being run on a cloud deployment.

We should look into why these are failing and either:
- Update the test or ESTF to allow for on-cloud run

[2022-03-29 13:47] elasticmachine commented on #128757
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-29 13:49] elasticmachine commented on #126197
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-29 13:49] bacloud22 commented on #128570
Link to Chrome Har deleted for some reason: https://file.io/GcdJK4AVnupR

[2022-03-29 13:51] matschaffer commented on #128757
https://github.com/elastic/observability-dev/pull/1992#issuecomment-1058788348 (internal) contains some notes on how I used the ESTF flakey test runner to validate https://github.com/elastic/kibana/issues/105354 and ultimately skip those tests on cloud (https://github.com/elastic/kibana/pull/126877).

We should be able to validate the rest via a similar procedure.

[2022-03-29 13:57] kpollich commented on #121833
I believe this is a duplicate of https://github.com/elastic/kibana/issues/122582 which was fixed in 7.16.3 via https://github.com/elastic/kibana/pull/122675. I'm unable to reproduce this issue in 7.16.3+.

[2022-03-29 13:58] elasticmachine commented on #126413
Pinging @elastic/apm-ui (Team:apm)

[2022-03-29 13:59] elasticmachine commented on #128750
Pinging @elastic/unified-observability (Team:Observability)

[2022-03-29 14:09] dominiqueclarke opened #128760 "[Uptime] Alerting - Copy Uptime alert state to context"
Relates to: https://github.com/elastic/kibana/issues/126280

Uptime alerts currently prefer `state` over `context`. Many helpful variables for users to craft alert connectors are managed on `state`, rather than `context`.

State variables are serialized and persisted in the task manager document. They are primarily intended to persist data across one alert execution to another. However, Uptime doe

[2022-03-29 14:09] formgeist commented on #87673
Resolved by https://github.com/elastic/kibana/pull/119709

[2022-03-29 14:11] dominiqueclarke opened #128761 "[Uptime] Specify alert recovery context"
The alerting framework has recently merged [a PR](https://github.com/elastic/kibana/pull/124972) to provide rule executors with the ability to specify context for recovered alerts. Details are available in the PR and in the [alerting README](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/README.md#recovered-alerts) but essentially,

1. Rule types should set `doesSetRecoveryCon

[2022-03-29 14:11] msanz-acclaro commented on #128504
thanks

we are using v8.0.1

FYI @ifrimere

[2022-03-29 14:11] JAndritsch opened #128763 "Detection rules should list their dependencies"
**Describe the feature:**

Some prebuilt detection rules depend on additional programs in order to produce the requisite data. For example, there are query detections that search within the `winlogbeat` index for data that would only be produced by deployments using Sysmon but do not document that requirement.

Examples:

* https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_soluti

[2022-03-29 14:13] dgieselaar commented on #128749
I think it's broken for service groups only: https://github.com/elastic/kibana/blob/95ba4f8d93829bca37970b87e18bec9a7b43a062/x-pack/plugins/apm/public/components/shared/redirect_with_default_environment/index.tsx#L29-L32

[2022-03-29 14:14] philippkahr opened #128764 "Stack Monitoring rule is overlaying the fly out."
**Kibana version:** 8.1.1

**Elasticsearch version:** 8.1.1, ESS

**Browser version:**

**Browser OS version:** Chrome Version 101.0.4951.7 (Official Build) dev (x86_64), Safari Version 15.4 (17613.1.17.1.6)

**Describe the bug:**
Window with the rule details in stack monitoring is overlaying the fly out options. This has not happened in 7.17.

**Steps to reproduce:**
1. Stack Monitoring
2. Enter

[2022-03-29 14:18] formgeist commented on #128749
@dgieselaar You're right. I checked by removing the service groups I had created and it now correctly defaults to `production`. Since service groups is a technical preview feature in 8.2 we can consider this less of an issue, but would still be great to fix if that's an option.

[2022-03-29 14:19] ThomThomson commented on #128664
With the Options List control, the validation system works by checking if 0 documents are associated, which has the side-effect of never putting the user to enter into a `no-data` state.

You're right that the range slider could use a different form of validation in which it only cares about the min and max of the data, and not about whether there are associated documents. I originally opened this

[2022-03-29 14:20] teresaalvarezsoler commented on #128664
sounds good!

[2022-03-29 14:23] miltonhultgren commented on #125601
Hm we'd have to dig into this a bit deeper but I notice that you're running this in a container but have you configured your quotas as well?

The overview page table pulls data from the Elasticsearch node stats API which relies on the quotas being configured to decide the CPU utilization in relation to that.
I wonder if the graphs on the other page is pulling data from some other source.

[2022-03-29 14:27] pmuellr commented on #126944
Thought I'd chase down the relevant elasticsearch issue / PR, since we'll want to align with it; I think it is these:

- issue: [Add configurable list of allowed domains for Watcher email action #84739](https://github.com/elastic/elasticsearch/issues/84739)
- PR: [Add list of allowed domains for Watcher email action #84894](https://github.com/elastic/elasticsearch/pull/84894)

Note that in the iss

[2022-03-29 14:29] dominiqueclarke opened #128766 "[Uptime] Alerting - Remove Uptime alert state variables from action connectors"
Relates to https://github.com/elastic/kibana/issues/126280

Following https://github.com/elastic/kibana/issues/128760, Uptime moved many of its alerting state variables over to context. Although we still need state variables internally for our alerting solution, we should remove references to state variables in user-facing action connectors.

State variables for monitor status alert
--
-  monitorU

[2022-03-29 14:30] dgieselaar commented on #128749
@formgeist yeah easy fix, I think we just missed it in the service groups implementation. These PRs were merged around the same time.

[2022-03-29 14:32] Dosant commented on #123720
Looks like the issue is resolved 🎉
We have 3 subsequent no flaky runs https://github.com/elastic/kibana/pull/121955#issuecomment-1081911353

@afharo suggests that https://github.com/elastic/kibana/pull/128324 that improved server event-loop delay and fixed memory leak helped https://github.com/elastic/kibana/pull/121955#issuecomment-1081573304

It is still not exactly clear to me why before [the f

[2022-03-29 14:33] dominiqueclarke commented on #126280
We have identified three issues related to this
- [ ] https://github.com/elastic/kibana/issues/128760
- [ ] https://github.com/elastic/kibana/issues/128761
- [ ] https://github.com/elastic/kibana/issues/128766

[2022-03-29 14:46] paulb-elastic commented on #126280
Closing this in favour of the new issues @dominiqueclarke has [created](https://github.com/elastic/kibana/issues/126280#issuecomment-1081948828)

[2022-03-29 14:46] #126280 closed

[2022-03-29 14:48] SHolzhauer opened #128768 "[BUG] permissions, all doesn't mean all"
**Kibana version:**
7.16.1

**Elasticsearch version:**
7.16.1

**Server OS version:**
n/a

**Browser version:**
n/a

**Browser OS version:**
n/a

**Original install method (e.g. download page, yum, from source, etc.):**
n/a

**Describe the bug:**
When updating space permissions the "all" option doesn't actually mean all. It excludes the osquery integration.

**Steps to reproduce:**
1. Activate Osq

[2022-03-29 14:50] #125849 closed

[2022-03-29 14:50] elasticmachine commented on #128768
Pinging @elastic/security-asset-management (Team:Asset Management)

[2022-03-29 14:58] cjcenizal commented on #125193
I tried tabbing through this survey and it's completely keyboard inaccessible. I didn't test with a screen reader but I assume it's unusable with a screen reader too, since that's typically more challenging than keyboard accessibility. I don't think we should use this tool for our survey. Can we use an alternative, such as Google Forms?

@MelKeo Is this a standard tool in use across Elastic? If so

[2022-03-29 15:03] #128209 closed

[2022-03-29 15:03] lewissmithtong commented on #125193
Hey

I agree that the stacking is worse @MelKeo.

Also I noticed that the view on mobile is cropping the responses to the "How easy..." questions

<img width="410" alt="image" src="https://user-images.githubusercontent.com/97118049/160642608-d0e75445-b4c6-4845-9c4b-15913b2daeec.png">

[2022-03-29 15:09] vinaychandrasekhar commented on #128750
I agree @katrin-freihofner

cc @emma-raffenne @simianhacker - we should try and get this into 8.3 if possible.

[2022-03-29 15:16] ghudgins commented on #14905
We no longer display errors in this format. Resolving this issue as we now show errors in toast messages

[2022-03-29 15:17] ghudgins commented on #86184
Related issue https://github.com/elastic/kibana/issues/17532

[2022-03-29 15:18] melissaburpo commented on #128768
Thanks for raising this issue @SHolzhauer. After discussing it with the team, we agree that when you select `All` for the `Privileges for all features` options, that should apply to Osquery as well. Initially we had some concerns about this selection giving unintended access to Osquery, but additional setup is required for full Osquery operation (i.e. read privileges for the `logs-osquery_manager.

[2022-03-29 15:25] EricDavisX commented on #121457
it's a good idea- I put a ticket in to the kbn-alert-load project for it Patrick.  thanks

[2022-03-29 15:25] #22866 closed

[2022-03-29 15:27] ghudgins commented on #95542
Related request - if we support tag clouds significant text would be a good complimentary issue https://github.com/elastic/kibana/issues/31614

[2022-03-29 15:31] ghudgins commented on #51059
Workaround for TSVB: setting the opacity to 0 for a series that has the bounds you want

This is supported in Lens natively.
<img width="675" alt="image" src="https://user-images.githubusercontent.com/5465514/160648797-275921d6-d011-4da3-b385-7d237551a446.png">

[2022-03-29 15:31] #51059 closed

[2022-03-29 15:31] #128601 closed

[2022-03-29 15:39] ghudgins commented on #3391
TSVB gauges scroll today. We'll be considering this when adding small multiple visualizations to Lens. Closing this issue as we have no plans to add additional support to Visualize.

*Since this would require a large development effort to implement in Visualize/TSVB and our efforts are focused on extending the functionality of Lens in easy-to-use and consistent way. We aim to provide the best poss

[2022-03-29 15:39] #3391 closed

[2022-03-29 15:40] ghudgins commented on #8912
Closing this issue because this is supported in Lens & Visualizations. 🎉

[2022-03-29 15:41] ThomThomson opened #128776 "[Dashboard][Controls] Use Appropriate Data View ID for Range and Time Sliders"
https://github.com/elastic/kibana/pull/128440 introduced a `getRelevantDataViewID` function to the control editors. Currently this is not in use for either the range slider or the time slider. This results in the Options List using a relevant data view, but the time and range sliders using the default.

It should be fairly straightforward to start using this function in both of their editors.

![D

[2022-03-29 15:41] elasticmachine commented on #128776
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-29 15:44] ghudgins commented on #10655
We plan on delivering this in this issue - https://github.com/elastic/kibana/issues/117909

[2022-03-29 15:44] #10655 closed

[2022-03-29 15:48] sophiec20 commented on #126944
Allowlists (rather than denylists) tend to be more precise, so I thought wildcards would be unnecessary and just need more testing. Fine to align with Watcher email action.

Just thinking out loud - as this is an elasticsearch cluster setting, with a name that is not specific to Watcher, could we also use `xpack.notification.email.account.domain_allowlist` ?? I know we do not typically share setti

[2022-03-29 16:13] stacey-gammon commented on #126509
New deprecations are updated.
@elastic/kibana-app-services, @elastic/kibana-gis, @elastic/kibana-data-discovery, @elastic/kibana-presentation.

@elastic/response-ops - looks like there is one file left still using IFieldType:
<img width="808" alt="Screen Shot 2022-03-29 at 12 10 50 PM" src="https://user-images.githubusercontent.com/16563603/160657106-d399a45e-1733-4c9d-8c49-4c4c1bac0888.png">

[2022-03-29 16:25] flash1293 commented on #128504
Fixed via https://github.com/elastic/elastic-charts/pull/1634

[2022-03-29 16:25] #128504 closed

[2022-03-29 16:27] #128651 closed

[2022-03-29 16:28] yctercero commented on #128182
@MadameSheema chatted with @dhurley14 who worked this ticket.

Seeing as 7.17.2 feature freeze passed, and I don't believe this should be a blocker to release, we'll move to fix for 7.17.3. @karanbirsingh-qasource can you confirm whether you see the same thing in 8.2.0? I tested with latest and received an error so wondering if it's something specific to that version.

cc @peluja1012

[2022-03-29 16:28] emma-raffenne commented on #128750
@XavierM Would that be for your team or ours to take?

[2022-03-29 16:40] jasonrhodes commented on #127738
@miltonhultgren can you suggest what kind of goal we could be looking for here? I'd like to get tests written now so they don't get lost forever, so we just need some kind of goal here.

[2022-03-29 16:41] jasonrhodes commented on #127742
@katefarrar when we start on this, can Design just point us to the right components for these types of error and empty states so we know which to use?

[2022-03-29 16:41] bhavyarm opened #128780 "Expand document icon and interact with the document icon are the same in discover"
**Kibana version:** 8.2.0

**Elasticsearch version:** 8.2.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Discover has same icons for expanding a document and for interacting with a cell. Can we please change one of them?

expand d

[2022-03-29 16:41] elasticmachine commented on #128780
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-29 16:57] lukasolson commented on #126425
Requests are batched up by time interval, not by chunks of 24. Depending on your version of the stack, you may be able to turn off the batching, but there isn't a way to configure the number of items in a batch.

[2022-03-29 16:59] afharo commented on #121997
Important note: we should have a dedicated section to explain the key differences between EBT and Snapshot-based telemetry and more specifically UI/Usage counters to let devs decide which one fits their needs the better.

1. EBT allows more granularity and more metadata to split and aggregate
2. UI/Usage Counters can be sent even when the server is behind a firewall
3. ...

[2022-03-29 17:07] A-Hall opened #128783 "User configurable scale color for Kibana maps"
**Describe the feature:**

Allow the maps scale color to be user configurable.

**Describe a specific use case for the feature:**

In certain situations it is very hard to see the scale graphic in the lower left side of a map, such as when the scale appears over a wooded area:

![image](https://user-images.githubusercontent.com/19538614/160666990-ee6f324e-c5a1-4171-acbb-8611b9968129.png)

[2022-03-29 17:07] #126065 closed

[2022-03-29 17:10] madirey commented on #103419
Nope, should we prioritize?

[2022-03-29 17:11] TinaHeiligers opened #128784 "Remove the column service from the SOM plugin's public contract"
The saved objects management plugin used to expose the column service on it's public contract because it was being consumed by other plugins.

Since the logic has all been moved to the saved objects management plugin, we no longer need the column service to be part of its public contract.

_Originally posted by @jportner in https://github.com/elastic/kibana/pull/128669#discussion_r836912732_

[2022-03-29 17:12] elasticmachine commented on #128784
Pinging @elastic/kibana-core (Team:Core)

[2022-03-29 17:14] EricDavisX commented on #128061
I'm among others I'm sure, but I'm waiting for... a success platform-build to get a new 8.2 snapshot and then a nightly run of the kbn-alert-load tool will pick up the change and show us the improvement (again).  Very nice work!

[2022-03-29 17:16] JAndritsch opened #128786 "Allow Fleet to be disable-able in 8.x"
**Describe the feature:**

A recent change made it so that all plugins must opt-in to being disable-able: https://github.com/elastic/kibana/issues/89584. Fleet is one of several plugins that do not currently support this behavior. Prior to this change, one could disable access to Fleet via `xpack.fleet.enabled: false`. That is now deprecated in 7.x and incompatible in 8.x.

An alternative way to "

[2022-03-29 17:17] jportner commented on #128784
I think we can also get rid of the action service, as Spaces was the only consumer of that too (for Copy and Share/Assign Spaces actions)

[2022-03-29 17:17] #126076 closed

[2022-03-29 17:23] ecezalp commented on #122502
@jbudz @MadameSheema

I used the flaky test runner suite to troubleshoot the test. It appeared to pass every time ([job](https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/336)). Could you please confirm that `create_threat_matching` is flaky?

[2022-03-29 17:24] liza-mae commented on #128105
**Version: 7.17.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_context_encoded_url_param·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:24] liza-mae commented on #105356
**Version: 7.17.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:24] liza-mae commented on #98420
**Version: 7.17.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:24] liza-mae opened #128787 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts - homepage app Welcome interstitial is displayed on a fresh on-prem install"
**Version: 7.17.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:24] liza-mae commented on #124444
**Version: 7.17.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2022-03-29 17:24] liza-mae opened #128788 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts - API Keys app Home page deletes API key(s) by bulk"
**Version: 7.17.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:24] liza-mae commented on #105355
**Version: 7.17.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3054/testReport/_

[2022-03-29 17:25] liza-mae opened #128789 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/index·ts - visualize app "before all" hook in "visualize app""
**Version: 8.1.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:26] liza-mae opened #128790 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/index·ts - dashboard app new charts library "before all" hook in "new charts library""
**Version: 8.1.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/index·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app new charts library "after all" hook in "new charts library"
- dashboard app using current data "before all" hook: loadCurrentData in "using current data"
- dashboard app using current data "after all" hook: unloadCurrentData in "using cu

[2022-03-29 17:26] madirey commented on #103419
@marshallmain This was addressed in https://github.com/elastic/kibana/commit/c0f9bfcd217f20a71818e432e470cbd01875349d ... should be closed.

[2022-03-29 17:26] liza-mae commented on #120392
**Version: 8.1.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:26] elasticmachine commented on #128789
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-29 17:26] liza-mae commented on #124602
**Version: 8.1.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:26] liza-mae opened #128791 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/multi_terms·ts - lens app lens multi terms suite should not show existing defined fields for new term"
**Version: 8.1.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/multi_terms·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:26] ogupte opened #128792 "[APM] Service map storybook example for pasted JSON is broken"
The `MapFromJSON` story for Service map (`x-pack/plugins/apm/public/components/app/service_map/__stories__/cytoscape_example_data.stories.tsx`) does not update the staged JSON when pasted into the code editor. After pasting in new JSON, then clicking the button "Render JSON", the old, default JSON replaces the latest pasted JSON content.

[2022-03-29 17:26] elasticmachine commented on #128790
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-29 17:27] liza-mae opened #128793 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts - API Keys app Home page creates API key when submitting form, close dialog and displays new api key"
**Version: 8.1.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- API Keys app Home page creates API key "after each" hook for "when submitting form, close dialog and displays new api key"
- API Keys app Home page deletes API key(s) "before each" hook for "one by one"

 _Test Report: https://interna

[2022-03-29 17:27] liza-mae commented on #125276
**Version: 8.1.2**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:27] liza-mae commented on #102008
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:27] liza-mae commented on #98419
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:27] elasticmachine commented on #128791
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-29 17:27] liza-mae commented on #124599
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get many monitors with page params
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get on

[2022-03-29 17:27] liza-mae commented on #124601
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:27] liza-mae commented on #124603
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/edit_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptime/service/monitors returns bad request if payload is invalid for HTTP monitor
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptim

[2022-03-29 17:27] liza-mae commented on #124604
**Version: 8.1.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3057/testReport/_

[2022-03-29 17:28] elasticmachine commented on #128792
Pinging @elastic/apm-ui (Team:apm)

[2022-03-29 17:28] #103419 closed

[2022-03-29 17:30] #126062 closed

[2022-03-29 17:30] marshallmain commented on #128349
@andyoulovexy Once an alert is generated from any OS the index will be created and the warning on the rule will no longer appear. We don't have a recommended way to generate test alerts on Linux at the moment.

[2022-03-29 17:32] #128468 closed

[2022-03-29 17:32] elasticmachine commented on #128793
Pinging @elastic/kibana-security (Team:Security)

[2022-03-29 17:35] elasticmachine commented on #128788
Pinging @elastic/kibana-security (Team:Security)

[2022-03-29 17:36] elasticmachine commented on #128787
Pinging @elastic/kibana-core (Team:Core)

[2022-03-29 17:39] marshallmain commented on #109030
Closing as discussed with @dplumlee - old alerts can still have `in-progress` statuses, so type guards are still needed.

[2022-03-29 17:39] #109030 closed

[2022-03-29 17:45] klacabane opened #128794 "Allow `exposeToBrowser` nested configuration"
### Summary
The [exposeToBrowser](https://github.com/elastic/kibana/blob/main/docs/development/core/server/kibana-plugin-core-server.pluginconfigdescriptor.exposetobrowser.md) property currently allows a plugin to inject complete root configuration object in the public code. These configuration objects can be shared between the server/public code and not specialized for UI consumption which could

[2022-03-29 17:46] elasticmachine commented on #128794
Pinging @elastic/kibana-core (Team:Core)

[2022-03-29 17:52] flash1293 commented on #128791
Seems like the click on "Add field" here didn't work: https://github.com/elastic/kibana/blob/072fe63c0b326f6dfd0215cda648c982f4b6bee8/x-pack/test/functional/page_objects/lens_page.ts#L593

Can be stabilized using a retry (if the new combo box doesn't appear, try again)

[2022-03-29 17:55] spalger commented on #128493
@nchaulet the pipeline is now defined and ready for completion. The pipeline builds Kibana and runs https://github.com/elastic/kibana/blob/main/.buildkite/scripts/steps/fleet/install_all_packages.sh, which currently just runs the script you mentioned. It looks like that script doesn't run Kibana or ES but relies on them so I'd recommend converting the meat of that script to a functional test confi

[2022-03-29 17:58] ghudgins commented on #116686
++ a customer brought this up unprompted in a roadmap presentation today.

[2022-03-29 18:10] icyninjacake45 opened #128800 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-03-29 18:10] elasticmachine commented on #128800
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-03-29 18:22] jen-huang commented on #104987
Closing as complete, docs requirement tracked in https://github.com/elastic/observability-docs/issues/1691.

[2022-03-29 18:22] #104987 closed

[2022-03-29 18:25] #115851 closed

[2022-03-29 18:27] constancecchen commented on #128800
Closing as either spam or an accidentally opened issue.

[2022-03-29 18:27] #128800 closed

[2022-03-29 18:40] Heenawter opened #128804 "[Controls] Time slider UX not initializing properly"
**Describe the bug:**
The black "selected" part of the bar extends past the maximum value selected when the control is first opened - however, this causes a weird "snap" when the user clicks away from editing the control where the range adjusts itself back to what it should be. Difficult to explain with words, so here are some GIFs 😆

It happens when the range is in the middle, which is more obvio

[2022-03-29 18:40] elasticmachine commented on #128804
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-29 18:40] #128250 closed

[2022-03-29 18:41] patodevilla commented on #126425
Thanks for the response!

We am currently running Kibana 7.17.1 in production, and in the process of migrating into Kibana 8.1.0.

- Is it a bad idea to increase `server.maxPayloadBytes` to 3-4 MB?
- Would it be possible to send `runtime_mappings` data as a root key to prevent it from being serialized so many times inside `batch`
- How do I turn off batching?

[2022-03-29 19:09] #126851 closed

[2022-03-29 19:12] jportner opened #128809 "Change session expiration to override on app leave behavior"
Depends on: #114225

When your session times out, it's supposed to redirect you to the "logout" route, which logs you out and redirects you again to the login page.
The current app's `onAppLeave` behavior can prevent this from occurring (such as in Lens when you have unsaved changes), so when your session expires, instead your page is frozen like this:

![image](https://user-images.githubuserconte

[2022-03-29 19:12] elasticmachine commented on #128809
Pinging @elastic/kibana-security (Team:Security)

[2022-03-29 19:13] stacey-gammon commented on #126509
Thanks @ymao1! Looks like your team is all set. It might have been flagged because `DataFieldView` is implementing the deprecated type, but I can't be sure until I do some more investigation.

If anyone else is having trouble finding the deprecated API to remove it, let me know and I'll investigate as well.

[2022-03-29 19:15] nreese commented on #126509
@stacey-gammon where do I find which APIs maps are using that are deprecated and there replacements? I thought we fixed these already.

[2022-03-29 19:16] mattkime commented on #126425
Could you send a hard file that captures the problem? Then I could see exactly how much duplication is occurring.

[2022-03-29 19:16] #128390 closed

[2022-03-29 19:20] JiaweiWu opened #128811 "[RAM] Add prompt to refine search to the rule execution log list"
Source: https://github.com/elastic/kibana/pull/127339#discussion_r823035420

Related Issue: https://github.com/elastic/kibana/issues/126624

We would like to add a prompt to notify the user to refine their search if the execution log aggregation returns a `total` with more than 1000 entries. Similar to how it is done in discover.

<img width="726" alt="157530990-af6f543f-5c14-4751-825c-42e9493c17f

[2022-03-29 19:20] elasticmachine commented on #128811
Pinging @elastic/response-ops (Team:ResponseOps)