[2021-12-20 14:37] cauemarcondes commented on #121238
@joshdover @hop-dev I see that this PR https://github.com/elastic/kibana/pull/121412 hasn't been backported to `8.0`, is it correct?

[2021-12-20 15:03] lucasfcosta commented on #117921
@bryce-b I've just tried this again and I couldn't reproduce the problem you've found. Loading the data in the archive you've sent makes the exploratory view work fine on my end. Below, you'll find a GIF of me accessing the data after having loaded it as per the steps below. You'll also find the investigation I've done in the code (where I couldn't see anything wrong).

I've done so both on the `8

[2021-12-20 15:09] pgayvallet commented on #94176
I think this one was fixed a while ago by upstream modifications in the EUI component we're using for the searchbar. Closing for now.

[2021-12-20 15:09] #94176 closed

[2021-12-20 15:14] #89781 closed

[2021-12-20 15:20] juliaElastic commented on #108456
Here are UI automation tests to add with these changes: https://github.com/elastic/kibana/issues/121436

[2021-12-20 15:25] lucasfcosta opened #121653 "[Exploratory View] Exploratory view crashes when trying to apply settings without selecting metric filters on "Performance Distribution" graphs"
**Kibana version:** Tip of 8.0 (`SHA 8406b9aa88a53a3cbfb86f838583421d0d0476da`), but also happens on 8.1

**Elasticsearch version:** `8.0.0-SNAPSHOT`

**Server OS version:** MacOS Big Sur 11.6

**Browser version:** Version 96.0.4664.110 (Official Build) (x86_64)

**Browser OS version:** MacOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):** Running the stack

[2021-12-20 15:25] juliaElastic commented on #121436
One thing that I think Chaulet raised earlier, that we should point epr to a mock repo/API in cypress tests, to avoid breakages when epr packages change. I think we could try doing that with this issue. If it needs more effort, it can be raised as a new issue.

[2021-12-20 15:25] elasticmachine commented on #121653
Pinging @elastic/uptime (Team:uptime)

[2021-12-20 15:44] justinkambic opened #121655 "[Uptime] Errors copy typo"
**Kibana version:**

8.1

**Elasticsearch version:**

8.1

**Server OS version:**

macOS

**Browser version:**

Chrome 96

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

There's a copy bug in the Uptime overview monitor list detail drawer. When there are no rules defined, the conjugation is incorrect.

[2021-12-20 15:44] elasticmachine commented on #121655
Pinging @elastic/uptime (Team:uptime)

[2021-12-20 15:54] thomasneirynck commented on #111982
verified is fixed in Kibana (_all_ Kibanas in fact 😄  )

[2021-12-20 15:54] #111982 closed

[2021-12-20 16:01] lucasfcosta commented on #121653
May be related to: https://github.com/elastic/kibana/issues/119989

[2021-12-20 16:28] cavokz commented on #121613
I fail to see how this is related to Security Solution. Any hint?

[2021-12-20 16:33] claudiopro commented on #121165
Looks like there's nothing left to merge in this issue, closing now.

[2021-12-20 16:33] #121165 closed

[2021-12-20 16:36] gmmorris opened #121663 "ServiceNow POC and design doc"
1. Provide the configuration steps for enabling OAuth JWT for the ServiceNow instance.
2. Describe the proposal schema changes for ServiceNow connector.
3. Describe the steps is needed to integrate with `connector_token` SO to store access tokens.
4. Add open questions regarding the behavior.

New POC which add OAuth JWT support for all ServiceNow connectors: ITOM, ITSM, SIR https://github.com/ela

[2021-12-20 16:37] cauemarcondes commented on #77318
Tests ok
<img width="1104" alt="Screen Shot 2021-12-20 at 11 37 21 AM" src="https://user-images.githubusercontent.com/55978943/146801353-d3212fab-2fb1-44ae-a584-8cd00a537199.png">

[2021-12-20 16:47] #119477 closed

[2021-12-20 17:32] afharo commented on #121624
Hmmm! That's interesting! Maybe it worked because the alias existed? But then we have more open questions:
1. How come the `_002` index was created?
2. If _something_ creates `_002` and sets the alias to it (while `_001` exists but it's empty), will it work?
3. If the answer to 2. is "yes", why does it need to rely on the existence of `_001`?

[2021-12-20 17:57] dominiqueclarke opened #121679 "[APM][User Experience] APM telemetry triggers deprecation logs"
**Kibana version**: 7.16.1

**Elasticsearch version**: 7.16.1

**Original install method (e.g. download page, yum, from source, etc.)**: `apm-integration-testing` script, plus Kibana source

**Description of the problem including expected versus actual behavior**:

The following deprecation log is reported from APM telemetry
[code]

It appears to be triggered from the query found here: https://git

[2021-12-20 17:57] elasticmachine commented on #121679
Pinging @elastic/uptime (Team:uptime)

[2021-12-20 17:58] elasticmachine commented on #121679
Pinging @elastic/apm-ui (Team:apm)

[2021-12-20 18:14] YulNaumenko commented on #121141
@kertal what is a timeline for the current Discovery rule type implementation, when the disabled create and enabled only edit in the Rules Management UI?
The concern is that `requiresAppContext` was added to simplify the logic for handling different behavior for create and edit since some data is not available without the context
We want to know the longterm purpose for enabling that feature.

[2021-12-20 18:20] himanshu007-creator commented on #121655
hey i would like to work on this issue

[2021-12-20 19:01] bvader opened #121684 "[Metrics] [Dashboards] Several viz on [Metricbeat System] Host overview ECS dashboard are broken"
**Kibana version:** 7.16.X (I believe this is broken in 7.15.X, and was working in 7.14.X)

**Elasticsearch version:** 7.16.X (I believe this is broken in 7.15.X, and was working in 7.14.X)

**Server OS version:** N/A

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Several Viz on [Metricbeat Sy

[2021-12-20 19:05] yiyangliu9286 opened #121685 "[Security Solution] UX / Component tracking: Update bulk actions component for Rule's table when EUI component is ready"
## Summary
In the final designs for [Epic] Bulk Editing of Detection Rules ([Epic](https://github.com/elastic/security-team/issues/1973), [Figma](https://www.figma.com/file/gLHm8LpTtSkAUQHrkG3RHU/%5B8.1%5D-%5BEpic%5D-Rule-Immutability%2FCustomization?node-id=602%3A115614)), it was referred to the latest designs for the bulk actions interaction pattern which has not yet become a EUI component. Thus

[2021-12-20 19:06] elasticmachine commented on #121685
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-20 19:08] mostlyjason commented on #121619
Maybe the confusion here is the expectation around what is currently enabled vs what was enabled it the past? What about adjusting the text at the top of the column to say "Enabled inputs" to indicate that its showing the current state of the integration policy?

[2021-12-20 19:11] kaiyan-sheng commented on #121684
cc @fearful-symmetry This might be a Beats problem than Kibana.

[2021-12-20 19:13] mistic opened #121686 "Failing ES Promotion: apis Machine Learning jobs jobs_summary gets job summary with job ID supplied as ML Poweruser"
**X-Pack API Integration Tests
x-pack/test/api_integration/apis/ml/jobs/jobs_summary.ts**

**Default CI Group #18 / apis Machine Learning jobs jobs_summary gets job summary with job ID supplied as ML Poweruser**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot for 8.1 (main).

For more information on the Elasticsearch snapshot promotion process including how

[2021-12-20 19:13] elasticmachine commented on #121686
Pinging @elastic/ml-ui (:ml)

[2021-12-20 19:13] elasticmachine commented on #121685
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-20 19:14] justinkambic commented on #121655
Hello @himanshu007-creator - certainly if you'd like to fix this copy mistake we'd welcome your contribution.

Please review https://www.elastic.co/guide/en/kibana/master/contributing.html, it will give you all the info you'd need to publish a PR to fix this bug in a merge-able state.

Also, please look at https://www.elastic.co/community/contributor to check out the Elastic Contributor Program.

[2021-12-20 19:16] mistic commented on #121686
This test was failing the es promotion and was skipped.

main/8.1: https://github.com/elastic/kibana/commit/18d7793230975204e6dfe7f6b2b2beb4929bb91c

[2021-12-20 19:32] stephmilovic commented on #121380
@karanbirsingh-qasource this is fixed, can you please confirm?

[2021-12-20 20:00] stratoula commented on #121684
@bvader what do you mean that the `Drop last bucket` is not set? How do the Panel options look when you open a broken gauge?

I just checked it on a 7.16.2 instance and I can see that the `Drop last bucket` setting is set to true.

[2021-12-20 20:00] elasticmachine commented on #121684
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-20 20:29] joeygoksulextego commented on #36266
![CleanShot 2021-12-20 at 23 28 00@2x](https://user-images.githubusercontent.com/79305018/146828689-8a194734-7c60-4cd7-9d7d-9177fa6d3a73.jpg)

I'm having the same problem with the latest ELK version 7.16.1

[2021-12-20 20:30] joeygoksu commented on #36266
![CleanShot 2021-12-20 at 23 28 00@2x](https://user-images.githubusercontent.com/79305018/146828689-8a194734-7c60-4cd7-9d7d-9177fa6d3a73.jpg)

I'm having the same problem with the latest ELK version 7.16.1

[2021-12-20 20:34] #119954 closed

[2021-12-20 20:43] tsullivan commented on #120278
Updated the description of the bug with info from: https://discuss.elastic.co/t/export-to-csv-shows-blank-fields/292218/8?u=tsullivan

[2021-12-20 21:24] yiyangliu9286 commented on #120277
Adding these issues to the original list:

**Low-hanging fruit**
- [ ] https://github.com/elastic/kibana/issues/121685

**Large frontend fixes**
- [ ] https://github.com/elastic/kibana/issues/121695
- [ ] https://github.com/elastic/security-team/issues/1912 (Pending product to finalize the product requirements)

**Fixed:**
- [ ] https://github.com/elastic/kibana/issues/117460

[2021-12-20 21:44] neptunian opened #121705 "[Stack Monitoring] Add readme and dev_docs to monitoring plugin"
Similar to other plugins like [APM](https://github.com/elastic/kibana/tree/main/x-pack/plugins/apm) or [Fleet](https://github.com/elastic/kibana/tree/main/x-pack/plugins/fleet) we should have documentation about how the app works.  We can add topics we think should exist to this list.

- [ ] General README.  Description of plugin, testing, explanation of collection types (legacy, metricbeat, agent

[2021-12-20 21:44] elasticmachine commented on #121705
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-20 21:49] dominiqueclarke opened #121707 "[Uptime] Monitor Management - Prevent saving monitors with duplicate names"
As an Uptime user, I want my monitor to all have unique names, so I can easily identify them in the UI Monitor Management table.

We should prevent saving a monitor if another monitor of the same name already exists.

**AC**
When attempting to save a monitor with an existing name, an error toast appears directing the user to choose a different name

[2021-12-20 21:49] elasticmachine commented on #121707
Pinging @elastic/uptime (Team:uptime)

[2021-12-20 21:55] danielharada opened #121710 "Index pattern always treats field named "_timestamp" as a date regardless of mapping"
**Kibana version:**
7.16.1

**Elasticsearch version:**
7.16.1

**Server OS version:**
ESS

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When creating an index pattern, if you have a field named `_timestamp` it will always be listed as an option for the time field for the index pattern, even if this f

[2021-12-20 22:11] thomasneirynck commented on #92309
Closing, this is due to mismatch in 7.x and 8.x line configs in cloud test-suite. This setting is removed in 8.x.

[2021-12-20 22:11] #92309 closed

[2021-12-20 22:12] thomasneirynck commented on #81844
Closing. This settings is removed in 8.x line.

Did put a PR up to fix this for subsequent patches on 7.16 (if any) https://github.com/elastic/kibana/pull/121712

[2021-12-20 22:12] #81844 closed

[2021-12-20 22:20] cpiment opened #121713 "SassError while building visualization plugin in Kibana 7.14 source"
**Kibana version:**
7.14.x

**Elasticsearch version:**
7.14.x

**Server OS version:**
Tested on Arch Linux using Elasticsearch and Kibana official docker images

**Browser version:**
N/A

**Browser OS version:**
N/A

**Original install method (e.g. download page, yum, from source, etc.):**
Docker image

**Describe the bug:**
I'm working with the maintainer of [Enhanced Tables Plugin](https://githu

[2021-12-20 22:26] tylersmalley commented on #120878
@dminovski0 yeah, I believe this can happen when Bazel is building across partitions which you pointed to. Is this still an issue for you? The Windows specifics should be outlined [here](https://www.elastic.co/guide/en/kibana/current/development-getting-started.html#developing-on-windows).

[2021-12-20 22:49] elasticmachine commented on #121710
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-20 22:53] dminovski0 commented on #120878
@tylersmalley The `yarn kbn bootstrap` was successful after the steps I mentioned in the edit. But, then the `yarn start` command returned errors with the packages node-sass and re2. I rebuilt node-sass with npm and downloaded the re2.node binary from https://github.com/uhop/node-re2/releases/download/1.17.1/win32-x64-93.gz. Otherwise, it returned an error with a message that the module is compile

[2021-12-20 23:23] rashmivkulkarni commented on #91043
closed via https://github.com/elastic/kibana/pull/121362

[2021-12-20 23:23] #91043 closed

[2021-12-20 23:44] bvader commented on #121684
Hi @stratoula Here is a pic of 7.16.0 ...
I probably made a bad assumption on the versions but I was thiking 7.16.1/were just log4Shell related.
Drop Last Bucket is set to No in 7.16.0
I will check 7.16.1 / .2
<img width="1617" alt="Screen Shot 2021-12-20 at 3 41 30 PM" src="https://user-images.githubusercontent.com/15572155/146847114-86736ce3-4087-4ddd-80e9-9e8eb974eb0c.png">

[2021-12-20 23:56] bvader commented on #121684
7.16.1 Is also set to No
<img width="1217" alt="Screen Shot 2021-12-20 at 3 55 15 PM" src="https://user-images.githubusercontent.com/15572155/146848131-1233509b-e111-448f-943f-5446a818c4f5.png">

[2021-12-21 00:03] bvader commented on #121684
@stratoula

I just checked on a fresh Docker Install of Stack 7.16.2 with Metricbeat 7.16.2 all I did was run setup and the Drop the Last Buck is set to No

Are you sure you don't have a legacy Dashboard?

<img width="1389" alt="Screen Shot 2021-12-20 at 4 01 00 PM" src="https://user-images.githubusercontent.com/15572155/146848579-2eee1ddf-43c2-4d6c-b23a-68eb1e362964.png">

[2021-12-21 00:41] bvader commented on #121684
@stratoula  Interesting in the file under `kibana/7/visualizations` in metricbeat
this file `83e12df0-1b91-11e7-bec4-a5e9ec5cab8b-ecs.json`
Which I think is the file for this visualization
`CPU Usage Gauge [Metricbeat System] ECS`

This section below is missing this setting which is what sets the drop last bucket.

`"drop_last_bucket": 1,`

[code]
When I edited that file, added that setting, delet

[2021-12-21 00:47] tsullivan commented on #121710
I can reproduce this.

After creating the index pattern, the list of fields has the correct type for my `_timestamp` field:
![image](https://user-images.githubusercontent.com/908371/146851824-35053883-656a-4daa-a156-58485a830436.png)
But when running the search, the field is added to the query as a `date_time` field:
![image](https://user-images.githubusercontent.com/908371/146851886-dcf49318-502e

[2021-12-21 00:50] tsullivan commented on #121710
When looking at requests fired before the search request, there is a request for this endpoint:
`<host>/api/index_patterns/_fields_for_wildcard?pattern=sparse*&meta_fields=_source&meta_fields=_id&meta_fields=_type&meta_fields=_index&meta_fields=_score`.

The response contains this:
[code]

[2021-12-21 01:11] bvader commented on #121684
@stratoula
Upon further research, Unfortunately I believe this is broken is 7.15.X versions as well.
I went back to 7.14.X and it works, `Drop Last Value` is set to `Yes` it looks like there was some major change to the way dashboards were loaded starting in 7.15.
7.14.X look correct...  7.15.X on looks incorrect.

[2021-12-21 01:25] dedemorton commented on #111478
This problem is fixed in https://github.com/elastic/kibana/pull/121153

[2021-12-21 01:25] #111478 closed

[2021-12-21 01:48] fearful-symmetry commented on #121684
Sorry, coming in a bit late to this conversation, this looks like purely a problem with `Drop Last Value` getting improperly set? This is on native metricbeat? I'm not a kibana expert, so I don't know _quite_ what I'm looking at in the visualizations themselves.

[2021-12-21 03:25] bvader commented on #121684
Yes this is for native metricbeat.

These are the core host system level metrics dashboard & visualizations.

It does make me wonder if perhaps this setting is missing on tens or potentially hundreds of visualizations though.

The drop last bucket is very common for gauges etc.

@simianhacker  It's probably very familiar with these.

I have not tested with elastic agent. Perhaps I will do that nex

[2021-12-21 05:11] #109897 closed

[2021-12-21 05:28] shubhamkanwar-qasource commented on #121613
Hi @cavokz,
We have reported the issue and we are not aware about the right person. So could you please confirm if we need to transfer the issue and which repo we can tranfer.
Thanks!!

[2021-12-21 06:45] kibanamachine commented on #120782
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5952#efba10ad-b85e-4cd1-92e5-22a63d4987e5)

[2021-12-21 06:57] stratoula commented on #121684
@bvader even there is no drop_last_bucket setting we run a migration that adds the drop_last_bucket to true if the property doesn't exist. https://github.com/elastic/kibana/blob/main/src/plugins/visualizations/server/migrations/visualization_common_migrations.ts#L23

I just tested it. I created a 7.11 TSVB gauge (it doesnt have the property) and imported it into 7.16 and the migration run. The onl

[2021-12-21 07:03] kibanamachine commented on #88796
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5951#eb235919-71f3-4708-9911-3c3ac368f22c)

[2021-12-21 07:14] karanverma-qasource commented on #121265
Hi @janmonschke,

We have validated above issue on newest 8.0.0 snapshot build and the issue is fixed.✅

[code]
**Screen-records:**

https://user-images.githubusercontent.com/91867110/146884533-1fcbb2b0-fad0-4500-8435-af48d320a1c0.mp4

Thanks !

[2021-12-21 07:28] kertal commented on #8918
We're grouping multi fields in the UI, like this
<img width="555" alt="Bildschirmfoto 2021-12-21 um 08 22 27" src="https://user-images.githubusercontent.com/463851/146888426-69ddd853-4dad-45f0-82c3-a1da470ce5ca.png">
Here we have `customer_first_name` as text and keyword field. Ideally we would just have `customer_first_name` that the user could add, and Elasticsearch would decide which field to u

[2021-12-21 07:46] bvader commented on #121684
Perhaps that is the problem `drop_last_bucket` should  not be set to `true` it should be set to `1|

[2021-12-21 07:47] Kunzetsov opened #121725 "[PieVis] Adapt for Canvas and Lens."
## Introduction

After moving out the `pieVis` expression from `vis_types`, it is required to decide what to add to the existent API of `pieVis`.

## Short investigation

Comparing `pieVis` from `vis_types` and `lens_pie_renderer`, there are such differences in the API and in the functionality:

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">

<colgroup>
<col  clas

[2021-12-21 08:05] formgeist commented on #36266
@joeygoksu We probably need more information about your setup before assuming this is related. For instance, I noticed that the transaction type selector is empty. Can you double-check that you have transaction documents and they have a `transaction.type` value set?

![146828689-8a194734-7c60-4cd7-9d7d-9177fa6d3a73](https://user-images.githubusercontent.com/4104278/146893383-d83dfd14-dd25-4070-a81

[2021-12-21 08:09] elasticmachine commented on #121725
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-21 08:09] elasticmachine commented on #121725
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-21 08:11] stratoula commented on #121684
When I say true I mean 1, see here https://github.com/elastic/kibana/blob/main/src/plugins/visualizations/server/migrations/visualization_common_migrations.ts#L37, the value is set to 1.

You said that it worked on 7.14.2 but not on 7.15+ right? Maybe something changed on the beats side?

[2021-12-21 08:16] pgayvallet commented on #121051
The offset (2507670267 - 2419200000) represents just a bit more than 24h.

Looking at the `flight` sample dataset:

The `currentTimeMarker` is `2018-01-09T00:00:00`

https://github.com/elastic/kibana/blob/61ab4a3c59e062ac440a8c7bfcaa089cb32d04d4/src/plugins/home/server/services/sample_data/data_sets/flights/index.ts#L37-L38

And looking at the data in the `src/plugins/home/server/services/sample_d

[2021-12-21 09:00] afharo opened #121728 "[Telemetry-Tools] `Omit<>` is not supported"
The PR #121467 is failing the Telemetry Tools check because expressions like `Omit<>` are not supported.

[2021-12-21 09:00] elasticmachine commented on #121728
Pinging @elastic/kibana-core (Team:Core)

[2021-12-21 09:00] deepikakeshav-qasource commented on #120722
Hi @marshallmain,

We have validated this issue on **8.0.0 SNAPSHOT** and observed that issue in fixed.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/146901456-b2351d25-c623-4577-9c0f-8df8b5c32031.png)

We will be keeping this issue open for final bug regress, once the 8.0.0 BC build available and will close then.

Thanks!!

[2021-12-21 09:03] joeygoksu commented on #36266
It seems like I have a problem with the APM agent. I'm using the latest APM agent versions (3.26.0)
Somehow I have metadata but not transactions and spans.

![CleanShot 2021-12-21 at 12 02 41@2x](https://user-images.githubusercontent.com/6523823/146902005-f6ade4f7-7aec-4059-99c0-b9a1b6d21e17.jpg)

![CleanShot 2021-12-21 at 11 53 26@2x](https://user-images.githubusercontent.com/6523823/146901838-bd

[2021-12-21 09:22] paulb-elastic commented on #107659
Closing in favour of https://github.com/elastic/uptime/issues/425 and the additional discussion in https://github.com/elastic/beats/issues/27924

[2021-12-21 09:22] #107659 closed

[2021-12-21 09:33] formgeist commented on #36266
@joeygoksu Seems like it's an instrumentation or agent issue, but I can recommend opening a new topic in our [Discuss forum](https://discuss.elastic.co/tags/c/observability/apm/58/nodejs) where you'll be able to get help on troubleshooting this issue you're having.

[2021-12-21 09:34] stratoula commented on #121684
Yes so we investigated with @flash1293 and we found out what goes wrong. It has to do with the above mentioned

[2021-12-21 09:35] formgeist commented on #121405
You're not the only one...

[2021-12-21 09:43] afharo commented on #111589
It's worth noting that this test behaves differently on Cloud. In the _normal_ CI, it boots Kibana with a custom plugin that replaces the public Newsfeed service (https://feeds.elastic.co/kibana/v7.15.0.json) with a mocked local one. On Cloud tests we don't mock the service, so we only expect to have something.

Since `7.15.0` was released on Sep 22, and this test failed on the 8th, my first thoug

[2021-12-21 09:49] vitaliidm commented on #121383
@karanbirsingh-qasource

According to https://www.elastic.co/guide/en/kibana/current/kuery-query.html#_terms_query, "rule testing" is a valid query.

Please, refer to:

That means, "rule testing" runs against all fields in index, i.e. perform free search text.

I've created a rule with a custom query "rule testing", and then looked at preview.
<img width="1018" alt="Screenshot 2021-12-21 at 09 38

[2021-12-21 09:50] kertal opened #121731 "[Discover] Improve rendering performance of long field values"
We've introduced `discover:maxDocFieldsDisplayed` in #93437 to limit the number of field when rendering the `Document` column
<img width="693" alt="Bildschirmfoto 2021-12-21 um 10 35 15" src="https://user-images.githubusercontent.com/463851/146906776-6e4468f5-41c0-44cd-a408-5bca504da018.png">
This works to speed up the rendering of documents with lots of field

To speed up rendering of documents w

[2021-12-21 09:50] elasticmachine commented on #121731
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-21 10:06] dosera commented on #94553
after upgrading to 7.16.2 I can confirm that this is no longer an issue

[2021-12-21 10:12] karanverma-qasource commented on #121383
Hi @vitaliidm,

Thank you so much for your detailed description on above question.

[2021-12-21 10:12] #121383 closed

[2021-12-21 10:16] kibanamachine commented on #117290
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5962#ec6f7e17-9a83-4ea2-8246-b97a2ce9bbc6)

[2021-12-21 10:21] formgeist commented on #119613
Just bringing over @sophiec20's [comment](https://github.com/elastic/kibana/issues/119617#issuecomment-978182256) from a related issue:

I agree that it would be great to reduce the wait time to get any results, but isn't it misleading when adding an insignificant correlation value or one with "very low" impact? I imagine the user expects the view to filter out all the noise and only present value

[2021-12-21 10:24] kertal commented on #121141
We intend to have a MVP ready in our next minor. So then we would need this feature. The next steps would be to implement editing, once this is done, we would not need this logic anymore, since it should be possible to create the `Search threshold` rule in the Rules Management UI

[2021-12-21 10:25] muskangulati-qasource opened #121735 "[Security Solution] The warning message for trusted applications on gold/basic license does not come initially to inform the user. It comes only when the user actually updates something"
**Description:**
The warning message for trusted applications on gold/basic license does not come initially to inform the user. It comes only when the user actually updates something

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. License should be Gold/basic
3. Use the command to degrade the license to basic:
`POST /_license/start_ba

[2021-12-21 10:25] elasticmachine commented on #121735
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 10:25] elasticmachine commented on #121735
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-21 10:26] vipulsrivastava-qasource commented on #106573
Hi @kpollich

We have validate this ticket on **7.16.2** build and found that issue is **Not Fixed**.  Add integration is displayed when adding integration from policy page instead of Add < Name of integration > integration.

Please find build and testing details.

[code]

**Screens Recording**

https://user-images.githubusercontent.com/69579402/146904499-882df17a-abf1-4d5c-aed6-0d827fa4249b.mp4

[2021-12-21 10:30] manishgupta-qasource commented on #121735
Reviewed & assigned to @kevinlog

[2021-12-21 10:35] dasansol92 commented on #121735
@kevinlog I'm fixing this on my pr about event filters license downgrade experience. I think this banner shouldn't appear when adding new Trusted Applications, only when editing a Trusted Application that it's by policy and the license is under platinum right?
Is this fix needed in 8.0 or can be done in 8.1?

[2021-12-21 10:48] #121728 closed

[2021-12-21 10:52] kibanamachine commented on #112515
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5963#de3ea7d1-fcba-4e48-905e-01a5ff5f34d2)

[2021-12-21 10:56] muneebsajjad commented on #113704
@yctercero  so what should b the replacement then i was looking into this package, if we plan to remove those comments what do you think about it ?
[query-string](https://www.npmjs.com/package/query-string)

[2021-12-21 11:04] afharo opened #121736 "[Status] UI redesign"
The Status API has grown in verbosity. We've adapted the Status UI along the way to accommodate those new pieces of information. However, in some cases, it feels like the current design didn't fit the new verbosity as good as expected (https://github.com/elastic/kibana/issues/120667#issuecomment-992565647).

Additionally, there are discussions about promoting this page by adding a link somewhere i

[2021-12-21 11:04] elasticmachine commented on #121736
Pinging @elastic/kibana-core (Team:Core)

[2021-12-21 11:04] elasticmachine commented on #121736
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-12-21 11:16] flash1293 commented on #112515
Can be fixed by backporting the main fix: https://github.com/elastic/kibana/blob/main/test/functional/services/field_editor.ts#L41

[2021-12-21 11:45] stratoula commented on #112515
I created a backport to 7.17 to close this https://github.com/elastic/kibana/pull/121741

[2021-12-21 11:49] estermv opened #121742 "[Unified Observability][Status visualization] Define content for logs section"
## Summary
In the Observability status component, we have a section for logs, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition logs status

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157434347-f10811e8-1757-443d-99cc-e28d9e78b047.png)

**Tit

[2021-12-21 11:49] elasticmachine commented on #121742
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:50] estermv opened #121743 "[Unified Observability][Status visualization] Define content for metrics section"
## Summary

In the Observability status component, we have a section for metrics, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157434861-1573b7f9-95af-41ed-a5cc-bdedfce151c4.png)

**Title**
Inf

[2021-12-21 11:50] elasticmachine commented on #121743
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:52] estermv opened #121744 "[Unified Observability][Status visualization] Define content for APM section"
## Summary

In the Observability status component, we have a section for APM, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157435279-064e36ad-0b84-4a2e-acf2-0bdfce6d6a54.png)

**Title**
APM

**

[2021-12-21 11:52] elasticmachine commented on #121744
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:53] estermv opened #121745 "[Unified Observability][Status visualization] Define content for Uptime section"
## Summary

In the Observability status component, we have a section for uptime, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157436043-c4a0f774-b3d1-4cc1-8927-dceb2a35fe24.png)

**Description*

[2021-12-21 11:53] elasticmachine commented on #121745
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:54] estermv opened #121746 "[Unified Observability][Status visualization] Define content for user experience section"
## Summary

In the Observability status component, we have a section for user experience, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157436497-ef0defca-69c3-41e7-81db-36668ef85897.png)

**Des

[2021-12-21 11:54] elasticmachine commented on #121746
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:55] estermv opened #121747 "[Unified Observability][Status visualization] Define content for alerts and rules section"
## Summary

In the Observability status component, we have a section for alert and rules, but the content is not defined yet.
We will need to define:
* The description when there is no data present
* "Add" button link
* Learn more button link

## Definition

### Data check `false`

![image](https://user-images.githubusercontent.com/4104278/157436837-1467e96c-c937-4b89-92c7-7ea93c8581ac.png)

**Des

[2021-12-21 11:55] elasticmachine commented on #121747
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-21 11:56] shubhamkanwar-qasource opened #121748 "[Security Solution]Unable to search with status "In Progress" under Case tab in search field."
**Describe the bug**
Unable to search with status "In Progress" under Case tab in search field.

**Build Details:**
Kibana version: 8.0.0 SNAPSHOT
Build: 48787
Commit: 8735b2a861cdaef4c61517b408ed984f9852aac5

**Browser Details:**
N/A

**Preconditions**
1. Run localhost:5601 on browser.
2. Kibana user should be logged in.

**Steps to Reproduce**
1. Create a new case in Case tab
2. Mark the Status

[2021-12-21 11:56] elasticmachine commented on #121748
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 12:03] sophiec20 commented on #119613
The motivation of this request is to improve handing of the "No correlations" experience. The motivation is not in order to show quicker results.

The cut off point between low and very low is based on statistical analysis of representative data. It is data dependent, so it's not an absolute yes/no decision.

Suppose the environment is moderately sized and this calculation takes 20 seconds to run.

[2021-12-21 12:04] Dosant commented on #121613
I assume this CCS setup UI is @elastic/kibana-stack-management,
Could you please help triage and route this?

[2021-12-21 12:07] muskangulati-qasource commented on #121735
Hi @dasansol92,

Previously, an issue for the same was logged here: https://github.com/elastic/kibana/issues/116563

Please let us know if we need to reopen the same.

Thanks!

[2021-12-21 12:16] Jolter opened #121750 "[Filters] Add support for creating regex filters"
**Describe the feature:**

As a user, I want to add a Filter to my search using a regex matching Operator in the "Add filter/Edit filter" dialog , so that I can do regex matching without using the Lucene/KQL search box.

I imagine that this dropdown would be extended with an additional Operator called "matches". (Other suitable name suggestions might be "matches regex", or insert your suggestion h

[2021-12-21 12:18] ghost opened #121751 "[Security Solution] Building block highlight not displayed when click on view details under timeline"
**Describe the bug**
Building block highlight not displayed when click on view details under timeline

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. alerts should be generated with building blocks

**Steps to Reproduce**
1. Navigate to Alerts tab under security
2. Click on "Timeline investigation" icon on alerts table
3. Now click on "View De

[2021-12-21 12:18] elasticmachine commented on #121751
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 12:20] gavinwye opened #121752 "[Security Solution] Threat intelligence"
**Describe the bug:**
The threat intel tab is displayed when there isn't any threat intel see screenshot

**Kibana/Elasticsearch Stack version:**
v 7.16.1 from Edne

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detect > Alerts

**Current behavior:**
The threat intel tab is displayed when t

[2021-12-21 12:20] elasticmachine commented on #121752
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 12:29] gavinwye opened #121754 "[Security Solution] rules count is wrong"
**Describe the bug:**
The rules page says we're showing 561 rules but users can only see 20 of 561, because of the way the pagination works.

**Kibana/Elasticsearch Stack version:**

v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detections > Rules

**Steps to reproduce:**
View the

[2021-12-21 12:29] elasticmachine commented on #121754
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 12:37] gavinwye opened #121755 "[Security Solution] Pagination shown when there is nothing to paginate"
**Describe the bug:**
When there are less than 20 results (the default?) on the page we're showing pagination.

**Kibana/Elasticsearch Stack version:**
v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detect > Exceptions

**Current behavior:**
When there are less than 20 results (the

[2021-12-21 12:37] elasticmachine commented on #121755
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 12:38] mistic commented on #117290
This test keeps failing and looks flaky. Skipping for now.

7.17: aff4ad6
7.16: 2bba735

[2021-12-21 12:48] gavinwye opened #121756 "[Security Solution] Exceptions or exception lists"
**Describe the bug:**
The exceptions page contains exceptions lists so the title of this page doesn't reflect the content on the page.

**Kibana/Elasticsearch Stack version:**
v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detections > Exceptions

**Current behavior:**

The heading

[2021-12-21 12:48] elasticmachine commented on #121756
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 13:07] gavinwye opened #121758 "[Security Solution] Secondary text fails AAA colour contrast"
**Describe the bug:**
Small secondary text fails AAA colour contrast

**Kibana/Elasticsearch Stack version:**
v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detect > Exceptions (probably all Kibana

**Current behavior:**
Text colour is set to `#69717d` on a background of `#fefeff`

[2021-12-21 13:07] elasticmachine commented on #121758
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 13:17] gavinwye opened #121759 "[Security Solution] Download icon looks like a share icon"
**Describe the bug:**
On the exceptions page the download icon looks similar to a [share icon](https://duckduckgo.com/?q=share+icon+up+arrow&t=brave&iar=images&iax=images&ia=images)

**Kibana/Elasticsearch Stack version:**

v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Current behavior:**

Clicked the share icon expecting to be able to share the list,

[2021-12-21 13:17] elasticmachine commented on #121759
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 13:21] gavinwye opened #121761 "[Security Solution] Exceptions list delete is dissabled"
**Describe the bug:**
the Delete icon is disabled, if functionality is not available (there doesn't seem to be a way to delete a list) it should be hidden. We shouldn't show users elements they can't do anything with.

**Kibana/Elasticsearch Stack version:**
v 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):**
Eden

**Functional Area (e.g. Endpoint management, timeli

[2021-12-21 13:21] elasticmachine commented on #121761
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 13:23] chrisronline opened #121762 "[Alerting] Identify questions that will make the alerting framework more observable"
Relates to https://github.com/elastic/kibana/issues/120542

As part of the effort to improve the observability of the alerting framework,  we need to identify which questions we are looking to answer. These questions will help us track which metrics need to be collected to deliver the best observability story to our users.

An example of such questions would be:

- Did a rule fail to execute?
- Ho

[2021-12-21 13:23] elasticmachine commented on #121762
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-21 13:24] pgayvallet commented on #121622
Yea it definitely would, we're not in a hurry to re-enabled those tests. If we know that short/mid term these issues will go away by removing the default integrations, it's perfectly fine with us

[2021-12-21 13:29] cnasikas commented on #109822
@katrin-freihofner Should we close the issue?

[2021-12-21 13:31] cnasikas commented on #113757
Implemented by https://github.com/elastic/kibana/pull/117582

[2021-12-21 13:31] cnasikas commented on #113757
https://github.com/elastic/kibana/pull/117582

[2021-12-21 13:31] #113757 closed

[2021-12-21 13:34] cnasikas commented on #94376
@YulNaumenko Should we close the issue as we now provide an ITOM connector?

[2021-12-21 13:36] dominiqueclarke commented on #121348
@paulb-elastic Do you think this is critical to fix in 8.0?

[2021-12-21 13:43] simitt commented on #121266
Both options look valid, of course the second option, where the apm api key creation is integrated and not directing the user to a different page would be even nicer.

[2021-12-21 13:50] miltonhultgren opened #121764 "[Infra] Replace usage of DataView.fields type with FieldSpec[]"
### Summary
Based on https://github.com/elastic/kibana/pull/121367#discussion_r772155619 we were informed that part of our code depend on an implicit type `DataView.fields`, while the rest of Kibana uses the type `FieldSpec[]`.

We should go through the layer above this code https://github.com/elastic/kibana/blob/main/x-pack/plugins/infra/common/log_sources/resolved_log_source_configuration.ts#L68

[2021-12-21 13:50] elasticmachine commented on #121764
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-21 13:57] miltonhultgren commented on #120377
I've done some digging but I cannot find a good field to use for the `container uptime` idea. We do have `docker.container.created_at` but this isn't 100% the start time. A container can be created with `docker create` only to later be started with `docker start` (`docker run` is a combination of these commands). Tips on this would be great.

Another quick note: Once we link into the Metrics Explo

[2021-12-21 14:09] einatjacoby opened #121767 "[Security Solution] Cases screen empty state has 2 identical CTA buttons with different labels"
**Describe the bug:**
In an empty Cases screen, the upper right CTA says "Create new case" while the empty state table button says "Add New Case". Also, the technical writers took this as an opportunity to change texts to best practices regarding title case, not using words like "new" "please", etc.

**Kibana/Elasticsearch Stack version:**
v 7.16.1

**Original install method (e.g. download page, y

[2021-12-21 14:09] elasticmachine commented on #121767
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-21 14:09] elasticmachine commented on #121767
Pinging @elastic/security-threat-hunting-cases (Feature:Cases)

[2021-12-21 14:11] kpatticha commented on #107347
I'm working on renaming all the files in `x-pack/plugins/apm/public/**/*` folder.
Draft PR to track the progress https://github.com/elastic/kibana/pull/119899

[2021-12-21 14:34] janmonschke commented on #121504
@karanbirsingh-qasource Do you know if this ever worked as intended? I am guessing this has always been broken?

[2021-12-21 14:40] Mpdreamz opened #121770 "Support `latest` as version for Fleet API package installations."
**Describe the feature:**

Fleet has two install package API's :
* `/epm/packages/{pkgName}/{pkgVersion}`
* `/epm/packages/{pkgKey}`

To aid automated installations it could make sense to support a `latest` moniker for `pkgVersion` to help resolve the latest valid package for the Kibana version Fleet is running under.

**Describe a specific use case for the feature:**

- Make automated deployment

[2021-12-21 14:40] elasticmachine commented on #121770
Pinging @elastic/fleet (Feature:EPM)

[2021-12-21 14:44] lucasfcosta commented on #116591
Hi all, considering that the SynthRUM team has https://github.com/elastic/kibana/issues/116522 scheduled, I was wondering whether we should keep that one open and tackle it ourselves or whether this initiative has been taken over by the Fleet/Ops team and you will do the necessary updates?

Asking because I'd like to know whether I should attempt an update or if you're already doing it/would like

[2021-12-21 14:45] lucasfcosta commented on #116522
As we previously discussed, addressing these flaky tests depend on having a local EPR.

This issue seems to have been somewhat superseded by the initiative described in https://github.com/elastic/kibana/issues/116591, so I added [a comment](https://github.com/elastic/kibana/issues/116591#issuecomment-998835922) to double check whether the Kibana Operations/Fleet teams expect us to implement the lo

[2021-12-21 14:55] yuliacech opened #121773 "[UA] Improve message returned by the `/status` API"
The `/status` API returns a string describing which deprecations need to be addressed before the cluster is ready for update. The endpoint checks if there are any critical ES deprecations and Kibana deprecations that need resolving or system indices that need migration. The string currently returns all 3 features even if there are 0 deprecations of that type, for example:
[code]
We need to update

[2021-12-21 14:55] elasticmachine commented on #121773
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-21 14:56] #121333 closed

[2021-12-21 15:33] #106573 closed

[2021-12-21 15:36] #59235 closed

[2021-12-21 15:38] osmanis opened #121785 "The `Ask Elastic` link sometimes goes to a 403 page"
**Kibana version:** 7.16.x ?

**Describe the bug:**
For deployments managed in Elastic Cloud, The `Ask Elastic` link from the Kibana header goes to a 403 page if the user does not have access to `support.elastic.co` which can happen. A better link would be to send users over to `cloud.elastic.co/support` where users won't run into the 403 page.

**Steps to reproduce:**
1. Log in to Elastic Cloud a

[2021-12-21 15:39] nchaulet commented on #118214
I think it will make sense to have a reset API for 7.x. This will really help as in most of our SDH we provide information to reset default policies.

One good starting point and the less risky option will be to implement a reset preconfigured policy, something like this:

[code]

That API will delete all the saved object related to the default policies:
* Package policies
* Default agent policies

[2021-12-21 15:44] exalate-issue-sync[bot] opened #121788 "AppServices Portion of this project"

[2021-12-21 15:45] joshdover commented on #116591
@lucasfcosta We don't have any immediate plans to address this for all of Kibana CI right now. What I would recommend is moving any functional tests that depend on packages to a separate functional suite that can be added to the docker CI group and use the same pattern we use in the Fleet functional tests.

[2021-12-21 15:47] #120763 closed

[2021-12-21 15:48] joshdover commented on #121542
My plan was to remove support for setting this field from the service completely. I don't think we need this functionality as this is supposed to be specified in the package manifest. Please correct me if I am wrong.

[2021-12-21 15:51] exalate-issue-sync[bot] opened #121789 "Task to Sync to GH Demo (Renamed 2)"
Description changed on Jira side.

[2021-12-21 15:54] joshdover commented on #111737
@dikshachauhan-qasource Apologies for the confusing issue description. The screenshots you share show the functionality that I expect. All objects we install should have these meta properties.

You did catch the `.fleet-actions-results-ilm-policy` which is missing the `managed_by: fleet`, but I believe this is actually installed by Elasticsearch. I'm less worried about it since it is more explicit

[2021-12-21 15:56] FernDominguez opened #121791 "Problem with Refresh button"
**Kibana version: 7.16.1

**Elasticsearch version: 7.16.1

**Server OS version: CentOS v7

**Browser version: **
Chrome v96.0.4664.110

**Browser OS version:**
??

**Original install method (e.g. download page, yum, from source, etc.): **
 tar.gz download

**Describe the bug:**
In visualizations, the Refresh button is not updating the data if the dates selected are absolute.
If the dates are relat

[2021-12-21 16:03] tasneem-hyder commented on #111520
Any update on this team?

[2021-12-21 16:03] claudiopro opened #121793 "[RAC][APM] Chart fails to render with error when creating a new rule"
**Kibana version:**
8.1.0

**Elasticsearch version:**
8.1.0

**Server OS version:**
All

**Browser version:**
All

**Browser OS version:**
All

**Original install method (e.g. download page, yum, from source, etc.):**
Any

**Describe the bug:**
The chart to preview a rule fails to render with error when creating a new APM and User Experience rule.

**Steps to reproduce:**
1. Go to **Stack Manageme

[2021-12-21 16:07] tasneem-hyder commented on #85057
I have the same problem. Any update going on related to this?

[2021-12-21 16:07] cjcenizal commented on #121613
@Dosant Stack Management owns the Remote Clusters UI.

@shubhamkanwar-qasource The video you uploaded doesn't demonstrate any interaction with the Remote Clusters UI. Did that bit get cut off? If so could you please upload a new video or screenshots to help us understand the behavior you're seeing? Thanks!

@yuliacech You have some background with Remote Clusters on Cloud. Could you look into this

[2021-12-21 16:11] exalate-issue-sync[bot] opened #121794 "Performance Tests using Synthetics"

[2021-12-21 16:11] kibanamachine opened #121795 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/keyword_family/keyword·ts - detection engine api security and spaces enabled Detection keyword family data types Rule detects against a keyword of event.dataset "kql" rule type should detect the "dataset_name_1" from "event.dataset""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5980#5ade59d7-88bb-490d-9678-66f23348e18a)

[2021-12-21 16:17] #121710 closed

[2021-12-21 16:20] joshdover opened #121798 "[Fleet] Agent policies should not allow duplicate package policies"
We've had cases where duplicate IDs for the same package policy are added to the `package_policies` array of an agent policy. We have some uniqueness validation already here, but we may have gaps elsewhere: https://github.com/elastic/kibana/blob/2fa5a87a5f17d8a97b06db7f8d19a30809eb3ade/x-pack/plugins/fleet/server/services/agent_policy.ts#L556-L558

So far this has only been observed on 7.15.2. Bef

[2021-12-21 16:20] elasticmachine commented on #121798
Pinging @elastic/fleet (Team:Fleet)

[2021-12-21 16:22] joshdover commented on #121238
@cauemarcondes that change was already present in https://github.com/elastic/kibana/pull/119131 which was merged to 8.1 and 8.0

[2021-12-21 16:26] joshdover commented on #121157
@amolnater-qasource Can we revalidate this again now that we fixed it properly 😄

[2021-12-21 16:41] joshdover commented on #118967
Thanks all for entertaining my questions here. My primary reason for pushing back was that we were planning on focusing this experience for new users, however I suspect most new users are going to use Agent, not Beats. As it's been highlighted, there are several integrations which will likely direct users to Beats for some time. That said, I'm not sure all the gaps need to be closed between Agent

[2021-12-21 16:54] bvader commented on #121684
I think I found another place this is happening ... See Screen Shot Below
Metric App -> Inventory -> Detailed Host Metrics
<img width="1535" alt="Screen Shot 2021-12-21 at 8 51 40 AM" src="https://user-images.githubusercontent.com/15572155/146968423-f39be14d-c231-4b3c-a333-537f1f55cdc7.png">

[2021-12-21 17:04] dominiqueclarke commented on #119933
@paulb-elastic

This is a tricky issue to fix, as there are limitations from Lens.

This report uses a `top_values` for the breakdowns. It is a bit tricky to provide filters on top of this, but we have a few options.

<img width="1768" alt="Screen Shot 2021-12-21 at 11 04 23 AM" src="https://user-images.githubusercontent.com/11356435/146967487-17e3027a-a014-4689-82b9-884ed6e42ece.png">

1. Apply a

[2021-12-21 17:07] elasticmachine commented on #119836
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-21 17:27] simianhacker commented on #119090
I'm wondering if we should save this issue for the new Response Ops team to accomplish. My reasoning is that we will need to modify the framework to ensure that the `app_url` get's injected into the context of the Alert actions (in the Alerting Framework).

[2021-12-21 17:30] paulb-elastic commented on #119933
We'll discuss further in the next refinement session

[2021-12-21 17:31] #121793 closed

[2021-12-21 17:41] simianhacker commented on #119100
I feel like https://github.com/elastic/kibana/issues/119102 should just be a feature of the dedicated rules view instead of seperate epic task.

[2021-12-21 17:52] TinaHeiligers commented on #121736
The [plan](https://github.com/elastic/kibana/issues/120193) is to make the status page accessible through Kibana's navigation. The redesign would need some thought around how to make the page more detailed. We could, for example, think about what actions we could add to the page that a user could take to improve degraded performance or handle issues that their permissions allow.

[2021-12-21 18:29] #120192 closed

[2021-12-21 18:29] #121259 closed

[2021-12-21 18:54] kibanamachine commented on #121492
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/442#a3ecc641-306d-4f58-9ef3-107c47ef2e67)

[2021-12-21 19:02] stephmilovic commented on #119836
Investigating this, it looks like `exceptionBuilder` component gets its fields from an index that has a prefix in cross cluster and therefore does not exist, `logs-endpoint.events.*` in our `oblt_cli` cluster is called something like `remote_cluster:logs-endpoint.events.security-default`.

[code]
https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/management/pages/e

[2021-12-21 19:06] #112515 closed

[2021-12-21 19:11] stephmilovic commented on #119836
I don't see this working in the rule details either:
![hn](https://user-images.githubusercontent.com/6935300/146985011-6f197b8b-8f0b-42a6-ab8e-5caaafb8a819.gif)

[2021-12-21 19:14] stephmilovic commented on #121278
this is fixed by https://github.com/elastic/kibana/pull/121581

[2021-12-21 19:25] dedemorton commented on #118967
In the short term, should we just change the in-product tutorials to provide less risky advice?

The config should not show the elastic user. Instead it should show `cloud.auth: "<username>:<password>"`

Plus we should say something like:

In development environments, you can use the `elastic` user to get started quickly. Forgot the password? Reset in Elastic Cloud.

**Important:** In production e

[2021-12-21 19:32] stephmilovic commented on #120609
I actually think this is an Eui bug with `EuiComboBox`. look how it works on their demo page:
![eui](https://user-images.githubusercontent.com/6935300/146986637-a23382aa-49df-4d84-ada8-f29824320be8.gif)

The clear behavior does not clear invalid entries and i am not able to do so. i opened an issue with Eui: https://github.com/elastic/eui/issues/5500

@MadameSheema I'm not sure if you want to clos

[2021-12-21 19:41] #120798 closed

[2021-12-21 19:47] alexfrancoeur commented on #121785
@clintandrewhall I'd imagine that this falls on the shared UX team now but I couldn't find a team label

[2021-12-21 19:48] stephmilovic commented on #110844
@karanbirsingh-qasource can you please try to change the `status_code` mapping to be of type `long`??

[code]

[2021-12-21 20:06] #121006 closed

[2021-12-21 20:31] thomasneirynck opened #121822 "[Maps] gzip mvt tiles"
Gzip the mvt tiles when requesting them from Elasticsearch

[2021-12-21 20:34] stacey-gammon opened #121823 "Remove unreferenced deprecated APIs"
The following teams have deprecated plugin APIs that are no longer used and can be safely removed:
 - [ ] @elastic/kibana-app-services : data, expressions, es-query, dataViews, screenshotMode
 - [x] #121956
 - [x] @elastic/kibana-presentation : dashboard
 - [x] @elastic/kibana-security : licensing

<img width="346" alt="Screen Shot 2021-12-21 at 3 31 04 PM" src="https://user-images.githubuserconte

[2021-12-21 20:38] michaelolo24 commented on #121751
@monina-n - would you consider this a bug. I believe this is happening because we're showing the row that the opened side panel is referencing which is superseding the building block styling. I think that's okay, but wanted to confirm with you first.

[2021-12-21 20:41] cauemarcondes commented on #121238
@sqren  I tested on `8.0` and I couldn't reproduce the error.

[2021-12-21 20:44] pgayvallet commented on #116095
bad bot.

[2021-12-21 20:49] kibanamachine opened #121826 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_controls_integration·ts - dashboard app using current data Dashboard controls integration Interact with options list on dashboard Applies options list control options to dashboard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5995#6cae0301-23ca-4037-a6ef-6a88fd4a206a)

[2021-12-21 21:01] #119487 closed

[2021-12-21 21:15] kevinlog commented on #119836
@stephmilovic thanks for looping me in.

I'm not sure that this is Endpoint specific.  Based on what's in the bug description, it looks like the index mappings needed to create Rule exceptions are not populating correctly.  The screenshot also shows a modal that is specific to rules.

Your analysis on the Endpoint index `logs-endpoint.events.*` may be a part of the issue, but it wouldn't populate

[2021-12-21 21:39] nchaulet opened #121830 "[Fleet] Add test data for development"
## Description

To be able to test Fleet features on larger dataset we could have a set of fixture that we use during development.

Endpoint use this script to generate test data https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/scripts/endpoint/README.md we could have something similar that create n policies, with n agents.

[2021-12-21 21:39] elasticmachine commented on #121830
Pinging @elastic/fleet (Team:Fleet)

[2021-12-21 21:55] YulNaumenko commented on #94376
Yes. Closing it as we have the proper integration.

[2021-12-21 21:55] #94376 closed

[2021-12-21 22:17] tsullivan commented on #87021
Reporting still does need to have some tests altered to be run as integration tests.

See https://github.com/elastic/kibana/pull/121585/files#r773423304

[2021-12-21 22:54] elasticmachine commented on #121565
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-12-21 22:55] nreese commented on #121565
cc @ryankeairns @miukimiu

[2021-12-21 23:01] bmorelli25 opened #121833 "[APM] APM integration always ready to upgrade"
### Kibana version

7.16.2

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

1. Spin up an ESS deployment and add the APM integration
2. You'll start with version 7.16.0 --> Upgrade that to 7.16.1.
3. The UI always wants you to upgrade after that:
<img width="788" alt="Screen Shot 2021-12-21 at 2 49 28 PM" src=

[2021-12-21 23:01] elasticmachine commented on #121833
Pinging @elastic/apm-ui (Team:apm)

[2021-12-21 23:34] mattkime commented on #110897
exalate is a great way to accidentally close issues

[2021-12-22 00:07] asazallesmilner commented on #116915
Hi, I'm not sure where the best place to put this is, but I believe I have identified a defect in the new timelion implementation.
When you resize a window using the new method and make it smaller, the databounds actual scale up.
Ie
full size windows, bounds are 125 to -80
as I make the window smaller.
it scales higher and higher to have data bounds of 1000 to -800 making it very hard to view the

[2021-12-22 00:13] mattkime commented on #121823
@stacey-gammon I'm taking a look at this and I think the script generating `Unreferenced deprecated APIs` misses references between packages. `IndexPatternBase` isn't used by any kibana plugins but it is used by other packages.

[2021-12-22 02:50] elasticmachine commented on #121826
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-22 03:04] matschaffer commented on #120377
that uptime thing got me curious. Looks like `docker.container.status` is a string because the docker type is also a string

https://github.com/elastic/beats/blob/95626b8f1690344312c0831ab2bdcbccffe4d089/metricbeat/module/docker/container/data.go#L55

https://github.com/moby/moby/blob/master/api/types/types.go#L71

Looks like we'd probably need a beats update to get real uptime via a call to `dock

[2021-12-22 04:38] samratbhadra-qasource commented on #108959
Hi @joshdover, could you please checkout the boxes if the scenarios are correct.

[2021-12-22 05:31] karanbirsingh-qasource commented on #120711
Hi @michaelolo24

we have validated this issue on 8.0.0-SNAPSHOT and found it **Fixed** 🟢 .

**Build Details:**
[code]

**Snap-Shoot:**

https://user-images.githubusercontent.com/59917825/147040658-49a7fbc5-7ac9-4ba6-845e-a4da7470c60b.mp4

Hence we are closing this issue.

thanks!!

[2021-12-22 05:31] #120711 closed

[2021-12-22 05:47] karanbirsingh-qasource commented on #110844
Hi @stephmilovic

we have validated this issue on 8.0.0-SNAPSHOT with the updated mapping and found it **Fixed** 🟢 . No Error faced on network page for mentioned custom index.

**Build Details:**
[code]

**Snap-Shoot:**

https://user-images.githubusercontent.com/59917825/147042096-71e87f2a-1626-4b39-9997-935cb93639a6.mp4

Hence we are closing this issue.

thanks !!

[2021-12-22 05:47] #110844 closed

[2021-12-22 05:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6015#25812769-de65-4887-962e-184dcb35139b)

[2021-12-22 05:55] kibanamachine opened #121842 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/rollup·ts - lens app lens rollup tests "after all" hook: afterTestSuite.trigger for "should allow to switch from regular index to rollup index retaining config""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6015#25812769-de65-4887-962e-184dcb35139b)

[2021-12-22 05:55] kibanamachine opened #121843 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens - lens app "after all" hook: afterTestSuite.trigger in """
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6015#25812769-de65-4887-962e-184dcb35139b)

[2021-12-22 05:55] kibanamachine opened #121844 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens - lens app "after all" hook: afterTestSuite.trigger in "lens app""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6015#25812769-de65-4887-962e-184dcb35139b)

[2021-12-22 06:03] karanbirsingh-qasource commented on #121380
Hi @stephmilovic

we have validated this issue on 8.0.0-SNAPSHOT and found it not fixed . On UI data view still remains Alert if we uncheck the only detection alert checkbox.

**Build Detail's:**
[code]

**Detailed Observation**

Action | Result
-- | --
Click on “Show only detection alerts” but dont click on save button | Data view get changed to Data view “Alert”
Check advance setting of data sou

[2021-12-22 06:08] karanbirsingh-qasource commented on #121278
Hi @stephmilovic

we have validated this issue on 8.0.0-SNAPSHOT and found it still occuring 🔴

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/147043994-440772cf-6726-4735-9613-01b4f5de9f2a.mp4

[2021-12-22 06:21] shubhamkanwar-qasource commented on #121613
Hi @cjcenizal

Apologies for inconvenience, you had to face .

Please find the below video and screenshot of issue we are getting.

**Screenshot**

![ss](https://user-images.githubusercontent.com/91191307/147042297-f7bf1eb3-946c-40f7-bbc7-c8c3bef33e63.png)

**Screen Recording**

https://user-images.githubusercontent.com/91191307/147042006-07229ce8-49ec-4bc2-96a5-09defad36090.mp4

Please let us kno

[2021-12-22 06:31] ghost opened #121845 "[Security Solution][Timeline]timeline date/time sync not working for timeline"
**Describe the bug**
timeline date/time sync not working for timeline

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Timeline Page and create few timelines
- open any one timeline and set time filter to let say today and click on lock icon and sync the time with the whole application
- now move to other areas like host page , cases etc and timeline lock works there
- come bac

[2021-12-22 06:31] elasticmachine commented on #121845
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-22 06:56] stratoula commented on #116915
@asazallesmilner yes can you create a new issue for this ? Can you also share on the new issue the timelion expression? In order to be able to reproduce it? Thank you a lot :)

[2021-12-22 07:01] manishgupta-qasource commented on #121845
Reviewed & assigned to @michaelolo24

CC: @MadameSheema

[2021-12-22 07:29] sabarasaba commented on #121313
Fixed with https://github.com/elastic/kibana/pull/121646

[2021-12-22 07:29] #121313 closed

[2021-12-22 07:31] elasticmachine commented on #121791
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-22 07:41] stratoula commented on #121791
@FernDominguez thank you so much for submitting this. I could replicate it. Just for clarification, changing to absolute and updating an absolute date works fine
![image](https://user-images.githubusercontent.com/17003240/147053932-3b9b114e-1b09-4582-b652-a6b066dc9e49.png)
Also works if I have an absolute date as from and the to is set to `now`

The one that doesn't seem is when I hit Refresh when

[2021-12-22 07:56] simitt commented on #121798
Reproducable via following steps:

0. Create `7.14` deployment on Elastic Cloud
1. Navigate to _Kibana/APM/Settings/Schema_ and trigger migration to APM Integration (installs version `0.3.0`)
2. Update to `7.15.2`
3. manually update to apm integration `0.4.0`

I haven't seen this on any `7.16` deployments (or with the 7.16 APM Integration) yet, therefore not certain this can still happen in the la

[2021-12-22 08:26] #116058 closed

[2021-12-22 08:26] #117642 closed

[2021-12-22 08:27] #119153 closed

[2021-12-22 08:48] afharo commented on #121492
We need to backport https://github.com/elastic/kibana/pull/121626 to 7.16 as well

[2021-12-22 08:58] dikshachauhan-qasource opened #121854 "'meta properties' not available for .fleet_final_pipeline-1 pipeline."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]

2. Few integrations should be installed.

**Steps to reproduce:**
- Login tio kibana
- Navigate to Stack Management tab.
- Click on Ingest pipelines tab provided at L

[2021-12-22 09:02] pgayvallet commented on #121492
Woups, forgot to add `7.16` to the list of backports. thanks for taking care of it.

[2021-12-22 09:04] ES-Takashi commented on #18162
kibanaへのアクセス制御ができるのか教えてください。
例えば、40アクセスまでを可能として40以上アクセスがあった場合は受け付けないようにする

[2021-12-22 09:19] dikshachauhan-qasource commented on #111737
Hi @joshdover

Thanks for the feedback.

We have validated the above mentioned templates on 8.0 snapshot build and found only one as working fine.

**Screenshots:**
**.fleet_component_template-1:**
![image](https://user-images.githubusercontent.com/72375798/147063575-afb72a76-b1bc-4b16-8043-879039f5b11f.png)

For the `.fleet_final_pipeline-1` its not working fine and we have reported issue at : ht

[2021-12-22 09:19] elasticmachine commented on #121854
Pinging @elastic/fleet (Team:Fleet)

[2021-12-22 09:21] dikshachauhan-qasource commented on #121854
@manishgupta-qasource Please review

[2021-12-22 09:30] dasansol92 commented on #121735
@muskangulati-qasource As this is now happening from 7.16 I decided to create a separated PR for this and backport it to 7.17 and 8.0 (can you confirm this is happening in 7.17?)

The expected behaviour when license under platinum is:
- No banner and no assignment section when editing a global TA
- No banner and no assignment section when creating a new TA (is global by default).
- A banner and th

[2021-12-22 09:30] dasansol92 commented on #121735
PR: https://github.com/elastic/kibana/pull/121856

[2021-12-22 09:43] karanbirsingh-qasource opened #121858 "[Security Solution][Firefox 95.0.2 Only] Create Field description getting hidden beneath the scroll bar"
**Describe the bug**
[Firefox 95.0.2  Only] Create Field description getting hidden beneath the scroll bar

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Alert page
- Click on Filed and click on create field
- Observed that create field description getting hidden beneath the scroll bar for Firefox browser only

**Screen-Shoot**
![image](https://user-images.githubusercontent.c

[2021-12-22 09:43] elasticmachine commented on #121858
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-22 09:43] manishgupta-qasource commented on #121854
Reviewed & mention to @joshdover

[2021-12-22 09:51] shubhamkanwar-qasource commented on #121504
Hi @janmonschke,

Yes, this is seen not working for released version too, checked issue on 7.16.2 and same observation as this issue .
Please let us known if we are considering this as known issue then we can close this as keep it documented at our side.

**Screen Recording 7.16.0**

https://user-images.githubusercontent.com/91191307/147059115-07c41998-212e-4291-95e2-a83114d43f58.mp4

Please let u

[2021-12-22 09:56] manishgupta-qasource commented on #121858
Reviewed & assigned to @michaelolo24

CC: @MadameSheema

[2021-12-22 09:59] Kuznietsov opened #121859 "[Canvas] Adding support of `kibana_context` to `datasource expressions`."
## Introduction

At PR #119044 moving from `filters` to `kibana | selectFilter` has been performed. It was done according to the issue, described by @ppisljar at the issue #113530.
At that PR, casting `kibana_context` to `filter` has been done.

## Why casting `kibana_context` to `filter` was done and when will it be removed?
These are data source expressions, which are used at Canvas:
-  `demodat

[2021-12-22 09:59] elasticmachine commented on #121859
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-22 09:59] Kunzetsov commented on #121859
cc @ppisljar

[2021-12-22 10:07] vitaliidm opened #121860 "[Security Solution] Improve io-ts union type validation error message"
Currently io-ts validation of union type throws ambiguous error message. It can confuse user, who uses API, which payload is validated by io-ts.

Example

Union type

[code]

When validating payload

Payload:
[code]

The error messages received:

[code]

[code]
which is confusing, as action in payload equals to `edit`

Ideally we would want a message to be something like this:

[code]
without mark

[2021-12-22 10:07] elasticmachine commented on #121860
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-22 10:07] elasticmachine commented on #121860
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-22 10:16] sebelga commented on #120152
Fixed in https://github.com/elastic/kibana/pull/121174

[2021-12-22 10:16] #120152 closed

[2021-12-22 10:25] hktalent opened #121864 "[fatal][root] Error: dlopen(/Applications/kibana-7.16.2-darwin-x86_64/node_modules/re2/build/Release/re2.node, 0x0001)"
<img width="325" alt="image" src="https://user-images.githubusercontent.com/18223385/147080574-4012ac05-b962-47c2-9464-67e7122da7fc.png">

$ node -v
v14.17.6

cd /Applications/kibana-7.16.2-darwin-x86_64

xxx@win-btnnbr2te1a kibana-7.16.2-darwin-x86_64 $ bin/kibana
  log   [18:43:40.813] [fatal][root] Error: dlopen(/Applications/kibana-7.16.2-darwin-x86_64/node_modules/re2/build/Release/re2.node,

[2021-12-22 10:25] deepikakeshav-qasource commented on #99760
Hi Team,

We are Re-opening this issue as **"no value is displaying in "_score" column under alerts table, even hover actions are not working" in 8.0.0 Snapshot**

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/61860752/147077592-c04b3db1-0305-4e00-88a0-2fc8ad0a6eea.png)
Thanks!!

[2021-12-22 10:26] kowalczyk-p commented on #92347
This would be a great feature. Is there any chance for this in near time?

[2021-12-22 10:33] FernDominguez commented on #121791
That's what I also see. Changing an absolute value and clicking on "Update" works fine. It refreshes the data. Unless the selected dates were selected previously. In that case the results shown, where the previously calculated results. Not the updated ones.

But clicking on Refresh is when it seems it doesn't recognize the change.

Just in Visualize. Playing with that same saved visualization on a

[2021-12-22 10:50] cnasikas commented on #121629
Fixed by #121867. The fix is to deselect the selected cases when refreshing.

[2021-12-22 10:53] cnasikas commented on #121616
Fixed by #121867. The fix is to deselect the selected cases when refreshing.

[2021-12-22 10:58] peteharverson opened #121868 "[ML] Transforms: Warn if a task exists for a transform without a config"
The transform `GET` endpoint will now report an error if a task exists for a transform for which no config exists, for example if the config document or the whole transform internal index has been deleted accidentally while the transform is running - see https://github.com/elastic/elasticsearch/pull/81141.

The example response from `GET` when a transform task exists without a config is:

[code]

[2021-12-22 10:58] elasticmachine commented on #121868
Pinging @elastic/ml-ui (:ml)

[2021-12-22 11:16] Flixi555 commented on #54368
Any updates on this? Even with two year certificates this is becoming a real issue for us.

[2021-12-22 11:16] azasypkin commented on #18162
Hi @ES-Takashi ,

例えば、40アクセスまでを可能として40以上アクセスがあった場合は受け付けないようにする

Do you mean 40 active sessions in total or 40 active session per user account?

[2021-12-22 11:16] afharo commented on #121492
Backport to `7.16` merged! Closing the issue

[2021-12-22 11:16] #121492 closed

[2021-12-22 11:32] samratbhadra-qasource opened #121869 "[Fleet]: The cross icon (X)"

[2021-12-22 11:42] ES-Takashi commented on #18162
Hi@azasypkin

40 active sessionsを意味します。

[2021-12-22 11:45] joshdover commented on #121436
I think we should discuss this. Is the benefit of doing this over running the local EPR registry with stable test packages that we can control when they change, worth the downsides? I worry that implementing a mock API will be fragile and could give us a false sense of confidence in the tests.

Additionally, we are going to need to handle package changes, especially for these default packages whic

[2021-12-22 11:46] samratbhadra-qasource opened #121870 "[Fleet]:The save button is not enabled when user update policy namespace."
**Describe the bug:**
The save button is not enabled when user update policy namespace.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 48754
COMMIT: 474d83d2bbc5dbe28ac4b4d2e9ddcecd434671fa
ARTIFACT: https://snapshots.elastic.co/8.0.0-e48f8349/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Fleet

[2021-12-22 11:47] elasticmachine commented on #121870
Pinging @elastic/fleet (Team:Fleet)

[2021-12-22 11:47] samratbhadra-qasource opened #121871 "[Fleet]:The cross icon (x) is overlapping at search bar on Agents tab."
**Describe the bug:**
The cross icon (x) is overlapping at search bar on Agents tab.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 48754
COMMIT: 474d83d2bbc5dbe28ac4b4d2e9ddcecd434671fa
ARTIFACT: https://snapshots.elastic.co/8.0.0-e48f8349/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Fleet ta

[2021-12-22 11:47] elasticmachine commented on #121871
Pinging @elastic/fleet (Team:Fleet)

[2021-12-22 11:47] samratbhadra-qasource commented on #121870
@manishgupta-qasource please review.

[2021-12-22 11:47] samratbhadra-qasource commented on #121871
@manishgupta-qasource please review.

[2021-12-22 11:51] manishgupta-qasource commented on #121870
Reviewed & mention to @jen-huang

[2021-12-22 11:51] manishgupta-qasource commented on #121871
Reviewed & mention to @jen-huang

[2021-12-22 11:51] azasypkin commented on #18162
Sorry, not 100% sure which option of the two you meant, but I assume `40 active sessions in total`. If so, then would you mind explaining your use case? The more details, the better, feel free to use Japanese - we'll translate if needed.

What if a single user creates 40 active sessions (in different browser windows or browsers)? Would it mean that no one else will be able to log in? That would be

[2021-12-22 11:59] gmmorris opened #121872 "[Doc] Fix Email Connector docs to remove misleading use of "Human Name" format"
In [this issue](https://github.com/elastic/kibana/issues/116044) it was noted that our docs are misleading and give the impression we support the "Human Name" format for emails, which we do not.

The docs should be fixed until such as time as we can add support in https://github.com/elastic/kibana/issues/116044.

[2021-12-22 11:59] elasticmachine commented on #121872
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-22 12:01] cnasikas commented on #121748
Hey! Thank you for the feedback. This is expected behavior. The search bar utilized the [Simple query string query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#simple-query-string-syntax) to search in cases.

[2021-12-22 12:01] #121748 closed

[2021-12-22 12:08] deepikakeshav-qasource commented on #117983
Hi @banderror ,

We have validated this ticket on **8.0.0 Snapshot** and observed that issue is still occurring. please find the below details:

**Build Details:**
[code]

**Screenshot**

![image](https://user-images.githubusercontent.com/61860752/147090601-77f64358-01b0-4413-9ce2-7f3da0fde43c.png)

Thanks!!

[2021-12-22 12:17] #104339 closed

[2021-12-22 12:27] joshdover opened #121873 "[Fleet] Default pipeline not consistent updated on existing data streams during package upgrade"
We have an internal cluster `dev-oblt` that has encountered an issue on a 8.0.0-SNAPSHOT where upgrading the APM package did not update all data stream write indices to use the new pipeline which is breaking ingest because the old pipeline no longer exists.

We need to try to reproduce this situation and if we cannot, add better logging around the index template installation logic to help us catch

[2021-12-22 12:38] cnasikas commented on #84217
I think it will be very helpful to have:

## Sha256

This function is useful when you want to create grouping keys to be used in external services like PagerDuty (dedup key) or ServiceNow (correlation ID) where there is a limit on the number of characters you can post.

`{#sha256}}{{rule.id}}:{{alert.id}}:{{value}}{{/sha256}}`

## Nice to have:

### Set

If you want to take the unique values of an

[2021-12-22 12:42] cnasikas commented on #121767
Thanks for the feedback @einatjacoby!

[2021-12-22 13:18] rayafratkina commented on #69159
Any update on this? Looks like the server-side collection is now available.

[2021-12-22 13:26] muskangulati-qasource opened #121878 "[Security Solution] The view details button gets displaced after navigating to 'Assign Global' button for a trusted application entry"
**Description:**
The view details button gets displaced after navigating to 'Assign Global' button for a trusted application entry

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. License should be either gold or basic

**Steps to Reproduce:**
1. Navigate to the Trusted Applications tab
2. Add a new entry and observe the button displac

[2021-12-22 13:26] elasticmachine commented on #121878
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-22 13:26] elasticmachine commented on #121878
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-22 13:34] manishgupta-qasource commented on #121878
Reviewed & assigned to @kevinlog

[2021-12-22 13:36] formgeist commented on #119613
Thanks for clarifying - then I definitely misunderstood what the proposal was about. I fully support the motivation for showing results in the table 👍

[2021-12-22 13:39] elasticmachine commented on #121843
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-22 13:39] elasticmachine commented on #121844
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-22 13:40] stratoula commented on #121844
This also failed with the same error https://github.com/elastic/kibana/issues/121843
I don't think that it has to do with flakiness on our tests. Maybe something CI related?

@flash1293 wdyt?

[2021-12-22 13:45] kpollich commented on #121854
We need to update the test case here. The `_meta` property is not displayed in the ingest pipeline UI. We can check for it via dev tools, e.g.

[code]

![image](https://user-images.githubusercontent.com/6766512/147102059-9686cec4-4126-4830-8dd8-b10b36c7baf0.png)

Also, the issues mentions `.fleet-component-template-1`, but the screenshots are for the `.fleet-final-pipeline-1`. Can you confirm this

[2021-12-22 13:55] flash1293 commented on #121844
Agreed, let’s see whether it happens again

[2021-12-22 14:07] #121489 closed

[2021-12-22 14:11] nchaulet commented on #121873
I took a quick look at the obs cluster and the code we have and I think we have an issue with the code that update existing datastream we search for existing datastream with the pattern `${indexName}-*` and in the case of APM the datastream is `${indexName}.*-*`

[2021-12-22 14:28] dikshachauhan-qasource commented on #121854
Hi @kpollich

Thanks for the feedback.

We will validate same and update our testcase too.

And yeah, we made a typo error. I've corrected the same in description and body.

Thanks
QAS

[2021-12-22 14:44] formgeist commented on #115893
I've removed the needs design label and unassigned myself, as I have proposed a solution above that will make the error count badge not necessary. We can move this to the backlog, I don't have a particular indication of priority.

[2021-12-22 14:49] stratoula opened #121881 "[TSVB] Wrong filter by clicking a series agg timeseries chart split by terms"
**Kibana version:**
main

**Describe the bug:**
TSVB timeseries chart support the creation of filters by clicking the chart. When my TSVB is using the series agg and is split by terms the generated filters are wrong

![image](https://user-images.githubusercontent.com/17003240/147110531-39f26607-f5da-4189-934e-5c90d770bf6c.png)

In the screenshot above the `category.keyword` filter should not exist

[2021-12-22 14:49] elasticmachine commented on #121881
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-22 15:01] formgeist opened #121882 "[APM] Charts: Update comparison series styles to match the main series"
# Summary

Related to https://github.com/elastic/kibana/issues/119610 and https://github.com/elastic/kibana/issues/121520

We want to improve the legibility of the comparison series and match them to the main series palette.

![Frame 348](https://user-images.githubusercontent.com/4104278/147111634-4a80b933-dac4-4073-95a9-4e22a3341b94.png)

# Solution

We will change the comparison series styles fr

[2021-12-22 15:01] elasticmachine commented on #121882
Pinging @elastic/apm-ui (Team:apm)

[2021-12-22 15:03] formgeist commented on #119610
I've discussed the issue with our resident data visualization designer @gvnmagni and come to the decision that we need to update the comparison series style. As @katrin-freihofner suggested relying on the `euiPaletteColorBlind()` palette to supply the appropriate colors from the [color palette utility](https://elastic.github.io/eui/#/utilities/color-palettes) in EUI.

I've created an issue to upda

[2021-12-22 15:03] nchaulet commented on #121873
I forget about the `dataset_is_prefix` case in this case so API keys permissions should not be a problem and it's a problem to solve in Fleet.

[2021-12-22 15:09] kibanamachine opened #121883 "Failing test: API Integration Tests.test/api_integration/apis/home/sample_data·ts - apis home apis sample data apis install in the other space parameters should load elasticsearch index containing sample data with dates relative to now parameter"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6052#04c9d22c-381b-45d3-97ab-2bf48dce1c9d)

[2021-12-22 15:16] joshdover commented on #121873
Good catch. I have a feeling this isn't the only place that isn't handling this `dataset_is_prefix` option (also TIL about this option 🙃). Looks like something we should be able to handle easily by passing down this option and leveraging `generateTemplateIndexPattern` again here.

Adding the 7.17 label so we get that backported.

[2021-12-22 15:18] kpollich commented on #112095
## High-level implementation plan

Checking in here with a high-level plan for the Fleet team's implementation.

Our immediately obtainable goals for this are:
- Check stack-aligned packages into the Kibana Git repo
- Update Fleet setup to install bundled packages from disk
- Ensure other Fleet code paths account for bundled packages when possible

Thinking about these goals from a minimum viable

[2021-12-22 15:25] formgeist commented on #119617
The proposal to align the two tables makes sense to me. I don't foresee we need any design support in particular for this if we go with the current score indication in the failed transaction rate table and move over the impact badge to the latency correlations table.

[2021-12-22 15:33] joshdover commented on #118214
++ this keeps coming up in SDHs. I'm +1 on adding the very specific API @nchaulet mentioned above only to 7.x for the time being to help with those cases and only consider adding in 8.x if we still have not solved the problem fully (which I believe we have).

We can consider a more generic reset API in the future as needed.

[2021-12-22 15:33] joshdover commented on #118214
@kpollich any feedback on the proposal in https://github.com/elastic/kibana/issues/118214#issuecomment-998882129 based on your experience in the SDHs?

[2021-12-22 15:42] joshdover opened #121885 "[Fleet] Add "last data received" field to agent details"
Today we currently show a timestamp labeled "Last activity" which indicates the last time an Agent checked in with the Fleet Server.

![image](https://user-images.githubusercontent.com/1813008/147117336-aa02a427-8b2c-4cd2-a6f5-fe3312107068.png)

This timestamp can give a false sense of security that the agent is properly ingesting data and could hide network or configuration issues with the connec

[2021-12-22 15:42] elasticmachine commented on #121885
Pinging @elastic/fleet (Team:Fleet)

[2021-12-22 15:51] kpollich commented on #118214
100% on board with @nchaulet's proposal for a very specific API. We run through this exact process when recreating the cloud policy on a consistent basis in SDH's.

[2021-12-22 15:51] #121767 closed

[2021-12-22 15:53] azasypkin commented on #121482
Investigating the failure...

[2021-12-22 15:55] thomasneirynck commented on #105598
Closing this. This seems more about how the playback in the timeslider should behave, rather than an actual property of the top-hits layer.

1. segmented playback: this is the current behavior. The entire segment moves.
2. right-peg playback: only the right-peg moves. This creates the behavior that we would want for a "top-hits" layer.

Doing (2) is a different effort altogether.

[2021-12-22 15:55] #105598 closed

[2021-12-22 16:00] #121496 closed

[2021-12-22 16:01] thomasneirynck commented on #111313
cc @stratoula @ghudgins fyi - this is a similar request in Maps

[2021-12-22 16:06] joshdover commented on #118214
Thanks for taking a look, I'll open a separate issue and add to our board.

[2021-12-22 16:06] thomasneirynck commented on #94234
Closing. This is a great request, but unlikely will be picked up soon. Can reopen when this regains traction.

[2021-12-22 16:06] #94234 closed

[2021-12-22 16:10] joshdover opened #121887 "[Fleet] Add a preconfiguration reset API"
Scoped down version of #118214

Adding this API would help support in fixing issues that are coming up frequently in the 7.x release series. Having an API over manual workaround steps allows us to have a consistent remediation that is not vulnerable to human mistake.

### Proposal

[code]

This API will delete all the saved objects related to the default policies:
* Package policies
* Default agen

[2021-12-22 16:10] elasticmachine commented on #121887
Pinging @elastic/fleet (Team:Fleet)

[2021-12-22 16:17] vadimkibana opened #121888 "Dashboard share menu redundant title"
**Kibana version:** `main` branch

**Describe the bug:**

When no URL options are present in sharing context menu, the "URL" title is still being rendered.

**Steps to reproduce:**
1. Got to any dashboard
2. Click "Share" -> "Permalink" -> Saved object
3. "URL" title is still visible, even if the there are no options

**Expected behavior:**

If there are no URL options, the "URL" title should not

[2021-12-22 16:18] ecezalp commented on #119497
Hello! CTI team here, there is a specific flow we have that was identified [here](https://github.com/elastic/security-team/issues/2370) - it would be great if it could be added to your considerations. Thank you 😃

[2021-12-22 16:18] elasticmachine commented on #121888
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-22 16:21] asazallesmilner opened #121890 "Timelion rescaling vertical bounds incorrectly on window resize"
**Kibana version:**
7.16.1
**Browser version:**
Multiple
**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
k8s install
**Describe the bug:**
When you resize a window using the new method and make it smaller, the databounds actual scale up.
Ie
full size windows, bounds are 125 to -125
as I make the window smaller.
it scales higher and higher to have

[2021-12-22 16:24] #110897 closed

[2021-12-22 16:24] afharo opened #121891 "[Logging] Config flag to disable the 8.0 deprecation warning"
**Describe the feature:**
Some users are confident and ready for the breaking changes in the logging system coming up in 8.0.

Let's add a flag in the config so that they can explicitly hide the deprecation warning.

**Describe a specific use case for the feature:**
- https://discuss.elastic.co/t/8-0-upgrade-assistant-and-the-changing-log-format-warning/292277
- ESS/ECE/ECK use cases.

[2021-12-22 16:24] elasticmachine commented on #121891
Pinging @elastic/kibana-core (Team:Core)

[2021-12-22 16:25] stacey-gammon commented on #119356
## Update 12/22
The following have completed removal:

- [x] Visualizations
- [x] Lens
- [x] Infra
- [x] Visualize
- [x] visTypeVega
- [x] visTYpeTimeseries
- [x] ml
- [x] transform

Thank you ML and Visualize team!

[2021-12-22 16:26] banderror commented on #117983
Thanks for testing! @vitaliidm could you please take a look?
Maybe it would be worth re-testing and fixing it directly in the `8.0` branch if it's is fixed in `main` but broken in `8.0` for some reason.

[2021-12-22 16:41] #119989 closed

[2021-12-22 16:41] #121653 closed

[2021-12-22 16:43] #118559 closed

[2021-12-22 16:45] nreese commented on #120504
closed with https://github.com/elastic/kibana/pull/121821

[2021-12-22 16:45] #120504 closed

[2021-12-22 17:05] nreese opened #121897 "[maps] change "show as" from EuiSelect to EuiButtonGroup"
Steps to view UI
* install kibana sample data set
* create new map
* Click "Add layer"
* Click "Clusters and grids"
* Select kibana sample data set in "Data view" select
* Change "show as" select to EuiButtonGroup so users can see all options at a single time.

<img width="400" alt="Screen Shot 2021-12-22 at 10 02 08 AM" src="https://user-images.githubusercontent.com/373691/147128936-abb9c882-378f

[2021-12-22 17:05] elasticmachine commented on #121897
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-22 17:05] #121873 closed

[2021-12-22 18:09] gmmorris commented on #113747
I've found another problem in the shape of our telemetry.

In a recent telemetry payload I found this under `stack_stats.kibana.plugins.alerts.count_by_type.`:
[code]

In the mappings we use the fields `metrics__alert__inventory__threshold`, but in practice the `.` hasn't been converted to `__`.
This makes it harder to build out a useful dashboard with Metrics data in it.

[2021-12-22 18:39] #118610 closed

[2021-12-22 18:49] nreese opened #121908 "[Maps] Use UI counters to instrument when a geo field is visualized with visualizeGeoFieldAction"
Discover, Lens, and data visualizer link geo_point and geo_shape fields to Maps for visualization. It would be great if we could track this usage to get a better understanding of which apps send the most users to Maps.

**Implementation:**
* Update [VisualizeFieldContext](https://github.com/elastic/kibana/blob/main/src/plugins/ui_actions/public/types.ts#L16) type to include `originatingApp: string

[2021-12-22 18:49] elasticmachine commented on #121908
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-22 19:03] stacey-gammon commented on #121823
hm, thanks for letting me know @mattkime, I will have to dig into this!

[2021-12-22 19:16] stacey-gammon commented on #121823
I have a suspicion there is an issue with tracking deprecated APIs coming from packages. A handful of others that I am testing seem to actually be unused. Testing this out here: https://github.com/elastic/kibana/pull/121911

Looks like the two you fixed from kbn/es-query were the only ones coming from packages, so all the rest should, 🤞, be able to be safely removed.

[2021-12-22 19:32] thomasneirynck commented on #116653
The "add integrations" is linked from the Kibana home page.

It has an existing `geo`-category

![image](https://user-images.githubusercontent.com/1833023/147137539-e0f949c1-9578-48c4-a0c8-d682f68e73fa.png)

To add a 3rd card for GeoJson upload.

--------------

### Enable URL-param to instruct GeoJson wizard on opening

The goal is to add a URL-param that can be read by the map-app.

something li

[2021-12-22 19:54] afharo opened #121912 "[Telemetry] Ensure `refreshCache: true` in tests and test helpers"
After #119312, there are some helpers and tests that are now using cached values. Let's make sure that they all get a fresh cache by adding the new parameter `refreshCache: true`.

[2021-12-22 19:54] elasticmachine commented on #121912
Pinging @elastic/kibana-core (Team:Core)

[2021-12-22 20:01] thomasneirynck commented on #70805
Closing. Can re-open when there are user-requests for this feature.

[2021-12-22 20:01] #70805 closed

[2021-12-22 20:03] thomasneirynck commented on #66821
Closing. Test coverage in functional tests.

[2021-12-22 20:03] #66821 closed

[2021-12-22 20:06] thomasneirynck commented on #70366
Let's close this. Nice2have, but no requests from outside.

Supporting TileJson may be  more worthwhile (since user can always symbolize with the Kibana-layer-editor-UX)

[2021-12-22 20:06] #70366 closed

[2021-12-22 20:11] thomasneirynck commented on #92740
Closing. It's hard to validate if a server works for TMS. They may respond with errors for a given raster-tile, but that would still be valid behavior.

[2021-12-22 20:11] #92740 closed

[2021-12-22 20:12] crob611 opened #121916 "[Canvas] SuperDatePicker has Auto Refresh Control"
![image](https://user-images.githubusercontent.com/515272/147149848-35c61c4d-0453-4e16-b60f-79755ce0e81c.png)

Looks like a recent change to super date picker added a "Refresh Control" to it.  This doesn't make sense for how it's used in Canvas. I'm sure we can configure it to take it away.

[2021-12-22 20:12] elasticmachine commented on #121916
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-22 20:13] thomasneirynck commented on #69935
proxy support has been removed in 8.0.

[2021-12-22 20:13] #69935 closed

[2021-12-22 20:15] thomasneirynck commented on #75758
cc @ghudgins

[2021-12-22 20:18] thomasneirynck commented on #104072
duplicate of https://github.com/elastic/kibana/issues/60027

See mock-ups on that ticket ^

[2021-12-22 20:18] #104072 closed

[2021-12-22 20:18] thomasneirynck commented on #60027
Similar to https://github.com/elastic/kibana/issues/104072

[2021-12-22 20:25] thomasneirynck commented on #83217
It is unlikely this will get implemented. Maps uses MapLibre, which uses WebGL, and there are no direct plans to provide another non-WebGL option.

Can re-open when the demand for this feature broadens.

[2021-12-22 20:25] #83217 closed

[2021-12-22 20:27] ThomThomson commented on #121916
Good find! This will need to be removed when we implement the super date picker in controls as well.

[2021-12-22 20:39] #121826 closed

[2021-12-22 21:31] justinkambic opened #121919 "[Synthetics] Step name column in list does not display well on mobile"
**Kibana version:**

8.1.0

**Elasticsearch version:**

8.1.0

**Server OS version:**

macOS

**Browser version:**

Chrome 92

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The synthetics step list contains a table which includes the step name; the name column doesn't handle smaller screen sizes well.

[2021-12-22 21:31] elasticmachine commented on #121919
Pinging @elastic/uptime (Team:uptime)

[2021-12-22 23:06] YulNaumenko commented on #113747
The work is done under this PR https://github.com/elastic/kibana/pull/118051:

Added a new fields to the telemetry mapping and telemetry schema:

[code]

The reason of getting this value, could be because an error happened during the fetching last task. The code is here:
https://github.com/elastic/kibana/blob/ec2090931b9e38c00f13f6865f4a164b6210bb5e/x-pack/plugins/alerting/server/usage/alerts_usag

[2021-12-23 01:42] #121564 closed

[2021-12-23 02:33] matschaffer opened #121930 "[Stack Monitoring] Logstash Pipeline hover timestamp isn't visible"
**Kibana version:** main (reported on 7.14.1)

**Describe the bug:**

When hovering over a logstash pipeline sparkline, you get an hover tooltip with events per second and a timestamp, but the timestamp wraps under the value such that you can't read it.

**Steps to reproduce:**
1. Set up logstash pipeline monitoring
2. Open pipelines listing page
3. Hover over a sparkline

**Expected behavior:**

[2021-12-23 02:33] elasticmachine commented on #121930
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-23 04:53] kibanamachine commented on #120730
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6091#0aac725b-6c3a-42b0-a6f7-434d52e55a92)

[2021-12-23 05:15] amolnater-qasource opened #121933 "[Question][Fleet]: User is able to add an integration multiple times to a policy."
**Description:**
User is able to add an integration multiple times to a policy.
- We have added 10 System integration to a New policy.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/147190544-9174460b-c847-4ac2-9fff-75ee68cc6685.JPG)

**Question:**
- Use case of same integration multiple integrations in a Policy.
- If that has any relation with different namespace, then u

[2021-12-23 05:15] elasticmachine commented on #121933
Pinging @elastic/fleet (Team:Fleet)

[2021-12-23 05:15] amolnater-qasource commented on #121933
@manishgupta-qasource Please review.

[2021-12-23 05:51] manishgupta-qasource commented on #121933
Reviewed & assigned to @mostlyjason

[2021-12-23 06:57] elasticmachine commented on #121890
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-23 07:04] kibanamachine commented on #119257
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6096#c4465f9d-d5f1-48a3-b13f-5adc160bbe84)

[2021-12-23 07:46] simitt opened #121934 "APM switch to Elastic Agent fails with cryptic error"
**Stack version**: 7.16.2

**Describe the issue**:
A user reported that an error occurs when navigating to `Kibana/APM/Settings/Schema` and trying to initiate the switch to APM Integration.
From the Kibana logs:
[code]

**Steps to reproduce**:
It is not clear how to reproduce this, but the logs contains lots of data so this might be enough for finding the root cause for the issue.

**Errors in bro

[2021-12-23 07:46] elasticmachine commented on #121934
Pinging @elastic/apm-ui (Team:apm)

[2021-12-23 07:51] amolnater-qasource commented on #121157
Hi @joshdover
We have revalidated this issue on latest 8.0 Snapshot and found it **fixed** now.
- Appropriate error notification is shown on duplicating same policy twice.
- Also the duplicate policy flyout remains open to let user modify the name.

**Build details:**
Build: 48841
Commit: 0668b86594c26a088cd166c70b860eeb4e6938dc

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374

[2021-12-23 08:23] #121270 closed

[2021-12-23 08:24] #121684 closed

[2021-12-23 08:57] kibanamachine commented on #116059
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6101#5a2cbac2-731e-47dd-bd0e-59dfc40d055e)

[2021-12-23 09:04] #121912 closed

[2021-12-23 09:04] dgieselaar commented on #86775
Closed by #119709.

[2021-12-23 09:04] #86775 closed

[2021-12-23 09:20] karanbirsingh-qasource commented on #121380
Hi @stephmilovic

we have validated this issue on latest 8.0.0-SNAPSHOT with new commits and found that issue is Fixed now.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/147217868-864c456c-29d4-45ff-9994-2f79ef4c157e.mp4

hence we are closing this issue .

Thanks !!

[2021-12-23 09:20] #121380 closed

[2021-12-23 09:25] deepikakeshav-qasource opened #121942 "[Security Solution]"Choose Data view" Drop down list modal is scrolled when scrolling the page under data view"
**Describe the bug**
"Choose Data view" Drop down list modal is scrolled when scrolling the page under data view

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. Beats should be installed

**Steps to Reproduce**
1. Navigate to Overview tab under security
2. Click on Data view on top corner
3. Click on "Choose Data view" drop down
4. Drop down l

[2021-12-23 09:25] elasticmachine commented on #121942
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-23 09:27] #121869 closed

[2021-12-23 09:29] deepikakeshav-qasource opened #121943 "[Security Solution] Query time is displaying "Sorry about that, something went wrong." in inspect events of "Current host risk scores" card when No host risk score data available to display"
**Describe the bug**
Query time is displaying "Sorry about that, something went wrong." after clicking on inspect icon of "Current host risk scores" card when No host risk score data available to display

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. "Current host risk scores" card should be enable without any data

**Steps to Reproduce**
1.

[2021-12-23 09:29] elasticmachine commented on #121943
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-23 09:33] karanbirsingh-qasource commented on #121278
Hi @stephmilovic

we have validated this issue on latest 8.0.0-SNAPSHOT with new commits and found that issue issue is still occuring.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/147220285-3d3f5280-8625-4307-bb1c-1a0ef1d44e2e.mp4

[2021-12-23 10:10] amolnater-qasource commented on #121059
Hi @joshdover & @nchaulet
This issue again inconsistently reproducible on latest 8.0 Snapshot.
We have attempted on 3 different Kibana environments and we successfully reproduced it with below steps:
- We created a New Policy added 5-6 system integrations.
- Created a  New Policy 02.
- Added 1 more system integration to New Policy.
- Created a New Policy 03 and observed already exist error.
- New

[2021-12-23 10:34] stratoula opened #121947 "[Datatable] When I enable the partial rows, the inspector shows metrics for each bucket"
**Kibana version:**
7.11 ++

**Describe the bug:**
I can reproduce this bug on 7.11, so this exists for some versions. The problem is not on the visualization itself but on the inspector.
When I click on the `Show partial rows` switch and open the inspector, I see extra columns that represent the metrics per bucket.

If I select to export the csv from the inspector, the extra columns are exported

[2021-12-23 10:35] elasticmachine commented on #121947
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-23 10:42] dej611 commented on #121947
This looks very similar to the #121063 bug which I'm fixing on the Lens side.
I suspect the root problem is the same: when passing the datatable over to the download plugin the columns are not filtered based on the visibility.
I can look into this after getting #121802 merged

[2021-12-23 10:56] stratoula commented on #121947
I am not sure that they are related. The inspector works fine in all cases except from the one with the partial rows.

[2021-12-23 11:09] miltonhultgren opened #121948 "[Observability] Pages don't respect Kibana default time range advanced setting"
### Background
Follow up to https://github.com/elastic/sdh-kibana/issues/2422

The SDH outlines an issue for the Log stream page in particular but we're likely to run into similar issues in other pages as well.
The issue is that some of our pages do not respect the Advanced Setting `timepicker:timeDefaults`, instead some pages use their own default value. As I recall, these values were chosen beca

[2021-12-23 11:10] elasticmachine commented on #121948
Pinging @elastic/apm-ui (Team:apm)

[2021-12-23 11:10] elasticmachine commented on #121948
Pinging @elastic/uptime (Team:uptime)

[2021-12-23 11:10] elasticmachine commented on #121948
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-23 11:10] elasticmachine commented on #121948
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-23 11:11] miltonhultgren commented on #121948
@katrin-freihofner

[2021-12-23 11:16] elasticmachine commented on #121842
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-23 11:16] stratoula commented on #121842
I am closing this as it seems unrelated to our codebase, let's investigate it if it reopens

[2021-12-23 11:42] Dosant commented on #119321
Started working on this:
When moving data_enhanced code into data plugin we need to make data plugin optionally depend on taskManager and security. There is no issues with taskManager, but there are cycles with security.:

- [x] `data` -> `security` -> `data`. Security only uses dataViews, so can depend on `dataViews` directly.
- [x] `data` -> `security` -> `home` - > `data` . Same `home` only use

[2021-12-23 11:44] samratbhadra-qasource opened #121950 "[Fleet]: Unable to view dashboard under Data streams tab from different space."
**Describe the bug:**
Unable to view dashboard under Data streams tab from different space.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 48841
COMMIT:  0668b86594c26a088cd166c70b860eeb4e6938dc
ARTIFACT: https://snapshots.elastic.co/8.0.0-e48f8349/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Access Kibana fr

[2021-12-23 11:44] elasticmachine commented on #121950
Pinging @elastic/fleet (Team:Fleet)

[2021-12-23 11:45] samratbhadra-qasource commented on #121950
@manishgupta-qasource Please review.

[2021-12-23 11:47] manishgupta-qasource commented on #121950
Reviewed & mention to @jen-huang

[2021-12-23 11:50] Dosant opened #121951 "Break `customIntegrations` -> `presentationUtil` dependency"
Blocks https://github.com/elastic/kibana/issues/124923

For this `data` will depend on `security` plugin, but this causes cyclic dependency:

`data` -> `security` -> `home` -> `customIntegrations` -> `presentationUtils` -> `data`

To fix this, I think we should break `customIntegrations` -> `presentationUtils`.

Looks like `customIntegrations` just uses static code from `presentationUtils`: https:

[2021-12-23 11:50] elasticmachine commented on #121951
Pinging @elastic/fleet (Team:Fleet)

[2021-12-23 11:50] elasticmachine commented on #121951
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-23 11:52] dikshachauhan-qasource opened #121952 "[Fleet] 'enroll in fleet' section displays blank when user clicks on 'Add fleet server' button from warning callout."
*Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana on-prem environment should be available.

**Build Details:**
[code]
2. **A fleet server should be enrolled and in Offline mode should exist.**
3. **Do not provide any host value when enrolling agent.**

**Steps to reproduce:**
- Login to kibana
-

[2021-12-23 11:53] elasticmachine commented on #121952
Pinging @elastic/fleet (Team:Fleet)

[2021-12-23 11:59] manishgupta-qasource commented on #121952
Reviewed & mention to @jen-huang

[2021-12-23 12:07] dikshachauhan-qasource opened #121953 "Enroll fleet server instructions not displayed on clicking 'Add agent' button when warning callout is available."
*Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana on-prem environment should be available.

**Build Details:**
[code]
2. **A fleet server should be enrolled and in Offline mode should exist.**

**Steps to reproduce:**
- Login to kibana
- Navigate to Fleet tab.
- Observe, a warning callout to enro

[2021-12-23 12:07] elasticmachine commented on #121953
Pinging @elastic/fleet (Team:Fleet)

[2021-12-23 12:08] muskangulati-qasource opened #121954 "[Security Solution] Inconsistent use of Hosts and Endpoints on saving the policy under the Endpoints tab"
**Description:**
Inconsistent use of Hosts and Endpoints on saving the policy under the Endpoints tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. And endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under Security from the left-hand side navigation bar
2. Click on the policy name and make some

[2021-12-23 12:08] elasticmachine commented on #121954
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-23 12:08] elasticmachine commented on #121954
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-23 12:09] muskangulati-qasource commented on #121954
@manishgupta-qasource please review!!

[2021-12-23 12:14] dikshachauhan-qasource commented on #121953
This issue is reproducible even when previously installed fleet server is unenrolled on on-prem environment.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/147239101-d3eb8c6c-7abc-486b-bf4d-1ecb5f5d9547.png)

Thanks
QAS

[2021-12-23 12:54] pgayvallet opened #121956 "[Core] Remove unreferenced deprecated APIs"
The list of identified unreferenced deprecated APIs is:

- [x] `SavedObjectsImportFailure.title`: [server](https://github.com/elastic/kibana/blob/54cc28461ce4b5407f791bdc0a398050f07f4882/src/core/server/saved_objects/import/types.ts#L92-L95). It reports as on public as well, but it's reexporting the server type, so fixing it on the server will solve it in both. (#127043)
- [x] [`AsyncPlugin`](http

[2021-12-23 13:03] manishgupta-qasource commented on #121953
Reviewed & mention to @jen-huang

[2021-12-23 13:27] kevinlog commented on #121954
@caitlinbetz thoughts on this copy?

[2021-12-23 13:46] machadoum opened #121957 "Hosts Risk Step 2 - Host Detail Page"
## Overview

- [x] Add host risk score and classification to Host detail page
<img width="561" alt="Screenshot 2021-12-23 at 14 42 14" src="https://user-images.githubusercontent.com/1490444/147248813-7af3ef0c-e794-4783-bc87-f8282eefedd0.png">

- [ ] Add host risk tab to host detail page
     * Create tab
     * Create host risk score over time graph
     * Create "top contributors to host risk sco

[2021-12-23 13:46] elasticmachine commented on #121957
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-12-23 15:01] vitaliidm opened #121963 "[Security Solution][Detections] Refactor SiemResponseFactory error method"
Currently `SiemResponseFactory` error method takes body in its argument of almost `any` type and returns it in response in message property.
Which is usually expected to be a string, when received in error response. Also SiemResponseFactory doesn't allow to send in response additional properties, only `message` and `status_code`.

[code]

Proposal is to change its signature, so it would take follo

[2021-12-23 15:02] elasticmachine commented on #121963
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-23 15:02] elasticmachine commented on #121963
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-23 15:21] banderror commented on #120872
@deepikakeshav-qasource I'm struggling to reproduce the bug. I used the steps that you described in the description and in the [comment](https://github.com/elastic/kibana/issues/120872#issuecomment-992134389) above, and I tested it with multiple versions:

- `8.0` in the staging Cloud: `8.0.0-SNAPSHOT`, commit hash `0668b86594c26a088cd166c70b860eeb4e6938dc` (this version is more recent than the ve

[2021-12-23 15:25] nchaulet commented on #121059
Hi @amolnater-qasource thanks for testing this again I found an issue with our increment function where we were not handling correctly the increment correctly if there is more than 10 package policies https://github.com/elastic/kibana/pull/121965

[2021-12-23 16:13] wwang500 opened #121966 "[ML/Data Visualizer] Importing CSV file causes high CPU utilization on Chrome"
**Steps to reproduce**:
- on Kibana data visualize, try import the csv file,
[chrome-highcpu-poc.csv](https://github.com/elastic/kibana/files/7770318/chrome-highcpu-poc.csv)
- give an index name and click import,

**Observed**:
Chrome is not responding and CPU utilization hits 100% as per Task Manager in Chrome during `Processing file` phase. (using firefox wont hit this, instead it threw an `Erro

[2021-12-23 16:57] #116185 closed

[2021-12-23 17:36] #118684 closed

[2021-12-23 17:40] kibanamachine opened #121968 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions·ts - Saved objects management FOO Export import saved objects between versions should be able to import 7.13 saved objects into 8.0.0"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6128#20e10cc5-d062-4fa1-9fce-b16af2d4456c)

[2021-12-23 18:54] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6125#4911710b-b262-4bc9-bd82-aa77b25e740b)

[2021-12-23 18:54] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6125#4911710b-b262-4bc9-bd82-aa77b25e740b)

[2021-12-23 18:54] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6125#4911710b-b262-4bc9-bd82-aa77b25e740b)

[2021-12-23 19:06] #121059 closed

[2021-12-23 19:06] flash1293 commented on #121842
Like https://github.com/elastic/kibana/issues/117778 - not related to the actual test

[2021-12-23 19:06] elasticmachine commented on #121842
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-23 19:07] flash1293 commented on #121843
Like https://github.com/elastic/kibana/issues/117778 - not related to the actual test

[2021-12-23 19:08] elasticmachine commented on #121843
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-23 19:10] flash1293 commented on #121844
Like https://github.com/elastic/kibana/issues/117778 - not related to the actual test

[2021-12-23 19:10] elasticmachine commented on #121844
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-23 23:22] #121466 closed

[2021-12-23 23:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#44ab5d1c-d0d2-48f3-852e-280f4d5ef6d8)

[2021-12-23 23:55] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#44ab5d1c-d0d2-48f3-852e-280f4d5ef6d8)

[2021-12-23 23:55] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#44ab5d1c-d0d2-48f3-852e-280f4d5ef6d8)

[2021-12-24 02:27] kibanamachine opened #121974 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/rollup·ts - lens app lens rollup tests "before all" hook for "should allow creation of lens xy chart""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#489240d4-0622-4aad-b9fd-43427bd7d9bf)

[2021-12-24 02:27] kibanamachine commented on #115654
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#489240d4-0622-4aad-b9fd-43427bd7d9bf)

[2021-12-24 02:27] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6142#489240d4-0622-4aad-b9fd-43427bd7d9bf)

[2021-12-24 04:32] matschaffer opened #121975 "Stack monitoring.entsearch - 8.0 compatibility"
Enterprise search stack monitoring seems to work in 8.0

![Screen Shot 2021-12-24 at 13 44 27](https://user-images.githubusercontent.com/690/147317356-f99165f5-75ca-4fb5-aa4d-dd3d4939bbca.png)

But the data is being ingested into `metricbeat-*`

We have plans to remove these indices from search paths due to a large number fo support cases, so we probably shouldn't release 8.0 with stack monitoring

[2021-12-24 04:33] matschaffer commented on #121251
https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/common/constants.ts#L126-L131 is no longer versioned. I think we can call this done.

[2021-12-24 04:33] #121251 closed

[2021-12-24 04:45] matschaffer commented on #121975
At first pass it seems like we might be good here.

![Screen Shot 2021-12-24 at 13 44 27](https://user-images.githubusercontent.com/690/147317356-f99165f5-75ca-4fb5-aa4d-dd3d4939bbca.png)

I set up the demo engine, but "engines" still says 0. I'll take a look to see if maybe there's some mapping/beats issue causing trouble with that.

[2021-12-24 04:56] matschaffer commented on #121975
Interesting that ent search bundles its own metricbeat:

[code]

Ah, end my engine went to "1" after a bit.

Looks like ent search monitoring happens via it's own module without any sort of "xpack" setting.

[2021-12-24 05:00] matschaffer commented on #121975
So I think for the scope of https://github.com/elastic/kibana/issues/120825 ent search is basically okay, but there's a risk of breakage from https://github.com/elastic/kibana/pull/119112 due to the ent search documents landing in `metricbeat-*` indices.

https://github.com/elastic/kibana/blob/3dcfdef1ebc02314eafa5f02415be9167419d578/x-pack/plugins/monitoring/common/constants.ts#L134 is set to `.m

[2021-12-24 05:15] matschaffer commented on #121975
I'll leave this open to address the issue of the data going to `metricbeat-*`, if we release 8.0.0 with ent search available we'll have to keep that pattern around or offer a re-index solution to move the data into `.monitoring-ent-search-*`.

[2021-12-24 05:50] elasticmachine commented on #115654
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-24 05:50] flash1293 commented on #115654
Like https://github.com/elastic/kibana/issues/117778 not related to the actual test

[2021-12-24 05:50] flash1293 commented on #75962
Like https://github.com/elastic/kibana/issues/117778 not related to the actual test

[2021-12-24 06:09] matschaffer commented on #121975
Looks like 7.16.2 also lands the enterprise search data into `metricbeat-*`, I suspect the enterprise search beats module has always worked this way and we just never noticed since SM UI also queries those indices.

[2021-12-24 06:11] matschaffer commented on #121975
Alternatively we might consider reverting https://github.com/elastic/kibana/pull/120630 and not supporting entsearch stack monitoring until 8.1.

[2021-12-24 06:16] deepikakeshav-qasource commented on #120872
Hi @banderror ,

This issue is occurring intermittently. I was also unable to reproduce the issue with above steps. However, One of my rule [endpoint security [duplicate]] rule is failed when I disabled that rule.

I have not performed any specific steps.

Moreover, When the rule is failing all the alerts for other rules are showing under rule details page.

I am sharing the environments details v

[2021-12-24 06:38] kibanamachine commented on #118728
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6168#a8ad017b-81da-4b3f-abc9-6f2e3d521f0b)

[2021-12-24 06:40] kibanamachine opened #121978 "Failing test: X-Pack Security API Integration Tests (Session Lifespan).x-pack/test/security_api_integration/tests/session_lifespan/cleanup·ts - security APIs - Session Lifespan Session Lifespan cleanup should properly clean up session expired because of lifespan"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6169#e52accda-103b-4aa1-83b1-d155f31f259c)

[2021-12-24 06:50] amolnater-qasource opened #121979 "[Fleet]: Showing wrong agents count when multiple agents are available under Agents tab."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. 7 agents should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Set pagination to `5`.
4. Observe- `Showing 7 agents`.

**S

[2021-12-24 06:50] elasticmachine commented on #121979
Pinging @elastic/fleet (Team:Fleet)

[2021-12-24 06:50] amolnater-qasource commented on #121979
@manishgupta-qasource Please review.

[2021-12-24 07:10] stratoula commented on #106024
Another request for adding extra metrics to the tooltip https://discuss.elastic.co/t/kibana-visualization/292859/2

[2021-12-24 07:31] deepikakeshav-qasource opened #121982 "[Security Solution] No tool tip and full name is not displayed for host name under "Current host risk scores" card"
**Describe the bug**
No tool tip and full name is not displayed for host name under "Current host risk scores" card

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. "Current host risk scores" card should be enable without any data

**Steps to Reproduce**
1. Navigate to Overview tab under security
2. Scroll down to "Current host risk scores" car

[2021-12-24 07:31] elasticmachine commented on #121982
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-24 07:34] karanverma-qasource opened #121983 "[Security Solution] Help text "A custom query is required." is showing for EQL query rule."
**Describe the bug:**
Help text "A custom query is required." is showing for EQL query rule.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Rules under Security tab.
2. Click on Create Rule button.
3. Select EQL Query rule.
4. Click on continue without entering E

[2021-12-24 07:34] elasticmachine commented on #121983
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-24 08:08] manishgupta-qasource commented on #121979
Reviewed & mention @kpollich

[2021-12-24 08:22] azasypkin commented on #121482
In this test we do the following steps:

1. Log in via `'/internal/security/login'`
2. Verify that session cookie is valid via `'/internal/security/me'`
3. Wait until session expires (idle timeout is 5s) and the cleanup job removes it
4. Verify that session is no longer valid via `'/internal/security/me'`

The test fails on the step 2 likely because sometimes Kibana is too slow on CI and it takes

[2021-12-24 09:21] #115595 closed

[2021-12-24 09:52] deepikakeshav-qasource opened #121984 "[Security Solution] Timeline is displayed instead of timeline template in data view under Timeline Template"
**Describe the bug**
Timeline is displayed instead of timeline template in data view under Timeline Template

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to Timeline Template tab under security
2. Select any prebuilt Timeline Template
3. Click on Data view.
3. Observe that timeline is displayed instead of "t

[2021-12-24 09:52] elasticmachine commented on #121984
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-24 10:15] muskangulati-qasource opened #121985 "[ Enhancement ] There should be a back button from the Trusted Apps to the Policy tab"
**Describe the feature:**
There should be a back button from the Trusted Apps to the Policy tab

**Describe a specific use case for the feature:**
The back button helps to navigate back to the policy tab from the trusted app details page [ navigated through the policy tab only ]

**Screen Recording:**

https://user-images.githubusercontent.com/60252716/147343768-eb93a1cc-4439-4878-b47e-f0de6d890ea

[2021-12-24 10:15] elasticmachine commented on #121985
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-24 10:15] muskangulati-qasource commented on #121985
@manishgupta-qasource please review!

[2021-12-24 10:15] karanverma-qasource opened #121986 "[Security Solution] UI of last element of Task list gets distorted when adding it under timelines note."
**Describe the bug:**
UI of last element of Task list gets distorted when adding it under timelines note.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to reproduce**

1. Navigate to Timelines.
2. Click on create new timeline button.
3. Click on notes tab.
4. Click on Task list icon 2-3 times

[2021-12-24 10:15] elasticmachine commented on #121986
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-24 10:22] manishgupta-qasource commented on #121985
Reviewed & assigned to @kevinlog

[2021-12-24 10:35] elasticmachine commented on #121983
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-24 10:36] droberts195 commented on #121966
The broader issue here is what I said at the end of https://github.com/elastic/elasticsearch/issues/79708#issuecomment-953074831:

The root cause problem is that we’re having to use regular expressions to split CSV files into separate records in the first place.

In the meantime there are probably tactical improvements we can make to make the first line pattern more efficient.

[2021-12-24 10:57] azasypkin commented on #121823
@stacey-gammon, sorry I'm not sure I'm following - what `licensing` API is meant here? I checked the `Deprecated API usage by API` section in Dev Docs and still couldn't figure this out :see_no_evil:

[2021-12-24 11:02] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6180#88668efe-a79c-4261-9b1f-54d601a5c6d0)

[2021-12-24 11:05] dikshachauhan-qasource opened #122298 "[Fleet] User is able to install Fleet server using managed policy."
*Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud environment should be available.

**Build Details:**
[code]
2. **APM & Fleet section should be disabled from Edit deployment page.**

**Steps to reproduce:**
- Login to kibana.
- Navigate to Integrations tab.
- Search for Fleet server Integr

[2021-12-24 11:15] samratbhadra-qasource opened #121988 "[Question]: While searching policy_id for Default policy it shows "undefined" under Enrollment tokens."
**Question:**

**Scenario 1:**
While applying criteria in the search bar  `policy_id:` undefined, it shows up only Default policy in its results, though there are other tokens for different user defined policies also exists.
So, could you please let us know if this is expected behavior.

**Screenshot:**
- **Enrollment tokens currently available on Enrollment token tab.**

![Screenshot (433)](https

[2021-12-24 11:15] elasticmachine commented on #121988
Pinging @elastic/fleet (Team:Fleet)

[2021-12-24 11:15] samratbhadra-qasource commented on #121988
@manishgupta-qasource Please review.

[2021-12-24 11:27] dikshachauhan-qasource opened #121989 "[Fleet] A tooltip not provided at lock icon under Outputs section on Settings tab."
*Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana on-prem environment should be available.

**Build Details:**
[code]
2. **APM & Fleet section should be disabled from Edit deployment page.**

**Steps to reproduce:**
- Login to kibana.
- Navigate to Fleet > Settings tab.
- Go to Outputs section, a

[2021-12-24 11:29] dikshachauhan-qasource commented on #121989
@manishgupta-qasource Please review

[2021-12-24 11:50] afharo commented on #121823
Created https://github.com/elastic/kibana/issues/121956 to discuss which ones we can actually delete :)

[2021-12-24 12:01] ghost opened #121990 "[Security Solution]Wrong validation message is displayed when remove the added tag."
**Describe the bug**
Wrong validation message is displayed when remove the added tag under rules

**Build Details:**
Version:8.0.0
Build: 48841
COMMIT: 0668b86594c26a088cd166c70b860eeb4e6938dc

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps**
1. Create a rule under rule tab.
2. Add Tag value in Tags field under Abou

[2021-12-24 12:01] elasticmachine commented on #121990
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-24 12:09] manishgupta-qasource commented on #121989
Reviewed & mention to @nchaulet

[2021-12-24 12:11] manishgupta-qasource commented on #121988
Reviewed & mention to @jen-huang

[2021-12-24 12:39] amolnater-qasource opened #121991 "[Self-Managed][Fleet]: User gets Add Agent button with Default policy selected when existing Fleet Server is unenrolled."
**Kibana version:**  8.0.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana self-managed environment should be available.
2. Fleet Server should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Force Unenroll existing Fleet Server.
4.

[2021-12-24 12:39] elasticmachine commented on #121991
Pinging @elastic/fleet (Team:Fleet)

[2021-12-24 12:40] amolnater-qasource commented on #121991
@manishgupta-qasource Please review.

[2021-12-24 12:43] kibanamachine commented on #121968
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6187#29a27289-47ac-495d-8a26-ca1cf449eab7)

[2021-12-24 12:48] afharo opened #121992 "[Meta] Event-based Telemetry MVP"
Meta issue to track the progress of all the phases of this project and their action items:

## Definition and design

- [x] #121993
- [x] #121994

## MVP Implementation phase

- [x] #121995
- [x] #121997
- [x] #125689
- [x] #125690
- [x] #125691
- [x] #125692
- [x] #125693
- [x] #125694
- [x] #125695
- [x] #125696

## Post-MVP

_Items we'd like to have from early stages but didn't make the cut for

[2021-12-24 12:48] elasticmachine commented on #121992
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 12:48] amolnater-qasource commented on #121991
Closing as dupe of https://github.com/elastic/kibana/issues/121953

[2021-12-24 12:48] #121991 closed

[2021-12-24 12:49] afharo opened #121993 "[Event-based Telemetry] Requirement definition document"
Issue to track the progress to define the requirements of the Event-based Telemetry service

[2021-12-24 12:49] afharo opened #121994 "[Event-based Telemetry] Design document"
Issue to track the progress to write the design document of this new service.

Depends on #121993.

[2021-12-24 12:49] afharo opened #121995 "[Event-based Telemetry] Transmission service"

[2021-12-24 12:49] afharo opened #121996 "[Event-based Telemetry] Core common services"
This issue is to track the effort to build some _core_ common services for Event-based telemetry:

- [ ] UI behavioural tracking
- [ ] Deprecated usage
- [ ] HTTP usage
- [ ] Event-loop delays

NOTE: The items listed above are only initial suggestions until the #121994 is complete.

[2021-12-24 12:49] afharo opened #121997 "[Event-based Telemetry] Documentation & Dev Guides"
We should write clear documentation and Developer Guides to enable teams to instrument their own events.

[2021-12-24 12:51] elasticmachine commented on #121993
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 12:59] elasticmachine commented on #121994
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 13:04] elasticmachine commented on #121995
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 13:09] kevinlog commented on #121985
@dasansol92 is this a regression?  Did we have a back button in this scenario in 7.16 ?  If so, we should fix this for 8.0. I'll assign this to you for now

[2021-12-24 13:30] elasticmachine commented on #121996
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 13:31] elasticmachine commented on #121997
Pinging @elastic/kibana-core (Team:Core)

[2021-12-24 13:43] #119454 closed

[2021-12-24 13:43] #116111 closed

[2021-12-24 13:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6184#a1283789-4b64-4482-84f4-2b8374abd825)

[2021-12-24 13:55] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6184#a1283789-4b64-4482-84f4-2b8374abd825)

[2021-12-24 13:55] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6184#a1283789-4b64-4482-84f4-2b8374abd825)

[2021-12-24 13:55] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6184#a1283789-4b64-4482-84f4-2b8374abd825)

[2021-12-24 14:39] kibanamachine commented on #121968
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6191#f3b554d0-41b1-4696-accb-8ac196429c57)

[2021-12-24 14:48] alvarolobato commented on #116362
I ran into this problem today, while running a deployment on cloud, I would expect the preconfigured email connector configured by Elastic cloud to be available when setting up a predefined alert for monitors.
I think we should prioritize this as it gives a bad UX when using Elastic cloud.

<img width="424" alt="Screen Shot 2021-12-24 at 14 43 56" src="https://user-images.githubusercontent.com/171

[2021-12-24 14:59] liciavale opened #121999 "[Exploratory View] Update to new refresh button"
Update the exploratory view to the latest [EUI auto-refresh](https://elastic.github.io/eui/#/forms/auto-refresh).

<img width="101" alt="Screenshot 2021-12-24 at 11 38 53" src="https://user-images.githubusercontent.com/20965076/147345798-5387b0dd-3197-4c5d-b746-4fc99dbb363b.png">

**Current version**
<img width="1440" alt="Screenshot 2021-12-24 at 11 36 20" src="https://user-images.githubuserconte

[2021-12-24 14:59] elasticmachine commented on #121999
Pinging @elastic/uptime (Team:uptime)

[2021-12-24 15:34] kibanamachine commented on #117060
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6195#9e8b6dc0-af19-4a93-87a6-6696704d95bd)

[2021-12-24 16:15] vitaliidm commented on #117983
Hi @deepikakeshav-qasource, bug for 8.0 was fixed and merged [[Security Solution][Detections]Fix rule query input overlapping timeline banner #121967](https://github.com/elastic/kibana/pull/121967)
Thanks

[2021-12-24 20:18] smaipas commented on #120878
I've tried to bootstrap Kibana on windows 10 but I failed for the same reasons. I also tried  Bash shell but it didn't work I got the error message

`
 webpack-cli.bat failed: error executing command bazel-out/host/bin/external/npm/webpack-cli/bin/webpac
k-cli.bat --config packages/kbn-ui-shared-deps-npm/webpack.config.js --output-path
`

[2021-12-24 20:42] kibanamachine commented on #121968
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6210#f82bb00a-87a2-452b-a9e4-df67ce7ce81e)

[2021-12-24 23:35] kibanamachine opened #122001 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts - APM specs feature controls security no apm privileges "before all" hook for "doesn't show APM navlink""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6220#9cba7b72-9e2c-40e2-bbe8-59aeb33d6560)

[2021-12-25 01:44] kibanamachine opened #122002 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/index_lifecycle_management/home_page·ts - Index Lifecycle Management app Home page Create new policy with all Phases"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6224#629d0b5f-1b60-4b51-a014-864cb184b11d)

[2021-12-25 01:44] kibanamachine opened #122003 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/index_lifecycle_management/home_page·ts - Index Lifecycle Management app Home page "after all" hook for "Create new policy with all Phases""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6224#629d0b5f-1b60-4b51-a014-864cb184b11d)

[2021-12-25 02:05] kibanamachine commented on #116038
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6226#a079ffdb-2efd-4c0e-8303-1b7b96cb1f7b)

[2021-12-25 03:51] kibanamachine commented on #120730
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6230#70694632-c535-4803-99aa-c6f711c89627)

[2021-12-25 05:32] kibanamachine commented on #119701
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6236#72550b90-25d1-407a-9fb9-1d724357740a)

[2021-12-25 08:54] kibanamachine commented on #113993
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6245#83912f0f-28d0-44d8-9528-2200516d3baf)

[2021-12-25 11:41] smaipas opened #122004 "[APM] APM server url does not exist"
### Kibana version

8.0.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Trying to install APM Server on Ubuntu following the guide:
![apm-server-download-issue](https://user-images.githubusercontent.com/20254638/147384154-e75f50d9-bfb2-47b8-93fe-33c8bd5a911d.png)

Seems like the file does not exist:
![downl

[2021-12-25 11:41] elasticmachine commented on #122004
Pinging @elastic/apm-ui (Team:apm)

[2021-12-25 12:43] kibanamachine opened #122005 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_index_pattern_management·ts - machine learning data visualizer index pattern management sets custom label for existing field"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6257#4aecf93a-e289-4607-bb6f-d000b5e91953)

[2021-12-25 15:09] kibanamachine commented on #106492
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/454#769e21a1-764f-4b75-b971-1452201c1404)

[2021-12-25 15:11] kibanamachine commented on #70928
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/454#28eda1eb-ab09-441a-94bf-2962b1e3c2bf)

[2021-12-25 22:30] bhimeshchauhan commented on #120285
@justinkambic can I have an attempt at this one?

[2021-12-26 00:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6295#05e4c2a8-4318-4cb2-85fd-dd2649b2e29a)

[2021-12-26 00:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6294#5eab75f2-dfaf-4e8e-8445-75f2bd054bd8)

[2021-12-26 01:01] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6294#855718f9-baae-41c3-85ef-38cc27b99045)

[2021-12-26 01:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6297#8984f06e-af69-449e-9418-01ef5c0e766a)

[2021-12-26 01:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6296#838d194a-fb49-49f8-8119-945d9c2a0c6a)

[2021-12-26 02:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6300#a74dc8b3-de29-4656-a09f-cfa1d50126d4)

[2021-12-26 02:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6301#1a22c77f-1c2c-45f4-a526-0a9227cada63)

[2021-12-26 02:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6293#475cfdac-3404-455f-acfe-6bec8e3ddb61)

[2021-12-26 02:55] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6293#475cfdac-3404-455f-acfe-6bec8e3ddb61)

[2021-12-26 02:55] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6293#475cfdac-3404-455f-acfe-6bec8e3ddb61)

[2021-12-26 02:55] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6293#475cfdac-3404-455f-acfe-6bec8e3ddb61)

[2021-12-26 03:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6303#2afba5c3-90f4-449e-ab14-cdd99e787fd7)

[2021-12-26 03:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6302#98d0a9ec-184b-41ae-a6d3-0a4c2d4a3627)

[2021-12-26 04:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6307#440042e6-936a-4946-a530-383579190d6a)

[2021-12-26 04:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6305#334712aa-4b80-4dc7-8292-4e89cb7adc0f)

[2021-12-26 05:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6308#e4a94cce-3276-4a0d-be93-e8fbc1e94fb7)

[2021-12-26 05:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6310#514bf91b-f9b9-4da7-8e0f-43689b9c7e34)

[2021-12-26 05:35] kibanamachine commented on #119701
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6310#30bb22ec-a068-4c99-90c4-1df446a0c77b)

[2021-12-26 05:54] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6304#67668474-bf62-4492-b8df-805289175927)

[2021-12-26 05:54] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6304#67668474-bf62-4492-b8df-805289175927)

[2021-12-26 05:54] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6304#67668474-bf62-4492-b8df-805289175927)

[2021-12-26 05:54] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6304#67668474-bf62-4492-b8df-805289175927)

[2021-12-26 06:09] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6313#3b8b28fe-d110-4951-9d76-5af5d29ff647)

[2021-12-26 06:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6311#c29caf02-7510-4e50-9cb6-1f8a5d518d39)

[2021-12-26 07:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6314#6c809dfd-57bb-48ea-b1e3-0ab9cf4baba2)

[2021-12-26 07:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6316#9b5492b5-796c-430c-8686-8b5c1a42643f)

[2021-12-26 08:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6318#f8e4fde8-d8ff-4d99-8c1f-baa5617bdc03)

[2021-12-26 08:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6317#c4c90202-1855-47a2-9b8f-0c78c95eb109)

[2021-12-26 09:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6321#817ee38a-90a0-4c81-95d5-8da4e4a78d9f)

[2021-12-26 09:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6322#25c02325-efcf-4820-89f2-13c15d202290)

[2021-12-26 10:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6325#2f644bf2-09e6-4af6-8b64-7616d4a3a057)

[2021-12-26 10:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6323#3a563f3d-9aa3-45dc-acd6-a14acc6811c5)

[2021-12-26 11:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6326#95b05c00-567f-49ce-a154-f6bb73830e14)

[2021-12-26 11:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6328#34ea9953-47f5-4555-af4a-1338f4e74159)

[2021-12-26 11:43] kibanamachine commented on #121968
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6328#1e86ccdc-1aad-4b2d-a0b5-9f8c76a6eae3)

[2021-12-26 11:55] kibanamachine commented on #118584
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6328#9bfebadc-3083-4a7c-8377-f93ed2f4cb4c)

[2021-12-26 12:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6331#6b4c2ab9-dd75-495e-a131-b3bd76f71bf4)

[2021-12-26 12:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6329#d08c8581-0f96-496e-a1a8-c971fc3cf110)

[2021-12-26 13:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6334#f1cfd53e-b2c8-4aec-967f-fca479640727)

[2021-12-26 13:14] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6333#5a5068ee-f96a-44b3-9932-bc239111cb1c)

[2021-12-26 14:05] smaipas commented on #109115
please assign this ticket to me as I have already submitted a PR for it

[2021-12-26 14:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6335#822f0959-1709-4cf3-b1ca-f70cef8a1d4d)

[2021-12-26 14:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6336#af4f6cf0-6691-4675-b47d-5dfc04efe2dd)

[2021-12-26 15:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6340#a929aa7e-cadc-4a02-abf5-d579bd7a859c)

[2021-12-26 15:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6339#1e2d40f5-c1e9-4f33-bfd5-976d70984451)

[2021-12-26 16:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6341#562c28b1-9203-4e0b-ac01-8699c20d8663)

[2021-12-26 16:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6342#a4dcc331-20f1-48ae-abc1-3af859693410)

[2021-12-26 17:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6346#e4f5791e-25b2-4eb6-a351-adba9fcbe3e3)

[2021-12-26 17:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6345#1ac56085-2e5d-4b27-812e-757cb7c37775)

[2021-12-26 18:07] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6347#4e05dab1-9870-4f58-823d-bce003bac541)

[2021-12-26 18:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6348#99617c84-eeae-40d2-8e76-5fe591ff8f4f)

[2021-12-26 18:41] kibanamachine commented on #121968
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6348#a0ef300b-0db8-4cb2-b0b8-0f514c0fb8b2)

[2021-12-26 19:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6352#2bd7a2bc-763b-4845-a03f-5aa41681731e)

[2021-12-26 19:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6351#e7dc3a71-cb93-4f7d-b74a-69498fc6e616)

[2021-12-26 20:08] kibanamachine commented on #121051
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6355#09e00ecf-726c-4a19-b7fc-01f2fd7609c6)

[2021-12-26 20:11] brianseeders commented on #121051
Skipped

main: fefd270a0484c6e39403b1f651a8dd4b0b21d849
8.0: f10023ff16e1dc693f65a4794cc18196bc77e39a

[2021-12-26 20:12] brianseeders commented on #121968
Skipped

main: 93eb3155621bcdd4a608558a6dc13985756bed2e
8.0: 57761992949a8ff0cd8bb39f7d40266fde183dfa

[2021-12-26 20:13] kibanamachine commented on #121051
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6353#b1fffcfe-ab48-4e94-abf6-2b2711c79d95)

[2021-12-26 20:13] elasticmachine commented on #121968
Pinging @elastic/kibana-core (Team:Core)

[2021-12-26 22:04] kibanamachine commented on #88796
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6358#4a6f6092-4149-4523-9dbd-f55541f7205d)

[2021-12-27 02:14] kibanamachine commented on #121795
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6369#e28f36d2-3f0d-4509-ab13-d57d3e852944)

[2021-12-27 05:41] kibanamachine commented on #106650
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6381#6d3b24d1-7b79-4ab5-bc81-ba71d0b648d8)

[2021-12-27 06:42] aqua-nerd opened #122008 "TSVB Metric/Gauge dancing/moving around on screen"
**Kibana version:**
7.16.1
(many other versions, had the issue for years)
**Elasticsearch version:**
7.16.1

**Server OS version:**
Centos OS 8

**Browser version:**
Chrome & Edge all versions

**Browser OS version:**
Windows 10, Windows 11

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
TSVB Metric and Gauge (possibly others) dance/move aro

[2021-12-27 07:21] deepikakeshav-qasource opened #122009 "[Security Solution][Question] Default Kibana index patterns is not booted if delete the index and created manually before navigating to Security App."
**Describe the bug**
[Security Solution][Question] Default Kibana index patterns is not booted if delete the index and created manually before navigating to Security App.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. Endpoint or any beat should be installed

**Steps to Reproduce**
1. Navigate to data view > stack management under management

[2021-12-27 07:21] elasticmachine commented on #122009
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 07:38] deepikakeshav-qasource opened #122010 "[Security Solution] "Update available" is still displayed after update the data view for inbuilt timeline template"
**Describe the bug**
"Update available" is still displayed after update the data view for inbuilt timeline template

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Endpoint or any beat should be installed

**Steps to Reproduce**
1. Navigate to Timeline tab under security solution
2. Click on timeline template tab
3. Open any

[2021-12-27 07:38] elasticmachine commented on #122010
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 08:08] academo commented on #121507
I discussed it with @kevinlog and we need to have an agreement on the topic, fixing this "bug"[1] means manually divide the number to make it look "correct" and this might affect future functionality in this area.

[1] Technically the count is correct because each host isolation exception is for all operative systems (therefore count as 3), and you can see they are presented as such, 3 for each OS

[2021-12-27 08:33] karanverma-qasource opened #122011 "[Security Solution] Severity and Risk Score values are showing different under alerts table and view details section."
**Describe the bug:**
Severity and Risk Score values are showing different under alerts table and view details section.

**Kibana/Elasticsearch Stack version:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Some malware alerts should be generated.

**Steps to reproduce**

1. Navigate to Alerts tab under security.
2. Note the values of Ri

[2021-12-27 08:33] elasticmachine commented on #122011
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 08:44] flash1293 commented on #75962
@spalger Seems like this issue is flaring up again a bit - has there been some CI instability?

[2021-12-27 09:18] dikshachauhan-qasource opened #122012 "[Fleet] Guide links are not named properly under settings tab."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]
**Bug1:**  Under Fleet server hosts sections, a link is provided named as " Fleet User Guide". However, when user clicks on on it and navigates to Elastic docs having

[2021-12-27 09:18] elasticmachine commented on #122012
Pinging @elastic/fleet (Team:Fleet)

[2021-12-27 09:48] manishgupta-qasource commented on #122012
Reviewed & mention to @jen-huang

[2021-12-27 10:00] deepikakeshav-qasource commented on #117983
Hi @banderror and @vitaliidm ,

We have validated this ticket on latest **8.0.0 Snapshot** and observed that issue is **fixed**. please find the below details:

**Build Details:**
[code]

**Screenshot**

https://user-images.githubusercontent.com/61860752/147460361-cac00c18-b0e6-4121-a379-be5a5456e16e.mp4

hence, we are closing this issue and marking as QA Validated.

Thanks!!

[2021-12-27 10:00] #117983 closed

[2021-12-27 10:58] deepikakeshav-qasource opened #122013 "[Security Solution] Rule information is not displayed under rule details page after deleted the rule"
**Describe the bug**
Rule information is not displayed under rule details page after deleted the rule

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Rule should be created and alerts should be generated

**Steps to Reproduce**
1. Navigate to rules tab under security
2. Delete the created rule
3. Navigate to Alerts tab
4. Cli

[2021-12-27 10:58] elasticmachine commented on #122013
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 11:10] amolnater-qasource opened #122014 "[Fleet]: Unable to differentiate same name policies when added with leading and trailing spaces."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent Policies.
3. Create agent policy with name: `First`.
4. Create another policy with name: ` First`.
5.

[2021-12-27 11:10] elasticmachine commented on #122014
Pinging @elastic/fleet (Team:Fleet)

[2021-12-27 11:10] amolnater-qasource commented on #122014
@manishgupta-qasource Please review.

[2021-12-27 11:29] muskangulati-qasource opened #122015 "[Security Solution] The user is able create different integration policies with same name by just adding leading/trailing spaces. It results in further conflicts while updating anyone"
**Description:**
The user is able create different integration policies with same name by just adding leading/trailing spaces. It results in further conflicts while updating anyone

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Integrations tab from the left side navigation on Kibana
2. Select

[2021-12-27 11:29] elasticmachine commented on #122015
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 11:29] elasticmachine commented on #122015
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-27 11:39] dikshachauhan-qasource opened #122016 "Cloud ID not updated at 'View deployment details' when user made changes to deployment name."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Fleet > Integrations tab.
- Observe, cloud id field is non-editable at View deployment details link.
- Go to

[2021-12-27 11:39] elasticmachine commented on #122016
Pinging @elastic/fleet (Team:Fleet)

[2021-12-27 11:40] manishgupta-qasource commented on #122015
Reviewed & assigned to @kevinlog

[2021-12-27 11:42] manishgupta-qasource commented on #122014
Reviewed & mention @kpollich

CC: @jen-huang

[2021-12-27 11:43] manishgupta-qasource commented on #122016
Reviewed & mention to @joshdevins

[2021-12-27 11:52] dikshachauhan-qasource commented on #122016
Also, when we restarted Kibana after making above changes, we observed a error on Kibana showing up as:
![image](https://user-images.githubusercontent.com/72375798/147469169-b332e0f2-8ffe-4ce5-bf05-19452172fefe.png)

Further, when we redirected to Integration tab, we noticed that, 'view deployment details' button was no longer available. Though no error was recorded at activity logs. when Kibana w

[2021-12-27 11:57] karanbirsingh-qasource opened #122019 "[Security Solution]Timeline import error on 7.16.0 which is exported from 8.0.0 with security default data view"
**Describe the bug**
Timeline import error on 7.16.0 which is exported from 8.0.0 with security default data view

**Build Details**
Version:8.0.0-SNAPSHOT
Commit:a29e0164a4af4d3135910cac9e6caa4478af5f3b
Build:48868

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Create a timeline with security default data view
- export the above timeline
- login to kibana version 7.16.0
- import the above

[2021-12-27 11:57] elasticmachine commented on #122019
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 12:21] amolnater-qasource commented on #121059
Hi @nchaulet
Thanks for looking into this.
We have revalidated this issue on latest 8.0 Snapshot and we have found it **fixed** now.
- We observed no errors while creating several policies and on adding system integrations.

**Build details:**
Build: 48868
Commit: a29e0164a4af4d3135910cac9e6caa4478af5f3b

**Screenshot:**
![11](https://user-images.githubusercontent.com/77374876/147471147-8f106dd4-d

[2021-12-27 12:23] manishgupta-qasource commented on #122019
Reviewed & assigned to @stephmilovic

CC: @MadameSheema

[2021-12-27 12:28] samratbhadra-qasource opened #122021 "[Question]: MySQL and Redis integartion not available for Elastic Agent only."
**Question:**

The MySQL and Redis integration is not available for Elastic Agent only however both of the integration is available for Beats only. As the integrations is not available for Elastic Agent, user is not able to add the integrations.
So, could you please let us know if this is expected behavior.

**Screenshot:**

- MySQL and Redis integration not available on Elastic Agent only.

![Scr

[2021-12-27 12:28] elasticmachine commented on #122021
Pinging @elastic/fleet (Team:Fleet)

[2021-12-27 12:29] samratbhadra-qasource commented on #122021
@manishgupta-qasource Please review.

[2021-12-27 12:32] manishgupta-qasource commented on #122021
Reviewed & assigned to @jen-huang

[2021-12-27 12:57] weltenwort opened #122022 "[Infra UI] Remove dependence on ResizeObserver polyfill"
## :notebook: Summary

Since support for IE11 has been dropped since 7.9.0, we should be able to rely on `ResizeObserver` being supported natively. That means we can reduce the bundle size by not importing the polyfill in the [`AutoSizer` component](https://github.com/elastic/kibana/blob/7723a40237462ee1fb2ba34396f6a8645b9c68f7/x-pack/plugins/infra/public/components/auto_sizer.tsx) anymore.

part

[2021-12-27 12:57] elasticmachine commented on #122022
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-27 14:33] kibanamachine opened #122025 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/uptime/anomaly_alert·ts - Uptime app with real-world data uptime anomaly alert can open ml flyout"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6408#ad68f0ef-6191-4a0f-8132-619026a4dce8)

[2021-12-27 14:36] fglendrange commented on #3693
+1

[2021-12-27 15:12] banderror opened #122027 "[Security Solution][Detections] Improve error handling on the Rule Details page"
**Related to:** https://github.com/elastic/kibana/issues/120872

## Summary

When `GET /api/detection_engine/rules?id={ruleId}` endpoint returns 500:

- Our UI doesn't handle it in a nice way and looks "broken". We need to improve error handling in terms of UI: maybe render a stub error message instead of empty panels, or fill rule properties with "empty" values.
- We fetch alerts of all the exist

[2021-12-27 15:12] elasticmachine commented on #122027
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-27 15:12] elasticmachine commented on #122027
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-27 15:20] banderror commented on #120872
Thank you @deepikakeshav-qasource for your help and all the hints. After digging deeper into the described issues I found out that we have a few separate bugs that all contributed to the end result:

1. https://github.com/elastic/kibana/issues/118520. The `security_exception: [security_exception] Reason: missing authentication credentials for REST request [/_security/user/_has_privileges], caused

[2021-12-27 15:29] banderror commented on #118520
@deepikakeshav-qasource reproduced this issue in her test Cloud environment in https://github.com/elastic/kibana/issues/120872 without doing any Kibana upgrades - this was a fresh 8.0.0 deployment.

Could this mean that the race condition mentioned by @pmuellr might be the root cause in this case?

I wasn't able to reproduce it though, even in the same Cloud environment where she managed to do tha

[2021-12-27 15:42] #120434 closed

[2021-12-27 15:56] gavinwye commented on #120277
Adding some more issues to this list

- #121761
- #121759
- #121758
- #121756
- #121755
- #121754
- #121752
- #121403
- #121400

[2021-12-27 16:08] kevinlog commented on #122015
@muskangulati-qasource I tried to reproduce this, but found some different results.

- I created two policies, one named "Security" and the other " Security " (with extra spaces).
- I was NOT able to reproduce the issue where changes to one policy affected the other.  Each was able to independently hold a different configuration.  It would surprise me if this were not the case since each have thei

[2021-12-27 16:08] elasticmachine commented on #122015
Pinging @elastic/fleet (Team:Fleet)

[2021-12-27 16:10] #121794 closed

[2021-12-27 16:19] pGarrabos opened #122031 "Geospatial field only display the field "location" (even if the field does not exist )instead of geo_shape field of the selected index"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version: I'm using docker images

**Browser version: chrome Version 96.0.4664.110 (Official Build) (64-bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):
docker pull docker.elastic.co/elasticsearch/elasticsearch:7.16.2
docker pull docker.elastic.co/kibana/kibana:7.16.2
**D

[2021-12-27 16:20] emilioalvap opened #122032 "[Step Lists Page] Prevent duration popover event propagation"
**Kibana version:** `8.0.0-SNAPSHOT`

**Elasticsearch version:** `8.0.0-SNAPSHOT`

**Browser version:** Chrome 96.0.4664.110, Firefox 95.0.2, Edge 96.0.1054.62

**Browser OS version:** Windows 10.0.19043

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**

When displaying monitor step duration pop over, if the user performs any click on any

[2021-12-27 16:20] elasticmachine commented on #122032
Pinging @elastic/uptime (Team:uptime)

[2021-12-27 16:30] #100438 closed

[2021-12-27 16:30] #116070 closed

[2021-12-27 16:30] #120507 closed

[2021-12-27 16:30] #120782 closed

[2021-12-27 16:30] #121172 closed

[2021-12-27 16:48] jrykowski-huron opened #122036 "FEATURE REQUEST: Add KQL filter on dropdown selection tool"
For current feature for visualizations to show a dropdown selection tool to easily add filter for dashboard, there’s need to only include values in dropdown that meet certain conditions.   Right now you can specify index pattern, field, and options for whether to Multiselect and make Dynamic Options (update options in response to user input).

Need an "Advanced" option that allows for specifying a

[2021-12-27 17:30] shaunmcgough commented on #19909
In app tabs, or similar views you control, have a number of benefits. A number of discussions about tabs are ongoing here at Elastic.

1. *Control:* Tabs are fully controllable and customizable. They can be renamed, reordered, deleted, duplicated, made actionable, and contain alerts.
2. *Independence:* Tabs don't care about other browser apps, which eliminates confusion and makes our app more stab

[2021-12-27 18:02] #87021 closed

[2021-12-27 18:02] #115881 closed

[2021-12-27 18:03] #120433 closed

[2021-12-27 18:32] kpatticha opened #122042 "[APM] Improve APM Server integration guide"
### Kibana version

v8.1.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Open APM Server integration tutorial page `app/home#/tutorial/apm`

### Expected Behavior

I think it would be useful to point the users where to find this file depending on their environment

### Actual Behavior

On step 2, we refer t

[2021-12-27 18:32] elasticmachine commented on #122042
Pinging @elastic/apm-ui (Team:apm)

[2021-12-27 18:35] tsullivan commented on #111402
Closed via https://github.com/elastic/kibana/pull/121903

[2021-12-27 18:35] #111402 closed

[2021-12-27 18:37] tsullivan commented on #102675
Closed via https://github.com/elastic/kibana/pull/121435

[2021-12-27 18:37] #102675 closed

[2021-12-27 18:38] tsullivan commented on #97406
Closing as this was a temporary issue

[2021-12-27 18:38] #97406 closed

[2021-12-27 18:38] tsullivan commented on #43131
Closing as stale

[2021-12-27 18:38] #43131 closed

[2021-12-27 18:54] kpatticha opened #122043 "[APM] Incorrect font size for step title in apm server tutorial guide"
### Kibana version

v.8.1.0

### Steps to Reproduce

Visit apm tutorial page `app/home#/tutorial/apm`

### Expected Behavior

according to EUI, [EuiSteps](https://elastic.github.io/eui/#/navigation/steps) component,  the steps title is `22px` and the step content `16px`

### Actual Behavior

In the guide both have the same `font-size: 16px`

### `font-size: 16px` -- current
<img width="1380" alt="

[2021-12-27 18:54] elasticmachine commented on #122043
Pinging @elastic/apm-ui (Team:apm)

[2021-12-27 20:43] thomasneirynck opened #122049 "[Maps] The "edit features" action should always show"
The `edit features` layer action is sometimes hidden (e.g. if the scaling is vector tiles).

This makes the action undiscoverable. Edit features should _always_ show, but in disabled mode when some layer-setting prevents it from being used.

[2021-12-27 20:47] kibanamachine commented on #86602
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6426#cc28d7ea-4470-4776-96ed-9e4d66d9f869)

[2021-12-27 20:47] tsullivan commented on #59721
I am going to close this issue as we are going to begin steering users to utilize the Canvas app exclusively when they need multi-page, printer-friendly PDF reports.

[2021-12-27 20:47] #59721 closed

[2021-12-27 20:57] kibanamachine opened #122050 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/state_synchronization·ts - ObservabilityApp Observability alerts page / State synchronization should use shared time range if set"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6425#822a6f84-faa7-4050-ba4b-0e82c61142b3)

[2021-12-27 21:34] kibanamachine commented on #119770
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6429#dd610a5f-f2d2-4321-9cb0-f4cca36335bd)

[2021-12-27 21:44] elasticmachine commented on #122050
Pinging @elastic/unified-observability (Team:Observability)

[2021-12-27 21:46] #120278 closed

[2021-12-27 22:00] jportner opened #122054 "P12 certificates with "Basic constraints" extension and "PathLen" constraint are ignored"
**Kibana version:** 7.9? - 7.16.2

**Describe the bug:**

Kibana can be configured to read/parse certificates in P12 files (configured via `server.ssl.keystore.path`, `server.ssl.truststore.path`, `elasticsearch.ssl.keystore.path`, or `elasticesearch.ssl.truststore.path`) to facilitate Browser-to-Kibana or Kibana-to-Elasticsearch TLS communication.

This bug causes certificates that contain the "B

[2021-12-27 22:00] elasticmachine commented on #122054
Pinging @elastic/kibana-security (Team:Security)

[2021-12-27 22:01] patrykkopycinski commented on #118504
https://www.npmjs.com/package/react-hotkeys-hook

[2021-12-27 23:28] #118484 closed

[2021-12-27 23:28] #119262 closed

[2021-12-27 23:28] #121368 closed

[2021-12-28 00:00] hendry-lim commented on #122036
I believe the control viz, will be replaced by this #115991

[2021-12-28 00:29] spalger commented on #119770
Only two failures in the last week, but based on the image the mentioned `<li>` should exist... it seems

![image](https://user-images.githubusercontent.com/1329312/147515492-409a5224-19c3-413c-9f28-d699e0ef4d29.png)

[2021-12-28 01:03] kibanamachine commented on #121482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6438#93802351-2d73-47ec-bacb-af1f2ce85fa5)

[2021-12-28 03:28] awahab07 commented on #119954
**Post FF Testing**

LGTM

- Uptime monitors page doesn't show the unfiltered row first upon reload.

https://user-images.githubusercontent.com/2748376/147524820-02e8cf22-2da5-4323-9a04-f03365b3fd77.mov

[2021-12-28 04:02] kibanamachine commented on #121482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6447#a01e75a5-0c81-4cea-903f-3d71b4419273)

[2021-12-28 04:54] kibanamachine commented on #118584
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6451#5cfd4b01-e020-42ba-9429-8dfe080a8e6d)

[2021-12-28 08:52] azasypkin commented on #121482
Closing again since 8.0/7.x backports haven't been merged yet due to merge conflicts (CI run pending).

[2021-12-28 09:00] amolnater-qasource opened #122064 "[Question][Self-managed]: 7.16.2>8.0 Snapshot self-managed is upgraded without Kibana enrollment token."
**Description:**
7.16.2 Snapshot>8.0 Snapshot self-managed is upgraded without Kibana enrollment token.

We are setting up self-managed kibana with auto-configuration feature for which we tested on https://github.com/elastic/observability-test-plans/issues/249
However when we upgraded self-managed 7.16.2 Snapshot to 8.0 Snapshot by replacing config and data folders for elasticsearch and kibana.
We

[2021-12-28 09:00] elasticmachine commented on #122064
Pinging @elastic/fleet (Team:Fleet)

[2021-12-28 09:00] amolnater-qasource commented on #122064
@manishgupta-qasource Please review.

[2021-12-28 09:02] muskangulati-qasource commented on #122015
Hi @kevinlog,

We tested this scenario once again and the issue is still reproducible.

However, the steps followed for the same are little different of what you tried. Apologies for the confusion.

**Steps**
1. Install 02 endpoints with default policy
2. Then create a new policy
3. Add Endpoint Security integration in both policies having same name
4. Then change settings for one integration poli

[2021-12-28 09:13] manishgupta-qasource commented on #122064
Reviewed & assigned to @jlind23

CC: @mostlyjason

[2021-12-28 09:33] amaury-bhg commented on #121130
Great this solved my issue !

It was not sufficient for me though, I had the following error :
`
Error: no codec found to encode value in union type ({ type: "count" | "cpu" | "load" | "memory" | "tx" | "rx" | "logRate" | "diskIOReadBytes" | "diskIOWriteBytes" | "s3TotalRequests" | "s3NumberOfObjects" | "s3BucketSize" | "s3DownloadBytes" | "s3UploadBytes" | "rdsConnections" | "rdsQueriesExecuted"

[2021-12-28 09:33] #122032 closed

[2021-12-28 10:13] weltenwort commented on #121130
Interesting, thanks for sharing. Glad to hear you found a way to recover from it.

[2021-12-28 10:15] Kunzetsov opened #122066 "[Storybook] Charts from `elastic/charts` are not drawing at `stories`."
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** macOS Big Sur, v11.6.1.

**Browser version:** Google Chrome, Version 96.0.4664.110 (Official Build) (x86_64).

**Browser OS version:**  macOS Big Sur, v11.6.1.

**Original install method (e.g. download page, yum, from source, etc.):** from source (latest main commit: [4c07aba4a200f6a057758e17e8cc2483a3b60637](https

[2021-12-28 10:15] elasticmachine commented on #122066
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-28 10:22] karanverma-qasource opened #122067 "[Security Solution] Custom fields "Filter In" and "Filter Out" not working correctly on Count and Trend canvas under alerts tab."
**Describe the bug:**
Custom fields "Filter In" and "Filter Out" not working correctly on Count and Trend canvas under alerts tab.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Alerts tab under security.
2. Click on Fields option.
3. Click on "Create Field"
4. C

[2021-12-28 10:22] elasticmachine commented on #122067
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-28 10:23] miltonhultgren commented on #120377
I'm running into some challenges with the data fetching. I'm using the same endpoint that the Metrics Explorer page uses since it exposes all the metrics data we need. The downside is that since it uses a Composite aggregation we cannot sort the results in Elasticsearch except by host name, which means the data in the first page might not be relevant.
This is similar to the limitation we have with

[2021-12-28 10:50] kibanamachine commented on #120730
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6467#f7457c5d-9377-426f-bafb-8ae128ebf24d)

[2021-12-28 10:50] Kunzetsov opened #122068 "[Storybook] Snapshots testing."
## Introduction
Right now, Canvas has its own way of testing components, using storybooks. It is taking a story and comparing it to the snapshot. This way is not requiring writing jest tests. You can see the example of the configuration here: https://github.com/elastic/kibana/blob/4c07aba4a200f6a057758e17e8cc2483a3b60637/x-pack/plugins/canvas/storybook/storyshots.test.tsx#L100.

When expression re

[2021-12-28 10:50] elasticmachine commented on #122068
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-28 11:19] deepikakeshav-qasource opened #122069 "[Security Solution] Additional information is displayed in Tags field under alerts details view"
**Describe the bug**
Additional information is displayed in Tags field under alerts details view

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Rule should be created with tags and alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts tab under security
2. Click on view details icon of above generated aler

[2021-12-28 11:19] elasticmachine commented on #122069
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-28 11:22] muskangulati-qasource opened #122070 "[Security Solution] The save modal for a rule does not show the updated rule name"
**Description:**
The save modal for a rule does not show the updated rule name

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Rules tab under Detect section of Security from the left side navigation on Kibana
2. Click on create rule and create a custom rule (Or you can duplicate a rule)
3. Aft

[2021-12-28 11:22] elasticmachine commented on #122070
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-28 11:24] muskangulati-qasource commented on #122070
@karanbirsingh-qasource please review!!

[2021-12-28 11:29] ghost opened #122071 "[Security Solution] Slow responsiveness of table section and cross icon of search field of alert detail flyout"
**Describe the bug**
Slow responsiveness of table section and cross icon of search field of alert detail flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts tab under security
2. Click on view details icon of above generated alerts
3. Click on table t

[2021-12-28 11:29] elasticmachine commented on #122071
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-28 11:45] MiriamAparicio opened #122073 "[APM] Not able to update legacy jobs after creating a multi-metrics job before updating them"
When creating a new job before updating the legacy ones, the callout disappears and then users can't see the option to update them.
Related to https://github.com/elastic/kibana/pull/119980

https://user-images.githubusercontent.com/31922082/147561810-0381e335-f606-4b0a-ad16-70cd9f097a50.mov

**Proposed solution**

Change the callout copy to clarify that the multi-jobs migration option will no long

[2021-12-28 11:45] elasticmachine commented on #122073
Pinging @elastic/apm-ui (Team:apm)

[2021-12-28 12:37] NotAProfessionalDeveloper opened #122076 "Stack Monitoring graphs consistency"
I'd wish that the y-axis of those graphs was either always 1) set to start at 0, 2) automatically adjusted to the data in the current timeframe, or 3) configurable (for the entire screen i.e. all graphs) which of the previous two is being used.

In the following screen for example you see that if you don't look closely, you might thing there's a lot of heap left, while in reality we are nearing 70

[2021-12-28 12:56] deepikakeshav-qasource opened #122077 "[Security Solution] No data is displayed in alert detail flyout under alert table when create own user with custom privileges"
**Describe the bug**
No data is displayed in alert detail flyout under alert table when create own user with custom privileges

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alerts should be generated

**Steps to Reproduce**
1. Create a role with below information:
![image](https://user-images.githubusercontent.com/61860752/

[2021-12-28 12:56] elasticmachine commented on #122077
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-28 13:28] elasticmachine commented on #122013
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-28 13:29] elasticmachine commented on #122070
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-28 13:49] elasticmachine commented on #114956
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-28 13:58] Mekk commented on #109107
Small reminder that formatted multiline logs happen (and are reasonably supported by „old” discover - once `truncate.maxHeight` is increased):
   https://discuss.elastic.co/t/dec-12th-2021-en-new-document-explorer-in-discover/290446/2?u=mekk

Please, don't remove such a possibility…

[2021-12-28 14:23] afgomez commented on #88077
is this issue still relevant?

[2021-12-28 14:42] spalger commented on #118584
@pheyos looks like there's a timeout that might need to be extended?

![image](https://user-images.githubusercontent.com/1329312/147577466-811edef6-f669-493e-8a45-b249f9b2adc1.png)

[2021-12-28 14:47] spalger commented on #120730
Skipped

8.1/main: https://github.com/elastic/kibana/commit/c395fb9783afe83e0cbf006fd8891c3743c243c0
8.0: https://github.com/elastic/kibana/commit/78e281e89fa3b977c30912637c538eddf3b4fa5f

[2021-12-28 15:11] petermorin123 commented on #90761
I am still having this issue with very 7.16 (latest non-cloud deployment). Is there a fix?

[2021-12-28 15:26] Kunzetsov opened #122083 "[Canvas] Replace custom way of rendering of expression functions with `expressions`' one."
## Introduction
While implementing the solutions for issues [[Canvas] Remove filters](https://github.com/elastic/kibana/issues/113530) and [[Canvas][meta] Unify Expression Renderers and Deprecate flot](https://github.com/elastic/kibana/issues/101377), I've faced a couple of problems. The root of problems is the way of rendering expressions in Canvas.

---

Renderers, which are rendered in `Canvas`

[2021-12-28 15:26] elasticmachine commented on #122083
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-28 15:32] kibanamachine commented on #121363
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6484#9053bdbe-3c24-4a7b-826f-f7fbb5eddaf4)

[2021-12-28 15:53] ducttapecoder-vt commented on #64265
Hey @jbudz, any movement on this? I have Kibana 7.16.2 on CentOS 7. I tried `server.host: "${HOSTNAME}"` in kibana.yml and I get the same `Error: Unknown environment variable referenced in config : HOSTNAME`.

In general I try to keep config files consistent across hosts so simplify upgrades and avoid the .rpmnew issues but the elasticsearch.yml and kibana.yml don't make that easy. I would definit

[2021-12-28 15:54] Kunzetsov opened #122085 "[Canvas] Add support of native event handlers from `expressions` in renderers at Canvas."
## Introduction
At [[canvas] remove filters function](https://github.com/elastic/kibana/issues/113530) it is mentioned, that `filtersManager` need to be filled with `Filter[]` by emitting `applyFilterAction` event. Unfortunately, Canvas is not supporting native events from `expressions`.  It provides its [own handlers](https://github.com/elastic/kibana/blob/15e79995f0cdb3cdf3ca54bc7fa32257dba431aa

[2021-12-28 15:55] elasticmachine commented on #122085
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-28 16:21] elasticmachine commented on #122008
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-28 16:21] elasticmachine commented on #121974
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-28 16:27] emilioalvap opened #122086 "[Uptime] [Exploratory View] Filter validation error on multiple user journeys"
**Kibana version:** `8.0.0-SNAPSHOT, 8.1.0-SNAPSHOT, 7.16.2`

**Elasticsearch version:** `8.0.0-SNAPSHOT, 8.1.0-SNAPSHOT, 7.16.2`

**Browser version:** Firefox 95.0.2, Chrome 96.0.4664.110

**Browser OS version:** Windows 10.0.19043

**Original install method (e.g. download page, yum, from source, etc.):** Kibana from source, CCS to edge-oblt and dev-oblt.

**Describe the bug:**

Multiple user jou

[2021-12-28 16:27] elasticmachine commented on #122086
Pinging @elastic/uptime (Team:uptime)

[2021-12-28 16:42] kevinlog commented on #117906
I haven't seen a new failure on this since the first one.  closing for now

[2021-12-28 16:42] #117906 closed

[2021-12-28 16:54] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6480#aba8d8c5-a96a-4a58-8566-edc32495638c)

[2021-12-28 16:54] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6480#aba8d8c5-a96a-4a58-8566-edc32495638c)

[2021-12-28 16:54] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6480#aba8d8c5-a96a-4a58-8566-edc32495638c)

[2021-12-28 16:58] kevinlog commented on #100236
@paul-tavares here's another failure that's related to this one: https://github.com/elastic/kibana/issues/92567

Maybe the above has more detail for the proper fix.  Otherwise, we can just remove the flaky test

[2021-12-28 17:01] elasticmachine commented on #121974
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-28 17:01] flash1293 commented on #121974
Just like https://github.com/elastic/kibana/issues/117778#issuecomment-989641363

[2021-12-28 17:34] klacabane commented on #121975
Looks like we'll need to introduce a conditional on `xpack.enabled` like we did for other Stack Monitoring modules in [this PR](https://github.com/elastic/beats/pull/28365) in order to write to the `.monitoring-ent-search-*` index, or maybe we should hardcode the index ? Since this is a new module and Stack monitoring does not officially support data stored in metricbeat index, I'd rather avoid th

[2021-12-28 17:41] paul-tavares commented on #100236
@kevinlog the one above that you reference seems different. I think the one above is a case where either the button is below "the fold" or due to a toast message being above it.

did you maybe link the incorrect issue?

[2021-12-28 17:56] brianseeders commented on #121363
/skip

(just testing some new automation, please ignore, won't actually skip anything)

[2021-12-28 18:01] brianseeders commented on #121363
/skip

(just testing some new automation, please ignore, won't actually skip anything)

[2021-12-28 18:16] #109905 closed

[2021-12-28 18:28] tsullivan opened #122092 "[Screenshotting] Download Darwin Chromium binaries at server startup"
To ease maintenance of PDF and PNG reporting features on Darwin OS, we need to discontinue maintenance of custom builds of Chromium browser for this platform. Switching to [binaries supplied by Google](https://commondatastorage.googleapis.com/chromium-browser-snapshots) solves multiple problems:

1. Gatekeeper: artifact signing is critical to the release process and this area has been a roadblock:

[2021-12-28 18:29] elasticmachine commented on #122092
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-28 18:29] elasticmachine commented on #122092
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-28 20:39] elasticmachine commented on #92567
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-28 21:07] claudiopro opened #122098 "Most observability storybooks are broken"
# Summary
Observability storybooks generated by CI are broken, e.g. https://ci-artifacts.kibana.dev/storybooks/pr-122074/6a25c7dce47aa9bfac610e079d8a017112b9540c/observability/index.html
<img width="1306" alt="Screenshot 2021-12-28 at 22 03 17" src="https://user-images.githubusercontent.com/860099/147606977-6aa8fd4c-9109-45bb-8ab9-0995a2813195.png">

Overview/Landing storybooks fail to load with t

[2021-12-28 23:19] andrerca12 opened #122103 "Cannot read property ‘aliases’ of undefined"
**Kibana version:** 7.9.2

**Elasticsearch version:** 7.16.2

**Server OS version:** Windows Server 2012 R2

**Browser version:** Chrome last version

**Browser OS version:** Chrome last version

**Original install method (e.g. download page, yum, from source, etc.):** Updated with MSI package

**Describe the bug:**
After I updated ElasticSearch from 7.9 to 7.16 to fix log4j, Kibana can’t load Ind

[2021-12-29 00:36] kibanamachine commented on #100236
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6510#ae452eba-735a-40d4-b793-3d289b379873)

[2021-12-29 03:05] elasticmachine commented on #122103
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-29 03:06] cjcenizal commented on #122103
@andrerca12 Can you please try upgrading Kibana to the same version as ES? We expect them to always be on the same version. Let me know if the problem persists after you align the versions. Thanks!

[2021-12-29 03:07] elasticmachine commented on #122076
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-29 03:08] elasticmachine commented on #122003
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-29 03:09] elasticmachine commented on #122002
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-29 05:36] kibanamachine commented on #100236
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6525#1ed19ec1-be7b-41ee-b908-534358493a3d)

[2021-12-29 06:56] dikshachauhan-qasource opened #122105 "Icons for Un-enroll agent is different under Agent list page and Agent detail page."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Fleet > Agents tab.
- Go to Actions menu and observe icon at Un-enroll agent.
- Go to Agent detail page and c

[2021-12-29 06:56] elasticmachine commented on #122105
Pinging @elastic/fleet (Team:Fleet)

[2021-12-29 08:00] muskangulati-qasource commented on #120740
Hi @nchaulet,

We validated this ticket on the latest 8.0.0 SNAPSHOT build and found that issue is now resolved.

**Build Details**:
[code]

**Screenshot**
![agents](https://user-images.githubusercontent.com/60252716/147640048-fc458c1a-c8b7-46c9-aeb4-f5d5181ea603.PNG)

Thanks!

[2021-12-29 08:12] muskangulati-qasource opened #122106 "[Security Solution] No back button from Endpoints tab (if the tabs are empty) to Endpoint integration under fleet tab"
**Description:**
No back button from Endpoints tab (if the tabs are empty) to Endpoint integration under fleet tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. There should be no entry in Trusted applications tab, Events Filters tab or Host Isolation Exception tabs

**Steps to Reproduce:**
1. Navigate to the Integration tab under M

[2021-12-29 08:12] elasticmachine commented on #122106
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-29 08:12] elasticmachine commented on #122106
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 08:12] muskangulati-qasource commented on #122106
@manishgupta-qasource please review!

[2021-12-29 08:40] Kunzetsov opened #122108 "[Canvas] Support of `uiState` functionality at renderers in Canvas."
## Introduction

While moving out expressions from `vis_types` to `chart_expressions` and using them at Canvas, have raised some questions, which need to be solved.

---

### Problem

After adding `heatmap` or `pie` to the Canvas and trying to change the color, it will not affect the renderer.

![Screenshot 2021-12-29 at 10 39 12](https://user-images.githubusercontent.com/22456368/147643134-2a525a

[2021-12-29 08:40] elasticmachine commented on #122108
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-29 09:28] manishgupta-qasource commented on #122106
Reviewed & assigned to @kevinlog

[2021-12-29 09:35] Kunzetsov opened #122110 "[Canvas] Workpad element is breaking after changing the expression from expression editor and resizing."
**Kibana version:** v8.1.0 (latest commit: https://github.com/elastic/kibana/commit/c89709a16c4a173d74b6e3805a6585015094972f)

**Browser version:**  Google Chrome Version 96.0.4664.110 (Official Build) (x86_64)

**Browser OS version:**  macOS Big Sur v11.6.1

**Original install method (e.g. download page, yum, from source, etc.):** from the source.

**Describe the bug:**  When changing the origina

[2021-12-29 09:35] elasticmachine commented on #122110
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-29 09:39] deepikakeshav-qasource opened #122111 "[Security Solution] Alert is not displayed under alerts table if next page contains only one alert"
**Describe the bug**
Alert is not displayed under alerts table if next page contains only one alert

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alerts should be generated say 11 alerts

**Steps to Reproduce**
1. Navigate to Alerts tab under security
2. Select the row per page 10
3. Navigate to 2nd page
4. Observe that 1 a

[2021-12-29 09:39] elasticmachine commented on #122111
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 09:41] karanverma-qasource commented on #122067
Hi Team,

We have observed some more points related to above issue on 8.0.0 Snapshot build:

1. Search query with custom field is not showing any data in Count and Trend canvas.
2. When we add filter from "Add Filter" button there is no value to select even field has value.
3. Same issue is occurring if we are filtering data with the search bar.

[code]
**Screen Records:**

https://user-images.git

[2021-12-29 09:41] deepikakeshav-qasource commented on #122077
Hi Team,

We have more investigate this issue and observe that after added the `.internal.alerts-security.alerts*` index in created role, our issue is got resolved.

Hence, we are closing this issue.

Thanks!!

[2021-12-29 09:41] #122077 closed

[2021-12-29 09:47] karanbirsingh-qasource opened #122112 "[Security Solution][Enhancement] Requirement for addition of Filter Tag for custom runtime fields under Data view"
**Describe the bug**
[Enhancement] Requirement for addition of Filter Tag for custom runtime fields under Data view

**Build Details**
[code]

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Navigate to Alert Page and create few of the custom runtime fields
- Now navigate to Data view
- Observed that there are thousands of the fields and there is no such to get set of all the custom field , t

[2021-12-29 09:47] elasticmachine commented on #122112
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 09:54] manishgupta-qasource commented on #122112
Reviewed & assigned to @stephmilovic

CC: @MadameSheema

[2021-12-29 09:55] karanbirsingh-qasource opened #122114 "[Data Views]REMOVE and CHANGE button are not case sensitive"
**Describe the bug**
`REMOVE` and `CHANGE ` button are not case sensitive

**Build Details**
[code]

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Navigate to Alert Page and create few of the custom runtime fields
- Now navigate to Data view
- search for the created fields
- click on pencil icon to edit and change the existing name of the fields
- Observed that in `CHANGE` is mentioned howe