[2021-01-05 21:07] legrego opened #87388 "Remove the circular dependency between features and security"
workaround to remove the circular dependency between features and security. @legrego wouldn't it be more appropriate to move this privilege assertion into the `security` plugin test? https://github.com/elastic/kibana/pull/87294/files#diff-bb6d1fa1f497224ebef5f42ca080dc5baadd274b96fd8ebc99652071fd5a4a77R64

_Originally posted by @restrry in https://github.com/elastic/kibana/pull/87294#discussion_r5

[2021-01-05 21:28] Zacqary commented on #85841
Just not seeing Group By Node anywhere. This example is with only one node, but I still wasn't able to see it when adding more nodes.

<img width="705" alt="Screen Shot 2021-01-05 at 3 27 50 PM" src="https://user-images.githubusercontent.com/1445834/103700801-9af7f080-4f6a-11eb-8cfc-443580751aff.png">
<img width="572" alt="Screen Shot 2021-01-05 at 3 27 46 PM" src="https://user-images.githubuserco

[2021-01-05 21:39] jen-huang commented on #87295
Both behaviors - UI not showing multiple whitespace, and tooltip showing multiple whitespace - are both browser behaviors. There is no precedence in other areas in Kibana that I'm aware of (or in other web apps!) to change such behavior. Closing as won't fix.

[2021-01-05 21:39] #87295 closed

[2021-01-05 21:48] TinaHeiligers commented on #81944
@flash1293 There isn't a strict deadline from the Core team as such, since it's up to plugin owners to decide how important their data is for them. As with most things telemetry-related, the sooner we ensure we're capturing consistent data, the better 😄

[2021-01-05 21:59] nchaulet commented on #86742
From the log we can see  `socket hang up` errors in Kibana logs before the request
<img width="1335" alt="Screen Shot 2021-01-05 at 5 37 31 PM" src="https://user-images.githubusercontent.com/1336873/103701925-eadfb300-4f7c-11eb-9c82-1f97bfc0ffde.png">

[2021-01-05 22:01] #81250 closed

[2021-01-05 22:02] tylersmalley commented on #87242
@tsullivan, I found the issue - the path is hardcoded for arm: https://github.com/puppeteer/puppeteer/blob/main/src/node/Launcher.ts#L107

This has been raised here: https://github.com/puppeteer/puppeteer/issues/6614

[2021-01-05 22:10] VijayDoshi commented on #84777
@rudolf I've seen this term in many products. Generally, something intended for reuse is the qualifying criteria. Here are some examples:

Adobe:
https://www.adobe.com/experience-cloud/topics/digital-asset-management.html
https://helpx.adobe.com/illustrator/using/creative-cloud-libraries-sync-share-assets.html

Microsoft Sharepoint:
https://docs.microsoft.com/en-us/sharepoint/organization-assets-l

[2021-01-05 22:33] #86768 closed

[2021-01-05 22:49] bhavyarm opened #87402 "Kibana needs to tells users to use "quotes" while searching for tags if necessary"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from snapshots

**Describe the bug:** If user has tag names with space in them - and tries to use "tag: tag name or tag:tag nam

[2021-01-05 22:49] elasticmachine commented on #87402
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2021-01-05 22:49] elasticmachine commented on #87402
Pinging @elastic/kibana-core (Team:Core)

[2021-01-05 22:52] ThomThomson opened #87403 "[Dashboard] View Mode Change From URL not Propagated to Top Nav"
**Kibana version:** 7.11.0

**Describe the bug:** If the user changes the viewMode of a dashboard through the url or by pressing the browser back button, the top nav bar is not updated correctly.

**Steps to reproduce:**
1. Open an existing dashboard
2. Change into edit mode
3. Press the browser back button
4. Note that now you in a weird in between state where the top nav is in edit more, but the

[2021-01-05 22:52] elasticmachine commented on #87403
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-05 22:59] tylersmalley commented on #87242
Sync'd with Tim and Brandon - there is a PR open for a fix which I have confirmed. I will create a fork that we can use in the meantime to unblock the release.

[2021-01-05 23:25] dominiqueclarke opened #87406 "[Uptime] Focus is being lost when navigating to the Settings page"
When switching to the Settings page via the Settings tab, focus is being lost

Normal tab focus state
<img width="327" alt="Screen Shot 2021-01-05 at 6 20 50 PM" src="https://user-images.githubusercontent.com/11356435/103710510-2e3d2000-4f83-11eb-90c5-1a0075bc4bfb.png">

Settings
<img width="347" alt="Screen Shot 2021-01-05 at 6 20 45 PM" src="https://user-images.githubusercontent.com/11356435/103

[2021-01-05 23:25] elasticmachine commented on #87406
Pinging @elastic/uptime (Team:uptime)

[2021-01-05 23:42] elasticmachine commented on #87176
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-05 23:48] #85752 closed

[2021-01-06 00:57] rylnd commented on #82553
A few updates here:

TL;DR: this all works, but I don't believe there's any UI to distinguish space-aware from -agnostic (aka global, '*' space) jobs, which is potentially confusing to the user.

* The ML popover correctly creates global jobs. That change was introduced in [this commit](https://github.com/elastic/kibana/commit/72933f6ccb679942a53bbfd8caaf1e1123d574a1)
  * These jobs are visible in

[2021-01-06 00:58] rylnd commented on #82553
@jgowdyelastic RE the above: is there a way to determine the space of the job in the ML UI that I've overlooked?

[2021-01-06 01:12] dominiqueclarke opened #87419 "[Uptime] Create generic testing utilities"
When testing, we commonly need wrappers context providers like Redux, Intl, and Kibana Context. A few of these helpers currently exist, but it appears that they may not meet all the common use cases as we've manually added wrappers in a handful of tests.

Ideally, newly added testing utilities would be generic enough to be used with any testing library, consisting of a simple wrapped component tha

[2021-01-06 01:12] elasticmachine commented on #87419
Pinging @elastic/uptime (Team:uptime)

[2021-01-06 01:13] #87026 closed

[2021-01-06 03:21] kibanamachine opened #87425 "Failing test: Chrome X-Pack UI Plugin Functional Tests.x-pack/test/plugin_functional/test_suites/resolver - Resolver test app when the user is interacting with the node with ID: secondChild when the user hovers over the primary button when the user has clicked the primary button (which selects the node.) should render as expected"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10928/)

[2021-01-06 04:17] #81135 closed

[2021-01-06 04:46] smith commented on #85402
This may have been fixed in an Elastic Charts update, or we may have fixed it in a place where we made sure EUI theming was more consistently applied across charts (I forget the exact PR where that happened, but it was around the time this was opened.

This is what it looks like for me now:

![image](https://user-images.githubusercontent.com/9912/103730192-d8c73a00-4fa7-11eb-9f95-8d06f952b1ed.png)

[2021-01-06 04:46] #85402 closed

[2021-01-06 05:16] #86874 closed

[2021-01-06 05:17] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10930/)

[2021-01-06 05:18] #87242 closed

[2021-01-06 07:45] #87134 closed

[2021-01-06 08:13] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10933/)

[2021-01-06 08:13] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10933/)

[2021-01-06 08:43] michalpristas commented on #86097
### first reported issue: Unrecognized SETTINGS option
probably stale agent

### no `elastic-agent.*` datasets.
this is expected, monitoring betas are running above namespace and collects all items from all beats, namespace is specified inside collected events. also one process is capable of collecting multiple namespaces so distinction would be rather complicated.

### npipe problem
Using version

[2021-01-06 08:58] kibanamachine commented on #84941
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10822/)

[2021-01-06 08:59] pgayvallet commented on #17298
After a sync discussion with @alexfrancoeur, we came to the conclusion that the current capabilities of the `uiSettings` and the `advancedSettings` page were good enough for the initial implementation of the feature, as it answers these two use cases:

- As an admin, I want to configure a header and footer banner for all spaces that cannot be modified by end users. (global / all spaces configurati

[2021-01-06 09:01] peluja1012 commented on #86784
PR here https://github.com/elastic/kibana/pull/87410

[2021-01-06 09:01] #86784 closed

[2021-01-06 09:05] peluja1012 commented on #85951
@muskangulati-qasource fix has been merged. Could you please validate when you get a chance?

[2021-01-06 09:13] pgayvallet commented on #87402
@ryankeairns Isn't that documented somewhere in the nav search doc you did a few weeks ago?

[2021-01-06 09:21] MadameSheema commented on #81598
@deepikakeshav-qasource would you be willing to check the fix of this issue in 7.10.2 BC1 and 7.11.0 BC2 when the BCs are available? Lots of thanks :)

[2021-01-06 09:23] MadameSheema commented on #86784
Lots of thanks for the fix @peluja1012 ❤️

[2021-01-06 09:38] cnasikas opened #87440 "[Security Solution][Case] Markdown links are not properly shown on external services"
When pushing a case with a markdown link to its content or in a comment they are not being shown properly on external services. In addition, Jira does not fully support Markdown.

Jira:

<img width="596" alt="Screenshot 2021-01-06 at 11 32 24 AM" src="https://user-images.githubusercontent.com/7871006/103753344-9afffb00-5013-11eb-96b0-a73428e7ebba.png">

IBM Resilient:

<img width="1843" alt="Scree

[2021-01-06 09:38] elasticmachine commented on #87440
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-06 09:43] #85998 closed

[2021-01-06 10:00] jgowdyelastic commented on #82553
@rylnd a job's spaces can be viewed in Stack Management, under the Machine Learning Jobs section.
Spaces can be assigned and removed from jobs.
We do not list a job's spaces in the main Machine Learning plugin.
Space management was added in this PR https://github.com/elastic/kibana/pull/83320

[2021-01-06 10:11] Dosant opened #87446 "[Search Sessions] Restore state from SO instead of URL"
Part of https://github.com/elastic/kibana/issues/83640

## Problem

[Initial version](https://github.com/elastic/kibana/issues/83640) of search session restores state from the URL.

The URL contains both serialized app + `searchSessionId`:

`kibana/app/discover/#/?_a={discover_state}&_g={discover_state}&searchSessionId={id}`

If state in the URL changes and `searchSessionId` stays untouched most l

[2021-01-06 10:11] elasticmachine commented on #87446
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 10:22] Lolo-Flamingo opened #87447 "[Vega] the x axis doesn't show all the data that are in the filter's time range from kibana (by diagram of gantt)"
Hello everybody!
I would like to create a gantt diagram (time serie) with vega on kibana, the query works well but the x axis doesn't match with the time range done on kibana (1min are shown on my vega x-axis VS 24 hour on my filter).

The x axis- timerange is into the time range from my filter, but it only shows partial data (only 1 minute) and doesn't show the whole time range.

Any idea/help?

[2021-01-06 10:25] kibanamachine commented on #87269
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/101/)

[2021-01-06 10:29] formgeist opened #87449 "[APM] Errors: Update the theme for the error occurrence histogram"
# Summary

It would be great to make the style of the base visualization and their gridlines consistent with the other visualizations. I think it might not use the EUI theme for charts.

<img width="1655" alt="CleanShot 2021-09-09 at 09 54 00@2x" src="https://user-images.githubusercontent.com/4104278/132645869-d2d4b919-0c4d-4349-84ef-4672b5424fd4.png">

The style difference is especially apparent

[2021-01-06 10:38] kesslerm opened #87453 "License Expiration Alert shows misleading expiration time."
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Describe the bug:**

When the license expiration alert fires about 60 days before the license actually expires, it starts to generate server log messages such as `Server log: License expiration alert is firing for elasticsearch. Your license expires in 4 days 11 hrs 59 min. Please update your license.`

The actual relative expiration

[2021-01-06 10:48] carlopuri opened #87455 "[Kibana] Embed Enhanced Table plugin"
Hello All!
This plugin:
https://github.com/fbaligand/kibana-enhanced-table
represent what default "data table" in Kibana visualize should have as default...[IMHO]
Default "data table" is a very basic visualization and the above plugin shows what can be improved in order to get a powerful tool to analyze data.

Integrating this plugin as default in next release of Kibana, will give us a lot of feat

[2021-01-06 10:51] muskangulati-qasource commented on #73529
Hi @EricDavisX,
We have created **01** test case for this ticket:

| Testcase ID | Summary |
| -- | -- |
| [**C35361**](https://elastic.testrail.io/index.php?/cases/view/35361) | Verify that deleted(or revoked) enrollment token should not show up in the flyout under the add agent command |

Please let us know if any other area is yet to be covered.

Thanks!

[2021-01-06 11:03] ghost opened #87456 "[Security Solution] No details and process.executable information is displaying for mimikatz.exe prevention alert"
**Description**
No details and process.executable information is displaying for mimikatz.exe when events are 0.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Alert mimikatz should be generated.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Scroll down to Ale

[2021-01-06 11:04] deepikakeshav-qasource commented on #87456
@manishgupta-qasource Please review

[2021-01-06 11:06] yuliacech commented on #85597
Duplicate of [87293](https://github.com/elastic/kibana/issues/87293)

[2021-01-06 11:06] #85597 closed

[2021-01-06 11:07] deepikakeshav-qasource opened #87458 "[Security Solution] Create Timeline page is displaying under Templates tab on clicking Discard Timeline Template button"
**Description**
Create Timeline page is displaying under Templates tab when user navigates to another page without save the template and click on Discard Timeline Template button.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to Timeline tab of se

[2021-01-06 11:08] deepikakeshav-qasource commented on #87458
@manishgupta-qasource Please review

[2021-01-06 11:10] deepikakeshav-qasource opened #87459 "[Security Solution] Continue button is not working under custom query rule after clicking on threshold rule and remove the data from threshold field."
**Description**
Continue button is not working under custom query rule after clicking on threshold rule and remove the data from threshold field.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Click on Manage detect

[2021-01-06 11:12] deepikakeshav-qasource commented on #87459
@manishgupta-qasource Please review

[2021-01-06 11:22] muskangulati-qasource opened #87461 "[Security Solution] User is able to save the custom Rule with empty 'Source Value' under the 'Severity Override' column"
**Describe the bug**
User is able to save the custom Rule with empty 'Source Value' under the 'Severity Override' column

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Elastic stack should be up and running

**Steps to Reproduce**
1. Navigate to the 'Detections' tab under Security.
2. Click on 'Manage detection rules' & then click on 'Create a new rule'.
3. Select the cus

[2021-01-06 11:22] muskangulati-qasource commented on #87461
@manishgupta-qasource Please review!

[2021-01-06 11:24] #87235 closed

[2021-01-06 11:27] afgomez commented on #87214
I see. I think it might be confusing for some users, but I understand it's not a limitation by our side. I'll close it.

[2021-01-06 11:28] #87214 closed

[2021-01-06 11:40] #87184 closed

[2021-01-06 11:40] manishgupta-qasource commented on #87461
Reviewed & Assigend to @MadameSheema

[2021-01-06 11:41] manishgupta-qasource commented on #87456
Reviewed & Assigend to @MadameSheema

[2021-01-06 11:42] restrry commented on #82220
@jfsiii your help is appreciated if you have the capacity for it.
I assigned it to the Core team since I wasn't sure whether the plugin is maintained by anyone.

[2021-01-06 11:44] muskangulati-qasource commented on #85951
Hi @peluja1012,

We validated this ticket on latest 7.11.0 build and found that issue is partially fixed. Please find the observations below:

**Build Details**:
[code]

**Observation**:
- The source fields are empty but the mapping actually exists under the "Severity override": 🟢 **Fixed**
- The source field is empty but the mapping actually exists under the "Risk score override":  🔴 **Not fixed*

[2021-01-06 11:44] muskangulati-qasource commented on #86073
Hi @kevinlog,

We validated this ticket on the latest 7.11.0 build and found that this issue is now **fixed**!

**Build Details:**
[code]

**Refer Screenshots**:
- Detect mode:
![solvedDetect](https://user-images.githubusercontent.com/60252716/102879943-99a9cc80-4470-11eb-91a5-5c10b4fc805f.PNG)

- Prevent mode:
![solvedprevent](https://user-images.githubusercontent.com/60252716/102879951-9b739000-

[2021-01-06 11:44] #86073 closed

[2021-01-06 11:46] muskangulati-qasource commented on #85225
Hi @kevinlog,

We validated this ticket on the latest 7.11.0 build and found that this issue is now **fixed**!

**Build Details:**
[code]

**Refer Screenshot**:
![MalwareMessageBoxPlatinum](https://user-images.githubusercontent.com/60252716/102598243-bc22a980-4141-11eb-9698-216d502d92a9.PNG)

Hence we are closing this ticket & marking it as **Validated!**

Thanks!!

[2021-01-06 11:47] #85225 closed

[2021-01-06 11:48] manishgupta-qasource commented on #87458
Reviewed & Assigend to @MadameSheema

[2021-01-06 11:49] manishgupta-qasource commented on #87459
Reviewed & Assigend to @MadameSheema

[2021-01-06 11:57] dikshachauhan-qasource opened #87467 "[Ingest Manager]: Datasets generated with future timestamps for "system.syslog" and "system.auth" events for linux .tar agent under Data Streams in Fleet UI."
Kibana version:
Kibana:7.11.0 Cloud environment

Elasticsearch version:
Elasticsearch: 7.11.0 Cloud environment

Build Details:
Build number: 37399
Commit: f3abc08ac648f8b302733c5c22a39048314a027c

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.11.0 Cloud environment

Preconditions
1. Artifacts for 7.11.0 Agent should be availa

[2021-01-06 12:10] elasticmachine commented on #87453
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-06 12:12] shahzad31 opened #87468 "[Uptime] Browser monitor aren't returned in monitor list"
Monitor list api doesn't return Browser monitor, if you stop the runner.

Results are returned in Ping Histogram.

Steps to reproduce:

Run synthetics docker, es and kibana 8.0.0

Stop runner after few minutes.

Wait 10-15 mins, after this no matter what date range you select, previously populated monitors aren't returned.

I suspect this has to do with those stale monitors. But those still appear

[2021-01-06 12:12] elasticmachine commented on #87468
Pinging @elastic/uptime (Team:uptime)

[2021-01-06 12:15] shahzad31 commented on #87468
On a second look, this might be a expected behaviour , since interval is pretty small and it doesn't falls under that timespan optimisation

[2021-01-06 12:18] deepikakeshav-qasource commented on #81598
Hi @MadameSheema

Sure, We will validate the ticket on both 7.10.2 BC1 and 7.11.0 BC2 builds whenever available.

Please let us know if anything else is required from our end.

Thanks!!

[2021-01-06 12:25] manishgupta-qasource commented on #87467
Reviewed & Assigend to @EricDavisX

[2021-01-06 12:26] elasticmachine commented on #87467
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-06 12:37] karanbirsingh-qasource opened #87469 "[Query][Security Solution][Timeline]Timeline mentioned instead of Template in various areas of Security Solution / Timeline Tab"
**Describe the bug**
[Security Solution][Timeline]Timeline mentioned instead of Template in various areas of Security Solution / Timeline Tab

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "7.11.0" BC1 ES version running.
2. Install Agent+Endpoint on the above environment

**Steps to Reproduce**
1. Navigate to Security

[2021-01-06 12:38] karanbirsingh-qasource commented on #87469
@manishgupta-qasource Please review

[2021-01-06 12:42] manishgupta-qasource commented on #87469
Reviewed & Assigned to @MadameSheema

[2021-01-06 12:43] ruflin commented on #87372
Does Kibana need access to all `.fleet-*` indices or only a subset?

[2021-01-06 12:45] ruflin commented on #87372
@aleksmaus I think this is part of what we talked about yesterday. @nchaulet As soon as it is ready / testable best ping Aleks so he can test it.

[2021-01-06 13:04] tbragin commented on #74937
@mukeshelastic @weltenwort I misunderstood this effort to represent creation of runtime fields from the Logs UI. If this ticket is not it, where do we have a product brief and ticket for it?

[2021-01-06 13:05] ruflin commented on #87162
Yes, this should solve the problem, assuming the package is installed by default.

[2021-01-06 13:18] lizozom commented on #85804
So to summarize -

The name of the feature shall be `Search Sessions`. We shall always use the full name in code (i.e. `SearchSessionSavedObjectAttributes`).
Those sessions support a UI action called `Continue in background` which internally saves the Search Session.

When it makes sense, due to limited real estate, we may refer to `Search Sessions` as just `Sessions`, but we need to make sure tha

[2021-01-06 13:20] lizozom opened #87475 "Update BGS name to Saved Sessions"
Following https://github.com/elastic/kibana/issues/85804
We need to update any references to `Background Sessions` to `Search Sessions`.

See original Discuss issue for specific user-facing texts.

[2021-01-06 13:20] elasticmachine commented on #87475
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 13:24] #87219 closed

[2021-01-06 13:37] mostlyjason opened #87480 "[Fleet] Dashboards and visualizations are not clearly labeled to distinguish from Beats"
The dashboards and visualizations created by packages for Elastic Agent are not clearly labeled to distinguish them from Beats. This is confusing when the system package is installed by default even when the user is not using Elastic Agent. The user may accidentally click on one of the Elastic Agent dasbhoards mistakenly thinking they are for Beats, and there will be no data visible. Also, it will

[2021-01-06 13:37] elasticmachine commented on #87480
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-06 13:37] elasticmachine commented on #87480
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-06 13:39] mostlyjason commented on #87480
@sorantis @masci See the related support issue that describes the confusion.

[2021-01-06 13:41] mostlyjason commented on #87480
@masci sorry I accidentally tagged this as ingest management team, but I think its integrations team. Can you check if it synced correctly to your tracking system?

[2021-01-06 13:44] justinkambic commented on #85409
I also think that it's ok if it's inconsistent. The mini down chart is intended to be eye-grabbing because in typical cases they should be blank the majority of the time.

The other common case (monitor has been down for a while) leads to the chart being completely full, which would be consistent anyway.

[2021-01-06 13:46] #87195 closed

[2021-01-06 13:53] cyrille-leclerc opened #87483 "[APM] Consistent terminology between service inventory and transaction overview"
The column titles for Latency, Traffic and Errors are different between the Service Inventory screen and the Service Overview page

### Service inventory
![image](https://user-images.githubusercontent.com/209966/100991436-47e9e280-3553-11eb-8243-66e2fdbed27c.png)

**Suggestions:**
 - "[Avg.] response time" replaced by "Latency (avg.)"
 - "Trans. per minute" replaced by "Traffic (per min)"

### Tra

[2021-01-06 13:53] elasticmachine commented on #87483
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 13:58] MadameSheema commented on #87469
@XavierM can you please take a look at this and help to prioritise? thanks :)

[2021-01-06 14:00] MadameSheema commented on #87459
@peluja1012 @spong can you please take a look at this? thanks :)

[2021-01-06 14:00] #77121 closed

[2021-01-06 14:00] cyrille-leclerc opened #87485 "[APM] Service Overview: Mouse over on the "Latency" graph doesn't display the point in time circle on other graphs (Traffic and Error Rate)"
**Versions**
Kibana: 7.11 master branch
APM Server: (if relevant)
Elasticsearch: (if relevant)

**Problem Description**

When positioning my cursor on a graph (e.g. the latency graph), I see as desired the overlay widget on each graph ("Latency" on which I have my cursor but also on "Traffic" and "Error Rate") but I don't see the "circle" to clearly indicate the point in time on the graph I have n

[2021-01-06 14:00] elasticmachine commented on #87485
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 14:01] EricDavisX commented on #87467
@manishgupta-qasource @dikshachauhan-qasource can you confirm the version and os used as Agent here?

[2021-01-06 14:03] banderror commented on #85951
Yep, the fix hasn't been propagated to 7.11.0 build candidate yet.
The `Artifact: https://staging.elastic.co/7.11.0-710164a0/summary-7.11.0.html` is BC1 (referenced in https://github.com/elastic/dev/issues/1584) from 17 Dec 2020.
The fix should be already available in 7.11.0-SNAPSHOT (staging cloud) or let's wait for BC2.
Thank you!

[2021-01-06 14:05] alexfrancoeur commented on #81970
I think we can close this out now, ya?

[2021-01-06 14:06] MadameSheema commented on #87461
@spong @peluja1012 can you please confirm if this is the expected behaviour or not? thanks :)

[2021-01-06 14:06] sqren commented on #86624
Great idea! Sounds like we can add the custom links setting here:

https://github.com/elastic/kibana/blob/57afacfef221e020d1babe232d10d65c60e99902/x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_transaction_duration.json#L32-L34

@peteharverson How would we add the service name (partition_field) and transaction type (by_field) to the url? Can we do something li

[2021-01-06 14:07] MadameSheema commented on #87456
@XavierM can you please help to prioritise this? thanks

[2021-01-06 14:08] MadameSheema commented on #87458
@XavierM can you please help to prioritise this? thanks :)

[2021-01-06 14:13] dgieselaar commented on #86624
@sqren that's correct but I wonder if that will be applied to existing jobs?

[2021-01-06 14:13] #76456 closed

[2021-01-06 14:17] sqren commented on #86165
We could definitely do that. However, if every app does this, won't search become slow since it'll have to perform search request per app - could be 50+ requests, right?

Another problem I see with async search result providers is that search results will either be ordered by whatever comes first (not great for relevancy) or ordered by priority meaning that results arriving later will push other r

[2021-01-06 14:19] cauemarcondes commented on #87485
I believe Elastic Charts doesn't support it. @markov00 could you confirm it?

[2021-01-06 14:20] pgayvallet commented on #81970
Would be happy to. Just want to be sure we are alright closing it, even if all subtasks listed on the initial description are not completed:

I guess we can close this one and reopen another issue if we want to continue later, wdty @alexfrancoeur?

[2021-01-06 14:20] Dosant commented on #84652
Closed by https://github.com/elastic/kibana/pull/85504

[2021-01-06 14:20] #84652 closed

[2021-01-06 14:25] banderror commented on #56991
PRs:

-> 8.0.0 https://github.com/elastic/kibana/pull/86908
-> 7.12.0 https://github.com/elastic/kibana/pull/87413
-> 7.11.0 https://github.com/elastic/kibana/pull/87414

[2021-01-06 14:25] dikshachauhan-qasource opened #87493 "[Ingest Manager]: Agent Logging level field is not available on upgraded Kibana under Agent Logs tab when upgraded from 7.10.1 to v7.11.0"
Kibana version:
Kibana:7.10.1 Cloud environment

Elasticsearch version:
Elasticsearch: 7.10.1 Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.1 Cloud environment

Preconditions:
1. Artifacts for 7.10.1 Agent should be available.
Link used: https://www.elastic.co/downloads/past-releases/elastic-agent-7-10-1

[2021-01-06 14:26] dikshachauhan-qasource commented on #87493
Please review @manishgupta-qasource

[2021-01-06 14:26] manishgupta-qasource commented on #87493
Reviewed & Assigned to @EricDavisX

[2021-01-06 14:26] elasticmachine commented on #87493
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-06 14:27] banderror commented on #85951
PRs:

-> 8.0.0 https://github.com/elastic/kibana/pull/87004
-> 7.12.0 https://github.com/elastic/kibana/pull/87411
-> 7.11.0 https://github.com/elastic/kibana/pull/87412

[2021-01-06 14:34] formgeist commented on #87483
The same inconsistency is also present on the Transactions overview page table https://github.com/elastic/kibana/issues/84803

[2021-01-06 14:40] #85549 closed

[2021-01-06 14:42] formgeist commented on #87485
The position is indicated with the vertical crosshair but it's hidden behind the tooltip on the synced visualizations. I agree it would be a great enhancement if there was a clearer way to indicate the selected position. But I think the chart doesn't show circle indications for _all_ time-series, only the single time-series selected.

[2021-01-06 14:54] pmuellr commented on #87344
Here's an example of where the escaping is not going to work right:

https://github.com/elastic/kibana/blob/450d297ddf6a2b779019b369636b2c067a75f2ea/x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.ts#L173-L174

https://github.com/elastic/kibana/blob/450d297ddf6a2b779019b369636b2c067a75f2ea/x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.ts#L196-L205

on

[2021-01-06 14:55] Firewire2002 opened #87499 "Unable to remove max docs from ILM Policy via Kibana"
**Kibana version:** 7.10
**Elasticsearch version:** 7.10
**Server OS version:** Ubuntu 20.04
**Browser version:** Firefox 84
**Browser OS version:** Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** deb packages from official repository

**Describe the bug:**

**Steps to reproduce:**
1. Create a ilm policy with max index size and max age via Kibana (Screenshot ki

[2021-01-06 14:56] jalvz opened #87501 "[APM] Add experimental support for data streams"
Right now APM pulls data from `apm-*` indices.

For the data streams feature coming with Fleet integration, we need a new set of additional defaults:

`logs-apm*`
`metrics-apm*`
`traces-apm*`

Notice there is no dash in the suffix (`*`, no `-*`)

We won't manage onboarding nor sourcemap indices (See https://github.com/elastic/kibana/issues/86462 and https://github.com/elastic/apm-server/issues/360

[2021-01-06 14:56] elasticmachine commented on #87501
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 14:57] #78431 closed

[2021-01-06 15:00] EricDavisX commented on #86742
Am I interpreting the data right that... Kibana couldn't help but give the 503 (it was correct to do so)?  That's ok, so then the question is do we have any underlying availability problem about why Kibana is so frequently unavailable?  We can log a new ticket if so and get the right teams involved.

[2021-01-06 15:05] nchaulet commented on #86742
@EricDavisX from what I understand it's the connection between Kibana and ES that is not available here, I am still trying to figure if it's related to something we do but I was not able to have a consistent repro

[2021-01-06 15:08] jonathan-buttner commented on #74330
This should be fixed in 7.11 in this PR: https://github.com/elastic/kibana/pull/84365

[2021-01-06 15:08] #74330 closed

[2021-01-06 15:09] pmuellr commented on #87344
Looking through references to `AlertInstance::scheduleActions()`, it looks like the following modules use the pattern of markup text mixed with variable content, and in fact, the exact same pattern of using a variable `action` of the following form, and exposing it as one of the context variables:

        const action = `[${fullActionText}](${globalStateLink})`;

I think this is all of the monito

[2021-01-06 15:11] restrry commented on #83612
To summarise: here are several teardown cases:
- Kibana stops normally due to an external command. It might shut down gracefully. It's safe to wait for all the plugins to finish the work in the `stop` lifecycle with some precautions: stop shouldn't throw, stop shouldn't timeout, etc.
- Kibana stops due to an internal problem - due to an exception bubbled to the [root](https://github.com/elastic/ki

[2021-01-06 15:13] #65585 closed

[2021-01-06 15:14] bmcconaghy commented on #80632
@arisonl the docs have been updated to refer to these as "stack alerts" consistently.  As for the other points, don't really see any way around this.  We don't want to maintain docs for other alert types outside the docs for the apps that add them, so I think linking is the way to go.  We need the maps team to add their own docs for the geo alert.

[2021-01-06 15:17] elasticmachine commented on #87367
Pinging @elastic/kibana-docs (Team:Docs)

[2021-01-06 15:18] KOTungseth commented on #87367
Thanks for opening this @a03nikki! We'll wrap in this fix with the other broken links closer to the 7.11 release date.

[2021-01-06 15:20] pmuellr commented on #87344
Other potential fixes:

1. Change the `action` variable to just be the url, not a markdown-formatted link (from comment above)
2. revert PRs https://github.com/elastic/kibana/pull/85903 and then https://github.com/elastic/kibana/pull/83919; the first PR is based on the second (a revert on just the second one will be painful), and the second is the one that changed the way the escaping works; plan

[2021-01-06 15:42] EricDavisX commented on #87493
@dikshachauhan-qasource this is a great test, thank you.  Can you confirm then that the Agent is still 7.10.1 version after Kibana is upgraded?  If that is the case I think this is all the expected behavior, and I'm glad it works even this well, with the mixed versions.
 - still presuming the above is done with 7.10.1 Agent against 7.11 Kibana, I would ask that we take the test one step further.

[2021-01-06 15:43] #71706 closed

[2021-01-06 15:44] simianhacker opened #87508 "[Metrics UI] Alias "old" metrics fields to "new" metrics fields"
We would like to migrate to the new ECS fields that ship with Metricbeat 7.10+. We need to look into creating aliases from the old fields to the new fields for older 7.x indices.  There are some caveats with the new fields because some of the data types have changed. For example, the new network field is a delta of the bytes (or the total bytes sent between collection intervals) as opposed to coun

[2021-01-06 15:44] elasticmachine commented on #87508
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-06 15:45] EricDavisX commented on #87467
If it is easy enough, @dikshachauhan-qasource did you see this on any other Linux versions with the same setup?

[2021-01-06 15:46] wylieconlon commented on #87447
We reserve the issue tracker on Kibana for bug reports and feature requests. Please use the forums at https://discuss.elastic.co/ to ask for advice, or reach out to your support contact.

That being said, I think your question is also answered by the Vega tutorial that I wrote: https://www.elastic.co/guide/en/kibana/current/vega-lite-tutorial-create-your-first-visualizations.html

[2021-01-06 15:46] #87447 closed

[2021-01-06 15:46] ostefano commented on #36544
Yes please, I've bumped into this just today. It'd be great if that feature could be added.

[2021-01-06 15:47] #87181 closed

[2021-01-06 15:50] wylieconlon opened #87511 "[data.search.aggs] Sibling agg using Terms isn't able to sort the Terms agg by the metric"
Steps to reproduce:

1. Install the ecommerce sample data
2. Open an aggregated chart using the Kibana sample data
3. Begin configuring a metric
4. The metric is `Overall Max`
5. The metric is split by `Terms of product.id`
6. The sort order of the Terms agg is `Avg of product.price`
7. Set the Metric for Overall Max to also be `Avg of product.price`

Error:

[code]

Screenshot:

<img width="729"

[2021-01-06 15:50] elasticmachine commented on #87511
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 16:01] formgeist opened #87513 "[APM] Display default configuration value in the Advanced Settings section for Service overview"
# Summary

We should display the default configuration value for the Service overview flag in the Advanced Settings section.

<img width="1208" alt="Screenshot 2021-01-06 at 16 16 01" src="https://user-images.githubusercontent.com/4104278/103789926-da910c00-5040-11eb-981a-ea89be315a5e.png">

[2021-01-06 16:01] elasticmachine commented on #87513
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 16:10] afgomez commented on #85986
I could test `Elasticsearch`, `Kibana`, and `APM` overview pages. All three have a heading, a status section and charts.

[2021-01-06 16:10] #85986 closed

[2021-01-06 16:10] dgieselaar opened #87514 "[APM] Service maps: anomaly stats for service node is not cleared"
When getting new data for the service map, anomaly stats for a service node are not cleared if the new response doesn't return any anomaly stats for that node. To reproduce:

- Go to an opbeans environment with ML enabled and navigate to the global service map
- Notice that opbeans-java has anomaly stats for the `production` environment
- Select `testing` as the environment
- Notice from the API r

[2021-01-06 16:10] elasticmachine commented on #87514
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 16:11] spalger commented on #87425
This test failed 34 times all of the sudden starting late in the day yesterday across master and PRs.

![image](https://user-images.githubusercontent.com/1329312/103790653-bad8f400-4ffe-11eb-8dd6-18b529ee345a.png)

It didn't keep that failure rate up though so I'm assuming this was fixed by someone on the @elastic/elastic-security-solution team who didn't know about this issue. Can someone please

[2021-01-06 16:15] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10941/)

[2021-01-06 16:18] spalger commented on #87425
Alright, looks like I was wrong. Skipping in master and 7.x. I suspect that https://github.com/elastic/kibana/commit/bb3659c54d077e9e7125611fc7cc8f897259e9ab is having some unexpected effects.

cc @michaelolo24

[2021-01-06 16:19] chrisronline commented on #84819
Relates to https://github.com/elastic/kibana/issues/87344

[2021-01-06 16:29] spalger commented on #84941
Two failures, one in 7.x and one in a PR to 7.11 since this was fixed. Do you have a chance to look at this again @flash1293?

[2021-01-06 16:31] spalger commented on #87269
Two failures, both in 7.11, thanks for hopping on this @pheyos

[2021-01-06 16:32] alisonelizabeth opened #87517 "[ILM] Clicking on form element with flyout open does not always work"
**Kibana version:**
7.11

**Describe the bug:**
Clicking on a form element the first time when the JSON flyout is open does not work.

**Steps to reproduce:**
1. Go to ILM and create a new policy
2. Add a policy name
3. Open the "Advanced settings" accordion for the hot phase
4. Click on the "Show request" link at the bottom of the page.
5. Click on a form element with the flyout open (e.g., "Use

[2021-01-06 16:32] elasticmachine commented on #87517
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-06 16:33] ryankeairns commented on #17298
@pgayvallet there is a SASS mixin that we use to set the header height which includes compensation for flyouts. I'm not 100% certain this will work, but [check out the Demo JS tab for this EUI docs example](https://elastic.github.io/eui/#/layout/header#stacked-headers) for how we might handle this. In essence, we use javascript to add a class to the `body` tag and then pass a new height value via

[2021-01-06 16:35] michaelolo24 commented on #87425
Taking a look, thanks Spencer!

[2021-01-06 16:40] nreese commented on #86727
Yes, this is something the maps team would like to hook into to provide consistent symbolization on dashboards.

[2021-01-06 16:45] ryankeairns commented on #87402
We had documented several examples, but I neglected to include a tag with spaces in the name. I've updated the draft doc that @gchaps shared with me/where I made those contributions.

<img width="608" alt="Screen Shot 2021-01-06 at 10 43 04 AM" src="https://user-images.githubusercontent.com/446285/103795910-342b1380-500c-11eb-90d1-d20739b68501.png">

Also, fwiw, I tested it out locally and it work

[2021-01-06 16:45] nchaulet commented on #87372
Probably all of `.fleet-*` indicies especially if we want to support the migration

[2021-01-06 16:46] alisonelizabeth opened #87520 "[ILM] Improve form error notification"
The ILM policy form is quite long, especially with advanced settings expanded. If there is a form error, the current implementation makes it hard for the user to immediately know where the error is.

I think there is room for improvement within the JSON request flyout and when submitting the form.

For example, instead of showing this in the JSON flyout:

<img width="1572" alt="Screen Shot 2021-01

[2021-01-06 16:46] elasticmachine commented on #87520
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-06 16:47] SudoNova commented on #64265
I have the same problem:
[code]
but it's defined already.
I think kibana already merges yaml config files (though I haven't tested), according to https://github.com/elastic/kibana/blob/316346ac3ac6d5bd49ef0a33bdfd00101ba8d5b9/packages/kbn-apm-config-loader/src/utils/read_config.ts#L59

[2021-01-06 16:51] Mdnkhan commented on #17298
When will this feature will be available for the users?

[2021-01-06 16:52] nreese opened #87521 "[lens] unable to close advanced popover"
Steps to re-create problem
1) install web logs sample data
2) create new lens
3) drag `@timestamp` field into center
4) drag `geo.src` field into center
5) Under "Break down by", click "top values of geo.src"
6) click "Advanced". Notice that there is no way to close this popover and it stays on screen no matter where you navigate in kibana.

<img width="500" alt="Screen Shot 2021-01-06 at 9 48 07

[2021-01-06 16:52] elasticmachine commented on #87521
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 16:55] YulNaumenko commented on #87440
@cnasikas could it be related to the issue https://github.com/elastic/kibana/issues/87344? (cc @pmuellr )

[2021-01-06 16:56] smith commented on #87117
UI filters are not carried over, but we're leaving that out. kuery, date range, and environment are (they're part of the URL of the links in the Name column) so it looks like we're covered.

[2021-01-06 16:56] #87117 closed

[2021-01-06 16:56] ymao1 commented on #61313
Security solutions have two rule types that allow for custom KQL or Lucene queries

### Custom Query Rule Type

Custom Query rule type allows users to specify either a KQL or Lucene query. Both are converted into ES DSL in the alert executor (Lucene query is converted to the query string query). There is no ability to specify aggregations or conditions for this rule type. The implied condition is

[2021-01-06 17:10] wylieconlon commented on #87521
@nreese which browser are you using? I've noticed this a few times in Firefox, but not Chrome.

[2021-01-06 17:10] SudoNova opened #87524 "FATAL Error: [config validation of [path].logs]: definition for this key is missing"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Server OS version:** Debian 10.7

**Original install method (e.g. download page, yum, from source, etc.):** official apt repository for elasticsearch

**Describe the bug:**
Though using of `path.logs` is documented in https://github.com/elastic/kibana/blob/master/docs/setup/install/deb.asciidoc#L207 when I put this line at the end of

[2021-01-06 17:16] nreese commented on #87521
chrome Version 87.0.4280.88 (Official Build) (x86_64)

[2021-01-06 17:17] #86308 closed

[2021-01-06 17:18] rylnd commented on #86709
Resolved in https://github.com/elastic/kibana/pull/87254
master: e954306
7.x: 3c01bf5
7.11: eac0359

[2021-01-06 17:18] #86709 closed

[2021-01-06 17:24] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10942/)

[2021-01-06 17:24] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10942/)

[2021-01-06 17:26] wylieconlon commented on #87521
I think this is probably not a Lens-specific bug, it also happens in other EUI elements that use portals. @elastic/eui-design is this a known EUI issue?

[2021-01-06 17:26] spalger opened #87529 "[ci-stats/distributable] file count and size are not stable"
It probably shouldn't be too surprising, but the file count and size of the distributable are not stable and as such we should stop reporting them to CI Stats until we can get stable and reproducible numbers.

[2021-01-06 17:28] pmuellr commented on #87440
It's possible that it's related to #87344, which was caused by PR https://github.com/elastic/kibana/pull/83919.

However, guessing it's not.  Some background ...

The way PR #83919 should be working, is that we now do per connector action param escaping of the context variables - but almost all the action params escaping is a no-op - nothing is escaped at all.  Previously, all context variables we

[2021-01-06 17:35] michaelolo24 commented on #87425
Running the flaky test runner right now to test. Figure these are coming from there

[2021-01-06 17:40] tsullivan opened #87532 "[Reporting] Tag Cloud visualizations are blank"
**Kibana version:** 7.11-8.0.0

**Elasticsearch version:**

**Server OS version:** Linux Ubuntu 20

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:** A tag cloud visualization is blank in a PDF or PNG report.

**Steps to reproduce:**
1. Using sample data [eCommerce]
2. Load the dashboard
3. Share >

[2021-01-06 17:41] ymao1 opened #87533 "[Alerting] Alert with broken connector should allow user to select existing connector of same type"
From [this PR comment](https://github.com/elastic/kibana/pull/86838#issuecomment-755444704).

When a user edits an alert that is using a connector that has been deleted, she is only given the option to create a new connector of the same type. If there is an existing connector of the same type as the deleted connector, she should be able to select that without creating a new connector.

To reproduc

[2021-01-06 17:41] elasticmachine commented on #87533
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-06 17:43] jportner opened #87534 "Create Spaces OSS plugin"
As a prerequisite to #85791, we will need to have the ability to expose Spaces X-Pack plugin APIs and UI components to OSS plugins.

To accomplish this, we need to create a Spaces OSS plugin that:
* contains some Spaces type definitions,
* exposes these APIs and UI components to consumers, and
* provides an extension point for the existing Spaces X-Pack plugin to register APIs and UI components

T

[2021-01-06 17:43] kaiyan-sheng commented on #87508
Thank you @simianhacker! These fields are not in ECS yet and here are the lists of fields for each infrastructure:

- [Host fields](https://github.com/elastic/beats/issues/19757)
- [Cloud fields](https://github.com/elastic/beats/issues/21365)
- [Process fields](https://github.com/elastic/beats/issues/22216)

[2021-01-06 17:44] paul-tavares commented on #79574
Added `/epm/packages/{pkgName}/stats` to the list, based on feedback from this pr: https://github.com/elastic/kibana/pull/86916#pullrequestreview-562857613

[2021-01-06 17:49] bhavyarm opened #87535 "If user clicks maximize on a panel and does pdf reporting Kibana displays Error: Expected options.clip.height not to be 0."
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user maximizes a panel on dashboard and clicks on reporting (pdf/png) Kibana displays er

[2021-01-06 17:49] elasticmachine commented on #87535
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 17:49] elasticmachine commented on #87535
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-01-06 17:49] bhavyarm commented on #87535
We also need a bit of clarity on what happens when user is printing report on maximized panel in a dashboard. Do we print the whole dashboard or just the panel? Thanks!

[2021-01-06 17:50] tsullivan opened #87536 "Tag Cloud shows animations when Kibana is set to `accessibility:disableAnimations`"
**Kibana version:** 8.0.0

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When `accessibility:disableAnimations` is `true` in Advanced Settings, the visualizations should animate the data. Tag Cloud shows animations of the tag words when the visualiza

[2021-01-06 17:50] wylieconlon commented on #62277
After looking into this more and looking at what @AlonaNadler listed as priorities, this is not the highest priority annotation feature. It is a higher priority to be able to _insert_ annotations into an XY chart, than to read from a separate index. This issue is about "read-only annotations", which are queried from Elasticsearch.

[2021-01-06 17:50] paul-tavares commented on #87286
@kevinlog , @manishgupta-qasource
Yeah, this is likely because we removed the endpoint specific code from Fleet (in order to keep it generic) and moved to making the name field empty via the Asynchronous UI extension that is loaded by Endpoint.

I'm not sure that there is an easy fix for this. I don't believe the delay between the "switch" is that long, thus the UX is not the worst, so I would pro

[2021-01-06 17:51] formgeist opened #87537 "[APM] Improving the filtering experience for individual field values"
# Summary

In relation to https://github.com/elastic/kibana/issues/84526 and removing the current UI filters in the left sidebar, I want to propose some enhancements to how users might be able to filter in other ways than selecting values from each field shown.

We have a lot of contextual information in various places in the app, where we are displaying individual field values such as the service

[2021-01-06 17:51] elasticmachine commented on #87537
Pinging @elastic/apm-ui (Team:apm)

[2021-01-06 17:51] elasticmachine commented on #87536
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-06 17:52] formgeist commented on #84526
I've opened an enhancement issue to improve filtering capabilities in the UI possibly as part of the removal of the UI filters. https://github.com/elastic/kibana/issues/87537

[2021-01-06 17:53] Zacqary commented on #85841
Which ones are these?

[2021-01-06 17:53] tsullivan commented on #87535
The expectation should be the report shows what is in the browser: the single visualization

[2021-01-06 17:54] justinkambic commented on #85829
We can't really control the time period today because it corresponds to the span the user selects. We also need to be careful with bucketing. We could accidentally break the query for a monitor that frequently pings on ICMP, for example.

[2021-01-06 17:57] mikecote commented on #87047
Note of potential overlap with existing PR: https://github.com/elastic/kibana/pull/86415.

[2021-01-06 17:57] wylieconlon commented on #55265
I'm proposing that we limit the scope of this issue to only **constant-value** threshold lines. Dynamic thresholds are possible, but it doesn't seem like a high priority based on my competitive analysis.

I'm expecting that each threshold will be a separate layer, using a layer-type selector that contains these options (my own mockup, not final):

<img width="399" alt="Screen Shot 2021-01-04 at 4

[2021-01-06 17:58] kibanamachine commented on #87425
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10831/)

[2021-01-06 18:01] elasticmachine commented on #87532
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-06 18:01] #82189 closed

[2021-01-06 18:02] elasticmachine commented on #87532
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 18:08] kibanamachine opened #87541 "Failing test: X-Pack Jest Tests.x-pack/plugins/security_solution/public/cases/containers - usePostPushToService formatServiceRequestData - Alert comment content"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/104/)

[2021-01-06 18:11] rylnd commented on #82553
Thanks @jgowdyelastic, I knew I'd seen that data somewhere! @spong here's what that looks like:

<kbd>
<img width="1215" alt="Elastic" src="https://user-images.githubusercontent.com/657252/103804756-38f5c480-5018-11eb-8b99-de2380f8e2ec.png"></kbd>

[2021-01-06 18:12] chrisronline commented on #85841
@Zacqary I'm a bit dumbfounded. https://github.com/elastic/kibana/pull/85719 made it into 7.11, as you can see [here](https://github.com/elastic/kibana/commits/7.11?after=0987604572623c0bea7aa781a0faf49648d398dc+349&branch=7.11) but I don't know why it's not showing up in the UI. I just tested on cloud staging, but I'm going to test locally and see if I can figure out what's up

[2021-01-06 18:24] Zacqary commented on #85841
For the threadpool alerts, not sure if I'm doing it right but it doesn't seem to be firing when I:

- Set both Write and Read to alert every 1 minute, and fire on 1 rejection
- Do a `GET .monitoring-es*/_search` to find the most recent document with a `node_stats` field
- `POST .monitoring-es*/_update/<doc id>` to set `node_stats.thread_pool.search.rejected` to a number greater than 0, same for `w

[2021-01-06 18:24] dplumlee opened #87546 "[Security Solution][Detection Rules]Update schema to match app Mitre ATT&CK validation"
With the update of the app's Mitre ATT&CK validation in #85481, the detection engine schema wasn't updated with the expectation there would be more overhauled changes to the Mitre fields coming in 7.12. Those have since been reprioritized to a later release so we need to update the Mitre schema, specifically the `technique` field, to be optional and update the corresponding and affected pre-built

[2021-01-06 18:26] elasticmachine commented on #87524
Pinging @elastic/kibana-core (Team:Core)

[2021-01-06 18:27] ryankeairns commented on #17298
We're aiming for version 7.12

[2021-01-06 18:30] wylieconlon opened #87548 "[Lens] Support dynamic thresholds based on data from the chart"
This issue depends on having [constant value thresholds](https://github.com/elastic/kibana/issues/55265) first, and it's lower priority. Dynamic thresholds use pre-defined functions based on the values shown in the chart, such as:

* Overall average
* Overall median
* Overall sum
* Overall min

But dynamic thresholds are not based on _additional data_, which is a separate feature.

These features

[2021-01-06 18:30] elasticmachine commented on #87548
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 18:31] cchaos commented on #87521
I have not seen any issues come in like this. Can you point to the file/code where you create this Popover?

Can you give an example of this?

[2021-01-06 18:34] wylieconlon commented on #87521
It happens in every portal-based component that's shown in the Lens config flyout:

![eui portal issues in lens](https://user-images.githubusercontent.com/666475/103807017-cf7bb300-5023-11eb-93c2-90b53abec2bd.gif)

[2021-01-06 18:42] wylieconlon opened #87551 "[Lens] Support dynamic thresholds based on a query"
This feature is the lower priority than the two other types of thresholds, [constant value thresholds](https://github.com/elastic/kibana/issues/55265) and [thresholds based on already-existing chart data](https://github.com/elastic/kibana/issues/87548), and is also more technically complex.

There are some use cases where users will want to run a query to determine what the threshold values should

[2021-01-06 18:42] elasticmachine commented on #87551
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 18:44] chrisronline commented on #85841
@Zacqary https://github.com/elastic/kibana/pull/85719 doesn't seem to be in BC1, but it is in the 7.11 branch so maybe we need to wait until BC2 to test some of this.

[2021-01-06 18:45] sqren commented on #87117
Thanks for checking @smith

[2021-01-06 18:45] spalger commented on #87541
13 PR failures and one 7.11 failures, all very recently, likely caused by https://github.com/elastic/kibana/pull/86812

cc @cnasikas

![image](https://user-images.githubusercontent.com/1329312/103808062-a43d9780-5014-11eb-88b3-bb191490a9fe.png)

Skipped
master: https://github.com/elastic/kibana/commit/c57efbb56dda9f967bbacf38057ab670a20d4b94
7.x/7.12: https://github.com/elastic/kibana/commit/cc27f

[2021-01-06 18:52] bhavyarm commented on #87532
@tsullivan I was able to succesfully print a report in my local on darwin on dashboard - including tag cloud. So the bug might be platform specific. CC @LeeDr Thanks!
<img width="1792" alt="Screen Shot 2021-01-06 at 1 51 19 PM" src="https://user-images.githubusercontent.com/7074629/103808650-4b76fa80-5026-11eb-8ad0-8a2e19bf9f12.png">

<img width="1792" alt="Screen Shot 2021-01-06 at 1 51 06 PM" sr

[2021-01-06 19:04] chrisronline commented on #85841
@igoristic Can you advise on https://github.com/elastic/kibana/issues/85841#issuecomment-755475827?

[2021-01-06 19:12] Zacqary commented on #85841
@chrisronline I'm running 7.11 locally and still don't see the Group By Node toggle. I actually tried on master first by accident and it also didn't show up.

[2021-01-06 19:20] #84757 closed

[2021-01-06 19:27] chrisronline commented on #85841
@Zacqary  Oh, my bad! You are unable to see this functionality while in `Setup mode`. It's only accessible for firing alerts. I'd recommend using `Setup mode` to set the threshold for various alerts very low to trigger them and test it that way.

[2021-01-06 19:36] wylieconlon opened #87562 "[Lens] Decide where to store annotation data that is authored in Lens"
We are planning to add a Lens feature which lets users author annotations. An annotation for the purposes of Lens has these fields:

* Label
* Start timestamp
* (optional) End timestamp, if we support annotation ranges
* (optional) Icon type
* (optional) Color
* Tags

There are several open questions about how we should store the data. I think there are three outcomes that are possible, and the qu

[2021-01-06 19:36] elasticmachine commented on #87562
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 19:48] wylieconlon opened #87564 "[Lens] Users can insert vertical line annotations on timeseries charts"
This issue depends on a [decision on where to store annotation data](https://github.com/elastic/kibana/issues/87562) as well as [the ability for visualizations to have multiple layer types]() and [to query data asynchronously for visualizations]().

There are three important user flows that we should support:

1. Displaying previous created annotations onto a Lens chart, with options to filter the

[2021-01-06 19:48] elasticmachine commented on #87564
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 19:50] ryankeairns commented on #86251
For reference, here is the [EUI issue](https://github.com/elastic/eui/issues/4257) which contains a prototype link for the notifications center UI design.

[2021-01-06 19:52] wylieconlon opened #87566 "[Lens] Users can insert vertical rectangle annotations by dragging on the chart"
This feature depends on being able to [insert a vertical line annotation](https://github.com/elastic/kibana/issues/87564) first.

Once a user is in edit mode for Lens, they can now drag a selection to create a rectangle. Each rectangle annotation has a color property:

<img width="825" alt="Screen Shot 2021-01-04 at 3 16 57 PM" src="https://user-images.githubusercontent.com/666475/103813827-b33143

[2021-01-06 19:52] elasticmachine commented on #87566
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 19:57] wylieconlon opened #87567 "[Lens] Frame allows visualizations to have multiple types of layers with no datasource"
This is technical work that blocks work on the [thresholds feature](https://github.com/elastic/kibana/issues/55265) and annotations feature.

This isn't an official design, but it shows that we need users to be able to add additional features to their charts, which might resemble the UI to add layers:

<img width="399" alt="Screen Shot 2021-01-04 at 4 39 19 PM" src="https://user-images.githubuserc

[2021-01-06 19:57] elasticmachine commented on #87567
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-06 19:57] #83124 closed

[2021-01-06 20:10] tsullivan commented on #87532
This video shows what happens in the browser as the screenshot job runs. The tag cloud visualization becomes empty when the log prints "taking screenshots"

https://user-images.githubusercontent.com/908371/103815344-7b230400-5020-11eb-9cf8-908798d1a6cd.mp4

[2021-01-06 20:11] #86695 closed

[2021-01-06 20:12] wylieconlon commented on #87562
cc @timroes @flash1293 for the Kibana team parts and @dgieselaar since you implemented the `observability-annotations` index

[2021-01-06 20:13] MichaelMarcialis commented on #86796
Thanks, @wylieconlon. I will add this to and prioritize against my list of current tasks.

[2021-01-06 20:17] tsullivan opened #87573 "[Reporting] Logging Cleanups"
**Kibana version:** 7.x+

**Describe the bug:**
Reporting has a few issues keeping it from being great at logging:
1. Log messages shouldn't be translated. Remove the `i18n.translate()` calls around the logging messages
    Example: https://github.com/elastic/kibana/blob/7.11/x-pack/plugins/reporting/server/lib/screenshots/get_screenshots.ts#L18
2. Remove `LevelLogger` and use the main logging cla

[2021-01-06 20:17] elasticmachine commented on #87573
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-06 20:29] Zacqary commented on #85841
Ah that makes sense. Works outside Setup Mode.

[2021-01-06 20:36] neptunian opened #87575 "[Fleet] Index patterns for integrations not showing up if any indices exist"
In https://github.com/elastic/kibana/issues/85627, implemented in https://github.com/elastic/kibana/pull/85370,  changes were made to fix index patterns being correctly returned by the fields caps api by passing in an `allowNoIndex` property to the index pattern saved object.  This fixed the case where no index patterns show up if no indices exist and use the index patterns stored in the saved obj

[2021-01-06 20:36] elasticmachine commented on #87575
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-06 20:39] spalger commented on #87160
This is now failing 7.12 promotion too. Skipped there also

[2021-01-06 20:39] tsullivan commented on #87532
The tag cloud panel disappears while the screenshot is captured, and then reappears

https://user-images.githubusercontent.com/908371/103817765-8c6e0f80-5024-11eb-9537-fca53953c878.mp4

[2021-01-06 20:47] spalger commented on #86038
I guess we're doing this in 7.12 too? I'm not super concerned about the removal of this API in a minor as it's really only intended for internal use (I assume) but just wanted to raise a minor alert that this means we're removing functionality in a minor Kibana version.

[2021-01-06 20:52] MichaelMarcialis commented on #79024
I still believe the best way to make the ordering/sorting controls more easily findable to users would be to improve the general hierarchy of the form they are contained within (for example, we could divide the form into sections with appropriate headings, including a section for "Sorting"). If we're specifically talking about Lens in this case (and not the older visualization interfaces), I alrea

[2021-01-06 20:52] pugnascotia commented on #86038
Yes, I backported the ES change to 7.12

[2021-01-06 20:57] dsadosky opened #87578 "[Maps] Not drawing shapes when contained within a GeometryCollection"
**Kibana version:**
7.10
**Elasticsearch version:**
7.10
**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud
**Describe the bug:**
The maps app doesn't appear to be handling documents where the geometry type field is a GeometryCollection.  The included shapes are not drawn on the map.  Maps s

[2021-01-06 20:58] elasticmachine commented on #87578
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-06 20:58] sqren commented on #87485
I don't think the vertical crosshair is covered by the tooltip - it's just very low contrast and hard to see. Increasing the contrast would be good.

[2021-01-06 21:03] sqren commented on #86624
I wouldn't expect so but I think that's acceptable. If we can find a simple way to fix it for existing jobs that's even better.

[2021-01-06 21:12] chrisronline commented on #85990
@afgomez This looks wrong. I'll do some research and get back to you.

[2021-01-06 21:17] wylieconlon commented on #79024
@MichaelMarcialis we've added an item to the weekly agenda to talk through any quick improvements we can make, because it seems like there is a lot of confusion with the current feature. My attempt to clarify the confusion is to rename the features:

* "Top values" could use the word "rank" instead of "sort" because we are _excluding_ values based on rank. Top 5, top 10, etc.
* The sorting used in

[2021-01-06 21:26] mbarretta commented on #17298
@pgayvallet

Speaking only for my users, the persistent "sticky" display on both header and footer is a requirement.

[2021-01-06 21:34] pmuellr commented on #68828
Depending on how badly this is needed, and when alerting can deliver something, "bulk" processing could be done by the alert itself.  It could be an option on the alert itself (a new param) - so it could process alerts individually, or in bulk.

I don't think any alerts have done this yet, so we'd want to design this pretty carefully.  And hopefully when we do have the "bulk" feature, we'd want to

[2021-01-06 21:34] choobinejad commented on #17298
+1 the banner should be always visible on header and footer in order to meet NIST and similar requirements.

[2021-01-06 21:45] #87057 closed

[2021-01-06 22:14] tsullivan commented on #87532
I can't say if this is a good fix, but this change does resolve the issue:
[code]

cc @sulemanof

thx @clintandrewhall for pointing me to this area of the code

[2021-01-06 22:14] simianhacker commented on #84940
Closed by #84955

[2021-01-06 22:14] #84940 closed

[2021-01-06 22:29] cyrille-leclerc commented on #87485
Good catch @sqren. When I zoom, I see the line. increasing the contrast would fix the problem.

![image](https://user-images.githubusercontent.com/459691/103826299-e0a1df80-5076-11eb-9c18-379f01aa23e0.png)

[2021-01-06 22:30] #85864 closed

[2021-01-06 22:31] maggieghamry commented on #81046
I've gotten a request in addition to standardizing the same date/time picker throughout the Kibana UI, but also to allow/expand time selection, so users aren't limited to only 1 minute or 30 second increments, but have a time selector that can choose a wider custom timeframe, for example, 1 hour, 2 hours, etc. I think it could be valuable to offer additional flexibility, without the ability to exc

[2021-01-06 22:31] #87541 closed

[2021-01-06 22:33] gimmic opened #87592 "Kibana Multiline KQL query field should move to end of line on "end" key use"
**Kibana version:** 7.9.3
**Browser version:** Chrome

**Describe the bug:**
When entering a long query string and the entry box wraps the query to a new line, the end key should go to the end of line, not the end of the first line, if that makes sense.
**Steps to reproduce:**
1. Create a long query so the query input box goes multiline
2. As you type a long entry, leave the field and go back(to c

[2021-01-06 22:34] elasticmachine commented on #87280
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-06 22:42] lukeelmers commented on #13241
I’ve spent awhile thinking through our options for how request/response logging could work in the new logging system and am working toward a draft PR, but first I'd like to get some input (cc @elastic/kibana-core).

### Legacy request/response logging

In the legacy platform, there are two ways I’m aware of to enable request/response logging:
1. `logging.verbose: true`
2. configuring `logging.even

[2021-01-06 23:03] elasticmachine commented on #87592
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 01:10] tsullivan commented on #87532
This bug appears to be fixed in https://github.com/elastic/kibana/pull/87253

I'm working on adding a tag cloud panel to the functional test for reporting in the dashboard app.

[2021-01-07 01:10] #87532 closed

[2021-01-07 05:13] spong commented on #87461
@MadameSheema -- this is expected behavior as users may want to match against a non-value (`emptystring`). e.g. if `host.name` is empty then override with the specific severity. All strings, including `emptystring` are valid inputs for this value.

[2021-01-07 07:12] muskangulati-qasource commented on #87461
Hi @spong,

Thank you for the information!!

We are closing this ticket as it is 'Working as designed'

Thanks!!

[2021-01-07 07:14] #87461 closed

[2021-01-07 07:52] formgeist commented on #87485
The crosshair contrast is already reported as a bug in Elastic Charts https://github.com/elastic/elastic-charts/issues/925 - the problem I'm seeing is that the tooltips that show aren't adjacent to the vertical line, but on top (covering up the visualization). In any case, it's an issue in the charts library and not something we need to track here. I've opened an enhancement issue for the tooltip

[2021-01-07 07:52] #87485 closed

[2021-01-07 08:12] dgieselaar commented on #87562
@wylieconlon I think part of why we decided to use an index was that there were some doubts about whether Saved Objects would give us the flexibility we might need, e.g. ILM, transforms, ECS, etc. We are not using any of those things right now so I'm not sure if in hindsight it was the right choice.

Some of the use cases I considered back then:

- Users will need to freely associate annotations w

[2021-01-07 08:22] pgayvallet commented on #17298
@ryankeairns

 Yea, I thought about just adding additional classes when the header and/or footer banners are present. However, the banner's text is user inputed, meaning that the height of the banners will (ideally) be variable, which make me think we may not be able to get away with just a new fixed-height style for the header, and would be forced to change the whole layout to be reactive to the

[2021-01-07 08:42] #87248 closed

[2021-01-07 08:54] azasypkin commented on #81618
Hey @elastic/stack-monitoring  ,

Can you please confirm that you're still targeting 7.12 for this work? Once you merge your part we'll remove `usingEphemeralEncryptionKey` from the EncryptedSavedObjects plugin contract in https://github.com/elastic/kibana/pull/81511.

Thanks!

[2021-01-07 08:59] rmoff opened #87607 "Created an Index Pattern in Kibana but it's not saved - but no error either"
**Kibana version:**

7.10.0

**Elasticsearch version:**

7.10.0

**Server OS version:**

docker.elastic.co/elasticsearch/elasticsearch:7.10.0

**Browser version:**

Chrome
Version 87.0.4280.88 (Official Build) (x86_64)

**Browser OS version:**

Mac 10.15.7 (19H15)

**Original install method (e.g. download page, yum, from source, etc.):**

[code]

**Describe the bug:**

When I create an index patte

[2021-01-07 09:07] cnasikas opened #87608 "[Security Solution][Case] Show user action for case settings"
If you enable or disable the sync alerts toggle button the user action is not being shown like it does when you edit the title or add a tag. User actions should be shown when changing case settings.

[2021-01-07 09:09] pgayvallet opened #87609 "Add HTTP service API to register error formatters"
Context: while working on https://github.com/elastic/kibana/pull/86264, I tried to remove all usages of Boom errors in the exporter and importer code, and discovered that it was way more tedious that I thought it would be. If replacing all the manually thrown boom error from 'our' code was easy, I discovered that errors can be thrown from other source, such as the SO clients wrapper.

If you check

[2021-01-07 09:09] elasticmachine commented on #87609
Pinging @elastic/kibana-core (Team:Core)

[2021-01-07 09:14] cnasikas commented on #87440
Hey @YulNaumenko and @pmuellr! Thank you for your answers. I am not talking about context variables inside the content. I am talking about the whole content itself. For example, when you `_execute` the action of IBM Resilient with `description` set as `Check this [link](https://elastic.co).` For cases, that support markdown that's how content could look like.

[2021-01-07 09:14] sqren commented on #87513
@restrry Did you add this label on purpose? :)

![image](https://user-images.githubusercontent.com/209966/103874171-2095b080-50d1-11eb-97ed-fb2b578d404b.png)

[2021-01-07 09:15] sqren commented on #87513
@formgeist The default value is only displayed when the setting is different from the default. In the example below I've reversed the settings of your example:

![image](https://user-images.githubusercontent.com/209966/103874287-458a2380-50d1-11eb-9d00-14a7e3b64c39.png)

[2021-01-07 09:16] sqren commented on #87513
Closing for now. Feel free to open if I missed something.

[2021-01-07 09:16] #87513 closed

[2021-01-07 09:22] rmoff commented on #87607
In the Kibana log I saw this when I went to the Index Patterns home page

[code]

Since this was just a test environment I tore down Kibana and Elasticsearch containers, deleted the local data volume for the containers, and brought them back up. After that … it worked fine.

----

Whilst it looks like there was something odd with my deployment that is now fixed, it would be nice to improve the UX

[2021-01-07 09:37] cauemarcondes commented on #86614
@formgeist Do you think we should filter by transaction type the metadata and metadata/icons APIs? these are going to be used in the service icons.

[2021-01-07 09:40] formgeist commented on #86614
@cauemarcondes The service info shouldn't be filtered by transaction type as they should simply tell the story of the entire service. It's filtered by environment?

[2021-01-07 09:41] cauemarcondes commented on #86614
Yes, it is.

[2021-01-07 09:41] pgayvallet commented on #87524
The documentation seems obsolete. The config property to use to configure the logging file path is `logging.dest`. We should update https://github.com/elastic/kibana/blob/master/docs/setup/install/deb.asciidoc

[2021-01-07 09:44] cauemarcondes commented on #86614
@formgeist and what do you think about this environment API (/api/apm/ui_filters/environments)? should it be filtered by transaction type too?

[2021-01-07 09:45] msadish commented on #82227
Hi team, any updates on this issue ?

[2021-01-07 09:54] sqren commented on #86614
No, environment should not be filtered by transaction type. The hierarchy is:

1. service.name
2. service.environment
3. transaction.type
4. everything else

To break it down: `service.name` is not filtered by any fields below. `service.environment` is only filtered by `service.name`. `transaction.type` is filtered by both `service.name` and `service.environment`.

[2021-01-07 09:56] restrry commented on #80508
`data` plugin has been migrated. @elastic/kibana-core & @elastic/kibana-app would you mind prioritizing migration as per https://github.com/elastic/kibana/issues/80508#issuecomment-741683140 ?

[2021-01-07 09:59] afharo commented on #87609
+1 on finding a way to format errors while providing flexibility on each module's error builders. My only concern with the suggested solution `coreSetup.http.registerErrorFormatter` is that internal modules that may not be used in HTTP responses need to implement their `errorFormatter` only just in case: Following your example, SOs can be used in server-side processes, not only for HTTP. IMHO, it

[2021-01-07 10:01] flash1293 commented on #80508
@restrry on it for kibana-app

[2021-01-07 10:14] cauemarcondes commented on #86614
Today environment is filtered by start, end, and service name. Should we keep the start and end?

Today transaction type is filtered by start, end, and service name. I'm going to add the environment filter here too then.

[2021-01-07 10:28] pgayvallet commented on #13241
That's a hard one.

I agree that having the request/response logs under a specific context seems way more consistent to the new logging philosophy (and log4j fwiw), so I would say that it sounds alright.

In that case, I also agree that using the `debug` log level seems the only viable option to avoid flooding all users logs.

Also, we will only remove the legacy logging system on 8.0, so using `l

[2021-01-07 10:30] paulb-elastic commented on #86577
Just to catch up on this, the other monitor types (such as HTTP ping) already have the `Error` column, so this same approach has been used for Synthetic (browser) type monitors as well.

This does differ from the original mocks, but is consistent with the current implementation for other monitor types.

For the purposes of this bug fix, I don’t think we can start adding sorting at this stage (it's

[2021-01-07 10:41] sorantis commented on #87078
The Docker inventory page takes information from the Metricbeat docker module, I believe once the docker package is available the metrics should show up.

[2021-01-07 10:43] sorantis commented on #87078
In addition, once https://github.com/elastic/obs-dc-team/issues/113 is implemented for containers, basic container information should show up irrespective of container provider

[2021-01-07 10:43] deepikakeshav-qasource commented on #81598
Hi @MadameSheema

We have validated this ticket on **7.10.2 BC1** as well as **7.11.0 BC2** Cloud Builds and found that issue is now **Fixed** . Cross icon is displaying in the right corner under the customize columns search field.

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summa

[2021-01-07 10:43] #81598 closed

[2021-01-07 10:48] cauemarcondes commented on #86614
@sqren before I go on and start changing some code I'd like to double-check some stuff with you.

<img width="1598" alt="Screenshot 2021-01-07 at 11 34 54" src="https://user-images.githubusercontent.com/55978943/103882811-a2d7a200-50dc-11eb-825f-c0be66272206.png">

The above image filters the transaction types by environment. The `user-interaction` transaction type was selected when I had another

[2021-01-07 10:51] afharo commented on #85810
Thank you for your comments! I totally agree with evolving our current schema is a better approach to migrating to `config-schema`. I just felt like this decision was never documented and wanted an issue where we could state the reasons for using our own implementation over anything else.

I'll leave this open for more comments until I start implementing https://github.com/elastic/kibana/issues/83

[2021-01-07 10:52] sqren commented on #86614
True, I left out the date range. Both environment and transaction type should be filtered by this.

[2021-01-07 10:53] afharo commented on #86358
@TinaHeiligers That is great! Thanks!

Do you think we can close this issue now?

[2021-01-07 10:56] afharo commented on #86875
I recall @kobelb had some thoughts around that. I think he suggested to persist it only for telemetry purposes, leaving the current behaviour for external users unchanged. But I may have misunderstood :)

[2021-01-07 10:59] sqren commented on #86614
Good point. I think there are two options:
1. Selecting environment should reset `transaction.type` (either to `undefined` or the default type), or
2. If the selected transaction type doesn't exist we should redirect to the default transaction type

[2021-01-07 11:00] rbr101 commented on #58720
This is also an issue for me, this should be configurable (MUST). It's not an option to duplicate and change every single rule.
Also how to change this for the ML jobs? I think this is not possible.

/R

[2021-01-07 11:01] afharo commented on #69159
I agree with @Bamieh. #81645 is supposed to bring similar APIs to UI Counters to the Server side. I think it should be implemented using those new APIs.

That issue though is actually tentatively planned for 7.13 (according to the `kibana-core` project planning)

[2021-01-07 11:08] vipulsrivastava-qasource opened #87613 "Endpoint Security artifacts are not embedded in the elastic Agent package for 7.10.2 artifact (so Endpoint Integration cannot be used)"
**Description**
Endpoint Security Installation fails because the Endpoint artifact is not embedded within the Elastic Agent artifact

**Build Details**
- **Kibana: 7.10.2-BC1**

Link to the 7.10.2 artifact used Jan 7 circa 6 AM EST
staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html

Are we expecting the staging artifacts to be signed?  maybe not, can't remember, but I think we expected the art

[2021-01-07 11:09] elasticmachine commented on #87613
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 11:10] vipulsrivastava-qasource commented on #87613
@manishgupta-qasource : Please review the bug.

[2021-01-07 11:13] paulb-elastic opened #87614 "[Uptime] Move waterfall component to Observability Plugin"
**Describe the feature:**
To make it easier to use the new waterfall chart in other areas (e.g. APM UI), it would be best to move it from being an Uptime plugin, to being an Observability wide plugin.

**Describe a specific use case for the feature:**
Once complete, the waterfall component from the Observability plugin can be used in Uptime (for the current implementation to represent Synthetic mo

[2021-01-07 11:13] elasticmachine commented on #87614
Pinging @elastic/uptime (Team:uptime)

[2021-01-07 11:22] dikshachauhan-qasource commented on #87467
Hi @EricDavisX

We have tried to validate this issue at below Linux machines on 7.11.0 BC1 Kibana Cloud environment and observed that issue is reproducible.
Build details are as follows:
[code]

Observations as follows:

1. OS: Red Hat Enterprise Linux 7 (64-bit)

Observation: Only "system.syslog" datasets generated with future timestamps for linux .tar agent under Data Streams in Fleet UI.

Scree

[2021-01-07 11:26] rudolf commented on #87160
Created https://github.com/elastic/elasticsearch/issues/67147

[2021-01-07 11:29] pheyos commented on #86518
Fixed in #86790

[2021-01-07 11:29] #86518 closed

[2021-01-07 11:30] deepikakeshav-qasource commented on #81129
Hi @MadameSheema

We have validated this ticket on **7.10.2 BC1** as well as **7.11.0 BC2** Cloud Builds and found that issue is now **Fixed** .  Cross icon is not overlaid under custom query rule and cases tab

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Scr

[2021-01-07 11:30] #81129 closed

[2021-01-07 11:41] weltenwort commented on #85982
Seems to work with other `system` metricbeat data present. :+1:

[2021-01-07 11:41] #85982 closed

[2021-01-07 11:44] Dosant commented on #82227
Hi @msadish,
Looking at Grafana docs, I see they also provide `${__from:date}` and ${__to:date}. Such variables are substituted with ISO 8601/RFC 3339 format and Kibana should pick this up. https://grafana.com/docs/grafana/latest/variables/variable-types/global-variables/#__from-and-__to.

I suggest to try using those to drill down to Kibana.

[2021-01-07 11:50] afgomez commented on #85990
@chrisronline I tried this on cloud, with the 7.11 BC1. Let me know if I can help you

[2021-01-07 11:52] weltenwort commented on #85985
:information_source: I wouldn't consider this a big problem, but the initial loading screen unneccessarily shows a scrollbar. The content element seems to be higher than the remaining screen space beneath the header.

[2021-01-07 11:54] cauemarcondes opened #87616 "[APM] Filter transaction types API by environment"
There was a discussion [here](https://github.com/elastic/kibana/issues/86614) to filter the transaction types API by environment.

By doing it we would have to make some decisions about what we would do when a transaction type is selected but no longer available when the environment is changed.

Suggestions:
1 - Selecting environment should reset transaction.type (either to undefined or the defaul

[2021-01-07 11:54] elasticmachine commented on #87616
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 11:55] rudolf commented on #84729
Yes. I think we would deprecate the SavedObjectsClient and the auto-generated API's. We probably won't be able to remove it before 9.0 or maybe never, but the recommended way to consume saved objects would become to create a custom API and use the SavedObjectsRepository.

[2021-01-07 11:55] elasticmachine commented on #87280
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-07 11:55] rudolf commented on #82027
I guess I was questioning the usefulness of hiding hidden types from the client since this doesn't provide any real security. But I agree that hiding it from the client can help prevent security bugs where a developer thinks they're working with a non-hidden saved object.

I'm +1 on this solution.

[2021-01-07 11:56] weltenwort commented on #85985
While the links all seem to work fine, the breadcrumbs are not always updated correctly:

**After navigating from the cluster list to the cluster details:**
![image](https://user-images.githubusercontent.com/973741/103889898-72e1cc00-50e7-11eb-8926-277e5d2961bc.png)

**After navigating from an ES node overview to the cluster list:**
![image](https://user-images.githubusercontent.com/973741/1038899

[2021-01-07 11:59] cauemarcondes commented on #86614
New issue created to filter the transaction types by environment https://github.com/elastic/kibana/issues/87616

[2021-01-07 12:00] sqren commented on #87485
Good point, didn't notice the difference between there hovered chart and the sync'd charts.

Btw. the red vertical line... is that something you've photoshopped in to make it more obvious, or can we actually get that? I think it's a vast improvement over the existing (nearly invisible) grey line.

[2021-01-07 12:01] manishgupta-qasource commented on #87613
Reviewed and assigned to @kevinlog

[2021-01-07 12:06] sqren commented on #87501
Sounds like this is just a matter of updating the defaults in:
https://github.com/elastic/kibana/blob/2d564ddf1991d44a863d6a80ad90b03722ba1b5d/src/plugins/apm_oss/server/index.ts#L27-L33

@jalvz When is this needed for?

[2021-01-07 12:14] jalvz commented on #87501
7.12!

[2021-01-07 12:20] rudolf commented on #84777
@kobelb

Being able to peek into Kibana's database is powerful and makes otherwise painful processes simpler, but the power is also dangerous making it easy to break Kibana or loose data by deleting something that seemed like an unnecessary/unused saved object. I don't have a strong opinion on this, but I lean towards removing more power and protecting users (and keeping the API as an escape hatch

[2021-01-07 12:20] weltenwort opened #87619 "[Stack Monitoring] Breadcrumbs on cluster list and overview page are incorrect"
**Kibana version:** 7.11.0-BC2

**Elasticsearch version:** 7.11.0-BC2

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

When navigating from and to the cluster list and the cluster overview pages, the breadcrumbs are not always updated correctly:

After navigating from the cluster list to the cluster details:
![image](https://user-images.githu

[2021-01-07 12:20] elasticmachine commented on #87619
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-07 12:22] #85985 closed

[2021-01-07 12:40] kevinlog commented on #87613
@ferullo @dwhyrock looking at the log readout above, it looks like the Agent can't find the Endpoint for `7.10.2`.

@vipulsrivastava-qasource @manishgupta-qasource where did you get the Agent used in this test?  Is the the 7.10.2 BC build?

[2021-01-07 12:41] formgeist commented on #87485
That's just my red pen highlighter ✍️ I would fine it very distracting, I just think we need to increase the contrast of the grey line as proposed in the above issue.

[2021-01-07 12:50] igoristic opened #87620 "Failing test: X-Pack UI Jest Tests 'Alerts Clusters Aggregation' & 'Monitoring Verify License'"
As a result of https://github.com/elastic/kibana/pull/87556 it has been discovered that the following jest tests are failing now that they are actually running:

- 'Alerts Clusters Aggregation' in `../alerts_clusters_aggregation.test.js`
- 'Monitoring Verify License' in `../verify_monitoring_license.test.js`

[2021-01-07 12:50] elasticmachine commented on #87620
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-07 12:51] rudolf commented on #77567
No.

To remove one of the potential causes we can migrate all the documents in these archives and update the mappings.json file. That way Saved Object migrations will become a no-op (we can confirm this by running the test and ensuring that it doesn't create another `.kibana_N` index). This is a somewhat moving target since new migrations can be added in newer minors, so we might have to do this o

[2021-01-07 12:57] katrin-freihofner commented on #86577
1. I don't feel like we need sorting for now or in the near future.
2. I think all monitor types should use the same columns.
3. In my opinion we could include the error message for all monitor types in a details column as shown in the mockup.

[2021-01-07 12:58] vipulsrivastava-qasource commented on #87613
Hi @Kevin

We used to deployed agent using below Staging link.
7.10.2 Link : https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
7.11.0 Link : https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

Please shared details if anything else is required from our end.

Thanks.

[2021-01-07 13:00] deepikakeshav-qasource commented on #84491
Hi @MadameSheema

We have validated this ticket on **7.10.2 BC1** as well as **7.11.0 BC2** Cloud Builds and found that issue is now **Fixed** .  Top dns.question.registered_domain histogram layout is not broken

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Sc

[2021-01-07 13:00] #84491 closed

[2021-01-07 13:04] deepikakeshav-qasource commented on #84475
Hi @MadameSheema

We have validated this ticket on **7.10.2 BC1** as well as **7.11.0 BC2** Cloud Builds and found that issue is now **Fixed** .  Unable to save the rule without mandatory fields of IBM resilient

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Sc

[2021-01-07 13:05] martinschi commented on #36544
@markov00 any idea when we can expect this?

[2021-01-07 13:05] deepikakeshav-qasource commented on #84472
Hi @MadameSheema

We have validated this ticket on **7.10.2 BC1** as well as **7.11.0 BC2** Cloud Builds and found that issue is now **Fixed** .  Correct error message is displaying for ServiceNow, Jira and IBM Resilient when create or edit the rule.

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.

[2021-01-07 13:07] sqren commented on #85508
We might be able to achieve this if we can filter jobs by the index pattern they operate on. In our case we want to retrieve all jobs operating on `apm-*`.
Is this possible @jgowdyelastic ?

[2021-01-07 13:07] kevinlog commented on #87613
thanks @vipulsrivastava-qasource

since you're using Agents from staging, I believe you need to add the `--staging <hash>` flag to the call to enroll the Agent on the host.

as an example:
`.\elastic-agent.exe install -f --kibana-url=http://0.0.0.0:5601 --enrollment-token=<token> --staging e6b2b8c2`

[2021-01-07 13:14] sqren commented on #85508
POC for getting the jobs id's for APM specific ML jobs:

[code]

I realise we should use the ML client instead of querying directly. Would that be an okay approach?

[2021-01-07 13:22] #86507 closed

[2021-01-07 13:25] choobinejad commented on #17298
@pgayvallet I'd suggest typical values in the 20-50 character range. I can't think of a reason to need more than 150 characters. Fixed height is perfectly fine too.!

[2021-01-07 13:44] MadameSheema commented on #87459
This behaviour is present in 7.11.0-BC2

[2021-01-07 13:46] dgieselaar opened #87627 "[APM] Wrap components in error boundaries"
Currently, if any code on the APM page throws an error, the entire APM app will be unmounted and a blank screen shows. We could consider strategically placing error boundaries so any failure of a single component doesn't render the entire app useless.

[2021-01-07 13:46] elasticmachine commented on #87627
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 13:47] jgowdyelastic commented on #85508
We do not currently have a kibana or es endpoint which can supply this functionality, but I think the best solution would be for ML to add a kibana endpoint to do this.
It would need to first find datafeeds which match the index pattern and then find the related jobs.
By us adding an endpoint/shared function to do this we'd only need to perform the capabilities and spaces checks once.

We shouldn'

[2021-01-07 13:48] soumendrak commented on #41216
This Issue should be reopened. Cache not working in 7.4.2
@mistic

[2021-01-07 13:48] sqren commented on #85507
We don't currently have this information. All we have is whether a config was applied or not (`applied_by_agent`):

[code]
We could add a new field `applied_by_agent_details`:

[code]

[2021-01-07 13:48] ymao1 commented on #61313
There is nothing inherently preventing the usage of Painless scripts within the query DSL. A query like this should work out of the box
[code]

In the cited Watcher example, the Watch is using mustache templating to populate the query with user specified (static) metadata values. If we wanted to provide feature parity, we would need to provide a way for a user to specify generic metadata for the q

[2021-01-07 13:51] charlie-pichette commented on #87613
I thought the endpoint was now included in the agent download so we no longer needed to use the `--staging` option.  @ferullo?

[2021-01-07 13:51] dgieselaar commented on #85508
@sqren How do we decide what data to show where? We would need to be able to correlate service.name, transaction.type and possibly service.environment. Actually it would be nice if anomaly data was ECS compatible.

[2021-01-07 13:52] LouDeter opened #87628 "[Security Solution] Import a rule with ApiKey doesn't work"
**Describe the bug:**

There might be a bug in the API key auth when importing a detection rule. The Api Key authorization works for all other endpoints but not the _import one.

When I call the following API endpoint, i successfully retrieve a valid detection rule :
[code]

when i modify the rule slightly (in the description for example) and submit it with the following call
`curl -X POST "http:/

[2021-01-07 13:57] MadameSheema commented on #56991
@banderror @spong Add exception from alert action is still available. When we click on it the following error is displayed:

<img width="1005" alt="Screenshot 2021-01-07 at 14 55 29" src="https://user-images.githubusercontent.com/17427073/103900820-8fd2cb00-50f8-11eb-987d-cbfd28e51e2a.png">

should we disable that action as well?

[2021-01-07 14:03] mbarretta commented on #17298
I'll disagree with @choobinejad. I've seen text that's gone from one side of the screen to the other, so more than 150 characters I think. I do agree that a single line of text _should_ be fine for starters.

[2021-01-07 14:04] Kerry350 commented on #85948
LGTM 🎉

(As an aside the dev tools network throttling works well for testing the cancellation etc, "slow 3G" worked well for me).

[2021-01-07 14:04] #85948 closed

[2021-01-07 14:08] legrego commented on #87609
I'm not normally one to advocate for inherence, but if core exposed a base error type, then plugins could extend that as they see fit, while populating the `message` and `attributes` properties accordingly. That would give us the flexibility we're looking for, without asking plugin authors to remember to register every exception type that may be thrown.

It would also guarantee that all errors are

[2021-01-07 14:09] formgeist opened #87631 "[APM] Bug: RUM agent configuration accepts "recording" param but it's not supported by the agent yet"
# Summary

We're showing the option to turn on/off the "recording" parameter in the Agent configuration UI for RUM agents, but it's not yet accepted by the agent (open issue https://github.com/elastic/apm-agent-rum-js/issues/459). We should therefore remove this option because it's misleading that users can change it in the central config.

<img width="1445" alt="Screenshot 2021-01-07 at 15 05 06"

[2021-01-07 14:09] elasticmachine commented on #87631
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 14:10] karanbirsingh-qasource opened #87632 "Not able to kill Agent on mac os"
**Describe the bug**
Not able to kill Agent process on mac

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment should be available having "8.0.0-SNAPSHOT"  ES version running.
2. Install only Agent fleet mode.

**Steps to Reproduce**
1. Navigate to Agent Tab.
2. Agent got successfully installed.
3. ssh to mac machine on which agent is installed.
4. F

[2021-01-07 14:11] dikshachauhan-qasource opened #87633 "[Ingest Manager]: Unable to upgrade 7.10.1 BC Agent on upgraded 7.11.0 Kibana Cloud Build."
Kibana version:
Kibana:7.10.1 Cloud environment

Elasticsearch version:
Elasticsearch:7.10.1 Cloud environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.1 Cloud environment

Preconditions:
1. Artifacts for 7.10.1 Agent should be available.
	Link used: https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-a

[2021-01-07 14:11] karanbirsingh-qasource commented on #87632
@manishgupta-qasource Please review

[2021-01-07 14:15] muskangulati-qasource commented on #87088
Hi @MadameSheema,

We have validated this ticket on both **7.10.2-BC1** & **7.11.0-BC2** builds and found that issue is now **fixed**:

**Build details**:
- **Kibana version: 7.11.0-BC2**
[code]

- **Kibana version: 7.10.2-BC**
[code]

**Refer screenshots**:
- **Kibana version: 7.11.0-BC2**
- Total count:
![5519](https://user-images.githubusercontent.com/60252716/103892240-40e55f80-5111-11eb-8b92-

[2021-01-07 14:15] muskangulati-qasource commented on #84740
Hi @MadameSheema,

We have validated this ticket on the **7.11.0-BC2** build and found that issue is now **fixed**:

**Build details**:
- **Kibana version: 7.11.0-BC2**
[code]

**Refer screenshots**:
![84740](https://user-images.githubusercontent.com/60252716/103892935-69ba2480-5112-11eb-8267-bd06d119694b.PNG)

Hence, we are closing this ticket!!

Thanks!

[2021-01-07 14:15] #87088 closed

[2021-01-07 14:15] #84740 closed

[2021-01-07 14:15] muskangulati-qasource commented on #85951
Hi @MadameSheema,

We have validated this ticket on both **7.11.0-BC2** & **8.0-SNAPSHOT** builds and found that issue is now **fixed**:

**Build details**:

- **Kibana version: 7.11.0-BC2**
[code]

- **Kibana version: 8.0-SNAPSHOT**
[code]

**Refer screenshots**:
- **Kibana version: 7.11.0-BC2**
![7 11](https://user-images.githubusercontent.com/60252716/103893553-7d19bf80-5113-11eb-96ee-a313ea322

[2021-01-07 14:15] dikshachauhan-qasource commented on #87633
@manishgupta-qasource Please review

[2021-01-07 14:15] #85951 closed

[2021-01-07 14:17] EricDavisX commented on #87613
Thanks Charlie.  I agree, the bug is that the Endpoint is not included in the Agent artifact at all, see screenshot from my expanded zip download of the cited 7.10.2 file vipul linked above.  I expect it was a lack of coordination on the Endpoint + Infra side perhaps?  Maybe Endpoint didn't build the artifact to be included in the Infra packaging, or it just wasn't complete yet as we were focusing

[2021-01-07 14:23] manishgupta-qasource commented on #87633
Reviewed & Assigned to @EricDavisX

[2021-01-07 14:24] elasticmachine commented on #87633
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 14:28] manishgupta-qasource commented on #87632
Reviewed & Assigned to @EricDavisX

[2021-01-07 14:29] elasticmachine commented on #87632
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 14:29] bturner1273 opened #87637 "Discover tab available fields list top five value pop up percentage resolution is too low"
## Description of the issue

Kibana discover tab available fields list seemingly has an issue that when a field is clicked to show 'Top Five Values' if one of the values greatly outweighs the others i.e. we have 9999 equal values and one outlier the common value will be the only one displayed in the 'Top Five Values' menu with a display of 100%. The other doesn't display as .01% and is left out. T

[2021-01-07 14:29] sqren commented on #87631
Recording was added to all agents but nodejs in https://github.com/elastic/kibana/pull/61538.

We can exclude the RUM agent as well here:
https://github.com/elastic/kibana/blob/f170ce29cc3845e525212a704d69acff3d658fe0/x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts#L128

@vigneshshanmugam @jahtalab any Any objections to not showing the `recording` setting for

[2021-01-07 14:32] ymao1 commented on #61313
I'm thinking something like this for the initial search alert type:
![New Project](https://user-images.githubusercontent.com/13104637/103902828-12dc2d00-50c9-11eb-9859-830fc74113a6.png)

* JSON editor for specifying just the `query` portion of an Elasticsearch query
* No support for aggregations
* No support for mustache templating within the query
* Ability to set a condition based on document co

[2021-01-07 14:34] smith commented on #81003
data plugin and others have now been updated in #87294 so we can make some more progress on this now.

[2021-01-07 14:39] kevinlog commented on #87613
Thanks @charlie-pichette and @EricDavisX you all are correct on not needing the staging option.  Thanks for forwarding to the correct people.

[2021-01-07 14:39] sqren commented on #85508
Users would need to setup a multi-metric job and then specify the service.name in the "split field" option. It's error prone, and doesn't take transaction type or environment into account. It's very possible that our time is better spent extending the curated experience from within the APM ui. That being said, I wanted to entertain the thought and see if it was doable somehow.

[2021-01-07 14:42] dikshachauhan-qasource commented on #87493
Hi @EricDavisX

Please find replies to above queries as follows:

`Can you confirm then that the Agent is still 7.10.1 version after Kibana is upgraded? `
- Yes, Agent is still at 7.10.1 version after Kibana is upgraded.

`still presuming the above is done with 7.10.1 Agent against 7.11 Kibana,`
- Here we have firstly installed 7.10.1 Agent on 7.10.1 Kibana Cloud build. Then upgraded Kibana to 7.1

[2021-01-07 14:43] ryankeairns commented on #17298
Let's take an iterative approach here, get something in place that addresses 80% of cases, and plan for future enhancements. Design-wise, I'm confident that we can go with a fixed-height approach that flexibly handles long,. overflowing text. We'd have to take this approach regardless for smaller screens, so let's head that route and Michael or I will provide some design options for handling the l

[2021-01-07 14:44] TinaHeiligers commented on #86358
All collectors have been migrated.

[2021-01-07 14:44] #86358 closed

[2021-01-07 14:45] sqren commented on #87483
@cyrille-leclerc Would you mind merging this issue with https://github.com/elastic/kibana/issues/84803 ? We can close #84803 if there's no additional details in that.

[2021-01-07 14:46] ryankeairns commented on #17298
@pgayvallet Your inclinations about the footer approach resonate with me, including the point about letting the nav and flyout go over top... at least for this initial version. Handling that any other way will significantly delay the availability of a solution.

[2021-01-07 14:49] sqren opened #87643 "[APM] Add license check for significant terms"
- Update Advanced Setting title to contain "Platinum Only"
- Significant terms should be guarded by a license check (Platinum) similar to other paid features.

[2021-01-07 14:49] elasticmachine commented on #87643
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 14:49] sqren commented on #87643
@nehaduggal Which license did we settled on? Gold or Platinum?

[2021-01-07 14:52] cauemarcondes opened #87644 "[APM] UI should block read-only users to try to create a new agent config"
A forbidden error throws when a read-only user tries to save a new agent config.

![Screenshot 2021-01-07 at 15.49.29.png](https://zube.io/files/elastic/58eebfe886bc11d668135912e4e3b6c2-screenshot-2021-01-07-at-15-49-29.png)

[2021-01-07 14:52] elasticmachine commented on #87644
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 14:54] deepikakeshav-qasource commented on #84610
Hi @MadameSheema

We have validated this ticket and found that issue is still occurring on **7.10.2 BC1** and got Fixed for **7.11.0 BC2**.

**Build Details:**
[code]
[code]

Artifacts: https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**
- **7.10.2**
![7_10_2_IBM_case](https://user-images.githubus

[2021-01-07 14:57] afgomez commented on #85989
Should this happen straight after starting or is there a delay? I'm testing 7.11.0-BC1 with a trial license and I get 0 documents.

`kibana.log`

[code]

Dev tools:

[code]

[2021-01-07 14:58] cauemarcondes opened #87647 "[APM] Kibana upgrade assistant link redirects to kibana home page"
![Screenshot 2021-01-07 at 15.55.43.png](https://zube.io/files/elastic/e152ffee1a67c9fc2ff6e627b5a784ba-screenshot-2021-01-07-at-15-55-43.png)

By clicking on `Learn more by visiting the Kibana Upgrade Assistant.` we're redirected to kibana home page but instead, it should be redirected to `/management/stack/upgrade_assistant`

[2021-01-07 14:58] elasticmachine commented on #87647
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 14:59] dwhyrock commented on #87613
There is an Infra Release ticket opened to re-package the Endpoint artifacts inside the Agent artifacts.  https://github.com/elastic/infra/issues/25754

It looks like there was something missed on the packaging/release side of things, but there is a PR to fix it, and then tasks to re-run the `7.10.2` packaging.

[2021-01-07 14:59] MadameSheema commented on #84610
@XavierM @angorayc do we expect to have the fix on 7.10.2 as well? Thanks

[2021-01-07 15:00] EricDavisX commented on #87613
@vipulsrivastava-qasource and QAS folks - I am not seeing any problem deploying the latest 7.11 BC 2 artifact (tested on macOS), just wanted to close the loop on that since I altered the issue.  And thank you Doug.

[2021-01-07 15:01] lukeelmers commented on #13241
Thinking about this more, we have a similar situation with [`elasticsearch.logQueries`](https://github.com/elastic/kibana/issues/57546). Currently the new ES client [still uses the config](https://github.com/elastic/kibana/blob/a2813c8cff2d78917676770cf750ce062bfccc1e/src/core/server/elasticsearch/client/configure_client.ts#L80-L92), but could alternatively be taking the same approach of relying o

[2021-01-07 15:06] jahtalab commented on #87631
@sqren , I think we should hide `recording` for now since the agent doesn't accept that, but will be discussing whether we should add it in the future or not, just to give some context around where we are.

[2021-01-07 15:08] parkiino opened #87648 "Preserve user selections for paid features when a license changes"
- We want to persist the users settings for the policy and check the license just in time before we send a modified version of the policy to the endpoint

Questions:
- Is fleet/agent the place to add special logic to strip out paid features?
- How does the fleet server affect the way we send policies to the agent/endpoint?

[2021-01-07 15:08] stacey-gammon commented on #77958
This is my latest attempt at organizing the various information we'd have.

<img width="1022" alt="Screen Shot 2021-01-07 at 10 07 16 AM" src="https://user-images.githubusercontent.com/16563603/103908159-2f2f9800-50d0-11eb-94b5-3cbad02788a9.png">

[2021-01-07 15:10] rbr101 commented on #43689
Still no progress on this issue ? The generated report does not look like the one rendered in canvas.
For reporting a header section would also be nice.

[2021-01-07 15:12] chrisronline commented on #85990
@afgomez It's definitely broken. I have a fix up here: https://github.com/elastic/kibana/pull/87649

[2021-01-07 15:13] chrisronline commented on #85989
@afgomez Is the config (`monitoring.kibana.collection.enabled`) set to `true`? Is monitoring enabled on the ES cluster as well? What do you see when you visit the Stack Monitoring UI?

[2021-01-07 15:14] #56991 closed

[2021-01-07 15:17] #83224 closed

[2021-01-07 15:18] pgayvallet commented on #17298
@ryankeairns ok, I will try to implement that approach then, thanks.

[2021-01-07 15:20] chrisronline commented on #81618
@azasypkin Yes, we can do this for 7.12

[2021-01-07 15:24] afgomez commented on #85989
Yes, this is enabled.

I don't know, but probably not.

A setup page.

----

I went through the setup and I'm getting documents now 👍

[code]

[2021-01-07 15:26] chrisronline commented on #85989
Gotcha, sorry that wasn't clear in the test notes. I'll update

[2021-01-07 15:26] tsimonyan opened #87656 "Terms aggregation does not allow picking keyword fields under a nested field, when creating a visualization."
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Server OS version:** Ubuntu 20.04

**Browser version:** Chrome 86

**Browser OS version:** Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):** Debian package

**Describe the bug:** Cannot create visualization where terms aggregation is used over keyword fields inside of a nested field.

**Steps to

[2021-01-07 15:28] cyrille-leclerc commented on #87483
Close issue in favor of https://github.com/elastic/kibana/issues/84803 .

@sqren I feel the issue you created is better describing the problem. I'm closing this issue.

[2021-01-07 15:28] #87475 closed

[2021-01-07 15:29] dominiqueclarke commented on #86877
@katrin-freihofner This screenshot is already using `EuiImage`.

I am not sure how to improve bullet points 1 and 2 as it appears as if it's already to spec according to EuiImage. Thoughts?

The third bullet point and the additional comment regarding using a spinner are being addressed. You can see the screenshots of the improvements at the linked pull request https://github.com/elastic/kibana/pul

[2021-01-07 15:29] ferullo commented on #87632
I'm not an Agent expect, but it appears this is working as designed. Agent appears to be respawned by launchd (it's service) after being killed which is what I'd expect to happen.

cc @blakerouse

[2021-01-07 15:29] nehaduggal commented on #87643
Platinum for the significant terms.

[2021-01-07 15:34] kuisathaverat commented on #82020
I want to point here that our test clusters have a large amount of data (3-4TB), and up to 80 developers can work at the same time in the same cluster (on different local Kibana instances pointing to a common remote Elasticsearch)

[2021-01-07 15:36] yuliacech commented on #87517
I believe this issue is coming from a `EuiFlyout` focus bug (https://github.com/elastic/eui/issues/2224). When any element outside of the flyout is clicked, the focus returns back to the originating button, in this case 'Show/Hide request' button and the form is scrolled back down. I'm not sure we can fix this on our side though, wdyt @alisonelizabeth ?

[2021-01-07 15:43] Conky5 commented on #87613
The elastic-agent artifacts for the 7.10.2 build candidate (https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html) have been re-built and re-signed to include the endpoint-security artifact.

[2021-01-07 15:49] MadameSheema commented on #86770
Pending to validate it on BC3

[2021-01-07 15:49] graphaelli opened #87659 "Kibana APM user capture setting"
**Describe the feature:**

Add opt-in for capturing user data in Kibana's own APM.  Other apm settings live under `elastic.apm` like `elastic.apm.enabled`.  I propose `elastic.apm.capture_user` with a default of `false`.

**Describe a specific use case for the feature:**

User capture is filtered out unconditionally in:

https://github.com/elastic/kibana/blob/1d49166203ff0137a377b27be994b6ba76d798

[2021-01-07 15:52] MadameSheema commented on #87132
@deepikakeshav-qasource can you please validate this issue on 7.11.0 BC2? Thanks :)

[2021-01-07 15:55] MadameSheema commented on #85011
@deepikakeshav-qasource can you please validate this ticket on 7.11.0 BC2? thanks :)

[2021-01-07 15:57] MadameSheema commented on #82574
@deepikakeshav-qasource can you please validate this ticket on 7.11.0 BC2? Thanks :)

[2021-01-07 15:57] MadameSheema commented on #82411
@deepikakeshav-qasource can you please validate the fix of this issue in 7.11.0 BC2? thanks :)

[2021-01-07 15:58] #87406 closed

[2021-01-07 16:00] neptunian commented on #85967
Looks good!

[2021-01-07 16:00] #85967 closed

[2021-01-07 16:05] mikecote opened #87664 "Kibana alerting acts strangely when Elasticsearch and/or Kibana clocks are out of sync"
There is ongoing work to document that alerting requires clocks to be in sync between all Elasticsearch and Kibana instances (https://github.com/elastic/kibana/issues/81532). It would be nice to mitigate this problem and also avoid ourselves debugging such scenarios without knowing.

[2021-01-07 16:05] elasticmachine commented on #87664
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 16:07] banderror opened #87665 "[Security Solution][Detections] Fix keyboard navigation on the Detections home page"
**Describe the bug:**

Keyboard navigation on the Detections home page is broken in different ways in different browsers. While Chrome (and presumably other browsers with the same engine) demonstrates the best support only with some issues, Safari seems to have the worst support for it.

See screen recordings:

- [Keyboard navigation in Chrome](https://drive.google.com/file/d/1esNnZ7P9b0_xw9EWlWKz

[2021-01-07 16:09] banderror commented on #87665
Not sure if it should be added to [a11y](https://github.com/orgs/elastic/projects/466) project

[2021-01-07 16:13] #79948 closed

[2021-01-07 16:15] jen-huang opened #87669 "[Fleet] Set up Fleet functional test suite"
We need to do some bootstrapping work to set up functional tests for Fleet. This includes:
- [ ] Set up and configure `x-pack/test/fleet_functional` test directory
- [ ] Write a few basic tests to use as reference for future tests

Resources:
[Kibana functional test docs](https://www.elastic.co/guide/en/kibana/master/development-tests.html#development-functional-tests)
Existing functional test sui

[2021-01-07 16:15] elasticmachine commented on #87669
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-07 16:15] elasticmachine commented on #87669
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-07 16:19] alexfrancoeur commented on #17298
A bit behind on the thread here, but I think all questions / answers align with my thoughts as well 👍

Regarding telemetry collection, I do think we need to make a white list for the advanced settings page. I saw a thread somewhere where this looked like a low effort, so we should prioritize.

[2021-01-07 16:19] elasticmachine commented on #87659
Pinging @elastic/kibana-core (Team:Core)

[2021-01-07 16:20] stratoula opened #87671 "[Time to Visualize] Breadcrumb doesn't behave correctly when switching the dashboard.allowByValueEmbeddables flag from true to false"
**Kibana version:**
7.11

**Describe the bug:**
I have the` dashboard.allowByValueEmbeddables` flag set to true and I create a Lens chart from the dashboard. When I set the flag to false and edit the Lens viz I see the Visualize link in breadcrumb which works ok as it redirects me to the list. But when I go back to history then it redirects me to the Lens Create page.

<img width="516" alt="Screen

[2021-01-07 16:20] elasticmachine commented on #87671
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 16:20] #70570 closed

[2021-01-07 16:21] alisonelizabeth commented on #87517
Good find! Yes, it does appear to be an EUI problem. I agree it should be fixed on the EUI side.

[2021-01-07 16:22] peluja1012 commented on #87110
@muskangulati-qasource @manishgupta-qasource Thanks for reporting this issue. I am not able to reproduce it in 7.11 BC 2 with the steps provided. Did you encounter this error on a fresh deployment of 7.11? Were there any other actions taken before seeing the error?

[2021-01-07 16:23] #63865 closed

[2021-01-07 16:24] #82658 closed

[2021-01-07 16:27] dgieselaar opened #87673 "[APM] Show shaded area for other anomaly severities than critical"
Currently we only show a shaded area when an anomaly exceeds the threshold for critical (75). We could consider showing other levels as well, to be consistent with the health status on the service inventory page and service map.

[2021-01-07 16:27] elasticmachine commented on #87673
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 16:38] dhurley14 commented on #81620
From what I see the only spot we are checking `usingEphemeralEncryptionKey` is to make sure the user has set encryption keys, ala the customer is *not* relying on ephemeral encryption keys (https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/lib/detection_engine/routes/privileges/read_privileges_route.ts#L38) . Anyone seeing anywhere else please feel free to updat

[2021-01-07 16:38] jen-huang commented on #79714
Closed by #87401.

[2021-01-07 16:38] #79714 closed

[2021-01-07 16:44] tsullivan commented on #86425
`xpack.reporting.kibanaServer.hostname` is meant for Reporting to reach the Kibana server through a proxy. Sometimes this is required if a proxy is responsible for decorating incoming requests to make them compatible with the server --- typically this means there is a basePath that the proxy has to rewrite to make the requests compatible with the Kibana server. For Reporting requests to get the de

[2021-01-07 16:45] elasticmachine commented on #87656
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 16:45] elasticmachine commented on #87656
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 16:46] elasticmachine commented on #87637
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 16:48] elasticmachine commented on #87607
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 16:49] #74937 closed

[2021-01-07 16:49] elasticmachine commented on #87499
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 16:51] pmuellr commented on #87440
Currently the case-ish connectors themselves do no escaping for any context variables for any of the connector params.

If there are some special parameters that should be treated as markdown (or similar), we can extend the escaping logic for the connectors to handle them.

So for now, you _could_ put all of `[link](https://elastic.co)` in a context variable, say `link`,  and then the template cou

[2021-01-07 16:52] lukeelmers commented on #87609
As an aside: we have this `KbnError` which is leftover from the legacy world and similar to what @legrego proposes (`src/plugins/kibana_utils/common/errors/errors.ts`). If we were to go down this path, we should consider replacing/refactoring that as I believe it was designed to solve a similar problem.

[2021-01-07 16:54] pgayvallet commented on #84980
After thinking a bit more about it, I have a few remarks:

1. **We probably want a single hook call with all the objects of a given type instead of per-object hook call**

I'm think about the `case` + `case-comment` use case here. If we go with something like

[code]

the hook registrant will have to perform one ES request for each individual `case` object during the export to fetch the objects as

[2021-01-07 16:58] yuliacech commented on #87517
I'll keep an eye on the EUI issue and after it has been fixed there, I'll confirm if that also solves the bug in ILM.

[2021-01-07 17:02] #81246 closed

[2021-01-07 17:04] #87403 closed

[2021-01-07 17:07] Zacqary commented on #85841
Do I still need to do something to enable Watcher for the legacy alerts? Seems like I'm having trouble getting the license expiration pipeline to set it off

[2021-01-07 17:08] tsullivan commented on #43689
In 7.11, Canvas reports will have a "full page layout" option. Choosing that option removes the Elastic-branded margin around the canvas workpad images.

See https://github.com/elastic/kibana/pull/84959

[2021-01-07 17:08] #43689 closed

[2021-01-07 17:10] nchaulet commented on #86742
Looks like the `/agent-status` is really CPU intensive using a lot of KQL I am wondering if this could have an impact

[2021-01-07 17:12] banderror opened #87681 "[Security Solution][Detections] Create a standard UX and common implementation of callouts for Elastic Security app"
## Summary

In `security_solution` we have different implementations of callouts. They all use [`EuiCallOut`](https://elastic.github.io/eui/#/display/callout) component, so they look similar but still different from the UX standpoint. Some have [Dismiss] button, some persist dismissal in local storage, some group messages of the same type (primary, warning, etc) under a single dismissable callout

[2021-01-07 17:15] wylieconlon commented on #87637
This is not a bug, but I agree that we should consider changing it.

Currently Discover only looks at 500 documents, so the values you see are based on the 500 documents loaded.

Lens has taken a different approach with our field list, which is trying to represent percentages more globally.

We should probably change the calculation to be more global, like Lens.

[2021-01-07 17:16] tsullivan commented on #87304
Related: Reporting

When there is a request to generate a report, the application captures the current page URL (hopefully a specialized one that will render the page in a screenshot-friendly way).

Those URLs in Reporting job parameters also have no migration system, and also don't carry any application state except for what is in the query string.

[2021-01-07 17:21] elasticmachine commented on #87340
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 17:23] chrisronline commented on #85841
You'll need trial or higher license and that should be it. I'd double check the watches exist and then you can do something like:
[code]

to verify the pipeline is properly changing the document

[2021-01-07 17:26] aleph-zero opened #87685 "Cannot create rollup jobs"
**Kibana version:** 7.10.1
**Elasticsearch version:** 7.10.1
**Server OS version:** MacOS
**Browser version:** Chrome Version 87.0.4280.88 (Official Build) (x86_64)
**Browser OS version:** MacOS Catalina, version 10.15.7
**Original install method (e.g. download page, yum, from source, etc.):** tarball
**Describe the bug:**
When creating a rollup job through the Kibana UI, the last step where the u

[2021-01-07 17:28] Zacqary commented on #85841
Yeah the document's updating, watches don't exist though.

[2021-01-07 17:29] chrisronline commented on #85841
What license level are you on? If you are on trial+ and using legacy monitoring collection, the watches should be created for you.

[2021-01-07 17:31] Zacqary commented on #85841
Using Trial and Metricbeat monitoring, alerts are created but no watches.

[2021-01-07 17:34] elasticmachine commented on #87177
Pinging @elastic/kibana-docs (Team:Docs)

[2021-01-07 17:36] banderror opened #87686 "[Security Solution][Detections] Handle missing privileges for .lists* and .items* indices gracefully"
**Related to:** https://github.com/elastic/kibana/pull/86908, https://github.com/elastic/kibana/issues/56991

## Summary

When a user is missing `read` privileges for `.lists*` and/or `.items*` indices, they might get a toast with an error message. While this message contains some information, the user can't do anything with that, there's no additional information how this situation could be handl

[2021-01-07 17:37] elasticmachine commented on #87098
Pinging @elastic/kibana-security (Team:Security)

[2021-01-07 17:38] elasticmachine commented on #86953
Pinging @elastic/ml-ui (:ml)

[2021-01-07 17:39] elasticmachine commented on #86952
Pinging @elastic/kibana-security (Team:Security)

[2021-01-07 17:39] elasticmachine commented on #87098
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 17:39] chrisronline commented on #85841
Ah, there is a known issue around watch creation and using _only_ metricbeat monitoring: https://github.com/elastic/elasticsearch/issues/51762#issuecomment-601254533

We're tracking to remove these watches in 7.12: https://github.com/elastic/kibana/pull/85047 so this bug will be moot but it's still there for now.

To get around it, please enable legacy monitoring (via the cluster setting) in order

[2021-01-07 17:39] elasticmachine commented on #86950
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 17:39] elasticmachine commented on #86950
Pinging @elastic/kibana-security (Team:Security)

[2021-01-07 17:39] elasticmachine commented on #86948
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 17:41] elasticmachine commented on #86952
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 17:43] Zacqary commented on #85841
Remind me how to enable legacy monitoring again? It's a dev tools request, right?

[2021-01-07 17:43] chrisronline commented on #85841
Yea

[code]

[2021-01-07 17:47] #87301 closed

[2021-01-07 17:52] Zacqary commented on #85841
Marked this as working, but note that alerts **can** be deleted from the management UI

[2021-01-07 17:53] alisonelizabeth opened #87691 "[Watcher] Update skipped jest tests"
Some of the watcher tests are out of date and were skipped as part of https://github.com/elastic/kibana/pull/87599.

We need to investigate if the tests are still relevant, and if so, update accordingly.

There are also some mocks in `fetch_all_from_scroll.test.js` that are currently commented out and need to be converted to jest.

[code]

[code]

[2021-01-07 17:53] elasticmachine commented on #87691
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-07 17:55] EricDavisX commented on #86742
I saw it again this AM, on 7.11 BC2 when browsing to the System Integration page in Fleet.  I don't know if it is specific to Fleet or not.  I've asked Kibana QA to post back if they see it elsewhere in Kibana, but no word yet.

[2021-01-07 17:57] nickofthyme commented on #87455
Hey @carlopuri, thanks for opening this issue.

I agree that plugin is very powerful. While I'm _not_ aware of the implications or likelyhood of releasing kibana with that plugin, we have been working to provide better table visualizations.

First, we are replacing the old visualize data table in `7.11` to offer greater functionality using our [`EuiDataGrid`](https://elastic.github.io/eui/#/tabula

[2021-01-07 17:58] elasticmachine commented on #87455
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 17:58] chrisronline commented on #85841
@Zacqary Really? I'm able to do it on staging cloud 7.11:

![Kapture 2021-01-07 at 12 56 53](https://user-images.githubusercontent.com/56682/103927204-f8fe1280-50e7-11eb-84df-db7692437b99.gif)

[2021-01-07 17:59] efreeti commented on #87648
As there more and more features that are subject to license guarding it would be nice to find reoccurring pattern and to have same approach to implement them.

Couple of observations based on feature requests till now:
  * We do want to hint users that they miss out on something because of their license.
  * We do want to **try** to prevent them from being able to use the feature (often we can com

[2021-01-07 18:07] Zacqary commented on #85841
@chrisronline Yeah, is that not a bug? There doesn't seem to be a way to create them again

[2021-01-07 18:11] nreese commented on #17022
closed by https://github.com/elastic/kibana/pull/86191

[2021-01-07 18:11] #17022 closed

[2021-01-07 18:14] banderror opened #87693 "[Security Solution][Detections] Refactor `hasIndexWrite` and RBAC-related logic of fetching and representing user privileges"
## Summary

RBAC-related logic of fetching user permissions (Kibana UI features, Elasticsearch cluster and index privileges) implemented in `security_solution` and `lists` plugins has some issues that would be great to fix and improve this implementation.

- [`hasIndexWrite`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/public/detections/containers/detection_engin

[2021-01-07 18:16] chrisronline commented on #85841
It's a bit of a confusing flow, I'll admit. Users should be able to delete from there, but the creation is handled purely by the Stack Monitoring UI. In the future, we hope to simplify this but we don't imagine it's a huge point of confusion, as users are most likely not deleting these alerts.

[2021-01-07 18:22] XavierM commented on #87035
the good thing, I can not reproduce it in master and 7.11.  I think that's pretty low impact.

[2021-01-07 18:28] XavierM commented on #85933
I think it is working as expected since we keeping your selection in the URL and not in the local storage of the browser. Why we are keeping in the URL and not in the local storage because if you share a url link, we want them to share the same data.

[2021-01-07 18:28] #85933 closed

[2021-01-07 18:29] sqren commented on #87673
++. We should show annotations for every severity level that is shown on inventory page/service map.

Questions:
 - Will it become too noisy showing annotations for all severity levels up front?
 - Should it be possible to toggle each ML severity?

@formgeist Any thoughts?

[2021-01-07 18:33] yctercero commented on #87112
Fix PR is LGTM-ed just waiting for it to go green. I initially thought it wouldn't be an issue because I remembered that we re-create the list if it's not there, but looks like that's not always the case. Will update issue label once fix is in.

[2021-01-07 18:42] spong commented on #86235
Thanks for the details @dhurley14! As discussed, let's move forward with the slight front-end changes to support this and understanding that the `t1_analyst` role will require the `maintenance` permissions for the `.siem-signals*` index as well in order to update an alert's state.

cc @jmikell821 @DonNateR -- this change will require an update to the `Detections pre-requisites` docs [here](https:/

[2021-01-07 18:44] banderror opened #87702 "[Security Solution][Detections] Refactor ExternalLink"
**Related to:** https://github.com/elastic/kibana/pull/87516#discussion_r552771979

## Summary

Create a single reusable implementation of `ExternalLink`.

Unify `ExternalLink` component from [common/components/links_to_docs/external_link.tsx](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/public/common/components/links_to_docs/external_link.tsx#L19) with `ExternalL

[2021-01-07 18:52] iamacpherson opened #87704 "When selecting time ranges on a TSVB time series visualisation, some ranges show "No data to display for the selected metrics""
**Kibana version:** 7.9.3

**Elasticsearch version:** 7.9.3

**Server OS version:** Centos 7

**Browser version:** Chrome Version 86.0.4240.198

**Browser OS version:** Windows 10 Enterprise N Version 1809

**Original install method (e.g. download page, yum, from source, etc.):** Docker image

**Describe the bug:**
On a TSVB Time Series plot, some date-time selections, despite encompassing all doc

[2021-01-07 18:56] jerodwaldman opened #87705 "[Dashboard] Do Not Load Data Unless Control Selection is Made"
**Describe the feature:**
I have a control visualization with 5-6 controls on it.  All of the fields help narrow the scope and size of data to be retrieved later on in analysis.  If an end user fills out no controls or a minimal amount of controls and tries to do their analysis, it brings their session to a crawl because it attempts to pull back larger than necessary data sets.  I'd like to specif

[2021-01-07 18:57] mikecote commented on #87664
One way to get the date from Elasticsearch would be to do a call like:
[code]

Some brain dump: I was thinking this could be used on startup and ensure the date returned is between the start and end of the ES call. Otherwise, the clocks are not in sync. But this approach would only work on the node that responded. Then I was thinking this could be part of every claim query and we can make sure the

[2021-01-07 19:02] pgayvallet commented on #87609
That would probably be a way simpler option indeed.

I would like to see what @restrry thinks about either options though, I think he may not necessarily be a big fan of the proposal, as we would kinda be going back to `Boom`'s behavior.

[2021-01-07 19:08] #87208 closed

[2021-01-07 19:09] EricDavisX commented on #86864
this is seen as resolved, tested on 7.11 BC2

[2021-01-07 19:17] liza-mae opened #87709 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·js - discover app discover test query should modify the time range when the histogram is brushed"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87710 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts - dashboard app using current data legacy urls kibana link redirect back button works"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard
- dashboard app using current data legacy urls "after all" hook in "legacy urls"
- dashboard app using current data legacy urls kibana link

[2021-01-07 19:17] liza-mae opened #87711 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/full_screen_mode·js - dashboard app using current data full screen mode hides the chrome"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/full_screen_mode·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data full screen mode displays exit full screen logo button when panel is expanded
- dashboard app using current data full screen mode exits when the text button is clicked on
- dashboard app using current data

[2021-01-07 19:17] liza-mae opened #87712 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·js - dashboard app using current data dashboard filter bar filter editor field list uses default index pattern on an empty dashboard"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter pills are added when a pie chart slice is clicked
- dashboard app using current data dashboard filter bar filter pills are preserved after saving a dashboard
- dashboard app

[2021-01-07 19:17] liza-mae commented on #86514
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js**
**Stack Trace:**
[code]
**Other test failures:**
- timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for metric argument when index pattern set

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf

[2021-01-07 19:17] liza-mae commented on #86516
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #86517
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title preloads search filter bar when there is no match
- dashboard app using legacy data dashboard listing page search by title matches a title with many special characters

[2021-01-07 19:17] liza-mae opened #87713 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/reports·ts - Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct with borders and logo"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/reports·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct without borders and logo

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testRepo

[2021-01-07 19:17] liza-mae opened #87714 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/timelion/feature_controls/timelion_spaces·ts - Timelion timelion space with no features disabled allows a timelion sheet to be created"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/timelion/feature_controls/timelion_spaces·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87715 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/enable_monitoring/index·js - Monitoring app Monitoring is turned off Monitoring enabled"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/enable_monitoring/index·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #86519
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/user_email·js**
**Stack Trace:**
[code]
**Other test failures:**
- security app useremail login as new user with changed password

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87716 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts - apis search search session session management should sync search ids into session"
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #86520
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/change_password·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis security Change password should allow password change if current password is correct

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #63033
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·js**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  tile map visualize app complete config "before all" hook in "complete config"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #86522
**Version: 7.11.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/snapshot_restore/snapshot_restore·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] EricDavisX commented on #86097
I learned from Michal Pristas via other issues we logged that the 'unhealthy' or offline states and the 'non-default namespace' is likely unrelated, and that our understanding of non-default namespace usage was not quite right.  So we can log a bug for the UX and close this as a dupe to a generic 'install' problem with 7.11 Windows Agents.  Since the last comment is expected behavior with regards

[2021-01-07 19:17] #86097 closed

[2021-01-07 19:17] liza-mae commented on #84989
**Version: 7.11.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/network_policy·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87717 "[test-failed]: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/usage·ts - Reporting APIs Usage from new jobs posted should handle print_layout pdf"
**Version: 7.11.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/usage·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87718 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts - detection engine api security and spaces enabled get_prepackaged_rules_status getting prepackaged rules status should show rules and timelines are installed when adding pre-packaged rules"
**Version: 7.11.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae opened #87719 "[test-failed]: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/cleanup·ts - security APIs - Session Idle Session Idle cleanup should properly clean up session expired because of idle timeout"
**Version: 7.11.0**
**Class: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/cleanup·ts**
**Stack Trace:**
[code]
**Other test failures:**
- security APIs - Session Idle Session Idle cleanup should properly clean up session expired because of idle timeout when providers override global session config
- security APIs - Session Id

[2021-01-07 19:17] liza-mae opened #87720 "[test-failed]: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/extension·ts - security APIs - Session Idle Session "before each" hook for "should return current session information""
**Version: 7.11.0**
**Class: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/extension·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #63034
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_region_map·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #86523
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:17] liza-mae commented on #76181
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1104/testReport/_

[2021-01-07 19:18] EricDavisX commented on #87124
@dikshachauhan-qasource can you help follow up on this question to confirm if it is working correctly?  We can use linux or mac Agents we have seen them working on BC2.  Windows Agent would seem to have other problems preventing usage (at least in some cases).

[2021-01-07 19:20] elasticmachine commented on #87720
Pinging @elastic/kibana-security (Team:Security)

[2021-01-07 19:20] elasticmachine commented on #87719
Pinging @elastic/kibana-security (Team:Security)

[2021-01-07 19:21] elasticmachine commented on #87717
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 19:30] mcpate opened #87723 "Unable to create a Watch with a Range query on a Long field using the max value for Java's Long"
**Kibana version:**
7.10.0

**Elasticsearch version:**
7.10.0

**Server OS version:**
Elastic Cloud

**Browser version:**
Chrome 87.0.4280.88

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
I'm trying to create several Watches in Kibana based on a templated Watch definition (everything will be in the Watch's "metadata"). Ea

[2021-01-07 19:31] alisonelizabeth commented on #87305
This has been fixed as part of https://github.com/elastic/kibana/pull/87213.

[2021-01-07 19:31] #87305 closed

[2021-01-07 19:33] chrisronline commented on #85841
@ravikesarwani Any thoughts on this experience and if we need to change it?

[2021-01-07 19:35] Zacqary commented on #85841
<img width="1533" alt="Screen Shot 2021-01-07 at 1 34 23 PM" src="https://user-images.githubusercontent.com/1445834/103936523-23060380-50ed-11eb-9b63-c17b07bd0c27.png">

Set up a remote cluster using `yarn es snapshot --license trial` but it's reporting a Basic license instead

[2021-01-07 19:42] elasticmachine commented on #87705
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 19:43] elasticmachine commented on #87704
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 19:44] elasticmachine commented on #87685
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-07 19:44] formgeist opened #87726 "[APM] Bug: Service overview: Latency is shown in different units in the table"
Kibana version: 7.11.0

# Summary

The latency aggregation in the Transactions, Dependencies, and Instances table is shown in different units depending on the duration of the entity.

<img width="1145" alt="Screenshot 2021-01-07 at 20 39 15" src="https://user-images.githubusercontent.com/4104278/103937287-d8a27800-5128-11eb-93e9-1b127fc123d2.png">
<img width="1068" alt="Screenshot 2021-01-07 at 20

[2021-01-07 19:45] elasticmachine commented on #87726
Pinging @elastic/apm-ui (Team:apm)

[2021-01-07 19:47] elasticmachine commented on #86950
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 19:47] elasticmachine commented on #86948
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 19:47] mikecote commented on #87098
[code]

[2021-01-07 19:47] elasticmachine commented on #86226
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 19:48] elasticmachine commented on #84984
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 19:50] #60274 closed

[2021-01-07 19:54] ph commented on #87467
@EricDavisX I don't think RPM, tar, Debian are at play here. I am surprised by these values because if you look at the other streams  Endpoint, Elastic Agent , And System metrics for these the timestamp is correct (they are in 2020). Elastic Agent doesn't do any parsing of the data, so I wonder if this error is not related to the integration package.

@fearful-symmetry Did something changed in the

[2021-01-07 19:56] Zacqary commented on #85841
Unsure how to get this one to fire. Tried turning off Metricbeat for a while, but that just switched the stack to Self-Monitoring mode and didn't fire any alerts.

[2021-01-07 19:57] ph commented on #87467
as @jen-huang pointed out the discover page also so incorrect data https://user-images.githubusercontent.com/72375798/103766114-46c13f00-5044-11eb-838a-8c140943e039.png

So I suspect its parsing issues, I will move this to the integration repository.

[2021-01-07 20:09] tsullivan commented on #87717
Hi, is there any way to make the server logs to be more readily available to dive into this type of issue?

I realize I can dive into the startup logs of the test to get the cloud instance ID and then take that to an internal dashboard to search for that ID and find the Kibana server logs. I unfortunately do not spend enough time in this context to carry the task out confidently and without some w

[2021-01-07 20:15] smith commented on #87537
#79906 exists for this.

[2021-01-07 20:18] paul-tavares commented on #87669
Its great to see this issue created @jen-huang .
Once up and running, we should also consider moving some of the `page_objects` created under the Endpoint functional test setup over to Fleet (we would then import them from Fleet and use it in our tests). See here:

https://github.com/elastic/kibana/blob/2ffdf75b6e93730bc347e0e57a6d2f5b5830053c/x-pack/test/security_solution_endpoint/page_objects/in

[2021-01-07 20:21] formgeist commented on #87483
The reason I originally added the bug label to this was to try and resolve it in 7.11 since it's misleading at most that we can different terminologies for this specific metric (latency vs. avg. response time). Unless we plan on coming to a decision and pull https://github.com/elastic/kibana/issues/84803 into 7.11 and thereby update other terminologies, I'm pushing for keeping this as a bug (on th

[2021-01-07 20:24] chrisronline commented on #85841
I'm not sure if that's a bug with `yarn es snapshot` or what?

That should work. The collection method doesn't matter here - I'd just be consistent. Monitor the ES node with either legacy or MB for enough time to see the monitoring data show up, then disable either and make sure an alert fires in the Kibana server log. If not, then sounds like a bug

[2021-01-07 20:24] formgeist commented on #86614
@cauemarcondes Clarification from my talk with @alex-fedotyev - we want to keep the service metadata filtered by queries, but not filtered by the transaction type. So I think we can strike that from the list as well.

[2021-01-07 20:36] liza-mae commented on #87715
Fixed in https://github.com/elastic/kibana/issues/76456 closing

[2021-01-07 20:36] #87715 closed

[2021-01-07 20:38] liza-mae commented on #87718
Not a test issue, service unavailable - closing.

[2021-01-07 20:38] #87718 closed

[2021-01-07 20:40] elasticmachine commented on #87713
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-07 20:40] elasticmachine commented on #87712
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 20:40] elasticmachine commented on #87714
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 20:41] elasticmachine commented on #87711
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 20:41] elasticmachine commented on #87710
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 20:41] elasticmachine commented on #87709
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-07 20:42] elasticmachine commented on #87716
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2021-01-07 20:43] ravikesarwani commented on #85841
If the user deleted the alert don't they get recreated at the time of stack monitoring UI reload?

[2021-01-07 20:45] chrisronline commented on #85841
They do, but I think @Zacqary is saying it's not obvious to the user that will happen

[2021-01-07 20:50] Zacqary commented on #85841
That actually didn't happen for me the first time I tried it, but it's working now that I've tried it again. If I can find a consistent way to reproduce I'll let y'all know.

[2021-01-07 21:00] ymao1 commented on #85302
Turned on the new theme and clicked around, creating alerts and connectors in the UI. Theme looks great!

There are 6 usages of custom CSS styling in the Alerting UIs. 5 of them seem to work just fine with the new theme

https://github.com/elastic/kibana/blob/52e3371c393bc8f33a1ffa24fffcaf909c19da4d/x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/alert_quick_edit_b

[2021-01-07 21:01] liza-mae commented on #87717
Hi - I can check if there is a way when I have some free time.

For now let me get the ones for this issue.
[code]

[2021-01-07 21:12] legrego commented on #82891
Are there any cases where we would want toasts to appear in the reporting output? If all toasts had the [`.hide-for-sharing`](https://github.com/elastic/kibana/blob/0dc0f1f/x-pack/plugins/reporting/server/lib/layouts/preserve_layout.css#L13) class applied, then that would solve it for this specific case, and all other toast-related messages.

[2021-01-07 21:15] dhariniudhayakumar commented on #12915
Thanks it worked

[2021-01-07 21:19] tsullivan commented on #87717
Thanks Liza!

[code]

There is not much to go on here, but it appears a job was requested by one user, and then a different user attempted to download it.

[2021-01-07 21:26] ryankeairns commented on #17298
In the spirit of keeping the text visible, accommodating lengthy text, and keeping things simple, here are a couple of mockups that depict the fixed-height approach coupled with a basic horizontal scrolling behavior.

We might also consider an interaction (button or link) that opens a popover or modal, but a) I wonder if that strays from the 'always visible' requirement and b) that might be tricky

[2021-01-07 21:42] #87293 closed

[2021-01-07 21:51] Zacqary commented on #85841
Setting up CCS on Cloud doesn't seem to be showing the remote cluster in the Stack Monitoring UI. This is from creating two Cloud deployments and adding one of them as a remote cluster using the Cloud UI, not through Kibana (where Remote Clusters isn't available in Stack Management).

[2021-01-07 22:01] liza-mae commented on #87717
I captured the latest timeline did not see any other chromium driver higher up, but here is the link:

https://us-east-1-logging-staging-cloud.elastic.co/goto/06bfa3b13f4cd7c70820a4dedda78253

[2021-01-07 22:13] Zacqary commented on #85847
Able to see local remote clusters in the Monitoring UI, but not cloud. Using the Cloud UI to connect a standard IO deployment to a CCS Deployment doesn't make the second cluster show up in Monitoring.

[2021-01-07 22:15] bhavyarm opened #87753 "Kibana displays blank screen if user tries to add a maximized panel to library when allowByValueEmbeddables is set to true"
**Kibana version:** 7.11.0 bc2

**Elasticsearch version:** 7.11.0 bc2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Kibana displays blank screen when user tries to add a maximized panel to library in edit dashboard mode.

Please n

[2021-01-07 22:15] elasticmachine commented on #87753
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 22:18] mukeshelastic commented on #74937
@tbragin For Logs UI, the initial planned user interaction in the context of  runtime fields creation, is enabling 'data prep UI' experience of easy log parsing. The product brief for data prep UI is [here](https://github.com/elastic/observability-dev/issues/965) To build that experience, the foundational pieces are being built - supporting index patterns in our UI, incorporating runtime fields ed

[2021-01-07 22:18] bhavyarm commented on #87753
cc @ThomThomson Thanks!

[2021-01-07 22:19] Krinkle opened #87756 "(Accessibility regression) Filter action does not appear clickable"
Accessibility regression

**Steps to reproduce**

1. On a dashboard,
2. In an aggregate table or message list,
3. Point over the "filter for value" (plus) or "filter out value" (minus) buttons.

| Kibana 7 filter action (problem) | Kibana 7 other actions
|--|--
| <img width="711" alt="kibana-7-problem" src="https://user-images.githubusercontent.com/156867/103951267-42754e80-5136-11eb-8d06-5bc4ebcf

[2021-01-07 22:19] elasticmachine commented on #87756
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-07 22:30] spong commented on #86741
I've verified this is resolved in the latest 7.11 BC -- closing...

[2021-01-07 22:30] #86741 closed

[2021-01-07 22:33] gmmorris opened #87757 "Error appears in flyout when trying to edit an alert created programatically by perf tests"
While running our perf tests I opened Kibana and tried to edit one of the alerts.
When the flyout opened I saw this Error:

[code]

<img width="1301" alt="Screenshot 2021-01-07 at 22 31 21" src="https://user-images.githubusercontent.com/386208/103952388-3db19a00-5138-11eb-9ab1-87b2dd2cbe1e.png">

[2021-01-07 22:33] elasticmachine commented on #87757
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 22:34] LeeDr commented on #86235
FYI, this issue has an enhancement label and a 7.11.0 label.  Since we're past FF for 7.11.0 this should move out to 7.12.0.

[2021-01-07 22:36] LeeDr commented on #86077
FYI, this issue has an enhancement label and a 7.11.0 label.  Since we're past FF for 7.11.0 this should move out to 7.12.0.

[2021-01-07 22:37] LeeDr commented on #82606
FYI, this issue has an enhancement label and a 7.11.0 label.  Since we're past FF for 7.11.0 this should move out to 7.12.0.

[2021-01-07 22:39] spong commented on #86235
Correct, thanks @LeeDr! We've got a minor fix going into 7.11 to address this for the near-term, but will keep this open as an enhancement for 7.12+. Removing version label for now until this is prioritized as part of a future effort.

[2021-01-07 22:39] LeeDr commented on #76423
Since this has a 7.11.0 label and we're past FF, I removed the enhancement label.  Since it's a test improvement and not a product enhancement it could still go in to 7.11.0 past FF.

[2021-01-07 22:41] LeeDr commented on #73091
We're past FF on 7.11.0 and this has an enhancement label.  It hasn't been updated in a while so I'm guessing it's not going into 7.11.0 anyway, but we might want to change the label from enhancement to chore.

[2021-01-07 22:42] LeeDr commented on #80134
FYI, this issue has an enhancement label and a 7.11.0 label.  Since we're past FF for 7.11.0 this should move out to 7.12.0. (or not have a version label)

[2021-01-07 22:42] LeeDr commented on #79912
FYI, this issue has an enhancement label and a 7.11.0 label.  Since we're past FF for 7.11.0 this should move out to 7.12.0. (or not have a version label)

[2021-01-07 22:44] sqren commented on #87483
@formgeist Good point. I've

[2021-01-07 22:48] bhavyarm opened #87758 "Kibana displays duplicate title already exists two times when user tries to add a panel to add to library (dashboard.allowByValueEmbeddables: true)"
**Kibana version:** 7.11.0 BC2

**Elasticsearch version:** 7.11.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** if user tries to add a panel to add to library and tries to use the same name - Kibana displays duplicate name warn

[2021-01-07 22:48] elasticmachine commented on #87758
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 22:55] sqren commented on #87726
Agree, we should hardcode to ms in lists to make it easier to compare the numbers.
An improvement we've considered is to find the median in the list and use that to decide on the unit. This will ensure that we don't use ms even if all the numbers are in seconds.

[2021-01-07 22:59] sqren commented on #81734
@ogupte Is this something we should fix for 7.11?

[2021-01-07 23:08] sqren commented on #87643
Great, thanks.

[2021-01-07 23:09] kibanamachine commented on #87105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10860/)

[2021-01-07 23:16] bhavyarm opened #87760 "[Dashboard] Delete panel should be under first level panel options"
**Kibana version:** 7.11.0 BC2

**Elasticsearch version:** 7.10.0 BC2

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the enhacement:** Delete from panel is under more options but as a user - we seem to be using it a lot. So, can we get it directly under main panel options please?

[2021-01-07 23:16] elasticmachine commented on #87760
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-07 23:16] bhavyarm commented on #87760
cc @ThomThomson

[2021-01-07 23:26] elasticmachine commented on #87105
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-07 23:32] tylersmalley commented on #87105
Skipped

master: 91d73cf9814663a75e8749ed24f9303444321616
7.x: 4c02b731a85112d158618187fcdc587ed35b99ab
7.11: f16f389811ea392bf11209540e254454ac2285bf

[2021-01-07 23:43] EricDavisX commented on #87633
the logging was helpful!

If my memory serves, this is a special case of 'Build Candidate' usage that we apparently have not handled yet.  We will need to dig up issues / notes from feature testing and relating bugs logged, but I recall that the 'shipped' version of 7.11 Agent doesn't exist until we ship it, so naturally that is why it isn't found during the upgrade process when Agent is looking i

[2021-01-07 23:57] tsullivan commented on #87532
Functional test being added: https://github.com/elastic/kibana/pull/87600

[2021-01-08 00:09] ymao1 commented on #87757
Is this the same error as [this bug](https://github.com/elastic/kibana/issues/68575)?

[2021-01-08 00:52] elasticmachine commented on #87705
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-08 00:56] elasticmachine commented on #87756
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-08 00:57] myasonik commented on #87756
@kertal I believe this issue is fixed with the DataGrid conversion, right? When is that being released?

[2021-01-08 00:59] myasonik commented on #87716
Not sure who owns this but it's definitely not Core UI. Going to take a guess that it's either @elastic/kibana-core or @elastic/kibana-app-services?

[2021-01-08 01:01] elasticmachine commented on #87723
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-08 01:19] alisonelizabeth commented on #86077
I'm going to close this issue - I believe it has already been addressed via https://github.com/elastic/kibana/pull/86076. Any follow-up work is being tracked by https://github.com/elastic/kibana/issues/86586/.

[2021-01-08 01:19] #86077 closed

[2021-01-08 01:32] alisonelizabeth commented on #87685
Hi @aleph-zero! I think the issue is that the rollup index name you're trying to create matches the index pattern you defined.

There are a couple existing issues open to improve the error messaging surfaced in the UI, as well as to not allow a user to define a rollup index name that matches the index pattern. See https://github.com/elastic/kibana/issues/75214 and https://github.com/elastic/kibana

[2021-01-08 01:32] #87685 closed

[2021-01-08 01:38] spong commented on #87459
Tested around a little bit and this looks to be isolated to Threshold Rules, when the other rules contain an invalid field and you switch back to a rule type with valid fields the `Continue` button will work as expected, so this seems simple enough to go ahead and fix for 7.11.

[2021-01-08 01:42] alisonelizabeth commented on #87280
Hi @runtman! Would you mind reopening this feature request under the [Elasticsearch repo](https://github.com/elastic/elasticsearch/issues/new?assignees=&labels=%3Eenhancement%2Cneeds%3Atriage&template=feature-request.md)? Kibana is only responsible for the Watcher UI, but not the underlying [Elasticsearch Watcher APIs](https://www.elastic.co/guide/en/elasticsearch/reference/current/watcher-api.htm

[2021-01-08 01:42] #87280 closed

[2021-01-08 02:58] alex-fedotyev commented on #87726
What do you think about the sparklines themselves?
For example, when looking at service instances grid, I'd like to visually see that response time of one of the instances is higher than another.
![image](https://user-images.githubusercontent.com/61838744/103969080-fb796000-5119-11eb-820a-f9e623a0b8b0.png)
Today they look like they have the same height even the values are drastically different.
Wh

[2021-01-08 08:08] peluja1012 commented on #85748
Fixed with this PR https://github.com/elastic/kibana/pull/87243

[2021-01-08 08:42] runtman commented on #87280
Done: https://github.com/elastic/elasticsearch/issues/67203

[2021-01-08 10:02] prigaux commented on #4459
With kibana 7.9.1 I used:
[code]
`interval` is [deprecated since 7.2](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html#calendar_and_fixed_intervals). Kibana has switched to it and mixing both raises an error.

[2021-01-08 12:01] valeriy42 opened #87771 "[ML] Add fields to specify the loss function type for regression"
For regression jobs it is possible to specify `loss_function` and `loss_function_parameter` to specify an [alternative loss function](https://www.elastic.co/guide/en/machine-learning/7.10/dfa-regression.html#dfa-regression-lossfunction) to use instead of MSE.

It would be great if this option was also available in the UI.

[2021-01-08 12:01] elasticmachine commented on #87771
Pinging @elastic/ml-ui (:ml)

[2021-01-08 13:09] paulb-elastic commented on #86577
As discussed in refinement, this is being closed as a bug that needs to be fixed in 7.11.

The current implementation for Synthetic monitors in 7.11, is consistent with other monitor types.  For example, HTTP Ping monitors already (in 7.10) has an error column in the history table.  This has now also been used for Synthetic monitors in 7.11 and will remain like this.

There has been some discussio

[2021-01-08 13:09] #86577 closed

[2021-01-08 13:37] paulb-elastic commented on #85409
This was discussed again in the latest refinement meeting.

It was clear that the use cases should be considered more for this - what the mini histogram is trying to represent, is a histogram the best visualisation for this, as some of these are in conflict with each other.

For example, if you were using this to identify if there had been any `down` instances (even 1 in a thousand for example), t

[2021-01-08 13:40] everythings-gonna-be-alright commented on #86885
@Shaybs In my case it happen because of not enough free disk space on elasticsearch data nodes.

[2021-01-08 13:48] paulb-elastic commented on #85829
This was discussed in the design sync again.

This is confusing because the *x-axis* legend is not matching up with the buckets being used.  There is however a way of configuring the chart to reflect each bucket, so this will be used so it is clear what the columns in the histogram are representing.

[2021-01-08 13:57] kevinlog commented on #87286
@paul-tavares that's fine, we can deprioritize this for now

[2021-01-08 13:58] paulb-elastic opened #87772 "[Uptime] Make status and availability use the same language (not mix up and down)"
This has been split out from item (4) in https://github.com/elastic/kibana/issues/77848, we have opposite language between the status check and the availability check.

The status check is configured when monitors are `down`.

The availability check is configured when monitors are `up`.

As these are configured in the same screen, they should be consistent so that they both refer to the `down` sta

[2021-01-08 13:58] elasticmachine commented on #87772
Pinging @elastic/uptime (Team:uptime)

[2021-01-08 13:58] paulb-elastic commented on #77848
As discussed in the design synch, item (4) has been split off into https://github.com/elastic/kibana/issues/87772

[2021-01-08 14:32] MikePaquette commented on #58720
Thanks @MarcusCaepio and all for the continued feedback regarding SIEM/Security app capabilities for customizing prebuilt detection rules. (i.e. those rules provided by Elastic, documented [here](https://www.elastic.co/guide/en/security/current/prebuilt-rules.html)).

This is a complex challenge for which a good solution needs to balance the ability for pre-built rules to be updated by Elastic's S

[2021-01-08 14:43] EricDavisX commented on #87633
I may change my mind about the above.  @michalpristas what do you recall?  :)  To help validate, I tested on a known working test scenario (our main Ingest / Endpoint test Demo server https://kibana.endpoint.elastic.dev/app/fleet#/fleet/agents ) and find that the 7.11 to 8.0 upgrade test I have been running multiple times a week is now failing. It was last tested as confirmed in December, but the

[2021-01-08 14:45] EricDavisX commented on #87633
we could load up a 7.12 system and see if 7.10 or 7.11 artifacts can be upgraded to it.  i can also double check the status of our automated test for upgrade in e2e-testing, we may have it turned off due to problems with dev ci runs, which would explain why we didn't catch the problem.

[2021-01-08 15:22] kibanamachine commented on #83765
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10876/)

[2021-01-08 15:27] tornis commented on #17950
+1

[2021-01-08 15:44] XavierM commented on #77267
@StefanSa, I just want to make sure I understand correctly, it looks like that we are now using this `event.outcome: "failure"` and `event.outcome: 'success'` and I think we changed it in 7.10.

[2021-01-08 15:44] gmmorris commented on #87757
Ah, yeah, must be... I hadn't noticed that one.
Closing as dupe, but I'm going to argue we should pull that other one into TODO - it's an obvious bug that shouldn't be possible.

[2021-01-08 15:44] #87757 closed

[2021-01-08 16:28] jaronoff97 opened #87775 "Anonymous User Authentication Failing"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Server OS version:** EKS v1.18.9-eks-d1db3c

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** ECK operator

**Describe the bug:**
I'm attempting to use the new method for anonymous authentication method as described by this PR: https://github.com/elastic/

[2021-01-08 17:59] TinaHeiligers commented on #87047
Possibly related issue is that the following settings don't take effect when executed by docker compose:
[code]

@mikecote do we need to open new issues to ensure env settings are added to docker images?

[2021-01-08 18:16] TinaHeiligers commented on #87775
@jaronoff97 the PR adds support for anonymous user auth only from version 7.11. 7.10.1 won't have the support.

[2021-01-08 18:17] elasticmachine commented on #87775
Pinging @elastic/kibana-security (Team:Security)

[2021-01-08 18:21] dutang-a opened #87777 "Vega Maps Offline Mode"
Point Vega to the map referenced by map.tilemap.url in the kibana.yml file. For example if map.tilemap.url is set to "http://localhost:8080/styles/klokantech-basic/{z}/{x}/{y}.png" which references a tile map service. Maps in Kibana correctly points to this map as the default base layer but that's not the case when using Vega. Looking at the guide provided by https://www.elastic.co/guide/en/kibana

[2021-01-08 18:27] jaronoff97 commented on #87775
Ah! Apologies, I saw that the docs were live on the site, and must have misread the version! Thanks for the information. When is 7.11 going to be released?

[2021-01-08 19:28] predogma commented on #63924
Note: setting origin value in the fieldFormatMap for the index_pattern to empty string seems to use the current origin.  This is useful if the origin could be more then one possible url.  For example if going through a LB where there is more then one possible origin.

[2021-01-08 19:48] elasticmachine commented on #87777
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-08 20:36] mukeshelastic commented on #79763
@jeffvestal I'd like to collaborate with you to figure out the right UX for what the swimlane visualization could show. I will block some time on your cal to discuss further. @katrin-freihofner I will add you as optional in case you want to join.

[2021-01-08 21:36] srothkin commented on #76242
We need this feature too.

[2021-01-08 22:17] carlopuri commented on #87455
Hello @nickofthyme nickofthyme!
Thank you for your kind reply and for the info you have provided me.
I'll wait for the "EuiDataGrid" and I'll follow your suggestion to stimulate the dev community with features request that can enhance the usage of ES.
Thank you again and stay safe!

[2021-01-08 22:29] TinaHeiligers opened #87781 "[Maps] Overflow of text outside tooltip border in Maps in Kibana 7.10.1"
**Kibana version:**
7.20.2

**Original install method (e.g. download page, yum, from source, etc.):**
originally reported for a Cloud deployment but reproducible running Kibana and ES through Docker (using the `apm-integration-testing` setup)

**Describe the bug:**
Fields with long text values overflow the tooltip border.
This is a possible regression of the fix for related [tooltip resizing issue

[2021-01-08 22:29] elasticmachine commented on #87781
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-09 00:47] TinaHeiligers opened #87782 "[Console] query results shown in Browser network but not in Console"
**Kibana version:**
7.6.2
**Elasticsearch version:**
7.6

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud deployment

**Describe the bug:**
A valid query issued in Kibana's Dev Tools doesn't show any response, even though the network request is successful.
The same query issued against another index does return results.

**Steps to reproduce:**
_cannot be supplied a

[2021-01-09 02:02] mukeshelastic commented on #79770
My suggestion is to create another column in the anomaly table for showing category name similar to categories tab. The question is what do we show there for logs rate type of anomalies? @katrin-freihofner would love your thoughts on it

[2021-01-09 09:04] kibanamachine commented on #87269
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10894/)

[2021-01-09 09:31] divit00 opened #87784 "Watcher to notify with email if it fails"
**Describe the feature:**

Watcher to notify with email if it fails

**Describe a specific use case for the feature:**

Many a times watcher fails and we don't know. We think that everything is fine. There should be an option to alert if watcher goes to failure state.

[2021-01-09 13:52] sasubillis commented on #22261
This feature is an absolute must to have. Without this feature, wasted many hours to simply edit the time range from absolute to relative.

[2021-01-09 15:46] restrry commented on #87609
Let's start with defining a problem we want to address.
#### Exception formatting
I remember this has been brought up several times (sorry, I cannot find links), but we put off designing it until Kibana migrated to the platform.
IMO the main problem here is that Core doesn't provide recommendations on creating an error object. If an error object is meant to be rendered to a user it should contain

[2021-01-09 16:28] restrry commented on #13241
yes, imo it should align with the logging config across the stack.

Yeah, that how I was thinking of it.
However, the situation with the duplicated request/response log might be confusing for the users and our support. I'd suggest explicitly deprecate these settings
[code]
and disable Hapi network logs for them even when `logging.verbose: true`.

+1 to use `events` to keep API surface small.

How

[2021-01-09 17:03] payne747 commented on #17542
+1

[2021-01-09 17:44] stratoula commented on #87756
@myasonik on 7.11 we will release the new data table which is using DataGrid so I think that this bug will be solved then.

[2021-01-09 18:59] myasonik commented on #87756
Closing as its fixed on master then

[2021-01-09 18:59] #87756 closed

[2021-01-09 20:34] tasnadipeter opened #87785 "Kibana Alerting Winlogbeat index"
**Kibana version:**
7.10.0

**Elasticsearch version:**
7.10.0

**Original install method (e.g. download page, yum, from source, etc.):**
yum

**Describe the bug:**
Hi!

The Winlogbeat fields cannot be selected as a condition in kibana alerting (Log threshold). Is this a bug now, or was it designed that way? It would be a great pleasure if alerts could also be generated from the winlogbeat indexes.

[2021-01-10 11:18] kibanamachine opened #87786 "Failing test: Chrome X-Pack UI Plugin Functional Tests.x-pack/test/plugin_functional/test_suites/global_search/global_search_bar·ts - GlobalSearch API GlobalSearchBar search suggestions shows a suggestion when searching for a term matching a type"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11033/)

[2021-01-10 14:14] markov00 commented on #36544
Hey @elastic/kibana-app Is that task in your roadmap?

[2021-01-10 15:44] igorid70 commented on #33928
+1
I was looking for the same. Need to present in table inside TSVB file system usage in an environment having multiple hosts. BTW, it would be nice also to have its own 'item url' in 'Panel option' for each group by field.

[2021-01-10 17:56] barlowm opened #87787 "(Accessibility) Lens: Keyboard Accessible - Drag and Drop"
Steps to reproduce

1. Open the Lens page and attempt to navigate only using keyboard.
2. Various controls require the mouse to drag and drop them

![DragNDrop](https://user-images.githubusercontent.com/2439008/104131227-2266aa80-5343-11eb-9e49-e7917dc54f95.png)

Several examples of how to perform accessible drag and drop:
* [Example 1 - Salesforce](https://salesforce-ux.github.io/dnd-a11y-pattern

[2021-01-10 17:56] elasticmachine commented on #87787
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-10 17:58] barlowm opened #87788 "(Accessibility)Lens: Info and Relationships"
Search field has the ARIA combobox role without necessary children. Even when the combo is expanded the items are in a separate overlay and not children of the combobox.

[code]

![Search](https://user-images.githubusercontent.com/2439008/104131281-6eb1ea80-5343-11eb-9260-1c07757c1ca2.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

**Screen reader:** [if relevant]
NVDA

**

[2021-01-10 17:58] elasticmachine commented on #87788
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-10 18:00] barlowm opened #87789 "(Accessibility)Lens: ARIA Input Field is missing an Accessible Name"
[code]

This listbox should be programatically attached to the "Search" field (See Lens: Info and Relationships #87788)

![ARIA](https://user-images.githubusercontent.com/2439008/104131410-16c7b380-5344-11eb-9760-b1d93a8f5ffe.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

**Screen reader:** [if relevant]
NVDA

**Relevant WCAG Criteria:** [WCAG Criterion - Level A/AA/AAA](

[2021-01-10 18:00] elasticmachine commented on #87789
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-10 18:06] barlowm opened #87790 "(Accessibility) Tour: Status Message Reporting"
Screen reader does not report an alert when the page is opened and a "tip" dialog is displayed. It only reads the control that says "Don't show this again".

The "tip" reports an "Empty Dataset" which to a user using only a screen reader would be confusing.

![StatusMessage](https://user-images.githubusercontent.com/2439008/104131501-af5e3380-5344-11eb-8569-30e2f395f77b.png)

 ***Not for VPAT, (bu

[2021-01-10 18:06] elasticmachine commented on #87790
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-10 18:09] barlowm commented on #87790
@myasonik

[2021-01-10 18:10] barlowm commented on #87789
Pinging @myasonik

[2021-01-10 18:10] barlowm commented on #87788
Pinging @myasonik

[2021-01-10 18:10] barlowm commented on #87787
Pinging @myasonik

[2021-01-10 18:19] barlowm opened #87791 "(Accessibility) Lens: Page is missing first level heading (H1 tag)"
Page is missing an H1 tag:

![No Heading](https://user-images.githubusercontent.com/2439008/104131752-66a77a00-5346-11eb-9953-08d976722268.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

**Screen reader:** [if relevant]
NVDA

**Relevant WCAG Criteria:** [WCAG Criterion - Level A/AA/AAA](https://www.w3.org/WAI/WCAG21/quickref/)
[2.4.2 Page Titled](https://www.w3.org/WAI/WCA

[2021-01-10 18:19] elasticmachine commented on #87791
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-10 18:19] barlowm commented on #87791
Pinging @myasonik

[2021-01-10 19:51] fredsted commented on #52324
I had installed ES on Mac using `brew install elasticsearch`, which results in the `oss` flavor. I uninstalled that and used `brew install elastic/tap/elasticsearch-full` instead.

[2021-01-10 20:02] kibanamachine opened #87792 "Failing test: X-Pack Jest Tests.x-pack/plugins/apm/public/components/app/ServiceMap - useCytoscapeEventHandlers when debug is enabled logs a debug message"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10929/)

[2021-01-11 00:13] kibanamachine opened #87793 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/network_dns·ts - apis SecuritySolution Endpoints Network DNS With packetbeat Make sure that we get Dns data and sorting by uniqueDomains descending"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10933/)

[2021-01-11 01:55] #85826 closed

[2021-01-11 01:55] #86174 closed

[2021-01-11 01:55] #86743 closed

[2021-01-11 03:23] Leaf-Lin opened #87794 "Snapshot name wrapping issue"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** ESS

**Browser version:** Chrome Version 87.0.4280.88 (Official Build) (x86_64)

**Browser OS version:** Mac OS 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
`Snapshot name` was not wrapped properly causing overlapping with `Repository`  in

[2021-01-11 03:23] elasticmachine commented on #87794
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-11 04:55] lukeelmers commented on #57547
A few initial thoughts:

As @restrry outlines above, legacy platform isn't providing too much for us here: with the current filters config, we can basically just remove a property, or censor via regex.

The concept of filters in log4j actually sounds a bit different from the way we've used "filters" in LP logging; they basically serve to determine whether a log entry should be included in its enti

[2021-01-11 05:43] deepikakeshav-qasource commented on #85011
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2**and found that issue is now **Fixed** . Correct message "Added <name> to Timeline Template" is displaying while adding data into timeline template drop area .

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**

![Timeline_template](https://user-images.githubuserconte

[2021-01-11 05:43] #85011 closed

[2021-01-11 05:43] deepikakeshav-qasource commented on #82574
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** Cloud Build and found that issue is now **Fixed** . Exit full-screen button is displaying for events on hosts page and also Esc key is working.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**

![Full_screen](https://user-images.githubusercontent.com/61860752/1039

[2021-01-11 05:43] #82574 closed

[2021-01-11 05:44] deepikakeshav-qasource commented on #82411
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** Cloud Build and found that issue is now **Fixed** . Global KQL search bar and Date picker is displaying for events on the hosts page.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**

![global_kql](https://user-images.githubusercontent.com/61860752/103977793-ff4fc

[2021-01-11 05:44] #82411 closed

[2021-01-11 06:15] deepikakeshav-qasource commented on #87132
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** and found that issue is got **Fixed** for Currently Custom Rules as Error is not displaying when clicking on view details and blocked 🟣  to test with Malware alert due to open [[#23402](https://github.com/elastic/beats/issues/23402)] issue.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.1

[2021-01-11 06:38] stratoula commented on #86514
@liza-mae I have a PR open for this. Do you want to review it?

[2021-01-11 07:13] dikshachauhan-qasource commented on #87124
Hi @EricDavisX

We have tried to validate this issue on Linux and Mac machines on 7.11 BC2 Kibana Cloud environment. Build details are as follows:
[code]

Please find replies to above queries as follows:

`The dataset filters are loaded one time when we open the log page, maybe the endpoint dataset appear after?`
Observation on Linux :
- We have waited for few minutes and observed  'elastic-agent.

[2021-01-11 07:16] dikshachauhan-qasource commented on #86097
Hi @EricDavisX and @michalpristas

Thank you for providing detailed information on expected behavior. Its really helpful to understand the feature.

[2021-01-11 08:26] azasypkin commented on #87775
Unfortunately we don't have/provide exact dates for the releases, but you can get a very rough idea if look at the [dates of any consequent past minor releases](https://www.elastic.co/downloads/past-releases#kibana)

[2021-01-11 08:26] #87775 closed

[2021-01-11 08:33] azasypkin commented on #13241
I can see the value in being able to log cookies and authorization headers for debug purposes assuming it's not enabled by default and can only be enabled intentionally and explicitly.

[2021-01-11 08:44] timroes commented on #87637
Closing this in favor of https://github.com/elastic/kibana/issues/41108 and ... another issue I am not able to find again. We have an issue that index patterns should provide the API for field stats, but I can't find that issue right now. If someone comes across it please feel free to link it here.

[2021-01-11 08:44] #87637 closed

[2021-01-11 08:45] dikshachauhan-qasource commented on #87633
Hi @EricDavisX

Thanks for the deeper insights to upgrade scenarios on snapshots and BC builds.

However, we will update/create the testcases as per expected behavior once this ticket is closed.

Further, we have validated agent upgrade scenario on 7.12.0 Snapshot Kibana cloud build. Build details are as follows:
[code]
While attempting, upgrade agent process from 7.10.1 RC and 7.11.0 Snapshot age

[2021-01-11 08:55] timroes opened #87799 "query:allowLeadingWildcards description needs fixing"
The description of the advanced setting `query:allowLeadingWildcards` need fixing in the docs and in the UI. It still talks about "experimental query features", while KQL is the name we use now and it's also the default :-)

[2021-01-11 08:55] elasticmachine commented on #87799
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-11 08:58] timroes commented on #72502
I am uncertain about the bug behavior in general here. Since Lens does support binding any date field to the time picker, by using it in the visualization (whether the index has a default time field or not), we need the time picker in case a field is bound. What do we think is the correct behavior here? Make sure we're only enabling the date picker, as soon as the index pattern either has a time f

[2021-01-11 09:01] stratoula commented on #36544
Thanx @alexfrancoeur to report this. @markov00 I have just added it.

[2021-01-11 09:01] dgieselaar opened #87801 "[APM] Allow user to configure fitting style for charts"
Elastic Charts supports a `fit` feature, which offers different strategies for dealing with gaps in data (the terminology EC uses is orphaned data points).

Allowing the user to specify what fit function to use (we could allow all options or a curated set), would solve issues with shorter time ranges and pre-aggregated data like transaction breakdown metrics or transaction duration metrics.

Here'

[2021-01-11 09:01] elasticmachine commented on #87801
Pinging @elastic/apm-ui (Team:apm)

[2021-01-11 09:03] #86514 closed

[2021-01-11 09:03] formgeist commented on #87801
Thought the same to add an issue to use one of these, especially for our span type breakdown chart. I don't necessarily think it's necessary to allow for the user to which fit function to use, but we can just decide on the best to work for the charts we have.

[2021-01-11 09:06] formgeist commented on #87726
We can't use the sparklines for that - it's purely for trend. I think changing to the same scale will yield a bad experience because one chart might run high latency which in turn would basically floor all the other trends. The user will need to go to the service overview or other detailed views to understand the spike in more depth.

[2021-01-11 09:22] timroes commented on #87455
As Nick mentioned, we're planning to implement similar behaviors into different parts of Kibana. Some of them might be part of the mentioned Data Grid migration. Others might be build in a more generic version, e.g. a calculation system for all charts, not just tables (see https://github.com/elastic/kibana/issues/57708) and many more table improvements (https://github.com/elastic/kibana/issues/577

[2021-01-11 09:22] #87455 closed

[2021-01-11 09:22] katrin-freihofner commented on #85825
@weltenwort I think from the design side it would be ok to close it once a user starts scrolling.

[2021-01-11 09:24] formgeist commented on #87673
Interesting idea to possibly show the anomaly annotations even for other severity levels such as `major` if that's the highest severity level in the data. That will show the relation to the service status per our current definition.

Most certainly - we'll very quickly reach a point where the underlying data of the visualization will be unreadable.

At this time, I reckon this is mostly a thing on

[2021-01-11 09:24] katrin-freihofner commented on #77848
Related to https://github.com/elastic/observability-design/issues/6

[2021-01-11 09:26] #87232 closed

[2021-01-11 09:28] sqren commented on #87726
I tend to agree with @formgeist - although I feel there might be some use cases that we don't address with the current approach.

[2021-01-11 09:30] sqren commented on #87673
Hadn't thought about only showing the highest severity level - and not all of them (emphasis mine). I think that'd be a great idea 👍

[2021-01-11 09:36] sqren commented on #87673
... Thinking a bit more about this, it could lead to a. slightly confusing experience, where ML annotations disappear when zooming out because higher anonalies are detected.

**Example**: Viewing last 15 minutes and the max anomaly is `warning`. Zooming out to last 1 hours will however display ML annotations for `critical` anomalies and the `warning` anomalies from the past 15 minutes will no long

[2021-01-11 09:38] deepikakeshav-qasource commented on #86745
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** and found that issue is now **Fixed** . Able to add the multiple queries in timeline with drag and drop functionality.
**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**

![Timeline](https://user-images.githubusercontent.com/61860752/104149660-1f2ff500-53fd-11eb-83fb

[2021-01-11 09:38] #86745 closed

[2021-01-11 09:39] sqren commented on #87801
Exactly my thought. APM UI is already advertised as curated (read: opinionated) so I don't think we should make the right decisions and only make things configurable when necessary.

[2021-01-11 09:42] stratoula commented on #87341
@nickofthyme I had the same issue on my pie chart PR so I have solved it there https://github.com/elastic/kibana/blob/ed95218f9df1c052acc38d6e4ed12cb682fee547/src/plugins/vis_type_pie/public/utils/get_color_picker.tsx

[2021-01-11 09:48] gmmorris opened #87808 "[Alerting] Sometimes, when there are multiple Kibana, some instances fail to pick up any tasks"
We've identified an issue where multiple Kibana running in parallel can clash in a manner that forces some of them to skip all work.
We're not sure how to recreate this consistently... but it seems to be a clash during the UpdateByQuery step,

We think this explains the _drift_ that we see at times climb to 20s+

<img width="1454" alt="Screenshot 2021-01-11 at 09 46 44" src="https://user-images.gi

[2021-01-11 09:48] elasticmachine commented on #87808
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-11 09:52] #86614 closed

[2021-01-11 09:57] #87132 closed

[2021-01-11 10:07] stratoula opened #87811 "[TSVB] Gauge labels appear behind chart"
**Kibana version:**
master

**Describe the bug:**
I have set up a TSVB gauge chart with group by Terms (so the result is multiple gauge charts). The label is depicted behind the chart which makes the charts not so user friendly.

![image](https://user-images.githubusercontent.com/17003240/104167520-1fcc8980-5405-11eb-9071-0f7767e37276.png)

**Steps to reproduce:**
1. Create a TSVB gauge chart from

[2021-01-11 10:07] elasticmachine commented on #87811
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-11 10:08] stratoula commented on #87811
I think that this bug should be solved when we migrate the gauge chart to elastic charts https://github.com/elastic/kibana/issues/82729

[2021-01-11 10:09] lucabelluccini opened #87812 "[APM] Ability to save filters/searches done on the APM Application"
**Describe the feature:**

Ability to save searches/filters applied to APM application and store them more or less like Saved Searches.
Those objects must be space aware.

**Describe a specific use case for the feature:**

Ability to share a graph of a problem identified zooming/filtering on a particular service/environment and time span.

[2021-01-11 10:09] elasticmachine commented on #87812
Pinging @elastic/apm-ui (Team:apm)

[2021-01-11 10:24] kertal opened #87813 "Add custom labels to filters"
We introduced custom labels to index pattern fields with #70039.

Since filters also have access to the index pattern those custom labels should also be used when adding/editing/displaying Filters
<img width="1380" alt="Discover_-_Elastic" src="https://user-images.githubusercontent.com/463851/104169126-5e5f4580-53ff-11eb-8dbc-b9274f57a6ee.png">

[2021-01-11 10:24] elasticmachine commented on #87813
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-11 10:28] kertal commented on #87255
@wylieconlon thanks for taking care of this, I agree 2 & 3 would be best options, because we're won't use `_source` in the future (FYI @majagrubic )

[2021-01-11 10:48] MadameSheema commented on #85748
@deepikakeshav-qasource can you please validate the fix on BC3 when available? Lots of thanks :)

[2021-01-11 11:10] muskangulati-qasource opened #87816 "[ Question ] Redundant values are shown in the resolver for node details"
**Question**:
Redundant values are shown in the resolver for node details.

**Build Details**:
[code]

**Observations**:
- Same values are shown for different fields.
- Same fields and the same values are shown repeatedly

**Screenshots**:
![1rv](https://user-images.githubusercontent.com/60252716/104173403-b90e9680-542b-11eb-94ce-5b16cebd119c.png)

![2rv](https://user-images.githubusercontent.com/