[2021-06-07 11:48] fbaligand commented on #1547
I fully agree with @k0nficjusz
The minimum feature would be to be able to minimize panels individually on a dashboard.

[2021-06-07 11:50] ymao1 opened #101476 "[Alerting] Update alerts client audit events to new terminology"
Currently, the audit messages generated by the alerts client all use some form of `alert_`. With [this PR](https://github.com/elastic/kibana/pull/100705), the RAC effort will be adding an alerts client for accessing alerts as data an also generating audit events with the `alert_` prefix. There was a question of whether the audit events needs to match the saved object type (which for alerting is cu

[2021-06-07 11:50] elasticmachine commented on #101476
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 11:51] elasticmachine commented on #101449
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-07 11:52] elasticmachine commented on #101451
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-07 11:53] elasticmachine commented on #101454
Pinging @elastic/kibana-security (Team:Security)

[2021-06-07 11:56] flash1293 commented on #101451
This is how it failed:
<img width="1205" alt="Screenshot 2021-06-07 at 13 54 42" src="https://user-images.githubusercontent.com/1508364/121012420-fe937d80-c797-11eb-8d05-8fd508a1c71c.png">

Somehow the navigation to Lens never happened (it waited a long time for the date picker component, so this is not a case of an assertion being done before the UI is loaded).

@stratoula Did something about the

[2021-06-07 11:56] #95888 closed

[2021-06-07 12:07] jpchev commented on #101259
hi, no, I'm not running behind a company proxy.
If I run the following command it will successfully complete.

[code]

But after that, running `yarn kbn bootstrap` will get the aforementioned error.
I run these command from the git console on Windows 10.

Do you know why the system is trying to connect to http://localhost:4873/@bazel%2fbazelisk ?

[2021-06-07 12:15] formgeist commented on #100661
Yeah, that sounds reasonable to keep the dropdown and show that they are other options in here as well. It's kind of repeating the message that will be displayed above where we're introducing fleet and everything, but nothing wrong with reiterating it. 👍

[2021-06-07 12:17] formgeist commented on #100661
Here's an updated mock where the dropdown is available for on-prem standalone configuration as well.

<img width="3964" alt="Slice 1" src="https://user-images.githubusercontent.com/4104278/121015270-17e9f900-c79b-11eb-8816-0bc1c8ca97f2.png">

[2021-06-07 12:20] stratoula commented on #101451
No, we haven't done any change. The last PR that changed something on the listing page is this one https://github.com/elastic/kibana/pull/98651 but I am not sure if it could cause this flakiness.
It seems that search worked ok and failed on the click event https://github.com/elastic/kibana/blob/master/x-pack/test/search_sessions_integration/tests/apps/lens/search_sessions.ts#L29. (At least from th

[2021-06-07 12:27] amolnater-qasource opened #101478 "[Fleet]: Upgraded agent remains unhealthy and no new data for System integration under Data Streams tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. 7.13.1(released) Windows 10 x64 agent must be installed with policy having System and Endpoint Security integration._[We have used non-default namespace for better tracki

[2021-06-07 12:27] elasticmachine commented on #101478
Pinging @elastic/fleet (Team:Fleet)

[2021-06-07 12:28] amolnater-qasource commented on #101478
@manishgupta-qasource Please review.

[2021-06-07 12:40] flash1293 commented on #101451
`clickVisualizeListItemTitle`does just that - it clicks the title. It doesn't check what happens afterwards:
https://github.com/elastic/kibana/blob/3930749f0ece88b8cd5fe3a67192d87741eb97a1/x-pack/test/functional/page_objects/lens_page.ts#L91

No idea why the click didn't register - maybe it clicked too fast? We can probably stabilize this by adding a retry loop for the click and checking whether L

[2021-06-07 12:47] manishgupta-qasource commented on #101478
Reviewed & assigned to @EricDavisX

[2021-06-07 12:58] stratoula commented on #101451
Yes, I agree. It is weird. It found the row but something happened with the click event or the navigation maybe?

[2021-06-07 13:00] nerophon commented on #56497
FYI, a customer encountered the bug in 7.9.0, but can't reproduce it any longer in 7.10.2. This isn't extremely relevant anymore, but for anyone in the future reading this please be aware that there is some ambiguity here. If a customer is experiencing the issue in 7.9, I encourage that they try upgrading just in case.

[2021-06-07 13:01] clintandrewhall commented on #101377
@ppisljar you'll want to touch base with @crob611, as he's already started a guide, (it's on the Canvas project plan).  There's no doubt your input will be needed... where would you think the markdown should live? Expressions plugin?

[2021-06-07 13:10] joshdover commented on #97965
I've ran into one issue here which I don't have a great way of solving.

When deleting these outdated documents, I want to be sure that we only delete them if no other changes have been written to them since they were first read. In order to do that, I need to use the `_bulk` API so that I can use the `if_seq_no` and `if_primary_term` options in order to use optimistic concurrency control.

This w

[2021-06-07 13:11] pgayvallet commented on #101354
I think I have a different understanding of this section of the RFC every time I read it... However, you may be right, given

To be honest, even if I don't really have better propositions, I'm not thrilled by either one 😅

Note that atm, this is the main cause of SDH for 7.13+ migrations, so it's probably what we should focus on.

Without the possibility to perform atomic operations against ES, my

[2021-06-07 13:12] streamich commented on #98107
Used in ILM:

![image](https://user-images.githubusercontent.com/9773803/121022560-b88fe700-c7a2-11eb-8ed6-da11ad027173.png)

[2021-06-07 13:17] Dosant opened #101482 "Navigating from dashboard to other apps doesn't clear search session"
**Kibana version**: master (~7.14)

**Description of the problem including expected versus actual behavior**:

Navigating from Dashboard to another app via Kibana's side nav (or some other mechanism, doesn't matter) could leave a dashboard search session open, so Dashboard's session UI renders inside other apps.

https://user-images.githubusercontent.com/7784120/121023067-3653f280-c7a3-11eb-8a3f-d

[2021-06-07 13:17] elasticmachine commented on #101482
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-07 13:21] ghudgins opened #101483 "[Lens] Additional normalize by unit counter rate interval options"
**Describe the feature:**
Include additional `Normalize by unit` intervals in Lens Counter Rate options (week, month, quarter, year)

**Describe a specific use case for the feature:**

from discuss forum - https://discuss.elastic.co/t/display-aggregated-counter-value-per-interval/272333/8

[2021-06-07 13:21] elasticmachine commented on #101483
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-07 13:22] mistic commented on #101259
@jpchev I don't. I never seen this before. We have developers using windows without problems. I've also tested this morning and it run successfully. I'm not sure about your setup but the setup I tried on windows was:

- nvm to manage and install the node version we officially support
- follow what is described and required at elastic.co/guide/en/kibana/master/development-getting-started.html#devel

[2021-06-07 13:24] flash1293 commented on #101482
Good catch @Dosant - @lizozom how do we want to fix this? One option I can imagine is to hide the indicator if the app name of the session is no the current app name.

[2021-06-07 13:26] crob611 commented on #101377
@ppisljar @clintandrewhall Do you think we should use the `vis_type_X` naming scheme for those that, like you mention, aren't actually going to appear in the visualization editor? Any idea on a better naming scheme?  Maybe like `expression_X`?

And yes @ppisljar I'm putting together a guide.  Should be wrapping that up shortly.

[2021-06-07 13:28] #101355 closed

[2021-06-07 13:30] Dosant commented on #101482
@flash1293, I assume we'd only want **not to clear a session** when we navigate between dashboard<->lens within a single "editing" flow? Wouldn't we? Is there a way to identify such navigations?

[2021-06-07 13:42] flash1293 commented on #101482
IMHO we should keep the session around for Visualize as well if possible, so the cache is hit after going back to the dashboard.

I can see how this should be opt-in rather than opt-out though, no strong opinion. @lizozom what do you think?

[2021-06-07 13:46] giladgal opened #101485 "Disk Usage Analysis UI"
We are currently developing a [disk-usage analysis API #68508](https://github.com/elastic/elasticsearch/issues/68508). Administrators will benefit from a UI that will present a report with the results of this API call. The API call will probably be rather slow (minutes on normal indices, or even more on frozen indices) and resource intensive, but it is a report that administrators will run occasio

[2021-06-07 13:49] dasansol92 commented on #101376
PR: https://github.com/elastic/kibana/pull/101481

[2021-06-07 13:51] angorayc commented on #101352
Hello @MadameSheema, @samratbhadra-qasource ,
This is expected behaviour, the events table here should render whatever we have from the eql query above, so no sorting here.

[2021-06-07 13:53] #93901 closed

[2021-06-07 13:53] pgayvallet commented on #101351
Yea.. this may be tricky because we'll still need to assume that the unknown doc is following the SO document format, but I don't think we really have any other option here.

[2021-06-07 13:59] jpchev commented on #101259
It works after having deleted the following files

C:\Users\myself\.npmrc
C:\Users\myself\.yarnrc

[2021-06-07 13:59] jpchev commented on #101259
It works after having deleted the following files

C:\Users\myself.npmrc
C:\Users\myself.yarnrc

[2021-06-07 13:59] #101259 closed

[2021-06-07 14:03] MichaelMarcialis commented on #91615
Hey, @pgayvallet! I'm coming into this conversation sideways, so I apologize in advance if I'm misinterpreting anything. Am I correct in assuming the spaces filter you mention (and possibly related table column) will be referencing saved objects that are shared across spaces?

I assume the request for my involvement is in reference to my [past design suggestions](https://www.figma.com/file/kh7Gm1i

[2021-06-07 14:05] #100767 closed

[2021-06-07 14:09] pgayvallet commented on #37403
https://github.com/hapijs/h2o2/pull/125 has been merged, and [v9.1.0](https://github.com/hapijs/h2o2/releases/tag/v9.1.0) released. Will open a PR soon to bump the version.

[2021-06-07 14:13] nchaulet commented on #101309
Maybe this could be solved by https://github.com/elastic/package-spec/issues/63

[2021-06-07 14:21] ppisljar commented on #101377
i am ok with using `vis_type_X` still, but i am also ok with `expressions_X`.

i think the markdown (lets make sure its .mdx) should go under dev_docs (cc @stacey-gammon do you agree?) as its gonna be describing the good practices to creating expression functions and renderers. we already have a very simple tutorial there on how to register a function and a renderer for expressions. we could eithe

[2021-06-07 14:30] #101322 closed

[2021-06-07 14:33] ecezalp opened #101489 "[Security Solution][CTI] Investigation Guide in Alert Details Flyout"
**Describe the bug:**

![image (1)](https://user-images.githubusercontent.com/18617331/121034938-6c7d7c00-c77b-11eb-9967-552b448e3d9b.png)

[2021-06-07 14:33] elasticmachine commented on #101489
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-07 14:33] machadoum commented on #99358
This issue is going to be fixed by Team Geo.  https://github.com/elastic/kibana/pull/100487

[2021-06-07 14:34] kertal commented on #96113
linking https://github.com/elastic/elasticsearch/issues/73845, improving ES memory usage

[2021-06-07 14:49] Bamieh commented on #101463
@sqren the `.apm-agent-configuration` index gets created on kibana start.

[code]

It seems that sometimes the task starts before the index is fully `refreshed` on the shards so the warning appears.

[2021-06-07 14:53] #101397 closed

[2021-06-07 14:55] ecezalp commented on #101489
I was unable to reproduce this bug locally
<img width="720" alt="Screen Shot 2021-06-07 at 10 50 51 AM" src="https://user-images.githubusercontent.com/18617331/121038532-5fae5780-c77e-11eb-9d00-21651a15544c.png">

@stiltz could you please add some additional details about your browser and reproduction steps?

[2021-06-07 15:01] stiltz commented on #101489
We are on Stack version 7.13.1 and I'm experiencing this in Chrome 91.0.4472.77 (Official Build) (x86_64) and Safari 14.1.1

This is the text of the Markdown from the rule I noticed this on.

[code]

[2021-06-07 15:02] #101300 closed

[2021-06-07 15:09] stiltz commented on #101489
I should add that the markdown in the flyout for the **Investigation guide** isn't formatting properly. Instead of a heading we see `##` and same for the bulleted list. This is how it looks in the **Investigation guide** within the detection rule view and how I would expect to see it in the flyout (being collapsed in the flyout is acceptable for me)

![image](https://user-images.githubusercontent.

[2021-06-07 15:11] peteharverson opened #101495 "[ML] Anomaly chart embeddable shows unnecessary too many buckets warning"
Depending on the dashboard time range, the anomaly charts embeddable can display the 'too many buckets selected for display' warning when the width of the chart should allow for all data points to be plotted.

For example the number of points in the charts below is well below the maximum threshold, and each chart is showing the correct time range:

![image](https://user-images.githubusercontent.co

[2021-06-07 15:11] elasticmachine commented on #101495
Pinging @elastic/ml-ui (:ml)

[2021-06-07 15:12] clintandrewhall commented on #101377
Perhaps we go with `expressions_x` for all the new ones, and rather than refactor `vis_type_foo` in place, let's write a new `expressions_foo` that people can migrate to...?

[2021-06-07 15:12] mshustov commented on #100439
Probably you are right, but a bit more complex cases, like
[code]
will require work in the user-land anyway. So maybe we can start with implementing this logic in `validateEsPrivilegeResponse` and later, we can consider adding this to `@kbn/config-schema`. WDYT?

[2021-06-07 15:18] kevinlog commented on #100296
assigned to @dasansol92 for now since he's go some bandwidth.  FYI @paul-tavares @parkiino

[2021-06-07 15:18] liciavale commented on #100867
Updated filters user experience prototype:
https://www.figma.com/proto/dbYwZHht0K5sswM2xnWL2X/Exploratory-view?node-id=521%3A846&scaling=min-zoom&page-id=521%3A842 Updated filters user experience prototype

[2021-06-07 15:20] #78296 closed

[2021-06-07 15:21] przemek-grzedzielski commented on #100992
Yes, I recorded them with the broken dashboards.

Unfortunately I'm not able to provide you with a ready-to-go environment with the Elastic Cloud Enterprise platform installed. From what I learned, in such cases stack teams will usually install ECE on their own.
On a high level, these are the steps needed to reproduce the problem:
- Spin up an AWS instance(s)
- [Install Elastic Cloud Enterprise 2.

[2021-06-07 15:22] iamhowardtheduck opened #101497 "EMS Boundaries do not render in Maps OR in dashboards, ONLY when edited from dashboard"
**Kibana version:** 7.13.1

**Elasticsearch version:** 7.13.1

**Server OS version:** ESS

**Browser version:** Chrome  91.0.4472.77 (Official Build) (64-bit)

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**
Maps EMS Boundaries does not render in maps or dashboards, only when editing map from a dashboard will

[2021-06-07 15:22] elasticmachine commented on #101497
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-07 15:22] elasticmachine commented on #101497
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-07 15:23] MadameSheema commented on #101352
Closing since this is the expected behaviour.

[2021-06-07 15:23] #101352 closed

[2021-06-07 15:23] wylieconlon commented on #101483
@ghudgins @snicoll I think there has been a misunderstanding here, the "normalize by time unit" feature would not be able to solve the problem that @snicoll described as "a math operation between the first and the last value in the bucket". The main use of normalize by time unit is to do basic division, so for example:

* I have an aggregation with daily buckets
* I want to display the hourly rate

[2021-06-07 15:23] #101483 closed

[2021-06-07 15:24] elasticmachine commented on #100701
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-07 15:25] ecezalp commented on #101489
interesting. I am starting to think that this is more of a feature request than a bug, considering that we do not have a markdown parser in that area in general. The copy is rendered within a component called [LineClamp](https://github.com/elastic/kibana/blob/4a541883557bcee83baf09b2c0ddab702f780e45/x-pack/plugins/security_solution/public/common/components/line_clamp/index.tsx) - and it seems to c

[2021-06-07 15:30] mshustov commented on #100803
yes, in TSDoc https://github.com/elastic/kibana/blob/master/src/core/public/http/types.ts#L287 and in the service docs https://github.com/elastic/kibana/blob/master/docs/developer/architecture/core/http-service.asciidoc#client-side-usage

What if instead of working around all the corner cases, Core adds (in dev mode only) a *response interceptor* validating a well-known Kibana header presence? `kb

[2021-06-07 15:39] wylieconlon opened #101500 "[Lens] Implement a last value - first value shortcut function"
We decided not to implement a `first_value` function in Lens because we could only identify one use case, which is `last value - first value`. We don't have a good name for this type of function, but it's used primarily when looking timestamped summaries of data. For example in https://discuss.elastic.co/t/display-aggregated-counter-value-per-interval/272333/7 the user is looking at a counter-type

[2021-06-07 15:39] elasticmachine commented on #101500
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-07 15:40] YulNaumenko opened #101501 "[Rules][Event Log][Docs] Replace hardcoded links for rule types, which are written to the `rule.reference` event log schema."
When the issue for adding `docLinks` service to the Kibana core server will be resolved, we need to update hardcoded links for the rule types overview added by the [PR](https://github.com/elastic/kibana/pull/101132).

[2021-06-07 15:40] elasticmachine commented on #101501
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 15:41] wylieconlon commented on #101483
I think this new issue covers the use case: https://github.com/elastic/kibana/issues/101500

[2021-06-07 15:46] mshustov commented on #101283
I agree it can be useful, but let's do it as a separate task?

[2021-06-07 15:47] ppisljar commented on #101377
sounds good to me. the only thing i am not sure is if we want to refactor `vis_type_foo` to `expression_foo` at all, as the vis_type plugins will probably contain their vis part for quite some time (until we get rid of visualize at least) and i don't think spliting this in two makes much sense (expression_foo + vis_type_foo using expression_foo under the hood) but would be possible.

[2021-06-07 15:49] YulNaumenko opened #101503 "[Alerting] Move `kbn-action` tool to the Kibana repository."
To make Alerting framework [support enablement](https://github.com/elastic/kibana/issues/83484) easier and simpler we often use `kbn-action` tool, designed by @pmuellr, which is located under repository https://github.com/pmuellr/kbn-action.
Based on the discussion with @elastic/kibana-alerting-services team and @kobelb we decided to move this tool to be under the Kibana repository. This will help

[2021-06-07 15:50] clintandrewhall commented on #101377
Gotcha... maybe just rename the plugin from `vis_type_foo` to `expression_foo` when the refactoring is complete.

[2021-06-07 15:53] crob611 commented on #101377
👍  We'll go with `expression_foo` for the functions/renderers that we pull out of Canvas

[2021-06-07 16:03] #100675 closed

[2021-06-07 16:03] #100676 closed

[2021-06-07 16:03] #100677 closed

[2021-06-07 16:03] #100678 closed

[2021-06-07 16:03] #100681 closed

[2021-06-07 16:04] chrisronline commented on #100681
Closing as the [new proposal](https://github.com/elastic/kibana/issues/98902#issuecomment-855003936) is taking down a different path in the short term

[2021-06-07 16:04] chrisronline commented on #100678
Closing as the [new proposal](https://github.com/elastic/kibana/issues/98902#issuecomment-855003936) is taking down a different path in the short term

[2021-06-07 16:04] chrisronline commented on #100677
Closing as the [new proposal](https://github.com/elastic/kibana/issues/98902#issuecomment-855003936) is taking down a different path in the short term

[2021-06-07 16:04] chrisronline commented on #100676
Closing as the [new proposal](https://github.com/elastic/kibana/issues/98902#issuecomment-855003936) is taking down a different path in the short term

[2021-06-07 16:04] chrisronline commented on #100675
Closing as the [new proposal](https://github.com/elastic/kibana/issues/98902#issuecomment-855003936) is taking down a different path in the short term

[2021-06-07 16:07] mshustov commented on #57370
I think it *might* reduce the communication overhead for all the linter changes. A team can fix several of them at once since most of them are quite trivial.
But realistically, it might be postponed until 8.0?

[2021-06-07 16:09] #100321 closed

[2021-06-07 16:29] pmuellr commented on #58366
I've converted the list in [comment ^^^](https://github.com/elastic/kibana/issues/58366#issuecomment-602820777) to a task list, and added "default sort by last edit" as it was added after the list

- [ ] Filtering alerts by&nbsp;tag - #51727
- [ ] Sorting alerts by&nbsp;name - #60584
- [ ] Filtering alerts that have&nbsp;no actions - #58362
- [ ] Removing&nbsp;internal tags&nbsp;from display in UI

[2021-06-07 16:40] chrisronline opened #101505 "[Alerting] [o11y] Gain insight into task manager health apis when a problem occurs"
Relates to https://github.com/elastic/kibana/issues/98902#issuecomment-855003936

We have the ability to see health metrics but not necessarily when we need to see them (when the problem occurs). This is most noticeable when the issue is intermittent and isn't noticeable at first.

To combat this, we have a couple options:

### 1. Persist health metrics over time so we are able to query for metric

[2021-06-07 16:40] elasticmachine commented on #101505
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 16:42] mattkime commented on #94244
While it would be nice to address, this is a low priority. We thought we'd do this 'someday'

[2021-06-07 16:42] liza-mae opened #101506 "Kibana status is showing incorrect build hash"
**Kibana version**: Latest 7.13 and 7.14 snapshots

**Server OS version**: Ubuntu

**Original install method (e.g. download page, yum, from source, etc.)**:
Snapshots

**Description of the problem including expected versus actual behavior**:
When I run ```/api/status``` the build_hash for 7.13 is incorrect and invalid.

**Steps to reproduce**:
 1. Install latest snapshot for 7.13 or 7.14
 2. Go to

[2021-06-07 16:43] elasticmachine commented on #101506
Pinging @elastic/kibana-core (Team:Core)

[2021-06-07 16:43] elasticmachine commented on #101506
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-07 16:47] chrisronline opened #101507 "[Alerting] [o11y] Improve event log data to include when the rule execution starts"
Relates to https://github.com/elastic/kibana/issues/98902#issuecomment-855003936

We do not currently write to the event log when an rule starts execution (only when the rule finishes execution) so it's not possible for us to stitch together the timeline of rule execution to understand if one is starting and not finishing or something else.

To combat this, we should write to the event log when a

[2021-06-07 16:47] elasticmachine commented on #101507
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 16:52] Zacqary commented on #100869
@jen-huang After reverting #100370 I'm actually not able to reproduce the issue it was originally supposed to be fixing. The single Install button is always present. Do you remember the steps to reproduce #99858?

[2021-06-07 16:57] legrego commented on #100439
Agree 100% - I wasn't trying to move the work from us to core 🙂

[2021-06-07 16:59] jen-huang commented on #100869
@Zacqary Hmm, I don't think it was anything specific I did. I just recall that the Install button wasn't present for integrations that weren't installed yet.

[2021-06-07 17:07] Zacqary commented on #100869
@jen-huang If you diff between the `settings.tsx` file in #100370 (https://github.com/elastic/kibana/blob/7.13/x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/settings/settings.tsx) and at the HEAD of 7.13 (https://github.com/elastic/kibana/blob/7.13/x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/settings/settings.tsx) you'll notice that there

[2021-06-07 17:15] simianhacker commented on #20184
This appears to be fixed, feel free to reopen with some updated images from 7.x

[2021-06-07 17:15] #20184 closed

[2021-06-07 17:18] kobelb commented on #58069
Do we happen to have any telemetry data on how many Kibana developers/contributors are using Windows without WSL?

[2021-06-07 17:18] #101255 closed

[2021-06-07 17:20] angorayc commented on #100869
Do you mean https://github.com/elastic/kibana/pull/100370?

[2021-06-07 17:22] Zacqary commented on #100869
@angorayc Yes, sorry, typo

[2021-06-07 17:26] shimonmodi commented on #101489
@ecezalp - we will definitely want the alert flyout to support markdown to ensure consistency, as well as support formatting that makes the guide easier to read. this is a pleasant surprise as I wasn't aware this would make it before 7.14.

[2021-06-07 17:28] formgeist opened #101512 "[APM] Solution navigation: Restricted permissions to view app should be reflected in the navigation options"
# Summary

Follow-up to https://github.com/elastic/kibana/issues/99883

We need to ensure that restricted access to APM through RBAC is reflected in the navigation. E.g. a Space has limited access to the APM app, should not show the APM section in the navigation but reflect the same as in the main Kibana menu where the APM is not available as an option.

This is documented in the component docs ht

[2021-06-07 17:28] elasticmachine commented on #101512
Pinging @elastic/apm-ui (Team:apm)

[2021-06-07 17:33] formgeist opened #101513 "[Uptime/UX] Solution navigation: Restricted permissions to view app should be reflected in the navigation options"
# Summary

Follow-up to https://github.com/elastic/kibana/pull/100905 and https://github.com/elastic/kibana/pull/101005

We need to ensure that restricted access to Uptime (and UX) through RBAC is reflected in the navigation. E.g. a Space has limited access to the apps, should not show the sections in the navigation but reflect the same as in the main Kibana menu where the Uptime and/or UX is not

[2021-06-07 17:33] elasticmachine commented on #101513
Pinging @elastic/uptime (Team:uptime)

[2021-06-07 17:58] constancecchen commented on #76669
@anyasabo Hey Anya! Just as a heads up, we added the following config settings to `kibana.yml` that should now allow ECK's self-signed CAs:

[code]

Please let us know if this is sufficient/works for getting Enterprise Search in Kibana working on ECK!

[2021-06-07 18:06] laurentiubanica commented on #100470
Hi,
We upgraded the cluster and Kibana app to 7.13.
The issue remains.
Not even to headers of the columns are shown anymore in the downloaded .csv file.

This is a sample backend log from the Kibana docker:

{"type":"response","@timestamp":"2021-06-07T18:02:37+00:00","tags":[],"pid":951,"method":"post","statusCode":200,"req":{"url":"/api/ui_counters/_report","method":"post","headers":{"connection"

[2021-06-07 18:07] anyasabo commented on #76669
@elastic/cloud-k8s please see above

[2021-06-07 18:31] stefnestor opened #101521 "Document Kibana Alert Statuses"
**Kibana version**: 7.12-7.13

Howdy! It appears there is a defined categorization of Kibana Alert statuses from https://github.com/elastic/kibana/issues/51099 by @pmuellr on https://github.com/elastic/kibana/pull/75553 : [active, error, ok, pending, unknown]

However I'm unable to find their definitions in the documentation (expected somewhere around [here](https://www.elastic.co/guide/en/kibana/

[2021-06-07 18:31] elasticmachine commented on #101521
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-07 18:31] #96550 closed

[2021-06-07 18:53] #94794 closed

[2021-06-07 18:56] smith commented on #100192
See also #76849 for the DB statements.

elastic/eui#3140 exists to add the ability to show line numbers in EuiCodeBlock.

[2021-06-07 19:16] jbudz commented on #101506
Can you share where the builds are from or where they were started?  Trying to track this down - I ran a few local builds and the checked artifacts API snapshots - build_hashes seem to be functioning there.

[2021-06-07 19:17] #21701 closed

[2021-06-07 19:17] #92085 closed

[2021-06-07 19:17] #98087 closed

[2021-06-07 19:17] #99190 closed

[2021-06-07 19:24] timductive commented on #43877
Hey @odmby the short answer is today we would prefer to build scatterplot into Lens and we are actively working on making Lens embeddable everywhere in both Dashboards and Canvas this is already largely possible. I don't have an ETA on when we will build scatterplot, we have discussed it, the primary issue will be how do we incorporate so many data points on a Lens chart.

[2021-06-07 19:26] liza-mae commented on #101506
@jbudz This is on cloud.

[2021-06-07 19:28] igoristic opened #101525 "[Monitoring] Document the importance of module's `period` value when monitoring with metricbeat"
Currently SM documentation: https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-elasticsearch.html and https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-metricbeat.html. Does not emphasize/recommend that the module's `period` should be no more than`10s`. Our [SM granularity logic](https://github.com/elastic/kibana/blob/3efca356012597fbb108a770f1b902

[2021-06-07 19:28] elasticmachine commented on #101525
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-07 19:49] ruflin commented on #101309
As this is tied to the pipeline, I think it exist in the same place as the pipeline itself. As far as I can it was decided to have the template shipped as part of fleet and not added to the package so likely the same should happen to the fields?

What exactly is the upgrade process of this pipeline and fields in case of changes?

[2021-06-07 19:58] simianhacker commented on #101525
@sayden When the user sets `period` in the Metricbeat configs, are we setting `metricset.period` to the same value? If so, @igoristic, we could read that value and set the minimum bucket size to `metricset.period`. This is what we are doing in Metrics UI.

[2021-06-07 20:28] nchaulet commented on #101309
Currently there is no upgrade process for the pipeline, we check if the pipeline exists or not to create it. For the next upgrade we will have to persist the upgrade somewhere in one of our saved object.

[2021-06-07 20:33] ruflin commented on #101309
Not sure I follow what you mean by persist in the saved objects? The questions I'm thinking of for the pipeline and fields:

* Do we version the pipeline?
* Do we replace the pipeline?
* What if we add new fields?
* Will we rollover the data streams to get the fields in place?

The data stream naming scheme has predefined behaviours for upgrade scenarios and we should have something in place for t

[2021-06-07 20:57] tsullivan opened #101532 "[Reporting] multiple instances of Kibana can reschedule the same report job for recovery"
**Kibana version:** 8.0.0

Reporting has a `reports:monitor` task with the job of finding crashed jobs that need to be rescheduled into Task Manager to be re-tried with more attempts.

Unfortunately, multiple instances of Kibana are not aware that another instance could be attempting to recover the same crashed report. Two or more instances of Kibana can reschedule a reporting task based on findin

[2021-06-07 21:05] sqren commented on #101512
Good catch!
@weltenwort Is this something you've thought about? I did see this in the readme:

However, the navigation items are registered during the plugin's setup phase which does not take the user context into account (afair).

[2021-06-07 21:29] elasticmachine commented on #101532
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-07 21:29] elasticmachine commented on #101532
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-07 21:31] nickpeihl commented on #101497
This bug also occurs in the master branch. It appears to only affect boundary layers created by the EMS Boundaries wizard. Boundary layers created using the Choropleth wizard are not affected by this bug. Another workaround is create a clone of the affected layer using the layer's context menu. The cloned layer appears to render correctly.

This does not appear to be an issue with EMS. @elastic/em

[2021-06-07 21:51] igoristic commented on #101525
@simianhacker I think that would be the better option, didn't think we have access to their config values though (or what user/role needed to get it). We can also get the time distance between two documents and make an assumption. I will review the metric ui code and see how it's done. Thanks!

[2021-06-07 21:56] bmorelli25 opened #101538 "Kibana wiki out of date with broken links"
A good chunk of the [Kibana wiki](https://github.com/elastic/kibana/wiki) links are broken

[2021-06-07 21:56] elasticmachine commented on #101538
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-07 22:14] rashmivkulkarni opened #101539 "Metricbeat exception : java.lang.IllegalArgumentException","error.message":"index.lifecycle.rollover_alias seen in ES logs."
Kibana version 8.0 snapshot
Metricbeat version 8.0 snapshot

My test set up is running Metricbeat  and loading data - so I do have `metricbeat-8.0.0-2021.06.07-000001` But also am running `es_archiver` through which I have `metricbeat-7.10.0-2020.09.29-000001` loaded for a specific test.

In the ES logs I do see this exception :

`
{"@timestamp":"2021-06-07T20:49:45.657Z", "log.level":"ERROR", "me

[2021-06-07 22:14] elasticmachine commented on #101539
Pinging @elastic/integrations (Team:Beats)

[2021-06-07 22:16] sqren opened #101540 "[APM] Avoid excessive number of css selectors"
To render the waterfall about 10 css selectors are dynamically generated per transaction or span in the trace. For a long-ish trace with 66 item, this caused more than 500 selectors to be created dynamically, causing the page to render really slowly.

This is caused by this styled-components rule:
https://github.com/elastic/kibana/blob/c489bcaa45e689c55b18f8b67d61a15fe3698cbd/x-pack/plugins/apm/pu

[2021-06-07 22:16] elasticmachine commented on #101540
Pinging @elastic/apm-ui (Team:apm)

[2021-06-07 22:20] jasonrhodes opened #101541 "[RAC] Add higher-level helper to ruleRegistry plugin exports"
Related:
* [[RAC] Initializes Metrics and Logs rule registry setup](https://github.com/elastic/kibana/pull/100927)
* [[Uptime] migrate to observability rules registry](https://github.com/elastic/kibana/pull/100699)

In Logs and Metrics, we're just using the basic ruleRegistry flow for now. I think it's a smart idea to provide access to the lower-level primitive methods for creating index templates

[2021-06-07 22:32] rashmivkulkarni commented on #101539
This actually belongs to beats repo:  closing it here and opening it in beats repo https://github.com/elastic/beats/issues/26189

[2021-06-07 22:32] #101539 closed

[2021-06-07 22:32] YulNaumenko commented on #99444
This [issue](https://github.com/elastic/kibana/issues/99101) seems to be a part of the current one or be implemented as the next step.

[2021-06-07 22:48] YulNaumenko opened #101543 "[Alerting UI] Test connector doesn't show the validation information on click Save & close button"
**Describe the bug:**
For connectors with the secrets, when click on the 'Run this connector' Save, Save & close buttons are making a confusing UX, because clicking on it doesn't do anything Save & close , doesn't save and does not close the flyout. And no validation errors or massages are visible on the form
**Steps to reproduce:**
1. Create connector with the secrets, like Slack, Email, etc. and

[2021-06-07 22:48] elasticmachine commented on #101543
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 22:57] YulNaumenko opened #101545 "[Alerting UI] Should we clean up the action type form fields on the connector change?"
Current problem is happening if we have a multiple connectors of the same action type. The action type form in the Rule Create/Edit flyout is not updated when connector was changed.
Only Index action type support this behavior, when the user switch between Alerting history connector and the other Index connector.
Do we need to support the cleaning user input feature and what is the best UX: should

[2021-06-07 22:57] elasticmachine commented on #101545
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 22:59] simianhacker commented on #101525
@igoristic The way Metrics UI does it is by reading a document from the index and looking at `metricset.period`. If that field is set we could use it.

[2021-06-07 23:01] YulNaumenko opened #101546 "[Alerting UI] Convert `triggersActionsUi` plugin to the new Management app structure."
This work is in service of #101336.
Follow the instructions there to migrate UI plugins below.
Target the feature branch from PR #101335.

[2021-06-07 23:01] elasticmachine commented on #101546
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-07 23:34] thopewell opened #101549 "Kibana can show highlighted text snippets"
**Describe the feature:**

When the contents of a field (like "message") is a long string - like the transcript of an interview - it would be great if the Kibana discover UI could show the highlighted text matching the search.  At the moment, I can see that there are documents matching my search, but I have to expand the field name and scroll to find the match and surrounding content.

**Describe

[2021-06-07 23:43] tylersmalley commented on #99212
This should be pretty strait forward. With the `@kbn/es` Cluster, you should be able to call `installSnapshot` once, then `run` for each option against the same archive. You just need to make sure that each one specifies a unique data directory.

[2021-06-08 01:29] elasticmachine commented on #99975
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-08 01:57] jasonrhodes opened #101550 "[RAC] Sort out permissions for read vs write actions for rule registry client(s)"
Related:
* [[RAC] Lifecycle rule type: fix the way we write RAC documents](https://github.com/elastic/kibana/issues/100451)
* [[RAC] [RBAC] MVP RBAC for alerts as data](https://github.com/elastic/kibana/pull/100705/files#diff-2e34469c24282f59b0a2eae766b59c048ddc07b608201b96bad35641bf029bb5)

cc @dhurley14, @XavierM, @smith, and @kobelb

### Desired permissions model

| Action | User | Authorizatio

[2021-06-08 02:16] kovyrin commented on #76669
https://github.com/elastic/k8s-dev/issues/143#issuecomment-856384854 - tested the changes (everything worked!) and added instructions on how to use the new settings. Let me know if you think we could help with anything else there.

[2021-06-08 03:01] qizhelongdeyang opened #101552 "Kibana dropdown list cannot show all the available options. it only show part of the whole options"
**Kibana version**: 6.5.4

**Elasticsearch version**:

**Server OS version**: Centos 7

**Browser version**: chrome 91.0.4472.77

**Browser OS version**: Mac 10.15.7 (19H524)

**Original install method (e.g. download page, yum, from source, etc.)**: yum

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. In Visualize create Controls panel
 2. cre

[2021-06-08 04:40] lukeelmers opened #101554 "[clustering] Update POC to incorporate latest RFC design"
Part of https://github.com/elastic/kibana/issues/68626

Link to RFC: https://github.com/elastic/kibana/pull/94057
POC PR: https://github.com/elastic/kibana/pull/93380

The RFC has evolved quite a bit from the time the original POC was created. We should update the POC to validate the latest proposed design from the RFC.

[2021-06-08 04:40] elasticmachine commented on #101554
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 04:46] lukeelmers opened #101555 "[clustering] Write test plan for performance benchmarks"
Part of https://github.com/elastic/kibana/issues/68626

Link to RFC: https://github.com/elastic/kibana/pull/94057
POC PR: https://github.com/elastic/kibana/pull/93380

A number of performance benchmarks were done in the original RFC -- we should revisit the open questions there and put together a plan for how we will manage testing this, perhaps using the existing gatling tests.

The goal here is

[2021-06-08 04:46] elasticmachine commented on #101555
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 04:51] lukeelmers opened #101556 "[clustering] Write performance benchmark tests"
Part of https://github.com/elastic/kibana/issues/68626

Link to RFC: https://github.com/elastic/kibana/pull/94057
POC PR: https://github.com/elastic/kibana/pull/93380

After https://github.com/elastic/kibana/issues/101555 is done, we will need to implement an initial set of performance tests:
- [ ] Develop tests according to the plan outlined in https://github.com/elastic/kibana/issues/101555
- [

[2021-06-08 04:51] elasticmachine commented on #101556
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 05:41] constancecchen commented on #76669
Thanks so much Oleksiy! I'll go ahead and re-close this issue since we're tracking with the ECK folks in a separate issue (apologies, hadn't seen that one - totally my bad!). If for some reason or edge case we need an extra config setting or somesuch I vote we open a new issue then.

[2021-06-08 05:41] #76669 closed

[2021-06-08 06:53] philippkahr commented on #100984
Hi @jen-huang

Let's say you are an admin and have created multiple policies. one for windows-server, windows-workstations, windows-laboratory-pcs and so on. Now you want to deploy Elastic Endpoint to *all* the policies at once. The configuration does not need to be shared, it can be copied in the background. I would find it more "clean" for the kibana_user to be able to select multiple policies a

[2021-06-08 06:57] Bamieh opened #101557 "[Localization] Guidelines for large paragraphs and markdown"
## Summary

Our i18n guide does not specify how developers should handle internationalizing large paragraphs of text and markdown.

## Concerns

Without specific guidelines for devs translators might find them selves in a mix of confusing messages to be translated leading to a few back and forth conversations to understand the context of these messages.

We don't have anything specific for markdow

[2021-06-08 06:57] elasticmachine commented on #101557
Pinging @elastic/kibana-localization (Team:Localization)

[2021-06-08 07:12] dgieselaar commented on #101408
This happens when the request to Elasticsearch exceeds the configured timeout. By default that is 30s - is that the case for this setup as well?

[2021-06-08 07:17] leegengyu commented on #57414
Hello there,

I am able to see the intended error message when loading the page for the first time:

[code]

However, this message appears **only appears very momentarily** (and as mentioned, it only shows up when loading the page for the first time).

I am only able to see it again when using another browser (or Incognito session) to load it, coupled with a screen recorder.

I have tried this out

[2021-06-08 07:27] kertal commented on #66253
closing this, tested in 7.13 and master, couldn't reproduce, seems to have been fixed in the meantime

[2021-06-08 07:27] #66253 closed

[2021-06-08 08:09] sqren commented on #101253
++

[2021-06-08 08:17] ghost opened #101560 "The tooltip of event details of the rule created is not displaying while hovered over it."
**Describe the bug**
The tooltip of event details of the rule created is not displaying while hovered over it.
**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce**
1. Navigate to the detection tab under security.
2. Go to manage detection rules and create any duplicate rule.
3. Scroll down and go to about section.
4. While

[2021-06-08 08:17] elasticmachine commented on #101560
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-08 08:22] samratbhadra-qasource commented on #101560
@manishgupta-qasource please review.

[2021-06-08 08:27] sqren commented on #99526
Sorry, I completely missed this initially. I agree, it looks like this is caused by the elasticsearch client.
I'll look into the best way to work around this.

[2021-06-08 09:06] pgayvallet commented on #91143
@gmmorris is this something that is mandatory to be done before `8.0`?

[2021-06-08 09:10] pgayvallet opened #101564 "[meta] saved objects improvements"
### Planned for `8.0`
- [ ] Delete the legacy dashboard import/export API - https://github.com/elastic/kibana/issues/41439
- [ ] Add `bulk delete` API - https://github.com/elastic/kibana/issues/30503
- [ ] Upgrade import/export API to `beta` - https://github.com/elastic/kibana/issues/90429
- [ ] Saved object type renaming - https://github.com/elastic/kibana/issues/91143
- [ ] Include space informa

[2021-06-08 09:10] elasticmachine commented on #101564
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 09:10] pgayvallet commented on #61716
Closing in favor of https://github.com/elastic/kibana/issues/101564

[2021-06-08 09:38] #101219 closed

[2021-06-08 09:51] weltenwort commented on #101512
As with all registrations taking place during `setup()` which require access to `start()`-phase information, `core.getStartServices()` would be the way to go. Since the registration takes an observable it should be easy to do something like the following:

[code]

Does that make sense? Or do you think the nav should somehow be coupled to the capabilities behind the scenes?

[2021-06-08 09:58] xcrzx commented on #92160
We also need to refactor the rule table’s state to avoid hacks like `useValueChanged` altogether. See related discussion: https://github.com/elastic/kibana/pull/100554#discussion_r645657140

Current problem:
1. `EuiBasicTable` uses an array of table items (in our case, `Rule[]`) to keep track of currently selected rows.
2. But our `RulesTables` uses an array of rule IDs to do the same.
3. We synch

[2021-06-08 09:59] manishgupta-qasource commented on #101560
Reviewed & Assigned to @MadameSheema

[2021-06-08 10:07] poifir commented on #48687
We're having the same problem in our company - so a "per user setting" would be highly preferred :)

[2021-06-08 10:14] dikshachauhan-qasource commented on #95900
### `Bug Conversion`

-  01 new testcase is created under the 'Data streams' section:
   - https://elastic.testrail.io/index.php?/cases/view/147360

Thanks!

[2021-06-08 10:42] dikshachauhan-qasource commented on #98885
### `Bug Conversion`

-  01 new testcase is created under the 'Fleet' section:
   - https://elastic.testrail.io/index.php?/cases/view/147362

Thanks!

[2021-06-08 10:46] mostlyjason commented on #95424
@nchaulet we don't have status data broken out for fleet servers today:

[code]

[2021-06-08 10:52] xcrzx opened #101571 "[Security Solution][Detections] Simplify file download flow"
Currently, the file download process is unnecessarily complicated from a developer's perspective and includes some redundant steps.

Let's look at the timeline download process, for example. It includes the following steps (simplified):

1. A user clicks `Export`, and the process kicks off with the download handler (https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/pub

[2021-06-08 10:52] elasticmachine commented on #101571
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-08 10:52] elasticmachine commented on #101571
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-08 10:54] deepikakeshav-qasource opened #101572 "[Security Solution] For data_stream fields "Filter for value" and "Filter out value" are working opposite to their functionality."
**Description**
For data_stream fields "Filter for value" and "Filter out value" are working opposite to their functionality.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Endpoint should be install.
3. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to the Detections tab of security
2. Add the data_stream fiel

[2021-06-08 10:55] elasticmachine commented on #101572
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-08 10:56] amolnater-qasource commented on #88447
## `BUG CONVERSION`

- 01 testcase is created  for this issue under "KPI count" section:
          - https://elastic.testrail.io/index.php?/cases/view/147354

Thanks
QAS

[2021-06-08 10:58] stratoula opened #101573 "[XY axis] Values on bar charts"
I create this issue to discuss what we can do to improve the way that the values are depicted on bar charts.
For all the below mentioned cases the `Show values` switch is set to true (XY axis). Lens behaves differently. The setting to display the values is disabled for histograms.

XY es-charts settings:

[code]

Lens settings:
[code]

1. Date histogram aggregation with very small bar widths:

**X

[2021-06-08 10:58] elasticmachine commented on #101573
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-08 10:58] elasticmachine commented on #101573
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-06-08 11:01] joshdover commented on #101354
Elasticsearch actually does support atomic operations for adding/removing aliases and we already use this functionality today. See the [example](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html#indices-aliases-api-rename-alias-ex) from the documentation. Essentially, the operation will fail if any of the "actions" are invalid, like asking an alias to be removed

[2021-06-08 11:02] dikshachauhan-qasource commented on #98589
### `Bug Conversion`

-  01 new testcase is created under the 'Fleet Server' section:
   - https://elastic.testrail.io/index.php?/cases/view/147363

Thanks!

[2021-06-08 11:02] dej611 commented on #98288
I think #98588 addressed this problem already.

[2021-06-08 11:02] stratoula commented on #101573
I like the way that vislib handles this.
- If the value doesn't fit, it is not rendered
- I think we can go with smaller font size
- I don't think that rendering the value vertically as Lens does is the best solution here because it is not so readable
- It would be awesome if we could change the color of the font depending on the bar color. In that way, we could avoid using the white outline

Thes

[2021-06-08 11:11] gebhard73 opened #101574 "Saved visualization with search string confuse altering of search string"
- Kibana version: v 7.11.2 (could also be verified for v 7.9.3)
- Browser: tested in FF 78.10.1esr (64-Bit) / Chrome 91.0.4472.77 on Win 10
- Container installation on CentOS 7 (Security Onion 2.3.51)

Scenario:
- create a visualization (tested: table)
- enter a search term (e.g. IP address field with an IP), apply time range (e.g. last 5 minutes)
- save visualization
- open this saved visualizati

[2021-06-08 11:11] oatkiller commented on #94502
Heya @kobelb. I've got a question/suggestion that's unlikely to be practical, but your answer will help me to get some extra context on the issue. You said

What if we totally broke those expectations and instead did this:

* SavedObjects must maintain backwards compatibility during minors
* All role-based access control must be modeled in Elasticsearch

Would that help to solve the issue? What wo

[2021-06-08 11:11] amolnater-qasource commented on #99898
### `Bug Conversion`

-  01 new testcase is created under the 'Managed Policy' section:
   - https://elastic.testrail.io/index.php?/cases/view/147364

Thanks!

[2021-06-08 11:27] muskangulati-qasource opened #101577 "[Security Solution] The Event Filter can be saved with a single space & this results in the Entry being saved without a Name"
**Description**
The Event Filter can be saved with a single space & this results in the Entry being saved without a Name

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic environment should be up and running
2. Endpoint should be install

**Steps to Reproduce:**
1. Navigate to the Administration Tab.
2. Click on the Event Filter Tab.
3. Add a new

**Impacted Test

[2021-06-08 11:27] elasticmachine commented on #101577
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-08 11:27] elasticmachine commented on #101577
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-08 11:34] flash1293 commented on #101573
I think your list is great @stratoula - can we configure these things in current elastic-charts? I think we can control the font size but the others can't be configured to behave like the vislib feature at the moment, right?

[2021-06-08 11:35] stratoula commented on #101573
Exactly Joe. If I am not mistaken I think we can't configure the others. It would be awesome if we could have the same behavior between Lens and XY axis.

[2021-06-08 11:39] manishgupta-qasource commented on #101577
Reviewed & Assigned to @kevinlog

[2021-06-08 11:50] dgieselaar commented on #101541
Agreed that a helper (for the bootstrap process) is more than useful here. I'm not sure if `appName` or `mapping` should be tied into the lifecycle rule type helper though. I think we'll fairly quickly end up writing different rule type helpers, that all want to use the same mappings/appName.

[2021-06-08 11:55] joshdover opened #101579 "Plugins should be able to inject new CSP directives"
We have some internal use cases for plugins that add tracking script tags to Kibana to be able to add additional `script-src` directives to Kibana's CSP so that these tracking scripts can be safely loaded by the client's browser.

This depends on #94414 which changes our CSP configuration to be _additive_ rather than an open-ended box. Once that is implemented, we should be able to add a server-si

[2021-06-08 12:07] amolnater-qasource commented on #91831
### `Bug Conversion`

-  01 new testcase is created under the 'Manual Kibana Upgrade Validation' section:
   - https://elastic.testrail.io/index.php?/cases/view/147366

Thanks!

[2021-06-08 12:16] legrego commented on #101579
I strongly prefer the more strict approach. I think we should only allow `domain` in your example above to be a `<host-source>` as defined by [the spec](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#syntax):

I don't want to allow plugins to specify their own `nonce` or `hash` if we can help it, and I _really_ want to make sure that we don't allow plu

[2021-06-08 12:19] timroes commented on #98827
This is actually coming from EUI data grid directly. I think that will need to be fixed inside EUI. Data grid has a lot of background styling, which makes it impractical to use for any full height usage in a rounded corner. Since I think we have that use-case more often around Kibana, I would not want to overwrite the styles inside DIscover specifically, and would not make that part of the Kibana

[2021-06-08 12:21] nchaulet commented on #95424
@mostlyjason do we want to broke out the data? to have something similar to the `agents`  telemetry data?

[2021-06-08 12:25] dej611 commented on #101573
I agree on this. I think there's a combination of options that leads to the vertical stacking layout, but it would be nice to avoid that. For instance the `hide clipped value` option could cover also this case.

I think it has been discussed already this and we picked a specific min font size in Lens.

See first point.

Agree, I also like this solution as well. I've tried in the past to implement

[2021-06-08 12:28] flash1293 commented on #98288
Tested this and it's not possible to get into this state anymore

[2021-06-08 12:28] #98288 closed

[2021-06-08 12:29] joshdover commented on #97965
I've opened https://github.com/elastic/elasticsearch/issues/73895 for above. Since this would be a breaking change, in the meantime, we'll need to filter out on this `reason` string and make sure to include an integration test to catch when/if Elasticsearch changes this string.

[2021-06-08 12:38] pmuellr opened #101582 "[alerting] decrypt errors during migration yield unmigrated alert saved objects"
This code in the alerting migration looks a bit suspect to me: https://github.com/elastic/kibana/blob/15ab9d70fd17e5e21e22a71f17196ceb798696a2/x-pack/plugins/alerting/server/saved_objects/migrations.ts#L84-L103

It appears that if an ESO decrypt error occurs during the execution of the migration of rules, the code falls into the `catch` logic, and so the error is logged, but the document in return

[2021-06-08 12:38] elasticmachine commented on #101582
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-08 12:41] samratbhadra-qasource commented on #99891
Hi @MadameSheema

We tested this ticket & found that the issue exists on the 7.14.0-SNAPSHOT environment too. Please find below the testing details:

**Build Details:**
[code]

**Steps to Reproduce:**

1.  Navigate to Network tab under Security App.
2.  Scroll down and navigate to flows tab.
3.  Under flows there are two tables "destination ip or source ip" .
4.  Now, navigate to the table, hover

[2021-06-08 12:42] dej611 opened #101583 "[Lens] Dynamic colouring with last value"
The current dynamic colouring feature for datatable is not correctly handling array values (using `Last value` operation).

Every cells gets assigned the first color stop bucket:

<img width="1054" alt="Screenshot 2021-06-08 at 14 38 05" src="https://user-images.githubusercontent.com/924948/121186228-29003c00-c867-11eb-84eb-0339fb004076.png">

I cannot see any "natural" solution here, other than p

[2021-06-08 12:46] shahzad31 opened #101585 "[Lens] It displays empty legends values with filtered metrics"
In lens, if you do filtering (filtered metric) and breakdown on same field in lens, it displays legends values only for filtered metrics but in legends it displays all legends values from breakdown field

example screenshot
![image](https://user-images.githubusercontent.com/3505601/121187346-4255b800-c868-11eb-8766-875b60f8090a.png)

[2021-06-08 12:50] ghudgins commented on #101583
to me the best solution (and what i'd expect as a gentle user) is your first and third bullet: if the value in the cell is a single number it would work and, alternatively, if the value isn't numeric (you tried to color by value the last value of a string / array) that nothing would happen. So in the above case color by value wouldn't do anything since there are multiple values per row. However, l

[2021-06-08 12:51] elasticmachine commented on #101585
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-08 13:05] sqren commented on #99526
This should be solved by upgrading to the latest elasticsearch client. Kibana is working on this in https://github.com/elastic/kibana/issues/99526 and I expect that to solve it.

[2021-06-08 13:06] #97970 closed

[2021-06-08 13:06] #99526 closed

[2021-06-08 13:08] dej611 commented on #101583
Do you think a warning message is required in such cases?

[2021-06-08 13:10] flash1293 commented on #101585
This is happening because the "top values" function doesn't "know" about the applied filter and is determining terms by looking at the full set of documents.

I don't see a straight-forward fix here:
* Filtering terms as well doesn't always work as there might be other metrics which are not filtered / filtered by something else
* Having a filter on the terms agg itself instead of the individual me

[2021-06-08 13:10] mshustov opened #101587 "Implement Elasticsearch query tracing to a source in Kibana"
This is the very first stage is described in https://github.com/elastic/kibana/issues/97934#issuecomment-854532783, the high-level design is outlined in https://github.com/elastic/kibana/issues/97934#issuecomment-853088544

We start with a custom solution that supports context propagation Kibana browser app --> Kiban server --> Elasticsearch service.
Context should allow Kibana users to unambiguou

[2021-06-08 13:10] elasticmachine commented on #101587
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 13:17] jasonrhodes commented on #101550
Let's wait on this because I need to define this better after talking to @dhurley14 again about how to converge the two clients -- I think we just want a single client for all Alerts as Data CRUD

[2021-06-08 13:23] stratoula opened #101590 "[TSVB] Weird behavior after upgrading to 7.13.1"
**Kibana version:**
7.13+

**Describe the bug:**
This is a weird bug that happens on TSVB after migration. You can replicate it as follows:

1. Create a 7.12.0 deployment
2. Add the Sample web logs Kibana sample data
3. Go to Visualizations --> [Logs] Response Codes Over Time + Annotations
4. **Select Metric** (of the last 7 days),
5. You see this
![image](https://user-images.githubusercontent.com

[2021-06-08 13:23] elasticmachine commented on #101590
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-08 13:42] sqren opened #101594 "[APM] Add `xpack.apm.searchAggregatedTransactions` to cloud allowlist"
It should be possible to configure `xpack.apm.searchAggregatedTransactions` on cloud.
[The whitelist](https://github.com/elastic/cloud/blob/master/scala-services/adminconsole/src/main/resources/settings/kibana/apm.yml) currently doesn't include this setting.

PR: https://github.com/elastic/cloud/pull/82897

[2021-06-08 13:42] elasticmachine commented on #101594
Pinging @elastic/apm-ui (Team:apm)

[2021-06-08 13:46] ymao1 opened #101597 "[Alerting UI] Action type filter dropdown UX"
Followup issues from [this issue](https://github.com/elastic/kibana/issues/58362)

Current action type filter dropdown on rules list page:
<img width="288" alt="Screen Shot 2021-06-08 at 9 41 30 AM" src="https://user-images.githubusercontent.com/13104637/121195568-b5960480-c83d-11eb-92dd-98d952ab01a4.png">

Suggested UX improvements:
* Sort the actions alphabetically in the filter dropdown.
* Chan

[2021-06-08 13:47] elasticmachine commented on #101597
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-08 13:47] sqren commented on #101512
Yes! When I wrote my comment I was of the impression that this was happening on the server. It's obviously happening on the client in which case we'll have access to the end users capabilities.
Thanks!

[2021-06-08 13:48] ymao1 commented on #58362
Closing this as the original issue (no empty state when filtering rules) has been addressed. Created follow up issue for additional UX improvements to the action type filter: https://github.com/elastic/kibana/issues/101597

[2021-06-08 13:54] nchaulet opened #101603 "[Fleet] Expose agent action service"
## Description

Currently a few plugin use action outside of Fleet (endpoint and osquery) for that they access directly the `.fleet*` indices.
I think it will allow a better control of the data and a better maintenance if we expose an action service that allow to:

- [ ] create action
- [ ] list actions
- [ ] list action result

@pzl @patrykkopycinski  feel free to add more details on endpoint and

[2021-06-08 13:54] elasticmachine commented on #101603
Pinging @elastic/fleet (Team:Fleet)

[2021-06-08 14:00] dasansol92 commented on #101577
PR: https://github.com/elastic/kibana/pull/101599

[2021-06-08 14:02] jasonrhodes commented on #98010
I notice we are using a composite.size of 40 for this query. Are we basing this number exactly on the number of buckets we expect? We bumped the metrics inventory query up to 2000 for this size (based on bucket calculations) and it had a massive effect on perf.

[2021-06-08 14:07] dgieselaar commented on #98010
FWIW, I'm not sure if this solves the issue where Kibana itself OOMs (as the responses are kept in memory).

[2021-06-08 14:08] pgayvallet opened #101605 "Convert Saved Objects Management and Tagging to the new management layout"
Part of https://github.com/elastic/kibana/issues/101336
Related to https://github.com/elastic/kibana/pull/101335

- [x] convert Saved Object Management
- [x] convert Saved Object Tagging

[2021-06-08 14:08] elasticmachine commented on #101605
Pinging @elastic/apm-ui (Team:apm)

[2021-06-08 14:08] elasticmachine commented on #101605
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 14:10] elasticmachine commented on #101572
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-08 14:10] nreese commented on #101497
Opened https://github.com/elastic/kibana/pull/101604 to address.

[2021-06-08 14:11] nreese commented on #100870
Closing, duplicate of https://github.com/elastic/kibana/issues/101497

Closed by https://github.com/elastic/kibana/pull/101604

[2021-06-08 14:11] #100870 closed

[2021-06-08 14:15] pzl commented on #101603
Two additional specific queries that endpoint / OLM is doing:

- "pending" / "unresponded" actions [reference](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/endpoint/routes/actions/status.ts#L56). This is the actions list, filtered by agent IDs, using a date filter to grab unexpired. Then querying the results list, filtered by: those same agent IDs + the act

[2021-06-08 14:17] alexfrancoeur commented on #61716
@pgayvallet @thesmallestduck there are a number of end user capabilities that are listed in this meta issue, but not the new one. I realize these may not be top of mind of our internal developers, but they most certainly are for our end users. Should we create a separate meta issue to track some of these more content management related SO capabilities?

[2021-06-08 14:24] KOTungseth commented on #101538
@stacey-gammon I can update the link to the Style Guide, but I'm unsure about the rest of the links.

[2021-06-08 14:44] afgomez commented on #96026
I did some benchmarking and [this function](https://github.com/elastic/kibana/blob/3b1e8b03f162244c88452e5da4df00eb73741f4a/x-pack/plugins/fleet/server/services/setup.ts#L63-L69) is where most of the time goes.

I removed `endpoint` from the list of default packages and it has significantly cut the time it spends on the function

[code]

I'm not sure why endpoint is installed at all, since it does

[2021-06-08 14:45] markov00 commented on #101583
@dej611 not an easy task actually, but there are probably solutions.

To me, this could be a valid option. In this case, I think we should do something to visually render better the fact that the cell is a multi-value/array cell. An icon, a different way of representing the values instead of the comma separator or something else can probably be useful to understand this situation better.

I have a

[2021-06-08 14:50] liza-mae commented on #101506
@mshustov I confirmed the sha is different in both versions.

[2021-06-08 14:52] nchaulet commented on #96026
It will be great, but currently it's not really doable as we need a lot of permission that the `kibana_system` user do not have. (Installing a package will install index templates, pipeline, ...)

[2021-06-08 14:54] #100938 closed

[2021-06-08 14:56] #99649 closed

[2021-06-08 15:01] kevinlog commented on #100489
@paul-tavares @dasansol92 FYI on the above - for `exception-lists` we should look at trusted apps and event filters, anything else?

[2021-06-08 15:02] flash1293 commented on #101583
That's a nice idea, @markov00 . I think we would need something like https://github.com/elastic/eui/issues/4636 to do this, but I think it would a great follow-up.

[2021-06-08 15:03] chrisronline commented on #101505
Some more thoughts on 1:

- The index should probably be managed by `task_manager` plugin
- We should copy/paste the logic [from the event log](https://github.com/elastic/kibana/tree/master/x-pack/plugins/event_log/server/es) to manage the index, and in the future, it'd be nice to consolidate this to a singe location for both to use
- From the start, we should index the entire task manager health

[2021-06-08 15:04] kevinlog commented on #83910
fyi @pzl - we need to take a look at our `metadata` API - what else?

[2021-06-08 15:04] weltenwort commented on #98010
Probably not, because it would only reduce the number of requests it performs to fetch the same amount of data.

[2021-06-08 15:10] jasonrhodes commented on #98010
I think it still likely makes the rule execution take longer than necessary unless we have a good reason to keep it at 40. But yes, we probably need to think broader than that.

[2021-06-08 15:21] simianhacker opened #101616 "[Metrics & Logs UI] Change SavedObjectClient.get to SavedObjectClient.resolve for 8.0"
Per https://github.com/elastic/kibana/issues/100489, we need to change how we are using SavedObjectsClient to be "share-capable".

A proof-of-concept of these changes for the index-pattern object type can be found here: afc3490 (PR: #95958).

[2021-06-08 15:21] elasticmachine commented on #101616
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-08 15:24] pgayvallet commented on #101351
After a closer look, this seems unfortunately a little trickier than that.

We're currently using the `coreMigrationVersion` for two two things

- The `conversion` transforms
  - atm the only existing one is to convert to multi namespaces
- The `references` transforms
  - this is used to rewrite the ids of the references to objects having been converted to multi-namespaces

Also, we're currently a

[2021-06-08 15:27] cchaos commented on #101336
For those working on this conversion, the setup PR https://github.com/elastic/kibana/pull/101335 has been merged down to master and is currently getting backported to 7.14. Go ahead and start your PR's based on master! 🙇‍♀️

[2021-06-08 15:27] #37403 closed

[2021-06-08 15:31] hbharding commented on #95442
## Update:
I shared an update with the team today and am awaiting feedback/input. I'm including the same video that I shared with the team here, and you can also have a look at the the Figma [prototype](https://www.figma.com/proto/O01KihAW76RtX1ZqbsEotV/Path-to-view-Integration-Data?page-id=51%3A0&node-id=51%3A4&viewport=-1401%2C-287%2C0.310573935508728&scaling=min-zoom) + [designs](https://www.fi

[2021-06-08 15:38] dej611 commented on #101583
Created a PoC with some of the listed solutions : https://github.com/elastic/kibana/pull/101619

While this is nice I think it requires some upstream solution first. 😅

We can also use this to introduce a tooltip on such cells that describe what and why this is happening, removing the warning message giving the user positive and actionable information.

I think this is some kind of doable right no

[2021-06-08 15:39] pgayvallet commented on #101351
Note that a workaround for problem 2 (the really significant one) would be to check the references integrity of registered objects' references, and throw if a SO got references to an unknown type (given that we solve problem 1. by copying the unknown docs without migrating them at all)

If not ideal, this would still allow to
- have 'isolated' unknown SO types be copied during the migration
- have

[2021-06-08 15:43] mbondyra opened #101621 "[ML] Machine learning jobs page throws an i18n error in the console"
**Kibana version:**
master, **not platinum or enterprise**

Steps to reproduce:
1. Open chrome dev tools
2. Go to http://localhost:5601/vzy/app/management/insightsAndAlerting/jobsListLink
3. The error appears:
<img width="658" alt="Screenshot 2021-06-08 at 17 14 28" src="https://user-images.githubusercontent.com/4283304/121211699-fcefb580-c87c-11eb-8caf-610dfd529567.png">

[2021-06-08 15:43] chrisronline commented on #101507
We should probably look into adding this for actions too

[2021-06-08 15:45] stacey-gammon commented on #101538
I don't think we should rely on this wiki at all, I didn't even know it existed and it hasn't been touched since 2018. I suggest we remove it.

[2021-06-08 15:46] Dosant opened #101625 "Convert search sessions and index patterns to new management layout"
Part of #101336
Related to #101335

- [ ] convert search sessions mgmt page
- [ ] convert index patterns mgmt page
  - Ignore index pattern creation and getting started views as these are being converted to a modal
- [ ] convert reporting mgmt page

[2021-06-08 15:46] elasticmachine commented on #101625
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-08 15:54] mshustov opened #101627 "Switch to APM-based solution for the execution context tracing on the server-side"
Requires:
- prototype of context tracing in Kibana https://github.com/elastic/kibana/issues/101587
- APM nodejs client is able to work without APM server running TODO: add a link

Once the APM nodejs client can work without the APM server running, Kibana can start using the APM-based solution for the server-side context tracing to leverage the transaction mechanism.
It will allow us to complement

[2021-06-08 15:54] elasticmachine commented on #101627
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 15:55] crob611 opened #101628 "[Canvas] Allow Rendering of By Value Embeddables"
The current Embeddable Renderer expects an Id on its input that it will use to load a saved object by id.  This won't work for rendering embeddables byValue.  The renderer should be updated to just pass in the config to factory.create instead of calling createFromSavedObject.

[2021-06-08 15:56] elasticmachine commented on #101628
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-08 16:01] #100804 closed

[2021-06-08 16:04] tylersmalley commented on #101506
I did find this is a valid commit hash on the Infra repo: https://github.com/elastic/infra/commit/5cab87e2069dd31848490f83964291fc802d6889

[2021-06-08 16:07] trentm commented on #97934
Regarding changes for the Node.js agent:

1. "Add support for explicitly disabling sending to APM server, which will save on time spent serializing those events."  This sounds reasonable. I'll get a ticket created for this today (or @mshustov feel free to create one). I'll see about getting that on the 7.14 (or is 7.15 the timeframe you are working on here?) milestone.
2. "Look into a Async Local

[2021-06-08 16:11] crob611 opened #101633 "[Canvas] Create generic "embeddable" function"
There should be an "embeddable" function that takes in an input argument that is just a big config object.  This will allow for by reference or by value embeddables.

[ ] - The underlying config should be "hidden" from the user when viewing the expression. Because it will just be a big json blob, the user will not be directly editing this, but we'll still need to show the expression.
[ ] - Config

[2021-06-08 16:11] elasticmachine commented on #101633
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-08 16:18] #101497 closed

[2021-06-08 16:22] crob611 opened #101637 "[Canvas] Move away from custom Expression Renderer Handlers"
Canvas defines some RendererHandlers outside of the expected type that comes from the interpreter.

We should move away from these custom handlers and make use of the `handlers.event` handler to handle our own custom events.

[2021-06-08 16:24] elasticmachine commented on #101637
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-08 16:26] liza-mae commented on #101506
This is not specific to cloud, installed on-prem on Ubuntu and same issue.  @tylersmalley is right the build_hash is matching up with the infra repo not kibana repo.

[2021-06-08 16:28] liza-mae commented on #101506
@jbudz found this PR as the possible root cause:
https://github.com/elastic/kibana/pull/100492/files#diff-721eea0c29e3b785f7d7af7cfbce626e2f6e4cc57dce3afb55c76b3625fbbed2R32

[2021-06-08 16:28] mikecote commented on #58397
With the [system indices project](https://github.com/elastic/elasticsearch/issues/50251), from what I understand, we need to convert Kibana owned indices to either system or hidden by 8.0? I'm wondering if it's the core team or alerting team who will convert the task manager index. It's a saved object index. See https://github.com/elastic/kibana/issues/81536 for more details.

[2021-06-08 16:28] crob611 opened #101639 "[Canvas] Embeddable References, Migrations, and Telemetry"
### Migrations
- [ ] Canvas needs to properly extract and inject references to any other objects used via embeddable functions.
- [ ] Canvas needs to properly migrate byValue embeddables.

### Telemetry
- [ ] Canvas needs to report telemetry on byValue embeddables.
  - provide a way to extract all by value embeddables by type from a Canvas workpad

[2021-06-08 16:29] elasticmachine commented on #101639
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-08 16:29] #100961 closed

[2021-06-08 16:36] jen-huang commented on #96026
Following offline discussion with @kevinlog, it seems that we can indeed remove Endpoint from the list of default integrations.

[2021-06-08 16:37] cchaos commented on #101621
Hmm, odd. Just an FYI, but I went to the same page and I'm not getting this error.

<img width="1742" alt="Screen Shot 2021-06-08 at 12 36 52 PM" src="https://user-images.githubusercontent.com/549577/121224156-48429d80-c856-11eb-9d1f-71c98a868c30.png">

[2021-06-08 16:48] liza-mae commented on #101506
PR: https://github.com/elastic/kibana/pull/101642

[2021-06-08 16:50] kibanamachine commented on #99010
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14512/)

[2021-06-08 16:54] justinkambic opened #101649 "[Uptime] Overlaid nav buttons inside synthetics screenshot are not canceling default event"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 91

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

There are overlaid buttons on the thumbnails displayed of synthetics journey step screenshots. They're supposed to prevent default eve

[2021-06-08 16:54] elasticmachine commented on #101649
Pinging @elastic/uptime (Team:uptime)

[2021-06-08 17:00] kibanamachine commented on #101449
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14654/)

[2021-06-08 17:10] cnasikas commented on #95470
Implemented in https://github.com/elastic/kibana/pull/99478

[2021-06-08 17:10] #95470 closed

[2021-06-08 17:13] cnasikas commented on #94185
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:13] #94185 closed

[2021-06-08 17:14] cnasikas commented on #95806
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:14] #95806 closed

[2021-06-08 17:14] cnasikas commented on #94187
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:14] #94187 closed

[2021-06-08 17:14] cnasikas commented on #94188
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:14] #94188 closed

[2021-06-08 17:14] cnasikas commented on #95805
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:14] #95805 closed

[2021-06-08 17:17] cnasikas commented on #94054
Implemented in https://github.com/elastic/kibana/pull/95058

[2021-06-08 17:17] #94054 closed

[2021-06-08 17:32] tylersmalley opened #101654 "Possible race condition with migrations"
The backport of using the default distribution for all functional tests [#94968](https://github.com/elastic/kibana/pull/94968) created many failures which were not seen during the original PR against master. These failures happen during the loading of `esArchive` data containing a `.kibana` index. During an investigation with @TinaHeiligers we determined that it appeared isolated to archives that

[2021-06-08 17:49] elasticmachine commented on #101654
Pinging @elastic/kibana-core (Team:Core)

[2021-06-08 17:52] pmuellr commented on #101505
If we were to index this data, we _could_ try adding it to the event log directly.  I don't believe we have any `enabled: false` fields - or `flattened` - but either of those could be the type of a new field to store rando data.  I'd have to guess we will someday have a need for a field like that.  I believe we are currently looking at NOT storing the data though.  So, didn't do a ton of thinking

[2021-06-08 17:55] andreadelrio commented on #67711
After a couple of iterations, consulting with @mattkime  and getting feedback on a design critique, here are the designs that I'm proposing.

Most up to date Figma prototype can be found [here](https://www.figma.com/proto/8JHgHWFdhu4LDHr1LzLXBu/Index-Pattern-Creation?page-id=1134%3A43379&node-id=1134%3A43384&viewport=2811%2C3026%2C0.28496164083480835&scaling=contain).

![flow2](https://user-images

[2021-06-08 18:04] pmuellr commented on #101505
If we end up going with option 2, I think we'd want a couple of config knobs / dials, and already have some existing ones we could make use of:

- config setting to indicate triggers that would determine when to log the health stats; could be multiple triggers; example would be a threshold on a drift value (any value, averages, ???, not quite sure).  I think one trigger we should look at is drift,

[2021-06-08 18:17] jasonrhodes commented on #101541
Makes sense, @dgieselaar -- I am mostly trying to avoid leaking the RuleDataClient abstraction to my plugin if I don't really need to use it, i.e. receiving it only to pass it back to something from the ruleRegistry plugin. Maybe a class that retains a reference to its client would allow for this?

[code]

[2021-06-08 18:20] kpollich opened #101656 "[Fleet] Clicking "Create Agent Policy" redirects to Fleet home page"
## Steps to Reproduce

1. Navigate to Agent Policy listing page `/policies`
2. Click the "Create Agent Policy" button
3. Note that you're redirected to the Fleet home page

## Expected Behavior

This button should open the "create agent policy" flyout.

![image](https://user-images.githubusercontent.com/6766512/121237207-cad25980-c864-11eb-85db-5d96c30e9508.png)

[2021-06-08 18:21] elasticmachine commented on #101656
Pinging @elastic/fleet (Team:Fleet)

[2021-06-08 18:41] mattkime commented on #67711
Thanks @andreadelrio , this looks great!

The first index pattern view - I think it should be in the flyout. The index pattern creation modal provides a single API call to display anything index pattern creation related. Doing anything outside of that flyout requires additional integration from each consuming app, potentially every app that uses index patterns.

[2021-06-08 19:53] pgayvallet commented on #58397
Nothing to be done on our side, it was done in ES in https://github.com/elastic/elasticsearch/pull/68919/files#diff-ae6fc8fbb1c04f7efb1c5672ec0bb072f796b2d5968a2a34783d471a466aa099L57

`.kibana_task_manager` matches the  `.kibana_*` pattern, so it's already an external system index

[2021-06-08 19:58] pgayvallet commented on #22636
Should this be considered addressed by https://github.com/elastic/kibana/issues/77961?

[2021-06-08 19:59] pgayvallet commented on #61716
@alexfrancoeur you're right. Reopened it for now, not sure if we want to merge with https://github.com/elastic/kibana/issues/101564 which was more shorter-term vision.

[2021-06-08 20:25] pgayvallet commented on #101354
I don't either. But I agree that the 'totally distinct index per instance' approach may be an acceptable compromise. We probably want to dig a little into the complete workflow and a more detailed design.

[2021-06-08 20:34] ghudgins commented on #101583
after using the POC I think the skip is the best because we don't have to show an error (although we could). it's pretty clear why it's happening this way...hard to reason about the other color options...but maybe that's just me.

[2021-06-08 20:43] marshallmain commented on #93550
Additional step:
- Threshold rules depend on querying existing threshold signals to do duplicate mitigation, and they use `ruleParams.outputIndex` as the index to query. This index will no longer exist in the RAC implementation, so we'll need to conditionally switch to querying the `.alerts` index and processing alerts in that index appropriately.

[2021-06-08 21:13] justinkambic opened #101672 "[Uptime] Synthetics journey step expand button does not invert arrow icon when open"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 92

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

When step details are expanded, the arrow icon on the button should invert. It stays the same.

**Steps to reproduce:**
1. Navigate to

[2021-06-08 21:13] elasticmachine commented on #101672
Pinging @elastic/uptime (Team:uptime)

[2021-06-08 21:31] justinkambic opened #101675 "[Uptime] Synthetics step image popover triggered improperly when hovering on expanded image"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 91

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The image popover is improperly expanding. When a step image is maximized, the popover should remain closed. The current behavior is a

[2021-06-08 21:36] wwalker0307 commented on #97324
Ah, gotta save in the editor/discover...that's fantastic.  In my particular instance, this issue can be considered closed.

However, as @flash1293 mentioned, there could be benefits to allowing column width state to be saved with the dashboard.

[2021-06-08 21:50] YulNaumenko opened #101677 "[Alerting][Event Log] Populate event log rule ECS fields with the Security specific rule data."
This issue is a follow up from the original [PR](https://github.com/elastic/kibana/pull/101132).
Based on the conversation with @elastic/security-detections-response team, we have got the next fields list, which is currently not supported by the Alerting framework:
`rule.author` - the Detection Rules do have a dedicated author field, but alerting rules don't. Should use that?
`rule.version` - is u

[2021-06-08 21:51] ful09003 commented on #72647
👋 I would like to add that this issue is still observed and replicable (both the original timer-based report and via clicking `Refresh`) on at least Kibana+ES 7.10.2, and on a variety of OS/browser configurations.

[2021-06-08 22:13] trentm commented on #101627
FWIW, I don't know that this will make much of a difference. The https://github.com/elastic/apm-agent-nodejs/issues/2028 work suggested that `captureSpanStackTraces: false` and `transactionSampleRate` were far and away the major important APM agent config changes to make (and are currently the defaults in Kibana's APM agent config).

[2021-06-08 22:16] randomuserid opened #101679 "[Security Solution] Expand DF Query in the high_count_network_denies ML job"
**Describe the bug:**

Network ACL deny events are populated differently by different modules so we need to OR another field test in the DF query.

**Kibana/Elasticsearch Stack version:**

7.13

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**

Security ML Jobs

[2021-06-08 22:16] elasticmachine commented on #101679
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-08 22:52] #95501 closed

[2021-06-08 22:55] #95424 closed

[2021-06-08 23:04] tylersmalley commented on #101654
Leaning towards this not so much being an issue as it is a problem with our functional tests. Turns out that some of our archives are old enough they need to be processed through the legacy migration, which is actually determined by it not being an alias. Additionally, when importing another esArchive we are not currently clearing out all aliases which seems to be an issue.

[2021-06-09 00:36] kibanamachine opened #101693 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/fleet_telemetry·ts - Fleet Endpoints fleet_telemetry "before all" hook for "should return the correct telemetry values for fleet""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14662/)

[2021-06-09 00:36] kibanamachine opened #101694 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/fleet_telemetry·ts - Fleet Endpoints fleet_telemetry "after all" hook for "should return the correct telemetry values for fleet""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14662/)

[2021-06-09 00:36] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14662/)

[2021-06-09 00:36] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14662/)

[2021-06-09 00:48] tsullivan commented on #101139
Hi, I don't see any issues that happen because of Kibana here.

I do not understand what you are trying to do, or what your goal is. If you need to see data that is 48 hours old, why would you filter to the last 15 hours?

You haven't mentioned anything about not getting logs

[2021-06-09 00:49] elasticmachine commented on #101232
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 00:51] tsullivan commented on #101391
cc @elastic/elastic-ui it looks like we don't have a `team:` label for you yet

[2021-06-09 00:51] elasticmachine commented on #101452
Pinging @elastic/kibana-security (Team:Security)

[2021-06-09 00:52] elasticmachine commented on #101456
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-09 00:54] elasticmachine commented on #101549
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 00:56] elasticmachine commented on #101391
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-09 00:57] cjcenizal commented on #101391
@TinaHeiligers @tsullivan ES UI is now @elastic/kibana-stack-management  😄  I'm pretty sure `@elastic/elastic-ui` is the original alias for the Kibana team from back in the day.

[2021-06-09 01:04] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14663/)

[2021-06-09 01:04] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14663/)

[2021-06-09 01:20] andrew-moldovan commented on #101391
Pings every ui engineer in the company... 😂

[2021-06-09 02:04] GrahamHannington opened #101699 "Filter incorrectly ignored if courier:ignoreFilterIfFieldNotInIndex is on"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Linux Ubuntu 20.04

**Browser version:** Google Chrome Version 91.0.4472.77 (Official Build) (64-bit)

**Browser OS version:** Microsoft Windows 10 Enterprise, Version 1909 (OS Build 18363.1556)

**Original install method (e.g. download page, yum, from source, etc.):** Docker image ([sebp/elk](https://hub.docker.

[2021-06-09 02:06] GrahamHannington commented on #85294
Filters are still being ignored 7.12.0. See #101699.

[2021-06-09 02:09] kibanamachine opened #101700 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/runtime·ts - detection engine api security and spaces enabled Tests involving runtime fields of source indexes and the signals index Regular runtime field mappings "before each" hook for "should copy normal non-runtime data set from the source index into the signals index in the same position when the target is ECS compatible""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14663/)

[2021-06-09 02:09] kibanamachine opened #101701 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/runtime·ts - detection engine api security and spaces enabled Tests involving runtime fields of source indexes and the signals index Regular runtime field mappings "after each" hook for "should copy normal non-runtime data set from the source index into the signals index in the same position when the target is ECS compatible""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14663/)

[2021-06-09 02:09] kibanamachine opened #101702 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_network·ts - apis SecuritySolution Endpoints Kpi Network With packetbeat Make sure that we get KpiNetwork uniqueFlows data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14663/)

[2021-06-09 02:33] madirey commented on #93550
Gap remediation working branch: https://github.com/elastic/kibana/compare/master...madirey:rac-gap-remediation?expand=1

[2021-06-09 02:36] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 02:36] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 02:37] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 02:37] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 03:00] kibanamachine commented on #101700
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 03:00] kibanamachine commented on #101701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14664/)

[2021-06-09 03:36] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 03:36] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 03:36] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 03:36] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 03:46] harsha-gsai opened #101705 "[TSVB] Refactor top-hit aggregation to work with fields instead of _source"
**Kibana version: 7.12**

**Elasticsearch version: 7.12**

**Server OS version: Amazon Linux 2 AMI (HVM) 64bit(x86)**

**Browser version: Google Chrome Version 91.0.4472.77 (Official Build) (64-bit)**

**Original install method (e.g. download page, yum, from source, etc.): Docker Compose**

**Describe the bug: In TSVB table im not able to display any string type data using top hit**

**Steps to re

[2021-06-09 04:02] kibanamachine commented on #101700
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 04:02] kibanamachine commented on #101701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14665/)

[2021-06-09 04:25] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 04:25] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 04:25] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 04:25] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 04:46] kibanamachine commented on #101700
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 04:46] kibanamachine commented on #101701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14524/)

[2021-06-09 05:23] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14525/)

[2021-06-09 05:23] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14525/)

[2021-06-09 05:23] kibanamachine commented on #101693
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14525/)

[2021-06-09 05:23] kibanamachine commented on #101694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14525/)

[2021-06-09 05:57] pgayvallet commented on #101391
[code]

[code]

This is probably caused by the fact that the reindent script is parsing the JSON to perform the reindent, resulting on non-safe integer being truncated.

Related to https://github.com/elastic/kibana/issues/40183

[2021-06-09 06:24] pgayvallet commented on #100489
In that case, I guess the conversion of the `tag` type will be mandatory, as it's potentially referenced by any kind of other SO

[2021-06-09 06:39] deepikakeshav-qasource commented on #100200
Hi @angorayc ,

We have validated this issue on 7.14.0 SNAPSHOT and observed that issue is **Fixed**. Alerts are displaying under "Generic Threat Match Timeline" Timeline Template .

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/121305525-4f7faf00-c91b-11eb-985a-6d070d24a63f.mp4

Hence, We are closing this ticket.

Thanks!!

[2021-06-09 06:39] #100200 closed

[2021-06-09 06:52] ruflin commented on #96026
@jen-huang Agree, I think we don't need the endpoint package anymore by default. It would be good to document the reason here as we might come back to this.

[2021-06-09 07:00] Bamieh commented on #100663
for telemetry we used to have an x-pack plugin called `oss_telemetry` just for registering tasks for oss plugins in x-pack. This is no longer the case although not having a task manager is a limitation devs face occasionally when trying to collect data to send it through telemetry.

[2021-06-09 07:02] Bamieh commented on #96717
I suspect its a problem with file ownership and persmissions to the kibana process rather than a direct i18n issue. Additional context is appreciated as pointed by @lukeelmers

[2021-06-09 07:06] Bamieh commented on #101146
Yes just directly returning the `core.usageCollection` contracts from the plugin should be enough during that period

[2021-06-09 07:07] Bamieh commented on #97650
correct this is not possible since our label extraction tool parses the ast tree statically to extract the ids and messages.

[2021-06-09 07:17] muskangulati-qasource opened #101706 "[Security Solution] The refresh button does not work on the Event Filter Tab"
**Describe the feature**
The refresh button does not work on the Event Filter Tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed
2. Events should be generated on the environment

**Steps to Reproduce**
1. Open two different tabs for Events under the Host tab & Event Filter Tab under the Administration Tab
2. Navigate to the Events tab in the Hosts ta

[2021-06-09 07:17] elasticmachine commented on #101706
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-09 07:17] elasticmachine commented on #101706
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 07:23] kertal commented on #101549
thx for reporting @thopewell

[2021-06-09 07:24] flash1293 commented on #101583
Agreed with @ghudgins , especially because in it's current state last value arrays are not preserving the order on ingestion which can get extra confusing: https://github.com/elastic/kibana/issues/99628

[2021-06-09 07:40] kertal commented on #72647
@ful09003 autoclaving when an open document is still part of the given documents after another request was resolved in 7.11.1 by #89712

[2021-06-09 07:42] mshustov opened #101708 "Use standard tracing headers for distributed tracing"
Requires:
- https://github.com/elastic/kibana/issues/101587
- https://github.com/elastic/kibana/issues/101627

For the deeper integration with the APM, we should leverage the standard set of tracing headers.

The task can be split into 2 steps:
- Refactor Kibana App < --> Kibana server communication. The initial implementation of https://github.com/elastic/kibana/issues/101587 relies on the `bagga

[2021-06-09 07:42] elasticmachine commented on #101708
Pinging @elastic/kibana-core (Team:Core)

[2021-06-09 07:43] manishgupta-qasource commented on #101706
Reviewed & Assigned to @kevinlog

[2021-06-09 07:53] mshustov commented on #101506
@liza-mae Could you confirm  #101642 fixed the problem, and we can close the issue?

[2021-06-09 07:57] MrYueQ commented on #99573
@mattkime  hi.  Excuse you. I also encountered this problem. My information is as follows
**error msg**
[code]
env and system
[code]
![image](https://user-images.githubusercontent.com/14846522/121314982-7e594d80-c93a-11eb-95d6-cbec2398f392.png)
![image](https://user-images.githubusercontent.com/14846522/121315385-df812100-c93a-11eb-9cd3-295887c51d57.png)
![image](https://user-images.githubusercont

[2021-06-09 08:04] banderror commented on #101016
We had a chat with @marshallmain last week and here's a summary of what we discussed and how decided to proceed with the consolidated implementation:

- We'd like the consolidated implementation to have an API mostly compatible with `EventLogService` (https://github.com/elastic/kibana/pull/98353), but many implementation details (especially around index bootstrapping) taken from `RuleDataService`/

[2021-06-09 08:06] banderror commented on #101016
I opened a draft PR (https://github.com/elastic/kibana/pull/101453) for the consolidated implementation. Here's a comparison of the 3 implementations in `rule_registry`:

Feature | [RuleDataService](https://github.com/elastic/kibana/pull/98935) | [EventLogService](https://github.com/elastic/kibana/pull/98353) | [Consolidated implementation](https://github.com/elastic/kibana/pull/101453)
---------|

[2021-06-09 08:06] gbit-is opened #101710 "Fleet integration broken after cluster upgrade | package info for apache-0.1.4 does not exist"
**Kibana version:**
 7.13.1

**Elasticsearch version:**
 7.13.1

**Server OS version:**
Ubuntu 18

**Browser version:**
Chrome 91.0.4472.77

**Browser OS version:**
W10

**Original install method (e.g. download page, yum, from source, etc.):**
Apt

**Describe the bug:**
After upgrading from 7.11 to 7.13.1 (both elastic and kibana) I can not make any changes to, use, remove or do anything with the

[2021-06-09 08:13] mshustov opened #101711 "Improving distributed tracing in Kibana"
List of tasks, based on the discussion in https://github.com/elastic/kibana/issues/97934:
- [x] Implement Elasticsearch query tracing to a source in Kibana  https://github.com/elastic/kibana/issues/101587
- [x] Use APM RUM agent to pass Kibana execution context https://github.com/elastic/kibana/issues/102615
- [x] Use standard tracing headers for distributed tracing https://github.com/elastic/kiba

[2021-06-09 08:13] elasticmachine commented on #101711
Pinging @elastic/kibana-core (Team:Core)

[2021-06-09 08:16] crisdarocha opened #101712 "False positives while monitoring nodes in Elasticsearch Service"
**Describe the issue:**

Stack monitoring includes a "Missing Monitoring Data" alert, which is a good indicator that a node is not responding.

This becomes a problem when one is running a cluster in Elasticsearch Service (ESS). Instances are replaceable in ESS. When an allocator is vacated, a new instance is created in another allocator, with another name, and the existing one is removed.

This t

[2021-06-09 08:16] elasticmachine commented on #101712
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-09 08:22] matschaffer commented on #101712
Or at least have a way to default this to off in cloud.

If I put my customer hat on I don't care too much if we have more or less nodes than expected at any given point as long as the data is flowing.

[2021-06-09 08:26] matschaffer commented on #101712
Alternatively if I did really want to know, I'd probably care most in cases where my node count was below expected for some unreasonable length of time.

Is there a concept of "expected topology"? If there were we could probably have the orchestration products (ECE/ECK) push that sort of info to the monitoring cluster.

[2021-06-09 08:29] shaigbdb commented on #92356
Thanks @stratoula , I can confirm the color gets saved in 7.12.

[2021-06-09 08:29] #92356 closed

[2021-06-09 08:40] flash1293 commented on #101482
Found another exotic instance of this problem - if the current session is in restored mode, it doesn't make much sense to keep it when navigating to Lens and back.

[2021-06-09 08:43] jloleysens commented on #101253
I ++ this `++` 😄

Many of the ES UI plugins were migrated away from react-redux because in practice it was a more sophisticated tool than necessary. They still use the redux pattern, but implement it using multiple Contexts (as slices) and memo'd components for taming rendering cycles. I think this offers a light-weight tool for apps of medium complexity. CC @sebelga

[2021-06-09 08:44] jakommo commented on #101712
I don't think we have an "expected topology" concept, but I like the idea.

IMO the ask is to add some way (API?) to stack monitoring that would allow the orchestration to inform stack monitoring that the next topology change / node replacement is intended and not indicating an issue.
So yes, the orchestration would make the call for that, but first we need an endpoint it could call.

[2021-06-09 08:58] crisdarocha commented on #101712
@matschaffer thanks for chiming in. One use of this would be when a node gets stuck and the orchestration doesn't pick the problem up and fixes the issue. You are working with one node less and will only notice that when your service start suffering from the performance drop, which is sub-optimal. But the other side is to avoid the false positives.

The expected topology sounds very interesting. "

[2021-06-09 08:58] azasypkin commented on #101452
Thanks for filing this issue @zenekron !

The optional `/login` endpoint doesn't seem to be a good candidate for the [`readinessProbe`](https://github.com/elastic/cloud-on-k8s/blob/f52ca4700f56238c56186f0fc751ada563cf6dda/pkg/controller/kibana/pod.go#L51-L70). It won't work for anything that doesn't use Kibana own login form: Anonymous, PKI, Kerberos, SAML and OpenID Connect.

I'll transfer the is

[2021-06-09 09:03] stratoula opened #101717 "[TSVB] Filter with scripted field doesn't work after migration to 7.13.1"
**Kibana version:**
7.13

**Describe the bug:**
When I create a TSVB viz with filter by a scripted field on an older version (<7.13), it works as expected. When I migrate this to
7.13.1 the viz is rendered with zero data.

![image](https://user-images.githubusercontent.com/17003240/121325382-39bdba00-c91a-11eb-96a4-6864b51d1a2c.png)

**Steps to reproduce:**
1. Install the `kibana_sample_data_fligh

[2021-06-09 09:03] elasticmachine commented on #101717
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 09:10] matschaffer commented on #101712
ECK (today) and ECE (soon) should be doing a continual loop to confirm the cluster meets expected topology (cc @anyasabo), so if it's not I'd hope the orchestration system would pick up on a discrepancy soon enough that stack monitoring wouldn't necessarily have to.

But in either cloud, yes I couldn't care less about the names. Just that I have the at least the capacity I'm paying for.

[2021-06-09 09:20] weltenwort commented on #101616
Currently the Logs UI doesn't use the `SavedObjectsClient` on the client side. The saved-object access is mediated either through other Kibana services (such as `IndexPatternService`) or the server side.

But we will have to keep this mind to avoid introducing it before this change happens in 8.0.

[2021-06-09 09:20] stratoula opened #101720 "[Dashboard] Disabled filter is applied when a viz is embedded"
**Kibana version:**
master

**Describe the bug:**
I create a visualization with a disabled and an enabled filter. The visualization is depicted correctly on the editor. When I add this to a dashboard it is rendered with no data.

**Steps to reproduce:**
1. Create a pie chart and add one disabled and one enabled filter
2. add this viz to a dashboard
3. The viz appears with no data

**Expected behav

[2021-06-09 09:20] elasticmachine commented on #101720
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-09 09:24] elasticmachine commented on #101699
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 09:24] elasticmachine commented on #101720
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-09 09:24] elasticmachine commented on #101720
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 09:29] flash1293 commented on #101699
@stratoula Looks like this might be related to the TSVB index pattern change?

[2021-06-09 09:34] Dosant commented on #101699
@flash1293, @stratoula, just fyi, I didn't look very deep, but it seems that this isn't reproduced in master. Was this "index pattern change" you are mentioning in between 7.12.0 -> master ?

[2021-06-09 09:42] jloleysens opened #101723 "[Fleet] Clicking fleet in nav menu updates URL but not UI"
**Kibana version:** Master on 52d62ceec55

**Elasticsearch version:** 8.0.0

**Describe the bug:**

Navigating to the home page of the Fleet app via the nav bar when already in the fleet app updates the URL, but the UI does not navigate to the fleet home page, it remains on the page you were on

**Steps to reproduce:**
1. Start Kibana & ES on basic
2. Navigate to the fleet app via the nav bar
3. N

[2021-06-09 09:42] elasticmachine commented on #101723
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 09:54] karanbirsingh-qasource opened #101724 "[Security Solution]"Kibana feature privilege's required" banner is not showing if user click on create case link from overview tab with NONE Role privilege"
**Describe the bug**
"Kibana feature privilege's required" banner is not showing if user click on create case link from overview tab with NONE Role privilege

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user with None Role privilege to case sub feature should be there.

**Steps to Reproduce**
1. Loging with user with above Role.
2. Go to

[2021-06-09 09:54] elasticmachine commented on #101724
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 09:54] karanbirsingh-qasource commented on #101724
@manishgupta-qasource Please review

[2021-06-09 09:55] elasticmachine commented on #101724
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-09 09:57] MadameSheema commented on #101724
Thanks for reporting it @karanbirsingh-qasource , this is a known bug and the team is working to have it fixed asap.

@jonathan-buttner @cnasikas please add the `fixed` label as soon as the changes arrive at master so Karanbir can retest it. Thanks :)

[2021-06-09 10:00] karanbirsingh-qasource opened #101725 "[Security Solution] unknown error message 500 is comming up on creating custom rule"
**Describe the bug**
unknown error message 500 is comming up on creating custom rule

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.

**Steps to Reproduce**
1. Go to Security App.
2. Click on Detection Tab
3. Click on "manage detection rules" button
4. click on create you own rules
5. Fill in all the required field

[2021-06-09 10:00] elasticmachine commented on #101725
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 10:00] karanbirsingh-qasource commented on #101725
@manishgupta-qasource  please review and assign

[2021-06-09 10:02] manishgupta-qasource commented on #101725
Reviewed & assigned to @MadameSheema

[2021-06-09 10:12] stratoula commented on #101699
@flash1293 @Dosant on 7.13 we support index patterns on TSVB. I assume that we fixed that by introducing the dual mode. It works now on master and Anton you are right, it doesn't on 7.12.

With that being said, I am closing this.

[2021-06-09 10:12] #101699 closed

[2021-06-09 10:18] Dosant commented on #18760
@stratoula, I assume this one also can be closed due to https://github.com/elastic/kibana/issues/101699#issuecomment-857569683? Leaving to you to confirm and close :)

[2021-06-09 10:21] cnasikas commented on #101724
Thank you @karanbirsingh-qasource! As @MadameSheema said this is a known issue and it will be addressed on https://github.com/elastic/kibana/pull/101325. Please refer to this issue https://github.com/elastic/kibana/issues/100468 to avoid opening duplicated issues.

[2021-06-09 10:26] stratoula commented on #18760
@Dosant right. I have tested TSVB on 7.13.1 and I can see that `courier:ignoreFilterIfFieldNotInIndex` is respected and works as expected. I am closing this :)

[2021-06-09 10:26] #18760 closed

[2021-06-09 10:27] #101512 closed

[2021-06-09 10:31] afgomez commented on #96026
Another solution that we can do is improve the UX of the first load itself, similar to the [elevator waiting time problem](https://signalvnoise.com/posts/1244-defining-the-problem-of-elevator-waiting-times). Instead of only showing a spinner on first load we can explain to the user what we are doing (the initial setup) and change the spinner with a progress bar, to remove that feeling of the UI be

[2021-06-09 10:51] banderror commented on #101016
One more thing I forgot to mention is about component templates. In the consolidated implementation, I'm proposing the following "architecture" for templates (as you can see [here](https://github.com/elastic/kibana/pull/101453/files#diff-ea8e89261aa2e8fcdc70eb9d15ccd3e1c7dd2c8e0b1bc68c8c57f8d870c80ef7R32-R66) and [here](https://github.com/elastic/kibana/pull/101453/files#diff-b83fd8f1f414becb6104c

[2021-06-09 10:55] estermv commented on #100133
I've been able to have the popover in the top bar. What options does it need to have?
From the comments above I think the options will be:
* Create default rules (it will appear if the user selected "No/remind later" options in the initial modal)
* Disable alerts (it will appear if the user selected "Yes" in the initial modal) and the behavior if the user selects this option should be the same as

[2021-06-09 11:00] MadameSheema commented on #101725
@karanbirsingh-qasource can you please try the following?:

- Navigate to: Stack Management > Roles
- Update the the `Role` of the user as follows: On Elasticsearch:
  - Cluster privileges: all
  - Index privileges -> Indices: *
                                     Privileges: all
- Save the changes and give another try.

Thanks :)

[2021-06-09 11:01] muskangulati-qasource opened #101729 "[Security Solution] The Filter Event form retains comment even if the user cancels the entry to be created"
**Describe the feature**
The Filter Event form retains comment even if the user cancels the entry to be created

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Administration tab under the Security
2. Go to the Filter Event Tab
3. Click on 'Add new Filter Event'
4. Add comment and other values too
5. Click on

[2021-06-09 11:01] elasticmachine commented on #101729
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 11:01] elasticmachine commented on #101729
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-09 11:01] muskangulati-qasource opened #101730 "[Security Solution] The Event Filter value is not saved if the user gives a correct alphanumeric comment after giving space as a comment"
**Describe the feature**
The Event Filter value is not saved if the user gives a correct alphanumeric comment after giving space as a comment

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Administration tab under the Security
2. Go to the Filter Event Tab
3. Click on 'Add new Filter Event'
4. Add space as a

[2021-06-09 11:01] elasticmachine commented on #101730
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 11:01] elasticmachine commented on #101730
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-09 11:02] muskangulati-qasource commented on #101729
@manishgupta-qasource please review !

[2021-06-09 11:02] muskangulati-qasource commented on #101730
@manishgupta-qasource please review !

[2021-06-09 11:08] manishgupta-qasource commented on #101730
Reviewed & assigned to @kevinlog

[2021-06-09 11:09] manishgupta-qasource commented on #101729
Reviewed & assigned to @kevinlog

[2021-06-09 11:09] simitt commented on #100657
update: removed the section about creating an API that returns the current status of migration, used by Cloud. We agreed on a different solution, not involving Kibana.

[2021-06-09 11:11] joshdover commented on #101351
This is starting feel like a very expensive and potentially dangerous use case to try to start supporting this late in the game.

If it had been as simple as we were originally ~expecting~ hoping, fixing this would make sense. But in light of our plans to significantly reduce the plugins that are disable-able (#89584), I'm not sure the effort here makes sense.

I lean towards going back and revisi

[2021-06-09 11:14] markharwood commented on #98956
Apologies if there's a ticket somewhere else, but in a support context  it would be useful to open a JSON file provided by a customer which contains profiler output and open this for visualization.
Apparently that used to be possible using copy/paste but doesn't look to work any more.

[2021-06-09 11:15] gmmorris commented on #91143
Mandatory is a very strong word :)

@mikecote, correct me if I'm wrong, but our only issue blocked on this is https://github.com/elastic/kibana/issues/100068, am I right?
If that's the case, then I think we might be able to do this post 8.0, if it doesn't force a breaking change.

Any thoughts?

[2021-06-09 11:20] banderror commented on #98912
@jasonrhodes Yep, I think so.

More and more I feel like it would be great to stick to @kobelb 's suggestion (no space id in the name + document-level security). It would simplify index management - no bootstrapping indices would be needed per space on the fly, e.g. in rule executors or route handlers or any other "lazy bootstrapping" logic. I might be missing/forgetting something, but the only bl

[2021-06-09 11:22] sqren opened #101734 "[APM] ML jobs should support metric documents"
Currently ML jobs calculate the average duration like:

[code]

For histogram based docs (metrics) this should be calculated using the field `transaction.duration.histogram`:

[code]

### Metric sample document
<details>
  <summary>Click to view sample</summary>

[code]
</details>

[2021-06-09 11:22] elasticmachine commented on #101734
Pinging @elastic/apm-ui (Team:apm)

[2021-06-09 11:22] elasticmachine commented on #101734
Pinging @elastic/ml-ui (:ml)

[2021-06-09 11:27] karanbirsingh-qasource commented on #101725
Thanks @MadameSheema for looking into the issue and sharing the troubleshooting.

However issue is **still occuring** even after updating the role with above shared changes.

![image](https://user-images.githubusercontent.com/59917825/121344507-78b33600-c941-11eb-8203-3950f66a16ce.png)

![image](https://user-images.githubusercontent.com/59917825/121343567-78ff0180-c940-11eb-915c-9603cd15a742.png)

[2021-06-09 11:31] kevinlog commented on #101730
@dasansol92 can you take a look?

[2021-06-09 11:37] sqren opened #101735 "[APM] Run telemetry tasks during plugin's `start` lifecycle (instead of during `setup`)"
Related https://github.com/elastic/kibana/issues/101463

## Problem
Currently telemetry tasks run during the APM plugin's `setup` phase:

https://github.com/elastic/kibana/blob/d3ce128556319e2d65be4d38c6c8e264e376bafa/x-pack/plugins/apm/server/plugin.ts#L95-L102

However, telemetry expects certain indices to exists, even though they are created during the `start` phase:

https://github.com/elastic

[2021-06-09 11:37] elasticmachine commented on #101735
Pinging @elastic/apm-ui (Team:apm)

[2021-06-09 11:38] sqren commented on #101463
@Bamieh thanks for the heads up. I've created a new issue that replaces this https://github.com/elastic/kibana/issues/101735

[2021-06-09 11:38] #101463 closed

[2021-06-09 11:45] MadameSheema commented on #101725
Can you please try to create a rule with the `superuser` role? Thanks

[2021-06-09 11:48] mikecote commented on #91143
If that's the case, then I think we might be able to do this post 8.0, if it doesn't force a breaking change.

Correct, after speaking with @kobelb, it felt ok to do in a minor so I would no longer say it's needed for 8.0. But hopefully soon so we can address our technical debt with terminology. (especially if we're planning to create another SO as data called "alert" which is currently in use).

[2021-06-09 11:52] mikecote commented on #58397
@pgayvallet awesome, thank you! I will close this issue 🙏 8.0+ aligns with my thinking as well

[2021-06-09 11:52] #58397 closed

[2021-06-09 11:57] #101384 closed

[2021-06-09 12:18] sebelga commented on #101253
I also ++ JL's ++ so that makes 6 in total 😄

As our general rule is to tend to keep the state closer to the component it's been a long time we've needed a "state management" tool in the stack management team (sorry if it rhymes!).

We also have yet another state management tool for most of our apps: the form lib. That lib + react context is all we need.

[2021-06-09 12:27] ymao1 opened #101739 "[Alerting] Should we have more granular logging contexts within Alerting?"
Currently, all logs within the alerting plugin exist in the same logging context. There is a question of whether it would make sense to make our logging contexts more granular so that we can control the log level of certain parts of alerting (such as the task runner) independently.

[2021-06-09 12:27] elasticmachine commented on #101739
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-09 12:27] #84558 closed

[2021-06-09 12:34] deepikakeshav-qasource commented on #99326
### Bug Conversion:

Created 01 Test-Case for this Ticket
https://elastic.testrail.io/index.php?/cases/view/147371

Thanks!!

[2021-06-09 12:35] deepikakeshav-qasource commented on #98285
### Bug Conversion:

Created 01 Test-Case for this Ticket
https://elastic.testrail.io/index.php?/cases/view/147368

Thanks!!

[2021-06-09 12:35] deepikakeshav-qasource commented on #97661
### Bug Conversion:

Created 01 Test-Case for this Ticket
https://elastic.testrail.io/index.php?/cases/view/147370

Thanks!!

[2021-06-09 12:36] mandeepkaur-qasource commented on #89205
Hi @MadameSheema

We have validated this issue on 7.14.0 snapshot and found that issue is re-occurring. As unexpected value are displayed in the top source ip modal. Hence, we are reopening this ticket.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Steps to Repr

[2021-06-09 12:36] deepikakeshav-qasource commented on #96898
### Bug Conversion:

Test-Case already exist for this Ticket
https://elastic.testrail.io/index.php?/cases/view/76940

Thanks!!

[2021-06-09 12:37] deepikakeshav-qasource commented on #96380
### Bug Conversion:

Test-Case already exist for this Ticket
https://elastic.testrail.io/index.php?/cases/view/76940

Thanks!!

[2021-06-09 12:37] deepikakeshav-qasource commented on #95910
### Bug Conversion:

Test-Case already exist for this Ticket
https://elastic.testrail.io/index.php?/cases/view/18011

Thanks!!

[2021-06-09 12:38] mandeepkaur-qasource commented on #89205
@manishgupta-qasource Please Review the comment!

[2021-06-09 12:39] pgayvallet commented on #91143
Ok, thanks. Asking because of the interactions with https://github.com/elastic/kibana/issues/101351.

Ideally, we would still be able to address current issue before `8.0`

[2021-06-09 12:41] deepikakeshav-qasource commented on #94925
### Bug Conversion:

Test Case not required for this ticket as this is covering in Cases Test cases.

Thanks!!

[2021-06-09 12:41] deepikakeshav-qasource commented on #94699
### Bug Conversion:

Created 01 Test-Case for this Ticket
https://elastic.testrail.io/index.php?/cases/view/147369

Thanks!!

[2021-06-09 12:44] mandeepkaur-qasource commented on #97953
**Bug Conversion:**
Test case already exist for ticket:

**Test Rail link:** https://elastic.testrail.io/index.php?/cases/view/77064

Thanks!!

[2021-06-09 12:44] MadameSheema commented on #99326
@deepikakeshav-qasource note that @machadoum has added automated tests in order to cover this. So please, do not add it to the manual regression. Thanks

[2021-06-09 12:45] mandeepkaur-qasource commented on #97477
**Bug Conversion:**
Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/77064

Thanks!!

[2021-06-09 12:46] MadameSheema commented on #94699
@deepikakeshav-qasource not needed to add this to the manual regression. Thanks.

[2021-06-09 12:49] MadameSheema commented on #89205
@XavierM can you please check why is this happening again? Thanks.

[2021-06-09 12:50] justinkambic commented on #101122
I wanted to leave an update on this issue as a lot has transpired offline.

We did indeed do this, and benchmarked against Sharp. Unfortunately, jimp is too slow for our purposes.

![image](https://user-images.githubusercontent.com/18429259/121356880-497bd500-c8ff-11eb-9d96-45a52fdbb79b.png)

After significant optimization strategies we were not able to push it down to an acceptable operation time

[2021-06-09 12:52] MadameSheema commented on #97661
@deepikakeshav-qasource we don't need to add a manual test case to the regression because this is already covered by automation. Thanks.

[2021-06-09 12:52] pmuellr commented on #101739
I wonder if it would make sense to look at our logging and try to change the levels, to help out with the granularity.  Perhaps we have some messages like connector errors that should be warnings, as an example.

[2021-06-09 12:53] clintandrewhall commented on #101377
@ppisljar, @corey has started revisions to the guide here: https://github.com/elastic/kibana/pull/101611

[2021-06-09 13:00] #92126 closed

[2021-06-09 13:05] dej611 commented on #101583
Ok, I'll create a PR with the `skip` option then.

[2021-06-09 13:09] pmuellr opened #101748 "[task manager] saved object mappings include "text" fields that are probably not needed to be full text searchable"
The following fields are typed `text`, but can probably be made `keyword`.  I'm actually even wondering if we need to enable searching over them at all.  I would be surprised if we ever searched over these in the runtime code, and it's not clear to me if it would be helpful to have them searchable for diagnostic reasons.

https://github.com/elastic/kibana/blob/edc5251433f8505d4266326567ea11702ee9b

[2021-06-09 13:09] elasticmachine commented on #101748
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-09 13:12] ymao1 opened #101749 "[Alerting][Event Log] Consider adding `uuid` to active alert spans"
For [this issue](https://github.com/elastic/kibana/issues/93704), we added start/duration/end times to the `*-instance` actions in the event log and considered adding a `uuid` to identify unique active spans for an alert. We decided to hold off after [reviewing what SIEM and RAC](https://github.com/elastic/kibana/pull/101387#discussion_r647617011) were doing for this and how they are using `event.

[2021-06-09 13:12] elasticmachine commented on #101749
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-09 13:32] estermv commented on #100133
I just realized that on the Listing page we show an "Alert Status":

<img width="1264" alt="Screenshot 2021-06-09 at 15 28 03" src="https://user-images.githubusercontent.com/2249229/121363854-967b9d80-c937-11eb-8dbe-9cb58e17a1cd.png">

What should we show in this case, if the user didn't enable the alerts?

[2021-06-09 13:40] mandeepkaur-qasource commented on #97093
**Bug Conversion:**

Test case already exist for ticket:

https://elastic.testrail.io/index.php?/cases/view/77193

Thanks!!

[2021-06-09 13:41] ymao1 opened #101753 "[Alerting] Improve parsing of ES error messages"
Currently when a rule throws an Elasticsearch exception during rule execution, the alerting framework tries to extract a meaningful error message from the exception. This is happening here:

https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/server/lib/errors/es_error_parser.ts#L37-L44

Recently, there have been multiple cases where the log messages are showing up like

[code]

[2021-06-09 13:41] elasticmachine commented on #101753
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-09 13:41] mandeepkaur-qasource commented on #96294
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/34968

Thanks!!

[2021-06-09 13:42] mandeepkaur-qasource commented on #96209
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/34966

Thanks!!

[2021-06-09 13:44] mandeepkaur-qasource commented on #96206
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/34946

Thanks!!

[2021-06-09 13:44] mandeepkaur-qasource commented on #95295
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/tests/view/477245

Thanks!!

[2021-06-09 13:45] mandeepkaur-qasource commented on #95123
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/34962

Thanks!!

[2021-06-09 13:46] mandeepkaur-qasource commented on #94948
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/77116

Thanks!!

[2021-06-09 13:47] mandeepkaur-qasource commented on #94011
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/cases/view/15538

Thanks!!

[2021-06-09 13:48] OH-Forter opened #101755 "kibana-plugin crashes when NODE_TLS_REJECT_UNAUTHORIZED is set to 0"
Kibana version: 7.12.1
Using Official docker image, but should reproduce anywhere.

When I execute
[code]

I get:
[code]

Please note that the error is not related to the parameter, but the ENV variable. When `NODE_TLS_REJECT_UNAUTHORIZED=0` is not set, this crash does not happen.

I manually edited the script to use `console.log` instead of `log.error`. It worked, and printed the following warnin

[2021-06-09 13:48] mandeepkaur-qasource commented on #93418
**Bug Conversion:**

Updated existing test case for ticket:

https://elastic.testrail.io/index.php?/tests/view/477245

Thanks!!

[2021-06-09 13:56] dej611 opened #101758 "[Lens] Transitioning to Top Values from Intervals operation leads to a field error"
**Describe the bug:**

Numeric fields seems to not be valid when landing in Top Values in Lens. This applies only on first landing as changing back and forth to the field (to any other type, then back) solves the issue.

**Steps to reproduce:**
1. Setup a `Intervals` dimension
2. Click on `Top Values`

![top_values_numbers](https://user-images.githubusercontent.com/924948/121368123-20793580-c93b-1

[2021-06-09 13:56] elasticmachine commented on #101758
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 13:57] nchaulet opened #101759 "[Fleet][Endpoint] Routing to the integration UI from the endpoint plugin is broken"
## Description

Looks like the routing from the endpoint app to the integration app is broken

https://user-images.githubusercontent.com/1336873/121368311-fb6bcf00-c908-11eb-8176-295855e21b6c.mov

@kpollich I do not know if it's already tracked somewhere but

[2021-06-09 13:57] elasticmachine commented on #101759
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 14:00] dgieselaar opened #101760 "[APM] Automatic deployment annotations are incorrectly displayed"
We automatically show deployment annotations based on `service.version` if the user is not using the API. The logic is as follows:

- get all the values for `service.version` in the given time range
- if there is more than one, fetch the oldest document (not by the given time range) for each value of `service.version`: "first seen"
- display an annotation at/if its "first seen" timestamp is _withi

[2021-06-09 14:00] elasticmachine commented on #101760
Pinging @elastic/apm-ui (Team:apm)

[2021-06-09 14:01] aarju opened #101761 "Add filtering to the 'Saved Query' selection interface."
**Describe the feature:**
It would be really nice if the 'Saved Queries' popup in Kibana had a way to quickly filter, sort, or search the saved queries to find the one you need. We are up to over 50 saved queries (and growing) on our cluster and it can be frustrating to manually find the saved query I'm looking for.

**Describe a specific use case for the feature:**
When a user opens the 'Saved Qu

[2021-06-09 14:02] Marcio82 opened #101762 "Selected fields Kibana"
opendistroforelasticsearch-kibana-1.13.2

- [ ]

When selected fields the report I generate in CSV is blank, just in case of making some selection.
If you get all the logs without selecting filters, it exits normally. does anyone have an idea of ​​this problem??
![Selected Fields](https://user-images.githubusercontent.com/17679798/121369350-2575bf00-c912-11eb-89a4-44b7af9872b8.png)

[2021-06-09 14:07] #101656 closed

[2021-06-09 14:11] #64634 closed

[2021-06-09 14:13] Marcio82 commented on #101762
This only happens for wazuh-alerts-*, in this example I'm selecting the filters ID is generated in wazuh-monitoring and generated the CSV.
![Wazuh Monitoring](https://user-images.githubusercontent.com/17679798/121371206-c4e78180-c913-11eb-88d0-d13f9fbfdd4a.png)

[2021-06-09 14:15] ThomThomson commented on #101720
I've been testing this out. It appears that disabled filters work correctly on Lens, but disabled filters are _actually applied_ in Visualize. You don't need conflicting filters like the example above, you can see the same behaviour by disabling a filter which would remove all data if it were enabled.

<img width="839" alt="Screen Shot 2021-06-09 at 10 13 11 AM" src="https://user-images.githubuser

[2021-06-09 14:18] kpollich commented on #101759
@nchaulet - We don't have this one tracked anywhere. Good catch. I can take a look at this today.

[2021-06-09 14:26] liza-mae commented on #101506
@mshustov yes I will verify on the next build and close if it is fixed.  Thanks.

[2021-06-09 14:28] kpollich opened #101771 "[Integrations UI] Browse Tab is not Marked as Active"
## Summary

The `Browse` tab is not marked as active on the `Integrations > Browse` page

![image](https://user-images.githubusercontent.com/6766512/121373717-50114900-c90d-11eb-8ca9-17a35e928d94.png)

**Steps to reproduce**:
 1. Navigate to the `Integrations` app via the Kibana sidebar
 2. Observe that the `Browse` tab is not marked as active

**Expected Behavior**

Browse/Manage tabs should rece

[2021-06-09 14:28] elasticmachine commented on #101771
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 14:35] pmuellr commented on #101090
I think the problem with this is that the fields may not be validate-able.  For the timestamp example, you could set it to `{{date}}`, which will work when the action is executed, but would fail validation at "edit time", since we can't interpolate the mustache variables then.

I feel like this is another piece of a bigger problem - "testing" alerts and actions.  I probably have an issue open for

[2021-06-09 14:40] pmuellr commented on #101582
During conversation on this issue yesterday, I happened to think that I remember seeing Kibana logs that seemed to indicate it was possible to have saved objects migrated "as needed" somehow.  Not sure if this is still something we can do - I'm not seeing the message right now in my dev env, and can't remember exactly what it said - but something about "not doing migrations now, will migrate saved

[2021-06-09 14:42] pmuellr commented on #101270
Would it make any sense to have a rule-type indicate whether it's rules can be exported or not?  Default that they can be exported (of course).  I have a feeling like we'll end up seeing this again in the future ...

[2021-06-09 14:42] dhurley14 opened #101776 "[RAC] Fields required for RBAC are typed as optional"
Currently `rule.id`

https://github.com/elastic/kibana/blob/fe6112c255680afe3e85b0027e40fdcfc18cbacd/x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts#L38

and `kibana.rac.alert.owner`

https://github.com/dhurley14/kibana/blob/c3008a857181884b84f9d965c50f4498501585bc/x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts#L44

are typed as

[2021-06-09 14:43] ravikesarwani commented on #100133
Ester, for me it may help if you can (in short) describe the solution you are trying to build?
I do not fully understand the previous [popover question](https://github.com/elastic/kibana/issues/100133#issuecomment-857596438) and will need more context.
For the Alert status question we can show (N.A.). We have that in few other places already.

[2021-06-09 15:06] kpollich opened #101781 "[Integrations UI] White background in short Integration pages is not full height"
## Summary

Pages that aren't full-height have shortened white background area that doesn't cover the full page height.

![image](https://user-images.githubusercontent.com/6766512/121379865-6cfc4b00-c912-11eb-81e7-c0dfd29eecc1.png)

**Steps to reproduce**:
 1. Navigate to the `Integrations` app via the Kibana sidebar
 2. Under `Browse`, select the `Apache` integration
 3. Select the `Settings` or

[2021-06-09 15:06] elasticmachine commented on #101781
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 15:09] #93704 closed

[2021-06-09 15:11] kpollich opened #101785 "[Integrations UI] Breadcrumbs on initial load are incorrect, causing UI flicker"
## Summary

When initially loading the Integrations app, the breadcrumbs are set to `Integrations > Integrations` which causes some UI jumping/flickering.

![Kapture 2021-06-09 at 11 11 35](https://user-images.githubusercontent.com/6766512/121381164-7934d800-c913-11eb-9759-54ff0ba9af7b.gif)

![image](https://user-images.githubusercontent.com/6766512/121380776-29561100-c913-11eb-9f18-1da38292cc6b.p

[2021-06-09 15:11] elasticmachine commented on #101785
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 15:12] chrisronline commented on #101505
Thanks @pmuellr. I think our first attempt will be option 2 and I started a WIP PR for it https://github.com/elastic/kibana/pull/101751

[2021-06-09 15:13] elasticmachine commented on #101761
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-09 15:21] estermv commented on #100133
@ravikesarwani that's a good point. I'll try to summarize what I've been building until now.

When users first visit Stack Monitoring, they are going to see a modal similar to this one (still need a design review):
<img width="777" alt="Screenshot 2021-06-09 at 17 02 27" src="https://user-images.githubusercontent.com/2249229/121379604-7b635a80-c944-11eb-9d8d-8311ce690fce.png">
* If they select "Ye

[2021-06-09 15:26] cnasikas opened #101787 "[Cases] Change cases connectors simulators to use an http server instead of Kibana router"
API integration test simulate external services (like ServiceNow) to test interaction with them. So far the Kibana core route is being used to mock responses from the external services. Simulators should be change and be created by using `http`.

[2021-06-09 15:26] elasticmachine commented on #101787
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-09 15:26] elasticmachine commented on #101787
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 15:37] #101513 closed

[2021-06-09 15:42] mikecote commented on #101582
Adding to To-Do so we can better understand the issue and what can be done to fix this, and if we should prioritize something further to fix the problem.

[2021-06-09 15:45] pmuellr commented on #101582
I just added a `research` tag - I think we need to understand if this is really a problem, how we plan on fixing it (it may require changes to the ESO migration code), and if there are work-arounds to prevent this from happening, or fix things after this breaks something.

[2021-06-09 15:55] ryankeairns commented on #100881
That seems like a well-reasoned approach to me. The Analyze apps did, in fact, opt for a more visually-weighted approach for the Save buttons so keeping that option (and clarifying the difference) makes sense.

[2021-06-09 16:02] mikecote commented on #98634
We should timebox the effort in combination with leveraging this in the actions event logs.

[2021-06-09 16:32] pzl commented on #83910
looks like for `security solution` the legacy client is only in use in the detection engine now

cc @XavierM or @FrankHassanabad or @rylnd ?

[2021-06-09 16:42] weltenwort commented on #100451
I'm just now trying to read up on all things RAC and was wondering if anyone could clarify the index names to me. The description here contains some that look very different from those convention-compliant ones mentioned in #98912. What am I missing here?

[2021-06-09 16:44] kobelb commented on #101351
@joshdover do we have users hitting this bug? Could we postpone doing anything for the remainder of 7.x and starting in 8.0 explicitly block upgrades if there are any unknown saved-object types?

Regardless of the answer to the prior question, how do our users delete the documents that were created by an uninstalled or disabled plugin?

[2021-06-09 16:47] smith commented on #96568
Marking this as unblocked because we will be able to do this as a follow-up to #96559.

[2021-06-09 16:50] andrewkroh commented on #101232
The mapping for `event.original` has `ignore_above: 1024`. The theory is that because it's not indexed that it doesn't show up in the `fields` that are returned by the query. The [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#search-fields-param) do say that it honors `ignore_above`.

[code]

I can replicate what I was seeing initially in Discover with th

[2021-06-09 16:53] kobelb commented on #98912
Spaces will work out of the box for a majority of basic-licensed users. The only exception is when users need to use the "escape hatch" to query the hidden `.alerting-*` indices. Users will already be taking a fair amount of risk by accessing these indices directly because their document structure is honestly likely to change. We should aim to minimize the breaking changes that we make to these in

[2021-06-09 16:54] smith opened #101798 "[APM] Refactor chart annotations"
Due to elastic/elastic-charts#914, the annotation and active alert management code for charts is all together in one component, or using functions that return react elements that are not components.

Once the Elastic Charts fix is there, factor or the annotation handling (or anything else in the charts that needs to be broken up) into separate components.

[2021-06-09 16:54] elasticmachine commented on #101798
Pinging @elastic/apm-ui (Team:apm)

[2021-06-09 17:03] skantipudi1915 opened #101802 "Issue with multiple input filters created based on scripted fields from logStash"
**Kibana version: v7.7.0

**Elasticsearch version: v7.7.0

**Server OS version: v7.7.0

**Browser version: chrome 91.0.4472.77 (Official Build) (x86_64)

**Browser OS version: chrome 91.0.4472.77 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.): Managed by organization

**Describe the bug: When using multiple scripted fields visualization for a spec

[2021-06-09 17:18] pmuellr commented on #101748
Note that if we **do** change this to `keyword`, I also noticed these mappings do **NOT** have `ignore_above` set for the `keyword` types, which we absolutely must have, otherwise fields that exceed that length will cause create/update to error.

We should fix those in any case, unless for some reason they are no longer needed.  Based on issue https://github.com/elastic/kibana/issues/100607, I thi

[2021-06-09 17:34] #101430 closed

[2021-06-09 17:52] ymao1 opened #101809 "[Alerting] Add telemetry for event log information"
Currently alerting telemetry collects information from the `.kibana` index where the `alert` saved objects are stored. Should we consider adding information from the event log to the telemetry data? Now that we are storing rule type id, we could collect information like number of executions that resulted in errors broken down by rule type? Execution durations by rule type? We should consider wheth

[2021-06-09 17:52] elasticmachine commented on #101809
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-09 17:53] marshallmain commented on #98912
I agree with @jasonrhodes that a lot of this feels like trying to fit a too-small sheet to a bed. We have competing requirements that, to my knowledge, cannot be satisfied in the current version of Kibana with a Basic license.

1. Alerts should be space aware and users should not be able to see alerts that are not in their space - even in Discover, Lens, etc
2. Alert indices should be compact and

[2021-06-09 18:00] chrisronline commented on #101505
Agreed. Should we look at worst case drift, or closer to average? I'm assuming we want to look at worse case and if so, should we consider some kind of rate limit? From looking at the code, the debug is fired quite often (I have a hard time reading some of this code so I could be wrong) so I worry that if the user is in a "slow state" where drift is above (for example) 1m that the log will be supe

[2021-06-09 18:30] ravikesarwani commented on #100133
Thanks @estermv. This is very helpful and looks great. Good work here!

**Some minor feedback to think about on the modal dialog**
I was thinking if "Remind me later" implemented as a link is a pattern we use in other places. To me it felt a little less intuitive since its really tied with the "No" option. One thought I was exploring was:
![createrules](https://user-images.githubusercontent.com/64

[2021-06-09 18:39] kobelb commented on #98912
I've stated this before, but I don't think we should be making poor architectural decisions because of license levels. Including the space-id in the index-name has critical disadvantages that we should not overlook:
1) If we include the consumer and the space-id in the index-name, we will be contributing to over sharding. If we have 1000 spaces with 10 consumers, we will end up with 10,000 indices

[2021-06-09 18:55] elasticmachine commented on #101755
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-09 18:56] ghudgins opened #101815 "[Lens] mark heatmaps "experimental" instead of "beta""
**Describe the feature:**
Per a quick discussion, we should mark the 7.14 Heatmap vis type `Experimental` because of its maturity in elastic-charts (it's currently @alpha) as well as the list of known issues listed https://github.com/elastic/kibana/pull/97978

CC @flash1293 @markov00 @MichaelMarcialis @rayafratkina

![image](https://user-images.githubusercontent.com/5465514/121412664-f6bc1080-c932

[2021-06-09 18:56] elasticmachine commented on #101815
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-09 19:00] iankoetter commented on #75316
Ran into this use-case today. Starting to utilize more Lens in initial visualization exploration, but I can't directly share a lens-created graph to co-workers. It seems I would need to put the viz on a dashboard and share the dashboard, which seems.. excessive.

I tracked the other linked issues and they're all either closed or in a state where they are ready to be closed. Currently, there doesn'

[2021-06-09 19:08] jonathan-buttner opened #101816 "[Cases] Create API for retrieving all alerts for a case ID"
This issue is to track the work for creating an API within the cases plugin to retrieve all the alerts associated with a specific case ID.

The short term goal is to create an API that simply returns all of the alerts. In the future we can provide a more robust solution that allows doing search after or something similar.

For the implementation we can use what Larry suggested on the RBAC PR:

[co

[2021-06-09 19:09] elasticmachine commented on #101816
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-09 19:10] simianhacker commented on #100489
@weltenwort @jasonrhodes I looked at the Metrics UI and the Source configuration and it appears we are ready. The Metrics UI saved objects don't have references. The source configuration does for the Logs UI index patterns and they appear to be using the `references` properly.

[2021-06-09 19:20] elasticmachine commented on #101755
Pinging @elastic/kibana-security (Team:Security)

[2021-06-09 19:24] jbudz commented on #101755
Ah sorry about the ping - reread and this is a syntax error for ops.  Taking a look.

[2021-06-09 19:28] jonathan-buttner opened #101821 "[Cases][Discuss] Actions and Connectors permissions"
If a user is only granted access to read Cases, when they navigate to the detail view of a specific case they will receive a 403 when we attempt to retrieve the connectors because the user was not granted permissions for connectors.

This issue is to discuss granting users read permissions to connectors automatically when they are granted read or all permissions for cases. This would happen in two

[2021-06-09 19:28] elasticmachine commented on #101821
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-09 19:36] tsullivan opened #101822 "Range Filter uses non-numeric values as defaults, causes exceptions in scripted fields"
**Kibana version:** 7.51, 7.13.1

**Describe the bug:**
When adding a filter in the Filter Bar, the range filter has minimum and maximum value inputs which are optional:
 - empty value for minimum = `-Infinity`
 - empty value for maximum = `+Infinity`

However, when defaults are used, the underlying search query uses a script where the params are non-numeric values:
![image](https://user-images.gi

[2021-06-09 19:37] elasticmachine commented on #101822
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-09 19:55] #101227 closed

[2021-06-09 19:58] #101759 closed

[2021-06-09 20:02] #99915 closed

[2021-06-09 20:02] #100305 closed

[2021-06-09 20:03] EricDavisX opened #101830 "[Fleet] Add an 'Enroll' command option to the Agent action menu to facilitate moving an Agent from a 'test' Fleet-Server to 'prod' for instance."
I have some customers that prefer to set things up on prem first before moving to the cloud.  If they’ve spent time setting up agents and fleet, what’s the best way to get that same setup in a new deployment?  I think this scenario would also happen when setting up prod and dev clusters.
 - Reported from Jessica Moszkowicz via slack.

From Eric Davis in reply:
Hi - I don’t know if we have a way to

[2021-06-09 20:03] elasticmachine commented on #101830
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 20:04] jasonrhodes commented on #100133
Here I'd explore a grey circle with "Not enabled"?

For "Remind me later", I like @ravikesarwani's modal idea but I would make "Remind me later" a button sibling to "OK" because the idea is either "Decide yes/no" or "Remind me later" because you don't want to decide.

[2021-06-09 20:09] jasonrhodes commented on #100133
I was just talking to @simianhacker and @neptunian about this more broadly, and I think it might be a good idea for now to make this link do the following:

1. If we detect that you are missing any of the default rules, "Create default rules" or something to that effect
2. If you have at least 1 rule, "Manage rules" which takes you to the Stack Management UI

For (2) this won't let them edit them

[2021-06-09 20:14] jasonrhodes commented on #100133
Also, we should centralize on wording for this set of rules. I like "Default rules" better than "out-of-the-box rules", but I think I like "Recommended Stack Monitoring Rules" best.

"Create recommended stack monitoring rules..." etc.

I'd also leave off the "(If you are using different Kibana spaces for monitoring)" from next to the "No" option — I like providing context for the "Yes" option as t

[2021-06-09 20:24] mostlyjason commented on #100617
Lets put this on old until we finalize definition for ephemeral agents. The current proposal does not define a type of agent. Instead, any agent have a TTL defined by the agent policy.

[2021-06-09 20:25] marshallmain commented on #98912
Removing features for existing customers is a non-starter IMO, and an architecture that requires this would entirely block the ability for the security solution to use the RAC infrastructure. Requiring existing customers to pay for a higher tier license to continue receiving the same feature set constitutes "removing features" in my mind. Without space IDs in the index name, the security solution

[2021-06-09 20:45] LeeDr commented on #100285
We see hundreds of these 404 errors in the Kibana logs while running functional tests;

[code]

[2021-06-09 20:48] kobelb commented on #98912
We remove features all the time. The security solution can migrate a very large amount of its features to the RAC infrastructure even before Kibana provides "data with saved object constraints". The only ones that I'm aware of that are blocked are using applications like Discover, Visualize, Lens with the alert-data using Kibana's RBAC model.

Just because it works with the scale of security detec

[2021-06-09 20:49] tylersmalley opened #101836 "Failing ES Promotion: apis home apis sample data apis "before all" hook in "sample data apis""
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2893/execution/nod

[2021-06-09 20:50] elasticmachine commented on #101836
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 20:50] tylersmalley commented on #101836
@romseygeek, looks like this might have been caused by https://github.com/elastic/elasticsearch/commit/29ee4202a2a8e60ebbb9d3f9f47a777fd074ec9c - is this expected?

[2021-06-09 20:57] smith opened #101837 "[APM] `useParams` not working in alert flyout components (service is always "All")"
![image](https://user-images.githubusercontent.com/209966/122358765-3c8d6000-cf55-11eb-87bb-7cdce0c96f62.png)

In elastic/kibana#101044, The `HeaderMenuPortal` was moved to be outside of routes, making it so `useParams` always returns an empty object.

We should be able use [`useRouteMatch`](https://reactrouter.com/web/api/Hooks/useroutematch) instead, which doesn't depend on being a child of a `R

[2021-06-09 20:58] elasticmachine commented on #101837
Pinging @elastic/apm-ui (Team:apm)

[2021-06-09 21:16] marklaczynski commented on #7438
Can anyone confirm that upgrading to 7.10+ helped with this issue as per @epixa note?

[2021-06-09 21:30] ymao1 commented on #101821
Are there other examples of subfeature privileges that grant access to a top-level feature? To me, it would seem like a permissions bug that you could explicitly select `none` for the Actions and Connectors privilege but still be able to see them because you have the `Cases` privilege. Curious what others on @elastic/kibana-alerting-services think.

Would it be possible instead to surface a messag

[2021-06-09 21:37] ravikesarwani commented on #100133
Thanks Jason for your thoughtful comments. They are really great feedback and I am good with most of those.
Few things I would want us to think and discuss more:

For this one am not hyped that users to be sent to Stack Management UI because they can't view or edit SM rules there (right now). Its a dead link for them basically and I am unsure that I would like to implement this even if its for 1 o

[2021-06-09 21:48] hbharding opened #101843 "[Fleet] Tabs in Integration UI homepage are not "selectable""
When clicking on a tab, the tab does not update to become `isSelected=true`. The value always returns false. This makes it difficult for users to understand what section of the page they are on. When selected, the tab should have a blue border bottom. See https://elastic.github.io/eui/#/navigation/tabs

![image](https://user-images.githubusercontent.com/847805/121433734-64276b80-c94a-11eb-9897-fa9

[2021-06-09 21:48] elasticmachine commented on #101843
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 21:58] jen-huang commented on #101843
I think this is covered by #101771, closing.

[2021-06-09 21:58] #101843 closed

[2021-06-09 21:59] jonathan-buttner commented on #101821
I'm not aware of any other sub features that do it. Our use of a sub feature in security solution is kind of a special one off. Within observability we use a regular top-level feature for cases but I think your concern is still valid there too. When I chatted with @legrego he mentioned the example of dashboards getting access to visualization's saved objects and this situation seems similar.

A mo

[2021-06-09 22:00] hbharding opened #101845 "[Fleet] Page content area should extend the height of the available area."
The entire content area below the grey page header should be white. See screenshot:

![image](https://user-images.githubusercontent.com/847805/121434555-7ce45100-c94b-11eb-9f03-c44cc7f0e2d3.png)

This is especially apparent while the page is loading.
![image](https://user-images.githubusercontent.com/847805/121434689-b026e000-c94b-11eb-85ae-2ee85743e3aa.png)
Unrelated, but a small thing I noticed

[2021-06-09 22:00] elasticmachine commented on #101845
Pinging @elastic/fleet (Team:Fleet)

[2021-06-09 22:05] hbharding commented on #101845
Closing. duplicate https://github.com/elastic/kibana/issues/101781

[2021-06-09 22:05] #101845 closed

[2021-06-09 22:06] hbharding commented on #101843
Yup sorry just realized the duplicates. Closed the other one I made.

[2021-06-09 22:21] #93315 closed

[2021-06-09 22:30] liza-mae commented on #101506
Confirmed fixed on latest 7.13.2 snapshot.  Thanks.

![Screenshot from 2021-06-09 16-27-31](https://user-images.githubusercontent.com/23424008/121437547-c333b300-c93f-11eb-8916-d7a94fd89e88.png)

[code]

[2021-06-09 22:30] #101506 closed

[2021-06-09 22:34] jen-huang commented on #100617
Assigning back to me to define.

[2021-06-09 22:42] spong opened #101849 "[Rule Registry] Improve error logging of RuleDataClient when failing to write alerts"
Currently if there is an error when writing alerts the following is displayed in the kibana logs:

The `RuleDataClient` bulk writer will throw the error when encountered (first trying to create the index if `index_not_found_exception`):

https://github.com/elastic/kibana/blob/d920682e4e341eb43a5561531c111821e8e56fd0/x-pack/plugins/rule_registry/server/rule_data_client/index.ts#L74-L85

However, cu

[2021-06-09 22:43] marshallmain commented on #98912
It's important to note that in the proposal the space ID in the index name is **optional**.

Customers that use spaces to segment alerts and ensure that analysts in certain roles can only see the alerts they are supposed to see will suddenly lose the ability to create the proper permissions at the Basic level. Currently this can be achieved using index level permissions.

We wouldn't need to switc

[2021-06-09 23:15] kobelb commented on #98912
@marshallmain if we don't include the space-id in the index-name, the only situations where we won't have space-based isolation and authorization is when end-users access the indices directly. Are we in agreement on this?

As far as I'm aware, this is isolated to a very few edge-case situations: Discover, Visualize, Lens, etc. I believe this will also be the case with "alerts on alerts", at least

[2021-06-09 23:15] elasticmachine commented on #101849
Pinging @elastic/kibana-security (Team:Security)

[2021-06-09 23:16] elasticmachine commented on #101802
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-09 23:40] elasticmachine commented on #101849
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-09 23:55] legrego commented on #101821
I wouldn't consider this sub-feature granting access to an entire top-level feature. If that's the _intent_, then I've misunderstood. We are instead requiring access to a specific type of saved object, which happens to be primarily managed by a top-level feature. Through this lens, it is very similar to how we handle visualizations and index patterns today. Index Patterns are managed by the `Index

[2021-06-09 23:56] #101546 closed

[2021-06-10 01:43] jasonrhodes commented on #98912
This feels like the important comment to just make sure we've fully addressed. Security users with a Basic license currently use Kibana spaces to segment their alerts. From a solution perspective, it sounds like we're saying that will still be possible without using Space ID in the name, is that right? The particular magic that makes that work never seems to stick in my memory, but we should avoid

[2021-06-10 04:45] kibanamachine commented on #100968
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14549/)

[2021-06-10 04:58] deepikakeshav-qasource commented on #94699
Hi Glo,

Thank you for the update.

We have removed the test cases from manual regression and moved it to Deprecated Section in Test Rail to keep track.

Thanks!

[2021-06-10 04:59] deepikakeshav-qasource commented on #97661
Hi Glo,

Thank you for the update.

We have removed these test cases from manual regression and moved it to Deprecated Section with automated field in Test Rail to keep track.

Thanks!

[2021-06-10 05:00] deepikakeshav-qasource commented on #99326
Hi Glo,

Thank you for the update.

We have removed these test cases from manual regression and moved it to Deprecated Section with automated field in Test Rail to keep track.

Thanks!

[2021-06-10 05:15] dgieselaar commented on #101849
I think it's ok (?) if the error is not caught, but that's more about whether we want the rule to go into an error state if writing the alerts is failing. I think that's a good starting point, if it's too noisy we can catch it.

As far as improving the error logging, that is something that probably needs to happen in the alerting framework, where the full error should be wrapped/logged instead of

[2021-06-10 05:18] sasubillis commented on #64793
We have exact same issue with version 7.10.2

[2021-06-10 05:36] karanbirsingh-qasource commented on #101725
Hi @MadameSheema

Tried creating custom rule with superuser and custom rule created successfully with that user.
![image](https://user-images.githubusercontent.com/59917825/121470486-ea3fc280-c9db-11eb-9ca1-bb6f7ebb0f9c.png)

[2021-06-10 06:44] LucaWintergerst commented on #101760
<img width="1761" alt="Screenshot 2021-06-10 at 08 42 50" src="https://user-images.githubusercontent.com/11661400/121477217-d8ecbb00-c9c7-11eb-9d3e-6809e5509481.png">
Adding some context to what this looks like and when it happens. When running a service with two different versions, two annotations will be displayed at the end of the chart when the last event for each respective service happened.

[2021-06-10 07:05] pgayvallet commented on #99680
I'm currently working on a PR to implement this new `isExportable` API, and coming to some implementation questions.

The current `isExportable` API looks like:

[code]

I have a problem of priority between checking the exportability status and applying the export transform functions.

`isExportable` is deterministic, meaning that for a given SO, the resulting value should always be the same. Howe

[2021-06-10 07:12] mshustov commented on #22636
@pgayvallet Almost done? Maybe we should add validation for `migrations.batchSize` and `savedObjects.exportSizeLimit` to limit the max size below the value supported by Elasticsearch?

[2021-06-10 07:38] elasticmachine commented on #101816
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 08:23] pgayvallet commented on #22636
Do we, now that we're using PIT for both SO migration and export's `fetchByType`?

[2021-06-10 08:36] stratoula commented on #101590
Reserved for mob programming!

[2021-06-10 08:37] romseygeek commented on #101836
@tylersmalley yep this looks like a bug.  It's not obvious what's causing it though.  Are you applying composable index templates here? It would be great if we could get a smallish reproduction test to nail down what has gone wrong.

[2021-06-10 08:43] formgeist commented on #96284
So we should move forward with using the generic provider logos like suggested above and the `subtype` label will be present in the node label and popover.

![dynamodb](https://user-images.githubusercontent.com/4104278/121494119-c038d100-c9d8-11eb-9ee9-4a33476ad0ea.png)

[2021-06-10 08:50] muskangulati-qasource opened #101863 "[Security Solution] The user is able to save the Event Filter value if leaves the field empty. However, the empty value field is not added to the Filter Value entry"
**Describe the feature**
The user is able to save the Event Filter value if leaves the field empty. However, the empty value field is not added to the Filter Value entry

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Administration tab under the Security
2. Go to the Filter Event Tab
3. Click on 'Add new Fil

[2021-06-10 08:50] elasticmachine commented on #101863
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-10 08:50] elasticmachine commented on #101863
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 08:51] muskangulati-qasource commented on #101863
@manishgupta-qasource please review!!

[2021-06-10 08:59] flash1293 commented on #75316
@iankoetter For now the fastest way I can think of to share a Lens vis is the following:
* Go to Lens
* Configure chart
* "Press save"
* Choose "None" in the "Add to dashboard" section:
<img width="834" alt="Screenshot 2021-06-10 at 10 56 30" src="https://user-images.githubusercontent.com/1508364/121496291-9d0f2100-c9da-11eb-8f93-fd780d93f33e.png">

* Hit save
* This will save the vis and change t

[2021-06-10 09:10] Bamieh commented on #101557
Example PR where this is needed in lens: https://github.com/elastic/kibana/pull/99297/files#diff-db1b18680c92626a2753436ff80ee8efb1de50c389599bff0f6208b3a42f5562

[2021-06-10 09:10] elasticmachine commented on #101557
Pinging @elastic/kibana-core (Team:Core)

[2021-06-10 09:12] pgayvallet commented on #91615
We should probably split this issue in two parts:

1. allow the usage of `initialNamespaces` for the SOR/SOC's `create` and `bulkCreate` operation for all SO types regardless of their `namespaceType` configuration (and update the security checks accordingly, e.g cannot specify namespaces without correct permissions, cannot specify multiple namespaces when the object is `SavedObjectsNamespaceType =

[2021-06-10 09:25] pgayvallet opened #101865 "[Licensing] log a warning when elasticsearch has no active license"
See https://github.com/elastic/cloud/issues/82314 for some context

Currently, when the `licensing` plugin fetches the license from ES via the `/_xpack` endpoint, we're logging an error if the request fails, but not if the response does not include a license (if no license is installed on ES)

https://github.com/elastic/kibana/blob/020a8ee7dd6a54059e8d3cf2358a3058627c62d1/x-pack/plugins/licensing/

[2021-06-10 09:25] elasticmachine commented on #101865
Pinging @elastic/kibana-core (Team:Core)

[2021-06-10 09:37] manishgupta-qasource commented on #101863
Reviewed & assigned to @kevinlog

[2021-06-10 09:38] cristina-eleonora opened #101866 "Creating and accessing deployments from Kibana"
Through the new deployment creation flow, we'll drop users in Kibana. From Kibana, a user will be able to go back to their cloud deployment using the side menu:

| Now in staging | New location in the near future |
| --- | --- |
| <img width="517" src="https://user-images.githubusercontent.com/25181823/114905143-9dc67500-9de6-11eb-9fc9-7bceb135de05.png"/> | <img width="393" alt="Screenshot 2021-06

[2021-06-10 09:40] mandeepkaur-qasource opened #101867 "[Security Solution]'Inspect Icon' is not functional on Host detail page."
**Description:**
'Inspect Icon' is not functional on Host detail page.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be installed

**Steps

[2021-06-10 09:40] elasticmachine commented on #101867
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 09:41] mandeepkaur-qasource commented on #101867
@manishgupta-qasource Please review!

[2021-06-10 09:55] dasansol92 commented on #101730
PR: https://github.com/elastic/kibana/pull/101861

[2021-06-10 09:55] dasansol92 commented on #101729
PR: https://github.com/elastic/kibana/pull/101861

[2021-06-10 10:02] elasticmachine commented on #101867
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-10 10:04] MadameSheema commented on #101725
Can you please provide the details of the role that produced the issue? Thanks :)

[2021-06-10 10:08] karanbirsingh-qasource opened #101869 "[Security Solution]"Error of unauthorized to get actions" is coming on creating case without connector"
**Describe the bug**
"Error of unauthorized to get actions" is coming on creating case without connector

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.

**Steps to Reproduce**
1.go to case tab
2.click on create case
3. Observed that error message is observed however user is able to create case.

**Test-Data**
- N/

[2021-06-10 10:08] elasticmachine commented on #101869
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 10:09] deepikakeshav-qasource opened #101870 "[Security Solution] Delete button is not working for Connectors under the "Saved_objects" even though "Delete" button is enable"
**Description**
Delete button is not working for Connectors under the "Saved_objects" even though "Delete" button is enable

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Connectors should created.

**Steps to Reproduce:**
1. Navigate to the Stack Managemant tab.
2. Click on "Saved Objects" under kibana
3. Observe that Delete but is

[2021-06-10 10:09] elasticmachine commented on #101870
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 10:09] deepikakeshav-qasource commented on #101870
@manishgupta-qasource Please review!!

[2021-06-10 10:12] MadameSheema commented on #101869
@karanbirsingh-qasource what are the characteristics of the role you used to reproduce the user?

[2021-06-10 10:12] weltenwort commented on #100489
@simianhacker Are the `inventoryDefaultView` and `metricsExplorerDefaultView` properties on the source config document references to other saved objects?

indeed

[2021-06-10 10:15] flash1293 commented on #93941
Looked into this together with @dej611 and this is the plan for implementation we came up with:
* We can use the `EmbeddablePanel` component with a hidden title for this - it does all the things we need
* Our issue - the embeddable panel requires a consumer to construct the embeddable instance manually which is annoying
* Right now we are using the `EmbeddableRenderer` component which can create a

[2021-06-10 10:21] karanbirsingh-qasource commented on #101869
Hi @MadameSheema

Please find below details for role used for above issue.

![image](https://user-images.githubusercontent.com/59917825/121508771-99dc5b00-ca03-11eb-9d4e-c104d0e7254e.png)
![image](https://user-images.githubusercontent.com/59917825/121508778-9ba61e80-ca03-11eb-9b6b-fe4944536fcb.png)
![image](https://user-images.githubusercontent.com/59917825/121508785-9d6fe200-ca03-11eb-8872-524be8

[2021-06-10 10:26] MadameSheema commented on #101869
@karanbirsingh-qasource  can you please share the details of the `Management` section?

[2021-06-10 10:26] manishgupta-qasource commented on #101870
Reviewed & assigned to @MadameSheema

[2021-06-10 10:30] karanbirsingh-qasource commented on #101869
here it is.
![image](https://user-images.githubusercontent.com/59917825/121510210-02780780-ca05-11eb-8b55-112276d3d83e.png)

[2021-06-10 10:35] karanbirsingh-qasource commented on #101869
Provided  "Actions and Connector" feature under management to **All** , after that this error is not showing.

Can you please confirm if that will be required to set all along with the security feature role configuration.

[2021-06-10 10:36] MadameSheema commented on #101869
Thanks @karanbirsingh-qasource

The error is happening because the user doesn't have permissions for `Actions and Connectors`. If you give that role permissions no error is going to be displayed.

Can you please select `All` for `Actions and Connectors` and give it another try? If no error is displayed, please close this ticket because is not an actual bug.

Note that when reporting a bug during R

[2021-06-10 10:38] karanbirsingh-qasource commented on #101869
Ok thanks @MadameSheema for the confirmation.

Closing this issue as after providing all to `Actions and Connectors` error is not receiving.

[2021-06-10 10:38] #101869 closed

[2021-06-10 10:40] ghost opened #101873 "[Security Solution]Hover Tooltip is not getting displayed for 'Cases' tab title."
**Description:**
Hover Tooltip is not getting displayed for 'Cases' tab title.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be installed

[2021-06-10 10:40] elasticmachine commented on #101873
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 10:40] mandeepkaur-qasource commented on #101873
@manishgupta-qasource Please review!

[2021-06-10 10:43] elasticmachine commented on #101873
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-10 10:44] karanbirsingh-qasource commented on #101725
Hi @MadameSheema

We have tried to replicate the issue with same role configuration as of initial , however now error is not encountering . we will keep an eye if the same occurred again.

**Role Configuration :**
[code]
Hence closing this issue.

thank !!

[2021-06-10 10:44] #101725 closed

[2021-06-10 10:44] manishgupta-qasource commented on #101873
Reviewed & Assigned @MadameSheema

[2021-06-10 10:45] deepikakeshav-qasource opened #101874 "[Security Solution] [Query] "OR" button is disable for "Add endpoint event exception". Unable to create the exception with "OR""
**Description**
[Query] "OR" button is disable for "Add endpoint event exception". Unable to create the exception with "OR"

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Event should be created.

**Steps to Reproduce:**
1. Navigate to the Host tab under security.
2. Click on "Event" tab.
3. Click on "More Actions". then click on "Ad

[2021-06-10 10:45] elasticmachine commented on #101874
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-10 10:45] deepikakeshav-qasource commented on #101874
@manishgupta-qasource Please review!!

[2021-06-10 10:47] elasticmachine commented on #101874
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-10 10:50] manishgupta-qasource commented on #101874
Reviewed & Assigned to @kevinlog

[2021-06-10 11:08] peteharverson opened #101877 "[ML] Add support for searchable GUID anomaly detection job tag"
Job tags are being added to anomaly detection jobs in security modules to provide additional metadata equivalent. One of these fields is a GUID, which will be used to precisely identify the job. The tags will be stored inside a `job_tags` field added to the existing `custom_settings` field, with the GUID field being `euid` ('Elastic unique identifier'), for example:

[code]

- The `euid` field nee

[2021-06-10 11:08] elasticmachine commented on #101877
Pinging @elastic/ml-ui (:ml)

[2021-06-10 11:32] godofglow commented on #96341
any news regarding this issue?

[2021-06-10 11:43] ymao1 commented on #101821
Gotcha. So it looks like if I give explicit access to `Index Pattern Management`, I will be able to see the management page but giving explicit `none` to `Index Pattern Management` but access to `Discover` will grant access to the saved object but not surface the management page.

I think if as long as that is the outcome of Cases/Connectors, that would be fine. I was thinking with the suggested p

[2021-06-10 12:08] Dosant commented on #95376
cc @mattkime

[2021-06-10 12:11] nicenemo commented on #100870
I assume the videos are no longer needed? Sorry about the slow reaction. We were sorting out issues with Elastic Cloud and your support team on something else.

[2021-06-10 12:14] vikramnr commented on #13784
@alexfrancoeur Just wanted to confirm if this has gone live in the latest version?

[2021-06-10 12:16] #101002 closed

[2021-06-10 12:19] ghudgins commented on #101573
All of these ideas sound great: 1) don't render if it doesn't fit 2) decrease font size for value labels 3) color options or something that alleviates the white outline complaint

related charts issue: https://github.com/elastic/elastic-charts/issues/1123

[2021-06-10 12:29] stacey-gammon commented on #93941
Sounds reasonable to me!

[2021-06-10 12:30] DartShinigami commented on #77333
Sir I tried your workaround but with no luck any inside that you could provide me. I'm using kibana and elastic on docker ubuntu 20.04 here is my docker compose file.

`version: '2.2'

services:
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    container_name: es01
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=

[2021-06-10 12:33] nreese commented on #100870
Yes, we were able to reproduce the issue and have merged a fix. The fix will be in 7.13.2

[2021-06-10 12:43] consulthys commented on #10095
Just checking in one year later... Has there been any progress on this?

[2021-06-10 12:52] #101583 closed

[2021-06-10 13:08] jonathan-buttner commented on #101821
Oh sorry for the miscommunication. Yeah we only want access to the saved objects, we wouldn't grant access to the connector management page.

[2021-06-10 13:17] #68329 closed

[2021-06-10 13:39] jesslm commented on #101830
This issue came up for a user that is planning to start on-prem and then move to Elastic Cloud after they complete their PoX. They want to use Fleet to manage all of the integrations and they're wondering what the process is for migrating their Fleet set-up to the cloud. They're hoping for a smooth transition with as little repeated work as possible. For example, maybe there could be a way to save

[2021-06-10 13:44] #98352 closed

[2021-06-10 13:44] estermv commented on #100133
Thanks, @ravikesarwani and @jasonrhodes  for your answers!
It seems that the "Alerts and rules" dropdown is still a bit far to be ready to be implemented and needs a bit more thinking and discussion around it.

So I would like to suggest decoupling the two streams of work that I see here:

**1- Focus on solving the current problem that is described in this issue**

This would be solved by adding t

[2021-06-10 13:45] joshdover commented on #48925
It seems the biggest theme of cleanup is around what I would call "improving the robustness of the UiSettings service". This is definitely important for making sure that any future changes in this area do not break existing plugins. For example:
- Migrations for settings
- update settings / permission management #94668
- settings are rendered in UI and can be modified even if a plugin-owner is dis

[2021-06-10 13:45] #98351 closed

[2021-06-10 13:53] neptunian opened #101898 "[Monitoring] Alert status always shows clear despite existing alert"
After connecting to the Edge cluster on master, visit Stack Monitoring.

CPU usage alert is active in Management:
<img width="1087" alt="Screen Shot 2021-06-10 at 8 58 33 AM" src="https://user-images.githubusercontent.com/1676003/121529136-19e5cf00-c9ca-11eb-8921-01b83a2a8af1.png">

Alerts are shown to exist in overview:
<img width="869" alt="Screen Shot 2021-06-10 at 8 56 17 AM" src="https://user

[2021-06-10 13:53] elasticmachine commented on #101898
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-10 13:55] joshdover commented on #101351
Probably? Though this behavior has been here quite some time and I haven't seen it be a significant source of support issues. However we don't have great visibility into it, so I'm not sure how frequent it's happening.

They would need to manually delete these documents from the index. Pre-system indices this is feasible for customers to do, which works out perfectly if we're ok with blocking upgr

[2021-06-10 14:09] HuangXiaoyu3331 commented on #70081
Kibana version: 7.13.0
elasticsearch version: 7.13.0
mysql version: 8
metricbeat version: 7.13.0

same problem

[2021-06-10 14:11] sqren commented on #96284
@AlexanderWert Is this just about DynamoDB? (only seeing type and subtype for that here https://github.com/elastic/kibana/issues/96284#issuecomment-815565933)

[2021-06-10 14:13] jportner commented on #100489
Tag is a bit of a special case. Recently (as of last week) I met with Product stakeholders and we decided to exclude tags from sharing for the time being. The biggest reason for this is that we don't currently have a way to reconcile/merge similar tags (two different tags with the same label). So I think we can safely convert tags to `namespaceType:
multiple-isolated'` in 8.0 and leave them like t

[2021-06-10 14:23] yuliacech opened #101902 "Add data streams names to PackagePolicyService of Fleet server"
Hello team,

we would like to display integration policies in Index Lifecycle Management (ILM) so that users have a good overview of how their data retention is configured. To make connections between an integration policy and an ILM policy, we would need to match integration's data streams to index templates that use the ILM policy in question.
It would make this query much easier if the complete

[2021-06-10 14:28] jportner commented on #91615
I can handle it. We are already doing authZ checks for `initialNamespaces` so there shouldn't be anything extra to do there.

[2021-06-10 14:28] formgeist commented on #96284
@sqren The description refers to https://github.com/elastic/apm/issues/410 and https://github.com/elastic/apm/issues/408 for both AWS and Azure subtypes that we'll need to show either icons for.

[2021-06-10 14:33] jportner opened #101904 "Allow creating isolated saved objects with `initialNamespaces`"
The SavedObjectsRepository (SOR) and SavedObjectsClient (SOC) expose two methods to create saved objects: `create`, and `bulkCreate`. Each of these contains an option for `initialNamespaces`. This was originally intended to allow saved objects to be created in multiple spaces (for example, `initialNamespaces: '*'` or `initialNamespaces: ['default', 'awesome-space']`).

However, in exploring #91615

[2021-06-10 14:37] wylieconlon opened #101905 "[Lens] Formula followups"
Minor bugs:

- [x] Update the icons used for the formula editor (reference + word wrap) once EUI is merged (https://github.com/elastic/kibana/pull/101334) @dej611 => #103287
- [x] Documentation of formula in public docs - add to timeseries tutorial https://github.com/elastic/kibana/pull/103154
- [ ] KQL autocomplete with `\'` does not replace word, for example `category.keyword: Men's` will become

[2021-06-10 14:40] joshdover opened #101907 "Plugins should only be able to directly access UiSettings that they registered"
## Summary

As a plugin developer, I want to be able to control who has access to any UiSettings that I register.

### Acceptance Criteria

1. If plugin A registers a UiSetting
1. Only plugin A should be able to directly access it via the JavaScript clients (server and client) and from the HTTP API.
2. Other plugins should only be able to access the setting if it is exposed by the registering plug

[2021-06-10 14:40] elasticmachine commented on #101907
Pinging @elastic/kibana-core (Team:Core)

[2021-06-10 14:44] sqren commented on #99181
Is it important that this is configurable via index patterns? Or is the feature request rather to have clickable links? If it's the latter we already have https://github.com/elastic/kibana/issues/38384

[2021-06-10 14:58] ravikesarwani commented on #101898
Yes, I reviewed and tested in my environment as well and this looks like a bug. Node listing page is not reflecting the correct status in the Alerts column. It is showing Clear and green dot when it should be showing say red dot and alerts.

[2021-06-10 15:03] pheyos opened #101910 "[ML] Functional tests - check if modules_auditbeat esArchive needs to be updated"
The ML modules test esArchive `modules_auditbeat` (containing the index `ft_module_auditbeat`) is coming from an old auditbeat instance, so it is not matched by the recently added `security_auth` module (see #101840).

We should check
- if we still need this dataset or if it can be replaced by `module_siem_auditbeat`
- and in case we still need it: if we want to update the dataset

[2021-06-10 15:03] elasticmachine commented on #101910
Pinging @elastic/ml-ui (:ml)

[2021-06-10 15:16] rayafratkina commented on #101538
+1 I had no idea it existed either. Agree with Stacey, we should remove it.
cc @mfinkle

[2021-06-10 15:23] TinaHeiligers commented on #91107
The test setup is against an instance of Kibana on 8.0.0 that was previously migrated to 8.0.0 using the v1 migration algorithm.
In this case, the v2 migration flow converts `.kibana_1` to `.kibana_8.0.0_001`, copying all documents over to the new alias.

[2021-06-10 15:32] lukasolson commented on #91374
Resolved by https://github.com/elastic/kibana/pull/94793.

[2021-06-10 15:32] #91374 closed

[2021-06-10 15:35] #101679 closed

[2021-06-10 15:41] ravikesarwani commented on #100133
I am good with fast incremental progress and focusing on (1) and get that delivered.
I do however feel that it maybe better user experience if we solve that via a menu option (Alerts and rules->Create default rules) and not via a button that appears sometimes. I am a little bit uneasy about the user experience where things appears and disappears based on certain conditions.
I was thinking if we wa

[2021-06-10 15:50] YulNaumenko opened #101916 "[Actions] Change config path for `xpack.actions.customHostSettings` from the `.tls.` config key portion to `.ssl.`"
This is a follow up issue on the @legrego [comment on the PR](https://github.com/elastic/kibana/pull/100179#pullrequestreview-680892745):

Change the `.tls.` config key portion to `.ssl.` in the `xpack.actions` configuration. So `xpack.actions.customHostSettings.tls.verificationMode` will become `xpack.actions.customHostSettings.ssl.verificationMode`.

[2021-06-10 15:50] elasticmachine commented on #101916
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-10 15:57] gonzo919 commented on #101406
@TinaHeiligers anyone that could help with updating this?

[2021-06-10 16:07] kibanamachine commented on #100966
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14702/)

[2021-06-10 16:21] dgieselaar opened #101920 "[APM] Guard against OOM in scripted metric agg for service maps"
We've seen reports that the scripted metric agg we use for service maps can cause Elasticsearch to OOM, if the number of events is high. We can prevent this by setting a max number of events to be processed, and throwing an error if this limit is exceeded. It's quite hard to return _something_ if we can't guarantee that we've seen the entire data set, and given the fact that we'll be moving away f

[2021-06-10 16:21] elasticmachine commented on #101920
Pinging @elastic/apm-ui (Team:apm)

[2021-06-10 16:47] kibanamachine opened #101923 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/security_solution·ts - Security Solution Detections Create Rule Flow Custom Query Rule Define Step default view meets a11y requirements"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14561/)

[2021-06-10 16:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14561/)

[2021-06-10 16:51] estermv commented on #100133
Yes, that's true. And it's also easy and simple 😊

I'm calling the same API endpoint used for the auto-creation and I'm planning to use the same one for the "Create default rules", so this should work, but I'll double-check it.

[2021-06-10 17:02] jbudz commented on #100966
skipped
main: 00089bf
7.x: 0e25a90

[2021-06-10 17:03] #101755 closed

[2021-06-10 17:03] ppf2 opened #101925 "Move taskManager "Latest Monitored Stats" to trace level?"
Looking at a log file that is 3+Gb in size, with 2.5Gb of taskManager "Latest Monitored Stats" entries below.  Perhaps we can move these to `trace` level so that if the user turns on debug level logging for troubleshooting some feature related issues, it will not swamp the logs with these messages?

[code]

[2021-06-10 17:38] estermv opened #101932 "[Monitoring] Enter setup mode button shouldn't appear on setup mode after visiting other pages"
**Kibana version:** master

**Describe the bug:**
When a user enters on setup mode in Stack Monitoring and then visits any other page if the user goes back to Stack Monitoring they still are on setup mode but the "Enter setup mode" button also appears.

**Steps to reproduce:**
1. Go to Stack Monitoring
2. Click on Enter setup mode
3. Go to any other page outside Stack Monitoring (for example, clic

[2021-06-10 17:38] elasticmachine commented on #101932
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-10 17:38] elasticmachine commented on #101932
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-10 17:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14562/)

[2021-06-10 17:47] EricDavisX commented on #101294
thanks so much - I'll close this out then!

[2021-06-10 17:47] #101294 closed

[2021-06-10 17:51] jbudz commented on #95707
7.x: 079b0b4

[2021-06-10 17:52] jbudz commented on #101923
skipped
main: 01bf004
7.x: 079b0b4

[2021-06-10 17:52] mfinkle commented on #101538
Sounds good to me. The README seems to be a better place to start reading about the project.

[2021-06-10 17:57] kobelb commented on #101351
This seems reasonable to me.

[2021-06-10 18:03] petrklapka opened #101937 "Filtered Field Lists"
Functional Requirements:
- Field Lists In Kibana Are Too Long/Contain Too Many Useless Entries - Filter Them Based On Dataset Context

[2021-06-10 18:04] elasticmachine commented on #101937
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-10 18:07] sophiec20 commented on #101836
This reproduces by deploying recent kibana and elasticsearch builds (tar.gz). Both coexist fine, snapshots can restore, users can be created, ml jobs can be run etc.

Upon first restart of Kibana, the Kibana logs get this far
[code]

Followed by error
[code]

This does not seem recoverable.

Anything you can do to resolve would be appreciated, as this holds up development (incl review and qa) when

[2021-06-10 18:14] neptunian commented on #101898
This is a regression from https://github.com/elastic/kibana/pull/89410/files#diff-a38876ae2fa7f0713b805a45635fb79255eff3c10d9bdf6a911e92eef04ee93bR139.  Not sure why `uuid` was added here.

[2021-06-10 18:35] wylieconlon opened #101942 "[Lens] Support categorical coloring by name"
This feature was [originally](https://github.com/elastic/kibana/issues/68404#issuecomment-646282018) [listed](https://github.com/elastic/kibana/issues/68330) [as a requirement](https://github.com/elastic/kibana/issues/53661#issuecomment-615395357) of categorical color palettes in Lens, as it solves [common problems](https://github.com/elastic/kibana/issues/96044) that Lens users are facing.

## Re

[2021-06-10 18:35] elasticmachine commented on #101942
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-10 18:39] elasticmachine commented on #95707
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-10 18:43] nchaulet commented on #101836
@pgayvallet  I am able to have a repro if you try to put a mapping `nested` with `enabled:false` it seems to always fail, I am wondering if we should move our mappings here from `nested` to `object`or if it's a bug

[2021-06-10 18:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14563/)

[2021-06-10 18:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14563/)

[2021-06-10 18:52] legrego opened #101944 "Unable to use index patterns against indices with a `__proto__` field"
The `elasticsearch-js` client that Kibana uses for all communication to Elasticsearch has builtin protections to mitigate the risk of prototype pollution attacks. While this is useful in practice, it can have unintended consequences.

It appears that these protections are preventing index patterns from being used if there is an index mapping with a `__proto__` field.

## Reproduction steps
1) Crea

[2021-06-10 18:52] elasticmachine commented on #101944
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-10 18:55] smith opened #101945 "[AO] Units for alert evaluation display"
The `kibana.rac.alert.evaluation.value` and `kibana.rac.alert.evaluation.threshold` are [defined as floats in the mapping](https://github.com/elastic/kibana/blob/9417b699b89678ceaa25350bf58eb7296e9da2e3/x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts#L52-L53).

The flyout currently just displays the raw values which isn't very useful:

![CleanShot 2021-06-10 at 13

[2021-06-10 18:56] stacey-gammon opened #101946 "eslint rule prohibiting deep imports not always working"
You can see in[ this file](https://github.com/elastic/kibana/blob/master/x-pack/plugins/runtime_fields/public/shared_imports.ts) there are deep imports, no eslint overrides, and no errors.

Only code from `server/index`, `public/index` and `common/index` should be importable.

[2021-06-10 18:56] elasticmachine commented on #101946
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-10 18:57] pgayvallet commented on #101836
Let's see what @romseygeek thinks about it, but given that these mappings, or the way we update them during SO migration, did not change in the past month, I would tend to think that this is on ES's side.

[2021-06-10 18:59] stacey-gammon opened #101947 "Implement prefer readonly eslint rule"
Consider adopting this rule https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-readonly.md and this rule: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-readonly-parameter-types.md

[2021-06-10 18:59] elasticmachine commented on #101947
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-10 19:04] stacey-gammon opened #101948 "Deprecate extraPublicDirs"
After chatting with @spalger, I propose we deprecate `extraPublicDirs` and only support `server/index`, `public/index` and `common/index`. Having very clear and explicit plugin boundaries is essential for understanding what is part of a public API and what is private and this extra variable will create confusion without a large benefit.

[2021-06-10 19:04] elasticmachine commented on #101948
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-10 19:33] #94137 closed

[2021-06-10 19:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14564/)

[2021-06-10 19:47] kibanamachine commented on #101923
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14564/)

[2021-06-10 20:18] kibanamachine commented on #101454
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14707/)

[2021-06-10 20:46] kobelb opened #101964 "Remove `xpack.index`, `xpack.reporting.index`, `xpack.task_manager.index` settings"
As discussed in https://github.com/elastic/kibana/issues/82020, we will be removing the following settings in 8.0:
- `kibana.index`
- `xpack.reporting.index`
- `xpack.task_manager.index`

These settings have already been deprecated in 7.x; however, they have not been removed from `master`.

The Observability team currently takes advantage of these settings to allow their developers to use a multi-