[2022-02-17 21:00] jbudz commented on #112699
Moved to https://github.com/elastic/kibana/issues/126000.  Thanks everyone.

[2022-02-17 21:00] #112699 closed

[2022-02-17 21:00] tylersmalley commented on #54668
Is this still a priority or something teams need?

[2022-02-17 21:02] flash1293 commented on #54668
Not relevant anymore for VisEditors as actual rendering got moved to elastic-charts which is handling this outside of Kibana

[2022-02-17 21:05] kibanamachine commented on #115415
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10533#cb6fc1a9-4bd3-4244-ab84-e26ed07c9ce5)

[2022-02-17 21:07] stacey-gammon commented on #101947
In my opinion consistency in our code-base helps immensely, but we are too big to require everyone to agree on something before turning it on. If an eslint rule is beneficial, I don't think we should block ourselves because everyone might not agree.

What if we come up with a more maintainable path forward for introducing eslint rules? Something that won't require massive work on the ops team.  Fo

[2022-02-17 21:11] jbudz commented on #125033
Skipped

main: d0135481a85fd9225c507560f9c219fbc3f111d6
8.1: 7931a3cf5f1356eff5cb3452bb02750a87a9693f

[2022-02-17 21:16] TheRiffRafi opened #126002 "can't modify linked data view for "Saved Query" object"
**Kibana version:** 8.0

**Elasticsearch version:** 8.0

**Describe the bug:**
When one saves a query it creates a relationship to the data view that was selected at the moment of saving the query:

<img width="1531" alt="Screen Shot 2022-02-17 at 16 08 06" src="https://user-images.githubusercontent.com/62263912/154571021-8082b2d3-e849-4916-8e8b-bee4755fb12c.png">

If one goes back to the query, a

[2022-02-17 21:24] crowens commented on #125968
I have a similar issue maybe, but seen on upgrade. I have an existing Agent Policy that I had before upgrading to 8.0.  Now I see I have an upgrade available for the system integration in one of the policies, but trying to upgrade it fails with the same error seen above.

![image](https://user-images.githubusercontent.com/6376821/154572910-b13285b5-9ecc-4a42-9d87-6b7038b6fc60.png)
![image](https:/

[2022-02-17 22:14] jbudz commented on #115415
/skip

[2022-02-17 22:19] tsullivan commented on #120995
Resolved by https://github.com/elastic/kibana/pull/123963#issuecomment-1043534878

[2022-02-17 22:19] #120995 closed

[2022-02-17 22:28] gchaps commented on #124346
I think the warning message is a little repetitive and should be reduced to one line:

### Bulk delete from table

**1-line warning**
Data views are deleted from every space they are shared in.

**Text above table**
You'll permanently delete 7 data views.
or
You're about to delete 7 data views.

### Single delete from table

**1-line warning**
Data views are deleted from every space they are share

[2022-02-17 23:29] Danouchka commented on #125985
Same thing for cisco & juniper routers logs categorization.
No geolocation fields in my records  and yet I have locations on France map
I have attached a set of documents for testing

**Anomaly detection job**

  "job_id": "cj_high_low_log_count_job",
  "job_type": "anomaly_detector",
  "job_version": "7.17.0",
  "create_time": 1644422414565,
  "model_snapshot_id": "1645128082",
  "groups": [

[2022-02-17 23:34] jethr0null commented on #100969
This functionality with ship with 8.1. See internal video demo here: https://drive.google.com/file/d/1y92iK8mIjgshNsPXj6y22u0crp60szfH/view

[2022-02-17 23:35] #100969 closed

[2022-02-17 23:39] jen-huang commented on #125968
@crowens Thank a lot for raising that! @juliaElastic The initial report is a bit of an edge case, but the one reported by Chris is far more concerning to me, could you look into that?

[2022-02-17 23:41] nickpeihl opened #126008 "[Maps] Clusters and grids layers with Top term or Unique count metrics can crash app"
**Kibana version:**
8.1 and main

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

While reviewing https://github.com/elastic/kibana/pull/125803, I discovered a bug that affects 8.1 and the main branch. A cluster or grid layer with a Metrics aggregation of Top Term or Unique Count causes an error when styling the Fill color by category.

[2022-02-18 00:32] sqren commented on #125789
I can totally see the problem. If a customer knows they have 999 services, and we only show 50 without any explanation, they'll wonder where the remaining 949 are.

However, this is already a limitation in the product today. The limit is just much higher (500) so fewer customers hit this limit today than if we lower it to 50.

What do you think about getting rid of the pagination and replacing it

[2022-02-18 03:36] jportner commented on #125452
This error `invalid_alias_name_exception: [invalid_alias_name_exception] Reason: Invalid alias name [.kibana_8.2.0]: an index or data stream exists with the same name as the alias` looks like a transient error that has nothing to do with this test suite, closing this and will investigate further if it reappears.

[2022-02-18 03:38] jportner commented on #124068
This error `invalid_alias_name_exception: [invalid_alias_name_exception] Reason: Invalid alias name [.kibana_8.2.0]: an index or data stream exists with the same name as the alias` looks like a transient error that has nothing to do with this test suite, closing this and will investigate further if it reappears.

We had a different test suite that failed 2 weeks later (#125452) with the same error

[2022-02-18 03:38] #124068 closed

[2022-02-18 03:46] jportner commented on #125275
Capturing the full log before it disappears from Jenkins:

[code]

Here's the screenshot:

![image](https://user-images.githubusercontent.com/5295965/154613495-10ca87a2-f6db-4c0a-920a-e80e632fe1a2.png)

The button that it says it can't find ('apiKeysCreatePromptButton') is the "Create API key: button that is clearly displayed in the screenshot.

@liza-mae have you seen repeated failures for this t

[2022-02-18 05:40] tsullivan opened #126012 "[Reporting/CSV] Investigate simplifying job params in csv_searchsource"
The csv_searchsource job parameters in Reporting include an optional `columns` field, which is typed to `string[]`.

Searchsource has the ability to have fields in its serialized form. We should see if using SearchSource's fields is a usable replacement for the `columns` field.

The way that the fields would be added to the searchsource has to respect the user's `discover:searchFieldsFromSource` s

[2022-02-18 05:40] elasticmachine commented on #126012
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-18 07:15] Kunzetsov commented on #125797
@cqliu1, +1 I love this approach

[2022-02-18 07:44] mag-mkorn commented on #125756
I can conform that this fixes the problem. But what changed from 7.17 to 8.0 that leads to this error? As per docs the default alrady was true in 7.17.

And yes, of course the error message is very misleading.

[2022-02-18 08:42] dcolazin commented on #122233
Done, thanks to @Heenawter !

[2022-02-18 09:45] carlopuri commented on #17301
+1 please

have the possibility to esclude some values from dropdown control using filters as in other visualizations is very useful.

[2022-02-18 09:56] ajocelynpatrick commented on #4612
Any evolution on this subject? I still reproduce the problem on Kibana 7.16

[2022-02-18 11:06] Fondaz commented on #11758
Same here with 7.11.2, I want to use a per-visualisation size, but the default discover:sampleSize is taken in account. For obvious reason I can't modify discover:sampleSize and I want it to remain 500, meanwhile in my visualization I only want 10 results.

[2022-02-18 11:27] #124556 closed

[2022-02-18 11:37] kibanamachine commented on #122838
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10595#4e00facd-24c9-4d74-8b41-97b050dbd840)

[2022-02-18 11:37] kibanamachine commented on #124413
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10595#4e00facd-24c9-4d74-8b41-97b050dbd840)

[2022-02-18 11:39] kibanamachine commented on #122838
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10593#cfb5e14f-33e1-47d6-b948-23e5a0a34fc5)

[2022-02-18 11:39] kibanamachine commented on #124413
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10593#cfb5e14f-33e1-47d6-b948-23e5a0a34fc5)

[2022-02-18 12:59] flash1293 commented on #123591
@elasticforme In case you didn't test yet, the snapshots are available in the meantime:
* https://snapshots.elastic.co/7.17.1-598c7994/downloads/kibana/kibana-7.17.1-SNAPSHOT-darwin-aarch64.tar.gz
* https://snapshots.elastic.co/7.17.1-598c7994/downloads/kibana/kibana-7.17.1-SNAPSHOT-linux-aarch64.tar.gz
* https://snapshots.elastic.co/7.17.1-598c7994/downloads/kibana/kibana-7.17.1-SNAPSHOT-windows-

[2022-02-18 14:49] cstegm opened #126020 "Improve Central Pipeline Managment (Logstash)"
As an admin i want to have:

- Store versions of pipelines + to be able to revert something
- i want to disable pipelines without deleting them
- Save a pipeline without deploying
- syntax check
- typing suggestions for pipeline 2 pipeline adresses and fieldnames, tags, etc.
- typing suggestions for inputs, filter, outputs

[2022-02-18 16:17] cjcenizal commented on #124396
With https://github.com/elastic/elasticsearch/issues/83116 addressed, I think this is now unblocked by ES.

[2022-02-18 16:44] alisonelizabeth commented on #124396
Yes. I found a gap in the original ES change, which was addressed by https://github.com/elastic/elasticsearch/pull/84145 on Thursday, so this should be good to proceed with now.

[2022-02-18 19:01] tsullivan opened #126024 "[Reporting] `xpack.reporting.queue.pollEnabled` should not be enabled for ECE"
In ECE, all kibana configurations are the same. This doesn't fit the model of configuring multiple instances of Kibana to put focus on / take focus off individual instances for report execution.

It'stated in the documentation of Reporting config settings, that `xpack.reporting.queue.pollEnabled: false` only allows Reporting to work if there at least one other Kibana instance in the cluster that h

[2022-02-18 19:01] elasticmachine commented on #126024
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-18 19:37] estebanz01 commented on #125590
I'm facing this same issue and I believe it's caused by kibana 8.0.0 not updating properly the systemd service unit to have the latest changes for that particular version. I can change it manually, but I think the deb upgrade should handle that.

[2022-02-18 21:21] jetnet commented on #15628
just a hint: use "```pretty=false```" in your Kibana queries, that returns a valid JSON, e.g.:
[code]

[2022-02-18 22:30] ducttapecoder-vt commented on #78014
Not OP but when I ran into the same issue with 7.16.2, clearing the "Offline website data" in Firefox did clear the commands and the issue for me. Restoring them and re-running did not re-trigger the pop-up.

[2022-02-18 23:03] a03nikki commented on #68571
I figured out why this is confusing:

In the Stack Monitoring UI, the Files and the Bytes columns for shard recoveries are the `recovered / total` of the measurement.  The Translog is `total / total_on_start`.  This is confirmed by #22085.   I also confirmed by comparing the Stack Monitoring UI with the `GET _recover` [API](https://www.elastic.co/guide/en/elasticsearch/reference/7.17/indices-recov

[2022-02-18 23:08] stefnestor commented on #121416
As a mini vote, I'd like to be able to duplicate an existing space (or use it as starting template to create a new space). The call out in my mind is this feature would automatically assign the same kibana privileges & copy over saved objects for me.

[2022-02-19 01:45] kibanamachine commented on #92567
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10650#49623c06-f846-459e-8d10-0c27c3aee233)

[2022-02-19 02:32] kibanamachine opened #126027 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_scripted_fields_filter·js - management filter scripted fields should filter scripted fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10654#1f68a518-b520-47cc-b050-5c10f36719d1)

[2022-02-19 11:01] philippkahr opened #126028 "[APM] APM integration is activated but inside APM view it tells me to install the integration"
**Kibana version:** 8

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

When deploying using ESS I will automatically get an APM integration for my Integrations server. However in the APM view the big button in the middle should be the `add data` button that shows me the second screenshot, where I get information on how to instrument my app.
<im

[2022-02-19 11:01] elasticmachine commented on #126028
Pinging @elastic/apm-ui (Team:apm)

[2022-02-19 12:55] kibanamachine commented on #119770
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10694#ea4417c1-a866-47a8-84fb-e9df09cb6199)

[2022-02-20 14:43] yitzchake commented on #123113
@mtojek , can you list the command you used to implement the service token? I'm running into the same isssue

[2022-02-20 16:27] elasticmachine commented on #125795
Pinging @elastic/kibana-core (Team:Core)

[2022-02-20 17:33] kibanamachine opened #126031 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search/async_search·ts - Dashboard dashboard with async search timed out should show error"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10794#0d972033-e3ff-4ddd-b636-411a87487a8c)

[2022-02-20 17:33] kibanamachine opened #126032 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search/async_search·ts - Dashboard dashboard with async search "after all" hook: afterTestSuite.trigger for "multiple searches are grouped and only single error popup is shown""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10794#0d972033-e3ff-4ddd-b636-411a87487a8c)

[2022-02-20 19:56] kibanamachine opened #126033 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/embeddable_library·ts - dashboard app using current data embeddable library unlink map panel from embeddable library"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10817#33091358-4f31-4598-a30f-95b556d0ceb4)

[2022-02-20 20:48] kibanamachine opened #126034 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/epm/list·ts - Fleet Endpoints EPM Endpoints EPM - list list api tests lists all limited packages from the registry"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10823#bf6e57b4-8665-409d-a9ed-3be3a8d99170)

[2022-02-21 00:51] kibanamachine opened #126036 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/components - when rendering the endpoint list `AdminSearchBar` should pre-populate with value from url"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10839#09a30d82-ab79-4884-9a6a-b539824197cf)

[2022-02-21 00:56] matschaffer opened #126037 "Quicker option for running per-module doc stats"
When working on https://github.com/elastic/kibana/pull/125467#issuecomment-1041343811 I found I had increased the "Public APIs missing comments" count for the `monitoring` plugin, so I tried to fix that.

Unfortunately it's a little difficult to know exactly what to do.

I ran `node scripts/build_api_docs --plugin monitoring --stats comments` but that OOMed due to https://github.com/elastic/kibana

[2022-02-21 02:59] matschaffer commented on #124594
https://github.com/elastic/kibana/blob/f466ebf1a3fc33ea09ea51853811fe3a8f77c1d2/x-pack/test/api_integration/apis/monitoring/elasticsearch/index_detail.js appears to be the test in question. I'll run it locally for starters.

[2022-02-21 03:00] matschaffer commented on #124594
https://github.com/elastic/kibana/blob/f9488f41f711841d40623c486bfd4002069aace1/x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/index_detail.json#L802 contains the additional `reason` fields that the description is highlighting as missing.

[2022-02-21 03:03] matschaffer commented on #124594
This appears to be one of the highlighted test runs https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2876/JOB=xpackExtGrp2,TASK=saas_run_kibana_tests,node=ess-testing/testReport/X-Pack%20API%20Integration%20Tests1/x-pack_test_api_integration_apis_monitoring_elasticsearch_index_detail%C2%B7js/apis_Monitoring_Elasticsearch_index_detail_should_summarize_index_with

[2022-02-21 03:12] matschaffer commented on #124594
The same test runs fine locally.

<img width="1904" alt="Screen Shot 2022-02-21 at 12 05 29" src="https://user-images.githubusercontent.com/690/154882549-a981b25e-f4a5-4e1d-ae0e-63d15bf7f20e.png">

You can use these to confirm from kibana `main`:

[code]

I can even see the additional fields in a debugger:

<img width="1904" alt="Screen_Shot_2022-02-21_at_12_06_44" src="https://user-images.githubu

[2022-02-21 03:15] matschaffer commented on #124594
The `correctIndexName` seems to come from https://github.com/elastic/kibana/blob/26c1dae0dfed5e86dbeb4a367aa2207021857943/x-pack/plugins/monitoring/server/lib/logs/detect_reason_from_exception.ts#L16, so guessing the data set is causing some exception.

[2022-02-21 03:27] matschaffer commented on #124594
So something about the test harness is landing here https://github.com/elastic/kibana/blob/de206fb5942e017ceaeff8d5d20d01eff3c9fe2d/x-pack/plugins/monitoring/server/lib/logs/get_logs.ts#L140 rather than getting a successful log response from ES.

Judging from the query and text field reference, I suspect the mappings for `filebeat-*` are incorrect in the ESTF cluster.

During normal kibana CI, I d

[2022-02-21 04:18] matschaffer commented on #124595
See https://github.com/elastic/kibana/issues/124594 for investigation into what I suspect is the same underlying cause.

[2022-02-21 04:18] matschaffer commented on #124596
See https://github.com/elastic/kibana/issues/124594 for investigation into what I suspect is the same underlying cause.

[2022-02-21 04:32] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10855#2a4ea963-c601-4801-9871-61b9cb30b9b0)

[2022-02-21 05:46] matschaffer commented on #124594
I reached out to @liza-mae on slack and will work on trying to replicate the failure case locally via ESTF. Guessing I'll be on my own a bit here given the US holiday.

[2022-02-21 06:26] deepikakeshav-qasource commented on #125474
Hi @MadameSheema ,

We have validated this issue for **ML Rule** and **upgrade scenarios** on **8.1.0 BC3** build and found that issue is **Fixed**

**Build Details:**
[code]
**Screenshots**
**ML rule type on 8.1.0 BC3**
![image](https://user-images.githubusercontent.com/61860752/154634168-5b9e3d1f-4cc5-4eca-a959-72ea372135c1.png)

**Upgrade Scenarios for all rules**

https://user-images.githubuse

[2022-02-21 06:26] #125474 closed

[2022-02-21 06:32] matschaffer commented on #124594
So far I've got this

[code]

But the output looks a little different from CI in the `Task :saas:saas_setup` section. Not sure how to get it running similarly to CI here.

I need to be able to inspect the state of elasticsearch after the test failure.

[2022-02-21 07:03] formgeist commented on #100660
The style will be updated as part of https://github.com/elastic/kibana/issues/121520

[2022-02-21 07:03] #100660 closed

[2022-02-21 07:14] deepikakeshav-qasource opened #126040 "[Security Solution] Drop down is disable in show top modal under cases."
**Describe the bug**
Drop down is disable in show top modal under cases.

**Build Details:**
[code]

**Preconditions**
1. Alerts should be generated.

**Steps to Reproduce**
1. Navigate to alerts tab under security
2. Attach the generated alert to case
3. Navigate to cases tab of security
4. Open the case that have the alert attached
5. Click on view details icon of alerts
6. Click on show top mod

[2022-02-21 07:14] elasticmachine commented on #126040
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 07:40] matschaffer commented on #124594
Current failure is

[code]

But I can't see the CI output using that same API. It's also the old API so wonder if there's some env var I'm missing to tell it to use the v1 API to do the cluster creation.

[2022-02-21 07:59] karanbirsingh-qasource opened #126041 "[Security Solution]Indicator Match Enriched data get lost after build upgrade"
**Describe the bug**
Indicator Match Enriched data get lost after build upgrade under summary tab

**Build Details**
[code]

**Pre-Condition**
- Create a 7.17.0 Released Build
- Create a indicator Match Rule with Enriched data
- Copy the Alert id at your end to find this alert after upgrade

**Configuration of Indicator Rule**

![image](https://user-images.githubusercontent.com/59917825/154911434-

[2022-02-21 07:59] elasticmachine commented on #126041
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 08:13] matschaffer commented on #124594
Ah. It looks like the 8.1 branch might have updates not on 8.0 yet. Will try again on that branch.

[2022-02-21 08:22] juliaElastic commented on #125968
@crowens @jen-huang the update issue reported by Chris is not related to this issue. The former happens in 8.0 and caused by having two integration policies named system-1 I think. The latter happens only in 8.1.

[2022-02-21 08:57] #125904 closed

[2022-02-21 08:59] manishgupta-qasource commented on #126041
Reviewed & assigned to @MadameSheema

[2022-02-21 09:29] toby-sutor opened #126045 "Allow multiple index pattern configuration for the "Logs" app as it was with the deprecated indices setting"
**Kibana version:** 7.17.0

**Server OS version:** ESS

**Browser version:** Chrome

**Describe the bug:**

Under the Logs app settings (`/app/logs/settings`) it is possible to configure either indices directly, which is deprecated. Or to use the index patterns now, which is encouraged.
When using the deprecated index method, it is possible to configure and correlate different indices. However, wh

[2022-02-21 09:29] elasticmachine commented on #126045
Pinging @elastic/unified-observability (Team:Observability)

[2022-02-21 09:35] pgayvallet commented on #125240
## Analysis

I initially though this was related to the basePath proxy, but the behavior is the exact same when running with `no-base-path`, I quickly excluded this option.

Then, I used https://github.com/elastic/kibana/pull/125069 to try to understand the differences between the working and non-working scenarios.

My conclusion is that it's failing for requests having a payload:
- I adapted the

[2022-02-21 09:41] dikshachauhan-qasource commented on #124785
Hi Josh we can have a small meeting and try it there as I'm still able to reproduce. Lets connect on slack for same.

[2022-02-21 09:50] deepikakeshav-qasource opened #126046 "[Security Solution] Custom index is not displayed when add or delete the index pattern under bulk actions"
**Describe the bug**
Custom index is not displayed when add or delete the index pattern under bulk actions

**Build Details:**
[code]

**Preconditions**
1. Custom index should be created

**Steps to Reproduce**
1. Create a rule with created custom index.
2. Navigate to rules page.
3. Select the rule and click on bulk action
4. Click on Delete index pattern
5. Observe that custom index is not displ

[2022-02-21 09:50] elasticmachine commented on #126046
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 09:54] elasticmachine commented on #125033
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 10:01] Dosant commented on #113246
Added another use-case that we were asked a couple of times:

[2022-02-21 10:08] Nikhil1402 opened #126047 "Control List Additional feature"
**Describe the feature:**
Need to pin only a set of fields and not all fields in the options list

**Describe a specific use case for the feature:**
We need to filter programs, projects and sub projects based on project manager. However the project manager field does not exist in other datasources thus when the filter propagates to other dashboards we do not see the required data.

Would be great

[2022-02-21 10:15] fkanout opened #126049 "[RAC][METRICS] Update reason message description {{context.reason}}"
# 🔖 Summary
Part of https://github.com/elastic/kibana/issues/119090, it's required to align the description of the reason message with other application

# ✅ AC
- Update reason message description to be "A concise description of the reason for the alert"

[2022-02-21 10:21] sophiec20 commented on #125966
Agree that stack traces should be directed at Kibana logs, rather than anything more user facing atm. As the task execution repeats, it would be good to also consider some method for throttling this to ensure we don't excessively spam logs with repeated stack traces.

[2022-02-21 10:31] Nikhil1402 commented on #123537
Hi Thomson, For us it takes too long to load our spends related data. In a dashboard that includes data from the spends file and the budget file it gets even worse. And then there are dashboards that contain data from multiple datasources including the spends data. The budget data is also heavy but not as heavy as the spends file.

The spends data for example includes various costs we incur, and m

[2022-02-21 10:58] joshdover commented on #118479
Logs from most recent failure:

[code]

@paul-tavares Could this be related to Endpoint's `getPackagePolicyUpdateCallback` that runs after policy upgrades?

[2022-02-21 10:58] kertal commented on #105882
closing this since it has not failed in recent internal-ci tests, last flaky failures in 7.15, November
<img width="1164" alt="Bildschirmfoto 2022-02-21 um 11 58 14" src="https://user-images.githubusercontent.com/463851/154942146-37f82266-e3a3-487c-87eb-171aa460ff4b.png">

[2022-02-21 10:58] #105882 closed

[2022-02-21 11:01] kertal commented on #98402
Closing this since it no longer failed recently, last failure in August
<img width="1167" alt="Bildschirmfoto 2022-02-21 um 12 00 13" src="https://user-images.githubusercontent.com/463851/154942489-43e02bf7-2738-49fc-9379-2723ff7356b8.png">

[2022-02-21 11:01] #98402 closed

[2022-02-21 11:08] kertal commented on #98413
Closing since it has no longer failed since Sept. 23rd so it should have been fixed in a recent minor
<img width="1172" alt="Bildschirmfoto 2022-02-21 um 12 07 10" src="https://user-images.githubusercontent.com/463851/154943518-9c0b0fc2-f78d-4f67-8cfd-93f465c6a7fc.png">

[2022-02-21 11:08] #98413 closed

[2022-02-21 11:08] #118851 closed

[2022-02-21 11:08] #123219 closed

[2022-02-21 11:10] kertal commented on #110357
Closing it since it stopped failing on Sept 23rd ... so it has been fixed in a recent minor
<img width="1174" alt="Bildschirmfoto 2022-02-21 um 12 09 37" src="https://user-images.githubusercontent.com/463851/154943998-c88140fb-4e04-4e5a-8843-5105df291747.png">

[2022-02-21 11:10] #110357 closed

[2022-02-21 11:13] kertal commented on #105339
Closing since it stopped failing on Sept 9th, so it has been fixed in a recent minor
<img width="1164" alt="Bildschirmfoto 2022-02-21 um 12 12 20" src="https://user-images.githubusercontent.com/463851/154944370-cc97da42-a69a-46d5-8b5a-16e917d49b91.png">

[2022-02-21 11:13] #105339 closed

[2022-02-21 11:26] #121639 closed

[2022-02-21 11:35] qcorporation opened #126054 "[Security Solution][Meta] Add Session Views [Details, List]"
**Background**
Session View is a new feature that will be introduced to Elastic Security as part of a large support for Linux Security/Observability into the Elastic platform. The benefit of this feature is to provide a Session Exploration experience in-platform that allows customers to explore Linux session data within the Kibana console.
This provides enhanced visibility into what are the differ

[2022-02-21 11:46] qcorporation opened #126056 "[Epic] Details Panel for Session View"
### Story

#### Basic View
As a user looking at Session Viewer to analyze sessions, I want to see additional metadata or details associated with that Session, specifically

##### 1. Details of the Server/Host where the session is running
@codearos Please add your host and OS details here that you have in Figma
[code]

##### 2. Details of the Entry Session
[code]

##### 3. Details of a certain proc

[2022-02-21 11:48] gmmorris commented on #125804
Is there a reason to use `-1` on the API rather than just omit the value in the API as well?
IMHO it will make maintenance easier if both the HTTP API and RulesClient API use the same semantics.

[2022-02-21 11:56] joshdover commented on #125919
This points to a problem with our design. Our current build step fetches these package versions from production EPR by default yet we don't want to publish these packages to production until they're actually ready. The problem here is we're doing all of our testing of Fleet setup's process against these older package versions which is not what we're going to ship. It also means I'm not sure we can

[2022-02-21 11:57] joshdover commented on #125919
cc @kpollich

[2022-02-21 12:01] deepikakeshav-qasource opened #126057 "[Security Solution] Exit Full screen icon not displayed when open the resolver on full screen page"
**Describe the bug**
Exit Full screen icon not displayed when open the resolver on full screen page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Alerts should be triggered

**Steps to Reproduce**
1. Navigate to alerts page
2. Click on full screen icon
3. Click on resolver icon
4. Observe that UI broken exit Full screen icon not displayed

**Actual Result**
Exit Full s

[2022-02-21 12:06] karanverma-qasource commented on #124742
Hi @yctercero ,

We have validated above issue on 8.1.0 BC3 recent build and issue is still occurring.

[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/91867110/154952151-3d2bebea-f1cc-4a8e-aa26-035c5a275e59.png)

Thanks !

[2022-02-21 12:10] karanverma-qasource commented on #124919
Hi @marshallmain ,

Thanks you so much for your detailed explanation. We got the value for the field `kibana.alert.group.index` as suggested above. So, we are good to close this ticket.

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/154952558-d6ccb18c-f0ab-49b7-9ba2-ad549dfbe316.png)

![image](https://user-images.githubusercontent.com/91867110/154952743-68fd17ab-b73

[2022-02-21 12:10] #124919 closed

[2022-02-21 12:12] samratbhadra-qasource commented on #112095
Hi @joshdover

We have created the future test cases for this ticket and uploaded the same on testrail. Please find below the test cases link:
- **[C165599](https://elastic.testrail.io/index.php?/cases/view/165599)**
- **[C165598](https://elastic.testrail.io/index.php?/cases/view/165598)**
- **[C165600](https://elastic.testrail.io/index.php?/cases/view/165600)**

Further, we will create more test

[2022-02-21 12:19] joshdover commented on #124785
@dikshachauhan-qasource demo'd to me what she's seeing today and now I can see more clearly what's going on here. To reproduce, you need to do the following:

1. Create a deployment on ESS staging with 7.17.0
2. Migrate APM Server to managed mode (via Kibana/Observability/APM/Settings/Schema)
3. Navigate to APM Integration (Fleet/Agent Policies/Elastic Cloud agent policy/Elastic APM - Edit Integra

[2022-02-21 12:21] axw commented on #125919
Pulling from snapshot is where we would like to go for APM eventually: see https://github.com/elastic/kibana/issues/112095#issuecomment-1011990815

The gist is:

 - we (APM) automatically and periodically push a new `apm-<stack version>` package to snapshot, overwriting an older one if it exists: https://github.com/elastic/apm-server/issues/6970
 - when the stack release happens, we'll promote the

[2022-02-21 12:28] dikshachauhan-qasource opened #126060 "APM version 7.16.0 is installed by default instead of 7.17.0 when added to Fleet at 7.17 Kibana deployment."
*Kibana version:**  7.17 Kibana cloud staging environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 7.17 staging Kibana cloud staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Observability APM section.
- Add Elastic APM integration to Elastic Cloud agent policy.
- Navigate to Fleet/Policy/E

[2022-02-21 12:29] elasticmachine commented on #126060
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 12:30] dikshachauhan-qasource commented on #124785
Hi @joshdover

We have created required ticket at https://github.com/elastic/kibana/issues/126060

[2022-02-21 12:30] janmonschke commented on #125491
The PR has been merged now

[2022-02-21 12:30] joshdover commented on #126060
Do we know if this is still an issue on later 7.17.x versions?

cc @dannycroft @ogupte

[2022-02-21 12:38] qcorporation opened #126062 "[Security Solution] Add Session Leader Table"
## Background

The security solution will be adding a session leader table as part of the larger initiative of a session list view. The session leaders table will list all sessions based upon the search criteria outlined within the main search bar as well as the date picker
By default, the session leader table will the fields displayed within the table
[executable, start time, user, group, entry.m

[2022-02-21 12:42] weltenwort commented on #123447
Sorry for the inconvenience - this should be fixed in elastic/kibana#123285 by now.

[2022-02-21 12:49] karanbirsingh-qasource opened #126064 "[Security Solution]Data View Update after build upgrade throws few error prompt"
**Describe the bug**
[Timeline] Data View Update after build upgrade throws few error prompt

**Build Details**
[code]

**Pre-Condition**
- Create a 7.17.0 Released Build
- Download the Timeline ndjson from here
- import the timeline on 7.17.0  [this json](https://p.elstc.co/paste/jkI+ekox#WiwWFs4rs9iydXeTTI67D9sLztjH+4nKzFV5wnQNxrD) as a `timelines.ndjson` file and upload the timelines to the tim

[2022-02-21 12:49] elasticmachine commented on #126064
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 12:55] manishgupta-qasource commented on #126064
Reviewed & assigned to @MadameSheema

[2022-02-21 12:56] qcorporation opened #126065 "[Security Solution] Add Alerts Details into Session Details View"
## Background
The session details view will embed alerts within the entries. Alerts will be tagged with an "Alert" tag which can be expanded to display additional information.
Navigating from the alerts page by selecting an alert to investigate, the session details page must differentiate that Alert from the other alerts embedded within the view.

Alerts that have missing process entry information

[2022-02-21 12:57] kpatticha opened #126066 "[APM] Reset filter value when the field type changes in custom links"
creating the ticket after the [comment](https://github.com/elastic/kibana/pull/122648/files#r797629510)

### Summary

Reproduce

- go to settings
- click on custom links tab
- create a custom link
- select a filter type a value
- change the filter

https://user-images.githubusercontent.com/3369346/154959113-7f676b8d-0a65-415e-af3e-ec7eef0d6997.mov

### expected behaviour

Reset the filter value wh

[2022-02-21 12:57] elasticmachine commented on #126066
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 13:05] dikshachauhan-qasource opened #126067 "Non-super users unable to view events under Data Stream tab even with All rights to Fleet management."
*Kibana version:**  8.1 BC3 Kibana cloud staging environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 8.1 BC3 staging Kibana cloud staging environment should be available.

**Build Details:**
[code]

2. Agent should be installed and streaming data under data stream tab with super user account.

![image](https://user-images.githubusercontent.com/72375798/154960569-4

[2022-02-21 13:16] stratoula commented on #126047
@Nikhil1402 hey! Can you attach some screenshots to understand the use case better?

If I understand correctly you have a dashboard with an options list that creates some filters, correct? And you pin them in order to be distributed in each dashboard? Why don't you create the filters you want in each dashboard without pinning them?

There is an advanced setting, if you turn it on, the filters that

[2022-02-21 13:18] academo opened #126069 "Refactor "Add to new case" timeline action button to move it out of timelines."

[2022-02-21 13:18] academo opened #126070 "Refactor "Add to existing case" timeline action button to move it out of timelines."

[2022-02-21 13:21] qcorporation opened #126073 "[Security Solution] Add toggle to show/hide grouped session events to reduce noise"
## Background
Give the ability for the user to collapse processes within the session leaders process group. The feature will allow users to hide processes usually seen in a shell such as the noise generated from shell startup.
The user will have the ability to collapse and uncollapse all grouped events within the session details view

## Tasks

- [ ] Provide the user at the top of the session a to

[2022-02-21 13:22] spinscale opened #126074 "Threshold based alert throws exception when no documents are returned"
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Describe the bug:**

When creating a threshold based alert (via watcher) an exception is thrown when a `null` value is returned by an aggregation due to not matching any documents

**Steps to reproduce:**

Run this in kibana console

[code]

**Expected behavior:**

No exception is thrown, as the exception should cater for this behavi

[2022-02-21 13:32] Nikhil1402 commented on #126047
Thanks a lot @stratoula for your response. Infact, we have created a user space for project managers and in this user space, the project managers have access to multiple dashboards via a home page dashboard (links to all dashboards for project managers). These managers manage multiple projects and hence due to changes in nomenclature they are unable to select the right projects.
We have Budget dat

[2022-02-21 13:32] #123535 closed

[2022-02-21 13:33] elasticmachine commented on #126033
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-21 13:35] elasticmachine commented on #126034
Pinging @elastic/fleet (Team:Fleet)

[2022-02-21 13:35] qcorporation opened #126076 "[Security Solution] Add Free-Text Search Capabilities to Session Details View"
## Background
A search bar will be provided to the user to perform a free-text search of the session detail view ONLY. The search does not apply to the other information within the event, including data within the details panel.
Additionally, the search is an in-browser search and will NOT query the Elastic database
The search will have a search button but the search can also be initiated via the

[2022-02-21 13:35] elasticmachine commented on #126036
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 13:36] elasticmachine commented on #126027
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-21 13:38] MikePaquette opened #126077 "[Security Solution] Timeline not showing sufficient time range to initiate investigation of alert created by imported rule"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 13:39] mistic commented on #126027
Skipped.

main: c257ea05bea

[2022-02-21 13:42] gbamparop opened #126078 "[APM] Error message doesn't include all the missing privileges when the user is unauthorised to create an agent key"
When some of the apm application privileges are missing an [appropriate error](https://github.com/elastic/kibana/blob/4efc9c05b83fcd305f74e037bc32cae8c78b6062/x-pack/plugins/apm/server/routes/agent_keys/create_agent_key.ts#L44) is returned to the user. However, when the user doesn't have `manage_own_api_key` or `mange_api_key`, these missing privileges are not included in the error message.

The e

[2022-02-21 13:44] elasticmachine commented on #126078
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 13:48] joshdover commented on #125542
Thanks for the explanation and for filing this, @ogupte. When this is re-visited, please consider any feedback/changes to the Fleet UI extension API that could make this simpler. I'd like to see us collaborate on how to make the integration points between Fleet and other Kibana plugins easier to consume and improve it's design to avoid "foot-guns" like this one.

[2022-02-21 13:52] #122326 closed

[2022-02-21 14:04] juliaElastic commented on #124785
I think this is the same bug I fixed [here](https://github.com/elastic/kibana/pull/125068/files/2ec6255a22de92cba8603b3ebf11e3f0a68f5ad0#diff-7bf3f1a4fd0357fc82bfb671340733a12c228e038cfe72ea7d1a3002643abc47) from 8.1+, we can probably backport to 8.0 as well.

[2022-02-21 14:08] MadameSheema opened #126081 "[Security Solution] Possible EventTarget memory leak detected"
**Describe the bug:**
- With the same configuration used on the CI execution, the memory leak message is displayed when you create more than one rule.

**Kibana/Elasticsearch Stack version:**
main/8.2

**Steps to reproduce:**
1. With the same configuration used on the CI
2. Create 2 rules

**Current behavior:**
- The first rule generate alerts
- The second rule does not generate alerts
- The follo

[2022-02-21 14:08] elasticmachine commented on #126081
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 14:13] joshdover opened #126082 "[Fleet] Automate bumping package-storage docker image used for tests"
We have a pinned version of the package-storage docker image used to run our tests against. We have to periodically update this pinned version manually (whenever someone remembers). It'd be nice if we could automatically update this on regular basis, say weekly.

This could work similar to the ES snapshot promotion jobs where we run a CI job against the latest version produced Beats CI and automat

[2022-02-21 14:13] elasticmachine commented on #126082
Pinging @elastic/fleet (Team:Fleet)

[2022-02-21 14:17] MikePaquette opened #126083 "[Security Solution] When adding a field to Timeline Template, width is too small to see entire field name"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:17] elasticmachine commented on #126083
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 14:17] MikePaquette opened #126084 "[Security Solution] "Tour" under rules cannot go back to Step 1"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:17] MikePaquette opened #126085 "[Security Solution] Rules: "Custom" filter is not sticky, leading to annoying repeated clicks to re-select custom rules"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:18] MikePaquette opened #126086 "[Security Solution] Rules: Column Sorting not Sticky, leading to annoying repeated clicks to re-sort Rules table"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:18] elasticmachine commented on #126086
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 14:18] MikePaquette opened #126087 "[Security Solution] Rule Export toaster message includes confusing statement "Prebuilt Rules were excluded...""
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:18] elasticmachine commented on #126087
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 14:22] ymao1 commented on #126081
I think this is related to using the abortable es client search in the security rules executor. [PR here](https://github.com/elastic/kibana/pull/121255). It seems that every time the search client is used for a rule execution, it reuses the same abort signal and the event handlers are not properly removed from the abort signal. It looks like more than 10 searches are being executed during a rule e

[2022-02-21 14:25] MadameSheema commented on #126081
Thanks @ymao1!! As far as I know, the tests have not changed at all, not sure if something changed on the rules side.

[2022-02-21 14:29] vitaliidm commented on #125508
Current implementation (before rulesClient bulkUpdate):

Summary:
- 625 rules(all custom)
  - All disabled: 1 ~ 15s, 5 ~ 22s
  - All enabled: 1 ~ 29s, 5 ~ 61s
- 1250 rules(half Elastic/half custom)
  - All disabled: 1 ~ 14s, 5 ~ 22s
  - Half enabled: 1 ~ 14s, 5 ~ 23s
  - All enabled: 1 ~ 30s, 5 ~ 61s
- 1250 rules(all custom)
  - All disabled: 1 ~ 28s , 5 ~ 45s
  - Half enabled: 1 ~ 45s, 5 ~ 87s

[2022-02-21 14:34] ymao1 opened #126089 "[Alerting] Possible EventTarget memory leak detected"
Related to: https://github.com/elastic/kibana/issues/126081

When using the abortable ES client, the same abort signal is re-used for each search. With every search, an event handler is added to the abort signal and it looks like they might not be properly cleaned up. After 10 searches with the same abort signal, the following message shows up:

[code]

Here is the PR for the ES transport client h

[2022-02-21 14:34] elasticmachine commented on #126089
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-21 14:34] ymao1 commented on #126081
Alerting issue: https://github.com/elastic/kibana/issues/126089

[2022-02-21 14:38] ymao1 commented on #126089
This first appeared in the security solutions functional tests, which didn't start failing until almost 2 months after the switch for security rules to start using the abortable search client. Wondering if something changed in the security rule executors to increase the number of searches being performed or possibly something changed with this recent PR that involved the Elasticsearch client? http

[2022-02-21 14:38] stratoula commented on #126047
I see now, so the parent index has the field so it will be filtered. But you would like to omit a filter, even if the field exists in the datasource, do I get it correctly now?

[2022-02-21 14:39] sqren opened #126091 "[APM] Add setting to specify default environment"
Related to https://github.com/elastic/apm-server/issues/4468
Related to: https://github.com/elastic/kibana/issues/126100

Currently the UI defaults to showing data across all environments. This creates a bad initial experience since mixing environments creates unexpected results. ML jobs are restricted to specific environments so won't show up in this case. Additionally querying across all environ

[2022-02-21 14:40] elasticmachine commented on #126091
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 14:40] formgeist commented on #126028
@philippkahr Thanks for reporting this. We have what I believe is a duplicate issue https://github.com/elastic/kibana/issues/125907 - do you agree? I'll await your confirmation before closing this. Feel free to subscribe to the other issue (if that fits your experience too).

[2022-02-21 14:41] Nikhil1402 commented on #126047
exactly, Yes omit in the sense that I would not like to pin it, so that it does not affect the user flow.

I need to pin the remaining filters based on the selection of my first filter (that doesn't have to be pinned)

[2022-02-21 14:41] mag-mkorn commented on #125756
Adding the remote_cluster_client Role to all nodes of the Monitoring Cluster seems to work just as well.

[2022-02-21 14:43] sqren commented on #78764
If we can get agreement on https://github.com/elastic/kibana/issues/126091 this can be closed.

[2022-02-21 14:43] MikePaquette opened #126092 "[Security Solution] Threat Intel card on overview page shows persistent caution message"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:43] MikePaquette opened #126093 "[Security Solution] Timeline Template AutoSave feature seems unreliable - Not reproduced"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-21 14:43] elasticmachine commented on #126093
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-21 14:50] formgeist commented on #78764
Another option is to look to use the new user entity model to keep the preferred environment settings per user? It will be more persistent if a single default environment isn't good enough (say the user often switches between production and staging environments, it's often better to just remember their last viewed option, wouldn't you agree?)

[2022-02-21 14:52] MadameSheema commented on #125354
@monina-n when users does not have the privilege to update the alerts, we are not displaying the option:

<img width="958" alt="Screenshot 2022-02-21 at 15 45 18" src="https://user-images.githubusercontent.com/17427073/154978401-ff7f2f4d-9026-40cb-afd5-5480a3c6e9b9.png">

[2022-02-21 14:52] gbamparop opened #126094 "[APM] Unnecessarily api calls are made when viewing an AWS lambda service"
When viewing an AWS lambda service the instances latency distribution chart and the instances table are not displayed in service overview, transactions and transaction overview pages.

However, API requests are still made to the following endpoints
- `internal/apm/services/{serviceName}/service_overview_instances/main_statistics`
- `internal/apm/services/{serviceName}/transaction/charts/breakdown`

[2022-02-21 14:53] elasticmachine commented on #126094
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 14:54] stratoula opened #126095 "[Meta] Unified search experience across kibana"
**Describe the feature:**
We want to unify the search experience across Elastic with a composable and extensible query bar.

**Problem statements (high level)**
 - Inconsistent: Why doesn’t it work like Discover in Solutions?
 - This OR that: It’s hard to setup boolean expressions around my complex filters and understand the relationship between filters and the query bar. Security team solving for

[2022-02-21 14:54] elasticmachine commented on #126095
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-21 14:54] elasticmachine commented on #126095
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-21 14:54] elasticmachine commented on #126095
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-21 14:54] elasticmachine commented on #126095
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-21 14:54] elasticmachine commented on #126095
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-21 15:01] ph commented on #125919
Looking at the version for fleet-server and agent these are the latest version.

[2022-02-21 15:17] dannycroft commented on #126091
@chrisdistasio @alex-fedotyev are there any specific telemetry requirements you would want here?

[2022-02-21 15:22] jsoriano commented on #125919
Andrew's solution looks good by now for packages with a 1-1 dependency with the kibana version, but I have some comments:
* We have a dependency cycle here (apm 8.2.0 is intended to be used with Kibana 8.2.0, Kibana 8.2.0 is intended to include apm 8.2.0). This is always going to complicate things, It'd be good to break this cycle if possible.
* We plan to have a single public registry in the near

[2022-02-21 15:25] dannycroft commented on #78764
Closed in favor of https://github.com/elastic/kibana/issues/126091

[2022-02-21 15:25] #78764 closed

[2022-02-21 15:34] kpatticha commented on #126091
At this point, we'll keep the `All` option?

[2022-02-21 15:40] MikePaquette commented on #126077
@kqualters-elastic has verified that this issue seems to be limited to rules that have been imported, and does not occur on newly created rules.  It should be noted that the 12 rules on which this problem was observed were originally created on an older version of the Stack, and have been imported/exported many times from this origin.   I'm lowering this impact to "high."

[2022-02-21 15:43] sqren opened #126100 "[APM] Urge the user to specify a default environment"
In https://github.com/elastic/kibana/issues/126091 we are making it possible to specify a default environment in Advanced Setting.
To make sure the user knows about this setting we should make it discoverable in APM UI.

We could show a callout when the user selects a environment and they haven't already specified a default one:
<img width="848" alt="image" src="https://user-images.githubuserconte

[2022-02-21 15:43] elasticmachine commented on #126100
Pinging @elastic/apm-ui (Team:apm)

[2022-02-21 16:05] gbamparop commented on #124265
@bmorelli25 thanks!

[2022-02-21 16:09] joshdover opened #126101 "[Design] Add support for signed packages"
This is a placeholder issue to discuss the UX and technical design to support the upcoming package signing feature that will be implemented by the Package Registry.

### Scope (wip)

- Add signature verification information to Integrations UI
- Add ability to require package signature verification before install or upgrades
- Update bundled package tooling to use signatures for verification

### O

[2022-02-21 16:09] elasticmachine commented on #126101
Pinging @elastic/fleet (Team:Fleet)

[2022-02-21 16:09] joshdover commented on #47723
Replaced by https://github.com/elastic/kibana/issues/126101

[2022-02-21 16:09] #47723 closed

[2022-02-21 16:14] katrin-freihofner opened #126103 "[Uptime UI] Delete monitor confirmation modal"
Please consider the following updates to the delete monitor modal in Uptime:

![delete-modal](https://user-images.githubusercontent.com/20965076/154991060-b6b79fb8-fb8c-42c4-93d0-c8b526703f1b.png)

**Headline**: Delete monitor [monitor name]

**Text**: This action will delete any data collected for this monitor. This action cannot be undone.

**Buttons**: Cancel Delete

cc @liciavale @drewpost

[2022-02-21 16:14] elasticmachine commented on #126103
Pinging @elastic/uptime (Team:uptime)

[2022-02-21 16:42] gbamparop commented on #119028
As @formgeist mentions we have a limited color palette for accessibility and as the number of services / nodes can be large, if we assign a color per node it's possible that we'll have color combinations in the waterfall that don't sit well together. It would be great to see how many of them we are expecting in a trace though so we could investigate to what extend this is going to be an issue.

[2022-02-21 16:43] joshdover commented on #124785
@juliaElastic Ah nice, thanks for starting the backport https://github.com/elastic/kibana/pull/126102

@nchaulet Would that cause this issue though? The `Unable to create package policy. Package 'apm' already exists on this agent policy` error message isn't visible after editing the package policy on 7.17.0. It's only there after upgrading to 8.0, where we do set the `id`. I thought upgrading from

[2022-02-21 16:45] joshdover commented on #124785
@juliaElastic I think we should probably backport https://github.com/elastic/kibana/pull/126102 to 7.17 as well for a future patch release.

[2022-02-21 16:45] mshustov commented on #124538
We don't have to delete it. We can programmatically disable `bfecth` on Cloud. @Dosant already added an appropriate setting https://github.com/elastic/kibana/pull/123942 Even though, I think the setting should be deployment-based and configured by admins, instead of being user-based as implemented.

It can be interesting to compare server-side metrics as well. Especially CPU load and event-loop de

[2022-02-21 16:52] #122988 closed

[2022-02-21 16:53] #114002 closed

[2022-02-21 16:57] joshdover commented on #124785
I was able to confirm that changing the name back does this the problem. I did this manually from Dev Tools with a user I created with write access to system indices and now Fleet loads correctly.

[code]

@nchaulet you were right. The issue is that the `id` wasn't specified on the preconfigured package policy when it was created in 7.17.0, so the issue comes up because 8.0.0 isn't matching on tha

[2022-02-21 17:24] mtojek commented on #126101
I can share more details.

From the fleet perspective, there will be an additional field to be consumed from the EPR endpoint - [signature_path](https://github.com/elastic/package-registry/blob/4a270e45cb76e4482f3d214512679c073abe10ed/packages/package.go#L91). This is a link to the signature file. For example:

[signature file](https://storage.googleapis.com/elastic-bekitzur-package-storage/artifa

[2022-02-21 17:25] joshdover commented on #112095
We've delayed the changes to support air-gapped ECE to 8.2, so that can wait.

[2022-02-21 17:40] drewpost commented on #126103
Just to double check, does this actually delete the results data from previous test runs OR is it only removing the monitor configuration?

[2022-02-21 18:54] elasticmachine commented on #125627
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-21 19:03] cjcenizal opened #126109 "Improve ILM error reporting in Index Management UI"
This issue resulted from a conversation with @imkarrer.

## Problem

### Long feedback loop

When there's an error with a lifecycle policy, the only way to you're notified of these errors is when you open Index Management and see an error callout. The only way to review the indices which are encountering ILM errors is to filter on `ilm.step:ERROR` and then click each index to see the information a

[2022-02-21 19:03] elasticmachine commented on #126109
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-21 19:06] cjcenizal opened #126110 "[META] ILM enhancements"
* https://github.com/elastic/kibana/issues/126109
* https://github.com/elastic/kibana/issues/123296
* https://github.com/elastic/kibana/issues/120757
* https://github.com/elastic/kibana/issues/116314
* https://github.com/elastic/kibana/issues/115983
* https://github.com/elastic/kibana/issues/109834
* https://github.com/elastic/kibana/issues/109226
* https://github.com/elastic/kibana/issues/108060

[2022-02-21 19:06] elasticmachine commented on #126110
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-21 19:10] elasticmachine commented on #102901
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-21 20:17] kibanamachine opened #126112 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation_saved_search·ts - machine learning data frame analytics outlier detection saved search creation with lucene query navigates through the wizard and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10916#980fa475-cf91-4abe-93f3-5ec459b37ac4)

[2022-02-21 20:17] cajensen commented on #14472
This would be very helpful for our use case

[2022-02-21 20:35] mostlyjason opened #126113 "[Fleet] Several errors on 8.0 upgrade"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Server OS version:**
ubuntu

**Original install method (e.g. download page, yum, from source, etc.):**
docker

**Describe the bug:**
I found several errors in the logs after upgrading my on-prem cluster to 8.0:
1. It looks like it tried to install several packages and failed due to conflicts. It then tried to uninstall packages, which also

[2022-02-21 20:35] elasticmachine commented on #126113
Pinging @elastic/fleet (Team:Fleet)

[2022-02-21 21:17] elasticmachine commented on #126112
Pinging @elastic/ml-ui (:ml)

[2022-02-21 22:13] nchaulet commented on #124785
Yes I do not think we have that much option to mitigate this we could backport https://github.com/elastic/kibana/pull/124953
And we should probably document the workaround in case people got the error, not sure if a lot of users used managed APM server and change the name in 7.17

[2022-02-22 01:15] kqualters-elastic commented on #126093
@MikePaquette do you recall if you attempted to make a comment before anything else? That is a known issue.

[2022-02-22 02:36] matschaffer opened #126118 "Make "hot" shards easier to spot in stack monitoring"
**Describe the feature:**

Provide a way of showing "hot" shards in the stack montoring UI. Specifically ES nodes that are spending most of their time attempting to write to a single index.

This usually manifests as a high write threadpool on the node. Additionally you'll see a number of ES tasks backed up for a given node/index combination.

**Describe a specific use case for the feature:**

Int

[2022-02-22 02:36] elasticmachine commented on #126118
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-22 02:39] matschaffer commented on #126118
See above (internal) cloud issues for details

[2022-02-22 02:42] matschaffer commented on #126118
I think a good first step would probably be something that highlights nodes with a high write threadpool (or bulk on older ES versions).

[2022-02-22 03:01] axw commented on #125919
As long as we don't have to do this by hand, it's fine if we add a build tag. I don't see a good reason to accumulate packages during development though. The only APM package that Fleet should ever install is the one that's bundled, and these snapshot packages would exist only to satisfy bundling, and package search/docs in the UI.

[2022-02-22 03:04] matschaffer commented on #124594
Doing better now that I'm on the 8.1 branch, but the test suite assumes it can successfully clone kibana repo (> 1gb) on the first try which isn't true for my home connection.

Trying to see if I can get it working using an externally managed persistent repo clone.

[2022-02-22 04:21] ossie-git commented on #125171
Hi @marshallmain ,

Looking at the hits, I noticed the following:

* the `winlogbeat-*` records do not have `event.ingested`. I'm not sure why. Isn't this part of being ECS-complaint?
* the `logs-*` records (created by the Elastic Agent) do have the `event.ingested` field. However, when I look at the source `_index`, it gives me: `.ds-logs-system.security-default-2022.02.09-000001`. However, looki

[2022-02-22 04:26] cjcenizal commented on #78014
@ducttapecoder-vt Do you have any dashboards with map visualizations embedded in them, by any chance? If so, the error you're seeing could be a side effect, tracked by https://github.com/elastic/kibana/issues/98180. This has been fixed in 7.17 (https://github.com/elastic/kibana/pull/124293).

[2022-02-22 04:43] ducttapecoder-vt commented on #78014
No sorry. I'm not sure we even have any dashboards at all actually.

On Mon, Feb 21, 2022 at 11:26 PM CJ Cenizal ***@***.***>
wrote:

[2022-02-22 04:45] kibanamachine commented on #111667
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10951#3426529b-c468-4121-9e72-3aec6893c167)

[2022-02-22 05:32] karanbirsingh-qasource commented on #123209
Hi @MadameSheema

we have validated this issue on 8.0.1 BC1 and found it still fixed. ✔️

Please find below details:

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/155069146-e8328fbd-787d-4ff1-a97e-592ae5a3cebd.mp4

thanks !!

[2022-02-22 05:35] karanbirsingh-qasource commented on #122213
Hi @MadameSheema

we have validated this issue on 8.0.1 BC1 and found it still fixed. ✔️

Please find below details:

**Build Details:**
[code]
**Screen-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/155069468-72e83ecd-f9ac-4eba-a96e-53a03330cbc5.png)

![image](https://user-images.githubusercontent.com/59917825/155069528-bec6b41c-e8e6-42ef-aff6-63c9a65cb821.png)

thanks !!

[2022-02-22 05:38] muskangulati-qasource commented on #122205
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and found it still fixed. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![Windows11](https://user-images.githubusercontent.com/60252716/155069760-ef4e27ec-8bc5-4c6b-903b-e83326e357fb.PNG)

Thanks !!

[2022-02-22 05:50] matschaffer commented on #124594
I managed to get the FTR launched today. It's been running for about 2 hours so far. Will see if it comes up with anything:

Here's what I have going in my local copy:

[code]

[2022-02-22 05:51] matschaffer commented on #124594
Looks like most of the assertions are failing so far though:

[code]

Thinking next week I'll patch in some code to just focus on this test and see if it fails as well. At least then I can get a bit of a dev cycle going on.

[2022-02-22 05:56] deepikakeshav-qasource commented on #120722
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155071753-e0f86b1e-c0b0-4509-9151-0c43a2fb7d47.png)

Thanks !!

[2022-02-22 05:58] karanbirsingh-qasource commented on #122207
Hi @MadameSheema

we have validated this issue on 8.0.1 and found it still fixed. ✔️

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/155072008-c780a233-fe82-4710-ab83-4fd8c11d583c.mp4

thanks !!

[2022-02-22 06:12] deepikakeshav-qasource commented on #119836
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155073357-8197a2e3-a221-4943-b552-8a194311625b.png)

![image](https://user-images.githubusercontent.com/61860752/155073366-ba7b5d44-b991-411f-9e52-2f30d602c364.

[2022-02-22 06:21] karanbirsingh-qasource commented on #122207
Hi @MadameSheema & @jamster10

we have validated this issue on 8.0.1 and found it not fixed. ❌

**Build Details:**
[code]

**Screen-Cast**

https://user-images.githubusercontent.com/59917825/155074350-0f8468d2-4f44-4ea9-8d65-40eb2203eb26.mp4

Hence we are re-opening this issue, we will take care of this issue check on BC2 of 8.0.1.

thanks !!

[2022-02-22 06:28] deepikakeshav-qasource commented on #123500
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155075072-13974ba8-07b3-47bf-a2e3-2e5d5d4403f5.png)

Thanks !!

[2022-02-22 06:28] karanbirsingh-qasource commented on #122207
**Issue is Fixed on 8.1.0 BC3** ✔️
[code]

![image](https://user-images.githubusercontent.com/59917825/155075120-0b69ec3a-0d67-45d3-904c-833b07326798.png)

[2022-02-22 06:37] karanbirsingh-qasource commented on #119313
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.0.1-BC1 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/155076296-bff9b897-38b7-41af-9129-78a873936b24.png)

thanks !!

[2022-02-22 06:41] karanbirsingh-qasource commented on #120711
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.0.1-BC1 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/155076731-c96809d6-c5e0-4ec4-bbe1-5a489488e71a.mp4

[2022-02-22 06:42] karanbirsingh-qasource commented on #120723
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.0.1-BC1 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/155076981-f58439c7-240e-4a7d-8da9-a3a52af9abd9.png)

thanks !!

[2022-02-22 06:45] karanbirsingh-qasource commented on #123300
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.0.1-BC1** and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/155077409-ec25b243-4eff-4c77-a609-a8e3e35f7f6b.mp4

Thanks !!

[2022-02-22 06:47] deepikakeshav-qasource commented on #123413
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**User with Editor role**

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155077285-e44d4622-2d02-47c4-b9a1-39b37e36d50f.png)

**Screencast:**

https://user-images.githubusercontent.com/61860752/155077320-b5

[2022-02-22 07:00] prachigupta-qasource commented on #124817
Hi @MadameSheema ,

We have validated above issue on 8.0.1 BC1 build and it's working fine. ✅

**Build Info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/155077836-88cdc3b2-4469-4e3f-abd1-db6528498435.png)

![image](https://user-images.githubusercontent.com/97870262/155077947-e27549a3-62b8-4a64-90da-61b6e5e242cf.png)

Thanks!

[2022-02-22 07:19] deepikakeshav-qasource commented on #120596
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

https://user-images.githubusercontent.com/61860752/155081817-05a56678-03cc-46b1-b163-9571673a5d18.mp4

We will regress this issue on **8.1.0 BC4**

Thanks !!

[2022-02-22 07:28] prachigupta-qasource commented on #121756
Hi @MadameSheema ,

We have validated this issue on **8.0.1 BC1** and observed that issue is **Still Occurring**. 🔴

**Build info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/155081376-22427bf7-2f93-47c8-bff2-b1f2889d11ef.png)

Hence, We are opening this issue.

Thanks!

[2022-02-22 07:34] dgieselaar commented on #125582
Will be closed by https://github.com/elastic/kibana/pull/126120

[2022-02-22 07:48] deepikakeshav-qasource commented on #122227
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshots:**

- **Hide add exception actions from alerts table if user have read permissions**
![image](https://user-images.githubusercontent.com/61860752/155086209-5ed3c208-56c8-4a9c-be17-f14714f03c0d.png)

- **Hide add exception b

[2022-02-22 08:04] deepikakeshav-qasource commented on #122069
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155088747-e2bd091f-df41-4a0d-bf65-f28536c0f705.png)

Thanks !!

[2022-02-22 08:05] karanverma-qasource commented on #123138
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155077846-0bb2bed7-2ede-44f0-9dce-768ab6ac2104.png)

![image](https://user-images.githubusercontent.com/91867110/155077861-4b085109-01f1-4bc0-9362-e70a451fab21.png)

![image](https://user-images.githubusercontent.com/9

[2022-02-22 08:05] karanverma-qasource commented on #124307
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screen records**

https://user-images.githubusercontent.com/91867110/155081584-d45bbafa-b866-423a-b963-5f401d50fecc.mp4

Thanks !

[2022-02-22 08:05] karanverma-qasource commented on #122958
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screen-records:**

https://user-images.githubusercontent.com/91867110/155079543-437f39d7-e477-4124-bcc0-5dcdbcc8e4ae.mp4

Thanks !

[2022-02-22 08:05] karanverma-qasource commented on #122011
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155081160-bd0eff2a-88b3-450c-98d1-86c2449da04e.png)

![image](https://user-images.githubusercontent.com/91867110/155081187-be484416-0996-439b-9b91-16dfe823c2fc.png)

![image](https://user-images.githubusercontent.com/9

[2022-02-22 08:05] karanverma-qasource commented on #122067
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/91867110/155082170-3e760804-dc53-49f5-a22d-db3915ba63de.png)

![image](https://user-images.githubusercontent.com/91867110/155082198-87f9da43-6f8a-49f8-8378-ac8c6a6f4976.png)

Thanks !

[2022-02-22 08:05] karanverma-qasource commented on #124156
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155085715-6434b430-98c0-4845-ab52-56b0ba61a2a0.png)

![image](https://user-images.githubusercontent.com/91867110/155085745-2f7f1c26-d4b8-4887-b3fc-b9013fb369b7.png)

![image](https://user-images.githubusercontent.com/

[2022-02-22 08:12] deepikakeshav-qasource commented on #120872
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155089865-650480f3-2c23-4b85-8f2f-c84eccc54217.png)

Thanks !!

[2022-02-22 08:13] karanbirsingh-qasource commented on #122990
hi @stephmilovic

we have validated this issue on 8.0.1 BC1 and found that issue is still occuring .

user is able to sort the runtime field and it not disabled.

**Build Details:**
[code]

**Screen-Shoot:**

https://user-images.githubusercontent.com/59917825/155090061-f0e607eb-4eed-4351-9ac9-ca7d575c744c.mp4

[2022-02-22 08:21] smnschneider commented on #70416
+1

[2022-02-22 08:22] deepikakeshav-qasource commented on #120863
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155091254-b59dbf56-6937-48bb-b8ff-64fa6809fe66.png)

![image](https://user-images.githubusercontent.com/61860752/155091408-63c35d6f-5cd3-4362-b470-8a4f04b4b260.

[2022-02-22 08:26] prachigupta-qasource commented on #124742
Hi @MadameSheema ,

We have validated above issue on **8.0.1 BC1** build and **it's working fine**. ✅

**Build info**

[code]

**Screenshots**

https://user-images.githubusercontent.com/97870262/155088594-3757769a-04bc-4cb4-a9e8-384c5ccedaf4.mp4

We will Validate this issue again once the **8.1.0 BC4** available

Thanks!

[2022-02-22 08:32] prachigupta-qasource commented on #123574
Hi @MadameSheema ,

We have validated above issue on **8.0.1 BC1** build and **it's working fine** ✅.

**Build info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/155091136-f110dec6-0d48-4a05-a49b-bfa4ce588e04.png)

![image](https://user-images.githubusercontent.com/97870262/155091180-e2bf0157-a093-4489-b7ea-7f5469a2b359.png)

![image](https://user-images.g

[2022-02-22 08:35] deepikakeshav-qasource commented on #120725
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screen cast:**

https://user-images.githubusercontent.com/61860752/155092914-1c955b12-11ae-46dd-a7d4-6c7c144c6d0e.mp4

Thanks !!

[2022-02-22 08:45] deepikakeshav-qasource commented on #119418
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155095390-8504a545-8cdc-4ba0-9ca8-06c3583efae8.png)

![image](https://user-images.githubusercontent.com/61860752/155095430-81835f11-6ef9-4ead-b003-843ad0597f87.

[2022-02-22 08:48] pgayvallet commented on #124208
https://github.com/elastic/elastic-transport-js/pull/40 is imho the exact implementation we'd like to have.

If we want to implement the same feature from within core, to have something like

[code]

We can for sure implement the logic in our custom `Transport`, but we will also need a way to extend the `TransportResult` and/or `DiagnosticResult` type to add this new `meta.duration` field. I don't

[2022-02-22 08:50] MadameSheema commented on #121756
@yctercero can you please confirm if this issue is expected to be part of 8.0.1?  Thanks! :)

[2022-02-22 08:52] deepikakeshav-qasource commented on #119012
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/155096533-9247b701-e98b-4d66-a39a-b1260aec6405.png)

Thanks !!

[2022-02-22 09:03] iorfix commented on #42005
+1 vote

[2022-02-22 09:04] MadameSheema commented on #125611
Closing the ticket as the field is now out of scope.

Thanks @deepikakeshav-qasource for reporting it! :)

[2022-02-22 09:04] #125611 closed

[2022-02-22 09:14] arvindersingh-qasource opened #126130 ""Add Elastic Agent to your hosts" button navigates to Agent Policy details page instead of opening "Add Agent" flyout on Integration Policies Page."
**Describe the bug**
```Add Elastic Agent to your hosts``` button is navigation to Agent Policy details page instead of opening ```Add Agent``` flyout on Integration Policies Page.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.

**Steps to Reproduce**
1. Navigate to ```Integrations```
2. Open any integration (

[2022-02-22 09:14] elasticmachine commented on #126130
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 09:15] arvindersingh-qasource commented on #126130
@manishgupta-qasource  Please review this bug.

Thanks.

[2022-02-22 09:29] karanverma-qasource commented on #125050
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155100789-37534d2c-46e2-4ad4-b80f-8178f219dab1.png)

![image](https://user-images.githubusercontent.com/91867110/155100835-55bc3c63-0be7-474a-8744-eefb2e2b1bd8.png)

![image](https://user-images.githubusercontent.com/

[2022-02-22 09:29] karanverma-qasource commented on #122455
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155101450-abb4f0a6-011b-497a-a325-26ea15e6dd12.png)

![image](https://user-images.githubusercontent.com/91867110/155101497-7ae60a22-1b74-49b8-b808-64d400ac52b5.png)

![image](https://user-images.githubusercontent.com/

[2022-02-22 09:29] karanverma-qasource commented on #124327
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/155100129-02795633-c28e-4dac-8330-2a43a0d14b4a.png)

![image](https://user-images.githubusercontent.com/91867110/155100162-87d4a989-a26f-4134-a7d0-c78c2268f641.png)

![image](https://user-images.githubusercontent.com/

[2022-02-22 09:30] deepikakeshav-qasource commented on #122009
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

https://user-images.githubusercontent.com/61860752/155102421-b11bda8a-15b9-4c5d-87e7-b8fe761049db.mp4

Thanks !!

[2022-02-22 09:35] dgieselaar opened #126132 "[APM] Transaction Duration Anomaly rule fires alerts for other detector types"
With the [ML multi-metric jobs](https://github.com/elastic/kibana/pull/111957), new detector types were aded. However, the Transaction Duration Anomaly rule doesn't filter on the transaction duration detector type, which means that the rule will fire alerts for throughput and error rate anomalies as well.

[2022-02-22 09:36] elasticmachine commented on #126132
Pinging @elastic/apm-ui (Team:apm)

[2022-02-22 09:36] dgieselaar commented on #112794
There's a bug, described at https://github.com/elastic/kibana/issues/126132. I'll close this one.

[2022-02-22 09:36] #112794 closed

[2022-02-22 09:52] formgeist commented on #125907
There's a bug in the empty state that doesn't check whether an APM integration is installed and policy available so all the user needs to do is to go choose an APM agent to add data. I'd propose a quick fix to change or add a new state when we can verify an integration is installed, we show another button option that will lead the user to the "Add data" tutorial page. This will change eventually,

[2022-02-22 09:56] gmmorris commented on #123860
We have put this on hold while the EUI team explore row expansion, which is a feature we have expressed might be a blocker for us migrating to the EUIDatatGrid.

See more here: https://github.com/elastic/eui/discussions/5638

[2022-02-22 09:58] #124524 closed

[2022-02-22 10:00] pgayvallet commented on #100680
We're including `spanId`, `traceId` and `transactionId` (from APM) to all log entries:

https://github.com/elastic/kibana/blob/7c16e2e57ff7365b587d7d0b7103ed7f6512a8a4/src/core/server/logging/logger.ts#L91-L97

https://github.com/elastic/kibana/blob/755950a52944007f75b7886e548a988b6f12c3dd/src/core/server/logging/layouts/json_layout.ts#L61-L63

so I guess this can be closed?

[2022-02-22 10:01] afharo commented on #100680
I'll go ahead and close it then. Please, feel free to reopen if we missed anything.

[2022-02-22 10:01] #100680 closed

[2022-02-22 10:07] sw-jung commented on #121521
@thomasneirynck In my case, need `precision_threshold` setting for Choropath and Top hits.
![image](https://user-images.githubusercontent.com/5426400/155108823-8d6ff04e-d43c-4d70-98d2-36afc681dfc7.png)
![image](https://user-images.githubusercontent.com/5426400/155109513-fb2bc852-0763-4742-8396-6431b97e0073.png)

However, it would be better if we can set this anywhere that cardinality is used.

[2022-02-22 10:08] jloleysens opened #126133 "[Reporting] Fix skipped pdfmaker.test.ts tests"
After merging https://github.com/elastic/kibana/pull/124787 we skipped the pdfmaker Jest integration tests because they were not able to pass on CI. This has something to do with introduction of the worker_thread code and running this inside the CI environment. Locally pdfmaker tests all pass.

See the associated builds in the linked PR for information about the failures.

## Notes

* The CI failu

[2022-02-22 10:09] juliaElastic commented on #124785
backported for 7.17 too https://github.com/elastic/kibana/pull/126125

[2022-02-22 10:11] klacabane commented on #121258
Here's some status update (with a functional [draft pr](https://github.com/elastic/kibana/pull/125098)) after working sporadically on this over the past few days:

- including the locator initialization to the plugin's setup initially increased the main uptime bundle size 200%. this was caused by the [constants import](https://github.com/elastic/kibana/blob/main/x-pack/plugins/uptime/public/apps/l

[2022-02-22 10:15] elasticmachine commented on #126133
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-22 10:15] elasticmachine commented on #126133
Pinging @elastic/kibana-operations (Team:Operations)

[2022-02-22 10:31] #125582 closed

[2022-02-22 10:35] gmmorris commented on #123982
Thanks @JiaweiWu !

My understanding was that this was the intended state as we were concerned that if we didn't do this we will end up with a big, hard to maintain, bucket of unrelated params.
We wanted to audit every param that is "elevated" to make sure we prevent this from becoming a big mess.

If we find this is a major blocker to progress, we can treat that as a signal that it is worth while

[2022-02-22 10:37] joshdover commented on #125919
Thanks, all for the suggestions and feedback here. I will open a PR shortly for 8.1 that switches the build step to pull from snapshot for now and uses the latest APM version available on snapshot. @axw since the last 8.1 BC is scheduled for this week, should we go ahead and push the `8.1.0` final package to snapshot? I only see `8.1.0-dev3` available.

@jsoriano agreed on all the points here. Thi

[2022-02-22 10:39] dgieselaar opened #126137 "[APM] Services without application metrics display an error"
When we fetch the application metrics for a service (on the service overview and the metrics tab), the request will fail when data streams are being used. This is because the `system.memory.*` fields are only available in the application-specific data stream, and we use an `expression` script, so ES will throw an exception. This situation can occur for serverless functions (which will not report a

[2022-02-22 10:39] elasticmachine commented on #126137
Pinging @elastic/apm-ui (Team:apm)

[2022-02-22 10:39] deepikakeshav-qasource commented on #122151
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155115506-abd2ccdb-b412-4833-8091-a8e68674fa93.png)

**After Edited**
![image](https://user-images.githubusercontent.com/61860752/155115546-a9a9ae5d-2a22-4139-9

[2022-02-22 10:40] sqren commented on #126091
Yes, All option stays. The idea is to make it possible for users to have a primary environment that they filter on by default.

As we discussed, the idea was to default to All environments (like today) if no default environment is specified. But I'm open to defaulting to a specific environment (eg. "production"). This would be a very user-facing change but it would also add value up front.

[2022-02-22 10:46] gmmorris commented on #123982
@XavierM @mikecote - what's our plan for the POC?
What do we need to feel confident this POC has validated the idea and we can begin productionising the implementation?

I'd like it if we could set some timeframe, so that we can make sure we can begin to tackle [this list](https://github.com/elastic/kibana/issues/123982#issuecomment-1028308593) in a timely manner. 😊

[2022-02-22 10:54] dikshachauhan-qasource opened #126139 "[Fleet] No tool tip is displayed for disabled 'Add integration' button under Policy detail page when user has only Read rights for Integrations."
*Kibana version:**  8.1 BC3 Kibana cloud staging environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 8.1 BC3 staging Kibana cloud staging environment should be available.

**Build Details:**
[code]

2. User with role having permissions set as **Fleet “All”, Integrations “READ”**

**Steps to reproduce:**
- Login to kibana with Non-super user account having permissi

[2022-02-22 10:55] elasticmachine commented on #126139
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 10:55] jsoriano commented on #125919
This would be thinking in the future we are planning to have, with a single registry where we discourage overwriting versions.

[2022-02-22 10:58] manishgupta-qasource commented on #126139
Reviewed & mention to @mostlyjason

[2022-02-22 10:58] #122516 closed

[2022-02-22 11:12] #125621 closed

[2022-02-22 11:20] simitt commented on #124501
@dannycroft can a bugfix for this be prioritized please? Users need a way to configure e.g. the secret-token, but right now it is considered to be a frozen field and a workaround via API is required for changing the token.

[2022-02-22 11:23] deepikakeshav-qasource commented on #122456
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**
**Before Deleted the Rule**

![image](https://user-images.githubusercontent.com/61860752/155120777-f3a62d8b-facf-49a6-903e-3085d9bec3e6.png)

![image](https://user-images.githubusercontent.com/61860752/155121058-a75e32cc

[2022-02-22 11:37] deepikakeshav-qasource commented on #124340
Hi @MadameSheema

We have validated this issue on **8.0.1 BC1** and found it still **Fixed**. ✔️ . Old building block alerts are getting highlighted after upgrade.

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/155124335-6917d4d3-c139-4fa6-89c9-91c0d6b37e26.png)

Thanks !!

[2022-02-22 11:50] elasticmachine commented on #126032
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-22 11:50] elasticmachine commented on #126031
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-22 11:59] MikePaquette opened #126145 "[Security Solution] Overview page left column grows too wide when timeline description text is long"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-22 11:59] elasticmachine commented on #126145
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-22 12:01] juliaElastic commented on #119844
a few observations while working on this refactor: https://github.com/elastic/kibana/pull/126088
- `getUpgradePackagePolicyInfo` should be private, it is only used in unit tests (should move out to test separately)
- functions like `_compilePackagePolicyInputs` should move out

[2022-02-22 12:10] gbamparop commented on #125907
Thanks for having a look @formgeist. It was already pointing to the APM tutorial page so I have just update the title in https://github.com/elastic/kibana/pull/126146

[2022-02-22 12:10] dikshachauhan-qasource opened #126148 "Advanced Tab is available to Non-super user having only Read rights for Integrations under Endpoint Security."
*Kibana version:**  8.1 BC3 Kibana cloud staging environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 8.1 BC3 staging Kibana cloud staging environment should be available.

**Build Details:**
[code]

2. User with role having permissions set as **Fleet “All”, Integrations “READ”**
3. **Endpoint Integration should be installed to Agent policy with Super User rights.*

[2022-02-22 12:11] karanverma-qasource commented on #123300
Hi @MadameSheema

We have validated this issue on 8.0.1 BC1 and observed that issue is Fixed. 🟢

[code]

**Screen records:**

https://user-images.githubusercontent.com/91867110/155129640-d2cb418a-20a0-495f-b605-c68aba626b62.mp4

Thanks !

[2022-02-22 12:11] elasticmachine commented on #126148
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 12:17] manishgupta-qasource commented on #126148
Reviewed & mention to @mostlyjason

[2022-02-22 12:23] dgieselaar commented on #126091
@sqren I have a draft PR open at https://github.com/elastic/kibana/pull/126151. I'm not sure anymore though what plans we had for the callout - should I add or do we leave it (for now)?

[2022-02-22 12:26] joshdover commented on #124785
Realized we don't have a preconfigured policy for Elastic APM in 7.17, it's only ever configured via API. @ogupte is there a place where we could hardcode the ID to `elastic-cloud-apm` that is used to create this package policy when the user migrates from standalone?

[2022-02-22 12:26] amolnater-qasource commented on #108456
Hi @juliaElastic
We have create **23** testcases in our ingest manager test suite at [link](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=34918)

Please let us know if we are missing anything.

Thanks

[2022-02-22 12:29] elasticmachine commented on #126036
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-02-22 12:29] sqren commented on #126091
I'd say leave it out for now.

[2022-02-22 12:30] dgieselaar opened #126153 "[APM] Rendering the service inventory is inexplicably slow"
Rendering the service inventory seems quite slow. On my M1 Max it takes about 1.7s with React Profiling enabled. It's also noticeably slow on production builds without profiling enabled or even the dev tools open. It's not immediately clear to me what is causing this but I'm thinking we can improve here, there shouldn't be any special things happening here.

It's most noticeable when re-sorting th

[2022-02-22 12:30] elasticmachine commented on #126153
Pinging @elastic/apm-ui (Team:apm)

[2022-02-22 12:50] chrisdistasio commented on #126091
@sqren, at what level is the setting set/persisted?  is it at a global level; space level, service group level, user level?  i imagine some users might desire a different default than their colleagues.

@dannycroft from a telemetry perspective it would be good to know whether a customer has configured the setting and what the default has been configured to.

cc: @alex-fedotyev

[2022-02-22 12:52] muskangulati-qasource opened #126154 "[Security Solution] The alerts generated from the rule are added to the newly created duplicated rule after upgrade"
**Description:**
The alerts generated from the rule are added to the newly created duplicated rule after upgrade from 8.0.1 to 8.1.0

**Build Details:**
[code]

[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Kibana version 8.0.1 should exist and a few alerts should be generated from the Endpoint Security rule

**Steps to Reproduce:**
1. Upgrade the buil

[2022-02-22 12:52] elasticmachine commented on #126154
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-22 12:54] muskangulati-qasource commented on #126154
@karanbirsingh-qasource please review!

[2022-02-22 12:56] ymao1 commented on #126081
@MadameSheema The ES transport client team has added a fix for this on their end and we are discussing whether this can go into 8.1 or 8.2. I looked into it further from the alerting side and this warning would have shown up in 8.1 as well. It is also just a warning and should not prevent any searches from executing and returning results. I don't think there were any changes on the alerting side t

[2022-02-22 12:58] gayathrir1172 commented on #112976
Hey @sqren @dannycroft
need a quick help. I am getting this error when I am trying to create indices to use synthtrace when I am working on this issue.

`node ./scripts/es_archiver load "x-pack/plugins/apm/ftr_e2e/cypress/fixtures/es_archiver/apm_mappings_only_8.0.0" --es-url=http://elastic:changeme@localhost:9200 --kibana-url=http://elastic:changeme@localhost:5601
 info [x-pack/plugins/apm/ftr_e2

[2022-02-22 12:59] MadameSheema commented on #126154
@muskangulati-qasource can you please share the JSON of one of the duplicated alerts? Thanks!

[2022-02-22 13:00] ymao1 commented on #126089
Just a note that this doesn't affect the actual execution of the searches...the results return as normal. When the rule executor completes, the abort signal should be cleaned up so I believe the event listeners should be cleaned up at that point. It's a nasty looking warning though and we might get SDHs about it.

[2022-02-22 13:01] muskangulati-qasource commented on #126154
Sorry for the confusions Glo. Here is the JSON for the same:
[Duplicate Alert.txt](https://github.com/elastic/kibana/files/8116786/Duplicate.Alert.txt)

Thanks!

[2022-02-22 13:06] matschaffer commented on #124594
looks like still just lots of failed test after 8 hours. Will try again next week with just a single focused test to at least get something working.

[2022-02-22 13:07] juliaElastic commented on #126130
latest changes to this logic are made in these issues:
https://github.com/elastic/kibana/issues/124784
https://github.com/elastic/kibana/issues/122157

[2022-02-22 13:08] afgomez commented on #125394
Maybe I misunderstood the conclusion in our latest meeting, but I thought APM will finish the component and we would help in wrapping it into an embeddable. Is that correct?

[2022-02-22 13:09] MadameSheema commented on #126081
Thanks @ymao1!! with this fix in place, should then our tests work again as expected in main, or are there any pending tasks to be done?

[2022-02-22 13:09] sqren commented on #126091
Advanced settings are space level. User level would be great but that's a feature request for the kibana platform.

@dgieselaar is looking into adding telemetry around settings usage (if it's not already available)

[2022-02-22 13:11] MikePaquette opened #126155 "[Security Solution] Timeline template data view does not include alerts index when new space is created"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS default

**Browser version:**  Google Chrome Version 98.0.4758.102 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey Version 12.2.1 (21D62)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS GCP Europe-West-1

**Describe the bug:**

[2022-02-22 13:11] elasticmachine commented on #126155
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-22 13:12] dgieselaar commented on #126091
It's collected by default, but only for the default space. I'd say that's acceptable for us, thoughts?

[2022-02-22 13:13] pgayvallet commented on #125240
I isolated the problem in a test case that is using `HAPI`'s `Server` directly

[code]

at this point I think the next step is to open an issue upstream

[2022-02-22 13:14] kevinlog commented on #126036
@ashokaditya assigned to you as discussed offline

[2022-02-22 13:16] janmonschke commented on #125480
This just merged and should be part of the next BC

[2022-02-22 13:16] janmonschke commented on #125492
This just merged and should be part of the next BC

[2022-02-22 13:16] janmonschke commented on #125473
This just merged and should be part of the next BC

[2022-02-22 13:16] kevinlog commented on #101024
assigning to @ashokaditya as discussed offline

[2022-02-22 13:27] ymao1 commented on #126081
@MadameSheema The warning that shows up should **not** be blocking normal rule execution (unless your test suite is set up somehow to throw in the event of warnings like this?) so I think there's a chance that even with the fix in place the tests will still fail but I'll let you know when the fix is available and we'll try it out :)

[2022-02-22 13:36] dikshachauhan-qasource commented on #108252
Hi @jen-huang @joshdover

We have performed testing today around this feature and found two below bugs.

- https://github.com/elastic/kibana/issues/126139
- https://github.com/elastic/kibana/issues/126148

Further, we are in progress of test content creation for this ticket at TestRail and will share links for test cases created by tomorrow.

Thanks
QAS

[2022-02-22 13:38] majagrubic commented on #125664
Thanks for clarifying. My goal is not to tamper with `PageTemplate` at all for now, I'd just like to extract the "no data" part into a separate component, that would be as lightweight as possible. So to answer your initial question - no, it won't affect the layouts that have data.

[2022-02-22 13:45] stratoula commented on #126047
@Nikhil1402 why don't you unpin the first filter? Sorry, I am still trying to understand the use case better :)
<img width="686" alt="image" src="https://user-images.githubusercontent.com/17003240/155144332-61bb89c2-174f-42f5-a48c-974201adc933.png">

[2022-02-22 13:45] sqren commented on #126091
Great! Yeah, I'd say that's enough to get us started.

[2022-02-22 13:45] liza-mae commented on #124594
@matschaffer the setup for cloud only runs off main branch.  I gave a presentation on how to debug kibana tests on cloud found in google drive Engineering -> ESTF -> Cloud Testing -> Kibana On Cloud.

It is recommended you use the cloud flaky test runner to reproduce, debug and fix test failures here: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-flaky-test-runner

[2022-02-22 13:49] stratoula commented on #126047
@Nikhil1402 just to understand the use case better. Each filter pill has its own menu and you can select to unpin it.
<img width="478" alt="image" src="https://user-images.githubusercontent.com/17003240/155145384-c02a9eec-898e-4eb1-b1ea-1d308f92b571.png">

This doesn't help on your case?

[2022-02-22 13:52] alexwizp opened #126157 "[Lens] Values formatting not working in case of multi-field selection"
**Kibana version:**
main branch

**Steps to reproduce:**
1. Create Lens > Table visualization based on sample `e-commerce` data set
2. Configure  any aggregation by 2 or more fields
<img width="385" alt="image" src="https://user-images.githubusercontent.com/20072247/155145853-698ed469-9153-4538-a512-038bd17e33d1.png">

3. See result

**Expected behavior:** values should be correctly formatted

**S

[2022-02-22 13:52] elasticmachine commented on #126157
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-22 13:59] Nikhil1402 commented on #126047
@stratoula definitely that is a possibility, however our users are not daily Kibana users and they tend to get confused due to such operations. Moreover,it adds 2 clicks more to their user journey if you know what I mean.

It would be best to directly be able to jump to the required info without having the need to unpin each time.

[2022-02-22 14:01] liza-mae commented on #125271
This was seen again in testing, needs to be looked at by the monitoring team.

[2022-02-22 14:06] paul-tavares commented on #118479
Wondering if this line:

[code]

could actually return `200`, but have some "warning"/"errors" in the body?

[2022-02-22 14:08] elasticmachine commented on #126047
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-22 14:08] elasticmachine commented on #126047
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-22 14:17] chrisdistasio commented on #126091
Thanks @sqren.  Do we have the ability in APM to persist a user setting as a cookie?  So whatever setting I previously set will be the in-place setting next I log in?

[2022-02-22 14:19] MadameSheema commented on #126155
@MikePaquette the new space has generated alerts?

[2022-02-22 14:24] formgeist commented on #125907
Ah OK - thanks!

[2022-02-22 14:26] ogupte commented on #126091
We use local storage in some places in APM to store minor view settings: show/hide advanced stats in correlations, if the user has dismissed the anomaly callout, and migration status for continuity between page refreshes. Also in service groups we use it to store group orientation (grid vs list).

[2022-02-22 14:39] VladLasitsa opened #126159 "[Chart expressions] Add validation for args which have `options`"
During the completion of the unification expressions task, we have found the absence of args validation, which have options. As result, user is able to provide any value which can break visualization. To avoid this a new `validateOptions` function must be added to charts utils:

[code]

Example of usage:

[code]

This should be added in the following expressions:

- [ ] gauge
- [ ] heatmap
- [ ] m

[2022-02-22 14:40] kertal commented on #124982
Thx for reporting! Tested in our latest dev brach, couldn't reproduce, will test in 7.16.3

[2022-02-22 14:40] pgayvallet commented on #125240
Opened https://github.com/hapijs/hapi/issues/4339

[2022-02-22 14:41] xcrzx opened #126160 "[Security Solution] Rules table refresh doesn't pause during bulk actions (except of bulk edit)"
### Summary

**Steps to reproduce**

1. Go to Security > Rules
2. Select all rules
3. Start any bulk action except of bulk edit(index patterns, tags, timeline)

**Expected result**

While the bulk operation is running, the rules table refresh is disabled.

**Actual result**

The table refresh is not disabled. Rules in the table become editable while the bulk operation is still running.

https://us

[2022-02-22 14:41] elasticmachine commented on #126160
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-22 14:41] elasticmachine commented on #126160
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-22 14:42] elasticmachine commented on #126159
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-22 14:44] TinaHeiligers commented on #92689
We'll also want to know how many users configure settings _different from_ what they're set on a space level as part of the [kibana-personalization](https://github.com/elastic/kibana/issues/17888) initiative.

[2022-02-22 14:46] academo opened #126161 "[Cases] Move logic to attach attachments out of the `AllCasesList` component"
Acceptance criteria:
- [x] `AllCasesList` should do only one thing: list cases and allow selection.
- [x] The logic to attach the data to the case should be moved to the new `useCasesAttachToExistngCase` hook.

[2022-02-22 14:46] elasticmachine commented on #126161
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-22 14:46] elasticmachine commented on #126161
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-22 14:49] pgayvallet commented on #125240
Also likely related to https://github.com/nodejs/node/issues/40775

[2022-02-22 14:51] kertal commented on #124193
Makes sense, this has to be done in EUI. So it should be `fullscreen` not `full screen` right?

[2022-02-22 14:52] elasticmachine commented on #126045
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-22 15:04] thunderwood19 commented on #116428
@joshdover

Any update on this? I am one of the effected customers who relies heavily on fleet.  If I can help with any logs/testing, I would be more than happy to!

[2022-02-22 15:07] EricDavisX commented on #58244
I had a quick meeting with RespOps engineers to get initial info on what we have setup that we can re-use, i'll find the right place and will store off the connectivity for more of us to see.

[2022-02-22 15:12] #121993 closed

[2022-02-22 15:16] mostlyjason commented on #126113
@joshdover if the conflict is due to the fact that index patterns are already installed, we should be able to ignore it. So it shouldn't trigger uninstalling a package then?

@kpollich is there any way to improve the UX for the same name error? I suppose its impossible for me to upgrade the package until I rename it. Could we tell users to rename it more directly in the error message itself?

[2022-02-22 15:20] snide commented on #120282
@Max-Iskra Nice! I might suggest collapsing this even further. Likely the table header isn't neccessary. The `signal.rule.name` is duplicative with the dropdown, and the `count` can be assumed.

Visually I might also recommend removing the border on the panel. I don't think it needs the container?

[2022-02-22 15:30] michaelolo24 commented on #110979
@karanbirsingh-qasource - can we close this ticket as the flyout styling has been changed and should have the appropriate padding now

[2022-02-22 15:30] kpollich opened #126164 "[Fleet] Improve duplicate package policy error message"
Ref https://github.com/elastic/kibana/issues/126113

The current error message for duplicate package policy names is `There is already an integration policy with the same name`. This error message should always include:

- The name of the duplicate integrations policy (We include this is one spot now, but not the other)
- A call to action to rename the duplicate policy
- Additional logging that pr

[2022-02-22 15:30] elasticmachine commented on #126164
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 15:31] kpollich commented on #126113
This error message can definitely be improved fairly easily. I filed an issue here: https://github.com/elastic/kibana/issues/126164 and will take a quick pass at it shortly. Should just be a few minutes to update and I have some bandwidth this morning.

[2022-02-22 15:32] nickofthyme commented on #125906
FYI this was done to allow stacking of line charts per the original `vislib` functionality. Stacking in currently **NOT** supported for `LineSeries` in elastic-charts. So an option would be to only use the `AreaSeries` for lines when stacking or to remove the stacking ability for lines altogether.

[2022-02-22 15:36] miltonhultgren commented on #126045
Hi 👋🏼

The recommended way to solve this is to define a Data View that references multiple indices:
<img width="1349" alt="Screenshot 2022-02-22 at 16 33 55" src="https://user-images.githubusercontent.com/2564140/155165555-4d427ee2-ff9e-4c14-98d2-9e39469d417b.png">

You can then select this Data View in the Settings page of the Logs UI.

In [this PR](https://github.com/elastic/kibana/pull/124929)

[2022-02-22 15:36] mdefazio commented on #124346
@mattkime Digging into this more.

Perhaps I'm misunderstanding, but it seems that based on our sharing objects flow, clicking + X more will simply show all spaces in the cell.  I was imagining that to trigger the share flyout, this would occur either from the row action menu, or from the bulk select menu.

Do we need to do it another way?

[2022-02-22 15:47] #123447 closed

[2022-02-22 15:48] xcrzx opened #126166 "[Security Solution] Bulk actions in in-memory mode affect the wrong number of rules"
### Summary

1. Go to Security > Rules
2. Install prebuilt rules
3. Turn on the rule's table technical preview
4. Search for rules containing: "log"
5. Select all found logs
6. Apply a bulk action to them, e.g., export

**Expected result**

All rules that are in the table get exported.

**Actual result**

Fewer rules get exported than were displayed.

![Screenshot 2022-02-22 at 16 02 02](https://u

[2022-02-22 15:48] elasticmachine commented on #126166
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-22 15:48] elasticmachine commented on #126166
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-22 15:52] lukeelmers commented on #119612
We'll want to add this setting to the cloud allowlist as well

[2022-02-22 15:55] pgayvallet commented on #117102
@mshustov given https://github.com/elastic/kibana/issues/116095 was done, should we close this one too? Now that `Client` and `ElasticsearchClient` are compatible, it doesn't seems that important for enforce the usage of our specific interface?

[2022-02-22 15:55] pzl commented on #125919
On my end, I was simply waiting for the pipeline build to finish for `endpoint-1.5.0` so I could kick over the `snapshot` environment to pick it up. All set here, `endpoint-1.5.0` is available in snapshot now

[2022-02-22 16:00] michaelolo24 commented on #126040
I believe that was purposely disabled as part of this PR: https://github.com/elastic/kibana/pull/121590 . Not sure exactly what the behavior should be. @andrew-goldstein is this expected?

[2022-02-22 16:03] philippkahr commented on #126028
Yes! Thanks for looking into it @formgeist

[2022-02-22 16:03] #126028 closed

[2022-02-22 16:17] yctercero commented on #121756
@MadameSheema sorry I think I added that `8.0.1` label. Just planned for 8.1 as far as I know.

[2022-02-22 16:19] Max-Iskra commented on #120291
### **Figma mockup/prototype: https://ela.st/proper-scrolling**

- Improved overall paddings over the page for better visibility of content
- Collapsed charts, see: #120282
- Added chart options button in the title section _(best place TBD)_
- Added Hide/Show chart dropdown (aka discover page)
- Browsing now table of alerts with a sticky toolbar at the top and sticky pagination at the bottom.
_Not

[2022-02-22 16:23] michaelolo24 commented on #126083
@monina-n thoughts on how we may want to approach fixing this. I think the current behavior is to rely on a tooltip

[2022-02-22 16:26] lukeelmers commented on #119866
After discussing, we decided the scope here will be:
- adding `@removeBy` to each of the APIs so we can get a report of who is using the deprecated APIs in the docs (see https://github.com/elastic/kibana/issues/121823)
- create a list of any items that aren't explicitly marked as deprecated yet so we can decide whether to deprecate them

[2022-02-22 16:33] kpollich commented on #126130
Assigned to @joshdover for triage

[2022-02-22 16:36] smith commented on #125394
At this time we don't have any work for APM UI to do and we're planning on doing it ourselves. If this proves problematic we may need to request their help and assign some work to them.

[2022-02-22 16:46] elasticmachine commented on #125987
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-22 16:49] alisonelizabeth commented on #125987
Transferring issue to the app services team. This would be good to try to fix for a patch release.

/cc @sebelga can help point whoever picks up this work to the right area of the code

[2022-02-22 16:51] yevgenytrcloudzone commented on #126045
Data view is feature that require Kibana 8.X?

[2022-02-22 17:08] Evesy opened #126173 "Short URL API Internal Server Error"
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Server OS version:** Rocky Linux 8

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** Tarball

**Describe the bug:**
The new `short_url` API introduced in Kibana 7.16.0 (replacing the `shorten_url` API available previously) returns 500's in a few scenarios

[2022-02-22 17:16] ppisljar commented on #123720
@stacey-gammon yes

[2022-02-22 17:30] #123396 closed

[2022-02-22 17:40] pgayvallet commented on #125240
Currently working on a workaround based on a suggestion found in https://github.com/nodejs/node/issues/40775. It seems to be passing the tests, I should open a PR shortly. cc @flash1293 @alexwizp

[2022-02-22 17:51] peteharverson commented on #117501
Closing issue as all the tests marked for 8.1 have now been added.

[2022-02-22 17:51] #117501 closed

[2022-02-22 17:54] #124361 closed

[2022-02-22 18:08] #126164 closed

[2022-02-22 18:09] #124338 closed

[2022-02-22 18:18] emma-raffenne commented on #125561
This needs to be backport to 8.1 as well

[2022-02-22 18:19] emma-raffenne commented on #125191
This needs to be backport to 8.1 as well

[2022-02-22 18:34] tsullivan commented on #124024
1. Hi, are there multiple instances of Kibana in the cluster? Do they all have the same configuration?

2. Is there a way you could share the configuration (with any sensitive information redacted)?

3. Is Kibana staying online throughout the entire report job, or is it restarting / crashing during the job execution?

The log messages you provided show what happens after a timeout occurs, but we'r

[2022-02-22 18:42] tylersmalley opened #126182 "Split Jest tests equally amoung parallel jobs"
We split both Jest unit tests and integration tests by their configs (`jest.config.js` and `jest.integration.config.js`). Since each Jest config takes a different amount of time to run, they are not equally distributed. We're now collecting the execution time and can utilize that to more effectively distribute the tests in the parallel workers.

[Client for access test group stats](https://github.

[2022-02-22 18:42] elasticmachine commented on #126182
Pinging @elastic/kibana-operations (Team:Operations)

[2022-02-22 18:43] bhavyarm opened #126183 "Kibana displays a bunch of auto-filled panel names if aggregation saved object panel has an error when user clicks on edit panel title"
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If there is  aggregation viz or saved search object panel with error and user clicks on edit panel title - Kibana displays a

[2022-02-22 18:43] elasticmachine commented on #126183
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-22 18:45] #125134 closed

[2022-02-22 18:51] sqren commented on #126153
I noticed this as well. It should be much faster since everything is in memory as you say.

[2022-02-22 19:29] joshdover commented on #125910
Agreed this is confusing, and the onboarding flow is important to get right and directing users to setup another APM Server policy isn't helpful when they already have one running.

I do think we should treat this as an enhancement request for allowing for custom CTA UI or logic for integrations, rather than a bug. What should the experience be for APM users on this page? Once an APM server policy

[2022-02-22 19:43] #125820 closed

[2022-02-22 19:50] joshdover commented on #126113
I believe these conflicts come from issues related to the Saved Object re-key migration that happens in 8.0. We handled should have handled this as part of https://github.com/elastic/kibana/issues/108959.

Do you know if any packages were installed in other Kibana Spaces? Is this reproducible?

We should be resilient to these connection reset errors. This should have been handled by the changes in

[2022-02-22 19:55] joshdover opened #126190 "[Fleet] Package rollbacks don't work if an integration policy is already using it"
We have logic that will rollback a package if a package upgrade fails for any reason. This behavior will first uninstall the newer package version before attempting to reinstall the older packager version. However, if that package is currently in use by any integration policies, the rollback will fail with an error like:

[code]

This leaves the package in a broken, partially installed state on th

[2022-02-22 19:55] elasticmachine commented on #126190
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 19:55] elasticmachine commented on #126190
Pinging @elastic/fleet (Feature:EPM)

[2022-02-22 20:06] jportner opened #126191 "[SO Migration] support migrating from "global" to "isolated" types"
Some consumers may have "global" saved object types (`namespaceType: 'agnostic'`) that they would like to convert to an "isolated" type (`namespaceType: 'single'`) to become space-aware.

For example, as of Kibana 8.1, APM provides a saved object to persist APM indices settings, and they wanted to start allowing users to set this on a per-space basis in 8.2+. They had to write a custom on-start "m

[2022-02-22 20:06] elasticmachine commented on #126191
Pinging @elastic/kibana-core (Team:Core)

[2022-02-22 20:06] #125919 closed

[2022-02-22 20:09] joshdover commented on #125919
I'll follow up with an issue on some of the long-term considerations discuss here.

[2022-02-22 20:26] BenB196 opened #126196 "Ability to Clone Rules from Kibana UI"
**Describe the feature:**

I'd like to be able to clone rules from under: "Stack Management" > "Rules"

**Describe a specific use case for the feature:**

Currently, if I want to make similar rules, I need to completely recreate the rule (or use the Kibana API). I'd like to just click a button to clone a rule, then be given the rule edit window to make changes.

[2022-02-22 20:32] llermaly opened #126197 "Custom heartbeat fields supported on Uptime Alert Rules"
**Describe the feature:**

Arbitrary fields can be added to a heartbeat document and then referenced in the alert rule connector.

[code]
Alert rule (i.e: Email subject)

The server with foo {{state.foo}} is down.

**Describe a specific use case for the feature:**

We are creating tickets based on the host that is going down, so we have a field "assigned_to" in heartbeat we need to track in the al

[2022-02-22 20:34] nreese opened #126198 "[Maps] vector tile URL not properly encoded."
**Steps to reproduce:**
1. In console, run the following
[code]
2. Create a data view for index `test`
3. Add runtime field with script
[code]
4. Create a new map
5. Add documents layer from `test` data view. Notice how no data is displayed. Change scaling to "limit" now data is displayed

**Expected behavior:**
Vector tiles should display data for data view with runtime field with `;` character.

[2022-02-22 20:34] elasticmachine commented on #126198
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-22 20:37] #125739 closed

[2022-02-22 20:38] jen-huang commented on #126190
I wonder if this behavior changed with auto-upgrade of agent policies. Previously, we could assume that the new package version does not have any associated policies, so we didn't run into this error.

[2022-02-22 20:44] jen-huang commented on #126148
@criamico @paul-tavares This is interesting as this tab is registered by the Security Solution plugin. I think we have two options:

- For users without write privilege, never show this custom tab
- Pass privilege to the UI extension and let the consumer handle any impact on tab registration and/or tab contents

WDYT?

[2022-02-22 20:50] elasticmachine commented on #126067
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 20:50] jen-huang commented on #126067
@criamico, could you take a look at this?

[2022-02-22 20:51] jportner commented on #123113
@yitzchake the API is documented here: https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-create-service-token.html

Hope that helps, if you have problems using it please post on our [Discuss forum](https://discuss.elastic.co/c/kibana), thank you!

[2022-02-22 20:54] jen-huang opened #126204 "[Fleet] Upgrade system integration policy fails with same name error"
_Originally posted by @crowens in https://github.com/elastic/kibana/issues/125968#issuecomment-1043463279_

I have a similar issue maybe, but seen on upgrade. I have an existing Agent Policy that I had before upgrading to 8.0.  Now I see I have an upgrade available for the system integration in one of the policies, but trying to upgrade it fails with the same error seen above.

![image](https://us

[2022-02-22 20:54] elasticmachine commented on #126204
Pinging @elastic/fleet (Team:Fleet)

[2022-02-22 21:07] mistic commented on #125581
Skipped.

main: [8575a69](https://github.com/elastic/kibana/commit/8575a69898bb7fd1b3e19abd1f12df96770e67d3)
8.1: [18c7e34](https://github.com/elastic/kibana/commit/18c7e344f8a4bb6104e0db2a3c8a95f70abbc3f6)

[2022-02-22 21:19] andrew-goldstein commented on #126040
I think a reasonable expected behavior in this case would be to default the dropdown to `Detection Alerts`, and enable the dropdown, making it possible to select `Raw events` instead of the default

[2022-02-22 21:34] marshallmain commented on #81874
This capability was implemented with the new rule preview API in 8.0 (https://github.com/elastic/kibana/pull/112441)

[2022-02-22 21:34] #81874 closed

[2022-02-22 21:39] thomasneirynck commented on #125985
This is because of a false-positive match of the `MapsPlugin#suggestEMSTermJoin` function.

The function receives the `sampleValues` of `mlcategory` (which are numbers within the 0-50), and matches them to the INSEE code of France departments. These are also numbers within the 0-50 range. See https://maps.elastic.co/#file/france_departments

There may be complimentary ways on how to address this:

[2022-02-22 21:40] cyrille-leclerc commented on #125910
Thanks @joshdover. You are right it's not a bug but an enhancement request. I guess I missed "Feature Request" in the GitHub issue creation flow (and by the way my point is more an enhancement request than a request for a new feature).

I would be happy to let @formgeist drive this to not interfere with the solution that the APM & Fleet teams have in mind and I'll be happy to contribute if my idea

[2022-02-22 21:45] paul-tavares commented on #126148
HI @jen-huang ,
I think the second option is probably the more favorable one on this, but I have not thought it through yet. In the future, we might also allow readonly views.

But even without that information being provided to the UI extension component, I think this is a bug on the endpoint side. We should not be attempting to render a component with data we know the user can't fetch _(we shoul

[2022-02-22 21:48] simianhacker commented on #120479
Do we need to make the distinction between the different condition types? For example the Metric Threshold Rules and Inventory Threshold Rules both support the concept of `warning` and `fired`.

[2022-02-22 22:00] kevinlog commented on #126148
@paul-tavares I also agree that we should show an empty message that says the user doesn't have permission to see this page.  We own the content here, right?  So we could make the change to show this appropriately

Could we show a message like this similar to our Mange section in Endpoint?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/56395104/155226661-aad4180e-acb

[2022-02-22 22:00] elasticmachine commented on #126148
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-02-22 22:09] paul-tavares commented on #126148
@kevinlog yes, exactly. We should be able to display a "you don't have enough privileges" type of message in that tab.

The the Integration edit page however, we should only not display the artifact summary cards, since everything else (I think) they can do because they have fleet access.

[2022-02-22 22:12] Danouchka commented on #125985
To my opinion, this suggestion feature should be switched off because errors will be always possible.
In another dataset, i had french "code postal" field but the maps pointed locations in Austin, Dallas

[2022-02-22 23:01] francoisforster commented on #122465
"fleet": {
            "endpoint_agents": {
              "updating": stack_stats.kibana.plugins.fleet.agents.updating - stack_stats.kibana.plugins.fleet.fleet_server.updating,
              "healthy": stack_stats.kibana.plugins.fleet.agents.healthy- stack_stats.kibana.plugins.fleet.fleet_server.healthy,
              "unhealthy": stack_stats.kibana.plugins.fleet.agents.unhealthy- stack_stats.kiba

[2022-02-22 23:05] elasticmachine commented on #125985
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-22 23:12] zizhouW commented on #126056
TODO:

1. more fields to be added to: Entry Leader, Session Leader, Group Leader, and Parent based on fields from base process
@animehart

2. UX changes on how to display user and group info pending design review, to be implemented by @zizhouW

[2022-02-23 02:19] kibanamachine commented on #124681
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11036#d0bef496-f97d-4a1c-97b5-c0903cc83103)

[2022-02-23 03:19] #125125 closed

[2022-02-23 04:07] marshallmain commented on #126154
@muskangulati-qasource can you the JSON of an alert and the JSON for the corresponding duplicate alert? The JSON of the original and duplicate rules would be helpful as well. Thanks!

[2022-02-23 04:51] karanbirsingh-qasource commented on #122207
Issue is not fixed on `8.0.1 BC2` build as well. ❌

Build Details
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/155263369-726fe414-3ad2-409a-9d8c-18877a176667.png)

[2022-02-23 05:02] karanbirsingh-qasource commented on #122990
Issue is not fixed on **8.0.1 BC2** as well. ❌

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/155263806-7432eb73-b23a-4df8-b85c-83e956b97911.png)

![image](https://user-images.githubusercontent.com/59917825/155264180-58c76896-ea2a-48bc-a1c1-df24c08a5688.png)

https://user-images.githubusercontent.com/59917825/155264192-e2d4520c-

[2022-02-23 07:04] Afrojack667 opened #126220 "The message "502 Bad Gateway" appears when the short link saved by OPUS 'Kibana is opened."
**Kibana version:**
v 7.8.0
**Elasticsearch version:**
v 7.8.0
**Server OS version:**
Windows 10 Enterprise
**Browser version:**
Google Chrome
**Browser OS version:**
Version 98.0.4758.102 (Official Build) (64-bit)
**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
The message "502 Bad Gateway" appears when the short link saved by OPUS 'Kibana is opene

[2022-02-23 07:13] dikshachauhan-qasource commented on #122152
Hi @jen-huang

While performing testing today on 8.1 BC3 build, we observed same issue is still reproducible here too.

**Observations:**
**NOT WORKING FINE:**
- When user attempts to upgrade integration from Integrations Policies sub tab, it first navigates to Fleet for few second then, redirect user to Integrations>policy upgrade page.
- Upgrade Integration breadcrumb is not visible on landing t

[2022-02-23 07:32] amolnater-qasource commented on #125579
Hi @mostlyjason
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- Content under Agents tab and Add Agent flyout is updated when Integrations Server is disabled.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screenshots:**
![5](https://user-images.githubusercontent.com/77374876/155277310-a81d0cc6-a479-4705-913f-

[2022-02-23 07:54] samratbhadra-qasource commented on #110202
Hi @kpollich
While performing testing on **8.0.1-BC2** build, we have observed that the same issue is still **reproducible**. Please find below the testing details:

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/155279001-3df29a56-af72-4342-b8dc-bc69d872987f.mp4

**Build Details:**
VERSION: 8.0.1-BC2
BUILD: 49348
COMMIT:  28c513e163646ac0858d8c944414fb518f4ef940
ARTIFAC

[2022-02-23 08:05] MadameSheema commented on #122990
@stephmilovic can you please confirm if this issue is expected to be part of 8.0.1? Thanks!

[2022-02-23 08:06] MadameSheema commented on #122207
@janmonschke @michaelolo24 can you please confirm if this issue should be part of 8.0.1 release? Thanks!

[2022-02-23 08:07] mshustov commented on #41982
I reopened the issue. We had many complaints about runtime errors when the `write` operation failed since LocalStorage was full. A core abstraction could handle this problem gracefully: write, catch an error, remove obsolete/unnecessary large entires, retry write operation.

[2022-02-23 08:08] amolnater-qasource commented on #122126
Hi @nchaulet
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- When a user duplicates a policy twice, the integrations name gets unique with the change in count number`(copy 2,copy 3...)`.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screenshots:**
![7](https://user-images.githubusercontent.com/77374876/155281

[2022-02-23 08:09] MadameSheema commented on #126057
@deepikakeshav-qasource can you please validate this on the next BC? Thanks! :)

[2022-02-23 08:11] amolnater-qasource commented on #122216
Hi @nchaulet
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- Validation message 'Duplicate URL' is displayed on saving Fleet host with duplicate URLs

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screenshot:**
![8](https://user-images.githubusercontent.com/77374876/155281809-adbbac11-9b0d-4596-924a-239ee48be0

[2022-02-23 08:17] pgayvallet commented on #126191
As a side note, depending on where we goes regarding zero downtime migrations, migrations that would be rewriting a SO document's ID may no longer be permitted. And I think switching from `agnostic` to specifically `single` would do it?

[2022-02-23 08:26] muskangulati-qasource commented on #126154
Hi @marshallmain,

We have rechecked the issue and did troubleshooting on the latest BC and found that the rule frequency set earlier for which we logged issue was not correct.

So by taking care of the look back time, issue is not occurring and all is working fine.

Hence we are closing it.

Thanks!

[2022-02-23 08:26] #126154 closed

[2022-02-23 08:30] mbondyra commented on #42661
+1 from Discuss.

[2022-02-23 08:56] pgayvallet commented on #96538
@afharo Reopening the discussion, as this was put into our current sprint.

As of today, do we have any way to perform such check from an OSS endpoint?

If not, the only option I see is to perform IOC by having an xpack plugin register a `checkPermission` or whatever api to the `telemetry` plugin

[2022-02-23 08:57] philippkahr opened #126222 "[Fleet] provide curl command for agent downloads"
**Describe the feature:**
Instead of only showing a download button that takes you to another page, provide a curl command that downloads, extracts the tar archive and runs the install command, then removes the downloaded tar.

Also create a command that would work on Windows using Invoke-Webrequest from Powershell.

This would allow users who aren't that great in scripting to quickly deploy multi

[2022-02-23 08:59] karanbirsingh-qasource commented on #104437
Hi @MadameSheema

we have observed this issue re-occurrence on 8.0.1-BC2 but this time error cause have been changed for different set of action that is temporary disable of timeline field.

**Build Details:**
[code]

**Steps:**
- Create timeline
- Add some field in drag area let say host.name
- click on field and temporary disable it
- you will observe `KQL Syntax Error` and keep on getting it un

[2022-02-23 09:00] elasticmachine commented on #126173
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-23 09:13] bhavyarm opened #126223 "Align "Login as a different user text" in the box"
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** "Login as a different user" text is not centre aligned(?) anymore in the box.
<img width="1792" alt="Screen Shot 2022-02-23 a

[2022-02-23 09:13] elasticmachine commented on #126223
Pinging @elastic/kibana-security (Team:Security)

[2022-02-23 09:15] #125907 closed

[2022-02-23 09:16] MadameSheema commented on #104437
@karanbirsingh-qasource can you please open a separate issue for this explaining the new behaviour? Thanks! :)

[2022-02-23 09:16] #104437 closed

[2022-02-23 09:17] walterra opened #126224 "[ML] Transforms: Add support create new pipeline during transform creation workflow"
Follow up to #102594.

#123911 added support to select existing pipelines when creating a transform. Another feature request is to create a new pipeline on the fly, for example by adding a link to open the Ingest Pipelines UI in a separate tab for creating a new pipeline. We could also create a flow in which Ingest Node Pipelines is opened in the same tab with a special query parameter in the URL,

[2022-02-23 09:17] elasticmachine commented on #126224
Pinging @elastic/ml-ui (:ml)

[2022-02-23 09:19] walterra commented on #102594
Support to add an existing pipeline to a new transform was added in #123911. About the idea to create a new pipeline on the fly, I moved this to a follow up issue #126224, allows us to close this one.

[2022-02-23 09:19] #102594 closed

[2022-02-23 09:24] formgeist commented on #125964
Commented an initial solution in the [PR](https://github.com/elastic/kibana/pull/126176#issuecomment-1048570730)

---

In terms of indication to the user that these index settings are now space-aware, we can utilize the current Advanced Settings callout, since there are no other examples of space-awareness indications in Kibana (afaik).

<img width="1661" alt="CleanShot 2022-02-22 at 15 01 22@2x"

[2022-02-23 09:29] janmonschke commented on #122207
The backport didn't go through somehow @jamster10 https://github.com/elastic/kibana/pull/123775

[2022-02-23 09:40] amolnater-qasource opened #126228 "[Self-Managed]: On clicking Add Agent button, `Run Standalone` section is opened by default instead of `Enroll in fleet`."
**Kibana version:**  8.1 BC-3 Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.1 BC-3 Kibana self-managed environment should be available.
2. No Fleet Server should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Click `Add Agent` flyout.
4. Observe `Run Standalo

[2022-02-23 09:40] elasticmachine commented on #126228
Pinging @elastic/fleet (Team:Fleet)

[2022-02-23 09:40] amolnater-qasource commented on #126228
@manishgupta-qasource Please review.

[2022-02-23 09:41] fkanout opened #126229 "[RAC][UPTIME] Add "View in App URL" {{context.viewInAppUrl}} variable to the rule templating language"
# Summary
In the context of https://github.com/elastic/kibana/issues/119090, the View in App URL `{{context.viewInAppUrl}}` should appear as one of the rule variables when defining the rule action.

Helpful info: https://github.com/elastic/kibana/issues/123947

# AC
- View in App URL appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the

[2022-02-23 09:48] rudolf commented on #126191
We would need to make sure we preserve references so that anything that pointed to the old `agnostic` object now points to the new space-specific object.

If there's no references we could use the document splitting migration idea from https://github.com/elastic/kibana/issues/87900

[2022-02-23 09:51] amolnater-qasource commented on #125409
Hi @joshdover
We have revalidated this on latest 8.0.1 BC-2 kibana cloud environment and found it **fixed** now.
- On adding cyberark in 7.17 and upgrading to 8.0.1 BC-2, Fleet tab is accessible.

**Build Details:**
BUILD: 49348
COMMIT: 28c513e163646ac0858d8c944414fb518f4ef940

**Screenshots:**
![10](https://user-images.githubusercontent.com/77374876/155295685-809f6278-c3cf-4d3e-90ca-a25ac1f11787.

[2022-02-23 09:53] watson commented on #126223
Thanks for reporting this. There's an issue tracking this already (#124490), so I'll close this as a duplicate.

[2022-02-23 09:53] #126223 closed

[2022-02-23 09:54] afharo commented on #96538
@pgayvallet I think you got it right! The Security team (aka, @legrego) added the permission `decryptedTelemetry` in #96571. IMO, checking for that permission would be enough.

[2022-02-23 09:55] fkanout opened #126230 "[RAC][APM] Add "View in App URL" {{context.viewInAppUrl}} variable to the rule templating language"
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the View in App URL `{{context.viewInAppUrl}}` should appear as one of the rule variables when defining the rule action.

# AC
- View in App URL appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct URL of the view in-app should appear when viewing the

[2022-02-23 10:00] fkanout opened #126231 "[RAC][LOGS] Add "View in App URL" {{context.viewInAppUrl}} variable to the rule templating language"
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the View in App URL `{{context.viewInAppUrl}}` should appear as one of the rule variables when defining the rule action.

# AC
- View in App URL appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct URL of the view in-app should appear when viewing the

[2022-02-23 10:00] weltenwort commented on #126045
"Data view" is the new name for "Kibana index pattern" to avoid collision with the "index pattern" term as used in the Elasticsearch docs (where it describes index name globs).

[2022-02-23 10:00] fkanout opened #126232 "[RAC][Metrics] Add "View in App URL" {{context.viewInAppUrl}} variable to the rule templating language"
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the View in App URL `{{context.viewInAppUrl}}` should appear as one of the rule variables when defining the rule action.

# AC
- View in App URL appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct URL of the view in-app should appear when viewing the

[2022-02-23 10:04] rudolf commented on #120733
Closed in https://github.com/elastic/kibana/pull/123660

Given the work done in https://github.com/elastic/kibana/issues/120043 I don't think it's necessary to enable debug logging on Cloud, we should rather catch deprecated API usage during our development cycle.

[2022-02-23 10:04] #120733 closed

[2022-02-23 10:04] juliaElastic commented on #122973
@mostlyjason I noticed that Integrations UI has a toggle of Recommended/Elastic Agent only/Beats only.
The Recommended option has a tooltip that seems to suggest that generally available integrations are recommended, however there is no filtering there, so Recommended options shows all packages. I think this is slightly misleading.
We could enhance this toggle to have an All option as well, and Re

[2022-02-23 10:07] dikshachauhan-qasource commented on #106671
Hi @jen-huang

While performing testing on 8.1 BC3 build, we observe that this issue is still reproducible from both tabs, Fleet and Integration, while adding integration to any policy.

**Recording:**

https://user-images.githubusercontent.com/72375798/155298239-68f3c50f-8109-4897-b3ec-e119c2ff4231.mp4

Thanks
QAS

[2022-02-23 10:11] juliaElastic commented on #122973
@jsoriano @mostlyjason @joshdover
As part of the release tag change, Integrations UI has to be changed to show package badges based on semver instead of release tag, right? I'm not seeing this feature mentioned in this issue.
Currently the UI shows no badge/beta/experimental coming from the package's release tag field.
This has to change to derive from semver I think and to use the new labeling (g

[2022-02-23 10:19] manishgupta-qasource commented on #126228
Reviewed & mention to @mostlyjason

[2022-02-23 10:22] amolnater-qasource commented on #126228
FYI @juliaElastic

[2022-02-23 10:28] Max-Iskra commented on #120282
**Collapsed even further**
- Removed legend title
- Legend has 5 rows now

_**Note:** In keeping with other pages of a product, the panel has a 1px border. In this case, I think we should create a separate thread if we want to remove the border all over the pages_

![Collapsed Alerted Gpaphs](https://user-images.githubusercontent.com/91196877/155301638-35490833-169f-4d4f-a0b2-395ef2369d46.png)

cc

[2022-02-23 10:31] joshdover commented on #126067
I'm curious if our current query logic requires index privileges to the backing indices. We could test this by adding `read` index privilege for `.ds-logs-*` and `.ds-metrics-*` and see if that 'fixes' the issue. If so, we again need to revisit how this UI queries data (related to https://github.com/elastic/kibana/pull/115805).

[2022-02-23 10:40] VladLasitsa opened #126233 "[Chart expressions] Add supporting of `vis_dimension` and `string` types for accessor"
During the completion of the unification expressions task, we have found that some visualization use `vis_dimension` type and some just `string` type for accessor. For consistency supporting of two these types should be added in all charts expressions.

The following plan was prepared:

- `validateAccessor` function which allow to validate accessor should be added in visualization utils:

[code]

[2022-02-23 10:40] joshdover commented on #126148
This was already fixed with this option in https://github.com/elastic/kibana/pull/125819 which should be available in 8.1.0 BC4 when it gets built today.

If we want to explore a different UX, I think we should consider that as a separate enhancement from this issue. I'm going to close this one and @dikshachauhan-qasource could you re-verify this on BC4 once it's available?

[2022-02-23 10:40] #126148 closed

[2022-02-23 10:41] elasticmachine commented on #126233
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-23 10:45] Dosant commented on #126173
cc @vadimkibana

[2022-02-23 10:46] joshdover commented on #125910
That sounds great. I'm going to remove the Team:Fleet label for now since this is sort of an APM design problem right now. Once there's consensus on how Fleet can better support the APM use case, please feel free open an appropriate issue for our team about what experience you would like to create.

[2022-02-23 10:46] sqren commented on #125964
I like this approach. Good find using Advanced Settings as precedent. This makes it much clearer. Let's do this for the Index Settings

[2022-02-23 10:47] sqren commented on #125964
@formgeist Should we also show something like this when creating a service group?

[2022-02-23 10:49] joshdover commented on #126130
Do we know if this is only happening on 8.0.1 or is this also a problem on 8.1? If it's isolated to 8.0.0, I wonder if we can close this issue as a wontfix.

[2022-02-23 10:51] sqren commented on #125964
I think we should also show this for the Anomaly Detection settings page, since ML jobs are also space aware:

<img width="1724" alt="image" src="https://user-images.githubusercontent.com/209966/155305233-1179cf0d-c5a4-4a13-acdd-aa98c3944e21.png">

[2022-02-23 11:06] joshdover commented on #120363
Ah so I think this is in place to ensure that we are using the latest versions of the shared global ingest pipeline that Fleet installs. I think it would make sense to revisit this as part of #121099. @juliaElastic does that make sense to you? If so, I think we can close this and make a note to revisit this as part of that issue.

[2022-02-23 11:12] Max-Iskra commented on #120287
### **Figma mockup: https://ela.st/dead-space-removal**

- Removed big title
- Removed extra paddings
- Actions now merged

_Note: "Extended toolbar" is based on exploration for hide/show actions from #120291_

![Toolbar variants](https://user-images.githubusercontent.com/91196877/155307805-e6832b98-299f-43e7-9ca6-0640baebdc46.png)

**_Note: Page preview based on updateas from #120282 and #120291_

[2022-02-23 11:18] joshdover commented on #80841
Can we close this design issue now?

[2022-02-23 11:25] Max-Iskra commented on #120291
Updated view without big title based on issue #120287

Chart Shown

![Alerts Header](https://user-images.githubusercontent.com/91196877/155310246-90d5f018-0a7b-4af6-b677-a09fb3f1e338.png)

Chart Hided

![Alerts Header-collapsed](https://user-images.githubusercontent.com/91196877/155310363-d4fcbc57-a3fa-4e62-a333-92e4b0413f38.png)

[2022-02-23 11:49] afharo commented on #96538
That said, I just tried to add `security` as a dependency to the `telemetry` plugin and there's a circular dependency because `security` depends on `home`, and `home` depends on `telemetry` to show the privacy banners in the Welcome screen: https://github.com/elastic/kibana/blob/9d662b77bec867247421376ecb60a07202ed45f9/src/plugins/home/public/application/components/welcome.tsx#L77-L119

We might n

[2022-02-23 12:01] jsoriano commented on #122973
@juliaElastic yes, this would be the part mentioned in the description as "Replace current beta/experimental labels with the following mappings: ...". Or are you referring to a different thing?

[2022-02-23 12:02] muskangulati-qasource opened #126236 "[Security Solution] No message for the successful removal of Trusted application from a policy"
**Description:**
No message for the successful removal of Trusted application from a policy

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Add a trusted application to a policy
2. Navigate to that policy
3. Remove the trusted application
4. Observe no message shows up for the same.

**Impacted Test case:**
N/

[2022-02-23 12:02] elasticmachine commented on #126236
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-23 12:07] muskangulati-qasource commented on #124675
Hi @dasansol92,

We tested this ticket for all the scenarios and below are our observations for the same.

Please find below the testing details:

**Build Details**
[code]

#### Observations
1. Creation flyouts when adding from the policy tab
    - Trusted Applications Tab

    https://user-images.githubusercontent.com/60252716/155312788-609a7145-235d-46b6-9a6f-a61042807deb.mp4

    - Event Filter

[2022-02-23 12:13] dasansol92 commented on #126236
Good catch! Seems that this only happens when there is only one trusted app, it should display the message when after removing a trusted app from the list there are still more trusted apps in the list. Is this right @muskangulati-qasource ? I think it has to do with the Trusted App API changes, could you check this in 8.0 in order to be sure if this is a regression from 8.1 or not? Thanks!

[2022-02-23 12:14] juliaElastic commented on #122973
I see, I guess I wasn't sure if that refers the Integration UI labels, thanks for confirming.
Is the expectation for Fleet to do the mapping from semver to GA/Technical Preview/Beta for the purpose of using as UI badges?

[2022-02-23 12:22] muskangulati-qasource commented on #126236
Hi @dasansol92,

We tested the same scenario for a single entry on the latest 8.0.1 and found the issue is not reproducible there.

**Build details**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/155318616-7c1eef55-83d5-44a9-afb3-d8214bdae50c.mp4

Thanks!

[2022-02-23 12:24] rudolf opened #126240 "SavedObjects update can cause version conflict errors even when not using optimistic concurrency control"
To support sharing to multiple spaces https://github.com/elastic/kibana/issues/27004 the update operation adds a version check to be sure that the namespaces are still the same ones as verified by the pre-flight check:
https://github.com/elastic/kibana/blob/d4b2a5145a9aa813146e2c587f7be2929f09fb7e/src/core/server/saved_objects/service/lib/repository.ts#L1035

However, this means even if consumers

[2022-02-23 12:24] elasticmachine commented on #126240
Pinging @elastic/kibana-core (Team:Core)

[2022-02-23 12:24] Trippykoala opened #126241 "Numbers used in graph show up collapsed in first column"
**Kibana version:**
v 7.17.0

**Browser version:**
Chrome Version 98.0.4758.102 (Official Build) (64-bit)

**Describe the bug:**
Whenever you make a graph with terms where a count is done on a . The counts are displayed all on top of each other in the first column. This makes it so it's impossible to see the numbers of the different columns.

**Steps to reproduce:**
1. Create a column graph with t

[2022-02-23 12:27] juliaElastic commented on #120363
So are you saying that as part of the other issue, Fleet will reinstall packages on stack upgrade? So that the setup code no longer has to check and reinstall packages? If so, I agree that we can close and revisit with the other issue.

[2022-02-23 12:28] afgomez commented on #65493
I don't think this is relevant anymore. Closing

[2022-02-23 12:28] #65493 closed

[2022-02-23 12:31] juliaElastic commented on #126130
It is only happening on 8.0, since in 8.1 the UX changed and there is no longer a Create Agent policy link. I checked there and the flyout is opening correctly.

[2022-02-23 12:32] jsoriano commented on #122973
Yes, I think this should replace [current mappings](https://github.com/elastic/kibana/blob/b7db60a2509cd87cbef3ede5a7e917faa887a9e2/x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/release_badge.ts) based on the release tag.

The only other place where we have identified the needing of this mapping has been in `elastic-package status`, implementation can be found [here

[2022-02-23 12:36] juliaElastic commented on #126228
This logic has been in the code for some time, so it seems intentional, however it doesn't feel right to show users the standalone tab by default. When there is no fleet server, the `Enroll in Fleet` tab already shows Fleet Server instructions, so it should be fine to default to that.
https://github.com/elastic/kibana/blob/b7db60a2509cd87cbef3ede5a7e917faa887a9e2/x-pack/plugins/fleet/public/applic

[2022-02-23 12:41] juliaElastic commented on #122973
Note to Fleet UI team: the previous release tag values are duplicated in a few places, it would be good to move to an enum and rename: https://github.com/elastic/kibana/search?q=%22%27beta%27+%7C+%27experimental%27+%7C+%27ga%27%22

[2022-02-23 12:43] mistic commented on #124681
Skipped.

main: [eb9d879](https://github.com/elastic/kibana/commit/eb9d8798c227cf580a299beff454c7bb1803ae5e)
8.1: [21626b0](https://github.com/elastic/kibana/commit/21626b0a857963a570ed5854eb841ae17926a2a5)

[2022-02-23 13:08] manishgupta-qasource commented on #126236
Reviewed & assigned to @kevinlog

[2022-02-23 13:13] dikshachauhan-qasource commented on #108252
Hi @mostlyjason

We have created below test cases for this feature ticket at Testrail:

- https://elastic.testrail.io/index.php?/cases/view/165612
- https://elastic.testrail.io/index.php?/cases/view/165613
- https://elastic.testrail.io/index.php?/cases/view/165619
- https://elastic.testrail.io/index.php?/cases/view/165620
- https://elastic.testrail.io/index.php?/cases/view/165621
- https://elastic

[2022-02-23 13:13] mbarretta commented on #125702
Looks like ECE license docs point here too: https://www.elastic.co/guide/en/cloud-enterprise/current/ece-add-license.html#ece_licenses_expiration

[2022-02-23 13:15] kevinlog commented on #126236
@dasansol92 assigning this one to you for now - let me know if it should go to @paul-tavares if it's related to the API validations.

[2022-02-23 13:16] yuliacech opened #126242 "[Index Management] Large number of indices take a long time to load"
Index Management gets noticeably slow when loading a large number of indices. Currently, the app is loading all existing indices in the browser and the pagination for the indices table is calculated on the client side. This approach works but the page gets slower the more indices there are in the deployment. This issue is to investigate the risk and limitations of the current implementation and wo

[2022-02-23 13:16] elasticmachine commented on #126242
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-23 13:25] Dosant commented on #126240
We're working on RFC for improving search and search sessions,
This improvement will help us a lot: simplify code and improve performance.

We have this code path where we with each search within a search session update a `search-session` saved object with information about that search.  We could refactor it to make only a partial update and remove logic for handling conflicts and scheduling retri

[2022-02-23 13:30] joshdover commented on #108252
We should probably hide this as non-superusers may not have access to the Cloud console, but I also know that is changing recently with the addition of more user roles on Cloud. @mostlyjason we could probably use your input here.

[2022-02-23 13:41] #125782 closed

[2022-02-23 13:50] mostlyjason commented on #108252
I think we should show it to both since we don't know whether the signed in user in kibana has access to the cloud console or not. If they sign into Elasticsearch directly using user/pass or SSO, they may not be signed into Elastic Cloud. After the link they can sign in with Elastic Cloud if needed or ask a cloud admin for help.

[2022-02-23 13:58] juliaElastic commented on #122973
@joshdover
I noticed that on Integrations UI, some packages have empty release and version properties. These are the ones that are split from a package e.g. ActiveMQ Logs and Metrics. Is this a bug? E.g. if base package is beta, the integration card should have beta badge too, right?
<img width="1494" alt="image" src="https://user-images.githubusercontent.com/90178898/155333762-3fe2bea6-bf67-4c0f-

[2022-02-23 14:15] mdefazio opened #126247 "[Runtime Fields] UX: Composite Runtime Fields phase 2"
## Summary

Our previous designs composite runtime fields combined the flow with data parsing.  After discussing further, we felt it made sense to focus on composite runtime fields as their own flow within the runtime field creation flyout.  The data parsing flow would be triggered separately (tbd).

[**Design Doc**](https://docs.google.com/document/d/1EpoBWYhlrKF-av534dlg26MS6UeZ3M0tYSBHeCjKVds/e

[2022-02-23 14:26] mateskoo commented on #124024
Hi @tsullivan ,

1. No, just one Kibana instance is running (v7.12.1)

2. Kibana config:

[code]

3. Kibana is staying online the whole time, no restarting, no crashing.
[kibana_grep.log](https://github.com/elastic/kibana/files/8125023/kibana_grep.log)

Full log file in attachement.

[2022-02-23 14:26] rudolf commented on #126240
@Dosant it looks like `search-session` is `type: 'single'` https://github.com/elastic/kibana/blob/main/x-pack/plugins/data_enhanced/server/saved_objects/search_session.ts so I think you're more likely hitting the problem described in https://github.com/elastic/kibana/issues/27004

Based on my understanding of search sessions I don't think it makes sense to share across spaces so sharing wouldn't b

[2022-02-23 14:31] peteharverson opened #126250 "[Cases] Title length warning stays on re-editing case title"
The length of a case title is limited to a maximum of 64 characters. If you edit the title so that it is more than 64 characters an error message is correctly displayed below the input on save. However if you then edit the title to less than 64 characters, save, and then re-edit the title, the previous warning message is incorrectly displayed.

![case_title_length_error](https://user-images.github

[2022-02-23 14:31] elasticmachine commented on #126250
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-23 14:31] elasticmachine commented on #126250
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-23 14:38] joshdover commented on #122973
These are not packages, they're actually Beats tutorials that link off to a different app in Kibana. They're only visible when the corresponding package is not yet GA. You can grep around in the codebase for `getReplacementCustomIntegrations` to find how this replacement happens on the client side.

[2022-02-23 14:38] elasticmachine commented on #126241
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-23 14:40] elasticmachine commented on #125607
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-23 14:52] #126049 closed

[2022-02-23 15:04] rudolf commented on #123847
@errobinson

Your settings would indeed cause migrations to timeout. In https://github.com/elastic/kibana/issues/118934 we'll use the cluster allocation explain API to log more info about _why_ the migration cannot succeed which would help someone like you identify the problem.

The root of the problem is that we set `auto_expand_replicas: 0-1` and `wait_for_active_shards: 'all'` when creating the

[2022-02-23 15:10] joshdover commented on #120363
Yes, that's the idea. Great, I'll close this and consider it as part of the design of #121099

[2022-02-23 15:10] #120363 closed

[2022-02-23 15:16] joshdover commented on #126190
This made sense to me at first, but I would expect that the package policies would be upgraded after the package successfully upgraded already 🤔

[2022-02-23 15:17] scibi opened #126255 "Improved error logging - include caused_by.reason"
**Describe the feature:**

Include `caused_by.reason` when logging errors received from Elasticsearch.

**Describe a specific use case for the feature:**

Today I spent a lot of time trying to debug #125756. There was only one useless log message like this:

[code]

User `elastic` has got `superuser` role and therefore has got a `read` privilege to every index. I had to turn on logging all queries

[2022-02-23 15:18] qcorporation opened #126256 "[Security Solution] Session View and Integration UI polish"
## Background

The entire UI needs to be reviewed against the UX design documented within Figma. After the initial development the team will need to go through each element of the UI and make sure it pixel-perfectly matches with the Figma mock ups.

## Tasks

- [ ] Review/Update the Host -> Session page
- [ ] Review/Update the Timeline -> Session View page
- [ ] Review/Update the Details Panel wit

[2022-02-23 15:21] stephmilovic commented on #126064
I put target 8.1 but i think this would be in 8.0

[2022-02-23 15:23] TinaHeiligers commented on #109970
@KOTungseth That's not strictly true though, Kibana _does_ work when `server.publicBaseUrl` isn't configured. Is there a way to make this shorter: "Best practices for running Kibana in a production environment include a configured `server.publicBasePath`. For detailed information, refer to the documentation"

[2022-02-23 15:26] squadwuschel commented on #114951
If you can't sort for the value you have created in the formula, then it's a useless feature to create custom formulars in large datasets where you want to sort for best or worst values after calculating them.

[2022-02-23 15:45] Dosant commented on #82719
Initially posted in https://github.com/elastic/kibana/issues/126240#issuecomment-1048779449, but looks like this is the correct issue that we are hitting:

We're working on RFC for improving search and search sessions,
And this saved_objects update issue will help us a lot: simplify code, improve performance, reduce surface for errors

We have this code path where we with each search within a sear

[2022-02-23 15:55] jportner commented on #126191
Let me clarify: I'm talking about converting from `namespaceType: 'agnostic'` to `namespaceType: 'single'`. Not any of the other namespace types 😄

Actually no, we wouldn't need to rewrite the ID. The global global object previously existed outside of spaces and it didn't have a namespace prefix. It would need to be "split" into multiple new objects for each non-Default spacde.

Example for a Kiba

[2022-02-23 15:58] academo opened #126264 "[Cases] Cleanup: Remove old APIs after refactors (once completed and merged)"

[2022-02-23 15:58] dej611 commented on #125935
Just tested on latest `main` and cannot reproduce it:

![filter_by_interval](https://user-images.githubusercontent.com/924948/155356841-bf0e415a-9f9b-46fc-b13d-faa282889adc.gif)

[2022-02-23 16:02] TinaHeiligers commented on #109970
Or "Configuring 'publicBasePath ' in a production environment is beneficial. Refer to the documentation'

[2022-02-23 16:11] mostlyjason commented on #126113
I only have the default space. Not sure what you mean by reproducible, I only upgraded the cluster once. Are you asking if these errors will show again if I restart my upgraded version of Kibana?

It looks like the packages with conflicts are docker, linux and apache, which are not "managed packages".  It sounds like they being installed due to the Saved Object re-key migration, and not due to aut

[2022-02-23 16:11] droberts195 opened #126267 "Add index.mapping.total_fields.limit to settings when mappings are large"
When importing files using the file data visualizer, currently the upload fails if more than 1000 fields are detected in the file.  For example, this can happen when the file that's uploaded is a CSV file with more than 1000 columns.

To make the import work, it is necessary to add the setting `"index.mapping.total_fields.limit" : N` to the index settings on the advanced tab of the file import, wh

[2022-02-23 16:18] kpollich commented on #110202
Original issue reported was for upgrade of Windows integration `v0.8.1` -> `1.0.0`. The original issue reported is still working correctly on staging `8.0.1`. See below:

![image](https://user-images.githubusercontent.com/6766512/155337132-0e651aa6-5a54-457e-910f-1eb7a29d16bf.png)

![image](https://user-images.githubusercontent.com/6766512/155337159-8900fbd2-6ef5-495a-bf5f-fc10b50296cc.png)

---

[2022-02-23 16:18] #110202 closed

[2022-02-23 16:27] kevinlog commented on #126236
@dasansol92 I'm OK with a patch release of 8.2 for this.

[2022-02-23 16:33] katrin-freihofner commented on #126103
Ok thank you @dominiqueclarke

**Headline**: Delete monitor [monitor name]

**Text**: This action will delete the monitor but keep any data collected. This action cannot be undone.

**Buttons**: Cancel Delete

cc @liciavale @drewpost

[2022-02-23 16:35] n0othing commented on #116103
This appears to still be an issue on Kibana 8.0.

![banner_cuttoff](https://user-images.githubusercontent.com/11917935/155363204-1c9b5001-135f-41b3-979e-e607588f78fa.jpg)

[2022-02-23 16:42] criamico commented on #126067
@joshdover I tested your suggestion on cloud (Latest 8.1). The admin user has some data in `data streams`:

![Screenshot 2022-02-23 at 17 34 44](https://user-images.githubusercontent.com/16084106/155364122-4bde37fb-6a67-4a78-ae75-010464f68c87.png)

I then created a user with Fleet "All", Integrations "Read" and the index privileges that you suggested:

![Screenshot 2022-02-23 at 17 37 44](https://

[2022-02-23 16:54] #96180 closed

[2022-02-23 16:54] #69959 closed

[2022-02-23 16:54] #69963 closed

[2022-02-23 16:54] #5800 closed

[2022-02-23 16:54] #96308 closed

[2022-02-23 16:54] #69958 closed

[2022-02-23 16:54] #69961 closed

[2022-02-23 16:55] #46177 closed

[2022-02-23 16:55] #34282 closed

[2022-02-23 16:55] #71307 closed

[2022-02-23 16:55] #72591 closed

[2022-02-23 17:17] michaelolo24 commented on #125949
Spoke with @paulewing, @kqualters-elastic, @janmonschke, and @andrew-goldstein regarding this issue and there are concerns regarding the erasure of users existing investigations when a visualization is launched in timeline. Given these concerns, we'll integrate the session view launching similar to how the analyzer currently launches. With an overlay when launched in a security table, and launched

[2022-02-23 17:20] #124809 closed

[2022-02-23 17:23] dominiqueclarke commented on #124601
I believe this will be fixed by https://github.com/elastic/kibana/pull/125514, which fixes some faulty logic in the return value of the api

[2022-02-23 17:28] paul-tavares commented on #126148
Thanks @joshdover . I'm ok with that for the Integration page "Advanced" tab.
Do we know if there are any similar errors on the Integration Edit form? we also register our own edit form in that page which displays some of these artifact cards - which like are also hitting the problem (or maybe hitting the problem, but not visible to the user? @dikshachauhan-qasource have you check that?)

[2022-02-23 18:24] vitaliidm commented on #124715
@XavierM
Few observations:

1. Proposed interface doesn't allow to remove/add single array value from bunch of rules, only rewrite entire property.
Our use cases: user can add/remove specified value from list of rules. For example tag or index pattern.
  Let's look into this on example of adding tag:
   - user types only one tag to be added to all selected rules.
   - currently we fetch all rules

[2022-02-23 18:31] ymao1 opened #126279 "[Infrastructure UI][Rules] Specify recovery context for Inventory Threshold rule type"
The alerting framework has recently merged [a PR](https://github.com/elastic/kibana/pull/124972) to provide rule executors with the ability to specify context for recovered alerts. Details are available in the PR and in the [alerting README](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/README.md#recovered-alerts) but essentially,

1. Rule types should set `doesSetRecoveryCon

[2022-02-23 18:32] elasticmachine commented on #126279
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-23 18:42] dominiqueclarke commented on #116522
I think I spoke too soon on this one. I initially thought the new failures were from `8.2.0`, but now that I see they are in `7.15`, we should investigate. This is likely do to this change in package registry: https://github.com/elastic/package-registry/commit/4a270e45cb76e4482f3d214512679c073abe10ed

[2022-02-23 18:45] ymao1 opened #126280 "Investigate using `context` variables instead of `state` for Uptime rules"
The alerting framework has recently merged [a PR](https://github.com/elastic/kibana/pull/124972) to provide rule executors with the ability to specify context for recovered alerts. Details are available in the PR and in the [alerting README](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/README.md#recovered-alerts).

While investigating the issue, we noticed that Uptime rules

[2022-02-23 18:46] elasticmachine commented on #126280
Pinging @elastic/uptime (Team:uptime)

[2022-02-23 19:07] TinaHeiligers commented on #109970
We might also want to add more info to the [docs for configuring `publicBaseUrl](https://www.elastic.co/guide/en/kibana/master/settings.html#server-publicBaseUrl)` or another link to "configuring Kibana for a Production environment" and add the extra details there.

[2022-02-23 19:21] tylersmalley commented on #126182
Related to https://github.com/elastic/kibana/pull/125006

[2022-02-23 19:22] tylersmalley commented on #126182
Related to [[ci-stats] add Client class for accessing test group stats #125164](https://github.com/elastic/kibana/pull/125164)

[2022-02-23 19:37] KOTungseth commented on #109970
A few small tweaks to make it active:

In a production environment, it is recommended that you configure 'publicBaseUrl'. Refer to the <<publicBaseUrl,documentation>>.

*I guessed on the doc link

[2022-02-23 19:42] elasticmachine commented on #124695
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #124713
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #124724
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #124730
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125190
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125213
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125354
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125473
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125480
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125491
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125492
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125519
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125647
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125770
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125948
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125949
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #125950
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126040
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126041
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126054
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126057
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126077
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126083
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:42] elasticmachine commented on #126093
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #121751
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #121845
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #122071
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #122156
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #122178
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #122187
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #122779
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123193
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123493
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123612
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123613
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123617
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123641
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123706
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123838
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #123912
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124138
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124151
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124154
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124174
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124290
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124294
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #124306
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:43] elasticmachine commented on #115706
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #116693
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #117549
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #118290
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #118844
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #118845
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #118846
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #119419
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #119593
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #119797
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #119929
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120281
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120282
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120287
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120295
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120296
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120300
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120302
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #120741
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #121264
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #121287
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #121499
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #121374
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #115339
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:44] elasticmachine commented on #115341
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 19:50] tsullivan opened #126291 "[Reporting] Investigate async base64 encoding of the PNG/PDF report output"
Reporting stores PNG and PDF output in Elasticsearch as a string of base64. Encoding and decoding in NodeJS blocks the event loop, making this part of report generation potentially impact other plugins and APIs in Kibana.

We should explore libraries that would improve performance by using base64 in an async way. One example is https://github.com/lukechilds/base64-async

[2022-02-23 19:50] elasticmachine commented on #126291
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-23 20:02] elasticmachine commented on #120206
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #121277
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #121984
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #122616
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124463
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124464
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124466
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124467
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124468
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124687
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124794
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #124798
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #126064
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:02] elasticmachine commented on #126145
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-23 20:03] stephmilovic commented on #121984
its super low priority, not done yet

[2022-02-23 20:04] elasticmachine commented on #78548
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #80601
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #83374
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #102395
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #112011
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #112315
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #113587
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #113645
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #115851
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #116586
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #117289
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #119926
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #120562
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #120596
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #120687
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #121387
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #121390
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #121559
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #122405
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #124287
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #125033
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #125171
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #125703
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #126081
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #50222
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #53186
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #75129
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:04] elasticmachine commented on #76627
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #63624
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #74828
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #77830
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #78360
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #94967
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #104433
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #112196
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #117192
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #121287
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #123699
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #124105
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #124294
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #124899
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #125922
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #126046
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #126084
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #126085
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #126086
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:05] elasticmachine commented on #126087
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-23 20:07] kpollich commented on #122152
Thinking about it a bit more, I don't think upgrading the Fleet UI version of the breadcrumb makes sense. Linking from the Upgrade form to the Edit form for a given integration policy seems needless. I'll simply make a fix to add the "Upgrade integration" text to the Integrations UI version of the breadcrumbs as requested above.

[2022-02-23 20:09] #124997 closed

[2022-02-23 20:17] #111924 closed

[2022-02-23 20:21] tylersmalley commented on #103545
@spalger is this still an issue?

[2022-02-23 20:26] #71534 closed

[2022-02-23 20:34] markov00 commented on #122684
@hendry-lim the PR to fix that in 8.0.1 was just merged https://github.com/elastic/kibana/pull/123265

[2022-02-23 20:35] tylersmalley commented on #59321
@stacey-gammon, is this issue replaced by having the owner in the `kibana.json`?

[2022-02-23 20:37] #59766 closed

[2022-02-23 20:38] tylersmalley commented on #59766
Closing - merge gating is a better solution IMO

[2022-02-23 20:43] tylersmalley commented on #28276
@stacey-gammon is there anything here you think we still need to prioritize?

1. We're only promoting ES snapshots that pass CI first, so the example given is not something that will happen. Additionally, we're soon going to start merge gating which I believe will additionally limit this.
2. Builds on tracked branches run once per hour, not daily anymore.
3. We're collecting and displaying a lot m

[2022-02-23 20:51] tylersmalley commented on #88183
For the reasons @spalger stated, we're going to keep them in the limits file for now.

[2022-02-23 20:51] #88183 closed

[2022-02-23 21:00] #126198 closed

[2022-02-23 21:04] elasticmachine commented on #126236
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-02-23 21:05] marshallmain commented on #125171
`event.ingested` is typically populated through an ingest pipeline. I asked the beats developers and they said

Winlogbeat 8.0+ uses ingest pipelines for processing so it can add event.ingested.

The [8.0 docs](https://www.elastic.co/guide/en/beats/winlogbeat/current/load-ingest-pipelines.html) for winlogbeat provide a bit more information on the ingest pipeline.

It's not a required field in ECS

[2022-02-23 21:45] ossie-git commented on #125171
Thanks @marshallmain. If this is the case:

* why doesn't the rule use `@timestamp` instead to be more generic? I think that writing a rule to look at `event.ingested` makes users who aren't used the suggested collection method miss out on rules. What if I'm using Winlogbeat 7.x or NXLog or Logstash and the field isn't being sent? In fact, 8.0 wasn't even released when I tested this rule
* why isn

[2022-02-23 21:54] EricDavisX commented on #119845
MLR-QA team is wrapping up a prototype jenkins job to run kbn-alert-load tool (while security team has a prototype done in build-kite, fyi!) - I'll post details in slack for RespOps team

[2022-02-23 23:12] Heenawter opened #126302 "[Controls] Double click on "Set all sizes to default" checkbox results in crash"
**Steps to reproduce:**
1. Open controls settings
2. Click on "Set all sizes to default" to set it
3. Without exiting the settings or saving, click on "Set all sizes to default" to *unset* it
4. Crash and burn! :fire:

**Video of bug:**

https://user-images.githubusercontent.com/8698078/155425110-ee023935-2a15-4f76-8be4-5f5869378e66.mp4

[2022-02-23 23:12] elasticmachine commented on #126302
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-23 23:32] jen-huang commented on #125640
@kpollich Assigning this one to you as @criamico took https://github.com/elastic/kibana/issues/125534, and we had planned for the overall enhancement to be split between you :)

[2022-02-23 23:40] lukeelmers commented on #109970
I think this is a good idea. Or even mentioning this setting specifically from the alerting/reporting docs directly would be useful, as you could explain the benefits users get from having it set.

[2022-02-23 23:53] monina-n commented on #126083
In general the width of the popover (and subsequently the dropdown) should be increased and that should account for a majority of use cases. If after we increase width, it's still not enough we can talk about other options

[2022-02-24 00:06] simianhacker opened #126304 "[Logs UI] Refactor Log Threshold Rule to eliminate reduces"
For 7.x, the Log Threshold Rule uses a `reduce` to transform the buckets to an simplified array used to do the evaluations. The `reduce` portion of this code takes ~30 seconds to process 30K groups. When this is changed to use a `for/of` using an external accumulator, the execution time drops to ~3 seconds.

The effect of this is even more dramatic because the `reduce` is blocking the event loop s

[2022-02-24 00:06] elasticmachine commented on #126304
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-24 00:35] EricDavisX commented on #58244
I updated the description with a tentative plan and list of connectors.  @dolaru particularly fyi.  I've posted to the ResponseOps team to see if any takers want to work with this me.  I can prioritize it later, time frame TBD.  for now I'll ty to work it little by little when I need to de-focus from my primary work.

[2022-02-24 00:38] ghudgins opened #126306 "[Maps] Cancel button when editing by value from dashboard"
**Describe the feature:** Cancel button when editing a map by value/reference from dashboard

**Describe a specific use case for the feature:**
**When** I am editing a dashboard with a map embedded by value
**And** I edit the maps panel to check out some settings
**I need** the ability to go back without clicking "Save and return" (or having to know browser back)
**So I can** easily abandon my cha

[2022-02-24 00:38] elasticmachine commented on #126306
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-24 00:38] elasticmachine commented on #126306
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-24 00:41] kpollich commented on #122152
Closed by https://github.com/elastic/kibana/pull/126295 (forgot ref in PR)

[2022-02-24 00:41] #122152 closed

[2022-02-24 01:41] ryankeairns commented on #123982
I think we should go the UX route as IMHO users shouldn't have to go to the doc to figure this out (this will also avoid unnecessary SDHs).
I'd like to hear design's thoughts here (@ryankeairns @mdefazio ), but my ideal is that we provide some sort of autocomplete experience in a search field. Don't we have an equivalent in Discover for fields? 🤔

Surprisingly, we don't have much to lean on here o

[2022-02-24 01:43] #109970 closed

[2022-02-24 02:45] kibanamachine commented on #116561
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11135#583defcc-6a11-4a27-8879-f8eb0420aa50)

[2022-02-24 02:55] #124675 closed

[2022-02-24 03:08] mattkime commented on #125987
@alisonelizabeth Were you aiming for 8.1 or even earlier?

[2022-02-24 04:55] spalger commented on #103545
I think so, but I don't think this issue needs to stay active.

[2022-02-24 04:55] #103545 closed

[2022-02-24 05:10] jportner commented on #125712
Another example why we should implement this--

I had just upgraded a dependency, and then another PR introduced an older version of that dependency. I had to submit a third PR to fix it: #126301

[2022-02-24 05:30] wmeens commented on #119115
Any progress on this one?  Seeing this issues too.

[2022-02-24 05:35] amolnater-qasource opened #126310 "[Fleet]: On navigating to Create new policy twice after creating once, Policy created message is not removed under Add Agent flyout."
**Kibana version:**  8.1 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.1 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab click Add Agent button, create a policy with name `Agent Policy 1`
3. Observe `Agent Policy 1` is selected and `Ag

[2022-02-24 05:35] elasticmachine commented on #126310
Pinging @elastic/fleet (Team:Fleet)

[2022-02-24 05:36] amolnater-qasource commented on #126310
@manishgupta-qasource Please review.

[2022-02-24 06:25] manishgupta-qasource commented on #126310
Secondary Review is Done for this ticket

[2022-02-24 06:54] deepikakeshav-qasource opened #126311 "[Security Solution] For a non-super user role, error message is showing while adding the Event Filters from the Hosts tab"
**Describe the bug**
For a non-super user role, error message is showing while adding the Event Filters from the Hosts tab

**Build Details:**
[code]

**Preconditions**
1. Events should be generated

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.com/61860752/155472626-ce5756f7-2bf4-4d14-9b02-6a

[2022-02-24 06:54] elasticmachine commented on #126311
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 06:56] elasticmachine commented on #126311
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-02-24 06:56] stratoula opened #126312 "[Lens]"
**Kibana version:**
main

**Describe the bug:**
With this [PR](https://github.com/elastic/kibana/pull/125183) being merged we now allow [composite runtime fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/runtime-examples.html#runtime-examples-grok-composite).
When you create a composite runtime field and use it in Lens works as expected but when I click on the field the desc