[2020-10-15 13:32] sqren commented on #80125
This was tested before your changes made it in. Might have changed slightly after.

Ok, so sounds like it still exhibits this slightly surprising behaviour after your change as well.

[2020-10-15 13:33] sqren commented on #80125
Btw. what does that mean? that we intend for them to be able to see the flyout and create the alert but not select an action? I'm probably missing some context but what's the purpose of letting someone create an alert if they can't set actions?

[2020-10-15 13:42] yuliacech opened #80661 "[Index Management] Error when a data stream contains a % character (dollar sign)"
**Kibana version:**
Found on current master [branch](https://github.com/elastic/kibana/commit/114fb3acda2a61890711854decf06017a45a0ae3)

**Describe the bug:**
After clicking on data stream name in the table, no flyout is shown and the app stops working.
![data_stream_name](https://user-images.githubusercontent.com/6585477/96136885-37769d80-0efc-11eb-9795-4faa9eec9ef0.gif)

**Steps to reproduce:**

[2020-10-15 13:42] elasticmachine commented on #80661
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-15 13:45] chrisronline commented on #79943
No issues from stack monitoring. The only reliance on `encryptedSavedObjects` for us is the dependency alerts have on it. We don't use `encryptedSavedObjects` deliberately.

[2020-10-15 13:46] #78728 closed

[2020-10-15 13:46] #80628 closed

[2020-10-15 13:54] neptunian commented on #76842
Yes, there is a bug where I need to include the snapshots as not upgradeable through UI only but not part of this issue

[2020-10-15 13:54] Lianne2309 opened #80667 "Controls - Visualisation"
**Describe the feature:**
 In the experimental "controls" visualization > an option where you can easily switch the indexes.

**Describe a specific use case for the feature:**
Now it's very easy to select for example username, it would be amazing to be able to select the index it's gaining information from. So that beside the parameters like username, you can also make a filter from which index it

[2020-10-15 13:57] jasonrhodes commented on #80125
@sqren yeah I had the same questions. From @gmmorris in Slack:

[2020-10-15 14:04] ruflin opened #80669 "Creating and index based alert for a data stream shows hidden only"
Kibana version: 7.9.1

I wanted to create an index based alert for the `metrics-*` pattern. When I start to type metrics-* it shows me the following auto complete option. From a pure technical perspective this kind of makes sense but as these are all hidden indices of different data streams, I would not expect these to show up. In addition, I does not show me any data streams in this few and only

[2020-10-15 14:04] jasonrhodes commented on #80125
Apparently "Read" permissions to "Actions and Connectors" will allow a user to create an alert and assign it to a pre-configured Action Connector, but not create new Action Connectors. "All" permissions to A&C would allow both.

[2020-10-15 14:09] pmuellr commented on #80624
I'm curious how this ever worked.  Clearly the mappings here should be for `type: keyword` (or similar "text") instead of `object`, since we're storing JSON that we don't intend to query over or otherwise access the sub-fields of.

But I think we always just deal with the source, never access fields directly anyway.  Is someone in the chain trying to interpret a field in the source with the mappin

[2020-10-15 14:10] crob611 opened #80671 "[Canvas] Incorrectly loads refresh and autoplay settings from URL"
To reproduce:
Go to a workpad.
Set AutoRefresh to 15m. (now the url should update to include __refreshInterval=15m)
Set AutoPlay to 15m and turn on autoplay.  (now the url should update to include ____autoplayInterval=15m)
Now copy the url and open a new tab.  Once the app loads, the url will update to change autoplay and refresh to different values.

This does not appear to happen if the url just

[2020-10-15 14:10] elasticmachine commented on #80671
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-10-15 14:16] gmmorris commented on #80371
`score` came in to allow `runNow`.
It was the only way to ensure the `runNow` task is prioritised over the overdue tasks.

[2020-10-15 14:17] gmmorris commented on #80371
We can change the ubq to only include `_score` when we have a taskId in the queue for `runNow`.

[2020-10-15 14:18] wylieconlon commented on #80591
@markharwood thanks for the response. It seems like your main concern is that users should be able to choose when to use case-insensitive search, or at least to disable it. What if, instead of adding it to KQL, we added a wildcard query to the Kibana filters editor? It's a more form-based way of building filters and could have a checkbox asking if users want to do a case-insensitive search.

[2020-10-15 14:20] elasticmachine commented on #80669
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-15 14:24] pmuellr commented on #80371
Ya, that seems right.  I thought I noticed a path where we didn't add the score, so thought maybe we were already _optionally_ using it - but I wasn't sure what those paths were.

In this case, there shouldn't be any `runNow()`'s happening.  No new alerts being created, and I only saw one other case of runNow() being used by apm_telemetry, in it's startup code, and only on a kibana version change.

[2020-10-15 14:25] gmmorris commented on #80371
Not in Task Store - the `markAvailableTasksAsClaimed` always uses the `_score_.

[2020-10-15 14:29] a03nikki opened #80674 "[Index Management] [docs] Missing data streams and compontent templates"
**Describe the feature:** Update documentation to match current features.

**Describe a specific use case for the feature:**
The screenshot from https://www.elastic.co/guide/en/kibana/7.9/managing-indices.html does not include the new the tabs in the interface.  There are no mention of the features of [data streams](https://www.elastic.co/blog/whats-new-elasticsearch-7-9-0) (v7.9+) or [component t

[2020-10-15 14:29] pmuellr commented on #80371
My attempted repro ^^^ wasn't perfect, because it didn't result in any "zombie" tasks, but I did notice it was running a 60/40 mix of (old actions)/ (alerts), when I think it should have been 100/0, given the actions were all older than the runAt's of the alerts.  So, the change should be noticeable with a fix.

BTW, I've developed some viz's and dashboards to try to visualize some of this stuff,

[2020-10-15 14:30] gmmorris commented on #80371
It might be worth looking into whether we can nudge the `_score` somehow so that older tasks have a higher score... I'm guessing this is out of our control, but worth investigating in case this comes back at some point.

[2020-10-15 14:39] pheyos opened #80675 "[ML] AD jobs - align font color for job group batches"
**Found in version**
- 7.10.0-bc1

**Browser**
- Chrome

**Steps to reproduce**
- Compare the AD job group badges in the AD job list and in the anomaly explorer job selection

**Expected result**
- The badges in both areas use the same font color

**Actual result**
- The badges have different font colors:

Job list:
![3_groups_job_list](https://user-images.githubusercontent.com/1945390/96144578-9c

[2020-10-15 14:39] elasticmachine commented on #80675
Pinging @elastic/ml-ui (:ml)

[2020-10-15 14:43] pmuellr commented on #79943
This seems workable for alerts and actions (two different alerting plugins that deal with this, the same way).  @mikecote ?

I think we'll need a two-stage approach here; we will need to adapt our plugins to use ESO as optional, and change our internal setting of whether ESO is viable to also be based on whether the plugin is available; after we've done that, ESO can remove the `usingEphemeralEncr

[2020-10-15 14:47] pmuellr opened #80678 "[alerting][actions] change isESOUsingEphemeralEncryptionKey determination"
See issue https://github.com/elastic/kibana/issues/79943#issuecomment-709045446 .

If we end up implementing the proposed behavior in that issue of making the ESO plugin optional, and having it disable itself if the encryption key isn't set, we'll need to change the logic in the actions and alerts plugins to accomodate.

Presumably we'll change the internal properties we're using `isESOUsingEpheme

[2020-10-15 14:47] simianhacker commented on #13928
@Alsheh The PR was closed and this comment explains why:

https://github.com/elastic/kibana/pull/68332#issuecomment-678154430

[2020-10-15 14:52] pmuellr commented on #80669
I wonder if we want a "show system indices" check box like other places in Kibana (can't remember, maybe they are referenced as "hidden").

I suspect we have the same "issue" with the "index" action.  It's probably more important to have this kind of thing there, lest someone accidentally would pick `.kibana` to write into ...

[2020-10-15 14:55] ruflin commented on #77966
I assume in addition to the UI, there will be an API to manage these keys? So instead of automating it with apm-server today, a user could automate it by talking to the Kibana APM API.

[2020-10-15 14:55] mikecote commented on #79943
Some research required from alerting's perspective but some thoughts below:

I can't recall how likely it is that alerts exist when an ephemeral encryption key is used. If it's possible, there may be a concern in regards to migrations if we're making ESO plugin optional. We have some migrations that need to decrypt ESO and some that don't need to which may cause some to never execute after the use

[2020-10-15 14:56] pmuellr commented on #80371
Ya, you could imagine somehow changing the score to reflect the "age" of the task, but then it's not clear how you then boost pinned tasks so they always "beat" those.  I'm hesitant to add even more complexity here! :-)

[2020-10-15 14:57] mikecote commented on #80678
Some potential challenges in regards to migrations: https://github.com/elastic/kibana/issues/79943#issuecomment-709382018

[2020-10-15 15:06] MadameSheema commented on #80487
Closing the ticket as is the expected behaviour.

[2020-10-15 15:07] elasticmachine commented on #80651
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-15 15:09] ruflin commented on #80669
I would go one step further and wonder if there is even a use case that a user would want to do an alert on an index belonging to a data stream instead of the data stream itself. Note: This is specific to the .ds-* indices not all hidden indices. For the other hidden indices, what @pmuellr suggest could work.

[2020-10-15 15:15] ruflin commented on #80669
Besides hiding the dot indices, there is an additional problem here which I want to make sure is not forgotten: Data streams are NOT shown as far as I can see.

[2020-10-15 15:16] pheyos opened #80682 "[ML] Anomaly explorer - distribution charts sometimes cut off"
**Found in version**
- 7.10.0-bc1

**Browser**
- Chrome

**Steps to reproduce**
- Use the MLQA `filebeat_ecs` snapshot and create an index pattern `filebeat-apache-*`
- Run the apache ecs module for this index pattern
- Open the job `source_ip_request_rate_ecs` in the anomaly explorer
- Select a swim lane tile and resize the browser window a couple times

**Expected result**
- All charts are rende

[2020-10-15 15:16] elasticmachine commented on #80682
Pinging @elastic/ml-ui (:ml)

[2020-10-15 15:18] aaronjcaldwell opened #80683 "[Maps] Add KQL filtering to geo-threshold alerts"
Following up on https://github.com/elastic/kibana/pull/76285, geo-threshold alerts requires KQL filtering to trim down both the selection of features tracked and the shapes used to track them. This will be a big improvement over the current "all or nothing" approach to document selection.

![image](https://user-images.githubusercontent.com/1728976/96149975-295a5a00-0ec7-11eb-8369-e9c53b9afeb9.png)

[2020-10-15 15:18] elasticmachine commented on #80683
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-15 15:18] ravikesarwani opened #80684 "Alerts count value is incorrect in the ES Node Advanced tab on stack monitoring UI"
Stack monitoring ES Node **Advanced tab** shows incorrect Alerts count.
It is showing the total cluster alerts count instead of Node alert count.
The ES Node Overview tab shows the correct count.

**Incorrect count on the ES Node Advanced tab (18), it should be (2)**
<img width="603" alt="Screen Shot 2020-10-15 at 11 14 44 AM" src="https://user-images.githubusercontent.com/64450378/96149717-a2fa44

[2020-10-15 15:18] elasticmachine commented on #80684
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-15 15:21] thomasneirynck commented on #80651
hi @hbs128, thx for logging. I believe this is a dupe of https://github.com/elastic/kibana/issues/30738 so I'll close. I'll add your comments there.

[2020-10-15 15:21] #80651 closed

[2020-10-15 15:22] thomasneirynck commented on #30738
other user comment from @hbs128, https://github.com/elastic/kibana/issues/80651

Any plans for this type of feature?

[2020-10-15 15:24] aaronjcaldwell opened #80686 "[Maps] Support exiting shapes and generic crossing condition"
Geo-threshold alerts currently supports alerting on an entering condition only. Support should be added for exiting/leaving shapes as well as generic crossings (i.e.- alert on either enter or exit).

![image](https://user-images.githubusercontent.com/1728976/96150898-13996480-0ec8-11eb-8d38-d736a5f8cb83.png)

[2020-10-15 15:24] elasticmachine commented on #80686
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-15 15:26] wylieconlon commented on #55895
We probably want to do something differently from how the Top Hits aggregation is shown in Visualize and TSVB, so here are the open questions:

* Does the first/last function always have a size of 1?
  * If yes, we are removing features compared to Visualize, but these extra features might not be important
  * If no, we need to add extra options to the metric to match Visualize (Size and Aggregate

[2020-10-15 15:28] jfsiii commented on #80066
@ph sure thing

[2020-10-15 15:29] ravikesarwani opened #80689 "Stack monitoring CPU alert is getting generated and not matching the ES Node details graph"
CPU alert is getting generated when the ES Node details graphs indicate that it is below threshold.
Environment => https://dev-oblt.elastic.dev/

Modify CPU alert to get generated when CPU is over 10%. Other parameters are left as default.
<img width="450" alt="Screen Shot 2020-10-15 at 11 27 18 AM" src="https://user-images.githubusercontent.com/64450378/96151423-64fe1f80-0ed9-11eb-92ce-77938467e7

[2020-10-15 15:29] elasticmachine commented on #80689
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-15 15:38] vigneshshanmugam commented on #78926
The Error panel doesn't seem to be fixed still. Reopening again.
<img width="781" alt="Screenshot 2020-10-15 at 16 28 09" src="https://user-images.githubusercontent.com/3902525/96152740-284c1b80-0f0d-11eb-947c-31459fcfd168.png">

[2020-10-15 15:40] ravikesarwani opened #80691 "Stack monitoring Alerts details showing incorrect value for cpu usage in alert details that doesn't match the graphs"
Environment => https://dev-oblt.elastic.dev/
Example node => instance-0000000638

**CPU usage is shown as 0.93%**
<img width="294" alt="Screen Shot 2020-10-15 at 11 34 54 AM" src="https://user-images.githubusercontent.com/64450378/96152351-73990680-0eda-11eb-97be-8c1fcd9fe871.png">

**CPU usage is shown as 0.93% but graph shows value 2.5% or more at any given data points**
<img width="1569" alt="S

[2020-10-15 15:45] jasonrhodes commented on #76660
Hello! When we want to test anomalies and other ML integrations in Observability, we often just want to make sure our graphs are displaying the right way based on expected data. To that end, it'd be great to have a way to access fixtures of well-tested, maintained API response data for various endpoints that we as solutions interact with, so we can use those instead of setting up real jobs, waitin

[2020-10-15 16:09] peteharverson commented on #73261
On latest master / 7.10.0, the Back button fails to return you to the previous view, even with multiple clicks, if you first come from the Anomaly Explorer where the URL contains encoded characters. For example, switching from the Anomaly Explorer to the Data frame analytics jobs list, and then hitting Back, the URL forever toggles the `refreshInterval` and `pause` URL parameters:

![back_button_f

[2020-10-15 16:11] nnamdifrankie opened #80697 "[Ingest Manager] Fails when transform is absent in ElasticSearch but present in Ingest Manager"
**Kibana version:**

7.10, 8.0

**Elasticsearch version:**

7.10, 8.0

**Server OS version:**
N/A

**Browser version:**

N/A

**Browser OS version:**
N/A

**Original install method (e.g. download page, yum, from source, etc.):**
Download page, source

**Describe the bug:**

It is possible for a record for the transform to exist in the Fleet registry but not exist in Elastic Search. This can happen

[2020-10-15 16:11] elasticmachine commented on #80697
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-10-15 16:11] elasticmachine commented on #80697
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-10-15 16:13] paulb-elastic commented on #80162
@katrin-freihofner it's also worth mentioning that not all bar segments will necessarily be touching, as you can have gaps between different parts of the network request, something like this:
![image](https://user-images.githubusercontent.com/70908889/96157039-b6260780-0f09-11eb-8fd6-02c1f1bfcf81.png)

[2020-10-15 16:16] #80186 closed

[2020-10-15 16:17] rayafratkina commented on #80516
+1 to using local cache initially. I feel like it solves most of the cases anyway.

[2020-10-15 16:24] katrin-freihofner commented on #80162
@drewpost
It was not mentioned in the design issue. Can you provide more details?

[2020-10-15 16:25] vigneshshanmugam commented on #78926
Sure

1. Go to `User Experience App` in Kibana. Check the error rate -> all looks good
<img width="674" alt="Screenshot 2020-10-15 at 18 24 05" src="https://user-images.githubusercontent.com/3902525/96158359-ba572280-0f13-11eb-925e-a7822b4a55b0.png">

2. Type `/blog/*` in the UL filter and hit `Enter`.
<img width="219" alt="Screenshot 2020-10-15 at 18 24 36" src="https://user-images.githubusercont

[2020-10-15 16:36] nnamdifrankie opened #80704 "Allow users of ES Transform API to request deletion of the destination index when the transform is deleted."
**Describe the feature:**

Given that I have a Transform running.
And transforming data to a destination index.
And the Transform has the destination index deletion flag enabled.
When I delete the transform successfully
Then the destination index should be deleted based on the index deletion flag condition.

**Describe a specific use case for the feature:**

When Transforms are defined in a Fleet

[2020-10-15 16:36] elasticmachine commented on #80704
Pinging @elastic/ml-ui (:ml)

[2020-10-15 16:36] elasticmachine commented on #80704
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-10-15 16:36] elasticmachine commented on #80704
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-10-15 16:37] nnamdifrankie commented on #80704
@elastic/ml-core

[2020-10-15 16:49] jfsiii commented on #80066
@ph I just noticed the handle you used is missing an "i". I wondered why I didn't get a notification about this (I just happened to click in here earlier). No big deal, they're not the first to get pinged b/c of it :)

[2020-10-15 16:53] tylersmalley opened #80706 "Disabling telemetry should disable collectors"
This was originally brought to my attention on [Discuss](https://discuss.elastic.co/t/kibana-index-document-count-increasing-even-when-there-are-no-saved-objects/247177) but additional conversations have been had on Slack since.

Per @Bamieh, Beats is using the collects currently so they can not be disabled. APM is using a separate task that has a separate config to provide the ability to disable.

[2020-10-15 16:55] elasticmachine commented on #80706
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2020-10-15 17:00] alexfrancoeur commented on #80516
++ I agree. This is probably an implementation detail we'll need to figure out, but let me clarify what I meant with my statement. By "new deployment" I was referring to a new Kibana instance vs. an upgrade. We don't have a concept of persisted user states, would need to rely on local cache and we don't want to only focus tours on clusters that have no data (empty state). Because of this, I'm worr

[2020-10-15 17:14] LeeDr commented on #66943
We've been using a Windows 2012 Server VM in the integration-test repo for a long time which runs Kibana as a service and reporting works OK on it.  Here's the details of our setup;

1. the default distribution zip is unzipped to a path like C:/windowsInstalls/7.10.0/kibana
2. kibana.yml;
[code]
3. we use nssm to create and configure the service like this (we use a git-bash shell but you could sub

[2020-10-15 17:25] kibanamachine commented on #78743
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8828/)

[2020-10-15 17:29] Zacqary opened #80711 "[Metrics UI] [Discuss] Handle inventory timelines where averages aren't useful"
Feedback from @matschaffer over Slack:

Seeing that 1/5 is really low, 2/5 are really high and 2/5 are in the middle is a lot more interesting than seeing the average of all 5 being right in the middle
basically looking to avoid the https://en.wikipedia.org/wiki/Anscombe%27s_quartet problem

Basically we run into problems when trying to graph the average values of datasets that might produce waffl

[2020-10-15 17:29] elasticmachine commented on #80711
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-15 17:52] gmmorris commented on #80371
I tend to agree regarding 7.10.
We've had `runNow` since 7.9, so this isn't introduced by 7.10, and as you said - this is mostly an issue for a large backed up system.
We might see a spike of these when 7.11 is released but only in large deployments with many backed up actions.
We might be able to rely on the health endpoint to express this to the customers after the upgrade.

[2020-10-15 17:58] ravikesarwani commented on #80186
I think this issue may also be happening when browsing "fired" alerts on the node listing page.
Say on the node listing I have sorted by "CPU usage" and then trying to look at the alert details. The refresh looks like is changing the order of the nodes and what you have opened goes to a different node.

In the images below view changed from 646 to 647 because the 4th item on the list changes as th

[2020-10-15 17:58] #80613 closed

[2020-10-15 18:15] cxadmin opened #80719 "Malformed JSON breaks Alerting management"
**Steps to reproduce**

1.Create an Alerts with WebHook action
2.Save and refresh the page
3.back to Alert and try to edit it

![image](https://user-images.githubusercontent.com/22290258/96170076-cc44bf80-0f2b-11eb-8bdc-8419bf8d1f2d.png)

**Actual Result**

* Alert can't be changed anymore.

**Expected Result**

* Alert can be editable

**Kibana Version:**
Version 7.9.2

[2020-10-15 18:19] wylieconlon opened #80720 "[data.search.aggs] Aggs should exclude the key_as_string parameter from date histogram responses"
We can reduce the JSON payload that Kibana needs by approximately 50% by using [response filtering](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#common-options-response-filtering) parameters. Specifically, we should be removing the [`key_as_string` parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistog

[2020-10-15 18:19] elasticmachine commented on #80720
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-15 18:19] pmuellr commented on #80624
Had a little slack discussion, we're thinking that beyond doing the actual "fix" here, we may want to write a script to search for these problematic SO's, and ... do something with them.  Probably delete them.  The action tasks for these will end up failing once they can't find the params SO, but presumably they'd fail anyway.

I'm wondering though, how could we identify garbled JSON vs say an XML

[2020-10-15 18:20] #76163 closed

[2020-10-15 18:24] jerrac commented on #76722
I've been wanting this for years. Even made my own [feature request](https://github.com/elastic/kibana/issues/64944) a while back. Looks like there was at least one other request as well: https://github.com/elastic/kibana/issues/9839 That's just from the first 3 pages of searching for  `share dashboards`.

I'm using ES on premise, currently the basic license. So my preference would be a way to imp

[2020-10-15 18:27] legrego commented on #67087
Closing as this appears to be resolved for now. We can reopen if this test starts failing again

[2020-10-15 18:27] #67087 closed

[2020-10-15 18:28] legrego commented on #66860
Closing as this appears to be resolved for now. We can reopen if this test starts failing again

[2020-10-15 18:28] #66860 closed

[2020-10-15 18:33] ravikesarwani commented on #80186
the alert list keeps changing order as well in every refresh.
<img width="667" alt="Screen Shot 2020-10-15 at 2 16 49 PM" src="https://user-images.githubusercontent.com/64450378/96171695-473db400-0ef3-11eb-9a6f-eacdffefb70a.png">
<img width="679" alt="Screen Shot 2020-10-15 at 2 16 41 PM" src="https://user-images.githubusercontent.com/64450378/96171707-4ad13b00-0ef3-11eb-97bb-7b7874b85851.png">

[2020-10-15 18:33] legrego commented on #23910
Closing as this appears to be resolved for now. We can reopen if this test starts failing again

[2020-10-15 18:33] #23910 closed

[2020-10-15 18:45] #79998 closed

[2020-10-15 18:47] elasticmachine commented on #75542
Pinging @elastic/kibana-security (Team:Security)

[2020-10-15 18:47] #64849 closed

[2020-10-15 18:47] elasticmachine commented on #75542
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-15 18:49] legrego commented on #75542
@elastic/kibana-platform could this be related to the new ES Client?

[2020-10-15 18:56] pmuellr commented on #80624
@rudolf, I'm having difficulty repro'ing this.  Decided to backtrack and see what's going on with the sample you provided.

Here's a node REPL session, where I paste in the JSON ^^^ as the variable `bad` - note that I removed the comment that I assume you added.

<details>
<summary>node REPL session</summary>

[code]

</details>

So that looks to me like the body is actually legal - it may not hav

[2020-10-15 18:59] #79910 closed

[2020-10-15 19:13] chrisronline commented on #80186
Yes, it will fix those as well.

[2020-10-15 19:18] tanphatjk10 opened #80732 "account.json"
{"index":{"_id":"1"}}
{"account_number":1,"balance":39225,"firstname":"Amber","lastname":"Duke","age":32,"gender":"M","address":"880 Holmes Lane","employer":"Pyrami","email":"amberduke@pyrami.com","city":"Brogan","state":"IL"}
{"index":{"_id":"6"}}
{"account_number":6,"balance":5686,"firstname":"Hattie","lastname":"Bond","age":36,"gender":"M","address":"671 Bristol Street","employer":"Netagy","ema

[2020-10-15 19:21] elasticmachine commented on #74330
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:21] elasticmachine commented on #79450
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:21] elasticmachine commented on #79859
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:21] elasticmachine commented on #80154
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:21] elasticmachine commented on #80273
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:22] #79890 closed

[2020-10-15 19:23] elasticmachine commented on #73304
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #73576
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #73635
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #74767
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #75012
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #75292
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #75434
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #76592
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #76979
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #77253
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #77256
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #77325
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #77559
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #79511
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #79516
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #79566
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #79948
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80126
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80309
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80417
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80470
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80495
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80503
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:23] elasticmachine commented on #80564
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #56585
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #56991
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #63203
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #63207
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #64526
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #64698
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #65602
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #66495
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #69142
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:24] elasticmachine commented on #79932
Pinging @elastic/kibana-security (Team:Security Solution)

[2020-10-15 19:28] jen-huang commented on #77189
Work on this is currently blocked by https://github.com/elastic/beats/issues/21864.

[2020-10-15 19:40] neptunian commented on #80273
@ph I am still looking into it.  I can't reproduce locally on 7.10, and am not sure why the 404s.

[2020-10-15 19:51] chrisronline opened #80741 "[Monitoring] Alerts should fetch data the same way as charts"
With https://github.com/elastic/kibana/pull/80737, we discovered that we aren't exactly querying data the same way between our charts and alerts which is a mistake. We should find a way to share common code here and ensure the same query is executed.

There will be some small hurdles, as the charting code was never designed to return grouped data which is necessary for alerts, but it shouldn't be

[2020-10-15 19:52] elasticmachine commented on #80741
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-15 19:54] ymao1 commented on #77472
@sqren @elastic/kibana-alerting-services

Do we know why the health check is returning so slowly? It seems like it might be better to solve that underlying issue rather than switching to a non-blocking health endpoint? I wasn't able to reproduce the slowness locally so I introduced a 5-second delay and switched to a non-blocking health check. Even showing the create alert form for 5 seconds and th

[2020-10-15 19:57] pmuellr commented on #80669
Don't data streams expose an alias?  I'm pretty sure the various "index prompters" we use support aliases.  Is there something different about these?  Or do we need to query for them specifically?

[2020-10-15 20:00] pmuellr commented on #80669
Another thing we could consider if we didn't have a "show dot indices" checkbox, is to sort them so the dot indices sort to the bottom of the pick list.  Or maybe that would be at least a cheap interim fix.

[2020-10-15 20:02] kobelb commented on #60053
@droberts195 thanks for the detailed explanation, it's much appreciated. My primary goal is that when we remove legacy multi-tenancy, that end-users don't lose all of their data in the non-default tenant and have to manually recreate it. If my understanding is correct, in the worst-case scenario the end-user is using a non-default tenant to create ML jobs after ML Jobs become space aware, and when

[2020-10-15 20:18] jasonrhodes commented on #72656
Closing this in favor of waiting for the Alerting and Telemetry teams to get this sorted so they are tracking it for us.

[2020-10-15 20:18] #72656 closed

[2020-10-15 20:21] elasticmachine commented on #80240
Pinging @elastic/kibana-security (Team:Security_Solution)

[2020-10-15 20:23] mholttech commented on #42005
We would also be highly interested in this. We want to create Application specific spaces and be able to apply a global filter on each space so that when our Operations team views dashboards by the application team it only shows application specific data.

[2020-10-15 20:24] EricDavisX commented on #80585
I met with PH, Sandra and Michal and we decided we can fix this with the following plan:

Eric Davis: 3 hours ago
Michal proposed that when source_uri is not sent by Kibana, as is the case for the UI usage of this feature, the Agent will download and try to upgrade to the latest available for the dev line (and 7.10 or 7.11 or 8.0), much in the same way that it tries to download the latest artifact

[2020-10-15 20:24] nchaulet commented on #60053
agent policies are really coupled to integrations, so it would probably do not make sense to export/import without having integrations properly installed.

[2020-10-15 20:38] channancy opened #80747 "Exception stack trace source map line numbers mismatch"
**Kibana version:** 7.6.2

**Elasticsearch version:** 7.6.2

**Server OS version:**

**Browser version:** Chrome 86

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** Source map line numbers mismatch

**Steps to reproduce:**
1. Generate source maps for Angular application using `ng build --prod --source-map`
2. Uplo

[2020-10-15 20:45] aaronjcaldwell opened #80749 "[Maps] Geo containment alert V1 completion tasks"
Following up on https://github.com/elastic/kibana/pull/76285, there are several issues we'll want to address that came of review and separate discussion. Most of these should be targeted for feature completeness of Geo Threshold Alerts V1 (i.e.- when the experimental flag comes off) however some may bleed over into V2.

The first 4 under __Dev__ are roughly in the order they'll be tackled, the res

[2020-10-15 20:45] elasticmachine commented on #80749
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-15 20:56] jasonrhodes opened #80752 "[Logs Component] Should columns be customizable?"
One of the most frequent requests we've heard when Kibana devs evaluate whether or not they want to use our shared Logs component is whether they can configure which columns show up when the component is rendered. Right now, the columns are controlled by the overall Logs App source configuration, found at /app/logs/settings :

<img width="1440" alt="Screen Shot 2020-10-15 at 4 14 22 PM" src="https

[2020-10-15 20:56] elasticmachine commented on #80752
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-15 21:02] #80375 closed

[2020-10-15 21:03] pjhampton commented on #79859
Dropping an update. @Bamieh is coding something up which we will bridge back to this - turned out it isn't as simple as we hoped as the OSS telemetry plugin needs to know if the security solution is enabled.

[2020-10-15 21:06] kevinlog opened #80755 "[BUG] Endpoints List - changes to the number of items per page while the Details flyout is open are not applied until the flyout is closed"
**Describe the bug**
When on the Endpoints list while the details (flyout) of an endpoint is visible, if the user changes the number of items per page, the list is not refreshed to reflect that change until after the use closes the Flyout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Security - Management - Endpoints
2. Click on an Endpoint to display the details flyout
3. While the

[2020-10-15 21:10] kevinlog opened #80758 "[BUG] When on the Management pages (any of them), two API calls are triggered"
Note: this may be caused by the fact that there is a SIEM component that manipulates the URL, which would cause another reflow/re-render.

[2020-10-15 21:12] kevinlog opened #80759 "[BUG] Clicking on Back to Policy List from Policy Details takes you to an empty Policy on boarding flow if page_index in the URL params is updated to a number greater than allowed"
**Related Issue**: https://github.com/elastic/endpoint-app-team/issues/349 Entering a page_index number more than the total pages expected for policy fails to display pagination buttons and last page for policy list

**Kibana version:**
8.0

**Describe the bug**
Back to Policy List link on Policy Details takes user to empty Policy on boarding page. User must refresh in order for the Policy List to

[2020-10-15 21:15] nickofthyme opened #80760 "Bad color mapping with multiple split series"
**Kibana version:**
`master` (maybe other versions, not sure how far back it goes.)

**Describe the bug:**
When using any vislib chart type (pie, area, bar, line, etc.) and specifying more than one split series aggregation. The color mapping uses a black value instead of the correct color mapping.

**Steps to reproduce:**
1. Open and load kibana with a sample dataset
2. Open visualize and create a

[2020-10-15 21:15] elasticmachine commented on #80760
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-15 21:15] kevinlog opened #80761 "[BUG] Delay in Displaying Image on Administration Page"
**Describe the bug**
The landing page on the Security Solution Administration page displays an onboarding page with an image when there are no hosts or policies.  There is a significant delay in the presentation of the page and the onboarding image.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a new instance of 7.9
2. Log in as the user elastic
3. Navigate to the Security Solution

[2020-10-15 21:21] cjcenizal opened #80762 "Common runtime field use cases"
Let's aggregate the common runtime field use cases here. By centralizing these use cases, we can design the runtime field editor to be as user-friendly as possible, ideally allowing users to configure runtime fields for most of their use cases without having to be familiar with Painless.

[2020-10-15 21:21] elasticmachine commented on #80762
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-15 21:25] sqren commented on #80125
Thanks for the added context @jasonrhodes . I think that settles it so I'll close this issue.

[2020-10-15 21:25] #80125 closed

[2020-10-15 21:30] LeeDr opened #80765 "Discover sometimes requires multiple clicks to switch index patterns"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:** Windows 2012 Server

**Browser version:** Chrome and Firefox

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** default dist zip

**Describe the bug:** If you have enough index patterns available in Discover that there is a scroll bar in the index patter

[2020-10-15 21:30] elasticmachine commented on #80765
Pinging @elastic/eui-design (EUI)

[2020-10-15 21:30] elasticmachine commented on #80765
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-15 21:37] elasticmachine commented on #20820
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-15 21:42] stephmilovic commented on #60576
renamed where it made sense, closing

[2020-10-15 21:42] #60576 closed

[2020-10-15 21:43] #60575 closed

[2020-10-15 21:43] gwbrown commented on #80669
Not currently, no. While it would certainly be possible to add a method to do so, system indices will be omitted entirely from most API responses in 8.0, so such functionality would only be useful until then.

[2020-10-15 21:45] gwbrown commented on #80669
One thought: Hidden indices have the index setting `index.hidden` set to `true` while system indices do not, so depending on how indices are fetched here, that could be a way to distinguish.

[2020-10-15 21:46] stephmilovic commented on #46290
@spong did this! https://github.com/elastic/kibana/pull/71402

[2020-10-15 21:46] #46290 closed

[2020-10-15 21:46] jen-huang commented on #80752
In Fleet UI, we want to show agent logs on an agent's detail page (#77189). This will be done by using `<LogStream>` to query on `event.dataset: 'elastic.agent' AND elastic.agent.id: ${someAgentId}`. By default, for users who have not modified their Log Column settings, a redundant `event.dataset` column will be shown with the same value for all the logs displayed.

It would be great for our app t

[2020-10-15 21:47] stephmilovic commented on #46289
done with search strategy refactor

[2020-10-15 21:47] #46289 closed

[2020-10-15 21:48] stephmilovic commented on #46261
done in search strategy refactor

[2020-10-15 21:48] #46261 closed

[2020-10-15 21:51] stephmilovic commented on #70914
Merged, going to unassign myself and mark this as fixed 👍

[2020-10-15 21:52] rudolf commented on #20820
We've seen this happen sporadically for Kibana on v7.6 - v7.9

Although these Kibana versions use the `elasticsearch-js-legacy` client this more recent issue has similar symptoms https://github.com/elastic/elasticsearch-js/issues/1088

[2020-10-15 21:55] kevinlog opened #80771 "[BUG] Host is removed from Hosts after reassigning host to an Agent Configuration without Elastic Endpoint Security integration but Host Details remains"
Kibana version:
7.9 BC9-81c43e7b

Elasticsearch version:
7.9 BC9-81c43e7b

Browser version:
Mac OS Mojave version 10.14.6

Browser OS version:
Chrome 80.0.3987.122 (Official Build) (64-bit)

**Original install method (e.g. download page, yum, from source, etc.):**
 [Cloud deployment from production environment](https://cloud.elastic.co/)

**Describe the bug:**
Host Details flyout still appears eve

[2020-10-15 22:07] sqren commented on #77472
With all due respect, this is the wrong scenario to optimise for. Users who don't have TLS enabled won't be able to create alerts. Why would they keep coming back to the alerting flyout day in, day out, multiple times a day? They won't. They'll open the flyout once, figure out they need to enable TLS and either enable it or decide against it.
The decision to wait for the tls check is hurting the 9

[2020-10-15 22:08] sqren commented on #77472
Yes, this is my point. Instead of blocking the ui we can let the user start filling out the alert while we perform the check in the background.

The save button could be disabled with a text on hover letting the user know that we are performing a background check.

[2020-10-15 22:11] sqren commented on #77966
@ruflin Yes, sounds reasonable that we should document the API and thereby making it publicly accessible.

[2020-10-15 22:18] ogupte commented on #76265
Closing this as it was fixed in another PR: https://github.com/elastic/kibana/pull/80430

[2020-10-15 22:19] #76265 closed

[2020-10-15 22:21] #80441 closed

[2020-10-15 22:25] kobelb commented on #56773
If I recall correctly, my concerns were that API Keys are only available when the communication between Kibana and Elasticsearch occurs over TLS. We currently have to essentially block users from using Alerting until this occurs, so I was hesitant to perpetuate this limitation to other consumers of task-manager because I was paranoid that they wouldn't take this into consideration and assume they

[2020-10-15 22:29] sqren commented on #80634
Excited to hear this is also something you've thought about! Forgot to not that having this will accomplish a couple of goals imo:

 - Making it much easier for admins to setup the rights permissions for their users
 - Opens the possibility for us to deprecate the built-in roles like `apm_user` since it'll be equally easy to add it via the UI but with more granular controls
 - Since we'll be force

[2020-10-15 22:32] wylieconlon commented on #80762
Most of the use cases that I would use runtime fields for are string based, using runtime fields to save storage costs or to do ad-hoc analysis. In these cases there were be very few indexed fields:

* Grouping strings together for presentation, converting to upper or lower-case
* Web logs that collect URLs, but I create a runtime field to split up the URL into only the parts I care about
* Stream

[2020-10-15 22:38] gchaps opened #80781 "Improve text for Index Patterns UI"
Here are some suggestions for improvements to the copy in the Index Patterns UI.

## Screenshots

### Tooltip for delete icon

The tooltip should say "Delete index pattern." to match icon and Delete modal.

<details><summary>Screenshot</summary>
<img width="291" alt="Screen Shot 2020-10-15 at 2 46 16 PM" src="https://user-images.githubusercontent.com/33642766/96189564-9258c680-0ef5-11eb-8096-1b584

[2020-10-15 22:38] elasticmachine commented on #80781
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-15 22:39] rudolf commented on #80624
Thanks for the investigation @pmuellr!

In the SDH, Kibana migrations failed with "Unable to parse/serialize body". I looked up the document ID for the document that failed to parse and it had the shape I posted in the issue. After we asked the user to delete all `action_task_params` documents the migration succeeded, so it seemed like that document was the root cause.

However, I just verified th

[2020-10-15 22:39] #80624 closed

[2020-10-15 22:44] ymao1 commented on #77472
Gotcha. Sounds like very few users would encounter the weird UX so I'm fine with that.

[2020-10-15 23:05] rudolf commented on #20820
I've been unable to reproduce this using @EldrosKandar's instructions on v6.2.4 on Elastic Cloud.

[2020-10-15 23:15] smith commented on #80472
I wonder if we could collapse the environments into a "..." button with a popover and give the service a names ellipsis overflow at small widths.

[2020-10-15 23:21] matschaffer commented on #80711
Great write up Zacqary! From an ops perspective top-N is a pretty common way to view things as well. But I think you’ve hit the nail on the head that outliers and multi-modal are what we’re usually looking for.

[2020-10-16 00:22] KDDS commented on #76722
Creating beautiful dashboards is nothing less than an art. As an artist, no one would like their work to be Copied. Having said that, an artist exhibits work to not only showcase their work but also promotes the artistic capability with that tool. In my opinion the same applies in technology space. Rather than blatant Import & Copy I would like to contact who created the dashboard and check with h

[2020-10-16 00:41] #76842 closed

[2020-10-16 00:41] legrego commented on #69506
@azasypkin / @restrry do either if you know if there is an issue for this yet that we can track?

[2020-10-16 00:43] #80473 closed

[2020-10-16 00:47] legrego commented on #79889
I looked into this briefly, and I'm not sure it will be adequate. `core.http.fetch` is consumed by other common shared services, such as the [saved objects client](https://github.com/elastic/kibana/blob/caa5da26f07bdce5dbc8c8f8928d28336af09640/src/core/public/saved_objects/saved_objects_client.ts#L221). The SOC has no way of knowing if the caller is making a system request vs a user-initiated requ

[2020-10-16 01:19] marshallmain opened #80792 "[Detections][Discuss] Detection engine tech debt/refactor opportunities"
Now with 6 different rule types in the detection engine we've accumulated some tech debt. Below are areas that I think we can refactor to reduce maintenance burden and make the detection engine easier to reason about.

**High level goals:**
- **Reduce data structure duplication by moving towards a single source of truth for schemas**
  - We have 3 different schemas that each redefine parts of the

[2020-10-16 01:19] elasticmachine commented on #80792
Pinging @elastic/siem (Team:SIEM)

[2020-10-16 01:47] vishalsharma14 commented on #60732
Hi @stsourlidakis @cjcenizal, I would like to contribute on this if it's still open

[2020-10-16 03:40] dB2510 commented on #78148
@pmuellr
![Screenshot from 2020-10-16 09-02-38](https://user-images.githubusercontent.com/37813203/96210106-d8ae3400-0f8e-11eb-8fa2-cbc6f46af421.png)

I think when selecting {{context.message}} option from above drop-down it is giving the desired result.

[2020-10-16 03:41] mistic commented on #64674
@pmuellr the idea of https://github.com/elastic/kibana/issues/78162 is to be able to detect circular dependencies across multiple plugins as we cannot have it in order to go ahead with some efforts we have planned 😃

[2020-10-16 04:23] kibanamachine commented on #77567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/64/)

[2020-10-16 06:10] ruflin commented on #80669
Data Streams are not built on top of alias, they are their own concept. To get all data streams, `GET _data_stream` has to be used: https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-get-data-stream.html

[2020-10-16 06:35] divit00 opened #80795 "Kibana Feature : ability to disable highlight for a field or atleast index"
**Describe the feature**:

In Kibana, we often face the issue with index.max.analyzed_offset greater than 1000000.

To solve this we can either increase its value to greater than 1000000 but it will make the query slower.

Or, we can use term_vectors but that would increase the size.

Or, we can disable doc_table:highlight in Kibana advanced settings to disable highlight completely for all indices

[2020-10-16 07:15] markov00 commented on #80760
Just checked on 7.9 and it doesn't seem to be affected

[2020-10-16 07:19] ruflin opened #80796 "Search shortcut does not work with side navigation is open"
* Kibana Version: 7.10, BC2
* Browser: Chrome
* OS: Mac OS X

In 7.10, the search navigation in the top bar was introduced. I already got used to "Command + /" as a shortcut and this works now as expected. But if the side navigation is open, the search bar quickly opens and closes again. I recorded this in the attached video. First I show how it works without the side navigation, then when it is o

[2020-10-16 07:20] flash1293 commented on #80760
I have nothing to back this, but one thing to investigate is this change: https://github.com/elastic/kibana/pull/78922/files#diff-deb7e80be32c71c952a5c13e1c7d798414ec8daa4aa51b063f083d5ad0a26908L20 (switching from `d3` to the `color` package for color math.

[2020-10-16 07:39] kibanamachine commented on #79463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8938/)

[2020-10-16 07:40] flash1293 commented on #80760
Not sure whether related, but I noticed the same behavior in TSVB as well:
<img width="810" alt="Screenshot 2020-10-16 at 09 39 51" src="https://user-images.githubusercontent.com/1508364/96226931-a05d2480-0f93-11eb-98e6-d38e519f03bf.png">

I planned to open a separate issue for this, but let's check first whether it can be fixed together with the vislib issue

[2020-10-16 07:59] restrry commented on #80485
@thomheymann I didn't find `hapi` provides this information. Before adding this on the platform level, I want to clarify a couple of questions:
- What if we pass an original URL via a request header?
What part of url do you need? only `pathname`, I suppose? would it suffices `x-kibana-rewritten-pathname: `/s/space_name/...`. Should you need to access other url parts (port, host, etc.), we can add

[2020-10-16 07:59] gbit-is opened #80799 "Dynamic field preview size and the ability to have fields expanded"
**Describe the feature:**

The ability to set the size of the "preview" size of large fields before needing to "toggle field details" to see the rest of the content and the ability to have a field set to be toggled to expose details

to clarify what I am referring to is this
https://aws1.discourse-cdn.com/elastic/original/3X/0/3/039603e16c20172638e59ed3f1591abc266edccb.png

**Describe a specific u

[2020-10-16 08:07] thomheymann commented on #80485
I don't know for sure what the platform APIs allow you to rewrite but if plugin developers can only change the pathname, then that is all I need to get the original url. Do the query params stay intact if a plugin rewrites the pathname?

I get that adding a headers is a good approach if an external system does the url rewriting but think that if it's Kibana itself I'd prefer if that would be expos

[2020-10-16 08:08] arisonl opened #80800 "Certificate based authentication for webhooks"
(Related to https://github.com/elastic/kibana/issues/79372)

[2020-10-16 08:08] elasticmachine commented on #80800
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-16 08:29] restrry commented on #80485
No, a plugin passes the final URL, therefore, it might change any part of it, including `query`. Then `originalUrl` should be a serialized URL object.

I don't want to add a custom property to URL object. Adding to KibanaRequest object sounds acceptable.

[2020-10-16 08:31] cyrille-leclerc commented on #80752
@nehaduggal @drewpost  did you see this request for information. Could you please see if the needs for APM and User Experience monitoring are captured?

[2020-10-16 08:54] #78242 closed

[2020-10-16 08:55] rahulgupta-qasource commented on #79180
Hi Eric,

As per discussion in ingest weekly call, we have updated the failed testcase [C34201](https://elastic.testrail.io/index.php?/cases/view/34201) with the following current text message displayed under Enroll and start the Elastic Agent header on Enroll in fleet tab flyout :

Text displayed:
From the agent directory, run the appropriate command to install, enroll, and start an Elastic Agent

[2020-10-16 09:13] muskangulati-qasource opened #80807 "[Security Solution] No error displayed for an invalid string value in the KQL bar under the Administration tab."
**Describe the bug**
No error displayed for an invalid string value in the KQL bar under the Administration tab.

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.10.0 Stagging environment should be deployed
2. Elastic-Agent & Endpoint-Security should be installed on the machine.

**Steps to Reproduce**
1. Navigate to the Security app and go to the Administr

[2020-10-16 09:14] cauemarcondes commented on #80437
Tested on all browsers.

Bugs found:
https://github.com/elastic/kibana/issues/80629
https://github.com/elastic/kibana/issues/80633

[2020-10-16 09:14] #80437 closed

[2020-10-16 09:15] muskangulati-qasource commented on #80807
@karanbirsingh-qasource Please review.

[2020-10-16 09:17] arisonl commented on #80125
Actions can be potentially leveraged by other Kibana features outside alerting. Hence they are secured separately.

[2020-10-16 09:30] kertal commented on #79872
I could reproduce it, seems `history.replace` is used instead of `history.push` is used for switching an index pattern, this should be changed

[2020-10-16 09:32] karanbirsingh-qasource commented on #80807
reviewed and assigned to @kevinlog

[2020-10-16 09:37] kertal commented on #74563
@thegholt Thank you for you feedback, since we couldn't reproduce it, had this issue was opened in August I'm closing this now. Feel free to reopen, if it occurs again.

[2020-10-16 09:37] #74563 closed

[2020-10-16 09:49] deepikakeshav-qasource commented on #80309
Hi @andrew-goldstein

We have validated this ticket on the **7.10.0 BC2** build and observed that **issue is fixed**.

**Build Details:**
[code]
**Observation**: Zoom-in Zoom-out widget is not overlaid on the Timeline flyout button after clicking on the full-screen icon under "analyze event".

**Screenshots:**
![zoom_in_zoom_out](https://user-images.githubusercontent.com/61860752/96242038-a4536b80

[2020-10-16 09:55] #79343 closed

[2020-10-16 10:11] elasticmachine commented on #78488
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-16 10:14] elasticmachine commented on #78947
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-16 10:17] kertal commented on #78947
this may have improved with recent error message alignment (because there's a clear message in the return: `doc of [test] index has exceeded [1000000] - maximum allowed to be analyzed for highlighting. This maximum can be set by changing the [index.highlight.max_analyzed_offset] index level setting...`), but should be checked (FYI: @lizozom )

[2020-10-16 10:18] elasticmachine commented on #71176
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-16 10:20] kibanamachine opened #80812 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_doc_navigation·js - discover app doc link in discover "before each" hook for "add filter should create an exists filter if value is null (#7189)""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8845/)

[2020-10-16 10:20] elasticmachine commented on #80812
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-16 10:38] drewpost commented on #80752
@katrin-freihofner - Given our desire to show relevant logs data alongside synthetic monitoring errors in the near future, do you have a perspective on this issue? re this design issue https://github.com/elastic/uptime/issues/261

cc @andrewvc @paulb-elastic

[2020-10-16 10:44] dej611 opened #80813 "[Lens] Count operation does not refresh valid state if invalid on previous operation"
When the user picks the `Count` operation in the Dimension panel the field select input automatically picks the `Records` meta field, making the function configuration automatically valid.

This is ok when the transition is performed from a valid configuration to the `Count` function:

![count-function-error](https://user-images.githubusercontent.com/924948/96249132-04d8ad80-0fad-11eb-90ee-9cc1e4c

[2020-10-16 10:44] elasticmachine commented on #80813
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 10:46] peteharverson commented on #66381
The sorting order in the popover is fixed for _visible_ columns for 7.10.0 by #80618.

The sorting order for hidden columns in the popover is dependent on `EuiDataGrid` adding a callback that exposes the full information of the sorting/visiblity popover.

[2020-10-16 11:05] suportecaso1 commented on #4707
+1

[2020-10-16 11:21] #62053 closed

[2020-10-16 11:35] #79672 closed

[2020-10-16 11:43] Dosant commented on #71409
Started working on this on top of #71431.

Q: Are cyclic references allowed? Seems like no?
It is a completely valid use case to link dashboard with drilldowns in the following way:
`DashboardA -> DashboardB -> DashboardA`

Is there a recommended approach for handling such references?

[2020-10-16 11:58] #80052 closed

[2020-10-16 11:59] elasticmachine commented on #80812
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 12:05] flash1293 opened #80820 "Offer functions to work with data table column meta data"
Once https://github.com/elastic/kibana/pull/80548 is merged, the central data structure in expression based applications in Kibana will contain a lot of meta information: https://github.com/elastic/kibana/pull/80548/files#diff-41350c285cb5101adad8c0903724e53baf6647112c540f76e065c79baf12a72aR70

Currently these pieces of information are generated by some datasources and consumed by some renderers,

[2020-10-16 12:05] elasticmachine commented on #80820
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-16 12:19] hundanLi commented on #67873
翻译文件在哪

[2020-10-16 12:21] karanbirsingh-qasource opened #80821 "[Security Solution]No Error thrown on adding trusted app with hash having leading and trailing space"
**Describe the bug**
No Error thrown on adding trusted app with hash having leading and trailing space

Build Details:
Platform : Production
version : 7.10.0 BC2
Build : 35705
Commitf1c0bdd161975a0071afbc6f0b9dd4cc8889b2b8
Agent Hash : 174bd372

Artifact Summary Page : https://staging.elastic.co/7.10.0-174bd372/summary-7.10.0.html

**Browser Details**
all

**Preconditions**
1. Elastic Cloud 7.10.0

[2020-10-16 12:22] mikecote commented on #56773
@kobelb got it, thanks for the info!

[2020-10-16 12:25] karanbirsingh-qasource commented on #80821
@muskangulati-qasource Please review

[2020-10-16 12:40] restrry opened #80822 "HttpResources service should support POST method"
Blocks https://github.com/elastic/kibana/issues/27156 and https://github.com/elastic/kibana/issues/69506
HttpRespurces plugin supports the `GET` method only. I can see a couple of options here:
- add explicit method declaration (as it is in router)
[code]
- expose `render` API via contract
[code]
It would allow us to support cases when a plugin renders an HTML page outside of the request context:

[2020-10-16 12:40] restrry commented on #69506
@legrego created https://github.com/elastic/kibana/issues/80822

[2020-10-16 12:41] muskangulati-qasource commented on #80821
Reviewed and assigned to @kevinlog

[2020-10-16 12:44] kevinlog commented on #80821
@paul-tavares we silently trim the spaces for the user correct?  If so, we can close this one and request that the test cases are updated

I think that would be the desired behavior so that we don't annoy users while c/p hashes into the app.

[2020-10-16 12:47] pmuellr commented on #78148
That's correct - we do provide a context variable which will be set to what we want the default message set to.

But what we want to happen, is when the Create Alert panel appears, and an action that can use a "message" is added, instead of the **Message** field being blank, it should be filled in with a default mustache template, for example

`alert {{alertName}} group {{context.group}} value {{c

[2020-10-16 12:48] pmuellr commented on #64674
Ya, so I think this issue will not be resolved by #78162 then ...

[2020-10-16 12:50] pmuellr commented on #80669
Ah ... gotcha.  I think I'll change the title of this issue then, since the big issue is that we aren't showing them ...

[2020-10-16 12:55] flash1293 opened #80823 "TSVB key placeholder in series name not resolved correctly"
**Kibana version:** master

**Describe the bug:** It's possible to add a `{{key}}` placeholder to series names in TSVB. This series key is not resolved correctly in all cases:

* Does not work for dates and boolean
* Is shown unresolved in label for gauges and metric

**Steps to reproduce:**
1. Go to TSVB
2. Add a group by to the series
3. Rename the series to `--{{key}}--`

**Expected behavior:**

[2020-10-16 12:55] elasticmachine commented on #80823
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 13:00] mistic commented on #79463
That test has been flaky on master over the last days. I will skip it for now.

[2020-10-16 13:02] pmuellr commented on #80669
We'll need to look for the data streams here: https://github.com/elastic/kibana/blob/149b63c9bd425878c9d66fd171d34e3b67b1dba3/x-pack/plugins/stack_alerts/server/alert_types/index_threshold/routes/indices.ts#L42-L77

Not clear if we'll also need to figure out how to deal with the fields, that would involve changes to [x-pack/plugins/stack_alerts/server/alert_types/index_threshold/routes/fields.ts](

[2020-10-16 13:03] flash1293 commented on #80127
Another case where a nice error message can help is the following (two layers with one of them not configured completely):
<img width="1330" alt="Screenshot 2020-10-16 at 15 02 41" src="https://user-images.githubusercontent.com/1508364/96261409-b59c7800-0fc0-11eb-82ba-df8840553652.png">

[2020-10-16 13:11] rahulgupta-qasource opened #81159 "No activity logs are displayed on installing agent on upgraded 7.10.0 BC2 cloud environment with 7.9.2 BC2 policy"
**Kibana version:**
Kibana: Upgraded 7.10.0 Kibana BC2 cloud environment with commit f1c0bdd161975a0071afbc6f0b9dd4cc8889b2b8

**Elasticsearch version:**
Elasticsearch: Upgraded 7.10.0 BC2 cloud environment

**Host OS and Browser version:**
Windows , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.9.2 Kibana BC2 cloud environment upgrade to 7.10.0 Kibana BC2 cloud

[2020-10-16 13:16] rahulgupta-qasource commented on #71651
Hi Eric

We have updated 01 testcase https://elastic.testrail.io/index.php?/cases/view/34209 and failed it under TestRun  https://elastic.testrail.io/index.php?/runs/view/733 due to bug https://github.com/elastic/beats/issues/21904

[2020-10-16 13:18] flash1293 opened #80824 "Rename x/y-axis to horizontal/vertical axis"
To make Lens more approachable, all references to x and y axes should be renamed to horizontal and vertical (depending on orientation):

Current status:
<img width="428" alt="Screenshot 2020-10-16 at 15 15 10" src="https://user-images.githubusercontent.com/1508364/96262811-969ee580-0fc2-11eb-82d7-5518677908b7.png">

Target for regular xy chart:
<img width="298" alt="Screenshot 2020-10-16 at 15 15

[2020-10-16 13:18] elasticmachine commented on #80824
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 13:18] willemdh opened #80825 "[ML] Enabling cloning of a ML job preserving the ML model"
Wanted to make a discuss forum post to ask if it was possible clone an ml job while preserving the ml model of the original job and stumbled upon this:

https://discuss.elastic.co/t/ml-job-update/239220/2

As no issue has been created, and as this is kind of a needed feature for me to comply with naming conventions, I decided to create this feature request.

[2020-10-16 13:21] elasticmachine commented on #80825
Pinging @elastic/ml-ui (:ml)

[2020-10-16 13:32] ph commented on #70582
@masci The upload a package via the API I've mentioned to you.

[2020-10-16 13:39] LeeDr commented on #80765
I checked and we don't have this same problem on 7.9.1 so I added the regression label.

[2020-10-16 13:40] restrry commented on #71409
@Dosant Could you elaborate how do you model data storage? Does reference chain look like
`DashboardA` ---> `DrilldownA` ---> `Dashboard B` ---> `DrilldownB` ---> `DashboardA` ?

[2020-10-16 13:43] Dosant opened #80827 "Inspect saved object doesn't respect base path"
**Kibana version:** 7.10, master (works in 7.9.2)
**Original install method (e.g. download page, yum, from source, etc.):** Cloud + local master

**Describe the bug:**

`Inspect` option in SO context menu doesn't respect Kibana's base path when navigating.
 I checked at least visualize SO and dashboard SO, but I think it is a global issue.

**Steps to reproduce:**
1. Create a space and create an S

[2020-10-16 13:43] elasticmachine commented on #80827
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-16 13:52] #79678 closed

[2020-10-16 13:52] Dosant commented on #71409
@restrry,
Drilldown is not an SO. In the end it is just serialized into dashboard SO inside the dashboard panels. `panelsJSON`
So from SO perspective data storage is literally: `DashboardA -> DashboardB -> DashboardA`

[2020-10-16 13:53] #80760 closed

[2020-10-16 14:02] timroes opened #80831 "[TSVB] Panel filter is showing KQL autocomplete for default index pattern before switching tabs"
When changing an index pattern in TSVB unter panel options from the default one, the KQL autocompletion under "Panel filter" will still show the fields of the default index pattern until you switched away from teh Panel Options tab and back to it.

**Steps to reproduce**:

1. Create a new TSVB chart
2. Go To "panel options"
3. Change the index pattern to the non default index (that is seen as a pl

[2020-10-16 14:02] elasticmachine commented on #80831
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 14:06] shaunmcgough commented on #78726
Heya @tsullivan let's remove the branding "Powered by Elastic" regardless. I don't think there is ever a reason to spray logos or branding on a Canvas. It might make sense in other areas, but not for Canvas.  The requirements you listed would therefore only be the last bullet point, "use just the image data as the entire PDF page". What do you think @timductive?

[2020-10-16 14:23] jfsiii commented on #77779
closed by https://github.com/elastic/kibana/pull/77827

[2020-10-16 14:23] #77779 closed

[2020-10-16 14:25] andresrc commented on #80066
@ph we took care of the migration to the new platform as part of the transition, but I'm afraid we cannot take care of it anymore. @roaksoax we would need some team from the stack to get the Logstash pipelines plugin, thanks!

[2020-10-16 14:34] kqualters-elastic commented on #78686
Fixed as part of https://github.com/elastic/kibana/pull/80404

[2020-10-16 14:34] #78686 closed

[2020-10-16 14:37] neptunian commented on #80273
Fixes were merged and backported.  Will close when I confirm tests passing on new builds.

[2020-10-16 14:40] jasonrhodes commented on #74239
I'd love to investigate this and at least understand if there are any edge-case bugs in the 7.11 cycle.

[2020-10-16 14:49] #74889 closed

[2020-10-16 14:52] mikecote commented on #49410
This could also have alerts based on health from task manager once the PR is merged: https://github.com/elastic/kibana/pull/77868.

[2020-10-16 15:04] neptunian commented on #80585
@EricDavisX to clarify, removing the `-SNAPSHOT` is not relevant to this issue.  It's a separate issue.  After https://github.com/elastic/kibana/pull/80742 goes in I can open the PR to filter out snapshots in the UI as upgradeable, which can be merged depending on whether @michalpristas is able to support getting the snapshot uri on the agent side.

[2020-10-16 15:12] marius-dr opened #80840 "kibana-keystore doesn't support Array fields"
**Kibana version:** 7.10.0

Right now there is no way of storing array values for keys in the kibana-keystore. The main use-case right now for this is storing the key rotation decryption Keys:
[code]
as the `xpack.encryptedSavedObjects.keyRotation.decryptionOnlyKeys` setting only takes an Array input.

[2020-10-16 15:13] elasticmachine commented on #80840
Pinging @elastic/kibana-operations (Team:Operations)

[2020-10-16 15:14] mostlyjason opened #80841 "[Fleet] Improve Agent install instructions, phase 1"
**Describe the feature:**
We want to improve our agent installation instructions to minimize the time for the user to get started. We also want to maximize the percent of users who are successful installing it, so we want to remove friction points and provide assistance when they get stuck.

**Problems**
There are several issues with the current process:
* The links download in the user's browser

[2020-10-16 15:14] elasticmachine commented on #80841
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 15:21] prophoto commented on #34102
This is missing in Kibana 7.9.1.

[2020-10-16 15:22] kobelb commented on #80428
@franekrichardson is this something that you think would benefit us in Cloud? It's my understanding that the TLS session ticket keys should be rotated somewhat frequently, so I don't know whether or not we have the infrastructure in place to take advantage of this.

[2020-10-16 15:25] flash1293 commented on #34102
@prophoto It will be part of next release 7.10 : https://github.com/elastic/kibana/pull/70619

[2020-10-16 15:27] mostlyjason commented on #79875
I'm going to reframe and open a new issue here https://github.com/elastic/kibana/issues/80841. Closing this one

[2020-10-16 15:27] #79875 closed

[2020-10-16 15:28] stratoula opened #80849 "[TSVB] Replace indexpattern input text with a combobox"
**Describe the feature:**
Right now, if a user wants to use a non-default index pattern on TSVB, she should type the name exactly as it is. There is no way for the user to search and choose from the existing ones. This is a bad UX as the user should remember the index pattern which is quite difficult especially if there are many index patterns.

<img width="461" alt="Screenshot 2020-10-16 at 6 23

[2020-10-16 15:28] elasticmachine commented on #80849
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 15:29] mikecote commented on #78704
@pmuellr

I'm sure there's a reason for why my thought won't work but; I wonder if everything should be encrypted instead? We could merge `config` and `secrets` into a fully encrypted object. It would facilitate some framework aspects I'm sure.

[2020-10-16 15:29] mikecote commented on #78704
Pinging @elastic/kibana-security on the issue as I think it'll be worth getting some early feedback / warnings as we explore the possibility of exposing connector secrets to users.

[2020-10-16 15:32] mostlyjason commented on #68275
@ph We are finding ourselves needing to add extra columns to tables because we can't rely on the integration name being unique. Would be nicer to offer a simpler UX.

[2020-10-16 15:33] mikecote commented on #78704
@mdefazio mentioned the following from a UX perspective (please correct me if I'm wrong).

Users who can't edit connectors shouldn't be able to see anything other than the connector name. Otherwise, we would end up in the same issue where half the fields are returned for readonly users that can only read (partial) / execute the connector.

[2020-10-16 15:34] pmuellr commented on #65746
Running my usual "100 alerts firing every second with 4 active instances" test.

From APM, you can see 5 index requests when the alert runs - this would be one for 'active' and 4 for 'execute-action'.  There will be one a bit later, not tracked under APM, for writing the 'execute' event.  Note the way APM groups these, they're duplicated with an Elasticsearch: entry followed by the slightly indent

[2020-10-16 15:35] pgayvallet commented on #80827
Got a different, but still broken, behavior on my local instance. When clicking inspect, I get that:

<img width="995" alt="Screenshot 2020-10-16 at 17 34 36" src="https://user-images.githubusercontent.com/1532934/96278529-e2a75580-0fd5-11eb-8d2d-8a9ec2d846d0.png">

Root caused is still the lack of basePath in the url/action though.

[2020-10-16 15:42] felixfiskare opened #80855 "Documentation Improvement: Configure datafeed: Frequency & Scroll size explanation is misleading"
**Kibana version:** 7.9.2

**Describe the bug:**

Currently the explanation of "Frequency" and "Scroll size" is misleading to new users. One could get the impression, that data could be lost if more documents are added between to searches than the scroll size is set to.

Frequency is "**the interval between two searches**" and Scroll size is "**the maximum number of documents requested for a searc

[2020-10-16 15:45] mshustov opened #80857 "Debugging 500 errors on Cloud"
On today's Bugpool was raised the problem that it's hard for support and customers to diagnose 500 errors returned by Kibana Server.
During the migration to the Kibana platform, we deliberately decided not to provide error details on *uncaught exceptions* to prevent error details leaking, but log them instead. There are at least two problems with the current approach:
1. Our customers do not have

[2020-10-16 15:46] pgayvallet commented on #80827
Seems like that was actually introduced by #66781 : https://github.com/elastic/kibana/pull/66781/files#diff-9c8e3a0080e7f9c4933b22ef59b7b2285b20791870b6ba1548229843538833f6 is not appending the basePath.

The bug is not present on `7.9` because #78565 that was fixing navigating to a path without specifying the basePath only got merged in `7.10`

[2020-10-16 15:47] stratoula opened #80859 "[XYAxis] Rename x and y axis to horizontal and vertical ones"
**Describe the feature:**
As it is confusing to the users we want to rename the x-axis to horizontal and the y-axis to vertical.
This should also change depending on the orientation.
So for example here the user has selected to position the x-axis to the right (so from a horizontal position it has been transferred to a vertical one) but it is displayed as x-axis which is quite confusing.

<img wid

[2020-10-16 15:48] elasticmachine commented on #80859
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 15:52] cjcenizal commented on #60732
Yes, please! Thank you @vishalsharma14! Do you need any guidance?

[2020-10-16 15:53] kobelb commented on #80857
Conceptually, I think it's fine for us to include the response body from Elasticsearch 503's in Kibana's response bodies. We do want to ensure that Kibana's responses do not contain sensitive information, like file-paths or username/passwords, but if Elasticsearch error's response includes a body, those are inherently safe to expose to end-users. It does feel like we should make it clear that it's

[2020-10-16 15:56] droberts195 commented on #60053
Yes, this is correct.  The worst that will happen when combining all tenants into one is that the spaces that the jobs are visible in end up being lost or wrong in the combined tenant.  The jobs themselves cannot get lost because we consider what Elasticsearch reports as the source of truth for which jobs exist.  So in the worst case after combining the tenants an administrator will have to go to

[2020-10-16 15:56] felixfiskare commented on #80855
Maybe rephrase the Scroll Size explanation to: "Maximum batch size when analyzing new data"

[2020-10-16 16:03] vishalsharma14 commented on #60732
@cjcenizal Just wanted to confirm few things. It only needs change here: https://github.com/bmcconaghy/kibana/blob/652cedfd60b76f0934093d47da8a5ca0ed580eb4/x-pack/plugins/index_management/public/sections/index_list/components/index_actions_context_menu/index_actions_context_menu.js#L244?
And this is the updated warning message: https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-f

[2020-10-16 16:06] #80586 closed

[2020-10-16 16:09] thomasneirynck opened #80865 "[Maps] Simplify EMS config for on-prem configs"
**Describe the feature:**

Currently, EMS needs to be configured with three URLs.

`map.emsFileApiUrl`
`map.emsTileApiUrl`
`map.emsFontLibraryUrl`

There's also a link to the public website:

`map.emsLandingPageUrl`

These are all undocumented internal configs.

**Describe a specific use case for the feature:**

As EMS will become available on-prem, we can simplify this config to a single setting.

[2020-10-16 16:09] elasticmachine commented on #80865
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-16 16:09] cjcenizal commented on #60732
@vishalsharma14 To clarify, the message that needs to be changed is located here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/sections/home/index_list/index_actions_context_menu/index_actions_context_menu.js#L364

The new message should read:

This PR should target the `master` branch. Once you create your PR I'll automatically get pinged to pro

[2020-10-16 16:11] thomasneirynck opened #80866 "[Maps] Advertise on-prem option"
**Describe the feature:**

When on-prem EMS is available, a user should be notified on how this can be used. This is similar to how Gold+ only functionality is now advertised in the UX.

**Describe a specific use case for the feature:**

When a user does a local deployment of Kibana, in Maps they should see in the EMS-card that on-prem EMS is available.

When on-prem is setup, the user should unde

[2020-10-16 16:11] elasticmachine commented on #80866
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-16 16:12] vishalsharma14 commented on #60732
@cjcenizal Thanks! I'll work on it and create a PR soon.

[2020-10-16 16:13] flash1293 commented on #55895
Discussion outcomes:

* There is just a single operation called "Last" (or "Last value"), switching the sort order around is a toggle setting within the operation
* We will start with a fixed size of 1 (no aggregate function needed)
* The user can pick a field to get the last value of using the current field list split by available and empty fields (non-aggregate-able fields are not shown)
* Sort

[2020-10-16 16:17] #79532 closed

[2020-10-16 16:17] dedemorton commented on #70023
Another change suggested by the security writers: The terminology is still confusing in the Fleet UI. The Security app uses "policy"; Fleet uses "agent policy". It's also not clear that integrations belong to policies. We need to add more text to the UI to explain what policies are. For example, in the following screen, we assume that users know what a policy is. We should add a description:

![im

[2020-10-16 16:22] peteharverson commented on #80825
@willemdh would you be able to provide any more details on your use case here? Do you need the data frame analytics job ID to be the same as the model ID?

[2020-10-16 16:22] flash1293 opened #80869 "[Lens] Add expression data source"
To allow full flexibility in transforming data and fetching data from multiple sources at once, Lens should offer an "expression datasource". This allows to edit the underlying expression of the datasource part directly, while still keeping the visualization mapping as a simple to use drag and drop.

This is a generalization of the planned ESDSL data source (https://github.com/elastic/kibana/issue

[2020-10-16 16:23] elasticmachine commented on #80869
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 16:23] #63712 closed

[2020-10-16 16:24] stephmilovic commented on #70914
Assigning to Glo to confirm fix!

[2020-10-16 16:25] FrankHassanabad commented on #75434
This should be fixed by:
https://github.com/elastic/kibana/pull/77687

for 7.10.0+ now. Closing out.

[2020-10-16 16:25] #75434 closed

[2020-10-16 16:28] jasonrhodes commented on #80752
**Note:** There _is_ a way for users of the Log Stream component to control the columns right now, but it requires creating a separate source configuration to use when accessing the Log Stream. @weltenwort would you mind briefly explaining that process in the comments here?

Another option to consider: referencing column names that would be irrelevant in the context of where the Log Stream instanc

[2020-10-16 16:31] mdefazio commented on #78704
And to clarify a bit more on that note..

refers to only seeing the connector name in the table and not opening the flyout to just see the name.  If we are able to provide a bit more info to the user (barring security concerns) then perhaps we can show some read-only values in the flyout.

[2020-10-16 16:34] restrry commented on #63672
ok, I think we might use another nodejs server since we run FTR not in dev mode anyway

[2020-10-16 16:46] jasonrhodes commented on #47477
@elastic/machine-learning What's the ETA on ML space awareness?

[2020-10-16 16:48] ba0708 opened #80874 "Time filter component crashes when date is invalid"
**Kibana version:** 7.9.2

**Elasticsearch version:** 7.9.2

**Describe the bug:**
When entering an invalid absolute date into the time filter, it crashes. It's important to mention that this **only** happens when changing the date first OR first entering an invalid date and *then* change the date. Follow the steps below to reproduce. This is mostly a problem because sometimes a valid date quickly

[2020-10-16 16:49] legrego commented on #69411
Discussed with @streamich and we think we can start with a client-side approach to fulfill their needs initially. This will also alleviate the immediate need for https://github.com/elastic/kibana/issues/45815, since the client will always know what Kibana's public URL is.

@joshdover I'm expecting that this will be a `core` service. Do you have any opinions on where this should live within core? `

[2020-10-16 16:51] lukeelmers commented on #79082
Thanks for the pointer @restrry! A [quick glance at the ES client](https://github.com/elastic/elasticsearch-js/blob/8ec40547fbba54f3a3f407989e5972787ab1edd1/lib/Helpers.js#L86-L94) suggests that retries are only performed if the response is a 429:

[code]

Assuming that's the case, we'd need to implement our own retry logic.

FWIW I am supportive of this idea in general, but might be good to make

[2020-10-16 16:59] githubsanket opened #80876 "Custom Plugin not working in kibana 7.9.1"
**Kibana version**: 7.9.1

**Elasticsearch version**:7.9.1

**Server OS version**:Windows 10

**Description of the problem including expected versus actual behavior**:
Hi,

I am trying to update my existing kibana custom plugin with kibana version 7.9.1. I have setup development environment on local machine for it. Also i have copied my custom plugin under plugin directory. removed the node_module

[2020-10-16 17:14] tsullivan commented on #61741
Hi, I'd like to get started on this task. I am going to assign it to myself and begin to work on making the POC for this UI.

As I understand, completion of this task is dependent on new server-side API(s) in Kibana for Background session. I'll have to keep track of that progress so that when the time is right, the POC for the UI can switch over to using real APIs.

[2020-10-16 17:15] #64421 closed

[2020-10-16 17:16] jen-huang commented on #68275
@jfsiii I think we completed this with recent work? Can you reference the PRs?

[2020-10-16 17:16] kmartastic commented on #80749
Unless this is a simple task (like 10 lines of code or flipping a switch), I don't think we need to do this work for v.1 or v.2.

The list looks good @aaronjcaldwell.

[2020-10-16 17:17] jgowdyelastic commented on #47477
ML job space awareness is planned for 7.11

[2020-10-16 17:21] ph commented on #41253
@jfsiii  I think we might be too late to implement this, WDYT?

[2020-10-16 17:22] ph commented on #47719
I think this can be closed, Since the moved to _data_stream_ and a global ilm policy.

[2020-10-16 17:22] #47719 closed

[2020-10-16 17:24] ph commented on #47720
I think we should close this until we have a story around that, we have added additionals assets type.
WDYT @skh?

[2020-10-16 17:24] #47720 closed

[2020-10-16 17:24] #47721 closed

[2020-10-16 17:27] jfsiii commented on #68275
@jen-huang  yes, the PRs are https://github.com/elastic/kibana/pull/79201 & https://github.com/elastic/kibana/pull/80506

[2020-10-16 17:27] ph commented on #47723
We could just sign the package and check the signature. https://github.com/elastic/package-spec/issues/46

[2020-10-16 17:31] ph commented on #48938
@jordansissel <3

[2020-10-16 17:32] aaronjcaldwell commented on #80749
:+1: Thanks @kmartastic! The query is easy (literally almost the same) but it requires a little more thought around UX and indexing content, like do we still provide lines connecting previous & current locations and if so do we connect centroids, etc. I think it's safe to drop it from this list and circle back on it as needed in a future version.

[2020-10-16 17:32] weltenwort commented on #80752
The `<LogStream />` component takes a `sourceId` property, which specifies the id of the "source configuration" to use for data fetching. A source configuration contains the information about the index name pattern to fetch data from and the columns to display in the log stream. A source configuration can come from one of the following three origins:

1. default values, which is what is used in th

[2020-10-16 17:34] jen-huang commented on #68275
@mostlyjason Closing as we completed this for 7.10 :)

[2020-10-16 17:34] ph commented on #49466
@elastic/ingest-management I believe this is still a valid issue?

[2020-10-16 17:34] #68275 closed

[2020-10-16 17:34] #49765 closed

[2020-10-16 17:36] ph commented on #51838
closing this as fixed.

[2020-10-16 17:36] #51838 closed

[2020-10-16 17:36] ph commented on #52321
I believe this is not valid anymore. cc @neptunian  ?

[2020-10-16 17:36] #52321 closed

[2020-10-16 17:37] wasserman commented on #22727
Some users are in environments without direct internet access.  This feature would allow them to look at docs, copy/paste examples, etc.  It is frustrating when the UI has links that go to a dead end, especially for users with a paid and supported license.

[2020-10-16 17:37] ph commented on #53494
@skh is this is valid? I think yes.

[2020-10-16 17:38] ph commented on #54983
@neptunian is this is still valid?

[2020-10-16 17:38] wasserman commented on #22727
@KOTungseth

[2020-10-16 17:38] restrry commented on #79082
That's interesting. I'd expect we *do not retry* if there are too many requests. as per https://github.com/elastic/elasticsearch-js/blob/a064f0f357ea5797cb8a784671b85a6b0c88626d/lib/Transport.js#L254-L259

@delvedor

[2020-10-16 17:39] ph commented on #55556
@ruflin  we probably need to rediscuss that.

[2020-10-16 17:40] ph commented on #55587
@neptunian still valid?

[2020-10-16 17:42] ph commented on #56659
@neptunian Still an issue?

[2020-10-16 17:43] #67622 closed

[2020-10-16 17:43] #71484 closed

[2020-10-16 17:44] mikecote opened #80882 "Confusing UX when editing Webhook connector with secrets"
This issue is the exact same as https://github.com/elastic/kibana/issues/74870 but for the Webhook connector. The username and password fields are optional and the user doesn't know if they were previously provided or not when looking at the edit form. The approach done for Email was to add a switch for "Require authentication for this server" and the Webhook connector should have the same solutio

[2020-10-16 17:44] elasticmachine commented on #80882
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-16 17:47] neptunian commented on #56659
@ph yes.  I need to revisit index patterns as @mattkime recently informed me the API has been updated and it may better suit our needs now.  He also mentioned he anticipates no longer saving the field list, which I believe addresses the last point in the list.  We plan to touch base about it sometime soon.

[2020-10-16 17:48] lukeelmers commented on #78348
Ah, sorry @kobelb, my comment above was assuming the original plan we had outlined in that issue, however I had missed [your subsequent comment](https://github.com/elastic/kibana/issues/55485#issuecomment-680077775) describing the challenges of that approach.

The only issue with re-creating the `es_query` package is that we will run into the same issue that drove us to merge it into the `data` pl

[2020-10-16 17:48] neptunian commented on #55587
Yes

[2020-10-16 17:51] neptunian commented on #54983
No

[2020-10-16 17:51] #54983 closed

[2020-10-16 17:51] lukeelmers commented on #55485
This issue just came up in discussion on https://github.com/elastic/kibana/issues/78348, and @kobelb mentioned:

The only issue with re-creating the `es_query` package is that we will run into the same issue that drove us to merge it into the `data` plugin in the first place: It depends on type interfaces from `data` like `IIndexPattern`, `IFieldType`, `Query`, plus also now some from the `kibana_

[2020-10-16 17:52] sophiec20 commented on #47477
Meta ticket for ref https://github.com/elastic/kibana/issues/64172

[2020-10-16 17:53] ph commented on #57953
@hbharding @jen-huang @mostlyjason How much of this is still valid?

[2020-10-16 18:07] gmcbretas opened #80888 ""check for new data" don't update end timestamp on logs search"
**Kibana version:**
7.8.0

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
"check for new data" don't update end timestamp on logs search

**Steps to reproduce:**
1. Search for a request_id values when the request start
2. Click on "check for new data"

[2020-10-16 18:13] lukeelmers commented on #79082
Ah, interesting, I missed that usage in `Transport.js` ... that's what I get for relying on Github search instead of just grepping the code 🙂    The example I found seems to be specifically from scroll search.

In that case @flash1293 what do you think about this retry logic? https://github.com/elastic/elasticsearch-js/blob/a064f0f357ea5797cb8a784671b85a6b0c88626d/lib/Transport.js#L254-L259

Basic

[2020-10-16 18:15] pgayvallet commented on #80857
- That would mean to handle ES (re-)thrown errors differently than others in core's http error handling logic. Is that alright (probably as we are already doing that for 401s, but still asking)?

- Do we want that only for 503s, or should we generalize for all ES errors catched by the http error handler?

[2020-10-16 18:23] jfsiii commented on #41253
@ph Internally, it's not a big deal. It's been a goal since early on so we already have patterns & helpers to split a key into name & version or create a key when given them. It'd should also remove some technical debt.

Externally, it'd be an API change like dropping the <code>/api<strike>/ingest_manager</strike>/fleet</code> routes but a) I believe we could use redirect rules for the few routes

[2020-10-16 18:40] ph commented on #56659
@neptunian OK, thanks I will keep it assigned to you, feel free to update it with details.

[2020-10-16 18:43] jen-huang commented on #57953
@ph I think this entire issue is still valid. We don't have any integration policy detail UI atm.

[2020-10-16 18:47] ph commented on #41253
Thanks @jfsiii I've put it back into the backlog.

[2020-10-16 19:00] pmuellr commented on #55634
Was just poking through rxjs, and noticed a handy [`bufferTime()` operator](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-bufferTime), that will buffer up to a max count or elapsed time period, which would be perfect for this use case.

We'll likely want to buffer for 1 to _some small number_ of seconds, for maybe 100 events max.  We can then do a bulk index of t

[2020-10-16 19:08] ph commented on #58966
@skh I think we can close this?

[2020-10-16 19:08] #58966 closed

[2020-10-16 19:10] ph commented on #60353
close by https://github.com/elastic/kibana/pull/62059

[2020-10-16 19:10] #60353 closed

[2020-10-16 19:12] #60622 closed

[2020-10-16 19:16] ph commented on #61269
@nchaulet Still valid?

[2020-10-16 19:19] ph commented on #61831
I think it's something we can do for 8.0, we are v1 by default.

[2020-10-16 19:19] ph commented on #61833
@neptunian still valid?

[2020-10-16 19:20] ph commented on #62440
nchaulet still valid?

[2020-10-16 19:23] pmuellr commented on #65746
Here's a graph of event log counts per second, during 100 active alerts w/4 instances every second.  The columns are a second  long:

![image](https://user-images.githubusercontent.com/25117/96299903-bcc48580-0fc2-11eb-9339-ad320afcc4cd.png)

It's pretty interesting to see the "every 3 second" peaks - I'd guess that's from the default 3 second polling interval.

Once the alerts are no longer firin

[2020-10-16 19:24] ph commented on #63114
Are we good or we are missing action that cannot be executed through the api?

[2020-10-16 19:30] ph commented on #63736
Work was done in
 https://github.com/elastic/kibana/issues/75176 and
https://github.com/elastic/kibana/pull/76238

[2020-10-16 19:30] #63736 closed

[2020-10-16 19:33] ph commented on #63837
+1 on this @skh I think this should be handled in two places in Kibana as you proposed and in  https://github.com/elastic/package-spec

[2020-10-16 19:34] ph commented on #64048
I am going to close this, osquery is just a POC.

[2020-10-16 19:34] #64048 closed

[2020-10-16 19:34] mostlyjason commented on #57953
Why is a flyout better than just taking the user to the edit page? The edit page serves as both a viewer and an editor. I could see this being useful if a user wants to quickly inspect multiple integration policies. Is there another use case I'm missing?

[2020-10-16 19:39] ph commented on #64760
I believe this is fixed in https://github.com/elastic/kibana/pull/70517 @skh?

[2020-10-16 19:49] kobelb opened #80912 "[DRAFT] Kibana's non-saved-object ES indices"
# This is a draft, but I don't wanna lose what I wrote so far...

A majority of Kibana's entities are persisted in saved-objects, and saved-objects provide a number of features including migrations, authorization, audit logging, export/import, space awareness, and encrypted attributes. However, there's a growing number of non-saved-object Elasticsearch indices that are being used to store Kibana s

[2020-10-16 19:51] ph commented on #65616
@nchaulet Did we fix that or improve in another PR?

[2020-10-16 20:04] timductive commented on #78726
I agree with @shaunmcgough, one of the benefits of Canvas is a fully white-labeled experience for a custom brand. We should always default to presenting the canvas as designed.

[2020-10-16 20:18] pmuellr commented on #79165
It seems that we found the issue with the zombie idle tasks in TM, so we can proceed here.  There's a proposed fix in PR https://github.com/elastic/kibana/pull/80692, I suspect it will not affect this issue, seems like we can merge the fixes independently.

[2020-10-16 20:22] legrego commented on #18393
This issue is very old, and based on my recent testing, I believe we've resolved this in an earlier rewrite of the role management screen. Please feel free to reopen if there's something we've missed!

[2020-10-16 20:22] #18393 closed

[2020-10-16 20:30] vishnuvardhanreddy opened #80913 "Kibana not detecting the APM server"
**Kibana version**: 7.9

**Elasticsearch version**:

**Server OS version**:

**Browser version**: Version 86.0.4240.75

**Browser OS version**: Windows 10

**Original install method (e.g. download page, yum, from source, etc.)**: deb package

**Description of the problem including expected versus actual behavior**:
Hi

I have setup one kibana node and data node
both nodes are in Azure & self manag

[2020-10-16 20:32] kobelb commented on #80857
@pgayvallet I think this is generally alright. I do think it's sometimes awkward that we're propagating ES errors to the end-users because the specific calls that Kibana is making to Elasticsearch should generally be seen as an "implementation detail" of Kibana. For example, it'd be weird to return an error that refers to the `.kibana` index when a user performs some saved-object operation because

[2020-10-16 20:33] vishnuvardhanreddy commented on #80913
Hi

I have setup one kibana node and data node
both nodes are in Azure & self managed services
data node having elastic search, APM server is installed on Kibana node

I have installed APM server like below steps
curl -L -O https://artifacts.elastic.co/downloads/apm-server/apm-server-7.9.0-amd64.deb
sudo dpkg -i apm-server-7.9.0-amd64.deb

While I check for APM status in kibana UI, its showing fol

[2020-10-16 20:34] vishnuvardhanreddy commented on #80913
I ran following commands
 apm-server test config
 apm-server test output

Result is:
Error initializing beat: error loading config file: config file ("/etc/apm-server/apm-server.yml") must be owned by the user identifier (uid=0) or root

[2020-10-16 20:40] kibanamachine opened #80914 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_sidebar·js - discover app discover sidebar field filtering should reveal and hide the filter form when the toggle is clicked"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8951/)

[2020-10-16 20:40] elasticmachine commented on #80914
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-16 20:40] kibanamachine commented on #78553
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8951/)

[2020-10-16 20:41] nickofthyme opened #80915 "[Lens] Strange twitching when config flyout is open"
**Kibana version:**
`master`

**Browser version:**
Chrome

**Describe the bug:**
When using Lens with the configuration flyout open, the hover state of the suggestions creates a twitching behavior in the charts itself. Doesn't happen with the horizontal title is _not_ shown.

**Steps to reproduce:**
1. Go to Lens
2. Create a simple stacked visualization with x, y, and group by configuration
3. Mak

[2020-10-16 20:41] elasticmachine commented on #80915
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 20:41] #80840 closed

[2020-10-16 20:43] simianhacker opened #80918 "[Metrics UI] Metrics Explorer API alert displays count instead of empty chart for threshold alerts without a field."
**Kibana version:**

Master

**Elasticsearch version:**

Master

**Original install method (e.g. download page, yum, from source, etc.):**

Source

**Describe the bug:**

When the user creates an alert and omits the field (aggregation set to `avg`) instead of displaying a blank chart it displays a chart using count.

**Steps to reproduce:**
1. Go to Metrics Explorer
2. Create an Alert
3. Set the a

[2020-10-16 20:43] elasticmachine commented on #80918
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-16 20:44] elasticmachine commented on #80914
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-16 20:55] spalger commented on #80914
10 failures, mostly in PRs, all within the last few hours

![image](https://user-images.githubusercontent.com/1329312/96307641-cf38c200-0fb6-11eb-9230-058ebf05e2c2.png)

Skipped

master: https://github.com/elastic/kibana/commit/7e47e3935ea58cc69f566b8970f8f503e3fcbe36
7.x/7.10: https://github.com/elastic/kibana/commit/e277e263b1d5b73d99ff9162214ec832d7c631bd

[2020-10-16 20:58] spalger commented on #78553
^ failure was based on snapshot before https://github.com/elastic/elasticsearch/pull/63652 was merged, but the new snapshot is being validated right now so if any failures come in after this comment then we need another solution.

[2020-10-16 21:07] jasonrhodes commented on #74239
I looked into this a little today and was able to verify that the view in context event is being sent to telemetry.
<img width="1440" alt="Screen Shot 2020-10-16 at 5 06 48 PM" src="https://user-images.githubusercontent.com/159370/96308812-04064280-0fd2-11eb-955d-114596a7df6a.png">

[2020-10-16 21:09] spalger opened #80923 "[dev/cli] Log about waiting for optimizer, hide proxy target URL"
The dev cli log is pretty misleading if you only look at the last few lines when it settles down on startup:

![image](https://user-images.githubusercontent.com/1329312/96308919-188a1100-0fb9-11eb-9bfd-ad9c00b173de.png)

The last two lines point to the wrong URL to actually access Kibana, and the only indication that the the server is waiting for the optimizer to complete is the `@kbn/optimizer` l

[2020-10-16 21:14] rylnd opened #80924 "[Security Solution] [Detections] EQL Rules fail when no data is retrieved"
NOTE: The underlying EQL bug has already been reported (and fixed): https://github.com/elastic/elasticsearch/issues/63832. This issue is meant to track Detections' behavior/verification in BC3.

**Kibana version:**
- 7.10.0 BC2

**Elasticsearch version:**
- 7.10.0 BC2

**Describe the bug:**
EQL rules can be created, however both the Preview during rule creation and subsequent rule executions will

[2020-10-16 21:27] simianhacker commented on #80480
@phillipb I feel like we talked about this at one point, correct me if I'm wrong... It's not reloading the view because we don't serialize the name of the "saved view" in the URL. So when it loads there is no way to tell if the current view matches a saved view or not. Unless we loaded all of them and compared each value.

[2020-10-16 21:33] simianhacker commented on #80481
Looks like has been fixed in master. Either by a EUI upgrade or maybe @Zacqary or @phillipb fixed it. Either way it seems to work now.

[2020-10-16 21:33] rylnd opened #80927 "[Security Solution] [Detections] Invalid EQL queries aren't caught by validation"
NOTE: The underlying EQL bug has already been reported (and fixed): https://github.com/elastic/elasticsearch/issues/63693. This issue is meant to track Detections' behavior/verification in BC3.

**Kibana version:**
- 7.10.0 BC2

**Elasticsearch version:**
- 7.10.0 BC2

**Describe the bug:**
EQL rules can be created with invalid queries. Both the Preview during rule creation and subsequent rule exe

[2020-10-16 21:33] elasticmachine commented on #80927
Pinging @elastic/siem (Team:SIEM)

[2020-10-16 22:21] kibanamachine opened #80929 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/home·ts - Kibana Home click on collapse on observability in side nav to test a11y of collapse button"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8857/)

[2020-10-16 22:21] kibanamachine commented on #80914
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8857/)

[2020-10-16 22:21] elasticmachine commented on #80929
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-16 22:26] spalger commented on #80929
4 failures across 7.x and PRs, all very recent. Do you think this could be related any recent changes @myasonik?

![image](https://user-images.githubusercontent.com/1329312/96317178-a66af980-0fc3-11eb-9ec3-9e74253133d5.png)

Skipped

master: https://github.com/elastic/kibana/commit/71f4c085b72034b1fc5e00c1c8914500da321f87
7.x/7.10: https://github.com/elastic/kibana/commit/daa00cd0c5786b0a5a0393b42

[2020-10-16 22:27] EricDavisX opened #80930 "[Fleet] Fleet takes 10 minutes from install of Agent & policy change to show Endpoint state 'Running'"
We did some performance tuning and increased the general polling time to 5 minutes, I believe it is related to this:
https://github.com/elastic/kibana/issues/75552

Then we intended at least a partial fix here: https://github.com/elastic/kibana/pull/78493

I'm not sure between the 2 that we have the user experience we want.  I have recorded a movie and plotted the relevant times in screen capture

[2020-10-16 22:27] elasticmachine commented on #80930
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-16 22:29] EricDavisX commented on #80930
@ph @nchaulet @ferullo @gogochan - Dan, do you think Endpoint could have any part to play in this, or is it all Agent side?  I don't know if anyone can help break down the timing of what is sent and when by the Agent or Endpoint...  If this is all just 'showing it in the logs' I still feel it doesn't show as well as we'd like.

[2020-10-16 23:10] wasserman opened #80931 "Index Lifecycle Policies `View indices linked to policy` can show indices that match other policies with similar name"
**Kibana version:**
7.9.2

**Elasticsearch version:**
7.9.2

**Server OS version:**
CentOS 7

**Browser version:**
Firefox 81.0.2

**Browser OS version:**
MacOS 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):**
yum

**Describe the bug:**
Index Management ilm.policy filter matches on substring.  There is nothing in `Index Management` UI results that shows the policy

[2020-10-16 23:16] kobelb commented on #80912
@sqren Do any of the existing reasons for not using saved-objects apply to the APM specific entities, or would we model these using saved-objects given hind-sight and an appropriate method of transitioning to saved-objects?

/cc @elastic/kibana-platform @spong @XavierM @mikecote

[2020-10-16 23:30] sqren commented on #80912
@kobelb Thanks for starting this discussion. It's been a while since we decided to go with a dedicated system index over saved objects so I might be forgetting some details, and SO might have changed. Overall I think it boiled down to limitations in querying abilities. For agent configuration we need to filter documents using `constant_score` and `boost` operators. At the time custom queries for r

[2020-10-17 00:33] AddChickpeas opened #80932 "Allow muting of Uptime created alerts based on url/endpoint."
When an "Index Threshold" alert is grouped, it breaks each unique value into its own instance that can be silenced. For example, if I am grouping by IP, I can decide to mute a single IP address if there is going to maintenance or something like that.

![image](https://user-images.githubusercontent.com/32724595/96324081-72083500-0fe5-11eb-8172-02414f724557.png)

With Uptime, the instance just shows

[2020-10-17 03:02] rylnd commented on #80927
Since this is mainly an elasticsearch bug, one can also use Dev Tools for a quicker test:

[code]

[2020-10-17 06:32] hanayashiki commented on #5298
this really sucks. i don't where should insert the _type. i'm a beginner.

[2020-10-17 09:20] restrry commented on #46773
We added tooling, docs, and examples. Now it's up to the plugins to complete the migration. I created a migration meta issue https://github.com/elastic/kibana/issues/80508 and going to close the current one. Thanks to everyone involved!

[2020-10-17 09:20] #46773 closed

[2020-10-17 12:48] willemdh commented on #80825
A way to updating the job id. The issue I have is that I need to rename some jobs with anothr prefix. But some of those jobs have been running for a while (9+ months) and I don't want to loose what has been learned.

[2020-10-17 13:21] dB2510 commented on #78148
@pmuellr I have opened the PR referencing this issue. I didn't know about the contributer-agreement so I have signed the contributer-agreement after opening the PR.

[2020-10-17 14:47] kibanamachine commented on #77401
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/8969/)

[2020-10-17 16:44] dnides commented on #16356
Any way to do this ?? I have same idea case as @PeterM1981
@trevan is your solution for sale?

[2020-10-17 19:19] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8878/)

[2020-10-17 20:30] thisLinda commented on #80859
Am I understanding correctly that the scope of this issue is to rename the words `x-axis` (or `-axes`) to `horizontal` and `y-axis` to `vertical`? Just a search and replace through all files?

[2020-10-18 02:18] kibanamachine commented on #78689
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8885/)

[2020-10-18 02:55] batchunag commented on #80228
@wylieconlon I've made some changes. As I mentioned in the todo item on my PR, how do we proceed with the i18n translation?
In the guidelines, it was mentioned that only certain translators can contribute. Thanks.

[2020-10-18 08:56] zanbel commented on #79946
I'm sure what is the expected behavior for example for self-managed clusters in those scenarios, but I don't think we should.

+1 and just a small nitpick, which shouldn't change anything here, but the migration to using the new data tier roles can be triggered by other events, such as enabling autoscaling for example.

[2020-10-18 11:40] Bamieh commented on #80706
Telemetry usage collectors are only responsible to "collect" the data to send it to the consumer.

Collectors are only called when needed (telemetry, beats, example flyout, etc). The issue here is with the tasks registered to store usage data for the telemetry usage collectors to use when called.

We can address these by:
1. Manually going over every usage task and only enabling them if telemetry

[2020-10-18 12:20] kibanamachine commented on #79463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8895/)

[2020-10-18 13:22] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8896/)

[2020-10-18 15:22] restrry commented on #73849
I read through the nodejs thread https://github.com/nodejs/node/issues/27363 and it seems that:
- `Disable the headers timeout` is not an option due to security reasons.
- `Allow the end-user to configure the headers timeout` requires the end-users to identify the problem and find a recommended solution in the Kibana docs. Furthermore, we are going to update the nodejs version to the fixed v12.19

[2020-10-18 15:25] restrry commented on #44062
closed in favour of https://github.com/elastic/kibana/issues/73849

[2020-10-18 15:25] #44062 closed

[2020-10-18 17:56] SergeyKleyman opened #80949 "[APM] Improved PHP stack trace formatting"
The way to format stack trace that is idiomatic to PHP (for example it's the way stack trace is formatted by PHP's [`debug_print_backtrace()`](https://www.php.net/manual/en/function.debug-print-backtrace.php)):
[code]

and for exceptions (for example it's the way stack trace is formatted by PHP's [`Throwable::getTraceAsString()`](https://www.php.net/manual/en/throwable.gettraceasstring)):
[code]

[2020-10-18 22:51] kdk2933 commented on #54743
Did you get the fix for the issue?

[2020-10-18 23:25] PavithraCP commented on #64522
@chrisronline Sorry about the delay. I've raised PR https://github.com/elastic/kibana/pull/80943 with the fix. Please lmk if this looks good. Thanks

[2020-10-18 23:42] tbragin commented on #17939
@kobelb Should this issue be closed in favor of https://github.com/elastic/kibana/issues/52125 and https://github.com/elastic/kibana/issues/54836 ?

[2020-10-19 02:39] kibanamachine opened #80944 "Failing test: Firefox UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visual builder browser history changes should activate previous/next chart tab and panel config"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9005/)

[2020-10-19 02:39] elasticmachine commented on #80944
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-19 04:26] thomasneirynck opened #80946 "[Maps] Layer flashes when changing styling params"
**Kibana version:**

7.10

**Describe the bug:**

When changing the styling (e.g. fill color) of a grid-layer using the super-fine option, the layer flashes

**Steps to reproduce:**
1. add cluster layer
2. set super-fine selection
3. change fill-color

-> tiles get refreshed even though only a style property has changed. this causes the layer to flash

**Expected behavior:**

only the style change

[2020-10-19 04:26] elasticmachine commented on #80946
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-19 04:33] kunisen opened #80947 "[Bug] Kibana doesn't block all incorrect calendar_interval inputs"
**Kibana version:**
7.9.2

**Elasticsearch version:**
7.9.2

**Server OS version:**
RHEL7

**Browser version:**
Major version

**Browser OS version:**
Major version

**Original install method (e.g. download page, yum, from source, etc.):**
any

**Describe the bug:**

It looks like Kibana is honoring calendar interval.
Kibana can block some incorrect interval settings, but it doesn't block all inco

[2020-10-19 05:38] stratoula commented on #80859
Hey @thisLinda! It is not so simple. The name should change depending on the orientation. So if we have a vertical bar and the user starts playing with the axis and the chart changes to a horizontal one, the axis should also change as the previous vertical axes will be the horizontal one etc

[2020-10-19 06:30] smerchans commented on #51059
I've found the problem! In my case I used the line chart type and I had the Fill (0 to 1) field as 0.5, and that was the problem because if you want the line filled, it takes the 0 as reference to fill from. When I changed the fill to 0, it automaticaly scaled the y axis.
I hope this solution works for you too!

[2020-10-19 06:36] kibanamachine commented on #78689
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9009/)

[2020-10-19 07:07] elasticmachine commented on #80949
Pinging @elastic/apm-ui (Team:apm)

[2020-10-19 07:59] restrry commented on #65291
I don't know whether such logs provide a lot of value. Let's see how `internalError` factory is used:
[code]
Note: `internalError` accepts an error body to be sent with the response. I'm not sure we need to log *the same* error again.
That's why it hasn't been implemented from the very beginning. But what I see that `body` property is optional in `ErrorHttpResponseOptions`
https://github.com/elast

[2020-10-19 08:19] stratoula opened #80951 "[Visualizations] Remove the setters/getters from the plugin"
**Describe the feature:**
Right now on the Visualizations plugin https://github.com/elastic/kibana/blob/master/src/plugins/visualizations/public/plugin.ts#L32, we use setters to set the services that the plugin needs and getters to get the services and use them wherever we want.

We want to remove this logic as it makes the code more complex and may cause some bugs.

So, for example, many setters

[2020-10-19 08:19] elasticmachine commented on #80951
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 08:39] ppisljar commented on #71409
@Dosant from dashboards perspective, its just extracting references, where one of them might point to another dashboard. it doesn't care if that other dashboard points back to it. But you are right we'll need to make sure any logic using this references is good enough so it doesn't break under cyclic reference. But from user experience perspective i don't see an issue. if i have Dashboard A->Dashb

[2020-10-19 08:45] azasypkin opened #80952 "Remove redundant call to `_authenticate` API after access token is created"
Since https://github.com/elastic/elasticsearch/issues/59685 is resolved now ([7.11.0+](https://github.com/elastic/elasticsearch/pull/62490)) we can proceed and remove redundant `_authenticate` calls after we create any kind of access token (Token/SAML/OIDC/Kerberos/PKI) that would improve login performance and make code simpler overall.

[2020-10-19 08:45] elasticmachine commented on #80952
Pinging @elastic/kibana-security (Team:Security)

[2020-10-19 09:19] peteharverson commented on #73261
#80902 makes a big improvement to the behavior here. At most it takes me two clicks to return to the Jobs List or Overview page from the Anomaly Explorer or Single Metric Viewer.

[2020-10-19 09:34] gorogoroumaru commented on #80952
Let me try to work on this issue.

[2020-10-19 09:35] arisonl opened #80953 "Documentation for alert variables/parameters"
As more variables and parameters variables are added by the various alert types, we need to provide documentation for them. Perhaps, a link from within the UI to the docs might be a good idea too in this case, e.g. we have such a link to the documentation of external tools (e.g. how to spin up a SN dev instance in the corresponding connector UI currently exists).

[2020-10-19 09:35] elasticmachine commented on #80953
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-19 09:54] azasypkin commented on #80952
Great! Let me know if you stuck anywhere. These are likely the places you'll need to update/simplify:

* [Token](https://github.com/elastic/kibana/blob/5858dd8f98153ea46f6350a5b04799541de65e1d/x-pack/plugins/security/server/authentication/providers/token.ts#L73-L76)
* [Kerberos](https://github.com/elastic/kibana/blob/5858dd8f98153ea46f6350a5b04799541de65e1d/x-pack/plugins/security/server/authentic

[2020-10-19 10:05] gmmorris opened #80958 "Stack Alerts UI Public components don't reside next to their Server components"
The Stack Alert Types (Index & Geo thresholds) have their `public` components along side the Alerts & Actions management components for historical reasons.

This means that their Server components and their Public components exist across two plugins: `stack_alerts` and `triggers_actions_ui`, which breaks the Kibana Plugin standards and makes it harder to maintain these components as they are diffe

[2020-10-19 10:06] elasticmachine commented on #80958
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-19 10:19] weltenwort commented on #80481
nice :+1:

[2020-10-19 10:19] #80481 closed

[2020-10-19 10:20] #80620 closed

[2020-10-19 10:39] sorantis commented on #80312
Related to Anomalies tab: https://github.com/elastic/kibana/issues/74810

[2020-10-19 10:49] stratoula commented on #80859
Hey @thisLinda! It is not so simple as it depends on the chart orientation. So it is different for a horizontal and a vertical chart. This applies not only on the Data Tab but on the Metrics and Axes Tab too.

[2020-10-19 10:52] #80482 closed

[2020-10-19 11:29] karanbirsingh-qasource commented on #80821
Hi @kevinlog

Thanks for the Update. We have updated the Test-Case [C34166](https://elastic.testrail.io/index.php?/cases/view/34166) as per the shared update.

Hence we are closing this issue.

[2020-10-19 11:29] #80821 closed

[2020-10-19 11:40] sqren commented on #60053
Yes

No

No

Not that I'm aware of.

[2020-10-19 11:49] stratoula commented on #80859
I was looking into this issue and it appears to be more complex than it seems 😄
I will try to explain the complexity with an example:
Let's assume that we have a horizontal chart. On the Data Tabs, I can change the X and Y axis from the VisConfig to be Vertical and Horizontal so on the initialization will look fine:
<img width="1792" alt="Screenshot 2020-10-19 at 2 42 16 PM" src="https://user-imag

[2020-10-19 12:09] Dosant opened #80966 "Support for cyclic SO references"
In scope of this issue we need to make sure that features that rely on saved object references support cyclic references.

Cyclic reference use-case came up in: https://github.com/elastic/kibana/issues/71409#issuecomment-709995598, where dashboards can link to each other via drilldowns.

From a quick [poc](https://github.com/elastic/kibana/issues/71431) it became clear that saved object reference

[2020-10-19 12:09] elasticmachine commented on #80966
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-19 12:09] Rodrimix opened #80967 "[Canvas] Timefilter is not working"
**Kibana version:** 7.9.1

**Elasticsearch version:** 7.9.1

**Server OS version:**

**Browser version:**  Firefox 81.0.2

**Browser OS version:** Ubuntu

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud deployment

**Describe the bug:**

We have a canvas workpad with timefilter and dropdownfilter controls. When changing the date  on the time control the filt

[2020-10-19 12:20] ph commented on #80930
I think this might be more on the Kibana side, the changes on the Agent and endpoint should be almost instance. I've assigned @nchaulet to it and marked it as a bug.

[2020-10-19 12:26] ppisljar commented on #62825
this has since been implemented

[2020-10-19 12:26] #62825 closed

[2020-10-19 12:27] sgrodzicki commented on #80308
@afgomez your help from the Logs UI perspective would be very much appreciated.

[2020-10-19 12:29] #78495 closed

[2020-10-19 12:29] sqren commented on #60053
@kobelb

On Observability we need a lot of test data to be streamed continuously. This requires significant resources (CPU, RAM and disk space). Instead of having every dev do this we have a single cluser with test data, that every dev can connect to.

Last time I tried this it wasn't supported between a local cluster and Elastic Cloud. So it might be difficult to replicate what we have today. Wil

[2020-10-19 12:37] EricDavisX commented on #80045
There were some engineering questions we got organized - basic testing should be possible after a few fixes go in.

[2020-10-19 12:37] deepikakeshav-qasource opened #80972 "[Chrome, Edge] UI is broken in "destination" Categories under the "Customize Columns" on Detection Tab."
**Describe the bug**
UI is broken in "destination" Categories under the "Customize Columns" on Detection Tab.

**Build Details:**
Elastic-Cloud : 7.9.3 BC1
Commit: 289d9205
Build: 34038
Artifacts: https://staging.elastic.co/7.9.3-5a6c73d0/summary-7.9.3.html

**Browser Details**
Chrome: 86
Edge: 86
Firefox: 81
Safari: 12.0

**Preconditions**
1. Elastic Cloud 7.9.3 environment should be deployed
2.

[2020-10-19 12:38] deepikakeshav-qasource commented on #80972
@karanbirsingh-qasource Please review

[2020-10-19 12:46] Dosant opened #80973 "Embeddable persistable state migration"
In scope of https://github.com/elastic/kibana/pull/74352 we added `.telemetry` `.extract` and `.inject` functions to embeddable service which can take in any embeddable input and perform associated action on it.
Same set was added to dynamic actions of `uiActionsEnhanced` and drilldowns. All of those where connected together.

Similar to that approach we need to add a way to `migrate` persistable

[2020-10-19 12:49] elasticmachine commented on #80973
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-19 12:51] muskangulati-qasource commented on #80972
Reviewed and assigned to @MadameSheema

[2020-10-19 12:52] felix-lessoer commented on #80967
I see the same behavior in my canvas boards.
This is especially true for timelion.

@shaunmcgough  Can you check on that?

[2020-10-19 12:52] elasticmachine commented on #80972
Pinging @elastic/siem (Team:SIEM)

[2020-10-19 13:00] pmuellr commented on #78704
From an API point of view, I think this could work, we just need to be careful not to send down the secrets when we shouldn't be.  We get that "for free" today, since you have to specifically decrypt the SO to get the secrets, and normal SO access just doesn't give them to you.

OTOH, this would make informal problem diagnosis harder, in terms of folks peeking through SOs, since nothing will be vi

[2020-10-19 13:01] Dosant commented on #80973
The open question we have right now:

With `migrate` functionality we want to follow similar approach like we did with `extract`, `inject` and `telemetry` (https://github.com/elastic/kibana/pull/74352). This approach relies on a chain of registries and enhancement pattern:

`migrate() on a drilldown` -> `registers in DynamicActionsRegistry on uiActionsEnhanced` -> `used in EmbeddableEnhanced (x-pa

[2020-10-19 13:03] muskangulati-qasource opened #80974 "[Bug] Long text Description and name without space expands to the right-side panel (value-field section) on the Trusted App tab."
**Describe the bug**
Long text Description and name without space expands to the right-side panel (value-field section) on the Trusted App tab.

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.10.0 Stagging environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Security app and go to the Administration Tab.
2. Click on 'Add Trusted Appli

[2020-10-19 13:09] manishgupta-qasource commented on #80974
Reviewed & Assigned to @kevinlog

[2020-10-19 13:10] jasonrhodes commented on #60053
One reason we switched to using our own individual kibana.index settings in Observability was because when we all just connected to a single remote cluster from a local Kibana using the same .kibana index, it would sometimes lead to nasty migration race conditions. In those situations we'd somewhat regularly see "please delete .kibana1 index” etc. Is that a known issue? If we remove this kibana.in

[2020-10-19 13:11] Dosant commented on #71409
An update on this:

* Implemented inject/extract functionality on dashboard drilldown in https://github.com/elastic/kibana/pull/80832 on top of https://github.com/elastic/kibana/pull/74352 - look good
* Discovered that SO cyclic references are not fully supported. Some features are broken. Created separate issue to discuss and tackle this: https://github.com/elastic/kibana/issues/80966
* #80832 ne

[2020-10-19 13:14] phillipb commented on #80480
@simianhacker this is right and was a limitation when we launched in 7.9. I think we should probably take a look at this along with https://github.com/elastic/kibana/issues/78298 in 7.11 since these keep resurfacing.

[2020-10-19 13:20] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8920/)

[2020-10-19 13:20] cskowronnek commented on #80967
Same here

[2020-10-19 13:32] ryankeairns commented on #80508
@restrry for our planning purposes, is there a target release or deadline for this effort? ty

[2020-10-19 13:36] #80639 closed

[2020-10-19 13:37] liza-mae opened #80978 "[test-failed]: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts - endpoint When on the Endpoint Policy Details Page with a valid policy id "before all" hook for "should display policy view""
**Version: 7.10.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts**
**Stack Trace:**
[code]
**Other test failures:**
- endpoint When on the Endpoint Policy Details Page and the save button is clicked "before each" hook for "should display success toast on successful save"
- endpoint When on the Endpoint Policy Details Page when on

[2020-10-19 13:37] elasticmachine commented on #80978
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-19 13:39] drewpost commented on #80162
Hey @katrin-freihofner - As discussed on our call today, you'll add in the four components to these lines: DNS, connect,  SSL/TLS and time to first byte for all objects that we hold data for. This may not be all objects on the page as this cost is only incurred for the first connection to the domain (or at least, it should be!)

[2020-10-19 13:40] elasticmachine commented on #80978
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-10-19 13:41] #64283 closed

[2020-10-19 13:45] stacey-gammon commented on #62825
Nice job! 🎉

[2020-10-19 13:54] chrisronline opened #80983 "Lens usage collector does not return the same structure"
We run parity tests in Stack Monitoring comparing legacy and Metricbeat-based collection, which involves Kibana starting up in both ways. We found that the lens usage collector can return two different structure of data, which is causing failures in our test suite.

One possible structure:
[code]

The other:
[code]

It'd be great if this could be consistent, for us but I'm also guessing it will be

[2020-10-19 13:55] elasticmachine commented on #80983
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 13:57] flash1293 commented on #80983
@wylieconlon Probably knows more about it but I guess this depends on whether the Lens telemetry collection task has been scheduled at least once.

What exactly is the issue here? Would it help to just fill the object with the default values (empty object or 0)?

[2020-10-19 13:57] paul-tavares commented on #80978
@liza-mae quick question:

re:

Would this cause two instances of the test suite to be run against Kibana concurrently?

[2020-10-19 14:00] chrisronline opened #80986 "Actions usage collector does not return the same structure"
We run parity tests in Stack Monitoring comparing legacy and Metricbeat-based collection, which involves Kibana starting up in both ways. We found that the lens usage collector can return two different structure of data, which is causing failures in our test suite.

One possible structure:
[code]

The other:
[code]

It'd be great if this could be consistent, for us but I'm also guessing it will be

[2020-10-19 14:07] #80325 closed

[2020-10-19 14:11] sqren commented on #60053
@rudolf and I discussed the migration issue [here](https://github.com/elastic/kibana/pull/66056#discussion_r431223141).
The workaround might be to disable migrations with `migrations.skip: true` but last time I tried it either caused problems on it's own or didn't prevent migrations from happening (can't remember which). But it's worth trying out again if that's the recommended workaround.

[2020-10-19 14:12] liza-mae commented on #80978
HI @paul-tavares, the two Kibana instances are behind a load balancer, some info: https://www.elastic.co/guide/en/kibana/current/production.html#load-balancing-kibana.

I am running on ESS, it is possible these failures are not related to this configuration but I wanted to point it out as a difference and to help in reproducing/debugging the problem.

[2020-10-19 14:18] legrego commented on #78704
In general, we don't have the ability to restrict decryption to a specific set of users. If a SO attribute is marked as [`dangerouslyExposeValue: true`](https://github.com/elastic/kibana/blob/388a905b29e8c812e31ead8ccc82a8bfc94e8b37/x-pack/plugins/encrypted_saved_objects/server/crypto/encrypted_saved_objects_service.ts#L23), then anyone with `read` access to the saved object will be able to see th

[2020-10-19 14:26] nchaulet commented on #61269
Yes it's still not the case

[2020-10-19 14:27] bhavyarm opened #80994 "Ingest Node Pipelines need a11y tests"
Please add a11y tests to ingest node pipelines
Here are the documents which explain a11y testing - https://www.elastic.co/guide/en/kibana/master/development-tests.html#development-accessibility-tests

Here is the meta issue where you can find other test PRs: #51456

[2020-10-19 14:28] elasticmachine commented on #80994
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-19 14:29] bhavyarm commented on #80066
Thanks @cjcenizal and @ph . Done - https://github.com/elastic/kibana/issues/80994

[2020-10-19 14:34] weltenwort opened #80995 "[Logs + Metrics UI] Migrate to TS project references"
## Summary

Now that the Kibana build system supports using TypeScript project references (#46773), the `infra` plugin must be migrated to participate. This is part of the overall effort tracked at #80508.

## Blockers

This is currently blocked by the migration status of some of the plugin dependencies:

- [x] `features`
- [x] `usageCollection`
- [x] `spaces`
- [x] `data`
- [x] `dataEnhanced`
- [

[2020-10-19 14:34] elasticmachine commented on #80995
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-19 14:34] Supsource commented on #80824
@stratoula stratoula mentioned this issue 3 days ago
[XYAxis] Rename x and y axis to horizontal and vertical ones #80859

[2020-10-19 14:35] wylieconlon commented on #80983
I'm wondering if this is an actual bug in the collector, because we should be getting identical keys in both cases. It looks like there is something buggy about the Lens background task state that you're seeing, which has caused it to contain empty values instead of all the expected keys. Is this something you're able to reproduce consistently, and if so can you provide some steps to reproduce? It

[2020-10-19 14:36] ppisljar commented on #80973
we can register migrations in the setup phase even if specific migrations rely on start contract of another plugin, but migrations would need to run AFTER start phase of all plugins has finished (and those start contracts are actually available). In setup phase we would pass a promise of start services in (`core.getStartServices()`)

[2020-10-19 14:42] dgieselaar opened #81000 "[APM] Add telemetry for transaction types"
We are considering showing stats for the default transaction types (page-load, request) only in 7.11. We should add telemetry for the 7.10 release that will tell us:

- how many services do not have data for the default transaction types
- the cardinality of transaction.type

Sampling data from the last 24 hours should be enough.

[2020-10-19 14:42] elasticmachine commented on #81000
Pinging @elastic/apm-ui (Team:apm)

[2020-10-19 14:46] bhavyarm opened #81001 "Kibana should display a message to user when there is no data in ES on index pattern management page"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:** darwin_x86_64

**Browser version:** Chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user clicks on check for new data on index pattern management page and if there is no new data - Kibana should display

[2020-10-19 14:46] elasticmachine commented on #81001
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-19 14:51] wylieconlon commented on #80228
@batchunag Thanks for the heads up. I see that @timroes has already given you some high level feedback which I agree with- if you have further questions let's move the discussion to your PR.

[2020-10-19 14:55] smith opened #81003 "[APM] Migrate Kibana plugins (that depend on APM) to TS project references"
Like #80508, but for APM-specific plugins and their transitive dependencies.

[Implementation instructions](https://github.com/elastic/kibana/blob/master/docs/developer/best-practices/typescript.asciidoc#implementation).

This list is based on looking at APM's optional and required plugins in its kibana.json and manually walking the transitive dependencies. Other dependencies may also exist and ca

[2020-10-19 14:55] elasticmachine commented on #81003
Pinging @elastic/apm-ui (Team:apm)

[2020-10-19 15:00] stratoula commented on #80859
We decided to proceed with only renaming the axes on Lens for now, so I will close this issue.

[2020-10-19 15:00] #80859 closed

[2020-10-19 15:02] delvedor commented on #79082
Hello! The js client is retrying on 502/3/4 HTTP errors, connection faults, and connection timeout.
The client will not retry on 429 normal API calls. It will retry on 429 as well in some helpers with a delay.

[2020-10-19 15:08] Dosant opened #81004 "[Search] Send to background UI"
**Describe the feature:**

Reusable connected component to:
* send current search to background
* display async search state

![image](https://user-images.githubusercontent.com/3756330/98014049-23baaa80-1dc9-11eb-8c55-d049a05d9265.png)

Mocks: https://whimsical.com/LMKSnR7vmPrmAypPXYuA8T
Part of https://github.com/elastic/kibana/issues/61738

[2020-10-19 15:08] elasticmachine commented on #81004
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-19 15:23] delvedor commented on #75542
Hello! How are you passing the password to the client?
Via URL (eg `https://user:password@instance.com`) or via the [auth](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/client-configuration.html) configuration option?
If you are passing the username and password inside the URL, it will be decoded as you can see [here](https://github.com/elastic/elasticsearch-js/blob/3

[2020-10-19 15:23] jfsiii commented on #80978
@paul-tavares mentioned in Slack that there's a 409 conflict error. There were two recent PRs https://github.com/elastic/kibana/pull/80506 & https://github.com/elastic/kibana/pull/79201 to enforce unique policy names

Fleet avoids this in some tests using an `after` or `afterEach` to to clean up the created policies & prevent the conflict. e.g.

https://github.com/elastic/kibana/blob/76e8d15b865c2

[2020-10-19 15:26] nchaulet opened #81009 "Saved object filter KQL do not work with multiple nested filters"
## Description

I am trying to use nested filter in a saved object filter query using KQL, and it's throwing a validation error if I have multiple items in my nested query

This work
[code]

This do not work
[code]

The error

[code]

[2020-10-19 15:34] chrisronline commented on #80983
I think this is a result of mistakenly deleting the `.kibana_task_manager` index after stopping Kibana and before starting it up again. We changed this logic in our tests and we're not seeing an issue with this collector now. However, it might be worth exploring handling that better, but up to you. Feel free to close if you don't feel it's an issue.

[2020-10-19 15:34] #80827 closed

[2020-10-19 15:34] chrisronline commented on #80986
This is also true of `alerts`

[2020-10-19 15:35] paul-tavares commented on #80978
@jfsiii all of our tests do clean up using `afterEach`:

https://github.com/elastic/kibana/blob/041dfdd89d6f96dd5b8f7dc62ed1805624ded3ab/x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts#L256-L268

 Also - this seems to be happening only in this branch (7.10) and maybe only under the given multi-kibana node setup (_unclear if that is actually a contributing factor_).

Can you

[2020-10-19 15:40] elasticmachine commented on #81009
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-19 15:41] #77758 closed

[2020-10-19 15:43] paul-tavares commented on #80978
@liza-mae how do I access the screen captures taken by the failed test?

There are several other tests that failed, some of which make no sense to me and I just want to look at what was being displayed at the time of failure.

[2020-10-19 15:49] legrego commented on #75542
@delvedor it looks like we're using the `auth` configuration option for connections made via the `kibana_system` user:

https://github.com/elastic/kibana/blob/1ad68fdef7ca9711bf5a6e39eccbc18bfd7960e5/src/core/server/elasticsearch/client/client_config.ts#L89-L94

[2020-10-19 15:53] #55243 closed

[2020-10-19 15:54] dmlemeshko commented on #80929
@bhavyarm you probably want to check it

[2020-10-19 15:56] dmlemeshko commented on #80944
Adding screenshot
<img width="1279" alt="failure1" src="https://user-images.githubusercontent.com/10977896/96475517-66f71400-1234-11eb-81cd-b1d4c23da7e1.png">

[2020-10-19 15:56] liza-mae commented on #80978
Hi @paul-tavares, yes you can find the screenshots this way:

1. Click the test report link in the summary of this issue:
https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/868/testReport/
2. Click the group for the test failure, in this case ```xpackExtGrp2```
3. On the left hand side, click ```Google Cloud Storage Upload Report```
4. Search for the test title:

[2020-10-19 15:57] elasticmachine commented on #80944
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 16:22] paul-tavares commented on #80978
Thank you @liza-mae . One other think I'm not able to identify is the commit hash for the build that was used for this env. Some of failed tests (unrelated to this one specifically) seem to indicate running older test files against newer code.

[2020-10-19 16:27] jfsiii commented on #80978
@paul-tavares looking at the [the Jenkins logs](https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/868/JOB=xpackExtGrp2,TASK=saas_run_kibana_tests,node=linux-immutable/testReport/X-Pack%20Endpoint%20Functional%20Tests1/x-pack_test_security_solution_endpoint_apps_endpoint_policy_details%C2%B7ts/endpoint_When_on_the_Endpoint_Policy_Details_Page_and_the_save_button_

[2020-10-19 16:29] TinaHeiligers opened #81017 "[Usage Collection & Telemetry] Migrate to TS project references"
## Summary

Now that the Kibana build system supports using TypeScript project references (#46773), the telemetry-related plugins must be migrated to participate. This is part of the overall effort tracked at #80508.

| plugin  | migration status|
|--------|-----------------|
| kibana_usage_collection | ✅ |
| newsfeed | ✅ |
| telemetry | ✅ |
| telemetry_collection_manager | ✅ |
| telemetry_managem

[2020-10-19 16:29] elasticmachine commented on #81017
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2020-10-19 16:29] liza-mae commented on #80978
This was run against 7.10.0 BC2 (kibana f1c0bdd)

It is the other way around, the test files are always the latest and the code under test might be older, that is because when we fix flaky tests I need to pull the latest test code.

[2020-10-19 16:34] cjcenizal commented on #80762
These were gathered by @AlonaNadler:

## String operations
* [Convert string date to date field](https://discuss.elastic.co/t/converting-a-string-date-epoch-to-a-date-field-using-scripted-fields-in-kibana/173013)
* Concatenate two fields
* Split values in a field by a specific separator
* Parse string to extract subset of a field link link
  * [Parse email data with regrex](https://discuss.elastic

[2020-10-19 16:36] simianhacker opened #81019 "[Metrics UI] Persist Inventory View Settings to Local Storage"
The inventory view should persist the view configuration between tabs and page loads, similar to the Metrics Explorer.

[2020-10-19 16:37] elasticmachine commented on #81019
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-19 16:38] chrisronline opened #81020 "[Monitoring] Migrate cluster alerts from watcher to Kibana alerting"
Depends on https://github.com/elastic/elasticsearch/issues/50032

## Action items

- [x] Update Kibana to call this new API https://github.com/elastic/kibana/pull/85047
- [ ] Update existing legacy cluster alerts to fetch data from `.monitoring-{stackProduct}-*` documents instead of from `.monitoring-alerts*` documents https://github.com/elastic/kibana/pull/87377
- [x] Communicate change to user a

[2020-10-19 16:38] elasticmachine commented on #81020
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-19 16:42] HonzaKral commented on #26531
This is still an issue in 8.9.2:

![Peek 2020-10-19 18-43](https://user-images.githubusercontent.com/32132/96480688-dd971000-123a-11eb-95ba-3d825525fe27.gif)

[2020-10-19 16:42] #75766 closed

[2020-10-19 16:43] paul-tavares commented on #80978
@liza-mae
Thanks again.

**re: test files not being in sync with the code**
That explains some of the test failures for `security_solution_endpoint/` where the tests were adjusted in conjunction with the code, so those tests will now fail (as expected?). When will this be sync'd up?
For reference - [this PR](https://github.com/elastic/kibana/commit/cf211d29197281b6326eda58edefa2bf60f881b1) was mer

[2020-10-19 16:50] rudolf commented on #70544
The fact that the `.kibana_task_manager` index restores correctly and only the `.kibana` index fails makes me think there might have been something wrong with your `.kibana` before you took the snapshot. And if your snapshot source is broken, the restored index will be broken too.

In your logs `.kibana_4` doesn't have any mappings enabled, it has `enabled: false`. Whenever Kibana creates an index

[2020-10-19 16:53] liza-mae commented on #80978
@paul-tavares

We will sync back up once our test failures have gone down to the single digits or preferably zero, I don't expect that to happen soon.

I don't run the test suite concurrently on the same Kibana.

[2020-10-19 17:12] bhavyarm opened #81022 "Confusing behavior around auto interval for non-default time fields"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user has alias for a date field - auto shows up as invalid interval format for histogram aggregations.

Here is how @mar

[2020-10-19 17:12] elasticmachine commented on #81022
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 17:12] mostlyjason opened #81024 "[Fleet] Handle initialization timeout better"
I just launched a new deployment on staging with 7.10 and I got this error:

[code]

It worked when I refreshed the page a few minutes later, indicating it was a timeout to a background process that resolved on its own.

This looks like bad error because it happens during the getting started flow, its ugly and doesn't tell the user what to do to overcome the problem. It'd be better if we could ext

[2020-10-19 17:12] elasticmachine commented on #81024
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-19 17:17] timroes commented on #80762
Example of a grouping script: https://gist.github.com/timroes/2fb448b191cb08b93fb5e8d82d01857c

[2020-10-19 17:22] LeeDr commented on #16356
Related to this, but also no progress on it.  https://github.com/elastic/kibana/issues/7499

[2020-10-19 17:24] rashmivkulkarni commented on #77734
verified this behavior on 7.9.3 BC1 - I could not reproduce the issue - all good with the timepicker in discover.
correct error message is seen `Expected format MMM D, YYYY @ HH:mm:ss.SSS`

[2020-10-19 17:32] #80003 closed

[2020-10-19 17:43] rashmivkulkarni opened #81027 "7.9.3 BC1 build not notarized - Darwin download"
I just downloaded BC1 - 7.9.3 on my local **Darwin**  and started Kibana. Seems like the builds are not notarized--  I get this error . The build candidate bug should be always notarized.

Downloaded the builds from:  https://staging.elastic.co/7.9.3-5a6c73d0/summary-7.9.3.html
Ref dev ticket  https://github.com/elastic/dev/issues/1529

<img width="638" alt="Screen Shot 2020-10-19 at 10 12 22 AM"

[2020-10-19 17:43] ollydixon commented on #5648
I'm seeing this issue randomly again from October 12th looking at various server logs. Using elastic.co.. not good..

[2020-10-19 17:50] ryankeairns commented on #80516
Until we have true user profile support, we could consider treating it like the newsfeed. In other words, provide a Kibana config to disable product tours that is also [whitelisted for use by Cloud](https://github.com/elastic/kibana/issues/75021) admins.

The obvious downside is that this would disable tours for new users on these instances, going forward. I don't love this approach, but it would

[2020-10-19 17:51] #80578 closed

[2020-10-19 17:56] rashmivkulkarni commented on #81027
closing- this ideally is an infra issue referenced here: https://github.com/elastic/infra/issues/24226

[2020-10-19 17:56] #81027 closed

[2020-10-19 18:05] andrewvc opened #81031 "[User Experience] Percentile selector should use EuiSelect not EuiSuperSelect"
The User Experience dashboard has inconsistent select box components in the top row, which is visually jarring. Since we have no need for an `EuiSuperSelect` for percentiles we should convert that to an `EuiSelect` for consistency.

![image](https://user-images.githubusercontent.com/131427/96494314-cee53480-120b-11eb-9637-62fb3670a43b.png)

[2020-10-19 18:05] elasticmachine commented on #81031
Pinging @elastic/uptime (Team:uptime)

[2020-10-19 18:13] ph commented on #65749
Closing this, replaced by "install" subcommand.  https://github.com/elastic/beats/pull/21206

[2020-10-19 18:13] #65749 closed

[2020-10-19 18:14] ph commented on #65779
Still valid?

[2020-10-19 18:18] ph commented on #66226
@paul-tavares I believe this is fixed?

[2020-10-19 18:19] kobelb commented on #80912
`SavedObjectsClient#find` supports KQL expressions now; however, as far as I'm aware, KQL does not support `constant_score` queries. @lukasolson, can you confirm this?

[2020-10-19 18:27] #67450 closed

[2020-10-19 18:34] #67727 closed

[2020-10-19 18:34] illegalnumbers commented on #58825
Any update on this? If not I'd like to take a crack at it. Very annoying minor issue.

[2020-10-19 18:34] ph commented on #67760
still valid?

[2020-10-19 18:36] ph commented on #68554
@nchaulet do we still consider this enhancement?

[2020-10-19 18:38] ph commented on #68630
I think this would be replaced by https://github.com/elastic/kibana/issues/70582

[2020-10-19 18:38] #68630 closed

[2020-10-19 18:43] kobelb commented on #17939
@tbragin This issue was originally left open because it encompasses requests for both audit logging and more general usage data. However, I see the detriment in leaving this issue around as we continue to conflate the two enhancement requests. I'd prefer we just close out this issue. @arisonl and @alexfrancoeur, do you happen to know if we have another issue for usage data collection?

[2020-10-19 18:45] ph commented on #69680
Closing as wontfix. we will remove that text completely.

[2020-10-19 18:45] #69680 closed

[2020-10-19 18:45] ph commented on #69788
still valid?

[2020-10-19 18:48] ph commented on #70586
Could this be closed @skh @jfsiii @neptunian ?

[2020-10-19 18:51] ThomThomson commented on #51318
Updates on Phase 2 will continue to be tracked in https://github.com/elastic/kibana-team/issues/231

[2020-10-19 18:53] ph commented on #70996
@nchaulet Is this still an issue?

[2020-10-19 18:55] AlonaNadler opened #81045 "Ability to copy to dashboard a panel from another dashboard"
Often users want to create their own customized view. Some of the panels they will create from scratch other panels they want to use from something someone else created in another dashboard. Often they might want to do modifications to these panels.

Challenging with existing (post by value by reference approach):
- users need to know the name of the visualization in order to add it to their dashb

[2020-10-19 18:56] jasonrhodes opened #81046 "[Metrics App] Re-think inventory time picker and workflow"
Currently, the Inventory page uses a single point-in-time value to query for data from "the previous 20 minutes", then we use the data that comes back from that query to group and find the "last minute" of data available for each host/pod/container found in the first query.

<img width="1440" alt="Screen Shot 2020-10-19 at 2 57 11 PM" src="https://user-images.githubusercontent.com/159370/96499538-

[2020-10-19 18:56] elasticmachine commented on #81046
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-19 19:00] ph commented on #72535
@mostlyjason @hbharding Could we just remove that page?

[2020-10-19 19:00] ThomThomson commented on #69481
Closed in https://github.com/elastic/kibana/pull/78365

[2020-10-19 19:00] #69481 closed

[2020-10-19 19:01] ThomThomson commented on #67356
Closed in https://github.com/elastic/kibana/pull/77561

[2020-10-19 19:01] #67356 closed

[2020-10-19 19:04] AlonaNadler opened #81047 "Abiltiy to change dashboard panel title name close to the title"
Challenge: post by value-by reference. Most panels by default will not have titles. At the moment to change the title users need to click on the gear icon and select the 3rd option, and type the title. Titles for panels are extremely important and help consumers read and understand what the panel is all about

The no title place it counter-intuitive, intuitively I almost tried to double click on t

[2020-10-19 19:08] ThomThomson commented on #81045
I think this is a duplicate of https://github.com/elastic/kibana/issues/69423. There are some important things here that we should copy over there though!

[2020-10-19 19:10] #78824 closed

[2020-10-19 19:11] ph commented on #72948
We have just added this https://github.com/elastic/kibana/issues/79903 which make Agent policy name unique across fleet.

@caitlinbetz With the above solution do we really need to make the integrations name unique? @ruflin you have mentioned previously that if we don't make it unique it could be a problem https://github.com/elastic/kibana/issues/68019#issuecomment-638875319.

For me this look like

[2020-10-19 19:13] ph commented on #72960
I am going to close this, since we are reworking the stauts/reporting completelly

[2020-10-19 19:13] #72960 closed

[2020-10-19 19:14] ph commented on #72986
@mostlyjason I don't think we need that with data tier? correct?

[2020-10-19 19:15] ph commented on #73091
@nchaulet @michalpristas  I would consider that with the status/events refactoring.

[2020-10-19 19:18] #73492 closed

[2020-10-19 19:19] ph commented on #73544
@ruflin Can I assign to you? This is somewhat related to the permissions/user/apikey discussion that you are driving?

[2020-10-19 19:23] ph commented on #74353
@skh still valid?

[2020-10-19 19:25] ph commented on #74369
@hbharding Any solutions for this?

[2020-10-19 19:27] ph commented on #74602
@jfsiii @neptunian @skh I believe this is fixed, can't find the PR.

[2020-10-19 19:30] ph commented on #66616
closing this as a dupe of https://github.com/elastic/kibana/issues/74647

[2020-10-19 19:30] #66616 closed

[2020-10-19 19:32] #74665 closed

[2020-10-19 19:32] ph commented on #74665
fixed

[2020-10-19 19:33] ph commented on #74712
Fix by integration centric view.

[2020-10-19 19:34] ph commented on #74947
@mukeshelastic This could be part of observability goal in 7.11

[2020-10-19 19:37] ph commented on #75153
@nnamdifrankie Can you create an issue for index problem
    The source index has to exist before the transform is created and started. For Datastream indices the indices are created when document and added to the index.

And close this one?

[2020-10-19 19:37] YulNaumenko opened #81052 "Migrate Alerting plugins (including Task Manager and Event Log) to TS project references"
## Summary

Now that the Kibana build system supports using TypeScript project references (#46773), the `infra` plugin must be migrated to participate. This is part of the overall effort tracked at #80508.

Plugins to migrate:
  - [ ] alerts
 - [ ] actions
 - [x] event_log
- [x] task_manager
 - [ ] triggers_actions_ui
- [ ] stack_alerts

## Blockers

Plugin dependencies blocking full migration:
`t

[2020-10-19 19:37] elasticmachine commented on #81052
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-19 19:40] ph commented on #75810
Going to mark this as bug.

[2020-10-19 19:41] ph commented on #76136
7.10 is fine, @neptunian or @nchaulet do both behavior are fixed?

[2020-10-19 19:43] ph commented on #76500
Closing this issue  in favor of https://github.com/elastic/kibana/issues/80841

[2020-10-19 19:43] #76500 closed

[2020-10-19 19:46] ph commented on #76489
Duplicate of https://github.com/elastic/kibana/issues/74647

[2020-10-19 19:46] #76489 closed

[2020-10-19 19:48] kobelb commented on #73849
@restrry I think your suggestion is the "least bad" option that we have, unfortunately... I'll take it :)

[2020-10-19 19:48] mostlyjason commented on #72535
As it currently is, the overview page seems to act mainly as a placeholder for functionality we never fully designed. Its distracting as the landing page because when users land there, it introduces a lot of complex terminology and the actions to take are unclear. I'd say if/when we have a better idea of use cases and requirements, we can add an overview page in the future.

For now, it might be b

[2020-10-19 19:50] mostlyjason commented on #72986
Yes we are planning a data tiers feature that will allow users to set retention and other settings. @mukeshelastic is helping to lead that

[2020-10-19 19:57] elasticmachine commented on #80967
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-10-19 19:57] #80946 closed

[2020-10-19 19:58] nchaulet commented on #76136
Yes both are fixed in 7.10

[2020-10-19 19:59] myasonik opened #81058 "(Accessibility) Remove instance of deprecated EuiKeyboardAccessible"
[EuiKeyboardAccessible was deprecated](https://github.com/elastic/eui/pull/4135) because it was abused more often than it was used successfully so we need to remove it from Kibana before December 2020.

It seems in Graph it's used as a workaround for a different EUI bug: https://github.com/elastic/kibana/blob/master/x-pack/plugins/graph/public/components/field_manager/field_editor.tsx#L208-L211

T

[2020-10-19 19:59] elasticmachine commented on #81058
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 20:01] nnamdifrankie commented on #75153
@ph  I will probably have to create in ML issues board and link this one.

[2020-10-19 20:05] myasonik opened #81062 "(Accessibility) Remove mention of deprecated EuiKeyboardAccessible"
[EuiKeyboardAccessible was deprecated](https://github.com/elastic/eui/pull/4135) because it was abused more often than it was used successfully so we need to remove it from Kibana before December 2020.

It doesn't seem like it's actually used but it is mentioned here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/public/resolver/view/process_event_dot.tsx#L273-L276

[2020-10-19 20:10] bhavyarm commented on #80929
Thanks @dmlemeshko. I assigned it to myself.

[2020-10-19 20:13] bhavyarm opened #81063 "Aliases and their description is missing from Kibana docs"
ES lets user define aliases for indexes and fields:

https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html

But Kibana is missing docs to explain how and where to access them. Plus if you update index mappings for field aliases - we need to refresh the index pattern which also doesn't seem to have been explained on index pattern documents.

This ticket came out of th

[2020-10-19 20:13] elasticmachine commented on #81063
Pinging @elastic/kibana-docs (Team:Docs)

[2020-10-19 20:18] myasonik opened #81064 "(Accessibility) Remove instances of deprecated EuiKeyboardAccessible"
[EuiKeyboardAccessible was deprecated](https://github.com/elastic/eui/pull/4135) because it was abused more often than it was used successfully so we need to remove it from Kibana before December 2020.

It's used 3 times throughout monitoring each presenting different issues:

1. https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/components/chart/horizontal_legend.js#L7

[2020-10-19 20:18] elasticmachine commented on #81064
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-19 20:54] LeeDr opened #81066 "Kibana truncates unsigned long numbers"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** Not really a bug, but something people might not expect.  If they search "unsigned long" or "unsigned_long" they can find this explanation.

**Steps to reproduce:**
1. H

[2020-10-19 20:54] elasticmachine commented on #81066
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-19 20:57] LeeDr commented on #81066
Also, can't sort on that column type in Discover.

[2020-10-19 21:01] LeeDr commented on #81066
Also can't visualize in Lens.  Discover gives me the option, but when I click it, I'm taken to an empty Lens visualization.  In fact, Lens doesn't show the unsigned long field "my_counter" in the field list.  I'll file a separate issue on that.
![image](https://user-images.githubusercontent.com/13542669/96510972-ffd16380-1223-11eb-8598-75a7b17228b3.png)

[2020-10-19 21:02] dhurley14 commented on #79943
Access to the Detections feature in the security solution is blocked if a user is using ephemeralEncryptionKeys https://github.com/elastic/kibana/blob/42a1744af61a4b0ca204ec964910d3c528ba8505/x-pack/plugins/security_solution/server/lib/detection_engine/routes/privileges/read_privileges_route.ts#L43 so the security solution should be fine to remove it outside of any issues that the Kibana Alerting

[2020-10-19 21:05] timroes commented on #81066
Duplicate of #40183

Added the term unsigned_integer to that issue too, so it will be findable.

[2020-10-19 21:05] #81066 closed

[2020-10-19 21:09] myasonik commented on #80207
Duplicate of https://github.com/elastic/kibana/issues/11842 (All Canvas usage is because Elastic Charts uses Canvas)

[2020-10-19 21:09] #80207 closed

[2020-10-19 21:09] boutcher opened #81068 "Prevent drilldown dashboards from being accessed outside of a drilldown"
I'll express the need in a problem statement:

I have one dashboard, which shows a list of US states in a table viz. I have then created a drilldown dashboard off that visualization, to show detailed information for a selected US state.   This drilldown visualization shows graphs over time showing many different data points, but only for that state. (Filter provided during the drilldown step)

So

[2020-10-19 21:13] elasticmachine commented on #81047
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-10-19 21:17] timroes commented on #81022
@bhavyarm thanks for logging this. Just for clarification: the alias field was made the primary time field of the index pattern you used for visualization? (Since auto is only supported on the primary time field.)

[2020-10-19 21:21] elasticmachine commented on #18044
Pinging @elastic/eui-design (EUI)

[2020-10-19 21:28] ryankeairns commented on #69423
Adding gif and link to prototype

![copyToDashboard](https://user-images.githubusercontent.com/446285/96513588-efbb8300-1227-11eb-8ca2-9e7cbcc7ebfe.gif)

#### Figma
(tip: click on the DBV2 link below the blue button to jump ahead in the prototype)
https://www.figma.com/proto/EwodWYRUIjbNvYoi9G4Hnh/Dashboard?node-id=1094%3A1348&viewport=806%2C221%2C0.07567259669303894&scaling=min-zoom

[2020-10-19 21:38] kibanamachine opened #81072 "Failing test: Jest Integration Tests.src/core/server/core_app/integration_tests - default route provider consumes valid values"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9024/)

[2020-10-19 21:38] elasticmachine commented on #81072
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-19 21:45] LeeDr commented on #40183
I'm also finding that I can't sort on this field in Discover.
my_int shows sorting buttons;
![image](https://user-images.githubusercontent.com/13542669/96512103-9d796280-1225-11eb-977e-1e7051ce7d5d.png)

But the unsigned long doesn't;
![image](https://user-images.githubusercontent.com/13542669/96512151-ad914200-1225-11eb-8817-70ac84402803.png)

The field doesn't appear in the auto-complete field l

[2020-10-19 21:48] LeeDr opened #81075 "Map new Elasticsearch unsigned long to a number in Kibana"
**Describe the feature:** Elasticsearch has added 64 bit unsigned long data type.  It isn't currently mapped to a number type in Kibana but should be.

https://github.com/elastic/kibana/issues/40183

**Describe a specific use case for the feature:**

/cc @timroes

Otherwise the field is not usable.

I'm also finding that I can't sort on this field in Discover.
my_int shows sorting buttons;
![image

[2020-10-19 21:48] elasticmachine commented on #81075
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-19 21:52] wylieconlon commented on #76828
This plan needs to be amended to handle a few cases that have come up in the context of the [cumulative sum](https://github.com/elastic/kibana/issues/61776) function. The cases are:

1. We don't always want users to be aware of references, for example we could build a UI that is based only on a field selector, where the user doesn't need to know that the function changes from "Count of records" to

[2020-10-19 21:54] jfsiii commented on #70586
@ph, @jonathan-buttner knows best what this is about but we are able to identify an ES error and include the reason in the HTTP response. See https://github.com/elastic/kibana/pull/76865

[2020-10-19 22:11] lukeelmers commented on #76811
We intend to dive further into this, but there are not currently plans to take this on in the short-term (7.11).

If this is something that is blocking you on a project that needs to happen in a 7.11 timeframe, please let us know -- otherwise we will follow up as soon as we have more concrete info on what to expect.

[2020-10-19 22:20] KrishnaChaitanya-Gopaluni commented on #17542
From `Stack Management > Saved Objects` I've replaced index id.  It worked.

[2020-10-19 22:45] tsullivan opened #81079 "[Reporting CSV] Show Runtime Fields in CSV Export"
**Goal**: CSV Export will have the same state of support for runtime fields that Discover supports, in every release.

The Discover effort is a phased approach which starts in 7.11 and planned to last to 7.12. To meet the stated goal, this issue must have the same priority or higher as the Discover App effort.

## Terminology

Refer to "Show runtime field values in Discover" (https://github.com/el

[2020-10-19 22:52] rylnd commented on #65602
Between backend ML changes and https://github.com/elastic/kibana/pull/74582, this is fixed as of 7.9.1.

[2020-10-19 22:52] #65602 closed

[2020-10-19 23:02] justinkambic opened #81081 "[Observability] Overview page API responses for UX do not correspond to expected interface"
**Kibana version:**

master

**Elasticsearch version:**

master

**Server OS version:**

macOS

**Browser version:**

Recent chrome

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The Observability overview sections use types that annotate the expected shape of API responses. The UX dashboard has an ext

[2020-10-19 23:02] elasticmachine commented on #81081
Pinging @elastic/uptime (Team:uptime)

[2020-10-19 23:09] kmartastic opened #81083 "[Maps] Filter shape stops showing feedback when data refreshes."
With data refreshing in the view; the manually draw shape, bounds, distance-based filter will disappear while being drawn. The drawn shape will still complete -- there is simply no feedback until completion.

Tested from Main
Browser: Safari 14.0

![draw_filter2](https://user-images.githubusercontent.com/65553677/96521079-48d5e780-1225-11eb-95d7-9895aedb17d3.gif)

[2020-10-19 23:09] elasticmachine commented on #81083
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-19 23:27] kibanamachine opened #81084 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/index_detail·js - Monitoring app Elasticsearch index detail Deleted Index "before all" hook for "should have an index summary with NA for deleted index""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8930/)

[2020-10-19 23:27] elasticmachine commented on #81084
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-19 23:28] kmartastic opened #81085 "The top-level Map page is called "Kibana""
The top-level Map page is called "Kibana".
It should be called Maps, similar to Dashboards, Canvas, or Visualize.

![image](https://user-images.githubusercontent.com/65553677/96522189-b8e56d00-1227-11eb-9f61-15cfa060ac97.png)

![image](https://user-images.githubusercontent.com/65553677/96522212-c3a00200-1227-11eb-855b-3b2d181a2060.png)

![image](https://user-images.githubusercontent.com/65553677/9

[2020-10-19 23:28] elasticmachine commented on #81085
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-19 23:33] tsullivan commented on #61741
A few questions about the UI:
- What `Type`s are available in the drop down? Are the types showing anywhere in the table?
- What does the `View` button do?
- How do you extend the expiration?
- Does the search box work on every column, or just the "Request Name" column?
- Does checking the checkbox next to "Request Name" show a delete button? Or something more?

[2020-10-19 23:42] tsullivan commented on #78726
Hi, users today use the custom logo option. Removing the branding / border by default seems like a non-backwards compatible change. Usually we step through these things by enabling a non-default option to remove it, and in the next major make removal the default option.

If the option to remove the logo is set, but a custom logo is present, we should present the custom logo.

How does that sound?

[2020-10-19 23:49] #80633 closed

[2020-10-20 00:08] ogupte opened #81091 "[APM] Fix service maps ML link remove zoom param"
This was fixed in https://github.com/elastic/kibana/pull/77841 but was overwritten in https://github.com/elastic/kibana/pull/78209. The `zoom` param should not be included in the href.

[2020-10-20 00:08] elasticmachine commented on #81091
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 00:11] nchaulet commented on #62440
It has been fixed

[2020-10-20 00:11] #62440 closed

[2020-10-20 00:26] matschaffer commented on #18322
Also some code in the wild of folks working around the current state of CSV reporting:

- https://github.com/fabiopipitone/elasticsearch-tocsv - builds a CSV straight from elasticsearch data

- https://github.com/Safecast/ingest/blob/master/db/generate_reports.rb - chunks a kibana CSV report URL into monthly time slices

[2020-10-20 00:49] legrego commented on #61741
@thomheymann and I were discussing a related topic today: managing your own API Keys. While it's an administrative function, it's not _really_ a "Stack Management" function. Managing your own background sessions almost feels like it belongs as part of the "Account Management" screen.

The Account Management screen isn't currently pluggable, but we can change that if you agree that it makes sense t

[2020-10-20 01:06] vikasjiitk commented on #5060
+1

[2020-10-20 02:05] #79477 closed

[2020-10-20 02:24] kibanamachine opened #81104 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail·js - Monitoring app Elasticsearch node detail Advanced Active Nodes "before all" hook for "should show node summary of master node with 20 indices and 38 shards""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/90/)

[2020-10-20 02:24] elasticmachine commented on #81104
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-20 02:39] kibanamachine commented on #81072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9030/)

[2020-10-20 05:56] #80485 closed

[2020-10-20 06:01] matschaffer opened #81108 "Lens editor skipping pinned filter when editing"
**Kibana version:** 7.8

**Elasticsearch version:** 7.8

**Server OS version:** cloud.elastic.co

**Describe the bug:**

I expected lens to honor a pinned filter when editing, but doesn't seem like it is.

**Steps to reproduce:**
1. Add a pinned filter
2. Make a lens viz that should get impacted by that filter
3. Save it to a dashboard
4. Note that the display between the dashboard and viz editor

[2020-10-20 06:31] elasticmachine commented on #81068
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-20 06:31] elasticmachine commented on #80986
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 06:33] elasticmachine commented on #80932
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-20 06:34] elasticmachine commented on #80931
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-20 06:38] elasticmachine commented on #80913
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 06:40] restrry commented on #80913
This is a question that I think is better suited to the Kibana discuss forum or contacting our support team. We reserve Github for bugs and feature requests: https://discuss.elastic.co/c/observability/apm/58
Similar topics:
https://discuss.elastic.co/t/unable-to-start-apm-server/192570/2
https://discuss.elastic.co/t/exiting-error-loading-config-file-config-file-etc-apm-server-apm-server-yml-must-b

[2020-10-20 06:40] #80913 closed

[2020-10-20 06:43] #80732 closed

[2020-10-20 06:44] elasticmachine commented on #80796
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-10-20 06:51] restrry commented on #80876
Right, we are sunsetting the legacy plugin system and going to remove it in v7.10 completely.
If your plugin uses any legacy plugin API, it's likely to be broken.
You have to migrate your plugin to the Kibana Platform. There is the migration guide in the Kibana repo https://github.com/elastic/kibana/blob/master/src/core/MIGRATION.md
More docs will be available for v7.10

[2020-10-20 06:51] #80876 closed

[2020-10-20 07:13] willemdh opened #81109 "[Security Solution][Cases] Allow us to paste screenshots / images from clipboard"
An image sometimes show a lot more info then a list of events. Please allow us to paste screenshots and other images in Elastic cases. See https://discuss.elastic.co/t/adding-screenshots-to-cases/251556

[2020-10-20 07:20] ruflin opened #81110 "[Fleet] Proposal: Store installed packages in cluster"
When the package manager was created, it was created with the idea that the registry and packages are always available. The current implementation uses a local in-memory cache for package contents. Whenever a package is missing from this cache it is re-fetched from the registry. Over the last 2 releases, quite a few issues have shown up where it became a problem that packages are only available fr

[2020-10-20 07:20] elasticmachine commented on #81110
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-20 07:44] kibanamachine commented on #77279
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9035/)

[2020-10-20 08:02] elasticmachine commented on #80874
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-20 08:08] elasticmachine commented on #80888
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-10-20 08:13] elasticmachine commented on #80647
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 08:20] kibanamachine opened #81113 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/nodes·js - Monitoring app Elasticsearch nodes listing with only online nodes "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8939/)

[2020-10-20 08:20] kibanamachine opened #81114 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/open_close_signals·ts - detection engine api security and spaces enabled open_close_signals validation checks tests with auditbeat data should be able to get a count of 10 closed signals when closing 10"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8939/)

[2020-10-20 08:20] elasticmachine commented on #81113
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-20 08:20] elasticmachine commented on #81114
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-20 08:21] elasticmachine commented on #80667
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-20 08:22] elasticmachine commented on #80747
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 08:28] elasticmachine commented on #80795
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-20 08:40] Bamieh commented on #81017
Thanks for creating the issue!

[2020-10-20 08:58] #80874 closed

[2020-10-20 09:05] kibanamachine opened #81119 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/basic/tests/open_close_signals·ts - detection engine api security and spaces enabled open_close_signals tests with auditbeat data should be able to execute and get 10 signals"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9036/)

[2020-10-20 09:05] elasticmachine commented on #81119
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-20 09:07] formgeist opened #81120 "[APM] Service overview: Research Dependencies table implementation"
# Summary

Related design issue https://github.com/elastic/apm/issues/300

The service overview introduces a new view for the selected service that encompasses a lot of the service data from existing views like metrics, transactions, and errors. The primary goal of the view is to aid in troubleshooting a service from a birds eye view rather than immediately diving into the Transactions, as that's

[2020-10-20 09:07] elasticmachine commented on #81120
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 09:09] ManuelKugelmann commented on #61205
Nothing yet?

[2020-10-20 09:10] ManuelKugelmann commented on #18331
Any idea how long it will probably take until this PR arrives in elastic cloud ?

[2020-10-20 09:14] drewpost commented on #80752
@katrin-freihofner and @formgeist - Just making sure you've seen this in the context of Uptime and User Experience.

[2020-10-20 09:15] drewpost commented on #80173
@katrin-freihofner re downloading image. I'm not sure that's the behaviour we'd like. If I can still right click, save image (ie use the default browser behaviour) then I'm happy. I can see a lot of accidental clicks and downloads as that isn't what I'd expexct to happen.

[2020-10-20 09:25] bwoebi opened #81122 "kibana leaks log file descriptors"
**Kibana version:** 7.9.2

**Server OS version:** Ubuntu 16.04

**Original install method:** apt

**Describe the bug:**

Log rotation only deletes the files, but leaks the file descriptors. Disk space ends up being only released when we restart kibana (which we don't want to have to do repeatedly).

`lsof -p $KIBANA_PID` returns (extract):
[code]
One of both file descriptors on the active log file

[2020-10-20 09:29] stratoula commented on #38818
Closing this as I can't replicate it on 7.10

[2020-10-20 09:29] #38818 closed

[2020-10-20 10:16] stratoula commented on #30679
I can't replicate it on 7.10 so I am closing this.
<img width="1791" alt="Screenshot 2020-10-20 at 1 15 50 PM" src="https://user-images.githubusercontent.com/17003240/96573177-6e6ef980-12d6-11eb-86d4-adae9487b607.png">

[2020-10-20 10:16] #30679 closed

[2020-10-20 10:19] #74168 closed

[2020-10-20 10:31] stratoula commented on #12413
I can't replicate it on 7.10, both legend bullet and cells are highlighted so I am closing it

<img width="1156" alt="Screenshot 2020-10-20 at 1 31 00 PM" src="https://user-images.githubusercontent.com/17003240/96574763-88114080-12d8-11eb-893e-e2781711b51d.png">

[2020-10-20 10:31] #12413 closed

[2020-10-20 10:39] kibanamachine commented on #81072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9038/)

[2020-10-20 10:40] MadameSheema commented on #80972
@XavierM can you please help to prioritize this for feature releases? Thanks 😊

[2020-10-20 10:43] muskangulati-qasource commented on #80309
Hi @andrew-goldstein,

We tested this on 7.9.3 BC1 build and found that issue is occurring on this build.

**Observation**: Zoom-in Zoom-out widget is overlaid on the Timeline fly-out button after clicking on full-screen icon under "analyze event".

**Screenshot**:
![zoominout+timeline](https://user-images.githubusercontent.com/60252716/96576055-36c07b80-12ef-11eb-82ee-ebf23b3ed0d2.png)

Hence, **

[2020-10-20 10:46] elasticmachine commented on #81109
Pinging @elastic/siem (Team:SIEM)

[2020-10-20 10:47] MadameSheema commented on #80309
Closing the ticket since it is fixed on 7.10 and is not going to be fixed on 7.9.3

[2020-10-20 10:47] #80309 closed

[2020-10-20 10:47] elasticmachine commented on #81122
Pinging @elastic/kibana-operations (Team:Operations)

[2020-10-20 10:50] MadameSheema opened #81129 "[Security Solution] Cross Icon Postion is overlaid on doing text search in 'Timeline Template' Column for Create Rule"
Original Reporter: @deepikakeshav-qasource

**Build Details: 7.9.1 BC2**
Elastic Cloud Staging : 7.9.1 BC2

**Browser Details**
Firefox version: 80.0
Chrome Version: 85.0.4183.83

**Preconditions**
1. Elasticsearch and kibana should be up and running.
2. Audit beat Data Shipper should be installed and running.

**Steps to Reproduce**
1. Navigate to Detection Tab of Security.
2. Click on "Manage de

[2020-10-20 10:55] arisonl opened #81130 "Kibana usage information"
There is a large number of ERs regarding offering usage data within Kibana, referring to saved objects, spaces and users. Example requests include:

- Most and least used dashboards, visualisations and solutions features
- Most and currently active users, active users per day or within a time window
- Number of visualisations and dashboards per Kibana space
- Relevant dashboards to visualise this

[2020-10-20 10:57] sqren opened #81132 "[Discover] Excessive number of DOM elements leading to poor performance"
Kibana: 7.8.0

Discover sometimes feels quite sluggish when browsing high volume indices. Not necessarily because of the time it takes to fetch the data, but because of the client side rendering. This leads to the inability to interact with the page for several seconds at a time.

**An unusually high number of DOM elements**
Lighthouse and others recommend a maximum of [1500 DOM elements per page]

[2020-10-20 10:57] elasticmachine commented on #81132
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-20 10:58] arisonl commented on #17939
@kobelb @tbragin I was going through the audit logging ERs as we merged the new Kibana audit logging capability and it became evident that an issue around usage is required: https://github.com/elastic/kibana/issues/81130 I will update the corresponding ERs to point to this one.

[2020-10-20 11:04] legrego opened #81133 "Audit Logging: use the original url provided by core"
Now that https://github.com/elastic/kibana/pull/80810 is merged, we should update our audit logging to use the `KibanaRequest.rewrittenUrl` property, instead of reconstructing this manually within the `audit_events`

_Originally posted by @jportner in https://github.com/elastic/kibana/pull/74640#discussion_r504193930_

[2020-10-20 11:04] elasticmachine commented on #81133
Pinging @elastic/kibana-security (Team:Security)

[2020-10-20 11:04] MadameSheema opened #81134 "[Security Solution] [ML] Integration UI allows user to install/start jobs if no ML nodes are configured"
**Originally Reported by:** @spong

The ML Integration UI does not currently take into consideration whether there are any active `ml_nodes` on the cluster before installing/starting jobs. This does not appear to result in any issues with regards to creating jobs, and attempting to start a job simply fails with the UI leaving the Job State toggle in the off position. With the implementation of htt

[2020-10-20 11:07] kertal commented on #81132
@sqren yes, I do agree that there's room for improvement, so e.g. currently we're implementing the usage of EuiDataGrid, which is currently learning how to virtualize: https://github.com/elastic/kibana/pull/67259

Another potential improvement could be virtualizing the side bar field selector, because all fields are rendered, so if you've got lots of them, there's a lots of rendering. Where did yo

[2020-10-20 11:09] patrykkopycinski commented on #80972
@MadameSheema I believe it's fixed in 7.10 and we're not going to fix that in `7.9.3`

[2020-10-20 11:19] formgeist opened #81135 "[APM] Service overview [META]"
# Summary

Related design issue https://github.com/elastic/apm/issues/300

The service overview introduces a new view for the selected service that encompasses a lot of the service data from existing views like metrics, transactions, and errors. The primary goal of the view is to aid in troubleshooting a given service from a birds-eye view rather than immediately diving into the Transactions, as t

[2020-10-20 11:19] elasticmachine commented on #81135
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 11:31] #68020 closed

[2020-10-20 11:46] #59406 closed

[2020-10-20 11:51] #78589 closed

[2020-10-20 11:54] elasticmachine commented on #81084
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 11:57] elasticmachine commented on #81104
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 11:58] andrewvc commented on #78706
Closing in favor of https://github.com/elastic/kibana/issues/80442

[2020-10-20 11:58] #78706 closed

[2020-10-20 11:58] #81075 closed

[2020-10-20 12:08] githubsanket opened #81141 "Can i use Angularjs to develop plugin for Kibana 7.9.1 New Platform"
Hello,

I am working on kibana plugin. The existing plugin is working on kibana version 6.8.6. And now i am trying build plugin for version 7.9.1.
The existing plugin is developed using angularjs 1.6. Can i use angluarjs to develop plugin for version 7.9.1 or i need to move on react. Please guide me to develop or update my existing plugin code for kibana version 7.9.1

[2020-10-20 12:09] MadameSheema commented on #80972
@manishgupta-qasource as @deepikakeshav-qasource is on PTO, can you please confirm if this is fixed on 7.10BC2 and close the ticket if so? Lots of thanks 😊

[2020-10-20 12:12] elasticmachine commented on #81113
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 12:12] flash1293 commented on #61776
Removing assignment as the rest of this issue is blocked by #76828 for now.

[2020-10-20 12:14] elasticmachine commented on #81119
Pinging @elastic/siem (Team:SIEM)

[2020-10-20 12:14] elasticmachine commented on #81072
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-20 12:15] sqren commented on #81132
Yes, I think the sidebar contributed to the problem. It was on the telemetry cluster (I'll send you a DM with the direct link) where the mapping is huge. So lots of fields there. Making that virtual would have a big impact, I think

Awesome to hear this is something you are already looking into!

[2020-10-20 12:19] mistic commented on #81072
This test has failed 4 times over the last 24h and it is looking flaky. I'm skipping it for now.

master/8.0: bbec35f

[2020-10-20 12:21] MadameSheema commented on #81119
@spong @peluja1012 can you please help to have this fixed? Thanks 😊

[2020-10-20 12:23] MadameSheema opened #81145 "[Security Solution] Restoring event.module column in External Alerts view causes endgame icons to disappear until page is refreshsed"
**Originally reported by:** @MikePaquette

**Version**: 7.6.0 BC 4

**App**: SIEM app

**System**: https://siem-dev-kibana.app.elstc.co/s/darkness-on-the-edge-of-siem/app/siem#

**Space**: Darkness on the Edge of SIEM

**Issue**:  The endgame icons (hyperlinked) in the `event.module` column when `event.module:endgame` disappear if the column is removed then re-added (via the reset fields button).

[2020-10-20 12:28] MadameSheema opened #81146 "[Security Solution] Empty Non-Wildcard Indexes Cause the FTUE to be Displayed"
**Originally reported by:**  @andrew-goldstein

## [SIEM] Empty Non-Wildcard Indexes Cause the FTUE to be Displayed

Note: This issue was discovered while desk testing `7.6` `BC 5`, but it's written against `7.5.2` (the current public release), and it's likely applicable to every release of the SIEM app to date.

1. Spin up a new `7.5.2` deployment in Elastic Cloud

2. Navigate to the SIEM app

Ex

[2020-10-20 12:29] formgeist opened #81147 "Meta issue: [APM] Service overview: Introduce time-series comparison"
# Summary

Related design issue https://github.com/elastic/apm/issues/300

The service overview introduces a new view for the selected service that encompasses a lot of the service data from existing views like metrics, transactions, and errors. The primary goal of the view is to aid in troubleshooting a service from a birds eye view rather than immediately diving into the Transactions, as that's

[2020-10-20 12:29] elasticmachine commented on #81147
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 12:32] #80475 closed

[2020-10-20 12:35] LucaWintergerst opened #81150 "[ML] Data Frame Analytics results UI - no warning if no index pattern exists"
**Kibana version:** 7.9.2

**Elasticsearch version:** 7.9.2

**Server OS version:** Elastic Cloud

**Browser version:** Version 85.0.4183.121 (Official Build) (64-bit)

**Browser OS version:** MacOs Catalina 10.15.7 (19H2)

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

Viewing the results of an outlier detection job shows an empty view and

[2020-10-20 12:49] MadameSheema opened #81153 "[Security Solution] Value list not properly updated when the file already exists"
**Info:**
- Found during testing on 7.9 branch
- Commit: 79a311a6c9c1ada665dd4431f1157be26a73016c

**Preconditions:**
- To have a value list already uploaded.

**Steps to reproduce:**
1. Go to Security > Detections
2. Click on Manage detection rules
3. Click on Upload value lists
4. Upload a file with the same name as the previous one uploaded and a different content

**Current behaviour:**
- The

[2020-10-20 12:54] sqren commented on #80747
@vigneshshanmugam or @jahtalab is this a known issue with the RUM agent when source code is transpiled? Or can the UI do something to fix this?

[2020-10-20 13:03] elasticmachine commented on #81150
Pinging @elastic/ml-ui (:ml)

[2020-10-20 13:13] peteharverson commented on #81150
On latest master (7.10.0), this behavior still occurs if an index pattern exists for neither the job results index or the source index.

If just the index pattern for the results index is missing, you do see a warning:

![image](https://user-images.githubusercontent.com/7405507/96590864-6fa42480-12de-11eb-9224-02390e646373.png)

[2020-10-20 13:18] sqren opened #81157 "[APM] Make `uiFilters` optional"
Blocked: UI Filters might [be removed entirely](https://github.com/elastic/kibana/issues/72778). Wait until that has been decided

Currently `uiFilters` are required in the APM api but there's no reason for this. Having them optional make it easier to call the API's without supplying an empty uiFilter.

I've already made `uiFilters` optional in new APIs:
https://github.com/elastic/kibana/blob/6db1

[2020-10-20 13:18] elasticmachine commented on #81157
Pinging @elastic/apm-ui (Team:apm)

[2020-10-20 13:29] kmfreder1 commented on #5060
Yes please....It would be great to see some movement on this!

[2020-10-20 13:32] EricDavisX commented on #81159
Nicolas notes it is fixed by:
[Fleet] Fix creation of POLICY_CHANGE action during 7.9 => 7.10 migration
https://github.com/elastic/kibana/pull/81041

[2020-10-20 13:33] chrisronline commented on #80647
Thanks for the report @tuckson !

Do you happen to know if there are any errors in any of these places during this testing:

1) Elasticsearch server log
2) Kibana server log
3) Browser developer tools

[2020-10-20 13:38] sebelga opened #81160 "[Mappings editor] Regression on "scaled_float" and "date_range" type"
We have a regression in the "scaled_float" and "date_range" field type. Both have a logic that looks for the field type expecting a "string" but now the type is always an array of `ComboBoxOption`.

This regression probably came when I fixed the "serializer being called on each field value change" issue (https://github.com/elastic/kibana/pull/75166)

The issue is that both types have an extra form

[2020-10-20 13:38] manishgupta-qasource commented on #80972
We have validated this ticket on 7.10.0 BC2 latest build and found that issue is **Fixed** .

**Refer screenshot**:
![1](https://user-images.githubusercontent.com/60252716/96587567-1b11a100-1300-11eb-9037-f1946922d75f.png)

Hence, if it's not going to be fixed for 7.9.3, we can close this issue.

[2020-10-20 13:38] elasticmachine commented on #81160
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-20 13:42] #80972 closed

[2020-10-20 13:43] #75153 closed

[2020-10-20 13:43] mdefazio commented on #77623
I agree about organizing by solution.  And with https://github.com/elastic/kibana/pull/73665 we should be able to start heading in the right direction for this.  I think there should be 2 approaches as to how this is organized though: 1) when I'm in the alerting management view, and 2) when I'm in a solution.
If I'm in management, we can perhaps show (how many alerts are able to be created from th

[2020-10-20 13:44] #80373 closed

[2020-10-20 13:51] Oofles opened #81165 "Choose data source for visualization doesn't match on "-""
**Kibana version: 7.9.1 (also seen in 7.8)

**Elasticsearch version: 7.9.1

**Server OS version: Replicating on demo.elastic.co

**Browser version: Chrome v. 86 (64-bit)

**Browser OS version: Windows 10

**Original install method (e.g. download page, yum, from source, etc.): Replicating on demo.elastic.co

**Describe the bug:
- When creating a new visualization and selecting the source data, the

[2020-10-20 13:54] EricDavisX commented on #80118
removing 7.10 label as I assume it is not going in at this point.

[2020-10-20 13:57] kibanamachine opened #81166 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail·js - Monitoring app Elasticsearch node detail Active Nodes "before all" hook for "should show node summary of master node with 20 indices and 38 shards""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/93/)

[2020-10-20 13:57] kibanamachine commented on #81072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/93/)

[2020-10-20 13:57] elasticmachine commented on #81166
Pinging @elastic/kibana-test-triage (failed-test)

[2020-10-20 14:03] #79859 closed

[2020-10-20 14:04] elasticmachine commented on #81108
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-20 14:04] wylieconlon commented on #81108
There's a chance that we have fixed this in future versions of Lens, but we need to confirm.

[2020-10-20 14:06] EricDavisX commented on #80841
posting quick thoughts:

requested: We have 9 download choices. Can we be opinionated and reduce this to a smaller number of recommended choices in the product?

reply:  the download link we give is to the main Elastic artifacts repo.  Changing what is exposed is a cross-team effort with Infra, Docs, and Fleet.  It would be cool to create a new site to reference (instead of the artifacts repo) and

[2020-10-20 14:13] paul-tavares commented on #80138
I'm ok with this refactoring. Personally, I find the duplication in this case cleaner and code clearer to read than to crawl all of the generic types - but that is a personal preference.

[2020-10-20 14:13] mikecote commented on #50222
@FrankHassanabad a new Elasticsearch client is available for alert types to use. It can be accessed under `services.scopedClusterClient` (https://github.com/elastic/kibana/pull/80794). I figured I'd let you know in case that helps with controlling compression and timeouts?

[2020-10-20 14:14] matschaffer commented on #81108
No worries. Feel free to close if so. We'll be upgrading to 7.9 fairly soon.

[2020-10-20 14:14] #79419 closed

[2020-10-20 14:20] #80142 closed

[2020-10-20 14:22] paul-tavares commented on #80146
Personally, I don't think I will use snapshots much going forward, but don't have an issue with the team using them.

I think the following discussions sums up allot of the feedback I have seen around snapshots (slack):

fwiw, in the past on security_solutions we had guidelines in place where if we did snap shot testing we just used "shallow" to reduce the noise and failures from people updating C

[2020-10-20 14:29] elasticmachine commented on #80932
Pinging @elastic/uptime (Team:uptime)

[2020-10-20 14:30] pmuellr commented on #80932
I believe this should be directed to the uptime alert, I don't think it's an alerting framework issue; so changing labels to reflect that.

[2020-10-20 14:47] sorantis commented on #81019
+ Historical Timeline's state (expanded/collapsed).

[2020-10-20 14:48] kibanamachine commented on #81114
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/8945/)

[2020-10-20 14:49] chrisronline opened #81176 "[Monitoring] Wrong defaults for alerts"
- Disk usage alert needs to default to 80% (current code is 90%)
- Missing monitoring data alert needs to default to looking back 15 minutes (current is 5 minutes)
- Missing monitoring data alert needs to default to a throttle period of 6h (current is 1 day)

[2020-10-20 14:49] elasticmachine commented on #81176
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-20 14:49] bhavyarm commented on #81022
@timroes yes!

[2020-10-20 14:51] myasonik commented on #80796
Closing as duplicate of https://github.com/elastic/kibana/issues/79339