[2022-03-01 17:13] alisonelizabeth commented on #123040
Fixed by https://github.com/elastic/kibana/pull/123522

[2022-03-01 17:14] pauldotpower commented on #119620
The behaviour during upgrade seems like a concern if it happens frequently. If my saved object has encrypted attributes then I would expect them to be either not migrated (and an error or warning surfaced) or the encrypted attribute is migrated as is without decryption (though I can see how this would only work in simple cases)

[2022-03-01 17:29] mikecote commented on #124807
That is the approach I'm thinking. This way we don't have to direct users to do anything in kibana.yml and we can use OR logic like the following:

`ruleType timeout from yml || global ruleType timeout from yml || ruleType timeout from rule type || default global ruleType timeout`

I do think we would have to let the yml configuration override anything specified by us (not condition 3 before condi

[2022-03-01 17:36] stephmilovic commented on #126064
Since the errors happen so fast we cannot copy the logs, and everything happens correctly... i'm going to change impact from medium to low

[2022-03-01 17:36] #126440 closed

[2022-03-01 17:46] jportner commented on #119620
In general I would agree, and that's why the consumer determines this behavior.

In this case, our only consumer is Alerting, and the Alerting rules only contain encrypted API keys. If the encrypted attribute is stripped, the rule reverts to a "Disabled" state, and we log some error messages telling the operator that they have a disabled Alerting rule. Then, the user can simply view the Alerting r

[2022-03-01 17:48] ppf2 commented on #126536
Thanks, the reason I asked for this to be documented is that I came across a situation where the Enterprise Search app in Kibana is throwing the generic connection error to Enterprise Search and it is showing the underlying error to be this WARN in the Kibana logs where it is not able to perform the access check within 300ms.

[2022-03-01 17:49] ymao1 commented on #124807
I agree with that, but I'd like to see the specification of the `ruleType timeout from rule type` stay in the rule type and not be a special case looking for security rules when reading in the alerting config. (Maybe this is what you're already suggesting?)

Currently, we are allowing rule types to specify a rule task timeout and if it is not specified on the rule type, we use the `xpack.alerting.

[2022-03-01 17:54] mikecote commented on #124807
Yeah, apologies, what you describe reflects my exact thinking strategy as well. 👍

[2022-03-01 17:56] ymao1 commented on #124807
Cool! Glad we are on the same page!

[2022-03-01 17:59] XavierM opened #126624 "[RAM] Add Logs in Rule details page"
As user, I would like to see logs related to my rules including execution, actions and query logs.  We will use the kibana event log API to access all these logs.

We will add this different element in the rule details page
1. Create two tabs for `Alerts` and `Logs`
2. Add a KQL to allow filter on the table logs
3. Need to be determined if it is feasible but we can think about adding a skeleton el

[2022-03-01 17:59] elasticmachine commented on #126624
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-01 18:13] jportner commented on #124346
I chatted with Matt just now --

Technically the Spaces List won't let you do this today but it could be changed and I think it's a great idea.

These are great, I'm only a little iffy about the "Number of spaces" column. How would we render an object that has been shared to `* All spaces`? I guess we could just put the total number of spaces in that case?

Yeah, I am in favor of simplifying this

[2022-03-01 18:18] gchaps commented on #126536
@chriscressman Can you provide a description of what these settings do?

[2022-03-01 18:22] mdefazio commented on #124346
Good point.  Thanks for bringing this up.  What if we provide this as an additional checkbox: `Include for new spaces`? This gives the option to:
1. Treat this more like a role feature like you mention rather than a UI component option (that we can more easily hide/show)
2. Gives us some more room to explain what this would do
3. Provides the ability to select _some_ and then also future spaces, o

[2022-03-01 18:30] afharo commented on #124610
@liza-mae thanks for the explanations. It looks like this bug is solved now, correct? Are we OK to close the issue?

[2022-03-01 18:31] jportner commented on #124346
I like the checkbox idea too, but (3) isn't technically feasible. In a nutshell, `*` always means all current and future spaces, we don't have a way to _exclude_ spaces from that (and we have no plans or appetite to add support for that)
So if we did go with a checkbox, we'd have to disable the individual space controls beneath it.

[2022-03-01 18:37] ymao1 opened #126626 "[Reponse Ops] Context on recovered alerts for Elasticsearch query rule type"
See https://github.com/elastic/kibana/issues/126617

[2022-03-01 18:37] elasticmachine commented on #126626
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-01 18:45] liza-mae commented on #124610
Yes we can close @afharo thanks !

[2022-03-01 18:45] #124610 closed

[2022-03-01 19:09] elasticmachine commented on #124785
Pinging @elastic/apm-ui (Team:apm)

[2022-03-01 19:16] tsullivan commented on #22261
@rbr101 if you are seeing this in 7.16.x, the issue is here: https://github.com/elastic/kibana/issues/122575

There is a fix currently under review here: https://github.com/elastic/kibana/pull/123206

[2022-03-01 19:17] elasticmachine commented on #126468
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-01 19:37] thomasneirynck opened #126631 "[Maps] Allow implementers of ITooltipProperty to return React-DOM for the tooltip-value"
**Describe the feature:**

The public API for `ITooltipProperty` should not expose `getHtmlDisplayValue`, and rather have implementers return React-dom.

So something like this instead:

`ITooltipProperty.renderDisplayValue(): ReactElement<any> | null;`

This is more safe.

Having to plugin raw-html as the base-case was less of an issue when all code was internal to Maps, and there was a guarantee

[2022-03-01 19:38] elasticmachine commented on #126631
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-01 19:44] cchaos opened #126632 "[Data Views] Listing table doesn't wrap long data view names"
**Kibana version:** `main`

**Describe the bug:**

On the management page, long names/links of data views aren't wrapping in their cell and breaking across the whole row.

**Steps to reproduce:**
1. Create a really long data view name
2. Go to `/management/kibana/dataViews`

**Expected behavior:**

It looks like it's using `EuiButtonEmpty` which behaves more like a button (single-line of text). I

[2022-03-01 19:59] ThomThomson commented on #123028
@dej611, is this problem similar to https://github.com/elastic/kibana/pull/126499? I wonder if this is a bug on the dashboard side? Especially if it affects primarily by reference visualizations, it seems to me this might be on the Visualize side?

[2022-03-01 20:00] rbr101 commented on #22261
@tssullivan

Yes I'm running 7.16.x, I can remember it worked before on version < 7.16.x.
So this was introduced again in 7.16. , for now I fixed it with an regex replace I my script.

Thanks for the update.

[2022-03-01 20:46] kibanamachine opened #126642 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/filters/create_filters·ts - apis Machine Learning filters create_filters should return 400 bad request if invalid filterId"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11687#9d37e8a9-975e-41e5-9db9-8baa5bbf4bb6)

[2022-03-01 20:51] jasonrhodes commented on #126386
Related: https://github.com/elastic/kibana/pull/103816

[2022-03-01 20:55] #106761 closed

[2022-03-01 21:34] #58796 closed

[2022-03-01 21:34] #63028 closed

[2022-03-01 21:34] #74446 closed

[2022-03-01 21:34] #76152 closed

[2022-03-01 21:34] #76188 closed

[2022-03-01 21:34] #76452 closed

[2022-03-01 21:34] #76454 closed

[2022-03-01 21:34] #80254 closed

[2022-03-01 21:34] #86533 closed

[2022-03-01 21:34] #92299 closed

[2022-03-01 21:34] #97552 closed

[2022-03-01 21:34] #97563 closed

[2022-03-01 21:34] #97564 closed

[2022-03-01 21:34] #97565 closed

[2022-03-01 21:34] #97566 closed

[2022-03-01 21:34] #97567 closed

[2022-03-01 21:34] #98410 closed

[2022-03-01 21:34] #98416 closed

[2022-03-01 21:34] #98424 closed

[2022-03-01 21:34] #98425 closed

[2022-03-01 21:34] #101997 closed

[2022-03-01 21:34] #105341 closed

[2022-03-01 21:34] #105342 closed

[2022-03-01 21:34] #105879 closed

[2022-03-01 21:34] #105909 closed

[2022-03-01 21:36] #68859 closed

[2022-03-01 21:36] #72165 closed

[2022-03-01 21:36] #98405 closed

[2022-03-01 21:36] #102006 closed

[2022-03-01 21:36] #105910 closed

[2022-03-01 21:36] #110363 closed

[2022-03-01 21:36] #110364 closed

[2022-03-01 21:36] #110365 closed

[2022-03-01 21:36] #110366 closed

[2022-03-01 21:36] #111590 closed

[2022-03-01 21:36] #112319 closed

[2022-03-01 21:36] #114512 closed

[2022-03-01 21:36] #116165 closed

[2022-03-01 21:37] mikecote commented on #119620
We've recently changed alerting migrations to fail the overall migration process to avoid permanent data loss (https://github.com/elastic/kibana/pull/105968). Not only do alerting rules store API keys but connector saved-objects also contain sensitive information in their encrypted configuration (secrets). If we were to allow migrations to continue, we would break most (if not all) of the user's c

[2022-03-01 21:38] #122439 closed

[2022-03-01 21:38] #124443 closed

[2022-03-01 21:38] #124455 closed

[2022-03-01 21:38] #124456 closed

[2022-03-01 21:41] #28186 closed

[2022-03-01 21:41] #30749 closed

[2022-03-01 21:41] #42364 closed

[2022-03-01 21:41] #42365 closed

[2022-03-01 21:41] #42366 closed

[2022-03-01 21:41] #42741 closed

[2022-03-01 21:41] #42742 closed

[2022-03-01 21:41] #42743 closed

[2022-03-01 21:41] #42744 closed

[2022-03-01 21:41] #42745 closed

[2022-03-01 21:41] #42746 closed

[2022-03-01 21:41] #46974 closed

[2022-03-01 21:41] #46975 closed

[2022-03-01 21:41] #46976 closed

[2022-03-01 21:41] #47992 closed

[2022-03-01 21:41] #51646 closed

[2022-03-01 21:41] #51647 closed

[2022-03-01 21:41] #51648 closed

[2022-03-01 21:41] #51649 closed

[2022-03-01 21:41] #51650 closed

[2022-03-01 21:41] #51653 closed

[2022-03-01 21:41] #51655 closed

[2022-03-01 21:41] #63277 closed

[2022-03-01 21:41] #63797 closed

[2022-03-01 21:41] #63799 closed

[2022-03-01 21:43] liza-mae commented on #64028
@tylersmalley we are covered, thanks.

[2022-03-01 21:43] #64028 closed

[2022-03-01 21:44] liza-mae commented on #67434
This is completed.

[2022-03-01 21:44] #67434 closed

[2022-03-01 23:03] qcorporation opened #126655 "[Security Solution] Simulate 1.5 Million Events for one session for Session View"
### Background
One of the OKRs for the AWP team is to introduce Session View into Kibana with the accompanying Endpoint changes to support Session View while still maintaining scalability and reliability. We need to take the most extreme scenario and see if Session View falls over due to the scenario.
Antidotally, there have been claims of some long-running processes containing 1M events within on

[2022-03-01 23:04] neptunian opened #126656 "[Stack Monitoring] Cleanup references to deprecated config"
- Remove reference to `monitoring.cluster_alerts.email_notifications.email_address` in settings collector (internal collection)
- Remove [settings collector](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/kibana_monitoring/collectors/index.ts#L22) that references the above.  It used to be read by the cluster alert watches in ES but those are gone now
- Remove [depreca

[2022-03-01 23:04] elasticmachine commented on #126656
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-01 23:09] elasticmachine commented on #121833
Pinging @elastic/fleet (Team:Fleet)

[2022-03-01 23:09] jen-huang commented on #121833
@kpollich Could you revisit the areas Oliver pointed out? Might we have a bug here?

[2022-03-01 23:58] gchaps commented on #126536
Thank you, @richkuz.

I'm wondering if we should include these settings in this [general Kibana settings page](https://www.elastic.co/guide/en/kibana/current/settings.html). Or create a new page for Enterprise Search settings, similar to [this APM settings page](https://www.elastic.co/guide/en/kibana/current/apm-settings-kb.html).

Any preferences?

[2022-03-02 01:07] mattkime commented on #123861
I've spent some time trying to reproduce this as well (under 8.0.1) and haven't been able to replicate the problem. @bhavyarm could you try to replicate the problem again?

[2022-03-02 01:30] yctercero commented on #126335
@XavierM Hey Xavier! I might be remembering wrong, but I thought I saw you had a PR or issue around this?

[2022-03-02 01:32] yctercero commented on #126313
@peluja1012 what would the expected behavior here be? They have ES privileges to read/write exceptions but read only in Kibana. So then in Kibana we would treat them as read only?

[2022-03-02 01:36] yctercero commented on #126332
I think export on read is ok - just no importing on read?

cc @peluja1012 @jethr0null

[2022-03-02 01:38] yctercero commented on #126331
@karanbirsingh-qasource is this present in earlier releases too? Trying to figure out how all these read only issues came about or if they've all been there for a while. Thanks so much for the testing!

[2022-03-02 01:51] richkuz commented on #126536
Good idea, @gchaps ! A new page would look more consistent and make it easier for folks to find Enterprise Search settings, especially if we link directly to the new page from other Enterprise Search docs. Could you move the `enterpriseSearch.host` setting to that new page, too, to keep them together?

[2022-03-02 02:49] alex-fedotyev commented on #126580
@formgeist - could you please create a quick mock how alert creation would look like in both of these flows, i.e. a single anomaly detection rule that will contain all three options as conditions or have separate rule types for each detector?

[2022-03-02 03:09] matschaffer commented on #124595
I tested this with https://github.com/elastic/elastic-stack-testing/pull/1143 and it passed. I suspect it should be green on the next run.

[2022-03-02 03:10] matschaffer commented on #124594
I tested this with https://github.com/elastic/elastic-stack-testing/pull/1143 and it passed. I suspect it should be green on the next run.

[2022-03-02 03:11] matschaffer commented on #124596
I tested this with https://github.com/elastic/elastic-stack-testing/pull/1143 and it passed. I suspect it should be green on the next run.

[2022-03-02 03:13] matschaffer commented on #124597
I tested this with https://github.com/elastic/elastic-stack-testing/pull/1143 and it passed. I suspect it should be green on the next run.

[2022-03-02 03:14] matschaffer commented on #124598
I tested this with https://github.com/elastic/elastic-stack-testing/pull/1143 and it passed. I suspect it should be green on the next run.

[2022-03-02 03:15] matschaffer commented on #125578
I tested all the above issues with a cluster that was set up using https://github.com/elastic/elastic-stack-testing/pull/1143 and they all passed.

I suspect this is done but I think I'll need to wait for the next nightly cycle to be sure.

[2022-03-02 03:16] matschaffer commented on #125578
I'll consider this "in review" but it's jenkins that will do the reviewing. I don't expect any further human review unless these tests continue to fail on the next cycle.

[2022-03-02 03:59] mibragimov commented on #125365
Hi @brsolomon-deloitte, Sorry it is not included in 7.17 yet

[2022-03-02 04:00] mibragimov commented on #125365
@alexwizp @cjcenizal Should we backport https://github.com/elastic/kibana/pull/119831 to 7.17?

[2022-03-02 04:16] kibanamachine opened #126658 "Failing test: Kibana CCS Tests.test/functional_ccs/apps/discover/_data_view_ccs·ts - discover app css discover integration with data view editor use ccs to create a new data view"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11717#674a970a-4c9a-4288-9298-beada44a4a20)

[2022-03-02 04:25] mibragimov commented on #125365
understood

[2022-03-02 04:37] amolnater-qasource commented on #126228
Hi @mostlyjason
Thanks for looking into this and confirming the expected behaviour.

Thanks!

[2022-03-02 05:47] ghost opened #126659 "[Security Solution] Position of Loader is not correct on 'Timelines' page"
**Describe the bug:**

Position of Loader is not correct on 'Timelines' page

**Kibana/Elasticsearch Stack version:**

[code]
**Pre-requisite:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1. Navigate to Security > Timeline
2. Enter query in the Search tab.
3. Wait for the results to show.
4. Click on any column results other than 'messag

[2022-03-02 05:47] elasticmachine commented on #126659
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-02 06:13] amolnater-qasource commented on #126428
Validated this issue under related PR athttps://github.com/elastic/kibana/pull/126431#issuecomment-1056331513
Hence marking as QA:Validated.

[2022-03-02 06:49] amolnater-qasource commented on #126310
Validated this issue as **fixed** under related PR at https://github.com/elastic/kibana/pull/126321#issuecomment-1056386886
Hence marking as QA:Validated.

[2022-03-02 07:10] muskangulati-qasource opened #126661 "[Security Solution] Host Isolation Exception entry is not showing under Security Endpoint integration"
**Description:**
Host Isolation Exception entry is not showing under Security Endpoint integration

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Integrations Tab from the left hand side navigation
2. Select Endpoint Security integration
3. Go to the Integrations policy page
4. Select the policy n

[2022-03-02 07:10] elasticmachine commented on #126661
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-02 07:10] elasticmachine commented on #126661
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-02 07:17] manishgupta-qasource commented on #126661
Reviewed & assigned to @kevinlog

[2022-03-02 07:21] elasticmachine commented on #126642
Pinging @elastic/ml-ui (:ml)

[2022-03-02 07:45] amolnater-qasource commented on #126323
Hi @joshdover
We have revalidated this issue on 8.1 BC-5 Kibana cloud environment.
- We are now able to edit Elastic APM integrations.

**Build details:**
[code]

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/156316710-1130e8ee-694a-4a7a-96a7-1b956c0e3370.mp4

Further we have observed few more PRs linked to this ticket which are not yet merged.
- https://github.com/elas

[2022-03-02 07:49] juliaElastic commented on #122892
@elastic/elastic-agent-control-plane Hey, could you let us know the answer to this question?

[2022-03-02 07:55] miltonhultgren commented on #120377
@formgeist Work is moving forward, I think I'm nearing the end.
I keep a running status in the description of my draft PR https://github.com/elastic/kibana/pull/122352

I'm doing SDH this week so I'm not sure how much progress I can make this week. I hope, very carefully, to be able to open the PR for review somewhere next week.

[2022-03-02 08:50] dasansol92 commented on #126661
@kevinlog Seems that the card is not present when there is no host isolation exception assigned to the policy. I'll work in a fix now but as the las BC is today (I think) should we push this for 8.1.1 as a patch?

[2022-03-02 09:07] afharo commented on #110638
FYI: #126238 moves the piece of logic to the `telemetry` plugin. AFAIK, it will solve the circular dependency, and we'll be able to check on `cloud`'s API from the `telemetry` plugin itself.

[2022-03-02 09:32] MadameSheema commented on #123912
@michaelolo24 as the last 8.1.0BC has been already built, please update version labels ;)

[2022-03-02 09:33] MadameSheema commented on #124306
@deepikakeshav-qasource can you please check if this is still happening on the last 8.1.0BC? Thanks! :)

[2022-03-02 09:34] MadameSheema commented on #125190
@deepikakeshav-qasource can you please check if this is still happening on the latest 8.1.0BC? Thanks :)

[2022-03-02 09:34] MadameSheema commented on #125473
@deepikakeshav-qasource can you please check if this is still happening on the latest 8.1.0BC? Thanks :)

[2022-03-02 09:35] MadameSheema commented on #125868
@marshallmain as the last 8.1.0BC has been already built, please update version labels ;)

[2022-03-02 09:38] kibanamachine opened #126664 "Failing test: Jest Tests.x-pack/plugins/cloud_security_posture/public/pages/findings - <FindingsTable /> renders the table with provided items"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11741#cc9ab421-eb8b-4c23-b449-5b55af2ec975)

[2022-03-02 09:39] kertal commented on #109110
dear @1Copenut &  @zuhairmahd , what's the current state of this? many thx!

[2022-03-02 09:51] deepikakeshav-qasource commented on #125473
Hi @MadameSheema

We have validated this issue on **8.1.0 BC5 On-Prem** and observed that issue is **still occurring**  🔴

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/156337677-0864c275-4e17-4113-8c44-2f59f9417618.png)

Thanks !!

[2022-03-02 09:53] janmonschke commented on #125473
Hey @deepikakeshav-qasource, could you share the alert's JSON here?

Has this alert been migrated to 8.x?

[2022-03-02 10:01] deepikakeshav-qasource commented on #125491
Hi @MadameSheema

We have validated this issue on **8.1.0 BC5 On-Prem** and observed that issue is **still occurring**  🔴

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/156339619-3735ce6b-333c-4229-a9da-bb2d87694dd7.png)

Thanks !!

[2022-03-02 10:08] karanverma-qasource commented on #125190
Hi @MadameSheema ,

We have validated above issue on 8.1.0 BC5  and it is still occurring. 🔴

[code]
**Screen-records**

https://user-images.githubusercontent.com/91867110/156339107-57f25e41-f473-4755-9f9d-93a518b5f5a5.mp4

Thanks !

[2022-03-02 10:14] lucasfcosta commented on #124670
Thanks @paulb-elastic, that makes a lot of sense. I agree that our other areas of focus seem much more impactful than looking deeper into the specific circumstances which caused this, especially considering it was a very unusual setup, with plenty of attributes different from a normal deployment.

Given this is not reproducible under usual conditions and that we have more impactful items on our qu

[2022-03-02 10:19] MadameSheema commented on #125480
@deepikakeshav-qasource no need to check it, the changes didn't arrive at the BC.

[2022-03-02 10:32] #122117 closed

[2022-03-02 10:36] paulb-elastic commented on #124670
Thanks @lucasfcosta, let's close this for now and re-open (or raise new) if we see it again.

[2022-03-02 10:37] prachigupta-qasource commented on #124306
Hi @MadameSheema ,

We have validated above issue on **8.1.0 BC5 on-prem build** and found that **it's still occurring**. 🔴

**Build info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/156344069-761dc682-4da1-49a7-8d9a-82d283d0842c.png)

![image](https://user-images.githubusercontent.com/97870262/156344112-942f720d-90ff-4bfa-8ae4-3cbc5316427c.png)

Thanks!

[2022-03-02 10:39] #125281 closed

[2022-03-02 10:43] kibanamachine commented on #121044
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/11745#af3baabf-e01b-4995-a6d3-b9f980c8c64f)

[2022-03-02 10:46] formgeist commented on #126580
@alex-fedotyev I've updated the issue description with the two options. I'm heavily leaning towards **Solution B** because it means the most flexibility in its use and being able to set a global rule for all anomalies that are detected.

@dgieselaar are there any limitations or challenges with either approach?

cc @sqren @chrisdistasio

[2022-03-02 10:47] formgeist commented on #120377
@miltonhultgren Thanks for the update! That sounds really great, can't wait to see the upcoming PR for this 👏

[2022-03-02 11:21] samratbhadra-qasource commented on #102498
Hi @kevinlog,
We have revalidated this issue on the latest **8.1.0-BC5** build and found that the issue is **fixed** now.
Please find below the testing details:

- Extra zeroes is not appending with the Integer valued integration name.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/156350944-a29ebf0f-d40a-4470-9692-8632ca4d1648.mp4

**Build Details:**
VERSION: 8.1.0-BC5

[2022-03-02 11:50] Evesy commented on #126464
What I've observed is that the issue appears to arise when using a filter that will return 0 results in the given time range.

I can use the below, where the `x-request-id` exists in the last hour (default search period):

[code]

If I then change the value of the field to be an ID that does not exist, I'm redirected to the blank page shown in the original issue

[2022-03-02 12:06] samratbhadra-qasource opened #126665 "[Enrollment Token]: User is unable to search enrollment token by Agent Policy name."
**Describe the bug:**
User is unable to search enrollment token by Agent Policy name.

**Build Details:**
VERSION: 8.1.0-BC5
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf
ARTIFACT: https://staging.elastic.co/8.1.0-d9cd3df6/summary-8.1.0.html

**Preconditions:**
1. Elastic 8.1.0-BC5 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Fleet tab under Security

[2022-03-02 12:06] elasticmachine commented on #126665
Pinging @elastic/fleet (Team:Fleet)

[2022-03-02 12:13] joshdover commented on #126665
I believe we only ever supported search by enrollment key name or policy_id, though I agree this would be useful. I think we can classify this as an enhancement?

[2022-03-02 12:23] dokmic commented on #55167
After some reflection and discussion on this topic with @ppisljar, we have decided not to implement this. We had the following reasoning for this.

- At the moment, we use unboxed values only for scalars (`boolean`, `number`, `string`, `null`, and `undefined`).
- Introducing this change will require changes in the AST structure as well as in the parser.
- That will cause a significant amount of wo

[2022-03-02 12:23] #55167 closed

[2022-03-02 12:24] MiriamAparicio opened #126666 "[APM] Improve A11y checks coverage"
As part of adding A11y test for APM https://github.com/elastic/kibana/issues/104692

We can improve the test coverage by adding more test, for now we are checking the pages when they are loaded.
It would be good to invoke checkA11y() again when the state has changed because a modal is open, IE, flyouts, accordions of hidden content, etc

[2022-03-02 12:24] elasticmachine commented on #126666
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-03-02 12:24] elasticmachine commented on #126666
Pinging @elastic/apm-ui (Team:apm)

[2022-03-02 12:25] #78745 closed

[2022-03-02 12:31] kevinlog commented on #126661
@dasansol92 does it show up after there is an entry present?

I'm okay with fixing in a patch release.

[2022-03-02 12:32] joshdover commented on #125919
This should be fixed by https://github.com/elastic/kibana/issues/126487. I believe the problem is that the 1.5.0 version has not yet been published to the registry and before this fix we weren't using the bundled version if it was newer.

[2022-03-02 12:38] dasansol92 commented on #126661
@kevinlog Yes, it does when there is an entry assigned to that policy, so the counter is not 0.

[2022-03-02 12:49] felixbarny opened #126667 "[APM] Support span links"
# Summary

We have several use cases where Span links could come in handy. To understand what span links are, let's look at the use-cases we want to solve:

- When a single transaction represents the batch processing of several messages, span links help to link back to the traces that have produced the messages
- Another use case related to messaging is whenever there is a span that represents mes

[2022-03-02 12:49] elasticmachine commented on #126667
Pinging @elastic/apm-ui (Team:apm)

[2022-03-02 12:58] deepikakeshav-qasource opened #126669 "[Security Solution] Error message does not completely readable on resolution change."
**Describe the bug**
Error message does not completely readable on resolution change.

**Build Details:**
[code]

**Preconditions**
1. Exception should be created
2. Two different user should be exist

**Steps to Reproduce**
1. Login with first user and open in one browser
2. Now open the exception in edit mode
3. Login with second user opened in another browser go the same exception and edit it a

[2022-03-02 12:58] #120348 closed

[2022-03-02 13:04] jloleysens opened #126670 "[Reoporting] Remove `hide-for-sharing` CSS utility"
Currently, reporting injects a CSS utility that applies "display: none" to targeted elements. Given that we now have a `screenshotMode` plugin we should be able to drive this entirely from JS, with individual plugins managing which elements are hidden.

## Additional notes

* this is currently only used by `preserve-layout` screenshots.
* related PR https://github.com/elastic/kibana/pull/126475

[2022-03-02 13:04] elasticmachine commented on #126670
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-02 13:04] elasticmachine commented on #126670
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-02 13:06] richkuz commented on #126536
BTW: The default values for the settings are:
[code]

[2022-03-02 13:10] rudolf commented on #123847
@errobinson I'm going to close this as with your configuration it's expected behaviour that it fails. Feel free to keep replying to the issue to help us understand your use case. Maybe there's a more standard way to achieve what you're trying to do.

[2022-03-02 13:10] #123847 closed

[2022-03-02 13:16] alexwizp opened #126671 "[TSVB] Apply filter event is not working for formatted fields"
**Kibana version:**

**Describe the bug:**
In the case of grouping by terms, if the user tries to apply filters by clicking on a value in the chart, this does not work for formatted fields.

**Steps to reproduce:**
1. Create DataView based TSVB visualization
2. Set Group by Terms and select any field which was custom formatted
3. Press on some value in chart

**Expected behavior:**
Filter should b

[2022-03-02 13:16] elasticmachine commented on #126671
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-02 13:23] manishgupta-qasource commented on #126665
Secondary review for this ticket is Done

[2022-03-02 13:24] sqren commented on #126509
Is this due for 8.2?

[2022-03-02 13:25] rudolf opened #126672 "migrations should never require users to work directly with system indices"
Since 8.0 Kibana's saved object indices are system indices, meaning users no longer have access to write to or delete these indices.

We should make sure that users don't need to access these indices directly for any upgrade failure resolutions or maintenance. Marking this as a bug since it's not very easy for users to circumvent the system indices protections (by design) so this has a fairly high

[2022-03-02 13:25] elasticmachine commented on #126672
Pinging @elastic/kibana-core (Team:Core)

[2022-03-02 13:26] sqren opened #126673 "[APM] Remove references to deprecated APIs due for removal in 8.2"
Tracking the Kibana wide issue: https://github.com/elastic/kibana/issues/126509

importing `esKuery` from the data plugin is deprecated

https://github.com/elastic/kibana/blob/d53154ec5ebb9feb1a77d948e046269cc0a7f6e9/x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx#L14-L17

Instead it should be imported from `@kbn/es-query`:

[code]

[2022-03-02 13:26] elasticmachine commented on #126673
Pinging @elastic/apm-ui (Team:apm)

[2022-03-02 13:33] stacey-gammon commented on #126509
@sqren - ideally, yes. If that isn't feasible, reach out to the team and see if they can postpone.  In reality, most of these deadlines are arbitrary and a delay won't cause a problem, but we are hopeful teams will try their best so we can reduce tech debt in the codebase.

[2022-03-02 13:36] errobinson commented on #123847
Sorry for the late response. The setup for this instance is this way because of only having one large machine and needing to run multiple instances for testing. I normally set the host check when I run multiple instances on a single machine, but normally have multple machines and in this case with one machine is what caused the issue.I agree that it is my configuration that is causing the failure,

[2022-03-02 13:39] richkuz commented on #126536
I made a minor update to the [setting description](https://github.com/elastic/kibana/issues/126536#issuecomment-1055981664) to note that this timeout applies when launching the Enterprise Search UI (not necessarily when Kibana starts up).

[2022-03-02 14:14] elasticmachine commented on #126669
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-02 14:24] peteharverson opened #126676 "[Cases] Lens action is available when the Visualize feature is not enabled in the current space"
For a space in which the Visualize feature is not enabled, the Lens action is available when creating a comment on a case. This leads to an 'Application not found' error message when clicking the Lens action when it attempts to redirect into Lens.

![open_lens_from_case](https://user-images.githubusercontent.com/7405507/156379426-6141469c-a9a4-47e1-9ee1-9fc72a75bb6a.gif)

The action should be hidd

[2022-03-02 14:24] elasticmachine commented on #126676
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-02 14:24] elasticmachine commented on #126676
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-02 14:28] #46353 closed

[2022-03-02 14:41] gbamparop commented on #126673
Seems like a duplicate of https://github.com/elastic/kibana/issues/124069

[2022-03-02 14:41] jlind23 commented on #122892
ping @ph @cmacknz

[2022-03-02 14:43] kaishenelastic opened #126677 "Own URL (custom domain) for Azure Private Link"
A customer is using Azure private link and requires an own URL.
Currently they use a workaround for this (reverse proxy).
They keep running in Kibana issues and also the configuration of Logstash is cumbersome due to the reverse proxy.

Support case: #00884713

[2022-03-02 14:53] jportner commented on #126611
Aliases wouldn't cause regular conflict errors like this, but it's good to know regardless that only the Default space is being used and there were no aliases present.
I'm struggling to see how these regular conflict errors could occur when using `overwrite: true`.

I did a brief review of the `importSavedObjects` and `bulkCreate` implementations and nothing jumped out at me.
I also haven't heard

[2022-03-02 14:57] formgeist commented on #124956
@katrin-freihofner I moved to the Next column as well, I think this is a necessary enhancement of the series

[2022-03-02 14:59] ph commented on #122892
@juliaElastic I don't know that answer and the Agent wouldn't know it too, since we will push down the validation to the input.

Also, I don't think we have audited the input settings to see if we can deprecate some.

[2022-03-02 15:09] #126092 closed

[2022-03-02 15:23] afharo opened #126684 "UX Plugin depends on `alerts` when it should be `alerting`?"
Looking at `x-pack/plugins/ux/kibana.json`, it looks like the plugin `ux` declares an optional dependency on `alerts`. However, such plugin does not exist, and I couldn't find any piece of code referring to that dependency:

https://github.com/elastic/kibana/blob/f72419889fc2f05397415307caedcded9644e75f/x-pack/plugins/ux/kibana.json#L20

Can we delete this dependency?

[2022-03-02 15:23] elasticmachine commented on #126684
Pinging @elastic/uptime (Team:uptime)

[2022-03-02 15:26] gmmorris commented on #126624
Reading the description above it looks like we're thinking this will display a line per rule execution, is that right?
It's important to note there are multiple events per execution, so some kind of aggregation would likely be needed here by [the execution uuid](https://github.com/elastic/kibana/blob/f72419889fc2f05397415307caedcded9644e75f/x-pack/plugins/event_log/generated/mappings.json#L279) (I

[2022-03-02 15:40] mshustov opened #126687 "Create dataset for Discover app performance testing"
One of the initial performance testing scenarios of https://github.com/elastic/kibana/issues/103942 is `Loading time of the Discover page with a dataset with lots of fields`.
As a prerequisite for implementing this test, we need to prepare a data set for Discover UI. According to https://github.com/elastic/kibana/issues/84621, performance problems can surface with documents with more than 1,000 fi

[2022-03-02 15:41] cchaos opened #126688 "[Discover] New DataGrid selection popover won't close without making a selection"
**Kibana version:** `main`

**Describe the bug:**

Likely forgot to add a `closePopover` function to the [EuiPopover](https://elastic.github.io/eui/#/layout/popover).

**Steps to reproduce:**
1. Go to Discover with the new DataGrid enabled
2. Select a few rows
3. Click the `# documents selected` button
4. Try clicking the button again to close the popover or anywhere outside of it

**Expected beha

[2022-03-02 15:41] elasticmachine commented on #126688
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-02 15:47] hop-dev commented on #126611
I also saw the conflicts being correctly detected and then discarded in the `checkConflicts` method

[2022-03-02 15:50] alisonelizabeth commented on #125842
Fixed by https://github.com/elastic/kibana/pull/126277

[2022-03-02 15:50] #125842 closed

[2022-03-02 16:04] stephmilovic commented on #126155
@MikePaquette are you sure the new space has generated alerts?

Before adding rules to space `newnew`, in timeline we can see it adds the index as disabled:
<img width="643" alt="Screen Shot 2022-03-02 at 8 58 49 AM" src="https://user-images.githubusercontent.com/6935300/156399261-ab36cac7-e8a0-426b-8083-a81a0b373390.png">

After adding rules to space `newnew`, in timeline we can see it adds and s

[2022-03-02 16:04] simitt opened #126695 "Fleet ignores pipelines when loading APM package"
**Kibana version**: 8.1.0-BC5

**Description of the problem including expected versus actual behavior**:
When installing the APM package via Fleet, the index template's settings are empty and no apm pipelines are set up. The index templates should pick up the configured pipelines from the APM package and reference them in the settings such as:
[code]

@joshdover took an initial look and confirmed

[2022-03-02 16:04] elasticmachine commented on #126695
Pinging @elastic/fleet (Team:Fleet)

[2022-03-02 16:07] alex-fedotyev commented on #120377
@miltonhultgren - thanks for the update!

I wonder if this would be a good idea to merge it sooner in "unfinished" state, so on APM we could start figuring out how the integration would work.

cc @dannycroft - feel free to add your thoughts.

[2022-03-02 16:15] joshdover commented on #126695
It seems that we're not install ingest pipelines for bundled packages. When I install the 8.1.0 package without the zip in the `x-pack/plugins/fleet/server/bundled_packages` directory the ingest pipelines are there, but when I put the zip back they're gone. You can verify this in development.

[2022-03-02 16:27] jportner opened #126696 "[Docs] Add developer documentation for Encrypted Saved Objects"
Inspiration: https://github.com/elastic/uptime/issues/406

We provide an `encryptedSavedObjects` plugin to allow consumers to easily add an encryption layer on saved objects, but we don't have developer docs for this, and TSdocs are sparse.
Up until recently, we only had one consumer for this, who we built this feature for -- but now we have new consumers who want to use this feature.

We should p

[2022-03-02 16:39] cmacknz commented on #122892
Correct, we haven't done this. Is the intent here that we have the opportunity to avoid exposing input/beat settings in agent policies that we don't want to maintain in the future?

[2022-03-02 16:52] joshdover commented on #126695
It seems we overlooked the differences and gaps in the upload package functionality. I've compared the PackageInfo object that we use to run all of the install code based on between the one we fetch from the registry and the one from an uploaded package and there are many functionality differences. See the differences in the files in [packageInfo.zip](https://github.com/elastic/kibana/files/817136

[2022-03-02 16:57] gchaps commented on #126594
@kertal What can we suggest that the user do in this case?

[2022-03-02 17:08] XavierM commented on #126624
Yes, we are aware and already talking to @ymao1 and future issue will be created to describe this work.

[2022-03-02 17:23] kertal commented on #126594
quick question @cchaos , there was no data in this data view, right?

[2022-03-02 17:23] #124254 closed

[2022-03-02 17:35] cchaos commented on #126594
Possibly 🤷‍♀️ ... Looks like it? I dunno exactly where this Data View came from, but I selected it and this is the result.

[2022-03-02 17:48] kertal commented on #126594
yes so it should be empty --- or a bug --- I'd say it's empty. so something like this could work?
`The selected data view contains no documents.`

[2022-03-02 17:59] ymao1 commented on #124159
Could we use the new `warning` status that's being proposed in [this issue](https://github.com/elastic/kibana/issues/124871#issuecomment-1054570123) for this as well? It seems like the same category where the rule execution technically completes successfully but a side effect of the execution is dropped.

[2022-03-02 18:40] mikecote opened #126707 "Removing task interval from timeout calculation"
Currently, the task manager will do a max between the task's interval and the task type's timeout to determine when the execution should timeout and retry. However, coupling the timeout with retry logic adds unnecessary complexity when estimating the capacity to run all rules without drift. For example, tasks with a schedule of 1hr will also have a max run time of 1hr, and because of this, we need

[2022-03-02 18:50] sqren commented on #126580
Solution B sound good to me.

[2022-03-02 19:05] neptunian opened #126709 "[Stack Monitoring] Improve Missing Monitoring Data rule"
After investigating the [slow performance of this rule](https://github.com/elastic/kibana/issues/123844) when created with the default values of looking back 1 day we found this rule has some shortcomings.  The way this rule works is we [query](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/alerts/fetch_missing_monitoring_data.ts#L64) for all data in the range of

[2022-03-02 19:05] elasticmachine commented on #126709
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-02 19:27] chrisdistasio commented on #126580
@vinaychandrasekhar do you have any thoughts on this?

[2022-03-02 19:37] miltonhultgren commented on #120377
@alex-fedotyev I'll consider what we can do for an early merge once I'm off SDH, so far I don't think there are more "short cuts" we can take. That said, we've put good thought into how to make it easy for the APM app to basically drop the component we expose into place without much integration beyond passing in the props for a time range and a KQL filter. Hopefully that works out 🤞🏼

[2022-03-02 19:51] formgeist commented on #125209
@dannycroft I'd like to move this into the Ready with a priority to get it done in time for the next release. This will be a great help for users getting started with using groups.

[2022-03-02 19:54] ymao1 commented on #119643
@mikecote Looking into this issue...the `retryAt` is updated when a task moves from `claimed` to `running` so we don't actually know what the `retryAt` value was that caused the task to get claimed again.

[2022-03-02 20:10] dannycroft commented on #120377
Thanks @alex-fedotyev. I happy for us to test it out as soon as @miltonhultgren is happy. I'm following along on https://github.com/elastic/kibana/pull/122352 but I'm not sure if it's going to be more work to do the work is stages to enable us to test sooner or just get it to a final state were we can integrate it and move from there.

[2022-03-02 20:17] tylersmalley commented on #95853
@danielmitterdorfer this is probably something we want to move to the performance working group and could use some help pushing. This is really something that ALL web applications deal with and something that should be no different for anyone developing plugins in Kibana. 100kB is really just the bare minimum considering there is 160+ plugins.

[2022-03-02 20:19] tylersmalley commented on #84609
@jbudz I know we have done a lot with this and it's always ongoing - but can you validate what was raised here?

[2022-03-02 20:20] ravikesarwani commented on #126709
I like the idea of 2 separate rule. One focused on the whole cluster and one focused on node.

- Cluster missing monitoring data
- Node missing monitoring data

For both of these rules I feel we will require some concept of alerting only when there was data before and now data is missing for a little while. We should handle the scenario gracefully where nodes are taken out of the cluster, a scenar

[2022-03-02 20:24] mostlyjason commented on #122892
@cmacknz yes that is the intent. This will be the first time we document input settings under elastic agent, so it could be an opportunity to audit and simplify.

[2022-03-02 20:24] sqren commented on #126673
You are right! Closing.

[2022-03-02 20:24] #126673 closed

[2022-03-02 20:25] tylersmalley commented on #79748
I think this would get pretty complex when running in development, but also agree we should have testing coverage for it. What do we think about changing the focus for this to support it in the FTR?

[2022-03-02 20:26] #117728 closed

[2022-03-02 20:26] #117755 closed

[2022-03-02 20:26] #117758 closed

[2022-03-02 20:26] tylersmalley commented on #70617
This is resolved in recent versions.

[2022-03-02 20:26] #70617 closed

[2022-03-02 20:27] elasticmachine commented on #64265
Pinging @elastic/kibana-core (Team:Core)

[2022-03-02 20:28] tylersmalley commented on #52091
This should no longer be an issue.

[2022-03-02 20:28] #52091 closed

[2022-03-02 20:30] tylersmalley commented on #59604
We don't support Windows container mode and there aren't enough requests for it.

[2022-03-02 20:30] #59604 closed

[2022-03-02 20:33] tylersmalley commented on #13108
Closing as the MSI installer project no longer exists which was the reason for the consistent output for parsing.

[2022-03-02 20:33] #13108 closed

[2022-03-02 20:33] mikecote commented on #119643
I see what you mean 🤔 One thought that comes to mind is to leverage the script setting tasks as "claimed" [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/task_manager/server/queries/mark_available_tasks_as_claimed.ts#L129) to also set runAt to retryAt whenever the retryAt is in the past. This may work to properly calculate the schedule_delay. Thoughts?

[2022-03-02 20:36] tylersmalley commented on #15963
Elastic is no longer providing MSI installers.

[2022-03-02 20:36] #15963 closed

[2022-03-02 20:36] tylersmalley commented on #26258
Old issue and most things here are no longer valid.

[2022-03-02 20:36] #26258 closed

[2022-03-02 20:37] elasticmachine commented on #23431
Pinging @elastic/kibana-core (Team:Core)

[2022-03-02 20:39] tylersmalley commented on #7438
Closing, this is no longer an issue since we don't ship Webpack anymore. We have seen similar issues with corrupt zip/tar extraction, so if you see this try re-downloading and try extracting again.

[2022-03-02 20:39] #7438 closed

[2022-03-02 20:40] chrisronline opened #126722 "[ResponseOps] Improve rules search strategy to support sorting/pagination"
We need to support to sort and paginate [our existing search strategy](https://github.com/elastic/kibana/pull/124430). This should match what security solutions is doing.

[2022-03-02 20:40] elasticmachine commented on #126722
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-02 20:41] spong opened #126723 "[Security Solution] ML Rule error message unclear when ML Job's module not installed"
When an ML Rule's Job is not installed, the error message presented upon Rule execution doesn't clearly define what the issue is, or how the user can resolve it. This message should be updated to mention that the Job/Module isn't installed, and detail how to install it (via ML Job Settings UI for the time being). This is present in all version of the stack up till `8.2`.

<p align="center">
  <img

[2022-03-02 20:41] elasticmachine commented on #126723
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-02 20:41] elasticmachine commented on #126723
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-02 20:43] vinaychandrasekhar commented on #126580
@chrisdistasio thanks for including me in the discussion.
@formgeist couple of questions -
- Would it make sense to also combine the multiple threshold rules under a single "Create threshold rule" with a second level menu for failed transaction rule, error count rule? Otherwise, it appears confusing (to me) that anomaly rule creation shows no notion of signal or metric (i.e., latency, transaction

[2022-03-02 20:47] tylersmalley commented on #39594
@jbudz can you verify the issue was the space and not with the object that they tried to set? Let's figure out if we should document something here.

[2022-03-02 20:48] #39598 closed

[2022-03-02 20:51] tylersmalley commented on #102930
With the push for CSS in JS, I don't see this as a priority. Feel free to raise if you disagree.

[2022-03-02 20:51] #102930 closed

[2022-03-02 20:52] tylersmalley commented on #82827
Is this still a priority - and if so, have any suggestions on how we would accomplish this?

[2022-03-02 20:53] tylersmalley commented on #75062
Closing - if iTerm is sending SIGHUP, I see that as an issue with iTerm, not Kibana.

[2022-03-02 20:53] #75062 closed

[2022-03-02 20:54] tylersmalley commented on #75515
We support this, but should add documenation.

[2022-03-02 20:55] elasticmachine commented on #75515
Pinging @elastic/kibana-core (Team:Core)

[2022-03-02 20:58] #126536 closed

[2022-03-02 21:03] elasticmachine commented on #126561
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-02 21:15] #124160 closed

[2022-03-02 21:16] marshallmain commented on #126561
Hi @deepikakeshav-qasource, thanks for reporting this! The `__internal` tags are automatically filtered out when viewing the rules through the Security Solution's curated Rule Management UI and the Detection Engine rules APIs. However, the Security Solution doesn't control the Stack Management page, so it displays all tags that are on the rule - including the `__internal` tags. So as of right now

[2022-03-02 21:16] #126561 closed

[2022-03-02 21:18] chrisronline opened #126727 "[ResponseOps] Rules search strategy should skip RBAC for security solutions alerts"
When we merged [this search strategy](https://github.com/elastic/kibana/pull/124430), we introduced a bug where the security solutions alerts data is searched with RBAC filters. Our [api integration test](https://github.com/elastic/kibana/blob/main/x-pack/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts#L84) didn't capture this as we're using the superuser to test and we shoul

[2022-03-02 21:18] elasticmachine commented on #126727
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-02 21:19] kpollich commented on #126695
I've spent some investigating the differences @joshdover mentioned above between the package info objects Fleet fetches from the registry, and those we generate from package archives.

- Fleet implementations [validation logic](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/epm/archive/validation.ts) in a `parseAndVerify` function that runs on uploaded package arc

[2022-03-02 21:34] chrisdistasio commented on #126580
+1 @vinaychandrasekhar -- we should use this as an opty to drive consistency in behavior/pattern across the o11y apps.

[2022-03-02 21:41] ymao1 commented on #119643
I don't know that I'm a fan of overwrite data like that in the task claiming script. Is there no value in knowing what the original `runAt` value is for a task that keeps timing out?

Do you think this might be useful information for all tasks? What do you think of calculating it inside the task manager task runner and then passing it via the `RunContext` to all the task runners to use (or not). R

[2022-03-02 21:41] nickofthyme commented on #37388
Please keep this issue open. This is the only practical way of interacting with renovate bot to debug blocked or errored PRs or to trigger a full run on the repo itself.

[2022-03-02 22:13] ThomThomson opened #126730 "[Dashboard][Controls] Scripted and Runtime Field Support for Options List"
**Describe the feature:** The new controls currently do not support runtime fields. Support for this feature should be added.

[2022-03-02 22:13] elasticmachine commented on #126730
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-02 22:13] jportner commented on #82827
Yes, I think this is still something we want to do, though I don't have a good sense of priority vs other open Operations team tasks.

In this code:

https://github.com/elastic/kibana/blob/ce153c597d73291ffc09d63981a858ccd348e22b/src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker#L382-L394

We loop through the supported config keys, convert them to expected env vars

[2022-03-02 22:31] simianhacker commented on #126709
I would recommend we create a seperate missing data rule for every entity in the system: Kibana, Metricbeat, Filebeat, APM Server, Nodes, and Clusters. As a customer, I would expect to be notified when any of these disappear from the cluster. As for the rule evaluation, we should use an Elasticsearch query to push the missing entity detection to Elasticsearch.

The following example is for detecti

[2022-03-02 22:38] alex-fedotyev commented on #120377
@miltonhultgren - I just looked through everything highlighted on the PR specifically TODO and Open Questions sections, very comprehensive, appreciate all the efforts!

Do you think some of those could be done as separate PRs?
I suggest that seeing it in action in few internal environments and showing to several customers for feedback would make decisions more informed.

[2022-03-02 22:43] stephmilovic commented on #122616
Looks like this can be done with a component like this:
[code]

We'd need to redesign a bit how these components work to make this happen, because the call happens above the design if that makes sense

[2022-03-02 23:00] gchaps commented on #126536
The doc is [here](https://www.elastic.co/guide/en/kibana/8.0/enterprise-search-settings-kb.html).

[2022-03-02 23:03] lukasolson opened #126735 "[KQL] Support references to saved queries"
**Describe the feature:**

KQL allows complex text-based queries, but it doesn't allow combining saved queries. Adding support for combining saved queries in a composable manner (allowing for "AND"/"OR") would take its functionality to the next level.

This issue is a placeholder for the discussion around how we will support references, including discussions around syntax, autocomplete, saved obje

[2022-03-02 23:03] elasticmachine commented on #126735
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-02 23:04] stephmilovic commented on #122616
so the way above doesn't render the entire component when the accordion is closed. this uses `skip`. id rather do the first method but if there are issues, we can try this:
[code]

[2022-03-02 23:19] ThomThomson opened #126736 "[Dashboard][Controls] Support Frozen Indices"
**Describe the feature:** The Legacy controls [do not work with](https://github.com/elastic/sdh-kibana/issues/2631) Frozen indices. It is important that we ensure that the new controls work correctly with frozen indices.

[2022-03-02 23:19] elasticmachine commented on #126736
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-02 23:20] ThomThomson commented on #120035
Potential feature additions for phase 2 or phase 3:

- [Scripted Field support](https://github.com/elastic/kibana/issues/126730)
- [Frozen Index support](https://github.com/elastic/kibana/issues/126736)

[2022-03-02 23:28] nimarezainia commented on #122892
We (I) have to create the full set of input parameters and we collectively audit. Some may no longer be applicable.

[2022-03-02 23:46] dgieselaar commented on #126580
@formgeist agree w/ @sqren that B sounds like our best option. It'd be great if we can get that in for 8.2, as it fixes the bug (or rather makes that behaviour explicit) where it fires for all detector types.

[2022-03-02 23:51] jasonrhodes commented on #126386
@neptunian and I discussed this and she helped me realize that we don't currently have a way to tell that a Kibana instance has stopped reporting data. Here's an example of why:

| Instance | 2 hours ago | 1 hour ago | 15 minutes ago | 1 minute ago |
| --- | --- | --- | --- | --- |
| 1 | Green | x | x | x |
| 2 | Green | Green | Green | Green |
| 3 | x | x | Green | Green |
| 4 | Green | Green | G

[2022-03-02 23:55] mdefazio commented on #124346
@jportner @mattkime I went back and forth on having a switch, but in the end I'm not certain it is clearer without doing some user testing.  So without dragging this out further, we can keep the current button group above the space selector that Matt had previously.

(I'm showing the space selector disabled when switching to All spaces—but if it hides it currently that's alright as well)

<img wid

[2022-03-03 00:00] hendry-lim commented on #126557
Kibana: `>= 8.0.0`
Just to add on, the version number is also not shown as the correct version number in `8.0.1` in Stack Monitoring. If you prefer to create a new issue, please let me know.
![image](https://user-images.githubusercontent.com/48344515/156470142-913babe2-eabc-41ab-b5d6-2ec667c3108f.png)

[2022-03-03 00:23] mattkime commented on #126369
closing as this seems to have happened only once. reopen if it reoccurs

[2022-03-03 01:16] rudolf commented on #125449
Something went wrong when starting ES so tests could never run. Elasticsearch logs include:

Which make it seem like there was another ES instance which perhaps hadn't fully shutdown when the new one was started? Given no further occurrences in more than 2 weeks I'm going to close this.

[2022-03-03 01:16] #125449 closed

[2022-03-03 01:17] rudolf commented on #125353
Same failure reason as https://github.com/elastic/kibana/issues/125449#issuecomment-1057563408 closing.

[2022-03-03 01:17] #125353 closed

[2022-03-03 01:19] rudolf commented on #125352
Same failure reason as https://github.com/elastic/kibana/issues/125449#issuecomment-1057563408

[2022-03-03 01:19] #125352 closed

[2022-03-03 01:19] rudolf commented on #125351
Same failure reason as https://github.com/elastic/kibana/issues/125449#issuecomment-1057563408

[2022-03-03 01:19] #125351 closed

[2022-03-03 01:19] rudolf commented on #125350
Same failure reason as https://github.com/elastic/kibana/issues/125449#issuecomment-1057563408

[2022-03-03 01:19] #125350 closed

[2022-03-03 01:21] elasticmachine commented on #124196
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-03 01:24] rudolf commented on #124196
Removing the core label as just like we introduced an dedicated API for data views, there's nothing holding the presentation team back from introducing a dedicated dashboard API. For the reasons outlined in this issue and https://github.com/elastic/kibana/issues/72028 we would highly recommend that the presentation team creates a dedicated dashboard HTTP API

[2022-03-03 01:57] matschaffer commented on #126557
Thanks @hendry-lim ! Yes, I'd recommend opening a separate issue for that.

[2022-03-03 02:00] liza-mae commented on #126369
This has been failing on 8.1.0 see original issue: https://github.com/elastic/kibana/issues/124625.  It is a current failure on 8.1.0 as recent as today.

[2022-03-03 02:05] hendry-lim opened #126741 "[Stack Monitoring] Elasticsearch version displays incorrect version"
**Kibana version:** `8.0.0` `8.0.1`

**Elasticsearch version:** `8.0.0` `8.0.1`

**Steps to reproduce:**
1. Configure Elasticsearch monitoring with Metricbeat with `xpack.enabled: true`
2. Go to Kibana > Stack Monitoring
3. Observe that the Elasticsearch version under Elasticsearch overview is displayed as `29363` for `8.0.1`.

**Expected behavior:**
The version should display the correct Elastics

[2022-03-03 02:06] hendry-lim commented on #126557
Opened [126741](https://github.com/elastic/kibana/issues/126741)

[2022-03-03 02:37] elasticmachine commented on #126741
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-03 03:02] matschaffer commented on #125578
Still no new runs on https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/ - I dropped a note in @elastic/kibana-qa slack to find out when I should expect to see one.

[2022-03-03 06:00] kibanamachine commented on #116038
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/11821#3e3dc968-1c48-4b23-9246-553cad0a7aff)

[2022-03-03 06:00] amolnater-qasource commented on #122436
Hi @joshdover
We have revalidated this issue on 8.1.0 BC-5 Kibana cloud environment and found it **working fine**.
- The RUM settings gets disabled, when the APM integration was last saved disabling it by the user.

**Build details:**
VERSION: 8.1.0
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/156505530-1c9f9

[2022-03-03 06:54] alexhass commented on #15963
WTF? Why???????

[2022-03-03 07:10] amolnater-qasource commented on #125968
Hi @juliaElastic
We have revalidated this issue on 8.1.0 BC-5 Kibana cloud environment and found it **working fine**.
- On adding system integration from Integrations tab to a new agent policy, no duplicate integration error is observed.
- Only one System integration is added the new Policy.

**Build details:**
VERSION: 8.1.0
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf

**Screen

[2022-03-03 07:33] deepikakeshav-qasource opened #126745 "[Security Solution] Error message displaying while clicking on save button if no connector exist."
**Describe the bug**
Error message displaying while clicking on save button if no connector exist.

**Build Details:**
[code]

**Preconditions**
1. No connector should be exist

**Steps to Reproduce**
1. Navigate to cases tab
2. Click on Create a case
3. Open the created case
4. Click on pencil icon of "External incident management system"
5. Then click save button and observe the error message di

[2022-03-03 07:33] elasticmachine commented on #126745
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-03 07:36] ari-aviran opened #126746 "[Cloud Posture] Implement blank page graphic"
Implement a blank page graphic for the Cloud Security Posture app that is shown when there's no data

[2022-03-03 07:37] kibanamachine commented on #126664
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11827#1ac90440-3b55-490c-9157-bc59066811a7)

[2022-03-03 07:37] amolnater-qasource opened #126747 "[Fleet]: Long filter suggestions and with name 'ingest-' under Agent Policies search"
**Kibana version:**  8.1 BC-5 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
VERSION: 8.1.0
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf

**Preconditions:**
1. 8.1 BC-5 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent policies tab.
3. Click Search bar and obser

[2022-03-03 07:37] elasticmachine commented on #126747
Pinging @elastic/fleet (Team:Fleet)

[2022-03-03 07:37] amolnater-qasource commented on #126747
@manishgupta-qasource Please review.

[2022-03-03 07:38] manishgupta-qasource commented on #126747
Secondary review for this ticket is Done

[2022-03-03 07:50] pchanas opened #126748 "Integrate Transform plugin in Kibana to allow usage of any JS visualization"
**Describe the feature:**

We are using the transform plugin for a long time now.
1) It allows to retrieve data based on es requests, to use multiple queries on multiple indices in the same viz
2) Data can be then computed through JS code, allowing joining indices
3) Any JS visualisation can be displayed (eg Google chart, D3.js...)
4) Nice presentation can be done with HTML/CSS

Integrating this p

[2022-03-03 08:06] miltonhultgren commented on #126709
I'm wondering how these kinds of rule intersect with the planned Health and Topology APIs?

[2022-03-03 08:07] amolnater-qasource opened #126749 "[Fleet]: Old name `package` in search query when integration filter is selected under Data Streams tab."
**Kibana version:**  8.1 BC-5 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
VERSION: 8.1.0
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf

**Preconditions:**
1. 8.1 BC-5 Kibana cloud environment should be available.
2. An agent must be installed having System and Windows integration.

**Steps to reproduce:**
1. Login to Kibana environment.
3

[2022-03-03 08:07] elasticmachine commented on #126749
Pinging @elastic/fleet (Team:Fleet)

[2022-03-03 08:07] amolnater-qasource commented on #126749
@manishgupta-qasource Please review.

[2022-03-03 08:09] miltonhultgren commented on #120377
@alex-fedotyev Steps 3 and 6 could potentially be done in a separate PR, I think the rest are must do before we merge.

I think a decent chunk of the Open Questions don't need answers for the first PR.

[2022-03-03 08:09] manishgupta-qasource commented on #126749
Secondary review for this ticket is Done

[2022-03-03 08:12] miltonhultgren commented on #126386
https://github.com/elastic/kibana/issues/126709 for discussions on the rules that relate to this.

I'm also wondering if adding entity centric indices for nodes is an option?
Then we could query the "known nodes" first and then query the last known status for each of those nodes for a given timerange and show them as Unknown if no data is given back.

[2022-03-03 08:39] Ranakel commented on #126748
Very useful plug-in to meet business users expectations and display 'web site like' dashboards
We use it a lot because it's powerful, efficient and easy to use (so much more easy compared to vega) and allows displaying data exactly the way you need.

[2022-03-03 08:39] samratbhadra-qasource commented on #101560
Hi @MadameSheema,
We have validated this issue on the latest **8.1.0-BC5** build and found that the issue is still **occurring**. Please find below the testing details:

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/156510411-e32457c8-509c-4384-865e-e95a023382e1.mp4

**Screenshot:**

![Screenshot (104)](https://user-images.githubusercontent.com/84007952/156509091-89492b

[2022-03-03 08:49] jugsofbeer commented on #118520
Sadly this had the side effect of killing our kibana nodes connection to elasticsearch and requests to kibana would display tls handshake errors.

If we restarted kibana it would work for 3 or 4 minutes then tls errors.

after 2days of chaos, we disabled all alerts... and problem resolved temporarily and all errors stopped in our logs.

We have a few alerts that are throwing the has privilages err

[2022-03-03 08:57] #112608 closed

[2022-03-03 08:59] flash1293 commented on #126448
Discussed this with the team and as Lens supports this behavior, we decided to not add this feature to agg based pie visualizations for the time being. OTOH there are plans to add more control of slice ordering to Lens instead.

[2022-03-03 08:59] #126448 closed

[2022-03-03 09:00] elasticmachine commented on #126745
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-03 09:00] elasticmachine commented on #126745
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 09:11] muskangulati-qasource opened #126752 "[Security Solution] The card for the Hosts tab count does not update if the query is updated from a non-existing value to a wrongly formatted value"
**Description:**
The card for the Hosts tab count does not update if the query is updated from a non-existing value to a wrongly formatted value

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Hosts Tab from the left hand side navigation
2. Enter a query that does not exists:
`process.name: "Muskan

[2022-03-03 09:11] elasticmachine commented on #126752
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-03 09:12] cnasikas commented on #126745
Thank you @deepikakeshav-qasource and @MadameSheema! I will target the fix for 8.2 and backport to 8.1.x.

[2022-03-03 09:27] karanbirsingh-qasource opened #126756 "[Security Solution]Rule Action not able to perform after deletion of Rule Action Connector"
**Describe the bug**
Rule Action not able to perform after deletion of Rule Action item

**Build Details**
[code]

**Pre-Condition**
- kibana Version 8.1.0 BC5 should exist
- Any Connector should be present on the kibana

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Add any rule action item let say swim lane to the rule as a rule action item
- Generate some alerts from above rule
- Now d

[2022-03-03 09:27] elasticmachine commented on #126756
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-03 09:27] elasticmachine commented on #126752
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-03 09:28] MadameSheema commented on #126756
@karanbirsingh-qasource can you please confirm if the action can be done after refreshing the page?

[2022-03-03 09:39] karanbirsingh-qasource commented on #126756
yes @MadameSheema  I have tried hard refresh and also opening kibana login in private windows, the error is consistent

![image](https://user-images.githubusercontent.com/59917825/156538075-730a1d3a-b389-44d1-94c8-7e763bae505d.png)

[2022-03-03 09:42] formgeist opened #126757 "[APM] Reorganize rule types in the Alerts and rules dropdown option"
# Summary

Related to https://github.com/elastic/kibana/issues/126580

We want to re-organize the rule types available for APM since we're adding anomaly rules for Throughput and Failed transaction rate.

# Solution

<img width="517" alt="CleanShot 2022-03-03 at 10 20 04@2x" src="https://user-images.githubusercontent.com/4104278/156538127-8870a602-b53d-4070-9fdd-f8a125254f70.png">

<img width="461

[2022-03-03 09:43] formgeist commented on #126580
Created a related issue to change the structure of rules in the Alerts and rules option for APM https://github.com/elastic/kibana/issues/126757

[2022-03-03 10:03] karanbirsingh-qasource commented on #126756
sure @MadameSheema

[2022-03-03 10:06] elasticmachine commented on #126756
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-03 10:07] sabarasaba commented on #126362
The api endpoint seems to be just calling the [cluster-remote-info](https://www.elastic.co/guide/en/elasticsearch/reference/master/cluster-remote-info.html) api, the test passes just fine locally. I also tried in cloud (using the following commands) but couldn't get it to fail either:

[code]

[2022-03-03 10:16] jackz7 opened #126759 "Shareable kibana components"
I have a kibana dashboard for sample data. The dashboard has some fantastic widgets like this one.
![kibana-chart](https://user-images.githubusercontent.com/93463215/156543974-b5a05f32-7fe5-4bd5-8bd2-d15030887e89.JPG)

But, I have a another react app which has a dashboard component and  I want to show this chart in my react app.

If this could possible with current implementation of ELK then it's

[2022-03-03 10:22] #110019 closed

[2022-03-03 10:29] samratbhadra-qasource commented on #125919
Hi @joshdover,
Thanks for the update on the issue.
We will be testing it once the Endpoint Security v1.5.0 gets published to the registry and the issue gets fixed.

Thanks!

[2022-03-03 10:35] katrin-freihofner commented on #97146
Solved in: https://github.com/elastic/kibana/issues/124370

[2022-03-03 10:35] #97146 closed

[2022-03-03 11:20] samratbhadra-qasource opened #126761 "[Security Solution]: Long policy name breaks under policies drop down menu in Trusted application, Event filters and Host isolation tab ."
**Describe the bug:**
Long policy name breaks under policies drop down menu in Trusted application, Event filters and Host isolation tab .

**Build Details:**
VERSION: 8.1.0-BC5
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf
ARTIFACT: https://staging.elastic.co/8.1.0-d9cd3df6/summary-8.1.0.html

**Preconditions:**
1. Elastic 8.1.0-BC5 environment should be deployed.

**Steps to Repr

[2022-03-03 11:20] elasticmachine commented on #126761
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-03 11:20] elasticmachine commented on #126761
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-03 11:20] samratbhadra-qasource commented on #126761
@manishgupta-qasource Please review.

[2022-03-03 11:24] manishgupta-qasource commented on #126761
Reviewed & assigned to @kevinlog

[2022-03-03 11:26] joshdover commented on #126695
Thanks, @kpollich for the very detailed investigation and writeup.

This is an interesting idea and would probably be a via short-term solution for bundled packages, however I don't see how we could solve https://github.com/elastic/kibana/issues/70582 with this solution for packages that are not in a registry at all. In https://github.com/elastic/kibana/issues/115032 it's also being requested that

[2022-03-03 11:29] joshdover commented on #115032
@jsoriano One question I have about the registry API: are there other consumers of this logic other than Kibana? What was the motivation behind putting this high-level data stream information in the API in the first place?

A second question: if we intend on keeping this in the registry API for other consumers, does it make sense to explore a WASM-based solution to sharing this logic between the r

[2022-03-03 11:31] formgeist opened #126762 "[Actionable Observability] Show rules empty state in place of the alerts table when no rules have been created"
# Summary

We're showing the current alerting empty state panel at the bottom of the page to enable the user to create rules. On the top, the alerts table is empty because no active alerts are available, but in this case, we should show the empty state to enable the user to create rules.

<details>
<summary>View screens</summary>

![screencapture-localhost-5601-dnb-app-observability-overview-2022-

[2022-03-03 11:31] elasticmachine commented on #126762
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 11:39] formgeist opened #126764 "[Unified Observability] Display "Show alerts" link in the Alerts table container"
# Summary

We want to enable the user to visit the full Alerts view from the alerts table panel in the Overview.

![CleanShot 2022-03-03 at 12 37 53@2x](https://user-images.githubusercontent.com/4104278/156557591-a244f319-24da-46fe-b9a1-1bfdd7ca0014.png)

[2022-03-03 11:39] elasticmachine commented on #126764
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 11:46] formgeist opened #126765 "[RAC] Bug: Alerts table doesn't offer an option to reset to the default configuration"
**Kibana version**:

8.2.0-snapshot

**Description of the problem including expected versus actual behavior**:

I somehow managed to resize the column in the alerts table and now I'm stuck with a narrower table size than the default configuration. The table doesn't offer an option to reset the configuration of the table to the default.

**Steps to reproduce**:
 1. Go to the Alerts view in Observab

[2022-03-03 11:52] joshdover commented on #126611
I'm finding this line a bit curious in the repository bulk create method: https://github.com/elastic/kibana/blob/5023a033133243d0110a0d43da5af3a15a9147b8/src/core/server/saved_objects/service/lib/repository.ts#L581

For context, the `versionProperties` object contains the `if_seq_no` and `if_primary_term` properties used for optimistic concurrency control. Without stepping through the code, it's h

[2022-03-03 11:55] estermv commented on #126762
@formgeist should we wait to make changes to the "empty states" until we know what we will do with the status visualization? I always thought that the status visualization was going to replace the current empty states

[2022-03-03 12:03] formgeist opened #126766 "[Unified Observability] Bug: Overview visualization panels are showing the panel shadow at the top instead of the bottom of the container"
# Summary

For some reason, there's something overwriting the container shadow on the overview panels.

![CleanShot 2022-03-03 at 13 00 27@2x](https://user-images.githubusercontent.com/4104278/156561041-71355450-5421-400f-a51b-fb1a84ad0778.png)

Compared to the original `EuiPanel` [component](https://elastic.github.io/eui/#/layout/panel) in EUI

<img width="1274" alt="CleanShot 2022-03-03 at 13 01

[2022-03-03 12:03] elasticmachine commented on #126766
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 12:04] #125063 closed

[2022-03-03 12:14] formgeist opened #126767 "[Unified Observability] Bug: The "View in app" and "more" actions in the Alerts table is broken"
**Kibana version**:

8.2.0-SNAPSHOT (main)

**Description of the problem including expected versus actual behavior**:

When trying to click the "more" actions button by a single alert, the entire page breaks and no content is shown.

![CleanShot 2022-03-03 at 13 12 43](https://user-images.githubusercontent.com/4104278/156562685-5f147e89-2e39-4256-ac4c-ea0897360711.gif)

When trying to click the "V

[2022-03-03 12:14] elasticmachine commented on #126767
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 12:25] formgeist commented on #126767
Also realized that the "View in app" action also doesn't work.

[2022-03-03 12:28] formgeist opened #126768 "[Unified Observability] Show "Technical preview" badge by the Alerts panel title"
# Summary

Since the alerts feature and table are still in "Technical preview" we should follow those indications also on the Overview page.

![image](https://user-images.githubusercontent.com/4104278/156564628-318ebbb0-f7a7-4342-9ace-473db126f983.png)

The tooltip content can be copied from the existing badge in the Alerts view

<img width="480" alt="CleanShot 2022-03-03 at 13 28 17@2x" src="http

[2022-03-03 12:28] elasticmachine commented on #126768
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 12:43] joshdover commented on #126578
Ah that's right. Looking at this again, I do think it would make more sense to pursue inverting the dependency between Fleet and Infra or try to hoist the `LogStream` and related utilities to higher-level dependency.

It could be more changes but it feels like the better long-term option to me. @jasonrhodes any idea how feasible it would be to extract the Logs UI bits out into it's own plugin or p

[2022-03-03 13:00] kesslerm commented on #114752
@vladpro25 This can still be easily reproduced on Chrome 98, and Firefox 97 on MacOS an Linux with 7.17 and 8.0. The issue occurs for all output in the Dev Tools console, where triple quotes are used because the original JSON string contains quoted characters or line breaks. Here, the syntax checker seems to stumble over the triple quotes, which of course aren't allowed in JSON.

[2022-03-03 13:02] mistic commented on #126664
Skipped.

main: [24b5855](https://github.com/elastic/kibana/commit/24b5855df3bd26b83c2de1aedb8b182c2caa3b32)

[2022-03-03 13:04] machadoum opened #126769 "User page [4] Populate user details page and flyout with data."
[issue](https://github.com/elastic/security-team/issues/2828)

**Describe the feature:**
Populate user details page with data.

**Fields**
   - First seen
   - Last seen
   - User id
   - User.domain
   - User name
   - Operation system + 3 more
   - Ip address (+3 more)
   - Family (+3 more)
   - User Risk score

**Visualizations**
   - Authentication visualization
   - Total unique authenticatio

[2022-03-03 13:04] elasticmachine commented on #126769
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-03 13:28] stacey-gammon opened #126772 "Example plugin demo environment use `main`"
The demo environments use release versions which make it hard to link to the most up to date version (https://demo.kibana.dev/8.2/app/home).  Could we have one for main? Doesn't look like it works when I try it.  cc @brianseeders

[2022-03-03 13:28] elasticmachine commented on #126772
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-03 13:33] elasticmachine commented on #121934
Pinging @elastic/fleet (Team:Fleet)

[2022-03-03 13:43] mgiota opened #126774 "Style EuiBasicTable according to design"
Sub-ticket of https://github.com/elastic/kibana/issues/123580

### ACCs
- Rules Table should have `Rule`, `Last run`, `Last response`, `Status` and `Actions` columns https://github.com/elastic/kibana/issues/126774
  - `Rule` column shows the rule name and currently the rule type id
  - `Last run` column reads the `executionStatus.lastExecutionDate` field
  - `Last response` column reads the `execu

[2022-03-03 13:43] mgiota opened #126775 "Refactor Rules Table to use a useFetchRules hook"

[2022-03-03 13:44] formgeist opened #126776 "[Unified Observability] Bug: News feed refuses to load on local environment"
**Kibana version**:

8.2.0-SNAPSHOT (main)

**Description of the problem including expected versus actual behavior**:

The Observability news feed refuses to load in the Overview page because of the following error message.

`Access to fetch at 'https://feeds.elastic.co/observability-solution/v8.0.0.json' from origin 'http://localhost:5601' has been blocked by CORS policy: Response to preflight re

[2022-03-03 13:44] elasticmachine commented on #126776
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 13:45] neptunian commented on #123844
We found that having a default 1 day `lookback` does slow down the query when there is a lot of data in the range.  @jasonrhodes did a comparison:
![Pre-Change Latency (ms) and Post-Change Latency (ms)](https://user-images.githubusercontent.com/1676003/156576726-25f13d5b-070d-4d15-8b00-09f48691ed3d.png)

We've opened another issue https://github.com/elastic/kibana/issues/126709 to discuss improvem

[2022-03-03 13:45] #123844 closed

[2022-03-03 13:55] ghudgins opened #126778 "[Lens] visually reverse date histogram order"
**Describe the feature:**
A configuration that allows the **newest data appear on the left** and oldest data on the right

**Describe a specific use case for the feature:**
Visually you may wish to design a dashboard where the most recent metrics are on the left because that's the first thing people will read.

[2022-03-03 13:55] elasticmachine commented on #126778
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-03 14:26] mikecote commented on #119643
I haven't thought of this but it sounds totally reasonable to me 👍 I can't think of anything relying on the original `runAt` today but I could see it wanted in the future to know how backed up the task are since the original next execution timestamp.

[2022-03-03 14:31] liza-mae commented on #124596
Confirmed fixed in latest run.

[2022-03-03 14:31] #124596 closed

[2022-03-03 14:32] liza-mae commented on #124597
Confirmed fixed in latest runs.

[2022-03-03 14:32] #124597 closed

[2022-03-03 14:32] liza-mae commented on #124598
Confirmed fixed in latest runs.

[2022-03-03 14:32] #124598 closed

[2022-03-03 14:33] liza-mae commented on #124595
Confirmed fixed in latest runs.

[2022-03-03 14:33] #124595 closed

[2022-03-03 14:34] liza-mae commented on #124594
Confirmed fixed in latest runs.

[2022-03-03 14:34] #124594 closed

[2022-03-03 14:38] katrin-freihofner commented on #126762
@mgiota is this something we could solve for the alerts table in general? In the case where a user has no rules, the empty state should suggest creating a rule.

[2022-03-03 14:39] jportner commented on #118520
It sounds like this isn't a Platform Security issue, so I'll remove our team's label.

@jugsofbeer Thanks for chiming in, it's helpful to know on this issue if users are affected, and we will get the right eyes on the support case!

[2022-03-03 14:42] mdefazio commented on #119175
After our discussion, here's an updated flow for modifying the data view title.

**Summary of decisions:**

The data view name will get filled in with the index pattern for existing index patterns.
The data view name will be how we reference data views in Discover, Lens, etc.
We will determine in future phases if additional UI cues for the index pattern are needed when selecting a data view (eithe

[2022-03-03 14:54] jportner commented on #126611
Ah, good find, and sorry this didn't occur to me earlier. It looks like this would indeed result in a 409 error for this object.

There is a related issue for the SOC.update API that was opened a week ago: #126240
However, we determined that the consumer who was having problems wasn't running into this theoretical issue.
There was also a Slack discussion on the topic that I replied to, I'll DM you

[2022-03-03 15:04] lizozom commented on #102629
I think that the merge of https://github.com/elastic/kibana/pull/124996 changes the second phase of this issue.
Instead of propagating the context manually, solutions should make sure to call `useExecutionContext` on their pages, [similar](https://github.com/elastic/kibana/pull/124996/files#diff-62b4eca6ab93c938023295869419d9b3031fd1c11470d5a3fec89f0012bbf036R128) to what we did for `discover`, `v

[2022-03-03 15:06] jportner opened #126784 "[Cases] "Create case" page shows error for minimally-privileged user"
**Kibana version:**

Tested on 8.2 (unreleased), but it appears that Cases has had this problem for some time.

**Describe the bug:**

When you create a minimally-privileged user who only has `All` access to the `Cases` feature, and you go to the "Create case" page, you will see an error:

**Expected behavior:**

The user currently needs `Read` access to the `Actions and Connectors` to avoid this

[2022-03-03 15:06] elasticmachine commented on #126784
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 15:06] lizozom opened #126785 "Canvas"

[2022-03-03 15:06] #126785 closed

[2022-03-03 15:10] elasticmachine commented on #126784
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-03 15:10] lizozom commented on #102615
@mshustov isn't this resolved by https://github.com/elastic/kibana/pull/124996 ?

[2022-03-03 15:15] mshustov commented on #102629
I wouldn't say these things are mutually exclusive, but rather they complement each other. We can ask Solution teams to instrument their code with `useExecutionContext` as `Phase II`, but why not propagate context manually at the same time if possible. We can postpone manual propagation until `Phase III` for cases requiring significant effort.

[2022-03-03 15:15] joshdover commented on #126611
Makes sense, thanks for the explanation.

Yeah it's because we're trying to install several packages in parallel so they may try to import the same index pattern. That said, Mark and I just discussed we think we can safely ignore this error if the another package install created it and just move on. We'll experiment with that before considering removing the OCC from this.

[2022-03-03 15:22] ThomThomson opened #126795 "[Controls] Support Numeric Fields in Options List"
Blocked by https://github.com/elastic/kibana/issues/143587

**Describe the feature:** The Options List Control should support numeric fields.

**Describe a specific use case for the feature:** Some users use numeric fields for transit numbers, or id numbers. Because these values are distinct, a range slider doesn't completely cover the use case, and an Options List control should be used. Currentl

[2022-03-03 15:22] elasticmachine commented on #126795
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-03 15:24] lizozom opened #126797 "Propagate execution context from Canvas"
Solutions can now utilize `useExecutionContext` to make sure all outgoing requests (search, saved objects) are properly traced back to a page and an entity (in ES, APM and Fullstory).

[code]

 - Call `useExecutionContext` on the top most react component that renders each page ([list](https://github.com/elastic/kibana/pull/124996/files#diff-98fff32c64649868bddcb297a49280879f7b6a8c2f0da50c0b9ab6487

[2022-03-03 15:25] pgayvallet commented on #75515
Already supported via the `{VAR_NAME}` syntax

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/packages/kbn-config/src/raw/read_config.ts#L18-L27

https://github.com/elastic/kibana/blob/50313f75f69cf6410ccdd3ad634a866909d8a051/packages/kbn-config/src/raw/read_config.test.ts#L32-L42

closing.

[2022-03-03 15:25] #75515 closed

[2022-03-03 15:30] elasticmachine commented on #126797
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-03 15:31] lizozom opened #126798 "Propagate execution context from Observability"
Solutions can now utilize `useExecutionContext` to make sure all outgoing requests (search, saved objects) are properly traced back to a page and an entity (in ES, APM and Fullstory).

[code]

 - Call `useExecutionContext` on the top most react component that renders each page ([list](https://github.com/elastic/kibana/pull/124996/files#diff-98fff32c64649868bddcb297a49280879f7b6a8c2f0da50c0b9ab6487

[2022-03-03 15:32] lizozom opened #126799 "Security solutions"

[2022-03-03 15:32] lizozom opened #126800 "[ML] Propagate execution context from ML"
Solutions can now utilize `useExecutionContext` to make sure all outgoing requests (search, saved objects) are properly traced back to a page and an entity (in ES, APM and Fullstory).

[code]

 - Call `useExecutionContext` on the top most react component that renders each page ([list](https://github.com/elastic/kibana/pull/124996/files#diff-98fff32c64649868bddcb297a49280879f7b6a8c2f0da50c0b9ab6487

[2022-03-03 15:36] lizozom opened #126801 "Enterprise Search"

[2022-03-03 15:39] joshdover commented on #125994
Don't we need to do something similar for policies with a Fleet Server integration policy? cc @mostlyjason

[2022-03-03 15:39] lizozom opened #126802 "Propagate excution context from Management"
Solutions can now utilize `useExecutionContext` to make sure all outgoing requests (search, saved objects) are properly traced back to a page and an entity (in ES, APM and Fullstory).

[code]

 - Call `useExecutionContext` on the top most react component that renders each page ([list](https://github.com/elastic/kibana/pull/124996/files#diff-98fff32c64649868bddcb297a49280879f7b6a8c2f0da50c0b9ab6487

[2022-03-03 15:41] darnautov opened #126803 "[ML] Add context for recovered alerts"
Since https://github.com/elastic/kibana/pull/124972 it's possible to provide a context for recovered alerts. ML alerting rules executors need to be updated to specify a relevant context.

Related meta issue https://github.com/elastic/kibana/issues/126617

- [ ] Anomaly detection
- [ ] Anomaly detection jobs health

[2022-03-03 15:41] elasticmachine commented on #126803
Pinging @elastic/ml-ui (:ml)

[2022-03-03 15:53] suchcodemuchwow opened #126804 "Extract apm data by using apm-parser script"
Apm parser script should extract relevant apm data for load testing. We would like to integrate it to CI and also for local testing we would like to have it as command line app, so we can run independently. Required fields are mentioned in https://github.com/elastic/kibana-load-testing/issues/234

[2022-03-03 15:54] nchaulet commented on #125994
I think Fleet server should be able to run with a policy with a logstash output as we pass the ES output as an argument to Fleet server with `--fleet-server-es, ...` cc @lykkin

[2022-03-03 15:57] manther02 opened #126805 "Specific transaction doesn't open on APM service"
**Kibana version:**
Elastic Cloud Deployment version v7.16.1

**Elasticsearch version:**
Elastic Cloud Deployment version v7.16.1

**Server OS version:**
Elastic Cloud Deployment version v7.16.1

**Browser version:**
Google Chrome Version 99.0.4844.51

**Browser OS version:**
Linux Mint 20.2

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud Deployment

**Desc

[2022-03-03 15:58] elasticmachine commented on #126804
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-03 16:02] kibanamachine commented on #116522
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/595#49f841a4-d87f-441b-9c5b-5e832f6b8dfb)

[2022-03-03 16:05] nchaulet opened #126810 "[Fleet] Handle output deletion via API and preconfiguration"
## Description

By allowing user to have multiple output we allow user to delete output from kibana config file or via the output API. We should have predictable behavior on we handle this deletion and the impact on existing policies.

We should never have a state where an agent policy do not have an output assigned.

I think we can have the following behaviour consistent between the API and the p

[2022-03-03 16:05] elasticmachine commented on #126810
Pinging @elastic/fleet (Team:Fleet)

[2022-03-03 16:11] lykkin commented on #125994
yeah, fleet server doesn't actually get its output information from the usual agent pipeline.

not sure if it's being tracked, but endpoint also doesn't support logstash and should be treated similarly.

[2022-03-03 16:13] nchaulet commented on #125994
@brian-mckinney is working on the implementation for endpoint so it should not be a problem.

[2022-03-03 16:14] kibanamachine commented on #116522
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/595#3995d96b-a4f6-4888-b5a0-0222e6cc79bc)

[2022-03-03 16:31] ThomThomson opened #126811 "[Dashboard][Controls] Allow Configuration of Hierarchical Chaining"
The Control Group should optionally be able to work correctly without hierarchical chaining. When Hierarchical chaining is off, the behaviour should revert to its behaviour pre https://github.com/elastic/kibana/pull/126649.

Hierarchical chaining can slow down dashboard loading, and if complicated queries are set up for Options List Controls, the user may not want them to filter subsequent control

[2022-03-03 16:31] elasticmachine commented on #126811
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-03 16:33] jbudz opened #126812 "Failing ES Promotion: transform creation_index_pattern batch transform with the latest function navigates to discover and displays results of the destination index"
**Chrome X-Pack UI Functional Tests**
**x-pack/test/functional/apps/transform/creation_index_pattern.ts**

**transform creation_index_pattern batch transform with the latest function navigates to discover and displays results of the destination index**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promot

[2022-03-03 16:34] mistic opened #126814 "Improve @kbn/pm integration with Bazel to use a single yarn step"
Currently we rely on multiple yarn installation steps in our integration with Bazel on `@kbn/pm`. That should be accomplished in a single step while refactoring the `reset` and the `clean` commands.

[2022-03-03 16:34] elasticmachine commented on #126814
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-03 16:37] #113468 closed

[2022-03-03 16:37] jbudz commented on #126812
Labels aren't pinging - cc @elastic/ml-ui

[2022-03-03 16:42] #116522 closed

[2022-03-03 16:43] pmuellr commented on #120133
I had started working on this issue in PR https://github.com/elastic/kibana/pull/124262, but got stalled as it was getting complicated.

The idea was to stop supporting the `elastic_cloud` email service string in the UX, and replace it with `other` (and fill in the hard-coded server/port/secure if they weren't set).  But ... in a "deprecated" fashion.  Which then meant that we had to morph incomin

[2022-03-03 16:45] Zacqary opened #126817 "[RAM] Add telemetry around the use of the _mute_all API"
Part of meta issue #125804

Add telemetry around `_mute_all` to assist us in our plans to deprecate it in the future.

[2022-03-03 16:45] elasticmachine commented on #126817
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 16:47] Zacqary opened #126818 "[RAM] Create internal _snooze API"
Part of meta #125804

Create an internal _snooze API, maybe we can have a query params end_time: -1|ISO 8601. If end_time is set to -1, we know that our snooze is forever (set the `mute_all` to true), if not that’s when your snooze needs to end.

[2022-03-03 16:47] elasticmachine commented on #126818
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 16:49] #126376 closed

[2022-03-03 16:55] elasticmachine commented on #126802
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-03 16:55] uri-weisman opened #126821 "Adding fleet support to install integration assets before fleet external CB are being called"
Add fleet support to install integration assets before [Kibana hooks](https://github.com/elastic/security-team/issues/3058#issuecomment-1040192939) are been triggered.
Useful in case CB logic is dependent on integration assets.

Related
https://github.com/elastic/kibana/issues/125270
https://github.com/elastic/security-team/issues/3058

[2022-03-03 16:58] marshallmain opened #126822 "[Security Solution][Alerts] EQL rules don't respect max_signals > 100"
There's currently a bug in EQL rules where the results page size is set to `min(max_signals, DEFAULT_SEARCH_AFTER_PAGE_SIZE)`. `DEFAULT_SEARCH_AFTER_PAGE_SIZE` is 100, so the results set is capped at 100 even if max_signals is set greater than 100.

[2022-03-03 16:58] elasticmachine commented on #126822
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-03 16:58] nmorum commented on #19909
@alexfrancoeur @shaunmcgough is this item prioritized for any of the upcoming releases yet?

CC @fdartayre

[2022-03-03 17:00] dej611 commented on #126312
Cannot reproduce the issue either with or without documents sampling:

<img width="524" alt="Screenshot 2022-03-03 at 17 59 16" src="https://user-images.githubusercontent.com/924948/156613586-1f0f380c-0ae7-4212-8dde-dff519bcab72.png">

Actually without sampling runtime fields are always set as available, no matter the actual returned value.

[2022-03-03 17:02] ryankeairns commented on #118429
Related to https://github.com/elastic/beats/issues/28071

[2022-03-03 17:07] stratoula commented on #126312
@dej611 interesting. I still can 🤔
<img width="626" alt="image" src="https://user-images.githubusercontent.com/17003240/156614981-25e69e9c-611c-41b1-b3de-37d79673ff9f.png">

[2022-03-03 17:08] mikecote commented on #120133
@arisonl we are planning to put this into the backlog. Let us know if you feel otherwise 👍

[2022-03-03 17:09] mikecote commented on #122535
We should split this into smaller deliverables.

[2022-03-03 17:13] flash1293 commented on #126312
This shouldn't be related to document sampling at all - the preview in the popover uses a different API. Did you actually use a composite runtime field or just named two separate runtime fields this way?

That's expected.

[2022-03-03 17:13] vitaliidm commented on #124715
@XavierM

for item 2

[code]

response

[code]

where search query is `alert._id: "alert:8e5a93a0-9320-11ec-9265-8b772383a08d"`

So it looks like, search by id is not supported. It located outside of `_source`, in comparison queries like `alert.coreMigrationVersion` work fine as coreMigrationVersion property located within _source object.

Should we consider introducing ids parameter? Or play with

[2022-03-03 17:14] mikecote commented on #126409
@XavierM regarding `Should we show anything in the Rule Management UI when a rule has an interval lower than the minimum?`. If you think we should, do you want us to open a separate issue?

[2022-03-03 17:18] dej611 commented on #123028
Yes I think this issue is related to that PR.

[2022-03-03 17:18] stratoula commented on #126312
@flash1293 so if you run this query on the dev tools
[code]

it works fine. But I was using Matt's script https://github.com/elastic/kibana/pull/125183. This doesn't work fine but I can't figure out why tbh 🤔

[2022-03-03 17:19] estermv opened #126825 "Alerts data fetching"
### Summary

For the new Observability overview page, we want to show some aggregations about alerts. In particular, we want to display:
* Counter of active alerts
* Counter of recovered alerts
* Histogram with all alerts

<img width="1129" alt="Screenshot 2022-03-03 at 17 57 33" src="https://user-images.githubusercontent.com/2249229/156613780-0b97bb31-05a4-4ced-a714-8647e1456bbe.png">

### Accept

[2022-03-03 17:19] elasticmachine commented on #126825
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-03 17:22] #123028 closed

[2022-03-03 17:24] stacey-gammon commented on #57343
Some new teams recently expressed confusion as to all the places there are documents. Can moving this content to the new dev guide be prioritized?

[2022-03-03 17:25] flash1293 commented on #126312
Yeah, that's the interesting part - putting it in the mapping will work because Elasticsearch knows about the fields. What Matt added is the same feature but at query time on the Kibana layer.

[2022-03-03 17:26] stratoula commented on #126312
A I see now. So Lens should also take care of this now.

[2022-03-03 17:39] XavierM commented on #53144
we are doing bulk update with this ticket -> https://github.com/elastic/kibana/issues/124715

[2022-03-03 17:46] mikecote commented on #126707
Adding blocked until we have collected enough telemetry.

[2022-03-03 17:52] joshdover commented on #115032
Thanks for the detailed answer. I think we're aligned on all of this. If there are no other consumers of the API, I agree we should move towards implementing this all in Kibana and look towards removing this from the registry API altogether. Attempting to do any code sharing here doesn't make sense.

We discovered that we have a more to do for bundled packages due to this problem and are looking t

[2022-03-03 17:58] XavierM commented on #63393
we did not hear any request for this feature, so we are going to close it for now but be my guess to re-open it ;)

[2022-03-03 17:58] #63393 closed

[2022-03-03 18:06] mikecote commented on #126707
Can be answered as of 7.16.1 thanks to https://github.com/elastic/kibana/pull/117805. See `schedule_time_number_s`.

Can be answered as of 8.0.0 thanks to https://github.com/elastic/kibana/pull/115318. See `avg_execution_time_per_day` and `avg_execution_time_by_type_per_day`.

[2022-03-03 18:13] lizozom opened #126830 "Add space and orgId to execution context"
Execution now contains the [app name, page and entity id](https://github.com/elastic/kibana/pull/124996).
We should also pass in the `space` and `cloud org id`, to make attribution of search requests easier.

[2022-03-03 18:13] elasticmachine commented on #126830
Pinging @elastic/kibana-core (Team:Core)

[2022-03-03 18:22] mdefazio commented on #120133
Yes, I think it's good to hide the disabled fields—we typically do this anyway.

[2022-03-03 18:33] alexfrancoeur commented on #32796
@Bamieh can we close this out now with https://github.com/elastic/kibana/pull/126770 ?

[2022-03-03 18:38] joshdover commented on #121184
That is the current behavior, but the change we're implementing in this issue would allow users to also override the out-of-the-box mappings from the integration as an escape hatch. Do you think this is a big problem for APM?

[2022-03-03 18:51] legrego opened #126832 "Document explorer action menu gets stuck"
**Kibana version:** Current main (~ https://github.com/elastic/kibana/commit/e1ac9398d38cb78527360c5ae606b874c464c67f)

**Describe the bug:**

The action menu within the document explorer in Discover can get into a state where it cannot be dismissed, unless one of the menu items is clicked.

**Steps to reproduce:**
1. Navigate to Discover with sample data loaded
2. Expand a document to open the ex

[2022-03-03 18:51] elasticmachine commented on #126832
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-03 18:54] smith commented on #126776
Opened an issue on the internal repo that hosts the feeds to allow CORS requests from localhost.

[2022-03-03 18:59] stacey-gammon opened #126833 "Data Views start contract should not use PublicMethodsOf"
Using these types rather than a pure interface class causes our API documentation to look bad and loose all comments:

<img width="812" alt="Screen Shot 2022-03-03 at 1 56 05 PM" src="https://user-images.githubusercontent.com/16563603/156633305-2bf3207c-24d5-49f3-ae1d-d95e90f0facf.png">

I am writing some best practices and was going to add that saved objects managed by other plugins should not be

[2022-03-03 18:59] elasticmachine commented on #126833
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-03 19:07] ymao1 opened #126837 "[Response Ops] API for Execution History Summary"
For this [meta issue](https://github.com/elastic/kibana/issues/126624), we would like a new internal API to retrieve the data from the event log that will populate the proposed execution log portion of the rule details table.

* This API will be tied to a single rule ID and will perform RBAC by determining if user has access to that rule (same as what the existing event log summary API does)
* Thi

[2022-03-03 19:07] elasticmachine commented on #126837
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 19:09] jen-huang commented on #126747
This would not be trivial to change, and we can consider it as an enhancement of the overall search experience rather than bug.

[2022-03-03 19:12] JiaweiWu opened #126838 "[RAM] Add feature flagging capabilities"
We would like to ship code in a more incremental fashion (Especially for https://github.com/elastic/kibana/issues/126624). Therefore, we need a way to feature flag code/features that are partially complete.

@Zacqary has an implementation here: https://github.com/elastic/kibana/pull/124428/files#diff-8e2ca70700895b17125532779945a1d0ab9076b4d4db304c065b47f82b6628a5

[2022-03-03 19:12] elasticmachine commented on #126838
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 19:18] smith commented on #126776
@elastic/newsfeed says they haven't changed anything with the CORS configuration so it's possible there's some default browser security behavior that's changed.

We should check out other places in Kibana that use the newsfeed to see if they have the same problems on localhost.

We should also look at using the `createNewsFeedApi$` exported from the newsfeed plugin, because right now we're hard-co

[2022-03-03 19:36] JiaweiWu opened #126841 "[RAM] Create data grid component to display logs in rule details page"
Parent Issue: https://github.com/elastic/kibana/issues/126624

For the Logs in Rule details feature, we would like to implement a data grid component (using EUI data grid) to display logs.

The data grid should support the following columns:
- timestamp
- duration
- status
- message

This feature should not be dependent on the API work that is being done in parallel, since we can mock out the API

[2022-03-03 19:36] elasticmachine commented on #126841
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 19:41] JiaweiWu opened #126842 "[RAM] Add date picker and refresh button to query logs in rule details page"
Parent Issue: https://github.com/elastic/kibana/issues/126624

We would like to add the EUI date picker and a refresh button to let the user query/refresh logs with a new date range

The date picker should present a few preset date ranges (Last 24 hours, etc.). It should also let the user choose free form date ranges.

We should feature flag this so allow incremental shipping of features.

[2022-03-03 19:41] elasticmachine commented on #126842
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 19:44] JiaweiWu opened #126844 "[RAM] Add KQL search bar to allow filtering on logs in rule details"
We would like to add a KQL search bar to let the user filter logs in the rule details page using KQL statements

We should feature flag this so allow incremental shipping of features.

[2022-03-03 19:44] elasticmachine commented on #126844
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 19:47] JiaweiWu opened #126845 "[RAM] Create the "Alerts" and "Logs" tabs in the rules details page"
We would like to create the "Alerts" and "Logs" tabs in the rule details page. Once click, it will display the data grid to show logs for the current rule.

We should feature flag this so allow incremental shipping of features.

[2022-03-03 19:47] elasticmachine commented on #126845
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-03 20:02] nreese commented on #120682
Closing, using provided icon with lens choropleth chart https://github.com/elastic/kibana/pull/126819

[2022-03-03 20:02] #120682 closed

[2022-03-03 20:25] madirey opened #126851 "[Security Solution][Threshold][Exceptions] Exceptions are not taken into account when threshold alert timeline is loaded"
**Kibana version:**
7.x, 8.x

**Elasticsearch version:**
7.x, 8.x

**Server OS version:**
any

**Browser version:**
any

**Browser OS version:**
any

**Original install method (e.g. download page, yum, from source, etc.):**
N/A

**Describe the bug:**
Exceptions are not taken into account when threshold alert timeline is loaded.

**Steps to reproduce:**
1. Create a Threshold Rule and add an excepti

[2022-03-03 20:25] elasticmachine commented on #126851
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-03 20:36] VijayDoshi commented on #19909
One observation that is not "Implement Tabs" but accomplishes the some of the use case is to enable cmd + click on links in Discover and other places. Currently many links in Discover (like in the pop-over for fields) add a filter but don't let you command+click to open a new browser tab with that filter.

We are also in the very early stages of figuring out how to make "document level views" more

[2022-03-03 20:38] jasonrhodes commented on #126386
You read (someone's) mind! This has been a topic bouncing around Elastic for a few years, having changed owners a few times due to people coming and going over that long of a timeline. The latest effort is called "entity model". I'll send you some information about it, but yes, we need a way to know about entity existence outside of a query for the monitoring documents created while monitoring tha

[2022-03-03 20:47] kibanamachine commented on #126642
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11882#b3a2d435-b319-4e7e-9d1d-b1ef54de585a)

[2022-03-03 21:00] jportner commented on #118283
I spoke with @gchaps today about out [this Discuss write-up](https://discuss.elastic.co/t/kibana-session-issues/289299/9?u=warkolm) on handling problems with Kibana sessions.
We should probably add actual troubleshooting info to our docs! That post is great, it’s partially covered by our docs already (https://www.elastic.co/guide/en/kibana/current/security-settings-kb.html#security-session-and-coo

[2022-03-03 21:53] stefnestor commented on #126594
@gchaps brought this up on a call today. As a secondary replica, you 1) create empty index `PUT test_kibana126594`, 2) create data view off it, & 3) reproduce Discover view in description (no search).

I agree that when the data view exists, we could say it contains no docs. However, I've found in testing, if you then 4) `DELETE test_kibana126594` that the first load has a hover mention of no matc

[2022-03-03 21:59] chrisronline commented on #51282
@pmuellr Do you think this is still valuable? I'm wondering if we've heard requests like this recently. I'm wondering how much time we should spend researching what it would take to do this, as I think we'd want to maintain some parallelism of actions but perhaps allow some opt-in sequential-ness and support passing in the results from the previous action execution - maybe we can start grouping ac

[2022-03-03 22:03] #125879 closed

[2022-03-03 22:05] stefnestor opened #126860 "[Doc] Kibana Saved Objects Allowed Types"
👋🏼 https://github.com/elastic/support-diagnostics/issues/479#issuecomment-825148583 documents an API endpoint I've validated on 7.17.0 which AFAICT doesn't exist in docs. Is this endpoint considered internal or may we add it to Kibana Docs? I find it useful to know eligible Saved Object types.

[code]

Example response

[code]

Appears added in v7.8.0 via https://github.com/elastic/kibana/pull/617

[2022-03-03 22:05] elasticmachine commented on #126860
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-03 22:46] peluja1012 commented on #77830
Closing. Tooltips for each column were added in this PR https://github.com/elastic/kibana/pull/114023.

Additionally we have a dedicated epic for sorting and filtering. https://github.com/elastic/security-team/issues/1972

[2022-03-03 22:47] matschaffer commented on #125578
The 5 tests above no longer fail on the latest 8.1 run (https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2983/JOB=xpackExtGrp2,TASK=saas_run_kibana_tests,node=ess-testing/testReport/) with the correct roles being set (https://github.com/elastic/elastic-stack-testing/pull/1143).

I see some other `/monitoring/` failures, but after talking with @jasonrhodes I thi

[2022-03-03 22:52] peluja1012 commented on #126086
@jethr0null This is not a bug but an enhancement request that we should add to our planning backlog.

[2022-03-03 22:54] peluja1012 commented on #126085
@jethr0null This one is related to this other [issue](https://github.com/elastic/kibana/issues/126086). I'll add it to our enhancements backlog.

[2022-03-03 22:59] TinaHeiligers opened #126864 "Add doclinks to saved objects migrations failure modes."
Saved objects migrations may fail for various reasons, both during upgrades and Kibana restarts. The logs need to give users guidance to help them resolve problems if they arise.

The logs try to add as much detail as possible but in some situations, we want to provide the full command in the log message. Because it's hard to format the full command maybe adding a link to docs is preferable.

Serv

[2022-03-03 23:00] elasticmachine commented on #126864
Pinging @elastic/kibana-core (Team:Core)

[2022-03-03 23:00] pmuellr commented on #51282
My current thinking is that we'd leverage Kibana expressions to do this.  Somehow expose connectors in an expression context, such that you could execute them in the expression, and then capture the results.  Which could then be used in a subsequent connector execution in the same expression, which used that result.

I think I was originally hopeful that we could somehow just "pipeline" actions to

[2022-03-03 23:04] jasonrhodes commented on #112491
Closing in favor of the other ticket, please reach out if there are other more immediate concerns!

[2022-03-03 23:04] #112491 closed

[2022-03-03 23:17] #105659 closed

[2022-03-03 23:22] Bamieh commented on #32796
@alexfrancoeur Yes! we've merged the first (beta) batch of french translations to be released in 8.2

[2022-03-03 23:22] #32796 closed

[2022-03-03 23:32] jasonrhodes commented on #126555
@simitt / @stuartnelson3 just a heads up that we caught this (you may already be aware)

[2022-03-03 23:33] jasonrhodes commented on #126555
I sized this as "large" for now because of the "unknown" aspects, someone will need to set up all of APM + Stack Monitoring to debug. Hopefully the end result fix is actually quite small.

[2022-03-03 23:43] peluja1012 commented on #126756
Hi @karanbirsingh-qasource, I'm a little bit confused a about the steps followed to reproduce this bug. Could you please send us a video that shows you running through these steps?
[code]

[2022-03-03 23:46] kibanamachine commented on #121044
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/11894#5b11042f-153b-40b0-9d69-f7307c1ecb52)

[2022-03-03 23:48] kibanamachine opened #126870 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/filters/get_filters·ts - apis Machine Learning filters get_filters should return 400 if filterId does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11892#8d613fd4-183f-4577-bca8-f875d4d26f78)

[2022-03-03 23:49] jasonrhodes commented on #122338
I think our only option right now (based on load) is to disable sorting to prevent the broken experience -- if we think it's important, we can log a separate ticket to reintroduce correct sorting here.

[2022-03-04 00:33] mattkime commented on #126833
@stacey-gammon Is there anything inherently wrong with using types this way? Could this be seen as a flaw in the docs generator?

[2022-03-04 00:56] mattkime commented on #119175
No, we show an error which states that the `name` is already in use and needs to be changed.

Yes, we already do this with `title` aka the index pattern.

Yes, but more to the point - if users need the index pattern then they can make it part of the name.

[2022-03-04 01:05] kibanamachine opened #126873 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout·ts - Actions and Triggers app create alert should show error when es_query is invalid"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11899#959074f8-9e31-4791-b9db-e13012f6af75)

[2022-03-04 04:03] karanbirsingh-qasource commented on #126756
Sure @peluja1012 please find below screen-cast of the above written steps , however just to clear the issue is "**User is not able to perform Rule Action** `Duplicate,Enable,Disable` **if user delete the added rule action item(Notification component of the rule) in it**"

https://user-images.githubusercontent.com/59917825/156696978-7c51087d-e0c4-453b-851f-3afd93b2bc67.mp4

[2022-03-04 04:51] samratbhadra-qasource opened #126876 "[Security Solution]: Under `Endpoint Security integration` wrong name shows for `Host Isolation Exception`."
**Describe the bug:**
 Under `Endpoint Security integration` wrong name shows for `Host Isolation Exception`.

**Build Details:**
VERSION: 8.1.0-BC5
BUILD: 50459
COMMIT: 23423b0db7d5ffae1d0578e8d9e2c1afab90cdcf
ARTIFACT: https://staging.elastic.co/8.1.0-d9cd3df6/summary-8.1.0.html

**Preconditions:**
1. Elastic 8.1.0-BC5 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the F

[2022-03-04 04:51] elasticmachine commented on #126876
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-04 04:51] elasticmachine commented on #126876
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-04 05:51] jkakavas opened #126878 "Document when Kibana won't run on interactive setup mode"
Similar to https://github.com/elastic/elasticsearch/issues/83306, we should have a NOTE or a section in Kibana's getting started docs to describe the cases where Kibana won't/can't run on interactive setup mode and use the enrollment process.

ping @azasypkin / @lockewritesdocs

[2022-03-04 05:51] elasticmachine commented on #126878
Pinging @elastic/kibana-security (Team:Security)

[2022-03-04 06:46] amolnater-qasource commented on #113921
Hi @joshdover
Thanks for updating the configuration, we revalidated this with the updated configuration on 8.1 BC-6 self-managed environment.

**Build details:**
BUILD: 50114
COMMIT: 47a2516a0cf6c227f0cb180e9a085d7d99c77d12
Artifact Link: https://staging.elastic.co/8.1.0-3c27bc9c/summary-8.1.0.html

We observed that we are still getting some errors, due to which we are unable to access Fleet tab.

[2022-03-04 06:46] karanbirsingh-qasource opened #126880 "[Security Solution]Auto Refresh incorrect time display"
**Describe the bug**
Auto Refresh incorrect time display

**Build Details**
[code]

**Pre-Condition**
- kibana Version 8.1.0 BC5 should exist
- Any Connector should be present on the kibana

**Steps**
- Login to Kibana
- Navigate to Endpoint Page
- Click on Auto Refresh
- By default 10 sec is set
- Use the up arrow to increase the time in seconds to 90 or manually write 90 in the value area
- Obse

[2022-03-04 06:46] elasticmachine commented on #126880
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-04 06:48] manishgupta-qasource commented on #126880
Reviewed & assigned to @kevinlog

[2022-03-04 07:09] elasticmachine commented on #126870
Pinging @elastic/ml-ui (:ml)

[2022-03-04 07:13] samratbhadra-qasource commented on #125919
Hi @joshdover
We have revalidated this issue on the latest 8.1.0-BC5 build and found that the Endpoint Security integration is updated to v1.5.0 . Please find below the testing details:

**Screenshot:**
![Screenshot (113)](https://user-images.githubusercontent.com/84007952/156706018-45c34ea2-c46b-4f8c-abb2-c5acb207642f.png)

**Build Details:**
VERSION: 8.1.0-BC5
BUILD: 50459
COMMIT: 23423b0db7d5ff

[2022-03-04 07:37] elasticmachine commented on #126880
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-04 07:47] kertal opened #126883 "[Discover] Use Emotion to highlight a row in Document explorer"
The current way highlighting a row when expanded is complex, per cell, and leads to re-rendering of the table:
<img width="527" alt="image" src="https://user-images.githubusercontent.com/463851/156720921-0d8e35e4-a6bf-4e83-a14e-cc9e4543a393.png">

This should be improved by using [Emotion](https://emotion.sh/), since rows can be targeted by adding CSS like this:
<img width="852" alt="image" src="h

[2022-03-04 07:47] elasticmachine commented on #126883
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-04 07:59] simitt commented on #121184
In https://github.com/elastic/kibana/issues/121118 and also in an earlier comment on this issue you mention _allowing additive mapping_. I am a bit confused now of whether or not users would then actually be able to also change the mappings that are shipped with the package. If that is planned, could you elaborate on the requirements for this? Everything I read in this issue, and the other linked

[2022-03-04 08:04] sqren commented on #125789
This issue is no longer needed:
 - https://github.com/elastic/kibana/pull/125646 has been reverted
 - Server-side sorting will be handled in https://github.com/elastic/kibana/issues/126463
 - Filtering by `service.name` (instead of kql) is handled in https://github.com/elastic/kibana/issues/126446

[2022-03-04 08:04] #125789 closed

[2022-03-04 08:21] #98418 closed

[2022-03-04 08:21] #105354 closed

[2022-03-04 08:22] MadameSheema commented on #125473
@deepikakeshav-qasource can you please validate this on 8.1.0BC6? Thanks!

[2022-03-04 08:23] MadameSheema commented on #125480
@deepikakeshav-qasource can you please validate this on 8.1.0BC6? Thanks!

[2022-03-04 08:23] MadameSheema commented on #125491
@deepikakeshav-qasource can you please validate this on 8.1.0BC6? Thanks!

[2022-03-04 08:24] dej611 opened #126886 "[Lens] Datatables are not cleared on layer removal"
**Describe the bug:**

Internal datatables are not cleaned up on layer removal in the configuration, appending any new table to the same multitable data structure.

To reproduce create a Lens visualization, then add a new layer and configure it, then remove it. OPpen the Inspect panel and see that there are 2 tables available to inspect.
Same issues applies also for reference layers.

![multiple_t

[2022-03-04 08:24] elasticmachine commented on #126886
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-04 08:32] simitt commented on #126555
@marclop correct me if I'm wrong - this should be solved by the fix Marc implemented on the APM server side https://github.com/elastic/apm-server/issues/7426.

[2022-03-04 08:41] pgayvallet commented on #126860
`/api/kibana/management/saved_objects/_allowed_types` was meant to be internal. To even go further, all `/api/kibana/management/saved_objects/*` routes are supposed to be only internally used by the SavedObjectManagement plugin, but these routes existed before we even came to the `/api` vs `/internal` distinction, so when we migrated the plugin during the KibanaPlatform migration, we kept the `/ap

[2022-03-04 08:53] kibanamachine commented on #107854
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11929#89ccde70-2123-4d77-8b67-2510ebc6b275)

[2022-03-04 08:53] pgayvallet commented on #58183
Is that a dupe of https://github.com/elastic/kibana/issues/57343?

[2022-03-04 09:10] miltonhultgren opened #126890 "[Logs UI] Update documentation for Logs UI source configuration"
We've recently been making [changes](https://github.com/elastic/kibana/pull/124929) to how the source configuration and settings page in the Logs UI works and our docs page has become a bit outdated.
Even though more changes are coming in this area it would be best if we update these docs for people coming onto 8.X versions.

This is the page we should update https://www.elastic.co/guide/en/observ

[2022-03-04 09:10] elasticmachine commented on #126890
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-04 09:21] dej611 commented on #126521
This bug cannot be reproduced in `main` any longer as https://github.com/elastic/kibana/pull/123941 seems to have fixed it.
Meanwhile as possible workaround, move the filters from the `split-series` configuration to`x-axis`, and that should solve it.

[2022-03-04 09:27] ghost opened #126892 "[Security Solution] Fields under highlighted fields for Indicator rule are not correctly formatted"
**Describe the bug**
Fields under highlighted fields for Indicator rule are not correctly formatted

**Build Details:**
[code]

**Preconditions**
1. Indicator alerts should be created.

**Steps to Reproduce**
1. Navigate to Alerts tab
2. Click on view details icon of indicator rule.
3. Observe that fields under highlighted fields for Indicator rule are not correctly formatted

**Actual Result**
Fi

[2022-03-04 09:27] elasticmachine commented on #126892
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-04 09:29] deepikakeshav-qasource commented on #125473
Hi @MadameSheema

We have validated this issue on **8.1.0 BC6 On-Prem** and Observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/156735239-6079a7e6-973f-4fc9-8c15-bec2378bc26d.png)

**Query** : Field name `kibana.alert.rule.parameters.threat_index` and `kibana.alert.rule.p

[2022-03-04 09:35] elasticmachine commented on #126892
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-04 09:40] janmonschke commented on #125473
@deepikakeshav-qasource yes, those are the correct names. Thanks for testing this again!

[2022-03-04 09:44] #125473 closed

[2022-03-04 09:47] janmonschke opened #126894 "[SecuritySolution] Investigate flaky Suricata tests"
The [Suricata tests](https://github.com/elastic/kibana/blob/d0e30f5475f5c2628c06e4b21353470c5d79704c/x-pack/plugins/security_solution/cypress/integration/timelines/row_renderers.spec.ts#L90) have become flaky and are causing [a lot of re-runs on the CI](https://buildkite.com/elastic/kibana-pull-request/builds/27343#annotation-test_failures). In https://github.com/elastic/kibana/pull/126893 we skip

[2022-03-04 09:50] janmonschke commented on #126892
@deepikakeshav-qasource @michaelolo24 I was talking to @paulewing and @monina-n about this and we'll most likely look at those for 8.2 . E.g. by providing readable labels)

[2022-03-04 10:10] dej611 commented on #125831
Here's a dashboard with color sync and the mosaic chart syncing the inner level colors instead of the top one.
Below the mosaic chart there are two charts:
* first one is using the same data as in the mosaic top level
* second one is using the same data as in the mosaic inner level

<img width="1279" alt="Screenshot 2022-03-04 at 10 58 53" src="https://user-images.githubusercontent.com/924948/1567

[2022-03-04 10:15] kibanamachine commented on #126658
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11932#6ebea07f-7180-4674-9744-9b6acbf65e60)

[2022-03-04 10:21] katrin-freihofner opened #126895 "[Observability alerts table] units are inconsistent"
**Kibana version**:
Edge deployment

**Description of the problem including expected versus actual behavior**:

Sometimes the alert duration is shown in seconds, sometimes it's in milliseconds - it's hard to read the 1,000+ ms and even harder to compare these.
<img width="909" alt="Screenshot 2022-03-03 at 19 21 46" src="https://user-images.githubusercontent.com/20965076/156745187-c7a997db-416d-4e

[2022-03-04 10:24] manishgupta-qasource commented on #126876
Reviewed & assigned to @kevinlog

[2022-03-04 10:57] joshdover commented on #113921
@amolnater-qasource Good catch, these need to be updated for the removal of default packages. I've updated the configs above again to include the fleet_server package.

[2022-03-04 11:09] emma-raffenne commented on #120660
Moving this to backlog as there were not progress on it for some time. On the other hand, from a conversation with @Zacqary, it seems that switching to UUID tracking might not be as simple as thought. Needs to be re-evaluated.
@simianhacker FYI

[2022-03-04 11:12] deepikakeshav-qasource commented on #125491
Hi @MadameSheema

We have validated this issue on **8.1.0 BC6** and Observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
**8.1.0 BC6**
![image](https://user-images.githubusercontent.com/61860752/156753122-3658c7f0-97fd-4458-9201-a87f63a0fd05.png)

**Upgrade Scenario**
![image](https://user-images.githubusercontent.com/61860752/1567

[2022-03-04 11:12] #125491 closed

[2022-03-04 11:13] joshdover commented on #123904
@mostlyjason do we have this enhancement prioritized anywhere? I think it's a fairly low effort change that would benefit customers for both finding assets and giving them a hint at which ones should not be edited directly.

[2022-03-04 11:14] dej611 commented on #110443
Fixed via #126441

[2022-03-04 11:14] #110443 closed

[2022-03-04 11:15] dej611 commented on #110235
Fixed via #126441

[2022-03-04 11:15] #110235 closed

[2022-03-04 11:16] deepikakeshav-qasource commented on #125480
Hi @MadameSheema

We have validated this issue on **8.1.0 BC6** and Observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
**8.1.0 BC6**
![image](https://user-images.githubusercontent.com/61860752/156753786-9cf432c4-f845-4d45-9e69-45cac713ca4c.png)

**Upgrade Scenario: 7.17.0 -> 8.1.0**

![image](https://user-images.githubusercontent

[2022-03-04 11:16] #125480 closed

[2022-03-04 11:19] deepikakeshav-qasource commented on #125473
Hi @MadameSheema

We have validated this issue on **8.1.0 BC6**  with Upgrade scenario and Observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/156754198-3c701875-bdb7-4992-bac4-3e84dcc324d9.png)

Thanks!!

[2022-03-04 11:35] karanbirsingh-qasource commented on #126880
Just to add this issue is also there on Alert Page .

![image](https://user-images.githubusercontent.com/59917825/156756530-700736eb-bdc9-45e7-aea7-0efc093fe8e2.png)

[2022-03-04 11:36] muskangulati-qasource commented on #116114
Hi @kevinlog,

We have observed the same issue for 8.1.0 BC6. Please find below the testing details for the same.

**Build details**
[code]

**Screenshot**
![Issue1](https://user-images.githubusercontent.com/60252716/156756583-873077b9-d6fc-4642-a5d5-e7bdc10cdd27.PNG)

![Exception](https://user-images.githubusercontent.com/60252716/156756590-27355070-74f9-441d-b05b-b51c2d8144c2.PNG)

Hence, we reo

[2022-03-04 11:47] MadameSheema commented on #126880
@karanbirsingh-qasource can you please report a different ticket for the alerts page? Thanks :)

[2022-03-04 11:52] #125479 closed

[2022-03-04 11:53] kertal commented on #126594
Yes, I think having the error here permanently, would be an improvement, so you can't miss the toast.

Good point about the permissions,
`The selected data view contains no documents or you maybe don't have sufficient permissions to view them.` ... well this sounds horrible ... but I bet @gchaps has the right words for this.

[2022-03-04 11:53] jalaine329 opened #126898 "Improved UI within SIEM/Security for Administrators"
**Quick Note:** I am on v7.16.2 so if all of these things have already been done on v8 and forward... sorry.

**1. Negate tags/Automatically tag activated rules:** I spend a fair amount of time looking at the "Rules" tab within the SIEM app. Managing rules in this UI is difficult. I have added an "active" tag to all the rules that I have activated. It would be nice to negate that tag so I could im

[2022-03-04 12:05] karanbirsingh-qasource commented on #126880
ok @MadameSheema

[2022-03-04 12:16] kevinlog commented on #126876
@dasansol92 could you fix this along with the other ticket to make sure the card shows up when we have 0 HI exceptions?

[2022-03-04 12:16] flash1293 commented on #125831
I might miss something here but to me the first one looks much better because the colors in mosaic actually have meaning and everything else is still consistent.

[2022-03-04 12:17] karanbirsingh-qasource opened #126901 "[Security Solution] Auto Refresh incorrect time display on Alert and other page"
**Describe the bug**
Auto Refresh incorrect time display

**Build Details**
[code]

**Pre-Condition**
- kibana Version 8.1.0 BC5 should exist

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Click on Auto Refresh
- By default 10 sec is set
- Use the up arrow to increase the time in seconds to 90 or manually write 90 in the value area
- Observed that for 90 sec 2 minutes is showing which is

[2022-03-04 12:17] elasticmachine commented on #126901
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-04 12:19] dasansol92 commented on #126876
@kevinlog Sure!

[2022-03-04 12:19] kevinlog commented on #116114
@muskangulati-qasource for clarity, did you add a a Host Isolation exception for '00.0.0.0' before isolating the host?  If so, we should be sure we check for that in validation

Does this problem occure if you do not have a host isolation exception entry like that?

[2022-03-04 12:22] samratbhadra-qasource commented on #122237
Hi @pgayvallet,
We have validated this issue on the latest 8.1.0-BC6 build and found that the issue is **fixed** now. Please find below the testing details:

- User is now able to select tags under `Tags` filter and a tick gets display now when a user selects any option.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/156761631-267dad63-523c-46c7-b1fe-3ea5d2910035.mp4

*

[2022-03-04 12:22] #122237 closed

[2022-03-04 12:23] muskangulati-qasource commented on #116114
Hi @kevinlog,

I did not isolated the host.

I just added the entry `00.0.0.0` and the endpoint went to unhealthy state.

Please let me know in case anything is missing from our end.

Thanks!

[2022-03-04 12:31] kevinlog commented on #116114
got it, thanks @muskangulati-qasource .  I'm going to lower the priority on this since it's unlikely that a user would intentionally add an exception like this and if they did, the error message let's them know what's wrong.  We'll fix this for the next patch or 8.2.

[2022-03-04 12:36] joshdover commented on #121099
@elastic/fleet I've completed a first draft of the design options above along with my recommendation. Would love to get feedback on this in the next week or so.

[2022-03-04 12:58] kibanamachine commented on #107854
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11945#44a0d319-9aa3-48eb-b266-66bb0d0fccc5)

[2022-03-04 13:03] manishgupta-qasource commented on #126901
Reviewed & assigned to @MadameSheema

[2022-03-04 13:13] stratoula commented on #126521
I am closing this as this can't be reproduced in 8.1 +

[2022-03-04 13:13] #126521 closed

[2022-03-04 13:14] stacey-gammon commented on #58183
I changed the title yesterday, originally this issue specifically mentioned new platform (hence migrations, and migration examples - not saved object migrations but migrating from old platform to new platform). So I say we close as obsolete, but closing as a dup works fine for me too :D

[2022-03-04 13:16] #126159 closed

[2022-03-04 13:18] stacey-gammon opened #126907 "Error restoring state from URL"
I've been hitting these errors a lot lately. Will start to drop in URLs that trigger them.

- https://overview.elastic-cloud.com/app/dashboards#/view/fe5a0cb0-a72e-11ea-9a7d-cf049fe6fa38?_g=h@a82e3c8 Shared by @rudolf on March 4th.
-
<img width="749" alt="Screen Shot 2022-03-04 at 8 18 58 AM" src="https://user-images.githubusercontent.com/16563603/156770439-b2d47c59-e427-4236-9c4d-0e192b1d2dd9.png

[2022-03-04 13:18] elasticmachine commented on #126907
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-04 13:42] formgeist opened #126909 "[APM] Add rule types to the general list of rules available"
# Summary

The current list of rules available for APM are missing a few rule types. Already reported in https://github.com/elastic/kibana/issues/126580 that we need to add the capabilities to report anomalies on throughput and failed transaction rate which should also be added to this list.

<img width="608" alt="CleanShot 2022-03-04 at 14 37 55@2x" src="https://user-images.githubusercontent.com/

[2022-03-04 13:42] elasticmachine commented on #126909
Pinging @elastic/apm-ui (Team:apm)

[2022-03-04 13:51] pmuellr commented on #126512
Task manager doesn't know anything about snoozing / muting - just alerting.    Feels like we should re-target this for alerting, unless I'm missing something.  Or maybe there is a separate issue to deal with the snoozing / muting changes in alerting?

[2022-03-04 13:55] samratbhadra-qasource commented on #118897
Hi @alexfrancoeur,
While we were testing on the latest 8.1.0-BC6 build we have observed that while the user search `Elastic Agent` integration the search result doesn't show auto suggestion or find the integration based of its name.
However, the integration do show after the search but the user have to manually scroll the page to select the integration. Please find below our observation on the iss

[2022-03-04 14:00] pmuellr commented on #126512
We haven't had events like this in the event log, but here are some thoughts on what we might do instead.

- on alerting/active-instance events, which are written for every active alert, we could indicate whether the alert and/or rule was muted
- we could start generate a new event similar to alerting/execute-action, which is written for every action that is queued to run, which would indicate we

[2022-03-04 14:06] marclop commented on #126555
Yes that's correct

[2022-03-04 14:12] mikecote commented on #126512
Yeah, lets correct the issue to target alerting instead of task manager 👍

[2022-03-04 14:13] #74490 closed

[2022-03-04 14:15] cauemarcondes opened #126910 "[APM][PoC] Trace sampling Service maps v2"
Meta issue: https://github.com/elastic/observability-dev/issues/1981

The idea of this PoC is to remove the logic from the current scripted metric aggregation and execute it on the kibana server.

https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/service_map/fetch_service_paths_from_trace_ids.ts#L51

[2022-03-04 14:17] elasticmachine commented on #126910
Pinging @elastic/apm-ui (Team:apm)

[2022-03-04 14:25] angorayc opened #126911 "[Lens/Discover/Dashboard] Support for ad-hoc data views"
As Lens embeddable only takes Data View id. Therefore, Lens embeddable is not compatible to the Sourcerer we have on our page, which allows users to filter the index patterns under the data view. So we are not going to replace our existing charts with Lens embeddable, we keep the existing charts and create the chart actions by ourselves.
https://github.com/elastic/kibana/pull/126507

https://user-

[2022-03-04 14:25] ymao1 commented on #126837
@JiaweiWu Just based on the screenshot in the meta issue, it seems like a response like this would be desirable?

[code]

Are there additional requirements? We also have this information in the event log (although it is TBD if we can get all of this via pure ES agg).
* number of active alerts
* number of new alerts
* number of recovered alerts
* number of triggered actions
* any errors in the acti

[2022-03-04 14:38] stefnestor opened #126912 "[DOC] Monitoring Kibana Rules"
👋🏼 @KOTungseth @gchaps adding placeholder from our conversation about copying over my [Medium article](https://medium.com/@stefnestor/monitor-elastic-kibana-rules-e7cf5fd4b03d) about monitoring Kibana Rules so Dev can confirm/review. @pmuellr @gmmorris,

[2022-03-04 14:38] elasticmachine commented on #126912
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-04 14:50] joshdover commented on #121934
Some initial findings:
- The current error you'll get in this case on `main` is a validation error that is much less cryptic. Though I haven't validated this, I believe this change happened in https://github.com/elastic/kibana/pull/123153 which was backported to 7.17. So the error message users see now is a bit less confusing:
	<img width="341" alt="image" src="https://user-images.githubuserconten

[2022-03-04 14:58] joshdover commented on #121934
Another area where we removed default quoting in https://github.com/elastic/kibana/pull/114123 opted to use `!!str` directive as a workaround. @nchaulet Do you think it would be problematic to reintroduce quoting, but only in the case where the value starts with `*` or `&`?

[2022-03-04 15:04] #82505 closed

[2022-03-04 15:10] MichaelMarcialis opened #126918 "[Lens] Inspect flyout view selection enhancement"
The current view selection interface for Lens' inspect flyout is currently less-than-ideal. The view selection currently uses a combination of a button and subsequent popover. Interacting with this requires two clicks from a user in order to switch views, even though the popover only contains two options. Additionally, the placement of the button doesn’t look great, with the button being in such c

[2022-03-04 15:10] elasticmachine commented on #126918
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-04 15:25] stacey-gammon commented on #126833
I think it creates a worse DX for API consumers. Consider the two following scenarios and which one you would prefer as a consumer of a public API by viewing it in the IDE.

--------

Option 1 - Using a fully defined interface.
[code]

--------

Option 2 - Using fancy types and redirection.
First developer sees:
[code]

Then they have to click through into `DataViewImplementation`, which also now

[2022-03-04 15:34] kibanamachine commented on #126426
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11958#c44cab57-27b9-44f4-9bff-1c0575bee63a)

[2022-03-04 15:42] mohammed0705 opened #126922 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-03-04 15:42] #126922 closed

[2022-03-04 15:45] ryankeairns commented on #117244
Related designs: https://www.figma.com/proto/IO4ZkJJQMoX6rcyoSbzdEn/New-deployment-UI?node-id=1398%3A237874&scaling=min-zoom&page-id=224%3A139593&starting-point-node-id=1558%3A316697&show-proto-sidebar=1

[2022-03-04 16:05] cjcenizal commented on #126802
@lizozom I think we need more information about what you mean by "all outgoing requests". The vast majority of our requests are to custom API endpoints through the core `http` service. Are these scenarios relevant to the action requested by this issue?

[2022-03-04 16:12] elasticmachine commented on #126911
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-04 16:14] flash1293 commented on #126911
To keep this compatible with the Lens UI, we need to support ad-hoc data views in Lens (do not pick an existing data view from the list, but create it inline without saving). This has a dependency on @elastic/kibana-app-services as data views have to implement the persistable state interface so they can be embedded as part of a Lens configuration.

[2022-03-04 16:18] hop-dev commented on #121184
Hi @simitt, thanks for the comments. Allowing users to change the mappings supplied by the package is not a direct goal of this PR but an acceptable side effect. @joshdover has always described the `@custom` component template as an escape hatch for us so I guess we have now expanded what that template is capable of customising.

[2022-03-04 16:29] vinaychandrasekhar opened #126932 "Hide experimental alert annotations in APM views"
**Describe the feature:**
Due to future enhancements as well as gaps in consistent display of alert annotations across apps, this request is to hide alert annotations in APM views. Note that these alert annotations are currently available in experimental status.

Please contact Actionable Observability PM if further context is needed.

cc @emma-raffenne @simianhacker

[2022-03-04 16:40] elasticmachine commented on #126918
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-04 16:41] flash1293 commented on #126918
This UI is shared across all of Kibana and owned by app services, I'll relabel.

I agree with the sentiment, it would be nice to have a dead simple switch for the views because there are often just 2 or 3 (for more than that it could fall back to the dropdown)

[2022-03-04 16:47] XavierM commented on #124715
@vitaliidm thank you for proving me wrong, I created this PR to fix it https://github.com/elastic/kibana/pull/126933/files

[2022-03-04 16:51] joshdover commented on #115032
@kpollich It'd be good to get an understanding of any remaining work required after #125915 is complete at least for getting parity with the package registry.

For this task I think we still need to:
- Run a complete test on all packages similar to the one you added in #126915 and fix any discrepancies. This can be a one-time thing.
- Start using the Kibana implementation for generating package in

[2022-03-04 16:58] flash1293 opened #126940 "Add functional test suite for multi space visualizations"
Related to https://github.com/elastic/kibana/pull/126499

There should be an e2e test to validate whether saved object id collisions across multiple spaces are handled correctly:
* Dashboard with Lens, Visualize, TSVB, Maps panels (by value and by reference)
* Import into two separate spaces (ids will collide and be changed in the second space)
* On rendering the dashboard, the same data should be

[2022-03-04 16:58] elasticmachine commented on #126940
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-04 17:00] bhavyarm commented on #126940
@LeeDr fyi. Thanks!

[2022-03-04 17:03] flash1293 opened #126941 "[Lens] Optimize percentiles fetching"
Right now on configuring multiple percentiles in a single layer, these percentiles are fetched using separate aggregations. This is not handled well by Elasticsearch.

To improve performance for these cases, multiple percentile aggs in a single layer with matching time shift and filters should be collapsed into a single percentile agg, then mapped back to the correct column per dimension.

[2022-03-04 17:03] elasticmachine commented on #126941
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-04 17:04] #123982 closed

[2022-03-04 17:04] #124394 closed

[2022-03-04 17:04] #124395 closed

[2022-03-04 17:04] #124402 closed

[2022-03-04 17:04] #124406 closed

[2022-03-04 17:04] #124407 closed

[2022-03-04 17:06] bhavyarm commented on #126940
@flash1293. is **import** here same as **copying** into two different spaces?

[2022-03-04 17:17] joshdover commented on #126101
Honest question: is it secure enough to retrieve the public key from a public HTTPS server?

Aside from that, I think we'll still want to have the key in Kibana as well for offline use cases that want to manually upload packages to Kibana that they downloaded from the public registry on another machine.

As Marcin mentioned, we'll also be allowing for configured keys from the filesystem. This coul

[2022-03-04 17:23] kibanamachine commented on #126422
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11964#fbda8d01-bab2-4a4c-9ffe-e9b61c863d60)

[2022-03-04 17:37] mattkime commented on #126911
@angorayc Whats the best way for me to get up to speed on how data views are being used by security solution?

The request for this feature seems necessitated by the filtering of index patterns (on data views). This likely limits interoperability with other kibana apps. I'd like to make sure I understand this before creating additional functionality.

We have flexibility in how we resolve this so

[2022-03-04 17:39] stefnestor commented on #126860
Ah, gotcha 😂. Well it's a lovely find for me. Cheers!

[2022-03-04 17:39] #126860 closed

[2022-03-04 17:44] mikecote opened #126944 "Add allowed host support for email connector recipients (to, cc, bcc)"
As a user, I would like to be able to restrict the email recipients for emails sent by the Kibana email connector to a specific list of allowed hosts.

To accomplish this, I am thinking the following would be necessary
- [ ] 1. Add a `kibana.yml` configuration for the allowed hosts that "to", "cc", and "bcc" can use (by default, all hosts are allowed)
- [ ] 2. Update the email connector params val

[2022-03-04 17:44] elasticmachine commented on #126944
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 17:58] flash1293 commented on #126940
@bhavyarm according to @jportner it's the same thing

[2022-03-04 18:06] peluja1012 commented on #126756
@MadameSheema I believe this bug is a duplicate of this bug, which you filed a few months back: https://github.com/elastic/kibana/issues/69142. I think impact is correct as there is a workaround for it. The proper treatment is probably to warn users before deleting connectors that there are rules associated with them.

[2022-03-04 18:08] mikecote opened #126946 "Warn by default when rules created below the minimum rule interval"
As part of https://github.com/elastic/kibana/pull/125396, we added a feature to prevent creating new rules with an interval below `1m` or `xpack.alerting.minimumScheduleInterval`. After further discussion, we feel concerned about the impact this may have on our users and have decided to do the following changes to mitigate the impact:
- Create the ability to warn instead of prevent when rules are

[2022-03-04 18:08] elasticmachine commented on #126946
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 18:14] mikecote commented on #126946
@kobelb keep me honest in case I missed anything 🙏

[2022-03-04 18:20] ghudgins commented on #33927
Use case: A user wants to bind a variable to a data view (index pattern) so they can offer their users the ability to apply the same visualizations to different data views (with the same schema) without having to offer multiple dashboards

[2022-03-04 18:30] peluja1012 commented on #126332
I think export on read is ok. Saved Object Management also allows export for read-only users. FWIW, Saved Object Management also allows import for read-only users.

<img width="1426" alt="image" src="https://user-images.githubusercontent.com/616158/156821064-8a5e8113-909a-47b5-8582-77e963deddf6.png">

[2022-03-04 18:30] pmuellr commented on #126944
**note: some future thoughts on UX for notifications of email recipients removed via validation of the allow list at runtime**

We had some conversations about how to present the fact that we've removed some recipients from the email when the validation occurs before connector execution (email address came from a mustache variable (only validated at execution time) or email address was allowed whe

[2022-03-04 18:37] pmuellr commented on #126944
I imagine the common scenario will be:

- admin configs the allow list with some list
- rules created using email actions
- later, a new user is added to their system, that they want to send emails, but of course they've forgotten they need to add them to the allow list, so they add that email to the action thinking it will just work

What should happen?  I think it should send the email to the al

[2022-03-04 18:47] pmuellr commented on #126912
I'm not against this, but one of the problems is that as the alerting documents / indices change over time, this information is going to become out of date.  OTOH, over time, I'd expect our monitoring of alerting within the product itself is going to get a lot better and the need for these low-level searches won't be generally needed.

Perhaps we could take the queries we plan on talking about, an

[2022-03-04 18:51] kibanamachine opened #126949 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/index_threshold/alert·ts - alerting api integration spaces only Alerting builtin alertTypes index_threshold rule runs correctly and populates recovery context"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11972#93582031-cadf-47e8-b28e-6adccce1a77c)

[2022-03-04 18:55] ghudgins commented on #125831
++ first one

[2022-03-04 19:02] elasticmachine commented on #91654
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-04 19:17] yctercero commented on #126331
I reached out to the RAC team about this as it has to do with how they implemented this feature within cases. It looks like this behavior was documented here - https://github.com/elastic/kibana/issues/102929

This might be partly a product question. I assume that someone who is assigned read only in "Security" and all in "Cases" is meant to just be working everything having to do with cases. Not s

[2022-03-04 19:17] elasticmachine commented on #126331
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 19:17] tylersmalley opened #126951 "Testing #126950"
Testing https://github.com/elastic/kibana/pull/126950

[2022-03-04 19:17] elasticmachine commented on #126951
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-04 19:18] #126951 closed

[2022-03-04 19:20] yctercero commented on #126332
@deepikakeshav-qasource @MadameSheema closing this one out as it seems it's desired behavior, not a bug. Thanks so much!

[2022-03-04 19:20] #126332 closed

[2022-03-04 19:27] stefnestor commented on #126594
As e.g. for other places: when no results, the Transform UI shows message

![image](https://user-images.githubusercontent.com/26751266/156828781-b5f144f5-b710-4eca-b7dc-5201354ff847.png)

[2022-03-04 19:34] jen-huang commented on #123904
@joshdover I agree that this looks low effort, I'll include it as a candidate for 8.3.

[2022-03-04 20:07] LeeDr opened #126953 "CCS test isn't loading the ccs kbnArchive"
**Describe the bug:**
This test is loading the regular (not CCS) kbnArchive here https://github.com/elastic/kibana/blob/main/test/functional_ccs/apps/discover/_data_view_ccs.ts#L35
and unloading the same regular one here
https://github.com/elastic/kibana/blob/main/test/functional_ccs/apps/discover/_data_view_ccs.ts#L42

I guess we missed these in the review of https://github.com/elastic/kibana/pul

[2022-03-04 20:07] elasticmachine commented on #126953
Pinging @elastic/kibana-qa (Team:QA)

[2022-03-04 20:08] jasonrhodes opened #126954 "TEST AUTOMATION ISSUE"
I'm going to add a label to this issue and not manually assign it to our project. Let's see if it works.

[2022-03-04 20:08] elasticmachine commented on #126954
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-04 20:35] lcawl opened #126956 "[DOCS] Cases in Stack Management"
Relates to https://github.com/elastic/kibana/pull/125224 and https://github.com/elastic/kibana/issues/125479

Milestone 1:

- [x] Add Cases introductory content to the Kibana Guide. Re-use existing content from [Observability Guide](https://www.elastic.co/guide/en/security/master/cases-overview.html) and [Security Guide](https://www.elastic.co/guide/en/observability/master/create-cases.html): http

[2022-03-04 20:36] elasticmachine commented on #126956
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-04 20:36] elasticmachine commented on #126956
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 20:46] #126543 closed

[2022-03-04 20:50] LeeDr commented on #126953
Actually, I think there might be a couple of problems.
That _data_view_ccs.ts test is testing that it can create the Data View from Discover, so I don't think it should be loading a kbnArchive at all?  Certainly not one that already has the save data view already created.

[2022-03-04 20:52] mikecote opened #126961 "[ResponseOps - E&C] Remove references to deprecated APIs due for removal in 8.2"
See https://github.com/elastic/kibana/issues/126509.

We should go through that list and remove references to the deprecated APIs.

[2022-03-04 20:52] mikecote opened #126962 "[ResponseOps - R&AM] Remove references to deprecated APIs due for removal in 8.2"
See https://github.com/elastic/kibana/issues/126509.

We should go through that list and remove references to the deprecated APIs.

[2022-03-04 20:52] elasticmachine commented on #126961
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 20:52] elasticmachine commented on #126962
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-04 20:54] LeeDr commented on #126953
But it also seems that if you don't have any existing data views, Discover just redirects you to http://localhost:5620/app/kibana_overview
Which I think is a bug

[2022-03-04 20:59] XavierM commented on #124715
@vitaliidm and I met yesterday and talked about his observations. I do agree that for observation1#, I missed it and we should do something different and I think the rest of them we were able to clarify them.

[code]
I talked to my team about the validation and we do think that we can validate using validation around rule's params and if we get an error here we do not update this rule and return a

[2022-03-04 21:12] kibanamachine commented on #121482
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11979#a31116f0-7f51-4234-8746-e826ad3b459b)

[2022-03-04 21:21] jportner commented on #121482
This is also the "new error":

[code]

The assertion that's failing is on line 111 below:

https://github.com/elastic/kibana/blob/660023b9404aa7de7f44f7c8af35804c0239128c/x-pack/test/security_api_integration/tests/session_idle/cleanup.ts#L100-L111

I think I know what's causing the test failure. We changed `deleteByQuery` to use a combination of `find` + `bulk`-delete so that we can log audit reco

[2022-03-04 21:41] #126954 closed

[2022-03-04 21:46] jportner commented on #126940
I'll clarify and say that **export from space 1 -> import to space 2** is _nearly_ identical.
There are two small differences:

1. You can export a saved object and exclude its references. You cannot copy a saved object and exclude its references, though.
2. When you import a saved object, if it has a broken reference to an `index-pattern` or `search`, the import UI will allow you to select a new

[2022-03-04 21:59] #121563 closed

[2022-03-04 22:07] jasonrhodes commented on #124152
Replaced by https://github.com/elastic/kibana/issues/126863

[2022-03-04 22:07] #124152 closed

[2022-03-04 22:24] bhavyarm opened #126969 "Dashboard in unsaved status without any editing state changes"
**Kibana version:** 8.1.0 BC6

**Elasticsearch version:** 8.1.0 BC6

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** This is a regression bug from 8.0.x. And happening with a dashboard with a lens viz and pie chart which was migrated

[2022-03-04 22:24] elasticmachine commented on #126969
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-04 22:46] bhavyarm commented on #125547
@ThomThomson. Sorry for the delay. That's a pie chart & lens dashboard panel. But its happening with saved searches, area chart etc etc.  Thanks!

[2022-03-04 22:52] bhavyarm commented on #123861
Reproduced it on 8.1.0 -

https://user-images.githubusercontent.com/7074629/156852773-59db4420-0170-43b2-bdce-70c66605d245.mp4

Here is the error in kibana logs:

[code]

[2022-03-04 22:53] kibanamachine commented on #126949
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11988#b31bea83-5b0e-4861-a694-50b315602d93)

[2022-03-04 23:03] kibanamachine commented on #124776
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11988#5f0a9b45-e1c1-44fc-b46d-59ed5c044113)

[2022-03-04 23:03] kibanamachine commented on #124777
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11988#5f0a9b45-e1c1-44fc-b46d-59ed5c044113)

[2022-03-04 23:08] bhavyarm opened #126971 "Expand on invalid vis type message to user"
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If a user had a pre-existing tag cloud panel and then added vis_type_tagcloud.enabled: false in kibana.yml
Kibana displays "

[2022-03-04 23:08] elasticmachine commented on #126971
Pinging @elastic/datavis (Team:DataVis)

[2022-03-04 23:10] cuff-links commented on #126953
So do you think we need to rewrite this test? I literally just ported it to use CCS but the test always took this form. @LeeDr

[2022-03-04 23:43] ThomThomson commented on #125547
With some preliminary research, it looks like this is coming from the `SavedObjectNotFound` error which just spits out whichever type it's given. So I suppose the Data View saved Object is still called `Index Pattern` behind the scenes?

I will re-assign this to
@elastic/kibana-app-services

for now, because it seems like it isn't dashboard-level

[2022-03-05 00:25] elasticmachine commented on #126971
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-05 00:45] andrew-goldstein opened #126973 "[Security Solution] Update Timeline tooltips to use action words / fewer words"
Update the row-level action button tooltips in Timeline to use action words / fewer words, per the [EUI Guidelines](https://elastic.github.io/eui/#/navigation/button/guidelines) which state:

1) Per the screenshot below, _unpinned_ alerts and events currently display a tooltip that reads `Unpinned event`:

![unpinned_event](https://user-images.githubusercontent.com/4459398/156859282-e0c13c92-4b5c-

[2022-03-05 00:45] elasticmachine commented on #126973
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-05 03:31] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12005#0ab9012e-9b7b-4914-982d-f021cedf9a98)

[2022-03-05 09:30] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12029#9f135b0b-97cc-428f-a11e-28a102fe2ddb)

[2022-03-05 10:04] miltonhultgren opened #126975 "[Stack Monitoring] Make telemetry queries more narrow"
We got [this SDH](https://github.com/elastic/sdh-kibana/issues/2648) recently, where a customer with a lot of Logstash nodes was running into performance issues due to [this query](https://github.com/elastic/sdh-kibana/issues/2648#issuecomment-1058579953). Most likely because the customer has a lot of data (30 days), in a lot of indices (~500) and the query has no time range filter.

While upgrade

[2022-03-05 10:04] elasticmachine commented on #126975
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-05 11:29] kibanamachine opened #126976 "Failing test: Jest Integration Tests.packages/kbn-type-summarizer/tests/integration_tests - collects references from source files which contribute to result"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12036#ff160869-3dd7-4f75-887e-734e76b2dca0)

[2022-03-05 12:45] lizozom commented on #126802
You can see the issue https://github.com/elastic/kibana/pull/124996 and it shows of requests that get the context injected.
It inclueds any request using the `http` or the `bsearch` service (so that would be all `search`, `bsearch` and `saved objects` calls).

Does that clarify the question?

[2022-03-05 16:47] kibanamachine commented on #122025
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/12060#b765e776-3104-44e1-afc2-f18d9540867a)

[2022-03-05 20:24] kibanamachine commented on #126976
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12071#52aef55a-7a15-489a-bd9b-ce78c56b651d)

[2022-03-06 00:12] jugsofbeer commented on #48687
We are still  waiting for a  "per user setting" .

We have over a dozen spaces, but 300 users, not everyone wants to take the default dark mode setting we put in for a space.

[2022-03-06 02:24] kibanamachine commented on #126976
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12094#f754e2f0-c3c3-41b7-837e-37e24d410fbf)

[2022-03-06 02:30] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12099#502f0417-b8aa-4609-b7e9-efff6b357855)

[2022-03-06 06:29] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12113#4ca0261b-501a-4951-9742-82b3e3b32656)

[2022-03-06 06:48] gray-black commented on #16917
Just a heads up that this can also easily be done with kuery:
'_index:animals-dog*'

This allows you to construct an embedded generic dashboard by following: [Custom Kibana URLs](https://www.elastic.co/guide/en/kibana/current/custom-links.html#custom-links-examples-kib)

for example in the URL include:
query:(language:kuery,query:'_index:animals-dog*')

[2022-03-06 07:30] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12120#645957a2-6c4e-4593-b764-05aa4ec016de)

[2022-03-06 12:11] CohenIdo opened #126981 "[Cloud Posture] Benchmarks page support for filtering"
We want users to be able to filter their benchmarks page to find the benchmark they are looking for quickly and easily.

[2022-03-06 12:43] CohenIdo opened #126982 "[Cloud Posture] Benchmarks page endpoint should support sorting"
We want users to be able to sort their benchmarks table by every column so they can easily find the benchmarks they are looking for.

[2022-03-06 13:23] CohenIdo opened #126984 "[Cloud Posture] Add support for search bar in Findings endpoint"
Following the transfer logic of findings endpoint to the backend, add support to term search, tags filter, and date range filter

[2022-03-06 13:30] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12141#e77044c4-8514-4e66-bf29-667b02753a97)

[2022-03-06 14:12] kibanamachine commented on #126112
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12141#e47c9a93-651d-484e-b141-e22f9ec96f10)

[2022-03-06 14:15] CohenIdo opened #126987 "[Cloud Posture] Connect our rule table to the integration configuration"
This task as about adding a function in Kibana that for an instance of our integration, it creates the configuration `data.yaml` based on the rules activation status

[2022-03-06 14:37] CohenIdo opened #126989 "[Cloud Posture] Add index for save latest findings state"
Score Transform tries to find the source index when it launches. The issue is about creating the latest findings index when the plugin starts.

[2022-03-06 15:27] mgiota commented on #123580
@katrin-freihofner Can you clarify a bit more the interaction with the Status column?  I already see a challenge with the current design in the scenario user selects `Muted`. Taking into consideration the fact that muted option should appear in the status column as per your screenshot and considering also the current mute/unmute userflow, here are a couple of questions that arose and my recommende

[2022-03-06 15:51] lizozom commented on #102615
I think this is made obsolete by https://github.com/elastic/kibana/issues/102629 and other recent work.
Closing for now, please reopen if I got it wrong.

[2022-03-06 15:51] #102615 closed

[2022-03-06 16:42] #126821 closed

[2022-03-06 19:12] kibanamachine commented on #126658
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12163#b842d30f-bc7a-4d4d-b69d-9e0ef7cf5671)

[2022-03-06 20:58] TinaHeiligers opened #126991 "unify naming. currently used as config, settings, ui settings, advanced settings"
uiSettings are currently referred to as `config`, `settings`, `ui settings` and `advanced settings` that leads to confusion about what `uiSettings` are.

We should clarify naming and ensure the documentation uses the appropriate term.

[2022-03-06 21:04] elasticmachine commented on #126991
Pinging @elastic/kibana-core (Team:Core)

[2022-03-07 01:27] matschaffer commented on #104095
Reopening this since it's a little more involved than I expected and should probably get addressed separately from https://github.com/elastic/kibana/issues/104094

[2022-03-07 01:59] matschaffer commented on #104094
Note: I re-separated https://github.com/elastic/kibana/issues/104095 since the new bottom drawer design is a bit more than just left/right changes.

[2022-03-07 02:57] kibanamachine commented on #116038
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/12193#311bbea7-a8aa-42df-afee-7c8751730951)

[2022-03-07 04:12] mattkime commented on #123861
@bhavyarm Thanks, thats very helpful. I think there's something in the user and roles setup that I'm failing to duplicate from your setup. Can you share screenshots of the user and roles? As @sebelga stated earlier, it looks like the error isn't in the expected format. A har file capturing the failed request would also be helpful.

[2022-03-07 04:32] kibanamachine commented on #126027
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12204#02c2f8e7-1071-4fc4-b5fb-6f5a637739cf)

[2022-03-07 05:16] matschaffer opened #126999 "[Metrics UI] Inventory - Legend options on Mobile"
The Legend Options extends outside of its container on the smallest breakpoint:

![Screen Shot 2022-03-07 at 14 14 06](https://user-images.githubusercontent.com/690/156972217-74487013-87f2-4468-b863-babfd3bd009d.png)

The legend controls component is defined here: https://github.com/elastic/kibana/blob/0f7cfd16f7e68b2ad455347d2a7a60940fc0c8b1/x-pack/plugins/infra/public/pages/metrics/inventory_vie

[2022-03-07 05:16] elasticmachine commented on #126999
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-07 05:45] kibanamachine commented on #96202
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/12208#fa1b0879-b5e6-4fe7-a1e0-ff26731fc089)

[2022-03-07 06:06] kibanamachine commented on #126873
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/12207#ada651da-4c1f-49b6-902f-3ba892e51aae)

[2022-03-07 06:14] karanbirsingh-qasource commented on #122654
Hi @MadameSheema

This issue is start occuring on `8.1.0 BC6` .  Security new is not populated even though `securitySolution:enableNewsFeed` is enable under advance setting

**Build Details**
[code]

**Screen-Shoot**

![image](https://user-images.githubusercontent.com/59917825/156978079-d33fd366-0d1f-49bd-8e0c-af3270b36ab3.png)
![image](https://user-images.githubusercontent.com/59917825/156978093-

[2022-03-07 06:57] MadameSheema commented on #126756
Closing as duplicate of https://github.com/elastic/kibana/issues/69142

cc @yctercero

[2022-03-07 06:58] MadameSheema commented on #69142
Please check https://github.com/elastic/kibana/issues/69142 for more information.

[2022-03-07 06:58] #126756 closed

[2022-03-07 07:04] elasticmachine commented on #122654
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-07 07:05] MadameSheema commented on #122654
@stephmilovic can you please take a look at this when you have the chance? Looks like this is broken again.

[2022-03-07 07:55] kibanamachine commented on #123284
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12214#b5a5d5b6-13e7-464a-8eaf-b52f659840a5)

[2022-03-07 07:58] formgeist commented on #111325
As indicated in https://github.com/elastic/kibana/issues/123256 this is one of the most prioritized features for places where the Logs component is embedded as it can provide additional details without having to navigate away from the existing context.

@jasonrhodes Do you want to ensure that we prioritize on our roadmap as part of supporting embedded use-cases within Observability? Thx

[2022-03-07 08:29] jackz7 commented on #126759
I want it without using <iframe>

[2022-03-07 08:33] #104094 closed

[2022-03-07 08:41] amolnater-qasource opened #127000 "[Fleet]: Different `ecs version` for a single agent found under Discover tab and unable to filter data using `8.0.0` version."
**Kibana version:**  8.1 BC-6 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.1 BC-6 Kibana cloud environment should be available.
2. Agent must be installed using Agent Policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Discover tab, observe available data.
3. Observe dif

[2022-03-07 08:43] amolnater-qasource commented on #127000
@manishgupta-qasource Please review.

[2022-03-07 08:48] pgayvallet commented on #126991
`config` should ihmo only be used to refer to the saved object (type) that is holding the ui/advanced/settings.

Regarding `settings` vs `ui settings` vs `advanced settings` I agree that we should stick to one naming only. @TinaHeiligers  given the changes we foresee regarding user settings, which one do you think would make the most sense to use for the 'current' uiSettings?

[2022-03-07 08:57] mtojek commented on #126101
Let me answer some of your questions.

I share concerns here. It would be safer to let the user provide it unless we include it in distributions (for example as part of a Docker image).

I linked the infosec thread.

We have a Jenkins job that can pull packages from the v1 storage and sign them, so we have all components required. We will provide a job, which will refresh all signatures.

Thinking

[2022-03-07 09:04] MadameSheema commented on #125190
@michaelolo24  please update the version labels ;)

[2022-03-07 09:04] MadameSheema commented on #126669
@yctercero please update the version labels ;)

[2022-03-07 09:13] pgayvallet commented on #64265
1. regarding config splitting

Kibana already supports it. Passing multiple `--config` parameters is supported and will use and merge all the provided config files, in order.

2. regarding environment variables

Kibana already supports it, using the `${VAR_ENV}` syntax

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/packages/kbn-config/src/raw/read_config.ts#L18-L2

[2022-03-07 09:34] pgayvallet commented on #126672
The obvious easy approach would be a dedicated CLI for such maintenance-related operations. However, this will not work on Cloud as the user would not be able to use such CLI tools, so we can probably exclude this idea, unfortunately.

I find CLI/config option potentially very dangerous for this scenario to be honest. What if the user forgot to unset the option after the rollback? What if a versio

[2022-03-07 09:37] academo commented on #126070
closed with https://github.com/elastic/kibana/pull/126265

[2022-03-07 09:37] #126070 closed

[2022-03-07 09:56] pgayvallet commented on #58183
Closing as `Math.rand() > 0.5 ? "obsolete" : "duplicate"`

[2022-03-07 09:56] #58183 closed

[2022-03-07 10:20] Dosant commented on #126833
Just a note that this suggestion is also applicable for most of the app-services plugins, not only DataViews.

 I'd like to add that it is a lot harder to find the implementation code when using `option 1` which is sometimes also needed.
 `core` is using `option 1` approach and for me, it is often very difficult to find an implementation of anything in `core` because of `option 1` code structure.

[2022-03-07 10:31] manishgupta-qasource commented on #127000
Secondary review for this ticket is Done

[2022-03-07 10:39] afgomez opened #127006 "[Unified observability] Remove anything different than `useKibana`..."
...that provides the same functionality.

Historically plugin authors have built their own solutions to expose kibana core and services to their own plugins (like for example in [observability](https://github.com/elastic/kibana/blob/3fd2d5f93b269badcee5e7a4a3028a49ab95590c/x-pack/plugins/observability/public/application/index.tsx#L83-L84)). The core team offers the hook `useKibana` that provides t

[2022-03-07 10:40] elasticmachine commented on #127006
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-07 10:42] samratbhadra-qasource commented on #107267
Hi @kevinlog,
We have revalidated this issue on the latest **8.1.0-BC6** build and found that the issue is **fixed** now. Please find below the testing details:

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/157015552-180c896a-9656-4e1b-bc93-8c4ff281b2c6.mp4

**Build Details:**
VERSION: 8.1.0-BC6
COMMIT: 4aaeda23aea9c3bf29698878c70a0107ea3c1659
BUILD: 50485
ARTIFACT LIN

[2022-03-07 10:42] #107267 closed

[2022-03-07 10:47] #126611 closed

[2022-03-07 11:02] flash1293 commented on #126971
We could put another sentence below - `Check whether the plugin is disabled in your kibana.yml` file. Do you think that would help @bhavyarm ?

[2022-03-07 11:14] #73060 closed

[2022-03-07 11:18] prachigupta-qasource opened #127008 "[Security Solution] Delete banner is shown under the Saved query pop-up on deleting the saved query"
**Describe the bug:**

Delete banner is shown under the Saved query pop-up on deleting the saved query

**Kibana/Elasticsearch Stack version:**

[code]

**Steps to reproduce:**

1. Navigate to Rules tab under Security
2. Click on 'Create new rule' button.
3. Click on 'See saved queries' icon near 'Custom query'
4. Click on 'Save as new' button
5. Enter name and description on 'Save' query  pop-up

[2022-03-07 11:18] angorayc commented on #126911
@mattkime , yes, in Security Solution's use cases, our data view allows users to filter index patterns under the given data view, this allow us to have better performance when loading data. However this also brings the inconsistency between Security Solution and other apps like Observability and Lens, as the data view only takes data view id. I understand that we can apply `_index` filter when ope

[2022-03-07 11:19] angorayc commented on #126911
Please feel free to visit https://kibana.endpoint.elastic.dev/app/security/hosts/allHosts and play around with the data view.

[2022-03-07 11:26] elasticmachine commented on #127008
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-07 11:33] ghost opened #127009 "[Security Solution] Deleted query is getting populated when click on save changes option and "Save" button is enabled."
**Describe the bug:**
Deleted query is getting populated when click on save changes option and "Save" button is enabled.

**Build Details:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Rules under security.
2. Click on "Create New rule" button.
3. Select Custom query rule.
4. Save two queries under q

[2022-03-07 11:35] flash1293 commented on #33927
@ghudgins This is a valid use case - a workaround right now is to use a data view which matches all of the targeted indices, then adding a filter on the `_index` field to narrow it down.

[2022-03-07 11:47] karanbirsingh-qasource opened #127010 "[Security Solution]Agent status investigation in timeline issue"
**Describe the bug**
Agent status investigation in timeline issue

**Build Details**
[code]
**Preconditions**
- Kibana 8.1.0-BC6 should exist
- Alerts from any rule should be present on the build

**Steps**
- Login to Kibana
- Navigate to Alert Page and click on any alert to view the alert details
- hover the mouse over the Agent.Status field
- Click on Add to timeline
- Observed that agent.status

[2022-03-07 11:47] elasticmachine commented on #127010
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-07 11:48] manishgupta-qasource commented on #127010
Reviewed & assigned to @MadameSheema

[2022-03-07 11:49] elasticmachine commented on #127010
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-07 11:54] mgiota opened #127011 "Create new rule"
<img width="450" alt="Screenshot 2022-03-14 at 10 01 42" src="https://user-images.githubusercontent.com/2852703/158139064-5b2caa01-6cd9-4884-bee6-878e5a59cae7.png">

[2022-03-07 12:05] mgiota opened #127012 "Filter per observability rule types"
This is sub-issue of https://github.com/elastic/kibana/issues/123582

[2022-03-07 12:05] mgiota opened #127013 "[o11y rules] Consume shareable filter per tags"
Depends on https://github.com/elastic/kibana/issues/130158
<img width="1104" alt="Screenshot 2022-04-12 at 15 47 13" src="https://user-images.githubusercontent.com/2852703/162980699-ebf47267-3dec-48fe-b8bf-7d1415845b58.png">

### Acceptance criteria
- Use shareable component from triggers_actions_ui plugin once https://github.com/elastic/kibana/pull/130710
 is merged

cc @JiaweiWu

[2022-03-07 12:05] mgiota opened #127014 "Filter per last response"

[2022-03-07 12:06] mgiota opened #127015 "Filter per status"

[2022-03-07 12:07] Kerry350 commented on #126317
Fix is here: https://github.com/elastic/kibana/pull/125109/commits/3b43939f2eef8639dbb67c515e673ed6eabbec26 when that PR merges.

[2022-03-07 12:23] joshdover commented on #121934
@nchaulet is correct, Fleet UI really can't assume much at all about how variables are being used in package templates. The only thing I can think of that Fleet could explore is disabling some of the more advanced YAML features, but this would need to be coordinated with Elastic Agent's YAML parsing as well and it doesn't appear to be a supported feature in the YAML library we're using today in Fl

[2022-03-07 12:24] kibanamachine opened #127016 "Failing test: Jest Integration Tests.packages/kbn-type-summarizer/tests/integration_tests - prints the function declaration, including comments"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12230#6b0635f8-fc30-4db3-95d0-04fe6a1e1eac)

[2022-03-07 12:31] dgieselaar opened #127018 "[APM] Spark plots for service inventory only show for top 10 services"
We only display spark plots for the top 10 services. This bug was introduced in https://github.com/elastic/kibana/pull/116258, where the `size` parameter was removed, meaning the terms aggregation will only return the top 10 buckets (sorted by doc count).

[2022-03-07 12:31] elasticmachine commented on #127018
Pinging @elastic/apm-ui (Team:apm)

[2022-03-07 12:31] #126981 closed

[2022-03-07 12:36] miltonhultgren commented on #120377
Quick update:
I'm still on SDH this week, but last Friday I managed to cover 2 of the remaining 4 "must do" items. So only 2 left to cover before the PR is ready.
I hope to cover 1 of those today (SDH is calm on Monday) which is putting the component into Storybook, that should let people give feedback on the final look and feel of it while I work on how to expose it for APM to consume.

[2022-03-07 12:54] afharo commented on #110367
I just validated this issue in a blank deployment on Cloud.

The Welcome component is relying on `dataViewsService.hasUserDataView()`. Looking at the network requests, it relies on `GET /api/index_patterns/has_user_index_pattern`. And it is returning `true` for a brand new deployment 🤯

Looking at [the implementation](https://github.com/elastic/kibana/blob/6627bd8b3ab49415e397495d8e076f9861fcc894/

[2022-03-07 13:06] amolnater-qasource commented on #113921
Hi @joshdover
Thank you for updating the configuration. We have revalidated this on 8.1 BC-6 self-managed environment and found it **working fine**.

**Steps followed:**
1. Started self-managed kibana with below config in `kibana.yml`.
[code]
2. On Fleet>Agent Policies> Elastic Cloud agent policy is available `with only Fleet Server integration`.
3. Stopped kibana and added updated configuration:

[2022-03-07 13:07] shahzad31 commented on #117921
Fixed by https://github.com/elastic/kibana/pull/125916

[2022-03-07 13:08] joshdover commented on #109017
Makes sense to me, we also removed this default policy business so it shouldn't happen at all anymore.

[2022-03-07 13:10] joshdover commented on #126067
I'm downgrading the impact here since this is really a privileges issue that we could better surface in the UI but it is not really a broken feature.

[2022-03-07 13:13] #126488 closed

[2022-03-07 13:14] #126598 closed

[2022-03-07 13:15] rudolf commented on #126672
yes

Agree, it wouldn't harm to make it configurable.

Another perspective on this problem could be to completely rely on snapshots for rollback so without snapshots it's just not possible. Now that there's a ["Kibana feature state" in snapshots](https://www.elastic.co/guide/en/elasticsearch/reference/8.0/snapshot-restore.html#feature-state) it's much easier for users to only restore the Kibana sy

[2022-03-07 13:21] kibanamachine commented on #127016
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12236#c340655a-07e4-4698-8cf5-a79f32441ec8)

[2022-03-07 13:24] tsullivan opened #127020 "[Reporting] Application Privileges for PNG/PDF exports incorrectly require platinum license"
If using the [new permissions](https://www.elastic.co/guide/en/kibana/current/secure-reporting.html#grant-user-access) with `xpack.reporting.roles.enabled: false`, and a `gold` license, PNG/PDF reporting features are not available due to a bug.

[2022-03-07 13:27] dgieselaar commented on #126593
@graphaelli proposed to load data progressively, e.g. sample with a probability 0.01, 0.1, and none, and display whatever has the lowest sampling rate on screen as data comes in. This would allow us to make this a boolean flag (enabled or disabled), and the user would still see the most accurate data as possible. We could also abort running requests after some time has passed and at least one reso

[2022-03-07 13:30] kibanamachine opened #127023 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_filter·js - management index pattern filter should filter indexed fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/12237#d7923a0e-21be-47ba-87da-104250e5e5a4)

[2022-03-07 13:37] banderror commented on #126084
I added this issue to the 8.2 checklist - we may consider addressing it in `8.1.1`.
However, just want to point out that the Tour UI will be removed in `8.2.0`: https://github.com/elastic/kibana/issues/125504

[2022-03-07 13:41] tsullivan commented on #78243
This will be handled in https://github.com/elastic/kibana/pull/127017

[2022-03-07 13:41] #78243 closed

[2022-03-07 13:51] banderror commented on #126046
@peluja1012 Showing all existing concrete indices in ES might blow up the UI, so we'd need to reduce them to index patterns somehow. I don't think there's a deterministic reliable way to do this because ES doesn't force any naming conventions for indices.

Alternatively, we could list all index patterns already specified in existing rules. It would be a simpler and deterministic implementation but

[2022-03-07 13:56] #125262 closed

[2022-03-07 14:07] jloleysens opened #127026 "[Reporting] Use `core.docLinks` instead of hardcoded link paths"
We are using hard-coded link paths like `https://www.elastic.co/guide/en/kibana/current`. In `x-pack/plugins/reporting/server/routes/diagnostic/browser.ts` and possibly other places. We should rather use the URL provided by core and just specify the path.

[2022-03-07 14:07] elasticmachine commented on #127026
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-07 14:07] elasticmachine commented on #127026
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-07 14:14] mikecote commented on #126946
We also have this issue (https://github.com/elastic/kibana/issues/126409) which will cover the UX when the system prevents creating rules with an interval below the configuration.

[2022-03-07 14:14] mikecote commented on #126409
We also have this issue (https://github.com/elastic/kibana/issues/126946) which will cover the UX when the system warns users when they create rules with an interval below the configuration.

[2022-03-07 14:16] mikecote commented on #122535
Removing `How much time was spent in elasticsearch searches?` (moved to https://github.com/elastic/kibana/issues/125967) and `How much event loop delay was occurring during a rule execution?` (moved to https://github.com/elastic/kibana/issues/124366).

[2022-03-07 14:18] alexfrancoeur opened #127027 "Sharing saved searches across spaces"
Some users would like the ability to share saved queries (✅ done) and saved searches across spaces. With share capable SO's now available (https://github.com/elastic/kibana/issues/27004), we should be able to build these experiences where ever search is available. Adding this issue as a placeholder for this request.

[2022-03-07 14:23] alexfrancoeur opened #127028 "Private saved queries and searches"
Analysts in Kibana would like the ability to save their saved searches and saved queries so that they are only visible to the original author. This allows users to iterate on a search in an ad-hoc manner and share with other users when ready. Today, any saved search or query is visible to anyone with access to the same space. This is placeholder for this enhancement request and more detailed requi

[2022-03-07 14:25] pmuellr opened #127029 "[ResponseOps] event log mapping from template not applied"
**Kibana version:** 7.16.3

Just saw a case where an event log index for 7.16.3 `.kibana-event-log-7.16.3-000001` seems to have "auto" mappings set up, instead of using the mappings provided in the template.

Looking in the es diagnostics package file `mappings.json`, you can see:

[code]

But for a previous event log index, it looks like this:

[code]

I'm assuming the user didn't do this to them

[2022-03-07 14:25] elasticmachine commented on #127029
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-07 14:31] jportner commented on #105436
Now that #123991 has been merged, as of 8.2, one shareable saved object type is now visible in the Saved Objects Management page. We should go ahead and update the docs as described in this issue.

[2022-03-07 14:32] alexfrancoeur opened #127032 "Reporting on query details for a Kibana instance"
Administrators and users alike would like more insight into the searches and queries in Kibana. Ideally, this would surface as both a user experience in Kibana and a scheduled report. Some example metadata related to searches listed below.

- list of queries by duration in seconds
- range of query
- timestamp
- user
- space
- query
- index scanned
- status
- error messages
- query execution (was i

[2022-03-07 14:34] mtojek commented on #126101
Let me respond from the user perspective: we assume that all packages will be signed, some of them might have been installed using insecure more (without signature validation). Whenever a user or Kibana triggers updating the package, it should be checked in EPR if the signature exists.

[2022-03-07 14:37] jportner opened #127034 "[Docs] Add dev docs for sharing saved objects"
In the 8.0 release, we updated most "isolated" saved object types to become "share-capable": #100489

In the 8.2 release, data views have been further changed to become fully "shareable": #123991

Now that data views are shareable, other saved object consumers which rely on data views will be able to start implementing shareable saved objects too. We have a developer guide but it doesn't include i

[2022-03-07 14:37] elasticmachine commented on #127034
Pinging @elastic/kibana-security (Team:Security)

[2022-03-07 14:37] elasticmachine commented on #127000
Pinging @elastic/fleet (Team:Fleet)

[2022-03-07 14:38] jportner commented on #27004
Yes!

Yes!

We still aim to introduce some developer documentation so folks can leverage this functionality: #127034

Aside from that, I think we can close this issue since we aren't trying to be prescriptive about when consumers leverage this functionality. I'll let @arisonl weigh in though.

[2022-03-07 14:44] kesslerm commented on #114752
@cjcenizal It appears that `@vladpro25` is no longer on the team. Could you please let me know if there is something we can do about this bug? I can easily reproduce it locally.

[2022-03-07 14:50] ersin-erdal commented on #124807
Wow, how come i didn't get any notification and missed all these conversation :)
So, we respect both the config from kibana.yml and the param that passed through the ruleType definition? like:

`rule type timeout from yml`  -or- `global rule timeout from yml` -or- `ruleType.ruleTaskTimeout`

I am not sure if this works. `global rule timeout from yml` has a default value in our config... so it neve

[2022-03-07 14:51] sqren opened #127036 "[APM] Ability to search tables by specific field"
~In https://github.com/elastic/kibana/issues/126446 we are going to replace the kql bar on the Service Inventory page~
EDIT: we should not remove the kql bar entirely - at least this issue is not concerned with that.

We already have the kql bar which can search across any field, and will filter all components on the page. This is both very powerful but also confusing.  In addition to the kql bar

[2022-03-07 14:52] elasticmachine commented on #127036
Pinging @elastic/apm-ui (Team:apm)

[2022-03-07 14:57] Dosant commented on #110367
for 7.x everything seems to be working fine in cloud, so I think for 7.x tests are just flaky.

I confirmed this is the issue for 8.0+

[2022-03-07 15:06] gtback commented on #122654
I confirmed there's data in https://feeds.elastic.co/security-solution/v8.1.0.json (assuming that's the URL being requested).

[2022-03-07 15:11] shahzad31 commented on #126473
weird, they were working on when we created new plugin. we badly need e2e test for this

[2022-03-07 15:27] mikecote commented on #122535
Might be worth using percentiles and maybe breaking down by rule type.

[2022-03-07 15:33] #27004 closed

[2022-03-07 15:40] mdefazio commented on #124888
Updated mockup showing observability's enabled/disabled badge UI and adding a snoozed option.  This makes sense for the MVP which allows snoozing to start immediately and go for a desired time.  But we will need to tweak this when scheduled snoozing is available since a rule can be enabled, but have an upcoming snooze scheduled.  We will need to provide a separate UI indicator for this.

![image](

[2022-03-07 15:44] mholttech commented on #65706
This would definitely be useful for us to allow for scheduling of maintenance windows to prevent false alerts. We have a lot of  teams complaining about this right now.

[2022-03-07 15:53] bhavyarm commented on #123861
@mattkime the only difference I see between your role and mine is that - my role has access to one specific space. Thanks!
<img width="1792" alt="Screen Shot 2022-03-07 at 10 52 01 AM" src="https://user-images.githubusercontent.com/7074629/157069021-b7ecc76a-637f-4e11-a036-6bf9dbdd5c7b.png">

[2022-03-07 16:04] hop-dev opened #127041 "[Fleet] Remove `agentIdVerificationEnabled` config option"
Per @nchaulet's comment [here](https://github.com/elastic/kibana/pull/124013#issuecomment-1058149458), the `agentIdVerificationEnabled` config option was designed as a feature flag to disable the fleet pipeline on release of the feature.

The flag is consumed [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts#L91)

[2022-03-07 16:22] FreerideTheWorld opened #127045 "Elastic APM integration does not show up"
**Elastic Cloud Enterprise: 2.13.0**
**Kibana version: 7.17.0**
**Elasticsearch version: 7.17.0**
**Browser OS version: Chrome**

**Describe the bug:**
If I'm not mistaken the appropriate APM Integration right now is the Elastic APM and not APM.  If this is correct the Elastic APM integration is virtually impossible to find.  I have been unable to reproduce the steps that I took to find the /app/i