[2021-07-20 15:37] MadameSheema commented on #106212
@monina-n thanks for your help :)

ping @peluja1012 @spong

[2021-07-20 15:37] timductive commented on #31922
closing based on comments, please re-open if issue persists.

[2021-07-20 15:37] #31922 closed

[2021-07-20 15:38] timductive commented on #24243
closing as duplicate of #86728

[2021-07-20 15:38] #24243 closed

[2021-07-20 15:39] timductive commented on #17025
closing based on comments, please re-open if issue persists

[2021-07-20 15:41] #80310 closed

[2021-07-20 15:41] timductive commented on #14717
closing based on feature development, please re-open if issue persists

[2021-07-20 15:41] #14717 closed

[2021-07-20 15:42] lizozom opened #106274 "[Autocomplete] Communicate implementation changes clearly to users."
Derived from https://github.com/elastic/kibana/issues/104515

- Move the selection of autocomplete method to Advanced Settings (currently in kibana.yml under `data.autocomplete.valueSuggestions.method`. Replace with `autocomplete:useEnumApi`).
- Create an FTUE (similar to Search Sessions) to highlight the changes in the results, focusing on Improved performance and linking to documentation. Needs

[2021-07-20 15:42] elasticmachine commented on #106274
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-20 15:42] timductive commented on #14153
closing based on feature development, please re-open if issue persists

[2021-07-20 15:42] #14153 closed

[2021-07-20 15:48] alexwizp commented on #106033
`Required one of fields [field, script], but none were specified.` - it's a ES error message which means that you need to fill `Time Field`. I only see one possible scenario when you see this error message: your default index was created without a `default time field`.

![image](https://user-images.githubusercontent.com/20072247/126355213-dcf95687-557e-4776-baa8-5b31c361c24e.png)

[2021-07-20 15:49] wwang500 opened #106275 "[ML] Data frame analytics results view shows empty page"
On latest master build (jul 19)

Step to reproduce:
1. on Data Visualizer,  import the `imbalance.csv` file to index: `imbalance`
[imbalance.csv](https://github.com/elastic/kibana/files/6849595/imbalance.csv)

2. During the import, change the mapping of column 30 from `double` to `long`:
[code]

3. create and start dfa job from dev console:

[code]

4. after job finished, try view the result from

[2021-07-20 15:52] YulNaumenko opened #106276 "[Alerting UI] Add visual indicator of the next request delay between rules enable/disable switch clicking."
Currently we have a Switch EUI control for changing Rule enabled property in the Rules list and Details pages.
If the user interacting (clicking) fast on the switch button, too many request are sent to the server, which could cause the Kibana errors (crash sometimes):
![126186318-9572985b-5a1d-4c77-9f5f-8ee1063aa749](https://user-images.githubusercontent.com/55110838/126355658-5de23c5d-17e2-4736-a

[2021-07-20 15:52] elasticmachine commented on #106276
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-20 15:58] elastic-jb commented on #106274
I am on board with this plan.

[2021-07-20 16:00] YulNaumenko opened #106281 "Rename the rule Active status to Triggered."
RAC uses the term triggered here: #103270
We need to investigate if this the same as the alerting Active and make sure we use a consistent language across.
Based on the discussion with @arisonl, the term Triggered may be more descriptive than current Active (we use this term in other places e.g. "Notify when the alert become active").

[2021-07-20 16:00] elasticmachine commented on #106281
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-20 16:01] elasticmachine commented on #106275
Pinging @elastic/ml-ui (:ml)

[2021-07-20 16:05] jportner commented on #100202
The support case I was helping with was running 7.12.0, thanks for linking this here!

[2021-07-20 16:12] kevinlog commented on #106142
@joshdover I agree that we should fix this in code regardless of the root cause in order to prevent upgrade issues for customers who may be in the same state.  I have a PR here to address it: https://github.com/elastic/kibana/pull/106280

I'm still confused on how this cluster got into this state and we should continue to investigate.

I pulled data from ES instance where the upgrade failed and pu

[2021-07-20 16:15] alexwizp commented on #104665
@dej611 @stratoula  @timductive  I think this is a correct behavior cause default index is a `Kibana feature,` not `ES`. It does not seem correct to me for this case to process the request as for an ES index.

[2021-07-20 16:18] joshdover commented on #100202
Though this was fixed for the Task Manager case, I went ahead and removed this recursive meta field which really isn't useful and actually leaks some status information across plugin dependency boundaries in some cases. This should help prevent this from happening again in the future: https://github.com/elastic/kibana/pull/106286

[2021-07-20 16:22] alexwizp commented on #87379
Not actual for 7.13.2 and 7.14. Closed

v.7.14 (bc3)
![image](https://user-images.githubusercontent.com/20072247/126359896-fd638ae6-644f-4689-b6e2-d255a76ec0dc.png)

v7.13.2
![image](https://user-images.githubusercontent.com/20072247/126360121-5a054fc9-8b4e-4773-894f-1cab43544da7.png)

[2021-07-20 16:22] #87379 closed

[2021-07-20 16:30] #68885 closed

[2021-07-20 16:31] chrisronline commented on #100067
I started doing some basic ad-hoc testing around this by creating multiple spaces and a rule/connector in each space on master. I then changed the above saved object types to the "share-capable" `namespaceType: 'multiple-isolated'` and restarted Kibana.

This is what happened:

[code]

The UI doesn't show any problem though. That's definitely something we'll need to address (which I'm sure we knew

[2021-07-20 16:33] msimos opened #106287 "Better documentation for {{context.timestamp}}"
**Kibana version:**

7.13.1

**Elasticsearch version:**

7.13.1

**Server OS version:**

Elastic Cloud

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if relevant):**

**Any additional context:**

According to the docs here: https://www.elastic.co/gui

[2021-07-20 16:37] alexwizp commented on #87379
updates: during testing I found that `keyword` data type not working for `7.13` and `7.14`. It's related to #101705 which will be finally shipped in `7.15`

[2021-07-20 16:40] thomasneirynck commented on #69221
Closing. There's been some tidying up going on this front since this was logged. All dependent plugins now import types from Maps with the `type` keyword. The actual APIs for instantiation of Maps-objects (such as MapsEmbeddable) are now being propagated through the Start/Setup contracts of the MapsPlugin API. Most (if not all) of the required modules are lazily loaded.

[2021-07-20 16:40] #69221 closed

[2021-07-20 16:46] dej611 commented on #97134
Meta issue: #71560

Some related issues:
* #71150
* #78277

[2021-07-20 16:47] powderr commented on #106142
Actually this cluster has been created directly in 7.14.0 from a snpashot taken on 7.13.1.
The cluster  (7.13.1) has been created from several version ago . it was in march 2021. I can't remember which version was set up at this time. But for sure I've upgraded to 7.12.0 and the following versions

[2021-07-20 16:47] powderr commented on #106142
if you need access to 7.13.1, please let me know

[2021-07-20 16:53] justinkambic commented on #103480
Are you able to verify if that's the case? I'll defer to your judgment here as you're the creator of this issue.

[2021-07-20 16:53] ThomThomson opened #106290 "[Dashboard] Smoke Test Boilerplate Cleanup"
The dashboard embeddable migration [smoke tests](https://github.com/elastic/kibana/issues/102416) cover a lot of ground, but there are a few upgrades that can be made for speed, efficiency, and conciseness of the tests themselves.

Firstly, a draft PR for adding a [testing harness](https://github.com/elastic/kibana/pull/106116) will shrink our test code boilerplate significantly, but it will requi

[2021-07-20 16:53] elasticmachine commented on #106290
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-20 16:55] mikecote commented on #64148
Thanks for the feedback, @jasonrhodes! It's is indeed hard to distinguish between expected and unexpected query times based on those cases.

From the sounds of it, research is needed to determine what approach should be taken to solve this problem. Regarding capacity, the alerting team won't be able to look into this soon but if you feel the change is best done at the platform level, we are open f

[2021-07-20 16:57] jportner commented on #102870
Not true, they are exposed / they are not a hidden type

True, we don't have any pages that I know of that can deep-link to a tag

True

Agree

Yeah I think so. Technically aliases will get created for tags, but we don't need to worry about using them.

I'm wondering if we should add some sort of flag at SO registration to allow consumers to "opt out" of aliases for that type when it is converted

[2021-07-20 17:00] pmuellr opened #106292 "[alerting] API key lost when frequently disabling / enabling a rule"
See issue https://github.com/elastic/kibana/issues/106276 for the repro.  Click the enable / disable button, a lot, frequently, and you will likely see the following error in console (some lines deleted from original error),

[code]

Turning on some debug logging, you can also see the following:

[code]

Note the lines `fetching api key for alert ` are from some `console.log()`s I added here, whic

[2021-07-20 17:00] elasticmachine commented on #106292
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-20 17:00] pmuellr commented on #106276
I think there's a bug in alerting here, just opened https://github.com/elastic/kibana/issues/106292

I also think that we probably do want to disable editing the alert until the disable / enable returns.

But we might want to keep this open, to help debug the underlying alerting problem, since it makes for a simple repro :-)

[2021-07-20 17:13] #105384 closed

[2021-07-20 17:15] TinaHeiligers commented on #102870
So far, I've confirmed that the points are true for `maps` and `lens`.

Based on the comments above, the immediate scope for this issue seems to only be changing the namespace type then. We can always revisit refactoring the api to use `resolve` if any consumers face issues.
@lukeelmers Does that seem reasonable to you too?

[2021-07-20 17:24] #90888 closed

[2021-07-20 17:32] dominiqueclarke commented on #103480
@justinkambic This is currently working as designed and has resolved the issue with the unclear breakdown labels mentioned in the issue.![image](https://user-images.githubusercontent.com/11356435/126369471-66a38c31-6ebe-481c-acd1-aa286c50e7ec.png)
However, the UX for this differs from other report types, where the left hand breakdowns are static and the breakdowns are instead applied to the y axis

[2021-07-20 17:44] EricDavisX commented on #106229
Am I right that this then makes it a Dashboard issue?  And therefore a package issue?  @jen-huang @fearful-symmetry do you agree, and can you help push it on / transfer it out?

[2021-07-20 17:49] fearful-symmetry commented on #106229
I'm honestly not sure what the issue is. It seems like the only issue is the container overview dashboard? Are containers running on the test system? Are we ingesting events from the `system/process` metricset?

[2021-07-20 17:50] joshdover commented on #102870
Good catch, I had assumed since we had built dedicated APIs for this that it was hidden. I wonder if that was an oversight and it should be `hidden: true`?

That would make some sense to me. I'm already worried about the number of Saved Objects we're going to be creating with the aliases, so if we can reduce that number, that may be helpful. But yeah I agree, only if there are other use cases for

[2021-07-20 18:12] elasticmachine commented on #105400
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 18:14] tsullivan commented on #101021
@stratoula has anything changed for this visualization type?

[2021-07-20 18:15] elasticmachine commented on #105740
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-20 18:18] LeeDr opened #106308 "[7.14] SO migration takes too long on pre-7.13 upgrades with heavy alerting usage"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Server OS version:** all, but mostly impacts Cloud

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:** A bug in 7.11 caused failed tasks to not clean up unneeded docs in both the .kibana and .kibana_task_manager index.  These coul

[2021-07-20 18:18] elasticmachine commented on #106308
Pinging @elastic/kibana-core (Team:Core)

[2021-07-20 18:18] elasticmachine commented on #106308
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-20 18:22] neptunian opened #106309 "[Stack Monitoring] Missing Alerts badge on Node Details page"
The code looks to be trying to [set the alert status ](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/components/chart/monitoring_timeseries_container.js#L121)for any MonitoringTimeseriesContainer that has a matching alert, but this doesn't seem to be working.  Commenting out code for now in another PR that [looks for property "metrics" in "meta"](https://github.com

[2021-07-20 18:22] elasticmachine commented on #106309
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 18:33] justinkambic commented on #103480
Based on that I'll close this for now.

[2021-07-20 18:33] #103480 closed

[2021-07-20 18:34] stratoula commented on #101021
@tsullivan @bhavyarm I cant replicate it.
![image](https://user-images.githubusercontent.com/17003240/126376115-ae244cb6-2137-4b32-9c44-120e86342c9b.png)

The new tagcloud implementation, which solves this bug, will be released in 7.14.0. 7.13 unfortunately still has this bug but we cant backport it.

I have checked it both in master and in 7.14 cloud (I think BC2).

[2021-07-20 18:34] kevinlog commented on #102619
@muskangulati-qasource is it OK to close this?

[2021-07-20 18:40] #105807 closed

[2021-07-20 18:47] kevinlog commented on #104375
@muskangulati-qasource this was addressed in a couple different ways.

The new Endpoints for BC4 should have a smaller chance of running into this issue.  You should retest on Mac and Windows with BC4.

We **expect**  that you will still occasionally see this problem occur.  What happens is that the Agent times out on acknowledging the action.  We are working on a fix for that, but it will likely

[2021-07-20 18:49] pmuellr opened #106315 "[RAC] RAC framework calls to ES should wrap their own errors"
From issue https://github.com/elastic/kibana/issues/101753, we realized that the RAC framework is making ES calls during the rule executor, which are throwing exceptions, and not caught.  Those get bubbled up back to the rule executor, which assumes the error came from the rule executor.  In this case, the rule executor was actually RAC, which did some work, called the original rule executor, and

[2021-07-20 18:59] bhavyarm opened #106316 "Display "null" value better in filter panel"
**Kibana version:** 7.14.0 BC3

**Elasticsearch version:** 7.14.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If the field value is "null" or empty - we display an empty row in filter panel for values.
This blends into the ba

[2021-07-20 18:59] elasticmachine commented on #106316
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-20 18:59] elasticmachine commented on #106316
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-20 19:17] bhavyarm commented on #101021
Right that makes sense.  I was confused. Thanks @stratoula closing it!

[2021-07-20 19:17] #101021 closed

[2021-07-20 19:19] jportner commented on #102870
Cool, I'll keep this in mind as I engage with other teams.

[2021-07-20 19:24] elasticmachine commented on #106067
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 19:33] mikecote commented on #106308
Some queries to help clean this up

## 1. Get the `task.runAt` of the oldest alert action in the queue (action which hasn't run yet). If none returned, use a time prior to running this query (ex: Store Date.now() before running the query and use that if no results).
[code]

## 2. Delete `action_task_params` where `updated_at` is older than the oldest alert action in the queue (use date from first

[2021-07-20 19:36] alex-fedotyev opened #106318 "[APM] Services inventory: add time comparisons to match service overview design"
### Summary
This is part of larger [design update](https://github.com/elastic/observability-design/issues/52) to enable comparisons and add sparklines across APM UI.
Time comparisons selection would need to be maintained when travelling from services inventory to the service and back.

### Design
![Design mocks temp](https://user-images.githubusercontent.com/61838744/126384547-e31cefd0-0068-4ca1-9

[2021-07-20 19:36] elasticmachine commented on #106318
Pinging @elastic/apm-ui (Team:apm)

[2021-07-20 19:50] alex-fedotyev opened #106319 "[APM] Transaction view: add time comparisons to the transaction view"
### Summary
This is part of larger [design update](https://github.com/elastic/observability-design/issues/52) to enable comparisons and add sparklines across APM UI.
Time comparisons selection would need to be maintained when travelling from services inventory to the service and back.

### Design

Here is a mock which I was able to put together based on transaction overhaul work and current design

[2021-07-20 19:50] elasticmachine commented on #106319
Pinging @elastic/apm-ui (Team:apm)

[2021-07-20 19:51] #106248 closed

[2021-07-20 20:04] petrklapka opened #106322 "PK sync script test"
This is a test of refactored sync script.

[2021-07-20 20:04] elasticmachine commented on #106322
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-20 20:15] wylieconlon opened #106323 "[Lens] Percentage chart should not require a "break down by" dimenson when using more than one metric on the same axis"
This is warning in the UI, but does not prevent use of this chart type.

Steps to reproduce:

1. In Lens, choose "Bar vertical percentage". Configure a date histogram + count metric.
2. Copy the Count metric.
3. You'll see that the "break down by" dimension is required, but the chart still renders:

<img width="1377" alt="Screen Shot 2021-07-20 at 4 12 53 PM" src="https://user-images.githubusercon

[2021-07-20 20:15] elasticmachine commented on #106323
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-20 20:21] cjcenizal commented on #83910
Just submitted the last Stack Management PR (https://github.com/elastic/kibana/pull/105863) for review. Addresses Index Management and API integration tests for our plugins. Expect to merge and ship it with 7.15.

[2021-07-20 20:33] bmorelli25 commented on #105025
Closed in https://github.com/elastic/kibana/pull/106296.

[2021-07-20 20:33] #105025 closed

[2021-07-20 20:41] jgr commented on #106160
This is more a question for @jonasll, as I wasn't a part of all of the login customization conversations. In my view, there is already quite a bit of login customization available in Kibana (things like logos, descriptions, and hint text of each auth provider can all be changed). There may be other login customization asks that were deferred that I'm not aware of, and I think @jonasll has driven t

[2021-07-20 20:47] gchaps opened #106329 "Add docs to the global search"
**Describe the feature:**

As we are moving toward more in-product help, let's also allow users to search the docs from within Kibana.

**Describe a specific use case for the feature:**

The user wants to learn more about dashboards.  The global search would allow users to filter by `docs:`. For example, the user could enter `docs: dashboard` and get matches for docs, blogs, and videos.

<img widt

[2021-07-20 20:55] poffdeluxe opened #106330 "[Meta] In-Line Edit Implementation Roadmap"
# Milestones
This meta issue is to track work for the In-Line Edit functionality coming to dashboards and hopefully wherever embeddables are used.

There are three main phases:
1. Proof-of-concept with simple Lens editor in the quick flyout panel
2. Implementation of the basic in-line edit flyout with editing features that are common to all embeddables (name, description, any actions we want to mo

[2021-07-20 20:55] elasticmachine commented on #106330
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-20 21:12] ymao1 commented on #101975
https://github.com/elastic/kibana/issues/87992 has been addressed with [this PR ](https://github.com/elastic/kibana/pull/101896)

[2021-07-20 21:20] jen-huang commented on #105400
I think this is by design right now as we save the kibana.yml value into Fleet settings, which can then be updated from the UI. So how do we know when to reapply new kibana.yml values?

cc @nchaulet thoughts on this?

[2021-07-20 21:24] LeeDr commented on #106308
@mikecote what's the purpose of the terms filter in step 1?  Is this all the taskTypes?  Or its excluding some?

[code]

[2021-07-20 21:26] elasticmachine commented on #106329
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-20 21:28] jen-huang commented on #106073
@hop-dev I believe this is a `EuiInMemoryTable`, that component has a way to do custom sorting via setting a `sortable` function on the column. We can normalize the name values using that. Have a look at these docs: https://elastic.github.io/eui/#/tabular-content/in-memory-tables#in-memory-table-with-custom-sort-values

[2021-07-20 21:28] jen-huang commented on #106236
This is normal browser behavior. Closing.

[2021-07-20 21:28] #106236 closed

[2021-07-20 21:33] mikecote commented on #106308
@LeeDr It's inclusive of only the task types for running alert actions. There are many more around running rules (alerts), telemetry, login sessions, etc that I didn't want part of the query.

[2021-07-20 21:37] jen-huang commented on #106206
This is as designed right now, marking as enhancement and putting it in backlog.

[2021-07-20 21:41] tsullivan commented on #98426
I think this issue was caused by a change in the Kibana test runner setup that increased the `xpack.reporting.csv.maxSizeBytes` setting. Now that CSV export is capable of exporting object-type fields, we needed tests to verify that, but the previous max size byte setting wasn't large enough to export the test data.

[2021-07-20 21:45] LeeDr commented on #106308
@crisdarocha if possible, could you try to run a query against the .kibana_task_manager index (in your pre-upgrade 7.11.1 cluster) to get the count of docs that match the terms "task.taskType" like in step 1 above?  I just want to confirm it covers a majority of the docs.

[2021-07-20 21:57] kevinlog commented on #105035
@amolnater-qasource can you try testing this upgrade scenario again?  We should have a fix in for it now.

[2021-07-20 22:07] LeeDr commented on #106142
@powderr If you look in `Stack Management > Kibana - Saved Objects` you will usually see 1 or more `Advanced Settings` objects that have a version number in the title.  That should show you the upgrade history at least as far back as we used that naming convention.

[2021-07-20 22:10] elasticmachine commented on #105985
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 22:11] liza-mae commented on #98426
I updated the setting: https://github.com/elastic/elastic-stack-testing/pull/944, hopefully fixes the issue.  Thanks.

[2021-07-20 22:12] jen-huang commented on #105985
Hi @jonathan-buttner @kevinlog, can you help triaging this as this was trigged on visiting the Security app? I wonder if this has anything to do with the fact that the Security app attempts to upgrade the endpoint package on load?

[2021-07-20 22:22] TinaHeiligers commented on #102870
With dashboards, a _potential_ issue might be with embeddables, where [SO references are also injected](https://github.com/elastic/kibana/blob/master/src/plugins/embeddable/common/lib/inject.ts#L19). AFAICT, dashboards don't have pages that can deep link to a tag but I'm waiting for full confirmation of that from the app team.

[2021-07-20 22:33] LeeDr commented on #17025
I think this is still a serious bug in 7.14.0.  Filters pinned in some other page besides TSVB are applied in TSVB but the user can't see them.  But it's even a little bit worse than that.  The filters are _sometimes_ applied!

Steps to reproduce:
1. Add eCommerce sample data
2. go to Discover and select the kibana_sample_data_ecommerce index
3. set the timepicker to something like 1 month before

[2021-07-20 22:46] cjcenizal commented on #102338
Seb has this been fixed by https://github.com/elastic/kibana/pull/103629?

[2021-07-20 23:56] lukasolson commented on #106274
I'm happy to add this, but I'm a little worried about adding it to our component seeing as how the component can be used to query a separate `method` than `terms_enum` (like the APM use case). Thoughts?

[2021-07-21 00:03] kevinlog commented on #106142
@LeeDr the fix for this has been merged into all branches including 7.14.  Do you want me to leave the ticket open until verification?

An upgrade history of the stack would be great so I could see how this could have occurred.

@powderr access to the cluster would also be good to investigate further.  What's most important is how the stack got those particular configurations in the first place.

[2021-07-21 00:05] LeeDr commented on #106142
You don't need to leave it open for me.  Hopefully we can retest this cluster on the next BC to verify it.  If it isn't fixed I could reopen this.

But feel free to keep it open for your investigation if you like.

[2021-07-21 00:17] kibanamachine commented on #90858
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15675/)

[2021-07-21 00:52] michaelolo24 commented on #105749
@ferullo - I'm putting in a fix for this specific scenario on the Kibana side, but wanted to see if I should file a bug for the endpoint or can we expect this scenario to happen?

[2021-07-21 00:57] ferullo commented on #105749
This looks like the same issue as https://github.com/elastic/endpoint-dev/issues/9327 (sorry for the private link).

@nfritts do you know the status of that?

@michaelolo24 This should not happen, but your workaround for Kibana is appreciated and it seems possibly necessary for 7.14.0.

[2021-07-21 01:14] axw commented on #91875
@alisonelizabeth FYI, I've just merged a change in apm-server to introduce a new ingest pipeline called `apm_data_stream_migration`: https://github.com/elastic/apm-server/pull/5768. This can be used to reindex docs in legacy APM indices to set `data_stream.*` fields and route them to the appropriate data streams.

[2021-07-21 01:19] jasonrhodes opened #106345 "[Stack Monitoring] Adapt to removal of memory information from ES segments"
Based on the work being done here https://github.com/elastic/elasticsearch/pull/75274

Elasticsearch monitoring will need to adapt to the removal of memory information in `segments.*` from ES endpoints. These data were previously available from the following ES APIs:
* segments
* nodes stats
* indices stats

The Stack Monitoring Kibana application references the values in at least these places:
*

[2021-07-21 01:19] elasticmachine commented on #106345
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-21 01:22] alex-fedotyev commented on #91848
Created a separate [issue](https://github.com/elastic/kibana/issues/106319) for transaction view.

We still need to decide what we need to show on the transactions list, here are open questions:

1. Current list shows 95th percentile and Avg on the same grid, and if we re-use the transactions table from the overview, would we lose that?
2. The top charts on the current transactions page are mostly

[2021-07-21 01:37] alex-fedotyev commented on #106093
Hi @Kerry350!
Few comments important for implementation.

Populating logs would likely need to happen by indirectly loose matching APM and Logs.
- Step 1: Query which infrastructure components the APM service had been running on during selected timeframe.
- Step 2: Show all the logs entries across that infrastructure.

Particularly, this logic would be different for containerized service vs those

[2021-07-21 01:40] alex-fedotyev commented on #106093
Oh, totally forgot to add to the design an ask to implement search input within the logs to enable quick filtering when looking into service logs.
Thank you!!

[2021-07-21 02:05] elasticmachine commented on #90858
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-21 02:44] jonasll commented on #106160
I'm afraid I'm not following. Those appear to be orthogonal conversations. The current customization options are sufficient for now. This seems to suggest limiting the number of options, not customizing the options that are presented.

That is correct, James.

[2021-07-21 03:27] peluja1012 opened #106347 "[Security Solution] Extend event_log plugin with functionality required for Rule Execution Log"
**Parent ticket:** https://github.com/elastic/kibana/issues/118324

## Summary

The Security Solution needs to store rule execution events and metrics to power various rule monitoring workflows. Based on all the previous discussions, we decided that Kibana [`event_log`](https://github.com/elastic/kibana/tree/master/x-pack/plugins/event_log) plugin is a good fit for this purpose. We will need to ex

[2021-07-21 03:27] elasticmachine commented on #106347
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 03:27] elasticmachine commented on #106347
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 06:01] azasypkin commented on #106160
I was referring to the concern you (@ioanatia @jonasll) had earlier: a single Kibana instance can be used by both Workplace\Enterprise Search users and "ordinary" Kibana users. Customizations we support today are configured per instance, and will affect both of these user groups. Logos, descriptions and whatnot that are clear to one user group, may be confusing to other.

It's great if it's no lon

[2021-07-21 06:09] #95887 closed

[2021-07-21 06:16] kibanamachine opened #106350 "Failing test: Jest Tests.x-pack/plugins/task_manager/server/routes - healthRoute logs at a warn level if the status is warning"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15682/)

[2021-07-21 07:03] stratoula commented on #105330
@Mauro-Rizzi thanx for submitting this issue!
This bug has been solved in 7.14

We have given more settings about dots for lines and areas.
![image](https://user-images.githubusercontent.com/17003240/126445437-d0e0707a-69d4-49cb-aab8-fa38c3d6c06f.png)

More information on this PR! with that being said I am closing it as it will be solved in 7.14.0

[2021-07-21 07:03] #105330 closed

[2021-07-21 07:04] tylersmalley opened #106352 "[vega] Handle removal of deprecated date histogram interval"
This was removed in 8.0 in https://github.com/elastic/elasticsearch/pull/75000

I believe this might just be used in the tests - https://github.com/elastic/kibana/blob/master/src/plugins/vis_type_vega/public/test_utils/default.spec.json

[2021-07-21 07:07] elasticmachine commented on #106352
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 07:08] amolnater-qasource commented on #105035
Hi @kevinlog
We have revalidated this issue on 7.14.0 Snapshot Kibana cloud-qa build and found it **fixed** now.
- Only one Endpoint is available after agent upgrade from 7.13.4 (released) agent to 7.14.0 Snapshot.

**Build details:**
[code]
Hence we are closing this issue and marking it as "QA:Validated"

Thanks
QAS

[2021-07-21 07:08] #105035 closed

[2021-07-21 07:19] deepikakeshav-qasource commented on #102613
Hi @kevinlog,

We have validated this ticket on **7.14.0 BC3** build and Please Find the below observations:

**Build Details:**

[code]
**Observation 1:** "Windows and mac OS" is displaying in drop down when create the exception from scratch and successfully able to create the exception.

**Screenshot:**
![exception](https://user-images.githubusercontent.com/61860752/126440985-960d4393-cc7d-48ed-

[2021-07-21 07:23] powderr commented on #106142
@kevinlog Thanks. the initial version is 7.11.0 (probably a pre release). I will be off for 3 weeks at the end of the week.
Just let me know if you need help.

[2021-07-21 07:49] GrahamHannington opened #106357 "Change interval while viewing a dashboard, without editing?"
Introduce a "global interval" to dashboards, so that users who are interested in a specific interval can set that value (reflected in a URL parameter), and have all time-based charts on a dashboard honor that interval, without editing; that is, without needing to create a new dashboard with all time-based charts set to that particular fixed interval.

Use case: See the Elastic Kibana discussion fo

[2021-07-21 07:56] mbondyra commented on #103701
@wylieconlon thanks for your comment, `renderOption` helps with displaying the options with truncating in the middle, but it does not with the selected option. That looks inconsistent and I am not sure if we want to merge this in this form cc @ghudgins .

<img width="564" alt="Screenshot 2021-07-21 at 09 55 47" src="https://user-images.githubusercontent.com/4283304/126452632-b06b30c0-ad1a-4bd6-b6c

[2021-07-21 07:57] timroes commented on #106352
This might be a bit tricker then we think. This is unfortunately not only a "test" failure, because we also have `interval: { %autointerval%: true }` in our default spec we create new Vega visualizations with.

Depending on what value is used for the interval `fixed_interval` or `calendar_interval` needs to be explicitly set in Elasticsearch (and `interval` no longer will work from 8.0 onwards). Y

[2021-07-21 08:01] derchirurg commented on #33959
Any news?

[2021-07-21 08:03] timroes opened #106360 "Filter buttons in chart legend not keyboard accessible"
The button to open the filter menu in charts in legacy visualize are currently not keyword accessible:

![screenshot-20210721-093251](https://user-images.githubusercontent.com/877229/126453295-60618673-842c-495d-9823-77d4269871b8.png)

Expected behavior: You should be able to focus on the "three dots" button via keyboard navigation.

[2021-07-21 08:03] elasticmachine commented on #106360
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 08:03] elasticmachine commented on #106360
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-07-21 08:05] elasticmachine commented on #105714
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-21 08:06] timroes commented on #105539
I am not sure we have enough information in this issue. Could you please clarify what kind of table you mean, how was this created and how does it's configuration look?

[2021-07-21 08:08] elasticmachine commented on #106151
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-21 08:08] elasticmachine commented on #106097
Pinging @elastic/apm-ui (Team:apm)

[2021-07-21 08:09] amolnater-qasource commented on #105715
Hi @nchaulet
Thanks for the feedback.

We observed that the Continue button is available under Agents tab after installing agent on a self-managed 7.14 Kibana.
- On clicking on that we are able to see the Agents tab with available hosts.
- Further when hosts are available, we observed after 30 seconds page refreshed for any changes in status/new agent.

However We had a query regarding above funct

[2021-07-21 08:09] elasticmachine commented on #106315
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 08:11] ruflin commented on #106048
Few questions

* Can a package decide if the integrations policies of this package should be auto upgraded?
* Assuming a user has 3 integration policies from the same package in 3 different Agent polices. Can the user upgrade one by one?

[2021-07-21 08:13] #106050 closed

[2021-07-21 08:14] elasticmachine commented on #106350
Pinging @elastic/kibana-core (Team:Core)

[2021-07-21 08:14] timroes commented on #106270
Duplicate of https://github.com/elastic/kibana/issues/13668

[2021-07-21 08:14] #106270 closed

[2021-07-21 08:14] elasticmachine commented on #105948
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 08:15] elasticmachine commented on #105544
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 08:15] timroes commented on #105916
Duplicate of https://github.com/elastic/kibana/issues/1547

[2021-07-21 08:15] #105916 closed

[2021-07-21 08:16] timroes commented on #105584
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2021-07-21 08:16] #105584 closed

[2021-07-21 08:17] elasticmachine commented on #105371
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-21 08:17] elasticmachine commented on #93009
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 08:18] elasticmachine commented on #106052
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-21 08:18] elasticmachine commented on #106040
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-21 08:18] jpountz commented on #106345
@jasonrhodes To clarify, there will still be information about segments in the output of these APIs. For instance you will still have access to segment counts. Only information about the memory usage of segments is being removed. Specifically, the following keys will no longer exist whenever they refer to segments:
 - `memory`
 - `memory_in_bytes`
 - `terms_memory`
 - `terms_memory_in_bytes`
 - `s

[2021-07-21 08:18] elasticmachine commented on #105997
Pinging @elastic/kibana-security (Team:Security)

[2021-07-21 08:19] elasticmachine commented on #106032
Pinging @elastic/kibana-core (Team:Core)

[2021-07-21 08:19] elasticmachine commented on #105797
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-21 08:19] elasticmachine commented on #105929
Pinging @elastic/ml-ui (:ml)

[2021-07-21 08:20] elasticmachine commented on #105526
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 08:20] elasticmachine commented on #105381
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 08:20] elasticmachine commented on #105938
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-21 08:20] elasticmachine commented on #106266
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-21 08:21] timroes commented on #101985
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-07-21 08:21] #101985 closed

[2021-07-21 08:29] arvindersingh-qasource opened #106363 "[BUG] "More Actions" flyout overlaps "Inspect search session" panel on Search Session Page."
#### Describe the bug
```More Actions``` flyout overlaps ```Inspect search session``` panel on Search Session Page.

#### Build Details:
[code]
#### Browser Details
This issue is occurring on all browsers.

#### Preconditions
1. Endpoint security should be installed on Kibana.
2. Saved Search Sessions must be present on Kibana.

#### Steps to Reproduce
1. log in to Kibana.
2. Navigate to ``` Manag

[2021-07-21 08:30] arvindersingh-qasource commented on #106363
@manishgupta-qasource  Please review this bug .

[2021-07-21 08:46] elasticmachine commented on #106357
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-21 09:01] mandeepkaur-qasource opened #106364 "[Security Solution][Enhancement] No User friendly success toaster is getting displayed at the time of 'New Case creation'."
**Description:**
[Enhancement] No User friendly success toaster is getting displayed at the time of 'New Case creation'.

**Build Details:**
Version: 7.14.0 BC3
Build: 42545
Commit: c314921a9893e0b46d9a3958f5520e3d6b1ce7d5
Artifact link: https://staging.elastic.co/7.14.0-682a8012/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint securi

[2021-07-21 09:01] elasticmachine commented on #106364
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 09:02] mandeepkaur-qasource commented on #106364
@manishgupta-qasource Please review!!

Thanks!!

[2021-07-21 09:03] karanbirsingh-qasource opened #106365 "[Security Solution]Threat intel Card showing data even on removing filebeat from data source"
**Describe the bug**
Threat intel Card showing data even on removing filebeat from data source

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Endpoint security should be installed on kibana.

**Steps to Reproduce**
1. log in to Kibana.
2. Install Filebeat and enable the threat intel module.
3. Go to the overview page of the security app.
4. Update

[2021-07-21 09:08] #104405 closed

[2021-07-21 09:21] muskangulati-qasource commented on #102619
Hi @kevinlog,

Thank you for bringing this ticket up.

We tested this scenario with mimikatz for Windows and found that the observation shared is correct. We still get alerts for mimikatz.

However, we have seen one event always shows up for mimikatz even though we added Event Filter for the same.
- Event Filters added:
![EventFilterse](https://user-images.githubusercontent.com/60252716/126456633-

[2021-07-21 09:21] manishgupta-qasource commented on #106363
Reviewed & assigned to @MadameSheema

[2021-07-21 09:22] muskangulati-qasource commented on #104375
Hi @kevinlog,

Thank you for the details. We will test this ticket with BC4 and will share our observations on the same.

Please let us know if anything else is required from our end.

Thanks!

[2021-07-21 09:22] elasticmachine commented on #106363
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 09:23] manishgupta-qasource commented on #106364
Reviewed & assigned to @MadameSheema

[2021-07-21 09:23] manishgupta-qasource commented on #106365
Reviewed & assigned to @MadameSheema

[2021-07-21 09:25] ruflin commented on #106086
I'm not sure if we might mix 2 things here. What https://github.com/elastic/beats/issues/26638 refers to is have output settings specific to an integration policy. The discussion here is on the agent policy level which means it applies / affects all integrations. Lets solve all this in the context of multiple output support.

[2021-07-21 09:53] DaveCTurner opened #106371 "Elasticsearch request timeout in logs doesn't indicate the nature of the request which timed out"
**Describe the feature:**

Today if a request from Kibana to Elasticsearch (e.g. for Stack Monitoring purposes) times out then we log that a timeout occurred:

`{"type":"error","@timestamp":"...","tags":["error","monitoring-ui"],"pid":...,"level":"error","error":{"message":"Request Timeout after 30000ms","name":"Error","stack":"Error: Request Timeout after 30000ms\n    at /usr/share/kibana/node_mo

[2021-07-21 09:57] dej611 opened #106372 "[Lens] New legend inside chart can be more smart in terms of layout"
**Describe the feature:**

The new Legend "inside chart" option in Lens ( #105571 ) offers a new `Number of columns` control which has been currently limited to 5 columns, preventing the user to create legends overflow for their values.

<img width="357" alt="Screenshot 2021-07-21 at 11 50 35" src="https://user-images.githubusercontent.com/924948/126470093-378b7d29-e71b-4714-8886-04e9f29c6324.png"

[2021-07-21 09:57] elasticmachine commented on #106372
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 10:09] kuisathaverat opened #106373 "`yarn kbn bootstrap` installs Bazel in global packages"
**Kibana version:**
8.0.0-SNAPSHOT

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
Linux

**Browser version:**
none

**Browser OS version:**
none

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**

`yarn kbn bootstrap` install Bazel in the global node modules.

**Steps to reproduce:**
1. checkout the Kibana repo
2. execu

[2021-07-21 10:19] #86321 closed

[2021-07-21 10:20] arvindersingh-qasource opened #106375 "[Security Solution][Enhancement] Count mentioned on graphs for Indicator Provider on Threat Intelligence dashboards are not consistent."
#### Description:
[Enhancement] Count mentioned on graphs for Indicator Provider on Threat Intelligence dashboards are not consistent.

#### Build Details:
[code]

#### Browser Details:
All

#### Preconditions:
1 Kibana Environment should exist.
2. Threat Intel must be enabled and Data must be present.

#### Steps to Reproduce:
1. Navigate to ```Security``` -> ```Overview```
2. Scroll down to ```

[2021-07-21 10:20] elasticmachine commented on #106375
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 10:21] arvindersingh-qasource commented on #106375
@manishgupta-qasource  Please review this ticket.

[2021-07-21 10:28] banderror commented on #101016
Adding @marshallmain's suggestions regarding index bootstrapping:

1. There is currently no ILM policy associated with the concrete indices created by the `RuleDataClient`. We can start by associating all concrete indices with the default ILM policy created by the rule registry. However, we also need to add an additional index template **per index alias** in order to specify the `rollover_alias` f

[2021-07-21 10:41] banderror commented on #101016
Adding suggestions after syncing with Observability folks (cc @weltenwort, btw I don't know GitHub usernames of Kerry and Panagiota, so please feel free to tag them):

1. Enforce allowed values for the `datasetSuffix` on the API level. In the index naming convention `.alerts-{registrationContext}.{datasetSuffix}-{namespace}`, `datasetSuffix` can only be `alerts` or `events`. It would make sense to

[2021-07-21 10:43] amolnater-qasource opened #106378 "[Fleet]: No error popups for incomplete queries entered in search box on Agent Policies and Enrollment tokens tab."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and enter any incomplete search query say `agent id:`
3. Observe Error popups for incomplete query.
4. Naviga

[2021-07-21 10:43] elasticmachine commented on #106378
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 10:43] amolnater-qasource commented on #106378
@manishgupta-qasource Please review

[2021-07-21 10:44] stratoula commented on #97428
I just merged https://github.com/elastic/kibana/pull/106198 which solves the problems mentioned here with the white outline. Also the new elastic-charts release handles the problem with the values that do not fit on the bar

[2021-07-21 10:44] #97428 closed

[2021-07-21 10:45] Dmitriynj opened #106379 "[Discover] Discover page getting slow after scrolling classic table in Safari"
Discover page getting slow after scrolling classic table in Safari when loading all documents (with default sample size - 500). Namely adding fields, switching index patterns, expanding document in table actions are slower. See how discover behaves in the video.

https://user-images.githubusercontent.com/39378793/126047585-da96d657-f4b2-4e9f-8416-21d7407a7832.mp4

_Originally posted by @Dmitriynj

[2021-07-21 10:45] elasticmachine commented on #106379
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 10:48] muskangulati-qasource commented on #105566
Hi @MadameSheema,

As chatted offline, we are good to close this issue as it is now resolved.

Thank you!

[2021-07-21 10:48] #105566 closed

[2021-07-21 10:48] banderror commented on #101016
Just want to socialise here that something like https://github.com/elastic/kibana/issues/101541 (a higher-level abstraction on top of index management) is out of scope of this consolidation effort.

[2021-07-21 10:48] stratoula commented on #43828
I am closing it as I cant reproduce it in master

[2021-07-21 10:48] #43828 closed

[2021-07-21 10:51] karanbirsingh-qasource opened #106380 "[Security Solution]Firefox:90.0.1 Main Search bar outlining inconsistency"
**Describe the bug**
Firefox:90.0.1 Main Search bar outlining inconsistency

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
Firefox:90.0.1

**Preconditions**
- Endpoint security should be installed on kibana.

**Steps to Reproduce**
1. log in to Kibana.
2. Go to the security app.
3. Go to Host , Network , Alert, or Endpoint page.
4. Observed that the main search bar has an

[2021-07-21 10:51] elasticmachine commented on #106380
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 10:51] stratoula commented on #33923
I am closing it as we migrated to the new charts and I hope that the problem is solved

[2021-07-21 10:51] #33923 closed

[2021-07-21 10:51] walterra opened #106381 "[APM] Latency correlations 7.15 meta issue"
Meta issue detailing improvements for 7.15 to the Latency correlations feature added in 7.14 in #99905.

### Must have

Covered by #107370

- [x] Introduce prioritization to query field/value candidates based on a hard coded list of fields
- [x] Make use of the `includeFrozen` request attribute

----

Covered by #107266

- [x] Move fly-out components to latency correlation panel
- [x] Remove top n

[2021-07-21 10:51] elasticmachine commented on #106381
Pinging @elastic/apm-ui (Team:apm)

[2021-07-21 10:51] elasticmachine commented on #106381
Pinging @elastic/ml-ui (:ml)

[2021-07-21 10:52] stratoula commented on #16862
I am closing it as I assume that it may be a bug in the old implementation.

[2021-07-21 10:52] #16862 closed

[2021-07-21 10:53] amolnater-qasource opened #106383 "[Fleet]: Flickering "No Enrollment Agent" and related warnings when Add agent flyout is opened from Policy details page."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent Policies tab
3. Select any policy say `Default Policy`.
4. From Policy detail page select Actions>Add Agent.
5. Ob

[2021-07-21 10:53] elasticmachine commented on #106383
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 10:53] amolnater-qasource commented on #106383
@manishgupta-qasource Please review.

[2021-07-21 10:54] #106067 closed

[2021-07-21 10:54] elasticmachine commented on #106364
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-21 10:56] deepikakeshav-qasource opened #106384 "[Security Solution] "BETA" is displaying under the resolver on Alerts page."
**Describe the bug**
"BETA" is displaying under the resolver on Alerts page.

**Build Details:**
[code]
**Browser Details:**
N/A

**Preconditions**
1.Kibana users should be logged in.
2. endpoint should be installed.
3. Alerts should be generated.

**Steps to Reproduce**
1. Navigate to Alerts tab of security.
3. Click on analyze event of any alert.
4. Observe that "BETA" is displaying under the re

[2021-07-21 10:56] elasticmachine commented on #106384
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 10:57] deepikakeshav-qasource commented on #106384
@manishgupta-qasource Please review!!

[2021-07-21 10:59] stratoula commented on #10872
I am closing it as I cant replicate it on master

[2021-07-21 10:59] #10872 closed

[2021-07-21 11:02] muskangulati-qasource opened #106385 "[Security Solution] For basic license, the irrelevant deleted connector error should not be displayed since the connector have not been deleted"
**Describe the feature**
For basic license, the deleted connector error should not be displayed since the connector have not been deleted

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Connect a Jira connector to a case

**Steps to Reproduce**
1. Downgrade the license to gold/basic
2. Navigate to the cases tab
3. Observe the error

**Test data**

[2021-07-21 11:02] elasticmachine commented on #106385
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 11:02] muskangulati-qasource opened #106386 "[Security Solution] For the Gold license, we are getting errors for IBM connector"
**Describe the feature**
For the Gold license, we are getting errors for the IBM connector

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Connect a Jira connector to a case

**Steps to Reproduce**
1. Downgrade the license to gold/basic
2. Navigate to the cases tab
3. Observe the error

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Actual Re

[2021-07-21 11:02] elasticmachine commented on #106386
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 11:02] muskangulati-qasource opened #106387 "[Security Solution] For Trusted Apps, we can see the summary is exactly the same on the tab and flyout too. But it is not consistent Event Filters"
**Describe the feature**
For Trusted Apps, we can see the summary is exactly the same on the tab and flyout too. But it is not consistent Event Filters

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1.

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Actual Result**
For Trusted Apps, we can see the summary is exactly the

[2021-07-21 11:02] elasticmachine commented on #106387
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-21 11:02] elasticmachine commented on #106387
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 11:02] muskangulati-qasource commented on #106385
@manishgupta-qasource please review!

[2021-07-21 11:02] muskangulati-qasource commented on #106386
@manishgupta-qasource please review!

[2021-07-21 11:02] muskangulati-qasource commented on #106387
@manishgupta-qasource please review!

[2021-07-21 11:07] elasticmachine commented on #106187
Pinging @elastic/kibana-core (Team:Core)

[2021-07-21 11:10] kibanamachine opened #106388 "Failing test: Jest Tests.x-pack/plugins/task_manager/server/routes - healthRoute logs at an error level if the status is error"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15543/)

[2021-07-21 11:12] ferullo commented on #102619
One of the category values for that event is `malware`. That event is the malware alert for mimikatz, which is expected.

[2021-07-21 11:21] jpountz commented on #104620
+1 This limit is per-index, so it shouldn't be needed anymore.

You are correct. I actually had the opportunity to benchmark the difference between `refresh_interval: 5s` and `refresh_interval` unset, and the latter had a 12% better indexing throughput with the `solutions/logs` track that our performance team maintains that tries to replicate a Logging use-case.

Yes please remove. This should ult

[2021-07-21 11:32] weltenwort commented on #101016
cc @Kerry350 @mgiota

[2021-07-21 11:39] #100202 closed

[2021-07-21 11:39] ruflin opened #106389 "[Fleet] API Key generation for standalone Elastic Agent"
Users using the standalone Elastic Agent can use either username / password or API keys to communicate with Elasticsearch. Create an API Key for Elastic Agent with the correct minimal permission in Elasticsearch through Kibana is not trivial and requires knowledge on how Elastic Agent works.

In general we should encourage our users to use API Keys instead of username / password but as long as it

[2021-07-21 11:39] elasticmachine commented on #106389
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 11:43] manishgupta-qasource commented on #106380
Reviewed & assigned to @MadameSheema

[2021-07-21 11:44] manishgupta-qasource commented on #106378
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-21 11:45] manishgupta-qasource commented on #106383
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-21 11:46] manishgupta-qasource commented on #106384
Reviewed & Assigned to @MadameSheema

[2021-07-21 11:48] jasonrhodes commented on #106093
@alex-fedotyev thanks for the notes! I'd like to clarify a few points.

- When we met with @graphaelli and @ogupte, we settled on the above AC that meant we'd initially be querying for logs based on the current `service.name` value. From your comments, it sounds like you are picturing something different related to host, container, etc. Can we clarify so we can update the AC?
- You mention a query

[2021-07-21 11:50] manishgupta-qasource commented on #106385
Reviewed & Assigned to @MadameSheema

[2021-07-21 11:50] manishgupta-qasource commented on #106386
Reviewed & Assigned to @MadameSheema

[2021-07-21 11:50] manishgupta-qasource commented on #106387
Reviewed & Assigned to @kevinlog

[2021-07-21 11:53] liciavale opened #106394 "[Exploratory View] Multi Series View design issues"
**Summary**
Some design issues I found in the exploratory view, the items in the list are in order of importance.

<hr>

- [ ] Show the Apply button permanently and remove the Autoapply

<hr>

- [ ] When the users add a new series, the accordion is missing, same for colors picker and chart type. How this should work is that when a new series has been added the first one(s) should automatically col

[2021-07-21 11:53] elasticmachine commented on #106394
Pinging @elastic/uptime (Team:uptime)

[2021-07-21 12:03] Dosant opened #106395 "[Search] Search cancelation is fragile, searches might be running for days"
**TLDR: default search expiration is 7 days. If Kibana for some reason failed to delete an async search, then it could keep running for days causing a redundant excessive load on a cluster.**

------

Version: since 7.12

This came up from a quick investigation of how we do the cancelations after a customer noticed that there are hanging unexpected async searches in their cluster. It appears there

[2021-07-21 12:03] elasticmachine commented on #106395
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-21 12:05] kevinlog commented on #106142
thanks @powderr for the info

This may answer why the cluster is in a bad state (should get fixed after the migration fix).  I need to go back and look at the commit history, but it's possible we introduced a migration bug in a pre release version in `7.11.0` that we fixed before the GA release.  7.11.0 is when we initially released the Ransomware feature which is the affected configuration, so it

[2021-07-21 12:07] samratbhadra-qasource opened #106396 "No tooltip is displayed for any row under the Event Filters Tab"
**Describe the bug:**
No tooltip is displayed for any row under the Event Filters Tab

**Build Details:**

VERSION: 7.14.0-BC3
BUILD: 42545
COMMIT: c314921a9893e0b46d9a3958f5520e3d6b1ce7d5
ARTIFACT: https://staging.elastic.co/7.14.0-682a8012/summary-7.14.0.html

**Preconditions:**
Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under securit

[2021-07-21 12:07] elasticmachine commented on #106396
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 12:07] samratbhadra-qasource commented on #106396
@manishgupta-qasource please review.

[2021-07-21 12:08] #105980 closed

[2021-07-21 12:22] dasansol92 commented on #106396
Hi @samratbhadra-qasource, this is because the card component used in trusted apps and the ones used in event filters is different.
For event filters we are using the ExceptionItem component (used for endpoint and rules exceptions) and for trusted apps we are using our own card TrustedAppCard

cc: @kevinlog

[2021-07-21 12:24] Dosant opened #106400 "[Search] Better communicate timeout settings"
This came up from a customer who noticed unexpected long-running async searches in their cluster and tried to mitigate the issue by configuring various documented timeout options, but none seem to help.

These are the documented options that historically worked, but with the introduction of async search by default and search session they don't anymore:

#### `kibana.yml`:

https://www.elastic.co/g

[2021-07-21 12:24] elasticmachine commented on #106400
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-21 12:24] manishgupta-qasource commented on #106396
Reviewed & assigned to @kevinlog

[2021-07-21 12:27] DaveCTurner commented on #106371
It turns out we can make Kibana log these requests, so I'm closing this.

[2021-07-21 12:27] #106371 closed

[2021-07-21 12:34] dasansol92 commented on #106387
PR: https://github.com/elastic/kibana/pull/106401

[2021-07-21 12:39] elasticmachine commented on #106384
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-21 12:55] mostlyjason commented on #106086
@ruflin let's discuss offline. the reason for doing it this way is for licensing.

Adding a note from Steffen about potentially renaming worker

[2021-07-21 12:58] elasticmachine commented on #106385
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-21 12:58] elasticmachine commented on #106386
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-21 13:08] afgomez opened #106404 "[Logs UI] "Alerts and rules" context menu doesn't close after clicking "create rule""
## What is happening?

The context menu for "alerts and rules" stays open after the user has selected "create rule". Any attempts to close it either clicking outside or clicking on the menu fail.

## What should happen instead?

- The context menu closes after clicking "create rule"
- The context menu toggles when clicking "Alerts and rules"

https://user-images.githubusercontent.com/57448/1264936

[2021-07-21 13:08] elasticmachine commented on #106404
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-21 13:10] ghudgins commented on #103701
@MichaelMarcialis what do you think about that inconsistency? could we do this change just in the dropdown but not the selected value for the minor improvement it provides? Sounds like the alternative is wait for EUI which could be longer

[2021-07-21 13:16] samratbhadra-qasource commented on #106396
Hi @dasansol92, thank you for the information.

@kevinlog please let us know, do we need to close this ticket.

[2021-07-21 13:21] kevinlog commented on #102613
thanks for the update @deepikakeshav-qasource

I can verify that the alert documents from the Windows host are still successfully streaming to ES.  See the below in Discover.

![image](https://user-images.githubusercontent.com/56395104/126495388-2c8b10b2-21d6-47dd-8098-7aba458ad207.png)

The Alert is triggering on the Endpoint and it's being streamed to ES.  It seems like it might be a bug in the

[2021-07-21 13:22] ghudgins opened #106405 "[Lens] allow transparent "color" in color by value ramps"
**Describe the feature:**
Transparent color option for color stops, hex values do not allow this

**Describe a specific use case for the feature:**
**When** I am in dark mode in Kibana
**And** I am visualizing a table in Lens with "Color by value" enabled
**I need** to set ramps where there is a "no color" stop in my color ramp
**So I can** have an option that works dynamically in dark or light mo

[2021-07-21 13:22] dej611 commented on #105410
Done a first prototype with the feature and it seems there are some overlapping issues in some heatmap configurations.

When there are few buckets on the Horizontal Axis labels seems to be a good fit (even tho there's no contrast evaluation):

<img width="639" alt="Screenshot 2021-07-21 at 15 03 24" src="https://user-images.githubusercontent.com/924948/126494763-17f6b982-075f-47ab-b837-1daca31cc5c

[2021-07-21 13:22] elasticmachine commented on #106405
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 13:23] cauemarcondes commented on #106097
Hi, @kbalys I fixed the time comparison options for `7.14`. Could you take a look and see if it fixed this problem https://github.com/elastic/kibana/pull/101423?

[2021-07-21 13:30] yuliacech commented on #106009
This has been closed by a backport [PR#106098](https://github.com/elastic/kibana/pull/106098)

[2021-07-21 13:30] #106009 closed

[2021-07-21 13:44] elasticmachine commented on #105544
Pinging @elastic/apm-ui (Team:apm)

[2021-07-21 13:48] ferullo commented on #106203
Linux does not have a desktop pop up. You should see a log message in syslog. @nicholasberlin can you give instructions for how the syslog message can be verified and what "gotchas" might be encountered when trying to verify it?

cc @nfritts

[2021-07-21 13:49] jakelandis commented on #106345
Internal collection will automatically be impacted (i.e. no longer have this data) since the internal collection re-uses these internal classes. The [diff here](https://github.com/elastic/elasticsearch/pull/75274/files#diff-0e7d8b8e1820aea9e28d5ff5ae81c2f3d5f8c8bde05d5e0b073a1252c38e363e) is one example of the change specific for internal monitoring.

[2021-07-21 13:50] dej611 commented on #106405
@ghudgins it is possible to manually change the opacity for each color stop:

<img width="574" alt="Screenshot 2021-07-21 at 15 44 04" src="https://user-images.githubusercontent.com/924948/126499183-ccd446a2-2342-428c-a999-df7a542a7646.png">

It is using a custom hex format made of 8 digits where the last 2 are for opacity.

[2021-07-21 13:51] dej611 commented on #106405
Do you expect the default palettes to match the theme baseline color?

[2021-07-21 13:51] lukeelmers commented on #102870
FWIW I am not aware of any embeddables where we would be including a reference to a tag - at this point I think the only integrations are in "listing" pages (visualizations list, maps list, SO list, etc). But still a good idea to confirm with the app team to be safe.

++ Agree, unless the app team uncovers any surprises for us 😉

[2021-07-21 13:51] aleksmaus commented on #105477
@kevinlog you should be able to set the longer timeout for the containment action specifically, if you expect it to take longer than the default 1 minute. the changes just got merged to master and 7.x branches for fleet-server and beats repos

[2021-07-21 13:52] joshdover commented on #103351
Closing as duplicate of https://github.com/elastic/kibana/issues/85057

[2021-07-21 13:52] #103351 closed

[2021-07-21 13:57] ghudgins commented on #106405
ooh - okay we can resolve this issue. The palette question is my *next* question but I think it's an EUI one. we should start monochromatic palette (maybe all of them or some of them like `negative`) from `no color` as it makes more sense to me.

For example, here is our default
![image](https://user-images.githubusercontent.com/5465514/126500953-a9dbe57e-ceb0-4059-aa47-bcd3eac32b62.png)

[2021-07-21 13:57] ogupte opened #106411 "[APM] Add data streams datasets to API Integration tests"
create fixture in the APM API integration tests with classic indices mixed with data streams, and then one with only data streams. Also update places that reference only classic indices in the test setup.

[2021-07-21 13:57] elasticmachine commented on #106411
Pinging @elastic/apm-ui (Team:apm)

[2021-07-21 13:57] #106405 closed

[2021-07-21 13:58] #94702 closed

[2021-07-21 13:59] Dosant commented on #99372
Closed in https://github.com/elastic/kibana/pull/100549

[2021-07-21 13:59] #99372 closed

[2021-07-21 13:59] jen-huang commented on #106048
@ruflin

1. No, package definition can't control policy upgrade at this point
2. Yes, that's covered by the "Upgrade package policy UI" story ([design](https://user-images.githubusercontent.com/1965714/126019772-936f94a2-9242-426c-a9c3-2b000829e87b.png))

[2021-07-21 14:06] nicholasberlin commented on #106203
Linux uses `syslog(3)` to log malware alerts, which means it's configurable. But practically speaking, the messages will go to either `/var/log/messages` (for CentOS/RHEL) or `/var/log/syslog` (Ubuntu)

The message will contain `Elastic Security` e.g.
[code]

Possible ways to check:

Ubuntu
[code]
CentOS/RHEL
[code]

or on systemd based systems (I think they all are by this point)
[code]

[2021-07-21 14:06] Bamieh commented on #105262
hey @darnautov I was on PTO this week. I'm working on a fix from core's side so no need for workarounds. I'll try to have this fix in before the next 7.14 BC

[2021-07-21 14:10] ghudgins commented on #106405
@dej611 I think we still might have an issue with the text color logic

![image](https://user-images.githubusercontent.com/5465514/126502944-d02c7f7a-0d11-468d-90d2-ea520987fd36.png)

[2021-07-21 14:17] joshdover commented on #85057
I recently encountered this issue and when I inspected the response from the `/api/monitoring/v1/clusters/{clusterId}/logstash/pipeline/{pipelineName}` I noticed the following error object in the `pipeline` field:

[code]

A couple things worth noting:
- The `versions` field contains a version where the `hash` is empty and the firstSeen and lastSeen dates are identical. I suspect this may be comin

[2021-07-21 14:21] stacey-gammon opened #106412 "Developer Guide content for Elastic Charts"
Create a `Key concepts - Elastic Charts` document in our Developer Guide, or, if the content is short enough, add a section in the `Key concepts - Building blocks`,

The goal is to raise awareness of this library and promote it as a tool developers can take advantage of when building a Kibana plugin. We should probably consider first pushing Lens Embeddable usage, as it's a higher-level building b

[2021-07-21 14:21] elasticmachine commented on #106412
Pinging @elastic/datavis (Team:DataVis)

[2021-07-21 14:22] joshdover commented on #102353
Updated the title to reflect the decision we've made on moving this issue forward. We have this scheduled for our current sprint which started yesterday and ends on Aug 9.

[2021-07-21 14:40] caitlinbetz commented on #105546
@ferullo thanks - can we do "Host Released" as the title in the released pop up (see image below)?
![image](https://user-images.githubusercontent.com/26076500/126507751-cd3f44e0-9b02-49c1-b7f0-78d8697ee8b7.png)

[2021-07-21 14:45] tylersmalley commented on #106352
For now, I have skipped the Vega tests failing on this removal in 8460035ecadc32ed20409d652b95f5826f48abb9 to unblock the ES snapshot promotion.

[2021-07-21 14:47] elasticmachine commented on #106363
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-21 14:49] MadameSheema commented on #106365
@ecezalp @rylnd can you please take a look at this when you have the chance? thanks :)

[2021-07-21 14:52] hop-dev commented on #106073
@jen-huang because we use server-side sorting for this table I'm not sure that client side sorting in the table will work in the case where there are multiple pages of policies?

[2021-07-21 14:53] ecezalp commented on #106365
this is expected behavior, the threat intel card queries the `DEFAULT_CTI_SOURCE_INDEX` only which is `filebeat-*`, and it is independent from the rest of the data sources on the page.

[2021-07-21 14:53] #106365 closed

[2021-07-21 14:53] MadameSheema commented on #105566
Paired with @semd and we were not able to reproduce it.

[2021-07-21 14:54] joshdover commented on #106308
After thinking through this a bit, I think it's best if we implement this outside the migration algo as cleanup procedure that occurs beforehand the migration starts. The reason being that the algo's current architecture assumes that it's only interacting with one source index and would require many changes to accommodate being able to coordinate the migrations between these two indices to support

[2021-07-21 15:00] nchaulet opened #106415 "[Fleet] Support migration for fleet final pipeline"
## Description

In 7.14.0 we introduced a final pipeline in Fleet (https://github.com/elastic/kibana/pull/100973) that is used by all index template managed by Fleet.

That PR is making change to that pipeline https://github.com/elastic/kibana/pull/104044 and we need to get a way to update that pipeline for 7.15

Currently we install the pipeline and the associated component template if they do no

[2021-07-21 15:00] elasticmachine commented on #106415
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 15:01] smith commented on #105544
This is a duplicate of #76316, which we're planning on addressing during the 7.15 timeframe. Closing.

[2021-07-21 15:01] #105544 closed

[2021-07-21 15:05] caitlinbetz commented on #99071
@EricDavisX In terms of concrete roles, currently all users need the superuser role in order to access both fleet and the security-endpoints page. We hope to adjust this in the future for more granular control. Given the end-user impact of an isolated host, we feel like not reflecting any "isolated" status on the Agent gives an incomplete picture of the host/agent status. Agree that some docs-rela

[2021-07-21 15:10] #51659 closed

[2021-07-21 15:30] dej611 opened #106419 "[Lens] Heatmap transparent color stop replaced by"
**Describe the bug:**

When a color with opacity set to `0%` is passed to the heatmap chart, this is interpreting the color stops as invalid colors, replacing them with the default `red` color.

<img width="981" alt="Screenshot 2021-07-21 at 15 52 36" src="https://user-images.githubusercontent.com/924948/126510886-e96945d1-da60-4596-bbe5-baed4d39d4ba.png">

The problem seems to not apply for opaci

[2021-07-21 15:30] elasticmachine commented on #106419
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 15:32] dej611 commented on #106405
Can you open a separate issue for that?

[2021-07-21 15:38] alex-fedotyev commented on #106093
My logic is primarily around the fact that `service.name` filter is going to be a significant limitation for the customers, as it would only work when ECS loggers are used and configured in the monitored applications.

On the other side customers often have logs enabled across Kubernetes environments or configured manually using filebeat on their hosts and VMs already, which means that `service.na

[2021-07-21 15:38] banderror opened #106421 "[RAC][Rule Registry] Improve the API of RuleDataService and RuleDataClient"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

We'd like to improve DX for those who need to work with RuleDataService and RuleDataClient.

On a high level, if we compare the two implementations we have in rule_registry, and what we'd like to achieve:

Feature | [RuleDataService](https://github.com/elastic/kibana/pull/98935) AS IS | [EventLogService](https://github

[2021-07-21 15:43] qn895 opened #106422 "[ML] Show errors in script & runtime field editors in Transform, Data Frame Analytics, and Anomaly Detection"
When there's any syntax error in the runtime field or editor, we should show the errors in the UI to indicate something went wrong. Right now, the error will only show in console, and it's not obvious that there's been any issue.

![image](https://user-images.githubusercontent.com/43350163/126518208-fb8ac7c5-5294-4e64-bf79-9f406cfd6787.png)

**Kibana version**: v7.13.2

[2021-07-21 15:43] elasticmachine commented on #106422
Pinging @elastic/ml-ui (:ml)

[2021-07-21 15:45] elasticmachine commented on #106421
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 15:45] elasticmachine commented on #106421
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 15:51] jen-huang commented on #106378
Feels like this could be related to #106197.

[2021-07-21 15:54] banderror opened #106425 "[RAC] Make index bootstrapping logic more robust"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

We identified a few weak spots in the current implementation of index bootstrapping, that could represent potential issues and bugs. Let's address them to make the logic more resilient.

### 1. Index name creation & update logic

Currently, index name creation and update logic is split into two pieces.

[`rule_registry

[2021-07-21 15:54] elasticmachine commented on #106425
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 15:54] elasticmachine commented on #106425
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 16:01] #104385 closed

[2021-07-21 16:05] banderror opened #106428 "[RAC] Enhance index bootstrapping logic with support for additional aliases and proper ILM rollover per namespace"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Needed for:** migrating Security Solution's `.siem-signals-*` indices to the new alerts-as-data indices

## Summary

1. There is currently no ILM policy associated with the concrete indices created by the `RuleDataClient`. We can start by associating all concrete indices with the default ILM policy created by the rule registry. H

[2021-07-21 16:05] elasticmachine commented on #106428
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 16:05] elasticmachine commented on #106428
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 16:06] #106252 closed

[2021-07-21 16:12] markov00 commented on #105410
For those cases, isn't better to use a table with dynamic colors?
There is also the possibility to paginate the heatmap to avoid very short cells as ML is doing. I can provide you with an example on how to handle pagination.
Few other options are:
- add a different formatter for values (use reduced number of digits or just use multipliers K M G T)
- rotate labels, or better, rotate chart: when you

[2021-07-21 16:15] liciavale commented on #106394
Figma file https://www.figma.com/file/UDXscgU9o3p6auDOy6Zov7/Exploratory-view?node-id=962%3A176514

[2021-07-21 16:23] banderror opened #106432 "[RAC] Index naming: change the way index prefix works"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Currently, all alerts-as-data indices share a default prefix `.alerts`, so all the indices end up being

[code]

Kibana admin is able to override this prefix via Kibana config to something like `.kibana_mytenant_alerts` or `anyotherprefix`:

[code]

We were planning to support legacy multi-tenancy via this setting, but

[2021-07-21 16:23] elasticmachine commented on #106432
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 16:23] elasticmachine commented on #106432
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 16:23] dej611 commented on #105410
Maybe. I would argue that even in the "good" cases it is still better a table.

That would be helpful to evaluate.

I think that these routes are pretty hard if we want to move forward with this feature. Probably rotated labels are the best thing we could achieve, but that should be a chart feature (I've actually looked for that but could not find an option for heatmap).
Rotating the chart require

[2021-07-21 16:27] banderror commented on #106432
@dhurley14 @jasonrhodes let me know if I misunderstood the requirements for this one

[2021-07-21 16:32] banderror opened #106433 "[RAC] Remove EventLogService implementation from rule_registry"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

- [x] Remove the implementation of `EventLogService` merged to `rule_registry` in https://github.com/elastic/kibana/pull/98353
- [x] Close https://github.com/elastic/kibana/pull/101453

[2021-07-21 16:32] elasticmachine commented on #106433
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 16:32] elasticmachine commented on #106433
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 16:38] cnasikas commented on #106386
@MadameSheema @manishgupta-qasource @muskangulati-qasource I changed the impact to low because the behavior is correct but the messaging is wrong. A user cannot use an IBM Resilient connector with a Gold license. Only Jira can be used with Gold license.

[2021-07-21 16:41] smith opened #106434 "[Fleet] Warning about custom URL logs many times"
[`getRegistryUrl` logs a message](https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/epm/registry/registry_url.ts#L40) about the feature being unsupported every time it is called.

This can result in Kibana logs being filled with this message:

![screenshot of kibana log with many repeated log lines](https://user-images.githubusercontent.com/9912/126526516-ed5cf28d-

[2021-07-21 16:41] elasticmachine commented on #106434
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 16:47] cnasikas commented on #106386
@monina-n We have the following scenario. A user with a Platinum license creates an IBM Resilient connector. Then she downgrades to a Gold license. Technically it is not possible to distinguish if the connector is deleted or the user has no access to it. The API will return all connectors eligible for the user. I was thinking of extending the error message and inform the user that she may not have

[2021-07-21 16:52] mikecote commented on #106308
I don't foresee any risks as any new document should have a timestamp of ~now meaning the query will leave those new docs untouched.

[2021-07-21 16:54] kevinlog commented on #105477
thanks @aleksmaus !

@pzl it looks like we can expand the timeout on our side in the near term and to help this problem.

[2021-07-21 16:58] #104087 closed

[2021-07-21 17:04] joshdover commented on #106308
As I've started to work through this a bit, I've found a bit better solution which should allow us to continue to support 'hermetic' upgrades:

1. Just before the migration starts, make the query to find the oldest alert action in the queue. Fallback to `Date.now()` if none are returned.
2. Add a new `excludeFilter` option to the migration system. This filter will be included in a `bool.must_not`

[2021-07-21 17:08] MadameSheema commented on #104442
@deepikakeshav-qasource can you please check the fix of this issue on BC4? Thanks :)

[2021-07-21 17:09] jportner commented on #102870
Sorry @joshdover I missed this when I replied to you. I am not sure what the intent there was. For the longest time, you couldn't view `hidden` objects in the Saved Objects Management page (or export them). This is no longer the case though as of #90178. In the issue linked to that PR, Rudolf specifically mentioned tags as a motivation:

So yeah, likely we can/should mark tags as `hidden`.

[2021-07-21 17:13] mikecote commented on #106308
@joshdover brilliant! ❤️

[2021-07-21 17:14] LeeDr opened #106436 "[Lens] make data table selectable"
**Describe the feature:** When you use Lens to create a data table, it would be nice to be able to select values from the results with your mouse to copy/paste somewhere.   People are used to copying text from anything in a browser to paste somewhere else and expect to be able to.  But you can't do it in the Lens Data Table.

There are some work-arounds:

**Individual column/row values:**  You mig

[2021-07-21 17:14] elasticmachine commented on #106436
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 17:16] jbudz commented on #17284
I'm reopening this - there's still the timelion grammar hooked into the grunt task.  Feel free to close if I'm misunderstanding.

[2021-07-21 17:17] #105987 closed

[2021-07-21 17:19] pmuellr commented on #106292
I wasn't able to narrow down which function is actually throwing an exception that we're not catching - and I'm just assuming it is alerting code.  So that's not good - seems like we need to find it and add a try/catch.

However, I was able to prevent the crash from happening, by adding some code here:

https://github.com/elastic/kibana/blob/4e26bfe4da912f610e42f82e55ae7c82711b8a22/x-pack/plugins/

[2021-07-21 17:21] tsullivan commented on #98426
New flaky test run: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-flaky-test-runner/269/

[2021-07-21 17:21] dej611 commented on #106436
The table itself has no blocking on user selection, but the drag and drop has some specific css to prevent the user to select the text.
@mbondyra  you think it is possible to selectively disable the css block?
Not sure it is worth it as there's already a workaround.

[2021-07-21 17:22] tsullivan commented on #105358
Closing via fix for https://github.com/elastic/kibana/issues/105835

[2021-07-21 17:22] #105358 closed

[2021-07-21 17:25] joshdover commented on #106308
@mikecote if you or someone on your team has time, it'd be helpful to prepare a Elasticsearch data archive that has something like 1k documents in this state. That way I can add an integration test pretty easily that verifies that these old docs are cleaned up.

By "data archive" I essentially mean a .zip of the `data` directory from an Elasticsearch instance that has this data stored. You'll want

[2021-07-21 17:27] mikecote commented on #106308
@joshdover thanks, I'll look into it and provide an archive.

[2021-07-21 17:28] joshdover commented on #106308
Thanks a ton 😄

[2021-07-21 17:32] weltenwort commented on #106204
Looks like the worker had unusual timing behavior. No idea what to do with this TBH.

[2021-07-21 17:36] lizozom commented on #17284
@jbudz the never ending issue 🤷🏻‍♀️

[2021-07-21 17:38] elasticmachine commented on #17284
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-21 17:41] cauemarcondes opened #106440 "[APM] Agent installation instructions in Fleet ui"
Iteration of: https://github.com/elastic/kibana/issues/91412
Design: https://github.com/elastic/kibana/issues/88822

Figma: https://www.figma.com/file/VKc68vcDC7rPShkCOMotcU/Elastic-Agent-Fleet-integration?node-id=373%3A76080

More details of the fields: https://docs.google.com/document/d/1b_Fy0KcgQBer_jQpgCjVaIbsg8--oGX_XqNy6mSONsU/edit#heading=h.anm90f6sm6di

[2021-07-21 17:41] elasticmachine commented on #106440
Pinging @elastic/apm-ui (Team:apm)

[2021-07-21 17:48] #104515 closed

[2021-07-21 17:49] pmuellr commented on #106292
well dang it, even with the additional throw, I'm seeing additional task manager docs getting added.  I can disable the alert, which will remove one of the docs, but the others remain, and will cause the alert to continue to execute, even though it's disabled.  Or at least it tried to - it now logs the error about the api key being missing which I added.

So, seems like this is a bigger problem.

[2021-07-21 17:50] #105963 closed

[2021-07-21 17:50] stacey-gammon opened #106442 "Add info about ideal IDE settings into Developer Guide"
I think somewhere we have documented the ideal IDE settings, at least for VSCode, that do things like auto-fix on save.

Thoughts on adding that information to https://docs.elastic.dev/kibana-dev-docs/tutorial/setup-dev-env? It was the first place I thought to look.

[2021-07-21 17:50] elasticmachine commented on #106442
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-21 18:06] nfritts commented on #105749
We're hoping to have a fix in for it soon (in time for 7.14.0)

[2021-07-21 18:14] smith commented on #105923
The reason these aren't showing up is because the Elastic APM Java agent uses cumulative values for `jvm.gc.count` and `jvm.gc.time`, and the OpenTelemetry metrics appear to use instantaneous values.

In the APM UI we use a derivative aggregation and assume these are cumulative values: https://github.com/elastic/kibana/blob/529b155d1c97d5a773a8eed25bec545a483ee80d/x-pack/plugins/apm/server/lib/met

[2021-07-21 18:35] aleph-zero opened #106452 "[Alerting] Log threshold alert type is broken"
**Kibana version:** 7.13.4
**Elasticsearch version:** 7.13.4
**Server OS version:** ESS
**Browser version:**  Chrome (Version 91.0.4472.114 (Official Build) (x86_64))
**Browser OS version:** MacOS 11.2.3
**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**
The "Log Threshold" rule type UX is broken. It does not all you to select a field value, which

[2021-07-21 19:02] tsullivan commented on #98426
Tests are passing now. Closing via https://github.com/elastic/elastic-stack-testing/pull/944

[2021-07-21 19:02] #98426 closed

[2021-07-21 19:11] banderror opened #106461 "[RAC][Security Solution][Detections] Implement a Rule Execution Log abstraction for use in Security Solution"
**Parent ticket:** https://github.com/elastic/kibana/issues/101013

## Summary

Implement a rule execution log abstraction that would provide a simple api for writing to the log and executing queries, hiding non-important details from the rest of `security_solution`.

- Use this proposal as a foundation: https://github.com/elastic/kibana/pull/94143.
- Define a schema for rule execution events and

[2021-07-21 19:11] elasticmachine commented on #106461
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 19:11] elasticmachine commented on #106461
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 19:12] ghudgins commented on #86184
might want to consider this option on table even though you can use the column sorting options today

[2021-07-21 19:14] mikecote commented on #106308
@joshdover Here's an archive containing ~1500 tasks, of which ~1000 have failed (stale) and ~500 are still in queue. There's also ~1500 action_task_params. The test / queries should reduce the tasks to ~500 and the alert action queue to ~500.

[es.zip](https://github.com/elastic/kibana/files/6858238/es.zip)

[2021-07-21 19:33] banderror opened #106465 "[RAC][Security Solution][Detections] Integrate Rule Execution Log into Detection Engine"
**Parent ticket:** https://github.com/elastic/kibana/issues/101013

## Summary

Integrate the implementation developed in https://github.com/elastic/kibana/issues/106461 into the new incarnation of Detection Engine being migrated to `rule_registry`.

- Integrate with BaseSecurity rule type implemented in https://github.com/elastic/kibana/pull/105096.
  - Pass in generic status writer. Executors ca

[2021-07-21 19:33] elasticmachine commented on #106465
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 19:33] elasticmachine commented on #106465
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 19:42] banderror opened #106466 "[RAC][Security Solution][Detections] Integrate Rule Execution Log into HTTP route handlers"
**Parent ticket:** https://github.com/elastic/kibana/issues/101013

## Summary

Update all HTTP route handlers in `security_solution` to start fetching execution events and metrics from the Rule Execution Log instead of custom saved objects.

Note that in some of the route handlers we _write_ to the custom saved objects, so this needs to be updated as well.

Note that the route handlers might not

[2021-07-21 19:42] elasticmachine commented on #106466
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 19:51] elastic-jb opened #106468 "[META] Approachable Runtime Field Creation"
We now have the primary experience for Runtime Fields in the product, but we can do a lot to make it easier for existing users and more friendly to users who are new to the Painless language.  These items are experiences and improvements targeted at increasing the adoption by making the authoring experience more approachable.

- [X] Preview experience for Runtime Fields that output a single script

[2021-07-21 19:51] elasticmachine commented on #106468
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-21 19:55] banderror opened #106469 "[RAC][Security Solution][Detections] Integrate the extended event_log plugin into the Rule Execution Log"
**Parent ticket:** https://github.com/elastic/kibana/issues/101013
**Depends on:** https://github.com/elastic/kibana/issues/106347

## Summary

Integrate the extended `event_log` plugin into the `RuleExecutionLogClient` under a feature switch.

- Prerequisite: we addressed all the missing pieces of the puzzle in https://github.com/elastic/kibana/issues/106347
- Remove the implementation based on `

[2021-07-21 19:55] elasticmachine commented on #106469
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 19:55] elasticmachine commented on #106469
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 20:00] #104253 closed

[2021-07-21 20:10] ghudgins commented on #106436
another idea for a designer to 🤔 is to include a copy action (in addition to filter in / filter out / expand)

[2021-07-21 20:17] crisdarocha commented on #106308
Quickly replying to @LeeDr 's question. Most documents in my `.kibana_task_manager` have `"task.taskType": "actions:.index"` and not document has `"task.status": "idle"`. Most of them have `"task.status": "failed"`.

I tried three options:
1. Upgrade from 7.11 to 7.13 and wait for the clean up. This is unfortunately not fast enough for 850k documents in each of the Kibana indices. Less than 600 do

[2021-07-21 20:32] alexfrancoeur opened #106475 "[Fleet] Text on Observability landing page"
![image](https://user-images.githubusercontent.com/25181823/126556061-429523c8-6ac9-4d77-a341-380fbc9af656.png)

With Fleet GA, we probably want to remove the beta text. This is a 7.14 environment on cloud staging.

[2021-07-21 20:32] elasticmachine commented on #106475
Pinging @elastic/fleet (Team:Fleet)

[2021-07-21 20:34] jen-huang commented on #106475
@kpollich Can you take a look at this one? I recall we also spotted a few other instances of beta messaging attached to Fleet in Add Data. Would be great to clean those up in the same PR.

[2021-07-21 20:42] jen-huang commented on #105715
Hmm, this is slightly different and might be a valid issue. Can you open a new bug with a video attached? Thanks for the thorough testing!

[2021-07-21 20:44] LeeDr commented on #106436
I'm no UX expert, but I would think most people would just expect the normal behavior that they can select text on the screen.

BUT, I know there are requests to track/audit which users download CSV files from Kibana, and there's a feature control for downloading CSV, so _maybe_ we don't want users to be able to copy text from a Kibana page?

![image](https://user-images.githubusercontent.com/1354

[2021-07-21 20:53] yctercero opened #106476 "[Security] - Expose functionality to retrieve user space without additional authorization logic"
**Describe the feature:**
While writing some RBAC funtionality for alerts, we came upon a use case of wanting to retrieve a requests space id, without asking "is this user authorized for this space". Currently, to retrieve the request space, we rely on calling `securityPlugin.spaces?.spacesService.getActiveSpace(request)`.

If a user is not authorized to access the request space, the above functio

[2021-07-21 20:53] elasticmachine commented on #106476
Pinging @elastic/kibana-security (Team:Security)

[2021-07-21 20:53] kevinlog opened #106477 "[Security Solution] When filtering at 50k scale, Endpoint Admin list freezes up"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Describe the bug:**
When we have ~50k Endpoints and we filter in some scenarios, the UI freezes up.  The seems to happen when we page to the end of the Endpoint list and then try to filter

**Steps to reproduce:**
1. Deploy a large amount of Endpoints
2. Go to the last page in the table
3. Add a filter to the KQL bar
4. See that the UI f

[2021-07-21 20:53] elasticmachine commented on #106477
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-21 20:58] legrego commented on #106476
@yctercero To confirm -- we want to retrieve the entire space, not just the space id, right?

[2021-07-21 21:00] yctercero commented on #106476
@legrego our current use case just looks for the `id`. There may be cases where more is needed?

[2021-07-21 21:02] elasticmachine commented on #106347
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 21:05] legrego commented on #106476
@yctercero Ah I missed that in our conversation. In that case, the `spaces` plugin already exposes a way to do this without authorization via `spacesService.getSpaceId(request)`. As an added bonus, this call is not async, and doesn't require a round-trip to ES either:

https://github.com/elastic/kibana/blob/aab29cdbb05690f2421fc0b9f38be8132a845956/x-pack/plugins/spaces/server/spaces_service/spaces

[2021-07-21 21:07] yctercero commented on #106476
🤪 ugh, thank you! Sorry if we didn't make that clear. Let me make sure that's all we need before I close this out.

[2021-07-21 21:13] wylieconlon opened #106478 "[Vega] Errors throw by ES queries are no longer shown in the inspector, and are also missing from the main visualization"
I believe this is a regression, it affects at least Kibana 7.13.0 and higher but it might affect older versions.

Steps to reproduce:

1. Run an ES query that will always throw an error, for example by using an invalid date interval. I have an example below.
2. Instead of seeing any useful information, all you see is the text `EsError` in the main area.
3. When you try to `Inspect` to see the full

[2021-07-21 21:13] elasticmachine commented on #106478
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-21 21:25] pmuellr opened #106481 "[alerting] API key config enablement - needs doc and more precise error message"
Opening this based on PR https://github.com/elastic/kibana/pull/106293

Sounds like a fairly standard deployment of the stack (Fedora, RPM X86_64) required specifically setting the `xpack.security.authc.api_key.enabled` to `true` even after TLS was enabled.  Probably worth checking that out more, since my understanding is that once "TLS is enabled", that config should default to `true`, and it sho

[2021-07-21 21:25] elasticmachine commented on #106481
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-21 21:31] banderror opened #106482 "[Security Solution][Detections] Sync rule statuses of Detection Engine and Alerting Framework"
## Summary

Alerting Framework uses the following rule execution statuses: `Succeeded`, `Failed`, `Running`, and `Not started`.

Additionally, in Security Solution we have custom execution statuses that are displayed in the Rule Management table and Rule Details page:

- `succeeded`,
- `failed`
- `going to run` (actually this one means “running”)
- `warning` (previously known as partial failure )

[2021-07-21 21:31] elasticmachine commented on #106482
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-21 21:31] elasticmachine commented on #106482
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-21 21:32] banderror commented on #106482
cc @gmmorris @mikecote @kobelb

[2021-07-21 21:39] yctercero commented on #106476
This functionality already exists! Thanks @legrego !

[2021-07-21 21:39] #106476 closed

[2021-07-21 22:07] jonasll commented on #106160
That's a fantastic point, one we did discuss and does present challenges. Thanks for realigning us around this one.

[2021-07-21 22:09] EricDavisX commented on #99071
@caitlinbetz hi - I totally agree that it is needed, I feel pretty strongly, too. would love to see this get in :)

About the 'roles' I don't think I can cite it as eloquently, but I'm not sure I asked exactly the right question.   I was asking about end user personas, like 'a tier 1 security analyst' or the equivalent in the Agent / Fleet administration side (I don't know those personas actually)

[2021-07-21 22:35] kobelb opened #106485 "Prevent OSS plugins from having required dependencies on optional plugins"
When we stopped building the OSS distributable, we removed the only systemic protection that we had to prevent OSS plugins from having dependencies on X-Pack plugins. After further discussion, we've come to the conclusion that we should allow OSS plugins to have **optional** dependencies on X-Pack plugins. However, we should **not** allow OSS plugins to have **required** dependencies on X-Pack plu

[2021-07-21 22:35] elasticmachine commented on #106485
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-21 23:31] TinaHeiligers commented on #102353
@joshdover Have we aligned on the **_how_** to improve the `isFoundGetResponse` type guard?

[2021-07-21 23:40] #86765 closed

[2021-07-22 00:00] ferullo commented on #105546
The pop up will include the titles "Host Isolated" and "Host Released" in the next 7.14.0 BC

[2021-07-22 00:22] kevinlog commented on #106477
upon further investigation, the symptoms for this problem can actually be created with a smaller amount of Endpoints, but the UI doesn't freeze up.

Locally, you can:
1. Generate around 30 Endpoint docs (enough to get past one page)
2. Open the network tab
3. Navigate to the second page
4. Enter a query into the KQL bar
5. See multiple metadata calls in quick succession

I think this may be someth

[2021-07-22 00:34] hendry-lim opened #106491 "[Alerting] Inconsistent Rules and Connectors page title font and content layout/alignment"
**Kibana version:** `7.14.0`

**Describe the bug:**
Inconsistent page title and page layout/alignment in Stack Management > Rules and Connectors as compared with other Stack Management pages.

**Steps to reproduce:**
1. Go to Stack Management > Index Management
2. Go to Stack Management > Rules and Connectors
3. Observe that the page title font and page layout/alignment are not the same

**Expecte

[2021-07-22 01:39] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/349/)

[2021-07-22 01:55] kibanamachine opened #106492 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/alerts·ts - alerting api integration security and spaces enabled Alerts alerts alerts superuser at space1 should handle custom retry logic when appropriate"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15700/)

[2021-07-22 02:41] yiyangliu9286 commented on #99841
@banderror Thanks for tagging!

Re: the information that has shared via bugfix: #105611, if there's other technical consideration around the implementation for adding a filter on the Security Overview page in the future; maybe a quick UX fix for now would be giving users the context on where they would find and view the building block alerts once they have the filter turned on in the Alerts table

[2021-07-22 04:11] karanbirsingh-qasource commented on #106203
Thanks, @ferullo & @nicholasberlin for looking into and providing the observations.

Additionally yes we were able to get the notification details under the syslogs details added under whats working section on the bug, just wanted to be sure if it is expected of desktop pop not to come on Linux.

![image](https://user-images.githubusercontent.com/59917825/126588967-ee2e431d-95cf-4328-a258-47f3fdf2

[2021-07-22 04:11] #106203 closed

[2021-07-22 04:25] vipulsrivastava-qasource commented on #106206
Thanks @jen-huang for considering this.

[2021-07-22 05:51] wangengzheng commented on #10314
Agreed

[2021-07-22 06:04] amolnater-qasource opened #106495 "[Self Managed][Fleet]: Continue button under Agents tab, which is available after installing agent is removed on hard refresh."
**Kibana version:** 7.14.0 BC-3 self-managed Kibana environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab.
3. Run agent install command.
4. Observe Continue button appears at the bottom of Agents tab.
5.

[2021-07-22 06:04] elasticmachine commented on #106495
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 06:05] amolnater-qasource commented on #106495
@karanbirsingh-qasource Please review

[2021-07-22 06:10] amolnater-qasource commented on #105715
Hi @jen-huang
Thanks for the feedback, we have logged a new ticket with video at https://github.com/elastic/kibana/issues/106495

Please let us know if anything else is required from our end.
Thanks
QAS

[2021-07-22 06:24] stratoula commented on #105410
Yes, I would really like to see how pagination works!

I see that the legacy heatmap hides the labels when they don't fit in the cell. It would make sense to also have it here (and in the legacy one when we replace it with elastic-charts).

The ideas of rotation and text contrast are also something that I think we should explore.

[2021-07-22 06:29] thepatrick commented on #100416
To help others searching for this error in the future it reads

[code]

[2021-07-22 06:29] barryrobison commented on #100416
[code]

Just commenting the error message so it's searchable ( after having little luck troubleshooting this message ).

[2021-07-22 07:09] mtojek commented on #100031
Hi @afgomez @jen-huang ,

It seems that issue is not fully solved: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/571/pipeline/

[code]

As you can see - no double calls to `/reassign`. Did you spot anything on the Kibana side? It happened again for the elastic/integrations master (CI run).

[2021-07-22 07:56] mgiota opened #106497 "[RAC][Metrics UI] Link to an inventory item with the flyout open at a certain point in time"
In the alerts Observability table the link icon on the left for the inventory rule type entries links to the default metrics inventory page at the moment. We would like to make it possible to link to a specific inventory item `with the flyout open at a certain point in time`.
<img width="1064" alt="126230695-31c098d0-c617-4f2e-a910-e3de81b8a8e4" src="https://user-images.githubusercontent.com/28527

[2021-07-22 08:00] elasticmachine commented on #106497
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-22 08:15] #100763 closed

[2021-07-22 08:26] dasansol92 commented on #106387
Hi @caitlinbetz, I changed the subtitle in the modal and flyout and displayed it only when creating event filters, not when editing (like in trusted apps). Let me know if this make sense to you:

![event filters sbtitle](https://user-images.githubusercontent.com/15727784/126610124-072d68a8-ddb2-4cb2-848d-472e887fd142.gif)

[2021-07-22 09:03] nicenemo opened #106503 "Uncaught exception because of requests blocked by privacy plugin or browser with builtin privacy features"
**Kibana version:** 7.13.4 and 7.13.3, probably also before that

**Elasticsearch version:** 7.13.4and 7.13.3, , probably also before that

**Server OS version:** I think Elastic cloud still uses CentOS with Kubernetes?

**Browser version:** Latest Chrome with UBlock Origin, Brave, or Latest  Safari

**Browser OS version:**  not relevant, latest on Windows 10 or previous/latest MacOS.

**Original

[2021-07-22 09:04] elasticmachine commented on #106380
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-22 09:07] #105442 closed

[2021-07-22 09:08] pisto opened #106504 "Update index pattern api returns an error when no changes are detected"
**Kibana version:**
7.13.3

**Elasticsearch version:**
7.13.3

The new [index pattern update API](https://www.elastic.co/guide/en/kibana/current/index-patterns-api-update.html) returns an error when there is no change between the stored index pattern and the incoming request (https://github.com/elastic/kibana/blob/master/src/plugins/data/server/index_patterns/routes/update_index_pattern.ts#L145-L1

[2021-07-22 09:17] vipulsrivastava-qasource opened #106573 "[Fleet] Add integration is show instead of Add < Name of integration > integration when adding integration from policy page."
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Default or newly created policy should exist.

**Build Details:**
[code]
**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Fleet-> Agents policies tab.
3. Click on Default or newly created policy.
4. Click on

[2021-07-22 09:29] #105300 closed

[2021-07-22 09:37] ppisljar opened #106509 "[Expressions] expressions setup/start contract leak wrong functions"
expressions setup and start contract expose functions they shouldn't:
- setup contract exposes `run` which should only be available in `start` when all the plugins had a chance to register their functions
- start contract exposes `fork` which should only be available in `setup` so function registration can happen in time

on top of that forked expression service exposes all the methods at all time

[2021-07-22 09:37] elasticmachine commented on #106509
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 09:37] j-meyer94 commented on #4060
upvoting +1

could really use that for our use-cases

[2021-07-22 09:46] ppisljar opened #106510 "lens should register expression functions in setup contract"
lens expression functions are currently registered too late. they should be registered in setup life cycle to enable https://github.com/elastic/kibana/issues/106509

as functions are registered too late this will prevent us to run migrations on them, do reference extraction/injection or in the future use alerting or reporting services.

[2021-07-22 09:46] #105746 closed

[2021-07-22 09:46] elasticmachine commented on #106510
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 09:48] ppisljar opened #106511 "canvas should register expression functions in setup life cycle"
canvas expression functions are currently registered too late. they should be registered in setup life cycle to enable #106509

as functions are registered too late this will prevent us to run migrations on them, do reference extraction/injection or in the future use alerting or reporting services.

[2021-07-22 09:48] elasticmachine commented on #106511
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-22 09:50] mgiota opened #106513 "[RAC][Metrics UI] Format reason in inventory metric executor"
After merging #105706 inventory rule types started appearing in the Observability Alerts table. At that point we displayed a simple message in the `Reason` column `Inventory alert for {node}`. We should now index the reason field and not construct the message in the front end.

<img width="960" alt="Screenshot 2021-07-22 at 14 11 21" src="https://user-images.githubusercontent.com/2852703/126637086

[2021-07-22 09:50] elasticmachine commented on #106513
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-22 10:11] Bamieh commented on #37851
This should be a lot easier to complete now. Removing the angular parser from `kbn-i18n` is a breaking change for external plugins so we need to document it and have it ready for `8.0`.

[2021-07-22 10:14] Bamieh commented on #98476
@alisonelizabeth I'm aiming ot work on it this sprint. Need to confirm with the team first but it is on our priority list.

[2021-07-22 10:24] hop-dev commented on #106197
TLDR: searching for agent policies without specifying a key e.g "aaa" returns a 400, think we need to add something that adds a key in the backend?

@jen-huang @kpollich  I could do with a bit of a steer on this one, I think we need to add search behaviour for agent policies when no key is provided.

The issue is that when searching for a simple string, "aaa" in the search box, we are getting a 40

[2021-07-22 10:38] Bamieh commented on #99625
@alisonelizabeth I'll work with you this week to fully flush this issue so we can get started on it

[2021-07-22 10:38] hop-dev commented on #106378
I think it is @jen-huang. Though at the moment turning on the errors would error for some queries I think are valid, I'll pick this up once I get a steer on #106197

[2021-07-22 10:40] therealdwright opened #106516 "Provide Kibana Setting to Hide Shard Failure Warnings in UI"
**Describe the feature:**
I would like to propose a configuration setting to hide shard failure warnings from displaying in the Kibana UI. Failures would still be logged and could be alerted on but would not be displayed in the search/discover UI like the screenshot below.
<img width="319" alt="Screen Shot 2021-07-22 at 8 35 52 pm" src="https://user-images.githubusercontent.com/15135979/126626549-

[2021-07-22 10:53] Kerry350 commented on #106093
Thanks for the input, all. I'd like to try and tease out the specific acceptance criteria. How does the following sound:

- There should be a filter bar for filtering down on APM data, e.g. `service.version` etc. Example:

<img width="1512" alt="Screenshot 2021-07-22 at 11 42 32" src="https://user-images.githubusercontent.com/471693/126627344-014d6b94-a942-4c3a-ae83-838968b1d90d.png">

- An APM AP

[2021-07-22 10:57] ppisljar opened #106517 "[PersistableState] searchsource should implement persistablestateservice interface"
SearchSource params are being stored in urls and saved object so SearchSource should implement PersistableStateService interface to enable consumers to migrate and extract/inject reference from its state.

[2021-07-22 10:58] elasticmachine commented on #106517
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 11:05] Sagesh commented on #75316
Hi,
We are using Kibana 7.10.2 and wanted to embed the Lens visualization into a webpage similar to the normal other visualization. When I am using embed=true with Lens URL it hides only the "Menu" and "Save" buttons. Users can able to see the index pattern details and other related information.

Is there a way we can achieve this?

Thanks,
Sagesh

[2021-07-22 11:28] ruflin commented on #106048
1. We will likely need / want this for packages like apm.

[2021-07-22 11:33] amolnater-qasource opened #106520 "[Fleet]: No tooltip for namespace filter under Data Streams tab, user is unable to distinguish long namespace."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Create a `New policy` with namespace more than 50 charact

[2021-07-22 11:33] elasticmachine commented on #106520
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 11:34] amolnater-qasource commented on #106520
@karanbirsingh-qasource Please review.

[2021-07-22 11:43] kpollich commented on #106197
Thanks for digging into this @hop-dev. After clicking around the tables and observing based on your notes, I am seeing the same behavior and issue. The Agent Policy table throws a 400 on every keystroke when no field is specified for the search.

Here's where the `kuery` query parameter is handled on the server side for the agent policy search requests:

https://github.com/elastic/kibana/blob/eaa6

[2021-07-22 11:45] chrisronline commented on #101925
I'm not sure how we know when something should be at a `trace` level versus a `debug` level honestly.

I also feel like changing this behavior might affect some folks who rely on it at the default `debug` level. I do agree it can be a bit noisy though.

Is it possible to adjust the logging level for this particular plugin? Such as:
[code]

[2021-07-22 11:50] YulNaumenko commented on #80313
Resolved by PR https://github.com/elastic/kibana/pull/104190

[2021-07-22 11:50] #80313 closed

[2021-07-22 12:04] dikshachauhan-qasource opened #106522 "[Fleet]: Actions menu options should be hidden for inactive agents under agent tab."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]
- few unenrolled agents should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agents tab.
	- Apply inactive status filter on agent list pag

[2021-07-22 12:05] elasticmachine commented on #106522
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 12:05] dikshachauhan-qasource commented on #106522
@karanbirsingh-qasource Please review

[2021-07-22 12:08] samratbhadra-qasource commented on #102904
Hi @MadameSheema

We tested this ticket & found that the issue still exists on the 7.14.0-BC4 environment too. Please find below the testing details:

**Build Details:**

VERSION: 7.14.0-BC4
BUILD: 42656
COMMIT: 82a4f6a7fa23946667599787cdb1b2d82c1d0dfb
ARTIFACT: https://staging.elastic.co/7.14.0-b3779639/summary-7.14.0.html

**Steps to Reproduce:**

1. Navigate to the Endpoints tab under Security.

[2021-07-22 12:15] kibanamachine commented on #106388
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15712/)

[2021-07-22 12:16] elasticmachine commented on #106492
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-22 12:17] elasticmachine commented on #106388
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-22 12:37] mistic commented on #106388
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 1002125
7.x/7.15: 9d74286

[2021-07-22 12:46] #106404 closed

[2021-07-22 12:59] MadameSheema commented on #102904
Thanks @samratbhadra-qasource

ping @XavierM @asnehalb

[2021-07-22 13:03] ghudgins commented on #75316
try putting the single lens visualization on a dashboard which gives the ability to suppress the Kibana UI. this should be a good workaround
![image](https://user-images.githubusercontent.com/5465514/126643292-4329074b-b91a-40af-bc70-76665b3b76ae.png)

[2021-07-22 13:06] #105785 closed

[2021-07-22 13:13] legrego commented on #8162
This issue has been open for a long time without any activity, and it doesn't appear to be broadly useful for folks at this time. I'm going to close this for now, but feel free to re-open if this is something that should be prioritized.

Since this has been opened, we've also added support for PKCS#12 bundles, which allows a full certificate chain to be contained within a single file. See https://

[2021-07-22 13:13] #8162 closed

[2021-07-22 13:13] nicenemo commented on #106503
Strange thing is: when in private mode.
If I enter one space and edit setup mode I see alerts. If I leave setup mode. And try to do the same from another space I can enter set-up mode but do not get the option to edit alerts. Browser was latest chrome in private mode on Windows 10.

[2021-07-22 13:15] legrego commented on #17865
Closing in favor of https://github.com/elastic/kibana/issues/47872

[2021-07-22 13:15] #17865 closed

[2021-07-22 13:16] legrego commented on #78120
I've expanded the scope of https://github.com/elastic/kibana/issues/47872, so I am going to close this issue in favor of that.

[2021-07-22 13:16] #78120 closed

[2021-07-22 13:19] mbondyra commented on #89690
Leftovers after merging https://github.com/elastic/kibana/pull/100858 and https://github.com/elastic/kibana/pull/100338:

To do in the future:

- I kept the subtypes ‘UPDATE_ALL_STATES’, but we probably want to keep redux toolkit naming convention lens/updateAllStates
- moving loading logic to the middleware
- create better selectors to avoid some unnecessary rerenders 
- calculate data structures

[2021-07-22 13:21] legrego commented on #19584
Blocked on https://github.com/elastic/kibana/issues/17888

[2021-07-22 13:32] LeeDr commented on #106274
This issue doesn't say anything about the CCS problem that was reported?  Does one method work with CCS and the other doesn't?

I'm guessing here, `terms_agg` is the old way, and works with CCS.  And `terms_enum` is the new way and doesn't?

[2021-07-22 13:36] #81544 closed

[2021-07-22 13:37] #104472 closed

[2021-07-22 13:44] #94087 closed

[2021-07-22 13:55] cnasikas commented on #106385
Fixed by: https://github.com/elastic/kibana/pull/106525

[2021-07-22 13:55] cnasikas commented on #106386
Fixed by: https://github.com/elastic/kibana/pull/106525. The message has changed to include information about the license.

[2021-07-22 14:05] timroes commented on #105808
There was no logical reason. This type is already rather old, most likely we didn't have the `agnostic` option around that time (or were not aware of them) and on introduction of the type it was simply moved to the wrong type. Given that we should anyway use the proper uiMetrics system nowadays, I think we should not change that anymore, instead of getting just rid of it :)

[2021-07-22 14:27] caitlinbetz commented on #106387
yes that looks good!! @dasansol92  thanks!

[2021-07-22 14:33] MichaelMarcialis commented on #103701
I'm personally fine with the notion of implementing the proposed partial/bandaid fix to give middle truncation to the dropdown options, even if it is temporarily inconsistent with the selected item truncation. It's an improvement on something that is potentially problematic at the moment, so that's a win in my book. As long we can easily change to the official EUI fix when that gets implemented in

[2021-07-22 14:36] nchaulet commented on #106086
I am wondering how this will work when we have multiple outputs, if we override these settings at the policy level what output is going to be affected?

[2021-07-22 14:40] ymao1 commented on #106292
As part of [this PR](https://github.com/elastic/kibana/pull/105968), Kibana security suggested in the case of decryption failures to strip the encrypted attribute before migrating (vs migrating the original, unencrypted document). Once I did that, I was seeing the same `Unhandled Promise rejection detected:` error and I assumed it was due to the `apiKey` being completely missing (vs set to null) b

[2021-07-22 14:41] kibanamachine opened #106547 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/dashboard_integration·ts - saved objects tagging - functional tests dashboard integration editing allows to select tags for an existing dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15713/)

[2021-07-22 14:43] ymao1 commented on #106292
I also spent some time trying to figure out where exactly that exception was being thrown but was unsuccessful. It seems to be happening somewhere in the rules client get function, possible during `ensureAuthorized` but I tried wrapping many things inside try/catches and was still seeing this `Unhandled Promised rejection`

[2021-07-22 14:50] AlexanderWert opened #106552 "[APM] UI changes for AWS Lambda support"
With https://github.com/elastic/apm-server/issues/5753 and https://github.com/elastic/apm/issues/352 gathering APM data for AWS Lambda services will be supported.

To have appropriate support in the APM UI, we need a few UI changes:
- [x] https://github.com/elastic/observability-design/issues/76
  - [x] https://github.com/elastic/kibana/pull/111834
- [x] Based on https://github.com/elastic/kibana/

[2021-07-22 14:50] #106085 closed

[2021-07-22 14:50] elasticmachine commented on #106552
Pinging @elastic/apm-ui (Team:apm)

[2021-07-22 14:51] rayafratkina opened #106553 "[Dashboard] Link to editors in read-only mode"
**Problems:**
We want to solve two different problems in this issue:
- When users have **read-only** access to dashboards they cannot manipulate visualizations to run their investigations or even see their configuration (dataviews and fields used, formulas, etc.). This is always the case with "Managed" dashboards.
- When users have edit access but the dashboard is in **view mode**, they need to fi

[2021-07-22 14:51] elasticmachine commented on #106553
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-22 14:51] elasticmachine commented on #106553
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 14:54] mbondyra opened #106555 "[Lens] overflowing search phrase in the combobox of fields problem"
**Describe the feature:**
When search phrase in the combobox of fields overflows the width of the container, we don't show more characters. That forces a user to guess the next symbols.

Quoting @dej611  from:
#https://github.com/elastic/kibana/pull/106285#pullrequestreview-712520603

<img width="325" alt="Screenshot 2021-07-22 at 11 04 35" src="https://user-images.githubusercontent.com/924948/126

[2021-07-22 14:54] legrego commented on #34820
I'm going to close this in favor of a more holistic session management experience (details forthcoming)

[2021-07-22 14:54] #34820 closed

[2021-07-22 14:59] mikecote commented on #106292
@ymao1 have you tried running Kibana with `--trace-warnings`. There's a few NodeJS options that may help (https://nodejs.org/api/cli.html#cli_trace_warnings).

[2021-07-22 15:01] ghudgins opened #106558 "[Lens] Default non-timeseries visualizations to horizontal bar"
**Describe the feature:**
Update default visualization to horizontal bars when displaying categorical data (today it's vertical bars which are hard to read)

**Describe a specific use case for the feature:**
**When** I am dragging a non-time field to an empty workspace
**I need** Lens to visualize in horizontal bars first
**So I can** automatically have a datavis best practice that's the easiest t

[2021-07-22 15:01] elasticmachine commented on #106558
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 15:01] wylieconlon commented on #106558
@ghudgins Closing as duplicate of https://github.com/elastic/kibana/issues/73125

[2021-07-22 15:01] #106558 closed

[2021-07-22 15:03] timroes commented on #102683
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-07-22 15:03] #102683 closed

[2021-07-22 15:06] ymao1 commented on #106292
I have not...I'll give that a shot thanks!

[2021-07-22 15:07] elasticmachine commented on #98257
Pinging @elastic/eui-design (EUI)

[2021-07-22 15:07] timroes commented on #98257
Related EUI issue: https://github.com/elastic/eui/issues/4959

[2021-07-22 15:08] joshdover commented on #102353
@TinaHeiligers and I synced on this and actually decided it made more sense to use the new `X-Elastic-Product` header to determine whether or not the response is coming from Elasticsearch or not. This is the change we anticipate making:

If the `get` response from Elasticsearch does not contain `X-Elastic-Product: Elasticsearch` header, throw a `SavedObjectsErrorHelpers.isEsUnavailableError()` exc

[2021-07-22 15:09] spong commented on #99841
@yiyangliu9286 Yeah, this was the intended original design for conveying how building block alerts are shown within the Alerts/Timeline tables. Was added as part of https://github.com/elastic/kibana/pull/79049. This is probably worth revisiting along with other markers (like the yellow left border signifying an event of kind:alert) and where/what the appropriate legend is for users to make this as

[2021-07-22 15:09] elasticmachine commented on #97643
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-22 15:13] elasticmachine commented on #93019
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 15:23] timroes commented on #76496
Might be related to https://github.com/elastic/kibana/issues/14536

[2021-07-22 15:24] jportner opened #106561 "superuser role's Kibana privileges are inaccurate"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

The built-in `superuser` role incorrectly states that it does not grant access to Kibana.

**Steps to reproduce:**
1. View role

**Expected behavior:**

It should state that it grants access to all of Kibana. Unfortunately we don't have a good way to render that at the moment.

**Screenshots (if relevant):**

![image](https://user-imag

[2021-07-22 15:24] elasticmachine commented on #106561
Pinging @elastic/kibana-security (Team:Security)

[2021-07-22 15:26] elasticmachine commented on #72390
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-22 15:28] timroes commented on #71068
Duplicate of https://github.com/elastic/kibana/issues/76590

[2021-07-22 15:28] #71068 closed

[2021-07-22 15:29] elasticmachine commented on #69383
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-22 15:31] dej611 commented on #105410
Just discussed a bit with @markov00 offline and wondering: does it really make sense to enable this feature when it only works for very few cases?

The problems above show that we may think of mitigations for those, but even these mitigations leads to sub-optimal solutions.
For instance not rendering a value label if the cell of the chart is not "big enough" is a very bad solution, as it does not

[2021-07-22 15:39] jeffvestal opened #106563 "[ML] Include the initial score for an anomaly in the Anomaly Explorer UI"
**Describe the feature:**
When Looking at the record details in the Anomaly Explorer, I would like to include the field `initial_record_score` and/or `initial_anomaly_score`.

**Describe a specific use case for the feature:**
Users sometimes question why an anomaly may "feel" like it should have been scored differently (usually higher). Often times an anomaly is scored highly while the bucket is o

[2021-07-22 15:39] elasticmachine commented on #106563
Pinging @elastic/ml-ui (:ml)

[2021-07-22 15:40] jeffvestal commented on #46155
Linking [issue](https://github.com/elastic/kibana/issues/106563) to show initial score in UI table as requested

[2021-07-22 15:41] nickofthyme commented on #69383
Is this a `z-index` issue where we can increase the `z-index` on the alerts?

[2021-07-22 15:42] ghudgins commented on #72390
related to https://github.com/elastic/elastic-charts/issues/1221 I believe

[2021-07-22 16:00] nfritts commented on #105749
@willyu-elastic is working on the Endpoint fix for this and seems to be getting the same (or a very similar) error from Analyzer when process.entity_id and process.parent.entity_id are not the same.   Offending alert is below:

[code]

[2021-07-22 16:22] jportner opened #106567 "E2E integration tests for converting encrypted saved objects"
Blocks: #100067

In doing some local testing for the linked issue above, there is an indication that we are not handling AAD correctly for converted saved objects. From @chrisronline :

the scenario is:
* With a 7.14 branch, start up ES (with a dedicated data path) and Kibana (both 7.14)
* Create rules/connectors in the default space and a custom space
* Copy the data out of the dedicated data pat

[2021-07-22 16:22] elasticmachine commented on #106567
Pinging @elastic/kibana-security (Team:Security)

[2021-07-22 16:26] randomuserid commented on #13668
I'll add my reasons for proposed prioritization from the dup issue I recently filed;

Let's use the telemetry cluster as an example. This instance has a large number of custom visualizations intermixed with the growing number of OOB visualizations. These are displayed in a list format at up to 50 per page which results in a paged list of approximately 450 visualizations.

If these could be grouped

[2021-07-22 16:32] elasticmachine commented on #21862
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:33] elasticmachine commented on #21571
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:34] timroes commented on #21542
Closing this, since we no longer support IE.

[2021-07-22 16:34] #21542 closed

[2021-07-22 16:34] elasticmachine commented on #20920
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:36] elasticmachine commented on #16691
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:37] elasticmachine commented on #16007
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:37] elasticmachine commented on #15216
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:38] timroes commented on #15195
Closing this, since those indexd patterns are no longer valid.

[2021-07-22 16:38] #15195 closed

[2021-07-22 16:40] elasticmachine commented on #14815
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:42] elasticmachine commented on #18452
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 16:43] timroes commented on #12691
Closing since this link no longer exists.

[2021-07-22 16:43] #12691 closed

[2021-07-22 16:44] timroes commented on #10896
I am closing this as outdated giving it's age, but please feel free to reopen if it's still valid.

[2021-07-22 16:44] #10896 closed

[2021-07-22 16:45] timroes commented on #10658
Closing this as outdated giving it's age, but please feel free to reopen or a leave a comment if still valid.

[2021-07-22 16:45] #10658 closed

[2021-07-22 16:45] timroes commented on #17930
Closing this as outdated (also seems to not be valid anymore).

[2021-07-22 16:45] #17930 closed

[2021-07-22 16:46] timroes commented on #9412
Closing this as outdated given its age, but please feel free to leave a comment or reopen if it's still valid.

[2021-07-22 16:46] #9412 closed

[2021-07-22 16:46] timroes commented on #9869
Closing this as outdated given its age, but please feel free to leave a comment or reopen if it's still valid.

[2021-07-22 16:46] #9869 closed

[2021-07-22 16:47] jportner opened #106569 "Home app shows unusable controls to under-privileged users"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

As a minimally-privileged user, I can see several UI elements in the Home app that I cannot interact with.

**Steps to reproduce:**
1. Create a minimal role, grant it only Read access to the Dashboard feature
2. Create a user and assign it the new role
3. Log in as the new user
4. Observe that you only have access to the Dashboard app,

[2021-07-22 16:47] elasticmachine commented on #106569
Pinging @elastic/kibana-core (Team:Core)

[2021-07-22 16:49] #17886 closed

[2021-07-22 16:49] #104622 closed

[2021-07-22 16:50] timroes commented on #62132
Seems this is no longer reproducible, thus closing it.

[2021-07-22 16:50] #62132 closed

[2021-07-22 16:51] #17915 closed

[2021-07-22 16:51] #18412 closed

[2021-07-22 16:53] jportner opened #106572 "Edit role page shows inaccurate tooltip when adding sub-feature privileges"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

When you are adding Kibana privileges and you select a sub-feature privilege, an icon with a tooltip is displayed next to the expandable row.

**Steps to reproduce:**
1. Install a Trial license for your cluster
2. Navigate to Stack Management -> Roles
3. Create a Role
4. Add a Kibana privilege
5. Select a sub-feature privilege

**Expec

[2021-07-22 16:53] elasticmachine commented on #106572
Pinging @elastic/kibana-security (Team:Security)

[2021-07-22 16:58] #106383 closed

[2021-07-22 16:58] #18485 closed

[2021-07-22 17:00] elasticmachine commented on #106573
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 17:10] jportner commented on #72836
Note this also happens if you lose access to an object that still exists (for example, if your role had "Read" access to the Dashboard feature and you viewed a dashboard, and then later at some point an admin changed your role to remove access to the Dashboard feature completely. It would be nice to handle this situation in addition to when an object is deleted.

[2021-07-22 17:18] jen-huang commented on #106522
Hmm, this is as designed right now. Putting in the backlog for design consideration.

[2021-07-22 17:20] jportner opened #106576 "Edit role page allows you to exit before changes are saved"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

Creating (or editing) a role takes several steps:
* Add ES privileges
* Add Kibana privileges
* Click the "Save role" (or "Create role") button

This is particularly easy to overlook when you are adding a Kibana privilege, because there is a filled in "Add Kibana privilege" (or "Update space privilege") button

**Steps to reproduce:**

[2021-07-22 17:20] elasticmachine commented on #106576
Pinging @elastic/kibana-security (Team:Security)

[2021-07-22 17:20] chrisronline commented on #100067
Very early research exposed a potential bug on the core/security side: https://github.com/elastic/kibana/issues/106567

[2021-07-22 17:26] jen-huang commented on #106520
I don't think there's much we can do here that would give much benefit for this edge case. Closing as won't fix.

[2021-07-22 17:26] #106520 closed

[2021-07-22 17:32] ymao1 commented on #106292
It looks like the `Uncaught Promise rejection` comes from https://github.com/elastic/kibana/blob/f30cfd4f7a41b80fc024fd6a6216dc4b15bcb574/x-pack/plugins/security/server/authorization/check_privileges.ts#L54-L67

If I wrap that in a try/catch, I no longer see the `Unhandled Promise rejection` error

[2021-07-22 17:35] jportner opened #106580 "Minimally privileged user sees "Manage searches" button"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

A user with read-only access to Discover (not Stack Management) can see a "Manage searches" button in the Discover app. Clicking that button leads you to a 404 error page.

**Steps to reproduce:**
1. As an admin, import Kibana sample data
2. Create a role with:
  a. ES privileges: `kibana_sample_data*` -> `read`, `view_index_metadata`

[2021-07-22 17:35] elasticmachine commented on #106580
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 17:36] bhavyarm opened #106581 "Better UX if user tries to delete hidden saved objects"
**Kibana version:** 7.14.0 BC4

**Elasticsearch version:** 7.14.0 BC4

**Server OS version:** darwin_x86_64

**Browser version:** Chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If the user tries to delete hidden saved objects ( in 7.14.0 - rules and connectors) - Kibana UI shows the generic

[2021-07-22 17:36] elasticmachine commented on #106581
Pinging @elastic/kibana-core (Team:Core)

[2021-07-22 17:39] spalger commented on #105371
@ekibicho can you try formatting your flag as `--elasticsearch.password \"-somePassword\"`? This prevents the shell from removing the `"` characters, causing the value to be wrapped in `"` characters and then the CLI will attempt to JSON decode the string, getting the correct value.

[2021-07-22 17:46] legrego commented on #8519
Ping @elastic/kibana-security since we weren't automatically mentioned on this older issue.
We have first-class support to enable/disable embedding across all of Kibana, but this issue is discussing whether we'd want to allow applications/routes to opt in/out of embedding

[2021-07-22 17:47] legrego commented on #17973
Closing this in favor of a more holistic user session management experience (details forthcoming)

[2021-07-22 17:47] #17973 closed

[2021-07-22 17:53] legrego commented on #35881
note: Some features (like file upload) rely on the current behavior, so we want to allow for two features to grant access to the same API endpoint. Our approach should make this more explicit/intentional, however.

[2021-07-22 17:59] jportner opened #106584 "Use ESQL language in Monaco text editor"
**Describe the feature:**

When using Canvas, the Elasticsearch SQL editor should use the ESQL language provided to the Monaco text editor.

CC @jloleysens

<img src="https://user-images.githubusercontent.com/5295965/126686631-c47b359c-3169-43bd-ac43-14dfb54dc642.png" width="400" />

[2021-07-22 17:59] elasticmachine commented on #106584
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-22 18:00] mdefazio opened #106585 "[DRAFT] [RAC] UI updates"
The following list of UI updates should be considered a replacement for https://github.com/elastic/security-team/issues/1299

<details>
<summary>Observability full page mockup</summary>
![image](https://user-images.githubusercontent.com/3756330/126686097-abf10cec-5868-448c-bca3-39ccce110bd3.png)

</details>

<details>
<summary>Security full page mockup</summary>
![Security](https://user-images.git

[2021-07-22 18:14] jportner opened #106586 "Minimally privileged user cannot set default index pattern"
**Kibana version:** 7.14.0 and prior

**Describe the bug:**

A user with Read-only access to the Index Pattern Management screen cannot use the "Set as default index" button.

**Steps to reproduce:**
1. As an admin, import Kibana sample data
2. Create a role with:
  a. ES privileges: `kibana_sample_data*` -> `read`, `view_index_metadata`
  b. Kibana privileges: "Read" access to Index Pattern Manag

[2021-07-22 18:14] elasticmachine commented on #106586
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-22 18:22] #103032 closed

[2021-07-22 18:22] jportner opened #106589 "Support "All" or "None" feature privileges"
**Describe the feature:**

Currently. feature privileges must be "All", "Read", or "None" (not counting sub-feature privileges).
However, for some features it may only make sense to provide "All" or "None".

**Describe a specific use case for the feature:**

One example of this is Dev Tools; there is no practical difference between "All" and "Read".

Another example is the ability to log into Kiba

[2021-07-22 18:22] elasticmachine commented on #106589
Pinging @elastic/kibana-security (Team:Security)

[2021-07-22 18:26] tsullivan commented on #76411
https://github.com/elastic/kibana/pull/105508 cleaned this up as part of internal types cleanup. The code uses the actual timeout and max attempts values from the config, and has comments to mention that the `timeout` and `max_attempts` are added to the job payload for display purposes only.

[2021-07-22 18:26] #76411 closed

[2021-07-22 18:39] pmuellr commented on #106292
I ended up putting a `console.trace()`, at the top of this function, since I think it's the call the exception is being thrown from: https://github.com/elastic/kibana/blob/e952f9a135c4d6959b91116d2b035a9ecc7620cf/x-pack/plugins/security/server/authorization/check_privileges.ts#L41-L51

yielded this:

[code]

Looking at the place where `getSpace()` is called, (alerting_authorization), there's some

[2021-07-22 18:45] joshdover commented on #106308
I've got this working end-to-end with an integration test passing over in https://github.com/elastic/kibana/pull/106534 and I believe the risk here is fairly minimal. No fundamental changes to the migration algo were needed to implement this. 🎉

I'll have this cleaned up and the test coverage completed for review sometime on Monday, but any early eyes on the implementation now would be helpful.

[2021-07-22 18:45] ekibicho commented on #105371
I tried that but it did not work. The quotes would be parsed as part of the password.

[2021-07-22 18:47] cchaos commented on #77549
I still back my statement that this is purely an **implementation detail**. EuiExpression does nothing itself with the popover but is purely a stylized block of text (or button). How you handle what exists **in** the popovers is dependent on context.

My guess is that EuiExpression is used here because it's much easier to scan and read and so that was prioritized over changing the selections. You

[2021-07-22 18:51] pmuellr commented on #106292
I think what's going on in that stack trace, is that we end up calling `new AlertingAuthorization()` to construct an object, sync, but it's making async calls, which it can handle via `.then()` (can't use `await` in a constructor).  Seems like having a constructor do that kind of thing is bad form anyway - perhaps the logic should be split so the constructor does minimal sync work, and then the as

[2021-07-22 18:52] MichaelMarcialis opened #106593 "[Lens] Table Cell Color Opacity Not Taken Into Account"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
macOS 11.4

**Browser version:**
Chrome 91.0.4472.164

**Browser OS version:**
macOS 11.4

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
When applying a cell background color to a Lens table visualization, a check is performed to apply a text c

[2021-07-22 18:52] elasticmachine commented on #106593
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 18:54] #102613 closed

[2021-07-22 18:59] ymao1 commented on #106292
The line for `this.spaceId = getSpace(request).then((maybeSpace) => maybeSpace?.id); ` is getting changed soon to use the synchronous `getSpaceId` method in [this PR](https://github.com/elastic/kibana/pull/105333),

But that makes sense what you're saying.

[2021-07-22 19:01] yctercero commented on #106292
Yes! @ymao1 is correct that we're moving to use the synchronous `getSpaceId` as we did notice that that line you pointed out is currently causing an unhandled rejection promise to throw.

[2021-07-22 19:21] pmuellr commented on #106292
I should also note, the stack trace in https://github.com/elastic/kibana/issues/106292#issuecomment-885146116 may be a red herring.  Looks like there were a number of calls to check privileges, here's another stack:

[code]

Could probably try to do a little more precision try/catching in the checkPrivileges call to narrow down the exact stack ...

And I tend to think of things before/after `runMi

[2021-07-22 19:25] kibanamachine commented on #98252
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/351/)

[2021-07-22 20:01] cyrille-leclerc opened #106602 "[Docs] Update APM Correlations"
# Documentation task

Update the documentation page on APM Correlations: https://www.elastic.co/guide/en/kibana/current/correlations.html

[2021-07-22 20:01] elasticmachine commented on #106602
Pinging @elastic/apm-ui (Team:apm)

[2021-07-22 20:05] ymao1 opened #106603 "[Alerting] Alerting does not work if security is disabled"
Alerting should still work if security is disabled. With [this PR](https://github.com/elastic/kibana/pull/97317) we changed the way we check whether TLS is enabled, but it depends on the security plugin. When security is disabled, the check will always return false, which blocks users from creating rules in the UI (they see a message saying that TLS is required).

[2021-07-22 20:05] elasticmachine commented on #106603
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-22 20:11] #105784 closed

[2021-07-22 20:31] jen-huang opened #106606 "[Fleet] Add unit tests for updating top-level fields for preconfigured policies"
In https://github.com/elastic/kibana/pull/103722, we made preconfigured policies that are defined in kibana.yml that are managed (ones with `is_managed: true`) pick up new top-level field changes in kibana.yml.

We should add tests for this case alongside the rest of our unit tests for this feature in https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/preconfigurati

[2021-07-22 20:31] elasticmachine commented on #106606
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 20:32] jen-huang commented on #106606
@hop-dev assigning this to you following our discussion of helping to improve our tests :)

[2021-07-22 21:08] jen-huang commented on #106048
@ruflin Let's discuss that scenario offline as I think it's related to the larger problem of auto-upgrading packages.

[2021-07-22 21:26] #74657 closed

[2021-07-22 21:26] #99759 closed

[2021-07-22 21:36] alex-fedotyev commented on #91848
I suggest to drop p95 from the columns in this version.
Not ideal likely, but it feels less important than other improvements and fixes.

[2021-07-22 22:02] jfsiii commented on #79574
I didn't get to verify this goal/implementation but if both are correct, the change is very small.

Changing
https://github.com/elastic/kibana/blob/02e8e7f55c0586e3f68b25650cbd7e6431483bab/x-pack/plugins/fleet/common/openapi/entrypoint.yaml#L88-L89

to

[code]

should do the trick. That says use either of these security schemes for all endpoints.

[2021-07-22 22:03] jportner opened #106613 ""Fleet and Integrations" feature does not grant access to anything"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

If you grant a user "All" or "Read" access to the "Fleet and Integrations" feature, it doesn't actually let them do anything unless they also have the `superuser` role.

**Steps to reproduce:**
1. Create a minimal role, grant it only All access to the Fleet and Integrations feature
2. Create a user and assign it the new role
3. Log in

[2021-07-22 22:03] elasticmachine commented on #106613
Pinging @elastic/fleet (Team:Fleet)

[2021-07-22 22:10] #102324 closed

[2021-07-22 22:30] jportner opened #106616 ""Detections prerequisites and requirements" docs are out of date"
**Kibana version:** 7.14.0 and prior

**Describe the bug:**

(Filing on behalf of @jloleysens)

After enabling Detections, when attempting to create a regular Kibana user with access to Detections, the [documentation](https://www.elastic.co/guide/en/security/7.14/detections-permissions-section.html#enable-detections-ui) was missing required index privileges.

It looks like that page simply needs t

[2021-07-22 22:30] elasticmachine commented on #106616
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-22 22:37] #105782 closed

[2021-07-22 22:38] jportner opened #106617 "Minimally privileged ML user has access to "Import data""
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

A user with only "Read" access to the ML feature can see unusable UI elements. The Data Visualizer tab offers to allow the user to "Select file" to start to import data. The user can upload a file, configure some things, and get all the way to the end of the workflow to find out that the "Import" button is grayed out with a tooltip say

[2021-07-22 22:38] elasticmachine commented on #106617
Pinging @elastic/ml-ui (:ml)

[2021-07-22 22:43] jportner opened #106619 "Minimally privileged Graph user can see drill-downs to Discover"
**Kibana version:** 7.14.0

**Describe the bug:**

A user with only access to Graph (not Discover) can see a drill-down that links to the Discover app. Clicking that link will show a new tab with a 403 error and a non-functional "Go back" link.

**Steps to reproduce:**
1. Load Kibana sample data
2. Create a minimal role, grant it only All access to the Graph feature
3. Create a user and assign it

[2021-07-22 22:43] elasticmachine commented on #106619
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-22 22:53] jportner opened #106621 "Observability Overview page shows unusable buttons to read-only users"
**Kibana version:** 7.14.0 and earlier

**Describe the bug:**

As a read-only user of any observability feature, you can access the Observability Overview page. However, that page shows many options that regular users cannot actually accomplish.

**Steps to reproduce:**
1. Create a minimal role, grant it only Read access to the Logs feature
2. Create a user and assign it the new role
3. Log in as

[2021-07-22 23:02] jportner opened #106622 "[APM] Read-only user can see UI to "Add data" and "Load Kibana objects""
**Versions**
Kibana: 7.14.0 (and prior)

**Description:**

A user with read-only access to the APM feature can see UI elements to "Add data" and view "Setup instructions", both of which takes them to the same APM Tutorial page.

Once on that page, clicking the "Load Kibana objects" will result in a 403 error.

**Expected behavior:**

Either this workflow should be entirely hidden from read-only us

[2021-07-22 23:02] elasticmachine commented on #106622
Pinging @elastic/apm-ui (Team:apm)

[2021-07-22 23:11] jportner opened #106623 "[APM] Read-only user encounters infinite loop when clicking Synthetic Monitoring"
**Versions**
Kibana: 7.14.0 and earlier

**Description:**

A user with Read-only access to APM and User Experience can encounter an infinite loop with hundreds of requests being sent to the `/api/uptime/index_status` route. This will overwhelm their browser and cause it to be unresponsive.

Reproduce this by creating a minimally privileged user, navigating to the User Experience dashboard, clickin

[2021-07-22 23:11] elasticmachine commented on #106623
Pinging @elastic/apm-ui (Team:apm)

[2021-07-22 23:18] debadair opened #106624 "Use predefined search queries in links to the docs instead of specific doc URLs"
**Describe the feature:**

A key feature of the new doc system is a much-improved search experience that will make it easier to discover and navigate through our ever-growing network of topics. Leveraging that system instead of hard-coding links to specific doc topics has a number of advantages:

- Links would always direct users to the most relevant, up-to-date content. No more link rot.
- Links

[2021-07-22 23:19] elasticmachine commented on #106624
Pinging @elastic/kibana-docs (Team:Docs)

[2021-07-22 23:19] elasticmachine commented on #106624
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-22 23:20] peluja1012 commented on #104376
This is fixed by this PR: https://github.com/elastic/kibana/pull/106188

[2021-07-22 23:24] sqren commented on #77549
This is perfect. Changing it to this would make me a very happy alerting user :)

[2021-07-23 00:02] spong commented on #106233
So initial thought was that this was related to https://github.com/elastic/kibana/issues/101582 and a migration error on upgrade was resulting in the observed behavior. Upon looking at the kibana cluster logs, it looks like all went well with the migration and no errors were logged migrating either the `kibana` or `task_manager` indices.

<p align="center">
  <img width="500" src="https://user-ima

[2021-07-23 00:19] kibanamachine opened #106627 "Failing test: Firefox UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visualize ciGroup12 visual builder switch index pattern mode should be able to switch using text mode selection"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15723/)

[2021-07-23 00:19] #65174 closed

[2021-07-23 00:20] alex-fedotyev commented on #106093
This looks great to me, one minor thing you missed - environments filter which is common across APM UI.
![image](https://user-images.githubusercontent.com/61838744/126724366-1238d259-a148-4f6e-bc07-1bf3f6408fe3.png)

Feel free to drop in to the #apm-ui slack channel to clarify on the APM API endpoint.

Thanks @Kerry350 !

[2021-07-23 00:24] spong opened #106628 "[Security Solution][Detections] Support combining ML Job and Datafeed APIs"
Starting in `7.15` ML Datafeeds will begin to be folded into ML Jobs slowly working towards a consolidated API over time. The start of this effort occurred in https://github.com/elastic/elasticsearch/pull/74265, which enables the following:

1. It is now possible to supply the datafeed config when creating an anomaly detection job by supplying a nested datafeed_config object in the job config. Thi

[2021-07-23 00:24] elasticmachine commented on #106628
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-23 00:24] elasticmachine commented on #106628
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-23 00:48] spong opened #106629 "[RAC][SecuritySolution][Detections] Support alerts on alerts with RBAC"
In supporting alerts on alerts with RBAC, some considerations must be taken into account to ensure new and upgraded rules continue to function without error.

Currently in Security Solution:
<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/126725205-f4c0fb20-4fc9-4331-b9e2-1aaca1d8b602.png" />
</p>

With Alerts RBAC:
<p align="center">
  <img width="500"

[2021-07-23 00:48] elasticmachine commented on #106629
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-23 00:48] elasticmachine commented on #106629
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-23 01:21] #105937 closed

[2021-07-23 01:58] #104130 closed

[2021-07-23 03:17] kibanamachine opened #106631 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security global discover read-only privileges doesn't show visualize button"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15726/)

[2021-07-23 03:17] kibanamachine opened #106632 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/infra/home_page·ts - InfraOps App Metrics UI Home page Saved Views Inventory Test save functionality should have save and load controls"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15726/)

[2021-07-23 04:01] kycfeel commented on #77864
Hey @sqren

Sorry for coming back so late. I was busy with other urgent stuff...

I checked the collected error with Discover, and there was no `event.outcome` field with it.

Looks like the errors should have `event.outcome` field to be displayed on the Error Rates chart.

Is there a special configuration that I should do to make It happen?

Thanks.

[2021-07-23 04:14] kibanamachine opened #106633 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/infra/home_page·ts - InfraOps App Metrics UI Home page Saved Views Inventory Test save functionality should new views should be listed in the load views list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15583/)

[2021-07-23 07:25] MadameSheema commented on #104376
@mandeepkaur-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-23 08:29] #97087 closed

[2021-07-23 10:34] MadameSheema commented on #105945
@deepikakeshav-qasource can you please validate the fix of this issue on the current BC? Thanks :)

[2021-07-23 12:45] GranGusto opened #106641 "Type "ip" is missing in the drop-down for the "Convert" processor under "Ingest node pipeline""
From 7.13 the convert processor support conversion to type: ip
This is documented here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/convert-processor.html

But in Kibana you cannot chose "ip" in the drop-down when using this processor under "Ingest node pipeline"
![image](https://user-images.githubusercontent.com/50584051/126783082-d9f5814d-4def-40b4-83d5-3c842bbec8cd.png)

[2021-07-23 13:36] nicenemo commented on #17551
We are experiencing the same. I referred to this issue from an Elastic Cloud ticket, where we shared some screenshots. This is not something  we can explain to our customers.

When you change the granularity to month, it is fine. As soon as you go to a granularity of week, you will experience this problem. The problem exists both in Lens view as in the now legacy line chart view  7.13.4. It does n

[2021-07-23 14:49] stephmilovic opened #106648 "[Security Solution] [UEBA] Bug fixes on UEBA PoC"
## TO DO BEFORE RELEASE
- [ ] somehow implement the rules/transform for the user <-- needs design
- [ ] implement sorting on the table
- [ ] major bug on "User risk score by rule" view in which all of the tables are under the same pagination/sorting. need unique id for each user table. There are `@ts-ignore`s to be removed
- [ ] Add links to rule page from data
- [ ] Tests, jest
- [ ] Add a functi

[2021-07-23 14:49] elasticmachine commented on #106648
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-23 14:49] elasticmachine commented on #106648
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-23 16:43] tsullivan commented on #104086
Commenting here from another issue where @lukeelmers mentioned:

And this issue mentioning:

It looks like the saved objects repository service is assuming that if there is an error, it would be a response error from ES:
https://github.com/elastic/kibana/blob/7fc3d125bf569636cd4cc45ac9b73ffb8c8733e3/src/core/server/saved_objects/service/lib/repository_es_client.ts#L42

But if the error is that is

[2021-07-23 16:47] alexwizp opened #106649 "[Vega] Default visualization doesn't work on master branch (v8)"
**Kibana version:**
v8 (master branch)

**Describe the bug:**
[Vega] Default visualization doesn't work on master branch (v8)

**Steps to reproduce:**
1.  Navigate to `Visualize Library` and create new `Vega` visualization

**Screenshots (if relevant):**

https://user-images.githubusercontent.com/20072247/126813597-e57f908e-926e-43e9-80d3-58e6e5997719.mov

**Any additional context:**
This visualiz

[2021-07-23 16:47] elasticmachine commented on #106649
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-23 18:17] kibanamachine opened #106650 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/infra/home_page·ts - InfraOps App Metrics UI Home page Saved Views should have save and load controls"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15597/)

[2021-07-23 18:32] kibanamachine opened #106651 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/infra/metrics_explorer·ts - InfraOps App Metrics UI Metrics Explorer Saved Views save functionality should new views should be listed in the load views list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15741/)

[2021-07-23 21:02] kibanamachine opened #106652 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/single_metric_job_without_datafeed_start·ts - machine learning anomaly detection single metric without datafeed start job creation navigates through the single metric wizard and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15600/)

[2021-07-23 22:51] #15216 closed

[2021-07-23 23:16] #14815 closed

[2021-07-23 23:17] #16691 closed

[2021-07-23 23:34] TinaHeiligers commented on #102353
The clients team recently added a [new version and header check](https://github.com/elastic/clients-team/issues/415) agains >=7.14 and we'll need to implement the version check when we upgrade the client. I'm not sure when we'd be able to upgrade the client though to include those changes.

[2021-07-24 00:02] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15603/)

[2021-07-24 00:02] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15603/)

[2021-07-24 02:32] mattkime commented on #16007
Currently works on 7.14 although it was likely fixed quite a while ago.

[2021-07-24 02:32] #16007 closed

[2021-07-24 07:11] kibanamachine opened #106653 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/apm/correlations/latency_correlations·ts - APM specs correlations latency correlations space with no features disabled loads the correlation results"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15610/)

[2021-07-24 09:21] kibanamachine opened #106655 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/import·ts - saved objects security and spaces enabled _import user with all at other space within the space_1 space with createNewCopies enabled should return 403 forbidden [sharecapabletype/only_default_space]"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15756/)

[2021-07-24 09:21] kibanamachine opened #106656 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/import·ts - saved objects security and spaces enabled _import user with all at other space within the space_1 space with createNewCopies enabled "after all" hook for "should return 403 forbidden [isolatedtype/defaultspace-isolatedtype-id,isolatedtype/space1-isolatedtype-id,isolatedtype/space2-isolatedtype-id,sharedtype/all_spaces,sharedtype/default_and_space_1,sharedtype/only_space_1,sharedtype/only_space_2,sharecapabletype/only_default_space,sharecapabletype/only_space_1,globaltype/globaltype-id,sharedtype/conflict_1,sharedtype/conflict_1a,sharedtype/conflict_1b,sharedtype/conflict_2c,sharedtype/conflict_2d,sharedtype/conflict_3a,sharedtype/conflict_4,dashboard/new-dashboard-id,sharedtype/new-sharedtype-id,globaltype/new-globaltype-id,hiddentype/any]""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15756/)

[2021-07-24 13:53] kibanamachine opened #106657 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_vega_chart·ts - visualize app visualize ciGroup12 vega chart in visualize app vega chart with filters should render different data in response to filter change"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15616/)

[2021-07-24 16:33] kibanamachine opened #106658 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/security_only/tests/common/cases/reporters/get_reporters·ts - cases security only enabled: trial Common get_reporters User: security solution only - should read the correct reporters"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15762/)

[2021-07-24 16:44] kirubaaws commented on #105539
i want to add a new customer field and set the alias name to my schema . is it possible timroes?

[2021-07-24 16:54] JULIETPAPA opened #106659 "Developer hit on head."
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-07-24 20:42] sqren commented on #77864
@kycfeel What agent are you using?

[2021-07-24 23:14] kibanamachine opened #106660 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/infra/home_page·ts - InfraOps App Metrics UI Home page Saved Views should new views should be listed in the load views list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15626/)

[2021-07-24 23:56] elasticmachine commented on #106627
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-24 23:56] elasticmachine commented on #106631
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-24 23:57] elasticmachine commented on #106632
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-24 23:57] elasticmachine commented on #106633
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-24 23:58] elasticmachine commented on #106650
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-24 23:58] elasticmachine commented on #106651
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-24 23:59] elasticmachine commented on #106652
Pinging @elastic/ml-ui (:ml)

[2021-07-25 00:00] elasticmachine commented on #106653
Pinging @elastic/apm-ui (Team:apm)

[2021-07-25 00:00] elasticmachine commented on #106655
Pinging @elastic/kibana-security (Team:Security)

[2021-07-25 00:01] elasticmachine commented on #106656
Pinging @elastic/kibana-security (Team:Security)

[2021-07-25 00:01] elasticmachine commented on #106657
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-25 00:02] elasticmachine commented on #106658
Pinging @elastic/kibana-security (Team:Security)

[2021-07-25 00:02] elasticmachine commented on #106660
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-25 00:43] elasticmachine commented on #106658
Pinging @elastic/siem (Team:SIEM)

[2021-07-25 05:01] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15632/)

[2021-07-25 08:14] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15635/)

[2021-07-25 12:17] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15783/)

[2021-07-25 13:59] #102637 closed

[2021-07-25 23:47] elasticmachine commented on #106373
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-26 02:46] GrahamHannington commented on #106357
Follow up comment from the user whose feedback prompted this issue (feature) request:

To my knowledge, apart from setting a lower limit (e.g. `>=1m`), there's no way to customize the behavior of the `auto` interval. Its "steps" are hardcoded (um, in [`calc_auto_interval.ts`](https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/src/plugins/data/common/search/aggs/buckets

[2021-07-26 03:00] GrahamHannington commented on #106357
## Interval determined by field value?

Another closely related point, which could be a separate feature request... the frequency of the data that I'm ingesting—its "collection interval"; the difference between `@timestamp` field values in consecutive events—can be changed by the user, "upstream" of the Elastic Stack. It would be nice if minimum intervals could be sensitive to that, without requir

[2021-07-26 04:11] kycfeel commented on #77864
Using `elastic-apm-node`, version `3.15.0`.

[2021-07-26 04:31] #106659 closed

[2021-07-26 04:33] elasticmachine commented on #106641
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-26 04:35] elasticmachine commented on #106555
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-26 04:37] elasticmachine commented on #106547
Pinging @elastic/kibana-core (Team:Core)

[2021-07-26 04:38] elasticmachine commented on #106516
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-26 04:39] tsullivan commented on #106504
Hi @pisto can you include a screenshot or copy and paste the error that you are seeing?

[2021-07-26 04:44] tsullivan commented on #106504
This error was added in https://github.com/elastic/kibana/pull/83576/files#diff-b8948f5c32a83ee92912a1f1935bacd54d5f5982afcd90c412a951ba2573ba7cR109

[2021-07-26 04:45] elasticmachine commented on #106504
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-26 04:48] elasticmachine commented on #106491
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-26 04:53] tsullivan commented on #104276
If the date is not formatted in the timezone selected as the `dateFormat:tz` value, (or the browser's timezone if there is no value for it), then it is a bug.

[2021-07-26 04:55] tsullivan commented on #105539
Hi @kirubaaws, can you provide a screenshot of what kind of table you mean?

[2021-07-26 04:57] tsullivan commented on #105577
Hi @sunj1 the URL is not an interface into the filters on the visualization, or any part of the chart.

With your use case, is it possible to use the Saved Objects API? https://www.elastic.co/guide/en/kibana/current/saved-objects-api.html

[2021-07-26 05:00] elasticmachine commented on #106452
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-26 05:23] deepikakeshav-qasource opened #106663 "[Security Solution] Trusted field is displaying empty in add endpoint exception modal for unsigned alerts"
**Describe the bug**
Trusted field is displaying empty in add endpoint exception modal for unsigned alerts

**Build Details:**
[code]
**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. unsigned alerts should be generated.

**Steps to Reproduce**
1. Navigate to Alerts tab of security.
3. Click on add endpoint exception.
4. Observe th

[2021-07-26 05:23] elasticmachine commented on #106663
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 05:23] deepikakeshav-qasource commented on #106663
@manishgupta-qasource Please review!!

[2021-07-26 05:31] manishgupta-qasource commented on #106663
Reviewed & assigned to @MadameSheema

[2021-07-26 05:40] muskangulati-qasource opened #106664 "[Security Solution] The Endpoints tab does not show the data for the case added on the host isolation flyout."
**Description:**
The Endpoints tab does not show the data for the case added on the host isolation flyout.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed
3. Alert should be generated

**Steps to Reproduce:**
1. Create a case and add the alert to the case
2. Navigate to the endpoints tab
3. Isolate the host

[2021-07-26 05:41] elasticmachine commented on #106664
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 05:41] elasticmachine commented on #106664
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-26 05:42] muskangulati-qasource commented on #106664
@manishgupta-qasource please review!

[2021-07-26 05:57] deepikakeshav-qasource commented on #104442
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC4** build and observed that issue is **Fixed**. Able to create the endpoint exception without any error for not trusted alert file. However, trusted field is displaying empty in add endpoint exception modal. We have reported the separate bug for same. [#106663]

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubuse

[2021-07-26 05:57] #104442 closed

[2021-07-26 06:02] sunj1 commented on #105577
I am not sure what is meant here.
It works fine if the visualization is Not saved.
So I am now using unsaved visualizations, and applying filters dynamically using "kuery" in the URL.

I have not checked that, since I am using URLs directly to apply filters. If it will return URL of the saved object, then I might face the same issue again.

[2021-07-26 06:03] manishgupta-qasource commented on #106664
Reviewed & Assigned to @paul-tavares

[2021-07-26 06:15] stratoula commented on #106649
@alexwizp we already tracking this here https://github.com/elastic/kibana/issues/106352

[2021-07-26 06:21] kllee-au opened #106667 "[TSVB] Table Key Column Displayed as [object Object]"
**Kibana version:** 7.13.4

**Elasticsearch version:** 7.13.4

**Original install method (e.g. download page, yum, from source, etc.):** download page

**Describe the bug:**
TSVB Table key column displayed as [object Object], suppose to display Outlet Name in my case.

**Steps to reproduce:**
1. Put dashboards#/view/d6e3d570-d2f8-11eb-ae50-67c937d198b2 in Item Url

**Expected behavior:**
Should st

[2021-07-26 06:27] deepikakeshav-qasource commented on #105545
Hi @MadameSheema,

We have validated this ticket on 7.14.0 BC4 build and observed that issue is **Fixed**. User is navigate to All Rules page when delete the rule from rule details page.

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/126746073-9f1254ea-e11f-47ee-ac33-208088720ad8.mp4

Hence, We closing this ticket and marking as QA Validated.

Than

[2021-07-26 06:28] #105545 closed

[2021-07-26 06:33] pheyos commented on #106652
Another occurrence of the known CI network issue: `ERROR browser[SEVERE] http://localhost:61141/api/ml/jobs/new_job_caps/ft_farequote - Failed to load resource: net::ERR_NETWORK_CHANGED`.
No issue in the the app or the test code, closing.

[2021-07-26 06:33] #106652 closed

[2021-07-26 06:35] stratoula commented on #50043
I am closing as I cant replicate it in master

[2021-07-26 06:35] #50043 closed

[2021-07-26 06:38] stratoula commented on #63815
I am closing it as it is not reproducible in master

[2021-07-26 06:38] #63815 closed

[2021-07-26 06:43] stratoula commented on #34677
I am closing it as it has been fixed in master

[2021-07-26 06:43] #34677 closed

[2021-07-26 06:44] vipulsrivastava-qasource opened #106668 "[Fleet] No error message is displayed if user enters any string value instead of numerical value under Unenrollment timeout field"
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS :** All

**Browser version:**
`Firefox : 90.0.2
`

**NOTE : User can only type 'e' character for Chrome and edge.**

**Brower version :**
[code]

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Default policy or newly created policy should exist.

[code]

**Steps to reproduce:**

1. Login to Kiban

[2021-07-26 06:44] elasticmachine commented on #106668
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 06:47] stratoula commented on #21480
This has been fixed on master. I am closing it

[2021-07-26 06:47] #21480 closed

[2021-07-26 06:49] stratoula commented on #48866
@VladLasitsa can we validate if this happens on the new implementation of timelion?

[2021-07-26 06:50] deepikakeshav-qasource commented on #105034
Hi @MadameSheema,

We have validated this ticket on 7.14.0 BC4 build and observed that issue is **Fixed**. Top left navigation ☰ is working when create a timeline page is opened.

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/126746637-3044233d-d5cc-40e0-ad40-da3c6a027302.mp4

Hence, We closing this ticket and marking as QA Validated.

Thanks!!

[2021-07-26 06:50] #105034 closed

[2021-07-26 06:51] elasticmachine commented on #20152
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-26 06:52] elasticmachine commented on #19484
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-26 06:58] Saiedkkr opened #106670 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-07-26 06:58] elasticmachine commented on #106670
Pinging @elastic/apm-ui (Team:apm)

[2021-07-26 07:00] stratoula commented on #16991
I am closing it as it seems to have been fixed with the new implementation of pie charts

[2021-07-26 07:00] #16991 closed

[2021-07-26 07:01] elasticmachine commented on #15990
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-26 07:03] amolnater-qasource opened #106671 "[Fleet]: Flickering Fleet tab and "Loading Fleet" on clicking Add integration button under Integrations tab."
**Kibana version:** 7.14.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-4 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Select any integration and click Add Integration button under Integration Overview page.
4. Observe

[2021-07-26 07:03] elasticmachine commented on #106671
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 07:04] amolnater-qasource commented on #106671
@manishgupta-qasource Please review.

[2021-07-26 07:05] manishgupta-qasource commented on #106671
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 07:06] alexwizp commented on #106649
Duplicate of #106352

[2021-07-26 07:06] #106649 closed

[2021-07-26 07:06] stratoula commented on #12542
I am closing it as I cant replicate it in master with the new implementation if the xy charts

[2021-07-26 07:06] #12542 closed

[2021-07-26 07:07] sabarasaba commented on #106641
This has been fixed already with https://github.com/elastic/kibana/issues/97461 and will be released with v7.14

[2021-07-26 07:07] #106641 closed

[2021-07-26 07:24] elasticmachine commented on #106663
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-26 07:24] MadameSheema commented on #106663
@peluja1012 @spong can you please take a look at this? thanks :)

[2021-07-26 07:34] mgiota commented on #106202
This is duplicate of https://github.com/elastic/kibana/issues/106404

[2021-07-26 07:34] mgiota commented on #106404
Fixes #106202 https://github.com/elastic/kibana/issues/106202

[2021-07-26 07:35] #106670 closed

[2021-07-26 07:35] #106202 closed

[2021-07-26 07:35] elasticmachine commented on #106667
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-26 07:41] timroes commented on #106619
I don't think we can actually fix that the way this is currently build. Those links are nothing "hardcoded" in the Graph application, but users can simply specify any links they want to use there. Meaning they just configured a URL to `/app/discover...` to get this working (I assume this is from the sample data, where we do something like this).

Since this is from Kibana's perspective "just a lin

[2021-07-26 07:41] #106619 closed

[2021-07-26 07:50] vipulsrivastava-qasource commented on #106075
Hi @jen-huang

We have validate this issue on 7.14 BC-4 Kibana cloud environment and found that issue is **Fixed**. Actions dropdown did not get stuck on UI under Policy page on clicking "Add agent" option.

Please find build and testing details.

[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/126946498-1072c8f6-1902-4201-b1f9-599069855406.mp4

Thanks!!.

[2021-07-26 07:52] stratoula commented on #106667
@kllee-au thanx for reporting it. We know about this bug and we have fixed it on 7.14.0. For this reason, I am closing it

[2021-07-26 07:52] #106667 closed

[2021-07-26 07:55] muskangulati-qasource commented on #104375
Hi @kevinlog,

We validated this issue on the 7.14.0-BC4 build and found that the required changes are successfully merged.

Please find below the testing details:
**Build Details**:
[code]

**Screenshot**:
![Isolate](https://user-images.githubusercontent.com/60252716/126953223-7e174e1d-1ad0-4c2f-9ff1-68e01caae0cf.JPG)

Hence, we are closing this issue & marking it as "Validated".

Thanks!

[2021-07-26 07:55] #104375 closed

[2021-07-26 07:55] muskangulati-qasource commented on #104295
Hi @kevinlog,

We validated this issue on the 7.14.0-BC4 build and found that the required changes are successfully merged. Pending statuses are successfully removed from the UI.

Please find below the testing details:
**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/126953355-1a5efb14-f88a-4f15-b076-768a49ed3d34.mp4

Hence, we are closing this i

[2021-07-26 07:55] #104295 closed

[2021-07-26 07:55] deepikakeshav-qasource commented on #105945
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC4** build and observed that issue is **Fixed**. "No Threat Intelligence Enrichment Found" message displaying under threat intel tab when more than one fields are displayed.

**Build Details:**

[code]

**Screenshot:**
![Threat_indicator](https://user-images.githubusercontent.com/61860752/126749124-1a96438e-39b6-44a1-a29c-1f5b5fa641e8.j

[2021-07-26 07:55] #105945 closed

[2021-07-26 07:57] formgeist commented on #104187
@dominiqueclarke I tried again to replicate on a more recent build and it seems the problem is no longer there. Closing 👍

[2021-07-26 07:57] #104187 closed

[2021-07-26 08:03] elasticmachine commented on #92434
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-26 08:03] MadameSheema commented on #92434
@peluja any update regarding the status of this bug? thanks :)

[2021-07-26 08:04] MadameSheema commented on #103868
@deepikakeshav-qasource can you please validate the fix of this bug in the current BC? thanks :)

[2021-07-26 08:04] MadameSheema commented on #104049
@karanbirsingh-qasource can you please validate the fix of this bug on the current BC? thanks :)

[2021-07-26 08:06] MadameSheema commented on #103441
@karanbirsingh-qasource @samratbhadra-qasource can you please validate the fix of this issue on the current BC?

[2021-07-26 08:09] MadameSheema commented on #106385
@muskangulati-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-26 08:11] dikshachauhan-qasource opened #106676 "[Fleet]: Add agent option displayed against added integrations under policy detail tab."
**Kibana version:** 7.14 BC4 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC4 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]
- few integrations under any policy should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policy tab.
	- Select any policy having few integ

[2021-07-26 08:11] elasticmachine commented on #106676
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 08:12] dikshachauhan-qasource commented on #106676
@manishgupta-qasource Please review

[2021-07-26 08:13] formgeist commented on #91848
We already have a [redesign in place](https://github.com/elastic/kibana/issues/86478) for updating those top charts to smaller yet valuable indicators of performance which the user can use to narrow down to a specific time period, if they haven't already done this from the overview. Otherwise, I think we're forcing them to move back and forth to get a metrics overview of the service.

[2021-07-26 08:15] karanbirsingh-qasource commented on #104049
Hi @MadameSheema

we have validated this issue on **7.14.0 BC4** and found that issue is **not Fixed** 🔴 , Single Global Deep link search _i.e_ `Security > Host > External Alert` Navigates to incorrect location and not to External Alert.

**Build Details:**
Version:7.14.0 BC4
Commit:82a4f6a7fa23946667599787cdb1b2d82c1d0dfb
Build:42656

Screen-Cast:
- Actual Result
https://user-images.githubusercon

[2021-07-26 08:16] deepikakeshav-qasource commented on #105050
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC4** build and observed that issue is **Fixed**. Validation message is displaying and unable to create the indicator rule with indicator index pattern: *

**Build Details:**

[code]

**Screenshot:**
![Indicator_rule](https://user-images.githubusercontent.com/61860752/126751813-925c0f55-cf3e-40e6-866a-10e72dcb41c1.jpg)

Hence, We are clo

[2021-07-26 08:17] #105050 closed

[2021-07-26 08:25] dikshachauhan-qasource opened #106677 "No results found message is displayed when 'type:package' search is applied at Global search bar."
**Kibana version:** 7.14 BC4 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC4 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Global search bar.
	- Type 'type:package'.
	- Observe, No results found message is displayed.

**Expected

[2021-07-26 08:26] deepikakeshav-qasource commented on #103868
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC4** build and observed that issue is **Fixed**. Hosts navigation is displaying in left navigation when navigate to Host > External alerts tab.

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/126957282-e5f5ecce-2ce5-4e09-92a9-5e699c9f1473.mp4

Hence, We are closing this issue and Marking

[2021-07-26 08:26] elasticmachine commented on #106677
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 08:26] #103868 closed

[2021-07-26 08:27] dikshachauhan-qasource commented on #106677
@manishgupta-qasource Please review

[2021-07-26 08:38] karanbirsingh-qasource commented on #103441
Hi @MadameSheema  & @michaelolo24

we have validated this issue on 7.14.0 BC4 and Found that issue is still occuring 🔴 .

Saved Timeline name in security app bottom division got reset to untitled **only** if user navigated to any manage group page and get back to timeline page or any page of securtiy app.

Please find below details observation

**Build Details:**
[code]
**Observations:**
Steps | G

[2021-07-26 08:43] mandeepkaur-qasource commented on #104376
Hi @MadameSheema
We have validated the fix for this defect on 7.14.0 BC4 and found that the issue **is still occurring** on the current BC as the merges are not yet available. As Tool tip and updated checkbox & subtitle label text is not yet available on the UI of "Import Rule modal".

Please find the below observation :
**Screen-Shots:**
![rule1](https://user-images.githubusercontent.com/78949593

[2021-07-26 08:46] dikshachauhan-qasource opened #106680 "[Fleet]: Policy name bread crumb behavior is not consistent on switching between policy sub-tabs."
**Kibana version:** 7.14 BC4 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC4 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

- Few policies should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policy tab.
	- Select any policy say 'default policy' and navigate to

[2021-07-26 08:46] elasticmachine commented on #106680
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 08:46] dikshachauhan-qasource commented on #106680
@manishgupta-qasource Please review

[2021-07-26 08:47] mandeepkaur-qasource commented on #104605
Hi @MadameSheema
We have validated the fix for this defect on **7.14.0 BC4** and found that the issue has been **fixed** as now 'Inspect Icon' is **not visible** on hovering over the Threat Intelligence card in case filebeat is not installed.

Please find the below observation :
**Screen-Shot:**
![inspesct](https://user-images.githubusercontent.com/78949593/126960987-abcd2f2c-d7d3-47d5-9101-ddc820

[2021-07-26 08:47] #104605 closed

[2021-07-26 08:48] deepikakeshav-qasource commented on #103866
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC4** build and observed that issue is **Fixed**. Breadcrumb "Create" is disable when create the new rule.

**Build Details:**

[code]

**Screenshot:**
![breadcrumb](https://user-images.githubusercontent.com/61860752/126959089-0e830adb-eea5-4e93-8a73-b2666eecf210.jpg)

![edit_rule](https://user-images.githubusercontent.com/61860752/12696

[2021-07-26 08:49] #103866 closed

[2021-07-26 08:53] sophiec20 opened #106681 "[APM Correlations] Latency histogram Y axis lack of indication of the scale: linear or logarithmic"
**Environment**

7.14 BC4

**Problem Description**

User is not told if the Y axis of the latency histogram is a linear or logarithmic scale.

![image](https://user-images.githubusercontent.com/459691/126669406-6dc0b9dd-0fcf-4a49-8f45-b76ed0d8ab0b.png)

[2021-07-26 08:53] elasticmachine commented on #106681
Pinging @elastic/ml-ui (:ml)

[2021-07-26 08:54] sophiec20 commented on #106681
Consider using chart title or axis label to indicate that it is a log scale?

[2021-07-26 08:54] MadameSheema commented on #104376
Thanks @mandeepkaur-qasource looks like the fix didn't make the current BC let's retest it on the next one, thank you!

[2021-07-26 08:58] mandeepkaur-qasource commented on #106233
Hi @spong

We have validated this issue by de-activating the created custom rule before upgrading the 7.8.0 build to 7.14.0 and found that the below mentioned observation:
**Case1:** "Rule failure" error does not occur in case, if the rule is already De-Activated before upgrade.
**Screen-Shots:**
![decativated 1](https://user-images.githubusercontent.com/78949593/126962401-c2e74389-38ee-4a19-9fb7-

[2021-07-26 09:13] sebelga commented on #102338
Yes @cjcenizal thanks for the ping. Closing as it has been fixed in https://github.com/elastic/kibana/pull/103629

[2021-07-26 09:13] #102338 closed

[2021-07-26 09:18] paulb-elastic commented on #77959
Added that the alert flyout filter also has the same limitation

[2021-07-26 09:22] muskangulati-qasource commented on #101266
Hi @kevinlog,

We validated this issue on the 7.14.0-BC4 build and found that the ticket is fixed.

Please find below the testing details:
**Build Details**:
[code]

**Screenshot**:
![Events](https://user-images.githubusercontent.com/60252716/126965812-08fadd2d-3ab9-471e-b79a-fb845e642ced.JPG)

Hence, we are closing this issue & marking it as "Validated".

Thanks!

[2021-07-26 09:22] #101266 closed

[2021-07-26 09:22] muskangulati-qasource commented on #100322
Hi @kevinlog,

We validated this issue on the 7.14.0-BC4 build and found that the ticket is fixed.

Please find below the testing details:
**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/126965599-9297b2f7-e925-48d0-a80a-5f0193aeb3fb.mp4

Hence, we are closing this issue & marking it as "Validated".

Thanks!

[2021-07-26 09:22] #100322 closed

[2021-07-26 09:24] #106228 closed

[2021-07-26 09:32] #103701 closed

[2021-07-26 09:34] formgeist commented on #103257
I've updated the description and changed the breakdown chart to reflect the suggested change in what we display the breakdown by.

[2021-07-26 09:35] MHenn1g opened #106690 "Stack Monitoring + Kibana Alerting - Default Action"
**Describe the feature:**
As I understand the current documentation, the default action for all Stack Monitoring rules is to write to Kibana logs and display a notification in the UI.

My request would be to integrate a switch into the Kibana configuration, which allows to adapt this default behaviour and to make it possible to link the alerts, which are generated by the stack monitoring, to a pre

[2021-07-26 09:37] stratoula opened #106691 "[TSVB] Remove the input string mode"
We want to remove the input string mode from v8.0 but only the UI part. This means that all the old visualizations created with the string (and not with the index pattern) will continue working in v8.

We don't want the user to be able to create a new TSVB visualization by giving a string. From now on, we want our users to create an index pattern first.

### Handling old visualizations

The questi

[2021-07-26 09:37] elasticmachine commented on #106691
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-26 09:49] Bamieh commented on #105272
@joshdover I believe we will eventually need something like this since _some_ deprecations might need longer than 30s to finish.

However I am not sure if UA is the best place for handling `unknown saved object types`; I believe it would be better to have the v2 migration handle this case without relying on UA.

[2021-07-26 09:57] joshdover commented on #102870
No worries, that question wasn't really directed at anyone 😄 Yeah we can revisit that decision now that #90178 is solved.

[2021-07-26 10:10] snelstim opened #106694 "[Lens] Chart to show string or boolean data"
**Describe the feature:**
A lens to show discrete values in a horizontal graph.

**Describe a specific use case for the feature:**
This clearly shows transitions when working with string or boolean data.
similar to what this grafana panel does: https://github.com/NatelEnergy/grafana-discrete-panel

[2021-07-26 10:13] alexwizp commented on #96629
duplicate requests was fixed here #106398

[2021-07-26 10:13] #96629 closed

[2021-07-26 10:38] deepikakeshav-qasource commented on #102613
Hi @MadameSheema,

We have validated this ticket on **7.14.0 SNAPSHOT** build and observed that issue is **Fixed**.

Alerts are triggered when we add the exception from scratch for MacOS with field "event.code" value "malicious_file", and trigger the alert from Windows host and Linux. The alerts are triggered successfully.

**Build Details:**

[code]

**Observations:**
Exception | Steps | Result
-

[2021-07-26 10:39] stratoula commented on #55089
I can't replicate it in master and with the new implementation
![image](https://user-images.githubusercontent.com/17003240/126975885-22bdfb4b-88d1-4ed5-bb28-0a2f82e2bce4.png)

I am closing it but if anybody encounters it please re-open it and share your configuration!

[2021-07-26 10:39] #55089 closed

[2021-07-26 10:42] monfera commented on #105410
@dej611 putting aside the issue of overlap for a minute, one area of improvement that leaps out at us is the **vertical alignment of the decimal point** within the same column. With this, if the user specifies a monospaced font for the numbers, then the sloppy mess of random numerical alignment, which we get with center alignment, can be solved

[2021-07-26 10:43] stratoula commented on #50631
This was closed here https://github.com/elastic/kibana/pull/96203
We decided to allow only stacked for percentage mode

[2021-07-26 10:43] #50631 closed

[2021-07-26 10:45] kibanamachine opened #106696 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table should display correct values for math aggregation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15661/)

[2021-07-26 10:54] stratoula commented on #31072
This works aas expected in master
![image](https://user-images.githubusercontent.com/17003240/126977920-b8952f4f-5f97-4639-821b-1e0e2f5278fe.png)

I am closing it

[2021-07-26 10:54] #31072 closed

[2021-07-26 10:54] stratoula commented on #29303
I am closing it as I cant replicate it.

[2021-07-26 10:54] #29303 closed

[2021-07-26 10:58] stratoula commented on #27849
I am closing it as I cant replicate it in master

[2021-07-26 10:58] #27849 closed

[2021-07-26 11:01] stratoula commented on #26750
I am closing it as I cant replicate it in master and with the new XY charts implementation

[2021-07-26 11:01] #26750 closed

[2021-07-26 11:02] kibanamachine opened #106698 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/import·ts - saved objects security and spaces enabled _import dual-privileges user within the default space should return 200 conflict [sharedtype/conflict_2c]"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15662/)