[2021-03-04 18:32] mikecote commented on #50273
@ymao1, this is still a grey area. Some PMs don't want cases as the only way to assign/acknowledge alert instances, which may require something like this. We can always close the issue until we have clear requirements as we don't have any today.

cc @arisonl

[2021-03-04 18:37] #50260 closed

[2021-03-04 18:38] #29392 closed

[2021-03-04 18:41] milesje opened #93660 "File Upload for Apache HTTPD logs"
It would be very beneficial to add support for manual upload of Apache HTTPD server logs (Access Logs & Error Logs). I understand that the uploading of log files is experimental but I have a use case where this would become invaluable. We are currently running Apache HTTPD on an IBM i Series (AS/400) server which is NOT supported by Elastic as it does not work with Go (Golang). We are currently us

[2021-03-04 18:42] nreese commented on #21040
I agree with @cjcenizal that all esArchives files containing Kibana saved objects should be stored uncompressed. This provides 2 really important benefits:
1) They can be searched - supper useful when a test not in your area is failing your PR
2) They provide meaningful changes when updated in Pull Requests- again super useful to investigate changes to these files over time.

I can volunteer to cl

[2021-03-04 18:51] rashmivkulkarni opened #93662 "[Fleet] Console errors seen while on the Fleet Overview page"
**Kibana version:** BC3 7.12.0

**Elasticsearch version:** BC3-7.12.0

**Server OS version:**

**Browser version:** Chrome latest

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** cloud deployment

I spun a BC3 cloud cluster on 7.12.0 and when I try to add data via Fleet..The overview page opens up, but in the console I see such errors
[code]

Noth

[2021-03-04 18:51] elasticmachine commented on #93662
Pinging @elastic/fleet (Team:Fleet)

[2021-03-04 18:53] spong commented on #93337
@MikePaquette -- reclassifying as `impact:high` as this has been present for nearly a year now, so we won't have a fix in for 7.12, but can prioritize for a future release.

[2021-03-04 18:54] kibanamachine opened #93664 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tag_cloud·ts - visualize app tag cloud chart formatted field "before all" hook for "should format tags with field formatter""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93665 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tag_cloud·ts - visualize app tag cloud chart formatted field "after all" hook for "should apply filter with unformatted value""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93666 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_filter_bar·ts - dashboard app using current data dashboard filter bar Add a filter bar should show on an empty dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93667 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_time_picker·ts - dashboard app using legacy data dashboard time picker Visualization updated when time picker changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93668 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_time_picker·ts - dashboard app using legacy data dashboard time picker Saved search updated when time picker changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93669 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/embeddable_data_grid·ts - dashboard app using current data dashboard embeddable data grid "before all" hook for "should expand the detail row when the toggle arrow is clicked""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93670 "Failing test: Chrome UI Functional Tests.test/functional/apps/context/_discover_navigation·js - context app context link in discover navigates to doc view from embeddable"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93671 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_state·ts - dashboard app new charts library dashboard state Overriding colors on an area chart is preserved"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93672 "Failing test: Accessibility Tests.test/accessibility/apps/dashboard·ts - Dashboard save empty dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93673 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_inspector·ts - visualize app inspector inspector table filtering on inspector table values should allow filtering out values"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93674 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_time·ts - dashboard app using legacy data dashboard time dashboard without stored timed is saved"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93675 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_kibana_settings·js - management kibana settings "before all" hook for "should allow setting advanced settings""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine opened #93676 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_kibana_settings·js - management kibana settings "after all" hook: afterAll for "should allow setting advanced settings""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:54] kibanamachine commented on #64562
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12339/)

[2021-03-04 18:59] rashmivkulkarni commented on #93662
FYI..I might have hit this issue on Fleet, but I see the same errors in other pages as well- like in Stack Management >Transforms - so plz triage accordingly.

[2021-03-04 19:02] elasticmachine commented on #93623
Pinging @elastic/kibana-core (Team:Core)

[2021-03-04 19:05] nreese commented on #60710
closed by https://github.com/elastic/kibana/pull/92620

[2021-03-04 19:05] #60710 closed

[2021-03-04 19:26] elasticmachine commented on #93676
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 19:48] ymao1 commented on #92166
I will look into somehow deprecating old action variables. It will get a little tricky as `alertId` -> `ruleId` but `alertInstanceId` should become `alertId` and then how will we know if `{{alertId}}` references the new or old variable 😬

[2021-03-04 19:55] bhavyarm commented on #93660
@milesje can you please open  a post here https://discuss.elastic.co/c/elastic-stack/kibana/7. We will be able to discuss it and then you can log it as an enhancement if needed? I am also curious if file uploader under visualizer won't work for you?  We can continue talking at discuss forums. Thanks!
<img width="1792" alt="Screen Shot 2021-03-04 at 2 53 36 PM" src="https://user-images.githubuserco

[2021-03-04 19:55] #93660 closed

[2021-03-04 19:56] elasticmachine commented on #93549
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 19:59] elasticmachine commented on #93470
Pinging @elastic/kibana-core (Team:Core)

[2021-03-04 20:00] chrisronline commented on #92185
@restrry https://github.com/elastic/kibana/pull/93620 should handle unblocking the license service. We'll do the work to refactor the legacy createClient usage in a separate PR.

[2021-03-04 20:00] bhavyarm commented on #93470
cc @kobelb

[2021-03-04 20:02] elasticmachine commented on #93416
Pinging @elastic/kibana-core (Team:Core)

[2021-03-04 20:02] elasticmachine commented on #93416
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-03-04 20:03] elasticmachine commented on #93675
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 20:04] elasticmachine commented on #93674
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:05] elasticmachine commented on #93673
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 20:06] elasticmachine commented on #93672
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:07] elasticmachine commented on #93671
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:09] elasticmachine commented on #93670
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 20:10] wylieconlon commented on #93265
This would be a good 8.0 breaking change to make, since we've historically avoided this type of formatting due to backwards compatibility reasons.

[2021-03-04 20:10] elasticmachine commented on #93669
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:10] elasticmachine commented on #93668
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:10] elasticmachine commented on #93667
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:11] elasticmachine commented on #93666
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:11] elasticmachine commented on #93665
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 20:11] jen-huang commented on #93662
@rashmivkulkarni I spun up a new deployment and am not seeing these errors, I clicked around various apps including Fleet. The JS files the errors are coming from don't look familiar (they're not the name of Kibana bundles AFAIK). Might these errors be coming from a browser extension you have installed? What happens if you try in incognito without extensions?

![image](https://user-images.githubus

[2021-03-04 20:12] elasticmachine commented on #93664
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 20:15] jen-huang commented on #92612
How do you propose we upgrade the associated policies? Will this be done automatically after a package (auto/manual) upgrades? If automatic, this could have cascading effects described in #90308.

Can you elaborate on this bug?

[2021-03-04 20:27] mostlyjason commented on #90330
Thanks @kevinlog I asked Braden to stack rank this in the security priority list

[2021-03-04 20:37] Zacqary commented on #92853
Unable to reproduce on `master`, is this only in 7.12?

[2021-03-04 20:40] bhavyarm opened #93685 "Clicking browser back button isn't changing the timepicker to previous time range on dashboards"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user clicks on apply filter to current view on a timeseries chart  on dashboard - Kibana changes the timepicker to absol

[2021-03-04 20:40] elasticmachine commented on #93685
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 20:41] bhavyarm commented on #93685
cc @ThomThomson

[2021-03-04 20:42] bhavyarm commented on #93685
Please note this seems to be working fine if there are no drilldown(?)

[2021-03-04 20:47] elasticmachine commented on #93245
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-04 20:55] kobelb commented on #93470
@elastic/clients-team has there been any discussion about including Kibana HTTP APIs in the existing clients?

[2021-03-04 20:59] #87511 closed

[2021-03-04 21:09] EricDavisX commented on #91831
this looks not to be a problem when upgrading 7.11.x to 7.12 BC3.  I also understand we have a breaking change coming for upgrades for 7.13 due to Fleet Server, so I'm unsure this will be prioritized since it wasn't already.

7.11 to 7.12 screenshot, for ref:
<img width="528" alt="Screen Shot 2021-03-04 at 4 08 57 PM" src="https://user-images.githubusercontent.com/12970373/110030614-f5f85a80-7d03-

[2021-03-04 21:13] parkiino commented on #93397
https://github.com/elastic/kibana/pull/93691

[2021-03-04 21:14] wylieconlon commented on #93307
Another thing to consider here: rollups are done on a fixed histogram interval as well. We probably need a mode that's for both rollups and number histograms where it's fixed interval **only**, not as a 3rd mode.

[2021-03-04 21:14] lukeelmers commented on #93416
The telemetry referenced here isn't actually determining the environment from within Kibana, but rather [reading from a `config/telemetry.yml` file](https://github.com/elastic/kibana/blob/master/src/plugins/telemetry/server/collectors/usage/telemetry_usage_collector.ts#L111-L125) which ECE, ESS, and ECK populate with their own static data.

The monitoring plugin also has [an old cloud "detector"](

[2021-03-04 21:16] nchaulet commented on #92621
We are using semver to validate the version, the issue here is with the package name that contains `-` if it's valid we should update how we parse package key

[2021-03-04 21:22] lukeelmers commented on #93623
@nreese Any thoughts as to whether this is possibly related to the recent file upload refactoring?

[2021-03-04 21:26] nreese commented on #93623
Probally not, since the first file upload refactoring work did land until 7.12 - https://github.com/elastic/kibana/pull/89640

[2021-03-04 21:29] LeeDr commented on #93624
This screenshot in Discover shows that with the default Kibana settings we don't get the _source;

![image](https://user-images.githubusercontent.com/13542669/110032268-8e3f1100-7cfd-11eb-84c2-84efb4482eef.png)

But if I go into Kibana Advanced Settings and turn on `discover:searchFieldsFromSource`
"Read fields from _source
When enabled will load documents directly from `_source`. This is soon goi

[2021-03-04 21:30] nreese opened #93694 "[Maps] support SearchSource partial results"

[2021-03-04 21:30] elasticmachine commented on #93694
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-04 21:31] fearful-symmetry commented on #92636
So, I'm trying to test this out a bit more, but now the agent under `elastic-package` itself won't work:
[code]

[2021-03-04 21:34] #89357 closed

[2021-03-04 21:43] kobelb commented on #49853
The prior thinking is that Kibana has not been explicit about needing scripting to be enabled in Elasticsearch. However, various features in Kibana have become dependent on scripting being enabled. Additionally, we haven't had any reports from users about this causing issues.

Therefore, during 7.x we should ensure that Kibana continues to generally work when scripting is disabled in Elasticsearch

[2021-03-04 22:06] #92401 closed

[2021-03-04 22:10] myasonik commented on #93587
From the discussion on the Lens ticket, it seems like this is also notably caused by visually hidden text (e.g., `EuiScreenReaderOnly`). Is that still right?

[2021-03-04 22:14] mdefazio commented on #92166
I'd also like to see Connectors broken out to the same menu level, instead of buried in a tab. If the section heading is `Alerts and Insights`, and `Connectors` is broken out, then perhaps we can make it just `Rules` or `Rule Management`?  With the section heading saying 'Alerting', my thought was we didn't need to repeat it for this menu item

[2021-03-04 22:18] flash1293 commented on #93587
EuiScreenReaderOnly is visually hidden by being moved off screen, but it still has a height of 1px

[2021-03-04 22:40] gchaps commented on #92166
To me, `Alerting Rules and Connectors` sounds a little awkward.  I was thinking along the same lines as @mdefazio.  Since `Alerts and Insights` is in the left side nav, is `Alerting` needed in the page title?

[2021-03-04 22:49] pmuellr opened #93704 "[discuss] extending event log for faster/easier access to active instance date information"
Currently in alerting, we generate events for the event log as follows:

- `execute` - when the alert executes
- `active-instance` - for every active instance, after alert execution
- `new-instance` - for every newly found instance, after alert execution
- `recovered-instance` - for all previously active instances, which are no longer active, after the alert execution

These are all "stateless" do

[2021-03-04 22:49] elasticmachine commented on #93704
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-04 22:54] jbudz opened #93705 "Failing ES Promotion: apis uptime uptime REST endpoints with generated data monitor state scoping test status filter should not return a monitor with mix state if check status filter is up"
https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2392/execution/node/523/log/
https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2388/execution/node/477/log/

For more information on the Elasticsearch snapshot promotion process: https://elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

[2021-03-04 22:54] elasticmachine commented on #93705
Pinging @elastic/uptime (Team:uptime)

[2021-03-04 22:57] jbudz opened #93706 "Failing ES Promotion: apis uptime uptime REST endpoints with generated data monitor state scoping test status filter should not return a monitor with mix state if check status filter is up"
https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2392/execution/node/477/log/
https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2388/execution/node/477/log/

For more information on the Elasticsearch snapshot promotion process: https://elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

[2021-03-04 22:57] elasticmachine commented on #93706
Pinging @elastic/uptime (Team:uptime)

[2021-03-04 23:11] #93493 closed

[2021-03-04 23:38] gmmorris commented on #92166
Oh, damn, you're right...
Sounds like we'll need a migration 😫
Perhaps, if the migration gets really hairy, we can use the `meta.versionApiKeyLastmodified` field to decide which param set to use?

Probably better just to migrate... 😬

[2021-03-04 23:40] gmmorris commented on #92166
When you say "broken out" do you mean not have tabs anymore, but rather separate pages all together? 🤔

[2021-03-04 23:43] elasticmachine commented on #64562
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 00:10] jen-huang commented on #90308
I opened PR #93712 to surface the package version in the UI.

I opted not to fill these requirements as part of the PR because:

1. We have ongoing discussions on how to handle existing policies when a package is upgraded (#92612)
2. Checking for upgrade available will not be performant with what we currently have, and may or may not be necessary depending on the consensus for above

[2021-03-05 00:17] mukeshelastic commented on #92110
That is correct, Nicolas.

[2021-03-05 00:23] #89998 closed

[2021-03-05 00:28] kmartastic commented on #93088
When creating alerts in Maps, we should allow for Tracking containment + Index threshold, at a minimum. A customer just sent me a use case where they look at a map, but alert based on a metric by location.

In that regard, we should consider the ability to "flash" to maybe even annotate an alert on a map. That's the "operational view" that doesn't require constant writing to an index. It's a littl

[2021-03-05 00:45] kmartastic commented on #93654
I'm fine with a background, as long as it doesn't look like the image that @aaronjcaldwell shared from Google. :)
Super low priority, respectfully.

[2021-03-05 00:46] kmartastic commented on #93694
@nreese were you thinking about getting this into 7.13? Or just creating the Issue to track?

[2021-03-05 00:53] kibanamachine opened #93718 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/search_hits·js - maps app documents source search hits query bar should apply query to fit to bounds"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12345/)

[2021-03-05 00:53] kibanamachine opened #93719 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/search_hits·js - maps app documents source search hits query bar "after all" hook for "should apply query to fit to bounds""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12345/)

[2021-03-05 02:13] jasonyoum commented on #84041
Thank you for all updates @chrisronline @mayya-sharipova The case was closed after the customer agreed to upgrade to latest version for the fix. I am closing this issue. Thanks again!

[2021-03-05 02:13] #84041 closed

[2021-03-05 02:26] jbudz commented on #93718
skipped
8.0: 8434439
7.x: deb5bb3

[2021-03-05 02:27] elasticmachine commented on #93718
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-05 02:29] elasticmachine commented on #93719
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-05 02:44] nreese commented on #93694
Just creating an issue to track for now.

[2021-03-05 02:44] hj641692624 opened #93727 "Kibana version:**"
**Kibana version:**
 log   [02:26:26.322] [warning][plugins][visTypeTimeseries][visTypeTimeseries] Request validation error: [panels.0.series.0.metrics.0.size]: types that failed validation:
- [panels.0.series.0.metrics.0.size.0]: expected value of type [string] but got [number]
- [panels.0.series.0.metrics.0.size.1]: expected value to equal [null] (saved object id: unsaved). This most likely mean

[2021-03-05 02:47] mdefazio commented on #92166
I do. Likely still within Alerts and Insights though, but admit there's plenty of room for debate here.

[2021-03-05 02:57] spong opened #93728 "[RAC] Alerts as Data Schema Definition"
This issue is for finalizing the Alerts as Data Schema definition.

The most recent proposal is as follows:

[code]

The current Detection Alert Schema is as follows:

<details><summary>.siem-signals schema</summary>
<p>

[code]
</p>
</details>

##### Features in the `.siem-signals` schema to take note of:
* alerts on alerts via `parent`/`parents`/`ancestors/depth/original_time/original_signal` (I

[2021-03-05 02:57] elasticmachine commented on #93728
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 02:57] elasticmachine commented on #93728
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-05 02:57] elasticmachine commented on #93728
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-05 02:57] spong opened #93729 "[RAC] Alerts as Data Bootstrapping Index Creation"
This issue is for finalizing the architecture/implementation for bootstrapping the Alerts as Data index creation process.

Existing implementations include the bootstrapping of the `.siem-signals` index, and the bootstrapping of the `.kibana-event-log` index.

### .siem-signals

Most all logic lives in:
[kibana/x-pack/plugins/security_solution/server/lib/detection_engine/index/](https://github.com

[2021-03-05 02:57] elasticmachine commented on #93729
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 02:57] elasticmachine commented on #93729
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-05 02:57] elasticmachine commented on #93729
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-05 02:57] spong opened #93730 "[RAC] Alerts as Data Bulk Insert"
This issue is for discussing the architecture/implementation for writing out Alerts as Data.

Relevant implementations from within detections include:
* [bulk_create_threshold_signals.ts ](https://github.com/elastic/kibana/blob/819cb485dcb51a4a68bf1b23a8d442e770c984c5/x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.ts)
* [bulk_create_ml_signals.ts

[2021-03-05 02:57] elasticmachine commented on #93730
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-05 02:57] elasticmachine commented on #93730
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-05 02:57] elasticmachine commented on #93730
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 03:12] myasonik commented on #93487
Fixed in https://github.com/elastic/kibana/pull/91571

[2021-03-05 03:12] #93487 closed

[2021-03-05 03:13] elasticmachine commented on #93494
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-05 03:16] elasticmachine commented on #93477
Pinging @elastic/eui-design (EUI)

[2021-03-05 03:17] myasonik commented on #93477
@elastic/eui-design This seems like standard EUI... Is this an issue for all of our icon buttons?

[2021-03-05 03:18] myasonik commented on #93476
Going to close now because this will be fixed with the next EUI upgrade thanks to https://github.com/elastic/eui/pull/4551

[2021-03-05 03:18] #93476 closed

[2021-03-05 03:19] elasticmachine commented on #93475
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-05 03:36] mattkime commented on #91399
@flash1293 I took a quick look and didn't see any other cases.

yes, but its using the name as an object property so I don't see anything wrong with this.

[2021-03-05 03:41] tvernum commented on #93051
You are correct @ruflin - API keys do not have roles, so it is impossible to check whether an API key is `superuser`.

The stack doesn't really work well with role (name) based checks. We have the [same issue](https://github.com/elastic/kibana/issues/76210) with Kibana reporting's reliance on `reporting_user` as a marker role.

We need to move Fleet to a model where it is checking explicit privile

[2021-03-05 03:55] kibanamachine commented on #93718
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12348/)

[2021-03-05 03:55] kibanamachine commented on #93719
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12348/)

[2021-03-05 03:58] kibanamachine commented on #93718
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12216/)

[2021-03-05 03:58] kibanamachine commented on #93719
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12216/)

[2021-03-05 05:37] kibanamachine opened #93734 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/common/components/super_date_picker - SIEM Super Date Picker #SuperDatePicker Pick Relative Date Make Sure it is last "now-${x}h" where ${x} is in hours date"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12219/)

[2021-03-05 05:37] kibanamachine opened #93735 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/common/components/super_date_picker - SIEM Super Date Picker #SuperDatePicker Recently used date ranges Today and "Last ${x} hours" where ${x} is in hours are in Recently used date ranges"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12219/)

[2021-03-05 05:54] kibanamachine commented on #93734
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12351/)

[2021-03-05 05:54] kibanamachine commented on #93735
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12351/)

[2021-03-05 05:55] axw commented on #92360
@sqren if we're thinking about the same conversation: this came up in a recent "chatty applications" working group meeting. Part of the proposed solution there is to drop some spans in agents, and combine them into aggregated spans. To support percentiles we would need agents to capture latency histograms, whereas the initial proposal only covers reporting a summary (count+sum).

[2021-03-05 06:11] kibanamachine opened #93737 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/auto_fit_to_bounds·js - maps app auto fit map to bounds without joins should automatically fit to bounds when query is applied"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12350/)

[2021-03-05 06:27] muskangulati-qasource opened #93738 "[Security Solution] Endpoint status is shown as 'Error' under the Endpoint list & as 'Offline' in the policy."
**Describe the bug**
Endpoint status is shown as 'Error' under the Endpoint list & as 'Offline' in the policy.

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.12.0 environment should be deployed
2. Deploy an endpoint with Security Integration

**Steps to Reproduce**
1. The agent should be offline in the fleet tab
2. Navigate to the Administration tab.
3. O

[2021-03-05 06:27] elasticmachine commented on #93738
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-03-05 06:27] elasticmachine commented on #93738
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 06:27] muskangulati-qasource commented on #93738
@manishgupta-qasource please review!

[2021-03-05 06:38] kibanamachine commented on #93735
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12220/)

[2021-03-05 06:52] #92368 closed

[2021-03-05 06:55] kibanamachine commented on #93735
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12352/)

[2021-03-05 06:56] kibanamachine opened #93739 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/search_hits·js - maps app documents source search hits layer query should apply layer query to fit to bounds"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12351/)

[2021-03-05 07:34] peluja1012 opened #93740 "[Security Solution] Give user the ability to cancel a long running rule execution"
Currently there is no way to cancel rule execution. When a user "deactivates" (by clicking the "deactivate" button) a rule, it will simply not schedule the following rule execution task, but the current task will continue to run until finished.

In practice, users have experienced that some long running rules like Indicator Match rules continue to run for ~30 minutes after "deactivation". These lo

[2021-03-05 07:34] elasticmachine commented on #93740
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 07:34] elasticmachine commented on #93740
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-05 07:36] cuff-links opened #93741 "Days field should not allow decimals when creating new ILM Policy"
## Summary

## Environment

Kibana: 7.12.0 BC2
Elasticsearch 7.12.0 BC2
Browsers: All Browsers

## Steps to reproduce:
1.) Click the Create a Policy button
2.) Add a name.
3.) Add the warm phase.
4.) For the `Move data into phase when` field, set the days to 5.5.

### Expected Result
There should be a validation rule that shows an error under the field advising that decimals are not allowed.

###

[2021-03-05 07:50] felixbarny commented on #93420
That works as an interim step but it has some issues:

Eventually, we want to move the agent installation instructions to the fleet policy editor (aka add integrations page). When showing the policy editor for an unmanaged policy (APM Server on the edge), it doesn't make sense to show the `server_url` of the managed APM Server. It would be confusing and lead people towards sending traces to the ma

[2021-03-05 08:01] manishgupta-qasource commented on #93738
Reviewed & assigned to @kevinlog

[2021-03-05 08:02] felixbarny commented on #88659
Naming is hard 🙂 There's an ongoing debate about how it should be called, so it's a moving target.
With managed policy, I'm referring to "APM Server on cloud under Elastic Agent". Managed policies do show up in Fleet but restrict some options like removing agents or adding integrations. Which makes sense because we'd not want users to remove the Agent that runs APM Server on cloud.

Thanks for mov

[2021-03-05 08:34] kertal commented on #20219
Closing this because it should be fixed with #77014

[2021-03-05 08:34] #20219 closed

[2021-03-05 08:35] mtojek commented on #92636
@fearful-symmetry already reported in https://github.com/elastic/beats/issues/24310

We pushed a fix to https://github.com/elastic/elastic-package, so please update tool's sources.

[2021-03-05 08:37] kertal commented on #10680
This has been implemented in the meantime
![Bildschirmfoto 2021-03-05 um 09 36 08](https://user-images.githubusercontent.com/463851/110089340-4a4c1a80-7d96-11eb-9a35-b5430aac1b60.png)

[2021-03-05 08:37] #10680 closed

[2021-03-05 08:41] elasticmachine commented on #26402
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-05 08:43] kertal commented on #26402
So when we get rid of the legacy table we intend to make also the time field to be removable from the table, however this solved just one issue you mentioned, you want to choose another time field as primary, so when you would create a Visualization that field should be used?

[2021-03-05 08:46] jalvz commented on #92621
Ah, good observation. Then this problem always existed, right? What are the consequences of this?

[2021-03-05 08:55] #89828 closed

[2021-03-05 08:58] kibanamachine commented on #93737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12221/)

[2021-03-05 09:04] timroes commented on #93607
I'd say no. We want those fields to behave pretty much the same as any o ther field and keep them blend in as much as possible, thus I'd vote they should neither show up when they don't have a value (same as other fields).

No, they should show up the same way. Quoting Matt from the recent mail on the runtime field mailing list: "Runtime fields on KIPs (Kibana Index Patterns) will not be identifie

[2021-03-05 09:17] onnesa opened #93746 "kibana Failed to build the operating environment"
**Kibana version:**
8.0.0
**Elasticsearch version:**
7.11.1
**Server OS version:**
win10

**Original install method (e.g. download page, yum, from source, etc.):**
 from source
**Describe the bug:**
init Failed

**Screenshots (if relevant):**

![微信图片_20210305171620](https://user-images.githubusercontent.com/32257139/110094170-7edfc680-7dd6-11eb-91d5-d1de0d474d25.png)
![2](https://user-images.githu

[2021-03-05 09:21] timroes commented on #22142
Since we're planning to switch using elastic-charts, I'll close this issue in favor of a11y (https://github.com/elastic/elastic-charts/issues/300) and automated testing (https://github.com/elastic/kibana/issues/70176) issues related to elastic-charts.

[2021-03-05 09:21] #22142 closed

[2021-03-05 09:22] dej611 opened #93747 "[Lens] Dates are stripped away from data histograms if interval is less than 1 hour"
**Kibana version:** `master` as fe1ae92957227a7e44ee5e9fe4b80efbfaf1ad95 (> 7.12)

**Describe the bug:**

When downloading a date histogram data with an interval down to 1 hour, the date is printed together with the timestamp as follow:

[code]

If the interval goes down the hour, the date gets stripped away and only time is exported:

[code]

**Steps to reproduce:**
1. Create a date histogram wit

[2021-03-05 09:22] elasticmachine commented on #93747
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-05 09:22] elasticmachine commented on #10726
Pinging @elastic/datavis (Team:DataVis)

[2021-03-05 09:24] timroes commented on #10388
This is actually no longer relevant, since there is a separate kibana.yml setting to enable/disable the UI (which is switched to disabled since 7.0 by default): `timelion.ui.enabled`

[2021-03-05 09:24] #10388 closed

[2021-03-05 09:28] shineliuhzz commented on #93554
Thank you. Since it needs to be consistent with the ES version (7.10.1), if this part of the problem is fixed, how should I merge it into my current 7.10.1 version? Can I fix this problem only by upgrading?

[2021-03-05 09:28] timroes commented on #9761
Since we've deprecated the timelion application and it's scheduled for removal in 8.0 I am going to close this issue, since we're not planning to address this anymore.

[2021-03-05 09:29] restrry commented on #50212
@ymao1 Could you elaborate on what exactly, please? The issue doesn't provide any description. Do you want to be able to compress the request body when sending a request to the Elasticsearch service? If so, the new Elasticsearch client supports `gzip` compression out-of-the-box.
See `compression` in the official doc https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/basic-

[2021-03-05 09:29] ruflin commented on #92612
@nchaulet I think we need a bit more detailed analysis on what happens if we automatically upgrade the policies related to it. Upgrading a policy could mean having suddenly new default datasets enabled which was not intentional and update 100k Agents. Please dive more into the details for this and the different scenarios.

[2021-03-05 09:30] simitt commented on #93420
When moving the APM agent installation to the fleet policy editor - the instructions will be shown for a specific `agent policy`, in which case it should be clear which APM Server values to show.

This issue is not concerned with the fleet policy editor at all. This is about how the current onboarding/setup page for APM can keep showing at least as meaningful information as it does now.

@felixbar

[2021-03-05 09:31] ruflin commented on #92427
++

[2021-03-05 09:33] timroes commented on #10892
While this is still the same behavior, we currently don't have any plans to introduce a cache for requests into timelion, thus I'll be closing this.

[2021-03-05 09:33] #10892 closed

[2021-03-05 09:34] timroes commented on #12098
This is addressed in newer versions of Kibana, since we're using the monaco editor for the timelion input clearly showing the multi line behavior.

[2021-03-05 09:34] #12098 closed

[2021-03-05 09:35] #12556 closed

[2021-03-05 09:36] timroes commented on #12568
Since the timelion application has been deprecated and is planned to be removed in 8.0, I am going to close this, since we're not having the intention to add a sharing option to it anymore.

[2021-03-05 09:36] #12568 closed

[2021-03-05 09:37] timroes commented on #13741
This issue is no longer persistent giving we're using the monaco editor now for the timelion input.

[2021-03-05 09:37] #13741 closed

[2021-03-05 09:39] timroes commented on #13778
This is no longer an issue, given that there is `fit` option now that allows the user to define the fitting function.

[2021-03-05 09:39] #13778 closed

[2021-03-05 09:42] felixbarny commented on #93420
Alex already created an issue for that: https://github.com/elastic/kibana/issues/88822

[2021-03-05 09:47] elasticmachine commented on #30956
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-05 09:47] rmoff opened #93750 ""Your data is not secure" message appears on dashboard export to PNG—but not in interactive use"
**Kibana version:**

7.11

**Elasticsearch version:**

7.11

**Server OS version:**

Docker

**Browser version:**

Chrome Version 88.0.4324.192 (Official Build) (x86_64)

**Browser OS version:**

MacOS 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):**

Docker

**Describe the bug:**

When using Kibana interactively there is no "Your data is not secure" message (and

[2021-03-05 09:47] stratoula commented on #29784
I am closing it as it is a duplicate of this https://github.com/elastic/kibana/issues/63012 and has been done

[2021-03-05 09:47] #29784 closed

[2021-03-05 10:06] dmlemeshko opened #93751 "`metrics/vis/data` API performance degradation"
According to load testing [results](https://kibana-stats.elastic.dev/s/load-testing/app/discover#/view/9d54d470-7d9a-11eb-8e93-a95a6593eecf?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15d,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:cbc6ada0-34c1-11eb-8043-812995c71b7a,key:scenario.keyword,negate:!f,params:(query:org.ki

[2021-03-05 10:07] #93576 closed

[2021-03-05 10:08] rmoff commented on #93750
FWIW I added `SECURITY_SHOWINSECURECLUSTERWARNING: "false"` as an environment variable to my Kibana Docker container and this fixed the problem.

[2021-03-05 10:14] felixbarny commented on #91412
For other agents, we'd also want to show manual installation instructions. See also https://github.com/elastic/kibana/issues/88822 and https://github.com/elastic/kibana/issues/93420#issuecomment-790806328.
I agree that a design phase makes a lot of sense. Do we already have a design issue for 7.13 for this? I'm happy to collaborate on that.

[2021-03-05 10:18] skh commented on #92612
I think this refers to what @simitt describes in https://github.com/elastic/kibana/issues/92612#issuecomment-785214668 and I think it has the same reason as https://github.com/elastic/kibana/issues/86268. A bit of background is also described in https://github.com/elastic/kibana/issues/81995 .

[2021-03-05 10:30] elasticmachine commented on #93751
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-05 10:31] ffMathy commented on #9761
@timroes this issue also applies to general searches in Discover.

[2021-03-05 10:37] simitt commented on #92612
@nchaulet I am also wondering if the upgrade process needs to be the same for every package. For APM we will align the package version with the stack version and we (cc @axw ) even have ongoing discussions whether the package version could always be kept in sync with the Kibana version (maybe by even bundling the APM Server package with Kibana?). This would be helpful for the curated UI as it coul

[2021-03-05 10:46] dadoonet opened #93754 "Filtering settings in Component templates is hiding component templates with settings"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Browser version:** Version 88.0.4324.192

**Browser OS version:** MacOS

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

When you are creating a new index template from `/app/management/data/index_management/create_template` and you want to filter which type of component templat

[2021-03-05 11:10] afharo opened #93755 "[discuss] SavedObjects: does it make sense to create a `findFromAllSpaces` method?"
In #93289 this question was raised:

_Originally posted by @TinaHeiligers in https://github.com/elastic/kibana/pull/93289#discussion_r587710975_

I'm creating this issue to discuss this suggestion.

[2021-03-05 11:10] elasticmachine commented on #93755
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 11:11] #92001 closed

[2021-03-05 11:34] timroes commented on #26402
Let's keep this issue to only track switching the "primary" time field (if we'd want that) in Discover. Lens already supports using any time field to do auto date histograms on. If discover would support switching the primary time fields, we might want to add a hint to the `VISUALIZE_FIELDS` trigger to allow specifying which date field should be used as primary one, so Lens could take that into ac

[2021-03-05 11:38] dikshachauhan-qasource opened #93756 "[Fleet] Inconsistent Agent IDs are available on Kibana App under Fleet>agents and Discover Tab."
**Kibana version:**
7.12 BC3 Kibana Cloud environment

**Host OS and Browser version:**
Any, All

**Preconditions**
1.  7.12 BC3 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.
3. few agents should be installed.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to fleet> Agents tab.
3. Select and Agent and navigate t

[2021-03-05 11:39] elasticmachine commented on #93756
Pinging @elastic/fleet (Feature:Fleet)

[2021-03-05 11:40] dikshachauhan-qasource commented on #93756
@manishgupta-qasource Please review

[2021-03-05 11:41] #93406 closed

[2021-03-05 11:48] shineliuhzz commented on #93554
@Bamieh

[2021-03-05 11:48] shahzad31 commented on #92207
This is going to be awesome, thank you team for pushing for this.

[2021-03-05 11:48] dikshachauhan-qasource opened #93760 "Windows Agent continues to display in 'updating' state when used only unenroll option[without force un-enroll]."
**Kibana version:**
7.12 BC3 Kibana Cloud environment

**Host OS and Browser version:**
Windows, All

**Preconditions**
1.  7.12 BC3 Kibana Cloud environment should be available.
[code]
2. Default policy having system integration should exist.
3. few Windows agents should be installed.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to fleet> Agenets tab.
3. Select and Agent a

[2021-03-05 11:49] #90376 closed

[2021-03-05 11:49] elasticmachine commented on #93760
Pinging @elastic/fleet (Feature:Fleet)

[2021-03-05 11:50] dikshachauhan-qasource commented on #93760
@manishgupta-qasource Please review

[2021-03-05 11:56] deepikakeshav-qasource opened #93761 "[Security Solution] Extra space is displaying between "About" and "Description" if EQL query is long under the rule details page."
**Description**
Extra space is displaying between "About" and "Description" if EQL query is long under the rule details page.

**Build Details:**

[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint security should be installed

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Click on "manage and detection rule".
3. Create an EQ

[2021-03-05 11:56] elasticmachine commented on #93761
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 11:56] mikecote commented on #92166
Side note: this is probably where the connectors will land after alerting becomes its own application in Kibana.

[2021-03-05 11:58] deepikakeshav-qasource commented on #93761
@manishgupta-qasource Please review!!

[2021-03-05 11:59] mikecote commented on #50212
@restrry more details from SIEM can be found here https://github.com/elastic/kibana/issues/50222 under "Control compression and timeout".

Based on that, the new Elasticsearch client that we provide to them supports this now and this issue and https://github.com/elastic/kibana/issues/50217 are probably no longer necessary.

[2021-03-05 12:01] afharo commented on #93416
Thank you @lukeelmers for such a good summary of the existing methods:

I'd vote for building an API inside the `cloud` plugin that would allow us to provide such info.

Please, be aware that this _cloud detector_ is not limited to Elastic Cloud options. It will detect if an on-premise instance is running on any cloud provider. I don't know if this info is required by Fleet in this case, @ruflin?

[2021-03-05 12:05] flash1293 commented on #93751
This line https://github.com/elastic/kibana/commit/d2abc03251f7c66526216f8d49d7bab9a7e63510#diff-2a30f3ccde878b04411a68185c4960cc683d61ce61ed1379a9e9a4171821720dR23

looks pretty expensive if the index pattern string is something like `*`.

[2021-03-05 12:13] muskangulati-qasource commented on #92598
Hi @kevinlog,

We tested this on the latest 7.12.0 BC3 build and found that issue is now **Fixed**.

Please find below the full testing details:

**Build Details**:
[code]

**Refer Screenshots**:
- Policy:
![RW](https://user-images.githubusercontent.com/60252716/110101787-0410ae80-7dca-11eb-8dcf-ae2c82b0dc23.PNG)

- Policy YML:
![yml](https://user-images.githubusercontent.com/60252716/110101793-05

[2021-03-05 12:13] manishgupta-qasource commented on #93756
Reviewed & Assigned to @EricDavisX

[2021-03-05 12:13] #92598 closed

[2021-03-05 12:16] karanbirsingh-qasource commented on #89084
Hi @XavierM

we have validated this issue on 7.11.2 BC1 On-Prem Environment and found it Not Fixed . As Still Duplicate not working open link icon for source.port and destination.port is coming in per-elastic template "Generic Network Timeline"

Issue is occurring on 7.12.0 BC3 too.
![image](https://user-images.githubusercontent.com/59917825/110114462-b7819f00-7dda-11eb-84d6-99889ac9d8b0.png)

**B

[2021-03-05 12:17] manishgupta-qasource commented on #93760
Reviewed & Assigned to @EricDavisX

[2021-03-05 12:17] rudolf commented on #91715
Once we've migrated all plugins over to the index patterns service we should consider setting `hidden: true` for the `index-pattern` saved object to block any plugins from reading these directly. This would require adding an index pattern HTTP API (if we don't already have one) and we would have to document it so that external users who might be relying on the saved objects API can switch to this

[2021-03-05 12:23] twins2020 opened #93763 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-03-05 12:23] elasticmachine commented on #93763
Pinging @elastic/apm-ui (Team:apm)

[2021-03-05 12:23] legrego opened #93764 "Move production dependencies out of `devDependencies`"
Currently, the only dependencies that are included in the `package.json`'s `dependencies` are those which are required by the Kibana server at runtime.

Dependencies that are only used client-side are declared as `devDependencies`. This commingling of actual dev dependencies with client-side prod dependencies creates a lot of extra work for the @elastic/kibana-security team. We have to scan both `

[2021-03-05 12:23] elasticmachine commented on #93764
Pinging @elastic/kibana-operations (Team:Operations)

[2021-03-05 12:25] #93763 closed

[2021-03-05 12:27] ruflin commented on #93416
We don't need information about any other Cloud providers except ECE and ESS. One thing that could become of interest in the future is to know if we run in ECK.

[2021-03-05 12:36] manishgupta-qasource commented on #93761
Reviewed & Assigned to @MadameSheema

[2021-03-05 12:37] karanbirsingh-qasource commented on #88064
Hi @kqualters-elastic

We have Validated this issue on 7.11.2 BC1 and found that issue is still occurring 🔴 . Global Search bar not working on Timeline Details page.

**Build Details:**
[code]
### Snap-Shoot:
![image](https://user-images.githubusercontent.com/59917825/110116353-63c48500-7ddd-11eb-8199-a9530e0dc0f5.png)

https://user-images.githubusercontent.com/59917825/110116373-6a52fc80-7ddd-11e

[2021-03-05 12:43] jfsiii commented on #91864
Thought of this ticket or [my comment about permissions](https://github.com/elastic/kibana/issues/91864#issuecomment-781489054) while reading https://github.com/elastic/kibana/issues/93051#issuecomment-791129344

[2021-03-05 12:44] kevinlog commented on #93738
@muskangulati-qasource @manishgupta-qasource

Right now both of those statuses are based on the Agent status and it's possible that it changes as the user navigates from page to page.  Was there a consistent disparity between the statuses on each page?

In addition, we'll be improving statuses with this ticket as mentioned before: https://github.com/elastic/security-team/issues/788

fyi @paul-tava

[2021-03-05 12:47] flash1293 commented on #93747
That's working as expected, it can be configured by `dateFormat:scaled`

[2021-03-05 12:47] #93747 closed

[2021-03-05 12:49] flash1293 commented on #93607
For the filter/query thing I guess we should find a global solution because those are everywhere in Kibana

[2021-03-05 12:51] karanbirsingh-qasource commented on #85542
Hi @MadameSheema

we have validated this issue on 7.11.2 BC1 On-Prem and Found is Fixed . Now Timeline having long are getting correctly wrapped in the delete prompt.

**Build Details:**
[code]
**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/110117895-8b1c5180-7ddf-11eb-88c6-a3101ed57a65.png)
![image](https://user-images.githubusercontent.com/59917825/110117907-8fe1058

[2021-03-05 12:51] #85542 closed

[2021-03-05 12:51] flash1293 commented on #93648
@dej611 is there something we can/should do from the consumer side?

[2021-03-05 12:56] ruflin commented on #93051
@tvernum I'm tempted to say we have already enough issue at the same time it means if anyone wants to setup Fleet through the API, username / password is required. I assume if we would have here service accounts, we would have a role if the token is used?

[2021-03-05 12:59] kibanamachine commented on #93737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12225/)

[2021-03-05 12:59] kibanamachine commented on #93737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12225/)

[2021-03-05 13:02] somil-nagarro opened #93767 "How to know elastic API for kibana bashboard panels"
**Describe the feature:**
We want to prepare an analytics dashboard in Kibana, at the same time we want to expose these APIs in other BI tools to visualize.

**Describe a specific use case for the feature:**
e.g.
I have tableau and jasper reports for analytics
Same analytics, which I have prepared in Kibana, want to expose as an API in external BI tool as RESTful API

[2021-03-05 13:11] muskangulati-qasource commented on #93738
Hi @kevinlog,

Yes. We are still seeing the same issue. Both the pages showing different statuses.

Thank you for the update. For now if it is expected, we can close this ticket and can wait for new changes to merge with the ticket: https://github.com/elastic/security-team/issues/788

Please provide your feedback.

Thanks!

[2021-03-05 13:18] stratoula commented on #16464
I am closing this as the tutorial section has changed and it renders well
![image](https://user-images.githubusercontent.com/17003240/110120589-e8a3a480-7dc5-11eb-9156-aef5415ec083.png)

![image](https://user-images.githubusercontent.com/17003240/110120130-4c799d80-7dc5-11eb-8504-f143aa875b4b.png)

[2021-03-05 13:18] #16464 closed

[2021-03-05 13:26] EricDavisX commented on #84967
HI @dikshachauhan-qasource if we have run an upgrade test successfully from prior minor version and all is working then we can close this out.

[2021-03-05 13:29] mukeshelastic commented on #93315
@ph I added the requirements for fleet UI in the description.

@mostlyjason can you take a pass at reviewing the reqs?

[2021-03-05 13:29] kevinlog commented on #93738
@muskangulati-qasource we should leave this open for more investigation.  I took a look at the server you provided.

Here's what I'm seeing:

Agent on the Fleet side shows as "Offline"
![image](https://user-images.githubusercontent.com/56395104/110121349-47e4c300-7d8c-11eb-8bed-8da2313c4dfb.png)

The reason why we're showing "Error" on our side is that the Agent ID we have doesn't exist.  You can

[2021-03-05 13:31] dikshachauhan-qasource commented on #91831
Thanks @EricDavisX for the feedback. We will validate it whenever fixes are available.

Can we put a Backlog label for now.

Thanks
QAS

[2021-03-05 13:33] ymao1 commented on #92166
As long as it's enough that `Rules` is tied to `Alerting` by being under the `Alerts and Insights` header, I'm good with using `Rules and Connectors`. My main concern was the lack of the term alert/alerting in the context. Using `Rules and Connectors` now will make it more straightforward to split out `Rules` from `Connectors` later.

Interested to get @arisonl's thoughts as well on this

[2021-03-05 13:34] monfera commented on #16423
`elastic-charts` added focus (in-chart drilldown) with tweening

https://user-images.githubusercontent.com/1548516/109667342-5787c000-7b70-11eb-9dc6-a5a9354bd184.mp4

[2021-03-05 13:35] kevinlog commented on #93756
chatted with @muskangulati-qasource about a bug on the Endpoint admin side.  https://github.com/elastic/kibana/issues/93738

See this comment: https://github.com/elastic/kibana/issues/93738#issuecomment-791420072

We're seeing an inconsistent status because we're also getting a bad Agent ID reported by the Endpoint.  It seems like the Agent sent a different ID down to the Endpoint than what it is

[2021-03-05 13:35] kevinlog commented on #93738
After another chat with @muskangulati-qasource - this may be related to this bug: https://github.com/elastic/kibana/issues/93756

[2021-03-05 13:43] dikshachauhan-qasource commented on #84967
Hi Eric

Thanks for the feedback.

Yes, we have covered Kibana Upgrade scenarios in our regression plan and functionality is working fine with previous installed agents as well as with new agents.

Hence, closing this out.

Thanks
QAS

[2021-03-05 13:43] #84967 closed

[2021-03-05 13:50] Dosant commented on #92040
@myasonik,

there is a property in firefox which seems it gives what we need: `e.nativeEvent.explicitOriginalTarget`

Using that property I almost made it work with:

[code]

It works well for clicks but it doesn't differentiate between clicks and keyboard navigation. With keyboard navigation, we don't want to stimulate "click", we want just focus instead.

If there are no other ideas, I will go w

[2021-03-05 13:51] rudolf opened #93770 "[wip] Expensive queries are causing unnecessary load and delays on Elasticsearch"
Until https://github.com/elastic/kibana/pull/89915 (v7.12.0) saved objects didn't support paging through large result sets. Now that we have `_search_after` support, plugins who previously paged through "all" results by setting `size: 10 000` should be refactored to use search after instead.

The problem with creating searches with large batches of 10000 is that it blocks the Elasticsearch thread

[2021-03-05 13:51] elasticmachine commented on #93770
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 13:54] benwtrent opened #93771 "[ML] Anomaly detection wizard validation should run a datafeed _preview"
**Describe the feature:**

At the end of the wizards before the job is created, a datafeed `_preview` should be ran as part of the validations. This will catch bad queries + aggs as the user is not REQUIRED to preview their data after modifying the JSON directly.

**Describe a specific use case for the feature:**

If the user modifies the datafeed JSON directly to add custom aggregations, there is

[2021-03-05 13:54] elasticmachine commented on #93771
Pinging @elastic/ml-ui (:ml)

[2021-03-05 13:54] benwtrent commented on #93771
I noticed this while creating a datafeed + job in the Adv. Wizard.

I am not sure if all the wizards use the same validation path or not.

[2021-03-05 13:55] streamich opened #93772 "Dashboard migration to 7.11 fails"
**Kibana version:** 7.11

**Elasticsearch version:** 7.11

**Server OS version:** Mac

**Browser version:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** `master`

**Describe the bug:**

When 7.9.3 dashboard panels don't have a `type` property, migration to 7.11 fails. Or sometimes succeeds but the resulting dashboard is corrupt.

Basically, this migration to `7

[2021-03-05 13:56] elasticmachine commented on #93772
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-05 14:00] #93253 closed

[2021-03-05 14:06] elasticmachine commented on #93734
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 14:06] elasticmachine commented on #93734
Pinging @elastic/siem (Team:SIEM)

[2021-03-05 14:07] elasticmachine commented on #93735
Pinging @elastic/siem (Team:SIEM)

[2021-03-05 14:07] elasticmachine commented on #93735
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 14:10] gtback commented on #76774
This looks an issue with the docs build, which needs to be handled in the [JavaScript code](https://github.com/elastic/docs/blob/589140cc582a53f60caa027bd81361962a933753/resources/web/docs_js/utils.js#L87-L90) rather than in the Kibana docs themselves. At the moment I see at least two bugs:

- The code treats everything after the POST as the URL, and wraps it all in quotes (after prepending the ho

[2021-03-05 14:13] mistic commented on #93735
This test looks flaky. Skipping for now.

master/8.0: 50c5f06
7.x/7.13: a08741b

[2021-03-05 14:15] elasticmachine commented on #93737
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-05 14:15] alexwizp commented on #93751
I'll have a look

[2021-03-05 14:16] streamich commented on #93772
Need to investigate:

- [ ] Whether the `type` property is necessary or can be omitted.
  - [ ] If yes, where was it lost. Or which migration step should have added it.
- [ ] Whether the migration should throw at all.
- [ ] Whether the migration should throw on missing `type` property.

[2021-03-05 14:17] streamich commented on #93772
Seems that `migrations700 ` migration is deleting the `type` property.

https://github.com/elastic/kibana/blob/master/src/plugins/dashboard/server/saved_objects/dashboard_migrations.ts

[2021-03-05 14:17] mistic commented on #93737
This test looks flaky. Skipping for now.

master/8.0: 0f261ef
7.x/7.13: f3c5f51

[2021-03-05 14:20] restrry commented on #92933
We met today to talk about #86247 scope. An implementation based on `painless` script has several blockers on the Elasticsearch side (we need to make sure that `painless` provides support for `uuid5`) and the Kibana side (Spaces plugin transforming id). We decided it's not practical and risky to invest too much time in this implementation right now.
In #86247 we will use Kibana-side migration. Aft

[2021-03-05 14:26] #84012 closed

[2021-03-05 14:29] alexwizp commented on #93751
@flash1293 I think it's more connected to using `indexPatternsService` instead of `so client`. It is much more expensive to create an indexPattern object than using the raw data returned from es. As a result we have a performance degradation for high load scenarios.

[2021-03-05 14:29] elasticmachine commented on #93772
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-05 14:29] formgeist commented on #91412
@felixbarny and others; I've opened a separate design issue to track the design process for the new configuration view https://github.com/elastic/observability-design/issues/29 - feel free to add additional specifications in there.

[2021-03-05 14:30] jgowdyelastic commented on #93771
The preview could be called as part of the validation step but seeing as the JSON can be edited on the very last step of the wizard, after the validation, it might make sense to run the preview automatically when the user saves changes to the JSON.

The `_preview` endpoint only works for existing jobs. The preview available in the wizard is a standard es search made from properties in the datafeed

[2021-03-05 14:30] EricDavisX commented on #93756
this is helpful, we had logged the same bug I think here: https://github.com/elastic/beats/issues/24327  but this has great details!  @michalpristas @blakerouse @ph this may be more impactful and widespread than we realized (the other issue was only seen on Windows 7) - can we make this a priority to investigate ?

we can close one as a dupe as soon as we're sure and have details, etc.

[2021-03-05 14:30] peluja1012 opened #93774 "[Security Solution] Error displayed in rule management page after upgrade from 7.11 if "partial failure" status was present"
**Describe the bug:**
When upgrading a deployment from 7.11.1 to 7.11.2 or from 7.11.0 to 7.11.2, if the current deployment has any rules with `partial failure` status, an error will be present to the user after upgrade in the Rule Management page. Note that this happens if the rule is disabled prior to upgrade, but it generated a `partial failure` status prior to being disabled.

**Steps to repro

[2021-03-05 14:30] elasticmachine commented on #93774
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-05 14:30] elasticmachine commented on #93774
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-05 14:37] dej611 commented on #93648
It seems like filling all the missing buckets with 0 fixes the issue: https://codesandbox.io/s/blue-microservice-b3mf9?file=/src/App.tsx

[2021-03-05 14:43] flash1293 commented on #93751
@alexwizp They should be cached in the server ideally, if they are not we should research why that's the case. There's also a cached list of index pattern titles, maybe we can use those instead

[2021-03-05 14:49] dhurley14 commented on #93333
This might be fixed by kibana core here: https://github.com/elastic/kibana/pull/93506#event-4410369568

I will close this ticket when it's merged.

[2021-03-05 14:56] walterra commented on #93570
Some more investigation surfaced: On that server there's a Kibana Index Pattern (`logs-*` with 662 fields), but it doesn't match any existing indices. The last endpoint that's called from the Transform UI returns `{"saved_objects":[{"id":"logs-*","type":"search","error":{"statusCode":404,"error":"Not Found","message":"Saved object [search/logs-*] not found"}}]}`. Next step: Reproduce locally, shou

[2021-03-05 15:00] alexfrancoeur commented on #93416
@afharo there are some discussions around broadening the capabilities or ownership of the `cloud` plugin to include some additional navigation changes for Kibana in Cloud and likely RBAC associated with those (cc: @ryankeairns @kobelb). I'm wondering if we should decouple this implementation from the `cloud` plugin if it's intended use is to understand the general deployment environment, whether i

[2021-03-05 15:03] michalpristas commented on #93756
i have something here: https://github.com/elastic/beats/pull/24389
let's see if that resolves this issue as well. i havent tested for this one

[2021-03-05 15:04] EricDavisX commented on #93760
moving this to the Beats repo - I doubt Kibana side has changed recently in this regard, and we know that Beats has changed a lot so, seems likely.

[2021-03-05 15:16] flash1293 commented on #93648
Sounds like a good workaround.

[2021-03-05 15:16] diegodelrieu commented on #87781
Hi, facing the same issue here.

For those that are still running broken versions of Kibana is there any way to find the commit that fixed this display bug ?

[2021-03-05 15:27] MichaelMarcialis commented on #93587
I took a quick peek at this issue. This might be a silly question, but for applications that demand the UI match the height of the viewport and do not use vertical scrolling, do we have the ability to apply a new `body` class that applies an `overflow: hidden;`? I believe doing so fixes these issues regardless of the dimension of elements that appear after the app container.

[2021-03-05 15:28] flash1293 commented on #93587
That's a good question and might be an easy fix. @elastic/kibana-core I think you would own such an API, what do you think?

[2021-03-05 15:29] tylersmalley commented on #93764
We're pretty sure we can move the dependencies now that we are cleaning the client-side only deps as part of the build. The hardest part would be to provide checks or assurances that there are not dev dependencies used in client-side code.

[2021-03-05 15:31] pgayvallet opened #93785 "Add nonce- to our CSP policy to allow inlining `bootstrap.js` inside the application document"
In https://github.com/elastic/kibana/pull/92784, we migrated the `/bootstrap.js` endpoint from legacy to core.

The `/bootstrap.js` endpoint is now an unnecessary request, as we are technically able to inline this script in the application's document generated by the `rendering` service. However, our CSP policy currently forbid that, as we are legitimately disabling `unsafe-inline` by default.

Id

[2021-03-05 15:31] elasticmachine commented on #93785
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 15:31] elasticmachine commented on #93785
Pinging @elastic/apm-ui (Team:apm)

[2021-03-05 15:31] elasticmachine commented on #93785
Pinging @elastic/kibana-security (Team:Security)

[2021-03-05 15:31] afharo commented on #93416
Based on all the comments, for the sake of separation of concerns, I think it makes sense to have a few sets of APIs:

1. Identify cloud provider: it would return `aws`, `gcp`, `azure`, `alibaba`, etc., no matter if it's running on ECS/ECK/ECE or on-premises. It can reuse the exiting [old cloud "detector"](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/cloud/cloud_d

[2021-03-05 15:40] dadoonet commented on #93754
Hmmm. Actually that's probably a misunderstanding on my side on how this is suppose to work...

I'm closing as it's probably not a bug. Sorry :)

[2021-03-05 15:40] #93754 closed

[2021-03-05 15:47] wylieconlon commented on #93747
Even though it's working as expected, I wouldn't expect date formatting to be controlled by advanced settings- I would expect it to be controllable at the visualization level.

[2021-03-05 15:52] flash1293 commented on #93747
@wylieconlon I guess that's tracked by https://github.com/elastic/kibana/issues/67206?

[2021-03-05 15:54] wylieconlon commented on #93747
@flash1293 Yes! Although @dej611 were you asking about CSV export specifically? It seems like you were expecting the CSV date format to be different from what you see on the screen?

[2021-03-05 16:00] dej611 commented on #93747
In general when dealing with dates, as a user, I'd prefer to have the full timestamp, in order to avoid confusion for multiple days span.
So yes, I would probably like to decouple the actual visualization format from the exported one.

[2021-03-05 16:02] wylieconlon commented on #93747
That seems like it's a separate issue that we aren't tracking right now, we could reopen this to track CSV formatting.

[2021-03-05 16:05] flash1293 commented on #93747
Sure, it would be a separate `enhancement`

[2021-03-05 16:05] LeeDr commented on #21040
We're just starting the process to switch from esArchiver to kbnArchiver for importing saved objects for tests.  kbnArchiver uses the saved object API.  We should put our efforts into that change.  @wayneseymour is working on it if you would like to coordinate with him.

[2021-03-05 16:07] timroes commented on #10591
Since this issue is rather old, I assumet his was mainly caused by our "unnecessary" `cloneDeep` that made working with deep nested ES responses really slow. We addressed that in 7.0 (https://github.com/elastic/kibana/pull/32806) and this should have gone way faster than that. Also we have constant workstreams ongoing on improving performance, so hopefully overall performance will continue to incr

[2021-03-05 16:07] #10591 closed

[2021-03-05 16:12] jportner commented on #93785
Is there any reason we couldn't use a hash of the script instead of generating a new nonce with each request? Seems that it will accomplish what we want and it will be easier to implement.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

[2021-03-05 16:13] lukeelmers commented on #93416
A bit confused - the original intent of _this_ issue? There's a separate issue in the telemetry repo to re-enable telemetry for cloud providers using that logic, which is the one I was referring to.

If the end goal is to make this work for marketplace deployments as well, then the "technology picker" which has been discussed isn't really going to help us if it is only implemented in Cloud... in t

[2021-03-05 16:17] jasonrhodes commented on #93645
Per @sorantis we need to remove the docs too, if we revert this: https://github.com/elastic/observability-docs/pull/404

[2021-03-05 16:19] dokmic commented on #64170
The issue was fixed as part of #67027, and the fix is available starting from 7.9. Previously, we were returning formatted values in the CSV export, which were containing commas in numeric values. Currently, we apply that formating only if it is explicitly set in the index patter field settings.

[2021-03-05 16:19] #64170 closed

[2021-03-05 16:20] pmuellr commented on #93728
I assume `...ecsMappings` is all the ECS fields at the usual top-level.  But then we add `@timestamp` (at the bottom), that means we lose the original `@timestamp` from the ECS fields.  That ok?

I'm not sure what `rule` is, especially given `id` and `ruleTypeid`.  Feels like `rule` should be an object with `id` and `ruleTypeid` as fields.  Storing the rule name will probably be useful for Discove

[2021-03-05 16:25] stacey-gammon opened #93795 "Remove api_docs from the repo"
It's causing too much friction to verify and rebuild these docs on every commit. Instead, we could have the build system commit these docs to another repo. Ideally we'd still give developers information about what public APIs they are changing, but we can do that outside of preventing ci from passing, by collecting this information and using CiStats instead.

When implementing this in ci, we'd hav

[2021-03-05 16:31] alexfrancoeur commented on #93416
That's what I get for answering an issue before my morning coffee ☕ . Apologies for the confusion everyone. Happy to help with a concrete list of items outside of Fleet needs.

[2021-03-05 16:32] Dosant commented on #92040
Hmm, I played a bit with setTimeout approach and I didn't work consistently. Especially in firefox.
Sometimes popover isn't open. Sometimes it is open in an incorrect position

[2021-03-05 16:33] Kerry350 commented on #92215
I think all major bugs / regressions have been fixed now, as part of #93201.

I've then filed #93594, #93596, and #93599 for things that don't need to block 7.12.

[2021-03-05 16:34] marius-dr commented on #20342
@kertal  will do.

[2021-03-05 16:39] marius-dr commented on #91721
those look like useful changes to the params list. Not sure about that worker size, did we ever hit limits there?

[2021-03-05 16:40] wayneseymour opened #93797 "[QA][Saved Objects][Meta] Use kbn-archiver instead of es-archiver"
--DRAFT--

[2021-03-05 16:42] wayneseymour commented on #21040
Just a place holder for now:
__Use kbn-archiver instead of es-archiver__ https://github.com/elastic/kibana/issues/93797

[2021-03-05 16:44] pmuellr commented on #93730
This may not be relevant, but thought I'd mention it.

For the current event log, we currently queue up events to write, in bulk, async.  However the public interface is a simple synchronous  `logEvent(event)` style call that returns nothing.  We buffer over time and space (1 sec or 100 events, whichever happens first).  We also handle trying to get these written out during an "normal" Kibana shut

[2021-03-05 16:45] fearful-symmetry commented on #92636
You sure about that? I double checked, re-installed everything, the repo is updated, and I'm still seeing the error. Looks like using 7.13-SNAPSHOT.

[2021-03-05 16:45] neptunian commented on #92215
Thanks @Kerry350!  Sounds good. I (or whomever) will test your fixes on BC4 when I get back.

[2021-03-05 16:47] #73242 closed

[2021-03-05 16:48] shaunmcgough opened #93798 "Respect field aliases whilst exporting to CSV"
While exporting to CSV we should respect field aliases for the exported field labels.

This includes Discover, Lens, Reporting, and anywhere this is used.

[2021-03-05 16:48] elasticmachine commented on #93798
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 16:50] shaunmcgough commented on #47659
https://github.com/elastic/kibana/issues/93798

[2021-03-05 17:01] wayneseymour commented on #91721
I think @dmlemeshko has in the past. Not sure about it any longer though.  Good question.

[2021-03-05 17:02] benwtrent commented on #93771
Ah, it would be good to add a preview like that.

[2021-03-05 17:08] EricDavisX commented on #91831
Yes, pease do, thx.

[2021-03-05 17:09] kobelb commented on #92933
We'll also need to take into consideration that we haven't explicitly ever stated that Elasticsearch **must** have scripts enabled for Kibana to work. However, various features in Kibana have become dependent on scripting being enabled. Additionally, we haven't had any reports from users about this causing issues.

Therefore, during 7.x we previously decided that Kibana should continue to generall

[2021-03-05 17:13] kobelb commented on #92933
In #86247 we will use Kibana-side migration. After v8.0, providing that we have requirements to scale for millions of SO, we can reconsider this decision and experiment with the alternative implementations.

What's the practical impact of us making this decision? What happens to Fleet users who happen to have a ton of saved-objects and then upgrade to a version of Kibana that has https://github.co

[2021-03-05 17:18] kobelb commented on #93416
@ruflin do you mind elaborating on the differences in behavior that we expect from Fleet when it's running in ECE/ESS. I think we're jumping the gun here and immediately talking about implementing something without the proper context.

[2021-03-05 17:19] nchaulet commented on #92621
Yes the problem always existed, the way we parse the package key we split on `-` so if there is `-` in the package name this cause an error.

[2021-03-05 17:27] mattkime commented on #92960
@nikokon I haven't had a chance to look at this but maybe I can get you unstuck - can you add the offending field to "Field filters"? Hopefully kibana ignores the join field and you're able to proceed as needed.

[2021-03-05 17:31] tsullivan commented on #93798
There is a PR in-flight to rewrite Reporting's CSV Export feature using a list of fields given to SearchSource: https://github.com/elastic/kibana/pull/88303 The purpose of that PR is to make CSV Export compatible with runtime fields.

Field aliases should be supported by SearchSource, so the PR should also handle this as well. We'll add a functional test to make sure.

[2021-03-05 17:36] elasticmachine commented on #93798
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-05 17:36] jalvz commented on #92621
Wait, i'm idiot 🤦  I actually _did know_ this: I stumbled on it a long time ago but I triggered elsewhere, so I didn't make the connection. But this is the reason why I named the package `apm` instead of `apm-server`... So I believe the request in the issue description is wrong and the issue can be closed, unless you actually want to support hyphens in the package name.
But we are not affected by

[2021-03-05 17:43] kobelb commented on #93515
My logic is based on the understanding that switching a dot-prefixed index from being "normal" to explicitly hidden is a breaking change to consumers. It's my understanding that running the Upgrade Assistant migrations themselves shouldn't introduce breaking changes, just prepare the user for the upgrade to 8.0. Then, starting in 8.0 the breaking changes should start occurring. At a minimum, I'm b

[2021-03-05 17:45] nreese commented on #87781
This issue is still open so there is no merged fix yet.

[2021-03-05 17:47] jaymode commented on #93515
Users can still create dot-prefixed indices in 7.x that are neither hidden nor system. They get a deprecation warning. For upgrades to 8.0, we are not requiring that they change the existing indices. The plan is that interaction with those indices will be deprecated in 8.x and no longer supported in 9+ since we expect that re-indexing will be required due to index compatibility requirements.

[2021-03-05 17:49] mattkime commented on #93798
@shaunmcgough did you mean es field aliases https://www.elastic.co/guide/en/elasticsearch/reference/master/alias.html or do you mean an index pattern field custom label?

[2021-03-05 18:09] kobelb commented on #93515
@jaymode, thanks for your patience and additional explanation. We don't want to change the settings on user-created dot-prefixed indices implicitly and instead just prevent users from creating new ones. However, we are comfortable changing the dot-prefixed indices that various Elastic products have created to now be hidden. If my understanding is correct, that essentially rules out Option 3 becaus

[2021-03-05 18:13] dakrone commented on #93618
This part is confusing, and as part we discussed resolving it, I've opened https://github.com/elastic/elasticsearch/issues/70032 to address it.

We did have a very long discussion about this, and decided on absolute times as the path we wanted to take going forward. Amongst other reasons, one reason was that absolute times do not change based on the insertion or removal of an intermediate tier. So

[2021-03-05 18:18] KOTungseth commented on #9465
We do not have plans to add this documentation.

[2021-03-05 18:18] #9465 closed

[2021-03-05 18:20] Zacqary commented on #92853
My mistake, was unable to reproduce when the Fleet Server was enabled in Kibana config. Working on a fix now.

[2021-03-05 18:22] KOTungseth commented on #10710
We have an internal initiative for implementing our dev docs. For more information, refer to https://github.com/elastic/kibana/issues/77958.

[2021-03-05 18:22] #10710 closed

[2021-03-05 18:23] jbudz commented on #92901
This is included in the release notes now, and with the support matrix covered I'm going to close this out.  Thanks all.

[2021-03-05 18:23] #92901 closed

[2021-03-05 18:25] KOTungseth commented on #13433
We have added documentation to TSVB.

[2021-03-05 18:25] #13433 closed

[2021-03-05 18:26] jbudz commented on #50681
I'm going to close this out, lets reopen if it comes back.

[2021-03-05 18:26] #50681 closed

[2021-03-05 18:29] KOTungseth commented on #14903
We have documented this in the user-facing docs.

[2021-03-05 18:29] #14903 closed

[2021-03-05 18:29] dakrone commented on #92037
Multiple conditions are `OR`d together, so the index would roll over if either condition were reached (with one primary shard they have the same behavior, with multiple primary shards the `max_size` condition would be reached first since it adds all primary shards together)

[2021-03-05 18:38] gchaps commented on #53244
Closing this issue as we moved the cross-cluster search docs into the ES docs for a better user experience.

[2021-03-05 18:38] #53244 closed

[2021-03-05 18:43] KOTungseth commented on #71598
We are planning to include this functionality in the new system.

[2021-03-05 18:43] #71598 closed

[2021-03-05 18:44] IgorGuz2000 commented on #91816
I was not able to replicate this. Also how we can delete connection

[2021-03-05 18:45] KOTungseth commented on #75999
Done.

[2021-03-05 18:45] #75999 closed

[2021-03-05 18:45] ThomThomson commented on #93772
Okay, this whole thing has been really confusing, and taken a lot of sleuthing by @crob611 and I - but it looks like there's a fix:

**Explanation**
During import the `savedObjectSave` function is run on the front-end. That in turn calls `extractReferences`, and when the panels get their references extracted, all unknown keys are removed - this includes the `{ x, y, x_width ... etc }` from a pre 6

[2021-03-05 18:46] #82859 closed

[2021-03-05 18:54] #87177 closed

[2021-03-05 18:56] mikecote commented on #90931
The same will probably apply to SDHs for the first point of contact.

[2021-03-05 19:09] KOTungseth commented on #18226
Inflight - https://github.com/elastic/kibana/pull/90409#issuecomment-781143806

[2021-03-05 19:16] legrego opened #93820 "Metadata for API Keys"
Related: https://github.com/elastic/elasticsearch/issues/48182

Elasticsearch allows API Keys to be created with arbitrary metadata. We should update our exposed API Key service to allow for this metadata to be attached to new keys, and retrieved for existing keys.

[2021-03-05 19:16] elasticmachine commented on #93820
Pinging @elastic/kibana-security (Team:Security)

[2021-03-05 19:21] restrry commented on #92933
When we discussed the problem it's been mentioned that Fleet team was going to fix the root problem with a large number of SO. @jen-huang Is it on your roadmap?

[2021-03-05 19:24] kobelb commented on #93515
I've come around to either option 1 or option 2 being acceptable. Strictly speaking, I still think that switching an index to be hidden is a breaking change; however, it's minimally breaking. Additionally, if we're at least warning the user and allowing them to make this change using the Upgrade Assistant, this seems tolerable. I've updated the GitHub description to reflect the consensus that we'v

[2021-03-05 19:28] pgayvallet opened #93823 "Move `/src/apm.js` to its own package"
In https://github.com/elastic/kibana/pull/92784, we migrated the `/app/{id}` endpoint from legacy to core. However the route handler needs to access the apm / rum configuration to inject it in the document's metadata. That causes an import from core to an undeclared source outside of its scope.

As we can't move the `apm.js` script to core (see https://github.com/elastic/kibana/pull/92784#discussi

[2021-03-05 19:28] elasticmachine commented on #93823
Pinging @elastic/kibana-core (Team:Core)

[2021-03-05 19:45] michaelolo24 commented on #93004
fyi @paulewing & @MadameSheema - The fix and explanation of the changes are here: https://github.com/elastic/kibana/pull/93825

TLDR; The links in the event details flyout will now navigate to their respective detail pages and the `ruleName` one didn't seem to ever have a problem. Let me know if you have any questions!

[2021-03-05 19:49] pmuellr opened #93826 "[task manager] support `max_workers` config value of 0"
Both @gmmorris  and I had assumed that you could config `xpack.task_manager.max_workers` to 0, which would prevent task manager from running any tasks at all.  But turns out, you can't: https://github.com/elastic/kibana/blob/9019946f95e5a642827fea195985dfcc533c2dd9/x-pack/plugins/task_manager/server/config.ts#L75-L80

We were thinking of using this for diagnostic purposes in a support case, when w

[2021-03-05 19:49] elasticmachine commented on #93826
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-05 19:52] Zacqary commented on #92853
The easiest fix for this would be to just suppress this filter key error and have it appear to return no results, but I'm wondering what the expected behavior should be for this search bar? Like should just searching for `win` return `windows2019` and `windows2012-r2`?

If I'm just entering text without referring to a key, intuitively I'd expect to be searching by host name. Unfortunately, there's

[2021-03-05 19:52] brianseeders commented on #93706
Duplicate of #93705

[2021-03-05 19:52] #93706 closed

[2021-03-05 19:54] gchaps commented on #70023
This issue has been addressed.

[2021-03-05 19:54] #70023 closed

[2021-03-05 19:56] kibanamachine commented on #93668
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12231/)

[2021-03-05 20:00] gchaps commented on #73484
Closing this issue as it was addressed in the ES docs.

[2021-03-05 20:03] pgayvallet commented on #92765
I'm not sure we have, but maybe @restrry could confirm that?

[2021-03-05 20:06] mikecote commented on #93515
@kobelb I wanted to get a clarification about option 2.

In the event log, we use the version number as part of the index name (ex: `.kibana-event-log-7.12.1`). When you mention updating the settings for these indices to be hidden, do you mean any new index or going back on existing 7.x indices as well and making those hidden too?

[2021-03-05 20:25] pgayvallet commented on #93630
We could just change the API of `notifyUsage` from

[code]

to

[code]

However given that we may need more changes for this API in the near future (such as the 'notify when check'), I wonder if we shouldn't rethink the usageNotification service more in depth...

[2021-03-05 20:38] jaymode commented on #93515
That's correct based on the plan and what is implemented today. If there is a strong desire for option 3, we'd need to build infrastructure to make Elasticsearch aware of those indices and define them within the already created system index plugins.

[2021-03-05 20:54] michaelolo24 commented on #91998
@deepikakeshav-qasource please confirm this is fixed in the latest BC

[2021-03-05 20:55] michaelolo24 commented on #92004
@deepikakeshav-qasource please confirm this is fixed in the latest BC

[2021-03-05 21:05] michaelolo24 commented on #92004
@karanbirsingh-qasource, can you please confirm this is fixed in the latest BC?

[2021-03-05 21:15] pgayvallet commented on #93755
What would be the upsides compared to just call the existing `find` API with `namespaces: ['*']`. Isn't that more of a documentation / education issue, where our developers are not aware of the default space-scoping behavior of the API?

[2021-03-05 21:28] legrego commented on #93785
I'm not opposed to exploring the hash approach if that's viable. My one reservation is that it won't scale very well: while I don't expect to have a _ton_ of these, there are at least 2 JavaScript assets within the security plugin that could benefit from the `nonce` approach too.

[2021-03-05 21:32] tsullivan commented on #93582
This is a duplicate of https://github.com/elastic/kibana/issues/41402

That issue is blocked until there is a high-level way to tell applications/plugins like the Telemetry agent to stop themselves from rendering. I just put up an RFC about that: https://github.com/elastic/kibana/pull/93496

Reporting used to attempt to do this, but we realized it really isn't working because we could still see th

[2021-03-05 21:34] tsullivan commented on #41402
@Bamieh see https://github.com/elastic/kibana/pull/93496

[2021-03-05 21:43] brianseeders commented on #93705
This failed on 7.x as well: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2394/

[2021-03-05 21:45] LeeDr commented on #65364
On 7.12.0 when I tried it I got a good error so I'll close this;

[code]

[2021-03-05 21:45] #65364 closed

[2021-03-05 21:48] ThomThomson opened #93845 "[Time to Visualize] Cannot use By Value Workflow Without Visualize Write Permissions"
**Kibana version:** 7.12

**Describe the bug:** The user is unable to add visualizations by value to dashboards without visualize write permissions.

**Steps to reproduce:**
1. Create a role that has visualize read permissions and dashboard write permissions
2. log in with a user that has that role
3. Attempt to add a visualization to the dashboard.
4. Even though you have dashboard edit permissio

[2021-03-05 21:48] elasticmachine commented on #93845
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-05 21:48] #93645 closed

[2021-03-05 21:55] jportner commented on #92192
The path to the Spaces app is `x-pack/plugins/spaces/public/management/spaces_management_app.tsx`!

It looks close, but the arguments to `rolesManagementApp.create()` are incorrect. You can see the existing unit tests for that module in `x-pack/plugins/security/public/management/roles/roles_management_app.test.tsx`.

It's easier to review and provide feedback on a pull request; if you have some co

[2021-03-05 21:56] kobelb commented on #93630
@pgayvallet I'm not opposed to us coupling this to https://github.com/elastic/kibana/issues/75782.

However, if we want to uncouple it, we could also change `register` from:

[code]

to
[code]

and then `notifyUsage` with this feature could be a no-op, or throw an Error.

[2021-03-05 22:01] kobelb commented on #93515
Making existing 7.x indices hidden as well.

[2021-03-05 22:25] TinaHeiligers commented on #82431
@restrry Should we migrate the _functionality_ of what these legacy logs are logging to the KP or just use the KP logger to log the messages from the LP?

[2021-03-05 22:26] myasonik opened #93852 "[Dashboard](Accessibility) Dashboard modals should return focus to relevant area"
The Dashboard modals return focus to the `<body>` instead of an area closer to the relevant content. (Which will be different per modal/action and will require best judgement. Reach out if unsure.)

This is a follow up to https://github.com/elastic/kibana/pull/93332 (CC @ThomThomson)

[2021-03-05 22:26] elasticmachine commented on #93852
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-05 22:26] elasticmachine commented on #93852
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-05 22:52] #69649 closed

[2021-03-05 22:52] #89473 closed

[2021-03-05 23:05] mattkime commented on #47659
@kertal should this be closed via https://github.com/elastic/kibana/pull/70039 ?

[2021-03-05 23:13] brianseeders commented on #93705
Skipped on master in 654435249eef6558d839e6c571ce3b19b1966aec
7.x pending

[2021-03-05 23:15] archon810 commented on #69649
Hooray!

[2021-03-05 23:41] #93735 closed

[2021-03-06 00:02] TinaHeiligers commented on #93755
I think that's why we fell into this trap in the first place.

[2021-03-06 00:03] #93563 closed

[2021-03-06 00:05] kmartastic commented on #46752
I could not reproduce this issue.

[2021-03-06 00:08] kmartastic commented on #46761
I cannot reproduce this on Master.

[2021-03-06 00:12] kmartastic commented on #73046
@ThomThomson you have a sense of LOE on this?

[2021-03-06 00:28] kibanamachine commented on #93670
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/112/)

[2021-03-06 00:46] kmartastic commented on #72584
@ThomThomson @ryankeairns thoughts or history on this?
I lean towards leaving as-designed and closing.

[2021-03-06 01:49] stacey-gammon commented on #9314
Unfortunately, Timelion is in maintenance-only mode, so this is not something we will consider implementing.

[2021-03-06 01:49] #9314 closed

[2021-03-06 02:55] alvarezmelissa87 commented on #78637
Closing as this is covered by https://github.com/elastic/kibana/pull/93478

[2021-03-06 02:55] #78637 closed

[2021-03-06 03:36] spong opened #93871 "[RAC][Alert Triage] Last Alert Component"
## Description

This issue is for the generification of the `Last Alert` component used within the Alert Triage workflow on the main Security Detections page, and corresponding react hook also used on the Rule Details page.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/110191412-80fd5180-7de5-11eb-87b4-7658baccbd27.png" />
</p>

As used within the Ob

[2021-03-06 03:36] elasticmachine commented on #93871
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 03:36] elasticmachine commented on #93871
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-06 03:36] elasticmachine commented on #93871
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-06 03:36] spong opened #93872 "[RAC][Alert Triage] Alerts Histogram Component"
## Description

This issue is for the generification of the `Alerts Histogram` component used within the Alert Triage workflow on the main Security Detections page and Rule Details page. This component isn't currently planned to be used within the Observability workflow, and so its generification can be prioritized as necessary.

<p align="center">
  <img width="500" src="https://user-images.githu

[2021-03-06 03:36] elasticmachine commented on #93872
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-06 03:36] elasticmachine commented on #93872
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 03:36] elasticmachine commented on #93872
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-06 03:36] spong opened #93873 "[RAC][Alert Triage] Alerts Table Component"
## Description

This issue is for the generification of the `Alerts Table` component used within the Alert Triage workflow on the main Security Detections page and Rule Details page.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/110191763-7e036080-7de7-11eb-90af-3185d7f3e6b3.png" />
</p>

### Interface
##### Inputs
* Page-level KQL query, filters, an

[2021-03-06 03:36] elasticmachine commented on #93873
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-06 03:36] elasticmachine commented on #93873
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 03:36] elasticmachine commented on #93873
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-06 03:36] spong opened #93874 "[RAC][Alert Triage] Status / Quick Filter Components"
## Description

This issue is for the generification of the `Status / Quick Filter` component(s) used within the Alert Triage workflow on the main Security Detections page and Rule Details page. The `additional filters` portion of this component isn't currently planned to be used within the Observability workflow, and so its display should be configurable. Guidance from @elastic/security-design, @

[2021-03-06 03:36] elasticmachine commented on #93874
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-06 03:36] elasticmachine commented on #93874
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-06 03:36] elasticmachine commented on #93874
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 03:36] spong opened #93875 "[RAC][Alert Triage] Permission Callout Components"
## Description

This issue is for the generification of the `Permission Callout` components used within the Alert Triage workflow on the main Security Detections page and Rule Details page. There are two main callouts used within the Alert Triage workflow, one for when the user doesn't have write permissions to the .alerts index, and the other for when the .alerts index needs to be rolled over whe

[2021-03-06 03:36] elasticmachine commented on #93875
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-06 03:36] elasticmachine commented on #93875
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-06 03:36] elasticmachine commented on #93875
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 04:56] elasticmachine commented on #93549
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-06 05:09] spong commented on #93247
Related:

[SecuritySolution][Detections] Allow bulk editing of Rules #86198
[Actions] Add action group for notifying users of alert execution failure #83748

[2021-03-06 05:10] spong commented on #93761
Resolved in #93831, ready for test 🙂

[2021-03-06 06:19] Erwin-grab opened #93877 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-03-06 06:19] elasticmachine commented on #93877
Pinging @elastic/apm-ui (Team:apm)

[2021-03-06 06:23] #93877 closed

[2021-03-06 07:12] axw commented on #93420
To try and help get things started, I've prototyped a couple of things:
- Injecting an API Key into the APM package policies in Fleet: https://github.com/axw/kibana/tree/apm-fleet-apikey
- Injecting agent config directly into APM package policies in Fleet: https://github.com/axw/kibana/tree/apm-agent-config-fleet

It's all hacks, just use it for inspiration if anything.

The approach of injecting

[2021-03-06 07:20] nikokon commented on #92960
@mattkime I was hoping something like that would work as well. Have tried adding the field to "Field filters" as well as trying wildcard join* and specific join.name join.parent but to no avail 😔 (my join field is called join 🤷 <- lack of imagination )

The field filter is having an effect in the discover view so at least the filter is working as intended.

I've even tried applying the field filte

[2021-03-06 08:07] axw commented on #89829
I think I've tracked this down to https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/epm/archive/validation.ts

There's a couple of bugs IIANM:
 - https://github.com/elastic/kibana/blob/a7dd5179a9a0aae305c27f41f5dbe522cb74c09d/x-pack/plugins/fleet/server/services/epm/archive/validation.ts#L318 does not copy across all [RegistryInput](https://github.com/elastic/kiban

[2021-03-06 09:25] peluja1012 commented on #93774
Fix here: https://github.com/elastic/kibana/pull/93684

[2021-03-06 09:25] #93774 closed

[2021-03-06 12:20] streamich commented on #93772
A couple of questions we could discuss in a sync:

- I'm curious, why is `type` in references instead of the panel data? As I understand it the references type and the panel type don't necessarily need to be the same, also, a panel could reference many saved objects.
- Should we ever throw in migrations?
- In migrations, should we localize all migration code inside the migration, i.e. maybe the mi

[2021-03-06 15:57] kibanamachine opened #93884 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/agents/complete_flow·ts - Fleet Endpoints fleet_agent_flow should work"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/117/)

[2021-03-06 16:00] SHolzhauer commented on #75622
Possible note for the category and subcategory fields. These can be customized in ServiceNow with extra values, supoprting custom values would add to the value.

[2021-03-06 21:38] kibanamachine opened #93886 "Failing test: X-Pack Fleet Functional Tests.x-pack/test/fleet_functional/apps/fleet/overview_page·ts - endpoint When in the Fleet application and on the Overview page should show the Integrations section"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12257/)

[2021-03-06 22:10] elasticmachine commented on #93886
Pinging @elastic/fleet (Team:Fleet)

[2021-03-06 22:10] elasticmachine commented on #93884
Pinging @elastic/fleet (Team:Fleet)

[2021-03-06 23:38] anish-khanna commented on #93412
If nobody has tried to clean up this issue, I'd like to do so!

[2021-03-07 04:37] kibanamachine opened #93887 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/dashboard/async_search/async_search·ts - Dashboard dashboard with async search timed out should show error"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12396/)

[2021-03-07 06:45] #48835 closed

[2021-03-07 06:45] #81581 closed

[2021-03-07 06:45] #85548 closed

[2021-03-07 13:57] kibanamachine opened #93890 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform - transform "after all" hook in "transform""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12274/)

[2021-03-07 14:48] shaunmcgough commented on #93798
I am referring to es field aliases.

[2021-03-07 16:16] kibanamachine opened #93891 "Reporting: Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/bwc_generation_urls·ts - Reporting APIs BWC report generation urls 6_2 multiple jobs posted"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12276/)

[2021-03-07 17:46] gmmorris commented on #93826
Thanks for opening the issue @pmuellr

The reason I had even thought about this was actually for cloud - as cross env (cloud with on-prem) don't have a shared config, and they can clash.
I think we would still need to support 0 on cloud so that a customer can prevent their cloud Kibana from running tasks if needed (due to [ESO complications](https://github.com/elastic/kibana/issues/92654), for exa

[2021-03-07 19:20] tsullivan commented on #79793
Besides just logging the data and scraping it from the logs, Reporting also has integration with APM. I think there may be a way to capture the metrics data and index it back into ES through APM metadata.

[2021-03-08 01:02] jaapie opened #93893 "Support International English (UK English)"
I am from a country that uses UK English. I would like to be able to have that language as an option in the Kibana UI. I am happy to attempt to contribute a pull request with whatever is needed by Kibana to get this happening.

I have no familiarity with the codebase so can someone please point me in the right direction?

[2021-03-08 02:27] wylieconlon opened #93894 "[Discover] Fully remove discover:aggs:terms:size as Lens does not use this setting"
This is a setting that was recently available, but was deprecated without warning in 7.11 when Discover switched from Visualize to Lens. Now that it's non-functional we should fully remove this setting for 8.0

[2021-03-08 02:27] elasticmachine commented on #93894
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 04:39] matschaffer opened #93895 "Accept time picker values as iso8601"
**Describe the feature:**

The time picker seems to accept one specific format, but it'd be great if we could make it a bit more flexible. Often logs contain timestamps in iso8601 format, seems like we should support it in kibana as well.

![Screen Shot 2021-03-08 at 13 37 38](https://user-images.githubusercontent.com/690/110274975-77f1c780-8013-11eb-8c7c-39824454e830.png)

**Describe a specific u

[2021-03-08 06:18] elasticmachine commented on #93890
Pinging @elastic/ml-ui (:ml)

[2021-03-08 06:20] pheyos commented on #93890
Not sure what exactly went wrong there in the cleanup phase. Might be a transient issue with the environment. I'll keep an eye on it.

[2021-03-08 07:14] simitt commented on #92621
Apologies for the confusion with my example, I updated it to be more clear, using `apm-123-0.1.0-dev.4` instead of `apm-server-0.1.0-dev.4`. The problem still exists, I believe the title fits perfectly. While it is an invalid version, I would expect a `4xx` error code and not a server side code.

[2021-03-08 07:43] sebelga commented on #93618
I see your point. I guess there this is a question of tradeoff. As it has been already discussed let's go with the decision.

That's great to hear, thanks for improving on that. Do you think the UI could also do something here?

[2021-03-08 07:50] ruflin commented on #93416
The initial problem on why this issue was opened is because for example apm-server on ECE and ESS has different defaults (allowlist / blocklist) for the config options. As these config options now move to Fleet, I was thinking we would need to differentiate in Fleet. An other discussion was around default ports which might be different.

But a separate discussion has evolved internally over the la

[2021-03-08 07:57] angorayc commented on #90136
it was failed in build 94, and the latest build when I'm writing is 120. https://kibana-ci.elastic.co/job/elastic+kibana+7.12/
It's not happen in between, so I'm closing the issue.

[2021-03-08 08:19] katrin-freihofner commented on #93872
There are a couple of things that I hope we can improve on the histogram as we build this component.

1. Colors
We have dedicated [visualization colors in EUI](https://elastic.github.io/eui/#/guidelines/colors). I highly recommend using them as they are well tested, accessible and themeable.

<img width="323" alt="Screenshot 2021-03-08 at 09 04 41" src="https://user-images.githubusercontent.com/20

[2021-03-08 08:28] zhexy123 opened #93897 "kibana session expired question"
I want to ask about the expiration of kibana's session. We use kibana's default Cookie: Sid,
The expired time is session. And there is no official xpack.security.session .idleTimeout、
xpack.security.session . lifespan parameter, the expiration time is theoretically consistent with the browser life cycle.
Will encounter problems: in the page query data, do not do any operation, 2-3 hours will autom

[2021-03-08 08:29] zhexy123 opened #93898 "kibana login very slow question"
I want to ask a question about kibana's slow login. At present, our kibana has done load balancing for 10 nodes.
When requested, it will enter our login_ Plugins, many of which are basically 5-10S,
Sometimes 10-20s. After filling in the user name and password, it will take about 5-10S to log in
Go to the space selection page. After investigation, it is found that kibana uses nodejs and uses a sing

[2021-03-08 08:44] katrin-freihofner commented on #93874
For our use case in Observability we'd like to show both, open and in-progress alerts. Therefore, I suggest using a [multi-select button group](https://elastic.github.io/eui/#/navigation/button#button-groups) for this:
![Kapture 2021-03-08 at 09 27 30](https://user-images.githubusercontent.com/20965076/110295004-e1acaa00-7ff0-11eb-8c1e-50c3d75fcd4e.gif)

I don't think that showing the selection in

[2021-03-08 08:50] axw commented on #89829
Also I wonder if we could make that code a bit more robust to changes in the types? I barely know TypeScript so I don't know if this is possible, but it would be nice if when RegistryInput etc. changed (namely, fields added) the type checker would complain about dropped fields.

[2021-03-08 09:14] karanbirsingh-qasource commented on #92004
Thanks @michaelolo24 for the update.

we have validated this issue on 7.12.0 BC3 and found it Fixed. Now Right Detail Fly out opened correctly on mac safari and Firefox browser.

**Build Details:**
[code]

Snap-Shoot:
- Safari **13.1.2 (13609.3.5.1.5)**
![image](https://user-images.githubusercontent.com/59917825/110300207-a031f400-801c-11eb-8e88-a408a7b022bb.png)
![image](https://user-images.githu

[2021-03-08 09:14] #92004 closed

[2021-03-08 09:17] formgeist opened #93901 "[APM] Add spacing between the navigation the "View correlations" button"
# Summary

The "View correlations" is aligned to the right of the navigation bar, but on smaller screens the pushes against the navigation. We should make sure that there's some space between like the tabs.

![image](https://user-images.githubusercontent.com/4104278/110300704-7a462880-7ff7-11eb-8768-40e062e2e07f.png)

[2021-03-08 09:17] elasticmachine commented on #93901
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:21] formgeist opened #93902 "[APM] Correlations flyout: Open docs in a new window and indicate by using the `external` prop on the EuiLink"
# Summary

We're link to the field documentation in the Customize fields section, but the link should open in a window and indicate this behaviour by adding the `external` prop on the `EuiLink`

![110013894-29c98500-7cf0-11eb-89fc-0ad312c0305b](https://user-images.githubusercontent.com/4104278/110300986-df9a1980-7ff7-11eb-8f90-790ef53ebe78.png)

[2021-03-08 09:21] elasticmachine commented on #93902
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:23] formgeist opened #93903 "[APM] Correlations: Show tooltip explaining the Impact indication in the table"
# Summary

Impact is also used in transactions, but in this case the Impact indication is something else. We should describe the definition and put it in a tooltip next to the Impact header label to explain this to users.

<img width="480" alt="Screenshot 2021-03-08 at 10 21 58" src="https://user-images.githubusercontent.com/4104278/110301340-41f31a00-7ff8-11eb-8dba-309a478adaed.png">

[2021-03-08 09:23] elasticmachine commented on #93903
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:25] #93379 closed

[2021-03-08 09:27] formgeist opened #93904 "[APM] Correlations: Rename Actions to Filter in the table and replace the icons"
# Summary

The column is only around filters, so we should rename the column label to "Filter". Secondly, we should update the icons to the `plusInCircle` and `minusInCircle` to make them consistent with other app usages.

_Discover example_

<img width="1048" alt="Screenshot 2021-03-08 at 10 25 10" src="https://user-images.githubusercontent.com/4104278/110301845-df4e4e00-7ff8-11eb-89d7-0fbb592ec4

[2021-03-08 09:27] elasticmachine commented on #93904
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:30] formgeist opened #93907 "[APM] Correlations: Allow users to focus on one of the items in the table"
# Summary

Currrently, we're indicating the selected item in the table on hover, but this doesn't allow the user to select a single item and inspect the breakdown within the visualization.

We should allow the user to click and select one of the items.

![2021-03-08 at 10 29 47 - Orange Coyote](https://user-images.githubusercontent.com/4104278/110302209-466c0280-7ff9-11eb-95a2-0ecae737da08.gif)

[2021-03-08 09:30] elasticmachine commented on #93907
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:31] katrin-freihofner commented on #93873
There are a couple of things that I hope we can improve on this table as we move to a shared component. I ordered them according to what I think of as the highest priority. cc @lindseypoli @mdefazio

1. Table actions
I don't think that these icon buttons are self-explaining. I even wonder if we could apply the same UX as we already established in [EUI data grid](https://elastic.github.io/eui/#/tab

[2021-03-08 09:34] formgeist opened #93908 "[APM] Disable hiding the single series when toggling the legend items"
Blocked by https://github.com/elastic/elastic-charts/issues/1055

# Summary

The user can toggle the visibility in the chart even when there's only a single series available which will render the empty state. It's not really useful to hide all series, so the Charts team is working on disabling toggling when there's a only a single series available.

![2021-03-08 at 10 31 26 - Rose Mockingbird](htt

[2021-03-08 09:34] elasticmachine commented on #93908
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 09:38] jloleysens opened #93909 "[Console] Use of localStorage"
Console uses `localStorage` to persist the current user's inputted text and last 500 requests across usage sessions. Use of `localStorage` in this way has the following issues:

### **Security issue**

Shared between all users of the browser instance. The degree to which this is a problem depends on the sensitivity of the text stored and who has access to the computer and browser.

### Storage iss

[2021-03-08 09:38] elasticmachine commented on #93909
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-03-08 09:43] amolnater-qasource opened #93910 "[Default Policy Specific]: Error in agent installed with Default policy having System and Endpoint Integration."
**Kibana version:** Kibana: 7.12.0 Snapshot Cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**

1. 7.12.0 Snapshot Cloud environment should be available.
2. RDP Test signing should be "ON".
3.  Agent must be installed with **default policy having System(v 0.10.9) and Endpoint Security(v 0.18.0) Integration**.

**Actual Result:**
- Age

[2021-03-08 09:44] amolnater-qasource commented on #93910
@manishgupta-qasource Please review.

[2021-03-08 09:56] pheyos opened #93911 "[ML] Show missing job warning also for viewer users"
### Current behavior

A user with ML viewer permissions only will see `403 - Forbidden` errors for the `initialize?simulate=true` in the network tab and browser console while staying on the jobs list page. As a result, such a user would not be notified about missing jobs that need to be synchronized.

### Enhancement request

While such a user can not trigger the `sync` for missing jobs, it would

[2021-03-08 09:56] elasticmachine commented on #93911
Pinging @elastic/ml-ui (:ml)

[2021-03-08 09:59] flash1293 opened #93912 "[Lens] Restructure top values dimension editor"
Remove the slider from "Number of values" field in "Top value" functions (as it is not useful for precision control and potentially confusing as 100 isn't the maximum limit)

![image](https://user-images.githubusercontent.com/3884767/109995927-ba966580-7cdc-11eb-9415-50b31ace13e4.png)

Move the "Advanced" buttons to the bottom left of the gray container

![image](https://user-images.githubusercont

[2021-03-08 09:59] elasticmachine commented on #93912
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 10:02] manishgupta-qasource commented on #93910
Reviewed & assigned to @EricDavisX

[2021-03-08 10:31] afharo commented on #93582
@tsullivan thank you for bringing to our attention the RFC. I personally recall reading through it long ago, but I missed to see it from the Telemetry POV.

I added a comment suggesting if we can do something at the routing level. I wonder if we can set specific plugins (like Newsfeed, Usage Collection, Telemetry, and any other with similar approaches) to simply not be loaded when in "Print/Screen

[2021-03-08 10:38] manishgupta-qasource commented on #93910
This issue is only occurring with Default Policy

[2021-03-08 10:51] flash1293 commented on #93412
@anish-khanna Sure, thanks for participating! I'll assign the issue to you, let me know if you can't work on it anymore.

[2021-03-08 10:55] kibanamachine commented on #93890
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12295/)

[2021-03-08 10:58] Kerry350 opened #93914 "[Logs UI] Categories page UI / UX improvements."
These are some UI / UX improvements we can make to the categories page, noted via https://github.com/elastic/kibana/issues/92396#issuecomment-788178713

This fix should also ensure the log entry example columns still line up with the primary table columns.

(It's possible there isn't much we can do here due to how table columns decide their overall width).

[2021-03-08 10:58] elasticmachine commented on #93914
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-08 11:00] Kerry350 commented on #92396
#93594 is filed for the log line accessibility. And #93914 is filed for the other minor improvements. There aren't any regressions or major blockers for 7.12 though, so this _should_ be okay to close now.

Would you mind double checking this one? "Tooltip" might be misleading here. It's not an `EUITooltip` but rather a `title` attribute on the very last `span` (the ellipsis). So you might need to

[2021-03-08 11:00] Dosant commented on #93772
@streamich,

This was my impression, yes.
If we get a saved object in a shape we don't expect (corrupted), then wouldn't it make sense to fail earlier pointing that something is wrong with that object and it should be reviewed (fixed / deleted).
For example. I think it is current to throw on error during `JSON.parse`

Otherwise, most likely that dashboard won't work as was intended in runtime, and

[2021-03-08 11:04] pgayvallet commented on #68626
Summary of the preliminary investigation (see the POC PR: https://github.com/elastic/kibana/pull/93380)

## Architecture summary

In 'classic' mode, the Kibana server is started in the main NodeJS process.

<img width="442" alt="Screenshot 2021-03-03 at 16 52 50" src="https://user-images.githubusercontent.com/1532934/110306045-a95f9880-7ffd-11eb-8957-a17e8599ad2c.png">

In clustering mode, the mai

[2021-03-08 11:09] flash1293 commented on #91519
@Dosant I checked this and the data source changes because "refresh" also refreshes the field existence. But I don't think it's triggering an expression refresh (I checked that and can't reproduce).

I reproduced the originally stated issue of "update" happening twice on dashboard

[2021-03-08 11:10] muskangulati-qasource commented on #87995
Hi @kevinlog,

We tested this ticket on the latest 7.11.2 BC Build and here are our observations:

**Build Details**
Upgrade from 7.10.2 --> 7.11.2

**Observations**
- 7.10.2:
![7 10 2](https://user-images.githubusercontent.com/60252716/110309699-ad081500-8027-11eb-8d1d-6f3b16fcfad6.PNG)

- Upgrading the env from 7.10.2 to 7.11.2:
![upgrade](https://user-images.githubusercontent.com/60252716/11030

[2021-03-08 11:15] flash1293 commented on #91519
@Dosant I know why this is happening, but I don't know the best fix.
First: I think in the editor everything's working fine already (besides the currentNow/sessionId thing to make request cancelation work as expected)

On the dashboard, if "refresh" is pressed, then the Lens embeddable tries to render twice:
* Once because the session id changes https://github.com/elastic/kibana/blob/e9e7453e1dd67

[2021-03-08 11:20] flash1293 commented on #93747
I added this to https://github.com/elastic/kibana/issues/93265

[2021-03-08 11:39] kevinlog commented on #87995
@muskangulati-qasource there is nothing to prevent the user from updating the role again - they are allowed to if they would like.

However, based on your observations, I don't think you visited the Fleet page again.  You will need to do so in order for the `fleet_enroll` role to update properly.

Apologies as the initial steps were not clear enough on my end.

Can you try this?

1. Start with a 7

[2021-03-08 11:52] walterra opened #93919 "[ML] Transforms Validation"
https://github.com/elastic/elasticsearch/pull/68396 introduces header warnings for the `_preview` endpoint. This can be used to provide hints to users in the Transforms creation wizard. Possibly as an extra validation step or as part of the preview table.

Examples for warnings:

- Warning if all fields in the group_by are runtime fields (or script based, which is very similar). That means an ordi

[2021-03-08 11:52] elasticmachine commented on #93919
Pinging @elastic/ml-ui (:ml)

[2021-03-08 11:53] karanbirsingh-qasource commented on #93774
Thanks @peluja1012 for drafting very detailed steps for issue reproducibility.

we have validated this issue on deploying the 7.11.0 Cloud build and after performed then mentioned steps to get partial failure and upgrade the cloud build to 7.11.2 BC1.

We have found that Error prompt mentioned in last steps is **not occuring** on 7.11.2 after upgrade. Issue is Fixed 🟢

![image](https://user-images

[2021-03-08 11:55] mikecote commented on #93826
+1 to this so it's easier for us to support/understand if this is the case.

I wonder how this would impact the `runNow` capabilities?

[2021-03-08 12:11] Kerry350 commented on #92246
LGTM against BC3 on Cloud.

[2021-03-08 12:11] #92246 closed

[2021-03-08 12:18] stratoula opened #93921 "[Visualize] Support runtime fields editor"
I have gathered here the way that Visualize works currently with the runtime fields editor.

1. Vega and Timelion are not going to support them so no problem here.

2. Right now, TSVB doesn't support them, we should track this [here](https://github.com/elastic/kibana/issues/82438)

3. Create a viz with a runtime field and them remove the field
- The listing page works as expected
- When I click on

[2021-03-08 12:18] elasticmachine commented on #93921
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 12:19] sqren commented on #93420
Thanks @axw, much appreciated! This provides some great pointers for what to do next

[2021-03-08 12:21] Dosant commented on #91519
@flash1293, I didn't look into the dashboard yet, my latest digging including https://github.com/elastic/kibana/pull/93410 troubleshooting is only related to lens editor for now

By expression refresh, I meant that reference to the `expression` changes: https://github.com/elastic/kibana/blob/96c360b81d2c6800bd80703023386d0361f5cdef/x-pack/plugins/lens/public/editor_frame_service/editor_frame/works

[2021-03-08 12:22] karanbirsingh-qasource commented on #93563
Hi @cnasikas

we have validated this issue on deploying the 7.10.0 Cloud build and after created all available connector [ jira , ibm , ServiceNow]and upgrade the build to 7.11.2 BC1.

On 7.11.2 BC1 Environment we did **not observed any Error prompt** while using existing created connector [ that have old filed mapping] and user is successfully able to set them as Rule Action and also to push the

[2021-03-08 12:30] dakrone commented on #93618
Once the validation is in (and even before then!) the UI should warn the user if they specify a time for a phase that is < the previous phase's time.

[2021-03-08 12:40] sorantis opened #93922 ""Run when" dropdown not scrollable"
**Kibana version:**
7.11

The "Run when" dropdown when expanded doesn't change its position when the alert flyout is scrolled.

![image](https://user-images.githubusercontent.com/1685068/110322590-a66fa280-8013-11eb-95db-1cec3a6497a2.png)

[2021-03-08 12:41] elasticmachine commented on #93922
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-08 12:48] stratoula opened #93924 "[Visualize] User should be able to edit a broken visualization from a runtime field that doesn't exist anymore"
**Describe the feature:**
The new runtime fields editor has been merged and gives the users the ability to create new fields.
![image](https://user-images.githubusercontent.com/17003240/110323067-b93aa500-801c-11eb-98a7-5d40418b6d7b.png)

The user can create a visualization with this new field. But these fields are expected to change a lot. So when a user deleted the field, the visualization shoul

[2021-03-08 12:48] elasticmachine commented on #93924
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 12:49] flash1293 commented on #91519
@Dosant Ah, got it, good catch. I missed the 5s delay. So there are 3 things we have to fix (that we know of)
* Use `sessionId` for resetting time filter
* Do not render twice in embeddable (once because reload is called, once because session id gets reset)
* Do not re-run the expression just because the datasource state is set

The first one you fixed on your PR I believe. For the second and thir

[2021-03-08 12:51] pheyos opened #93925 "[ML] Single metric viewer doesn't reload real-time data"
**Found in version**
- 8.0.0

**Browser**
- Chrome

**Steps to reproduce**
- For a real-time job with incoming data open the single metric viewer
- In the time picker set the end date to `now`
- Wait some time for new data to come in
- Click `Refresh`

**Expected result**
- The single metric viewer is updated with the latest data

**Actual result**
- The single metric viewer is only updated for a

[2021-03-08 12:51] elasticmachine commented on #93925
Pinging @elastic/ml-ui (:ml)

[2021-03-08 12:52] MadameSheema commented on #93563
@karanbirsingh-qasource the fix is on BC2, not BC1.

The error message is displayed when you edit the action on 7.11.2.

Can you please check if you are able to reproduce the issue and check the fix on BC2? Thanks

[2021-03-08 12:55] skh opened #93926 "[Fleet] Handle invalid YAML string values at API level when adding / editing integrations in policies"
Currently, when an invalid YAML string value to be used in a policy is sent to the `/api/fleet/package_policies` endpoint, the response contains the raw error from the YAML parser. As an example, this request, adding `nginx` to the existing policy with id `e233dc90-800a-11eb-b84c-bfaec6f37113`:

[code]
(note the `"*foo"` in the value for `"server_status_path"`) will result in the error
[code]
A va

[2021-03-08 12:55] elasticmachine commented on #93926
Pinging @elastic/fleet (Team:Fleet)

[2021-03-08 13:00] amolnater-qasource opened #93927 "Agent goes offline permanently on updating Kibana URL from valid to invalid and then invalid back to valid under Settings tab."
**Kibana version:** Kibana: 7.12.0 Snapshot Cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**

1. 7.12.0 Snapshot Cloud environment should be available.
2. RDP Test signing should be "ON".
3. Few agents must be installed with "Healthy" status.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Navigate to Fleet> Agents tab.
3

[2021-03-08 13:00] #93398 closed

[2021-03-08 13:01] stratoula opened #93928 "[Visualize] User should be able to edit a broken visualization from a runtime field that has changed its type"
**Describe the feature:**
With the new runtime fields editor, the users can create new fields. Each time a field is created the user configures its type.

The user can create a visualization with this new field. But these fields are expected to change a lot. The users could for example change the fields' type (i.e. from double to string). This means that if the visualization is based on this field

[2021-03-08 13:01] elasticmachine commented on #93928
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 13:01] amolnater-qasource commented on #93927
@manishgupta-qasource Please review.

[2021-03-08 13:14] elasticmachine commented on #93891
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-08 13:15] elasticmachine commented on #93887
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-03-08 13:18] manishgupta-qasource commented on #93927
Reviewed & Assigned to @EricDavisX

[2021-03-08 13:24] stratoula opened #93931 "[Visualize] Runtime field popularity should be respected on the editor's fields list"
**Describe the feature:**
With the new runtime fields editor the users, among other things, can define the popularity of this field. The higher the popularity, the higher this field should appear on the fields list. This setting should also be respected on the vis editor and the fields lists. Right now, the fields are sorted alphabetically.

![image](https://user-images.githubusercontent.com/17003

[2021-03-08 13:24] elasticmachine commented on #93931
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 13:24] stratoula commented on #93921
I have created separate issues for the above:

- [ ] Visualizations with deleted fields should be editable https://github.com/elastic/kibana/issues/93924
- [ ] Visualizations with fields that have changed their initial type should be editable  https://github.com/elastic/kibana/issues/93928
- [ ] Runtime field popularity should be respected https://github.com/elastic/kibana/issues/93931

[2021-03-08 13:29] cnasikas commented on #75622
@SHolzhauer Category and subcategory implemented in https://github.com/elastic/kibana/pull/90547. We fetch the values directly from ServiceNow.

[2021-03-08 13:34] #82457 closed

[2021-03-08 13:34] #82503 closed

[2021-03-08 13:34] #82513 closed

[2021-03-08 13:38] #93904 closed

[2021-03-08 13:38] #93902 closed

[2021-03-08 13:41] cnasikas opened #93936 "[Security Solution][Case] Support of web hooks"
Cases should consider supporting web hooks as connectors. This would allow users to push cases into external services that are not supported for the moment by Case or into custom deployments of their like.

[2021-03-08 13:42] elasticmachine commented on #93936
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-08 13:42] elasticmachine commented on #93936
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-08 13:49] sqren commented on #93443
@ogupte can you take a look?

[2021-03-08 13:53] sqren commented on #49647
The ability to customize apm indices will be removed starting in 8.0.

[2021-03-08 13:53] flash1293 opened #93938 "[Lens] Percentile rank function"
Similar to the percentile function there should be a percentile rank function

[2021-03-08 13:53] elasticmachine commented on #93938
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 14:00] pmuellr commented on #92166
Another idea - we have all these ["top-level" variables for mustache that are alert-related](https://github.com/elastic/kibana/blob/54e7734fe62f0b3c7be9dd4d4ef3f9851a195027/x-pack/plugins/alerting/server/task_runner/transform_action_params.ts#L54-L68):

- alertId
- alertName
- alertInstanceId
- alertActionGroup
- alertActionGroupName
- alertActionSubgroup
- spaceId
- tags
- state
- params

Perhaps

[2021-03-08 14:04] EricDavisX commented on #93910
I'm checking if the snapshot build had succeeded over the weekend for 7.12

[2021-03-08 14:07] EricDavisX commented on #93910
looks like we had builds on March 6, 7, and 8 that passed so the fix for Windows Agent should have been picked up.  This would appear to be new then?  And urgent still for 7.12 - the BC4 is being build shortly (next day or so?)

[2021-03-08 14:07] flash1293 opened #93940 "[Lens] Improve api docs"
Right now the Lens API docs are not very comfortable to use and should be cleaned up:
* Do not export internal things (e.g. `TopValuesResult` or `LensServerPlugin`)
* Add explanatory documentation to all exported types
* For each of the internal services (datasource, various visualization types), create a `public_types` file and move all exported types there. Re-export from the top level

[2021-03-08 14:08] elasticmachine commented on #93940
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 14:09] flash1293 opened #93941 "[Lens] Add option to include action menu in embeddable renderer"
The `EmbeddableComponent` of the lens plugin exposed an embeddable renderer which is easy to use in order to render a bare visualization. However a lot of features are encapsulated in the action dropdown menu. There should be a property to enable displaying all available actions in the consuming app (e.g. csv download)

[2021-03-08 14:09] elasticmachine commented on #93941
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 14:09] pmuellr commented on #93515
The event log indices `.kibana-event-log-7.x.y` are also ILM controlled.  I _assume_ that doesn't entail other complications.  We are also looking to make these indices a data stream at some point, but AFAIK there's isn't a big need for this ATM.

[2021-03-08 14:10] cauemarcondes opened #93942 "[APM] RangeId invalidates the dependencies of all useFechers."
It was added on the `useEffect` hook on `useFetcher` a new dependency called [rangeId](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/hooks/use_fetcher.tsx#L163) I think it was part of the rounding dates fix.

The problem with this is every time the refresh button is clicked it invalidates all dependencies because the rangeId is incremented, even when there was no change o

[2021-03-08 14:10] elasticmachine commented on #93942
Pinging @elastic/apm-ui (Team:apm)

[2021-03-08 14:11] cauemarcondes commented on #90813
New bug created https://github.com/elastic/kibana/issues/93942

[2021-03-08 14:13] ymao1 commented on #92166
@pmuellr I started down that path with this PR: https://github.com/elastic/kibana/pull/93836 using `rule` as the top level variable.

I didn't move all the variables under `rule.` but I think you're right that they should be. I will update the PR

[2021-03-08 14:23] stratoula commented on #93931
I am closing it, this setting is only for Discover

[2021-03-08 14:23] #93931 closed

[2021-03-08 14:28] nchaulet opened #93945 "[Fleet] POLICY_REASSIGN action"
Related to https://github.com/elastic/fleet-server/issues/84

The way we reassign an agent to a new policy is a little different than other fleet actions:
* we update the agent doc
* We currently use an action called `INTERNAL_POLICY_REASSIGN` that is handler in kibana checkin to refresh the agent and send a new policy to the agent

This is not handled by Fleet server and to simplify that we are g

[2021-03-08 14:28] elasticmachine commented on #93945
Pinging @elastic/fleet (Team:Fleet)

[2021-03-08 14:28] flash1293 opened #93946 "Dashboard and visualize legacy redirect drops query"
**Kibana version:** master

**Describe the bug:** The dashboard and visualize apps try to redirect legacy hash links which might be used in markdown visualizations or other means of adding links to a dashboard. However the redirect logic doesn't pass the hash query part of the URL to the redirect plugin, causing the redirected links to miss the query part (which might contain the app state)

**Ste

[2021-03-08 14:28] elasticmachine commented on #93946
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-08 14:28] elasticmachine commented on #93946
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 14:29] Bamieh commented on #68626
@pgayvallet Thank you for this awesome write up!

For telemetry we have two main areas affected by enabling clustering:

1. Server side fetcher: The `telemetry/server/fetcher.ts` will attempt sending the telemtery usage multiple times once per day from each process. We do store a state in the SavedObjects store of the last time the usage was sent to prevent sending multiple times (although race co

[2021-03-08 14:29] nchaulet commented on #92621
The semver problem should be fixed by https://github.com/elastic/kibana/pull/93696

[2021-03-08 14:34] vxavictor513 commented on #49647
@sqren: Is there any particular reason?

[2021-03-08 14:36] peteharverson commented on #77462
Re-tested this with 7.12.0 against a large Nginx dataset which used a `date_histogram` group-by on a runtime field defined in the ES mappings and did not see the 500 internal server error on preview, but the request can take several minutes to return, during which the preview table is empty.

For 7.13.0 https://github.com/elastic/elasticsearch/pull/68396 has introduced header warnings for the `_pr

[2021-03-08 14:39] cnasikas commented on #93588
I think we can consider this issue as an enhancement and not a bug. It is a feature we do not support at the moment.

[2021-03-08 14:44] afharo commented on #68626
I'll add to @Bamieh's comment another use case for telemetry: rollups (I don't know if it was considered in point 2.) :)

[2021-03-08 14:44] joshdover commented on #84141
@rudolf Should we close this issue?

[2021-03-08 14:45] nreese commented on #93767
Closing issue since is a question. In order to maintain our issue list, please ask questions on the [forum](https://discuss.elastic.co/c/elastic-stack/kibana)

[2021-03-08 14:45] #93767 closed

[2021-03-08 14:46] blakerouse commented on #93910
We need to improve that log message to include the output of the executed command so we can see the true error. At the moment this is too vague for us to really know why Endpoint is failing to run.

[2021-03-08 14:46] mdefazio commented on #93873
Great points @katrin-freihofner , thanks for putting this together. In regards to your 1st point, are there downsides to switching to the EuiDatagrid?  Perhaps doing so solves a few of these issues right out of the box (accessibility, responsiveness).  Or do we simply take the Datagrid control bar and place it above the table?

[2021-03-08 14:56] pmuellr commented on #90377
re: https://github.com/elastic/kibana/pull/93943

I'm curious about the changes of `BASE_ALERT_API_PATH` -> `LEGACY_BASE_ALERT_API_PATH` in places like the examples and `triggers_actions_ui`.  We'll need to change these later to the non-legacy base path, but also presumably the subsequent route-specific paths (and params) will need to change as well.  Is this all going to happen in the feature bra

[2021-03-08 14:56] afharo commented on #68626
Regarding routing, I'd like to add another use case: from time to time, we reconsider adding support to websockets in Kibana. When running an API in `cluster` mode, it requires some tweaks to the HTTP server, one of them is handling _sticky-connections_.

This changes the way the HTTP server is bootstrapped: The coordinator opens the port and adds a piece of logic to pick up the worker that should

[2021-03-08 14:58] felixbarny commented on #93420
Just to make sure we're aligned on the next steps. Let me know if I missed anything.

* 7.13: this issue ensures we have agent installation instructions for APM Server under Elastic Agent on cloud which will launch as beta in 7.13. The add data page will work for both the traditional APM Server on cloud, as well as Agent managed APM Server on cloud.
* 7.13: we're doing a design phase for adding ag

[2021-03-08 14:58] simitt commented on #49647
@sqren there will still be the option to set a custom `namespace`, leading to dedicated data streams.
The datastreams are built `"%{[data_stream.type]}-%{[data_stream.dataset]}-%{[data_stream.namespace]}"` where `data_stream.namespace` will be configurable. Not certain if that impacts the decision to close this issue.

[2021-03-08 15:09] #91979 closed

[2021-03-08 15:21] simitt commented on #89989
adding @felixbarny' s comment from  https://github.com/elastic/kibana/issues/88659#issuecomment-790670245:

[2021-03-08 15:29] cjcenizal commented on #93887
@mistic I don't believe this is owned by ES UI. I think this should be Kibana App.

[2021-03-08 15:29] elasticmachine commented on #93887
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 15:30] elasticmachine commented on #93887
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-08 15:30] simitt commented on #89989
Apologies for the confusion on https://github.com/elastic/kibana/issues/88659#issuecomment-790806361. The comment should actually be moved over to this issue, so citing our conversations here:

@simitt (4/3/2021 18:53 CET):

@felixbarny (5/3/2021 08:50 CET):

@simitt (5/3/2021 10:30 CET):

@felixbarny (5/3/2021 10:42 CET):

@felixbarny (8/3/2021 15:58 CET):

[2021-03-08 15:32] alisonelizabeth opened #93952 "Enhance Painless autocomplete suggestions with javadocs"
## Problem
The Painless autocomplete feature implemented with the monaco editor only includes the method definition in the suggestion description. While this is helpful, it is incomplete, and there is room to improve the experience for users who are not Painless experts.

Example of current functionality:

<img width="845" alt="Screen Shot 2021-03-03 at 11 40 21 AM" src="https://user-images.github

[2021-03-08 15:34] simitt commented on #93420
update: I deleted a bunch of comments on this issue and moved them over to https://github.com/elastic/kibana/issues/89989#issuecomment-792833445. Apologies for this mess!

[2021-03-08 15:36] mikecote commented on #90377
The latter, we have a separate issue to move our code to use the new APIs -> https://github.com/elastic/kibana/issues/90381. The reason for the split is to break down the work and to have the new APIs as soon as we can so we can ask the teams to convert their code ASAP.

I plan to follow how @gmmorris did it for the connectors in PR: https://github.com/elastic/kibana/pull/92451.

[2021-03-08 15:40] tylersmalley commented on #10908
We're closing in favor of https://github.com/elastic/kibana/issues/69706 where we are specifically tracking migrating to Bazel.

[2021-03-08 15:40] #10908 closed

[2021-03-08 15:47] flash1293 opened #93954 "Canvas: Fullscreen mode doesn't exit on history navigation"
**Kibana version:** master

**Describe the bug:** On entering the fullscreen mode in Canvas, it's possible to navigate back in history which will bring the user to another app, but the chrome will still be disabled

**Steps to reproduce:**
1. Go to a canvas workpad
2. Enter fullscreen mode
3. Go back a few times
4. Previous app is shown without chrome

**Expected behavior:**
Previous app should be

[2021-03-08 15:47] elasticmachine commented on #93954
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-08 15:54] kertal commented on #11436
This is the current state, so if there's no default index pattern, the first one of the list is being chosen as default.

Here is the code:

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/plugins/data/common/index_patterns/index_patterns/ensure_default_index_pattern.ts#L22-L45

Tested by installing our 3 demo data sets, uninstalling the first one (which was def

[2021-03-08 15:54] #11436 closed

[2021-03-08 15:54] nickofthyme commented on #10726
Opened an issue here https://github.com/elastic/elastic-charts/issues/1061

[2021-03-08 16:11] elasticmachine commented on #93895
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-08 16:13] dhurley14 commented on #93333
Fixed here: https://github.com/elastic/kibana/pull/93506

[2021-03-08 16:13] #93333 closed

[2021-03-08 16:14] katefarrar opened #93957 "[Metrics UI] Clicking on a node in Inventory table view doesn't open node details panel"
In the Inventory view when viewing Hosts, if a user switches from table view to waffle map and then clicks on a node, the Host details popover opens instead of the Host details panel.

<img width="890" alt="Screen Shot 2021-03-08 at 9 13 45 AM" src="https://user-images.githubusercontent.com/455281/110348189-9b564b80-7fee-11eb-92c1-cccf8710fa89.png">

Video for more details: https://www.loom.com/sh

[2021-03-08 16:14] elasticmachine commented on #93957
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-08 16:15] #60584 closed

[2021-03-08 16:20] paul-tavares commented on #90513
FYI - Wanted to document this here so that it does not get lost from conversations/slack.

## Endpoint Security still needs a feature flag

We're in a in-between state of Kibana -vs- fleet-server for how agents are enrolled managed, and thus until fleet server is integrated with Kibana CI (its not yet, right?) and we are fully moved over to it, Endpoint Security will still need to maintain the fol

[2021-03-08 16:22] tylersmalley commented on #93795
Operations to-do short-term:
- Create CI jobs to create pull request with changes

---

No longer commit docs to the repository

- Docs need a way to reference these docs - would they be in another repo, bucket, etc?
- CI will need to continue to build docs to ensure there are no failures
- Future: need a way for the PR to know what public interfaces changed.

_or_

Reduce information included in

[2021-03-08 16:26] flash1293 opened #93960 "Change getDateMeta to store interval in custom param"
`getDateMeta` is a helper to extract the used date histogram of an aggregation out of the data table. It uses the fact that the applied time range is part of the meta data and does the same interval calculation as happening within agg configs.

A cleaner approach is to use a parameter which only gets serialized on the agg config which can easily read without requiring all of the actual logic (like

[2021-03-08 16:26] elasticmachine commented on #93960
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-08 16:33] stacey-gammon opened #93962 "Commit updated API docs on every commit."
There is currently no requirement that API docs get committed on every PR.  For a brief amount of time it was required but ended up slowing developers down.

The Ops team has some ideas for how to commit the results of the command (which is run as part of ci anyway) to GitHub without requiring developers to manually run it.

cc @elastic/kibana-operations

[2021-03-08 16:38] #93621 closed

[2021-03-08 16:39] stacey-gammon commented on #93795
Issue for automatically creating the PR to update API docs - https://github.com/elastic/kibana/issues/93962

In the meantime, @spalger will remove the build step and I'll handle updating API docs manually.

[2021-03-08 16:43] pmuellr commented on #68626
I'm not sure alerting itself is affected, but presumably task manager is, and so alerting (and other things) are indirectly affected via task manager.  I'll just focus on task manager here.

Currently task manager does "claims" for jobs to run based on the server uuid.  I _think_ this would still work with workers - each task manager in the worker would be doing "claims" for the same server uuid,

[2021-03-08 16:54] #82749 closed

[2021-03-08 17:02] sgrodzicki commented on #92167
@igoristic @simianhacker @weltenwort did you add everything you were working on to the test plan? If so, please tick the checkbox. :)

[2021-03-08 17:07] simianhacker commented on #92167
@simianhacker All my stuff was covered by other tests :D

[2021-03-08 17:07] #90308 closed

[2021-03-08 17:13] flash1293 opened #93969 "[Lens] Filter action on other doesn't handle (empty) correctly"
**Kibana version:** master

**Describe the bug:** If the empty string is part of a top values function, filtering on the "other" bucket won't work correctly because empty string is replaced by `"(empty)"`

**Steps to reproduce:**
1. Install sample logs data
2. Go to Lens
3. Use `extension.keyword` in a top values function
4. Filter the other bucket
5. The empty string is not filtered, but `"(empty

[2021-03-08 17:13] elasticmachine commented on #93969
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 17:14] pmuellr commented on #93729
FWIW, the bootstrapping of the current event log takes place here - https://github.com/elastic/kibana/blob/master/x-pack/plugins/event_log/server/es/init.ts

There's one thing we haven't done, keep forgetting to do this - because we're always writing to an alias, we should use the [`require_alias` option](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html) when indexi

[2021-03-08 17:17] ryankeairns commented on #72584
I see Devon gave a 👍 , and I'm honestly not clear on the issue. I see the overlapping filters, and am curious about why they're considered 'lost', but yeah... short of more information, I'll defer to Devon's reply.

[2021-03-08 17:18] gmmorris opened #93970 "Update Elastic Glossary to reflect new Alerting terminology"
This is part of https://github.com/elastic/kibana/issues/90375, which summarizes the new terminology to use in Kibana alerting.

This issue covers the update to the Elastic Glossary: https://www.elastic.co/guide/en/elastic-stack-glossary/current/terms.html.

We'll ned to update:

1. alert (rename to _rule_, though it might be worth syncing with ml as I can also see a term _custom rules_ which coul

[2021-03-08 17:21] #76811 closed

[2021-03-08 17:21] pmuellr opened #93971 "[event log] use `require_alias` when indexing event log documents"
In the past, when our [event log bootstrapping code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/event_log/server/es/init.ts) was not robust enough, we would occasionally have Kibana start with the event log alias not set up, and then subsequent [indexing of events](https://github.com/elastic/kibana/blob/b8df640c95885e6acf45cf3a459188e71cd2c486/x-pack/plugins/event_log/server/es/c

[2021-03-08 17:21] elasticmachine commented on #93971
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-08 17:21] elasticmachine commented on #93970
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-08 17:25] MadameSheema commented on #92384
@karanbirsingh-qasource can you please validate this issue on 7.12 BC4? Thanks :)

[2021-03-08 17:26] #72985 closed

[2021-03-08 17:26] ryankeairns commented on #80514
+1 to Alex's suggested approach. This will be our first real tour (aside form single step uses) so there likely will be some technical PoC-style work here. Focusing on the existing component and working toward a contained (i.e. within Discover) tour seems like a good place to start. Switching to another design/page layout will start us back at square one.

To get this moving, I would propose havin

[2021-03-08 17:27] MadameSheema commented on #91936
@karanbirsingh-qasource can you please validate the fix of this issue on 7.12BC4? Thanks :)

[2021-03-08 17:33] ThomThomson commented on #72584
Basically, filters added when editing a dashboard don't carry over when you navigate to another app e.g. via the edit link. This is intended, as _pinned_ filters will properly carry over. If we retained unpinned filters, it could lead to even more confusion and a greater risk of saving a visualization with unintended filters. This is why I was in favour of closing this issue.

[2021-03-08 17:36] elasticmachine commented on #93897
Pinging @elastic/kibana-security (Team:Security)

[2021-03-08 17:37] elasticmachine commented on #93898
Pinging @elastic/kibana-security (Team:Security)

[2021-03-08 17:47] cchaos commented on #93477
Yeah all the default theme empty buttons have pretty poor focus states. We've been concentrating on better focus states for the Amsterdam theme (K8) which add a much better focus ring with higher contrast.

![Screen Recording 2021-03-08 at 12 42 11 PM](https://user-images.githubusercontent.com/549577/110359653-bedbbf00-800b-11eb-8327-01d0d407a49d.gif)

The question then is, do we need to retroacti

[2021-03-08 17:53] bvader opened #93976 "[Feature : Filters] Filter value suggestions disappear if searched text not at beginning of value"
**Stack version:** 7.11.1

**Browser version:**  Latest Chrome / FFox

**Original install method (e.g. download page, yum, from source, etc.):** Cloud, Self Managed

**Describe the bug:**
Filter on Discover, Lens etc.
When searching for for a value in the value field, the search finds / suggests the values but if the search text is not at the beginning of the value, the suggestions disappear in ab

[2021-03-08 17:56] EricDavisX commented on #93927
I don't think this is needed for 7.12 but I am curious if it worked prior (maybe the Fleet Server related changes broke this?).  @amolnater-qasource can you check on a 7.11 server to see if it worked prior?

@ph I do think we'd want this fixed by GA, perhaps 7.13 is good to target for bug-fixing.

[2021-03-08 17:56] mikecote commented on #90375
Another question came to mind: should we go through our open issues and change the terminology?

[2021-03-08 17:56] elasticmachine commented on #93927
Pinging @elastic/fleet (Team:Fleet)

[2021-03-08 18:02] gchaps commented on #80514
docs wrote some copy a while based on an early protoype of the `EuiTour` in Discover. We can start there and iterate on it with @shaunmcgough.

[2021-03-08 18:03] #89999 closed

[2021-03-08 18:05] jportner commented on #93897
[GitHub issues should only be opened for enhancement requests or bug reports (with steps to reproduce). Questions should be posted to the Kibana Discuss forum.](https://github.com/elastic/kibana#questions-problems-suggestions).

----

If you are seeing a session expired message (e.g., you got kicked to the page `/login?next=...&msg=SESSION_EXPIRED`), in Kibana 7.7 it could be caused by two differe

[2021-03-08 18:05] #93897 closed

[2021-03-08 18:08] shaunmcgough commented on #80514
I am a fan of the approach, and view this as best in stages. We can get the user to find results quick, and then get them to act on them in the next round. I agree we should use the existing tour stuff, or prior art. Graph also does this concept well (like Lens).

[2021-03-08 18:10] jportner commented on #93898
[GitHub issues should only be opened for enhancement requests or bug reports (with steps to reproduce). Questions should be posted to the Kibana Discuss forum.](https://github.com/elastic/kibana#questions-problems-suggestions).

----

You indicated in your other issue (#93897) that you are running Kibana 7.7.0. We have made huge improvements in newer versions of Kibana, the most notable being in [

[2021-03-08 18:10] #93898 closed

[2021-03-08 18:18] estermv commented on #90311
Kibana already comes with APM. To enable it, we need to add a `config/apm.dev.js` with the following content:
[code]

I was able to setup a local kibana connected to the performance cluster and send some data to APM:
<img width="1343" alt="Screenshot 2021-03-08 at 19 16 24" src="https://user-images.githubusercontent.com/2249229/110363418-d5513d00-8042-11eb-87d5-05f2f0927579.png">

[2021-03-08 18:22] estermv opened #93982 "[Metrics UI] Gather baseline performance data for kubernetes pods in metrics"
Record baseline transactions with the current version of Kibana for the existing code with a few of the volume levels. We want to know how long it takes for the `api/metrics/snapshot` to complete and then change the `size` parameter of the composite aggregation to see how it affects the response time.

AC:
* We have the response time for the snapshot request for the following views:
  * 10 pods

[2021-03-08 18:23] elasticmachine commented on #93982
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-08 18:26] ph commented on #88956
Discussed over zoom:

- This is required to bootstrap apm-server.
- Build a service that receives an object that describes the state of the system for integration and agent policy.
- Refactor the current setup to use the service.
- Expose the service as a rest endpoint to be called by cloud.
- Evaluate if we need to expose it in yaml.

[2021-03-08 18:27] ph commented on #90410
@Zacqary you may want to follow this issue, its related to the bootstrap of integration and agent policy of Kibana.

[2021-03-08 18:39] simianhacker commented on #92215
I just re-tested this. Everything seems to work except when you have an anomaly row expanded, you can't use the keyboard to on the log message context menu because they ellipsis button isn't visible till you mouse over.

[2021-03-08 18:41] pmuellr commented on #90375
Maybe the titles?  But then the comments could be confusing, referencing the old terms, unless we changed those also.  And that seems like a LOT of work, to change all the comments.

I think I vote no for now.

[2021-03-08 18:42] simianhacker commented on #92382
Looks like the data stream is working now.

[2021-03-08 18:42] #92382 closed

[2021-03-08 18:53] ryankeairns commented on #72584
Got it, that makes sense to only carry over pinned.

[2021-03-08 18:54] simianhacker commented on #92396
Looks like the tooltip is working correctly:

![image](https://user-images.githubusercontent.com/41702/110367486-f3984800-8004-11eb-8b1b-b3d1034f3d27.png)

[2021-03-08 18:56] #92396 closed

[2021-03-08 18:57] simianhacker commented on #92661
We decided to pull this feature

[2021-03-08 18:57] #92661 closed

[2021-03-08 19:05] simianhacker commented on #92665
Looks like we are still waiting on BC4 to make sure the warning test conditions are removed when the threshold is removed.

[2021-03-08 19:06] simianhacker commented on #93078
I deleted the deployment but left the remote cluster. Which condition should we be testing for?

[2021-03-08 19:10] chrisronline commented on #93078
I can't reproduce this after following your steps. When I delete the other deployment, the cluster gracefully goes away on the next refresh of the SM UI.

Are you able to reproduce this consistently? Do these errors go away after a hard refresh of the UI, or do they persist no matter what you do?

[2021-03-08 19:13] cnasikas opened #93985 "[Security Solution][Case] Push button is not appearing after switching between connectors"
If you push a case to an external service and then switch the connector to another external service the push button is not appearing.

**Steps to reproduce:**

1. Create two connectors of different external services.
2. Create a case, select a connector, and push.
3. Switch to the other connector.

**Current behavior:**

The push button is not appearing.

**Expected behavior:**

The push button sh

[2021-03-08 19:13] elasticmachine commented on #93985
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-08 19:13] elasticmachine commented on #93985
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-08 19:19] pgayvallet commented on #93785
AFAIK not really, we could definitely use a hash-based nonce for the specific `bootstrap.js` need.

Note that I'm not sure this is really better, as we would have to expose an API inside core to allow addition of such `nonce-` when serving document requests, which doesn't necessarily sound more secure that a per-request generated value?

Also, as @legrego said, this seems way less generic and re-u

[2021-03-08 19:21] myasonik commented on #93477
Thanks!

I think it's ok to continue to focus on the new theme. We've got the toggle in advanced settings to switch themes so it's available if the focus states are an issue. Also it's at least solvable with a custom user stylesheet which, though I won't be recommending to anyone, is at least a possible workaround. _And_, with the plan to ship the new theme by default in 7.x, users won't need to g

[2021-03-08 19:21] #93477 closed

[2021-03-08 19:22] nickofthyme commented on #88693
Closing due to `vis_type_xy` plugin now replacing `vislib` cartesian charts

[2021-03-08 19:22] #88693 closed

[2021-03-08 19:45] pgayvallet commented on #93587
I've recently had to add some body classes for the header banner feature, in addition to the 'full height' / 'streight to height' mixin, so now is a good time to ask that 😅 .

https://github.com/elastic/kibana/blob/570dcc07b52245e44cd4b43679e839673b7c7eaa/src/core/public/_mixins.scss#L3-L4

So: the `chrome` service has the information of the currently mounted app, so yes, we could do that via the

[2021-03-08 19:51] #84141 closed

[2021-03-08 19:52] ph commented on #88956
@Zacqary @ruflin pinged me on thhis and suggested we start with the yaml format because once we have it we can't change it. I've updated the above list.

[2021-03-08 19:57] rudolf commented on #93772
Can't deep link to the paragraph but we have the following in https://www.elastic.co/guide/en/kibana/7.12/kibana-platform-api.html#_writing_migrations

[2021-03-08 19:58] smith commented on #90311
You can also specify `elastic.apm.active: true` in your kibana.yml, but due to a bug (#79490), it won't pick up the setting unless you pass `--config config/kibana.dev.yml` to the `yarn start` command. This is nice because you may want to enable or disable it depending on which cluster you're connecting to.

[2021-03-08 20:10] mostlyjason commented on #93315
@mukeshelastic do you mean it shows only the dynamodb metrics configuration is enabled and the rest of the options in metrics and logs are disabled?

I think the datastreams dashboards are defined at the package level, so they would see a list of all the AWS dashboards, of which dynamodb is one

[2021-03-08 20:13] sqren commented on #49647
Good point @simitt . I think I'll re-open this issue but rephrase it to be about supporting space awareness without mentioning index patterns.

[2021-03-08 20:20] mukeshelastic commented on #93315
That's right. Whatever user configured when they installed the integration initially is enabled.

That is right, Users will need to drill down from AWS dashboards into the dynamodb specific dashboard.

[2021-03-08 20:20] hbharding commented on #89442
I've been working on the Fleet Server onboarding UX https://github.com/elastic/kibana/issues/89396 and one of the last steps (for self-managed) is for the user to confirm the Fleet Server URL which will be used to enroll agents. I made a mockup for the Fleet Settings flyout and shared with @blakerouse and @nchaulet today. The idea is that after Fleet Server connects to ES, it will add its IP addre

[2021-03-08 20:21] jportner commented on #93785
I was suggesting using a hash _instead_ of a nonce, not a hash-based nonce. As described in the linked MDN page:

If you use a nonce, the HTTP server has to calculate a new nonce for _every single request_ and expose that for consumers (in this case the `RenderingService`) to insert it where the script is inlined.

With the hashing approach, consumers can independently define hashes for the script

[2021-03-08 20:31] cjcenizal commented on #93909
I believe this will be addressed in a centralized manner by the Core team via https://github.com/elastic/kibana/issues/17888.

[2021-03-08 20:43] wylieconlon opened #93998 "[Lens] Better handling of "too many buckets" error"
This is an error that is hard to test using small datasets, it's only an issue with large and high-cardinality data. For this reason I haven't been able to reproduce it in a while, and I think we will need to generate special data to test this issue.

Users can already get unpredictable but frequent query failures due to the 65k [`search.max_buckets`](https://www.elastic.co/guide/en/elasticsearch/

[2021-03-08 20:43] elasticmachine commented on #93998
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-08 20:43] wylieconlon commented on #93912
Are you proposing that we would allow users to type any number into the box? We already have an edge case here today, and this change could make it worse. I'm going to open up a new issue about this because it's something we already have a problem with, but maybe you can see if it's worth doing the work at the same time.

https://github.com/elastic/kibana/issues/93998

[2021-03-08 20:43] eddieturizo opened #93999 "Add input/output format to Bytes and Percentage field formaters"
**Describe the feature:** It would be useful to be able to have input/output formats for `Bytes` and `Percentages` as seen when selecting `Duration` in the field formatter for index patterns.

**Describe a specific use case for the feature:**

Values are ingested into Elasticsearch as a percentage but are not in decimal form (already multiplied by 100).
Values are ingested into Elasticsearch in ki

[2021-03-08 20:44] wylieconlon commented on #93998
To test this I used `metricbeat` data and added 3 random-value scripted fields, using this script:

[code]

[2021-03-08 20:50] #12751 closed

[2021-03-08 20:56] alisonelizabeth commented on #57656
I wanted to add that while the underlying code has been fixed, starting in `7.12`, we have decided to disable any Upgrade Assistant actions until the last minor before the 8.0 release. This was implemented via https://github.com/elastic/kibana/pull/92834.

[2021-03-08 20:56] alisonelizabeth commented on #40564
I wanted to add that while the underlying code has been fixed, starting in `7.12`, we have decided to disable any Upgrade Assistant actions until the last minor before the 8.0 release. This was implemented via https://github.com/elastic/kibana/pull/92834.

[2021-03-08 20:57] ThomThomson commented on #73046
I am unable to recreate this in Master, the compressed URL is retained throughout adding panels, editing panels etc. Will close for now, and we can reopen if this issue crops up again.

[2021-03-08 20:57] #73046 closed

[2021-03-08 20:59] nreese commented on #92909
Linking to lens issue about what to do about time picker when there is no default time fields https://github.com/elastic/kibana/issues/72502

[2021-03-08 21:27] pgayvallet commented on #68626
It seems all things registering task to the task manager are affected too, as the tasks are going to be registered multiple times?

Yea, mid/long term, this is the kind of architecture we'd like to go to. Shorter term, just executing the tasks on a single worker is probably good enough

This is still opened to discussion, see the `Workers error handling` section.

[2021-03-08 21:29] TinaHeiligers commented on #90279
@rudolf I need to connect with you regarding the scope of this work and when we can expect https://github.com/elastic/kibana/issues/86247 to be done.

[2021-03-08 21:34] jen-huang commented on #93315
FYI Kibana work on this is blocked until work is done to package registry: https://github.com/elastic/package-spec/issues/144

[2021-03-08 21:36] simianhacker commented on #80311
@sqren Is there a service exposed by APM that would allow us to do the query?

[2021-03-08 21:41] dplumlee opened #94011 "[Security Solution][Detection Rules] Rule details page activate switch doesn't display loading state"
We don't currently have a loading spinner that displays when a user activates/deactivates a rule from the rule detections page. This doesn't give the user any feedback of clicking on the button which is a problem for long load times where the user won't see the result until many seconds later, perhaps giving them the false impression that the task isn't occurring even though it is.

![Screen Shot

[2021-03-08 21:45] pgayvallet commented on #93785
The bootstrap script is not static though, as it depends on values of uiSettings that can be changed by the end users, so this assertion is unfortunately wrong.

[2021-03-08 21:58] jportner commented on #93785
Ah, thanks for clarifying. Maybe a Kibana-wide nonce would be easier, then!

[2021-03-08 21:59] IgorGuz2000 opened #94014 "[Security Solution] ServiceNow SIR: two observable fields are mixed to transfer the data to ServiceNow"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**
Kibana 7.12

**Browser version:**
Firefox 81.0.2

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
"Malware Hash" and "Malware URL" fields are mixed between each other when unchecking the field when  creation Case.

**Steps to reproduce:**
1.  Create Aler

[2021-03-08 21:59] elasticmachine commented on #94014
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-08 22:25] jen-huang commented on #89829
When I looked at the above code paths initially, it seemed like it would only get reached from installing a package by upload, but now I see that we use some of the validation functions when retrieving installed packages from ES storage too:

https://github.com/elastic/kibana/blob/2d109df88615db8ed3ce87121b4e8976327abb1c/x-pack/plugins/fleet/server/services/epm/archive/storage.ts#L235-L249

This l

[2021-03-08 22:33] pmuellr commented on #68626
For cases where tasks are scheduled at plugin startup, we have an API to ensure the task only gets scheduled once (one task document created) - `ensureScheduled()`.  We need that for multi-Kibana deployments anyway.  Other task usage, like scheduling an action to run when an alert is triggered, uses a different flow where a new task document is always created.  But those aren't a problem, because

[2021-03-08 22:46] mattkime commented on #92960
I suspect this is an underlying ES bug. Kibana fires off a request to `/_fields_for_wildcard` which is largely a proxy for https://www.elastic.co/guide/en/elasticsearch/reference/current/search-field-caps.html

[code]

are in contradiction as field caps isn't returning anything.

[2021-03-08 23:20] YulNaumenko opened #94021 "[Alerts][Actions] The Email connector stopped working after the upgrade Kibana from 7.10.1 to 7.11.1."
**Kibana version:**
7.11.1.

**Describe the bug:**

We have two customers reported about the problem with Email connector after upgrading from 7.10.1 to 7.11.1:

@maggieghamry
[code]

and

@predogma
[code]

[2021-03-08 23:26] kibanamachine commented on #93739
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12440/)

[2021-03-08 23:30] sqren commented on #80311
No we don't have anything. Something like this would probably be useful: 'getApmServiceInventoryUrl(rangeFrom, rangeTo, kqlQuery)`

[2021-03-08 23:32] jportner opened #94024 "Improve CORS response headers"
With the Kibana 7.11.0 release, we added more granular support for CORS settings, so users can control the `Access-Control-Allow-Origin` and `Access-Control-Allow-Credentials` response headers (#84316).

The [W3C CORS for Developers guide](https://w3c.github.io/webappsec-cors-for-developers/) contains advice for resource owners that we should follow. It's worth noting that [Kibana relies on HAPI t

[2021-03-08 23:32] elasticmachine commented on #94024
Pinging @elastic/kibana-core (Team:Core)

[2021-03-08 23:32] elasticmachine commented on #94024
Pinging @elastic/kibana-security (Team:Security)

[2021-03-08 23:41] elasticmachine commented on #93739
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-09 00:03] #88064 closed

[2021-03-09 00:09] #85118 closed

[2021-03-09 00:33] #75603 closed

[2021-03-09 00:33] #75605 closed

[2021-03-09 00:33] #87074 closed

[2021-03-09 00:37] cjcenizal commented on #93952
Note that a key aspect of this is that we'll be asynchronously loading the javadocs JSON. By retrieving this JSON via an HTTP request and simply rendering it for the user, we're adhering to the GPL, which covers the javadocs.

[2021-03-09 00:44] tylersmalley opened #94034 "[discuss] Use mapping aliases instead of relative imports between plugins"
In Bazel, relative imports will no longer work across plugin or package boundaries. One of the solutions we investigated in https://github.com/elastic/kibana/issues/91056 was using aliases. We would like to raise this as a solution and see if there are any objections to the proposed change.

For example, an existing import within `data` plugin importing from another plugin:

[code]

would become:

[2021-03-09 00:59] kiju98 opened #94035 "Documentation link for Uptime monitor status is broken"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Server OS version:** Ubuntu 14.04

**Browser version:** Chrome 89.0.4389.82 (Official Build) (64-bit)

**Browser OS version:** Ubuntu 14.04

**Original install method (e.g. download page, yum, from source, etc.):** download page

**Describe the bug:**
Documentation link for Uptime monitor status points to `https://www.elastic.co/guid

[2021-03-09 01:18] #91965 closed

[2021-03-09 01:49] spong commented on #93515
@kobelb, curious of what happens with user dashboards and such that have been built on these indices, will they continue to function regardless of option 1/2, or will they need to be updated as well?

And ++ @pmuellr's comment about `ILM`'s. We also have one configured for the `.siem-signals` index and will having one for the upcoming `.alerts` index as well.

[2021-03-09 02:31] spong opened #94041 "[RAC][Alert Triage] Field Hover Action"
## Description

This issue is for the generification of the `Field Hover Actions` component used within the Alert Triage workflow on the main Security Detections page and Rule Details page. The hover action is available on any field, and allows users a quick action for filtering, investing via timeline, viewing a quick top-n histogram for the given field, and for copying the field/value.

##### Me

[2021-03-09 02:32] elasticmachine commented on #94041
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 02:32] elasticmachine commented on #94041
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-09 02:32] elasticmachine commented on #94041
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-09 02:33] spong opened #94042 "[RAC][Alert Triage] Alert Details"
## Description

This issue is for the generification of the `Alert Details` component used within the Alert Triage workflow on the main Security Detections page and Rule Details page. The `Alert Details` component is displays

##### Icon on Alerts Table
<p align="center">
  <img width="300" src="https://user-images.githubusercontent.com/2946766/110408386-ad61d980-8042-11eb-9a91-8028e6f3eb5b.png" /

[2021-03-09 02:33] elasticmachine commented on #94042
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-09 02:33] elasticmachine commented on #94042
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-09 02:33] elasticmachine commented on #94042
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 02:33] elasticmachine commented on #94042
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-09 02:33] elasticmachine commented on #93873
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-09 02:33] elasticmachine commented on #93872
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-09 02:37] kibanamachine opened #94043 "Failing test: Jest Tests.src/plugins/vis_type_tagcloud/public/components - tag cloud tests should only send single renderComplete event at the very end, using 500ms timeout completeness should be ok"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/128/)

[2021-03-09 02:59] spong commented on #93728
Within the `.siem-signal` mapping we store the timestamp of the source event as `signal.original_time`. Whether or not this is the right spot, we definitely want to capture the original timestamp so we can easily calculate `MTTD` without a join (among other uses within dashboards, triage workflow, etc).

`Rule` is a copy of all the fields from the Rule at the time of execution, and serves as a sou

[2021-03-09 03:00] #90572 closed

[2021-03-09 03:12] yctercero commented on #93245
Hey team! Fix should be in, backporting to 7.x

[2021-03-09 04:14] elasticmachine commented on #94043
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-09 06:28] FrankHassanabad commented on #93549
@augustynd, have you used detection rule exceptions before?
https://www.elastic.co/guide/en/security/7.x/detections-ui-exceptions.html#detection-rule-exceptions

[2021-03-09 07:09] elasticmachine commented on #94011
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-09 07:14] pgayvallet commented on #68626
The 'main' process is the coordinator. It doesn't load plugins, nor even start an actual Kibana server, so this would not be possible. This is why the 'main worker' concept was introduced.

[2021-03-09 07:36] shahzad31 commented on #87564
Can we please prioritise this, this is one of the key feature for our page load distribution chart, which we are planing to implement via lens embeddable in https://github.com/elastic/uptime-dev/issues/46

[2021-03-09 07:37] amolnater-qasource commented on #93927
Hi @EricDavisX
As per feedback we have revalidated this issue on 7.11.1 Kibana cloud environment and found it **reproducible**.

**Invalid Kibana String used:**
https://security-deployment.kb.us-central1.gcp.foundit.no:924/

**Artifact link:** https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-7.11.1-windows-x86_64.zip

**Build details:**
BUILD: 37941
COMMIT: 348233f89825946d

[2021-03-09 08:23] cnasikas commented on #94014
Thanks @IgorGuz2000 . The labels are wrong in the UI. I am gonna push a fix.

[2021-03-09 08:46] shahzad31 opened #94052 "[Lens] Selected Chart types is hardly visibly in dark mode"
**Kibana version:**
In lens right side panel, user can select chart types from a quick menu, in dark mode, background color for selected chart type is too strong, i suggest use lighter background.

![image](https://user-images.githubusercontent.com/3505601/110443388-25201a80-80bc-11eb-9f19-1d25bf88a7ed.png)

[2021-03-09 08:46] elasticmachine commented on #94052
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-09 08:51] ruflin commented on #89442
Few thoughts:

* fleet-server should only report 1 thing, be it an IP or a url
* In case of multiple fleet-servers, can we require for now that they must be all behind a proxy or at least all must be accessible? As long as the Fleet API was in Kibana we also did not really account for the case where fleet-server could be deployed in any place. We potentially get there one day but to keep it simple

[2021-03-09 09:16] mtojek opened #94053 "[Fleet] fleet/agents?kuery=* has been disabled"
In regards to: https://github.com/elastic/kibana/pull/92422

elastic-package uses the `fleet-agents` to check if policies are assigned. I mentioned it in this comment: https://github.com/elastic/kibana/pull/92422#issuecomment-789508945 .

Due to lack of API we can't make system tests passing (red masters). We need an alternative API/method to check if the policy is assigned. We used this API to ve

[2021-03-09 09:23] restrry commented on #91056
@mistic @tylersmalley  at least tentatively: by which release do we need to solve these problems?

[2021-03-09 09:23] cnasikas opened #94054 "[Cases] RFC: RBAC"
# Summary

Cases RBAC mechanism allows Kibana solutions (applications) to use cases scoped to their realm.

## Requirments

1. Ensure users can only create, modify and consume Cases that are owned by solutions that they have access to (for example, only a user with Observability access should be able to create an Observability case).
2. Ensure `Read` and `All` privileges are respected, so users wh

[2021-03-09 09:23] elasticmachine commented on #94054
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-09 09:23] elasticmachine commented on #94054
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 09:26] kibanamachine opened #94055 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/generating_signals·ts - detection engine api security and spaces enabled Generating signals from source indexes Signals from audit beat are of the expected structure EQL Rules generates building block signals from EQL sequences in the expected form"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/442/)

[2021-03-09 09:29] flash1293 commented on #94052
I would say in terms of contrast it's about the same in light mode:
<img width="286" alt="Screenshot 2021-03-09 at 10 28 54" src="https://user-images.githubusercontent.com/1508364/110449259-50a60380-80c2-11eb-937f-38e7067b1224.png">

@MichaelMarcialis maybe we can do something about this and provide light/dark chart icons and switch them over for the selected chart type?

[2021-03-09 09:42] dgieselaar commented on #90311
If this is a cloud cluster (and it looks like it is), I'm not sure you can enable APM there. @sqren might know more. If you connect a local Kibana instance to it, that will collect APM data, but not if you go to the Kibana instance on cloud.

[2021-03-09 09:43] simitt commented on #89442
Yes for Cloud we want to show the publicly available, single Fleet Server URL.

[2021-03-09 09:53] pgayvallet commented on #68626
After a discussion with @kobelb, we decided to change the format to an RFC to have it go through an architecture review.

The discussion should continue on https://github.com/elastic/kibana/pull/94057

[2021-03-09 09:58] ruflin opened #94058 "[Fleet] Add permission specs to policy"
To reduce the permissions each Elastic Agent requires, the permission on each API Key that is handed out to the Elastic Agent must be reduced. In https://github.com/elastic/fleet-server/issues/101 a proposal is discussed which requires that each policy contains a definition on what permissions are need to run this policy. Based on these, the fleet-server creates API keys.

As the policy is created

[2021-03-09 09:58] elasticmachine commented on #94058
Pinging @elastic/fleet (Team:Fleet)

[2021-03-09 09:59] flash1293 commented on #93912
This is the UI suggested by @MichaelMarcialis
<img width="269" alt="Screenshot 2021-03-09 at 10 58 43" src="https://user-images.githubusercontent.com/1508364/110453448-73d2b200-80c6-11eb-9e7e-1eccd3803bf2.png">

[2021-03-09 10:05] elasticmachine commented on #93452
Pinging @elastic/kibana-security (Team:Security)

[2021-03-09 10:06] flash1293 commented on #93587
@pgayvallet Passing in an observable would make sense too, I guess. No strong opinion here, a flag would be enough for all use cases I know of.

[2021-03-09 10:08] neoaddix commented on #36630
Would be nice to see this solved indeed
I did receive a workaround tip by creating a filter in the top of the page and replacing:
[code]
by
[code]

[2021-03-09 10:13] flash1293 opened #94060 "[Lens] xy chart curving options"
elastic-charts provides a way to curve line series in an xy chart: https://elastic.github.io/elastic-charts/?path=/story/line-chart--curved-with-axis-and-legend

This feature should be provided as an option for xy charts in Lens as well.

[2021-03-09 10:13] elasticmachine commented on #94060
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-09 10:17] estermv commented on #90311
@dgieselaar you are right, it's a cloud cluster, but we enabled APM in a local kibana. We collect data from a local kibana instance, but that's what we want (for now) since we want to do some changes in our code and see how this affects performance.

[2021-03-09 10:19] flash1293 opened #94061 "API docs: Allow meta data displayed on top of each plugins exported types"
In the API docs, it's currently not possible to explain what a plugin is for and where to find more information.

To allow this, two things should be possible to configure (the plugins `kibana.json` is probably a good place to do so):
* A description text (doesn't have to be markdown) to explain what the plugin is about
* A link (or multiple links) to link to tutorials, example code, readmes in th

[2021-03-09 10:22] #93985 closed

[2021-03-09 10:24] Bamieh commented on #93185
i dont mind it if we come up with a good execution plan. Generally I think dont really need to complicate thing since our usecase is very simple straightforward in terms of what we want to do between the xpack plugin and the oss one.

[2021-03-09 10:26] afgomez commented on #85775
This doesn't seem to occur anymore. I'm also trying to figure out if this will be an issue in fleet server. @nchaulet do you have any insights on this?

[2021-03-09 10:27] #94014 closed

[2021-03-09 10:31] Bamieh commented on #93554
Elastic cloud does not support custom kibana plugins so the only way to get this fix in is by upgrading to a Kibana version where this is fixed.

Otherwise you can override the translations by creating a custom plugin and using the same label ids with your custom translations.

[2021-03-09 10:32] dikshachauhan-qasource commented on #94017
Hi @EricDavisX ,

Thanks for the feedback.

Today, we gain played with existing data and new data, however, unable to reproduce above.

Further, We have shared environment details with you in separate mail. Please let us know if anything else is required.

Thanks
QAS

[2021-03-09 10:34] flash1293 opened #94064 "[Lens] Show suggestions without a chart based on field existence and popularity information"
Right now we don't show any suggestions as long as there is no chart. However there are some things we know about the current context which could be leveraged:
* Field existence information - which fields have data in the current time range
* Field popularity - which fields got used in discover before?
* ECS schema information - if the field names are set up in a certain way, we can derive semanti

[2021-03-09 10:34] elasticmachine commented on #94064
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-09 10:45] stratoula opened #94067 "[XY axis] Update the sample viz to use the default palette"
**Describe the feature:**
On 7.12 we introduced a new plugin `vis_type_xy` that integrates with our color palette and gives our users the ability to select among our EUI palettes and the legacy one.
![image](https://user-images.githubusercontent.com/17003240/110459173-522cf700-80d5-11eb-82bd-8c8e12f82e88.png)

Our sample xy visualizations are still configured to use the legacy palette. As we want

[2021-03-09 10:45] elasticmachine commented on #94067
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-09 10:46] deepikakeshav-qasource commented on #91998
Hi @michaelolo24

Sure, We will validate this ticket once 7.12.0 BC4 will available.

Thanks!!

[2021-03-09 10:47] deepikakeshav-qasource commented on #93761
Hi @spong

We have validated this ticket on **7.11.2 BC2** build and observed that issue is **not fixed**. Could you please let us know these fixes will be available on **7.12.0 BC4** or **7.11.2 BC** build?

**Build Details:**
[code]

**Screenshot:**
![7 11 2_BC2](https://user-images.githubusercontent.com/61860752/110425709-c910c280-80ca-11eb-93e5-d9c995f0e4bf.jpg)

Thanks!!

[2021-03-09 10:55] fbaligand commented on #36630
I fully agree, this would be great !

[2021-03-09 11:05] MadameSheema commented on #93761
@deepikakeshav-qasource de fix for this issue is going to be available on the next 7.12BC4.

@spong do you think it is possible to backport it to 7.11 in case we have an extra BC for 7.11.2? Thanks :)

[2021-03-09 11:05] elasticmachine commented on #93761
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-09 11:12] MadameSheema opened #94071 "[Security Solution] Alerts got duplicated after upgrade"
**Describe the bug:**
- When you have a detection rule with a big look-back time, all the alerts found during that window are duplicated after an upgrade.

**Kibana/Elasticsearch Stack version:**
- Upgrade from 7.11.x to 7.12

**Steps to reproduce:**
1. In a 7.11.x instance, create detection rule with a big look-back time
2. Generate alerts for that rule
3. Upgrade to 7.12

**Current behavior:**
-

[2021-03-09 11:12] elasticmachine commented on #94071
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-09 11:12] elasticmachine commented on #94071
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 11:21] sorantis commented on #93315
@kaiyan-sheng is currently building the AWS package based on the new structure. Once ready it should enable all related work.

[2021-03-09 11:28] elasticmachine commented on #91426
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 11:29] muskangulati-qasource commented on #87995
Hi @kevinlog,

Thank you for looking into and resolving our query. Also, for providing the detailed steps.

We tested this ticket again and found that issue is now **fixed**. The index patterns are automatically updated after the upgrade. Please find below the exact testing details.

**Build Details**:
Upgrade from 7.10.2 --> 7.11.2
- 7.10.2:
[code]

- 7.11.2:
[code]

**Refer screenshots**:
- 7.10

[2021-03-09 11:30] elasticmachine commented on #91424
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-09 11:30] MadameSheema commented on #91424
@karanbirsingh-qasource can you please validate the fix of this issue on 7.11.2BC2 and 7.12BC3? thanks :)

[2021-03-09 11:54] MadameSheema commented on #90355
@karanbirsingh-qasource can you please validate the fix of this issue on 7.12.BC3? Thanks :)

[2021-03-09 11:54] MadameSheema commented on #90222
@karanbirsingh-qasource can you please validate the fix of this issue on 7.12.BC3? Thanks :)

[2021-03-09 11:54] jimczi commented on #92960
Thanks for reporting @Aaron3 and @mattkime . I confirmed that this is a bug in _field_caps. I opened https://github.com/elastic/elasticsearch/pull/70143 to fix in Elasticsearch.

[2021-03-09 11:55] dadoonet opened #94075 "Canvas: wrong rendering when displaying and generating the report"
**Kibana version:** 7.11.1

**Browser version:** Version 89.0.4389.82 (Build officiel) (x86_64)

**Browser OS version:** MacOS 11.2.1 (20D74)

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

The rendering in fullscreen mode is incorrect. Same behavior as described in #31374.
It's also inconsistent with the PDF version.

**Steps to reproduce:*

[2021-03-09 12:00] pheyos opened #94076 "[ML] Index data visualizer - remove query string with loaded saved search doesn't work"
**Found in version**
- 7.11.2-bc2

**Browser**
- Chrome

**Steps to reproduce**
- Load a saved search with the index data visualizer
- Remove the pre-filled content from the query bar

**Expected result**
- The data visualizer displays data without the query applied

**Actual result**
- The displayed data doesn't change, the query is still applied

[2021-03-09 12:00] elasticmachine commented on #94076
Pinging @elastic/ml-ui (:ml)

[2021-03-09 12:00] walterra commented on #93570
Further investigation showed that this is caused by index pattern fields that end up having `type: undefined` even while the TS spec for `IFieldType` is `type: string`. #93915 includes a fix in the transforms code to cover this.

[2021-03-09 12:14] ericliuk commented on #53587
Are there any updates? I found that ipv6 is still not supported in kibana version 7.11. Apparently, this is a big problem. Index supports both ipv4 and ipv6, but kibana only supports ipv4. Although you can support it by writing your own DSL, this is not a good user experience, and some users are not familiar with DSL.

[2021-03-09 12:14] ericliuk commented on #22555
Are there any updates? I found that ipv6 is still not supported in kibana version 7.11. Apparently, this is a big problem. Index supports both ipv4 and ipv6, but kibana only supports ipv4. Although you can support it by writing your own DSL, this is not a good user experience, and some users are not familiar with DSL.

[2021-03-09 12:27] abraxxa commented on #53587
You can enter `ipv6field: "ipv6 address"` in the search field and it works, just adding a filter and saving it isn't possible.

[2021-03-09 12:48] #90191 closed

[2021-03-09 12:49] karanbirsingh-qasource commented on #93563
Hi @MadameSheema Thanks for the update of issue occurrence while editing the action on 7.11.2 and not on using old mapping 7.10.0 created connector on upgraded build and validating pushing changes.

we have tried to replicate this issue on upgrade path **7.10.0 ---> 7.11.0** as mentioned in ticket description and not able to reproduce the mentioned error prompt on editing the connector.

Please fi

[2021-03-09 13:00] peteharverson commented on #30368
Closing this issue as all the items listed in the description have now been addressed.

[2021-03-09 13:00] #30368 closed

[2021-03-09 13:12] nchaulet commented on #94053
@mtojek sorry I missed that one the following kuery should work `policy_id : "df31c910-806b-11eb-ac68-dd1f1278a63c"  and policy_revision_idx : 1`

Notice the `policy_revision_idx` instead of `policy_revision_id`. I will see if I can have a fix to do not have the breaking change here.

[2021-03-09 13:13] darnautov opened #94081 "[Alerts] Significant delay during disabling/enabling alerts"
**Kibana version:**
`master`

**Describe the bug:**
There is a significant delay (~2-3 seconds) on the "Disable" alert switch. Also when I click on the toggle, the page feels unresponsive, the progress indicator on the list only occurs after the switch state finally gets updated.

**Expected behavior:**
Either switch state updates synchronously and disabling/enabling happens in the background or s

[2021-03-09 13:18] mtojek commented on #94053
I implement it bit differently to not depend on kuery at all. WDYT https://github.com/elastic/elastic-package/pull/280 ?

[2021-03-09 13:21] ericliuk opened #94082 "Kibana Add Filter doesn't support IPV6"
Kibana version: 7.11

Elasticsearch version:7.11
![image](https://user-images.githubusercontent.com/67360695/110475943-69430780-811c-11eb-904c-a61a4d0c3d1c.png)

![image](https://user-images.githubusercontent.com/67360695/110476339-d48cd980-811c-11eb-8446-b71cdba1c62b.png)

I want to add an ipv6 filter to the ip type field. but kibana won't allow me to save it, only ipv4 formatted ip is allowed to

[2021-03-09 13:26] afgomez commented on #85775
Closing since this endpoint will go away in 7.13

[2021-03-09 13:26] #85775 closed

[2021-03-09 13:29] sqren commented on #86462
This might not be needed. @simitt will close or clarify if it's still needed.

[2021-03-09 13:32] karanbirsingh-qasource commented on #89784
Thanks @MadameSheema for providing the api index hits details to have the sample nested data .

we have followed the steps and successfully got the nested data in indicator match rule on 7.12.0 BC3 , However issue is still occuring incorrect result is returning for nested data . we will retest this issue on 7.12.0 BC4.

![image](https://user-images.githubusercontent.com/59917825/110478022-e022d500

[2021-03-09 13:43] kibanamachine opened #94084 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation·ts - machine learning data frame analytics regression creation electrical grid stability navigates through the wizard and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12454/)

[2021-03-09 13:43] kibanamachine commented on #89932
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12454/)

[2021-03-09 13:45] sqren commented on #89989
@simitt to follow up if this is needed for 7.13.

[2021-03-09 13:52] simitt commented on #92427
@sqren and @simitt agreed on option B, @simitt will provide the mapping asap.

[2021-03-09 13:53] weltenwort opened #94087 "[Metrics UI] Saved view filtering, sorting and pagination broken"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Describe the bug:** The "managed saved views" flyout in both the inventory and the metrics explorer doesn't properly enumerate the saved views. It fetches one page (of 20 items) from the saved object client and paginates, sorts and filters within that without re-fetching. This means that there is no way for the user to access saved v

[2021-03-09 13:53] elasticmachine commented on #94087
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-09 13:54] gmmorris opened #94088 "Migrate Security Solution to new Connectors APIs in place of deprecated APIs"
Following the work on https://github.com/elastic/kibana/issues/90376 we have deprecated the Connector REST APIs that refer to Connectors as Actions.

The new APIs are documented here: https://www.elastic.co/guide/en/kibana/master/actions-and-connectors-api.html

As of 8.0 the deprecated APIs will no longer be available, so this issue is to remove the usage of these APIs from Security Solution.

No

[2021-03-09 13:55] gmmorris opened #94089 "Migrate Uptime to new Connectors APIs in place of deprecated APIs"
Following the work on https://github.com/elastic/kibana/issues/90376 we have deprecated the Connector REST APIs that refer to Connectors as Actions.

The new APIs are documented here: https://www.elastic.co/guide/en/kibana/master/actions-and-connectors-api.html

As of 8.0 the deprecated APIs will no longer be available, so this issue is to remove the usage of these APIs from Uptime.

Note that the

[2021-03-09 13:58] elasticmachine commented on #94088
Pinging @elastic/siem (Team:SIEM)

[2021-03-09 13:59] MadameSheema commented on #87458
@deepikakeshav-qasource can you please validate the fix of this issue on 7.12.BC3? Thanks :)

[2021-03-09 14:01] #87035 closed

[2021-03-09 14:02] #86918 closed

[2021-03-09 14:04] MadameSheema commented on #84773
@jonathan-buttner has this bug been fixed? thanks :)

[2021-03-09 14:06] MadameSheema commented on #81189
@karanbirsingh-qasource can you please validate the fix of this issue on 7.12BC3? Thanks :)

[2021-03-09 14:06] jportner commented on #94024
RE: Origin null:

I am proposing that we return a CORS error to the preflight request.

Here's an example of a CORS success response from Kibana:
[code]

Here's an example of a CORS error response from Kibana (when a disallowed request header is used):
[code]

So in the "Origin: null" case, we could return an HTTP 200 with a message "CORS error: Origin 'null' is not allowed".

CC @legrego

[2021-03-09 14:07] MadameSheema commented on #90346
@karanbirsingh-qasource can you please validate the fix of this issue on 7.12.BC4? Thanks :)

[2021-03-09 14:09] nchaulet commented on #94053
Yes this would work for checkin reassignment I guess 👍 you never check for agent policy upgrade right?

[2021-03-09 14:11] simioa commented on #92949
We have the same Issue when we set the proxy.
In our case the Proxy is configured to only allow access to external services and only after explicitly granting access to them.
When we now try to access internal Services, for example the internal mail server, the connector times out.
Same happens with internal Webhooks, etc. when the Proxy is defined.

Maybe having more granular Configuration Option

[2021-03-09 14:11] mtojek commented on #94053
No, we just reassign a new policy (first create a policy, select data streams, assign to agents).

[2021-03-09 14:21] simitt commented on #88822
related to this design issue https://github.com/elastic/observability-design/issues/29

[2021-03-09 14:25] smith opened #94094 "[APM] Consider using stats agg instead of sum and avg"
Using a [stats aggregation]() may have performance and maintainability benefits where we use `sum` and `avg` now. Investigate if this is an improvement and implement it if so.

This is a follow-up from #84661.