[2021-07-06 17:08] tsullivan opened #104508 "[Reporting] Add version string to csv_searchsource reporting job parameters"
**Kibana version:** 7.13+

Job Parameters for CSV Export (csv_searchsource) could require migrations. This will be a problem if we do not know which version was used to create the SearchSource originally.

A version string should be added to the job parameters: https://github.com/elastic/kibana/blob/7.13/x-pack/plugins/reporting/server/export_types/csv_searchsource/types.d.ts#L13

[2021-07-06 17:08] elasticmachine commented on #104508
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 17:08] elasticmachine commented on #104508
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-06 17:22] jen-huang commented on #100373
@banderror I replied in those threads but this is is an issue to improve the error handling in general and is not related to specific errors.

[2021-07-06 17:23] kqualters-elastic commented on #94384
This work is no longer needed with transitioning of the tgrid to use EuiDataGrid.

[2021-07-06 17:23] #94384 closed

[2021-07-06 17:24] #94382 closed

[2021-07-06 17:24] #94380 closed

[2021-07-06 17:26] bhavyarm opened #104515 "Autocomplete for search ( and filter panel) is not working for cross cluster search index patterns"
**Kibana version:** 7.14.0 BC1

**Elasticsearch version:** 7.14.0 BC1

**Server OS version:** ubuntu_tar_ccs

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Auto-complete is not working for CCS index patterns. Same bug if you try to add a filter on their fields. The val

[2021-07-06 17:26] elasticmachine commented on #104515
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 17:35] tylersmalley commented on #79757
This is now complete.

[2021-07-06 17:35] #79757 closed

[2021-07-06 17:42] cnasikas commented on #103437
Hi @karanbirsingh-qasource,

Not yet, we are working on it. I will let you when we have an update.

[2021-07-06 17:43] neptunian commented on #104440
Tested "Create Rules" in 7.14 Cloud environment and works

[2021-07-06 17:43] jbudz commented on #103891
This is an open issue - https://github.com/elastic/kibana/issues/39595.  I'm not sure of any workarounds offhand other than ADDing kibana.yml

[2021-07-06 17:43] #91870 closed

[2021-07-06 17:46] tylersmalley opened #104519 "[meta] Bazel Migration Phase 2"
In progress list for phase 2. Each item will have an associated issue to track.

- [x] https://github.com/elastic/kibana/issues/104253
- [x] Use `babel` as our transpiler tool for packages
- [ ] https://github.com/elastic/kibana/issues/105248
- [x] https://github.com/elastic/kibana/issues/105240
- [x] https://github.com/elastic/kibana/issues/105241
- [ ] Persist `disk_cache` and `repository_cache`

[2021-07-06 17:46] elasticmachine commented on #104519
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-06 17:48] nickpeihl commented on #102909
The NPM docs suggest using [`SEE LICENSE IN <filename>` for non-SPDX licenses](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#license) which is why it was set that way. But that conflicts with Kibana's license checker. 🤷

I suspect we'll see a warning from `yarn` or `kibana` whichever property we use for `license`.

[2021-07-06 18:01] jportner commented on #100489
Each plugin owner needs to update their server-side code to `resolve()` saved object IDs that are passed in via URL. This ensures that an old saved object ID can still be used to find the correct saved object. I added a basic example of this in https://github.com/elastic/kibana/pull/95958/commits/afc34903624f169c6dc98313a6b2e299affc643f (PR #95958).
Client-side code should also be updated to handl

[2021-07-06 18:09] wylieconlon commented on #104222
@flash1293 the async update isn't currently for performance reasons, it's for integration with Monaco. What if the `updateDatasource` returned a promise that resolves when the update is submitted to React, could that be used to indicate that the debouncing is dirty until the result is fully submitted? Alternatively, this all might go away once we use Redux for the datasource state.

[2021-07-06 18:10] mistic commented on #69706
We've just completed the Phase 1 of that long process after months of hard work. We've now planning and are about to start the Phase 2.

[2021-07-06 18:15] jen-huang opened #104524 "[Fleet] Add agent should show Fleet Server setup instructions initially"
On fresh on-prem instance without setting up a Fleet Server yet, go to Integrations > System > Policies and click + to add an agent to the default policy. Observe that the add agent flyout shows the "missing Fleet Server host" callout. We should just show the Fleet Server setup instructions instead.

This callout should only be shown if user has a Fleet Server agent _and_ there is no Fleet Server

[2021-07-06 18:15] elasticmachine commented on #104524
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 18:35] #98299 closed

[2021-07-06 18:35] YulNaumenko opened #104525 "Change "Rules and connectors" management views to correspond new Kibana layout guidelines"
According to the new Kibana UI/UX layout guidelines, all managing buttons should be on the top of form.
Currently for "Rules and connectors" tabs we have buttons "Create rule" and "Create connector" on the different positions:
<img width="593" alt="Screen Shot 2021-07-06 at 9 30 04 PM" src="https://user-images.githubusercontent.com/55110838/124649808-d017c980-de4d-11eb-9c18-908d24e24183.png">
<img

[2021-07-06 18:35] elasticmachine commented on #104525
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-06 18:39] tsullivan commented on #101532
Closed via https://github.com/elastic/kibana/pull/101447

[2021-07-06 18:39] #101532 closed

[2021-07-06 18:45] kibanamachine commented on #104265
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/25/)

[2021-07-06 18:53] mdefazio commented on #80310
@YulNaumenko , @mikecote
Some additional rationale for the above UX:
- I think having the switch on the row provides an additional visual indicator that a rule is active or disabled.  We definitely still need the text, but I think the switch helps scan down the column and have those disabled standout more.
  - I get that for some rule types, the need to disable/enable is less frequent, however, we

[2021-07-06 18:59] tsullivan commented on #100470
Hi, how much memory is available in the system? Is it possible to add more memory?

[2021-07-06 19:03] bryce-b opened #104530 "Exploratory View - iOS "Device Distribution" report is broken"
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Server OS version:**

**Browser version:**
Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
apm-integration-testing

**Describe the bug:**
Viewing the "Mobile Experience" data type in the Exploratory View; when selecting t

[2021-07-06 19:07] dokmic opened #104531 "[esaggs] Update `esaggs` function to return observable emitting partial results"
Update the existing implementation of the `esaggs` function to return observable emitting intermediate results to be used as partial results.

Parent issue #84051.

[2021-07-06 19:07] elasticmachine commented on #104531
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 19:08] ppf2 opened #104532 "Ability to toggle on/off multiple-sort capability in Discover"
We added the nice multiple-sort capability to Discover in https://github.com/elastic/kibana/pull/41918 (7.4+).  Some users prefer the old way or would like the ability to sort on field1, then if they click on sort on field2, they would like to see sort on field1 automatically disabled, etc..

It will be nice to provide a way for the end users to toggle on/off the multiple-sort capability so they c

[2021-07-06 19:11] #103720 closed

[2021-07-06 19:18] elasticmachine commented on #104532
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 19:39] jen-huang commented on #104241
Not reproducing this on master right now, hmm, looking deeper using the docker 7.14 setup..

[2021-07-06 19:53] nchaulet commented on #100518
Hi @CruzMarcio I am starting to work on this, can I get a little more information on what software are you running as a proxy?

[2021-07-06 20:47] #103266 closed

[2021-07-06 20:56] jen-huang opened #104549 "[Fleet] Integration UI design review cleanup"
- [ ] In Kibana > Add data overview page, adjust the Fleet messaging
- [ ] In Kibana > Add data > module page (i.e. Apache logs), adjust the Fleet messaging
- [ ] Rename Kibana feature registration from "Fleet" to "Fleet and Integrations"
- [ ] In Integrations > Integration details > Assets, expand first panel by default
- [ ] In Integrations > Integration details > Assets, pluralize and sentence

[2021-07-06 20:56] elasticmachine commented on #104549
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 20:57] #104432 closed

[2021-07-06 20:58] #103753 closed

[2021-07-06 21:03] lukeelmers commented on #104031
Yeah exactly, I guess my point was that while it would be ideal for our response to be as close to ECS as possible, however there just isn't an ECS-compatible way to do what we need to do here. So my vote would be to get it as close to ECS as we can, and leave it to Metricbeat to handle ingestion.

A map would make sense from a config standpoint -- it would be more consistent with how we are appro

[2021-07-06 21:24] lukeelmers commented on #104031
Also, as @Bamieh [pointed out](https://github.com/elastic/kibana/issues/104124#issuecomment-874823749), maybe while we are introducing a new field, we should consider moving to the new histogram-style `event_loop_delays` introduced in https://github.com/elastic/kibana/pull/101580.

This probably isn't something the metrics service should need to concern itself with, however it might make sense for

[2021-07-06 21:26] lukeelmers commented on #104124
👍 Added a note on this to the issue where we are discussing the new format (#104031)

[2021-07-06 21:59] #100285 closed

[2021-07-06 22:38] spong commented on #104371
++ @MadameSheema, this is critical/high and will need to be addressed for 7.14.

[2021-07-06 22:55] tsullivan opened #104568 "[Reporting] SIGHUP signal causes report job to fail regardless of capture.maxAttempts"
**Kibana version:** 5.0+ (?)

**Describe the bug:**
If a problem with report job execution occurs, the job should be sent back to the queue for re-try. This happens up to the default of 3 tries total. There seems to be corner cases where a problem encountered during job execution will immediately set the job status to `failed` instead of `pending`

**Steps to reproduce:**
1. Add a `pid.file` setti

[2021-07-06 22:56] tsullivan commented on #104568
Possibly fixed in https://github.com/elastic/kibana/issues/101342

[2021-07-06 22:56] elasticmachine commented on #104568
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-06 23:02] elasticmachine commented on #104506
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-06 23:06] kibanamachine opened #104569 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/rollup_job/rollup_jobs·js - rollup app rollup job "after all" hook for "create new rollup job""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15337/)

[2021-07-06 23:13] tylersmalley commented on #104466
@thelink2012, I bisected the changes, and looks like this might have been caused by https://github.com/elastic/elasticsearch/commit/1fc09f9ce143c94d7438e2394c7f66a29b814ebc

Mind taking a look?

[2021-07-06 23:15] tsullivan opened #104570 "[Lens] "Rows" panel can not be closed"
**Kibana version:**
7.14.0-bc1

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Chrome 91.0.4472.114

**Browser OS version:**
Linux

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
1. Using a table metric visualization

Not sure what I clicked, but the "Rows" panel can not be closed

**Screenshots (if relevant):**
![i

[2021-07-06 23:16] elasticmachine commented on #104570
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 23:36] wylieconlon commented on #104570
My initial testing was not able to reproduce the issue, but maybe there is something unusual about the steps taken prior to the bug appearing. Without more information we'll have to look at possible causes of the flyout staying open.

[2021-07-06 23:49] tsullivan commented on #104570
After refreshing the page, the problem went away. I suspected that would happen, so I captured the screencast video first.

I spent a few more minutes on the page doing the same kind of activity with a table visualization that I was doing when I got here, but I can not reproduce the issue. I believe I clicked or dragged something unintentionally when trying to move the cursor.

[2021-07-06 23:53] #104570 closed

[2021-07-07 00:21] tsullivan opened #104573 "[Lens] Updating color of a series does not work reliably"
**Kibana version:** 7.14.0 bc1
**Original install method (e.g. download page, yum, from source, etc.):** docker

**Describe the bug:**
Editing the series color of data in Lens seems to work only the first time the user attempts to do so.

**Steps to reproduce:**
1. Create a horizontal bar chart of some terms
2. Edit the series color. The change takes effect
3. Attempt to edit the series color agai

[2021-07-07 00:21] elasticmachine commented on #104573
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 00:42] wylieconlon commented on #104573
Thanks @tsullivan, I believe this is already reported here: https://github.com/elastic/kibana/issues/104381

[2021-07-07 00:42] #104573 closed

[2021-07-07 01:01] thelink2012 commented on #104466
Sure @tylersmalley, I can take a look at this by the weekend.

Is this number that's coming up wrong (`14,004` neq `445`) something that comes off the highlighting section of a ES query response, or is that from another section of the response?

[2021-07-07 01:13] tsullivan opened #104574 "[Lens] Clicking the formula tab overwrite a custom display name for the series"
**Kibana version:** 7.14.0-bc1

**Original install method (e.g. download page, yum, from source, etc.):** docker

**Describe the bug:**
When the user enters a custom display name for their series, the user would expect to see the text clear from a manual action. However when the user clicks the "Formula" tab, this custom display name is automatically reset to a new default

**Steps to reproduce:**

[2021-07-07 01:13] elasticmachine commented on #104574
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 02:12] kibanamachine opened #104576 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - machine learning data visualizer index based with farequote lucene saved search displays index details"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15340/)

[2021-07-07 02:27] katefarrar commented on #104121
@mgiota I worked with @snide today to do some overall cleanup on the Observability page and fix the Metrics table. This PR (still in draft mode) should fix all the issues: https://github.com/elastic/kibana/pull/104577

I will ping you in the morning to talk more about this. Thanks!

[2021-07-07 03:06] kibanamachine opened #104578 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/saved_searches·ts - discover Discover Saved Searches Customize time range should be possible to customize time range for saved searches on dashboards"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15341/)

[2021-07-07 04:50] mandeepkaur-qasource opened #104580 "[Security Solution]"Detection Rules" is getting displayed instead of "Rules" in breadcrumb"
**Description:**
"Detection Rules" is getting displayed instead of  "Rules" in breadcrumb

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be

[2021-07-07 04:50] elasticmachine commented on #104580
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 04:50] mandeepkaur-qasource commented on #104580
@manishgupta-qasource Please Review!!

[2021-07-07 05:05] manishgupta-qasource commented on #104580
Reviewed & assigned to @MadameSheema

[2021-07-07 05:12] kibanamachine commented on #93354
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15200/)

[2021-07-07 06:10] karanbirsingh-qasource commented on #104049
Hi Team,

just to add another observation to this issue.

The Administration unexpected info is showing up for Endpoint , Trusted Application, and Event Filter in Global Search  and Detect unexpected infor for Alerts , Rules and exceptions.

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/124708431-eb4f0b80-df17-11eb-90ce-e1d111b26418.png)

![

[2021-07-07 06:24] mandeepkaur-qasource opened #104581 "[Security Solution][Enhancement] Investigate timeline button should be available under Quick alert details fly out."
**Description:**
[Enhancement] Investigate timeline button should be available under Quick alert details fly out.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and

[2021-07-07 06:25] elasticmachine commented on #104581
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 06:26] mandeepkaur-qasource commented on #104581
@manishgupta-qasource Please review

[2021-07-07 06:30] manishgupta-qasource commented on #104581
Reviewed & Assigned to @MadameSheema

[2021-07-07 06:39] elasticmachine commented on #104578
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 06:45] mandeepkaur-qasource opened #104582 "[Security Solution]'Export Selected' button is enabled for Pre-built elastic Rules"
**Description:**
'Export Selected' button is enabled for Pre-built elastic Rules

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be installe

[2021-07-07 06:45] elasticmachine commented on #104582
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 06:45] mandeepkaur-qasource commented on #104582
@manishgupta-qasource Please review!!

[2021-07-07 06:47] kibanamachine commented on #104265
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15202/)

[2021-07-07 06:47] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 06:48] aarju opened #104583 "[Feature Request][Fleet] Add ability to give Fleet agents nicknames"
**Describe the feature:**
A Fleet user would be able to add a custom 'nickname' or 'comment' field to an agent to help them better manage the fleet systems. The nickname field should be appended to any event collected from that agent and should be displayed in the host administration views in Fleet and the Security App. Ideally the nickname field could also eventually be set via an API so host nic

[2021-07-07 06:48] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 06:52] dikshachauhan-qasource commented on #104280
Hi @jen-huang

Thanks for confirmation on above reported issue.

However, we have now come up with following queries.

- How to provide certs under quick start and Prod option selected at step 3 in cloud environments. Could you please confirm if we need to use same steps as on self managed.

Thanks
QAS

[2021-07-07 07:14] manishgupta-qasource commented on #104582
Reviewed & assigned to @MadameSheema

[2021-07-07 07:27] amolnater-qasource opened #104584 "[Fleet]: Revision number for Elastic Agent on Cloud policy increases unknowingly."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. Fresh 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Elastic Agent on cloud policy.
3. Observe Revision: 4 and it increases unknowingly on fresh kibana.

**Exp

[2021-07-07 07:27] elasticmachine commented on #104584
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 07:27] amolnater-qasource commented on #104584
@manishgupta-qasource Please review.

[2021-07-07 07:27] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 07:29] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 07:29] ruflin commented on #82851
All the assets of a package are installed as soon as it is first used in a policy. In addition to this we have some "required" packages that were always installed but we are moving away from this currently.

To make it easier for users to get started we are creating a "Default policy". This default policy contains the system integration which means the system package is installed. In addition, for

[2021-07-07 07:33] manishgupta-qasource commented on #104584
Reviewed & assigned to @jen-huang

[2021-07-07 07:33] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 07:34] mandeepkaur-qasource commented on #104471
| Issue #           | Description         | Bug / Enhnacement    | Github Link|
| :------------- | :---------- | :----------- | :------- |
| 1 |Nav collapse|bug|  https://github.com/elastic/kibana/issues/104456
| 2 | Tags weird wrap | bug | Ticket already existing: https://github.com/elastic/kibana/issues/104055
| 3 | toast error: can't load rules... | unknown | Remarks: Not been able to reproduce

[2021-07-07 07:43] MadameSheema commented on #104055
@spong @peluja1012 please note that this issue is listed on https://github.com/elastic/security-team/issues/1412 ticket, and per @MikePaquette observations this should be fixed for this release, thanks :)

[2021-07-07 07:45] MadameSheema commented on #104376
@spong @peluja1012 please note that this enhancement is listed on https://github.com/elastic/security-team/issues/1412 ticket, and per @MikePaquette observations this should be fixed for this release if possible, thanks :)

[2021-07-07 07:49] MadameSheema commented on #104382
@spong @peluja1012  @rylnd please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release, thanks :)

[2021-07-07 07:50] MadameSheema commented on #104386
@spong @peluja1012 @rylnd please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release, thanks :)

[2021-07-07 07:50] MadameSheema commented on #104389
@spong @peluja1012 @rylnd please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release, thanks :)

[2021-07-07 07:53] MadameSheema commented on #104398
@kevinlog please note that per @MikePaquette comments, this should be fixed for 7.14 thanks :)

[2021-07-07 07:54] Baklap4 commented on #75711
When will Runtime fields be available in the elastic cloud portal? For the time being won't this bug be fixed?

[2021-07-07 07:58] elasticmachine commented on #104403
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 07:58] MadameSheema commented on #104403
@spong @peluja1012  note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations, thanks :)

[2021-07-07 07:59] MadameSheema commented on #104371
Thanks @spong!

@MikePaquette this issue was listed in your ticket: elastic/security-team#1412 and has been raised to Critical. Thanks :)

[2021-07-07 08:00] elasticmachine commented on #104406
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 08:03] elasticmachine commented on #104406
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 08:06] MadameSheema commented on #104406
@MikePaquette the fix for this issue listed on your remarks ticket (https://github.com/elastic/security-team/issues/1412) is to update the navigation text to `Exceptions lists` can you please confirm if this is correct or if it is the Header of the `Exception Lists` page that should be updated? Thanks!!

ping @semd @michaelolo24

[2021-07-07 08:12] mshustov commented on #104235
Starting from TS v4.4, the `catch` argument [will be treated](https://devblogs.microsoft.com/typescript/announcing-typescript-4-4-beta/#use-unknown-catch-variables) as `unknown` in `strict` mode. Considering that we track `any` usages count in the codebase, we might hope all the errors will be properly typed in the future.

my overall 👍 However, I don't see anything bad if relax requirements for t

[2021-07-07 08:14] elasticmachine commented on #104408
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 08:14] MadameSheema commented on #104408
@spong @peluja1012 please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release if possible, thanks :)

[2021-07-07 08:15] elasticmachine commented on #104419
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 08:15] MadameSheema commented on #104419
@spong @peluja1012 @rylnd  please note that this bug is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release if possible, thanks :)

[2021-07-07 08:16] elasticmachine commented on #104581
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 08:16] MadameSheema commented on #104581
@XavierM @asnehalb  please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release if possible, thanks :)

[2021-07-07 08:28] semd commented on #104406
@MadameSheema The navigation text was changed to _Exceptions lists_ last week, as @bfishel requested to me.

[2021-07-07 08:30] #104393 closed

[2021-07-07 08:36] elasticmachine commented on #104580
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 08:38] MadameSheema commented on #104580
@peluja1012 @spong  please note that this enhancement is listed on elastic/security-team#1412 ticket, and per @MikePaquette observations this should be fixed for this release, thanks :)

[2021-07-07 08:38] elasticmachine commented on #104582
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 08:39] MadameSheema commented on #104582
@peluja1012 @spong please note that this question is listed on elastic/security-team#1412 ticket, can we confirm if this is a bug or an expected behaviour? Thanks

ping @MikePaquette

[2021-07-07 09:13] elasticmachine commented on #104071
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 09:13] MadameSheema commented on #104071
@karanbirsingh-qasource can you please validate the fix on the next BC? Thanks :)

[2021-07-07 09:15] amolnater-qasource commented on #95039
Hi @jen-huang
We have an issue already reported for agent logs at https://github.com/elastic/beats/issues/26490
We will take a follow up on this reported issue.

Thanks
QAS

[2021-07-07 09:17] elasticmachine commented on #104456
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 09:18] MadameSheema commented on #104456
@michaelolo24 it is not present on first BC, can we please make sure that the code have been correctly backported so it is present on the next one? Thanks :)

[2021-07-07 09:26] estermv commented on #104051
I did some testing locally, the endpoint to create the default rules takes around 800ms.

We need to think also about how default rules are going to evolve on stack monitoring? I'm not sure if I remember correctly, but I think we talked or I read about allowing users to create each one of the default rules independently. If we want this, the dropdown will evolve to something more similar to what w

[2021-07-07 09:26] stratoula commented on #104211
Moreover I can't create a filter if I click on the false bar. I get the error on the console
[code]

I can also replicate it on 7.13.3.

[2021-07-07 09:28] #104381 closed

[2021-07-07 09:31] elasticmachine commented on #104530
Pinging @elastic/uptime (Team:uptime)

[2021-07-07 09:31] semd commented on #104049
After PR https://github.com/elastic/kibana/pull/103938 the search results for the _Manage_ group pages will not have "Administration" but "Manage" in the text:
`Security / Manage / Endpoints`.
It indicates the group the page belongs to. Should the global search results texts match exactly the breadcrumbs items?

[2021-07-07 09:32] thomasneirynck commented on #104152
thx for raising this issue.

There is an existing use-case that would greatly benefit from this refactor.

The Vega plugin (formerly OSS, now dual with SSPL) uses EMS. To enable Vega to use on-prem deployments of EMS (ttps://github.com/elastic/kibana/issues/89304), the user needs to have an enterprise license. It would be nice if we can perform check this client-side (just like in the x-pack Maps-

[2021-07-07 09:34] MadameSheema commented on #104442
@peluja1012 @spong can you please take a look at this? thanks :)

[2021-07-07 09:34] estermv commented on #103392
This is the same or it's related to https://github.com/elastic/kibana/issues/87619

[2021-07-07 09:37] #103563 closed

[2021-07-07 09:40] MadameSheema commented on #99884
@deepikakeshav-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-07 09:41] #104222 closed

[2021-07-07 09:41] elasticmachine commented on #104437
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 09:42] MadameSheema commented on #104437
@angorayc can you please take a look at this? Thanks :)

[2021-07-07 09:44] karanbirsingh-qasource commented on #104049
Thanks, @semd for the sharing the update of pr fix for Administration removal from the global search result for Endpoints, trusted Applications, and Event Filters page search.

Moreover, about the global search results texts match exactly the breadcrumbs items? the question as we have seen for the below 04 areas. global search results texts match exactly to the breadcrumbs information that is if w

[2021-07-07 09:47] mandeepkaur-qasource opened #104602 "[Security Solution]"Error: Cannot read property 'length' of undefined" is getting displayed on navigating to any link available under Detect tab"
**Description:**
"Error: Cannot read property 'length' of undefined" is getting displayed on navigating to any link available under Detect tab

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should e

[2021-07-07 09:47] elasticmachine commented on #104602
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 09:48] mandeepkaur-qasource commented on #104602
@manishgupta-qasource Please review!!

[2021-07-07 09:59] flash1293 opened #104604 "[Lens] Filter buttons in legend are shown in noInteractivity mode"
**Kibana version:** 7.14

**Describe the bug:** When the passed-in `renderMode` is `noInteractivity`, the chart shouldn't provide affordances for trigging interactions like creating filters by clicking / brushing (see https://github.com/elastic/kibana/blob/59d422394aad7124cf07efbd651fed944e73f0e5/x-pack/plugins/lens/public/xy_visualization/expression.tsx#L631)

This is not respected by the legend

[2021-07-07 09:59] elasticmachine commented on #104604
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 10:00] mandeepkaur-qasource opened #104605 "[Security Solution]'Inspect Icon' is not functional if filebeat is not installed 'Threat Intelligence' card"
**Description:**
'Inspect Icon' is not functional if filebeat is not installed 'Threat Intelligence' card

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Filebeat should not be instal

[2021-07-07 10:00] mandeepkaur-qasource commented on #104605
@manishgupta-qasource Please Review!!

[2021-07-07 10:03] MadameSheema commented on #104383
@karanbirsingh-qasource can you please validate the fix of this issue on the next BC? Thanks 😊

[2021-07-07 10:04] elasticmachine commented on #103873
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 10:04] manishgupta-qasource commented on #104602
Reviewed & assigned to @MadameSheema

[2021-07-07 10:04] MadameSheema commented on #103873
@spong @peluja1012 can you please take a look at this?

[2021-07-07 10:05] manishgupta-qasource commented on #104605
Reviewed & Assigned to @MadameSheema

[2021-07-07 10:07] mandeepkaur-qasource commented on #104456
Hi @michaelolo24

We have validated this defect on latest 7.14. 0 BC1 build and found that 'Collapse' button doesn't appear on hover over the side navigation panel.

Build Details:
Version: 7.14.0 BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
Build:42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

Please find our observations below:
**Screen-Cast**:
![hove

[2021-07-07 10:10] mandeepkaur-qasource commented on #103051
Hi @MadameSheema

We have validated this defect on latest 7.14. 0 BC1 build and found the issue has been **Fixed** as 'Deleted Rule' badge is now getting displayed if the rule name is long and is getting truncated.

Build Details:
Version: 7.14.0 BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
Build:42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

Please fi

[2021-07-07 10:10] #103051 closed

[2021-07-07 10:13] dikshachauhan-qasource opened #104606 "Linux package data streams as per default settings are not generated properly."
**Kibana version:** 7.14 BC1 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]
2. **Add Linux integration with default settings to any policy**.

**Steps to reproduce:**
	- Login to Kibana.
	- Install a Linux Agent using above policy.
	- After for few min

[2021-07-07 10:16] elasticmachine commented on #103845
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 10:17] MadameSheema commented on #103845
@karanbirsingh-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-07 10:18] MadameSheema commented on #103839
@karanbirsingh-qasource can you please validate the fix of this issue on the next BC?

[2021-07-07 10:18] MadameSheema commented on #103837
Closing since this is the expected behaviour. Thanks :)

[2021-07-07 10:18] #103837 closed

[2021-07-07 10:19] dej611 opened #104607 "Cannot get back to Visualize Library if the state and URL are broken"
**Describe the bug:**

When editing a visualization it could happen that the URL for the visualization gets too long and a URL error page is shown. This is quite easy to reproduce in Vega with a medium/big configuration JSON.
From this point, other than enable the `state:storeInSessionStorage` there's no other way to:
* edit the visualization and fix the problem
* get to the visualize library and

[2021-07-07 10:19] elasticmachine commented on #104607
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 10:22] MadameSheema commented on #103628
Closing since is a duplicate of https://github.com/elastic/kibana/issues/81303

[2021-07-07 10:22] #103628 closed

[2021-07-07 10:23] dikshachauhan-qasource commented on #104606
Further, @jen-huang

On enabling all the options under system metrics from Linux instances, we navigated back to data streams but no data set generated belonging to 'system metrics from Linux instances'.

**Please refer below screenshot:**
![image](https://user-images.githubusercontent.com/72375798/124743506-7261ab00-df3b-11eb-855c-4f3ab6d6c94b.png)

NOTE: Issue reproducible on 7.14 Snapshot too.

[2021-07-07 10:23] MadameSheema commented on #103467
@karanbirsingh-qasource can you please validate the fix of this issue on the next BC? thanks :)

[2021-07-07 10:23] dikshachauhan-qasource commented on #104606
@manishgupta-qasource Please review

[2021-07-07 10:24] MadameSheema commented on #103459
@deepikakeshav-qasource can you please validate this ticket on the current BC? thanks :)

[2021-07-07 10:24] MadameSheema commented on #103458
@karanbirsingh-qasource can you please validate the fix of all that issues on the next BC? Thanks :)

[2021-07-07 10:25] semd commented on #104049
Ok thanks @karanbirsingh-qasource,
Then I guess the suggestion is to remove the `/ Detect` and `/ Manage` parts from the search results texts of its pages?

I want to make sure because it is not a direct change: during the migration from the previous navigation, the old _Detections_ and _Administration_ tabs were spread to show their internal pages individually in the left navigation. While _Host_

[2021-07-07 10:25] MadameSheema commented on #103437
@cnasikas @karanbirsingh-qasource can we close this ticket?

[2021-07-07 10:26] MadameSheema commented on #103457
@karanbirsingh-qasource can you please validate this on the current BC? thanks :)

[2021-07-07 10:26] manishgupta-qasource commented on #104606
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-07 10:26] MadameSheema commented on #103229
@cnasikas any update about this?

[2021-07-07 10:27] MadameSheema commented on #103071
@cnasikas any update about this?

[2021-07-07 10:28] MadameSheema commented on #102891
@mandeepkaur-qasource can you please validate the fix of this issue on the current BC?

[2021-07-07 10:28] MadameSheema commented on #102885
@jonathan-buttner any update about this?

[2021-07-07 10:32] amolnater-qasource commented on #103634
Hi @jen-huang
We have revalidated this with 7.14.0 Snapshot Kibana Cloud environment and found it **still reproducible**.
We have also attempted on various Windows VMs to re-confirm this issue, it was reproducible there as well.

**Build details:**
[code]

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/124744574-8954cd00-df3c-11eb-9409-e9c181416ca9.mp4

Thanks
QAS

[2021-07-07 10:32] MadameSheema commented on #104049
@MikePaquette I don't feel comfortable give an answer to the above, can you please help or redirect to the correct person that should take the decision? Thanks :)

[2021-07-07 10:33] elasticmachine commented on #103866
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 10:35] MadameSheema commented on #102729
@mandeepkaur-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-07 10:38] mikecote commented on #80310
Thanks, @mdefazio. I don't have a concern with the switch, so if it's preferred, I'm ok with that. I do think the text may need to be updated? Should "Active" be called "Enabled"? I can see it clash with the "Active" rule status.

[2021-07-07 10:39] elasticmachine commented on #102376
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 10:40] MadameSheema commented on #102376
@rylnd @peluja1012 @spong can you please take a look to the above? Thanks :)

[2021-07-07 10:40] MadameSheema commented on #102321
@karanbirsingh-qasource can you please validate the fix of this issue on the current BC? thanks :)

[2021-07-07 10:41] MadameSheema commented on #102319
@karanbirsingh-qasource can you please validate the fix of this issue on the current BC? thanks :)

[2021-07-07 10:44] lino-levan commented on #88044
I just wanted to bump this issue. Not being able to filter out invalid filters is a massive pain and hinders Kibana's usefulness. Is there any progress on this issue?

Currently I am forced to pick between hard-coding filters in the query or having to disable invalid filters whenever I want to see the Vega graphs. If anyone has a workaround, that would be great. It's getting to the point where I'm

[2021-07-07 10:47] mandeepkaur-qasource commented on #102891
Hi @MadameSheema

We have validated this defect on latest 7.14. 0 BC1 build and found the issue is **Not Fixed** as 'Case Name' is not getting wrapped and hence making the text not fitting on Success toaster UI.
We have validated this defect with both the options i.e 'Add to New Case' & 'Add to existing Case'

**Build Details:**
Version: 7.14.0 BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
B

[2021-07-07 10:48] sophiec20 opened #104609 "[ML] DFA custom results field is preserved after configuring it to use the default"
**Kibana version:**
Found in 7.14 BC1
(Issue likely existed in earlier versions).

**Describe the bug:**
Found when cloning.
DFA custom results field is preserved, even though I configuring it to use the default.
Because the configuration value becomes hidden from view, this is an unexpected outcome.

**Steps to reproduce:**
1. Create a DFA classification job using a custom results field, jobA
2.

[2021-07-07 10:48] elasticmachine commented on #104609
Pinging @elastic/ml-ui (:ml)

[2021-07-07 10:49] karanbirsingh-qasource commented on #103457
HI @MadameSheema

we have validated this issue on 7.14.0 BC1 and found it fixed . Now Timeline opens up in full-page and no issue of readability is there.

**Build Details:**
version: 7.14.0-BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
Build:42292

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/124746847-f5383500-df3e-11eb-92f9-01f503e22de5.png)

Hence Closing thi

[2021-07-07 10:49] #103457 closed

[2021-07-07 10:51] semd commented on #104602
Fixed here https://github.com/elastic/kibana/pull/104329

[2021-07-07 10:58] YulNaumenko commented on #80310
I agree that Enabled will correspond better to our Rule props definition, but we need to consolidate the logic with the RAC rules management page:
<img width="965" alt="Screen Shot 2021-07-07 at 1 55 12 PM" src="https://user-images.githubusercontent.com/55110838/124747948-5d533080-ded7-11eb-82b1-e5aab38a08ca.png">
Maybe we can have the similar in our list, but with title Enabled? (cc @elastic/kiba

[2021-07-07 10:59] karanbirsingh-qasource commented on #102321
Hi @MadameSheema

we have validated this on 7.14.0 BC1 and Found that **_issue is still occurring_** 🔴 . Case list disappears under recent case section for user having read case privilege

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/124748034-409f1300-df40-11eb-99e9-3b54705329a8.mp4

[2021-07-07 11:00] sqren opened #104611 "[APM] Fleet: incorrect url to cloud ui in tutorial"
From Slack:

![image.png](https://zube.io/files/elastic/2511d48950247dbe6d645f2b435cabf5-image.png)

[2021-07-07 11:00] elasticmachine commented on #104611
Pinging @elastic/apm-ui (Team:apm)

[2021-07-07 11:02] MadameSheema commented on #90761
@jonathan-buttner is this bug fixed?

[2021-07-07 11:04] karanbirsingh-qasource commented on #102319
Hi @MadameSheema

We have validated this issue on 7.14.0 BC1 and found that the issue is Fixed  ✅ . Now user lands to correct page "case list page" on manually navigating to Create Case URL `kiabana URL /app/security/cases/create?` for Read users.

**Build Details:**
[code]

**Snapshoot:**
![image](https://user-images.githubusercontent.com/59917825/124748734-17cb4d80-df41-11eb-9d9a-698654659527.pn

[2021-07-07 11:04] #102319 closed

[2021-07-07 11:05] cnasikas commented on #103071
@MadameSheema I am working on it.

[2021-07-07 11:06] cnasikas commented on #103229
@MadameSheema I am working on it.

[2021-07-07 11:08] cnasikas commented on #103437
@MadameSheema Yes. Any issues with the Swimlane instance should not be opened as an issue and should be resolve internally.

[2021-07-07 11:08] #103437 closed

[2021-07-07 11:13] #104451 closed

[2021-07-07 11:15] elasticmachine commented on #104605
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-07 11:18] elasticmachine commented on #104602
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 11:18] MadameSheema commented on #104602
@mandeepkaur-qasource please validate the fix of the issue on the next BC, thanks :)

[2021-07-07 11:19] MadameSheema commented on #102891
@cnasikas can you please take a look at this? thanks :)

[2021-07-07 11:21] elasticmachine commented on #104576
Pinging @elastic/ml-ui (:ml)

[2021-07-07 11:25] deepikakeshav-qasource opened #104616 "[Security Solution] Validation message for comment is displaying after buttons when click on Add comment"
**Describe the bug**
Validation message for comment is displaying after buttons when click on Add comment

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Endpoint should be installed

**Steps to Reproduce**
1. Go to Security App.
2. Click on case tab.
3. Create the case.
4. Click on add comment without adding any

[2021-07-07 11:25] elasticmachine commented on #104616
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 11:26] deepikakeshav-qasource commented on #104616
@manishgupta-qasource Please review!!

[2021-07-07 11:32] manishgupta-qasource commented on #104616
Reviewed & assigned to @MadameSheema

[2021-07-07 11:33] karanbirsingh-qasource commented on #103437
sure @cnasikas we will take care of this in future .

[2021-07-07 11:34] samratbhadra-qasource opened #104618 "The Integration Policy , Policy Response , Reassign Policy and Hostname Fields are not displaying in the host details flyout under Endpoints tab."
**Describe the bug**
The Integration Policy , Policy Response , Reassign Policy  and Hostname Fields are not displaying in the host details flyout under Endpoints tab.

**Build Details:**
VERSION: 7.14.0-BC1
BUILD:42292
COMMIT:071a74e02f82b79a4a10026b5c9e02d593112fd4
ARTIFACT:https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Preconditions**
Elastic 7.14.0-BC1 environment should be

[2021-07-07 11:34] elasticmachine commented on #104618
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-07 11:34] samratbhadra-qasource commented on #104618
@manishgupta-qasource please review.

[2021-07-07 11:39] ruflin opened #104620 "[Fleet] Improve default values for component templates"
Fleet installs packages and with it Elasticsearch index and component templates. This issue is to discuss potential improvements to the templates settings. Mapping improvements should be discussed separately. Below is a current example for `metrics-system.cpu`. The following entries I would like to discuss:

* `mapping.total_fields.limit`: This is set to 10000 likely because it was set that way in

[2021-07-07 11:39] elasticmachine commented on #104620
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 11:40] ruflin commented on #104620
@jpountz It would be great to get your input on the above from an Elasticsearch perspective.

[2021-07-07 11:41] manishgupta-qasource commented on #104618
Reviewed & assigned to @kevinlog

[2021-07-07 11:44] ruflin opened #104622 "[Fleet] Too many privileges for Elastic Agent data streams"
* Version: 7.14.0-SNAPSHOT

Looking at the default policy in 7.14 it contains the following permissions:

[code]

To not allow an API key to ingest data in any indices random data streams, no `*` should exists in the permissions block. But for `logs-elastic_agent.*-default` and metrics this is the case. Instead the specific sub processes should be listed here. It might be tricky to construct these

[2021-07-07 11:44] elasticmachine commented on #104622
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 11:44] ruflin commented on #104622
@michalpristas @afgomez You might be able to share more details on the above. What are the exact permissions needed for monitoring?

[2021-07-07 11:46] kevinlog commented on #104618
Hi @samratbhadra-qasource this page has been redesigned some.

See this ticket: https://github.com/elastic/security-team/issues/1223

Some changes:
- Integration Policy -> Policy
- Policy Response -> Policy Status
- Hostname -> Removed since it's in the header and was redundant
- Actions such as Reassign Policy are in the Take Action button now

Let me know if you have any questions!

[2021-07-07 11:46] #104618 closed

[2021-07-07 11:50] kevinlog commented on #104398
thanks @MadameSheema we will fix get a fix in this week.

[2021-07-07 11:53] deepikakeshav-qasource commented on #103459
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Not Fixed**. "_id" is displayed under description instead of drag and drop area when click on timeline investigation for threshold rule only.

Build Details:
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/124753486-abebe380-df46-11eb-97ad-f6711ee7cd63.png)

ht

[2021-07-07 12:00] Dosant commented on #93401
In recent customer feedback came up that after https://github.com/elastic/kibana/pull/71298 we started forcing date format as ISO format when the user inputs date **when creating a filter using a filter editor**.

This came up when creating a range filter:

![image](https://user-images.githubusercontent.com/7784120/124755384-97e6b880-df2b-11eb-90b0-6c4c6c8d2ce8.png)

* **Before** https://github.co

[2021-07-07 12:00] ghudgins opened #104623 "[Lens] Pass the dashboard context forward to maps"
**Describe the feature:**
Transitions from Lens to Maps does not preserve the dashboard context and would be nice if it did

**Describe a specific use case for the feature:**
*When* I create a dashboard panel via Lens
*And* I click "visualize" on a spatial field in Lens to explore the data in Maps
*And* I click "Save" on my map, satisfied with the result
*I need* the "Save" button to remember that

[2021-07-07 12:00] elasticmachine commented on #104623
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-07 12:00] elasticmachine commented on #104623
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 12:07] kpollich commented on #104549
For "In Kibana > Add data overview page, adjust the Fleet messaging", what do we want for the wording here? I took a "common sense" pass and simply removed the "Beta" wording, e.g.

![Screen Shot 2021-07-07 at 8 06 26 AM](https://user-images.githubusercontent.com/6766512/124756273-45d96f00-defa-11eb-80fc-5b0a2be3216a.png)

Wondering if the "New!" prefix should also be removed.

@jen-huang @mostlyj

[2021-07-07 12:10] mdefazio commented on #80310
@mikecote Yes, let's make that `Enabled` or `Disabled`.  We will update our wireframes on the RAC side

[2021-07-07 12:10] kevinlog opened #104624 "[Security Solution] Endpoint metadata Transform failed due to failure to gather field mappings"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Describe the bug:**
In a discuss forum, a user encountered a problem where the `endpoint-metadata-current*` transform had failed due to the following error in the Messages tab:

`Failed to gather field mappings for index [metrics-endpoint.metadata_current_default]`

After restarting the transform, everything worked as expected.

**Steps

[2021-07-07 12:10] elasticmachine commented on #104624
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-07 12:18] jloleysens commented on #86171
I'll respond on the open issue

[2021-07-07 12:18] jloleysens commented on #104411
This is a bug with honouring the `maxResult` value passed into the search provider. I'll open up a fix PR for this.

[2021-07-07 12:21] mikecote opened #104631 "Should the event log be marked as experimental for now?"

[2021-07-07 12:21] elasticmachine commented on #104631
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 12:27] elasticmachine commented on #104616
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-07 12:28] dej611 commented on #102179
Reopen this as the bug it still available on `7.14.0-8eba2f5f`.
I could not reproduce in `master` though.

[2021-07-07 12:40] stratoula commented on #102179
I am creating a backport for 7.14 https://github.com/elastic/kibana/pull/104634
Let's check it on thenext BC and close it then :)

[2021-07-07 12:44] mostlyjason commented on #104549
## Messaging for Kibana home page
Add Elastic Agent integrations
Add and manage integrations with Elastic Agent
Link to: integrations page

## Messaging for add data UI
Now generally available: Elastic Agent integrations
Elastic Agent integrations provide a simple, unified way to add monitoring for logs, metrics, and other types of data to your hosts. You no longer need to install multiple Beats,

[2021-07-07 12:47] ruflin commented on #102651
How is synthetics currently filtering down the data? I assume as this issue did not bubble up yet, it is not prefiltering on the `data_stream.*` fields? That these fields are missing means you can't reliably filter on it. There is an effort that we set the values of these fields already in the package itself and with it in the template, but not sure if this was also applied to the synthetics packa

[2021-07-07 12:49] kevinlog commented on #104398
@MikePaquette @caitlinbetz @bradenlpreston I want to confirm what this text should say.

Currently, I'm changing "...Security app..." -> "...Security Solution..." - let me know if this is correct.

Screenshot:
![image](https://user-images.githubusercontent.com/56395104/124761902-470d9a80-df00-11eb-9dd7-ab2607355f48.png)

[2021-07-07 12:53] elasticmachine commented on #104400
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-07 12:55] Dosant opened #104637 "[Field Formatters] Remove `any` from field formatter code"

[2021-07-07 13:00] ashokaditya commented on #104375
@kevinlog So I was able to reproduce this. The response has an error field that says `application action timed out`. This happens as the isolate action's response doesn't come back until I release the host right after. For some reason, the `isolate` action's responses do not come back right away.

[2021-07-07 13:02] #103881 closed

[2021-07-07 13:04] kevinlog commented on #104375
@ashokaditya got it - then this is likely a side effect of this issue: https://github.com/elastic/kibana/issues/102875

In the above issue, Isolation responses do not return until after we release the host.  Is this what you're seeing?

fyi @muskangulati-qasource

[2021-07-07 13:06] estermv opened #104645 "[Metrics UI][Test Scenario] Metrics Explorer – Metric Threshold Alerts"
## Summary

This set of test cases is a smoke test for Metric Threshold Alerts (from Metrics Explorer).

## Setup

- Create a test cluster in cloud
- Download the nightly build candidate for Metricbeat
- Setup Metricbeat locally on your laptop to send data to your test cluster
- Open Kibana
- Create an index pattern for `metricbeat-*`
- Navigate to the Metrics UI and click on Metrics Explorer

##

[2021-07-07 13:06] elasticmachine commented on #104645
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 13:09] estermv opened #104646 "[Metrics UI][Test Scenario] Metrics Explorer – Basic Functionality"
## Summary

This set of test cases is a smoke test for Metrics Explorer

## Setup

- Create a test cluster in cloud
- Download the nightly build candidate for Metricbeat
- Setup Metricbeat locally on your laptop to send data to your test cluster
- Open Kibana
- Create an index pattern for `metricbeat-*`
- Navigate to the Metrics UI and click on Metrics Explorer

## Test Cases

Each of the followin

[2021-07-07 13:10] Dosant commented on #84993
Duplicate of https://github.com/elastic/kibana/issues/59567

[2021-07-07 13:10] #84993 closed

[2021-07-07 13:12] estermv opened #104647 "[Metrics UI][Test scenario] Saved Views"
### Summary

https://github.com/elastic/kibana/pull/103146

### Scenarios
- [x] Is there a "Current View" button on the top left corner of the inventory page?
  - [x] If you visit the page with no url stats, does it say "Default View" selected?
  - [x] Can you click it and see a popover?
- [x] Does the popover work?
  - [x] Can you save a new view?
  - [x] Can you load a view?
  - [x] Can you upda

[2021-07-07 13:12] elasticmachine commented on #104647
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 13:12] mostlyjason commented on #104583
@aarju Would that be confusing if the agent names in Fleet didn't match the device name on the host or in active directory? Why not change the device name to something more meaningful? That has the advantage of making all your systems more useful from network hostnames to active directory, etc?

[2021-07-07 13:12] elasticmachine commented on #104583
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 13:14] estermv opened #104648 "[Metrics UI][Test Scenario] Inventory Basic Functionality"
### Summary
This test plan is for a smoke test on inventory screen

### Scenarios
- [ ] The page loads
  - [ ] Do you have the toolbars?
     - [ ] Does the inventory item dropdown have "Docker Container", "Hosts", "Kubernetes Pods" and "AWS"?
     - [ ] Do you have all of the default metrics, "CPU", "Memory", "Inbound Traffic" and "Outbound Traffic"?
     - [ ] Do you have a Group By dropdown wit

[2021-07-07 13:14] elasticmachine commented on #104648
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 13:17] estermv opened #104650 "[Metrics UI][Test Scenario] Inventory alerts"
### Testing requirements
It's easiest to test alerting on cloud. I'd recommend doing that.

### Scenarios
- [x] Is there an "Alerts" dropdown in the header on the inventory page?
  - [x] Can you open the alerts flyout from the dropdown?
  - [x] Can you click a link to manage all alerts
- [x] Can you click a tile in the waffle map and see the option to `Create alert`
  - When creating an alert from

[2021-07-07 13:17] paulb-elastic commented on #102651
@vigneshshanmugam is this anything you'd be able to look at on the Heartbeat side (/cc @shahzad31)?

Failing that, it would be if either @blakerouse or @urso have any capacity to help here?

[2021-07-07 13:17] elasticmachine commented on #104650
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 13:18] estermv opened #104652 "[Metrics UI][Test Scenario] Metrics Explorer – Saved Views"
## Summary

This set of test cases is a smoke test for Metrics Explorer saved view functionality

## Setup

- Create a test cluster in cloud
- Download the nightly build candidate for Metricbeat
- Setup Metricbeat locally on your laptop to send data to your test cluster
- Open Kibana
- Create an index pattern for `metricbeat-*`
- Navigate to the Metrics UI and click on Metrics Explorer

## Test Ca

[2021-07-07 13:19] elasticmachine commented on #104652
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 13:19] ppisljar commented on #104385
I agree, it sounds we should delete those.

[2021-07-07 13:29] #97947 closed

[2021-07-07 13:32] cnasikas commented on #102891
Hi @MadameSheema @mandeepkaur-qasource! This has been fixed by https://github.com/elastic/kibana/pull/103228. The user should not be able to create a case with a title more than 64 characters and the text in the toaster should be truncated. I tested it on master and is working as expected. I assume that the fix did not make it to BC1.

<img width="358" alt="Screenshot 2021-07-07 at 4 28 06 PM" src

[2021-07-07 13:35] Dosant opened #104655 "Research & POC"

[2021-07-07 13:36] elasticmachine commented on #104655
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-07 13:37] aarju commented on #104583
@mostlyjason unfortunately 99% of the time the Infosec team has no control over the naming conventions used in the enterprise and the larger the organization the less likely they are to have really useful hostnames. At my last org the hostnames didn't mean much but the 'comment' field within the computer object was used to describe what the system was for.

I think the `host.name` value should alw

[2021-07-07 13:40] MadameSheema commented on #102891
Thanks @cnasikas!

@mandeepkaur-qasource can you please take a look it on the next BC? Thanks!

[2021-07-07 13:41] mikecote opened #104659 "Add migration test for rule params flattened type"
Starting in 7.13, we added the capability to filter rule params by changing the mapping to flattened (https://github.com/elastic/kibana/pull/92036). We have afterwards uncovered that rules that had params with long string values would fail the migration (https://github.com/elastic/kibana/issues/100607). Therefore, we should add a migration test for this scenario to ensure the migration always runs

[2021-07-07 13:41] elasticmachine commented on #104659
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 13:45] caitlinbetz commented on #104398
Thanks @kevinlog we can maybe just leave it out? "For more information, view the Elastic Security documentation."

[2021-07-07 13:53] estermv commented on #104349
@mgiota I just created the test scenarios for Metric UI.
Do you think that would it make sense to include the new solution navigation as part of these scenarios? I don't see the navigation as a scenario by itself...

[2021-07-07 13:54] cnasikas commented on #102321
@MadameSheema @karanbirsingh-qasource I can confirm that the bug is on master also. I will open a PR with a fix. Fortunately it is not related to the RBAC but how the query is being made to the backend. It is worth noted that the first icon is to show "Recently created cases" and the second to show "My recently reported cases". A user with read only access to cases should see cases when pressing t

[2021-07-07 13:56] #95471 closed

[2021-07-07 13:56] jen-huang commented on #103634
@amolnater-qasource Can you try it in a different physical machine that is not in a VM? I still feel like it is a resource constraint issue.

[2021-07-07 13:58] cnasikas commented on #95471
Fixed by https://github.com/elastic/kibana/pull/101325

[2021-07-07 14:00] dominiqueclarke opened #104662 "[Uptime] [Synthetics Integration] Add Synthetics to the Elastic Stack filter on the Integrations page"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the enhancement:**
On the Integrations page, the Elastic Stack filter shows packages related to the Elastic stack. The Synthetics package should be in

[2021-07-07 14:00] elasticmachine commented on #104662
Pinging @elastic/uptime (Team:uptime)

[2021-07-07 14:00] MadameSheema commented on #102321
Thanks @cnasikas !!

[2021-07-07 14:01] dej611 opened #104665 "[TSVB] Default index pattern field value makes it behave as index pattern mode is ok always"
**Describe the bug:**

When there's no selected index pattern in TSVB a default one is picked up by the system. A side effect of that is ignoring the `index pattern mode` flag and make it behave as the flag is enabled.
For instance in this mode you can choose a runtime field.

<img width="559" alt="Screenshot 2021-07-07 at 15 54 32" src="https://user-images.githubusercontent.com/924948/124772443-5

[2021-07-07 14:01] elasticmachine commented on #104665
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 14:02] justinkambic commented on #104208
I'm not sure. In the example I listed, I don't have any monitors for the `*.facebook.com` domain, and yet Heartbeat is indexing cert data for three of my monitors. I'm thinking there's probably some Facebook-related resource on some of the public sites I'm watching with my synthetics suites, but I don't know enough about the way the agent identifies certificate data for logging. I suspect if I wer

[2021-07-07 14:06] tylersmalley commented on #104466
@thelink2012, I believe it's actually the hit count - @elastic/kibana-app-services should be able to provide more insights.

Here is a screenshot of the failure - looks like it's also raising an `offset out of bounds` error that could be related.

https://00f74ba44b78e50b7ac7837e03dfe92275a2914a3b-apidata.googleusercontent.com/download/storage/v1/b/kibana-ci-artifacts/o/jobs%2Felastic%2Bkibana%2Bp

[2021-07-07 14:11] mshustov commented on #103841
Besides the necessity to introduce a consensus protocol, there is a problem of blocking Kibana start - the very reason we [deprecated async lifecycles](https://github.com/elastic/kibana/blob/master/rfcs/text/0007_lifecycle_unblocked.md).

A plugin-specific async operation shouldn't block or prevent (in case of an exception) other Kibana plugins to start.
This problem becomes even more relevant in

[2021-07-07 14:14] flash1293 commented on #62381
It's possible to do this via formula as well (it will be documented how this works), this issue is tracking the addition of an option for the differences function so it's not necessary to use formula for this common case.

[2021-07-07 14:18] flash1293 commented on #96488
We will not provide a shortcut in the UI for this, but once #94609 is implemented this can be built manually with a formula using cumulative sum and overall sum

[2021-07-07 14:19] ghudgins commented on #96488
Here is a workaround for this in vega: https://github.com/elastic/kibana/issues/3905#issuecomment-854868031

[2021-07-07 14:22] flash1293 commented on #95142
This should be a separate chart type similar to "area percentage"

[2021-07-07 14:24] jportner commented on #104152
CC @kobelb

[2021-07-07 14:34] yuliacech opened #104669 "[ILM] Add explanation for searchable snapshots in Hot phase"
Mounting searchable snapshots in the Hot phase of an ILM policy is a limited use case for metrics data (which gets 'cold' very fast) and it can be confusing for users to see actions for searchable snapshots (fully-mounted index) both in the Hot and the Cold phases. We need to add more guidance for users so that they know about benefits of using searchable snapshots, especially in the Cold phase (m

[2021-07-07 14:34] elasticmachine commented on #104669
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-07 14:35] #99181 closed

[2021-07-07 14:38] afgomez commented on #104622
@ruflin my understanding is that we eventually want to get these permissions from the `elastic_agent` package, but that the package doesn't expose that yet.

Would it make sense to hold on to any changes to this code path until the package exposes the information we need, and then we are done with it?

Aside from this, what would be the downside of leaving the permission block with the wildcard? I

[2021-07-07 14:39] YulNaumenko commented on #80310
@mdefazio , this is the latest update from our discussion with @arisonl and @mikecote :
1. Title the column as Enabled and leave only switch button without text like RAC wireframes have. Make it sortable.
2. Change "Last updated" column to the "Last run" - opened a separate issue for this, because it requires a discussion on the API which should be used for populating this.
3. Move actions number

[2021-07-07 14:40] lizozom opened #104670 "[Search Sessions] Feature should be disabled for rollup indexes"
The rollup search does not work with search sessions.
At the moment, a user can create and save a session based on a rollup index.
Restoring that search session would be impossible and the session will be shown in a broken state:

![image](https://user-images.githubusercontent.com/3016806/124779276-8efce380-df39-11eb-8051-2ca5337cdff7.png)

Expected result: search seasons should be disabled when w

[2021-07-07 14:40] elasticmachine commented on #104670
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-07 14:40] weltenwort opened #104671 "[Observability] [RAC] Remove indexing of evaluation documents from lifecycle helper"
## :memo: Summary

Despite a recent decision to not index rule evaluation documents until it has been specified more thoroughly, the lifecycle executor utility in the `rule_registry` plugin still indexes them.

## :heavy_check_mark: Acceptance criteria

- The lifecycle executor helper only indexes the mutable alert documents and no evaluation documents.

[2021-07-07 14:40] elasticmachine commented on #104671
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 14:42] michalpristas commented on #104622
i'm also for enabling whatever package definition says so as alejandro described above

also bear in mind that with new change enabling us to specify namespace used in agent `metrics-elastic_agent.*-default` can be any `metrics-elastic_agent.*-{namespace}`

[2021-07-07 14:46] sqren commented on #104088
Was `team:apm` added on purpose?

[2021-07-07 14:54] sqren opened #104674 "[APM] Enable metric-powered ui by default"
Currently the ui is always rendered using transactions. For 7.14 the ui should prefer metrics over transactions:

https://github.com/elastic/kibana/blob/1c0dbea7ae879f48d7fc600df95e281b1c164efb/x-pack/plugins/apm/server/index.ts#L37-L46

Change `xpack.apm.searchAggregatedTransactions` to `auto`

[2021-07-07 14:54] elasticmachine commented on #104674
Pinging @elastic/apm-ui (Team:apm)

[2021-07-07 14:57] ruflin commented on #104622
The initial discussion on why we need this feature with more details around it can be found here: https://github.com/elastic/fleet-server/issues/101 The part that must be understood is that Elastic Agent can run on untrusted machines, for example your laptop. We already give API keys away and these should have as little permissions as possible as otherwise anyone could in theory overload the clust

[2021-07-07 14:58] joshdover commented on #103841
I think this is most complete write-up we have: https://github.com/elastic/kibana/blob/master/rfcs/text/0013_saved_object_migrations.md#52-single-node-migrations-coordinated-through-a-leaselock

Essentially, it's impossible to build a bullet-proof lease/lock on top of Elasticsearch as it is. So in order to use a lock, we'd need to either add Kibana node clustering & master election or work with th

[2021-07-07 15:03] sqren opened #104676 "[APM] Kuery bar gives invalid suggestions"
The kuery bar should give suggestions that are scoped to the current context (service name, environment, time range etc).

![image.png](https://zube.io/files/elastic/6e481330c0215509b83045c6968ced84-image.png)

It looks like it's no longer doing this, and will suggest values that are outside the given time range, causing the page to render empty:

![image.png](https://zube.io/files/elastic/20a3c1b

[2021-07-07 15:04] elasticmachine commented on #104676
Pinging @elastic/apm-ui (Team:apm)

[2021-07-07 15:04] sqren commented on #104676
This might have been fixed by https://github.com/elastic/kibana/pull/103987

[2021-07-07 15:07] lizozom commented on #104670
Incorrect report

[2021-07-07 15:07] #104670 closed

[2021-07-07 15:14] dokmic opened #104679 "[Canvas] Import workpad does not work via the import button"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Chrome, Firefox, Safari, Edge
**Browser OS version:** macOS, Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
Import workpad does not work via the "Import workpad JSON file" button. At the same time, the same functi

[2021-07-07 15:14] elasticmachine commented on #104679
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-07 15:26] jen-huang commented on #104622
Re: namespace - Fleet already uses the namespace the user defines (not always `default`) to generate the permissions so there is no issue there.

@michalpristas Is there a concrete list of all possible `elastic_agent` data streams?

If we don't go down the route of hardcoding it, we will have to fix https://github.com/elastic/integrations/issues/953 and also adjust Fleet to read from the package.

[2021-07-07 15:28] elasticmachine commented on #104646
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 15:28] YulNaumenko opened #104682 "Extend Rules list with the new column "Last run"."
This is a follow up issue on the initial comment.
To stay consistent with the changes for the RAC Rules management table, we need to extend Rules list in the Stack management with additional column 'Last run'.
Current issue should cover:
1. Investigation on which API is better to use to get last run for the rule (including the performance concerns) - `internal/alerting/rule/{id}/_alert_summary` or

[2021-07-07 15:28] elasticmachine commented on #104682
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 15:31] ryankeairns commented on #102901
Similar to the deployment switcher, I suspect this is blocked until we have an established communication solution. For that reason, perhaps the email route is worth pursuing in the meantime, if it doesn't already exist.

[2021-07-07 15:35] jen-huang commented on #104241
I was not able to reproduce locally on master, but similar to elastic/integrations#1293, I was able to repro on a Cloud 7.14 environment.

Reassigning this to @kpollich to take another look.

[2021-07-07 15:37] jen-huang commented on #104606
Data not being generated is generally not a Fleet issue. Forwarding this to the integrations team.

[2021-07-07 15:38] sqren commented on #104674
Duplicate of https://github.com/elastic/kibana/issues/92024

[2021-07-07 15:38] #104674 closed

[2021-07-07 15:39] mikecote commented on #85105
Closing due to no recent activity.

[2021-07-07 15:43] cjcenizal commented on #104244
@elastic/kibana-security This seems to be a flaky test due to a race condition. It looks like the test was trying to ensure the user menu in the top right corner was open. From the screenshot, you can see there's a spinner:

![image](https://user-images.githubusercontent.com/1238659/124788996-bc786b80-defe-11eb-855d-737fb271f5e9.png)

Normally this would be a button you can click to open the user

[2021-07-07 15:44] mikecote commented on #103922
Adding to To-Do to research if it's a bug or a no-data scenario. No-data scenario may require more work and re-prioritize.

[2021-07-07 15:45] mikecote commented on #104324
May also be an issue with index threshold.

[2021-07-07 15:46] jen-huang commented on #104584
@Zacqary do you think this is a side effect of the checks we do for preconfigured policies? I'd like to know what the impact is before committing to fixing it, i.e. does it increment on every /setup call even if there are no real changes?

[2021-07-07 15:48] jportner commented on #104244
Thanks, I'll add it to our backlog to investigate!

[2021-07-07 15:54] mikecote commented on #101597
If adding support for search is a bigger task, we should create a follow up.

[2021-07-07 16:07] lukasolson commented on #104515
There's actually a workaround for this, maybe we need to put it into the release notes. If you add the following to your kibana.yml, it will revert to the old method of retrieving autocomplete suggestions:

[code]

@elastic-jb What are your thoughts on this?... This is something we discussed (that CCS wouldn't work with the new `_terms_enum` method of getting suggestions).

[2021-07-07 16:11] myasonik commented on #89859
Flagging a new a11y feature that's coming in Charts really soon: adding semantic meaning to colors. (https://github.com/elastic/elastic-charts/pull/1218)

Explicit docs are also incoming (https://github.com/elastic/eui/pull/4916) but there's not much for this.

Just something we need to keep in mind while building out support that we have an a11y specific feature to support as well.

[2021-07-07 16:14] timroes commented on #89859
@ghudgins I think we should consider that when building the UI for the color stops in gauges to allow the user to configure those semantic information on the chart ranges. Since those won't have yet a visible representation in the charts I think we might want to pack that input into some "advanced" popover?

[2021-07-07 16:14] lizozom opened #104689 "[Search Sessions] Persisted session with 0 searches never gets cleaned up."
If due to some mishap a session with no searches gets persisted, it will be stuck `in progress` forever.
It should get cleared out after some time.

[2021-07-07 16:14] elasticmachine commented on #104689
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-07 16:23] joshdover opened #104690 "Filter out documents of unknown types during migrations"
After #103341 merged, we've noticed many upgrade failures due to documents still existing for types that have been removed from Kibana's codebase. We've had no process for tracking these removals so there are some SO types that have likely had old stale documents in customers' `.kibana` index for some time.

Prior to #103341, these documents would have caused issues for v2 migrations, causing the

[2021-07-07 16:23] elasticmachine commented on #104690
Pinging @elastic/kibana-core (Team:Core)

[2021-07-07 16:25] mshustov commented on #103010
Do we really need to bother admins every time `IF the setting is still used `?

I can see several different cases:
- a setting is removed. Kibana can ignore the setting or remove it on its own. No additional actions are required.
- a setting is not registered because a plugin-owner is disabled. Kibana might ignore the setting. Let's don't clutter up the console with un-actionable messages.
- setti

[2021-07-07 16:30] smith opened #104692 "Accessibility tests for APM UI"
Use the `testAppSnapshot` function from the `a11y` functional test service to run accessibility tests in APM end to end tests.

Meta issue: #51456.

[2021-07-07 16:33] weltenwort opened #104694 "[Logs UI] Properly report the reasons for failed ML module installations"
## :memo: Summary

Errors that occur during the installation of ML jobs and datafeeds from the Logs UI ML modules should provide more information to the user about the cause and potential mitigation actions.

## :heavy_check_mark: Acceptance criteria

- The Logs UI's ML job setup wizard exposes the error information returned by the ML module API to the user.

[2021-07-07 16:33] elasticmachine commented on #104694
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 16:34] Zacqary commented on #104584
Looks like this is a bug introduced in https://github.com/elastic/kibana/pull/103722. Seems the `update` call is always happening even if none of the top-level fields have changed. Looking into it.

[2021-07-07 16:34] dej611 opened #104695 "[TSVB] Gauge visualization crashes the TSVB editor"
**Kibana version**: 7.14-BC

**Describe the bug:**

Opening the `disk Used [Metrics system]` visualization with an empty `metrics-*` indexpattern leads to the TSVB editor to crash.

https://user-images.githubusercontent.com/924948/124796256-3f2a1680-df51-11eb-9737-e709445bc2d1.mp4

The visualization is shown fine as other TSVB gauge visualizations from the same set on a dashboard.
Opening other TS

[2021-07-07 16:34] elasticmachine commented on #104695
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 16:35] dej611 commented on #104695
I wonder if there's any relationship with #98120

[2021-07-07 16:41] MadameSheema commented on #104403
@yiyangliu9286 can you please help with the design of the solution for this issue? Thanks :)

[2021-07-07 16:49] tsullivan commented on #104466
@tylersmalley the link is expired FYI

[2021-07-07 16:52] timroes opened #104697 "Reduce `charts` bundle size"
Did some investigation. The easiest way to save some bytes is to not require the `color` package in the main bundle.

This is where it's used:

[code]

Plan:

* Lazy load legacy color service (getLegacyColorService: Promise<LegacyColorService> on contract instead of instance)
* Resolve in render method of VisController in vislib and pass down to initVisConfig
* Pass this service getter into Palett

[2021-07-07 16:52] elasticmachine commented on #104697
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 16:52] flash1293 commented on #89859
@timroes As we will reuse the existing color stops UI I think we should tackle this holistically and apply the same changes for all places we are using it (table, and soon heatmap and metric). I would like to split that out from the gauge work.

[2021-07-07 16:53] bhavyarm commented on #104515
Please note - CCS is setup with the same version of the stack here for local and remote clusters.

[2021-07-07 16:55] simianhacker opened #104699 "[Metrics UI] Drop buckets that DO NOT strictly fall within the specified time range."
While researching some issues with our alerting system, it's come to my attention that `hard_bounds` will limit the number of buckets to exactly what we would expect. For example, if you query `5m` of data with a `date_histogram` set to  `60s` `fixed_interval` buckets, it will return exactly `5` `60s` buckets.

If you set that to `extended_bounds`, the same query might return `6` buckets, it seems

[2021-07-07 16:55] elasticmachine commented on #104699
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 16:55] spong commented on #104408
Until we have dedicated UI for editing `Exception Lists` this will be dependent on deep linking (https://github.com/elastic/kibana/issues/92345) so we can navigate to a specific rule details page and select the `Exceptions Tab` (though arguably confusing UX since you're on a specific rule).

cc @elastic/security-design for feedback here.

[2021-07-07 17:00] ppf2 commented on #104532
Related: https://github.com/elastic/eui/issues/4826

[2021-07-07 17:10] peteharverson opened #104706 "[ML] Search on job tags fails if field value contains the @ character"
A search on the anomaly detection job management page using the `job_tags` field inside `custom_settings`, as added in https://github.com/elastic/kibana/pull/102099, fails if the field value used in the search contains an `@` character.

For example, a search such as `job_tags:(euid:8014 or author:@randomuserid)` fails to match the expected one job which contains that tag in the following search,

[2021-07-07 17:10] elasticmachine commented on #104706
Pinging @elastic/ml-ui (:ml)

[2021-07-07 17:18] ghudgins commented on #104223
discussed briefly in datavis weekly and in the current lens chart type paradigm it makes most sense as its own type until such time we decide to collapse the number of types to just `partition` (treemap / pie / mosaic)

[2021-07-07 17:31] #104275 closed

[2021-07-07 17:37] tylersmalley commented on #104466
Will embed it this time:

![image](https://user-images.githubusercontent.com/40265/124804528-42041780-df0f-11eb-8bd8-781f75b12ece.png)

[2021-07-07 17:39] tylersmalley commented on #104469
I believe the cause is here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104467
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104413
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104409
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104366
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104365
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] tylersmalley commented on #104364
I believe this is a bug in a recent ES change raised here: https://github.com/elastic/kibana/issues/104466#issuecomment-875143169

[2021-07-07 17:39] ppisljar commented on #74643
we had a meeting and decided to keep removing lens multitable. we might revisit the multitable later if usecase for it comes up.

key points:
- using multitable vs varables in lens doesn't have much tech differences but the later seems to bring in a different mental model which might be better for our users

[2021-07-07 17:41] tsullivan commented on #104466
I ran the test locally using the latest master of Elasticsearch:

Started server:
[code]
Ran the test:
[code]

I saw the test was failing on this URL: `http://localhost:5620/app/discover?_t=1625679054850#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2015-09-18T06:31:44.000Z',to:'2015-09-23T18:31:44.000Z'))&_a=(columns:!(_source),filters:!(),index:'logstash-*',interval:auto,query

[2021-07-07 17:42] #98649 closed

[2021-07-07 17:46] vigneshshanmugam commented on #102651
Did a quick look at the code and seems like Heartbeat already has support for data streams and it feels like we are missing the configuration from the integrations side. I am not a heartbeat expert and might be wrong.

Here is the PR for the Data streams support - https://github.com/elastic/beats/pull/24223 And I did a quick test on my local and can confirm it works as expected.

[code]

[2021-07-07 17:53] kpollich commented on #104241
Similarly unable to reproduce locally running on main branch w/ a local package registry service also running off main. Spinning up a cloud environment to investigate further.

[2021-07-07 17:53] tsullivan commented on #33796
I'm highly in favor of this. There is a standard of using the toasts service to show an error when something goes wrong, but this often does not show low-level details about the error. the addError method of the service accepts an Error object parameter, but this does not work well if the actual error object is a custom class that extends Error.

In addition to having the error toasts in the UI, i

[2021-07-07 17:53] elasticmachine commented on #104692
Pinging @elastic/apm-ui (Team:apm)

[2021-07-07 17:54] elasticmachine commented on #104692
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-07-07 17:54] #102491 closed

[2021-07-07 17:57] #104549 closed

[2021-07-07 18:07] chrisronline opened #104733 "[Alerting] Index connector reports missing JSON when it has it"
Tested on staging cloud 7.14

If I create a rule with an index connector and then try to edit something else about the rule, I see this:

<img width="610" alt="Screen Shot 2021-07-07 at 2 04 50 PM" src="https://user-images.githubusercontent.com/56682/124808060-7934f180-df2c-11eb-9563-3087f47367a3.png">

Simply deleting any character and readding the same character shows success:

<img width="624"

[2021-07-07 18:07] elasticmachine commented on #104733
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 18:11] #103090 closed

[2021-07-07 18:13] cjcenizal commented on #33796
@tsullivan You might want to check out https://github.com/elastic/kibana/issues/104235 for some thoughts I've had on this subject. There are links to related issues which you might also find relevant.

[2021-07-07 18:14] dominiqueclarke commented on #102651
@vigneshshanmugam and I synced offline and confirmed that, while we do have support for data streams, the data stream documents are missing the necessary fields. These fields, as far as I am aware, will need to be indexed on the heartbeat side as the integration package is passing information for all the necessary fields within the integration policy.

[2021-07-07 18:17] kevinlog commented on #104398
@mandeepkaur-qasource - take note of the solution provided by @caitlinbetz : "For more information, view the Elastic Security documentation."

[2021-07-07 18:21] YulNaumenko opened #104744 "[Docs] Update alerting docs screenshots according to the new default Amsterdam theme."
We should update all alerting screenshots according to the new default theme from the Kibana version 7.14.

[2021-07-07 18:21] elasticmachine commented on #104744
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 18:23] chrisronline opened #104745 "[Alerting] Connector errors are hidden if collapsed"
Tested on staging cloud 7.14

If there are validation errors with connectors, they aren't shown when the connectors are collapsed. This creates a poor UX when the user clicks `Save` and nothing happens.

<img width="641" alt="Screen Shot 2021-07-07 at 2 20 17 PM" src="https://user-images.githubusercontent.com/56682/124809950-b5695180-df2e-11eb-8e14-fbc2568eab0b.png">

<img width="646" alt="Screen

[2021-07-07 18:23] elasticmachine commented on #104745
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-07 18:25] ravikesarwani opened #104746 "Documentation update for Agent and Fleet based data collection for stack monitoring"
**This issue is a starting point and needs to be groomed further as work on Agent packages move forward in 7.15**

This issue is to track changes needed in documentation as we release Elasticsearch, Kibana and Logstash Agent packages.
Agent based data collection for stack monitoring will become the recommended method in 8.0 release cycle.

Multiple places of doc are affected to describe new Agent

[2021-07-07 18:25] elasticmachine commented on #104746
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-07 18:25] elasticmachine commented on #104746
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-07 18:36] dominiqueclarke commented on #104187
@formgeist

Could you provide more information about your browser and OS?

I am not able to reproduce MacOS Catalina in the latest versions of Chrome, Firefox, or Safari.

[2021-07-07 18:45] dokmic opened #104751 "[Canvas] Broken workpad on page removal"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Chrome, Firefox, Edge, Safari
**Browser OS version:** macOS, Windows 10
**Original install method (e.g., download page, yum, from source, etc.):** from source
**Describe the bug:**
After removing a page in a workpad, the workpad is no longer editable, and the layout is showing a blank

[2021-07-07 18:45] elasticmachine commented on #104751
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-07 18:50] kibanamachine commented on #90155
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/319/)

[2021-07-07 19:03] dominiqueclarke opened #104753 "[Fleet] Save integration button covers integration content in edit policy page"
**Kibana version:**
8.x, 7.14

**Elasticsearch version:**
8.x, 7.14

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the enhancement:**
On the edit policy page, content for the integration may be overlapped by the save integration button

In Synthetics, t

[2021-07-07 19:03] elasticmachine commented on #104753
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 19:09] ecezalp commented on #104089
hmm watched the video, this is somewhat unexpected indeed. assigning to myself

[2021-07-07 19:09] jportner commented on #82578
PR to deprecate the legacy audit logger in 7.15: #104685

[2021-07-07 19:11] poffdeluxe opened #104754 "[Canvas] Undo/redo sometimes causes previews to not load"
**Kibana version:** 7.14

**Describe the bug:**
On a multi-page workpad, if I quickly undo multiple changes, the page preview for a few pages is blank and never updates

**Steps to reproduce:**
1. Have multiple pages on a workpad
2. On one page, have a markdown element and modify it several times
3. Quickly undo your changes

**Expected behavior:**
The page previews update to show their content

*

[2021-07-07 19:11] elasticmachine commented on #104754
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-07 19:11] ecezalp commented on #104077
this is intentional responsiveness, as the full text does not fit once the screen is below a certain number of pixels. assigning it to @yiyangliu9286 in case there are other designs suggested here, although I would say this is lower prio considering the usability of the feature is not impacted.

[2021-07-07 19:12] kpollich commented on #104241
I was unable to reproduce this on a fresh 7.14 cloud instance as well. Both EC2 and DynamoDB appear to be generating the correct README, and their respective links contain the proper `?integration` query parameter.

![Screen Shot 2021-07-07 at 3 06 44 PM](https://user-images.githubusercontent.com/6766512/124815285-18f67d80-df35-11eb-9c5f-2174669b5afb.png)
![Screen Shot 2021-07-07 at 3 06 59 PM](ht

[2021-07-07 19:16] vigneshshanmugam commented on #102651
I was able to verify that the documents were missing the `data_stream.*` fields. Did a quick fix for the same https://github.com/elastic/beats/pull/26774. I don't know much about the integrations side of things, If anyone can do quick test to confirm the fix, it would be great.

[2021-07-07 19:16] ecezalp commented on #103644
I believe that this issue has been fixed with elastic/kibana#104523, could you please retest? @manishgupta-qasource @MadameSheema

[2021-07-07 19:18] ecezalp commented on #103639
Hmm as far as I know there was no product / design requirement around an alphabetical order, although it's a small change. @yiyangliu9286 could you please confirm if an alphabetical order is preferred here?

[2021-07-07 19:19] pmuellr commented on #101503
A couple of things we'll need to do:

- figure out what directory to put this in; and do we need a "script wrapper" like other kibana scripts to launch it?
- use Kibana pre-reqs; I _think_ these tools use a different command-line parser than Kibana does, so that should be changed.  And there may be some additional pre-reqs we need to add, like hjson.
- figure out the cross-version support story; o

[2021-07-07 19:24] yiyangliu9286 commented on #103639
I am not aware listing as the alphabetical order is part of the requirement, but if the idea is that other widgets items are listing as the alphabetical order, I think we could potentially align that for our widget as well. @shimonmodi could you please confirm if we'd like each source to be listed as alphabetical order or no?

[2021-07-07 19:26] ecezalp commented on #103639
we could also sort by number of events (highest on top) as a possibility, whatever works best

[2021-07-07 19:46] lukasolson commented on #104515
@bhavyarm Both are on 7.14?

[2021-07-07 19:47] MikePaquette commented on #104406
Thanks all,  @MadameSheema I will talk to @bfishel and revert back with a final decision.

[2021-07-07 19:53] dominiqueclarke opened #104758 "[Uptime] [Synthetics Integration] Asset tab - direct to the Uptime Monitor page, filtered by `monitor.isFleetManaged : true`"
In elastic/kibana#103554, the Fleet team added support for a custom Assets tab, to support packages that don't export assets, and added basic custom components for all such integrations

The Fleet team was nice enough to write up a basic as component for us that directs uses to the Uptime Monitors page.

<img width="1223" alt="Screen Shot 2021-07-07 at 3 50 27 PM" src="https://user-images.githubus

[2021-07-07 19:53] elasticmachine commented on #104758
Pinging @elastic/uptime (Team:uptime)

[2021-07-07 20:09] neptunian commented on #104647
@simianhacker Should add a scenario for https://github.com/elastic/kibana/pull/103146?

[2021-07-07 20:09] jgowdyelastic commented on #104706
This is a query parsing issue in the `EuiSearchBar`. Our `onChange` function only receives an error. This is not something we can fix in our code.
There was a problem where the parsing error was not being displayed which is fixed in https://github.com/elastic/kibana/pull/104759

[2021-07-07 20:10] #99211 closed

[2021-07-07 20:18] dominiqueclarke commented on #100859
Test plan looks good. I don't notice any additional UX issues beyond what has already been reported with this new layout.

[2021-07-07 20:22] ghudgins commented on #59430
heard this workflow today:

I want to filter my windows event logs for important process.name such as rundll32.exe.
Then I want to look for suspicious process.parent.name which should not use rundll32.exe
I can do this by looking for the bottom N / Rare parent processes with Lens Aggregation that is filtered by my search query.
Then I can can use Discover to look at the process and suspicious pare

[2021-07-07 20:23] MikePaquette commented on #104406
Thanks @MadameSheema and Hi @semd Sorry for the late changes - I just spoke with @bfishel and we prefer a solution that keeps the navigation item as "Exceptions",  the page title as "Exceptions" and includes a description line that says "Exceptions are automatically grouped into exception lists."  Like this:

![image](https://user-images.githubusercontent.com/22619280/124823578-60820700-df3f-11eb-

[2021-07-07 20:24] dominiqueclarke commented on #104208
@justinkambic You are right, it does seem to work when defining a `facebook.com` monitor

<img width="1549" alt="Screen Shot 2021-07-07 at 4 24 02 PM" src="https://user-images.githubusercontent.com/11356435/124823992-cb334280-df3f-11eb-9a79-971dccc283d4.png">

Interesting. This makes me wonder how we should treat these types of certs to begin with. If the cert is for a 3rd party resource, should w

[2021-07-07 20:26] kpollich commented on #104241
Took a look at the code that generates these package cards + links, and as long as the API response from `/api/fleet/epm/packages` includes an `integration` value for a given package, its value will be included in the link for an integration.

There is no conditional logic, caching, etc that I can see in the UI layer that would interfere with mapping this API response to the package cards.

A few

[2021-07-07 20:30] neptunian commented on #104647
Tested on 7.14 cloud

[2021-07-07 20:30] #104647 closed

[2021-07-07 20:44] spalger commented on #90155
Interesting... not super worried about this but it's very strange that this hasn't failed in so long and then failed twice, once in 7.13 (above) and once in this PR (https://github.com/elastic/kibana/pull/104747) at the same time... Spooky?

[code]

[2021-07-07 20:44] justinkambic commented on #104208
If we decide that we don't want the certs to show up, we should be able to adjust the query to avoid this by requiring certain fields. That said - how do we want to handle this from a use-case perspective?

[2021-07-07 20:50] yiyangliu9286 commented on #104077
Agreed with @ecezalp from a design perceptive; I am not seeing the CTA buttons are having usability issues and it'd be better to have the buttons be responsive when users are navigating this page in a smaller pixels browser. This might be a lower priority fix.

[2021-07-07 21:01] dominiqueclarke opened #104765 "[Uptime] TLS and TLS Legacy rule types have inverted descriptions on the Rules and Connectors page"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 92

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The TLS and TLS Legacy rule descriptions are inverted on the Rules and Connectors page. The descriptions should be switched.

![image]

[2021-07-07 21:01] elasticmachine commented on #104765
Pinging @elastic/uptime (Team:uptime)

[2021-07-07 21:17] lukeelmers opened #104766 "[maps][7.14] Document tiles disappear at zoom levels <= 2 when using vector tiles on over 10k results"
**Kibana version:** 7.14 (BC1)

**Browser version:** Safari 14.1.1

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**

In 7.14, when adding a Documents layer that uses vector tiles, tiles for the layer will disappear when zooming out really far, if there are a large number of hits.

As far as I can tell, this only happens if the following condi

[2021-07-07 21:17] elasticmachine commented on #104766
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-07 21:23] #104584 closed

[2021-07-07 21:24] jasonrhodes commented on #95914
Closed by https://github.com/elastic/kibana/pull/101850

[2021-07-07 21:24] #95914 closed

[2021-07-07 21:26] jasonrhodes commented on #100713
Closed by https://github.com/elastic/kibana/pull/103816

[2021-07-07 21:26] #100713 closed

[2021-07-07 21:49] cjcenizal commented on #41936
Related ES request: https://github.com/elastic/elasticsearch/issues/43368

[2021-07-07 21:51] yiyangliu9286 commented on #104403
I think the way things work in Kibana right now is that breadcrumbs chart the sitemap rather than the user’s path. Since  "Back to Detection Rule" in the Rule details page is a correct IA here; we might want to be aligned with the global setting for breadcrumbs across Kibana.

In this context, if the users want to go back to the Alerts page they would need to click on the back button on their brow

[2021-07-07 21:51] lukeelmers commented on #104690
Would running the 7.14 upgrade be necessary? I thought we ran migrations on SO import? Perhaps the workaround be simplified to:
1. Set up 7.13 cluster
2. Export objects of the type you want
3. Import those into the new 7.14 cluster once you've enabled the relevant plugin(s), and migrations should run

This would be another area where https://github.com/elastic/kibana/issues/55404 could potentially

[2021-07-07 21:55] pgayvallet commented on #104690
These scenarios works as long as we don't have references between a disabled and an enabled type during the migration, during the migration of the disabled type's `convertToMultiNamespaceTypeVersion`.

Please refer to https://github.com/elastic/kibana/issues/101351#issuecomment-856868176 for the detailed edge case, but in short:

- we're in version 7.14.0
- we got two types:
  - `foo` that has its

[2021-07-07 22:10] kobelb commented on #104152
@thomasneirynck I feel like I should start with a warning that I'm not really familiar with Vega or EMS architecture to comment on the specifics. This leaves me to talk a bit more vaguely, unfortunately. Hopefully, it's not too hand-wavey. I'm also not a lawyer, so what follows might be pedantically incorrect or just entirely wrong.

## SSPL vs Elastic License v2

All Kibana code that is outside o

[2021-07-07 22:28] pgayvallet commented on #104088
@sqren sorry, no, removed it after creating the issue

[2021-07-07 22:30] nreese commented on #104766
Closing, this is expected. The tile is showing that too much data exists to render.

[2021-07-07 22:30] #104766 closed

[2021-07-07 22:38] wylieconlon opened #104776 "[Lens] Opening an embedded Lens visualization without opening the Lens editor causes console error"
The steps for this are a bit tricky to reproduce, but essentially they are:

1. Create a dashboard, then create a visualization from the dashboard and save it back to the dashboard. I think you can save to the library as well, the cause is the same.
2. Save the dashboard
3. Go to your dev tools and clear the `lens-settings` localstorage key.
4. Refresh the dashboard

The error is caused by attempt

[2021-07-07 22:38] elasticmachine commented on #104776
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-07 23:08] mattkime opened #104781 "[rollup index patterns] rollup fields displayed incorrectly in index pattern management"
Happening in 7.14 and 7.13, haven't checked 7.12 and earlier.  They should have little '?' icons next to them but it seems they should have a type as well, but I'm uncertain because I haven't found it documented.

Index pattern fields don't have proper type info which might cause problems in some situations but searchable and aggregratable attributes are accurate so they usually work.
<img width="

[2021-07-07 23:08] elasticmachine commented on #104781
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-07 23:39] nickpeihl opened #104783 "[Alerting] Jira connector should only list API token"
**Kibana version:**
7.14.0-BC

**Describe the bug:**

There is a form label in the Authentication section of the Jira connector that says "API token or password". But, as of 2019, passwords are no longer supported according to https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-basic-auth-and-cookie-based-auth/. So I think the form label should just say "API token".

As a new us

[2021-07-07 23:46] spong commented on #104371
In reviewing https://github.com/elastic/kibana/pull/104559#pullrequestreview-701509592, a stack trace was identified coming from the auto-complete service, and seemingly related to https://github.com/elastic/kibana/pull/100174, so will want to cross-check the changes there with this issue is well.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/1248417

[2021-07-08 00:05] tsullivan opened #104787 "[Lens] unable to add last value of date/string field"
**Kibana version:** 7.14.0-bc1
**Original install method (e.g. download page, yum, from source, etc.):** docker
**Describe the bug:**
Input validation prevents the user from configuring a table in Lens from showing the last value of a date field.

**Steps to reproduce:**
1. Install the ecommerce sample dataset
2. Go to **Visualize Library > Create** and choose Lens
3. Change the chart type to tabl

[2021-07-08 00:06] elasticmachine commented on #104787
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 00:42] tsullivan opened #104790 "[Lens] Unnecessary data reload after saving Lens as new"
**Kibana version:** 7.14.0=bc1

**Elasticsearch version:**

**Server OS version:**

**Browser version:** Chrome 91

**Browser OS version:** Linux

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**

After editing a Lens chart and saving it as a new chart, all the data in the UI is cleared out and gets reloaded from the search. This should not ha

[2021-07-08 00:42] elasticmachine commented on #104790
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 00:54] tsullivan opened #104791 "[Reporting/Tech Debt] Return objects in Job APIs are inconsistent"
**Kibana version:** 5.0+

The `job` routes in Kibana reporting return different "flavor" of objects:
 - `info/<jobId>`: returns ReportApiJSON
 - `list`: returns `ReportDocument`

This causes various components under reporting/management to use different shapes of objects in props, making refactoring and reasoning the code difficult - namely the "button" components in `x-pack/plugins/reporting/publ

[2021-07-08 00:55] elasticmachine commented on #104791
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-08 00:55] elasticmachine commented on #104791
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 01:02] #104679 closed

[2021-07-08 01:10] kibanamachine commented on #101126
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/322/)

[2021-07-08 01:11] kibanamachine commented on #93354
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15220/)

[2021-07-08 02:14] cuff-links opened #104793 "[ILM] List view loses field names and alignment on smaller screens"
### Kibana version
7.14 BC1

### Elasticsearch version
7.14 BC1

### Browser
All

### Steps to reproduce

1. Go to Navigation Drawer > Stack Management > Index Lifecycle Policies
2. Resize the browser to be at about 400px wide (like a phone screen)

### Expected Behavior
The list view for the ILM policies should resize and it should still be obvious what the different fields mean.

### Actual Beha

[2021-07-08 02:14] elasticmachine commented on #104793
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-08 02:16] jasonrhodes commented on #64148
Adding a comment here: in observability, we have a problem where when a composite agg query has a ton of pages to page through, it can run for a very very long time (days, sometimes) inside of a rule execution. In these situations, the user doesn't really have a good way out of it besides restarting Kibana, which would kill all of their currently running rules.

Disabling the specific rule is also

[2021-07-08 03:04] bhavyarm commented on #104515
@lukasolson yes

[2021-07-08 04:06] #102651 closed

[2021-07-08 05:20] cuff-links opened #104801 "[Index Templates] Component Templates Step has overlapping buttons and icons."
### Kibana version
7.14 BC1

### Elasticsearch version
7.14 BC1

### Browser
All

### Steps to reproduce

1. Go to Navigation Drawer > Stack Management > Index Management > Index Templates
2. Click Create new Template
3. Resize the browser to be at about 400px wide (like a phone screen)
4. Go to step 2 for component templates
5.  Scroll down the index templates to where the buttons are at the bott

[2021-07-08 05:20] elasticmachine commented on #104801
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-08 05:46] peluja1012 opened #104802 "[Security Solution] Duplicated Prebuilt rules are double counted in Rule Management page"
**Describe the bug:**
Install prebuilt rules. Then select all 553 rules via the "select all" feature - then choose bulk actions and duplicate.  Correctly 553 custom rules appear, but incorrectly the total number of Elastic rules doubles to 1106.

**Kibana/Elasticsearch Stack version:**
7.14

**Screenshots (if relevant):**
![image](https://user-images.githubusercontent.com/22619280/124775106-57c40d

[2021-07-08 05:46] elasticmachine commented on #104802
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-08 05:46] elasticmachine commented on #104802
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-08 06:02] ruflin commented on #102651
If the fields are now shipped by heartbeat directly, I don't think any changes to the integrations are needed. Can you test that also a change to the namespace works as expected?

[2021-07-08 06:07] vigneshshanmugam commented on #102651
I did a test with the fix using an example integration policy @dominiqueclarke has sent over to me and it works as expected.
<details>
  <summary>Integration Policy</summary>

[code]
</details>

Also the fix is landed in master and also back ported.

[2021-07-08 06:10] yctercero commented on #104406
PR with fix here - https://github.com/elastic/kibana/pull/104803

@MikePaquette would you mind taking a look at the screenshots in the PR?

[2021-07-08 06:18] kibanamachine opened #104804 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/role_mappings·ts - security app Role Mappings displays a message when no role mappings exist"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15368/)

[2021-07-08 06:21] yctercero commented on #104580
PR addressing fix https://github.com/elastic/kibana/pull/104805

[2021-07-08 06:25] ruflin commented on #104622
++ on fixing the package. I'll try to take a stab at it.

[2021-07-08 06:36] stratoula opened #104806 "[Datatable] Inspector shows no data for the legacy table"
**Describe the bug:**
If I enable the legacy table and click on the inspector I get:
![image](https://user-images.githubusercontent.com/17003240/124873790-97076280-dfcf-11eb-89c2-e4d0c4eb0c91.png)

**Any additional context:**
We are planning to remove or deangularize the datatable. In case of removal, this will be closed.
Let's revisit this bug then.

[2021-07-08 06:36] elasticmachine commented on #104806
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 06:41] stratoula opened #104807 "[Vislib] Remove the angular import"
On vislib https://github.com/elastic/kibana/blob/master/src/plugins/vis_type_vislib/public/vislib/lib/binder.ts#L11 there is a remaining angular import.

As vislib is not going to be removed before 7.16 and on our effort to deangularize everything, we should remove this dependency.

[2021-07-08 06:41] elasticmachine commented on #104807
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 07:10] mandeepkaur-qasource opened #104811 "[Security Solution]404 error is getting displayed on clicking at 'Enable Module' link from upgraded Kibana instance"
**Description:**
404 error is getting displayed on clicking at 'Enable Module' link from upgraded Kibana instance

**Build Details:**
Version: 7.13.3 BC2
Commit:d19e726c3cf6c1d392ec05bd8b9d1b8b9c6fd617
Build:41006
Artifact Page : https://staging.elastic.co/7.13.3-2a16d0f1/summary-7.13.3.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and A

[2021-07-08 07:10] elasticmachine commented on #104811
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-08 07:11] mandeepkaur-qasource commented on #104811
@manishgupta-qasource  Please review!!

[2021-07-08 07:20] michalpristas commented on #104622
@jen-huang we dont have a list but assuming we have a static set of programs/processes we are able to run, I could compile one if it's needed

[2021-07-08 07:27] flash1293 commented on #104790
Maybe we can resolve this easily once the state management refactoring is done

[2021-07-08 07:29] ruflin commented on #104622
I started https://github.com/elastic/integrations/pull/1298 as a draft. @michalpristas could you share the list or check my PR to see if I miss something? I assume we need logs and metrics for each process?

[2021-07-08 07:31] dikshachauhan-qasource opened #104813 "[Fleet] Background Color is not provided for 'View Assets' button."
**Kibana version:** 7.14 BC1 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integrations tab.
	- Select any integration and add it to any policy.
	- Observe, a confirmation success toast with

[2021-07-08 07:31] elasticmachine commented on #104813
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 07:31] dikshachauhan-qasource commented on #104813
@manishgupta-qasource Please review

[2021-07-08 07:34] mandeepkaur-qasource opened #104814 "[Security Solution]'Elastic Rule' count gets doubled to 1106 after duplicating all '553 Pre-packaged Rules'"
**Description:**
'Elastic Rule' count gets doubled to 1106 after duplicating all '553 Pre-packaged Rules'

**Build Details:**
Version: 7.14.0 BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
Build:42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and Agent sho

[2021-07-08 07:34] elasticmachine commented on #104814
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-08 07:34] mandeepkaur-qasource commented on #104814
@manishgupta-qasource Please review!!

[2021-07-08 07:36] michalpristas commented on #104622
@ruflin that's correct

[2021-07-08 07:46] flash1293 opened #104815 "[Lens] Provide more options on moving average"
Right now moving average in Lens is a simple unweighted moving average. For advanced use cases it's necessary to support more options here:

* [Linear weighted average](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-movfn-aggregation.html#_linearweightedavg_function)
* [Single-exponential EWMA](https://www.elastic.co/guide/en/elasticsearch/reference/cu

[2021-07-08 07:46] elasticmachine commented on #104815
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 07:47] flash1293 commented on #74813
Closing this as there are issues for all unresolved parts of this already - tracked in https://github.com/elastic/kibana/issues/57708

[2021-07-08 07:47] #74813 closed

[2021-07-08 07:49] mshustov commented on #104088
[code]
How hard it would be to build `schema` validation automatically based on provided `properties`?

Also, we can start with validating well-known properties created by SavedObjects service itself.
[code]

[2021-07-08 07:51] dasansol92 commented on #104374
PR: https://github.com/elastic/kibana/pull/104703

[2021-07-08 07:55] flash1293 opened #104816 "[Lens] ML predictive layers"
The Elastic stack ML integration provides functionality to predict a time series. Right now these ML jobs have to be configured in the ML app, separate from the often used Dashboard/Lens/Discover apps. Adding a separate "predictive" layer type in Lens would be a nice and intuitive integration of these capabilities in a prominent spot.

[2021-07-08 07:55] elasticmachine commented on #104816
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 07:57] flash1293 opened #104817 "[Lens] Linear regression"
It should be possible to easily show a linear regression line in Lens for any given series.

Unclear parts:
* Where should this option be located? Maybe as an option in the dimension configuration flyout?
* Where should this calculation be performed? Is it general enough for an integration in `elastic-charts`?

[2021-07-08 07:57] elasticmachine commented on #104817
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 07:57] flash1293 commented on #3325
Closing this as the feature requests listed out here are either supported in Lens already, will be soon or has a separate more focused issue:
* Time shift 7.14 https://github.com/elastic/kibana/pull/98781
* Dynamic thresholds planned for 7.15 https://github.com/elastic/kibana/issues/87551
* Predictive layers https://github.com/elastic/kibana/issues/104816
* Linear regression https://github.com/ela

[2021-07-08 07:57] #3325 closed

[2021-07-08 08:25] pgayvallet commented on #104088
Would probably be tedious for some specific types of fields such as nested and so. Would also not work with attributes that are not indexed (and therefore could not be present in the `mappings` provided during the type registration).

But mostly it would not be good enough. In some case, we would like the owners to do more than just surface validation. E.g for `dashboard`, we would be expecting to

[2021-07-08 08:30] dplumlee commented on #100117
@deepikakeshav-qasource can confirm, this is the expected action 👍

[2021-07-08 08:30] manishgupta-qasource commented on #104811
Reviewed & Assigned to @MadameSheema

[2021-07-08 08:30] manishgupta-qasource commented on #104814
Reviewed & Assigned to @MadameSheema

[2021-07-08 08:31] manishgupta-qasource commented on #104813
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-08 08:38] drewpost commented on #104208
We had a chat about this early on when we discussed updating the certificate monitoring page to support monitors from the real browser agent. We decided to only show the cert for the "main" URL being navigated to in the script. It shouldn't be showing any of the third party certs as a site operator, ostensibly, doesn't have control over them and it's just noise.

[2021-07-08 08:39] #103749 closed

[2021-07-08 08:39] #103751 closed

[2021-07-08 08:45] deepikakeshav-qasource opened #104820 "[Security Solution] Agent is showing unhealthy to healthy for a sec when click on alert view details "<" icon under the alerts table."
**Describe the bug**
Agent is showing unhealthy to healthy for a sec when click on alert view details "<" icon under the alerts table.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Endpoint should be installed
3. Alerts should be generated say: mimikatz.

**Steps to Reproduce**
1. Go to Security App.
2. Click o

[2021-07-08 08:45] elasticmachine commented on #104820
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-08 08:47] deepikakeshav-qasource commented on #104820
@manishgupta-qasource Please review!!

[2021-07-08 08:49] #97952 closed

[2021-07-08 08:55] pgayvallet commented on #103891
`config-schema` does use `JSON.parse` under the hood if the input value is a string and the expected type is not, so this should work. Maybe it's more related to bad/wrong double-quote escape?

[2021-07-08 09:04] manishgupta-qasource commented on #104820
Reviewed & assigned to @MadameSheema

[2021-07-08 09:07] cnasikas commented on #102321
Fixed by https://github.com/elastic/kibana/pull/104826

[2021-07-08 09:09] deepikakeshav-qasource commented on #103644
Hi @ecezalp,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Still Occurring**. Threat intel List is shuffling automatically if we set the future time

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/124895260-04c88400-dffa-11eb-9710-9f079b3f2e30.mp4

Thanks!!

[2021-07-08 09:26] simitt commented on #104061
Closing this issue, as with the information above it became clear that the apmpackage variables need to be handled in the Kibana UI and not in the apmpackage.

[2021-07-08 09:26] #104061 closed

[2021-07-08 09:33] mgiota commented on #104440
@neptunian I will test the alerts

[2021-07-08 09:34] jloleysens opened #104828 "[Painless Lab] Privileges aware"
When using Dev Tools as a low-privilege user (only `read` and `view_index_metadata` privileges on ES) going to the Painless Lab presents the following:

![Screenshot 2021-07-08 at 11 06 57](https://user-images.githubusercontent.com/8155004/124896103-7219ec00-dfdd-11eb-812b-71f0ce6674e0.png)

This does give users a way to figure out what the problem is - but making Painless lab UI "privileges aware

[2021-07-08 09:34] elasticmachine commented on #104828
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-08 09:35] MadameSheema commented on #103644
@deepikakeshav-qasource please validate the issue on BC2, thanks :)

[2021-07-08 09:40] dej611 opened #104829 "[TSVB] Include/exclude fields appear to migrated TSVB visualization when using Group by Terms"
**Describe the bug:**

Migrated the `[Logs] Response Codes Over Time + Annotations` from 7.12 to 7.14-BC and the Include/Exclude fields are now showing up in the Group by section of the configuration.

Migrated TSVB chart from 7.12 to 7.14:

<img width="1252" alt="Screenshot 2021-07-08 at 11 00 17" src="https://user-images.githubusercontent.com/924948/124898752-c3c37600-dfdf-11eb-8358-0c52c9da56a5

[2021-07-08 09:40] elasticmachine commented on #104829
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 09:55] MikePaquette commented on #104406
thanks @yctercero I have reviewed/approved in the PR.

[2021-07-08 09:57] paulb-elastic commented on #104208
To add to this, we're not doing this (checking certs) yet for Synthetic (real browser) tests.

We have https://github.com/elastic/beats/issues/22326 for just checking the main URL and https://github.com/elastic/beats/issues/22327 for a more advanced option (with regex)

[2021-07-08 10:00] dej611 opened #104831 "[TSVB] Filter by clicking does not work on migrated timeseries charts"
**Describe the bug:**

Clicking on a migrated (7.12 -> 7.14) the timeseries chart does not trigger any filter.

**Steps to reproduce:**
1. bootstrap a 7.12 instance and load any sample dataset
2. shutdown the 7.12 instance and bootstrap a 7.14 instance
3. Open any sample data dashboard and try to trigger a filter on a timeseries chart

**Expected behavior:**

Filter are triggered also for migrated

[2021-07-08 10:00] elasticmachine commented on #104831
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 10:15] amolnater-qasource commented on #103634
Hi @jen-huang
We have validated this on our physical/hardware machines and this issue is consistently reproducible from the reported day.
Out of 5 hardware machines this issue was reproducible on 4 of them.
Further we tried to clear cache and tested on browser private mode. It is still reproducible there.

**System specifications:**
Windows 10 x64 bits
i7 processor
Ram: 8 GB4
Screen Resolution: 13

[2021-07-08 10:21] stratoula commented on #104831
This is expected. The 7.12 SOs work with indices and not with the index pattern mode. We can't migrate them to use the new mode, unfortunately. This is a limitation of the migration system.
In order this to work, the index pattern mode should be selected.

[2021-07-08 10:21] #104831 closed

[2021-07-08 10:45] #76549 closed

[2021-07-08 11:09] MadameSheema commented on #104077
Thanks @ecezalp @yiyangliu9286 :)

@MikePaquette is it ok if we close the issue? if I remember correctly you reported that as well in a screenshot on your feedback ticket: https://github.com/elastic/security-team/issues/1412

[2021-07-08 11:10] elasticmachine commented on #104804
Pinging @elastic/kibana-security (Team:Security)

[2021-07-08 11:11] MadameSheema commented on #104814
Thanks for reporting @mandeepkaur-qasource !

Closing as duplicate of: https://github.com/elastic/kibana/issues/104802

[2021-07-08 11:11] #104814 closed

[2021-07-08 11:13] elasticmachine commented on #104811
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-08 11:13] MadameSheema commented on #104811
@rylnd @peluja1012 @spong can you please take a look at this and check if you agree with the impact of it? thanks :)

[2021-07-08 11:17] #104067 closed

[2021-07-08 11:18] samratbhadra-qasource commented on #104435
Hi @kevinlog ,

We tested this ticket & found that the issue is fixed on the 7.14.0-BC1 environment . Please find below the testing details:

**Build Details:**
VERSION: 7.14.0-BC1
BUILD: 42367
COMMIT: d417b7aaba7d337fd45da08ed75dcc2c7fdf56cb
ARTIFACT:https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Screenshot:**

![Screenshot (151)](https://user-images.githubusercontent.com/84007

[2021-07-08 11:18] #104435 closed

[2021-07-08 11:20] dikshachauhan-qasource opened #104838 "Drop-down in enrollment token tab open upwards and expands to bookmarks area."
**Kibana version:** 7.14 BC1 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]
2. More than 10 policies should be present under Policies tab.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Enrollment token tab.
	- Select button to create new

[2021-07-08 11:20] elasticmachine commented on #104820
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-08 11:20] elasticmachine commented on #104838
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 11:20] cnasikas commented on #103071
Fixed by https://github.com/elastic/kibana/pull/104839. The fix is to deselect the selected cases when filtering.

[2021-07-08 11:21] dikshachauhan-qasource commented on #104838
@manishgupta-qasource Please review

[2021-07-08 11:22] arisonl commented on #80310
Thanks @YulNaumenko looks great. For the record, the rational around your third bullet point: Omitting a label does not really make this view less busy. In contrast an integer number without a label is the least interpretable thing you come across in this screen (statuses, times etc. are more recognisable as such even without a label). In addition the first thing that comes to my mind with the eye

[2021-07-08 11:23] kevinlog commented on #104820
thanks @MadameSheema - it is on our team.

@parkiino - you may be able to resolve this one along with this: https://github.com/elastic/kibana/issues/104087

We could not show anything for the Agent status until we get a successful response from the APIs.

[2021-07-08 11:25] #104411 closed

[2021-07-08 11:27] arisonl commented on #80310
Btw, this design also addresses this issue https://github.com/elastic/kibana/issues/80313 We can probably close them both once done.

[2021-07-08 11:31] cnasikas commented on #103229
Fixed by https://github.com/elastic/kibana/pull/104839. The fix is to deselect the selected cases when filtering.

[2021-07-08 11:39] ppisljar commented on #103102
resolved by https://github.com/elastic/kibana/pull/103680

[2021-07-08 11:39] #103102 closed

[2021-07-08 11:39] mdefazio commented on #80310
I agree with your points about the readability of the icon(s).  I think we need a better icon or need to find a different solution to show `muted`.

One option is to have a single state option that is either `Enable`, `Disabled`, or `Muted`.  I tend to like the switch and the affordance there, but I think its a possible option.

Another option is to have the word 'Muted' after the actions column a

[2021-07-08 11:42] ppisljar opened #104847 "[PersistableState] Filters, TimeRange and Query should expose PersistableState interface"
Filters, TimeRange and Query are three states owned by `data` plugin that are often used by other apps and should implement `PersistableState` to support reference injection/extraction and migration

[2021-07-08 11:43] elasticmachine commented on #104847
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 11:45] ppisljar opened #104849 "dashboard migration should be implemented on dashboard embeddable"
dashboard plugin registers dashboard embeddable, which should correctly implement migrations. Currently dashboard only provides migrations on the saved object.

[2021-07-08 11:45] elasticmachine commented on #104849
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-08 11:47] ppisljar opened #104850 "[PersistableState] migrateToLatest and getAllMigrations should be mandatory"
`migrateToLatest` and `getAllMigration` functions should be mandatory on `PersistableStateService`

migrateToLatest should always be implemented on the client side as we need it to migrate state from URLs
getAllMigrations should be implemented on the client (to support migrateToLatest) and server (to support saved object migrations)

- [ ] add `migrateToLatest` to `embeddables`
- [ ] optionally ad

[2021-07-08 11:48] elasticmachine commented on #104850
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 11:49] mikecote commented on #64148
@jasonrhodes, I'm thinking there may be a story about leveraging task manager timeouts. The task manager already has this concept and calls the `cancel` function whenever a task times out. The current problem is the framework doesn't pass through this capability, which can be done.

One thing also worth revisiting is how timeouts are handled for recurring tasks. They equal whichever is greater bet

[2021-07-08 11:55] mdefazio commented on #80310
Here's an updated mockup showing the latter option.  I've also just removed the icons from the Schedule and Actions columns—if we have these in their own column, we do not need the icon to help signify their meaning.

One change that might need to be discussed further is whether we need the word 'Every' in the schedule column.  We had this previously in the heading and we removed it.  I'm fine if

[2021-07-08 12:05] weltenwort opened #104853 "[Logs UI] Use Kibana locators when linking to other apps"
## :memo: Summary

The introduction of the new url service allows for apps to reigster "locators" that allow for safe and consistent navigation between apps without hard-coding URLs. The Logs UI should make use of the locators provided by the Kibana apps it links to.

## :heavy_check_mark: Acceptance criteria

:warning: These acceptance criteria might be incomplete. Specifically, the list of apps

[2021-07-08 12:05] elasticmachine commented on #104853
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-08 12:07] amolnater-qasource opened #104854 "[Fleet]: Unhealthy KPI count not updated when Unhealthy agent is unenrolled."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. Agent must be installed and should be available with "Unhealthy" status.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Unenroll Unhealthy agent and observe agent i

[2021-07-08 12:07] elasticmachine commented on #104854
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 12:07] amolnater-qasource commented on #104854
@manishgupta-qasource Please review.

[2021-07-08 12:08] weltenwort opened #104855 "[Logs UI] Register Kibana locators to allow linking to the Logs UI"
## :memo: Summary

The introduction of the new url service allows for apps to reigster "locators" that allow for safe and consistent navigation between apps without hard-coding URLs. The Logs UI should register locators for other Kibana apps to use.

## :heavy_check_mark: Acceptance criteria

- All current `link-to` routes can be expressed via locators.
- All current `link-to` routes internally us

[2021-07-08 12:08] elasticmachine commented on #104855
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-08 12:10] manishgupta-qasource commented on #104838
Reviewed & Assigned to @jen-huang

[2021-07-08 12:11] manishgupta-qasource commented on #104854
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-08 12:15] ferullo commented on #102875
@muskangulati-qasource has this been tested a few time on both macOS 10.14 and macOS 10.15/11.x? (10.14 uses a kernel extension and 10.15/11.x use a system extension, an important distinction).

I want to be positive this issue only affects Windows.

[2021-07-08 12:18] #104418 closed

[2021-07-08 12:18] #102034 closed

[2021-07-08 12:18] weltenwort opened #104857 "[Logs & Metrics UI] Call the correct data client APIs to perform mapping updates"
## :memo: Summary

Since #102586 the `RuleDataClient` can perform mapping updates when the correct APIs are called during `setup()`, which is not the case right now.

## :heavy_check_mark: Acceptance criteria

- The mappings are properly updated using the new `RuleDataClient` mapping update functionality.

[2021-07-08 12:18] elasticmachine commented on #104857
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-08 12:23] sqren opened #104861 "[APM] Add `transactionGroupBucketSize` to allow list"
Add `xpack.apm.ui.transactionGroupBucketSize` to [cloud allow list](https://github.com/elastic/cloud/blob/master/scala-services/adminconsole/src/main/resources/settings/kibana/apm.yml).

[2021-07-08 12:23] elasticmachine commented on #104861
Pinging @elastic/apm-ui (Team:apm)

[2021-07-08 12:31] MadameSheema commented on #103071
@karanbirsingh-qasource as this is related with cases, can you please validate the issue of this fix on BC3? Thanks :)

[2021-07-08 12:32] karanbirsingh-qasource commented on #103071
sure glo !!

[2021-07-08 12:33] mshustov commented on #104088
yeah. it's rather for the `update` case.

yes, I didn't say we should use auto-generation for 100% of cases, but it might be a good default.

[2021-07-08 12:40] #104293 closed

[2021-07-08 12:52] joshdover commented on #104690
Yes, I had forgotten about the references ID rewriting. With all of these moving parts, it seems that the most thorough way to continue supporting this use case would be to implement the suggested solution in https://github.com/elastic/kibana/issues/101351#issuecomment-856868176 related to splitting the `coreMigrationVersion` field into two fields:

This way we can migrate the references as needed

[2021-07-08 13:10] #104443 closed

[2021-07-08 13:31] jloleysens opened #104869 "[Ingest Pipelines] User descriptions should be more distinct"
In the Ingest Pipelines UI descriptions for a given processor are either generated or taken from user input. When both are present on a pipeline it looks like the following:

![Screenshot 2021-07-08 at 15 26 40](https://user-images.githubusercontent.com/8155004/124930030-4577cb80-e001-11eb-83d8-16aad0e4b9ca.png)

These values look quite similar, perhaps the user provided value (non-italic) can be

[2021-07-08 13:31] elasticmachine commented on #104869
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-08 13:43] elasticmachine commented on #104783
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 13:43] #103870 closed

[2021-07-08 13:53] YulNaumenko commented on #80310
I like the latest mockup and think it will simplify a lot of things. I'm +1 on keeping Mute as a part of Actions column. With State column it will be confusing and disable a sort option on the Enabled rules.

[2021-07-08 13:56] weltenwort commented on #104118
Ah, that makes sense. Thanks for the clarification!

[2021-07-08 14:12] jen-huang commented on #104838
This is default browser behavior. Closing as won't fix.

If the list was shorter or the height of the browser was taller, the dropdown would open differently.

[2021-07-08 14:12] #104838 closed

[2021-07-08 14:12] weltenwort opened #104880 "[Logs UI] Split the mappings for the logs and metrics alert-as-data indices"
## :memo: Summary

Currently both the `logsRules` and `metricsRules` service instances install the same mappings for the `observability.logs` and `observability.metrics` datasets. They should use separate mappings that can be adapted to the specific app.

## :heavy_check_mark: Acceptance criteria

- The component templates for the `observability.logs` and `observability.metrics` datasets contain o

[2021-07-08 14:12] elasticmachine commented on #104880
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-08 14:17] jen-huang commented on #104813
It should be filled according to designs, adding to board.

[2021-07-08 14:21] jen-huang commented on #104854
@nchaulet Can you take a look at this? I don't recall any changes that should have affected this 🤔

[2021-07-08 14:24] #98107 closed

[2021-07-08 14:24] paul-tavares commented on #92693
Branch with preliminary work: https://github.com/paul-tavares/kibana/tree/task/fleet-92693-package-policy-delete-api-extension

[2021-07-08 14:24] Dosant opened #104881 "[Alerting] Edit rule form runtime performance"
Tested on staging cloud 7.14 (testing spike)

Noticed that editing a rule with multiple actions gets noticeably sluggish on a powerful machine, probably because the render() for the whole flyout triggers on each keystroke.

You can see a ~150ms thread blocking on each keystroke for a rule with 2 actions:
![Screen Shot 2021-07-08 at 16 21 11](https://user-images.githubusercontent.com/7784120/124938

[2021-07-08 14:25] jen-huang commented on #104622
@afgomez Can you start some work on the Fleet side with the assumption that the `elastic_agent` package will contain all monitoring data streams?

[2021-07-08 14:26] afgomez commented on #104753
@dominiqueclarke This should be fixed with #104882

[2021-07-08 14:27] elasticmachine commented on #104881
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 14:40] jen-huang commented on #104414
Currently it matches the order that we display integrations on, in the main Integrations Browse page. The sort is on the "package name" i.e. Elastic APM is called `apm`, hence that sorting. Closing as won't fix for now.

[2021-07-08 14:40] #104414 closed

[2021-07-08 14:41] ghudgins commented on #104259
as discussed today, we can use this issue to track bringing previous back to time shifts (since it's been removed). need to answer:
 - re-define `Previous` to be this previous overall idea?
 - do we include `Previous_bucket` to get at the main use case of `% growth to previous bucket`....could we do this as an option on differences so we don't need this here?

[2021-07-08 14:42] Dosant opened #104885 "[Alerting] Index document connector time field should allow ambiguous input and shouldn't be hidden"
Testing during 7.14 spike.

Index document connector has a time field option:

![image (5)](https://user-images.githubusercontent.com/7784120/124940747-86281280-e00a-11eb-94a2-5216ccab3a27.png)

It allows selecting a time field from a specified index.
If the index is empty or doesn't have a date field, then the time field input is just hidden,

I think it shouldn't be hidden but the worth case sho

[2021-07-08 14:42] elasticmachine commented on #104885
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 14:45] mr-perseus opened #104886 "[APM] Create and manage alerts for multiple services"
It would be nice if we could create and manage alerts for multiple services (but not every service). At the moment, you can either create an alert for all services or for just one service. (see https://discuss.elastic.co/t/add-and-manage-apm-alert-for-multiple-services/278178)

Could you add the option to create an alert for all services starting with "xyz*"? I.e. via "service.name:xyz*"

[2021-07-08 14:45] elasticmachine commented on #104886
Pinging @elastic/apm-ui (Team:apm)

[2021-07-08 14:49] #104776 closed

[2021-07-08 14:50] Dosant opened #104889 "Edit connector flyout needs "Unsaved changes" warning"
Found during 7.14 testing spike

The "Edit rule" flyout has a very handy "Unsaved changes" warning:

![Screen Shot 2021-07-08 at 16 48 26](https://user-images.githubusercontent.com/7784120/124942896-5417b000-e00c-11eb-9c1b-a32ed8f6556e.png)

But the "Edit connector" flyout doesn't have it and I've lost my change a bunch of times by clicking outside by mistake.

[2021-07-08 14:50] walterra opened #104890 "[APM] Latency correlations: Error Failed to build correlative_value after last required field arrived"
On an almost empty `kibana-frontend` service seeing this error toast and the flyout fails to load:

<img width="33%" src="https://user-images.githubusercontent.com/230104/123762497-28d1ea00-d8c3-11eb-8163-682ff045d078.png" />

When there's little data, we might end up with queries that include fractions/ranges/expectations that might cause this. Did some tests with the APM dataset that's part of K

[2021-07-08 14:50] elasticmachine commented on #104889
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 14:50] elasticmachine commented on #104890
Pinging @elastic/apm-ui (Team:apm)

[2021-07-08 14:50] elasticmachine commented on #104890
Pinging @elastic/ml-ui (:ml)

[2021-07-08 14:52] adam-stokes commented on #103891
I'll try again with different values to see if I can get it to work

[2021-07-08 14:52] timroes opened #104892 "[Discover] Integrate index pattern creation dialog"
https://github.com/elastic/kibana/pull/101853 will soon add the ability to open a dialog to create a new index pattern from within apps (similar to how field editor modal works).

To make it easier for users to create new index patterns, this ability should be integrated into Discover.

For designs see https://github.com/elastic/kibana/issues/67711#issuecomment-856974153

[2021-07-08 14:52] elasticmachine commented on #104892
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 14:56] azasypkin opened #104893 "Handle access tokens that expire after authentication stage"
The authentication stage is the only stage in a request lifecycle when Kibana can properly handle expired access tokens either by refreshing them or re-initiating authentication. This approach served us reasonably well in the past, but we can do better.

There are cases when Kibana needs more time to process user request and hence re-use the access token multiple times. The longer access token is

[2021-07-08 14:56] elasticmachine commented on #104893
Pinging @elastic/kibana-security (Team:Security)

[2021-07-08 15:01] #103882 closed

[2021-07-08 15:02] thomasneirynck commented on #104069
This could be "automagic" (runtime field added int he maps-app), or the runtime field editor could be extended with a geo-point editor.

[2021-07-08 15:05] mikecote commented on #79980
Closing as this flakiness hasn't occurred in a while.

[2021-07-08 15:06] mikecote commented on #79401
Closing as this flakiness hasn't occurred in a while.

[2021-07-08 15:06] #79401 closed

[2021-07-08 15:06] mikecote commented on #79391
Closing as this flakiness hasn't occurred in a while.

[2021-07-08 15:06] #79391 closed

[2021-07-08 15:06] #73790 closed

[2021-07-08 15:06] mikecote commented on #64614
Done as part of https://github.com/elastic/kibana/issues/89998.

[2021-07-08 15:06] #64614 closed

[2021-07-08 15:18] sqren opened #104898 "[Metrics UI] Node detail page refresh button doesn't update time range"
**Kibana version:**
7.13.0

**Affected page**
`/app/metrics/detail/host/:hostname`

**Description of issue**
I have selected "Last 1 hour" in the date picker. When clicking "Refresh" button I expect the time window to move to the current time. Currently the time window will be stuck so no new data will show up when clicking refresh.

**Reproduction of issue**

https://user-images.githubusercontent

[2021-07-08 15:18] elasticmachine commented on #104898
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-08 15:18] streamich opened #104899 "Redundant time filter checkbox in "Save query" modal"
**Kibana version:** `master`, `7.x`, `7.14`

**Original install method (e.g. download page, yum, from source, etc.):** From source

**Describe the bug:**

When creating a saved query for an index pattern which does __not__ have a time field it still asks to "Include time filter". There should not be "Include time filter" checkbox.

**Steps to reproduce:**

1. Create index pattern without a time fi

[2021-07-08 15:19] #104899 closed

[2021-07-08 15:21] mostlyjason commented on #82851
@ruflin thanks for writing up the options. I'd like to add one more:

* Install the assets when the user adds their first integration or agent. If we remove cloud from the discussion, most users will add an integration or an agent though the Kibana UI or API. When the user clicks to add their first integration, we create the default agent policy with the system integration. Alternatively, when the

[2021-07-08 15:21] vadimkibana opened #104902 "Redundant time filter checkbox in "Save query" modal"
**Kibana version:** `master`, `7.x`, `7.14`

**Original install method (e.g. download page, yum, from source, etc.):** From source

**Describe the bug:**

When creating a saved query for an index pattern which does __not__ have a time field it still asks to "Include time filter". There should not be "Include time filter" checkbox.

**Steps to reproduce:**

1. Create index pattern without a time fi

[2021-07-08 15:22] elasticmachine commented on #104902
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 15:22] elasticmachine commented on #104902
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 15:30] vadimkibana opened #104903 "Saved query becomes active when switching index pattern in Discover"
**Kibana version:** `master`, `7.x`, `7.14`

**Describe the bug:**

When in Discover a user un-selects a saved query and then navigates to a different index pattern, the un-selected saved query becomes selected again.

**Steps to reproduce:**

1. Install sample data sets.
1. Select `kibana_sample_data_ecommerce` index pattern.
1. Filter by "category: Men’s Shoes".
1. Save as saved query with name

[2021-07-08 15:30] mshustov commented on #97934
The Elasticsearch performance team is interested in analyzing the timing of requests issued by Kibana to make sure any changes in the Elasticsearch server do not lead to regression in Kibana UI performance.
Their current approach with relying on APM RUM agent capturing queries after a page load does not work well, since Kibana data management might perform a search request with a delay after the p

[2021-07-08 15:31] elasticmachine commented on #104903
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 15:31] elasticmachine commented on #104903
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 15:35] vadimkibana opened #104904 "Improve name field description in "Save query" dialog"
**Kibana version:** `master`, `7.x`, `7.14`

**Describe the bug:**

It is not a bug per se but a request to "fix" copy.

**Steps to reproduce:**

1. Open "Save query" dialog in Discover.
2. See word "Name" starts every sentence in the description of the "Name" field.

**Expected behavior:**

Three consecutive sentences should not all start with word "Name".

**Screenshots (if relevant):**

![image

[2021-07-08 15:35] elasticmachine commented on #104904
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 15:35] elasticmachine commented on #104904
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 15:36] timroes commented on #104270
Let's please make sure to involve someone from product side on those, to not run into an issue, where that alert might get confused later on with the regular TSVB (all visualization) alert. It sounds to me right now (without having deep understanding of your plans) that those things might becomevery similar to each other.

[2021-07-08 15:40] cauemarcondes opened #104907 "[APM][Fleet migration] "URL" is not being set in the migration process"
In the tutorial I use the `url` field to fill the `serverUrl` in the code example. But it's currently empty and must be set while migrating to fleet.

![Screen Shot 2021-07-08 at 10.46.27.png](https://zube.io/files/elastic/0ad72d82c885dfc1c136be2761c72c02-screen-shot-2021-07-08-at-10-46-27.png)![Screen Shot 2021-07-08 at 10.45.13.png](https://zube.io/files/elastic/90c203c21c4e1a55aa86077e5e8222b4-

[2021-07-08 15:40] elasticmachine commented on #104907
Pinging @elastic/apm-ui (Team:apm)

[2021-07-08 15:42] #104431 closed

[2021-07-08 15:43] cauemarcondes commented on #104426
closed by https://github.com/elastic/kibana/pull/104491

[2021-07-08 15:43] #104426 closed

[2021-07-08 15:44] flash1293 commented on #59430
Discussed this offline and this is the plan: Expose it as a separate option for sorting. If selected, the user can specify both size and max doc count.

There will be a fix-it action in the accuracy warning to turn a count ascending top values into a rare terms.

[2021-07-08 15:45] flash1293 commented on #77340
Some notes discussed offline:
* It's fine to add the lens panels directly in sample data
* Remove gauges to make room for Lens features
* Add a tree map
* The dataviz team can assist following good practices here

[2021-07-08 15:47] ghudgins commented on #59430
edited @timroes' original description since this issue has evolved

[2021-07-08 15:53] flash1293 commented on #104259
Thinking about it, I like the `previous(count())` - it clearly separates separate data fetching from calculations looking at other buckets of the same series. If someone really needs the very first one, they can manually keep the shift interval and date histogram interval in sync but I expect that to be an edge case.

[2021-07-08 16:07] joshdover commented on #104690
I've completed an audit going back to version 5.5 where Saved Objects were added. There is only one additional SO type that needs to be filtered out for option (1) and I'll be opening a PR for this. Here's the results of my audit: https://gist.github.com/joshdover/e3c449d165498da49e8e4a4fb6f2cef5

[2021-07-08 16:17] qn895 commented on #102988
Closing via https://github.com/elastic/kibana/pull/99905

[2021-07-08 16:17] #102988 closed

[2021-07-08 16:22] #102966 closed

[2021-07-08 16:24] qn895 commented on #102990
Closing via https://github.com/elastic/kibana/pull/99905

[2021-07-08 16:24] #102990 closed

[2021-07-08 16:24] qn895 commented on #102991
Closing via https://github.com/elastic/kibana/pull/99905

[2021-07-08 16:24] #102991 closed

[2021-07-08 16:25] qn895 commented on #102997
Closing via https://github.com/elastic/kibana/pull/99905 and https://github.com/elastic/kibana/pull/103759

[2021-07-08 16:25] #102997 closed

[2021-07-08 16:32] #104765 closed

[2021-07-08 16:35] jasonrhodes opened #104923 "[RAC] Confirm empty state for the alerts table (might be fixed by EUIDataGrid)"
The Alerts Table needs to be able to handle no data state in a graceful way. We need to confirm this is the case with design/product.

[2021-07-08 16:35] dominiqueclarke commented on #104208
@paulb-elastic When you say we aren't doing this yet (checking certs) for browser tests, what exactly do you mean? Do you mean we're not recording certs at all, or that we aren't yet only showing the "main" cert?

I'm currently seeing certs for Synthetics tests, so wanted to confirm. In this cluster, I only have real browser tests going, I see these certs connected to the browser specific monitor,

[2021-07-08 16:36] jasonrhodes opened #104926 "[RAC] Enable "add to case" for observability alerts, from table row"
TBD

[2021-07-08 16:37] jasonrhodes opened #104927 "[RAC] Remove observability plugin alerts endpoint(s)"
The new Alerts table uses a search strategy that lives in the timeline plugin, so we no longer need any endpoint(s) for surfacing alerts via the observability plugin.

[2021-07-08 16:37] wylieconlon opened #104928 "[Lens] Solution-specific datasources, such as machine learning or observability"
The current Lens "index pattern" datasource is a generic tool meant for use with any Elasticsearch data, but isn't always the best choice for users who are familiar with a specific solution. The way the Maps team has solved this problem is by introducing *Solution Layers* for APM and Security:

<img width="456" alt="Screen Shot 2021-04-22 at 5 11 02 PM" src="https://user-images.githubusercontent.c

[2021-07-08 16:37] elasticmachine commented on #104928
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 16:38] jasonrhodes opened #104930 "[RAC] Observability overview alerts list should query alerts as data"
TBD (not needed for 7.15)

[2021-07-08 16:45] kibanamachine opened #104931 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_inspector·ts - visualize app visualize ciGroup10 inspector inspector table filtering on inspector table values should allow filtering out values"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15236/)

[2021-07-08 16:47] Dosant opened #104932 "[Actions] Jira action fails when newline symbol is in summary"
Found during 7.14 testing spike

If try to execute Jira action with a newline character, then it fails:

[code]

It is very easy get into this state by mistake, by using template variables that could have new lines inside values:

![Screen Shot 2021-07-08 at 18 37 12](https://user-images.githubusercontent.com/7784120/124959508-909ed800-e01b-11eb-8f6e-615d87144789.png)

Maybe we could process summa

[2021-07-08 16:47] elasticmachine commented on #104932
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 16:49] markharwood commented on #104515
If Kibana is throwing a 500 error is there any way to see what the underlying elasticsearch request/response was behind the scenes?

[2021-07-08 16:52] spalger commented on #93354
All the recent test failures are timeouts: `Timeout of 500000ms exceeded`

Looks like they're only happening on 7.x and 7.14 (and one 7.14 backport), seems these tests have only ever existed in 7.x... I think someone from @elastic/kibana-reporting-services should really take a look at this.

![image](https://user-images.githubusercontent.com/1329312/124939606-1b50ea00-dfbe-11eb-91ea-409662c516be.p

[2021-07-08 16:52] wylieconlon commented on #104816
@flash1293 Are you referring to anomaly detection *and* forecasting as "predictive layers"? I think both of them fall into the category of [solution-specific datasources](https://github.com/elastic/kibana/issues/104928). It is technically possible for a user to work around this if:

1. They have defined an ML index pattern, which is not usually done
2. They are able to filter to a specific model's

[2021-07-08 16:58] tsullivan commented on #104466
Hi, who should take assignment of this issue? It's not clear if the UI is responsible for causing this error, but it doesn't look like it.

[2021-07-08 16:58] spalger commented on #101126
Attempting to backport the fix myself https://github.com/elastic/kibana/pull/104933

[2021-07-08 16:59] #104813 closed

[2021-07-08 17:10] paulb-elastic commented on #104208
@dominiqueclarke apologies, my understanding was that we didn't cert check for any of the real browser monitors, however appears to be incorrect you're seeing them when you only have real browser monitors configured.

@vigneshshanmugam do you know what's happening here - how is Heartbeat determining the certs to check?

[2021-07-08 17:10] tsullivan commented on #76411
This shouldn't be a blocking issue - the management UI can easily show blank values for jobs that haven't been claimed and having had these fields populated.

[2021-07-08 17:14] ghudgins opened #104940 "[Seamless] More efficient authoring & exploration workflows between discover / lens / maps"
Related to https://github.com/elastic/kibana/issues/124584

**Describe the feature:**
Provide the ability to carry query (and maybe field selection?) from discover into lens overall and provide a way back to discover without context loss.

**Describe a specific use case for the feature:**
**When** I am exploring my data in discover
**And** defining queries / filter bar
**I need** a way to transiti

[2021-07-08 17:14] elasticmachine commented on #104940
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 17:18] kmartastic commented on #104270
cc @ghudgins

[2021-07-08 17:23] kertal opened #104942 "[Discover] Migrate to react router"
These are the 4 steps to get rid of angular router first routes in Discover need:

1) Migrate Context `resolve` part of the Angular route to be a hook of the main react component
https://github.com/elastic/kibana/blob/0cfd04c87df7e83b9cad0533c998cae21185925c/src/plugins/discover/public/application/angular/context.js#L35-L40
2) Migrate Main `resolve` part of the Angular route  to be a hook of the m

[2021-07-08 17:25] bryce-b opened #104943 "Mobile Exploratory view : strange values in breakdown items"
**Kibana version:**
edge

**Elasticsearch version:**
edge

**Server OS version:**

**Browser version:**
Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (x86_64)

**Browser OS version:**

**Describe the bug:**
Viewing "Mobile Experience" > "KPI over time" > Latency, with a "Service version" breakdown selected really unexpected options appear in the list of breakdowns.

**Steps to reproduce

[2021-07-08 17:26] wylieconlon commented on #104270
I would be interested in seeing what it means to define a rule from TSVB, specifically *how will a user define the alerting criteria*? For example, is it "if Y is above 100 for the last 5 buckets"?

Also, FYI Lens now supports a larger set of mathematical "formulas" than what TSVB does, for example month over month. We are blocked on Lens alerting for many reasons including product and technical o

[2021-07-08 17:28] #104611 closed

[2021-07-08 17:30] YulNaumenko commented on #104889
@Dosant I think this issue happens only if the Rule has attached Index action connector. Am I right?

[2021-07-08 17:31] wylieconlon commented on #71150
Currently blocked for technical reasons by https://github.com/elastic/kibana/issues/97134, but this also needs investigation at the product level to define what the user flow should be.

[2021-07-08 17:32] shaunmcgough commented on #104940
++ In general on this. I have a number of thoughts on this. Snapping back and forth would be a great start, so perhaps we focus there (which, I believe is the primary goal of the issue here). We would also need to limit the view for the first go in a number of ways related to axes, aggregation types, time series, filters, and time ranges. It might make sense to snap the Discover view right into Le

[2021-07-08 17:34] smith commented on #103946
`auto` was made the default in #104929, and as discussed we're just having the API tests use the defaults so this can be closed.

[2021-07-08 17:34] #103946 closed

[2021-07-08 17:38] smith opened #104946 "[APM] Make fleet plugin dependency optional"
`fleet` is listed as a required dependency and in `requiredBundles` in APM's kibana.json. This makes it so when `xpack.fleet.enabled: false` is set, APM and its tutorials do not show up in the navigation or global search.

Ensure APM can be used when `xpack.fleet.enabled` is set to either `true` or `false`.

[2021-07-08 17:38] elasticmachine commented on #104946
Pinging @elastic/apm-ui (Team:apm)

[2021-07-08 17:43] tsullivan commented on #99890
@jloleysens

Is it possible to just use an ephemeral URL, instead of a short URL? My understanding is that the locator service can receive the app state and return a "long" URL. A short URL has to be a stored saved object, which requires privileges to create, and has to be cleaned up later.

[2021-07-08 17:48] tsullivan commented on #103343
Hi @jloleysens the validation code for the Cloud management portal exists in the the private repo for Cloud. Here is an example PR: https://github.com/elastic/cloud/pull/79925

[2021-07-08 17:51] parkiino opened #104952 "[Host Isolation][Cases] Empty isolation/unisolation comment in cases details should not have a comment body"
If the comment body is empty for a host isolation action, there should be no empty comment box shown in the cases view comments list.

[2021-07-08 17:51] elasticmachine commented on #104952
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-08 17:58] liza-mae commented on #92887
On 7.14.0 there is now another difference on the pie charts.

Non default space:
[code]

Default Space:
[code]

[2021-07-08 18:01] peluja1012 commented on #104582
@spong @MadameSheema This is expected behavior as discussed in the original PR [here](https://github.com/elastic/kibana/pull/100554#issuecomment-855747069). When users use the "select all" feature, we don't have an easy way to determine if "all" of the selected rules are prebuilt. However, when users select the current page or select individual rules, the "export" option should still be disabled a

[2021-07-08 18:05] tsullivan commented on #72496
Hi @spalger is this issue still valid?

[2021-07-08 18:10] #104582 closed

[2021-07-08 18:19] yctercero opened #104958 "[Alerts as Data] - Finding a home"
### Summary

The existing implementation of alerts as data includes the `ruleRegistry`, and the `alertsClient`. These currently both live within the `ruleRegistry` plugin. The `ruleRegistry` began as a very stateful plugin and was subsequently updated to resemble more of a stateless library that provides a toolkit  for registering rules with the alerting framework. The `alertsClient` exposes CRUD

[2021-07-08 18:21] lukasolson commented on #104515
Looks like this is the root cause: https://github.com/elastic/elasticsearch/issues/75152

[2021-07-08 18:22] sqren commented on #103233
@spalger I tried configuring the external service to call kibana like:

[code]

While it works if Kibana is started with basepath, it doesn't work if Kibana is started without. I understand why: there is no proxy running. But this is a problem because I want the external service to be able to call Kibana regardless of basepath.

Again: in development mode we still want other services to be able to

[2021-07-08 18:37] spalger commented on #103233
Is that absolute? If so I'd recommend automatically detecting the basePathProxy by starting with the `__UNSAFE_bypassBasePath` version of the URL and if that works try without it, then if neither works you can fail whatever logic you're working on with an "unable to determine Kibana URL" or something...

[2021-07-08 18:43] nickpeihl opened #104961 "[Alerting] Unable to clear "Additional Comments" field in some connector tests"
**Kibana version:**
7.14.0-BC

**Browser version:**
Firefox

**Original install method (e.g. download page, yum, from source, etc.):**

Cloud

**Describe the bug:**

Connectors such as Jira and ServiceNow have an "Additional Comments" field that can not be completely cleared. The first character entered in the form can not be deleted.

This bug occurs both in the Connector Test and when adding the

[2021-07-08 18:45] elasticmachine commented on #104961
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 18:49] jasonrhodes commented on #104958
Some context about the framework vs library situation: the main goal that I think we should focus on when trying to be "not a framework" is that we shouldn't block access to Kibana Alerting Framework APIs. We don't want to provide "registerType", we want rule type authors to use that API directly, with decoration tools provided by this plugin.

That said, this plugin should feel free to engage in

[2021-07-08 18:50] elasticmachine commented on #104942
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-08 18:51] cauemarcondes commented on #104676
The kuery search is broken, after talking to @lukasolson and opened a new bug on ES https://github.com/elastic/elasticsearch/issues/75154

[2021-07-08 18:59] tsullivan commented on #104235
I think this proposal should interest @elastic/kibana-app-services. The `search` services typically uses a "danger" toast rendered with a custom React component when showing an error. The way it is done uses a custom class that extends Error, and it is extremely hard to find the "important" part of the error. See https://github.com/elastic/kibana/issues/104466#issuecomment-875799693

[2021-07-08 19:02] #101126 closed

[2021-07-08 19:06] adam-stokes commented on #103891
I ended up with this working config:

[code]

[2021-07-08 19:13] poffdeluxe commented on #74374
Fixed by https://github.com/elastic/kibana/pull/89562

[2021-07-08 19:13] #74374 closed

[2021-07-08 19:15] adam-stokes commented on #103891
I managed to get it to work with this config:

[code]

Maybe having a documentation tip on how to input env variables that require things like an array would be helpful here?

[2021-07-08 19:26] nastasha-solomon opened #104964 "[Security Solution] Users can set Case privs for the Observability solution"
**Describe the bug:** When configuring role privileges, users can enable Kibana space privileges for the Cases feature within the Observability app. I found this while checking out the latest build at https://kibana.siem.

<img width="1584" alt="obs-cases" src="https://user-images.githubusercontent.com/79124755/124979241-cb474700-e000-11eb-8569-f2f6bb1ed65e.png">

**Kibana/Elasticsearch Stack vers

[2021-07-08 19:26] elasticmachine commented on #104964
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-08 19:29] #104907 closed

[2021-07-08 19:34] ecezalp commented on #104419
it looks like the LinkButton component from EUI does not actually support the EUI Link prop "external" or a regular a tag attribute "target". I also tried the following "hack" on the LinkButton but it looks like forwardRefs are a no-go either
[code]

What is the best approach here? Wrapping an EUI link around an EUI button, and doing away with the button link? Ideally adding the "external" prop to

[2021-07-08 19:36] elasticmachine commented on #104964
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-08 19:37] stephmilovic commented on #104964
This might just be on master, needs to be verified on 7.14 to be a bug

[2021-07-08 19:48] #104854 closed

[2021-07-08 20:03] FrankHassanabad opened #104974 "autocomplete service returns 500 internal server error when given indexes that do not exist"
**Describe the bug:**
When you hit the autocomplete service within Kibana using either `kibana.yml` strategies of:

[code]

or the newer default one (from https://github.com/elastic/kibana/pull/100174)

[code]

You get back a 500 internal service error:

[code]

**Steps to reproduce:**
Use a CURL script to hit the service with a non-existent index such as:

[code]

**Expected behavior:**
Errors fr

[2021-07-08 20:03] elasticmachine commented on #104974
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 20:03] tsullivan commented on #104568
Confirmed this is fixed in 7.14

These sample logs show the life cycle of a report job that was interrupted at the first attempt from a SIGHUP signal sent to the Kibana process.
[code]

There is higher-level error handling working now, which logs this message: `[info][plugins][reporting][runTask] Rescheduling task:kqvc1nte02pv8f5fe51kf3to to retry after error.`

[2021-07-08 20:03] #104568 closed

[2021-07-08 20:07] elasticmachine commented on #104243
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-08 20:07] elasticmachine commented on #104243
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 20:12] tsullivan commented on #104243
Hi, if you are experiencing date formatting issues in 7.9.x, it could be a bug introduced in https://github.com/elastic/kibana/pull/67027

CSV formatting was re-written in 7.13: upgrading will fix your issue.

[2021-07-08 20:12] #104243 closed

[2021-07-08 20:18] ecezalp commented on #104419
Update: It is possible to use EuiButton with the "target" prop, which is sufficient to meet the needs of this issue

[2021-07-08 20:23] dhurley14 opened #104977 "[Security Solution] [Detections] Addition of "server log" action to the list of actions available for detection rules"
**Describe the feature:**

The Detection rules utilize a subset of available actions provided by the alerting framework. We have seen feature requests for the addition of the "server log" action to the list of available rule actions in Detections.

Opening this issue to discuss if there are any technical limitations for adding this to the Detections rule actions list and for tracking progress towa

[2021-07-08 20:23] elasticmachine commented on #104977
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-08 20:23] elasticmachine commented on #104977
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-08 20:30] kenwdelong opened #104978 "Kibana stops scrolling before end of results list."
**Kibana version:**
7.12.0

**Elasticsearch version:**
7.12.0

**Server OS version:**
Phusion docker image

**Browser version:**
 Brave Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Docker  https://github.com/kenwdelong/elk-docker/blob/master/Dockerfile

**Describe the

[2021-07-08 20:33] #102408 closed

[2021-07-08 20:35] mostlyjason opened #104980 "[Fleet] Add multiple ES outputs to the same cluster used by Fleet"
In Fleet global settings, users should be able to add multiple Elasticsearch outputs with different settings and names for each. These outputs should be for the same cluster used by Fleet as a datastore. This allows Fleet to generate API keys and install integration packages in that cluster.

Related requirements:
* https://github.com/elastic/cloud/issues/84282
* https://github.com/elastic/beats/i

[2021-07-08 20:35] elasticmachine commented on #104980
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 20:38] mostlyjason opened #104983 "[Fleet] Set separate global defaults for integrations and agent monitoring outputs"
In the Fleet global settings, users should be able to set separate defaults for integrations and agent monitoring outputs. These will apply across all agent policies, unless they are overridden by a specific agent policy.

Related issue:
* https://github.com/elastic/beats/issues/22051#issuecomment-788322728

[2021-07-08 20:38] elasticmachine commented on #104983
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 20:38] ecezalp commented on #104419
#104979

[2021-07-08 20:43] mostlyjason opened #104985 "[Fleet] Set outputs for an agent policy"
In the Fleet agent policy settings page and create agent policy flyout, users should be able to set outputs for integrations and agent monitoring data. This will override the global default set on the Fleet settings page. It will allow the user to select different outputs from the list on the Fleet settings page.

Example mockup:
![image](https://user-images.githubusercontent.com/6370704/124988015

[2021-07-08 20:43] elasticmachine commented on #104985
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 20:44] joshdover commented on #104690
I summarized these options and tradeoffs in a bit more digestable way. I'm going to dig in to our data tomorrow to see if we can determine an estimated % of clusters that are disabling plugins and see if the most common plugins would be affected by options 1 or 3.

### Summary Table

<table>
<tr>
	  <td>Option</td>
	  <td>Documents for disabled plugins after upgrade</td>
	  <td>Data loss</td>
	  <

[2021-07-08 20:48] mostlyjason opened #104986 "[Fleet] Support for Remote Elasticsearch cluster"
We want to allow users to send agent monitoring data to a remote ES cluster. This will allow the user to add a new Elasticsearch output for a remote cluster. Its the same as a regular ES output but it allows the user to set a service token manually for the remote cluster. The service token is statically passed down to the Fleet server. Fleet server generates API keys for each agent. Ideally, the s

[2021-07-08 20:48] elasticmachine commented on #104986
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 20:50] simianhacker commented on #104270
@wylieconlon I just updated the description with a wireframe which should give you basic idea of how this should work. The user would be able to set a threshold per series. If a series has a terms aggregation the threshold will be evaluated per split. Since TSVB is really popular with the observability crowd, it only makes sense to allow them to create alerts for charts they're already using. From

[2021-07-08 20:51] mostlyjason opened #104987 "[Fleet] Add a Logstash output type in Fleet settings"
Allow users to add and edit outputs for Logstash in Fleet settings. It should contain a list of hosts and a YAML configuration block for more settings. The settings should match those provided by Beats https://www.elastic.co/guide/en/beats/filebeat/current/logstash-output.html. We also want to require/encourage users to set up Logstash with minimal privileges and mTLS for good security. Please see

[2021-07-08 20:51] elasticmachine commented on #104987
Pinging @elastic/fleet (Team:Fleet)

[2021-07-08 20:56] tsullivan commented on #100007
@erictung1999 a common cause of a report job failing was found to be that SIGHUP signals will cause the browser to crash. Typically admins send a signal to a process to reload configuration or rotate the logs, but if it happened while a report is running then the job will fail: these failures were not re-trying as they should have.

That will be fixed in 7.14. Just letting you know, in case that s

[2021-07-08 21:01] tsullivan opened #104988 "[Reporting] SIGHUP signal to Kibana process should not cause a report to fail."
**Kibana version:** 5.0+
**Describe the bug:**
Typically admins send a SIGHUP signal to a process to reload configuration or rotate the logs. If this signal is sent to Kibana while a PDF or PNG report is running, then the attempt will fail.

In 7.14+ the problem is alleviated somewhat: a bug has been fixed that allows the job to retry. But given that Chromium is documented to close when it receive

[2021-07-08 21:01] elasticmachine commented on #104988
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-08 21:01] elasticmachine commented on #104988
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-08 21:04] ecezalp commented on #104389
#104989

[2021-07-08 21:06] kaiyan-sheng commented on #104241
@kpollich Thanks for checking. I also tried with a fresh 7.14 cloud instance and everything works as expected. But `elastic-package stack up --version 7.14.0-SNAPSHOT -d -v` is still failing.

[2021-07-08 21:13] wylieconlon commented on #104270
Thanks, that helps me understand what you're imagining. It looks like your example is the default TSVB chart type, where it's a single-series line chart, but I'm curious whether you think the same approach can handle all the other TSVB options like "Group by", "Top N" or "Entire time range mode".

[2021-07-08 21:13] jasonrhodes commented on #104270
Thanks for all of the comments here, Lens folks. We definitely want to keep you all updated as we progress on this. We unfortunately need to get something into the product sooner than later so we're investigating how this might work here. Please follow along with this ticket for updates on which way(s) we decide to go.

[2021-07-08 21:18] jasonrhodes commented on #104270
Thanks for fleshing out the proof of concept here, @simianhacker. One other thing we should think about before we get too far into implementation is how we store this information in the alert so it can be edited later -- for now do we just make the alert read from the visualization dynamically, so that if the viz is updated, it would be affecting the alert? Or do we have a way of serializing the T

[2021-07-08 21:40] wylieconlon commented on #103869
It looks like @himanshu007-creator may have dropped this issue, as there's been no response for a week. It typically takes multiple rounds of testing & code review to get a PR ready to merge.

[2021-07-08 21:40] sqren commented on #90155
@dgieselaar Probably won't make a difference but perhaps the abort listener should be added immediately (instead of inside the `setTimeout`

[code]

[2021-07-08 21:43] wylieconlon commented on #104211
I've verified that this is a duplicate issue https://github.com/elastic/kibana/issues/103869 and updated the description.

[2021-07-08 21:43] #104211 closed

[2021-07-08 22:00] simianhacker commented on #104270
@wylieconlon The data behind the different visualization types is the same data, except most of them are just displaying the last bucket; we won't need to handle those differently. For entire time range, we will use the same metric but honor the "FOR THE LAST x" as the time range. "Group By" will be handled the same way we handle it in the Metric Threshold alert, the threshold will be evaluated ag

[2021-07-08 22:14] simianhacker commented on #104270
We might want to visualize the chart similar to our previews in the Metric Threshold chart (bar chart) since it's a better representation of the buckets and how the values change over time. I don't think there is much advantage to using the actual TSVB visualization. The real value is using the metric definitions and data returned from the TSVB query.

[2021-07-08 22:30] cjcenizal commented on #104793
Duplicate of https://github.com/elastic/kibana/issues/63189

[2021-07-08 22:30] #104793 closed

[2021-07-08 22:31] cjcenizal commented on #99144
@cuff-links I'm confused by the `non-issue` label. If this isn't an issue can we close it?

[2021-07-08 22:50] nreese commented on #104154
I think we should include a message about results being filtered by map view area when source.isFilteredByBounds is true.

This check could be added here https://github.com/elastic/kibana/blob/master/x-pack/plugins/maps/public/connected_components/right_side_controls/layer_control/layer_toc/toc_entry/toc_entry_button/toc_entry_button.tsx#L115

[2021-07-08 22:52] bhavyarm commented on #104154
@nreese is fast :) Thanks Nathan. This caught me by surprise because my zoom levels are too restrictive. Cheers!

[2021-07-08 23:29] #103971 closed

[2021-07-08 23:34] MikePaquette commented on #104371
Here's a bit more information:
There seems to be a difference in behavior, based on the rule type.

I just tried three cases:

1. custom rule - exception field autocomplete OK - value autocomplete NG
2. prebuilt rule - exception field autocomplete OK - value autocomplete OK
3. endpoint rule - exception field autocomplete NG

cc: @FrankHassanabad

[2021-07-09 00:11] #72496 closed

[2021-07-09 00:14] alex-fedotyev commented on #103257
I do agree, makes sense, thanks for raising it!

[2021-07-09 00:14] nickpeihl opened #105005 "[Alerting] Alert mute toggle delay is confusing"
**Kibana version:**
7.14.0-BC

**Browser version:**
Firefox

**Original install method (e.g. download page, yum, from source, etc.):**

Elastic Cloud

**Describe the bug:**

The "Mute" toggle for alerts in a rule does not switch instantly. Instead there is a small delay before the toggle. This is contradictory to the Rule "Mute" toggle which is instant.

This appears to be a nit, but this was slig

[2021-07-09 00:14] elasticmachine commented on #105005
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-09 00:16] sqren commented on #103233
Sorry, I meant to say that I've setup the service to call Kibana like:

[code]

I guess I we can make it a requirement that people run Kibana with basepath enabled. After all, that is the default.
The endgoal for me is that developers can start the APM stack (Elasticsearch, APM Server, APM agents) and OOTB they can connect to Kibana if it's running with the normal defaults.

[2021-07-09 00:55] #101249 closed

[2021-07-09 02:19] thelink2012 commented on #104466
Hey. I also think this is _probably_ not a UI/Kibana issue. It's probably some characteristic of the indexed data that's triggering a corner case that went unnoticed in the [highlighting change](https://github.com/elastic/elasticsearch/commit/1fc09f9ce143c94d7438e2394c7f66a29b814ebc) in Elasticsearch. Like I said, I can look further in the weekend _(your step by step guide will be invaluable, than

[2021-07-09 02:34] jen-huang commented on #104241
Thanks Kyle and Kaiyan. @kpollich, can you dig into the discrepancy using [elastic-package](https://github.com/elastic/elastic-package)? I'm wondering if there is something specific to the registry used that docker stack.

[2021-07-09 02:36] jen-huang commented on #104280
@dikshachauhan-qasource For quick start certs shouldn't be needed. For production, the commands generated in the following step has placeholder arguments for certs.

[2021-07-09 03:02] mdefazio commented on #92355
Apologies for the delay in response.  I have this on my list and will get an option back to you soon.

[2021-07-09 03:10] mdefazio commented on #75863
Correct.  While i'm not suggesting this is a solution, the global search has been improved upon and I think we should lean on it for this type of scenario. This will also hopefully be resolved in the future when alert/rule management is accessible within the solution or not buried inside Management.

[2021-07-09 03:51] yctercero commented on #104580
PR merged! Please let me know if any further changes are needed.

[2021-07-09 03:52] yctercero commented on #104406
PR merged! Please let me know if any further changes are needed.

[2021-07-09 04:28] nchaulet commented on #101710
I investigated a little on this and looks like the package is malformed we are missing all the "install_version" , "install_status" ,"install_started_at", "install_source" : "registry" property on the package I tested locally to remove this field from the package and I get the same error.  I think we missed a migration from 7.9 to 7.10 where we introduced these fields.

I am going to work on a wor

[2021-07-09 04:40] dikshachauhan-qasource commented on #104838
Hi @jen-huang

Thanks for confirmation on the behavior.

[2021-07-09 05:06] kibanamachine opened #105016 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/formula·ts - lens app lens formula should update and delete a formula"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15390/)

[2021-07-09 05:25] tsullivan opened #105017 "[Lens] No indication when date histogram can not use the specified custom interval"
**Kibana version:** 7.14.0-bc2
**Describe the bug:** When editing a Lens with a date histogram, such as a table or a bar chart, the user is given an option to customize the date interval. However, certain inputs for the custom interval do not work, and no indication is given why.

**Steps to reproduce:**
1. Create a Lens data table with a date histogram showing 300 or so rows for a daily interval.

[2021-07-09 05:25] elasticmachine commented on #105017
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 05:50] karanbirsingh-qasource commented on #104049
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and found it still occurring 🔴 for **_single_** of the Global Search Navigations that is **_External Alert under hosts_** and all other navigations are working correctly.

Additionally, the Manage and Detect text is still shown in global search results BC2.
![image](https://user-images.githubusercontent.com/59917825/125028905-69d9b380-e0

[2021-07-09 05:50] kibanamachine opened #105018 "Failing test: Jest Tests.src/plugins/dashboard/public/application/hooks - Dashboard initial state Extracts state from Dashboard Saved Object"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15250/)

[2021-07-09 05:59] karanbirsingh-qasource commented on #104071
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and Found it Fixed ✔️ . Timeline opened in fullscreen on clicking on timeline name with alert detail flyout.

**Build Details:**
Version: 7.14.0 BC2
Build:42401
Commit:9826a943dc2e47f26ec6de94816e7d297b752994

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125030552-ea011880-e0a8-11eb-8044-7fa956a8de5c.png)

[2021-07-09 05:59] #104071 closed

[2021-07-09 06:03] karanbirsingh-qasource commented on #104383
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and Found it Fixed ✔️ . User Navigated to Rule Detail page correctly on clicking on any rule under Rule Monitoring.

**Build Details:**
Version: 7.14.0 BC2
Build:42401
Commit:9826a943dc2e47f26ec6de94816e7d297b752994

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125030787-4cf2af80-e0a9-11eb-9b84-9a62a0e781

[2021-07-09 06:03] #104383 closed

[2021-07-09 06:07] karanbirsingh-qasource commented on #103845
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and Found it Fixed ✔️ . User redirected correctly to respective the Host Detail page on clicking on clicking **view details page** button under timeline .

**Build Details:**
Version: 7.14.0 BC2
Build:42401
Commit:9826a943dc2e47f26ec6de94816e7d297b752994

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/12503

[2021-07-09 06:07] #103845 closed

[2021-07-09 06:11] karanbirsingh-qasource commented on #103839
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and Found it Fixed ✔️ . Users can correctly use the breadcrumb navigation with the timeline opened and no crash happens.

**Build Details:**
Version: 7.14.0 BC2
Build:42401
Commit:9826a943dc2e47f26ec6de94816e7d297b752994

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125031698-98598d80-e0aa-11eb-8e76-54acf

[2021-07-09 06:11] #103839 closed

[2021-07-09 06:20] ruflin commented on #104986
Ideally this would also work with API keys and the user should not have to figure out all the exact permissions for this to work. We would need to figure out how the user could easily retrieve this API key.

[2021-07-09 06:21] karanbirsingh-qasource commented on #103467
HI @MadameSheema

we have validated this issue on 7.14.0 BC2 and Found it Fixed ✔️ . Glassed icon retain after landing to case page from global search and case list page and case details page both.

**Build Details:**
[code]

**Screen-cast:**
https://user-images.githubusercontent.com/59917825/125032644-e8851f80-e0ab-11eb-9716-6f56de3a369f.mp4

Hence we are closing this issue and adding "QA:Validat

[2021-07-09 06:21] #103467 closed

[2021-07-09 06:32] elasticmachine commented on #104978
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 06:33] elasticmachine commented on #105016
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 06:35] elasticmachine commented on #105018
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-09 06:36] elasticmachine commented on #104931
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 06:50] ruflin commented on #104622
For 7.15, we should definitively rely on the package. For 7.14 I'm thinking we should hard code it. The reason for this is that my assumption is the `elastic_agent.*` pattern is currently hardcoded too. So changing this hardcoded part should be a more minimal change / less risk.

This does not mean, we should still update the package for 7.14 too but I do not expect this to have any effect on the

[2021-07-09 06:55] pgayvallet commented on #104690
Yea, the added complexity is all but negligible, and I agree that I would gladly avoid this option if possible

I agree with your summary and your order of preference.

To explain a little more, I do think `2.` is plain dangerous in the mid/long term. Even if the only effectively dangerous scenario is the 'upgrade to from `7.14` or prior to `7.15/8.0` or higher with disabled plugins, such possibil

[2021-07-09 06:59] walterra commented on #104890
I was able to reproduce the error with a dataset that queries 10000+ documents overall. Next step: Find out if a foreground distribution (filtered by field/value pair) is causing the problem because of too little data or if the parameters (fractions,ranges etc.) are causing the problem.

[2021-07-09 07:03] karanbirsingh-qasource commented on #103458
Hi @MadameSheema

we have seen out of a total of 4 issues only one is open and not fixed and the other 03 is fixed and closed.

Additionally, the open issue https://github.com/elastic/kibana/issues/103474 is moved to the enhancement and backlog.

so I think we can track that issue https://github.com/elastic/kibana/issues/103474 separately and close this issue ?

thanks!!

[2021-07-09 07:20] elasticmachine commented on #104261
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 07:20] elasticmachine commented on #104433
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-09 07:21] elasticmachine commented on #104958
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-09 07:21] elasticmachine commented on #104503
Pinging @elastic/apm-ui (Team:apm)

[2021-07-09 07:22] elasticmachine commented on #104569
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-09 07:23] elasticmachine commented on #104427
Pinging @elastic/apm-ui (Team:apm)

[2021-07-09 07:23] elasticmachine commented on #104296
Pinging @elastic/ml-ui (:ml)

[2021-07-09 07:29] dokmic opened #105022 "[Canvas] Right-click is not handled correctly on macOS"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Safari, Firefox, Chrome
**Browser OS version:** macOS 11.2.3
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
Right-click on Mac via [Control-click](https://support.apple.com/guide/mac-help/right-click-mh35853/mac) is initiati

[2021-07-09 07:29] elasticmachine commented on #105022
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-09 07:34] timroes commented on #92887
@liza-mae That can def happen when your tests create new spaces and the advanced settings in them are different. We have an advanced setting `visualization:visualize:legacyChartsLibrary` that will affect whether we use the legacy vislib renderer (the SVG you're seeing) or the new elastic-charts renderer, the Canvas you're seeing. So you should make sure in your tests when you work with different s

[2021-07-09 07:40] deepikakeshav-qasource commented on #99884
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC2 build and observed that issue is **Fixed**. Scroll bar is displying for Long data investigation under Alerts details flyout.

Build Details:
[code]

**Screenshot:**
![investigation](https://user-images.githubusercontent.com/61860752/125041865-dbb9f900-e0b6-11eb-97e8-3d25b8d87709.jpg)

Hence, We are closing this ticket and marking

[2021-07-09 07:40] #99884 closed

[2021-07-09 07:40] kertal commented on #104978
Sorry to hear, could you try if it works when you hide the chart in this case? Thx!

[2021-07-09 07:43] kertal commented on #104978
Sounds like the issue fixed with #97634

[2021-07-09 07:44] dokmic commented on #104754
The issue also takes place on any page updates. Eventually, the page preview getting unresponsive.

[2021-07-09 07:58] dgieselaar commented on #101408
Hey @rashmivkulkarni, we'll start logging these errors only when Elasticsearch cancels the request, rather then when the browser does it. See https://github.com/elastic/kibana/pull/105024.

[2021-07-09 08:05] amolnater-qasource commented on #104280
Hi @jen-huang
Thanks for the feedback, could you please confirm do we need to follow the steps shared at https://github.com/elastic/observability-test-plans/issues/218 for production certs on cloud build too or it has some different steps for cloud certs generation?

Thanks

[2021-07-09 08:06] deepikakeshav-qasource commented on #103644
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC2 build and observed that issue is **Fixed**. Threat intel List is not shuffling automatically if we set the future time

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/125042387-64d13000-e0b7-11eb-91d4-b9725421eaca.mp4

Hence, We are closing this ticket and marking as QA Validated.

Thank

[2021-07-09 08:06] #103644 closed

[2021-07-09 08:28] sqren opened #105025 "[APM] Fix documentation for `xpack.apm.searchAggregatedTransactions`"
We have documented the setting `xpack.apm.searchAggregatedTransactions` incorrectly here: https://github.com/elastic/kibana/blob/8dd08529ae764d9691869625720c29d4a2feafa3/docs/settings/apm-settings.asciidoc

The description says that the setting is a boolean, but it is an enum with three options: "never", "always" or "auto"

This has already been documented correctly [here](https://github.com/elast

[2021-07-09 08:28] elasticmachine commented on #105025
Pinging @elastic/apm-ui (Team:apm)

[2021-07-09 08:35] #103456 closed

[2021-07-09 08:48] dej611 opened #105031 "[TSVB] Data Formatter field is pretty small in Safari"
**Describe the bug:**

The Data Formatter field is not large enough to show its content in Safari.
Same UI in Chrome is fine.

<img width="336" alt="Screenshot 2021-07-09 at 10 34 16" src="https://user-images.githubusercontent.com/924948/125051293-19ad2200-e0a3-11eb-8f83-d11a4d19b4e4.png">

<img width="457" alt="Screenshot 2021-07-09 at 10 49 09" src="https://user-images.githubusercontent.com/9249

[2021-07-09 08:48] cnasikas commented on #103071
Fixed by https://github.com/elastic/kibana/pull/105030

[2021-07-09 08:48] elasticmachine commented on #105031
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 08:56] flash1293 commented on #104816
@wylieconlon I was focused on the forecasting, but it makes sense to broaden the scope.

[2021-07-09 08:56] droberts195 commented on #104296
Running it through the ES endpoint directly shows the reason behind this:

[code]

The key bit there is `Field [Message] has both object and non-object values - this is not supported by Elasticsearch`.

This is a genuine problem: one document has `"Message":{"TestJsonProperty":"TestJsonValue"}`, which is an object, and the other has `"Message":"TestTextValue"`, which is a simple string value.  It

[2021-07-09 08:58] MadameSheema commented on #104371
@deepikakeshav-qasource can you please try to reproduce the issue on BC2? Thanks! :)

[2021-07-09 09:00] deepikakeshav-qasource opened #105034 "[Security Solution]Top left navigation ☰ is not working when create a timeline page is opened"
**Describe the bug**
Top left navigation ☰ is not working when create a timeline page is opened.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Endpoint should be installed

**Steps to Reproduce**
1. Go to Security App.
2. Click on Timelines tab.
3. Click on create a new timeline button.
4. Click on Top left nav

[2021-07-09 09:00] elasticmachine commented on #105034
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-09 09:00] deepikakeshav-qasource commented on #105034
@manishgupta-qasource Please review!!

[2021-07-09 09:13] flash1293 commented on #75198
The used interval should also be indicated in the UI if a custom minimum interval is picked.