[2021-02-23 09:37] #91995 closed

[2021-02-23 09:39] deepikakeshav-qasource opened #92364 "[Security Solution] Kibana page gets unresponsive after adding the case a rule action on creating the custom rule."
**Description**
Kibana page gets unresponsive after adding the case in action when creating the custom rule.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. 7.12.0 Environment should exist.
2. Auditbeat should be installed.

**Steps to Reproduce:**
1. Login to Kibana environment.
2. Click on the detection tab of security.
3. Click on "Manage detection rules".
4. Click o

[2021-02-23 09:39] elasticmachine commented on #92364
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 09:45] stratoula opened #92366 "[Dashboard] Save button is not disabled when there are no changes"
**Kibana version:**
7.12 - Cloud

**Steps to reproduce:**
1. Create a dashboard on a cloud instance
2. Save it
3. Click to edit it again, the save button doesn't appear to be disabled even though I haven't changed anything
4. Important note: I do not reproduce it locally, it only happens to my cloud instance

**Expected behavior:**
I expect it to work precisely as locally, the save button to be di

[2021-02-23 09:45] elasticmachine commented on #92366
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 09:52] Holyfiled opened #92367 "kibana discover save search object operation takes more than 30 seconds, very slowly."
**Kibana version:*7.9.3*

**Elasticsearch version:*7.9.3*

**Server OS version:*CentOS Linux release 7.6.18*

**Browser version:*Google Chrome 88.0.43*

**Browser OS version:*Windows 10*

**Original install method (e.g. download page, yum, from source, etc.):*download page*

**Describe the bug:*kibana discover save search object operation takes more than 30 seconds, very slowly. *

**Steps to repr

[2021-02-23 09:53] kertal commented on #92323
I've tested this in master which contains lot's of related changes (#88426) back ported to 7.12 and it works, so it should be fixed with BC2, let's revisit it once the next build is available

[2021-02-23 09:58] dgieselaar commented on #92360
@formgeist there is currently no issue on the ES side, I can do that but it'd be good to figure out first whether that is the only (viable) solution, and what the priority is. I need some guidance for both 😄

[2021-02-23 10:00] #91448 closed

[2021-02-23 10:02] elasticmachine commented on #92367
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 10:10] kertal commented on #92367
@Holyfiled thx for reporting , so if a `report` request takes a long time, this is a telemetry request. however there should be no `report` request be triggered when you save a search. And it shouldn't take 30s. Mind if you record and share a HAR file for better debugging? you can also send it to me via email if you don't want to share it in public

[2021-02-23 10:10] alfkonee opened #92368 "[APM] Throughput chart displays wrong values"
The throughput chart is wrongly calculating the rate. It looks like the rate is calculated by dividing the bucket's transaction count by the overall date range, when it should be divided by the bucket's date range.

![image](https://user-images.githubusercontent.com/3909521/108828762-2c74fd80-75bf-11eb-874b-23924f9274ca.png)

compared to the transactions Tab
![image](https://user-images.githubuser

[2021-02-23 10:10] elasticmachine commented on #92368
Pinging @elastic/apm-ui (Team:apm)

[2021-02-23 10:14] flash1293 commented on #92323
https://github.com/elastic/kibana/pull/91987 Should take care of that, but we can verify with the next BC

[2021-02-23 10:28] balee commented on #54192
I understand that disabling the home page is not on the roadmap.

However, there are parts of the UI which are pointless and annoying in certain situations.
In the case of a readonly user who has rights only for discovering indexes, what is the point of
- "Add data" on Home page: nothing can be done there
- "Manage" on Home page: it says "Application Not Found" anyway
- The whole "Ingest your data

[2021-02-23 10:37] markov00 commented on #92135
And causes issues also on help tooltips like the following
![Feb-23-2021 11-35-25](https://user-images.githubusercontent.com/1421091/108832102-5502f480-75cb-11eb-8f8e-d13631f334f1.gif)

[2021-02-23 10:39] tanish14 commented on #86425
@streamich Can I work on this if this issue is still open?

[2021-02-23 10:44] #91869 closed

[2021-02-23 10:47] dej611 opened #92373 "[Lens] Custom formatters do not work for fullReferenced operations"
**Kibana version:** 7.12

**Elasticsearch version:** 7.12

**Browser version:** Safari, Firefox, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**

If any advanced quick function (`moving_average`, `counter_rate`, `cumulative_sum`, `differences`) is used, the custom formatter does not get applied:

<img width="1116" alt="Screenshot 2021-

[2021-02-23 10:47] elasticmachine commented on #92373
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 10:58] gmmorris commented on #90007
In the end docs were missing for only two PRs:

1.  Added a new commit to the [Scaling Docs](https://github.com/elastic/kibana/pull/91171/commits/ad4fde6c20e5dbc8d757d3d07ceb91dc0309d8fe)  to address the missing docs in https://github.com/elastic/kibana/pull/88020
2. https://github.com/elastic/kibana/pull/92225

[2021-02-23 11:15] muskangulati-qasource opened #92379 "[Bug] Policy changes are not pushed immediately after adding the trusted Applications."
**Description**
Policy changes are not pushed immediately after adding the trusted Applications.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Endpoint should be installed with Security Integration

**Steps to Reproduce:**
1. Add trusted Application to the 'Trusted Application' list.
2. Observe that policy changes are not pushed imme

[2021-02-23 11:15] elasticmachine commented on #92379
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 11:15] elasticmachine commented on #92379
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-23 11:15] muskangulati-qasource commented on #92379
@manishgupta-qasource please review!

[2021-02-23 11:19] spinscale commented on #78014
This still happens in 7.11, but now this gets. displayed for every large request in the dev tools console if you execure more than one huge requests... this looks like this and clutters your console

![image](https://user-images.githubusercontent.com/667544/108836308-fe001e00-75d0-11eb-93ee-a78887c05142.png)

The error message is not really actionable to me from a user perspective.

[2021-02-23 11:20] afgomez opened #92380 "[Logs UI][Test plan] Log stream dashboard embeddable"
## Prerequisites

- A kibana index pattern needs to exist, to allow creating dashboards.
## Scenario

- Go to "Dashboard" and create a new dashboard
- Click on "Add from library", on the flyout click on "Create new" and select "log stream".
	- [x] A new dashboard panel appears with a log stream.
	- [x] The panel title is "Log stream". (depends on [https://github.com/elastic/kibana/pull/91817](http

[2021-02-23 11:20] elasticmachine commented on #92380
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 11:23] afgomez opened #92381 "[Logs UI][Test plan] Log detail flyout"
# Summary

This test plan covers the log line detail view, accessible from the main log view.

## Prerequisites

To test locally:

- Download the build candidate version of elasticsearch, kibana, and filebeat.
- Enable the filebeat system module. Optionally, enable other modules if you have any other services on your machine.
- Start elasticsearch, kibana, and filebeat.

To test with the [observab

[2021-02-23 11:23] elasticmachine commented on #92381
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 11:24] afgomez opened #92382 "[Logs UI][Test plan] Log stream page"
## Summary

This test plan intends to cover the integration between the UI and the APIs in the log stream page. They cover all the different ways the users could use the tool.

## Prerequisites

- Download the BC of elasticsearch, kibana, and filebeat.
- Start **only** kibana and elasticsearch.

## Test cases

### With no valid or non existing indices

When the user goes to the logs app:
- [x] It

[2021-02-23 11:25] elasticmachine commented on #92382
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 11:26] afgomez opened #92383 "[Logs UI][Test plan] View log in context"
# Summary

This test plan covers the "View log in context" feature in the log stream page.

## Prerequisites

To test this properly you need to do use both a local setup and some sort of cloud setup (the observability cluster is fine).

For the local setup:
- Download the BC for elasticsearch, kibana, and filebeat.
- Enable the filebeat system module.
- Start everything.

For the cloud setup:
- Do

[2021-02-23 11:26] elasticmachine commented on #92383
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 11:35] arisonl commented on #89166
(just for the record and visibility: some of the [questions and discussion](https://github.com/elastic/kibana/issues/84174#issuecomment-783269656) that led to this path)

[2021-02-23 11:41] restrry commented on #78869
APM team added API that allows instrumenting a span with a custom context. https://github.com/elastic/kibana/pull/90403
It can be leveraged to add domain-specific context for low-level API. For example, we can use it to create a span `UiSettings.read` instead of showing an HTTP request to ES endpoint `/.kibana/_doc`. Which makes the APM results much easier to understand for people without knowledg

[2021-02-23 11:47] gmmorris commented on #92197
I think that's a separate question tbh.
Once we have a richer experience in Alert Details, I can totally see an analyst wanting to evaluate whether a certain detection makes sense before attaching behaviour (actions) to it.

I don't think preview is quite enough for that if you want to leave a few detections running in parallels for a while and compare them later.
Thinking back to my last job, tha

[2021-02-23 11:52] karanbirsingh-qasource opened #92384 "[Security Solution]Error "Failed to run search on event" is faced on running sequence EQL query under timeline"
**Describe the bug**
Error "Failed to run search on event" is faced on running sequence EQL query under timeline

**Build Details:**
Platform: Production
Version: 7.12.0 BC1
Commit:038fd51b0474c96e4d3ae58db1308c5f8aba71bd
Build: 38938

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environm

[2021-02-23 11:52] elasticmachine commented on #92384
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 11:52] karanbirsingh-qasource commented on #92384
@manishgupta-qasource Please review

[2021-02-23 11:54] Dosant commented on #92099
@flash1293, thanks for digging into it!

Alternatively, we could take discover's history instance and add an artificial listener to it:

here: https://github.com/elastic/kibana/blob/3b1ca526a79dafcfd092e55f8f10b57cf365792a/src/plugins/discover/public/kibana_services.ts#L65

have:

[code]

This should make sure that Discover apps' history instance keeps `history.location` in sync.

We don't have th

[2021-02-23 12:01] muskangulati-qasource commented on #92163
Hi @michaelolo24,

Thank you for the information.

Since it is expected, hence closing this ticket.

Thanks!

[2021-02-23 12:02] #92163 closed

[2021-02-23 12:02] muskangulati-qasource commented on #91629
Hi @michaelolo24,

Thank you for the information.

We can close this if it is expected for now.

Thanks!

[2021-02-23 12:04] monfera opened #92385 "[Canvas] An extra Undo yanks the user out of workpad editing"
**Kibana version:**
7.12

**Browser version:**
Chrome 88

**Browser OS version:**
OS X

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
If there's nothing left to undo,
- the undo menu item is still active, and so is the Cmd-Z shortcut
- it does something unexpected, yanks the user out of the workbook editing

**Steps to reproduce:**
1.

[2021-02-23 12:04] elasticmachine commented on #92385
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 12:06] dgieselaar commented on #78869
@restrry the utility functions adds a span as a parent of the spans created in its context. It does not currently _replace_ an automatically generated span. That would require some work in the Node.js agent I think, something that would allow us to intercept spans and rename them. I do think something like that would be better in the long run. @elastic/apm-agent-node-js

[2021-02-23 12:10] elasticmachine commented on #91816
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 12:11] elasticmachine commented on #91631
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 12:12] monfera opened #92386 "[Canvas] imported workbook, or all workbooks, ideally get a unique name"
**Kibana version:**
7.12

**Describe the bug:**
Exporting and importing a workbook leads to an identically named workbook. Meanwhile, cloning a workbook adds a "Copy of " prefix

**Expected behavior:**
- no possibility for name duplication, whether via export+import or otherwise
- a name deduplication prefix/postfix that's shared between cloning and export+import
- preferably, instead of the "Copy

[2021-02-23 12:12] elasticmachine commented on #92386
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 12:13] Bamieh commented on #88988
@pgayvallet I agree it makes sense to implement the hooks. We can also use it to replace the current mappings function hack we've introduced in the previous release before it gets adopted by teams.

We have a few solutions in addition to alerting who'd benefit from having this long term (any plugin that exposes their SO as an API for other plugins).

[2021-02-23 12:15] manishgupta-qasource commented on #92355
Reviewed & Assigned to @MadameSheema

[2021-02-23 12:17] manishgupta-qasource commented on #92384
Reviewed & Assigned to @MadameSheema

[2021-02-23 12:17] elasticmachine commented on #91629
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 12:18] elasticmachine commented on #92355
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 12:18] arisonl opened #92388 "PagerDuty dynamic/additional fields"
Currently the PagerDuty action fields are hardcoded. In addition, there are are requests for support of additional fields,
e.g. [1) `custom_details`, `images`, `links`](https://github.com/elastic/kibana/issues/63933) and [2) `urgency`](https://github.com/elastic/elasticsearch/issues/67203).

cc @YulNaumenko

[2021-02-23 12:18] elasticmachine commented on #92388
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-23 12:19] kertal commented on #90792
was fixed by #90906, thx for reporting!

[2021-02-23 12:19] #90792 closed

[2021-02-23 12:19] Bamieh commented on #89685
Since the mapping json files are complete with the data. We only need the automation tools  to extract the needed fields from the json files rather than tinkering with the `telemetry_tool`.

The telemetry automation script to update the mappings (both in telemetry-next and legacy telemetry) choose the `type` fields and `items` fields to grab the correct ES mapping of the field. Adding `_meta` shou

[2021-02-23 12:21] gmmorris commented on #92197
I just thought I'd add some context that might be missing for people less familiar with Task Manager.

I recently [documented](https://kibana_91171.docs-preview.app.elstc.co/guide/en/kibana/master/task-manager-health-tasks-run-late.html) how these things work, and what the [default scale](https://kibana_91171.docs-preview.app.elstc.co/guide/en/kibana/master/task-manager-production-considerations.h

[2021-02-23 12:22] #91629 closed

[2021-02-23 12:24] jamesspi opened #92389 "Add "for each" functionality, or show only unique results when users use "context.alerts" in detection engine actions"
**Describe the feature:** When creating detection engine actions with alert context (using `context.alerts`), I have no way of showing just the unique values in the output. If multiple signals are picked up by the detection engine with the same values, it gets very messy very quickly if something like `{{#context.alerts}}{{host.name}}{{/context.alerts}}` is used.

We should think about removing du

[2021-02-23 12:25] Holyfiled commented on #92367
1. Thx for your reply, now i have found the root cause of my kibana issue and solved it.
2. In ES, the system indices ".kibana" settings “refresh_interval” was modified to "50s", after i chanced "refresh_interval" to "1s", kibana save search object or create index pattern or save visual etc, they're all getting faster.
3. As for why the .kibana settings "refresh_interval" are "50s", I think the ki

[2021-02-23 12:26] mikecote commented on #92388
@arisonl is this a duplicate of https://github.com/elastic/kibana/issues/63933?

[2021-02-23 12:27] elasticmachine commented on #92389
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 12:27] elasticmachine commented on #92389
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-23 12:29] arisonl commented on #92388
@mikecote It contains it as it is broader. Also it is about making the action fields dynamic.

[2021-02-23 12:33] monfera opened #92391 "[Canvas] Elements flash upon undo or redo"
**Kibana version:**
7.12

**Expected behavior:**
No flashing, no fetch for those elements that
- aren't involved in the change, or
- where the change doesn't involve refetch of the data (ie. no flash upon drag&drop, resize, rotate, group/ungroup, layer change, ...)

**Screenshots (if relevant):**
![flash](https://user-images.githubusercontent.com/1548516/108843918-a7e4a800-75db-11eb-8139-9e84e3ee4

[2021-02-23 12:33] elasticmachine commented on #92391
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 12:37] muskangulati-qasource opened #92392 "[ Bug ] Ransomware pill is present but no log entry for the same"
**Description**
Ransomware pill is present but no log entry for the same

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment for 7.11.0 should exist.
2. Endpoint should be installed with Security Integration

**Steps to Reproduce:**
1. Upgrade the kibana instance to 7.12.0.
2. Go to the Administration tab.
3. Select the policy
4. Observe Ransomware pill pr

[2021-02-23 12:37] elasticmachine commented on #92392
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-23 12:37] elasticmachine commented on #92392
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 12:37] muskangulati-qasource opened #92393 "[ Bug ] Ransomware pill present when we upgrade from 7.11 to 7.12 but no mode selected"
**Description**
Ransomware pill present when we upgrade from 7.11 to 7.12 but no mode selected

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment for 7.11.0 should exist.
2. Endpoint should be installed with Security Integration

**Steps to Reproduce:**
1. Upgrade the kibana instance to 7.12.0.
2. Go to the Administration tab.
3. Select the policy
4. Obse

[2021-02-23 12:37] elasticmachine commented on #92393
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-23 12:37] elasticmachine commented on #92393
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 12:38] manishgupta-qasource commented on #92364
Reviewed & Assigned to @MadameSheema

[2021-02-23 12:40] manishgupta-qasource commented on #92392
Reviewed & assigned to @kevinlog

[2021-02-23 12:40] manishgupta-qasource commented on #92393
Reviewed & assigned to @kevinlog

[2021-02-23 12:40] MadameSheema commented on #92364
Closing since is a duplicate from: https://github.com/elastic/kibana/issues/91843

[2021-02-23 12:40] #92364 closed

[2021-02-23 12:41] manishgupta-qasource commented on #92379
Reviewed & assigned to @MadameSheema

[2021-02-23 12:42] elasticmachine commented on #92384
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 12:43] MadameSheema commented on #92384
@XavierM can you please take a look at this? Thanks :)

[2021-02-23 12:45] kevinlog commented on #92379
@muskangulati-qasource how long did you wait between adding the Trusted App entry and making the additional policy update?

@paul-tavares can you take a look?

[2021-02-23 12:47] Kerry350 opened #92396 "[Logs UI] [Test scenario] Categories page"
## Summary

This test scenario covers the functionality of the categories page. The main changes in 7.12 include:

- Added server side sorting abilities: #88051
- Various type changes (as part of #88677)
- Switched to the ML `useMlHref` hook for generating ML links: #90935

You may use a BC running locally or on cloud for these tests. You'll need to enable the categorisation job, and allow it to g

[2021-02-23 12:47] elasticmachine commented on #92396
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 12:48] mikecote commented on #92388
@arisonl gotcha, thanks! Should we close the other one in favour of this one?

[2021-02-23 12:51] Dosant commented on #92099
Just reproduced the issue in 7.11.1. Updating the issue description

[2021-02-23 13:05] majagrubic opened #92399 "[Discover] Going back to main Discover view from single document view fails with EsError"
**Kibana version:**
7.12.0- SNAPSHOT latest

I'm testing with `kibana_sample_data_ecommerce` index pattern.
1. Have some documents in the main Discover view
2. Expand one, go to "View surrounding documents"
3. In the context view, select "View surrounding documents" again
4. Click "View single document"
5. Click "Discover" -> ES error appears

[code]

At the first glance, looks like the problem is

[2021-02-23 13:05] elasticmachine commented on #92399
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 13:06] markov00 opened #92400 "[Lens] Long field name on field stats panel doesn't wrap/clip"
**Kibana version:**
7.12
**Browser version:**
chrome
**Browser OS version:**
macOS
**Original install method (e.g. download page, yum, from source, etc.):**
cloud
**Describe the bug:**
When a very long field name, as in the screenshot, is not correctly wrapped to a new line or clipped when showing the stats panel for that field
**Steps to reproduce:**
1. create a set of logs with `makelogs` or  ad

[2021-02-23 13:06] elasticmachine commented on #92400
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 13:09] kertal commented on #92362
Had the same error using 2 beats provided indices, source fetching
<img width="638" alt="Bildschirmfoto 2021-02-23 um 14 04 06" src="https://user-images.githubusercontent.com/463851/108847993-bc776f00-75e0-11eb-8c93-df0b12588a56.png">

[2021-02-23 13:10] stratoula opened #92401 "[Dashboard] Weird behaviour of unsaved dashboards between spaces"
**Kibana version:**
7.12

**Describe the bug:**
I have created two spaces and I have installed the sample datasets on both of them. I navigate to the default dashboard and edit one of the three sample dashboards. I add a new panel and I don't save the dashboard. I navigate to the other space and first of all, I see on the listing page that the dashboard I changed and has unsaved changes, appears t

[2021-02-23 13:10] elasticmachine commented on #92401
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 13:20] Dosant commented on #91800
Closed by https://github.com/elastic/kibana/pull/91874

[2021-02-23 13:20] #91800 closed

[2021-02-23 13:26] Dosant commented on #89278
Example plugin - https://github.com/elastic/kibana/pull/89583
Dev docs - https://github.com/elastic/kibana/pull/90979

[2021-02-23 13:26] #89278 closed

[2021-02-23 13:26] kertal commented on #92099
might be also related to this, although the error message is different: #72004

[2021-02-23 13:30] majagrubic commented on #92399
Looks like a duplicate of:
https://github.com/elastic/kibana/issues/92099

The difference is I'm using the fields API in the request, not `_source`, so will leave open until I verify

[2021-02-23 13:33] cyrille-leclerc commented on #90157
@simitt I assumed you were identifying the persona who needs to solve the problem and I felt it was convenient.

[2021-02-23 13:38] #91941 closed

[2021-02-23 13:47] michaelolo24 commented on #91631
This should be fixed in BC2 😄. Please verify @deepikakeshav-qasource, thank you!

[2021-02-23 13:48] dej611 opened #92408 "[Lens] Pie charts slices order is mirrored from the default one"
**Kibana version:** 7.12

**Elasticsearch version:** 7.12

**Browser version:** any

**Browser OS version:** MacOS

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**

Slices order in the Pie and Donut chart in Lens is mirrored compared to the default in the elastic-charts one.
In elastic charts slices are sorted by size, the first one is set on

[2021-02-23 13:48] elasticmachine commented on #92408
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 13:49] stratoula opened #92409 "[Dashboard] Return to view mode and keep changes doesn't restore last saved state for a new dashboard"
**Kibana version:**
7.12

**Describe the bug:**
I have strted working on a **new** dashboard and I have added some panels. I press `Cancel` to return to the view mode but I select to keep the unsaved changes. When I click edit I see an empty dashboard. If I add a new panel, then my unsaved changes appear!

**Steps to reproduce:**
1. Create a new dashboard and add a panel (not save it)
2. Click `Ca

[2021-02-23 13:49] elasticmachine commented on #92409
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 13:50] XavierM commented on #92384
you need to only have audit-beat in the sourcerer and it should work

[2021-02-23 13:52] timroes commented on #92362
The problem here is that we're requesting `stored_fields` explicitly in 7.12 for those "non leaf" fields in the rollup index. Beforehand we've requested `*`. I'll sync with @lukeelmers later and talk about that.

[2021-02-23 13:58] ryankeairns commented on #92223
What do you think about using some sort of standard array notation with brackets? ( e.g. [{entry},{entry}] or just [entry],[entry] ). I'm thinking that wrapping each entry would make it immediately clear, even in a short cell, that multiple entries are being displayed as there would be an opening bracket at the front. Conversely, it will be difficult to visually parse a single character between en

[2021-02-23 14:02] DBarthe opened #92412 "[Map visualization] markers size does not update according to zoom level"
**Kibana version:** 7.11.1 with x-pack security enabled

**Elasticsearch version:** 7.11.1 with x-pack security enabled.

**Server OS version:** Centos 7

**Browser version:** Firefox 85.0.2

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** Yum

**Describe the bug:**

When added to a dashboard, the map visualization does not update marke

[2021-02-23 14:02] pmuellr commented on #62002
Not entirely clear to me if the tiebreaker needs to be consistent over time, or just over the "initial load" of the list being generated.  If it needs to be consistent over time, then the per-PIT tiebreaker won't help.

We also recently [made the alert params a `flattened` mapping type](https://github.com/elastic/kibana/pull/92036), instead of `object enabled:false`.  Which looks like [can be used

[2021-02-23 14:09] muskangulati-qasource commented on #92162
Hi @ferullo,

Sure, please find logs in the zipped folder : [Logs.zip](https://github.com/elastic/kibana/files/6028724/Logs.zip).

The issue is still occurring on 7.12.0-SNAPSHOT

**Build Details**:
[code]

JFYI, We are blocked for testing on 7.12.0-BC1 due to blocker: https://github.com/elastic/beats/issues/24150  (i.e Agent stuck under updating state, which ultimately blocks endpoint security in

[2021-02-23 14:10] ryankeairns opened #92414 "Home page - Only display features that a user has access to"
I understand that disabling the home page is not on the roadmap.

However, there are parts of the UI which are pointless and annoying in certain situations.
In the case of a readonly user who has rights only for discovering indexes, what is the point of
- "Add data" on Home page: nothing can be done there
- "Manage" on Home page: it says "Application Not Found" anyway
- The whole "Ingest your data

[2021-02-23 14:10] afharo commented on #92001
We can explore enabling the `internalRepository` to read from all spaces. Some sort of `namespaces: ['*']`.

[2021-02-23 14:10] ryankeairns commented on #92414
cc: @alexfrancoeur

[2021-02-23 14:11] elasticmachine commented on #92414
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-02-23 14:11] elasticmachine commented on #92414
Pinging @elastic/kibana-core (Team:Core)

[2021-02-23 14:12] ryankeairns commented on #54192
@balee Thanks for the specific use cases. I have turned your comment into a new issue.

[2021-02-23 14:14] kertal commented on #92367
@Holyfiled great that you've solved it and shared here, so we can close this?

[2021-02-23 14:15] dej611 opened #92415 "[Vega] Kibana Vega help link leads to a 404 page"
**Kibana version:** 7.12

**Elasticsearch version:** 7.12

**Browser version:** any

**Browser OS version:** MacOS

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**

Clicking on the `Kibana Vega help` link leads to a 404 page

<img width="464" alt="Screenshot 2021-02-23 at 15 14 05" src="https://user-images.githubusercontent.com/924948/10885595

[2021-02-23 14:15] elasticmachine commented on #92415
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 14:15] elasticmachine commented on #90627
Pinging @elastic/apm-ui (Team:apm)

[2021-02-23 14:16] cyrille-leclerc commented on #91695
I assumed that "Automatically add a time field ... when it's indexed" meant that the "index Connector" would inject the ingestion date in the selected field.

It was particularly interesting to me as some observability alert templates for connectors don't expose the anomaly detection time. due to this I can't have a time indication in the recorded message.
Example indexing an APM Transaction Thres

[2021-02-23 14:17] cyrille-leclerc commented on #91695
We can put on hold this UX challenge and evaluatee more broadly how we report the detection timestamp in the templating language.

[2021-02-23 14:18] dej611 commented on #92182
Yes, can confirm that Firefox is affected by the same bug.

[2021-02-23 14:19] mikecote commented on #90007
@gmmorris looks like the PRs are merged now, is there any further ones to review?

[2021-02-23 14:20] flash1293 commented on #92400
Same happens in Discover, we can probably fix the same way:
![Uploading Screenshot 2021-02-23 at 15.15.09.png…]()

[2021-02-23 14:22] XavierM opened #92416 "[SECURITY SOLUTIONS] [Case everywhere] Add case kibana ui inside of case plugin"
We need to create case public folder in case plugin so other plugins in kibana can import case components in their solution.

AC:
 - [ ] have a POC of sharing component back to security solutions
 - [ ] make sure we are using kibana context

TC:
 - [ ] We should have a case plugin matching the implementation of Plugin from `src/core/public` meaning that the setup life cycle should return our share

[2021-02-23 14:22] elasticmachine commented on #92416
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 14:22] elasticmachine commented on #92416
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 14:27] pmuellr commented on #58417
@sqren Do the new flattened params work for you as well?  I think we can close this issue, if so.

[2021-02-23 14:27] mikecote opened #92419 "[WIP] Alerts as data"
We want users to be able to have full analytic capabilities over alerts, including the ability to create custom dashboards and visualizations on top of alerts. We will use this meta issue to cover this goal.

[2021-02-23 14:27] elasticmachine commented on #92419
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-23 14:30] mikecote opened #92420 "[WIP] Rules and Alerts consolidation"
There should be a single list showing all Alerts happening in Kibana and a single list allowing the user to view and manage the Rules configured anywhere in Kibana. Solutions can add their own curated views on top. We will use this meta issue to cover this goal.

[2021-02-23 14:30] elasticmachine commented on #92420
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-23 14:33] pmuellr commented on #92388
Not sure what this means.  The ability to add new action parameters to a specific invocation of a connector?  Is this like the ServiceNow mapping fields?

[2021-02-23 14:35] dej611 commented on #88661
I think this can be closed as it is solved in 7.12 since #89822

[2021-02-23 14:38] XavierM opened #92423 "[SECURITY SOLUTIONS][Case Everywhere] Move All Case page"
We need to move all the components of the all cases page inside of Case plugins and shared them through our case plugin. We are thinking to extract components one by one to allow different design if needed by solution who wants to integrate case.

AC:
- [ ] Move KPI components
![image](https://user-images.githubusercontent.com/189600/108857288-f0d73500-75b8-11eb-953e-47df95af2a17.png)
- [ ] Search

[2021-02-23 14:38] elasticmachine commented on #92423
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 14:38] elasticmachine commented on #92423
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 14:38] karanbirsingh-qasource commented on #92384
Hi @XavierM

Thanks for looking into the issue. we have update the sourcerer to auditebeat only [ by removing apm-*-transaction* ] but still issue is occurring.

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/108859090-e0ec3f00-7612-11eb-930b-cf3debfc2c01.png)

![image](https://user-images.githubusercontent.com/59917825/108858922-b7331800-7612-11eb-812a-9fad8dd3c61f.pn

[2021-02-23 14:40] majagrubic commented on #92399
Looks like the same error, so closing this.

[2021-02-23 14:40] #92399 closed

[2021-02-23 14:40] xennn commented on #92004
Same issue with Firefox

[2021-02-23 14:41] kasimogl opened #92424 "Authentication issue while accessing application root on / or /app"
**Kibana version:**
7.10.2

**Elasticsearch version:**
7.10.2

**Server OS version:**
Kibana running in docker container with OS:
NAME="Red Hat Enterprise Linux"
VERSION="8.3 (Ootpa)"

**Describe the bug:**
After having upgraded from 7.7.1 to 7.10.2, we started to observe authentication issues while accessing kibana dashboard
in browser on application root path "/" or on any path below "/app". We

[2021-02-23 14:45] pmuellr commented on #91695
Currently, that field in the index connector will be used to set the specified field in the docs written, to the current date/time.

https://github.com/elastic/kibana/blob/80f697d91fee096f43984ec65ca597034d413d84/x-pack/plugins/actions/server/builtin_action_types/es_index.ts#L75-L78

From the alert's side, any number of date values could be added to the context, and then used directly in the index

[2021-02-23 14:45] jfsiii opened #92426 "[Fleet] Reduce restrictions for removing integrations from managed policies"
Currently, [integrations cannot be added or removed from managed policies](https://github.com/elastic/kibana/pull/90675), but we want to change those restrictions. From https://github.com/elastic/kibana/issues/89617#issuecomment-770731965

**Acceptance Criteria**
 - [ ] allow add/remove unless the integration is in a blocklist
 - [ ] blocklist contains `apm` & `fleet_server`

[2021-02-23 14:45] elasticmachine commented on #92426
Pinging @elastic/fleet (Team:Fleet)

[2021-02-23 14:47] alisonelizabeth commented on #57656
This should be addressed via https://github.com/elastic/kibana/pull/91193, which is planned to be released in `7.13`. The Upgrade Assistant was not removing all Elasticsearch private settings before reindexing.

As a workaround, you can manually re-index, copying only the non-private settings (in this case, the `index.resize.source.uuid` and `index.resize.source.name` settings should be omitted).

[2021-02-23 14:47] #57656 closed

[2021-02-23 14:48] jfsiii commented on #92426
@ruflin @mostlyjason I based the AC on https://github.com/elastic/kibana/issues/89617#issuecomment-770991201, but please take a look and let edit them or let me know if they're not accurate

[2021-02-23 14:49] alisonelizabeth commented on #40564
This should be addressed via https://github.com/elastic/kibana/pull/91193, which is planned to be released in `7.13`. The Upgrade Assistant was updated to handle these private ES settings.

[2021-02-23 14:49] #40564 closed

[2021-02-23 14:50] simitt opened #92427 "[APM] Fleet Migration: Add endpoint in Kibana for APM Server configuration migration check"
## Feature
When migrating APM Server standalone to being managed by Elastic Agent, not all APM Server configuration options will be supported. When migrating existing deployments in Elastic Cloud (ESS/ECE), figuring out which customized configuration options are supported by Fleet is essential. This will also be helpful for on-prem users when they decide to migrate.

To support this, Kibana should

[2021-02-23 14:52] afharo commented on #91687
Let's go for an opt-in approach on this.

[2021-02-23 14:54] afharo commented on #92193
Let's create another issue for the examples :)

[2021-02-23 14:55] neptunian opened #92428 "[Metrics UI] [Test Scenario] Metrics Anomaly Detection"
### Summary
Anomaly detection allows you to identify anomalous metrics for hosts and Kubernetes.
For 7.12 the changes are:
- Add ability for user to set anomaly threshold (https://github.com/elastic/kibana/pull/90313)
- Add ability to filter anomaly detection datafeed #89721

### Scenarios
- [x] Anomaly detection setup flyout works
  - [x] Anomaly detection button appears in the header on the inve

[2021-02-23 14:55] elasticmachine commented on #92428
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 15:01] kevinlog commented on #92379
@muskangulati-qasource I tried this with both a fresh `7.12` install and a `7.11 -> 7.12` upgrade.  The Trusted Apps changes were automatically pushed down and the Policy updated both times.  It's not immediate as it takes some processing - let me know if it works after some time

[2021-02-23 15:10] kevinlog commented on #92393
@parkiino can you take a look?  This may be a migration issue.

[2021-02-23 15:23] flash1293 commented on #88661
Tested in 7.12 and verified this is fixed - it's using an embedded circle svg element now

[2021-02-23 15:23] #88661 closed

[2021-02-23 15:28] alisonelizabeth opened #92430 "[Upgrade Assistant] Provide automatic fix for deprecated index settings"
In 8.0, there will be several index settings that are deprecated. We should improve the experience around this in Upgrade Assistant. Related to https://github.com/elastic/kibana/pull/91193#discussion_r580419436.

There are two parts to this:

1. If an index needs to be reindexed and contains a deprecated setting, the Upgrade Assistant currently emits an error and does not allow reindexing to proce

[2021-02-23 15:28] elasticmachine commented on #92430
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-23 15:30] neptunian opened #92431 "[Metrics UI][Test Scenario] Inventory View Tooltips"
## Summary

For 7.12 the main changes include:

- add custom metrics to node tooltip #88545

# Setup

- Setup Metricbeat to ship metrics to your cluster by adding the Elasticsearch endpoint, username, and password to `metricbeat.yml`. You will only need the data shipped from the `system` module (which is default).

# Test Cases

### Default metrics

- [x] Navigate to the Metrics UI homepage (Inven

[2021-02-23 15:30] elasticmachine commented on #92431
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 15:32] #90220 closed

[2021-02-23 15:36] bvader commented on #92315
This also causes the apache ingest pipelines to fail to load.

[2021-02-23 15:37] achuguy opened #92434 "[Security Solution][Detections] Error fetching preview when creating rule in index with simple documents"
**Describe the bug:**
When using simple documents not conforming to ECS the preview for creating a query or threshold rule returns an error 'Error fetching preview'

[code]

The documents used are very simple, timestamp plus some test values:
![image](https://user-images.githubusercontent.com/56368296/108866833-917e2280-75c2-11eb-9289-000d6b11193e.png)

I was able to confirm the preview works as e

[2021-02-23 15:38] elasticmachine commented on #92434
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 15:38] elasticmachine commented on #92361
Pinging @elastic/kibana-docs (Team:Docs)

[2021-02-23 15:41] timroes opened #92437 "Inspector in Discover will be stuck in loading state when request fails"
The inspector in Discover will at the moment just stuck in a loading phase when the request fails. We should properly log the error to the request inspector in that case, so the error will be shown in the inspector and not a stuck loading state.

[2021-02-23 15:41] elasticmachine commented on #92437
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 15:42] ferullo commented on #92162
Are you by chance using an older Agent? I grabbed the Endpoint from that latest snapshot and the log line numbers don't match up with the commit hash for the Endpoint in that SNAPSHOT. I am fairly positive the Endpoint you are using is just to old and doesn't support ransomware protection.

The command `elastic-endpoint.exe version` will display the Endpoint version in use. That snapshot contains

[2021-02-23 15:42] neptunian opened #92438 "[Metrics UI] [Test Scenario] Inventory Timeline"
## Summary

This test is for Inventory Timeline view.

Changes for 7.12:
Fix history drawer when navigation is docked #89630

## Scenarios

- [x] On page load, the Inventory view should open with the Show History button in the lower left corner. The timeline should be hidden.
- [x] When you click Show History, the timeline should slide up into view (potentially showing a loading prompt)
- [x] When

[2021-02-23 15:42] elasticmachine commented on #92438
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 15:47] KOTungseth commented on #92415
There is already an issue open to fix this - https://github.com/elastic/kibana/issues/87367

[2021-02-23 15:52] rudolf commented on #57502
Until the new docs system is ready user-facing docs need to be in asciidoc so I will add that to the description to clarify.

[2021-02-23 15:54] EricDavisX commented on #91505
@dikshachauhan-qasource I think we should have new Linux / windows packages in staging now so this can be tested again.

[2021-02-23 15:57] peteharverson commented on #85453
This can be reproduced using the `siem-winlogbeat` snapshot, and using the following job config created in the multi-metric wizard:

[code]

[2021-02-23 15:57] dej611 commented on #92415
Oh ok, closing as duplicate

[2021-02-23 15:57] #92415 closed

[2021-02-23 15:58] ThomThomson commented on #92366
Seems like the cloud environment doesn't yet include this PR: https://github.com/elastic/kibana/pull/91729

The next build candidate should solve this.

[2021-02-23 16:01] #88776 closed

[2021-02-23 16:02] shaunmcgough commented on #80514
Hi there, I've had a chance to review this with @ryankeairns and @gchaps and have some ideas. For now, I've put them in a document [here](https://docs.google.com/document/d/1_tyMMl_KR6rYx6KqH4r3iPoTxqAL678Gv52ZP8DNiPA/edit?usp=sharing). The major change is that we have two screens with three tour parts each. The first, a DISCOVER screen, allows anyone to quickly fill out the three important fields

[2021-02-23 16:12] liza-mae commented on #92299
Cloud reports Kibana as healthy and operationally I have not seen mass failures.

![Screenshot from 2021-02-23 09-11-38](https://user-images.githubusercontent.com/23424008/108872209-2bd86900-75b7-11eb-8b63-deb05a76732d.png)

[2021-02-23 16:14] #86259 closed

[2021-02-23 16:18] dgieselaar opened #92448 "[APM] Document guidelines for querying APM data"
Write down high-level guidelines around querying APM data:

- describe APM data model
- high-level explanation of a search request
- query (e.g., avoid scoring queries, unnecessarily wide queries)
- aggregations (what to use when, pitfalls, performance characteristics etc)

[2021-02-23 16:18] elasticmachine commented on #92448
Pinging @elastic/apm-ui (Team:apm)

[2021-02-23 16:20] wylieconlon opened #92449 "[Lens] Click on Records field should not make a field_stats request"
Because `Records` is a special field, it should not have any field_stats.

[2021-02-23 16:20] elasticmachine commented on #92449
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 16:22] liza-mae commented on #92299
[code]

[2021-02-23 16:22] elasticmachine commented on #92299
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-23 16:22] liza-mae commented on #92299
cc: Alerting team - would alerting framework being unavailable cause this ?  How would we debug ?

[2021-02-23 16:25] ThomThomson commented on #92409
Was this detected on cloud? I am unable to recreate this in master, but will try 7.12.0 next.

[2021-02-23 16:25] elasticmachine commented on #92322
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 16:26] #90005 closed

[2021-02-23 16:27] mark54g commented on #82020
@kobelb Per the email thread - Regarding support using the kibana.index param as a troubleshooting measure.

Sometimes a customer has issues with Kibana, either accessing their index, or the index having issues and support will, in order to help figure out where problems lie, sometimes have them create a new index, sometimes temporarily, sometimes not, where they point to a new index, allowing the

[2021-02-23 16:32] pmuellr commented on #91583
We should keep in mind the references to the "auto-recover action" functionality.  Presumably if we have that, then the we would be creating the recover action, and so won't have to disable (or not show) the fields that can't be used.  I'm kinda wondering if we should allow a customer to create a PD action (or other "auto-recover-able" actions) for the recovered action group at all.  If we didn't

[2021-02-23 16:33] kobelb commented on #82020
@mark54g what types of problems are generally identified by doing so? Is this used to determine whether or not there are issues with Kibana's migrations?

[2021-02-23 16:34] pmuellr commented on #91695
Still of the mind that we should see if we can change the UX so that if we don't find the index, or the index doesn't have any date fields, we should disable|hide the picker, rather than show an empty one.  Maybe we should annotate with why? (eg, "index not found" or "index does not contain any date fields".

[2021-02-23 16:45] pmuellr commented on #92011
Something like the [`copy_to` mapping parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/copy-to.html) on the alert params could be a "good enough" fit here.  But of course we can't use that, since we're now mapping the params to the `flattened` mapping type.

Not out of the question that we could do this ourselves.  On create/update, take all the alert parameter "leaf" val

[2021-02-23 16:46] nickofthyme opened #92461 "[Maps] Labels are not visible on vector tiles layer"
**Kibana version:**
`7.12`

**Elasticsearch version:**
`7.12`

**Browser version:**
Chrome Version 88.0.4324.150 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
build candidate tar.gz

**Describe the bug:**
Using a vector tiles layer in maps with `fixed` or `by value` labels, does not work.

**Steps to reproduce:**
1. Create a new map, optionall

[2021-02-23 16:46] elasticmachine commented on #92461
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-23 16:55] pmuellr commented on #63933
Ya, sorry, I misunderstood the original question, shouldn't be a problem adding context variables to the custom details properties - or we need to make that possible anyway, since this function would likely be worthless without it.

Ya, makes sense to split `custom_details` and `links` from `images`.

[2021-02-23 17:19] #79050 closed

[2021-02-23 17:19] Kerry350 commented on #92245
Looks good against BC1 on Cloud:

![Screenshot 2021-02-23 at 17 17 38](https://user-images.githubusercontent.com/471693/108881440-39afdd80-75fb-11eb-8514-23b1850c95a2.png)

![Screenshot 2021-02-23 at 17 18 22](https://user-images.githubusercontent.com/471693/108881450-3b79a100-75fb-11eb-99ac-7b846416f3f3.png)

[2021-02-23 17:20] mikecote commented on #92011
I will leave this issue up for discussion **until March 9th**.

[2021-02-23 17:24] nickpeihl opened #92464 "[Canvas] Charts do not render when adding/modifying legend"
**Kibana version:**
7.12-SNAPSHOT

**Browser version:**

Firefox, Safari

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

Charts do not re-render when a legend is added or changed. The workaround is open the Expression Editor and press Run.

**Steps to reproduce:**
1. Add a kibana sample dataset such as flights
2. Add a chart
3. Change

[2021-02-23 17:24] elasticmachine commented on #92464
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 17:24] MikePaquette opened #92465 "[Security Solution] [UX bug] Event/Alert Details View not wide enough on Table view/JSON view"
**Kibana version:** 7.12.0 BC1

**Elasticsearch version:** 7.12.0 BC1

**Server OS version:** Elastic Cloud

**Browser version:** Chrome Version 88.0.4324.182 (Official Build) (x86_64)

**Browser OS version:** macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
When viewing the Detection Alerts page, and interacting w

[2021-02-23 17:24] elasticmachine commented on #92465
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 17:24] elasticmachine commented on #92465
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 17:27] thomasneirynck commented on #92461
This actually _should not_ work for lines and polygons. It _does_ work for points.

![image](https://user-images.githubusercontent.com/1833023/108882230-276d7980-75d2-11eb-973f-f21faf6d7dae.png)

Kibana Maps is doing some label-placement calculations for data backed by ES. It cannot do that in the same way for 3rd party vector tiles services.

We would need some additional info or error message to

[2021-02-23 17:29] elasticmachine commented on #90427
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-23 17:29] alisonelizabeth opened #92467 "[Upgrade Assistant] Handle deprecated field_names mapping field"
In 8.0, Elasticsearch will [deprecate disabling the `_field_names` mapping field.](https://www.elastic.co/guide/en/elasticsearch/reference/master/migrating-8.0.html#breaking_80_mappings_changes)

Indices created in `7.x` with this field will still be usable in 8.0. However, a user will get another deprecation warning e.g. when you update or add fields to the mappings of such an index. If you have

[2021-02-23 17:29] elasticmachine commented on #92467
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-23 17:31] nickpeihl commented on #92271
Ah, I didn't know that. But I see now that is explicitly mentioned when there is an empty state; but not when there are existing workpads in the list.

I also agree that this issue is still relevant for the reasons you describe.

[2021-02-23 17:41] igoristic commented on #90157
Reopening as per request: https://github.com/elastic/kibana/pull/90873#issuecomment-784263525

[2021-02-23 17:50] spong commented on #91910
Note: Detection ML Job Setting UI only goes back two weeks, larger lookbacks need to be done via ML App.

[2021-02-23 17:51] nickpeihl opened #92476 "[Canvas] Text settings in Charts are not applied to Text Marks"
**Kibana version:**
7.12-SNAPSHOT

**Browser version:**
Safari

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

Text marks that are added to Charts do not receive changes from Text settings for the Chart, such as font family, style, and size.

**Steps to reproduce:**
1. Add a chart such as vertical bar chart to a workpad
2. Add a Text

[2021-02-23 17:51] elasticmachine commented on #92476
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 17:51] tanish14 commented on #90477
Can I take this task? :)

[2021-02-23 17:52] stephmilovic opened #92477 "[Security Solution] [Cases] Attach case to rule -> What does it load, nobody knows!"
See below gif. Below the `Create Case button`, when I had `Case Connnn` previously defined, there is a mysterious loader. What does it load, who knows? Someone. They should find out. And fix it. Thanks 😉

![bugggg](https://user-images.githubusercontent.com/6935300/108884166-824ba480-75c3-11eb-97d9-5b69c4dc09e7.gif)

Possibly related: https://github.com/elastic/kibana/issues/92478

[2021-02-23 17:52] elasticmachine commented on #92477
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 17:52] elasticmachine commented on #92477
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 17:53] stephmilovic opened #92478 "[Security Solution] Attaching a custom rule to a new case crashes detections"
I hate to be arm waving, but this seems real bad. Attaching a custom rule to a new case crashes detections when you click "Save". Chrome crashes, as soon as Save is clicked the page becomes unresponsive to clicks/keys. If there was a `yikes` label I would have added it.

### Steps to reproduce
Prereq: be connected to siem-dev, have a Jira connector as default

1. go create a custom rule for `desti

[2021-02-23 17:53] elasticmachine commented on #92478
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-23 17:53] elasticmachine commented on #92478
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-23 17:55] brianseeders commented on #91053
Closed via #92091 and #91770

[2021-02-23 17:55] #91053 closed

[2021-02-23 17:57] brianseeders commented on #90498
Closed via #90669 and #91523 and other work

[2021-02-23 17:57] #90498 closed

[2021-02-23 17:57] jasonrhodes commented on #88649
No filter here seems like an okay experience for this case. They will still see the inventory at the point in time when the anomaly occurred and we can eventually auto-open the timeline too, to show the anomaly there as well. Later, we can explore sorting by anomaly score or some other ways to enhance the view.

[2021-02-23 17:58] kibanamachine opened #92482 "Failing test: Firefox UI Functional Tests.test/functional/apps/dashboard/dashboard_filtering·ts - dashboard app using current data dashboard filtering nested filtering visualization saved with a query filters data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11988/)

![fail6](https://user-images.githubusercontent.com/10977896/109494164-93525500-7a9e-11eb-95ef-b8a224aa126f.png)

[2021-02-23 18:00] stephmilovic commented on #92478
console error:
[code]

[2021-02-23 18:01] ossanna16 commented on #90477
@tanish14 Thank you, I'm already working on it :)

[2021-02-23 18:01] elasticmachine commented on #92315
Pinging @elastic/ml-ui (:ml)

[2021-02-23 18:02] elasticmachine commented on #92246
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-23 18:03] elasticmachine commented on #92224
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-23 18:03] elasticmachine commented on #92220
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-23 18:04] thomasneirynck commented on #91865
Shouldn't have lifted out the ML as a particular (hypothetical) example.

There are many sitatutions where layers are not filterable:

- EMS base layers are not queryable/filterable
- EMS boundaries are not queryable/filterable
- 3rd party layers are not queryable/filterable
- index-pattern layer when `apply global filter to layer data` is turned off
- ....

hypothetical ML example would not be fi

[2021-02-23 18:05] tylersmalley commented on #89317
Closing as this was converted to Typescript, causing a new title https://github.com/elastic/kibana/issues/92482

[2021-02-23 18:05] #89317 closed

[2021-02-23 18:05] elasticmachine commented on #92482
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 18:05] jportner commented on #92123
GitHub issues should only be opened for feature requests or bug reports. For assistance configuring Kibana and/or Elasticsearch, please use the Discuss forums: https://discuss.elastic.co/c/elastic-stack/kibana/7

[2021-02-23 18:05] #92123 closed

[2021-02-23 18:08] elasticmachine commented on #92046
Pinging @elastic/kibana-security (Team:Security)

[2021-02-23 18:09] mark54g commented on #82020
@kobelb I've asked others on my team to comment, as well, but there's a lot of variance. Having this be available at all is a boon to troubleshooting when there are problems that are still indeterminate, and some of them are likely due to migrations/upgrades but overall it is more of a way to remove the existing kibana index as the source of problems, and it's likely going to be one of those thing

[2021-02-23 18:09] paul-tavares commented on #90513
@ph , @ruflin : Can you comment and let us know if you agree that this index/service should be part of Fleet? Also, any comment on the above initial high level design?

Getting agreement on this will help drive the definition of the index _(I assume that goes into one of the packages - maybe the `elastic agent` package? cc/ @nchaulet ??)_ - and will then allows us to make progress on both ends (ki

[2021-02-23 18:10] elasticmachine commented on #92027
Pinging @elastic/apm-ui (Team:apm)

[2021-02-23 18:11] elasticmachine commented on #92026
Pinging @elastic/apm-ui (Team:apm)

[2021-02-23 18:12] flash1293 opened #92484 "Rollup job form: Frequency is set to minute in UI, but underlying value is daily"
**Kibana version:** 7.12

**Describe the bug:** On creating a new rollup via form, the frequency picker shows "Every minute" initially, but the underlying cron exoression is set to daily. On clicking through without changing it, it will create a daily rollup job instead of a per-minute one

**Steps to reproduce:**
1. Go to Management > Rollup jobs
2. Create new job (Frequency shows every minute)
3

[2021-02-23 18:12] elasticmachine commented on #92484
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-23 18:14] jportner commented on #91970
GitHub issues should only be opened for enhancement requests or bug reports. For assistance configuring Kibana and/or Elasticsearch, please use the Discuss forums: https://discuss.elastic.co/c/elastic-stack/kibana/7

Documentation on creating an index pattern can be found [here](https://www.elastic.co/guide/en/kibana/current/index-patterns.html#settings-create-pattern).

[2021-02-23 18:14] #91970 closed

[2021-02-23 18:15] tanish14 commented on #90477
@ossanna16 No probs, thanks for updating :)

[2021-02-23 18:15] dgieselaar commented on #92027
Hi @glucaci - what demo are you referring to?

[2021-02-23 18:16] stephmilovic commented on #92477
closing in favor of https://github.com/elastic/kibana/issues/91843

[2021-02-23 18:16] #92477 closed

[2021-02-23 18:16] stephmilovic commented on #92478
Closing in favor of: https://github.com/elastic/kibana/issues/91843

[2021-02-23 18:16] #92478 closed

[2021-02-23 18:21] cjcenizal commented on #92484
Thanks @flash1293! I'm going to close this as it's a duplicate of https://github.com/elastic/kibana/issues/90427. Seems it's popping up on a few people's radars.

[2021-02-23 18:21] #92484 closed

[2021-02-23 18:21] cjcenizal commented on #90427
Per https://github.com/elastic/kibana/issues/92484 this is manifesting on 7.12.

[2021-02-23 18:21] tsullivan opened #92485 "[Breaking change] Reporting: remove reporting_user role"
## Change description

The reporting_user role is a legacy solution for granting Reporting feature privilege. In 8.0, the role should no longer be automatically created, and users who have that role should not automatically be granted privilege to generate reports in Kibana. Applications will instead use sub-feature control checks to enable Reporting for privileged users.

~~In 7.x, the Upgrade As

[2021-02-23 18:21] elasticmachine commented on #92485
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-23 18:22] #92181 closed

[2021-02-23 18:22] tsullivan commented on #92485
ping @elastic/kibana-app-services

[2021-02-23 18:26] tsullivan commented on #19914
Issue to track this as a breaking change, and use the Upgrade Assistant to surface user accounts that need migration: https://github.com/elastic/kibana/issues/92485

[2021-02-23 18:27] nchaulet commented on #90513
I think this new index should be created by kibana right now as we create the other `.fleet-*` indices  and later be created directly by an Elasticsearch plugin

[2021-02-23 18:30] flash1293 commented on #71621
Talked through this with @cchaos and it's possible to get a little closer to unify Firefox and Chrome here by switching the `overflow-x` property from `scroll` to `auto`.

Beyond that it's hard to improve the current status quo based on the browser differences.

[2021-02-23 18:30] ph commented on #91704
@simitt Looking at https://github.com/elastic/fleet-server/issues/101 we won't need to create additional api key for input but actually we will generate finer grained permission on the api  keys.

[2021-02-23 18:30] #91704 closed

[2021-02-23 18:41] sophiec20 commented on #92315
This issue will be transferred to the beats repo as it concerns a filebeat setup command.

This filebeat setup command for `apache_ecs` ml jobs is deprecated and there is already an alternate and preferred way to setup the ML jobs from within the ML UI. My personal preference would be to remove this option from filebeat setup - reasons explained in this thread https://github.com/elastic/beats/issu

[2021-02-23 18:44] timroes commented on #80517
Closed via #83891 and more, tracking remaining work in https://github.com/elastic/kibana/issues/88426

[2021-02-23 18:44] #80517 closed

[2021-02-23 18:44] flash1293 opened #92493 "[Lens] Existence fetch can take a long time"
In Lens, we try to determine whether fields exist in the current time range or not. To do so, 500 documents are sampled based on the current time range and filter. For each change in time range / filter, the existence data is fetched again. During the initial load of existence information, the field list is not shown:
<img width="478" alt="Screenshot 2021-02-23 at 19 38 20" src="https://user-image

[2021-02-23 18:44] elasticmachine commented on #92493
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-23 18:45] timroes commented on #77107
Closed by https://github.com/elastic/kibana/pull/83891 and others, tracking remaining work in https://github.com/elastic/kibana/issues/88426

[2021-02-23 18:45] #77107 closed

[2021-02-23 18:48] cportka commented on #33928
+1 looking for this exact thing.  I'd like to graph and group by multiple terms (the combined terms together being shown in the legend).

[2021-02-23 18:48] ph commented on #90513
As @nchaulet pointed out this should be created by Kibana (fleet) and moved to a plugin later.

@paul-tavares I do not understand why the "new fleet-server API handler" is needed?

[2021-02-23 18:56] timroes commented on #92362
I've discussed this with Luke offline. Given that we don't see much use-case in that specific combination of having `stored_fields` and rollup v1 at the same time, we discussed that our preferred way would be to simply not sending `stored_fields` with an explicit list when a rollup index pattern is used. Fields inside a rollup index pattern are anyway never stored fields and the chance we're mixin

[2021-02-23 18:56] elasticmachine commented on #92362
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-23 19:05] xennn commented on #91338
We update to Kibana 7.11.1 and it is not working

[2021-02-23 19:06] #90811 closed

[2021-02-23 19:09] blakerouse commented on #89442
At the moment an enrolled Fleet Server places its IP addresses into the `.fleet-servers` index. The idea behind that was so Kibana could use that data to generate the correct URL for the server.

This might need to be extended more to add which IP address is attached to the interface that is used as the gateway for the machine. Giving that IP address precedence over the other IP addresses in the s

[2021-02-23 19:11] jportner commented on #92046
Thanks for reporting this. It looks like this was an oversight when ECS Audit Logging was originally added.

I submitted the linked PR to fix it!

[2021-02-23 19:13] cnasikas commented on #92423
This will allows us to remove modal logic inside the all cases page. The modal should be built by smaller components and apply its logic when needed.

[2021-02-23 19:26] #89805 closed

[2021-02-23 19:31] paul-tavares commented on #90513
@ph with the move of agents communicating with `fleet-server` and not `kibana`, we (endpoint) also should be moving the download of these artifacts away from Kibana and to `fleet-server`, thus the need for an api on the fleet-server side.

[2021-02-23 19:34] yamiko commented on #74714
I am getting this bug in 7.9.1, where precision is not being updated when zooming in/out

[2021-02-23 19:37] kobelb commented on #92485
Thanks @tsullivan  <3

[2021-02-23 19:44] aaronjcaldwell opened #92504 "[Maps][File upload] GeoJSON file fails in preview but works on index"
This GeoJSON file attached previously mostly worked (there were some shapes that failed) in both preview and on indexing. The file now produces the following error on preview but then indexes correctly.

![image](https://user-images.githubusercontent.com/1728976/108898102-cdc27a80-75e4-11eb-95fa-cdfbb0efe760.png)

Behavior between preview and indexing should be at least roughly consistent. i.e.- I

[2021-02-23 19:44] elasticmachine commented on #92504
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-23 19:45] michaelolo24 commented on #92311
Referencing the related issue here as well: https://github.com/elastic/endpoint-dev/issues/8382

[2021-02-23 19:48] #85453 closed

[2021-02-23 19:54] pmuellr commented on #92299
You can do some amount of debugging by looking at the api status, via:

    curl "$KBN_URLBASE/api/status?v8format=true"

I just tried that with a new-ish 7.11.0 deployment, and can see there's a 503 error for the alert health code trying to access the   `.kibana_task_manager` index.

[2021-02-23 19:56] pmuellr commented on #92299
Should mention that it makes that check against the task manager index every 5 minutes, so I'd expect if the 503 is transient, it will only affect a 5 minute window of time - of course that's still awful, but it would be interesting to know if this status ends up "clearing" over time.

[2021-02-23 19:58] legrego commented on #92001
The `find` operation supports searching across all spaces today, but the other operations must be scoped to a specific space. See @jportner's [comment for an explanation](https://github.com/elastic/kibana/issues/91890#issuecomment-782219377)

[2021-02-23 19:58] liza-mae commented on #92299
Thanks @pmuellr in my case it did not appear to clear.

[2021-02-23 20:00] liza-mae commented on #92299
Just want to add that my cluster is on staging, which has seen higher amounts of service unavailable.

[2021-02-23 20:01] nickpeihl opened #92511 "[Canvas] Dropdown select filter on select shifts focus to move element"
**Kibana version:**

7.12-SNAPSHOT

**Browser version:**

Firefox 85.0.2
Safari 14.0.3

**Browser OS version:**
Mac OS Big Sur

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

When I select an item from the Dropdown select element, the focus gets shifted so that the element is attached to the mouse cursor as if I was dragging the eleme

[2021-02-23 20:01] elasticmachine commented on #92511
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 20:03] liza-mae commented on #92299
How does this impact how alerting functions ?

[2021-02-23 20:04] wylieconlon commented on #92408
I don't remember why we chose that default for Lens originally, but it's been there for the entire duration of the feature. It's a single line to change, we can remove `clockwiseSectors: false` from the pie chart.

Why is clockwise preferable @markov00?

[2021-02-23 20:14] ph commented on #90513
Got it, I think I should have added more context in my answers, we could add a new endpoint to the gRPC definition, I think we need to figure out if endpoint connect directly to the gRPC endpoint or Elastic Agent make it available, @scunningham / @blakerouse were looking into it.

[2021-02-23 20:21] glucaci commented on #92027
https://demo.elastic.co/app/apm/services

[2021-02-23 20:26] pmuellr commented on #92299
As near as I can tell, it doesn't.

In my deployment, while seeing the red status on alerting, I can run an existing alert and see it firing.  Meaning all sorts of things are in working order - alerting, task manager, saved objects, etc.

Honestly not sure that we USE the health status to gate any function - it appears we don't for normal alert operations - we're just updating the core status ever

[2021-02-23 20:26] wylieconlon commented on #92186
This seems worth fixing in the 7.12 cycle, not waiting for the transpose PR, because this behavior would be very confusing to users. @flash1293 want to extract that logic and add a specific test for this?

[2021-02-23 20:28] flash1293 commented on #92186
Agree, it’s also easy to split out. I will prepare a separate PR

[2021-02-23 20:29] #90653 closed

[2021-02-23 20:42] jportner opened #92519 "Migrating dashboards can fail when invalid JSON is present"
**Kibana version:** 7.11

**Describe the bug:** When migrating a Dashboard to 7.11, if the `panelsJSON` field is a string that is not valid JSON (e.g., `"null"`), a JSON parsing error will be thrown and the entire migration will fail.

**Expected behavior:** The JSON parsing should fail gracefully and ignore the `panelsJSON` field.

[2021-02-23 20:42] elasticmachine commented on #92519
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 21:01] elasticmachine commented on #92142
Pinging @elastic/fleet (Team:Fleet)

[2021-02-23 21:03] elasticmachine commented on #92427
Pinging @elastic/fleet (Team:Fleet)

[2021-02-23 21:04] ThomThomson commented on #92401
Seems like the unsaved changes need to take the space they were made under into account. I will take a look!

[2021-02-23 21:21] kibanamachine opened #92521 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_filtering·ts - dashboard app using current data dashboard filtering using a pinned filter that excludes all data "before all" hook for "filters on pie charts""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/30/)

![fail3](https://user-images.githubusercontent.com/10977896/109493637-d8c25280-7a9d-11eb-83af-a694a18d4d71.png)

[2021-02-23 21:21] kibanamachine opened #92522 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_filtering·ts - dashboard app using current data dashboard filtering using a pinned filter that excludes all data "after all" hook for "vega is filtered""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/30/)

[2021-02-23 21:23] dpengr commented on #91609
Thanks for reporting this issue and the workaround. It is also a problem in Kibana 7.9.2 and Elastic 7.9.2-snapshot

[2021-02-23 21:26] elasticmachine commented on #92522
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-23 21:29] #92046 closed

[2021-02-23 21:32] nickofthyme opened #92525 "[Maps] Global time range is applied when disabled"
**Kibana version:**
`7.12`

**Elasticsearch version:**
`7.12`

**Browser version:**
Firefox 85.0.1 (64-bit)

**Original install method (e.g. download page, yum, from source, etc.):**
build candidate tar.gz

**Describe the bug:**
When using a `Choropleth` layer in maps using ES geoshapes, the option to `Apply global time to layer data` is ignored and the time filter is always applied.

**Steps to r

[2021-02-23 21:32] elasticmachine commented on #92525
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-23 21:35] nickofthyme commented on #92525
Disregard, need to filter under `Term joins` section

https://share.getcloudapp.com/llu90pLY

[2021-02-23 21:35] #92525 closed

[2021-02-23 21:35] monina-n commented on #92465
First thing I want to make known is there is an ongoing collaborative discussion between designers on how to standardize the details flyout and improve the UX, which is a part of this [issue](https://github.com/elastic/security-team/issues/796) and the overall discussion of i[mproving the entire alert experience](https://github.com/elastic/security-team/issues/795). So, we’re definitely thinking t

[2021-02-23 21:59] kibanamachine opened #92528 "Failing test: Jest Tests.src/plugins/data/public/ui/query_string_input - QueryBarTopRowTopRow Should render query and time picker"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12125/)

[2021-02-23 22:12] kevinlog commented on #92392
@muskangulati-qasource can you verify that the Endpoint you're using supports Ransomware?  If it doesn't, then there won't be a log reported here.

FYI @ferullo

cc\ @caitlinbetz @bfishel - I think there is opportunity for a UX enhancement here, Kibana can be smart enough to _expect_ certain things in Policy response based on its version.  If the Endpoint doesn't send it back, then we could add an

[2021-02-23 22:17] hbharding commented on #89442
The way I read @blakerouse's comment is that Kibana already has access to the information, so it should be possible to populate this information into the "Fleet Server Url(s)" setting?

From issue description:

@mostlyjason can you expand on **why** users should be able to specify the Fleet server URL? I'm probably missing something, but I think it makes sense for this field to be auto-populated (

[2021-02-23 22:19] kqualters-elastic commented on #86167
Most of these locations should now be searchable in Kibana when license level is appropriate. The tabs on the manage detections page are missing however, as those tabs are not their own route like in other places in SIEM, the active tab is instead tracked in application state.
![image](https://user-images.githubusercontent.com/56408403/108915432-e047ae80-75fa-11eb-8e27-41cdb5a3df64.png)
Shouldn't

[2021-02-23 22:19] #92361 closed

[2021-02-23 22:33] maggieghamry commented on #68718
@tsullivan it appears this issue is still present in `7.9.2`, and presumably other `7.9` issues as well. Setting the advanced Kibana settings to "Browser" does not appear to be respected by the CSV reports:

![image](https://user-images.githubusercontent.com/46542915/108916335-189bbc80-75fc-11eb-9f22-d27a6d2fa7be.png)

In this example, where the default time zone is EST:
![image](https://user-imag

[2021-02-23 22:38] Zacqary commented on #85118
Do we want to prevent this only on the Enrollment Keys page, or at the API level as well?

[2021-02-23 22:56] hmnichols commented on #92465
I do not think a different fixed width is a better experience than what was in the previous version.

In 7.10 the user had a very large width to read and manage the data in the table and JSON view. It was the full width of the screen.

In 7.11, this new flyout at any width other than the full width of the screen will provide less real estate than the previous experience.

[2021-02-23 22:57] mukeshelastic commented on #92110
Fleet needs to support "Integrations config as code" by letting users sync with their github repos for config version control, in addition to storing the configs in Fleet app. So that way, any changes from UI are written to github repo and vice versa. We obviously need to think through this feature and define all the details but I think that will serve the use case you mentioned fit well.

Without

[2021-02-23 22:57] lukeelmers commented on #57547
This will be closed by https://github.com/elastic/kibana/pull/91492 with one important caveat: All http response logs will redact `authorization`, `cookie`, and `set-cookie` headers by default, and this can _not_ be overridden with the new `RewriteAppender`.

If we decide to pick up https://github.com/elastic/kibana/issues/92082 as a future enhancement, we'll be able to lift this restriction at th

[2021-02-23 23:01] mattkime opened #92536 "Index pattern field editor - add accessibility tests"
The index pattern field editor is missing accessibility tests. Add them. https://www.elastic.co/guide/en/kibana/master/development-tests.html#development-accessibility-tests

[2021-02-23 23:01] elasticmachine commented on #92536
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-23 23:12] #80632 closed

[2021-02-23 23:24] aaronjcaldwell opened #92541 "[Maps] Labels crowd each other on Map with moderate data density"
Currently a moderate density of points causes label overlapping to the point of non-readability. This is a pretty common problem in map design with any sort of default labeling mechanism.

![image](https://user-images.githubusercontent.com/1728976/108921073-cfe80180-7603-11eb-8bab-acb5df64311e.png)

A few possibilities:
1. [Probably the best option] Allow users to add leader lines
![image](https:/

[2021-02-23 23:24] elasticmachine commented on #92541
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-23 23:31] jfsiii commented on #85118
Pinging @mostlyjason to confirm we want this behavior.

@Zacqary things should be as "far down" as possible. So in a service if possible. HTTP layer handler is ok, but likely new debt. Ideally handlers parse values from requests and call services.

[2021-02-23 23:48] wylieconlon commented on #92182
I spent some time on this issue today and I think I have a fix. I think the problem was that the flyout was nested inside some unnecessary elements that confused the EUI focus/blur detection.

[2021-02-24 00:06] sqren commented on #59193
In that case I don't feel so bad bumping this 8 months later :)

We are still getting negative feedback on this so would be great to get fixed. If you can point us in the right direction we can also take a stab at it.

cc @elastic/kibana-app-services

[2021-02-24 00:11] Zacqary commented on #85118
Challenge here: the saved `name` of each enrollment token isn't just `t2`, it's actually `t2 (long-uuid-string)`. This UUID doesn't seem to match the UUID of anything else, it's just a UUID tacked onto the end of the token.

I could have the de-duplication function remove any regex matching a UUID in parentheses at the end of the `name` value; not sure of another way to handle this. But since the

[2021-02-24 00:13] sqren commented on #92027
I'm not sure kibana is the right repo for this. The maintainers of the cloud environment can add opbeans-dotnet by running the [opbeans test suite](https://github.com/elastic/apm-integration-testing).

I might be misunderstanding what you are asking for though :)

[2021-02-24 00:16] sqren commented on #92026
Duplicate of https://github.com/elastic/apm/issues/224

[2021-02-24 00:16] #92026 closed

[2021-02-24 00:19] sqren commented on #58417
I have yet to try it out but yes, I agree that it removes the need for internal tags - at least for my use cases.

[2021-02-24 00:19] sqren commented on #58417
Btw. this is super awesome. Thanks for working so hard on it and finally getting it in!

[2021-02-24 00:24] nickpeihl opened #92547 "[Reporting] Clarify where to track report progress"
When creating a report, we get a toast that says this line.

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/reporting/public/components/reporting_panel_content.tsx#L226

However, in [7.8 the sidebar was reorganized](https://www.elastic.co/guide/en/kibana/7.8/whats-new.html#navigation-7-8) and the Reporting section was placed under `Stack Management`.

[2021-02-24 00:24] elasticmachine commented on #92547
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-24 00:27] jfsiii commented on #85118
Pinging @nchaulet for the UUID questions

[2021-02-24 00:29] nickpeihl opened #92548 "[Canvas] Clarify where to track report progress"
When creating a report from a Canvas workpad, we get a toast that says this line.

https://github.com/elastic/kibana/blob/18db413083d7f737e60221df6ae3219daad96a47/x-pack/plugins/canvas/i18n/components.ts#L1411

However, in [7.8 the sidebar was reorganized](https://www.elastic.co/guide/en/kibana/7.8/whats-new.html#navigation-7-8) and the Reporting section was placed under `Stack Management`. Can we

[2021-02-24 00:29] elasticmachine commented on #92548
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 00:49] nickpeihl opened #92551 "[Canvas] Embedded Lens Visualization fails to render in report"
**Kibana version:**
7.12-SNAPSHOT

**Server OS version:**
Mac OS Big Sur

**Browser version:**
Safari, Firefox

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

A simple Lens visualization added to a Canvas workpad will not render in the output PDF. The reporting status returns `completed_with_warnings`.

The reporting job info reports

[2021-02-24 00:49] elasticmachine commented on #92551
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 00:59] nchaulet commented on #85118
If I remember correctly the uuid part was added as the actual api key name in elasticsearch has to be unique.

[2021-02-24 01:03] 0xtf opened #92553 "[Security Solution] Separate rules/timelines update process"
Currently the rules and timelines update process is coupled together, meaning that through the UI, when asked to update the timelines, all Elastic SIEM rules will be updated and INSTALLED (and some enabled).

Since the UI requests the user to update the timeline, IMHO, ~500 rules should not be installed.

**Kibana/Elasticsearch Stack version:** 7.11.1

**Server OS version:** Elastic Cloud

**Brows

[2021-02-24 01:03] elasticmachine commented on #92553
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 01:12] bhavyarm commented on #92323
This is fixed in BC2 closing. Thanks @kertal @flash1293

[2021-02-24 01:12] #92323 closed

[2021-02-24 01:57] spong commented on #91338
Would you be able to provide more information to help debug? Is the action not firing? Can you share your action template? If the action is firing, what's the body of the payload received? Have to verified the output alert indeed has the fields you're referencing?

That should be enough to get us moving 🙂

[2021-02-24 02:00] elasticmachine commented on #92553
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-24 02:24] Holyfiled commented on #92367
OK, i close it now, thx.

[2021-02-24 02:24] #92367 closed

[2021-02-24 02:29] #89995 closed

[2021-02-24 02:40] jgr opened #92558 "[Discuss] A way for plugins to store and retrieve their own data from the server side session"
Kibana recently [moved to using a server-side session store](https://github.com/elastic/kibana/pull/68117). We (the Workplace Search team) would like a way to store plugin specific data in this server side session so that it follows the user throughout their login session.

## Background

In the course of setting up the product operators go through the [OAuth flows of third party services to conne

[2021-02-24 02:41] elasticmachine commented on #92558
Pinging @elastic/kibana-security (Team:Security)

[2021-02-24 02:47] jgr commented on #92558
ping @ioanatia @jportner @azasypkin

[2021-02-24 02:59] lukasolson commented on #59193
@sqren Sorry for the delay, I've created a PR here: https://github.com/elastic/kibana/pull/92559

[2021-02-24 03:12] marshallmain commented on #84385
Update on the status of rule types and supported exceptions:
| Rule type | Non-value list exceptions | Value list exceptions |
| --- | --- | --- |
| KQL | :heavy_check_mark: | :heavy_check_mark: |
| Machine Learning | :heavy_check_mark: | :heavy_check_mark: |
| Threshold | :heavy_check_mark: | :x: |
| EQL | :heavy_check_mark: | :x: |
| Indicator Match | :heavy_check_mark: | :heavy_check_mark: |

W

[2021-02-24 06:12] ppisljar commented on #71096
Do we really need utility to convert just the query, or should it be fine to convert whole searchsource ? (`searchSource.flatten()`)
you could use that to get just the filter/query by doing something like this:

[code]

please reopen if suggested approach doesn't work for you.

[2021-02-24 06:12] #71096 closed

[2021-02-24 06:16] ppisljar commented on #71099
A lot of things happened over the last 6 months so I think we should revisit the approach/ architecture around alerting in discover.

Discover is using SearchSource (high level search service) to make the queries. I think it would be best to have a `search` alert executor which can work with SearchSource (as that's available on the server as well). This hopefully makes implementation simpler, more

[2021-02-24 06:20] ppisljar commented on #92362
isn't this a regression introduced in 7.12 ? if so we should probably try to fix it ASAP (and our fix it week is next week).

[2021-02-24 07:08] Sandy381 opened #92566 "Changing font size,bold and colour options in options panel in visuallizations"
Hi all,

As of now , there is no option to change font size of letters,bold and colour in visualizations.

Only way is to change CSS which is cumbersome.

**Request for a new feature of including options panel to include font and colour,background etc changes in a particular visualization as we wish**

[2021-02-24 07:12] kibanamachine opened #92567 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts - endpoint When on the Endpoint Policy Details Page and the save button is clicked should have cleared the advanced section when the user deletes the value"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12133/)

[2021-02-24 07:12] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12133/)

[2021-02-24 07:22] ruflin commented on #91409
@ph @graphaelli I would suggest that this is done by the APM team as they know best which data stream to link to which page.

[2021-02-24 07:25] dgieselaar commented on #92027
@glucaci I've forwarded your request to the team that is responsible for demo.elastic.co. They'll open up an issue in their (private) backlog to track it. I'll go ahead and close this issue now. Thank you for the suggestion!

[2021-02-24 07:25] #92027 closed

[2021-02-24 07:39] cuff-links commented on #90857
I am going to go ahead and close this. The majority of the console autocomplete definitions were added in #90904 with the exception of one PUT Logstash Pipeline API that did not have the parameters outlined in the documentation. https://github.com/elastic/elasticsearch/issues/69148 was created to add the documentation for the parameters but that issue has been pushed to 7.13 instead of 7.12. As fa

[2021-02-24 07:39] #90857 closed

[2021-02-24 07:41] cuff-links opened #92569 "Add Accessibility Test For Creating New Policy in ILM"
# Summary
This issue will track the work to add an accessibility test for ILM to cover the Create New Policy form/wizard.

[2021-02-24 07:41] elasticmachine commented on #92569
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-24 07:41] elasticmachine commented on #92569
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-02-24 07:42] kertal commented on #89456
dear @marius-dr could you repeat the test with our latest BC? to be sure it works and we can close this, many thx

[2021-02-24 08:09] #92176 closed

[2021-02-24 08:20] kertal opened #92573 "[Discover] Deangularize Discover App"
This issue should summarize the steps necessary to get rid of legacy in Discover

- [x] Deangularize saved search embeddable @majagrubic
   - Since document table legacy and EuiDataGrid are React components, there's no reason to use Angular for the embeddable anymore, so the embeddable should be rendered as React component
- [x] Deangularize controller (Issue #86166)
   - currently in progress #96

[2021-02-24 08:22] stratoula commented on #92409
I just did a test on master and it happens. I don't do any other step, just what I mention. The video below is from master
![Dashboards-Elastic](https://user-images.githubusercontent.com/17003240/108968817-ef297200-7689-11eb-9936-b0a62552ccf9.gif)

If you have a problem to reproduce it, ping me to check it together!

[2021-02-24 08:26] flash1293 opened #92574 "[Lens] Allow configuration of axis labels orientation"
In some cases the user wants to control how axis labels are rendered. One of these settings is the orientation of labels (horizontal, vertical, angled).

This is already possible using `elastic-charts`, we just have to expose it.

[2021-02-24 08:26] elasticmachine commented on #92574
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 08:32] stratoula commented on #92366
Ok let's wait the next build candidate to confirm that this is solved and let's close it them

[2021-02-24 08:34] timroes commented on #92362
Yes it's a regression introduced in 7.12, though it should be a really nieche that ever have a valid scenario for that and I think it only fails in Discover (as the only consumer of raw documents in search source + rollup index patterns atm?) and if we fix it as above, we don't restore previous behavior, but would disable stored_fields with rollup index patterns (which to Luke and my impression is

[2021-02-24 08:37] deepikakeshav-qasource commented on #91820
Hi @michaelolo24,

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. View detail icon is working for other alerts if the Alert details panel is already open.

**Build Details:**
[code]

**Screenshot:**
![view_details_open](https://user-images.githubusercontent.com/61860752/108966964-e7c39200-76a4-11eb-938c-79e97aefbb9a.jpg)

![view_details_test](https://user-images

[2021-02-24 08:37] #91820 closed

[2021-02-24 08:38] deepikakeshav-qasource commented on #90928
Hi @MadameSheema,

We have validated and this issue is occurring on all the tabs [Overview, Detection, Network, Host]

**Build Details:**
[code]

**Screenshots:**
**Overview Tab**
![date_modal](https://user-images.githubusercontent.com/61860752/108967215-38d38600-76a5-11eb-84e1-27706317c888.jpg)

**Network Tab**
![Network_tab](https://user-images.githubusercontent.com/61860752/108967223-3b35e000-7

[2021-02-24 08:40] kertal commented on #80799
This sound like a good improvement for such a use case 👍

[2021-02-24 08:41] glucaci commented on #92027
Thanks, I didn't know where is best to open this one, because on the apm repo I didn't got any response.

@dgieselaar if there is a private backlog for the demo.elastic.co, can we keep it tracked for the community with this issue and you can update it when is done?

[2021-02-24 08:43] kertal commented on #72851
Very true, the index pattern search field should get focus when this dialog is opened (Checked with Lens, there it works)

[2021-02-24 08:48] kertal commented on #72098
@mapdegree I do agree that it should ideally should be adapted to the screen size!

[2021-02-24 08:56] elasticmachine commented on #92573
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 09:13] kasimogl commented on #92424
Since users should be authenticated to land in the status page like any other app pages, i.e. /app/home, /app/management etc, a nice and easy workaround would be to add a drilldown link to /app/home in status page. Please consider this as a quick enhancement in case the main issue is not planned to be fixed soon.

[2021-02-24 09:14] flash1293 opened #92577 "[Lens] Drop to workplace not shown in Safari"
**Kibana version:** master

**Describe the bug:** In Safari the "drop to workplace" target has a height of 1 pixel

**Steps to reproduce:**
1. Go to Lens
2.
3.

**Expected behavior:**
Should have height: 100%

**Screenshots (if relevant):**
<img width="1665" alt="Screenshot 2021-02-24 at 10 13 17" src="https://user-images.githubusercontent.com/1508364/108977642-0c117580-7689-11eb-9223-1eb934412cbb

[2021-02-24 09:14] elasticmachine commented on #92577
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 09:27] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12135/)

[2021-02-24 09:31] rudolf commented on #86247
This will hopefully also solve https://github.com/elastic/kibana/issues/91143

[2021-02-24 09:39] rudolf commented on #91143
One of the reason this won't work today is because changing a document's type requires changing it's raw _id and this isn't possible in v2 migrations. This is the same problem for supporting multi-namespace migrations so it will be addressed as part of https://github.com/elastic/kibana/issues/86247

[2021-02-24 09:47] estermv commented on #92245
@Kerry350  I'm really sorry about the confusion, I was talking about these boxes (that should appear on the page opened when you click on `Open as page` in your screenshots):
<img width="1287" alt="Screenshot 2021-02-24 at 10 41 39" src="https://user-images.githubusercontent.com/2249229/108981335-ec7c4c00-768c-11eb-829d-250d5ac4bfb5.png">

This is the related PR: https://github.com/elastic/kibana/

[2021-02-24 09:50] rudolf commented on #60302
Since there is already a stack-wide destination for deprecations logs https://github.com/elastic/dev/issues/1426 I think we shouldn't introduce a new Core `deprecationWarnings$(): Observable<string[]>;` API. Instead, core should just write config deprecations into the deprecation logs index directly.

Upgrade assistant can then consume these logs like any other deprecation log https://github.com/e

[2021-02-24 09:51] SHolzhauer opened #92579 "[FR] [detection engine] exception based on ServiceNow changes"
# Summary
A common source of False Positives with detections is planned changes being executed. This Feature Requests is for a way to have dynamic exceptions based on change requests in ServiceNow.

This FR focusses on ServiceNow, but the concept can apply to other systems/tools.

# Describe the feature
Change requests in ServiceNow are registered using a start and end time (datetime) and can be r

[2021-02-24 10:01] rudolf commented on #60302
There seems to be only a few plugins with config deprecations so it shouldn't be a lot of work to coordinate a breaking API change.

Search results for `ConfigDeprecationFactory` (`ConfigDeprecation` was also only used in these plugins).
[code]

[2021-02-24 10:03] Dosant commented on #89010
Latest designs from @mdefazio : https://www.figma.com/file/FD2M7MUpLScJKOyYjfbmev/Search-Sessions?node-id=1549%3A0

[2021-02-24 10:06] dej611 commented on #92577
Cannot reproduce on 7.12 in Safari. This affects only newer versions.

[2021-02-24 10:15] monfera opened #92581 "[Canvas] UI group title rewording for setting an image"
**Kibana version:**
7.12

**Issue:**
The term "Image upload" is a bit of a misnomer, as it's a place with different ways of setting an image, importing is clearly the most important one. Also, linking isn't exactly "upload" either. So it'd feel better if it reflected in this group heading ("Choose image", "Set image", etc.).

Speaking of the tabs, what's named Import is more like an Upload.

**Scr

[2021-02-24 10:15] elasticmachine commented on #92581
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 10:20] Dosant commented on #85294
Closing as duplicate of https://github.com/elastic/kibana/issues/81443 as other issue had a bit more activity

[2021-02-24 10:20] #85294 closed

[2021-02-24 10:21] Dosant commented on #81443
Could be useful: https://github.com/elastic/kibana/issues/85294#issuecomment-747612643

[2021-02-24 10:22] Dosant commented on #81443
Could be a related bug. Also with `courier:ignoreFilterIfFieldNotInIndex` enabled https://github.com/elastic/kibana/issues/91374

[2021-02-24 10:25] monfera opened #92582 "[Canvas] Chart is impaired after applying then reversing a change, then selecting another palette"
**Kibana version:**
7.12

**Browser:**
Chrome 88, OS X

**Original install method (e.g. download page, yum, from source, etc.):**
source, branch 7.12

**Describe the bug:**
The chart disappears upon a sequence of events

**Steps to reproduce:**
1. Select some other thing for Slice Labels (right hand side field)
2. Select the original thing
3. Choose another color palette

**Expected behavior:**
Ot

[2021-02-24 10:25] elasticmachine commented on #92582
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 10:29] peteharverson commented on #89736
The ability to configure a retention policy has been added to the Transforms wizard and Edit flyout in #91162 for 7.12.

Only remaining item is to switch the date field in the Edit flyout to a dropdown with date fields. Currently it is a plain text input.

[2021-02-24 10:33] timroes opened #92583 "Discover don't track hits for context view"
We currently track the total hits when being in the context view (surrounding documents view). We never show the hit count actually anywhere, thus make the query unnecessary slow by requesting it. We should just not track hits here to improve performance (as enabled by https://github.com/elastic/kibana/pull/88115).

[2021-02-24 10:33] elasticmachine commented on #92583
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 10:36] pgayvallet commented on #92201
Yea, I already encountered that one, and agree that it can be highly misleading.

HAPI has always been taking some 'interesting' opinionated decision, and the fact that the parsed query is always an object even when empty is one of them (which is very pragmatic when using the 'base' HAPI api imho, as it avoid null-check when accessing the query's properties)

We probably can't change HAPI's behavi

[2021-02-24 10:41] monfera opened #92584 "[Canvas] Element styling options unavailable for demo revenue chart"
**Kibana version:**
7.12

**Describe the bug:**
The time series chart doesn't appear to have a section for Element style (Container style, CSS style)

**Expected behavior:**
Availiability

**Screenshots (if relevant):**
![image](https://user-images.githubusercontent.com/1548516/108988703-0f126300-7695-11eb-8c85-fe5406f3492c.png)

**Any additional context:**
I tried it with a new chart and it was a

[2021-02-24 10:41] elasticmachine commented on #92584
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 10:43] pheyos commented on #91373
On 7.12.0-bc1 it already looks better. The height is still not 100%  right, but I can see most of the rows:
![image](https://user-images.githubusercontent.com/1945390/108988979-6284b100-7695-11eb-9312-e1f61177bc0f.png)

[2021-02-24 10:44] afharo commented on #91890
@jportner I'm wondering `createScopedRepository` is also affected by the namespace limits? It returns a repository vs. a client.

[According to the docs](https://github.com/elastic/kibana/blob/7fc3d125bf569636cd4cc45ac9b73ffb8c8733e3/src/core/server/saved_objects/saved_objects_service.ts#L163-L175), the extension only applies to `getScopedClient`, but I'd love to double-check.

[2021-02-24 10:46] jalvz commented on #88659
related to cross-linking, but the other way around: https://github.com/elastic/kibana/issues/91409

[2021-02-24 10:46] Dosant commented on #87607
@mattkime, looks like error handling when creating an index pattern needs improvement. I wonder if this is fixed in new index pattern management so this can be closed?

[2021-02-24 10:49] monfera opened #92586 "[Canvas] Maximize expression editor shows even fewer lines than minimized"
**Kibana version:**
7.12

**Browser version:**
Chrome 88

**Browser OS version:**
OS X

**Original install method (e.g. download page, yum, from source, etc.):**
7.12 branch source

**Describe the bug:**
The maximization button maximizes the code window, and somewhat unexpectedly (probably intentionally) makes the expression font a bit larger. However the maximized space isn't actually functional,

[2021-02-24 10:49] elasticmachine commented on #92586
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 10:55] banderror commented on #91336
Hey @MadameSheema, I noticed you added `v7.11.2` label, is this intentional?

Backporting to 7.11 would be not trivial, but possible. The fix (https://github.com/elastic/kibana/pull/91925) depends on the previous refactoring (https://github.com/elastic/kibana/pull/91302) which is missing in 7.11. I opened a backport of this refactoring (https://github.com/elastic/kibana/pull/92585), had to resolve

[2021-02-24 10:56] Dosant commented on #86947
IMO we should do this. Bummer we can't make it centralized and each app will have to manage this on their own and it will be inconsistent. I assume the app also should also switch it back on when exiting from editing.

I think we can implement this using search sessions state 👍

[2021-02-24 11:01] muskangulati-qasource commented on #92392
Hi @kevinlog,

Thank you for the information. We will keep track.

We upgraded kibana from 7.11.0 to 7.12.0 and the agent version here is 7.11.0(which does not support ransomware).

So we can close this ticket and for the ransomware pill showing up after upgrade, we can follow up on another ticket here: https://github.com/elastic/kibana/issues/92393

Thanks!!

[2021-02-24 11:01] #92392 closed

[2021-02-24 11:02] muskangulati-qasource commented on #92379
Hi @kevinlog,

Yes Kevin, it does updates after some time. But it is not immediately pushing the changes.

Please let us know if it is expected!!

Thanks!

[2021-02-24 11:02] muskangulati-qasource commented on #92162
Hi @ferullo,

Thank you for the information, it was really helpful.

JFYI, we have been downloading the artifacts on daily basis since we are aware of the fact that SNAPSHOT builds are updated on regular basis.
![Version](https://user-images.githubusercontent.com/60252716/108982759-24e35080-76b4-11eb-8b10-f39a5e2484b4.PNG)

Moreover, we tested this ticket again and found that we are blocked on SNA

[2021-02-24 11:02] muskangulati-qasource commented on #91628
Hi @MadameSheema,

We have validated this ticket on the latest 7.12.0-Bc2 build and found that issue is now **fixed**. Please find below the testing details:

**Build Details**:
[code]

**Refer Screenshot**:
![1](https://user-images.githubusercontent.com/60252716/108985047-98865d00-76b6-11eb-877b-2bc61a8efdaa.PNG)

Hence closing this ticket & marking it as 'Validated'.

Thanks!!

[2021-02-24 11:04] azasypkin commented on #92201
Yeah, that's a fair point. But at the same time I see a number of `query: schema.maybe(....)` in `master` that can potentially lead to more runtime bugs due to discrepancy between TS type we get (assumes `undefined` for `query`) and the real value (can never be `undefined`). The risk is definitely very low, but it's still non-zero.

Thanks! Although it looks nicer "on paper" it's a bit less usable

[2021-02-24 11:05] Dosant commented on #84617
closed by https://github.com/elastic/kibana/pull/88613

[2021-02-24 11:05] #84617 closed

[2021-02-24 11:05] monfera opened #92587 "[Canvas] Clicking on some filter fields selects the element underneath"
**Kibana version:**
7.12

**Describe the bug:**
When clicking on anything in the filter dropdown, eg. "Round to the day", it clicks through and also selects the element beneath the dropdown; it gets the highlight and shows up on the side panel

**Steps to reproduce:**
1. Drop down the filter menu
2. Click on something
3. Click is perceived as if the dropdown menu still let through the click

**Exp

[2021-02-24 11:05] elasticmachine commented on #92587
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 11:07] kibanamachine opened #92588 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/license_management/feature_controls/license_management_security·ts - License app feature controls security global dashboard read with license_management_user [SkipCloud] global dashboard with license management user: skip cloud should render the "Stack" section with License Management"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12137/)

![fail4](https://user-images.githubusercontent.com/10977896/109493866-276fec80-7a9e-11eb-89ba-58fbb1cdbde5.png)

[2021-02-24 11:10] andreidan opened #92590 "ILM: searchable snapshot action hides the replicas action configuration"
**Kibana version:**
7.11, 7.12, 7.13

**Elasticsearch version:**
7.11

**Server OS version:**
Darwin 19.6.0

**Browser version:**
Firefox 85.0.2

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
download page

**Describe the bug:**
Configuring the `searchable_snapshot` action in the `cold` phase hides the `replicas` configuration.

**Steps to repro

[2021-02-24 11:12] mostlyjason opened #92591 "[Fleet] Improve hosted agent policy error messages in API"
#76843 introduced managed agent policies to the API. This issue is to review and improve the error messages. Improved error messages will make it more clear to API users what happened and what the user can do about it.

For example, here is the error message shown then reassigning an agent to managed agent policy:
![image](https://user-images.githubusercontent.com/6370704/108991865-786e8380-764d-1

[2021-02-24 11:14] elasticmachine commented on #92528
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 11:15] mostlyjason commented on #91906
@jfsiii thanks for filing this! It'd be good to have clear messaging about what managed agent policies are and how users should interact with them. Improving the error messages could be a first step in that direction. I filed this issue to improve the error messages https://github.com/elastic/kibana/issues/92591.

[2021-02-24 11:18] Dosant opened #92592 "Explore underlying data on saved search panel should load saved search"
**Describe the feature:**

Currently, explore underlying data on saved search panel navigates to discover with dashboards' filters and panels' index pattern. But probably it should also specifically load a corresponding saved search.

If we don't want to make "explore underlying data" more complicated then it could be a separate discover panel specific actions: "open saved search"

**Related**

ht

[2021-02-24 11:18] elasticmachine commented on #92592
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 11:18] elasticmachine commented on #92592
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 11:29] streamich opened #92593 "[Share-to] Dashboard panel page"
Adapt dashboard panel full-screen pages to also serve as landing pages for dashboard panels when the panel is shared externally.

Part of https://github.com/elastic/kibana/issues/60433

[2021-02-24 11:29] elasticmachine commented on #92593
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 11:30] banderror commented on #91336
Actually, it's more complicated. https://github.com/elastic/kibana/pull/88420 also needs to be backported, because they all stand on each other's shoulders and the table would not work correctly if I only backport my PRs without this PR of @FrankHassanabad .

[2021-02-24 11:33] timroes opened #92595 "[Discover] Surrounding document views breaks on date nanos with custom formatter"
In 7.12 there is a scenario where the surrounding document view in Discover will break with a cryptic ES error:

<img width="964" alt="Screenshot 2021-02-15 at 19 26 57" src="https://user-images.githubusercontent.com/877229/108994212-cca05480-769b-11eb-969e-48c2d27a6cce.png">

This happens in the following situation:

* You have an index pattern using a `date_nanos` field as it's primary timestamp

[2021-02-24 11:33] elasticmachine commented on #92595
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 11:34] streamich opened #92596 "[Share-to] Download as .png"
Add a sharing action to the dashboard panels which downloads a chart as a .png file.

- [ ] Show spinner
- [ ] Download file automatically once it is ready
- [ ] Show notification that image was downloaded
  - [ ] Optional: in notification show "Copy to clipboard" button

Part of: https://github.com/elastic/kibana/issues/60433

[2021-02-24 11:34] elasticmachine commented on #92596
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 11:37] streamich opened #92597 "[Share-to] Download as .pdf"
Add a sharing action to the dashboard panels which downloads the chart as a `.pdf` file.

Part of: https://github.com/elastic/kibana/issues/60433

[2021-02-24 11:38] muskangulati-qasource opened #92598 "[ Bug ] For Mac, ransomware is supported, but no log entry for the same"
**Description**
For Mac, ransomware is supported, but no log entry for the same

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Mac Endpoint should be installed with Security Integration

**Steps to Reproduce:**
1. Navigate to the 'Administration' tab under Security.
2. Click on the 'Success' status of the policy.
3. Observe that Ranso

[2021-02-24 11:38] elasticmachine commented on #92598
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 11:38] elasticmachine commented on #92597
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 11:38] elasticmachine commented on #92598
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-24 11:38] muskangulati-qasource commented on #92598
@manishgupta-qasource please review

[2021-02-24 11:38] PurpleV0id commented on #91338
im having the same issue, this is an example of my action message for email:
{{#context.alerts}}
host.name: {{host.name}}

user.name: {{user.name}}
{{/context.alerts}}

user.name is populated but host.name is not.  I also added {{context.alerts}} to the message to check the output and fields and {{host.name}} is within the output

I have included alot of other fields based around process. etc and

[2021-02-24 11:44] shahzad31 commented on #88177
i hope this is one off , otherwise i will give this another round of go, wait and see, wait and see ....

[2021-02-24 11:46] manishgupta-qasource commented on #92598
Reviewed & assigned to @kevinlog

[2021-02-24 11:50] deepikakeshav-qasource commented on #91631
Hi @michaelolo24,

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. Long Host name is properly displayed in host details panel under the detection tab.

**Build Details:**
[code]

**Screenshot:**
![host_name](https://user-images.githubusercontent.com/61860752/108995446-22d4be00-76c3-11eb-8810-a694f83b793b.jpg)

Hence, We are closing this ticket.

Thanks!!

[2021-02-24 11:50] #91631 closed

[2021-02-24 11:56] peluja1012 commented on #91336
@banderror I agree that we would be introducing too much risk by having to backport multiple PRs to include in 7.11.2. I'm removing the 7.11.2 label from this bug.

[2021-02-24 11:57] streamich opened #92603 "Sharing Roadmap"
This ticket tracks future planned work for `share` plugin and various Dashboard sharing actions and accompanying services like URL Service.

- [x] [__URL Service__](https://github.com/elastic/kibana/issues/87304)
- [ ] __[*Share-to-* project](https://github.com/elastic/kibana/issues/60433)__

Needs planning:

- [ ] Audit `share` plugin (short URLs and URL generators, and rethink how dashboard shar

[2021-02-24 11:58] banderror commented on #91336
I'll close the backports.

[2021-02-24 11:58] elasticmachine commented on #92603
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 12:02] Dosant commented on #80765
Looks like this isn't completely fixed. Chacked 7.11.1 and master:

https://user-images.githubusercontent.com/7784120/108997838-64a03d00-76a0-11eb-8316-98d585ab4dfa.mov

1. Long list of index patterns and  make sure the last index pattern is selected
2. Open popover
3. Click on the first one
4. Didn't work because of focus

Reopening https://github.com/elastic/eui/issues/4147

[2021-02-24 12:05] mikecote commented on #58417
I will consider this issue now resolved and closed. Thanks all!

[2021-02-24 12:05] #58417 closed

[2021-02-24 12:07] xennn commented on #91338
Oh its working for me, i forget the {{#context.alerts}}. Now it´s working fine for me. I test only with {{host.name}}
Thank you @PurpleV0id
Now i need a soloution to change it global in all rules -> https://github.com/elastic/kibana/issues/91337

[2021-02-24 12:07] mostlyjason commented on #91906
### Some questions
  * **General**
    * The API allows (will allow) the restrictions to be bypassed by passing a parameter like `force: true`. Should the UI include anything to support that feature/workaround or should that be limited to the API?
      - @jfsiii Can you think of any use cases where a user might need the force parameter in the UI? If not, I'd say leave it to the API.
 * **Agent Po

[2021-02-24 12:18] Dosant commented on #76177
Should be no longer relevant https://github.com/elastic/kibana/issues/76177#issuecomment-737472406

[2021-02-24 12:18] #76177 closed

[2021-02-24 12:20] Dosant commented on #75946
Closing as dulicate https://github.com/elastic/kibana/issues/91399

[2021-02-24 12:20] #75946 closed

[2021-02-24 12:21] Dosant commented on #91399
From the description of https://github.com/elastic/kibana/issues/75946 seems like a regression between 7.5.2 -> 7.8.1

[2021-02-24 12:22] karanbirsingh-qasource opened #92605 "[Enhancement][Security Solution] Incident Type should be in list format instead of comma separation for better readability"
**Describe the bug**
Incident Type should be in list format instead of comma separation for better readability just like the UI shown on IBM resilient incident

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environment.
3.IBM Connector should be created on above

[2021-02-24 12:23] elasticmachine commented on #92605
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 12:23] karanbirsingh-qasource commented on #92605
@manishgupta-qasource Please review

[2021-02-24 12:24] PurpleV0id commented on #91337
I created a Kibana Space just for detections
Then created rules that use the .siem-signals-default-* index with a query based on something like the severity
Create the actions on that rule.  Not tested the new actions on this yet but tested it before and it worked well.

[2021-02-24 12:26] elasticmachine commented on #92590
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-24 12:30] PurpleV0id commented on #91338
@xennn
so it works for you but not working for me.

When looking at the output of {{context.alerts}} fields such as user.name are nested such as "user":{"name":"someone","domain":"somedomain"}

my host.name and host.hostname is not nested. Its the only difference i can see between the fields that work and host.name

[2021-02-24 12:33] kevinlog commented on #92379
@muskangulati-qasource it will not be immediate, this is expected.  It takes some processing time to create the artifacts for Trusted Apps.  We can close this ticket.

[2021-02-24 12:33] karanbirsingh-qasource opened #92607 "[Security Solution] Updated name of external Connector is not reflecting on update button at case"
**Describe the bug**
Updated name of external Connector is not reflecting on update button at case

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environment.
3.IBM Connector should be created on above environment.

let say connector name would be "**ksingh_ibm_r

[2021-02-24 12:33] elasticmachine commented on #92607
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 12:34] karanbirsingh-qasource commented on #92607
@manishgupta-qasource Please review

[2021-02-24 12:34] manishgupta-qasource commented on #92605
Reviewed & assigned to @MadameSheema

[2021-02-24 12:39] kevinlog commented on #92598
@ferullo does Mac support ransomware?  I thought it was Windows only which in this case, we need to correct the text and config.

[2021-02-24 12:41] muskangulati-qasource commented on #92379
Sure Kevin,

We are closing this ticket as it is working as expected.

Thanks!!

[2021-02-24 12:41] #92379 closed

[2021-02-24 12:42] ferullo commented on #92598
Correct, ransomware protection is windows only.

[2021-02-24 12:42] karanbirsingh-qasource opened #92608 "[Security Solution] Typed Text in Search bar of side event details panels not showing on safari Version 13.1.2 (13609.3.5.1.5)"
**Describe the bug**
Typed Text in Search bar of side event details panels not showing on safari Version **13.1.2 (13609.3.5.1.5)**

**Build Details:**
[code]

**Browser Details**
safari : 13.1.2 (13609.3.5.1.5)

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environment.

**Steps to Reproduce**
1. Navigate to Kiba

[2021-02-24 12:42] elasticmachine commented on #92608
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 12:43] karanbirsingh-qasource commented on #92608
@manishgupta-qasource Please review

[2021-02-24 12:48] kevinlog commented on #92598
@parkiino can you correct the text in the Ransomware card? I'm sorry I missed this before!

1. Remove "Mac" from the text
2. Only edit "Windows" section in the config

[2021-02-24 12:49] flash1293 commented on #92135
I might have found a way to reproduce this without having to deal with hover states - if you go to advanced settings and change a value, the black bottom bar is also causing a scrollbar for the full window. It's possible they are caused by the same underlying EUI issue

[2021-02-24 12:50] sqren commented on #92024
You added a fitting function in https://github.com/elastic/kibana/pull/87522. But I see it's only for the latency charts so we need it in other charts as well.

[2021-02-24 12:55] afharo commented on #92001
I've run through all the collectors to find out who is affected and how the SO APIs are used. I found these collectors that might be potentially affected:

| Collector | Usage | Potential solution |
|-----------|-------|--------------------|
| [`dashboard`](https://github.com/elastic/kibana/blob/master/src/plugins/dashboard/server/usage/register_collector.ts) | [`soClient.find`](https://github.com

[2021-02-24 13:02] flash1293 commented on #92135
The body gets a `euiBody-hasPortalContent` class for the time tooltips/popovers are open:
[code]

If this rule is removed, the scrollbar doesn't appear. For this time, the lens app is slightly scrollable (same as here: https://github.com/elastic/kibana/issues/84638)

[2021-02-24 13:03] lizozom opened #92609 "[Bug] Data table doesn't return results for extremely large dataset"
I'm running kibana from `master` with an extremely large data set (200 indices, some frozen, 30m documents).

When I increase the time range beyond a certain point, Elasticsearch doesn't return any results for the data table. All other visualizations work for that timerange.

The query sent for a 5 year time range is pasted below.
If I shorten the time range to 4 years, everything works just fine.

[2021-02-24 13:08] flash1293 commented on #92135
It's caused by the screenreader info in the portal for keyboard instructions:
<img width="500" alt="Screenshot 2021-02-24 at 14 07 58" src="https://user-images.githubusercontent.com/1508364/109004986-bef1cb80-76a9-11eb-8b7a-2b90985f7973.png">

As soon as that's removed, the scrollbar disappears, even if `euiBody-hasPortalContent` is set on the body

[2021-02-24 13:10] elasticmachine commented on #92609
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 13:11] dgieselaar commented on #92024
@sqren yeah, only for the anomaly data.

[2021-02-24 13:12] flash1293 commented on #92609
Working as intended, just significant terms weirdness

[2021-02-24 13:12] #92609 closed

[2021-02-24 13:14] flash1293 commented on #92135
I might miss an obvious fix here, but I think the best approach would be to but those keyboard instructions inside of the element structure of Lens, not at the end. @myasonik is it absolutely required these instructions are at the very end of the document?

[2021-02-24 13:26] nchaulet opened #92612 "[Fleet] Upgrading a package should trigger a new POLICY CHANGE for agents"
## Description

Currently when we update a package, agents will not have the latest package until the policy integration is updated,
We should trigger a policy change.

## Open questions

What happens if a new variables is introduced in the package, and we are missing it?

[2021-02-24 13:26] Kerry350 commented on #92245
Looks good:

![Screenshot 2021-02-24 at 13 25 35](https://user-images.githubusercontent.com/471693/109007244-d75ee780-76a3-11eb-923f-aac5f8ecf3ce.png)

🎉

[2021-02-24 13:26] elasticmachine commented on #92612
Pinging @elastic/fleet (Team:Fleet)

[2021-02-24 13:26] flash1293 commented on #92135
Maybe we have to change something about the page layout in general - discover for example has the same problem because of some monaco helpers which are added in the same way:
<img width="745" alt="Screenshot 2021-02-24 at 14 25 43" src="https://user-images.githubusercontent.com/1508364/109007279-43dde480-76ac-11eb-941c-12090daea59a.png">

[2021-02-24 13:26] #92245 closed

[2021-02-24 13:28] mikecote commented on #92166
@gmmorris, I believe this issue is good to go (unblocked) if the scope is to rename labels and user guides?

[2021-02-24 13:30] elasticmachine commented on #85965
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 13:30] elasticmachine commented on #88426
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 13:32] dandcp commented on #31804
I am having the same issue using Kibana 7.10.2.  Are there any updates?

[2021-02-24 13:32] mikecote commented on #90375
@gmmorris, @gchaps was mentioning we'll need to update the Elastic Glossary as well: https://www.elastic.co/guide/en/elastic-stack-glossary/current/terms.html. I'll let you create/update an issue for that.

[2021-02-24 13:35] cauemarcondes commented on #90813
@dgieselaar that wasn't fixed, we still need to remove the `rangeId` from the list of dependencies. https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/hooks/use_fetcher.tsx#L163

[2021-02-24 13:40] Kerry350 commented on #92438
Looks good apart from the last scenario, for me the Timeline gets cut off when the navigation is docked:

![Screenshot 2021-02-24 at 13 38 14](https://user-images.githubusercontent.com/471693/109008829-b13a4700-76a5-11eb-879e-d9539918042a.png)

(Chrome version 88.0.4324.150 on macOS)

[2021-02-24 13:44] peluja1012 opened #92613 "[Security Solution] Add ability to import exception lists"
In 7.11 we [introduced](https://github.com/elastic/kibana/pull/86135) the Exceptions Lists view to management exception lists. This view currently allows users to export exception lists. However, the ability to import these lists is missing. This issue is to add this functionality in the Security App's UI.

[2021-02-24 13:44] elasticmachine commented on #92613
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-24 13:44] elasticmachine commented on #92613
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 13:49] pmuellr commented on #92388
I was going to try to reform this as a meta issue, but I still have some questions that we should settle on before re-orging all the PagerDuty issues:

- re: [`urgency`](https://github.com/elastic/elasticsearch/issues/67203) - that's not a field in the PD events API: https://developer.pagerduty.com/docs/events-api-v2/trigger-events/ - so there's nowhere for us to put a value like that

- for image

[2021-02-24 13:56] ruflin commented on #92426
I consider the allow / block list a generic feature and not something we need for 7.13. Instead we should stay with the `force` flag (better name needed) so any integration can be added / removed but it requires special flags.

[2021-02-24 13:57] wylieconlon commented on #92574
Some tools give users a choice of text angle in degrees, while other tools limit the angle to horizontal/diagonal/vertical only. I don't have a strong opinion on which one is better for Lens, but I think we need to make a decision about which options to provide.

[2021-02-24 14:03] walterra commented on #91373
The vertical scrollbars we’ve seen in some places might be related to the new virtualized cells. Note how the vertical scrollbar doesn’t appear for the first cut-off column but only when I add one that’s off screen.

![data-grid-vertical-scrollbar-0001](https://user-images.githubusercontent.com/230104/109011610-60305000-76b1-11eb-83af-1aca61b23078.gif)

[2021-02-24 14:04] manishgupta-qasource commented on #92607
Reviewed & assigned to @MadameSheema

[2021-02-24 14:04] manishgupta-qasource commented on #92608
Reviewed & assigned to @MadameSheema

[2021-02-24 14:11] pmuellr commented on #92388
Here's a list of (at least some of the) relevant issues, once we re-org this:

- this issue
- https://github.com/elastic/kibana/issues/63933 - custom_details, images, links, urgency
- https://github.com/elastic/kibana/issues/49908 - image support in actions
- https://github.com/elastic/kibana/pull/64120 - PR to add some new fields, not merged, but some commentary
- https://github.com/elastic/elast

[2021-02-24 14:12] timroes opened #92618 "[Discover] UI toggle to switch back to legacy table implementation"
The plan for rolling out the data grid implementation, will involve first rolling it out behind a feature flag (advanced setting) that is disabled by default, so the user needs to opt into the new behavior. We'll doing some user testing in 7.12 with opt in users.

In future versions we'd like as a next step to enable it by default but give the user a way to turn it off still. After talking to Vija

[2021-02-24 14:12] elasticmachine commented on #92618
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 14:20] dgieselaar commented on #90813
@cauemarcondes why? rangeId is only updated when the time range changes. I think the cache should be invalidated after that. Did I miss other scenarios? What do you think should happen?

[2021-02-24 14:25] smith commented on #89556
The observability plugin shares a `HeaderMenuPortal` component: https://github.com/elastic/kibana/blob/master/x-pack/plugins/observability/public/components/shared/header_menu_portal.tsx

[2021-02-24 14:25] spong commented on #76592
This issue has again been reported within some users rule management workflows -- raising impact so we can prevent future disruptions here.

[2021-02-24 14:26] Dosant commented on #82624
Still relevant but not so bad as there is more space now:

<img width="961" alt="Screen Shot 2021-02-24 at 15 25 47" src="https://user-images.githubusercontent.com/7784120/109014689-aaff9700-76b4-11eb-9640-52b3c6f3d255.png">

[2021-02-24 14:27] Dosant commented on #70933
Closing as duplicate of https://github.com/elastic/kibana/issues/82624

[2021-02-24 14:27] #70933 closed

[2021-02-24 14:34] simitt opened #92621 "[Fleet] Calling package install endpoint returns a 500 when package version is invalid"
**Kibana version**: `master`

**Description**
Calling the package installation API with a misformed version, for example: `curl -i -H 'kbn-xsrf: blah' -X POST "http://localhost:5601/api/fleet/epm/packages/apm-123-0.1.0-dev.4"` returns a `500` status response.

**Errors:**

[code]

**Expected**:
Return a `400`

[2021-02-24 14:34] elasticmachine commented on #92621
Pinging @elastic/fleet (Team:Fleet)

[2021-02-24 14:34] flash1293 commented on #92574
As a data point - in Visualize we allow to choose between vertical, horizontal and angled:
<img width="152" alt="Screenshot 2021-02-24 at 15 33 59" src="https://user-images.githubusercontent.com/1508364/109015761-c3bc7c80-76b5-11eb-8362-2fb35dd503b4.png">

[2021-02-24 14:41] xennn commented on #91337
This is not working for me. We have a lot of rules with this settings:

![grafik](https://user-images.githubusercontent.com/7826090/109016294-53fac180-76b6-11eb-897a-91cdde505b90.png)

Normal alerts look like this:

![grafik](https://user-images.githubusercontent.com/7826090/109016430-77257100-76b6-11eb-9e7e-9f23e1d4a49c.png)

With your recommendation it looks:

![grafik](https://user-images.githu

[2021-02-24 14:46] ThomThomson commented on #92409
Looks like I was testing with the wrong edit button. The one in the top nav bar works, but the one in the empty screen doesn't. Will get this fixed up asap!

[2021-02-24 14:46] mostlyjason commented on #89442
I'm thinking of the use case where the fleet server is running behind a proxy, and the agent isn't able to determine its external URL. In this case, the auto-populated information would be incorrect. I don't see a parameter in blake's install example that contains the external URL of Fleet server. That could be one way to populate it, the other being the UI. The advantage of exposing this in the U

[2021-02-24 14:46] weltenwort commented on #79262
:information_source: This also applies to the new log entries search strategy that was created in the meantime.

[2021-02-24 14:47] #92186 closed

[2021-02-24 14:49] markov00 opened #92624 "[Lens] Selecting a suggested visualization doesn't switch the current visualization title"
**Kibana version:**
7.12

**Original install method (e.g. download page, yum, from source, etc.):**
cloud
**Describe the bug:**
When you select and click a suggested visualization, the `current visualization` title on the suggestion panel doesn't change to the selected one, creating confusion. A `Refresh` button appears and will "cleaup" the state, but seems a bit strange that this need a another

[2021-02-24 14:49] elasticmachine commented on #92624
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 14:50] jportner commented on #91890
The repository CRUD actions all operate in a single space context, no matter how the repository is created. The only exception is the `find` action, which _can_ work across all spaces _if_ the `namespaces: ['*']` argument is used.

The only difference with the internal repository vs scoped repository, is that the scoped repository determines the space context based on the user's HTTP request (e.g.

[2021-02-24 14:53] spong commented on #91338
@PurpleV0id, are your source indices for this rule [ECS](https://www.elastic.co/guide/en/ecs/current/index.html) compliant? While [recommended](https://www.elastic.co/guide/en/security/7.11/es-overview.html#ecs-compliant-reqs), Detections will still function if not, but you'll need to match the same format in your action template as the source events. So if `hostname` is on the root alert instead

[2021-02-24 14:53] cauemarcondes commented on #90813
When the refresh button is clicked, it invalidates the dependencies of all useFechers, for the Time comparison feature, where the comparison API must wait for the primary API to return to start up, it makes the comparison API to be fired twice one because it was invalidated by the new `rangeId` and another because the primary statistics were updated.

[2021-02-24 14:53] flash1293 commented on #92624
That's by design at the moment - but I understand your confusion.

The idea here is on switching to a suggestions, you are "peeking" into this suggestion. As soon as you hit refresh (or start editing something in the chart), it "commits" the suggestion, and it becomes the new "Current visualization".

People were confused about this a bunch of times (especially what "Refresh" means here).

I'm goi

[2021-02-24 14:56] #92449 closed

[2021-02-24 14:59] sqren commented on #92368
Hi there,

Thanks for reporting this. I've verified this to be a bug in 7.11.
Looks like it's fixed in master and will therefore be fixed fr 7.12 but I have yet to verify that.

![image](https://user-images.githubusercontent.com/209966/109019341-324f0980-76b9-11eb-96fd-3d48dc280f6c.png)

![image](https://user-images.githubusercontent.com/209966/109019368-38dd8100-76b9-11eb-9da8-1a6f617a6566.png)

[2021-02-24 15:06] nehaduggal opened #92631 "[APM] x-axis on the instance bubble chart is broken"
**Versions**: Kibana: 7.12

**Issue**:

In the new Instance scatter plot chart, the x-axis looks empty and  so off with just 1 data point.  In the attached screenshot you can see that the instances tpm is 7.6tpm but it looks like the dot is on 0 making it super confusing. We should have some more even interval labels on the x-axis and not show anything with a non 0 tpm as a 0 value.

<img width="4

[2021-02-24 15:06] elasticmachine commented on #92631
Pinging @elastic/apm-ui (Team:apm)

[2021-02-24 15:07] mostlyjason commented on #89442
I'm thinking about the concept of auto-populating the fleet server URL/IP and I wonder if there are security concerns? If we populate a DHCP IP or URL, could it be assigned to compromised fleet server later? Ideally, it would be a static IP or URL that is accessible from the endpoints, accounts for proxies, etc. @blakerouse do we ask for user confirmation before saving it to ES and provide a way f

[2021-02-24 15:08] mattkime commented on #91979
@flash1293 Apologies for the delayed response on this. The request certainly seems reasonable. @sebelga created that API so I'm curious to hear his thoughts.

[2021-02-24 15:09] #92099 closed

[2021-02-24 15:09] Jaraxal opened #92636 "[Metrics UI] Summary of process information is different between Metricbeat and Agent."
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Server OS version:** Elastic Cloud

**Browser version:** Google Chrome Version 88.0.4324.192 (Official Build) (x86_64)

**Browser OS version:** Mac OS 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
The process summary view in the Metrics UI shows incorrect value

[2021-02-24 15:09] nreese commented on #92504
I ran into this issue when converting the importing from importing the entire file to only importing chunks of the file at the time. @loaders.gl/json can sometimes provide an incomplete feature for the last feature. That feature is then updated to be complete when the next batch is processed. This issues is resolved with https://github.com/elastic/kibana/pull/92620 and buildings-46900-mini.geo.tar

[2021-02-24 15:11] sebelga commented on #91979
Thanks for creating the issue @flash1293. I was not aware of the `overlays.openModal` service. It makes sense to provide an imperative method as you suggest.

I think we should allow the `indexPattern` to be both an `IndexPattern` or a `string`. If it is a string we asynchronously fetch the pattern so the consumer does not need to do it.

So the modal option would then be

[code]

[2021-02-24 15:15] elasticmachine commented on #92566
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 15:16] flash1293 commented on #91979
That's sounds great @sebelga . I guess we should do the same for the open editor API. If you are happy with this I can also go ahead an make that change.

[2021-02-24 15:17] elasticmachine commented on #92579
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-24 15:18] Dosant commented on #63670
Closing due to no activity and as there is a downstream eui bug that most likely will fix this https://github.com/elastic/eui/issues/1997

[2021-02-24 15:18] #63670 closed

[2021-02-24 15:23] FrankHassanabad commented on #91621
Workaround floating around for this for anyone in the public until the next patch release:

1. In the Detections page, find the alert of interest, click on "Investigate in Timeline".
2. Inside of Timeline, find the alert event and click on "Analyze Event".
3. User should be able to investigate

[2021-02-24 15:23] Dosant commented on #47133
Closing as this non-critical IE11 bug and IE isn't supported since 7.9 https://www.elastic.co/support/matrix#matrix_browsers

[2021-02-24 15:23] #47133 closed

[2021-02-24 15:25] Dosant commented on #37150
Will be addressed by https://github.com/elastic/kibana/issues/53682

[2021-02-24 15:25] #37150 closed

[2021-02-24 15:28] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12141/)

[2021-02-24 15:29] flash1293 opened #92641 "Discover: Adding default time field triggers warning in legacy table/context view"
**Kibana version:** 7.12

**Describe the bug:** Adding the default time field as an explicit column works fine in the data grid, but triggers a warning in the console in the legacy table and also in the context view (as it uses legacy table)

**Steps to reproduce:**
1. Go to discover
2. Add default time field (like `@timestamp`)
3. Click "Show surrounding documents"
4. Error in the console

**Expe

[2021-02-24 15:29] elasticmachine commented on #92641
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 15:32] poffdeluxe opened #92642 "Adding visualization to existing dashboard from modal doesn't put dashboard in edit mode"
**Kibana version:**
7.12-SNAPSHOT

**Describe the bug:**
If you add a visualization to an existing dashboard by using the new add-to-dashboard modal, the vis gets added and you're redirected to the dashboard but the dashboard isn't in the "edit state." This means there's no save button displayed until the user hits the "edit" button.

**Steps to reproduce:**
1. Create and save a dashboard
2. Go to

[2021-02-24 15:32] elasticmachine commented on #92642
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 15:32] brianseeders commented on #92567
Skipped

master: d9417635e8696a4206736af1242cc61da61c1e10

[2021-02-24 15:32] elasticmachine commented on #92567
Pinging @elastic/siem (Team:SIEM)

[2021-02-24 15:34] brianseeders commented on #92567
@elastic/security-solution

[2021-02-24 15:38] ThomThomson opened #92643 "[Canvas] Expression Failed Exit Button not Clickable"
**Kibana version:** 7.12 BC1 (Cloud)

**Browser version**: Chrome 87

**Describe the bug:** When an expression error is encountered, the exit button in the error popover is not clickable.

**Steps to reproduce:**
1. Cause an expression failure
2. Try to exit the error popover by pressing the exit button.

**Expected behavior:**
The exit button should exit the popover.

**Screenshots (if relevant):

[2021-02-24 15:38] elasticmachine commented on #92643
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 15:42] #92373 closed

[2021-02-24 15:42] dneduva opened #92647 "Log Threshold type not registered"
**Kibana version:** 7.11 (Cloud)

**Elasticsearch version:** 7.11 (Cloud)

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Use Rest API to create a new log-threshold type alert
2. OR using the Elastic Cloud UI
3.

**Expected behavior:** Create a new al

[2021-02-24 15:45] myasonik commented on #92135
No, it doesn't matter too much where the instructions are. We don't want them directly inline because that causes them to be read out twice sometimes but anywhere near the end of the DOM is fine but "near the end" is very flexible.

As you're seeing with the monaco stuff though, this type of thing is often just stuck at the end to try to be out of the way.

[2021-02-24 15:47] flash1293 opened #92648 "[Lens] Switching from xy time chart to pie drops all buckets"
**Kibana version:** master

**Describe the bug:** Switching from an xy time chart with a string based "break down by" dimension to pie chart drops both the date bucket and the string bucket dimension

**Steps to reproduce:**
1. Go to xy chart
2. Configure xy chart with time on the x axis and "top values" on the "break down by" dimension
3. Switch to pie
4. Only metric is carried over

**Expected b

[2021-02-24 15:47] elasticmachine commented on #92648
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 16:00] monfera opened #92649 "[Canvas] Increase the visibility of Visualize(?) chart additions"
**Kibana version:**
7.8

**Describe the issue:**
A) It's hard to organically discover these are even possible

I was going to test adding Visualize sourced charts (Maps, Lens, ...) and I even saw these before and were on the list. Yet I couldn't find it and needed to ask for help (thanks Devon). For some reason, my eye totally blocked out the last line: it's the last; separated with a line; starts

[2021-02-24 16:00] elasticmachine commented on #92649
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 16:01] sebelga commented on #91979
If you can go ahead and make that change that'd be great, thanks! 👍
I wonder if we want to keep supporting the render props pattern. If we do, then it should probably updated to consume the new `openFieldDeleteModal` handler.

[2021-02-24 16:04] weltenwort opened #92650 "[Logs UI] Support Kibana index pattern references in log source configuration"
## Summary

In order to support the usage of Kibana index patterns (KIPs) in the Logs UI, the source configuration needs to be able to encode references to them while still allowing for the backwards-compatible legacy configuration. To that end, this enhancement modifies the saved object and related code without exposing the new style of configuration in the UI.

relates to #88607

## Acceptance C

[2021-02-24 16:04] elasticmachine commented on #92650
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 16:04] weltenwort commented on #92650
:thought_balloon: Should the saved object retain the tiebreaker in `fields.tiebreaker` or should it move into the `LogIndexNameReference` data structure when `type === 'index-name'`?

One argument for that would be that `fields.tiebreaker` is not read if `logIndices !== 'index-name'`.

[2021-02-24 16:12] jfsiii commented on #92591
## Agent Policy
**assign**: `Cannot update integrations of managed policy ${id}`
**unassign**: `Cannot remove integrations of managed policy ${id}`
**delete**: `Cannot delete managed policy ${id}`

## Package Policy (Integrations)
**create**: `Cannot add integrations to managed policy ${parentAgentPolicy.id}`
**update**: `Cannot update integrations of managed policy ${id}`

## Agents
**enroll**: `

[2021-02-24 16:19] #83640 closed

[2021-02-24 16:22] legrego opened #92654 "Detect and prevent the use of mismatched encryption keys"
Kibana relies on a number of encryption keys. Arguably the most important key is `xpack.encryptedSavedObjects.encryptionKey`, as this controls the encryption/decryption of actions, alerts, and other sensitive user data.

Kibana requires that this key is set to the same value across all instances. If two Kibana instances have different encryption keys, then they will be encrypting saved objects tha

[2021-02-24 16:22] elasticmachine commented on #92654
Pinging @elastic/kibana-security (Team:Security)

[2021-02-24 16:25] azasypkin commented on #92558
The ability to store custom data in a user session sounds reasonable to me in general. I think it can be useful for other plugins in the future too. Here is just a very rough idea on how that could look like, please comment if you have any concerns, or questions, or ideas.
[code]

Sessions are retrieved from Elasticsearch on every request and I assume the values that plugins will store will have t

[2021-02-24 16:25] dgieselaar opened #92655 "[APM] Look into Kibana APM data characteristics"
Kibana's current APM setup is generating a lot of data (transactions and spans), which makes it hard to retain data for a longer period of time which is a requirement from the operations team.

We should look into what data is being ingested and if we can reconfigure some things to record less data.

[2021-02-24 16:25] elasticmachine commented on #92655
Pinging @elastic/apm-ui (Team:apm)

[2021-02-24 16:27] PurpleV0id commented on #91337
fair enough, a central alert management solution is needed, I raised an issue regarding this some time ago.

[2021-02-24 16:30] weltenwort opened #92656 "[Logs UI] Support Kibana index patterns in settings UI"
## Summary

Following the preparation of the underlying data structures in #92650 this enhancement surfaces the option of creating a log source configuration based on a Kibana index pattern (KIP) in the settings tab.

depends on: #92650
relates to: #88607

## Acceptance Criteria

- The index and field configuration sections in the settings tab of the Logs UI are replaced by a configuration section

[2021-02-24 16:30] elasticmachine commented on #92656
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 16:31] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12142/)

[2021-02-24 16:32] nickofthyme opened #92657 "[Maps] Filter bar not visible with only heat map layer"
**Kibana version:**
`7.12`

**Elasticsearch version:**
`7.12`

**Browser version:**
Chrome Version 88.0.4324.150 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
build candidate tar.gz

**Describe the bug:**
Using a heat map layer on maps does not show `FilterBarUI` component in header.

**Steps to reproduce:**
1. Load flights sample data
2. Crea

[2021-02-24 16:32] elasticmachine commented on #92657
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 16:33] pmuellr commented on #88571
I'm going to close this for now.  Once the ES issue is resolved such that we can use API keys without TLS, we'll have to look at how we'd deal with this within alerting.

[2021-02-24 16:33] #88571 closed

[2021-02-24 16:34] pmuellr commented on #88733
closing as the reported issues have been resolved

[2021-02-24 16:34] #88733 closed

[2021-02-24 16:36] TinaHeiligers commented on #90279
Both this issue and https://github.com/elastic/kibana/issues/86247 are targeted for the same minor. To avoid too many merge conflicts while working in the same files, this issue should preferably be addressed after https://github.com/elastic/kibana/issues/86247 is done.

@rudolf I added a note here.

[2021-02-24 16:40] spalger commented on #88177
It's failed 12 PRs in the last week and twice on tracked branches, so I think we need to take another look @shahzad31. Thanks!

![image](https://user-images.githubusercontent.com/1329312/109033654-19783100-7684-11eb-8d7e-b97807c54c79.png)

Skipped

master: https://github.com/elastic/kibana/commit/e1fa0bfa9c0a7e441be7004c1a735719dacdfd61
7.x/7.13: https://github.com/elastic/kibana/commit/6f69c5ec07

[2021-02-24 16:46] aaronjcaldwell opened #92658 "[Maps] Results trimmed tooltip message doubles feature count for line and polygon features"
Steps to produce:
1) upload a line or polygon dataset that has more then 10000 features
2) Add a "Documents" layer for the uploaded index and set scaling to "Limit results".
3) Notice how the icon in the legend shows results have been trimmed. Mouse over the title in the legend to view the tooltip. The results trimmed message has double counted the features and should say 10000 instead of 20000. I

[2021-02-24 16:46] elasticmachine commented on #92658
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 16:48] monina-n commented on #92465
I've set up a meeting later this week with the team to discuss together how to approach this bug and address the different concerns. I'll update the issue afterwards on our decision and the plan going forward. If you'd like me forward you the invite, please ping me on slack!

cc @michaelolo24 @paulewing @MikePaquette @lindseypoli

[2021-02-24 16:48] simitt commented on #92612
I'd like to add following observations (with the APM example)

(1) Inconsistent behavior of package versions:
  * When an outdated integration is installed and one navigates to _Fleet/Integrations/APM_ - _Add Elastic APM_, the outdated package is available to be installed to a policy.

<img width="600" alt="Screenshot 2021-02-24 at 17 29 04" src="https://user-images.githubusercontent.com/5555349/1

[2021-02-24 16:49] nickofthyme opened #92659 "[Maps] Selecting EMS basemap does not populate input"
**Kibana version:**
`7.12`

**Elasticsearch version:**
`7.12`

**Browser version:**
Chrome Version 88.0.4324.150 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
build candidate tar.gz

**Describe the bug:**
When adding an `EMS basemap` layer, upon selecting any of the `Tile service` dropdowns, the option is reflected in the map but not in the in

[2021-02-24 16:49] elasticmachine commented on #92659
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 16:51] TinaHeiligers commented on #57502
@rudolf where do you think these should slot in? ATM, we don't have much on logging setup in Kibana. We mention some [logging config](https://www.elastic.co/guide/en/kibana/current/logs-ui-settings-kb.html) and then a but more in the [Dev docs](https://www.elastic.co/guide/en/kibana/7.11/kibana-platform-api.html#_logging_service).

We'll need to update the dev docs section and change whatever we n

[2021-02-24 16:52] aaronjcaldwell opened #92660 "[Maps][File upload] Geo line files uploaded through GeoJSON uploader aren't limited to 10k"
Possibly related to https://github.com/elastic/kibana/issues/92658. Geo json files exceeding 10k don't appear to be limited to 10k according to the legend pop up.

![2021-02-24_09-51](https://user-images.githubusercontent.com/1728976/109035437-a62bea80-7696-11eb-88ae-1326f0403dd3.png)

[2021-02-24 16:53] Zacqary opened #92661 "[Test Plan] [Metrics UI] Infrastructure Anomaly alert type"
## Summary

This test plan covers the new Infrastructure Anomaly alert type (https://github.com/elastic/kibana/pull/89244)

See the **How to test** section of the linked PR for instructions on how to get anomaly data locally.

## Scenarios

### UI
- [x] An anomaly alert can be created using the Alerts dropdown when on the **Inventory** page
	- [x] When creating an anomaly alert from the Inventory

[2021-02-24 16:53] elasticmachine commented on #92661
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 16:55] elasticmachine commented on #92660
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 16:57] mattkime commented on #91979
@flash1293

I'm curious about this. How is Lens working with index patterns?

In my mind, if we pass an index pattern reference by string, a given kibana app has Index Pattern instance, modifies and saves it, and then needs to reload the index pattern saved object and instantiate it.

It seems it would be simpler to pass the index instance. Why is this difficult for lens?

[2021-02-24 16:59] TheRiffRafi opened #92662 "Maps tooltip doesn't show human readable date format for timestamp."
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Describe the bug:**
When showing a timestamp in the tooltips for the maps feature the date comes up as unix timestamp as opposed to a human readable format.
As far back as 7.8 this used to show in readable format:

<img width="1342" alt="Screen Shot 2021-02-24 at 11 53 40" src="https://user-images.githubusercontent.com/62263912/10903

[2021-02-24 16:59] PurpleV0id commented on #91338
@spong
I am using ECS and my fields are host.name, host.hostname and host.domain.  I am using logstash and maniplulating them and coming out as [host.name] rather than [host][name] for example.  I can see in the {{context.alerts}} output that they are not nested either.  It is the only difference between the fields i can output in the actions.

[2021-02-24 17:01] flash1293 opened #92664 "[Maps] maps_legacy async bundle is loaded on startup"
**Kibana version:** 7.12 BC2

**Describe the bug:** On loading any page of Kibana, the async bundle of the maps_legacy bundle is loaded right away. It should only be loaded if it's actually required. It seems like all of the building blocks are in place, but an oversight placed it into the setup routine of the plugin (due to an interaction between region_map and tile_map)

**Steps to reproduce:**

[2021-02-24 17:01] elasticmachine commented on #92664
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 17:03] kevinlog commented on #92567
@parkiino I think this test failure has to do with the new sticky bar for policy.  Judging from error, we need to wait until the toaster is gone in the UI before clicking save again.  Can you check?

[2021-02-24 17:03] Zacqary opened #92665 "[Test Plan] [Metrics UI] Alert warning thresholds"
## Summary

This test plan covers the new warning severity threshold option in **Inventory** and **Metric threshold** alerts (https://github.com/elastic/kibana/pull/90070)

## Scenarios

### Inventory

- [x] You can successfully create an Inventory alert **without** adding a Warning threshold
- [x] The UI allows you to optionally add a Warning threshold
- [x] The alert executes and fires the Warni

[2021-02-24 17:03] elasticmachine commented on #92665
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 17:06] jfsiii commented on #91906
No. I think it makes sense to leave leave all "workarounds" to the API layer.

@mostlyjason I updated the description to the decisions and call out any remaining work. Let me know if I missed or misunderstood something.

[2021-02-24 17:09] mostlyjason commented on #85118
I don't think these names show up anywhere other than this enrollment token page? They are not shown in the add agent flyout. I'd consider this a backlog item unless we can think of how it impacts users in a significant way.

[2021-02-24 17:10] azasypkin commented on #92654
The most obvious scenario is when you just lose your encryption key or you know it has been compromised and you cannot trust your already encrypted objects anymore. In this case it'd be reasonable to assume that you'd just change your key and not put the old one to the `decryptionOnlyKeys` collection.

Introducing some additional configuration key or using CLI to support this specific use case can

[2021-02-24 17:28] TinaHeiligers commented on #92193
@afharo what usage collection APIs do you want to showcase and should we add a new example plugin for each of them?
Maybe we can group the usage collectors we decide to use into an example (maybe a server-side and client side collector) and then add some sort of a minimal UI to show the data itself.

[2021-02-24 17:30] fearful-symmetry commented on #92636
So, we're assuming this is because `event.dataset` became `system.process_summary` as opposed to `system.process.summary`. There should be a way to fix it, but I'm struggling to make it work.

[2021-02-24 17:30] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12143/)

[2021-02-24 17:31] PurpleV0id commented on #91338
@spong
Issue resolved, I added a mutate to my logstash to rename [host.name] => [host][name] and same for hostname and domain.

Tested an alert/action and host.name is coming through

[2021-02-24 17:36] TinaHeiligers opened #92668 "[Usage collection] showcase collection APIs in an example plugin"
This issue is a follow up to https://github.com/elastic/kibana/issues/92193 for creating some example plugins using the collection APIs to showcase them and how they should be use.

The example plugin(s) need to demonstrate:
- [ ] client side `ui_counters`
- [ ] server side `counters` https://github.com/elastic/kibana/issues/81645
- [ ] a custom collector
- [ ] `application_usage` (might be tricki

[2021-02-24 17:36] afharo commented on #92193
I think the examples should show how each of the APIs exposed by the Usage Collection service work.

Maybe it can be just 1 example plugin making use of all of them (properly commenting the code to explain them?). What do you think? Would it be too messy?

[2021-02-24 17:36] elasticmachine commented on #92668
Pinging @elastic/kibana-core (Team:Core)

[2021-02-24 17:38] alisonelizabeth commented on #79228
The Upgrade Assistant is already updating the index setting for the index being reindexed to include `'index.blocks.write': true` prior to reindexing, so I don't think any additional work is required here.

Related code: https://github.com/elastic/kibana/blob/master/x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts#L293

[2021-02-24 17:38] #79228 closed

[2021-02-24 17:38] TinaHeiligers commented on #92193
@afharo I've added a new issue for adding example(s). We can chat about the design and what we want to showcase in there.
Examples are an enhancement so there's no real rush for that. We can start small and iterate on that.

[2021-02-24 17:39] cjcenizal commented on #91189
@sebelga Could you please review the Cloud UX of this functionality with @zanbel at some point?

[2021-02-24 17:41] Zacqary opened #92669 "[Test Plan] [Metrics UI] Saved view URL state"
## Summary

This test plan covers the URL state for saved views (https://github.com/elastic/kibana/pull/90216)

## Scenarios

- [x] When loading the Inventory and Metrics Explorer pages with an **empty** URL state, the Saved View selector reads **Default view** (e.g. `[KIBANA URL]/app/metrics/inventory`)
- [x] When loading the Inventory and Metrics Explorer pages with some parameters configured in

[2021-02-24 17:41] elasticmachine commented on #92669
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 17:42] monfera opened #92671 "[Canvas] Library chart has no obvious way of editing"
**Kibana version:**
7.12

**Describe the issue:**
Can't really edit a Library (aka. "Kibana" chart)

**Steps to reproduce:**
1. Add "Kibana" chart
2. Edit "Kibana" chart
3. How do I go back to the canvas? If I keep hitting the back button, it seems like it performs undo operations and by the time I'm back in Canvas, the chart is back to step 1 (or step 0?)

**Expected behavior:**
Implement it as a

[2021-02-24 17:43] elasticmachine commented on #92671
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 17:44] aaronjcaldwell opened #92672 "[Maps] Vector tile layer with only line features shows Polygon styling in Layer Style UI"
Currently tracks layers default to polygon styling which is confusing for the user since "fill color" won't really apply, but it's the first option listed when you go to style the tracks layer

![2021-02-24_10-42](https://user-images.githubusercontent.com/1728976/109042292-07a38780-769e-11eb-8cdc-d840b25c21a9.png)

[2021-02-24 17:45] elasticmachine commented on #92672
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 17:49] moadh commented on #31804
Weirdly enough my issue disappeared by itself. I think it needs to have a minimum number of documents with the populated field for it to work.

[2021-02-24 17:49] nickpeihl opened #92673 "[Canvas] Share on a website - Download runtime returns server error"
**Kibana version:**
7.12-SNAPSHOT

**Browser version:**
Safari

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The `Download runtime` button in the Share on a website feature in Canvas is returning a 503 Server Error.

**Steps to reproduce:**
1. Create a workpad in Canvas
2. Click Share -> Share on a website
3. In Step 2, click the `D

[2021-02-24 17:50] neptunian opened #92674 "[Metrics UI] Views should not save a default time"
Relates to: https://github.com/elastic/kibana/pull/92520

Custom saved views will store a default time into their saved object's `currentTime` prop when the user does not elect to "store time with view" in the prompt when saving a view.  We have no way of knowing whether they actually happened to choose the same time as the default time we use or if we saved a default time for them because they di

[2021-02-24 17:50] elasticmachine commented on #92674
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 17:50] elasticmachine commented on #92673
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 17:51] ThomThomson commented on #92671
The 'save and return' button in the top nav should save the visualization, and return you to Canvas.

<img width="529" alt="Screen Shot 2021-02-24 at 12 50 53 PM" src="https://user-images.githubusercontent.com/14276393/109043153-06bf2580-769f-11eb-8687-88f5a9ccb8a2.png">

[2021-02-24 17:55] #80953 closed

[2021-02-24 18:02] mikecote commented on #90007
I'll assume everything is merged and move this to `Done`.

[2021-02-24 18:02] #90007 closed

[2021-02-24 18:05] dgieselaar commented on #92655
Looking at a 24hr total, for `service.environment:ci`, I see about:

- 17.3m transactions
- 13.6m spans
- 2.7m metricsets

If we exclude data from the RUM agent:
- 15.7m transactions
- 11.7m spans
- 2.6m metricsets

So, the server-side instrumentation probably provides the biggest opportunities.

We might want to ignore the following transactions:
- `GET ?/bundles/?` (1.8m) and `GET /ui/#`(1.1m) -

[2021-02-24 18:09] dgieselaar commented on #92655
It also might be interesting to try out transaction metrics, which will pre-aggregate transaction data. It should lower storage costs and searches should be faster as well. It's experimental though. https://www.elastic.co/guide/en/apm/server/master/transaction-metrics.html

[2021-02-24 18:18] kibanamachine commented on #92567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12012/)

[2021-02-24 18:21] aaronjcaldwell opened #92688 "[Maps] Geo shapes not showing clusters when > 10k features"
Using the test file below uploaded via GeoJSON loader, polygon map features don't show clusters (with Gold license) when features exceed 10k:

![2021-02-24_11-18](https://user-images.githubusercontent.com/1728976/109046756-1b052180-76a3-11eb-9363-46280e3c7f85.png)

[brazil_test.tar.gz](https://github.com/elastic/kibana/files/6043857/brazil_test.tar.gz)

[2021-02-24 18:21] elasticmachine commented on #92688
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 18:21] spalger commented on #92567
Starting to see failures on 7.x too, so skipping there

[2021-02-24 18:25] #86952 closed

[2021-02-24 18:26] nchaulet commented on #92612
Yes this is the issue here, updating a package should trigger an update of related policies

For the first issue, seems weird, but I think it's probably related to the same problem we store the integration for a policy the first time it's added

[2021-02-24 18:27] jbudz commented on #89124
https://kibana-ci.elastic.co/job/elastic+kibana+master/12144/testReport/Jest%20Tests/src_dev_build_lib/

This test runs in ~50ms after testing locally and looking at recent CI runs.  There was some resource shuffling in CI that I expect helped alleviate the issue.  I'm going to close this out due to the expired logs and if it comes up again will use the timeouts from surrounding tests to investiga

[2021-02-24 18:27] #89124 closed

[2021-02-24 18:28] afharo opened #92689 "Convert `stack_management` to report UI Settings from all Spaces"
From this comment: https://github.com/elastic/kibana/issues/92001#issuecomment-785055666

We'll need to rework `stack_management` so it can report the UI Settings overwritten in all Spaces. At the moment, it uses the basic UI Settings API, which is space-dependent. So we're only getting the UI Settings changed for the default space only.

If we do so, we might need to convert each key to be an arr

[2021-02-24 18:28] elasticmachine commented on #92689
Pinging @elastic/kibana-core (Team:Core)

[2021-02-24 18:28] elasticmachine commented on #92689
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-02-24 18:28] #90033 closed

[2021-02-24 18:33] paul-tavares opened #92693 "[Fleet] Add new `PackagePolicy` `DELETE` API extension point"
## Description

Add a new API extension point to the `PackagePolicy` `DELETE` API. This extension point callback should be invoked after the specific `PackagePolicy` is successfully deleted and its (the callback) failure will not impact the API's success response

### Use Case
Endpoint is working on a Artifacts by Policy feature which allows user to now defined Artifacts (ex. Trusted Applications

[2021-02-24 18:33] elasticmachine commented on #92693
Pinging @elastic/fleet (Team:Fleet)

[2021-02-24 18:33] elasticmachine commented on #92693
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-24 18:35] jbudz commented on #41678
I went through the tests here - these have since migrated to jest and are running enabled.  The previously disabled tests via https://github.com/elastic/kibana/pull/52060.  In the event these tests start failing again we can track via the issue creation bot.

[2021-02-24 18:35] #41678 closed

[2021-02-24 18:37] weltenwort opened #92695 "[Logs UI] Validate and explain the Kibana index pattern settings"
## Summary

While #92656 introduced the ability to configure the log source based on a Kibana index pattern (KIP), the new semantics of that style of configuration is not obvious to the user. This enhancement introduces guidance and explanation by means of validation and in-line help text.

depends on: #92656
relates to: #88607

## Acceptance Criteria

- The KIPs listed in the selection component

[2021-02-24 18:37] elasticmachine commented on #92695
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-24 18:46] paul-tavares commented on #92567
@parkiino (@kevinlog ) instead of waiting for the toast to be "gone", just check for it (if not yet) and close it. Then wait for it to disappear (actually close out). then we can click save again.

[2021-02-24 18:49] paul-tavares commented on #92567
Also - strange that this did not fail in CI during PR review. I'm guessing a timing issue

[2021-02-24 18:56] jasonrhodes commented on #92636
@ruflin @fearful-symmetry @ph do we need a new ticket for this, not in the Kibana repo?

[2021-02-24 18:58] nickofthyme commented on #92659
Looks to also happen with `Configured GeoJSON` layers when selecting `Vector layer`.

https://user-images.githubusercontent.com/19007109/109051202-e5126e00-769f-11eb-9dc9-aba9f42f9279.mp4

[2021-02-24 19:04] #92182 closed

[2021-02-24 19:07] kmartastic commented on #92541
Good lord that's an awful map.
The lack of label conflict detection is a problem that should be fixed.

I think the incremental improvements would be:
1. Make one label readable and do not draw the other (overlapping labels)
2. Disperse labels with leader-lines
3. Provide options for label placement

[2021-02-24 19:15] kmartastic commented on #92658
The UI option is not "dynamic"  -- it always says 10k.
Is there a query setting that supersedes the UI option? Could the UI be updated to reflect the setting if yes?

@aaronjcaldwell @thomasneirynck

[2021-02-24 19:22] trentm commented on #92655
If you know the endpoint IPs, a span filter should be able to filter them out. I'm not sure if that's a pain.

[2021-02-24 19:28] poffdeluxe opened #92702 "[Dashboard] Modifying the filter in a dashboard doesn't enable the Save button"
**Kibana version:**
7.12-SNAPSHOT

**Describe the bug:**
If you open a dashboard, go to edit mode, and only change the filter, the "Save" button does not activate. You can still save the filter if you use the "Save as..." link.

**Steps to reproduce:**
1. Create a new dashboard and save it. Go back to dashboard listing
2. Navigate to the dashboard, enter edit mode, and only change the filter
3. Th

[2021-02-24 19:28] elasticmachine commented on #92702
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-24 19:35] tylersmalley commented on #83946
Per https://github.com/nodejs/node/issues/37309, there aren't plans to backport this support to 14.x, so we would be looking at 2021-04-20 at the 16.x LTS release.

[2021-02-24 19:35] EthanStrider opened #92703 "Make Index Management a first class citizen in Kibana (GET _cat/indices)"
**Describe the feature:**
The only way to visualize all the indices that are in Elasticsearch is to use `Dev Tools` --> `GET _cat/indices`. This seems like huge hole in the Kibana UI. I find it hard to believe that there is not a 1st class citizen visualizer / dashboard for indices in Kibana.

Before a user can use the Discover tab, they need to create an index pattern. Before they can create an i

[2021-02-24 19:35] neptunian commented on #92438
@Kerry350 I'm on BC2 and don't have an issue with the timeline.  Can you tell me your OS and browser so I can try there?  Thanks!

[2021-02-24 19:36] elasticmachine commented on #92703
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-24 19:37] neptunian commented on #92438
@Kerry350 Thanks for testing.  Would you mind checking again?  I'm on BC2 Chrome 88.0.4324.96 (x86_64) macOS and it works for me.

[2021-02-24 19:40] tsullivan commented on #92547
Absolutely. There is a low-hanging fruit issue that talks about this: https://github.com/elastic/kibana/issues/81583

@nickpeihl it's up to you if there is more to add, but maybe we can close this as a duplicate of https://github.com/elastic/kibana/issues/81583 ?

[2021-02-24 19:44] thomasneirynck commented on #92660
That shows the total-results in ES. The mismatch I think this is because the "partial results" icon is not showing in the TOC due to the ellipsis. Can you change the name of the layer to something short?

[2021-02-24 19:47] nreese commented on #92658
UI is dynamic and loads the value from `settings.index.max_result_window`

@aaronjcaldwell Can you provide more details on how to reproduce this issue. What steps did you take, what data set are you using?

[2021-02-24 19:55] nickpeihl commented on #92547
@tsullivan Thanks. I'm happy to close this as a duplicate. Sorry I missed the other issue.

[2021-02-24 19:55] #92547 closed

[2021-02-24 20:06] lukeelmers commented on #57502
I think that logging config you link to is actually specific to settings for the logs UI plugin, so we shouldn't need to worry about that one. There are also a handful of logging items in the [Configuring Kibana](https://www.elastic.co/guide/en/kibana/current/settings.html) page which would need to be updated.

I wonder if we need to split the README apart:
- the guide with logging overview added

[2021-02-24 20:08] LeeDr opened #92708 "[Discover] Show chart and save search, but chart isn't shown when it's opened again"
**Kibana version:** 7.12.0 BC2

**Elasticsearch version:** 7.12.0 BC2

**Server OS version:** Ubuntu 16.04

**Browser version:** Edge 88 (Chromium based) (and verified on Chrome)

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz from staging build

**Describe the bug:** I hide the chart in Discover and saved my search.  Then I cli

[2021-02-24 20:08] elasticmachine commented on #92708
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 20:12] lukeelmers commented on #71096
Yeah I think this should work fine. At one point the app team was requesting a way to do this conversion without search source, but this was awhile ago and TBH I can't remember the exact rationale.

And as you mentioned, you can already get the request body off search source (note however that `flatten` is private, you need to call `await searchSource.getSearchRequestBody()` which will give you th

[2021-02-24 20:15] #92066 closed

[2021-02-24 20:39] mostlyjason commented on #91906
@hbharding do you have any input on this one? There is overlap with UX here.

[2021-02-24 20:44] tsullivan commented on #76964
I'm going to close this issue since we can focus on https://github.com/elastic/kibana/issues/19914

Instrumenting Kibana Apps to use Feature Controls to check the reporting privilege will mean that the `reporting_user` role has to be deprecated. Those changes will effectively take care of this issue.

[2021-02-24 20:44] #76964 closed

[2021-02-24 20:47] mostlyjason commented on #92591
@jfsiii Thanks what about the bulk API error messages?

[2021-02-24 20:48] aaronjcaldwell commented on #92660
But even in that case it would show that results were limited to the first `x` number documents:

![image](https://user-images.githubusercontent.com/1728976/109063931-c3bd7c00-76b7-11eb-8c98-76905a35ab1c.png)

[2021-02-24 20:55] wylieconlon opened #92712 "[Discover] CSV report is missing the entire document when using fields API"
This is a regression in 7.12. Steps to reproduce:

1. Use the Kibana defaults on 7.12 and master, which is to use the fields API
2. Go to Discover and select any index pattern. Save the search
3. Create a CSV report
4. The CSV will contain _only_ the timestamp column, but no document information

Instead, what should happen is that the CSV should contain _every column_ that the documents contain.

[2021-02-24 20:55] elasticmachine commented on #92712
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-24 20:55] elasticmachine commented on #92712
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-24 20:56] aaronjcaldwell commented on #92658
@nreese Sure

1. Use GeoJSON uploader to upload [this file](https://github.com/nvkelso/natural-earth-vector/blob/master/geojson/ne_10m_admin_1_states_provinces_lines.geojson)
2. Follow through the normal layer adding process
3. In this particular case I also re-added the layer as a document layer following the upload/add process but I belive the behavior is the same either way

[2021-02-24 21:00] aaronjcaldwell commented on #92672
Actually this is a user error. Closing!

[2021-02-24 21:01] ryankeairns commented on #92618
Yep, we can some up with something.

First, a quick follow up question:
- Is there a preference for something permanent/always visible or would we rather a temporary thing (such as the suggested toast) that educates folks on the existence of the advanced setting but then gets out of the way?

Put another way, do we want to emulate a user setting and make it 'real', later, or should we purposefully

[2021-02-24 21:08] neptunian commented on #92669
Verified on BC2

[2021-02-24 21:08] #92669 closed

[2021-02-24 21:13] aaronjcaldwell commented on #92658
I should also mention, there may be another minor issue worth breaking out here. This dataset indicates it's limited to the first 20k documents, but there are < 20k docs indexed.

[2021-02-24 21:16] aaronjcaldwell commented on #92672
Reopening, this is valid for Geo lines using the following instructions:

1. Use GeoJSON uploader to upload [this file](https://github.com/nvkelso/natural-earth-vector/blob/master/geojson/ne_10m_admin_1_states_provinces_lines.geojson)
2. Follow through the normal layer adding process

[2021-02-24 21:21] parkiino commented on #92598
addressed this problem, which was due to the initial ransomware pr including support for windows and mac even though the endpoint only supports windows. here is the PR fixing the bugger: https://github.com/elastic/kibana/pull/92639

[2021-02-24 21:23] parkiino commented on #92393
@manishgupta-qasource  just to clarify, the expected result is that on a Platinum license, we want the ransomware card to show up but with the switch turned off so the prevent and detect options are disabled correct? If the license is Gold or below, there will be a locked card for ransomware. This is the PR fixing this bug: https://github.com/elastic/kibana/pull/92639

[2021-02-24 21:30] parkiino commented on #92567
@paul-tavares  i think it did actually fail during one of the builds, Kevin pointed it out once, but since it passed on the other builds I thought maybe it was a mistake. I'll probably do what you suggested though Paul and just close it out if it does exists.

[2021-02-24 21:31] #90356 closed

[2021-02-24 21:41] paul-tavares commented on #92693
@jfsiii , @nchaulet ,

Want your feedback on this.
Not too long ago, @parkiino introduced the `packagePolicyUpdate` extension and in order to reuse the same logic that was in the API handler for Create the execution logic. This new method was created in the `PackagePolicyService`:

https://github.com/elastic/kibana/blob/e81b5c1e400c06537adb780e36f666ea40d2ef1f/x-pack/plugins/fleet/server/services/

[2021-02-24 21:42] jfsiii commented on #92591
The "many agents given" item is also "bulk upgrade agents".

I was going to detail behavior in https://github.com/elastic/kibana/issues/90437 (some are silent instead of erroring) but these are the only error messages associated with actions related to managed policies

[2021-02-24 21:43] lukeelmers commented on #77961
Closing as we should now have the ability to page through >10k objects as of https://github.com/elastic/kibana/pull/89915

(We still have [a separate issue](https://github.com/elastic/kibana/issues/86300) open regarding adding a tiebreaker, but that did not end up blocking this effort after all)

[2021-02-24 21:43] #77961 closed

[2021-02-24 21:45] jfsiii commented on #92693
@paul-tavares thanks for the ping. I will look and comment on Thursday

[2021-02-24 21:47] wylieconlon commented on #92712
@tsullivan found a quick fix for this issue, as the parameters for the CSV are controlled by URL and we can fix the URL parameters that are sent from Discover to reporting.

[2021-02-24 21:51] paul-tavares commented on #90513
All,
I have not heard any objections to having this new API be part of Fleet Server and to create the index that will hold the data it needs be part of Kibana Fleet (right?). Thus, I'm going to proceed and request that the Elasticsearch team create the new new index with a name of `.fleet-artifacts`.

Also,
After thinking a little more about the proposal above, I would like to propose that we **do

[2021-02-24 21:54] kobelb commented on #82020
@mark54g I'm happy to work with you all to brainstorm alternative troubleshooting approaches. The most similar alternative that comes to mind is a workflow of snapshotting Kibana's system-indices, resetting them to their default state, and then restoring the system-indices to their prior state after troubleshooting. However, this is a rather cumbersome and heavy-handed approach. If we are able to

[2021-02-24 21:59] wylieconlon commented on #92708
I believe the fix here is simple. `hideChart` is a boolean, but it is not always persisted to the discover state. I fixed a similar issue in this PR that we decided not to merge: https://github.com/elastic/kibana/pull/91783/

[2021-02-24 22:25] #57547 closed

[2021-02-24 22:35] tsullivan commented on #92313
What is driving this question: we want to see if updating Chromium will help with certain bugs in Reporting. Creating a new build just to see if bugs are fixed is a big ask.

[2021-02-24 22:37] Zacqary opened #92728 "[Fleet] Enrollment key kuery seems to parse ANDs as ORs when using Fleet Server"
Note the following screenshot, with the search query `name:"should match nothing" and policy_id:{a valid policy ID}`:

<img width="1225" alt="Screen Shot 2021-02-24 at 4 35 14 PM" src="https://user-images.githubusercontent.com/1445834/109075144-5bbe6400-76be-11eb-8b29-203bb56dd512.png">

This should return no results, but when using Fleet Server, it returns keys matching the `policy_id`

Using the

[2021-02-24 22:37] elasticmachine commented on #92728
Pinging @elastic/fleet (Feature:Fleet)

[2021-02-24 22:37] elasticmachine commented on #92728
Pinging @elastic/fleet (Team:Fleet)

[2021-02-24 22:39] kindsun opened #92729 "[Maps] Tooltip loses pages on refresh"
When auto-refresh is enabled, tooltips don't always repopulate with pages for all underlying documents as expected. I was unable to reproduce this behavior locally with static data, however I've experienced similar behavior on dynamic data as captured in https://github.com/elastic/kibana/issues/78420.

See original discuss issue identifying the issue [here](https://discuss.elastic.co/t/tooltip-on-

[2021-02-24 22:39] elasticmachine commented on #92729
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 22:42] Zacqary commented on #92728
Manually changing the `and` to `AND` fixes this.

Seems this is actually a bug with the kuery bar's autocomplete functionality.

[2021-02-24 22:58] yctercero opened #92732 "[Security Solution] - Threshold rule preview not taking group fields into account"
**Describe the bug:**
On rule creation or edit of a threshold rule, preview is only displaying results that take into account the primary query alone, not any of the threshold values.

**Kibana/Elasticsearch Stack version:**
7.12, 7.11 (seems to work on 7.10)

**Steps to reproduce:**

1. Go to detection engine rule creation flow
2. Select to create threshold rule
3. Add a threshold field and value

[2021-02-24 22:58] elasticmachine commented on #92732
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-24 23:01] #86915 closed

[2021-02-24 23:22] cjcenizal commented on #92703
Hi @EthanStrider! We offer an Index Management UI as part of our default distribution (https://www.elastic.co/guide/en/elasticsearch/reference/7.11/index-mgmt.html). You can find it under Stack Management -> Index Management. Does this address your needs?

[2021-02-24 23:31] TinaHeiligers commented on #57502
I agree that we'll need to split up our documentation somehow and your suggestions are a great start!
Fortunately, docs can be updated at any time so we can iterate as we go.
I'll start working on this and we can go from there.

[2021-02-24 23:35] mattkime opened #92737 "Define and implement how runtime fields are exposed"
Customers need to understand when they're working with runtime fields so they can account for their performance implications. There are also different kinds of runtime fields that need to be identified appropriately.

Solution is TBD

[2021-02-24 23:38] elasticmachine commented on #92737
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:39] mattkime commented on #92737
First attempt at addressing the index pattern field list - https://github.com/elastic/kibana/pull/91273

[2021-02-24 23:43] elasticmachine commented on #91712
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:43] elasticmachine commented on #90274
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:45] elasticmachine commented on #89468
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:47] elasticmachine commented on #68718
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:47] elasticmachine commented on #91807
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:47] elasticmachine commented on #91309
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:48] tsullivan commented on #91308
duplicate of https://github.com/elastic/kibana/issues/91309

[2021-02-24 23:48] #91308 closed

[2021-02-24 23:49] elasticmachine commented on #89201
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:50] aaronjcaldwell opened #92739 "[Maps] EMS Basemap doesn't show a value in the select dropdown when selected"
Under `Add layer` > `EMS Basemaps`, selecting a basemap via the dropdown doesn't show a value when selected. Functionally it appears to work fine, as in it is actually selected and adding and modifying the layer works as expected.

![image](https://user-images.githubusercontent.com/1728976/109081893-ff187480-76d0-11eb-8ac7-550a25a3d5fe.png)

[2021-02-24 23:50] elasticmachine commented on #92739
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-24 23:52] aaronjcaldwell commented on #92739
Dupe of https://github.com/elastic/kibana/issues/92659

[2021-02-24 23:52] #92739 closed

[2021-02-24 23:58] elasticmachine commented on #89657
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:58] elasticmachine commented on #89656
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:59] elasticmachine commented on #89555
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:59] elasticmachine commented on #89518
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:59] elasticmachine commented on #89466
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:59] elasticmachine commented on #89369
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-24 23:59] elasticmachine commented on #89200
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:00] elasticmachine commented on #89199
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:00] elasticmachine commented on #89198
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:00] elasticmachine commented on #89197
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:00] elasticmachine commented on #89195
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:00] elasticmachine commented on #89196
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:01] elasticmachine commented on #89194
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:01] elasticmachine commented on #81079
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:01] elasticmachine commented on #76240
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:01] elasticmachine commented on #71822
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:01] elasticmachine commented on #63800
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:02] elasticmachine commented on #37835
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:02] elasticmachine commented on #37481
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:02] elasticmachine commented on #92712
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 00:04] elasticmachine commented on #30495
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:04] elasticmachine commented on #60564
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:05] elasticmachine commented on #18206
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #34181
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #37481
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #43977
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #44543
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #81544
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #87717
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #92313
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #18015
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #21691
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #37835
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #63800
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #64170
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #71822
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #78243
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #79375
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #79905
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #81079
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #87573
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89198
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89199
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89200
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89369
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89518
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89656
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89657
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #92485
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89194
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89195
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89196
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:06] elasticmachine commented on #89197
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:08] kindsun opened #92740 "[Maps] TMS allows invalid URL to be added as layer"
Currently there are no checks or validation that a TMS source is valid prior to adding. A user can input a completely erroneous URL and then advance to layer settings with no warning or indication the URL is invalid. This also means that if a URL were to become invalid (like if a server goes down) there would be no indication to the user. Related to https://github.com/elastic/kibana/issues/30588

[2021-02-25 00:08] elasticmachine commented on #92740
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-25 00:09] tsullivan commented on #25572
Fixed with new timeout settings

Closing as stale.

[2021-02-25 00:09] #25572 closed

[2021-02-25 00:09] hbharding commented on #91906
re: disabling actions, Jason is spot on, "users would not have any context about why it is disabled"; however, showing them as available actions which **we know** will lead to API errors is not a good UX. It's one that could frustrate our users. It would be much better to provide descriptions upfront about why an action is unavailable. Many of these actions appear in context menus, and [EUI has an

[2021-02-25 00:14] aaronjcaldwell opened #92741 "[Maps] Fit to data doesn't work in TMS"
Fit to data doesn't currently do anything in TMS. It's not entirely clear if this should be an option for this layer type. We should consider graying it out, removing it, or if it is supposed to do something, connecting that logic.

![image](https://user-images.githubusercontent.com/1728976/109083634-45230780-76d4-11eb-8efa-699ff2502b12.png)

To reproduce:

1. Go to `Add layer`  > `Tile map servic

[2021-02-25 00:14] elasticmachine commented on #92741
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-25 00:14] tsullivan commented on #34181
Closing for https://github.com/elastic/kibana/issues/19914

[2021-02-25 00:14] #34181 closed

[2021-02-25 00:16] aaronjcaldwell commented on #92741
Related to https://github.com/elastic/kibana/issues/70146

[2021-02-25 00:23] tsullivan commented on #17878
Closing for https://github.com/elastic/kibana/issues/81544

[2021-02-25 00:23] #17878 closed

[2021-02-25 00:24] tsullivan commented on #38277
+1

[2021-02-25 00:31] tsullivan commented on #20091
closing for https://github.com/elastic/kibana/issues/89659

[2021-02-25 00:31] #20091 closed

[2021-02-25 00:32] tsullivan commented on #30583
Closing for https://github.com/elastic/kibana/issues/18112

[2021-02-25 00:32] #30583 closed

[2021-02-25 00:38] tsullivan commented on #64170
Hi, can you check to see if the Advanced Settings has `csv:quoteValues` enabled?

[2021-02-25 00:40] tsullivan commented on #21486
The threshold has been lowered in https://github.com/elastic/kibana/pull/87600 so that the percentage of difference should be lower than 0.09

[2021-02-25 00:40] #21486 closed

[2021-02-25 00:43] elasticmachine commented on #89659
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 00:44] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/41/)

[2021-02-25 00:48] rfliam commented on #92729
Hi,

I have a precise repo on this:

- Click on an item displaying on the map to show the tooltip
- Click refresh on the map
- Click the arrow for the paginated data
- The tooltip is now empty and won't load

I'm fairly sure the reason is as follows:

When querying for additional details to populate the tooltip with kibana send a query like so:
[code]

which is referencing the id of the previously

[2021-02-25 00:49] spalger commented on #85208
Hasn't failed in the last week on PRs, and all of these failures are in 7.x/7.12, so maybe this is something that has been fixed in master but there is a missing backport?

![image](https://user-images.githubusercontent.com/1329312/109086309-94633b00-76c8-11eb-8bc7-bb8f0b731101.png)

[2021-02-25 01:02] YulNaumenko commented on #88912
Closing this issue in favor of the upcoming alerting changes 'Alerts as a data', which can bring the more sufficient approach.

[2021-02-25 01:03] #88912 closed

[2021-02-25 01:49] ThomThomson opened #92745 "Reload on New Dashboard Shows Unsaved Panels in View Mode"
**Kibana version:** 7.12

**Describe the bug:**
Refreshing the browser while in view mode on a new dashboard with unsaved changes will show the changes in view mode.

Due to a the default view mode for new dashboards (edit) temporarily overriding the view mode which is in the URL (view), the unsaved panels can become visible in view mode.

![Show in view mode](https://user-images.githubusercontent

[2021-02-25 01:49] elasticmachine commented on #92745
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 02:04] XavierM commented on #92384
Hey @karanbirsingh-qasource, it looks like that you did not update the timeline sourcerer and that's why the error is there. I can see the `All data sources` close to the `updating button`. Can you please give another shot?

[2021-02-25 02:16] geekpete commented on #16912
@chrisronline Though all the referenced issues in your last comment are now closed, it seems in 7.11.1 we still don't warn of the full impact of deleting an object:

![2021-02-25_11-48](https://user-images.githubusercontent.com/2070843/109091011-b2c84580-775f-11eb-9dca-ac24aebb1c50.png)

and

![2021-02-25_11-49](https://user-images.githubusercontent.com/2070843/109091019-b6f46300-775f-11eb-8345-53

[2021-02-25 02:25] jgr commented on #92558
@azasypkin I'm still confirming a few things, but overall this looks great! It should satisfy the need we have.

This makes sense to me. I'm working now to only send what we need for the current OAuth flow, rather than the entire session. I can figure out the size of the maximum payload we'll be storing, if you're curious. I'm currently encrypting/decrypting it on the Enterprise Search side.

We s

[2021-02-25 02:43] #92569 closed

[2021-02-25 03:38] mattkime opened #92753 "Ensure Kibana Apps gracefully handle index pattern field changes and removal"
Mappings and field lists change and we need to make sure that Kibana handles this gracefully. Field lists are expected to change more frequently with the introduction of runtime fields. Runtime fields may be removed or their types may change, either of which may be disruptive to code that assumes their presence is unchanged.

We should ensure that when a field changes or is missing that the UI rem

[2021-02-25 03:45] mattkime opened #92754 "Index pattern field editor - add sample plugin"
Create sample plugin to provide simple example solution teams can use to integrate the index pattern field editor

[2021-02-25 03:57] mattkime opened #92755 "[discuss] What if index patterns didn't load the whole field list but used pagination?"
Index patterns with a large number of fields can cause performance problems in Kibana because we load the whole field list. We could eliminate this problem if we worked partial or paginate field lists, perhaps grabbing a thousand fields at a time. Its not really possible to look at a thousand fields all at once anyway. In addition to pagination, we'd want a simple way to query the fields we want,

[2021-02-25 04:23] rashmivkulkarni commented on #74118
In the dropdown- there is painless and expression language. I do see it on master. Was able to pull down `expression` and create a script.
<img width="1176" alt="Screen Shot 2021-02-24 at 8 15 34 PM" src="https://user-images.githubusercontent.com/11466284/109102229-40168600-76dd-11eb-9efc-f14b1bbdcea4.png">

[2021-02-25 04:55] kibanamachine commented on #91939
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12155/)

[2021-02-25 06:31] georgewitteman commented on #82208
What do you users say is confusing about this?

[2021-02-25 07:20] #89803 closed

[2021-02-25 07:50] karanbirsingh-qasource commented on #92384
Hi @XavierM for specifying the Data Source location specific to timeline to be done.

We Clicked on the "All data source" button on timeline area and changed to custom and selected only audit beat index , but the issue is **still occurring**. On Clicking the refresh button , the error prompt is thrown.

Please find below complete observation:

**Build Details:**
[code]
### Snapshot:

![image](http