[2021-07-01 07:42] #103445 closed

[2021-07-01 07:52] karanbirsingh-qasource commented on #102484
Thanks @spong for sharing this back end correct data type being set for severity field , we have documented this information in the severity test-case for future reference.

update 01 test-case:
[Validate that Severity overide apply correclty on Alert](https://elastic.testrail.io/index.php?/cases/view/18045)

[2021-07-01 07:58] YulNaumenko commented on #100764
Yes, current issue should cover a case where we're receiving false not found errors and deleting the tasks where we shouldn't.
We have a proposal to fix it in two ways:
- by retrying getting/updating the alert SO a few times, where we are only trying once now. This could solve for us some socket hang up, ECONNRESET issues and delays occurred during the migrations, ES | Kibana restarted, etc.
- by

[2021-07-01 08:22] karanbirsingh-qasource opened #104049 "[Security Solution]Global search navigation not working on new security navigation"
**Describe the bug**
Gloabal search navigation not working on new security navigation

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Login to Kibana.
2.Search for Security in gloabl search bar.
3.Try clicking on any one link from bellow listed:
Secu

[2021-07-01 08:22] elasticmachine commented on #104049
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 08:25] elasticmachine commented on #104049
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-01 08:30] elasticmachine commented on #103949
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-01 08:32] watson commented on #29670
I've gotten this error randomly in the `6.8` branch for the past days in a few different PRs, here's an example: https://github.com/elastic/kibana/pull/102226 (Jenkins build example failures: [135495](https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/135495/), [135112](https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/135112/))

[2021-07-01 08:35] manishgupta-qasource commented on #104049
Reviewed this ticket

[2021-07-01 08:43] estermv opened #104051 "[Monitoring] Open modal when user selects "Create default rules""
### Summary

This issue is a follow up of #101565 to discuss the following feedback point from @katefarrar:
If a user click "Create default rules" from the "Alerts and rules" dropdown they don't receive any type of confirmation until there is a toast notification, which doesn't happen right away. Instead could the default rules modal pop up again and require them to select "Yes" so it's clear they

[2021-07-01 08:45] elasticmachine commented on #104051
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-01 08:45] elasticmachine commented on #104051
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 08:47] estermv opened #104052 "[Monitoring] Add "Manage rules" option to "Alerts and rules" dropdown"
### Summary
This issue is a follow up of #101565 to discuss the following feedback point from @katefarrar:

Can we add the "Manage rules" link that goes to app/management/insightsAndAlerting/triggersActions/rules to the "Alerts and rules" dropdown (same functionality the other Observability apps):
<img width="314" alt="Screen Shot 2021-06-28 at 1 20 42 PM" src="https://user-images.githubuserconten

[2021-07-01 08:48] #103342 closed

[2021-07-01 08:48] cnasikas opened #104053 "[Cases] Breadcrumb title is not updated when renaming case"
When you rename a case in the single case view the breadcrumb title is not updated accordingly.

**Steps to reproduce:**

https://user-images.githubusercontent.com/7871006/124094930-e692df00-da61-11eb-8be8-edf29d725e8c.mp4

[2021-07-01 08:49] elasticmachine commented on #104053
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 08:49] elasticmachine commented on #104053
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-01 08:50] elasticmachine commented on #104052
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 08:50] elasticmachine commented on #104052
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-01 08:50] MadameSheema commented on #104053
@karanbirsingh-qasource please take this into account when performing your testing, thanks :)

[2021-07-01 08:53] karanbirsingh-qasource commented on #104053
ok @MadameSheema

[2021-07-01 08:54] karanbirsingh-qasource opened #104055 "[Security Solution]Fix Alignment for Tags drop-down field with zero count"
**Describe the bug**
Fix Alignment for Tags drop-down field with zero count

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Go to Alert > Manage Detection alerts.
3.Don't select any entry from tags field.
4.Observed that tag fie

[2021-07-01 08:54] elasticmachine commented on #104055
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 08:58] manishgupta-qasource commented on #104055
Reviewed & Assigned to @MadameSheema

[2021-07-01 09:03] karanbirsingh-qasource opened #104056 "[Security Solution]Expanding Host Event panel expands the side Network Panel"
**Describe the bug**
Expanding Host Event panel expands the side Network Panel

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.
3.Aduitbeat should be isntalled.

**Steps to Reproduce**
1.Go to Security App > Overview Page.
2.Scroll down and find host events panel.
3.Expand aud

[2021-07-01 09:03] elasticmachine commented on #104056
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 09:04] manishgupta-qasource commented on #104056
Reviewed & Assigned to @MadameSheema

[2021-07-01 09:08] elasticmachine commented on #104055
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-01 09:15] flash1293 opened #104060 "[Lens] Cache field existence requests"
Thanks to the client side request cache which is part of the search service, requests for main chart and suggestions are cached when going back and forth between Lens and Dashboard.

However before Lens becomes usable, the field list has to render which blocks on the field existence request. This request is often pretty fast, but depending on the system it can take up to 5 seconds which can be a s

[2021-07-01 09:15] elasticmachine commented on #104060
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 09:16] flash1293 commented on #104060
Related to https://github.com/elastic/kibana/issues/74493

[2021-07-01 09:20] lizozom commented on #84788
https://github.com/elastic/kibana/pull/103530 should split out the whole `es_query` folder into a package.

[2021-07-01 09:24] afgomez commented on #100031
A small update.

Looking at the kibana logs, the error comes from a call to `/agent/{id}/reassign`

[code]

In [the test log](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/500/pipeline/) we can see the endpoint being called twice:

[code]

My guess is that this two calls are causing a race condition making the test fail.

I'm going to dig on the

[2021-07-01 09:27] gmmorris commented on #85888
@arisonl @mikecote
Can we expand on this issue?
I'm assuming this is the error attached to the execution status of a rule?

This feels too broad and makes it hard to figure out where this issue might fit, in terms of priority and projects.

[2021-07-01 09:29] elasticmachine commented on #104056
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-01 09:32] simitt opened #104061 "[discuss][APM][Fleet] define attributes for custom policy editor"
The custom policy groups apmpackage variables, conditional requirements (if TLS enabled, require a cert key, ..). For the ESS/ECE policies that are created via the migration, a couple of fields should be set to frozen.

This information either requires some package specific knowledge in the APM UI, or the information is specified directly on the package.
Sync with other teams to figure out how the

[2021-07-01 09:34] #102323 closed

[2021-07-01 09:39] timroes commented on #62903
This seems to be fixed in recent versions when using fields OR _source. I assume our larger changes to the querying infrastructure happened to fix that also for reading fields from _source. Thus closing this.

[2021-07-01 09:39] #62903 closed

[2021-07-01 09:42] timroes commented on #9805
Since we're no longer trying to encourage usage of unmapped fields (and will disable it completely in the future), and the index pattern cache is gone and fresh field information is always fetched, I'd consider this issue to be no longer relevant, and closing it thus.

[2021-07-01 09:42] #9805 closed

[2021-07-01 09:46] elasticmachine commented on #53840
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-01 09:47] thomheymann commented on #92424
Hi @kasimogl ,

Can you confirm what your setup is? From your description I have gathered the following but am not sure if that's correct:

**User Browser**
↓
**Kibana** (security is disabled automatically since this feature is disabled in Elasticsearch)
↓
**Authenticating Proxy**
↓
**Elasticsearch** (security is disabled)

This setup wouldn't be something we explicitly support - Kibana doesn't pr

[2021-07-01 09:49] #100733 closed

[2021-07-01 09:49] timroes commented on #69232
This has been closed in Elasticsearch in 7.10.0 and now works fine (revalidated the behavior in Kibana).

[2021-07-01 09:49] #69232 closed

[2021-07-01 09:57] dej611 opened #104067 "[Lens][Embeddable] Multiple rerender on initialization leads to no chart shown"
**Describe the bug:**

On initialization Lens is not cancelling requests or its internal state in case of rerender, leading to issues as #103516 . While this is fixable on the consumer side, the Lens embeddable should cleanup correctly itself when a rerender is requested, with no breaking behaviour.

[2021-07-01 09:59] joshdover commented on #89584
@kobelb @stacey-gammon Are we still comfortable moving forward with this?

[2021-07-01 10:01] azasypkin opened #104068 "Interactive setup mode server-side functionality"
## Summary

In the scope of this issue we're going to implement server-side functionality that's absolutely necessary for the initial phase of the interactive setup mode provided by the `userSetup` plugin:

- [x] :heavy_check_mark: @azasypkin Add `userSetup` plugin skeleton. (https://github.com/elastic/kibana/pull/101610)
- [x] :heavy_check_mark: @thomheymann / @azasypkin - Functionality to detect

[2021-07-01 10:01] thomasneirynck opened #104069 "[Maps] Create layers from index-patterns with lon-lat fields"
**Describe the feature:**

Users can add Elasticsearch data as a layer to Maps, even if they do not have geo_point fields, but instead have an x and y field.

The geo_point field can be created on the fly using the `geo_point` runtime field.

**Describe a specific use case for the feature:**

This will reduce time-2-visualize and remove some of the complexity of setting up an index-pattern so it c

[2021-07-01 10:02] joshdover commented on #99072
@Bamieh can we close this issue?

[2021-07-01 10:07] karanbirsingh-qasource opened #104071 "[Security Solution]Timeline Not able to open in Full screen if alert details is opened"
**Describe the bug**
Timeline Not able to open in Full screen if alert details is opened

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Audit beat should be installed.

**Steps to Reproduce**
1.Go to Security App > Alerts.
2.Click on more details for any of the detection alert by clicking > icon against the rule.

[2021-07-01 10:07] stratoula commented on #84509
As we are getting close to 7.16 we need to discuss if we want to address the UI/UX problems of multiple grids. They don't render and resize very well.
For example:
![image](https://user-images.githubusercontent.com/17003240/124106445-e2b88a00-da6c-11eb-92df-23204c6e5687.png)

For example, this big white gap between two tables looks pretty bad.

On the other hand, Lens solves this problem in a much

[2021-07-01 10:10] thomasneirynck opened #104072 "[Maps] Add open-in-maps button to embeddable"
**Describe the feature:**

The embeddable should be able to display an "open-in-maps" button. This can be either opt-in/opt-out for clients of the embeddable (ideally, default is "on").

**Describe a specific use case for the feature:**

A user who is looking at a map in SIEM, APM, ML, (and in the future Lens, Discover, ...) can easily
"bounce-out" and explore the data.

This will also provide a t

[2021-07-01 10:11] thomasneirynck opened #104073 "[Maps] Add open-in-Discover link to source-details"
**Describe the feature:**

Add an open-in-discover link for layers backed by an index-pattern.

**Describe a specific use case for the feature:**

This is similar to the "view-in-discover" link in the data-visualiser.

[2021-07-01 10:19] estermv commented on #104052
There has been some discussion about what this option should do in https://github.com/elastic/kibana/issues/100133:
- https://github.com/elastic/kibana/issues/100133#issuecomment-857954852
- https://github.com/elastic/kibana/issues/100133#issuecomment-858065835
- https://github.com/elastic/kibana/issues/100133#issuecomment-858119425

[2021-07-01 10:28] mtojek commented on #100031
We discussed it offline with @afgomez and got following conclusions:

1. Two calls to `/reassign` are caused by a bug in elastic-package. Potentially it's fixed with: https://github.com/elastic/elastic-package/commit/7ca3684a19090de1407b4f90c8fbc7bd8d61ba58 .
2. The second call is an outcome of the first one - the first request ended up with HTTP 500, the second one with HTTP 200 (confirmed with l

[2021-07-01 10:31] weltenwort commented on #102089
Currently every plugin registering assets (such as index templates) needs to ensure they're specifying the correct names, so it's hard to assign this to a specific team. Maybe a validation in the `rule_registry` could provide a safety net?

[2021-07-01 10:36] droberts195 commented on #104042
This will be the same problem as https://github.com/elastic/elasticsearch/issues/74810.  It should be fixed by elastic/elasticsearch#74814.

Given the increased prominence of file upload in 7.14 I think we should consider this a blocker for 7.14.0.  It wouldn't look good to put a feature centre-stage in the add-data workflow, shout about it in the release blog, and then have it repeatedly time out

[2021-07-01 10:40] #100539 closed

[2021-07-01 10:41] deepikakeshav-qasource opened #104077 "[Security Solution] UI of "View source dashboard" is not properly aligned under threat intel Overview"
**Description**
UI of "View source dashboard" is not properly aligned under threat intel Overview

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Filebeat should be enable.
3. Threat intel should be enabled
4. Dashboard should be enabled

**Steps to Reproduce:**
1. Navigate to overview tab of security.
2. Scroll down and go to the thr

[2021-07-01 10:41] deepikakeshav-qasource commented on #104077
@manishgupta-qasource Please review!!

[2021-07-01 10:43] manishgupta-qasource commented on #104077
Reviewed & assigned @MadameSheema

[2021-07-01 10:48] elasticmachine commented on #104067
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 10:52] elasticmachine commented on #104068
Pinging @elastic/kibana-security (Team:Security)

[2021-07-01 10:54] elasticmachine commented on #104071
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 10:55] elasticmachine commented on #104069
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 11:00] elasticmachine commented on #104072
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 11:02] elasticmachine commented on #102760
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-01 11:02] elasticmachine commented on #104073
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 11:06] karanbirsingh-qasource opened #104078 "[Security Solution]Administration is present there in URL in new navigation for Endpoints, trusted applications and Event Filters"
**Describe the bug**
Administration is present there in URL in new navigation for Endpoints, trusted applications and Event Filters

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Audit beat should be installed.

**Steps to Reproduce**
1.Go to Security App > Manage.
2.Click on Endpoints.
3.Observe that in URL admi

[2021-07-01 11:07] liza-mae opened #104079 "Stack Management -> Index Management page throws internal server error"
**Kibana version**: 7.14.0-SNAPSHOT

**Elasticsearch version**: 7.14.0-SNAPSHOT

**Server OS version**: Ubuntu

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Snaphots

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Navigate to Stack Management -> Index Management -> Indices
 2. O

[2021-07-01 11:10] manishgupta-qasource commented on #104078
Reviewed and assigned to @MadameSheema

[2021-07-01 11:12] weltenwort commented on #101016
The plan makes sense to me. I'm absolutely in favor of a declarative asset/template API, which takes care of the "technical fields". Automatic type derivation sounds nice but a bit of duplication (mapping and io-ts type, for example) might be acceptable to unblock the follow-up efforts sooner IMO.

[2021-07-01 11:15] elasticmachine commented on #104077
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 11:15] elasticmachine commented on #104079
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-01 11:24] elasticmachine commented on #104078
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 11:31] pgayvallet opened #104080 "[SO Migration] increasing performance by getting rid of the temporary index"
Given that
- we had to implement a client-side reindex for id rewrite in #97222
- we no longer allow unknown types (e.g coming from disabled or uninstalled plugins) since #101351
- we’re going to get rid of the outdated document migration in the target index  #103731

I think we don’t have any more reason to use a temporary index between the source and the target. We need some further investigatio

[2021-07-01 11:35] pgayvallet opened #104081 "Improve migrations performance by using distinct indices per SO type"
This is a follow-up on [https://elasticco.atlassian.net/browse/KBNA-7838|https://elasticco.atlassian.net/browse/KBNA-7838|smart-link]

In this phase we propose to split some saved object types out of the `.kibana` index into separate indices

[https://github.com/elastic/kibana/issues/104081|https://github.com/elastic/kibana/issues/104081|smart-link]
While prior work can reduce downtime for some up

[2021-07-01 11:35] elasticmachine commented on #104081
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 11:41] pgayvallet opened #104083 "[SO Migration] meta list of the possible improvements by area"
(WIP)

This is a meta issue to track all the possible improvements for the SO migration, by area

### Addressing the causes of the migration failures

### Minimizing downtime in case of transform failures

- Dry-run migration https://github.com/elastic/kibana/issues/55404
- Interactive migration https://github.com/elastic/kibana/issues/100685
- Quarantine mode https://github.com/elastic/kibana/iss

[2021-07-01 11:41] elasticmachine commented on #104083
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 11:46] #103859 closed

[2021-07-01 11:51] jloleysens commented on #101438
Hey @cjcenizal, thanks for opening this !

For Reporting, we'd like to provision an ILM policy for users to manage the lifecycle of reports (i.e., a Kibana provisioned policy). The idea being: we send users to edit this policy from within reporting to manage their reports' lifecycle.

Translating to the UX described here this sounds like a policy that does not belong in the "managed policies" tab,

[2021-07-01 11:56] pgayvallet opened #104086 "[SO Migration] improve the resilience of the algorithm"
Even if the migration v2 algorithm is very resilient to connectivity issues and timeouts by nature, if the cluster is totally unresponsive, or under heavy load causing all the retry attempts to fail, the migration will result in a failure.

Also, we recently discovered that some unexpected error coming from the client (such as `[undefined]: Response Error`) can instantly cause the migration to fai

[2021-07-01 11:56] elasticmachine commented on #104086
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 12:09] kevinlog opened #104087 "[Security Solution] Handle when Endpoints are unenrolled or not found when fetching Alert details"
**Describe the bug:**
When an Agent/Endpoint has been unenrolled or removed from the server, there can still be Alert records for that Endpoint.  In this case, we should revisit what we show in the UI.

Currently, there are some error toasts that show:

![image](https://user-images.githubusercontent.com/56395104/124121177-922c3700-da42-11eb-81c8-ce7ae844348e.png)

On the first API call, where we d

[2021-07-01 12:09] elasticmachine commented on #104087
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-01 12:09] elasticmachine commented on #104087
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 12:09] kevinlog commented on #104087
OLM team will talk about how we should handle this Case in the UI in `7.14`

[2021-07-01 12:20] pgayvallet opened #104088 "[Saved Objects] introduce per-type validation schemas."
It is currently trivial to create saved objects containing invalid or corrupted data. You simply have to create (or update an existing) object with data that doesn't match the expected shape. We're currently not doing anything to protect against that.

This is dangerous because potential developer errors can lead to data being corrupted. Even worse, as the SO apis are documented, even end users ca

[2021-07-01 12:20] elasticmachine commented on #104088
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 12:20] elasticmachine commented on #104088
Pinging @elastic/apm-ui (Team:apm)

[2021-07-01 12:28] deepikakeshav-qasource opened #104089 "[Security Solution] View Dashboard button is disable under threat intel overview card when click on edit and save button on [Filebeat Threat Intel] Dashboard page."
**Description**
View Dashboard button is disable under threat intel overview card after clicking on edit and save button on [Filebeat Threat Intel] Dashboard page.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Filebeat should be enable.
3. Threat intel should be enabled
4. Dashboard should be enabled

**Steps to Reproduce:**
1. Navi

[2021-07-01 12:28] elasticmachine commented on #104089
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 12:28] deepikakeshav-qasource commented on #104089
@manishgupta-qasource Please review!!

[2021-07-01 12:29] Bamieh opened #104090 "[Localization] Create i18n Markdown component"
## Summary

Recently we've started supporting markdown syntax to be parsed and translated correctly for i18n. This user story suggests having a `Markdown` component to help our i18n tools to detect markdown labels.

## Impact and Concerns

At the moment we ask developers to postfix their markdown message ids with `.markdown` to enable translators to identify and parse the markdown messages correct

[2021-07-01 12:29] elasticmachine commented on #104090
Pinging @elastic/kibana-localization (Team:Localization)

[2021-07-01 12:29] elasticmachine commented on #104090
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 12:30] manishgupta-qasource commented on #104089
Reviewed & Assigned to @MadameSheema

[2021-07-01 12:31] elasticmachine commented on #104089
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-01 12:32] MadameSheema commented on #104089
@ecezalp @rylnd can you please take a look at this?

[2021-07-01 12:33] elasticmachine commented on #104077
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-01 12:33] MadameSheema commented on #104077
@ecezalp @rylnd can you please take a look at this? thanks

[2021-07-01 12:34] elasticmachine commented on #104078
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-01 12:34] MadameSheema commented on #104078
@semd can you please take a look at this?

[2021-07-01 12:39] #91879 closed

[2021-07-01 12:40] kevinlog commented on #104078
I believe this one is expected right now.  We can fix this and set up redirects in a subsequent release.  Let me know what you're understanding is @semd @dasansol92

[2021-07-01 12:44] paul-tavares commented on #104078
Correct - this is expected. When we renamed the `Administration` section to `Management`, we did not change the URL.

[2021-07-01 12:44] kasimogl commented on #92424
Hello,

Yes this setup is more or less correct, yet it is not only the browser but the curl attempt on given endpoints yield the same results. It is also true that we already use the Basic (free and open) license, therefore the security features that come along with it.
And i think Kibana does proxy authentication headers from Elastic, because I know that access to /status page returns with www-au

[2021-07-01 12:47] dasansol92 commented on #104078
Yes, as far as I know this is expected for 7.14 and will be changed on next releases.

[2021-07-01 12:49] elasticmachine commented on #104078
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-01 12:50] kevinlog commented on #104078
Thanks @paul-tavares @dasansol92 , I added it to our backlog.

[2021-07-01 12:55] katefarrar opened #104093 "[Metrics UI] Inventory - move Saved Views to Page Header"
In order to utilize the new EUI Page Layouts, Saved Views is going to be styled as a button and moved to the [Page Header](https://elastic.github.io/eui/#/layout/page-header) and aligned to the right. This will free up screen real estate and also clarify to users that Saved Views are a global change across the Inventory page. Functionality for the Saved Views will stay the same with a context menu

[2021-07-01 12:55] elasticmachine commented on #104093
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 12:56] jloleysens commented on #103343
Hey @tsullivan ! Is the "validation in the Cloud management portal" something we can address from Kibana side? Apologies, I might be missing something!

[2021-07-01 12:57] katefarrar opened #104094 "[Metrics UI] Inventory - update color controls and move legend and history to the right side"
![Kapture 2021-08-13 at 11 46 51](https://user-images.githubusercontent.com/455281/129392619-b7244a25-6dbc-4d99-a000-7fd0bd0296b1.gif)

### [Figma Prototype](https://www.figma.com/proto/WqgL3hHRktHc2BBSk61kuF/7.16-Inventory-UI-Enhancements?page-id=39%3A112532&node-id=39%3A112534&viewport=401%2C48%2C0.22&scaling=scale-down&starting-point-node-id=39%3A112534)

- [x] Add waffle map color controls but

[2021-07-01 12:57] elasticmachine commented on #104094
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 13:00] katefarrar opened #104095 "[Metrics UI] Inventory - move Show history button to the bottom right and update styling"
In order to utilize the new EUI Page Layouts and the Side Navigation, the "Show history" button will be moved to the bottom right of the page and the icon will be updated to indicate the hide / show functionality. "Hide history" button will be moved inside the chart / bottom container and the chart legend will be pushed to the left.

<img width="1211" alt="Screen Shot 2021-07-22 at 2 13 24 PM" src

[2021-07-01 13:00] elasticmachine commented on #104095
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 13:01] katefarrar commented on #102187
Created three issues to address the new layout updates:
https://github.com/elastic/kibana/issues/104093
https://github.com/elastic/kibana/issues/104094
https://github.com/elastic/kibana/issues/104095

[2021-07-01 13:02] kertal commented on #94330
it should be, will check

[2021-07-01 13:16] dasansol92 commented on #102607
Hey @muskangulati-qasource , just a friendly reminder that this needs to be tested in 7.13.3 too.
I've reopened the issue,
thanks! 🙂

[2021-07-01 13:18] kasimogl commented on #92424
@thomheymann
The following workaround provided previously helped:

- Add following setting into kibana config:
server.customResponseHeaders.www-authenticate: "Basic realm=\"security\" charset=\"UTF-8\""
- Restart Kibana

Now the client is always challenged with www-authenticate header upon first access to kibana.

[2021-07-01 13:18] thomasneirynck opened #104097 "[Maps] Remove redundant `categories` from field-meta type"
the category-field-meta typing in maps duplicates the `categories` key.

e,.g.:

[code]

this yields field-meta like `{ geo.dest: {categories: categories: [...]}}`

[2021-07-01 13:18] elasticmachine commented on #104097
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 13:25] jguay opened #104098 "Add AWS SNS connector for alerting actions"
**Describe the feature:**
Add support for Amazon SNS connector to use for alerting actions
**Describe a specific use case for the feature:**
Currently AWS SNS is not supported connector per [doc](https://www.elastic.co/guide/en/kibana/7.13/action-types.html#action-types), request is for adding a connector

[2021-07-01 13:43] semd commented on #104078
Yes, this is the expected behavior, we talked about doing it but we couldn't do it for FF.
If I can help with that, just let me know. Thanks!

[2021-07-01 13:46] simitt commented on #104061
It turns out that as soon as a custom package UI is implemented, the variables are no longer defined in the package spec but directly in Kibana.

[2021-07-01 13:52] #103661 closed

[2021-07-01 13:52] pgayvallet opened #104100 "[SO Migration] find a review and validation process for registered migration functions"
If the migration system itself can now be considered pretty resilient against failures, it’s still as fragile as the old implementation regarding errors thrown from migration functions registered by the type owners.

If a migration function is buggy, or does not properly handle some edge case resulting in an error being thrown, it will result in the whole migration process failing.

I don’t think

[2021-07-01 13:52] elasticmachine commented on #104100
Pinging @elastic/kibana-core (Team:Core)

[2021-07-01 13:54] timroes commented on #92595
This has been resolved as of 7.13.0

[2021-07-01 13:54] #92595 closed

[2021-07-01 13:58] #103972 closed

[2021-07-01 14:06] ravikesarwani commented on #104051
Do we know how long does it take to create the default rules?
I was thinking if bringing the modal again is really a good option or some kind of "processing" dialog is really a way to go.
In this case user really clicked on the menu to create the default rules and asking them again via a modal "do you really want to create the rules" doesn't seem like the best user experience.

[2021-07-01 14:18] semd commented on #104078
@kevinlog There is another thing that we couldn't do for 7.14, regarding the Policies page.
As it is shown in the mockup: https://www.figma.com/file/Ovm1NQhZQ0YbzEhp15V5iB/Security-Side-Nav?node-id=64%3A334194
When the user is at the Policy page, the **Endpoints** nav item should be selected. Currently, no nav is selected on that page, because it has its own deepLink (hidden).

We tried moving the

[2021-07-01 14:23] #99682 closed

[2021-07-01 14:35] jen-huang commented on #103777
For awareness, proposal 2 is similar to what we implemented in in Fleet recently, which installs a `@custom` component template for every index template we install: https://github.com/elastic/kibana/pull/101769

The initial UX is a bit clunky as users will need to go into Stack Management and apply their custom settings/mappings/ILM policies, etc. But the idea is that in the future we can iterate

[2021-07-01 14:36] ghudgins commented on #75316
second, somewhat related use case: you're in the cases markdown editor and you want to define a lens vis without having to save an object first but without having to include all of the complete details of the lens json / saved object

[2021-07-01 14:39] #103303 closed

[2021-07-01 14:49] ghudgins commented on #59430
design ask on here: in addition to having the new mode we need to come up with a way to suggest chart configuration changes after we have more data (like field metadata or an imprecise result from elasticsearch)

[2021-07-01 14:49] alvarezmelissa87 commented on #18328
Closing this as the final improvements for future versions are covered in this issue: https://github.com/elastic/kibana/issues/103742

[2021-07-01 14:49] #18328 closed

[2021-07-01 14:52] ghudgins commented on #94918
consider performance warning cases when designing warnings

[2021-07-01 14:56] katefarrar opened #104115 "[APM] Table layouts are broken"
The new EUI page layout including the collapsible side nav is causing the main container to break. We should be changing that layouts to mostly 1 column-based and changing the table to mobile layout at breakpoint `l`

<img width="1104" alt="Screen Shot 2021-07-01 at 8 30 46 AM" src="https://user-images.githubusercontent.com/455281/124145445-0918fe00-da4a-11eb-8a03-77a044aee4d4.png">

Related to ht

[2021-07-01 14:56] elasticmachine commented on #104115
Pinging @elastic/apm-ui (Team:apm)

[2021-07-01 14:57] formgeist commented on #104115
Duplicate of https://github.com/elastic/kibana/issues/103881

[2021-07-01 14:57] #104115 closed

[2021-07-01 15:03] ghudgins commented on #103701
during planning we decided to move forward with `...` in the middle over other solutions options (multi line, wider combobox).

[2021-07-01 15:05] katefarrar opened #104117 "[Metrics UI] Layout broken with new side nav"
The new EUI page layout including the collapsible side nav is causing the main container to break. We should be changing that layouts to mostly 1 column-based and changing the table to mobile layout at breakpoint `l`

<img width="1104" alt="Screen Shot 2021-07-01 at 8 22 47 AM" src="https://user-images.githubusercontent.com/455281/124146790-59449000-da4b-11eb-9703-a8525913b175.png">

Related to: h

[2021-07-01 15:07] katefarrar opened #104118 "[Logs UI] Stream - top controls broken with new side nav"
The new EUI page layout and side nav is causing issues with the Logs page layout. The controls (search bar, customize, etc.) should all be wrapping so that they stack as the browser resizes instead of staying a fixed width. I believe the issues start at the `l` breakpoint.

<img width="1104" alt="Screen Shot 2021-07-01 at 8 28 12 AM" src="https://user-images.githubusercontent.com/455281/124147141-

[2021-07-01 15:07] elasticmachine commented on #104118
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 15:10] katefarrar opened #104119 "[Metrics UI] Overview page Metrics section layout broken by side nav"
The Metrics section on the Overview page is broken. Not sure if this is being caused by the new side nav or just a continued issue.

![image](https://user-images.githubusercontent.com/455281/124147559-0919fd80-da4c-11eb-9912-ca2dacc086d5.png)

Related to: https://github.com/elastic/observability-design/issues/71

[2021-07-01 15:10] elasticmachine commented on #104119
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-01 15:13] katefarrar opened #104121 "[Observability Overview] Overview page layout is broken with new side nav"
The new EUI page layout including the collapsible side nav is causing the main container to break.

We need to move to a single column layout.

![image](https://user-images.githubusercontent.com/455281/124147927-6615b380-da4c-11eb-87ff-140c16cc5014.png)

Related to: https://github.com/elastic/observability-design/issues/71

[2021-07-01 15:27] #96688 closed

[2021-07-01 15:29] lukeelmers opened #104124 "[Breaking][core.metrics] Remove `process` field from ops metrics & /stats API"
Part of #68626
Blocked by https://github.com/elastic/kibana/issues/104031

### Summary
Once https://github.com/elastic/kibana/issues/104031 is complete and the existing `process` field has been deprecated from our ops metrics & /stats APIs, we'll need to remove it. This is necessary to support a multi-process Kibana as outlined in the clustering RFC: https://github.com/elastic/kibana/pull/94057

#

[2021-07-01 15:30] #96462 closed

[2021-07-01 15:34] thomasneirynck opened #104129 "[Maps] Top-term metric does not work for geo_shape layers"
Layers with a geo_shape field cannot get top-term metric. This is because maps constructs a composite-query for top-term aggs.

This is blocked by support for composite-aggs on geo_shape: https://github.com/elastic/elasticsearch/issues/60626.

[2021-07-01 15:34] elasticmachine commented on #104129
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 15:34] liciavale opened #104130 "[Uptime] Page layout is broken with new side nav"
The new EUI page layout including the collapsible side nav is causing the main container of the Monitors page to break.
We need to move to a single-column layout.

<img width="1104" alt="124141463-aeca6e00-da46-11eb-9084-43ddfaa0f01f" src="https://user-images.githubusercontent.com/8301088/124153991-f378f800-da8c-11eb-8d5b-815c13a566fa.png">

[2021-07-01 15:34] elasticmachine commented on #104130
Pinging @elastic/uptime (Team:uptime)

[2021-07-01 15:37] mshustov commented on #104100
We could require all the saved objects-related code to live in the `server/saved_objects` folder, for example. We might need to write an Eslint rule to enforce this rule across the repository.

`**/saved_objects/**` seems to be a valid syntax according to https://github.community/t/does-codeowners-support-double-asterisk-globs-can-it/531

Besides being able to review the migrations code, the Core

[2021-07-01 15:43] flash1293 commented on #84509
@stratoula IMHO we should keep the column split in Lens only - it's relatively complex and I would like to avoid maintaining two versions of it. Can we fix the rendering issues of multiple data grids somehow on the EUI side to make it equivalent to the old table implementation?

[2021-07-01 15:47] mdefazio commented on #80310
Here is an updated mockup with the follow changes:

- Create rule button is moved to page header per the new page layout guidelines
- Add a switch to the front of each row to quickly allow users to see and update whether the rule is enabled/disabled
- Add a column for last updated and default to this for sorting
- Truncate tags column
- Add a 'Schedule' column with indicators for 'Runs every', 'Ac

[2021-07-01 15:47] #103486 closed

[2021-07-01 15:49] stratoula commented on #84509
Yes for sure we don't want to also support this. I just wonder if it is also a blocker for potentially removing the old implementation. If yes, we have to raise it for 7.16

[2021-07-01 16:15] lizozom opened #104139 "[Search Sessions] Improve dashboard-editors workflow"
We have recently introduced the possibility to transfer a search session between a dashboard and visualization editors (lens, maps) to utilize search session caching for better loading.

However, since dashboard sessions are persisted, this may result in lots of search requests cached in each session.

We want to improve the workflow and one of the options brought up was to allow persisting search

[2021-07-01 16:15] elasticmachine commented on #104139
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-01 16:21] lizozom opened #104140 "[Tech Debt] Cleanup data plugin exports"
Make sure that anything exported from the data plugin and the new `es-query` package is actually used.

[2021-07-01 16:21] elasticmachine commented on #104140
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-01 16:33] lizozom opened #104142 "[Search Sessions] Improve performance coverage"
During testing week, we intend to charaterize additional performance test cases.
We also want to define clearer metrics to what counts as a success \ failure.

Test cases:
- [ ] Ensure no significant impact on key metrics:
  - [ ] Response times
  - [ ] Event loop delay
  - [ ] System load
  - [ ] Disk usage
  - [ ] # of concurrent users
- [ ] Ensure running many sessions/allowing cleanup task to

[2021-07-01 16:33] elasticmachine commented on #104142
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-01 16:36] lizozom opened #104143 "[Search Sessions] Item menu appears above flyout in Search Sessions management screen"
1. Go to search sessions manage screen
2. Open the item menu
3. Click Inspect
4. The menu is still open on top of the flyout

[2021-07-01 16:36] elasticmachine commented on #104143
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-01 16:43] spalger commented on #104042
I'll trigger a new ES snapshot build so we can validate that these tests aren't flaky anymore in a PR and get this unskipped to unblock 7.14 as quick as possible.

[2021-07-01 16:45] spalger commented on #104042
Interestingly though, these tests really only seemed flaky in master, maybe the 7.14 backport of the problematic change missed the new nightly ES builds.

[2021-07-01 16:45] stephmilovic opened #104147 "[Security Solution] Update any user facing copy: "index pattern" to "data view""
See https://github.com/elastic/kibana/issues/100844

[2021-07-01 16:45] elasticmachine commented on #104147
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-01 16:45] elasticmachine commented on #104147
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-01 16:46] #102476 closed

[2021-07-01 16:46] ymao1 commented on #97755
Submitted [a PR](https://github.com/elastic/kibana/pull/103539) for removing older event log indices from being managed by ILM, but @chrisronline correctly pointed out that while this would mean older indices would not roll over needlessly and create empty indices, they would also not age off after 90 days and they would stick around forever, which is not the behavior we want either.

Will investi

[2021-07-01 16:58] tsullivan commented on #103561
@flash1293 as Peter mentioned, we have already-planned work to add a new export type that does not store the URL but will use a versioned state object that can be converted into a deep-link URL at runtime. We planned on doing this as a solution towards not requiring the dashboard to be saved before creating a report. It turns out to be a convenient answer to preventing issues like this one with no

[2021-07-01 17:04] jportner opened #104152 "Move and refactor x-pack plugin code for Security and Spaces"
The Security team maintains several plugins:

* /src/plugins/security_oss
* /src/plugins/spaces_oss
* /x-pack/plugins/encrypted_saved_objects
* /x-pack/plugins/security
* /x-pack/plugins/spaces

Now that we are only shipping the Default distribution, we can refactor consumers to get rid of the security_oss/spaces_oss plugins. Optionally, we may move the existing plugins from the x-pack directory t

[2021-07-01 17:04] elasticmachine commented on #104152
Pinging @elastic/kibana-security (Team:Security)

[2021-07-01 17:06] flash1293 commented on #103561
@tsullivan I just tested and this is how it fails:
<img width="356" alt="Screenshot 2021-07-01 at 19 05 53" src="https://user-images.githubusercontent.com/1508364/124162970-64291000-da9f-11eb-8704-f5deddef4bc8.png">

[2021-07-01 17:07] #96101 closed

[2021-07-01 17:07] wylieconlon opened #104153 "[Lens] Expanded errors in editor are not scrollable and can't be copied to clipboard"
I just ran into a space issue in my local Elasticsearch instance that caused a huge error, and noticed that we aren't showing this in a "nice" way that would let me copy+paste the relevant text to find an error report.

<img width="495" alt="Screen Shot 2021-07-01 at 1 06 06 PM" src="https://user-images.githubusercontent.com/666475/124163034-2c08d980-da6d-11eb-8511-3204afa97b6f.png">

[2021-07-01 17:07] elasticmachine commented on #104153
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 17:11] thomasneirynck opened #104154 "[Maps] "no results found" is misleading"
The "no results found"-feedback in the layer-toc is misleading. What it really means is that there are no results in the current view and/or there are really no results.

![image](https://user-images.githubusercontent.com/1833023/124163328-c8e46a80-da9f-11eb-901f-02b523a5c705.png)

^ there are no results in the view. Clicking on the fit-to-data button will zoom to the data-bounds.

Other times, th

[2021-07-01 17:11] elasticmachine commented on #104154
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-01 17:19] droberts195 commented on #104042
Yes, you're right.  As of last night the problematic change was not in 7.14.  Ironically the ES test that picked this up failed often enough in the 7.14 backport PR to delay merging it.  It was eventually merged after adding the performance fix to it - see https://github.com/elastic/elasticsearch/pull/74829#issuecomment-872272004.

The inefficiency that causes timeouts has also been fixed in ES ma

[2021-07-01 17:34] lukeelmers commented on #104031
@joshdover @mshustov @pgayvallet Since we were discussing this topic in the RFC thread, WDYT about the proposed design here?

Is `processes[]` too confusing? Could also do `worker_processes[]` and `coordinator_process` or something along those lines.

[2021-07-01 17:36] tsullivan commented on #103561
@flash1293 could the app tell based on unversioned state in the URL that rendering will be a problem? If the app can detect an upcoming failure, it could signal that to Reporting by adding error text in an agreed-upon data attribute in a DOM element. Data attributes in the app have always been used to "talk" to Reporting.

1. Dashboard finds unversioned persisted app state in the URL.
2. It render

[2021-07-01 17:39] kevinlog opened #104159 "[Security Solution] Adjust text in Event Filters flyout header"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
We should adjust the text in the Event Filters flyout header

This is what it looks like today:
![image](https://user-images.githubusercontent.com/56395104/124166925-6d9b8380-da71-11e

[2021-07-01 17:39] elasticmachine commented on #104159
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-01 17:40] smith opened #104160 "[APM] Blank page when navigating to errors metadata"
Going to the metadata tab on an error occurrence makes the page go blank. Nothing is logged in the console.

![CleanShot 2021-07-01 at 12 37 07](https://user-images.githubusercontent.com/9912/124167280-7be5a180-da69-11eb-98e5-05827714c6d5.gif)

[2021-07-01 17:40] elasticmachine commented on #104160
Pinging @elastic/apm-ui (Team:apm)

[2021-07-01 17:50] flash1293 commented on #103561
I looked into the code and it seems like a panel can be turned into a proper "ErrorEmbeddable" by emitting an error in the output observable of the embeddable instance. The Lens embeddable could catch the error happening and do exactly that - the dashboard should handle it from there.

@ThomThomson Does this sound like a good approach? If yes I can open an issue for that, it's something that would

[2021-07-01 18:03] gmmorris commented on #95194
Bumped to 7.14 😬

[2021-07-01 18:05] kibanamachine opened #104174 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/saved_search_job·ts - machine learning anomaly detection saved search with lucene query job creation runs the job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15211/)

[2021-07-01 18:05] kibanamachine commented on #100183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15211/)

[2021-07-01 18:05] kibanamachine commented on #100184
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15211/)

[2021-07-01 18:08] chrisronline commented on #98902
Per https://github.com/elastic/kibana/issues/98902#issuecomment-860851209, we shipped everything we aimed to ship for the first phase of this effort so closing this ticket

[2021-07-01 18:08] #98902 closed

[2021-07-01 18:11] chrisronline commented on #97755
What if we applied a separate ILM policy for these indices? Something that just automatically deletes in the same period but doesn't have any rollover?

[2021-07-01 18:11] kobelb commented on #89584
Yup!

[2021-07-01 18:12] ymao1 commented on #98319
Closing as POC for rules registry V1 is complete. Will open new issue for actually migrating stack rules to the rule data service.

[2021-07-01 18:12] #98319 closed

[2021-07-01 18:14] ymao1 opened #104181 "Stack Rules alerts are not available as alerts-as-data"
# Problem Statement
Stack Rules do not currently utilise the rule data service to write their alerts out into alerts as data indices.
This means they can't take advantage of the RAC UX and workflows.

# Proposed Solutions
We could either wrap the Stack Rule executors with the rules data service provider or explore pulling the implementation of the rules data service into the framework so that all

[2021-07-01 18:14] elasticmachine commented on #104181
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-01 18:28] mvanderlee commented on #73283
You can use Scripted Field for this:
![image](https://user-images.githubusercontent.com/918128/124173000-e35b1b80-da80-11eb-99fc-9f05720ca9d8.png)

[2021-07-01 18:33] parkiino opened #104184 "[Host Isolation][Timeline] Make Isolation status a valid timeline draggable."
If an alert is an endpoint alert, there is an agent status row in the alert details. The values for that row show a draggable `Agent status` and `Isolation status` badge. Currently if a user were to drag these badges onto a new timeline, it would not filter anything because they are not available in the default indeces. We should add these two statuses to the elastic common schema so they are actu

[2021-07-01 18:34] elasticmachine commented on #104184
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-01 18:36] formgeist commented on #91412
Updated the description with the proposed settings redesign. This should give enough guidance for the initial implementation and we can iron out the details later on. cc @sqren @simitt

[2021-07-01 18:44] gmmorris commented on #88993
Removed Meta because it hasn't actually been broken down into other issues yet.
We don't count `meta` issues in our stats, as we want to constituent parts, which means this won't get counted at all.

[2021-07-01 18:47] formgeist opened #104185 "[APM] Bug: Latency correlations: Switch environment and transaction name around in the flyout header"
Kibana version: 7.14.0

# Summary

We typically order the sequence of service and environment together, so the order should be aligned here as well.

Service name | Environment | Transaction name

<img width="760" alt="Screenshot 2021-07-01 at 20 44 47" src="https://user-images.githubusercontent.com/4104278/124174948-419df380-daad-11eb-8fa6-894f8d79fa10.png">

cc @qn895

[2021-07-01 18:47] elasticmachine commented on #104185
Pinging @elastic/apm-ui (Team:apm)

[2021-07-01 18:47] elasticmachine commented on #104185
Pinging @elastic/ml-ui (:ml)

[2021-07-01 18:55] gmmorris commented on #86506
@sqren - mind checking if the above issue addressed this to your satisfaction? :)
If there are still edge cases that weren't covered by https://github.com/elastic/kibana/issues/83501 we can take another stab at it.

[2021-07-01 18:57] formgeist opened #104187 "[Uptime] Bug: Synthetics integration: Tags are moved over into the Supported TLS protocols combobox"
Kibana version: 7.14.0 & master

# Summary

I noticed that when setting up the synthetics package that the tags would for some reason also try to move into the support protocols section when adding or editing the integration.

<img width="733" alt="Screenshot 2021-07-01 at 20 52 21" src="https://user-images.githubusercontent.com/4104278/124175888-7199c680-daae-11eb-9adb-993f0aa2eeb9.png">

The inp

[2021-07-01 18:57] elasticmachine commented on #104187
Pinging @elastic/uptime (Team:uptime)

[2021-07-01 18:59] poffdeluxe commented on #83910
With the merge of [#99549](https://github.com/elastic/kibana/pull/99549), Canvas is now using the new ES client

[2021-07-01 19:00] alisonelizabeth commented on #104079
Thanks @liza-mae! This is due to an ES change and related to https://github.com/elastic/kibana/issues/103924.

Should be addressed by https://github.com/elastic/kibana/pull/104155.

[2021-07-01 19:11] formgeist commented on #103257
@dgieselaar made a comment in a recent sync that perhaps it would make sense to exchange the span type breakdown with a breakdown of the dependencies themselves. That would make the chart more valuable compared to the table underneath. cc @alex-fedotyev thoughts?

[2021-07-01 19:15] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/304/)

[2021-07-01 19:16] gmmorris commented on #75863
Does the existing `View in App` functionality not suffice?
It would appear on the rule details page when you navigate to a rule from Uptime.

What we wouldn't be able to do is send you back to uptime if you navigate to the rules table page, but I'm not aware of anywhere in Kibana where such an experience is provided (am I right @mdefazio ?)

[2021-07-01 19:19] spalger commented on #104042
Starting to see failures in 7.13? Was it backported that far back? How about the fix? The 8.0 snapshot has been updated, going to kick off rebuilds of all the snapshots in hops of stemming this flakiness from spreading too far into backports.

[2021-07-01 19:23] gmmorris commented on #74381
Worth discussing this issue further given this [comment](https://github.com/elastic/kibana/issues/50260#issuecomment-790825706) by @mikecote .

It sounds like there's a concern that exposing the version will lead to bad UX because the rule could easily be updated in the background by the system (when executing it) and that will likely clash with user's updating other parts of the rule SO.

TBH It

[2021-07-01 19:25] droberts195 commented on #104042
7.13 now has the fix.

However, unlike 7.14 there was a time when the 7.13 branch had the breakage but not the fix, so if you promoted a commit from this period it will cause this problem. If you can promote latest ES 7.13 that will fix it.

[2021-07-01 19:28] #101557 closed

[2021-07-01 19:48] pgayvallet commented on #83910
We're almost there!

We only got 3 plugins remaining:

@elastic/kibana-stack-management

- `index_management`

@elastic/endpoint-app-team

- `security_solution`
- `lists`

[2021-07-01 19:55] lukasolson commented on #92802
This is blocked on https://github.com/elastic/kibana/issues/104152.

[2021-07-01 19:58] #96121 closed

[2021-07-01 20:25] #90930 closed

[2021-07-01 20:25] pgayvallet commented on #104090
Solution `1.` seems the more realistic to me.

[code]

Why this `id` / `message` properties instead of just replicating the `i18n.translate` signature?

[code]

[2021-07-01 20:31] #102004 closed

[2021-07-01 20:31] #102122 closed

[2021-07-01 20:32] gmmorris commented on #70696
@mikecote Should we bring https://github.com/elastic/kibana/pull/86527 back in 7.16?

[2021-07-01 20:35] XavierM commented on #69029
@mikecote, yes we are

[2021-07-01 20:35] #69029 closed

[2021-07-01 20:36] cjcenizal commented on #101438
👍  Makes sense to me.

[2021-07-01 20:42] gmmorris commented on #66257
The idea was to do this one sooner than #66256 but that didn't happen, so closing this one as the other covers this as well

[2021-07-01 20:42] #66257 closed

[2021-07-01 20:48] #98280 closed

[2021-07-01 20:49] wylieconlon opened #104207 "[Lens] Can't set 0 decimal places on pie/donut/treemap chart types"
The likely cause of this bug is that 0 is falsy.

<img width="413" alt="Screen Shot 2021-07-01 at 4 48 14 PM" src="https://user-images.githubusercontent.com/666475/124187728-3dada980-da8c-11eb-80be-a18134020dd2.png">

[2021-07-01 20:49] elasticmachine commented on #104207
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 20:51] justinkambic opened #104208 "[Uptime] Certs header count can be incorrect for documents missing key field"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 91

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

We display a numerical value indicating the total number of certs monitored by the cluster. We do this using a `cardinality` aggregati

[2021-07-01 20:51] elasticmachine commented on #104208
Pinging @elastic/uptime (Team:uptime)

[2021-07-01 20:55] sqren commented on #86506
Hey @gmmorris

What I was hoping was that based on `actionVariables.context`:

https://github.com/elastic/kibana/blob/17443d0701f4f3e7dbbb95b54bda2275c7d849bc/x-pack/plugins/apm/server/lib/alerts/register_transaction_duration_alert_type.ts#L70-L79

I'd get suggestions for the context in `scheduleActions`:

https://github.com/elastic/kibana/blob/17443d0701f4f3e7dbbb95b54bda2275c7d849bc/x-pack/plugi

[2021-07-01 20:57] wylieconlon opened #104211 "[Lens] `false` is formatted as `0` in XY chart only"
This does not appear in any other Lens visualization type, only the XY charts.

Steps to reproduce:

1. Drag a boolean field into the main workspace
2. You'll see `0` and `true` as the labels.

This is probably caused by 0 being falsy.

<img width="996" alt="Screen Shot 2021-07-01 at 4 54 11 PM" src="https://user-images.githubusercontent.com/666475/124188507-579bbc00-da8d-11eb-8aab-abdec396ac98.pn

[2021-07-01 20:57] elasticmachine commented on #104211
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 20:59] wylieconlon commented on #104211
I bet this is actually a duplicate of https://github.com/elastic/kibana/issues/103869, the loose truthiness check would affect both places.

[2021-07-01 21:03] gmmorris commented on #58366
@peterschretlen any news on when this might be done? ;)

[2021-07-01 21:06] gmmorris commented on #58035
Given that we have not been able to prioritise work for an event Log UI prior to 8.0, should we consider keeping these as hidden indices rather than system indices?
I'm worries about power users not being able to debug issues using the event log.

Perhaps we can add some kind of deprecation notice on these indices that will allow us to switch them to system indices in 8.x?

[2021-07-01 21:07] wylieconlon commented on #77340
The sample dashboards mostly exist to show off the features of Kibana, so there's a mix of every feature that Kibana can do. Instead of focusing on *replacing* the existing panels 1-for-1 I think we should focus on *highlighting the new Lens features* in the sample data. For example, we can highlight the new table features, show a week over week comparison, or perform a filter ratio.

It might als

[2021-07-01 21:09] jbudz commented on #29670
Here's another failure: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3002/testReport/junit/UI%20Functional%20Tests/test_functional_apps_visualize__tsvb_chart%C2%B7js/Kibana_Pipeline___kibana_oss_agent___visualize_app__visual_builder_markdown_should_allow_printing_raw_timestamp_of_data/

[2021-07-01 21:11] jbudz commented on #29670
skipped
6.8: https://github.com/elastic/kibana/commit/5543eb5b0ea047279321bd56ea5e96cbbf88883e

[2021-07-01 21:12] elasticmachine commented on #29670
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 21:20] #102525 closed

[2021-07-01 21:21] myasonik commented on #10726
With https://github.com/elastic/elastic-charts/pull/1138 recently merging in Charts, we need to expose an advanced setting or something to turn this on in Kibana. But the first step is done!

[2021-07-01 21:23] #102117 closed

[2021-07-01 21:30] EricDavisX commented on #103563
I loaded up the latest 7.14 snapshot, fyi and it seems worse than before - I don't yet know if it is more Agent side interactions or just the Fleet / Logs-UI side, but I can't see the other datastreams in the Logs UI or in Fleet.  They are there in Discover tho.  : /

here is a movie showing a slightly differnt behavior.   just in case helpful.

https://user-images.githubusercontent.com/12970373/1

[2021-07-01 21:33] gmmorris commented on #49412
Thanks @cyrille-leclerc , it's worth noting this could be implemented by Rule types today, as the threshold isn't implemented at framework level (not all rules are threshold based).

[2021-07-01 21:37] wylieconlon opened #104222 "[Lens] Typing into the dimension label input is not stable"
Steps to reproduce:

1. Go to the Metric visualization type
2. Create any metric
3. Attempt to insert a totally new title into the text box, and then try to modify the middle of your existing title

Previously, we were able to determine which text changes were coming from local vs external sources, but something has caused a regression in this behavior. My theory here is that it's been caused by t

[2021-07-01 21:37] elasticmachine commented on #104222
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 21:46] ghudgins opened #104223 "[Lens] Mosaic / mekko vis type"
**Describe the feature:**
Expose mosaic from charts in Lens for all the great reasons in the charts PR: https://github.com/elastic/elastic-charts/pull/1113

**Describe a specific use case for the feature:**
(from the charts PR)

[2021-07-01 21:46] elasticmachine commented on #104223
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-01 21:52] wylieconlon opened #104224 "[Dashboard] Dropping a panel should not immediately open the edit title modal"
Steps to reproduce:

1. Drag a dashboard panel that contains a title
2. Drop the panel while the mouse is exactly over the title area- if you drop while the mouse is not directly over, it works as expected
3. The edit title modal will open because the `mouseup` event opens it, even though you didn't click the title.

![dashboard can't move without opening title](https://user-images.githubuserconte

[2021-07-01 21:52] elasticmachine commented on #104224
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-01 21:59] wylieconlon opened #104226 "[Dashboard][Layout] Very difficult to move panels upward in the layout, especially small panels"
Steps to reproduce:

1. On an existing dashboard like the flights sample data, add a new `Metric` type panel.
2. Shrink the panel to be very small, like a user who wants to have many metrics.
3. Attempt to drag the panel to the top of the dashboard

It appears that the autoscrolling behavior is not triggered in a way that is very intuitive, and it makes it very difficult to modify an existing dash

[2021-07-01 21:59] elasticmachine commented on #104226
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-01 22:11] kibanamachine commented on #93354
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15073/)

[2021-07-01 22:11] andrewkroh commented on #103944
On a related note in https://github.com/elastic/kibana/pull/104044 I'm removing the sub-seconds from `event.ingested` for Fleet integrations.

[2021-07-01 22:34] dominiqueclarke commented on #102651
@ruflin. Andrew is away for a few weeks. I am investigating the issue, but we'll likely need a beats contributor to investigate why the fields are not being indexed by heartbeat. Can we clarify the priority for this resolution? Is this needed for 7.14? That'll help us coordinate and figure out if we'll need to look for outside help while Andrew is away.

[2021-07-01 22:41] #102967 closed

[2021-07-01 22:49] kibanamachine opened #104231 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with no data loaded (ft_ml_poweruser_spaces) "before all" hook for "should display the ML entry in Kibana app menu""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15074/)

[2021-07-01 23:13] elasticmachine commented on #104231
Pinging @elastic/ml-ui (:ml)

[2021-07-01 23:13] elasticmachine commented on #93354
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-01 23:37] cjcenizal opened #104235 "Unify error reporting across Stack Management UIs"
## Problems

### Incompatible SectionError component

Index Management has its own [SectionError component](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/components/section_error.tsx). This component is incompatible with the [ES UI Shared SectionError component](https://github.com/elastic/kibana/blob/master/src/plugins/es_ui_shared/__packages_do_n

[2021-07-01 23:37] elasticmachine commented on #104235
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-01 23:38] cjcenizal commented on #104235
CC @elastic/kibana-core

[2021-07-01 23:56] cjcenizal opened #104236 "Modernize Index Management codebase"
The Index Management codebase contains tech debt in a number of areas that will impeded maintenance and the addition of future enhancements.

## Convert index list components to TypeScript

Most of the [index list components](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/sections/home/index_list) are JS. We need to convert these to TS.

## Convert

[2021-07-01 23:56] elasticmachine commented on #104236
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-02 00:12] cjcenizal commented on #56839
@yuliacech I believe your pagination work will address this, is that right?

[2021-07-02 00:14] cjcenizal commented on #95230
@cuff-links Great work on this! Can this be closed now?

[2021-07-02 01:37] #64473 closed

[2021-07-02 01:37] #103924 closed

[2021-07-02 01:37] #104079 closed

[2021-07-02 01:44] kaiyan-sheng opened #104241 "[Fleet] Granular integrations shows wrong README files"
**Kibana version:**
7.14 and 8.0.0

**Steps to reproduce:**
1. Build `aws` package locally 0.8.0 version using `elastic-package build` under `elastic/integrations/packages/aws`.
2. Run `elastic-package stack up --version 7.14.0-SNAPSHOT -d -v` to setup environment.
3. After the setup is finished above, go to Kibana and add integrations and click `AWS EC2` tile. You should see AWS EC2 specific docu

[2021-07-02 01:44] elasticmachine commented on #104241
Pinging @elastic/fleet (Team:Fleet)

[2021-07-02 02:46] geekpete opened #104242 "Provide a visual indicator in the UI for when Alerting cannot execute it's queries for it's alerts"
**Describe the feature:**

Provide a visual indicator that Alerts themselves are not currently able to function correctly when they're not able to run the necessary queries for any reason.
Such as a different color/icon wherever Alerts are displayed so that user can easily see if the overall Alerts functionality has a problem vs seeing the specific resource/thing being monitored has issues.
This m

[2021-07-02 02:54] geekpete commented on #104242
Also the errors were discovered by looking in the event log with:

[code]

showing entries like:

[code]

[2021-07-02 03:13] elasticmachine commented on #104242
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-02 04:03] anjanitsip opened #104243 "(Kibana -> Discover -> Reporting -> Generate & Download) How to format 'timstamp' field in CSV report"
**Kibana version**: 7.9.1

**Elasticsearch version**: 7.9.1

**Server OS version**:AWS

**Browser version**:crome

**Browser OS version**:Win10

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. We have store the logs in elastic search using fluentd. We are generating a r

[2021-07-02 06:07] kibanamachine opened #104244 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dev_tools/feature_controls/dev_tools_security·ts - console feature controls security global dev_tools read-only privileges "before all" hook for "shows 'Dev Tools' navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15223/)

[2021-07-02 06:20] kibanamachine commented on #90536
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/8/)

[2021-07-02 07:10] pgayvallet opened #104245 "[SO Migration] improve the overall log output"
In the previous minors, we already significantly improved the average log quality compared to the initial implementation (e.g #90279, #98890, #102478)

However, there is still plenty of room for improvement in this area.

The currently identified options are:

- Adding online documentation on the most common causes of errors and their solutions

In #103341 for example, when unknown document types

[2021-07-02 07:10] elasticmachine commented on #104245
Pinging @elastic/kibana-core (Team:Core)

[2021-07-02 07:12] cnasikas commented on #103464
@karanbirsingh-qasource Cases will not be enabled at 7.14 for observability.

[2021-07-02 07:13] subramanya2107 commented on #48579
Faced this issue after upgrading to 7.13 from 7.11, but after clearing heartbeat index and heartbeat Templates including legacy template and running heartbeat setup again, things are working

[2021-07-02 07:29] pgayvallet opened #104246 "[SO Migration] add an API to notify that a type is no longer used"
At the moment, if a SO type is no longer registered, it will cause the migration to the next version to fail, as we’re checking for unknown doc types during one of the migration’s preflight checks.

This already occurred once with the `tsvb-validation-telemetry` type in #95617

Our only workaround for now is to update an internal core variable containing an ES filter of all the documents we should

[2021-07-02 07:29] elasticmachine commented on #104246
Pinging @elastic/kibana-core (Team:Core)

[2021-07-02 07:32] pgayvallet commented on #92933
Linking to https://github.com/elastic/kibana/issues/104083 for the `Improving the migration performance` section

[2021-07-02 07:33] pgayvallet commented on #55406
Reopening, as this may be required for some of the possible enhancements we could implement.

[2021-07-02 09:20] elasticmachine commented on #104244
Pinging @elastic/kibana-security (Team:Security)

[2021-07-02 09:20] elasticmachine commented on #104174
Pinging @elastic/ml-ui (:ml)

[2021-07-02 09:40] dmlemeshko commented on #104243
Hi @anjanitsip

Please use [discuss.elastic.co](https://discuss.elastic.co/) to address questions about Kibana and other products. There is a chance that you will find a similar question with already mentioned solution. While answering the question on forum, we might confirm the issue and ask to report it.

As for your question I suggest to check this [comment](https://github.com/elastic/kibana/is

[2021-07-02 09:42] elasticmachine commented on #104098
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-02 09:43] elasticmachine commented on #103922
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-02 09:46] elasticmachine commented on #103891
Pinging @elastic/kibana-core (Team:Core)

[2021-07-02 10:21] kibanamachine opened #104247 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/cloning·ts - machine learning data frame analytics jobs cloning supported by UI form outlier detection job supported by the form navigates through the wizard, checks and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15227/)

[2021-07-02 11:05] kibanamachine opened #104249 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts - Uptime app with real-world data feature controls security no uptime privileges "before all" hook for "doesn't show uptime navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15228/)

[2021-07-02 11:51] elasticmachine commented on #90536
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-07-02 11:51] elasticmachine commented on #104247
Pinging @elastic/ml-ui (:ml)

[2021-07-02 11:51] elasticmachine commented on #104249
Pinging @elastic/uptime (Team:uptime)

[2021-07-02 12:01] anjanitsip commented on #104243
Hi Dima

Thank you for quick response -

I have tried to change the timestamp format using advanced settings -

'x' is Unix Millisecond Timestamp.
![image](https://user-images.githubusercontent.com/45783481/124269142-20dea800-db58-11eb-83c2-6b242a7a2094.png)

Change timestamp format reflects in the Kibana UI.

![image](https://user-images.githubusercontent.com/45783481/124269330-5e433580-db58-11eb

[2021-07-02 12:16] JiriMalina opened #104250 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-07-02 12:16] elasticmachine commented on #104250
Pinging @elastic/apm-ui (Team:apm)

[2021-07-02 12:16] #104250 closed

[2021-07-02 12:23] ssilvacris opened #104251 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-07-02 12:23] elasticmachine commented on #104251
Pinging @elastic/apm-ui (Team:apm)

[2021-07-02 12:24] ssilvacris opened #104252 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2021-07-02 12:24] elasticmachine commented on #104252
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-07-02 12:35] dej611 commented on #104251
Hi @ssilvacris , it seems this issue is lacking some information about the problem you found.
Can you expand on the current issue?

[2021-07-02 12:36] dej611 commented on #104252
Hi @ssilvacris , it seems this issue is lacking some information about the problem you found.
Can you expand on the current issue?

[2021-07-02 14:21] mshustov opened #104253 "Use non-minified packages in dev mode"
Packages under https://github.com/elastic/kibana/tree/master/packages folder are built and minified during `bootstrap` step.
When a developer runs Kibana in `dev` mode, the minified version of such a package will be used. It worsens DX since code is barely readable:
[code]
Also, some warnings for developers are trimmed and won't be emitted to the logs.

The developer should be able to run `dev` mo

[2021-07-02 14:21] elasticmachine commented on #104253
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-02 17:04] gmmorris commented on #92355
@mdefazio we would probably need some UX help here... it isn't quite clear to me what the alternative would be here, seeing as these buttons relate to the flyout as a whole rather than to any specific tab, but this seems to cause confusion for some users as they don't understand how this relates to the contents of the Test tab (arguably, it doesn't, as you're not saving anything).

[2021-07-02 17:10] gmmorris commented on #79060
@cnasikas looks like the related issues are done- can this issue close?

[2021-07-02 17:12] gmmorris commented on #73790
@mikecote - given [these docs](https://www.elastic.co/guide/en/kibana/master/alerting-setup.html#alerting-prerequisites) can this issue be closed now?

[2021-07-02 17:15] gmmorris commented on #64920
@mikecote - is any work actually needed here? Isn't this just the nature of how Kibana Platform works?

[2021-07-02 17:19] gmmorris commented on #36401
We have existing related issues for Kiban Alerting, so removing us from this Watcher specific issue to redue the duplication in our backlog. Thanks for notifying us CJ :)

[2021-07-02 17:21] gmmorris commented on #18375
@mikecote Do we need an equivalent issue for Kibana Alerting? 🤔

[2021-07-02 17:23] gmmorris commented on #18463
We have an equivalent issue in Kibana Alerting (tagged above by Patrick), so removing us from this Watcher specific issue to avoid duplicaiton.
Thanks for bringing this req to our attention.

[2021-07-02 17:46] ghudgins opened #104259 "[Lens] Time shift previous period"
**Describe the feature:**
Allow time shifts involving date histograms to be previous to the *overall* time period of the report:

If the date histogram is 30 second intervals and the report is "last 15 minutes" than "previous overall period" would be a 15 minute shift. Today "previous" time shifts when used on date histogram appears to shift back one previous _date histogram_ interval (30 seconds

[2021-07-02 17:46] elasticmachine commented on #104259
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-02 20:01] kibanamachine opened #104260 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/hosts·ts - apis SecuritySolution Endpoints hosts Make sure that we get First Seen for a Host with docValueFields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15095/)

[2021-07-02 20:24] gimmic opened #104261 "Add a little intelligence to query bar autocomplete(lookahead before autoadding closing parentheses)"
**Describe the feature:**
So, in my usual use cases I'm pulling a query value from another source and doing a wild query against our datasets to start discovery. This means either pasting values in or hand-jamming them, often multiple OR statements. When I've put the data in, I know I need to wrap it with parentheses so I'll add the trailing one _while I'm there_ then go back to add the leading pa

[2021-07-03 02:50] kibanamachine commented on #103252
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15102/)

[2021-07-03 04:57] peluja1012 commented on #101261
Hi @deepikakeshav-qasource could you please re-test. Fix was added by this PR https://github.com/elastic/kibana/pull/103491. Thanks!

[2021-07-03 16:21] gmmorris commented on #86949
Seems this hasn't repeated since Feb, so closing :)

[2021-07-03 16:21] #86949 closed

[2021-07-03 16:42] dgieselaar commented on #51963
[react-router v6 has first-class support for nested routes as config](https://reacttraining.com/blog/react-router-v6-pre/).

[Here's a POC for inferring params from routes](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4BYAKFEljgCo4UBnOLHPfYCAWhmbJUqMAJ5gkiCAFcYEgLxwA3lThwwKGAAsAXHGYwowAHYBzCpVVIANkhBIjMXcnQwAdM4wA5CABMk51TRNYCsfIiMAfidpWQBtAF0AtRQoFBBmKLZXABUxJAAeF

[2021-07-03 17:57] #103660 closed

[2021-07-03 23:46] kibanamachine opened #104265 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/nodes_mb·js - Monitoring app Elasticsearch nodes listing mb with only online nodes should filter for non-existent index"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15123/)

[2021-07-04 01:13] clintandrewhall opened #104266 "[expressions] Provide means to deregister an Expression construct, group of constructs"
When I published https://github.com/elastic/kibana/pull/104264 the functional tests failed because the Expressions Explorer was expecting `markdown`, a Canvas-supplied function, to be generally available.  While we've always discussed the concept of namespacing or otherwise "boxing" Expression functions, we're still hampered by _when_ a construct might be registered.

An idea that has occurred to

[2021-07-04 01:13] elasticmachine commented on #104266
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-04 02:48] kibanamachine opened #104267 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/logstash/pipeline_list·js - logstash pipeline list route next page button takes user to the second page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15126/)

[2021-07-04 11:23] #79060 closed

[2021-07-04 11:24] cnasikas commented on #79060
@gmmorris Of course!

[2021-07-04 14:50] fredriklengstrand opened #104268 "[TSVB] When sorting a table column it ignores the column filter"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Ubuntu 20.04.2.0 LTS (Focal Fossa)

**Browser version:** Safari 14.1.1

**Browser OS version:** MacOS 11.4 (Big Sur)

**Original install method (e.g. download page, yum, from source, etc.):** APT repository

**Describe the bug:** When sorting a TSVB table column it ignores any filter that has been applied to that

[2021-07-04 18:35] jasonrhodes commented on #98912
This conversation has moved into our architecture design document. I'll summarize the complete results of that discussion here ASAP and close this ticket.

[2021-07-04 18:49] jasonrhodes opened #104269 "[RAC] UX improvements for 7.15 alerts table in observability"
## Summary

We want to implement a few UX improvements for the alerts table that was merged with #103270.

## UX improvement task breakdown

- Columns and values [![GitHub issue/pull request detail](https://img.shields.io/github/issues/detail/state/elastic/kibana/105227)](https://github.com/elastic/kibana/issues/105227)
- Avoid "unknown" severity [![GitHub issue/pull request detail](https://img.sh

[2021-07-04 18:52] elasticmachine commented on #104269
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-04 18:56] jasonrhodes opened #104270 "TSVB rule type investigation / POC"
Investigate and implement a TSVB-backed rule type for mathematical expression-based conditions.

Users will be able to choose (and search) from a list of TSVB visualizations. Once they pick the visualization they can set thresholds per series. If the series has a terms aggregation, the threshold will be run on each split that's returned, similar to how group by works in the Metrics Threshold alert

[2021-07-04 18:57] elasticmachine commented on #104270
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-04 19:08] jasonrhodes commented on #104270
@simianhacker if you can flesh this ticket description out with your rough idea/ideas before you dive into working on it this week, that'd be a big help. Thanks1

[2021-07-04 19:14] jasonrhodes opened #104271 "[Stack monitoring] Add agent-compatible data stream patterns to data fetching patterns"
We currently search for data in `.monitoring-*` and `metricbeat-*`, but once packages are an option, we'll need to search against the correct `metrics-{dataset}-*` data stream pattern(s). And because we no longer plan to support `metricbeat-*` indices, we should remove that pattern from the search.

AC:
* metricbeat-* is removed from the search pattern for Stack Monitoring queries
* metrics-* is a

[2021-07-04 19:14] elasticmachine commented on #104271
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-04 19:14] elasticmachine commented on #104271
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-04 21:58] pgayvallet commented on #103891
From the provided var envs:

[code]

From the `fleet` configuration:

https://github.com/elastic/kibana/blob/3864fe1559281b4a2731e3a9439c501125e65669/x-pack/plugins/fleet/server/index.ts#L72-L76

`xpack.fleet.agents.fleet_server.hosts` is expecting an array, and only an array, which is not what was provided in your snippet.

It's not honoring it if the provided value is not an array.

That would b

[2021-07-05 06:00] karanbirsingh-qasource opened #104273 "[Fleet]Start Fleet Server Command under Add Agent is not getting formatted correctly in PowerShell"
**Describe the bug**
Start Fleet Server Command under Add Agent is not getting formatted correctly in PowerShell.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.

**Steps to Reproduce**
1.Go to Integrations.
2.Search for System integration.
3.Click on add Agent .
4.Fill in all required details.
5.Observed that flee

[2021-07-05 06:00] elasticmachine commented on #104273
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 06:04] elasticmachine commented on #104273
Pinging @elastic/fleet (Team:Fleet)

[2021-07-05 06:04] manishgupta-qasource commented on #104273
Reviewed & Assigned to @jen-huang

[2021-07-05 06:21] elasticmachine commented on #104268
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-05 06:21] stratoula commented on #104268
I am closing as a dupicate of https://github.com/elastic/kibana/issues/86728

[2021-07-05 06:21] #104268 closed

[2021-07-05 06:24] samratbhadra-qasource commented on #102607
Hi @kevinlog,

We tested this ticket & found that the issue is fixed on the 7.13.3 BC1 environment . Please find below the testing details:

**Build Details:**

VERSION: 7.13.3 BC1
BUILD: 42091
COMMIT: 41006
ARTIFACT: https://artifacts-api.elastic.co/v1/search/7.13.3

**Screenshot:**

![Screenshot (126)](https://user-images.githubusercontent.com/84007952/124425666-80ba9600-dd86-11eb-9028-af68a6d46

[2021-07-05 06:24] #102607 closed

[2021-07-05 07:10] deepikakeshav-qasource commented on #102488
Hi @MadameSheema,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Fixed**. "See all" is available when Endpoint Security Exception List added in multiple rules.

Build Details:
[code]

**Screenshot:**
![exception_list](https://user-images.githubusercontent.com/61860752/124425482-3cc79100-dd86-11eb-8011-604b616ab9fa.jpg)

![exception_see_all](https://user-images.

[2021-07-05 07:10] #102488 closed

[2021-07-05 07:19] deepikakeshav-qasource commented on #101261
Hi @peluja1012 ,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Fixed**. No error is displayed when click on "<" view details icon of alert for deleted rule.

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/124431460-ffff9800-dd8d-11eb-9dd2-d3115bbaae40.mp4

Hence, we are closing this ticket and marking as "QA Validate

[2021-07-05 07:19] #101261 closed

[2021-07-05 07:24] amolnater-qasource opened #104275 "[Fleet]: "0" written with Status dropdown filter under Agents tab."
**Kibana version:** 7.14.0 BC-1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-1 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab.
3. Observe "0" written with Status dropdown f

[2021-07-05 07:24] elasticmachine commented on #104275
Pinging @elastic/fleet (Team:Fleet)

[2021-07-05 07:24] amolnater-qasource commented on #104275
@manishgupta-qasource Please review.

[2021-07-05 07:24] flash1293 commented on #104223
This seems like an easy addition because it's similar enough to the existing partition charts we can make it a sub visualization type of the pie visualization (little additional work)

[2021-07-05 07:50] amolnater-qasource commented on #95039
Hi @EricDavisX
While testing on 7.14.0 Kibana Cloud environment BC-1 we have found this issue reproducible.
- No filter options are available under "Dataset" and "Log level" dropdowns under agent "Logs" tab.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/124431500-0e4db400-dd8e-11eb-9437-abc69067b0cf.JPG)

**Build details:**
[code]

Hence we are re-opening this issue.

Th

[2021-07-05 08:00] elasticmachine commented on #104244
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-05 08:15] stratoula commented on #101705
Note: This is also the reason that annotations don't work with runtime fields.

[2021-07-05 08:39] #102687 closed

[2021-07-05 08:48] samratbhadra-qasource opened #104276 "Wrong date shows in the tooltip if we hover on date under timelines tab."
**Describe the bug**
Wrong date shows in the tooltip if we hover on date under timelines tab.

**Build Details:**

Version: 7.13.3-SNAPSHOT
Commit: d19e726c3cf6c1d392ec05bd8b9d1b8b9c6fd617
Build number: 41006
Artifact: https://artifacts-api.elastic.co/v1/search/7.13.3-SNAPSHOT

**Preconditions**
Elastic 7.13.3-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
Navigate to the timeli

[2021-07-05 08:48] elasticmachine commented on #104276
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 08:48] samratbhadra-qasource commented on #104276
@manishgupta-qasource please review.

[2021-07-05 08:51] elasticmachine commented on #104276
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-05 08:52] MadameSheema commented on #104276
@samratbhadra-qasource can you please validate if this issue is happening on 7.14BC1 as well? Thanks :)

[2021-07-05 09:06] manishgupta-qasource commented on #104275
Reviewed & Assigned to @jen-huang

[2021-07-05 09:13] kibanamachine opened #104279 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/feature_controls/spaces_security·ts - Spaces app security feature controls global all base privilege can navigate to create new space page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15298/)

[2021-07-05 09:15] dikshachauhan-qasource opened #104280 "[Fleet] On-prem Instructions for setting fleet-server displayed under add agent flyout on cloud deployments"
**Kibana version:** 7.14 BC1 Kibana **Cloud-qa** environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana **Cloud-qa** environment should be available.

**Build Details:**
[code]
2. Any user defined policy having Fleet-server integration say 'test1' should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Fleet>Agents tab

[2021-07-05 09:15] elasticmachine commented on #104280
Pinging @elastic/fleet (Team:Fleet)

[2021-07-05 09:16] dikshachauhan-qasource commented on #104280
@manishgupta-qasource Please review

[2021-07-05 09:18] manishgupta-qasource commented on #104280
Reviewed & Assigned to @jen-huang

CC @EricDavisX

[2021-07-05 09:23] samratbhadra-qasource commented on #104276
Hi @MadameSheema ,

We tested this ticket on the latest 7.14.0 BC1 build and found that the issue still exist. Please find below the testing details:

**Build Details:**

VERSION: 7.14.0 BC1
BUILD: 42292
COMMIT: 071a74e02f82b79a4a10026b5c9e02d593112fd4
ARTIFACT: https://artifacts-api.elastic.co/v1/search/7.14.0

**Screenshot:**

![image (4)](https://user-images.githubusercontent.com/84007952/12444

[2021-07-05 09:30] #101482 closed

[2021-07-05 09:30] arisonl commented on #76316
@sqren @cyrille-leclerc noting the continuous user interest in this functionality.

[2021-07-05 09:43] flash1293 commented on #104222
This is happening because of the async state setting for datasources. After `onChange` is called, the debounce logic assumes there are no unflushed changes anymore: https://github.com/elastic/kibana/blob/e3c3b6f3347235b45eb4b6175a387bcd9d9ce13c/x-pack/plugins/lens/public/shared_components/debounced_value.ts#L36

However, as the state change is only submitted in the next tick, this isn't true anymo

[2021-07-05 09:45] mgiota commented on #104121
@katefarrar I had a look at the current issue and here are a few comments/things to take into consideration before moving into some suggestions I have:

- If user has Alerts enabled, we have even more columns (side bar plus 3 columns)

<img width="1582" alt="Screenshot 2021-07-05 at 11 22 17" src="https://user-images.githubusercontent.com/2852703/124448964-44396b00-dd83-11eb-9343-46efeab530ec.png"

[2021-07-05 09:48] weltenwort commented on #104118
@katefarrar, thanks for pointing this out.

Could you help me understand what you mean by "1 column-based" here? Isn't that already the case?

The log stream is not a table and it doesn't have a mobile layout. If we want to support it on mobile I'd suggest we track that as a separate effort (which will need some design work to figure out what the mobile experience is supposed to be like).

[2021-07-05 09:57] weltenwort commented on #104271
The `ui.logs.index` config setting defaults to `filebeat-*`, which is apparently used in the registration of the internal log source:

https://github.com/elastic/kibana/blob/e5954a65ac4164d4cde476a1fc422866f2cdb82f/x-pack/plugins/monitoring/server/config.ts#L32

[2021-07-05 10:06] sqren commented on #76316
@arisonl thanks for the feedback. We'll prioritize for 7.15

[2021-07-05 10:14] muskangulati-qasource opened #104283 "[Security Solution] Navigations are updated for the Administration Tab but the URLs still contain 'Administration'"
**Description:**
Navigations are updated for the Administration Tab but the URLs still contain 'Administration'

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Admin Tab
2. Observe the navigations are updated for the Administration Tab but the URLs still contain '

[2021-07-05 10:14] elasticmachine commented on #104283
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 10:14] elasticmachine commented on #104283
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-05 10:15] muskangulati-qasource commented on #104283
@manishgupta-qasource please review!

[2021-07-05 10:16] manishgupta-qasource commented on #104283
Reviewed & Assigned to @kevinlog

[2021-07-05 10:28] dasansol92 commented on #104159
PR: https://github.com/elastic/kibana/pull/104284

[2021-07-05 10:31] dasansol92 commented on #104283
Hi @muskangulati-qasource , following the conversation in [this issue](https://github.com/elastic/kibana/issues/104078#issuecomment-872161085) this is expected and will be fixed in next releases.

[2021-07-05 10:31] ppisljar commented on #103988
we are adding first implementation of `migrateToLatest` with the new URL
service and the plan was to provide the same functionality on embeddables.
yes we could do all migrations on the server and just expose and endpoint
for the client, but this won't be limited to embeddables only, we already
know there are expressions, visualizations, filters and queries and there
will be more.

On Thu, Jul 1,

[2021-07-05 10:39] ppisljar commented on #103561
another thing to note: if dashboard would be doing client side migrations this wouldn't be an issue cc @ThomThomson

[2021-07-05 10:55] muskangulati-qasource commented on #104283
Thank you for the update @dasansol92. We are closing this ticket!

[2021-07-05 10:55] #104283 closed

[2021-07-05 11:02] deepikakeshav-qasource commented on #103868
Hi @michaelolo24 ,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Not Fixed**. Alerts navigation is displaying in left navigation when navigate to Host > External alerts tab.

Build Details:
[code]

**Screenshot:**
![external alerts](https://user-images.githubusercontent.com/61860752/124461673-8b892100-ddae-11eb-9af5-51002e684582.jpg)

Hence, we are Re-Opening

[2021-07-05 11:09] paulb-elastic commented on #103640
Linking to https://github.com/elastic/kibana/issues/103643

[2021-07-05 11:22] elasticmachine commented on #104260
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 11:22] elasticmachine commented on #104265
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-05 11:23] elasticmachine commented on #104279
Pinging @elastic/kibana-security (Team:Security)

[2021-07-05 11:29] arisonl commented on #103258
@mikecote this is a bug I came across while testing the functionality and I do not think it blocks it but perhaps reduces flexibility.

[2021-07-05 11:33] dikshachauhan-qasource opened #104474 "[Fleet] Instructions for installing fleet-server agent are missing on Add agent flyout under Integration tab on cloud-qa deployments."
**Kibana version:** 7.14 BC1 Kibana Cloud-qa environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Any user defined policy having Fleet-server integration say 'test1' should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integrations tab.
	- Cli

[2021-07-05 11:39] dikshachauhan-qasource commented on #104273
Hi @jen-huang

We have observed that Add agent issue having on-prem instruction to set fleet server up is displayed on staging, Production and cloud-qa environments as first raised under https://github.com/elastic/kibana/pull/103550#issuecomment-872003327.

FYI
**Observations on Prod/staging env:**
- No default Fleet-server agent is installed under 'elastic agent cloud policy'.
- 'Edit deployment'

[2021-07-05 11:40] deepikakeshav-qasource commented on #99884
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Partially Fixed**. Long data for investigation is not truncate under the rule details page.

Build Details:
[code]

**Screenshot:**
**Long Data under investigation Guide**
![investigate](https://user-images.githubusercontent.com/61860752/124465595-38659d00-ddb3-11eb-8b3d-c0b8e27fa938.jpg)

**Inve

[2021-07-05 11:54] jloleysens commented on #99890
Returning to this issue after a while, I think we can revise the proposed approach given the short URL service. Per @timroes suggestion from a while ago:

The proposed flow would be the following (same step 1 & 2 as before)

1. Plugin (e.g., Dashboard) requests a new report, passing the serialize(able) state object (in the form of a locator object) through `share` which passes it to shared Reporti

[2021-07-05 12:06] dasansol92 commented on #104159
@kevinlog Regarding this, does the modal needs to be updated too? This is how it looks right now:

![Screenshot 2021-07-05 at 14 04 47](https://user-images.githubusercontent.com/15727784/124469016-1e6b9080-dd9a-11eb-8aed-e1f3535625db.png)

[2021-07-05 12:08] pzl commented on #104159
@dasansol92 for the sake of consistency, the modal should likely be changed, too. Good catch

[2021-07-05 12:09] joshdover commented on #91619
Duplicate of #96396

[2021-07-05 12:09] #91619 closed

[2021-07-05 12:10] dikshachauhan-qasource commented on #103634
Hi @jen-huang

We have retested it with 7.14BC1 cloud-qa build and found it **still reproducible on all the browsers**. Hence reopening.

**Build details:**
[code]

**Recording:**
https://user-images.githubusercontent.com/72375798/124469502-102c6d00-ddb8-11eb-8d9d-b4e4ee6e8fd3.mp4

Thanks
QAS

[2021-07-05 12:12] dasansol92 commented on #104159
Yeah, I'm wondering if we should keep it consistent with the event filters flyout or with the other exceptions modal:

Endpoint Exception:
![Screenshot 2021-07-05 at 14 11 23](https://user-images.githubusercontent.com/15727784/124469748-08120480-dd9b-11eb-8128-fc06344d1423.png)

Rule exception:
![Screenshot 2021-07-05 at 14 11 17](https://user-images.githubusercontent.com/15727784/124469774-106a3f

[2021-07-05 12:17] deepikakeshav-qasource commented on #103134
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC1 build and observed that issue is **Fixed**. Load Elastic prebuilt rules button is disabled after clicked.

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/124469494-0e62a980-ddb8-11eb-841b-91f75e20aa24.mp4

Hence, we are Closing this ticket and marking as QA Validated.

Thanks!!

[2021-07-05 12:18] #103134 closed

[2021-07-05 12:26] immavalls opened #104293 "[TSVB] Runtime fields not fully working with annotations"
**Kibana version:**
7.13.2

**Elasticsearch version:**
7.13.2

**Server OS version:**
N/A

**Browser version:**
N/A

**Browser OS version:**
N/A

**Original install method (e.g. download page, yum, from source, etc.):**
ESS / Elastic Cloud

**Describe the bug:**

When creating a TSVB, if the index pattern used for Annotations has a [runtime field](https://www.elastic.co/guide/en/elasticsearch/refe

[2021-07-05 12:27] dikshachauhan-qasource commented on #103266
Hi @jen-huang

While performing testing today, we observed that this issue is still reproducible on 7.14 BC1 Cloud-qa build.

**Build details:**
[code]

**Recording:**

https://user-images.githubusercontent.com/72375798/124471368-69959b80-ddba-11eb-98b3-25d756028954.mp4

We observed that commits to this build are 4 days older and done later after the feedback posted on above comment.

**Screenshot

[2021-07-05 12:28] elasticmachine commented on #104293
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-05 12:29] muskangulati-qasource commented on #103871
Hi @kevinlog,

We tested this ticket on the latest 7.14.0 BC1 build and found that the issue is now **fixed**. All the tabs show consistent status.

Please find below the testing details.

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/124466585-65ff1600-ddb4-11eb-9f1f-ad4b55b66ac8.mp4

Hence, closing this issue and marking it as "Validated".

[2021-07-05 12:29] #103871 closed

[2021-07-05 12:30] muskangulati-qasource commented on #103847
Hi @kevinlog,

We tested this ticket on the latest 7.14.0 BC1 build and found that the issue is now **fixed**.

Please find below the testing details.

**Build Details**:
[code]

**Screen Recording**:
![2](https://user-images.githubusercontent.com/60252716/124466793-9b0b6880-ddb4-11eb-9203-ab7994518564.JPG)

Hence, closing this issue and marking it as "Validated".

Thanks.

[2021-07-05 12:30] #103847 closed

[2021-07-05 12:30] MadameSheema commented on #104049
@karanbirsingh-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-05 12:30] muskangulati-qasource commented on #103379
Hi @kevinlog,

We tested this ticket on the latest 7.14.0 BC1 build and found that the issue is now **fixed**. We are able to view all the statuses on the UI clearly.

Please find below the testing details.

**Build Details**:
[code]

**Screenshot**:
![3](https://user-images.githubusercontent.com/60252716/124467064-f8071e80-ddb4-11eb-829d-ad60e8c52c9d.JPG)

Hence, closing this issue and marking it

[2021-07-05 12:30] #103379 closed

[2021-07-05 12:30] muskangulati-qasource commented on #102454
Hi @kevinlog,

Thank you for the update.

We are closing this issue and marking it as "Validated".

Thanks!

[2021-07-05 12:30] #102454 closed

[2021-07-05 12:30] muskangulati-qasource commented on #103060
Hi @kevinlog,

We tested this ticket on the latest 7.14.0 BC1 build and found that the issue is now **fixed**.

Please find below the testing details.

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/124470668-88476280-ddb9-11eb-8c00-6ca2f7637d91.mp4

Hence, closing this issue and marking it as "Validated".

Thanks.

[2021-07-05 12:30] #103060 closed

[2021-07-05 12:31] MadameSheema commented on #99884
@machadoum can you please take a look to the above? Thanks :)

[2021-07-05 12:37] joshdover commented on #104031
It'd probably make sense for the metricbeat implementation to simply ingest separate documents for each process and tie them together with `process.parent`. This seems more straightforward than having custom fields for subprocesses if it isn't supported by the spec (yet).

Array design seems like the general direction we want to go. For differentiating the process types, maybe we add a `type: 'coo

[2021-07-05 12:47] muskangulati-qasource opened #104295 "[Security Solution] The status after releasing shows 'Isolated' whereas it should show 'released'"
**Description:**
The status after releasing shows 'Isolated' whereas it should show 'released'

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Endpoint Tab
2. Isolate the host
3. After some time, release the host
4. Observe that after the 'releasing' status, the s

[2021-07-05 12:47] elasticmachine commented on #104295
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 12:47] elasticmachine commented on #104295
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-05 12:48] muskangulati-qasource commented on #104295
@manishgupta-qasource please review!

[2021-07-05 12:48] opheoHeidrich opened #104296 "[ML] File upload: Problems with parameters named Message"
**Kibana version:v 7.11.1**

**Browser version: Chrome Version 91.0.4472.124 (Offizieller Build) (64-Bit)**

**Describe the bug: illegal_argument_exception in "Visualize data from a log file"**

**Steps to reproduce: Importing a log of type .json with this content:**
{"@t":"2021-06-23T13:17:23.8248362Z","@mt":"Test message to help the auto mapping algorithm {Count}","Count":0}
{"@t":"2021-06-23T13

[2021-07-05 12:49] mgiota opened #104297 "[Logs UI][Test Scenario] Log threshold alerts (general)"
## Summary

This test scenario covers general log threshold alert functionality.

## Test requirements

Testing of alerting requires SSL. You can enable this with:

- `yarn start --ssl`
- `yarn es snapshot --ssl`
- `ssl.verification_mode: none` within the Filebeat configuration

There are also enhanced details here: https://github.com/elastic/observability-dev/issues/849#issuecomment-626770782.

#

[2021-07-05 12:49] elasticmachine commented on #104297
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 12:50] manishgupta-qasource commented on #104295
Reviewed & Assigned @kevinlog

[2021-07-05 12:53] arisonl opened #104298 "Audit logging data enhancements"
Users would like to have the following information available through the new Kibana audit logging:

- Username entered even in the event of a failed login (we currently only log it if the attempt is successful)
- Client hostname
- Client IP
- Client MAC address
cc @thomheymann

[2021-07-05 12:53] elasticmachine commented on #104298
Pinging @elastic/kibana-security (Team:Security)

[2021-07-05 13:07] kibanamachine commented on #103252
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15302/)

[2021-07-05 13:07] nchaulet commented on #104273
Looks like the new line option we use on unix `\` is not supported in powershell looks like it should be done with a backtick. Going to test that.

[2021-07-05 13:08] timroes commented on #104270
Just a note to that: If the alert is meant to communicate with the TSVB endpoint, please make sure it's using the index pattern mode of the API. We're currently moving TSVB over to only work with index patterns, and will at some point fade out usage of the legacy string based definition of index pattern, thus we should no longer consider any new features to rely on that mode.

[2021-07-05 13:08] flash1293 opened #104299 "Search session shown as in-progress when saved in complete state"
**Kibana version:** 7.14

**Describe the bug:** When saving a completed session from dashboard or discover and going to the search session UI afterwards, the session is shown as "in progress" for a while

**Steps to reproduce:**
1. Go to Discover
2. Wait for query to load
3. Open session UI
4. Save session
5. Click "Manage sessions"
6. Session is shown as in-progress

**Expected behavior:**
Sessio

[2021-07-05 13:08] elasticmachine commented on #104299
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 13:16] #104251 closed

[2021-07-05 13:27] MadameSheema commented on #103868
@deepikakeshav-qasource can you please take a look at this again when BC2 is available? thanks :)

[2021-07-05 13:29] jasonrhodes commented on #49412
@gmmorris who works on overall design + UX work for your team? We'll need a way to allow users to specify this information (different values of various variables), and I think we'll want that UX to be the same across any rule type, which means we'll need some amount of specification for which flyout we are opting into, perhaps, or params to specify that we are intending to do "resolution logic" or

[2021-07-05 13:30] #104252 closed

[2021-07-05 13:30] mandeepkaur-qasource commented on #99326
Hi @MadameSheema,

We have validated this defect on 7.13.3 BC2 and found that correct "Success toasters" are getting displayed on performing all the below mentioned actions:
1. On Deleting single Timeline.
2. On Deleting multiple timelines using Bulk actions.
3. On deleting single Template
4. On Deleting multiple timeline templates using Bulk actions.
5. On exporting Timeline/Template
6. On Import

[2021-07-05 13:31] jasonrhodes opened #104300 "[Alerting] [R&D] Investigate feasibility/UX of defining a separate resolution threshold for alert recovery"
In an executor for a rule type, we could technically allow the user to specify a different value for recovery than they do for triggering the alert state. To do this, we'll need to figure out how the UX would work and what values the user would need to specify in order to set their alert up in this way, and to give users these options without confusing users who don't want to opt into this type of

[2021-07-05 13:31] elasticmachine commented on #104300
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 13:32] jasonrhodes commented on #49412
I logged this as a placeholder ticket to look into this at some point, but it likely won't be something we look at until 7.16 or beyond. But we can have a few lightweight conversations in the meantime and document some thoughts.

[2021-07-05 13:32] mikecote commented on #85888
I will defer to @arisonl , I believe one of our error messages mentions the rule is disabled due to license and would wish to have a link from the error message to allow the user to upgrade their license.

[2021-07-05 13:34] sqren commented on #51963
Super cool @dgieselaar. Do we need to wait for react-router v6 to land before starting this?

[2021-07-05 13:36] dgieselaar commented on #51963
@sqren no, we can work with `react-router-config` in the meantime: https://github.com/elastic/kibana/pull/104274

[2021-07-05 13:38] mikecote commented on #70696
@gmmorris yup, adding it to triage

[2021-07-05 13:39] mikecote commented on #73790
@gmmorris correct, the comment [above](https://github.com/elastic/kibana/issues/73790#issuecomment-668168223) clarifies it.

[2021-07-05 13:42] mikecote commented on #64920
@gmmorris I think the question becomes "should the UI plugin be disableable?". We're already discussing "no" [here](https://github.com/elastic/kibana/issues/90934) for the alerting plugin which may result in the same for the UI plugin.

[2021-07-05 13:43] mikecote commented on #18375
@gmmorris I think so, but I haven't seen any ERs for this request yet.

[2021-07-05 13:43] flash1293 commented on #104299
Probably the same root cause - when clicking the "in progress" search session, it loads discover correctly but shows this toast:
<img width="363" alt="Screenshot 2021-07-05 at 15 42 05" src="https://user-images.githubusercontent.com/1508364/124480634-c3409a80-dda7-11eb-82d4-4a3c622ce988.png">

[2021-07-05 13:56] flash1293 opened #104302 "[Search Sessions] Improve error message if async search can't be recovered"
Search sessions are a Kibana level feature which creates saved objects to track meta information. The actual data is stored in the `.async_search` index in Elasticsearch. These two places have to be kept in sync which is done by tasks executed by the task manager.

However there are cases which can cause them to become inconsistent:
* Temporarily because the task interval is too long
* Manually de

[2021-07-05 13:56] elasticmachine commented on #104302
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 14:00] dasansol92 commented on #104159
@kevinlog Another question, should the confirm button says `Add Endpoint Event Filters` or just `Add event filters` ?
This was the initial mockup -> https://github.com/elastic/security-team/issues/945

FYI -> I'm going to merge the Pr with the changes on the flyout title and, if needed, I can create another one depending on your thoughts on this.

[2021-07-05 14:01] mistic commented on #103252
This test keeps failing and looks flaky, skipping for now.

master/8.0: 4a21a49
7.x/7.15: b795036

[2021-07-05 14:13] flash1293 opened #104304 "Dashboard: Search session title on newly created dashboard keeps "Editing ..." even after switching to view mode"
**Kibana version:** 7.14

**Describe the bug:** The search session title says "Editing < dashboard name >" even if the session was stored in view mode

**Steps to reproduce:**
1. Create a new dashboard
2. Save it
3. Switch to view mode
4. Open session menu
5. Save session
6. Saved is called "Editing < dashboard name >"

**Expected behavior:**
Should be called like the dashboard and nothing else

[2021-07-05 14:13] elasticmachine commented on #104304
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 14:13] elasticmachine commented on #104304
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-05 14:16] dasansol92 commented on #104159
Same question for the empty state page, should we change:
- `Add your first Endpoint Event Filter` by `Add your first event filter`
- `There are currently no Endpoint Event Filters on your endpoint.` by `There are currently no event filters on your endpoint.`
- `Add Endpoint Event Filter` by `Add Event Filter`

To be consistent with trusted apps?

![Screenshot 2021-07-05 at 16 15 52](https://user-

[2021-07-05 14:26] sqren opened #104307 "Remaining notable PRs"

[2021-07-05 14:27] #104307 closed

[2021-07-05 14:36] flash1293 commented on #104299
Duplicate of https://github.com/elastic/kibana/issues/88194

[2021-07-05 14:36] #104299 closed

[2021-07-05 14:40] flash1293 opened #104309 "[Search Sessions] cleanup error when navigating away from a loading dashboard without saving the session"
**Kibana version:** 7.14

**Describe the bug:** When navigating away from a dashboard which is currently loading without saving the session first, the document in `.async_search` gets deleted, but the search session saved object is still around - it will enter error state after a while because the current state can't be polled, then get cleaned up. While doing the cleanup, Kibana attemps to delete

[2021-07-05 14:40] elasticmachine commented on #104309
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 14:46] flash1293 opened #104311 "[Search Sessions] Saved object can be created even if `courier:batchSearches` is enabled"
**Kibana version:** 7.14

**Describe the bug:** It's possible to "save" a session even if `courier:batchSearches` is enabled which effectively disables the whole async search process.

**Steps to reproduce:**
1. Set `courier:batchSearches` in advanced settings
2. Go to Discover
3. Save the session
4. Go to session management
5. Sasved session with 0 searches "in progress" is shown

**Expected beha

[2021-07-05 14:46] elasticmachine commented on #104311
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 15:01] mikecote opened #104316 "[RAC][Epic] Readiness for shareability of rules and connectors"
### Epic Name
Readiness for shareability of rules and connectors

### Background
To support the shareability of rules and connectors at a future time in 8.x, we need to prepare the saved objects to be capable of sharing in a breaking manner. The 8.0 release is the only window we have to complete the work, and it does require research and development ahead of time.

### Success Criteria
Previously

[2021-07-05 15:02] elasticmachine commented on #104316
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-05 15:06] flash1293 opened #104317 "Panel can be added to restored session"
**Kibana version:** 7.14

**Describe the bug:** When looking at a dashboard within a restored session, panels can still be added

**Steps to reproduce:**
1. Go to dashboard
2. Save session
3. Go to session management
4. Open session
5. Add panel
6. Panel loads and toast is shown "Your search session is still running"

**Expected behavior:**
It should start a new session upon adding panels

**Scree

[2021-07-05 15:06] elasticmachine commented on #104317
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-05 15:06] elasticmachine commented on #104317
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 15:10] mikecote opened #104319 "[RAC][Epic] Breaking changes regarding alerting framework terminology"
### Epic Name
Breaking changes regarding alerting framework terminology

### Background
In 7.13, the alerting framework shifted visual terminology from `alerts` to `rules` (https://github.com/elastic/kibana/issues/90375) as well as our APIs, docs, etc. We have yet to cleanup features that needed to be supported during minor releases (ex: APIs). The 8.0 release is time to retire deprecated features

[2021-07-05 15:10] elasticmachine commented on #104319
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-05 15:15] mikecote opened #104320 "[RAC][Epic] Retiring deprecated alerting framework features"
### Epic Name
Retiring deprecated alerting framework features

### Background
Throughout 7.x, the alerting framework deprecated a set of features that are scheduled to be removed at a future time. The 8.0 release is the time to retire these deprecated features and address some tech debt.

### Success Criteria
No more deprecation warnings
Tech debt cleaned up from deprecated sections

### Related i

[2021-07-05 15:15] elasticmachine commented on #104320
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-05 15:19] mikecote opened #104321 "[RAC][Epic] Tightening up alerting framework access"
### Epic Name
Tightening up alerting framework access

### Background
We have some stable APIs that their access should be more restrictive. To do so, 8.0 is the only opportunity to make such a change.

### Success Criteria
APIs are respecting feature privileges.
Hidden indices are marked as hidden

### Related issues
- https://github.com/elastic/kibana/issues/58035
- https://github.com/elastic/ki

[2021-07-05 15:19] elasticmachine commented on #104321
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-05 15:23] flash1293 commented on #104309
Same thing happens when a session gets "stopped" - the async searches are cleaned up, but the session object sticks around.

[2021-07-05 15:34] daverick opened #104324 "rules of type `elasticsearch query` do not support `@timestamp` whose `format` is `epoch_millis`"
**Kibana version:**
7.13.2

**Elasticsearch version:**
7.13.2

**Original install method (e.g. download page, yum, from source, etc.):**
ECE 2.9.2

**Describe the bug:**
rules of type `elasticsearch query` do not support `@timestamp` whose `format` is `epoch_millis`:
When a rule of type `elasticsearch query` is active on an index whose `@timestamp` is  `format` is `epoch_millis`   , the next rule

[2021-07-05 15:58] ryankeairns commented on #101866
There's an unknown (to me) amount of outstanding work to establish a secure connection and supporting APIs. Here is the tracking issue which does not contain any recent updates: https://github.com/elastic/cloud/issues/67400

[2021-07-05 16:10] mikecote commented on #100671
I believe we can close this as the parent issue closed: https://github.com/elastic/kibana/issues/98902?

[2021-07-05 16:15] kmartastic commented on #80686
Should we close this @aaronjcaldwell ?

[2021-07-05 16:26] yuliacech commented on #56839
Thanks for pinging me, @cjcenizal!

@paulcoghlan We've recently added a limit of 1000 snapshots that can be displayed in the SLM UI (#103331) with newest snapshots being loaded first and a warning if more snapshots exist but can't be shown. This is a temporary measure to avoid any performance issues in the UI for clusters with a large number of snapshots. Once Elasticsearch API [changes](https://g

[2021-07-05 16:51] lizozom opened #104330 "[Search Sessions] Show chart starts a new search session"
1. Go to Discover
2. Save a search session that has some data.
3. Click hide chart
4. Session stays the same
5. Click show chart
6. New session starts

Expected result: session should stay the same

[2021-07-05 16:51] elasticmachine commented on #104330
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 16:53] #96053 closed

[2021-07-05 17:18] dej611 opened #104335 "[Graph] Request/Response Inspect code block is blank on first render until first click"
**Describe the bug:**

The request/response block is blank until first click for the first time the graph is rendered with new data/configuration.
Once rendered once also subsequent renderings are ok (even closing/reopening the inspector/save graph or recreating the graph with the same configuration). But fresh configuration leads to this.

<img width="772" alt="Screenshot 2021-07-05 at 19 14 50"

[2021-07-05 17:18] elasticmachine commented on #104335
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-05 17:20] lizozom opened #104336 "[Search sessions] shows two errors for a missing object"
Restoring a deleted \ wrong search session ID shows two errors.
![image](https://user-images.githubusercontent.com/3016806/124503487-96977d80-ddbd-11eb-82db-23f5861177b3.png)

Expected result: should show only one descriptive error.

[2021-07-05 17:20] elasticmachine commented on #104336
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-05 17:20] bhavyarm opened #104337 "Index management page is broken and doesn't display any indices"
**Kibana version:** 7.14.0 BC1

**Elasticsearch version:** 7.14.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Index management page is broken and displays error loading indices.

<img width="1792" alt="Screen Shot 2021-07-05

[2021-07-05 17:20] elasticmachine commented on #104337
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-05 17:33] cjcenizal commented on #104337
Fixed via https://github.com/elastic/kibana/pull/104155, ships with BC2.

[2021-07-05 17:33] #104337 closed

[2021-07-05 17:55] kertal opened #104339 "[Discover] Improve doc viewer table performance"
Follow up of #97649

When doc viewer table has to deal with lots of fields this leads to UI performance issues. Opening a doc in this view is no longer snappy. We initially intended to improve this by migrating to `EuiInMemoryTable` in #102149. But using the build in pagination leads to jumping UI issues when used in classic table (Because e.g. the page 2 can have a different height than page 1, a

[2021-07-05 17:55] elasticmachine commented on #104339
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-05 18:03] kertal opened #104340 "[Discover] Improve doc viewer table usability"
Follow up of: #97649
By migrating to `EuiInMemoryTable`, we could easily improve usability of the doc viewer table. Here's a screen of an advanced usage in EUI docs:

<img width="684" alt="Bildschirmfoto 2021-07-05 um 19 58 21" src="https://user-images.githubusercontent.com/463851/124506406-e0876000-ddcb-11eb-8daa-facd07a50f05.png">

We could this to provide e.h.

* Search for fields and values
*

[2021-07-05 18:03] elasticmachine commented on #104340
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-05 18:04] kertal commented on #97649
Closing in favor of #104339 and #104340, taking care of the the remaining issues

[2021-07-05 18:04] #97649 closed

[2021-07-05 19:00] kibanamachine opened #104343 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/overview_network·ts - apis SecuritySolution Endpoints Overview Network With filebeat Make sure that we get OverviewNetwork data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15166/)

[2021-07-05 19:05] elasticmachine commented on #104343
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-05 19:05] elasticmachine commented on #104343
Pinging @elastic/siem (Team:SIEM)

[2021-07-05 20:12] sqren opened #104347 "[APM] 7.14 Test plan"
# Test plan 7.14

**Road map goal:**

 - [ ] [Fleet, Elastic Agent and data streams](https://github.com/elastic/kibana/labels/apm%3Afleet) (Test scenarios: https://docs.google.com/document/d/114ymcNyG4DlaJFIY9ghFC8MdeWovf4mOXdkkjeipD6w/edit#)
 - [x] ~RAC~ (postponed)
 - [x] [~Metrics powered UI~](https://github.com/elastic/kibana/issues/103397)
 - [x] [Mobile APM UI](https://github.com/elastic/kib

[2021-07-05 20:12] elasticmachine commented on #104347
Pinging @elastic/apm-ui (Team:apm)

[2021-07-05 20:13] mgiota opened #104348 "[Logs UI][Test Scenario] New solution navigation for Logs pages"
## Summary

This covers the logs usage of the Observability page template.

Note: "Render correctly" is quite broad, we're really just looking to confirm things look okay. Try to check things like loading states, no data states etc.

⚠️ Please note there are ongoing discussions about responsive layouts right now.

## Testing

Either a cloud or local cluster can be used for these tests.

## Tests

[2021-07-05 20:15] mgiota opened #104349 "[Metrics UI][Test Scenario] New solution navigation for Metrics pages"
## Summary

This covers the metrics usage of the Observability page template.

Note: "Render correctly" is quite broad, we're really just looking to confirm things look okay. Try to check things like loading states, no data states etc.

⚠️ Please note there are ongoing discussions about responsive layouts right now.

## Testing

Either a cloud or local cluster can be used for these tests.

## Test

[2021-07-05 20:15] #103425 closed

[2021-07-05 20:15] elasticmachine commented on #104348
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 20:17] elasticmachine commented on #104349
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 20:24] dominiqueclarke commented on #104208
@justinkambic Are we aware of what may cause `tls.server.hash.sha256` to be undefined? Wondering what impacts this might have across the rest of the product, for example on TLS alerts in which we collapsed results based on this field.

[2021-07-05 20:33] ecezalp commented on #103949
closed by #103970

[2021-07-05 20:33] #103949 closed

[2021-07-05 21:00] mgiota opened #104353 "[Logs UI] [Test Scenario] Log threshold alerts (count configuration)"
## Summary

This test scenario covers `count` configurations for log threshold alerts.

## Test requirements

Testing of alerting requires SSL. You can enable this with:

- `yarn start --ssl`
- `yarn es snapshot --ssl`
- `ssl.verification_mode: none` within the Filebeat configuration

There are also enhanced details here: https://github.com/elastic/observability-dev/issues/849#issuecomment-6267707

[2021-07-05 21:01] elasticmachine commented on #104353
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 21:04] mgiota opened #104354 "[Logs UI] [Test Scenario] Log threshold alerts (ratio configuration)"
## Summary

This test scenario covers `ratio` configurations for log threshold alerts.

## Test requirements

Testing of alerting requires SSL. You can enable this with:

- `yarn start --ssl`
- `yarn es snapshot --ssl`
- `ssl.verification_mode: none` within the Filebeat configuration

There are also enhanced details here: https://github.com/elastic/observability-dev/issues/849#issuecomment-6267707

[2021-07-05 21:04] elasticmachine commented on #104354
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-05 21:14] #103834 closed

[2021-07-05 21:28] kevinlog commented on #104295
@muskangulati-qasource does the Isolate status eventually clear?

This may be due to the lag time that the Endpoint list encounters due to our transform.  This lag will speed up as we are increasing the intervals for the transform before we ship 7.14.

If the status does eventually clear, then we can look into what we can do to improve our pending logic.

fyi @paul-tavares @pzl @parkiino

What I b

[2021-07-05 21:31] kevinlog commented on #102875
@muskangulati-qasource could you try testing this one again with a BC build?  We've worked to improve some aspects of this bug, but we need more testing.

Most recently, I wasn't able to reproduce the issue, but I'd like to see if you're able to still reproduce the issue.

cc @ferullo @jrmolin

[2021-07-05 21:40] mgiota commented on #104354
**Regarding the UI warning**
I used a less than comparator and the warning indeed appeared but I would expect it to appear above the Query A and Query B sections. I had to scroll down to realize that the warning was indeed there.

Shall we consider moving it closer to the `Group by` section?

<img width="622" alt="Screenshot 2021-07-05 at 23 34 19" src="https://user-images.githubusercontent.com/28

[2021-07-05 21:48] kmartastic commented on #85824
Related: https://github.com/elastic/kibana/issues/68057

[2021-07-05 22:19] dominiqueclarke commented on #96560
Tooltip should also display the alert location, as it's otherwise difficult to tell which location the alert was triggered from. We should also consider how to display the anotation when the alert was triggered by in multiple locations at one time.

[2021-07-05 23:09] trentm commented on #102624
elastic/apm-agent-nodejs#2101 has been included in `elastic-apm-node@3.17.0` now, so Kibana could be updated to use that and the new [`disableSend: true`](https://www.elastic.co/guide/en/apm/agent/nodejs/master/configuration.html#disable-send) config option.

[2021-07-05 23:15] trentm commented on #101711
elastic-apm-node@3.17.0 supports `disableSend:true` for the "APM agents can be used without APM server" item now.

[2021-07-06 01:12] mistic opened #104362 "Failing ES Promotion: discover async search with scripted fields query return results with valid scripted field"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3026/testReport/ju

[2021-07-06 01:12] elasticmachine commented on #104362
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 01:18] mistic opened #104364 "Failing ES Promotion: context app discover - context - back navigation "before all" hook for "should go back after loading""
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3026/testReport/ju

[2021-07-06 01:18] elasticmachine commented on #104364
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 01:24] mistic opened #104365 "Failing ES Promotion: dashboard app using current data dashboard saved search embeddable highlighting on filtering works"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3026/testReport/ju

[2021-07-06 01:24] elasticmachine commented on #104365
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-06 01:28] mistic opened #104366 "Failing ES Promotion: discover app saved queries saved objects saved query management component functionality preserves the currently loaded query when the page is reloaded"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3026/testReport/ju

[2021-07-06 01:28] elasticmachine commented on #104366
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-06 02:27] kibanamachine commented on #93354
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/20/)

[2021-07-06 02:42] karanbirsingh-qasource commented on #103464
ok thanks @cnasikas for the update.

Closing this issue as feature not going for 7.14.0.

[2021-07-06 02:42] #103464 closed

[2021-07-06 02:58] mattkime commented on #84723
closing in favor of https://github.com/elastic/kibana/issues/91715

[2021-07-06 02:59] #84723 closed

[2021-07-06 03:05] mattkime opened #104367 "[index patterns] break index patterns out of data plugin into its own plugin"
The data plugin is too big. Lets break out the index pattern code into its own plugin.

[2021-07-06 03:06] elasticmachine commented on #104367
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 03:24] mattkime opened #104369 "[index patterns] Remove `any` type usage from index pattern code"
Index pattern code uses the `any` type in a number of places which removes type safety from typescript code. Lets fix this.

[2021-07-06 03:24] elasticmachine commented on #104369
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 03:40] mattkime opened #104370 "[index patterns] Refactor field list to no longer extend array class"
For historical reasons, the `IndexPattern.fields` property extends the array class. Its a bad practice because extending the array class can lead to a lot of unexpected results, particularly from native array methods. Most of the work will involve navigating changes to the code that depends upon this.

[2021-07-06 03:40] elasticmachine commented on #104370
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 05:29] MadameSheema commented on #103949
@deepikakeshav-qasource @mandeepkaur-qasource can you please validate the fix of this issue on the next BC? Thanks :)

[2021-07-06 05:35] MadameSheema opened #104371 "[Detections][Security Solution] Values are not populated on exceptions dialog"
**Describe the bug:**
- Values are not populated on exceptions dialog

**Kibana/Elasticsearch Stack version:**
7.14.0 - BC1

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Detections
- Exceptions

**Steps to reproduce:**
1. Create a rule
2. Generate alerts for that rule
3. Open the add exception dialog

**Current behavior:**
- The value list is not populated

<img wid

[2021-07-06 05:35] elasticmachine commented on #104371
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 05:37] MadameSheema commented on #104371
@peluja1012 @spong can you please help to prioritise this bug? for me is critical/high.

@deepikakeshav-qasource @mandeepkaur-qasource please take into consideration this during your testing.

Thanks :)

[2021-07-06 05:41] Bamieh commented on #104090
@pgayvallet Updated

[2021-07-06 05:55] azasypkin commented on #89287
That's correct, the same goes for the case when users use Kibana Docker image in a detached mode. Unfortunately, we don't have much details here yet, and are evaluating different options from not-requiring this secret during the first few minutes after Kibana starts, to guiding users where to get this secret from or relaxing certain requirements if Kibana uses private IP range to connect to ES.

W

[2021-07-06 06:09] kibanamachine opened #104372 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/reporting·ts - discover Discover CSV Export Generate CSV: new search generates a report with no data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15319/)

[2021-07-06 06:09] kibanamachine commented on #104372
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15319/)

[2021-07-06 07:12] muskangulati-qasource opened #104374 "[Security Solution] OS for Debian is saved as Windows for the Event Filter Tab"
**Description:**
OS for Debian is saved as Windows for the Event Filter Tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Debian Endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Host Tab
2. Select the Debian host
3. Go to the events tab
4. Add the event to the Endpoint Filter Event
5. Observe the entry is save

[2021-07-06 07:12] elasticmachine commented on #104374
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 07:12] elasticmachine commented on #104374
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-06 07:12] muskangulati-qasource opened #104375 "[Security Solution] Isolation is logged as failed although it is successful"
**Description:**
Isolation is logged as failed even though it is successful

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Endpoint Tab
2. Isolate the host
3. After some time, release the host
4. Observe that the activity logs show the isolation status as failure

[2021-07-06 07:12] elasticmachine commented on #104375
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-06 07:12] elasticmachine commented on #104375
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 07:13] muskangulati-qasource commented on #104374
@manishgupta-qasource please review!

[2021-07-06 07:13] muskangulati-qasource commented on #104375
@manishgupta-qasource please review!

[2021-07-06 07:28] manishgupta-qasource commented on #104374
Reviewed and Assigned to @kevinlog

[2021-07-06 07:29] mandeepkaur-qasource opened #104376 "[Security Solution][Enhancement] Import Rule modal should be made more user friendly"
**Description:**
[Enhancement] Import Rule modal should be made more user friendly.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be insta

[2021-07-06 07:29] elasticmachine commented on #104376
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 07:30] mandeepkaur-qasource commented on #104376
@manishgupta-qasource Please review!!

[2021-07-06 07:31] manishgupta-qasource commented on #104375
Reviewed and assigned to @kevinlog

[2021-07-06 07:33] manishgupta-qasource commented on #104376
Reviewed and assigned to @MadameSheema

[2021-07-06 07:33] stratoula opened #104377 "[Vislib] Remove font awesome usage"
We want to remove the usage of font awesome on vislib plugin.
Specifically:

- We have to remove the `fa-` icons and replace them with eui icons.
- Remove this line from the plugin `kibanaLegacy.loadFontAwesome();`

It is used in two files: https://github.com/elastic/kibana/blob/master/src/plugins/vis_type_vislib/public/vislib/lib/alerts.js#L39
https://github.com/elastic/kibana/blob/master/src/plu

[2021-07-06 07:33] elasticmachine commented on #104377
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 07:40] flash1293 opened #104378 "[Search Session] Saved object is created when changing time range or filters in Lens"
**Kibana version:** 7.14

**Describe the bug:** Lens is not exposing the session management UI - due to this no search session saved objects should be created

**Steps to reproduce:**
1. Go to Visualize library
2. Create new Lens visualization
3. Configure a chart (no search session saved object created so far)
4. Change the time range
5. Search session saved object created

**Expected behavior:**

[2021-07-06 07:40] elasticmachine commented on #104378
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 07:42] dasansol92 commented on #104374
Hi @muskangulati-qasource, do you have a running instance from we can try this events from Debian OS?

[2021-07-06 07:46] flash1293 opened #104379 "[Search Sessions] Dashboard session can't be saved when originating in Lens"
**Kibana version:** 7.14

**Describe the bug:** It's possible for a search session created in Lens to be used in Dashboard for caching purposes. However when this session is saved, it leads to an error state

**Steps to reproduce:**
1. Go to dashboard
2. Change time range
3. Edit Lens vis
4. Change time range while in Lens (starts a new Lens-bound session)
5. Save and go back to dashboard
6. Lens-

[2021-07-06 07:46] elasticmachine commented on #104379
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 07:48] pgayvallet commented on #104031
I would have used a map instead of an array here, but maybe it doesn't make sense? I admit I don't really have any precise idea on how the consumers are ingesting this data.

[code]

[2021-07-06 07:49] kibanamachine commented on #104372
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15179/)

[2021-07-06 08:00] flash1293 opened #104381 "[Lens] Can't change series color or axis side"
**Kibana version:** 7.14

**Describe the bug:** Trying to change the series color or axis side in the config panel doesn't work and causes console errors

**Steps to reproduce:**
1. Go to Lens
2. Configure xy chart
3. Try to change color
4. Color stays the same, error in the console

**Expected behavior:**
Color should change, no error

**Errors in browser console (if relevant):**
[code]

**Any ad

[2021-07-06 08:00] mandeepkaur-qasource opened #104382 "[Security Solution][Enhancement] Sub title text needs to be more specific on 'Threat Intelligence Card'."
**Description:**
[Enhancement] Sub title text needs to be more specific on 'Threat Intelligence Card'.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Ag

[2021-07-06 08:00] elasticmachine commented on #104382
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 08:01] mandeepkaur-qasource commented on #104382
@manishgupta-qasource Please review!!

[2021-07-06 08:02] karanbirsingh-qasource opened #104383 "[Security Solution]Incorrect Navigation on clicking any rule under Rule Monitoring"
**Describe the bug**
Incorrect Navigation on clicking any rule under Rule Monitoring

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Auditbeat should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Click on Rules under Detect.
3.Go to Rule Monitoring.
4.Click on any Rule let say
5.Observed that user

[2021-07-06 08:02] elasticmachine commented on #104383
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 08:06] elasticmachine commented on #104383
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 08:07] elasticmachine commented on #104376
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 08:08] elasticmachine commented on #104382
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 08:08] Ranakel commented on #14177
+1 , would be very useful

[2021-07-06 08:09] flash1293 opened #104384 "[Search Sessions] Extending multiple times only works when context menu is closed"
**Kibana version:** 7.14

**Describe the bug:** As long as the context menu of a search session stays open, the "Extend" action will always try to extend to the same target instead of extending further and further on multiple clicks

**Steps to reproduce:**
1. Save a search session (e.g. in discover)
2. Go to session management
3. Open context menu of session
4. Click extend
5. Confirm in modal
6.

[2021-07-06 08:09] elasticmachine commented on #104384
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 08:23] flash1293 commented on #104330
I'm not sure whether this is a bug or not - showing the chart actually changes the query (adding a date histogram aggregation)

[2021-07-06 08:24] manishgupta-qasource commented on #104382
Reviewed this issue ticket

[2021-07-06 08:25] manishgupta-qasource commented on #104383
Reviewed this issue ticket

[2021-07-06 08:27] flash1293 commented on #104143
Not really worth an additional issue, but the flyout is also scrollable even if there is no content (seems something has 100% height plus some margin):
![Kapture 2021-07-06 at 10 26 25](https://user-images.githubusercontent.com/1508364/124568008-c8075c00-de44-11eb-8d7a-ff68eec11751.gif)

[2021-07-06 08:28] ppisljar commented on #104266
1. functional tests of expression explorer failing because of change in canvas is a problem of those. they should not rely on markdown function being present imo.

2. still real plugins could depend on some functions another plugin registers. removing a function or changing a function is considered a breaking change. when function is changed migration can be provided, as can it when function is re

[2021-07-06 08:40] pgayvallet commented on #104235
We could, but the problem with TS error handling is that, by nature, you can't really be sure what your error's shape is, and you can't restraint a `catch` block to only specific error types, making any type of specialized-error-type-as-argument patterns potentially dangerous, as the caught error is `any` anyway, and would match anything.

So, even if we were to specialize the accepted input of `t

[2021-07-06 08:41] flash1293 opened #104385 "[Search Sessions] don't stay stable during upgrade"
**Kibana version:** 7.14

**Describe the bug:** Search session can't be restored after an upgrade form 7.13 to 7.14

**Steps to reproduce:**
1. Save sessions for discover/dashboard in 7.13
2. Upgrade stack to 7.14
3. Try to restore session
4. Additional requests are made

**Expected behavior:**
Session should be restored

**Any additional context:**
I'm not sure whether it's possible to really sol

[2021-07-06 08:41] elasticmachine commented on #104385
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 08:48] cnasikas commented on #102326
@karanbirsingh-qasource It should be fixed 🙂

[2021-07-06 08:57] mandeepkaur-qasource opened #104386 "[Security Solution]On clicking at 'Enable Module' button doc link gets opened up on the same window."
**Description:**
On clicking at 'Enable Module' button doc link gets opened up on the same window.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent

[2021-07-06 08:57] elasticmachine commented on #104386
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 08:58] mandeepkaur-qasource commented on #104386
@manishgupta-qasource Please review!!

[2021-07-06 09:02] przemekwitek opened #104388 "[ML] Cloning a transform with two `top_metrics` aggs doesn't work as expected"
**Kibana version:**
master

**Elasticsearch version:**
master

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Cloning a transform with two `top_metrics` aggs conflates two aggs into one.

**Steps to reproduce:**
1. Create a transform with two top_metrics aggregations:  first_ord

[2021-07-06 09:02] elasticmachine commented on #104388
Pinging @elastic/ml-ui (:ml)

[2021-07-06 09:06] mandeepkaur-qasource opened #104389 "[Security Solution]Red color warning is getting displayed if no events are present under 'Threat Intelligence Card'."
**Description:**
Red color warning is getting displayed if no events are present under 'Threat Intelligence Card'.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security an

[2021-07-06 09:06] elasticmachine commented on #104389
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 09:06] mandeepkaur-qasource commented on #104389
@manishgupta-qasource Please review!!

[2021-07-06 09:09] manishgupta-qasource commented on #104386
Reviewed & Assigned to @MadameSheema

[2021-07-06 09:10] manishgupta-qasource commented on #104389
Reviewed & Assigned to @MadameSheema

[2021-07-06 09:12] elasticmachine commented on #104386
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 09:12] elasticmachine commented on #104389
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-06 09:12] samratbhadra-qasource opened #104391 "[Security Solution][Cases] The save button is enabled if we made no changes in the description."
**Describe the bug**
The save button should be disabled if we made no changes in the description.

**Build Details:**

Version: 7.13.3-BC2
Commit: d19e726c3cf6c1d392ec05bd8b9d1b8b9c6fd617
Build number: 41006
Artifact: https://staging.elastic.co/7.13.3-2a16d0f1/summary-7.13.3.html

**Preconditions**
Elastic 7.13.3-BC2 environment should be deployed.

**Steps to Reproduce:**
Navigate to the cases ta

[2021-07-06 09:13] elasticmachine commented on #104391
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 09:13] samratbhadra-qasource commented on #104391
@manishgupta-qasource please review.

[2021-07-06 09:14] elasticmachine commented on #104391
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-06 09:15] timroes commented on #104377
@stratoula Does that still make sense, given that we're anyway removing vislib eventually once all implementations are switched over?

[2021-07-06 09:17] manishgupta-qasource commented on #104391
Reviewed this issue ticket

[2021-07-06 09:22] pgayvallet commented on #103841
FWIW, this will always be the case. Even if we were to expose a specific API to register upgrade hooks or function, these function would have to be implemented in a way that takes into account that multiples Kibana nodes can be performing the operation concurrently. There is currently no synchronization between Kibana instances, and no real way to acquire a 'lock' from ES. The SO migration algorit

[2021-07-06 09:26] afgomez opened #104393 "[Fleet] Fleet server host input on setup misbehaves with invalid inputs"
When the user first sets up fleet we ask for the Fleet server host.

## What happens?

* The placeholder looks like an actual value, and the user might just click on "add host", entering an invalid state
* The input becomes read-only and the user cannot enter a valid host.

https://user-images.githubusercontent.com/57448/124577196-51229100-de4d-11eb-8534-d4d92bb4b318.mov

* If the user types an in

[2021-07-06 09:26] elasticmachine commented on #104393
Pinging @elastic/fleet (Feature:Fleet)

[2021-07-06 09:26] elasticmachine commented on #104393
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 09:26] dgieselaar commented on #103841
@pgayvallet why will this _always_ be the case? We don't support rolling upgrades, no? So all instances go down, first one to upgrade takes care of the upgrade process, and only when successfully completed the other instances come back up (without executing the upgrade process). What am I missing here?

[2021-07-06 09:27] karanbirsingh-qasource commented on #104049
ok glo !!

[2021-07-06 09:29] dasansol92 commented on #104374
It seems there is no `host.os.name` in the endpoint event from this debian OS:

[code]
CC: @kevinlog @ferullo

[2021-07-06 09:33] dej611 commented on #104335
Can reproduce with Chrome as well: just create a new graph and pick only the datasource. Now click the `Inspect` button and 💥

[2021-07-06 09:34] Dosant commented on #104304
This would be a duplicate of https://github.com/elastic/kibana/issues/94586

[2021-07-06 09:34] #104304 closed

[2021-07-06 09:35] elasticmachine commented on #94586
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 09:38] dej611 commented on #95708
Can still reproduce with 7.14-BC1 on Chrome and Firefox.

<img width="1528" alt="Screenshot 2021-07-06 at 11 37 16" src="https://user-images.githubusercontent.com/924948/124578547-98f5e800-de4e-11eb-805b-f7e52cef3117.png">
<img width="1284" alt="Screenshot 2021-07-06 at 11 37 24" src="https://user-images.githubusercontent.com/924948/124578567-9d220580-de4e-11eb-80d5-4cd4970591f5.png">

Safari is o

[2021-07-06 09:39] karanbirsingh-qasource commented on #102326
Yes @cnasikas thank for the update now, user having  None Access to Case sub-feature have no access to cases at all .

Hence closing this issue and adding "QA:Validated" to it.

thanks !!

[2021-07-06 09:39] #102326 closed

[2021-07-06 09:44] flash1293 opened #104395 "[Lens] Improve Lens embeddable error handling"
Right now, an exception thrown during expression generation results in an uncaught exception and a blank panel without further information.

Instead, this error should be caught and rendered as a regular error like a configuration not validating properly, with appropriate `data-render-error` and `data-render-complete` attributes.

See https://github.com/elastic/kibana/issues/103561

[2021-07-06 09:44] elasticmachine commented on #104395
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 09:51] azasypkin opened #104397 "Cloud provider usage collector doesn't respect plugin's `stop` method"
## Summary

Noticed this while debugging jest integration tests:

It turned out that [CloudDetector](https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/src/plugins/kibana_usage_collection/server/collectors/cloud/detector/cloud_detector.ts#L58-L76) continues to probe cloud providers even after `KibanaUsageCollection` plugin is stopped. This prevents Jest from completing

[2021-07-06 09:51] elasticmachine commented on #104397
Pinging @elastic/kibana-core (Team:Core)

[2021-07-06 09:51] muskangulati-qasource opened #104483 "[Fleet] For a wrong fleet server URL, the UI shows both an error and a success message"
**Description:**
For a wrong fleet URL, the UI shows both an error and a success message

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Security Integration
2. Add the fleet setup URL
3. Observe for wrong URL, both success message and error are thrown on the UI

**Impacted Test case:**
N/A

**

[2021-07-06 09:55] mandeepkaur-qasource opened #104398 "[Security Solution]Security App' is getting displayed in 'View the Security App documentation' link present on 'Get Started with Endpoint Security' screen."
**Description:**
'Security App' is getting displayed in 'View the Security App documentation' link present on 'Get Started with Endpoint Security' screen.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environm

[2021-07-06 09:55] elasticmachine commented on #104398
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 09:56] mandeepkaur-qasource commented on #104398
@manishgupta-qasource Please review!!

[2021-07-06 09:56] stratoula commented on #104377
@timroes it depends on what we want to do with the `kibana_legacy` plugin. If we want to remove it on v8 we have to remove font-awesome from vislib.

[2021-07-06 09:59] karanbirsingh-qasource commented on #103437
Hi @cnasikas , do you have any updates on Kibana server not being whitelisted hence getting errors on pushing case with swimlane connector .

We have tested this on 7.14.0 BC1 Prod and it is still occurring.

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/124580363-aa022180-de6d-11eb-87c1-66c1605b1a0d.png)

c.c @MadameSheema @jonathan-buttne

[2021-07-06 10:04] manishgupta-qasource commented on #104398
Reviewed & assigned to @MadameSheema

[2021-07-06 10:06] mandeepkaur-qasource opened #104400 "[Security Solution] Endpoint security GA is displayed in beta version on 7.14."
**Description:**
 Endpoint security GA is displayed in beta version on 7.14.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be installed

*

[2021-07-06 10:06] elasticmachine commented on #104400
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 10:06] mandeepkaur-qasource commented on #104400
@manishgupta-qasource Please review

[2021-07-06 10:08] manishgupta-qasource commented on #104400
Reviewed & Assigned to @MadameSheema

[2021-07-06 10:09] #100865 closed

[2021-07-06 10:18] stratoula commented on #104377
After syncing offline with @timroes and @flash1293, font awesome from vislib will be removed when vislib plugin is removed.
As we don't plan to remove the kibana_legacy plugin before v8, I am closing this.

[2021-07-06 10:19] ghost opened #104403 "[Security Solution]Incorrect navigation 'Back to Detection Rule' on editing any rule from 'Alert' table"
**Description:**
Incorrect navigation 'Back to Detection Rule' on editing any rule from 'Alert' table

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic age

[2021-07-06 10:19] elasticmachine commented on #104403
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 10:19] lizozom opened #104404 "[Search Sessions] storeSearchSession can't be set from management"
The search sessions feature [uses a capability](https://github.com/elastic/kibana/pull/85846) called `storeSearchSession` to control whether search sessions can be saved in a space.
However, it seems like this level of granularity is no longer shown in management, rendering this code unusable.

Should this code be removed?

[2021-07-06 10:19] elasticmachine commented on #104404
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 10:19] mandeepkaur-qasource commented on #104403
@manishgupta-qasource Please review!!

[2021-07-06 10:23] flash1293 opened #104405 "[Search Sessions] Async searches have expiration date in a week when search sessions are disabled"
**Kibana version:** 7.14

**Describe the bug:** When search sessions are disabled via `xpack.data_enhanced.search.sessions.enabled: false`, async searches are still created and have an expiration date a week in the future. This can lead to a lot of accumulated async search documents.

**Steps to reproduce:**
1. Set `xpack.data_enhanced.search.sessions.enabled: false` in kibana.yml
2. Go to Discove

[2021-07-06 10:23] elasticmachine commented on #104405
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 10:23] mandeepkaur-qasource opened #104406 "[Security Solution]Incorrect page title 'Exception Lists' is getting displayed for 'Exception' page"
**Description:**
Incorrect page title 'Exception Lists' is getting displayed for 'Exception' page

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent s

[2021-07-06 10:23] elasticmachine commented on #104406
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 10:24] mandeepkaur-qasource commented on #104406
@manishgupta-qasource Please review!!

[2021-07-06 10:36] elasticmachine commented on #104372
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-06 10:38] dej611 opened #104407 "[Vega] Have better error messages for runtime field errors"
**Describe the feature:**

It would be useful to have some useful error message when a runtime field error happens on Vega visualization, to hint the user to the right direction to fix the problem.

In this case the runtime field definition used in the filter is not valid but all the Vega app is showing is this message:

<img width="1332" alt="Screenshot 2021-07-06 at 12 34 13" src="https://user-i

[2021-07-06 10:38] elasticmachine commented on #104407
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 10:43] mistic commented on #104372
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 9894205
7.x/7.15: 35aa759

[2021-07-06 10:54] mandeepkaur-qasource opened #104408 "[Security Solution]No 'Edit Rule Exception' option is present on the 'Exception List' page"
**Description:**
No 'Edit Rule Exception' option is present on the 'Exception List' page

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be

[2021-07-06 10:54] elasticmachine commented on #104408
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 10:56] mistic opened #104409 "Failing ES Promotion: discover app discover test query should reload the saved search with persisted query to show the initial hit count"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3027/testReport/ju

[2021-07-06 10:56] elasticmachine commented on #104409
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 11:01] #98112 closed

[2021-07-06 11:03] dikshachauhan-qasource opened #104411 "[Fleet] All integrations are not searchable through Global search bar."
**Kibana version:** 7.14 BC1 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Global search bar displayed in header section at center.
	- Search for 'Windows' 'Events' 'STAN''Okta' 'OS

[2021-07-06 11:03] elasticmachine commented on #104411
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 11:04] dikshachauhan-qasource commented on #104411
@manishgupta-qasource Please review

[2021-07-06 11:06] mistic opened #104413 "Failing ES Promotion: context app context link in discover "before all" hook for "should open the context view with the selected document as anchor""
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3027/testReport/ju

[2021-07-06 11:06] elasticmachine commented on #104413
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 11:08] dikshachauhan-qasource opened #104414 "[Fleet] Filtered results are not sorted under Global search bar."
**Kibana version:** 7.14 BC1 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Global search bar displayed in header section at center.
	- Search for 'type:package'.
	- Observe, results

[2021-07-06 11:08] elasticmachine commented on #104414
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 11:09] dikshachauhan-qasource commented on #104414
@manishgupta-qasource Please review

[2021-07-06 11:09] Dosant commented on #104367
@mattkime, have you already briefly looked at circular dependencies here and how would we resolve it?
I assume we would want to try making `data` dependant on `index patterns` and not another way around?

[2021-07-06 11:09] manishgupta-qasource commented on #104403
Reviewed & Assigned to @MadameSheema

[2021-07-06 11:09] manishgupta-qasource commented on #104406
Reviewed & Assigned to @MadameSheema

[2021-07-06 11:09] manishgupta-qasource commented on #104408
Reviewed & Assigned to @MadameSheema

[2021-07-06 11:17] dikshachauhan-qasource opened #104416 "[Fleet][Enhancement]: Icon for searched packages under Global search bar not shown"
**Describe the feature:**
when user search for any package using global search bar, icons for respective package is not shown up instead a blank area with package are displayed.

**Describe a specific use case for the feature:**
Displaying icons will give better UI experience to users and help them to identify package identically if have similar names.

**Screenshot:**
![image](https://user-images

[2021-07-06 11:18] elasticmachine commented on #104416
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 11:18] dikshachauhan-qasource commented on #104416
@manishgupta-qasource Please review

[2021-07-06 11:21] manishgupta-qasource commented on #104414
Reviewed & assigned to @jen-huang

CC @EricDavisX

[2021-07-06 11:21] manishgupta-qasource commented on #104411
Reviewed & assigned to @jen-huang

CC @EricDavisX

[2021-07-06 11:22] manishgupta-qasource commented on #104416
Reviewed & assigned to @jen-huang

CC @EricDavisX

[2021-07-06 11:46] joshdover opened #104418 "Add test that ensures that SO types are not removed"
Now that migrations fail fast when a document of an unknown type is detected (#101052), we need to be sure that plugins do not inadvertently remove an SO type without either:
- Registering the SO type as deprecated (depends on #104246); or
- Adding the type to the unusedTypesQuery: https://github.com/elastic/kibana/blob/d920682e4e341eb43a5561531c111821e8e56fd0/src/core/server/saved_objects/migrati

[2021-07-06 11:46] elasticmachine commented on #104418
Pinging @elastic/kibana-core (Team:Core)

[2021-07-06 11:50] mandeepkaur-qasource opened #104419 "[Security Solution]Links to dashboards are getting opened up with in same browser tab."
**Description:**
Links to dashboards are getting open with in same browser tab.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be installed

[2021-07-06 11:50] elasticmachine commented on #104419
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 11:50] mandeepkaur-qasource commented on #104419
@manishgupta-qasource Please review!!

[2021-07-06 12:08] narph opened #104423 "[Fleet] granular integrations show all data streams under one policy"
**Kibana version:** 7.14-SNAPSHOT

Testing with the Azure package:

- we see category list looks fine:
![image](https://user-images.githubusercontent.com/1900090/124597056-e415f800-de5a-11eb-8bbf-16097c8f0a2a.png)

- when trying to add only the Azure Active Directory logs then we see all data streams under the policy:
![image](https://user-images.githubusercontent.com/1900090/124597183-0f98e280-de

[2021-07-06 12:08] elasticmachine commented on #104423
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 12:13] mattkime commented on #104367
Yes, although I'm not 100% certain how this would work out. It would be good for the data plugin to expose the index pattern plugin for backwards compatibility but past that I would try to reduce dependencies between the two.

I'd try to leave `field formatters` alone, but I need to start on the work to really know.

[2021-07-06 12:17] thomasneirynck opened #104425 "[Maps] Log mapsettings and layer-list to the Inspector"
**Describe the feature:**

Add a tab to the Inspector that shows the current map-settings and layer-list config.

**Describe a specific use case for the feature:**

This would be developers using the MapsEmbeddable in their plugins. They can then create maps in the Maps-app, and see what kind of configuration is being built.

It would be similar to how the inspector has a tab for the Mapbox style-

[2021-07-06 12:17] elasticmachine commented on #104425
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-06 12:23] manishgupta-qasource commented on #104419
Reviewed & assigned to @MadameSheema

[2021-07-06 12:23] ghudgins commented on #104223
I see them as 2 distinct chart types but @markov00 & @monfera & @MichaelMarcialis should weigh in when they have time

[2021-07-06 12:25] mikecote commented on #100669
Moved to backlog since 7.14 is now complete and we didn't get enough time for this.

[2021-07-06 12:29] ogupte opened #104426 "[APM] Handle long running migration request state"
When calling the final migration request from the Schema settings page `'POST /api/apm/fleet/cloud_apm_package_policy'` it's possible this request can hang for a long time ~10-20s, so it's important to show the user that progress is happening with an intermediate “waiting” screen, rather than just a loading state in the modal window.
![image.png](https://zube.io/files/elastic/8cf99509b330e078838db

[2021-07-06 12:29] elasticmachine commented on #104426
Pinging @elastic/apm-ui (Team:apm)

[2021-07-06 12:32] simitt opened #104427 "[apm][fleet migration]Ensure that it is clearly called out that this is beta"
Ensure that the APM migration to datastreams clearly calls out that
* this step cannot be reverted
* the migration impacts how to configure apm-server and the resulting indices (data streams)
* on ECE additional steps are required (at least configuring TLS certs for succesful connection between APM Server and ES).
* no stack monitoring is available
* APM integration is in beta and does not have fe

[2021-07-06 12:35] lizozom commented on #98587
Resolved

[2021-07-06 12:35] #98587 closed

[2021-07-06 12:36] machadoum commented on #99884
Thank you for catching this bug. This PR is addressing the issue https://github.com/elastic/kibana/pull/104428

[2021-07-06 12:40] ogupte opened #104431 "[APM] Fixing visual bugs in APM Schema settings"
- [x] remove the "Schema" heading in the settings page, it's redundant with the selected tab
- [x] remove the info callout at the bottom since it's duplicated in the migration modal
- [x] set a min-width to the 2 centered cards of about 500px combined. In smaller width windows it becomes long and skinny.
![Screen Shot 2021-07-06 at 8.33.10 AM.png](https://zube.io/files/elastic/3954beddad083bcb3506

[2021-07-06 12:40] elasticmachine commented on #104431
Pinging @elastic/apm-ui (Team:apm)

[2021-07-06 12:43] michaelolo24 commented on #104406
Looks like this was recently fixed by @semd here https://github.com/elastic/kibana/pull/104161. Please confirm on the next BC

[2021-07-06 12:45] ogupte opened #104432 "[APM] Fix route permissions for APM Server to saves settings for fleet migration"
The route that saves APM Server settings for the fleet migration `'POST /api/apm/fleet/apm_server_schema'` returns a 403 Forbidden response when the APM Server calls it. It uses the same user / permissions as the agent configuration route (`'POST /api/apm/settings/agent-configuration/search'`) which works as expected.

[2021-07-06 12:45] elasticmachine commented on #104432
Pinging @elastic/apm-ui (Team:apm)

[2021-07-06 12:48] jguay opened #104433 "Export/import rule to update meta field kibana_siem_app_url"
**Describe the feature:**
At the moment, import/export a rule from one Kibana to another Kibana keeps the meta unchanged
The value for `kibana_siem_app_url` therefore no longer match the current Kibana URL
**Describe a specific use case for the feature:**
Basically the idea would be to rebuild the URL to current kibana space security application when rule is imported

[2021-07-06 12:48] kevinlog commented on #101863
@dasansol92 I agree with your assessment.  I don't think this is critical, we can investigate further for `7.15`.  We should address the inconsistency at some point.

[2021-07-06 12:51] flash1293 commented on #77530
Just discussed offline - As soon as timelion switched over to elastic-charts, we can use the same mechanism there and have Lens, TSVB and Timelion cursors sync.

[2021-07-06 12:51] muskangulati-qasource commented on #102875
Hi @kevinlog,

This issue is still occurring on the latest 7.14.0 BC1 build.

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/124599258-19364080-de83-11eb-9c5d-b2948533d623.mp4

Thanks!

[2021-07-06 12:51] muskangulati-qasource commented on #104295
Hi @kevinlog,

Yes, it clears out after some time.

Please let us know if anything is missing from our end.

Thanks!

[2021-07-06 12:52] muskangulati-qasource commented on #101706
Hi @kevinlog,

We tested this ticket on the latest 7.14.0 BC1 and found that issue is now **Fixed**.

Please find below the testing details:

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/124588349-52b47f00-de76-11eb-94e6-2aee67a32807.mp4

Hence, closing this issue and marking it as "Validated".

Thanks!

[2021-07-06 12:52] #101706 closed

[2021-07-06 12:52] dikshachauhan-qasource commented on #86171
Hi @jloleysens

While performing testing on https://github.com/elastic/kibana/pull/102227 feature merges, we have come up with following queries:

- Could you please confirm how a package is defined. Like Apache is accepted as package while Windows and other few integrations are not at global search bar with type:package filter.
- What are the expected inputs to hit search as a package. Aren't all

[2021-07-06 12:53] karanbirsingh-qasource commented on #103857
Hi @MadameSheema

we have validated this issue on 7.14.0 BC1 and found it fixed . Now Administration breadcrumb information is not showing .

**Build Details:**
Version: 7.14.0 BC1
Commit:071a74e02f82b79a4a10026b5c9e02d593112fd4
Build:42292

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/124603038-23f2d480-de87-11eb-96a1-eb624f53e45b.png)
![image](https://user-images.g

[2021-07-06 12:53] #103857 closed

[2021-07-06 12:53] kevinlog commented on #104159
@dasansol92

- `There are currently no Endpoint Event Filters on your endpoint.` by `There are currently no event filters on your endpoint.`
- `Add Endpoint Event Filter` by `Add Event Filter`

For this, we should be consistent with how the trusted apps empty state looks.

- `Add your first event filter`
- `There are currently no event filters on your endpoint.`
- `Add Event Filter`

[2021-07-06 12:54] narph opened #104434 "[Fleet] Listing data streams alphabetically should be optional"
**Kibana version:** 7.14

Atm , I noticed the data streams are ordered alphabetically. Is there any option to list them on a desired order?

![image](https://user-images.githubusercontent.com/1900090/124603092-79b48600-de61-11eb-9004-ab5dcf20f43d.png)

For example, I want to start with the default data stream which most users will use, or I would like to list related data streams close to each oth

[2021-07-06 12:54] elasticmachine commented on #104434
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 12:54] mukeshelastic commented on #104393
Thanks for catching the bug @afgomez. Makes sense to fix in this in 7.14.

[2021-07-06 12:58] muskangulati-qasource opened #104435 "[Security Solution] The Windows endpoint reported an alert in the user notification, but an Alert never came through to the Alerts tab"
**Description:**
The Windows endpoint reported an alert in the user notification, but an Alert never came through to the Alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. RDP to the Endpoint and download the eicar file from the link : https://www.eicar.org/?page_id=3950
2. Observe that the notificatio

[2021-07-06 12:58] elasticmachine commented on #104435
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 12:58] elasticmachine commented on #104435
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-06 12:59] ghudgins commented on #102753
similar request here - https://discuss.elastic.co/t/kibana-lens/277807 - "show focused values" (instead of all values) from TSVB. likely need a separate issue to track showing only focused value. good one to review for any tooltip design updates as well

[2021-07-06 13:06] elasticmachine commented on #104324
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-06 13:07] banderror commented on #100373
@jen-huang @nchaulet our users reported a similar (same?) issue in the community slack with the Sophos integration, see the [thread](https://elasticstack.slack.com/archives/CRGSUQC20/p1625257790114400). Could you please validate it's the same or a different one?

[2021-07-06 13:11] dikshachauhan-qasource commented on #98498
Hi @EricDavisX

We have validated features on 7.14BC1 and found it working fine.

Please find test cases execution under below mentioned test run.

- [New Feature test run](https://elastic.testrail.io/index.php?/runs/view/1950)

Thanks
QAS

[2021-07-06 13:15] karanbirsingh-qasource opened #104437 "[Security Solution]Error coming up on clicking create timeline template"
**Describe the bug**
Error coming up on clicking create timeline template

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Auditbeat should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Go to Timeline Template.
3. Click on Create Timeline Template button.
4. Observer that error came up on creating

[2021-07-06 13:15] elasticmachine commented on #104437
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 13:17] manishgupta-qasource commented on #104435
Reviewed & assigned to @kevinlog

[2021-07-06 13:17] dasansol92 commented on #104159
PR: https://github.com/elastic/kibana/pull/104438

[2021-07-06 13:18] manishgupta-qasource commented on #104437
Reviewed & Assigned to @MadameSheema

[2021-07-06 13:19] neptunian opened #104440 "[Stack Monitoring] [Test Scenario] Out of the box alerting"
# Summary

Stack Monitoring provides a set of out-of-the-box alerts, when choosing to create them from the menu. The default action for each alert is a server log and the action messaging is controlled by the Stack Monitoring UI code directly.

# 7.14 PRs

https://github.com/elastic/kibana/pull/102544
https://github.com/elastic/kibana/pull/101565
https://github.com/elastic/kibana/pull/103718
https

[2021-07-06 13:19] elasticmachine commented on #104440
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-06 13:24] deepikakeshav-qasource opened #104442 "[Security Solution] Error coming up when click on add endpoint exception."
**Describe the bug**
Error coming up when click on add endpoint exception.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Endpoint should be installed
3. Alerts should be generated say mimikatz.

**Steps to Reproduce**
1. Go to Security App.
2. Click on alerts tab.
3. Click More actions.
4. Click on Add endpoint

[2021-07-06 13:24] elasticmachine commented on #104442
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 13:26] flash1293 opened #104443 "[Lens] Dimension trigger color indicator does not update when color is changed"
**Kibana version:** master

**Describe the bug:** When changing the color in the dimension configuration flyout and closing it again, the color indicator in the dimension trigger is not updated. Refreshing the chart or changing the time range updates it.

**Steps to reproduce:**
1. Configure Lens bar chart
2. Change color of series to blue
3. Close flyout
4. Color indicator is still green

**Expec

[2021-07-06 13:26] elasticmachine commented on #104443
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 13:28] #104273 closed

[2021-07-06 13:36] lizozom opened #104449 "[Search Sessions] Discover restored session auto refreshes"
1. Go to discover
2. Setup auto refresh
3. Save the session
4. Restore the session from management
5. Autorefresh is still active

Expected result: Autorefresh should be inactive for restored sessions (like in dashboard)

[2021-07-06 13:36] elasticmachine commented on #104449
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 13:36] flash1293 commented on #104443
@dej611 I looks like this got introduced with https://github.com/elastic/kibana/pull/102186 - any idea how to re-run in the right place (when the visualization state changes) while not killing all the performance gains? Maybe we need to do a deep equality check on the output to keep the references stable?

[2021-07-06 13:41] manishgupta-qasource commented on #104442
Reviewed & assigned to @MadameSheema

[2021-07-06 13:44] michaelolo24 opened #104450 "[Security Solution][Analyze Event] - Zoom slider not properly aligned"
The zoom slider in the analyze event tool is not properly aligned:

![image](https://user-images.githubusercontent.com/17211684/124610772-c76bc700-de3e-11eb-86cd-7ac685f2099a.png)

![image](https://user-images.githubusercontent.com/17211684/124610681-b7ec7e00-de3e-11eb-95c4-5e4d6be5c760.png)

[2021-07-06 13:44] elasticmachine commented on #104450
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-06 13:51] dej611 commented on #104443
That's a tricky one. Will investigate it today to find out a possible solution to it. An equality check is a possible solution I guess, yes.
If not possible I guess we should pay the performance toll on this one, as I see a whole class of bugs may bubble up.

[2021-07-06 13:52] jbudz opened #104451 "[docs] Update --max-old-space-size documentation to reflect Node.js 12+"
https://nodejs.medium.com/introducing-node-js-12-76c41a1b3f3f

This update will configure the JavaScript heap size based on available memory instead of using defaults that were set by V8 for use with browsers. In previous releases, unless configured, V8 defaulted to limiting the max heap size to 700 MB or 1400MB on 32 and 64-bit platforms respectively. Configuring the heap size based on available

[2021-07-06 13:52] elasticmachine commented on #104451
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-06 13:53] katefarrar commented on #104121
Thanks for the thorough response @mgiota! We do have an issue open to fix the Metrics table here: https://github.com/elastic/kibana/issues/104119

The design team discussed this and in the short term, we think the simplest solution is to go to a one column layout and push Resources and Alerts below.

For 7.14, let's focus on the short term fix and the design team can work to address layout improve

[2021-07-06 13:53] adam-stokes commented on #103891
Just to add some more information, we did attempt to pass in a json string as well:

[code]

But this didn't seem to take as well, giving us same error message

[2021-07-06 14:02] mandeepkaur-qasource opened #104456 "[Security Solution]Collapse side navigation icon is missing for Security navigation."
**Description:**
Collapse side navigation icon is missing for Security navigation.

**Build Details:**
Version: 7.14.0 BC1
Commit: 071a74e02f82b79a4a10026b5c9e02d593112fd4
Build: 42292
Artifact Page : https://staging.elastic.co/7.14.0-8eba2f5f/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be instal

[2021-07-06 14:02] elasticmachine commented on #104456
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-06 14:04] katefarrar commented on #104118
@weltenwort apologies, that was a copy / paste issue. I updated the description.

The controls (search bar, customize, etc.) should all be wrapping so that they stack as the browser resizes instead of staying a fixed width.

[2021-07-06 14:04] #104160 closed

[2021-07-06 14:11] michaelolo24 commented on #104456
@mandeepkaur-qasource - It should be there. Can you please confirm it doesn't appear on hover over the side navigation panel? I see it still works in master currently

[2021-07-06 14:13] pgayvallet commented on #103841
This assumption is wrong unfortunately (would be way too easy). All Kibana instances are allowed to boot at the same time (this is a supported scenario)

[2021-07-06 14:17] Dosant commented on #104385
FYI: there is a hacky way to skip documents during migration: https://github.com/elastic/kibana/pull/96938 currently we skip non-persisted sessions, but we could skip all the sessions.

cc @ppisljar, this even doesn't look like a persistable state use-case 😮

[2021-07-06 14:21] businessK8T commented on #53933
hi @lkoniecz / @whomever ... we're seeing this issue again in 7.9.  is there another bug opened since the 7.4 fix?

[2021-07-06 14:21] Bamieh commented on #104397
We're sending requests in the background to check each provider. this happens [once](https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/src/plugins/kibana_usage_collection/server/collectors/cloud/cloud_provider_collector.ts#L22) on [setup](https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/src/plugins/kibana_usage_collection/server/plugin.t

[2021-07-06 14:24] mistic opened #104466 "Failing ES Promotion: discover app discover tab field data search php should show the correct hit count"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3032/testReport/ju

[2021-07-06 14:24] elasticmachine commented on #104466
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 14:30] gmmorris commented on #78981
After chatting with @aaronjcaldwell it sounds like https://github.com/elastic/kibana/pull/84751 addresses this need for the Maps team.

Do we think there's more to this beyond what we've already delivered?

[2021-07-06 14:30] lukeelmers commented on #89584
Next steps:
- Reach out to Kibana contributors to confirm which plugins need to be disable-able
- Move forward with changing config defaults

[2021-07-06 14:31] clintandrewhall commented on #104266
1.  I'll remove `markdown` from the Expression Explorer plugin.  That should allow my PR to pass CI.
2.  I think this is a flaw in the design.  If plugins share expression functions, they should be in a common package.  If a plugin wants to use another plugin's expression functions, they should be in `common` and registered by the consuming plugin.
3.  Code is not the problem, IMO... it's a runtim

[2021-07-06 14:32] mistic opened #104467 "Failing ES Promotion: dashboard app using current data dashboard view edit mode and preserves edits on cancel when time changed is stored with dashboard"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3031/testReport/ju

[2021-07-06 14:32] elasticmachine commented on #104467
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-06 14:36] narph commented on #104434
tested with an older version, I see this is implemented

[2021-07-06 14:36] #104434 closed

[2021-07-06 14:37] mistic opened #104469 "Failing ES Promotion: discover discover field visualize button should preserve query in lens"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3031/testReport/ju

[2021-07-06 14:37] elasticmachine commented on #104469
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-06 14:38] Bamieh commented on #99072
@joshdover not yet. We need to pass `i18n` into the `getDeprecation` function to enable people to use it.

[2021-07-06 14:44] Bamieh commented on #104124
The current `event_loop_delay` is not really useful since the delay is captured only at collection time rather than an ongoing process.

Our new event loop delay collector captures this metric more accurately in a histogram throughout the duration of the process. we might wawnt to rely on that approach or move it around if needed. Related: https://github.com/elastic/kibana/issues/98673

[2021-07-06 14:48] narph commented on #104423
closing this, the testig version is old

[2021-07-06 14:48] #104423 closed

[2021-07-06 14:50] mandeepkaur-qasource opened #104471 "test"

[2021-07-06 14:51] jloleysens opened #104472 "[Reporting] ILM migration callout should only be visible to users who can action it"
We added a callout to guide users to migrating their reporting indices to managed by the same ILM policy: https://github.com/elastic/kibana/pull/103853.

The callout should only be shown to users who have the ability to update index settings https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-update-settings.html#update-index-settings-api-prereqs.

[2021-07-06 14:51] elasticmachine commented on #104472
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-06 14:51] elasticmachine commented on #104472
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-06 14:52] narph commented on #104241
can reproduce this, it looks like it is redirecting to the main package and does not contain the `integration` query param in the url.

Right now when selecting the platform logs from azure package , url is http://localhost:5601/app/integrations#/detail/azure-0.5.0/overview.

Url should be http://localhost:5601/app/integrations#/detail/azure-0.5.0/overview?integration=platform

As a workaround for

[2021-07-06 14:56] jen-huang commented on #103634
@dikshachauhan-qasource From your recording it seems that this is not a Fleet-specific problem (observed the same in Endpoint). I still haven't been able to reproduce on my end. Can you or @manishgupta-qasource try a different machine?

[2021-07-06 14:57] jen-huang commented on #103266
@kpollich Can you take a look at this one?

[2021-07-06 14:57] semd commented on #104406
Yes, the navigation text will be "Exception lists", so it will be consistent with the page title

[2021-07-06 14:59] jen-huang commented on #104280
This is expected behavior. We allow users to add additional Fleet Servers on Cloud, if they wish, hence this showing when you have a policy with Fleet Server integration.

[2021-07-06 14:59] #104280 closed

[2021-07-06 14:59] #104471 closed

[2021-07-06 14:59] elasticmachine commented on #104474
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 15:01] aaronjcaldwell commented on #80686
Yes, this has been resolved. Thanks @kmartastic.

[2021-07-06 15:01] #80686 closed

[2021-07-06 15:02] jen-huang commented on #104474
@nchaulet Can you take a look at this one and double check how the instructions appear in Integrations for Fleet Server policies vs non-Fleet Server policies?

[2021-07-06 15:05] #103447 closed

[2021-07-06 15:10] flash1293 commented on #104385
Can we delete the async searches _and_ drop the search session saved objects?

[2021-07-06 15:15] KOTungseth opened #104482 "[DOCS] Revert settings tables into definition lists"
Summary
--
The kibana.yml settings are organized into tables, but this is creating issues instead of helping with readability.

Action
--
Revert the following pages into definition lists:
- [ ] [Configure Kibana](https://www.elastic.co/guide/en/kibana/master/settings.html) https://github.com/elastic/kibana/pull/132531
- [x] [Alerting and action settings in Kibana](https://www.elastic.co/guide/en/k

[2021-07-06 15:15] elasticmachine commented on #104482
Pinging @elastic/kibana-docs (Team:Docs)

[2021-07-06 15:15] KOTungseth commented on #102883
Replaced with https://github.com/elastic/kibana/issues/104482. Closing.

[2021-07-06 15:15] #102883 closed

[2021-07-06 15:22] elasticmachine commented on #104483
Pinging @elastic/fleet (Team:Fleet)

[2021-07-06 15:28] jen-huang commented on #95039
@amolnater-qasource, the options don't appear if there are no logs, that's what it looks like in your case. Is there another issue open for the lack of logs? If not, please open one. This is a different issue than what this original one was for.

[2021-07-06 15:28] #95039 closed

[2021-07-06 15:30] jen-huang commented on #102720
This is due to https://github.com/elastic/integrations/issues/953. Closing in favor of that.

[2021-07-06 15:30] #102720 closed

[2021-07-06 15:35] kevinlog commented on #104435
@ferullo FYI on this.  With EICAR for Windows, is the Alert still a Malware alert?  I need to check if the Alert is actually sent to ES or not.

[2021-07-06 15:36] jen-huang commented on #103563
@EricDavisX The filter options missing is a different issue. This happens when there are no agent logs at all.

[2021-07-06 15:36] simianhacker commented on #104270
@timroes Thanks for the head up, we are not planning on changing any of the TSVB functionality. Just giving users a way to set thresholds on metrics they've configured in TSVB.

[2021-07-06 15:39] #104388 closed

[2021-07-06 15:46] ferullo commented on #104435
Yeah, there should still be an alert written to Elasticsearch

[2021-07-06 16:05] kibanamachine commented on #50448
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15330/)

[2021-07-06 16:08] kevinlog commented on #104435
@muskangulati-qasource @ferullo I was able to generate the alert and see it in the Alerts UI.  You can see the reference to the eicar folder that I downloaded in the JSON in the UI.

![image](https://user-images.githubusercontent.com/56395104/124632796-a614d600-de52-11eb-99ef-7f885901024e.png)

Could you try testing this again?

[2021-07-06 16:25] joshdover commented on #103180
I believe they do support batches, but they call them [Speculative Checks](https://docs.mergify.io/actions/queue/#speculative-checks)

[2021-07-06 16:28] #98611 closed

[2021-07-06 16:47] TheRiffRafi opened #104503 "Kibana/APM - Document /api/apm/services endpoint"
**Describe the feature:**

Kibana makes a call to /api/apm/services and  this endpoint returns all services using APM for tracking. This API is currently not documented (we only document annotation endpoint).

The Kibana UI in 7.8 was itself using the API in this way to retrieve all services:

https://\<KIBANAURL\>/api/apm/services?start=2021-06-22T15%3A03%3A03.152&end=2021-06-22T15%3A18%3A03.152&

[2021-07-06 16:58] angorayc commented on #104403
I agree that's a bit confusing, I found that it's working like this in v13.2 as well, seems to be an expected behavior.

[2021-07-06 16:58] ppf2 opened #104506 "server.maxPayload* Kibana settings on Cloud"
Kibana [renamed the `server.maxPayloadBytes` setting to `server.maxPayload`](https://www.elastic.co/guide/en/kibana/current/settings.html) but we haven't updated Cloud to [accept](https://github.com/elastic/cloud/blob/master/scala-services/adminconsole/src/main/resources/settings/kibana/kibana.yml) this renamed setting.

![image](https://user-images.githubusercontent.com/7216393/124185169-78551900

[2021-07-06 16:58] elasticmachine commented on #104506
Pinging @elastic/kibana-docs (Team:Docs)

[2021-07-06 16:59] tsullivan commented on #100489
@jportner  Is there any plan to keep external references to saved objects working? Otherwise, this seems to indicate that any bookmarked URL to a dashboard will just be broken, correct?

When a user sets up automated reports, they copy a POST URL and paste it into their own Watcher definition or script that can be run with cron. The POST URL often contains references to objects by their ID. Is the